[2019-05-23 19:25] OneCyrus commented on #4413
i couldn't get to the stack trace as it happens outside of my code.

this is what i get in the console:
![image](https://user-images.githubusercontent.com/7747800/58280511-12323e00-7da1-11e9-8742-ce373e93c2d6.png)

and the diagnostic events:
![image](https://user-images.githubusercontent.com/7747800/58280594-3d1c9200-7da1-11e9-8a89-ed9e053dc2f5.png)

[2019-05-23 19:58] ahmelsayed commented on #4430
Opened https://github.com/Azure/azure-functions-docker/pull/107

[2019-05-24 00:07] ishepherd commented on #2617
I have read that this is coming, or already here?, like a few other improvements to App Insights integration that have gone in recently. (Just searching for the source I saw a month or two back.)

[2019-05-24 00:13] ishepherd commented on #2617
@jeffhollan Please have (whoever recently worked on app insights / functions integration) respond to this issue? I suspect it may be now "Done", but I can't remember where I read it.

[2019-05-24 01:12] miladghafoori commented on #4464
I have the same issue as well. In the context of a Function, an `ExecutionContext `object is injected from which I can access `FunctionAppDirectory `. It would be really helpful if a similar object is made available in the `FunctionsStartup` so that all configuration and DI can be done in the startup.

[2019-05-24 01:15] Arash-Sabet commented on #4464
It's a great idea to bake this approach in FunctionsStartup as @miladghafoori said.

[2019-05-24 04:18] sandeepiiit opened #4491 "What is the intention of AZURE_FUNCTIONS_ENVIRONMENT variable?"
#### Is your question related to a specific version? If so, please specify:
Function runtime v2
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
When running a C# function in Visual Studio, I notice that an environment variable called "AZURE_FUNCTIONS_ENVIRONMENT" is set to Development? How is this variable used? Is AZURE_FUNCTIONS_ENVIRONMENT to fu

[2019-05-24 08:17] kristianGNI commented on #2279
+1 Guid in POCO fails.

[2019-05-24 12:13] adobedoe opened #4551 "Azure Functions runtime slow since 2.0.12408.0"
**Describe the bug**
I have around 15k orchestration instances running daily with sub-orchestrators and many activity functions that was running very fast on sdkVersion=2.0.12382.  My function host had FUNCTIONS_EXTENSION_VERSION=~2 so it automatically took the latest version of the runtime.

I can see in App Insights that the execution time increased significantly when the runtime went to 2.0.124

[2019-05-24 13:16] gabrielbaptista commented on #4006
@fabiocav , we are getting this problem with EFCore 2.2.4 and NetCore 2.2.  Rolling back EFCore to 2.2.1, the problem ends, but it is kind of annoying discover that.

[2019-05-24 15:41] kyallanum opened #4494 "Custom attributes are not working in Azure Functions"
When using custom attributes in Azure Functions they evaluate once when the function is started, but after that each subsequent call does not evaluate the custom attribute. This has been tested on both local environment and the ARM environment. The goal is to have code such as:

`        [FunctionName("Function1")]`
`        [MyTest]`
`        public static async Task<HttpResponseMessage> Run([Htt

[2019-05-24 15:57] kyallanum commented on #4494
This is on a Function v1. Should it be on a Function v2 or does that matter?

[2019-05-24 16:11] sreevani2203 commented on #4389
Hi - Is there any mitigation for this issue?

[2019-05-24 16:49] sakibbinsharif opened #4545 "Build Pipeline Failed on Azure DevOps after updating to V 1.0.28"
After updating to V 1.0.28 build pipeline failed for us.
Solution is building without having any issue in local visual studio. Build starts to fail when the build agent tries to build in Azure DevOps.

received the following error from build agent log:
##[error]C:\Users\VssAdministrator\.nuget\packages\microsoft.net.sdk.functions\1.0.28\build\netstandard1.0\Microsoft.NET.Sdk.Functions.targets(74,5

[2019-05-24 18:30] #4389 closed

[2019-05-24 18:35] alrod commented on #4405
We do not have plans to support custom logging providers in functions currently. @fabiocav, correct me if I am not right.

[2019-05-24 18:38] alrod commented on #4397
@fabiocav, can you please comment.

[2019-05-24 18:48] fabiocav commented on #4397
The ASP.NET authentication and middleware pipeline configuration (injection/modification) is not (currently) a supported scenario. Flagging this as a feature request.

[2019-05-24 18:50] #3950 closed

[2019-05-24 18:58] fabiocav commented on #4405
That is actually supported with the new DI capabilities.
The documentation here shows the explicit registration of a logger provider: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

We're working on more detailed documentation for this scenario

[2019-05-24 19:29] ThomasArdal commented on #4405
@fabiocav It's perfectly fine to close this issue if it isn't something you are planning to work on. But for future views on this issue, I just want to point out that logging as described in the original question isn't supported with the current DI capabilities. Unless I've misunderstood something, you can only register a logger provider but not actually log to multiple locations, configure which

[2019-05-24 21:20] hjpsievert commented on #4006
I have had similar problems as other folks in this thread, trying to get UserManager and SignInManager to work on top of the standard ApplicationDbContext that you get from the VS template when you use Microsoft.AspNetCore.Identity. I get the Type error with the DBContext that others have pointed out with version 2.2.4 of Microsoft.EntityFrameworkCore and Microsoft.EntityFrameworkCore.SqlServer. T

[2019-05-24 22:25] espray commented on #4006
@hjpsievert - I have not gotten identity to inject correctly. Does `SignInManager<ApplicationUser>` inject correctly into your Function?

[2019-05-25 00:47] paulbatum commented on #1207
@SashaPshenychniy  more granular control is discussed in a few other issues:
https://github.com/Azure/azure-webjobs-sdk/issues/1680
https://github.com/Azure/azure-functions-host/issues/511

This is a capability we would really like to add to functions. Its mostly a question of priority compared to everything else in our backlog. But since this issue is about how many instances of your function app

[2019-05-25 02:37] mayoatte commented on #4411
@fabiocav

Here's an example scenario i ran into recently that i thought would be possible after the DI release.

I was trying to inject a scoped service (IExecutionContext) into a function filter (a singleton) via the delegate factory method (see screenshot below). But the IExecutionContext instance that is resolved in the function filter is different from the one resolved elsewhere (during the s

[2019-05-25 07:28] meixger commented on #4411
Related? https://github.com/Azure/azure-functions-host/issues/3399

[2019-05-25 17:10] hjpsievert commented on #4006
@espray Initially I thought it did, it certainly gets injected and you can inspect it when on a break point. However, when I checked after your question, I realized that the Context is not set and that means it is really not usable like that. `UserManager` works just fine, by the way, and connects to the Identity Database without problems.

I am experimenting with Azure Functions to possibly migra

[2019-05-25 17:23] espray commented on #4006
@hjpsievert doing the same thing. Running into the same problem. No solution yet. I have not tried Dynamic Authentication approach.

[2019-05-26 07:57] frnk01 opened #4498 "IoT Hub trigger - Higher epoch already exists"
I'm receiving a lot of exceptions in the applications insights log regarding epoch on a function app using the IoT Hub trigger. Is this something with the implementation of the trigger? Will it be able to cause data loss, or should all "missing" events be picked up on the next trigger run?

#### Investigative information
Error from AI logs:

[code]

Region: West Europe

[2019-05-26 16:34] jeffhollan commented on #4006
Thanks all - seeing this in my repro's as well.  If using Entity Framework Core today go with 2.2.3.  2.2.4 causes issues during service registration in startup.  Not sure why, but flagging this as it's come in a lot over the last few weeks.

/cc @fabiocav

[2019-05-26 19:53] espray commented on #4006
@hjpsievert we should move the Auth/Auth Identity conversation to #4485

[2019-05-26 20:27] hjpsievert commented on #4006
@espray makes sense, I saw that thread when I was looking for information

[2019-05-26 23:47] hjpsievert commented on #4485
@AnunnakiSelva I jumped over to this thread from [#4006](https://github.com/Azure/azure-functions-host/issues/4006). I have the same issue and am hoping that we get some resolution here. I was able to get ASP Idenity `UserManager` injected and working. `SignInManager`,  even though it gets injected, is missing the Context and cannot be used to sign a user in or out. @espray has this issue as well.

[2019-05-27 00:35] espray commented on #4485
[code]

`SignInManager` injection is fine.

This line results in the below error
`var signInResult = await _signInManager.PasswordSignInAsync(user, "password123456", false, false);`

![image](https://user-images.githubusercontent.com/5826764/58388932-c70b6b80-7fea-11e9-9f74-cc4db54a0545.png)

Calling `builder.Services.AddAuthentication();` results in the below error
![image](https://user-images.gi

[2019-05-27 04:16] hjpsievert commented on #4485
@espray  My error without `AddAuthentication `is a bit different, see screenshot, but the second error is identical.

![SignIn Error](https://user-images.githubusercontent.com/22375934/58394793-e6f65b80-7ff9-11e9-8529-27758ffdd9d7.PNG)
I use the same invocation:
`        var result = await _signInManager.PasswordSignInAsync(email, passWord, false, false);
`

My components are also very similar to

[2019-05-27 04:49] espray commented on #4485
For the HttpContext null exception
Take a dependency on `IHttpContextAccessor` then set it in your function `_httpContextAccessor.HttpContext = req.HttpContext;` Then you should get the `No authentication handler is registered` exception.

[code]

[code]

[code]

[code]

[2019-05-27 05:49] hjpsievert commented on #4485
@espray I have tried something very much like that, except I did not inject the `IHttpContextAccessor `, but instead simply set `_signInManager.Context = req.HttpContext;` which gave me the exact same  error as your first one, I have an existing SQL Server database with some test users, so I do not have to create one.

Here my Startup Class (you can see the lines for AddAuthentication commented ou

[2019-05-27 09:16] gabbsmo commented on #3493
We have the same issue. Ended up changing to App Service Plan with Always-on as a workaround.

[2019-05-27 09:47] MoimHossain commented on #3493
@kapoor1992

I can suggest a feasible workaround - well, that's what I have done to get my project move on.
I have stopped using the trigger in function, instead wrote a function app - that acts as "event grid listener" and then used the function URL as event grid change listener to the storage account. This is a bit more work but it works all the time (I would also claim it's a bit faster as well

[2019-05-27 10:15] devotedEmployee commented on #3493
we had the same issue as I commented above, then we changed the name of out function trigger connection string app setting, and moved all storage accounts (the function's internal SA and the one where the trigger queue lives on) to the same azure region and it started working. Azure support told me the region should not be a problem, so looks that our issues were caused by the app setting name of

[2019-05-27 15:07] pratap-dotnet commented on #3493
Consumption plan doesn't seem to be a good fit for production stage. We have been facing this intermittently when we deploy from CI/CD using azure cli. Once we redeploy using Visual Studio everything seems to work fine.

[2019-05-27 15:39] #1642 closed

[2019-05-27 17:09] espray commented on #4485
I think I got it. I used the Dynamic Schemes sample for adding Auth Schema at runtime. Then added the missing schema AddIdentity() would have added. I would assume to get 2FA working, adding the 2FA Auth schema and registering 2FA services, might do the trick.  Now that I understand this more, I wonder if I could get IdentityServer or OpenIddict working...

https://github.com/aspnet/AuthSamples/bl

[2019-05-27 19:16] hjpsievert commented on #4485
@espray Way to go! I tried your approach and at first it failed with this error:

![Authentication Error 2FA Enabled](https://user-images.githubusercontent.com/22375934/58435713-aee12e00-8076-11e9-8697-11c3a51dab4d.PNG)

Then I remembered that my Identity Database has 2FA enabled for this user. I share this database with the MVC Web API application I mentioned earlier. After I turned off 2FA at th

[2019-05-27 19:38] espray commented on #4485
I dont have 2FA project to test with. You will need to diff the AddIdentity() and AddIdentityCore(), then add the missing services, configuring the Options & adding Auth Schema. Below are the Options & Auth Schema.

[code]

[code]

[2019-05-28 03:43] hjpsievert commented on #4485
@espray Thank you for trying to help me getting this figured out. I think I followed all of your recommendations, but somehow I do not get past the scheme being registered properly, but the authentication handler still missing:

![Error with 2fa with diff services ](https://user-images.githubusercontent.com/22375934/58448976-854bf500-80be-11e9-812a-cba8225d03f7.PNG)

My modified Startup with the a

[2019-05-28 04:20] hypatia1729 opened #4598 "Typo in publish from VS"
Hi,

When publishing a .NET Core Functions V2 project from Visual Studio, the publish logs include the entry "`Overwritting extensions.json file with one from build`", in which the word overwriting is misspelt.

Cheers,
Sonja

[2019-05-28 04:43] Arnavion opened #4499 "Multiple Linux consumption apps sharing the same storage account interfere with each other"
I have two Linux function apps on the Consumption plan. Both have the same "script path" (path to dotnet core DLL) and are set to use the same storage account. The apps contain one timer-triggered function each with the same timer setting on both, so they almost always get started within milliseconds of each other.

I routinely see one app (let's call it `A`)'s functions start and complete success

[2019-05-28 04:50] Arnavion commented on #4499
On second thought, this should probably go in https://github.com/Azure/Azure-Functions Sorry for the noise.

[2019-05-28 04:54] Arnavion commented on #4499
Actually, that repo's issue template sends me back here, so I guess this is right after all. (Though this is more of a service-side issue that a problem with the function host.)

[2019-05-28 08:50] nero120 commented on #3745
Also experiencing this issue running Azure Functions v2. As much as I'm sure we all love paying to be your beta testers Microsoft, how about we see some hustle on this for our bucks if you please?

Exception:

[code]

Call stack:

[code]

[2019-05-28 11:19] AnunnakiSelva commented on #4485
@hjpsievert @espray   I came across this -->

 builder.Services.AddSingleton(new ClientCredentialsTokenRequest
            {
                Address = $"connect/token",
                ClientId = "ClientId",
                ClientSecret = "ClientSecret",
                Scope = "Scopes"
            });

            builder.Services.AddHttpClient<IIdentityServerClient, IdentityServerClient>(client

[2019-05-28 12:00] BKB503 commented on #3869
@mathewc we are also having same issue in production, after restarting the function app it is picking up all the queued blob triggers, is some thing to memory issue? how can we diagnose this problem, function app is showing running status but not picking the blog triggers, please share your views

[2019-05-28 12:10] michelpf commented on #3835
I was managed to make it work at this point, but now I got:
[code]

Any clues?

[2019-05-28 12:53] BKB503 opened #4500 "Function app not triggered by blob"
#### Investigative information

Please provide the following:

- Timestamp:2019-05-25T01:29:20.935 (Last run)
- Function App version (1.0 or 2.0):V2
- Function App name:
- Function name(s) (as appropriate):TransferFile
- Invocation ID:931945c7-7059-45ac-a187-f2386f2c25f4 (After restarting)
- Region:North Europe
I have provided the invocation Id after restarting the app it might be different before

[2019-05-28 14:16] brettsam commented on #3386
@marshall76963 (and others still having issues when using Micrsosoft.Net.Sdk.Functions 1.0.28) -- can you try running a build without your custom build targets, and add the "/bl" flag to the build command line? That will generate an msbuild.binlog file. If you could email that to me (my microsoft email is in my github profile), that'd give us a better picture as to what's going on.

[2019-05-28 14:26] brettsam commented on #4389
The only real mitigation means that cold start will get worse. Set an app setting with `WEBSITE_USE_PLACEHOLDER` to `0`, which will remove any placeholder logic that we use (which is where the problem is).

[2019-05-28 14:28] rkbalu commented on #4389
@brettsam Is this fix released?

[2019-05-28 14:37] brettsam commented on #4389
No -- it'll be part of the release after https://github.com/Azure/azure-functions-host/releases/tag/2.0.12493. I hope to kick that release off later this week.

[2019-05-28 14:46] ttalwar1 commented on #3784
question for Fabio's workaround:   any ETA on a fix?  Also can you please explain where the above goes in the project file?   Is this the function that is triggered by the queue?  We're working on a customer demo for Function/Queues and this is blocking....thank you.

[2019-05-28 14:50] oatsoda commented on #3994
@mathewc Will this be in v1 and v2 of the host runtime or just v2?

[2019-05-28 15:19] fabiocav commented on #4405
@ThomasArdal that's fair. A lot of what you've mentioned above is supported and we're lacking documentation on how to do that with what is currently exposed. Can you clarify your distinction between registering a logger provider and logging to multiple locations?

I'll reopen that as requested so we can track the documentation updates and any other potential work.

[2019-05-28 16:30] ThomasArdal commented on #4405
@fabiocav Great. I'll look out for the documentation. I was looking to do something like this, which either isnt't supported or I cannot get to work:

[code]

[2019-05-28 16:45] jeffhollan commented on #2366
Here's another blog post detailing using entity framework core with Azure Functions https://dev.to/azure/using-entity-framework-with-azure-functions-50aa

[2019-05-28 16:45] #2366 closed

[2019-05-28 16:53] mathewc commented on #3994
ARM APIs will work regardless of version

[2019-05-28 16:55] jeffhollan commented on #4006
Moving to a P1 as the reason is the hosting platform today is running .NET Core 2.2.3, and the local tools use a self-contained build as well on 2.2.3 currently.  So this won't be an issue once 2.2.4 rolls out in the underlying infrastructure.  Am working to understand how best we can capture and document current supported versions

[2019-05-28 18:00] maiqbal11 commented on #3493
\cc @fabiocav, @paulbatum

[2019-05-28 21:58] mhoeger commented on #4459
Can durable be the answer here?
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-error-handling

[2019-05-28 22:38] #4202 closed

[2019-05-28 22:45] fernandreu commented on #4396
I just had this same issue and, just in case it helps somebody else, I made my own workaround by implementing my own class with the exact same contents of `ActionResult<T>` but implementing `IActionResult` as well. The idea is to replace every occurrence of the standard `ActionResult<T>` class with the new one and, once this issue gets fixed, revert back the changes.

I could have simply derived i

[2019-05-28 23:29] marmightygood opened #4503 "Development work against one Function App mirrored to another in a separate subscription"
I created two Powershell Function Apps via the portal, one in a development subscription and one in a production subscription. When I create functions against one app, the functions also show up in the other immediately. Any development work completed on one function is also immediately mirrored in the other.

#### Investigative information

Please provide the following:

- Timestamp: 2019-05-29 1

[2019-05-29 02:32] ankitkumarr commented on #4403
It seems like `HttpTrigger` does in fact get disabled properly, when the disabled property is set in `function.json`. However, when I tried the same with a `TimerTrigger`, it continued running. Portal shows that both functions were disabled.

It would be nice to make this consistent across functions. @fabiocav, would a better solution here be to start supporting `disabled` in `function.json` acros

[2019-05-29 09:07] ArunRajiv opened #4504 "Microsoft.Azure.Documents.Client does not supports latest System.Net.Http version 4.3.4"
We have component governance policy of security issues for all solutions in our project. Under which, all the nuget packages should be of latest version in all the projects.

We have an Event Triggered Azure Function where we use **Microsoft.Azure.Documents.Client**  nuget  package which has dependency on **System.Net.Http**

while upgrading the System.Net.Http to latest version, we get the build

[2019-05-29 10:15] sunxinhuan opened #4505 "[National Cloud] Create Event Subscription Blade is crashed"
**Ibiza portal URL**:   https://aka.ms/antuxstage-mooncake
**App runtime version**:  2.0.12332.0 (~2)
**Browser**: Chrome
**Hosting Plan**: App Service Plan (S1)

Please refer to the snapshot:
![EvevtGrid](https://user-images.githubusercontent.com/39791546/58549194-8ce5d800-823d-11e9-8873-b55454ab5156.png)

**Repro steps**:
	1. Open a v2 function app;
	2. Add  a EventGrid Trigger function;
	3. Cli

[2019-05-29 12:21] gussj commented on #4049
Same error here. I need to use the latest version of Json. any news?

[2019-05-29 14:52] bipsmojio commented on #2961
I found a similar issue while debugging it can not start the host with file not found for the function assembly with .net core sdk 2.2 and fix was changing the build property type from 64 bit to Any .

[2019-05-29 18:33] paulbatum commented on #3493
Hi there folks. There are many different reasons why a trigger might fail to run, and it is quite difficult to diagnose and troubleshoot all those different reasons across many customers within a single github issue in any coherent way. It is particularly difficult when there are lots of "me too" replies that don't include enough specifics to investigate.

If you're experiencing this problem, plea

[2019-05-29 18:34] ColbyTresness opened #4507 "Emit GBSecond metric from host"
GBSeconds should be tracked at the host level such that linux metrics flow as well.

[2019-05-29 18:47] ranouf commented on #4429
Hi, I have the same issue, I'm interested to get the answer too.

[2019-05-29 19:03] ankitkumarr commented on #4350
@PingPongSet, do you think the URL server could maybe closing the connection soon or having other issues? It doesn't look like the issue has to do with functions / webjobs. I would recommend looking at the `HttpClient` docs to see why this error is thrown. I found this case study with a similar issue and conclusion - https://4lowtherabbit.github.io/blogs/2018/11/CaseStudy.

I will close this issue

[2019-05-29 19:03] #4350 closed

[2019-05-29 19:06] maiqbal11 opened #4509 "Add handling for capabilities"
Currently, there is no handling for capabilities during the worker initialization path. This is needed to allow the worker to request custom capabilities from the host and vice versa.

[2019-05-29 20:00] lukasvosyka commented on #4411
Hi,

the issue below is currently a blocker for us to move on to DI for functions..

https://github.com/Azure/azure-functions-host/issues/4480

[2019-05-29 20:10] lukasvosyka commented on #4480
I am wondering why the choice of defaulting the "maxBatchSize" to **10** anyways?!
Everywhere I read about EventHub the common sense is its high throughput, but this is not the case with a batchsize limit set to 10!

I tested it with 10 and with 256 and it takes literally 25x times longer to process all messages!

So why is this default set so low?

[2019-05-29 20:12] #4321 closed

[2019-05-29 20:21] #4418 closed

[2019-05-29 20:35] brettsam opened #4510 "Sprint 50 V2 Runtime Release"

[2019-05-29 21:18] kyallanum commented on #4494
Bumping post for visibility.

[2019-05-29 21:33] mhoeger commented on #4316
Unable to repro after refactor in https://github.com/Azure/azure-functions-host/pull/4210, closing

[2019-05-29 21:33] #4316 closed

[2019-05-29 21:36] mhoeger opened #4511 "[Placeholder]Node.js Placeholders"
We need to move the scope of the node.js worker's startup so that it can run in placeholder mode.

And this special casing must be done for Node.js placeholders to not have a bug: https://github.com/Azure/azure-functions-host/issues/4488

1. Whitelist node (Windows and Linux) https://github.com/Azure/azure-functions-host/blob/f1d0536afa45855a5150abebbf26b9b1b4210f41/src/WebJobs.Script/Rpc/RpcIniti

[2019-05-29 22:07] fabiocav commented on #4489
@ankitkumarr could you follow up? Likely a leftover app offline file.

[2019-05-29 22:23] fabiocav commented on #4422
@ahmelsayed can you provide some guidance on the image that needs to be used? Are we updating Alpine images with the same cadence?

[2019-05-29 22:57] ahmelsayed commented on #4422
@jmezach which image were you using?

[2019-05-30 00:56] paulbatum commented on #2167
It looks like I failed to follow up on this very old issue, sorry.

Our general advice for dealing with out of memory exceptions is to capture memory dumps and analyze the memory usage of your application. This blog post has an overview of the process for web apps, but the same steps would work for a function app too:
https://blogs.msdn.microsoft.com/jpsanders/2017/02/02/how-to-get-a-full-memory-d

[2019-05-30 00:56] #2167 closed

[2019-05-30 09:00] marshall76963 commented on #3386
@brettsam - I have emailed you with the binlog file - thanks for supporting me on this :)

[2019-05-30 09:15] jmezach commented on #4422
I was using `FROM mcr.microsoft.com/azure-functions/dotnet:2.0-alpine` and after switching to `FROM mcr.microsoft.com/azure-functions/dotnet:2.0` my app was working as I expected.

[2019-05-30 12:37] galvesribeiro commented on #4480
@lukasvosyka It should be:

[code]

And your Startup class must inherit from `FunctionStartup` and overrive the `void Configure(IFunctionsHostBuilder builder)  method.

[2019-05-30 12:43] benbelow commented on #4480
@galvesribeiro We're encountering the same issue and have been using `FunctionsStartup` not `WebJobsStatup`

[2019-05-30 12:45] galvesribeiro commented on #4480
That is really weird.. I use it here and all the settings I've made are working...

[2019-05-30 13:11] benbelow commented on #4480
@lukasvosyka We've been able to reproduce this with serviceBusExtension settings - with DI disabled, our service bus message handler options are set, and as soon as we enable DI they revert to the defaults, despite our host.json

This means we can not prevent concurrency in our function, and our messages are being consumed out of order, which is completely unacceptable for our use case.

I'm surpr

[2019-05-30 13:14] kemmis commented on #4405
Same here... can anyone show how to accomplish what @ThomasArdal is trying to do? Currently my logging is only going into app insights, but doesn't show up in the azure portal log window. I only see the built-in messages.

[2019-05-30 13:17] galvesribeiro commented on #4480
Yeah that is really weird... But I guess it is just with the EventHubs trigger as I'm using other options there and it work just fine:

![image](https://user-images.githubusercontent.com/4714040/58635334-01635a00-82c4-11e9-8290-a98e70eeb358.png)

For example the `routePrefix` is set, so we remove the default `/api` from the function path and that is something really easy to detect if the file was

[2019-05-30 13:28] lukasvosyka commented on #4480
@galvesribeiro Well thanks for the hint! It works with` [assembly: FunctionsStartup(typeof(Startup))]`.

We were using the Willezone DI workaround before and that one used to use WebJobsStartup.

So thanks for the hint!

[2019-05-30 13:29] galvesribeiro commented on #4480
AHHHH ok. That is why I never resorted on those hacks :) hard to migrate later :P

Glad it worked

[2019-05-30 14:04] benbelow commented on #4480
For posterity, we have also solved our issue - which turned out to be the same symptoms from a different cause.

In our case we were setting up a ConfigurationBuilder() in DI, which is what caused the `host.json` settings to be ignored. Presumably if setting up a ConfigurationBuilder manually, one must also explicitly set up the host.json. In our case we did not need to set this up, so removing it

[2019-05-30 14:50] gilmojoa opened #4512 "java function runtime discrepancy causing random exception around filepath parsing"
#### az functions version 2

#### java

#### Question

so my azure function will sometimes run without issue, usually as long as it stays up and running it will continue to work on each invocation, then if idle and restarts on next invocation, the 'filepath cannot be resolved' issue often reappears. this is the standard backslash \ forward slash / issue between different runtimes, i.e. windows vs

[2019-05-30 15:15] lukasvosyka commented on #4480
Ok I am reopening this issue, since I figured it is not working for all versions of `Microsoft.NET.Sdk.Functions` being referenced!

In my case, the very same DI code (using `[assembly:FunctionsStartup(typeof(Startup)] `and host.json with extensions configuration it works for when using Microsoft.NET.Sdk.Functions <= 1.0.26

Using a higher version of Microsoft.NET.Sdk.Functions (eg. 1.0.28) the ho

[2019-05-30 15:19] DarinMacRae commented on #4064
@brettsam Your last post was absolutely clutch. I finally got it working by going back to 2.9.1 (latest is 2.10) because of your hint. Many thanks.

[2019-05-30 15:24] sreevani2203 commented on #4389
any tentative date on when the fix will be released?

[2019-05-30 15:46] bnb commented on #2477
I am now getting this when running locally and in the cloud. It seems my Azure Functions-based Twitter bot hit this in prod and did not tweet as it should have. Additionally, I'm currently reproducing it locally.

[2019-05-30 15:55] benbelow commented on #4480
@lukasvosyka - I have been using 1.0.28 all along, and it is now working ok for me.

Are you injecting a ConfigurationBuilder manually?

[2019-05-30 16:16] lukasvosyka commented on #4480
Well, as the docs say, it needs to have 1.0.28 :D to make it work.

@benbelow: No we also do a
[code]
during ` Configure(IFunctionsHostBuilder builder)`

So what did you do to solve your problem? Just remove it?

[2019-05-30 16:19] lukasvosyka commented on #4480
Ok, seems to work :D

[2019-05-30 16:25] #4480 closed

[2019-05-30 16:26] lukasvosyka commented on #4480
Thanks @benbelow for pointing to the right direction :D

[2019-05-30 16:28] galvesribeiro commented on #4480
I'm on 1.0.27 and it work for me.

[2019-05-30 16:41] zecloud opened #7992 "Cors On Azure Storage"
When you activate CORS on an Azure Storage Account the host can't start
it stops with the following error :

A host error has occurred
[5/30/19 4:38:13 PM] Microsoft.WindowsAzure.Storage: Requested value 'DELETE,GET,HEAD,MERGE,POST,OPTIONS,PUT,PATCH' was not found. System.Private.CoreLib: Requested value 'DELETE,GET,HEAD,MERGE,POST,OPTIONS,PUT,PATCH' was not found.

[2019-05-30 16:53] prabuw opened #4513 "New dependency injection causing an error"
I'm using the 2.0 azure function, dotnet core 2.1 and C#.

I created a fresh project and followed the [directions to setup dependency injection](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection).

I have done the following:
- Installed `Microsoft.Azure.Functions.Extensions`
- Upgraded `Microsoft.NET.Sdk.Functions` to 1.0.28

I am getting the following er

[2019-05-30 17:41] tsmorton commented on #3614
I've started seeing this as well post deploy for one of my function apps.  Changing _any_ application setting appears to resolve this which is easier than messing around with the set of valid values for WEBSITE_NODE_DEFAULT_VERSION.  Just restarting the function app doesn't appear to work.

[2019-05-30 18:37] mdb-wg commented on #4444
Closing this - it was due to bad configuration of the local machine. If you're going to use virtual environments, use them for everything...

[2019-05-30 18:37] #4444 closed

[2019-05-30 19:14] meixger commented on #4513
From https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#use-injected-dependencies:

Try to rewrite your function like this:
[code]

[2019-05-30 19:24] ankitkumarr opened #4514 "Detector to identify when the Function app goes to offline mode"
Create a detector to show a timeseries of when the Function App was offline due to the presence of `app_offline.htm`. This detector should identify a percentage of Role Instances that were offline during the period of time.

[2019-05-30 19:33] ankitkumarr commented on #4489
@hariharan618, During deployment we place this file to make sure your existing services / files shuts down properly. Then, after deployment, we remove this file. It's likely that the delete didn't succeed. Would you mind sharing your app name and timestamp when you saw this issue? I can try to figure out why the delete never succeeded.

FYI, you can turn this behavior off by creating an app settin

[2019-05-30 19:36] hjpsievert commented on #4485
@espray @AnunnakiSelva
Finally got it to work. It turns out that all cookie authentication entries were needed. When I looked into `SignInManager` source code, it became clear that depending on the path through the sign-in process, any of the cookie schemes might be invoked. So here is my code for Startup and LoginUser.

Ignore the SMS/Twilio stuff, I am still working on that. It will send a text

[2019-05-30 20:58] #4483 closed

[2019-05-30 21:05] paulbatum commented on #4403
@ankitkumarr I do not believe this is correct. Try the following:

1. Create a V1 timer triggered app in VS
2. Hit F5, watch the timer run.
3. While the app is still running, open the function.json file and change disabled to true
4. Observe that the host detects the file change, but the function continues to run.

[2019-05-30 21:27] brettsam commented on #3386
For those of you still seeing issues with 1.0.28, can you try:
1. Removing any custom targets files
2. Removing any direct reference to the `Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator` package

It looks like the direct reference re-orders some things during a publish, which causes the extensions.json generator to miss the functions assembly. That's something we can fix, but removin

[2019-05-30 21:28] brettsam commented on #4389
I'm hoping it's everywhere by mid next-week.

[2019-05-30 22:56] ahmelsayed commented on #4494
As mentioned on the internal email thread. Attributes don't get evaluated in C#. Attributes are metadata to attach to classes, methods, properties, etc to allow you, or other libraries to do metaprogramming operations on these constructs. They are not decorators. AOP programming in C# using attributes is a framework or a library feature, not a language feature.

If they are using a library that do

[2019-05-30 22:56] #4494 closed

[2019-05-30 22:58] anirudhgarg commented on #3551
Can you please repro and if its not working find out root cause.

[2019-05-31 08:08] marshall76963 commented on #4474
We have done some more investigating and have found the following:

- The `host.config` settings are working with respect to file and console logging.
- App Insights does not respect the logging settings in `host.config` and everything is displayed in the trace output.
- The behavior of the logging when executing both local and on Azure is the same.

We have worked around the issue for now by appl

[2019-05-31 11:53] bszewczyk opened #4515 "libgomp.so serror"
Cannot import python library xgboost. When I run my function app locally project everything works fine. After publish I get his error

Result: Failure
Exception: XGBoostError: XGBoost Library (libxgboost.so) could not be loaded.
Likely causes:
  * OpenMP runtime is not installed (vcomp140.dll or libgomp-1.dll for Windows, libgomp.so for UNIX-like OSes)
  * You are running 32-bit Python on a 64-bit

[2019-05-31 16:58] JustinGrote commented on #3919
In my case it looks like the format and storage of extension bundles changed between versions. I just went into my AppData\Local\Temp\Functions folder and renamed the existing extension bundles to disabled, and it redownloaded them and then worked fine.

Probably a breaking change that didn't get detected in QA.

[2019-05-31 17:28] annadante commented on #3411
@paulbatum Any news on this?
I'm trying to create Azure Event Grid subscription with ARM template, but this blocks this :(

[2019-05-31 18:06] #4331 closed

[2019-05-31 20:09] logiclrd opened #4517 "When using a FunctionsStartup class, settings are not read from the correct directory"
In creating a simple Azure Function using D.I. (a `FunctionsStartup` class) and ASP.NET Core 2 style configuration, I have run into issues with it not reading configuration from the correct directory.

In my `Startup.Configure` method, I tried writing code like this:

[code]

However, all of the configuration properties are always `null`. Drilling into it a bit with the debugger, it looks like the

[2019-06-01 00:02] klogan12 opened #4518 "Graph QL using Dot net core on azure functions"
I am implementing Graph QL on Dot net core using Azure function.
How do i add graphQL middleware in azure function?

How to call this configure method?

public void Configure(IApplicationBuilder app, IHostingEnvironment env)
        {
            app.UseHttpsRedirection();
            app.UseStaticFiles();
            app.UseCookiePolicy();
            **app.UseGraphQL<StarWarsSchema>();

[2019-06-01 00:26] jeffhollan commented on #1063
Just reviewed a case that wanted to use a URL query parameter that resulted in > 4kb URL.  I believe this is the issue tracking it.  Adding here as a record and labeling to triage later (case # 119052223001602)

[2019-06-01 12:06] espray commented on #4518
@klogan12 I am not aware of anyway to use MVC middleware in AzFunc. For GraphQL, I am current hosting GraphQL and GraphiQL in AzFunc and I dont use the middleware. I only used the middleware as a guide.

[2019-06-01 12:19] espray commented on #4517
See #4464 and #122
I believe this is by design

@ahmelsayed can probably give more background.

You can use this to find the correct root
[code]

[2019-06-01 12:33] espray commented on #4485
@jeffhollan not sure if you have been watching this issue. Maybe an `AddAuthenticationScheme()` could be surfaced through 'Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder'?

[2019-06-01 12:56] espray commented on #4474
@marshall76963 I have been trying to add custom ITelemetryInitializer/ITelemetryProcessor with no luck. `var configDescriptor = builder.Services.SingleOrDefault(tc => tc.ServiceType == typeof(TelemetryConfiguration));` is always null for me, any idea why? Any chance you have a sample proj I can compare with?

#4345

[2019-06-01 14:03] espray commented on #4474
Resolved the issue I was having. The host references TelemetryConfiguration Version=2.9.1.0 and I was using Version=2.10.0.0

[2019-06-02 06:02] alexgman commented on #4183
Is there proof that this has actually been resolved?

[2019-06-02 13:22] brettsam commented on #4183
Our internal telemetry indicates that it has been resolved. Are you seeing something different? If so, could you share your repro?

[2019-06-02 16:51] Amthieu commented on #1988
@StephenCleary your *app* proxy would proxy both `/main.js` and `/specific-page`. Does that work for you? Working with a SPA `/specific-page` should be proxied to your index.html no?

I'm trying to separate those 2 usecase using regex, but it's not working. Any idea?

[2019-06-02 16:59] Amthieu commented on #4209
@damienwebdev have you managed to find a solution with Azure? I have the same use-case for hosting a SPA in Azure storage.

[2019-06-02 22:38] StephenCleary commented on #1988
I have a `appResources` proxy, too, which captures all `/static/` paths and allows them through. These are used for JS and images. Paths starting with `/api/` are proxied to the local function. All other requests go through the `app` proxy, which returns the response from `/`.

[2019-06-03 07:08] codermrrob commented on #4049
And this is causing issues for me also... this needs to be addressed please as soon as possible. It is a bug and is costing our team time and our business money and also spend more time researching if functions are the right solution for us after all.

[2019-06-03 08:08] prabuw commented on #4513
Ah thanks. I must have missed that!

[2019-06-03 08:08] #4513 closed

[2019-06-03 08:30] jaltin commented on #3869
Hi again @mathewc and @davidebbo (or anyone else at Microsoft that can help with this issue).

Still no update on this? Judging from other users comments it seems that this is a real issue and not just affecting our solution/implementation.

I would really appreciate it if you could have a look at this issue.

[2019-06-03 10:06] Alezis commented on #4049
The same for me. I use Newtonsoft.Json.Converters.StringEnumConverter that appears in Newtonsoft Json 12.0.1 and azure functions failed with error : No matching parameterized constructor found for 'Newtonsoft.Json.Converters.StringEnumConverter', even if I added 12.0.1 explicitly to the project.

[2019-06-03 12:08] codermrrob commented on #4344
I have same issue. Startup class is this:

[code]
[code]
runs fine in the emulator and runs perfectly well the first time in my Function App. Subsequent executions result in an error:  Cannot access a disposed object. Object name: 'System.Net.Http.HttpClient'.

Predictably restarting the Function App resets everything and it will run one time again.

[2019-06-03 12:38] codermrrob opened #4520 "Cannot access a disposed object. Object name: 'System.Net.Http.HttpClient'."
I have same tried this with and without a typed client as suggested in https://github.com/Azure/azure-functions-host/issues/4344 but with the same result.

The HttpClient is always disposed of between runs resulting in
Cannot access a disposed object. Object name: 'System.Net.Http.HttpClient'.

[code]
[code]
it is the same result with the emulator & Function App, runs fine first time but not subse

[2019-06-03 12:55] brettsam commented on #4520
Are you using an HttpClient anywhere? Can you share the callstack of the exception?

[2019-06-03 13:01] espray commented on #4518
Looks like some form of middleware might be coming #4449

[2019-06-03 13:14] george-ayris opened #4521 "Durable function - Unhandled exception while executing task: System.ObjectDisposedException: Cannot access a disposed object. Object name: 'LoggerFactory'"
Durable function fails because of `System.ObjectDisposedException`  for `LoggerFactory` in an activity function. Potentially related to #1690.

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0): 2.0
- Function name(s): `CosmosReprocessProcedureRuns` invoking `CosmosReprocessProcedureRuns_ProcessRun`
- Invocation ID: 4b7d91ec-eace-47f5-b

[2019-06-03 13:45] Cartan commented on #3568
Still won't work for me, even with the workarounds. I simply cannot compile a function project that contains a service reference. I always get:

1>C:\Users\nils\.nuget\packages\microsoft.net.sdk.functions\1.0.27\build\netstandard1.0\Microsoft.NET.Sdk.Functions.Build.targets(41,5): error : File name: 'System.Private.ServiceModel, Version=4.1.2.4, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

[2019-06-03 14:50] tidusjar commented on #2066
Just came across this.

Found the option in the json schema: http://json.schemastore.org/host

Example

[code]

[2019-06-03 15:05] liron-navon commented on #3469
Why the hell is it still open after one year? this is a very urgent thing!!! It can't be impossible to see logs in a simple docker image....

[2019-06-03 15:36] klogan12 commented on #4518
@espray  - How did u implement GraphQL without middleware? Did you use dot net core? Any pointers will be helpful.

[2019-06-03 18:14] espray commented on #4518
@klogan12 I have gone through several revisions. But this is a good base https://github.com/graphql-dotnet/examples/blob/master/src/AspNetWebApi/WebApi/Controllers/GraphQLController.cs also used the middleware as a guide. From there I added features/tweaks, UserContext, Authorization, Instrumenting, GraphiQL, etc as needed. Right now I have it worked down to an IActionResult, where configuration i

[2019-06-03 18:20] mhoeger opened #4522 "Do not start host in "offline mode" if app is "read-only""
We start the host in "offline mode" if the host detects an `app_offline.htm` file. This relies on the host getting restarted whenever the app_offline.htm is removed. HOWEVER, if the app is initialized in read-only mode, it may never switch back to being online (related: https://github.com/Azure/azure-functions-host/issues/4387).

cc: @fabiocav

[2019-06-03 18:24] alexjamesbrown commented on #2066
@tidusjar yes, this works really well:
https://medium.com/asos-techblog/reliably-processing-azure-service-bus-topics-with-azure-functions-46ebb7c71b5c

[2019-06-03 18:41] #4447 closed

[2019-06-03 18:46] mhoeger commented on #4428
I believe this is expected when starting in offline mode: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/DependencyInjection/DependencyValidator/DependencyValidator.cs#L47

@brettsam - i think this is known noise? and do you have another work item tracking this or should we keep this open?

[2019-06-03 19:10] davidebbo commented on #3869
@jaltin just a note that I'm no longer at Microsoft, so I'll let others comment further.

[2019-06-03 21:20] #191 closed

[2019-06-03 21:48] Amthieu commented on #1988
@StephenCleary is your SPA hosted in storage?

[2019-06-03 21:58] StephenCleary commented on #1988
No, [I host it on GH pages](https://github.com/StephenClearyApps/DotNetApis/blob/1ace73be6dc4d386637e0bca0ce1d69e98d8909d/doc/setup.md#deploying-dotnetapis-to-a-new-instance). When it goes live, I'll add a CloudFlare in front of it.

[2019-06-03 22:25] #4436 closed

[2019-06-03 22:27] soninaren opened #4524 "Create dev ops build pipeline for tooling feed"

[2019-06-03 22:27] #4524 closed

[2019-06-03 22:27] soninaren opened #4525 "Create core tools / tooling feed release pipeline in dev ops"

[2019-06-03 22:28] #4525 closed

[2019-06-03 22:38] #4449 closed

[2019-06-03 22:56] fabiocav opened #4526 "Reset offline state when extension installation fails"
If the extension installation process triggered over the API fails, the runtime should switch back to an online state to prevent having the application left in offline mode.

[2019-06-03 23:03] fabiocav commented on #4517
@espray is correct. The host sets up the configuration provider at the runtime location, to read its configuration, which differs from the function root. The approach mentioned above should work in the meantime, but we do have plans to support application level configuration files out of the box, so this setup wouldn't be required.

[2019-06-03 23:03] #4517 closed

[2019-06-03 23:07] #4346 closed

[2019-06-04 00:50] ankitkumarr commented on #4514
The detector is created. However, the detector can only detect if the app was offline when the log is emitted during startup. This means that, if the app was started and made offline before the detector start time, the detector would be unable to report that.

To solve this, we need to emit a log from host during the ping if possible. The log would tell us if the host if offline. The detector woul

[2019-06-04 01:17] logiclrd commented on #4517
Thanks :-)

[2019-06-04 01:42] Simke11 commented on #4055
I ran into the exact same issue today. .Net Core 2.2 Azure function. I have to use Newtonsoft.Json 12.0.2 and on build I'm getting "System.IO.FileLoadException: Could not load file or assembly 'Newtonsoft.Json, Version=12.0.0.0"

Any updates on this one?

[2019-06-04 02:59] codermrrob commented on #4520
For some reason the catch block of the try catch around the
 `response = await httpClient.SendAsync(request);`
doesn't catch the exception in the emulator but this is the error exported from Application Insights in the attached file.
[query_data.xlsx](https://github.com/Azure/azure-functions-host/files/3250310/query_data.xlsx)

[2019-06-04 06:55] codermrrob commented on #4520
And also just to mention that it all works fine if I inject my own services.

[2019-06-04 08:01] SamuelDebruyn opened #4527 "Type forwarding seems to be ignored"
I am using the NuGet package `Google.Cloud.Firestore` which relies on some other packages where type forwarding is used. The forwarded types are not found and result in a `MissingMethodException`.

The issue occurs when debugging locally in VS Code on macOS. I haven't deployed this yet.

The same code works in a .NET Core console app.

A lot more details at the original issue: https://github.com/g

[2019-06-04 08:48] jaltin commented on #3869
Thanks for the update @davidebbo.

Anyone else at Microsoft that can help with this? It's badly affecting us.

[2019-06-04 10:33] bogardt commented on #1805
Hello, did someone solve the problem ? or have a temporary solution maybe ?

[2019-06-04 13:04] brettsam commented on #4520
HttpClient is injected as Transient. It seems like you're holding onto it past its lifetime, which means that it gets disposed and you continue to use it.

Can you share the entire class (or at least the signature and usage) that this is being used in? Is it a singleton or static class? How does it get the HttpClient?

[2019-06-04 15:04] ThomasVandenbon commented on #4520
I have the same issue when reading a Cosmos DB change feed.
The very first time the function is executed it works correctly.
On every following run the HttpClient has been disposed.

The project only contains this Cosmos-triggered function and the Startup class (that inherits from FunctionsStartup).

My code is identical to the example: https://docs.microsoft.com/en-us/azure/azure-functions/functi

[2019-06-04 16:38] jeffhollan opened #4528 "Allow v2 function to run with unbounded timeout in dedicated"
Today in v2 we enforce a 30 min run duration if functionTimeout is empty.  However, in dedicated you should be able to define "unbounded".  There should be some value that people can but in `FunctionTimeout` that would cause the runtime to run unbounded in run duration.

/cc @mathewc

[2019-06-04 16:58] IvanAlekseev opened #4529 "Functions corrupt json input when values are in ISO 8601 date format"
#### Investigative information
- Function App version (1.0 or 2.0): 2.0

#### Repro steps
Having a http function accepting a json with a single string property I got this string corrupted when the value is in ISO 8601 date format

Send a post request:
[code]

#### Expected behavior

Receive this response:
[code]

#### Actual behavior

Receiving this response:
[code]

#### Related information
Looks

[2019-06-04 17:20] mathewc commented on #4528
The functionTimeout config value is a TimeSpan, so in host.json string form, we'd want a value that is a valid TimeSpan string, rather than using something like "-1" and treating that specially during parsing, which would introduce a difference between Azure Functions and core SDK.

TimeSpan.MaxValue in string form is "10675199.02:48:05.4775807". Can't users just specify some large value rather th

[2019-06-04 17:22] jeffhollan commented on #4528
That's what we tell them today but feels a bit strange to document that a run duration is unbounded and then in order to get it put in 10000000 as the functionTimeout.  I don't recall how Newtonsoft does this but what if an explicit `null` is unbounded.  Whereas empty could still default to 30 min

[2019-06-04 17:38] brettsam commented on #4520
There's some issues here, but luckily they're doc/pattern issues and we can get you unblocked quickly. All of the [documented patterns](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2#consumption-patterns) for `IHttpClientFactory` (and `HttpClient`) apply to Functions -- however, the [documented example](https://docs.microsoft.com/en-us/azure/azure-funct

[2019-06-04 17:55] mathewc commented on #4528
Changes to the way we interpret null/0 would be breaking, right? Since the value maps to a TimeSpan, it feels a little strange to allow invalid timespan values like "0" or "-1" - we'd also have to update our json schema to allow for that.

However strange, "-1" would work - when we see this, we interpret it in the Azure Functions layer and skip leave the options [FunctionTimeout](https://github.co

[2019-06-04 18:04] omerlh opened #4530 "Support managed identity for authenticating a function to the storage"
#### What problem would the feature you're requesting solve? Please describe.
Today, in order to configure a blob input/trigger, you need to provide a connection string. Managing credentials is complex, so I would like to leverage the function managed identity instead.

#### Describe the solution you'd like
Use function managed identity to authenticate the app to the storage account. This makes th

[2019-06-04 19:18] raskhdb opened #4532 "System.Net.Http.HttpRequestException: Remote Certificate is invalid"
#### Investigative information

Please provide the following:

- Timestamp: 2019-06-04T18:31:09.209
- Function App version :  2.0.12493.0
- Function name(s) (as appropriate):
      1. GameAzureConsume   - This works only on first invocation
      2. GameAzureToken   - This  always works as expected , in spite of having the same code for the part that retrieves Access Token
- Invocation ID:  c6cd6c

[2019-06-04 19:35] patricklee2 commented on #4526
https://icm.ad.msft.net/imp/v3/incidents/details/124149471/home

[2019-06-04 20:25] brettsam commented on #4520
I'm going to go ahead and close this since there's nothing for us to handle here -- the doc PR is linked above. Let me know if you have any further questions. Thank you for the report and for helping out!

[2019-06-04 20:25] #4520 closed

[2019-06-04 22:41] fabiocav opened #4533 "Reduce debounce time when app_offline.htm is created"
When the application is placed in offline mode due to a deployment, the debounce time we currently have in place for file change based actions is exposing the application to potential races against the deployment operation. We should consider special casing the offline file and reduce the shutdown wait.

[2019-06-04 22:49] fabiocav commented on #4504
@ArunRajiv is upgrading to Azure Functions 2.0 an option? There, you have a lot more flexibility when it comes to the dependencies used. Different extensions are also frequently updated.

[2019-06-04 22:52] fabiocav commented on #4294
@NickMoores that's great to hear. Closing this as resolved.

[2019-06-04 22:52] #4294 closed

[2019-06-04 23:19] #2737 closed

[2019-06-04 23:49] pragnagopa opened #4534 "[Placeholder]Placeholders with out Run From Zip"
On FileChangeEvents, JobHost is restarted: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/FileMonitoringService.cs#L124

During specialization, JobHost is restarted here: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Standby/StandbyManager.cs#L86

FunctionDispatcher uses a language worker process that is started in placeholder

[2019-06-04 23:56] pragnagopa commented on #4511
Changes needed:
- White list nodejs here: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/RpcInitializationService.cs
- During specialization, update FunctionDispatcher to check for RunFromZip and verify WEBSITE_NODE_DEFAULT_VERSION is same as the placeholder version
  - If both conditions satisfy, use the placeholder process
  - If not, kill placeholder channels and

[2019-06-05 00:06] pragnagopa commented on #4534
This will also unblock placeholders when using placeholder pools

[2019-06-05 01:36] sandeepiiit commented on #4345
@brettsam Thanks for the host.json workaround. Is there a way to specify log levels differently for development vs production environments?

[2019-06-05 04:52] #4251 closed

[2019-06-05 05:14] codermrrob commented on #4520
Brilliant thanks for your timely response and the docs update...saved much head scratching :)

[2019-06-05 11:13] peterbomers opened #4535 "Binding context using DI"
#### Is your question related to a specific version? If so, please specify: >= 1.0.28

#### What language does your question apply to? C#

#### Question
Is it possible to access the binding context (for example the service bus message, or the http request) during dependency injection. Something like the IHttpContextAccessor  in asp.net core framework?

We're building dynamic database connections b

[2019-06-05 12:47] ryanspletzer commented on #4405
Not to pile up on this issue, but I know that a function will accept an `ILogger` in its method params and Azure Functions will provide it, but if another injected service wants an `ILogger` what is the best way to get that instance to it?

I am fine with the app insights-based `ILogger` instance being provided to the function method params to be provided elsewhere, but it seems that if I create a

[2019-06-05 13:25] Jaffacakes82 opened #4536 "Suspected issue with latest Azure Functions host run time (2.0.12493)"
We use Azure Functions with INodeServices to generate PDFs in our application. The function uses a simple queue trigger to read new items from an Azure Storage Queue. Over the last couple of days, we've noticed a number of our generation jobs hang indefinitely (function run state in WebJobs dashboard is 'Never finished') even though there's been no changes to this area of the code base for a while

[2019-06-05 13:43] brettsam commented on #4389
This is part of https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12507, which will be rolling out over the next couple of days.

[2019-06-05 15:40] ryanspletzer commented on #4405
Sorry I just noticed someone had posted about this over on the extensions repo where the DI extension lives: https://github.com/Azure/azure-functions-dotnet-extensions/issues/10

[2019-06-05 16:25] mamoorkhan commented on #4049
can someone please explain why is `=` and not `>=` ?

[2019-06-05 17:08] #4441 closed

[2019-06-05 17:23] zippy1981 opened #4538 "ILogger<T> not injected at function level but is Injected at Class level."
This might be as intended, but its annoying.

I am using DI in Azure functions, non static classes.  I can inject a Generic Logger at the class level e.g.

[code]

However, if I do it at the log level:

[code]

I get the following:

[code]

#### Investigative information

Please provide the following:

I ran locally. will try to stand up a function service later.

- Timestamp:
- Function App versi

[2019-06-05 18:46] pragnagopa commented on #4511
Adding more details on the picking node version
- Host needs to know what is the latest node 10 version on
  - Antares for windows apps
  - Linux for linux consumption apps
- Placeholder node.exe  will be used only if WEBSITE_NODE_DEFAULT_VERSION  is an exact match with the current node 10 latest version .

@mhoeger  - Let me know if you have any further questions.

[2019-06-05 18:57] ranouf opened #4539 "Could you show how to configure Azure Function with Azure Active Directory?"
#### What problem would the feature you're requesting solve?
I m interested to find a sample code explaining how to secure a Azure Function using Active Directory. Most of the explanations I found use the Portal Azure interface. Is it possible to that by code.
My main purpose is to be able to authenticate my azure function using login/password or Facebook, and other social account available

####

[2019-06-05 19:19] pragnagopa commented on #4511
Adding more details on how to get the latest version of node

- Placeholder template site has, `WEBSITE_NODE_DEFAULT_VERSION` is set to ~10
- Cache value of `WEBSITE_NODE_DEFAULT_VERSION` during placeholder mode
- During specialization look for exact match,

[2019-06-05 21:25] #4069 closed

[2019-06-05 21:39] ahmelsayed commented on #4422
Sorry for the delay @jmezach. The alpine image should work now. I didn't notice that the alpine image for dotnet wasn't being tagged correctly.

[2019-06-05 21:39] #4422 closed

[2019-06-06 00:35] soninaren commented on #4381
You need add the header `Origin: https://functions.azure.com` to the request to get `Access-Control-Allow-Origin: *` in response header.

[2019-06-06 06:03] jeffhollan commented on #3975
@asavaritayal / @brettsam any updates here?  See it's had a nice bump from sprint to sprint but curious if we can get an ETA for some of the "day 1" experience reporting

[2019-06-06 06:11] Merurino commented on #4013
Hey, had the same issue.

Ended up solving by changing the WEBSITE_RUN_FROM_PACKAGE from 1 to 0.

Found the answer here: https://github.com/Azure/Azure-Functions/issues/1108#issuecomment-456295104

[2019-06-06 07:44] iyerusad opened #4542 "Proxies - Missing x-forwarded headers"
Need additional x-forwarded headers when passing through proxy. X-Forwarded-Host, X-Forwarded-Proto, X-Forwarded-OriginalURL

I have some azure functions that use values from `request` to build base host URL. That URL is then is used to call other functions on same host.

[code]

When request to azure function passes through proxy, headers are rewritten.

Unfortunately, in local dev the rewritten

[2019-06-06 15:11] nicholasdoyle opened #4543 "Functions should be able to run separate version of a host dependency"
#### What problem would the feature you're requesting solve?
If the host has a dependency, you cannot currently use a different version of the dependency in a function.  Newtonsoft.Json is an example.  The current host uses 11 and there is no good way to use 12.

#### Describe the solution you'd like
If I explicitly define a dependency on a specific version of a module used by the host, my functio

[2019-06-06 19:03] brettsam commented on #3975
@maiqbal11 / @asavaritayal -- can you help me with a repro here? I tried adding an `import dummy` to the top of my python script but I don't see any errors thrown anywhere at all until I call the function (i.e. -- there's nothing for us to log). Is there something special that I have to do to cause the `ImportError` upon load that's mentioned?

[2019-06-06 19:07] brettsam commented on #3975
Duh... as soon as I looked in the `LoadResponse()`, I see what you mean. We store the error to log it upon invocation, but never actually write it out. @pragnagopa -- do you know why that is? Can we log the load response error right there?

[2019-06-06 20:00] #4489 closed

[2019-06-06 20:27] mhoeger opened #4544 "Emit warning if signs of bad async patterns are detected in out-of-proc languages"
We know there's a bad async pattern somewhere when there are calls to log on a given function invocation that has already completed.

Similar to https://github.com/Azure/azure-functions-nodejs-worker/issues/154, but on the functions host to capture this for all out of proc languages.

[2019-06-07 08:41] jskeet commented on #4527
Note: the same issue occurs using the emulator from Windows and VS2019.

[2019-06-07 09:16] jskeet commented on #4527
I have a simpler repro now - there's no need for the Firestore dependency.

Project file:

[code]

Function source:

[code]

Exception:

[code]

This is very odd indeed:

- There are no different Grpc versions involved. We're compiling against Grpc.Auth 1.21.0 which was compiled against Grpc.Core 1.21.0, and that's the version present in both places.
- Looking at the IL for the method declaration

[2019-06-07 09:36] jskeet commented on #4527
Okay, even simpler repro - and an explanation.

First, the project file:

[code]

Next, source code:

[code]

This fails with the same MissingMethodException when you try to execute CreateChannelCredentials, when the JIT compiler works on that method - because it can't find the method.

The problem is that it's not loading Grpc.Core 1.21.0 at all - it's using 1.18.0 which is in `C:\Users\skeet\App

[2019-06-07 15:54] utsavized commented on #4192
@mhoeger Any updates to this issue? We have set up some functions and seeing the exact same issue. On a load test, after about 300 invocations (each of which makes a call to Mongo), all functions completely crash until restarted. After another 300 or so requests, same issue. We are on a Premium App Service plan.

Here are the details of the exception we are seeing:
`
Microsoft.Azure.WebJobs.Host.F

[2019-06-07 22:24] #4509 closed

[2019-06-08 00:17] espray commented on #3399
+1 blocked on the same issue

[2019-06-08 18:25] Francisco-Gamino opened #4549 "FunctionLoadRequest.Metadata.Directory is empty when the function app has a proxy"
#### Investigative information
FunctionLoadRequest.Metadata.Directory is empty when the function app has a proxy

#### Repro steps
* Create a PowerShell Function App 2.0
* Create a HttpTrigger Function
* Add proxies.json file: https://github.com/Azure/azure-functions-host/blob/dev/test/WebJobs.Script.Tests.Integration/TestScripts/ProxiesOnly/proxies.json

#### Expected behavior

FunctionLoadReques

[2019-06-09 15:19] PingPongSet opened #4550 "Exception logging with poison messages via Azure Service Bus trigger for Topic and Subscriptions"
I have a topic and two subscriptions, which use Azure Service Bus triggers to publish and subscribe message.

The problem is that subscribers cannot log exception when messages are moved to dead letter queue.

Below is from the doc:

Is it possible to log exception when messages are moved to dead-letter queue, including the number of retries?

Due to limitation of the trigger, is it possible to us

[2019-06-09 19:18] #4550 closed

[2019-06-10 10:00] SaiGopal90 commented on #3994
Is it possible to create and delete Host keys/function key from ARM templates now?

[2019-06-10 12:46] rkbalu commented on #4389
@brettsam Is this something available in all region now?

[2019-06-10 12:52] brettsam commented on #4551
@lmolkova -- is there anything tracking this issue on the App Insights side?

[2019-06-10 13:16] brettsam commented on #4545
Can you share how you're building on your build machine? If you reference 1.0.28, it should be pulling in the ExtensionsMetadataGenerator package -- is that path in the error message correct?

If someone hitting this would be okay with running the build and appending the "/bl" command-line switch and emailing me the "msbuild.binlog" file that's generated, that'd be a big help in tracking it down.

[2019-06-10 13:33] brettsam commented on #4538
This is by-design. We don't use DI to inject parameters into your function method, so we create that logger for you with a specific category and pass it in. Since we use a specific category, we don't create a generic logger for you.

We do have plans to support something like `[FromServices]` that will allow you to inject directly from DI into your function. It's the one item left unchecked here:

[2019-06-10 13:33] #4538 closed

[2019-06-10 14:48] brettsam commented on #4389
As of a couple minutes ago, yes :-)

If you're not seeing the new version yet, try restarting your app.

[2019-06-10 15:14] TurtleBeach opened #4552 "No Log Information when Java Function Fails"
A Java function which fails (I believe due to timeout, though with NO log information I am not certain) does not appear in AppInsights Log. If the same function succeeds, an appropriate Log entry appears.

The function accesses blob storage, creates a zip file package of several files, and returns a link for downloading the zip file. SAS is used for authentication. I believe the issue is that it i

[2019-06-10 18:09] lmolkova commented on #4551
@brettsam we are tracking this in internal VSO backlog. I also created github issue https://github.com/microsoft/ApplicationInsights-aspnetcore/issues/900

[2019-06-10 19:13] klogan12 commented on #4545
This is the error i got. I checked the files do exist in that folder.

Severity	Code	Description	Project	File	Line	Suppression State
Error		The ExtensionsMetadataGenerator package was not imported correctly. Are you missing 'C:\Users\kloganathan\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.1.1\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets'

[2019-06-10 20:25] AllisonBolen commented on #4486
I am also experiencing this problem:

*Original (link w/o proxy):*
Set-Cookie: ...value.. ,
Set-Cookie: ..value... ,
....

*Proxy link* :
Set-Cookie: ...value..., ...value..., ...value..., ...

We looked into possibly intercepting the request and splitting the cookie headers ourselves, but doesn't look like its possible. If there is a hot fix to use in the mean time, we would love to know.

[2019-06-10 20:38] maiqbal11 opened #4556 "Raw body bytes capability"
Add capability for language workers to request for the Host to send truly raw body bytes (rather than string encoding). Needed to fix  https://github.com/Azure/azure-functions-python-worker/issues/380.

[2019-06-11 06:21] SteveLockley commented on #4545
I have this issue, just build a blank project with the version 1 functions template in visual studio 2017. Then update the version of the functions sdk to 1.0.28 and you will see this error.

[2019-06-11 06:33] nikagarwal25 commented on #4389
@brettsam For me, my function doesn't log anything in the monitor. It is a time trigger, v2 app.

[2019-06-11 06:34] nikagarwal25 commented on #4389
Runtime version: 2.0.12507.0 (~2)

[2019-06-11 09:02] TynThordin commented on #4545
Same error for me after updating to Functions SDK 1.0.28 from 1.0.27 in a .NET Framework 4.8 project.

[2019-06-11 10:55] benbelow opened #4557 "Warn on malformed local.settings.json"
If the `local.settings.json` file is malformed in any way, my application settings are not available although there is no indication that this will not be the case.

Expected Behaviour:

If a malformed local.settings.json file is used, a warning should be displayed to let the user know that the settings will not be loaded.

Actual Behaviour:

There is no indication that the file has not loaded unt

[2019-06-11 10:59] PureKrome commented on #4049
@fabiocav or @cgillum - could we please get a status update with this. Even if there's no good news, at least we know how this issue stands with the Azure Functions team.

Please just tick one of the three options ... it will take you a second...

- [ ] We think this issue is important and we are currently trying to get a fix resolved.
- [ ] We think this issue is important but it's not important

[2019-06-11 13:06] brettsam commented on #4545
@SteveLockley (and really anyone else seeing this) -- would you be able to run `msbuild {project file} /bl` and email me the msbuild.binlog file? My email is in my github profile.

I'm not seeing this when I try to do a simple repro, so there must be some subtle difference that I'm missing. Thanks in advance!

[2019-06-11 13:08] brettsam commented on #4389
@nikagarwal25  -- If you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I find anything from the backend logs.

[2019-06-11 15:03] #4273 closed

[2019-06-11 18:26] kashimiz commented on #4491
You'll want to use `AZURE_FUNCTIONS_ENVIRONMENT`. The Functions runtime that powers a Function app on Azure is the WebHost project in this repo. As the host is initializing, it looks for the `AZURE_FUNCTIONS_ENVIRONMENT` app setting (as `EnvironmentSettingNames.EnvironmentNameKey`) and [passes it to the IWebHostBuilder](https://github.com/Azure/azure-functions-host/blob/bb15fba262572a9af1aff7f57ed

[2019-06-11 18:32] #4491 closed

[2019-06-11 21:10] #4393 closed

[2019-06-11 23:40] mhoeger commented on #1822
@ColbyTresness - should this be closed?

[2019-06-11 23:54] mhoeger opened #4559 "Functions fail with "Number of initialized language workers exceeds:2""
For dedicated Java function apps, we see some functions failing with the following error:

This is due to a race condition that starts 2 java.exe processes when we only expect one.

Workaround:
Since it is a race condition, sometimes restarting the app gets it in a healthy state.

If this does not work, you can try removing `FUNCTIONS_WORKER_RUNTIME` until the fix is rolled out

cc: @pragnagopa

[2019-06-11 23:55] ColbyTresness commented on #1822
Yeah I believe this is complete

[2019-06-11 23:55] #1822 closed

[2019-06-12 00:00] #4504 closed

[2019-06-12 00:10] ankitkumarr commented on #4514
Periodic logging for function apps was added. And the detector was updated to take advantage of the new logging. Any function app on future Host Versions will be detected properly for offline status.

All the work items have been completed. Closing this issue.

[2019-06-12 00:10] #4514 closed

[2019-06-12 01:12] pragnagopa commented on #4559
[RpcInitializationService](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/RpcInitializationService.cs) is an IHostedService which runs in the background.

[InitializeChannelsAsync](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/RpcInitializationService.cs#L62) takes longer specifically for Java ~30secs and does not complete before [Func

[2019-06-12 01:32] pragnagopa commented on #4559
Related pattern discussed here: [running-async-tasks-on-app-startup-in-asp-net-core-part-1](https://andrewlock.net/running-async-tasks-on-app-startup-in-asp-net-core-part-1/)

[2019-06-12 11:47] bennor commented on #4187
Just in case this is helpful to anyone, I couldn't figure out why _none_ of my dependencies were being injected when running in a functions app (after working locally).

Turns out I had the `Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator` package installed and removing that fixed it for me.

[2019-06-12 13:03] brettsam commented on #4545
I see it now. I had to clear my nuget cache and I get the same error. I was too aggressive in validating imports in my last change and it affects .NET 4.x projects.

The workaround is to directly reference ExtensionsMetadataGenerator 1.1.1. I'm working on the fix now. Thank you all for the report!

[2019-06-12 14:11] asears commented on #1864
Same issue in v2 java function app.

Singleton lock renewal failed for blob 'xxx/host' with error code 409: LeaseIdMismatchWithLeaseOperation. The last successful renewal completed at 0001-01-01T00:00:00Z (-2147483648 milliseconds ago) with a duration of 0 milliseconds. The lease period was 15000 milliseconds.

Runtime version: 2.0.12507.0 (beta)

[2019-06-12 14:27] APIWT commented on #3399
I have the same issue with no usage of a Delegate Factory. I think this issue is just with scoped services in general. I'm not exactly sure what causes them to get treated as a singleton but this is blocking us.

[2019-06-12 14:51] #4510 closed

[2019-06-12 16:18] pragnagopa commented on #4140
Also, need to include information on FunctionAppRoot

[2019-06-12 17:40] cmenzi commented on #586
Is there any updates on this?

It would be really great having an extension point for this:

[code]

[code]

Together with DependencyInjection -> Very powerfull!

It's also ok, that this is called per function instance, but at least we have the possibilty to hook into with an async interface.

What do you think?

[2019-06-12 18:02] Jaffacakes82 commented on #4536
Since I raised this a new version of the host run-time has been released which seems to have fixed the issue.

It would be good to know what was broken before 😄.

[2019-06-12 18:48] #3386 closed

[2019-06-12 18:59] #4556 closed

[2019-06-12 19:27] soninaren commented on #4380
@espray can you add a little more context why you need to remove this particular line? I suppose we could remove the debug line. Not sure about using ILogger.

[2019-06-12 19:47] klogan12 opened #4562 "Remote Debugging - Break points does not resolve symbols"
I tried Remote Debugging using Attach process method on port 4022.
I selected CoreCLR code , and w3wp.exe. But breakpoints are not hit due to symbol issues.
I am using Visual Studio 2019. Did not work from Cloud explorer as well.

[2019-06-12 19:59] #4545 closed

[2019-06-12 22:29] soninaren commented on #4313
@Raspbier
if you want timer trigger to run every minute the correct chrone expressions is : `0 */1 * * * *`

[2019-06-12 22:47] soninaren commented on #4312
@JishnuSidh can you share the most recent app name and timestamp when this occurred?

Additionally could you provide the following information
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0):
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

@brettsam and @ealsur any idea what could be causing this?

[2019-06-12 22:59] soninaren commented on #4307
@brettsam do you know if we log this from on our end?

[2019-06-12 23:02] soninaren commented on #4378
@mhoeger any idea what is causing this?

[2019-06-12 23:03] MisinformedDNA commented on #2366
@jeffhollan From your post, I wish there was a more elegant solution than

[code]

If the only difference is the "bin" folder, could we just delete the "bin" folder? For compatibility reasons, I'm going to guess the answer is no, but could we just override the "OutDir" property (or something else), so it is outputted in the right location in the first place? Or is the copy necessary?

[2019-06-12 23:05] ealsur commented on #4312
Either the Cosmos DB Auth Key is read only, or it's a Token without permissions to operate on that particular container is the most common source of this message.

A stack trace would help determine where is it coming from.

[2019-06-13 00:34] mikeking27 commented on #4486
I have experienced this same issue as well, as documented above.  It would be nice to see a resolution for this.

[2019-06-13 02:00] #4381 closed

[2019-06-13 05:57] PiotrWachulec opened #4566 "DI and Custom Binding configuration in Startup.cs"
#### Is your question related to a specific version? If so, please specify:
Yes - the current version - that supports DI.
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
In my function app I would like to use new Dependency Injection feature and Custom Input Binding. So for now for Custom Binding the configuration in Startup class looks like below:

[2019-06-13 07:57] MCL-Fulljames opened #4567 "Cant access advanced tools (Kudu) with Linux Function app using Python"
#### Investigative information
- Timestamp: 13/6/2019 - 08:52am
- Function App version (1.0 or 2.0): 2.0
- Region: West Europe

#### Repro steps
Deploy a Linux Python Function app, in the platform features try at open the "advanced tools (Kudu)"

#### Expected behavior
Open Kudu console when clicked within the platform features of the function app.

#### Actual behavior
When the Kudu link is click

[2019-06-13 08:28] Jaffacakes82 commented on #4536
Sorry, re-opening this - still broken in 2.0.12507. Had to revert back to 2.0.12438.0.

[2019-06-13 13:57] leszekkoc commented on #4187
@mhoeger Can you please let us know if this issue is fixed already on ~2?

[2019-06-13 16:27] invisibleaxm commented on #3846
@brettsam, do you mind commenting on this? Is this a quick win or is it a big effort to expose the connectivity mode parameter to the servicebus binding? Should I file this issue in a different repo ?

Your advice is greatly appreciated.

[2019-06-13 16:36] dawwa opened #4568 "1.x: Errors when adding nuget package for multiple Functions in a single App?"
Would you please help to understand how we can add nuget package reference for multiple functions in an app?

As seen in the screenshot.
Initially I added the project.json on my first function, when I do the same for my second function, the NuGet folder does not get created, and I also **get the error below and my second function cannot run.**

**If my function need reference nuget package, do I h

[2019-06-13 17:04] mathewc opened #4569 "Runtime Trigger Metrics and Scale Metadata"
To support VNET scenarios where ScaleController doesn't have access to monitor event sources directly, we'll enable the runtime to provide the metrics required for scale decisions on demand. ScaleController will query a new API to get the current metrics for all triggers as well as declarative scale rules which it will apply.

Notes:

- trigger binding extensions can implement a new interface to r

[2019-06-13 17:13] mathewc opened #4570 "ANT 84 Functions ARM Improvements"
On the heels of the updates made in ANT 82 https://github.com/Azure/azure-functions-host/issues/3994 we'll be making another wave of updates for ANT 84. The primary driver for these changes is the Functions Portal, to enable it to move to ARM rather than direct runtime calls.

New APIs will be:

- **GET Host Status** - returns host status details (including the details currently returned by the ru

[2019-06-13 18:12] mhoeger commented on #4187
@leszekkoc - yes, the issue originally reported is fixed on ~2! We detail how to use DI on our [docs page here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection). If you are still having issues with DI, please open up a new issue for us to investigate. Thanks!

[2019-06-13 19:42] adrianknight89 commented on #912
Guys, any update on this? For my use case, I need a way to serialize changes to globally unique fields like usernames, and I'm using CosmosDB which doesn't have uniqueness guarantees across partitions. So, the only way to achieve this, afak, is through a singleton function. This feature request should not be put on the backburner.

[2019-06-13 20:07] fabiocav commented on #4559
Currently in PR, will remain in 51

[2019-06-13 20:10] fabiocav commented on #4240
This is pending validation only. Should be able to close it in 51

[2019-06-13 20:11] celedorph opened #4571 "Java AppSettings disappearing from environment variables"
#### Investigative information

Please provide the following:

- Timestamp: 2019-06-13T19:49:31.860
- Function App version (1.0 or 2.0): 2.0
- Invocation ID: 35d80104-26eb-426e-9850-9aaa27a0cd2b
- Region: eastus

#### Repro steps

Provide the steps required to reproduce the problem:

1. Call System.getenv with the key of an existing AppSetting

#### Expected behavior

1. The value returned will be

[2019-06-13 20:11] fabiocav commented on #4076
Assigning this to 52. This will likely become an epic and broken down into smaller tasks.

[2019-06-13 20:13] fabiocav commented on #4403
Moving this to triaged as the impact is low and there are a few design questions.

[2019-06-13 20:20] fabiocav commented on #4438
Can you add a brief description here?

[2019-06-13 20:21] fabiocav commented on #4223
@mattchenderson FYI - moving to 52

[2019-06-13 20:27] fabiocav commented on #4154
Merged.

[2019-06-13 20:27] #4154 closed

[2019-06-13 20:31] fabiocav commented on #3975
In PR. Moving to 52

[2019-06-13 20:36] #4458 closed

[2019-06-13 20:37] fabiocav commented on #4329
Prioritizing #4533 over this

[2019-06-13 20:43] fabiocav commented on #554
Tracked and resolved in #4069

[2019-06-13 20:44] #554 closed

[2019-06-13 20:57] SimonLuckenuik commented on #912
The singleton is working: https://github.com/Azure/azure-functions-host/issues/912#issuecomment-419608830

[2019-06-13 21:15] pragnagopa commented on #4240
Verified across stamps. All the placeholder id is backfilled.

[2019-06-13 21:15] #4240 closed

[2019-06-13 21:40] #4559 closed

[2019-06-13 22:32] ConnorMcMahon opened #4572 "Upgrade Functions V1 Host from .NET 4.7.1 to 4.7.2"
#### What problem would the feature you're requesting solve? Please describe.

Currently, while .NET 4.7.1 is _technically_ compatible with .NET Standard 2.0, using any dependencies that depend on .NET Standard 2.0 imports dozens of libraries from CoreFX to allow that compatibility with .NET Standard 2.0. This is obviously not ideal.

#### Describe the solution you'd like
Upgrade the target versio

[2019-06-14 00:09] fabiocav opened #4573 "Host crashes caused by log contention [v1]"
Tracking the issue reported in #3745 for v1

[2019-06-14 00:21] APIWT commented on #4425
Do I need to put a filter for every class that depends on the logger? Or can I get away with just specifying my project namespaces?

[2019-06-14 00:38] macgyver2k commented on #4486
I once encountered an error page for the proxy. It looked pretty much like a Jetty error page. So the problem may not be fixable inside Azure Functions implementation. I also could not find any line of code beeing accountable for this issue inside Azure Functions.

[2019-06-14 01:29] brettsam commented on #4425
In short, you can typically just put your namespace... it finds the longest matching prefix and uses that rule. The logging docs have some more complex examples: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.2#how-filtering-rules-are-applied

[2019-06-14 01:52] pragnagopa opened #4574 "Refresh language worker options after specialization"
WorkerConfigs are initialized here:
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/Configuration/LanguageWorkerOptionsSetup.cs#L25

Worker configs need to refreshed after specialization to allow customizing any language worker processes that start inside jobhost

cc @christopheranderson

[2019-06-14 08:35] leszekkoc commented on #4187
@mhoeger - the upgrade to Microsoft.NET.Sdk.Functions package version 1.0.29 has done the job in my case.

[2019-06-14 11:09] APIWT opened #4575 "Recommended way to manage separate host configs"
What is the recommended way to have a separate host.json file per CI environment/deployment?

[2019-06-14 11:41] richardhauer opened #4576 "DI injected IServiceProvider is not the currently scoped provider"
I have been trying to work out for a while where the scope is managed in Azure Functions.  The Host Runtime creates a `Microsoft.Azure.WebJobs.Host.Executors.FunctionInstanceWrapper, Microsoft.Azure.WebJobs.Host` which implements the `IFunctionInstanceEx` interface.  There is a property `InstanceServices` which (lazily) opens a new scope and returns the `IServiceProvider`.  This interface is used

[2019-06-14 13:34] APIWT commented on #4576
I am having a very similar issue. This is a serious blocking issue for my team. There are numerous reports about bugs surrounding scoped services. Please respond Microsoft.

[2019-06-14 13:36] APIWT opened #4577 "Proper way to access ILogger and IConfiguration inside Startup"
#### Is your question related to a specific version? If so, please specify:
v2 (latest)

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
What is the proper way to get access to IConfiguration and ILogger inside a custom startup class?

[2019-06-14 13:49] richardhauer commented on #4576
FWIW, I can demonstrate scoped constructor injection working properly, though I have not tried to force a multi-thread issue. The problem for me is specifically using DI to inject an ISerciceProvider to use in a (known anti-pattern) service locator type model.

I have refactored at the moment to use a dynamic StateBag and factories, so it’s not a blocker for me, but I can imagine a scenario where

[2019-06-14 15:06] espray commented on #4576
Scoped services have an issues when specified using a factory

#3399

[2019-06-14 23:29] klogan12 opened #4578 "Publish from VS 2019 fails"
Publish from VS 2019 fails with below error. It works when i try to publish to newly created function app. Any insights or logs to check?

System.AggregateException: One or more errors occurred. ---> System.Exception: Publishing failed.
   --- End of inner exception stack trace ---
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
   at System.Threading.Ta

[2019-06-15 16:21] icpenguins commented on #4549
This is a blocking issue as proxies are required for the application architecture. Is there an ETA to when this will be resolved as the function has not worked for over 2 weeks?

[2019-06-15 21:27] adrianknight89 commented on #511
@mathewc So this property is not reliable, then?

[2019-06-16 14:16] alexkyse1 commented on #4181
@rogeralsing solution worked out. Deleted 2.0 runtime & 2.1 runtime, using sdk 2.2.15

[2019-06-16 19:24] Arash-Sabet commented on #4397
Any ETA on when this feature will be rolled out? According to the issue reported in Azure/azure-functions-core-tools/issues/1341 we are pretty much stuck and unable to progress at all!

@jeffhollan @fabiocav

/cc @miladghafoori

[2019-06-17 08:45] richardhauer commented on #4576
So just adding to my issue - I can confirm this is also a problem - the IServiceProvider supplied as an argument to service registrations with delegates is the root scoped provider, not the current scoped provider.  This is a pretty serious issue now.

Adding fuel to the fire, the global filters (an array of registered `IFunctionInvocationFilter` objects are passed into the `FunctionExecutor` as a

[2019-06-17 09:27] george-ayris commented on #4521
Small update: having tried to do some more digging I'm now seeing the function app hitting a connection limit, which then seems to cause the function app itself to restart and, on the resumed execution of the durable function, the `ObjectDisposedException` is thrown.

[2019-06-17 11:58] benm-eras commented on #3168
I initially raised an [issue](https://github.com/aspnet/EntityFrameworkCore/issues/13145) over this in August last year, and given the [recent](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) update to allow proper DI in Azure Functions I thought I would give it a whirl and I was disappointed to see that the exact same issue persists 10 months later! I

[2019-06-17 11:59] benm-eras commented on #4006
I initially raised an [issue](https://github.com/aspnet/EntityFrameworkCore/issues/13145) over this in August last year, and given the [recent](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) update to allow proper DI in Azure Functions I thought I would give it a whirl and I was disappointed to see that the exact same issue persists 10 months later! I

[2019-06-17 16:56] pragnagopa commented on #4488
Note: Do not have to specialize this fix for node worker as the guidance for handling reload requests on the worker is to clear environment variables and replace

[2019-06-17 19:56] SidShetye opened #4581 "System.Runtime.Caching is not supported on this platform"
We publish .NET standard libraries that use `MemoryCache` from `System.Runtime.Cache`. One of our customers wants to use our libraries with Azure Functions but this doesn't work. The error is

`System.Private.CoreLib: ... <snip> ... System.Runtime.Caching: System.Runtime.Caching is not supported on this platform.`

Interestingly `MemoryCache` already works with .NET Core 2.1 ([info](https://github

[2019-06-17 22:27] mathewc commented on #3994
Closing this since these APIs are now live.

[2019-06-17 22:27] #3994 closed

[2019-06-17 22:29] mathewc commented on #3635
The new keys APIs are now live.

[2019-06-17 22:29] #3635 closed

[2019-06-17 22:34] mathewc commented on #3411
Addressed via https://github.com/Azure/azure-functions-host/issues/3994 - the new key management APIs are now live. Rather than the old "listsecrets" API if you now use the new "listkeys" APIs as described in the issue above,

[2019-06-17 22:34] #3411 closed

[2019-06-17 22:35] mathewc commented on #2623
FYI - the ARM API work described in https://github.com/Azure/azure-functions-host/issues/4570 addresses this. Closing this issue in favor of that tracking item.

[2019-06-17 22:35] #2623 closed

[2019-06-17 22:39] mathewc commented on #1752
Resolved by https://github.com/Azure/azure-functions-host/issues/3994.

[2019-06-17 22:39] #1752 closed

[2019-06-18 02:25] pragnagopa commented on #3975
Discussed this offline. Adding notes here:
Errors on LoadResponse are currently cached as there was no function level logger. One of the goals of this issue is to be able to see function load errors on the portal. This would improve getting started experience for out-of-proc languages.

[2019-06-18 05:16] PureKrome commented on #4577
@APIWT Have you tried experimenting with [Azure Functions + Dependency Injection](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection). Those docs show some examples.

[2019-06-18 05:19] PureKrome commented on #4578
@klogan12

- Did you create this function app before? How did you create it? Did someone else create it?
- Are you trying to publish to an _existing_ Azure function? (refer to above, also)
- What version of the azure function tools/cli etc are you using?

The team will probably require heaps more info to help you.

[2019-06-18 05:24] PureKrome commented on #4581
@SidShetye Just thinking off the top of my head, but instead of using a `MemoryCache` is there any chance you could use `IMemoryCache` ([docs here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.caching.memory.imemorycache?view=aspnetcore-2.1)) which are part of [`Microsoft.Extensions.Caching.Abstractions' nuget package](https://www.nuget.org/packages/Microsoft.Extensions.Caching

[2019-06-18 09:38] UMANGAWASTHY opened #4587 "Azuer Function + KeyVault + User Assigned Managed Identity inside a single resource group."
Azuer Function + KeyVault + User Assigned Managed Identity inside a single resource group.
I am using Keyvault secrect to store sql server creditional and i am access this secrect inside azuer function v2(.net core) using User Assigned Managed Identity.
While development on Visual Studio 2019 it is working . After publish to azuer it's not working.
It's throwing error like this :
Parameters: Conne

[2019-06-18 14:15] chaheti29 commented on #2619
@paulbatum Is there any specific setting that should be used.
I want to abort a timer based function current run based on certain condition. How can I achieve that. It should again run on scheduled time.

[2019-06-18 16:13] klogan12 commented on #4578
@PureKrome  I created function app from Azure portal. it used to work when i publish function code from VS 2019.
Lately it started throwing this error.  Publishing same project to different function app is working fine. So i guess it is issue on the function app side.

Azure function core tools version : 2.7.1158

[2019-06-18 16:35] KalyanChanumolu-MSFT commented on #4517
So what does that mean?
How do we read configuration from host.json/local.settings.json?
When can we expect a Visual Studio project template with a proper startup.cs and all the plumbing put together?

[2019-06-18 17:23] espray commented on #4517
@KalyanChanumolu-MSFT
I would recomend following #4577 for that information

[2019-06-18 17:27] espray commented on #4577
This looks like a duplicate of #4464

[2019-06-18 18:34] alexkarcher-msft opened #4588 "Allow runtime to be pre-warmed along with Premium Plan worker pre-warming"
In the Premium Plan we allow workers to be "pre-warmed" to mitigate cold start. Currently this method does not pre-load the runtime and results in a cold start penalty when scaling out beyond your minimum pre-warmed instances while still within your minimum plan size.

This delay is most noticeable in languages with long initialization times like CSX, JS, etc.

The current proposals are:

1. Add a

[2019-06-18 18:48] jeffhollan commented on #4588
Thanks @alexkarcher-msft.  @fabiocav / @alexkarcher-msft  my preference is very much on #2.  It'd be a bit of a pain for a customer to have to make sure to update an app setting on deployment of a function to some arbitrary route whenever they wanted this feature.  Also means as I run the app across environments I have these different env variables I assume?

Anyway know it may be "easier" but I t

[2019-06-18 21:00] mhoeger commented on #2737
Update on this issue:
Although the fix is checked in, it has not yet been released. If you urgently need to set cookies, please add a proxy that modifies the response headers of your function as a workaround.

Here's an example:

![image](https://user-images.githubusercontent.com/8888531/59719431-2e26d500-91d1-11e9-9876-aa432aad5898.png)

Will update this issue when it is released.

[2019-06-19 06:55] madnessaa opened #4592 "Azure functions .NET Core 2.1 not woken up by messages on Service Bus after inactivity"
Azure functions application targeting framework .NET Core 2.1 on consumption plan is not woken up by messages on Service Bus subscription once it goes idle / to sleep due inactivity.

Error displayed when trying to browse function during its downtime is as follows:
HTTP Error 500.30 - ANCM In-Process Start Failure
Common causes of this issue:
The application failed to start
The application started

[2019-06-19 08:17] baterphq opened #4593 "Azure function timer trigger is running mysteriously"
Hello,

regarding to my question on StackOverflow and Katy Shimizu I'm posting my question also here:
https://stackoverflow.com/questions/56478013/azure-function-timer-trigger-is-running-mysteriously?noredirect=1#comment99646680_56478013

I've got one Azure function with a timer trigger for 01:00. The function is V1 and I use c#-script for it. The function is doing an post request to another API.

[2019-06-19 09:02] andronachev opened #4594 "DI Exception when trying to resolve service in the Run function"
Hi,

I implemented the Startup class for adding my business services to the initial ServiceCollection (so that I don't lose for example all the logging services that come with the framework).

My function needs to resolve different services (EventHandlers) based on the event type that it receives, so I thought of making use of the ServiceCollection, call BuildServiceProvider() and then get the ser

[2019-06-19 10:28] KalyanChanumolu-MSFT commented on #4517
#4464

[2019-06-19 10:42] KalyanChanumolu-MSFT commented on #4464
A Visual Studio project template similar to the asp.net core web/api app with the startup.cs and appsettings.json put together would be of great help than having to create these manually.

[2019-06-19 11:40] oatsoda commented on #2720
I'm using the new `FunctionStartup` [Dependency Injection for Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) and was also having this problem.

`ILogger` injected into the Functions "Run" methods themselves worked fine.  But when I added `ILogger<T>` to a type `T` which was injected by DI, it would not log.  The instance of `ILogger<T>` its

[2019-06-19 12:43] mioconnor commented on #4055
@QuantechTP @brettsam Did you manage to get to the bottom of the /binbin path issue?

[2019-06-19 14:11] bchrisb commented on #4345
@brettsam when you say: `The below settings will allow any category that starts with "OrderService" to be logged at "Information" and above levels.` what is a "category"? I am experiencing this bug but I'm not quite sure what the workaround is? See my code below:

	private ILogger<ServiceLogger> _logger;
	private readonly string _version;
	private readonly string _deploymentRegion;

	public Servic

[2019-06-19 14:22] bchrisb commented on #4345
@brettsam sorry, I've just found the answer to my own question by looking at this: https://github.com/Azure/azure-functions-host/issues/4425#issuecomment-492678381

[2019-06-19 14:28] sec commented on #4594
Getting the same error - it's linked with using "IHttpClientFactory' in copnstructor of my custom service that's being injected into "Run" method.

[2019-06-19 15:27] abkeble commented on #4263
@lmolkova I seem to be having the same issue with my Azure Python Function App. I have followed the link to the FAQ you provided and see that I need to configure a local folder for the telemetry channel, however I am unsure how I would convert the C# example into Python. Were you able to do this in Python?

[2019-06-19 16:11] brettsam commented on #2720
I'm going to close this now as you can request an `ILogger<T>` in any DI-registered service, and you'll get one that's wired up to all the logging that the functions host uses. https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

@oatsoda points out that the logging filter settings may need tweaking (due to #4345).

See some of my comments here for some mor

[2019-06-19 16:11] #2720 closed

[2019-06-19 16:16] brettsam commented on #4055
I can't remember -- there's been a bunch of fixes here :-)

If you're seeing a problem with Microsoft.Net.Sdk.functions 1.0.29, can you open a new issue with the description and I can take it from there? Feel free to mention me (and link it in a comment here) and I can take a look. If you're able to run the build with "/bl" and email me (email is in my github profile) the msbuild.binlog file that

[2019-06-19 20:33] SidShetye commented on #4581
@PureKrome Regardless of the details, it still means library publishers must rewrite to consider Azure Functions' limitations. It also adds configuration and documentation complexity instead of having things "just work".

@mathewc or @fabiocav - what do you guys think? With support for `System.Runtime.Cache` already in .NET Core 2.1, can you support this in Azure Functions relatively easily? Also,

[2019-06-19 21:27] fabiocav commented on #4594
@andronachev can you please share a repro so we can better understand how you're performing the service registration.

Also, you've mentioned you're seeing the issue when taking a dependency on `ILogger`, which isn't a service type that will be available (it is a binding, but not a registered service). Do you see the issue if you instead use an `ILogger<T>` or take a dependency on `ILoggerFactory`

[2019-06-19 21:36] SidShetye commented on #4581
To add, even ASP.NET [documentation](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/memory?view=aspnetcore-3.0) says `System.Runtime.Cache` should work, so having Azure Functions support it would keep customer experience consistent.

[2019-06-19 21:47] #4445 closed

[2019-06-19 22:01] fabiocav commented on #4578
@klogan12 if this failure is only happening to one Function App, could you please share the app name? Or, you can also share an invocation ID, region and timeframe so we can take a closer look at the logs.

Based on the stack above, I'm also curious... have you tried to reconfigure the deployment target/re-download the publish profile?

[2019-06-19 23:17] #4528 closed

[2019-06-20 00:00] #4313 closed

[2019-06-20 00:11] PureKrome commented on #4581
@SidShetye

Can you please explain what you mean by this? If I was going to be adding some internal caching into a nuget package (which also has nothing to do with ASP.NET stuff with respect to caching), I would still be using `IMemoryCache` and this is generic across _anything_ .NET Core related. So I wouldn't care if your host would be a console-app, web-app or functions-app ... it's agnostic to

[2019-06-20 01:00] #4312 closed

[2019-06-20 04:48] PureKrome opened #4597 "Questions about local.settings.json / configuration files with Azure Functions."
#### Is your question related to a specific version? If so, please specify:
Version 2.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question

:wave: Hi team! I have a few questions about Azure Functions and configuration file(s) with respect to .NET core (in general):

- why `local.settings.json` was named that, instead being called that instead of `ap

[2019-06-20 05:23] andronachev commented on #4594
Hi,

Sorry, I meant to say ILogger<T> , so that remark is fine.. not using ILogger, but ILogger<T>.

I created this repository here: https://github.com/andronachev/FunctionDependencyResolution , it is based on @Dave76 answer, where he provides a link to his repository, on this separate thread (https://github.com/MicrosoftDocs/azure-docs/issues/31278) .

What I've done is added the ILogger<T> to th

[2019-06-20 11:27] kipergil commented on #4049
Guys any update on this ? Will be glad if you fix it.

[2019-06-20 11:27] pksorensen commented on #4049
This is the most annoying thing that keeps coming back to annoy me on Azure functions at this point.

[2019-06-20 11:28] kipergil commented on #4049
Did someone find a workaround for this ?

[2019-06-20 16:06] klogan12 commented on #4578
@fabiocav  Function app: turinfunctionapps
I tried reconfig/redownload. IT did not help.

Today i tried to push several times around 12:00 to 12:10PM EST.

[2019-06-20 17:29] cgillum commented on #4572
Also, here is a blog post which goes into more details about why .NET 4.7.2 works better for customers or extension authors who are target or using .NET Standard 2.0 dependencies:
https://weblog.west-wind.com/posts/2019/Feb/19/Using-NET-Standard-with-Full-Framework-NET#the-first-version-that-fully-net-standard-20-compliant-is-472

Somewhat related issue: https://github.com/Azure/azure-functions-ho

[2019-06-20 17:36] jyn514 commented on #1781
This doesn't give a warning if you have it in a regex constraint, it took me a while even to figure out that this was intentional. If I change it to say `"route": "admin"` it gives a warning. Sample code:

[code]

[2019-06-20 18:09] paulbatum commented on #2619
This thread was discussing the usage of the disable flag to stop a current function execution. The documentation for disabling functions is here: https://docs.microsoft.com/en-us/azure/azure-functions/disable-function#functions-2x---all-languages

I will note however, that this method would interrupt other function executions in the same function app. If that behavior is not desirable, you'll need

[2019-06-20 18:48] willdaviesdevelops commented on #4597
[i'm just a regular dev, not affiliated with MS]
In my opinion, the likely reason for the drift is that Azure Functions was originally not .net core.  The original run time (1.0) was .net framework only (apart from the other non-MS languages).  That .net implementation did not offer those conventions (DI, IoC) by default either.  I hope that explains the potential drift.
Now that it _does_ support

[2019-06-20 23:07] grimmersnee commented on #3493
we are also experiencing this. our .net function app is hosted using an app plan and has a function that is queue triggered. It seems to stop every 7 days or so, which is a pain.

We have other queue driven functions in node and they don't experience this (although they are on the consumption base model.)

app insights don't show any exceptions, so this is pretty hard to troubleshoot

[2019-06-21 00:26] PureKrome opened #4599 "After some time, an Azure function gets stuck running to 100% CPU"
Hello Team,

recently (last fortnight or so) our team has noticed that our app service _plan_ was running at 100%. The plan has 2x .NET core "web api" websites and 1x Azure Function. Stopping the function caused the cpu to drop to 0%.

The function contains a few timer based triggers and queue triggers. Currently it's _very_ low usage as there's not really any queue items getting triggered, while

[2019-06-21 01:21] ankitkumarr commented on #4567
@MCL-Fulljames, I am guessing you are on a Consumption plan. Advanced Tools (Kudu) is currently not supported for Linux Consumption plans.

Closing this issue, feel free to re-open if you have further questions.

@dariagrigoriu as fyi that it does not show as disabled in the portal.

[2019-06-21 01:21] #4567 closed

[2019-06-21 01:50] ankitkumarr commented on #4552
@TurtleBeach, I looked at our logs and I do not see any function invocation between 2019-06-09 01:42 UTC and 2019-06-10 01:42.

Additionally, I only see an HttpTrigger function in the app, contrary to any Timer Trigger you mentioned. Perhaps you were seeing issues in some other function app?

[2019-06-21 02:16] ankitkumarr commented on #4500
@BKB503, I believe this might have been caused by a race condition we recently fixed -- https://github.com/Azure/azure-webjobs-sdk/issues/2194

The last Functions runtime update should have included the fix. I think it is rolling out this week. Closing the issue, please feel free to re-open if you continue to see any such issue.

[2019-06-21 02:16] #4500 closed

[2019-06-21 02:38] TurtleBeach commented on #4552
@ankitkumarr. The function in question is in fact an HttpTrigger function. Not sure why you interpreted anything I said as being relate to a timer trigger. I believe the function failed due to timing out (running longer than 10 minutes), though there could have been another cause, And that is why the lack of log information was/is frustrating. I caused the function to be executed multiple times wi

[2019-06-21 02:56] ankitkumarr commented on #4552
@TurtleBeach, sorry somehow I read "Trigger function" as "Timer function". I apologize.

I expanded the timeframe and I do see a failed timeout execution on June 8 instead of June 9 around 20:30.

We do turn on sampling on Application Insights logs by default. That might be why you are not seeing all the logs. To turn off sampling or read more about it, you can visit [this doc page]( https://docs.

[2019-06-21 04:23] PureKrome commented on #4597
ah yeah - forgot that it was .net-old. fair point then.

And .. how is this different to:
- `appsettings.json`  <-- local
- `appsettings.developer.json`  <-- dev server
- `appsettings.production.json` <-- prod server

I guess the more I work through this issue (after opening it) I'm _hoping_ that the AzF team will migrate their configuration story, over.

[2019-06-21 08:43] amd032 commented on #3747
Hey guys,
at least two people asked about the progress on this issue, and there's no answer. Does anyone treat the users seriously here? We need this telemetry to work in node, javascript and java, and would like to know when we get it from azure developers.

[2019-06-21 11:50] MaxHogervorst commented on #85
Any ETA on this?

[2019-06-21 14:03] jyn514 opened #4600 "Disable verbose logging from the runtime when running locally"
#### What problem would the feature you're requesting solve? Please describe.
I'm running `func host start` locally. When I get a request, I get verbose logging to the console that looks like this:

[code]

This is a lot of output and it drowns out the errors that I'm logging to the console, so I'd like to disable it. I know that I'm not outputting this information, so I think it's coming from the

[2019-06-21 14:25] alexgman commented on #85
eta on what? what is your issue?

On Fri, Jun 21, 2019 at 6:51 AM MaxHogervorst <notifications@github.com>
wrote:

[2019-06-21 16:14] safihamid commented on #4599
@PureKrome can you please share your profiles as well as your function code?
Also is this easy to repro if we deploy your function code?
feel free to send them to hamids at microsoft (dot) com

[2019-06-21 17:36] somsekhar opened #4601 "Failed to deploy web package to App Service"
Getting error every time while deploying azure function through CI-CD pipeline and manually.
We tried all the possible ways like setting MSDEPLOY_RENAME_LOCKED_FILES = 1, app offline service = true.
Also tried to delete the files from the folder before deployment.
Target framework : .Net Framework 4.6.1

The following is the error.
Failed to deploy web package to App Service.
Error Code: ERROR_FIL

[2019-06-21 18:49] ankitkumarr commented on #4593
@baterphq, This happened because the execution that started at 01:00 failed and never completed successfully. The failure at 01:59 caused Functions host to restart and it realized that it hadn't yet ran 01:00 to completion. So, it ended up running the function again.

I noticed that you have multiple timer triggers in your function app. Do all those functions are expected take a while to run?

Ple

[2019-06-21 19:53] yangyadi1993 commented on #4464
Another thought is that we could make a wrapper class of IConfiguration or IConfigurationRoot, in that way we could separate the logic of application settings and Azure function settings. In the dependency injection, we could only inject the wrapper class as a new type. We don't need to replace.

[2019-06-21 20:30] klogan12 opened #4602 "Azure functions and DevOps Pipe line"
I configured Devops Pipeline for azure function and build failed with below errors. Build works fine on my machine...
Sometime back i hit same issue on my local dev machine , reinstall of microsoft.net.sdk.functions helped.

C:\Users\VssAdministrator\.nuget\packages\microsoft.net.sdk.functions\1.0.28\build\netstandard1.0\Microsoft.NET.Sdk.Functions.targets(74,5): Error : The ExtensionsMetadataGene

[2019-06-21 22:25] paulbatum commented on #3493
@grimmersnee happy to have someone investigate if you're able to follow the guidance I mentioned above (a new issue with the template filled out, so we have the details we need to investigate).

[2019-06-22 02:13] brettsam commented on #4599
Also pinging @lmolkova. Does anything jump out at you here?

[2019-06-22 03:47] lmolkova commented on #4599
Please also add  `"enableW3CDistributedTracing" : false` under `httpAutoCollectionOptions`

[2019-06-22 05:06] iyerusad opened #4809 "Proxies: Worker was unable to load function: The argument 'id' must be a non-empty string."
Error message cropped up today when locally running functions:

Haven't changed proxy configs in a while - appears to be either unexpected schema change or bug/regression in Azure Functions Core Tools/Function Runtime.

Removed node_modules, bin, obj, etc and did `npm i`. Same result.

---
**Azure Functions Core Tools:** 2.7.1373 - Commit hash: cd9bfca26f9c7fe06ce245f5bf69bc6486a685dd)
**Function

[2019-06-22 17:27] pragnagopa opened #4603 "Sprint 52 V1 Release"

[2019-06-23 18:14] jtlz2 commented on #4374
Any idea of prospects for this? @soninaren

Is InputStream to be avoided for images..? And if so are there any other  suggested workarounds? I see PIL Image.open() could be used - at the expense of a heavyweight dependency.

Any speedy advice much appreciated

[2019-06-24 01:07] snapfisher opened #4605 "Azure Functions PowerShell 2.x fails if arguments are read from a PowerShell variable"
#### Investigative information

Please provide the following:

- Timestamp: 2019-06-24 00:47:15.694
- Function App version (1.0 or 2.0): 2.0
- Function App name: RGReadResources
- Function name(s) (as appropriate): readresourcenames
- Invocation ID: c6d5a301-b7fa-42f0-847e-cf324be70dd4
- Region: East US 2

#### Repro steps

Provide the steps required to reproduce the problem:

This is a PowerShell

[2019-06-24 05:09] ArpitLabs commented on #3919
I had the same error `"The binding type(s) 'queueTrigger' are not registered. Please ensure the type is correct and the binding extension is installed."` with output log
[code]

Not exactly sure what was wrong but I updated all nuget packages for which an updated version was available and it worked.

[2019-06-24 07:55] apavelm commented on #4049
A half year elapsed, but the issue is still actual!

This is a quick fix, please do it

[2019-06-24 08:38] baterphq commented on #4593
Hi @ankitkumarr and thanks for your investigation.
Yes, the API which is called by this timer function can run for a long time (2hours and more). Are there best practices to get this problem solved?

[2019-06-24 13:56] espray commented on #4597
See below for history on local.settings.json
https://github.com/microsoft/vscode-azurefunctions/issues/327#
Azure/azure-functions-core-tools#122

[2019-06-24 16:28] espray commented on #4594
My guess its related to this DI injected IServiceProvider is not the currently scoped provider - https://github.com/Azure/azure-functions-host/issues/4576

I have seen similar issues injecting the 'IServiceProvider' and trying to resolve services with it.

[2019-06-24 18:48] fabiocav commented on #4049
There's a mix of issues reported here, so I wanted to comment on what I'm seeing and make sure we're using this GitHub issue to track the right thing.

- **For the issues reported with 1.x**: There's no plan to update the version used by Azure Functions 1.x. There is some documented guidance on how different versions can be used outside of the scope of a binding, but the other scenarios, an upgrad

[2019-06-24 20:49] DeanVanNiekerk commented on #3168
@benm-eras , I just tested using 2.2.0 and it is working, but it is broken in 2.2.4.

So it looks like at some point it was fixed, but the bug has most probably been reintroduced since 2.2.0

[2019-06-24 21:44] kevin-secrist commented on #4049
With regards to the metadata generation failure that I received, I'd provide repro details if I had them. I didn't have time to dig further into the issue back when I encountered it. It was on Functions 2.x, but it's possible that it could've been easily solved by something I hadn't tried.

I can provide what I remember at a higher level though in terms of what references that packages had

Main p

[2019-06-24 23:20] PureKrome commented on #4597
Cheers @espray for the links. that info does help.

Summary: I'm part of the group that must be in the minority. bummer and sadness.

I'm guessing these customers must have been pre .Core peeps. oh well ... more challenges :/

[2019-06-24 23:20] #4597 closed

[2019-06-25 00:20] fabiocav commented on #3168
This is being addressed with the release currently rolling out: https://github.com/Azure/app-service-announcements/issues/180

We're also going to post updates to the .NET Core/ASP.NET Core version supported by functions on the same announcements repo.

[2019-06-25 03:30] PureKrome commented on #4599
Apologies for the late reply -> I've been out of the office since my previous post. I've not looked at any stats or sent data so I'll action all of this later on today or tomorrow after my important tasks have been triaged, etc. Again, sorry for the late replies.

[2019-06-25 06:21] jtlz2 opened #4607 "Microsoft.Azure.WebJobs.Extensions.Storage: Object reference not set to an instance of an object."
#### Is your question related to a specific version? If so, please specify:

See below logging output

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

Python

#### Question

My stackoverflow question (https://stackoverflow.com/questions/56737086/azure-functions-python-blobtrigger-how-do-i-fix-microsoft-azure-webjobs-extensi) refers

**How do I fix "Microsoft.Azure

[2019-06-25 08:43] fume commented on #3745
hello, any update on this? I'm experiencing the same with a Durable Function applying the fan-out pattern.

regards, F.

[2019-06-25 10:04] mikhailshilkov commented on #364
This basically means that [the example from the docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#input---javascript-example) ([repeated twice](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#output---javascript-example)) doesn't work. For some files (e.g. text/html), it copies the contents but breaks the content typ

[2019-06-25 10:46] jtlz2 commented on #4607
As per my SO answer (https://stackoverflow.com/a/56752240/1021819):

By trial and error - and a completely misleading error message...

The answer is simply to set the environment variable AzureWebJobsStorage to the Storage account's master Access key Connection string, which looks something like this:

`DefaultEndpointsProtocol=https;AccountName=<account name>;AccountKey=<account key>;EndpointSuf

[2019-06-25 10:51] mikhailshilkov opened #4608 "Node: Blob output binding should support passing a Buffer"
#### What problem would the feature you're requesting solve? Please describe.

I'm running a Node.js Azure Function with an output Blob binding. I'm trying to save a binary file from a `Buffer`.

My binding:

[code]

Note that I tried `dataType=binary` but it doesn't seem to make any difference.

and in the function body:

[code]

The blob contents is written as

[code]

#### Describe the solution

[2019-06-25 13:26] brettsam opened #4609 "Fix logging in ScriptStartupTypeLocator"
We're always using a `NullLogger.Instance` in `ScriptStartupTypeLocator`, which means we're missing a bunch of good logs. We need to fix this.

https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/ScriptHostBuilderExtensions.cs#L207
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/DependencyInjection/ScriptStartupTypeLocator.cs#L36

[2019-06-25 13:30] PinoEire commented on #4494
Actually, I suppose we are talking about different things. We are porting from API App to Function. All our endpoints on API App have two attributes declared as follows:

**AuthorizeTenantKeyAttribute : AuthorizeAttribute
AuthorizeJWTTokenAttribute : AuthorizeAttribute**

So that APIs look like this:

**[AuthorizeTenantKey]
[AuthorizeJWTToken]
public IHttpActionResult SomeAPI(int someData)**

As i

[2019-06-25 14:45] AVee commented on #4304
It's two month's later now, although the reports go back 9 months or so:
https://github.com/Azure/azure-functions-host/issues/3052
https://github.com/Azure/azure-functions-host/issues/3568
https://github.com/Azure/Azure-Functions/issues/1138
https://github.com/Azure/Azure-Functions/issues/974
https://github.com/dotnet/wcf/issues/2824
https://github.com/dotnet/wcf/issues/2885
https://github.com/Azu

[2019-06-25 15:59] ahmelsayed commented on #4494
I see, the original issue made it sound like it's for a generic custom attribute. `AuthorizeAttribute` is an aspnet specific attribute. It won't work outside of aspnet framework. Functions shares some similar aspects to aspnet (like datatypes, base hosting framework, etc) but not all aspnet features will work in Functions.

/cc @fabiocav in case he has some thoughts on the subject, in particular a

[2019-06-25 17:45] ankitkumarr commented on #4593
@baterphq, I think you'd want to make sure there's no overlap in the schedules of your functions. So, if you have too many functions, each taking a while to run (such that there is a chance of overlap), I would suggest splitting them up in multiple function apps.
You just want to take into consideration that only one timer function can run at one time per function app. :)

Hope that solves your is

[2019-06-25 19:11] drlawler commented on #4055
I was able to get past the "binbin" issue by editing the
Directory.Build.targets file in the function project.

I changed the line
    <_FunctionsExtensionsDir Condition="$(_IsFunctionsSdkBuild) == 'true'">$(_FunctionsExtensionsDir)bin</_FunctionsExtensionsDir>

to remove the "bin"

    <_FunctionsExtensionsDir Condition="$(_IsFunctionsSdkBuild) == 'true'">$(_FunctionsExtensionsDir)</_FunctionsExt

[2019-06-25 19:58] brettsam commented on #4055
We already perform that tranformation here: https://github.com/Azure/azure-functions-host/blob/f7f9d4fc8f82c5e7f87f3d4a3ccd5c18944d02b3/tools/ExtensionsMetadataGenerator/src/ExtensionsMetadataGenerator/Targets/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets#L23

Your Directory.Build.targets file may have been there to fix some older issue and it's no longer needed (and in fact,

[2019-06-25 20:36] mhoeger commented on #4511
https://github.com/Azure/azure-functions-host/blob/f1d0536afa45855a5150abebbf26b9b1b4210f41/src/WebJobs.Script/Rpc/FunctionRegistration/FunctionDispatcher.cs#L176

[2019-06-25 22:38] fabiocav commented on #4304
@AVee I understand the following is a workaround, but this is essentially the behavior the SDK will have in place out of the box. While this does require a manual step, it should resolve the issue you're seeing. Is this not working for you?

[code]

[2019-06-25 22:41] fabiocav commented on #4494
@ahmelsayed response is accurate.

The ASP.NET authorization attributes are not supported in Azure Functions, and the closest thing we expose would be the WebJobs function filters, which is a preview feature at the moment https://github.com/Azure/azure-webjobs-sdk/wiki/Function-Filters

[2019-06-25 23:12] AVee commented on #4304
Yes, that workaround works. But it shouldn't be required, that's the point.
Right now you when you create a function package and happen to add the wrong dependency you end up with something that works locally and breaks when you deploy it to Azure. That's has to be classified as a serious bug imho. Even more so because the error isn't clear and it may require quite a bit of time to find out what's

[2019-06-25 23:30] fabiocav commented on #4304
@AVee no disagreement on the fact that this shouldn't be required. This is fixable in the SDK, and that is work that is currently planned, but unfortunately, and also due to the fact that there is a valid workaround, the priority of other work items has kept the team from getting this work done.

We understand this has an impact, apologize for the inconvenience, and appreciate the patience. We'll

[2019-06-25 23:40] fabiocav commented on #3745
@fume this is assigned to the current sprint. We'll be looking at this ASAP.

[2019-06-26 04:05] PureKrome commented on #4599
Hmm... Ok, so here's the latest 7 days.

![image](https://user-images.githubusercontent.com/899878/60145776-774ada80-980a-11e9-8f5f-97d247a8d67a.png)

So just after I waited for ages, trying things .. and then posted this issue, it now seems to be working? Just my luck 😟

Maybe the `enableHttpTriggerExtendedInfoCollection : false` worked? I'm going to try and _undo_ that and see what happens over

[2019-06-26 08:56] oatsoda commented on #3994
@mathewc Is there any documentation explaining how to use this via an ARM template? I am unsure how to get the Host key via ARM.

e.g.
Variables:
`"functionAppId": "[concat(resourceGroup().id,'/providers/Microsoft.Web/sites/', parameters('functionName'))]"`
Template:
`listkeys(variables('functionAppId'),'2016-08-01').key`

[2019-06-26 08:58] andreujuanc commented on #4304
Just for the record, the project's name MUST match the assembly name specified in the project's properties. Otherwise it wont build.

I had a file structure like
[code]

And had to change to

[code]
Hope it helps someone.

[2019-06-26 09:18] fume commented on #3745
Thanks for the feedback @fabiocav , really appreciated.

[2019-06-26 10:08] oatsoda commented on #3994
OK, so I managed to figure out how to get the Master Key:

`listkeys(concat(variables('functionAppId'), '/host/default/'),'2016-08-01').masterKey`

Still struggling to get a named Host key though....If I use `systemKeys` instead of `masterKey` I get 400 bad request...

[2019-06-26 16:34] mathewc commented on #3994
Right - also issue https://github.com/Azure/Azure-Functions/issues/1007 shows a template example of this. You don't list named keys individually for host keys - the host listkeys operation returns a json response containing all the keys and you can dot into them as needed in your template:

[code]

[2019-06-26 17:09] IgorHalfeld opened #5062 "Invoke functions support"
[AWS Lambda](https://aws.amazon.com/pt/lambda/) provides another way to call them. [Invoke](https://docs.aws.amazon.com/pt_br/lambda/latest/dg/API_Invoke.html)(as it is known).
Is there a way to do this with Azure Functions or is it not yet supported?

[2019-06-26 17:32] pragnagopa opened #4611 "Investigate missing system logs"
Logs are missing for any traces that use

workerChannelLogger : https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/LanguageWorkerChannel.cs#L75  and

workerProcessLogger: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/LanguageWorkerProcess.cs#L49

[2019-06-26 17:32] pragnagopa commented on #4611
cc @brettsam

[2019-06-26 19:15] soninaren commented on #4438
This is not needed for template change.

[2019-06-26 19:15] #4438 closed

[2019-06-26 19:16] soninaren opened #4613 "Update app service editor"

[2019-06-26 19:17] soninaren commented on #4613
Update is checked in. The rollout is started.

[2019-06-26 19:17] #4613 closed

[2019-06-26 19:41] soninaren opened #4614 "Create a dev ops release pipeline for tooling feed"
We have a build pipeline for tooling feed that generates the expected the json file. We need a release pipeline to actually deploy it.

[2019-06-26 19:50] jeffhollan commented on #4397
It's not currently prioritized into coming in the near future.  So hard to give an ETA.  It's a valid feature request but not something that is committed to in the next 3 months.  Definitely helps when community helps upvote or +1 as well to help us prioritize correctly.

[2019-06-26 20:08] #4603 closed

[2019-06-26 20:10] fabiocav commented on #4435
Closed as resolved

[2019-06-26 20:10] #4435 closed

[2019-06-26 20:15] alrod commented on #4396
PR is merged

[2019-06-26 20:15] #4396 closed

[2019-06-26 20:16] alrod commented on #2515
Tiered Jitting is already added

[2019-06-26 20:28] fabiocav commented on #4190
Out for review. Moving to next sprint as @pragnagopa is still working on feedback

[2019-06-26 20:31] fabiocav commented on #4570
Closing as resolved. This is still pending on ANT84 deployment.

[2019-06-26 20:51] paulbatum commented on #2515
@alrod Are you sure? I thought this was off by default in .NET Core 2.2 - did we turn it on for functions?

[2019-06-26 20:54] jeffhollan opened #4615 "Log the version of the extension being used"
Push to kusto

[2019-06-26 20:55] jeffhollan commented on #4615
Would be good if it could show up in Metrics as well, not just FunctionsLogs, as that is easier to aggregate from a "which version is being used globally" perspective.

[2019-06-26 20:56] fabiocav commented on #4182
Closing as resolved

[2019-06-26 20:56] #4182 closed

[2019-06-26 21:07] alrod commented on #2515
@paulbatum you are right, I thought @safihamid enabled it for some reason. Just chatted with him and he measured it awhile back and it was making our cold start worse. Maybe there are optimizations in .net core 3.0 for it. Reopened.

[2019-06-26 23:48] #4533 closed

[2019-06-27 00:37] fabiocav commented on #4611
Can this be closed now?

[2019-06-27 00:54] pragnagopa commented on #4611
Yes. Fix is merged to master

[2019-06-27 00:54] #4611 closed

[2019-06-27 08:29] AVee commented on #4304
Ok, at least it's good to know it's not falling of the radar.

[2019-06-27 10:32] oatsoda commented on #3994
@mathewc Thanks for your reply.

I cannot get that syntax working in an ARM template.  If I take my working example with `masterKey`:

`listkeys(concat(variables('functionAppId'), '/host/default/'),'2016-08-01').masterKey`

And try either:

`listkeys(concat(variables('functionAppId'), '/host/default/'),'2016-08-01').systemKeys.default`
or
`listkeys(concat(variables('functionAppId'), '/host/default

[2019-06-27 12:38] Zazcallabah opened #4618 "Function proxy to httptrigger function with parameter returns 500"
If I have a function proxy that takes a simple url parameter and redirects to a function in the same app, the parameter seems to get lost along the way. This feels similar to https://github.com/Azure/azure-functions-host/issues/3593 but that issue seems focused on wildcards, whereas my problem occurs with any parameter. Proxy:ing to a function without any parameters works as expected.

run.csx:
[c

[2019-06-27 13:15] Arash-Sabet commented on #4397
@jeffhollan Well, I originally raised an issue in /Azure/azure-functions-core-tools/issues/1341 and then I was diverted to this ticket. The issue in that ticket is a showstopper and we could not find a workaround or other ways to address it so far. It's a bit confusing as I have had the impression that it has become a high priority item to address.

/cc @miladghafoori

[2019-06-27 13:19] brettsam commented on #1351
Moving this to Triaged. Just had a CRI where almost all instances for a site went down for a couple of reasons:
- They missed the event that app_offline.htm was deleted, so they stayed offline forever.
- They started up and weren't able to find (at least) one assembly. So the host threw exceptions like "Cannot find function 'Run'" -- this disabled all functions and left it in an effectively offlin

[2019-06-27 15:49] iamsuresha opened #4619 "Host thresholds exceeded: [Threads] for azure queue storage"
I am storing around 20000 messages in a queue and fetching it one by one using azure queue trigger and trying to update the message and adding the updated messages to another queue. For example, adding 20000 products in Products Queue and using azure queue trigger i am adding the categeries to the every incoming message and add it to Categories queue. after processing some 1000 records i am gettin

[2019-06-27 16:55] mathewc commented on #3994
There is no 'default' system key. The 'default' key shown in the portal is actually the `functionKeys.default` key. The structure is as I listed above in my sample response. You can also dump your own keys and see the structure you're working with.

[2019-06-27 17:27] oatsoda commented on #3994
@mathewc Are "systemkeys" Host Keys then?

In the portal I have both a default function key and a default Host key...

I'll try and call the rest API manually but I was struggling with the authentication!

[2019-06-27 17:51] mathewc commented on #3994
All the keys returned from the host/default/listkeys are considered host level keys. In the manage tab for an http function, the portal shows:

- A "function keys" section that contains only keys created specifically for the function. Those keys ONLY work for this single function. The keys shown here can be retrieved via the `.../functions/{name}/listkeys` API
- A  "host keys" section that shows k

[2019-06-27 18:06] jasoncoding commented on #3784
Still an issue with 3.0.6 and 9.3.1.  After a build the Microsoft.WindowsAzure.Storage.dll file on disk in bin\Debug\netcoreapp2.2\bin says 9.3.1

For me the workaround isn't - same error.  My workaround was to let it deserialize my json (what's in the queue message) to a poco.  But that's suboptimal since I wish to log the contents of the raw CloudQueueMessage.

Any clue when it will be fixed?

[2019-06-27 18:19] mhoeger commented on #4490
@portTack - We see that the timer-triggered function has executed correctly for the past three days.

We do see that you are running with the default setting of logging sampling enabled for Application Insights though. This could cause missing execution logs from your monitor logs.

Enabling the application insights logging sampling might lead to:
 - Timer Trigger executions missing from your moni

[2019-06-27 18:33] oatsoda commented on #3994
@mathewc OK, thanks, I think I understand!. So to confirm, that means I should use "functionKeys.default" to retrieve the key that is called "default" in the Host Keys section in the portal?

[2019-06-27 18:47] ChristianWeyer commented on #3735
Do we have an update here @fabiocav ?

[2019-06-27 20:10] andyblack19 commented on #4520
@brettsam I also ran into this problem today, despite the updated documentation.

I'm using the typed client approach you mentioned above, configuring 3 separate clients at startup. (simplified below)
[code]

My typed clients each get a `HttpClient` injected in the constructor, however on the second invocation the injected instances are **disposed**. Is this method not supported either?

I see the

[2019-06-27 20:26] klogan12 commented on #4578
@fabiocav  I created new function app and deployed the code there and it worked. I am going to delete the function app that had this issue.  Let me know if you need any further information.

[2019-06-27 20:26] #4578 closed

[2019-06-27 20:30] klogan12 commented on #4602
Moved from Azure function runtime 1 to 2 and it worked!!

[2019-06-27 20:30] #4602 closed

[2019-06-27 20:59] ddurbin-MTH commented on #4489
This is still a known issue. I just experienced this after using the azure cli tool to deply my function app. The **app_offline.htm** file had to be manually removed.

[2019-06-27 21:03] PinoEire commented on #4494
@fabiocav Ok, thanks for the pointer. So filters are all we can expect to have to implement such custom authorization, or there will be more to come?

[2019-06-27 21:07] pinaki1234 commented on #992
Seems I am having issues referencing functionalities in a Class Library from Azure function project. Has anyone in this thread run across this issue till now?

[2019-06-27 21:49] fabiocav commented on #4489
@ddurbin-MTH can you please open a separate issue with your app details so we can investigate? Thanks!

[2019-06-27 21:59] kps-promad commented on #2961
I am facing a similar issue now when running locally and using a dll from an internally published Nuget.

System.Private.CoreLib: Exception while executing function: ProcessRawImageDataASC. ContainerImgScanning: Could not load file or assembly 'Microsoft.Azure.Security.Detection.ContainerVA.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'. Could not find or load a specific file. (

[2019-06-27 22:05] fabiocav commented on #992
@pinaki1234 can you please open a separate issue with the details of what you're seeing and  your current setup? That would help us better understand the issue you're running into. Thanks!

[2019-06-27 22:41] brettsam opened #4623 "Creating too many tasks during specialization while under HTTP load"
From an internal ICM (128836598). This was specifically happening with the EventGrid extension, which happens to make an async call during initialization, but it may happen elsewhere as well. We spin up too many tasks in our Specialization middleware. This was introduced in #4461. We have a fix in mind but want to do some validation before merging.

The only real mitigation means that cold start w

[2019-06-27 23:24] PureKrome commented on #4599
@safihamid Not sure if you had any chance to review the `.diagsession` I emailed you, but right now the CPU seems to be OK, even with that setting removed.

![image](https://user-images.githubusercontent.com/899878/60307073-5dce9d80-9986-11e9-9c91-6b94dea06468.png)

So I'll close this issue right now because the issue seems to have gone - but I'm not confident it has been fixed. If (or when!) this

[2019-06-27 23:24] #4599 closed

[2019-06-28 01:58] brettsam commented on #4520
I just tried this and it all worked for me over many requests... can you share the full registration of your service?

FYI -- I'm doing exactly what I've got in the [comment above](https://github.com/Azure/azure-functions-host/issues/4520#issuecomment-498770795).

[2019-06-28 08:56] baterphq commented on #4593
Hi @ankitkumarr, I've checked the schedules and also checked how long the other functions in this function app are running. The last function before is finished ~1 hour before the this function is triggered, so I think that this can't be the reason for this behaviour.

[2019-06-28 20:30] fabiocav commented on #4609
@brettsam do you have evidence of cases impacted by the unavailability of this data?

[2019-06-28 20:33] brettsam commented on #4609
We've got logs all over that type that aren't going anywhere today -- bundle errors, logs about loading extensions, errors loading types, etc. I came across it b/c during a race condition on startup it was a black hole -- I couldn't tell if anything had successfully executed in this code or not.

[2019-06-28 21:11] soninaren commented on #4614
This is now complete.

[2019-06-28 21:11] #4614 closed

[2019-06-28 22:25] MauriRojas opened #4625 "Azure Storage queue trigger with custom name resolver not firing"
We have a custom queue name resolver that using the value `%valueForQueueNameResolver%` from the `queueName` parameter of the `QueueTrigger` applies a logic that searches for the queue name in a another class and adds a suffix, resulting on the actual queue name.
When the project is built, the `queueName` property of the function.json file has the original value that is passed in the queue trigger

[2019-06-29 00:00] #4552 closed

[2019-06-29 05:26] jublair commented on #3741
Thanks for all your hard work, @michaeldaw! I've tried implementing this code snippet into our project, but there doesn't seem to be a TelemetryConfiguration service in our host when locally debugging. I've tried using both AI extension versions 2.10.0 and 2.9.1, but to no avail. Currently targeting the .NET Core 2.2 framework. Am I perhaps missing something here?

[2019-06-29 05:32] michaeldaw commented on #3741
According to an earlier post from @brettsam:

I'm still using 2.7.2. Haven't had the courage to upgrade yet, though I've been meaning to come back here and ask about it. Could your issue be that you are using the newer versions?

@marshall76963 I'm afraid I only just saw this now, sorry. Did you get it sorted out?

[2019-06-29 05:44] jublair commented on #3741
Bingo! Downgrading did the trick. Thanks so much!

[2019-06-29 05:46] michaeldaw commented on #3741
Glad to hear. I guess that answers the question on whether or not I'll upgrade. @brettsam: I don't suppose there's any indication as to whether or not we'll be able to upgrade in the future?

[2019-06-29 08:13] marshall76963 commented on #3741
@michaeldaw

We have found a solution for now.  I have a modified version of your code (below) that is performing all the filtering correctly.

We reference `Microsoft.Azure.WebJobs.Logging.ApplicationInsights` NuGet package which includes the correct/supported version of the `Microsoft.ApplicationInsights` components (and NuGet does not complain that I am not using the latest version).

The filte

[2019-06-29 22:05] chrislangston commented on #3795
Same thing is happening even if you have VS 2019 Installed and running Azure Storage Emulator 5.9.  I had to add this entry to the local.settings.json to get the Azure Function to work.

[2019-06-30 07:08] grendo commented on #4187
Still failing for me in azure when works locally.  I am on 1.0.29, .net core 2.2.

[2019-07-01 11:14] FinVamp1 opened #4627 "Monitor Tab doesn't show invocations for Non HTTP Triggered Functions on the Linux Consumption Plan"
#### Investigative information

Please provide the following:

- Timestamp:2019-07-01T10:49:00.0356745Z
- Function App version (1.0 or 2.0): 2.0 (2.0.12490)
- Function App name: TimerTriggers
- Function name(s) (as appropriate):
- Invocation ID:78e4b797-f4ce-497d-a0b7-8a8eef460ac6
- Region:West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a new Python F

[2019-07-01 11:49] davemckerral commented on #3745
I've just been doing some re-creation of this issue (I'd had a notification that this issue was resolved in the latest runtime release so was trying to test it before I realised it hadn't been).
I had been experiencing the issue with repeated large errors being logged (to be picked up by app insights), in recreating the issue I have found that high volume small errors have the same effect, and tha

[2019-07-01 13:04] blarsern commented on #3741
I tried all these solutions.

They certainly work to some degree, but i'm unable to allow failed dependency calls.

If i add my custom telemetry processor. All dependency calls is removed.
No matter what i do.

Event with no logic at all in my telemetry processor:
`
public void Process(ITelemetry item)
{
    this.Next.Process(item);
}
`

So how can i allow failed dependency calls, but suppress suc

[2019-07-01 13:29] espray commented on #3741
`var telemetryConfigurationDescriptor = builder.Services.SingleOrDefault(tc => tc.ServiceType == typeof(TelemetryConfiguration));` works fine, I am using it.

If you inspect `builder.Services` you will find the TelemetryConfiguration ServiceDescriptor. Note the assembly version.

`Microsoft.ApplicationInsights.AspNetCore v.2.7.1` wont work. Need to use `Microsoft.ApplicationInsights, Version=2.9.1

[2019-07-01 14:57] blarsern commented on #3741
Thanks @espray

Finally got this working.

So what i did was just downgrade Microsoft.ApplicationInsights.AspNetCore from v2.7.1 to v2.6.1.
v.2.6.1 includes application insights v.2.9.1.

Then this code also started working (v2.7.1 returned null for some reason):
`
var configDescriptor = builder.Services.SingleOrDefault(tc => tc.ServiceType == typeof(TelemetryConfiguration)); //Works with 2.6.1
`

[2019-07-01 15:02] mgfink commented on #4486
@AllisonBolen we're running into the same issue.  You mentioned looking at splitting the cookie headers yourselves and was going to try something similar.  I was wondering if you were doing that within the function and trying to override the response headers?

[2019-07-01 17:41] brettsam opened #4629 "Race condition during host build can lead to standby host running forever"
This happens when we get specialized very quickly upon the process starting.

Two threads go here:

[code]

… and the last one “wins”. It looks like in this case, both the standby and the “real” host were building at the same time, and the “real” host came out first. Therefore the standby host overwrote it afterwards and was now the active host. And even though the standby startup was canceled --

[2019-07-01 18:13] jwisener commented on #4049
Any ETA on this? We are hitting this issue as well.

[2019-07-01 18:45] mhoeger commented on #4187
@grendo - can you share your deployed function app name, either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)?

[2019-07-01 20:51] AartBluestoke commented on #4527
This is because the functions runtime in azure loads that specific version of the library , but the announced dependencies are often vague.  If you use features from a library newer that what is present things fail in the way described.
The same goes of you assume bugs are fixed.
This happens for other libraries as well, e.g. newtonsoft.json https://github.com/Azure/azure-functions-host/issues/404

[2019-07-01 22:38] mhoeger commented on #3845
Adding the supportability label, as running into max body size is a fairly common CRI topic

[2019-07-01 22:50] mhoeger commented on #4575
@APIWT - can I ask about your scenario? We have separate App Settings (through the portal or through local.settings.json), but I'm wondering what differences you have in host.json. Thanks!

[2019-07-01 22:54] mhoeger commented on #4577
@jeffhollan - looks like a good candidate for doc enhancements? I know @brettsam has answered similar questions for ILogger ([here](https://github.com/Azure/azure-functions-host/issues/2720#issuecomment-503627355))

[2019-07-01 23:28] #4623 closed

[2019-07-02 00:12] jcbrooks92 opened #4630 "Intermittent Exceptions when SB triggered function process shuts down"
This exception is thrown as an error when the process/host are shutting down. It shows up as a level 2 error which may cause confusion although its by design and hte message will be retried by another invocation. The ask is to not surface this error through the runtime since it should be a handled exception.

System.OperationCanceledException : The operation was canceled.
   at System.Threading.Ca

[2019-07-02 00:35] APIWT commented on #4575
@mhoeger sure! One good example is that we have a different log level in our environments. So on dev we log everything in app insights but in QA and production we only log errors.

My opinion is that every configuration option in host.json could be set differently in different environments.

[2019-07-02 00:37] APIWT commented on #4577
The big issue with the ILogger suggestion is that it is not available in Startup. Plus, due to the bugs that currently exist with scoped services we are forced to do our own DI which is the bigger issue with functions as a whole currently.

[2019-07-02 01:07] fabiocav commented on #3784
@jasoncoding Can you please open a separate issue, include the details of what you're seeing and perhaps a repro. Based on what you're describing, you're dealing with something different than what is tracked by this issue.

[2019-07-02 01:10] fabiocav commented on #3784
Linking to the SDK issue tracking the work needed to complete this
https://github.com/Azure/azure-functions-vs-build-sdk/issues/271

[2019-07-02 01:28] jwisener commented on #4597
@PureKrome I guess I am in the minority as well, as it's a pia to go thru many different sites we have and set by hand every setting we need in each environment and microservice we have.

[2019-07-02 01:34] PureKrome commented on #4597
Same. Also @jwisener -> I'm very biased with respect to working with .NET core apps 2.* and even playing with Preview 3.* stuff ... so the conventions there are very ingrained in our "web api projects. Then jumping back to functions feels like it's _trying_ to look like those conventions but it's not and is all a sorta hack.

I guess I was expecting functions to follow/re-use the exact same subsys

[2019-07-02 01:45] jwisener commented on #4597
@PureKrome  just opened this issue:

https://github.com/microsoft/vscode-azurefunctions/issues/1365

[2019-07-02 04:09] jwisener commented on #3189
@fabiocav any status update on this?

[2019-07-02 04:16] jwisener commented on #3189
The documentation and information around this really bad with no clear or concise guidance, one thing you read "we are dropping support for "appsettings.json" in azure functions from @lindydonna and in this open ticket [122,](https://github.com/Azure/azure-functions-core-tools/issues/122) talks about adding support for it and in this ticket [3189,](https://github.com/Azure/azure-functions-host/iss

[2019-07-02 06:03] amwayDarshana commented on #4049
Yes. I have the same issue with azure function v1. I need to System.IdentityModel.Tokens.Jwt for token authentication inside azure function but it must need Newstonsoft.json version 10.0.0 or more. But my current project not supported new Newtonsoft.json versions?

Any clue how to address this issue.?

[2019-07-02 13:12] jasoncoding commented on #3784
@fabiocav The details of what I'm seeing are the exact details in this issue.

`Exception while executing function: Exception binding parameter 'msg' String reference not set to an instance of a String.
 Parameter name: s`

I didn't play around with every combination of Extensions.Storage and WindowsAzure.Storage so I can't comment on the precise cause but I experience the exact same effect descri

[2019-07-02 13:13] bartdk-be commented on #4175
@mhoeger - Can we reopen this issue ? I did try to use the same naming convention as you proposed, but without any luck. Reading lots of workaround to get an entity framework connectionstring to work inside a V1 function, but none of them seem to work ?

[2019-07-02 13:44] ThomasArdal commented on #4405
Any news on an example using custom logging from Azure Functions?

[2019-07-02 14:00] AmitSawnt commented on #4175
@bartdk-be I have solved my issue finally. Here are the steps you can follow to make it work with EF :-
1. In your "ConnectionStrings" section of LocalSettings.json file, add dbcontext name & your EF generated complete metadata connection string.
2. In your DbContext class where you have
`public DBContextName() : base("name=ConnectionStringName")
        {
        }`
add one more constructor ` pub

[2019-07-02 14:08] DibranMulder commented on #3994
So to conclude here is a sample to inject a default functions key in a key vault secret
[code]

[2019-07-02 14:46] fabiocav commented on #3784
@jasoncoding what you’ve stated above describes a different issue than what is described in the original issue. The fact that you’re experiencing issues with the.version that works for others, and the workaround doesn’t help, indicates that you have a different problem. The way this is manifested and the exception message may be the same, but it’s unlikely it has the same root cause. A separate is

[2019-07-02 15:45] brettsam opened #4634 "Enable gzip responses for application/xml"
In the functions applicationhost.config file, `application/xml` is not listed under the `gzip` scheme -- we've got `text/*` and a bunch of `application/...`, but not xml. We've had a customer request to support this -- is it something we can add to our xdt transform for the site extension? Should we make it configurable with some middleware?

[2019-07-02 20:04] pragnagopa commented on #4488
Verfied [Environment.GetEnvironmentVariables](https://docs.microsoft.com/en-us/dotnet/api/system.environment.getenvironmentvariables?view=netcore-2.2) does not include empty or null values.

[2019-07-02 21:45] #4488 closed

[2019-07-03 00:29] jeffhollan opened #4714 "Add telemetry for DI usage"
Would be good to understand (in priority order):

- How many people are using DI in their function
- The types of services they are registering (ILogger? ISomeService?)

/cc @fabiocav not sure if this is the best repo for this but adding here

[2019-07-03 09:06] Badabum opened #4637 "Function host is not running(503 http status code)"
#### Is your question related to a specific version? If so, please specify:
Azure Functions v2 ( runtime version 2.0.12507.0)
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C# (.NET Core)
#### Question

Recently we started to receive 503 status codes form http triggered functions with message `function host is not running`. Looking into app insights I can only see

[2019-07-03 09:06] martinfletcher opened #4638 "Domain root does not trigger HttpTrigger function"
#### Investigative information

Please provide the following:

- Function App version (1.0 or 2.0): 2.0

#### Repro steps

Create a new function app project
Update host.json (extensions.http.routePrefix = "")
Update local.settings.json (Values.AzureWebJobsDisableHomepage = true)
Create a new HttpTrigger function
Set Route = ""
Run function
Send request to localhost:7071

#### Expected behavior

Ht

[2019-07-03 10:34] DibranMulder commented on #3994
Fun fact, when the Function App is stopped then the ARM deployment will throw a bad request.
[code]

[2019-07-03 17:29] pragnagopa commented on #4230
Fixed in commit #https://github.com/Azure/azure-functions-host/commit/c2825fc569a997cafd59bcf546b29ca69e9931a2

[2019-07-03 19:26] pragnagopa opened #4639 "Use LinuxFxVersion site config properties to select docker image for a function app"
Sample site properties on Node Web APP
[code]

Function App should use LinuxFxVersion to pick the right runtime version. I will open follow up tooling update issues that set this property

[2019-07-03 19:27] pragnagopa commented on #4639
cc @anirudhgarg  @ahmelsayed

[2019-07-03 19:34] pragnagopa commented on #4639
CLI issues:
- https://github.com/Azure/azure-functions-core-tools/issues/1428
- https://github.com/Azure/azure-functions-core-tools/issues/1428

[2019-07-03 19:37] pragnagopa commented on #4476
Following are the tracking items to enable users to pick a runtime version:
- https://github.com/Azure/azure-functions-host/issues/4639

[2019-07-03 20:10] FinVamp1 commented on #3725
Closing this as we have Detectors that help on this and this will not be reverted to the v1 logic.

[2019-07-03 20:10] #3725 closed

[2019-07-03 20:15] FinVamp1 commented on #3957
I don't think this is needed any longer.

[2019-07-03 20:15] #3957 closed

[2019-07-03 20:20] FinVamp1 commented on #3960
This should be fixed. Just tested and see this.
![image](https://user-images.githubusercontent.com/1410302/60622492-6e44a500-9dd8-11e9-92eb-32f5c9f797a2.png)

[2019-07-03 20:20] FinVamp1 commented on #3960
Closing

[2019-07-03 20:20] #3960 closed

[2019-07-03 20:54] FinVamp1 commented on #3962
Resolving this as a corner case that should be caught in Unit Testing.

[2019-07-03 20:54] #3962 closed

[2019-07-03 22:02] fabiocav commented on #4570
@mathewc reopening this so you can use for tracking.

[2019-07-03 22:26] pragnagopa commented on #4534
cc @mhoeger

[2019-07-04 05:04] PetrPospisil commented on #3919
Try to erase your C:\users\[user]\AppData\Local\Temp\Functions as it is the place where the VS2017 stores binding bundles. It solved my issue.

[2019-07-04 11:09] riezebosch commented on #4127
@lurumad I'm wading through all different projects involved in hosting Azure WebJobs and Functions and was curious if you managed to host and invoke an http triggered function from a test?

[2019-07-04 12:56] davidbarrows commented on #3907
I'm experiencing this problem also.  What it means is, if the developer if forbidden to access the key vault in the deployed azure environment, there's no way to actually test locally whether your code is working.  The "get environment variable" is a hack, and means that the way you get the value locally is different from the way it actually works in the environment.  Total PITA.

[2019-07-04 15:03] lurumad commented on #4127
Hi @riezebosch

Actually not, I've only tested triggers from queues, blobs... but I think it could be possible using the host.

Regards!

[2019-07-04 16:02] yuka1984 commented on #4459
We can consider using Durable Functions if we want to handle errors with functions other than Http Trigger.

But, Http Trigger functions that require synchronization are difficult to use with Durable Functions.

In particular, there are very many scenarios in which the content formed when Http Trigger Functions encounter an exception is returned.

So I want to give priority to the HttpTrigger func

[2019-07-04 19:00] #4490 closed

[2019-07-05 06:44] ponchautf commented on #4175
Hi,

We are also looking for a solution about the providerName.
We are sharing some Project from our main application to create the Azure Function, and as our main application is Database First with EDMX, we can't update our DbContext, this file is recreated each time the model is updated.

And we don't like the idea to update .tt file template.
The way the Azure function work with connection stri

[2019-07-05 09:24] AmitSawnt commented on #4175
Hi @ponchautf ,
My project is also a EF Database first approach based project. I agree that there is no meaning in updating DbContext, but what you can do is:
1. Within the same namespace where you have your DbContext, you can create another partial class like this-
 public partial class DBContextName: DbContext
    {
        public DBContextName(string connectionString) : base(connectionString)

[2019-07-05 13:57] FinVamp1 opened #4640 "Python Timer Triggers on the Linux Consumption Plan do not Timeout."
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0):2.0
- Function App name:testfinpyfunction
- Function name(s) (as appropriate): TimerTrigger
- Invocation ID: c4128915-9119-4310-8b6b-c8c0210cfc1b
- Region:West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a new Python Function App.
2. Add a Ti

[2019-07-05 15:56] pragnagopa opened #4641 "[LanguageWorker][MultipleProcesses]Cancel debouce process start action on jobhost restarts"
When multiple processes are configured for a runtime, StartWorkerProcesses

https://github.com/Azure/azure-functions-host/blob/fc6a5f49717ce69367842e9ce47e4877283fc517/src/WebJobs.Script/Rpc/FunctionRegistration/FunctionDispatcher.cs#L130-L137

builds start process actions that are kicked off every 10 secs. If JobHost restart happens before all the processes start, debouce action executes after Jo

[2019-07-05 15:58] pragnagopa opened #4642 "Allow Wamup API in placeholder mode for non C# template sites"
For placeholder pools, each runtime gets a template site with FUNCTIONS_WORKER_RUNTIME set to a runtime.

For warmup C# api to continue working, dotnet FunctionDescriptor needs to be added.

[2019-07-05 21:36] lonpalmer opened #4644 "CORS setting not working from command line or from settings.local.json"
Connecting to function running on local host via SignalR lib doesn't work because the call is blocked by the browser CORS default functionality.  Adding the CORS information to either command line or to local settings does not allow the local browser to connect.

#### Investigative informationT
Tried to start via "func host start --cors http://localhost:7071

Tried to start with the following in t

[2019-07-05 23:24] fabiocav commented on #4642
Do we want to continue executing those functions in the runtime specific placeholders? Is this so those are good candidates for .NET functions as well?

[2019-07-06 01:37] pragnagopa commented on #4642
Yes. This is to ensure invocation code path is warmed up.

Yes. Any template site can be used for .Net functions. Once the placeholder pools are enabled everywhere, we should only start language worker process when the runtime is set.

[2019-07-06 07:22] GFoley83 commented on #4425
@VaclavElias  Did you find a solution for having the log information show up in the console when running the function manually?

[2019-07-06 17:19] Badabum commented on #4637
It turned out the problem was in KeyVault auth. We had 2 user managed identities assigned to single function app and eventually the app host was failing to start due to `BadRequest` response from KeyVault. The interesting thing is that I failed to found any logs in Kudu about this. Closing issue.

[2019-07-06 17:19] #4637 closed

[2019-07-06 18:51] bartdk-be commented on #4175
@AmitSawnt
Thanks, was able to fix our issue the way you described.

[2019-07-07 00:42] DoloMike opened #4645 "func no longer working for local development due to error"
[code]

#### Investigative information
- Timestamp: 7/7/2019 12:20:57 AM
- Function App version (1.0 or 2.0): 2.0
- Function App name: ticket-press-functions
- Function name(s) (as appropriate): *All.* This is app-level and even occurs on brand new project scaffolds.

#### Repro steps

Provide the steps required to reproduce the problem:
- `func init MyFunctionProj`
- select node runtime
- update

[2019-07-07 02:21] DoloMike commented on #4645
Somehow. Cat, or child, reset my environment variables (must have left the window open) because a path was halfway cut off. (I thought it was odd that I needed to add npm back).

Once I added this back:
`C:\Users\Michael\AppData\Roaming\npm`

All was fine and dandy. Assuming it was unable to locate some npm utility cli

[2019-07-07 02:21] #4645 closed

[2019-07-07 08:02] NRKirby opened #4646 "Publishing failed error: System.AggregateException"
When I try publishing my TimerFunction to Azure I get a publishing failed error:

The temp file has the following exception:

[code]

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version: 2.0
- Function App name: SiteScraper89
- Function name:  ScrapeFunction
- Invocation ID: ?
- Region: UK South

#### Repro steps

1. Right-click the project in Visual

[2019-07-07 13:31] lonpalmer commented on #4644
Misconfiguration.  No issue.

[2019-07-07 13:31] #4644 closed

[2019-07-07 20:25] VaclavElias commented on #4425
@GFoley83 nope, no solution found yet.

[2019-07-08 01:36] #4642 closed

[2019-07-08 05:53] zhiwen-kooboo commented on #4627
I also encountered this problem during the use process. Is there any solution now?

[2019-07-08 06:33] ronnelsantiago opened #4647 "Key management V2 ARM impact because of listkeys action"
#### Is your question related to a specific version? If so, please specify:
Function Runtime Version: `2.0.12507.0`
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
All
#### Question
Got an ARM template that is calling `listkeys` action on Function App and as with this [docu](https://github.com/Azure/azure-functions-host/wiki/Changes-to-Key-Management-in-Functions-V

[2019-07-08 10:57] eirikb commented on #4608
@mikhailshilkov  Have you tried using `context.bindings` instead of return?
[code]

[2019-07-08 10:59] mikhailshilkov commented on #4608
@eirikb I think I did but I can't remember for sure. Are you saying it works?

[2019-07-08 11:03] eirikb commented on #4608
Works for me when I did some tests. Using `{ copy: Buffer.from('Hello') }` gave me same result as you. Also tried converting to `Uint8Array` and `Uint32Array` (I have to use the first one for binary data), but without success when using `return`.

[2019-07-08 11:12] mikhailshilkov commented on #4608
@eirikb That's weird! Thank you, I'll give it a try.

[2019-07-08 13:38] SajalGolas commented on #2128
I'm also facing this same issue. Did you resolved the issue ?

[2019-07-08 13:40] SajalGolas commented on #2128
Hi safihamid,
I want the benefits of CDN for faster response. How can i enable http to https redirection at Akamai CDN level or function proxy level

[2019-07-08 15:19] utekau opened #4648 "'I' character in function name gives invalid function name error"
Hi all,

We created **node js & http triggered** based several function apps in portal and then decided to continue development process through visual studio code. After downloading the content as zip file, we opened the folder in vs code and configured debug stuff that we needed to run.  By the way, we are using function app version as 2.0.

When we push the debug button, there is no problem occu

[2019-07-08 18:04] MaximRouiller commented on #3795
@chrislangston Which version of Azure Functions are you using?

If you run `func` on your CLI, can you copy the lines below the magical lightning? Mine looks like this:

[code]

[2019-07-08 20:27] mhoeger commented on #4648
@utekau - I'm not able to reproduce this issue in my environment
![image](https://user-images.githubusercontent.com/8888531/60840217-dce08480-a183-11e9-8350-c6f4e258c150.png)

Is there a chance that the "I" that you named is with is not an ASCII character (character values 0-127)? We have validation logic to not allow this.

[2019-07-08 21:32] vijayrkn opened #4649 "VSTO 2019 Azure Function build/deploy errors"
Creating the bug on behalf of the VS customer. Details here -
https://developercommunity.visualstudio.com/content/problem/627078/vsto-2019-azure-function-builddeploy-errors.html

This issue may be related to - https://github.com/Azure/azure-functions-host/issues/4055

[2019-07-08 22:42] yojagad commented on #4190
This error also consequently causes the following noise in the logs..

![image](https://user-images.githubusercontent.com/26885664/60846941-ed015f80-a195-11e9-9068-0f760215c88c.png)

which is being caused due to the following sequence of events.

=> When grpc server is shutdown , it triggers the WorkerError due to improper killing of GRPC server (INTERNAL: Received RST_STREAM with error code 2) .

[2019-07-09 00:52] fabiocav opened #4650 "Support SAS storage URL for secret management"
The BLOB key provider should support a SAS URL under a different app setting name (e.g. `AzureWebJobsSecretStorageSas`), enabling apps to share storage accounts without sharing the full account connection string.

[2019-07-09 00:53] fabiocav commented on #2938
Obsoleted by #4650

[2019-07-09 00:53] #2938 closed

[2019-07-09 07:44] utekau commented on #4648
Hi @mhoeger ,

I printed out the ascii values of the function and all of them were valid, 'I' was 73. I even altered my keyboard settings to English and wrote 'I' character in that way but still faced the same issue.

[2019-07-09 09:46] AMAJAVA opened #4651 "System.Private.CoreLib: Exception while executing function: Functions.uploadFile. System.Private.CoreLib: Result: Failure Exception: ClassNotFoundException: org.apache.commons.net.ftp.FTPClient"
Hi All,
I'm trying to implement a basic FTP connection using AZURE functions with java and the FTPClient library "org.apache.commons.net" but when executing the azure function locally i get this error
` Java HTTP trigger processed a request.
[09/07/2019 09:22:26] Executed 'Functions.uploadFile' (Failed, Id=b1ef0542-02b8-4100-a9bc-537c5233079d)
[09/07/2019 09:22:26] **

**
[09/07/2019 09:22:26]   a

[2019-07-09 12:17] riezebosch commented on #4127
I managed to create a workaround by setting this environment variable: `$"{LanguageWorkerConstants.LanguageWorkersSectionName}:{LanguageWorkerConstants.WorkersDirectorySectionName}"` to some existing directory (like `Environment.CurrentDirectory`).

Tried to inject a custom configuration source but up until now it didn't work out for me.

[2019-07-09 12:58] espray commented on #4650
@fabiocav would/could this include support for managed identity?

[2019-07-09 13:26] SacredSkull commented on #3903
I had a similar problem when using Powershell on Azure Functions - specifically with using the `SqlServer` module - it complained that it could not find `SqlClient` both locally and on a hosted instance.

[2019-07-09 15:41] SpicySyntax opened #4652 "Azure Queue Storage Triggered execution delay when deployed to AKS"
#### Investigative information

Please provide the following:

- Timestamp: 07.09.2019
- Function App version (1.0 or 2.0): 2.0
- Function App name: ObjectDetection
- Function name(s) (as appropriate): ImageQueueTrigger UploadFile
- Invocation ID: NA
- Region: EastUs
- Environment: Azure Kubernetes Service Cluster
- Kubernetes Version: 1.12.8 (Linux Containers)
- Helm Version:
Client: &version.Ver

[2019-07-09 18:57] fabiocav commented on #4576
@richardhauer moving this to triaged for assignment, but keeping this scoped to the originally reported issue. Function filters are not currently supported and not tested for those scenarios.

[2019-07-09 19:01] fabiocav commented on #4638
This behavior is currently by design. In order to override the root, the recommended approach would be to use the [Functions Proxies feature](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies)

[2019-07-09 19:01] #4638 closed

[2019-07-09 20:06] fabiocav commented on #4652
@SpicySyntax because this is not running on managed infrastructure, we unfortunately don't have access to your logs. Would you mind sharing the initial host startup and indexing logs for the relevant timeframes.

[2019-07-09 23:52] fabiocav commented on #4227
@pragnagopa can this be closed now?

[2019-07-10 00:34] mhoeger commented on #4648
Can you share your deployed function app name, either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)?

Also - are you only having these issues when you download the content as zip file?

[2019-07-10 01:11] pragnagopa commented on #4227
Yes. Thanks to @brettsam for fixing races during specialization!

[2019-07-10 01:11] #4227 closed

[2019-07-10 02:42] richardhauer commented on #4576
@fabiocav  The use-case of function filters was only the event that highlighted this issue for me.  The actual problem is that `IServiceProvider` is not the scoped provider in several cases where one would expect it to be, including DI factories and function execution.  This creates a subtle error where scoped services are actually singleton services that never get disposed, which will lead to a n

[2019-07-10 10:30] utekau commented on #4648
This is the subscription id: e638.....9120 and the name is sa.....oc.azurewebsites.net.
Apart from that, only I use azure portal for development but I gave the downloaded zip file to my collague and we tried same process, it failed at the same step.
Thanks.

[2019-07-10 13:27] HalidCisse opened #4654 "Visual Studio debugger stepping into non user code on azure functions projects"
Visual Studio debugger stepping into non-user code on Azure functions projects.

- Just my code is checked.
- Reinstalled visual studio.
- Resetted my whole windows machine.
- My azure functions projects are currently not debuggable due to this annoying dialog in stepping - into azure function assembly code.
- StackOverflow link [stackoverflow](https://stackoverflow.com/questions/56856353/visual-s

[2019-07-10 13:40] Badabum opened #4655 "Logs correlation for queue triggered functions"
#### Is your question related to a specific version? If so, please specify:
Azure Function V2
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
Consider the following setup: `TimeTriggeredFunction -> HttpTriggeredFunction -> Storage Queue -> QueueTriggeredFunction`. In this environment correlation for part `TimeTriggeredFunction -> HttpTriggeredFunct

[2019-07-10 16:00] espray commented on #3399
@fabiocav @jeffhollan any update?

[2019-07-10 16:21] TurtleBeach opened #4656 "Deployment of 12562 BREAKS functions that are running (JAVA)"
#### Investigative information

Please provide the following:

- Timestamp:  2019-07-10T15:50:53.5674569Z
- Function App version (1.0 or 2.0):   2
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:  71db38b5-329e-4246-a404-23b7c6fb85b2
- Region: eastus

#### Repro steps

Function has been running for months - and was running 10 minutes prior to when error occurred. It appea

[2019-07-10 18:03] fabiocav commented on #3399
@espray apologies for the delay on providing an update. We'll triage this again today  (as this wasn't addressed on the sprint it was assigned to) so we can provide an update ASAP.

[2019-07-10 18:06] APIWT commented on #3399
@fabiocav Yes please and thank you very much! :) We have so much code in our project currently that just does the DI and we have been looking forward to removing it.

[2019-07-10 18:28] mathewc opened #4657 "Runtime Scale Status Monitoring"
This tracks the runtime work required for scaling Functions in Premium VNET scenarios. When a Function App and the event sources it monitors are behind a VNET, our ScaleController cannot monitor the event sources to perform scaling. To handle this, we'll have a new mode (enabled via an app setting) which causes the runtime to monitor event sources for each trigger itself, and serve scale status re

[2019-07-10 20:14] fabiocav commented on #4526
Moving to sprint 54 as we need to close on feedback from @soninaren, who is currently out.

[2019-07-10 20:25] fabiocav commented on #4511
@mhoeger moving this to Epics, can you please break this up and create the tasks we need to track?

[2019-07-10 20:25] fabiocav commented on #4511
Blocked on ANT83

[2019-07-10 20:29] fabiocav commented on #4223
@mattchenderson FYI... moving this back to triaged, we'll discuss sprint allocation when @soninaren is back

[2019-07-10 21:05] pragnagopa opened #4659 "Functions Sprint 53 Release"

[2019-07-10 21:56] jwisener commented on #3399
ugh, we have just hit this issue as well. We are really trying to use the power of azure functions in our current sprint.

[2019-07-10 22:01] mhoeger commented on #4618
@Zazcallabah - thanks for the well put together details! Like you mentioned, this has the same root cause as https://github.com/Azure/azure-functions-host/issues/3593

Working on a fix now. Thanks!

[2019-07-10 22:20] brettsam commented on #4599
@PureKrome -- were you ever able to remove those App Insights settings and see whether your perf degraded again? We're still trying to track down exactly why it may be affecting people...

[2019-07-10 22:51] espray commented on #3399
@jwisener because of this issue, I would recommend using attribute/binding DI and NOT the AzFunc/WebJob DI. Been using attribute/binding DI for better part of a year for a multi-tenant SaaS product with out any problems.

https://github.com/espray/azure-webjobs-sdk-extensions
-OR-
https://github.com/BorisWilhelms/azure-function-dependency-injection

[2019-07-10 23:41] PureKrome commented on #4599
@brettsam Yep. I removed it and the perf did *not* degrade. So I was unable to determine the RCA for the initial degradation :(

[2019-07-10 23:52] jwisener commented on #3399
@espray thanks for the links , I will try to do that. Currently we are attempting to use MediatR for events & handlers via domain events for transnational saving/publishing. The problem I'm encountering is when mediatR calls the eventhanlders the EF Context that is injected is not the right one, it seems like it's a new one (or maybe the singleton, I am still not sure yet). Anyway, we lose any dat

[2019-07-11 00:00] #4570 closed

[2019-07-11 00:58] mathewc opened #4661 "Race condition in Host Keys API for newly created Function Apps"
The host admin keys APIs don't require the host to be initialized/running to return keys. Whatever keys are currently in storage (or cached in memory) will be returned. This can cause issues when a new function app is created with extensions installed and the keys APIs are called immediately. For binding extensions that are webhook providers (e.g. EventGrid), their default key is initialized durin

[2019-07-11 03:20] sandeepiiit opened #4662 "Explanation about what exactly happens during swap of deployment slots"
The documentation of [deployment slots in azure functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-technologies#deployment-slots) consists of a brief explanation and then points to the [Azure App Service Slots](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots) for details. I love the details there.

My question is: Do the details mentioned

[2019-07-11 12:24] alin-devnet opened #4663 "Unable to resolve service for type 'Microsoft.AspNetCore.Hosting.IHostingEnvironment' while attempting to activate 'Microsoft.AspNetCore.Hosting.DefaultApplicationInsightsServiceConfigureOptions'."
I'm getting the following exception with the latest version (2.0.12562.0)

This happens when trying to resolve an EntityFramework Core DbContext instance:

`services.AddDbContextPool<SomeDbContext>()`

Forcing it to version 2.0.12507.0 seems to work for now.

I can see there were some DI changes in the latest release so I'm guessing it must be related to that(?)

[2019-07-11 12:56] #4629 closed

[2019-07-11 16:28] #4641 closed

[2019-07-11 17:10] PsychoXIVI commented on #1469
How about using `DllImport` in C# for externing C++ code when necessary?

[2019-07-11 18:10] fabiocav commented on #4006
@benm-eras I just commented on another issue (same topic) you were mentioned. The hosted version is on 2.2.5 now.

Updates landing for .NET Core 3.0 will have the same behavior. App Service does lag behind the releases for a few days, and we adopt them as soon as they're available as part of the platform.

[2019-07-11 18:17] JohnGalt1717 commented on #4006
@fabiocav If by "few days" you mean "weeks to months" sure.

But vitally this isn't an acceptable answer because these patches are often major security vulnerabilities so you're leaving all functions that are running on .NET Core open to hacking because you're not in sync with the release.

This should be synchronized within MS. There's no excuse. There might be if you were a 3rd party company, bu

[2019-07-11 18:58] hjpsievert commented on #4006
I am with @JohnGalt1717, both from a perspective of security updates, but also because having to manually ensure version compatibility through trial and error and remembering to keep checking on it is not something I expect in products from Microsoft.

[2019-07-11 19:55] fabiocav commented on #4581
Agree with what @PureKrome has stated above. Is what he proposed an adequate solution for you? If not, can you share more about details? Also, have you tried this on more recent builds?

This issue is actually something a tooling update will be addressing, as the runtime probing behavior is identical to what you'll experience in .NET Core.

For now, you can simply add the following to your project

[2019-07-11 19:58] fabiocav commented on #3469
Sorry about the delayed response. I'm glad to hear this worked for you

Changing the logging format is not really an option out of the box. You could add a custom logger using the .NET DI support, but that's not something that is available as a simple configuration setting.

[2019-07-11 19:58] #3469 closed

[2019-07-11 20:21] fabiocav commented on #4006
@JohnGalt1717 I'm being transparent about the current state of the platform. Today, those updates are not deployed to the  underlying platform at the same time they are published. We're working to reduce the time to adoption to what I stated above. We'll continue to work on improving this, which includes improvements to communication and clear message from the runtime. I understand that this is no

[2019-07-11 20:35] JohnGalt1717 commented on #4006
@fabiocav I get it, but Azure Functions host should be part of the framework, it shouldn't be managed by the Azure team at this point.  It's as fundamental as asp.net core.  My point is that you're taking baby steps when the entire ownership of the project is in the wrong place and needs to be fixed so that it is part of the dotnet project and built as part of it.  How the azure team then takes th

[2019-07-11 20:42] fabiocav commented on #4006
@JohnGalt1717 would making the host and Core Tools available in a preview channel help  you with some of the issues? That would be the **SDK/Framework* portion of Functions.

Even if the .NET Core team was managing this, they would not be able to update the hosted/managed **service** portion of the product (Functions on Azure) on day one because of the concerns I've outlined above.

[2019-07-11 20:52] JohnGalt1717 commented on #4006
Yes that would certainly help.

However, just as asp. Net core previews are easily added to azure app services using the extension they have, the same should be possible for functions.

And, all of this stuff needs to be released and at least available 0 day with net core releases, public and preview. Then what you do with azure is up to azure and hopefully you'll grace us with an extension for pr

[2019-07-11 21:22] mhoeger commented on #4648
@utekau - it looks like your function is working in Azure, and the exact same code for function name validation will be running in Azure vs. locally. This means that the filename was likely corrupted when you decompressed the downloaded content.

Can you try renaming the file to exactly these characters: "createIsolationCertificate"? And if the character is still not ok, can you send a screenshot

[2019-07-11 21:30] fabiocav commented on #4663
Thanks for reporting this! Can you please share a small repro on this? Just want to make sure we have the right scenario to test, is adding a DB context with the call above sufficient to repro the issue?

@brettsam FYI, as the AI bits moved forward with the last release.

[2019-07-11 21:31] fabiocav commented on #4663
Also @pragnagopa - FYI as you're driving the next release.

[2019-07-11 21:33] fabiocav commented on #4662
@ahmedelnably do you have any additional information/documentation you can share (if required)

[2019-07-11 23:07] fabiocav commented on #4006
We'll continue to execute on the plans I mentioned for the initial mitigation steps, which will hopefully help alleviate the issue and improve communication, but exposing something like that, with an opt-in model, is something tangible and I'll work on the plans on our side. This will require some time as there's some coordination to be done across a few different teams, but once there's something

[2019-07-11 23:22] SidShetye commented on #4581
@PureKrome Everything you're suggesting required change to library source code and updated to end customer application. That's a big effort for legacy/existing binaries. Even disregarding that and side-stepping any app-layer architecture dialog, this limitation simply violates the separation of concern. There is no reason the server host (azure functions) should purposely disallow a library (Syste

[2019-07-11 23:43] fabiocav commented on #4581
Sorry, I don't think I was clear above. We don't block any .NET Core libraries (some APIs may be blocked in the sandbox when hosted, but that doesn't apply to this). The tooling issue I've mentioned is the Azure Functions SDK build/tools, not .NET Core tooling.

Have you tried adding the snippet I shared above to your project? You'll find that you'll be able to run without any modifications to you

[2019-07-12 00:09] ahmedelnably commented on #4662
Yes, the underlying tech for Dedicated hosting option is the same.
Currently the http traffic routing is not available through the portal for function apps.

That's said, you can still configure traffic routing through the webapp cli command
https://docs.microsoft.com/en-us/cli/azure/webapp/traffic-routing?view=azure-cli-latest#az-webapp-traffic-routing-set

Note:
- This is scenario is not a suppo

[2019-07-12 03:27] adrianknight89 opened #4664 "Functions host fails to create "leases" collection"
I have multiple `CosmosDBTriggers` set up with `LeaseCollectionName = "leases", CreateLeaseCollectionIfNotExists = true` attributes. A console app deletes and recreates all collections (it also deletes the `leases` collection) on a regular basis. When a function is run, the associated trigger is supposed to create the `leases` collection if it doesn't exist. Unfortunately, sometimes this collectio

[2019-07-12 08:17] abinayasekar93 opened #4665 "Cannot add 'function.proj' file/nuget packages to azure-functions"
I need to add some nuget packages to the azure function. While trying to add a 'function.proj' file, getting an error as follows,

[code]
#### Investigative information

- Timestamp: 2019-07-12T07:52:48.560
- Function App version : 2.0
- Invocation ID: 0a370ad8-efcc-4e9a-8463-3041941b2877
- Region: West US
- Programming Language used: C#

#### Repro steps

Try to create a 'function.proj' file and

[2019-07-12 09:34] sandeepiiit opened #4666 "What happens if multiple function apps bind to the same storage queue for input?"
#### Is your question related to a specific version? If so, please specify:
Function 2.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I have function apps running in two different regions for redundancy i.e. there are two separate apps in azure portal (deployed from the same code). So both apps have the function that input binds to the same st

[2019-07-12 13:29] fmannhardt commented on #1431
This is highly confusing and just cost me a few hours of searching for the reason. It should be fixed or one need to somehow be warned.

[2019-07-12 13:35] brettsam commented on #4663
@alin-devnet -- are you calling `AddApplicationInsightsTelemetry()` (or anything App Insights related), by chance? I don't see any reference to ApplicationInsights in the EF Core github repo, so I don't think they're registering this service.

When I look for this type in App Insights, the only place I see it registered is in a call to `AddApplicationInsightTelemetry()`: https://github.com/microso

[2019-07-12 14:55] alin-devnet commented on #4663
@brettsam

I do call that indeed and that seems to be the cause.

I created a new function to reproduce this and have only this in my startup:

[code]

With that in place it works on version 2.0.12507.0, but not on latest.

I'm using the following library for DI:
https://github.com/BorisWilhelms/azure-function-dependency-injection
Willezone.Azure.WebJobs.Extensions.DependencyInjection 1.0.1

I'm a

[2019-07-12 15:04] SpicySyntax commented on #4652
@fabiocav Here are the host start up logs when the C# backend queue trigger works and the python queue trigger does not (It seems random which ones will work each time). The C# Image Queue trigger should queue the Python backend. But as you can see the python backend just sits idle.
What do you mean by the indexing logs (I will do my best to provide them)?

C# backend logs:
[code]

Python Backend

[2019-07-12 15:10] brettsam commented on #4663
And what version of App Insights are you referencing?

`AddApplicationInsightsTelemetry()` doesn't work when mixed with our built-in ApplicationInsights functionality. They have services they register that overwrite (and sometimes break) the ones that we use internally. We note in our documentation for the built-in DI that you should not call this: https://docs.microsoft.com/en-us/azure/azure-func

[2019-07-12 15:46] Jaffacakes82 commented on #2976
@mathewc this doesn't appear to be documented anywhere, is there a reason for that or should the following [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json) be updated?

[2019-07-12 16:43] SidShetye commented on #4581
@fabiocav Ok, this makes a lot more sense. Thanks for the clarity.

For closure with other engineers dealing with this issue, I quickly tried your patch to the `.csproj` in a new visual studio Azure Functions default template and can confirm that the patch **does work** and `System.Runtime.Caching` works just fine. So that's good news.

Before closing this item, is there an bug report on azure fun

[2019-07-12 17:27] fabiocav commented on #4581
@SidShetye you can use this issue to track the fix: https://github.com/Azure/azure-functions-vs-build-sdk/issues/271

Thank you for validating the workaround.

[2019-07-12 17:27] #4581 closed

[2019-07-12 17:40] adrianknight89 commented on #4664
I have also observed that, for `leases` collection to be created, the functions must be re-published to Azure after collections are re-created. Why?

[2019-07-12 21:07] michalchecinski commented on #4187
Any update on DI in Azure Functions? I've tried every solution provided here, but I cannot get DI to work on localhost. Every time got `Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type` error. I'm running newest `Microsoft.NET.Sdk.Functions` nuget (ver. 1.0.29).

[2019-07-12 22:08] mathewc commented on #4666
These are competing consumers - each message would only be delivered once to one of the Function apps. The app that dequeues the message will process it then delete it.

[2019-07-12 22:08] #4666 closed

[2019-07-12 22:30] mathewc commented on #4647
New ARM APIs for key management are now live - see https://github.com/Azure/azure-functions-host/issues/3994. You should use these new APIs (the new "listkeys" APIs) rather than the old "listsecrets" API.

[2019-07-12 22:30] #4647 closed

[2019-07-13 01:01] PureKrome commented on #4581
Nice work, awesome peeps!

[2019-07-13 03:15] fabiocav commented on #455
No longer tracking this.

[2019-07-13 03:15] #455 closed

[2019-07-13 03:52] #4151 closed

[2019-07-13 03:55] fabiocav commented on #4588
I'm assuming we'd limit to a single warm up function per app, correct? Need to design the experience around that (if that's the right assumption) as we don't really have a precedent for that.

[2019-07-13 03:56] #2800 closed

[2019-07-13 03:58] fabiocav commented on #2905
This is tracked by https://github.com/Azure/azure-functions-vs-build-sdk/issues/304. Closing as duplicate

[2019-07-13 03:58] #2905 closed

[2019-07-13 04:00] fabiocav commented on #2830
Closing this as a stale issue. This problem was addressed in the 2.0 release.

[2019-07-13 04:00] #2830 closed

[2019-07-13 04:02] fabiocav commented on #174
Closing this as this as won't fix due to priority.

[2019-07-13 04:02] #174 closed

[2019-07-13 04:04] fabiocav commented on #623
Addressed with https://github.com/Azure/azure-webjobs-sdk-extensions/blob/b7aa8f84c2b3c9065861fe955ce8180b9d19f939/src/ExtensionsSample/Samples/TwilioSamples.cs

[2019-07-13 04:04] #623 closed

[2019-07-13 04:32] fabiocav commented on #4187
@michalchecinski the initial issue is a bit stale and prior to the DI changes. Can you please open a new issues with a repro/example of what your current setup so we can take a closer look?

[2019-07-13 14:37] adrianknight89 opened #4670 "Function host is not running"
Over the course of a year, I've had all kinds of issues running my app in production. This morning, I'm getting "503 Service Unavailable" response from my API endpoints running in consumption plan. I'm also getting "Function host is not running" message when I hit the azurewebsites.net URL.

My `host.json` file looks like this:

[code]

and I'm using SDK 1.0.29. Seems like some kind of configurati

[2019-07-13 15:39] adrianknight89 commented on #4670
I was able to fix this issue by resetting my publish profile on the Azure portal. Seems like there was an issue with the old profile that I've kept using. There were no changes to the old profile, so I don't know what went wrong. Do you have an explanation for this?

[2019-07-15 09:40] jwisener commented on #2474
I am having this same issue. However the hosts.json file looks file there are no comments in it.

[2019-07-15 09:45] jwisener commented on #2474
@ConnorMcMahon  here is this view that @tohling  is using to see if the registration is in place and is valid?

[2019-07-15 11:17] jwisener opened #4671 "Consumption plan: Inactivity Service Bus Topic Trigger not firing"
We currently are running v2 of azure functions, specifically for azure service bus to process topic/subscriber messages. We are doing development with visual studio 2019 and running in a "windows platform" (both locally and in azure), so everything is pretty much out of the box. We publish the functions using CI (azure devops). We use the azure tasks (provided) for deploying our released artifacts

[2019-07-15 13:01] feresg commented on #4665
any solution?

[2019-07-15 15:36] feresg commented on #4665
@abinayasekar93 I was able to solve this by, instead of writing the Azure function in the portal directly, creating it in Visual Studio, adding the NuGet package like any usual local project and publishing the function to Azure.

[2019-07-15 16:36] pragnagopa commented on #4230
reopening as the test is still flaky

[2019-07-15 17:14] ConnorMcMahon commented on #2474
This was looking at our internal logs in our scale controller. Unfortunately, I don't know if we expose a way for customers to view what triggers have been synced to our scale controller.

[2019-07-15 17:21] Francisco-Gamino opened #4672 "Handle lack of internet connection or if the www.powershellgallery.com is down when creating PowerShell function apps"
For PowerShell function apps, we enable Managed Dependencies (MDs) at creation time. During this process, we connect to the www.powershellgallery.com to retrieve the latest available module version for the Azure Az modules. If the www.powershellgallery.com is down or the user has no internet connection, we need to provide the correct guidance to the user.

This experience will look exactly like th

[2019-07-15 17:55] espray commented on #3399
@fabiocav @jeffhollan any update?

[2019-07-15 17:59] fabiocav commented on #3399
@espray this is something that is high priority on our list. As soon as there's an update, I'll keep providing updates here, so you won't miss if you're following the issue. I'm hoping to have more details by the end of the week.

[2019-07-15 19:15] jwisener commented on #2421
I don't understand why this was closed, as the original issue remains.

[2019-07-15 19:27] ConnorMcMahon commented on #2421
@jwisener, I had diagnosed all of the failed synchronizations that occurred in this thread, and we filed various issues to make these failed synchronizations less likely, most of which have already been implemented.

I have noticed you have recently been commenting on various issues related to trigger synchronization saying that you are having issues with it. Can you open a new ticket with explici

[2019-07-15 19:41] MisinformedDNA commented on #3784
@fabiocav

How build task and settings would you use for this in Azure DevOps? The function.deps.json doesn't get copied with the VS build task (I'm testing the .NET CLI task now). I'm also trying to zip the folder to use a ZIP deployment.

I was building with the Visual Studio build task in Azure DevOps and the function.deps.json doesn't get copied.

[2019-07-15 19:44] jwisener commented on #2474
That makes it difficult to trouble shoot these issues.

[2019-07-15 19:56] jwisener commented on #2421
Thank @ConnorMcMahon,

My apologies, and thank you for the response. I was just a little frustrated trying to find what could be causing this. Seeing tickets open for since 2017 with similar issues, doesn't inspire much hope.

I guess being unable to view the logs in the scale controller, make it a bit difficult to trouble-shoot what is happening. I have been going thru all the various checks/logs

[2019-07-15 20:13] #4190 closed

[2019-07-15 20:14] brettsam commented on #4619
Are you using any libraries or running any code that could be spawning threads? The typical usage pattern shouldn't be creating any extra threads. If you have some function code to share that could help as well.

[2019-07-15 20:14] paulbatum commented on #4670
@adrianknight89 Can you fill out the issue template? We need the details listed there to investigate.

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0):
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

If you don't want to share your Function App name or Functions names on GitHub, please be sure to provide your Invocation ID, Time

[2019-07-15 20:20] kashimiz commented on #4671
Hi @jwisener, thanks for reporting this issue. In order for us to investigate things from our end, we'll need more information about your function app. Could you please provide the information requested by our issue template, particularly the **Investigative Information** section?

[2019-07-15 20:24] alrod commented on #4125
@ahmelsayed, is it known issue?

[2019-07-15 20:25] brettsam commented on #4607
Thanks @jtlz2. Glad you figured it out -- I agree we should be able to provide a better error string if we don't have a vaild connection string. I'm retitling this and moving it to the proper repo.

[2019-07-15 20:26] ahmelsayed commented on #4125
I don't know. Who creates that key? would you expect it to work differently based on the OS?

[2019-07-15 20:27] fabiocav commented on #4527
Will investigate this as the version packaged with the CLI shouldn't cause this issue, so looks like there's a bug here. Do you happen to know it this is happening outside of the context of the CLI?

[2019-07-15 20:28] pragnagopa commented on #4231
Closing this as the issue is addressed. We will open separate issues if the restart code needs to be improved.

[2019-07-15 20:28] #4231 closed

[2019-07-15 20:28] pragnagopa commented on #3230
Closing as this issue is addressed as part of https://github.com/Azure/azure-functions-host/issues/4231

[2019-07-15 20:28] #3230 closed

[2019-07-15 20:29] alrod commented on #4125
@JohnReeson, said: For eventgrid functions on windows service plan, system keys are generated as expected.

[2019-07-15 20:30] soninaren commented on #3601
This would be the right place to ask the questions. Azure functions v2 is not supported on Azure stack. Please watch for feature announcements for future releases.

[2019-07-15 20:30] #3601 closed

[2019-07-15 20:31] #3630 closed

[2019-07-15 20:31] ahmelsayed commented on #4125
Doesn't really answer my questions. Can you try it on linux and see if it works as expected since this issue is from February?

[2019-07-15 20:31] adrianknight89 commented on #4670
Unfortunately, I had to delete all Azure resources and create them again as I need to meet my development milestones. This issue does not exist for me as of now, but if it happens again, I'll be sure to provide the information you need.