[2021-04-08 07:25] pilgren commented on #2412
@andrew-tevent when using ARM templates to deploy the app settings you need to specify `slotconfignames` for the app settings that you want to be slot specific. You can see a short explanation here [here](https://stackoverflow.com/a/44371143)
I guess that this might not be a viable solution for you if the new worker does not support it 😄

Yes, updating the regular app settings will cause the app t

[2021-04-08 10:47] v-anvari commented on #7277
Hi @ChrWeinert , Thank you for the details, Will repro the scenario and revert back with our findings.

[2021-04-08 14:00] v-bbalaiagar commented on #7278
Tagging @brettsam / @fabiocav , for more inputs

[2021-04-08 16:28] DarinMacRae commented on #7248
I just ran into this. Ugh. I brought in HtmlTags package which depends on System.Text.Json >= 5.0.0. I guess no Swagger docs for this function app for now.  :(

Are there any workarounds (ugly or not) that you've found in the meantime? @fabiocav @vitalybibikov

[2021-04-08 17:53] abisleem commented on #6899
@fabiocav +1 for a fix to this

[2021-04-08 23:05] afefer commented on #5170
@yojagad is there any update on this? Not being able to link any custom telemetry with the original request is a huge blocker for even the most basic Application Insights scenarios.

[2021-04-09 05:13] afefer commented on #5170
@brettsam @yojagad - is there any update on this one? This problem still persists on Azure Functions v3, and making matters even more confusing, there are two conflicting recommendations in the docs, neither one of which solves this problem:

The first is the [code example here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#log-custom-telemetry), telling u

[2021-04-09 07:35] pjeschko commented on #7231
@v-bbalaiagar. We have disabled Application Insights Logging Sampling on purpose, because the description of the "feature", mentioned it can lead to missing Application Insights data.

[2021-04-09 09:27] andyTheCoder commented on #6769
Same issue here... Microsoft.NET.Sdk.Functions 3.0.11

[2021-04-09 10:06] DadvDadv commented on #6512
Hi,
I have the same error with trying using report services sdk. If i look on the bin\Debug\netcoreapp3.1\bin it's missing the Microsoft.CodeAnalysis.dll

I try a lot of thing to add the dll in this folder but no luck for now. If i had it manualy it works. Couldn't find how to tell the Azure Function to add it on is "special" bin folder.

Can someone help please?

[FunctionApp1.zip](https://github

[2021-04-09 12:22] felipementel commented on #5851
I change my implementation, and now is Ok - but I need to remove IHttpClientFactory!

    namespace XX.YY.ZZ
    {
        public class Class1 : Interface1
        {
            private readonly ApplicationSettings _applicationSettings;

            public Class1(IOptions<ApplicationSettings> applicationSettings)
            {
                _applicationSettings = applicationSettings.Value;

[2021-04-09 12:26] felipementel commented on #6946
Hi, @MarcDHall can you show me your csproj file?

I think there is some package from .net 5 - and the function app doesn't support .net 5 yet.

[2021-04-09 12:26] felipementel commented on #5590
Please, check this @gustafsonk
https://github.com/Azure/azure-functions-host/issues/5851#issuecomment-816644176

[2021-04-09 12:28] p-bojkowski opened #7282 "".NET5 Azure Function" + Azure Key Value = "Visual Studio Connected Services""
Hi!

when you create the new .NET5 function (https://dev.to/kenakamu/azure-functions-and-net-5-dependency-injection-5ed4)
you can than add "Visual Studio Connected Services" with VS 16.10.0 Preview 1.0.

How can we use .NET5 Azure Function isolated with Azure Key Value?
What is the current best practices to use Azure Key Value in .NET5 Azure Function isolated mode?

[2021-04-09 12:38] MarcDHall commented on #6946
@felipementel I don't have this issue anymore. The project running now so the .csproj doesn't recreate the issue.

At some point I upgraded from netcore2.1 and Functions API v2 to netcore3.1 and Functions v3... that might have fixed it.

[2021-04-09 12:38] #6946 closed, assigned to yojagad

[2021-04-09 14:25] hanvyj commented on #6192
Also seeing this.

[2021-04-09 19:00] ghost commented on #6768
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-09 21:38] anthonychu commented on #6960
@brettsam @fabiocav Would like to get this into the next sprint. Hopefully this isn't a ton of work, but we have a gap in being able to easily link function apps to static web apps. Perhaps this is just a simple log message at host startup instead of an extra column. But would like to be able to query which static web app a function app is linked to.

[2021-04-10 23:29] anthonychu commented on #7268
@cachai2 @alrod Do you have any advice here or aware of any improvements coming that could help?

[2021-04-11 00:38] richardhauer commented on #7260
For anyone else arriving here, the issue only occurs for PUT requests with a single URL segment.  If you keep the `api` segment prefix that is the default, you won't see the error.

We were able to produce this incorrect behaviour using only very basic proxies with no user code at all.

Aside from addressing the issue of _incorrectly_ validating a completely valid `Bearer` token, I think it import

[2021-04-11 04:43] plamber commented on #7278
Hello,
we are experiencing the a similar issue when referencing the Microsoft.Graph package 3.29.0 which comes with the "System.Diagnostics.DiagnosticSource" version 4.7.1.

Similarly you will experience the same issue if you reference Microsoft.ApplicationInsights.AspNetCore 2.16.0 >= in any of your packages getting "System.Diagnostics.DiagnosticSource" version 5.0.0.
The last one might be requir

[2021-04-11 07:00] ghost commented on #7219
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-11 10:07] qcnguyen opened #7284 "Dangerous behavior when using IServiceProvider.CreateScope()"
#### Investigative information

- Function App version: .net core 3.1

**Description**
The registered scoped object won't be correctly resolved whenever IServiceProvider.CreateScope() is invoked.
Please refer the code below:

**Code for StartUp:**
[code]
**Main Code**
[code]

### Expected behavior:
the o1.Id Should be same as o2.Id . This is the behavior that asp.net core web is having

### Actual

[2021-04-11 13:00] ghost commented on #7273
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-12 07:01] yannashi commented on #7243
@mhoeger Any update for the fixing?

[2021-04-12 09:36] #7219 closed, assigned to kashimiz, v-anvari

[2021-04-12 13:55] ZachTB123 commented on #7268
The ideal solution in my opinion is what I talked about in [this](https://github.com/Azure/azure-sdk-for-net/issues/19518) other issue: being able to specify a min batch size and a batching window.

[2021-04-12 15:01] sixeyes commented on #6899
+1 for fix to this

[2021-04-12 15:07] unearthly85 opened #7285 "GZip on Azure Function Not Working For JSON Response"
Hey everyone,

"I feel like I'm taking crazy pills", but I can't find the answer to my problem... I have a group of Azure Functions V3 that are serving up a REST API.  They are on an "Always On" App service plan of B1.

In front of our Azure Functions, we are using Azure API Management.  (Although this problem occurs when we make calls directly to the functions)

We have a larger API response that

[2021-04-12 15:22] bobbytreed opened #7286 "Functions Runtime Error Microsoft.Azure.Extensions.CosmosDB: Method Not Found"
Functions runtime error
Microsoft.Azure.WebJobs.Extensions.CosmosDB: Method not found: 'Microsoft.Azure.WebJobs.IWebJobsExtensionBuilder Microsoft.Azure.WebJobs.WebJobsExtensionBuilderExtensions.ConfigureOptions(Microsoft.Azure.WebJobs.IWebJobsExtensionBuilder, System.Action`3<Microsoft.Extensions.Configuration.IConfiguration,System.String,!!0>)'.

I've searched the web, but only one page of links

[2021-04-12 16:25] v-anvari commented on #7277
Hi @ChrWeinert , This scenario is not a supported design as of now. But, I shall add this as a feature request so that this can be accomplished in the future.

[2021-04-12 17:18] v-anvari commented on #7222
Tagging @safihamid , @vfedonkin for more insights and further investigation on this issue.

[2021-04-12 17:28] v-anvari commented on #7286
Hi @bobbytreed ,Can you provide us with the repro steps and the piece of code that is busted. What is the method that is breaking?

[2021-04-12 17:32] v-anvari commented on #7285
Hi @unearthly85 , Thank you for reaching out to us, checking internally on this issue

[2021-04-12 17:43] v-anvari commented on #7284
Hi @qcnguyen , Checking this issue internally for any updates.

[2021-04-12 17:49] v-anvari commented on #7282
Hi @p-bojkowski , As per the document here - [https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions), It is not a supported feature. Checking this internally for more information.

[2021-04-12 18:02] balag0 opened #7287 "[Linux] Add timeout for BashCommands"
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Management/InstanceManager.cs#L572
We should pass in a timeout and check if process exited: https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.waitforexit?view=netcore-3.1

Also see https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/ProcessManagement/WorkerProcess.cs

[2021-04-12 18:50] v-bbalaiagar commented on #7013
@soninaren, Could you please look into this issue

[2021-04-12 22:00] #6768 closed, assigned to soninaren, v-bbalaiagar

[2021-04-13 05:05] ChrWeinert commented on #7277
Hello v-anvari,
is there any other workaround for this behavior than renaming all the parameter of the function that have the same name like a property within the class, thats represents the request body and keep this behaviour in mind while developing new functions?

[2021-04-13 09:50] bobbytreed commented on #7286
It's not a method.  That's the error message in the azure portal.

Dependencies from project

 <ItemGroup>
    <PackageReference Include="Azure.Storage.Files.Shares" Version="12.6.0" />
    <PackageReference Include="Docker.DotNet" Version="3.125.4" />
    <PackageReference Include="Microsoft.ApplicationInsights.WorkerService" Version="2.15.0" />
    <PackageReference Include="Microsoft.Azure.Mana

[2021-04-13 19:32] ahmelsayed opened #7288 "Adding Durable storageProvider.type to SyncTriggers payload"
#### What problem would the feature you're requesting solve? Please describe.
Currently the host does syncTriggers to update the system status of the triggers using this code
https://github.com/Azure/azure-functions-host/blob/6b95141c6463d8815567bba913346dc780c40630/src/WebJobs.Script.WebHost/Management/FunctionsSyncManager.cs#L509-L535

But as far as I can tell, the type of the storage provider i

[2021-04-13 19:43] beaubgosse commented on #7273
@v-anvari The function had been previously deployed November 24th 2020 and presumably running since then. Do you mean to say that you don't see the start of that invocation of the endpoint? We haven't seen this error in recent times, only the one time. But we're worried that it will come back in a month or so and cause another production outage for us. I'm not sure what other specs of the Function

[2021-04-13 23:30] cgillum commented on #7288
FYI @ConnorMcMahon

I assume we need this fix not just for Lima, but also for Scale Controller support in Azure. In addition to the type, other information may also be needed (for example, some backends use different fields for connection information). I wonder if we should just capture the full `durableHostConfig` blob.

[2021-04-14 08:01] v-anvari commented on #7285
Hi @unearthly85 , Are you using Windows or Linux? If it is Linux, can you check if you are using CORS or EasyAuth (Authentication) features, as that puts in a layer of middleware that may not work well with GZIP compression.

[2021-04-14 08:07] v-anvari commented on #7286
@bobbytreed , Can we have the repro steps to reproduce this error?

[2021-04-14 08:12] v-anvari commented on #7273
Hi @beaubgosse , Yes we do not see the start of the invocation id. We will further investigate on the instances running during that time to understand the error. Also, Do let us know if you see this error again.

[2021-04-14 09:01] v-anvari commented on #7277
Hi @ChrWeinert , As of today there is no such mechanism to use same name, there is an order of precedence with the properties in the binding data and this behavior is by design and that behavior cannot be overridden.

[2021-04-14 11:25] bobbytreed commented on #7286
I didn't do anything unique.  I created a new AzF using Visual Studio.  I clicked through all dialogs to create a new App Service, App Insights, etc. Then I published. I mean the function itself is 100 line, and you can see the short list of dependencies.

[2021-04-14 11:31] v-anvari commented on #7286
Hi @bobbytreed , Thank you for the information, This error could be due to multiple reasons and its important for us to understand the cause to provide a resolution. We are unable to reproduce this error from our end and not sure what is the cause of the error in your project scenario. Can we get the details of package references used and the code, for us to reproduce the error at our end.

[2021-04-14 12:02] neilboyd opened #7289 "Cannot set daily usage quota in initial ARM template deployment"
#### Investigative information

- Timestamp: 2021-04-14T11:45:56.567808+00:00
- Function App version: 2.0
- Function App name: FuncApp-2ien2c3tw2k2u
- Function name(s) (as appropriate): n/a
- Invocation ID: 195d8600-bb84-48ad-ab8d-2d6c7ef57c3f
- Region: West Europe

#### Repro steps

1. Copy the [function app quickstart template](https://github.com/Azure/azure-quickstart-templates/blob/master/101-

[2021-04-14 12:56] Dennor opened #7290 "Azure Function CORS settings ignored for custom worker on Linux"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

I have a bit of a custom setup that basically consists of a custom worker using

[2021-04-14 13:42] unearthly85 commented on #7285
Hey @v-anvari !
We are using linux.
We are not using CORS or any Authentication features (Authentication has no identity providers, and Authentication Classic is off).

[2021-04-14 14:30] v-bbalaiagar commented on #7289
Hi @neilboyd, Thank you for reaching out to us, We will be checking the backend logs and update you with the findings shortly

[2021-04-14 15:07] hajekj commented on #6805
@anthonychu @jeffhollan Would you be able to take a look at this one please? Or eventually point me to someone to discuss this with? I am more than willing to contribute to the runtime to make this work as expected (since I believe it's quite crucial for some of our use-cases of Functions). Thanks!

[2021-04-14 16:02] mathewc commented on #7288
Initially I was going to comment that it would be strange to dump host level config repeatedly into each function. However it looks like we're already doing that [here](https://github.com/Azure/azure-functions-host/blob/852eed9ceef6ef56b431428a8eb31f1bd9c97f3b/src/WebJobs.Script.WebHost/Management/FunctionsSyncManager.cs#L376).

We have https://github.com/Azure/azure-functions-host/issues/5390 tra

[2021-04-14 16:33] nitmatgeo commented on #6328
In my case, I released the error was when there was an exception and when my final block was uncommented.

`  Push-OutputBinding -Name Response -Value ([HttpResponseContext]@{
             StatusCode = "xyz"
             Body       = $body
         })
`
Is it your case too? Any way to handle this?

[2021-04-14 17:22] pragnagopa opened #7291 "Add support for placeholder specialization via build service"

[2021-04-14 17:25] fabiocav commented on #7284
@qcnguyen can you please add the app setting `AzureWebJobsFeatureFlags` with a value of `EnableEnhancedScopes` and re-run your tests to validate whether this helps with your scenario? Thanks!

[2021-04-14 18:04] v-anvari commented on #7285
Hi @unearthly85 , Thank you for the update, we are checking internally for any known issue

[2021-04-14 18:21] ConnorMcMahon commented on #7288
This sounds reasonable to me.

[2021-04-14 18:39] cgillum commented on #5390
@mathewc for my own curiosity, what's the motivation for removing this logic? Is it just to make the code cleaner or is there a more pressing reason? I ask because the Scale Controller definitely needs this information (and probably more than this).

I'm actually discussing some scenarios with Paul where we might want host.json config information (e.g. max concurrency config) for other triggers be

[2021-04-14 18:47] mathewc commented on #5390
The functions host shouldn't have any extension specific logic, references, etc. We strive to keep the design clean so extensions are pluggable without any coupling. This ensures that extension capabilities are available to all extensions w/o requiring any host updates.

[2021-04-14 18:50] ConnorMcMahon commented on #5390
Is there a reason the SyncTriggers api response couldn't just include the host.json (or at least the extensions + concurrency knobs) so that the ScaleController has any information it could need?

In general, more and more trigger types are relying on common configuration that lives in the host.json, and adding specific logic for each of them to the SyncTriggers API is not super maintainable.

[2021-04-14 18:52] paulbatum opened #7292 "Recycle failing language workers"
Have seen a few scenarios where the functions host is running multiple language workers and some of them are consistently failing, while others are working fine. Often this involves some user code component going into a bad state.

In most cases this is resolved with a restart on the function app, but this is a heavy handed approach that requires manual intervention.  The functions host should det

[2021-04-14 18:56] pragnagopa commented on #7292
Tagging @AnatoliB @alrod @mathewc  - fyi

[2021-04-14 18:58] pgombar opened #7293 "Fix check for IsFileSystemReadOnly"
Today, [this check](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Config/HostJsonFileConfigurationSource.cs#L260) for IsFileSystemReadOnly will always return true if `SCM_RUN_FROM_PACKAGE` app setting is present. This app setting is always present for Linux Consumption deployments, even if it's not used, so there can be a situation where we are not using `SCM_RUN_FROM_P

[2021-04-14 19:00] pragnagopa commented on #7293
This needs to be part of next host release - blocker to enable in-portal editing

[2021-04-14 19:00] mathewc commented on #5390
Yes, we can extend the sync payload to include additional info like that. When I extended the payload format a while ago to the current ```{ triggers: [], functions: [], secrets: {} }``` format (for the ARM cache work), I set it up for future extensions. So yes something like that would be preferable to extensions duplicating host level info in each function object in the payload.

[2021-04-14 20:03] #7252 closed, assigned to balag0

[2021-04-14 20:19] fabiocav commented on #7243
@alrod is there an update on this? Thanks!

[2021-04-14 20:21] fabiocav commented on #7242
Moving this to sprint 100 as the work is still in progress.

[2021-04-14 20:26] fabiocav commented on #7214
Review sources and packages.

[2021-04-14 20:30] fabiocav commented on #7248
The current release is locked with multiple sprints. Pushing this to the next sprint as it will be part of a separate release.

[2021-04-14 20:30] fabiocav commented on #6398
@ankitkumarr should this be assigned to the next sprint?

[2021-04-14 20:31] fabiocav commented on #5922
Moving to next sprint as this work has not started yet.

FYI @anthonychu

[2021-04-14 20:43] madelinegordon commented on #7264
Log a warning from the Host to alert the customer that they are pinned to a version that may not be stable when a release takes place.

announcement repo = "app-service-announcements"

[2021-04-15 07:21] Dennor commented on #7290
Disregard this bug report, I had functions with extremely similar names and was most likely picking the wrong one in WebUI.

[2021-04-15 07:21] #7290 closed, assigned to brettsam

[2021-04-15 16:01] v-anvari commented on #6328
Hi @shibayan , Please let us know if you are still seeing this issue

[2021-04-15 16:29] pragnagopa commented on #7289
@mattchenderson - Can you help finding the right contact who can fix this issue?

[2021-04-15 17:26] pragnagopa opened #7294 "Change console logs to JSON format - in kubernetes environment"
In kubernetes environment, system logs flow through the stdout stream of the pod, which gets sent to a shared log analytics workspace. The logs which get emitted to stdout needs to be in json format. Currently the [WebJobs.Script.WebHost/Diagnostics/KubernetesEventGenerator.cs](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Diagnostics/KubernetesEventGenerator.cs

[2021-04-15 17:27] pragnagopa commented on #7294
cc @sanchitmehta @assyadh

[2021-04-15 18:44] v-anvari commented on #7273
Hi @beaubgosse, We checked the backend logs from the functions host perspective and looks like there was some outage during that point of time. Also, the error is coming from the managed Service Identity and not functions host. Since, this is 2 months old error, the log retention is not more than 60 days, which makes it difficult to understand the cause of the error.

This is more of an outage iss

[2021-04-15 18:46] v-anvari commented on #7273
Closing this issue as the error hasn't re-occurred. Feel free to re-open the issue with the latest invocation id, if at all you come across the issue in future

[2021-04-15 18:46] #7273 closed, assigned to nobody

[2021-04-15 19:06] v-anvari commented on #7285
Tagging @ConnorMcMahon, for more insights

[2021-04-15 19:07] v-anvari commented on #7282
Transferring this issue to Dot net Worker for more inputs.

cc @ankitkumarr

[2021-04-15 19:10] v-anvari commented on #7274
cc @alrod

Transferring this issue to event hubs extension for more insights.

This issue looks like a duplicate of [https://github.com/Azure/azure-functions-eventhubs-extension/issues/42](https://github.com/Azure/azure-functions-eventhubs-extension/issues/42)

[2021-04-15 21:16] fabiocav commented on #4066
Apologies for the delayed response. This should have been kept in the  Python repo, so I'll transfer it back.

@Hazhzeng can you please follow up on this? Thanks!

[2021-04-16 03:27] qcnguyen commented on #7284
The EnableEnhancedScopes works. Thanks, but when will it become the default behavior ?

[2021-04-16 05:53] CSymes commented on #6542
Similarly to @nhwilly, I'm trying to offload my settings and secret storage to App Configuration while using that data to set up my Function triggers, but am running into this issue as well.
I can confirm I'm running on runtime 3.0.15417.0, on a consumption plan.

[2021-04-16 06:48] shibayan commented on #6542
It is expected by design that it will not work on Consumption Plan. Function Premium Plan and Runtime Scale Monitoring need to be enabled.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-networking-options#premium-plan-with-virtual-network-triggers

[2021-04-16 09:28] jaganpt commented on #7201
Hi @v-anvari ,

We are still facing the log threshold issues. Please let me know if you need any further details to analyze the issue.
We have already shared the details to your (v-anvari@microsoft.com) email.

Thank you.

[2021-04-16 09:54] v-anvari commented on #7201
Hi @jaganpt , Apologies for the delayed response. I have got the mail from Thomas. If the logs are missing from live metrics, it is expected due to the network concerns. We are unable to reproduce this issue, but we have understood that the logs are missing from application insights. Checking this internally for further investigation.

Function invocation id for Function App reference: 46d02b50-f8

[2021-04-16 15:03] rmaziarka commented on #6239
I experienced the same problem today. It's great that there is a @Simon-Gregory-LG workaround but such behavior of AF makes us spend hours / days on solving the wrong types of problems.

[2021-04-16 15:05] pragnagopa commented on #7293
@brettsam / @soninaren / @fabiocav - adding a little more context. This issue prevents loading extension bundles when app is created from portal - so only HttpTrigger and TimerTrigger templates are available.

[2021-04-16 16:18] fabiocav commented on #7284
This will become the default behavior with the next release.

[2021-04-16 17:17] pragnagopa opened #7296 "[LinuxDedicated] Default to Tcp logging for AZ Monitor logs"
cc @divyagandhisethi

Commit https://github.com/Azure/azure-functions-host/commit/69111926ee920d4ba10829c8fa34303bb8165a42 switched to Console logs - this resulted in losing backward compatibility with existing changes in ANT 93.

This is tracking item to default to TCP - logging - that relies on console logs - after ANT 94 and Host changes roll out completes

[2021-04-16 17:39] michc-msft commented on #6423
@paulbatum do you also happen to know if Durable Function TaskHub bindings will be included in the shift towards Managed Identity?

[2021-04-16 20:53] paulbatum commented on #6423
@michc-msft I believe this is a separate work item that the durable team has on their radar. Not sure if they have a tracking issue for it in github though. I took a quick look [here](https://github.com/Azure/azure-functions-durable-extension/issues) and couldn't find one.

[2021-04-16 22:11] michc-msft commented on #6423
Just opened a feature request. Thanks for the pointer @paulbatum!

[2021-04-17 13:13] mikhail-khalizev commented on #6780
`[HttpTrigger(AuthorizationLevel.Anonymous, "post", Route = "mergePDF/{id}")]` should be attached to `HttpRequest req`:
[code]

[2021-04-17 18:02] prabh-62 commented on #6780
I understand that the issue can be fixed by attaching `HttpTrigger` to `HttpRequest`. However, the reason, I opened this issue was to provide a descriptive error message instead of `Cannot access a disposed object`

[2021-04-18 13:00] ghost commented on #7286
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-19 08:21] sivakumar715 opened #7298 "MaxAutoRenewDuration is not working properly in session based servicebus queue trigger azure function"
We have deployed session based servicebus trigger azure function under **kubernetes service(AKS)** with below configuration(attached host.json & message lock duration).

message lock duration = 5 minutes
maxAutoRenewDuration (in host.json) - 4 minutes

![image](https://user-images.githubusercontent.com/54092242/115203753-67099b00-a115-11eb-908a-b5aa0e05db2d.png)
![image](https://user-images.github

[2021-04-19 12:00] v-anvari commented on #6317
Please feel free to update any future query in [2534](https://github.com/Azure/azure-webjobs-sdk/issues/2534). Closing this as duplicate - [https://github.com/Azure/azure-webjobs-sdk/issues/2534](https://github.com/Azure/azure-webjobs-sdk/issues/2534)

[2021-04-19 12:00] #6317 closed, assigned to nobody

[2021-04-19 12:58] v-anvari commented on #7285
Hi @unearthly85, We reproduce that the gzip compression just works on Windows, and doesn't work on Linux. Checking this internally if this is explicitly supported in Linux App services or this support needs to be included. Meanwhile, Please go through the following link to check if the steps work for your project scenario [how-do-i-enable-gzip-compression-for-linux-azure-app-services](https://stac

[2021-04-19 15:04] unearthly85 commented on #7285
Hey @v-anvari,
When testing locally, there is a problem I find when manually adding the header for `Content-Encoding` to my .net azure functions.

I attempted to do what was mentioned in [how-do-i-enable-gzip-compression-for-linux-azure-app-services](https://stackoverflow.com/questions/65091144/how-do-i-enable-gzip-compression-for-linux-azure-app-services).

Tested by adding the following line: `r

[2021-04-19 15:11] unearthly85 commented on #7285
I am looking into
`builder.Services.AddResponseCompression();`
suggested here: https://stackoverflow.com/questions/61688759/enabling-gzip-compression-on-azure-app-service-for-containers

This doesn't work on localhost, but supposedly this isn't possible as seen in the link below, and it does not create any errors on response like manually adding the `Content-Encoding: gzip` header.
 https://stacko

[2021-04-19 16:29] v-anvari commented on #7298
Hi @sivakumar715 , Can you let us know what is the version of "Microsoft.Azure.WebJobs.Extensions.ServiceBus" used. There is a similar exception seen here: [azure-functions-servicebus-extension/issues/23](https://github.com/Azure/azure-functions-servicebus-extension/issues/23).

Transferring this issue to service bus extension for further updates

[2021-04-19 16:33] v-anvari commented on #7284
Closing this issue  as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue

[2021-04-19 16:33] #7284 closed, assigned to nobody

[2021-04-19 18:02] mathewc opened #7299 "Dynamic Concurrency Support"
## Overview

This epic item tracks the work across the various repos for enabling **Dynamic Concurrency** (DC). The idea for DC is to define a collaborative model between the host and extensions to allow extensions to support a dynamic concurrency mode. In this mode, rather than the user manually configuring host level concurrency knobs for various extensions (e.g. BatchSize/NewBatchThreshold for

[2021-04-19 18:04] davghouse commented on #6476
Looking forward to updates on this

[2021-04-19 18:07] ThomasPe commented on #5841
Any solutions for this very common issue or at least some info if this is possible in future versions?

[2021-04-19 20:49] mathewc opened #7300 "Functions: Dynamic Concurrency Support"
Implement Azure Functions Dynamic Concurrency feature set described in Azure/azure-functions-host#7299.

[2021-04-19 21:53] unearthly85 commented on #7285
@v-anvari , It appears that Azure Functions doesn't support middleware the same way that Web API does, so I cannot implement gzip response compressions in code like suggested in my prior comment.

At this point, I do not know any way to work around this issue and I am stuck with linux app services being unable to use gzip compression, so I have deployed a new Function app on windows infrastructure

[2021-04-19 22:48] pragnagopa opened #7301 "[Kubenetes]Provide host lease management without storage account"
We need to have a non-storage based lease mechanism for Kubernetes environments. This is achieved by injecting a side car which performs leader election in Kubernetes. The functions runtime sends a web request to this sidecar to get the leader for that particular lock name. The lock name here is derived by the webjobs sdk and is based on the app name and the function name.

[2021-04-20 05:46] v-bbalaiagar commented on #7182
Hi @joshlrogers, Closing this issue as the error hasn't re-occurred. Feel free to re-open the issue with the latest invocation id, if at all you come across the issue in future

[2021-04-20 05:46] #7182 closed, assigned to nobody

[2021-04-20 09:23] v-anvari commented on #7285
Hi @unearthly85 , Thank you for sharing your findings. We are checking with the right team to confirm the support on this scenario.

Cc @ConnorMcMahon, for confirming the supportability

[2021-04-20 09:26] v-bbalaiagar commented on #7249
Hi @balag0, Could you please look into this issue

[2021-04-20 09:38] v-bbalaiagar commented on #7231
Hi @pjeschko, Apologies for the delayed response. If this is an ongoing issue, can you provide us the recent time stamp where you observe this behavior and we will be able to look at the logs and understand what could have happened there.

[2021-04-20 10:01] v-anvari commented on #7122
Hi @Y-Sindo, Apologies for the delayed response. This is not a completely supported or documented scenario. This package is primarily publish to support an internal tooling. Transferring this issue to core tools for more insights.

[2021-04-20 11:41] v-anvari commented on #7240
Hi @Dzoukr , Apologies for the delayed response, Streams aren't supported when using BlobTriggers in .Net 5.0.

Azure/azure-functions-dotnet-worker#378 (comment)

Duplicate issue : [azure-functions-dotnet-worker/issues/398.](https://github.com/Azure/azure-functions-dotnet-worker/issues/398)

The right repository for this issue/updates is Dot Net worker.

[2021-04-20 11:42] #7240 closed, assigned to nobody

[2021-04-20 12:31] v-anvari commented on #7201
Hi @jaganpt , I have checked the logs in Applens, but the function App running status says its "Stopped". Can you tell us if the function App is shut down?
What is the latest timestamp of the error.

[2021-04-20 12:58] jaganpt commented on #7201
Hi @v-anvari,

I think you are referring to dev function app. Please check Thomas email for the live function app details. Thanks.

[2021-04-20 13:14] v-anvari commented on #7201
Hi @jaganpt , Yes I am talking about the one which Thomas shared. We need to check why the logs are missing from Application insights. Are you still facing this scenario, if yes, Can you give us the recent invocation id , time stamp and region of a working function app?

Since the dev is stopped, it doesn't give us the metrics earlier to 30 days

[2021-04-20 15:48] v-bbalaiagar commented on #7061
Hi @shibayan, We would like to know if you can close this issue or if you are still looking for a solution

@rob4bertus ,Can you create a new issue by explaining your scenario as it looks like a different scenario and not duplicate

[2021-04-20 17:19] FinVamp1 opened #7302 "Additional logging to output the dependencies from Functions.dep.json to our logging."
#### What problem would the feature you're requesting solve? Please describe.
Customers can run into issues when the Functions Runtime is upgraded and suddenly their application doesn't work any more.

E.G.

"System.TypeLoadException : Could not load type 'Microsoft.Azure.WebJobs.Hosting.IWebJobsStartup2' from assembly 'Microsoft.Azure.WebJobs.Host, Version=3.0.16.0, Culture=neutral, PublicKeyToke

[2021-04-20 17:39] lensbart commented on #6609
I’m running into the same issue, albeit for different reasons. I think at the simplest, a configuration option to choose a version of npm or Yarn would suffice. But zipping an app that has been built using yarn, and running it via npm is not a solid solution:

- Yarn 2 Plug 'n' Play offers a new module resolution mechanism which is not compatible with npm
- Yarn workspaces install some modules use

[2021-04-20 19:49] JohannesBertens commented on #7221
Following this as well, the "workaround" with the RedirectAssembly function works for us, but this is not a long-term solution.

[2021-04-20 20:29] fabiocav opened #7303 "Automate validation of admin controller routes"
We need to automate testing and validation of the controller routes exposed by the host to ensure they remain consistent and are defined as expected across releases.

[2021-04-21 02:26] #7294 closed, assigned to divyagandhisethi

[2021-04-21 05:52] balag0 opened #7305 "Defer Script Host disposal during cold start"
One of the steps during specialization is to restart host. This restart involves starting a new host and disposing the old host.
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/WebJobsScriptHostService.cs#L483

Disposing old host impacts cold starts at higher percentiles under some specific ordering of code execution.

[2021-04-21 08:39] jaganpt commented on #7201
Hi @v-anvari ,

I have shared the requested details  to your (v-anvari@microsoft.com) email.
Please check and let me know if you need any further details.
Yes, we are still facing the issues.  Thanks

[2021-04-21 09:45] v-anvari commented on #7201
Hi @jaganpt , Thank you, reaching out to you on mail

[2021-04-21 11:00] Y-Sindo commented on #2659
I encountered similar issue. Everything works well after I added "Content-Length" header.

[2021-04-21 14:25] t-l-k commented on #5098
@VaclavK I wouldn't consider Azure Functions "production ready" when running _without_ this flag TBH, especially if you're running a design with a properly encapsulated domain model with plenty of service abstractions.

@brettsam Is it enabled by default yet?

[2021-04-21 14:27] beaubgosse commented on #1864
I'll be following this, since we also see this problem with a consumption plan Azure Function App

[2021-04-21 16:00] #7286 closed, assigned to soninaren, v-anvari

[2021-04-21 17:25] fabiocav commented on #5098
@t-l-k I'm sending the changes to make this the default in the current sprint. Next release will have the new behavior.

[2021-04-21 17:49] VaclavK commented on #5098
@fabiocaFabie just so I understand this - This will be the default behaviour without need to configure anything in?

How do I know that when that release will be the release running in azure for my functions?

[2021-04-22 02:17] mcollier opened #7309 "ANSI control characters in container logs."
#### Investigative information

Please provide the following:

- Timestamp: 2021-04-22T02:02:46.233721012Z
- Function App name: https://csefeedback-419898-app.azurewebsites.net
- Region: East US

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a containerized Azure Function for Linux, as indicated at https://docs.microsoft.com/en-us/azure/azure-functions/functions

[2021-04-22 11:40] llimos commented on #5373
@jeffhollan Perhaps the host.json `functions` property could be extended to accept the full contents of the function.json (instead of just the function name). Each function would have its own scriptFile property which could be anywhere, and the definitions are all in one place. It seems like a neat solution.

[2021-04-22 13:39] v-anvari commented on #7233
Hi @Arash-Sabet , We would like to know if you were able to find a solution to this issue. Kindly let us know so that we can look into this further

[2021-04-22 13:44] v-anvari commented on #7207
Hi @klogan12 , Apologies for  the delayed response. We are trying to understand your scenario to understand the error. Can we have the repro steps and what other packages you are using in your project.

[2021-04-22 20:35] beyerleinf commented on #5373
For TypeScript projects, Decorators could be a good option. That would make it more similar to .NET

[2021-04-22 23:22] alrod commented on #7235
Current v2 bundle extension [2.*, 3.0.0) uses 4.2.0:
[https://github.com/Azure/azure-functions-extension-bundles/blob/v2.x/src/Microsoft.Azure.Functions.ExtensionBundle/extensions.json#L25](https://github.com/Azure/azure-functions-extension-bundles/blob/v2.x/src/Microsoft.Azure.Functions.ExtensionBundle/extensions.json#L25)

@ZachTB123 do you still experience the issue?

[2021-04-22 23:24] gohar94 opened #7310 "Caching of function bindings (input/output) for faster I/O"
#### What problem would the feature you're requesting solve? Please describe.
When a function accesses a remote object via bindings (e.g. blob from storage) or produces an output object, we should cache the object so that it can be served from memory the next time it is requested to improve performance (latency/throughput of fetching the object from remote storage).

#### Describe the solution you

[2021-04-23 01:26] anthonychu commented on #5373
As @jeffhollan mentioned, we're investigating newer programming models. There's some foundational work on the core runtime and language workers that are needed before we can enable these scenarios. Depending on other priorities, we're hoping to make some progress in the second half of this year.

[2021-04-23 03:10] yannashi commented on #7243
@alrod and @mhoeger any update on this? Thanks!

[2021-04-23 12:09] Prabhu-dev-alt opened #7311 ".NET 5 Azure Function (dotnet-isolated) - Input binding from keyvault"
I am trying to connect my function app to keyvault and get queue name and connection secrets. This was working well with .netcore3.1 app using the ConfigureAppConfiguration(IFunctionsConfigurationBuilder builder) method in FunctionStartup.

After upgrading to .net5 dotnet-isolated, the bindings does not work. I configured azurekeyvault in Program.cs but still it does not pick from keyvault. Seems

[2021-04-23 19:01] pragnagopa opened #7312 "Update build pipelines to increment minor version for each release"
- Increment minor version on release

[2021-04-23 19:01] pragnagopa commented on #7312
cc @brettsam @fabiocav

[2021-04-23 20:07] yojagad commented on #7312
Was thinking if dev branch should point to a minor version that's about to be released. This way

- After a release is cut everytime, this minor version is updated.
- Dev always points to a minor version you're working towards... This also makes cutting off a release easier.

[2021-04-23 20:10] fabiocav commented on #7312
Yes. We can send an update to the minor version at any point now.

[2021-04-23 21:06] cgillum opened #7313 "Function names in Host.Startup logs show .NET method names and not actual function names"
There is a log event with ID **65521** and Source = `Host.Startup`. It starts with the message "Found the following functions" and then lists out all the function names. However, instead of listing out the function names, it lists out the .NET method names, which are different. This makes certain types of investigations more difficult, especially Durable Functions investigations since functions ne

[2021-04-23 23:06] pragnagopa opened #7314 "Update build script to produce site extension for patching Rapid Update feed"
Each patch version of functions host site extension should include following -

- extension.xml --> just like regular site extension package
- Update build to use deterministic flag: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/code-generation#deterministic
- In the Folder 3.1.xxxx  Include following
    - hashesForHardlinks.txt  -- this file should include ha

[2021-04-23 23:06] pragnagopa commented on #7314
cc @fabiocav @brettsam

[2021-04-23 23:50] ConnorMcMahon opened #7316 "Authentication feature interferes with CORS feature on Linux Consumption"
# Repro steps

1. Create Linux consumption function application
2. Create an azure web app that can host JS code
3. Add the web app domain as a CORS allowed origin
4. Enable Authentication for the application.
5. Try to make a cross-origin POST request in browser JS code from your web app to the function app. The CORS pre-flight request will return a 401.

#Fix
Swap CORS and EasyAuth middleware

[2021-04-24 00:41] FanBaoMS commented on #6899
I hit the same issue and after some investigation I think this change is the root cause
https://github.com/Azure/azure-functions-host/commit/8ee1fb5af64a7d9311e73d486385068e683805a0#diff-a11275288a9a75bece2473411c40dbffbd2dddb303e3b932d123995861752786L55

Before
[code]

After
[code]

Probably the original reason of log message still stands?

[2021-04-24 00:47] ElvenSpellmaker commented on #6899
If this is the root cause it'd be nice to know what we can do to remove the warnings... Noöne uses Razor (statistically speaking) and so it seems bad to include some kludge code that accepts Razor when one man and his dog uses it.

Seeing as we're now almost half a year away from when this issue was raised I feel some solution should be imminent but then I know Microsoft and the only solution woul

[2021-04-24 16:47] #7139 closed, assigned to mhoeger

[2021-04-24 19:00] ghost commented on #7061
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-25 16:00] ghost commented on #7231
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-26 07:14] Varada opened #7317 "GenerateFunctionsExtensionsMetadata Revisited"
1. My Azure function carries some native dlls along with it - this is legacy code, we don't trigger usage of these native functions, but unfortunately, I need to carry them along with the package.
2. My build system treats warning as errors - this is corporate policy

On build, we get these warnings

Could not evaluate 'concrt140.dll' for extension metadata. Exception message: Format of the execut

[2021-04-26 10:12] v-bbalaiagar commented on #7193
Hi @jackbond, Closing this issue as duplicate, Here is a [tracking issue](https://github.com/Azure/azure-functions-host/issues/6542) which is being addressed and worked upon on a similar scenario, Please find the space for further updates.

[2021-04-26 10:12] #7193 closed

[2021-04-26 11:03] oc002 commented on #9290
After many exchanges back and forth between me and the support team and the product team the solution was:

Which means that there's nothing we can do but to prohibit the usage of url-encoded `/` characters in our APIs or figure out a way to double encode the parameter.

We will go with the former and ask our customers to avoid encoding `/` characters in the URL for now.

[2021-04-26 13:54] nikramakrishnan commented on #6490
Using the dependency injection method by @mpalese causes unexpected side effects. Opening the Functions list on Azure portal shows `Azure Functions Runtime is unreachable`.

[2021-04-26 16:00] ghost commented on #7233
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-26 16:00] ghost commented on #7207
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-26 16:48] rocco-corsi-elits opened #7318 "golang customHandler HTTP redirect not sent back to client"
Using Function App in Azure to develop a REST API.  We are using golang for the REST API server.

Our function app is using enableForwardingHttpRequest set to "true", so that there is no need to have Function App specific changes or handling to the REST API.

All was working well until we attempted to HTTP redirect (302) in the responses.

Instead of the 302 responses to be sent back to the client

[2021-04-26 17:25] zsolt-halo commented on #7316
Fantastic :) thanks!

[2021-04-26 22:53] cookston opened #7319 "The ExtensionsMetadataGenerator package was not imported correctly. Are you missing"
#### Repro steps

I am working with microsoft.net.sdk.functions 1.0.38 and see the build warning message:

[code]

I installed the specified NuGet package with the version required. However, I then received 3 warnings:

[code]

Worse still my project would not build - it freezes on build with no way to cancel. The only way to cancel was to do, elevated PowerShell:

stop-process -name "dotnet"

To

[2021-04-27 01:44] bachuv opened #7320 "Returning a disposed HttpResponseMessage takes over 2 minutes"
The customer from ICM Incident 232358774 noticed that if a function receives a disposed `HttpResponseMessage` to return, then the function won't return a 502 Bad Gateway immediately, but will instead take over 120 seconds before returning a 502 Bad Gateway response.

This behavior is only observed in Azure and not in local development.

#### Investigative information

Please provide the following:

[2021-04-27 07:39] balag0 opened #7321 "[Linux Consumption] Don't block assignment call on sidecar specialization"
Make this call non-blocking
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Controllers/InstanceController.cs#L54

For apps that take longer to specialize sidecar, this call can lead to request timeout on worker assignment instead of function invocation. Only impacting small number of apps.

[2021-04-27 09:06] v-bbalaiagar commented on #6785
Hi @tkaniewski, Apologies for the delayed response, We would like to know if you were able to find a solution to this issue. Kindly let us know so that we can look into this further.

[2021-04-27 09:16] v-bbalaiagar commented on #6801
Hi @Satak, Apologies for the delayed response, We would like to know if you were able to find a solution to this issue. Kindly let us know so that we can look into this further.

[2021-04-27 09:59] Satak commented on #6801
I just renamed my proxy setting differently than function

[2021-04-27 10:02] v-bbalaiagar commented on #7309
Hi @mcollier, Can you please confirm if this issue requires for us to investigate further.

[2021-04-27 10:06] v-anvari commented on #7319
Hi @cookston , Can you update the Microsoft.NET.Sdk.Functions to the latest version- 3.011 and let us know if you are still facing the problem.

Can you also include the latest version for Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator

Can you look into the following issue and tell me if your issue is related to this :[https://github.com/Azure/azure-functions-host/issues/6769](https:/

[2021-04-27 10:11] v-anvari commented on #7201
Hi @jaganpt , I have sent out a mail to you, did you get a chance to check the settings.

I see that the default sampling settings is enabled in your Function App. This could cause missing execution logs from your monitor logs.  Please look at the guidance for more information :
[Monitor Azure Functions | Microsoft Docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#c

[2021-04-27 10:17] vtkachenko commented on #5421
We encounter similar issue as well, with quite large Azure Function App, which contains a few long-running functions.

3600000 ms timeout seems to be a new "default" `startupTimeLimit` value, as we don't set it anywhere - and it is reported back to us in eventlog.xml.

[code]

We have NO custom Site Extensions installed, and "MSDeploy" Site Extension only, visible in Kudu "LogFiles" folder.

Our `

[2021-04-27 10:18] v-anvari commented on #7317
Hi @Varada , Can we get more details about your project to understand the scenario better. It would be helpful if you could provide the repro steps

[2021-04-27 10:25] cookston commented on #7319
I am currently on microsoft.net.sdk.functions 1.0.38, upgrading to the latest 3.0.11 causes 700 build errors on my project so that is currently not an easy solution to apply.

Yes that seems similar, but I cannot currently upgrade from 1.0.38.

[2021-04-27 10:28] v-anvari commented on #7319
Hi @cookston , Checking internally if we have any known issues.

Can we know the impact if you ignore the build warnings. Can we have the repro details to understand the cause.

[2021-04-27 11:01] v-anvari commented on #5891
Hi @paulhickman-a365 , We totally Apologize for the delayed response. You can refer the [link](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-suppress-compiler-warnings?view=vs-2019#suppress-warnings-for-visual-basic) to suppress the warnings. Do let us know if you are looking for any other information as well.

[2021-04-27 11:04] v-bbalaiagar commented on #7313
Hi @cgillum, Thank you for reaching out to us, checking internally on this issue.

[2021-04-27 11:09] v-anvari commented on #5912
Hi @jcageman , Closing this issue as the workaround was provided and no recent activity. Please feel free to reach back to us in case of any issue

[2021-04-27 11:09] #5912 closed, assigned to nobody

[2021-04-27 11:11] v-anvari commented on #6055
Hi @whakomatic , We apologize for the delayed response, were you able to find a solution to this problem. Do let us know if you want us to look at this issue further

[2021-04-27 11:13] v-anvari commented on #6229
Closing this issue as the workaround has been mentioned above.

[2021-04-27 11:13] #6229 closed, assigned to nobody

[2021-04-27 11:14] v-anvari commented on #6236
Hi @Chaosed0 , Can you let us know if this scenario is still seen

[2021-04-27 11:16] v-anvari commented on #6337
Hi @ConnorMcMahon , Since its an year old issue, can you confirm if this issue needs to be closed or requires a Triage.

[2021-04-27 11:24] Camios commented on #5912
The activity we are waiting on is for the Functions team to fix the flaw. The lack of activity is from the MS team. Please reopen and fix it.

[2021-04-27 11:29] v-anvari commented on #5912
Hi @Camios , Thank you for the response. As this is an old issue, request you to kindly open a new issue with details of your project scenario, so that we can add it to the sprint for further investigation

[2021-04-27 11:39] v-anvari commented on #6413
Closing this issue as the required information is provided.

[2021-04-27 11:39] #6413 closed, assigned to nobody

[2021-04-27 11:55] v-bbalaiagar commented on #7311
Hi @Prabhu-dev-alt, Transferring this issue for more insights

[2021-04-27 12:00] jcageman opened #7322 "Requiring ILogger<> during function startup throws InvalidOperationException"
This is a re-create of issue #5912.

I would like to initialize some caching code within an azure function. This caching service injects an ILogger<> which cannot be injected apparently, since not all required services have been registered.

When running the following line of code (part of the code below). i get the following exception:
`scope.ServiceProvider.GetRequiredService<ICachingService>().

[2021-04-27 12:01] jcageman commented on #5912
It's pretty annoying, but I've created a new issue. See #7322

[2021-04-27 13:01] paulhickman-a365 commented on #5891
@v-anvari  These warnings are logged with no error code, it is blank column.

Therefore, it isn't possible to suppress them using the techniques described in those links.

[2021-04-27 13:07] v-anvari commented on #7322
Hi @jcageman , Thank you for re-creating the issue, we will be further investigating this issue and update the progress.

[2021-04-27 13:42] mcollier commented on #7309
It seems that setting an application setting / environment variable of `AzureFunctionsJobHost__Logging__Console__DisableColors` with a value of **true** will disable the ANSI control characters.

https://stackoverflow.com/a/57933813

cc: @anthonychu

[2021-04-27 14:05] brettsam opened #7324 "Evaluate usage of Assembly.Location"
.NET 5 changed some behavior wrt `Assembly.Location`, `Assembly.CodeBase`, etc, when sigle-file publishing is used. https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/5.0/assembly-api-behavior-changes-for-single-file-publish.

We need to evaluate this for v4 to see if these will affect us.

[2021-04-27 14:13] cookston commented on #7319
The issue is that I have another issue where the Insert Azure Function does not work any more on my project.  When I select Add | New Azure Function and then press Add freezes VS with:

![image](https://user-images.githubusercontent.com/2190792/116256212-e4af5580-a76a-11eb-9ed3-b5c3bd437d80.png)

I have a Microsoft support issue open about that but I am trying to see if this build warning is possi

[2021-04-27 15:40] v-anvari commented on #7318
Hi @rocco-corsi-elits , Thank you for providing your findings, we will check this internally for any known issues and get back to you

[2021-04-27 16:06] ConnorMcMahon commented on #6337
This issue requires a triage.

[2021-04-27 16:07] davidmrdavid commented on #6337
I don't think this issue has been prioritized yet. I'm happy to help with the coding so long as we get the opinion of some Functions Host owners. @kashimiz, could we get your thoughts on this :) ?

[2021-04-27 18:42] rocco-corsi-elits commented on #7318
Great. Thank you!

[2021-04-27 20:01] mathewc opened #7325 ""Collection modified" exceptions in WorkerProcess.Exited handler"
Seeing the below exception in production logs. Looks like the issue is in the code [here](https://github.com/Azure/azure-functions-host/blob/4c4fb7da51c593467442fb8570596d575cf94c88/src/WebJobs.Script/Workers/ProcessManagement/WorkerProcess.cs#L138). Should probably make this a ConcurrentQueue or handle concurrency on it some other way.

[code]

[2021-04-27 20:19] drfbwilliams commented on #6893
**This is not solved in anyway shape or form.**

Adding a closed tag and basically placing an endless loop of redirects in github is utterly pointless.

It is the end of APRIL - where is the definitive fix on this issue that doesn't required a forced upgrade to Core 5?

Someone on your teams needs to take some leadership here and follow all of the messed up references to this and place a resolutio

[2021-04-27 20:26] fabiocav commented on #6893
@drfbwilliams I'm sorry if the information shared here hasn't been clear. But the roadmap when it comes to support for new .NET versions and framework assemblies has been shared [here](https://techcommunity.microsoft.com/t5/apps-on-azure/net-on-azure-functions-roadmap/ba-p/2197916). This outlines the options available now and what the experience will look like in the future.

[2021-04-28 08:20] jaganpt commented on #7201
Hi @v-anvari ,
Thanks for your reply.
We will check the sampling settings and reach out to you for any queries. Thanks.

[2021-04-28 08:51] ChrisHimsworth commented on #5240
Is there any update on this?
We have tried upgrading to version 4.2.2 of Microsoft.Azure.WebJobs.Extensions.ServiceBus, but we still get issues.  Every time it happens we get two exceptions logged.  Both contain the same error message:
[code]

1st exception:
[code]

2nd exception:
[code]

[2021-04-28 11:53] piotrzbyszynski opened #7326 "NullReferenceException"
Sometimes, for no apparent reason, one of instances of my function (consumption plan, service bus triggered) starts to constantly throw `NullReferenceException`. It seems like an exception is thrown on function entry point.
 Usually restarting function helps. Here is a stack trace

[code]

- Timestamp:
- Function App version: 3
- Invocation ID: 2324d41f-0cb6-4e6b-a082-475efacae9be
- Host instance:

[2021-04-28 11:58] #6663 closed, assigned to mhoeger

[2021-04-28 12:00] #5132 closed

[2021-04-28 14:10] drfbwilliams commented on #6893
@fabiocav - thank you for the reply and the link to that information.

I understand the problem your team is facing and the reasons for moving to the out of process implementation, and I also believe it is the right decision to make.

At some point, the entire communication strategy has to change - documentation, even these repos are an absolute minefield to navigate and burn so much time. That is

[2021-04-28 14:41] quality-leftovers commented on #281
Also interested in this functionality. I know there are entity functions, but those do not fit every use case.

If no one can detect when the lifetime of a workload ends there can be no efficient flushing.

- I like the idea of [HostEventTrigger("Shutdown")]
- Since there already is FunctionsStartup maybe we could have a FunctionShutdown (that can consume services via DI)?

[2021-04-28 16:00] andrewdmoreno commented on #7216
@v-bbalaiagar Has there been any progress on this issue?

[2021-04-28 19:00] #7231 closed, assigned to yojagad, v-bbalaiagar

[2021-04-28 20:17] fabiocav commented on #7242
@soninaren would you be able to provide an update on this? Should this be moved to the next sprint?

[2021-04-28 20:26] fabiocav commented on #7261
@soninaren would you be able to provide an update on this? Should this move to the next sprint?

[2021-04-28 20:29] safihamid commented on #7261
This is less important now and can be punted.

[2021-04-28 20:31] fabiocav commented on #7293
Currently in PR. We should be able to review and merge for the current sprint.

[2021-04-28 20:31] fabiocav commented on #7301
Is this tied to the PR @divyagandhisethi is moving from WebJobs to the Host?

[2021-04-28 20:37] divyagandhisethi commented on #7301
Yes. I will link my PR to this issue.

[2021-04-28 23:03] #7316 closed, assigned to ConnorMcMahon

[2021-04-29 01:27] ZachTB123 commented on #7235
@alrod I don't see any recent invocations that indicate version `4.1.1.0` is being used like I mentioned in my previous post but I also did implement a fix already in code where we are checking the size and manually sending the data to Event Hub using the sdk if the size is greater than 245kb.

[2021-04-29 02:09] balag0 commented on #7326
@pzbyszynski Looks like the exception might be coming from the function code. Is it possible Line 62 might lead to NRE under some scenario?

Exception while executing function: SynchronizeFunction ---> System.NullReferenceException : Object reference not set to an instance of an object.
   at async PerfectGym.GoApi.Infrastructure.Synchronization.Functions.SynchronizeFunction.Run(Message message,IA

[2021-04-29 03:40] Jayruler3 commented on #7316
Yea

[2021-04-29 12:31] #7260 closed, assigned to gzuber

[2021-04-29 12:33] piotrzbyszynski commented on #7326
@balag0  I don't thing it is code specyfic. In line 62 I see nothing that could result in NRE.

Also, I usually have over 50 instances of this function (consumption plan). And it is only one random instance that suddenly starts to throw exceptions. After restart the same messages that were causing NRE earlier are handled just fine

[2021-04-29 15:41] 0gust1 commented on #5090
We're also facing this issue, too bad.
After much fighting and digging, I finally found this thread.

@MattJeanes @KillianW @mrzachhigginsofficial , if you have a small gist/snippet of your Nginx setup at hand, it would be very appreciated.

[2021-04-29 16:02] AmyJeanes commented on #5090
@0gust1 We use ingress-nginx + Helm charts on Kubernetes for our deployments, but here is an example that should get you on your way if this is your scenario:

[code]

Or a resolved template example:

[code]

[2021-04-29 16:06] ghost commented on #5090
If you're looking to run this locally for some testing or just want to see how the build works locally... This is part of the documentation I wrote earlier this year. We ended up not using the docker container too much for various reasons. Not sure if this is the best way to do it, but it does work. Step 1 creates the docker file and builds/runs the function app image. Step 2 builds and runs the r

[2021-04-29 16:40] v-anvari commented on #7317
Hi @Varada , I have confirmed this scenario internally and, unfortunately the only workaround is to ignore these build warnings. You may have to modify the project not to consider warnings as errors. This is also a duplicate of the issue - [https://github.com/Azure/azure-functions-host/issues/6899](https://github.com/Azure/azure-functions-host/issues/6899). This issue is already considered for a f

[2021-04-29 16:46] v-anvari commented on #7318
Triaging this issue as bug as it requires fix

[2021-04-29 16:53] v-anvari commented on #5421
Hi @vtkachenko , Your query looks like a different scenario, Can you open a new case with your project details so that we can further look into it.

[2021-04-29 19:00] #7233 closed, assigned to kashimiz, v-anvari

[2021-04-29 19:00] #7207 closed, assigned to madelinegordon, v-anvari

[2021-04-29 20:31] kelly-centare opened #7330 "Azure Portal can't list functions (Azure Functions runtime is unreachable)"
#### Investigative information

Hello, I inherited this application and am admittedly not an Azure expert. I am trying to troubleshoot some behavior and am having a difficult time getting any useable logs in the azure portal for this function. Looking through kudu is not revealing any recent longs (they are all from 2020, despite this function running every 15 minutes successfully).

- Timestamp:

[2021-04-29 20:44] coreice commented on #4689
How do you use this "workaround", if you have for example a helper class which is used in multiple functions? I noticed the `CreateFunctionUserCategory` only works for me if you specify the name of a certain Azure Function.

[2021-04-30 00:38] #7293 closed, assigned to pgombar

[2021-04-30 07:32] 0gust1 commented on #5090
Thanks a lot, very helpful !

[2021-04-30 13:19] Marvin-Brouwer opened #7331 "Function calls shutdown on startup"
#### Investigative information

- Timestamp: N/A (Happens every time)
- Function App version: V2
- Function App name: N/A (Not allowed to share)
- Function name(s) (as appropriate): N/A (Not allowed to share)
- Invocation ID: N/A (Local environment)
- Region: N/A (Local environment)

#### Repro steps

I am not sure if all of these steps are necessary but this is our current situation:

- Have an a

[2021-04-30 13:25] Marvin-Brouwer commented on #7331
Perhaps useful information, I noticed when I run one of the projects in isolation all of the queued subjects are in the deadletter queue on the TOPIC:
![image](https://user-images.githubusercontent.com/5499778/116701563-56d0a600-a9c8-11eb-88b4-49c330f40f67.png)

I recreated the subscriptions without sessions enabled and I no longer have the deadlettering.
However I sill have the flaky startup/shut

[2021-04-30 16:12] pragnagopa opened #7332 "Handle SigTerm with grace period to shutdown when running in Kubernetes"
The way we scale down in Kubernetes is via the KEDA scaler. When KEDA issues a scale down command, it sends the SIGTERM signal to the functions runtime pod. After that if no action is taken, it will kill the pod in 30 seconds (by default) after it issued SIGTERM

Each pod in Kubernetes is expected to handle this SIGTERM notification from KEDA in it's own way to handle graceful shutdown
Without a g

[2021-04-30 16:13] pragnagopa commented on #7332
cc @divyagandhisethi @fabiocav  @mathewc

[2021-04-30 17:35] #7332 closed, assigned to ahmelsayed

[2021-04-30 19:42] #7301 closed, assigned to divyagandhisethi

[2021-04-30 20:10] yuez1989 opened #7333 "Function execution count is 0 while the functions are actually triggered"
Hi Azure Function Team,

Thanks for your time.

My function execution count went down to 0 after deploying the latest code that adds a function to the App. Reverting to the old code didn't entirely solve the issue.
![image](https://user-images.githubusercontent.com/9024790/116748959-14519e00-a9b5-11eb-83c8-48fed6d39848.png)

However, from the logs I could see the functions are run successfully all

[2021-05-01 00:13] paulbatum commented on #5529
The fact that this happens for past due timers is particularly problematic in a scenario where timers are being used to regularly register the function app as a webhook endpoint with some other system, because that system is likely to make a call back to the function app to validate the webhook endpoint, and that call will fail because the functions host is not accepting requests. It only takes a

[2021-05-01 00:14] paulbatum commented on #5529
@mathewc This behavior is so counter-intuitive, it costs a bunch of time to figure out what is going on every time it comes up. Would it be a breaking change to fix this?

[2021-05-01 07:49] piotrzbyszynski commented on #7326
Another example, 2021-05-01 from around 02:51 AM till 05:10 AM. Cloud role instance: `e4fa83a8dadb36112a7cb1072f3cc29b0050959a0f88da9f5e3b081ec94133d3`

All unprocessed messages ended up in Dead Letter Queue. After resubmitting they were processed just fine

[2021-05-01 13:00] ghost commented on #6236
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-01 13:00] ghost commented on #6055
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-02 09:47] andybooth commented on #4689
I feel the current need to us ILoggerFactory and LogCategories.CreateFunctionUserCategory with DI rather than ILogger<TFunction> should be clearly documented at https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#logging. Googling and Microsoft Docs leads you down the path of configuring host.json log level settings, rather than this guidance on how

[2021-05-03 04:00] ghost commented on #7235
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-03 06:43] mzhukovs commented on #6602
For C# function apps it sounds like the fix is as simple as ASPNETCORE_FORWARDEDHEADERS_ENABLED = true in app settings... but what about for a python-based functions app on Linux Elastic Premium? Any advice @fabiocav @ConnorMcMahon ?

[2021-05-03 08:43] v-anvari commented on #7201
As discussed in mail, please find the file

[7201asptest.zip](https://github.com/Azure/azure-functions-host/files/6413749/7201asptest.zip)

[2021-05-03 10:07] v-anvari commented on #7333
Hi @yuez1989 , Function execution count indicates the number of times your function app has executed. This correlates to the number of times a function runs in your app. Did your plan change between consumption and premium

You can find the document here - [https://docs.microsoft.com/en-us/azure/azure-functions/analyze-telemetry-data#azure-monitor-metrics](https://docs.microsoft.com/en-us/azure/az

[2021-05-03 10:15] v-anvari commented on #7330
Hi @kelly-centare , There are a few reasons why you may get this notification, shown in Figure 1 when you try to view your Function list in the Azure portal.  One such reason is that you have some kind of network restriction like VNET or Firewall that prevents the Azure Function host from accessing the Azure Storage Account on which your code exists.  So, check your endpoints which you have config

[2021-05-03 10:26] v-bbalaiagar commented on #7331
Hi @Marvin-Brouwer, Thank you for reaching us. We are internally working on this issue.

[2021-05-03 14:15] v-bbalaiagar commented on #7309
Hi @mcollier, Thanks for the update, Does it requires more information or triage

[2021-05-03 15:17] mathewc commented on #5529
No I don't think it would be breaking. Rather than starting the invocation in StartAsync, we could consider setting a flag so the first interval used after startup is zero. I.e. [here](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/3d7b2b2bc75927f3e84ed231f14c175ff342ef23/src/WebJobs.Extensions/Extensions/Timers/Listener/TimerListener.cs#L279) rather than computing the next schedule in

[2021-05-03 16:22] caviyacht commented on #6899
I feel like this is an easy fix to get rid of warnings. When can we expect to have this resolved? Our solution now has hundreds of warnings with no way of hiding them.

[2021-05-03 16:24] ConnorMcMahon commented on #6602
Since the core runtime is still C#, the same app setting should work for all languages @mzhukovs.

[2021-05-03 16:51] v-anvari commented on #7255
Hi @gjuttla , The Assembly is not being merged, the Dryloc is being complied into the code directly.

[2021-05-03 16:53] v-bbalaiagar commented on #7178
Hi @krishnasingh1818, We would like to have more insights on the scenario to understand it better. Can you please give us more details regarding where you are making that call. where that API is being called and consumed.

[2021-05-03 17:13] v-bbalaiagar commented on #6801
Hi @Satak, Function names and proxy names must be globally unique. Proxies ultimately become functions.

[2021-05-03 22:18] balag0 commented on #7330
The underlying exception seems to be

`System.InvalidOperationException : No authentication handler is registered for the scheme 'ArmToken'. The registered schemes are: Identity.Application, Identity.External, Identity.TwoFactorRememberMe, Identity.TwoFactorUserId. Did you forget to call AddAuthentication().Add[SomeAuthHandler]("ArmToken",...)?`

So this is likely the same issue as https://github.

[2021-05-03 23:44] mathewc opened #7335 "Instance Validation Mechanism for Drain and other APIs"
For APIs like /admin/host/drain or other APIs invoked by App Service platform infrastructure that can result irreversible application state changes, we'd like to add a validation mechanism for the incoming request to declare the instance the operation is intending to operate on. This can help in cases where due to some upstream bug/issue, the request was accidentally routed to the wrong instance.

[2021-05-04 04:11] mzhukovs commented on #6602
Excellent, thanks for the quick response @ConnorMcMahon .

[2021-05-04 11:09] bedwards-humana commented on #6239
I'm having the same issue.  Will work around for now by retrieving the AZURE_FUNCTIONS_ENVIRONMENT variable directly instead of relying on builder.GetContext().EnvironmentName.

[2021-05-04 13:00] #6236 closed, assigned to kashimiz, v-anvari

[2021-05-04 13:02] v-anvari commented on #7317
Closing this issue as it is by-design, feel free to reach back to us in case of any issue

[2021-05-04 13:02] #7317 closed, assigned to nobody

[2021-05-04 14:00] APIWT commented on #6785
This is happening for us too. Are host keys stored inside Azure Storage? If so, where are they actually put? We are thinking maybe this has to do with both slots pointing to the same Azure Storage resource.

[2021-05-04 17:32] andrewconnell opened #7336 "[Linux Consumption] Successful slot swaps automatically reverted after a few minutes"
#### Investigative information

Please provide the following:

- Timestamp: n/a
- Function App version: ~3
- Function App name: totalview-playground4-linux-consumption
- Function name(s) (as appropriate): all
- Invocation ID: n/a
- Region: East US

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create new Azure Function Linux Consumption app service
2. Create a 2nd depl

[2021-05-04 19:31] ericsampson commented on #6239
Hi @fabiocav, I saw your PR #7304 , glad to see some movement. However, I believe that this is one of those rare occasions where a breaking change _should_ be made, and then people can opt into the current behavior if that's what they actually want.

Also, is there going to be continued investigation as to why this issue occurs unrelated to debug mode? I don't want the issue to stop being investig

[2021-05-04 21:26] fabiocav commented on #6239
@ericsampson there will be further investigation here, but we didn't want to block on that in order to address a known sceanario.

I do understand where you're coming from with the breaking change, and we did discuss this, but with the broad number of scenarios we see on Functions, we did have concrete examples and evidence of customers who would be negatively impacted by the change if that was ma

[2021-05-04 21:33] ericsampson commented on #6239
Thanks @fabiocav, I figured it wasn't the end of the road but wanted to verify.

Re the second part, I hear what your saying... But most of the people on this issue would probably see the original behavior as a `bug`, or an misdesigned implementation at the least. Could you help me understand the scenario in which the current behavior is desirable?

[2021-05-04 21:34] ericsampson commented on #6239
I'm not trying to be a pain in the arse, I really appreciate the progress here.

Just trying to make sure the widest number of people are prevented from having to go through the pain that the people in this ticket have. Never mind everyone affected but they didn't/haven't even realize it.

[2021-05-04 23:05] fabiocav commented on #6239
@ericsampson no worries, not being a pain at all, that is our desire as well. But we do have evidence and concrete examples of applications that were relying on the "buggy behavior" and relying on the environment name change when portal/API interactions were taking place. Our tolerance for breaking changes is VERY low, so even in cases like this, we have to be safe with the approach. That, combine

[2021-05-04 23:24] ericsampson commented on #6239
I understand, thanks Fabio. Cheers

[2021-05-04 23:42] yojagad opened #7340 "[FlakyTest] Investigate and fix Disable_Writes_To_DisableContainerFile_Restarts_ScriptHost in InstanceControllerTests"
Investigate flakiness of `Disable_Writes_To_DisableContainerFile_Restarts_ScriptHost` .

Sample build that's been failing
https://azfunc.visualstudio.com/Azure%20Functions/_build/results?buildId=13917&view=ms.vss-test-web.build-test-results-tab

[2021-05-05 00:00] yojagad commented on #7340
Chatted offline. This test can apparently be removed. No investigation needed.

[2021-05-05 02:26] safihamid opened #7342 "Language workers throwing exceptions during cold start causing extra JIT time"
Exception is:
ExceptionType: System.InvalidOperationException
ExceptionMessage: Number of initialized language workers exceeded:1 exceeded maxProcessCount: 0

This is being seen on both node and java perfview profiles from SLA sites.

code throwing exception is here: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFunctionInvocationDisp

[2021-05-05 02:29] safihamid commented on #7342
CC @pragnagopa

[2021-05-05 05:21] philipp-t opened #7344 "Linux container does not export MSI_* variables correctly to the python app"
#### What language does your question apply to?
Python 3.8 in a Linux Container

#### Question
We are deploying a Python Web App in a Linux Container. Everything is ok, until the point where we want to connect to a key vault via the managed identity that is set in the container.

We are using [azure-identity](https://pypi.org/project/azure-identity/) that will use the MSI_ENDPOINT and MSI_SECRET e

[2021-05-05 12:04] gjuttla commented on #7255
Hi @v-anvari
Thanks for the info.

Closing this question.

[2021-05-05 12:04] #7255 closed, assigned to nobody

[2021-05-05 12:56] DL444 commented on #3898
I want to point out that this issue is not limited to Azure Functions. Any token returned by Azure AD authentication service that has an App Role specified will have the same issue.

[2021-05-05 13:59] pragnagopa commented on #7342
Tagging @fabiocav @AnatoliB @alrod

Flagging this as a bug.  `maxProcessCount` should default to 1

[2021-05-05 15:22] aaronadamsCA opened #7345 "Run functions from a subdirectory"
### What problem would the feature you're requesting solve? Please describe.

I want to build and deploy Azure Functions that live in a monorepo and use [TypeScript project references](https://www.typescriptlang.org/docs/handbook/project-references.html). This means the `host.json` file and function directories would be in a subdirectory, not the root directory.

### Describe the solution you'd li

[2021-05-05 17:08] JoeBrockhaus commented on #7284
@fabiocav I'm investigating this scope disposed exception described in #5590 / #5851 when calling `httpClientFactory.CreateClient()` after some period of time:

We are leveraging the following package versions:

[code]

Should the above app setting also resolve this exception?

[2021-05-05 18:25] AnatoliB commented on #7342
FYI @amamounelsayed

[2021-05-05 18:36] balag0 commented on #7344
Could you provide more details on the scenario that uses msi credentials in kudu. Those 2 env. variables being hidden in kudu is by design. But the actual values will be available on the main site since that is where the function code will be running.

[2021-05-05 20:40] ericsampson commented on #6239
One quick question Fabio; when you exit the "Code and Test" feature in the blade, is the host being reset to the original environment?

[2021-05-05 22:50] fabiocav commented on #6239
Not immediately. The state is eventually reset once debug times out (need to double check, but I believe that happens after 15 mins)

[2021-05-06 04:00] #7235 closed, assigned to soninaren, v-anvari

[2021-05-06 06:50] stormoz commented on #5663
This happened to us as well - app with durable functions, premium tier. Lost almost half x two developers getting to the bottom of it...
Restart did not help. Only re-deployment of the same artifacts helped.

Details:
- App name - originstg2f6
- Deploying using Azure DevOps pipelines - "AzureFunctionApp@1" task
- The app is using single slot - "production"
- Deployment that did not "update" the co

[2021-05-06 07:14] balag0 commented on #7336
@andrewconnell I tried this but couldn't repro it myself. Could you provide more details on how you are deploying to the staging slot in step 3?

[2021-05-06 07:44] soninaren opened #7347 "Worker recycle takes a long time for a dedicated java function app"
The function host / worker process takes a very long time to recycle when the following set of conditions are true.

1. It is a java function app
2. Function app is hosted of azure
3. Function app is hosted on (dedicated) app service plan
4. Function app has a long running timer trigger with blocking thread. (See sample code below)
5. A deployment is triggered via zip deploy call while the long ru

[2021-05-06 09:12] v-anvari commented on #7201
Triaging this issue as it requires further investigation. User unable to see any of the monitor logs. Checked the Application settings, everything looks fine. No errors found in the backend.

[2021-05-06 10:28] v-bbalaiagar commented on #6785
Hi @APIWT, Here is a [blog post ](https://www.michaelscollier.com/inconsistent-functions-host-key)which addresses similar scenario where the blog talks about inconsistent host key and solutions to resolve it. Please check and let us know if this helps.

[2021-05-06 10:37] andrewconnell commented on #7336
@balag0 I'm deploying to staging via a GitHub action:

[code]

Then, when I want to swap the slots, in another workflow I do the following:

[code]

BTW, these exact same workflows work when I target a Windows based Consumption AzFunction app. I used the same repo in  my test and only changed the name of the function app I'm targeting via the secret `${{ secrets.AZURE_FUNCTIONAPP_NAME }}`

[2021-05-06 13:35] mcollier commented on #7309
No. I think the next step is updating docs.

[2021-05-06 13:55] vitalybibikov commented on #6088
Any news?

[2021-05-06 15:15] v-anvari commented on #7319
Hi @cookston , If there is no impact by ignoring the build warnings, then its okay to ignore. The latest will have fixes to such issues and resolves these build warnings. Since you cannot upgrade to the latest packages, let us know if you have any issues in the App if you ignore these warnings

[2021-05-06 15:22] v-anvari commented on #6502
Hi @prabh-62 , Apologies for the delayed response, Kindy let us know if you are looking for any further information regarding this issue or can this issue be closed.

Regarding the fixes for 6486, team is making required changes for making the approach better and few cases will be fixed only if the impact is higher.

[2021-05-06 15:34] prabh-62 commented on #6502
Sorry I don't understand this statement "Apologies for the delayed response, Kindy let us know if you are looking for any further information regarding this issue or can this issue be closed."

Initially I asked which one API `HttpRequestMessage` or `HttpRequest` should developers be using? I still haven't received any response.

[2021-05-06 16:59] v-anvari commented on #6502
Hi @prabh-62 , As suggested in one the earlier comments, you can use either one of them. HttpRequestMessage is legacy and intended for backwards compatibility with Functions v1. New apps should probably use HttpRequest, which was introduced in Functions v2. You might be getting that suggestion due the usage of version 2 or higher.

So, in short, you can use HttpRequest

[2021-05-06 17:08] #6398 closed, assigned to ankitkumarr

[2021-05-06 17:08] v-anvari commented on #7201
Hi @jaganpt , Dev team has reviewed this scenario and they suggested two possible things that can be done here

1. Restarting the function App to make sure that no limits were wrongly set during the deployment of the App. This could be a system error as well.
2. Since the issue looks like its coming from the Application insights. Can you check if you are reaching any CAP limit. (eg below)
![image]

[2021-05-06 17:12] v-anvari commented on #7345
Hi @aaronadamsCA , Thank you for reaching out to us, checking this internally if this scenario is possible, will be updating the information

[2021-05-06 18:07] pragnagopa commented on #7291
No needed any more.

[2021-05-06 18:07] #7291 closed, assigned to divyagandhisethi

[2021-05-06 18:27] aaronadamsCA commented on #7345
Thanks @v-anvari.

If it helps, compare the current ["required folder structure for a JavaScript project"](projects) to the structure I think you should support:

[code]

In this scenario, `projects/FunctionsProject/dist/MyFirstFunction/index.js` can require code in `projects/SharedCodeProject/dist/myFirstHelperFunction.js`. Both projects share a top-level `node_modules/` directory. For these reas

[2021-05-06 18:48] #6502 closed, assigned to pragnagopa, v-anvari

[2021-05-06 19:21] brettsam opened #7349 "Review runtimeassemblies.txt for v4"

[2021-05-07 10:33] IanKemp commented on #9290
The only option here is to perform additional encoding on the URL before you call it, then perform the corresponding decoding on the receiving end. We used Base64 for this.

[2021-05-07 11:50] Marvin-Brouwer commented on #7331
I have some additional information again:

I moved everything to queues and I still have the same issue.
There's always one function shutting down on startup.

[2021-05-07 11:58] Marvin-Brouwer commented on #7331
In response to that I did some more digging and I've found an/the issue.

This was  setup:
- Function A (configured port 7070)
- Function B (configured port 7071)
- Function C (not configured)

I recently added function C into the mix.
What I think was happening is that function C would get port 7071 and a race condition occurred between A and B.
I have now configured function C to have port 7072

[2021-05-07 12:16] oc002 commented on #9290
Yes @IanKemp that is true, and the issue we have is that our APIs are consumed by our customers and we don't feel like communicating to them that "For all path variables please perform two encodings since our API platform does not support single encoded path parameters".

If the consumers of the APIs were internal, this would be fine. But ours are external.

[2021-05-07 12:36] v-anvari commented on #5891
Adding this issue to triage to find any work around solution to suppress these warnings.

[2021-05-07 13:00] v-bbalaiagar commented on #7331
Hi @Marvin-Brouwer, Can you please confirm were you able to find a solution here. Do let us know if you have any further queries so that we can follow up with the right team.

[2021-05-07 13:00] ghost commented on #7333
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-07 13:01] Marvin-Brouwer commented on #7331
Yes, it is working for both queues and topics right now.
However, I would've expected an Exception telling me the functions port is already in use or something.
Instead of a shared function lock file.

[2021-05-07 13:09] v-bbalaiagar commented on #7331
Thank you Marvin for the update, Considering the suggestion as a feature request, Closing this issue as it doesn't require further triage.

[2021-05-07 13:09] #7331 closed, assigned to nobody

[2021-05-07 13:24] v-anvari commented on #5661
@kepikoi , Apologies for the delay, Can you let us know if you were able to find a solution. Let us know if you require a follow up for this issue

[2021-05-07 13:28] v-anvari commented on #6337
Thank you @davidmrdavid , I will be following with the team on this issue

[2021-05-07 13:53] IanKemp commented on #3593
Typical Microsoft:

[2021-05-07 13:56] IanKemp commented on #9290
@drownintheloch Yeah, I was just giving a possible solution for anyone who is fortunate enough to not be publishing an external API.

The fact this has been an issue since 2018 and never got any attention is just bizarre to me, but sadly par for the course for Azure Functions. Microsoft honestly doesn't seem to care, the result is that using AF as a web API has gone from "not recommended" in my bo

[2021-05-07 16:26] kepikoi commented on #5661
@v-anvari I haven't found a solution. AFAIK this is still an issue

[2021-05-07 16:49] swettstein commented on #5098
@fabiocav there was a release 2 days ago (3.0.15733). can you confirm this was part of that release?

[2021-05-07 18:01] fabiocav commented on #5098
@swettstein are you referring to the change in defaults? If so, the change was not made because of concerns with a few other items landing right before //build and some announcements.

My goal is to have the defaults change with the following release.

[2021-05-08 13:00] ghost commented on #7178
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-09 22:08] fabiomilheiro commented on #3120
Any solutions for this?
I'm struggling with knowing what to put in the host.json file.
![image](https://user-images.githubusercontent.com/442911/117588445-454f7280-b11b-11eb-9b0c-2b6b7feeb7b3.png)

I also tried adding an appsetting `FUNCTIONS_WORKER_RUNTIME=dotnet` but nothing.
![image](https://user-images.githubusercontent.com/442911/117588473-6748f500-b11b-11eb-97ef-ce1f0d6c5e2b.png)

[2021-05-10 10:00] ghost commented on #7330
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-10 10:03] sanderobdeijn opened #7351 "Regression Could not evaluate 'Cosmos.CRTCompat.dll' for extension metadata."
#### Investigative information

Nuget
Microsoft.NET.Sdk.Functions 3.0.10

#### Repro steps

Provide the steps required to reproduce the problem:

I have the issue described in https://github.com/Azure/azure-functions-host/issues/5963
I can confirm the Microsoft.NET.Sdk.Functions version 3.0.7 fixes this issue.
But when I upgrade to 3.0.10 or 3.0.11 the issue pops up again.

Warnings:
Could not eva

[2021-05-10 10:08] sanderobdeijn commented on #7351
Sorry just found out this a duplicate issue.
https://github.com/Azure/azure-functions-host/issues/7218

[2021-05-10 10:08] #7351 closed, assigned to ankitkumarr

[2021-05-10 15:44] v-anvari commented on #5891
cc @soninaren , for any workarounds if possible

[2021-05-10 16:00] #7333 closed, assigned to kashimiz, v-anvari

[2021-05-10 16:00] ghost commented on #7344
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-10 16:00] ghost commented on #7319
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-10 16:39] Jayruler3 commented on #7349
Ok

[2021-05-10 18:19] v-bbalaiagar commented on #7080
cc @alrod, Tagging alexey for more inputs

[2021-05-10 18:36] mpaul31 commented on #2015
Did you ever find out and answer to this?

[2021-05-10 21:14] fabiocav commented on #3120
@fabiomilheiro can you please clarify the issue you're seeing with your app?

[2021-05-10 21:52] trailmax commented on #7221
I think I found another workaround for this issue, but that might not be available to everyone: update to .Net 5 in functions and use out-of process execution. This way you don't depend on Az Functions runtime itself and can use whatever you like in dependencies. But there is no official documentation (yet) on upgrade path from your netcoreapp 3.1 to .net5 and there is no support for Durable funct

[2021-05-10 21:57] fabiomilheiro commented on #3120
@fabiocav, the app works well locally and I go to Azure portal, after deploying the app.
I load a function using the Test/Run feature and get a 404:
![image](https://user-images.githubusercontent.com/442911/117729136-531bfb00-b1e2-11eb-9404-64df28e56150.png)

Trying to get the URL using the "Get function URL" button achieves the same result.
![image](https://user-images.githubusercontent.com/44291

[2021-05-10 22:57] astegmaier commented on #7336
FWIW, I can repro this issue as well: Here's what I'm doing:
- create a new linux consumption plan on the azure portal
- create a slot called "staging"
- deploy a test function to the staging slot, and confirm that it's working with postman.
- use the azure portal to trigger a swap with production (this is different from what @andrewconnell did but it appears to yield the same result).
- the porta

[2021-05-10 23:31] ahmelsayed opened #7353 "Keys appear to not be persisted on Kubernetes"
#### Investigative information

When creating a new key for a function, it sometimes appear as if the key wasn't saved. This is actually due to case mismatch between Write and Read of function key names in KubernetesSecretsRepository. For a function named `Http1`, [`WriteAsync()`](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Security/KeyManagement/KubernetesSec

[2021-05-11 00:12] pragnagopa commented on #7353
cc @divyagandhisethi @TsuyoshiUshio fyi

[2021-05-11 00:54] balag0 commented on #7336
Thanks for the repro steps and the additional details everyone. We understand the bug and working on a fix now. Will update this thread with an ETA soon.

In the meantime, I think this bug should only impact apps using remote build (which is what github actions is using), so publishing using functions core tools could be a workaround.

[2021-05-11 01:34] balag0 opened #7355 "Remove disable container API"
API was originally added as a workaround for lack of drain mode api. Callers on AppService have been already been updated to not call this API anymore.

[2021-05-11 02:05] pgombar opened #7357 "Linux-specific options are not refreshed during specialization"
#### Investigative information

When deploying functions using remote build in Linux Consumption, the functions are not deployed. This is because [a new check](https://github.com/Azure/azure-functions-host/pull/7295) was introduced to ignore `SCM_RUN_FROM_PACKAGE` setting unless it's actually being used. We test if the setting is used by checking if a blob exists at the URI the app setting points

[2021-05-11 06:03] philipp-t commented on #7344
Good Morning, we have an Python app deployed as web app. This app has python code to read secrets from the key vault. The Azure Web App has a msi that is allowed to read and write data to an azure key vault. If we start the App in the Kudu Container the Python code sends an exception, that is has no No connection adapters were found for ... Pythons Http Client prints that message, wenn the URI is

[2021-05-11 06:35] balag0 commented on #7344
Any particular reason to do this? For one, not all dependencies (.net core / node / python etc) will be available in the kudu container, so there is guarantee even apps without MSI will work.

[2021-05-11 08:42] CristianDorinFlorea opened #7358 "Application Insights - lost traces after package upgrade"
We have a function app with service bus triggers. We're using Application Insights to monitor our application.
We are referencing `Microsoft.ApplicationInsights.AspNetCore v2.15.0`.
This is how telemetry is configured in code:
[code]
In the Application Insights we are seeing the events like this:
![appinsights](https://user-images.githubusercontent.com/40396294/117657126-dec16780-b1a1-11eb-9f65-59

[2021-05-11 11:03] v-anvari commented on #7345
cc @fabiocav / @brettsam , Tagging for validation on supportability

[2021-05-11 11:10] v-anvari commented on #5661
Thank you for the update, I shall follow up with the team

[2021-05-11 16:00] #7178 closed, assigned to kashimiz, v-bbalaiagar

[2021-05-11 17:06] #7355 closed, assigned to balag0

[2021-05-11 17:09] TsuyoshiUshio opened #7360 "SyncTrigger fails to call on Kubernetes Environment"
Sync Trigger call is failed.  The potential root cause is wrong URL.  The URL should be `http://<<kubernetes-environment-name>>-build-service.<<namespace>>.svc.cluster.local:8181/api/operations/settriggers`.  however it looks `http://k8se-build-service.k8se-system.svc.cluster.local:8181/operations/settriggers`. It is the root cause of the ScaleObject is not updated.

I'll test the payload with new

[2021-05-11 17:11] pragnagopa commented on #7360
cc @fabiocav fyi - need to take hotfix

[2021-05-11 17:13] fabiocav commented on #7360
Do we have a PR for this?

[2021-05-11 17:14] pragnagopa commented on #7353
cc @fabiocav - fyi - tagging for hotfix for sprint 100

[2021-05-11 17:16] TsuyoshiUshio commented on #7360
After testing it, I'll create it.

[2021-05-11 18:27] ahmelsayed commented on #7353
https://github.com/Azure/azure-functions-host/pull/7362

[2021-05-11 19:08] #7353 closed, assigned to ahmelsayed

[2021-05-11 20:09] jamesburtonqubithealth commented on #9290
I've lost an afternoon to this working on dev then breaking on Azure, before finding this slash strip/replace parameter mangling.  Double encoding is a potential solution for me, but it will clearly be labelled with // HACK: Remove when Microsoft fixes Azure

[2021-05-12 00:48] #7243 closed, assigned to alrod

[2021-05-12 14:56] aaronadamsCA commented on #7345
Thanks @v-anvari. Note that I've updated "Describe alternatives you've considered" above to describe our current workaround and why it's a limited and fragile solution.

[2021-05-12 15:35] mortezaadi commented on #7992
Same here NodeJs

[2021-05-12 18:29] #7357 closed, assigned to pgombar

[2021-05-12 20:12] fabiocav commented on #7314
@yojagad should this work remain assigned to a sprint?

[2021-05-12 20:14] yojagad commented on #7314
Yes, please. I've been running some tests on a sample PR (https://github.com/Azure/azure-functions-host/pull/7346). Will be updating that PR and linking this work item to it

[2021-05-12 20:16] fabiocav commented on #7312
Tagging @brettsam as this is something he just finished doing in 4.x

[2021-05-12 20:18] fabiocav commented on #7303
This issue is primarily to track a discussion to understand the validation requirements and the work we want to do for this.

[2021-05-12 20:30] fabiocav commented on #5612
For awareness. This issue is still very vague and the changes in the linked PRs don't try to address everything outlined here, but this issue will be closed when the PR. If additional work is required once the PR is merged, we need to have the appropriate issues opened.

[2021-05-12 20:31] fabiocav commented on #7261
Moving this back into the triaged milestone

[2021-05-12 20:46] fabiocav commented on #5449
This is, again, not going to make the cut for planning. So moving this to the following sprint.

[2021-05-12 20:50] fabiomilheiro commented on #3120
Found the problem. I created the azure function app via Pulumi (which uses Terraform) and the version is ~1 by default.
Unfortunately, when we deploy a function app with version ~3, it does not complain. It simply does not work.

I answered here: https://stackoverflow.com/a/67494279/169034

[2021-05-12 21:22] fabiocav commented on #3120
Glad to hear you found the issue.

For future issues, it might be helpful to start with new issue describing the problem as the template also requests information that would enable us to look at the logs for your app, which would have made it simpler to detect what was happening.

[2021-05-13 00:22] pragnagopa opened #7369 "Sanitize strings before logging metric events"
https://github.com/Azure/azure-functions-host/blob/d57f51ed8995c3acd07a0ded8de79af1680267ea/src/WebJobs.Script.WebHost/Diagnostics/MetricsEventManager.cs#L121-L149

[2021-05-13 00:23] pragnagopa commented on #7369
cc @@jcookems

[2021-05-13 02:34] pragnagopa opened #7371 "Re-enable Windows JITTrace test"

[2021-05-13 02:43] #7371 closed, assigned to nobody

[2021-05-13 08:27] AdamCoulterOz commented on #3120
@fabiocav I have a problem which would benefit from the same solution (specifying the FunctionWorkerRuntime in the host.json) ... and I agree completely with this issue and @pragnagopa 's original statement, and that fundamentally it is incorrect to store this value in `local.settings.json` from an architectural perspective:

I am deploying my function app from an Azure DevOps pipeline using the `

[2021-05-13 08:35] v-anvari commented on #7345
Thank you @aaronadamsCA , The scenario will reviewed and validated.

[2021-05-13 08:39] v-anvari commented on #7358
Thank you @CristianDorinFlorea , Shall try to reproduce this scenario and update you with findings

[2021-05-13 12:22] priyankar-dutta commented on #7194
It seems the only solutions for this issue till now are upgrading the Azure Function to .NET 5 (which is missing stuff) or downgrade the libraries to 3.x.x versions. This is a breaking issue and it should not require project teams to upgrade / downgrade packages just because the Azure Functions team refuses to fix an issue reported as early as Nov 2020 -
https://github.com/Azure/azure-functions-co

[2021-05-13 12:41] mpaul31 commented on #2015
@mathewc Is the app setting still a viable approach for v3 function apps? I also was told from an open MS ticket this when running deployment and swap operations, Azure is unable to differentiate between your deployment slots.

We are very interested with this approach because we use a specific naming convention with our resource naming and this limit does not give a lot of wiggle room.

[2021-05-13 12:42] prabhakarreddy1234 commented on #1987
Any update on this feature release timelines ?

[2021-05-13 12:53] espray commented on #7194
@priyankar-dutta this versioning issue goes back to v1 functions with Newtonsoft.Json https://github.com/Azure/azure-functions-host/issues/4049

[2021-05-13 13:00] #7330 closed, assigned to brettsam, v-anvari

[2021-05-13 18:20] jplane commented on #5090
FWIW, I found this to be a useful solution, but had to add these additional lines in the 'location' block to ensure the Durable Function HTTP URLs in the 'start orchestration' response are rewritten correctly with the original domain:port

_sub_filter_types application/json;
sub_filter 'http://host.docker.internal:8080' 'http://localhost:7071';
sub_filter_once off;_

[2021-05-13 18:28] melvincanafranca commented on #6802
Anyone figured out why is the delay in processing happens? I'm experiencing the same issue and I thought that using Event Grid Triggered functions to process messages from a Service Bus will make the processing efficient compared to using Service Bus Triggered functions.

[2021-05-13 19:00] #7319 closed, assigned to soninaren, v-anvari

[2021-05-13 20:46] jplane commented on #5090
For anyone interested, here's my nginx.conf file (addresses a few issues from above):

[code]

[2021-05-13 21:25] melvincanafranca commented on #6802
Updating from a consumption-based plan to a premium hosting plan seems to fix this issue. Also, if you have to capture an event that has periodic notification (e.g Microsoft.ServiceBus.ActiveMessagesAvailablePeriodicNotifications) you need to include it in your logic aside from the initial event notification (e.g Microsoft.ServiceBus.ActiveMessagesAvailableWithNoListeners)

[2021-05-13 21:43] awatertrevi commented on #6917
I completely agree, is there any update on this issue from the Microsoft side @pragnagopa @v-anvari?

[2021-05-13 22:14] mintyfusion commented on #5098
We ran into the same issue, but adding AzureWebJobsFeatureFlags = EnableEnhancedScopes is making things worse, where all Scoped objects behave as Transient.

We are using Azure Functions 3.x and I have tried both Windows and Linux and result is exactly the same.

[2021-05-13 23:00] fabiocav commented on #5098
@mintyfusion can you please open an issue with the details of what you're seeing a a repro? What you're describing above leads me to believe something is incorrect with the setup and it would be good to focus on that.

[2021-05-13 23:20] fabiocav commented on #2015
@mpaul31 yes, the app setting is still an option, so setting the host ID using `AzureFunctionsWebHost__hostId`(Windows and Linux) or `AzureFunctionsWebHost:hostId` (Windows only) is supported.

[2021-05-14 00:51] ankur198 commented on #5058
I don't see any discussion or PR. Is this being looked into?

[2021-05-14 14:42] mpaul31 commented on #2015
@fabiocav Just to confirm, does the casing of the app setting matter? When looking at the Diagnose and Solve blade for my function app, it mentions this app setting (note it's all lowercase): AzureFunctionsWebHost__hostid

Also, after I added the setting `AzureFunctionsWebHost__hostId` Diagnose and Solve still shows a warning about the function name collision. Should I just ignore this?

[2021-05-14 15:02] v-anvari commented on #7358
Hi @CristianDorinFlorea , I was unable to reproduce this issue in accordance with your scenario. Can you provide the repro steps so that I can get a reproduce the issue properly.

[2021-05-14 16:02] v-anvari commented on #7320
Hi @bachuv , I have tried to reproduce this issue in portal, but I got the 500 error and "Function compilation errorMicrosoft.CodeAnalysis.Scripting.CompilationErrorException".  But these errors were received immediately .

I checked the backend logs for the invocation id you have mentioned. The function was completed in few secs.
![image](https://user-images.githubusercontent.com/66122429/1182960

[2021-05-14 16:35] v-bbalaiagar commented on #6359
Hi @rajeshr6r, We apologize for the delayed response, were you able to find a solution to this problem. Do let us know if you want us to look at this issue further.

[2021-05-14 16:51] v-bbalaiagar commented on #6432
Hi @madushans, Apologies for the delayed response, Were you able to find a solution here. Kindly let us know if you could resolve it can we close this issue?

[2021-05-14 17:03] v-bbalaiagar commented on #6446
Hi @ChristianWeyer, Closing this issue as the required information is provided [here](https://github.com/bytecodealliance/wasmtime-dotnet/issues/33), Please feel free to reach back to us in case of any further queries related to this issue.

[2021-05-14 17:03] #6446 closed, assigned to nobody

[2021-05-14 17:15] bachuv commented on #7320
Hi @v-anvari, thank you for looking into the issue! I used the following packages:

using System.Net.Http;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.Azure.WebJobs;
using Microsoft.Azure.WebJobs.Extensions.Http;
using Microsoft.Extensions.Logging;

I talked to @brettsam about this offline and it looks like the additional latency is coming from the front end.

[2021-05-14 18:01] fabiocav commented on #6899
Sorry for the delay on this item. This was unfortunately impacted by other priorities.

I'm assigning this to the current sprint so we can pick this up.

/cc @brettsam

[2021-05-14 18:02] ElvenSpellmaker commented on #6899
Thanks!

[2021-05-14 19:32] divyagandhisethi opened #7372 "Background sync triggers fails in kubernetes"
Functions sync service short circuits from background sync triggers when no storage is specified. Not having a storage specified is a valid scenario for Kubernetes, and we should skip this check for Kubernetes environments.

https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Management/FunctionsSyncManager.cs#L109-L115

[2021-05-14 20:34] #7372 closed, assigned to divyagandhisethi

[2021-05-14 20:58] brettsam commented on #7242
If this log message isn't super-useful, I say we just delete it. The alternative is calling it in the above `if` block if we're in placeholder mode. That'd run it, but it seems odd, especially if this log message isn't critical.

[2021-05-15 02:51] aaronhudon commented on #7061
Why is this about to be closed?  I am seeing the issue myself running latest Functions SDK 3.0.12

[2021-05-15 13:00] ghost commented on #7344
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-15 13:00] ghost commented on #7201
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-15 13:38] jaganpt commented on #7201
Hi @v-anvari ,

We will check as suggested and update you. Thanks.

[2021-05-15 15:11] bryanknox commented on #7061
Please don't close this issue. A fix is needed so that the perpetual use of a workaround is not required.

@kashimiz, @v-bbalaiagar can some one investigate the root cause and develop a fix?

[2021-05-15 23:22] nogic1008 commented on #6055
Any updates?

[2021-05-16 03:42] madushans commented on #6432
The feature switch didn't quite work for me. I may have not had the right version of the host at the time.

I decided to make my own scope dependency wrapping the client and added that instead.

[code]

All code depending on http client now depends on above and get the client from the property.

This solved my immediate issue. Waiting for the feature switch work to be rhe default option to remove

[2021-05-16 08:16] mrpmorris commented on #6432
I doubt anyone relied on it working incorrectly.  If they did, there will be a correct way to achieve their weird requirements :)

[2021-05-16 17:49] aronchick opened #7374 "Is there any tool/price level for keeping functions warm?"
I'm getting a 404 occassionally - and only on the first request. Is there any way to keep the function warm such that it doesn't time out and return 404? Thanks!

[2021-05-17 06:54] jormasyrja commented on #7374
Do you mean you want to keep the **Function App** warm? In Premium tier, you will always have at least 1 instance of the App running warm.

For Consumption tier, the app instances are started when the first request comes in (cold start). To prevent this cold start, my team and I are using no-op **timer triggers** with fixed intervals (something like 5 minutes).

[2021-05-17 07:13] Tanzy commented on #4577
I've been trying to get this to work and does not seem to get the values. The function is a C# Core 3.1

If I view the configuration object in the variable watcher it has the values, however, when getting the value in the code

`var kvn = configuration["KeyVaultName"];`

It does not get the value? Don't suppose you have any idea?

[2021-05-17 08:44] phatcher commented on #4577
@Tanzy Only idea I have is to run locally and then have a breakpoint on that line - you can then see which values are defined in each configuration provider.

[2021-05-17 09:10] Tanzy commented on #4577
@phatcher thanks for the quick reply. I created a sample project that I was going to use to show the issue. Strange thing is that it works in that my sample, so need to look at the real project to see if I can see a difference.

[2021-05-17 09:33] v-anvari commented on #6055
Hi @nogic1008 , Can you explain me this issue in detail and what is the solution you ae looking for. So that, I can follow up with the concerned team accordingly.

[2021-05-17 10:15] Tanzy commented on #4577
@phatcher sorted it, it was a PEBCAK issue. I did not realise that I had overridden the value I wanted in a later config :(

Again, thanks for the help

[2021-05-17 10:58] v-bbalaiagar commented on #7061
@aaronhudon ,@bryanknox  The bot has closed the issue due to in-activity. We shall keep the issue open.

[2021-05-17 12:03] v-bbalaiagar commented on #6488
Hi @trivedihimanshu, Apologies for the delayed response, Were you able to find a solution here. Kindly let us know if you could resolve it can we close this issue?

[2021-05-17 13:54] aronchick commented on #7374
Ok - this is exactly the problem - it's just cold start running on Consumption tier.

I wish there was a better way to handle it (responding the connection is alive and holding the connection open until it spins up) and/or better documentation (not just returning 404 - returning a custom error message / http error code that didn't imply the resource didn't exist) and/or a simpler way to upgrade yo

[2021-05-17 15:07] jaganpt commented on #7201
Hi @v-anvari ,

I have restarted the app and also verified the CAP limit which is 100 GB/day. Still logs are missing from the logs. Thanks.

[2021-05-17 17:47] v-anvari commented on #7320
Adding this to triaged as it requires further investigation

[2021-05-17 17:51] v-bbalaiagar commented on #6718
Hi @marcoNipo, Let us know if this can be closed as the required information is provided.

[2021-05-17 18:10] v-bbalaiagar commented on #6911
Hi @HMoen, Apologies for the delayed response, If you are looking for a startup installation token then you can use the application lifetime and that will provide the information.

Please go through the [document](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosting.ihostapplicationlifetime?view=dotnet-plat-ext-5.0) for lifetime events including notifications and cancellation t

[2021-05-17 18:15] v-anvari commented on #7201
Hi @jaganpt , While the team is investigating, this looks like an issue related to your specific app. Did you have a chance to submit a support request. If not, can you submit a support request and check if the support team could find out something from their end specific to your app.

[2021-05-17 18:20] v-anvari commented on #5661
Hi @alrod , Do you have any inputs here.

[2021-05-17 18:26] v-anvari commented on #7194
Adding this to triaged for further investigation

[2021-05-17 18:31] v-anvari commented on #7345
Hi @aaronadamsCA, I have discussed this internally and this scenario is currently a known limitation which the team is working on and finding different work arounds to make it perform better. Unfortunately, I cannot provide an ETA for this implantation.

[2021-05-17 18:41] v-anvari commented on #5891
Hi @paulhickman-a365 , Can we know where and how are you injecting these values and registering it in DI. For not all scenarios, but, adding or defining a dummy 'MyConnectionString' in local.settings.json can suppress the warning, because the DI will override the value in local.settings.json. Can you try that as a work around and let us know if that worked for you.

[2021-05-17 20:26] whakomatic commented on #6055
The original post provides all the information you request.

[2021-05-17 21:07] vijayrkn opened #7375 "Unexpected Behavior Starting Disabled Orchestrator Function"
Creating the issue on behalf of the Visual Studio customer: Details: https://developercommunity.visualstudio.com/t/Unexpected-Behavior-Starting-Disabled-Or/1416301

We are seeing unexpected behavior when we use IDurableOrchestrationClient.StartNewAsync to start a disabled Function:

Expected behavior: According to the documentation linked above, this should result in an ArgumentException.

Actual

[2021-05-17 21:31] sidkri commented on #5125
This support case can provide an example of an issue a customer faced that this feature would help with: 2102190050000497

[2021-05-17 23:02] kamalsivalingam commented on #6805
I am getting this error with the latest package as well, Is there any known workaround for this issue?

[2021-05-18 06:34] marcoNipo commented on #6718
Hi @v-bbalaiagar, it can be closed. We opted for provisioning with ARM templates also in the case mentioned in the description anyway.

[2021-05-18 07:22] balag0 commented on #7374
@aronchick yes, we might have a bug where misleading status codes are being returned sometimes. Could you share the approx. timestamp and the appname using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately  from when you last saw this issue.

[2021-05-18 07:22] philipp-t commented on #7344
Ok, thank you we give it a try

[2021-05-18 09:26] v-bbalaiagar commented on #6718
Hi @marcoNipo, Thank you for the update, Closing this issue here. Let us know if you require any further help.

[2021-05-18 09:26] #6718 closed, assigned to nobody

[2021-05-18 10:00] ghost commented on #6801
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-18 10:00] ghost commented on #6785
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-18 11:56] v-anvari commented on #6055
Hi @whakomatic , Thank you for your feedback! We will review and update as appropriate.

[2021-05-18 12:08] v-anvari commented on #5378
Triaging this issue as it requires further investigation whether there is anything like reserved words and cannot be used as a parameter.

[2021-05-18 12:18] v-anvari commented on #6337
Hi @davidmrdavid , I checked on this issue internally and they suggested you to submit a PR.

As suggested tagging @balag0 / @divyagandhisethi for further inputs

[2021-05-18 13:01] StefanSchoof commented on #4577
A just failed to use [AddServiceBusClient](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Compatibility/ServiceBusClientBuilderExtensions.cs) inside of a Azure Function Startup. The method takes a connection string, that I have in the configuration. But I found no solution to get the connection string and pass it. Do I miss some documentation o

[2021-05-18 16:00] ghost commented on #7358
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-18 20:53] yojagad opened #7376 "Common way to generate and read versions for v3 and v4"
Follow up from https://github.com/Azure/azure-functions-host/pull/7346 .

Currently we have v4.x which outputs version.txt https://github.com/Azure/azure-functions-host/blob/v4.x/build/common.props#L25-L31 and dev which builds version number directly from common.props. Need to figure out a way to add more flexibility that can be reused by both v3 and v4.

cc: @brettsam @fabiocav

[2021-05-18 21:04] #7305 closed, assigned to balag0

[2021-05-18 21:59] fabiocav commented on #7377
@pragnagopa / @brettsam it would be good to discuss this item as soon as possible.

[2021-05-19 02:37] balag0 opened #7378 "Prefer Interpretation in WebHostServiceProvider DryIoc Container"
https://github.com/Azure/azure-functions-host/blob/852eed9ceef6ef56b431428a8eb31f1bd9c97f3b/src/WebJobs.Script.WebHost/DependencyInjection/WebHostServiceProvider.cs#L35

[2021-05-19 02:42] balag0 commented on #7336
Update: Fix will rollout with the next release. Expecting this to be available in all regions in ~45 days. Thanks

[2021-05-19 04:55] MikeNicholls commented on #7061
[`FunctionsPreservedDependencies`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs#configure-your-build-output-settings) seems to be the documented way to deal with these issues, it can have fewer side-effects than `_FunctionsSkipCleanOutput` due to it being targeted at specific assemblies.

It requires [`Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator`](http

[2021-05-19 07:39] lalalsara opened #7380 "Function apps with headless chrome works in consumption plan but not in premium plan"
We can't run headless Chrome in a function app hosted in a premium plan, but it works in consumption plan.

We have two function apps running on an elastic premium plan (EP1:1). One is using dotnet and **Puppeteer Sharp** library, and the other one Python and **Pyppeteer** library. Both are located in **West Europe**.

**- C# dotnet function app**

Throw the following error:
_2021-05-19T07:26:42.3

[2021-05-19 08:34] rob4bertus commented on #7061
Thanks for the update. Currently (with some help :)) we have got it running with _FunctionsSkipCleanOutput. (We had to downgrade some dependencies to do that, but that's ok for us). When I have some time I will test this new option.

Maybe version conflicts between dll's is one of the side effects you speak about?

[2021-05-19 10:48] jimmyvdberg opened #7381 "Race condition when using function host key for other resource in ARM template"
Since a few months I get a race condition when using function keys / host keys via ARM template.
I try to create a function key in the ARM template. In the same ARM template I add a KeyVault secret, with this newly generated function key as a value. When I look at this value in KeyVault I see the old function key (from the previous ARM template deployment) is stored there. This seems like a race c

[2021-05-19 13:34] v-bbalaiagar commented on #6503
Hi @prabh-62, Closing this issue as duplicate. For more updates please follow the space -  https://github.com/Azure/azure-functions-host/issues/6504

[2021-05-19 13:34] #6503 closed, assigned to nobody

[2021-05-19 16:45] v-anvari commented on #7380
Hi @lalalsara , Thank you for your feedback! We will investigate and update as appropriate.

[2021-05-19 16:49] v-anvari commented on #7254
Hi @ben-burton, Thank you for your feedback! We will investigate and update our findings as appropriate.

[2021-05-19 17:05] pragnagopa opened #7382 "[Kubenetes] Update sync triggers to include host.json as this needed to build scaled objects"
Build server running in kubernetes is responsible for generating scaled objects needed for Keda Scalers

For Durable Triggers - information from host.json is needed.

[2021-05-19 17:12] pragnagopa commented on #7382
cc @divyagandhisethi - we need to take hotfix for this

[2021-05-19 17:28] v-anvari commented on #7254
Hi @ben-burton , I was able to run the App successfully, As your repro steps indicate, I have added the steps documented in log custom telemetry. If you are still facing this issue, can you provide more details on the packages and dependencies that you are using. How are you debugging the code.

References used:
using System;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Micr

[2021-05-19 17:33] davidmrdavid commented on #6337
Sounds good. In that case, I'll assign this ticket to myself so I can track it and follow-up with a PR, thank you @v-anvari

[2021-05-19 17:42] v-anvari commented on #7254
Update: I get the mentioned error " _Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type 'Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration' while attempting to activate '_7254.Function1_" when I don't add "APPINSIGHTS_INSTRUMENTATIONKEY": "any value" in Local.settings.json.

As mentioned in comment here https://github.com/Azure/azure-function

[2021-05-19 19:27] ahmelsayed commented on #7382
related https://github.com/Azure/azure-functions-host/issues/7288

[2021-05-19 21:03] roszell opened #7383 "WEBSITE_SLOT_NAME app setting value is the same in both staging and production slots"
Hello,

We recently noticed that the WEBSITE_SLOT_NAME app setting has the same value of "staging" in both the staging and production slots used by one of our function apps. This does not appear to have any impact on the functionality of our apps in either slot. It also appears to have no impact on swapping the slots. However, it is possibly causing an issue in app insights where the "cloud_RoleNa

[2021-05-19 21:19] brettsam commented on #7381
@mathewc -- are function keys cached in Antares? Could that be causing what he's seeing here?

[2021-05-19 21:19] joshmouch opened #7384 "Running in-memory .NET 5 isolated-process host for integration testing"
Since the .NET 5 isolated process functions basically act like a console application, I'm thinking it should be possible to create an in-memory host to use for integration tests, similar to the ASP.Net core TestHost.

Is this a supported scenario?  Do you know what issues I may run into?  Is creating a TestHost on your roadmap already?

Just as a simple test, I tried the following in an xunit cons

[2021-05-19 22:39] RotateAt60MPH opened #7385 "writing secret to key vault: Method not found: 'System.Text.Json.JsonEncodedText.Encode'"
#### Investigative information

Please provide the following:

- Timestamp: 2021-05-19 21:39:59.224
- Target Framework: netcoreapp3.1
- Function App version: 3.0.11
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: d0b67d2e-7df9-4dcf-a320-d02a94e496ec
- Region: eastus

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create C# .Net Core 3 LTS proj

[2021-05-19 22:51] RotateAt60MPH commented on #7385
This was resolved when I updated Microsoft.NET.Sdk.Functions package in the proj file to Version=3.0.12.

[2021-05-19 22:51] #7385 closed, assigned to madelinegordon

[2021-05-19 23:23] TsuyoshiUshio commented on #7288
Hi @cgillum  According to the conversation, do we need the `host.json` information? or still required for LogicApp scenario? I create a draft PR that includes `host.json` payload to the sync trigger to discuss the design, however, if it is not necessary, I'd happy to close my PR.  Probably, we need to change the code of the Durable Transformation part without using `host.json` payload.

[2021-05-19 23:28] cgillum commented on #7288
Hi @TsuyoshiUshio yes, we still need the host.json information, both for Durable Functions and for Logic Apps. This issue was originally going to be specific to Durable Functions. However, I think from this discussion that we agree we need a more general solution that captures host.json so that all trigger types can benefit and so that we don't need trigger specific information in the syncTriggers

[2021-05-19 23:55] pragnagopa commented on #7288
Marking these as Sprint 100 to ensure we cut a hotfix release with the fixes

[2021-05-20 02:24] #7378 closed, assigned to balag0

[2021-05-20 06:54] ganesh-gawande opened #7398 "1 minute azure function is not working as expected"
I have time trigger azure function - `[TimerTrigger("0 * * * * *")]`
This is expected to run every 1 minute at 00 seconds. But sometimes its get executed at previous 59 second itself.

I have tried the expression as `[TimerTrigger("0 */1 * * * *")]`  - but still same behavior.

Please find attached screenshot of log prints.
<img width="352" alt="Timer Azure function error" src="https://user-images

[2021-05-20 07:37] ganesh-gawande commented on #7398
Updated above issue with one more observation

[2021-05-20 16:35] Shubhangi-Priya commented on #6483
I am trying to trigger a timer based function on demand. This function is deployed in AKS and currently there seems to be no way to do this. Having this functionality would be really helpful.

[2021-05-20 16:35] pragnagopa commented on #5654
Tagging @mathewc @fabiocav  for further investigation

[2021-05-20 17:05] v-anvari commented on #6483
Hi @Shubhangi-Priya , Thank you for the feedback, we would surely consider it. Could you kindly submit a new feature request in [feedback.azure.com-azure-functions](https://feedback.azure.com/forums/355860-azure-functions)

[2021-05-20 17:12] v-anvari commented on #6483
Closing this issue as the required information is provided, and this is not a supported design.

Kindly raise a feature request on this here- https://feedback.azure.com/forums/355860-azure-functions.

Please feel free to reach back to us in case of any further queries related to this issue

[2021-05-20 17:12] #6483 closed, assigned to nobody

[2021-05-20 17:16] NeilMacMullen opened #7389 ".Net 5 function fails with "Host thresholds exceeded: [Threads]" every few hours"
#### Investigative information

Please provide the following:

- Timestamp: 5/20/2021, 4:26:00.001 (UTC)
- Function App version: .Net5/dotnet-isolated
- Function App name: See Id in log
- Function name(s) (as appropriate): Ingestion
- Invocation ID: I'm not sure how to get this from the portal - is it the id shown in the logs below ?  3ff703b6-fbdf-4324-9860-3c7e35d47e4d
- Region: West-US2
- Servi

[2021-05-20 18:07] Gilligan128 commented on #7278
We are also getting this issue. This is a glaring hole in our ability to observe our functions.

[2021-05-20 18:29] NeilMacMullen commented on #7389
Managed to find the "thread count" metric... (note axis times are BST which is +1 from times in logs).  Point 1 was the crash (4.27), Point 2 was (I think) when the function was restarted.  Point 3 is now.

What is really odd here:  There is a steady ramp of measured thread count on the left even though:
1) The invocations are clearly completing successfully
2) The in-function reading of the Threa

[2021-05-20 18:34] NeilMacMullen commented on #7389
For completeness  - code I'm using to measure thread usage from inside the function, in case I'm doing something daft here...

[code]

[2021-05-20 18:42] paulbatum commented on #5654
@luckerby If you're doing a comparison between a console app versus code running as part of Azure Functions, you'll definitely see a memory usage difference due to the functions runtime itself. Does that explain the main discrepancy you're asking about?

If you compare a locally running function (using functions core tools) to one deployed to Azure, they will be closer as long as you make sure you

[2021-05-20 18:53] NeilMacMullen commented on #7389
Thread count appears to be correlated with "IO Other operations" (whatever they are, they're running around 20KB/s)...

![image](https://user-images.githubusercontent.com/9131337/119147254-506fa000-ba43-11eb-88d1-af502943825e.png)

[2021-05-20 19:07] raphaeljoie opened #7390 "WebJobs Did not find functions with language python"
Hello folks,

I'm trying to deploy Python Azure Functions using pure Terraform thanks to `WEBSITE_RUN_FROM_PACKAGE` app setting.
1. I created a very basic Function with `func` CLI
[code]
2. tested and working locally,
3. tested and working when deployed with `azure functionapp publish` to an Azure Function App created via the portal for Python 3.8
4. then zip the whole content of the `LocalFunctio

[2021-05-20 19:36] pragnagopa commented on #5902
Tagging @brettsam @fabiocav  for breaking change in V4

[2021-05-20 19:58] raphaeljoie commented on #7390
Haha, okay, I found the solution
[code]
`kind` of AppServicePlan must be set to `Linux`

[2021-05-20 19:58] #7390 closed, assigned to ankitkumarr

[2021-05-20 20:14] ZachTB123 opened #7391 "Custom Handler Function App with a timer triggered function occasionally receives invalid timestamps"
I have multiple Function Apps using Custom Handlers with Golang that are running timer triggered functions. Occasionally my code fails to parse the times provided in the [request payload](https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers#request-payload).

The normal/expected request payload looks like the following:

<img width="794" alt="Screen Shot 2021-05-20 at 3

[2021-05-20 22:00] MikePennington opened #7393 "AI (Internal): [Azure-Core] ERROR: Exception in Command Processing for EventSource Azure-Core: An instance of EventSource with Guid xxx already exists"
We have multiple function apps that all started receiving this error in the logs starting around 1:00PM Central Time on 5/17.

[code]

At this point I am unsure if this error is negatively impacting the functions in any way, but I am investigating further.

We use functions quite a bit, and about half of them starting reporting this error at this time. Anecdotally it seems to be affecting our long

[2021-05-20 22:26] soninaren commented on #7242
I think i will have to do it so that it is explicitly called in placeholder mode. The log is actually critical because we ignore extension bundle config explicitly for some very specific conditions. This log message is the only thing that helps identify why the bundle config was ignored.

[2021-05-20 22:27] TsuyoshiUshio opened #7394 "Refactor the SyncTrigger extensions payload to make it generic"
#### What problem would the feature you're requesting solve? Please describe.
Currently as a tactical solution for LIMA scenarios, FunctionsSyncManager is adding the extensions portion of host.json to the sync triggers payload only for Kubernetes environments. We want to remove that restriction so it's applied in other environments as well, which will allow us to address https://github.com/Azure/a

[2021-05-20 23:28] pragnagopa commented on #7394
@TsuyoshiUshio  - would you like to address this sometime in future as you have most context?

[2021-05-21 00:15] yojagad commented on #7312
Added automation here https://azfunc.visualstudio.com/Azure%20Functions/_releaseDefinition?definitionId=20&_a=definition-tasks&environmentId=209

A sample test PR from my fork : https://github.com/yojagad/azure-functions-host/pull/1

[2021-05-21 00:28] fabiocav commented on #7312
@yojagad can we discuss this approach? I would really like to avoid those kinds of integrations if possible, and I think we have the ability to parameterize the appropriate files so we're injecting this information at build time instead.

[2021-05-21 00:39] yojagad commented on #7312
Are you suggesting looking at releases to determine the successive minor version during build time? Or did you have something else in mind like looking at the minorVersion in release/3.0 branch ?

There is still the issue of updating the azure-pipelines.yml to display the appropriate minor which is pretty static. The above approach would cover both.

[2021-05-21 00:46] fabiocav commented on #7312
I just feel we can come up with a better approach that doesn't require changes and additional commits from a service account.

I'm not proposing any specific solution with the above, though, I think we can talk through some options.

[2021-05-21 00:49] yojagad commented on #7312
Okay, I'll set something up and we can discuss through some options.

[2021-05-21 00:50] fabiocav commented on #5902
@pragnagopa / @balag0 can you please follow up with a breaking change proposal for this so we can have it tracked? Feel free to follow up offline if needed.

[2021-05-21 00:59] yojagad commented on #7312
I'll also remove the automation meanwhile

[2021-05-21 02:08] TsuyoshiUshio commented on #7394
@pragnagopa  Yes. absolutely.

[2021-05-21 02:53] balag0 commented on #7383
Could you check if the correct slot name shows up in kudu
https://{appname}.scm.azurewebsites.net/api/settings
https://{appname}-staging.scm.azurewebsites.net/api/settings

[2021-05-21 04:38] #7288 closed, assigned to TsuyoshiUshio

[2021-05-21 09:12] balag0 opened #7396 "Script Host restart in core tools fails with the latest functions host from dev branch"
2021-05-20T08:18:47.5383109Z [2021-05-20T08:18:47.538Z] Job host stopped
2021-05-20T08:18:47.5414457Z [2021-05-20T08:18:47.540Z] Hosting stopped
2021-05-20T08:18:47.5434663Z [2021-05-20T08:18:47.543Z] Disposing ScriptHost.
2021-05-20T08:18:47.5524527Z [2021-05-20T08:18:47.546Z] Disposing FunctionDispatcher
2021-05-20T08:18:47.5536960Z [2021-05-20T08:18:47.553Z] Disposing language worker channel wi

[2021-05-21 09:20] v-anvari commented on #7393
Hi @MikePennington , Can you please [Share-Your-Function-App-name-privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately) so that we can check the logs from our end.

[2021-05-21 09:26] NeilMacMullen commented on #7389
Had a thorough read of this [similar issue](https://github.com/Azure/Azure-Functions/issues/973) and the [health monitoring](https://github.com/Azure/azure-functions-host/wiki/Host-Health-Monitor) page.  I'm certainly open to the idea that something in my app is causing thread starvation but I can't reconcile that with the observations (though possibly I'm misunderstanding the sandbox model)...

-

[2021-05-21 09:26] v-anvari commented on #7391
Hi @ZachTB123 , Thank you for your feedback! We will investigate this further and update as appropriate.

[2021-05-21 09:44] v-anvari commented on #7384
Hi @joshmouch , Thank you for your feedback! Checking the possibilities internally.

cc @ankitkumarr , for any comments

[2021-05-21 09:50] v-anvari commented on #7389
Thank you for your feedback! We will investigate and update as appropriate.

[2021-05-21 10:37] ryanbowden commented on #7393
We started seeing the same thing on one of our functions around 8pm UTC UK South.

The same function is in UK West and not seeing the same issue 🤔

@v-anvari our private function details:
2021-05-21T10:33:41.259
748227fe-7b13-48bc-9504-7c3f8782dc1f
UK South

Let me know if you need more details.

[2021-05-21 12:20] NeilMacMullen commented on #7389
Further observations.

I took the function inner code and ran it as a console app under VS debugger.  No obvious thread leakage though it's a bit hard to see without tooling that would provide a chart of thread-count over time..

I have modified the function so that:
- the max-scale out is 1.  (Logs don't suggest it was scaling out though)
- Fixed an issue where the 45 second time limit wasn't act

[2021-05-21 12:27] aaronadamsCA commented on #7345
Thanks @v-anvari. Our workaround is working for now, but it's rather difficult to support; I'd love to be able to move to a build-once-deploy-everywhere approach.

If you or the team would like access to our closed-source repository to see how we're doing things and to better understand what could be improved, contact me by email (in my profile) and I'm happy to provide this.

[2021-05-21 13:00] #6801 closed, assigned to ankitkumarr, v-bbalaiagar

[2021-05-21 13:00] #6785 closed, assigned to madelinegordon, v-bbalaiagar

[2021-05-21 13:00] ghost commented on #6488
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-21 13:00] ghost commented on #6359
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-21 13:10] Anusriv commented on #7393
Thank you for the details @ryanbowden , We will check the logs to understand the error and revert back the findings

[2021-05-21 13:13] v-anvari commented on #7393
Thank you for the details @ryanbowden , We will check the logs to understand the error and revert back the findings

[2021-05-21 13:15] v-anvari commented on #7345
Thank you @aaronadamsCA , I shall check with the team if a PR can be raised.

Since this is also a feature request, I suggest you to submit a feature request here- https://feedback.azure.com/forums/355860-azure-functions

[2021-05-21 13:28] NeilMacMullen commented on #7389
So it appears that the AppInsights custom telemetry is the issue.  Here's the thread trace from another function that shows the effect of removing the TelemetryClient allocation.  You can see that the sawtooth threadcount reverts to a nice flat line.

Speculating about what might be going on here....

- TelemetryClient is probably spawning a background thread to manage buffering of telemetry data.

[2021-05-21 15:03] NeilMacMullen commented on #7398
@ganesh-gawande  Your "early" invocation is only 5ms early (7.58.59.995) - seems likely that the scheduler is rounding up the current timestamp to the nearest second so probably you should expect to execute any time +/- 0.5s of the start of the minute.

[2021-05-21 15:07] MikePennington commented on #7393
@v-anvari I don't get any "Function started" message either by triggering the function manually or by scouring the Application Insight logs. I do get a message like the one below. Does that work?

[code]

[2021-05-21 15:22] v-anvari commented on #7393
Yes, that works, Thank you for providing the details. We will check the logs to understand the error and revert back the findings

[2021-05-21 15:27] pragnagopa commented on #7394
cc @mathewc

@TsuyoshiUshio  - Please address comments - https://github.com/Azure/azure-functions-host/pull/7386#discussion_r637004808 as well as part of this fix.

[2021-05-21 15:40] Afischbacher commented on #6557
Hey, I know this question is a bit old, but I have done something similar to what you are looking for and it can be done, this was my approach.

I was able to complete this using[ T4 templates ](https://docs.microsoft.com/en-us/visualstudio/modeling/code-generation-and-t4-text-templates?view=vs-2019), Generics, Reflection and a dependency injection library. This enabled me to dynamically template

[2021-05-21 16:11] philipp-t commented on #7344
The Problem was a wrong configured Network. Maybe the Error was so unspecific that we didn't find the problem. But now with correct network everything is working correctly. THX for the support

[2021-05-21 16:12] #7344 closed, assigned to kashimiz, v-anvari

[2021-05-21 16:43] v-bbalaiagar commented on #7398
Hi @ganesh-gawande , Thank you for your feedback, I was able to reproduce the scenario. Triaging this issue.

//For the team for triage//

Function app name: fpTimer

Timestamp : 2021-05-21T14:43:59.992

Region : Central US

**Expected result**: Azure timer trigger function to run every 1 minute at 00 seconds.

**Actual result**: But sometimes its get executed at previous 59 second.

**Repro steps

[2021-05-21 17:19] v-anvari commented on #7391
Hi @ZachTB123 , Every time the function runs, I see there is a warning before the function completes:

![image](https://user-images.githubusercontent.com/66122429/119173076-5cc81d00-ba84-11eb-823f-f35bc4ff0c24.png)

But, as you mentioned, between the time stamp - 2021-05-17 00:30:00 to 2021-05-19 23:00:00 , there is only once the error occurred with the invocation id - e1040a7f-b79d-4361-970b-3a55

[2021-05-21 17:23] #7396 closed, assigned to balag0

[2021-05-21 17:48] fabiocav commented on #7345
This is something we're tracking as a future enhancement. We don't have a concrete ETA we can share, but some of the required host work will likely be happening in the upcoming semester.

@ankitkumarr do we have an existing work item/issue tracking some of the host work for worker driven indexing?

[2021-05-21 17:52] fabiocav commented on #7345
Modifying the previous comment, as the scenario isn't 100% the same, but those are similar requirements.

We have some work planned to improve this behavior, but don't really have a concrete ETA at this point. The host work will likely be happening in the upcoming semester.

@ankitkumarr do we have a work item/issue tracking worker driven indexing?

[2021-05-21 18:44] apatriz commented on #3998
Even double-escaping does not work when using an Azure Function Proxy (v2). Any insight on this ?

[2021-05-21 19:00] #7358 closed, assigned to madelinegordon, v-anvari

[2021-05-21 19:00] ghost commented on #7201
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-21 19:00] ghost commented on #5891
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-21 19:23] ZachTB123 commented on #7391
@v-anvari Those warnings you posted aren't impacting our invocations at all. Issue #6717 talks about this and I've commented there in the past that I would like to see those messages go away since they are just noise since our function doesn't have any return values or outputs.

The `Response status code does not indicate success: 500 (Internal Server Error).` exception you see is expected because

[2021-05-21 20:16] roszell commented on #7383
Hi @balag0, we have confirmed that the WEBSITE_SLOT_NAME values are the same in Kudu for both slots. Both show a value of "staging", which is incorrect.

[2021-05-21 23:25] #7242 closed, assigned to soninaren

[2021-05-22 00:35] #7156 closed, assigned to nobody

[2021-05-22 07:51] peter-dtcats commented on #7176
I am unable to create a Azure Function App from Azure CLI. Is it a bug?

 ERROR: The parameter LinuxFxVersion has an invalid value.

![image](https://user-images.githubusercontent.com/84412672/119218966-f5e24c80-baf3-11eb-9144-5a7c22aceaee.png)

Great If someone can throw some light on  how do i specify the LinuxFxVersion through Azure CLI.

[2021-05-22 08:15] divyagandhisethi commented on #7176
@Francisco-Gamino to help with AZ powershell cmdlets

[2021-05-22 11:10] miklen commented on #7330
I have the same error and I think it's caused by adding authentication to the functions. I'm using the Azure Function authentication from Microsoft.Identity.Web (https://github.com/AzureAD/microsoft-identity-web/pull/856).

[2021-05-22 11:52] NeilMacMullen opened #7399 ".Net 5 (dotnet-isolated) Some metrics are not recorded for some periods"
The "Thread Count", "Connections" and "Handle Count" metrics are measured as zero for long periods even though the function is running normally (as verified from logging),  "Memory Working Set" does show sensible values however.

![image](https://user-images.githubusercontent.com/9131337/119225370-3f826580-bafb-11eb-8186-327deccaafde.png)

The in-app process count during this period is clearly not

[2021-05-23 10:00] ghost commented on #7061
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-23 15:23] drmanhatin opened #7401 "Long time between "posting invocation" and the function starting"
#### Is your question related to a specific version? If so, please specify:
Python 3.7 Azure Function

#### Question

As you can see from the logs there's a 12 second wait between "posting invocation" and it actually working, which slows down the function immensely... Whats happening here?

[code]

[2021-05-23 19:00] ghost commented on #7254
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-23 23:52] sjwaight opened #7402 "Support Azure App Configuration service as special configuration source like Key Vault."
#### What problem would the feature you're requesting solve? Please describe.
Today we can load values into App Service / Function configuration from Key Vault by using the `@Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/)` format.

There is no similar way to achieve the same from Azure App Config which can lead to issues when a scale-out event causes a Function to

[2021-05-24 03:09] geg00 opened #7403 "Exception while executing function: ... Did not find any initialized language workers"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

 System.InvalidOperationException: Did not find any initialized language workers

[2021-05-24 07:36] praveensri opened #7404 "Logic App trigger extensions should load the extensions based upon workflow definition"
#### What problem would the feature you're requesting solve? Please describe.
Logic App extension registers the dynamic function corresponding to each workflow definition, currently all the extensions are getting loading during startup which hampers the cold startup time.

#### Describe the solution you'd like
Currently the extension probing is based upon function.json and Azure function static ma

[2021-05-24 10:15] v-anvari commented on #7401
Hi @drmanhatin , Thank you for your feedback! We will investigate this further, can you provide the following details:

Timestamp:
Function App version:
Function App name:
Function name(s) (as appropriate):
Invocation ID:
Region:

[2021-05-24 10:23] v-anvari commented on #7403
Hi @geg00, Thank you for your feedback! We will investigate this further, can you provide the following details:

Repro steps: (Provide the steps required to reproduce the problem)
Invocation ID:

[2021-05-24 10:33] v-anvari commented on #7389
Hi @NeilMacMullen , We require to investigate this from our end. Can we get the repro steps.

[2021-05-24 10:45] NeilMacMullen commented on #7389
@v-anvari  - The function I am using is too complex to share directly.   I would suggest creating a timer-triggered function that runs every 60 seconds.  When invoked, the function should run this code...

[code]
or possibly just create a background worker thread.

Then just look at the Thread Count metric to see if it is increasing over time.

[2021-05-24 10:46] v-anvari commented on #7399
Hi @NeilMacMullen , I have checked the logs for the mentioned App name, but I don't see any errors in the backend. This looks like it is coming from the front end and the metrics are wrong shown. Can we get the repro steps so that we can reproduce it from our end.

[2021-05-24 10:52] v-anvari commented on #7389
@NeilMacMullen , We are seeing couple of issues regarding the Timer Trigger recently, We were able to repro time miss match using Time trigger.

Are you facing the issue only using 60 secs or 1 min? Below is the Timer trigger issue that is being investigated.
related issue: https://github.com/Azure/azure-webjobs-sdk/issues/2712

[2021-05-24 10:56] NeilMacMullen commented on #7399
@v-anvari  Yes I agree it is an issue with presentation/measurement.  I'm afraid I don't have any suggestion for repro steps except to say "run the function (dotnet-isolated) and look at the thread count metric after 24 hours."

FWIW, Here is the thread-count and "working memory set"  trace over the last 72 hours showing the problem has occurred twice...  It's interesting the working memory shows

[2021-05-24 11:07] NeilMacMullen commented on #7399
And here's a trace  (working memory/thread count) from a different function.  Again, the function is running fine despite the alarming chart apparently showing it stopped using any threads a few days ago!

![image](https://user-images.githubusercontent.com/9131337/119338922-7d60c480-bc88-11eb-84ae-cd004c3e6cd4.png)

[2021-05-24 11:19] NeilMacMullen commented on #7389
Thanks - that doesn't, on the face of it, look like the same issue to me.  I have another function which is on a 3 minute timer which also exhibits the issue.  Interestingly the rate of thread "leakage" seems higher for the function on the 3 minute timer

1 minute timer....

![image](https://user-images.githubusercontent.com/9131337/119339513-260f2400-bc89-11eb-990d-81202fcc63de.png)

3 minute tim

[2021-05-24 11:21] v-anvari commented on #7389
Thank you for the information, we will investigate this further and update you with the findings

[2021-05-24 12:45] v-bbalaiagar commented on #6422
Hi @miqm, Apologies for the delayed response, We would like to know if you are still facing the same issue.

[2021-05-24 14:00] geg00 commented on #7403
Just invoke the code
http://<<Azure function >/api/HttpTrigger1?name=Anusri+Varier+works+at+Microsoft

This is the expected results on my PC with localhost (This is a copy of the log Terminal log output)

[2021-05-24T13:57:23.012Z] Executing 'Functions.HttpTrigger1' (Reason='This function was programmatically called via the host APIs.', Id=135ca9e3-ec8c-4691-81cc-4835f84486bd)
[2021-05-24T13:58:04

[2021-05-24 14:32] geg00 commented on #7403
I thought maybe this issue is related to that I have a different version of python on my PC that Azure.
I deleted all my python versions from my PC and I went with python 3.8.6 windows version

Here are my results
This is the output of the deployment

12:03:59 AM: Error: Python projects are not supported on Windows Function Apps. Deploy to a Linux Function App instead.
12:04:27 AM: Error: Python p

[2021-05-24 15:51] joelmdev commented on #7221
I get this for System.ComponentModel, Version=5.0.0.0, not the DataAnnotations, but I'd imagine it's a related issue.

[2021-05-24 16:00] #6488 closed, assigned to nobody

[2021-05-24 16:00] #6359 closed, assigned to kashimiz, v-bbalaiagar

[2021-05-24 16:05] trivedihimanshu commented on #6488
@v-bbalaiagar, Yes this can be marked as closed,
Microsoft PG group implemented a fix at the backend in order to fix this issue.

[2021-05-24 16:49] v-anvari commented on #7404
Hi @praveensri , Thank you for your feedback! Triaging this issue as an enhancement request

[2021-05-24 16:51] v-anvari commented on #7404
Tagging @soninaren , for further inputs

[2021-05-24 16:53] v-anvari commented on #7391
@ZachTB123 , Thank you for your feedback

Tagging @pragnagopa / @yojagad for further investigation.

[2021-05-24 16:54] v-anvari commented on #7380
Transferring this issue to Python worker repository for further investigation

[2021-05-24 16:58] v-anvari commented on #7402
Hi @sjwaight , Thank you for your feedback! Triaging the issue as a feature request.

[2021-05-24 16:59] v-anvari commented on #7403
Transferring this issue to the python repository for further investigation

[2021-05-24 17:16] v-anvari commented on #7389
Hi @NeilMacMullen, The best approach here would be to understand where the application is consuming those threads, in order to understand this, you can take a memory dump and you will be able to diagnose the state where the threads are being consumed.

You can use either of the following ways to get the memory dump:

[How to get a full memory dump in Azure App Services – HTTP Stack and other fun t

[2021-05-24 17:18] v-anvari commented on #7399
Hi @NeilMacMullen , I would suggest the same approach here as well, to diagnose the memory dump like suggested here [7389](https://github.com/Azure/azure-functions-host/issues/7389) . A support request can help you understand the issue as well. As both the issues are coming from the client side

[2021-05-24 17:45] v-bbalaiagar commented on #6488
Hi @trivedihimanshu, Thank you for the update, Closing this issue as resolved, please feel free to reach back to us in case of any further queries related to this issue.

[2021-05-24 18:02] miqm commented on #6422
Hello,

I need to check it again.  But if you didn't make any improvements in the Easy Auth since then, then it's still valid.

[2021-05-24 19:00] ghost commented on #5654
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-24 19:39] yojagad commented on #7312
Discussed this offline. Main concern here is using a service account that adds additional commits on dev branch.
Therefore, action items here are
- Update Manual step in release preparation pipeline to include instructions to update minor version after merging dev to release/3.0 . At this point even if OGFs fail, the commit made to dev to fix OGF should be cherry picked to release/3.0.
- Add a val

[2021-05-24 20:57] HMoen commented on #6911
Hi @v-bbalaiagar, we are using .NET Core 3.1 and .NET Standard 2.0. It seems [Microsoft.Extensions.Hosting](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosting.ihostapplicationlifetime?view=dotnet-plat-ext-5.0&viewFallbackFrom=netcore-3.1) nuget package dependencies require >= 5.0.0 (even though documentation states otherwise) which we are not ready to migrate to at the moment

[2021-05-24 22:00] #7201 closed, assigned to nobody

[2021-05-24 22:00] #5891 closed, assigned to v-anvari

[2021-05-25 00:25] fasigpt commented on #7393
We are hitting into the same issue starting 5/21. Our App name is "AzureSightTasks" and function that's impacted is "AzureSightDailyResourceHealthMonitorCrawler"

[2021-05-25 03:54] qcnguyen commented on #7284
it's been a month and we are still waiting for this. can you please confirm the exact day, please. It's critical for us @fabiocav

[2021-05-25 08:40] TheAxeDude commented on #7402
This would simplify things quite a bit in some of our Python functions, where we currently use the `@Microsoft.KeyVault` syntax to pull data. In the past we've kept non-secret data in KeyVault (where we'd like to use App Config, instead).

It would also remove the need for us to rely on additional libraries to query AppConfig & KeyVault; as well as allow for some in-built caching at the function-h

[2021-05-25 09:15] NeilMacMullen commented on #7389
@v-anvari   We may be talking at cross purposes or perhaps I've misunderstood your suggestion?  My take on this *looks* very much like a bug in the function host.  I.e. the fact that the host appears to "leak" threads across invocations seems like a bug, regardless of what code is running inside it.  Reminder: the issue started appearing when we switched to the dotnet-isolated model, not when we c

[2021-05-25 09:24] NeilMacMullen commented on #7399
@v-anvari   As with the other issue, I don't consider this a bug in "my" code.  It may not be caused by the function-host; it could be a problem with the portal, the health monitor or whatever other component is responsible for collecting and presenting the ThreadCount metric.  However all those things are owned by Microsoft and I'd hope that there would enough internal communication between teams

[2021-05-25 09:38] v-bbalaiagar commented on #6477
Hi @manums, Apologies for the delayed response. Can you please confirm were you able to figure the solution here. Do let us know if you want us to look at this issue further so that we can follow up with the right team.

[2021-05-25 11:45] v-bbalaiagar commented on #7211
Hi @balag0 , Could you please look into this issue.

[2021-05-25 12:08] v-anvari commented on #7399
Thank you for the feedback, yes, the issue doesn't seem to be coming from the code, but from the client side or the issue is from the portal. As suggested, if you can submit a support request from you subscription, the support team will be able to help. The support team will have control over the front end of your application. We are happy to help you, but I don't see any error in the backed logs.

[2021-05-25 12:28] v-anvari commented on #7254
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-05-25 12:28] #7254 closed, assigned to nobody

[2021-05-25 12:34] v-bbalaiagar commented on #6734
Hi @andy968, Apologies for the delayed response, Here is a [stackoverflow](https://stackoverflow.com/questions/52172941/how-can-i-reference-rand-guid-value-from-declarative-binding-in-azure-function) which addresses similar scenario. Please check and let us know if this helps.

[2021-05-25 12:52] v-anvari commented on #7389
Hi @NeilMacMullen , Yes, you're right, to understand why there is a leak and what is causing it, we would require you to diagnose the memory dump of your function App at the time of the leak. As suggested, the support team can help you get the memory dump.

[2021-05-25 14:50] edouardpoitras commented on #7393
We are also having the same issue as of the 5/21.

[2021-05-25 19:37] yojagad commented on #7312
I've updated the steps here https://azfunc.visualstudio.com/Azure%20Functions/_releaseDefinition?definitionId=21&_a=definition-pipeline

[2021-05-25 22:39] TsuyoshiUshio commented on #7360
https://github.com/Azure/azure-functions-host/pull/7370
https://github.com/Azure/azure-functions-host/pull/7373
https://github.com/Azure/azure-functions-host/pull/7386

Three PRs solve this issue.

[2021-05-25 22:39] #7360 closed, assigned to TsuyoshiUshio

[2021-05-25 22:41] TsuyoshiUshio commented on #7382
Done by the PR.

[2021-05-25 22:41] #7382 closed, assigned to TsuyoshiUshio

[2021-05-25 22:58] fabiocav opened #7408 "Emit a log statement to measure dashboard logging usage"
We need to emit a log statement to enable us to quantify the WebJobs dashboard log usage in 3.x.

[2021-05-26 00:00] balag0 opened #7409 "Possible FunctionExecutionStatus deserialization errors"
related to https://github.com/Azure/azure-functions-docker-private/issues/175

We had one CRI, where the FunctionExecutionStatus on functionhost and metering service didn't match each other. Add a count of inprogress execution event count to allow clients to identify and take remedial action.

[2021-05-26 01:50] balag0 commented on #7211
We had an issue that was fixed in early April which was causing the container to crash due to a race condition in starting the functions runtime process.
@Menci Could you please confirm if you are still seeing this issue?

[2021-05-26 02:15] Francisco-Gamino commented on #7176
Hello @divyagandhisethi and @peter-dtcats -- In the Az.Functions cmdlets we set the `LinuxFxVersion` value during function app creation. However, we do support setting the `LinuxFxVersion` to a given value. Adding @gzuber to see if this is possible via the Az CLI.

[2021-05-26 07:54] balag0 commented on #7383
We are still investigating this. But in the meantime could you restart the production slot and see if that fixes the issue?

[2021-05-26 09:55] v-bbalaiagar commented on #7336
Hi @balag0, Can you please suggest if the label needs to be changed.

[2021-05-26 10:00] v-bbalaiagar commented on #7374
Hi @aronchick, Can you please provide the above requested details.

[2021-05-26 10:02] v-anvari commented on #7258
Hi @AchoArnold , Apologies for the delayed response, I shall repro this issue to check if we are missing something. Meanwhile, let us know if you are still facing the issue

[2021-05-26 10:10] v-anvari commented on #7238
Adding this issue triaged for further investigation

[2021-05-26 10:15] v-anvari commented on #7218
@ankitkumarr / @brettsam , Do we have any updates on the fix here. Do we require to add this to any sprint for fix

[2021-05-26 10:44] sam-strawbridge commented on #6718
looks like this is only available as of api version 2020-12-01 https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2020-12-01/sites?tabs=json

[2021-05-26 12:31] ruifrvaz commented on #5421
hi @vtkachenko i am having the same issue with a long running timed trigger. have you managed to solve this?
i am assuming that the function is still executing when the new trigger is suppose to run and it puts the start on hold. Can you confirm that setting the trigger interval to a higher value (ie. close to the actual run time of the function) solves this?

[2021-05-26 13:00] #7061 closed, assigned to kashimiz, v-bbalaiagar

[2021-05-26 15:30] aronchick commented on #7374
I'm so sorry - i long since deleted it.

You could take a shot at repro-ing by just checking the error code on a function that has been shut down / is in cold start.
________________________________
From: v-bbalaiagar ***@***.***>
Sent: Wednesday, May 26, 2021 3:01 AM
To: Azure/azure-functions-host ***@***.***>
Cc: David Aronchick ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-functi

[2021-05-26 20:03] fabiocav commented on #7369
@pragnagopa will you be looking at this or would you like us to have it assigned?

[2021-05-26 20:09] fabiocav commented on #7312
Closing as done.

[2021-05-26 20:09] #7312 closed, assigned to yojagad

[2021-05-26 20:17] fabiocav commented on #5612
Moving this to the Epics milestone. The `async void` analyzer has been merged and is currently on NuGet. SDK updates are pending.

[2021-05-26 20:32] fabiocav commented on #7394
@TsuyoshiUshio are you planning on working on this item as part of spring 103? Can we have a quick sync on this to talk about the proposed solution?

[2021-05-26 21:26] #6979 closed, assigned to soninaren

[2021-05-26 21:26] #6980 closed, assigned to soninaren

[2021-05-26 21:26] #7125 closed, assigned to soninaren

[2021-05-27 03:19] jianawu commented on #2955
Hi @paulbatum ,
Is there any plan about this issue till now? Really look forward to using this feature :)

[2021-05-27 09:54] andrejohansson opened #7413 "Dotnet 5 isolated mode, structured logging with ILogger broken?"
#### Investigative information

I have been using the ILogger interface in both **v1 (via an adapter) and v3 (native)** functions with working custom dimensions reported back to Application Insights:

I've been able to utilize both [structured logging](
https://github.com/Azure/azure-functions-host/wiki/ILogger#structured-logging):

[code]

and scopes that add extra information

[code]

But since

[2021-05-27 13:20] edouardpoitras commented on #7393
A few more details that may be helpful:

- We don't use a custom TelemetryClient - just the injected ILogger object (like OP).
- Seems to happen to any function type - timer and EventGrid trigger for us.
- Happens whenever we deploy code, change function configuration, or change the App Service Plan auto-scale rules.
- Hasn't happened for our non-production App Service Plans, but they have much le

[2021-05-27 14:20] v-anvari commented on #7258
Hi @AchoArnold , Can you tell us what is in the below two references
using SmsGateway.Clients;
using SmsGateway.Services;

Can you provide the whole repro if possible. Also, did you add the references correctly

[2021-05-27 15:36] mathewc commented on #7394
Yes - before anything is checked in for this, I need to review. The general goals for this are captured in https://github.com/Azure/azure-functions-host/issues/5390.

[2021-05-27 15:42] roszell commented on #7383
Hi @balag0, we have already tried restarting the slots and it did not fix the issue. Thanks.

[2021-05-27 15:54] TsuyoshiUshio commented on #7394
Not for todays deployment. I'd happy to discuss the design first! It should requires careful testing.

[2021-05-27 16:15] v-anvari commented on #7393
Hi @MikePennington , I am unable to track your logs with the id provided, please provide any of the function names.

I see similar issues in the past as well - [https://github.com/Microsoft/ApplicationInsights-dotnet/issues/973](https://github.com/Microsoft/ApplicationInsights-dotnet/issues/973).

We would require further details regarding your project, the repro steps, the assemblies used, code,

[2021-05-27 16:18] v-bbalaiagar commented on #6911
Hi @HMoen, Thank you for your feedback! Checking this internally for the possibilities. We will update you with any information found.

[2021-05-27 17:42] paulbatum commented on #2955
I think the current information on this issue is up to date as of 2021. It would be useful improvement, but hasn't been sufficiently high priority to be implemented.

[2021-05-27 17:46] balag0 commented on #7383
@shubDhond This is the issue we were discussing last week. Please update here if you have any ideas.

[2021-05-27 17:58] TsuyoshiUshio commented on #7394
I'd like to know the counter microservices spec at first. I mean I'd like to research the pattern How the SyncTrigger Payload is used. I know the usage of Kubernetes environment with KuduLite, However, I don't know about the other use cases. Do you know the pointer?

[2021-05-27 21:42] kashimiz opened #7414 "Analyzer: Suggested HttpClient Usage Pattern"
**Conditions To Trigger Analyzer**
Within a [Function]-decorated method, where a new HttpClient is instantiated..

[code]

**Diagnostic Level**
Warning

**How to fix violations**
1. Move HttpClient instantiation to a static instance defined outside of the [Function] (see example):

[code]

2. Inject HttpClient with DI (see example):

[code]

**Whether to Supply Codefix**
Yes for 1, if possible for

[2021-05-27 21:42] #7314 closed, assigned to yojagad

[2021-05-27 21:47] kashimiz opened #7415 "Analyzer: Suggested DocumentDB Use Pattern"
**Conditions to Trigger Analyzer**
Within a `[Function]`-decorated method, where a new DocumentClient is instantiated..

[code]

**Diagnostic Level**
Warning

**How to Fix Violations**
1. Lazy static instantiation outside of [Function] method:

[code]

2. Inject DocumentClient using DI, ex. https://github.com/jeffhollan/functions-csharp-cosmosdb-di

**Whether to Supply Codefix**
Yes for 1, if poss

[2021-05-27 21:51] kashimiz opened #7416 "Analyzer: Suggested SqlConnection Use Pattern"
**Conditions to Trigger Analzyer**
Within a `[Function]`-decorated method, where a SqlConnection is instantiated..

[code]

**Diagnostic Level**
Warning

**How to Fix Violations**
Wrap SqlConnection instantiation in `using` statement, ex. https://github.com/cheenamalhotra/azurefunctions-sqlclient-example/blob/master/HttpTriggerSqlClient.cs

**Provide Code Fix**
Yes

**When to Suppress Analyzer Rul

[2021-05-27 22:00] #5654 closed

[2021-05-27 22:11] kashimiz opened #7417 "Analyzer: Suggest Using IFunctionsConfigurationBuilder"
**Conditions to Trigger Analyzer**
When in FunctionsStartup Configure() method, if ConfigurationBuilder().AddJsonFile() is called..

[code]

* This overrides the host.json file configuration settings. The test for this is if a setting defined in host.json but not the added json file is set back to its default value.

**Diagnostic Level**
Warning

**How to Fix Violations**
Use IFunctionConfiguratio

[2021-05-27 23:50] paulbatum commented on #5654
@luckerby if my comment above didnt answer your question please let me know

[2021-05-28 03:34] johnsanmiguel commented on #7393
We are also facing this issue starting from 5/26.

These are some details:

- We are using only the injected ILogger object of the function.
- This is happening to my service bus and http trigger functions.
- We are in a EP1 plan
- This is happening also in the slots

[2021-05-28 07:45] ruifrvaz opened #7418 "Azure function optional parameter does not work"
As the name suggests, optional parameter is not working for me when hosted in azure.

I have tried both optional as {name?} and {name:alpha?}. Both work locally, but when I deploy and test on azure, it returns 404 resource not found whenever I run without parameter. Further looking into application insights the error message is "Unable to match incoming request to an operation."

Here are the func

[2021-05-28 10:28] ruifrvaz commented on #7418
hi @v-anvari  and @brettsam  i have updated the documentation to include the apim proxy.

[2021-05-28 10:32] v-anvari commented on #7418
Hi @ruifrvaz , Thank you for your feedback! To investigate this further, could we get some more information on the project scenario. Can we get the repro steps and which version of .Net are you using.

To the latest comment, What documentation is it. Could you give us more details

 I see few fixes to similar issue in the past - https://github.com/Azure/azure-functions-host/issues/2419

[2021-05-28 11:04] ruifrvaz commented on #7418
Hi, I am using .netcore 3.1.
I think the problem might be with APIM and not the function parameter. What confused me is that the operation error ended up in the function application insights but that might be because of the way the function was configured.

I will try to reproduce this myself and get back to you.

[2021-05-28 11:06] v-anvari commented on #7418
Thank you for the update

[2021-05-28 11:40] Menci commented on #7211
@balag0 This issue happened in that day but never happened after that. I don't know whether it's not triggered or fixed.

[2021-05-28 13:00] ghost commented on #7401
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-28 13:26] v-anvari commented on #7413
Hi @andrejohansson , Thank you for your feedback! We will investigate and update as appropriate.

cc @brettsam / @ankitkumarr , Does  isolated apps support custom dimensions

[2021-05-28 13:30] CarlosOnline opened #7419 "Function host shuts with An unhandled exception has occurred. Host is shutting down."
Function host shuts down causing function calls to end prematurely.

There is almost no information as to where the error comes from and why the function host is shutting down.

I suspect it has to do with Storage exception since the next expected action is to place a message on a storage queue.  This action doesn't take place.  Instead the function host shuts down.

Can you please help with diagn

[2021-05-28 13:35] v-anvari commented on #6055
Sorry for the delay, checking this internally, if this is by-design or requires a fix

[2021-05-28 14:34] v-bbalaiagar commented on #7211
Hi @Menci, The issue to fix such error code is already being tracked as mentioned above. Closing this issue as the fix has already been made, let us know if you see the issue again.

[2021-05-28 14:34] #7211 closed, assigned to nobody

[2021-05-28 14:52] v-bbalaiagar commented on #7374
Hi @aronchick, The error is a known issue as mentioned above, Can you please provide if there is a way to repro the issue.

[2021-05-28 15:58] aronchick commented on #7374
i have long since deleted it - what's the error you get when requesting a curl from a cold function? if it's not 400, maybe you fixed it?

[2021-05-28 16:06] MikePennington commented on #7393
@v-anvari

I work for a very large company and cannot share function names publicly. The information at [Sharing-Your-Function-App-name-privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately) seems out of date. This is the output I get when I run the function manually in the console. Log level is set to verbose.

Filesystem logs:
[code]

App Insights

[2021-05-28 17:09] #7409 closed, assigned to balag0

[2021-05-29 10:00] ghost commented on #6477
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-29 13:00] ghost commented on #6734
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-31 13:44] amih90 commented on #6423
Any updated?

[2021-05-31 15:31] psddp commented on #6239
Looks like it was a design decision to always have "Development" when running local, see https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azure_functions_environment

![image](https://user-images.githubusercontent.com/7760275/120215434-b9a1a100-c203-11eb-855b-201fc8668db9.png)

[2021-05-31 16:00] #7401 closed, assigned to brettsam, v-anvari

[2021-05-31 16:58] v-anvari commented on #6055
Hi @whakomatic / @nogic1008 , This issue is marked as a potential breaking change for v4, and the tracking issue is here - https://github.com/Azure/azure-functions-nodejs-worker/issues/377

[2021-05-31 17:00] v-anvari commented on #6055
Closing this issue as a duplicate, any further updates will be given in the tracking issue, please feel free to reach back to us in case of any further queries related to this issue

[2021-05-31 17:00] #6055 closed, assigned to nobody

[2021-06-01 06:25] v-bbalaiagar commented on #7419
Hi @CarlosOnline, Thank you for reaching out to us, checking internally on this issue.

[2021-06-01 07:07] mattias-fjellstrom commented on #6423
@amih90 check this out https://devblogs.microsoft.com/azure-sdk/introducing-the-new-azure-function-extension-libraries-beta/ which seems to be related to this feature.

[2021-06-01 08:27] phawxby commented on #7336
@balag0 could whatever has been fixed also apply to Azure App Service too? We've had a few issues recently where slot settings appear to be randomly getting confused between RC and Production tiers. RC setting end up in prod, or prod settings end up in RC despite in both cases all the slot setting values being set. You can see the discussion about the problem on ticket support ticket 2105140050002

[2021-06-01 09:16] wyong95 commented on #5663
Having the same issue today. Any update ?

[2021-06-01 12:09] piotrzbyszynski commented on #3741
So 2 and a half years have passed since original issue was created. As I understand it is still not resolved, just workarounds?

[2021-06-01 13:00] #6477 closed, assigned to ankitkumarr, v-bbalaiagar

[2021-06-01 13:00] ghost commented on #7418
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-01 13:31] reddaiahnethi opened #7420 ".net 5 , Unable to resolve service for type 'Microsoft.Extensions.Configuration.AzureAppConfiguration.IConfigurationRefresherProvider'"
Created a Azure HTTP Trigger Function in .net5

Facing below issue, when I have IConfigurationRefresherProvider as DI
Unable to resolve service for type 'Microsoft.Extensions.Configuration.AzureAppConfiguration.IConfigurationRefresherProvider'

I have the below in program.cs, still facing this the above issue.

 configurationBuilder.AddAzureAppConfiguration((options) =>
            {

[2021-06-01 14:02] piotrzbyszynski commented on #3741
So I have to filter out an exception, a false positive (for details see https://github.com/Azure/azure-webjobs-sdk/issues/2612, the issue is completely ignored for over half a year now), filtering this exception is a workaround all together, since this exception should not be logged at all... But anyways...

I can not use category filtering because exception is thrown by Entity Framework code, the

[2021-06-01 14:06] luthus commented on #3741
@brettsam @lmolkova can the team take a look at this PR? https://github.com/Azure/azure-webjobs-sdk/pull/2657

[2021-06-01 14:31] piotrzbyszynski commented on #3741
One more thing regarding category filtering. I have a function called let's say `MyFunction`, triggered by service bus message. The default category for this function is `Function.MyFunction`. To this category belongs tons of noise I do not care about like:

`Executing 'MyFunction' (Reason='(null)', Id=ee1c2eb3-73ec-417b-a552-70cbab784d17)`

or

`Trigger Details: MessageId: XYZ, SequenceNumber: 12

[2021-06-01 15:12] haktech commented on #7278
Getting this as well. Any workaround or update?

[2021-06-01 15:22] zhenyuan0502 commented on #7393
I got the same problem, in my on-running production, it's started first time in 30/4/2021 region Southeast Asia, I didn't notice that when today I was trying to fix this message on local around 4 hours, nothing fixed.
![image](https://user-images.githubusercontent.com/16673159/120348937-dc2cda80-c327-11eb-876f-d5552c307ed0.png)

![image](https://user-images.githubusercontent.com/16673159/120349276

[2021-06-01 15:30] v-anvari commented on #7393
Thank you for your feedback! We will investigate and update as appropriate.

[2021-06-01 15:33] edouardpoitras commented on #7393
I just want to point out that my error is exactly the same as @MikePennington and @zhenyuan0502 - Even the EventSource GUID is the same. I'm not sure how that's possible.

[2021-06-01 15:39] tkutcher opened #7421 "Function App Cold Starts Results in 404 Before Reaching Function"
Recently, for several of our Linux Consumption Plan Function Apps, requests that are made after a quiet period (i.e. what presumably would be a cold start), often result in an immediate 404. Immediate subsequent requests also respond with the 404 nginx page. Then after several seconds (i.e. no longer cold), the function behaves as normal and reaches the actual function app.

This appears to be sim

[2021-06-01 16:00] #6734 closed, assigned to madelinegordon, v-bbalaiagar

[2021-06-01 16:04] zhenyuan0502 opened #7422 "[Ver 3.0.12] Could not evaluate 'Cosmos.CRTCompat.dll' for extension metadata."
I facing this message again in version `3.0.12`
![image](https://user-images.githubusercontent.com/16673159/120354445-a0484400-c32c-11eb-88d0-d16ce6f79524.png)

As this topic has fixed in `3.0.7` (I confirmed the message has gone when I downgraded to `3.0.7`-`3.0.11`
https://github.com/Azure/azure-functions-host/issues/5963#issue-610805945

[2021-06-01 16:40] balag0 commented on #7336
The issue (and fix) was specific to consumption plans only.  So it must be a different issue.

[2021-06-01 17:45] fabiocav opened #7423 "Add telemetry to log services resolved at specialization"
We need to emit telemetry to collect information about services resolved at specialization so we can continue to review them un ensure items that can be moved to the parent scope are updated.

@safihamid FYI

[2021-06-02 07:42] kanagaraj2503 opened #7425 "Need support for store connection details in KeyVault and read it in Azure Functions"
##Not sure whether we have option to store the connection String in Keyvault and retrieve it in azure functions, whether is it currently supported in Azure Functions? If supported, please share the sample code to retrieve in Functions.

Also how to support in **[StorageAccount("ConnectionKey")]** Attribute at the function class level whereas ConnectionKey right now read it from AppSetting Key (say

[2021-06-02 13:12] zhenyuan0502 commented on #7425
I have tested it on Configuration settings on deployed Azure Function, the first is I used the key-vault uri created by Azure Portal, then the uri, such like `https://your-keyvault.vault.azure.net/secrets/your-connection-string`, put it as final `@Microsoft.KeyVault(SecretUri=https://your-keyvault.vault.azure.net/secrets/your-connection-string)` and it's automatically served as normal connection s

[2021-06-02 13:15] carl-berg commented on #6917
Same issue here. Oddly enough the "same" function runs dependably in one environment, but times out/stops executing in another.

[2021-06-02 14:20] Vidarls opened #7426 "Azure functions proxies changes timezone offset for values hardcoded in responseOverrides to the local timezone of the host."
I have set up a simple proxy for test use that should return some static json data when responding to a request.

Part of this data is date / time values with a specific timezone offset.

When the proxy responds all the date/time values are altered to be in the timezone of the host. (Locally it gets my current timezone, in Azure it becomes UTC).

#### Investigative information

This setup in proxi

[2021-06-02 18:00] paulbatum opened #7427 "Include extension config when logging host.json"
For diagnostics to detect common errors such as using a newly introduced host.json setting with an older extension that does not support that setting, we need the extensions section of host.json logged. The options logger for the extension won't log unrecognized settings, so the 'Host configuration file read' log entry is the best way to find those unrecognized settings.

[2021-06-02 19:48] #7427 closed, assigned to paulbatum

[2021-06-03 00:06] TsuyoshiUshio commented on #6925
This issue impacts the Kafka extension bundle. @pragnagopa

[2021-06-03 08:34] zhenyuan0502 commented on #7393
@v-anvari

I have reproduced the error message by using `AzureEventSourceListener` to listen `EventSource` working. What I have done is:
- Create Azure Function 3 .NET Core with Time Trigger
- Register `AzureEventSourceListener` on the function
- Call any service which is belonging to Azure-Core, I picked Search Service (simple, no need to create on Azure Portal actually)

![image](https://user-im

[2021-06-03 09:31] vtkachenko commented on #5421
Hello, @ruifrvaz,

Our situation was resolved with quite large code refactoring. Earlier we had a large Function Startup basically for each Function, which took up almost all dependencies. And it caused Function Host to break default startup time limit. Later, we modified our code to have a shared Function Startup for all Functions (where all dependencies are registered on the first call), and the

[2021-06-03 15:34] brettsam commented on #4907
@fabiocav -- what's the deal with this proposal? Is this something we could/should do in v4?

[2021-06-03 15:34] mmulhearn opened #7430 "Startup is not being invoked"
This is a continuation of #5401, but for `Microsoft.NET.Sdk.Functions` v3.0.12.  Downgrading to v3.0.3 or v3.0.5, as found as the fix for #5401, also does not fix the issue.

Using Visual Studio Code, my startup file is not being invoked even though the logs seem to indicate the process is aware of the startup file.  I am running this locally and debugging and my breakpoints are not being hit, nei

[2021-06-03 15:34] brettsam commented on #5563
@pragnagopa -- I assume this is something we still want to get in for v4?

[2021-06-03 15:36] brettsam commented on #4475
@pragnagopa -- do you have context on this? Is it something we should/could take for v4?

[2021-06-03 15:42] brettsam commented on #4106
@pragna / @fabiocav -- any thoughts on whether we should look into this for v4?

[2021-06-03 15:46] brettsam commented on #2015
Assigning to @fabiocav for a proposal for v4

[2021-06-03 15:49] brettsam commented on #2815
Judging by this comment, it seems like this is something we probably won't be doing and instead make sure templates/docs explain that this is best practices.

@pragnagopa / @fabiocav -- do either of you have context on this one?

[2021-06-03 16:56] paulbatum commented on #2815
I believe the related issues spell out a strategy for fixing this. Having docs that explain that batched processing is a best practice doesnt help if the customer can't use it because their data is in a non-JSON format (see https://github.com/Azure/azure-functions-eventhubs-extension/issues/118). So from my perspective this is work that should happen, and its mostly a matter of prioritization.

[2021-06-03 17:33] v-bbalaiagar commented on #6911
Hi @HMoen, You can look for the packages [here ](https://www.nuget.org/)and you can navigate to the site. This is the actual package[ link](https://www.nuget.org/packages/Microsoft.Extensions.Hosting/3.1.15) that is compatible with .NET core 3.1

[2021-06-03 17:50] weerakoons commented on #6423
Yes, There is a way to access  Storage with out a connection string.
Please follow following steps
1 ) Edit your Python code with following changes
      #Import Azure Identity library
      from azure.identity import DefaultAzureCredential

      #Then, In your code use this code
       default_credential = DefaultAzureCredential()

       blob_service_client =BlobServiceClient(account_url="https

[2021-06-03 17:53] v-bbalaiagar commented on #6422
Hi @ConnorMcMahon, Could you please look into this issue.

[2021-06-03 17:56] zhenyuan0502 commented on #7430
You might try to reproduce by new fresh project to test it. As I see, you should hit the breakpoint from the configuration you posted. My project using Visual Studio hit perfectly, all config are the same with you.

[2021-06-03 18:03] v-bbalaiagar commented on #7422
Hi @zhenyuan0502, This issue is already considered for a fix and the updates will be given there.

Closing this issue as duplicate. For more updates please follow the space - https://github.com/Azure/azure-functions-host/issues/6899

[2021-06-03 18:03] #7422 closed, assigned to nobody

[2021-06-03 18:14] v-bbalaiagar commented on #7420
Hi @reddaiahnethi, Thank you for reaching out to us, checking internally on this issue.

[2021-06-03 18:20] v-bbalaiagar commented on #7421
Hi @tkutcher, Thank you for reaching out to us, checking internally on this issue.

[2021-06-03 18:27] ConnorMcMahon commented on #6422
This is outside of the scope of EasyAuth, and we have no plans to add formal support for AAD B2C user flows beyond OIDC browser login and JWT validation.

[2021-06-03 19:58] mmulhearn commented on #7430
I was able to replicate this with a barebones new repo: https://github.com/mmulhearn/azure-func-startup-issue

[2021-06-03 22:07] vdumasacosta commented on #7393
Starting to get see those when using our blob storage. Azure functions version "2.0"

[2021-06-03 22:10] vdumasacosta commented on #7393
Blob file downloading now breaks for us too same error:
Example:
blobClient.GetBlobClient(pathName);
await blobClient.DownloadToAsync(downloadStream, cancellationToken).ConfigureAwait(false);
-> AI (Internal): [Azure-Core] ERROR: Exception in Command Processing for EventSource Azure-Core: An instance of EventSource with Guid 44cbc7c6-6776-5f3c-36c1-75cd3ef19ea9 already exists.

[2021-06-03 23:58] fabiocav commented on #6925
Assigning this to 104 so I can have the change done then.

[2021-06-04 09:11] v-bbalaiagar commented on #6422
Thank you @ConnorMcMahon for the update

[2021-06-04 10:22] v-bbalaiagar commented on #7425
Hi @kanagaraj2503, Let us know if the above information resolves your query, or if you have any further queries.

[2021-06-04 10:42] kmadof opened #7431 "Can't configure `FunctionAppLogs` category"
`FunctionAppLogs` is not available to set up in `Diagnostics` tab. I have only categories typical for App Service:

![obraz](https://user-images.githubusercontent.com/1680172/120789050-5a100200-c531-11eb-88e6-7e0a6e467567.png)

Even when I have configuration in place (which I know that I have them because logs are exported to Log Analytics Workspace) I don't see them on `Diagnostic setting`.

When

[2021-06-04 10:54] kanagaraj2503 commented on #7425
Hi @v-bbalaiagar / @zhenyuan0502 ,

After adding @Microsoft.KeyVault(SecretUri=https://your-keyvault.vault.azure.net/secrets/your-connection-string) it is not resolving the value, it simply gives the values same that given in Appsettings.json file ( @Microsoft.KeyVault(SecretUri=https://your-keyvault.vault.azure.net/secrets/your-connection-string) ). The sample code snippet is below

**Appsettings

[2021-06-04 14:58] miqm commented on #6422
Thanks. That's a bit sad that Easy Auth has no plans to support B2C built-in flows.

I'll proceed then with a custom config and I'll forget about the built in support for authorisation as it's not and will not be compatible with b2c.

[2021-06-04 14:58] #6422 closed, assigned to soninaren, v-bbalaiagar

[2021-06-04 15:31] pragnagopa commented on #7431
Thanks for reporting the issue. We are actively investigating.

cc @FinVamp1 @CooperLink @brettsam @anirudhgarg fyi

[2021-06-04 17:28] TehWardy opened #7432 "New Functions App Doesn't seem to repsond to HTTP Calls"
New functions app from VS template ...

![image](https://user-images.githubusercontent.com/6891030/120840478-3a450200-c562-11eb-9d46-6c3845d05299.png)

... as you can see, running (I have made no changes to this app it's just the default template) ...

![image](https://user-images.githubusercontent.com/6891030/120840563-547ee000-c562-11eb-8401-82e2faf98020.png)

... looks good so far ....

![image

[2021-06-04 17:29] paulbatum commented on #6423
Yesterday we announced the public preview of secretless functions scenarios:
https://azure.microsoft.com/en-us/updates/public-preview-identitybased-connections-in-azure-functions-with-latest-azure-sdk-triggers-and-bindings/

This builds on the [work](https://devblogs.microsoft.com/azure-sdk/introducing-the-new-azure-function-extension-libraries-beta/) that was linked above, where a number of funct

[2021-06-04 21:21] jimt4593 commented on #7393
I started to get this issue in my Azure Function, after implementing the code found at [Log custom telemetry](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#log-custom-telemetry-in-c-functions).   I'm only calling telemetryClient.TrackEvent(...);

[code]

[2021-06-05 02:41] graemefoster opened #7437 "Linux Consumption Plan transient x second delays on outgoing HttpClients at single digit throughput"
On a Linux Consumption plan, on at least dotnet 3.1, isolated net 5.0, and python sdk's I observe about 15% of HttpClient connections having an "n seconds" delay where n has been observed between 1 and 10.

Same function has no issues running on B1 App Service Plan (Linux), and Windows Consumption plan.

Tested in 2 regions. AU East, and US East.

Don't think it's related to this: https://docs.mic

[2021-06-05 16:00] ghost commented on #7418
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-05 16:00] ghost commented on #7258
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-05 16:46] AchoArnold commented on #7258
@v-anvari  I can confirm that the issue has now been resolved.

[2021-06-05 16:46] #7258 closed, assigned to nobody

[2021-06-06 01:39] zhenyuan0502 commented on #7430
@mmulhearn Seem it's an known bug on Visual Code on this repository has raised: https://github.com/microsoft/vscode-azurefunctions/issues/1971

Actually it will run, but, it can't hit a breakpoint

But if you take debugging in Visual Studio, it worked fine.

![image](https://user-images.githubusercontent.com/16673159/120909767-b34b7300-c6a2-11eb-9eeb-03c1d0522e7e.png)

[2021-06-06 06:44] zhenyuan0502 commented on #7425
@kanagaraj2503 In your case seems you are trying to store KeyVault for local development only, If you would like to do please follow this instruction: https://www.techwatching.dev/posts/azure-functions-custom-configuration

Since the deployed Azure Function doesn't need this settings because it automatically extracts, so no code changes as it's served as normal connection string: https://docs.micr

[2021-06-07 06:07] jesperkristensen commented on #6423
Do you have any idea if `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` will support managed identity in the near feature? E.g. if Azure Files will support it or if Azure Functions will move to a storage technology that supports it? It does not improve things much that we now only have one copy of the shared secret instead of two.

Key vault references do not work for us. Key vault references only allo

[2021-06-07 08:59] marc-perreaut commented on #5663
I am experiencing the same issue (old code version still running despite successful deployment) since June 4th and feel stuck:
- Restarting the function has no effect
- Redeploying the function has no effect
- Deploying the code in a new slot has no effect

The issue is random, but the lack (ongoing) occurrence is tough.

I am happy to get a working workaround and any update on this issue.

[2021-06-07 09:51] v-anvari commented on #7393
Cc @brettsam / @fabiocav

[2021-06-07 10:22] v-anvari commented on #6917
Hi @carl-berg / @awatertrevi  , Thank you for your feedback, Can you share the function app details privately so that we can look into the backend logs
[Sharing Your Function App name privately · Azure/azure-functions-host Wiki (github.com)](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)

[2021-06-07 10:48] v-anvari commented on #7432
Hi @TehWardy , I am unable to reproduce the scenario

Repro steps:
1. Take a Http triggered function app
2. Take the url and request a Get request from the Postman

I haven't added anything additional, can you retry the scenario and let us know if you are facing the issue.

![image](https://user-images.githubusercontent.com/66122429/121003708-75864180-c7ab-11eb-9573-9009dd08cd41.png)

![image](htt

[2021-06-07 10:52] v-anvari commented on #7426
Hi @Vidarls , Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-06-07 11:54] v-bbalaiagar commented on #7437
Hi @graemefoster, Thank you for reaching out to us, Checking internally on this issue.

[2021-06-07 12:39] mmulhearn commented on #7430
@zhenyuan0502 thank you.  Didn't even cross my mind that the IDE isn't attaching fast enough.  Thank you for linking.

[2021-06-07 14:22] v-bbalaiagar commented on #7419
Hi @CarlosOnline, Can we know the region to check the back end logs to understand the cause. Meanwhile, we would like to also clone the scenario that you are trying. Could you please provide us the repro steps for the same.

[2021-06-07 15:58] pragnagopa commented on #5902
Breaking change proposal is submitted and approved. Will be sending a PR soon.

[2021-06-07 16:22] paulbatum commented on #6423
@jesperkristensen I'm not aware of any plan to enable identity based connections for SMB mounts in Azure Files (though I am not part of that team). However we are working on some changes and instructions for how to create a function app that doesn't need WEBSITE_CONTENTAZUREFILECONNECTIONSTRING - this would rely on using the run-from-package feature where it points at a package hosted in blob stor

[2021-06-07 16:38] pableess commented on #7393
This same issue has happened to us twice in the last week.  Deleting and re-creating the function app seems to fix the issue for a little while.

We are also not using any custom TelemetryClients or TelemetryConfiguration, only injected ILogger instances.

This is a major critical issue for us.  Our Queue Triggers are not executing and messages are ending up in the Poison queue because of this err

[2021-06-07 16:40] pragnagopa commented on #7437
@v-bbalaiagar - We have information needed to make progress on the issue.

cc @balag0  as FYI

[2021-06-08 01:23] karshinlin opened #7440 "Timer Trigger fails to start when using custom startup"
Timer Trigger listeners will fail to start up if using a custom startup script that adds the AzureWebJobsStorage app setting.

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

1. Create Timer trigger function app with a custom startup.
2. Hardco