[2020-07-15 09:25] sadgit commented on #5599
This is an on-going issue.

The new scale unit needs to be deployed for some time to permit the new load to settle BEFORE it is safe to retire the out-going unit. This then ensures the new unit can seamlessly take over.

This is particularly relevant to our middleware services (serviceBus in: serviceBus out functions)

[2020-07-15 09:34] ModernRonin opened #6557 "Question: Create Functions dynamically"
Hi,

I'm not certain whether this is the right place to ask, if not, please point me to in the right direction.

I find myself in a situation where I create a lot of functions that look like
[code]
or
[code]

As you can see I have already eliminated boilerplate as much as possible. However, because of the need to use attributes to register and bind the functions, I can go no further.

On the other

[2020-07-15 10:25] tbertenshaw commented on #6143
Is it possible to evaluate these `fixes` when debugging locally to see if it resolves my issue with

 I have these versions
[code]

[2020-07-15 10:56] vijaykumarneudesic commented on #3751
We are also facing similar issue. As per recommendation, it seems we should be catching io exceptions. I'm not sure how we can handle exceptions occurred even before function endpoint is executed.

https://github.com/dotnet/aspnetcore/issues/13333

Microsoft.Azure.WebJobs.Host.FunctionInvocationException:
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw (System.Private.CoreLib, V

[2020-07-15 11:04] rajeshr6r opened #6359 "Error: The binding type(s) 'queueTrigger, queue' were not found in the configured extension bundle. Please ensure the type is correct and the correct version of extension bundle is configured."
Hello,

I have started receiving this error just today . I thought I might have an issue and updated the Core Tools and currently running the following .

Azure Functions Core Tools (2.7.2628 Commit hash: 42e149f5313330f1f0a5e721a7e59d9ef7d27e6f)
Function Runtime Version: 2.0.13907.0
Azure VS Code Functions Extension : v0.23.0
Language : Python
Azure Function Type : Queue Trigger

The binding type

[2020-07-15 14:30] brettsam commented on #6349
I was going to suggest a support ticket -- that's the right course of action. Someone will be able to gather all the required data and assist you that way. Thanks!

[2020-07-15 17:11] zanecop commented on #6356
found internal bug causing serialization issues.  could not hit breakpoint for some reason even though serialization bug was mid-way through function body.  issue was not correctly captured in telemetry.

[2020-07-15 17:11] #6356 closed, assigned to ankitkumarr

[2020-07-15 18:51] gzuber opened #6362 "v1.x should not have "master" or "dev" as build branches"
The appveyor.yml shouldn't have "master" or "dev" as build branches because those branches are now for other versions. v1.x is confined to its own branch.

[2020-07-15 20:13] paulbatum commented on #6027
@sidkri I have a feeling that this error is due to:
https://github.com/Azure/azure-functions-servicebus-extension/issues/95

Does that seem likely?

[2020-07-15 20:33] kashimiz commented on #6040
Hi @anuxps, my apologies for the very late reply. Can you provide more information about the environment you're experiencing this issue in, namely:

- Function runtime version
- Durable Functions NuGet package version

Seeing your .csproj file would also be helpful.

[2020-07-15 21:10] sidkri commented on #6027
@paulbatum, the Azure/azure-functions-servicebus-extension#95 is needed to drain messages during graceful shutdown via "IHost.StopAsync()".  It would be related if the errors reported here are happening while the function host is shutting down.
@ThomasArdal / @VamseeInala - could you please check the logs and let us know if this error happens just before the function host stops?

[2020-07-15 21:52] caroe2014 opened #6370 "Error: Did not find any initialized language workers"

[2020-07-15 22:03] paulbatum commented on #6111
You can already override host.json settings through appsettings. Lets assume you want a 10 minute timeout for consumption and a 1hr timeout for the same app in premium. Then:

1. Remove the timeout configuration from host.json
2. For your consumption function apps, add the following appsetting: `AzureFunctionsJobHost__functionTimeout = 00:10:00`
3. For your premium function apps, add the following

[2020-07-15 22:03] #6111 closed, assigned to nobody

[2020-07-15 23:45] kashimiz commented on #6281
Hi @itpropro, my apologies for the delayed response. I was unable to repro the issue using your steps (on PowerShell 6.2, as we no longer support PowerShell 6.0, only 6.2 and 7.0.) Are you still observing the issue when you try this repro on either 6.2/7.0?

[2020-07-16 00:00] kashimiz commented on #6087
Hi @william-thomas, my apologies for the late reply. A `DryIoc.ContainerException` is like a `System.NullReferenceException` in that they have many possible causes. Often it's because of a mix of lifetimes, ex. when an object with a longer lifetime scope holds on to a scoped service and attempts to resolve another service.

Can you provide more detailed repro steps, including code necessary to rep

[2020-07-16 01:00] #5836 closed, assigned to kashimiz

[2020-07-16 05:06] rajeshr6r commented on #6359
Thought of adding the log to this

Azure Functions Core Tools (2.7.2628 Commit hash: 42e149f5313330f1f0a5e721a7e59d9ef7d27e6f)
Function Runtime Version: 2.0.13907.0
AZURE_FUNCTIONS_ENVIRONMENT: Development
[16-07-2020 04:28:16] Building host: startup suppressed: 'False', configuration suppressed: 'False', startup operation id: '525e3cec-a965-4cd1-8201-88b400a8af5f'
[16-07-2020 04:28:17] Reading ho

[2020-07-16 05:09] rajeshr6r commented on #6359
I tried deleting the extension bundle and re-started debugging which forced the bundle to be downloaded again from the Azure Functions CDN and suddenly this error vanished .

I observed that the bundles were last updated on 06-07-2020 ( as per the folder modified date that I saw ) .

If you observe after the Job Host Started step , the error is not there anymore . I'll try running debugging locall

[2020-07-16 10:00] #5888 closed, assigned to ankitkumarr

[2020-07-16 11:35] ThomasArdal commented on #6027
I'm afraid I put an ignore rule on this error a long time ago. Happens over and over again and taking focus from real errors.

[2020-07-16 14:30] floatingfrisbee commented on #6349
@brettsam I've got a thread going with Microsoft Support and so hopefully we'll make some progress on that soon. Thanks for your help so far.

I did have a question for you... in the above SNAT port charts I shared earlier, do you see an issue? I am reading them as "things are generally OK", but if that is inaccurate, I would love to learn. Also, if there is some sort of "health checklist" you wou

[2020-07-16 15:55] fabiocav opened #6371 "Test bug"
Test

[2020-07-16 16:05] fabiocav commented on #6371
Test response

[2020-07-16 16:07] fabiocav commented on #6371
Test response

[2020-07-16 16:14] #6371 closed, assigned to nobody

[2020-07-16 16:15] fabiocav opened #6372 "test request"
#### What problem would the feature you're requesting solve? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

#### Describe the solution you'd like
A clear and concise description of what you want to happen.

#### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've cons

[2020-07-16 16:18] #6372 closed, assigned to brettsam

[2020-07-16 21:41] kashimiz commented on #6165
Hi @yashvardhan90, my apologies for the late reply. It looks like your function app is running on the consumption plan, which enforces an upper limit of 10 minutes on any function invocation's execution time. This is because function executions are (usually) intended to be very short.

For scenarios where you have a process that needs to run for longer periods of time, there are other hosting opti

[2020-07-16 21:41] #6165 closed, assigned to kashimiz

[2020-07-16 21:44] kashimiz commented on #6189
Hi @pradeep-rp, my apologies for the late reply. Are you still experiencing this issue? If so, can you provide us with more information about your function app so we can investigate? Namely:

- Timestamp:
- Function App version:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

If you don't want to share your Function App name or Functions names on GitHub, pleas

[2020-07-16 21:47] kashimiz commented on #6216
Hi @imaadzahmed, my apologies for the late reply. Are you still experiencing this issue? If so, can you provide the following information so we can investigate?

- Timestamp:
- Function App version:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

If you don't want to share your Function App name or Functions names on GitHub, please be sure to provide your Invo

[2020-07-17 00:24] fabiocav commented on #6373
@vfedonkin can you please provide some guidance here? thanks!

[2020-07-17 00:33] vfedonkin commented on #6373
Hi @saikatguha , @fabiocav ,
There is no way to redirect requests based on payload/headers etc. Only method/path available.
Options are: to use full Azure Api Management (no free versions) or to write your own function instead of proxy.
Thank you,
Vitaliy.

[2020-07-17 05:14] kzu opened #6376 "Registering IStartupFilter does not work"
Given this class in a functions app:

[code]

And a `FunctionsStartup`:

[code]

When running the function locally (not sure when deployed), the filter is never called.
Is this supposed to be supported? I've been digging the source here, also the webjobs
sdk as well as asp.net core itself and I can't really tell if it should work or not :/.

Thanks!

[2020-07-17 05:22] kzu commented on #6376
This would also answer https://github.com/Azure/Azure-Functions/issues/1322, I think.

[2020-07-17 07:23] tungdn3 commented on #5240
I also face this issue on a Cosmos trigger function
[code]

[2020-07-17 11:41] garygsscott commented on #5240
@brettsam - Is this being looked into?    A lot of people are experiencing the issue outside of the original Azure Durable Functions sphere and example raised (see above) and the issue is causing data to be dropped?

[2020-07-17 13:36] simov commented on #6348
The issue was caused by me explicitly listing the `functions` inside the `hosts.json` file, but not including the proxy function name there.

Either removing the `functions` key or specifying the proxy function name explicitly solves the issue.

I knew that proxies were essentially functions, but it's easy to overlook that detail [here](https://docs.microsoft.com/en-us/azure/azure-functions/functi

[2020-07-17 13:36] #6348 closed, assigned to nobody

[2020-07-17 18:21] pragnagopa commented on #6309
This is done.

[2020-07-17 18:21] #6309 closed, assigned to pragnagopa

[2020-07-17 18:22] amamounelsayed commented on #6309
Thank you so much @pragnagopa

[2020-07-17 20:50] mhoeger opened #6377 "Update release pipelines: jarvis dashboard and core tools update"
Need to update release pipeline to:
- Update reference to webhost in the core tools earlier
- Add reference to Brett's awesome dashboard on deployments for checking UD health

cc: @yojagad , @brettsam

[2020-07-17 21:27] swervinerv commented on #5014
@brettsam I have been running into issues where the `Activity.Current` is null for one of our Azure Functions projects.  I have also tried creating a new project to replicate the issue but in this new project `Activity.Current` is not null and appears to be working as expected. To try and keep things simple I have the exact test function code below in both projects but am getting different results

[2020-07-17 21:37] brettsam commented on #5014
+@fabiocav

Could you also include your csproj file for the repro project? I'm assuming there's some kind of assembly unification that's happening incorrectly.

[2020-07-17 21:56] swervinerv commented on #5014
Here is the project file for the non-working project. Let know if there is any other information I can provide.
[code]

[2020-07-17 23:07] epomatti opened #6379 "Property hsts is not allowed"
I am trying to add HSTS header to my `hosts.json` but I get this message **"Property hsts is not allowed."**

![image](https://user-images.githubusercontent.com/6530769/87836900-1ef8d780-c868-11ea-9a58-2744fec73f3e.png)

[code]

But [HOST.JSON Bindings documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-output#hostjson-settings) defines those prope

[2020-07-18 01:00] #5694 closed

[2020-07-18 05:59] pradeepsethi commented on #6040
Microsoft.NET.Sdk.Functions v1.0.24
Microsoft.Azure.WebJobs.Extensions.DurableTask v2.2.2

<img width="711" alt="DurableTask" src="https://user-images.githubusercontent.com/502600/87845964-2c43af80-c8c4-11ea-8c25-1f76a290e72f.png">

[2020-07-18 07:34] tomkerkhove commented on #5014
Did you see this locally or in Azure? I saw differences based on OS (see above)

[2020-07-18 14:49] swervinerv commented on #5014
@tomkerkhove I am seeing these results in Azure and both projects are hosted on Windows. When running locally on Windows 10 I am getting a `null` result for `Activity.Current` in both of my projects.

[2020-07-18 18:18] xin9le commented on #6336
I encountered a same problem. Currently, using `IAsyncEnumerable<T>` and `System.Interactive.Async` is unavoidable if we try to write more effective code using modern C#. Of course, we can workaround this issue like following.

[code]

However, `RemoveRuntimeDependencies` build task that speed up the execution of Azure Functions is very attractive. If there're no major problems, I'd like you to re

[2020-07-18 19:00] ghost commented on #6092
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-20 01:00] ghost commented on #6087
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-20 01:00] ghost commented on #6281
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-20 04:00] ghost commented on #6331
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-20 10:13] mark-r-cullen opened #6380 "ValidateDataAnnotations not working"
I am trying to use AddOptions<T>() along with ValidateDataAnnotations(), however the validation doesn't appear to be running at all.

I'm not sure if this is the correct place to raise this issue, so apologies if not, but I did find the last two comments on here are describing the same thing https://github.com/MicrosoftDocs/azure-docs/issues/30814, but the ticket got closed with no resolution (pre

[2020-07-20 11:58] FinVamp1 commented on #6260
For C# Scripts Functions we are recommending that you target .Net Standard 2.0 in the Function.proj.
This ensures that you are generating a .Net Standard 2.0 class library.

If you change the Target Framework to netcoreapp3.1 then you are saying build this Function app as a .Net Core Library.
To do this we also need you to specify the AzureFunctionsVersion so that we are building out the right dep

[2020-07-20 14:37] pragnagopa commented on #6353
Port fix in the related PR.

[2020-07-20 14:37] #6353 closed, assigned to pragnagopa

[2020-07-20 14:43] pragnagopa commented on #6178
PR: https://github.com/Azure-Samples/functions-custom-handlers/pull/12 removes unsupported samples

[2020-07-20 15:43] fabiocav commented on #6380
@mark-r-cullen to clarify, options should be working as documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings), correct?

Can you please share the code you're using for data annotations registration? Also, can you please clarify the expectation here? Are you expecting model validation in the context of a fun

[2020-07-20 15:44] pragnagopa commented on #6178
PR: updating samples to use customHandler section: https://github.com/Azure-Samples/functions-custom-handlers/pull/13

Verified samples locally. Bits are still rolling out. Moving this issue back to Triaged. Will bring it back when prod roll out completes.

[2020-07-20 15:52] fabiocav commented on #6376
@kzu `IStartupFilter` is an ASP.NET specific interface that is not supported in Functions today.

If you're looking for something *like* action filters, the closest thing we currently support is the [Function Filters](https://github.com/Azure/azure-webjobs-sdk/wiki/Function-Filters) capability, which is currently in preview without active planned work.

[2020-07-20 15:59] fabiocav commented on #5274
Apologies for the late reply here.

This capability is actually something that is being rolled out with the current Functions deployment. You can find more information in the PR [here](https://github.com/Azure/azure-functions-host/pull/5991) and in the linked issue.

Thank you for the patience!

[2020-07-20 15:59] #5274 closed

[2020-07-20 16:05] fabiocav commented on #5377
@Anthony-Breneliere custom HTTP formatter registration is not currently supported in Functions.

[2020-07-20 16:05] #5377 closed

[2020-07-20 16:07] fabiocav commented on #5440
@hichamveo apologies for the late response here. Is this something you're still experiencing with the latest version of Azure Functions?

[2020-07-20 16:15] fabiocav commented on #6328
@AnatoliB thank you for transferring the issue over. We'll take a closer look at this to understand if this is something happening in the host if if there's an issue with the Event Grid extension itself. Based on what is described above, this is likely an issue with the extension not properly handling the invoke call made by the portal.

[2020-07-20 16:19] fabiocav commented on #5485
@FinVamp1 marking this as triaged, but we need to discuss as part of the supportability triage meeting.

[2020-07-20 16:21] fabiocav commented on #5536
@CRSnyder apologies for the gap here. Is this something you're still experiencing?

[2020-07-20 16:28] fabiocav commented on #6379
@soninaren we see this commit here fixing the schema file: https://github.com/SchemaStore/schemastore/commit/9d4dc641f6763e9561c3793d1104399e40e801f5#diff-e47d5833465e07185fea991d46eea53f

Would you be able to check if this was correctly published? Looks like the tools are not picking that up. Does everything look correct to you here?

[2020-07-20 18:01] patrickbadley opened #6381 "Azure functions intermittently stop firing (Queue/Blob triggers)"
This is a (near) duplicate of https://github.com/Azure/azure-functions-host/issues/3493 which @paulbatum and @fabiocav said to open a new issue.

I have several azure functions, some are BlobTriggers and some are QueueTriggers.  We are experiencing intermittent issues with both types where every few days, they'll stop picking up new blobs or queue messages.  I've tried several solutions with varyi

[2020-07-20 18:40] pathespe commented on #5240
+1

[2020-07-20 18:52] aliqaryan commented on #5240
I have the same problem while using azure function service bus trigger. it's not happening permanently. it happens once or twice a day and leads to deadlettering my messages.

[2020-07-20 19:21] soninaren commented on #6379
@fabiocav Looks like the schema is incorrect. It needs to be under http-extension. https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/host.json#L122

[2020-07-20 19:36] xzuttz commented on #5240
I've opened an issue and created a PR to fix this temporarily, until the EventHub team chooses what to do.

The PR basically doesn't progress the checkpointer (thus retrying to process the failed event) when internal exceptions such as this occur. It works fine and we're using it in production.

Issue: https://github.com/Azure/azure-functions-eventhubs-extension/issues/66
PR: https://github.com/xz

[2020-07-20 19:40] thelgevold commented on #6027
@sidkri @ThomasArdal @paulbatum I am seeing this error as well on a daily basis.

Based on your comments above I have gone through my logs to correlate the `Cannot access a disposed object. Object name: 'ServiceBusConnection has already been closed` with a prior `Stopping JobHost` event.

In my case these events seem to always occur in tandem, following a pattern where `Stopping JobHost` is called

[2020-07-20 19:49] #6358 closed, assigned to yojagad

[2020-07-20 19:57] mhoeger commented on #6015
@divyagandhii - do you know what the status of this bug is?

[2020-07-20 20:49] sidkri commented on #6027
@thelgevold, thanks for checking your logs and confirming the behavior.  It appears to be a timing/sequence issue during shutdown of the Functions host.  I'll investigate to understand what our options are to avoid this or suppress and report back.

[2020-07-20 21:54] jackbond commented on #4577
@brettsam Sorry for being a pain on this, but it's blocking us a bit. Any news? Thanks.

[2020-07-20 22:00] ghost commented on #6216
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-20 22:00] ghost commented on #6189
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-20 22:32] ahmelsayed opened #6384 "Possible blocking call in the aspnet core initialization path"
While investigating an incident I came across the following behavior.

The dotnet process will start, the host starts logging, but the process takes around 8 or 9 minutes to listen on the http port set in `ASPNETCORE_URLS` env var.

That particular incident involved very high timeouts when trying to access Azure Storage (3 minutes per request), and I'm wondering if something is blocking aspnet cor

[2020-07-20 22:34] espray commented on #4577
@jackbond @brettsam posted some example for working with IOptions/IConfiguration. Do you have a public repro, the community might be able to give some advice. Personally I found i did not need IConfiguration and ILogger in the startup, but in the setup actions

[2020-07-20 22:34] ahmelsayed opened #6385 "Storage errors causes the runtime to crash"
While investigating an incident where the network had very high timeouts when connecting to azure storage (3 minute timeout) The runtime process enters a crash loop with the following exception

[code]

[2020-07-20 23:06] artisticcheese opened #6386 "Getting 'Number of initialized language workers exceeded:2 exceeded maxProcessCount: 1' error"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp:
7/

[2020-07-21 00:07] dpoole73 opened #6387 "Improve error message when publishing a 64 bit function when the app is set to 32 bit in the portal"
We published a function with zip deployment which was built for 64 bit platform.  The function did not work due to an error shown in the portal`System.Private.CoreLib: Could not load file or assembly '<Name>, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null`

We found the error in the logs with the full callstack and still it showed the same message.

Normally you see something like "An attem

[2020-07-21 00:14] soninaren commented on #6386
cc: @pragnagopa

[2020-07-21 00:39] fabiocav commented on #4577
This is still rolling out and available in a few regions. At this point, we expect global deployment to complete by July 31st.

[2020-07-21 01:26] soninaren commented on #6379
Addressed in PR: https://github.com/SchemaStore/schemastore/pull/1152

[2020-07-21 05:28] anthonychu commented on #6251
@pragnagopa @yojagad Revisiting this. I think we should do something to block these requests. Is the following doable?

If `enableForwardingHttpRequest` is `true`, block any call to an HTTP-only function with path matching one of the non-HTTP-only functions. (return status 400 to caller?)

[2020-07-21 05:45] ThomasArdal commented on #5240
Just as info, I experienced this with the Azure ServiceBus bindings and not EventHub 👍

[2020-07-21 06:00] anthonychu opened #6388 "[Custom handlers] Provide a way to inspect custom handler requests and responses"
Log HTTP requests (methods and URLs only) at Debug level.

If possible, when running locally in Core Tools, also log the HTTP request and response payloads (request body, request/response headers).

@pragnagopa @yojagad @fabiocav

[2020-07-21 06:11] liranc opened #6389 "Invalid CRON expression (5 instead of 6) still runs sometimes"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 20

[2020-07-21 08:05] mark-r-cullen commented on #6380
Well, if I leave "Test" out of local.settings.json with the following code I was expecting this to throw some kind of validation exception somewhere (searching suggests it should throw on the .Value), but it does nothing that I can see. To be clear, Options itself is working and if I fill in "Test" in local.settings.json it picks it up, it's just the ValidateDataAnnotations that seems to do nothin

[2020-07-21 09:40] vitalybibikov commented on #6088
Still a case with 3.0.9

[2020-07-21 12:06] ericsampson commented on #4761
@fabiocav how does this address the usecase of calling `AddAzureKeyVault()` in the startup code?

[2020-07-21 12:33] andvas commented on #6380
Possibly same issue as https://github.com/Azure/azure-webjobs-sdk/issues/2522. Mentioned workaround seems to work locally, but you will lose logging on option creation so these lines will no longer be printed
![image](https://user-images.githubusercontent.com/6840985/88058880-c0d03b00-cb6c-11ea-9593-fa7e92965d11.png)

[2020-07-21 13:10] mark-r-cullen commented on #6380
@andvas What version of Functions are you using? I just tried that workaround and it didn't seem to do anything for me.

[2020-07-21 14:21] andvas commented on #6380
@mark-r-cullen I am using [3.0.3](https://github.com/andvas/AzureFunctionsOptionsValidation/blob/687918d91f0fbdaed2e5a9eacead48bbfd024727/AzureFunctionsOptionsValidation/AzureFunctionsOptionsValidation.csproj#L9). Did you try making a request to the endpoint? As this exception will only be thrown on first request not function startup.

[2020-07-21 14:34] mark-r-cullen commented on #6380
@andvas Ok, maybe there is another issue with v2 functions then. This was with making a request to the function (as I didn't expect validation to happen on start up). The workaround didn't seem to do anything, it was exactly the same as before i.e there was no validation exception thrown and the property still just had a default value assigned (null).

[2020-07-21 15:37] pragnagopa opened #6391 "[Backport] Reset Assembly load context when Function Metadata refreshes"
Backport fix for issue #5789 to V2

[2020-07-21 15:43] fabiocav commented on #6391
Did you reference the right PR?

[2020-07-21 15:44] pragnagopa commented on #5789
This issue is hard to repro locally.  One of the common pattern among the logs:
- App starts
- Specialization kicks in too soon for a dotnet precompiled app.
- Startup types are loaded from bundles
- Jobhost restarts
- Startup types need to be loaded from `bin` folder but this throws error as same assemblies are loaded from bundles but with different versions.

[2020-07-21 15:45] pragnagopa commented on #6391
Thanks. Fixed the issue referenced. Typo :)

[2020-07-21 15:54] pragnagopa commented on #6388
Thanks for opening this issue. This is very useful when getting started and also to debug issue.

`Trace` level is more appropriate as Debug logs are for system logs. Also, turning on this log will have perf impact as every invocation will now write invocation payload to the logs.

[2020-07-21 16:12] anthonychu commented on #6388
Yep `Trace` works. Any thoughts on how we can safely do this for the payload without leaking PII and secrets?

[2020-07-21 16:14] pragnagopa commented on #6388
These logs will be logged to user logs and user needs to turn on and turn them off explicitly.

[2020-07-21 16:57] pragnagopa opened #6392 "[CustomHandler] Detectors for custom handlers"
Tracking item to add following detectors:
- Process start up errors
- Any errors when host tries to communicate with custom handler endpoint

cc @anthonychu @fabiocav

[2020-07-21 17:02] fabiocav commented on #6388
Even if those go into AI only, logging the entire request could be potentially problematic. This is something customers can do from the handler if desired.

[2020-07-21 17:16] APIWT commented on #4577
Does this behave identically to adding the following code to our `Configure` method?

[code]

Or is there a difference that I'm overlooking? I understand that it is not ideal to use `BuildServiceProvider` since the underlying host builder will also do this, but I'm curious if doing this as a workaround has any drawbacks.

[2020-07-21 19:36] anthonychu commented on #6388
@fabiocav Is there a safe way to do this when running in core tools? I find it really helpful to see the payload easily when building handlers.

[2020-07-21 19:47] soninaren commented on #6379
Schema store changes are merged now. This should be fixed.

[2020-07-21 19:47] #6379 closed, assigned to soninaren

[2020-07-21 20:16] jtcc-ms opened #6394 "Dependency injection on .netcoreapp 3.1 and AzureFunctionsVersion v3 doesn't work when deployed"
Hello

We're trying to deploy a basic .net core 3.1 app. Dependency injection works when we debug locally, but getting this error when deployed to Azure:
Unable to resolve service for type 'FunctionApp2.ITest' while attempting to activate 'FunctionApp2.Function1'.

Is this a bug or are we doing something wrong?

#### Investigative information

Please provide the following:

- Timestamp:
- Function

[2020-07-21 20:26] epomatti commented on #6379
@soninaren will it be available on the next core tools release? What are the steps that I can take to test it?

[2020-07-21 20:38] #5789 closed, assigned to pragnagopa

[2020-07-21 20:49] fabiocav commented on #6379
@epomatti once merged, those should go live pretty quickly, but for context, this issue shouldn't be blocking. Even if the validation is complaining, as long as you have the correct configuration, the feature should work as expected.

[2020-07-21 20:51] fabiocav commented on #6388
Yes, for local runs, this shouldn't be a problem and it is something we can easily detect.

[2020-07-21 21:19] gzuber commented on #6362
Resolved by #6363

[2020-07-21 21:19] #6362 closed, assigned to gzuber

[2020-07-21 22:00] #6092 closed, assigned to nobody

[2020-07-21 22:30] epomatti commented on #6379
@fabiocav I know it is nonblocking, for both hsts and the custom headers.

I want to make sure it is solved, despite being non-critical it took me some time to find out the problem and finally open the issue.

It would also be nice to close the issues after the release, not prior to it, as it makes it easier for people to find it on the open issues, and it guarantees that whoever wants to test it,

[2020-07-21 23:08] fabiocav commented on #6379
@epomatti good to get confirmation.

The typical flow in the Functions repos is to have issues closed once they're merged into their specific mainline branches. Release announcements and release notes include the list of issues in a given release.

For this particular issue, merging into the schema store site is the actual release, so the issue was indeed closed after that was done. You can see th

[2020-07-22 00:04] pragnagopa commented on #6391
Merged in referenced PR.

[2020-07-22 00:04] #6391 closed, assigned to pragnagopa

[2020-07-22 02:15] fabiocav commented on #4761
@ericsampson the samples posted by @brettsam in the associated issues above show how you can add custom providers at startup. Is that information sufficient?

[2020-07-22 02:54] allenzhang83 commented on #4761
@fabiocav , brettsam posted a number of links. Which one is about custom provider? The SampleStartup.cs file in the link shows how to add an app.settings.json file.

[2020-07-22 02:55] epomatti opened #6397 "Property customHeaders is not allowed"
Continuing the work on #6379 the property `customHeaders` seems to be missing from the schema.

As per [documentation on host.json settings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-output#hostjson-settings) it should be there.

![image](https://user-images.githubusercontent.com/6530769/88128915-3f4ccd00-cbad-11ea-8a3e-91f723c41f9c.png)

I tried search

[2020-07-22 02:57] epomatti commented on #6379
@fabiocav `hsts` was fixed, but `customHeaders` was not. I searched for "customHeders" in the schemastore but it doesn't have any matches.

Let's continue it at #6397.

Not ok for  `customHeaders`

![image](https://user-images.githubusercontent.com/6530769/88128604-b9308680-cbac-11ea-9ad8-e2ef69f1dc53.png)

OK for `hsts`

![image](https://user-images.githubusercontent.com/6530769/88128570-a6b64d00

[2020-07-22 03:03] fabiocav commented on #6379
Sounds good! Thank you for opening a separate issue for that!

[2020-07-22 05:49] fabiocav commented on #5439
Closing as resolved.

[2020-07-22 05:49] #5439 closed

[2020-07-22 05:55] fabiocav commented on #4883
@ahmelsayed @Hazhzeng is this still an issue?

[2020-07-22 05:57] fabiocav commented on #3042
This should no longer be applicable in 2.x/3.x. If you continue to run into problems, please open another issue with the details and we'll investigate.

[2020-07-22 05:57] #3042 closed

[2020-07-22 06:31] takyyon commented on #6255
@fabiocav  Copying the same stuff from our chat offline. I think this is similar to - https://github.com/Azure/azure-functions-host/issues/6254. The ARM APIs should populate the same response as done by the old host runtime API.

[2020-07-22 07:00] ghost commented on #6040
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-22 07:29] ankitkumarr opened #6398 "Add tests for more HttpTrigger scenarios"
We recently had a regression where HttpTrigger functions were throwing exceptions if buffering related operations were done by the function code and "Content Typee" was not set to "application/json".

More info here -- https://github.com/Azure/azure-webjobs-sdk-extensions/issues/655

We need to add tests for these type of scenarios to avoid such issues.

[2020-07-22 09:32] yuri-wisestamp commented on #1451
it's the middle of 2020, and we're still looking for a way to do this.

[2020-07-22 10:00] vitalybibikov opened #6399 "FUNCTIONS_V2_COMPATIBILITY_MODE"
There is no documentation on how exactly FUNCTIONS_V2_COMPATIBILITY_MODE = true works at the moment.
Also, there is no any info on when and in what circumstances it can be deleted for v3.
As currently, without it apps simply does not work in Azure.

[2020-07-22 10:03] kutsyk-neocles commented on #1451
Yeah, it's not like we have 1000's of different ways to monitor code or systems, they have to invent a way to do it, it takes time, even years and thousands of euros to do it

[2020-07-22 13:25] ericsampson commented on #4761
@fabiocav thanks, I was just thrown off by Brett's wording above that made it sound like appsettings files was baked in somehow. When I looked at the code it should work for us :)

Is it ever going to be possible to make it so the user can add code to push parameters from the config back into the Functions host environment so that they work with the scaler (removing the "gotcha" that still exists

[2020-07-22 14:51] phil-marino opened #6400 "Azure Functions in Consumption Plan with Timer Trigger Caused App Service Restart"
- Function App version: 3.0
- Region: East US 2
- Timestamp: 2020-07-22-13:40:00:022
- Invocation ID: 6BE2DE32-473E-4DB1-8308-F0886EE21C74 (next occurrence after a shutdown)
- Language: C#/.Net Core 3.1

We have a function app that leverages both regular and durable functions.  This function app is using a Consumption plan, since most of the functions only run a few times per day.  These are funct

[2020-07-22 16:35] kzu commented on #6376
Would be useful to have links to those sample function filters, otherwise, it's nearly impossible to figure out how they work, how they are registered, etc.

Also, not sure what "without active planned work" means. Will it continue to be available "in preview" (what does that mean? does it work on v3 runtime? do I need to turn something on? is there a preview flag/switch to turn on somehwere?), an

[2020-07-22 16:53] fabiocav commented on #6376
@kzu one of the issues with this feature, and one of the reasons why it is in a preview state, is that it doesn't have a lot of documentation. You can find some examples here: https://github.com/Azure/azure-webjobs-sdk/tree/dev/sample/SampleHost/Filters but there isn't a lot more beyond that (the unit tests there may also be hellpful)

No planned work means that we're not actively improving that f

[2020-07-22 16:53] fabiocav commented on #6376
Closing as answered, but please let me know if you have any additional questions.

[2020-07-22 16:53] #6376 closed, assigned to pragnagopa

[2020-07-22 17:07] mhoeger commented on #6399
Hi @vitalybibikov - This setting is in place as an internal setting to be able to migrate functions v2 apps off of .net core 2.

Whenever you have FUNCTIONS_V2_COMPATIBILITY_MODE enabled, the breaking changes in 3.x are reverted: https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#breaking-changes-between-2x-and-3x

I might be wrong, but this isn't an official setting we want

[2020-07-22 17:21] ankitkumarr commented on #5997
@venkatavijay, I apologize for the long delay here. Is this still happening for you? If so, would you be able to share a repro functions project that I can run and try to repro in my machine? Thanks!

[2020-07-22 17:22] ankitkumarr commented on #6235
@smanjubashini, would you also be able to share a repro for us to run on our end and see what might be failing?

[2020-07-22 17:29] #6253 closed, assigned to pragnagopa

[2020-07-22 17:30] fabiocav commented on #4761
Glad to hear that will work!

That limitation only applicable in consumption today (scenarios where the scale controller communication with the services is required). You set trigger properties in dedicated and premium with runtime driven scaling configured.

[2020-07-22 17:39] kzu commented on #6376
I think the more serious issue is that all the APIs are marked `Obsolete` 👎

![image](https://user-images.githubusercontent.com/169707/88209340-f3d80480-cc28-11ea-901a-ea64ba9108ab.png)

So it's a preview feature that has already been deprecated? Or will the deprecation be lifted when docs are available? (sounds like an unusual way to flag that situation... maybe there should be the opposite attri

[2020-07-22 17:41] fabiocav commented on #6376
That is, unfortunately, the attribute that will be properly handled by the tools/.NET (and when this was introduced). You can interpret that as a preview indication

[2020-07-22 17:57] fabiocav commented on #6399
@mhoeger's comment is correct. This was exposed as a way to unblock migration to 3.0, but should be looked as a temporary solution while you mitigate the underlying issue.

[2020-07-22 17:58] fabiocav commented on #6399
If you can provide more information about the errors you see without the flag, we can provide some guidance on how to address them.

[2020-07-22 18:00] kzu commented on #6376
Cryptic enough, trying to use my filter in an azure function (I don't have a custom host like that sample, this is a plain functions project), results in this error:

[code]

I tried adding `[Singleton]` to the attribute, the function class, but same result every time.

[2020-07-22 18:08] mhoeger commented on #6389
Hi @liranc , one of your issues i think is that you have log sampling enabled (this is enabled by default to keep app insights from being overbilled). you should try disabling log sampling, which can cause missing logs especially in timer trigger scenarios: https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?tabs=cmd#configure-sampling

I also see that you have a few "past

[2020-07-22 19:22] gdodd1977 opened #6402 "Getting sporadic failures to validate EventGridTrigger function webhook during event grid sub creations via ARM"
I've noticed over the past week or so that I've been getting sporadic failures while creating event grid subs via ARM for functions that have EventGridTriggers. We haven't changed anything here in months and my understanding is that EventGridTrigger validation doesn't require any coding to validate like HttpTriggers used to. I'm wondering if there has been a change to the syntax used in ARM for th

[2020-07-22 19:49] soumyaghosh2005 commented on #5590
Do we have an update on this. I am also facing this weird issue.

[2020-07-22 19:55] soumyaghosh2005 commented on #5851
Anyone here in this tread, looking into this with Priority. Its like a dead end. Not sure what is to be done to solve this annoying and weird issue.
Is there any connection with having async call ? My first async call works fine, then the next call to the same object fails, where its again trying to get the service using
using (var scope = _serviceScopeFactory.CreateScope())
            {

[2020-07-22 19:56] soumyaghosh2005 commented on #5590
Anyone here in this tread, looking into this with Priority. Its like a dead end. Not sure what is to be done to solve this annoying and weird issue.
Is there any connection with having async call ? My first async call works fine, then the next call to the same object fails, where its again trying to get the service using
using (var scope = _serviceScopeFactory.CreateScope())
{
return (T)scope.Serv

[2020-07-22 20:06] fabiocav commented on #6377
Assigning correct sprint

[2020-07-22 20:09] fabiocav commented on #6270
Closing as done.

[2020-07-22 20:09] #6270 closed, assigned to pragnagopa

[2020-07-22 20:13] fabiocav commented on #6215
Design in progress. Additional issues capturing the work will be created in sprint 81

[2020-07-22 20:19] fabiocav commented on #5787
Design in progress. Moving to sprint 81

[2020-07-22 20:21] ericsampson commented on #4761
@fabiocav right, but consumption is by far the most important case for us (and probably others too) due to the massive cost savings, we try hard to only run on a fixed plan when there's already an existing one we can piggyback on.
So that's why I was wondering how hard it will be to push trigger properties from the app back into the scale controller. Thanks!

[2020-07-22 20:28] fabiocav opened #6403 "Release V1 for sprint 78"

[2020-07-22 20:51] fabiocav opened #6405 "Handle CDN connectivity issues for bundles downloads in restricted environments"
To handle this correctly we need to do the following:
1. Create a storage account / cdn endpoint with bundle content in the restricted environments
2. Update the Geo Master to use the correct cdn endpoint for the templates API.
3. Update runtime / Antares environment set the CDN endpoint based according to the environment for bundle download scenarios.

[2020-07-22 21:01] fabiocav opened #6404 "Handle CDN connectivity issues for bundles downloads in restricted environments"
To handle this correctly we need to do the following:
1. Create a storage account / cdn endpoint with bundle content in the restricted environments
2. Update the Geo Master to use the correct cdn endpoint for the templates API.
3. Update runtime / Antares environment set the CDN endpoint based according to the environment for bundle download scenarios.

[2020-07-22 22:04] ankitkumarr commented on #6209
Closed by https://github.com/projectkudu/kudu/commit/5e7f206050e0ec218e5acb9095ee7e62be562ede

[2020-07-22 22:04] #6209 closed, assigned to ankitkumarr

[2020-07-22 22:38] fabiocav commented on #4761
There are some challenges with that,

One (of many) is that there is no app running to push the secrets to the controller in consumption (scale to and from 0 is what gives you the consumption based billing model), and we cannot guarantee that running at deployment will give us a stable set of secrets that will not change for the life of a deployment. This also means the infrastructure will need to

[2020-07-22 22:50] ankitkumarr commented on #6086
I apologize for the delay. I talked to our internal platform team, and it seems that this is a known bug that is fixed and expected to roll out in the next month. (release number for internal reference - ANT89)

I will leave this as open until it's rolled out.

[2020-07-22 23:59] jabbera commented on #5439
Is this available in a released v3 version?!?!?? I’m doing my happy dance.

[2020-07-23 00:02] jabbera commented on #5854
Hi! Any progress on this?

[2020-07-23 00:38] ericsampson commented on #4761
@fabiocav thanks yeah I get it. I'm glad it's being thought about. Cheers

[2020-07-23 00:54] yojagad commented on #6276
@lakshmanav I haven't seen this happening since 07/02. Did you manage to fix whatever was causing the timeout to not be picked up ?

[2020-07-23 01:18] yojagad commented on #6021
Apologies for the late response. We're trying to investigate this, can you log the context object (JSON.stringify(context)) and provide us with what it looks like when called directly vs when called through APIM , please ?

[2020-07-23 04:00] #6087 closed, assigned to kashimiz

[2020-07-23 04:00] #6281 closed, assigned to kashimiz

[2020-07-23 05:08] myarotskaya opened #6406 "`Microsoft.Azure.WebJobs.Extensions.ServiceBus` package v3.* and v4.* compatibility issue"
**Azure Functions Runtime:** v3

**Language:** C#

**Setup:**
- There is a message in the Service Bus topic that was sent by Azure Function output collector with `Microsoft.Azure.WebJobs.Extensions.ServiceBus` package v3.* installed
- There is Azure Function App with a ServiceBus triggered function with `Microsoft.Azure.WebJobs.Extensions.ServiceBus` package v4.* installed

**Expected Behavior:**

[2020-07-23 05:48] masaab commented on #5216
I was missing an await keyword for my method. Make sure all your async methods contain await keyword.

[2020-07-23 06:26] chrisseroka commented on #6027
I can observe the behavior while running app in Service Fabric

[2020-07-23 06:45] balag0 commented on #2808
closing stale issue.

[2020-07-23 06:45] #2808 closed

[2020-07-23 06:46] balag0 opened #6407 "Linux consumption cold start improvements"
Creating this task to track different cold start optimizations specifically for Linux consumption sku

[2020-07-23 07:00] #6331 closed, assigned to nobody

[2020-07-23 07:10] ByMitta commented on #5014
I encountered the same issue where Activity.Current is null. When I downgrade the `System.Diagnostics.DiagnosticSource` package from 4.7.1 to 4.6.0. It wasn't null and it worked for me. I did this explicitly in my project file.

[code]

The `<NoWarn>` is there because other packages depend on the newer version in other projects

Can somebody else try this and see if it fixes it for them?

[2020-07-23 10:50] liranc commented on #6389
Hi @mhoeger , thanks for your quick reply!
I've disabled log sampling as you've suggested but the issue remains.
Below is that "new" count metric (the new function was deployed a couple of minutes after 8AM UTC, when the first "spikes" start).
There are missing activations between 8:40AM - 9:13AM and again from 9:40AM until 10:43AM.
The timestamp of the last activation seen here is: 2020-07-23T10:

[2020-07-23 17:08] jtcc-ms commented on #6394
Can someone take a look?

[2020-07-23 17:29] yojagad commented on #6394
I'm taking a look at this. Will get back to you soon.

[2020-07-23 18:30] yojagad commented on #6394
@jtcc-ms I followed the exact same code that you posted but couldn't get a repro. Can you follow the template and share your function app details so that we can take a further look at this ?

[2020-07-23 18:33] yojagad commented on #6084
@haseebahmed7 Apologies for letting this fall through. If this is still an issue, can you share the invite again so that I can take a further look at this, please ?

[2020-07-23 19:19] jtcc-ms commented on #6394
Thanks @yojagad, I've updated the original description.

[2020-07-23 19:56] yojagad commented on #6394
I'm looking at the logs. The app failed to start up properly due to an error with WEBSITE_RUN_FROM_PACKAGE. I'm curious, how did you deploy this to your function app ? I used visual studio in my attempt to repro this.

[2020-07-23 20:02] jtcc-ms commented on #6394
I published it from Visual Studio 2019 by right-clicking on the project and selecting "Publish".

[2020-07-23 20:06] jtcc-ms commented on #6394
I just recreated a new publish profile and unchecking the "Run from package file (recommended)" option. Deployed and it worked. So it looks like the problem stems from running the app from a package file.

[2020-07-23 20:25] jtcc-ms commented on #6394
Actually, looks like the problem occurs when it's deployed as a self-contained app.

[2020-07-23 22:19] mufia001 commented on #5421
Hi,

I am having the same issue when upgrading from .netcore 2.1 to 3.1. Were you able to find any solution?

[2020-07-23 22:19] soninaren commented on #6404
Looks like something went wrong in the transfer. Closing this one as dup of #6405
There was one opened in core tools Which i transferred here. Was that on purpose?

[2020-07-23 22:19] #6404 closed, assigned to soninaren

[2020-07-23 22:19] yojagad commented on #6394
I don't think this is supported today, and ideally this option needs to be hidden while publishing from visual studio. Opened an issue for the same. Feel free to reopen / post a new issue if you need anything else.

[2020-07-23 22:19] #6394 closed, assigned to yojagad

[2020-07-23 22:23] hamzahamidi commented on #5421
I solved this problem by increasing the startupTimeLimit  [check this post](https://stackoverflow.com/questions/60847547/net-core-3-1-on-azure-web-sites-500-37-ancm-failed-to-start-within-startup-tim)

    <?xml version="1.0"?>
    <configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
      <location>
        <system.webServer>
          <aspNetCore xdt:Transform="SetAttr

[2020-07-24 00:28] mhoeger commented on #6389
@liranc - looking at your logs, it looks like our scaler isn't doing what it's supposed to be doing (keeping an instance alive) because: "'*/5 * * * *' is an invalid crontab expression. It must contain 6 components of a schedule in the sequence of seconds, minutes, hours, days, months, and days of week."

I'm not sure why your function sometimes runs though! We'll look into that. In the meantime,

[2020-07-24 00:30] mhoeger commented on #6325
@anthonychu - are you the right person to help address a doc enhancement for c#?

[2020-07-24 00:39] anthonychu commented on #6325
@fabiocav what’s the guidance here?

[2020-07-24 01:00] #6216 closed, assigned to kashimiz

[2020-07-24 01:00] #6189 closed, assigned to kashimiz

[2020-07-24 04:56] mitchdenny opened #6409 "ArgumentException from function app (from within Application Insights)"
We have an Azure Functions app (.NET Core) which suddenly started experiencing issues on one of the hosts for the function. The exception was an ```ArgumentException``` originating from within ApplicationInsights (see link below). It bubbled up to our call site (also see link below). This has been working file for months, I don't know why it suddenly started failing, and even then only on a specif

[2020-07-24 09:15] FinVamp1 commented on #6260
Dependency resolution for CSX will target .NET Standard 2.0. For netcoreapp3.1, the recommendation is to use precompiled projects.

[2020-07-24 09:15] #6260 closed, assigned to brettsam

[2020-07-24 09:53] johannesoenema commented on #5014
We have the same problem as described by @ByMitta and I made a simple repro of the issue. We use `EFCore.BulkExtensions` which has a dependency on version `4.7.1` of `System.Diagnostics.DiagnosticSource` and because of that `Activity.Current`  isn't working anymore. See repro here: [https://github.com/johannesoenema/ActivityIssue](https://github.com/johannesoenema/ActivityIssue)

Also very weird,

[2020-07-24 10:30] liranc commented on #6389
@mhoeger seems like it sorted it out, thanks!

![image](https://user-images.githubusercontent.com/1437075/88382781-d8e4cc00-cdb1-11ea-8946-d1214feafbac.png)

[2020-07-24 11:38] ishepherd commented on #1451
I think it's as per @paulbatum https://github.com/Azure/azure-functions-host/issues/1451#issuecomment-534666096: "Memory usage of a function execution" has nothing to do with Azure Functions billing.

You might find out somehow with profiling but it will not help predict the bill.

[2020-07-24 11:49] vitalybibikov commented on #6399
I've found out that it fails only in Azure.
And it fails for all Commands(POST,PuT,etc) functions due to the fact that I'm deserializing model out of request myself (currently out-of the box deserialization does not handle Enums/Lists/etc) properly.

Error in AppInsights:

[code]

And it fails in **prod** on this code

[code]

After adding some logging, I can see that HttpRequest Body Length is 0

[2020-07-24 12:32] hermesramos commented on #4761
@fabiocav is the brand new Azure Functions' appsettings.json deployed to production? Can we start using it already?

[2020-07-24 14:56] KarFan-FS commented on #3543
I can confirm that this is still happening.
OS: Windows10, AFunc Lang: Python (3.7.4)

ETA on fix, devs?

[2020-07-24 15:05] 01010100010100100100100101000111 commented on #1451
I hope I am not misinterpreting what you are saying, but Memory usage and Time are the two metrics used for pricing no?

So let's say I build a Function to do texture packing.

One request could be to pack 2 textures, another could be for 100 textures, they are going to take vastly different times to complete.

With things the way they are now and what Azure support has suggested, is to setup a Fu

[2020-07-24 19:00] ghost commented on #5536
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-24 19:00] ghost commented on #5440
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-24 22:00] ghost commented on #6244
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-24 22:00] ghost commented on #6156
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-24 22:00] ghost commented on #6033
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-25 00:38] jabbera opened #6413 "Interop with Application Insights SDK option"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#

#### Question
What, specifically, does this option do? I have some custom dependency tracking in my function that doesn't seem to be working. Will enabling this option solve it?

[2020-07-25 01:37] mufia001 commented on #5421
Thanks for the suggestion, hamzahamidi. I tried extending the time limit, but the IIS throws 500.19 error. It works fine in my local environment in visual studio. It only occurs when i deploy the application in IIS Hosting server.

[2020-07-25 03:31] #6370 closed, assigned to madelinegordon

[2020-07-25 07:35] rati3l opened #6417 "Azure Function '_mysql' is not defined Python3.8"
#### Check for a solution in the Azure portal
I'm trying to create some Python3 Azure MySQL jobs in azure functions using SQL Alchemy.

Function runs locally with func start without a problem.
It's in fresh venv, on fresh Linux VM to exclude any possible package dependencies.
Deploying to Azure via `func azure functionapp publish {app_name} --build remote` without any problems. But upon calling th

[2020-07-25 10:00] #6040 closed, assigned to kashimiz

[2020-07-25 10:47] hamzahamidi commented on #5421
@mufia001 HTTP Error 500.19 occurs because the ApplicationHost.config file or the Web.config file contains a malformed XML element. Can you share your config here ?

[2020-07-25 14:22] afillatre opened #6418 "Impossible to exclude `node_modules/.cache` from watch"
I'm trying to run e2e tests with in-memory database on local functions, but for each request done to the database, a change is done in the `node_modules/.cache` folder, and the function is restarted... so does the in-memory database.

In order to solve this issue I would "only" need to exclude the `.cache` folder from the watchlist, but looking at the `azure-functions-host` code, I see this is har

[2020-07-26 01:12] lucavgobbi commented on #5894
The current implementation enables full cleanup or no cleanup using _FunctionsSkipCleanOutput.

I think it would be viable to use the ../obj/project.assets.json file to exclude any DLLs that are listed under the dependencies key from being removed.

What do you think?

[2020-07-26 08:45] miqm commented on #5894
For me the problem was that Microsoft forgot (sic!) to publish updated runtime dependencies list (see https://github.com/Azure/azure-functions-vs-build-sdk/issues/422) when aspnetcore3.1 was released.

As Azure Functions run on aspnet core and our DLL is part of that executable, some dependencies would need to be aligned. However the challenge here is to keep host assemblies and build sdk assembly

[2020-07-26 14:53] Berndinox opened #6419 "Version Issue"
Startet an  Function from HTTP Template as suggested in azure from local Development.
I do use VS Code (newest Version) + installed the required Tools.

Local Function is v2, Azure is configured for v3.
Template does not run:
http://myURL.com/api/testfunctionm - `Function host is not running.`

i exactly followed those steps:
![image](https://user-images.githubusercontent.com/1122698/88482280-901f

[2020-07-26 19:00] ghost commented on #6235
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-26 19:00] ghost commented on #6039
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-26 19:00] ghost commented on #5997
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-27 01:00] ghost commented on #6276
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-27 04:00] ghost commented on #6021
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-27 08:45] TarasGolodnyuk commented on #5968
I also have this issue,

host.json
`"serviceBus": {
    "autoRenewTimeout": "00:08:00",
    "prefetchCount": 0,
    "maxConcurrentCalls": 8
  }`

In logs:
`ServiceBusOptions
{
  "MessageHandlerOptions": {
    "AutoComplete": true,
    "MaxAutoRenewDuration": "00:05:00",
    "MaxConcurrentCalls": 16
  }
}`

I don't use startup.cs like @ivan-sam

[2020-07-27 15:50] fabiocav commented on #5823
I believe Azure Monitor is the recommended path moving forward. Azure Functions emits the logs to Azure Monitor and you can setup different sinks/providers there.

@brettsam and @apawast for visibility on docs requirement and to comment if needed.

[2020-07-27 16:04] IGx89 commented on #5823
In case another customer scenario helps, we needed to use another logging service due to enterprise requirements for all logs to be sent to Splunk. We accomplished that by writing a custom Splunk ILogger provider and configuring our function apps (and web apps) to use it like so:

[code]
It does look like there's a way to get logs streamed from Azure Monitor to Splunk as well, but we haven't inves

[2020-07-27 16:34] fabiocav commented on #5823
Indeed, that works, but the reason why Azure Monitor is the recommended way to integrate is because that will work for all supported languages, while the approach above only works for .NET (or requires the introduction of a .NET Extension)

[2020-07-27 17:13] mufia001 commented on #5421
@hamzahamidi The error occurred because of additional

`<aspNetCorexdt:Transform="SetAttributes(startupTimeLimit)" startupTimeLimit="300">`

in the code. For some reason, The IIS Hosting server doesn't recognize the aspNetCore attribute in web.config. This is a silly problem, because only DevOps have access to the Production Test server which leaves me with a very little insight.

Also, when the a

[2020-07-27 18:46] Mike-Becatti opened #6421 "Reimplement ability to use Microsoft's HealthCheck library in 3.x version of azure functions."
#### What problem would the feature you're requesting solve? Please describe.
I would like to implement Health Checks using the Microsoft.Extensions.Diagnostics.HealthChecks library like in 2.x.

Current error message when implementing Health Checks:
`A host error has occurred during startup operation 'd582e85f-d970-4653-abc2-4905d0424c17'.
[7/27/2020 6:43:11 PM] func: Invalid host services. Micro

[2020-07-27 19:00] ghost commented on #6084
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-27 19:03] hamzahamidi commented on #5421
Remove `xdt:Transform="SetAttributes(startupTimeLimit)"` and only leave the `startupTimeLimit` parameter
[code]

[2020-07-27 20:33] mufia001 commented on #5421
@hamzahamidi thanks for correcting me. I update my web.config. The time limit is increased to 300 seconds
`HTTP Error 500.37 - ANCM Failed to Start Within Startup Time Limit
Common solutions to this issue:
ANCM failed to start after 300000 milliseconds`

but the error is not gone. Another follow up question, I updated my Startup.cs to use

`app.UseRouting();
app.UseEndpoints`

because the
`routes.

[2020-07-27 21:37] miqm opened #6422 "Azure B2C new UserFlows with error callback"
#### What problem would the feature you're requesting solve? Please describe.
Hello,

I've been recently connecting Azure B2C to FunctionApp Authenthication.

I wanted to use a preview version of SignInV2 (looks nicer) but there's a major problem with Password reset built in there.

From what I found out, instead like in SignInV1 redirecting to a built-in password-reset flow it calls back the appl

[2020-07-27 22:00] #5536 closed

[2020-07-27 22:00] #5440 closed

[2020-07-28 01:00] #6244 closed, assigned to mhoeger

[2020-07-28 01:00] #6156 closed, assigned to mhoeger

[2020-07-28 01:00] #6033 closed, assigned to mhoeger

[2020-07-28 01:09] ishepherd commented on #1451
@01010100010100100100100101000111 that's my understanding - it's basically impossible.

For Consumption Plan it seems, the time component of billing is serverless, but the memory component is not. It's the memory used by the server (server process), which might be running many functions, or just one.

The other plans resolve this confusion but unfortunately in the wrong direction - you are simply

[2020-07-28 02:10] AartBluestoke commented on #6247
if you use an app service host, rather than a consumption plan, you can set the timeout to as many hours as you want (or "never timeout", but i wouldn't recommend that as you want to recover from a hung process eventually)

[2020-07-28 04:00] GustavoAmerico commented on #4263
[See this doc](https://docs.microsoft.com/pt-br/azure/azure-monitor/app/telemetry-channels#configuration-in-code-for-aspnet-core-applications).
it's worked for me.

[2020-07-28 04:31] pedromvgomes commented on #5796
I confirm the same. I've bumped into this issue while using version 3.0.9 of Microsoft.NET.Sdk.Functions. Changing to 3.0.2 get's it fixed.

Wondering when or if it will be fixed.

[2020-07-28 07:12] takyyon commented on #6255
@fabiocav Okayy no, I looked more into this and seems like this is different actually. For example in cases when runtime is broken, API calls such as `listKeys` fails with message, `Encountered an error from host runtime`. I think the ask was to bubble up the runtime errors to show a detailed message instead of this generic message.

[2020-07-28 07:58] RainWuGuy commented on #6156
This is the Azure latest release bug and be fixed bu the support, thanks a lot.

[2020-07-28 09:10] dedreira opened #6423 "Storage Binding using Managed Identity instead of ConnectionString?"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
All
#### Question
Hi! Is there a possibility to use a blob storage binding against a blob storage using the Managed Service Identity of the Azure Function? I'm checking the documentation and there are only examples of defining the binding usi

[2020-07-28 09:59] older commented on #4263
@GustavoAmerico This is workaround, but ideally you shouldn't be doing it yourself in azure functions, as telemetry configuration is done by azure functions host for you.

[2020-07-28 12:56] garygsscott commented on #5240
-1 for me issue turned out to be connected with the creation of multiple Telemetry Clients for auditing/logging reasons and a serious memory leak caused as a result.    As soon as we removed the Telemetry Client code the issue disappeared (ours was in conjunction with a System.OutOfMemory error however please note).    Anyway these are details as our issue is not really connected with the above.

[2020-07-28 16:50] mhoeger commented on #4263
+@Hazhzeng and @vrdmr for error with application insights on linux workers

[2020-07-28 17:26] ThomasArdal commented on #5240
A quick comment. Happy to hear that you resolved the issue by removing the Telemetry Client. I don't have that installed, why the error is definitely still there. Could be another feature causing a similar problem, of course.

[2020-07-28 19:43] saikatguha commented on #6373
I understand this feature does not currently exist. I also agree redirecting based on request headers should not be a feature (slippery slope to complexity).

That being said, what about a feature for IP address range allow/disallow for proxies?
(Would be great for security too!)

Well-known crawlers like Google/Facebook issue crawl request from fixed IP ranges. The user can configure their proxie

[2020-07-28 20:02] mhoeger commented on #6325
Chatted with @fabiocav about this -

The point of the guidance is to avoid holding more connections than necessary, reuse client instances rather than creating new ones with each function invocation, so yes it's ok to use `AddHttpClient` as long as this principal holds true (like you said @APIWT).

@fabiocav - I see in the [ASP.NET docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/ht

[2020-07-28 21:36] ziadakiki opened #6424 "FunctionsStartup not being called, services unresolvable"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I know this question has been asked too many times but I tried all the steps and the startup is still not being called.
I have the following versions:
- ASP.NET Core 3.1
- Azure Functions v3
- Microsoft.NET.Sdk.Functions v3.

[2020-07-28 22:42] ankitkumarr commented on #6418
@mhoeger, do you have any suggestion for this?

Do we suggest users to not publish `node_modules/.cache` along with their app?

[2020-07-28 22:45] afillatre commented on #6418
@ankitkumarr since its during e2e tests (executed locally), I'm not publishing this folder (or maybe it should be excluded somewhere in the configuration ?)

[2020-07-28 22:46] ankitkumarr commented on #5846
Hi @koenj, I apologize, I missed this issue and am getting back to you so late.

Is this something  you are still facing? If so, are you able to share a more recent timestamp for me to see on our end?

[2020-07-28 22:49] ankitkumarr commented on #6418
I see. If it's for local e2e testing, do you require that directory? What if you have a step in your test process to manually delete the `node_modules/.cache` to help unblock you, while we figure out the best recommendation?

[2020-07-29 01:07] channeladam commented on #5968
Having a similar issue, using startup.
Possibly related to https://github.com/Azure/azure-functions-host/issues/4363 (which is also affecting me)?

[2020-07-29 02:48] channeladam commented on #4363
Confirmed what @andrewdmoreno says - works with any value but an empty string.

[2020-07-29 03:43] jwisener opened #6425 "Azure Functions just started breaking."
We had an azure function we created by hand, inside the azure function app instance (aka inside the portal). This morning around 7/27/2020 4:00 PM'ish CST, the function started breaking, no code change has been done to the function. The function app does use the extension per the documentation provided by microsoft. I think the Controller (azure function code) must have changed. Because, or azure

[2020-07-29 05:08] fabiocav commented on #6399
You can have the request and the model at the same time. All you need to to is apply the trigger attribute to the POCO parameter, while also having a parameter that takes an `HttpRequest`

[2020-07-29 05:12] fabiocav commented on #6137
Those instance bounds define the maximum number of instances you'll be scaling out to, so the setting is not needed.

[2020-07-29 05:12] fabiocav commented on #6137
Did you find an issue with the settings above?

[2020-07-29 05:20] fabiocav commented on #6425
Can you please provide the `host.json` and the information requested in the template above so we can take a closer look here? Thanks!

[2020-07-29 06:24] afillatre commented on #6418
It’s actually the in-memory database that uses this folder to track things. I was able to configure this component to make it use another folder, but I need to manually clean up, then, which is not ideal

[2020-07-29 09:37] ishepherd commented on #6137
@fabiocav The top 2 settings are for plan scaling right?

We are building an app that shouldn't be scaled out to the entire plan (it will hammer downstream systems).

Does `WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT` still work on Premium Plan? Is it reliable? [Still says preview](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_max_dynamic_application_scale_out

[2020-07-29 10:42] vitalybibikov commented on #6399
As I mentioned above:
It does not work.

Does not work:
[code]

Works fine:
[code]

And it's another issue from that one that I mentioned in the first place.

[2020-07-29 10:44] v-anvari commented on #6419
Http template is working as expected when tried to repro from our end. Considering the two different versions of functions in the local function and azure, will not allow function to deploy to the azure with a different version.

By default, core tools download with version 3. To equalize the versions, you can choose either of the two ways:
1.	To change the version of azure locally, install the co

[2020-07-29 12:37] jwisener commented on #6425
@fabiocav  I updated the original post to include as much in the requested template.

Here is the host.json

[code]

[2020-07-29 13:34] JohnPelaschier commented on #5405
Having this issue and setting FUNCTIONS_V2_COMPATIBILITY_MODE does not help for me. Runs fine locally but nothing works when deployed to Azure. Am I missing something?

[2020-07-29 15:42] fabiocav commented on #6324
There are a few ways to disable a function based on environment values that I believe would meet your requirement. Those are both documented here: https://docs.microsoft.com/en-us/azure/azure-functions/disable-function

The first approach, is based on an app setting following the format `AzureWebJobs.<FUNCTION_NAME>.Disabled`, which you can manage as described in the docs.

The other, is by using

[2020-07-29 15:42] #6324 closed, assigned to nobody

[2020-07-29 15:55] fabiocav commented on #6425
@jwisener we were unable to locate the function app `test-url-shortner`, is that the correct name?

Even without that information, the `host.json` file shared above does provide some clues about that might be happening here. Your function, based on the stack above, an as expected by default in CSX, is binding to the version of the Storage SDK supported by the previous version of the binding, but l

[2020-07-29 15:57] fabiocav commented on #6425
Closing as answered.

@soninaren , this feels like a good candidate for a detector so this information is visible in the portal.

[2020-07-29 16:08] fabiocav commented on #6310
Closing this as answered based on the information above, but please let us know if you have additional questions.

[2020-07-29 16:08] #6310 closed, assigned to balag0

[2020-07-29 16:11] fabiocav commented on #6399
Can you please provide a repro do demonstrate your issue?

`RequestBodyType` is not supported in Azure Functions. In order to bind to the request and the model (POCO), you need to follow the approach I've described above. Does that work for you? In addition to `HttpRequest`, the request parameter may also use `HttpRequestMessage` (this is to provide backwards compatibility)

[2020-07-29 16:17] fabiocav commented on #4179
@zmarty are you still experiencing this? Closing as resolved since there wasn't a follow up, but please let us know if you're still having problems.

Thanks!

[2020-07-29 16:17] #4179 closed

[2020-07-29 16:20] fabiocav commented on #5216
Closing as resolved.

[2020-07-29 16:20] #5216 closed

[2020-07-29 16:22] fabiocav commented on #4465
Closing as resolved. Please let us know if any additional information is needed.

[2020-07-29 16:22] #4465 closed

[2020-07-29 16:25] fabiocav commented on #4855
Closing this as resolved/answered, but please let us know if you need any additional information.

[2020-07-29 16:25] #4855 closed

[2020-07-29 16:26] fabiocav commented on #4532
@raskhdb , apologies for the delayed response here. Is this something you're still experiencing?

[2020-07-29 16:30] fabiocav commented on #6158
Following up with @gzuber for an update. Apologies for the delay.

[2020-07-29 17:01] ziadakiki commented on #6424
![image](https://user-images.githubusercontent.com/26720980/88830020-10021580-d1d6-11ea-86a4-4e232b128330.png)
I used the configure here, it broke the project by creating a file in the Properties folder. When removing it, the project worked back again.
In my case, it should stay "unconfigured" in order for the DI to work.

[2020-07-29 17:01] #6424 closed, assigned to mhoeger

[2020-07-29 17:03] mathewc commented on #6254
I just did a simple test myself in production for my app. I made my host.json file unparsable, and verified that both the portal and the ARM API return the error. So I'm not seeing a problem here. Can you guys give me some repro steps for the issue you're seeing?

[2020-07-29 17:27] lostmsu opened #6476 "LogError does not emit exception details in Azure Function"
I am using injected `ILogger log` as follows in my Azure Function:

[code]

When I open the function in Azure Portal, and switch to "Code + Test", when this line hits all I get in the "Logs" is

[code]

E.g. no exception message and stack trace do not actually appear in the log.

#### Repro steps

1. Create an Azure Function 3.0 with C#, that receives `ILogger log`

2. Throw and catch an exception

[2020-07-29 17:33] William-Froelich commented on #5545
How do you suppress this warning? Our build environment treats all warnings as errors, so this is a bit of a pain point.

[2020-07-29 18:39] Dzoukr commented on #6324
Hi @fabiocav thanks for comment. I am not sure current functionality is sufficient. What I looking for is opt-in mechanism for enabling. In other words, if I set `[Disabled("notexisting")]` and key is not present at all, is function disabled or not? If not, that's opt-out which is dangerous for deploying same functionality to different stages.

That's why I wanted to have Enabled attribute.

[2020-07-29 19:03] gl4eqen commented on #5545
@William-Froelich We have moved to .NET Core 3.1 months ago. Sorry.

[2020-07-29 19:08] William-Froelich commented on #5545
Yeah, we're working on that too but our function apps are stuck on 2.2 from another issue with the azure functions library.

[2020-07-29 20:20] luckerby opened #6426 "Connect-EXOPSSession Unavailable in Azure Functions"
Azure CloudShell has been offering for some time now the [ability ](https://techcommunity.microsoft.com/t5/itops-talk-blog/powershell-basics-want-to-use-exchange-online-in-azure-cloud/ba-p/544074)of using Connect-EXOPSSession, without importing any module manually.

However trying to use the Connect-EXOPSSession cmdlet within an Azure Function results in the error below. Is there anything extra re

[2020-07-29 20:52] jwisener commented on #6425
@fabiocav I had already tried changing that, that was first thing we tried when attempting to fix production. There is still a 500 error even after changing it. But, I can't find any logging information for the 500 error and I can't get any invocationid, I have an invocationid of a success (because I had to comment out the binding) it is:

f7123d49-e201-4e69-8fcc-808c1b1fb912

I have put the bindi

[2020-07-29 20:58] fabiocav commented on #6324
I see. There are some options you could potentially follow with the configuration sources that would give you ability to dynamically enable functions, but one approach that exists today, although not recommended (in favor of what I've shared above) when running on Azure is the `functions` list in configuration/host.json: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#fu

[2020-07-29 21:08] jwisener commented on #6425
@fabiocav I can email you log file, I think it may have more information it.

[2020-07-29 21:10] soninaren commented on #6425
@jwisener can you restart the function app after changing the host file.  Sometimes you get assembly already loaded exception, it should be fixed in the next runtime release.

[2020-07-29 21:12] jwisener commented on #6425
@fabiocav , @soninaren yes, I did that. Completely stopped it and restarted it. Here is a snippet of the log i've XXX out parts that seemed "private".

.................................................................
2020-07-29T20:58:29.197 [Error] Error indexing method 'Functions.Bounce' Microsoft.Azure.WebJobs.Host.Indexers.FunctionIndexingException : Error indexing method 'Functions.Bounce' --

[2020-07-29 21:17] ChristopherL-STCU commented on #5206
I have found it very challenging to determine the cause and the details of errors which occur during Startup when the Function App is running on Azure. I'm not finding the information anywhere. It would be great if logging could be supported in Startup so that this information could be captured. Perhaps I haven't found the right piece of documentation and so I'm missing an important piece of infor

[2020-07-29 21:43] fabiocav commented on #6425
@soninaren can you please follow up here, the bundle version explains the issue, but if the version range was updated to the default, we shouldn't be binding to 2.0

[2020-07-29 22:00] #6235 closed, assigned to ankitkumarr

[2020-07-29 22:00] #5997 closed, assigned to ankitkumarr

[2020-07-29 22:00] #6039 closed, assigned to ankitkumarr

[2020-07-29 23:17] pragnagopa opened #6427 "FUNCTIONS_WORKER_DIRECTORY env variable not available after specialization"
cc @yojagad  - current release owner, @fabiocav  - for visibilty

@amamounelsayed fyi

Commit: https://github.com/Azure/azure-functions-host/commit/24dc6a7f63a3dc754337c62f4777a38132650b2b added new enviornment variable when starting langauge worker process.

But environment variables are reset after specialization by the Java worker process.

[2020-07-29 23:18] pragnagopa commented on #6427
@fabiocav - this needs a hotfix. Any labels i should add to this issue? also which sprint this should be assigned to?

[2020-07-29 23:31] fabiocav commented on #6427
We can just link this to the release item.

No other specific labels to track.

[2020-07-29 23:42] pragnagopa commented on #6427
Java worker improvement work item: https://github.com/Azure/azure-functions-java-worker/issues/392

[2020-07-29 23:43] pragnagopa opened #6429 "[V2Port]Set Functions_Worker_Directory during specialization"
Port fix for https://github.com/Azure/azure-functions-host/issues/6427

[2020-07-29 23:58] fabiocav opened #6431 "Provide a mechanism for extensions set additional file extensions to be watched"
We need a mechanism to enable extension loaded into the host to define custom extensions that need to be processed by the file monitoring service.

[2020-07-30 00:16] fabiocav commented on #6425
@jwisener can you confirm you're also unable to compile your Function?

How are you referencing the storage SDK?

[2020-07-30 00:18] fabiocav commented on #6421
Thank you for opening this.

We need to investigate whether this is another hosted service we can support.

@brettsam , FYI

[2020-07-30 00:48] soninaren commented on #6425
@fabiocav it looks like the version range you provided is inclusive of 2.0.0 because of square bracket.

@jwisener can you set the version property to host.json to `"[1.*, 2.0.0)"`. Please note there is a round bracket in the end.

[2020-07-30 00:51] soninaren commented on #6425
To clarify by version property i mean the version property for extension bundle
[code]

[2020-07-30 00:58] fabiocav commented on #6425
Good catch. That's my fault for the typo above, as the bracket will make it inclusive (meant to update and didn't after a paste, my apologies)

@jwisener can you please use `[1.*, 2.0.0)` and retry?

[2020-07-30 04:00] #6276 closed, assigned to yojagad

[2020-07-30 05:19] jwisener commented on #6425
@fabiocav , @soninaren  yes, changing it to 2.0.0**)** did it.  My apologies I should have seen that, it is spelled out in the documentation located here: https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#version-ranges

[2020-07-30 05:19] #6425 closed, assigned to soninaren

[2020-07-30 05:20] jwisener commented on #6425
Thanks for your help!!!

[2020-07-30 05:21] Dzoukr commented on #6324
🤔 That should work. Didn't know about this, thank you!

[2020-07-30 07:00] #6021 closed, assigned to yojagad

[2020-07-30 07:41] jdelforno commented on #5755
I was actually extremely surprised when I came across this and was expecting to see mutual auth handled as part of the App Service itself, making it configurable via ARM template and there by easily transferable everywhere.

[2020-07-30 08:24] houbena commented on #5893
Same here .. the bug persists even after trying the workarounds mentioned above.

[2020-07-30 11:27] madushans opened #6432 "Using AddHttpClient<T> creates multiple instances of Scoped services in the same Scope"
#### Is your question related to a specific version? If so, please specify:
Does not seems to be specific.
Below are the versions I use

Microsoft.Extensions.Http (tested with 3.1.4 and 3.1.6)
Microsoft.NET.Sdk.Functions (tested with 3.0.7 and 3.0.9)
Microsoft.Azure.Functions.Extensions 1.0.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question

**Summ

[2020-07-30 12:30] vaibhavramdasi commented on #6421
As a workaround, I'm adding Timer Triggered function that includes the logic from HealthCheckPublisherHostedService.
Also after call to services.AddHealthChecks() this is needed
            services.Remove(services.FirstOrDefault(x => x.ImplementationType?.Name == "HealthCheckPublisherHostedService"));

[2020-07-30 16:57] mathewc commented on #6254
Resolving this since the APIs do in fact return the same info, since the ARM API is just invokes the host API. If you find evidence to the contrary, please reopen this. Related issue https://github.com/Azure/azure-functions-host/issues/6255 remains open and is what we want to focus on.

[2020-07-30 16:57] #6254 closed, assigned to brettsam

[2020-07-30 18:19] chkohner commented on #3153
Hopefully this solution will apply to `proxies.json` entries as well.

[2020-07-30 20:16] #6427 closed, assigned to pragnagopa

[2020-07-30 20:53] mhoeger commented on #5893
@houbena - can you open a new issue with the same level of details as OP so we can investigate?

[2020-07-30 22:00] #6084 closed, assigned to yojagad

[2020-07-31 00:58] Y07yoyo opened #6433 "Time Trigger Issues"
## Detected timer trigger executions past due

### Description

We detected that you have unscheduled function execution(s) which is past due because of host start up.

| TIMESTAMP | FunctionName | Orignial Schedule  |
| :---: | :---: | :---: |
| 7/30/2020 8:10:15 AM | `CampsieReset` | 2020-07-30T06:45:00.0000000+00:00 |
| 7/30/2020 8:10:15 AM | `CanterburyReset` | 2020-07-30T06:45:00.0000000+00:0

[2020-07-31 01:00] Y07yoyo commented on #6433
![information](https://user-images.githubusercontent.com/40599534/88988724-0505cd00-d31d-11ea-9ab8-771385027eab.PNG)

[2020-07-31 02:32] madushans commented on #6413
Which option are you referring to?

Is it the one in host.json -> loging.applicationInsights.isEnabled ?
is it something in local.settings.json ?
Enable Application Insights button in Azure portal?
something else?

Basically the integration between Azure Functions (v2 and v3) and Application Insights does the following.

- Allows your calls to `ILogger` and `ILogger<T>` to be logged to application

[2020-07-31 03:56] madushans commented on #6423
Not sure if this is supported for Storage Accounts in general.
Your functions app does get Managed Service Identity, but Storage Accounts does not know how to accept and verify connections based on it I think.

Usually resources that support this has a Settings > Access Policies blade in portal which lets you configure which MSI is allowed to do what, for example, key vault resources have this but

[2020-07-31 04:19] madushans commented on #6325
I think the latest guidance is this one
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.1

- `HttpClient`
  - a collection of config for requests (headers, base address .etc.) and can be transient. Needs a `HttpMessageHandler` to make an actual request with the config.
- `HttpMessageHandler`
  - Handles and reuses connections, applying config from the Http

[2020-07-31 05:51] dedreira commented on #6423
@madushans it is supported for Storage Accounts, I have Managed Identity of my Function App activated, and I gave it "Storage Blob Data Contributor" role in the Storage Account.

You can configure RBAC for your Storage Account following this article if you want: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-portal

I don't want to use a connection string with a SAS, I

[2020-07-31 08:00] madushans commented on #6423
@dedreira Oops my bad. Didn't know you could do that.

Did some research and piecing together a little fairy tale here so bear with me 😂

Found this about RBAC which you are likely a lot more familiar with than me.
https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad#assign-rbac-roles-for-access-rights

Found this which shows how to authenticate with AAD
https://docs.microsoft.co

[2020-07-31 08:20] TMUNYU commented on #5405
FUNCTIONS_V2_COMPATIBILITY_MODE is not doing the trick for me. You guys need to put a GIANT warning on the functions overview about this. I wasted so much time going in circles about this because I was not aware of this known issue. I am sure others have wasted time too. It is good to be more transparent about non obvious bugs like this.

[2020-07-31 08:46] TMUNYU commented on #5405
Found another work around for others. In my case I was using GET on the function. If you use POST instead the body will come in correctly. I am not using the FUNCTIONS_V2_COMPATIBILITY_MODE.

[2020-07-31 15:26] pragnagopa commented on #6429
Fixed in linked PR.

[2020-07-31 15:26] #6429 closed, assigned to yojagad

[2020-07-31 15:29] pragnagopa opened #6440 "Add Worker_Directory in WorkerInitRequest"
Add Functions_Worker_Directory in WorkerInitRequest instead of env variable.

See https://github.com/Azure/azure-functions-host/pull/6428 for more details

[2020-07-31 15:34] joeyeng commented on #1207
Hey @cgillum, just wondering if there's an update on this since this was over a year ago and it sounded like something was planned to come out last year. Thanks

[2020-07-31 15:51] cgillum commented on #1207
Wow, time flies! Yes, we have an update: the new ARM setting should be available in production now for a limited set of regions but I don’t believe we’ve documented it yet or deployed the portal UX. The hard parts are done so you should be able to expect an announcement about its availability soon’ish.

[2020-07-31 16:59] APIWT commented on #6432
I think this is a duplicate of https://github.com/Azure/azure-functions-host/issues/5098

[2020-07-31 17:13] patrickbadley commented on #6381
@paulbatum and @fabiocav It doesn't look like this issue is getting any attention, You mentioned in another issue to log a new one, any chance you could look into this for us?

[2020-07-31 19:47] pragnagopa commented on #6403
cc @mhoeger

Release : https://github.com/Azure/azure-functions-host/releases/tag/v1.0.13146 is rolling out. Next steps will be tracked in internal workitem.

[2020-07-31 19:47] #6403 closed, assigned to pragnagopa

[2020-08-01 11:49] rupeshtech opened #6443 "System.Private.Uri: Invalid URI: The hostname could not be parsed. Value cannot be null. (Parameter 'provider')"
#### Error while running a Azure ServiceBusTrigger function(V3)#####
After **upgrading Microsoft.Azure.WebJobs.Extensions.ServiceBus** to 4.1.2 I am not able to run Azure function
Earlier it was running fine.

#### Getting Error
A host error has occurred during startup operation 'xxxxxxxx'.
**System.Private.Uri: Invalid URI: The hostname could not be parsed.
Value cannot be null. (Parameter 'provi

[2020-08-02 01:00] ghost commented on #5846
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-02 10:32] hansmbakker commented on #5203
I'd also like to use System.Text.Json in my code

[2020-08-02 11:08] madushans commented on #6423
@dedreira Sorry, didn't knew about that.

I dont think Storage in Functions natively support it.

i.e Key Vault SDK allows the connection string to be `RunAs=App;` to use this feature but storage doesn't.

[2020-08-02 11:21] madushans commented on #6432
Did some more research on this and found out this triggers when `AddHttpClient<T>()` or `AddHttpClient(string name)` is called.

However it does not trigger when `AddHttpClient()` is called. This call returns the `IServiceCollection` where the two overloads above returns `IHttpClientBuilder` allowing more configuration.

This basically stops the `HttpClient` and Message Handlers from being configu

[2020-08-02 11:24] IanKemp commented on #5203
Nothing is stopping you.

This topic is about removing Newtonsoft.Json since System.Text.Json effectively obsoletes it.

[2020-08-02 11:28] dedreira commented on #6423
@madushans thanks a lot for your answer...unfortunately this is not what I was looking for.

As I wrote when I opened the Issue/Question, I was trying to use a "Storage Binding" against a Storage Account using a Managed Identity instead of a Connection String.

As you probably know, Azure Function Bindings provide a way of connecting with other Azure resources without the need of writing the high

[2020-08-02 11:45] hansmbakker commented on #5203
Since Azure Functions uses NewtonSoft.Json under the hood, I believe cannot configure the serialization settings with classes from System.Text.Json.

[2020-08-02 13:00] ghost commented on #6419
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-02 16:33] mpurusottamc opened #6444 "[CustomHandler]Azure golang function does not receive request payload in the body"
I have created an Azure Function in Go. The function is working properly in local machine with GET & POST requests. When published, request payload sent via POST is not available in the request object. Here's my code:

[code]

After deployment, I invoke a POST api request with following JSON body:
[code]
Logs from Application Insight:
<img width="1316" alt="logs" src="https://user-images.githubuse

[2020-08-02 19:00] ghost commented on #6399
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-02 19:00] ghost commented on #4532
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-02 21:36] kzu opened #6445 "Allow an IFunctionFilter to modify the HTTP status code/response"
`IFunctionFilter` (and in particular `IFunctionInvocationFilter`) seems to be the only mechanism by which the execution pipeline of a function can be modified in a cross-cutting way (since you can't really access the host builder to add arbitrary middleware).

As such, it would be *very* useful if the filters could affect the resulting status code of a request (say in an HTTP-triggered function).

[2020-08-03 04:05] AartBluestoke commented on #5203
@hansmbakker the main issue is that the only version of  NewtonSoft.Json you can use is the embedded one (v9 for functions v1 and v11 for functions v2,v3).
Other than that you can load and (de)serialize your bytes any way you want.

[2020-08-03 07:33] hansmbakker commented on #5203
So you're saying that you can use `System.Text.Json` when
- returning an `OkObjectResult`,
- when using the built-in deserialization of trigger input
?

I don't see how to do that?

[2020-08-03 09:46] jnsgruk commented on #6444
I'm also suffering with this issue - note that it only started happening late last week - before that it was working fine.

I've also tried using the FUNCTIONS_V2_COMPATIBILITY_MODE, changing to not sending the "Content-Type" header, and MITM'd the outbound request to check that the client is sending a correctly formed request - and it all seems fine

[2020-08-03 11:06] petterek commented on #5240
I get the same Error running a "timer trigged" function.

I also get the
"Scope disposed{no name, Parent=disposed{no name}} is disposed and scoped instances are disposed and no longer available." so i guess this could boil down to something around the DI container,

My trigger is fired every 5 minute, but it is not able to complete it's task within that time.
Looks like this might affect the DI co

[2020-08-03 11:38] ChristianWeyer opened #6446 "Using wasmtime-dotnet in Azure Functions errors with 'image not found' (native dependencies)"
Hi all!

I have tried to use wasmtime-dotnet (https://github.com/bytecodealliance/wasmtime-dotnet) in an Azure Function.
For now, I am running this locally on macOS.
[code]

It fails when calling the HTTP-triggered function:

[code]

This all works great with a simple.NET Core console application.
As we can see, also for the Azure Functions project, the runtimes are present in the bin folder:

![i

[2020-08-03 13:05] ThejaChoudary commented on #4790
@JeanBaptisteScellier
You can't run both Linux and Windows function apps in the same App Service plan. If you still want both the Linux and Windows Functions apps in the same Resource group it is possible only when you use different app service plans.Hope this could help you resolve the problem.
Closed this as resolved/answered ,but please let us know if you need any additional information. Thank

[2020-08-03 13:05] #4790 closed

[2020-08-03 13:46] ThejaChoudary commented on #4831
@kinjalpgor closing this as answered based on the information above ,but please let us know if you have any additional questions.

[2020-08-03 13:46] #4831 closed

[2020-08-03 13:55] ThejaChoudary commented on #4847
@thdotnet & @Spharah Please reach out to us if you have additional questions,closing this as  answered based on the information above.
Thank You!

[2020-08-03 13:55] #4847 closed

[2020-08-03 15:26] csalgo70 opened #6447 "IFormFile and FormFile conflict"
#### Investigative information

Running azure functions locally on windows 10 OS.

**Versions**

dotnet --version: 3.1.302
func --version: 3.0.2630

#### Repro steps

I have installed latest .net core 3.1

Create new Azure function sample with simple http trigger.

Replace the code with this

[code]

#### Expected behavior

I haven't added anything extra. Its just a new azure func code. Shouldn't

[2020-08-03 16:15] fabiocav commented on #4363
Assingning this to sprint 82 for validation using the new configuration APIs

[2020-08-03 17:41] fabiocav commented on #6421
Assigning to the next sprint's backlog for review

[2020-08-03 17:47] fabiocav opened #6448 "Improvements to download API"
Opening a tracking items to address planned improvements to the download API.

[2020-08-03 17:57] chitoiur opened #6449 "Functions v3: req.Content.ReadAsAsync<T>() performs synchronous operation"
The issue is quite simple. We recently upgraded to functions v3. We had this code all over the place:

[code]

The error we were seeing was this: "Synchronous operations are disallowed. Call ReadAsync or set AllowSynchronousIO to true instead." Something in inside `ReadAsAsync` is performing a synchronous operation.

The workaround was to call `ReadAsStringAsync()` and then manually deserialize.

[2020-08-03 18:32] isaacrlevin opened #6450 "The current SynchronizationContext may not be used as a TaskScheduler."
#### Investigative information

Please provide the following:

- Timestamp: Local Development
- Function App version: v3
- Function App name: N/A
- Function name(s) (as appropriate): N/A
- Invocation ID: N/A
- Region: N/A

#### Repro steps

Provide the steps required to reproduce the problem:

I would expect to be able to access a Task Scheduler via the `FromCurrentSynchronizationContext` method.

[2020-08-03 18:39] jctlp commented on #5014
In #5014([comment](https://github.com/Azure/azure-functions-host/issues/5014#issuecomment-654863513))> @brettsam states "Application Insights now "owns" all of the OperationIds it sets, and we merely append our internal InvocationId onto the telemetry via a custom property."

How can I access that custom property in AI? I would like to use the InvocationId generated during invocation of our v2 Que

[2020-08-03 20:04] zhughes3 opened #6451 "Function not returning contents of context.res (Nodejs runtime)"
I have a NodeJS azure function. To set the body, docs say to set the `context.res` object. The actual logic and configuration are provided below. This seems to be related to this bug: https://github.com/Azure/azure-functions-host/issues/3191

#### Investigative information

- Function App version: 2.0

#### Expected behavior

Response should match the body I pass and status code I pass.

#### Actu

[2020-08-03 20:25] zhughes3 commented on #6451
Figured out issue.

[2020-08-03 20:25] #6451 closed, assigned to madelinegordon

[2020-08-04 01:59] iron9light opened #6452 "dotnet get user folder return wrong value"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

#### Investigative information

windows, dotnet core host.

#### Repro steps

[2020-08-04 02:02] iron9light commented on #6452
Checked my log again.
It seems it will return the correct value sometimes.
like this: `D:\Users\mawsFnPlaceholder699_f_v3_x86\`

[2020-08-04 08:02] harisubramaniam1 opened #6453 "Azure application Insights profiler on Azure functions - Profiling question"
#### Is your question related to a specific version? If so, please specify: Azure function V2

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All) .Net core 2.1, C#

#### Question
Is azure application insights profiler supported on Azure functions hosting a .net core app and the azure function hosted on an Isolated app service plan? If it is supported, is it supported

[2020-08-04 09:33] ThejaChoudary commented on #4815
@mhoeger any thoughts on how we want to proceed here?

[2020-08-04 12:51] pavinan opened #6454 "Azure functions cosmosdb input binding throws 500 internal server error in nodejs when key not found in container."
Azure functions cosmosdb input binding throws 500 internal server error in nodejs when key not found in container.
I am trying this tutorial

https://docs.microsoft.com/en-us/learn/modules/chain-azure-functions-data-using-bindings/5-read-data-with-input-bindings-portal-lab?pivots=javascript

#### Investigative information
In logs it is showing "Value cannot be null. (Parameter 'key')".

#### Repro

[2020-08-04 13:45] gabrielbaptista commented on #5399
I would not recommend enabling FUNCTIONS_V2_COMPATIBILITY_MODE because Microsoft will disable V2 functions soon. Substituting CreateResponse to the code below worked:
[code]

[2020-08-04 15:29] soninaren opened #6455 "Allow node worker to use maximum amount of memory available in the dedicated sku"
Right now in production node process uses built in default for memory. With the defaults node does not take advantage of the maximum memory available in the SKU. We should be overriding the default memory limits set by the node process to match the amount of memory available of the machine.

#### Known workarounds
Set the following app setting
`"languageWorkers:node:arguments": "--max-old-space-si

[2020-08-04 16:05] pragnagopa commented on #6455
@mhoeger - any ideas if we can remove the limit or set to max on node worker as we cannot hardcode the limit as this is sku specific.

[2020-08-04 16:15] brettsam commented on #5893
I don't think this should be closed. We need to add this to the host itself (see the comment above -- https://github.com/Azure/azure-functions-host/issues/5893#issuecomment-622133356)

[2020-08-04 16:39] v-anvari commented on #6169
@rghkrish sorry for the delay in response, Kindly, let us know if the issue is still persisting?

If yes, please provide us additional details mentioned in the issue template.

[2020-08-04 17:39] v-anvari commented on #5678
@njabulomp , sorry for the delay in response. We believe that the logic app was making the calls with delay, we recommend you to use "delay time" in the logic app for it to run with certain delay.  Kindly, let us know if the issue still persists.

[2020-08-04 18:29] rohitgkr opened #6456 "Storage SDK V12 call timesout every 100 secs in Azure Functions runtime"
This is regarding Azure Functions LOCAL runtime (not associated with App Service Plan).
Fiddler shows that the outgoing HTTP request to storage times out every 100 secs with 408. Various strategies have been tried starting from HttpClient timeout, ServicePointManager MaxServicePointIdleTime, SocketsHttpHandler pooling settings, etc. All changes were applied in the FunctionsStartup class. However t

[2020-08-04 18:35] mhoeger commented on #6454
Hi @pavinan ! This sounds like expected and correct behavior. When you use input/output bindings or connect to a trigger, internally, we instantiate a new Cosmos DB client inside of our runtime process. If you tried to instantiate a Cosmos DB client inside of your code too with no credentials, your function would be failing similarly (unless you did some check for the existence of the key and deci

[2020-08-04 18:36] brettsam commented on #5206
Note this was related to https://github.com/Azure/azure-functions-host/issues/6203, which was closed and you should be able to go to ~3 now.

For tracking the logging improvement, let's use #4705. I'll see what I can do to get that one scheduled in an upcoming milestone now that we have some concrete examples.

[2020-08-04 18:36] #5206 closed

[2020-08-04 18:42] mhoeger commented on #6455
One thing we could do is to make that value added on premium-sku app creation when "node" is chosen?

So far we only have that guidance documented here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan#memory-utilization-considerations

[2020-08-04 18:44] mhoeger commented on #5893
Ahh got it! I thought this item was tracking when the workaround wasn't working (something about a permission denied error I think) but yeah looks like issue is not resolved - thanks! Bumping up to future sprint

[2020-08-04 19:07] ChristopherL-STCU commented on #4705
Is there currently a way to surface exception information in the startup of a v3 app? For example, when my startup consists of:
[code]
And I have an `APPINSIGHTS_INSTRUMENTATIONKEY` defined in Application Settings with a `host.json` containing:
[code]
I cannot find the exception message anywhere. Should I expect to? Is it possible to?

[2020-08-04 19:15] pragnagopa commented on #6455
Documentation does not have guidance on what value should be set for a given sku. If this is a fairly common scenario and not harm in setting to a higher number we should set it by default in the node worker.

@mhoeger - Assigning this issue to you to figure out next steps.  It not actionable , please close this.

[2020-08-04 19:27] pheuter commented on #5203
This issue appears related: https://github.com/Azure/azure-functions-host/issues/5469

I am also currently running into the problem of needing to use a [custom](https://github.com/Tarmil/FSharp.SystemTextJson) JsonConverter that's designed to work with System.Text.Json, but Azure Functions appears to enforce Newtonsoft with no way to override in Startup.Configure

[2020-08-04 19:30] pheuter commented on #5469
I am also currently running into the problem of needing to use a [custom](https://github.com/Tarmil/FSharp.SystemTextJson) JsonConverter that's designed to work with System.Text.Json, but Azure Functions appears to enforce Newtonsoft with no way to override in Startup.Configure

[2020-08-04 19:39] mhoeger commented on #6455
@pragnagopa - sorry that doc is specifically for premium SKU and guidance depends on which machines within premium SKU are selected. I think it's actionable, but not from our end (from Portal/tooling).

cc: @anthonychu and @btardif

[2020-08-04 21:26] mhoeger commented on #6389
Closing this issue as resolved. Added an extra section to the timer trigger issue analysis diagnostic (detector) to detect functions with startup errors too

[2020-08-04 21:26] #6389 closed, assigned to mhoeger

[2020-08-04 22:10] mhoeger opened #6458 "Automate release pipeline step to make PR against CLI"
https://github.com/Azure/azure-functions-host/issues/6377

[2020-08-04 22:15] buzzaII opened #6459 "Advisory of V2 function apps need to be converted to V3"
#### Is your question related to a specific version? If so, please specify:

V2 and V3

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#

#### Question

We currently received an advisory that outlined that v2 functions (built on .net core 2.2) is reaching end of life and will not be supported by PaaS in around the October time frame.

We need clearer information

[2020-08-04 22:15] #6377 closed, assigned to mhoeger

[2020-08-04 23:31] lafernando opened #6460 "Azure Functions with a Custom Handler - Random Value Generation Not Consistent"
I'm using the [Ballerina](https://ballerina.io/) language's custom Azure Functions handler in implementing a function. In it, I wanted to create a unique name for a blob. For that, I tried reading "sys.RandGuid" metadata as a unique value, and the expectation was, inside the function body, I can read in the same metadata value to used in extracting this same value. I need this same value for purpo

[2020-08-05 03:19] pragnagopa opened #6461 "[V2][Custom handlers] Provide a way to inspect custom handler requests and responses"
Port fix for https://github.com/Azure/azure-functions-host/issues/6388

[2020-08-05 03:20] #6388 closed, assigned to pragnagopa

[2020-08-05 03:29] lafernando opened #6462 "[CustomHandler]Payload Access in Pure HTTP Azure Function Not Working with Custom Handler"
I'm using the [Ballerina](https://ballerina.io/) language's custom Azure Functions handler in implementing a pure HTTP function. The code is as follows.
[code]
I built, deployed, and invoked the function in the following manner:
[code]

The logs in Azure Functions App show the following:
[code]

I tried invoking the function with different content types as the input, but I still get the same log.

[2020-08-05 03:51] pavinan commented on #6454
No, connection string is fine. According to tutorial. The binding, ```context.bindings.bookmark``` returns "1" if the "id" exists in container and "0" if not exists.
So now it is returning "1" if "id" exists, but when "id" not exists it is throwing error instead of "0". I think function failing before execution and while resolving the input binding.

I am referring this line ``` var bookmark = con

[2020-08-05 04:00] #5846 closed, assigned to ankitkumarr

[2020-08-05 08:12] gzuber commented on #5982
@vkurmi Sorry for the delay! Building with runtime identifiers is not currently supported.

[2020-08-05 08:12] #5982 closed, assigned to gzuber

[2020-08-05 13:31] brettsam commented on #4705
One thing you can always do if you're using App Insights is try/catch around your Startup and then log the exception directly to App Insights yourself. This is effectively what I'm going to propose we do in the host. The current issue is that when we're calling your Startup class, we have not yet constructed the App Insights services (since we're still in DI initialization) so the exception isn't

[2020-08-05 14:08] snjypl commented on #6417
any update on this one?

[2020-08-05 14:39] snjypl commented on #6417
using  mysql-connector-python fixes it.

it is an implementation  the MySQL Client/Server protocol completely in Python

`pip install mysql-connection-python`

and change connection string to

`mysql+mysqlconnector://<user>:<password>@<host>[:<port>]/<dbname>`

ref:
https://github.com/mysql/mysql-connector-python

https://docs.sqlalchemy.org/en/13/dialects/mysql.html#module-sqlalchemy.dialects.mys

[2020-08-05 15:48] tsharp commented on #5274
hey @fabiocav - do you know what nuget package release this will be part of or has that not been determined yet?

[2020-08-05 16:00] #6419 closed, assigned to nobody

[2020-08-05 16:07] Erythnul commented on #6413
I believe @jabbera is referring to a new options added to the Azure Functions Application Insight integration page on the Azure portal. [Ref: this image, apologies for the low quality](https://i.imgur.com/InHAPQj.png).
I would also like to know what this option actually does.

[2020-08-05 16:27] pragnagopa opened #6465 "[V2]Add Worker_Directory in WorkerInitRequest"
Port fix for #6440

[2020-08-05 16:54] mhoeger commented on #6454
Ahh ok thanks for the correction! I'll repro this and see what's going on

[2020-08-05 17:31] #6440 closed, assigned to pragnagopa

[2020-08-05 17:41] ConnorMcMahon opened #6466 "Function apps running on Linux App Service Plans hitting open file descriptors limit"
**Description**

I have received a customer issue for a customer running on a dedicated Linux app service plan where their app is hitting IOExceptions of the following form:

`System.IO.IOException : The configured user limit (1024) on the number of inotify instances has been reached`.

It appears this may be [some issue](https://github.com/dotnet/runtime/issues/37610) with .NET Core on Linux, but

[2020-08-05 18:03] jabbera commented on #6413
Yup! That's it!

[2020-08-05 18:21] andrewdmoreno commented on #6068
@brettsam So is returning `null` not allowed? I ran into this just now because I have a factory delegate for `ITokenSource` usage in durable functions and when I'm running locally I don't want to use a token source. Was just a simple way I thought I could solve the problem but seems like I may need to take another approach?

Some sample pseudocode:

[code]

[code]

[2020-08-05 18:45] takyyon opened #6468 "Unable to delete the host key that starts with an underscore"
Deleting a host key that starts with an underscore throws an error saying, Invalid key name.

[2020-08-05 18:50] andrewdmoreno commented on #6068
Update: I created a no-op implementation and went on my way, but curious about the answer to my above question just for my knowledge.

[2020-08-05 20:03] AnatoliB opened #6470 "Upgrade PowerShell workers to 3.0.446 (PS6) and 3.0.452 (PS7)"
Upgrade PowerShell workers to 3.0.446 (PS6) and 3.0.452 (PS7)

[2020-08-05 20:06] fabiocav commented on #6470
Just wanted to confirm; are you still targeting sprint 81 for this?

[2020-08-05 20:06] AnatoliB opened #6471 "Upgrade PowerShell worker to v2.0.448 (Functions v2 only)"
https://github.com/Azure/azure-functions-powershell-worker/releases/tag/v2.0.448

[2020-08-05 20:10] fabiocav commented on #6335
This is currently in progress.

[2020-08-05 20:15] yojagad opened #6473 "Explore deploying both bundle major versions simultaneously"
Right now, pipeline does not support deploying both major versions simultaneously, thus hindering us from sending OGFs for 2.x and 1.x version of bundles simultaneously.

cc: @pragnagopa

[2020-08-05 20:24] AnatoliB commented on #6470
@fabiocav Yes, unless it's too late. The PR is out, we should be able to merge it today.

[2020-08-05 20:25] fabiocav commented on #6215
Moving this to epics. @kashimiz is working on design and will be creating sub-tasks/issues.

[2020-08-05 20:53] fabiocav commented on #6465
Closing as resolved.

[2020-08-05 20:53] #6465 closed, assigned to pragnagopa

[2020-08-05 20:55] #6470 closed, assigned to AnatoliB

[2020-08-05 21:32] usnhsa commented on #6413
Me Too! What does it do? Cant find any info on it.

[2020-08-05 22:00] #6399 closed, assigned to nobody

[2020-08-05 22:00] #4532 closed

[2020-08-06 00:37] #6471 closed, assigned to AnatoliB

[2020-08-06 07:12] deyanp opened #6475 "Breaking change analysis operation failed System.InvalidOperationException: Unsupported TypeRef"
#### Check for a solution in the Azure portal
Upon starting I get the following warning in a Azure Function App hosted in AKS (Linux, F#, .NET Core 3.1):

info: Host.Startup[412]
      Host initialized (1016ms)
info: Host.Startup[413]
      Host started (1023ms)
info: Host.Startup[0]
      Job host started
Hosting environment: Production
Content root path: /
Now listening on: http://[::]:80
Applic

[2020-08-06 07:17] deyanp commented on #6475
Similar question from another person on StackOverflow, but without any answers:

https://stackoverflow.com/questions/63011644/azure-functions-raises-an-error-with-marklio

[2020-08-06 09:25] mindraptor commented on #5782
Any updates for logging in the Startup class?

[2020-08-06 13:39] brettsam commented on #6068
Returning `null` is not allowed with how we have DryIoC configured. In these cases we also return no-op implementations.

[2020-08-06 14:24] hansmbakker commented on #5469
I'm having an issue with this as well (https://github.com/Azure/azure-functions-host/issues/5203#issuecomment-667859103).

I believe it is impossible to use `System.Text.Json` when
- returning an OkObjectResult,
- when using the built-in deserialization of trigger input

This is annoying because projects shared between an asp.net core project and an azure functions project will have to "live in 2

[2020-08-06 15:43] brettsam commented on #5678
Logic Apps has an internal timeout retry policy -- so if a request takes longer than some amount of time (https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config#timeout). You should be able to see in App Insights how long your Function App invocation ran -- and from there, determine if it was too long.

I also believe that Logic Apps will give you logs that indicate when it

[2020-08-06 15:43] #5678 closed

[2020-08-06 15:47] brettsam commented on #5805
Sorry I'm getting to this so late -- but we do have env var configuration provider enabled. The issue is that you need to use `AzureFunctionsJobHost` as the initial path. So I believe you can accomplish what you want by starting the environment variable with `AzureFunctionsJobHost__Logging`...

[2020-08-06 15:47] #5805 closed, assigned to brettsam

[2020-08-06 15:48] brettsam commented on #5840
Agree -- this would be a pretty simple schema update. Will assign it to our next sprint.

[2020-08-06 15:50] brettsam commented on #5852
This has been sitting a while -- going to close as this was likely an encoding issue. Please feel free to re-open if this persists.

[2020-08-06 15:50] #5852 closed, assigned to brettsam

[2020-08-06 16:11] brettsam commented on #5915
@ConnorMcMahon -- is there any work item to track here or is it okay to close this?

[2020-08-06 16:13] brettsam commented on #5968
Sorry for the delay on this. Yes, @ivan-sam, you were effectively overwriting our hostjson configuration which caused the issue.

@TarasGolodnyuk -- can you share your whole host.json? are you sticking that under `extensions`?

[2020-08-06 16:15] brettsam commented on #6014
@balag0 -- did you have a chance to look into this?

[2020-08-06 16:23] brettsam commented on #6194
@tucane -- sorry for the delay here. Were you ever able to figure out the behavior? Without knowing how the queue was getting messages, it's hard to tell if this is as-expected or not.

[2020-08-06 16:26] brettsam commented on #6288
@AsifulNobel -- so sorry for the delay here. Were you able to diagnose the issue you were having? If not I can loop in some of the Durable Functions experts that may be able to help out.

[2020-08-06 16:31] brettsam commented on #6423
I think either @jeffhollan or @mattchenderson have discussed using Managed Identities with different bindings. I believe we first need support from the underlying SDK -- but maybe it's supported in newer versions of the Storage SDK? https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/identity/Azure.Identity#authenticating-a-service-principal-with-a-client-secret...

[2020-08-06 16:32] brettsam commented on #6444
@mhoeger / @pragnagopa -- did something change here that can affect language workers? I know the perf changes had some impact here...

[2020-08-06 16:41] mpurusottamc commented on #6444
It seems to be a Windows OS related issue for Function Apps. When i updated the OS type to Linux, i do receive the request payload.

Here's my functionapp creation command:
[code]

Here's my updated log:
[code]

[2020-08-06 17:13] AsifulNobel commented on #6288
@brettsam As I had said on my previous comment, the problem had not occurred for a while after increasing instance count. But the issue appeared again about a week ago and went away after increasing the amount of instances again.

The interesting thing is that there have not been any signs of resource exhaustion in any time. I have been communicating with the Microsoft Support team (Ticket ID: 120

[2020-08-06 17:18] ThejaChoudary commented on #5158
@christian-vorhemus Apologies for the late reply
Is this something your still experiencing with the latest version of Azure .

Thanks for the Patience!

in CC: @brettsam

[2020-08-06 17:19] pragnagopa commented on #6455
This is a good candidate to explore how we can achieve this from the runtime itself.

Python worker uses a script to launch python worker  - cc @ankitkumarr @Hazhzeng  for more details.

It would be good explore similar approach for node worker where the script figures out what should be the max-old-space-size and sets the start up argument. This will avoid updating any tools.

[2020-08-06 17:19] ThejaChoudary commented on #5014
@brettsam can you please look into this further.

[2020-08-06 17:25] ChrisAllisonMalta commented on #5852
The issue hasn't gone away for me at least, this came up in a file new project created in VS (mac). I will check the encoding though, does the Azure runtime normally require ANSI or UTF-8 encoded files?

[2020-08-06 18:11] jnsgruk commented on #6444
Interesting. Is it possible to use the custom handler with a Linux host? I was under the impression that was limited to Windows hosts?

My current app works by uploaded a cross-compiled exe file built using the cross-compile functionality in the Go compiler.

[2020-08-06 18:17] lopezbertoni commented on #5663
@ankitkumarr Any insight if this was ever fixed? We're having the same issues running under Consumption Plan and Premium Plan.
Our CI/CD us pushing the artifact to Azure (WEBSITE_RUN_FROM_PACKAGE set to 1) and after that we're doing an Azure Functions Restart as suggested by MSFT support but that didn't help either.
Would deploying to a slot and doing a hot swap help?
Please advise. If you need mo

[2020-08-06 18:20] pragnagopa commented on #6444
@mpurusottamc - Thanks for reporting the issue. This is a known issue which is fixed recently - https://github.com/Azure/azure-functions-host/issues/6305 . Fix is rolling out production this week as part of runtime version: 3.0.14251 . I will close this issue for now. Please reactivate if you still see this issue on latest runtime.

@jnsgruk - Custom handlers are supported on linux consumption wit

[2020-08-06 18:20] #6444 closed, assigned to pragnagopa, yojagad

[2020-08-06 19:28] manums opened #6477 "Keyvault access issues when using both System Assigned Identity and User assigned managed identity for an azure function"
#### Repro steps
We have an azure function which is assigned with both system assigned identity (with function name) and user assigned managed identity.

* User identity has(provides) access to shared Keyvault A secrets and keys. Keyvault A access is shared across multiple apps and functions. _Function app has to read secrets from this shared kevault A using User identity*

* Managed identity has(

[2020-08-06 19:40] floatingfrisbee commented on #6349
Hi @brettsam, we're in an active support request. We still don't have a resolution, but hopefully will, soon. I did want to check in with you too, and see if we could get your thoughts on the questions above (in my previous comment).

I was also hoping to get an insight into how CPU usage plays into the running of function apps. Is it really true that high CPU consumption can cause a function app

[2020-08-06 19:58] btardif commented on #4934
Is this related to: #6255 ?? @apawast ??

[2020-08-06 20:04] jeffhollan commented on #4934
Appears that way

[2020-08-06 20:42] mhoeger commented on #6454
@pavinan - thanks so much for the report, we're putting out a fix ASAP: https://github.com/Azure/azure-functions-host/pull/6478

[2020-08-06 20:45] #6454 closed, assigned to mathewc, mhoeger

[2020-08-06 21:25] pcgeek86 opened #6479 "Installing PowerShell module dependencies via requirements.psd1 doesn't work"
#### Summary

I am trying to create a Microsoft Azure Functions project that utilizes a third party module dependency from the PowerShell gallery. According to the documentation for Azure Functions, I should be able to simply add the dependency into the `requirements.psd1` file, and the Azure Functions runtime will automatically pull that module into my project. However, this functionality is not

[2020-08-06 21:49] brettsam commented on #6288
Let me loop in @cgillum here to see if there's an issue here that we want to track from the Durable side or maybe he knows of a good way to diagnose.

[2020-08-06 21:55] brettsam commented on #5014
@fabiocav -- do you remember why we removed `System.Diagnostics.DiagnosticSource` from unification? If someone moves forward, suddenly accessing `Activity.Current` seems to not work. Looks like that was done here -- https://github.com/Azure/azure-functions-host/pull/4941.

[2020-08-06 22:08] cgillum commented on #6288
Thanks @brettsam. Since it sounds like the issue is with Durable Functions and not with timer triggers, I will transfer this over to the Durable Functions repo.

[2020-08-06 22:26] brettsam commented on #5852
Someone above claimed that changing it to ANSI worked for them. I'm not entirely sure where this code is so I can't comment on how it is loaded or what encoding it expects. If ANSI doesn't work, I can follow up further.

[2020-08-06 23:23] TsuyoshiUshio commented on #6443
Hi @rupeshtech
Sorry for the inconvenience.  We will provide hot fix. by this PR. https://github.com/Azure/azure-functions-host/pull/6478
For the mitigation until then, roll back to your function app to 3.0.13901. For more details. https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version#automatic-and-manual-version-updates

[2020-08-06 23:33] fabiocav commented on #6443
Resolved by #6478

[2020-08-06 23:33] #6443 closed, assigned to nobody

[2020-08-06 23:34] fabiocav commented on #6443
@rupeshtech please apply the workaround provided by @TsuyoshiUshio . We're applying a hotfix and that release will be announced here: https://github.com/Azure/app-service-announcements/issues

[2020-08-06 23:34] fabiocav commented on #6443
The recommendation is to remove the workaround once the hotfix is deployed. Thank you again and apologies for the inconvenience.

[2020-08-07 00:06] fabiocav commented on #5274
@tsharp this will be published as part of the .NET Extensions package https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/

[2020-08-07 01:02] fabiocav opened #6480 "Update terminology used in runtime source"
Update to ensure we're using inclusive terminology in the runtime source.

[2020-08-07 01:04] fabiocav opened #6481 "[v2] Update terminology used in runtime source"
Update to ensure we're using inclusive terminology in the runtime source.

[2020-08-07 01:12] fabiocav commented on #6449
Odd that you were seeing that with ReadAsAsync. A Stack here would be helpful, but you could temporarily also enable synchronous IO with the app setting documented here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#functions_v2_compatibility_mode

[2020-08-07 03:00] btardif commented on #6455
I agree with @pragnagopa not sure having an app setting is the right way to go. Remember #appsettingsburgeaddress 🙅🏽‍♂️? (cc: @ammanifold)

Available memory in the instance should be something the runtime provides.

Keep in mind there are scenarios where you can change from small to large instance. Is the customer expected to know that they then need go update this magical app setting otherwise th

[2020-08-07 03:24] mhoeger commented on #6455
Definitely fair! This isn't a requirement to run but an enhancement (node has one default max memory footprint) which is why I thought it would be better as a visible suggestion to the user rather than something magical that happens and changes node (although i'm struggling to think of when the magic would be bad :)). The runtime approach sounds good - i want to make sure that a user can still con

[2020-08-07 03:30] mhoeger commented on #6455
Another point - on a premium plan you can have both multiple function apps deployed to the same premium plan and FUNCTIONS_WORKER_COUNT configured so I'm wondering if it'll be hard to find the right balance of how much to increase memory by. @pragnagopa - any suggestions?

[2020-08-07 03:40] balag0 commented on #6014
Sorry I must have missed this issue. I tried looking for the request id in the logs but it looks like we are past the log retention period.

Could you please try again and let us know if you are still seeing this issue.  I would expect using an empty resource group to mitigate the issue definitely. So this could be a bug somewhere.

[2020-08-07 05:43] btardif commented on #6455
There is also the concept of site limits that functions in herits from webapp. Here you can set limits in config for how much memory/cpu/other metrics that app will use.

the scenarios is for when you have multiple apps on the same app service plan and are attempting to do some controlled density.

so there are a lot of knobs that end up interacting. I think that in general the process should stri

[2020-08-07 06:23] dedreira commented on #6423
@brettsam I know that it's possible to connect with a Storage Account from the Azure.Storage SDK using Managed Identities in C# and in python (as I've done it before with C# and now with python 😄) but the point here is that the storage binding to connect with the storage account only accepts a storage connection String. It would be great to have the possibility to choose the connection type:
- Con

[2020-08-07 07:33] ankitkumarr commented on #5663
@lopezbertoni, would you mind elaborating you scenario? How are you pushing the artifact to Azure? What's the publishing process, and what issue are you seeing exactly?

[2020-08-07 10:34] mslot commented on #6014
I am unable to do it right now, but I will try Wednesday next week, @balag0.

[2020-08-07 11:30] smokedlinq commented on #6239
This happened to me today, nothing I could do would change `IHostEnvironment.EnvironmentName` to what I set `AZURE_FUNCTIONS_ENVIRONMENT` value as in the configuration. I opted for a code-fix that checks the environment variable first, and if it's empty defaults to the `IHostEnvironment` value. Locally, when debugging with v3.0.2630 core tools, this does not happen.

[2020-08-07 11:54] macrozone commented on #3543
this is a surprisingly bad developer experience, which is weird, because the vs extensions seems polished otherwise.

But having to kill the process all the time is just annoying.

[2020-08-07 13:26] lopezbertoni commented on #5663
@ankitkumarr

1. Push to an Azure Function using Azure DevOps. Steps in the build pipeline are:
- dotnet restore
- dotnet build
- dotnet publish
- Publish Artifact

2. Release the artifact with the following steps in Azure DevOps
-  Deploy it using Deploy Azure Functions (https://aka.ms/azurefunctiondeployreadme)
- Restart the Azure Function (https://go.microsoft.com/fwlink/?linkid=831573)

Issue

[2020-08-07 14:19] prabh-62 commented on #6449
I am having the same issue. Setting `FUNCTIONS_V2_COMPATIBILITY_MODE=true` does help however this is a workaround and we would like a fix for this issue before pushing code to production.

Screenshots below
- Exception
<img width="1030" alt="readasasync_2_exception" src="https://user-images.githubusercontent.com/13006107/89654914-5a9b2600-d897-11ea-9dc4-a1d724be25ab.png">

- Stacktrace
<img width=

[2020-08-07 16:06] pcgeek86 commented on #1627
I'm also seeing duplicated logs in the Visual Studio Code extension, when streaming logs are connected.

![image](https://user-images.githubusercontent.com/466713/89665194-84ebe400-d895-11ea-93ea-7c33eaeb203e.png)

[2020-08-07 16:09] pcgeek86 commented on #1431
3+ years later ... any fix for this? I'm seeing this behavior as well.

https://github.com/Azure/azure-functions-host/issues/1627

[2020-08-07 16:27] pcgeek86 opened #6483 "HTTP + Timer trigger in function.json results in only Timer trigger being deployed"
#### Issue Summary

I am trying to apply both a timer and HTTP trigger to an Azure Function. When I add the second timer trigger to the first HTTP trigger, the HTTP trigger is no longer valid.

I would like both triggers to be supported simultaneously, according to the documentation for triggers and bindings for Azure Functions.

#### Investigative information

Please provide the following:

- Tim

[2020-08-07 17:50] ravishankar54 opened #6484 "Programmatically how to know available memory per instance when Azure Func app is running?"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
Programmatically how to know available memory per instance for Azure Func App when it is up and running?

[2020-08-07 18:14] alejandromelis opened #6485 "Http Trigger suddenly starts failing randomly in various function apps"
#### Description

Http Trigger suddenly starts failing randomly in various function apps, the Http requests sent to the function never reach the code, and no app insights information and diagnostic appear.

Could be an App Service ARR problem, but Anonymous http trigger are not affected, maybe internal function key management problem?

#### Investigative information

- Timestamp: randomly from 202

[2020-08-07 20:57] fabiocav commented on #6381
Apologies for the delay on this. We'll investigate the issue and follow up with additional questions or updates here.

[2020-08-07 20:58] fabiocav commented on #6381
Also, if you have access to support, I would recommend opening a support ticket since this is a production impacting issue. If you take that route, can you please share that ID here?

[2020-08-08 00:50] prabh-62 opened #6486 "V3: ReadAsAsync<T>() throws exception -> Synchronous operations are disallowed"
#### Repro steps

OS: `Mac OS 10.15.6`

Provide the steps required to reproduce the problem:

- Ensure you have Azure Functions V3 `func` CLI from [Github releases](https://github.com/Azure/azure-functions-core-tools/releases) and .NET Core 3.1 SDK
- `> func --version`
   `3.0.2630`
- `> func init ImageService --dotnet`
- `> cd ImageService`
- `> func new -l C#` Create new function with HTTP trigg

[2020-08-08 01:34] ZachTB123 opened #6487 "[Custom Handlers - Go] Trigger fails to receive messages from ServiceBus queue with cardinality as many"
I have a single Function App that is using Custom Handlers with Go. There are two functions in the Function App. The first function has a timer trigger. It is responsible for polling an endpoint to see if new content is available. If there is content, it will output an array of notifications to a ServiceBus queue. The second function is triggered by this queue and has cardinality set to many in th

[2020-08-08 10:15] trivedihimanshu commented on #4855
@fabiocav I am facing similar issue regarding this. my issue is that as soon as I navigate to function app it shows me Azure Functions runtime is unreachable.

Function APP is sitting behind ASE and ASE has more then 60 APPs and 5 Isolated APP Service plans

I've raised a SEV A case with Support and so far we have performed following steps.

1. Redeployed Function APP from Kudu using Zip.
2. Redep

[2020-08-08 10:20] trivedihimanshu opened #6488 "Azure Functions runtime is unreachable. https://functions.azure.com/api/passthrough Request Method: POST Status Code: 500"
@fabiocav I am facing similar issue regarding this. my issue is that as soon as I navigate to function app it shows me Azure Functions runtime is unreachable.

Function APP is sitting behind ASE and ASE has more then 60 APPs and 5 Isolated APP Service plans

I've raised a SEV A case with Support and so far we have performed following steps.

1. Redeployed Function APP from Kudu using Zip.
2. Redep

[2020-08-08 14:51] gukz opened #6489 "Relationship between Folder Name and namespace."
#### Is your question related to a specific version? If so, please specify:
no
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
all
#### Question
I am reading the source of azure-functions-host, I found in some folder the folder name is coincide with the namespace, while some are quite not. It makes me difficult to get the namespace message from the code file's path

[2020-08-08 19:00] ghost commented on #6169
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-09 15:26] v-anvari commented on #6191
Hi @mpriem, Powershell 7 now supports .Net core 3.1 sdk.

Make sure the function app version is same as the core tools version. To download the core tools with version 3 use "**npm install -g azure-functions-core-tools**", which will download the version 3 by default. To Download the core tools with version 2, please use the command "**npm install -g azure-functions-core-tools@2**"

**To change a

[2020-08-10 11:59] v-anvari commented on #4901
Apologies for the delay on this. We'll investigate the issue and follow up with additional questions or updates here.

[2020-08-10 12:26] ahawes-clarity opened #6490 "How to get JSON result from HTTP trigger in Azure Functions v3 to be Pascal Case like previous versions of Azure Functions?"
I have C# code that I am porting from an Azure Function v1 app to v3. I have most of it working now but the JSON I get back from the HTTP triggers is now formatted with Camel Case as opposed to the Pascal Case I was expecting and how it was in previous versions.

I have read lots of things and tried lots of things and I can't get the correct solution.

[2020-08-10 15:10] deyanp commented on #6475
@gzuber , any ideas? I guess it is something related to AKS, but not sure what - storage account is properly set ...

[2020-08-10 16:24] pragnagopa commented on #6487
cc @anthonychu @yojagad as FYI

`function.json` for ServiceBus trigger explicitly sets `"dataType": "string"` - please remove this and try. If it still does not work, I will set up a repro and try.

[2020-08-10 16:30] mattchenderson commented on #6423
Agreed that this is a goal, and we're in the process of working with the Azure SDK folks around this. I don't have an ETA yet.

[2020-08-10 16:35] patrickbadley commented on #6381
Support Request ID: 120081024002920

Thanks!

[2020-08-10 16:53] v-anvari commented on #6447
Hi @csalgo70 , Please let us know the package reference used in the VS, as we are unable to identify the same. It would be helpful if we could get the .csproj file from your VS, so that we can can repro the issue mentioned above.

[2020-08-10 17:11] v-anvari commented on #6483
hi @pcgeek86 , We have tried to repro the issue you have mentioned, we see that you are trying to add a binding which is a timer trigger and http trigger in the same function.json. Currently Function app do not support this feature which can accommodate two triggers in one function app.

We are closing the issue since it has answered the query, please feel free to reopen the issue in case of any c

[2020-08-10 17:13] pcgeek86 commented on #6483
Hello,

I appreciate the response. However, shouldn't the Azure Functions platform throw some kind of error message during deployment, and fail the deployment process, instead of silently failing? This is a really bad user experience.

Cheers,
Trevor Sullivan

[2020-08-10 17:15] pcgeek86 commented on #6483
Also, the documentation states the following:

This seems inconsistent with what you posted earlier. Can you please clarify?

https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings

[2020-08-10 17:17] ZachTB123 commented on #6487
@pragnagopa

Updated my `function.json` file to:

[code]

And am still getting a similar issue:

Binding parameters to complex objects (such as 'Object[]') uses Json.NET serialization or XML object serialization. 1. If ContentType is 'application/json' deserialize as JSON 2. If ContentType is not 'application/json' attempt to deserialize using Message.GetBody, which will handle cases like XML obje

[2020-08-10 17:19] v-anvari commented on #4901
@abhishekbhatt002 , @snerting, since there were few modifications made for the sync triggers in recent times, please let us know if you are still facing this issue.

[2020-08-10 17:24] pragnagopa commented on #6455
@mhoeger - We can start with the simplest case where there is no `FUNCTIONS_WORKER_COUNT`

As @btardif  mentioned above, in general we should figure out if there is a way to remove this limit or set a maximum and let the thresholds on the platform kick in if a process does end up consuming more than its limit.

[2020-08-10 17:27] pragnagopa commented on #6487
Thanks @ZachTB123 for the update.

Assigning this issue to next sprint for further investigation.

[2020-08-10 18:01] #6407 closed, assigned to balag0

[2020-08-10 19:00] ghost commented on #6194
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-10 19:00] ghost commented on #5968
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-10 19:08] tucane commented on #6194
Hi @brettsam, I haven't figured out the behavior as I've put a pause on the work. There is a separate app that pushes message into the queue in bulk, and the function gets triggered whenever there are still messages in the queue that are not consumed.

[2020-08-10 19:22] roviracarlos commented on #6488
I have the same problem, the same error.
In the place the portal call https://functions.azure.com/api/passthrough, before last Friday the portal call the url of the resource, like this functions are in ASE, call the internal name <yourapp>.scm.<yourdomain>, this resolve internally and call the ASE ILB.
If you check the old function portal, you don't have this problem and you see the call to your f

[2020-08-10 19:50] pragnagopa opened #6493 "V2 port - Unable to delete the host key that starts with an underscore"
Port fix for #6468

[2020-08-10 21:30] ankitkumarr commented on #5663
@lopezbertoni, thanks for all the info. A couple more questions that'd help me narrow down the cause --
1. What OS is your function app on? (Windows / Linux)
2. Can you share your function app name, and a time period when you did this deployment for me to look at the logs? If you prefer to share the name privately, you can follow [these steps](https://github.com/Azure/azure-functions-host/wiki/Sha

[2020-08-10 21:43] lopezbertoni commented on #5663
@ankitkumarr

1. Windows function app
2. assessment-events-processor-qa deployed to Central US. This was deployed on August 5th.
Here's some build information if it helps.
[code]

[2020-08-10 23:16] csalgo70 commented on #6447
Attached the zip version of my VS solution. Just replace the storage account name / key based on your enviornment or  you remove that in fact as you don't need that for this testing.
[HttpFuncExample.zip](https://github.com/Azure/azure-functions-host/files/5053901/HttpFuncExample.zip)

[2020-08-11 07:34] iOvergaard commented on #6014
@balag0

I got one here with the same issue.

Tracking ID: `0110b80d-5a41-47e2-946d-f9126f207d52`

[code]

[2020-08-11 10:47] CasperWSchmidt commented on #4577
@fabiocav Is there any place where I can follow the roll-out?
Also, what is the estimated timeline for getting this available in the Microsoft.Azure.Functions.Extensions NuGet package?

[2020-08-11 11:52] jnsgruk commented on #6444
@pragnagopa I'm pretty sure this is still an issue - I've not been able to resolve... when does "3.0.14251" go live??

[2020-08-11 13:56] brettsam commented on #6194
Thanks for getting back to us, @tucane. I'm going to close this but feel free to re-open if you're able to come back to this and continue seeing the issue. Then we can gather more details and do some investigation.

[2020-08-11 13:56] #6194 closed, assigned to brettsam

[2020-08-11 16:00] ghost commented on #6449
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-11 16:00] ghost commented on #5158
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-11 16:18] pragnagopa commented on #6444
Please watch https://github.com/Azure/app-service-announcements/issues/275 for release updates. ETA for complete roll out 1 week from now.

[2020-08-11 16:26] ecaron commented on #4790
@ThejaChoudary, the unresolved error in https://github.com/Azure/azure-functions-host/issues/6014 is making the above situation unavoidable. There are workarounds, but they are unpleasant.

[2020-08-11 16:30] roviracarlos commented on #6488
This works now, refresh the browser to update the version and the error "Azure Functions runtime is unreachable" not appears again. But the call with the error continue with Status Code: 500.

[2020-08-11 18:56] floatingfrisbee commented on #6349
Just noting that we've made a ticket with Microsoft support almost a month ago, and have had multiple conversations and a bunch of back and forth communication, with no resolution and no escalation to a dev team that can actually get to the root cause. Meanwhile, this is a critical issue causing a lot of business problems for us. We'd really appreciate it if someone steps in and helps out here, ev

[2020-08-11 19:00] #6169 closed, assigned to pragnagopa, v-anvari

[2020-08-11 23:25] anthonychu commented on #6487
Haven't had a chance to try this out but I have an idea of what might be the issue(s).

When you output an array to the service bus binding (or any binding that can receive a list of stuff), each item gets turned into a service bus message. Each message contains a single notification object.

I think you're getting the error in the trigger because the current version of Service Bus trigger doesn't

[2020-08-11 23:37] ZachTB123 commented on #6487
@anthonychu Thanks for the update. Is [this](https://github.com/Azure/azure-functions-extension-bundles) the correct repo to watch for that release?

[2020-08-11 23:50] mathewc commented on #6443
@fabio @TsuyoshiUshio The error in this issue doesn't seem related to #6478.

[2020-08-12 02:31] balag0 commented on #6014
@Jacob87 I couldn't find that tracking id in the last 30 days. Would you have the correlation id by any chance?
If not can you share the region and the approximate timestamp to help narrow the search a little.

[2020-08-12 04:03] sidkri commented on #6027
This issue will be resolved when https://github.com/Azure/azure-functions-servicebus-extension/issues/95 is implemented.

[2020-08-12 06:31] anthonychu commented on #6487
@ZachTB123 It is. Although releases appearing there may not necessarily indicate that the bundle is available, as it needs to be deployed to all workers in the platform as well as updated in the feed for Functions Core Tools to consume.

[2020-08-12 06:44] iOvergaard commented on #6014
@balag0 Sure thing!

Correlation id: `1d304108-fbe8-4283-a04e-a76206bc599c`
Timestamp: `8/11/2020, 9:20:50 AM`
Region: `West Europe`

I believe it's the same region as @mslot is using.

[2020-08-12 07:20] balag0 commented on #6014
Thanks, Looks like you eventually got it to work with the same region and resource group.

My theory is this was a transient sync error. Each scale unit maintains a list of supported features, skus and this list was not up to date at the time of the error. The list eventually reached a consistent state soon after this failure and future app creations are going through successfully now. This can ha

[2020-08-12 07:27] iOvergaard commented on #6014
@balag0 Sorry for not explaining further about that resource group. I got it to work by deploying the resources to another resource group and then moving them over to the original resource group manually through the UI, just like @mslot suggested in the OP.

When the resources have been moved manually, any further **incremental** deployments will work.

If I remove the resources and recreate them,

[2020-08-12 07:30] mslot commented on #6014
@balag0 i will recreate this tomorrow, Friday and send you the I'd. I am not able to do it today. When ever I do a deploy of the ARM template in question in my initial question, I get the error. I will try to do it tomorrow, Friday. I am not able to do it today, sorry.

[2020-08-12 15:36] pragnagopa commented on #6483
@pcgeek86 - thank you for reporting this. Assuming you built the function from UI?

@takyyon / @ammanifold  - can you please take look? This appears to be a UX  issue. Function should not be build with two triggers.

[2020-08-12 15:42] pcgeek86 commented on #6483
Hello @pragnagopa, thank you for getting this re-opened. I am building and deploying the function using Visual Studio Code with the Azure Functions extension. I am not using the Azure web interface to create the function.

My expectation, as a customer / end user, would be to have an appropriate error message thrown at deployment time, indicating that multiple triggers are not supported. Also, the

[2020-08-12 15:53] pragnagopa commented on #6483
cc @EricJizbaMSFT for VSCode.

Yes. It is strange that tooling allows the users to create invalid functions. We are investigating.

[2020-08-12 16:35] pragnagopa commented on #6487
Thanks for the follow up on this @anthonychu !

I will leave this issue open until @ZachTB123 verifies the issue is fixed with new version of bundles.

[2020-08-12 16:43] pragnagopa commented on #6483
@pcgeek86 - can you give exact repro steps on how you created a function with two triggers from VS Code?

[2020-08-12 16:55] #6480 closed, assigned to fabiocav

[2020-08-12 17:00] patrickbadley commented on #6381
After working with Azure support they pointed out that our functions were hosted in a standard App Service Plan (I thought it was a consumption plan) and the "AlwaysOn" option was not checked for the Function App.  For now I have turned on the AlwaysOn option which appears to have resolved the issue.  We plan to switch the app service plan to consumption soon which we hope will also work.  For now

[2020-08-12 17:00] #6381 closed, assigned to fabiocav, ankitkumarr

[2020-08-12 17:21] pcgeek86 commented on #6483
@pragnagopa I have not spent any time trying to reproduce this from scratch, but I will do so now.

[2020-08-12 17:39] pcgeek86 commented on #6483
@pragnagopa Please provide a contact e-mail for you, so I can send the video link privately.

[2020-08-12 17:46] miqm opened #6494 "EventGrid webhook returns Bad Request on Trigger"
#### Check for a solution in the Azure portal
I'm trying to develop Azure Function that responds on EventGrid Trigger Using Visual Studio 2019.
I simply created Azure Function project and selected Event Grid trigger.
When I try to use postman to trigger it, I'm getting 400 error. No logs, no issues, nothing, just 400.

#### Investigative information

This runs locally, was not published to Azure

[2020-08-12 17:55] pragnagopa commented on #6483
@pcgeek86 - We are trying to understand if creating a function from our tooling allows creating an invalid function. If you edited function.json after function is created, there is no build time validation. You would see errors when executing a function.

please share you repro: pgopa@microsoft.com

@takyyon / @ammanifold  - Function in the portal did have indexing errors on the runtime. Any ideas

[2020-08-12 18:14] dxkaufman commented on #1283
I am getting an error regarding assemblyPath, completely out of the blue starting today. My functions were working fine day before yesterday. Here is my launch.json:

[code]

and local.settings.json (with some things redacted):

[code]
and host.json:
[code]
Here is the error I'm getting.

I don't know if this relates, but I'm posting here because of the discussion of assemblyPath. Do you have any

[2020-08-12 18:17] miqm commented on #6494
Nevermind...

Just discovered, that I was missing 2 headers on my test request:
* Host
* Content-Length

Without content length I was getting 411, without Host - 400.

Worth adding that to the docs on Event Grid local testing.

[2020-08-12 18:17] #6494 closed, assigned to madelinegordon

[2020-08-12 18:29] pcgeek86 commented on #6483
@pragnagopa Link to private YouTube video sent. Please report back here with any additional questions you might have.

[2020-08-12 18:43] pragnagopa commented on #6483
@pcgeek86 - Thanks for sharing the repro. You have edited `function.json` manually to include TimerTrigger binding. A function can only one Trigger. If you using only gestures supported in  VS Code to add more bindings, you will not end up with creating an invalid funcion. We cannot provide errors at deployment time. But running the function locally would have shown you errors.

Documentation you

[2020-08-12 18:45] pcgeek86 commented on #6483
In the video, I called out where the Azure Functions extension logs show that the deployment was successful. It should not succeed. Rather, it should fail with an appropriate error message.

Also, as I pointed out earlier, the documentation states:

I'm very confused at all the conflicting information.

[2020-08-12 18:51] pragnagopa commented on #6483
Deploying a function app is a build time action. Whether the function can is valid or not is a runtime action. I do not think we have any plans to add validation during deployment.

Regarding documentation -  yes, you can mix input and output bindings but a function must have exactly one trigger. If you still believe documentation is not clear - please open a issue here: https://github.com/Microso

[2020-08-12 18:51] pcgeek86 commented on #6483
Why not? Deployments are successful, even if they aren't? That's probably not a good UX.

I'm having other problems trying to get `func` to run, but that's outside the scope of this issue.

[2020-08-12 20:33] #6468 closed, assigned to pragnagopa

[2020-08-12 22:13] adadurov commented on #5854
Ditto! Same issue here -- I sometimes need up to 400 MB. Would prefer not to rewrite/add other methods to my API.

[2020-08-13 07:20] alpizano opened #6499 "Unreliable Azure functions timer trigger , not firing off every 1 minute"
#### Investigative information
Hi, we have a function app on Azure that has some Http triggers and a timer-based trigger. The timer trigger , triggers every 1 minute and is supposed to run a suite of our integration tests. The timer trigger calls a method called `handleTimer(String timerInfo)` , which takes a String object of timer info and then checks to see it our tests are able to run.

The pro

[2020-08-13 12:35] jonathanantoine commented on #6276
Hello,

Can we have an update on this ?

I still see this happening :(

[2020-08-13 12:41] benbelow commented on #5972
I'm coming to a similar conclusion with concurrency settings in Durable Functions. My application has ended up being comprised of multiple functions apps with subtly different settings, and it would be nice if possible to change settings per function to allow more of these to be consolidated into one app.

[2020-08-13 14:50] brettsam commented on #5893
@mhoeger -- can we make sure this gets in by end-of-sprint? Getting quite a bit of noise from it and it'd be good to have this set up automatically for folks.

[2020-08-13 15:00] fabiocav commented on #4577
Custom configuration is supported with the preview package published with this release: https://github.com/Azure/azure-functions-dotnet-extensions/releases/tag/v1.1.0-preview1

Package: https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/1.1.0-preview1

You can also find some documentation on how to use the new feature here: https://github.com/Azure/azure-functions-dotnet-extension

[2020-08-13 15:37] asipras opened #6500 "Azure Function with service bus trigger - autoComplete and maxAutoRenewDuration"
#### Is your question related to a specific version? If so, please specify:
func version 3.0.2630
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
python
#### Question
I have Azure Function with service bus trigger running on AKS. I have few question around configuration settings in host.json. The function can run for longer than 10 mins hence i have set the functio

[2020-08-13 16:00] ghost commented on #6191
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-13 16:21] SamNutkins commented on #1207
@cgillum - any where specifically we can stay tuned for an update on this?

[2020-08-13 16:24] cgillum commented on #1207
@jeffhollan I assume there will be an official announcement at some point. Any specific recommendations for where customers should look for this?

[2020-08-13 16:38] madelinegordon commented on #6239
Hello, we will investigate this issue and provide information based on our findings. Thank you.

[2020-08-13 16:41] madelinegordon commented on #6402
Hello, you are correct - no custom code is required for validating HttpTriggers. Would you be able to provide your ARM template? How often is this failure occurring? Thank you.

[2020-08-13 17:44] krishnasingh1818 opened #6501 "azure function consumption plan not logging sql queries in application insights since 28-july-2020"
Earlier this was working but since 28/jul/2020 we are not able to see sql queries in application insights.

please see more details here
https://github.com/Azure/azure-webjobs-sdk/issues/2548

[2020-08-13 17:44] jackbond commented on #4577
@fabiocav Do you have a guess how long this will be in preview? We're going to have to stick to our workaround until then (no preview NuGets are allowed in production.)

[2020-08-13 22:00] #5968 closed, assigned to brettsam

[2020-08-14 00:19] prabh-62 opened #6502 "HttpRequestMessage vs HttpRequest - Azure Functions Roslyn Analyzer"
#### What problem would the feature you're requesting solve? Please describe.
There is no clear documentation on what is the right choice - `HttpRequestMessage` or `HttpRequest` and since both `System.Net.Http.HttpRequestMessage` and `Microsoft.AspNetCore.Http.HttpRequest` request objects are supported, it becomes difficult to migrate when project grows large

#### Describe the solution you'd like

[2020-08-14 00:48] prabh-62 opened #6503 "Self-Contained Azure Functions app does not have Microsoft.Azure.WebJobs.Script.WebHost.dll"
#### Repro steps

Provide the steps required to reproduce the problem:

- Ensure you have Azure Functions V3 `func` CLI from [Github releases](https://github.com/Azure/azure-functions-core-tools/releases) and .NET Core 3.1 SDK
- `> func --version`
   `3.0.2798`
- `> func init ImageService --dotnet`
- `> cd ImageService`
- `> func new -l C#` Create new function with HTTP trigger
- Update nuget [Mic

[2020-08-14 01:39] prabh-62 opened #6504 "Always load application DLLs from wwwroot\bin folder"
#### Repro steps

Provide the steps required to reproduce the problem:

- Ensure you have Azure Functions V3 `func` CLI from [Github releases](https://github.com/Azure/azure-functions-core-tools/releases) and .NET Core 3.1 SDK
- `> func --version`
   `3.0.2798`
- `> func init ImageService --dotnet`
- `> cd ImageService`
- `> func new -l C#` Create new function with HTTP trigger
- Update nuget [Mic

[2020-08-14 02:32] prabh-62 commented on #6504
I logged another issue on [azure-functions-vs-build-sdk](https://github.com/Azure/azure-functions-vs-build-sdk) repo since azure functions were erroring out while loading `Microsoft.IdentityModel.Protocols.OpenIdConnect.dll`
https://github.com/Azure/azure-functions-vs-build-sdk/issues/460

That is why I added `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` msbuild flag in `csproj` fi

[2020-08-14 02:50] prabh-62 commented on #6504
We have a large app and we use nuget [Microsoft.AspNetCore.Authentication.JwtBearer 3.1.6](https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.JwtBearer/3.1.6) to validate auth tokens which has a dependency on [Microsoft.IdentityModel.Protocols.OpenIdConnect](https://www.nuget.org/packages/Microsoft.IdentityModel.Protocols.OpenIdConnect/)
<img width="776" alt="openIdConnect_jwtbeare

[2020-08-14 06:35] mslot commented on #6014
@balag0 I have just tried to deploy this ARM

[code]

I got the same error again. Relevant info
1. CorlationId: 025734d6-7be0-42d4-ade8-37fd9c19f2b7
2. Resource group name: rg-linux-dynamic-test
3. Timestamp: 14-08-2020 06:24:08
Location: West Europe

Full error message

08:23:54 - SubscriptionName : [removed]
08:23:54 - SubscriptionId   : [removed]
08:23:54 - TenantId         : [removed]
08:23:54

[2020-08-14 07:42] jonathanantoine opened #6505 "Is there a way to catch Dependency injection issues ?"
#### Is your question related to a specific version? If so, please specify:
I am using .net core 3.1
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
Is there a way to catch Dependency injection issues ? For example, if I remove my startup for the extensions.json file, the function will not be able to be instancied and I will see an error in the log

[2020-08-14 11:08] Szmiglo commented on #1780
I'm bumping this topic. In our org we are fighting with this "Never Finished" for a long time without success. We use Webjobs SDK 2.3.0. The status is observed on different envs (dev/stg/prod) and different app service tiers. Elasticsearch attached to jobs is not showing anything suspicious. Kudu job logs neither. Are there any other possibilities to debug it since 2018?

[2020-08-14 11:14] instantsquid commented on #3266
I am experiencing the same issue however the solution given above doesn't appear to be relevant anymore. My storage account is of type "BlockBlobStorage". I have created a container which my function is monitoring, and I can see another container has been created called "azure-webjobs-hosts" containing receipts and locks. The function app starts, and after a short delay exits with the exception "M

[2020-08-14 16:24] TurtleBeach opened #6509 "Java Function Host failing with Class Cast Exception"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

#### Investigative information

Java Function App started failing for a functi

[2020-08-14 19:00] #6449 closed, assigned to ankitkumarr

[2020-08-14 19:00] #5158 closed

[2020-08-14 19:00] ghost commented on #4901
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-14 20:06] TurtleBeach commented on #6509
Additional information - I was able to work around this by pinning the function to 2.0.14192.
1) WHERE does the ...microsoft.azure.functions.shaded.. garbage come from? I complained over a year ago about having to deal with internal Google classes as a result of Microsoft deciding to use gson, which also added a huge amount of unused code to Java functions. But I fixed my functions to deal with th

[2020-08-14 21:41] ankitkumarr commented on #6431
This will have to be moved to the next Sprint as I will be away for a week.

[2020-08-14 22:00] ghost commented on #5663
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-14 22:46] ankitkumarr commented on #6133
@dgeisner, I am unable to repro this. I tried the flow, and login window appeared. What browser and OS are you using? Would you mind trying it with a different browser?

[2020-08-16 10:58] TehWardy opened #6512 "Could not load file or assembly 'Microsoft.CodeAnalysis'"
So I built a simple script runner class to take an arbitrary block of C# code and run it by using Roslyns scripting API's.
This functionality works everywhere except in my azure functions app for some reason.

[code]

Looking at the logged output from the ctor in the following "ScriptRunner" class I see that it outputs ...

Then I get:

I'm using the latest version from nuget (without ticking the

[2020-08-16 16:00] #6191 closed, assigned to madelinegordon, v-anvari

[2020-08-16 22:36] SamGinzburg opened #6510 "Extremely poor network performance in azure functions (Azure Blob w/python bindings and with functions blob bindings)"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

Running locally

[2020-08-16 23:57] anthonychu commented on #6510
@SamGinzburg is it possible to provide a repo with a sample app that reproduces this (including the file it’s uploading) so we can investigate further?

/cc @stefanushinardi @anirudhgarg

[2020-08-17 00:48] SamGinzburg commented on #6510
Sure here is a very simple example: this function downloads a blob from inside of a very skeletal azure function (env variables omitted)

[code]

I also have a very primitive setup that I run to test my throughput using the same blob library for azure functions to see if it was a local network issue, and I was able to get between 6x-7x the total throughput on blobs around ~20-23MiB in size. I get

[2020-08-17 01:10] gohar94 commented on #6510
I think the bottleneck is gRPC between Python worker and C#. It would be good to get this verified by the Function's team but we can also check this on our local setup.
In my experiments, I've found gRPC between Python and C# to be really slow.

[2020-08-17 01:13] SamGinzburg commented on #6510
![image](https://user-images.githubusercontent.com/9014527/90348756-3d87f500-e005-11ea-992d-599492069f38.png)

I also tested a variant of the repro above returning an empty response instead of the contents - it has no impact on the throughput. Repeated invocations don't help with performance so this isn't a cold start issue either.

[2020-08-17 01:38] SamGinzburg commented on #6510
I also tested this with the azure functions blob binding API and got similarly poor results:
![image](https://user-images.githubusercontent.com/9014527/90349618-7fff0100-e008-11ea-8884-88ccdd4ee5ab.png)

[code]

This leads me to believe that this is not an issue with any of the python code in the blob SDK, but the azure functions host runtime itself

[2020-08-17 02:42] anthonychu commented on #6510
My thought initially was the gRPC to host overhead as well, but the fact that an empty response didn’t make a difference appears to rule that out. + @vrdmr @Hazhzeng

[2020-08-17 07:22] Zenuka opened #6511 "Application insights doesn't show failed request"
#### Investigative information
Please provide the following:

- Timestamp: 2020-08-17T06:45:10.850Z
- Function App version: v3
- Function App name: xxx
- Function name(s) (as appropriate): UnauthorizedTestTrigger
- Invocation ID: 34d91b83-abbf-4b2f-9ece-3a7f2ccef128
- Region: West Europe

#### Expected behavior
I would expect requests with a error status code (like 401) to be in the failed request

[2020-08-17 13:01] arek-avanade commented on #5663
@ankitkumarr Any update on this? I experienced the same problem today. Deploying from DevOps, WEBSITE_RUN_FROM_PACKAGE=1, the function seems to be running an old code after successful deployment. There was no change in our deployment scripts recently and everything seemed to be working fine until today, although maybe the problem was there before, just unnoticed.

[2020-08-17 13:20] RobinAstle commented on #5782
I'm struggling with the same.

[2020-08-17 14:07] mattmelton commented on #5663
I believe my issues were due to this Kudu bug: https://github.com/projectkudu/kudu/issues/2972.

We've worked around the issues by moving to container functions. Previously I saw code that triggered "impossible" exceptions, i.e. exceptions in lines of that didn't exist in that release.

[2020-08-17 15:37] anthonychu commented on #5782
@brettsam @fabiocav Thoughts on whether we can support logging here like aspnet‘s Configure method?

[2020-08-17 16:35] brettsam commented on #5782
The problem here is that an ILogger is a registered DI service, so using it to log DI registration is a bit of a "chicken-and-egg" problem. We'd need to pre-construct an ILogger to pass it in to you, then dispose it and re-create it when registration is complete. We may be able to do something like this and have App Insights and file logging configured but we'd need to think through the implicatio

[2020-08-17 16:49] DanielTongAwesome commented on #5405
Problem still exist when I am using:
Azure Functions Core Tools (3.0.2798 Commit hash: d9d99872a51c04b1c2783198b1ee1104da6b064f)

but after I tried it couple times, the issue suddenly disappear ... and get_json() returns json data ... this is really strange

if u are using postman:

1. in body, header enter content-type: application/json
2. in body type your json msg
3. use POST and include a body

[2020-08-17 21:03] SamGinzburg commented on #6510
Update: we've continued testing things and we aren't sure exactly what is going on - we found that the azure functions bindings perform about twice as well as the python blob IO after controlling for some other factors (still slower than the IO in python code running in our application) - but we are also investigating non-functions host problems

We will close this ticket until we have further det

[2020-08-17 21:10] #6510 closed, assigned to madelinegordon

[2020-08-17 21:11] brettsam commented on #6423
Moved this to backlog until we have a design and plan. Then we'll move it to a proper milestone.

[2020-08-17 21:12] brettsam commented on #6051
@vsub21 -- were you ever able to give @balag0's suggestion a try?

[2020-08-17 21:13] brettsam commented on #5915
Gonna go ahead and close. We can re-open if we need to track any specific work items.

[2020-08-17 21:13] #5915 closed, assigned to nobody

[2020-08-17 22:00] #4901 closed

[2020-08-17 22:03] brettsam commented on #6484
Have you tried any of the examples here? https://stackoverflow.com/questions/750574/how-to-get-memory-available-or-used-in-c-sharp

[2020-08-17 22:30] brettsam commented on #6500
That documentation seems wrong. It looks like the *default* is 5 minutes but you can set it to be as long as you need. Also, according to [this comment in the Service Bus code](https://github.com/Azure/azure-sdk-for-net/blob/6bebad4c0f6bd83ac46e9bab11870d1c49f2137b/sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageHandlerOptions.cs#L67-L68), you may see these errors occasionally in the backgrou

[2020-08-17 22:56] jeffhollan commented on #1207
Yes just got this working and confirmed with @wenhzha - if you run this command you can specify the maximum amount of instances you can scale to (some value between 1 and 200).  Docs should be merging soon

`az resource update --resource-type Microsoft.Web/sites -g <resource_group> -n <function_app_name>/config/web --set properties.functionAppScaleLimit=<scale_limit>`

I realize there are more spe

[2020-08-17 22:56] #1207 closed

[2020-08-18 02:11] anthonychu commented on #6510
@stefanushinardi not sure if you have time to try to repro it. But if you’re able to confirm code runs slower by simply being in a function app, please reopen.

[2020-08-18 02:14] SamGinzburg commented on #6510
@anthonychu we ended up finding that it was a combination of a few things in our own code, everything should be good!

[2020-08-18 04:44] lakshmanav commented on #5240
Same error on dedicated app service plan. function app runtime : v3 , C#

Container is disposed and should not be used: Container is disposed. You may include Dispose stack-trace into the message via: container.With(rules => rules.WithCaptureContainerDisposeStackTrace())
[code]

[2020-08-18 05:35] vijaymarada commented on #6490
This is very much needed to one who wanted to migrate from Web API's to function API's. Need to have a both the options as WebAPis have it. I hope this would be addressed soon.

Mostly, Deserialization matters here, if you deserialize with model contains Pascal case properties  then the result is in Pascal case only.   Seems by default the raw response is always camel case.

[2020-08-18 11:35] chmarti commented on #5306
Isn't WEBSITE_CONTENTAZUREFILECONNECTIONSTRING required consumption plans? So you're required to have WEBSITE_CONTENTAZUREFILECONNECTIONSTRING set or you see a warning about "Storage is not configured correctly", however if you set it then then you can't force different storage accounts for different slots (because they are swapped). If that is the case then isn't slot swapping is completely broke

[2020-08-18 14:30] brettsam commented on #5950
I *think* that we've fixed all issues identified in this thread (with the exception of the "debugging in VS with Docker" scenario in #6303) and that the fixes have all been released now. I'm going to close this issue -- if you run into this again please open a new issue (and feel free to tag me in it) so we can start a fresh investigation.

[2020-08-18 14:30] #5950 closed, assigned to brettsam

[2020-08-18 14:31] #1579 closed

[2020-08-18 14:43] brettsam commented on #6500
Can you try extending to longer and see if that works? And I will follow-up with documentation change.

[2020-08-18 14:45] cts-shrahman opened #6518 "More comprehensive rollout plan for Python"
#### What problem would the feature you're requesting solve? Please describe.
Continuing trend of issues with Python that is generating support volume and  have caused some customers concerns from a platform reliability point of view.

#### Describe the solution you'd like
Better test coverage and rollout process. More validation in between batches.

#### Describe alternatives you've considered
A

[2020-08-18 14:55] asipras commented on #6500
@brettsam  I never had maxAutoRenewDuration in my host.json and everything worked fine. The issue started happening recently when function runtime tried to complete the message after function execution (more than 10 mins).

For now I have put maxAutoRenewDuration to same as functionTimeout which is 01:00:00. After applying this setting the function runtime completes the message as expected.

[2020-08-18 14:56] brettsam commented on #6512
@TehWardy -- could you share your project file? I'm trying to set up a repro and want to make sure I'm using the same packages that you are.

[2020-08-18 15:03] TehWardy commented on #6512
This is an extract from a workflow engine implementation I built.
It's a ton more complex than what's here.
Net result is that anything I try to do with Roslyn inside an azure function just seems to result in this issue.

If it helps we use Microsoft teams so i'd happily do a meeting and show you what i'm dealing with but ripping this out might be a bit of a task given all the moving parts.

Assum

[2020-08-18 15:07] brettsam commented on #6512
Are you using Functions v2 or v3? I'm able to repro against v2 -- and if I switch to using `<PackageReference Include="Microsoft.CodeAnalysis.Scripting" Version="3.5.0" />`, it works. Are you able to use that package?

I suspect there's something going on with our assembly unification code here -- I'll keep investigating.

[2020-08-18 15:08] TehWardy commented on #6512
Raw source for the functions app project file ...

[code]
The ScriptRunner class above is in this project which is referenced as "..\..\Back End\Framework\Workflow\Workflow.csproj" above ...

[code]

Hopefully these lend some key light on the subject.

[2020-08-18 15:18] TehWardy commented on #6512
@jeffhollan Thanks for getting ball rolling on this one, hopefully @brettsam will have it cracked soon.
This has been a thorn in my side for some time.

[2020-08-18 15:22] pragnagopa opened #6519 "[CustomHandler]Publish Trouble Shooting Guide"
cc @anthonychu @yojagad

Tracking item to add TSG for CustomHandler.

[2020-08-18 15:35] jlb399byu commented on #6512
I'm having this same issue with Microsoft.Xrm.Sdk.dll... I call JsonConvert.DeserializeObject<class>() and I get the missing assembly error.  I put in code right in front of this call to get all the appdomain assemblies and see it clearly in the list, same version, same id that is shown in the error.  No other duplicate assembly in there.

I also instantiate an instance of a class in the assembly

[2020-08-18 17:20] brettsam commented on #6512
I think there's two issues here:

1. Our latest Sdk versions will "clean" your output folder for assemblies that we don't think you need. But it can be too aggressive. We have an issue (https://github.com/Azure/azure-functions-host/issues/5894) to make this more configurable, but for now you can turn it off completely by adding the property `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutp

[2020-08-18 19:44] pragnagopa commented on #6493
cc @gzuber - this PR build has been failing on the application insights test as well.

[2020-08-18 20:42] pragnagopa commented on #6329
Issue https://github.com/Azure/azure-functions-host/issues/1237 has more details on headers that are removed in functions.

@klogan12  - can you provide more details on what you are looking for? Is it specific headers? Also, please add more details on how this issue is related to proxies?

[2020-08-18 20:46] pragnagopa commented on #6409
Apologies for delayed response. Is this still happening? If yes, please add full exception stack trace and also provide latest time stamp when you saw the exception. Thanks!

[2020-08-18 20:54] gzuber opened #6521 "Fix Flaky Validate_HostLogs Test"
Microsoft.Azure.WebJobs.Script.Tests.ApplicationInsights.ApplicationInsightsNodeEndToEndTests.Validate_HostLogs

has been failing in devops intermittently lately but passes locally. It was disabled in the meantime but needs to be looked at to improve consistency. This is in v2 and v3.

[2020-08-18 20:55] gzuber opened #6522 "Fix Flaky Specialization_ThreadUtilization Test"
Microsoft.Azure.WebJobs.Script.Tests.SpecializationE2ETests.Specialization_ThreadUtilization

has been failing in devops intermittently lately but passes locally. It was disabled in the meantime but needs to be looked at to improve consistency.

[2020-08-18 20:56] gzuber opened #6523 "Fix Flaky FunctionLogging_Succeeds Test"
Microsoft.Azure.WebJobs.Script.Tests.EndToEnd.CSharpEndToEndTests.FunctionLogging_Succeeds

has been failing in devops intermittently lately but passes locally. It was disabled in the meantime but needs to be looked at to improve consistency.

[2020-08-18 21:37] TehWardy commented on #6512
Ah nice one :)
I knew it would be something simple ...
I also pulled some bits in to the project with the function (it was separated on to another project but I figured you would just have the one) and that cracked it!

getting this now ....

Not sure if it's related yet ... still digging through it.
It's been a long day had to rebuild my computer (upgraded the board, cpu, and got one of those fan

[2020-08-18 21:40] brettsam commented on #6512
Did you change `Assembly.LoadFile()` line to `loadContext.LoadFromAssemblyPath()`? I saw that exception as well until I changed that load call.

[2020-08-18 21:42] AnatoliB commented on #6525
This seems to be a feature request for the queue binding in general, not specific to PowerShell.

[2020-08-18 21:46] TehWardy commented on #6512
Where did you get that from ?
For me it says "Assembly does not contain a definition for LoadFromAssemblyPath"

[2020-08-18 22:05] brettsam commented on #6512
use the `loadContext` you found above, not `Assembly`.

[2020-08-18 22:37] TehWardy commented on #6512
hmmm same error ...

[code]

Did I miss something in what you said here?

[2020-08-18 22:45] brettsam commented on #6512
Can you double-check what your loadContext is? It should be of type `FunctionAssemblyLoadContext`. I just tried again and I get that exact exception when I'm loading the file into the wrong context with `Assembly.LoadFile()` so it feels like that's still happening for you.

[2020-08-18 22:47] pragnagopa commented on #6493
Addressed in referenced PR.

[2020-08-18 22:47] #6493 closed, assigned to pragnagopa

[2020-08-18 22:54] TehWardy commented on #6512
![image](https://user-images.githubusercontent.com/6891030/90573353-2df7e000-e1ae-11ea-8e49-6daf8625d8de.png)
![image](https://user-images.githubusercontent.com/6891030/90573549-98108500-e1ae-11ea-9bce-73bb695accfc.png)

It looks like it's loaded everything though as I might expect.

[2020-08-18 23:06] brettsam commented on #6512
Seems like something else is going on so there must be part of the repro that I'm missing.

Can you list your LoadContexts with `AssemblyLoadContext.All;` -- do you have 2?

And where does the exception get thrown in your code? When you figure out `referencesNeeded` in `Run<T>`?

[2020-08-18 23:08] TehWardy commented on #6512
![image](https://user-images.githubusercontent.com/6891030/90574125-0d308a00-e1b0-11ea-8957-ce74af5ec827.png)

yup 2 :)

[2020-08-18 23:10] TehWardy commented on #6512
https://teams.microsoft.com/l/meetup-join/19%3a1e9f3aca630d433782fa948adc117ed8%40thread.tacv2/1597792190310?context=%7b%22Tid%22%3a%22c3c8cdf3-cd31-4a00-b560-9f31156d1aa2%22%2c%22Oid%22%3a%22d8d42129-c423-4977-a7fd-db75e9d1b4d9%22%7d

Would this help ^

[2020-08-19 01:00] ghost commented on #6133
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-19 01:26] asipras commented on #6500
@brettsam

it will be great if you can shed some light on relationship between Message Lock Duration (see the picture below), functionTimeout and maxAutoRenewDuration. With the Message Lock Duration is set to 1 minute, the function is configured to autocomplete the message with functionTimeout set to 00:10:00 (10 minutes) and maxAutoRenewDuration set to 00:5:00 (5 minutes). What does this mean whe

[2020-08-19 02:58] prabh-62 commented on #6490
@ahawes-clarity You could use a custom `OkObjectResult()` to keep casing as Pascal Case

[code]
Nuget: [Microsoft.AspNetCore.Mvc.NewtonsoftJson](https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.NewtonsoftJson)

[code]

[2020-08-19 04:34] ahawes-clarity commented on #6490
@prabh-62 Thanks.

I did try setting the ContractResolver but I could not get it to work. I am looking for a solution that doesn't require me to change all the existing code. I may try again in the near future if there isn't a better solution.

My current workaround is that I have control on the receiving end and can accommodate the Camel Case JSON. But, there should be flexibility in the JSON out

[2020-08-19 06:06] #6247 closed, assigned to gzuber

[2020-08-19 06:47] steeling opened #6531 "[CustomHandler]Looking for language specific code with executable when running in a docker container"
Verified in multiple worker runtimes (python and node), and on multiple distributions.

## Issue:
Running an azure function in a docker container that dispatches queueTriggers to either an httpWorker (deprecated), or a customHandler fails.

## Expected:

Success! It works when running `func start`, but docker run fails with the below error.

## Error Details
Using an httpWorker the error is:

[cod

[2020-08-19 07:56] spaelling commented on #6525
I may be misunderstanding, but I am talking about the `visibilitytimeout`, see [URI Parameters](https://docs.microsoft.com/en-us/rest/api/storageservices/put-message#uri-parameters) in the Queue service REST API.

ie. the message will not trigger a function before the "visibility has timed out".

[2020-08-19 13:36] prabh-62 commented on #6490
<img width="1416" alt="pascal_case_function" src="https://user-images.githubusercontent.com/13006107/90641511-522fdd00-e1ff-11ea-822d-9e2ede329507.png">

I had no issues getting `PascalCase` json back from Azure Function API. What specific error did you encounter?

[2020-08-19 13:37] TehWardy commented on #6512
Yeh that's the spot ...

[code]

the exact exception is ...

Regardless of weather that's true or not ... i'm a bit confused as to why the code above results in that being thrown.
I'm not directly referencing that dependency at all, I guess something in the Http Stack is ... I do have Signalr in this so that I can get realtime feedback on the function in my web pages as it runs, maybe that needs i

[2020-08-19 15:10] TehWardy commented on #6512
Ok this seems to be the line causing that exception not the one above it ...

[code]

[2020-08-19 15:21] brettsam commented on #6512
Sorry, been pulled into an incident so may be slower to respond today -- any chance you could put a smaller repro project somewhere (even in a gist) that I could grab and run? That would help. My much smaller repro (just with a function calling your ScriptRunner) gets past that point, so there's some gap between what I've got and what you've got.

For example, here's my repro that works okay (note

[2020-08-19 15:46] klogan12 commented on #6329
@pragnagopa  -  I have used azure proxy.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies

I want to remove certain incoming headers in the proxy  layer before forwarding

[2020-08-19 15:51] TehWardy commented on #6512
Yeh the logging stuff is Signalr based callbacks to the UI.
I think I have something I can send you, i've been pulling out the relevant bits for a while.

[2020-08-19 16:42] TehWardy commented on #6512
Ok so I pushed an extraction of the core guts of this code to https://github.com/TehWardy/ScrapHeap

Fire it up then call the "Execute" function in the normal way (postman or whatever) with this body ...

[code]

The idea behind this is that the back end serves up an array of activities that get linked up with the "problem code" using roslyn based dynamically compiled functions.
Stick a breakpoint

[2020-08-19 16:48] philtweir opened #6532 "Linux Consumption Plan Auth Redirect"
Linux cold starts on consumption plan have begun redirecting to AD login on an OPTIONS request, in at least certain circumstances (all cases we have tried). The failed request does not seem to trigger function start-up. Once a direct request is done to e.g. a GET endpoint, this succeeds as normal (and triggers function start) - further calls to OPTIONS and GET work as expected. This occurred on bo

[2020-08-19 16:54] balag0 commented on #6532
Please share the app name. You can use https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately if required.

Is EasyAuth enabled on the function app? Does turning that off help?

cc @ConnorMcMahon

[2020-08-19 16:58] philtweir commented on #6532
No EasyAuth - it is not possible to enable EasyAuth on a Linux Consumption Plan app -- this is a separate issue, but seems to be by design: https://github.com/MicrosoftDocs/azure-docs/issues/52954

I'd rather not share the app name, but as it was deleted (as part of the workaround) I don't have an invocation ID either -- I would need to create fresh again on a new Linux Service Plan.

[2020-08-19 17:03] balag0 commented on #6532
Got it. I was not sure what to make of
_Users were registered in AD B2C_

Also it looked like you mentioned the app redirects to AD tenant so not sure where that is coming if from if there is no EasyAuth enabled.

Anyway if you can share a repro or appname which is showing this behaviour we can investigate.

[2020-08-19 17:09] philtweir commented on #6532
Great - thanks. Yes, I was unclear on where that was coming from also - other than the JWT, I'm not too sure where it'd be getting tenant details.

I don't see any reason that using AD B2C (vs usual AD) would be relevant, but we have hit one or two issues with B2C/Function interaction that have been unexpected (e.g. https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1795)

[2020-08-19 17:26] AnatoliB commented on #6525
@spaelling Yes, this is how I understand this, thank you. `Push-OutputBinding` does not invoke REST APIs directly. Instead, it communicates with a common framework that handles bindings for all languages in Functions. What you are asking for is a great feature request, but we would need to enable it for queue binding in general, not as a PowerShell-specific capability. This is why I've transferred

[2020-08-19 17:29] khmerforce opened #6533 "Azure Function Blob Storage Trigger is not running"
Please help. I enabled the Azure Function but for some reason when I upload the file. The Azure Function does not process when I check the log. I waited for like 30 mins the process is still not running. Please help me. I'm not sure where to check or how to debug it in order to make it run. Thank you!

[2020-08-19 18:37] apawast opened #6534 "API to help display important error or misconfigurations on the Fx overview page"
Portal ask: For the Function App Overview page, portal wants to bubble up important errors in the notifications tab. The request is for an update to APIs to get a summary of the most important errors and misconfigurations for all the functions in an app.

[2020-08-19 19:03] yojagad opened #6535 "Fix download API"
Right now `/admin/functions/download` downloads an empty zip file.

[2020-08-19 19:04] yojagad commented on #6448
Opened separate issue for https://github.com/Azure/azure-functions-host/issues/6535

[2020-08-19 19:21] brettsam commented on #6500
It means you run the risk of losing the lock on the message. You should make sure that `maxAutoRenewDuration` is as long as (or longer) than function timeout. A quick summary:

When Service Bus dequeues a message, it locks it (but leaves it in the queue). This means no one else can access it. The lock will last for `Message lock duration` -- in your case 1 minute. If you do nothing to that message

[2020-08-19 19:31] apawast opened #6536 "Function-level API to to pull all errors for each function to display on the Function's overview page."
Portal ask: a Function-level API that allows them to pull all errors and misconfigurations for each function separately. This will be used for a notification tab in the individual function's overview blade.

Work items:
- https://github.com/Azure/azure-functions-host/issues/6979
- https://github.com/Azure/azure-functions-host/issues/6980
- https://github.com/Azure/azure-functions-host/issues/6981

[2020-08-19 19:35] pragnagopa opened #6537 "Create alerts for dynamic placeholder pool policy provider"
Need to create alerts for
- `DynamicPlaceholderPoolPolicyProvider` not running on a stamp
- PoolPolicy generated by `DynamicPlaceholderPoolPolicyProvider` is very drastically different from policy calculated from usage query

[2020-08-19 20:02] brettsam opened #6538 "Enable console logs from language workers to flow to Diagnostic logs"
From customer:

[2020-08-19 20:07] fabiocav commented on #6473
Release pipeline updated.

Closing as done

[2020-08-19 20:07] #6473 closed, assigned to yojagad

[2020-08-19 20:11] fabiocav commented on #6448
Issue validated.

[2020-08-19 20:11] #6448 closed, assigned to yojagad

[2020-08-19 20:18] asipras commented on #6500
Thanks for your clear explanation @brettsam. This all makes sense now.

I would like to comment though that when autocomplete is set to true, the maxautoRenewDuration should be atleast set to be equal to or larger then functionTimeout. The reason being that the user is already expecting the function to run till functionTimeout and if the maxautoRenewDuration is set to smaller value then the functi

[2020-08-19 20:18] fabiocav commented on #6335
Closing as done.

[2020-08-19 20:18] #6335 closed, assigned to yojagad

[2020-08-19 20:20] fabiocav commented on #6393
Closing as resolved. There was an issue with the package deployed.

@yojagad and @soninaren can share the details if needed.

[2020-08-19 20:20] #6393 closed, assigned to yojagad

[2020-08-19 20:41] fabiocav commented on #5840
This will actually be bundled with some other changes in sprint 82

[2020-08-19 21:46] pragnagopa commented on #6519
@anthonychu - FYI pushing this out to sprint 84 to focus on higher priority items. Please let me know if there is a date to have this completed.

[2020-08-19 21:47] pragnagopa commented on #6392
@anthonychu - Same here. Pushing this out to sprint 84 to focus on higher priority items. Please let me know if there is a date to have this completed.

[2020-08-19 22:15] brettsam commented on #6512
Well, good news is that I'm now able to repro -- I'll need to do some more debugging tomorrow to see what's happening in your case. I wonder if something your workflow execution is doing is causing the load context to change (that could explain why I wasn't able to repro in my sample).

[2020-08-19 23:46] #5893 closed, assigned to mhoeger

[2020-08-20 05:24] ahawes-clarity commented on #6490
@prabh-62, yes your solution works but it would mean changing code I did not want to change. If I need to I can use your solution.

In my case most of my functions are similar to this, where a handler returns an IActionResult that is then returned by the function. I would need to refactor all the handlers (which return more than just Ok results) to specify the JsonSerializer settings. Like I said,

[2020-08-20 11:22] shibayan opened #6540 "extensions.json is not generated correctly when ReadyToRun is enabled"
With ReadyToRun enabled, the ExtensionsMetadataGenerator reports an assembly loading error and does not generate the required extensions.json correctly.

NET Core on x64 because it is not possible to load R2R pre-compiled assemblies for win-x86.

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create new function app
2. Install Durable Functions (v2.2.2)
3. Add new orche

[2020-08-20 15:15] gabalesev commented on #3266
I am experiencing a slightly similar issue:

"Microsoft.WindowsAzure.Storage: No such host is known. System.Net.Http: No such host is known. System.Private.CoreLib: No such host is known."

My storage account is of type "StorageV2 (general purpose v2)"

I'm not sure what to do at this point.

[2020-08-20 15:20] instantsquid commented on #3266
@gabalesev - I should have replied to my own comment above. Apologies!

Have you tried using a general purpose storage account but NOT V2? This appears to be working for me now.

[2020-08-20 15:25] gabalesev commented on #3266
Thanks for your quick reply.

Unfortunately, I can't do that easily: https://stackoverflow.com/questions/57388796/is-it-possible-to-downgrade-a-v2-storage-account-to-v1

[2020-08-20 15:38] anthonychu commented on #6462
I think this is related to https://github.com/Azure/azure-functions-host/pull/6308

It should be fixed now, please try again. If it’s not working in core tools, there should be a new release published soon.

Cc @pragnagopa @yojagad

[2020-08-20 15:45] pragnagopa commented on #6462
Thanks for reporting. Closing as this should be fixed now. Please reopen if you still run into an issue.

[2020-08-20 16:38] pragnagopa commented on #6537
This is done.

WAWS Self Service Alert ID 1110 and 1111

[2020-08-20 16:38] #6537 closed, assigned to pragnagopa

[2020-08-20 16:58] mathewc opened #6541 "[V1] Backport EventTimestamp formatting change"
We need to backport the formatting change made in v2/v3 (https://github.com/Azure/azure-functions-host/commit/1c95064041a8208666304f6dc92341fb4b318b9e) to v1 as well for consistency.

[2020-08-20 17:00] shibayan opened #6542 "Allow External Startup to update the config when Runtime Scale Monitoring is enabled"
#### What problem would the feature you're requesting solve? Please describe.

I would like to be able to use Key Vault to manage secure secrets in applications using Premium Plan and VNET Integration / Private Endpoint.

In the current version (3.0.14287.0), the host fails to start with the following error, even if Runtime Scale Monitoring is enabled

#### Describe the solution you'd like

I unde

[2020-08-20 19:05] soninaren commented on #6534
Is the expectation here to introduce a new API or update an existing API? If an update is expected which api are we talking about in this case?

The status endpoint currently show error message in case function app is not in running state.

@apawast can you provide a more detailed description, possibly with a sample?

[2020-08-20 21:17] ijoosong opened #6543 "Include tooltops or other visual queues during ‘Create Project’ so customers can understand configuration options."
#### What problem would the feature you're requesting solve? Please describe.
Many of the options during the create function create project flow in VSC are not intuitive. AA key example of this are the 3 auth levels (Admin, Functions, Anon). However, things like triggers can easily be explained and save the customer some time googling these options.

To help aide customers, it might be helpful to