[2020-04-22 16:38] #5690 closed

[2020-04-22 19:22] guderkar opened #5906 "Calling http function from another function stucks"
Hi I have two functions
1. HTTPTrigger function which only returns string
2. TimerTrigger functions which calls previous function through requests.get(...)

When I run the function app locally it always stucks on requests.get()
[code]

The behavior when the function app is deployed is not deterministic. Sometimes the function runs OK and sometimes I get 30min timeout exception.

Is this some kind

[2020-04-22 21:11] paulbatum commented on #2636
@petro2050 Can you give me more details about what you saw when you said "I made several changes in a single publish and some were deployed while others were not." If you are running from a package, you might have had some instances running the older package, and some instances running the newer package, but I'm not aware of any possible condition where only some of the changes in your new package

[2020-04-22 21:16] ankitkumarr commented on #5906
Hi @guderkar, could you share with us your code that reproduces the issue?

We run a user's Python function code in a single thread, but with `async` support. So, if you have a blocking call waiting on a different function, it's possible that this deadlock as it's waiting on a different function which never gets a chance to execute while this is running.

I think if you can make your HTTP function

[2020-04-22 22:01] kulkarnisonia16 commented on #5906
Alternatively, you could also split the two functions in two different apps, and that should work fine. Thanks!

[2020-04-22 22:27] cygnim commented on #4577
@brettsam, thanks for the response. I am basing this off the documentation [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings). Paraphrased below:
[code]

This seems to be the only way to get config values from the default configuration provider within the IFunctionsHostBuilder. But this means the only way to inject

[2020-04-23 00:05] yojagad commented on #5756
If the workaround @fabiocav mentioned worked, I'm going ahead and closing this issue since we're tracking a fix for the same here. https://github.com/Azure/azure-functions-host/issues/5894

[2020-04-23 00:05] #5756 closed, assigned to yojagad

[2020-04-23 05:00] balag0 commented on #5722
@smokedlinq Thanks, I am looking into it.

[2020-04-23 07:10] guderkar commented on #5906
Code is fairly simple. It's in the attachment.
[deadlock.zip](https://github.com/Azure/azure-functions-host/files/4520777/deadlock.zip)

If someone demands dedicated service plan for the app then splitting would mean double the cost so I would rather avoid that. (For consumption plan it's ok)

[2020-04-23 08:12] DK-Dennis commented on #5722
@balag0 We've gone with another solution, in stead of listing the keys, we create function apps with a (known) host key to use. I don't particularly like that, but there you go.
Are you still interested in me trying to reproduce the problems I've experienced?

[2020-04-23 14:46] brettsam commented on #4577
The code I provided above is the right way to do this -- it's not even a workaround. No need to be patient :-) Let me know if it works for you -- or if it's missing something you need.

One of the reasons we keep punting this issue is because for *most* scenarios, access to `IConfiguration` isn't required during startup and other issues with higher priorities keep moving above this one. You can us

[2020-04-23 15:38] Frankwayne opened #5907 "V1 Function Queue Trigger message failing consistently after random amount of time."
#### Investigative information

Please provide the following:   I cannot provide some of the information. I will be glad to give it over an email though.

- Timestamp:
- Function App version:    V1
- Function App name:
- Function name(s) (as appropriate):  NhsApplicationUpdate
- Invocation ID:
- Region:        East US 2 / Central US

This is my failed Message information pulled from the queue.

Ex

[2020-04-23 16:17] espray commented on #4577
@brettsam would surfacing the IConfigurationBuilder be on the roadmap or even on option?
Basically I am wanting to add configuration from an Azure App Configuration store to the `IConfiguration`.

[2020-04-23 16:27] brettsam commented on #4577
`IConfigurationBuilder` work is in-progress right now (and higher-priority as that's something that can't be done really easily today). The PRs are out -- but we've had a long backup of our deployments so we're waiting before we add new features at the moment. Those PRs are here:
-	https://github.com/Azure/azure-webjobs-sdk/pull/2407
-	https://github.com/Azure/azure-functions-dotnet-extensions/pul

[2020-04-23 18:36] Arash-Sabet commented on #5098
This issue is a huge blocker and addressing it has to be expedited. If there's a P1 label indicating a higher priority than P2, that one should be applied instead of P2. We cannot proceed with our project gracefully without a fix! @fabiocav

[2020-04-23 18:37] xinyi-joffre commented on #5841
I am also running into this issue, since we want to set additional JsonOptions in our Startup.cs file, but there doesn't seem to be a way to do that. In older functions versions, we could call `builder.Services.AddMvcCore().AddJsonFormatter...`, and configure options off of that. In Functions v3, the functions won't start if AddMvcCore() is called by our startup.cs.

@mhoeger, is there any way to

[2020-04-23 18:54] thomasvdb commented on #5832
@yojagad Been running OK for almost a month now so I’ll close this. Thanks!

[2020-04-23 19:02] #5832 closed, assigned to yojagad

[2020-04-23 20:04] fabiocav commented on #5098
Assigning this to the next sprint. @Arash-Sabet, if you can open an issue detailing your scenario, we might be able to assist with a workaround until this is resolved.

[2020-04-23 20:05] fabiocav commented on #5098
@anthonychu thank you for the patience, can you please share more details on what fix you're referring to?

[2020-04-23 20:06] Frankwayne commented on #5907
It started to happen to us again today.  Other Function calls are running just fine.   This is the only call with a cosmosDB attribute  and SQL query.

[2020-04-23 20:17] cygnim commented on #4577
@brettsam, thanks for the response. I realized after I posted that IOptions doesn't solve the challenge I'm experiencing- that I want to be able to use IConfiguration in Startup to configure my services. I appreciate the suggestion of registering IConfiguration as a service. I'm not keen on it, but it is a viable workaround to be sure. :)

I'll just wait for https://github.com/Azure/azure-webjobs-

[2020-04-23 21:40] pragnagopa opened #5908 "[V3]Update runtimeAssemblies.json"
Remove assemblies that are not part of shared framework:
- Microsoft.Data.OData
- System.Spatial
- Microsoft.Data.Edm

Microsoft.Net.Sdk.Functions need to updated after updating the list. Otherwise, users will get 'System.IO.FileNotFoundException' errors.

[2020-04-23 22:01] Arash-Sabet commented on #5098
@fabiocav thanks for your reply. I will try to get you a bare-minimum project tomorrow. The only workaround that I could think of was to avoid the "scoped object" dependency injection and instead pass the "scoped" object's instance by adding an interface property to the consumer/service object. I was just wondering, what workaround you may be thinking of so that I could think about it ahead of tim

[2020-04-24 05:16] balag0 commented on #5722
Thanks for the help @DK-Dennis. I got a repro from smokedlinq and hopefully we can root cause the issue with that. I would like to make sure the fix we identify works for your scenario also. I will provide more details a soon as I know more. For now I think we have enough info to investigate.

[2020-04-24 09:49] Noxxys opened #5910 "BlobTrigger firing again on a different machine"
#### Is your question related to a specific version? If so, please specify:
no

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I have a few Azure Functions running every day in production, and one of them is using a BlobTrigger, which is triggered a few hundred times per day.

Whenever I want to debug this Azure Function on my local machine, the

[2020-04-24 11:07] mkarthik156 opened #5911 "System.UnauthorizedAccessException while adding 'function.proj' file"
For In Portal development on Azure functions, tried installing packages using "function.proj" file.
Following(Attached Error_log.txt) is the error message received.
[Error_log.txt](https://github.com/Azure/azure-functions-host/files/4528444/Error_log.txt)

#### Investigative information

Please provide the following:

- Timestamp: 2020-04-24T10:57:52.006
- Function App version: ~3
- Function App n

[2020-04-24 11:18] mkarthik156 commented on #5893
Earlier the same issue occurred in Function app version ~2 months back #4665, and the workaround worked back then.
The same issue is back with version ~3.

[2020-04-24 12:33] jcageman opened #5912 "Requiring ILogger<> during function startup throws InvalidOperationException"
I would like to initialize some caching code within an azure function. This caching service injects an ILogger<> which cannot be injected apparently, since not all required services have been registered.

When running the following line of code (part of the code below). i get the following exception:
`scope.ServiceProvider.GetRequiredService<ICachingService>().Initialize();`

[code]
#### Investiga

[2020-04-24 13:22] brettsam commented on #4577
Do your services need to be created directly in Startup? Or are they created in factory delegates like you showed above?

[2020-04-24 13:25] stap123 commented on #3741
@brettsam Any development on this, is it likely to be added to a sprint any time soon?

[2020-04-24 18:22] kdubau commented on #5240
+1

[2020-04-24 18:43] antonGritsenko opened #5915 "[CRITICAL] Azure AD token never refreshed"
#### Investigative information

Please provide the following:

- Timestamp:  2020-04-24T18:20:52.3891996Z
- Invocation ID: 7bd1d4f8-a13e-4af8-8dde-a02d47340758
- Region: West Europe

#### Repro steps

1. Create Azure Function as usual, enable Azure AD authentication, action when not authenticated: log in with Active Directory.
2. Create new Visual Studio project, add Token extension.

3. Add code:

[2020-04-24 19:23] vrdmr commented on #6328
It works correctly when tried locally [(sending events using postman)](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid-trigger?tabs=csharp#local-testing-with-viewer-web-app).

Bindings:
[code]

My `run.ps1`
[code]

[code]

[2020-04-24 23:19] balag0 commented on #5722
@smokedlinq It looks like the template you shared is for a windows app and you mentioned you were seeing the failures on linux. Specifically I was looking for
"reserved": true,
in the serverfarm properties.

Is there a different template you were using earlier?

[2020-04-24 23:21] balag0 commented on #5722
@ alI am closing this thread since there are too many different issues being conflated and it is very difficult to see what needs to be investigated / what is failing.

Please open a new (separate) issue and feel free to @ me and I will follow up individually.

[2020-04-24 23:21] #5722 closed

[2020-04-24 23:26] petro2050 commented on #2636
@paulbatum How can I know how many active workers are running in a given time? I normally look at Kudu's Process Explorer tab. Since I'm still in DEV, I only see one active worker (which is fine). I have yet to see two or more.

What happened with me is that I have a common helper class that saves records to an Azure Table. I changed the partition key logic to save a `long` instead of a `Guid`. Af

[2020-04-24 23:27] petro2050 commented on #3965
@fabiocav Any input with regards to the JWT issue would be appreciated.

[2020-04-25 00:23] xinyi-joffre commented on #4855
Just ran into this with Azure Functions on Linux App Service Plan (S1) deployed from portal in East US. We've run into this multiple times with our function apps and az functionapp deployments are frequently failing. Function apps are not manageable from portal due to frequent inaccessible or unreachable errors.

We are not using ILB or any firewall rules.

Error:

OK - https://functions.azure.com

[2020-04-25 03:15] weng271190436 commented on #1627
@brettsam no I am just using Write-Information (powershell)

This is my repository (I no longer worked on this team though)

https://microsoft.visualstudio.com/Universal%20Store/_git/Commerce.Shared.GenevaActions?path=%2FAzureFunctions%2FHttpTrigger%2Frun.ps1

The version is 2.0

[2020-04-25 03:56] shibayan commented on #6328
It's still happening when running on Azure and In-Portal, not locally.

If you try my repro steps I get an error.

[2020-04-25 05:37] mjisaak commented on #5722
@balag0 Seriously? The issue I described still exists and is 100% reproducible. I also spend multiple days tracking down the issue from a very large deployment to this small template in order to help you fix the issue.

[2020-04-25 10:41] vitalragaz commented on #5841
Same problem here. I need to set `ReferenceLoopHandling.Ignore` globally but can't find a way to do that? Anyone found a solution?

As example like:
[code]

[2020-04-25 19:15] balag0 commented on #5722
@mjisaak I tried the template a few times and deployment went through fine.

Can you clarify if it is the deployment that is failing or the sites don't start up and fail with 503?

[2020-04-26 09:17] mjisaak commented on #5722
@balag0
It is the deployment that fails. Sometimes, I get the error on the first (initial) deployment. At least the second deployment will fail 100% -
I tried it on multiple different subscriptions and locations.

To make it easier for you, I adopt the template to use unique names for the resources so just provide a resource group name and execute the following deployment **twice**:

[code]

This

[2020-04-26 10:26] ThomasArdal commented on #1864
I'm also seeing this error. This is the most recent instance:

[code]

I'm running on Functions v2 and all of the functions inside this app are HTTP triggered and short living.

I agree with the other people in this thread. If this isn't an issue, it shouldn't be logged as an error. Errors are something that we need to look at and not simply ignore (IMO).

[2020-04-26 14:07] vitalybibikov commented on #3965
@petro2050 It's yet another not tested release of AF with an issue in 3.0.6

To fix it, for now add in project file.

[code]

Still can't deploy with the settings below:

[code]

with error:

`Unable to optimize assemblies for performance: a valid runtime package was not found. Either set the PublishReadyToRun property to false, or use a supported runtime identifier when publishing.`

[2020-04-26 18:05] balag0 commented on #5722
Thanks, this was helpful.

Since the template has WEBSITE_RUN_FROM_PACKAGE set but there is no actual content deployed , the file system check fails.
https://github.com/Azure/azure-functions-host/blob/9fb8b40dbeb1b5a902094bc88e9766fa8945a6b8/src/WebJobs.Script.WebHost/WebJobsScriptHostService.cs#L162

Removing WEBSITE_RUN_FROM_PACKAGE = 1 should work. If you are looking to deploy content using arm

[2020-04-26 18:29] leafsy commented on #5911
Having the same issue on the portal (trying to install the Microsoft.Azure.Devices package). Tried the previous workaround but no luck either.

[2020-04-26 22:30] KasunKoswattha commented on #5310
Thank you for this. :)

[2020-04-27 08:13] ThomasArdal commented on #1864
Idea! Maybe use structured logging properties for the `2020-04-26T09:50:57.017Z (18690 milliseconds ago)` part of the message. This would make it a lot easier for people to ignore errors of this type 👍

[2020-04-27 10:19] cjjohansen commented on #5963
Chiming in to say this issue is relevant for me as well. Would like to get it solved.

[2020-04-27 15:09] safihamid commented on #3965
@vitalybibikov are you trying to build from a non-windows machine? If RID is win-x86 or win-x64 then you will need to build from a Windows machine, similarly you can’t build Linux-x64 from Windows.

[2020-04-27 18:54] groovy-sky opened #5918 "import uuid in python"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

Running a python function on consumption plan. Using default HttpTrigger funct

[2020-04-27 19:27] hallidev commented on #5860
I've been battling this exact issue for at least a year now. I've been using Zip Deploy with a custom Directory.Build.targets for the entire time since publishing the Zip Deploy screws up extensions.json. This workaround has been good enough until the latest update where it now breaks locally but is still required to run in Azure. I've abandoned Azure Functions for every use case I can away with,

[2020-04-27 19:50] dsm0880 opened #5919 "Ability to Change Host.Json Customer Headers Per Environment"
#### What problem would the feature you're requesting solve? Please describe.
I'm deploying a new CSP (Content Security Policy) for my application. The objective is to whitelist all the resources you app will use in a single header. This header changes per deployment slot for our application. The custom headers property in the host.json is great, but I would love to reference the Application Setti

[2020-04-27 20:20] mhoeger commented on #5918
I think the following App Settings might be missing to "do a remote build" if your dependencies are not already bundled in the payload: https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-technologies#remote-build-on-linux

How are you deploying this app by the way?

cc: @Hazhzeng

[2020-04-27 21:04] Christoba opened #5920 "Functions 3.x support in AzureUSGovernment"
Functions version 3.x / C#

Are 3.x functions available in the AzureUSGovernment cloud? When attempting to target within the portal, a general error is issued:
[code]

When using `Set-AzWebApp` to target version 3 via app setting the following error is returned:
[code]

[code]

Given the [GA status](https://azure.microsoft.com/en-us/updates/azure-functions-runtime-30-is-now-available/), I would ex

[2020-04-27 21:32] alrod commented on #3135
Also need check the restart code paths. We had a [incident](https://icm.ad.msft.net/imp/v3/incidents/details/185421395/home).

[2020-04-27 21:57] Christoba commented on #5920
The issue appears to be related to the deployment of the app service rather than runtime support. Closing the issue and researching Set-AzWebApp further.

[2020-04-27 21:57] #5920 closed, assigned to gzuber

[2020-04-27 23:15] Christoba commented on #5920
When removing the setting of the following App Settings from Set-AzWebApp, the deployment is successful.

WEBSITE_CONTENTAZUREFILECONNECTIONSTRING
WEBSITE_CONTENTSHARE

[2020-04-27 23:25] anthonychu opened #5921 "Custom handlers - Forward path from original request"
When proxying HTTP requests, it doesn't appear the worker is able to access the route from the original request.

For instance, given this host.json and function.json to create a function that triggers on every route:

[code]

[code]

It doesn't look like the worker is able to access the original route (`restofpath`). Perhaps this can be made available as an HTTP header?

[2020-04-28 00:28] Hazhzeng commented on #5918
Hi @groovy-sky,

The uuid library is a builtin library in Python 3.7. You shouldn't include it in requirements.txt.
Otherwise, it will download the [unexpected version](https://pypi.org/project/uuid/) from PyPI.

[2020-04-28 02:51] balag0 opened #5922 "Add support for AzureWebJobsSecretStorageType=none"
For customers not using AzureWebjobsStorage / AzureWebJobsSecretStorageSas there is no where to store function/host keys. This causes failures anytime an attempt is made to access secrets, e.g., during synctriggers, secrets management admin APIs, etc.

Proposal is to support AzureWebJobsSecretStorageType=none, For apps using this configuration we will not generate or persist any keys.

Instead all

[2020-04-28 08:03] gzuber opened #5924 "Intermittent TaskCanceledExceptions when F# function calls EventHubs GetRuntimeInformationAsync"
This originated with a CRI and is pretty easy to reproduce. The set up is to have an F# HttpTrigger function that uses keyvault to store an eventhubs connectionstring in the AppSettings and calls `GetRuntimeInformationAsync()` with an `EventHubClient`. The function endpoint is then called every 5 minutes by an Azure Availability Test. Often, maybe 50 - 100 time per day, it fails with this stack tr

[2020-04-28 09:56] mathiasbl opened #8441 "Enable/Disable service bus triggered function at runtime"
Implementing a Circuit Breaker pattern, for a service bus triggered function, today requires a secondary app (Logic App or Azure Function) to disable your function app in order to stop processing when your circuit breaker triggers.

It would be nice if we could prevent the need of a secondary app to start/stop your function app by allowing us to enable/disable a service bus triggered function at r

[2020-04-28 11:54] andrew-vdb commented on #5796
![image](https://user-images.githubusercontent.com/12871379/80484198-9bf66e00-8957-11ea-9037-5d63416463e3.png)

Got this issue too

What i did simply updating these dll
[code]
from

[code]

Doing a rollback now and see if the issue is gone

[2020-04-28 12:03] andrew-vdb commented on #5796
it works again after rolling back, i think Microsoft.NET.Sdk.Functions somewhere between 3.03 - 3.0.6 is broken

[2020-04-28 12:12] hallidev commented on #5860
@miantosca In case this helps, I discovered that in my case, using a Self Contained zip deploy triggers the issue. I'm not sure if this is relevant to your build, but figured I'd put it out there.

[2020-04-28 15:51] flaviusdemian commented on #2721
Hi, was this solved?

Do you have any news? We are having really big cost spikes and we cannot justify this.

<img width="580" alt="ServiceBus-Prod-Error" src="https://user-images.githubusercontent.com/2652146/80508847-3ae39000-8981-11ea-8fb1-7b93d82fe264.png">

Thanks

[2020-04-28 17:39] paulbatum commented on #2721
@slown1 That volume looks excessively large for sure. Can you please share your function app name? If you have multiple function apps that have triggers based on this service bus namespace, share them all.

If you don't want to share your Function App name or Functions names on GitHub, please be sure to provide your Invocation ID, Timestamp, and Region - we can use this to look up your Function Ap

[2020-04-28 17:46] flaviusdemian commented on #2721
@paulbatum we do not use azure functions. We have a setup in which we have our web api and web app sending messages to a console application. We also have another class library which can send a message to a topic when some conditions are met. The thing is that we have almost no messages sent and we have millions of incoming requests...I have paid already a few thousands of euro for this and it is

[2020-04-28 17:52] paulbatum commented on #2721
@slown1 You are commenting on an issue in the Azure Functions git repo. If you're not using functions then your problem doesn't apply to what is being discussed here (the impact of requests made to service bus by the Azure Functions scale infrastructure).

@Magnus12 I can have someone take a look at your case, assuming you're using functions. I need the info I mentioned above.

[2020-04-28 20:00] mhoeger commented on #5526
Verified that the data is there as expected

[2020-04-28 20:00] #5526 closed

[2020-04-28 20:15] jwisener commented on #4761
is there any workaround that can be done until this is released?

[2020-04-28 22:54] SjaaLom commented on #5893
Is there a workaround for this?

[2020-04-28 23:29] paulbatum commented on #2636
@petro2050 Thanks for this additional info. It is possible for multiple workers to be assigned, even when load is low. This sometimes happens when we are running a platform upgrade. We start running your app on another machine so that we can unload it from the existing machine, and we do this with overlap so there is no downtime. I think what was happening here is as you said, an older version of

[2020-04-29 00:16] yojagad commented on #5597
@momolder We took a look at this. It looks like the SqlitePCLRaw.bundle that comes with the 3.x and above version of EntityFrameworkerCore.Sqlite seems to have it's own probing mechanism for assemblies as opposed to relying on the CLR (and consequently the function runtime's AssemblyLoadContext). We'll follow up with them to see if there's a solution to this.

Meanwhile, downgrading the v3 version

[2020-04-29 01:45] andrewkittredge opened #5930 "Settings not getting deployed from VS to Azure"
I have a .net core Azure function with the settings in local.settings.json.  Copy to Output Directory is set to "Copy Always".  I have remote.settings.json for good measure.

Everything works locally.  When I deploy to Azure none of my settings appear and the function does not work because it is missing configuration data.  Previously some of my settings were deployed, it mysteriously stopped work

[2020-04-29 01:54] andrewkittredge commented on #4761
Is the issue I raised @ https://github.com/Azure/azure-functions-host/issues/5930related to this?

[2020-04-29 01:59] yojagad commented on #5597
You can check this link to see if it helps
https://github.com/ericsink/SQLitePCL.raw/blob/4d424abfa1d2423420156940dc5db236b3d209c5/README.md#a-trio-of-packages

Alternatively, you can also consider moving away from SQLLitePCL with respect to functions.

[2020-04-29 09:15] vitalybibikov commented on #3965
Hi, @safihamid
No, I'm building from Windows machine, Win10, Ver 2004, 19582.1001 if it matters

It actually works locally, so with RID I can run the function and it operates (locally)
But Publish to Azure fails, till RID + R2R are removed

[2020-04-29 11:39] dalibor-sanzeru commented on #5548
Hi,
I have the same problem with following setup:

- VS2019 - local functions debug,
- Windows 10,
- Microsoft.NET.Sdk.Functions 3.0.6
- Azure Functions Core Tools (3.0.2245 Commit hash: 1d094e2f3ef79b9a478a1621ea7ec3f93ac1910d)
- Function Runtime Version: 3.0.13139.0
- TargetFramework: netcoreapp3.1
- AzureFunctionsVersion: v3

File upload size 42MB over HttpTrigger.

Was this fix shipped yet so

[2020-04-29 12:41] jcoolsen commented on #5548
@dalibor-sanzeru , I have never seen the problem in local debug, but is is not yet resolved in Azure Functions as far as I can determine. I don't know when to expect it to go live.

[2020-04-29 12:44] dalibor-sanzeru commented on #5540
Isnt this the same thing?

https://github.com/Azure/azure-functions-host/issues/5548

[2020-04-29 14:05] #5552 closed

[2020-04-29 14:38] brettsam commented on #5893
Can you try an app setting of `DOTNET_ADD_GLOBAL_TOOLS_TO_PATH` with value `false` and let us know if that fixes it?

[2020-04-29 15:51] FrankMuehlschlegel commented on #6246
i had same problem, and could solve it by downgrading Azure Functions SDK to 3.0.3
`<PackageReference Include="Microsoft.NET.Sdk.Functions" Version="3.0.3" />`
i think it is related to this issue: Azure/Azure-Functions#1518

[2020-04-29 17:36] safihamid commented on #3965
@vitalybibikov I was able to repro your issue and there is a typo in your .csproj file. when R2R is enabled you will need to use
`<RuntimeIdentifier> and not
<RuntimeIdentifiers>
`

 Here is how your .csproj file should look like:

`

    <TargetFramework>netcoreapp3.1</TargetFramework>
    <AzureFunctionsVersion>v3</AzureFunctionsVersion>
    <PublishReadyToRun>true</PublishReadyToRun>
    <Runti

[2020-04-29 17:54] ankitkumarr commented on #5596
Closed by https://github.com/Azure/azure-functions-host/commit/0af7d3682f788441f2cc46c21329b34e8e496673

[2020-04-29 17:54] #5596 closed

[2020-04-29 18:03] ankitkumarr opened #5934 "Clean up azure-pipelines.yaml signing"
Recently we added signing for `WebJobs.Script.Abstractions` (in addition to `ExtensionsMetadataGenerator`) in the pipeline for v2.x. We need to clean them up and consolidate them together.

[2020-04-29 18:04] vitalybibikov commented on #3965
@safihamid Whoa, thanks, not easy to spot this one

[2020-04-29 19:08] SameerDoshi commented on #3804
I want to note that this works for me.
Sample binding:
[Blob("dev/docs/{blobname}", FileAccess.Write,Connection ="blob_connection")] Stream blobcontent,

where:
'dev'=my container similar to $web
/docs/ = "a folder
{blobname} = the blobname

[2020-04-29 19:11] zmarty commented on #3804
@SameerDoshi The issue is about a container called specifically $web!

[2020-04-29 19:12] ankitkumarr commented on #5793
Moving to Sprint 75 (didn't have a chance to stretch in 74).

[2020-04-29 19:45] yojagad opened #5940 "Investivate Sqlite assembly loading"
Following up on the issue here https://github.com/Azure/azure-functions-host/issues/5597 , SQLitePCL.raw uses their own mechanism for resolving assemblies rather than relying on CLR.

We need to identify and document the requirements needed to collaborate with SQLitePCL.raw in order to make this happen.

cc: @fabiocav

[2020-04-29 19:58] #5310 closed

[2020-04-29 20:05] gzuber commented on #5728
Java and Node: weight distribution issue
v3 Dotnet: capacity issue

[2020-04-29 20:05] #5728 closed, assigned to gzuber

[2020-04-29 20:07] fabiocav commented on #5885
Most of the required investigation has been completed. This issue will be decomposed into specific items we need to track as a result.

[2020-04-29 20:09] fabiocav commented on #5874
@brettsam should this be moved to 75?

[2020-04-29 20:10] fabiocav commented on #5848
Closing this as resolved.

Additional work items for the end-to-end solution will be created.

[2020-04-29 20:10] #5848 closed, assigned to pragnagopa

[2020-04-29 20:13] fabiocav commented on #5597
Closing this in favor of #5940. We may need to collaborate with the team maintaining SQLLitePCL in order to resolve this, as there are some issues with their approach.

[2020-04-29 20:13] #5597 closed

[2020-04-29 20:19] fabiocav commented on #3370
Work on this is currently in progress. Moving to sprint 75 to reflect the current status.

[2020-04-29 20:24] fabiocav commented on #5385
Work currently in PR. Moving to sprint 75 to reflect the current state.

[2020-04-29 20:38] fabiocav opened #5942 "Sprint 74 V2/V3 release"

[2020-04-29 20:39] fabiocav opened #5943 "Sprint 74 V1 release"

[2020-04-29 20:52] ghost commented on #5963
Hey @brettsam  -- any update on this...?  It's been two weeks since you said you'd investigate and I'm still dead in the water and can't build and publish my function...  Still lots of people saying they are having this problem.

[2020-04-29 20:53] pragnagopa commented on #5575
Added more logging in the referenced PR.

[2020-04-29 20:53] #5575 closed

[2020-04-29 21:03] soninaren opened #5944 "Creating a blob function / queue function on a few function app puts runtime in a bad state"
This is not a wide spread issue, but can be consistently reproduced for an app in a bad state. Will be adding more information to this issue.

[2020-04-29 21:16] AtOMiCNebula commented on #4952
@fabiocav closed my PR despite repeated pings here for attention, so I am taking the hint and am going to stop pushing on this.  I am leaving the issue open though, since the issue is not fixed. ☹️

As of this writing, 3.0.13139.0 is still injecting types into the service container that are not being redirected properly, making them effectively uninjectable.  Specifically:
* Assembly: `Microsoft.A

[2020-04-29 21:20] fabiocav commented on #4952
@AtOMiCNebula I did go through a few PRs that were stale in a batch and had to close a few. We can absolutely review this, but with recent branch target changes, we needed to make sure PRs were targeting the right branches (i.e. v3 is now `dev`).

This was absolutely no intended as an indication of our intention to take that work. Happy to iterate on that with you.

[2020-04-29 21:41] brettsam commented on #5240
If you're seeing this -- can you please include the stack trace as well as the triggers that you're using in your app?

[2020-04-29 21:43] brettsam commented on #4855
@harishsune / @xinyi-joffre -- are you both using App Service Environments?

[2020-04-29 22:42] trevie commented on #5893
@brettsam, DOTNET_ADD_GLOBAL_TOOLS_TO_PATH=false worked for me.

Specifically, it got AZ-204 Lab 07, Exercise 4, Task 4 working, eliminating my
"[Information] System.UnauthorizedAccessException: Attempted to perform an unauthorized operation."
error which I believe was leading to the
"error CS0246: The type or namespace name 'Azure' could not be found (are you missing a using directive or an assem

[2020-04-29 23:44] seesharprun commented on #5893
The app setting ``DOTNET_ADD_GLOBAL_TOOLS_TO_PATH`` works for me too. Now I can resolve NuGet packages in the in-portal editor. Is this the permanent fix or is there another regression fix pending?

[2020-04-30 00:09] pragnagopa opened #5947 "[v3]Update runtimeAssemblies.json - remove assemblies removed from shared framework"
Following assemblies are removed from Microsoft.AspNetCore.App 3.0

Listed here:  https://github.com/dotnet/aspnetcore/issues/3755

- "microsoft.aspnetcore.authentication.facebook",
- "microsoft.aspnetcore.authentication.google",
- "microsoft.aspnetcore.authentication.microsoftaccount",
- "microsoft.aspnetcore.authentication.openidconnect",
- "microsoft.aspnetcore.authentication.twitter",
- "micro

[2020-04-30 01:24] harishsune commented on #4855
Yes, the function kept showing same errors again and again. I had to delete the function app and start from scratch.

[2020-04-30 01:55] kdubau commented on #5240
I saw it a few times (we're talking a few hundred exceptions in hundreds of thousands of executions) in a durable Activity function.  I only know about it because application insights. It seems to be rare and happen in spurts every few days (I have no idea if that might be helpful, I don't see too much different in my app's load when it happens).

[code]

[2020-04-30 03:07] wlhutchison commented on #5963
Hi, I am experiencing the same problem too.

[2020-04-30 09:54] vitalybibikov commented on #3965
And the reason why I'm using x64 is that x86 currently does not work.
I've tried it on a newly created VM as well as on my machine.

OS: Win10
Azure Functions Core Tools (3.0.2245 Commit hash: 1d094e2f3ef79b9a478a1621ea7ec3f93ac1910d)
Function Runtime Version: 3.0.13139.0
VS 16.5.4

How to repro:
1. Just create an app from template.
2. Set the following: RID win-x86 or win10-x86

[code]
And you wi

[2020-04-30 11:16] vitalybibikov commented on #3965
The reason is that default "Platform Target" for Azure Functions projects is now x86.
So it does not work in configuration: win-x86 + platform x86. (why?)

However, it starts in the Cofiguration of win-x86 + Any CPU
But then it fails if you have SqlClient lib installed (I guess everything with Dapper, ADO, EF Core)
with an error:

`System.TypeInitializationException: The type initializer for 'Micr

[2020-04-30 11:25] mkarthik156 opened #5950 "Unable to access SqlClient in Azure app function V3"
With the latest Azure function V3 I'm having trouble using Sql client.
Tried System.Data.SqlClient & Microsoft.Data.SqlClient packages, both throws error.
Attaching both the error logs.
[System.Data.SqlClient_ErrorLog.txt](https://github.com/Azure/azure-functions-host/files/4557891/System.Data.SqlClient_ErrorLog.txt)
[Microsoft.Data.SqlClient_ErrorLog.txt](https://github.com/Azure/azure-functions-

[2020-04-30 11:28] mkarthik156 commented on #5911
Below is the workaround provided in error #5893 which works for me
https://github.com/Azure/azure-functions-host/issues/5893#issuecomment-621254026

[2020-04-30 13:22] Frankwayne commented on #5907
Reviewing with a support ticket I was able to pull the following information out.  It would appear that I have one instance that is working just fine in the centralus datacenter, but my instance in eastus2 is constantly failing now.

Inner Exception Type: Newtonsoft.Json.JsonReaderException
Total Occurrences: 2
Latest Exception Message: Unexpected character encountered while parsing value: ≻. Path

[2020-04-30 13:23] SjaaLom commented on #5893
👍 `DOTNET_ADD_GLOBAL_TOOLS_TO_PATH` works nicely. I assume it will be fixed eventually, for now I can continue. Thanks!

[2020-04-30 14:12] brettsam commented on #5893
Great, glad to see you all unblocked.

@soninaren -- is this issue understood? Do we have a way to fix it without needing the app setting?

[2020-04-30 18:37] safihamid commented on #3965
@vitalybibikov I understand there seem to be some issues with CLI when RuntimeIdentifier is win-x86 but that's only for running locally. when deploying to Azure it should work fine for both win-x86 or win-x64. isn't that the case for you?
tracking the CLI issue here: https://github.com/Azure/azure-functions-vs-build-sdk/issues/382

[2020-04-30 19:39] xinyi-joffre commented on #4855
No, we are not using ASE. We are on a linux dedicated app service plan for S1. We are frequently encountering issues with unreachable or inaccessible errors. Deployments also fail after getting 202s and then timeout.

[2020-04-30 19:41] brettsam commented on #4855
@xinyi-joffre -- if you're not on an ASE, can you open a separate issue with your symptoms? Then we can track that separately as they're likely separate issues.

[2020-04-30 20:00] jeffhollan commented on #4855
Unfortunately this error can be caused by any number of possible reasons.  An invalid deployment package / format, an invalid container image (if you are publishing via container), networking hiccups, etc.  I think the best bet to quick resolution would be opening a support ticket where we can dig into more of the specifics of this app and what could be causing it.  Other places that can help is d

[2020-04-30 21:32] unt1tled commented on #6246
Downgrading to Microsoft.NET.Sdk.Functions 3.0.3 in the sample project in the OP exhibits the same issue for me unfortunately. 😢

Edit: Spoke too soon. After doing a Clean, it worked!

[2020-04-30 21:48] soninaren commented on #5893
@brettsam, Not sure what change triggered this issue. We do have a way to fix it without app setting.

We would have set `DOTNET_ADD_GLOBAL_TOOLS_TO_PATH` at the following locations.

https://github.com/Azure/azure-functions-host/blob/2048b0071c465d9052405056872329b2e9009ae4/src/WebJobs.Script/Description/DotNet/PackageManager.cs#L74

https://github.com/Azure/azure-functions-host/blob/2048b0071c46

[2020-04-30 22:00] pragnagopa opened #5953 "DynamicPoolConfiguration - Process management"
Tracking item to add PolicyProvider process management in Antares

[2020-04-30 22:06] pragnagopa opened #5954 "[Breaking change analysis]Add log to indicate if an assembly is part of users bin directory"
Related issue # https://github.com/Azure/azure-functions-host/issues/5947

Assemblies in the above incident are no longer part of shared framework. Recent optimization to Microsoft.Net.Sdk.Functions (v 3.0.6) package, removes assemblies mentioned in unified list from user bin package.

This could be breaking change when V2 apps migrate to V3. Need to add log in the breaking change analysis service

[2020-04-30 22:30] brettsam commented on #5963
I've done some investigating. Just have a little more validation to do before the fixes come. In short, there were two things that were confusing here:

1. Why did this only happen on publish? Turns out that the functions sdk only copies all DLLs and PDBs to the /bin folder on publish -- so this file was never copied during build.
2. Why didn't this throw if it wasn't in the /bin folder when you h

[2020-04-30 23:00] fabiocav commented on #5947
@pragnagopa , have you verified that none of those are deployed with the application?

[2020-04-30 23:16] ankitkumarr opened #5956 "Add Codeless E2E test"
Had to remove codeless e2e tests recently due to an intermittent build issue. Need to add them back ASAP.

[2020-04-30 23:23] pragnagopa commented on #5947
With Microsoft.NET.Sdk.Functions version 3.0.6  and with project references:
[code]
bin folder does not have any of these libraries.

Verified that with Microsoft.NET.Sdk.Functions version 3.0.3, these assemblies are part of the bin folder.

[2020-04-30 23:53] #5908 closed, assigned to fabiocav

[2020-05-01 01:38] ankitkumarr opened #5959 "Incorrect host.json causes inconsistent Host Status"
Repro steps (taken from the test `HostConfigurationExceptionTests`) --

1. Create a function directory locally with a `host.json` with no `version` property. Add something like -- `{
  "functionTimeout": "00:00:30"
}`
2. Run WebJobs.Scipt.WebHost against that directory and excute the `/admin/host/status` endpoint. (If using locally, you can comment [this auth line](https://github.com/Azure/azure-f

[2020-05-01 01:44] pragnagopa commented on #5947
Verified accessing types in any of the assemblies listed here, throws `FileNotFoundException`

Test Code:
[code]

[2020-05-01 08:31] oleksiyserg commented on #6246
I had a similar issue and it turned out that I was trying to run **v3** project with Azure Functions Core Tools **v2**. Updating _tools_ to **v3** solved the problem.

[2020-05-01 09:59] vitalybibikov commented on #3965
Unfortunately, no.

[code]
In Azure:
The 'XFunction' function is in error: Microsoft.Azure.WebJobs.Host: Error indexing method 'XFunction'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'token' to type FunctionTokenResult. Make sure the parameter Type is supported by the binding. If you're using binding extensions (e.g. Azure Storage, ServiceBus, Timers, etc.) make sure you've called the reg

[2020-05-01 14:07] mikkark commented on #3593
I noticed this today. I will be resorting to the workaround provided by Ricardo almost 1,5 years ago. Would be great to have this fixed (currently marked as bug by Microsoft, after being triaged).

[2020-05-01 14:20] ghost commented on #5963
That makes sense - thanks for the update!  Any estimate on when we might get this fix or what packages will actually be updated for this fix?  Will it be an update to the Microsoft.NET.Sdk.Functions package?

[2020-05-01 18:18] #5963 closed

[2020-05-01 18:26] AnatoliB commented on #4574
@pragnagopa Assuming that:

- this issue is not resolved, **and**
- https://github.com/Azure/azure-functions-host/pull/5831 is **not** merged, **and**
- PowerShell-specific placeholder pools are **not** configured,

would PS7 apps still hit the problem? Do you know if PS7 apps will still find a generic Functions v3 placeholder and start a PS6 worker because the correct FUNCTIONS_WORKER_RUNTIME_WOR

[2020-05-01 18:33] fabiocav commented on #3593
Adding this to triage for proper assignment.

@jeffhollan can you confirm the `P1` here?

[2020-05-01 18:40] pragnagopa commented on #4574
Apologies for the delayed response on this issue. I will prioritize a fix for this during this sprint.

I will verify and get back to you on this.

[2020-05-01 21:14] brettsam commented on #5963
The fix is now in -- I'll work on getting this released to nuget on Monday. Yes it'll be an update to `Microsoft.NET.Sdk.Functions`.

[2020-05-01 23:13] WinInsider opened #5967 "Asking for .NET Core 3.1; but getting .NET Core 2.1"
Azure Functions for Linux (Service Plan)
Azure Functions Runtime version : 3
.NET Core 3.1 / C#
Regions : Central US, East US, Canada East

**Question**: Have created three Azure Functions (in Central US, East US, Canada East)… **with** .NET Core as Platform and Version selected to **.NET Core 3.1** (during Function creation in Azure Portal); however, each time .NET Core Runtime version 2.1.300 is

[2020-05-01 23:15] soninaren commented on #5967
@balag0 , @ahmelsayed Any ideas?

[2020-05-01 23:21] WinInsider commented on #5950
Getting "Microsoft.Data.SqlClient is not supported on this platform" too, with Azure app function V3 and .NET Core 3.1

Renamed folder runtimes to bin; and have placed function.deps.json in bin folder... no help, same error

[2020-05-01 23:56] balag0 commented on #5967
Bash is misleading as it connects to a different container (kudu) that only shares files with the app container. The app is running in a different container based on mcr.microsoft.com/dotnet/core/sdk:3.1.  Are you seeing any runtime failures?

More details on bash console:
https://techcommunity.microsoft.com/t5/azure-app-service/things-you-should-know-web-apps-and-linux/ba-p/392472#KuduContainer

[2020-05-01 23:59] WinInsider commented on #5967
cool, good to know...

am getting "Microsoft.Data.SqlClient is not supported on this platform" error; but that is different topic... will close this one.

thanks @balag0

[2020-05-01 23:59] #5967 closed, assigned to nobody

[2020-05-02 05:37] matthewhancock opened #5968 "ServiceBusTrigger maxConcurrentCalls"
#### Is your question related to a specific version? If so, please specify:
Azure Functions V3

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I am trying to set the number of max concurrent calls when running a Function locally, however, the host.json file appears to be ignored. Sessions are enabled and I have 30,000+ messages queued up across m

[2020-05-02 06:11] btrepp commented on #5921
Also it would be nice if the folder name wasn't so coupled to what is called in the custom handler.

Eg It seems we must have a url that matches the folder name, this makes sense but means the handler must match and can't do any routing of it's own.

Even as a simpler one, maybe the folder name can just function as the route prefix?. So that
say api/MyCustomHandler/a/b/c gets called to the custom

[2020-05-03 14:57] itpropro opened #6281 "Internal Server Error after activating Function Proxy"
In some scenarios, Azure Functions fail with the following error after creating an Azure Function Proxy:
[code]

#### Repro steps

1. Create new Function App with the following settings:
![image](https://user-images.githubusercontent.com/15030951/80917418-07c54600-8d5f-11ea-9ceb-fb5297cf5040.png)
2. Create a new Function called "getTest" with Authorization Level "Anonymous".
3. Create Function Pro

[2020-05-03 21:26] xperiandri commented on #4363
Any news?

[2020-05-03 22:32] xperiandri commented on #4363
Woked around with `.Configure<HttpOptions>(fun (options : HttpOptions) -> options.RoutePrefix <- String.Empty; ())` for now. But it is weird

[2020-05-04 07:43] gmanvel opened #5970 "Azure Function not triggered unless restarted/refreshed via Azure Portal"
We have an Azure Function with service bus trigger hosted in Consumption plan on Windows. Function is not triggered despite messages on the queue.
Restarting/refreshing the function via Portal fixes function for some period of time (less than 24 hours), after which it goes back to same behavior.

#### Investigative information

Please provide the following:

Following is last successful manual inv

[2020-05-04 12:22] gsscoder commented on #3947
My situation is more weird, when I create the Function App with portal UI and deploy with VSStudio everything works.
When I deploy with Az Module / Az CLI, I got this error (and more errors on portal UI).

If I compare properties of functions, I can't see differences.

[2020-05-04 12:51] Preeti1910 commented on #5963
I am facing same issue while publishing my azure function from visual studio 2019

 Could not evaluate 'Cosmos.CRTCompat.dll' for extension metadata. Exception message: Bad IL format.
5>    Could not evaluate 'Microsoft.Azure.Cosmos.ServiceInterop.dll' for extension metadata. Exception message: Bad IL format.

Please help how to solve this..

[2020-05-04 13:13] osbornm commented on #3543
Is there any follow up?

[2020-05-04 13:30] npnelson commented on #5950
I just ran into this issue as well. In my case, it runs fine locally on Windows. It also seems to run fine on Azure with Windows or Linux consumption plans.

However, any attempt to run in a linux container, either locally or in Azure, fails with the platform not supported error.

I noticed that the dockerfiles for the containers were recently updated to the latest function runtime https://github.

[2020-05-04 14:13] Josh-a-e opened #5971 "Function is not loaded by the language worker (Python)"
#### Investigative information

(Happens pretty regularly, but a recent example)

- Timestamp: 2020-05-04 13:01:29.253
- Function App version: ~3
- Function App name:
- Function name(s) (as appropriate): transfer_items_master
- Invocation ID: b1432525-67e5-42da-b434-68099b1cc8bb
- Operation ID: 94572bb74ba6a44ea42a42e95f46018e
- Region: West Europe

#### Repro steps

Provide the steps required to

[2020-05-04 16:45] APIWT opened #5972 "Specifying host.json options on a per function level"
#### Is your question related to a specific version? If so, please specify:
v3 runtime

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I am trying to specify `queues` -> `batchSize` on a per function basis. It seems like I should be able to do this. Right now, it looks like my only option is to create a separate Azure Functions instance/project f

[2020-05-04 17:22] balag0 commented on #3947
@gsscoder Please share the function app name/ timestamp and the command you are using to deploy using Az CLI

[2020-05-04 21:15] #4574 closed

[2020-05-04 22:05] brettsam commented on #5963
Please try the latest versions of Microsoft.Net.Sdk.Functions. Release notes:
- (for v1 and v2): https://github.com/Azure/azure-functions-vs-build-sdk/releases/tag/1.0.36
- (for v3): https://github.com/Azure/azure-functions-vs-build-sdk/releases/tag/3.0.7

[2020-05-04 23:12] fabiocav commented on #5944
Flagging this as a P1 as we may need to add to the current sprint

[2020-05-04 23:17] brettsam commented on #5240
@kdubau -- what version of the Durable extension are you using? It seems similar to something like this -- https://github.com/Azure/azure-functions-durable-extension/issues/472 (but with a different stack).

[2020-05-04 23:43] mhoeger opened #5975 "Filter out headers with empty values for Node.js"
Note - we probably don't want to filter out for everything because this behavior is only buggy for Node.js. Correct approach is through capabilities and either explicitly opting out of those or introducing a new headers property that is typed correctly.

This issue exists because of the way we implemented headers in our protobuf schema (as a map<string, string>) and the "map" type doesn't accept e

[2020-05-05 05:45] ankitkumarr commented on #5956
Closed by https://github.com/Azure/azure-functions-host/commit/0f64d710879ece46df93325dfa75ab9fe36689ce

[2020-05-05 05:45] #5956 closed, assigned to ankitkumarr

[2020-05-05 06:31] NathanNZ opened #5980 "Python does not log Application Insights Exceptions"
#### Is your question related to a specific version? If so, please specify:
v3
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Python 3.8
#### Question
Out of box the Functions implementation of Application Insights does not raise exceptions using the built in logger eg: logger.error("error:", exec_info=True)

This seems to be resolved by using the "opencensus-ext-

[2020-05-05 13:45] opolo commented on #5940
Facing same issue. Rollbar* no longer working with Azure Functions due to this. It seems to use SQLLite internally.

Rollbar: Our error-logging which ironically errors now

[2020-05-05 14:20] vkurmi opened #5982 "Build warning: ExtensionsMetadataGenerator Could not evaluate 'hostfxr.dll' & 'hostpolicy.dll'"
I have .net core Azure function v2 app. I need to create a build for x86 platform but when I run dotnet build -r win-x86 I get build warnings. I don't get these warnings when I run platform independent build (dotnet build). I tried downgrading Azure function sdk to 1.0.31 but no luck.

I'm not sure what these warnings are and if they can be safely ignored.

I have seen issues https://github.com/Az

[2020-05-05 15:10] bentmar commented on #5695
seeing the same on my v3 eventhub triggered function, running on a consumption plan

[2020-05-05 15:34] brandonh-msft commented on #5469
@fabiocav @ankitkumarr

I actually came here to see if there was an issue covering a move to use STJ when auto-deserializing POCOs as part of an HttpTrigger, etc. but haven't found something encompassing _quite_ that just yet.

Would it be fair to write an issue that says we should remove usage of NJ in favor of STJ in v3? Folks that requires NJ for compatibility can then import the package (free

[2020-05-05 15:54] RufusJWB commented on #5963
I can confirm, that it is working. Thank you for that. But I still get publishing errors. I'll open a new issue.

[2020-05-05 16:55] fabiocav commented on #5469
@brandonh-msft the serialization is not the main issue, the binding support is. A large number of apps use `JObject` as the binding target type. Removing that in the 3.0 timeframe wasn't viable, and removing in a current major would be a breaking change for those apps.

This is also the only reason why runtime unification exists, but in the vast majority of cases, this should not present a problem

[2020-05-05 19:14] ankitkumarr commented on #5930
@andrewkittredge, `local.settings.json` is meant for local development only. For settings in Azure, you'd want to manually set "Application Settings".

You can read about this file [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#local-settings-file).

Please let me know if that answers your question.

[2020-05-05 19:15] #5892 closed, assigned to soninaren

[2020-05-05 19:29] pragnagopa commented on #5954
cc @fabiocav

[2020-05-05 19:31] ankitkumarr opened #5986 "v2.x build failing due to crossgen error"
The pack step in v2.x is failing to create crossgen since we updated the `Rosyln` versions.

The error we see is -
[code]

[2020-05-05 20:40] #5743 closed, assigned to yojagad

[2020-05-05 20:41] fabiocav commented on #5517
@pragnagopa @mhoeger, moving this to triaged as it was left in sprint 72. Please apply a priority label if appropriate.

[2020-05-05 20:43] fabiocav commented on #5250
@brettsam closing this. Please open another issue if any follow up is required.

[2020-05-05 20:43] #5250 closed

[2020-05-05 20:55] #5388 closed

[2020-05-05 21:04] fabiocav commented on #2279
@gzuber was this meant to be closed? Any follow up items from your previous investigation?

[2020-05-05 21:05] fabiocav commented on #2617
@brettsam, this issue fell through the cracks. Can you comment?

[2020-05-05 21:21] fabiocav commented on #5910
The state is based on the host ID, which when running locally, is derived from the machine name. There's no tooling to update that state for you, but the recommendation would be to use a different queue (ideally, a different storage account) for local dev/test.

[2020-05-05 21:21] #5910 closed, assigned to fabiocav

[2020-05-05 21:22] balag0 opened #5987 "Support BYOS for national clouds"
Support storage suffixes other than windows.net

[2020-05-05 21:48] andrewkittredge commented on #5930
The only way supply settings for a function is on portal.azure.com?  That does not seem like very good design.

[2020-05-05 21:49] fabiocav commented on #5890
@blawford that information is surfaced as part of the trigger data.

You can see an example that uses the `DequeueCount` here: https://docs.microsoft.com/en-us/sandbox/functions-recipes/queue-storage#retrieving-queue-metadata-from-an-azure-storage-queue-trigger

[2020-05-05 21:49] #5890 closed, assigned to fabiocav

[2020-05-05 21:51] fabiocav commented on #5871
@ramxis this is not a capability exposed to JavaScript today, but something we're actively tracking.

[2020-05-05 21:51] #5871 closed, assigned to fabiocav

[2020-05-06 00:14] yojagad commented on #5940
Opened an issue here https://github.com/ericsink/SQLitePCL.raw/issues/343 to see if we can work with SQLLite to come up with a solution.

[2020-05-06 02:23] fabiocav commented on #5343
Resolved by #5948

[2020-05-06 02:23] #5343 closed

[2020-05-06 03:28] venkatavijay opened #5997 "Could not load file or assmebly Microsoft.IdentityModel.Clients.ActiveDirectory, Version=4.3.0.0"
!--
Please provide a succinct description of the issue. Please make an effort to fill in the all the sections below or we may close your issue for being low quality.
-->

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version: Runtime version ( 1.0.13021.0)
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:West US2

####

[2020-05-06 10:27] MyEidos commented on #5206
Same issue.
Error during startup and no logs in App Insights or in LogFiles\application\functions\Host

My host.json

[code]

[2020-05-06 11:06] petrce commented on #5447
Hi so it works now and this issue can be closed?

[2020-05-06 13:34] kdubau commented on #5240
Yea, that does seem likely. I am using version 2.1.1

`<PackageReference Include="Microsoft.Azure.WebJobs.Extensions.DurableTask" Version="2.1.1" />`

[2020-05-06 13:41] brettsam commented on #5447
Yes it looks like this is now deployed to production -- I don't believe that the core tools (or VS tools) have been updated yet but that will be coming soon.

[2020-05-06 13:41] #5447 closed

[2020-05-06 13:43] brettsam commented on #5240
It looks like 2.2.1 has some of the fixes surrounding this. https://github.com/Azure/azure-functions-durable-extension/releases/tag/v2.2.1 -- specifically this item:

Can you move to that and see if the problem persists?

[2020-05-06 14:46] Andreas717 commented on #5970
Same Issue here with Runtime 3 c# package:

* Bindings
Service Bus Trigger
Time Trigger 15 Minutes (Tried that as a workaround. The trigger also stopped triggering after less than an hour.)

* Hosting Plan
App Service Plan (Free)

* Hosten on
Windows

There is a workaround:
Even though I have no HTTP Endpoint trigger, calling the function URL every 5 minutes keeps it alive and messages are handled

[2020-05-06 17:36] #5947 closed, assigned to fabiocav

[2020-05-06 19:33] kamtungc opened #6004 "Azure Function Time Trigger never starts"
#### Is your question related to a specific version? If so, please specify:
Azure Function V3.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
My Azure Function Time Trigger has never started at a specific time.

{
  "generatedBy": "Microsoft.NET.Sdk.Functions-3.0.6",
  "configurationSource": "attributes",
  "bindings": [
    {
      "type": "tim

[2020-05-06 19:42] alrod commented on #5986
https://github.com/Azure/azure-functions-host/commit/592709a9e11ca302d7263a20cdd0962402e29bb3

[2020-05-06 19:42] #5986 closed, assigned to alrod

[2020-05-06 21:07] jordanfinners opened #6005 "SendGrid output binding"
I've got a HTTP endpoint which will then potentially send an email, summary code below. It completes successfully and the http response works. However no email is every sent from SendGrid, and no information appears in their email activity log.
I've also run the example for SendGrid in the docs in a test function and this also doesn't send an email. https://docs.microsoft.com/en-us/azure/azure-fun

[2020-05-06 21:41] alrod opened #6007 "Investigate inconsistency in functions invocation logs in windows"
Internal email thread: "Successful/Failed Executions in Functions"

[2020-05-07 01:39] pragnagopa opened #6012 "[BreakingChangeAnalysis] Add log that indicates if a type implements interfaces flagged as errors"
Following interfaces have new members in 3.1
[code]

Only apps that implement this interface will be broken.  But all the apps that have this type are flagged as errors.

Need to add log that will help us identify if any type in the user code implements these interfaces.

[2020-05-07 02:29] mhoeger commented on #4809
Taking this for next sprint

[2020-05-07 08:41] johnnliu opened #6013 "AzureFunctions Proxy x-ms-privatelink-id causing invalid header value check"
When function is routed through Azure Functions Proxy, a x-ms-privatelink-id header value is added.

This header value has invalid characters

"x-ms-privatelink-id":"\n\nrequest-id\u00123|50e85f514b894e43945890308a5081ab.029e71f938874c4d."

Which fails "fetch-node" 's Headers validation check.

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version:
- Fu

[2020-05-07 10:12] mslot opened #6014 ""The Dynamic pricing tier is not allowed in resource group" or "LinuxDynamicWorkersNotAllowedInResourceGroup" deploying ARM"
When deploying this ARM from Visual Studio

[code]
To a fresh resource group I get one of the following error:

[code]

I i try to make a dependency, and deploy it

[code]

I get the above error from before on the first deploy, and when I try to redeploy it, I get this error in my Visual Studio Output pane

I have tried to:
*  allign the api version in a fresh resource group, gives the precise sam

[2020-05-07 10:51] MrImpossibru opened #6015 "TimerTrigger in Azure Function in Docker container on Kubernetes runs on every instance (.NET Core)"
TimerTrigger to run only once for all instances makes a lease in a BlobStorage. Name of the container depends on a Machine name in case of Kubernetes and it's unique for all instances. Because of that TimerTrigger runs on all instances at the same time.

As temporary solution I have to use env. variables WEBSITE_SITE_NAME and WEBSITE_INSTANCE_ID to make it work as expected, but maybe it's better t

[2020-05-07 13:37] npnelson commented on #5950
After more investigation, when I build in Release with Visual Studio/Docker it works, but in Debug/Docker it doesn't and all production scenarios for me work.

[2020-05-07 15:43] AspenForester commented on #6328
I'm seeing the same behavior on newly created functions, in fact, I can delete all of the code leaving just the param statement, and still get the "The method or operation is not implemented"

But I have existing Azure PowerShell Functions, created before GA, that are running just fine.

[2020-05-07 16:16] niklas-e commented on #6013
I started to have similar issues with my Azure Function App on 2020-05-06. I don't have a proxy or any custom networking configurations. I started to get "POST missing body" (from ApolloServer) in my app. I added some logging and noticed that for some reason x-ms-privatelink-id is eating the body pretty often.

I also tried to send test requests via Azure Portal. I set the request body to an JSON

[2020-05-07 16:28] brianchance opened #6016 "Locating dll in different folder"
#### Is your question related to a specific version? If so, please specify:
v3.1
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
c#
#### Question
We are trying to get the IBM.Data.DB2.Core package working in azure function app. This library has some very specific ways it probes for the unmanaged dll.

It specifically looks in the Assembly.GetEntryAssembly folder +

[2020-05-07 16:38] gianpaolobernardini commented on #5893
DOTNET_ADD_GLOBAL_TOOLS_TO_PATH=false worked for me too

[2020-05-07 17:10] mhoeger commented on #6015
@divyagandhii - I feel like we faced a similar issue with Linux. If so, mind weighing in?

[2020-05-07 18:11] balag0 commented on #6014
To create a function app, I would expect the arm template to include a site resource with a dependency on serverfarm. something like - https://github.com/Azure/azure-quickstart-templates/blob/master/101-app-function/azuredeploy.json

Since you are creating a linux app, setting reserved = true like you have in the template is correct.
Let me know if this doesn't work..

[2020-05-07 21:42] andrewdmoreno commented on #4363
What I seem to have observed in testing this out is that the value specified in `host.json` using the above approach is obeyed if you use a value other than `""`. Example, I set it to `"foo"` and my routes were discovered with a routePrefix of `/foo`. There seems to be something about empty string specifically.

[2020-05-07 23:44] johnnliu commented on #6013
My current workaround in the function handler

previous
[code]

workaround

[code]

[2020-05-08 01:30] mhoeger opened #6017 "Extension bundle installation failed (worked on retry)"
I tried to run my function and it failed with this? Tried again and it worked though. I'm not sure if this is impactful, but I'm filing a bug to capture the error.

cc: @soninaren

[code]

[2020-05-08 07:31] mslot commented on #6014
How would that fix the creation of the service plan? As I see it, the service plan need to be in place before a site resource can be spun up, and a site resource can't be spun up because i get the intial error when creating the service plans.

[2020-05-08 07:41] ThomasArdal opened #6018 "Two log messages per exception in FunctionExecutor"
I recently added logging through Microsoft.Extensions.Logging to a range of Azure Functions. When an exception happens in one of my functions, I get two log messages logged every time. Both with the same stack trace and details. The only difference is the actual log message. In the first instance the message can be something like this:

[code]

In the other instance the log messages turn out as nu

[2020-05-08 11:12] Josh-a-e commented on #4263
Any progress here? I'm seeing this too.

[2020-05-08 13:06] thomaslevesque commented on #5399
I'm getting "500 Bad Request" for this code:
[code]

[2020-05-08 17:28] gopalramakrishnan commented on #4869
Can you add US North Central region?

[2020-05-08 21:27] anthonychu opened #6019 "Custom Handlers - Log more details when process fails to start"
I had a problem with my startup command. In App Insights, I can see the "Failed to start Worker Channel". However, no other information is available to tell me what's wrong.

In Kusto, I was able to see the actually error "No such file or directory" and was able to identify and fix the problem:

[code]

Can we put more details in the error logged to App Insights?

[2020-05-08 21:34] anthonychu opened #6020 "Custom Handlers - Add support to specify startup command - cmd"
This may be a problem specific to Linux. I included the worker binary that was deployed to `/home/site/wwwroot`. However, if I use this startup command:

[code]

The worker doesn't start up and there's an error in Kusto that the problem was "No such file or directory".

Then I changed it to the following and it worked!

[code]

This doesn't seem to be a problem on Windows.

[2020-05-09 14:28] mcgear commented on #5447
Are there any prerelease builds of core tools that could be used yet for this?

[2020-05-09 16:53] ilushka85 commented on #4345
Are there any updates to this besides removing all the filters?

[2020-05-10 15:23] vitalybibikov commented on #5098
Impossible to implement Domain Events with Azure functions without this functionality properly...
Can't believe it does not work. Still....

I'm asking to change the priority, as this is a blocker.

Thanks

[2020-05-10 19:36] XREvo commented on #5889
Well, after 24 days with no reponse (except from the bot), i decided to code a hack around that issue I've coded an extension method :
1. It generate IL at runtime to create a class that implement `IJobHostHttpMiddleware `(https://gist.github.com/XREvo/c5b0123991fa86f3989570af55b16c05)
2. Which is called at runtime
3. And allows us to declare nammed delegates as middleware at startup (https://gist

[2020-05-10 19:36] #5889 closed, assigned to kashimiz

[2020-05-11 07:17] gsscoder commented on #3947
Hi @balag0, thank you for replying!
name: iai-europe-search-func-apis-v1x-lats12
lastModifiedTimeUtc: 2020-05-08T12:00:54.510000 (_don't sure this is the timestamp you want_)

Only this particular **Function App** has problems. I solved the main (errors in **AppInsights**) provisioning the function with an ARM template.
[code]

Than I  call `az webapp config` to add custom settings, `az webapp cor

[2020-05-11 10:14] Josh-a-e commented on #4063
Could be a function of this? https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/web.config

[2020-05-11 10:24] Josh-a-e commented on #2698
Any progress on this?

[2020-05-11 13:18] richardweaver opened #6021 "API management X-AppService-Proto header causes request body to be empty"
#### Investigative information

Please provide the following:

- Timestamp: 2020-05-11T13:10:46.311
- Function App version: 2.0
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: 691624e0-d775-41ad-92d1-579ae6397ceb
- Region: North Europe

#### Repro steps

My function consumes a POST request with Content-Type as x-www-form-urlencoded:
`    {
      "authLevel": "anonymous",

[2020-05-11 13:26] richardweaver commented on #6021
Possibly related? https://github.com/Azure/azure-functions-host/issues/6013

[2020-05-11 13:58] brettsam commented on #4345
No updates -- but the workaround above is fairly straightforward: https://github.com/Azure/azure-functions-host/issues/4345#issue-436407038.

Is this not working for you?

[2020-05-11 16:30] divyagandhisethi commented on #6015
@mhoeger - you are right.  I fixed this for linux consumption here: https://github.com/Azure/azure-functions-host/blob/d571d25276c72778339c78d48c14c3c680d52b82/src/WebJobs.Script/Host/ScriptHostIdProvider.cs#L49-L53

We might have to do something similar for Kubernetes as well.

[2020-05-11 16:34] divyagandhisethi commented on #6015
cc @SatishRanjan

[2020-05-11 17:39] soninaren commented on #6017
@mhoeger Were you able to reproduce this after. I have heard of this issue, however haven't found a consistent repro. Not sure where the issue is.

[2020-05-11 18:05] mhoeger commented on #6017
@soninaren - i haven't run into this issue again so i don't have more details beyond the stack trace :\ hoping the stack trace helps? you can close this as a dupe though!

[2020-05-11 19:52] #6004 closed, assigned to kashimiz

[2020-05-11 20:20] soninaren commented on #5944
Looks like this is caused by incorrect connection string created by the portal. When you create a new function from portal, add a new connections string. It presents you with a drop down to select storage account. Once you select a storage account, portal fetches the connections string and creates a new app setting. The issue is that the key in the connection string does not match the storage acco

[2020-05-11 21:32] mhoeger opened #6022 "Simultaneous timeouts in JobHost worker cause "Number of initialized language workers exceeded""
Two functions can time out at the same time and cause the same worker to crash for independent reasons. If this channel is a webhost channel, we handle that correctly. However, if this is a jobhost-scoped channel, we do not handle for this condition:
https://github.com/Azure/azure-functions-host/blob/2d0ac22afb86041a5b81797b6aaf16049a673198/src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFu

[2020-05-11 22:51] amtandon commented on #4263
So this happens in a C# function also. I am running a BLOB trigger function in docker with app insights enabled. I get the error below. The function then terminates at which point the container restarts.

_AI: Local storage access has resulted in an error (User: ) (CustomFolder: ). If you want Application Insights SDK to store telemetry locally on disk in case of transient network issues please gi

[2020-05-11 22:51] divyagandhisethi commented on #6015
cc @anirudhgarg

[2020-05-11 23:04] mhoeger commented on #5233
This pr (https://github.com/Azure/azure-functions-host/pull/5803) was meant to address this issue. However, it looks like exceptions raised in InvokeAsync are still being handled as user exceptions somewhere in the pipeline. This happened for this exception too: https://github.com/Azure/azure-functions-host/issues/6022

[2020-05-12 00:09] mhoeger commented on #6017
I ran into it again!! Earlier this morning, I made sure that that file existed... so it looks like it's going ahead with the download even though that file with the right content already exists?

[code]

[2020-05-12 01:39] a30000329 commented on #5240
For us, we are getting this exception with exact stack track during performance testing (heavy load). But we are not using durable function at all. Also we are using Azure Function SDK 1.0.29
![image](https://user-images.githubusercontent.com/46702190/81628876-2f926900-9445-11ea-9f96-9541e4f20234.png)

[2020-05-12 02:30] atoko commented on #4176
Is this something that can still be looked at? It would be great to schedule a queue item for processing in the future via output binding

[2020-05-12 02:45] NateB2 commented on #3741
We're running into the issue described in https://github.com/Azure/azure-functions-host/issues/3741#issuecomment-584902726 issue locally (haven't tried Azure yet) when using Functions V3.  We are trying to filter out synthetic traffic (FrontDoor/Traffic Manager probes) using a custom telemetry processor.  Currently, since there is no service type of "TelemetryConfiguration" being registered, we ca

[2020-05-12 10:28] aangelisc commented on #2698
I'd also like to know if there is any progress on this. The Event Grid workaround doesn't fit my solution as we're operating function apps within a VNET. It'd be much simpler being able to retrieve the blob metadata and then handle blob content without the gRPC restrictions.

[2020-05-12 11:13] pambardekar commented on #6022
I am hitting this bug pretty regularly since last couple of weeks. I am using Node JS Function App (v2). Node JS version is 8.11.2.

[2020-05-12 12:06] snerks commented on #4809
As a quick workaround, I found that editing the method throwing the exception made the alarming message go away.

The source code for the NodeJS FunctionLoader seems to be here:
https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/src/FunctionLoader.ts

It's possible that testing the value of `metadata.isProxy` will deal with the exception.

**File (on Windows)**
C:\Users\\[YourUserName

[2020-05-12 16:32] pragnagopa opened #6024 "[BreakingChangeAnalysis]Add log to figure out if any type is cast to types marked as RemovedInterfaceImpl"
Following errors are flagged as `RemovedInterfaceImpl`
[code]

This is a breaking change only if a type is cast to a removed interfaces. Need to add log to confirm if errors flagged are truly breaking or not

[2020-05-12 20:55] alrod commented on #3370
The issue is fixed in the V3.
Please reopen the issue if it's still reproducible in V3.

[2020-05-12 20:55] #3370 closed

[2020-05-12 20:59] anthonychu opened #6025 "Custom Handlers - Update host.json schema to add customHandler section"
https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/host.json

[2020-05-12 23:06] lworkman commented on #6013
Any word on when this will be fixed? I have a number of production functions that I'm now worried are going to break out of the blue.

[2020-05-12 23:38] pragnagopa opened #6026 "[BreakingChangeAnalysis]Add log to if any type extends breaking changes in base class"
Following are flagged as breaking changes:
[code]
Apps will only be affected if a type is extending any of them types listed in the errors. Need to add log that can help us identify if any types in user assemblies extend types listed in errors

[2020-05-13 05:41] ThomasArdal opened #6027 "ServiceBusConnection has already been closed. Please create a new instance"
I have recently added Microsoft.Extensions.Logging to my Azure Functions. This reveals a range of different errors logged from the runtime as well as bindings. I'm creating GitHub issues when I see a new error, to try and understand if each error is something I should take seriously or not. I generally think that Azure Functions log way too many errors internally. The general answer here on GitHub

[2020-05-13 05:48] miguelguadarrama commented on #4959
Same issue here. I tried the workaround by @Programmerman1 however it didn't quite work (System.Private.CoreLib: The file ....dll already exists), but I noticed something. It seems the download from azureedge.net CDN goes very, very slow, for some reason. I think it just times out and that's why I end up getting the error when running `func host start`.

Just out of curiosity I tried downloading i

[2020-05-13 06:06] CasperWSchmidt commented on #3370
Where do I find the fix? And what about V2. This issue is raised against a 2.0.1 beta and according to https://github.com/Azure/azure-functions-host/issues/3370#issuecomment-436106870 it worked in V1.
I would expect this bug to be fixed in V2 as well unless it has publicly been deprecated?

[2020-05-13 06:10] JonasSamuelsson commented on #5544
Any updates on this one?

[2020-05-13 06:20] balag0 commented on #6014
Sorry. I misunderstood the question thinking you were looking to create an app + app service plan.

I just tried the template in West US and worked fine for me
![image](https://user-images.githubusercontent.com/28721598/81777948-c2afbb00-94a6-11ea-9ccf-f7ecc30d35f8.png)

I suspect the resource group you are deploying to already has some Microsoft.Web resources which is causing some validation fail

[2020-05-13 06:42] cannehag commented on #5544
I just tried this again using:
Azure Functions Core Tools (3.0.2245 Commit hash: 1d094e2f3ef79b9a478a1621ea7ec3f93ac1910d)
Function Runtime Version: 3.0.13139.0

<PackageReference Include="Microsoft.NET.Sdk.Functions" Version="3.0.7" />

My host.json:
[code]

When looking at appinsights, now I only get traces but NO requests. Shouldn't it be the opposite ?
@brettsam @ankitkumarr

[2020-05-13 06:59] pellea commented on #5782
Is it also possible to enable us to actually get a logger in the Startup? At some point we need to log more info during the startup and our only possibility is to create a logger manually by bypassing every previously added settings using the builder.

If we try to get a `ILogger<Startup>`, that raised this following exception:

I'm aware that during the `Configure` not all dependencies are alread

[2020-05-13 08:11] ankitkumarr commented on #5930
@andrewkittredge, you could update the Application settings using [Azure Functions Core Tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#project-file-deployment) or [Azure CLI](https://docs.microsoft.com/en-us/cli/azure/functionapp/config/appsettings?view=azure-cli-latest). But the configuration settings do need to come from Application

[2020-05-13 08:15] ankitkumarr commented on #5813
@vbondaryuk, sorry for the late response here. Could you share your code or a repro with us that's showing this behavior? Or your app name so we can look at logs on our end to see if anything jumps out.

[2020-05-13 08:24] ankitkumarr commented on #5609
It sounds like the ask here is that to allows to better control dynamically the number of messages that are processed and the scaling that results with it.

I think our current design doesn't allow that, so moving this issue to Triaged to evaluate if this is something we can invest in.

[2020-05-13 08:28] gugen-otsuki opened #6062 "In what order are functions loaded?"
# Problem
I have two HTTP trigger functions with function name "Hello" and "Greet" each.
Hello and Greet functions are linked to route "{name}" and "greet" respectively.

After I start the server and send a HTTP request to `/api/greet` , I always see Hello function is called instead of Greet.
But then when I switch the function names, sending requests to `/api/greet` calls Greet function, which is

[2020-05-13 13:03] Spaceman1861 opened #6029 "Multiple awaits kill DI Scope"
Hi all,

I have been having some issues with a Dryloc Exception(detail below). The exact same application in a console app works correctly.

I have posted this issue on the Mediatr GitHub think the issue may lay there but the creator is of the opinion that it is not. https://github.com/jbogard/MediatR/issues/516#event-3327307606

#### Investigative information
Happens every time in local debug or

[2020-05-13 14:03] brettsam commented on #5544
I just tried this locally with your exact host.json and all of my requests are correctly written to App Insights.

A couple things to double-check:
1. That you have `APPINSIGHTS_INSTRUMENTATIONKEY` set in your local.settings.json (I assume you do if you see traces)
2. That you wait a bit for the telemetry to flush. If you kill the process too quickly you may miss them and unless you exit gracefull

[2020-05-13 14:12] vbondaryuk commented on #5813
@ankitkumarr, we moved our functions to v3 and applied retry policy on ADF pipeline, it fixed the problem.

[2020-05-13 15:18] DumbTechLion commented on #5798
Well, that's the same for us on Core 3.1 with v3 !

[2020-05-13 15:24] cddev commented on #5798
We have this issue too

[2020-05-13 17:36] mslot commented on #6014
I know of the windows/linux limitation. We dont have any windows resources in the ARM nor does it exist in the group before ARM deploy. I have done this on a fresh resource group.

[2020-05-13 17:59] balag0 commented on #6014
Please share the timestamp , region and appservice plan names from when you tried on empty resource group.

[2020-05-13 18:37] fabiocav commented on #6029
Thanks for opening this.

Couple of questions:
- Are you able to repro this with other async operations not using Mediatr?
- Do you see the same issue if you don't use the HTTP Client factory?

[2020-05-13 18:56] ankitkumarr commented on #5934
Moving as we already had to shrink the pipeline and it's not as big of a priority. The `WebJobs.Script.Abstractions` is only in dev and only has a single way to sign.

Moving to the next Sprint.

[2020-05-13 19:08] fabiocav commented on #5953
Done

[2020-05-13 19:08] #5953 closed, assigned to pragnagopa

[2020-05-13 19:11] fabiocav commented on #5940
Closing this as we've completed investigation and identified the root cause. Work items will be opened here and in the SQLite repo.

[2020-05-13 19:11] #5940 closed, assigned to yojagad

[2020-05-13 19:14] fabiocav commented on #5894
Moving this as a stretch item for sprint 76. We'll need to at least define the work to be done.

[2020-05-13 19:15] fabiocav commented on #5885
Closing this as the primary investigation has been completed. Issues with the label `breakingChangeAnalysis` have been opened to track additional work.

[2020-05-13 19:15] #5885 closed, assigned to pragnagopa

[2020-05-13 19:23] fabiocav commented on #5385
PR review currently in progress.

[2020-05-13 19:27] fabiocav commented on #5125
Investigation to understand the right approach is currently in progress.

[2020-05-13 19:34] fabiocav commented on #5763
Assigning to sprint 76 for investigation

[2020-05-13 20:13] ankitkumarr commented on #5813
Thanks for the update. I will close this issue.

[2020-05-13 20:13] #5813 closed, assigned to ankitkumarr

[2020-05-13 21:40] soninaren opened #6030 "Using an incorrect storage key in a blob trigger function puts the entire function app in bad state."
Repro steps:
1. Create a v3 function app
2. Create a blob trigger function
3. Use a new connections string which has the correct format, but has an expired key.

Result:
The function runtime is unable to start and throws the following error.

Expected:
The function app should keep running normally, The function using the bad connections string should be in error statae

[2020-05-13 21:41] soninaren commented on #5944
Closing this one. Have created a follow up issue here. https://github.com/Azure/azure-functions-host/issues/6030

[2020-05-13 21:41] #5944 closed, assigned to soninaren

[2020-05-13 22:44] jonarmstrong opened #6031 "All Function Keys Regenerate Constantly"
Investigative information
Please provide the following:

**Timestamp**:
**Function App version**: 2.0.13351.0
**Function App name**: automation-lnpojzrfgkuqy
**Function name(s) (as appropriate)**: function invocation not required
**Invocation ID**: function invocation not required
**Region**: East US

## Repro steps
I have a function app, which any time any of the function keys pages are loaded or

[2020-05-13 22:52] Lytigas commented on #4475
I was running into this issue locally the other day in Node. Since the update docs issue is closed, I'm wondering if this behavior is still being looked at. I rewrote my code in another language to get around it. (Content-Type headers can fix it, but don't help in my situation).

[code]

I never tested it on Azure itself.

[2020-05-13 23:01] Spaceman1861 commented on #6029
I will review both your questions and get back to you.

[2020-05-13 23:05] mhoeger commented on #4475
This is a pretty significant breaking change and we didn't take it for v3.x. It's still a big consideration for future versions.

What other language did you choose to do this? And if you need content-type to be added to all requests (say you don't necessarily have control over that), you can use [functions proxies](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#modify-ba

[2020-05-13 23:10] yangyadi1993 commented on #5216
Any updates or workaround? I am having the same issue.

[2020-05-14 03:23] mitchdenny opened #6032 "WEBSITE_RESOURCE_GROUP environment variable"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C# / Windows

#### Question
We have an Azure Function that receives HTTP triggers. As part of its processing it detects the resource group that it is running through by reading the ```WEBSITE_RESOURCE_GROUP``` environment variable on the host

[2020-05-14 08:55] cannehag commented on #5544
When digging deeper into our code we have some custom ITelemetryInitializer's that modified some properties on the Telemetry.
We also have a function that removes some customDimensions because we thought it wasn't necessary to log that much information.
Here I might have found the reason and I think it is because we remove the "Category" dimension. Do you know if that one needs to be there for the

[2020-05-14 10:09] Pentusha commented on #5971
I facing the same problem, but with the http trigger.
![image](https://user-images.githubusercontent.com/1904496/81921948-09ef9600-95e4-11ea-9f7f-b1cfe8b7f78d.png)
![image](https://user-images.githubusercontent.com/1904496/81921956-0e1bb380-95e4-11ea-851c-5e7644ac4af2.png)
![image](https://user-images.githubusercontent.com/1904496/81921961-107e0d80-95e4-11ea-9215-027c6d0cf5f8.png)
![image](https:/

[2020-05-14 10:36] bfederau opened #6033 "Always InternalServerError after recreating a function app with the same function app name"
I have created a function app using a Docker image. It was working weeks without any problems. 2 days ago I deleted the function app and recreate it. Now I have the problem if I use the same name as before the function app always shows

[code]

If I use the same Docker image but use a different name for the function app everything is working fine again.
If I use the broken function app and add a s

[2020-05-14 13:36] jordanfinners commented on #6005
Hi, just wondering if anyone has had chance to look into this yet? @fabiocav
Thank you in advance!

[2020-05-14 14:12] deyanp commented on #5924
@gzuber I tried the following C# version, and it seems to fail as well ... the C# snippet I got sent in SR 120012425000336 create a new EventHubClient in every function call (antipattern), whereas my F# and the below C# versions have the EventHubClient static ... I have the feeling that the issue is related to the static EventHubClient ...

[code]

[2020-05-14 14:57] brettsam commented on #5950
For those hitting this:
1. Can you share your csproj here? (thanks @npnelson for the repro proj)
2. Are you seeing this locally or only deployed?
3. Does it only happen with Debug builds or also Release?
4. What version of Functions are you deploying this to?

I just tried the @npnelson repro and it worked locally and deployed in both Debug and Release. Locally I'm running 3.0.13139.0 and in Azure

[2020-05-14 15:25] kentonbmax opened #6034 "Availability of V3 stable linux dotnet runtime?"
According to the docker hub page only v2 runtime is supported and stable for linux, however; using Microsoft.NET.Sdk.Functions 3.0.7 seems to work. We had previously tried to use dotnet core v3.1 as v2 is no longer supported. V2 funciton runtime only supports the unsupported dotnetcore v2 version.

[2020-05-14 15:28] brettsam commented on #5544
Category is required as all filtering is done on Category (for example -- `Host.Results` is a category, which is how the filtering knows whether to include it or not).

[2020-05-14 16:53] pragnagopa commented on #6034
Azure Functions V3 (.Net Core 3.1) is supported on linux. Can you clarify which page your are referring to? We will update the docs
cc @ankitkumarr

[2020-05-14 16:59] kentonbmax commented on #6034
Looks like base and this one [DockerHub](https://hub.docker.com/_/microsoft-azure-functions-dotnet). I'm surprised that its supported we are unable to confirm EF Core 3.1 works correctly in the v3 runtime on linux.

[2020-05-14 17:11] deyanp commented on #5924
Yes, the following works without an error, so the problem is the static EventHubClient (and I dont think the programming language matters):

[code]

How come a static EventHubClient (which is the recommendation) does not work well?

[2020-05-14 17:14] pragnagopa commented on #6034
@ankitkumarr / @ahmelsayed - Any idea how we can get the [page](https://hub.docker.com/_/microsoft-azure-functions-dotnet) updated to include V3 info?

@kentonbmax - Please share any errors / stack traces you are seeing when using EF Core 3.1

[2020-05-14 17:20] deyanp commented on #5924
Wondering if this has something to do with the FaultTolerantAmqpObject.OnCreateAsync, I see a timeout there ...

[2020-05-14 17:31] hongdai opened #6035 "Target full framework and use Azure func runtime version 3"
#### Is your question related to a specific version? If so, please specify:
V3
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
Can I target full framework, instead of .Net Core?

[2020-05-14 17:45] NVolcz commented on #4403
I believe this is also affecting V2.

[2020-05-14 18:20] metoule commented on #3741
Note that using the extension method `AddApplicationInsightsTelemetryProcessor` doesn't work either (from Nuget `Microsoft.ApplicationInsights.AspNetCore` v2.8.0).

[2020-05-14 18:38] pseabury commented on #5796
Same issue after upgrading the Functions SDK beyond 3.0.2.  Rolling back to 3.0.2 allows the Functions app to run properly again.

[2020-05-14 18:50] anthonychu commented on #6062
Thanks @usco-otsuki. I can repro the problem. I agree that this is unexpected, as `/api/greet` is more specific and should be selected even though `/api/greet` matches `/api/{hello}` as well, regardless of the order in which they are loaded.

@fabiocav Do you know if the routing is supposed to follow the same [routing rules](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=as

[2020-05-14 20:00] kentonbmax commented on #6034
I created this question on stackoverflow [here](https://stackoverflow.com/questions/61739932/azure-functions-v3-dotnet-core-v3-1-ef-core-ef-core-sql-3-1-x-no-errors-no-dat?noredirect=1#comment109214080_61739932). I have tried v3 and all v3 tags up to latest. EF inits, then nothing in linux docker image. Please let me know if you require more details. Rolling ef back to 2.2.0 and using the v2 runti

[2020-05-14 20:06] ahmelsayed commented on #6034
The dockerhub readme is out of date. There is the readme on the repo https://github.com/Azure/azure-functions-docker/blob/master/README.md with the latest tags.

The exception in the SO question is coming from the host

[code]

[2020-05-14 23:53] sujitswaroop commented on #4855
Unfortunately - the above reasoning does not apply to my situation. I am creating a basic azure function through the portal and it has been failing for the last two days. A default function app and it failed. There is no code or deployment package. I have checked the network settings of the storage account and it has "selected networks" and the "subnet" has been configured to allow the subnet the

[2020-05-15 03:00] ganesp commented on #774
@fabiocav
I am seeing the deadlock problem in one of the applications, where we make huge number of calls to this method which downloads a blob. And if you notice in the stack trace below, there is .Result usage.

Only a small percentage of calls are seeing deadlock.
I suppose, making this call await would resolve the deadlock problem.

It took me a while to figure out why the deadlock is intermit

[2020-05-15 03:59] mitchdenny commented on #6032
@brettsam we had another incident of this occur last night. We've inserted additional telemetry so we'll know for sure if the environment variable is missing of malformed (our guess is missing). Have you seen anything like this reported before?

[2020-05-15 04:19] balag0 commented on #6032
Are both the apps where you are seeing these windows function apps?

Next time you hit this issue can you check if the setting also missing at
https://[FunctionAppName].scm.azurewebsites.net/Env.cshtml

[2020-05-15 04:43] brendonatkins commented on #5950
Hello @brettsam

I'm running into the same errors as described in this thread. Below are different scenarios I'm running which encounter same exception. I've also pointed out where exception is not encountered when executing same code. I'll attempt to soon provide a repro project to show issue.

The scenario we have is specific to when Azure Client function is restarted and an Orchestration Functi

[2020-05-15 05:10] mkarthik156 commented on #5950
Hey @brettsam ,
I'm facing this issue while using in-portal development method for setting up the function.
The version of function that I use is
Runtime version: 3.0.13353.0 (~3)

[2020-05-15 05:23] cannehag commented on #5544
Thank @brettsam. Is there any other customDimensions that are required that you know of? Otherwise I would consider this working now!

[2020-05-15 05:31] mitchdenny commented on #6032
Actually its not two apps, its one app, on two separate days. Different nodes. The last incident lasted about 10 minutes before presumably the instance was cleaned up.

If I go into the Kudu will it show me environment variables across all instances, or just one of them? Our telemetry shows that it was just one instance failing:

problemId | cloud_RoleInstance | count_
-- | -- | --
System.UriForma

[2020-05-15 08:41] harisubramaniam1 opened #6037 "Function host restarting"
#### Is your question related to a specific version? If so, please specify:
Az Func V2
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
I have an Azure Function V2 with .net core 2.1 deployed on to a dedicated windows app service plan . The function app consists of 2 functions both http triggered. The function app has its Always On enabled as it is

[2020-05-15 08:58] Melifarosky opened #6038 "Provide git credentials to Azure Function"
Hello

I have an Azure Function that is being used for git caching.
The function is deployed to the Azure via Azure DevOps defined definition.
How I could provide credentials for private repositories?

Currently, I am using `https://_pat@url` syntax to provide secret token and I don't l like this approach due to many insecure things.

Is there a better option to handle it?

Thanks

[2020-05-15 09:57] Jusas commented on #6038
@Melifarosky How about using a Key Vault to store the PAT? What I mean is:
- Saving the PAT to a Key Vault as Secret
- Enable Managed Identity for the Function App
- Add that identity to the Key Vault's Access Policies so that it can read the secrets
- Add an AppSetting to the Function App's Configuration, with the value being a Key Vault Secret reference, like `@Microsoft.KeyVault(SecretUri=https

[2020-05-15 10:41] deyanp commented on #5924
Additionally, it appears to me (based on data from our running system) that function apps which use (SendAsync) **less** often the static eventhubclient have **more** TaskCanceledExceptions, which indicates in my opinion some kind of timeout ...

[2020-05-15 12:24] Melifarosky commented on #6038
Well, I have figured out several ways how to solve my problem:
1) Using `git -c http.extraheader="AUTHORIZATION: Basic {pat}" {command}` for each git command
2) Using `git config --global http.extraheader="AUTHORIZATION: Basic {pat}` which creates `~/.gitconfig` file and uses it but `~/` is Storage Account's file storage which is not a good way also because pat is stored unencrypted.

[2020-05-15 12:24] #6038 closed, assigned to alrod

[2020-05-15 12:47] IanKemp opened #6039 "Documentation: Function App Zipped Deployment page"
https://github.com/Azure/azure-functions-host/wiki/Function-App-Zipped-Deployment

Does this mean that the docs at e.g. https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push are no longer correct?

If not, what does it mean/imply?

[2020-05-15 13:27] mslot commented on #6014
[code]

Error

Info form deployment job (with timestamp, corrolation id etc)

Names:
1. S1 plan: test-linux-container-service-plan
2. Dynamic plan: test-linux-app-service-plan

Full id to resource group: /subscriptions/4ec6f523-de5f-4e8a-a6e7-45e4f53170df/resourceGroups/rg-test-for-github-issue

Resource group is created when visual studio is deploying. It is therefore completely new. I have just

[2020-05-15 15:21] anuxps opened #6040 "Azure Function is not working with HttpResponseMessage and HttpRequestMessage.CreateResponse"
# Azure Function is not working with HttpResponseMessage

I have created an Azure functions and import the nugget package for Durable Functions. The moment I have imported the package, my Azure function start throwing the following error:

 Error	CS0121	The call is ambiguous between the following methods or properties: 'System.Net.Http.HttpRequestMessageExtensions.CreateResponse<T>(System.Net.Http

[2020-05-15 15:36] robdavey555 commented on #5695
Have you tried updating the `Microsoft.Extensions.Http` package to` 3.1.4` ?

[2020-05-15 17:06] jonarmstrong commented on #6031
Actually, I think I've figured out the problem in the host code.  I pasted the function from the source file I've referenced. The issue boils down to the `GetSecretsAsync` (line 3 below) doesn't go through all of the paginated results when you use the `.FirstOrDefault` extension method. If you review the documentation for [GetSecretsAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azur

[2020-05-15 17:07] pragnagopa opened #6041 "Remove sos.netcore from runtimeAssemblies"
cc @fabiocav

sos.netcore.dll is removed for Microsoft.NETCore.App 3.1.3

[2020-05-15 17:12] balag0 commented on #6039
It just means the github wiki page is outdated and replaced by the docs wiki page.
https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push is still valid.

Are you finding something is not working as expected?

[2020-05-15 17:28] pragnagopa opened #6042 "[BrekingChangeAnalysis]Microsoft.Extensions.DiagnosticAdapter downgraded to 1.1.0.0?"
cc @fabiocav

V3 includes assembly `Microsoft.Extensions.DiagnosticAdapter.dll` version `1.1.0.0`

This assembly was removed from Shared ` C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App\2.2.8` used to be version: `2.2.0.0`

This is a downgrade. Need to figure out if we should bring version: 2.2.0.0 instead

[2020-05-15 18:14] alex-zwingli opened #6044 "Host throwing after successful CloudTable delete operation"
The following error is thrown _after_ the function returns when executing a delete operation using CloudTable and returns a `500` response code, despite the table operation successfully executing.

This is the code for the function with substitutions for table, connection, and class names.

[code]

All other CRUD operations work with the same connection string, models, etc. This function returns w

[2020-05-15 19:14] alex-zwingli commented on #6044
I moved the delete operation to a queue trigger function, which was triggered by the above function, and did not run into any errors. This is a good workaround, but I'd like to have all the functionality in the same function.

[code]

[code]

[2020-05-15 20:10] soninaren commented on #6031
@fabiocav any thoughts on this?

[2020-05-15 23:39] #6022 closed, assigned to yojagad

[2020-05-16 06:54] drewid opened #6046 "CRITICAL ISSUE!! Platform Changes to Startup.cs using ConfigurationBuilder and builder.Services.Configure??"
#5642 ## Investigative information

Have a few dozen C# Azure Functions.  Using ConfigurationBuilder in Startup.cs to add json then using builder.Services.Configure to map to settings classes and inject in Functions.

Been working great, but now all of a sudden "POOF" the Settings classes are all null starting May 15!

- Timestamp: 2020-05-16T06:44:37Z  (All day May 15-16)
- Function App version:

[2020-05-16 10:42] SergeyOpalev commented on #5216
Do not use async void - change it to async Task instead.

[2020-05-17 10:00] ghost commented on #5930
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-05-17 21:52] andrunl commented on #1469
AWS supports this?
Sad, as our code is MS C++, would be weird to move it to AWS as Microsoft does not want to support its own codebase.

[2020-05-17 22:13] sgreenlay commented on #1469
You can now supply [your own container](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image) to run in Azure Functions. I've used this to run unsupported languages like Go and Swift in Functions and you could use them to run C++.

[2020-05-17 23:27] sujitswaroop commented on #4855
What helped me resolve the issue was to add an "A" record to the on-prem DN Server and point it to the App Service Env IP.

[2020-05-18 01:39] RedFolder commented on #6046
I'm having the same problem even without custom JSON. Just configuring the startup according to the tutorial doesn't seem to work. All the settings are null. https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings

[2020-05-18 01:50] drewid commented on #6046
Gotta admit I'm pretty freaked out right now. Everything I'm coding depends on Azure Functions underneath; have a few dozen so far and it's a pretty sophisticated setup and has been running really well.

[2020-05-18 01:52] drewid commented on #6046
Even more concerned.

I can run it locally but not in the cloud using the same code that was running fine before.

So I reverted back to older code and published to a brand new azure function app.  All getting Null for all settings with code that worked Thursday.

[2020-05-18 02:20] RedFolder commented on #6046
I thought I was doing something wrong until I saw your issue. Works locally for me too, but fails when deployed to Azure. This is a showstopper!

[2020-05-18 02:33] drewid commented on #6046
It could definitely be something I am doing, and was concerned it was something with my code, or something I changed (have been progressively locking down access to the functions) but it is replicatable no matter what I do and still happens when I isolate it from my changes.

With Build coming up this week, was wondering if some breaking change accidentally got made and hopefully it is just an oop

[2020-05-18 02:57] RedFolder commented on #6046
I don't think it's anything we're doing since Microsoft's own sample code doesn't work. Between patch Tuesday and Build, I also thought some untested code may have been deployed behind the scenes.

[2020-05-18 03:11] jeffhollan commented on #6046
Ok there is a release going out per the [announcements list](https://github.com/Azure/app-service-announcements).  I'm linking to that discussion here https://github.com/Azure/app-service-announcements-discussions/issues/156.  In the meantime it appears version 3.0.13353 is still available so I believe you should be able to mitigate by pinning to that version [as detailed here](https://docs.micros

[2020-05-18 03:20] brettsam commented on #6046
Can you confirm the host versions that you're seeing this with? From the backend logs on @drewid's app above (which I found with the function invocation id), it doesn't look like they were ever running the build that just started rolling out (3.0.13614).

[2020-05-18 03:25] brettsam commented on #6046
Something weird happened here -- can you check your deployed host.json file and remove the extensionBundle section? I see that it's there -- but it shouldn't be if this is a .NET precompiled app. My guess is that this host.json does not match what you expect it to.

[2020-05-18 03:29] brettsam commented on #6046
@drewid -- It looks like host.json was deleted at some point, and we incorrectly auto-created one with bundles. I think that redeploying the correct host.json will get things running again.

@RonPeters -- If you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I find anyt

[2020-05-18 03:33] paxos commented on #5246
This needs to have a higher priority. The provided workaround, which is scheduling everything in UTC, doesn't work for all scenarios - or I am missing an obvious solution for this.

or example, there is no way to have the function run every 3 hours between 9am-6pm every work day. The translated UTC schedule would be:

`0 0 16,19,22,1 * * 1,2,3,4,5`

But this will run once Sunday, and miss one run

[2020-05-18 03:52] RedFolder commented on #6046
@brettsam Thanks for the assistance. Try this: 2020-05-17 01:39:08.946, c2f42ac00b074e47bc18bc12a498b9cd, North Central US

[2020-05-18 03:54] RedFolder commented on #6046
Also my runtime version is 3.0.13353.0

[2020-05-18 04:08] drewid commented on #6046
@brettsam what should the host.json look like?  I rebuilt, made sure it was marked as content and copy as newer and republished.  Still getting the issue.

[2020-05-18 04:14] brettsam commented on #6046
Can you share what your csproj file looks like? It shouldn't be marked as content... the default template looks like this:

[code]

[2020-05-18 04:22] drewid commented on #6046
I had it set to none - but with saying it wasn't there confused me so made the change.  Set it back

How to specifically set the version for the functions - in the .csproj?  Instructions I see are pretty vague.  AzureFunctionsVersion does not like to be set to "3.0.13353" or "v3.0.13353".  It bombs when I run things locally.

[2020-05-18 04:32] drewid commented on #6046
@brettsam

Here is the current host.json setting.  Should it be set to CopyToPublishDirectory?  Getting turned around right now

[code]

[2020-05-18 04:33] brettsam commented on #6046
Change it to exactly what I had above -- remove that `CopyToPublishDirectory` completely. That probably explains it -- you're not deploying it so we're guessing what it should be (incorrectly).

[2020-05-18 04:36] drewid commented on #6046
I will remove that for the host.json.  I don't think I had anything specified there - will go back and check.  Is the following format correct for specifying a specific version?  Still getting null settings.

[code]

[2020-05-18 04:40] brettsam commented on #6046
Specifying a version won't help -- you're already on 13353. You haven't yet been moved to the latest deployment (it's only in a very small region) -- so that's not the issue here. Deploy that host.json and I think you'll be working. That setting in csproj must be `<AzureFunctionsVersion>v3</AzureFunctionsVersion>` or some build steps may fail.

[2020-05-18 04:43] brettsam commented on #6046
@RonPeters -- I'll take a look at your scenario in the morning. If you are able to share your csproj as well, that'd help.

[2020-05-18 04:47] drewid commented on #6046
@brettsam - ok, reset my .csproj file - have the following as you specified.  But I am getting a "There are some issues with your runtime version. Click here for details" and the function host is not running.

`<AzureFunctionsVersion>v3</AzureFunctionsVersion>`

and
[code]

[2020-05-18 04:50] brettsam commented on #6046
You're now getting this error from your startup code. So looks like things are working as we expect now; get that file deployed as part of your publishing (or make it optional) and that error should go away.

[code]

[2020-05-18 04:58] drewid commented on #6046
Thanks!  I'm getting a working function again - and with the settings working.

Hmm - not sure how local.settings.json wasn't getting uploaded, must have accidentally quarked that with the fixes.

So @brettsam - now that the .csproj is all squared away again - what's the scoop on what happened?  Still not sure what happened or why.  Code was working and then not on Friday.  Thanks - very happy to

[2020-05-18 07:50] KaiWalter commented on #1634
not relevant anymore

[2020-05-18 07:50] #1634 closed

[2020-05-18 07:57] RedFolder commented on #6046
I'll share what I think are the operative parts of the csproj:

<PropertyGroup>

    <TargetFramework>netcoreapp3.1</TargetFramework>

    <AzureFunctionsVersion>v3</AzureFunctionsVersion>

  </PropertyGroup>

  <ItemGroup>

    <None Update="host.json">

      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>

    </None>

    <None Update="local.settings.json">

      <CopyToOutputDi

[2020-05-18 10:54] cannehag commented on #5544
One follow up question though @brettsam. Do you know if it is possible to wildcard the logsettings.
Traces are logged with category set to "Function.[FunctionName]" and my trace logs have the category "Function.[FunctionName].User".

Is it possible to configure this so that only my custom logs are actually saved. Like this:

"logLevel": {
         "default": "Warning",
         "Function.*.User":

[2020-05-18 11:38] ivan-sam commented on #5968
We've got the same issue.
Did try

    func extensions install --package Microsoft.Azure.WebJobs.Extensions.ServiceBus

and adding package Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator with no effect

[2020-05-18 12:08] Josh-a-e commented on #2698
My solution here is just to publish my own event when I upload the files, but it's a shame to not have this handled natively.

[2020-05-18 12:40] mark-r-cullen opened #6050 "AddSingleton with disposable instance behaviour"
#### Is your question related to a specific version? If so, please specify:

v2 - 2.0.13351.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#

#### Question

Trying to use function DI to register IDocumentClient (cosmos) as a Singleton. DocumentClient is disposable.

The documentation at https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-d

[2020-05-18 13:49] brettsam commented on #6046
@drewid -- I'm not sure that anything changed on our end -- I went back 10 days in our logs and it looks like your Startup.cs was *never* being called until last night. Is it possible that the APIs that needed these settings applied were never called until the 15th?

It does look like the underlying bug here is fixed in the latest release that is rolling out now. If you are missing a host.json and

[2020-05-18 13:50] brettsam commented on #6046
@RonPeters -- I wasn't able to find that invocation id anywhere in our logs. Is that a function invocation that you ran in production? If you aren't able to get an invocation to run -- feel free to email me your app name directly. My Microsoft email is in my github profile.

[2020-05-18 14:03] drewid commented on #6046
@brettsam definitely have had Startup.cs working for setting configs for maybe 6 months?

I'm loading about a dozen json files for setting values for a slew of integrations. For sensitive values they get values from a local secrets.json file and when deployed, from key vault values through function settings.

It could be that I changed the deployment option/method?  Will revisit. Either way, it lo

[2020-05-18 14:25] a-vishar commented on #3751
Also seeing a lot of these.

[2020-05-18 15:23] vsub21 opened #6051 "Unable to execute external binaries in bin using zip deploy and Github Actions"
I am running my function on the **Linux Consumption** plan (in Python) and I have an external binary that I have added to my project within the bin folder (a static binary for **ffmpeg**). Upon attempting to execute this program, I get a permission denied error. Even after changing the permissions on this file with chmod 777, I am unable to run this file and receive a permission denied error in th

[2020-05-18 16:07] pragnagopa commented on #5550
@anthonychu  - Can you please help review this issue to see if we need to update documentation with more details on the platforms supported?

[2020-05-18 16:10] pragnagopa commented on #5549
cc @anthonychu
Documentation is now available for the feature: https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers

Repo: https://github.com/Azure-Samples/functions-custom-handlers has more sample with ReadMe for each of them.

Closing this addressed.

[2020-05-18 16:10] #5549 closed

[2020-05-18 16:19] pragnagopa commented on #5547
cc @yojagad
@anthonychu  - Would providing documentation on how to override host.json options via environment variables would be enough for this issue?

[2020-05-18 16:22] pragnagopa commented on #5085
cc @yojagad
Flagging this as P1 as we should investigate alternative approaches to forwarding a HttpTrigger invocation to HttpWorker.

[2020-05-18 16:27] AndyMDoyle commented on #5860
I have been having the same issue with Microsoft.NET.Sdk.Functions 3.0.4, 3.0.5, and 3.0.7 (skipped 3.0.6).

Startup is not added to extensions.json when publishing in Release mode in the following ways:

- Folder - framework dependent or self-contained
- Zip Deploy - framework dependent or self-contained

Using Directory.Build.targets was working, but now causes publishing to fail locally.

Build

[2020-05-18 16:57] ruifelixpereira commented on #5170
Any update on this?

[2020-05-18 18:33] brettsam commented on #5860
Can anyone hitting this please share exactly what your publish command is that is broken? Are you using rid like `-r win-x86`?

[2020-05-18 18:47] AndyMDoyle commented on #5860
I'm targetting win-x86. Here are the settings I've used to test publishing locally:

![image](https://user-images.githubusercontent.com/307719/82248632-633b2a80-9940-11ea-8f33-0ab7093365e9.png)

[2020-05-18 18:50] brettsam commented on #5860
Does it work if you use win-x64? I'm trying to investigate why win-x86 fails to generate extensions.json correctly, yet win-x64 works.

[2020-05-18 18:57] AndyMDoyle commented on #5860
Looks like it does work using win-x64.

[2020-05-18 19:13] AndyMDoyle commented on #5860
Here's a snippet of the diag output for both runtimes that show the startup isn't discovered in our assembly (AzureFunctionsV3.dll) when targeting win-x86:

win-x64:

[code]

win-x86
[code]

[2020-05-18 19:21] brettsam commented on #6046
I worked with @RonPeters and he was hitting https://github.com/Azure/azure-functions-host/issues/5860 -- using `-r win-x86` was causing extensions.json to not be build correctly. We're tracking both of these issues elsewhere, so I'm going to close this.

[2020-05-18 19:21] #6046 closed, assigned to madelinegordon

[2020-05-18 21:00] fabiocav commented on #3751
@a-vishar can you please open an issue with details on the IOExceptions you're seeing, stack and any additional information you may have? Thanks!

[2020-05-18 21:01] fabiocav commented on #3751
Closing this as the original issue is no longer applicable.

[2020-05-18 21:01] #3751 closed

[2020-05-18 21:13] pragnagopa opened #6053 "Functions using CustomHandlers show configuration exception"
cc @ankitkumarr  - this is a recent regressions

cc @yojagad

[code]

Repro:
Run project: `WebJobs.Script.WebHost` pointing `AzureWebJobsScriptRoot` to `https://github.com/Azure/azure-functions-host/tree/dev/sample/HttpWorker`

Expected:
No configuration errors.

[2020-05-18 21:14] pragnagopa commented on #6053
Root cause:
Functions are being indexed before HttpWorkerOptions are populated

[2020-05-18 21:42] a-vishar opened #6054 "System.Runtime.InteropServices.COMException at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw"
#### Investigative information

Please provide the following:

- Timestamp: 2020-05-15T16:25:44.1847455Z
- Function App version: ~3
- Invocation ID: ed888402-6456-4cd5-ac5d-39dd7efadc08
- Region: West Europe

#### Repro steps

* Unclear, this issue seems to be logged by the function sporadically.

#### Expected behavior

* No error

#### Actual behavior

<details>
<summary>parsedStack</summary>

[

[2020-05-18 21:46] anthonychu commented on #5547
Possibly. I'm currently doing this [here](https://github.com/anthonychu/azure-functions-deno-template/blob/bc093af/local.settings.json#L6). It's a bit verbose, but I'd be okay with documenting it to see if there's demand for something better.

Does this work for the `arguments` array as well? This might not be necessary for different OSes, but needed to enable debugging.

[2020-05-18 21:49] whakomatic opened #6055 "context.bindingData returns incorrect value"
for a Javascript Azure Function using a route
context.bindingData gives incorrect value when it is a passed a 0
(this is not solved by a type constraint on the route, see below)

+ working route binding
    /myfunction/1/2

context.bindingData.param1
=> 1

context.bindingData.param2
=> 2

+ bad route binding
    /myfunction/0/2

context.bindingData.param1
=> { string: '0', data: 'string' }

contex

[2020-05-18 22:24] soninaren commented on #6050
@mark-r-cullen Can you share the piece of code where you are trying to inject Document Client. Also have you tried using cosmos db binding? It manages the connection for you so you don't have to worry about documentClient lifetime.

[2020-05-18 23:52] pragnagopa commented on #6053
cc @anthonychu as FYI.
@ankitkumarr  investigated the issue.

Functionally app is still OK. Initially when functions are indexed, we will see errors. This will cause noise in the logs. Not a release blocker.

[2020-05-19 06:22] rohinz opened #6058 "ServiceBus Output Binding: No Exception with missing ConnectionString"
An Azure Function with a ServiceBus output binding should throw an Exception, if the AppSetting for the ConnectionString is missing, but it doesn't.

I used an Azure EventGridTrigger as input binding.

#### Investigative information

- Timestamp: 2020-05-19T06:01:29.6751342Z
- Function App version: azurefunctions: 3.0.13353.0
- Function name(s) (as appropriate): ProcessEvent
- Invocation ID: eb606

[2020-05-19 07:30] macrogreg commented on #4263
I am also seeing this in a C# Function running on a Linux Consumption Plan.

[2020-05-19 08:06] mitchdenny commented on #6032
Closing this as it hasn't reoccured since it deployed additional telemetry. If it reoccurs I'll reopen.

[2020-05-19 08:06] #6032 closed, assigned to brettsam

[2020-05-19 08:26] PatruPePatru opened #6059 "Azure functions and .Net.Mail"
#### Is your question related to a specific version? If so, please specify:
Azure Functions Runtime version : 3.0.13353.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I've open this as a question as I don't know whether I'm doing something or this is a bug:

I a queue trigger that fires a function that sends a email notification.
![image](http

[2020-05-19 10:26] qfyra opened #6060 "How to properly set up Azure Functions monitoring and live metrics that has dependency injected instrumentation keys"
v3, C#

Sometime last week, the monitoring in the old Azure Functions portal interface, as well as the Live Metrics of all our Azure Functions, stopped working across the board. Since neither the Azure Portal nor the Microsoft blog mentions any changes under the hood in Azure Functions or App Insights, I must conclude that we're using some undocumented feature that was not ment to be used in the f

[2020-05-19 11:55] richardweaver commented on #6021
Just to update, this happens regardless of the Content-Type, it's also an issue with "application/json" where the body is empty.

[2020-05-19 12:11] Alxandr commented on #4906
Was this closed because it was resolved? I see the `Update diagnostic source to 4.7.0` issue is still open...

[2020-05-19 12:20] mitchdenny commented on #4906
Sorry I was in the GitHub mobile app. Must have accidentally tapped close instead of scrolling up.

[2020-05-19 16:23] pragnagopa opened #6061 "Support multiple processes for CustomHandlers"
cc @anthonychu

Rpc layer supports launching multiple worker processes: https://docs.microsoft.com/en-us/azure/azure-functions/functions-best-practices#use-multiple-worker-processes

Tracking item to extend same support for CustomHandlers

[2020-05-19 19:33] pragnagopa commented on #6019
Process startup errors with details should be logged to `exceptions` table
Here is an example of using customHandler built for Linux on windows:

[code]

@anthonychu - can you please check exceptions table. Closing this issue for now. Please reactivate if you do not see details in exceptions table.

[2020-05-19 19:33] #6019 closed, assigned to pragnagopa

[2020-05-19 20:46] anthonychu commented on #6019
It's there! Thanks.

[2020-05-19 21:37] mhoeger commented on #5624
Sorry for the delay, this fix has been released. Please create a new issue (with Functions version) if this issue still appears to happen.

[2020-05-20 01:06] glister commented on #1361
With Azure releasing a [JAM stack product](https://docs.microsoft.com/en-us/azure/static-web-apps/overview) based on Functions this issue is going to present a big friction to adoption imo for both performance and capability reasons (avoiding OOM). I was excited for Static Web Apps until I saw this limitation still exists.

Would love for this to be prioritised.

[2020-05-20 01:58] #5815 closed, assigned to pragnagopa

[2020-05-20 05:35] Zenuka commented on #5970
Experiencing the same issue. Just started with a new project and I have only one ServiceBusTrigger. Today the function stopped processing new messages after 7 minutes of inactivity. The last log messages I have are:
[code]
Environment: Windows, Consumption, West Europe, Microsoft.NET.Sdk.Functions: v3.0.7

At the moment I need to restart the app almost every hour to get it working again. Any updat

[2020-05-20 08:52] SteveALee commented on #1361
3 years old too!

[2020-05-20 10:09] mark-r-cullen commented on #6050
I can't really share the code, sorry. I have been trying to reproduce it in a small snippet that I can post here, but it seems like it is only actually affecting DocumentClient, which is odd.

If I create a small disposable class that checks whether it is disposed and throws an exception on a method call, which is registered as a singleton, it appears to behave as expected. If I try and use Docume

[2020-05-20 10:09] gzuber commented on #5924
@deyanp thanks for pointing this out, you're right I was quickly trying to get a repro going and accidentally created the client on every request. But it's interesting that that's the deciding factor between working and not.

I remember I tried creating a client every request in F# because at one point I was curious if that was the issue, but I still ran into exceptions. Granted that could have be

[2020-05-20 11:59] deyanp commented on #5924
Yes, creating the client in every request works also in F# (I have deployed this "ugly" hack into our test and production environment), however this is against MS-own recommendation to have a static eventHubClient ...
There is no difference between F# and C# when consuming EventHubs SDK ...

[2020-05-20 13:00] #5930 closed, assigned to ankitkumarr

[2020-05-20 15:48] pragnagopa commented on #5692
PR is now open that supports expanding environment variables provided in httpWorker section using `%EnvVarName%` notation.  Example:

[code]

_Note: Added `workerArguments` element to differentiate between, exe args and worker args_

[2020-05-20 17:02] mhoeger commented on #5970
Can you share your function app name, either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)? This will help us investigate. Thanks!

[2020-05-20 17:17] soninaren commented on #6050
@brettsam any idea what is going on here?

@mark-r-cullen , Thanks for the additional information, i do want to understand why you are choosing to inject documentClient instead of using cosmosDbBinding. That way you would not have to manage the state of documentClient and you should still be able to access rich types.

[2020-05-20 17:20] anilpras commented on #9290
The workaround suggested by engineering- try modifying the rule like /code/{*code}

Modify the client to send requests as https://<functionapp>.azurewebsites.net/code/fsdfsfdasfdsbk/asfdsfsfsdfdsfsa
Instead of https://< functionapp>.azurewebsites.net/code=sdfsfdasfdsbk/asfdsfsfsdfdsfsa

[2020-05-20 17:24] Zenuka commented on #5970
Do you have enough info with the following log message and that our function is running from West Europe?
`20-5-2020 12:01:22.078 Executing 'QueueListener' (Reason='', Id=04c04d21-f5d7-4bc9-b0b1-a965e1ccae33)`

[2020-05-20 17:36] mhoeger commented on #5970
@Zenuka - It looks like your issue is with your key vault references. Can you go to the Azure Portal => your function app => Diagnose and solve problems => Search "Azure Functions Diagnostics" for "key vault application settings diagnostics"? You should see a view like this that has more details:

<img width="908" alt="Screen Shot 2020-05-20 at 10 34 12 AM" src="https://user-images.githubuserconte

[2020-05-20 17:39] mhoeger commented on #5970
@gmanvel and @Andreas717, very sorry for the delay in response.

@gmanvel - I think your problems might stem from your app name being > 32 characters long (see https://github.com/Azure/azure-functions-host/issues/2015)

 @Andreas717 - I don't have enough details to investigate your specific issue

[2020-05-20 17:41] Zenuka commented on #5970
Wow, thanks a lot! You're a life saver! It is strange that it's working. I supplied a reference to an item in keyvault without a version id because I found somewhere that it would work as well. I'll add the version for now. Thanks again!

[2020-05-20 18:04] yepeekai commented on #5540
looking at the code, the default value for IISServerOptions.MaxRequestBodySize has been set to match the default value of IIS.  The problem is that you now have to change this value at 2 places:
web.config (configuration/system.webServer/requestFiltering/requestLimits: attribute maxAllowedContentLength) and the IISServerOptions in startup.cs: services.Configure<IISServerOptions>(options => { optio

[2020-05-20 19:06] anthonychu commented on #5692
Thanks! Will this work for Linux as well using the same notation?

Do you have an example of how `workerArguments` will work? For instance, will the command that is executed be something like:

[code]

[2020-05-20 19:32] pragnagopa commented on #5692
Yes. It should work on linux as well. Some discussion here: https://github.com/dotnet/runtime/issues/25792

For workerArguments, yes what you provided will be the command used to launch.
-  List in `arguments` will be appended after `defaultExecutablePath` but before `defaultWorkerPath`
-  List in `workerArguments` will be appended after `defaultWorkerPath`

[code]

[2020-05-20 19:34] pragnagopa commented on #5692
cc @yojagad

[2020-05-20 21:07] mark-r-cullen commented on #6050
It is old code that we are revisiting and we are not really in a position to do this yet.

We just moved to a V2 function and switched from SimpleInjector to the built in DI, which is when we ran in to this issue. Would like to understand what's going on with it..

[2020-05-20 21:23] pragnagopa commented on #5547
Good point about arrays. Sent a PR to add support to override arguments list.
Also, added docs label this issue to help us track adding documentation.

[2020-05-20 21:34] whakomatic commented on #6044
Alex,

My guess would be that the binding to Task expects the document to exist so when you delete it you get that error because the Task is no longer bound to anything.

You really don't need a bound task anyway. Delete just needs the ID of the item as you have done in your "FullyDeleteTask" queue example. If you use that instead it will probably work fine.

[2020-05-20 22:43] MikePennington commented on #3965
I've seen similarly horrendous startup times with http-triggered dotnet function apps (10+ seconds) and have tried everything I've found online and then some to bring it down. The best option I've found is actually to use the `func azure functionapp publish` command instead running `dotnet publish` and `az functionapp deployment source config-zip` yourself. I don't know what kind of magic it is do

[2020-05-20 22:47] brettsam opened #6068 "Improve DryIoc error message when factory delegate returns null"
It seems like this exception is missing details -- and it'd be great if we could even catch this and log something more directly applicable to the user:

[code]

You can repro this if you do something like this in your Startup.cs:

[code]

You wouldn't explicitly do this -- but some factory delegates can potentially return null, and when they do you are left with a fairly confusing message.

[2020-05-20 23:43] pragnagopa commented on #6020
Relative path for `defaultWorkerPath` should work. Similar question asked here: https://github.com/Azure/azure-functions-host/issues/5812

`defaultExecutablePath` - should either be full path or a runtime that is part of the system path.

Can you please share httpWorker section from host.json? I am curious to understand how this is working on windows. We should see same behavior on windows and lin

[2020-05-20 23:59] pragnagopa commented on #5882
This is supported now. You can override, `WorkerDirectory` element and this takes precedence over default value which points to function app root directory.

Please note that,  relative paths for  `defaultExecutablePath` and `defaultWorkerPath` use `WorkerDirectory` as parent directory.

Right now we only support  `WorkerDirectory`  to be set to full path and not relative to function app  root fol

[2020-05-21 00:03] pragnagopa commented on #5546
@anthonychu - Can you please take look at this issue? We need to provide helpful error message when trying custom handlers from existing VS tooling.

[2020-05-21 00:08] espray commented on #6059
Consumption or Premium plan pricing?

[2020-05-21 01:50] balag0 opened #6069 "Notify mesh server if container is specializing itself."
Mesh server can skip some start up activities if container has already begun specialization.

[2020-05-21 04:45] alkreddy opened #6070 "Could not load file or assembly...' error... possibly due to Dependent Package binaries not copied to 'bin'"
My Function App has references to the following packages. The local execution runtime doesn't find them resulting in Could not load file or assembly errors
- System.IdentityModel.Tokens.Jwt 6.5.1
- Microsoft.IdentityModel.Tokens 6.5.1

#### Investigative information
Local Execution
Azure Functions Core Tools (3.0.2534 Commit hash: bc1e9efa8fa78dd1a138dd1ac1ebef97aac8d78e)
Function Runtime Version:

[2020-05-21 05:59] Francisco-Gamino opened #6071 "Updates to profile.ps1 to improve cold start"
Updates to profile.ps1 to improve in cold start:

* Invoking Disable-AzContextAutosave before Connect-AzAccount saves 2-4 seconds
* Remove unnecessary Get-Module call saves around ~2 seconds

profile template will look like this:

[code]

[2020-05-21 07:03] PatruPePatru commented on #6059
Consumption plan

[2020-05-21 07:03] anthonychu commented on #6020
Yep #5812 is exactly what I’m doing.

Is it possible to simplify how we specify the startup command? It is currently split out into default execution path, args, worker path, worker args. This is going to be difficult to understand and document. Can we instead have a single array for the entire command or have the command in a single string. (I’m thinking of how docker does this work for their [CM

[2020-05-21 07:03] PatruPePatru commented on #6059
Consumption plan.

[2020-05-21 07:08] balag0 commented on #6059
In case you haven't seen this thread before
https://stackoverflow.com/questions/57327119/send-email-from-azure-function-app-without-using-sendgrid-and-office-365

[2020-05-21 08:22] gorillapower commented on #4761
Is there an update on when sprint 74 will be released?

[2020-05-21 08:27] gmanvel commented on #5970
@mhoeger I don't think that #2015 applies to us - our function name is 21 characters long & we have host id set in app settings
Function app details:
Executed: 2020-05-13 14:32:48.856
Execution Id=ad84a431-fb37-4b14-b22d-a7f935f0ea83
Region: East US 2

[2020-05-21 13:16] brettsam commented on #6050
I have no idea what's happening here -- I'm going to loop in @ealsur in case he knows of anything interesting about the DocumentClient specifically. The Functions host knows nothing about IDocumentClient so we don't do anything special with it.

Thanks for the concise sample, @mark-r-cullen, that's really helpful.
@soninaren -- were you able to repro this with the sample code?

[2020-05-21 14:44] pragnagopa commented on #6020
cc @yojagad

Yes, in addition to what we have today, we can add support for `CMD`  format:  `["executable","param1","param2"]` - easier to understand and document.

- If 'CMD' is specified this will take precedence over existing config
- `executable`  Can be
         - relative path, using function app root directory as parent folder or
         -  Full path to the exe or
         -  Runtime that

[2020-05-21 18:25] balag0 opened #6073 "Functions host startup fails with IOException"
Seems to be occuring ~100 times each day in Linux

System.IO.IOException: Invalid argument
    at System.IO.Enumeration.FileSystemEnumerator`1.FindNextEntry()
    at System.IO.Enumeration.FileSystemEnumerator`1.MoveNext()
    at System.IO.FileSystemWatcher.RunningInstance.AddDirectoryWatchUnlocked(WatchedDirectory parent, String directoryName)
    at System.IO.FileSystemWatcher.RunningInstance.Add

[2020-05-21 19:22] tombiddulph commented on #6062
I've had similar problems which I solved with the use of proxies. The proxy route seems to take priority over the non proxy route.

This [blogpost](https://briandunnington.github.io/azure_functions_route_priority) gives some insight into how routes are ordered.

[2020-05-21 20:07] gzuber commented on #5540
Yes, thank you @dalibor-sanzeru I believe this is the same issue. Looks like is was resolved and the fix should be deployed soon. Closing as duplicate of #5548

[2020-05-21 20:07] #5540 closed

[2020-05-21 23:22] pragnagopa commented on #5921
@anthonychu - Sent a PR where the request will be sent to the Url path in the HttpTrigger. For example, if routePrefix is specified in host.json:
[code]
and http binding specifies a route:

[code]
Host will forward request to localhost:<port>/foo/testPath

I think this is more useful than adding Url path as a header. Let me know what you think.

[2020-05-21 23:22] pragnagopa commented on #5921
cc @yojagad

[2020-05-22 00:13] anthonychu opened #6080 "Custom Handlers - Change "httpWorker" section to "custom" in host.json"
As discussed, let's change the `httpWorker` section to `custom` (or should it be `customHandler`?):

[code]

If possible, it'd be great to support both the old and new sections for a couple of releases and output a deprecation warning at startup. If both sections are in host.json, throw an error.

/cc @pragnagopa @fabiocav @yojagad

[2020-05-22 00:14] anthonychu commented on #6020
This is great. Thanks!

I have a couple of suggestions, let me know what you think.

* Make this change *only* in the new `custom` or `customHandler` section of host.json #6080
* Change `CMD` to `command`
* If at all possible, can we come up with a way that this new method can also support this restriction? It would make it much cleaner to use and document.

    For instance, could we search in th

[2020-05-22 00:18] fabiocav commented on #6080
Thank you for opening this. Yes, I think `customHandler` is appropriate.

[2020-05-22 01:26] #5987 closed, assigned to balag0

[2020-05-22 01:27] balag0 commented on #5261
Fixed by 9fec697f8952bf29d809745543b52681d8c3b908

[2020-05-22 01:27] #5261 closed

[2020-05-22 02:50] davidmrdavid opened #6081 "Increased Logging around gRPC server health and JobHost restarts"
#### What problem would the feature you're requesting solve? Please describe.
If the gRPC server were to become unreachable, or if the JobHost were to be forced to restart, we do not have much telemetry to help us reason about the root cause behind either of these issues. It would be great if we could increase our logging coverage to address these two scenarios 🔍

#### Describe the solution you'd

[2020-05-22 02:52] davidmrdavid commented on #6081
Tagging @mhoeger and @brettsam as they are familiar with the context

[2020-05-22 05:14] #6041 closed, assigned to pragnagopa

[2020-05-22 07:45] wolszakp commented on #5695
@robdavey555
I got the same situation with this exception.
In my setup I don't have dependency to `Microsoft.Extensions.Http`
![image](https://user-images.githubusercontent.com/19219192/82644020-eeeada80-9c10-11ea-8857-2d06d92b7e30.png)

[2020-05-22 08:10] PatruPePatru commented on #6059
I had my guess that this might be the issue, I just wanted to double check. Thanks you and have a nice day ahead. Cheers!

[2020-05-22 08:10] #6059 closed, assigned to alrod

[2020-05-22 08:11] alrod commented on #6007
https://github.com/Azure/azure-functions-host/commit/114c7a70312b10902035705d8a345de96e078d16

[2020-05-22 08:11] #6007 closed, assigned to alrod

[2020-05-22 09:17] OndrejHor commented on #4304
The face the issue still in 2020-05, have to update packages, thx @SaebAmini . The VS 2019 Add/Configure WCF Web Service wizard should be updated to use new package versions 4.7.0 instead of the obsolete and problem causing 4.4.*:

[code]

[2020-05-22 10:19] a9261 opened #6082 "Timer function execute not in expected time"
Env :
Azure function V3
C#

Problem :
I have multiple timer function at one project.
first i saw only minutes level function can find in azure storage  azure-webjobs-hosts/timer/{myfunctionName}/
![AzureFunctionIssue01](https://user-images.githubusercontent.com/3389662/82657906-b4a52b80-9c58-11ea-8881-4f0226878859.jpg)
![AzureFunctionIssue02](https://user-images.githubusercontent.com/3389662/82657

[2020-05-22 13:46] fume commented on #3804
Hi,
same issue still happens on Azure Function v3 using the Microsoft.Azure.WebJobs.Extensions.Storage 3.0.6 and the Microsoft.NET.Sdk.Functions 3.0.1

The workaround is to use the Azure Storage SDK directly and avoiding the input/output binding. So, the issue resides in the Blob binding, not the SDK i guess.

EDIT:
 I find "the real issue" : https://github.com/Azure/azure-webjobs-sdk/blob/5df91e0

[2020-05-22 15:35] pragnagopa commented on #6080
Flagging this as P1 and assigned to next sprint. This is a large work item as it will involve refactoring code to ensure that we have a single code base for process management between Rpc and HttpWorker layers.

[2020-05-22 15:38] pragnagopa commented on #6080
Copying notes from @anthonychu  in issue #6020

This is great. Thanks!

I have a couple of suggestions, let me know what you think.

* Make this change *only* in the new `custom` or `customHandler` section of host.json #6080
* Change `CMD` to `command`
* If at all possible, can we come up with a way that this new method can also support this restriction? It would make it much cleaner to use and do

[2020-05-22 15:39] pragnagopa commented on #6020
Agreed. Closing this issue as dup. Copied notes over to #6080

[2020-05-22 15:39] #6020 closed, assigned to pragnagopa

[2020-05-22 17:15] pragnagopa commented on #6080
Having support for just 'command' makes it harder to figure out which argument is intended as a file vs arg that needs to be passed to the worker start up, unless we come up with a convention such as
- Starting with '-' is an arg
- Any string with a file extension is considered as a file path and we look up full path relative to function app root.

Please do let me know if you have a better sugges

[2020-05-22 18:49] pragnagopa opened #6083 "Emit metrics for custom handlers"
Emit a metric log if host.json has httpWorker section

[2020-05-22 19:34] tombiddulph commented on #6062
To give you a more complete example from my previous post

I have two  function endpoints endpoints

`/user/search`
`/user/{identifier}`

In this case it's clear that `/user/search` would match both endpoints,

I created a [proxy](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies), set the `route` property to match the original endpoint `/user/search`, I set the proxies `bac

[2020-05-22 20:19] ivan-sam commented on #5968
We found what caused the problem in our case.
In method `override void Configure(IFunctionsHostBuilder builder)` of function Startup we replaced `IConfiguration` to add appsettings.json, keyvault, etc like this (it worked for prev version of functions):

[code]

The issue is that `IConfiguration` is not listed in `ServiceCollection` at this point. So we effectively injected our version of `IConfig

[2020-05-22 21:44] thehaseebahmed opened #6084 ""Unable to resolve service for type ..." in the Cloud"
#### Investigative information

- Timestamp: 2020-05-23T02:36:00+05:00
- Function App version: v3
- Function App name: sms-sync-for-wallet
- Function name(s) (as appropriate): All
- Region: North Europe

#### Repro steps

1. Created a new Azure Functions v3 project in VS2019
2. Wrote my logic and tested locally, everything works fine.
3. Ran locally, tested it, works as expected.
4. Deployed to Az

[2020-05-23 00:01] pragnagopa commented on #5882
Synced up with @anthonychu

We can set working directory before launching the process. To be able to figure out Function App root, need to either set an environment variable - `FunctionAppRoot` or look up any existing environment variables that have this value already.

[2020-05-23 00:19] jwisener commented on #4761
@fabiocav is there any update on this? when I look at sprint 74 it’s saying 24 days past due.

[2020-05-23 00:24] anthonychu commented on #6080
Summarizing a chat with @pragnagopa. There's no need to add a `command` property, as we can simplify the startup command to `defaultExecutablePath`, `arguments`, and `workingDirectory`.

[code]

While it's still possible to set `defaultWorkerPath` and `workerArguments`, we leave them undocumented as we don't currently see a need for them in the context of custom handlers.

Some details:

- `defaul

[2020-05-23 14:10] johlrich commented on #6070
Just hit the same issue. I first tried limiting version to <6, but 5.6.0 also caused the same exception.

Then I looked in the local tooling's bin folder and saw the 5.5.0.x in there. Locking my project to 5.5.0 version nuget package allowed the function to start.

Edit: it was the System.IdentityModel.Tokens.Jwt version in my case that resolved the issue

[2020-05-24 18:34] alex-zwingli commented on #6044
That resolved my issue. I was using the task binding to see whether or not the task already existed. Instead, I'm not using the exception returned from the table operation.

[code]

[2020-05-24 18:34] #6044 closed, assigned to fabiocav

[2020-05-24 18:51] DavidZidar opened #6085 "Configured environment is not respected when functions host thinks it is in debug mode"
#### Investigative information

- Timestamp: 2020-05-24
- Function App version: 3.x
- Region: North Europe
- .NET Version: .NET Core 3.1
- Deployment method: `az functionapp deployment source config-zip`

#### Repro steps

Read `IHostEnvironment.EnvironmentName`

#### Expected behavior

I expect `EnvironmentName` to match what I have configured using `AZURE_FUNCTIONS_ENVIRONMENT`, in this case `Pr

[2020-05-24 22:59] saikatguha opened #6373 "Proxies different backendUri for known search-engine crawlers (e.g. Googlebot)"
I am hosting a Single-Page App (SPA) on Functions. Proxies is set up to route all requests except for the API route to the static HTML content hosted on Azure Storage. This works great for browsers. It doesn't work for crawlers that are not able to handle complex SPA Javascript.

On a normal VM, I would detect crawlers by User-Agent or IP address and provide a low-fidelity HTML view for crawlers,

[2020-05-24 23:01] DanielLarsenNZ opened #6086 "Premium Functions not honoring Slot Traffic Routing settings"
Deployment Slot Traffic % Routing settings don't appear to work in Premium Functions. For example, if I set 20% of traffic to route to the "blue" slot, 100% of traffic will route to the Production slot.

#### Investigative information

- Timestamp: 21-May-2020 19:13 UTC
- Function App version: v3
- Function App name: `testinprodfn-aue`
- Function name: `GetHealth`
- Invocation ID: `561802d7-7d21-4

[2020-05-25 02:57] galvesribeiro commented on #5876
Hello @safihamid! Sorry for the delay on reply.

Tried with the latest version:

[code]

The build works, but the app doesn't start on Azure:

![image](https://user-images.githubusercontent.com/4714040/82774090-3b553680-9e1a-11ea-8b05-93cab5dfe5e2.png)

Any thoughts?

[2020-05-25 03:09] hannesne commented on #5170
Hey @ruifelixpereira and @yojagad , my team has been working on a reference architecture sample that does distributed telemetry in Typescript Azure Functions, using some code that we ripped out of the nodejs sdk and the techniques described further above. Here's the main repo: https://github.com/hannesne/projectnewcastle and I did a specific writeup in here: https://github.com/hannesne/projectnewc

[2020-05-25 03:38] petro2050 commented on #3965
@safihamid

I wanted to switch to using a premium storage account, but it looks like Azure Functions only works with general-purpose accounts. How can I use premium azure files? Would appreciate your input on that as I expect to go to production this year.

https://docs.microsoft.com/en-us/azure/azure-functions/storage-considerations

[2020-05-25 10:00] ghost commented on #5792
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-05-25 11:59] william-thomas opened #6087 "IServiceScopeFactory retrieving HttpClient or DbContext on a new thread: Scope disposed{no name, Parent={no name}} is disposed and scoped instances are disposed and no longer available."
I'm developing locally using Azure Function Runtime Version: 2.0.13351.0 and .NET Core 2.1 with a HTTP trigger.  When I use IServiceScopeFactory on a new thread to retrieve either a HttpClient (through IHttpClientFactory) or a DbContext class I get the following exception:

`Scope disposed{no name, Parent={no name}} is disposed and scoped instances are disposed and no longer available.`

[code]

T

[2020-05-25 14:58] vitalybibikov opened #6088 "win-x86 RuntimeIdentifier does not work with database"
OS: Win10
Azure Functions Core Tools (3.0.2245 Commit hash: 1d094e2f3ef79b9a478a1621ea7ec3f93ac1910d)
Function Runtime Version: 3.0.13139.0
VS 16.5.4

How to repro:
1. Just create an app from template.
2. Set the following: RID win-x86 or win10-x86
3. use Microsoft.Data.SqlClient and run a query (or add ef core/Dapper, which should use it also internally)

[code]

looks like some issue with SNI de

[2020-05-25 16:37] pragnagopa opened #6089 "V1 app initialization failures - In placeholder mode"
cc @brettsam

Follow up from issue #5575

Added logs for application initialization errors. Full stack trace:

[code]

[2020-05-25 17:07] pragnagopa opened #6090 "V1 app initialization failures"
Follow up from issue #5575

Added logs for application initialization errors. Following query:
All("FunctionsLogs")
| where TIMESTAMP >= ago(5d)
| where Summary == "Application start up failed."
| project PreciseTimeStamp, AppName , Source,Summary,Details,HostVersion
| distinct AppName

returns list of apps that failed to initialize. Details show different exceptions. Until we understand each of t

[2020-05-25 17:55] bkalafat commented on #3998
I have same problem too. Can't access service with string which contains %2F.

[2020-05-25 23:03] lafernando opened #6091 "How to Provide Blob Output Binding Binary Data in Custom Handlers?"
#### Is your question related to a specific version? If so, please specify:

v2.0.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

Custom Handler (Ballerina)

#### Question

While implementing a custom handler for the [Ballerina](https://github.com/lafernando/module-ballerinax-azure.functions) language, based on the documentation [here](https://docs.microsoft.com

[2020-05-26 06:56] SeaDude opened #6092 "`Deployment failed` : `Malformed SCM_RUN_FROM_PACKAGE when uploading built content.`"
#### Investigative information

Please provide the following:

- 2020-05-25 23:37 PST:
- Function App version: VS Code Azure Functions Extension 0.22.1
- Function App name: azBlobToAwsS3
- Region: West US

#### Repro steps

Provide the steps required to reproduce the problem:

1. Created function using VS Code
2. Once complete, selected `Upload` then `Advanced` from within VS Code Functions Extens

[2020-05-26 08:20] alkreddy commented on #6070
Thanks @johlrich , That version roll backed helped me as well.
Should this incompatibility be attributed to Azure Runtime Host or the library author?

[2020-05-26 09:23] anufryieu commented on #5240
I faced with it today.

[code]

[2020-05-26 11:23] panmanphil opened #6093 "EventGridTrigger does not create a complete function.json"
#### Investigative information

Please provide the following:

- Timestamp: n/a
- Function App version: any
- Function App name: multiple
- Function name(s) (as appropriate):
- Invocation ID: n/a
- Region: us east

#### Repro steps

create a new function in an existing function app with an eventgrid trigger.
Deploy it to azure.
In the portal in any of the functions within the function app open the

[2020-05-26 12:57] APIWT opened #6094 "Intermittent instances of "Microsoft.Data.SqlClient is not supported on this platform.""
We have a durable orchestration function that calls an activity function several times. In some cases, the activity function will fail with the exception `Microsoft.Data.SqlClient is not supported on this platform.`. This is an intermittent issue and we have tried to work around it by placing a retry policy on our activity function based on this documentation: https://docs.microsoft.com/en-us/azur

[2020-05-26 13:15] APIWT commented on #5950
@brettsam @brendonatkins Having a very similar issue here: https://github.com/Azure/azure-functions-host/issues/6094

It is intermittent but popping up just often enough that we are getting very nervous about it.

[2020-05-26 13:48] brettsam commented on #6093
This is a known "issue" -- the function.json generation has been this way for several years and this does not impact any function execution. The new Portal UX, however, sees this as an error. We're tracking this elsewhere (https://github.com/Azure/Azure-Functions/issues/1528), so closing this one.

[2020-05-26 13:48] #6093 closed, assigned to brettsam

[2020-05-26 16:16] brettsam commented on #5950
@brendonatkins thank you! When you say "Client Function is then shut down" in your failure scenario -- how is the app shutting down? And you're doing all this locally? I'm trying a bunch of combinations of things to try to reproduce this and everything seems to work as expected for me (I never see a `PlatformNotSupportedException`).

Were you (or anyone else, for that matter) able to get a small r

[2020-05-26 17:13] FrankGagnon opened #6095 "Node Function - Javascript heap out of memory"
We're deploying 15 large Javascript Functions (around 20 MB) in a single Function App. They all use Http Triggers. These Functions, once the cold startup is over, execute in <10 secs and Azure monitor show a max memory working set of < 400 MB.

When we send a bunch of queries to the Function, the cold startup is painfully slow (> 1 minute). During/after the cold startup, most of our calls start ti

[2020-05-26 17:16] safihamid commented on #3965
@petro2050 you can create your func app using a premium storage account then add the AzureWebJobsStorage app setting and sets its value to a general-purpose storage account. that storage account will be used for logging, ... but your content will be stored on premium storage account. Again we are significantly improving the download time from regular storage in the next few months.

[2020-05-26 17:18] safihamid commented on #3965
@MikePennington not sure why you see 10+ seconds of cold start, you should see the cold starts of ~1 second or so. feel free to share your app name and we can take a look.

[2020-05-26 17:19] safihamid commented on #5876
@galvesribeiro feel free to share the app name and I will take a look.

[2020-05-26 17:34] vsub21 commented on #6051
@brettsam Gentle bump on this -- have two minutes to take a look at this issue? 😄

[2020-05-26 17:47] APIWT commented on #5950
@brettsam We are not able to reproduce this issue locally. This is the full exception (with our application portion redacted) that we get in Azure. Please note this is a very intermittent issue, but it pops up often enough to be very concerning. I assume it has to do with the VM environment that gets unlucky enough to run the code:
[code]

[2020-05-26 17:58] balag0 commented on #6051
just to verify if this is due to the read only fs, can you try copying the file to the temp folder and run it from there?
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#temporary-files

[2020-05-26 18:28] FinVamp1 opened #6096 "Azure Functions v3 is not logging the Timeout Exception in the Requests, Traces, or Exceptions folder without changes to the log level."
#### Investigative information

Please provide the following:

- Timestamp: 2020-05-24T03:09
- Function App version: v3 (3.0.13353)
- Function App name: EventHubTimeoutBoqian
- Function name(s) (as appropriate): EventHubTriggerCSharp1
- Invocation ID: Executed 'EventHubTriggerCSharp1' (Failed, Id=ca9a9ccb-fd49-47d0-a711-c8d1fd2da267) (This shows up in Kusto but not in the customer AI logs).
- Regi

[2020-05-26 21:51] ealsur commented on #6050
`DocumentClient` implements `IDisposable`, there is nothing special. There is no code that would auto-dispose of a client instance.
@mark-r-cullen Are you maybe using the `DocumentClient` inside a `using` clause in your code? Like:

[code]

[2020-05-26 22:08] #4809 closed

[2020-05-26 23:15] ankitkumarr commented on #6053
Closed by https://github.com/Azure/azure-functions-host/commit/784061febe021d752882fb6e68ac3f91dec65050

[2020-05-26 23:15] #6053 closed, assigned to ankitkumarr

[2020-05-27 00:07] LarrySmith-1437 commented on #5216
same problem, with function defined using "async Task".  Same exception every execution.

Funny... Converted back to non-async, but every execution is STILL throwing a task canceled exception from System.Private.CoreLib.dll

[2020-05-27 00:09] galvesribeiro commented on #5876
Hello @safihamid

I just found out what was the problem. Since Az Func is not really well integrated with Az App Config service, It was failing to start because of a problem on the config side.

I did hacked around the problem (which btw, we should definitively have it solved and get Az Func to play nice with Az App Config) and it worked just fine.

Thanks!

[2020-05-27 00:12] galvesribeiro commented on #5876
So, for people that arrived to this issue in the future, this is what you need todo:

1. Add the props to the project (optionally make it to only run when publishing the project):
[code]

2. Use `dotnet publish` instead of the `dotnet build` which is suggested by other project templates:
[code]

3. Push the function from the output directory whatever way you want to.

[2020-05-27 00:13] fabiocav commented on #5216
@yangyadi1993  @LarrySmith-1437 is this with the same stack shared above? If so, this is not an exception that will impact runtime behavior.

[2020-05-27 00:16] LarrySmith-1437 commented on #5216
@fabiocav I updated my comment above, it's happening elsewhere once I made my method non-async. So now it's not throwing from my code, but somewhere else.

[2020-05-27 00:36] fabiocav commented on #5216
Understood, but is this causing a runtime exception that is impacting your application, or are you seeing that in VS while debugging and setting exceptions to throw? If your stack is different, can you please open a separate issue with the details? Thanks!

[2020-05-27 00:47] LarrySmith-1437 commented on #5216
Does not seem to be impacting execution, except of course it does draw some attention and one would love to know where/why the exception is happening prior to putting code into production.  I found it interesting that the exception is being thrown whether the Run method is async or not.

[2020-05-27 01:16] balag0 commented on #6092
The error usually indicates the storage account connection string configured on the function app had some issue.

Can you check if the value for AzureWebjobsStorage appsetting looks good? I also see the app azBlobToAwsS3 no longer exists, can you try again with a new app and see if that works.

[2020-05-27 03:32] safihamid commented on #5876
@galvesribeiro glad you are unblocked. here is the list you should be using:

` <PropertyGroup Condition="'$(BuildType)' == 'publish'">
    <PublishReadyToRun>true</PublishReadyToRun>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
  </PropertyGroup>`

 For RuntimeIdentifier you can win-x86, win-x64 or linux-x64 depending where you are hosting your Function app. Also do not use --self-contain

[2020-05-27 03:33] #5876 closed, assigned to brettsam

[2020-05-27 03:35] galvesribeiro commented on #5876
Ok cool! Will remove those here. I've also updated the previous comment. Thanks!

[2020-05-27 07:47] wlazuardi commented on #5854
Ditto here! I'm having the same issue with size > 100MB

[2020-05-27 09:57] tjgalama commented on #4363
The workaround mentioned by @xperiandri seemed to do the trick for now.
I added the the following line to to the Startup.cs:

`services.Configure<HttpOptions>(options => options.RoutePrefix = string.Empty); `

[2020-05-27 11:25] andrejpohlmann opened #6103 "Support of Keda scaling jobs"
Currently Azure Functions on Keda only supports scaling deployments. For short running tasks this is feasible but for long running it would be great to also support scaling jobs. I think the only missing thing in the web host is to restrict the number of messages to consume per functions to one message and then stop the host.

[2020-05-27 13:11] radmike commented on #6022
@mhoeger / @yojagad saw this was closed -- any idea when this will be released to Azure?

[2020-05-27 13:54] snuffykl opened #6104 "Intermittent duplicates traces in Application Insights"
#### Is your question related to a specific version? If so, please specify:
Azure Function v3 with Azure Durable Function Extensions
azurefunctions: 3.0.13353.0
[code]
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
 C#

#### Question
I am having intermittent issue of duplicates traces in Application Insights. Below is a screenshot of the duplicates:
<img width="88

[2020-05-27 17:02] vsub21 commented on #6051
@balag0 Just tried it this morning. I modified the my Python code to copy ```ffmpeg``` to ```/tmp``` as such:

[code]
I got the following in my logs:

[code]
It does not seem to have changed the permissions as expected. [Here](https://github.com/vsub21/sakurai-tweetbot/blob/master/sakuraitweetbot-function/__init__.py) is a link to the ```__init__.py``` and the project. Any ideas?

Also -- from wha

[2020-05-27 17:34] balag0 commented on #6051
You are right, files in temp do not persist across instances. This was just an experiment to see if that helps with modifying file permissions.

I found this earlier issue where executable permissions were not being retained in some scenarios.
https://github.com/Azure/azure-functions-core-tools/issues/1612

Based on this it looks like if you use "--build-native-deps" flag when publishing to the fu

[2020-05-27 17:35] chriswhitehead commented on #2373
Did you get this resolved another way?

Edit: I was able to resolve this by removing 'Az' = '4.*' from the requirements.psd1 file. It looks like some of the Az modules in v4 load an old version of ADAL.

[2020-05-27 18:00] brettsam commented on #5915
@glennamanns / @ConnorMcMahon -- I can't tell if this is due to `[Token]` or due to EasyAuth -- can either of you help?

[2020-05-27 18:17] balag0 commented on #6095
Is this something that started happening recently (may be after a deployment of new functions or a change in the config of the function app)?

If you can share the function app name or the region and timestamp we can investigate the slow cold start. I assume the app is running in windows consumption sku.

Independent of this, the recommendation is to limit the number of functions in each function

[2020-05-27 18:28] brettsam commented on #5915
I consulted with @ConnorMcMahon and confirmed that the `[Token]` binding is in preview and not recommended for production use.

You can do this yourself, however, by using MSAL to get a valid graph token. Some details can be found here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/on-behalf-of#how-to-call-obo

[2020-05-27 18:38] yojagad commented on #5763
Been doing some analysis. So far, following are the observations

=> Been trying with multiple httpClients but with ASPs with default scale values and the number of 500s do seem to reduce but not to a complete 0 still. This might indicate multiple processes could help.

=> Switched back and tried the experiment on premium plan but with min and max number of instances set to 1. In this case, the nu

[2020-05-27 19:24] antonGritsenko commented on #5915
@brettsam thanks for taking this. This issue is a bit more complex than written in this ticket. As you may know, we have support case opened on this.
As I wrote to support engineer, the issue is not about `[Token]` attribute, its buggy, so we use our own implementation in any case. The problem is in X-MS-TOKEN-AAD-ID-TOKEN header (used by the `[Token]` attribute as well here: https://github.com/Az

[2020-05-27 19:31] pragnagopa commented on #6095
cc @mhoeger

This needs more investigation.

@mhoeger - Can you please take a look and move this to nodejs repo if you think issue is specific to node worker?

[2020-05-27 19:43] pragnagopa commented on #6081
The scope of gRpc service is the application lifetime. Do you have an example kusto query which points to an issue inthe gRpc service? That will help figure out which logs would be helpful.

JobHost restarts can happen multiple times. I do believe we have enough logs to tell us why it is restarting. gRpc service will not be affected by JobHost restarts. Same here please do share an example kusto q

[2020-05-27 19:50] FrankGagnon commented on #6095
Hi, the creation of this Function App is really recent so there's no specific change that comes to mind. That being said, it seems to be worse than previous tests we had done using a single function
 instead of the 15.

Yes it's running on the Windows Consumption sku. The region is Canada Central, Function name is "zcace-d1-app-ifirm-tax-functions-app"  and I've just reproduced it a few minutes ag

[2020-05-27 19:51] pragnagopa commented on #5919
cc @fabiocav

You can override `host.json` sections via AppSettings. Please see here: https://stackoverflow.com/questions/59949260/azure-functions-can-you-override-host-settings

Opened doc issue: https://github.com/MicrosoftDocs/azure-docs/issues/55807 to update docs with this info.

Closing this issue.

[2020-05-27 19:51] #5919 closed, assigned to pragnagopa

[2020-05-27 20:04] APIWT commented on #5950
@brettsam It looks like this is what is happening: https://github.com/dotnet/SqlClient/wiki/Frequently-Asked-Questions#11-why-do-i-get-a-platformnotsupported-exception-when-my-application-hits-a-sqlclient-method

Basically, the Nuget package has a fallback DLL that stubs the constructor of `SqlConnection` and essentially throws a `PlatformNotFoundException` if it is loaded rather than a platform s

[2020-05-27 20:21] brettsam commented on #5385
Moving this to next sprint for further validation.

[2020-05-27 20:24] mhoeger opened #6105 "Sprint 76 V2/V3 release"

[2020-05-27 20:28] brettsam opened #6106 "Functions Sprint 76 V1 Release"

[2020-05-27 20:52] pragnagopa commented on #6090
cc @brettsam

[2020-05-27 22:44] mhoeger commented on #6081
I think exceptions are swallowed here: https://github.com/Azure/azure-functions-host/blob/6c8e3444a041f7e5ba85f4ab71e7f5c7855ec625/src/WebJobs.Script/Workers/Rpc/FunctionRpcService.cs#L84

The worker that was restarted (on JobHost restart) was unable to connect back to the server

[2020-05-27 23:06] mhoeger commented on #6095
@FrankGagnon - for slow cold start, I would also recommend making sure that you are using "run from package" set: https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package

From looking on our end, we do see that your memory usage is high? You can see the same dashboards that I'm seeing by following these steps: go to the Azure portal, navigate to your function a

[2020-05-28 00:03] JanDonnermayer commented on #3998
I encounter the exact same issue. Works when running locally, but not when deployed

[2020-05-28 01:09] JanDonnermayer commented on #3998
Interestingly, the problem can be resolved by double-escaping the string, that is, applying the escaping recursively two times.
This works both locally and deployed,

[2020-05-28 10:43] ewzluoc opened #6108 "Input Bindings interference"
#### Investigative information

Please provide the following:

- Timestamp: 2020-05-28T09:58:02.092997798Z
- Function App version: 3.0.13113 (~3)
- Function App name: ----
- Function name(s) (as appropriate): ---
- Invocation ID: c15519ef-9e9b-4736-860d-efcac0149ae7
- Region: West Europe

#### Repro steps

I have two functions that seem to interfere with each other. More accurate, the Bindings of

[2020-05-28 11:49] jenspettersson opened #6109 "Downtime after a successful slot swap has occured"
We're often experiencing downtime a couple of seconds after a slot has been swapped successfully. We're monitoring the app and see that the swap has happened and all is running fine for a couple of seconds and then suddenly we get 503 Service Unavailable for about 20 seconds... We have minimal to none load on the service we noticed it on, we just wanted to see that the swap worked.

In order to ru

[2020-05-28 13:00] #5792 closed, assigned to gzuber

[2020-05-28 13:59] bchapeau opened #6110 "InternalServerError from latest V2 runtime (2.0.13616) when calling Create Function API / ARM Template"
An ARM template we've previously successfully used to deploy our Function has started failing while deploying a function resource type (`Microsoft.Web/sites/functions`) with an InternalServerError from the host runtime:

[code]

We also get the same error if we directly invoke the [REST API for Create Function](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/createfunction).

The issu

[2020-05-28 15:19] jonarmstrong commented on #6031
@fabiocav @soninaren

Any thoughts on this?

[2020-05-28 18:12] vitalybibikov commented on #5098
Hi @fabiocav
Any news on this?

Can I somehow assist to speed this one up?

Thanks

[2020-05-28 18:31] brettsam commented on #5950
@npnelson -- thanks again for the repro. When you say this fails when running locally in Docker, is that when launching the app via Visual Studio? I think that VS is doing something odd and the `function.deps.json` file doesn't get seen when doing this, which would cause exactly what you're seeing. I was able to repro this via VS but then when I built and ran my container on my own things worked a

[2020-05-28 18:40] APIWT commented on #5950
@brettsam Thank you so much for getting back to me.

This is the invocation ID and timestamp:
[code]

Our region is East US 2.

Here is my Functions CSPROJ (with project name redacted):
[code]

This file is our Directory.Build.targets file for the Functions application (note the workaround for publishing extensions.json properly and the associated Github issue):
[code]

Here is the Infrastructure.

[2020-05-28 18:49] cartermp commented on #5858
This would definitely be good to bring back to fit scenarios where convenience is more important that performance/startup times.

[2020-05-28 18:59] #5975 closed, assigned to mhoeger

[2020-05-28 19:00] npnelson commented on #5950
@brettsam Yes, you are correct - only when launching the app via Visual Studio.

I swear I previously had this problem in Azure environments, but at this point, I'd say I am an unreliable eyewitness. I think the functions SDK and Runtime updated while I was trying to get this to work which may have corrected the issue.

@APIWT You might want to try upgrading your Microsoft.NET.Sdk.Functions to the

[2020-05-28 19:02] APIWT commented on #5950
@npnelson I'll try that out and let you know how it goes :) Yes the intermittent part of it is what scares us.

[2020-05-28 19:05] brettsam commented on #5950
@APIWT -- can you check if you have a `function.deps.json` deployed? I'd also recommend moving to the latest `Microsoft.Net.Sdk.Functions` and removing your custom build targets (they are no longer needed).

This all has to do with whether or not we can find the native deployed assembly -- it's really odd if this only happens sometimes.

[2020-05-28 19:13] APIWT commented on #5950
@brettsam We do indeed have a `function.deps.json` in the ZIP that is currently deployed. It is quite large, but this is probably the part you are interested in seeing:
[code]

Also, we will totally upgrade to the latest `Microsoft.Net.Sdk.Functions` and remove the workaround. We have been trying to upgrade stuff, but we are super nervous that we might break something if we aren't being careful. S

[2020-05-28 19:29] APIWT commented on #6109
Are you warming up your "YELLOW" slot before the swap by making a request to it? This might be necessary as documented here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-slots

EDIT: Nevermind, I see the issue. You are saying it works for a little while then goes down after like 20s briefly. Sorry! Not sure what the issue is.

[2020-05-28 19:32] FrankGagnon commented on #6095
Thanks for the feedback, we'll test the run from package!

Also thanks for the diag tab, I actually never noticed it. Memory reached pretty high indeed, around 1.3 GB. Is the Javascript head out of memory issue normal at that kind of memory usage?

So we can hook a tool like the Chrome Developper tools for NodeJs to our Function that's deployed in Azure?

[2020-05-28 20:10] vllama opened #6111 "functionTimeout in host.json is not easily configurable"
#### What problem would the feature you're requesting solve? Please describe.
We have a project with multiple azure functions, some of which we need to run on premium app-service-plans because they may run longer than 10 minutes in some instances.
We cannot for example modify the timeout for every deploy to be the same, because the consumpition plan throws a 500 error deep in the runtime somewhere

[2020-05-28 20:13] vllama commented on #6111
In the consumption plan, I had to go in the storage account share to be able to change the value. Really painful.

[2020-05-28 21:24] mhoeger commented on #6095
In Azure, I don't remember what the status of being able to remote debug is :\ cc: @pragnagopa in case she has more on the latest. This might not be possible today.

You could do take heap snapshots locally or by adding code (something like [heapdump](https://www.npmjs.com/package/heapdump))

1.3 GB is fairly high - your app runs 32-bit node by default btw, in case you can find anything documented

[2020-05-28 23:01] brendonatkins commented on #5950
Hello @brettsam

Thank you for getting back. I've attached a repro project which simplifies our app down just to the core concern I raised earlier. I tried several variations which did not require actually querying a DB but it seems the reproducable error pattern is when attempt is made to query on database, activity function fails, and then application is restarted before durable function retries

[2020-05-28 23:30] #5385 closed

[2020-05-29 02:17] jmiddleton commented on #4869
Can you please add Australia Southeast region? It is available in Australia East but not in its pair :(

[2020-05-29 07:14] mslot commented on #6014
@balag0 any news on this?

[2020-05-29 13:05] mattmelton commented on #5663
I've had a similar issue with python dynamically loading old grpc protobuf files that are no longer compatible with new code.

With WEBSITE_RUN_FROM_PACKAGE=0, the deployment performs an "in-place sync". Unfortunately this has a tenancy to leave old files around, especially locked files or run-time generated files (i.e. *.pyc). In our case the old files are slurped at runtime causing version misma

[2020-05-29 14:41] pragnagopa commented on #6095
This is accurate. As of now we do not have support for remote debugging for node functions.

[2020-05-29 15:03] pragnagopa opened #6120 "ScriptHost startup error during specialization"
cc @divyagandhii - for linux consumption
cc @FinVamp1 - for CRIs

After specialization, sometimes host fails to start with following error:

Stack trace:
[code]

Errors are spread across host runtime versions and languages. Both windows and linux consumption apps are affected by this.

[2020-05-29 15:08] divyagandhisethi commented on #6120
@pragnagopa , @FinVamp1  So that means this error is not limited to powershell apps right if it's affecting linux also?

[2020-05-29 15:17] pragnagopa commented on #6120
Yes. Error is not limited to powershell apps.

[2020-05-29 15:22] jordanfinners commented on #6005
Hey @fabiocav just wondered if you have had a chance to check this out? :) Thank you in advance!

[2020-05-29 18:19] jzabroski commented on #5894
Hi,

I am helping maintain RazorLight and am also the co-maintainer of FluentMigrator.  To date, I have had zero interest in Azure Functions, but users keep clamoring for it (congratulations on the popularity!).  My understanding is its the only practical option for serverless computing with .NET, and, as such, meets a need for .NET customers, but we're still working through what those exact needs

[2020-05-29 19:09] StephenCleary commented on #5894
@jzabroski  `RemoveRuntimeDependencies` is a build-time task; it doesn't have anything to do with hot-swapping or updates. The bug in this issue is when the function app uses a newer version of an assembly that the functions host also uses. Near the end of the build, `RemoveRuntimeDependencies` removes the assemblies that are in the functions host from the function app's output directory, and then

[2020-05-29 19:42] xzuttz commented on #5695
We're getting the same error, also on a consumption plan. Events are being thrown away.

Related issues:

https://github.com/Azure/azure-webjobs-sdk/issues/2432
https://github.com/Azure/azure-functions-host/issues/5240

Microsoft.NET.Sdk.Functions (3.0.7) references Microsoft.Azure.WebJobs.Extensions.Http 3.0.0

![billede](https://user-images.githubusercontent.com/1736521/83298773-50a0db00-a1f5-11

[2020-05-29 20:46] jzabroski commented on #5894
@StephenCleary I see. Here is my confusion, then: How can you `RemoveRuntimeDependencies` if there is a run-time setting called `FUNCTIONS_EXTENSION_VERSION` that can only be set to ~3 for "latest 3.x version"?  How do you know what runtime dependencies you have if your runtime version is a moving target?  If your users are compiling against 3.0.4 dependencies but Azure Functions fabric is running

[2020-05-29 20:47] #5630 closed

[2020-05-29 21:07] ankitkumarr opened #6122 "Add Linux deployment to our Devops release pipeline"
cc: @yojagad @fabiocav

[2020-05-29 21:18] StephenCleary commented on #5894
Just for clarification, I don't work for MS. I'm just an AF user (and a bit of a fanboy). Watching this issue since I've been affected by it.

Yes. [This](https://github.com/Azure/azure-functions-host/issues/4049) [is](https://github.com/Azure/azure-functions-host/issues/3419) [a](https://github.com/Azure/azure-functions-host/issues/2414) [problem](https://github.com/Azure/azure-functions-host/iss

[2020-05-29 21:45] jzabroski commented on #5894
While I can accept the idea that the larger your dependency graph, the more likely you'll have dependency-related issues, it seems more fruitful to try to compile the list of problems and why they occur, one-by-one.  I once challenged a Microsoft engineer, who claimed to have hit many of these problems himself, to list just some of them, and he politely refused.

Here, I am listing one of the prob

[2020-05-29 23:27] pragnagopa commented on #6120
Need to investigate why these errors show up for sla sites.

[2020-05-29 23:33] pragnagopa opened #6125 "LoadFunctionMetadata should not use cached worker configs"
cc @ankitkumarr
List of worker configs should be available in
- webHost scope to enable launching worker processes in placeholder mode
- jobHost scope to launch worker processes after specialization.

After specialization depending on the environment variables injected such as `FUNCTIONS_WORKER_RUNTIME_VERSION`, list of worker configs might differ in jobhost scope.

When jobHost restarts, list of

[2020-05-30 04:17] drdamour opened #6127 "Custom routePrefix not respected in Portal Code + Test lead to 404s always"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version: 3
- Function App name: usos1fap01-tecsys-agvance-middleware
- Function name(s) (as appropriate): *any*
- Invocation ID:
- Region: us west 2

#### Repro steps

Provide the steps required to reproduce the problem:

1, in host.json set routePrefix : "dog"
2. go to portal nav to functions
3. notice the

[2020-05-30 05:04] drdamour opened #6128 "EasyAuth breaks test within portal Code + Test"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version: 3
- Function App name: usos1fap01-tecsys-agvance-middleware
- Function name(s) (as appropriate): *any*
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

1.  enable azure ad auth for your function app per https://docs.microsoft.com/en-au/azure/app-ser

[2020-05-30 14:07] petro2050 opened #6129 "Can't update Azure Functions SDK because of JWT"
I'm currently on Microsoft.NET.Sdk.Functions 3.0.3 and trying to update to **3.0.7**. I'm using System.IdentityModel.Tokens.Jwt 6.6.0. When I update my function sdk, I get a runtime error.

`System.IO.FileNotFoundException: Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=6.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.

[2020-05-31 10:32] ramondeklein commented on #5894
@StephenCleary I am a big fan of using [Paket](https://fsprojects.github.io/Paket/index.html). It's especially useful for multi-project solutions, but because it also keeps track of all dependencies, it much better in ensuring buillds are always using the same package versions and that all projects in your solution use the same version.

PS: Loved your book 👍

[2020-06-01 07:55] LeoYang1234 commented on #6328
For me, "the method or operation is not implemented" only happens when I forcefully trigger the EventGrid triggered function using test console on the portal. If the function is triggered by a real event, then everything is good.
Please make sure the monitored eventgrid subscription actually has some event for the function to process. The test portal is misleading for PowerShell eventgrid function

[2020-06-01 08:06] Camios commented on #5912
Yes, I have a similar problem where I need a logger (doesn't need to be scoped) for an explicitly constructed service.

[2020-06-01 08:32] mark-r-cullen commented on #6050
@ealsur Nope, we're not disposing it anywhere ourselves (see the example I posted above).

I seem to remember we ran in to the same sort of issue with HttpClient, where the advise is to now use IHttpClientFactory. I don't really know the exact issue with HttpClient and the built in Function DI, could it be something similar or related to this perhaps?

[2020-06-01 09:12] ishepherd commented on #6127
This is a long-standing issue.

[2020-06-01 11:04] jzabroski commented on #5894
Ramon, I'm a huge fan of Paket, too, but it won't handle fundamental modularity challenges with Azure Functions. Azure Functions won't let you pick the exact runtime version so you can't pick the exact in-box APIs, or at least exactly the same major and minor versions. Frankly, due to how assembly resolution happens in an AssemblyLoadContext and the fact RollForward is a build-time flag that drive

[2020-06-01 17:49] gist901 opened #6131 "PowerShell Function App Failes Due To MSI Being Enabled ( Azure China )"
Hi all,

I am currently having an issue with MSI and PowerShell Function App in Azure China. I am creating a Function App that will use PowerShell and deploying it in China East 2. Then I create a new HTTP trigger that accepts POST requests. Once the Trigger is created I test it, and it will return the name 'Azure'.

If I go to Identity, and enable Managed Identity, then the Function App ceases to

[2020-06-01 18:02] mhoeger commented on #6127
@btardif - this is a portal bug, can you help get it to the right place?

[2020-06-01 18:28] kevin-secrist commented on #6131
I ran into an error like this last week, the exception you're seeing may be related to https://github.com/Azure/azure-functions-powershell-worker/issues/337

The issue that I was having was that user-assigned identities are not supported out of the box (https://github.com/Azure/azure-powershell/issues/9479), so `Connect-AzAccount` within profile.ps1 was failing because I needed to also specify the

[2020-06-01 19:31] guibirow commented on #6080
I was play around with custom handlers and noticed it does not forward the path to the handler.
Going through the issues and PRs I discovered it will be fixed in the PR https://github.com/Azure/azure-functions-host/pull/6064 linked to this issue.

I noticed you guys are adding `"type":"http"` to consider multiple handler types according to https://github.com/Azure/azure-functions-host/issues/6061

[2020-06-01 19:58] gist901 commented on #6131
Hi Kevin, thanks for the suggestion. I have run the script with moving Connect-AzAccount to the run.ps1 file and commented it out on the profile file. The Get-Module portion is working. It is the Connect-AzAccount that is causing the error. Here is the output:

```2020-06-01T19:57:24.215 [Error] ERROR: Connect-AzAccount : An attempt was made to access a socket in a way forbidden by its access perm

[2020-06-01 20:15] SriGandla commented on #3998
Yes this worked for me if i added %252f in the Function App url as opposed to %2f when i invoked the function locally.

[2020-06-01 20:30] #5763 closed, assigned to yojagad

[2020-06-01 20:34] guibirow opened #6132 "Custom Handler: Allow pre-defined routes to be handled by a custom handler via sub-path"
#### What problem would the feature you're requesting solve? Please describe.

When `customHandler` is enabled by using the `httpWorker` feature, all requests are forwarded to the handler and ignore any existing functions.

#### Describe the solution you'd like

CustomHandler is an amazing feature that will bring opportunity to do lots of customizations with languages not supported by the runtime.

[2020-06-01 20:35] dgeisner opened #6133 "Cannot link Azure Function app to github repo"
#### Investigative information
- Timestamp: 6/1/2020 13:30 PST
- Function App version: 1.0.0
- Function App name: Az-StartStopDeploymentPOC
- Function name(s) (as appropriate): N/A
- Invocation ID: N/A
- Region: Central US

#### Repro steps
Provide the steps required to reproduce the problem:
1. Opened 'Deployment center'
2. Selected GitHub
3. Clicked Authorize

#### Expected behavior
App is linke

[2020-06-01 20:47] MisinformedDNA commented on #5894
@jzabroski You should really create a new issue with your specific needs, issues, feature requests. The convo has diverged greatly from the OP.

[2020-06-01 21:01] MikePennington commented on #3965
Thanks @safihamid, I'd love the help! As I mentioned above, I see much better results when I deploy using the `func` cli, so I thought I had a solution to the issue, but now I am having difficulty using `func` in Azure DevOps, so I would greatly appreciate more insight here.

I have deployed the same codebase using two different methods. The infra is defined in an ARM template and is the same for

[2020-06-01 21:04] kevin-secrist commented on #6131
Are you using a user-assigned identity or a system-assigned identity?

[2020-06-01 21:06] gist901 commented on #6131
System-assigned identity.

This is the first time I am trying function apps since we stood up our Azure China environment recently.

I am not running into this issue when I create a system-assigned managed identity when I create logic apps

[2020-06-01 21:19] gzuber commented on #5810
@marcofortin I'm so sorry it took my so long to get back to you -- are you still seeing this issue? I've looked at the logs on our end and I saw some timeouts, but I also saw this error:

[code]

Have you seen that exception? I'm not totally convinced it's related to the timeouts, but it's something that we would want to fix before diving deeper just in case since it's happening in conjunction wit

[2020-06-01 21:20] MisinformedDNA commented on #5894
@brettsam Today as-in 3.0.4+? Because it seems like this wasn't an issue with 3.0.3.

[2020-06-01 21:21] gzuber commented on #5858
I'll go ahead and add this to our list of Triaged issues so we can take a look and evaluate what we'd like to do going forward. Thanks for the feedback!

[2020-06-01 21:55] mhoeger commented on #5731
Closing as dupe of https://github.com/Azure/azure-functions-host/issues/1361

[2020-06-01 21:55] #5731 closed

[2020-06-01 21:59] mhoeger commented on #5502
So sorry for the delay - I'm glad you've found the solution to this issue. Here's a comment about why that may have been there: https://github.com/Azure/azure-functions-host/issues/4055#issuecomment-505599197

[2020-06-01 21:59] #5502 closed

[2020-06-01 22:05] yojagad commented on #5085
Fixed by https://github.com/Azure/azure-functions-host/pull/6126

[2020-06-01 22:05] #5085 closed

[2020-06-01 22:18] jzabroski commented on #5894
@MisinformedDNA , @StephenCleary comment [here](https://github.com/Azure/Azure-Functions/issues/1518#issuecomment-611866291) answers your question.  Pasted below as inline quote so it dumps nicely into email alert:

[2020-06-01 22:22] jzabroski commented on #5894
@MisinformedDNA I guess I was making a two-sided argument on how to view the problem of reducing payload size of dependencies (which is why this issue even exists in the first place).  I was trying to save the Microsoft team extra work, not create work.  Trust me when I say I've spent the better part of the last 3+ years wrapping my head around how .NET Core manages dependencies, and, as a library

[2020-06-01 22:59] MisinformedDNA commented on #5894
@jzabroski @StephenCleary Wow. As this is an unintended breaking change, you would think that the Functions team would want to disable `RemoveRuntimeDependencies` until they come up with a proven solution.

[2020-06-01 23:05] davidmrdavid commented on #6081
@pragnagopa Thanks for the info! So this is actually related to a customer incident so I don't think I should share any Kusto logs in about it in a public forum. I'd be happy to follow-up internally though!

@mhoeger Thanks so much, good catch! So I take it we can probably get a way with just adding the following handler right before the `finally`:

[code]
Obviously, we'll never know if this is en

[2020-06-01 23:09] mhoeger commented on #6081
@davidmrdavid 👍 🙏 🎊

[2020-06-02 00:16] pragnagopa commented on #6081
Moved to triage. Logging unhandled exceptions in gRpc host will help us figure out next steps in adding more specific logging if needed.

@davidmrdavid - please go ahead and send a PR. Thanks!

[2020-06-02 00:18] pragnagopa opened #6136 "Update workerConfig to include which stream to use for console logs"
As of now console logs form standard error stream are parsed to figure out error/warning or info level.
This info needs to be coming from the worker config as each runtime could be different.
For example, Java writes all logs to error stream. Node writes error logs to error stream. No need to parse message.

Improve https://github.com/Azure/azure-functions-host/blob/aead204f7a7ace3c9bede9f79282499

[2020-06-02 00:21] pragnagopa commented on #6080
@guibirow  - thanks for the feedback.

As of now we do not intend to support customHandler (s) of multiple types in one function app. This is similar to - one function app supports functions for one language.

[2020-06-02 05:04] ishepherd opened #6137 "How do I control max instances of an app on Premium Plan?"
I can set bounds on scaling of the plan (screenshot)

Is there any way to set bounds on how many instances of the app are running?

(Will the `WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT` be effective for controlling this on Premium Plan?)

![image](https://user-images.githubusercontent.com/3198421/83481914-52fb8180-a4e2-11ea-991f-c68b57b20c8b.png)

[2020-06-02 05:40] btardif commented on #6127
I don't have enough permissions to move items from this repo.

I have create this other bug: **https://github.com/Azure/Azure-Functions/issues/1614**

And tagged the folks in this thread. I think @mhoeger please close this one and we can use the other one for tracking and progress.

[2020-06-02 09:41] IanKemp commented on #6094
Any reason why you aren't using the latest version of `Microsoft.NET.Sdk.Functions`?

Also, you don't seem to be referencing `Microsoft.Data.SqlClient` - is this correct, and you're thus confused as to why you're getting that error message?

[2020-06-02 10:40] IanKemp commented on #6094
@APIWT seems like you are getting assistance in #5950, might be prudent to close this issue so focus can remain there.

[2020-06-02 13:01] VividDigital opened #6138 "[HttpTrigger] DateTimeOffset? binding failure causes POCO binding to fail entirely"
- Function App version: v3
- Region: local development

#### Repro steps

POST json object to endpoint:
{
id: 3,
timeA: "2020-06-02 00:04"
timeB: ""
}

#### Expected behavior

timeB is not a valid DateTimeOffset and should be set to null when it fails to parse correctly while the id and timeA correctly bind to the POCO

#### Actual behavior

When timeB is included but is null or a string that can'

[2020-06-02 13:08] VividDigital opened #6139 "[HttpTrigger] DateTimeOffset? binding works when POST but fails with GET"
- Function App version: v3
- Region: local development

#### Repro steps

Provide the steps required to reproduce the problem:

post query string with DateTimeOffset?:

?from=2020-06-02T04:00:00.000Z&to=2020-06-03T03:59:59.000Z

#### Expected behavior

DateTimeOffset? fields bind correctly, the same way they do when those values are posted instead of used in the query string

#### Actual behavior

[2020-06-02 13:18] APIWT commented on #6094
Hey @IanKemp! We are referencing `Microsoft.Data.SqlClient` transiently through the EF Core SQL Server nuget package in a project reference of the functions project. We updated `Microsoft.NET.Sdk.Functions` (as per advice in #5950) and I'll close this issue and continue to work with them over there. Thanks!

[2020-06-02 13:18] #6094 closed, assigned to mhoeger

[2020-06-02 13:29] gist901 commented on #6131
If I use user-assigend identity, I get the same response / error messages in the function app as mentioned above.

I tried creating new function app in different regions. Then creating a MSI first before creating the Function. But still run into the same issue.

If I run `Set | grep MSI` in the console window I do see the MSI Secret for the Function App and the following information

[code]

[2020-06-02 14:39] IanKemp commented on #5950
I'm having a similar issue, and it's trivial to replicate. I've attached a set of sample projects that demonstrate the issue, read on for the explanation and/or a way to recreate the scenario if you don't trust my download:

[AzureFunctionsSqlClientBug.zip](https://github.com/Azure/azure-functions-host/files/4717903/AzureFunctionsSqlClientBug.zip)

Firstly, create a .NET Core 3.1 Azure Functions v

[2020-06-02 15:02] APIWT commented on #5950
@IanKemp I think in your case, you might need to use `Microsoft.Data.SqlClient` as of .NET Core 3.1

[2020-06-02 15:13] petro2050 commented on #3965
@safihamid It says premium storage accounts only support page blobs. Don't I need file shares with Azure Functions?

![cap](https://user-images.githubusercontent.com/62858360/83536551-fcc61880-a4b8-11ea-809d-956e09f8ef51.PNG)

When I try to create a function app with premium storage, I'm getting `BadRequest` on Azure Portal. It's unable to resolve `_accountname_.file.core.windows.net`.

[2020-06-02 15:25] IanKemp commented on #5950
Ah, very interesting.

For the .NET Core and ASP.NET Core solutions, the Visual Studio Modules windows shows the following as I'd expect:

<img width="961" alt="NetCoreConsole modules" src="https://user-images.githubusercontent.com/1726434/83536921-ce156580-a4eb-11ea-87d7-50e86393f341.PNG">

But the Azure Functions run shows an **additional** `System.Data.SqlClient.dll` loaded from the Azure Funct

[2020-06-02 15:31] IanKemp commented on #5950
@APIWT Can you point me to any documentation stating this? I've searched extensively and haven't found anything.

If that's true then it essentially prohibits anyone with a Framework project that uses SqlClient, from using that project in a Functions V3 app, without refactoring the Framework project to use `Microsoft.Data.SqlClient` first. That's a pretty big ask...

[2020-06-02 15:46] IanKemp commented on #5950
Okay, this is definitely an assembly load problem, but I'm no longer sure if it's an Azure Functions or SqlClient one.

Note how in the .NET Core console/ASP.NET Core modules shown in my previous comment, the SqlClient DLL is being loaded from `bin\Debug\netcoreapp3.1\runtimes\win\lib\netcoreapp2.1`.

But in the Azure Functions modules, that DLL is being loaded directly from the `bin\Debug\netcore

[2020-06-02 15:47] APIWT commented on #5950
@IanKemp To be honest, I don't really know if it is a requirement. I just know that when we migrated our ASP.NET Core application from 2.2 to 3.0 we weren't able to compile unless we did. And since we use EF Core as part of our functions application, it was a change we assumed would carry forward into both projects.

This is what we read at the time:
https://docs.microsoft.com/en-us/dotnet/core/co

[2020-06-02 15:48] APIWT commented on #5950
@IanKemp Do you have a Startup class? If so, what happens if you add some code like this in the `Configure` function?
[code]

I realize how ridiculous this looks, but I am curious if it forces the correct assembly to load.

[2020-06-02 15:53] IanKemp commented on #5950
It does!

![image](https://user-images.githubusercontent.com/1726434/83541271-59452a00-a4f1-11ea-9591-b6ffc143c9c1.png)

... kinda...

Unfortunately, although the correct assembly is loaded, the application still fails with:

If only I knew **what** specific file (framework source stepping doesn't help, since by the time that exception is thrown the path of the file it's trying to load has been op

[2020-06-02 16:00] APIWT commented on #5950
That's a bummer. This is kind of what we are trying (although we are using `Microsoft.Data.SqlClient` instead) to try to work around this issue. Not sure what else to do at this point.

[2020-06-02 16:08] brettsam commented on #5950
(focusing on @brendonatkins repro first) -- Thanks for that readme! I was able to reproduce this now. It seems like something is happening when Durable Functions starts the function from a retry -- but now I have something to try to debug. Will come back with my findings.

[2020-06-02 16:12] APIWT commented on #5950
@brettsam That's awesome news! Thank you and best of luck.

[2020-06-02 16:22] ConnorMcMahon commented on #5915
@antonGritsenko,

How is the user authenticated in at this point? Did they do a browser log-in, or did you use an AAD access token as a bearer token to authenticate the API?

If it's the browser login scenario, make sure you have set up your AAD identity provider with a client secret. Then you should have access to an X-MS-TOKEN-AAD-ACCESS-TOKEN header. Access tokens DO refresh when the /.auth/ref

[2020-06-02 16:24] IanKemp commented on #5950
Thanks to the magic of .NET Core [assembly loading trace flags](https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/default-probing#how-do-i-debug-the-probing-properties-construction), some more critical info:

For the .NET Core console solution:

[code]
...
[code]
...
[code]

But for the Azure Function sln:

[code]
...
[code]
...
[code]

The .deps files entries for `System.Data.SqlCli

[2020-06-02 16:36] APIWT commented on #5950
@IanKemp Dumb question, but is the test that you have just run with or without the `Startup` workaround of forcing loading the right assembly?

[2020-06-02 16:55] antonGritsenko commented on #5915
@ConnorMcMahon Sorry, not sure if I get what you mean with

Let's assume the simplest scenario: user open Azure Functions URL direct in the browser. He will be redirected to Azure AD log in screen where he must log in. The only things I can control here is client ID and client secret, that's all.

What's going on for me with this scenario:
1. Open Azure Functions URL -> page redirect to Azure AD l

[2020-06-02 17:28] ConnorMcMahon commented on #5915
@antonGritsenko

I'm definitely confused by the results in step 5. That should not be the case. If you are prompted to relogin, your access token (and your id token for that matter), should be new. I would verify that you are having that issue, in which case that should definitely be investigated.

As for hitting /.auth/refresh, you can hit this from your functions code. The tricky part will be ma

[2020-06-02 18:13] FrankGagnon commented on #6095
Ok it does seem like switching the platform to 64 bits fixes the javascript head out of memory issues. Running a function per Function App diminishes the memory footprint of every Function App so it also seems like we avoid the memory issues that way.

Would you also recommend limiting the number of functions in a Premium Function App? I know the minimum function instances will always be up but I'