[2021-10-13 07:22] neilboyd commented on #7289
@balag0 I just re-ran it. The correlation id is 7b079c1e-6bf0-48dc-9506-d36efcfa9b92

[2021-10-13 17:12] tlduong opened #7766 "Azure function authentication with AAD HTTP 500 error"
Here's my azure function URL:
https://azfuncapp-maps-test.azurewebsites.net

I followed this article to configure authentication but end up getting HTTP 500 error. I was able to get the access token but was not able to make subsequent call with the token, all results with HTTP 500 error.

Here's the article I followed:
https://anupamchand.medium.com/securing-your-function-app-api-using-aad-313b929

[2021-10-13 17:27] andrewdmoreno commented on #7216
@v-bbalaiagar is there any update on this?

[2021-10-13 19:02] SeanFeldman opened #7767 "Scale controller with Service Bus trigger to ignore scheduled/deferred messages"
#### What problem would the feature you're requesting solve? Please describe.

Scale controller takes scheduled and deferred messages into consideration, mistaking those messages for active messages and assuming it needs to scale out to process those.

#### Describe the solution you'd like

Do not take scheduled and deferred messages into account when calculating the necessary scaling.

#### Descr

[2021-10-13 19:13] RARomano commented on #7762
That happened with my as well, but with the early access .net 6 and function host ~4

[2021-10-13 20:22] fabiocav commented on #7558
@Francisco-Gamino; @kashimiz is still working on validation and will continue to look at this in 112

[2021-10-14 12:16] v-bbalaiagar commented on #7764
Hi @SeanFeldman,  Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-10-14 17:08] AndersDyhr commented on #7688
haven't heard back from you, are there any status on the investigation?

[2021-10-14 17:57] soninaren commented on #7757
cc: @fabiocav

[2021-10-14 21:07] nzthiago opened #7772 "Functions Host Updates for Drain Mode"
Drain Mode is an internal feature of the Azure Functions platform (Functions Consumption and Premium plans) to enable graceful scale-in of workers with minimal impact on executing function invocations. Drain mode is already implemented and allowing instances to gracefully shutdown up to Functions timeout periods. The platform has been updated and this feature is available for Windows and Linux on

[2021-10-14 21:17] tlduong commented on #7766
I have this in my startup:
            services
                .AddMvc()
                .AddXmlSerializerFormatters();
Should be this:
            services
                .AddMvcCore()
                .AddXmlSerializerFormatters();

This was loading some authentication handler that conflict with easyauth.

[2021-10-14 21:18] #7766 closed, assigned to soninaren

[2021-10-14 21:46] liliankasem commented on #7772
Tagging related issues:

#### Host

- https://github.com/Azure/azure-functions-host/issues/6268
- https://github.com/Azure/azure-functions-host/issues/7332
- https://github.com/Azure/azure-functions-host/issues/7188
- https://github.com/Azure/azure-functions-host/issues/7673
- https://github.com/Azure/azure-functions-host/issues/7781
- https://github.com/Azure/azure-functions-host/issues/7774
- ht

[2021-10-14 21:55] surgupta-msft opened #7773 "Merging PR for worker indexing (project stein)"
Document - [Here](https://microsoft.sharepoint.com/:w:/r/teams/Antares/_layouts/15/Doc.aspx?sourcedoc=%7BE0283F6F-8072-4173-9D50-76966BD6D8F2%7D&file=Project%20Stein%20(Worker%20Indexing)%20Reference%20Documentation.docx&wdLOR=c0AEA68A1-EC24-47E6-80AA-D5F67612F840&action=default&mobileredirect=true&cid=6ad859e5-0a29-4b02-b7f8-7cce84b166e6)

Epic - https://github.com/Azure/azure-functions-host/issu

[2021-10-14 22:02] liliankasem opened #7774 "[Resume API] Implement resume API endpoint in the functions host"
Based on the design document for Drain Mode Resume, implement the resume API within the functions host.

Epic: #7772
[Design document](https://dev.azure.com/msazure/One/_wiki/wikis/Antares%20Engineering%20Hub/189846/ResumeModeAPI)

[2021-10-15 02:11] alrod opened #7776 "Complete active invocations on DisposeAndRestartWorkerChannel"
If we [restart ](https://github.com/Azure/azure-functions-host/blob/405a25dc064d3cc85f5c6419361db87c610386a1/src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFunctionInvocationDispatcher.cs#L538)a worker channel current invocations on the worker will not be finished, [this code](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.Grpc/Channel/GrpcWorkerChannel.cs#L558)

[2021-10-15 13:32] ghost opened #7777 "Could not load file or assembly 'System.Configuration.ConfigurationManager'. The system cannot find the file specified."
### Description

Running a function app on consumption plan and since today the functions won't run (respond with 500 internal server error). The error message on the logs is the following:

[code]

The System.Configuration package is not used by the function.

### Configuration

- Timestamp: 2021-10-15T13:18:21.634
- Function App version: ~4
- Invocation ID: 47f64639-0b64-41aa-8bea-afaa6fe48684
-

[2021-10-15 14:04] aangelisc opened #7778 "Azure Function response time consistently increasing over time"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: Ongo

[2021-10-15 16:04] MahaSPR opened #7779 "Azure Functions runtime is unreachable - When a Queue Trigger function is added."
Hello,

I have an Azure Function App with Python 3 code implementation, that has HTTP Trigger functions and Timer Trigger Functions, which are running fine on an EP2 App Service Plan. But, as soon as I add and deploy a Queue Trigger function, I get the error "Azure Functions runtime is unreachable." in the Azure Portal when I try to view the Functions.

#### Investigative information

Please provi

[2021-10-15 17:09] #7776 closed, assigned to madelinegordon

[2021-10-15 21:27] liliankasem opened #7781 "[Resume API] Investigate restart API feasbility"
Investigate if the way the [restart API](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Controllers/HostController.cs#L235-L242) works can be used to implement the resume API.

https://github.com/Azure/azure-functions-host/blob/461e99d3e8aaafd53f6a81dbb02d4c4f11237ace/src/WebJobs.Script.WebHost/WebJobsScriptHostService.cs#L431

Epic: #7772

[2021-10-16 01:17] mattchenderson opened #7782 "Update default bundle in generated host.json once bundle V3 is finalized"
_This is a tracking item for action to take once the V3 bundle exists in the main bundle ID._

If host config is not present, the host generates a default `host.json` file. This is used in a few places, notably the portal editing experience. Today this uses the V2 bundle:

https://github.com/Azure/azure-functions-host/blob/35913e7c2285cd5774a4647bbb84fe5caa8a5834/src/WebJobs.Script/ScriptConstants

[2021-10-17 12:05] pastushenkoy opened #7783 "When does Azure functions runtime version change?"
Hello everyone.

I had interesting problem couple of weeks ago:
We have an azure function which executes in process and reacts to queue trigger.

About a year ago we deployed it to cloud and it worked successfully until we needed to change a littel piece of code. This piece of code didn't touch any architecture or nuget packages, it just intoduced some internal logic.
After we deployed a new versi

[2021-10-17 17:59] balag0 commented on #7783
When an app starts, it will use the latest host version at that point in time. After that, if there is a new host version available on the platform, the running instances will not be automatically recycled to pick up the new host version. But if the app/ running instances get recycled for some reason (app restart, app deployment, service healing), they will start using the new host version.

If th

[2021-10-18 02:03] damon-e-drake commented on #6925
Is there any update on this issue? I am trying to run  a proof of concept for a client and wanted to use Kafka in .Net 5.0 isolated functions. I added the Microsoft.Azure.Functions.Worker.Extensions.Kafka (3.2.1) and I am getting the same error:

[2021-10-18 09:30] ghost commented on #7777
Issue resolved by adding the following:
[code]

[2021-10-18 09:30] #7777 closed, assigned to soninaren

[2021-10-18 09:37] cjaliaga commented on #7777
@konstantpapp could it be possible for you to share your fsproj file?

[2021-10-18 09:54] v-bbalaiagar commented on #7779
Hi @MahaSPR, Thank you for the feedback! We will reproduce this issue and update as appropriate.

[2021-10-18 10:28] ghost commented on #7777
Sure @cjaliaga, that's how the latest working version looks like:
[code]

[2021-10-18 12:39] pastushenkoy commented on #7783
@balag0  Thank you for your answer. Can you also tell me will the host version be updated if application scales to zero, i.e. has no running instances at the moment?

[2021-10-18 16:42] v-anvari commented on #7762
Thank you for reaching out to us,  We will investigate this further and update you with the findings.

[2021-10-18 16:43] v-anvari commented on #7778
Thank you for reaching out to us,  We will investigate this further and update you with the findings.

[2021-10-18 16:44] v-anvari commented on #7778
Can you also, provide the source code that you are using and explain the VNet setup

[2021-10-18 17:42] v-bbalaiagar commented on #7750
Tagging @patelchandni /@amamounelsayed for further investigation

[2021-10-18 18:00] balag0 commented on #7783
When there are no running instances, the app will not be using any particular host version at that time. The version selection will eventually happen at the time of starting a new instance (based on the config on the app and the available host versions on the worker).

[2021-10-18 18:19] liliankasem opened #7784 "Update the gRPC pipeline to signal cancellation"
- Epic: https://github.com/Azure/azure-functions-host/issues/7785

Signal that a cancellation token has been set for drain mode and shutdown.

[2021-10-18 18:21] liliankasem opened #7785 "Improve cancellation token experience for drain and shut down"
- [ ] https://github.com/Azure/azure-webjobs-sdk/issues/2795
- [ ] https://github.com/Azure/azure-functions-host/issues/2152

[2021-10-19 11:21] v-bbalaiagar commented on #7783
Hi @pastushenkoy,  Let us know if the information resolves your query, or if you have any further queries.

[2021-10-19 11:27] v-anvari commented on #6778
Opened a new document issue for further validation - https://github.com/MicrosoftDocs/azure-docs/issues/82589. Closing this issue here

[2021-10-19 11:27] #6778 closed, assigned to nobody

[2021-10-19 11:29] v-anvari commented on #6775
Closing this issue as the PR resolves this issue

[2021-10-19 11:29] #6775 closed, assigned to nobody

[2021-10-19 11:30] v-bbalaiagar commented on #7681
Hi @fabiocav, Can you please suggest what versions of package he should use here.

[2021-10-19 11:37] v-anvari commented on #6202
Hi @yashvardhan90 , Please let us know if the issue still persists, because a lot of fixes were made to the host versions in this period.

[2021-10-19 11:41] v-anvari commented on #6184
Hi @jdubois , Can we know if you are seeing this issue still and requires further follow up

[2021-10-19 12:31] v-bbalaiagar commented on #7753
Hi @manojyamasani,  I went through the logs for the time stamp : 2021-10-08 00:00:00 to 2021-10-10 23:59:00. I see the error Singleton lock renewal failed for blob 'fun*****' with error code 409: LeaseIdMismatchWithLeaseOperation. Here is how you can troubleshoot the issue.
https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/TimerTrigger#troubleshooting
Related information:
[azure-functions

[2021-10-19 12:48] pastushenkoy commented on #7783
@v-bbalaiagar Yes, totally resolves. Thank you very much for your help.

[2021-10-19 12:48] #7783 closed, assigned to brettsam, v-bbalaiagar

[2021-10-19 12:48] jdubois commented on #6184
![Screen Shot 2021-10-19 at 14 46 42](https://user-images.githubusercontent.com/316835/137912320-dece7ac5-5e76-4adf-a391-679ba597eecb.png)
Yes here is a screenshot I just did: as you can see, I had 7 executions (which is correct), but this used 0 bytes of memory, which is obviously wrong. I also wonder how the customers are billed in this case, as this depends on the memory used.

[2021-10-19 12:56] Sti2nd commented on #6476
Seems to be working now (with Azure Application Insights)! When passing in the exception to ILogger the log is considered an exception instead of a trace. In Azure Application Insights, instead of querying for `traces` you must now query for `exceptions`
![image](https://user-images.githubusercontent.com/6373430/137913770-b588ceca-e531-4e87-a579-fb961ef53a9a.png)

Relevant documentation: https://d

[2021-10-19 12:58] v-anvari commented on #6184
Thank you for the confirmation. I shall further follow up with the team on this issue. Can you confirm if this is specific to any OS?

[2021-10-19 13:00] v-bbalaiagar commented on #7745
Hi @pjgsk, Thank you for the update, I shall discuss this internally and update as appropriate.

[2021-10-19 13:30] jbanken commented on #5240
Following up on this issue from my comment above.

I split up the AZFs that were under one plan into multiple plans. This allowed me to scale more granular by putting the heavy load triggers on their own plans.

We also created a separate app insights and storage account for each AZF with all app insights pointing back to a centralized Log Analytics Workspace.

After switching to premium plan all

[2021-10-19 13:33] jdubois commented on #6184
This is a custom handler, so yes it's specific to Linux. It's running inside a container.

[2021-10-19 16:18] liliankasem opened #7790 "Portal UI bug showing mutliple `api` prefixes"
I've noticed a bug in v4 where the api prefix is added twice in the UI, for example:

`myfunctionapp.azurewebsites.net/api/api/HtmlParser`

Functionally, the expected behaviour is still correct, the function app works by hitting the endpoint with only one api prefix:

`myfunctionapp.azurewebsites.net/api/HtmlParser`

![double api](https://user-images.githubusercontent.com/2198905/137950522-19502ba

[2021-10-19 18:01] pragnagopa opened #7791 "Introduce list of language workers to start in placeholder mode"
Add new environment variable  that lists langauge workers instead of hardcoding the list here: https://github.com/Azure/azure-functions-host/blob/443869e7a41c820288d0d5cb87b31e7569ed118d/src/WebJobs.Script/Workers/Rpc/RpcInitializationService.cs#L26-L40

This is useful to set explicit list of languages in mesh images used for Linux Consumption  where we do bring up python and node language workers

[2021-10-19 20:37] #7753 closed, assigned to nobody

[2021-10-20 11:44] cjaliaga commented on #7777
Thanks @konstantpapp.

A new version of `Microsoft.NET.Sdk.Functions` has been published, 4.0.0: https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/4.0.0

[code]

If you update to this one the workaround should not be necessary anymore and could be removed:

[code]

Please let us know if this doesn't work for you.

[2021-10-20 13:13] rosidigital commented on #7618
@AsgerPilegaard I have run into the same problem, both on windows and linux. The most annonying thing is that it comes out of the blue. We have a QA environment and a PRODUCTION environment - just compared the ARM templates and they are exactly identical - but somehow the PRODUCTION will not start!

Even tried creating a new Azure Function and deploying to that - even that didn't help.

Will proba

[2021-10-20 17:49] amamounelsayed commented on #7618
@rosidigital can you share your app language and type (dedicated, premium, consumption) please?

[2021-10-20 18:03] amamounelsayed commented on #7688
Thank you for your patience, For linux could you please make sure that you are using these app settings, https://docs.microsoft.com/en-us/azure/azure-monitor/app/monitor-functions ?

Thank you so much

[2021-10-20 19:47] mathewc opened #7792 "Service resolution exceptions for IDrainModeManager"
We're seeing errors in production for the [drain API](https://github.com/Azure/azure-functions-host/blob/443869e7a41c820288d0d5cb87b31e7569ed118d/src/WebJobs.Script.WebHost/Controllers/HostController.cs#L110) where it can't resolve the service. This is because it's using [FromServices] to access a job host level service, which won't be available if a host isn't running. Related to https://github.c

[2021-10-20 20:50] liliankasem commented on #7673
Closing this out as initial design doc is in and we created issues to track the next steps:

- https://github.com/Azure/azure-functions-host/issues/7781
- https://github.com/Azure/azure-functions-host/issues/7774
- https://github.com/Azure/azure-functions-host/issues/7785

[2021-10-20 20:50] #7673 closed, assigned to liliankasem, soninaren

[2021-10-20 20:58] yashrmaa commented on #6202
Hi @v-anvari, thanks for checking in. I am still seeing the issue and in fact it has got worse. Earlier I was only seeing this happen to durable activity functions or stand alone functions but now it is happening to Durable Orchestrator functions. I have retries to functions so that helps me get around this but there are no retries for Durable Orchestrations.
Do you have any temporary workaround f

[2021-10-21 07:00] rosidigital commented on #7618
@amamounelsayed c# (.net 5) / consumption.

[2021-10-21 08:19] PhilippK13 opened #7794 "Resolving interfaces with contravariant type parameter fails"
Hello.

I've been playing around with the azure-functions-host repo on my local machine(dev branch) and noticed some weird dependency registration issue. Upon further investigation, it would appear that the WebHost uses a version(or a copy) of the [DryIoC](https://github.com/dadhi/DryIoc) code. I've raised an issue in the DryIoC library(https://github.com/dadhi/DryIoc/issues/432) and it was resolv

[2021-10-21 10:47] ghost commented on #7777
Confirming that the above work, thank you @cjaliaga.

[2021-10-21 15:27] amamounelsayed commented on #7618
Thank you @rosidigital, we are currently investigating the issue, we will keep the thread update it

[2021-10-21 15:44] v-anvari commented on #6202
Hi @yashvardhan90 , I'm unable to find the App, can you provide the invocation ID and the region

[2021-10-21 16:10] fabiocav commented on #6184
@ehamai where does the portal gets these metrics from?

@balag0 looks like this is setup with a custom container, would you expect those metrics to be available with that scenario? Are you aware of any issues with that?

@madelinegordon would you please be able to validate whether other SKUs work as expected with custom handlers?

[2021-10-21 16:19] v-anvari commented on #7794
Hi @PhilippK13 , Thank you for the feedback, this feature is not currently supported, so flagging this for future enhancements

[2021-10-21 16:26] v-anvari commented on #6202
Hi @yashvardhan90 , Looking at the earlier logs vs the present. This could be by design if this is because of a timeout, and the host is not gracefully shut down. Usage of cancellation token would give a grace time to gracefully shut down. https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#cancellation-tokens

A second option would be using drain mo

[2021-10-21 16:31] PhilippK13 commented on #7794
Hi @v-anvari, Thank you for the response. Though I'm not sure what feature you are referring to. Do you mean azure functions do not support the dependency registration as I've described? This is a valid type setup albeit a little bit uncommon, and it should be supported by an IoC container. This looks like a defect, not a missing feature.

[2021-10-21 17:56] balag0 commented on #6184
Custom handlers are not considered custom containers as the image is still not configurable. so there should be no difference from other apps.
 +@CooperLink has been investigating some of these issues recently.

[2021-10-21 18:04] ejizba commented on #7795
@panmau yes the issue is with `watchDirectories`. It turns out the host watches the root of the app (see [here](https://github.com/Azure/azure-functions-host/blob/c833bfe3ba76dd83bb7cf01febae29c09ab7e8af/src/WebJobs.Script.WebHost/FileMonitoringService.cs#L157)) and only uses `watchDirectories` to _filter_ file change events (see [here](https://github.com/Azure/azure-functions-host/blob/c833bfe3ba

[2021-10-21 18:46] CooperLink commented on #6184
I have been investigating some similar issues in Linux Consumption.  The issue that I am working on doesn't seem to apply here though.  The behavior that I am seeing in the known issue is that no metrics at all make it to portal.  In this case, Julien is seeing executions but not any memory events.
In my opinion, the custom container trigger should not introduce any problems related to billing lik

[2021-10-21 19:00] #7188 closed, assigned to nobody

[2021-10-21 19:00] #7792 closed, assigned to soninaren

[2021-10-21 20:49] Pwd9000-ML commented on #5854
Would be interesting to see if this limit does get lifted.

[2021-10-21 21:05] surgupta-msft opened #7797 "Worker Indexing - Making IFunctionMetadataProvider.GetFunctionMetadata() an async method"
Epic - https://github.com/Azure/azure-functions-host/issues/7496

#### What problem would the feature you're requesting solve? Please describe.
To make IFunctionMetadataProvider.GetFunctionMetadata() an async method. This method is currently handled in a synchronous manner, but ideally, it should be an asynchronous operation.

[2021-10-22 09:15] AndersDyhr commented on #7688
we are using these exact settings, we also see the same issue on windows as well

[2021-10-22 11:49] svilenstefanov commented on #7762
I can confirm this happens for me as well. Function app using consumption plan using ServiceBus trigger.

[2021-10-22 12:35] jdubois commented on #6184
@CooperLink the function name is called "judubois-native-functions", and you can test it using:
[code]

If you want more information (like my subscription ID, which shouldn't be share publicly), please ping me internally on Teams (my Microsoft ID is "judubois").

[2021-10-22 15:08] SGirousse commented on #5663
Hello,
In our project we are also facing it really frequently lately (We discovered that issue because of some incompatibility with our database updates but maybe it was already there before and simply never noticed it).
Is there any roadmap on fixing that issue ?

[2021-10-22 16:55] mattchatterley commented on #5663
We worked around this in the end by ensuring the .zip has a unique name (e.g. deploy-107, deploy-108) every time we use az deploy and this seems to solve as a viable work around.

[2021-10-22 19:50] soninaren commented on #6925
@TsuyoshiUshio i believe you there is a workaround / app setting needed for this right? Can you please provide the info here.

[2021-10-23 04:46] TsuyoshiUshio commented on #6925
The workaround is here. https://github.com/Azure/azure-functions-kafka-extension/issues/247

[2021-10-25 12:37] SGirousse commented on #5663
The deployed package does already have an unique name in our case (it does contains the build id of Azure DevOps). It looks like :
[code]

So either I misunderstood, either it is not a viable solution in our case.

[2021-10-25 21:14] liliankasem commented on #7781
Updated resume API design doc with investigation findings: https://dev.azure.com/msazure/One/_git/AAPT-Antares-Docs?path=/TeamDocs/FunctionTeamDocs/Design/DrainMode/ResumeModeAPI.md

TLDR;

We should be able to use the restartHostAsync method to implement the resume API. The main differences between /restart and /resume are:

- `resume` behavior will be the same as what `RestartHostAsync` is curre

[2021-10-25 21:14] #7781 closed, assigned to liliankasem

[2021-10-25 22:27] uda832 commented on #3907
Any update on this?

[2021-10-26 07:13] v-bbalaiagar commented on #7688
Hi @amamounelsayed, Could you please look at this issue here

[2021-10-26 09:29] eminencegrs commented on #7227
It is still open. Any updates on that?

P. S. Yes, I created a support ticket in the Azure portal.

[2021-10-26 10:54] v-bbalaiagar commented on #4994
Hi @SaebAmini, Please let us know if the issue still persists.

[2021-10-26 11:06] v-bbalaiagar commented on #5658
Hi @geriamir, Please let us know if the issue still persists.

[2021-10-26 12:19] v-anvari commented on #7767
Hi @SeanFeldman , Can you provide a sample repo for this scenario. Also, can you provide us the invocation id, timestamp, and region of the time you have seen this issue.

[2021-10-26 12:23] v-anvari commented on #7767
After looking into the discussion in the link you have provided, this looks like a design limitation for now. But, to confirm the same, can you explain us the scenario in detail

[2021-10-26 14:40] v-bbalaiagar commented on #6104
Hi @snuffykl, Can we know if you are seeing this issue still and requires further follow up.

[2021-10-26 15:08] v-bbalaiagar commented on #6476
Hi @lostmsu , Let us know if the above information resolves your query, or if you have any further queries.

[2021-10-26 15:21] v-anvari commented on #7762
Hi @gma2222 , I have gone through the logs, and I see that you have been using the premium plan. I do see a 12 plus hour gap between two running functions. Can you confirm if you were using RunOnStartup at this time period (which is disabled now). Though, not fully recomended for production - This property allows the runtime to start when the function app wakes up after going idle due to inactivit

[2021-10-26 15:24] v-bbalaiagar commented on #5796
Hi @TehWardy , Can we know if you are seeing this issue still and requires further follow up.

[2021-10-26 15:30] v-anvari commented on #7651
Thank you for the confirmation. We are tracking similar scenarios in other issues. Happy to know that you a workaround. Closing this issue here

[2021-10-26 15:30] #7651 closed, assigned to nobody

[2021-10-26 15:31] v-anvari commented on #6568
cc @balag0

[2021-10-26 15:41] TehWardy commented on #5796
I no longer have this issue but there is something still about this i'm not confident is "quite right" ...

I think this got passed around ... I never really got an answer to it other than "there's some stuff you just can't do in Azure Functions when it comes to the reflection API's".
I don't really understand why / what this stuff is but I recall someone suggested a fix to my dynamic assembly loa

[2021-10-26 16:32] v-bbalaiagar commented on #7764
Opened a new document issue for further validation - https://github.com/MicrosoftDocs/azure-docs/issues/82385. Closing this issue here.

[2021-10-26 16:32] #7764 closed, assigned to madelinegordon, v-bbalaiagar

[2021-10-26 16:38] SeanFeldman commented on #7767
@v-anvari please see the issue description with the link to the customer problem described in details. It has the scenario details you're looking for.

[2021-10-26 17:41] brettsam opened #7805 "Fix specialization tests now that jit preparation is more aggressive in v4"

[2021-10-26 19:54] surgupta-msft commented on #7797
Parent issue - https://github.com/Azure/azure-functions-host/issues/7496

[2021-10-26 19:58] surgupta-msft opened #7806 "Worker Indexing - Move common validation logic into Utility"
#### What problem would the feature you're requesting solve? Please describe.
[Doc](https://microsoft.sharepoint.com/:w:/r/teams/Antares/_layouts/15/Doc.aspx?sourcedoc=%7BE0283F6F-8072-4173-9D50-76966BD6D8F2%7D&file=Project%20Stein%20(Worker%20Indexing)%20Reference%20Documentation.docx&wdLOR=c0AEA68A1-EC24-47E6-80AA-D5F67612F840&action=default&mobileredirect=true&cid=605d80a5-d22d-40c3-abfd-cd3301

[2021-10-26 21:51] #7790 closed, assigned to liliankasem, satvu

[2021-10-27 04:19] kmadof commented on #7431
No. The issue was solved and now all is as expected. Thanks @v-anvari for taking a look on this!

[2021-10-27 04:19] #7431 closed, assigned to v-anvari

[2021-10-27 07:55] jenspettersson commented on #7767
Hello @v-anvari. As I'm the author of the original post in the link posted by @SeanFeldman, perhaps I could help answering questions. As Sean said, the problem description is described in the link, but this morning I started our debug function app again and collected some logs that might help you.

The scenario was:

1. Send one scheduled message for 30 minutes in the future
2. Send one regular, n

[2021-10-27 10:33] phillipharding opened #7833 "Stopping Func Host Start"
After running ```func host start``` for debugging and testing, I press ```CTRL+C``` to terminate the session.

After upgrading to **v3.0.3904** an error message is displayed when I press ```CTRL+C```...
[code]
Reporting this as I'm not sure if there is an error or not

[2021-10-27 11:41] lewinskimaciej opened #7832 "Updating ApplicationInsights to 2.18.0 causes MissingMethodException"
We are trying to update our V3(`netcoreapp3.1`) Functions project with new AppInsights so that we can utilize `FlushAsync` method that was added in 2.18.0.
https://github.com/microsoft/ApplicationInsights-dotnet/pull/2202

We updated all necessary nugets from 2.16.0:
Microsoft.ApplicationInsights
Microsoft.ApplicationInsights.AspNetCore
Microsoft.Extensions.Logging.ApplicationInsights

but in runt

[2021-10-27 14:29] johnnyreilly commented on #7248
We're also bumping on this.  Regrettably this has lead to us rolling back to use the deprecated [Microsoft.Azure.KeyVault](https://www.nuget.org/packages/Microsoft.Azure.KeyVault/). (It doesn't appear to have an indirect dependency on `System.Text.Json`.)  Would really love to see this prioritised.

[2021-10-27 17:05] SeanFeldman commented on #7767
Linking to the parent/older issue: https://github.com/Azure/Azure-Functions/issues/715

[2021-10-27 17:57] kasobol-msft opened #7809 "C# script can't resolve Azure.Core"
If binding to `BlobClient` I can't use APIs that return `Response<>` that's coming from `Azure.Core`

![image](https://user-images.githubusercontent.com/61715331/139120114-e2e08635-db39-46dc-9d37-b789e8ba47c8.png)

run.csx:
[code]

function.json
[code]

host.json
[code]

[2021-10-27 18:07] kasobol-msft commented on #7809
Attempted to use `function.proj`
[code]

![image](https://user-images.githubusercontent.com/61715331/139122070-4f4e4f58-9a48-4f45-8f3f-efbb14b86146.png)

[2021-10-27 18:09] kasobol-msft commented on #7809
After removing `#r "Azure.Core" it compiled
![image](https://user-images.githubusercontent.com/61715331/139122256-bd7f7ddf-a27e-48d8-86e7-77b86923c7d7.png)

[2021-10-27 19:00] andreasohlund opened #7810 "Cross entity transaction support is broken in Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.0.0"
#### What problem would the feature you're requesting solve? Please describe.

In v4.* you could gain access to the ServiceBus connection object via the injected `MessageReceiver`. This in turn allows cross entity transactions to be used.

- [Example of injection](https://github.com/Particular/NServiceBus.AzureFunctions.InProcess.ServiceBus/blob/release-1.3/src/NServiceBus.AzureFunctions.SourceGen

[2021-10-27 19:18] esimkowitz commented on #5259
+1 having access to the readiness info is very important for teams who want to build Kubernetes services using Azure Functions

[2021-10-27 20:18] fabiocav commented on #7737
PR is out. This work was lower in priority this sprint, so we couldn't get it reviewed.

Moving to 113.

[2021-10-27 20:20] fabiocav commented on #7672
@soninaren do we have any information we can share on this?

[2021-10-27 20:32] fabiocav commented on #7672
Other work was prioritized over this, so the work will need to be pushed to sprint 113

[2021-10-27 20:35] fabiocav commented on #7791
@pragnagopa I see you've assigned yourself. Are you planning on driving this, or do you want us to assign it to someone?

[2021-10-27 20:38] fabiocav commented on #7773
@surgupta-msft working on breaking this down into more granular issues.

[2021-10-27 21:31] Francisco-Gamino commented on #7457
Having a hash in the logs would help corelate when the authentication fails. With this information, we will know what key was used for the request.

[2021-10-27 21:34] Francisco-Gamino commented on #7457
It would be helpful to have hashes logged even if we can call http endpoints with different successful keys.

[2021-10-27 23:14] pragnagopa commented on #7791
Planning on working on this issue myself! Will send a PR soon.

[2021-10-28 10:25] ffarinha-msft opened #7869 "Application SDK Version 2.18 ETA for availability on Function V3"
Hi,

Kindly requesting if there is any expected ETA that can be provided regrading the support for Application Insight SDK  V2.18 on the functions V3 ?

Currently we can see that at least for .NET core on Linux the dll loaded there is for V2.17.

We need to use server Telemetry Channel with the new IAsyncFlushable which is only available on the new AI SDK version 2.18 (released 3 months ago https:

[2021-10-28 10:44] v-bbalaiagar commented on #7779
Hi @MahaSPR, Here is a blog post which addresses similar scenario where the blog talks about Azure Functions runtime is unreachable and solutions to resolve it - https://azureappservices.blogspot.com/2019/07/azure-functions-runtime-is-unreachable.html
Also, Here is how you can troubleshoot the issue - https://docs.microsoft.com/en-us/azure/azure-functions/functions-recover-storage-account

Please

[2021-10-28 12:37] cataggar commented on #6423
I see this was published 2 days ago. 🥳
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/5.0.0
These docs will need to be updated:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue#storage-extension-5x-and-higher

[2021-10-28 12:53] cataggar commented on #6423
I just need a new package for the .NET isolated model.  Latest is still 5.0.0-beta.4.
https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.Storage
cc @fabiocav

[2021-10-28 14:16] Badabum opened #7812 "Azure functions runtime failing with error ANCM failed to find native dependencies"
So just recently is started to notice a lot of 500s from various function app running in our subscription. The error is not the screenshot below. All function apps have pinned runtime version 3.0.15885.
All apps target netcoreapp3.1.
Also noticed the same issue for on the apps using dotnet-isolated runtime with .net5 function app.

![image](https://user-images.githubusercontent.com/6359085/1392737

[2021-10-28 16:06] avnet78 commented on #6423
I have a Function App with BlobTrigger. I would like to use the Managed Identity of the Function to configure the trigger and connect with the Storage Account.
Can anyone please point me to a working code sample?

[2021-10-28 16:54] v-bbalaiagar commented on #7745
Hi @pjgsk, I checked this internally. You can use by adding a double underscore for example version__ , extensions__ , http__
On windows you can also use colon but double underscore will be cross platform, so you would work both on Linux and windows.

[2021-10-29 00:38] cataggar commented on #7393
I received this error in my dotnet isolated app:
[code]

after adding a dependency to:
[code]

I can confirm that upgrading Azure.Core worked. It was on 1.0.15, but I updated it to latest:
[code]

Looking forward to a 5.0.0 stable with updated dependencies.

[2021-10-29 08:47] v-bbalaiagar commented on #7689
Adding this issue as a feature enhancement request so that team can expose the configuration.

[2021-10-29 10:36] snuffykl commented on #6104
Hi @v-bbalaiagar thank you for asking. We have another workaround. Let me close this issue.

[2021-10-29 10:36] #6104 closed, assigned to nobody

[2021-10-29 10:55] dev-bre commented on #912
is there any update for this?
consumption plan is great, but if the function executes code which is meant to run from only one source, that plan is unmanageable and forces to move to AppService plan which way more expensive.,

[2021-10-29 16:23] KamilBugnoKrk commented on #7248
Same issue. Do you have any updates?

[2021-10-29 17:08] johnnyreilly commented on #7248
It's a bit leftfield but one of our team has pulled out the dependency on `AzureExtensions.Swashbuckle` due to  https://github.com/vitalybibikov/AzureExtensions.Swashbuckle/issues/30 and replaced it with https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/0.9.0-preview

Not the road we wanted to travel; we were perfectly happy with `AzureExtensions.Swashbuckle`, but we needed

[2021-10-29 17:45] fabiocav commented on #7810
This has been addressed in https://github.com/Azure/azure-sdk-for-net/pull/24990. Closing this as the issue will be addressed with an extension release (tracked in the linked repo), as opposed to a host deployment.

Thanks!

[2021-10-29 17:45] #7810 closed, assigned to brettsam

[2021-10-29 17:49] fabiocav opened #7813 "Enable support for duplicate event source names"
With multiple load contexts and isolated/side-by-side loading, we may run into scenarios where duplicate event source names are used, which currently leads to issues.

Support has been added to .NET and we need to enable to an app context switch `System.Diagnostics.Tracing.EventSource.AllowDuplicateSourceNames`

[2021-10-29 17:56] pragnagopa commented on #7394
Tagging @chiangvincent and @cachai2 - this needed for Scale Controller changes - Target Based Scaling feature

[2021-10-29 17:57] pragnagopa commented on #7394
Tagging @mathewc - as FYI for discussions and review

[2021-10-29 21:13] tommck commented on #7452
Still kicking this can down the road it seems :/

[2021-10-29 23:36] aegpoadan commented on #3907
I've created a new PR that adds the desired functionality. It is up-to-date with the v3.x branch. You can check it out here: https://github.com/Azure/azure-functions-core-tools/pull/2806
CC @anthonychu

[2021-11-01 04:00] jaydadhaniya commented on #6195
**Cancellation Token not working for azure queue trigger function**
I am trying to implement one azure queue trigger function with CancellationToken registration so that I can get updated data when the function app restarts or get stops.

I Referred to [Cancellation tokens](https://docs.microsoft.com/bs-latn-ba/azure/azure-functions/functions-dotnet-class-library?view=azure-cli-latestefbc89&tabs=v

[2021-11-01 09:39] v-anvari commented on #7869
Hi @ffarinha-msft , Can we know how are you developing the App. When I try to download the Nuget package in visual studio, we can download the latest version. Can you provide the repro steps

[2021-11-01 09:40] v-bbalaiagar commented on #7812
Hi @Badabum, Thank you for your feedback!  Here is how you can troubleshoot the issue - https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.1#50031-ancm-failed-to-find-native-dependencies

Please check and let us know if you are able to resolve the issue with this information.

[2021-11-01 09:57] v-bbalaiagar commented on #5610
Hi @fabiorosadev, Can we know if you are seeing this issue still and requires further follow up.

[2021-11-01 10:27] Badabum commented on #7812
@v-bbalaiagar I'm not using App Service, I'm talking about function apps. This situation happened for the apps running OK in production for more than a year and then they stopped. So I assume that the issue was in some runtime updates in azure itself

[2021-11-01 10:32] v-bbalaiagar commented on #7812
Thank you for the update. We will investigate this further and update you with the findings.

[2021-11-01 11:44] v-bbalaiagar commented on #6062
Hi @gugen-otsuki, Can we know if you are seeing this issue still and requires further follow up.

[2021-11-01 11:49] v-bbalaiagar commented on #6386
Hi @artisticcheese, Can we know if you are seeing this issue still and requires further follow up.

[2021-11-01 11:50] #6386 closed, assigned to nobody

[2021-11-01 11:53] v-bbalaiagar commented on #6242
Hi @hallgeirl, Can we know if you are seeing this issue still and requires further follow up.

[2021-11-01 11:55] v-bbalaiagar commented on #6192
Can we know if you are seeing this issue still and requires further follow up.

[2021-11-01 16:26] v-anvari commented on #7794
Hi @PhilippK13 , Discussed this issue internally again to check if this can be implemented anytime soon. This scenario has been identified as a limitation and cannot be fixed right away as the DI framework used in Functions requires some additional properties to support contravariant type parameters. This scenario has been identified and marked as an enhancement request.

[2021-11-01 16:48] v-bbalaiagar commented on #7812
Hi @Badabum, If this is a production impacting issue, a good option for you to open a support ticket so that they can look at a little more closely.

[2021-11-01 16:54] yashrmaa commented on #6192
No, this doesn't need any follow up. I had a conversation with folks from functions team and seems like whenever Azure cancel's an operation is always retried.

[2021-11-01 18:11] vachillo opened #7817 "Referencing arrays in function bindings in HTTP triggered functions"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Javascript

#### Question
I'm trying to figure out how to reference array properties in binding expressions from the request body of an Http triggered function. I can't find any documentation on it, and everything I've tried doesnt work:

- `

[2021-11-01 18:31] #7813 closed, assigned to fabiocav

[2021-11-01 20:00] pragnagopa opened #7818 "Read Java Language Worker Jar file in placeholder mode"
Tracking item to read Java Language worker Jar file  - to avoid disk reads during specialization.

cc @safihamid

[2021-11-02 00:23] sjwaight opened #7819 "Add Azure Database for MySQL | MariaDB | Postgres Root CA Cert to host package."
When attempting to use Azure Functions to call SSL-enabled instances of these three Azure DBaaS offerings I currently have to bundle and deploy the BaltimoreCyberTrustRoot.crt.pem file as part of my Azure Function codebase. While this requirement is well documented for each service for generic client use (for example: https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl#step-1-obtain-s

[2021-11-02 03:59] sashuprosperoware commented on #7618
Any update guys, we are getting this error on Java Function App as well on invocation from message from service bus queue.

[2021-11-02 04:09] #7797 closed, assigned to surgupta-msft

[2021-11-02 04:09] #7806 closed, assigned to surgupta-msft

[2021-11-02 06:02] cannehag commented on #7767
Hello.

We need to move away from Consumption plans due to requirement of virtual network integration, which Elastic plans can provide for us. We currently have 16 FunctionApps with approx. 5-10 function in each of them and as you can imagine, the cost of this will be quite high compared to consumption plans. So we did the initial test of moving some FunctionApps to one Elastic plan to try and fig

[2021-11-02 07:40] rosidigital commented on #7618
I ended up dumping my azure functions for a hangfire setup for our purpose it makes just as much sense.

[2021-11-02 09:37] yuna-s opened #7820 "'WEBSITE_TIME_ZONE' is not applied to the application log"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
ALL
#### Question
Doesn't the 'WEBSITE_TIME_ZONE' Application setting change the time zone of application logs?

I've added Application setting 'WEBSITE_TIME_ZONE' to Configuration.
But, in the logs, the date and time are still in UTC.
![imag

[2021-11-02 09:54] v-bbalaiagar commented on #6192
Thank you for the update. Closing this issue, please feel free to reach back to us in case of any further queries related to this issue.

[2021-11-02 09:54] #6192 closed, assigned to nobody

[2021-11-02 11:15] v-bbalaiagar commented on #5825
Hi @takyyon, Can we know if you are seeing this issue still and requires further follow up.

[2021-11-02 11:29] v-bbalaiagar commented on #5865
Hi @fabio-muramatsu, Can we know if you are seeing this issue still and requires further follow up.

[2021-11-02 11:38] klenium commented on #5865
As far as I see this is replaced. The next 5 trigger dates are not displayed anymore, and when the trigger is fired, the date is displayed with the timezone info, which makes it clear. Feladó: v-bbalaiagarElküldve: 2021. november 2., kedd 12:29Címzett: Azure/azure-functions-hostMásolatot kap: Nagy Marcell; CommentTárgy: Re: [Azure/azure-functions-host] Timer trigger being interpreted in local time

[2021-11-02 11:39] klenium commented on #5865
As far as I see this is replaced. The next 5 trigger dates are not displayed anymore, and when the trigger is fired, the date is displayed with the timezone info, which makes it clear.

[2021-11-02 14:32] mattchenderson commented on #6423
This is now generally available in the 5.0.0 version of the NuGet package and the v3 bundle.

Announcement: https://azure.microsoft.com/en-us/updates/general-availability-azure-functions-extensions-for-blobs-queues-event-hubs-service-bus-and-event-grid/

[2021-11-02 14:32] #6423 closed, assigned to nobody

[2021-11-02 21:21] wsugarman commented on #7115
I think this is especially important as new hosting environments become available for Azure Functions. While in app services, a function app may specify `AuthorizationLevel.Anonymous` and rely on Easy Auth. However, in Kubernetes, they may opt for `AuthorizationLevel.Function`. This flexibility also aligns with existing solutions, like being able to specify the cron expression for timer triggers v

[2021-11-02 21:24] notaroobob commented on #7210
I think the not so fun issue is the emulator lets us do these modifications so we can use cool toys like Azure App Configuration service. Then we deploy in the cloud and are met with obstacles that we didn't see coming. With this issue Open, is there going to be a resolution where consumption tiers can take advantage of the Azure Configuration offerings or do we need to accept that some configs wi

[2021-11-02 21:28] surgupta-msft commented on #7773
Tracking this issues as part of https://github.com/Azure/azure-functions-host/issues/7496

[2021-11-02 21:28] #7773 closed, assigned to surgupta-msft

[2021-11-02 21:49] slimmingworlduk opened #7823 "Unable to set inout binding to blob storage output binding"
MS documentation suggests that the output binding can be any of the following:

You can bind to the following types to write blobs:

- TextWriter
- out string
- out Byte[]
- CloudBlobStream
- Stream
- CloudBlobContainer ^1
- CloudBlobDirectory
- ICloudBlob ^2
- CloudBlockBlob ^2
- CloudPageBlob ^2
- CloudAppendBlob ^2

^1 Requires "in" binding direction in function.json or FileAccess.Read in a C#

[2021-11-02 22:33] #4411 closed

[2021-11-03 01:01] ghost commented on #7779
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:01] ghost commented on #7778
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:01] ghost commented on #7762
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:01] ghost commented on #7745
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:01] ghost commented on #7726
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:01] ghost commented on #7457
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:01] ghost commented on #7326
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:02] ghost commented on #6846
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:02] ghost commented on #6202
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 01:02] ghost commented on #4994
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-03 05:13] biltongza commented on #7618
I switched from a Linux consumption plan to a Windows consumption plan, and dotnet-isolated just started working without any issues. I tried getting the Linux one to work for *days* because of this issue.

[2021-11-03 07:14] rosidigital commented on #7618
@biltongza i don't think that it was the switch that fixed it - its probably just because it was a new service or plan. Two months ago I experienced the same, it started working when I switched to Linux - but then suddenly out of the blue it stopped working again.

[2021-11-03 07:40] svilenstefanov commented on #7762
For me the problem was resolved when hardcoded the topic name and subscription name in the code rather than getting those from the config. Hope that would help someone.

[2021-11-03 07:57] biltongza commented on #7618
I tried making a new Linux consumption plan from scratch as well, and had the same issue where it didn't find any initialized workers and died. Switching to windows was my last ditch effort and it just worked magically.

[2021-11-03 14:21] amamounelsayed commented on #7618
@rosidigital  @biltongza  could you please share the app names and please can you share the language?
@sashuprosperoware could you please share the app name?
Thank you so much

[2021-11-03 14:36] dmoorjmalani opened #7826 "Azure Function 'HttpRequestMessage' does not contain a definition for 'CreateResponse' or GetQueryNameValuePairs"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version: 1
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:
1. Create an Azure Function App
2. Add a function, I am using Portal to code
2. The Version is set to ~1
3. I am trying to access certificate

[2021-11-03 16:59] ffarinha-msft commented on #7869
Hi @v-anvari,

The function app is developed using visual studio with the Azure Functions extension.
The problem is not that we can't download the new nugget package with v 2.18 on Visual Studio. The "problem" is that when we publish the code into the function app (using visual studio) the Microsoft.ApplicationInsights.dll version 2.18 is not respected because the function host already has this dl

[2021-11-03 20:44] liliankasem commented on #6910
@fabiocav

[2021-11-03 20:48] liliankasem commented on #7587
@shimedh is this something you and your team can take a look at? :D

[2021-11-03 23:17] cataggar commented on #7393
I was wrong. I'm still getting the error.

[2021-11-04 04:26] v-anvari commented on #7869
Hi @ffarinha-msft , Thank you for the information, I am checking with the Linux team for any updates

[2021-11-04 07:43] danielmarbach commented on #7767
I'm not very familiar with the scale out controller, so this might be a stupid question for those who know the internals. Yet I'm still curious. Isn't this part of the code responsible for doing the scale out?

https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusScaleMonitor.cs#L109-L110

and that one looks like

[2021-11-04 08:52] SeanFeldman commented on #7767
@danielmarbach wouldn't `TotalCount` count be all the messages, including those that shouldn't be counted? Active messages are the messages ready to be processed, so that code looks ok.

[2021-11-04 09:23] danielmarbach commented on #7767
Yeah that was my point. It uses Active and Deadlettered so the scale logic should be correct there since those counters don't take scheduled messages into account. Sorry my formulation above is too cryptic

[2021-11-04 09:40] jenspettersson commented on #7767
This is the information I got from our ticket:

[2021-11-04 11:35] danielmarbach commented on #7767
Yes that happens here

https://github.com/Azure/azure-sdk-for-net/blob/685f0ffc053b1137c299fa9115df65402b383e26/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusScaleMonitor.cs#L68

but this returns the message which has a property `ScheduledEnqueueTime` which could be checked and the logic twisted based on that.

https://docs.microsoft.com/en-us/dotnet/api/azur

[2021-11-04 12:13] richsage commented on #7618
Not sure if it helps the diagnosis, but I saw this error appear with effect from _1 November 2021_. All working absolutely fine day before. No code / infrastructure changes at all for a week or so beforehand.

.NET 5 (isolated) Linux function app, Linux consumption app service plan

[2021-11-04 13:16] danielmarbach commented on #7767
How about https://github.com/Azure/azure-sdk-for-net/pull/25127 ?

[2021-11-04 13:18] vachillo commented on #7817
@madelinegordon any guidance on this?

[2021-11-04 17:24] dhtek opened #7829 "EasyAuth middleware hang when restarting azure function app under load"
When the authentication feature (EasyAuth) is activated on a function app and setup with Azure Active Directory, if the function app restart when there are still HTTP requests incoming, the function app stays unhealthy.

Azure Function Setup:
- Function App version: v3 with .NET Core 3.1 or v4 (preview) with .NET 6 RC2 using Docker Linux Image
- AppServicePlan Linux : P3v2
- appsvc/middleware:1.4.

[2021-11-04 22:25] apranaseth commented on #7444
Since the details are shared over email, keeping it in open state.

[2021-11-05 00:21] fabiocav commented on #7618
@richsage would you mind opening a separate issue sharing a timestamp and either your application name or an invocation ID + region so we can take a closer look?
Thanks!

[2021-11-05 16:22] FinVamp1 commented on #7767
@danielmarbach  thanks for the PR. This code fixes the Scale Monitor logic inherent in the Service Bus extension which will be utilised when Runtime Scale Monitoring is enabled which is also known as Virtual Network Triggers support.  Adding @pragnagopa  as we have an internal work item to track the same work for the Scale Controller.

[2021-11-05 17:12] mattchenderson opened #7838 "Support TLS termination at application/container"
#### What problem would the feature you're requesting solve? Please describe.
The functions host and base images don't do anything to support TLS themselves, instead relying on the platform running the container. This can create issues in certain networking topologies where the Functions container exists across a trust boundary from upstream gateway components, and TLS is still desired between the

[2021-11-05 19:00] ghost commented on #7812
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-05 21:40] #7299 closed, assigned to mathewc

[2021-11-05 21:40] #7300 closed, assigned to mathewc

[2021-11-05 23:48] sudarsanvsr commented on #7726
Thanks for the responses. I'll reopen this issue again if our service runs into the scenario (which, I'm sure we faced when I opened this issue). I'm currently unable to repro since our service is not in heavy use.

[2021-11-05 23:48] #7726 closed, assigned to nobody

[2021-11-06 00:15] btardif commented on #5825
@fabiocav this is an ancient issue, currently assign to someone who is no longer in the functions team. can we re-assign or close?

[2021-11-06 04:01] #7779 closed, assigned to kashimiz, v-bbalaiagar

[2021-11-06 04:01] #7778 closed, assigned to brettsam, v-anvari

[2021-11-06 04:01] #7745 closed, assigned to kashimiz, v-bbalaiagar

[2021-11-06 04:01] #7326 closed, assigned to soninaren, v-bbalaiagar

[2021-11-06 04:01] #6846 closed, assigned to madelinegordon, v-anvari

[2021-11-06 04:01] #6202 closed, assigned to pragnagopa, gzuber, v-anvari

[2021-11-06 04:01] #4994 closed

[2021-11-06 12:32] richsage commented on #7618
@fabiocav Started writing the issue, went to get invocation ID and it turns out things started working again randomly overnight...! Nothing touched from our side. Perhaps an update within the platform itself? North Europe region.

![image](https://user-images.githubusercontent.com/231551/140609668-0dcb1b57-a5c6-4104-bb38-1c3a7413603e.png)

I won't continue to open the issue but will keep an eye on

[2021-11-06 22:01] ghost commented on #7115
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-07 13:00] ghost commented on #7762
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-07 22:01] ghost commented on #7189
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-08 10:53] jhoops88 commented on #7812
We have also been impacted by this in a production environment, and that environment and its code has not been changed by us in months.

This was first noticed by our weekly monitoring on Sunday, 31st October 2021.

Can you provide any further updates to help resolve?

[2021-11-08 13:12] Ved2806 commented on #7826
Hi @dmoorjmalani
1. Does the workaround mentioned [issue](https://stackoverflow.com/questions/54377126/azure-functions-httprequestmessage-does-not-contain-a-definition-for-createre) here works?
2. Is there any specific reason to use version ~1? if not, you can change it in the portal "configuration".
3.  How you are trying to configure key vault?

[2021-11-08 13:34] dmoorjmalani commented on #7826
Hi @Ved2806
Thank you for taking time out to help me.
1. No, the workaround to delete system.net.http from packages\nuget does not work. it gives package not found error, that means i have to explicitly install system.net package
2. It is an old function to which i am adding capabilities
3. I followed this [blog ](https://integration.team/blog/retrieve-azure-key-vault-secrets-using-azure-functions

[2021-11-08 13:51] Ved2806 commented on #7826
@dmoorjmalani
You may want to use this package [Microsoft.AspNetCore.Mvc.WebApiCompatShim v2.2.0](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httprequestmessageextensions.createerrorresponse?view=aspnetcore-2.2)

[2021-11-08 14:05] v-anvari commented on #7820
Hi @yuna-s , Can we know if this is for Linux, if yes, this is a supported feature only on Linux App service plan. This is tracked here - https://github.com/Azure/azure-functions-host/issues/5246

There is a blog on this [ here](https://blog.maximerouiller.com/post/getting-rid-of-time-zone-issues-within-azure-functions/), and surely the logs are going to be in the specified time zone and not UTC.

[2021-11-08 14:09] v-anvari commented on #7833
Hi @phillipharding , We would like to know the impact , are you able to terminate the process after all these errors.

[2021-11-08 14:12] v-anvari commented on #7820
These could be related to any of the below as well:
https://github.com/Azure/azure-functions-python-worker/issues/897
https://github.com/Azure/azure-functions-host/issues/7119

[2021-11-08 14:35] phillipharding commented on #7833
Yes, all works as it should, the process terminates ➜ just with the error message displayed.

I can start the process again without a problem, only reporting it as I've never seen this behaviour before and didn't know if it was an error or not 🙂

[2021-11-08 16:19] v-anvari commented on #7817
Hi @vachillo , As far as I remember this is not possible by design. But, I am checking on this request internally for all other possibilities

[2021-11-08 16:21] v-anvari commented on #7829
Hi @dhtek , Can you share the invocation id, Region name and timestamp

[2021-11-08 16:26] v-anvari commented on #7832
Hi @lewinskimaciej , While checking this internally, this could be more of an issue for -https://github.com/microsoft/ApplicationInsights-dotnet/issues. Not sure, if this is a dependency issue

[2021-11-08 16:29] liliankasem commented on #7618
Good to know it's working, but I think we'd still like to investigate  as we're seeing similar issues with others. Do you mind still creating that issue?

[2021-11-08 16:30] v-anvari commented on #7833
Thank you for reporting the error. This could be an intermittent failure as well. We would try to reproduce this issue from our end as well.

[2021-11-08 16:44] mattosaurus commented on #7618
In my case I got this error when referencing an enviroment variable in Program.cs that wasn't present in the Funcation app configuration settings.

I'm guessing this exception is thrown whenever the host fails to start so there's probably a lot of potential causes.

[2021-11-08 17:30] fabiocav commented on #5825
Closing as this no longer seems to be an issue.

[2021-11-08 17:30] #5825 closed, assigned to nobody

[2021-11-08 22:33] miqm opened #7840 "Cancellation of HTTP triggers waiting for python language workers does not work"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 2021

[2021-11-08 23:32] esimkowitz commented on #7838
To clarify: The ASP.NET environment also does not have its own TLS implementation. They use the underlying web server to handle these calls (the default is the cross-platform [Kestrel](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-6.0), which is built specifically to integrate with ASP.NET). What is being asked for here is a similar in-process approach f

[2021-11-08 23:33] pgombar opened #7841 "Expose IsFunctionAppEditable in the /admin/host/status API"
#### Investigative information

Instead of relying on various app settings to determine if a function app can be edited in the Portal or not, instead leverage the existing flag `IsFileSystemReadOnly` from `ScriptApplicationHostOptions`. Do this by exposing it as another property in the /admin/host/status API.

[2021-11-09 01:00] ghost commented on #7444
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-09 06:23] lewinskimaciej commented on #7832
Hi @v-anvari, issue I linked led me to believe there's some Application Insights version forced by Azure Functions/Tools?

[2021-11-09 07:52] PhilippK13 commented on #7794
@v-anvari Are there any timelines as to when this might be addressed? The underlying DI framework used by Azure Functions has this fix already in the latest version - https://github.com/dadhi/DryIoc/issues/432.

[2021-11-09 08:57] richsage opened #7843 "Azure Functions - .NET 5 - Did not find any initialized language workers"
Linked to #7618 - we are seeing "Did not find any initialized language workers" when our .NET 5 (dotnet-isolated) function is triggered. Trigger is on blob creation in Azure Storage, which in our setup is a nightly occurrence. This failure started on 1 Nov 21 without any code or infrastructure changes - worked fine on 31 Oct 21. We saw a brief resolution without any intervention on 6-8 Nov 21 and

[2021-11-09 08:57] richsage commented on #7618
@liliankasem thanks, have opened #7843, let me know if you need more details :)

[2021-11-09 08:58] nicklasjepsen commented on #5841
1½ year and no resolution?

[2021-11-09 12:35] dhtek commented on #7829
Hi @v-anvari,

I can give you the region: West-Europe, but for the invocationId it will be difficult as the incoming requests aren't received by our function app after the stop-start so not really invoked and injected in Application Insights.

After investigation from my side, I discovered that +-30 minutes after the test load I got this error in the _easyauth_docker.log

2021-11-08T15:44:44.60213

[2021-11-09 12:36] NewFuture commented on #364
**5 Years** have passed!

[2021-11-09 13:15] jameswoodley opened #7844 "Consumption Plan Linux - 0 functions loaded for .NET 6 Functions project"
I have created a Functions App project and pointed it toward a Linux Function App service. When within the portal I can not see the functions in the list:

![image](https://user-images.githubusercontent.com/52610563/140930512-b5e9c734-4ed5-4361-b119-b7f91ec55d8a.png)

Is this the expected behavior? If this is a Windows Functions App, deployed in exactly the same way, the functions list is populate

[2021-11-09 13:38] tommck opened #7845 "After v4 install, VSCode Create New Project Crashes on Version Selection"
After updating to .net 6 and Functions v4, VSCode extension fails to create because of a problem getting versions to select from.

#### Repro steps

https://user-images.githubusercontent.com/981957/140933623-4b9a12b9-364e-4b0e-88da-feab5bb52b23.mp4

#### Expected behavior

It should not crash when prompting for the version

#### Actual behavior

See video (crashes)

#### Known workarounds

Run the

[2021-11-09 13:59] tommck commented on #7845
Here is the full log that's spit out to the "Azure Functions" output window:
[code]

[2021-11-09 14:03] tommck commented on #7845
ugh.. I'm in the wrong repo for this issue.. will move it to https://github.com/Microsoft/vscode-azurefunctions

[2021-11-09 14:03] tommck commented on #7845
As a matter of fact, it's already created over there: https://github.com/microsoft/vscode-azurefunctions/issues/2999

[2021-11-09 14:03] #7845 closed, assigned to soninaren

[2021-11-09 14:30] v-anvari commented on #7794
The DI is built differently in Azure, So I am not sure if we can give an ETA as this is not a easy fix and requires breaking change

[2021-11-09 14:57] v-anvari commented on #7832
Can you provide the repro steps. Also, is this on Linux

[2021-11-09 15:32] rizksobhi commented on #5841
You can create a custom serializer and register it in the startup method
public class StartUp : FunctionsStartup
    {
        public override void Configure(IFunctionsHostBuilder builder)
        {
            builder.Services.AddSingleton<IMessageSerializerSettingsFactory, JsonMessageSerializer>();
        }
    }

    public class JsonMessageSerializer : IMessageSerializerSettingsFactory
    {

[2021-11-09 16:39] marcselman commented on #3153
This should be fixed imho. Seems like a very basic requirement.
A method attribute for setting a priority integer would be enough even.

[2021-11-09 17:37] vachillo commented on #7817
If this has been confirmed as not possible, is there any plan to add this as a feature?

[2021-11-09 19:00] ghost commented on #7767
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-09 19:33] SeanFeldman commented on #7767
@v-anvari, could you please remove the `Needs: Author Feedback` label to prevent the Stale bot from attempting to close the issue? Thank you.

[2021-11-09 20:59] swettstein commented on #7772
How long is the long term migration for older Windows Consumption apps?

[2021-11-09 21:29] liliankasem opened #7847 "Create more load test function apps for dotnet v4"
For load testing v4 with dotnet, we have 3 projects. For each one of these project, we only have 1 test function app deployed and so we're only testing one configuration of platform and SKUs.

1. In-proc dotnet function (docker deployment)
    - Linux, Elastic Premium, West US
2. In-proc dotnet function (zip deployment)
    - Windows, P1v2, West US
3. Isolated worker dotnet function (zip deploymen

[2021-11-09 21:43] liliankasem opened #7848 "Logging improvements for worker and host communication and exceptions"
We have seen many CRIs where out-of-proc language workers fail to start or call back to the host within the defined timeout period. We need to identify the root-cause and fix all the potential reasons, however currently this is very difficult as we are dealing with a long tail of various issues from different components and levels. The log “Did not find any initialized language workers” is generic

[2021-11-09 21:59] surgupta-msft opened #7849 "Worker Indexing - Protobuf changes to update RpcFunctionMetadata with more properties"
Host needs RetryOptions and configuration source information to populate FunctionMetadata, so two more properties need to be added to RpcFunctionMetadata to convey this information.

Steps to complete -
1. PR in protobuf repo - https://github.com/Azure/azure-functions-language-worker-protobuf/pull/57
2. To prepare PR for host repo based on changes required due to Protobuf repo.

[2021-11-09 22:32] surgupta-msft opened #7850 "Worker Indexing - Prepare consolidated documentation with more details in Engineering hub"
Detailed documentation of worker indexing changes in Engineering Hub

[2021-11-09 23:11] surgupta-msft commented on #7773
The PR has been merged - https://github.com/Azure/azure-functions-host/pull/7606

[2021-11-10 01:00] #7115 closed, assigned to nobody

[2021-11-10 04:20] balag0 commented on #7844
Could you clarify, does invoking the function work but just the functions list is empty in portal?
Please share the appname https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-11-10 11:35] jameswoodley commented on #7844
Apologies, I believed the functions were still working, but it turns out however they were not. I've moved over to a Windows version now as I had to get a deployment out.

Linux just would not work

[2021-11-10 13:00] #7762 closed, assigned to kashimiz, v-anvari

[2021-11-10 14:24] Jandev opened #7851 "Creating Functions with 'forbidden' names results in errors"
There appears to be an issue with the Functions runtime when using forbidden(?) words as a Function name. I've seen this happen when I named my function `NewGuid`.

While the samples here are on my local development machine, the same issue also occurs on a Function App within Azure (used a Linux Consumption based service plan (`Y1`))

#### Repro steps

Provide the steps required to reproduce the p

[2021-11-10 14:45] #7818 closed, assigned to pragnagopa

[2021-11-10 15:00] kristan66 commented on #7843
Same behaviour for me (error "Did not find any initialized language workers").  .net 6, isolated, linux, app service plan

[2021-11-10 15:59] dvdgutzmann opened #7930 "http triggered dotnet-isolated .NET 5 function receives empty body stream when Transfer-Encoding is 'chunked'"
Hi,

we are experiencing a problem with an http triggered dotnet-isolated .NET 5 function ~~behind Azure API Management~~. When Transfer-Encoding is set to 'chunked', the `HttpRequestData.Body` stream is always empty. Is this a scenario which is expected to work out of the box?

If what I describe is expected to work, what information do you need us to provide, to investigate the cause of the expe

[2021-11-10 18:07] balag0 commented on #7844
Thanks,  could you still share the appname anyway. Would like to check if there is a bug somewhere.

[2021-11-10 18:58] nzthiago commented on #7772
It is a long term platform update with no specific end date. If you have an existing Windows Consumption app created before May 2021 and notice it is not allowing for a graceful shut down you would have to move your function app code to a new function app.

[2021-11-10 20:46] jameswoodley commented on #7844
Function Id: 06705255-ce70-4680-8e0a-ba543265a319
Invocation Id: 3c796678-2a3f-46f0-b1da-d107693d59fe
Timestamp: 2021-11-10T01:40:51.0816985+00:00

Hope that helps, let me know if you need anything more

[2021-11-10 21:08] fabiocav commented on #7841
What is the use case here? I'm assuming there's an existing component looking at environment variables and will be switching to use the status API instead, correct?

[2021-11-10 21:12] cr1tterp0wer commented on #5373
agree.

[2021-11-10 21:12] fabiocav commented on #7774
PR is out, but this work is still in progress/review. Moving to sprint 114

[2021-11-10 21:17] fabiocav commented on #7737
This was a lower priority/stretch goal for 113, moving to 114.

[2021-11-10 21:21] csandman commented on #5373
@cr1tterp0wer Based on what standards and good practices?  Most serverless tools I've used have allowed for nested directories based on endpoint type.

[2021-11-10 21:31] fabiocav commented on #7394
Is there a proposed design for this? Can we sync on a design prior to having this assigned to a sprint?

[2021-11-10 21:33] pgombar commented on #7841
@fabiocav that's right, the Portal will be consuming this API to determine if portal editing should be enabled or disabled. Today, Portal relies on app settings, and that has shown to be an inconclusive check for this use case.

[2021-11-10 21:39] cr1tterp0wer commented on #5373
^I read grammar wrong.
exactly.

[2021-11-10 21:48] fabiocav commented on #7598
Assigning this to 114 for initial design.

[2021-11-10 21:52] fabiocav commented on #7531
@kashimiz moving this to sprint 114 so we can finish this up.

[2021-11-10 22:15] #7841 closed, assigned to pgombar

[2021-11-10 22:43] craigomatic commented on #7843
Seeing this show up on dotnet 6.0, isolated, windows, consumption also.

_Edit: In my case this may have been due to a reference to a dependent library which was targeting .net 5 and function v3 instead of .net 6 and function v4_

[2021-11-11 01:00] #7189 closed, assigned to amamounelsayed

[2021-11-11 04:03] balag0 commented on #7844
@jameswoodley Thanks. I found the app and it looks like the problem was with the deployment where an invalid zip file was produced. Do you happen to have the command used to deploy?

[2021-11-11 08:55] dvdgutzmann commented on #4926
Hi!

@fabiocav Was this improvement only made to http binding for the v2 Function runtime or is this extensions configuration also available for v3 and v4? What about in-process vs. isolated? I'm unable to find any documentation on this config option.

We' are currently blocked by this with a dotnet-isolated function running .NET 5 on runtime v3. See Azure/azure-functions-dotnet-worker#713

Thanks

[2021-11-11 10:10] Magnus12 opened #7854 "Max connections on a Consumption plan"
Reading [Manage connections in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections?tabs=csharp) I understand that the max active connection limit is 600 per instance on a Consumption plan.

I would assume that means that when servers are added each server has a limit of 600 connections (?). However it seems that this limit is applied over all instances. If we

[2021-11-11 10:39] holietenk opened #7855 "req.HttpContext.User is empty with authsettingsV2"
#### Investigative information

- Timestamp: 11/10/2021, 6:11:22.773 PM (Local time)
- Function App version: 3
- Function App name: --
- Function name(s) (as appropriate): --
- Invocation ID: 2e29ad1c-873d-490d-8bd8-4442e159f4ff
- Region: west europe

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create an Azure Function App with a `HttpTrigger`: `[HttpTrigger(Authoriz

[2021-11-11 10:42] jameswoodley commented on #7844
We use Octopus Deploy so I'm not 100% sure it's doing behind the scenes, I'll take a look at the logs and see if I can see any commands output, I do believe it uses nupkg rather than zip though?

[2021-11-11 12:38] dvdgutzmann commented on #4926
I just did a quick test with

[code]

and this setups

- v3 runtime, `dotnet`,  .NET Core 3.1
- v3 runtime, `dotnet-isolated`, .NET 5
- v4 runtime, `dotnet`, .NET 6
- v4 runtime, `dotnet-isolated`, .NET 6

Observations:
1. The `EnableChunkedRequestBinding` option **has no effect at all in v3 and v4** setups.
2. The functions running _out-of-process_ with ` "FUNCTIONS_WORKER_RUNTIME": "dotnet-isola

[2021-11-11 13:54] holietenk commented on #7855
I just configured authentication via the portal. I then requested the authsettingsV2 settings via the Azure REST endpoints. I noticed the `platform` section. [I double-checked with the docs](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites/config-authsettingsv2?tabs=bicep#authplatform). I realized that everything works as expected when settings the platform.

My apologies for o

[2021-11-11 13:54] #7855 closed, assigned to brettsam, Ved2806

[2021-11-11 17:34] v-anvari commented on #7869
Hi @ffarinha-msft , The host hasn't been updated yet as seen in the below link, there is no ETA for now. Triaging this issue so that we can move it to a sprint to include the latest version.

https://github.com/Azure/azure-webjobs-sdk/blob/f3f78bab110503515a08c4440e06c900ca6e3cb4/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/WebJobs.Logging.ApplicationInsights.csproj#L35

cc : @fabiocav

[2021-11-11 17:38] v-anvari commented on #7832
Hi @lewinskimaciej , Here is a tracking issue - https://github.com/Azure/azure-webjobs-sdk/issues/2779

The host hasn't been updated with the 2.18 version, the work and testing is in progress. Even if you using the latest version, when you debug, it's going to take the version in the host. Closing this issue here as this has to wait till the version has been updated. The progress will be tracked i

[2021-11-11 17:38] #7832 closed, assigned to nobody

[2021-11-11 17:39] v-anvari commented on #7829
Thank you for the details. We are following up with the concerned team for further insights.

[2021-11-11 19:10] balag0 commented on #7854
this page explains the thresholds in more detail - https://github.com/Azure/azure-functions-host/wiki/Host-Health-Monitor

[2021-11-12 04:00] #7444 closed, assigned to nobody

[2021-11-12 13:00] ghost commented on #7812
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-12 16:01] ghost commented on #7826
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-12 16:01] ghost commented on #7820
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-12 16:25] ForteUnited opened #7857 "Using TelemetryConfiguration and TelemetryClient in Azure Functions v2+"
#### Is your question related to a specific version? If so, please specify:
Azure Functions v2
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
.NET Core 3.1
#### Question
I would like to instrument my function using an Application Insights SDK and make calls to TrackRequest and TrackDependency as I see fit. Currently my example here would be track calls to CosmosDb

[2021-11-12 17:31] mathewc commented on #7394
Recommend closing this test PR and opening a new PR with production code. In general that PR will:

1. Add the "extensions" and "concurrency" sections to the sync triggers payload in both full and minimal formats. I.e. the minimal format returned when ArmCacheEnabled is true or when the full payload is oversize will now be an object format always including these two properties in addition to "trig

[2021-11-12 23:25] tpaulshippy commented on #5841
Hi @rizksobhi -
I could not get this to work and when I attempted to find `IMessageSerializerSettingsFactory`, it appeared to be something related to the messages that get passed to and from durable functions. I'm not using durable functions, so this doesn't seem like the right thing to use.

[2021-11-13 08:57] johnnyreilly commented on #7248
Just to update on this, we ended up pivoting back to swashbuckle as there were issues with https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi

We now use it in the most unlovely way though. We can't register swashbuckle when we're running our app, so we have a custom version of our app that only registers swashbuckle. We harvest the swagger.json from there and use it for var

[2021-11-14 22:59] rich-mond opened #7858 "Memory issue observation"
#### Is your question related to a specific version? If so, please specify:
V4 + .net 6 + consumption plan + 64bit

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C# 10

#### Question
Are there memory issues/known issues with azure functions v4 + .net  6 on consumption plan?

Migration from a .net 5 v3 function has uncovered out of memory exceptions that were not

[2021-11-15 08:20] jbpaux opened #7859 "Secretless configuration with Managed Identity - Microsoft.Azure.WebJobs.Script.WebHost: Secret initialization from Blob storage failed due to missing both an Azure Storage connection string and a SAS connection uri. For Blob Storage, please provide at least one of these."
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 2021

[2021-11-15 08:22] jbpaux commented on #7859
cc @paulbatum @pragnagopa @mattchenderson if you have ideas as I saw good infos in #6423 and #7571

[2021-11-15 10:05] v-bbalaiagar commented on #7854
Hi @Magnus12, Let us know if the above information resolves your query, or if you have any further queries.

[2021-11-15 11:54] liliankasem commented on #7843
Yeah, unfortunately this error shows up for a wide variety of reasons, we are working to improve the logging so that we can better display the real error instead of letting them all bubble up to "failed to init worker".

@craigomatic did fixing that reference remove the error? Or is it still happening after the reference fix?

@kristan66 please share a timestamp, region and invocation Id so I can

[2021-11-15 12:35] gresockj commented on #6328
I am still seeing issues with this.  This is happening with the following `host.json`, and Java Function runtime version ~4:
[code]

[2021-11-15 13:00] #7812 closed, assigned to kashimiz, v-bbalaiagar

[2021-11-15 14:13] ThoughtHopper commented on #7762
Same issue here, Service Bus with Consumption plan. Messages were not consumed until I manually went in to Azure to troubleshoot. (Suggested Workaround in OP)

Will take a look at the other links and such.

[2021-11-15 16:00] codeshinobi commented on #6328
Hi. Any resolution to this? I am still getting this

[2021-11-15 16:32] gresockj commented on #6328
Also, I see in the workaround to "Downgrade Microsoft.Azure.WebJobs.Extensions.EventGrid version 2.1.0 to 2.0.0".  How do I do that using the Java library?  I'm using the azure-functions-maven-plugin.

[2021-11-15 16:43] #7737 closed, assigned to liliankasem

[2021-11-15 18:33] #7791 closed, assigned to pragnagopa

[2021-11-15 19:00] #7826 closed, assigned to soninaren, Ved2806

[2021-11-15 19:00] #7820 closed, assigned to kashimiz, v-anvari

[2021-11-15 20:39] anthonychu opened #7860 "[Custom Handlers] Add option for host to not follow redirects"
#### What problem would the feature you're requesting solve? Please describe.
For custom handlers, when `enableForwardingHttpRequest` is enabled, when the custom handler returns a 301, 302, or 307, this is not propagated back in the HTTP response from the function host. Instead, the host [follows](https://github.com/Azure/azure-functions-host/blob/1010912485d019bedb30bcb32086e9a54ab2cbca/src/WebJo

[2021-11-15 23:39] craigomatic commented on #7843
Yes, fixing the bad targeting in the dependent library did resolve this for me. I'm not sure which of the net 5 or function v3 was the culprit as I changed them both at the same time.

[2021-11-15 23:46] luz1115 commented on #5633
Is this issue being resolved?  I have upgraded to azure runtime to 4 and noticed a few containers attached to deployment slot on Linux is not responding and failed in health check stage.

[2021-11-16 03:42] jason-mwnz opened #7861 "Azure function(javascript) - read local.settings.json property during testing"
- nodejs 14

- JavaScript

During the development time, i can use "process.env[propertyName]" to access the property value inside the local.settings.json file fine. Then i install Jest framework to do the unit testing, i just realised my function app failed to read any values from local.setting.json, or it actually running different environment during development and unit test(i print out the all

[2021-11-16 07:57] antyrama opened #7929 "NET 5.0 function v3 - unable to override authorization level when running tests on Docker"
Hi All,

We migrated our functions from core3.1 to 5.0 and we end up with an issue running tests on Docker.

Function declaration:
`
[Function("workingAt")]
        public async Task<HttpResponseData> Run(
            [HttpTrigger(AuthorizationLevel.Function, "post", Route = null)] HttpRequestData req,
            FunctionContext executionContext)
`

Authorization level is set to `Function` and ov

[2021-11-16 09:54] v-bbalaiagar commented on #7812
Hi @jhoops88, Can you open a support ticket as it is impacting in a production environment.

[2021-11-16 09:56] v-bbalaiagar commented on #7858
Hi @rich-mond, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-16 10:06] v-bbalaiagar commented on #7857
Hi @ForteUnited, Thank you for your feedback! As mentioned in comment here [#3741 (comment)](https://github.com/Azure/azure-functions-host/issues/3741#issuecomment-645964338), setting the value to some dummy string (like "abc") will cause the TelemetryConfiguration to be registered.

Let us know if this helps.

[2021-11-16 10:20] v-bbalaiagar commented on #7819
Hi @sjwaight, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-16 10:39] v-anvari commented on #7851
Hi @Jandev , NewGuid is a reserved keyword in c# and is used by .Net as seen here- https://docs.microsoft.com/en-us/dotnet/api/system.guid.newguid?view=net-5.0. As it is reserved keyword, you cannot use it as an identifier. This is as per design. Do let us know if you have any further queries.
Also, it is suggested to follow naming convention as mentioned here - https://docs.microsoft.com/en-us/az

[2021-11-16 10:41] v-anvari commented on #7817
Hi @vachillo , This is still under discussion. I shall add this as a feature request

[2021-11-16 10:59] ihordyrman opened #7862 "Image.FromStream throws an ArgumentException"
#### Is your question related to a specific version? If so, please specify:
V3 / .net core 3.1 / Consumption plan / 32bit
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
I have a code in my function that creates a new Image (System.Drawing.Image) from byte[]
[code]
Content holds a valid byte array of an image that I need to process. After calling F

[2021-11-16 12:07] v-anvari commented on #6328
Please open an issue here for further insights using java  - https://github.com/Azure/azure-functions-Java-worker

[2021-11-16 13:07] Jandev commented on #7851
No real questions on the matter, I just found it interesting Functions with these names result in some weird error.
In line with this, I guess all (static?) methods on types aren't supported by design?

[2021-11-16 13:24] Ved2806 commented on #7840
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-16 13:35] Ved2806 commented on #7823
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-16 23:08] aggieben commented on #5707
Another +1 from me on the need for some kind of configurable logging format template.

[2021-11-17 07:48] georgeOsdDev opened #7864 "FunctionAppLogs from Diagnostic settings have different format at "properties" field by OS/SKU"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version: 4.0.1.16815
- Function App name: 2111040060000473ELASTIC-LINUX
- Function name(s) (as appropriate): N/A
- Invocation ID: N/A
- Region: JapanEast

#### Repro steps

Provide the steps required to reproduce the problem:

- Save FunctionAppLogs to storage account from Diagnostic settings.

#### Expected

[2021-11-17 08:03] ihordyrman commented on #7862
After making some workaround I've found that this code doesn't work properly only inside durable functions.
I've moved this logic to a single HTTP trigger function and now it's working as expected.
Still can't figure out why this is happening in durable functions.

[2021-11-17 09:48] lewinskimaciej commented on #7869
It doesn't work for us even when running functions V4 with net6(inprocess). Still throws in runtime that it cannot find method
```System.Threading.Tasks.Task`1<Boolean> Microsoft.ApplicationInsights.TelemetryClient.FlushAsync(System.Threading.CancellationToken)```
because AppInsights forced by WebJobs SDK do not have it yet. It's ridiculous that we can't update a Nuget to a newer version because o

[2021-11-17 09:58] ffarinha-msft commented on #7869
Regarding the Function V4.
It was initially proposed a change that would allow to deploy whatever Application Insight version you would want, but is was abandoned. see here https://github.com/Azure/Azure-Functions/issues/2027
![image](https://user-images.githubusercontent.com/92974977/142178895-623c061c-adb1-4bd9-9445-e9f945bc2c3d.png)

 One workaround found is using the C# Azure Functions in an i

[2021-11-17 10:43] stefanello8 opened #7865 "System.FormatException when using function with custom handler as roles source of SWA"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#, Go

#### Question

I'm using an Azure Function inside a Static Web App. The function is used to get the user roles in `staticwebapp.config.json`:
[code]
The function itself has a custom handler defined in host.json. The custom handler is implemented in Go:
[code]
The function is called after authentication but a S

[2021-11-17 13:53] BrunoJuchli commented on #6587
There's a related issue which was mistakenly posted @ DryIoc as the stack trace reveals DryIoc -- but this repo contains a copy of the source code of DryIoc, DryIoc is not referenced as a nuget package.
https://github.com/dadhi/DryIoc/issues/180

Another issue pertaining to the same problem was also active on this repository a while ago:
https://github.com/Azure/azure-functions-host/issues/3399

T

[2021-11-17 14:07] BrunoJuchli commented on #6587
@fabiocav I had a look at the code and it seems to me this is not something which can easily be made configurable by a flag.
The call to DryIoc is made via a [wrapper](https://github.com/Azure/azure-functions-host/blob/5294afc32a34e5783caade40a2629427cee0418a/src/WebJobs.Script.WebHost/DependencyInjection/ScopedServiceProvider.cs#L25) implementing the IServiceProvider interface which in turn is no

[2021-11-17 16:57] alastairs commented on #5090
I came across this issue whilst debugging comms between a React front-end app (in repo A, running on `localhost:3004`) and an Azure Functions app (in repo B, running on `localhost:7074`). I'm trying to promote use of docker compose to spin up our local dev stacks more easily. Adding nginx as a reverse proxy to this is possible of course but what a clunky workaround it is! I'm astonished this doesn

[2021-11-17 19:23] aggieben opened #7868 "loglevel in host.json not fully respected; trace and debug are never output"
I have a minimal function app here: https://github.com/aggieben/azure-function-v4.  The commit history is organized to explain exactly how it was created and the purpose of each change along the way.

The app is a dotnet-isolated function.  I used the `FunctionContext` to get an `ILogger` instance, and wrote logging statements at the Debug (and Trace levels, though that isn't shown in my example).

[2021-11-17 19:25] aggieben commented on #7868
FWIW, I did try changing the default log level to `Warning`, and it seems to work: almost all of the output shown in the screenshot above was silenced.

[2021-11-17 21:11] fabiocav commented on #7869
Moving this to the host as we'll be performing the update here.

We'll make the change to 3.0 and 4.0

[2021-11-17 21:22] fabiocav commented on #6184
@CooperLink @yojagad (in case you spent time investigating) do you have any updates on this?

I believe @mathewc looked at a similar issue in the past, so pinging him here in case he has additional information to share.

[2021-11-17 21:29] fabiocav commented on #6910
@pragnagopa yes, the solution here would be to leverage shared memory. I'm trying to identify whether there is anything else we should be tracking for the host, as it already implements the capability and now it's really up to the workers to take advantage of that.

If there are no actions we should be tracking, this issue should be closed here.

[2021-11-17 21:34] pragnagopa commented on #6910
I believe we need to do the work in the host / webjobs SDK to not read  2GB into an byte[] directly --> this is a limitation that cannot be solved with SharedMemory feature even though it has the potential to solve it.

[2021-11-17 21:37] shimedh commented on #7587
Currently we are adding both instrumentation key as well as connection string during creates. We have two other places where we depend on instrumentation key that needs to be updated before we can update creates. We have WI's for all. Also had a meeting with @anthonychu , @apawast, @AnatoliB and others and they are going to sync with AI folks and decide on a plan before we update all tooling inclu

[2021-11-17 21:42] fabiocav commented on #5240
We're closing this issue as there are a number of changes/enhancements that have been made in this area to make the root cause more visible:
Some of the changes are:
  - Drain mode support
    - This enables a graceful shutdown and prevents a lot of the previous issues caused by service disposal while functions are still running
  - Updates to the exception handling path to identify the service re

[2021-11-17 21:42] #5240 closed

[2021-11-17 21:49] fabiocav commented on #7679
Sounds good. Do you expect to have this assigned or should we take a look? (@AnatoliB as this is related to Durable Functions)

[2021-11-18 00:28] markgibbons25 commented on #6239
Thanks @UsmanMohammad , it's amazing that this is still an issue years later and not documented on the [DI page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection).

[2021-11-18 08:29] ihordyrman commented on #7862
Well, it's still failing sometimes. So, the problem is not related to the durable functions.

[2021-11-18 10:11] Magnus12 commented on #7854
@v-bbalaiagar Essentially I only want to know if it is 600 in total across all instances (servers that the plan scales out to) or 600 per instance.

[2021-11-18 15:44] mdddev opened #7871 "When using MSI for AzureWebJobsStorage, can I disable shared key access for the underlying storage account?"
Hi

When using [managed-identity-aware](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=azurewebjobsstorage#connecting-to-host-storage-with-an-identity-preview) host connections to `AzureWebJobsStorage`, can I safely disable shared key access on the underlying storage account?

Even though the shared key is not used, it is still existing. I'd like to [disable accoun

[2021-11-18 17:29] Ved2806 commented on #7840
@miqm we would be tracking this as a feature request.

[2021-11-18 20:51] artmasa commented on #4397
Take a look at this for v2: https://www.nuget.org/packages/DarkLoop.Azure.WebJobs.Authorize
and this one for v3: https://www.nuget.org/packages/DarkLoop.Azure.Functions.Authorization.InProcess
Check this blog post for more details: https://blog.darkloop.com/post/functionauthorize-for-azure-functions-v3

[2021-11-19 14:19] v-bbalaiagar commented on #7819
Opened a new document issue for further validation - https://github.com/MicrosoftDocs/azure-docs/issues/83920. Closing this issue here.

[2021-11-19 14:19] #7819 closed, assigned to nobody

[2021-11-19 15:02] spplante commented on #7592
Just tried this again with a new solution, this time using **Microsoft.Identity.Web** 1.20.0 and still the same issue.

Downgraded to 1.14.1 and it works since this time I don't need the **PnP.Core v1.3.0** nuget, crossing fingers I won't get the issue after installing another nuget

[2021-11-19 15:57] olitomlinson commented on #7142
More evidence to suggest that being able to register certain functions (of a Function App) on different hosts (while excluding other functions) is desirable

https://github.com/Azure/azure-functions-durable-extension/discussions/1974

[2021-11-19 18:28] liliankasem commented on #7539
@qsdfplkj After further investigation this isn't something we're currently able to fix at the moment, it's a potential breaking change for a lot of people. We will pick this up for the next major version release after having a design discussion around this to ensure safe implementation. I'm going to close the corresponding PR (#7664), any future work around this issue should contain a unit test.

[2021-11-19 19:36] qsdfplkj commented on #7539
Personally I don't see why fixing this is a breaking change. It will show expected behavior. If i call getrequiredservice I expect a non null or exception.
It will break code that is already working incorrect. But that is what I would be expected. Now I have to debug and discover this issue instead of just getting an exception.

[2021-11-20 00:03] balag0 commented on #7871
Yes some deployment scenarios might still need access to the storage key for now. It depends on configs like private endpoints, key vault references, OS/SKU etc.
Also just the deployment would fail not the app as that would still continue use the identity based connections.

[2021-11-20 07:56] mdddev commented on #7871
Thanks @balag0
Maybe you can say something regarding this particular case. Will that work in your opinion? Any insights will be mich appreciated.

* Elastic Premium Windows
* Regional VNET integration into subnet
* The subnet has a storage service endpoint enabled
* The host storage account has network restrictions enabled allowing access from that VNET-integrated subnet
* No private endpoints use

[2021-11-20 13:00] ghost commented on #7857
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-20 14:07] brettsam opened #7873 "HostDisposedException not capturing full stack in some scenarios"
Improvements for #6758

One such stack that doesn't go all the way back to the listener (in this case it's the EventHubsListener) is here:

[code]

We want this stack to track all the way back so we can tell which Listener is trying to call `TryExectuteAsync` after disposal.

[2021-11-20 16:01] ghost commented on #7851
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-21 00:07] anthonychu commented on #7865
Can you get the function to work if you deployed it outside of Static Web Apps? Would like to understand if this is a problem with Static Web Apps or something in custom handlers.

[2021-11-21 00:19] anthonychu commented on #5707
I like this suggestion as well. Quite often the only way to see this is in App Insights. Moving to Core Tools repo.

[2021-11-21 08:29] miqm commented on #7840
Awesome. Will this be part of current runtime or we'd need to wait for next major release?

[2021-11-21 22:01] ghost commented on #6910
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-22 07:53] andreasohlund opened #7874 "The scoped IServiceProvider is passed to AddSingleton in Host V4"
#### Check for a solution in the Azure portal

Nothing found

#### Investigative information

Please provide the following:

- Timestamp: N/A
- Function App version: N/A
- Function App name: N/A
- Function name(s) (as appropriate): N/A
- Invocation ID: N/A
- Region: N/A

#### Repro steps

Provide the steps required to reproduce the problem:

1. Register a singleton singing the `AddSingleton<T>(Fun

[2021-11-22 07:58] danielmarbach commented on #7874
Here is a sample showing how ASP.NET Core exhibits the correct behavior

[Program.zip](https://github.com/Azure/azure-functions-host/files/7579094/Program.zip)

[2021-11-22 09:49] IanKemp commented on #6068
Still an issue in 2021...

[2021-11-22 09:57] stefanello8 commented on #7865
The function works as expected if I run it locally via `func start` and call the endpoint in the browser. So I think the issue is somehow related to the SWA or the `auth` configuration.

[2021-11-22 11:21] liliankasem commented on #7539
Yup, I understand that this is expected behaviour. However, breaking code that is already working incorrectly is still breaking code and we need to consider impact on all users before making this change.

[2021-11-22 11:25] JohanKlijn opened #7875 "A lot of traces and dependencies items with operation_name MessageRelayOutbox in Application Insight"
Environnent Information :
- FUNCTIONS_EXTENSION_VERSION : ~3
- FUNCTIONS_WORKER_RUNTIME : dotnet
- Function App version:
- Invocation ID: cd561f4e-dae7-4ead-976d-9eb7e7fca057
- Region: West Europe
- Development Language: C#

I am seeing a lot of traces and dependencies items with operation_name MessageRelayOutbox in Application Insight. For example in the weekend only a TimerTrigger is running pur

[2021-11-22 13:01] ghost commented on #7854
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-22 17:19] Ved2806 commented on #7859
@jbpaux Could you please share the function app name and the format used for the AzureWebJobsStorage__accountName?

[2021-11-22 20:39] jbpaux commented on #7859
Hi, function app name is : nmnbepptiql5s-func
AzureWebJobsStorage__acountName is set to nmnbepptiql5ssa

[2021-11-22 22:04] anthonychu commented on #7860
FYI @fabiocav @kshyju @satvu as this affects some of the custom handler related stuff you might be working on.

[2021-11-22 22:05] srmagura opened #7878 "Could not load file or assembly Microsoft.IdentityModel.Tokens (related to _FunctionsSkipCleanOutput)"
A newly-created Azure Functions project fails to load `Microsoft.IdentityModel.Tokens` even when the .csproj file contains a `PackageReference` to the `Microsoft.IdentityModel.Tokens` NuGet package.

#### Investigative information

N/A, this issue is reproducible locally.

#### Repro steps

1. Clone my repo: https://github.com/srmagura/FunctionsAssemblyLoadingRepro
2. Open the solution file in Vis

[2021-11-22 23:00] surgupta-msft opened #7879 "Worker Indexing - Investigation on using worker capabilities instead of worker.config"
For now, the worker indexing check within the host is based off the worker.config.json file defining workerIndexing as “true”. This doesn’t fit the true spirit of the worker “advertising” the ability of indexing to the host. Instead, it would make more sense for the worker to decide whether to index or not and then send "indexing” as a capability during the initial GRPC handshake when starting up

[2021-11-22 23:06] surgupta-msft opened #7880 "Sending single FunctionLoadRequest in case of multiple functions"
Host should be sending single FunctionLoadRequest even if multiple functions are there in Function App. Need to investigate if current code already has this behavior and fix if it does not already exist.

[2021-11-23 10:48] christophwille opened #7881 "OutOfMemoryException on V3 to V4 Migration (with .NET Core 3.1 to .NET 6.0)"
I migrated an existing .NET Core 3.1 in-proc Azure Functions app to .NET 6.0 using the guidance at https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=in-process%2Cv4&pivots=programming-language-csharp#migrating-from-3x-to-4x. Then I published (with setting delete all extra files) to the slot where the .NET Core 3.1 function lived and worked nicely for months.

The code

[2021-11-23 13:00] #7857 closed, assigned to kashimiz, v-bbalaiagar

[2021-11-23 15:25] v-bbalaiagar commented on #7881
Tagging @pragnagopa , for further insights

[2021-11-23 15:28] v-bbalaiagar commented on #7875
Hi @JohanKlijn, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-23 15:34] v-bbalaiagar commented on #7862
Hi @ihordyrman, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-23 16:00] Ved2806 commented on #7864
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-23 16:01] #7851 closed, assigned to madelinegordon, v-anvari

[2021-11-23 17:11] pragnagopa commented on #6999
Closing this as the platform fixes were rolled out.

[2021-11-23 17:11] #6999 closed, assigned to pragnagopa

[2021-11-23 17:13] pragnagopa commented on #7881
@christophwille - please confirm if your app is running on dynamic sku and is x64 bit

[2021-11-23 17:20] #7774 closed, assigned to liliankasem

[2021-11-23 17:22] christophwille commented on #7881
Yes, it is 64 Bit (Configuration/General Settings). Where can I see dynamic? I went to resources.azure.com for the underlying plan and it says `"computeMode": "Dynamic",` and

[code]

[2021-11-23 17:23] ihordyrman commented on #7862
Hi, @v-bbalaiagar.
I've struggled with the current issue for too long and have decided to move to the new Isolated process model.
After switching the problem is gone, so I can assume that it was related to the host runtime.

[2021-11-23 17:34] pragnagopa commented on #7881
Thanks @christophwille for sharing the details!. There is a known issue in the platform for x64 bit Function Apps running on Windows in dynamic sku. Fix will be rolled out in the next couple of months. Until then please set  App Setting: `COMPLUS_GCHeapHardLimit` to the value `0x60000000`

cc @fabiocav @kranthikumarm @safihamid

[2021-11-23 17:37] christophwille commented on #7881
Just to make sure - we are talking about Configuration/Application settings?

[2021-11-23 17:38] pragnagopa commented on #7881
Correct - add new app setting `COMPLUS_GCHeapHardLimit` and set it's  value to `0x60000000`

[2021-11-23 22:49] fabiocav commented on #7930
Chunked requests are not currently supported for the OOP scenarios. We did some work to enable binding data in the past, so I'll leave this open so we can identify the work required to expose an option for this as well.

[2021-11-24 00:14] NickCraver commented on #7874
cc @fabiocav this is related to what we were discussing earlier on child containers

[2021-11-24 00:17] NickCraver commented on #7873
If it helps, I'd expect this to happen based on my investigations. It's because of [the `Task.Yield()` here](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/src/Microsoft.Azure.WebJobs.Host/Executors/FunctionInvoker.cs#L50) which is going to throw us back on the task queue overall. It's a fun source of branching when hunting performance/allocations locally

[2021-11-24 01:07] surgupta-msft commented on #7850
Added documentation here - https://dev.azure.com/msazure/One/_git/AAPT-Antares-Docs?path=/TeamDocs/FunctionTeamDocs/Design/WorkerIndexing/WorkerIndexing.md&version=GBmaster&_a=contents

[2021-11-24 01:07] #7850 closed, assigned to surgupta-msft

[2021-11-24 02:22] anthonychu opened #7887 "Worker Indexing - support custom handlers"
Allow custom handlers to return functions metadata.

Proposal:

Add a `functionsMetadataRoute` (or something) to the custom handlers config in host.json:

[code]

If the property is specified, instead of indexing functions from the filesystem, make an HTTP GET request to the specified route on the custom handler to retrieve metadata.

@surgupta-msft @fabiocav any thoughts?

[2021-11-24 08:43] emmorts commented on #7452
@fabiocav, any update on this?

This is quite a crucial feature in our use case. Is there an alternative you could suggest for the time being?

[2021-11-24 09:13] christophwille commented on #7881
I have verified that this works, however, then went back to netcore3.1 to wait for the "official" fix (this function app is not critical to be moved to 6.0)

In my initial comment I had a side note about other OOMs in Windows .NET 6 containers - would that fix apply there too / different fix / other discussions/issues you could point me to?

[2021-11-24 15:24] Ved2806 commented on #7878
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-24 16:20] Cogax commented on #7878
Similar: https://github.com/AzureAD/microsoft-identity-web/issues/1428

[2021-11-24 17:24] TroyWitthoeft opened #7888 "Feature - Azure portal function app pause button"
#### What problem would the feature you're requesting solve? Please describe.

From within the Azure portal, I'd like to pause a function app for 30m, an hour, or maybe a few days.
Azure Functions is missing a button like this ...

![image](https://user-images.githubusercontent.com/1102958/143278717-1b07178d-cf22-4343-a3fa-fdf8d8555d5d.png)
_Above: Added a pause button with a user selectable dropd

[2021-11-24 19:03] Cogax opened #7889 "How can Debug logs in WebJobs.Script namepsace be configured?"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

#### Question

[2021-11-24 21:36] DryJhin commented on #7843
Hello Guys,

Same behaviour for me also, the same configuration, just it is windows service plan, region Germany West Central, trying for more than one day to find a fix for this...

I wanted to migrate the Azure Storage Event Grid to isolated mode...

[2021-11-25 04:01] #6910 closed, assigned to nobody

[2021-11-25 09:34] kelps commented on #7452
As a workaround, I thought of adding a custom logger factory to DI that would create an ILogger that doesn't flow through the host GRPC channel and would connect directly to Insights. In theory it should work, but we would loose all console and stream logs in Azure and local dev and would be forced to rely on Insights for ANY diagnostics. If we try to keep the connection to GRPC, to also show in t

[2021-11-25 10:10] jhoops88 commented on #7812
We resolved this in our instance by updating all our Azure related NuGet packages:

Azure.Storage.Blobs
Microsoft.Azure.Functions.Extensions
Microsoft.Azure.WebJobs.Extensions.DurableTask
Microsoft.Azure.WebJobs.Extensions.SendGrid
Microsoft.Azure.WebJobs.Extensions.Storage

[2021-11-25 12:00] davidljuba15031979 opened #7892 "Old npm version (1.1.37) on Windows Function App with Node runtime (v14.16.0)"
In Azure Function App running in Windows OS with Node.js runtime in Azure Cloud, when Node.js version is v14.16.0, npm is very very old version 1.1.37.

It should be like this (Kudu App service https://<app-name>.scm.azurewebsites.net/api/diagnostics/runtime):
[code]

It is clearly shown by this code that npm version is wrong in runtime of Azure Function:

[code]

[code]

[code]

I can not execute

[2021-11-25 12:27] MrSimonC opened #7893 "Permissions failure executing chromium with Playwright.dev in Linux Consumption with Github Actions"
Hello all!

I'm getting permission error thrown when trying to implement implement PlayWright.net in a Linux Azure Function via github actions.

The goal would be that anyone can use PlayWright .net in an Azure Function (Linux) Consumption plan and by using github actions, this makes it platform / tool agnostic (e.g. VS in windows, or VC code on mac/linux).

## Learnings

I've been trying to get t

[2021-11-25 15:40] MidasLamb opened #7894 "Custom runtime Eventhub trigger not receiving additional events after the initial call"
#### Is your question related to a specific version? If so, please specify:
No, not that I'm aware of.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Rust with the Custom runtime

#### Question
I have defined an EventHubTrigger:
[code]

but when the following snippet runs:
[code]

I can see that an initial request is processed (I see `Sending response!` loggings,

[2021-11-25 16:00] #7854 closed, assigned to soninaren, v-bbalaiagar

[2021-11-25 20:42] anthonychu commented on #7893
Started some discussions with @marcusfelling on how to improve the Playwright experience on Functions. As you’ve noticed, this doesn’t work well right now, especially for .NET.

[2021-11-26 08:28] wurzingerringana commented on #7843
Hi there,

We had the same Issue 4 weeks ago and couldn't fix it on our own.
Azure support came back with the advice from the product team to upgrade to the newest packages. We did so, deployed the application and since then (~3 weeks ago already) we couldn't observe any downtimes and every health check completed successfully.

The upgraded packages are
`Microsoft.Azure.Functions.Worker 1.6.0`  (f

[2021-11-26 15:28] subhajitmck commented on #3804
The issue seems to be back with version 5.0.0. Can anyone confirm the same. Although if downgraded to 4.0.4/4.0.5 its working smoothly.

[2021-11-26 16:12] klenium opened #7895 "Log the exception's message to Application Insights"
I'm using C# Azure Functions.
All exceptions are/shall be logged to our Application Insights. We monitor those logs in the AI by another tool.

I've created a very simple function:
[code]
`SettingsManager.GetValue` will throw an exception saying this value is not configured through the Azure Portal. When running the function and I'm connected to the output (eg. viewing the local console or the Log

[2021-11-26 17:39] vsha041 commented on #6622
We had the same issue and on top of that function timer trigger was not working properly either. Initially this exception was triggering during resolution of IHttpClient and so I ended up looking into that which was in the wrong direction.

[code]

[code]

But finally, adding the configuration setting **AzureFunctionsWebHost__hostId** solved 90% of these errors. You can read more [here](https://gi

[2021-11-26 17:41] anthonychu commented on #3804
@mattchenderson @cachai2

[2021-11-26 17:57] DryJhin commented on #7843
Hi @wurzingerringana ,

I have also the latest packages, what type of function do you use?

Could you provide a git sample that is working?

Thanks in advance

[2021-11-26 18:11] laurens1984 opened #7896 "File not found for empty folder when using WEBSITE_RUN_FROM_PACKAGE"
#### Investigative information

- Timestamp: 2021-11-26T13:11:58.9505949Z
- Function App version: v4
- Function name(s) (as appropriate): Functions.RenderSwaggerDocument
- Invocation ID: 9b9ac677-d60b-446d-8623-228acef8f606
- Region: West Europe

#### Repro steps

The Function App gets build with 'dotnet publish', in the resulting file structure there is a folder that is empty named 'nl'. The file

[2021-11-26 21:15] DryJhin commented on #7843
UPDATE

I made it work finally... after a lot of struggles, I started to build from these examples:

[https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/Extensions](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/Extensions)

But adjusted with these things

- Latest versions of Worker
- on worker SDK add OutputItemType="Analyzer"
- for the EventGridTr

[2021-11-26 22:01] ghost commented on #7859
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-27 14:36] jbpaux commented on #7859
why is it staled ? I answered... @fabiocav you can remove the label..

[2021-11-29 05:06] emriti commented on #7878
Hi.. try lowering your azure function version, for example:

`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <AzureFunctionsVersion>v3</AzureFunctionsVersion>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.IdentityModel.JsonWebTokens" Version="6.14.1" />
    <PackageReference Include="Microsoft.IdentityModel.T

[2021-11-29 05:39] FisherMS opened #7897 "How to get the function Keys in ARM templates?"
Azure Function app Runtime version: ~3
C#
I want get the Http trigger url in Azure function app in ARM template. But I cant find the right method.

when I use these code has exception.
[code]
So, what is the correct method the get the trigger url or the function keys?

![image](https://user-images.githubusercontent.com/12068896/143814542-10481a8b-9535-47d3-89e3-e90eaa05893f.png)

[2021-11-29 08:25] v-bbalaiagar commented on #7862
Hi @ihordyrman, Thank you for the update, Please let us know if this can be closed or you have further queries.

[2021-11-29 08:27] #7862 closed, assigned to nobody

[2021-11-29 08:29] Ballzer0 opened #7898 "intermittent 404 Nginx error custom handler"
#### Investigative information
We are using a Linux function on consumption tier in Northern europe. The issue seems similar to this. https://docs.microsoft.com/en-us/answers/questions/393494/random-404-error-on-azure-function.html

similar issue: https://github.com/Azure/azure-functions-host/issues/7421

Please provide the following:

- Timestamp: 2021-11-29T09:12:00Z
- Function App version: 3
-

[2021-11-29 08:33] Ballzer0 commented on #7898
error from power automate trying to reach the function
![image](https://user-images.githubusercontent.com/28560729/143833634-785bba15-2f03-484b-9a37-cac0431d5838.png)

error as HTML
[code]

[2021-11-29 10:54] colgreen opened #7918 "HttpTrigger route case sensitivity - support with a new config option?"
We are developing a new REST API using Azure functions (using the isolated process hosting). I thought it would be beneficial to enforce URL path case sensitivity, as per this entry in the [MS Azure API Guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md):

Is there a simple way of achieving this? I think ideally it would be a built-in config setting.

I think it

[2021-11-29 12:24] Ved2806 commented on #7898
Hi @yojagad / @balag0 , Could you please look into this issue?

[2021-11-29 13:20] v-bbalaiagar commented on #7897
Hi @Fisher-Joe, Thank you for your feedback! If your question is how to get the full trigger URL + key via ARM, here is the API:
POST https://management.azure.com/subscriptions/{sub}/resourceGroups/{rg}/providers/Microsoft.Web/sites/{app}/functions/{func}/listsecrets?api-version=2016-08-01

For the keys, we would recommend using the [key management APIs](https://github.com/Azure/azure-functions-ho

[2021-11-29 13:22] v-bbalaiagar commented on #7812
Thank you for the update @jhoops88

[2021-11-29 13:29] Ballzer0 commented on #7898
we upgraded to Function App version: 4

This **"so far"**, seems to have solved the issue, we will still be monitoring the situation, but the problem hasn't showed itself since we did the upgrade. I will keep the issue open for now and report back later.

[2021-11-29 14:35] LaLouk commented on #5851
Hello everyone.
Well, my team and I face the same problem.
We, also, make use of HttpClientFactory via dependency injection, and sometimes our function app starts throwing this exception. The problem in our case is that we get this exception abstractedly and there is not pattern behind it. For example, in the previous week, we used to have high traffic and in only one day we got this exception in

[2021-11-29 20:23] nzthiago commented on #6287
Related to [#2152](https://github.com/Azure/azure-functions-host/issues/2152)

[2021-11-29 21:45] safihamid opened #7899 "DryIoc's CreateExpressionOrDefault is taking a long time during cold start specialization"
We should see if we could use static expressions or add logging and latency for all these services being resolved and see which ones could move to placeholder mode or get delayed.

![image](https://user-images.githubusercontent.com/1000764/143947807-f324422a-19bf-47e0-90d5-f2c694fe60de.png)

[2021-11-29 21:50] safihamid opened #7900 "Update V4 deployment pipeline to publish/deploy with Ready2Run enabled"
This significantly helps with cold start of .NET apps specially for out of proc isolated scenarios.

[2021-11-29 21:53] safihamid opened #7901 "Risk Alert if deployed customer function app is not deployed with Ready2Run"
Need to log a statement if .NET Function app is not deployed with Ready2Run. This log entry will be read and alert to customers in cold start Risk Alert section of the portal.

Code to check for the condition:

using System.Reflection.Metadata;
using System.Reflection.PortableExecutable;

static bool IsReadyToRun(Stream stream)
{
    try
    {
        using (PEReader peFile = new PEReader(stream))

[2021-11-29 21:55] safihamid opened #7902 "Functions V4 R2R is failing for Linux-x64 for InProc"
It hangs at the step below, it works fine for win-x86 and win-x64. also works fine for isolated and linux-x64.

dotnet publish -c release -r linux-x64 --no-self-contained -v diag

Task "GenerateFunctions" (TaskId:191)
Task Parameter:TaskAssemblyDirectory=C:\Users\hamids\.nuget\packages\microsoft.net.sdk.functions\4.0.1\build\..\tools\net6.0\ (TaskId:191)
Task Parameter:TargetPath=C:\Users\hamids\s

[2021-11-29 22:18] Francisco-Gamino opened #7903 "Update PowerShell Worker 7.0 to 4.0.1273"

[2021-11-29 22:19] Francisco-Gamino opened #7904 "Update PowerShell Worker 7.2 to 4.0.1274"

[2021-11-29 22:26] Francisco-Gamino opened #7906 "Update PowerShell Worker 7 to 3.0.1272"

[2021-11-30 01:47] kshyju commented on #7875
@JohanKlijn Curious to know whether you have debug level logging enabled. Looks like these are dependency tracking log entries from managed identity, as you suspected.

[2021-11-30 06:36] Fisher-Joe commented on #7897
Hi @v-bbalaiagar
Thank you.

Sorry, I cant find how to config the ARM template to  get the trigger url by  [key management APIs](https://github.com/Azure/azure-functions-host/wiki/Key-management-API)

I use below config has a exception.
[code]
[code]

[2021-11-30 07:48] FisherMS commented on #7897
Hi @v-bbalaiagar
Thank you.
I cannot find how to config the ARM template use the  key management APIs.
Could you give a example?

Now, I use this config to get the key.
[code]

[2021-11-30 09:30] fdipuma commented on #7881
We are experiencing the same issue after migrating an app from .NET Core 3.1 + Functions v3 to .NET 6 + Functions v4.

64bit app config.

Is that related to https://github.com/Azure/azure-functions-host/issues/5430 ?

[2021-11-30 10:03] Ved2806 commented on #7888
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-30 10:08] Ved2806 commented on #7895
Thank you for your feedback! We will check for the possibilities internally and update you with the findings

[2021-11-30 10:08] Ved2806 commented on #7894
Thank you for your feedback! We will check for the possibilities internally and update you with the findings

[2021-11-30 10:33] v-bbalaiagar commented on #7896
Hi @laurens1984, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-30 11:04] v-bbalaiagar commented on #7889
Hi @Cogax, Thank you for your feedback! If your question is how to configure application insights here is the document - https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net

Please check and let us know if this helps.

[2021-11-30 11:46] JohanKlijn commented on #7875
@kshyju I did not set any logging to debug level explicitly. My host.json looked like:

[code]

In the mean wile I changed it, because of all the log messages and the corresponding cost. It now looks like:
[code]
Of course I don't see the messages anymore, but I thought it strange to see a lot of messages with category 'Function.MessageRelayOutbox' during the weekend, when only a single timer trig

[2021-11-30 13:27] Ballzer0 commented on #7898
The function has been running for 1 day now without any more nginx 404 errors, normally we would have seen errors by now. Looks like the problem was with the Function App Version V3

[2021-11-30 15:38] daigok opened #7909 "IANA timezone style doesn't work on Windows dotnet 6."
#### Investigative information
I'm using a Windows function v4 using dotnet 6 on consumption tier in Japan East. Our code uses TimeZoneInfo with IANA style, but the code throws System.TimeZoneNotFoundException.

#### Repro steps

Create a new function on the portal. And create a new HttpTrigger function like follows:

[code]

Hit to "Run" the above code.

#### Expected behavior

It should be succe

[2021-11-30 16:02] jblanchet opened #7910 "Using Azure.Messaging.EventGrid.EventGridEvent"
#### Is your question related to a specific version? If so, please specify:
Using Functions v3 or v4, (along with .net 3.1 or .net 6).

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
Creating a brand new EventGrid triggered function through the VS 2022 template, if I want to use the new Azure.Messaging.EventGrid.EventGridEvent class (instead of t

[2021-11-30 16:40] Zhaph commented on #4926
Just to add more keywords here:

This issue means that you cannot send requests to an HTTP Trigger on the function runtime using the HttpClient `PostAsJsonAsync` extension method as per https://github.com/aspnet/AspNetWebStack/issues/252 and instead need to manually create a StringContent body when sending JSON requests to a Function App.

This is considered a "server side fix and issue".

[2021-11-30 17:28] DrEight opened #7912 "SSL Certificate Error in Linux Docker container"
I'm using Azure function V4 in isolated mode inside a Linux Container.
The host machine is running Azurite configured in https.
When the container tries to connect to the host I get:

_Microsoft.Azure.WebJobs.Script.WebHost.WebScriptHostExceptionHandler[0]
      An unhandled exception has occurred. Host is shutting down.
      Microsoft.Azure.Storage.StorageException: The SSL connection could not

[2021-11-30 18:08] #7903 closed, assigned to Francisco-Gamino

[2021-11-30 20:10] #7898 closed, assigned to kashimiz, Ved2806

[2021-11-30 20:41] mathewc commented on #7698
Reactivating this because we had to revert in https://github.com/Azure/azure-functions-host/pull/7915/files due to an unforeseen regression.

[2021-11-30 21:00] surgupta-msft opened #7916 "Worker Indexing - Host to fall back on its indexing if worker denies by checking legacy payload"
To add ability for worker to check the payload and send message to host the it cannot index the legacy payload. Host to then fall back to its indexing.

[Documentation](https://eng.ms/docs/cloud-ai-platform/devdiv/serverless-paas-balam/serverless-paas-balam/app-service-web-apps/antares-team-documents/functionteamdocs/design/WorkerIndexing/WorkerIndexing#35-host-fallback-scenario)

[2021-11-30 22:25] fabiocav commented on #7918
Transferring this to the host repo for review as this is not something controlled by the worker.

[2021-11-30 22:48] fabiocav commented on #7929
There's no supported mechanism to accomplish that today. I'll leave this open as an enhancement request.

[2021-12-01 10:47] sanjaydebnath opened #7921 "ServiceBusTrigger should auto scale with identity-based connections"
Currently to make sure 'auto scaling' works correctly we have to provide a shared access policies that has the 'manage' capability at the service bus namespace level. It's well documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/event-driven-scaling#understanding-scaling-behaviors).

Now with newer [v4 versions we can use MSI based connection strings](https://docs.microsoft.co

[2021-12-01 14:06] NickCraver opened #7923 "Builds: How should builds from forks work?"
In opening a few PRs yesterday (#7917, #7919, #7920) , we noticed that PR builds weren't allowed from forks at all. I have permissions so we tried `/azp run` but building from forks was not allowed. This is allowed in the WebJobs SDK repo but not in the Host.

There are 2 issues:
1. Builds are not allowed on forks at all.
2. If they are allowed, even with the `full-ci` label, secrets aren't allowe

[2021-12-01 16:01] ghost commented on #7859
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-01 16:05] jbpaux commented on #7859
@fabiocav ?

[2021-12-01 17:25] liliankasem commented on #7906
@Francisco-Gamino can we close these and the others?

[2021-12-01 17:31] liliankasem commented on #7923
@amamounelsayed @VpOfEngineering is this something you can help with? @fabiocav and I were discussing maybe setting up another pipeline for external contributions that does basic validation?

[2021-12-01 18:37] Francisco-Gamino commented on #7906
This issue has been fixed. Closing.

[2021-12-01 18:37] #7906 closed, assigned to Francisco-Gamino

[2021-12-01 18:37] Francisco-Gamino commented on #7904
This issue has been fixed.

[2021-12-01 18:37] #7904 closed, assigned to Francisco-Gamino

[2021-12-01 19:13] fabiocav commented on #7923
@amamounelsayed @VpOfEngineering this is something that is missing after our move from AppVeyor. Happy to sync on this if it helps.

[2021-12-01 19:23] VpOfEngineering commented on #7923
I'll set up some time @fabiocav  - this is something @pragnagopa and I have run into before.

[2021-12-01 19:41] boylec commented on #8504
+1

* dotnet-isolated
* MacOS 11.6
* Very simple function project with a single HttpTrigger function defined (from func init as per the OP's post)
* csproj file:
[code]
* `func start`
* log
[code]

Seems to be intermittent, failing to start about 80% of the time. Quite disruptive.

[2021-12-01 21:14] fabiocav commented on #7929
Flagging this as a design/discussion item so we can understand whether this is a change we want to make and the scope of the change.

@antyrama can you describe your scenario/requirement for this? Would a better mechanism to retrieve the keys be helpful here?

[2021-12-01 21:25] fabiocav commented on #7847
Making this an Epic.

@liliankasem will break this down into issues for each of the scenarios we want to validate and have them linked here.

[2021-12-01 21:34] boylec commented on #8504
I had a call to .AddAzureKeyVault in my ConfigureAppConfiguration hook.

Once I removed that the issue is entirely resolved.

[2021-12-01 21:42] fabiocav commented on #7930
Moving this to the host and flagging the item for investigation.

[2021-12-02 04:25] dawwa commented on #7843
Could this be some regression recently rolled out? Our function hits this issue as well, nothing changed, just idled for a few weeks and we observed timeout due to this error.

What is the way to figure out the actual issue under the error?

[2021-12-02 07:16] nilshjalmarson commented on #2015
Any updates on this one?

[2021-12-02 08:49] mithunshanbhag commented on #7285
@unearthly85: A possible workaround (note: I haven't tried this out myself).

If you're using API management (gateway) to call into Azure functions, then you can set a policy to force gzip compression.

https://stackoverflow.com/a/60312137

https://github.com/jiasli/azure-notes/blob/master/api-management/sample-policies.md#gzip-compression

[2021-12-02 09:35] v-bbalaiagar commented on #7897
Hi @Fisher-Joe, Check out [this GitHub thread ](https://github.com/Azure/azure-functions-host/issues/3994#issuecomment-507693624)for some examples of how to use these APIs in your ARM templates.

Please check and let us know if this helps.

[2021-12-02 12:04] liliankasem opened #7932 "[Load Testing] [Windows] Deploy function apps for testing in-proc dotnet function apps v4"
- Epic: https://github.com/Azure/azure-functions-host/issues/7847

Deploy new function apps for load testing  [perftestepwin v4](https://azfunc.visualstudio.com/Azure%20Functions/_git/FunctionAppsForLoaderTests?path=/PerfApps/FunctionApps/Dotnet/v4/PerfTestEPWin)

**regions**: West US, East US 2 EUPA, North Europe, East Asia
**sku**:

- windows consumption
- windows elastic premium
- windows p1v2

[2021-12-02 12:05] liliankasem opened #7933 "[Load Testing] [Windows] Deploy function apps for testing in-proc dotnet custom container v4"
- Epic: https://github.com/Azure/azure-functions-host/issues/7847

Deploy a new function apps for load testing [dotnet in-proc custom container v4](https://azfunc.visualstudio.com/Azure%20Functions/_git/FunctionAppsForLoaderTests?path=/PerfApps/FunctionApps/CustomContainer/dotnet/v4/PerfApp)

**regions**: West US, East US 2 EUPA, North Europe, East Asia
**sku**:

- windows elastic premium
- window

[2021-12-02 12:13] liliankasem opened #7934 "[Load Testing] Deploy function apps for testing isolated dotnet function apps v4"
- Epic: https://github.com/Azure/azure-functions-host/issues/7847

Deploy new function apps for load testing the isolated worker dotnet project - [PerfTestIsolated v4](https://azfunc.visualstudio.com/Azure%20Functions/_git/FunctionAppsForLoaderTests?path=/PerfApps/FunctionApps/Dotnet/v4/PerfTestIsolated)

**regions**: East US, Europe, Asia
**sku**:

- windows consumption
- windows elastic premium

[2021-12-02 12:46] sjuarezgx opened #7935 "How to get application logs from a Function App in linux"
Hello

I'm working with Net 6, Azure Functions V4 in linux.
I do not use containers.

I need to get the logs generated from the application, but cannot find them. I read the documentation about it, but I don't find it clear.
The logs cannot be found at the storage at it happens for windows. The file shares are empty.
I have Application Insights activated, but what I really need now is the applicat

[2021-12-02 13:17] gmlion commented on #7145
I have a similar problem, but from what I experience allowing synchronous IO by turning the flag FUNCTIONS_V2_COMPATIBILITY_MODE to true is enough to make it work, or returning IActionResult. Also see: https://github.com/Azure/azure-functions-host/issues/7064

[2021-12-02 14:02] sjuarezgx commented on #7935
I'm following this document with no results:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitor-log-analytics?tabs=csharp

I haven't got the FunctionAppLogs table under LogManagement for my Log Analytics workspace.

[2021-12-02 14:56] DryJhin commented on #7843
There is no way at the moment to find why it's not working... Microsoft is working on improving the error... I was just removing/adding code and deploying again... Probably Microsoft made an update that affected the OS/runtime.... so basically you have to upgrade nugget packages as in the following  [comment](https://github.com/Azure/azure-functions-host/issues/7843#issuecomment-979781725)

[2021-12-02 17:09] Ved2806 commented on #7895
Hi @gzuber, If it is possible to log an exception's message to an AI?

[2021-12-02 17:13] Ved2806 commented on #7894
@MidasLamb I tried to reproduce this but I wasn't able to do so. Could you please provide any repository so that we can investigate this issue?

[2021-12-02 17:16] Ved2806 commented on #7823
Hi @slimmingworlduk, Could you please share code sample so that we can investigate?

[2021-12-02 17:19] Ved2806 commented on #7859
Hi @fabiocav, Could you please take a look?

[2021-12-02 17:57] MidasLamb commented on #7894
@Ved2806, thanks for looking into it already! This is the minimal I could get it to: https://github.com/MidasLamb/azure-function-eventhub-listener.
I see 4 times `Message handling!` (the amount of partitions on the event hub), and then it just stalls

[2021-12-02 18:15] liliankasem commented on #7935
Hello! I haven't been able to repro your issue. I deployed a linux dotnet v4 function app (not container) and following the documentation you linked I can see logs in Log Analytics and in the storage account:

**Storage:**

<img width="271" alt="storage" src="https://user-images.githubusercontent.com/2198905/144479477-dc90ee45-540b-4652-9cf2-75e121593a43.png">

**Log Analytics:**

<img width="993"

[2021-12-02 18:16] MidasLamb commented on #7894
Also to indicate that there are still plenty of messages to be picked up by the listener, here is a graph of the eventhub:
![image](https://user-images.githubusercontent.com/14802865/144479796-b5e42f65-b682-4fe8-9edb-98330d0ccb13.png)
where it shows that for multiple minutes ~100k requests per minute have been arriving, but almost nothing has been read.

[2021-12-02 21:01] naijith commented on #3998
Facing the same issue with Azure web app. %252f seems to be working but can't change the encoding as it's in a library.

[2021-12-02 21:14] stevehawken opened #7944 "Azure Functions V4 Linux support for NTLM"
#### Investigative information

Please provide the following:

- Timestamp: 2021-12-02 20:45:01.486
- Function App version: V4
- Invocation ID: b40ec635-67be-436b-9d5e-803abffc2f65
- NET: 6.0
- Region: East US

#### Repro steps

I am writing an Azure function that connects to a SharePoint 2016 farm (on prem) over SOAP which uses NTLM. It works fine on Windows but when I deploy it to Azure Function

[2021-12-02 22:24] #7698 closed, assigned to mathewc

[2021-12-03 02:11] FisherMS commented on #7897
Hi @v-bbalaiagar ,
Thank you.
This method introduces a new dependency on Key Vault. I want to know is there  a simple way to directly obtain the automatically generated Key in FunApp instead of using KeyVault.

[2021-12-03 17:17] Bit-Shifts commented on #4689
Still no update?

[2021-12-03 21:33] mathewc commented on #2015
We added code to the host to check for this issue and log a warning in Functions v3. In Functions v4 when detected it's an error and we prevent the host from starting. See https://github.com/Azure/Azure-Functions/issues/2049 for details.

[2021-12-04 04:17] anthonychu commented on #7929
Unrelated scenario that would benefit from the ability to set auth levels to anonymous is Static Web Apps. We’d like to require that managed functions running in SWA be anonymous. But there’s not really a foolproof way to enforce this. It would be great if we can have a setting that controls auth levels for all functions in the app and SWA would ensure it’s set for managed function apps. Perhaps s

[2021-12-04 13:01] ghost commented on #7889
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-04 16:45] anthonychu commented on #7901
@fabiocav @brettsam we need a plan for using R2R by default and without additional work by the customer before we can warn about stuff like this.

[2021-12-04 17:18] pragnagopa commented on #7859
Assigning to @balag0 for initial investigation. This could be related to how the app is deployed - Related issue https://github.com/Azure/azure-functions-core-tools/issues/2684

[2021-12-04 18:21] safihamid commented on #7901
@anthonychu that is covered by a different issue. Raedy2Run is documented very well and we will link to the documentation in Risk Alerts. This is just to be able to notify customers what needs to be done to get best cold start so they are aware of it.
I would put it in same exact category as warmup triggers for premium/app service plans. We don't add it by default but we have it in Risk Alerts and

[2021-12-04 18:23] safihamid commented on #7901
Other issue tracking what asked by @anthonychu:

https://github.com/Azure/azure-functions-host/issues/7900

[2021-12-04 19:02] davidbutler-rldatix commented on #7833
@phillipharding - I've got a very similar issue showing up in the Console when debugging.. The `System.IO.IOException` message is the same, but my statck trace is different - not sure if this is due to differences in Tools or Runtime, or Function SDK version. It consistently happens for me whenever I `Ctrl-C` in the debug console, or stop debugging in VS. What I've also noticed, is that  this bega

[2021-12-05 04:23] horihiro commented on #7893
@MrSimonC ,
As far as I know, you can choose deployment way from the following to keep executable permission on Linux Consumption.
1. ZipDeploy with Remote Build
2. Run From Package (uploading a zip package to a storage account and setting `WEBSITE_RUN_FROM_PACKAGE` to the package url)

I tried 1. but Remote Build is not succeeded yet for .NET5 functions in my environment.

So 2. is recommended wa

[2021-12-05 22:00] ghost commented on #7847
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-06 03:46] heavenwing opened #7954 "Functions V4 don't support Microsoft.Azure.WebJobs.Extensions.Storage 5.0.0"
#### Repro steps

1, Build a Function app with v3 and .NET Core 3.1 and deploy it into Azure, csproj like this:
[code]
2, Upgrade this app into v4 and .NET 6.0, at same time upgrade "Microsoft.Azure.WebJobs.Extensions.Storage" into 5.0.0, csproj is:
[code]
3, Use arm template to change function app's runtime into V4, and re-deploy it into Azure, Azure portal report error like this:
[code]
4, Downg

[2021-12-06 03:48] heavenwing commented on #7954
@paulbatum Please review this issue. If you need whole project source code, please contact me internally.

[2021-12-06 09:23] phillipharding commented on #7833
For information, I'm using the v3 NodeJs runtime on Node v12 LTS with a mix of HTTP and Queue triggered functions

[2021-12-06 15:23] kamal-prasad opened #7955 "cannot access helloHandler"
#### Is your question related to a specific version? If so, please specify:
No
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Go language
#### Question
Hello,

 I used a sample from Microsoft azure docs for helloHandler and when I ran func, I saw that browser gets ERR_CONN_REFUSED. Pl see console output and tell me why the sample from Microsoft is not working. Thi

[2021-12-06 16:01] ghost commented on #7878
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-06 16:57] srmagura commented on #7878
Hello @Ved2806, why did you mark this as "Needs: Author Feedback"? What feedback do you need from me? Thanks.

[2021-12-06 17:27] Ved2806 commented on #7921
@karshinlin Could you please look at it?
Hi @sanjaydebnath , Could you please provide functionapp name/invocactionid, region and timestamp so that we can look at the log?

[2021-12-06 17:35] Ved2806 commented on #7909
Hi @daigok, You may want to use getSystemTimeZones() to retrieve in information about all the available time zone. Please let us know if this is helpful?

[2021-12-06 18:47] aleromano92 commented on #85
I surfed the internet for 2 hours because i didn't think this was not possible, then I stumbled here.
Do you have any estimation for when naming a blob will be possible?

[2021-12-06 19:00] ghost commented on #7894
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-06 19:01] ghost commented on #7823
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-06 19:26] MidasLamb commented on #7894
@Ved2806, is there any other additional information I could provide?

[2021-12-06 19:31] paulbatum commented on #7954
@heavenwing I just tried to reproduce this myself and I was not successful. I took your first csproj, built and ran, then did a clean (so that I don't have anything from the V3 version in my output directory), updated the csproj using your second example and built again, confirmed it was working locally, then deployed to Azure using the publish feature in VS (I kept the default of "run from packag

[2021-12-06 19:36] paulbatum commented on #7954
One more thing - can you try accessing the scm endpoint for the application, and use the process explorer to view the loaded modules.

For example if I go here (and authenticate):
https://github7954.scm.azurewebsites.net/ProcessExplorer/

I choose the non-scm process in the list, and open the modules view:
![image](https://user-images.githubusercontent.com/10663/144910513-0b445ce3-843a-4589-8c2c-8

[2021-12-06 20:21] tpaulshippy commented on #5841
We were able to resolve with the following solution:

1. Add this to the .csproj file:
`<PackageReference Include="Microsoft.AspNetCore.Mvc.NewtonsoftJson" Version="3.1.21" />`
2. Deal with all the compilation issues this causes.
3. Add this to Startup.cs (and make additions as necessary):
[code]

[2021-12-07 04:01] ghost commented on #7897
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-07 07:27] RDavis3000 opened #7957 "Unable to find a constructor to use for type Azure.Messaging.EventGrid.EventGridEvent"
I'm sending vanilla EventGridEvent objects to a function hook.

Local is Azure.Messaging.EventGrid 4.7.0
.Net Core 3.1
Azure Function Runtime Version ~3

When I publish an event I get an exception on my log stream (below)

The interesting thing is that I only get this error on Event Grid Subscriptions I created today. The ones I created a few weeks/months ago are still working fine.

Error Message

[2021-12-07 07:44] v-bbalaiagar commented on #7910
Hi @jblanchet, Thank you for your feedback! If you want to use the latest and greatest types, you have to be on the latest version of the extension as well.
Here is the latest version of the event grid extension - https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.EventGrid/

Please check and let us know if you are able to solve the issue with this information.

[2021-12-07 09:07] adriennn commented on #85
@axof and @Axel92Dev these threads are a bit difficult to navigate but it's indeed possible, there's an example for js see https://github.com/Azure/azure-functions-host/issues/85#issuecomment-463562582

[2021-12-07 09:45] v-bbalaiagar commented on #7955
Hi @kamal-prasad, Thank you for your feedback! We will try to repro this issue to check if we are missing something and update you with the findings.

[2021-12-07 10:01] ghost commented on #7935
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-07 10:01] v-bbalaiagar commented on #7957
Hi @RDavis3000, Thank you for your feedback! If you want to use the latest and greatest types, you have to be on the latest version of the extension as well.
Here is the latest version of the event grid extension - https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.EventGrid/

Please check and let us know if you are able to solve the issue with this information.

[2021-12-07 10:09] v-bbalaiagar commented on #7875
Hi @JohanKlijn, Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-12-07 10:18] kamal-prasad commented on #7955
I don't think it is a problem with the example. It is just that I am doing development on windows 10 for the first time. Maybe you have forgotten to mention if I need to add any software components to the system or to set some firewall/proxy settings to be able to get a response. This line was marked in red and so may need some attention,

System.ArgumentNullException: Value cannot be null. (Param

[2021-12-07 13:02] heavenwing commented on #7954
I use Azure Pipeline to deploy this function app. In the release pipeline, I use "ARM template deployment" task to update function app from v3 into v4 firstly, then use "Azure Functions" task to update function app package.
The yaml of "Azure Functions" task is
[code]
May be, your guess is right, "Azure Functions" don't clean old storage dll.

In process explorer, I can see `Microsoft.Azure.WebJob

[2021-12-07 13:21] javafrog commented on #7654
Could this also be the cause for the effect that when developing a Java-based Function, I also have to request HTTP headers in lower case?

I find this behavior highly unusual and it has already given us a lot of headaches. For example, when requesting an "Authorization" header, unlike in any other environment, I have to fetch it as "authorization".

[2021-12-07 15:34] jblanchet commented on #7910
Ah right, that was my issue. Thank you for the response!

[2021-12-07 15:34] #7910 closed, assigned to madelinegordon, v-bbalaiagar

[2021-12-07 16:00] #7889 closed, assigned to madelinegordon, v-bbalaiagar

[2021-12-07 17:31] paulbatum commented on #7954
@heavenwing If you configure this function app to use [run from package](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package), that might solve the problem. I would try setting it to "1" - this configures the system to store the deployed zip into the filesystem and then run from that zip directly. It means that the app won't see older files.

[2021-12-07 17:42] aleromano92 commented on #85
Not at all unfortunately, as in that example, the value of the variable `{name}` comes from a HTTP Request parameter.
You are not able from inside the function body to set a value for that `{name}`.

 My Azure function is invoked on new message on a Service Bus Subscription, so I cannot invoke it with different parameters.

 I ended up importing the Azure Blob Storage SDK inside my AF and programm

[2021-12-07 21:37] MrSimonC commented on #7893
Big thanks from me @horihiro. I've replicated your success thanks to your notes. I've found that I can get this working on both .net 5 isolated and .net 6 isolated processes. It seems that Playwright doesn't even want to install on .net 6 in-process, but since the future will be out-of-process, if I (or anyone) needs to use durable functions, they can just create another, simple in-proc Function A

[2021-12-07 21:37] #7893 closed, assigned to brettsam

[2021-12-08 16:09] NickCraver commented on #4875
Noticed this independently and comment brought me here - cleanup in #7966!

[2021-12-08 21:55] lmolkova commented on #5874
One way to limit the impact of this issue could be through detection of multiple Activity classes (multiple versions of diagnostic source in the extension or in runtime) and
- notify about it through error log or ApplicationInsights exception telemetry
- disable tracing in extensions that work with Activity when a problem is detected (such as https://github.com/Azure/azure-functions-eventhubs-exte

[2021-12-09 00:22] sjuarezgx commented on #7935
The issue has already been solved with your guide.
Thanks.

[2021-12-09 00:22] #7935 closed, assigned to nobody

[2021-12-09 08:25] stefanstranger opened #7970 "Store http body request information in App Insights for PowerShell Azure Functions"
#### What problem would the feature you're requesting solve?

I would like to store the http body request information for a PowerShell http triggered Azure Function in Application Insights.

Here is a link to an article that shows how that can be done in C# "[How to log request & response body to Application Insights](https://www.azureblue.io/how-to-log-http-request-body-with-asp-net-core-applicat

[2021-12-09 13:24] #4875 closed

[2021-12-09 14:09] daigok commented on #7909
@Ved2806
[code]
The code above is what I want to use not getSystemTimeZones(). I've tried the FindSystemTimeZoneById("Asia/Tokyo") on my Windows dotnet 6, it works fine. This should be supported on the dotnet 6 environment.

Please check the article below.
https://devblogs.microsoft.com/dotnet/date-time-and-time-zone-enhancements-in-net-6/#time-zone-conversion-apis

[2021-12-09 15:05] GufCab opened #7972 "EventHub Trigger stops firing after a while"
In a .NET function running with an Eventhub Trigger, the function simply stops triggering after a while (from a few hours to a few days) with no errors in the log.
Events are being added to the EventHub just fine and no changes are made to either function, serviceplan or EventHub. We have tried this with both a consumption plan function and a service plan function (though not with 'always on' enab

[2021-12-09 18:01] Ved2806 commented on #7909
Hi @daigok, In the below link, you will get the information about how to use getSystemTimeZones() to verify and inspect different available time zones on your local machine. https://docs.microsoft.com/en-us/dotnet/api/system.timezoneinfo.getsystemtimezones?view=net-6.0

[2021-12-09 18:09] v-bbalaiagar commented on #7955
Hi @kamal-prasad, I checked this internally. Can you please provide us the document link to the actual sample that you are running so that we can take a closer look.

[2021-12-09 18:17] twentytwokhz opened #7997 "App setting error when referencing keyvault secret on Function App using Linux Service Plan"
We are unable to set an Application Setting on the Configuration section of a Function App v4 .NET 6 isolated process.
This happens on a Linux App Service Plan.

The setting references a KeyVault secret in the format ```@Microsoft.KeyVault(SecretUri=https://myvaul.vault.azure.net/secrets/MySecret-ConnectionString/)```

This works correctly on a Function App using a Windows App Service Plan.
Both h

[2021-12-09 19:09] Francisco-Gamino commented on #7970
/cc @AnatoliB @gzuber @RohitRanjanMS

[2021-12-09 22:00] #7823 closed, assigned to madelinegordon, Ved2806

[2021-12-09 22:17] solonrice commented on #6855
Here is an example of the limit of 100 being passed with a setting. This is I believe still the recommended way of overriding `host.json` settings:

```AzureFunctionsJobHost__logging__applicationInsights__samplingSettings__samplingPercentageDecreaseTimeout```

[2021-12-10 00:33] balag0 commented on #6855
Longterm we need a different solution for configuring nested configs via app settings. But we can increase the limit to 150 short term to improve things a bit.

[2021-12-10 03:21] fabiocav commented on #5874
Flagging this for discussion in v3 scenarios.

[2021-12-10 05:07] kamal-prasad commented on #7955
https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-other?tabs=go%2Cmacos

when I execute after building,
# func start
I get the error pasted by me.

[2021-12-10 07:00] #7897 closed, assigned to brettsam, v-bbalaiagar

[2021-12-10 22:01] ghost commented on #7894
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-11 03:55] mathewc commented on #7238
The following query shows occurrences of this happening for many different apps. Should be enough for us to go on to investigate what host conditions are leading to this - I agree that it's likely a race condition in [FunctionMetadataManager](https://github.com/Azure/azure-functions-host/blob/ebe1aafa9bf01ed56202b21a1a47a1897d2cebf9/src/WebJobs.Script/Host/FunctionMetadataManager.cs#L70). There ar

[2021-12-11 13:01] ghost commented on #7957
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-11 13:01] ghost commented on #7921
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-11 19:00] ghost commented on #7954
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-11 20:01] AdaTheDev commented on #7972
I'm also experiencing this behaviour - C# EventHub trigger stops consuming events, no errors.

In terms of workaround - if I go into the Function App in the Azure Portal, without actually changing anything, that seems to make it "wake up" and it starts processing messages again. But obviously not viable for Production use.

Very similar setup:
* Functions V3 in West Europe
* Linux Consumption Plan

[2021-12-12 14:41] daigok commented on #7909
[code]
shows following time zones on the cloud.
[code]

 And the code below works fine.
[code]
However, the IANA style doesn't work.
[code]

The both code works fine on local Windows on dotnet 6.

[2021-12-12 17:42] MidasLamb commented on #7894
Just keeping this alive since I've provided the requested information. Can somebody maybe remove the label such that it doesn't get closed automatically?

[2021-12-13 00:40] RDavis3000 commented on #7957
Yep that fixed it, thanks

[2021-12-13 08:26] GufCab commented on #7972
We actually found the reason for our issue and have solved it. Hierarchical namespacing was enabled in the storage account used by the trigger. Due to some error in the eventhub trigger, the function is unable to regain the lease on the eventhub - which explains the behaviour.

The issue is also described here:
https://github.com/Azure/azure-functions-eventhubs-extension/issues/81

And if one foll

[2021-12-13 08:26] #7972 closed, assigned to nobody

[2021-12-13 08:50] v-bbalaiagar commented on #7957
Closing this issue as resolved, please feel free to reach back to us in case of any further queries related to this issue.

[2021-12-13 08:50] #7957 closed, assigned to nobody

[2021-12-13 15:47] sonic1981 commented on #7833
Can confirm I'm getting the same error. I also suspect that something isn't getting cleaned up correctly as I have a couple of instances where upon re-starting the program freezes and the only solution appears to be to re-start VS

[2021-12-13 20:42] alrod opened #7983 "Fix race during language worker start"
There is a race in start language worker path: `_workerInitTask `can not be completed if `GrpcWorkerChannel `is disposed(`_eventManager`) and language worker have not finished initialization. Related to #7979.

[2021-12-13 21:29] alrod commented on #7983
https://github.com/Azure/azure-functions-host/pull/7979

[2021-12-13 21:29] #7983 closed, assigned to alrod

[2021-12-13 22:57] chuckries opened #7986 "Microsoft.Azure.WebJobs.Host.dll is shipping with an Embedded PDB."
Larger issue here: https://github.com/Azure/Azure-Functions/issues/2126

Microsoft.Azure.WebJobs.Host.dll from the [Microsoft.Azure.WebJobs](https://www.nuget.org/packages/Microsoft.Azure.WebJobs/) package is shipping with an Embedded PDB, which is not expected for release built, optimized binaries. See the issue referenced above for further discussion of the issues with this.

[2021-12-14 07:00] ghost commented on #7955
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-14 08:33] bricenocar opened #7990 "Cannot post file larger than 3.9 MB with a multipart/form-data body"
I created a function app and published a httptrigger function using .NET 5. The function app is provisioned via armtemplate and the worker runtime is dotnet-isolated. When we send a POST request with a multipart/form-data including a file larger than 4MB (aprox) the function hangs and a timeout response is received. If I send a 3.9MB file it goes well without any issues and in less than 2 seconds.

[2021-12-14 09:42] kamal-prasad commented on #7955
the issue is pending and I have given the link to Microsoft example which I used to hit the error.

[2021-12-14 09:43] kamal-prasad commented on #7955
issue is still pending.

[2021-12-14 09:46] kamal-prasad commented on #7955
I replied to your q and the bot is closing the issue as there is no activity. Pl see my response.thanks-kamalOn Dec 9, 2021, at 11:40 PM, v-bbalaiagar ***@***.***> wrote:Hi @kamal-prasad, I checked this internally. Can you please provide us the document link to the actual sample that you are running so that we can take a closer look.—You are receiving this because you were mentioned.Reply to this

[2021-12-14 11:24] bricenocar commented on #7990
I managed to solve the issue by upgrading to NET 6. I deployed the function with the new libraries and the file size limitation is gone. It is a scpecific issue with .Net 5

[2021-12-14 12:38] v-bbalaiagar commented on #6715
Hi @zmarty, Can you please let us know if this is yet to be triaged.

[2021-12-14 12:44] v-bbalaiagar commented on #7008
Hi @rhuettl, Apologies for the delay in response. This issue was somehow missed, we are eager to know if you are still facing the same issue, so that we can look into it.

[2021-12-14 12:50] v-bbalaiagar commented on #7218
Hi @RickRockholdOWC, Let us know if the above information resolves your issue, or if you have any further queries.

[2021-12-14 13:05] v-bbalaiagar commented on #7690
Hi @forki, Apologies for the delayed response, please let us know if you are still facing the same issue, so that I can route this issue to concerned team.

[2021-12-14 13:38] v-bbalaiagar commented on #7990
Transferring this issue to dotnet worker repo for further investigation.

[2021-12-14 13:42] Ved2806 commented on #7909
Thank you for the feedback! We will check for the possibilities internally and update you with the findings.

[2021-12-14 16:01] #7921 closed, assigned to kashimiz, Ved2806

[2021-12-14 16:48] venkatsm commented on #7843
We are also having the same issue occurring intermittently, below are the details

Timestamp (UTC): 2021-12-14T15:42:49.385Z
Function App version: ~3 (presuming this is runtime version)
Invocation ID: f0b4788f-b57c-47ef-92a6-9bf893efeda6
Region: East US

[2021-12-14 16:53] venkatsm opened #7991 "Azure Functions - .NET 5 - Did not find any initialized language workers - Intermittently"
we are seeing "Did not find any initialized language workers" when our .NET 5 (dotnet-isolated) function is triggered. The trigger is on event hubs, which works well for a few executions and intermittently it throws an exception. In the last few days, the error rate is going high around

Investigative information
Please provide the following:

Timestamp (UTC): 2021-12-14T15:42:49.385Z
Function App

[2021-12-14 17:50] liliankasem commented on #7843
I feel like this case is a little different to the rest. Here it seems like something is causing the worker to crash, potentially something in your code related to Cosmos? So you might want to look into those errors.

`"Summary": Worker '66ab62b0-6b5a-450c-88f8-f858d3cd77ff' encountered a fatal error. Failing invocation id: **8145ba4e-4c88-40f1-bda3-e5845df9524a**`

And when we look up that invoca

[2021-12-14 18:20] #7574 closed, assigned to nobody

[2021-12-14 19:00] #7954 closed, assigned to paulbatum

[2021-12-14 20:54] gurpreed opened #7995 "0 functions found when deploying build in Kubernetes linux container from linux"
Steps:
1. Create a new "isolated" Azure Functions app in VS 2022 with .net 6.0
2. Create a build in linux using "dotnet build"
3. Create a linux container with dockerfile:

# Installer image
FROM mcr.microsoft.com/azure-functions/dotnet-isolated:4
ENV AzureFunctionsJobHost__Logging__Console__IsEnabled=true \
    DOTNET_RUNNING_IN_CONTAINER=true
WORKDIR  /home/site/wwwroot
COPY . .

4. Deploy conta

[2021-12-14 21:51] danielrobinson95 opened #7996 "Is Runtime Scale Monitoring supported in V4?"
Is runtime scale monitoring supported in v4 function apps?

I'm unable to toggle the Runtime Scale Monitoring feature when using a V4 function app. The "On" option is disabled.

![image](https://user-images.githubusercontent.com/26141892/146084249-b0e8a4e8-693a-42e7-908c-c5680ccccf10.png)

When switching to V3 without updating any other settings, the radio button becomes enabled.

![image](https:/

[2021-12-14 22:02] andrewb-iq commented on #7772
Could you explain why this is necessary? As an app developer, my first reaction is that it seems like a fix to the Azure Functions runtime could address this "behind the scenes" without the need to delete and recreate the app. Especially so when other types of apps did not require the same action in order to be fixed.

[2021-12-14 22:27] anthonychu commented on #7997
Transferring to host repo. @fabiocav please tag anyone who might be able to follow up.

[2021-12-15 05:39] kamal-prasad commented on #7955
I fixed the issue by deleting a section in host.json which triggers a download every time it is run.

[2021-12-15 06:22] balag0 commented on #7997
@twentytwokhz Could you share the appname - https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-12-15 11:10] liliankasem opened #7998 "Automate running benchmark tests for pull requests"
With the updated benchmark project in place (#7994), it would be nice to automate running this project for pull requests. This issue requires a design discussion around the right approach to do this. Some options:

1. Add a step to run the benchmarks in our existing CI pipeline
2. Use a Github Action to trigger on either a) new PRs or b) a comment such as `/benchmark <filter>`. This would also let

[2021-12-15 16:55] thomasgauvin commented on #1361
Is there any update regarding this? This issue seems to have been on the backlog for 4 years, are there any plans to support streams for other languages than C#?

(EDIT: I made this comment as an individual developer, I'm now on the Azure Static Web Apps team and am advocating for this with the Azure Functions team)

[2021-12-15 16:57] twentytwokhz commented on #7997
@balag0 Function hosted here (no sensitive data):
https://bb-linuxfunctionapp.azurewebsites.net/
Region: WestEurope

[2021-12-15 17:57] nzthiago commented on #7772
@andrewb-iq Agreed, and it is absolutely a fix being addressed behind the scenes, so over time all Windows Consumption apps will have drain mode enabled even if they were created pre-May 2021. But the upgrade process for those (pre May 2021) is long term, so that was just a workaround in case you want to be 100% sure. If you notice your app is being scaled in and your function executions are not b

[2021-12-15 18:12] balag0 opened #8001 "Analyze Cold start impact of AspNetCore Grpc implementation on Linux"
Across different out of proc languages, [this ](https://github.com/Azure/azure-functions-host/commit/8596a27c5a3cf1c26546418fe8ac6bcf132f808b)seems to be adding 300-400ms to P50 cold start on Linux.

[2021-12-15 19:03] pragnagopa commented on #8001
Tagging @fabiocav @brettsam - please prioritize to bring back the feature flag to bring back the feature flag: FeatureFlagDisableAspNetCoreGrpc that was part of the original commit - adding AspNetCore Grpc implementation (#7543) · Azure/azure-functions-host@8596a27 (github.com) . Adding feature flag will give
us more time to root cause issue on Linux.

FYI @safihamid

[2021-12-15 19:14] yojagad opened #8002 "Fix patch environment variable not being recognized in runtime pipeline"
`isPatchVersion` in the yml apparently is not recognized if it's referenced within the same job if `isOutput` is set to true.

[2021-12-15 19:33] #8002 closed, assigned to yojagad

[2021-12-15 19:46] pragnagopa commented on #8001
cc @Francisco-Gamino @AnatoliB as FYI - this issue could have been caught with E2E tests running on private stamp - with alerts on cold start.

[2021-12-15 20:22] fhtino commented on #7278
I cannot downgrade. My project references EntityFramework.SqlServer which requires 4.71

[code]

Is there any other solution?

Like other people, I use Activity.Current.AddTag to inject custom data into current Application Insights request data.  Is there any other solution to inject that data into current request?

[2021-12-15 20:24] venkatsm commented on #7843
The issue which you stated is a different one and it is something within my code, but if you look up the invocation id(f0b4788f-b57c-47ef-92a6-9bf893efeda6) I shared, it says "Did not find any initialized language workers"
Transaction id - 322f76bce637054a9d55472423c975d9

![image](https://user-images.githubusercontent.com/15385074/146259366-04c1baae-5492-41b4-adff-7e496b093c2f.png)

Other issue w

[2021-12-15 21:14] kashimiz commented on #7394
Marking this as in-progress as a PR by Tsuyoshi is under review: https://github.com/Azure/azure-functions-host/pull/7863

[2021-12-15 21:30] kashimiz commented on #7880
This change is motivated by performance improvements to host startup latency.

@brettsam @soninaren Can you provide context on the current behavior of the host, and why we went with the existing design? My understanding (from @satvu) is that the host currently sends one FunctionLoadRequest per function to the worker. What potential downsides are there to consolidating FunctionLoadRequests?

[2021-12-15 21:35] kashimiz commented on #7879
Design is under discussion; requires feedback from maintainers of language workers.

[2021-12-16 09:32] jesperkristensen opened #8088 "Avoid logging uncaught exception errors without exception details."
When a function throws an unhandled exception, three errors are logged to Application Insights, only two of the errors contains details about the logged exceptions, making it difficult to route the third error to the correct place in Application Insights Alert rules.

#### Repro steps

I have a function like this:
[code]

#### Expected behavior

Only one error is logged to Application Insights, or

[2021-12-16 09:44] mdarefull opened #8009 "Function App fails to obtain secret from KeyVault reference, doesn't recover until manually forced to."
On December 15th, ~11pm GMT-3, one of my production function apps attempted to authenticate with Azure KeyVault in order to obtain a connection string.
KeyVault replied with an Internal Server Error which, apparently, caused the connection string to never be retrieved, and instead the key vault reference text was being passed as the connection string value.

The function app didn't recover from th

[2021-12-16 10:11] sonic1981 opened #8010 "TimerTrigger schedule obtained from config does not change inside of a deployed function app?"
I'm deploying a `dotnet-isolated` v3 azure function to a resource group with the following config:

[code]

I have `schedule` as a setting in that app currently set to: `0 0 */12 * * *`. This works fine.

The problem is if I want to update schedule to run more often, for example: `* * * * * *` the function app does not appear to run any more frequently? I've tried re-starting the app, etc. but my

[2021-12-16 16:49] swettstein commented on #5098
@fabiocav  any update on making this feature flag default? i haven't seen/heard anything. our team has been tracking this issue for a long time and we have to add this feature flag to each app we make so would be nice that it gets moved to default.

[2021-12-16 17:18] Ved2806 commented on #7878
Hi @fabiocav, @brettsam Could you please look into this? We are able to repro this.

[2021-12-16 17:39] v-bbalaiagar commented on #7995
Tagging @lpapudippu / @kshyju  for further investigation

[2021-12-17 10:16] lpapudippu commented on #7995
@jainharsh98 Can you please look in to it ?

[2021-12-17 23:59] balag0 commented on #7997
Thanks. Looks like a mismatch in the type of identity being used. Is the app using SystemAssignedIdentity to resolve references?

[2021-12-18 12:48] twentytwokhz commented on #7997
I'm using a **User assigned managed identity**. The code goes like this:

[code]

[2021-12-18 13:00] ghost commented on #7218
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-18 13:01] ghost commented on #7008
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-18 13:33] twentytwokhz commented on #7997
@balag0 I think I narrowed it down to this [topic](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references#access-vaults-with-a-user-assigned-identity)

In my case there might be differences between windows function apps deployed via ARM templates and this particular linux function app which was created via _Visual Studio Code_ advanced wizard.

The difference lies in t

[2021-12-18 13:51] twentytwokhz commented on #7997
I executed the commands in the documentation with some minor tweaks (syntax was not working in cloud shell) and then the Key vault reference started working 🥇 🥳

Closing this since now it's working.. but please note this was NOT obvious **at all**.
There is still room for improvement on the function app creation experience

[2021-12-18 13:51] #7997 closed, assigned to brettsam

[2021-12-18 16:01] ghost commented on #7909
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-18 16:01] ghost commented on #7690
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-19 13:18] daigok commented on #7909
@Ved2806
Any updates?

The issue is labeled as no-recent-activity. Can you remove the label, otherwise the issue will be closed automatically.

[2021-12-20 16:00] NickCraver opened #8014 "Bug: RpcWorkerConfigFactory.GetWorkerProcessCount is incorrect on high core count machines"
I hit this in running local tests on a 32-core machine - `RpcWorkerConfigFactoryTests.GetWorkerProcessCount_Tests` has 2 failures:
[code]
and
[code]

#### Investigative information

This happens because of the following section of `GetWorkerProcessCount`:
[code]

This works out to (with the 15 max test above):
[code]

So overall, if the machine has more cores than the max, we're bumping any config

[2021-12-20 17:07] v-bbalaiagar commented on #7996
Hi @danielrobinson95, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-12-20 17:08] v-bbalaiagar commented on #8088
Hi @jesperkristensen, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-12-21 00:34] hachanMSFT commented on #6998
I am having the same issue, Ilogger<T> in another project is not getting logs, did you find a work around? @SinghManvir

Also tagging @brettsam and @anthonychu

[2021-12-21 00:45] hachanMSFT commented on #4345
I am hitting the same issue, did you find a work around ? @jonathanantoine @abjbhat

[2021-12-21 01:20] abjbhat commented on #4345
@hachanMSFT  @jonathanantoine

My solution was just to take the `ILogger` instance passed in when the function is called and then register it in DI. Then every component which needed logging would get an instance of the original `ILogger`

[code]

This worked for me. I can now see logs in AppInsights. I couldn't see them earlier.

[2021-12-21 10:53] v-bbalaiagar commented on #7991
Hi @venkatsm, Thank you for your feedback! I went through the logs for the time stamp : 2021-12-14 00:00:00 to 2021-12-14 18:42:00. I see the error "Microsoft.Azure.WebJobs.Host.FunctionInvocationException : Exception while executing function: Functions.Dtp***** ---> System.InvalidOperationException : Did not find any initialized language workers".

We will investigate this further and update you

[2021-12-21 10:59] v-bbalaiagar commented on #7986
Hi @chuckries, Closing this issue as duplicate. For more updates please follow the space - https://github.com/Azure/Azure-Functions/issues/2126

[2021-12-21 10:59] #7986 closed, assigned to nobody

[2021-12-21 11:05] v-bbalaiagar commented on #7955
Hi @kamal-prasad, Please let us know if this can be closed as resolved or if you have any further queries regarding this issue, so that I can route this issue to concerned team.

[2021-12-21 11:16] v-bbalaiagar commented on #5865
Hi @mathewc / @fabiocav , Could you please look into this issue

[2021-12-21 11:30] v-bbalaiagar commented on #6183
Hi @thomaslevesque,  Let us know if the above information resolves your query, or if you have any further queries.

[2021-12-21 12:52] kamal-prasad commented on #7955
yes it can be closed. But you may want to mention that a change is required to fix the issue.thanks-kamalOn Dec 21, 2021, at 4:36 PM, v-bbalaiagar ***@***.***> wrote:Hi @kamal-prasad, Please let us know if this can be closed as resolved or if you have any further queries regarding this issue, so that I can route this issue to concerned team.—Reply to this email directly, view it on GitHub, or unsu

[2021-12-21 13:00] #7218 closed, assigned to v-bbalaiagar

[2021-12-21 13:12] KarlFenech-AscentSoftware commented on #2015
@mathewc: Should the `AzureFunctionsWebHost:hostId` setting be slot-sticky ("deployment slot setting")?

[2021-12-21 13:19] ghost commented on #2015
@mathewc: Should the `AzureFunctionsWebHost:hostId` setting be slot-sticky ("deployment slot setting")?

[2021-12-21 13:29] NickCraver opened #8015 "TraceWriter: should we remove this from templates/samples/examples?"
In investigating performance, part of what I was seeing was in `TraceWriter` and allocations down that path. In talking with the team people thought this may even be removed in the current version, so went hunting. Though [`TraceWriter` is obsolete](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/TraceWriter.cs#L13), it's still used in almost all of our samples

[2021-12-21 13:40] thomaslevesque commented on #6183
@v-bbalaiagar no, it doesn't.

[2021-12-21 14:36] v-bbalaiagar commented on #7955
Thank you for the update, Closing this issue as resolved, please feel free to reach back to us in case of any further queries related to this issue.

[2021-12-21 14:36] #7955 closed, assigned to kashimiz, v-bbalaiagar

[2021-12-21 14:56] Ved2806 commented on #8010
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-12-21 14:56] Ved2806 commented on #8009
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-12-21 16:01] #7008 closed, assigned to gzuber, v-bbalaiagar

[2021-12-21 17:50] lukasvosyka commented on #7881
Same here! Also seems to OOM at 100MB memory usage. Can it be? We also are running Consumption plan functions on Windows and deployed as NET6.0 v4 functions running now into OOMs.

[2021-12-21 18:26] lukasvosyka commented on #7881
@pragnagopa based on this documentation https://docs.microsoft.com/en-us/dotnet/core/run-time-config/garbage-collector it tells the variable `DOTNET_GCHeapHardLimit`?

Is this correct?

[2021-12-21 19:01] #7690 closed, assigned to kashimiz, v-bbalaiagar

[2021-12-22 09:10] lpapudippu commented on #7995
Adding @raorugan

[2021-12-22 22:48] sescandell opened #8019 "[BlobTrigger] Identity based connection with serviceUri: fail to send message to poison queue"
Hi,

According to the documentation [Azure Blob Storage Trigger for AF §Identity Based Connection](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp#identity-based-connections) we should be able to use `serviceBusUri` parameter suffix for a connection string next to the AzureWebJobsStorage parameter for "internal Queue usage":

In the situat

[2021-12-23 13:03] jainharsh98 commented on #7995
@gurpreed Can you please mention the exact deployment method used in Step 4? There is an open issue with the func core tools regarding deployment of net6 isolated v4 image [https://github.com/Azure/azure-functions-core-tools/issues/2789](https://github.com/Azure/azure-functions-core-tools/issues/2789)

[2021-12-23 16:42] josmithua commented on #7930
This happens in .NET 6 as well. Related comment: https://github.com/Azure/azure-functions-host/issues/4926#issuecomment-966269226

A client of ours has to use (for some reason) `Transfer-Encoding: chunked` for all their requests and we would like to support that if possible. Could we get a rough ETA of when this could be implemented? Thanks!

[2021-12-23 16:43] josmithua commented on #7930
Is there a workaround we could implement in the meantime?

[2021-12-25 13:01] ghost commented on #6715
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-25 16:00] ghost commented on #6183
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-26 18:19] thomaslevesque commented on #6183
I did send feedback...

[2021-12-26 21:19] bjornharrtell opened #8080 "Cannot manipulate req.HttpContext.Response locally"
The trick described in https://stackoverflow.com/questions/67301743/how-to-return-stream-of-data-from-azure-function-http which can be used to for example stream the response works when deployed at Azure but locally it fails with:

[2021-12-26T20:59:57.885Z] An unhandled host error has occurred.
[2021-12-26T20:59:57.885Z] Microsoft.AspNetCore.Server.Kestrel.Core: Headers are read-only, response ha

[2021-12-27 06:28] achieverprince commented on #6455
In Premium Plan , even when using EP3 and setting languageWorkers:node:arguments > 4096
doesn't change anything, threads still crash when reaching 1/1.5GB
looks like azure function host is still using default memory

[2021-12-27 06:29] achieverprince commented on #6455
Did this work for you?

[2021-12-28 11:01] v-bbalaiagar commented on #4808
Hi @nardieu , Can we know if you are seeing this issue still and requires further follow up.

[2021-12-28 11:15] tsimafei-mazouka commented on #4808
Hi @v-bbalaiagar. Didn't face this bug anymore.
I discovered it because it caused issues with Storage Table. I monitor all errors in my Azure Functions, but didn't notice this bug anymore. Furthermore, I switched to runtime version 3, and maybe it doesn't have such problem.

[2021-12-28 11:21] v-bbalaiagar commented on #5136
Hi @dorfire , Closing this issue as duplicate. For more updates please follow the space - https://github.com/Azure/azure-functions-vs-build-sdk/issues/349

[2021-12-28 11:21] #5136 closed

[2021-12-28 11:30] v-bbalaiagar commented on #5120
Hi @ladeak , Can we know if you are seeing this issue still and requires further follow up.

[2021-12-28 11:45] ladeak commented on #5120
I am using v4 already. Feel free to close the issue.

[2021-12-28 11:57] #5120 closed

[2021-12-28 12:26] v-bbalaiagar commented on #5452
Hi @sogaani ,  Can we know if you are seeing this issue still and requires further follow up.

[2021-12-28 12:38] v-bbalaiagar commented on #4808
Thank you for the update. Closing this issue here, please feel free to reach back to us in case of any further queries related to this issue.

[2021-12-28 12:38] #4808 closed

[2021-12-28 13:18] v-bbalaiagar commented on #8019
Hi @sescandell , Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-12-28 14:42] v-bbalaiagar commented on #5514
Hi @rpankhurst , Can we know if you are seeing this issue still and requires further follow up.

[2021-12-28 14:52] v-bbalaiagar commented on #5413
Hi @DJ4ddi , Can we know if you are seeing this issue still and requires further follow up

[2021-12-28 16:00] #6715 closed, assigned to pragnagopa, v-bbalaiagar

[2021-12-29 18:39] alexandrehtrb opened #8020 "Why does the app need to be an Azure Function app?"
Hello,

I worked for some time with Azure Functions and one aspect that intrigues me is: why does the app need to be an Azure Function app?

The functions' declarations, bindings and overall code are different from the mostly used ASP.NET, at least for .NET. Creating an Azure Function requires a development effort to write this API layer. This raises a question: why can not an ASP.NET app be used

[2021-12-29 20:43] DrakeLambert opened #8021 "Why Must "Always On" Be Enabled For Timer Triggered Functions?"
My team has been working on a timer triggered v3 function app for the past few months. It's set to go off every twelve hours, `0 0 */12 * * *`. It's a C# function running on an app service plan. Here's an invocation id: `42c60c3c-9230-45e1-8c17-901dfdc5f317`.

For the longest time, we were only able to get it to trigger every 24 hours. Recently, It didn't trigger for nearly an entire week. Here's

[2021-12-30 09:56] uttom-akash opened #8022 "What is the ServiceLifetime of ServiceProvider in a Time Trigger Azure Functions"
#### Version info:

- TargetFramework: netcoreapp3.1
- AzureFunctionsVersion: v3

#### Question

I am observing that the `hashCode` of `_serviceProvider`  is the same throughout all the execution of the below function at an interval of 1 min.

[code]

So, what is the ServiceLifetime of ServiceProvider in a Time Trigger Azure Functions?

**FYI**: I also compared the `hashcode` of `serviceProvider`

[2021-12-30 10:00] uttom-akash commented on #8022
cc @fabiocav. @madelinegordon

[2021-12-30 17:39] pragnagopa commented on #6455
Reassigning to @AnatoliB and @ejizba for follow up.

[2021-12-30 19:02] lucas4ntonio commented on #1663
Any update on this?

[2021-12-31 10:59] nikunj231991 commented on #6714
Any update on this?

[2022-01-02 17:05] ngfarjad commented on #7248
Any update on this ?

[2022-01-03 13:22] Ved2806 commented on #8022
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-03 13:25] v-bbalaiagar commented on #8021
Hi @DrakeLambert , Thank you for your feedback!
Apps that run in Classic mode require 'Always On' to be enabled.
There are two plans that Functions apps can run in: Dynamic and Classic. You choose the plan during app creation.

**Classic Plans** run on App Service plans just like other App Service apps. You can choose from Free, Basic, Standard, etc. and you control the scale yourself. If you are

[2022-01-03 13:26] Ved2806 commented on #8020
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-03 15:54] Ved2806 commented on #8020
Hi @alexandrehtrb, There are few benefits of using azure function app over app service. Azure Function App is a serverless solution that allows you to write less code in a language of your choice. Infrastructure itself will take care of keeping resources up to date as well as deploying and maintaining servers. It is very easy to achieve deployment automation with Azure function app and it also pro

[2022-01-03 16:03] Ved2806 commented on #8022
Hi @i-akash,

For a Functions app, the different service lifetimes behave as follows:

Transient: Transient services are created upon each resolution of the service.
Scoped: The scoped service lifetime matches a function execution lifetime. Scoped services are created once per function execution. Later requests for that service during the execution reuse the existing service instance.
Singleton: T

[2022-01-03 17:39] alexandrehtrb commented on #8020
Hello Sujeet,

I understand how an Azure Function facilitates the creation of an API in many scenarios, such as creating a new endpoint, with only a few lines of code.

Nevertheless, I am suggesting that Azure Functions could accept any kind of application, as what really matters is how the app is triggered and its execution sustained (like I explained in the first comment).

[2022-01-03 18:35] peterokeefe-barbri commented on #5841
While @tpaulshippy has a working solution, it really isn't an ideal solution.   It would be nice to see an update to this problem.

[2022-01-03 19:05] DrakeLambert commented on #8021
I appreciate your response, but I'm still a bit lost.

Can you explain why this is? I'm trying to understand why my timer function would **completely fail** to start when "Always On" is disabled rather than only having a **delayed** start.

[2022-01-03 19:21] balag0 commented on #8021
delayed start vs complete failure depends on the type of the trigger.
if it is a http triggered app the http request itself works as the trigger to wake up the app if it had idled out. this will lead to delayed start.
For other trigger types (ex: timer trigger) there is no explicit external trigger to awaken the app. in dynamic skus the trigger is a platform component called scale controller. sinc

[2022-01-03 19:23] #8021 closed, assigned to surgupta-msft, v-bbalaiagar

[2022-01-03 21:00] TroyWitthoeft commented on #7878
Also ran into this trying to reference the latest `Microsoft.IdentityModel.JsonWebTokens` library at version `6.15.0`
It can be repro'd by creating a new azure functions project in vs code using the azure functions extension.  Select dotnet 6.0 (in-process) and runtime host of v4.  If I try and reference any objects from that library I get the dreaded `Could not load file or assembly` error.  I di

[2022-01-04 00:15] liliankasem commented on #8015
Considering it's obsolete, then it definitely makes sense to me to remove the use of it from templates/samples/examples etc.

@fabiocav @anthonychu is there any reason not to?

[2022-01-04 00:25] dlebee commented on #7278
I have the same issue I can't downgrade is there anyone finding a solution for this?

[2022-01-04 00:38] liliankasem opened #8024 "Log process errors and exception details"
When we get an error from the worker and process it through `HandleWorkerProcessExitError`, we don't get details about the exception, just that it's a
`WorkerProcessExitException` exception which is an exception we create `OnProccssExited`:

`var processExitEx = new WorkerProcessExitException($"{Process.StartInfo.FileName} exited with code {Process.ExitCode}\n {exceptionMessage}");`

Logs:

[code]

[2022-01-04 00:40] liliankasem opened #8025 "Report startup failures in the app Log Stream"
An example surfacing logs properly is this [issue](https://github.com/Azure/azure-functions-dotnet-worker/issues/747) where the worker crashes and the host restarts, but this information is not logged to users as errors. The host process was not able to start the worker process and it logged the startup exception as information

[code]

[2022-01-04 03:06] kirk-marple opened #8026 "After upgrading to Functions Host v4 (.NET 6 in-process), getting 1M TRACE msgs/day"
After upgrading to Functions Host v4 (.NET 6 in-process), getting 1M TRACE msgs/day, and they all look similar to below.

Similar to this (closed) issue:
https://github.com/Azure/azure-functions-host/issues/7740

Any way to filter these out?  It's costing us ~$50/day in extra Log Workspace cost just for these TRACE messages, if we don't cap it.

#### Investigative information

Request [e3301df7-54

[2022-01-04 03:28] kirk-marple commented on #8026
Actually this looks like something general in Azure SDK; I just noticed some of these which are unrelated to Azure Functions.

Will investigate SDK logging further, closing this issue.

Request [a0d27ad0-b64f-45eb-90fb-177c971d5472] PUT https://REDACTED.blob.core.windows.net/assets/087fc388-58c5-4ad5-a27b-955f46c64700/Tile/1024%2C2560%2C512%2C464/512%2C/0%5Cdefault.jpg
x-ms-blob-type:REDACTED
x-ms

[2022-01-04 03:28] #8026 closed, assigned to kashimiz

[2022-01-04 04:45] uttom-akash commented on #8022
@Ved2806
My Question was :
If the function executes multiple times, the service provider is always the same.
But when hitting api endpoints multiple times, the service provider is different.

Why?

[2022-01-04 09:34] johannesoenema commented on #7278
For the ones that experience this issue and can't downgrade, the issue seems to be fixed. I tried again when migrating to .NET 6 and now it works again (locally and in Azure). I did the following change:

![image](https://user-images.githubusercontent.com/12686691/148037501-69b2031b-9109-4781-9d02-62425cb4f694.png)

So upgrading to .NET 6 and v4 of Azure Function and upgrading to latest version of

[2022-01-04 09:34] #7278 closed, assigned to nobody

[2022-01-04 09:58] v-bbalaiagar commented on #7081
Can you check the comment mentioned here - https://github.com/Azure/azure-functions-host/issues/7278#issuecomment-1004653629
Let us know if that works.

[2022-01-04 11:23] v-bbalaiagar commented on #7991
Hi @liliankasem , Could you please take a look at this issue.

[2022-01-04 12:10] erwinkramer commented on #7081
@v-bbalaiagar I've upgraded to .net 6 and did the changes like in https://github.com/Azure/azure-functions-host/issues/7278#issuecomment-1004653629 last month, and yes, this solves the issue, i see the whole chain in app insights from start to finish with a service bus queue in between. Thanks.

[2022-01-04 12:10] #7081 closed, assigned to nobody

[2022-01-04 12:59] v-bbalaiagar commented on #7992
Apologies for the delay in response. This issue was somehow missed, we are eager to know if you are still facing the same issue, so that we can look into it.

[2022-01-04 13:09] v-bbalaiagar commented on #6863
Apologies for the delay in response. This issue was somehow missed, we are eager to know if you are still facing the same issue, so that we can look into it.

[2022-01-04 13:16] v-bbalaiagar commented on #6895
Hi @TsuyoshiUshio , Please let us know if this is yet to be triaged, so that I can route this issue to concerned team.

[2022-01-04 13:27] erwinkramer commented on #6863
@v-bbalaiagar i haven't seen this issue anymore, and i did deploy several times .

[2022-01-04 13:41] sven-hoffmann commented on #6863
@v-bbalaiagar I will need some time to check this. We have workarounds in place since the time I created this issue in November 2020. I suspect the issue is still there because in my eyes it is a conceptual issue.

[2022-01-04 14:48] fhtino commented on #7278
In my opinion, requesting to upgrade to .NET 6 is not a perfect solution. There are cases where it's not possible to switch to .NET 6 or it requires time/effort not available in the mid term.  /my2cents

[2022-01-04 16:43] liliankasem commented on #7991
This might be due to your function app crashing due to a Cosmos exception

[code]

[2022-01-04 17:31] hiattp commented on #1864
We receive this error every time our durable function executes (we are using dedicated storage for this function and it is running in an isolated application service environment). Unfortunately this appears to halt the function execution after 80 seconds. So we have a durable function that will run for ~80 seconds, then we get the "Singleton lock renewal failed" message in the log traces and no fu

[2022-01-05 00:08] TroyWitthoeft commented on #8020
@alexandrehtrb It's not _entirely_ clear what you are asking?  It sounds like less of an issue and more of an exploratory discussion?  Could be interesting!  But, not an issue per se.  A practical example of a basic ASP.NET that you want to build into a function would further the discussion.

To ponder on it, you'd probably want to research the history of dotnet.   In particular understanding why