[2020-08-20 22:03] anthonychu commented on #6543
@ijoosong Can you file an issue here: https://github.com/microsoft/vscode-azurefunctions/issues

[2020-08-20 22:43] lafernando commented on #6462
Hi guys,

I just tested this again, and I'm afraid, I still get the same issue.

The following is the log:-

[code]

Function App name: functions1777

[2020-08-20 22:44] lafernando commented on #6462
@pragnagopa @anthonychu Also, it seems I don't have enough privileges to re-open this issue.

[2020-08-20 22:45] pragnagopa commented on #6462
@yojagad - Please investigate.

[2020-08-20 22:45] pragnagopa commented on #6462
@lafernando - can you please share `host.json` contents?

[2020-08-20 22:50] lafernando commented on #6462
Hi,

Yes, please find it below.

[code]

[2020-08-20 22:55] pragnagopa commented on #6462
@lafernando - I see you are using the new config section. Forwarding http request is opt-in. Can you please re-try after adding `"enableForwardingHttpRequest":true`

[code]

We are in the process of updating sample and docs, Please see PR https://github.com/Azure/azure-functions-host/issues/6178 for updated samples.

[2020-08-20 23:16] lafernando commented on #6462
@pragnagopa - Now I'm getting the following error from my function:

[code]

This error is coming from the Ballerina custom handler, and it is because, now the custom handler is invoked with the context "/api/hello", earlier it used to be just "/hello". For other non-pure HTTP invocations, I guess the handler will be invoked without the "/api" part?

[2020-08-20 23:18] pragnagopa commented on #6462
Yes, with the new config we made forwarding simpler. Request will be sent on the same route as original invocation.

That is correct.

Our docs will be updated soon with this info. Thanks!

[2020-08-20 23:32] lafernando commented on #6462
But for example, the "/api" part is mandatory right?, I tried invoking my earlier service with "https://functions1777.azurewebsites.net/hello" and I got a 404. So if "/api" part is anyway going to be there always, wouldn't it make sense to retain the earlier functionality? Also, since now the request come with "/api/" to the handler, now there's a possibility of clashing it with a function that is

[2020-08-20 23:52] pragnagopa commented on #6462
Please see https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#customize-the-http-endpoint for information on how http trigger routes work in Azure functions.

Closing this as resolved.

[2020-08-20 23:52] #6462 closed, assigned to yojagad

[2020-08-21 00:54] lafernando commented on #6462
@pragnagopa I got it, now the custom handler also get the same route as the original request always, and the function name is not involved now. By any chance, is it still possible to get the earlier behavior, maybe without the use of "enableForwardingHttpRequest" flag, where we can still get the HTTP triggered requests invoking the custom handler with the function name? since we can anyway retriev

[2020-08-21 04:45] lafernando commented on #6462
@anthonychu Let me put a little bit more context into my request. Unlike a simple custom handler implementation, where the user will implement the handler itself each time writing a function, in a situation like in Ballerina, we automatically generate a handler, which is implemented using a single service, that it will read in the full request path, and by looking at the request path, dispatch it

[2020-08-21 05:10] anthonychu commented on #6462
Setting `enableForwardingHttpRequest` to `false` will invoke the handler at `/functionname`. The reason we made the change is precisely to remove the need for code like [this](https://github.com/ballerina-platform/module-ballerinax-azure.functions/blob/f2ce1f9d9afeb9d2937944b39b4966abea084fed/azurefunctions-extension/src/main/java/org/ballerinax/azurefunctions/handlers/http/HTTPReturnHandler.java#

[2020-08-21 05:35] lafernando commented on #6462
@anthonychu That is great! so that means, in the case of a pure HTTP function also (with enableForwardingHttpRequest=false), we would get a JSON payload with a structure like below:
[code]
And yes, with this, we can certainly make the handler generation code much simpler as you pointed out.

**Unfortunately, I'm still getting my original issue that I got when I reported this issue** (No MediaTypeF

[2020-08-21 05:59] anthonychu commented on #6462
@lafernando I just tested out a pure HTTP function with `enableForwardingHttpRequest=false` and it worked as expected.

With `enableForwardingHttpRequest=false`, every request to the handler is an HTTP POST. Check that your handler is not getting a 404 on the request.

In one of the future releases of Core Tools, we'll have more trace level logging that will help you diagnose the requests and resp

[2020-08-21 06:20] lafernando commented on #6462
@anthonychu I found the issue! earlier I was sending out the HTTP payload directly from the handler, without wrapping it in the '{"Data":{"req":...}' format (with the enableForwardingHttpRequest=true format). The Azure Functions runtime expected this JSON value, and not seeing that, it has printed the earlier error. The change was simply removing the special casing of pure HTTP function handler ge

[2020-08-21 06:25] anthonychu commented on #6462
No problem. Thanks for all the work on bringing Ballerina to Azure Functions. Please share any feedback you have and let us know if you run into any issues with the new changes. We hope to publish the docs for the new `customHandler` section soon (when the next version of Core Tools is released).

[2020-08-21 06:46] lafernando commented on #6462
Certainly! It's a great system, and very much enjoyed doing the Ballerina implementation. I will surely provide more feedback whenever applicable! Thank you!

[2020-08-21 08:11] IDONTSUDO opened #6544 "Azure database connections"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
JavaScript
#### Question
I have an MSSQL database. And there are your Azure Timer triggers that run every 5 minutes. They go to the MSSQL database and rake the task queue. And as I understand it new, every 5 minutes when establishing a connection to the database. Can I somehow open one connection just in the case of a

[2020-08-21 10:01] TehWardy commented on #6512
Hey @brettsam  I have been made aware this morning of a bug in some related code i'll just pushing the fixes to our servers then i'll update the above shared repo.

I think there's a combination of problems here ...
   - Functions not doing what I expect with roslyn calls
   - some usages on my part of roslyn arn't completely right (this mornings issue)
  - wrapping calls don't always log exactly

[2020-08-21 12:21] mslot commented on #6014
@balag0 do you have a status on this?

[2020-08-21 12:57] TehWardy commented on #6512
I think there's something in the namespace selection that causes it, somehow triggers type loading in a way that causes a problem for the compiler ...

[code]

Changed to ...
[code]
... so the exception i silently throw away there is still happening but at least I know exactly where it is.
It appears to be some usage of or looping through the results from GetExportedTypes() that causes the problem

[2020-08-21 12:57] SeppeDev commented on #5663
Today we encoutered the same problem. No changes came through after redeployments. I restared the functionApp and such, but did not have effect (didn't wait very long, as suggested by @lopezbertoni ). We use Azure DevOps, and in the releasetask there, we had our "Deployment method" on "Auto-detect". Worked perfectly fine before, but now that I changed it explicitly to "Zip Deploy", our codechange

[2020-08-21 13:13] lopezbertoni commented on #5663
@SeppeDev Just to follow up / help. When we did a quick restart if didn't work. When we did a quick start/stop it didn't work.
It picked up the new code once we stopped, waited for about 5 mins and started again.

[2020-08-21 17:35] AnatoliB opened #6545 "Language worker logs are prefixed with LanguageWorkerConsoleLog"
#### Repro steps

Look at the recent (after Aug 14) language worker logs in Kusto.

#### Expected behavior

Language worker logs should not have an additional `LanguageWorkerConsoleLog` prefix, for example:

[code]

#### Actual behavior

Provide a description of the actual behavior observed.

[code]

This breaks diagnostic queries, dashboards, and AppLens detectors.

#### Known workarounds

Update

[2020-08-21 18:52] SeppeDev commented on #5663
@lopezbertoni , ok thanks, we didn't wait for 5 minutes after stopping it, just a quick restart and a quick stop and start, so what fixed is for us probably is the change in the Release in DevOps. Thanks.

[2020-08-21 19:06] balag0 commented on #6014
@mslot sorry missed the update on this issue.

I looked at this failure and here is what I found
The resource group you are using "rg-linux-dynamic-test" in West Europe doesn't have any preexisting function app in it, but it does have an app service plan already named - "test-linux-app-service-plan"

Internally function apps are provisioned on different scale units across different regions. When a

[2020-08-21 19:57] mslot commented on #6014
@balag0 thanks for the clarification. I think this should be in the docs somewhere :)
It feels like Azure isn't quite ready for full blown linux container deploys when we talk Azure Functions.

[2020-08-21 19:57] #6014 closed, assigned to balag0

[2020-08-21 20:08] brettsam opened #7377 "Need to address protobuf versioning"
If we allow customers to deploy their own worker with a "locked" protobuf version, what if the Host makes a protobuf change?

Current we require host + worker + protobuf version to be compatible.

[2020-08-21 20:10] pragnagopa commented on #7377
We need to start releasing  https://github.com/Azure/azure-functions-language-worker-protobuf/ and introduce breaking changes only in major version updates.

[2020-08-21 21:24] #6397 closed, assigned to kashimiz

[2020-08-21 21:41] upamanyus opened #6548 "Setting maxConcurrentRequests to 1 does not work"
@jaylorch and I have tried to run an application that is CPU-bound on Azure Functions, and found that setting `maxConcurrentRequests` to 1 does not limit the number of concurrently running requests to 1.

Tagging @pragnagopa to get the right folks for this issue.

- Timestamp: 2020-08-21T21:13:05.3540926Z
- Function App version: 3
- Invocation ID: dfc21e2b-f960-4a47-bb47-a41eca3dea93
- Region: Eas

[2020-08-21 21:54] soninaren commented on #6544
@IDONTSUDO we have documentation on using connection pooling and using static clients. This should help you avoid opening a new connection on every invocation. Here is the link to the documentation.

https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections

Closing the issue since this is not a function runtime issue.

[2020-08-21 21:54] #6544 closed, assigned to nobody

[2020-08-21 22:00] ghost commented on #6051
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-21 22:12] #5840 closed, assigned to kashimiz

[2020-08-21 22:47] TOVIRAH opened #6549 "Azure Functions v3 Startup does not execute if csproj name starts with "System""
I recently created an Azure Function using SDK version 3.0.9 and with v3 specified in the main csproj file. The sln is named "SystemOfRecordContext" and the project containing the http triggered function is named "SystemOfRecordContext.Functions". I added the Microsoft.Azure.Functions.Extensions nuget package to the project to implement dependency injection in the Startup file, but the code in `St

[2020-08-22 01:00] ghost commented on #6484
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-22 02:23] luthv opened #6550 "Header overflow on Node Functions"
#### Is your question related to a specific version? If so, please specify:
Node v12
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
JavaScript
#### Question
I have a function that makes an API call to a third party service but unfortunately got this error "Parse Error: Header overflow" on each call due to the response headers size is larger than 8K.
Is there anywa

[2020-08-22 04:00] #6133 closed, assigned to ankitkumarr

[2020-08-22 14:33] lopezbertoni commented on #5663
@ankitkumarr
This happened again with our Production deployments from last night. Yay for no deploy Fridays 😀.
We deployed 3 times and it didn't update. Eventually they did after several restarts.
All of these processors where deployed to a premium plan.

[2020-08-22 17:26] TsuyoshiUshio opened #6551 "ServiceUnavailable from host runtime."
After the dotnet based consumption plan deployed, then go to General settings and select the .NET Core Version.
![image](https://user-images.githubusercontent.com/1390976/90961724-be108080-e45f-11ea-97ea-28857047609f.png)
Then the host runtime is be Service Unavailable.

![image](https://user-images.githubusercontent.com/1390976/90961790-1f385400-e460-11ea-8a56-4cc4f9bd5e8c.png)

#### Investigativ

[2020-08-22 22:00] ghost commented on #6409
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-23 21:03] rigdern commented on #6239
Is this related to #6085?

[2020-08-24 00:52] Ads5555 commented on #6239
My functions were respecting the prod environment config until I disabled them. It could be related but I think the investigation would need to determine that.

[2020-08-24 02:36] RengarLee opened #6552 "Timer trigger not firing unless the Function App is opened in the portal ."
Timer trigger not firing unless the Function App is opened in the portal.

- Function App version : 3.0.14228.0
- Function App name: securityapi
- Function name(s) (as appropriate): PriceDefendEmailSend
- Region: China East 2
- schedule:"0,10,20,30,40,50 * * * *"

**Expected behavior**
The function fires every 10 minutes.

**Actual behavior**
The function fires only when I open it in the portal

!

[2020-08-24 07:29] wagich commented on #6239
In my case it happend from the beginning on a completely new function app I deployed to via docker. It might well be two separate or related problems and me hitting #6085 too…

[2020-08-24 09:25] ThejaChoudary commented on #4902
@brettsam any thoughts on how we want to proceed here?

[2020-08-24 09:29] ThejaChoudary commented on #5365
@jeffhollan can you please look into this further

[2020-08-24 09:32] ThejaChoudary commented on #5378
@mhoeger can you please look into this further.

[2020-08-24 15:33] benbelow commented on #5240
I'm also seeing this in one of my durable function activities.

It's a similar frequency to some of the other comments (~10 in 1000 requests, i.e. about 1%) - and seems to happen in batches - those 10 failures in 1000 were in the same minute.

I'm running on a premium elastic plan, with version 2.2.2 of the durable functions library.

I'm going to look into adding some retry logic for the activity

[2020-08-24 17:55] holtalanm commented on #4914
We are experiencing this issue, as well.  `AddHttpClient` with generic arguments for creating a service tied to the HttpClient factory causes scoped dependencies to be instantiated more than once per request.

[2020-08-24 18:05] kevinwedwards commented on #5851
I'm working in durable functions, .NET Core 3.1, -  I've had no luck injecting IHttpClientFactory, nor HttpClient.

Is this issue still outstanding?

[2020-08-24 18:12] espray commented on #5851
No workaround. Problem is with scoped DI entities
See https://github.com/Azure/azure-functions-host/issues/4914

[2020-08-24 18:32] brettsam commented on #6512
When you run GetExportedTypes() I believe it force-loads all the public types in that assembly. If something is missing, this is when you'd see it, even if you never intended to use that API at all. I suspect that this is why ignoring it lets things work as you were never using that API anyway.

I'm still investigating this to see if I can understand what's happening -- did you happen to update yo

[2020-08-24 19:00] ghost commented on #6402
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-24 20:26] brettsam commented on #6512
Okay, I now understand what's happening and have a very reduced-down repro. The issue was with the SignalR assemblies. As soon as I added them I was able to repro this by loading assemblies and trying to get all ExportedTypes, it blew up on me. There's a couple nicer workarounds you can take:

1. Skip loading anything with AspNetCore in the assembly name? Not sure if you ever need these -- but eve

[2020-08-24 21:10] darrenhull commented on #4914
@fabiocav can we get an update on the status of this issue please? It’s been going for nearly a year now, a whole year. Is there something the community could do to help? If so give us/me a steer and we can try and take a look. If we could get an update it would be appreciated, We’ve got branches of code that I just cannot pull in because of this issue.

[2020-08-24 23:14] paulbatum commented on #1451
@01010100010100100100100101000111 for the scenario you're describing, the outlook is rough. You are correct that as of today, there is no way to figure out how to accurately pass on the cost if you run workloads for different customers in the same function app. But the bad news I have for you is that even if we implemented the feature being discussed in this issue, you would still run into problem

[2020-08-25 01:00] #6051 closed, assigned to brettsam

[2020-08-25 03:15] Matthewsre commented on #5972
I have several functions in a project that we deploy with Azure DevOps. We have to limit concurrency for only one of our functions, but now we need to separate it out, create an additional Function App, separate release, etc. It would be really nice it we could configure some options either on the trigger attribute or specify a separate attribute on the method.

[2020-08-25 03:42] prabh-62 opened #6555 "System.MissingMethodException: Method not found: Microsoft.IdentityModel.Protocols.OpenIdConnect.OpenIdConnectConfiguration.get_SigningKeys()"
#### Repro steps

Provide the steps required to reproduce the problem:

- Ensure you have Azure Functions V3 `func` CLI from [Github releases](https://github.com/Azure/azure-functions-core-tools/releases) and .NET Core 3.1 SDK
-  `> dotnet --version`
    `3.1.401`
- `> func --version`
    `3.0.2798`
- `> mkdir Assembler` and `> cd Assembler`
- `> dotnet new classlib -n Assembler.Lib55` (Create new

[2020-08-25 04:00] #6484 closed, assigned to brettsam

[2020-08-25 07:37] elliotchaim commented on #2412
I agree that disabling all the functions in a slot should be possible via app settings.

[2020-08-25 08:30] TehWardy commented on #6512
Yeh I did update my repro, it was a minor fix and didn't affect this problem though.

It's loading the types but really I need the namespace lists to compute the references for the script execution args I have to provide to roslyn.
Other than asking all the types "what namespace are you in" I wasn't sure how to achieve this, this is the sort of feedback that comes from the community too ...
   htt

[2020-08-25 13:08] prabh-62 commented on #6555
By the way, I also created ASP.NET Core API to verify if the underlying issue is with ASP.NET Core as well or just Azure Functions.
`> dotnet new webapi -n Assembler.AspnetCore`

And I added the same code in `WeatherForecastController` that I added to Azure Functions earlier
[code]

<img width="1440" alt="aspnetcore_openidconnect" src="https://user-images.githubusercontent.com/13006107/91177819-48

[2020-08-25 13:13] prabh-62 commented on #6555
My colleague, Majid (@themajix) created a github repo with more details.

Repo: https://github.com/themajix/mutiversion_assemblies_in_functions

[2020-08-25 14:04] jonathanantoine commented on #6505
Any update @ankitkumarr  :) ?

[2020-08-25 14:06] brettsam opened #6556 "Improvements to FunctionAppLogs"
We need to expand the details we send to Azure Monitor Diagnotsic Logs (the FunctionAppLogs). Add the following properties:
1. AppName
2. MachineName (need to figure out what best name is here)
3. LevelId (for better filtering of, for example `LevelId > 2`
4. EventName
5. EventId

[2020-08-25 14:08] brettsam commented on #6556
/cc @apawast

[2020-08-25 14:53] brettsam commented on #6557
This isn't something that we currently support. You're correct that there are some types internally that we use to discover and register functions, but I'm not sure that we've ever had plans to allow for dynamically registering them like you're proposing. I'll move this to the correct repo and tag it as a feature request.

[2020-08-25 16:08] 01010100010100100100100101000111 commented on #1451
@paulbatum Thank you for the detailed response, I was wondering about how memory was consumed - what you say makes sense.

So ultimtely, I need an automated way to create and deploy a function app for each customer? So say I have 10,000 customers, from your point of view, having 10,000 functions would be OK? I just want to check as it sounds like it may be tricky to manage that number of functions

[2020-08-25 16:43] paulbatum commented on #1451
@01010100010100100100100101000111 Yeah, if you are going to rely on our billing metrics to determine what to charge your customers then you would need automation that creates a function app per customer. Once you're talking about 10K function apps, you would probably want to distribute those across multiple subscriptions. The other way to approach the problem is to come up with your own metrics to

[2020-08-25 17:17] brettsam opened #6558 "Fix Roslyn assembly unification in v2"
In v2, we moved Roslyn packages forward a major version: https://github.com/Azure/azure-functions-host/pull/5948

We also have this configured to unify lower versions to the host version: https://github.com/Azure/azure-functions-host/blob/v2.x/src/WebJobs.Script/runtimeassemblies.json#L489-L492

If customers were using anything Roslyn-related and built against Roslyn 2.x, they were unexpectedly mo

[2020-08-25 17:18] brettsam commented on #6558
/cc @fabiocav -- let's discuss this when you're back from vacation🌴

[2020-08-25 17:45] plaiddk opened #6559 "azure function 64bit not showing function when deployed"
Hi,
When i change the platform to 64bit on both app service plan or consumption plan it does not show the function which i have deployed. It deploys the files fine i can see in Kudo. So it does something.

But i cannot see the function and thereby i cannot trigger it.

It works fine if I select 32bit platform.

Whats the issue here?

[2020-08-25 20:05] soninaren commented on #6499
@alpizano Have you tried running your function app locally? If yes can you share the output?

[2020-08-26 00:38] divyagandhisethi commented on #4263
I have another CRI with this same issue on Linux. @fabiocav / @brettsam does this issue need to be assigned to an owner?

[2020-08-26 00:44] yojagad commented on #6096
@FinVamp1 Do you happen to know if this problem is specific to 3.0.13353 ? I just created a new function app with the latest runtime and I could see the timeouts in requests, exception and traces tables in appinsights

![image](https://user-images.githubusercontent.com/26885664/91241646-4316c680-e6fa-11ea-918a-4fa8bf35efe1.png)
![image](https://user-images.githubusercontent.com/26885664/91241689-5

[2020-08-26 01:00] #6409 closed, assigned to pragnagopa

[2020-08-26 05:14] madelinegordon commented on #6239
Hello, we were able to repro this issue, and we believe the cause is related to the scoping of components within the Functions Host - the WebHost (outer scope) component is only fully restarted when a Function app is stopped and then started up again, whereas the ScriptHost (inner scope) is the only component that is restarted when a Function app is restarted from the portal - essentially we only

[2020-08-26 05:14] madelinegordon commented on #6239
Hello, we were able to repro this issue, and we believe the cause is related to the scoping of components within the Functions Host - the WebHost (outer scope) component is only fully restarted when a Function app is stopped and then started up again, whereas the ScriptHost (inner scope) is the only component that is restarted when a Function app is restarted from the portal - essentially we only

[2020-08-26 05:44] ankitkumarr commented on #6085
@DavidZidar, I was able to repro the issue. Can you try stopping your function app, waiting for a couple of seconds and then starting it to see if that mitigates the problem? For me it did. Ideally after this "hard restart", you should see `AZURE_FUNCTIONS_ENVIRONMENT` being honored.

I looked at https://github.com/Azure/azure-functions-host/issues/6239 with @madelinegordon, and I think this is a

[2020-08-26 06:04] ankitkumarr commented on #6531
@steeling, where are you running your docker container? Are you running in an Azure Functions using custom image or just running locally?

For customer handlers, you need to run `func init --worker-runtime custom --docker`, which will generate a Dockerfile for custom handlers. Right now, I think you are using a Node.js Azure Function Dockerfile to run custom handler functions, which only expects N

[2020-08-26 06:06] ankitkumarr commented on #6459
@anthonychu or @paulbatum, would either of you be able to assist with this question?

[2020-08-26 06:30] ankitkumarr commented on #6489
Yes, I think it's done on purpose. Though, only @fabiocav (away for the next 2 weeks) can confirm :).

I understand namespace and folder structure as two different concepts, even though the default namespace reflects the folder structure.
Folder structure is more for organization of a repository making it easier to navigate. While namespace is more for scoping elements, organizing, and creating un

[2020-08-26 06:30] #6489 closed, assigned to ankitkumarr

[2020-08-26 06:36] anthonychu commented on #6459
@buzzaII  You can opt out by pinning your app's `FUNCTIONS_EXTENSION_VERSION` to `~2.0`. This will keep your app on .NET 2.x. It'll continue to work after October, but will no longer receive security updates. More details can be found [here](https://github.com/Azure/azure-functions-host/wiki/Platform-upgrade-from-Azure-Functions-runtime-v2-to-v3).

[2020-08-26 06:49] anthonychu commented on #6531
We have some docs updates that will be published after the next Core Tools version is published. (@ankitkumarr do you know if it'll be this week?)

There are a few things that could be happening here. (@pragnagopa and @yojagad  to confirm)

- When running in the docker container, you need to explicitly set the environment variables that are in local.settings.json. The file has no effect in a produ

[2020-08-26 06:50] ijoosong commented on #6543
Sounds good @anthonychu should we close this one out?

[2020-08-26 06:51] #6543 closed, assigned to madelinegordon

[2020-08-26 08:17] jcageman commented on #3965
We are seeing very long startup times (30+ seconds) during scale out of our function app within an appservice plan. Any suggestions to analyse such long startup times? We noticed that it does decrease with better hardware, but we would expect 2-3 seconds at most.

[2020-08-26 08:36] DavidZidar commented on #6085
@ankitkumarr Hi, my function applications seems to have switched to `Production` like they should have been all along. They seem to have switched when I redeployed them all two weeks ago, I have no idea why but I guess the deployment flow can't be the issue.

Issue #6239 says the value switches when disabling a function, I have never disabled any functions in the portal. The only other things I ha

[2020-08-26 09:22] jedjohan commented on #6559
I am seeing the same problems, the function keys are deleted causing the function to break. I get the issue when saving in "General Settings" for the Function. Workaround is to recreate the Function and absolutely NOT touch anything in "General Settings"

[2020-08-26 09:35] ankitkumarr commented on #6085
@DavidZidar, even though the issue linked has a repro with disabling functions, it actually seems to occur with any action that causes a soft restart. If you update any Application Setting or click restart, I think you will see the issue again.
The workaround for now is to manually stop the function app, and after a few seconds, start it back up.
This is a bug for sure.

[2020-08-26 09:37] plaiddk commented on #6559
Is that a workaround? I dont think you can set the platform as 64bit in the start?

[2020-08-26 09:44] DavidZidar commented on #6085
Thank you for the update, I would rather not stop running applications in production but this is good to know.

[2020-08-26 09:50] ghost commented on #3439
Hi all,

Any update in this issue. I was expected the following would work as documentation isn't mentioning that `host` part of `backendUri` is treated any different from rest of the URL.
[code]
And storing this in app settings isn't working for us as we need to be dynamic and captured from in incoming request.

FYI @brettsam

For reference documentation mentions:
[code]
In reality the above sent

[2020-08-26 09:59] qcnguyen commented on #2412
Please provide this feature, team.

[2020-08-26 13:14] benbelow commented on #6548
I've also seen this, with EventGrid triggered functions.

In addition, the per-function scaling limit is *also* not working - leaving us with no way to limit concurrency, which is a major concern

[2020-08-26 13:21] brettsam commented on #4263
I'll assign this to our next sprint so we can find an owner. We'll need to take these steps: https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#if-i-run-my-application-in-linux-are-all-features-supported.

@divyagandhii -- is there a write-able temp storage location we can use on the Linux workers (for both consumption and dedicated)? If so, we can create a folder there and poin

[2020-08-26 13:31] brettsam commented on #6559
Can either of you walk me through the steps to repro this? I assume this is all using the portal? (screenshots would be helpful, if easy enough to keep anonymous)...

@ehamai / @ammanifold -- have either of you seen reports like this?

[2020-08-26 13:46] a-vishar commented on #3965
Went through this with Azure Support recently.  Even on Premium we see the 30+ second times seemingly randomly (host still available and serving traffic and no spike in calls/resource consumption)... Advised to move to dedicated, but that the "Expected" cost of up to 1.5 seconds will still be present there.

[2020-08-26 13:59] brettsam commented on #6548
+@mathewc -- I can see in our logs that `MaxConcurrentRequests` is, indeed set to 1 for this app (ruling out any host.json parsing issues). Are there any issues with setting this to 1? DataFlow should handle that, right?

[code]

[2020-08-26 14:02] brettsam commented on #6548
@benbelow -- which scaling limit are you referring to? This: https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#limit-scale-out?

If so, that would be a separate issue -- can you create a new issue in this repo with those details?

[2020-08-26 14:14] prabh-62 commented on #6559
@brettsam You can try deploying a simple hello world app in 64 bit using VSCode Azure Functions extension
In *.csproj, add
[code]
<img width="699" alt="deploy_azfunc_vscode" src="https://user-images.githubusercontent.com/13006107/91314786-ef9d8a80-e784-11ea-8455-92297496742e.png">

Related issue: https://github.com/microsoft/vscode-azurefunctions/issues/2326

[2020-08-26 14:28] prabh-62 commented on #6555
- We have a fairly big Azure Functions project (140 functions)
- In around ~130 azure functions, we use nuget [Microsoft.AspNetCore.Authentication.JwtBearer 3.1.7](https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.JwtBearer/3.1.7) to authorize the HTTP calls with JWT token and this nuget requires [Microsoft.IdentityModel.Protocols.OpenIdConnect 5.5.0](https://www.nuget.org/package

[2020-08-26 14:34] plaiddk commented on #6559
If I add PlatformTarget the runtime stops working and it gives an System.Private.Corelib error. But does it work for you?

[2020-08-26 14:42] prabh-62 commented on #6555
What we have observed so far is
- In the case of success, we see OpenIdConnect and its dependant assemblies loaded in [FunctionAssemblyLoadContext](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Description/DotNet/FunctionAssemblyLoadContext.cs)
![success_assemblies](https://user-images.githubusercontent.com/13006107/91316717-270d3680-e787-11ea-9cb6-1c6d0e6a57a9.png)

-

[2020-08-26 14:43] brettsam commented on #6555
This is an awesome repro, thank you! I'm looking at it now.

[2020-08-26 15:05] prabh-62 commented on #6559
Not in the first try, but it works eventually. We have 10 azure functions deployed in Premium plan and we always host in 64-bit mode

[2020-08-26 15:26] pragnagopa commented on #6531
Core tools that supports creating docker files for `Custom Handler` will be released soon. Until then please update docker file as pointed by @anthonychu

[2020-08-26 15:48] ZachTB123 opened #6560 "[Custom Handlers - Go] More clarity around exceptions"
I don't know if this is necessarily related to Custom Handlers, but I've encountered this plenty of times and it makes development difficult.

Errors that are surfaced in Application Insights aren't helpful in troubleshooting issues. For example, I have a timer triggered function that is running every two minutes and I cannot seem to go a day without some sort of issues. All of the exceptions I ha

[2020-08-26 16:00] ghost commented on #5663
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-26 16:15] lopezbertoni commented on #5663
@ankitkumarr Any update on this? Any workaround at least? We're running production with 10+ Functions and every deploy we need to stop, wait for 5 mins and start the functions to ensure the latest code is running until we know this is reliable.
Would slot deployment help?

[2020-08-26 16:16] jeffhollan commented on #3965
@a-vishar do you have any info you can share on this one?  For premium we do all you to define the pre-warmed buffer where we should be pre-emptively scaling and warming apps for you, even custom containers.

[2020-08-26 16:29] alexanderbikk commented on #4914
hi @fabiocav, @APIWT, @t-l-k
I'm using .net core 3.1 and  looks like Scoped services work well but not for the "first run".
 So, when I startup the function app either on local or Azure env and do the first call my scoped services will be injected more than once per request. When I do the request after "first request" seems like all good.

So, for example EF DbContext will be created more that onc

[2020-08-26 17:07] divyagandhisethi commented on #4263
For linux dedicated, it should be easy enough once we discuss it with the Linux team. For linux consumption, I will have to look more, I will get back to you on this.

[2020-08-26 18:07] alexanderbikk commented on #5098
hi guys
I'm using .net core 3.1 and  looks like Scoped services work well but not for the "cold start".
 So, when I run the function app either on local or Azure env and the function does the "cold start", my scoped services will be injected more than once per request. When I do the requests after "cold start" seems like all good.

So, for example EF DbContext will be created more that once per re

[2020-08-26 18:32] plaiddk commented on #6559
Picture 1: An azure function in 32bit mode. Showing the function
![Udklip](https://user-images.githubusercontent.com/20297081/91342037-bdb71300-e7da-11ea-8a08-ac2496af5b00.PNG)

Picture 2: Changing the 32bit function to 64bit in general settings
![Udklip1](https://user-images.githubusercontent.com/20297081/91342089-d32c3d00-e7da-11ea-8110-88062072bd2a.PNG)

Picture 3: Service is now unavailable af

[2020-08-26 18:33] prabh-62 commented on #6559
Yes, this is exactly what I reported on vscode extension repo. https://github.com/microsoft/vscode-azurefunctions/issues/2326

[2020-08-26 18:36] plaiddk commented on #6559
But how did you get the x64 to work then? It doesnt work here as you can see. So im guessing something is wrong with the  functions.

[2020-08-26 21:08] jedjohan commented on #6559
@plaiddk well no, its not a workaround in that sense :) But as the Function keys somehow gets deleted i spent an hour trying to rescue my function until I gave up and deleted it to start new. That´s how I worked around it

@brettsam sorry for late answer but @plaiddk posted a great explanation. The only thing to add to that is to observe that the function keys dispappears, even the _master key

[2020-08-26 22:02] rodhemphill commented on #5098
Hi @alexanderbikk. One thing to check is whether you have a "prerender" process running that creates the initial instance. This is a known problem with net core Blazor apps for example.

[2020-08-26 22:31] brettsam commented on #6555
Let me post my notes here as I spent quite a while investigating it:

This can happen under the following circumstances:
1. The function assembly is referencing other assemblies, which are referencing other assemblies that are also used by the host
    - One assembly references the assembly with the same version (or early) version as the host
    - One assembly references the same assembly, but wi

[2020-08-26 22:35] brettsam commented on #6555
Oh I should note -- tomorrow morning I'm going to investigate a workaround for you. It may involve you force-loading types from these "higher-versioned" assemblies early in your process.

And thank you IMMENSELY for this repro -- this is a complicated scenario and you made it a lot simpler to work with. I really appreciate that.

[2020-08-26 22:38] themajix commented on #6555
Thank you so much Brett! We really appreciate how fast you responded to our request. I'm sure that this will make the whole team here really happy, as we have been struggling with this issue for a while now.

[2020-08-27 02:30] mcgjoe opened #6562 "System.Private.CoreLib: Exception Value cannot be null. (Parameter 'key')."
#### Is your question related to a specific version? If so, please specify:
Using Azure Functions runtime version 3~
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
python
#### Question
receiving this error:
System.Private.CoreLib: Exception while executing function: Functions.BlobTrigger1. System.Private.CoreLib: Value cannot be null. (Parameter 'key').

when i de

[2020-08-27 03:04] mcgjoe commented on #6562
when step through code last command I get to is :
self._grpc_resp_queue.put_nowait(resp)

of this code block:

 async def _dispatch_grpc_request(self, request):
        content_type = request.WhichOneof('content')
        request_handler = getattr(self, f'_handle__{content_type}', None)
        if request_handler is None:
            # Don't crash on unknown messages.  Some of them can be ignored;

[2020-08-27 03:53] ankitkumarr commented on #5663
@lopezbertoni, yes apologies for the delay. I will take a look at this as soon as I can.

[2020-08-27 04:20] alexanderbikk commented on #5098
Hi @rodhemphill I'm not sure that I get you.

As I said the Scoped lifitime works sometimes, but sometimes I get different instances per request. I can reproduce it on "cold start". Then everything works fine. After some idle the function does a "cold start" again and I again get this issue.

Thanks

[2020-08-27 09:15] M0ns1gn0r opened #6564 "Exceptions sent to AppInsights twice"
When a function throws an exception, that exception is shown once in the console but is logged twice to AppInsights (testing that locally in Visual Studio) with different categories: *Host.Results* and *Function.Function1*.

#### Investigative information

Azure Functions Core Tools (3.0.2798 Commit hash: d9d99872a51c04b1c2783198b1ee1104da6b064f)
Function Runtime Version: 3.0.14191.0

#### Repro s

[2020-08-27 11:13] M0ns1gn0r commented on #6018
Hm, could be related to my issue #6564

[2020-08-27 11:18] ThomasArdal commented on #6018
Could be, yes.

[2020-08-27 13:33] brettsam commented on #5098
@alexanderbikk -- would you be able to throw a simplified repro up somewhere (in a github repo or even just a gist)? That'd help get this set up...

[2020-08-27 14:33] alexanderbikk commented on #5098
hi @brettsam

I believe I have not so much time for it. But I can describe the details and provide some code.
You can try the following scenario:
- Create the Azure function v3 with latest sdk version.
- Create  two or more "Services"  and UoW which can be configured as Transient  in function Startup
- Add EF core DbContext which will be configures as Scoped by default. I used separate project wit

[2020-08-27 14:49] brettsam commented on #6536
Part of this will be working with @ehamai and @apawast to come up with exactly what we need to be returning and how it will be used. We likely already have this data -- and may just need to surface it through the status calls the portal already makes.

[2020-08-27 14:49] brettsam commented on #6536
/cc @fabiocav

[2020-08-27 14:50] brettsam commented on #6534
Part of this will be working with @ehamai and @apawast to come up with exactly what we need to be returning and how it will be used. We likely already have this data -- and may just need to surface it through the status calls the portal already makes.

/cc @fabiocav

[2020-08-27 15:01] master-maintenance1-peer-connect opened #6565 "How to configure an azure function to set the x-ms-client-principal-name header to a long "user principal name""
#### Is your question related to a specific version? If so, please specify:
   Azure Fuctions HTTP Triger
    "azure-function-express": "^2.0.0",
    "@azure/functions": "^1.2.2",
    "@azure/cosmos": "^3.7.4",
    "@azure/storage-blob": "^12.1.2",
    "durable-functions": "^1.4.3",

[code]

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
  JavaScript(TypeScript)

[2020-08-27 15:04] pragnagopa commented on #5399
cc @brettsam

Thanks @newOnahtaN for the code snippet to use in V3.

Closing this issue. As @gabrielbaptista  - we recommend updating code and moving to V3. Until then use `FUNCTIONS_V2_COMPATIBILITY_MODE `

[2020-08-27 15:04] #5399 closed

[2020-08-27 15:10] master-maintenance1-peer-connect commented on #6565
This behavior may be related to a destructive specification change in MSAL.
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2069

This phenomenon may reproduce when a cookie or something gets dirty, but I don't know how to clear it.

-----------------
I hope that the answer to this question will compensate for the lack of documentation below.
https://docs.microsoft.com/en

[2020-08-27 15:40] v-anvari commented on #6085
Hi @DavidZidar, we are closing the issue hoping that your queries have been answered, please feel free to reopen this issue for any queries related to this issue

[2020-08-27 15:40] #6085 closed, assigned to nobody

[2020-08-27 15:47] DavidZidar commented on #6085
@v-anvari The issue is not resolved though, there is a workaround but the issue is still very much present. Is #6239 the main issue for this now?

[2020-08-27 16:48] v-anvari commented on #6085
@DavidZidar, yes [#6239](https://github.com/Azure/azure-functions-host/issues/6239) looks like a duplicate of this issue, which is already being investigated.

[2020-08-27 18:03] pragnagopa commented on #6461
Addressed in referenced PR.

[2020-08-27 18:03] #6461 closed, assigned to madelinegordon

[2020-08-27 20:14] mcgjoe commented on #6562
this appears in dispatcher.py

[2020-08-27 20:18] brettsam commented on #6555
To set expectations, this likely won't be released for roughly a month (with the release that begins at the end of our next Sprint). I can, however, provide you with a [private site extension](https://github.com/Azure/azure-functions-host/wiki/Deploying-the-Functions-runtime-as-a-private-site-extension) that you can test on your own before that time and let me know if it works.

There's also a wor

[2020-08-27 21:29] DarinMacRae commented on #2412
[code]

HTH

[2020-08-27 21:34] brettsam opened #6567 "Improve diagnostic logging in FunctionAssemblyLoadContext"
We should be able to write out Trace-level logs which are filtered by default and only enabled when we need to help a customer debug a specific scenario.

[2020-08-27 21:49] themajix commented on #6555
Yes, I think we are going to take this approach to minimize the risk of having runtime errors in our production environment. Do you already have a utility to identify potentially problematic assemblies in a project, or will the identification task be a manual one?

[2020-08-27 22:00] #6402 closed, assigned to madelinegordon

[2020-08-27 22:49] onionhammer opened #6568 "Getting 'badrequest' error deploying ARM"
When I try to deploy an ARM template with an output:

[code]

I'm receiving:

[code]

[2020-08-27 23:53] balag0 commented on #6568
Can you share the name of function app, time stamp & region?

Also please take a look at https://github.com/Azure/azure-functions-host/issues/5722

[2020-08-28 03:41] amogh79 opened #6569 "Unable to assign ServiceBus connection string using ServiceBusTriggerAttribute"
#### Is your question related to a specific version? If so, please specify:
3.x

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All) :
C#
#### Question
In my scenario I am reading service bus connection string from KeyVault. I want to retrieve SB connection string from KV in startup and assign it to the functon. Following is the code snippet. Unfortunately I get error

[2020-08-28 13:50] onionhammer commented on #6568
Name of the app is next-c2c-worker, central US, 8/27/2020, 5:48:11 PM central time. I think the issue is whenever I re-run the deploy it seems to clear out the function app until I redeploy..

[2020-08-28 14:18] onionhammer commented on #6568
I think the issue here is that ARM deploys seem to randomly clear out the entire function, and then the error returned by the management API to listkey() is the above if the function app is empty.. the ARM template will never work the first time for a new resource group, right?

[2020-08-28 14:33] onionhammer commented on #6568
When I deploy via ARM it removes the 'WEBSITE_RUN_FROM_PACKAGE' value, even though it is not present in the ARM template; is ARM able to somehow merge that value in?

[2020-08-28 15:20] ghost commented on #6475
I reported this same error to Micrsoft they investigated for over 3 weeks and basically came back and said "don't worry about it"

go figure!!

[2020-08-28 15:26] Gandharv30 opened #6570 "BlobTrigger is not working,Function 'pii' will wait 2000 ms before polling queue 'azure-webjobs-blobtrigger-dqml1'. Container 'test1' does not exist."
I have created an Azure functions app with a blob storage trigger. Now in my storage account, there is container 'test1' in which there is a folder 'my-directory' which I am tracking. I tested the code on my local machine, the function fires whenever a file is uploaded to blob storage mentioned above. But when I am running this on the azure portal, the function does not fires at all when a file is

[2020-08-28 17:44] eastonharvey commented on #364
Any updates on this? Would like to set properties on a Service Bus binding.

[2020-08-28 18:56] Gandharv30 commented on #6570
@soninaren , can you please help me out ?

[2020-08-28 19:28] soninaren commented on #6570
@Gandharv30 , Please check the storage account you are using on the function app on azure, verify it is the same storage account that has the test1 container. The polling wait is expected in blob trigger.

[2020-08-28 19:39] Gandharv30 commented on #6570
Its the same storage account because when I run it on my local machine ie I also upload  file through a python script to that storage account, it correctly detects a change in blob storage and fires the function. @soninaren

[2020-08-28 19:45] soninaren commented on #6570
The only reason you would get `Container 'test1' does not exist.` is if the storage account does not have the container present. Please check the value of the connection property in the function.json.  Also please fill out the bug report template.

#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening

[2020-08-28 20:57] ankitkumarr commented on #6431
@mathewc suggested that I should attempt to solve this issue in a generic way such that extensions can add to our configuration or option setup.

To do this, I am going to introduce a new "host.json" property "watchFiles" (similar to "watchDirectories").

For extensions to modify the "watchFiles" property, they can leverage the new `IWebJobsStartup2` [[link](https://github.com/Azure/azure-webjobs-

[2020-08-28 22:21] t-l-k commented on #5350
Is this may an easy win to slip into a sprint soon? In some circumstances, it _is_ injected, but only into methods marked with function attributes. It would make DDD style integrations so much easier (e.g. on the back of domain event handlers).

Without `IBinder` available via DI, methods marked with function attributes require extra boilerplate code, either to dispatch it as tramp data, to captur

[2020-08-29 22:00] ghost commented on #6499
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-30 03:30] ma3yta opened #6573 "provide Service Registry/Discovery as a Service"
#### What problem would the feature you're requesting solve? Please describe.
Getting Azure Function endpoint by tag and function name at runtime without specifying it in the configuration.
Azure actually provides this capability in Azure Service Fabric, but it is currently not available for use with Azure Functions.
https://microservices.io/patterns/service-registry.html

#### Describe the soluti

[2020-08-30 04:49] horihiro commented on #4883
Hello @fabiocav
I confirmed that puppeteer works on Azure Functions on Linux thanks to the following PR for Node.js runtime
https://github.com/Azure/azure-functions-docker/pull/225

But on some situation, Puppeteer, maybe playwright also, cannot render some characters in a web page because of lack of fonts.

For example, google.co.jp includes some Japanese characters, and the screenshot by puppete

[2020-08-30 05:24] anthonychu commented on #4883
@horihiro Where does postinstall.sh install the fonts? (Is it /home/site/wwwroot/fonts or somewhere else?)

[2020-08-30 06:01] horihiro commented on #4883
In my approach, `postinstall.sh` downloads fonts into `/home/site/wwwroot/fonts` temporally during deployment.
https://github.com/horihiro/azure-functions-puppeteer-node-cjkfont/blob/master/postinstall.sh#L5

And the fonts are copied to `/home/.fonts` at the beginning of each invocation if there is no fonts in `/home/.fonts`.
(Edited: replace the process from copying to linking,)
https://github.co

[2020-08-30 08:28] horihiro commented on #4883
Another example, microsoft.com/ja-jp

Before adding fonts:
![image](https://user-images.githubusercontent.com/4566555/91654663-c3b43900-eae5-11ea-864f-2ce0d1cfd225.png)

After adding fonts:
![image](https://user-images.githubusercontent.com/4566555/91654673-d169be80-eae5-11ea-82c5-1c35e90bcfa4.png)

[2020-08-30 16:00] ghost commented on #6531
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-30 18:53] anthonychu commented on #4883
@arjun27 Do you know if there's a way to add fonts without installing them to $HOME/.fonts? For example, can Playwright tell Chromium where to look for fonts? Hoping to allow customers to include fonts in their application package without the extra step that @horihiro is doing to copy them to $HOME/.fonts at run-time.

@ahmelsayed What are your thoughts on adding fonts?

[2020-08-30 19:04] anthonychu commented on #4883
@sarvaje @benjamineberle @hyperyn You can now run headless Chromium on Linux Consumption. Hope to have more official docs in the future but for now, check out [this blog post](https://dev.to/azure/running-headless-chromium-in-azure-functions-with-puppeteer-and-playwright-2fgk) for the steps to get it working.

[2020-08-31 04:00] ghost commented on #5663
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-31 06:28] ThejaChoudary commented on #5661
@mhoeger can you please look it into this.

[2020-08-31 07:11] ThejaChoudary commented on #5544
@brettsam  Any information we need to provide further.

[2020-08-31 08:20] ThejaChoudary commented on #6569
@amogh79 can you please provide us the repro steps

[2020-08-31 09:58] DenisBalan commented on #5796
Its important which version you have referenced in csproj.

For this, please have a look on tools folder from azure-functions-core-tools-3 (somewhere on your drive)
and extract file version
[code]
![image](https://user-images.githubusercontent.com/33955091/91708036-670a5a00-eb89-11ea-971f-51a02a5b9400.png)

after that reference in your csproj expected version
![image](https://user-images.githubuse

[2020-08-31 10:06] DenisBalan commented on #5796
@TehWardy the files you see in your bin / obj directories are not the dll which will be used in runtime binding.

Azure function host decide on their own half based on version, and may override out-of-the-box libraries.

Thats why this is happening, you version is being replaced by azure function host.

[2020-08-31 10:42] TehWardy commented on #5796
**General .Net etiquette**

If I'm dependent on an assembly directly then I should be able to deploy that assembly with my application code and force usage of that particular version.
If the runtime wants to replace something then breaks it, that's on the runtime.

**The complications as I see them**

Forcing me to use specific versions of assemblies is against everything .Net is built on.
My unde

[2020-08-31 11:29] ThejaChoudary commented on #6564
Able to repro the Issue.

[2020-08-31 11:29] ThejaChoudary commented on #6564
@gzuber can you please look into this further

[2020-08-31 11:31] ThejaChoudary commented on #6018
Able to repro the Issues.@gzuber can you please look into this further.

[2020-08-31 12:33] v-anvari commented on #6550
Hi @luthv , To understand the issue better, we would require additional information from your end.

Kindly, specify the repro steps and can you share the name of function app, time stamp & region as mentioned in the issue template.

Also, please confirm if the error is coming from the third party tool that you are using?

If my understanding is right from the given information, this issue is relat

[2020-08-31 12:39] jawa-the-hutt commented on #3543
I wanted to drop this info here as I have arrived at a mostly workable solution that allows me to use a Workspace with multiple Typescript function apps.  The only downside is that when a Function app recompiles it does drop the debugger, but it's only a matter of a couple of seconds to reattach it based on all the configs below.  I am using an npm package named `tsc-watch` to control the recompil

[2020-08-31 13:00] v-anvari commented on #6533
Hi @khmerforce , We tried to reproduce the issue, but the function app is running fine with every blob uploaded.

Can you share the name of function app, time stamp & region, so that we will be able to check the issue with the function app that you are running.

Also, please check the logs in the "[application insights logs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitori

[2020-08-31 13:00] DenisBalan commented on #5796
@TehWardy this is.
Whether you accept framework’s rules and bottleneck and just do the job, or trying to knock on the ecosystem and pass their checks .

The whole process of building function involves a lot of msbuild target files, where, if you want, you could replace libraries that came out of the box with your own ones, but there is no compatibility guarantee.

There is a lot to say on what sho

[2020-08-31 14:37] brettsam commented on #6573
@jeffhollan / @mattchenderson -- curious if either of you have seen this article or have thoughts?

[2020-08-31 14:43] brettsam commented on #5544
Unfortunately, wildcards are not supported -- we rely on the default .NET Core log filtering (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#how-filtering-rules-are-applied) which takes the longest match.

[2020-08-31 15:58] TehWardy commented on #5796
I'm not sure how that helps / what you're trying to say exactly but my take from it is ...
I'm not asking for any rules to be broken just for the tooling to enable me to clearly see what they are going to be when my code stack is deployed with it's dependencies to the cloud so I can correctly follow them or if need be make a decision that the tooling won't be informed enough to make to fix known i

[2020-08-31 16:00] ghost commented on #6548
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-31 16:46] anthonychu commented on #6550
I think to solve this we have to specify `--max-http-header-size` when starting the node worker. We would need to investigate whether there are any performance or security implications to doing this (Node reduced this value because of potential DoS attacks).

@mhoeger

https://nvd.nist.gov/vuln/detail/CVE-2018-12121
https://github.com/nodejs/node/issues/24692

[2020-08-31 17:22] jaylorch commented on #6548
It seems @benbelow is unable to respond.  But the issue @benbelow raised is only tangential to the key reason for this issue:  the fact that the parameter maxConcurrentRequests is being ignored.  So let's remove the "Needs:  Author Feedback", which was put in to ask @benbelow to provide feedback, to prevent the issue from getting deleted by msftbot.

[2020-08-31 17:25] pragnagopa commented on #6548
@jaylorch  - thanks for flagging this. I removed `Needs: Author Feedback`

@brettsam / @mathewc  - Any ideas on what to check to understand why `maxConcurrentRequests` is not being honored when host in Azure?

[2020-08-31 17:26] amogh79 commented on #6569
Hi Theja,

Following are the steps:

01. Create a servicebustriggered function.
02. In this function set the topic name and subscription name for topic
03. Set the connection property to Connection=''
04. In startup.cs write code to retrieve the connection string from KeyVault (see my code snippet above)
05. Override the Configure method and in that method use PostConfigure to set the connection s

[2020-08-31 17:44] ZachTB123 opened #6574 "[Custom Handlers]Metadata of DateTime type is serialized as string"
When creating a function with a ServiceBus input and logging the [InvokeRequest](https://github.com/Azure-Samples/functions-custom-handlers/blob/master/go/GoCustomHandlers.go#L27-L30), I am seeing something like the following in App Insights:

[code]

Notice that there are some keys in the Metadata map (e.g. ContentType, EnqueuedTimeUtc, LockToken, etc.) that have their values wrapped in double qu

[2020-08-31 17:46] ZachTB123 commented on #6574
@pragnagopa @anthonychu @yojagad

[2020-08-31 17:51] ZachTB123 commented on #6574
A trigger such as `timerTrigger` does not have this issue:

<img width="747" alt="Screen Shot 2020-08-31 at 12 50 51 PM" src="https://user-images.githubusercontent.com/17228033/91750378-a08e9580-eb88-11ea-9c7a-a65ed5c04e3f.png">

^ image of what logging the InvokeRequest for a timer trigger looks like in Application Insights

[2020-08-31 17:56] prabh-62 commented on #6504
Discussion occurred in another issue: https://github.com/Azure/azure-functions-host/issues/6555

[2020-08-31 19:23] ahmelsayed commented on #4883
We could add fonts as long as the license for them allows redistribution (which the ones in that repo seems to allow https://noto-website-2.storage.googleapis.com/pkgs/NotoSansCJKjp-hinted.zip) though I'm not sure I know what is the correct set of fonts to add.

[2020-08-31 19:50] sarvaje commented on #4883
@anthonychu thank you for the update!!

[2020-08-31 21:10] mikaelweave opened #6575 "[Custom Handlers - Go] - List in HTTP Body As System.Collections.Generic.List`1[System.Object]"
**Overview**
I currently have a sample Go function ([link to code here](http://github.com/mikaelweave/go-azfunc-sample/)) where I have 4 simple functions that perform actions on resource groups (create, read, list, delete). I was able to get all operations to work, except for the `List` operation which should return an array of objects. The function returns "System.Collections.Generic.List`1[Syste

[2020-08-31 22:19] anthonychu commented on #6575
We're going to deprecate the `httpWorker` section in host.json in favor of `customHandler`. The new config addresses the problem you're running into, where a pure HTTP function has different payloads than other functions. Try changing your host.json to this:

[code]

I think instead of setting the body to lists and objects, can you marshal the data to JSON string?

[2020-08-31 22:20] anthonychu commented on #6575
We're waiting for the next Core Tools release before publishing the docs. /cc @pragnagopa

[2020-08-31 22:25] anthonychu commented on #6025
Setting to P1 so it pops up in sprint planning. /cc @pragnagopa

[2020-08-31 22:36] anthonychu commented on #4883
@ahmelsayed Yeah I'm not sure how to determine what fonts to add. Looking at the file sizes [here](https://www.google.com/get/noto/), could have significant impact on image size as well.

[2020-08-31 22:56] horihiro commented on #4883
It seems to be difficult to determine which fonts are added.

If the function host had an initializing process for Node.js worker as discussing in https://github.com/Azure/azure-functions-host/issues/586 , customers can add any fonts which the customers want to add them in the process and the container image does not need to contain the fonts.

[2020-09-01 03:38] mikaelweave commented on #6575
Thanks for the response! A couple updates:

- Assuming I'm only the Custom Handler for HTTP requests, I am able to set `enableForwardingHttpRequest` to `true` and get my desired functionality! As advertised, the function just forwards my HTTP response, easy as that.

- Changing to the above posted config (with `enableForwardingHttpRequest` to `false`) I get the same behavior as above (list return

[2020-09-01 15:35] pragnagopa commented on #6575
cc @yojagad
Thanks for reporting the issue. As long as response is valid JSON content it should work.

Needs further investigation.

[2020-09-01 15:57] pragnagopa commented on #6025
@anthonychu /@yojagad / @soninaren - please review https://github.com/SchemaStore/schemastore/pull/1229

[2020-09-01 16:18] pragnagopa commented on #6172
cc @TsuyoshiUshio

[2020-09-01 16:43] WillAbides commented on #6575
@anthonychu

Are the unpublished docs in a PR somewhere I could look at?

[2020-09-01 18:10] brettsam commented on #6542
I'll take a look and see if we can relax the restriction.

[2020-09-01 18:28] pragnagopa opened #6577 "[V2]Remove LanguageWorkerConsoleLog prefix"
Port fix for https://github.com/Azure/azure-functions-host/issues/6545  to V2

[2020-09-01 19:05] balag0 commented on #6568
I think any setting not explicitly mentioned would get updated to its default value which in this case would remove it.  Is it possible for you to include the setting WEBSITE_RUN_FROM_PACKAGE for each template deployment?

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-modes#incremental-mode

 Note

When redeploying an existing resource in incremental mode, all

[2020-09-01 19:08] pragnagopa commented on #6487
@ZachTB123 - extension-bundles v2.0.0 is published: https://github.com/Azure/azure-functions-extension-bundles/releases/tag/2.0.0 , can you please verify?

[2020-09-01 19:41] #6545 closed, assigned to pragnagopa

[2020-09-01 21:28] anthonychu commented on #6487
Info here on how to upgrade: https://docs.microsoft.com/azure/azure-functions/functions-bindings-register#extension-bundles

[2020-09-01 21:45] anthonychu commented on #6575
@WillAbides The PR is staged on a private fork. However, it's been signed off on and will hopefully be live in a few hours here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers

[2020-09-01 22:00] ghost commented on #6570
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-01 23:23] ankitkumarr opened #6580 "[Doc Issue] Document new 'watchFiles' host.json property"
Tracking item to document `"watchFiles"` once this is merged and released -- https://github.com/Azure/azure-functions-host/pull/6563

1. Update public docs
2. Update host.json schema

[2020-09-01 23:25] ankitkumarr opened #6581 "[V2, V1] Backport host.json new property"
Tracking item to backport "watchFiles" once this is merged -- #6563

[2020-09-01 23:37] ZachTB123 commented on #6487
Looks like that fixed it. Thanks for the update!

[2020-09-01 23:37] #6487 closed, assigned to pragnagopa

[2020-09-01 23:37] zmarty opened #6582 "BUG: Azure Functions 3.0.14287.0 broke local log lines display"
Azure Functions 3.0.14287.0
C# .Net Core 3.1
Azure Functions v34
Visual Studio 2019 16.7.2
Windows 10

Symptom: When we log using ILogger those log lines do not show up in func.exe console window anymore when debugging in Visual Studio.
I see a new message which says "For detailed output, run func with --verbose flag". I will investigate how to enable this to see if it fixes the issue, but I still

[2020-09-01 23:39] zmarty commented on #6582
Adding --verbose under Debug > Application Arguments fails with func.exe saying:

Error: unknown argument --verbose
Azure Functions Core Tools (3.0.2852 Commit hash: d1c2c8e7dc10a94a399246dda94049a7dbf0383d)
Function Runtime Version: 3.0.14287.0
Usage: func [context] [context] <action> [-/--options]

[2020-09-01 23:41] zmarty commented on #6582
https://github.com/Azure/Azure-Functions/issues/88

[2020-09-02 00:36] anthonychu commented on #6582
To add the `--verbose` flag, looks like you have to set the application arguments to `start --verbose`.

![image](https://user-images.githubusercontent.com/3982077/91919065-a31ce800-ec79-11ea-8729-85c29bc86858.png)

[2020-09-02 00:37] anthonychu commented on #6582
Closing this in favor of https://github.com/Azure/azure-functions-core-tools/issues/2184

[2020-09-02 00:37] #6582 closed, assigned to gzuber

[2020-09-02 00:47] mhoeger opened #6583 "Deploy new Node.js placeholder templates"
Tracking item for Antares work

[2020-09-02 00:59] onionhammer commented on #6568
@balag0 no, since WEBSITE_RUN_FROM_PACKAGE is set to some URL which is generated by the deployment.. so basically updating ARM templates from source control is not supported, which IMO kind of defeats the purpose of repeatable deployments via ARM.

[2020-09-02 01:00] #6499 closed, assigned to soninaren

[2020-09-02 01:31] yojagad commented on #6535
This has been fixed in v3 and v2.

[2020-09-02 01:31] #6535 closed, assigned to yojagad

[2020-09-02 09:03] MarkLFT commented on #2373
This issue seems to be referred to in several posts, does anyone have a workaround for .net core requiring version 3.14.2?

[2020-09-02 11:36] joain946 commented on #4926
I'm experiencing the same issue except that I'm running with Java locally.
If I set a Content-Length then it works. But of course that should not be needed for a chunked transfer.
Any plan to create a correction for this, since it is a year old ticket?

My environment:
Java 11
Azure Functions Core Tools (3.0.2798 Commit hash: d9d99872a51c04b1c2783198b1ee1104da6b064f)
Function Runtime Version: 3.0.

[2020-09-02 12:10] buzzaII opened #6586 "Support for common libraries such as HealthCheck, Application Insights Profiler and Application Insights for Kubernetes"
Would be nice to be able to support the following libraries:

https://github.com/xabaril/AspNetCore.Diagnostics.HealthChecks
https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore
https://github.com/microsoft/ApplicationInsights-Kubernetes

These integrations with in a Dockerised Function App, running in a Keda Environment, in AKS.

[2020-09-02 12:16] thomaslevesque opened #6587 "Dependency injection in Azure Functions injects null if dependency is missing"
#### Investigative information

Please provide the following:

- Timestamp: (not relevant)
- Function App version: 3.0.7
- Function App name: (not relevant)
- Function name(s) (as appropriate):  (not relevant)
- Invocation ID:  (not relevant)
- Region: (not relevant)

#### Repro steps

Provide the steps required to reproduce the problem:

- Create a function app with a FunctionsStartup class to re

[2020-09-02 12:19] jdubois commented on #6172
This is still very important to me, don't hesitate to get back to me to do more testing

[2020-09-02 12:23] thomaslevesque commented on #6587
Note that the issue only occurs for dependencies of dependencies.
For direct dependencies of the Function class, an exception is thrown

[2020-09-02 14:32] ThejaChoudary commented on #5544
@cannehag hope the above explanation answered your question.Proceeding to close the issue ,please feel free to get back to us if you have any queries further.Thank You!

[2020-09-02 14:32] #5544 closed

[2020-09-02 16:45] pragnagopa opened #6588 "Enable fluent API on DefaultWebJobsFilters"
cc @brettsam

Update https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Extensions/ScriptLoggingBuilderExtensions.cs#L28 to return `ILoggingBuilder` to enable using fluent APIs and to add log log provider after applying filters

[2020-09-02 18:31] ryan9018 commented on #5240
Has there been any traction on this issue? I'm facing the same problem and was wondering if anyone has figured out the root cause.

[2020-09-02 19:00] #6531 closed, assigned to ankitkumarr

[2020-09-02 20:00] pragnagopa commented on #6577
Addressed in linked PR.

[2020-09-02 20:00] #6577 closed, assigned to pragnagopa

[2020-09-02 20:10] pragnagopa commented on #5098
@brettsam - Any updates here? Should we move this next sprint?

[2020-09-02 20:15] pragnagopa commented on #6556
@brettsam - Will this PR merged today/tomorrow? If not please move this next sprint.

[2020-09-02 20:18] cachai2 commented on #5894
@cachai2 @anthonychu

[2020-09-02 20:23] pragnagopa commented on #6096
Closing as no repro. Please reopen if needed.

[2020-09-02 20:23] #6096 closed, assigned to yojagad

[2020-09-02 20:34] pragnagopa commented on #6025
Closing as addressed.

[2020-09-02 20:34] #6025 closed, assigned to pragnagopa

[2020-09-02 20:34] jzabroski commented on #5894
Correct.  The same more or less goes for Azure App Service.

[2020-09-02 20:49] pragnagopa commented on #6534
@soninaren  please follow up with @brettsam.

[2020-09-02 20:49] pragnagopa commented on #6536
@soninaren  please follow up with @brettsam.

[2020-09-02 21:16] #5787 closed, assigned to mhoeger

[2020-09-02 21:31] #6431 closed, assigned to ankitkumarr

[2020-09-03 00:13] pragnagopa opened #6592 "Plan for auto-upgrade"
cc @fabiocav @anthonychu

- Send notifications to apps using breaking api in .Net 3.1 (done)
- Update build to copy 3.0.xxxx contents to 2.1.xxxx - this will be used in windows deployment.
- Start pinning identified apps using breaking api to ~2.0

[2020-09-03 01:29] cgraus opened #6594 "Service Bus Function processing same message over and over (hundreds of times)"
I have an Azure function which I just updated to look like this:

  public void Run([ServiceBusTrigger("xxxx", Connection = "ServiceBusConnectionString", IsSessionsEnabled = true)] Message message, ILogger log, IMessageSession messageSession)

I did this so I could do this:

  var rec = messageSession as MessageReceiver;

            if(rec != null)
            {
                rec.RetryPolicy =

[2020-09-03 10:00] Crossbow78 commented on #6568
Note that we get the same error with the Az CLI tools, which introduced `functionapp keys` management in a recent version. This both happens locally and in the Azure Portal cloud shell.
Also the Azure portal itself does not seem to list any keys in the UI anymore.

When trying to 'list' the available keys in our functionapp, the error response in the Az CLI is:
[code]

**Edit (24-09):** It turned

[2020-09-03 11:18] Geraint87 commented on #5240
I am also getting this error. Same set up in two different environments: one works but I get this error on the other. Durable Functions talking to Azure Storage (no Service Bus, Event Hub/Grid, nor Telemetry Client as in some cases above)

[2020-09-03 12:16] gabrielweyer opened #6596 "Register an unconfigured TelemetryConfiguration when App Insights instrumentation key is not present"
#### What problem would the feature you're requesting solve? Please describe.

[Log custom telemetry in C# functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?tabs=cmd#log-custom-telemetry-in-c-functions) recommends to inject `TelemetryConfiguration` in order to be able to emit custom telemetry. The runtime registers `TelemetryConfiguration` only when an Applicat

[2020-09-03 14:49] Zenuka commented on #5240
We're getting this on a `CosmosDBTrigger`, `OrchestrationTrigger` and a `ServiceBusTrigger`. Not all the time but sometimes just a bunch of them (+/- 20). After a that, everything seems fine for a couple of hours maybe a day. Running 2.2.2.

[2020-09-03 16:16] amogh79 commented on #6569
Do you have any updates on this please?

[2020-09-03 17:58] brettsam opened #6598 "AssemblyLoadContext race in fallback logic"
We've got a race in the `FunctionAssemblyLoadContext` when we try to load assemblies from multiple threads at once. Internally, we're using a `ConcurrentDictionary<string, object>` to maintain state -- it tells us whether a certain assembly is currently attempting a load and if so, we can ignore it in our fallback logic. Every call to load will add it's AssemblyName.Name to this dictionary, then r

[2020-09-03 18:47] ModernRonin commented on #6557
Even if you could just make your internally used register functions public (and give a hint which they are), this would already be great - then, if needed, we could wrap that API into whatever more comfortable form desired.

[2020-09-03 19:28] brettsam commented on #5098
I haven't been able to investigate yet -- but I've moved it to the next sprint so it comes back on @fabiocav's radar.

[2020-09-03 19:28] brettsam commented on #6556
No, doesn't need to make it in for this sprint -- will bump it.

[2020-09-03 20:36] brettsam commented on #6596
This is for local development, right? I do agree the current scenario is less-than-ideal and I typically recommend that people use "abc" as the instrumentation key.

One note -- we need to make sure that anyone that registers an `ITelemetryInitializer` is able to see it being hit while they debug locally so registering an empty `TelemetryConfiguration` may not be the best. Maybe we could register

[2020-09-03 21:40] FinVamp1 opened #6599 "Java Allocations and Startup times in Relation to Placeholder specialization"
#### Investigative information

From IcM 202612230 opened for a CSS customer.
(See internal link for more information)

#### Repro steps

1) Java App in North Central US.
2) HTTP Trigger called from Azure Data Factory
3) Start up times are affected.

#### Expected behavior

The Java App should start promptly

#### Actual behavior

There is a delay in Startup and it's related to Placeholder logic.

[2020-09-03 21:43] pragnagopa commented on #6599
@amamounelsayed - please investigate. If issue in the Java worker - please move it java worker repo.

[2020-09-03 21:46] mattjohnsonpint opened #6600 "Can't create Linux Premium app in West US 2"
When I try to create a new Linux Azure Functions app using the Premium EP1 plan in West US 2, I get the error:

I've done this before without error.  This time is no different, but fails now for some reason.

West US 2 is on the list, so this should work - yes?
https://azure.microsoft.com/en-us/updates/functions-premium-region/

I read this: https://github.com/Azure/Azure-Functions/wiki/Creating-F

[2020-09-04 00:29] madelinegordon commented on #4363
I was able to reproduce the error - it appears that using Functions version  2.0.14248.0 (with the new API's expected), the issue persists. Filing as a bug.

[2020-09-04 07:58] horihiro opened #6601 "[CustomHandler]Set HttpClient.Timeout property functionTimeout value"
#### Investigative information

Please provide the following:

- Timestamp:2020-09-04 04:29:08.9819139
- Function App version: 3.0.14287.0
- Function App name: denofunc-lnx-c
- Function name(s) (as appropriate): hello_world
- Invocation ID: a98cceda-39f4-4acc-946e-d0ad732f0309
- Region: West US 2

#### Repro steps

Provide the steps required to reproduce the problem:

1. Deploy following HTTP Trig

[2020-09-04 07:58] horihiro commented on #6601
cc @pragnagopa

[2020-09-04 11:52] v-anvari commented on #6504
Hi @prabh-62 , As this issue is being addressed in [#6555](https://github.com/Azure/azure-functions-host/issues/6555), are we good to close this issue as it is a duplicate. Please let us know if you are looking out for a resolution here.

[2020-09-04 14:59] brettsam commented on #4861
@SimonLuckenuik -- I know this is old -- but have you seen this issue again?

[2020-09-04 15:08] brettsam commented on #6500
I've gone ahead and filed a doc issue for this -- so we can get this cleared up there. Thanks for pointing this out.

Doc issue: https://github.com/MicrosoftDocs/azure-docs/issues/62110

[2020-09-04 15:08] #6500 closed, assigned to brettsam

[2020-09-04 15:17] SimonLuckenuik commented on #4861
@brettsam I cannot confirm, I am not working anymore on the project where it was occurring.

[2020-09-04 15:28] pragnagopa commented on #6459
Closing this issue.  @buzzaII - please post any questions on announcement discussion issue here: https://github.com/Azure/app-service-announcements-discussions/issues/175 Thanks!

[2020-09-04 15:28] #6459 closed, assigned to ankitkumarr

[2020-09-04 16:00] ghost commented on #6533
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-04 16:40] prabh-62 commented on #6504
This issue is more closely related to https://github.com/Azure/azure-functions-host/issues/6503 .You can close this as I am not sure if we can achieve this behavior in Azure Functions

[2020-09-04 18:07] v-anvari commented on #6504
Thank you for the confirmation

[2020-09-04 18:07] #6504 closed, assigned to nobody

[2020-09-04 18:51] ConnorMcMahon opened #6602 "HTTPS requests on Linux dedicated and Linux Premium apps appear as HTTP"
This was brought to my attention by [this issue](https://github.com/Azure/azure-functions-durable-extension/issues/1446) filed in the Durable Functions repo.

In general, the SSL termination for Azure Functions on most of our infrastructures happens at the frontend. For Windows, an IIS module properly translates the request to "https" by looking at the forwarded headers. For Linux Consumption, it

[2020-09-04 19:00] ghost commented on #6550
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-04 20:33] #6588 closed, assigned to pragnagopa

[2020-09-04 21:11] whatisalwaystrue commented on #5090
setting `CORS_ALLOWED_ORIGINS='["http://localhost","http://some.other.origin"]' -e CORS_SUPPORT_CREDENTIALS=true` **COULD** work.

However it appears that the CORS middleware is only run  ` if(environment.IsLinuxConsumption())`  which doesn't seem applicable to a self-hosting use case.

Would it be reasonable to add an `environment.ShouldRunCors()` extension method to check the values of CORS_ALLO

[2020-09-04 21:15] mattjohnsonpint commented on #6600
FYI, it works in West Central US.  It just doesn't work in West US 2.

I have other resources in West US 2 this function would need to connect to, and would prefer to stay there to avoid excessive latency and egress costs.

[2020-09-04 21:36] mhoeger commented on #5090
@kashimiz - do you know if the above is a viable solution or does it need more exploration?

[2020-09-05 00:47] mattjohnsonpint commented on #6600
I ended up re-building my whole environment in East US 2, and everything is working there, so I am unblocked.

It would, however, still be good to either get West US 2 working, or to at least update the docs.  Thanks.

[2020-09-05 01:00] #6570 closed, assigned to soninaren

[2020-09-06 07:35] anthonychu opened #6606 "[Custom handlers] HTTP query and identities are serialized"
This is the payload sent for an http trigger:

[code]

`Query` and `Identities` should be objects, not strings.

@pragnagopa @yojagad

[2020-09-06 07:48] anthonychu opened #6607 "[Custom handlers] Log response if handler returns non-JSON response"
Sometimes a web server can blow up and return a response that's not JSON, instead it's some HTML or error message. This is common for 4xx and 5xx error pages, but I also ran into this with warnings in PHP that get mixed into the response:

[code]

When this happens, the host logs an error like this because it can't parse the handler's response:

[code]

In this situation, can we log the handler's

[2020-09-06 07:57] anthonychu opened #6608 "[Custom handlers] Add ability to specify level for each log message"
Currently custom handler logs are an array of strings. Is it possible to allow setting the type (Error, Warning, etc) of the log message?

We could accept objects instead of strings. But this would be a breaking change.

Another possibility is to support prefixing the string with the level. Something like:

[code]

@pragnagopa @yojagad

[2020-09-06 15:07] pragnagopa commented on #6601
cc @yojagad @anthonychu

Thanks for reporting the issue.

By default, Timeout property on HttpClient is 100,00ms (10s).
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.timeout?view=netcore-3.1

We need to set the timeout on httpClient to `functionTimeout` value. Also,  if invocation fails due to timeout on httpRequest, failure is raised as `OperationCanceledException`. This

[2020-09-06 21:30] horihiro commented on #6601
Thanks @pragnagopa !

I'm looking forward to setting `functionTimeout` value for the httpClient.
Of course, I know there is no ETA for this preview feature

Is [this](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Http/DefaultHttpWorkerService.cs#L22) httpClient you mentioned?

[2020-09-07 06:35] ThejaChoudary commented on #4861
@SimonLuckenuik proceeding to close the case ,please feel free to reach out to us if you have any further queries.

[2020-09-07 06:35] #4861 closed

[2020-09-07 06:49] ThejaChoudary commented on #5798
@vkurmi Proceeding to close the Issues,please feel free to reach out to us for further queries.

[2020-09-07 06:49] #5798 closed, assigned to kashimiz

[2020-09-07 06:50] ThejaChoudary commented on #5847
@kashimiz can you please look into this further.

[2020-09-07 07:00] ThejaChoudary commented on #6137
@fabiocav can you please look into this further.

[2020-09-07 09:13] SimonLuckenuik commented on #4861
It's sad to see that the problem was acknowledged, identified internally but followed-up one year later. I believe that when you have customers investing time to reporting an issue in order to enhance a paid product, the minimum is to follow-up or acknowledge the problem in a timely manner.

[2020-09-07 09:13] v-anvari commented on #6600
Hi @mj1856 , Thank you for bringing this out to us. We are able to reproduce this issue and we are further tracking down to check the root cause. We will update the documents if the feature is not yet supported.

[2020-09-07 09:46] petrkoutnycz commented on #4263
I'm seeing the same issue for App service running on Linux.

[2020-09-07 10:45] ThejaChoudary commented on #4861
@SimonLuckenuik Sorry for the delay,we missed it somehow to follow up will make sure not to repeat it again.

[2020-09-07 10:49] v-anvari commented on #6485
Hi @alejandromelis, apologies for the delay, we are trying to reproduce the issue, request you to send us the function app name and function name to v-anvari@microsoft.com, for us to check the logs during that timestamp

[2020-09-07 10:58] rudfoss opened #6609 "Prevent npm install for JavaScript functions"
We are attempting to use puppeteer in an Azure Function to produce PDFs using Chromium. We have a mono-repo setup that uses `yarn` to manage dependencies and we need to install puppeteer along with a `package.json` file in production in order for `puppeteer` to pick up the Chromium install.

The problem is that according to [this documentation](https://docs.microsoft.com/en-us/azure/azure-function

[2020-09-07 12:18] ThejaChoudary commented on #6552
@yojagad Able to repro the issue,Can you please look into this further.

[2020-09-07 18:31] Francisco-Gamino opened #6610 "Update profile.ps1 template to set Disable-AzContextAutosave scope to process instead of current user"
Update the profile.ps1 template to include the following for the `Disable-AzContextAutosave` call.

[code]

[2020-09-07 19:00] #6533 closed, assigned to madelinegordon, v-anvari

[2020-09-07 20:50] matses commented on #364
any updates on this?

[2020-09-07 22:00] #6550 closed, assigned to pragnagopa, v-anvari

[2020-09-07 22:13] anthonychu commented on #6609
@rudfoss Can you share more details about the build/deploy process you'd like to use? The docs you pointed to probably require a bit of updating as it appears to be specific to deploying to Windows. For now, we can help you figure out what works best for your situation.

The first thing to keep in mind is that headless Chromium currently only works in our Linux environments (this was recently adde

[2020-09-07 22:45] anthonychu commented on #6550
@mhoeger Looks like we can set an environment variable `languageWorkers__node__arguments` with the value of something like `--max-http-header-size 20000` and this passes the flag to Node when starting the worker locally. Do you know if this has any effect when deployed to Azure?

@luthv Do you have an example of an API call that returns headers > 8KB that we can test this with?

[2020-09-08 04:46] luthv commented on #6550
Unfortunately not anymore, it was a WordPress woocommerce server and the offending plugin was the NicePay plugin which for some reason use the headers for error messages about configuration problem.
I contacted the web developer and have them fix the config from their side.

[2020-09-08 06:28] rudfoss commented on #6609
Hi @anthonychu! Thanks for getting back to me so quickly. I've read your answer and unfortunately I don't think we can easily rewrite our pipeline to support this. I'll explain our pipeline in more detail:

## Code structure
Our code is structured in a monorepo using `yarn workspaces`. In essence this means our project folders look like this:
[code]
Each package is basically a separate node projec

[2020-09-08 07:14] anthonychu commented on #6609
Glad you got it to work. I think I understand what you're doing and why it works. That's a pretty non-standard setup so, as you've discovered, you're more or less on your own when it comes to figuring out how to deploy it.

I'm not super familiar with the Azure DevOps task, but you should be able to build everything as you like it in your pipeline, then zip it up and deploy it without running a re

[2020-09-08 07:29] rudfoss commented on #6609
I kind of agree and then kind of not ;)

The thing is we don't want to use the Visual Studio Code deployment tools as we want our builds to run through our build pipeline with does testing and validation as well. Having individual devs deploying code directly to Azure Functions in production is also not a feasible scenario. So from that alone we must drop the direct deployment extensions.

Our bui

[2020-09-08 07:40] anthonychu commented on #6609
100% agree that you want your pipeline to deploy the app and I'm not suggesting you do anything different. What I am hoping for is that you can configure the pipeline to build the app as you'd expect it to run in Azure (with node_modules at the app root and containing all necessary dependencies). Then the pipeline can take that artifact and simply deploy it without triggering a remote build. This

[2020-09-08 07:51] rudfoss commented on #6609
Great! That is exactly what I was hoping we could achieve.

I totally agree that the `process.chdir` line is a hack so getting rid of it would be great. Ideally I'd like to bundle puppeteer with webpack as well and just have Chromium install as a standalone thing, but I get why that could be more trouble than it's worth.

We'd still like to bundle with webpack as we do as our build process has a r

[2020-09-08 08:49] johannesoenema commented on #5014
@brettsam and @fabiocav Any update on this issue?

[2020-09-08 15:13] pragnagopa commented on #6608
Adding support to prefixing would mean that we would be doing a string parse on each log to figure out the level - this could be perf impact.

Another option
- Leave `Logs` as strings - default to info level
- Introduce objects for logs with log level - this change will be backward compatible.

@anthonychu  - Can you please share design proposal for introducing LogLevel? Also, please do assign a p

[2020-09-08 15:46] MateRadz commented on #5405
Any update on this issue? Setting FUNCTIONS_V2_COMPATIBILITY_MODE to true does not work. What is frustrating is that it works when invoked from the Test/Run form in the portal, but does not work via Postman.

[2020-09-08 17:11] v-anvari commented on #6433
Hi @Y07yoyo , There has been few fixes made on triggers lately, which should have fixed this issue by now. Let us know if you are still facing the same issue with timer trigger.

We have tried to reproduce the issue, but the timer trigger is working as expected and on time. We also tried to produce the logs for your function app "DDILabs", but seems like the app doesn't exist anymore or has been s

[2020-09-08 17:29] anthonychu commented on #5405
I was able to repro this with @myarotskaya's repo. Looks like the problem has to do with model binding reading the body stream. By the time the function executes, there's nothing left to read. @fabiocav @pragnagopa Is this the desired behavior for v3? Feels like this is a bug if there's no other way to get access to the request body in this scenario.

@bstoked @TMUNYU @DanielTongAwesome @MateRadz

[2020-09-08 17:34] RillistikPete commented on #4914
Same here. I have been using Core Tools 2.7 and all of a sudden I'm getting
` Can't determine project language from files. Please use one of [--csharp, --javascript, --typescript, --java, --python, --powershell]`

[2020-09-08 17:55] MateRadz commented on #5405
I do not knot your internal schedule but for me it is a new issue as my function without any change in code worked for several days until the last ok at 25.08.2020, 13:15:05.009. The next call at 25.08.2020, 19:16:20.619 (UTC) was the first not working an it is like this till today. So for me it may have been related to your internal updates, if there where any. As mentioned when called directly f

[2020-09-08 21:36] fsalmeida commented on #5098
I've been facing the same problem and I've found a workaround.
While I was testing some scenarios, I found out that the problem only happens on classes that expect the HttpClient as DependencyInjection.
For example:

`
public class SomeClass
{
    private readonly MyHttpClient myHttpClient;
    private readonly MyScopedDependency myScopedDependency;

    public SomeClass(MyHttpClient myHttpClient,

[2020-09-08 21:56] GuhBigardi commented on #5098
\o/ It worked for me, thank u @fsalmeida, but I hope that fix coming soon :)

[2020-09-08 22:32] brettsam opened #6619 "Cannot find native assemblies when publishing a specific runtime target"
When you publish with a specific runtime target like `win-x86` or `win-x64`, the published output does not contain the `runtimes` folder and instead the native assemblies exist right in the `/bin` folder. We have code that should be handling this here: https://github.com/Azure/azure-functions-host/blob/dedb37c0f6b03073d82f903378e3023055ee90a4/src/WebJobs.Script/Description/DotNet/FunctionAssemblyL

[2020-09-08 22:35] brettsam commented on #6619
Note that this became noticeable in 2.0.14192 when the Functions host took a dependency on Microsoft.Azure.Cosmos.Table, which has a dependency on DocumentDB.Core, which has a native assembly. When it's not found, it returns the host's native assembly, which is incorrect and results in an exception with a stack like:

[code]

[2020-09-08 22:37] brettsam opened #6620 "Exception with Cosmos GetPartitionedQueryExecutionInfoInternal in Functions 2.0.14192 and higher"
You can hit this exception when:
1. Publishing a project with Microsoft.Net.Sdk.Functions 1.0.29 or earlier.
2. Also having .NET Core 3 installed on the build machine.

If .NET Core 3 is installed, it changed some assumptions about MSBuild properties that we were using so we had to work around it. [This fix happened in 1.0.30](https://github.com/Azure/azure-functions-vs-build-sdk/pull/361). The is

[2020-09-08 23:05] #6610 closed, assigned to nobody

[2020-09-09 00:18] abhiyadav1323 opened #6622 "DryIoc.ContainerException causes lots of azure function to fail few times every day"
We see few `DryIoc.ContainerException` failures throughout the day in multiple azure functions in both our test and prod bed. So, I am hoping to get some guidance on figuring out why these failures are happening and what can we do to stop/reduce them.

#### Investigative information

- Timestamp: 2020-09-08T22:13:12.0028507Z
- Invocation ID: 5f7fe852-f2f8-45ae-b6bf-84478fd64b71
- Region: West US 2

[2020-09-09 00:20] pragnagopa commented on #6606
@anthonychu  - flagging this as breaking as this a minor breaking change. Assuming we are ok with this. Sent a PR.

[2020-09-09 00:50] anthonychu commented on #6606
Yep ok with this being breaking as this is needed for consistency. What’s the best way to let customers know?

[2020-09-09 12:42] mpaul31 commented on #5240
i also just encountered this yesterday during a durable function execution.

[2020-09-09 17:49] pragnagopa opened #6631 "[V2][CustomHandler]Set HttpClient.Timeout property functionTimeout value"
Port fix of #6601

[2020-09-09 23:38] #6601 closed, assigned to pragnagopa

[2020-09-09 23:38] #5110 closed

[2020-09-10 11:22] adharbert opened #6635 "Azure function timer triggers aren't working"
I have 2 functions on the same app service.  I have it so they are supposed to execute one at 3 am and the other 6 am.

I originally only had one function that worked fine.  Always executed at the same time.  When I added the new function, I find that neither of them execute when they're supposed to run.  Every day, I open up portal to see if they run (under functions / monitor),

What is very odd

[2020-09-10 11:22] v-anvari commented on #6485
hi @alejandromelis, We have reproduced the scenario, but http trigger worked as expected. The issue you faced might be timely errors. Let me know if you are still facing the same issue. If yes, let me know your app name, region and time stamp to check the logs.

[2020-09-10 14:00] brettsam opened #6636 "Add test to alert us to handle dependency changes"
If a dependency of ours adds, removes, or changes one of it's dependencies, this can have an effect on running .NET apps. We need to have a test that will alert us when this happens so we can do the right thing, which sometimes means re-adding the dependency to the WebHost ourselves.

[2020-09-10 15:48] anthonychu opened #6637 "[Custom handlers] Provide a way for HTTP forwarded requests to write logs associated with the invocation id"
Currently, if `enableForwardingHttpRequest` is true, the only way to for pure HTTP functions to write logs is stdout. stdout logs are not associated with an invocation id. Can we provide a better way to log in this scenario? For instance, can logs be returned as response headers?

[2020-09-10 17:02] krishnasingh1818 opened #6638 "best practice for number of function triggers in one azure functions project"
#### latest azure function v3

#### c#

#### what is the best practice for number of azure functions in your project for azure functions in consumption plan
 i have a project with already 20 azure functions (most of them service bus striggers) which are reading message doing some dbquery and then saving to db.  If i keep adding more azure functions (backend jobs, more servicebus trigger functions

[2020-09-10 17:33] v-anvari commented on #6635
Hi @adharbert , we tried to reproduce the scenario in "Australia east" and it is working as expected from our side.

We need additional information given in the issue template to understand the root case. Kindly, let us know the location, time stamp, and function app name of your function app.

It would be helpful if you could give us the repro steps, so that we can clone the scenario.

[2020-09-11 10:32] v-anvari commented on #6638
Hi @krishnasingh1818 , you were right, more number of functions in a single app will put more load on CPU and memory since they will all share the same  resources. It may or may not necessarily cause a shortage of ports - it depends on whether the many functions are connecting to the same or different endpoints. More functions in a function app may also have an impact on cold-start. It's very simi

[2020-09-11 14:55] brettsam commented on #6534
The idea here is that we'd have another bucket of errors/warnings on the status report back to the portal. The first two interesting things specifically around logging that we can store here:
1. You have sampling enabled in App Insights.
2. We're unable to connect to App Insights (either wrong key or some networking/VPN issue) -- need to figure out right way to determine this from App Insights.

@

[2020-09-11 15:22] pragnagopa commented on #6606
I have updated release notes as part of the PR. I will also include in a note in the release announcement.

[2020-09-11 16:37] NoelOConnell commented on #4914
We are experiencing this issue, as well.

We are using `Mediatr` with Azure Functions.
We have a service registered as `Scoped` but we can see that on approximately every 3rd function run the `Scoped` service is being initialized twice.

[2020-09-11 16:45] pragnagopa commented on #6631
Addressed in linked PR.

[2020-09-11 16:45] #6631 closed, assigned to pragnagopa

[2020-09-11 16:51] pragnagopa opened #6640 "[V2][Custom handler] Log response if handler returns non-JSON response"
Port fix for #6607

[2020-09-11 16:51] danspark commented on #6557
Maybe you should look into [Function Monkey](https://github.com/JamesRandall/FunctionMonkey). I haven't used it myself, but I've done some reading about it, and it allows you to register your functions on startup with a "MediatR"-style programming model.

[2020-09-11 16:51] #6607 closed, assigned to pragnagopa

[2020-09-11 16:56] fabiocav commented on #6534
It makes sense to augment (not modify) the existing API with those details. One thing we'll need to discuss is persistence for those errors across instances and restarts. Currently, the error information is kept in memory, for a single node only, and that wouldn't be enough to support the scenarios we need to address with this change.

[2020-09-11 17:21] ehamai commented on #6536
Hey guys,

Sorry for the delay.  Here's a rough sketch below of the experience we'd like to build which I think has changed a bit since the original ask was made.  Basically, we'd like to be able to show users a quick top-level status of their functions without needing App Insights because:

1. Not all customers want to use AI and requiring it of them just to get a quick status view of their app s

[2020-09-11 17:32] ehamai commented on #6534
Thanks @fabiocav, I think I agree with you.  Basically we're already calling the /host/default/properties/status API to get a list of runtime statuses which is driving some of the red notifications you see on the Function app overview blade.  I look at this as being the new (and hopefully better) red box that we used to see all the time in the old Functions portal experience.

If we add more error

[2020-09-11 18:08] #6598 closed, assigned to brettsam

[2020-09-11 18:42] adharbert commented on #6635
I will try to describe the setup best I can, I wish I could do a screen share :-)

**First part, Code:**

- I created the functions to use env variables to fire off.  When I have only one, it seems to work fine.  Now that I added 2 more function methods, they appear to 1. not fire off at all at the correct time and 2. Fire off together, even though they are scheduled a few hours apart.

- Here is

[2020-09-11 19:24] pragnagopa opened #6643 "Enable test ValidateContext_InvalidZipUrl_WebsiteUseZip_ReturnsError"
cc @brettsam

Investigate test failure: ValidateContext_InvalidZipUrl_WebsiteUseZip_ReturnsError

Disabled the test and builds are blocked.

[2020-09-11 19:30] brettsam commented on #6643
FYI -- I suspect it's b/c http://invalid.com/invalid/dne used to return a 404 and now the site doesn't appear to exist at all.

[2020-09-11 20:29] paulbatum commented on #1431
@pcgeek86 Can you let us know if you're still having a problem with this? We recently deployed some of the changes that were discussed above.

[2020-09-11 20:53] yojagad opened #6644 "[CustomHandler]Ensure HttpOutputBinding response is valid JSON"
- Throw error if output is not a JObject (to match the behavior with other out of proc behaviors today).

- Body of the output should be handled as a dynamic object so that no implicit .net type conversions happen during serialization and deserialization.

Above behavior specifically affects the ProcessDefaultInvocation codepath.

cc: @anthonychu @pragnagopa

[2020-09-11 21:06] #6619 closed, assigned to brettsam

[2020-09-11 21:06] #6620 closed, assigned to brettsam

[2020-09-11 22:45] #6644 closed, assigned to yojagad

[2020-09-11 23:13] #6606 closed, assigned to pragnagopa

[2020-09-11 23:14] pragnagopa opened #6645 "[V2][CustomHandler]HTTP query and identities are serialized as strings"
Port fix for  #6606

[2020-09-12 00:24] abhiyadav1323 commented on #6622
Hi @pragnagopa, @brettsam, @fabiocav  , would it be possible for you guys to provide a brief explanation as to why this is happening? We have an azure function based infrastructure for Microsoft Sports and we see this exception almost every day across all azure functions across all apps in both test and prod environment which sometimes causes us to miss updates during live games.

[2020-09-12 06:30] ThejaChoudary commented on #6329
@pragnagopa Can you please look into this further.

[2020-09-12 06:33] ThejaChoudary commented on #6380
@fabiocav can you please look into this further.

[2020-09-12 19:00] ghost commented on #6433
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-12 21:15] bran-ch commented on #6549
Looks like it's probably caused by this method in `ExtensionsMetadataGenerator.cs`

[code]

I guess the small fix would be to skip files that start with `System.` instead

[2020-09-13 13:03] klenium commented on #5865
Can confirm too, however I'm using a real storage account.

[2020-09-14 05:58] vsub21 commented on #6051
Hi @brettsam, I found a workaround that allowed me to accomplish my goal without the dependency on ```ffmpeg``` itself. I did not yet test this particular scenario out using the Azure CLI, so the read/write/executable permissions may still be an issue with Github Actions deployment to Azure Functions. If I get a chance to test it out in the future, I'll update here.

[2020-09-14 09:44] ThejaChoudary commented on #6594
@cgraus can you please provide us the repro steps and name of function app, time stamp & region?

[2020-09-14 10:48] ThejaChoudary commented on #6502
@prabh-62 you can certainly use one of the other depending on whichever one suits better for your unique requirements.
While HttpRequest [API ](https://docs.microsoft.com/en-us/dotnet/api/system.web.httprequest?view=netframework-4.8&viewFallbackFrom=netcore-2.2)provides more properties & granular info about the request directly,HttpRequestMessage [API ](https://docs.microsoft.com/en-us/dotnet/api/

[2020-09-14 13:00] ghost commented on #6485
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-14 13:26] prabh-62 commented on #6502
Does this mean Azure Functions team is keen on fixing these kind of issues? https://github.com/Azure/azure-functions-host/issues/6486

[2020-09-14 16:31] mathewc commented on #6643
That is supposed to be an invalid URL - that's what the test is verifying, a download failure. This test passes on my box. What failure do you see when running it @pragnagopa ?

[2020-09-14 16:57] brettsam commented on #6643
It's specifically testing that the status code returned is `NotFound`. Last week it seemed like something in the request was failing really early (it wasn't even getting a status code back). Clicking that link in the browser also failed with something error code like "name_not_found" (it wasn't that -- but I can't repro it now obviously).

But now it works. I guess the point is -- if possible, we

[2020-09-14 17:01] fabiocav commented on #6622
@abhiyadav1323 this could happen for a few different reasons, so it's hard to diagnose without looking more closely at the details of how you're using the services. The vast majority of cases with this issue we review are caused by function code holding onto services beyond their lifetime scope (e.g. a function execution caching a service/factory or the service provider across different invocation

[2020-09-14 17:19] mathewc commented on #6643
Ah, I see. The test should probably be updated then to just use a new guid for the host name on each invocation then or something :)

[2020-09-14 17:28] mattchenderson commented on #6573
The [Azure App Configuration](https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview) service might be of interest. It's not quite what's being asked for here, but it can help with some of the challenges.

Because this is in effect asking for a new service, I'm not sure this repo is the right place to track the issue. My recommendation would be to open something on feedback.azure.

[2020-09-14 17:31] balag0 commented on #6643
For the test scenario, the url has to return 404 specifically and not just be unreachable so random hostnames dont help. I think I got that url from somewhere as an easy way to get 404 status codes. Looks like that site went down temporarily for sometime causing the test to fail differently. I will create a web app in my subscription that returns 404 so we have more control on the endpoint.

[2020-09-14 17:52] brettsam commented on #6643
Can you mock the Http call?

[2020-09-14 18:00] fabiocav commented on #6380
Assigned the issue in the SDK the the upcoming milestone.

You can track the work by following: https://github.com/Azure/azure-webjobs-sdk/issues/2522

[2020-09-14 18:03] pragnagopa commented on #6558
Need to remove  2.0.13351 from RU feed as soon as fix for this issue is rolled out.

[2020-09-14 19:36] zmarty commented on #6622
@fabiocav We do use DI singletons for cosmos db clients, http client factory, etc. as per [recommendations](https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections#static-clients) in the Azure Functions documentation. What information do you need to debug this further?

[2020-09-14 21:58] cgraus commented on #6594
The issue was that my process was taking longer than 5 minutes, it was about 500 inserts into CRM.  So I changed the code to cancel the message so it doesn't get resent.  Finding accurate documentation is always difficult because things change all the time, but finally I found this injection signature:

Message message, string lockToken, IMessageSession messageSession)
        {
            // Man

[2020-09-14 23:01] ishepherd commented on #6137
+ @jeffhollan you might have a quick answer for this

[2020-09-14 23:05] jeffhollan commented on #6137
The UX has been updated - this "Enforce scale out limit" dial will set a per-app mx

![image](https://user-images.githubusercontent.com/7132626/93146597-183de380-f6a4-11ea-8e09-9f7d0a7548bf.png)

[2020-09-14 23:08] ishepherd commented on #6137
@jeffhollan Awesome thanks - So that updates ARM functionAppScaleLimit, I'm guessing? https://github.com/MicrosoftDocs/azure-docs/commit/e4e68ce7b50b701bf2c7fc18b32759015dddd8c8

[2020-09-14 23:17] soninaren commented on #6594
@cgraus thank you for the detailed response.

[2020-09-14 23:17] #6594 closed, assigned to nobody

[2020-09-15 03:17] jwisener commented on #5240
We too are getting this exception.  @brettsam  does anyone know what the issue might be?

[2020-09-15 07:01] anthonychu opened #6649 "Warn if startup code should be using IFunctionsConfigurationBuilder instead"
Detect that app is replacing IConfiguration that was registered by host and display warning. @brettsam @fabiocav

[2020-09-15 07:03] anthonychu commented on #6649
#4577

[2020-09-15 07:07] anthonychu opened #6650 "Detect if assembly couldn't be loaded because it was trimmed from build output"
Point customer to the proper way to resolve this, including possibly adding `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` to csproj. #5894

[2020-09-15 10:06] wpitallo commented on #1864
I have a webapp running azure functions and I am getting this everytime I restart the webapp or swap slots.

2020-09-15T10:01:12Z   [Error]   Singleton lock renewal failed for blob '.../host' with error code 409: LeaseIdMismatchWithLeaseOperation. The last successful renewal completed at 2020-09-15T10:00:47.566Z (24432 milliseconds ago) with a duration of 3 milliseconds. The lease period was 15000

[2020-09-15 10:24] v-anvari commented on #6600
Hi @mj1856 , according to the team, this issue is because of a bug in geo master which will be fixed in the upcoming deployment. Let us know if you still have any queries related to this issue, or we are good to close this issue.

[2020-09-15 13:59] gzuber opened #6651 "Support for Application Insights in the Azure Government Cloud [v1.x]"
This is meant to represent the host side of the changes needed to make app insights work in government clouds in v1.

Related WebJobs issue: https://github.com/Azure/azure-webjobs-sdk/issues/2284

[2020-09-15 17:53] fabiocav commented on #1864
@wpitallo any other side effect? This may happen if the primary host changes and the lease is stolen by another instance.

[2020-09-15 18:13] wpitallo commented on #1864
Not that I am aware of at this stage.

[2020-09-15 19:00] ghost commented on #6638
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-15 21:26] #6651 closed, assigned to gzuber

[2020-09-15 22:00] #6433 closed, assigned to madelinegordon, v-anvari

[2020-09-15 22:13] mattjohnsonpint commented on #6600
Well, I'm doing fine in the other region, but I suggest leaving this open until you've verified it's fully resolved in West US 2.

[2020-09-15 22:21] yojagad commented on #6178
Closing this as this is merged and done.

[2020-09-15 22:21] #6178 closed, assigned to pragnagopa

[2020-09-15 23:35] fabiocav commented on #6551
@TsuyoshiUshio is the goal to drive a portal change? Did you check what the actual error was with this configuration in place?

/cc @pragnagopa

[2020-09-16 06:24] AnatoliB opened #6659 "Update PowerShell Worker to 3.0.552 (PS6) and 3.0.549 (PS7)"

[2020-09-16 07:16] AnatoliB opened #6660 "Update PowerShell Worker to 2.0.554"

[2020-09-16 11:07] plaiddk commented on #6559
@ankitkumarr what happens here? Is this a bug or what should be done?

[2020-09-16 11:23] mitchdenny commented on #5240
This just cropped up in my telemetry today (10 instances). Stack trace is:

[code]

My packages list is:
[code]

This was on an Event Hubs trigger.

[2020-09-16 12:07] piotrzbyszynski opened #6663 "System.EntryPointNotFoundException"
I have a Service Bus triggered function, that throws tons of System.EntryPointNotFoundException after being started / restarted. After a few minutes, everything settles down, and then function runs without exceptions

#### Investigative information

Please provide the following:

- Timestamp: 9/14/2020, 11:38:40 AM
- Function App version: 3
- Invocation ID: a762a467-9087-4f7f-b2bf-dd73e1efc732
- R

[2020-09-16 12:46] a-vishar commented on #3965
@jeffhollan - I have an open case with support (120061622003116).  If you require specific information to help you debug, please do reach out.

[2020-09-16 12:46] a-vishar commented on #6158
Any update on this?

[2020-09-16 13:14] shwars commented on #4374
@jtlz2 I have the similar problem described [here](https://github.com/Azure/azure-functions-python-worker/issues/720), and it was caused by not specifying "dataType": "binary" in `function.json` definition. If you specify this, extra encoding to utf-8 does not happen.

[2020-09-16 14:23] mike1880 commented on #5405
That's not true for me at least; the first time I tripped over this issue it was with a POST message

[2020-09-16 14:44] pragnagopa commented on #6551
This is a known issue on the UX and fix should be rolling out soon.

@takyyon - is there a issue tracking the fix that can be linked here? Also, ETA for the fix roll out? Thanks!

[2020-09-16 14:59] brettsam commented on #6555
We're going to move this to Sprint 85 as there are already 2 other AssemblyLoadContext issues going in this sprint and we'd rather spread them out to minimize any negative impact. The workaround will continue to work in the meantime.

[2020-09-16 15:47] v-anvari commented on #5782
@IanKemp , Let us know if you have any further queries related to this issue.

[2020-09-16 16:16] pragnagopa opened #6664 "Add support for funciton execution retries"
Consume WebJobs SDK changes made for https://github.com/Azure/azure-webjobs-sdk/issues/1597

Draft PR: https://github.com/Azure/azure-functions-host/pull/6603

[2020-09-16 18:18] #6659 closed, assigned to AnatoliB

[2020-09-16 18:25] mhoeger commented on #6583
Closing as done, tracking pt 2 (enabling templates) here: https://github.com/Azure/azure-functions-nodejs-worker/issues/333

[2020-09-16 18:25] #6583 closed, assigned to mhoeger

[2020-09-16 19:19] feverline commented on #5240
+1.  Not the first time we've seen this, but it occurred again for us in a durable function execution today.  Same stack trace as others have posted.

[2020-09-16 19:37] chuanqisun commented on #5663
We are seeing the same issue. Deployed from Azure DevOps with the built-in [pipeline task](https://github.com/Microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureFunctionAppV1/README.md). The function was stale after success deployment.

We use EP1 service plan.

As a workaround, manually stop > start it busts the old version.

We experience this issue inconsistently. The deployment is immediat

[2020-09-16 20:04] fabiocav commented on #6660
Closing as done.

[2020-09-16 20:04] #6660 closed, assigned to AnatoliB

[2020-09-16 20:15] fabiocav commented on #6542
Moving this to sprint 85

[2020-09-16 20:42] fabiocav commented on #6031
This is in validation, PR should be landing in sprint 85

[2020-09-16 20:48] fabiocav commented on #6534
Closing in favor of #6536

[2020-09-16 20:48] fabiocav commented on #6536
We need to ensure the requirements outlined in #6534 are in scope here.

[2020-09-16 20:50] jonarmstrong commented on #6031
@fabiocav

Thank you for your help! Is there anything I can help validate or test with this?

[2020-09-16 21:00] fabiocav commented on #3543
Assigning to sprint 85 for initial investigation.

[2020-09-16 21:29] ankitkumarr commented on #5663
I apologize! This has been slipping my priority list. I am taking a look at this now, and will have an update this week. I know @lopezbertoni shared a function app and the rough deployment time, and I am sorry for not making time to look at it earlier.

Would @chuanqisun or @lopezbertoni be able to share a recent timeframe window that the deployment failed, and the function app name that was deplo

[2020-09-16 21:30] ankitkumarr commented on #5663
Adding this to Sprint 85 (current sprint) to track and investigate the issue.

[2020-09-16 21:30] ankitkumarr commented on #6581
This was merged

[2020-09-16 21:30] #6581 closed, assigned to ankitkumarr

[2020-09-16 21:39] ankitkumarr commented on #6559
Brett assigned it to me to continue the investigation, and I didn't get a chance to follow up yet.

Could one of you share your function app name ([you can share it privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)) and the time frame when you saw the error? I wonder if something in your application (or some functions extension) doesn't work wi

[2020-09-16 21:41] pragnagopa commented on #6640
Closing as PR is merged.

[2020-09-16 21:41] #6640 closed, assigned to pragnagopa

[2020-09-16 21:48] pragnagopa commented on #6645
Closed as PR is merged

[2020-09-16 21:48] #6645 closed, assigned to pragnagopa, madelinegordon

[2020-09-16 21:50] lopezbertoni commented on #5663
@ankitkumarr Thanks for looking into this.
We've been just systematically/manually stopping and starting all azure functions.
One of them is **assessment-events-processor-qa**  deployed to a premium plan.

[2020-09-16 21:52] prabh-62 commented on #6559
@ankitkumarr Are you able to deploy a 64 bit Hello world azure function v3 app from your end?
Logged issue on VSCode extension repo as well: https://github.com/microsoft/vscode-azurefunctions/issues/2326

[2020-09-16 21:52] ankitkumarr commented on #6505
Sorry, @jonathanantoine, I am catching up to all of my assigned issues.

I imagine that you are asking if these issues can be caught during build time, as you can see the error during runtime? Please correct me if I am wrong. I am not sure if there's a way we'd be able to tell ahead of time. @brettsam / @fabiocav (DI experts) do you have thoughts on this one?

[2020-09-16 21:59] ankitkumarr commented on #5663
@lopezbertoni, can you share a recent time when you deployed? I will check the logs in case it didn't auto-update and if I find some symptoms of any issue.

[2020-09-16 22:05] lopezbertoni commented on #5663
@ankitkumarr
Latest QA release is from today (9/16 )

Some processor names:
assessment-events-processor-qa
person-events-processor-qa
notification-events-processor-qa

[2020-09-17 03:30] ocdi commented on #4192
I'm having a similar issue to this but very different circumstances. I have a blob trigger running on an Node 10 Functions 2 app, that does some analysis and then makes a call to an Elasticsearch cluster to index a document related to the blob. It also was doing some other HTTP requests to retrieve a data file from blob storage separately (using the @azure/blob-storage package).

In my limited res

[2020-09-17 09:15] stinejohans1 commented on #6137
Is there any other way then the azure cli to set the app property functionAppScaleLimit (and MaxConcurrentActivityFunctions, MaxConcurrentOrchestratorFunctions) in code or arm template for app services?

[2020-09-17 13:46] micklaw commented on #5312
Possibly flogging a dead horse here, but I am still seeing this issue, was there ever any solution to this?

It really does seem like Scoped dependencies are not always honoured through our request lifecycle.

@jeffhollan, this was marked as a P1 in Feb, it would be great if this was acknowledged or even closed with a description regarding best practice to work around.

Cheers

[2020-09-17 15:45] brettsam commented on #6505
Is there a reason that you removed the startup from extensions.json?

That file is auto-generated and tells the functions host where to look for Startups. I'm not sure there's anything we can do here short of re-scanning all assemblies at startup, which is a big hit on startup perf and the reason that extensions.json exists in the first place.

Maybe the error you get is bad so it's hard to debug?

[2020-09-17 16:00] #6485 closed, assigned to mhoeger, v-anvari

[2020-09-17 16:26] infact commented on #4263
`AI: Local storage access has resulted in an error (User: ) (CustomFolder: ). If you want Application Insights SDK to store telemetry locally on disk in case of transient network issues please give the process access to %LOCALAPPDATA% or %TEMP% folder. If application is running in non-windows platform, create StorageFolder yourself, and set ServerTelemetryChannel.StorageFolder to the custom folder

[2020-09-17 16:37] pragnagopa commented on #5821
Related issue: https://github.com/Azure/azure-functions-host/issues/6284

[2020-09-17 17:29] v-anvari commented on #6108
Hi @ewzluoc, Sorry for the delayed response, are you still facing the issue? If yes, can you please give the repro steps in detail, so as to clone the scenario. Can you provide the updated timestamp as well, for us to capture the logs.

[2020-09-17 17:56] mattchenderson commented on #5306
@mhoeger Supposedly this was resolved. Can you confirm and possibly close this out?

[2020-09-17 20:41] uprightbass360 commented on #5240
I have been struggling with the same issue. Under load, the function is throwing batches of these exceptions and dropping ServiceBus messages in the process.

Package list:

[code]

Exception:

[code]

[2020-09-17 20:46] jwisener commented on #5240
@uprightbass360 are you saying the messages are being consumed and not dead lettered? That would a huge problem for us. I am not seeing anything dead lettering. Are you peak locking the messages and they are getting lost? Because if that is the case I am going to have to open a critical bug with Microsoft support

[2020-09-17 21:37] uprightbass360 commented on #5240
@jwisener Correct, we have the trigger host setting set to autocomplete: true, which should still dead letter the messages as far as I am aware.  Our implementation of the trigger utilizes message batches which is why we are losing more than one at a time I believe.

[code]

[2020-09-18 09:39] v-anvari commented on #5861
Hi @ZippoLag , sorry   for the delayed response. From the request we understand that you are looking out for [runOnStartup](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#configuration) property. Please set the attribute in _function.json_ to   "_**true**_", and set the CRON expression to **_"0 0 0 * * *"_**

The binding will look something like the bel

[2020-09-18 10:59] tomgron commented on #5015
Could be useful for tests when trying to access headers and such that are only accessible through execution context.

[2020-09-18 13:29] klenium commented on #4234
I think this project will still park for a while.

But as a quick improvement, you could create an attribute that can be applied to classes, and it would "mark" all public methods as Function with the method's name. I found it useful to create a separated Endpoints/Triggers class and the actual business logic elsewhere. But every time I have to repeat `[FunctionName(nameof(<actual method name>)]`,

[2020-09-18 13:56] Adam4224 commented on #4234
Hi,

The issue is that constants are baked into referencing assemblies at
compile time, whereas read-only values are pulled from the referenced
assembly.

I also don't ever use enums. I was referring to a type-safe enum pattern,
where it would be possible to create an enum of Queue objects that would be
accessible in code, and be able to use these definitions for the methods as
well. Your current

[2020-09-18 16:19] paulbatum commented on #4234
You don't need to include the actual names of the queues in your code. We support a syntax where you reference an environment variable e.g.

[code]

Where an appsetting with name "input-queue-name" contains the name of the queue you want to use.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns#binding-expressions---app-settings

[2020-09-18 16:48] Adam4224 commented on #4234
Hi,

It would be really cool if you could just remove the compile-time
dependency to allow a runtime one instead. This way you're pushing
maintenance issues onto the consumer instead.

On Fri, 18 Sep 2020, 5:19 pm Paul Batum, <notifications@github.com> wrote:

[2020-09-18 16:51] paulbatum commented on #4234
Unfortunately this is not straightforward because functions needs to be able to monitor your event sources without your code running at all (otherwise we can't scale to zero).

[2020-09-18 18:15] alrod opened #6669 "Deployment of Functions using ARM template gives 'Bad Request' Internal Server Error"
When trying to publish a Azure Functions app and two functions using ARM template `BadRequest (500)` appears during creation of second function.

We have a race when creating functions using "[Microsoft.Web/sites/functions](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/sites/functions)" thought the ARM template. The thing is that creating the function app + functions in

[2020-09-18 19:05] uprightbass360 commented on #6622
This also looks to be related : https://github.com/Azure/azure-functions-host/issues/5240

[2020-09-18 19:45] pragnagopa opened #6670 "[Rpc]FunctionDispatcherState is incorrectly reset to WorkerProcessRestarting"
cc @safihamid @yojagad

This is a follow up from a CRI investigation.

- Node worker process is processing requests - responds to most requests within ms
- One of the invocation times out. Timeout is set to 30secs
- Node process restarts - this is be design
- `FunctionDispatcherState` is set to `WorkerProcessRestarting` - new invocations are on hold until new process is up
- New process starts - g

[2020-09-18 19:56] uprightbass360 commented on #5240
@jwisener We just filed a issue with them as well.

 After stumbling onto this issue and doing some searches on DryIoc.ContainerException this error looks to possibly be widespread ... Is there a possible method that someone can point to to enable WithCaptureContainerDisposeStackTrace(). I feel like if we had this we may have an inner exception to refer to.

[2020-09-18 20:41] safihamid opened #6671 "Add support in worker.config to specify number of worker process count or opt-in to set worker count to number of core available on the VM"
This came up while investigating some CRIs. The current default is one no matter how many cores are available on the VM.
And customers should be aware of the FUNCTIONS_WORKER_PROCESS_COUNT app setting to be able to increase their number of language workers for their specific scenarios.

For better throughput, the default should be set to the number of cores available. For Consumption  this will st

[2020-09-18 21:57] CasperWSchmidt commented on #3907
Any news on this feature?

[2020-09-18 22:00] #6638 closed, assigned to kashimiz, v-anvari

[2020-09-18 22:36] soninaren opened #6672 "Use workflow extension bundle when generating default host.json for logic app"
Use the following configuration when generating a default host.json in case we recognize the function app to be of kind logic app
[code]

[2020-09-18 22:39] soninaren opened #6673 "Function metadata manager is using stale function metadata for every other function restart"

[2020-09-19 02:35] anthonychu commented on #6671
@anirudhgarg @vrdmr @Hazhzeng @stefanushinardi FYI

[2020-09-19 06:40] #6573 closed, assigned to brettsam

[2020-09-19 07:02] Ma3yTa commented on #6573
@mattchenderson
environment (QA, staging, prod) separation can be achieved using Azure Service Fabric Mesh but looks like it doesn't support Azure Functions yet

[2020-09-19 10:40] klenium commented on #4234
Even more, the `FunctionName` attribute could be optional in general (without my class-attribute idea). You can detect functions based on their arguments too, because at least one `...Trigger` argument is required, which is detectable at code generation time, the name of the function can be the name of the method  by default.

[2020-09-19 16:33] prabh-62 opened #6674 "Roadmap for .NET 5 and Azure Functions V3"
#### What problem would the feature you're requesting solve? Please describe.
Azure Functions V3 project does not build with .NET 5 SDK

#### Describe the solution you'd like
Azure Functions V3 project should not error out with .NET 5 SDK

#### Describe alternatives you've considered
N/A

#### Additional context
Tried running Azure Functions V3 in .NET 5 docker container
`*.csproj` file
[code]
- `

[2020-09-19 21:59] prabh-62 commented on #6674
Not sure, if this issue should be moved to https://github.com/Azure/azure-functions-vs-build-sdk repo

[2020-09-20 01:16] jabbera commented on #6635
Could this be it? https://github.com/Azure/azure-functions-host/issues/2015

[2020-09-20 16:00] ghost commented on #5782
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-21 08:54] Adam4224 commented on #4234
Hi,

It sounds like what you need is more a piece of executable code that
generates the functions spec with reference to a builder-style api. Then
you could run that code to generate the function specification,
independently of executing the program, but it would allow consumers to
share compile-time or runtime information across the building and function
code.

Thanks,
Adam

On Fri, Sep 18, 2020

[2020-09-21 09:35] ThejaChoudary commented on #6082
Able to repro the issue.
@gzuber can you please look into this further.

[2020-09-21 10:20] ThejaChoudary commented on #6058
Able to repro the Issue.
@yojagad can you please look into this further.

[2020-09-21 11:31] hadricoppoaxpo opened #6675 "Azure Function with timer trigger works for a while and then suddenly stops"
We have developed a function app running on a Linux App service plan which contain two triggers written in Python: an HTTP one and a timer one. The HTTP one works very well but the timer one has some problems.

It is supposed to trigger every 5 mins. It does it for a while and then suddenly stops. Fun fact: if I connect to the remote machine using SSH, the trigger will work again and then will sto

[2020-09-21 13:34] espray commented on #5098
@brettsam @fabiocav @jeffhollan @shanselman @DamianEdwards this was part of Spring 84, but was not completed. Now its not part of Sprint 85! **WTF!** Its coming up on 1yr for this **P2** issue. Not building a lot of confidence in the community this way.

[2020-09-21 15:08] pragnagopa commented on #6671
tagging rest of the language worker owners for any concerns - @mhoeger @AnatoliB @amamounelsayed

[2020-09-21 15:22] vitalybibikov commented on #5098
@espray I guess that's some kind of development, when you can just drop things out of a scope forever and ever.
As I can see 2 or 3 things in each of their sprints, that are not closed and just hang there without being tackled.

I've been waiting almost for a year for this thing to be closed.
But I guess something like Scoped is not a priority, so I've just created my own Scoped extension out of S

[2020-09-21 15:59] ankurshah12 opened #6676 "getting error as ssl.ca.location failed: .\\crypto\\x509\\by_file.c:254: error:0B084002:x509 certificate while consuming message from event hub"
Question: Which IDE are you using? For example, Visual Studio, Visual Studio Code or in the portal?
Answer: vs 2019 professional

Question: If developing locally, have you upgraded to the most current version of the IDE?
Answer: Yes

Question: If developing locally, what version of the 'Azure Functions and WebJobs Tools' are you using?
Answer:

Question: Is the issue happening in the portal? What

[2020-09-21 16:37] anthonychu commented on #6671
As discussed with the Python functions crew, this is a good idea in general but might need a bit more investigation. There's a chance that an app is using EP2 or EP3 because it needs the extra memory, and increasing to 2 or 4 worker processes might cause it to run out of memory. Understanding the benefits and potential issues could be more complicated if there are multiple apps on the same plan.

[2020-09-21 16:56] Darko-git commented on #6387
I spent half a day trying to 'fix' this issue on my side.

I agree that the error message is not helpful at all.

[2020-09-21 17:24] espray commented on #5098
@vitalybibikov same situation here. Actively not recommend AzFunc as well. Mainly because of **HOW** this issue has been handled.

[2020-09-21 18:39] #6636 closed, assigned to brettsam

[2020-09-21 19:00] ghost commented on #6108
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-21 20:06] #6556 closed, assigned to brettsam

[2020-09-21 20:11] warrenbuckley opened #6678 "NodeJS - FailureException: Worker was unable to load function IsActiveSponsor: 'TypeError: isPlainObject is not a function'"
### Problem
After upgrading to the latest version 4.5.6 of @octokit/graphql a NodeJS serverless Azure Function now complains about
**isPlainObject is not a function at Object.keys.forEach.key**

If I revert the package.json dependency back to **4.5.4** then it continues to work as it once did.

This works fine locally with the Azure Functions CLI with VSCode, however once deployed to Azure it give

[2020-09-21 20:31] fabiocav commented on #5098
Apologies for the delay on this. We have been, we have a relatively small team, and principally during the current circumstances, it has been challenging to address some of the issues in our sprints, and this was unfortunately, one of them.

I've been working with @brettsam and @anthonychu to resume the work on this. I also apologize for the lack of communication here. We'll keep this issue update

[2020-09-21 21:54] soninaren commented on #5672
This has now been rolled out in release 3.0.14413

[2020-09-21 21:54] #5672 closed

[2020-09-22 07:41] ChrisProlls commented on #5306
Not resolved on my side during deployment
[code]

[2020-09-22 10:00] ghost commented on #5861
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-22 10:55] dlalex83 opened #6683 "Function app misbehaving when upgraded to netcoreapp3.1 and functions v3"
I'm investigating a weird behaviour happening on a C# function app deployed on Azure on a dedicated app service plan. When upgrading to netcore3.1 and Functions V3 the app starts erroring on connections to the SQL DB as the DTUs limit gets hit.

The function app is made of 3 projects:

- ProductService.dll (contains Functions) - netstandard2.0
- ProductService.Indexer.dll (library) - netstandard2.

[2020-09-22 20:35] pragnagopa opened #6684 "[V2]Add support for function execution retries"
Port fix for https://github.com/Azure/azure-functions-host/issues/6664

[2020-09-22 21:01] ericsampson commented on #6239
@madelinegordon @ankitkumarr is this scheduled as a priority fix? This seems like a bad bug - as mentioned in #6085 , it's happens not only in the relatively rare case of disabling/enabling a function, but also after deploys or restarts.
If this was the same type of bug in plain App Service where customer's code was running with the wrong environment settings, there would be a big freakout and fas

[2020-09-22 21:15] ankitkumarr commented on #6239
@fabiocav and @anthonychu -- Thoughts on the investigation and priority for this?

[2020-09-22 22:27] balag0 opened #6686 "Enforce ordering of functions in synctriggers payload"
EnumerateDirectories() doesnt guarantee ordering. Since the list is used compute hash this can lead to false positives in hash comparison causing unnecessary synctrigger calls

https://github.com/Azure/azure-functions-host/blob/bbb3d257dd3480f5a94b5b2776d1d71aa8c25fb3/src/WebJobs.Script/Host/FunctionMetadataProvider.cs#L44

https://github.com/Azure/azure-functions-host/blob/621df2c50b5ab96dbd403d1

[2020-09-22 22:57] #6670 closed, assigned to yojagad

[2020-09-23 00:30] anthonychu commented on #6575
@yojagad Is this resolved with the PR above?

[2020-09-23 00:35] anthonychu commented on #5016
@pragnagopa Is this still an issue? What happens when we get a binary payload to an HTTP function?

[2020-09-23 01:29] pragnagopa commented on #6575
Yes, the issue is addressed in the referenced PR. Will be closing this issue. We opened a issue #6644 to track details of the root cause.

[2020-09-23 01:29] #6575 closed, assigned to pragnagopa, yojagad

[2020-09-23 10:19] Peter-B- commented on #6674
This is a very interesting question. Is there a roadmap for supporting .Net 5 in Azure Functions?

Is there a plan to support EF Core 5 on .Net Core 3.1?

[2020-09-23 11:28] v-anvari commented on #6559
@ankitkumarr, any thoughts here?

[2020-09-23 11:43] v-anvari commented on #6609
@anthonychu / @balag0, any thoughts on this request?

[2020-09-23 12:14] v-anvari commented on #6158
@gzuber , did you get a chance to look into the logs?

[2020-09-23 15:08] pragnagopa commented on #5016
cc @yojagad

If `enableForwardingHttpRequest` is `false` - binary data is sent as base64 encoded string. Users can choose to receive `byte[]` by setting `dataType` to `binary` in function.json

https://github.com/Azure/azure-functions-host/blob/1eb9589f663e293b882fa65e71c7ceabf52d1db5/src/WebJobs.Script/Workers/MessageExtensions/ScriptInvocationContextExtensions.cs#L168-L175

We can close this iss

[2020-09-23 15:08] #5016 closed

[2020-09-23 18:41] pragnagopa commented on #6392
cc @FinVamp1

1. Added `customHanderProcessStartupErrors` detector - This will show any errors when starting custom hanlder process.
2. Added `customHandlerEndPointNotFoundErrors` detector - This will show errors if api / routes configured do not exist to handle function invocation.
3. Added `customHandlerInvalidResponseErrors` detector - This will show errors if customHandler does not return vali

[2020-09-23 19:52] brettsam opened #6691 "NCrontab.Signed is not listed in runtimeassemblies.json"
We have `NCrontab` listed -- but this isn't the assembly that we actually use -- it's `NCrontab.Signed`.

Repro:

[code]

This fails with:
[code]

Because we don't see `NCrontab.Signed` listed as one of our assemblies, we load the one from the bin folder, meaning we have two versions loaded. When that happens, the call to create the `CronSchedule` exists only in the Host AssemblyLoadContext yet `N

[2020-09-23 20:24] FinVamp1 commented on #6392
@pragnagopa This is great thank you. Is there any text we could show if the customer does get these errors?

[2020-09-23 21:41] pragnagopa commented on #6392
@FinVamp1 - if starting custom handler process fails, invocations will end up timing out as there is no process to handle the invocations.

Will discuss with @yojagad  on what other scenarios we can add detectors for.

[2020-09-23 23:05] sidkri commented on #6027
@ThomasArdal, @VamseeInala, @thelgevold  the fix has been rolled out via 4.2.0 of the Service Bus extension:
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/4.2.0

We are initially requiring users to opt-in to the new behavior so please contact us via support to provide your function app names as we need to enable them in the system to activate the new behavior.  It wi

[2020-09-23 23:05] #6027 closed

[2020-09-24 03:46] TsuyoshiUshio opened #6693 "[Rpc]Worker logs are not emitted when debugging host locally or in docker"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

Java

#### Question

Do you know where we can find the Java Worker logs when we run it on Visual Studio with Azure Functions Host? On the console when we debug, I can't see the log. Where can I find it?
Also, when we use docker container (Linux), where can I find the log for Java Worker? (I don't mean Core tools, I m

[2020-09-24 06:49] anthonychu commented on #6693
I think you can enable logs in the container by setting the environment (AZURE_FUNCTIONS_ENVIRONMENT) to development or by setting AzureFunctionsJobHost__Logging__Console__IsEnabled to true

[2020-09-24 12:06] VaclavK opened #6694 "Function runtime broken with with asp.net core 3.1 framework reference within dependency tree"
#### Is your question related to a specific version? If so, please specify:
No
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question

we have noticed the following
when there is aspnet core 3.1 framework reference in the dependency tree of the function project, the dependency injection via startup class starts failing.. the function fails to start with e

[2020-09-24 13:07] alona-shevliakova commented on #6568
hey, is somebody found any solution for this?

[2020-09-24 14:04] SamNutkins opened #6695 "Message Processing Order Across Service Bus Queues"
#### Is your question related to a specific version? If so, please specify:
V3

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I have a single Azure Function app containing multiple ServiceBusTrigger functions, each responding to messages from different queues. I do some throughput limiting using the maxConcurrentCalls and scale limiting (on the

[2020-09-24 15:10] pragnagopa commented on #6501
More details https://github.com/microsoft/ApplicationInsights-dotnet/issues/1425

Closing this issue as dup of Azure/azure-webjobs-sdk#2548

[2020-09-24 15:10] #6501 closed, assigned to mhoeger

[2020-09-24 15:11] johneboldt commented on #4577
This worked for me:

[code]

[2020-09-24 15:15] pragnagopa commented on #6693
Also, can you try setting default loglevel in host.json to `debug` ? If still does not work, please paste sample logs that are missing on the console.

[2020-09-24 15:33] CasperWSchmidt commented on #4577
The new 1.1.0 works perfect 😊

[2020-09-24 16:39] pragnagopa commented on #6158
@a-vishar - apologies for the delay in response. If this is still an issue, please provide latest timestamp and failed invocation id

[2020-09-24 16:42] pragnagopa commented on #6329
Assigning to @ThejaChoudary for a repro.

[2020-09-24 17:30] #6664 closed, assigned to pragnagopa

[2020-09-24 18:26] TsuyoshiUshio commented on #6551
The UI looks updated. I had one customer who encounters the issue. They asked me to how to recover from this one.
I can reproduce this by updating netframeorkversion , and found workaround.

[code]
https://docs.microsoft.com/en-us/cli/azure/functionapp/config?view=azure-cli-latest

[2020-09-24 20:22] aaltotsky opened #6696 "Linux consumption plans with Origin and Access-Control-Request-Method headers produce 204"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

The Linux consumption plan is different from the windows. The same .net core cod

[2020-09-24 20:35] rhythmnewt commented on #6542
I'm having the same problem. If sprint 85 is complete by 9/30, when will the update be actually available?

[2020-09-24 20:46] #6673 closed, assigned to ankitkumarr

[2020-09-24 20:47] fabiocav commented on #6542
Full global deployment takes approximately 10 days after sprint completion. This is, of course, dependent on validation results.

The announcements repo here would be the best place to watch: https://github.com/Azure/app-service-announcements/issues

[2020-09-24 22:00] #6108 closed, assigned to v-anvari

[2020-09-24 22:34] rhythmnewt commented on #6542
Will the change affect the regular consumption plan as well? I took a look again and my problem with this is on consumption plan, not premium - sorry!

[2020-09-25 10:24] Hao-Qian commented on #3907
It's interesting that azure web apps support using key vault in local development but Function app does not support.  Really appreciate if it can be prioritised. It will save a lot of dev/testing time.

[2020-09-25 13:00] #5861 closed, assigned to ankitkumarr, v-anvari

[2020-09-25 17:43] pragnagopa commented on #6392
@FinVamp1 - Added more detectors. I will close internal tracking item as well.

[2020-09-25 17:43] #6392 closed, assigned to pragnagopa

[2020-09-25 19:48] pragnagopa commented on #6519
cc @FinVamp1

Added "TSG: Custom Handler".

[2020-09-25 19:48] #6519 closed, assigned to pragnagopa

[2020-09-25 20:01] pragnagopa commented on #6671
Each language worker needs to be tested with multiple workers for perf impact - an opt-in for multiple workers by default.
Updated the title to reflect the scope of the issue.

This issue will track adding support in `worker.config` to opt-in for multiple workers.

[2020-09-25 21:05] pragnagopa commented on #6671
Also, allow worker to specify - max number of workers and interval to spawn workers

[2020-09-25 21:12] vrdmr commented on #6671
To lower the time taken to spawn the workers from 10 seconds to 1-2 seconds such that on an EP3 plan, we have the workers ready for load faster - we can discuss the minimum available time that doesn't add to the cold start.

From [functions-app-settings#functions_worker_process_count](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#functions_worker_process_count)

[2020-09-25 21:45] pragnagopa opened #6704 "[Rpc][MultipleWorkers] Add check for memory consumption before spawning new processes"
cc @AnatoliB @vrdmr

This is related to https://github.com/Azure/azure-functions-host/issues/6671

Add check for memory consumption before spawning new worker processes.

[2020-09-25 22:23] fabiocav commented on #5098
Providing an update here at the end of the week. @brettsam and I have made some progress on the different scenarios reported, testing and investigation, hopefully we'll have something ready before the sprint is over, but will continue to provide updates here for awareness.

[2020-09-26 12:57] lonpalmer commented on #4808
Is this issue getting fixed?  No word since Nov 13 almost a year ago.

[2020-09-26 14:50] c0dybrown commented on #6674
@prabh-62 @Peter-B- Have you tried using azure functions prerelease as so:

[code]

[2020-09-26 18:37] Pinox commented on #6674
@c0dybrown Does it work as a workaround ?

[2020-09-26 18:46] Peter-B- commented on #6674
@c0dybrown No, I didn't know about it. Thanks for bringing that to my attention. I will give it a try.

I know that it says prerelease, but is there any "getting started" or documentation for that? I could not find much on Google or even Bing :-)

[2020-09-26 18:49] prabh-62 commented on #6674
I tried with `v3-prerelease`. Still the same errors with `dotnet build` command.
[code]

- `dotnet build`
[code]

[2020-09-26 18:54] prabh-62 commented on #6674
https://github.com/Azure/azure-functions-vs-build-sdk/issues/451#issuecomment-693030505

As per this comment, .NET 5 is not supported

[2020-09-27 10:14] Tobmeister opened #6705 "Azure Function returns 404 after adding bindings to blob storage"
#### Summary

I created a new Azure Function (Python, on Linux, Consumption Plan, HTTP Trigger). The purpose of the function is to read and write data using a blob storage via GET and POST request, respectively.

#### Investigative information

- Function App version: V2
- Function App name: (prefer not to publish, see data below)
- Invocation ID: not available, function is broken completely. Prov

[2020-09-28 08:01] arek-avanade commented on #4689
@brettsam Any update? Is this being actively developed? What's the release plan for this?

[2020-09-28 12:21] MrTantum commented on #3907
The same problem occurs for the `ServiceBusAccount` property.

We have moved all of our secrets to azure key vault and are quite happy that nearly everything azure key vault related can use [Azure.Core.TokenCredential](https://docs.microsoft.com/en-us/dotnet/api/azure.core.tokencredential?view=azure-dotnet) (e.g. the [data protection apis](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspn

[2020-09-28 13:17] hadricoppoaxpo commented on #6675
Any news ? :)

[2020-09-28 15:37] brettsam commented on #4808
@lonpalmer -- are you still seeing the issue? If you could share your **Function App name** (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), and a **time frame for when you saw this**,  I can see if I find anything from the backend logs.

If this was indeed related to the deadlock, that issue has been resolved a few mo

[2020-09-28 16:04] brettsam commented on #6705
What URL (minus your app name) are you trying to call? Based on your `route` setting it should be `http://...../api/program`

[2020-09-28 19:00] ghost commented on #6158
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-28 19:28] Tobmeister commented on #6705
I am indeed calling `https://.../api/program?code=...`
The URL containing the UUID was used just to generate a timestamped invocation, following the instructions in the wiki.

[2020-09-28 21:39] pragnagopa opened #6709 "[V2][CustomHandler]Fix DateTime serialization"
Port fix for #6574  to V2

[2020-09-28 21:39] #6574 closed, assigned to pragnagopa

[2020-09-28 23:28] abhiyadav1323 opened #6714 "Function timeout and unhandled exception causes the entire host to shut down"
Framework: .net core 3.1
OS: Windows
Function runtime: v3

We have a single App Service Plan which runs 17 apps on 20 machines. By looking at the Application Insights logs we see that on each machine there is one process per app, so each machine runs 17 processes. **Please confirm if our assumptions is correct.**

In the logs we often see messages such as "Host is shutting down" and "Host initiali

[2020-09-29 10:47] phatcher commented on #4577
@brettsam Can I suggest a small change in FunctionsStartup.

From debugging locally I can see that appsettings.json (optional) and the environment variables are already added to the configuration root.

If you also add appsettings.{EnvironmentName}.json then for most people it would work out of the box; this would avoid the custom configuration breaking consumption and premium plans

[2020-09-29 12:56] Peter-B- commented on #6674
Does anyone know a plan for enabling EF Core 5 und .Net Core 3.1 in an Azure Function?

This would be great, but when I run it locally, it does not find Microsoft.Extensions.Logging 5.

See Azure/azure-functions-vs-build-sdk#472

[2020-09-29 14:09] brettsam commented on #6714
It's really tough (impossible?) to find and forcefully kill a running task. You can cancel a token, but there's no guarantee that the function is respecting that token. Aborting a thread -- especially one that you don't control -- can be dangerous and result in different kinds of leaks. We tried to figure this out for a while and decided this was the safest approach -- that if there's a timeout, l

[2020-09-29 14:16] brettsam commented on #6555
Because we're bundling Sprint 84 and 85 together, we unfortunately have to move this to Sprint 86 now.

[2020-09-29 14:16] brettsam commented on #6567
Because we're bundling Sprint 84 and 85 together, we unfortunately have to move this to Sprint 86 now.

[2020-09-29 14:35] zmarty commented on #6714
Thank you @brettsam  for the explanation on function timeouts. We perform a bunch of things at host startup, including setting up several singleton http clients to avoid SNAT port exhaustion. We also set up, for example, a Cosmos DB V2 client, which itself needs to open a connection etc. So it's likely our Host startup takes time.

"You may experience a cold-start request (or several) getting serv

[2020-09-29 16:20] zmarty commented on #6714
I looked into the logs a bit more and I _think_ the definition of unhandled exceptions is different than we expected. I _think_ that if we have an unhandled exception **inside** a function that is find and it's not an unhandled exception that would cause the host to shut down.

However, if there is an exception in the bindings for example that would cause the Host to shut down.

I am looking at an

[2020-09-29 16:34] brettsam commented on #6714
We catch exceptions thrown from function invocations and they are wrapped in a `FunctionInvocationException`. We consider these failed invocations, and everything continues without restarting.

Do you have an example of how the unhandled exception is being thrown in the case where it happens during execution? Do you get a call stack?

I do believe that exceptions from background threads would be c

[2020-09-29 16:44] zmarty commented on #6714
This makes a lot of sense to me now.

I checked the logs around that time frame and when the log says "Exception while executing function: Function-Name" we also see an out of memory exception.

Do we have any tools available to measure function-level memory usage?

[2020-09-29 18:15] zmarty opened #6715 "Cannot access a disposed object. Object name: 'LoggerFactory'."
Azure Functions 3 on Windows
.Net Core 3.1
App Service Plan

Referencing previous issue as requested: https://github.com/Azure/azure-functions-host/issues/1690

@brettsam In the last 7 days, our host(s) crashed 122 times with Cannot access a disposed object. Object name: 'LoggerFactory'.

[2020-09-29 18:15] zmarty commented on #6715
https://github.com/Azure/azure-functions-host/issues/1690

[2020-09-29 19:07] smokedlinq commented on #4345
In the host.json, the category filtering is not working for the root namespace for my solution.

__host.json__
[code]

Where I have a class that tries to use it that gets injected into the function...

[code]

It does work if I use the full namespace + class name for the category in the host.json, e.g. `MySolution.Things.Thing1`

[2020-09-29 21:17] brettsam commented on #6715
Can you share the stack trace that you get with the exception? This happens because the host is disposed and something is still trying to run on that disposed host. LoggerFactory just happens to be one of the first services that throws if it's used while it's disposed, so this exception is thrown first. We've got to figure out what is trying to run on that host and see if we can fix that.

[2020-09-29 22:12] brettsam commented on #6705
Next thing to check is your host.json file. I found your app in our backend logs and it looks like you may not have bundles configured. My minimal repro works and my host.json looks like this:

[code]

[2020-09-29 22:23] brettsam commented on #6714
I believe that tools like the App Insights Profiler will work in Functions, but haven't tried it explicitly. If we see an issue like this, we'd typically try to repro it and grab a full dump via kudu and take a look at it that way to try to find what's leaking.

[2020-09-29 23:32] ankitkumarr commented on #6559
@prabh-62, yes I am able to as long as I update my Function app in Azure to be 64-bit. I think your issue might be that VS Code extension is not automatically updating the bitness in Azure. If so, then the issue you opened in VS Code makes sense. In terms of functions runtime, it seems to be working fine when I make sure in Azure the runtime is set appropriately.

I am unable to repro this. I have

[2020-09-30 04:50] anthonychu opened #6717 "[Custom handler] Remove "Outputs not set on http response" warnings"
These are printed when the outputs or return value don't exist:

[code]

Not sure if it's necessary to warn on them. Perhaps these can be `Information` or omitted.

Also, if the response contains an empty object for `Outputs`, it still prints the warning. Sometimes a function really doesn't have an output or return value.

[code]

Not marking as a GA blocker but would be good to address this. @pra

[2020-09-30 12:38] marcoNipo opened #6718 "functionAppScaleLimit SDK support"
#### What problem would the feature you're requesting solve? Please describe.
 As mentioned [here](https://github.com/Azure/azure-functions-host/issues/1207#issuecomment-675155176), it is possible to set the maximum number of host instances a function app is allowed to scale out to. That's great and we plan to use that, however both from that comment and from the [docs](https://docs.microsoft.com/

[2020-09-30 12:42] shashanksdixit opened #6719 "Function App (using Spring Cloud) - Application starts/initializes again when another endpoint in same function app is called"
Description

I have created an function app [Java class com.example.DemoFunction], which has two functions namely function1 and function2. At the begining when function1 is called below is how the log messages are
- AbstractSpringFunctionAdapterInitializer [pool-2-thread-2] Initializing: class com.example.DemoFunction
- Started application in xxxx seconds
then the subsequent calls to function1 doe

[2020-09-30 14:19] brettsam commented on #4345
@smokedlinq -- is this happening in production, or locally using the core tools?

[2020-09-30 15:11] brettsam commented on #6318
Gave this a try yesterday with a workspace-based AI resource and all looked good from a logging standpoint. Found an issue in the portal UX that I've submitted internally to that team.

[2020-09-30 15:11] #6318 closed, assigned to brettsam

[2020-09-30 15:13] brettsam commented on #6558
We're punting all AssemblyLoadContext changes out a sprint as we already have some significant changes going in this release and don't want to pile them all up in one big release.

[2020-09-30 15:13] brettsam commented on #5874
We're punting all AssemblyLoadContext changes out a sprint as we already have some significant changes going in this release and don't want to pile them all up in one big release.

[2020-09-30 16:49] #5860 closed, assigned to brettsam

[2020-09-30 18:40] dadhi commented on #5312
Hello, I am author of DryIoc.

I have read the issue but still not sure that I get the problem. There is a lot of references and split info.

I am willing to help if someone explains what DryIoc version and the rules are used.. What is expected behavior and what is the problem.

[2020-09-30 18:50] micklaw commented on #5312
Hey @dadhi

Thanks for taking the time to respond here.

From what I have seen I don’t think this is necessarily an issue with DryIoC, but instead how the container and it’s child scopes are being managed within the function runtime.

As the example repo above shows, a static container, both DryIoC and a new IServiceCollection, both resolve dependencies as expected.

The issue appears when you try

[2020-09-30 19:08] ankitkumarr commented on #5663
We (@thaishankar and I) took some time to investigate this issue. We looked at @chuanqisun's app as it was in the weird state mentioned in the issue. I wasn't able to look at @lopezbertoni's app as the mitigation is already in place there so it's difficult to tell if the issue still occurs. It seems that there may be a platform issue such that when files are changed, a notification is not generate

[2020-09-30 19:10] ankitkumarr commented on #5663
I am moving it out from the Sprint, but I will leave this open and assigned to me for updates.

[2020-09-30 19:29] kashimiz commented on #6215
After conferring with the Linux team, design has been revised to avoid potential issue at high throughput.

[2020-09-30 19:52] dadhi commented on #5312
DryIoc scoping behavior depends on the rules. By default it does not use the shared scope context - the scopes tree is bound to the container instance. But you opt-in it with the shared scope context where the the scopes are tracked. One of the predefined contexts is the `AsyncExecutionFlowScopeContext` where scopes bound to the async call context (basically to the AsyncLocal). That's why it is im

[2020-09-30 20:05] #6031 closed, assigned to gzuber

[2020-09-30 20:14] brettsam commented on #5240
Just an update -- I've started to investigate this more deeply and am working on a repro to see what we can do here to either prevent this or, at least, improve the exception so we have a better understanding of the cause.

Ultimately it's because the host is already disposed (it's in the process of shutting down) and something is attempting to create a new scope. Sometimes this is a race conditio

[2020-09-30 20:17] fabiocav commented on #6541
Closing as done.

[2020-09-30 20:17] #6541 closed, assigned to ankitkumarr

[2020-09-30 20:19] fabiocav commented on #6536
Working through the design on this item.

[2020-09-30 20:19] #6534 closed, assigned to nobody

[2020-09-30 20:36] micklaw commented on #5312
The example created by @MihaiStrejer above reproduces this 100% of the time from what I could see. As I say, the complexities of the function runtime and also DryIoC make this problem, for me anyway, non trivial to resolve and in honesty feel it requires buy-in by the MS team to resolve it. I am not sure it something mere mortal like myself would be best place to resolve in any sort of timely mann

[2020-09-30 20:41] micklaw commented on #5312
Kuds on those docs too @dadhi, some great reading here and food for thought for my problem we worked around. I'll be sure to give it a go 👍

[2020-09-30 20:51] fabiocav commented on #6346
Scoping this to validation only in sprint 86

[2020-09-30 20:56] fabiocav commented on #3543
@stefanushinardi were you planning on scheduling some time to discuss this?

[2020-09-30 21:02] ehamai commented on #6536
Thanks @fabiocav.  Would you mind letting me know when you have an idea for the API content/shape before you folks get too far into the design?

[2020-09-30 21:05] fabiocav commented on #6536
Not at all! We'll keep you updated.

/ @soninaren

[2020-09-30 22:57] smokedlinq commented on #4345
I have only noticed locally while debugging.

[2020-10-01 13:16] brettsam commented on #4345
Can you share what version of the core tools and functions host you're running (it should be the first few lines of output in the console when you start your app).

@pragnagopa -- maybe another issue here with the logging setup in core tools.

[2020-10-01 14:06] atvanvlack commented on #6674
My question is, will Azure Functions have a new release in November when GA happens for .NET 5?

[2020-10-01 15:48] IanKemp commented on #4345
@brettsam It's been 18 months since you filed this - when is it going to be implemented?

Logging is one of the most important parts of any application. Getting it right should thus be the first priority of any framework. I know Microsoft wants new features to sell Azure with, but Functions' logging woes need to get sorted out for once and for all.

[2020-10-01 16:36] v-anvari commented on #6635
Hi @adharbert , We have tried to use the environment variables to fire off the functions, but they are running as expected. In order to check your function app logs, we require additional information.

Function App name:
Time stamp during error:

[2020-10-01 16:45] adharbert commented on #6635
Thanks everyone,

Still have the issue, but I wonder if it's because I'm using the consumption plan.  Right now it's only for dev and getting ready to push a prod version of this.  I now have 4 functions, they appear to work correctly, but the timer never fires off by itself.  If I go into Azure portal, go to the app service and click on Functions (after the time they were supposed to launch), the

[2020-10-01 20:03] mpaul31 commented on #5240
I know I get it from time to time and I have an extension method that creates a scope within my durable entity call stack:

[code]

[2020-10-01 20:41] jwisener commented on #5240
here is a stack trace we get often on restarts:

[{"method":"DryIoc.Throw.It","level":0,"assembly":"Microsoft.Azure.WebJobs.Script.WebHost, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null","line":8990,"fileName":"D:\\a\\1\\s\\src\\WebJobs.Script.WebHost\\DependencyInjection\\DryIoc\\Container.cs"},{"method":"DryIoc.Container.ThrowIfContainerDisposed","level":1,"assembly":"Microsoft.Azure.Web

[2020-10-01 20:57] pragnagopa commented on #4345
@smokedlinq - Core Tools regression is fixed in the latest version: https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.2931 - if filter is still not working please open a separate issue here: https://github.com/Azure/azure-functions-core-tools/

[2020-10-01 21:25] deyanp opened #6728 "Sudden "cold start" of 1.5 seconds lost before start of HttpTrigger?"
#### Is your question related to a specific version? If so, please specify:
Using base docker image mcr.microsoft.com/azure-functions/dotnet:3.0 on AKS 1.18.8
azurefunctions: 3.0.14287.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
F#/.NET Core 3.1.402

#### Question
I am seeing 1.5 seconds lost before the first code line of the HttpTrigger is executed (log.Inf

[2020-10-01 21:56] smokedlinq commented on #4345
Just confirmed, 3.0.2931 does behave as expected. Thanks all.

[2020-10-01 22:00] #6158 closed, assigned to v-anvari

[2020-10-01 23:14] #6421 closed, assigned to fabiocav

[2020-10-01 23:17] fabiocav commented on #6540
@brettsam can you please share a link to the updated metadata generator once it is published as it will hopefully address this as well?

[2020-10-01 23:38] yojagad commented on #6552
Apologies for the late response. @ThejaChoudary Can you let me know which function app you used to repro this issue so that I can look into this further ? @RengarLee Does the app exist and is this still an issue ? I was not able to find the app when I looked it up to dig into this.

[2020-10-02 00:25] APIWT commented on #5098
@brettsam Glad to see the fix was very simple. Would you be able to provide a timeline on deployment?

[2020-10-02 00:30] yojagad commented on #6058
This is more of a feature request. Need to understand the impact of introducing such a change.

[2020-10-02 06:17] anthonychu commented on #6674
We’re working .NET 5 support but don’t know whether it will be ready when .NET 5 is GA.

As for running EF Core 5 on v3, we need to investigate why it’s not working.

[2020-10-02 07:55] marioanton opened #6733 "Python Application shuts down in a container with no error or issue (Queue Trigger)"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

I am running a python azure function in a AKS cluster and we are noticing restar

[2020-10-02 09:33] bjorkstromm commented on #5663
Happened to us several times in the past months. If I remember correctly, all affected Functions are running on EP1 plan. We are also deploying using the `Azure App Service deploy` task in Azure DevOps.

May I suggest removing Bitbucket from the title of the issue.

[2020-10-02 13:05] andy968 opened #6734 "Powershell function output to blob"
I have a Powershell function triggering from blob. I am then processing the file and outputting it to another blob container. The output filename is using rand-guid. I want to get that rand-guid in the function so I can then email a download link from the container. Please help

[2020-10-02 13:26] brettsam commented on #6540
Yes, #6052 should fix this.

Please try adding a direct reference to this package (version 1.2.0) in your csproj: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator/1.2.0

Soon this dependency will be updated in Microsoft.Net.Sdk.Functions, but for now you have to directly reference this newest version.

Closing this issue as it should be resolved, but please

[2020-10-02 13:26] #6540 closed, assigned to nobody

[2020-10-02 14:08] shibayan commented on #6540
Thanks, I've confirmed that the problem is resolved in ExtensionMetadataGenerator v1.2.0.

[2020-10-02 15:08] Tobmeister commented on #6705
Fixing the host.json got the function back to normal. I missed out on the host.json altogether when re-creating the function from scratch using Azure DevOps Starter, focusing on the function.json only which turns out was OK all along. I will keep that as a learning.

 I am closing this thread. Thanks so much for checking and helping me out.

[2020-10-02 15:08] #6705 closed, assigned to brettsam

[2020-10-02 17:41] ikaplans opened #6745 "Azure function runtime v3 proxy passing incomplete http context"
There seems to be an issue with the ActionContext used to invoke ActionResult, when using a function proxy.
When the function is called directly the HttpContext of the passed ActionContext contains a Request object with a populated headers collection.
When the same function is invoked via proxy route, the collection is empty.

This can be easily reproduced in an emulator by creating a function app

[2020-10-02 17:55] fabiocav commented on #6669
@alrod does this meet the criteria for a P1?

[2020-10-02 20:35] stefanushinardi commented on #3543
@fabiocav I was under the impression that one of the devs would take a look first, but I will schedule a time slot next to discuss the issue. Thanks!

[2020-10-02 22:41] anthonychu commented on #6719
@shashanksdixit Do you have a simple app that reproduces this behavior?

@amamounelsayed @TsuyoshiUshio @apawast @anirudhgarg Is this something you can help look into?

[2020-10-03 07:16] AshirwadSatapathi opened #6747 "SharePoint List and Document Library Bindings"
#### What problem would the feature you're requesting solve? Please describe.
Of late, I came across a business scenario where we are parsing an invoice using Form Recognizer. The workflow starts when we upload a file to a blob storage which then fires our Blob Triggered Azure Function.  Then our function process the Invoice to get the metadata from it using Form Recognizer. Now the requirement is

[2020-10-03 08:51] mountain65 opened #6748 "HttpTrigger cannot bind to customobject named "data""
This happens running it locally using the Azure Core Tools. Never tried it on Azure.

#### Investigative information

Please provide the following:

- Timestamp: 2020-10-03 10:39
- Function App version: 0
- Function App name: MyFunctionApp
- Function name(s) (as appropriate): MyFunction
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create  a

[2020-10-03 15:21] shashanksdixit commented on #6719
I have uploaded the source code [here](https://github.com/shashanksdixit/demoazurefunction).
It is simple function app with two different functions.

[2020-10-04 01:00] ghost commented on #6559
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-10-04 16:47] prabh-62 commented on #6559
I created a Pull request https://github.com/microsoft/vscode-azurefunctions/pull/2429 to fix the issue on the VSCode extension.

[2020-10-05 11:44] aradice-truenorth opened #6749 "Attempt to recreate deleted function app fails with "Website with given name {0} already exists.""
I needed to move a function app to a different subscription (with the same name as this is known to an external system) so I deleted the function app, storage account and app service plan and attempted to run my PowerShell script that creates and configures these in the new subscription. The step of the script which deploys the resources using an ARM template failed with:

[code]

I attempted inst

[2020-10-05 14:57] pragnagopa opened #6750 "Skip parsing worker Configs if workerRuntim is set to dotnet"
cc @safihamid

[2020-10-05 15:52] MihaiStrejer commented on #5312
Indeed, and as @micklaw stated this is not a problem with DryIoc, but a problem with the azure function host.
As of the time I've looked into it (the time the issue was created, early version of v2 host) I've seen 2 problems that contribute to this "issue":

1) The **elephant** in the room was the fact that the azure function host buildup sequence is locked, there is no easy way to provide a custo

[2020-10-05 15:53] brettsam commented on #5098
The code change was small, but changes like this can be pretty impactful, which is why we decided to hide it behind a feature flag and get that change out ASAP. We wanted to let everyone try it and let us know if they run into issues while we continue testing scenarios. If all goes smoothly, we will make this the default everywhere in a future release.

As for the timeline -- it's currently in val

[2020-10-05 16:05] APIWT commented on #5098
@brettsam Sounds good! Is there an easy way to be notified when the runtime on our functions app resource has support for the feature flag?

[2020-10-05 16:29] v-anvari commented on #6635
Hi @adharbert , I appreciate the details, there shouldn't be a problem due to consumption plan if it has running instances.

@fabiocav, is there a way we can check the logs here.

[2020-10-05 16:45] fabiocav commented on #6635
@adharbert the timer should fire as expected in the consumption plan as well. In order to better understand what is happening with your application, it would be helpful to look at the current configuration and logs, but in order to do that, we need your application information. Can you please share your application name or the region and an execution ID, along with a timeframe so we can take a clo

[2020-10-05 16:56] darrenhull commented on #5098
Thanks for fixing the issue and for the feedback @brettsam and @fabiocav. I too would like to know when it is available.

[2020-10-05 18:19] BitProgress commented on #6549
After hours of search, I found out the same!!!
Hopefully only a few people are stupid enough to start a project name with "System"*...

[2020-10-05 18:44] #6750 closed, assigned to pragnagopa

[2020-10-05 22:03] TsuyoshiUshio commented on #6719
Thank you, @shashanksdixit . I'll have a look.

[2020-10-05 22:22] #6733 closed, assigned to kashimiz

[2020-10-06 00:18] divyagandhisethi opened #6754 "Handle language worker shutdown failures during worker restart"
This issue is tracking the fix for one of the CRIs where language worker gets stuck while restarting on function invocation timeouts.  @yojagad pointed to this line - https://github.com/Azure/azure-functions-host/blob/v2.x/src/WebJobs.Script/Workers/ProcessManagement/WorkerProcess.cs#L192 which might be the issue.

[2020-10-06 00:46] yojagad commented on #6754
cc: @pragnagopa @mhoeger

It looks like there can be cases where WaitForExit() can enter a deadlocked state even if the process exits. Might need to explore alternate solutions.

[2020-10-06 01:00] ghost commented on #6552
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-10-06 03:20] duanekord commented on #3133
2 years later and this happens in V3 as well
![image](https://user-images.githubusercontent.com/14949544/95155075-55f0d200-0761-11eb-9d9e-498f23e878ee.png)

[2020-10-06 11:30] t-l-k commented on #5098
A quick GitHub search: https://github.com/Azure/azure-functions-host/wiki/Configuration-Settings -

I'm putting this in the AppSettings of my test deployments _posthaste_ and grabbing the popcorn:

`AzureWebJobsFeatureFlags` = `EnableEnhancedScopes`

Meanwhile I'll be watching https://github.com/Azure/azure-functions-host/releases and https://github.com/Azure/azure-functions-core-tools/releases li

[2020-10-06 11:36] AdrianPell opened #6755 "Durable Entity replays operations, returns incorrect result to caller"
Please provide the following:

- Timestamp: 2020-10-06T07:02:55.5527382Z
- Function App version: 3.0.14492.0
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: c9b533b1-dd82-5e9c-8641-8094083e714f
- Region: West US 2

This relates to Durable Entities. DEs should operate in a stateful manner - with synchronous execution and predicable results. We are seeing some cases where

[2020-10-06 11:41] t-l-k commented on #5312
@MihaiStrejer FYI It is possible that the fix is in for this issue via ticket #5098

[2020-10-06 14:44] pragnagopa commented on #6754
Thanks for opening the issue. We should switch to WaitForExit(timeout) - https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.waitforexit?view=netcore-3.1#System_Diagnostics_Process_WaitForExit_System_Int32_

[2020-10-06 18:17] mathewc opened #6759 "AzureMonitorDiagnosticLogger dynamic enable/disable"
Currently the AzureMonitorDiagnosticLogger is always in the logging pipeline, regardless of whether it is actually enabled via [diagnostic settings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitor-log-analytics?tabs=csharp). Performance testing with the logger disabled in the host shows ~ 18% RPS improvement and ~ 15% latency improvement. So we really only want to enable t

[2020-10-06 20:19] abhiyadav1323 commented on #6714
Hi @brettsam, I have one more question regarding the ThreadPool settings defined here - https://github.com/Azure/azure-functions-host/blob/826c0b520c1e81d2f3106d08711c08f1bce4aa95/src/WebJobs.Script.WebHost/Program.cs#L129

Can we change this setting in our Startup.cs? And how does this behave when we have multiple apps running on the same instance (every app sets the min worker and IOCP threads t

[2020-10-07 00:57] stefanushinardi commented on #3543
After a discussion with @fabiocav @anthonychu @pragnagopa and @mhoeger, we believe that the issue occurs when there is an overlap while recycling processes, that results in the new process fails to open the debugging port as it is still being held by the process that is being brought down.

The current approach that we are thinking is to remove the overlapping condition when running the host in de

[2020-10-07 11:23] falkon13 opened #6761 "maxConcurrentCalls seemingly being ignored in host.json when using ServiceBusTrigger"
#### Is your question related to a specific version? If so, please specify:
Azure Functions 2.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I am trying to implement a serial Azure Function app that processes a Service Bus message, completes the task (which involves creating a record in Dynamics 365) and then takes the next item in the Service

[2020-10-07 13:21] jonathanantoine commented on #6505
Hello,

I have scenarios where the extensions.json files is not correctly generated and I need to do this. I just get an exception (in the logs) telling me that the function can't be instanciated.

[2020-10-07 14:01] falkon13 commented on #6761
Turns out I was using version 1.0 which has a different host.json structure.
Plz ignore this whole thread

[2020-10-07 14:01] #6761 closed, assigned to kashimiz

[2020-10-07 14:09] brettsam commented on #6505
We should fix that underlying extensions.json issue -- do you have a repro you can share with us?

[2020-10-07 15:40] pragnagopa commented on #6749
@aradice-truenorth - can you retry creating under the same subscription? If it succeeds, please migrate resources following instructions here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-resource-group-and-subscription

[2020-10-07 16:01] pragnagopa commented on #6709
Fixed in referenced PR. Fixing the milestone as the issue was addressed in Sprint 85

[2020-10-07 16:01] #6709 closed, assigned to pragnagopa

[2020-10-07 20:00] abhiyadav1323 opened #6763 "System.ComponentModel.Win32Exception: The SSL connection could not be established"
Hi, Recently we are seeing a lots of exception with SSL connection. This started happening after a deployment, maybe something changed on the underlying instance. I used kudu to check if the certificate is installed on the instance using command `Get-ChildItem -path 'Cert:\*CertificateThumbprintWithoutAnySpaces' -Recurse` and I was able to find it.

**Moreover, there is no code change on our side

[2020-10-08 04:35] sakkuntyo commented on #6413
Does documentation for the "Interop with Application Insights SDK option" exist?

[2020-10-08 07:17] jonathanantoine commented on #6505
Hello,

I don't have a repro I can share but this is just an example. Let's just say there is an exception in a dbcontextoptions builder or a transient db context needed in your function and boom it will crash without being able to catch the exception :(

[2020-10-08 07:36] ankitkumarr opened #6766 "FunctionMetadataManager uses stale AssemblyLoadContext"
There's a race condition in the flow where `ScriptStartupTypeLocator` calls `FunctionMetadataManager` to get the FunctionMetadata.

When ScriptHost restarts due to a file change, `ScriptStartupTypeLocator` calls `FunctionMetadataManager` to get a new set of functions for bundle optimization. `FunctionMetadataManager` gets the `IFunctionProviders` from the service provider, but the service provider

[2020-10-08 08:32] olitomlinson opened #6768 "How to filter out information logging, but retain custom metrics"
**environment :** Functions v3 / C#

I want to filter out the trace informational noise from my Azure Function App logging.

![image](https://user-images.githubusercontent.com/4224880/95434050-b2621600-0948-11eb-9832-90c3f35f02e0.png)

So provided the default configuration to filter all logs to `Warning` level.

![image](https://user-images.githubusercontent.com/4224880/95428728-50ea7900-0941-11eb

[2020-10-08 08:46] mdddev commented on #5405
I stumbled on this while investigating why the request body received from a (deployed to azure) function app is empty. Contrary to the above, I don't see this behaviour running locally. Even with content-type set to application/json I can successfully pass along a non-empty body.

PS C:\Users\me\source\project> func -v
3.0.2931

[code]

[code]

[2020-10-08 08:55] RaleS opened #6769 "Metadata generation failed. Exit code: '-1073741502' Error: ''"
Getting error when building a project that contains reference to
<PackageReference Include="Microsoft.NET.Sdk.Functions" Version="3.0.3" />

Is there an easy way to get more information reg. the error?

[code]

[2020-10-08 09:03] RaleS commented on #6769
Somehow this information got stripped. Project is referencing to following package:
`<PackageReference Include="Microsoft.NET.Sdk.Functions" Version="3.0.3" />`

[2020-10-08 09:10] jonathanantoine commented on #6505
Hello again,

Right now, I use this (ugly) workaround :

1. Find the service descriptor of the IJobActivator,
1. Register it as a IJobActivatorEx it also implements.
1. Override the IJobActivator with a wrapper of my own doing some log in case of error.

**Registering overrides :**
[code]

**My own wrapper :**
[code]

[2020-10-08 09:11] MateRadz commented on #5405
The simplest workaround which worked for me was redeployment of function with MS provided example http trigger function.
After that worked I copied my source to the function and after deploying again it started to work.

[2020-10-08 11:02] Oldrich-Vlasic commented on #2412
Any updates on this?

[2020-10-08 13:05] jonathanantoine commented on #4914
Any update :) ? Facing the same issue :)

[2020-10-08 14:19] brettsam commented on #6769
Can you move Microsoft.NET.Sdk.Functions up to version 3.0.9? There have been a number of fixes since 3.0.3 and this may already be fixed.

If this still repros -- can you then explicitly add a package reference to Microsoft.Azure.Webjobs.Script.ExtensionsMetadataGenerator version 1.2.0? That has even more substantial changes that will be coming soon in Microsoft.NET.Sdk.Functions version 3.0.10 -

[2020-10-08 14:47] RaleS commented on #6769
Cool, I have bumped and added
[code]
I will let you know the results.
What is the ETA on 3.0.10?

[2020-10-08 15:11] divyagandhisethi opened #6770 "Add unhandled exception handling for Linux app service"
This is tracking fix for a CRI where a custom container is failing with an unhandled exception. App service requires such exceptions to be routed to stdout

[2020-10-08 15:18] RaleS commented on #6769
Here is the result
[code]

[2020-10-08 15:26] brettsam commented on #6769
The exit code translates to `0xC0000142` which is `STATUS_DLL_INIT_FAILED`.

Some things on StackOverflow seem to indicate that running as a service may be the issue:
- https://stackoverflow.com/questions/30942021/powershell-start-process-exit-code-1073741502-when-used-with-credential-from-a
- https://stackoverflow.com/questions/29091538/executing-msbuild-process-through-code-gets-exit-code-107374

[2020-10-08 19:00] ghost commented on #6559
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-10-08 19:38] abhiyadav1323 commented on #6763
Issue was with the underlying azure instances running the application code.

I took the below steps and I was able to connect to the endpoint without any SSL issue.

•	Deleted the certificate from App service plan
•	Restarted all machines and checked that the cert doesn’t exist on the instance
•	Added the cert again and checked that this time it exists.
•	Ran the test functions and they were able

[2020-10-08 19:39] #6763 closed, assigned to madelinegordon

[2020-10-09 04:00] #6552 closed, assigned to yojagad, ThejaChoudary, v-anvari

[2020-10-09 14:38] FinVamp1 commented on #4263
On Windows it should write to %LOCALAPPDATA%\Microsoft\ApplicationInsights\ as per my local testing.

With the release 2.15.0-beta3 and greater local storage is now automatically created for Linux, Mac, and Windows. For non Windows systems the SDK will automatically create a local storage folder based on the following logic:

${TMPDIR} - if ${TMPDIR} environment variable is set this location is us

[2020-10-09 18:02] mpodwysocki opened #6773 "Integration with Azure Notification Hubs NuGet library"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

According to the [Azure Functions for C# Reference](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#referenc

[2020-10-09 18:35] tyler555g commented on #2015
Why is this not mentioned in the docs or warned upon creation? This has been known since 2017, but no obvious mention of it anywhere that I can find. ( I very well could be blind, so if so please correct me. )

[2020-10-09 18:43] judyanndixon commented on #3965
I also got better cold starts using func azure functionapp publish with a simple functionapp that just does a redirect.  I was seeing around 15 seconds after a deployment using Visual Studio, with the func azure functionapp publish it was down around 2.    Wonder what the one tool is doing that the other needs to be doing?????

[2020-10-09 18:46] goiri opened #6775 "Load bindings in parallel"
#### What problem would the feature you're requesting solve? Please describe.
The bindings are loaded in series with the current code.

#### Describe the solution you'd like
Make them load in parallel.

[2020-10-09 18:47] goiri commented on #6775
I created a PR with the code changes:
https://github.com/Azure/azure-functions-host/pull/6774

[2020-10-09 19:00] ghost commented on #6635
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-10-09 19:34] pragnagopa opened #6776 "Review system logs if function app is using retry policy"
cc @jeffhollan
Verify Kusto logs show enough information for the team to support a CRI and if needed create a detector.

[2020-10-09 19:35] pragnagopa opened #6777 "Enable EnsureWorkerForSiteV2 on SLA sites and verify placeholder hit rate"

[2020-10-09 20:02] MikePennington commented on #3965
@judyanndixon I went pretty deep down this rabbit hole a few months back. Here's what I learned:

There are two different levels of cold start times. "First time ever called" cold start and "normal" cold-start. Best I can tell is that the only difference is that `func azure functionapp publish` pre-warms the function where `az functionapp deployment` does not. This removes the penalty of the "firs

[2020-10-10 00:06] judyanndixon commented on #3965
Good to know.  Thanks!

Sent from my iPhone

[2020-10-10 00:28] #5419 closed

[2020-10-10 02:03] yojagad commented on #6346
I dug deeper at this. If Zach was working off of the example from here https://github.com/Azure-Samples/azure-sdk-for-go-samples/tree/master/keyvault/examples to try and access secrets, it didn't work for me. But it wouldn't fail either and `GetSecret()` would just get stuck. Since he was using it in the context of `init()`, initialization would have ended up getting stuck and not completed.

To w

[2020-10-10 02:03] #6346 closed, assigned to yojagad

[2020-10-10 03:30] hem-sharma opened #6778 "Documentation improvement."
Microsoft.Azure.WebJobs SDK for creating Azure Functions has issues in reading `local.settings.json` if IConfiguration overrode by custom configuration.

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version: V3
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce

[2020-10-10 15:02] prabh-62 opened #6779 "Support for HTTP 3"
#### What problem would the feature you're requesting solve? Please describe.

#### Describe the solution you'd like
Ability to switch to HTTP/3
<img width="1034" alt="http_3_functions" src="https://user-images.githubusercontent.com/13006107/95658253-fd199480-0ae6-11eb-8d76-1425bc1b83c7.png">

#### Describe alternatives you've considered

#### Additional context
- [Chrome is deploying HTTP/3 and I

[2020-10-10 16:30] prabh-62 commented on #5405
I tried to reproduce the issue with a new `func` project however I couldn't

## System
- `func --version`  -> `3.0.2931`
- `dotnet --version` -> `3.1.402`

## Steps
- `> func new ImageService --dotnet`
- `> cd ImageService`
- `> func init` (Add a HTTP Trigger)
- Swap code in the new HTTP Trigger class with this snippet
[code]
- Now, invoke both the APIs and check for API response. (Both APIs retur

[2020-10-10 16:52] prabh-62 commented on #5405
@anthonychu The issue with @myarotskaya's git repo is the order of parameters
<img width="729" alt="myarotskaya_issue" src="https://user-images.githubusercontent.com/13006107/95660581-e0855880-0af6-11eb-927a-1504b2a1f61b.png">

Once, the order of parameters is fixed, the request body comes through
<img width="1423" alt="myarotskaya_issue_fixed" src="https://user-images.githubusercontent.com/130061

[2020-10-10 17:02] prabh-62 opened #6780 "FileBufferingReadStream: Microsoft.AspNetCore.WebUtilities: Cannot access a disposed object"
#### Check for a solution in the Azure portal

#### Investigative information
If the order of Azure Function HTTP Trigger aren't in the order WebHost expects, the error messages coming out don't make much sense.

#### Repro steps

##### System
- `func --version`  -> `3.0.2931`
- `dotnet --version` -> `3.1.402`

Provide the steps required to reproduce the problem:

## Steps
- `> func new ImageServi

[2020-10-10 17:05] prabh-62 commented on #5405
Created https://github.com/Azure/azure-functions-host/issues/6780

[2020-10-11 16:00] ghost commented on #6749
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-10-11 22:00] #6559 closed, assigned to ankitkumarr

[2020-10-12 10:56] ttjackott commented on #2412
100% this - we use it this way and have just noticed errors because of old code hanging around in the deployment slot.

Where is this feature?

[2020-10-12 12:41] krish-gh commented on #5246
@balag0 Is it only for Consumption plan? I see user reported it for Linux Premium or App Service plan also. https://stackoverflow.com/questions/64316818/time-zone-issue-python-function-app-on-azure

[2020-10-12 14:55] SelvamRajendrn commented on #6719
Any Update on this issue, I am also facing the same issue.

[2020-10-12 15:52] ThejaChoudary commented on #6778
@gzuber able to repro the issue can you please look into this further

[2020-10-12 17:28] balag0 commented on #5246
Yes, this issue is specific to consumption plans only.

[2020-10-12 17:54] onionhammer commented on #5306
Issue is definitely not resolved. Any update on ETA for a fix?

This issue is presumably also related to Azure Pipelines deployment's `AzureFunctionsApp@1` task erroring with

"##[error]Error: Unable to find the storage account associated with the function app."

[2020-10-12 17:57] RaleS commented on #6769
The error is caused by a hanging dotnet.exe process from previous run.
Workaround is to nuke dotnet.exe process and retry build.

[2020-10-12 18:02] #4267 closed

[2020-10-12 19:04] #6592 closed, assigned to pragnagopa

[2020-10-12 20:35] apawast commented on #6215
@kashimiz do you have any updates on the subtasks required for this?

[2020-10-12 22:00] #6635 closed, assigned to yojagad, v-anvari

[2020-10-12 22:48] fabiocav commented on #5098
The validation phase has been completed and the release is starting to rollout globally. We don't usually publish the Core Tools until after the deployment, but we're making some changes to the process and will see if we can get this up ASAP so you can test locally as well.

Again, thanks for the patience with this!

[2020-10-12 22:50] fabiocav commented on #5098
We'll actually keep this issue open (the original intention was to keep it open) so we can continue to use this for feedback/validation.

[2020-10-13 05:26] SeanFeldman opened #6783 "Unable to resolve service for type Microsoft.Azure.WebJobs.Script.IEnvironment with EF DbContext and NServiceBus"
I've got a project where an Azure Service Bus triggered Function is hosting NServiceBus endpoint registered as a singleton and [delegates/passes](https://github.com/SeanFeldman/NSB-Function-DI-repro/blob/master/AzureFunctions.ASBTrigger.DI/AzureServiceBusTriggerFunction.cs#L23) messages to NServiceBus. NServiceBus [adopts the service collection](https://github.com/SeanFeldman/NSB-Function-DI-repro

[2020-10-13 07:47] aradice-truenorth commented on #6749
@pragnagopa I attempted instead to recreate the function in the original subscription so that I could move it to the new subscription. When I enter the function name in the UI an error indicates that the name isnot available.

[2020-10-13 11:23] #6675 closed, assigned to madelinegordon

[2020-10-13 14:12] mike1880 commented on #5405
I can confirm this is now working for me with Microsoft.NET.Sdk.Functions 3.0.9, both in local emulator and in Azure itself, and with Get as well as Post.

[2020-10-13 18:48] davidmrdavid commented on #6337
@kashimiz please take a look at the LinuxAppServiceFileLogger [here](https://github.com/Azure/azure-functions-durable-extension/pull/1522) for an example of how to port your existing file logger to use  a POSIX-compliant `syscall.rename` utility. That should suffice to notify fluent-bit / td-agent about the file roll.

[2020-10-13 18:56] ConnorMcMahon commented on #6337
It may be worth pulling this out into a separate library, as there are plenty of projects in the App Service Linux dedicated eco-system that could benefit from a thread-safe file logger that works with our version of td-agent.

[2020-10-13 19:47] tkaniewski opened #6785 ""Slot Swap" operation randomly change slot host keys"
Hi,

I'm doing deployment to functionApp slot (+ my custom script to enable managed identity on all slots and update app settings with values from keyVault) in my Azure Devops classic pipeline and then swap slot operation with "Azure App Service manage" task. Unfortunately, swap randomly changing host keys on my slot, which is causing 401 in other places. They are always swapping between two sets

[2020-10-13 19:54] timgabrhel opened #6786 "ServiceBusTrigger delayed for extended period of time before executing"
#### Check for a solution in the Azure portal
Nothing found.

#### Investigative information

The issue I am having is that my function with a `ServiceBusTrigger` goes dark for an extended period of time. In the linked bug report, there is a 12 hour gap of silence, then it caught up with all messages. Then, after a short period of normal behavior, it went silent again. I was able to force it to tr