[2021-06-08 08:08] v-bbalaiagar commented on #7430
Hi @mmulhearn, Let us know if the above information resolves your query, or if you have any further queries.

[2021-06-08 08:16] TehWardy commented on #7432
![image](https://user-images.githubusercontent.com/6891030/121148816-04419f80-c83a-11eb-8b22-24989d0ffa59.png)
![image](https://user-images.githubusercontent.com/6891030/121148841-086dbd00-c83a-11eb-8d1c-cefc5d5aaf39.png)
![image](https://user-images.githubusercontent.com/6891030/121148853-0c014400-c83a-11eb-8cf1-3b7703551bdf.png)

...

Totally confused!
I've used Functions for years.

[2021-06-08 08:29] tmeadon opened #7442 "Why is a scaling warning displayed when using identity based connections for AzureWebJobsStorage?"
#### Is your question related to a specific version? If so, please specify:
3.0.15733.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
PowerShell

#### Question
When testing deploying a Function App using the new identity based connection capability, the Azure Portal is displaying the following warning:

![image](https://user-images.githubusercontent.com/39049630

[2021-06-08 08:46] TehWardy commented on #7432
Ok turns out I found another postman bug ...
Sheesh I hate that thing sometimes!

[2021-06-08 08:46] #7432 closed, assigned to nobody

[2021-06-08 11:03] v-bbalaiagar commented on #7425
Hi @kanagaraj2503, Let us know if you are able to resolve with the above information, or if you have any further queries.

[2021-06-08 12:29] mmulhearn commented on #7430
Yes, I can follow the linked issue as that seems to be the problem.  Launching from VS works.  Thanks @zhenyuan0502

[2021-06-08 12:29] #7430 closed, assigned to nobody

[2021-06-08 13:15] CarlosOnline commented on #7419
West Europe

[2021-06-08 15:33] mrjamiebowman commented on #2721
We are having the same issue.. it's up to 120k request on average for 3 consumers in Kubernetes.. no messages being processed.. this is dev.. it's just sitting there.. Do we think it could be the service polling for new data?

![image](https://user-images.githubusercontent.com/1640591/121214771-0eb56680-c845-11eb-8e6b-3640c975d3a6.png)

[2021-06-08 16:26] mikecole commented on #7421
I am running into this same issue on a Windows consumption plan, with HTTP requests returning 404 or 503. If I hit the endpoint a few times in PostMan, it eventually succeeds, but I would expect a longer wait time for a cold start rather than a 404/503. Will watch this issue and hopefully the fix applies to my situation as well.

[2021-06-08 19:00] #7418 closed, assigned to brettsam, v-anvari

[2021-06-08 22:47] drekuru commented on #586
@mathewc any updates on this?

[2021-06-09 00:08] apranaseth opened #7444 "Support for the instance methods in the functions entry point."
#### What problem would the feature you're requesting solve? Please describe.
Currently only static methods are allowed as the function entry point.

#### Describe the solution you'd like
The entry point can be an instance method in a class.

[2021-06-09 06:32] kanagaraj2503 commented on #7425
Hi @zhenyuan0502 / @v-bbalaiagar

The above details work for normal function and portal level app settings using KeyVault, could you please guide how that would work for Unit Test project, also share the sample code snippet to verify ?

What I've done so far:
1. Have the "AzureStorage" : "@Microsoft.KeyVault(SecretUri=https://your-keyvault.vault.azure.net/secrets/your-connection-string)" in appset

[2021-06-09 10:07] v-anvari commented on #7393
For the team, during the error timestamps, the triggers couldn't submit the request, and eventually couldn't find the files

Few exceptions seen during the error Timestamps is as below:

FunctionInvocationId == "a6880647-77d6-431f-8d73-e9edf02b6650"
Region: North central Us
[code]

FunctionInvocationId == “17143ba0-9117-446a-95de-e050447ced4c”
Region: North Europe
[code]

Triaging the issue for fu

[2021-06-09 12:50] tomkerkhove opened #7445 "Configuration on startup issues are not surfaced"
#### Investigative information

N/A since this is a dockerized Azure Function running in a CI pipeline, but probably it's applicable for all runtimes.

#### Repro steps

Provide the steps required to reproduce the problem:

1. Use a startup configuration as indicated below (make sure to make a non-existing file mandatory)
2. Containerize the Azure Function
3. Run it, and nothing happens

<details>

[2021-06-09 14:33] swettstein commented on #5098
@fabiocav any update on releasing "EnableEnhancedScopes" so we don't need the feature flag anymore?

[2021-06-09 17:07] CarlosOnline commented on #7419
I don't have a repro.  The function app was deployed and that was it.  Sometimes there are no calls to it and it shutsdown any way.  I am pretty sure it has to do with the QueueTriggers.  There are 3 QueueTrigger functions and Application Insight errors come in threes.

Have attached export templates for the azure function, storage account, and a function.json for a queue trigger.

[Op.zip](https:

[2021-06-09 19:56] CarlosOnline commented on #7419
Got a call stack from diagnostics and troubleshooting.  It really looks like the Azure Function cannot access Storage Queues.  The Azure function is in a Vnet.

[code]

[2021-06-09 20:10] fabiocav commented on #7394
@TsuyoshiUshio moving this to the triaged milestone until we have a chance to discuss.

[2021-06-09 20:14] fabiocav commented on #7369
@pragnagopa ping

[2021-06-09 20:36] fabiocav commented on #5922
@anthonychu an update on this issue; @kashimiz has the initial set of changes and is iterating with additional people prior to opening a PR. We expect this to be done at the beginning of 104.

[2021-06-09 20:36] fabiocav commented on #5902
Closing as resolved.

[2021-06-09 20:36] #5902 closed, assigned to pragnagopa, balag0

[2021-06-09 21:02] fabiocav commented on #7414
Assigning to 104 for initial design and scoping.

[2021-06-09 22:39] pragnagopa commented on #7369
Apologies missed ping here. Moving to next sprint. Will send a PR in the next few days

[2021-06-10 02:12] #7408 closed, assigned to soninaren

[2021-06-10 08:12] eLVas commented on #6423
@paulbatum

Is this preview also available for functions written in python? If so is there an example of how to set it up?

[2021-06-10 09:08] akakaule commented on #5663
I'm also experiencing the same issue. I have a service bus triggered function running .net core code where some of the invocations has executed code old code. It seems that only a few of the executions used the old code. I would really like to have an status update on this issue. The old code that are being executed is from a deployment earlier than may 3rd. So from a really old deployment. Downlo

[2021-06-10 09:24] labuscpi commented on #6899
"Microsoft.NET.Sdk.Functions" Version="3.0.13"

Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(37, 5):     Could not evaluate 'Microsoft.Azure.Documents.ServiceInterop.dll' for extension metadata. Exception message: Format of the executable (.exe) or library (.dll) is invalid.

  Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(37, 5):     Could not evaluate '

[2021-06-10 14:43] v-anvari commented on #7442
Hi @tommagumma , Thank you for your feedback! We will investigate and update as appropriate. While I check with the team if this is by design, can you provide me the steps to repro this scenario, how are you incorporating the template, and can you provide me links to the related sources of the identity based connections that you are using. This would help us understand more about your Function App

[2021-06-10 15:17] mikecole commented on #7421
@tkutcher Did you get a resolution from this issue?

[2021-06-10 15:30] mathewc commented on #7444
Specifically we're talking about [FunctionMetadata.EntryPoint](https://github.com/Azure/azure-functions-host/blob/e05978ca40809fa59696dce41c3760d23018098e/src/WebJobs.Script.Abstractions/Description/FunctionMetadata.cs#L36). Historically this has only ever supported static methods because it's primarily used for our non .NET script language support. It's also used for csx support, but apparently w

[2021-06-10 15:47] cjaliaga opened #7449 "Consider upgrading Microsoft.IdentityModel.* libraries to 6.X, at least on v4 runtime"
#### What problem would the feature you're requesting solve? Please describe.
Currently the v3 runtime references `Microsoft.AspNetCore.Authentication.JwtBearer 3.1.0` that depends on `Microsoft.IdentityModel.Protocols.OpenIdConnect >= 5.5` => `System.IdentityModel.Tokens.Jwt >= 5.5` => `Microsoft.IdentityModel.JsonWebTokens >= 5.5`. We are pining these libraries so customer Functions Apps cannot

[2021-06-10 16:11] pragnagopa commented on #7421
Tagging @balag0  @yojagad  - fyi for linux consumption

[2021-06-10 16:12] tmeadon commented on #7442
Hi @v-anvari - this can be reproduced simply by deploying that bicep template into a new resource group.  I'm not sure what you mean by the 'related sources of the identity based connection' - could you help me understand how I can get you the information you need please?  I've not currently got a repro deployed anywhere, but I can do if that would help.

[2021-06-10 16:30] tkutcher commented on #7421
@mikecole not yet - behavior still occurring as of this morning.

[2021-06-10 16:33] v-anvari commented on #7384
Hi @joshmouch , Apologies for the delayed response, the team is working on this feature or approach already and you can find the updates in the following link - [Implement test worker/test framework · Issue #281 · Azure/azure-functions-dotnet-worker (github.com)](https://github.com/Azure/azure-functions-dotnet-worker/issues/281).

Closing this issue as all the updates will be provided there.

[2021-06-10 16:33] #7384 closed, assigned to nobody

[2021-06-10 16:34] mikecole commented on #7421
@tkutcher Based on research I did yesterday it appears we aren't the only ones. I set up an uptime robot on one of my HTTP trigger endpoints and saw more downtime than I expected.

[2021-06-10 16:37] paulbatum commented on #6423
It is technically possible but more complicated to set up, because it requires not using bundles and instead manually referencing the new beta extensions (you would use [these instructions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#explicitly-install-extensions)). We are working on an updated 3.0-preview bundle release that would make it much easier to cons

[2021-06-10 16:39] v-anvari commented on #7442
Thank you for the information, I was trying to understand what is the identity based connection you were talking about. Is it this - [how-to-identity-based-data-access](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-identity-based-data-access#:~:text=When%20you%20use%20identity-based%20data%20access%2C%20Azure%20Machine,at%20the%20storage%20level%20and%20keeps%20credentials%20confi

[2021-06-10 17:00] brettsam opened #7450 "Remove DependencyTrackingTelemetryMoudule disposal workaround when we've upgraded to App Insights 2.18.0"
Workaround introduced here will no longer be required: https://github.com/Azure/azure-functions-host/pull/7448.

Fix in App Insights is here: https://github.com/microsoft/ApplicationInsights-dotnet/pull/2294

[2021-06-10 17:30] v-bbalaiagar commented on #7421
Hi @mikecole, Can you open a separate issue with the details as it looks like you are running on the different plan.

[2021-06-10 17:37] v-bbalaiagar commented on #7420
Hi @reddaiahnethi, We would like to know the detailed exception stack and Can we have the repro steps, in order to understand what is happening here.

[2021-06-10 17:52] tmeadon commented on #7442
Yep - that's exactly it. I was testing out the new preview feature and was concerned by the warning and thought I should raise it.  Is this the correct repo for that?

[2021-06-10 17:58] v-bbalaiagar commented on #7419
Hi @CarlosOnline, The best recommendation here is that you need to configure the Vnet properly to talk to the endpoints.
Also, Can you please go through the [blog ](https://blog.brooksjc.com/2021/04/22/azure-functions-access-to-restricted-storage-accounts/)which addresses similar scenario where the blog talks about Vnet.

Please check and let us know if this helps.

[2021-06-10 18:16] yojagad commented on #7421
For linux consumption, this is a known issue (for python 3.9) and the fix for that will be rolled out as part of the next release
https://github.com/Azure/azure-functions-python-worker/pull/854

As a workaround until this is rolled out, can you please add the following app setting and value and see if that works for you ?

[code]

[2021-06-10 18:33] mikecole opened #7451 "Function App Cold Starts Result in 404 or 503 error on Windows Consumption plan"
I have created a handful of Azure Function apps in the portal, using the Windows Consumption plan, that provides HTTP trigger endpoints as an API to a SPA. I'm finding that when the function app cold starts that it intermittently returns 404 or 503 errors and my traffic isn't shown in function app logs. I'm seeing this globally across all of my Function apps.

#### Investigative information

Pleas

[2021-06-10 21:14] brettsam opened #7452 "Support structured logging from worker"
The .NET worker is getting requests for structured logging from the worker -> host -> app insights. We'll need to update the GRPC contract for this to work.

[2021-06-10 21:14] brettsam commented on #7452
Related: https://github.com/Azure/azure-functions-dotnet-worker/issues/423

[2021-06-11 11:25] v-anvari commented on #7442
Hi @tommagumma , Once I repro it, I will check with the concerned team if this is an expected behavior, Thank you for the details.

[2021-06-11 11:26] tmeadon commented on #7442
Thanks @v-anvari!

[2021-06-11 13:00] ghost commented on #7399
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-11 13:00] ghost commented on #7389
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-11 13:23] YvesCandel commented on #3593
Any workaround available when using HttpRequestMessage instead of HttpRequest? Like @RicardoNiepel his workaround...

[2021-06-11 15:07] pragnagopa commented on #6558
Moving to sprint 104 to discuss addressing this issue or closing.

[2021-06-11 15:07] pragnagopa commented on #6558
cc @yojagad

[2021-06-11 16:00] tkutcher commented on #7421
From what I can tell with this workaround the behavior is not occurring for apps that it previously was occurring (I am now realizing that all the apps it occurred for were python 3.9). So this workaround works for me until the next release.

Feel free to close this issue.

[2021-06-11 16:29] pragnagopa commented on #7421
Thanks for confirming @tkutcher ! Closing this issue.

[2021-06-11 16:29] #7421 closed, assigned to nobody

[2021-06-11 17:14] v-bbalaiagar commented on #7451
Hi @mikecole, Thank you for the details, We will check the logs to understand the error and revert back the findings.

[2021-06-11 17:15] mikecole commented on #7451
Thank you. Let me know if I can provide any more info.

[2021-06-11 19:06] mattschoutends commented on #7393
We are seeing this issue as well, including the exact same EventSource GUID in the error message.  Like everyone else that has posted, we are not creating a TelemetryClient or TelemetryConfiguration.  We are using an injected ILogger.  Instances date back to 5/21 in multiple subscriptions and function application instances.

Sample recent instance:
Invocation ID:  ae22ece0-0b6c-4668-8544-96fbed1fa

[2021-06-11 22:00] pragnagopa commented on #7369
PR opened! Please review

[2021-06-11 23:42] paulbatum opened #7455 "Update host Azure.Storage.Blobs dependency to 12.9.0"
Azure Storage Blobs SDK has received reliability improvements in the [12.9.0 release](https://github.com/Azure/azure-sdk-for-net/blob/Azure.Storage.Blobs_12.9.0/sdk/storage/Azure.Storage.Blobs/CHANGELOG.md#1290-2021-06-08) - functions host currently references 12.8.1 and should be updated.

[2021-06-12 01:30] Francisco-Gamino opened #7457 "Create hash from key and log this hash with each http request or webhook endpoint (for event grid)"
Currently, if the client sends a request with an invalid or incorrect key, we do not have a way check in the logs if the key is valid. Adding a hash would be useful for CRI investigations.

Scenario:
The customer has set the authorization level to function for their httptrigger (function), so any request must include the key either in the query string or the x-functions-key HTTP header. In the fro

[2021-06-12 01:31] Francisco-Gamino commented on #7457
cc: @alrod

[2021-06-12 01:39] Francisco-Gamino opened #7458 "If a function key(s) become invalid, log the reason (if available) before regenerating new keys"
Function keys can be invalidated for many reasons. When new keys need to be regenerated, log the reason why the previous ones became invalid. This is a common CRI question and this log entry will be very useful.

[2021-06-12 01:39] Francisco-Gamino commented on #7458
cc: @alrod

[2021-06-12 10:23] luckerby commented on #5654
@paulbatum Thanks, Paul. I was curious as to what gets allocated inside the AppDomain - that difference from ~248 MB up until ~333 MB in last 2 printscreens of my 2nd post - by the Azure Functions runtime. E.g. how would I be able to see what objects take up that extra memory? Since the ~333 MB value is picked up from within my own code, would there be a way as to see who those "neighbouring" obje

[2021-06-12 12:36] mandarsj opened #7459 "Azure durable functions gets stuck and deadlocks further requests"
I have azure durable function designed to generate millions of IDs. However If a certain execution fails due to lesser service tier and less memory, The stateful nature of the durable function means, the historical state is preserved. I noticed, the failing function kept keeping my azure function memory at 80-90% even though it had been more than 5-6 hours since it first failed.

There should be a

[2021-06-12 13:00] ghost commented on #6911
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-12 20:11] HMoen commented on #6911
@v-bbalaiagar, looks like this will work. Thanks for your assistance.

[2021-06-12 20:11] #6911 closed, assigned to madelinegordon, v-bbalaiagar

[2021-06-12 21:39] mikecole commented on #7451
I put an uptime monitor on this same function:

![image](https://user-images.githubusercontent.com/1166315/121789551-94fedf00-cb9c-11eb-94ab-5f855eaae5ec.png)

[2021-06-13 09:30] renenielsendk commented on #586
+1 to Node support

[2021-06-14 07:47] Kravca opened #7460 "Microsoft.Azure.WebJobs.Script.WebHost: Could not create BlobContainerClient."
Hi,

During the last couple of days we noticed that our function apps are not starting with the following error:
Microsoft.Azure.WebJobs.Script.WebHost: Could not create BlobContainerClient.

We managed to find a workaround by setting FUNCTIONS_EXTENSION_VERSION = ~3.0.15885.
If it is set to ~3, the function might start or might not start. Or might start and eventually stop working.
We are using C

[2021-06-14 09:30] v-anvari commented on #7460
Hi @Kravca , I have checked the backend logs and I see that some configuration has changed and the function app is unable to get the correct partition key or connection string. Can you review all the app settings and configuration and restart the function App.
[code]

I also see a recommendation for your monitor -  https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#websi

[2021-06-14 10:01] v-bbalaiagar commented on #7459
Hi @mandarsj, Thank you for reaching out to us, checking internally on this issue.

[2021-06-14 10:13] lewinskimaciej commented on #5841
This needs to be adressed, it's one of the most basic features. Not only we should be able to set json serialization settings for 'MVC' related stuff, but also we should be able to set DefaultSettings.

[2021-06-14 10:25] kanagaraj2503 commented on #7425
Hi @v-bbalaiagar - Hope you have gone thru my above request, any update/resolution?
Thanks.

[2021-06-14 10:51] AmyJeanes commented on #7238
I'm seeing the same behaviour intermittently in a Kubernetes cluster as well, notably on a service bus triggered function which is disabled by not including it in the `AzureFunctionsJobHost__functions__X` environment variables

[code]

[2021-06-14 10:58] Kravca commented on #7460
Hi,

Thanks for the swift reply.
1. Maybe it was a bad function app to provide for investigation, because there are people right now trying to solve the problem and they are experimenting with different things at the moment, Ill try to provide another function app name.
Regarding WEBSITE_CONTENT* settings, I couldn't figure out from documentation if this is applicable to our scenario, because in o

[2021-06-14 11:19] v-anvari commented on #7460
Hi @Kravca , Thank you for the feedback, can you provide us with the repro steps so that we can repro it from our end

[2021-06-14 11:20] Kravca commented on #7460
Sure, is there a way how I can provide information without public exposure? I'm new to Github.

[2021-06-14 11:22] v-bbalaiagar commented on #7425
Hi @kanagaraj2503, Checking internally for any possibilities.

[2021-06-14 11:46] v-anvari commented on #7460
You can send me a mail at v-anvari@microsoft.om, please provide the code details as well.

related information-

https://github.com/Azure/Azure-Functions/issues/1923 - this link tells you why you can stop using AzureWebJobsDashboard

[2021-06-14 11:47] AmyJeanes commented on #7238
After further investigation it appears the problem is worse than this. It is picking messages off the service bus and dead lettering them before the other version of this function (scaled with KEDA to the service bus queue length) with the same function enabled with `AzureFunctionsJobHost__functions__X` can read them.

We have tried restarting the function several times with unconstrained CPU reso

[2021-06-14 13:05] HavyRhl commented on #3593
same problem.
Workarounds not viable for us. pls fix.

[2021-06-14 16:00] #7399 closed, assigned to soninaren, v-anvari

[2021-06-14 16:00] #7389 closed, assigned to brettsam, v-anvari

[2021-06-14 17:36] v-bbalaiagar commented on #7425
Hi @kanagaraj2503, With the KeyVault referencing appsettings.json that's not going to work. The Microsoft keyVault reference that's only processed in the context of web service, so the app service infrastructure when it sees there will automatically go and resolve the information from the KeyVault and there is nothing locally or part of the unit test project.
For local development scenarios you ne

[2021-06-14 17:54] v-bbalaiagar commented on #7459
Hi @ConnorMcMahon, Could you please look into this issue.

[2021-06-14 18:11] paulbatum commented on #5654
@luckerby You can use Visual Studio's tooling to get more details on this. For example, run the function app and the pause in the debugger and take a memory snapshot:
![image](https://user-images.githubusercontent.com/10663/121937556-a8768b00-ccff-11eb-809f-084abab7fc39.png)

Then click on the snapshot and view the heap:
![image](https://user-images.githubusercontent.com/10663/121937651-c2b06900-c

[2021-06-15 04:38] CarlosOnline commented on #7419
This is not a vnet issue I removed the QueueTrigger and polled the queues myself and it works. You need to fix the QueueTrigger code to not take down the Azure function

[2021-06-15 04:59] kanagaraj2503 commented on #7425
Ok @v-bbalaiagar,

Is that something Microsoft going to resolve in future OR will have to live with secret expose in development machine?

Thanks.

[2021-06-15 06:33] PetrPospisil commented on #7460
We are also experiencing the same error since friday. We deploy multiple functions the same way (az cli deploy (create+config) -> stop -> dotnet publish -> start), but the error is happening only to some of them (maybe some dll hell because they both use Microsoft.Azure.WebJobs.Extensions.EventGrid).

Now, I noticed... when I go to portal -> failing function -> Configuration -> + New application s

[2021-06-15 07:53] sriksmachi commented on #7460
We are also experiencing this issue since yesterday, we see an error in the portal "Microsoft.Azure.WebJobs.Script.WebHost: Could not create BlobContainerClient." the configuration seems correct, we also checked from Diagnose and Solve Problems - is there any update on this?

[2021-06-15 08:38] Kravca commented on #7460
I just sent email to @v-anvari  with reproduction steps. I spent a lot of time trying to narrow it down. Indeed if you play around with application settings, it may temporary help out, but it gets back to error (maybe in 5 minutes, maybe in an hour..). The only stable workaround I know, is to set FUNCTIONS_EXTENSION_VERSION = ~3.0.15885. With this setting we have ~70 functionapps running smoothly

[2021-06-15 11:57] v-anvari commented on #7460
Hi @Kravca , Thank you for the details provided. A tilde (~) with major version means use the latest version of that major version (for example, "~3"). When new versions for the same major version are available, they are automatically installed in the function app. The latest version is 3.0.15960 and I see there were few changes made a week back on the latest version addressing issue with AzureSto

[2021-06-15 12:39] v-anvari commented on #7426
Tagging @galiniliev / @safihamid / for more information, Is this supported while using proxies?

[2021-06-15 12:50] ryanhubbell commented on #7460
I'm also getting the same error on my functions. Setting the version explicitly as stated here has temporarily made them work again. I'm using EventGrid, and ServiceBus triggers at the moment.

[2021-06-15 12:52] v-anvari commented on #7460
Thank you for the information, team is already investigating on this issue. Any information will be updated shortly.

[2021-06-15 13:07] sarbagya-lang commented on #7460
I am getting the same error as well. But I am not sure it will affect my whole function?

[2021-06-15 13:14] Kravca commented on #7460
The way how I understand this error, is that function host cannot create the BlobContainerClient to read the blobs. The Blobs that it tries to read are the function secrets (maybe something else as well). So that basically means that authentication part in functions is dead. That's why if you try to trigger some http functions through Azure Portal "Code + Test", it wouldn't list the keys.

[2021-06-15 13:35] sarbagya-lang commented on #7460
Putting  FUNCTIONS_EXTENSION_VERSION = ~3.0.15885 will solve the issue?

[2021-06-15 13:51] steve-sharman commented on #7460
For me, I had to set FUNCTIONS_EXTENSION_VERSION back to 3.0.15733 and the function app started working again.

![image](https://user-images.githubusercontent.com/7123593/122064508-0f4e7f80-cda6-11eb-834f-1c9a29bd8c4f.png)

Note:  some of our function apps appear fine on 3.0.15960 while others appear to have this issue until I pin them back to 3.0.15733

[2021-06-15 14:05] v-anvari commented on #7393
Hi @mattschoutends , Thank you for the feedback, I can see exceptions in your function App as well, Can you provide me with the repro steps, it can help us further breakdown this error. You can send me an email

[2021-06-15 14:10] v-anvari commented on #7442
Hi @tommagumma , Thank you for the patience, I tried to reproduce the issue and I am getting errors within the Bicep template, but,  I checked with the bicep team and they don't think its coming from the template. I am trying to fix those issues, I shall update you shortly

https://github.com/azure/bicep

[2021-06-15 14:12] tmeadon commented on #7442
Thanks for the update.  What errors are you getting?

[2021-06-15 14:15] v-anvari commented on #7442
Apologies, as I din't keep the error trace, I am working on resolving them, shall update you as appropriate

[2021-06-15 14:34] JamesDuggan opened #7461 "what is the correct value of %HOME%"
#### Is your question related to a specific version? If so, please specify:
Function App is version 3 (windows) on Premium (EP1) plan

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
Resolved issue https://github.com/Azure/azure-functions-host/issues/3626 suggests %HOME% should be is D:\home. The value I see is C:\home, which is not writeable to.

[2021-06-15 15:46] sarbagya-lang commented on #7460
Putting FUNCTIONS_EXTENSION_VERSION = ~3.0.15960  solved my isssue.

[2021-06-15 16:55] IanKnighton commented on #7460
When trying to open a higher priority ticket through Azure this morning, this is the messaging I received from Microsoft.

[code]

It says to set `FUNCTIONS_EXTENSION_VERSION` = `~3.0.15733` .

This put our functions back into an operational state.

Not sure what the version number difference means in reality.

[2021-06-15 18:26] pragnagopa opened #7462 "[RPC] Shutdown functions host if there are no language worker processes that can handle invocation request"
This is a follow up from a CRI - short-term fix

As of now, if there are no initialized language worker processes to handle invocations, host throws - `Did not find any initialized language workers` error from:

https://github.com/Azure/azure-functions-host/blob/852eed9ceef6ef56b431428a8eb31f1bd9c97f3b/src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFunctionInvocationDispatcherLoadBalancer.

[2021-06-15 18:28] pragnagopa commented on #7462
cc @fabiocav @brettsam @ankitkumarr fyi incase they see similar issue for dotnet-isolated functions

[2021-06-15 18:49] pragnagopa commented on #7462
cc @ConnorMcMahon

[2021-06-15 18:55] pragnagopa opened #7463 "[Rpc] Buffer invocations if host detects file system changes that would initiate langauge worker process restart rapidly"
Related to https://github.com/Azure/azure-functions-host/issues/7462

Follow up from a CRI investigation  - Long Term fix

1. Customer updated files from portal
2. JobHost restart kicked off due to file changes
3. Java language worker process was restarted multiple times - each jobhost restart will initiate language worker process restart

Invocations that started before language worker process fu

[2021-06-15 19:30] pragnagopa opened #7464 "Ux should disable function invocation button until host is fully initialized"
Opening tracking item in this repo as a follow up from CRI investigation.

Test/Run button on portal should be disabled until Host is fully initialized - in case of out-of-proc languages - this also means host and language worker process should be ready.

If this information is not surfaced already, host should provide an API that UX can call into to figure out when to enable Run button

cc @fabio

[2021-06-15 20:17] safihamid commented on #7426
Yes it uses local timezone of the host, fixing it could cause breaking change for other customers.
here is a simple repro:

{
    "$schema": "http://json.schemastore.org/proxies",
    "proxies": {
        "timestamptest": {
            "matchCondition": {
                "route": "/time"
            },
            "responseOverrides": {
                "response.body": "{\r\n\"t1\": \"**2021-05-20

[2021-06-15 20:20] #7369 closed, assigned to pragnagopa

[2021-06-15 20:36] pragnagopa opened #7465 "[LinuxConsumption] Allow app to run even if it points to invalid package in Run-From-Zip setting"
This is tracking work item to avoid failure on the platform during worker assignment.

[2021-06-15 21:37] theofred commented on #7460
## Observation 1
1. I've had the same error after deployment with `FUNCTIONS_EXTENSION_VERSION = ~3` and my Key vault References were not working with this error
```Key Vault reference was not able to be resolved because site was denied access to Key Vault reference's vault.```
2. Then I've set it manually in the portal to `FUNCTIONS_EXTENSION_VERSION = 3.0.15960` which should be the latest right

[2021-06-15 22:32] Vidarls commented on #7426
Hi, thanks for looking into this.

I want to comment on the remark by @safihamid :

 A date / time like `2021-06-15T16:45:33-05:00` is not an arithmetic operation. It is the ISO 8601 standard of formatting a date / time string. (https://en.m.wikipedia.org/wiki/ISO_8601). And the subtraction or addition at the end notes the timezone offset from UTC time. It does not indicate an actual subtraction o

[2021-06-15 23:02] Vidarls commented on #7426
I see that my link to show how json recommends using RFC 8601 is not to json.org, but rather to some programming language interpretation of how json works. My apologies for the misleading link.

I did find this from https://www.json.org/json-en.html :

Confirming that my datetime values should be treated as strings.

The closest thing I can find to a formalized standard for json mentioning how to

[2021-06-16 05:42] Kravca commented on #7460
For the ones not understanding wat the numbers mean, here are the builds and their release dates and notes:
https://github.com/Azure/azure-functions-host/releases

[2021-06-16 11:11] v-anvari commented on #7460
Hi @Kravca ,

The team has identified the root cause of this issue in the latest version 3.0.15960,  Team is rolling back the default version to 3.0.15733.

You can also work with ~3 and restarting the Function App. If that doesn't work, then this issue can be mitigated by pinning the versions back to the Functions release 3.0.15733
FUNCTIONS_EXTENSION_VERSION = ~3.0.15733.

[2021-06-16 11:14] Kravca commented on #7460
Hi @v-anvari , I saw the statement on "Azure Health", and yes I checked that now it is rolled back. I can see that MS even changed configuration on my Function Apps. Thanks for solving this!

[2021-06-16 11:14] #7460 closed, assigned to nobody

[2021-06-16 13:48] v-bbalaiagar commented on #7461
Hi @JamesDuggan,  Thank you for reaching out to us, checking internally on this issue.

[2021-06-16 17:21] ianadavies commented on #586
Sorry if a bit late on this, but just had this issue. So this is how I got code to run on startup and when you need some dependency injection and you need it to start before any function triggers.

NB: This only works if your code is either very short lived or it can be a singleton for the lifetime of the node.

[code]

Hacky I know but it works.

[2021-06-16 17:35] fabiocav commented on #6558
Flagging this as a design/planning item for the current sprint. I don't expect changes to take place for the next release as we have to decide on how (there are a few options) and if (this may not be relevant) we want to execute on this.

[2021-06-16 17:53] fabiocav commented on #6893
Closing this issue as there are no additional action items being tracked here. Please let us know if there are any other questions.

[2021-06-16 17:53] #6893 closed, assigned to brettsam, fabiocav, anthonychu

[2021-06-16 18:05] safihamid commented on #7426
Thanks @Vidarls. I verified this is working fine in Azure API Management Service.
@galiniliev can you or someone from your team see what's the difference here please?
for APIM this works fine:
 <set-body template="none">{"t1": "2021-05-20T00:30:00-03:00","t2": "2021-05-20T00:30:00"}</set-body>

but in Proxies the value of t1 is updated based on utc time:
 "responseOverrides": {
"response.body": "{

[2021-06-16 20:13] drekuru commented on #586
@ianadavies this is for C# functions yea?

[2021-06-16 20:13] drekuru commented on #586
@ianadavies this is for C# functions yea?

[2021-06-16 20:14] ianadavies commented on #586
@drekuru , Yes its c#

[2021-06-16 22:51] pragnagopa commented on #3111
@balag0 - should we consider this for V4?

[2021-06-17 02:54] balag0 commented on #3111
Yes, agreed. should be a good candidate for v4.

[2021-06-17 06:02] Crisfole commented on #4959
This occurred for me on terrible Hotel Wifi.

[2021-06-17 08:17] balag0 commented on #7461
The actual drive letter is an implementation detail. As long as you are using %HOME% to resolve the path, the behavior should be the same.
What is the exact path you are writing to? For apps using Run from package,  the content directory under  home/site/wwwroot will be readonly.

[2021-06-17 11:55] vinaydate opened #7470 "Throws exception on cold start"
#### Investigative information

- Timestamp: 2021-06-17T10:56:29.944
- Function App version: 3
- Function App name:
- Function name(s) (as appropriate): messages
- Invocation ID: dcaee1ff-d8c1-43e8-af85-fba28541c495
- Region: West India
- Plan: Consumption

#### Repro steps

1. When we restart function app from azure portal console, it works
2. But after some time, when we invoke the function by s

[2021-06-17 12:03] mattschoutends commented on #7393
Hi @v-anvari, emailed you some detail separately.  Like I mentioned this above, we are seeing this in multiple environments (different subscriptions, different resource groups, etc).  It happens when our function app is run manually, or from a timer trigger.  Seems to always be the same GUID in the exception message.

We have several Azure functions in our function app.  Most follow the pattern of

[2021-06-17 13:01] JamesDuggan commented on #7461
The app uses run from package.

I want to write to the data folder of the file share of the Function App storage account, and as per https://github.com/Azure/azure-functions-host/issues/3626 I would prefer not to hard-code.

Environment.GetEnvironmentVariable("home") resolves to C:\home.

Using an app setting to retrieve the filepath (%home%\data\myData.txt) to which I intend to write, I get the f

[2021-06-17 16:21] pragnagopa commented on #7393
@karshinlin  - Can you take quick look  to check if this is related to https://github.com/Azure/azure-functions-host/pull/7424 ?

[2021-06-17 16:24] anirudhgarg commented on #7393
Also everyone - is this only logs noise at this point - or is it actually affecting execution.

[2021-06-17 16:56] karshinlin commented on #7393
Don't think this relates to that change as this error was reported before that change was released. I see 2 errors in this thread:
1. ERROR: Exception in Command Processing for EventSource Azure-Core: An instance of EventSource with Guid XXX already exists.
2. ERROR: Exception in Command Processing for EventSource Azure-Core: Object reference not set to an instance of an object.
  - This seems to

[2021-06-17 17:38] ericsampson commented on #4907
yes please. Along with making `DisableDevModeInDebug` the default behavior as well.

[2021-06-17 17:54] fabiocav commented on #4907
Will create breaking change proposals for both items.

[2021-06-17 18:06] ericsampson commented on #4907
Is `EnableEnhancedScopes` getting rolled out by default soon? That one seems more of a bug fix than change, I can't see people wanting the original behavior.

[2021-06-17 20:34] mdx-mrph opened #7472 "Deployment Failed: SCM_RUN_FROM PACKAGE"
#### Investigative information

Please provide the following:

- Timestamp: 4:17:46
- Function App version: 1.0
- Function App name: transformation
- Function name(s) (as appropriate):
- Invocation ID:
- Region: West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create function app with FREE TRIAL through the Azure portal, using Python v. 3.9
2. Use VS Code to

[2021-06-17 21:23] balag0 commented on #7472
Could you check if AzureWebJobsDashboard appsetting has a valid connection string. If it is valid, try removing and adding that setting back and redeploy.
If this doesn't fix the issue, please share the app name using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-06-17 21:24] MikePennington commented on #7393
@anirudhgarg as far as I can tell it is just noise in the logs.

[2021-06-18 00:43] mdx-mrph commented on #7472
I modified it with the correct connection string and it works now, thank you so much.

[2021-06-18 02:53] shibayan commented on #7103
Do you have any new information on this issue?

[2021-06-18 10:13] v-bbalaiagar commented on #7472
Hi @mdx-mrph,  Closing this issue as resolved, please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-18 10:13] #7472 closed, assigned to nobody

[2021-06-18 11:25] mattschoutends commented on #7393
@anirudhgarg It seems to be just noise--as far as we can tell our functions are doing everything they are supposed to--but we stumbled across it while investigating another issue with App Insights.

Sometimes (not every time, seems to happen most reliably the first time our function executes after a zip deployment), our function logs do not appear in App Insights.  Instead, we get "AI: Process was

[2021-06-18 13:52] ijagberg opened #7474 "Strange behaviour in EventHub triggered Functions since 2021-06-14T18:00:00Z"
Hi, we have noticed strange behaviour in many of our Azure Functions with EventHub triggers. At pretty much exactly the same time, they all suddenly decided to start executing way more often than before, for example going from around 4600 executions per minute to over 11000 executions per minute for the same amount of incoming messages. This has caused our apps to use vastly more CPU than before,

[2021-06-18 16:41] NovaDomus opened #7475 "409 LeaseAlreadyPresent"
I am getting a lot errors/logs from a function app in Application Insights as shown below. I do understand that is an blob storage issue, I do not know where it comes from. I dont use blob storage myself and the error doest mention the blob/file it wants to acquire.

I use azurefunctions: 3.0.15733.0- sdk with the dotnet runtime.

**Server:Windows-Azure-Blob/1.0,Microsoft-HTTPAPI/2.0
x-ms-request-

[2021-06-18 20:27] robntracts commented on #7269
Same issue except using the HostBuilderContext. context.HostingEnvironment is always Production. Used the same workaround.

[2021-06-18 22:37] MikePennington commented on #7393
Something that might be helpful, is that the sdkVersion is different for this error than from all the other trace logs.

![image](https://user-images.githubusercontent.com/750344/122621679-ddfed980-d05b-11eb-8baa-79b1fd9dcccd.png)

[2021-06-20 18:30] jaxnz commented on #7634
This is still relevant, and should at least be mentioned on the documentation. I spent hours trying to find out why I was getting 404 responses.

[2021-06-21 08:27] JamesDuggan commented on #7461
would it be possible to have an update please?

[2021-06-21 09:33] OzBob opened #7478 "Azure Portal AzFn Proxies Advanced editor, broken JS error"
#### Investigative information

- Timestamp: 2021-06-21T09:26:59.0066024Z
- Function App version: 2.7.2936
- Function App name: <private>
- Invocation ID: na - Azure Portal Issue not a Fn issue
- Region: Australia Southeast

#### Repro steps

Edit Proxies
Edit Proxy
Click Advance editor
JS error in Chrome and Edge
![image](https://user-images.githubusercontent.com/1796771/122740321-6ed0f180-d2b6-1

[2021-06-21 09:59] v-anvari commented on #7475
Hi @NovaDomus , Could you please share the Invocation id of the error and timestamp and the region. Could you also explain the project scenario and provide the repro steps

[2021-06-21 10:05] v-anvari commented on #7474
Hi @ijagberg , Could you please provide an invocation ID of the error, this will help us analyze the backend logs. Also, kindly check the memory dump to understand where the requests are coming from, a support ticket can help you find and analyze the memory dump as well.

[2021-06-21 10:13] ijagberg commented on #7474
How do I find an invocation ID for something like this? It's not one specific execution of one specific Function that is wrong, it's the number of executions suddenly happening after a specific timestamp. Do you want an arbitrary invocation ID so you can find out which Function app it is and where it is hosted? In that case, here is one for one of the affected apps: `8eed30d3-04d0-42e6-8b6a-639a9f

[2021-06-21 11:04] v-anvari commented on #7474
Thank you for the details, yes this should work. I shall check the logs and update you the findings. Meanwhile, could you also explain us the repro steps.

[2021-06-21 11:13] ijagberg commented on #7474
I don't know how to reproduce this, since I don't know what is causing the issue, that's why I opened this issue. My assumption is that there has been an update by Microsoft to EventHubs/App Service Plans/Azure Functions Host. These are apps that we haven't touched in over a year, so the only changes that could have happened must be external to us. There are no shared dependencies among the affect

[2021-06-21 11:25] v-anvari commented on #7478
Hi @OzBob, Thank you for the feedback. As you have mentioned, Kindly clear temp files/cache and then re-try, test this on a different web browser.

There were 2 issues in the past that were fixed related to this error, can you also check if you can find any recommendations here

https://social.msdn.microsoft.com/Forums/en-US/11e0312d-d2c0-48d0-94f7-43853466545e/issue-adding-portal-created-certific

[2021-06-21 11:40] v-anvari commented on #7474
Hi @ijagberg , I have checked the data for the Time period - 14 June to 15 June . The web app iot-positions-stream-ruter-v1 is the main cause of high Memory across multiple instances during this time period. During periods of High Memory, iot-positions-stream-ruter-v1 is consuming an average of 54.94% of Physical Memory on instances consuming high Memory.
If your app is performing slow or not resp

[2021-06-21 12:19] mschoneman opened #7479 "Function stops in the middle of processing with no exceptions"
#### Investigative information

Please provide the following:

- Timestamp: `2021-06-21T07:26:16.4985863Z`
- Function App version: `azurefunctions: 3.0.15733.0`
- Invocation ID: `e7e092b7-2811-4174-af8c-3013b0bdb029`
- Region: `East US`

#### Repro steps

When load testing our app, multiple functions are stopping mid-execution without any errors being logged.

#### Expected behavior

Function shou

[2021-06-21 17:41] balag0 commented on #7461
There are no multiple ways to resolve %home%.

It is expected that the program files directory is readonly.

One thing, I don't understand is why writing to
C:\home\data\myData.txt
touches
C:\Program Files (x86)\SiteExtensions\Functions\3.0.15961\32bit%home%\data\myData.txt

Can you try the following command from kudu
`touch %home%\data\myData.txt`
and see if that creates the file myData.txt at C:

[2021-06-21 17:47] v-anvari commented on #7470
Hi @vinaydate , Thank you for reaching out to us, I have checked the backend logs and I can see the exception multiple times during the day. While we investigate the cause, can you tell us if you have a support team analyzing the error as well. As I can see the team from botbuilder-dotnet is looking into this issue. Please confirm if yes.

[2021-06-21 18:05] vinaydate commented on #7470
Hi @v-anvari, I don't have any support team,

[2021-06-21 19:15] karshinlin opened #7483 "Remove 'DisableMergedConfiguration' FeatureFlag used in AzureStorageProvider"
Introduced a FeatureFlag to disable the merged configuration approach in AzureStorageProvider to use both WebHost and JobHost configurations.

Adding this issue to eventually remove this when this hotfix is stable and performing as expected.

[2021-06-22 03:56] aandyl opened #7484 ""Allow unauthenticated access" not working for Linux/Python function app"
I am having trouble using the "allow unauthenticated access" setting in the app service auth integration with my Linux/Python function app. I am hoping that it is appropriate to file an issue here, if not then apologies in advance.

To reproduce the problem: create a functions app project in VS code and select Python 3.8 as the runtime. Deploy to a new function app in my Azure account, US West reg

[2021-06-22 07:12] v-bbalaiagar commented on #7479
Hi @mschoneman, Thank you for reaching out to us, We will be checking the backend logs to try and find any errors and update you with the findings.

[2021-06-22 08:52] BlakeWills commented on #7278
I think I've been running into this too, although the behaviour I'm experience is slightly different, especially around Activity.Current being null in code vs in the debug windows / tooltips.

For example, the screenshot below shows Activity.Current as null but somehow the `traceid` is included in the string.

![image](https://user-images.githubusercontent.com/8128694/122887990-5229cd80-d339-11eb-

[2021-06-22 10:05] DVGY opened #7485 "npm install fails and node version is different in kudu/DebugConsole vs webhost/ssh"
#### Is your question related to a specific version? If so, please specify:
Azure function runtime ~3
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Node js
#### Question

1. **https://xxx.azurewebsites.net/webssh/host. In this ssh console,  npm install fails here**
[code]
[code]

2. **In Kudu/debug Console node version is 14.15.0, so If I do npm install here, my

[2021-06-22 10:50] v-anvari commented on #7470
Thank you for the confirmation, we will further investigate the error and update as appropriate

[2021-06-22 10:54] v-anvari commented on #7484
Hi @aandyl , Thank you for the feedback, we will reproduce this issue and update as appropriate

[2021-06-22 11:42] v-bbalaiagar commented on #7309
Hi @mcollier,  Can you please confirm if you can transfer this issue or tag the docs team.

[2021-06-22 12:35] v-bbalaiagar commented on #7485
Hi @DVGY, Thank you for reaching out to us, checking internally on this issue.

[2021-06-22 14:02] mschoneman commented on #7479
Appreciate it, if there's any more information you need, just let me know.

[2021-06-22 14:16] vitalybibikov commented on #7248
Hi, so no news so far?

[2021-06-22 14:44] pragnagopa commented on #7485
@DVGY  - Please fill out details requested in the issue template. To better assist we need following info:
- Which version of node did you set for your app?
-  For Windows -- check AppSetting : [website_node_default_version](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_node_default_version)
- For Linux -- check site config property `linuxFxVersion`

See [he

[2021-06-22 14:45] CharlieDigital commented on #1968
Hi, chiming in on this old issue.

I have recently had the "pleasure" of using AWS AppSync.  I use quotes because while it is **supremely** powerful, it can also be quite cumbersome to use in practice due to the need to learn Apache Velocity Template Language (VTL) and the lack of good tooling support in my opinion.

That power comes from the ability to arbitrarily transform proxied requests and r

[2021-06-22 15:04] DVGY commented on #7485
@pragnagopa Thanks for very fast response.
Initially I set up node v 12 LTS for Function App.
I was kind of confused by seeing two different node version in the ssh(v12) vs debugConsole(v14).

_I actually did npm install in kudu console` so it created node js package bindings using node v14. But the Function actually run in v12 Container. So it was failing to run (canvas npm package)_

I read your

[2021-06-22 15:31] pragnagopa commented on #7485
For Linux, `linuxFxVersion`  is a site configuration property. Setting this on the Function App will ensure right version of the node is available in Kudu and for your Function App Code

If you have access to storage account that was attached to your function app, you can download content directly from storage account. Please open a separate issue if you need further assistance.

[2021-06-22 15:38] DVGY commented on #7485
@pragnagopa Thanks alot I will be opening a new issue for this.

[2021-06-22 15:45] DVGY opened #7486 "Recover the deleted Function App Code,"
#### Is your question related to a specific version? If so, please specify:
I do not know which version to specify
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Nodejs
#### Question
I some how deleted my whole azure function app (Node js). It had one http and two event triggered functions.
**Is there any way I can get my function code ?**

Yes I still have access

[2021-06-22 15:45] #7485 closed, assigned to nobody

[2021-06-22 15:59] spencer-collins-work opened #7487 "rsync error when SCM_DO_BUILD_DURING_DEPLOYMENT=true"
Until recently I have been able to provision a Function App and deploy to it. I have now provisioned a new Function App, but when I attempt to deploy to it with identical code I get the following error during the "Deploy app" stage. It appears rsync is erroring when it's trying to copy the new packages over to the function app location possibly related to this issue. The error that is shown below

[2021-06-22 17:44] sebastianburckhardt opened #7488 "Function fails to load required System.Threading.Channels dll"
#### Investigative information

- Timestamp: 2021-06-22T16:56:35.475
- Function App version: 3
- Function App name: reproloadfailure20210622094402
- Function name(s) (as appropriate): Function1
- Invocation ID: eb7f9f81-907d-4eaf-8c2b-9a70823dc658
- Region: us west 2

#### Repro steps

1. Create function app w/ http trigger using template in VS2019.
2. Add NuGet package System.Threading.Channels 5

[2021-06-22 17:57] safihamid opened #7489 "Avoid GC during cold start specialization"
Plan to use GC.TryStartNoGCRegion and GC.EndNoGCRegion to make this work.

[2021-06-22 17:57] balag0 commented on #7486
It depends on how the app was deployed. But since you still have access to the storage account, try checking the following locations in the storage account

File shares (each folder here maps to a function app)
Containers (check for files inside containers named scm-releases / function-releases)

[2021-06-22 18:03] DVGY commented on #7486
I could not find anything. I used VSCode to deploy to function app.

[2021-06-22 18:12] balag0 commented on #7486
Can you share the name of the app? Let me know if you are not able the share the name publicly and I can provide alternative instructions.

[2021-06-22 18:14] DVGY commented on #7486
@balag0 pls share the instructions so that I can send you privately.

[2021-06-22 18:18] balag0 commented on #7486
Sure. create a new app in any plan and any region. For this new app use the name [DeletedAppName]-622.
For example if the deleted app's name was abcd, the name of the new app you create will be abcd-622

Once you have the new app, share the name of the new app using
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately#option-2

There is no need to deploy to t

[2021-06-22 18:55] DVGY commented on #7486
GUID ea85218d-1dfb-4cd2-bebd-b3d6faee3b7a
UTC Time 2021-06-22 18:47:22.465
Region Japan East

[2021-06-22 19:10] DVGY commented on #7486
Date 2021-06-22 19:06:49.239
Operation Id 7b6c7dcb7293964e8011993e5853025a
Guid e620ba98-aca6-435f-adec-d9055ab9451c
Region Japan East

[2021-06-22 19:26] matringer commented on #6899
Any updates?

[2021-06-22 21:17] paulbatum commented on #6423
An update on the last point discussed - it looks like we should have an updated extension bundle preview (containing the new libraries) published in the next two weeks.

[2021-06-23 05:07] DVGY commented on #7486
@balag0
Update: One of function in the Function App was event grid trigger. I can still see the function name in Topic Subscription. When I click on it. It loads forever.
![image](https://user-images.githubusercontent.com/46158826/123038968-f598e200-d40e-11eb-9540-2ebdc82182cd.png)
![image](https://user-images.githubusercontent.com/46158826/123038986-021d3a80-d40f-11eb-97f9-46c07a8bbd21.png)

![im

[2021-06-23 06:55] DVGY opened #7492 "Run a event grid function in vscode"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
node js 12
#### Question
1. How can I test existing event grid triggered function in Function App inside VSCode?

I am asking this because developing a function on azure portal and writing long code is very inefficient for me.

In my event gr

[2021-06-23 08:58] OzBob commented on #7478
@v-anvari 60%of the console errors onload of the functionsProxies extension did stop, but the big one that appears when 'Advanced editor' is clicked, still appears, even after removing the entire browser temp file cache and all cookies:

[code]

[2021-06-23 09:20] JamesDuggan commented on #7461
That creates a file, and helps my understanding. From reading of #3626 I expected %home% to resolve to D:\home. Not clear why %home% is not resolving, but from perspective of this issue, my question is answered.

Thanks

[2021-06-23 09:20] #7461 closed, assigned to nobody

[2021-06-23 14:55] jesperkristensen commented on #6423
I managed to delete the `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` from a function. It turns our that I also had to delete `WEBSITE_CONTENTSHARE` at the same time, or else I get an error message when saving the app settings saying that `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` is required (but the error message does not say anything about `WEBSITE_CONTENTSHARE`).

When I delete the above two sett

[2021-06-23 18:19] paulbatum opened #7494 "Run JIT tests only in release branch"
Its painful running the JIT tests for each PR. Development workflow would be nicer if we can run these only on release branches.

[2021-06-23 19:07] paulbatum commented on #6423
I would suggest waiting for some documentation that explains how to create a new function app without WEBSITE_CONTENTAZUREFILECONNECTIONSTRING instead of modifying an existing app. I am not sure that modifying an existing app will work right.

[2021-06-23 20:53] #7455 closed, assigned to paulbatum

[2021-06-23 22:45] anandagopal6 opened #7496 "[Epic] Add functionality in host to support function indexing by worker"
Host should accommodate for new worker indexing pipeline while remaining backwards compatible.

Steps
- [x] #7516
- [x] #7513
- [x] #7514
- [x] #7550
- [x] #7556
- [x] #7582
- [x] #7532
- [x] #7806
- [x] #7797
- [x] #7606
- [x] #7850
- [x] #7849
- [x] #7879
- [x] #7916
- [x] #8081
- [x] #8199
- [x] #8110
- [x] Additional logging - https://github.com/Azure/azure-functions-host/pull/8231
- [x] Detec

[2021-06-23 22:54] pragnagopa commented on #7494
Tagging @fabiocav to surface as part of sprint planning.

[2021-06-24 04:49] fabiocav commented on #6925
@soninaren need to sync on the scenarios you were tracking for validation.

[2021-06-24 06:19] jesperkristensen commented on #6423
Ok, I just saw that https://docs.microsoft.com/en-us/azure/azure-functions/storage-considerations#create-an-app-without-azure-files was recently added and thought it was ready for use. I will wait until I hear more.

[2021-06-24 09:16] Sti2nd opened #7610 "Support binding query parameters in HttpTriggers (C#)"
The HttpTrigger already supports [binding route parameters to variables](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#using-route-parameters) in C# and it would be nice if it supported binding query parameters as well.

Related info: ASP.NET Core supports binding query parameters using the [FromQuery attribute](https://docs.microsoft.co

[2021-06-24 10:26] v-bbalaiagar commented on #7492
Hi @DVGY, Here is a [blog post](https://blog.mcilreavy.com/articles/2018-12/debug-eventgrid-triggered-azure-function) which addresses similar scenario where the blog talks about locally debugging an event grid triggered Azure Function.
Please check and let us know if this helps

[2021-06-24 13:14] manish1635 opened #7497 "In V3, error coming when adding MvcJsonMvcOptionsSetup"
Moving my azure function from V2 to V3. function is broken into the following lines in startup.cs file:
public override void Configure(IFunctionsHostBuilder mybuilder)
{
mybuilder.Services.AddTransient<IConfigureOptions<MvcOptions>, MvcJsonMvcOptionsSetup>();
}
Using.netcore3.1, I have read "functions-versions#breaking-changes-between-2x-and-3x" and other documents as well. It seems I have to use

[2021-06-24 13:28] v-anvari commented on #7478
Hi @OzBob , Thank you for the information, can we have the complete repro steps, so that we can reproduce this issue

[2021-06-24 13:59] alrod commented on #7492
You can use `ngrok `for local debugging:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-debug-event-grid-trigger-local#allow-azure-to-call-your-local-function

do not forget change port after starting the function app from VSCode

[2021-06-24 14:00] wgamagomes commented on #5421
Could you show me your solution please?

[2021-06-24 14:05] DVGY commented on #7492
@Thanks

[2021-06-24 14:06] #7492 closed, assigned to soninaren, v-bbalaiagar

[2021-06-24 14:44] jaltin opened #7498 "Azure Function app seems to stop queue processing, and only restart after I visit the Azure portal"
I have a problem with our Azure function project on a consumption plan stopping for (to us) no obvious reason.

This has happened 2 days in a row now. I will give you the background and the information for the first occurrence in this post and hopefully this will give you enough information to investigate this.

We have a data flow where we do an export of data, and in this flow a number of functi

[2021-06-24 14:54] alrod opened #7499 "Intelligent concurrency for language workers"
## Overview

The idea of the feature is to provide better concurrency for language workers depending on customers' scenarios by removing concurrency limits and automatic concurrency adjustment. Currently we have a lot of CRIs when we recommend the customers to change concurrency settings depending on their scenarios. The feature will allow them to utilize VM resources better and improve overall pe

[2021-06-24 15:57] v-anvari commented on #7484
Hi @aandyl , I have tried to reproduce the mentioned scenario. Below are the repro steps:

1. Deploy a python function to a Function App - region- west US
2. Add a new identity provider - AAD provider
3. Edit authentication
![image](https://user-images.githubusercontent.com/66122429/123294473-81eff580-d532-11eb-8359-987c76357533.png)
4. Create a http triggered function
5. call the function url in

[2021-06-24 16:37] v-anvari commented on #7478
Hi @ehamai , Can you help us here with the error, since this error is coming from the portal.

[2021-06-24 17:41] azat-galiev commented on #6899
+1

[2021-06-24 17:44] joeyeng commented on #4577
Not sure if this was stated earlier in this thread, but ConfigureAppConfiguration runs **before** Configure in Startup.cs. Therefore, if you need to access IConfiguration (after it's been setup) in Configure you can access it via the FunctionsHostBuilderContext like this:

`var config = builder.GetContext().Configuration;`

[2021-06-24 18:10] v-bbalaiagar commented on #7488
Hi @sebastianburckhardt, The version of the package 5.0.0 would be supported with the auto proc worker only and not within proc model. So, the recommendation here would be to go with the proc worker if you want to use the package 5.0.0

[2021-06-24 20:16] fabiocav commented on #7414
Is the design work for this complete? I realize. you were waiting for additional feedback, but do we have enough to have the implementation item in 105?

[2021-06-24 20:40] fabiocav commented on #7494
Moving this to 105.

[2021-06-24 20:50] fabiocav commented on #7303
Deprioritizing this item in favor of a high impact (IPD) analyzer design work item.

[2021-06-24 20:52] fabiocav commented on #7415
Assigning to sprint 105 for initial design/scoping.

[2021-06-24 21:06] fabiocav commented on #6602
Pushing this to sprint 106 due to capacity.

[2021-06-24 22:28] ehamai commented on #7478
@OzBob , Sorry but it's unclear to me if clicking on Advanced Editor fails to actually launch the code editor in a separate tab or if you're just concerned with the error that's being logged in the console.  Can you clarify please?

[2021-06-24 23:33] sebastianburckhardt commented on #7488
Why is 5.0.0 not supported in proc? Any plans to support it? what about 6.0.0?

I don't think out-of-proc worker is an option for us (@ConnorMcMahon may be able to confirm this) , since this code is running within the Durable Functions extension.

[2021-06-25 09:50] v-bbalaiagar commented on #7479
Hi @mschoneman, I went through the logs there is an error from worker channel. We would like to have more insights on the scenario to understand it better. Can you provide us your project file and all the packages and assemblies used so that we can investigate why the error has come from worker channel.

[2021-06-25 10:00] ghost commented on #7475
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-25 12:01] mschoneman commented on #7479
[code]

[2021-06-25 12:06] mschoneman commented on #7479
Here's the Project.Database.csproj:
[code]
and here's the Project.Dataverse.csproj:
[code]

[2021-06-25 12:15] mschoneman commented on #7479
For what it's worth, here's another invocation that appears to get killed:

InvocationId == "1649bbc1-b039-47af-997e-7b77c5604d4b"
Timestamp == '2021-06-24T05:36:13.8742538Z'
East US

I don't see any exceptions 10 minutes before to 10 minutes after the last log entry I have in AppInsights.

[2021-06-25 12:36] v-anvari commented on #7442
Hi @tommagumma , I am unable to deploy the template from the visual studio code. I get the below error

Error: Code=InvalidTemplateDeployment; Message=The template deployment 'bicepeg' is not valid
according to the validation procedure.

The bicep team is trying to reproduce this issue as well, meanwhile can you tell us how did you manage to deploy it without errors

[2021-06-25 12:38] v-anvari commented on #7442
They are sure that the warning you see is coming from "Microsoft.Web/sites@2019-08-01". We are investigating on why the warning is being seen

Thank you for your patience

[2021-06-25 12:42] tmeadon commented on #7442
No problem - here's the compiled JSON equivalent of the template, perhaps you'll have more luck deploying this.

[code]

[2021-06-25 13:24] v-anvari commented on #7442
Hi @tommagumma , Thank you for the json file. Can you tell us the steps and commands on how you are deploying the bicep. Are you deploying the json file
I used the commands shown in the deploy segment here - https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/quickstart-create-bicep-use-visual-studio-code?tabs=PowerShell

[2021-06-25 13:28] tmeadon commented on #7442
@v-anvari I'm using the following commands which I just ran successfully:

[code]

I have the following installed:
- bicep version `0.4.1`
- PowerShell module Az.Resources version `3.4.0`

[2021-06-25 13:31] v-anvari commented on #7442
yes, I have been trying the same commands, Thank you for the confirmation.

[2021-06-25 14:10] v-anvari commented on #7498
Hi @jaltin , Thank for providing the details, we would require any invocation id from the functions to find the Function App. Could you please provide the invocation Id.

[2021-06-25 14:14] jaltin commented on #7498
Hi @v-anvari,

I just triggered one of our http functions, and this is the log output. Is that enough info?

2021-06-25T14:13:17.617 [Information] Executed 'Xml_ExportStatus' (Succeeded, Id=8932ae2d-1d3a-46e5-9066-961e59f13b87, Duration=5714ms)

[2021-06-25 15:04] v-anvari commented on #6745
Hi @ikaplans , Apologies for the delayed response, Are you still facing this issue, the issue was somehow lost in the trace. Were you able to find any solution. While working with proxies, you could also try using the serverless model of APIM

[2021-06-25 15:07] v-anvari commented on #6747
Hi @AshirwadSatapathi , Apologies for the delayed response, I shall check internally if this change is possible without a breaking change, meanwhile if you are still looking for this feature, could you open a feature request here - https://feedback.azure.com/forums/355860-azure-functions

[2021-06-25 15:21] v-anvari commented on #6773
Hi @mpodwysocki , I can no longer access the PR mentioned above, can you please confirm if the issue has been resolved for you, so that I can follow up as required

[2021-06-25 16:00] ghost commented on #7474
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-25 16:03] v-anvari commented on #6976
Hi @bianyifan , Apologies for the delayed response,

The IServiceCollection interface is used for building a dependency injection container. After it's fully built, it gets composed to an IServiceProvider instance which you can use to resolve services. You can inject an IServiceProvider into any class. IServiceProvider defines a GetService(Type type) method to resolve a service.

This is further e

[2021-06-25 16:05] v-anvari commented on #7009
Hi @jimmyjamesbaldwin , Apologies for the delayed response, Can we know if you were able to find a solution, sorry to miss the issue as it was somehow lost. Do let us know how can we help you

[2021-06-25 16:16] v-anvari commented on #7120
Hi @andrewjw1995 , Apologies for the delayed response, have you tried using OkResult.

![image](https://user-images.githubusercontent.com/66122429/123454723-8550b300-d5fe-11eb-8d7a-82096ba913bf.png)

https://docs.microsoft.com/en-us/dotnet/api/system.web.http.apicontroller.ok?view=aspnetcore-2.1

For Example:
[code]

You are calling OkObjectResult, which will return specified values with 200 respo

[2021-06-25 16:19] v-anvari commented on #7149
Hi @sonic1981 , Apologies for the delayed response, Can you tell us how are you running the app locally, can we have the complete repro steps so as to reproduce this issue.

[2021-06-25 16:23] v-anvari commented on #7150
Hi @krishnasingh1818 , Apologies for the delayed response, Could you please explain the issue in detail, what exactly are you trying to do in your functions

[2021-06-25 16:24] v-anvari commented on #7498
Thank you for the information, I shall try to pull the logs with the provided details.

[2021-06-25 16:26] paulbatum commented on #6423
@jesperkristensen Ahh thank you for the pointer, I didn't realize that content was completed and published. You should go ahead and try to get this working.

I ran through this myself today and I was able to get it working OK. But I did it by creating a new function app with no azure files settings. I did this with a modified ARM template.

[2021-06-25 17:31] v-bbalaiagar commented on #7497
Hi @manish1635, Thank you for reaching out to us, checking internally on this issue.

[2021-06-25 17:42] #6899 closed, assigned to fabiocav

[2021-06-25 17:59] spencer-collins-work commented on #7487
Any development on this? I have hit the same issue again and it keeps cropping causing issues

[2021-06-25 18:44] SimonWahlin commented on #6423
This looks very promising!

It does say "You must deploy from an external package URL". Does this mean it will pull from this URL on each coldstart? Or does it have some hidden storage?

[2021-06-25 18:51] paulbatum commented on #6423
We have implemented some optimizations that allow us to skip pulling the full blob on every cold start. If you monitor your storage account activity you will see that the blob is read from time-to-time, so we still strongly recommend you make sure that the blob account hosting the package is in the same region as the function app. But yes, we are able to do faster cold starts by not pulling the pa

[2021-06-25 20:45] jdiekhoff opened #7505 "Azure function stops processing due to Host Monitor Thresholds "Sections" being exceeded"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 2021

[2021-06-25 20:54] aandyl commented on #7484
@v-anvari thanks for looking into this. I'm not sure I understand your findings. What I understand is that you followed the reproduction steps I gave, and you were presented with the login page on trying to call the function via a browser. That is what I observed as well. When the "allow unauthenticated access" setting is active, I expected that the authentication page would not display automatica

[2021-06-25 22:12] paulbatum commented on #6423
Hi folks, I did my best to document the steps I followed to get this scenario fully working. Hopefully this helps!

[Creating a secretless Azure Function using managed identity](https://gist.github.com/paulbatum/c301e8ca07b2561db91030a1566383fa)

@jesperkristensen I think I might know what's missing in your scenario. For each connection that is used for a trigger, you need to specify that the cred

[2021-06-26 19:25] alexanderomnix commented on #364
any update?

[2021-06-27 01:51] andrewjw1995 commented on #7120
@v-anvari No, I have not tried using `OkResult`, as that is the wrong class for my use case. From the documentation:

Since I am trying to return content in the body of the response, `OkObjectResponse` is the correct class to use, _not_ `OkResult`.

[1]: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.okresult?view=aspnetcore-2.1
[2]: https://docs.microsoft.com/en-us/dotnet/ap

[2021-06-27 07:29] bianyifan commented on #6976
Hi @v-anvari , the code to reproduce this bug is something like:

[code]

I know that this usage should be avoided and `AddSingleton(serviceProvider => BuildAnotherService(serviceProvider.GetService<TService>()))` shall be used instead, and we did change our code to use IServiceProvider.
But we still want to know if it's possible to avoid exception being thrown at runtime, and why it doesn't repro

[2021-06-27 18:15] vanderlan commented on #5421
Hi All... Any fix for this?

I have the same problem, but it happens without a specific event. My function (timer trigger) continues to work normally, but my endpoint /health-check (http trigger) works intermittently, crashing and coming back too, with no apparent explanation

[2021-06-28 08:26] #7149 closed, assigned to soninaren, v-anvari

[2021-06-28 09:23] v-anvari commented on #5421
Hi @dieterdp , Could you please open a new issue with all the requested information

[2021-06-28 09:24] v-bbalaiagar commented on #7479
Hi @mschoneman,  Thank you for the details, checking internally on this issue. We will update you with any information found.

[2021-06-28 09:37] jesperkristensen commented on #6423
@paulbatum Deleting the function app before recreating it without WEBSITE_CONTENTAZUREFILECONNECTIONSTRING fixed the ServiceBusTrigger as you suggested.

However I also have a BlobTrigger, which fails. It logs this to Application Insights:
`The '"BlobTrigger"' function is in error: "Microsoft.Azure.WebJobs.Host: Error indexing method 'BlobTrigger'. Microsoft.Azure.WebJobs.Extensions.Storage: Stora

[2021-06-28 10:12] jaltin commented on #7498
Hi again @v-anvari,

Did you manage to pull the logs or do I need to give you further information?

[2021-06-28 11:02] v-anvari commented on #7498
Hi @jaltin , Yes, I was able to pull the logs and I see that the function did not run in the time you have specified. I see the below logs:

2021-06-22 06:53:51.9686083	4	Starting language worker channel specialization
2021-06-22 06:53:51.9688990	5	Completed language worker channel specialization
2021-06-22 06:53:51.9689580	5	Restart requested.

We need to understand why was a restart requested. C

[2021-06-28 11:05] v-anvari commented on #7498
I see the same case on the next day:

TIMESTAMP	Level	Summary
2021-06-22 16:53:17.7508898	5	Disposing MetricsEventManager
2021-06-23 08:45:42.9002401	4	Starting language worker channel specialization
2021-06-23 08:45:42.9071815	5	Completed language worker channel specialization
2021-06-23 08:45:42.9072785	5	Restart requested.

[2021-06-28 11:10] jaltin commented on #7498
Yes exactly, this is the problem we have experienced.

We have no idea why it stopped, and it happened 2 days in a row.

I am really curious if you can find the issue for this.

I found this old similar issue, could it perhaps be related? https://github.com/Azure/azure-functions-host/issues/1858

[2021-06-28 11:11] StefH commented on #6947
Which .NET SDK version do you use when building your Azure Function project?

_(I solved this problem by using .NET SDK 3.1.x in the build pipeline instead of the default latest .NET 5.0)_

[2021-06-28 11:13] psyblade12 commented on #7451
I am also suffering from this problem. I am also using consumption plan but I am using Linux and is coding the function with Python.

This problem happened around 1-2 months ago. At that time, I just thought that because I am using free trial subcription, so the quality may not so good.

But now, after I have changed my account to PayAsYouGo, and is paying money for it, my application still suffer

[2021-06-28 11:24] v-bbalaiagar commented on #7326
Hi @balag0, Can you kindly look into this.

[2021-06-28 12:27] v-anvari commented on #7442
Hi @tommagumma , I was able to deploy it successfully and I could reproduce the warning you have mentioned. When I checked the app settings for the function app, I saw that the AzureWebJobsStorage or WEBSITE_CONTENTAZUREFILECONNECTIONSTRING were not present, which is shown as the reason for the warning. We are checking if the schema or template is missing these settings

[2021-06-28 12:34] tmeadon commented on #7442
That's right - according to [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#connecting-to-host-storage-with-an-identity), the new identity based access feature needs you to replace the `AzureWebJobsStorage` setting with `AzureWebJobsStorage__accountName`.

[2021-06-28 13:00] #7475 closed, assigned to brettsam, v-anvari

[2021-06-28 13:00] ghost commented on #7420
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-28 13:26] tomkerkhove opened #7507 "`APPINSIGHTS_INSTRUMENTATIONKEY` interfers with multi-dimensional telemetry"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: N/A

[2021-06-28 13:39] piotrzbyszynski commented on #3741
Another month has passed without even single response from MS... 🤦‍♂️

Any of you guys can recommend some good Application Insights replacement?

[2021-06-28 14:07] mpaul31 commented on #7393
Just noticed this as well.

[2021-06-28 16:06] v-anvari commented on #7498
Hi @jaltin , I see the worker events shutting down at the time the host instance was not available, I am checking with the concerned team for more understanding

[2021-06-28 16:30] v-anvari commented on #7484
Hi @aandyl , Yes your understanding is right, it is supposed to let anonymous user. But, I am checking this behavior internally to take a look on this behavior.

[2021-06-28 16:32] v-anvari commented on #6976
Hi @bianyifan , Thank you for your feedback! We will investigate this further and update as appropriate.

[2021-06-28 16:32] v-anvari commented on #7120
Hi @andrewjw1995 , Thank you for your feedback! We will investigate this further and update as appropriate.

[2021-06-28 17:56] v-anvari commented on #7484
Hi @aandyl , I have validated this behavior with the concerned team. The difference between both are that, if you select "Allow Unauthenticated access", it would still require access, but anyone with a allowed credentials can access it. This information should be provided in the code as mentioned here in the document. Both the options require Authentication, because you have selected the AAD.

On

[2021-06-28 17:58] v-anvari commented on #7484
You can use multiple sign-in providers in that case - https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization#authorization-behavior

[2021-06-28 18:04] davidmrdavid opened #7509 "Escape Hyphens in Function Names for AppSettings"
_We should modify the Functions runtime to parse an escaped hyphen in a Linux App Setting as just a hyphen._

**Motivation**
To disable a Function, we create a corresponding App Setting as follows: `<FunctionName>.Disabled = 1`. For example, if our Function Name is "Foo-Bar", its corresponding App Setting will be `Foo-Bar.Disabled = 1`. However, App Settings in Linux cannot containe hyphens, there

[2021-06-28 18:08] davidmrdavid commented on #7509
Replaced by: https://github.com/Azure/Azure-Functions/issues/1942

[2021-06-28 18:08] #7509 closed, assigned to davidmrdavid

[2021-06-28 18:13] v-bbalaiagar commented on #7507
Hi @tomkerkhove, Thank you for reaching out to us, checking this internally for the possibilities. We will update you with any information found.

[2021-06-28 18:39] #7494 closed, assigned to pragnagopa, fabiocav

[2021-06-28 19:00] #7474 closed, assigned to soninaren, v-anvari

[2021-06-28 19:31] balag0 commented on #7326
@pzbyszynski Sorry, I missed this earlier. Is this still failing. Could you share a more recent failure instance. We have had couple of functions releases in the meantime, so want to check if this got resolved by some of the fixes there.

[2021-06-28 21:20] balag0 commented on #7451
@psyblade12 Since the issue could be different since this is a Linux app, could you please  open a new issue and tag me there?
Please include the app name using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately#option-2
and approx.  timerange when the issue was happening if it is not failing currently.

[2021-06-28 23:33] ElvenSpellmaker commented on #6899
Is this in a release yet @fabiocav?

[2021-06-29 00:31] TsuyoshiUshio commented on #6925
Hi @fabiocav and @soninaren
Can I join the sync call? I"m struggling Kafka Extension fails to load native library with Core Tools. It looks, Kafka Extension it's self is read with Extension Bundle but not for native library.

[2021-06-29 02:14] aandyl commented on #7484
I tried adding an additional auth provider, but the behavior was the same -- it still redirected me to Microsoft sign-in. It actually still redirects me to Microsoft sign-in even if I delete all the auth providers. (The only way I have been able to find to turn off authentication once configured with the new experience is to manually call the config/authsettingsv2 REST API with a configuration tha

[2021-06-29 10:22] v-anvari commented on #7484
Hi @aandyl , Thank you for your feedback! We will investigate this further and update as appropriate.

[2021-06-29 10:30] v-anvari commented on #7498
Triaging this issue for further investigation, I am following up with the team to look into this issue

[2021-06-29 10:43] v-anvari commented on #7442
Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-06-29 11:31] piotrzbyszynski commented on #7326
@balag0  Unfortunately it is still failing. Example from today:
- Instance id: `1f601700fd1ad28d5724213ac5dac91af698fb7206a1c2cdc23446426bef84f6`
- Invocation id: `617d0e36-14b8-42db-a8c3-cc338d5d972a`
- SDK version: `azurefunctions: 3.0.15733.0`

[2021-06-29 12:27] brettsam commented on #6899
You can add a direct package reference to [Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator version 1.2.3](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator/1.2.3) which will pick up the new behavior.

This package is a typically pulled in as a dependency of the [Microsoft.NET.Sdk.Functions](https://www.nuget.org/packages/Microsoft.NET.Sdk.Function

[2021-06-29 12:28] ElvenSpellmaker commented on #6899
@brettsam Thanks!

[2021-06-29 13:58] v-anvari commented on #7470
Hi @vinaydate , I was trying to reach the App data yesterday and it says the App is disabled or deleted. Can you tell us if you are still seeing the errors. Can you also provide me the repro steps, how did you deploy and what templates have you used. This will help us to reproduce the issue

[2021-06-29 16:00] ghost commented on #6773
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-29 16:00] ghost commented on #6747
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-29 16:00] ghost commented on #6745
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-29 19:00] ghost commented on #7150
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-29 19:00] ghost commented on #7009
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-29 22:44] paulbatum commented on #6423
@jesperkristensen Thanks for the info, I was able to repro, we're taking a look.

[2021-06-30 00:29] amamounelsayed opened #7511 "Sporadic C# compilation issue"
This is similar to issue https://github.com/Azure/azure-functions-host/issues/999
We got with Host version 3.0.15733.0

' function is in error: C# compilation service error: Cannot enqueue data after PromiseNotToEnqueue. Cannot enqueue data after PromiseNotToEnqueue.

[2021-06-30 04:44] psyblade12 commented on #7451
No problem, I will create a new issue, but as I am currently busy right now, I will open it in this weekend.
It is just that I may not know how to properly open an issue though.

I just checked some minutes ago and the problem is still there. It is quite irritating as the current only work around for this is to use the premium plan, which provides minimum dedicated node.... But if so, it is not so

[2021-06-30 08:08] Saikes opened #7512 "Warmup Trigger not running, when App Service Authentication/Authorization is turned on"
#### Investigative information

Please provide the following:

- Timestamp: 30.06.2021
- Function App version: 3
- Function App name: WarmUpTest-KKO
- Function name(s) (as appropriate): Warmup
- Invocation ID: (none because not triggering)
- Region: West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

Example:

1. Switch Authentication on
2. Deploy Azure Function
3.

[2021-06-30 14:39] mschoneman commented on #7479
Here are some more instances if it's helpful

timestamp [UTC] | InvocationId | operation_Id
-- | -- | --
2021-06-29T19:30:22.3913354Z | de944730-2e13-420b-a55f-f116e813d4d9 | 011fd2cdba1d6f49b4053b6d3d43f357
2021-06-29T19:35:23.8000967Z | 79b5e35a-cb4b-47fc-a74a-068221a93b8f | 3056143333fb484a866fdac8165cf11d
2021-06-29T19:40:23.6733855Z | f3f8709c-ee99-4f77-908f-738df4b41e0b | ecb933e300070e43b72

[2021-06-30 15:23] vinaydate commented on #7470
@v-anvari, wonder why you could not get app errors. I checked from my side. The app is running and gives same error trace after cold start.

Repro steps:

1. Create a bot project (e.g. from core bot template or empty bot template) in bot framework composer (v 2)
2. Deploy it on azure functions (consumption plan) (v 3)
3. ping the function on the _messages_ endpoint
4. default response from bot api

[2021-06-30 16:52] anandagopal6 opened #7513 "Add GRPC message definitions for sending metadata requests and receiving metadata from worker"
Need to add new message definitions to FunctionRpc.proto to enable the worker indexing workflow.

Messages to add:
- [x] Message for host requesting metadata from worker; should send directory path
- [x] Message for sending metadata from worker to host; should include list of metadata + status results and an overarching status result for the overall request
- [x] Message including all necessary in

[2021-06-30 16:53] anandagopal6 commented on #7513
Still need to add the StatusResult field for the overall metadata response message and integrate this into the response parsing logic.

[2021-06-30 17:24] anandagopal6 opened #7514 "Add functionality into GrpcWorkerChannel to send and receive worker indexing message types"
For the worker indexing code path, GrpcWorkerChannel needs to be able to send a metadata request message to the worker after subscribing to the metadata response message from the worker.

Upon receiving metadata from the worker, GrpcWorkerChannel needs to parse the response into FunctionMetadata objects and send these objects to the next step in the pipeline for further validation.

[2021-06-30 17:27] anandagopal6 commented on #7514
The necessary code has been added into GrpcWorkerChannel to take care of this. I tested the new functionality by mocking inbound worker responses in unit tests and this addition works as expected.

[2021-06-30 18:01] MrJer opened #7515 "Allow app settings expression in table binding filter"
I had a difficult time working with input table binding because the `filter` setting doesn't accept app setting expression.

Considering the `take` setting can accept an app setting, I would like to see `filter` setting behave the same.

Alternatively, allowing app setting in binding parameter is an improvement to the current situation as well.

Sample function.json:
[code]

Error message thrown:

[2021-06-30 18:12] anandagopal6 opened #7516 "Check for worker indexing capability and redirect to worker indexing pipeline when appropriate"
The worker indexing code path should only be selected once the worker indexing capability has been confirmed and the feature flag has been enabled.

At the moment, the code path can be manually switched in ScriptHost.InitializeAsync

Capability and feature flag checks still need to be implemented.

[2021-06-30 18:48] anandagopal6 commented on #7513
StatusResult field has been added. Message types should be fully implemented now.

[2021-07-01 02:58] yeahsicy opened #7517 "The default request body causes non-http trigger failed with http 500"
#### Investigative information

- Timestamp: since the app created at 2021-06-25T00:26:09.0741373Z
- Function App version: 3.0.15885.0
- Function App name: timer624
- Function name(s) (as appropriate): TimerTrigger1
- Invocation ID: n/a
- Region: West US 2

#### Repro steps

1. create a function app via portal.
2. deploy a non-http trigger (timer trigger).
3. go to the function > Code + Test > Tes

[2021-07-01 03:07] ADH-LukeBollam opened #7518 "Invocation added to poison queue with no errors, warnings or exceptions"
I have a queue triggered function which has stopped without any indication why

at 9:21 this job was added to the poison queue
![image](https://user-images.githubusercontent.com/24449147/124055328-408da780-da56-11eb-973d-cf92fff1c0cc.png)

Logs for the indication have no errors, they just stop coming at 9:09
![image](https://user-images.githubusercontent.com/24449147/124055833-35874700-da57-11eb-9

[2021-07-01 03:08] yeahsicy commented on #7517
I didnt have a chance to test all the non-http triggers in every worker runtime. But I assume this might be widespread.

Thanks,
@yeahsicy

[2021-07-01 10:37] v-bbalaiagar commented on #7507
Hi @tomkerkhove, We see that both app settings APPLICATIONINSIGHTS_CONNECTION_STRING and APPINSIGHTS_INSTRUMENTATIONKEY are being used with your app.
In this scenario the connection string will take precedence and as discussed at [APPLICATIONINSIGHTS_CONNECTION_STRING](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#applicationinsights_connection_string) it will send

[2021-07-01 11:05] tomkerkhove commented on #7507
Thanks for checking, but the problem is not that it's sending it to the wrong Application Insights instance but rather that it removes information from the telemetry as per the image above.

[2021-07-01 16:38] v-anvari commented on #7470
Hi @vinaydate ,Thank you for the details, I am able to see the error logs, but I don't see the App deployed. I would try to repro this scenario and update the findings

[2021-07-01 16:42] v-anvari commented on #6976
Hi @bianyifan , I checked this issue internally and we want to understand why is it working locally and throw exception in Azure, Could you give us the complete repro steps with the code, of what are you trying to do here. How are you testing it locally. This will help us understand why is there an exception.

[2021-07-01 16:46] v-anvari commented on #7498
Hi @jaltin , We went through the logs again and we see that there are no messages throughout the logs, which is letting the App to scale out and requiring a function restart. This is an expected behavior in consumption plan to shut down the host if there are no messages.  It is running for certain time period, because it is scale up. Later in the day, it scales down because there are no messages.

[2021-07-01 16:56] restfulhead commented on #1361
Is there any update on this issue? I can just repeat @adesmet's question: How in the world is this not a priority? IMHO streaming is basic functionality of a web framework. Directing users to .NET is not a good look, if you're promoting JAM stack support on Azure...

[2021-07-01 22:05] #7420 closed, assigned to kashimiz, v-bbalaiagar

[2021-07-02 01:36] mpaul31 commented on #7518
We started seeing these after we upgraded the service bus extension to 4.2. I’ve opened multiple tickets with MS and it went nowhere. Maybe we will get more traction this time around. I ended up adding a queue trigger on the DLQ and resubmit the message immediately to push it through successfully.

[2021-07-02 08:48] jaltin commented on #7498
Hi @v-anvari,

We have a queue triggered function named 'Xml_CreatePdfFinished', and this is listening to a queue named 'export-*******-pdf-finished' (***'s to protect sensitive data).

At the time the function app shut down on 21/6 @ 14:51:08, there was around 81 messages in this queue, and they should have been processed by the function.

However, it seems that there is a bug in the function hos

[2021-07-02 08:54] v-bbalaiagar commented on #7512
Hi @Saikes, Thank you for reaching out to us, checking this internally for the possibilities. We will update you with any information found.

[2021-07-02 09:16] v-bbalaiagar commented on #7507
Hi @tomkerkhove , Thank you for your feedback! We will investigate this further and update as appropriate.

[2021-07-02 10:27] ruifrvaz commented on #5421
I couldnt figure out the startuptimelimit so I was forced to implement a workaround where I set a timelimit lower than 1hr and gracefully terminate my timed function. I am fully aware that azure functions are not intended to run long running background tasks. Working on moving the solution to a windows service or a webjob. I was just hoping the function would not shut itself down after 1hr with su

[2021-07-02 16:00] #6773 closed, assigned to mhoeger, v-anvari

[2021-07-02 16:00] #6747 closed, assigned to brettsam, v-anvari

[2021-07-02 16:00] #6745 closed, assigned to soninaren, v-anvari

[2021-07-02 16:10] v-bbalaiagar commented on #7517
Hi @yeahsicy, Thank you for reaching out to us, checking internally on this issue.

[2021-07-02 18:58] Socolin commented on #5098
Hello,

~I also have this issue, but `EnableEnhancedScopes` dont fix the problem, is this supposed to works with the new azure functions (.net 5 + runtime: dotnet-isolated)~

Edit:
I finally found the problem, there was a service registerd as Singleton and depending on a Scoped dependency (I was expecting an exception instead of a silent `new()`)

[2021-07-02 19:00] #7150 closed, assigned to brettsam, v-anvari

[2021-07-02 19:00] #7009 closed, assigned to yojagad, v-anvari

[2021-07-02 21:04] panmona opened #7795 "Hot Reload not working when Typescript Function is in subdirectory"
The hot reloading is not working when a Typescript function is in a subdirectory and you're using one of the following ways to start it:
[code]

# Repro
I made a reproduction repository with which I can reliably reproduce this issue: https://github.com/panmau/azure-function-hot-reload-repro

- Get the function running locally
- `curl http://localhost:7071/api/Test`
- Observe the logged output
- Ma

[2021-07-03 09:58] psyblade12 opened #7522 "Function app return 404 on first call after long time of idle."
I have a simple function that just connect to CosmosDB and return value. My code is written in python and I am using Linux consumption plan.

Region: Southeast Asia.

I don't have application insight enable so that I have no other information. If you need my function name, I will send it to you by personal message. Or please teach me other way to get the Function ID without application insight.

S

[2021-07-03 12:11] #7486 closed, assigned to ankitkumarr

[2021-07-03 13:01] ghost commented on #7478
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-03 23:35] OzBob commented on #7478
The editor in a new tab doesn't open. There is no UI indication that anything went wrong.

[2021-07-04 20:43] rodchenkov commented on #5246
Hi, any updates on it? Looks like I just got this issue.

[2021-07-05 05:25] auslavs commented on #6475
I'm also seeing this in my logs and using F# Http triggers.
My app seems to work first time, but logs these errors after a cold start.
It's also refreshing all my function Keys.
Support ticket to Microsoft a week a ago has not provided anything of note.

[2021-07-05 06:19] auslavs opened #7523 "Function Keys change after cold start"
#### Investigative information

Please provide the following:

- Timestamp: 2021-07-05T06:18:07.346 (time the below Invocation ID was logged)
- Function App version: 3.0.15733.0 (runtime version?)
- Function App name: p09213-monocle
- Function name(s) (as appropriate):
- Invocation ID: ee29345e-308c-46d1-ab9e-c20fb47cd79e
- Region: Australia East

#### Repro steps

I have been having issues that t

[2021-07-05 10:46] v-anvari commented on #7498
Hi @jaltin , Thank you for the details, I could find 16 messages in the queue at this time stamp 2021-06-21 14:28:49.7724262. I couldn't find many messages there after. We are further investigating to understand why were there no messages even after being processed, We shall update you the findings as appropriate.

[2021-07-05 11:06] v-anvari commented on #7518
Hi @LukeBolly , Thank you for the details, we will further investigate this issue and update you with the findings.

[2021-07-05 11:12] v-anvari commented on #7522
Hi @psyblade12 , You can share us the invocation id, region name and the Time stamp of the error. This will help us find the App name.

[2021-07-05 12:25] v-anvari commented on #7610
Hi @Sti2nd , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-07-05 16:00] psyblade12 commented on #7522
Hello. I have send an email to your email address (v-anvari@microsoft.com).

In that email I gave you the function app name directly. It is just my test function so I think there is no problem with directly sharing the function app name.

I don't have application insight enable in my function app, so I have no way to get something like invocation ID though. I don't want to use Application Insight,

[2021-07-05 17:40] v-bbalaiagar commented on #7515
Hi @MrJer, Thank you for reaching out to us, checking this internally for the possibilities. We will update you with any information found.

[2021-07-05 17:45] v-bbalaiagar commented on #7505
Hi @jdiekhoff , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-07-05 19:00] ghost commented on #6976
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-06 01:47] bianyifan commented on #6976
Well, I can't reproduce this bug with the latest Azure Functions host extensions, probably this has been fixed in some commit. No further help needed, but thanks for your help anyway.

[2021-07-06 01:47] #6976 closed, assigned to ankitkumarr, v-anvari

[2021-07-06 04:44] auslavs commented on #7523
Microsoft support got back to me.
It looks like this was related to this issue https://github.com/Azure/azure-functions-host/issues/1832

It looks like this issue can occur if you have previously used the storage account with a function app of the same name.

I did create the function app a couple of times, although I thought I deleted the whole resource group each time, it might be possible that

[2021-07-06 04:44] #7523 closed, assigned to brettsam

[2021-07-06 05:20] alrod opened #7524 "Remove artificial concurrency limits within language workers (Python, PowerShell)."
The change can affect high memory consumption function apps.
After removing the concurrency limits memory can be exceeded as number of execution will be increased and the customers can start seeing memory overflow exceptions.

[2021-07-06 07:37] ADH-LukeBollam opened #7525 "Memory working set grows each function invocation"
Function memory isn't fully released after each function invocation

![image](https://user-images.githubusercontent.com/24449147/124560377-51cc1f00-de6f-11eb-88f1-e96592d8e8f7.png)

Sometimes this causes the host to OOM and restart

#### Investigative information

Please provide the following:

- Timestamp: 2021-07-06 07:26:10.680 UTC
- Function App version: 3
- Operation ID: 94bd9537e2d1a949aaa46

[2021-07-06 09:20] v-anvari commented on #7442
Triaging this issue for further investigation. The identity based access requires storage blob owner access. I have added the required roles in the storage, but the Function still throws "Unauthorized access" error while running the function.

Requires further investigation on adding the roles

https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#connecting-to-host-storage-wi

[2021-07-06 09:24] tmeadon commented on #7442
FWIW I don't see unauthorized access exceptions when I deploy the template.

[2021-07-06 09:29] v-anvari commented on #7442
Yes, I wanted to check if the warning was just an UI issue, so I added the required access and tested the function. But, as a result/ output, I receive the below
![image](https://user-images.githubusercontent.com/66122429/124577348-cc467000-de6a-11eb-99b0-6bb00381ee7b.png)

[2021-07-06 10:16] v-bbalaiagar commented on #7374
Hi @balag0, Can you please confirm if it is fixed or if there is a tracking issue.

[2021-07-06 11:04] v-bbalaiagar commented on #7419
Hi @CarlosOnline,  Apologies for the delayed response. I couldn't reach your function's backend logs.
Can you please go through the document here- https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=python
Also, Can you please go through the SO which addresses similar scenario- https://stackoverflow.com/questions/64034389/using-blobtrigger-with-azuri

[2021-07-06 11:47] wouter-b commented on #4459
Really could use this, noticed that some exceptions don't show up in logs or application insights.

[2021-07-06 18:48] tomkerkhove commented on #4746
Bumping this, would be AWESOME to have them

[2021-07-06 19:05] balag0 commented on #7374
Its still pending but being tracked elsewhere. So lets close this issue.

[2021-07-06 19:05] #7374 closed, assigned to nobody

[2021-07-06 19:11] imbachb opened #7526 "Return status code for azure function with input binding event grid trigger"
#### What language does your question apply to? (e.g., C#, JavaScript, Java, All)
Python

#### Question
In my application I have the issue that a failing event grid triggered azure function is continually triggered because of the event grid retry policy.
As we can read in [Azure Event Grid - Delivery And Retry](https://docs.microsoft.com/en-us/azure/event-grid/delivery-and-retry#failure-codes ), i

[2021-07-06 20:24] fabiocav commented on #5529
Bumping this up as a result of another internal thread. @mathewc should we assign t his work to the next sprint? This behavior also has an odd impact on OOP workers.

[2021-07-07 01:21] vatsan-madhavan opened #7528 "Cannot bind parameter 'log' to type ILogger"
#### Project configuration

- TFM: netcoreapp3.1
  - Actual runtime: 5.0.202+ latestFeature
  - `AzureFunctionsVersion`: `v3`
- NuGet Packages (relevant)
  - Microsoft.NET.Sdk.Functions: 3.0.13
  - Microsoft.Azure.Functions.Extensions: 1.1.0
  - Microsoft.Extensions.Configuration.AzureAppConfiguration: 4.4.0
  - Microsoft.Extensions.Http
    - 5.0.0: **Problem** (see details below)
    - 3.1.16: *

[2021-07-07 08:34] ikaplans commented on #6745
Hello,

The issue is still relevant.
No workaround has been found.

Regards,
Ilya

[2021-07-07 12:31] merinofg commented on #7221
Downgrading the **System.ComponentModel.Annotations** NuGet package to **v4.7.0** solved for me.
If it helps, also had to downgrade **Microsoft.EntityFrameworkCore** package to **v3.1.16** so all package can play nicely.

[2021-07-07 14:19] ericsampson opened #7529 "Support Azure Data Tables managed identity using new SDK"
The new version of the [Azure Data Tables SDKs](https://devblogs.microsoft.com/azure-sdk/announcing-the-new-azure-data-tables-libraries/) supports Managed Identity.

I would like to be able to access Tables (Storage and Cosmos) using Identity, just like we can using the recent Functions support for Storage Blobs/Queues and Service Bus.

Thanks!

[2021-07-07 14:27] ericsampson opened #7530 "Upgrade to Azure.Cosmos V4 when it's available, to support Managed Identity etc"
https://www.nuget.org/packages/Azure.Cosmos/4.0.0-preview3

[2021-07-07 14:33] JonNieminen commented on #6423
We're struggling to authenticate to blob storage/container using Azure Function's MSI in a Python code. The documentation is a bit confusing regarding the explicit extension installation - how does one make the storage SDK 5.x available in the function app and not only locally?

[2021-07-07 15:05] v-anvari commented on #7522
Hi @psyblade12, Thank you for the details, I have checked the logs for the Time Frame - (2021-07-03 09:30:00) and (2021-07-03 10:30:00) and I see the below exception -

` Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcException : Result: Failure Exception: KeyError: 'azure.functions' Stack:   File '/azure-functions-host/workers/python/3.9/LINUX/X64/azure_functions_worker/dispatcher.py', line 482, i

[2021-07-07 15:07] v-anvari commented on #7522
Details for future investigation, if required:

FunctionInvocationId == "b8045717-424e-4e73-b1d3-4d811ca694f8"
Region: South East Asia
Time Stamp: 2021-07-03 09:43:15.4685915

[2021-07-07 15:07] mheskandari commented on #2617
if you use logger like this it automatically add it as custome property in your logs:
`var property = new KeyValuePair<string, string>("name","value");
_logger.LogInformation("request name value ===> {name}", property);`

[2021-07-07 16:43] mathewc commented on #5529
Yes, let's schedule it.

[2021-07-07 19:57] anandagopal6 commented on #7516
Added feature flag for enabling worker indexing. This feature flag should work in tandem with the indexing capability until the feature flag is removed. For now, the enabled feature flag redirects to the worker indexing pipeline.

[2021-07-07 20:10] fabiocav commented on #7513
Work is in progress, expecting a PR in 106. Updating sprint assignment to reflect that

[2021-07-07 20:25] fabiocav commented on #5922
@kashimiz should this be moved to 106?

[2021-07-07 22:20] anthonychu commented on #7795
The functions host watches the folder in which it is started. Since the host is being started in `src` but the actual JS files are in `dist`, it doesn't see the changes and therefore doesn't restart.

However, if you changed your tsconfig to compile it to `src/dist` and update your function.json's script path to point to the new location, the function app should restart when you update a file and

[2021-07-07 23:03] fabiocav opened #7531 "Reenable WebJobs analyzers for Functions"
Creating this issue to track the work required to reenable the Roslyn Analyzers we've built for WebJobs and make those available in Functions.

This may need to be decomposed for each of the analyzers once we scope that work.

[2021-07-07 23:03] fabiocav commented on #7531
@kashimiz FYI

[2021-07-08 08:33] tomkerkhove commented on #7507
Any update on this @v-bbalaiagar?

[2021-07-08 13:17] v-bbalaiagar commented on #7515
Hi @MrJer, You can use IQueryable methods to do any filtering required. Can you please go through the document for more information - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table-input?tabs=csharp#usage

Please check and let us know if this helps.

[2021-07-08 16:28] anandagopal6 opened #7532 "Documentation for adopting worker indexing flow in the host"
Documentation needs to be created to explain the changes made to the host for it to support worker indexing. This information should be easily understood by anyone with working knowledge of the host, and it should explain what changes were made and why they were necessary.

Documentation components
- [x] Sequence diagram for new code flow
- [x] Create a wiki page to include the sequence diagram an

[2021-07-08 16:51] anandagopal6 commented on #7532
Sequence Diagram: https://microsoft-my.sharepoint.com/:u:/p/t-anjanan/EQ4h-XzrfX5GsKzAx9MTVFABEc427uyqLBmVPgDJJjTYSQ?e=vYKHCc

This diagram shows two different flows: one for host indexing and one for worker indexing.

[2021-07-08 17:21] v-bbalaiagar commented on #7507
Tagging @brettsam for further investigation.

[2021-07-08 17:37] v-bbalaiagar commented on #7497
Hi @manish1635, We would like to have more insights on the scenario to understand it better and what you are trying to configure here so that we can provide the recommendation.

[2021-07-08 18:27] MrJer commented on #7515
Hey @v-bbalaiagar , my function is written in typescript, so I don't have access to IQueryable methods 🙂 I could use `filter()` function to filter down my data, but that would require my entire table storage to be retrieved and defeat the purpose of having a `filter` property in input binding IMO.

[2021-07-08 18:51] panmona commented on #7795
Thanks a lot for your answer, this works well for a workaround!

I'm not sure whether this is the correct solution though.
I think it makes more sense for the output directory to be in the root. I feel like using the `watchDirectories` option in the host.json would be a better option for making this work nicely. It currently doesn't seem to handle it though. I tried with:
[code]
(Maybe because it

[2021-07-08 19:29] paulbatum commented on #6423
@jesperkristensen Sorry it took a bit of time to figure out - unfortunately switching the host over to use managed identity for `AzureWebJobsStorage` does not work if you continue to use the older storage extension (4.x). The reason for this is that the blob trigger uses a queue that is created in the `AzureWebJobsStorage` account, and that code doesn't know how to handle the identity based connec

[2021-07-08 19:36] paulbatum commented on #6423
Hi folks - we've published a preview extension bundle that you can use to try identity based connections in JavaScript, Java, PowerShell and Python without having to fiddle with explicit extension installation.

To use it, you'll need to modify your host.json:
[code]

This should work both locally, and when deployed to Azure. Be aware that this extension bundle uses new major versions of the Azure

[2021-07-08 19:37] elahmo commented on #4459
Any updates in 2021 about this?

I was really sad to see there is no proper way to handle this with Azure functions in C#. In my previous project we used Sentry to log everything, including unhandled exceptions so I was hoping to have something here, as debugging and investigating issues with dozens of functions can be really hard, but it seems there is no viable approach to address this other tha

[2021-07-08 20:21] eLVas commented on #6423
@paulbatum Thank you! I will try it out.

[2021-07-09 06:41] JonNieminen commented on #6423
Good stuff, tested it this morning and it works for our quite simple task to read a blob in and output it out!

[2021-07-09 06:54] janwalczynski-intive commented on #7498
Hi @v-anvari,

We are experiencing a very similar problem, the only difference being that we have to manually restart functionapp to get the messages in the queue to start processing again. So far our application has not caused this problem, the first time it happened was on July 2, so we suspect it may have something to do with the Azure functions host update.

Since yesterday, we have enabled De

[2021-07-09 08:52] v-bbalaiagar commented on #7515
Hi @MrJer, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-07-09 08:57] cmenzi commented on #2015
@fabiocav
We added the `AzureFunctionsWebHost__hostid` (lowercase) and we still get critical error in the portal:

![image](https://user-images.githubusercontent.com/1763806/125051976-c7b8cc00-e0a3-11eb-814c-5f2158c20b4c.png)

Also the timer trigger stops working randomly from time to time.

Could you please provide correct unambiguous documentation on how to solve this issue.

Is there also a pro

[2021-07-09 09:57] v-anvari commented on #7498
Hi @janwalczynski-intive , Thank you for the details, The investigation is in progress. We will check the backend logs

[2021-07-09 11:59] qcnguyen commented on #5098
any updates on this ? team ? @fabiocav

[2021-07-09 15:52] IanKemp commented on #7248
@fabiocav how difficult can it be to bump all your dependencies to use v4.7.2 of STJ? How difficult is it to do this within **half a year**? Disappointed by this team once more.

[2021-07-09 15:54] v-anvari commented on #7518
Hi @LukeBolly , I checked the logs for the Time interval (2021-07-01 01:20:00) to (2021-07-01 20:15:00). There were no function invocations that took place after 2021-07-01 05:03:03.4657935.

There were the below logs at 5.04.
2021-07-01 05:04:21.995933-	[HostMonitor] Host aggregate CPU load 84
2021-07-01 05:04:22.0103210-[HostMonitor] Host overloaded (84 >= 80)
2021-07-01 05:04:22.0106348-
[code]

[2021-07-09 16:05] v-anvari commented on #7525
Hi @LukeBolly , I have checked the logs for the Timestamp - 2021-07-06 07:00 to 2021-07-06 15:13

Overall instance memory is below 80% however the current app is consuming high private bytes. The highest memory consumption within this duration for the current process is 5.0 GB. If this is unexpected, If your app is performing slow or not responding at all, or if it consuming high memory, you can c

[2021-07-09 16:12] v-anvari commented on #7526
Thank you for your feedback! We will investigate this scenario and update you with the possibilities.

[2021-07-09 16:15] v-anvari commented on #7530
Hi @ericsampson , This query is not clear. Are you looking for any information

[2021-07-09 16:16] v-anvari commented on #7529
Hi @ericsampson , Thank you for the feedback, Checking this internally to validate this feature.

[2021-07-09 17:36] v-bbalaiagar commented on #7515
Hi @MrJer, Here is a blog post which addresses similar scenario. Can you please go through here - https://medium.com/medialesson/query-strings-as-filter-in-table-input-bindings-for-azure-functions-fc7f4293133f

[2021-07-10 09:04] psyblade12 commented on #7522
Thank you, but can you post a notice to this thread when the fix is out.
Currently I still suffer from this bug and don't no when the fix will be released to get things back to normal.

[2021-07-10 10:00] ghost commented on #7177
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-10 13:00] ghost commented on #7419
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-10 13:46] ericsampson commented on #7530
Sorry, not looking for information—just wanted to file a feature request to upgrade to the Cosmos V4 library when it becomes available, so that accessing Cosmos using Managed Identity and other new features from the V4 library become available/supported.

Does that help?

[2021-07-10 13:52] jesperkristensen commented on #6423
Thanks for the update.

[2021-07-10 15:42] pragnagopa opened #7533 "Release latest Microsoft.Azure.WebJobs.Script.Abstractions to Nuget"
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.Abstractions/1.0.0-preview does not include latest changes we made to introduce RetryOptions.

cc @fabiocav @brettsam

[2021-07-11 17:36] alrod commented on #5529
Related CRI:
https://portal.microsofticm.com/imp/v3/incidents/details/249734654/home

[2021-07-12 01:01] ADH-LukeBollam commented on #7518
There were no other runs or failures I could see, just this invocation that disappeared. Our records show that the invocation did not complete, and yes there should have been more logs from it before it stopped. Around that time, a job on slot 2 crashed; could this have caused slot 1 to fail as well?

[2021-07-12 06:44] janwalczynski-intive commented on #7498
As for the logs from the `Microsoft.Azure.WebJobs.Host.Queues.Listeners.QueueListener` category, unfortunately they don't show too much. We encountered this problem again today and the only thing you can see in these logs is that the function has stopped polling the queue completely:

[code]

A more interesting seems to be the memory-related metric - at the time of the problem, all but one instanc

[2021-07-12 09:13] ness001 commented on #7417
ConfigureAppConfiguration is not working for me

[2021-07-12 09:14] curtisconner opened #7534 "Invalid URI: The hostname could not be parsed."
Hi, I have read all the other issues with the above error but cant get this to work at all.

here is my project settings
  <PropertyGroup>
    <TargetFramework>net5.0</TargetFramework>
    <AzureFunctionsVersion>v3</AzureFunctionsVersion>
    <OutputType>Exe</OutputType>
    <Configurations>Debug;Release;Test</Configurations>
  </PropertyGroup>

Here is my nuget packages
    <PackageReference Incl

[2021-07-12 12:29] OzBob commented on #7478
Open Route
Click Advanced Editor
![image](https://user-images.githubusercontent.com/1796771/125287486-8c422a00-e34f-11eb-952c-2595cc4b5f9f.png)
No visual change to Portal tab. but in Console:

[code]
Remove all content and data, cookies etc. from browser, even tried opening in Edge Beta InPrivate window. Same response.

[2021-07-12 13:08] v-anvari commented on #7530
Hi @ericsampson , Thank you for the information. I shall triage this issue as a feature request. Could you also submit a feedback here - https://feedback.azure.com/forums/355860-azure-functions for wider reach

[2021-07-12 14:59] alrod opened #7535 "Check to see if the CancellationToken passed into TimerListener.StartAsync is cancelled before starting the timer."
•	Timer lock for ImportTrackAndTraceData was initially acquired at 2021-07-05 13:11:53.488 during startup of host instance 6f1dcf23-dcfc-495a-b144-a5bf9bc80ce3
o	“Singleton lock acquired (9cc5bbd168b749d98ed458023b00c74e/MCR.Functions.Packages.ImportTrackAndTraceData.Run.Listener)”
•	Function was past due on startup so started executing at 2021-07-05 13:11:53.532 (Function invocation ID a433c343-b

[2021-07-12 15:33] v-anvari commented on #7522
Hi @psyblade12 , You can subscribe to the PR Notifications in the right column of the PR
![image](https://user-images.githubusercontent.com/66122429/125314775-20ae8b80-e354-11eb-9636-f140ead8cdea.png)

Let me know if you don't have the option for that. If not, then I shall notify you here.

You can also follow the work around provided here -  #7421. Otherwise, you will have to downgrade the versio

[2021-07-12 15:52] psyblade12 commented on #7522
Thank you I have subcribed to this
Hope to see the fix soon.

[2021-07-12 15:54] v-anvari commented on #7522
Thank you for the confirmation, closing the issue here.

[2021-07-12 15:54] #7522 closed, assigned to nobody

[2021-07-12 16:37] pragnagopa commented on #7533
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.Abstractions/1.0.2-preview  is now available on Nuget

[2021-07-12 19:00] ghost commented on #7497
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-12 21:05] ZachTB123 commented on #7498
I don't know if this is related, but the problems described here sound very similar to what I've experienced. In my case I have Function Apps on the consumption plan that have an Event Hub trigger. These occasionally stop triggering and only start triggering again when I view the Function App in the portal, restart the Function App, or sync triggers (though these don't always work). I originally [

[2021-07-12 21:20] sidkri commented on #2015
@cmenzi thanks for highlighting this behavior, we are modifying the logic to check if the HostId is set.

[2021-07-12 21:43] mschoneman commented on #7479
@v-bbalaiagar Any updates?

[2021-07-12 21:53] kashimiz commented on #7417
Hi @ness001,

I'm sorry to hear ConfigureAppConfiguration isn't working for you. Would you please open a new issue in this repo with further details about what behavior you are observing vs what you've expected? This issue is for tracking the implementation of a Roslyn analyzer.

[2021-07-12 22:25] kashimiz commented on #5922
@fabiocav Yes, we should move this to 106.

[2021-07-12 22:42] pgombar opened #7537 "Functions not working due to BlobStorageSecretRepoError"
#### Investigative information

Starting from 7/6 with Functions runtime release 3.1.0, we introduced a change in the order of precedence for applying application configuration related to secrets, specifically AzureWebJobsStorage.
With 3.1.0, settings from custom sources take precedence over app settings, which didn’t use to be the case. Given this breaking change in behaviour, customers apps migh

[2021-07-13 05:39] yojagad commented on #7537
Small update on **Expected Behavior**

The webhost scoped configuration source should take precedence over the jobhost scoped one. Therefore, even if they inject an invalid value for AzureWebjobsStorage from within startup code, etc, the AzureWebjobsStorage app setting during creation of function app would be used.

[2021-07-13 07:29] martonx commented on #2557
Hi is there any news about this feature request?
It would be great to host small Asp.Net Core Web API-s with routing in Azure Functions.

[2021-07-13 09:35] qsdfplkj opened #7539 "Microsoft.Azure.WebJobs.Script.WebHost.DependencyInjection.JobHostServiceProvider.GetRequiredService returns null;"
Using seviceProvider.GetRequiredService that supports ISupportRequiredService that is Microsoft.Azure.WebJobs.Script.WebHost.DependencyInjection.JobHostServiceProvide returns a null on a interface that is not registered in the serviceProvider.

i'm using 3.1.16 of the microsoft.extensions.dependecyinjection package.

[2021-07-13 10:42] impresent7 opened #7540 "Azure functions runtime is unreachable"
I have create a python function using VS code and deploying this using zip deploy. The function is deployed to premium app service plan P1:V2. First time when i create function using ARM scripts via Cli and deploy the function using cli. it works fine. But suddenly when i make any changes to the function code after deployment of new code it gives me error as "Azure Functions runtime is unreachable

[2021-07-13 10:44] impresent7 commented on #7540
I have added the appsetting "WEBSITE_PORT" : "8080" and function app  Always on setting but no resolution.

[2021-07-13 11:36] v-bbalaiagar commented on #7517
Hi @yeahsicy, I am unable to reproduce this issue. Can you please share the details of your run time stack ,OS and python code.

Also, I am unable to get the logs as your function app deleted it seems. Can you try to create the function app again and share the name to get the logs and check the cause.

[2021-07-13 12:55] v-anvari commented on #7479
Hi @mschoneman , We apologize for the delay, Thank you for the all the details provided. We ran through the logs for the Time stamp between (2021-06-29 18:30:00) to (2021-06-29 20:00:00). Like you mentioned there are few invocations that did not complete the execution. We investigated few of them and commonly we see that few executions are taking longer than expected while the application is warmi

[2021-07-13 14:33] pragnagopa commented on #7188
cc @alrod @AnatoliB fyi

[2021-07-13 15:20] jfrosty commented on #6423
Can you please confirm if this should work for deployments from Visual Studio Code? During deployment I'm getting the error `Malformed SCM_RUN_FROM_PACKAGE when uploading built content`

I'm trying to deploy to a consumption Python 3.8 Function App. I updated host.json for `ExtensionBundle.Preview`, and I assigned `Storage Blob Data Owner` to the Function App's MI. I tried using `AzureWebJobsStora

[2021-07-13 15:38] v-anvari commented on #7498
Hi @ZachTB123 , Thank you for the information, when we run through the logs, we see Site's DynamicScalingEnabled is false. We are yet to identify what is turning off DynamicScaling for the app. Queue is idle for a longer time which is causing the app to scale out. But, queue is idle even when the messages are expected.

[2021-07-13 15:57] v-anvari commented on #7540
Hi @impresent7 , Thank you for reaching out to us, could you share us the repro steps and the document you are referring to, this will help us reproduce the issue from our end.

Also, are you exposing the port first
Use the EXPOSE instruction in your Dockerfile to expose port 8080.

More information on this topic
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app

[2021-07-13 16:00] #7419 closed, assigned to ankitkumarr, v-bbalaiagar

[2021-07-13 16:00] #7177 closed, assigned to ankitkumarr, v-bbalaiagar

[2021-07-13 16:37] paulbatum commented on #6423
I can confirm this worked from VS code for me - I used VS code to deploy the JavaScript function app that was using the preview bundle. However, I was deploying the content to an app running on Windows. I will try to do the same for a Python app running on Linux and see if I can reproduce your error.

[2021-07-13 17:16] bfinagraph commented on #7479
@v-anvari

We are hitting a similar issue in consumption plan.
The one main difference is that we are using Storage Queue triggers instead of service bus trigger.  Also, we are using North Central Region (if it helps).

Here's what we have observed so far
- Job Host starts at time T0
- 3 messages are processed (1 message ~about every 6 minutes)
- during processing of the 4th message (2 min into pr

[2021-07-13 17:46] fabiocav commented on #7415
Moving this to triaged as we should prioritize the `IConfiguration` analyzer over this.

[2021-07-13 19:00] ghost commented on #7525
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-13 19:01] ghost commented on #7515
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-13 21:53] yeahsicy commented on #7517
Hi @v-bbalaiagar , I couldn't repro the issue anymore. I noticed the difference that the Function App version: 3.0.15885.0 is no longer being used in Azure. I assume it'd be related to that specific runtime, however, I specified FUNCTIONS_EXTENSION_VERSION to that but it wasn't recognized. So I couldn't test further.

Anyway, it'd be great if you can investigate the issue on that runtime version.

[2021-07-14 00:58] ADH-LukeBollam commented on #7525
The app using 5GB while running isn't unexpected, but the fact it isn't all released at the end is. I should have been a bit clearer, the picture above is from 6 separate invocations.

If there is memory still locked up after the invocation completes, is that a memory leak in my function or in the function host?

Restarting the site is not a solution if it is going to keep growing.

[2021-07-14 01:44] #7537 closed, assigned to yojagad

[2021-07-14 09:31] impresent7 commented on #7540
Hi No , I am not using the EXPOSE instruction as not sure how to do it. also i am not explicitly using any docker container. I am creating the azure function app using Azure cli and ARM teamplates. After this i deploy my code which is developed on VS code for python using zip deploy on the function app using below command.
az functionapp deployment sources config-zip -g <resource group> -n <functi

[2021-07-14 12:21] v-anvari commented on #7498
Hi @jaltin , The team ran through the logs again to check if there are errors coming from the host, but there were no such. The queue was idle for a very long period of time and there were no messages. According to scale controller there was no need to add workers since the queues were empty. Since you were expecting messages during this time, we suggest
enabling scale controller logs so that you

[2021-07-14 13:52] v-anvari commented on #7479
Hi @bfinagraph , This seems like an issue related to https://github.com/Azure/azure-functions-host/issues/7498. Can you open a new issue with all the mentioned details in the request form, so that we can investigate further

[2021-07-14 13:57] pragnagopa commented on #7533
Re-opening as publishing to nuget is not succeeding.

[2021-07-14 14:23] v-anvari commented on #7540
Hi @impresent7 , Thank you for the details, We require further information to understand the App config. Can you provide us the App details, https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately.

Meanwhile, The following document help you understand why the container is not responding to the Pings - https://docs.microsoft.com/en-us/archive/blogs/waws/things-y

[2021-07-14 15:00] v-bbalaiagar commented on #7425
Hi @kanagaraj2503, Apologies for the delayed response, Can you please go through the below documents for using Azure Key Vault - https://docs.microsoft.com/en-us/learn/modules/configure-and-manage-azure-key-vault/1-introduction
  https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys

Please check and let us know if this helps.

[2021-07-14 15:16] anandagopal6 commented on #7532
Started a wiki page with some details on the host changes that have been made so far for worker indexing: https://github.com/Azure/azure-functions-host/wiki/Worker-Indexing-Changes

[2021-07-14 16:22] danielgary commented on #7285
This appears to still be broken.  I've worked around it by using zlib, but performance takes a hit.

[2021-07-14 16:47] bfinagraph opened #7542 "Function stops execution in the middle of processing when using Queue trigger"
#### Investigative information

Please provide the following:

- Timestamp: 2021-07-12T20:26:39.7940426Z
- Function App version: ~3
- Invocation ID: 09ed2778-97bb-410d-886e-6ba94cf0df3c
- Region: North Central

#### Repro steps

Provide the steps required to reproduce the problem:
1. Job Host starts at time T0
2. 3 messages are processed (1 message ~about every 6 minutes)
during processing of the

[2021-07-14 16:48] bfinagraph commented on #7542
@v-anvari As recommended, tracking this as a new issue.

[2021-07-14 16:51] v-anvari commented on #7542
Hi @bfinagraph , Thank you for the details, will investigate it further and share the findings

[2021-07-14 20:06] fabiocav commented on #7533
Moving this to 106.

[2021-07-14 20:24] danielgary commented on #1361
Just came across this as well while trying to support Remix on Azure.  Either Azure Static Apps needs to support fallback Function calls or Functions need to support streaming.

[2021-07-14 20:36] fabiocav commented on #5529
Working on assignment for this. Still in 106, but it's currently a stretch goal.

[2021-07-14 20:42] fabiocav opened #7544 "Unify Azure.Core and Azure.Identity with host versions"
The dependencies should be unified, primarily to address logging issues.

[2021-07-14 20:47] fabiocav commented on #7531
We'll be leaving this item open as an epic, creating individual issues for the difference analyzers.

[2021-07-14 20:51] davidmrdavid opened #7545 "Potential TimerTrigger deadlock on Elastic Premium plans"
_Just creating this issue for tracking, and to follow-up on an internal incident_

We recently investigated an incident where a customer's TimerTrigger Function stopped executing until the application restarted. Before the restart, the last invocation of the TimerTrigger resulted in a time-out, which led the language worker to restart **but the Host remained online**. It appears that since the Hos

[2021-07-14 21:16] #7141 closed, assigned to nobody

[2021-07-14 22:42] paulbatum commented on #6423
@jfrosty I was able to reproduce the `Malformed SCM_RUN_FROM_PACKAGE when uploading built content`. We'll investigate.

[2021-07-14 23:27] balag0 opened #7547 "Support RunFromPackage = 1 in Linux Consumption"
Needed to support deployment using KeyVaultReferences and ManagedIdentity

[2021-07-14 23:36] balag0 commented on #6423
Regarding `Malformed SCM_RUN_FROM_PACKAGE when uploading built content`,
I think the problem is remote build is not compatible with Managed Identity currently. Similar issue exists if the app is using KeyVault reference for AzureWebjobsStorage as well.  The problem is at deployment time and not runtime. So potential mitigation is to build the app locally and set WEBSITE_RUN_FROM_PACKAGE  to the Ex

[2021-07-15 11:44] v-anvari commented on #7442
Hi @tommagumma , Apologies, took sometime to investigate the issue.
As mentioned the previous comment, according to the following document, to use the setting, the storage account requires a storage blob owner role - https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#connecting-to-host-storage-with-an-identity

You need to grant the required permissions as mentioned here -

[2021-07-15 13:40] tmeadon commented on #7442
Hi @v-anvari - thanks for investigating.  So in my testing the functions run successfully, I only raised this because I was concerned by the warning message.  I suspected it might be a UI issue, so if you believe that to be the case too I think we can go with it.

[2021-07-15 14:07] v-anvari commented on #7442
Hi @tommagumma , Thank you for the update, You can let me know if you see any issues with the functions runtime. Closing this issue, please feel free to re-open the case if any further queries.

[2021-07-15 14:07] #7442 closed, assigned to nobody

[2021-07-15 14:55] v-anvari commented on #7484
Hi @aandyl , I tried to reproduce by adding additional identity providers, but I am unable to reproduce the error. I also checked with the UI team to validate the scenario. Can you tell us how are you adding the multiple identity providers in your code

[2021-07-15 15:41] #7513 closed, assigned to anandagopal6

[2021-07-15 15:41] #7514 closed, assigned to anandagopal6

[2021-07-15 17:05] v-anvari commented on #7529
Triaging this issue as a feature request

[2021-07-15 17:11] v-bbalaiagar commented on #7505
Hi @jdiekhoff, Transferring this issue to dotnet worker repo for further investigation.

[2021-07-15 17:25] balag0 opened #7548 "[Linux Consumption] Support package download using MI"
Currently download only works with SAS.
Add support to use MI token to complete the download.

[2021-07-15 18:12] brettsam opened #7549 "Host should pass capabilities (or version) to workers on startup"
Certain features of workers may only be enabled (or defaults may change) in Functions v4. Today there's no way for them to know the host version that they're running with.

[2021-07-15 18:57] anandagopal6 opened #7550 "Break down channel initialization in RpcFunctionInvocationDispatcher"
`RpcFunctionInvocationDispatcher.InitializeAsync()` is responsible for starting the worker channel initialization process. This logic needs to be broken down into multiple sections because this method currently starts the worker channels, sets up the function invocation buffers, and sends the function load requests.

However, the worker indexing pipeline requires that the worker provide the functi

[2021-07-15 19:01] #7497 closed, assigned to kashimiz, v-bbalaiagar

[2021-07-15 19:06] ericsampson commented on #7529
Thanks :)

[2021-07-15 20:15] Lei1025 commented on #5851
This issue is still, I did the same change as @felipementel did regarding as a temporary solution -- replaced `HttpClientFactory.CreateClient()` with `new HttpClient()`.

But this is not the best solution, cause creating http client constantly may run out of http port pool.  Using "HttpClientFactory" is still the correct approach. Waiting Microsoft team resolve this issue ASAP.

[2021-07-15 23:34] arpitadessai commented on #7158
Hello,
Any update on this issue? I am seeing the same behavior.

[2021-07-16 08:26] tkwin opened #7552 "Azure function host restart hourly"
We have one V2 function app with consumption plan written in C# that is deployed to Azure. It also has one timer trigger that run every 15 minutes to prevent function cold start.  It also add email notification along with Dependency Injection at Function Start up for monitoring purpose. When I deploy it to Azure, I receive the email notification every hourly - it reset the function runtime even th

[2021-07-16 10:54] v-anvari commented on #7526
Hi @imbachb , We can return the status code like you are trying here. the issue looks like it is not correctly handling the parsing of exception "e" to JSON parsable message.

Specifically this -

return func.HttpResponse(e, status_code=400)

Can you try with a simpler message or try formatting the exception to make the translation happen correctly.

In case we find any sample code, we will update

[2021-07-16 17:17] v-bbalaiagar commented on #7552
Hi @tkwin, Could you please provide us the invocation id ,time stamp and region to get the logs and check the cause.

[2021-07-16 17:23] jordan-cote commented on #4459
+1
This should be a priority considering the basic-ness of this feature.

[2021-07-16 20:02] tanzencoder commented on #4147
I've used the approach above and it works great until I had an anonymous auth level on an httptrigger function that expected a query param of `code=somevalue` and my anonymous function would not work and throws a 500 error with no logging. If I don't mount the host keys the anonymous functions work but my AuthorizationLevel.Function functions are unauthorized. Any ideas on how I can get around thi

[2021-07-16 22:00] #7515 closed, assigned to brettsam, v-bbalaiagar

[2021-07-17 08:11] ghost opened #7553 "When do the function core tools get updated with the latest function hosts?"
Hi Team,

Can we get some documentation on when the core tools are updated to take the latest version of the functions host:

https://github.com/Azure/azure-functions-core-tools/issues/2631

Currently the core tools 3.0.3568 (latest) is still using runtime version 3.0.15828.0.

[2021-07-17 10:03] dominicusmento commented on #4459
I'm afraid that it won't be seen in azure functions on dotnet core 3.x.

However, on .net5 , using dotnet-isolated, it's possible to use custom middleware for that purpose.
[Microsoft docs](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#middleware)
[Re[mark]able blog - azure functions middleware](https://www.re-mark-able.net/blogs/2021/05/09/azure-functions-mi

[2021-07-18 13:00] ghost commented on #7498
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-18 16:00] ghost commented on #7540
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-18 16:01] ghost commented on #7479
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-19 11:06] tippesi commented on #5663
We have the same problem mentioned by @akakaule  . After deployment last Friday it seems like sometimes old code is being executed and sometimes the newly deployed code. Today we tried to deploy logs to find the error on our side, but the logs are only visible in some runs. In these cases the function behaves the same way it did before the deployment. We can also add that it doesn't seem to be rel

[2021-07-19 13:32] tippesi commented on #5663
After making sure that all our slots ran the same code (by redeploying), it now works again. We assume the traffic is somehow split between both slots, even though just the production slot should have been used. In the image below is our current setup, which doesn't seem to work correctly. Of course this defeats the purpose of using a slot swap.
![MicrosoftTeams-image](https://user-images.githubus

[2021-07-19 13:43] v-bbalaiagar commented on #7512
Hi @Saikes, I am unable to get the logs as your function app deleted it seems. Let us know if you are still facing the same issue, if yes share us the function app name.

[2021-07-19 13:50] Saikes commented on #7512
Hi together,
we found the issue in in the meanwhile with the help of Microsoft Support. You need to set the website to use HTTPS only (go to TLS/SSL settings in the portal and set HTTPS Only to On). This resolves the issue. The Azure Function is deleted by me, as I got no answer after 14 days and solved it with the Microsoft Support. Still needs to be documented. Forgot to update here, sorry ,)

[2021-07-19 15:49] caviyacht commented on #6899
@fabiocav , Any update when the new release will be out for this? I know we can add the package directly, but would like an update on when it will be in a full release.

[2021-07-19 16:00] ghost commented on #7484
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-19 16:24] v-anvari commented on #7345
Hi @aaronadamsCA , Here is a work item to improve this behavior - https://github.com/Azure/azure-functions-host/issues/7496. Similarly there will be work items created for Node and other languages.

[2021-07-19 16:24] #7345 closed, assigned to nobody

[2021-07-19 16:28] v-anvari commented on #7553
Hi @pb-adrianbezzina , The updates can be found in the release notes here - https://github.com/Azure/azure-functions-core-tools/releases. The updates for the current version is still in-progress.

Closing this issue as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue

[2021-07-19 16:28] #7553 closed, assigned to nobody

[2021-07-19 16:33] v-anvari commented on #7120
Hi @andrewjw1995 , Apologies, checked this behavior internally. This is a known limitation in Functions. You will have to return Task instead of valueTask, the output will be serialized by using ValueTask.

Adding this issue to enhancement to include this behavior in the future versions

[2021-07-19 16:38] v-bbalaiagar commented on #7539
Hi @qsdfplkj, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-07-19 16:43] v-anvari commented on #7525
Hi @LukeBolly , I have checked the logs and  also checked this behavior with the team, this behavior is expected in Functions if an App is consuming memory. Multiple functions are taking up the memory, so after every execution, they do not get released. A single host can run multiple instances. Also, There were no memory leaks that we were able to see in your App. The recommendation here is to che

[2021-07-19 17:00] v-bbalaiagar commented on #7487
Hi @spencer-collins-work, Apologies for the delayed response, Here is a [blog post](https://bobcares.com/blog/rsync-error-code-11/) which addresses similar scenario where the blog talks about Rsync error and solutions to resolve it.
    Please check and let us know if this helps.

[2021-07-19 17:53] v-bbalaiagar commented on #7192
Hi @VaclavK, Apologies for the delayed response, checking internally on this issue. We will update you with any information found.

[2021-07-19 20:57] cachai2 opened #7554 ".NET 5 + Linux + VNET integration Scenario repro"
1. Create repro scenario in web apps

[2021-07-19 21:07] cachai2 opened #7555 ".NET + Linux + VNET integration Scenario. Sync with .NET team"
Learn more about the scenario

[2021-07-20 01:24] ADH-LukeBollam commented on #7525
"Multiple functions are taking up the memory, so after every execution, they do not get released"

I don't understand what you mean here. Are you saying that every time a function completes, it is expected that some memory is going to be locked up forever?

If we run too many memory-heavy jobs in a row (ie. letting one finish before starting the next one), it crashes both our staging and live slot

[2021-07-20 03:06] anandagopal6 commented on #7516
Capability service has been added to my local branch. It stores capabilities for each worker runtime in a central structure. Every time a new worker channel sends its capabilities to the host, we update the `_workerCapabilities` structure in `WorkerCapabilities` that can later be queried through `GetCapabilityValue(runtimeLanguage, capabilityName)`.

[2021-07-20 03:07] anandagopal6 opened #7556 "Process received metadata from worker and hydrate pipeline with metadata"
Once the metadata is received from the worker and it is minimally parsed by `GrpcWorkerChannel`, the metadata needs to be validated and used to hydrate the existing `FunctionMetadataManager._functions` structure.

[2021-07-20 03:12] anandagopal6 commented on #7556
Solution: `FunctionMetadataManager` calls `WorkerFunctionMetadataProvider` to get the metadata through `GrpcWorkerChannel`. Once the provider receives the parsed data, it will validate it similar to how `HostFunctionMetadataProvider` validates functions. This validated list of metadata will be returned to the manager and saved into `_functions`.

This has been implemented and manually tested local

[2021-07-20 07:02] daviur commented on #6380
Any update on this issue? I am having the same problem as @mark-r-cullen. ValidateDataAnnotations() does not appear to do anything.

[code]

I am using also in a Function:

[code]

I can make it work by at function call doing this:

[code]

[2021-07-20 08:46] v-anvari commented on #7525
Hi @LukeBolly , The Memory usage is per instance and not per invocation. During the Timestamp: 2021-07-06 07:26:10.680 UTC, Your Function App's committed memory was over 90% of the maximum limit (1536 MB). We saw a peak value of 6281.15 MB.

Your app is a part of App Service plan which may contain other apps too. Your App will be recycled if it is consuming high memory, to prevent crashing or impa

[2021-07-20 08:55] v-anvari commented on #7525
`Are you saying that every time a function completes, it is expected that some memory is going to be locked up forever?`

If you see that there are two many objects from a class which is taking high memory bytes in the memory dump. Then there could be a possible memory leak. For example, If all these objects are part of a single array, which is rooted in the Application state then these objects wi

[2021-07-20 09:05] ADH-LukeBollam commented on #7525
The behavior I'm seeing is every time a job completes and the function app returns to idle, the memory is still a little bit higher than before. If I do this enough times, the whole app appears to crash because logs stop and any running jobs don't complete. It sounds like a leak to me, I'll investigate if it's on our end and get back to you.

[2021-07-20 09:12] v-anvari commented on #7525
Thank you for the update

[2021-07-20 10:36] imbachb commented on #7526
Thanks for getting back to me.
I've quickly tried to create a minimal azure function called EventGridTrigger1:
`__init__.py:`
[code]

`function.json`:
[code]

When I then trigger the function via following event:
[code]

I still get the following exception:
```System.Private.CoreLib: Exception while executing function: Functions.EventGridTrigger1. Microsoft.Azure.WebJobs.Script: Unable to cast obj

[2021-07-20 10:45] v-bbalaiagar commented on #7517
Hi @yeahsicy, I tried to reproduce the issue with the Function App version: 3.0.15885 but it is not updated as expected and the working version is updated. Function App version: 3.0.15885 is not deprecated. If that version is undergoing changes or commits then automatically the working version is updated it will be supported once the version is released.

[2021-07-20 11:06] jaltin commented on #7498
Hi again @v-anvari.

I will try to enable the logs as you suggest.

However, as I pointed out in a previous message in this thread, I am almost 100% sure that there were 81 messages in one of our queues that were not detected and processed until we visited the Azure portal the day after, indicating a bug. For clarification, this is my previous comment:

[2021-07-20 11:23] v-anvari commented on #7526
Transferring the issue to the azure-functions-python-worker for more insights

[2021-07-20 12:22] v-anvari commented on #7534
Hi @curtisconner , I am trying to reproduce this scenario, can I know what you are passing in the host.json file.

[2021-07-20 12:26] v-anvari commented on #7528
Hi @vatsan-madhavan , Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-07-20 14:43] pragnagopa commented on #7554
cc @pgombar @divyagandhisethi

Scope of this issue is to set up a stand alone repro using WebApps + Grpc Host c#+ Grpc Client C# - similar to .Net 5 worker

[2021-07-20 14:54] v-bbalaiagar commented on #7102
Hi @readnikhil, Apologies for the delayed response, can we know if you are still seeing this issue.

[2021-07-20 14:58] v-bbalaiagar commented on #7081
Hi @erwinkramer, Apologies for the delayed response. Were you able to find a solution here. Kindly let us know if you could resolve it can we close this issue?

[2021-07-20 16:37] v-bbalaiagar commented on #7512
Hi @Saikes, Thank you for the update, I have submitted the issue in azure-docs repo  - https://github.com/MicrosoftDocs/azure-docs/issues/78586

Closing this issue, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-20 16:37] #7512 closed, assigned to nobody

[2021-07-20 16:52] v-anvari commented on #7237
Hi @SavaNDragos , Yes, According to the document here, the default channel is ServerTelemetryChannel https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#configuring-a-telemetry-channel. Can we have more details to understand your scenario better. Can we know the code that you are writing and the expected vs actual behavior. We would require repro steps to reproduce this scenario

[2021-07-20 17:05] v-anvari commented on #7498
Hi @jaltin , Thank you for the update. Please let us know your analysis after enabling the logs.

Because if you see the screenshot below, somehow these messages did not reach the queue.

![image](https://user-images.githubusercontent.com/66122429/126365706-e81fc05d-3a13-412d-a51a-5eb67d2d091a.png)

[2021-07-20 17:17] erwinkramer commented on #7081
@v-bbalaiagar I've found the workaround is using an older version of packages using System.Diagnostics.DiagnosticSource. So it's not solved, please see my previous comment. It's still relevant.

[2021-07-20 18:25] v-bbalaiagar commented on #7081
Hi @erwinkramer, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-07-20 19:00] ghost commented on #7552
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-20 19:00] ghost commented on #7425
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-20 20:25] fabiocav commented on #6380
@daviur thanks for the follow up. The issue has been triaged and is in our backlog, but it has not been prioritized/assigned to a sprint.

Flagging for further discussion in triage.

[2021-07-21 00:28] Francisco-Gamino opened #7558 "When the Functions Host fails to initialize a language worker, it never recovers."
The Functions Host should retry when failing to initialize a language worker.

[2021-07-21 01:06] balag0 commented on #6073
Fixed elsewhere.

[2021-07-21 01:06] #6073 closed, assigned to balag0

[2021-07-21 10:17] eric-winkler commented on #5663
Hi Folks,

Over the past couple of weeks, I've been seeing a Queue trigger being executed intermittently by a version of my function app that was deployed sometime prior to July 02, despite there being dozens of new versions deployed to the function app since that time.

Trawling through the logs, I've identified that it is a specific host/instance that is running the old code;
HostInstanceId: `49

[2021-07-21 11:25] v-anvari commented on #7542
Hi @bfinagraph , I have run through the logs and here is my analysis for the Time stamp (2021-07-12 19:45:00)  to (2021-07-13 09:45:00)

We detected a latency of 4 mins in one of your functions during (7/12/2021 8:19:20 PM - 7/12/2021 8:29:20 PM). The Queue was also idle for longer period. This app is using version 3.0.11.0 of the extension, which is older than the latest 4.0.4 version. Upgrading

[2021-07-21 11:51] nuntipat opened #7559 "The new authorization experience breaks on Python Function App with Linux consumption plan"
#### Investigative information

Please provide the following:

- Timestamp: Wed 21 Jul 2021 6:32PM (GMT+7)
- Function App version: 3.0.15885.0
- Function App name: testnuntipat1
- Function name(s) (as appropriate): testapi
- Invocation ID: N/A
- Region: West US and also Southeast Asia (only 2 regions has been tested)

#### Repro steps

1. Create a new Function App (Python 3, Consumption Plan)
2. D

[2021-07-21 12:01] serhiisolodovnyk opened #7560 "Does Service Bus trigger use long pulling connections for get messages from Service Bus?"
I would like to use Azure Functions V3(and V4)(C#) to process messages from Service Bus. But in the Service Bus with a Standard tier, there is a limit of 1000 free brokered connections. Will these connections be used for heavy workloads?

Similar question:
https://stackoverflow.com/questions/47911468/trigger-azure-function-from-service-bus-topic-without-consuming-brokered-connect

Price details Se

[2021-07-21 15:18] v-anvari commented on #7542
Further analysis:

At 2021-07-12 20:34:27.9416773, Message has reached MaxDequeueCount of 1. Moving message to queue 'sag*******uest-poison'.

You can set MaxDequeueCount to 2 for it to retry the delivery attempts at least twice before it gets released to the poison queue

[Handling Poison Messages](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/legacy/ms703179(v=vs.85))
[maxDe

[2021-07-21 15:29] anandagopal6 commented on #7532
Updated original PPT file with details on the host changes:
https://microsoft-my.sharepoint.com/:p:/p/t-anjanan/EdQrSKS3jI9CrlepjFSFLOEBC_MyqDbmPhFNbzYLuQVqcQ?e=zUzgXG

[2021-07-21 16:20] v-anvari commented on #7518
Hi @LukeBolly , Apologies for the delay. I checked different log events during that period, but I do not see any potential issue, though I see that the invocation did not complete and I see 429 errors right after that. I shall discuss this internally and get back to you with the findings.

[2021-07-21 19:00] #7540 closed, assigned to madelinegordon, v-anvari

[2021-07-21 19:00] #7479 closed, assigned to kashimiz, v-anvari

[2021-07-21 19:48] anandagopal6 commented on #7532
Also made a wiki page for the Python worker to start documenting changes for that end of the project implementation.
https://github.com/Azure/azure-functions-python-worker/wiki/Worker-Indexing-Pipeline

[2021-07-21 20:22] fabiocav commented on #6380
@daviur the fix for this is currently rolling out to prod (global deployment expected to finish by tomorrow, with core tools following in the coming days). The original fix was made as part of this: https://github.com/Azure/azure-webjobs-sdk/issues/2522

[2021-07-21 20:22] fabiocav commented on #6380
Closing this as resolved/pending deployment. If you continue to see issues on version 3.1.3 of the host, please let us know.

[2021-07-21 20:22] #6380 closed, assigned to nobody

[2021-07-21 20:31] fabiocav commented on #5874
Flagging this as triaged, but we need some additional design here to settle on the approach.

Design owners: @fabiocav and/or @brettsam

[2021-07-21 21:11] camilisette opened #7561 "Intermittent CORS error due to missing headers"
Experiencing intermittent CORS error. I have an angular app that retrieves data by making multiple calls to different functions in parallel. There are times that the application will throw an error due to CORS. Looking at the response, it looks like the ones that are throwing the error are missing response headers.

I find it strange because all the functions are under a single Function App and th

[2021-07-22 02:43] ADH-LukeBollam commented on #7518
Hi @v-anvari, this issue is possibly linked to this: #7525 as the only time I've seen it happen recently was when we were pushing our app memory to it's limits.

Note that we were testing the memory issue on a different slot, but jobs were not completing on the live slot.

I believe the 429 is a result of running some heavy computation. It's normally not an issue apart from those logs appearing, I

[2021-07-22 07:50] janwalczynski-intive commented on #7498
Our team received the following response from the experts at Azure Support:

Which means that the problem should no longer occur.

[2021-07-22 08:57] v-anvari commented on #7498
Thank you for the update. We could only access the logs on the host and scale controller. Closing this issue as the problem is resolved, feel free to re-open the issue if you have any queries related to this issue

[2021-07-22 08:57] #7498 closed, assigned to madelinegordon, v-anvari

[2021-07-22 09:10] v-anvari commented on #7518
Thank you for the update.

[2021-07-22 10:15] spmanjunath commented on #6423
@paulbatum I deployed the azure function (with the objective of secretless configuration) using ARM templates with the following configuration,
-  AzureWebJobsStorage_accountName: Set to storage account name (Blob Owner permission) with managed identity enabled.
- WEBSITE_RUN_FROM_PACKAGE: Set to the package (zip) file path of blob container.
**Note:**  The deployed Azure function did not have the

[2021-07-22 11:25] jaltin commented on #7498
Hi @v-anvari ,

I enabled the logs, but since the issues only occured over 2 days back in June, I am not able to analyse. If the issue occurs again then I will look at the logs as you suggest.

[2021-07-22 11:29] jaltin commented on #7498
Thanks for the update on this @janwalczynski-intive! Hopefully we will no longer see any more of this problem now then.

Did they provide info on if the fix is already applied or will be in a future update/release?

And thanks to you @v-anvari for your help in looking into this!

[2021-07-22 11:47] janwalczynski-intive commented on #7498
The fix is supposedly already in place.

[2021-07-22 12:01] v-bbalaiagar commented on #7539
Hi @qsdfplkj, We would like to have more insights on the scenario to understand it better. Could you please provide us the invocation id of the error, time stamp and region to get the logs and check the cause. Kindly provide the repro steps for us to clone the issue and get the error.

[2021-07-22 13:05] ZachTB123 commented on #7498
The "deadlock on the Azure Storage SDK" issue sounds like the same canned response I've been getting from support on my similar problem. My original ticket I had opened with this said a fix was deployed earlier this year yet I still run into this today. Assuming my issue and the issue in this thread are due to the same underlying cause, I'm not convinced it is fixed.

Can we get confirmation on th

[2021-07-22 13:32] v-bbalaiagar commented on #7213
Hi @bvduijn, Apologies for the delayed response, I am unable to get the logs with the mentioned Invocation ID. Can you confirm the details. Meanwhile, can you please go through the [SO](https://stackoverflow.com/questions/52939211/the-ssl-connection-could-not-be-established) where the SO talks about mentioned exception and solutions to resolve it.
Please check and let us know if this helps.

[2021-07-22 13:33] knervous commented on #6423
Will this be available for dotnet-isolated at some point as well?

[2021-07-22 13:59] robhurry commented on #7158
@arpitadessai  Unfortunately I never managed to get it to work using Microsoft.Extensions.Logging.EventLog so I ended up needing to use this project:
https://github.com/EricZimmerman/evtx
I was then able to read the contents of the file manually into a byte array and load it as a stream.

[2021-07-22 14:16] qsdfplkj commented on #7539
Just create a function app and use the following

    public class INotImplemented
    {
    }

    public class Function1
    {
        public Function1(IServiceProvider serviceProvider)
        {
            // This should throw an error but it doesn't it just returns null;
            INotImplemented required = serviceProvider.GetRequiredService<INotImplemented>();
        }

        [FunctionN

[2021-07-22 16:01] #7484 closed, assigned to nobody

[2021-07-22 17:53] v-bbalaiagar commented on #7559
Hi @nuntipat, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-07-22 21:13] fabiocav commented on #7544
We're no longer doing this. Closing/removing.

[2021-07-22 21:13] #7544 closed, assigned to fabiocav

[2021-07-22 21:41] cgillum commented on #6925
This issue also impacts the alternate storage providers for Durable Functions: https://github.com/microsoft/durabletask-mssql/issues/40.

[2021-07-23 00:48] paulbatum commented on #6423
@spmanjunath I was not able to reproduce this. I forced my secretless function app to regenerate keys by deleting the azure-webjobs-secrets container and then I regenerated a key using the portal and everything worked fine. I am wondering if there is any difference here based on the sequence of steps? In the guide I linked above, I created the app without azure files but it did have a full storage

[2021-07-23 07:35] karin-toth commented on #4233
Is there any progress on this issue? We are also hitting this.

[2021-07-23 10:48] ghobakhloum commented on #5098
I had the same issue, and resolved it by using autofac in azure function v5

[2021-07-23 11:05] v-anvari commented on #7528
Hi @vatsan-madhavan , I am trying to reproduce this scenario,  can I know what are you passing in the host.json file.

[2021-07-23 13:06] sadiqkhoja opened #7564 "Where to check actual/complete version number of the runtime"
I have a function app running on Azure with FUNCTIONS_EXTENSION_VERSION = ~2, where can I find actual/complete version of the runtime?

[2021-07-23 13:31] v-anvari commented on #7189
Hi @willvelida , Apologies for the delayed response. Thank you for your feedback! We will investigate this scenario and update you with the possibilities.

[2021-07-23 14:26] brettsam commented on #7206
I believe @madelinegordon was looking at something similar in https://github.com/Azure/azure-functions-core-tools/pull/2652

[2021-07-23 16:33] v-bbalaiagar commented on #7561
Hi @camilisette, Thank you for your feedback! We will check the logs to understand the error and revert back the findings.

[2021-07-23 17:25] v-bbalaiagar commented on #7539
Hi @qsdfplkj, Thank you for the feedback, we will reproduce this issue and update as appropriate.

[2021-07-23 18:12] yojagad opened #7565 "Move dispatcher initialization to inside the StartWorkerProcesses"
As part of this commit, https://github.com/Azure/azure-functions-host/commit/5367f3e807c2047a76af2e155193062a5a248bc7 , `webhostLanguageWorkerChannels.Any()` was introduced while the collection is being modified on a different thread `StartWorkerProcesses`

This leads to startup errors during specialization with the below exception

[code]

The check needs to happen in the same thread as the one t

[2021-07-23 18:17] #7565 closed, assigned to yojagad

[2021-07-23 19:00] ghost commented on #7487
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-23 20:29] camilisette commented on #7561
Thanks @v-bbalaiagar . I tried to dig around a bit and I'm not sure how similar my issue is to this issue: [https://github.com/Azure/azure-functions-host/issues/7522](url)

I tried the workaround suggested there and it seems to make it a bit better. Now it only gives me CORS error, sometimes 404 or 503 (on Firefox) when the functions haven't been called in a while.

I saw in the documentation that

[2021-07-23 21:13] fabiocav commented on #6423
@knervous the packages for the .NET Isolated model have been published. You'll find new major versions of the packages you're already using mapping directly to their in-proc counterparts (e.g. https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.Storage/5.0.0-beta.4)

[2021-07-23 22:00] #7552 closed, assigned to madelinegordon, v-bbalaiagar

[2021-07-23 22:00] #7425 closed, assigned to nobody

[2021-07-23 22:26] brettsam commented on #7555
The exception being thrown in this case is:

[code]

I'm also seeing this same exception when I move the host to use the latest Asp.NET Grpc implementation (PR https://github.com/Azure/azure-functions-host/pull/7543) and run the dotnet worker on Linux -- but in this case, it's without VNET.

[2021-07-24 13:00] ghost commented on #7517
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-24 19:00] ghost commented on #7237
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-25 06:11] PawanHegde commented on #7484
Thanks for opening this ticket, @aandyl. I'd been struggling with this same issue so this ticket clears it a bit. But the official documentation even now is really confusing. @v-anvari, the documentation link that you provided still pretty heavily implies that users don't need to authenticate. The naming of those options needs to be changed and the documentation updated. It's ridiculous that even

[2021-07-25 16:00] ghost commented on #7542
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-26 09:11] v-anvari commented on #7484
Hi @PawanHegde , The "Allow unauthenticated access" should be allowing only the other sign-in providers or anonymous users which are added to the code as mentioned in the document. If you don't wish to have authentication, you don't need to use any authentication. If the authentication is not working as expected, then we would need to investigate the steps you are following. How are you adding the

[2021-07-26 09:34] NickH-KiwiAirways opened #7798 "Support UPPER_CASE keys for all settings"
In the AppSettings, all settings use upper case names other than `AzureWebJobsStorage`.

This causes an issue when using Doppler or other secret/env managers, as they only support upper case keys for cross-environment support.

My request is that AzureWebJobsStorage is updated to use upper case for the setting lookup, or to make the comparisons case-insensitive.

https://github.com/Azure/functions

[2021-07-26 12:00] knervous commented on #6423
@paulbatum @fabiocav  Thank you very much! Perfect timing as I was just starting to implement this use case last week, everything is working as intended on our end

[2021-07-26 16:01] ghost commented on #7213
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-26 16:40] v-bbalaiagar commented on #7309
Closing this issue as document issue is opened. Please provide your inputs here- https://github.com/MicrosoftDocs/azure-docs/issues/78755

[2021-07-26 16:40] #7309 closed, assigned to nobody

[2021-07-26 16:54] v-anvari commented on #7518
Hi @LukeBolly , We would like to understand if you are using the same storage account for both the slots. There are very little chances that one slot can impact the other unless it is using the same storage account. If it is a production slot, we would suggest you to open a support ticket because they would have access to your App logs and configurations.

[2021-07-26 17:01] v-anvari commented on #7610
Hi @Sti2nd , To use query parameter, if the query is coming from a query string then you can use query.id instead of id. Where id is the query string name.

{
    "type": "table",
    "direction": "in",
    "name": "product",
    "partitionKey": "products",
    "tableName": "products",
    "rowKey": "{id}"
}

[2021-07-26 17:11] v-anvari commented on #7210
Hi @paulhickman-a365 , This scenario was explicitly down for certain behaviors, for instance if we enable custom configuration for consumption plan, then function App wouldn't work as expected. As the scale controller wouldn't have access to that information. The scaling would require access to that information as per the current infrastructure. So this scenario wouldn't be possible at this point

[2021-07-26 17:40] v-anvari commented on #7560
Hi @sergeysolod17 , The limitations would be same as service bus. You can find more information here https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=csharp

[2021-07-26 17:53] balag0 commented on #7564
You can get the complete version number in the portal overview page
![image](https://user-images.githubusercontent.com/28721598/127035496-59c5179f-6bd4-46ce-8276-8ab0577cad26.png)

[2021-07-26 18:27] sadiqkhoja commented on #7564
thanks

[2021-07-26 18:30] sadiqkhoja commented on #7564
doesn't seam to be right:

I have set Runtime version to ~2:
![image](https://user-images.githubusercontent.com/447837/127040036-0a7d1e0c-d6e9-4f3c-8c4f-a4c5bcadb093.png)

and overview page shows:

![image](https://user-images.githubusercontent.com/447837/127040089-bf48d708-b42e-4f3c-951a-38445fcac157.png)

[2021-07-26 19:05] balag0 commented on #7564
It is by design. Checkout https://github.com/Azure/app-service-announcements-discussions/issues/175#issuecomment-661632013

[2021-07-26 19:12] sadiqkhoja commented on #7564
thanks

[2021-07-26 19:12] #7564 closed, assigned to nobody

[2021-07-27 01:01] #7487 closed, assigned to kashimiz, v-bbalaiagar

[2021-07-27 07:01] serhiisolodovnyk commented on #7560
Thank you, @v-anvari , I tested the trigger with Service Bus - it looks like 1 connection per function instance keeps constantly open. I think it won't be that expensive.

[2021-07-27 10:02] v-anvari commented on #7560
yes @sergeysolod17 , You can use up to 200 connections per instance. Closing this issue as the required information is provided, please feel free to reach back to us or re-open this issue in case of any queries.

[2021-07-27 10:02] #7560 closed, assigned to nobody

[2021-07-27 10:09] v-anvari commented on #7470
Hi @vinaydate , Can you provide us the stack trace of the exception.

[2021-07-27 10:27] v-anvari commented on #7498
@ZachTB123 , Apologies, we do not have access to the support case.

[2021-07-27 11:30] v-bbalaiagar commented on #7180
Hi @siddhant777, Apologies for the delayed response, Can you please go through the issue here which addresses similar scenario-
https://github.com/Azure/azure-functions-durable-extension/issues/1020

Please check and let us know if this helps.

[2021-07-27 11:47] v-bbalaiagar commented on #7488
Hi @ConnorMcMahon, Kindly can you share any inputs here.

[2021-07-27 12:13] vinaydate commented on #7470
@v-anvari

`2021-07-27T12:12:50.464 [Error] Executed 'messages' (Failed, Id=e42a0bbf-fcf9-44d4-93f2-71f007436742, Duration=68ms)System.NullReferenceException : Object reference not set to an instance of an object.at System.Linq.Expressions.Interpreter.CastInstruction.CastInstructionT`1.Run(InterpretedFrame frame)at System.Linq.Expressions.Interpreter.Interpreter.Run(InterpretedFrame frame)at Syste

[2021-07-27 13:01] #7517 closed, assigned to kashimiz, v-bbalaiagar

[2021-07-27 13:01] ghost commented on #7534
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-27 13:01] ghost commented on #7528
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-27 16:18] ConnorMcMahon commented on #7488
I agree with @sebastianburckhardt. This is for code that will be running in-process since extensions don't work out-of-proc.

[2021-07-27 16:30] karshinlin commented on #7440
Fixed with https://github.com/Azure/azure-functions-host/pull/7476

[2021-07-27 16:30] #7440 closed, assigned to karshinlin

[2021-07-27 16:38] vatsan-madhavan commented on #7528
That's what I have in host.json:

[code]

[2021-07-27 16:43] v-anvari commented on #7528
Thank you for the information, I shall try to repro with these details

[2021-07-27 20:07] mateus-de-castro commented on #7210
@v-anvari , Is it possible that given that a config is being modified during DI, that you add it to the local.settings.json or the right configuration file?
There are scenarios where you don't need to configure it for every instance, just once.

[2021-07-27 20:26] Sti2nd commented on #7610
Sorry, I don't understand where this JSON is coming from? Developing Azure Functions in Visual Studio there are no JSON.
I want to specify that this feature request is about having the abilitiy to bind query parameters to variables in the C# programming language 😊 I updated the title and my first post slightly.

[2021-07-27 20:27] balag0 opened #7570 "[Linux Consumption] Support Secretless RunFromPackage"
Allow the use of storage blob urls with no SAS token for WEBSITE_RUN_FROM_PACKAGE app setting. User or System assigned managed identity will be used for authentication with the storage account.

[2021-07-27 22:00] #7237 closed, assigned to mhoeger, v-anvari

[2021-07-28 01:34] unruledboy commented on #6239
This is very annoying. Finally we had to directly read the environment value to determine what appsettings.json will be loaded:

[code]

[2021-07-28 10:04] Y-Sindo opened #7572 "AddNewtonsoftJson causes Azure App Service to partially break"
Source issue: https://github.com/Azure/azure-functions-signalrservice-extension/issues/261
@rockgecko-development
The user tried to customize the newtonsoft json serialization settings of http trigger, but encountered 500 error while called the api, and failed to connect to the log stream.

I reproduced the problem without SignalR trigger but with http trigger, so I think it isn't a problem partic

[2021-07-28 12:45] jbanken commented on #5240
@ChrisHimsworth I am running into the same issue. I have spoke with MS and it has to do with the AZF either switching instances or shutting down in the middle of your execution. The scale controller determines if this should be done or not. Only MS can see the logs of your processID switching HostInstanceIds so you will need their help to confirm you're hitting the same reason why.

I haven't trie

[2021-07-28 12:48] v-anvari commented on #7610
Hi @Sti2nd , Here is how you can Add bindings to Azure Functions in visual studio - https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs#add-bindings

Here is how you can add the bindings in C# language - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-example#c-script-example

As of today, Query parameters can be passed using Query.id

Here is one

[2021-07-28 13:25] Sti2nd commented on #7610
Thank you @v-anvari ,
Unfortunately, I don't have the knowledge nor time to implement this change in Azure Functions. I kindly ask someone else (Microsoft) to do it.
This feature request is about Microsoft to implement output binding of query parameters in HttpTriggers from C# as it already does for route parameters and request body (payload). More generally this feature request is about making it

[2021-07-28 13:33] v-anvari commented on #7528
Hi @vatsan-madhavan , I am able to reproduce the issue, can we know what are you passing through get stuff, because I am also getting runtime error. Probably because of the startup file.

[2021-07-28 15:38] v-anvari commented on #7610
Thank you for your feedback! We will investigate this further and update as appropriate

[2021-07-28 15:50] v-anvari commented on #7210
Hi @mateus-de-castro , You query is not clear, could you please elaborate the query

[2021-07-28 16:00] #7542 closed, assigned to soninaren, v-anvari

[2021-07-28 17:39] dcadlereii opened #7573 "How to use items that were in Startup.cs --> Configure method is an Azure .NET 5 isolated process Function App"
I am working with a new C# Function App using the .NET 5 dotnet-isolated where the examples only show the Program.cs and there is no Startup.cs class. I have an issue where I need to register a SyncFusion license, which I typically do in the Startup.cs -->Configure Method by using this line;

`Syncfusion.Licensing.SyncfusionLicenseProvider.RegisterLicense("...");`

But I do not know where to add t

[2021-07-28 19:27] iscottb122 commented on #6423
@paulbatum

We have a similar (or perhaps the same) problem as the above, and with my current understanding it is a complete blocker on properly using the nice secretless/managed identity features in the new packages from @fabiocav. It is interesting to hear from @knervous that these packages work well at runtime, but perhaps he is deploying from Visual Studio or something, as I can't see any sens

[2021-07-28 20:17] paulbatum commented on #6423
@iscottb122 thanks for these repro steps - super clear. I was able to repro the problem. This won't be fixed by Bala's PR. We need another set of changes in the CLI. You can see this code is looking explicitly for the AzureWebJobsStorage setting:

https://github.com/Azure/azure-cli/blob/d1676f65bc643396ea1f562ac29cf2c66cd55d05/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L539-L545

[2021-07-28 20:28] fabiocav commented on #4926
@soninaren (and others on the thread), there was an update recently made to the HTTP binding that could potentially help with this, so we need to validate whether that is indeed the case.

This is an opt-in behavior (as it does have security implications). In order to enable to feature, you need to update the binding configuration in host.json with the following:

[code]

[2021-07-28 20:32] fabiocav commented on #4926
Triaging for assignment (for validation only)

[2021-07-28 20:37] fabiocav commented on #4926
@soninaren could you also follow up with a documentation issue to make sure this is publicly documented (with the warnings). @alrod should be able to assist here as well.

[2021-07-28 20:39] fabiocav commented on #7449
Thank you for opening this! This will be part of V4 as updates to all framework and internal host dependencies are within scope for the new version. Closing this as the work is already tracked by the upgrade, but let us know if you have any additional questions.

[2021-07-28 20:39] #7449 closed, assigned to brettsam

[2021-07-28 20:53] sidkri commented on #5014
Closing this issue as the original question has been answered by @brettsam and the issue around Activity.Current is being tracked in #7278

[2021-07-28 20:53] #5014 closed

[2021-07-28 21:00] sidkri commented on #6432
@fabiocav it looks like the change done for this issue [5098](https://github.com/Azure/azure-functions-host/issues/5098#issuecomment-704206997) might resolve this issue - could you review and close the issue if so?

[2021-07-28 23:50] vatsan-madhavan commented on #7528
My startup file is very basic.

[code]

Realistically, `ConfigureAppConfiguration` is specific to my deployment and you shouldn't need it for repro.

[2021-07-29 09:00] v-bbalaiagar commented on #7573
Hi @dcadlereii, Closing this issue as duplicate. For more updates please follow the space - https://github.com/Azure/Azure-Functions/issues/1990

[2021-07-29 09:00] #7573 closed, assigned to nobody

[2021-07-29 09:41] paulhickman-a365 commented on #7210
What about the scenario where you are using premium plan and not using runtime scale monitors?

Not fixing this means our Azure functions costs are going to increase significantly as we will need to leave an instance up 24/7

[2021-07-29 14:17] v-anvari commented on #7192
Hi @VaclavK , Apologies for the delay, The latest Azure Functions release is [3.1.3](https://github.com/Azure/azure-functions-host/releases/tag/v3.1.3)

The Latest Microsoft.Extensions.Configuration.AzureKeyVault packages is[ 3.1.17 ](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureKeyVault/) which is dependent on the latest Microsoft.Azure.KeyVault (>= 2.3.2) package.

The

[2021-07-29 14:17] #7192 closed, assigned to nobody

[2021-07-29 14:29] emiliano-luna commented on #7232
Hi @pragnagopa,
Are there any updates on this issue?
We just started working with Azure Functions and could really use this at my company

[2021-07-29 16:22] pragnagopa commented on #7189
Thanks @willvelida for the recommendation. Tagging @amamounelsayed and @anirudhgarg to incorporate this into functions runtime release process.

[2021-07-29 16:29] v-anvari commented on #7528
Hi @vatsan-madhavan , I confirmed with the team, and 5.X.X versions are supported only on .Net 5.0 which is a breaking change. So for .Net 3 please roll back to 3.X.X versions.

[2021-07-29 16:32] vatsan-madhavan commented on #7528
Thanks for the note.

Given that .NET Core 3.1 is an LTS release, does that mean that Microsoft.Extensions.Http 3.x.x will continue to be supported - notably with security updates - in the same manner as 5.x.x?

[2021-07-29 17:28] CooperLink opened #7574 "DotNet Applications without pre-compilation can sometimes cause a concurrency bug leading to permanent unhealthy state."
#### Problem Description
During servicing loop, a bug was discovered that can occasionally occur in Dotnet Function Applications that do not use pre-compilation. During Function Invocation, sometimes a concurrent operation is executed on a non-concurrent collection.  This causes the function to become unhealthy but does not affect the application as a whole. Therefore, the function app is not migr

[2021-07-29 17:58] mateus-de-castro commented on #7210
Sorry @v-anvari, I'm going to describe exactly what's my scenario.
I'm want to use the CosmosDB trigger but I work with several environments (besides Production and Development) and each one has a different name for the database. Our infrastructure is based on appsettings files - it is loaded during DI based on the environment and among other things it contains the database name - but I can't use

[2021-07-29 18:02] mateus-de-castro commented on #7210
@paulhickman-a365, is your problem related to the connection string?
If so, maybe this could help you: https://briandunnington.github.io/azure_functions_dynamic_connection_string

[2021-07-29 19:00] #7213 closed, assigned to gzuber, v-bbalaiagar

[2021-07-29 21:11] FinVamp1 opened #7575 "Add OGF for Azure Functions Apps that use the Dependency Injection Feature."
#### What problem would the feature you're requesting solve? Please describe.
Customers may follow our guidance and use IFunctionsConfigurationBuilder  to add configuration sources.
They may also not follow our guidance at all and overwrite or add configuration in another way.
If it's the latter then they could be broken by changes in the Functions Host unintentionally.

#### Describe the solution

[2021-07-29 21:29] balag0 commented on #7548
Fixed by https://github.com/Azure/azure-functions-host/pull/7571

[2021-07-30 02:08] keyse commented on #5058
in C# azure function I get the same error "The OFFSET count value exceeds the maximum allowed value." when trying to pass the values for OFFSET and LIMIT to the CosmosDB input binding attribute.

Maybe I will have to switch to the CosmosClient SDK instead.

[2021-07-30 03:28] tyson-benson commented on #6490
It's not a perfect solution for those with existing Azure Function apps, but the [dotnet-isolate runtime](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide) allows you to configure the JSON serialization options now. So for anyone starting new azure functions or have the budget and energy to upgrade existing ones, there's now first-class support for configuring t

[2021-07-30 04:38] tyson-benson commented on #5469
This doesn't help people with existing Azure Functions, but the [Azure Functions for .net 5 isolated runtime](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide) allows you to configure the JSON serialization options now.  So for anyone starting new azure functions or have the budget and energy to upgrade existing ones, there's now first-class support for configur

[2021-07-30 09:16] v-anvari commented on #7528
Hi @vatsan-madhavan , Yes it will be supported in the future as well.

[2021-07-30 09:27] PingPongSet commented on #6476
Do we have a fix for the bug or the roadmap for fixing it? I have a similar issue.

[2021-07-30 09:47] v-anvari commented on #7528
Closing this issue as the required information is provided, please feel free to reach back to us or re-open this issue in case of any queries.

[2021-07-30 09:47] #7528 closed, assigned to nobody

[2021-07-30 10:04] v-anvari commented on #7445
Hi @tomkerkhove , Were you seeing these issues recently as well? if yes, Could you share the App details privately https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-07-30 13:41] v-anvari commented on #7181
Hi @DVGY , Apologies for the delayed response. We can add the blobs to two different containers residing in 2 different containers by adding 2 storage output bindings.

Here is a small sample code that I have tried with blob trigger and 2 blob output bindings.

C sharp:

public  class Function1
    {
        [FunctionName("Function1")]
        public static void Run([BlobTrigger("samples-workitems

[2021-07-30 15:37] swettstein commented on #5098
@fabiocav any update please?

[2021-07-30 16:04] kamranayub commented on #5469
@tyson-benson Came from Google trying to figure out how to camel case my JSON deserialization for the new .NET 5 isolated process functions. Thank you!

[2021-07-30 16:25] v-bbalaiagar commented on #7116
Hi @robinhultman, Apologies for the delayed response, I am unable to get the logs with the mentioned invocation Id. Can you confirm.
Also, can you please provide us the latest invocation id of the error and time stamp to get the logs and check the cause.

[2021-07-30 19:00] #7534 closed, assigned to soninaren, v-anvari

[2021-07-31 03:06] tomhundley commented on #5663
I'm having the same issue.  Function app on Linux.  Premium plan.  Deploy from Azure DevOps.  Restart.  Old code runs for about 5 more minutes.  New code magically starts.

Function app name: medchron-carnotaurus-eus-dev-v1-0

This is a problem.  Please advise.  Thanks.

[2021-07-31 13:00] ghost commented on #7518
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-31 13:00] ghost commented on #7180
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-01 15:56] pragnagopa commented on #7548
cc @mattchenderson fyi

[2021-08-01 22:34] tyson-benson commented on #5358
I had trouble finding information on serialization in Function apps (because google turns up a lot of old articles and discussions), but the [Azure Functions for .net 5 isolated runtime](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide) now allows you to configure the JSON serialization options.  So for anyone starting new azure functions or have the budget and

[2021-08-02 15:02] v-anvari commented on #6418
Hi @afillatre , Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required

[2021-08-02 15:30] v-anvari commented on #6456
Hi @rohitgkr , Apologies for the delayed response. Were you able find a solution from https://github.com/Azure/azure-sdk-for-net/issues/16548? If it was a bug it must have been resolved by now. Please let us know if this issue still persists with the latest releases

[2021-08-02 16:42] v-anvari commented on #6475
Hi @deyanp , Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required

Hi @auslavs , Request you to submit a new issue with all the details on the form for us to go through the logs

[2021-08-02 16:51] v-anvari commented on #6325
Hi @APIWT , Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required

[2021-08-02 16:55] v-anvari commented on #6505
Hi @jonathanantoine , Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required. I shall follow with the right team members to resolve this issue. The issue was somehow lost in the trace

[2021-08-02 16:59] deyanp commented on #6475
@v-anvari , solved it but you may not like the solution - we migrated away from Azure Functions (see https://dev.to/deyanp/use-azure-kubernetes-service-aks-traefik-instead-of-azure-functions-hosting-azure-api-management-1gkg) .. Of course, this issue was a minor one and not at all the deciding factor ;)

[2021-08-02 17:01] v-anvari commented on #6532
Hi @philtweir , Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required

[2021-08-02 17:16] v-anvari commented on #6562
Hi @mcgjoe , Apologies for the delayed response. Were you able find a solution? do let us know if any further help is required

[2021-08-02 17:21] v-anvari commented on #6568
Hi @onionhammer , Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required

[2021-08-02 17:53] v-bbalaiagar commented on #6696
Hi @aaltotsky, Apologies for the delayed response. Please let us know if you are still seeing this issue on your Function App, so that we will further look into the backend logs.

[2021-08-02 20:00] aaltotsky commented on #6696
Hi @v-bbalaiagar . I think you fix it. Thanks.

[2021-08-02 20:00] #6696 closed, assigned to nobody

[2021-08-02 22:52] #7570 closed, assigned to balag0

[2021-08-03 05:10] yojagad opened #7577 "Fix FunctionDispatcherState being set to initialized inside StartWorkerProcesses"
Following the fix here https://github.com/Azure/azure-functions-host/issues/7565 , initialization of WebhostLanguageWorkerChannel can happen outside of `StartWorkerProcesses` as well. FunctionDispatcherState needs to be set to initialized in that case as well.

[2021-08-03 08:11] v-bbalaiagar commented on #6683
Hi @dlalex83, Apologies for the delayed response, the issue was somehow lost in the trace. Can you tell us if you are still facing this issue.

[2021-08-03 08:37] v-bbalaiagar commented on #6779
Hi @prabh-62,  Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required.

[2021-08-03 08:50] v-bbalaiagar commented on #6945
Hi @navipa, Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required

[2021-08-03 09:01] v-bbalaiagar commented on #6947
Hi @krillehbg, Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required.

[2021-08-03 10:29] v-anvari commented on #6475
Thankyou for the confirmation. We are glad you could find a better solution. Closing this issue here.

[2021-08-03 10:29] #6475 closed, assigned to nobody

[2021-08-03 13:00] ghost commented on #7445
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-03 13:28] v-anvari commented on #7181
Closing this issue as the required information is provided, please feel free to reach back to us or re-open this issue in case of any queries.

[2021-08-03 13:28] #7181 closed, assigned to nobody

[2021-08-03 15:57] eranjbarSuncor opened #7578 "Python Function App suddenly fails to sync triggers for functions with no changes to AzureWebJobStorage string or to the storage account"
#### Investigative information

Please provide the following:

- Timestamp: 8/3/2021 3:17:26 PM
- Function App version: 3.0.15828.0
- Function App name: iotdevarmfncuw2001 and iotdevarmfncuw2002
- Function name(s) (as appropriate): all functions within function apps
- Invocation ID: can't seem to find it in the logs
- Region: us west 2

#### Repro steps

Provide the steps required to reproduce the

[2021-08-03 18:57] onionhammer commented on #6568
@v-anvari no there is no solution; if you re-run an ARM deployment against an azure function it will effectively wipe out whats currently deployed out there and you will have to deploy it again, unlike other apps running in app service

[2021-08-03 19:00] #7180 closed, assigned to madelinegordon, v-bbalaiagar

[2021-08-03 19:00] ghost commented on #7116
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-03 20:22] #7577 closed, assigned to yojagad

[2021-08-04 06:08] tomkerkhove commented on #7445
Hi,

There is no function app name since it's a containerized version that runs in a CI as per the issue comment.
But you can easily reproduce it with the startup mentioned above.

[2021-08-04 18:59] anandagopal6 commented on #7516
Update: it turns out that worker capabilities are not accessible/exchanged at ScriptHost startup if placeholder mode is not enabled. Because of this, we are now checking the worker config file for the worker indexing ability.

The feature flag has been made and is currently hiding the entire worker-indexing codepath in the host.

To determine whether the worker should index or not, there is a util

[2021-08-04 19:02] anandagopal6 opened #7582 "Develop worker indexing unit tests"
Unit tests need to be developed to ensure that the worker-indexing code path functions properly.

<h3>Potential Test Cases</h3>

- [ ] GrpcWorkerChannel
  - [x] Mock inbound successful FunctionMetadataResponses event
  - [x] Mock inbound failed FunctionMetadataResponses event
  - [ ] TimeoutException for receiving FunctionMetadataResponses
- [x] RpcFunctionInvocationDispatcher
  - [x] Create maxPr

[2021-08-04 19:54] tom-odon commented on #4926
@fabiocav Can you detail more about what the security implications are?

[2021-08-04 20:13] fabiocav commented on #7556
This has been completed and in the feature branch.

[2021-08-04 20:13] #7556 closed, assigned to anandagopal6

[2021-08-04 20:14] fabiocav commented on #7550
Work completed and merged into the feature branch.

[2021-08-04 20:14] #7550 closed, assigned to anandagopal6

[2021-08-04 20:15] fabiocav commented on #7548
@pragnagopa , is this fixed as per @balag0 's comment above? Do we just need to close the issue?