[2018-10-25 17:54] rhythmnewt commented on #3568
I had to update the CopyToOutputDirectory ItemGroup to specify direct path to the assembly, just like in the Build target. This way it's picked up correctly when publishing, and I have the publish working from both local and from DevOps pipeline.
[code]

[2018-10-25 20:39] pragnagopa commented on #3561
Addressed in https://github.com/Azure/azure-functions-java-worker/pull/217
Need to open separate issues for tracking any other improvements

[2018-10-25 20:39] #3561 closed

[2018-10-25 20:43] brettsam commented on #1577
@AlbertoDePena -- we believe that this has been fixed, but maybe something is missing. Can you give us some more details? Like:
- Does this happen consistently?
- How are you trying to access the environment variables?
- What version of functions are you using?
- Are you running in the Consumption plan?

[2018-10-25 20:44] pragnagopa commented on #3558
Closing this as I initially misunderstood jar file loading issue a worker jar. Reactivated issue in java worker repo

[2018-10-25 20:44] #3558 closed

[2018-10-25 20:53] tbdowns commented on #912
I'm trying to do something a little simpler. If the function is already being executed, I want to forcibly return HTTP 429 instead of the the request being queued. I have configured as follows but no luck...

[Singleton]

  "http": {
    "routePrefix": "api",
    "maxOutstandingRequests": 0,
    "maxConcurrentRequests": 1,
    "dynamicThrottlesEnabled": true
  }

WEBSITE_MAX_DYNAMIC_APPLICATION_SC

[2018-10-25 21:18] jeffhollan commented on #912
@tbdowns strange as this one ideally could be solved without the `[Singleton]` just with the host configuration you have here. May be worth opening a separate issue on why you aren't getting a 429 with those settings (only thought is potentially disabling dynamic throttles).

[2018-10-25 21:19] brettsam commented on #2447
We're reviewing a PR right now that will re-introduce this: #1965.

[2018-10-25 21:39] mathewc commented on #3624
@brettsam Didn't you commit a change fixing this?

[2018-10-25 22:01] brettsam commented on #3624
There's been a fix to the v1 ScriptHost leaks, yes. (https://github.com/Azure/azure-webjobs-sdk/pull/1971)

But someone can create a leak themselves. They could add to a static List in each invocation, for example.

The issue here seems to be that when we do get into that scenario, we can't recover without a manual reset. I know we have code checking `IsFatal()` in a couple of places -- maybe we'r

[2018-10-25 22:03] scott-lin commented on #3363
Let me know if I should open a separate issue, but this seemed like a good place.

I'm migrating from function runtime version `2.0.11961-alpha` to `2.0.12134.0 (~2)` now that GA for 2.0 has released. My function uses a queue trigger, so I've installed the `Microsoft.Azure.WebJobs.Extensions.Storage` extension via the Portal prompts. I've waited over 10 minutes for it to complete.

Now I'm seeing

[2018-10-25 22:06] pragnagopa commented on #3559
Can be addressed by updating worker.config.json reactivated issue in java worker repo

[2018-10-25 22:06] #3559 closed, assigned to pragnagopa

[2018-10-26 05:54] LukeMagill opened #3702 "AF can't load System.IdentityModel.Tokens.Jwt dlls from nuget while running locally"
[TempAF2.zip](https://github.com/Azure/azure-functions-host/files/2517874/TempAF2.zip)

I’m trying to use System.IdentityModel.Tokens.Jwt nuget in a V2 Azure Functions project which doesn’t work. This issue occurs when **running locally**, I have not tried to publish yet.

#### Investigative information

- Timestamp: [10/26/2018 5:40:24 AM]
- Function App version (1.0 or 2.0): 2.0
- Function App n

[2018-10-26 07:04] tbdowns opened #3703 "Unable to return HTTP 429 if function already running"
I've tried all the following settings together, but a second request just gets queued and runs after the first is complete. Whether running in Azure Functions v2.x on in Visual Studio with SDK v1.0.23

[Singleton]

{
  "version": "2.0",
  "http": {
    "routePrefix": "api",
    "maxOutstandingRequests": 0,
    "maxConcurrentRequests": 1,
    "dynamicThrottlesEnabled": false
  }
}

WEBSITE_MAX_DYNA

[2018-10-26 08:18] jacobmohl commented on #33
So what are the preferred way of doing Azure Active Directory authentication on Azure Functions V2 (C#) right now. I still find the ClaimsPrincipal.Current is till null after I have added AAD authentication under "Networking -> Authentication / Authorization" for a Function app.

[2018-10-26 09:44] aleksigron commented on #3516
I also have had this issue of the monitor tab not loading at all. The loading indicator overlay disappears, but the execution list is empty and success and error counts show "loading..." text. We are using classic monitoring (not Application Insights) and runtime v1.

This has happened on 2 of our Function App projects. These are the 2 latest ones we've created. They have never received any logs i

[2018-10-26 10:40] j055 commented on #3568
Thanks @rhythmnewt, that works for me now.

[2018-10-26 12:50] dontjee commented on #3564
@aheld my issue ended up being that I was re-creating some variables on each function invocation instead of only creating one instance and sharing it via a static variable. Specifically, my problem was creating an AppInsights client over and over.

I wrote up more details in this post - https://evandontje.com/2018/10/09/high-thread-count-in-azure-functions/

[2018-10-26 13:11] pragnagopa commented on #3568
@fabiocav - Is there anything we can do to address this issue?

[2018-10-26 13:59] ChristianWeyer commented on #3564
Great, thx for communicating your learnings @dontjee - so, in the end, it has nothing to do with Service Bus bindings, right?

[2018-10-26 17:35] mathewc commented on #3600
You're hitting the issue described here: https://github.com/Azure/azure-webjobs-sdk/pull/1988.

The fix is to change your MaxQueuePollingInterval from an integer 5000 to a timespan "00:00:05".

[2018-10-26 18:43] mathewc opened #3707 "Improve Listener retry behavior"
We should also investigate ways to mitigate issues as happened in ICM #86612384. In that case, it appears that for a very long time (10+ hours) function listeners were unable to start due to failures to connect to storage. The host was up and running and the listeners were stuck in a restart/retry loop for a very long time. Once the user noticed and restarted the app, things started working immedi

[2018-10-26 18:48] dontjee commented on #3564
Yes, I think that's true. Anecdotally, I think something changed with the newer V2 functions runtime/service bus bindings that made this a problem. However, the fix was definitely something in my code.

[2018-10-26 18:51] ChristianWeyer commented on #3564
Thx. Feel free to close the issue.

[2018-10-26 19:01] markosaric commented on #3418
At this moment, it is possible to run the function project in VS code where Functions v2 are working on macOS. Unfortunately, currently, Functions Runtime =>2.0.12050 isn't working in Visual Studio Mac.
This is described in the following post: https://github.com/Azure/azure-webjobs-sdk/issues/1905#issuecomment-428652175

[2018-10-26 19:30] #3564 closed

[2018-10-26 20:57] mhoeger commented on #3517
Confirmed that the regression is fixed with our latest bits.

[2018-10-26 20:57] #3517 closed

[2018-10-26 21:09] graysonwebster commented on #3543
I'm also seeing this issue.

[2018-10-28 14:35] NucleoTech opened #3708 "Getting very high latency ~1day for events from IOT hub"
I have Azure Functions triggered by events from IOT hub. I am experiencing latencies up to 1 day from event enqueued time to function invocation.

#### Investigative information

Please provide the following:

- Timestamp: 2018-10-28T13:01:39.453Z
- Function App version (1.0 or 2.0): 1.0
- Function App name: Subscription 32483011-f64d-455e-b336-212fa95c1813
- Function name(s) (as appropriate): Pla

[2018-10-28 14:35] NucleoTech commented on #3708
[TraceEntry.xlsx](https://github.com/Azure/azure-functions-host/files/2522849/TraceEntry.xlsx)

[2018-10-28 14:36] NucleoTech commented on #3708
Reopening

[2018-10-29 00:55] TianqiZhang commented on #1240
I met the same issue recently and according to #3600 , if you used `MaxQueuePollingInterval` in your host.json, you must set it to a timespan.

Yeah, tell me about it.

Hope this solves your issues.

[2018-10-29 12:37] unalkyl opened #3709 "Http query param without value leads to 502 for Javascript functions"
I have an Javascript Azure Function triggered by http(get). In the function i use the property `context.bindingData.sys.methodName`. If i call the function with a query param without a value as example `?key=` the `context.bindingData.sys` object is undefined which gives us 500 internal server error. The whole function app seems to be unresponsive after the first error and has to be restarted to m

[2018-10-29 18:16] #3600 closed

[2018-10-29 19:06] LukeMagill commented on #3702
Appears to be the same as: https://github.com/Azure/azure-functions-core-tools/issues/322

[2018-10-29 19:57] soninaren opened #3710 "Handle extension bundling related configuration"
Extension bundling related configuration.
[code]

[2018-10-29 19:57] soninaren opened #3711 "Add logic for locating bundles at probing locations"

[2018-10-29 19:59] soninaren opened #3712 "Add API for exposing templates and binding metadata"

[2018-10-29 20:00] soninaren opened #3713 "Add binding metadata and templates to extensions"
Add templates to individual bindings and update the build to auto generate the binding metadata.

Adding list of bindings to track
- [ ] EventGrid
- [ ] EventHub

[2018-10-29 20:01] soninaren commented on #3562
Have added a few related issues. Will be adding more.
https://github.com/Azure/azure-functions-host/issues/3710
https://github.com/Azure/azure-functions-host/issues/3711
https://github.com/Azure/azure-functions-host/issues/3712
https://github.com/Azure/azure-functions-host/issues/3713

[2018-10-29 20:03] soninaren opened #3714 "Load extensions from the extension bundle location"
Identify if the app in bundle mode, if yes load extensions as per the host config.

[2018-10-29 20:03] soninaren commented on #3562
https://github.com/Azure/azure-functions-host/issues/3714

[2018-10-29 20:05] soninaren opened #3715 "Create a build for generating extension bundle"

[2018-10-29 20:06] soninaren commented on #3562
https://github.com/Azure/azure-functions-host/issues/3715

[2018-10-29 21:00] kashimiz commented on #3572
Another incidence of this was reported on StackOverflow [here.](https://github.com/Azure/azure-functions-host/issues/3572)

[2018-10-29 21:52] maiqbal11 commented on #3493
Could you potentially be hitting the issue described here: https://github.com/Azure/azure-functions-host/issues/3600#issuecomment-433486127? Has to do with changing the host.json MaxQueuePollingInterval to use a timespan instead of a number

[2018-10-29 22:14] dotnetron commented on #3493
The maxPollingInterval in my host.json was set to a number (5000). I changed it to a timespan as #3600 suggests. Will do some testing & advise.

[2018-10-29 22:53] balag0 commented on #3618
Fixed by 62665194b0fda66b369bc1da00b77c3352f13889

[2018-10-30 01:16] brainded commented on #3581
+1

[2018-10-30 05:04] leroibeukes commented on #3043
Anyone ?

[2018-10-30 09:56] RudyLu commented on #3614
+1,
The value of `WEBSITE_NODE_DEFAULT_VERSION` for my setup is `6.5.0`.
But if I changed it into `8.12.0`, it would show a different error msg.

[2018-10-30 11:36] arun2arunraj commented on #935
Is it still open ? Is there any fix provided for this Blob Trigger of premium storage !!!

[2018-10-30 12:35] aleksigron commented on #3516
We found the cause for our problem: AzureWebJobsDashboard connection string was missing in application settings. To my knowledge, we haven't deleted that value ourselves. It could mean that there is a bug in the Function App deployment process, and that's why the connection string was missing.

[2018-10-30 14:52] Morcatko commented on #3676
I am facing the very same issue. I am trying to process images by a Function so I need to limit number of parallel executions due to high memory usage.

My host.json
[code]

I added Environment.MachineName and current process id to logs so I think I can be sure that all messages are processed on single machine/process.

No matter what I set into host.json it always executes "random" number of mess

[2018-10-30 15:03] jsnikhil opened #3716 "ServiceBus extension having rounding issue with long values"
The service bus extension has rounding issues when receiving JSON payload with long values.

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0): 2.0
- Function App name: servicebus-tenant
- Function name(s) (as appropriate):  ServiceBusTopicTrigger1
- Invocation ID:
- Region: East US

#### Repro steps

Send a JSON payload that has a prop

[2018-10-30 15:16] pragnagopa opened #3717 "Add Language and ScriptType column to System logs"
As single language is now enforced at app level, a column indicating the language for a given app in System Logs will make it easier for aggregating analytics per language

Also, need to investigate where  "Unknown" is set to the language Kusto query
[code]

[2018-10-30 15:26] maiqbal11 commented on #3702
Hi Luke,

Going by the zipped code that you've sent, it looks like the binaries are currently being places in the netcoreapp2.0 folder while your .csproj is targeting netstandard2.0:

[code]
I was unable to run your code out of the box as namespaces could not be resolved. However, I was able to go to the project folder and use `dotnet restore` to pull the appropriate packages into the right place.

[2018-10-30 15:28] NoelOConnell commented on #3600
The documentation for `maxPollingInterval` still uses integers which makes this confusing.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json

[2018-10-30 15:49] mathewc commented on #3581
@brainded Is this affecting you? Are you seeing this in your app? Can you share details on your function/configuration causing you to see this?

[2018-10-30 16:36] davidebbo commented on #3600
@mathewc that doc page is for both v1 and v2, but only mentions `maxPollingInterval` in the v1 part. So I'd suggest also adding `maxPollingInterval` to the v2 part, with the correct syntax sample.

[2018-10-30 16:49] Morcatko commented on #3676
****. Yes that was it.
Thank you

[2018-10-30 16:52] mathewc commented on #3600
@jeffhollan is making the doc updates and had a PR out I believe: https://github.com/jeffhollan/azure-docs-pr/commit/4903aaf7716644b62843954822ab95beeabb3d6c. Jeff can you fix the doc here?

[2018-10-30 16:54] maiqbal11 commented on #3676
Awesome!

[2018-10-30 16:54] #3676 closed

[2018-10-30 16:57] jeffhollan commented on #3600
Yes doc fix out and going out today.

[2018-10-30 16:59] fabiocav commented on #3043
@leroibeukes thanks for sharing. Just for context, what @Chinney reported and what you're describing are V1 behavior, which is different than what the original issue was tracking. Please open a separate issue with details if you continue to run into problems. Thanks!

[2018-10-30 17:15] brandonh-msft opened #3718 "invalid host.json provides no warning/feedback when run on Azure"
## Environment
* Visual Studio 2017.15.8.8
* Functions extension v15.10.2046
* Functions CLI 2.10.1 (Core tools 2.1.748)
* Functions v2 app

### Repro steps

I had the following host.json defined in my Function app project:
[code]

**I was able to successfully test my HTTP-triggered function without issue locally with this setup**

However, when I deployed the function to Azure, trying to trigger

[2018-10-30 18:03] jocawtho commented on #3178
Hey Paul, pinging this again. Did we have a reason for this yet?
Thanks :)

[2018-10-30 18:10] ahmelsayed commented on #3618
Lets keep this open until it's merged into dev

[2018-10-30 19:48] LukeMagill commented on #3702
Hi Maheer,

It looks like you didn't read the instructions carefully (or perhaps I was unclear in my writing). In any case, you have not fixed the problem. You must actually hit the endpoint for the problem to occur.

This is the output when I run your code:
![image](https://user-images.githubusercontent.com/1325512/47745930-1d295380-dc42-11e8-8058-ec3dbbeaf885.png)

[2018-10-30 20:18] maiqbal11 commented on #3702
Hi Luke,

I was able to successfully hit the endpoint when running locally:
![successfulexecution](https://user-images.githubusercontent.com/42051041/47746904-5bc00d80-dc44-11e8-97c7-14d7732c3dee.png)

But it looks like this is a different issue from the one I had noted earlier for your case. I noticed that you are using an older version of the runtime (2.0.11353 as compared to 2.0.12134). You can

[2018-10-30 20:49] scott-lin opened #3719 "Host will not start due to "Microsoft.Azure.WebJobs.Extensions.Storage: Specified argument was out of the range of valid values""
I created a new Azure Function App using version 2.0, which is now in GA. I setup my app with a queue trigger in the portal, and installed the extension it asked me to. My function host will not start with the exception details below.

#### Investigative information

- Timestamp: 2018-10-30T20:34:34.863Z
- Function App version: 2.0 (2.0.12134.0)
- Function App name: devautorest-functions
- Functio

[2018-10-30 20:58] scott-lin commented on #3532
Thanks. I'd love to confirm, but I'm blocked on https://github.com/Azure/azure-functions-host/issues/3719. Will update this thread once I'm unblocked.

[2018-10-30 21:08] LukeMagill commented on #3702
This appears to fix the issue, thanks!

[2018-10-30 21:08] #3702 closed

[2018-10-31 01:29] brainded commented on #3581
Yeah it is but it hasn’t happened a lot. I will take a look and see if I can get you some more information around it but it was pretty sparse.

[2018-10-31 08:20] witek1902 commented on #1451
Any changes in Functions 2.0?

[2018-10-31 10:10] kgoderis opened #3720 "logging settings in host.json not respected"
At the startup of the function host (v 2.0.12134.0) I see

[code]

but later on Host.Executor statements at the Information level are still displayed

[code]

I would expect the Execution etc statements to be not displayed

[2018-10-31 10:39] unalkyl commented on #3709
I updated my ticket, because we find out this is only in the specific case "?key=value&key=".

[2018-10-31 12:17] kapilmehtagit commented on #1240
Hi, I have had the exact same issue to the queue triggered function. It seems to be not picking up the queue messages for several hours, until I logon to the portal and have a poke at the logs, and then suddenly (in a few seconds or sometimes minutes), it springs to life. After this, it is happy to continue processing any new messages.

It is a Visual Studio based C# queue triggered function, whic

[2018-10-31 14:13] kapilmehtagit opened #3721 "Queue Triggered Function not picking up messages from queue"
Hi, I have been having issues with a queue triggered function that doesn't seem to be not up the queue messages for several hours, until I logon to the portal and have a poke at the logs, and then suddenly (in a few seconds or sometimes minutes), it springs to life. After this, it is happy to continue processing any new messages.

It is a Visual Studio based C# queue triggered function, which is d

[2018-10-31 18:19] fabiocav commented on #2644
@brettsam need to check whether this impacts V2.

[2018-10-31 18:30] fabiocav commented on #3089
This is already surfaced as a host level error. Associating the message/limit to a function is not feasible.

Are the current error messages not sufficient? Do we need to open something to just track improvements to host level errors?

[2018-10-31 18:31] fabiocav commented on #3090
This is not applicable to V2 and something we won't likely do for V1. Closing this but we can discuss if you feel enhancements are needed.

[2018-10-31 18:31] #3090 closed

[2018-10-31 18:32] fabiocav commented on #3091
@alexkarcher-msft did you find any information on this? Is this still relevant?

[2018-10-31 18:43] fabiocav commented on #3100
Can you share more details about your scenario and the issues you're finding with the current behavior?

[2018-10-31 18:56] fabiocav commented on #3107
@brettsam , can you comment?

[2018-10-31 19:00] fabiocav commented on #3113
@chrisahardie / @MrunalBXpanxion a lot of changes have happened in this area since this was reported. Do you still have this issue?

[2018-10-31 19:01] fabiocav commented on #3114
Indeed, this is about the same issue tracked by https://github.com/Azure/azure-functions-host/issues/2447. Please follow that issue for updates.

[2018-10-31 19:01] #3114 closed

[2018-10-31 19:21] brettsam commented on #3107
We're currently working on Azure Monitor support (https://github.com/Azure/azure-functions-host/issues/2091).

@tomkerkhove -- would you mind expanding on exactly what you meant by "functions are failing to trigger"? Was it
1.  Functions are throwing exceptions when triggered and you'd like to know somewhere other than App Insights
2. You're having a gap in function execution, even though function

[2018-10-31 19:50] brettsam commented on #2907
Going to leave this open as I need to investigate for v2.

[2018-10-31 19:57] mhoeger opened #3722 "Large zip compressed HTTP bodies slow to process in out-of-proc"
Originally from: https://stackoverflow.com/questions/52965378/azure-functions-with-javascript-runtime-slow-to-read-httptrigger-requests

When sending data (~4MB) of gzip compressed data with an Http Trigger, the request takes much longer and results in sending ~40MB of data over the wire to out of proc language workers.

[2018-10-31 20:07] fabiocav commented on #3556
@jeffhollan is this done?

[2018-10-31 20:16] jeffhollan commented on #3556
In progress. Should complete this week

[2018-10-31 20:34] mathewc commented on #3701
Functions uses the .NET Core LogLevel type https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.loglevel?view=aspnetcore-2.1, so we can't add any new log levels there.

Language workers need to map their respective levels into these LogLevel categories.

[2018-10-31 20:35] fabiocav commented on #3347
@jeffhollan is this done?

[2018-10-31 20:41] fabiocav commented on #3556
Sounds good. Moving this to Sprint 36

[2018-10-31 22:29] fabiocav commented on #3638
@isaac2004 sorry about the delay on this. Dealing with a few issues and finally assigning this for investigation. Will update once I have some information to share.

[2018-11-01 01:33] paulbatum commented on #1451
No changes.

[2018-11-01 15:10] #3113 closed

[2018-11-01 16:57] shawntsai commented on #2373
Hi, I also got the same bug, it is because they have Active directory lib installed in different version.
Install all the Active directory in same version like 3.18 will solve this.

[2018-11-01 17:12] jeffhollan commented on #3347
Checked in and live

[2018-11-01 17:12] #3347 closed

[2018-11-01 17:47] bunceg commented on #1604
This isn't just functions. It happens with WebJobs too... e.g. https://stackoverflow.com/questions/35941713/servicebus-triggers-just-stop-working-randomly-on-web-jobs-why and I'm still getting it today with the .NET Framework SDK. Is there an underlying issue with the WebJob technology stack that WebJobs and Functions shares?

[2018-11-01 18:09] tomkerkhove commented on #3107
I would actually say scenario 1 & 2 to be honest so that we are aware things are going on - Either to make a fix or create a support case. We don't want to have to check ourselves if everything is running smoothly!

We would use Azure Monitor to create alerts for failed triggers >= 1 so that we can investigate similar to what Azure Data Factory & Logic Apps allow with their metrics.

For example w

[2018-11-01 18:37] maiqbal11 commented on #3083
Will be fixed in https://github.com/Azure/azure-webjobs-sdk/pull/1993

[2018-11-01 18:52] fabiocav commented on #3241
@pragnagopa is this still relevant? Moving back to triaged, but feel free to move this to a different milestone

[2018-11-01 18:55] fabiocav commented on #2894
@pragnagopa is this still an issue?

[2018-11-01 18:59] brettsam commented on #3127
The v1 PR is here, but may not be necessary. It was a lot more refactoring and may not be worth the risk: #3180
This has been done for v2: #3606

[2018-11-01 19:00] brettsam commented on #3127
Going to close this out and we'll live with the v2 tracking.

[2018-11-01 19:01] alanmartin commented on #2737
The primary problem for me with the current approach is that it's quite difficult to set multiple cookies in one response.
I've found I have to add whitespace in the second header because javascript objects don't allow duplicate keys.
[code]

[2018-11-01 19:02] brettsam commented on #3110
This was fixed in https://github.com/Azure/azure-functions-host/pull/3412, where we now filter out the default ASP.NET core logs.

[2018-11-01 19:02] #3110 closed

[2018-11-01 19:51] #3127 closed

[2018-11-01 19:53] brettsam commented on #2057
@mathewc took care of this in https://github.com/Azure/azure-functions-host/pull/3548

[2018-11-01 19:53] #2057 closed

[2018-11-01 19:54] fabiocav commented on #3062
Moving this to triaged. There's a PR out, but the priority on this has been low.

[2018-11-01 19:57] fabiocav commented on #3638
@isaac2004 there's a known issue with the publish path and that is what is impacting you here. We'll keep https://github.com/Azure/azure-functions-host/issues/3386 open to track this. In the meantime, some of the workarounds mentioned on that thread may help you.

[2018-11-01 19:58] fabiocav commented on #3638
Closing in favor of https://github.com/Azure/azure-functions-host/issues/3386. We'll have that work prioritized and assigned.

[2018-11-01 19:58] #3638 closed

[2018-11-01 21:02] ConnorMcMahon commented on #33
This has been merged into the runtime, and should be coming out in the next release. It will operate separately than V1, but there is currently a sample of how it will work [here](https://github.com/Azure/azure-functions-host/blob/dev/sample/CSharp/HttpTrigger-Identities/run.csx).

[2018-11-01 21:12] maryammadzadeh commented on #33
Thanks!!

[2018-11-01 21:44] mhoeger commented on #2074
Fixed with request "^2.88.0" and functions runtime version 2.0.12134.

[2018-11-01 21:44] #2074 closed

[2018-11-01 22:02] cts-shrahman opened #3725 "The Functions v2 Runtime does not log Functions Triggers information to AntaresFunctionSdkEvents"
The Functions v2 Runtime does not log Functions Triggers information to AntaresFunctionSdkEvents which prevents additional detector work.
a.	E.G for v1 this works https://applens.azurewebsites.net/subscriptions/65b55da0-6b91-4547-bb21-3f48978ec56f/resourceGroups/syneron_general_function_app_resource_group/providers/Microsoft.Web/sites/SyneronGeneral/detectors/functiontype?startTime=2018-10-29T23:1

[2018-11-01 23:13] mhoeger commented on #3077
Hi @henning-krause, sorry about the delayed response!

It sounds like each of your functions is doing something that's pretty computationally intensive (namely, parsing that appears to take a long time). The machines that are running your consumption mode function app are likely significantly less powerful than your local machine. This sounds like expected behavior for us.

One way to choose a mor

[2018-11-01 23:13] #3077 closed

[2018-11-02 05:36] shilsmarty commented on #3532
@paulbatum i am facing the same issue as above on Version 2.0.12115.
Function works fine when changing it to batchSize 2 or more.
i get below error on batchSize 1  - System.Private.CoreLib: Exception has been thrown by the target of an invocation. Microsoft.Azure.WebJobs.Extensions.Storage: Specified argument was out of the range of valid values.

[2018-11-02 09:17] ChristianWeyer opened #3726 "C#- and Java-based Microservices messaging: Deserialization issue with message via Service Bus queue trigger"
My setup:
- macOS 10.13.6
- VS Code Version 1.28.2
- Azure Functions Core Tools (2.1.725 Commit hash: 68f448fe6a60e1cade88c2004bf6491af7e5f1df)
- Function Runtime Version: 2.0.12134.0

Repro is here: https://github.com/ChristianWeyer/azure-functions-servicebus-serialization-repro

This is the scenario:

C# Azure Function 1:
-HTTP Trigger -> creates a message and sends it into SB queue via output b

[2018-11-02 11:56] witek1902 commented on #1451
Any plans?

[2018-11-02 13:17] damoodamoo commented on #3370
I'm seeing the same, currently just having to accept a string and manually use JsonConvert.DeserializeObject<> to properly deserialise to my POCO.

[2018-11-02 14:31] vinnytheviking opened #3727 "Host will not start due to "System.Net.Http: No such host is known. System.Private.CoreLib: No such host is known.""
When I try and debug durable functions locally they fail both in VS Code and Visual Studio 2017.

In vs code i get

**[11/2/2018 2:26:28 PM] A host error has occurred
[11/2/2018 2:26:28 PM] System.Net.Http: No such host is known. System.Private.CoreLib: No such host is known.**

in vs studio I get

**[11/2/2018 2:25:06 PM] A host error has occurred
[11/2/2018 2:25:06 PM] System.Private.CoreLib: Co

[2018-11-02 15:41] dfibuch commented on #3355
I had to change `FUNCTIONS_EXTENSION_VERSION` from `~2` to `~1` in Application Settings of my Function. Restarted it and now it all works.

[2018-11-02 17:16] mhoeger commented on #3154
Hi @mithunshanbhag - sorry about the lack of response on this issue. We've made a lot of changes to V2 functions while moving from preview => GA. Are you still seeing issues of this class? If so, are the details still relevant for investigation?

[2018-11-02 18:30] scott-lin commented on #3532
Confirmed @paulbatum's suggestion worked, so closing this issue thread. However, I did find another bug linked in the issue above.

[2018-11-02 18:30] #3532 closed

[2018-11-02 19:00] dlo1957ca opened #3729 "CosmosDb out binding fails intermittently with InvalidOperationException : Cannot bind parameter 'document' to type Document&"
I have an Azure function CentralLoggingMessageReceived with a ServiceBusTrigger and an out binding to CosmosDb.

If I run function this from Visual Studio it executes correctly (when I put a message on the topic, it is correctly inserted into CosmosDb collection).

If I deploy it to Azure using Azure DevOps, it works fine until I stop and restart the function.

#### Investigative information

Plea

[2018-11-02 20:21] safihamid opened #3730 "Proxy requests timeout if backend is taking more than 60 seconds"
This can be repro'd with V2 functions and all default settings.

[2018-11-02 20:39] alexkarcher-msft commented on #3088
I'm not sure which you're referring to, but this is the blob storage account created alongside a function app. The account that customers can get into a bad state if they delete or roll their connection strings.

There is currently a portal error message, but it only accounts for a narrow set of possible broken storage states and causes false positives any time the run-time is down, or suffering a

[2018-11-02 20:53] brettsam opened #3731 "MetadataGenerator fails to discover internal IWebJobsStartup types during build on netcoreapp2 project"
Create a new Function App project, which should default to netcoreapp2 with the latest bits.
Create a class and wire up an `IWebJobsStartup` class and build.

[code]

It should be generating an extensions.json file in the build output, that contains the class -- but it's stopped working. This does work if the project is netstandard2.

[2018-11-02 21:44] alexkarcher-msft commented on #3089
As a user, I'd expect any executions in flight to have some error message associated with that individual execution if they are terminated due to platform limits. Without something prompting customers to look up at platform logs they tend to view Functions as independent units, and we'll need to prompt them to look higher up.

Also, I'd love to know what else is logged only at the host level? We c

[2018-11-02 21:45] safihamid commented on #3730
It should use the same value as defined in here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout

Currently the timeout is hard coded to 60 seconds.

[2018-11-02 23:01] fabiocav commented on #3089
This could be confusing as it could be interpreted as the function causing the issue, when in reality, there's no mechanism that allows us to detect that today. This is truly a host level issue that needs to be properly surfaced. Individual function invocations will be reported as failures, and we could add a reason, popping the notification for every function in a function app for a host issue wo

[2018-11-03 21:33] 0x6d6178 commented on #2737
I second @alanmartin. The current implementation is rather limited with regards to setting multiple cookies. Only with the mentioned work around, it is currently possible to set multiple cookies. The implementation suggested by @cesarvarela could be altered like this to facilitate multiple cookies:

[code]

[2018-11-05 00:47] jeffhollan opened #3733 "Host.json seems invalid for v2?"
Looks like it's been updated because I see extensions has moved, but I still see things like `logger` which I believe were changed in v2 to `logging` and things like `applicationInsights` should be children of `logger`.  I'm fine if this is assigned to me but not sure if auto generated or was manually created.

Not sure what the schema URL VS Code and VS are pointing to but also makes the autocomp

[2018-11-05 01:52] troyhunt opened #3734 "HTTP triggered functions with reserved names in a route cause 404"
Consider an HTTP triggered function with a route like this: mypath/{myparam}

Now pass a param to the route that matches one of the reserved names listed here followed by a dot: https://docs.microsoft.com/en-us/windows/desktop/fileio/naming-a-file

For example, mypath/con.foo

Calling this route causes Azure to return 404. This doesn't happen when tested locally yet appears consistently in Azure.

[2018-11-05 02:48] davidebbo commented on #3734
To fix this, we need to set `<httpRuntime relaxedUrlToFileSystemMapping="true"/>` in web.config ([here](https://github.com/Azure/azure-functions-host/blob/v1.x/src/WebJobs.Script.WebHost/Web.config#L43)). This post explains the behavior: https://haacked.com/archive/2010/04/29/allowing-reserved-filenames-in-URLs.aspx/.

Note that I would expect this to be a v1 only issue, since v2 uses .NET Core, w

[2018-11-05 04:54] a-silva commented on #3516
Thank you for replying and sorry for not getting back to you before - it's an internal issue with Microsoft that's being fixed in the next version of Microsoft.Azure.WebJobs - had to raise a ticket with them internally to get them to track it. There's nothing I can do on my end to get it to work until they release the new package.

[2018-11-05 06:41] Bomret commented on #3709
Bump. This is quite a nasty bug which can lead total application failure after the first call as described above as the whole runtime seems to fail to recover afterwards.

[2018-11-05 12:02] vinnytheviking commented on #3727
I had an issue with a nuget package that required a config setting. The url provided in there was incorrect. It's all working again

[2018-11-05 12:02] #3727 closed

[2018-11-05 13:47] ChristianWeyer opened #3735 "JavaScript Function with Table Storage input binding: running 'forever' for unknown RowKey"
My setup:
- macOS 10.13.6
- VS Code Version 1.28.2
- Azure Functions Core Tools (2.1.725 Commit hash: 68f448fe6a60e1cade88c2004bf6491af7e5f1df)
- Function Runtime Version: 2.0.12134.0

I have a very simple JavaScript function with Azure Table Storage input binding for a single item, like this:
[code]

WIth this metadata:
[code]

The expectation is when I use a 'wrong' (i.e. non-existent) RowKey as

[2018-11-05 14:47] davidrevoledo commented on #563
This is a limitation, any ETA for this to be implemented  ?

[2018-11-05 17:55] fabiocav commented on #3734
The difference in behavior is likely due to the hosting model differences between local and prod (direct/self-hosted Kestrel only vs IIS/in-proc).

[2018-11-05 18:06] nickstaggs commented on #3627
Not exactly thrilled with the response, or rather the lack thereof, but understandable considering the volume of issues being opened in this repository. This function was being developed in the Azure Portal which leaves a lot to be desired but currently the only real option for testing functions which use a Microsoft Graph Token binding. I am going to chock this one up to poor error messages which

[2018-11-05 18:06] #3627 closed

[2018-11-05 18:14] philbritton commented on #3133
I still see these when running my app

[2018-11-05 18:31] fabiocav commented on #3730
Do we want to have an explicit setting for this? I think it would be helpful to be able to set the proxy timeout to something shorter than the function execution timeout. Thoughts?

[2018-11-05 18:33] safihamid commented on #3730
I think we should  just remove the 60 seconds timeout for proxies which was left behind. proxy execution is a function execution at the end of the day. and I rather not add yet another config knob at this point.

[2018-11-05 18:43] vfedonkin commented on #3730
That was the plan, to remove the proxy timeout. Talking about timeouts, did you ever have issues with load balancer 4 minutes timeout? https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-tcp-idle-timeout .

[2018-11-05 19:12] fabiocav commented on #3730
@safihamid this might end up becoming a requirement, but I'm fine with that  for now.

[2018-11-05 19:19] fabiocav opened #3736 "Dependency Injection support for Functions"
Meta issue to track exposing first class DI support to end-user functions.

High level list of work items (issue links pending):

- [x] Support scoped services
    - [x] SDK work to ensure scoped services are properly supported (https://github.com/Azure/azure-webjobs-sdk/issues/2078)
    - [x] Ensure proper model for HTTP triggered functions
- [x] Port changes to enable instance methods
- [x] Prop

[2018-11-05 19:26] fabiocav opened #3737 "Built in support for HttpClientFactory"
Issue to track built in support for HttpClientFactory (client injection and binding)

[2018-11-05 21:06] #2972 closed

[2018-11-05 23:21] mayoatbm opened #3738 "Host Threshold Exceeded (Connections) - No More Scaling"
Per my understanding of the [host health monitor](https://github.com/Azure/azure-functions-host/wiki/Host-Health-Monitor), any hosts that cross a threshold are shut down until they drop below threshold. Other hosts continue to process as usual and the function app itself still runs and still scales.

What we are seeing instead, is that the entire function app stops working. No more instances are c

[2018-11-06 00:20] mathewc opened #3740 "Host Unable to Recover from Startup file error"
See ICM incident https://icm.ad.msft.net/imp/v3/incidents/details/90716615 for details on the affected app including Kusto queries showing the issue.

[2018-11-06 00:40] fabiocav commented on #3726
@ChristianWeyer thank you for the details!

Just want to make sure, that is the exact payload going into the `shippingsinitiated` queue (not `response`), correct? I'm assuming you're also able to repro this if you manually queue a message with that payload, is that correct?

[2018-11-06 00:42] jeffhollan opened #3741 "ITelemetryProcessor does not appear to be supported in Function Apps"
_From @StevenTaylor on October 5, 2018 5:50_

Documentation (https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-filtering-sampling) suggests that ITelemetryProcessor can be used to filter\sample the telemetry before it is sent App Insights.

But the implementation code is never called in our Function App.

The code to set up the builder is called, which looks like:

`

[2018-11-06 00:42] jeffhollan commented on #3741
_From @roryprimrose on November 2, 2018 4:13_

This is a big issue for me as well. The amount of trace records being written to AI is large and increases the cost. Being able to filter out the unnecessary entries would save a lot of bandwidth and cost.

[2018-11-06 00:42] jeffhollan commented on #3741
Curious on if work around dependency injection ( azure/azure-functions-host#3736 ) will help with this or anything else? @brettsam as well as he has tons of AI experience

[2018-11-06 02:11] joshdcar commented on #3370
Running into this issue as well. Manual workaround with JsonConvert is less then elegant but does work.  I was about to create a new issue until I found this one so just in case you needed another repository to reproduce this issue you can find mine over here - https://github.com/joshdcar/azure-func-v2-httptrigger-model-binding-bug . It's probably not worth mentioning but this works as expected un

[2018-11-06 03:05] joshdcar commented on #3370
So I did some digging and I believe I potentially candidate for the guilty line of code within a binding utility class used by the HttpTriggerAttributeBindingProvider of the HttpTrigger.

[https://github.com/Azure/azure-webjobs-sdk-extensions/blob/cdeb65faacf04c53845fb76c4b513c9998fc97de/src/WebJobs.Extensions.Http/Utility.cs#L29](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/cdeb65fa

[2018-11-06 04:01] roryprimrose commented on #3741
My scenario is that I want to remove trace messages written to AI, primarily from the storage extension while allowing custom metrics to be sent to AI. I've tried just about everything to get a resolution to this  without success. I'm also using DI for my C# functions.

Here are some of the things I've found:

- I get a TelemetryClient from the host in an extension at the first available opportuni

[2018-11-06 06:30] ChristianWeyer commented on #3726
Yep, just checked by manually sending above snippet via the https://portal.serverless360.com/ tooling.

[2018-11-06 12:42] Amysno commented on #3539
Hi @JocaPC and @JohnReeson ,
Sorry for my answer's delay.
Finally found the issue !
While hosting the Ignite event, MS and Azure launched lots of new features.
One of them was the new runtime version of Azure function, which is not taking project.json into account anymore (as @JohnReeson said, now you'll have to use function.proj to declare your dependencies)

Because we had to run a azure functio

[2018-11-06 12:42] #3539 closed

[2018-11-06 13:49] mpseidel commented on #1240
Meanwhile migrated to the v2 runtime (running inside docker).

All seemed well now for my one function working off of a storage queue that is kept "busy" by pushing a message to the queue every 5 minutes.

Another function working off of a different queue in the same storage account seems to suffer from the same old issue again. Function at some point just stops getting triggered.

Is anybody look

[2018-11-06 14:06] mpseidel commented on #3600
Can you please fix / append to the docs everywhere? Don't see a mention of the change in format here

https://docs.microsoft.com/de-de/azure/azure-functions/functions-bindings-storage-queue#trigger---hostjson-properties

I had this wrong for weeks now and had no clue I was using the wrong format. Some validation + warning would be nice. Really frustrating 👎

[2018-11-06 15:39] brettsam opened #3743 "InvalidOperationException: No service for type 'Microsoft.Azure.WebJobs.Script.IScriptJobHost' has been registered."
It looks like we have a race condition in HTTP requests where a request will sneak into the FunctionInvocationMiddleware when there is no job host running. My theory is that the host  shuts down shutting down immediately after the IsHostReady check is performed. Will need some investigation.

[2018-11-06 15:50] brettsam opened #3744 "DryIoc.ContainerException : Container is disposed and should not be used: Container is disposed."
Likely a very similar issue to #3743, but creating a separate issue for discoverability. It looks like in-flight HttpRequests can access a disposed container. This seems to happen while the job host is in the process of restarting.

[2018-11-06 16:01] f2bo opened #3745 "Host crashes caused by log contention"
We are experiencing unexpected host restarts when running a function. When this happens, the diagnostic logs show the normal trace messages from the execution of the function but occasionally, before the invocation completes, the logs show that the host restarted, with no indication of what has caused it to crash.

As I said, the streaming logs do not provide any information, but in the event log

[2018-11-06 16:06] jeffhollan commented on #3600
Yes update here - doesn't look like it's been localized yet though

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue#hostjson-settings

That said this is a good callout as I didn't realize this trigger doc had a seperate host.json already. Will clean that up.

[2018-11-06 17:19] #3083 closed

[2018-11-06 17:19] maiqbal11 commented on #3083
Checked in and should go as part of the next release.

[2018-11-06 18:38] #3730 closed

[2018-11-06 18:45] asavaritayal commented on #290
We will no longer be adding new features to Functions 1.0.

Python support has been reintroduced on Functions 2.0 and `requirements.txt` is supported. You can follow the discussion here - https://aka.ms/functions-python-preview

[2018-11-06 18:45] #290 closed

[2018-11-06 18:47] asavaritayal commented on #1039
We will no longer be adding new features to Functions 1.0.

Python support has been reintroduced on Functions 2.0 and `python 3.6` is supported. You can follow the discussion here - https://aka.ms/functions-python-preview

[2018-11-06 18:47] #1039 closed

[2018-11-06 18:48] asavaritayal commented on #519
We will no longer be adding new features to Functions 1.0.

Python support has been reintroduced on Functions 2.0 and `python 3.6` is supported. You can follow the discussion here - https://aka.ms/functions-python-preview

[2018-11-06 18:48] #519 closed

[2018-11-06 18:49] asavaritayal commented on #335
Closing thread as the discussion has moved to the repo here - https://github.com/Azure/azure-functions-python-worker/issues

[2018-11-06 18:49] #335 closed

[2018-11-06 19:11] thiagosoeiro commented on #2504
Any update on this?

[2018-11-06 19:44] fabiocav commented on #2636
Going through some old threads and noticed this was waiting for a response. Is this still an issue?

[2018-11-06 22:30] fabiocav commented on #3366
@mkontula thank you for the feedback! We have updated the wiki reference and the official documentation [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json) has also been updated.

Closing this as resolved, but please let us know if you feel this still doesn't address the issue.

Thanks again!

[2018-11-06 22:30] #3366 closed

[2018-11-06 22:38] fabiocav commented on #3435
While the behavior change is not a defect, but a difference in behavior on the underlying runtime, the fact that your explicitly set content type is not honored does seem like an issue that needs to be addressed.

Marking this as triaged for investigation.

/cc @mhoeger

[2018-11-06 22:40] fabiocav commented on #3434
@grahamehorner could you provide error details (from App Insights or application logs) or provider the application information requested in the issue template so we can take a closer look at this?

[2018-11-06 22:42] fabiocav commented on #3429
@alexandregregoire can you share more information about your current configuration? How are you applying the attribute to your function? Are you specifying a connection string? Do you have the correct connection string in your local settings file?

[2018-11-06 22:51] fabiocav commented on #3740
Needs investigation

[2018-11-06 22:56] fabiocav commented on #3146
@mathewc assuming this no longer applies to V2, as this code path no longer exists there.

Adding this to triaged for investigation to see if this is something that needs to be addressed in V1.

[2018-11-06 23:01] fabiocav commented on #3182
@safihamid I'm not sure if this is still an issue, as changes have been made here since this issue was opened, but it would be good to validate this.

[2018-11-07 01:55] paulbatum commented on #2504
There are no updates for this. It is not tracked as a high priority issue at this time.

[2018-11-07 02:09] paulbatum commented on #3083
@maiqbal11 Awesome - can you share a quick example of what this message ID logging looks like?

[2018-11-07 08:59] JasonBSteele commented on #563
There is some hope as the user voce https://feedback.azure.com/forums/355860-azure-functions/suggestions/13882992-support-for-session-enabled-azure-service-bus-queu for this feature was updated on Oct 18 2018 to say that the work has been planned.

[2018-11-07 14:29] brettsam commented on #3741
This is a great scenario so it'd be interesting to walk through it here. and I can build these up on the wiki to help everyone else, too.

I'm guessing that the processor isn't working b/c the processor chain gets built here: https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/Extensions/ApplicationInsightsServiceCollectionExtensions.cs#L270.

[2018-11-07 14:38] brettsam opened #3747 "Pass App Insights correlation details to language workers"
In v1, it was much easier to correlate from other langauges, as the Application Insights OperationId was always equal to the invocation id. This isn't the case in v2, due to all of the auto-tracking and cross-site correlation that's now happening. We need to have a way to pass these details down via the context into the languages so that customers can do their own correlation with AppInsights. For

[2018-11-07 16:41] maiqbal11 commented on #3144
The current storage extension in v2 is utilizing WindowsAzure.Storage 9.3.1. There is a known issue where users are unable to specify versions higher than this and is being tracked here: https://github.com/Azure/azure-webjobs-sdk/issues/1942. Closing this issue in favor of the one currently tracking.

[2018-11-07 16:41] #3144 closed

[2018-11-07 16:42] maiqbal11 commented on #3572
There is a known issue where users are unable to specify versions higher than 9.3.1 and  it is being tracked here: Azure/azure-webjobs-sdk#1942. Closing this issue in favor of the one currently tracking.

[2018-11-07 16:42] #3572 closed

[2018-11-07 16:49] maiqbal11 commented on #3493
Hi @dotnetron, is this still an issue?

[2018-11-07 16:54] synercoder opened #3748 "Lots of servers idling on 409 primary host lock"
### Intro

We have created an online-editor for photobooks. For this editor customers need to upload images/photos. This upload is a simple functions which does the following:

1. Take the image from the request
2. Save the image to blob storage
3. Resize to smaller (workable) image and save the smaller version to blob storage
4. Resize to thumb image and save the thumb to blob storage
5. Return t

[2018-11-07 16:55] synercoder commented on #3748
Also possibly related to #2326?

[2018-11-07 17:21] maiqbal11 commented on #3083
Including details on the messages below:

1. Queues: `Trigger Details: MessageId: d5cb38e8-9d38-4714-a372-cdb50e5a0bbd, DequeueCount: 1, InsertionTime: 11/7/2018 5:13:56 PM +00:00`

2. Service Bus: `Trigger Details: MessageId: f287f2c23002469a94c4fbdcfe569129, DeliveryCount: 1, EnqueuedTime: 11/7/2018 5:15:31 PM, LockedUntil: 11/7/2018 5:16:01 PM`

3. These properties also exist in AppInsights so

[2018-11-07 17:39] fabiocav commented on #3734
Quick PR with @davidebbo's recommended fix here: https://github.com/Azure/azure-functions-host/pull/3750

[2018-11-07 17:49] synercoder opened #3751 "Lots of IOExceptions before http function is executed"
### Intro
We have created an online-editor for photobooks. For this editor customers need to upload images/photos. This upload is a simple functions which does the following:

1. Take the image from the request
2. Save the image to blob storage
3. Resize to smaller (workable) image and save the smaller version to blob storage
4. Resize to thumb image and save the thumb to blob storage
5. Return th

[2018-11-07 17:54] asavaritayal commented on #3551
@balag0 can you share steps for repro?

[2018-11-07 17:54] asavaritayal commented on #3549
@balag0 can you share steps for repro?

[2018-11-07 17:56] Meyce commented on #3449
I never heard back on this error.  We haven't had the issue since Functions v2 when GA.

[2018-11-07 18:57] balag0 commented on #3551
This issue applies to both python and node.

There might be more than 1 way to repro this. Here is what i used-

Create a  python / node linux consumption function app with a hello-world like function.
Hit the function endpoint using atleast 500 virtual clients for 5 minutes.
Some of the workers will hit this issue and return 500s.

[2018-11-07 19:00] balag0 commented on #3549
https://github.com/Azure/azure-functions-host/issues/3551#issuecomment-436737862 applies here also.

[2018-11-07 21:10] Bomret commented on #3709
Bump. No comment on this?

[2018-11-08 00:03] Moeahmad94 commented on #1570
Hi @brettsam , I read through this and a few other posts, but I can't tell if you reached a resolution on the Microsoft.Extensions.Logging version 1.1.1 vs 1.1.2. I'm developing a project that due to a dependency requires version 1.1.2, but using version 1.1.2 gives me the same "cannot bind log to ILogger" runtime error. Is there anything I can do to unblock myself right now?

Thanks,
Moe

[2018-11-08 00:37] fabiocav commented on #1570
@Moeahmad94 as Brett mentioned above, this is one of the dependencies that are unified by the runtime, and unification will upgrade you within safe ranges, but not downgrade you. We try to stay on the very latest of those packages, where are you referencing 1.1.2 from?

[2018-11-08 00:43] mathewc commented on #3740
Another case generated an LSI - see ICM 91074104 for details on that one.

[2018-11-08 04:48] roryprimrose commented on #3741
@brettsam Yes, the categories between traces and customMetrics are different. I'll try using a config filter against the traces category.

[2018-11-08 05:07] roryprimrose commented on #3741
@brettsam Nope, sorry, I was right the first time. My custom metrics, written directly via TelemetryClient, are being recorded with the same category used to write trace records from the queue trigger.

I have a queue trigger ```AnalyticsHintsProcessor``` which logs with the category ```Function.AnalyticsHintsProcessor```. I also have a timer trigger ```AnalyticsScavenger``` which logs with the ca

[2018-11-08 05:09] roryprimrose commented on #3741
The OOTB metrics for the function are the ones that use a different category being ```Host.Aggregator```.

![image](https://user-images.githubusercontent.com/2044291/48178952-9cb8d000-e370-11e8-9883-006146cad432.png)

[2018-11-08 08:22] stukalin commented on #3168
The same thing here as @cbfrank has. The fix is very desirable, @pragnagopa

[2018-11-08 11:21] synercoder commented on #3748
Next day.... this morning only 1 server was idling with the 409 message. Now the server count is still somewhere between 15/25 servers, but all are processing something (CPU usage > 0%). And the `409 PUT` message does no longer show in the telemetry.

So for now it does seem fixed and just a hickup... But maybe this issue/information is handy for #1864  or #2326?

[2018-11-08 11:45] #3748 closed

[2018-11-08 15:10] brettsam commented on #3741
Can you share how you're logging your metrics? We've added a `LogMetric()` extension to `ILogger` that log metrics to App Insights with a Category of `Function.FunctionName.User` -- which is how we indicate logging coming from within your code. You could then filter based on that, which would remove all of those host logs you're seeing (the ones without `.User`)

[2018-11-08 16:16] kapilmehtagit commented on #3721
Hi, my host.json is quite simple actually. I believe the maxPollingInterval format is as per the new timespan one.

{
  "queues": {
    //The maximum interval between queue polls.
    "maxPollingInterval": "00:00:02",
    // The number of queue messages to retrieve and process in
    // parallel (per job function). The default is 16 and the maximum is 32.
    "batchSize": 1,
    // The number of t

[2018-11-08 16:50] fabiocav commented on #1570
@Moeahmad94 if you have an explicit reference to a 2.x version of the package, this should work as expected. Have you tried adding a reference to a 2.x Microsoft.Extensions.Logging from your function project?

[2018-11-08 16:51] Bazeloth commented on #3168
Ive still got the same problem as well. Created an issue here before i found this one:

https://github.com/Azure/azure-functions-core-tools/issues/847

[2018-11-08 17:02] fabiocav commented on #3168
@nikolayvpavlov your issue seems to be a bit different, would you mind providing a link to a repository with a repro for this to ensure we have your exact setup?

@Bazeloth following up on the linked issue

@cbfrank @stukalin we'll take a look and provide an update on this

[2018-11-08 17:08] Bazeloth opened #3754 "VerificationException: Method Microsoft.Extensions.DependencyInjection.EntityFrameworkServiceCollectionExtensions.AddDbContext: type argument 'Savannah.Libraries.Data.SavannahDbContext' violates the constraint of type parameter 'TContext'"
Im getting the following exception while trying to use `.AddDbContext` in my Azure function.

![image](https://user-images.githubusercontent.com/19928782/47996675-9bca3900-e0f9-11e8-991e-3ef01776b07c.png)

This is my current .csproj configuration:

![image](https://user-images.githubusercontent.com/19928782/47996873-46425c00-e0fa-11e8-84d1-9c513dacb97d.png)

My database context is setup as follows

[2018-11-08 17:45] maiqbal11 commented on #3721
And the "queues" label lies is under the "extensions" label?

[code]

[2018-11-08 18:02] kapilmehtagit commented on #3721
Hi, no, that's my entire host.json. Should I move the queues label under the extensions label? Thanks.

[2018-11-08 18:20] maiqbal11 commented on #3721
Yes, you would need a little more. You can check the formatting of the host.json here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#sample-hostjson-file.

[2018-11-08 18:37] paulbatum opened #3755 "Metadata generator package does not provide a license"
The NuGet metadata for https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator/1.0.0-beta3 is incomplete. It does not list a license.

(this was reported by an end-user)

[2018-11-08 19:33] mathewc opened #3756 "Functions ARM API Improvements"
The ARM API for Azure Functions currently relies on an "ARM Bridge" from the App Service Geomaster providing the ARM API surface area to the Functions runtime which implements the operations (transparent proxy). This situation can cause reliability issues and confusion. E.g. if the Function runtime is not yet running or unable to start, the APIs will be unavailable. Furthermore, for QOS reasons, w

[2018-11-08 20:01] Moeahmad94 commented on #1570
I tried that but still get the same error message.

[2018-11-08 21:09] fabiocav commented on #1570
Can you open a separate issue with the details? That will help keep things scoped to what you're running into. I can try to set something up and iterate on that issue, but if you have a repro you can also share, that would be helpful. Thanks!

[2018-11-08 21:54] TylerLeonhardt opened #3758 "Enable a mechanism to include other languages in the Windows Consumption Plan"
For example, the PowerShell worker can run just fine on Windows. It would be nice to be able to easily deploy it to a Windows Consumption Plan.

cc @pragnagopa

[2018-11-08 22:45] mieliespoor opened #3759 "Visual Studio Failing to Install Latest CLI runtime"
I am busy upgrading my function app to the latest version of the azure function runtime, but get this error when I try to run the function from Visual Studio.

Could not load type 'Microsoft.Azure.WebJobs.ExecutionContext'

Function App Version 2.0
Trying to debug in Visual Studio on Windows Machine

References:
 - Microsoft.Azure.WebJobs : 3.0.0
 - Microsoft.Azure.WebJobs.Core : 3.0.0
 - Microsof

[2018-11-08 23:35] Moeahmad94 commented on #1570
Sure. Anything in particular on anyone in particular you want me to add to the new issue I create?

[2018-11-08 23:50] roryprimrose commented on #3741
I'm not using the ```ILogger.LogMetric``` extension because I wanted to do pre-aggregation of my custom metrics. I'm using some code that was originally on MSDN somewhere (for the life of me I can't find it now). The logic calculates aggregated metric data for a period of time before sending the metrics to AI.

For example, I have some processes where the metric data can be aggregated to one or fi

[2018-11-08 23:53] grahamehorner commented on #3434
I’m no longer seeing this since updating the tools and vs 2017

[2018-11-08 23:53] #3434 closed

[2018-11-09 02:57] mayoatbm commented on #3738
Could not reproduce this after further tests...closing. Thanks!

[2018-11-09 02:57] #3738 closed

[2018-11-09 07:45] rasmustherkelsen opened #3761 "Breaking change between SDK and Runtime"
With the latest deployment of the functions runtime (V2), my code now breaks.

Scenario:
I have some scheduled jobs (TimerTrigger) and a HttpTrigger function that for convenience can kick off the scheduled jobs if I want them to. The HttpTrigger functions instantiates an instance of the TimerSchedule and passes this to the Run method of my scheduled job. The instance is my own class inherited from

[2018-11-09 10:13] kapilmehtagit commented on #3721
Hi, I have now amended the host.json as below and re-published the update to the function app from Visual Studio. However, this now causes the queue messages to be processed in parallel, and seems to ignore the batchSize setting. This would be an issue as we do require the messages to be executed one by one. Reverting to the original setting resolves this issue.

`{
    "version": "2.0",
    "exte

[2018-11-09 11:38] idg10 commented on #33
Version 1.0.24 of `Microsoft.NET.Sdk.Functions` just appeared on NuGet dated 2018/11/8, which is about a week after @ConnorMcMahon's comment, but as far as I can tell, this still isn't working. I get this error:

`Microsoft.Azure.WebJobs.Host: Error indexing method 'Function1.Run'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'principal' to type ClaimsPrincipal. Make sure the parameter Type

[2018-11-09 12:20] kapilmehtagit commented on #3721
Hi, I have also tried adding the singleton setting, but still get multiple thread invocations for the function.
`{
  "version": "2.0",
  "extensions": {
    "queues": {
      "maxPollingInterval": "00:00:02",
      "batchSize": 1,
      "maxDequeueCount": 3,
      "visibilityTimeout": "00:00:30",
      "newBatchThreshold": 0
    }
  },
  "singleton": {
    "lockPeriod": "00:00:15",
    "listenerLo

[2018-11-09 12:40] Bazeloth commented on #3754
@fabiocav thanks for picking this up. Looking forward to a fix :)

[2018-11-09 13:44] nikolayvpavlov commented on #3168
@fabiocav , I created a demo project, please check it out [here](https://github.com/nikolayvpavlov/AfHostIdentityDemo).

[2018-11-09 14:09] MHHenriksen commented on #2447
Great to see that the PR is merged! Are there any followups pending? Can you give an updated indication on the status of this issue, and rough time scale of next release?

[2018-11-09 14:34] dallancarr commented on #3761
It looks that work is still in beta.

[2018-11-09 14:56] rasmustherkelsen commented on #3761
@dallancarr Ok but I find it strange to ship a runtime that breaks compatibility with existing code that uses the only available SDK without warning. I am talking real production code here using a GA Azure Service.

[2018-11-09 16:16] maiqbal11 commented on #3721
Could you share the name of your FunctionApp?

[2018-11-09 16:53] kapilmehtagit commented on #3721
Sure,

2018-11-09T16:53:22.926 [Info] (Id=39e9dc33-cb7c-4e10-a049-3096f3b9cda7). UK South

I have now replaced the host.json with the original configuration though. Would you like me to re-apply the new one?

[2018-11-09 17:08] maiqbal11 commented on #3721
This is the invocation ID for the function itself. The function is placed in a function app that has just a plain text name attached to it. I wanted to check our logs to see what version of the runtime you have since your issue seems similar to this one: https://github.com/Azure/azure-functions-host/issues/3532#issuecomment-435276412. This would explain why the original configuration is working bu

[2018-11-09 17:08] fabiocav commented on #3761
@rasmustherkelsen, you're absolutely right. This was a breaking change that really shouldn't have shipped the way it did (even if the SDK was shipped at the same time, as it would have still impacted you and forced you to update). We're in the process of releasing the SDK so you can address this issue but referencing the latest bits. We're also looking at better checks in place to ensure this does

[2018-11-09 17:34] fabiocav commented on #3761
We also just pushed the packages. Again, apologies for this issue. We're very careful with those kinds of changes and this one slipped by us. As I mentioned, we're looking into better checks to catch these kinds of problems in the future.

[2018-11-09 17:34] #3761 closed

[2018-11-09 18:36] fabiocav commented on #3759
There shouldn't be any conflicts with 3.0.1 with the version of the Functions SDK package you're referencing. Can you share more details on that?

Is this issue with the project you're upgrading/migrating? Are you moving from a pre-GA version? Do you see this problem if you create a new functions project as well?

[2018-11-09 18:55] mieliespoor commented on #3759
@fabiocav I just upgraded the WebJobs reference to 3.0.2 as it was published today and then get this error
[code]
This was an old v1 project I upgraded to v2 where I have the app pinned to 2.0.11961-alpha in the portal. I started upgrading to the latest bits when we had to pin it to the alpha version in the portal, but it has since gone GA.

My full project file:
[code]

[2018-11-09 19:16] kapilmehtagit commented on #3721
Hi, the name for the function app is fedfunctions. Thanks,

[2018-11-09 19:32] fabiocav commented on #3759
Odd.. the CLI was published at the same time, so to make sure you were not running against an older, cached version, can you please restart VS and retry this? You should see a dialog downloading the matching version.

[2018-11-09 19:32] maiqbal11 commented on #3721
You're running a v1 function. Upgrading to the 2.0 runtime might fix the issue but could also you require you rewrite some of the code since the SDK has changed between the two versions. The host.json [reference](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json-v1#sample-hostjson-file) for v1 is different and seems to be in line with what you had included previously.

[2018-11-09 20:57] maiqbal11 opened #3763 "Do not append defaultWorkerPath in DefaultWorkerProcessFactory"
Currently `worker.config.json` does not support passing arguments to the worker. Arguments can be passed to the language executable (e.g. `python`, `node` or `java`) using the `arguments` but there is no equivalent for passing argument to the worker entry point.

[2018-11-09 21:17] mhoeger commented on #2737
Good point, thanks for bringing this up! Will prioritize this as more than an enhancement. Note for others the current workaround is adding white spaces as @alanmartin suggested above.

[2018-11-09 21:30] mieliespoor commented on #3759
that's what I did before I ran it to get the log I posted above. I will try and uninstall the cli or is there a way I can get hold of some other logs to possibly see what goes wrong?

[2018-11-09 22:51] andrewdmoreno commented on #2549
@ealsur I'm facing some issues that could perhaps be related to this discussion (for which I may potentially need to open a separate isse), but for the purposes of education for anyone coming across this thread - what would happen in @syedhassaanahmed 's scenario above to any changes to the collection that are modified after the function initially fails, but before the HTTP trigger ping wakes it u

[2018-11-09 22:55] fabiocav commented on #3759
Did you see the update? Can you share the output with the CLI version VS is running?

[2018-11-09 23:17] fabiocav commented on #3759
Yeah, this is running against a pretty old version. can you check the VS and the Azure Functions and WebJobs version you're running (under Help -> About Microsoft Visual Studio)? You may need to update the extension to make sure you're getting the latest bits.

[2018-11-09 23:33] fabiocav commented on #3759
Assuming you've restarted VS, those version should be bringing the right bits down.

Can you delete the contents of `%localappdata%\AzureFunctionsTools` and retry?

Also, can you please make sure you haven't modified the `debug` settings of your project? (Project properties -> Debug), please make sure that is just set to launch the project, with no customizations there.

[2018-11-10 00:05] mathewc commented on #3743
Funny - I was just logging an issue for this and this existing issue popped up. Here's the details I was adding to my incident:

Seeing null being returned on startup for system services that should be present. Likely we have a startup ordering issue with service registration.

FunctionsLogs
| where AppName  =~ "netisomeas-prd-eastus-diag"
| where PreciseTimeStamp > datetime(2018-11-08 19:07:08.66

[2018-11-10 01:07] paulbatum commented on #3719
This is a dupe of https://github.com/Azure/azure-webjobs-sdk/issues/1568 - its resolved, you'll need to update to 3.0.1 of the storage extension (see the last comment in the linked issue).

[2018-11-10 01:07] #3719 closed

[2018-11-10 10:41] mieliespoor commented on #3759
I have deleted `%localappdata%\AzureFunctionsTools` and restarted visual studio. It keeps on installing Version=2.0.11651.0. I also disabled the Azure Functions and Web Job Tools and enabled that again.

From what I can see, there is also no logging happening so I can't see what is going on. It also appears that the cli is being copied from some local cache. Is there no other way in forcing the in

[2018-11-10 18:51] ChristianWeyer commented on #33
@ConnorMcMahon Will we also be able to easily use 3rd party IdPs? Like IdentityServer (which will be integrated into .NET Core....).

Thanks!

(And hey Ian, old chap! :-) )

[2018-11-11 23:35] PureKrome commented on #3511
@mieliespoor when you say "double check that you are using the latest cli" can you please confirm what that exact tool is, please? (screen shot?)

[2018-11-12 09:21] ealsur commented on #2549
@andrewdmoreno If the Trigger ran at least once, at some point in time, it will have the leases with the latest processed checkpoint. Any failures to start won't make it lose any changes since the trigger will start from the last successful checkpoint, whenever that was.
If the Trigger never ran (no leases) and changes happen before it first starts, then yes, those changes are lost in terms of pro

[2018-11-12 10:39] wilkovanderveen commented on #2279
Is there any update on this one? We still are experiencing this issue using .NET core 2.1 functions.

[2018-11-12 11:13] afacanerman commented on #1604
I am having the same problem on azure consumption plan. I have a function that stops after processing around 1000 queue messages. When I restart the function app it reduces the queue again. When the queue is empty it stops again until you restart. Interestingly azure portal's function view get also stuck when it happens

[2018-11-12 12:35] tareksharbak commented on #3238
I had a similar issue, and in my case, the problem was caused by a memory leak when binding the ExecutionContext. The executions would just take longer and longer to run until they started throwing OutOfMemory exceptions.

My Solution:
Removing the ExecutionContext parameter (it wasn't critical in my solution) solved the memory leak and fixed my problem. I hope it works for you!

[2018-11-12 12:46] mieliespoor commented on #3511
Have a look at #3759 . I'm also on that same version and Visual Studio don't seems to update the cli to the latest version.

[2018-11-12 13:38] mikesitch commented on #3730
Hi,
When will this be available to test? Thanks

[2018-11-12 17:01] safihamid commented on #3730
@mikesitch it should be available within the next week or so. the runtime version of 2.0.12175 or higher will have the fix, thanks!

[2018-11-12 17:41] #3241 closed

[2018-11-12 17:56] joeljeffery opened #3765 "Transfer-Encoding chunked appears to be the default since build 2.0.12161"
#### Investigative information

- Timestamp: 2018-11-12 17:55 GMT
- Function App version (1.0 or 2.0): 2.0.12161, 2.0.12165
- Region: UK South

#### Repro steps

Steps required to reproduce the problem:

Create an HTTP triggered function.
Invoke via Postman, ARC, PowerShell Invoke-RestMethod, custom code, anything.
Review the response headers and body content.

#### Expected behavior

Prior to rel

[2018-11-12 18:12] wiliambuzatto commented on #3539
Thanks a Lot @Amysno and @JohnReeson  !!
Really helped me!

[2018-11-12 18:58] alrod opened #3766 "Key Vault secret repository"

[2018-11-12 20:04] ashokkhurana opened #3767 "Unable to Retrieve the Azure function keys for functions created in version 2.0"
Scenario: We have an Ibiza blade (Iot hUB) )where we are showing a list of all the azure functions in a selected subscription. When selecting the azure function, we are fetching the azure function key. Here is the URI we are using to fetch the key https://myfunctionAppName.scm.azurewebsites.net/api/functions/admin/masterkey

This worked perfectly with the Azure function runtime version 1.0.

But r

[2018-11-12 21:15] MisinformedDNA commented on #586
Why is this not a valid solution?

[code]

See [here](https://github.com/BorisWilhelms/azure-function-dependency-injection) and [here](https://stackoverflow.com/a/52141160/1152054) for more discussion.

[2018-11-12 21:20] elenavoy opened #3768 "Errors when writing to a log file. The process cannot access the file."
When running a function in Azure, the log file gets locked by the process causing the function to throw an exception.

#### Investigative information
- Timestamp: 2018-11-10 00:30:00.003
- Function App version: 2.0
- Invocation ID: AmPPo3jYejo=
- Region: Central US

#### Repro steps
A manually triggered function eventually terminates half way through the execution due to the logger exception below

[2018-11-13 00:02] delradie commented on #563
The uservoice item just says planned. Given the comments about backlogged work (trust me, I understand, I'm currently on refactoring work that's been on our critical list for 2 years) I'm guessing this isn't going to be in the next couple of weeks?

It's unfortunately a huge blocker for us moving away from legacy features. How have other people worked around it?

[2018-11-13 00:51] PureKrome commented on #3759
the _matching_ version?

![image](https://user-images.githubusercontent.com/899878/48383250-1538db80-e739-11e8-8c4c-cb2267d908db.png)

Dialog doesn't have any _version_ mentioned in it?

Just learnt about this and .. same thing here.

This is what my file system looks like AFTER I deleted the `AzureFunctionsTools` folder and then hit `F5` on my function, to start it, which that dialog (above) popp

[2018-11-13 01:28] davidrevoledo commented on #563
@delradie Currently I'm using a webjob and pooling manually from the session as for me ordering is a requirement to process the queue, the problem is that I need to run the code in a serverless fashion with an autoscaling a quite more aggresive than a webjob `scaling out rules` `Consumption plan` would be perfect for me.

[2018-11-13 02:24] AdrianPell commented on #3052
Any update on this issue?  I've just run into it (using Google Ads API), and before I try to roll back to using Functions V1 - which is going to be painful reference-wise - I'd like to see if there's any workaround.

[2018-11-13 07:11] Bomret commented on #3709
Bump

[2018-11-13 07:33] delcon commented on #838
I am going to add the information I found on this topic:

https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package

https://github.com/Azure/azure-functions-pack

https://blogs.msdn.microsoft.com/appserviceteam/2018/02/07/understanding-serverless-cold-start/

[2018-11-13 08:13] mieliespoor commented on #3759
I have renamed the issue to a more appropriate title.

[2018-11-13 08:14] mieliespoor commented on #3511
I'm closing this in favour of #3759

[2018-11-13 08:14] #3511 closed

[2018-11-13 12:03] a-silva commented on #3516
I didn't get a reply but it's been addressed in the latest version of Azure Webjobs and Azure Functions

[2018-11-13 12:03] #3516 closed

[2018-11-13 12:53] MoimHossain commented on #1240
This is still an issue. Reading a lot (here and Stackoverflow) - and applying almost all the suggestions I found didn't make any difference.

It's a c# function (VS developed) and pushed with Azure Pipelines. After some inactive period, the storage queue trigger doesn't work. Login in to the portal solve this within couple of seconds. This is seriously a BUG - which I believe should be properly in

[2018-11-13 12:59] MoimHossain commented on #3493
This is indeed an issue. After some inactive period storage queue triggers do not work anymore. Login into the portal fixes the issues within seconds. I have spent quite sometime now, researching this and applied all the suggestions (forcing trigger sync, adding a sidekick timer function to keep alive, MaxQueuePollingInterval as timespan etc.) - Nothing solves it 100%.

It's blocking our product d

[2018-11-13 13:41] ry8806 commented on #2902
Unsure whether to open a new issue or not.

I'm still seeing this with EF Core 2.1.4

The main issue being identical from this bug: https://github.com/aspnet/EntityFrameworkCore/issues/13145

Using Function Runtime Version: 2.0.12165.0
Function Core Tools: 2.2.32

I've seen the "other" issue which looks related (https://github.com/Azure/azure-functions-core-tools/issues/335) which has been closed,

[2018-11-13 14:13] Meyce commented on #3449
I take it back.  This has been occurring quite a bit.  I just noticed it on some timer jobs.  It turns out the frequency they run at was covering up the fact it was occurring.  Is there any feedback on the issue?

[2018-11-13 15:55] MaximRouiller commented on #2902
@fabiocav Is this related to https://github.com/Azure/azure-functions-core-tools/issues/335 ?

[2018-11-13 15:58] laukotomi opened #3772 "Azure Functions queue scaling"
We have an image processing logic which we would like to use in an Azure Function. The function itself can process one request in 30 seconds, and can process only 3 in parallel, because after that we exceed the 5 minute timeout. So we set the batchSize to 3 and newBatchThreshold to 0 of the queue trigger in host.json. The problem is that Azure stops scaling after starting 6 server instances or doe

[2018-11-13 17:55] fabiocav commented on #3759
For clarity, the function runtime version with the latest CLI release is `2.0.11651.0`
What you're looking for to validate you're running against the latest is the Core Tools version, which is the first output and should be `Azure Functions Core Tools (2.2.32 Commit hash: c5476ae629a0a438d6850e58eae1f5203c896cd6)`

Is that what you see?

/cc @soninaren

[2018-11-13 18:18] f2bo commented on #3768
Not that it helps, but we reported a similar problem a few days ago (https://github.com/Azure/azure-functions-host/issues/3745). Only in our case, the unhandled exception is bringing down the host, not just the function.

[2018-11-13 18:42] cgillum commented on #1240
I strongly suggest opening separate issues for these, and providing as much detail as possible about your setup (deployment mechanism, region, time range, etc.). There are unfortunately lots of possible reasons one might see these symptoms and each one would need to be investigated separately. Creating new issues is the best way to ensure someone on the team investigates promptly (new active issue

[2018-11-13 18:54] ry8806 opened #3773 "EfCore and Azure Functions: *Context violates constraint of TContext"
#### Repro steps

Repro Application: https://github.com/ry8806/AzureFunctionsBug1

Just F5 Run and wait (<30 secs) for the Timer to fire

#### Expected behavior

The ApplicationDbContext is retrieved from DI and able to be accessed by subsequent code.

#### Actual behavior

The application fails with an exception about how the *Context violates the constraint of TContext, when using the service pr

[2018-11-13 19:58] mieliespoor commented on #3759
This is the console output when I just ran it a few minutes ago.

                  %%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@    %%%%%%%%%%%    @@@
     @@      %%%%%%%%%%        @@
       @@         %%%%       @@
         @@      %%%       @@
           @@    %%      @@
                %%
                %

    Hosting environment: Product

[2018-11-13 23:03] fabiocav commented on #3759
My apologies, I misread your version the second time around and gave copied the wrong info. What I initially mentioned is accurate, the version you're running is an old, pre-GA release, hence the message you're seeing. The host version you should see is `2.0.12165.0`, with the CLI version I described.

Curious, does this happen on a newly created project? If so, could you share the project you hav

[2018-11-14 01:57] mhoeger commented on #3449
@Meyce - I'm sorry I didn't get a hold of your app name by invocation ID before it left our system. Could you send me another id? @jsiler, an app name shared directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly) would also be helpful.

[2018-11-14 10:14] JeremyFerreira commented on #3759
I confirm that I got the same problem. I'm running on the same version of the CLI as @mieliespoor and my project is new. I've also tried what your mentioned but no chance.

The only thing I saw AzureFunction related is the `AzureFunctionsVersion` in the `.csproj`.

[2018-11-14 10:59] Fabiest commented on #415
[C#]
For the function class, I'm using a static constructor to initialize a series of objects. I wonder if it is possible to somehow access the execution context in this static constructor? I mean, things like `FunctionAppDirectory` and `FunctionDirectory` should be available at this time, while `InvocationId` and `FunctionName` should not.

[2018-11-14 11:28] sdhamilton6 opened #3774 "HEAD requests via Azure Function Proxy return Content-Length Zero"
#### Investigative information

- Timestamp: 2018-11-14T11:22:28.168z
- Function App version: 2.0.12175.0
- Invocation ID: a4f233c3-18ef-4d97-a59d-4d3e6b728df9 5e324137-e6ba-4ecd-8288-0b79980edd60
- Region: West Europe

#### Repro steps

With a Proxy supporting HEAD and GET with a backend URL;

1. Request GET and note Content-Length.
2. Request HEAD and not zero Content-Length.

#### Expected beha

[2018-11-14 15:35] AndyBensonTSB opened #3775 "V2 Function not scaling for Servicebus trigger"
We have a V2 function app created by VS 2017 (15.9.0) which contains a single function triggered by listening to a servicebus subscription.  For each message read, we are simulating 30 secs of cpu intensive work.  We submitted 250 messages to the servicebus topic.  The messages are read, but only a single function instance is created; ie. no function server instance scaling.  The single instance i

[2018-11-14 16:40] mikesitch commented on #3730
@safihamid Functions runtime has updated to version 2.0.12175 but I'm still getting the same issue?

I've tried a few times today, e.g. "traceId": "49ce056be46c4d1082c8c85f7222291a",

      {
        "source": "forward-request",
        "timestamp": "2018-11-14T16:37:08.3656680Z",
        "elapsed": "00:01:00.1376180",
        "data": {
          "messages": [
            "Error occured while call

[2018-11-14 17:23] AdrianPell commented on #3052
As a workaround, it's possible to put a local copy of the appropriate System.Net.Http.WinHttpHandler.dll file in the functions directory, and add the following to the csproj file:
[code]

[2018-11-14 17:24] safihamid commented on #3730
@mikesitch hmm it should have the fix. did you make PUT request to a url which ends with /NOT+FOUND? if yes, how long does it usually take to complete?

[2018-11-14 17:50] fabiocav commented on #3730
This fix has not been released yet (it wasn't part of the last release payload). The release containing this fix should start this week. We'll have an announcement [here](https://github.com/Azure/app-service-announcements/issues) and will have the details in the release notes [here](https://github.com/Azure/azure-functions-host/releases)

[2018-11-14 18:10] JacquesCC commented on #3775
I noticed a similar issue where my functions wont scale past a single instance but did scale to 150+ instances a week prior. My workaround was to force my runtime to the following version: 2.0.12134

I was on 2.0.12165 and have the same issue on 2.0.12161

From: AndyBensonTSB <notifications@github.com>
Sent: Wednesday, 14 November 2018 17:36
To: Azure/azure-functions-host <azure-functions-host@nor

[2018-11-14 18:54] circuitrider commented on #33
Yeah this is absolutely not working in Functions V2 yet. Identity is still null :(

[2018-11-14 19:18] fabiocav commented on #3775
@mhoeger can you triage/assign this for investigation? based on a recent regression, this may also be related to Easy Auth.

[2018-11-14 19:20] fabiocav commented on #3774
@safihamid @vfedonkin can you take an initial look at this?

[2018-11-14 19:29] fabiocav commented on #3772
@mathewc for investigation

[2018-11-14 19:34] fabiocav commented on #3768
Closing this as a duplicate of #3745 . Please follow that issue for updates.

[2018-11-14 19:36] fabiocav commented on #3767
Closing this as there was a direct follow up.

[2018-11-14 19:36] #3767 closed

[2018-11-14 19:39] fabiocav commented on #3765
@alrod can you verify if this is caused by an ANCM change?

[2018-11-14 19:41] fabiocav commented on #3763
@pragnagopa did you have a chance to review/triage this?

[2018-11-14 19:43] fabiocav commented on #3733
Our schema needs to be updated. Leaving this open to track the work

[2018-11-14 19:50] fabiocav commented on #3751
@alrod is this related to the client disconnect scenario/behavior with ANCM?

[2018-11-14 19:54] fabiocav commented on #3734
Resolved by #3750

[2018-11-14 19:54] #3734 closed

[2018-11-14 20:00] vfedonkin commented on #3774
I think it's proxy who sets it to 0. Will investigate and fix it.

[2018-11-14 20:01] fabiocav commented on #2463
This seems to be resolved. Closing again.

[2018-11-14 20:01] #2463 closed

[2018-11-14 21:20] mikesitch commented on #3730
OK thanks.

[2018-11-14 21:20] fabiocav commented on #3556
Did you manage to finish this? Should this be closed?

[2018-11-14 21:35] pragnagopa opened #3776 "Start java language worker in placeholder mode"
Tracking issue to warm up java language worker when using placeholders

[2018-11-15 03:15] #3052 closed

[2018-11-15 08:33] forki opened #3781 "Host thresholds exceeded: [Connections]"
Since a couple of days my function app is crashing after a while.

Error:

The function runtime is unable to start. Microsoft.Azure.WebJobs.Script.WebHost: Host thresholds exceeded: [Connections]. For more information, see https://aka.ms/functions-thresholds.
Session Id: 6db3b79aa6f24b22aa73895db2f87c04

Timestamp: 2018-11-15T08:26:33.200Z

I don't see that I have too many connections anywhere in

[2018-11-15 08:48] forki commented on #3781
all functions in that app look like the following:

![image](https://user-images.githubusercontent.com/57396/48540822-75f02180-e8bb-11e8-97d4-81db3a600dcf.png)

so we have one connection to Redis and one connection to Azure Storage

[2018-11-15 08:51] forki commented on #3171
ping

[2018-11-15 09:33] AndyBensonTSB commented on #3775
Many thanks @JacquesCC
Changed the runtime to 2.0.12134.0 and scaling worked immediately.

[2018-11-15 10:29] forki commented on #3781
I moved some of the functions in that app to new functionapp ecarstats in order to see which half of the functions has that problem

[2018-11-15 10:38] holgerleichsenring commented on #33
I have to confess, I do not like the approach to ClaimsIdentity injected into the function. I do use dependency injection via [AutofacOnFunctions](http://codingsoul.de/2018/09/24/autofaconfunctions-version-1-released/) . Most probably, the instance of ClaimsPrincipal is going to used somewhere else, maybe even in an attribute to reject unwanted calls to the azure function at all. Is the claimsprin

[2018-11-15 11:06] Kazpers commented on #3568
Thank you @rhythmnewt This "solved" it for me too, so we can at least keep dev process going until a proper fix arrives 👍

[2018-11-15 12:57] synercoder commented on #3751
## Update
The IOExceptions have disappeared. They have become exceptions of type: 'System.Runtime.InteropServices.COMException' with message: `Exception while executing function: Upload Exception binding parameter 'request' The client has disconnected An operation was attempted on a nonexistent network connection. (Exception from HRESULT: 0x800704CD)`

[code]

[2018-11-15 12:59] synercoder commented on #3751
This would indeed suggest that the connection was closed on the client side before the call was completed. Am I correct in this?

[2018-11-15 17:09] fabiocav commented on #3759
@JeremyFerreira can you answer the same questions asked above and perhaps share your project?

[2018-11-15 17:19] fabiocav commented on #3759
Also, it would be very helpful if you can capture a Fiddler trace during the VS debug launch. That would help identify any issues communicating with the endpoints we use to update/download the tools.

[2018-11-15 17:49] mayoatbm commented on #3775
@fabiocav

I didn't want to create another issue (happy to if you want), but i can confirm that this is happening to queue triggered functions as well and that the runtime downgrade mentioned by @JacquesCC  (thanks) fixes it

Our function that generates and processes  2+ million queue messages did not scale past a single instance since i kicked things off last night.

![image](https://user-images.

[2018-11-15 17:55] fabiocav commented on #3775
Curious, if you remove the version downgrade/pinning, do you see the issue resurfaced? The fact that it started working may have less to do with the actual target version, but more with what happens when you make that change. Trying to get clarity on that.

[2018-11-15 18:31] fabiocav commented on #415
@Fabiest currently, that is not possible/supported. We have some DI changes landing soon, and we could consider passing that information into an _instance_ constructor with that model.

[2018-11-15 18:50] mayoatbm commented on #3775
@fabiocav

Alrighty. The last instance stopped and i restarted the function app (extension version ~2) and now it seems to be scaling past one instance (8 instances with 84k messages in the queue).

![image](https://user-images.githubusercontent.com/29760620/48574448-d3dd3300-e8d4-11e8-9356-5fc260d8c42b.png)

[2018-11-15 18:51] mayoatbm commented on #3775
Also. @AndyBensonTSB i just realized i'm monopolizing your thread. Apologies. Happy to move the discussion elswhere if you or @fabiocav  prefer.

[2018-11-15 18:57] mhoeger commented on #3775
@mayoatbm - could you share your function app name, either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)? This will help us figure out if you guys are seeing the same issue. Thanks!

[2018-11-15 19:03] mayoatbm commented on #3775
@mhoeger

Sure...doing the partial share thing...

- Subscription: 22ce...594d
- App Name: bn...ator

[2018-11-15 19:22] ConnorMcMahon commented on #33
@holgerleichsenring can you give me an example of the use cases you would expect to be able to use the ClaimsPrincipal for? I took a look at AutofacOnFunctions, and am unclear how that could utilize the ClaimsPrincipal.

[2018-11-15 19:38] ConnorMcMahon commented on #33
Also, it looks like the last few updates of the functions runtime have been hotfixes. I don't think the change has gone out yet.

[2018-11-15 19:39] pragnagopa commented on #3763
Following needs to be updated to not append defaultWorkerPath but replace the value
https://github.com/Azure/azure-functions-host/blob/4f6c0e9090b8ca0609e2fe7ffcb688127f0c3a9e/src/WebJobs.Script/Rpc/ProcessManagement/DefaultWorkerProcessFactory.cs#L35

This will give the ability to customize ordering for arguments passed to language worker process

Sample upsates to node worker.config.json
[code]

[2018-11-15 21:14] mieliespoor commented on #3759
@fabiocav I have now created this project and am seeing the same behaviour. Don't however think it will happen your side. I have also captured a trace in Fiddler and will edit this post with a link to the file as soon as I uploaded it to Onedrive. I can also share my main project privately if needed.
[FunctionApp.zip](https://github.com/Azure/azure-functions-host/files/2587065/FunctionApp.zip)

[2018-11-15 22:04] soninaren commented on #3759
@mieliespoor , Would it also be possible to start and capture fiddler trace from Step 5 through Steps 8 below. This is when VS is forced to connect to endpoints and download the latest CLI.

Steps:
1.	Make sure the Azure Functions and Web Jobs Tools version is 15.10.2046.
2.	Close all instances of VS
3.	Open %localappdata%\AzureFunctionsTools
4.	Rename %localappdata%\AzureFunctionsTools to AzureFu

[2018-11-15 22:06] mhoeger commented on #3775
Thanks for sharing and confirming that the restart mitigated the scaling issue @mayoatbm

@AndyBensonTSB and mayoatbm - from our logs, we do think that your issues have the same root cause.

cc: @tohling who is also investigating

[2018-11-15 23:03] mieliespoor commented on #3759
I have done that all.

(There was a typo though... %localappdata%.templateengine ==> %userprofile%\.templateengine)

I do think I clicked on OK too fast as the `Making sure all templates are up to date...` was still showing.

I do however think that the download from `https://functionscdn.azureedge.net/public/2.2.32/Azure.Functions.Cli.win-x86.2.2.32.zip` was taking too long when starting the proj

[2018-11-15 23:05] fabiocav commented on #3759
@soninaren you had the set of instructions for the manual extraction documented, right? Can you please share that?

[2018-11-15 23:29] #3541 closed

[2018-11-15 23:30] mhoeger commented on #3775
We've identified the problem as an edge-case bug.

**Symptoms:**
A function app may not scale beyond one instance when it should (on heavy incoming load). As a note, the function app will currently auto-heal if experiencing this issue, _but_ only if load is high enough to scale out > 1 hour after a function app instance spins up.

**Mitigation:**
Any of the following actions will mitigate this iss

[2018-11-16 00:59] fabiocav commented on #3171
Apologies for the delay on this! This is on my radar, but it has unfortunately been slipping. I'm bumping the priority on this to have it dona ASAP.

[2018-11-16 01:15] mayoatbm commented on #3775
@mhoeger

Thanks a ton for the the updates and info re: mitigation. We're at 200+ instances right now (across a few  function apps) so i'd say we're scaling out well since this cropped up.

We appreciate you guys looking into it so quickly, we'll keep an eye out for the complete fix.

Btw, any thoughts on the odd behavior i mentioned to @fabiocav  above (instance that kept running for 20+ minutes

[2018-11-16 01:18] mhoeger commented on #3775
@mayoatbm - expected behavior :) we keep an instance warm for ~20 minutes after the last execution to minimize cold start

[2018-11-16 01:38] mhoeger commented on #3775
@mayoatbm - sorry, if you manually stopped your app that actually isn't expected behavior... my bad! We'll take a look

[2018-11-16 02:06] fabiocav commented on #3568
We rely on the build and move all dependencies and runtime specific dependencies to the output. I'll spend some time investigating this to see if this is truly a runtime/build issue on our side, but in the meantime, the documented workaround seems to be the recommended solution.

[2018-11-16 07:40] holgerleichsenring commented on #33
@ConnorMcMahon: Imagine an "AuthorizationManager" that wants to retrieve the ClaimsPrincipal instance to determine if a certain Azure Function is allowed to execute. This would be doable via another extension (like AutofacOnFunctions is implemented) or via a service that is going to be injected by the [Inject] attribute. The objective of dependency injection here is keeping everything out of the A

[2018-11-16 08:20] JohnReeson opened #3786 "[V2] Plus sign in route cause 404"
#### Repro steps

On Azure portal, create a v2 http trigger, set route template with parameter e.g. `test/{testRouteParameter}`.

Visit function url with plus sign `+` in route, like `<host>/api/test/testRoute+1`,see

    The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.

#### Known workarounds

Locally both v1 and v2 work perfectly. And on Azu

[2018-11-16 13:59] kapilmehtagit commented on #3721
Yes, I have tried to upgrade to 2.0 (.net core) runtime, but have a number of dependencies that are not yet ported to .net core such as OfficeDevPnP.Core, just looks like this is not an option at this stage. I believe the work is in progress to port the assembly, but in the meantime it will need to be the 1.x runtime.

[2018-11-16 16:10] Lxiamail commented on #3568
@fabiocav this "We rely on the build and move all dependencies and runtime specific dependencies to the output." may be the problem. As I stated early, WCF Core packages build time dependencies are all reference assemblies, and runtime dependencies are facades assemblies. The facades assemblies don't have any implementation, they type forward to system.private.servicemodel.dll, which contains actu

[2018-11-16 17:16] mattchenderson opened #3788 "Add global HTTP header rules"
It might be nice to have host config that applies to responses for all HTTP endpoints. For example, while I can set headers from code for things like `X-Content-Type-Options: nosniff`, it would be nice to just define this once. This could be as simple as a quick dictionary in host.json.

[2018-11-16 17:19] fabiocav commented on #33
@holgerleichsenring the scenario you're describing, not too dissimilar to the way ASP.NET handles similar concerns, would be better handled by our [filters feature](https://github.com/Azure/azure-webjobs-sdk/wiki/Function-Filters), which is something that is currently in preview (one of the reasons for that is the fact that some of the functionality to cleanly support what you're describing is not

[2018-11-16 17:29] jnevins-gcm commented on #33
The filters feature would really need to be adjusted to support these scenarios...scoping limitations make filters very hard to use for anything with IoC

- be resolved per invocation, not globally

- potentially fix the threading bugs in DryIoc (webjobs creates a function invocation IServiceScope, but the implementation of resolving IServiceProviders in dryioc is bugged - it relies on ThreadId to

[2018-11-16 17:35] fabiocav commented on #33
@jnevins-gcm indeed. Those are some of the reasons why the feature hasn't been released yet, though, #2 above is orthogonal. WebJobs doesn't create a service scope today (or uses DryIoc), that's all in the Functions runtime. We're tracking some improvements to that, but if you can open an issue and share more information about the problems you're running into related to that, it would be great to

[2018-11-16 21:06] fabiocav commented on #3568
That would indeed be problematic. The functions are expected to deploy any dependency not expected to be brought in by .NET Core Azure Functions Host, and that is one of them.
I'm tracking some enhancements that would help with this, in functions, but this would be a general issue for customers who expect to have what they're building dynamically loaded by a host environment that does not have a d

[2018-11-16 23:48] jnevins-gcm commented on #33
fair - where do you want me to open it? functions repo?

problem is having a ThreadScopeContext in asynchronous code

https://github.com/Azure/azure-functions-host/blob/73bcc8eb43504e6f7ae8474b311264b5ebf4f724/src/WebJobs.Script.WebHost/DependencyInjection/DryIoc/Container.cs#L7973

[2018-11-16 23:53] fabiocav commented on #33
This repo (host) is fine.

Do you know if there's an issue tracking this with DryIoc? It would be nice to contribute back if fixed.

Thanks!

[2018-11-17 01:51] irakliy81 opened #3790 "Incorrect IP addreses in x-forwarded-for header for IPv6 addresses"
- Function App version: 2.0
- Function App language: Node.js

I am relying on `x-forwarded-for` header to determine IP address of an HTTP request, and it works very well for IPv4 addresses. However, when I make a request from a device with an IPv6 address, the information in the header is wrong. Specifically, instead of containing my IPv6 address, it contains some other IPv4 address.

[2018-11-17 03:33] jnevins-gcm opened #3792 "Make DryIoc Container resolve current scope’s IServiceProvider correctly"
Because DryIoc only leverages the thread id to identify the “current” scope, it can’t be used reliably in a function (which is asynchronous)

https://github.com/Azure/azure-functions-host/blob/73bcc8eb43504e6f7ae8474b311264b5ebf4f724/src/WebJobs.Script.WebHost/DependencyInjection/DryIoc/Container.cs#L7973

The current scope should probably be an AsyncLocal stack.

[2018-11-17 08:20] oluwaseunladeinde commented on #1394
Hello everyone, I am having a situation trying to setup my Power BI Embed function to generate my code.

project.json

`{
  "frameworks": {
    "net46":{
      "dependencies": {
        "Microsoft.IdentityModel.Clients.ActiveDirectory": "3.19.4",
        "Microsoft.PowerBI.Api": "2.0.12"
      }
    }
   }
}`

run.csx

`#r "System.Web.Extensions"
using System.Configuration;
using System.Net;
using

[2018-11-18 15:38] debartsa commented on #415
Is it possible to access the TraceWriter object for logging within an function of type ActivityTrigger?

If not possible, can you consider using via DI for this object also?

Thank you

[2018-11-18 21:49] ChristianWeyer opened #3793 "Azure Functions Proxies running locally giving 500s all the time - works in the Cloud"
My setup:

- macOS 10.13.6
- VS Code Version 1.28.2
- Azure Functions Core Tools (2.2.70 Commit hash: 1f1f77a71c5517b00401aa0ebf00a4f16857a94c)
- Function Runtime Version: 2.0.12175.0

I have a `proxies.json` file like this:
[code]
Calling the SPA at / works fine  - locally and in Azure.

However, trying to run the function app locally and calling any of the APIs like `/api/status/ping`, I get a 5

[2018-11-18 22:45] safihamid commented on #3793
Do you have the WEBSITE_HOSTNAME app setting defined locally?

[2018-11-19 09:46] ChristianWeyer commented on #3793
I do not have it in my local.settings.json.
When I add it, this error shows up:
[code]

Thanks.

[2018-11-19 09:58] bbramsted commented on #3759
I have the same issue. I clean the template and tools folders, create a new project, and after F5 the CLI is the older version. The tools folder and project is identical to @mieliespoor

[2018-11-19 11:51] ChristianWeyer commented on #3793
Small update - just added a `Startup.cs` class:
[code]
When running locally the output looks like this:
[code]

[2018-11-19 12:46] ChristianWeyer commented on #3793
This worked - thanks!

Did I miss anything obvious in the official docs wrt to this?

[2018-11-19 13:09] safihamid commented on #3793
So was this working fine for you in V1? What’s the value of that app setting for you in V1? Was it just 127.0.0.1? Also which doc were you looking at? We will probably need to update something here if it’s confusing...

[2018-11-19 13:29] safihamid commented on #3793
@vfedonkin we will need to update proxy code where we determine if it’s local call or not.
And ideally update one of the CI tests to have this app setting rather than localhost.

[2018-11-19 13:31] ChristianWeyer commented on #3793
Hm - I think this worked in V1. Sorry, I do not have a v1 function app to test right now.

The docs I was reading are here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies

... and yes: WEBSITE_HOSTNAME is not mentioned there.
Seems like my sample code and all the Google-able samples are wrong ;-)

Thanks a ton for your help.

[2018-11-19 14:13] ChristianWeyer commented on #3793
Interestingly, if I use the proxies on a node.js application I get this:

`Infinite loop detected when trying to call a local function or proxy from a proxy.`

This is the proxies config:
[code]

Above error happens when e.g. calling
`http://localhost:7071/.well-known/acme-challenge/AH4hh8_whatever`

[2018-11-19 15:01] dantheman999301 opened #3794 "HttpTrigger (input) giving 502s when Always On enabled (Azure Functions V2)"
We are currently using Azure Functions V2 in a dedicated app service plan. It has an HttpTrigger for input.

We noticed that when we have Always On switched on, we get quite a lot of 502 errors when the function is under load. Whilst that in of itself is annoying, what is even more weird is that the function appears to have been run anyway. The function we are using output onto a Service Bus Queue

[2018-11-19 17:04] petrce commented on #33
In Function Runtime Version: 2.0.12175.0 still same error as @idg10 describes
Very excited for release :)

[2018-11-19 17:11] csheets opened #3795 "Unable to run Durable Functions with Azure Storage Emulator v5.8"
I was successfully running Durable Functions for a few weeks but now all of a sudden I am not able to run them and am getting the following output.  Not sure what has changed -- any pointers on what to look at would be most appreciated.  I have also included a related stacktrace below.

[code]

The following is a stacktrace that is being thrown:

[code]

[2018-11-19 17:12] fabiocav commented on #3795
Moving this to host repo for triage and assignment

[2018-11-19 17:37] fabiocav commented on #3759
@soninaren , can you please share the manual mitigation steps for this issue?

We're investigating this and have identified a couple of issues potentially causing this. Will keep the incident updated as we make progress.

[2018-11-19 20:35] ahmelsayed opened #3796 "Log files in dedicated linux are not written under /home/LogFiles/"
With this change 35cf323fa3464a08b410a518bcab006e801301fe the log path for the file logging changed from `/home/LogFiles/Application/Functions/....` to `FUNCTIONS_LOGS_MOUNT_PATH` which is somewhere under `/var` and isn't accessible from Kudu container.

The UI relies on Kudu for log streaming for dedicated linux scenarios and that goes directly after the `/home/LogFiles/Application/Functions/Func

[2018-11-19 23:09] cgillum commented on #2636
FYI: We have a customer seeing a similar issue here: https://github.com/Azure/azure-functions-durable-extension/issues/512

[2018-11-19 23:53] mathewc opened #3797 "Consume/Monitor new Sandbox counters/limits"
There are a few new sandbox counters being added that we should monitor as part of the [HostHealthMonitor](https://github.com/Azure/azure-functions-host/wiki/Host-Health-Monitor) logic we have.

1) **remoteDirMonitors/remoteDirMonitorLimit** - counts number of open remote file watch handles. See RD 14164441. Targeted for ANT 79.

2) **activeConnections/activeConnectionLimit** - counts the number o

[2018-11-20 03:31] ghills commented on #2636
Beyond the issue described in Azure/azure-functions-durable-extension#512, I think I saw it happen again today in a slightly different way.

I deployed updated code via web deploy to a pre-compiled c# function app. The deployment output showed the expected dll & pdb update being pushed and a new json file being uploaded for an added function. However, while trying to test out the new functionality

[2018-11-20 14:34] EricJizbaMSFT opened #3800 "Failed to create Linux Consumption function app in region "West US""
I used to be able to create a Linux Consumption function app using VS Code, but sometime in the past few days it changed. Now I get an error even with location "West US". It also reproduces in the portal:

#### Repro steps

1. Follow this link to the portal: http://aka.ms/functions-consumptionlinux-portal
1. Create new Function App with the following settings:
<img width="261" alt="screen shot 201

[2018-11-20 16:07] maiqbal11 commented on #3721
The `maxPollingInterval` format for 1.x should actually be an integer rather than `hh:mm:ss`. This is noted here in1.x docs: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json-v1#queues. Does changing it to integer make a difference?

[2018-11-20 16:36] russgove opened #9290 "Routing fails if parameters contains slash"
Hi,
I see this was reported a while back and resolved, but i cannot find the resolution.

I need to be able to pass slashes in the final segment of my route:

i.e for a department called 'A/P'for  i want to be able

https://somefunction/api/departments/A%2FP

I set up my route like this:
Route = "departments/{dept}"

it works fine if there are no slashes (encoded as %2F) in the department, but if

[2018-11-20 16:55] maryammadzadeh commented on #33
Couldn't we just add an azure access token (which should have the roles defined) to the header and just manually decode the token to get the role?

[2018-11-20 19:33] ahmelsayed commented on #3800
This should be fixed now.

[2018-11-20 19:33] #3800 closed

[2018-11-20 20:43] soninaren commented on #3759
@mieliespoor and @bbramsted I have put together an automated script to download the place the relevant artifacts in the correct location. Please find the relevant instructions in this [wiki page](
https://github.com/Azure/azure-functions-tooling-feed/wiki/Fixing-Azure-Function-Core-Tools-download-issues-for-Visual-Studio#execute-an-automated-script).

[2018-11-20 23:04] mieliespoor commented on #3759
Thanks @soninaren . I ran the script and made some progress. It seems that %userprofile%.templateengine still doesn't properly update and that pulls in the older project and item templates. This is what I see:
![image](https://user-images.githubusercontent.com/5008243/48808272-3f316580-ed18-11e8-9639-76fa585bbac3.png)
![image](https://user-images.githubusercontent.com/5008243/48808302-55d7bc80-ed1

[2018-11-20 23:04] bbramsted commented on #3759
@soninaren I tried to run the script, and it downloads the release cli and the AzureFunctionsTools folder looks fine.

I then start VS and open the new project dialog. Now it starts checking for updated templates, and begins to download. This takes ages. It loads the v2 preview templates quickly, and then there is a long period with no network activity and then at some point v1 comes down, and the

[2018-11-20 23:05] bbramsted commented on #3759
@mieliespoor beat me by 15 seconds....

[2018-11-20 23:12] mieliespoor commented on #3759
I should also add. I did all the updated in the packages and made sure that it is inline with the newest project templates, hit F5 and it was still using the old cli version as in the earlier comments. I then deleted the
AppData\Local\AzureFunctionsTools\Releases\2.0.1-beta.24 and also 2.0.1-beta.25 folders to think it will force VS to use the latest cli tooling, but it copied the 2.0.1-beta.25 fo

[2018-11-20 23:13] soninaren commented on #3759
@mieliespoor, the script actually cleans .templateengine up towards the end. I am guessing your PC didn't get to that part. Can you may be try running it again. After running the script it should take only a couple of seconds for the "updating" prompt to finish.
Also i have added a section in the wiki to manually do what script does as well.
https://github.com/Azure/azure-functions-tooling-feed/wi

[2018-11-20 23:17] mieliespoor commented on #3759
@soninaren yes sorry, I see now the script deletes that folder. I saw the message "Deleting template cache ...Done", but wasn't sure what was deleted. I looked at the script now and saw it will delete that folder.

This remains a mystery.

[2018-11-21 00:33] soninaren commented on #3759
@mieliespoor the .templateengine is created by dotnet using the nuget packages on local machine. You can safely delete it. You wouldn't have to go through the lengthy. "Making sure your are up to date" prompt. Reopening the VS would re-generate it quickly and hopefully you should see the new templates.

@bbramsted, I have uploaded the latest copy of AzureFunctionsTools directory so that VS would n

[2018-11-21 00:52] fabiocav commented on #3568
It loads transient dependencies in isolation as well. There are some enhancements I'm working on that may actually help with this issue. I'm running some tests now to validate.

[2018-11-21 04:32] zmarty opened #3804 "Cannot write to $web container using BlobPath dynamic binding - Static website hosting"
Azure Functions version: 2.x

Azure Storage now supports hosting static websites in a special Azure container name called **$web**: https://azure.microsoft.com/en-us/blog/azure-storage-static-web-hosting-public-preview/

Up until now, the **$** character was not allowed in container names. However, this preview feature breaks this previous assumption, since their container name has a dollar sign.

[2018-11-21 04:43] zmarty commented on #3804
Temporary workaround:
[code]

[2018-11-21 09:22] bbramsted commented on #3759
@soninaren Yes, that did the trick, after a bit of fiddling.

First I replaced the AzureFunctionTools folder with the zip file and removed the .templateengine directory. The new project dialog showed just a single project (Empty) and when I tried to use it, gave an error.

Running the script then gave an error:
https://www.nuget.org/api/v2/package/Microsoft.Azure.WebJobs.ItemTemplates/2.0.10321
Sy

[2018-11-21 09:56] soninaren commented on #3759
@bbramsted sorry you had to go through lot of trouble for just getting the latest core tools. We actually just updated the latest core tools and significantly reduced the download size of Core tools for VS. That should prevent the issue from happening again. For the 404 on script, we also update the source for the templates NuGet packages. Script needs a small update for that. I am going to update

[2018-11-21 09:57] soninaren commented on #3759
Going to close this issue. Please re-open in case you experience the same issue again.

[2018-11-21 11:38] KieranDaviesV opened #3805 "(0xE0434352 - CLR Exception) function internal server error"
#### Investigative information

Please provide the following:

- Timestamp: 11am
- Function App version (1.0 or 2.0): 2
- Function App name: cspInternal
- Function name(s) (as appropriate): newCustomer
- Invocation ID:
- Region: Europe

Im getting this over multiple function apps

I also have logged this previously and was told it was fixed but it seems to be an ongoing issue

#### Repro steps

Pr

[2018-11-21 12:52] DimaGershman commented on #1986
Thanks! It took a while to figure out that something like that I going on there ;)

Regarding

Another temporary workaround could be writing to blob storage explicitly, without the `Binder`, before creating queue message..

Something like:
[code]

[2018-11-21 16:52] gaikovoi commented on #3386
FYI. With .NET Core 2.1 target, build with the latest VS 2017  **doesn't produce** proper extensions.json (no "Startup" entry). At the same time, "dotnet build" executed from Ubuntu environment (on the same Windows 10 machine) against the same project folder **produces** proper extensions.json.

[2018-11-21 18:23] rikvandenberg commented on #2011
Duplicate #2874 ?

[2018-11-21 18:36] rikvandenberg commented on #2874
@alexkarcher-msft Do you have any update on this?

We have several planned upgrades for our current Azure Functions which are all still running V1. Through the openAPI endpoint we have a powershell script to automatically import the open API specification into an APIM instance using the Azure APIM REST API.

This is blocking our upgrade path for several azure functions as we now have to create an

[2018-11-21 19:35] mieliespoor commented on #3759
Thanks @soninaren . I downloaded the AzureFunctionsTools.zip and all started to work. Thank you everyone who assisted in resolving this!

[2018-11-21 19:38] jeffhollan opened #3806 "Increase default sampling limits"
We have discussed this before but given the number of CRIs we get where people are missing traces from app insights sampling we should look at increasing the default minimum.  I believe right now it's 5 logs a second?  I think even 50 logs a second is ok for a minimum.  Anyway not sure on number does result in a  of some noisy support tickets.

/cc @paulbatum @brettsam

[2018-11-21 23:41] paulbatum commented on #3806
My suggestion is that we up this to 20 per second. This is already a potential 4x increase in the default amount of data we send.

[2018-11-22 00:37] paulbatum commented on #2636
@ghills You mentioned that issuing a restart did not resolve this, but when did you issue the restart? The reason I ask is that I'm looking at our logs and I can't see your process ID changing during this sequence, and a restart should absolutely result in a new process ID.

In general I'm having trouble matching the timestamps in my logs up with your timeline. What I see roughly (all times UTC):

[2018-11-22 01:07] soninaren commented on #3759
Just in case anyone is still seeing this, I have updated the PowerShell Script to download and generate all VS related metadata. After running the script VS should skip `Making sure all templates are up to date...` prompt as it would have the latest Core tools and templates downloaded already.
https://github.com/Azure/azure-functions-tooling-feed/releases/download/2.11.1/GetCoreToolsForVS.ps1

[2018-11-22 01:12] PureKrome commented on #3759
@soninaren Ok - I'm a bit confused still.

- Is this problem happening across the board for all people?
- Is this a problem only for a small subset of people .. whom .. might have a _particular_ version of <something> installed?

Basically, I'm worried that I need to download a ps script and run it to fix the issue... which means only a few people might stumble on this GH thread and fix their prob

[2018-11-22 01:30] PureKrome commented on #3759
Ok.

Ok - so how does the issue auto resolve? meaning ... is this is place the issue _should_ resolve ... and if we're still getting errors, it means it _didn't_ resolve and we need to use the script to clean up?

![](https://user-images.githubusercontent.com/8119379/48584593-fffdb180-e8de-11e8-8552-c566e521d7a2.png)

[2018-11-22 01:48] soninaren commented on #3759
Auto Resolve meaning, if you are not able to get the latest Core Tools version through VS. For some reason you are stuck at the above screen. then you can run the script to get the latest version of Core Tools. It essentially does the same thing VS does. It looks for the latest version of Core tools and related artifacts and downloads it for you.

[2018-11-22 01:52] soninaren commented on #3759
Auto resolve meaning we have reduced the download size and update the NuGet source for templates for better reliability. Have pushed an update with the above changes so Core tools should download more consistently for users.

[2018-11-22 02:37] soninaren commented on #3759
Yes.

[2018-11-22 04:38] ghills commented on #2636
@paulbatum
Sorry about the time discrepancies - apparently I was looking at another deployment from later in the day when I transcribed the times. Here are the corrected times (based on the duration reported by AppVeyor, unfortunately just to the minute accuracy):

Times in UTC
**first deployment**
start: 2018-11-19 17:57
duration: 26 seconds

**second deployment** (no changes to files)
start: 201

[2018-11-22 04:39] cbfrank commented on #3784
accroding to the document [https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-dotnet](url), there is a tip:

It seems Microsoft.Azure.WebJobs.Host.Storage(3.0.0) still use WindowsAzure.Storage not the Microsoft.Azure.Storage.Common package.

[2018-11-22 12:38] oatsoda opened #3809 "New Azure Function v2 - Azure Functions Runtime is unreachable"
I've deployed a brand new Azure Function v2 but immediately I get the error:

I've checked and the Storage account has had the File share created and if I deploy to the Function App, the deployed data appears in the File share in the storage account - so I believe that it is connecting fine.

#### Investigative information

- Timestamp: 2018-11-22T12:28:25.096Z
- Function App version: 2.0
- Functi

[2018-11-22 12:44] oatsoda commented on #3809
I've tried creating a new one through the Azure Portal without deploying and it exhibits the same issue.

I also noticed that if I try to access the App Service Editor or Advanced (Kudu) Tools I get:

Could this be a problem with my subscription?

[2018-11-22 12:51] oatsoda commented on #3809
OK, it turned out I wasn't a Subscription Owner, so I didn't have the correct permission.

[2018-11-22 12:51] #3809 closed

[2018-11-22 16:31] martypants commented on #691
After about 24 hours hosted on an always on plan it started to stay alive and has been working successfully for me. albeit, a little more costly but it does work which is my main objective.

[2018-11-23 09:10] kapilmehtagit commented on #3721
Thanks, I have redeployed with the host.json as below. I will test the outcome over the next few days.

`{
  "queues": {
    //The maximum interval between queue polls.
    "maxPollingInterval": 2000,
    // The visibility timeout that will be applied to messages that fail processing
    // (i.e. the time interval between retries). The default is zero.
    "visibilityTimeout": "00:00:30",
    // T

[2018-11-23 15:45] lonesomegeek commented on #3745
Having the exact same issue randomly while having more load on the functions. As a workaround, can I limit the use the logging methods within the functions until a fix is provided?

[2018-11-23 15:55] lonesomegeek commented on #3745
We have found something that may be useful for further analysis.

We just went live a few days ago on a project with an architecture of Azure Servicebus with Azure Functions. Within our beta test, we were often taking a look at Log Streamers (within Azure Functions) and if I correlate the quantity of errors and the timeframe of the errors, these errors are mostly related to our beta phase when we

[2018-11-23 15:57] jeromekol commented on #3731
We got the same issue

[2018-11-25 07:45] priyaananthasankar opened #3835 "Event Grid Trigger not working"
Event Grid Trigger does not work, crashes when `func host start` command is issued:

Logs:

Azure Functions Core Tools (2.0.3)
Function Runtime Version: 2.0.12115.0
: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using '/Users/prananth/.aspnet/DataProtection-Keys' as key repository; keys will not be encrypted at rest.
info: Host.General[0]

[2018-11-25 19:59] peterwain commented on #3747
We're in the middle of our first Functions v2 project, and have just bumped into this issue.

Our previous projects have been based in v1 and we've become accustomed to seeing all the telemetry relevant to a request being nicely arranged together within the App Insights End-to-end transaction view. As this issue outlines, this is not currently the behavior under v2, and we end up with two clusteri

[2018-11-26 00:03] myusrn commented on #33
Found this issue after banging my head for a while trying to figure out why my azure function EasyAuth setup of aad application security wasn't surfacing a non-null instance of Thread.CurrentPrincipal within my functions.

My take away from the 02/25/16 to 11/20/18 issue exchange above is that I can expect Thread.CurrentPrincipal to be present in case of functions v1 setup where EasyAuth is enable

[2018-11-26 03:46] myusrn opened #3810 "vs17 attach debugger for v2"
vs17 | cloud explorer | subscrtion | app services | azure function v2.0.12180.0 / .net core 2.1.0 with nuget microsoft.net.sdk.functions (1.0.6 upgraded to 1.0.24) | attach debugger doesn't throw any errors but breakpoints in source code say "The breakpoint will not currently be hit. No symbols have been loaded for this document." and as you might expect it doesn't stop on breakpoints.

I'm publis

[2018-11-26 13:53] vRITHNER opened #3811 "test_data empty but shoulnd't"
hi,
I published some Azure Functions on different endpoint (dev and stage);
to create a console web page to call dynamically my functions, my goal is to use the binding info from the json result.
Sadly, the json is not the same between the 2 endpoints.
In my first endpoint, I can see ex:
`  "test_data": "{\"method\":\"post\",\"body\":\"{ \\\"liveEventName\\\":\\\"SRF1\\\"}\",\"queryStringParams\":

[2018-11-26 14:15] #3811 closed

[2018-11-26 14:16] vRITHNER commented on #3811
I think I know what is happening, I understand test_data are the one manually entered in the function portal.

[2018-11-26 17:51] paulbatum opened #3812 "Warning about async void functions does not have function name in logs"
Found some log entries in our system logs that have a message that looks like this:
`Function 'RunAsync' is async but does not return a Task. Your function may not run correctly.`

There are two problems:
1. RunAsync is the method name, not the function name. So the log message needs to include the actual function name.
2. The FunctionName column is not populated.

We need this information to be a

[2018-11-26 18:08] mathewc commented on #3812
Yes - we need to use the [Utility.GetFunctionName](https://github.com/Azure/azure-webjobs-sdk/blob/0dd21b28ae749cc5000339b1d24a4955d39f0395/src/Microsoft.Azure.WebJobs.Host/Utility.cs#L32) helper in the core SDK [here](https://github.com/Azure/azure-webjobs-sdk/blob/0dd21b28ae749cc5000339b1d24a4955d39f0395/src/Microsoft.Azure.WebJobs.Host/Indexers/FunctionIndexer.cs#L313), which takes the Function

[2018-11-26 18:12] lmolkova commented on #3747
@peterwain

in V2 it's no longer required to manually set correlation ids on the telemetry.
Check out this example:

https://github.com/brettsam/azure-docs/blob/b574b4bd888c28a826e8442d9ecd176fd99674e0/articles/azure-functions/functions-monitoring.md#functions-version-2-2

As long as you use `TelemetryConfigratuin,Active` to send custom telemetry or create a configuration with `TelemetryConfigurat

[2018-11-26 20:54] peterwain commented on #3747
Thanks so much @lmolkova - that worked perfectly!

I wish I had seen this revised documentation earlier as it would have saved me some headaches. When do you think the currently published documentation will be refreshed with this revised version? EG:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring

And where's the best place to see the latest documentation for the curre

[2018-11-26 21:00] lmolkova commented on #3747
@peterwain I did not realize it's not merged into the official docs.

@brettsam I thought I saw a PR for this change: https://github.com/brettsam/azure-docs/blob/b574b4bd888c28a826e8442d9ecd176fd99674e0/articles/azure-functions/functions-monitoring.md#functions-version-2-2. Do you know what happened?

[2018-11-26 21:14] irakliy81 commented on #3747
@lmolkova - is there a similar solution for Node.js functions?

[2018-11-26 21:34] lukaskabrt opened #3813 "Proxy - Unable to set a response header if its value contains JSON"
I am trying to set `Report-To` HTTP header with a proxy function, but the proxy doesn't even start when the value of the header contains a JSON value.

[code]

This function returns 503 Service unavailable "Functionhost is not running." when run on the Azure. If started locally, the runtime show the following error message:

[code]

[2018-11-26 21:48] ConnorMcMahon commented on #33
@myusrn Our current approach would allow you to do something rather similar with the ClaimsPrincipal object we provide, as the ClaimsPrincipal object has a `.IsInRole()` method. As for why we went with injecting it as a parameter, we went with our design for the following reasons:

1.  Functions V2 is on .NET Core, not full framework, and some of the way these things are handled (like Thread.Curre

[2018-11-26 21:51] johndowns commented on #33
@ConnorMcMahon Thanks for the explanation - that makes a lot of sense to me.

Do you know when this is likely to be released? It appears that the runtime today doesn't support this yet.

[2018-11-26 21:53] ConnorMcMahon commented on #33
We are hoping to start the deployment for this release tomorrow, and it will take several days to finish deploying world wide.

[2018-11-26 22:05] lmolkova commented on #3747
@irakliy81 unfortunately, no, there is no solution for node.js 👎

[2018-11-26 22:42] jmuthuku commented on #1566
Any update on this. I still see Powershell as Experimental in the Azure Portal when creating Azure Functions.

[2018-11-26 22:46] vludax opened #3814 "Exceeding host connection threshold when using table storage"
We are running into the the connection threshold limit when we attempt to update a few hundred records in an Azure Storage table. Could somebody please advise the best way to avoid hitting the limits? Awaiting each replace task before starting the next does seem to alleviate the issue, despite running considerably slower.

- Function App version: 2.0
- Function App name: starfishimportergxdlh4wikz

[2018-11-26 22:57] tohling commented on #1566
@jmuthuku , kindly see an updated comment by @asavaritayal here https://github.com/Azure/Azure-Functions/issues/585#issuecomment-424014397

[2018-11-27 00:04] #3774 closed

[2018-11-27 00:35] mathewc commented on #691
For v2 Function Apps, please check if you have the queue MaxPollingInterval configure as an intenger in host.json - we had the following bug here: https://github.com/Azure/azure-webjobs-sdk/pull/1988. Behind the scenes for BlobTrigger functions we use an intermediate queue for processing, and for people with an incorrectly configured MaxPollingInterval value, this bug meant that the queue polling

[2018-11-27 00:38] ConnorMcMahon opened #3816 "Fix StandbyManager tests"
`StandbyMode_EndToEnd` and  `StandbyMode_EndToEnd_LinuxContainer` are intermittently failing. I am marking them as skipped so we can get a green build, but they should be looked at.

[2018-11-27 00:54] paulbatum opened #3818 "Update file change debounce to wait longer"
When the host sees a file change, it waits 500ms for any further file changes to determine if it should defer restarting (because file changes might still be in progress). It seems like for some customer deployments, this wait period is too short, and multiple host restarts end up occurring for a single deployment. This leads to application errors (because of starting the host in a partially deplo

[2018-11-27 00:55] paulbatum commented on #2636
Yeah I don't think your restart went through. I can't find a record of it in our logs. I think this deployment shows that our 500ms "wait for more files" logic needs to be relaxed slightly. I filed a separate issue for that:
https://github.com/Azure/azure-functions-host/issues/3818

[2018-11-27 00:56] paulbatum commented on #2636
@fabiocav I think the only recent activity on this issue is a different case to what is being described (I confirmed that no restart went through). Perhaps we should close this one?

[2018-11-27 01:14] balag0 opened #3819 "Install Extension from portal fails with InvalidOperationException"
POST admin/host/extensions fails with the below exception.

FunctionsLogs
| where Tenant == "6d56b41487174733b7d25ec070fc19d7"
| where TIMESTAMP >= datetime(2018-11-17 16:10:00) and TIMESTAMP <= datetime(2018-11-20 23:10:00)
| where ActivityId contains "a4700371-f6f5-4b6d-aea1-02a2f71e94dc" or Details contains "BindingExtensions"

System.InvalidOperationException : Unable to resolve service for ty

[2018-11-27 01:44] irakliy81 commented on #3747
@lmolkova - thanks for the reply! Do you know if there are any plans to change this?

[2018-11-27 02:33] balag0 commented on #3819
There is a bug in portal also where it doesnt put the back online if extension installation fails. That is tracked by [msazure bug](https://msazure.visualstudio.com/Antares/_workitems/edit/3507047)

[2018-11-27 09:38] iBalag commented on #3155
I have faced with the same issue. Any comments about it from develop team?

[2018-11-27 10:17] MaartenArits opened #3820 "Replace connection string with MSI (AAD)"
#### Investigative information

Please provide the following:

- Timestamp: 27-11-2018
- Function App version (1.0 or 2.0): 2.0
- Function App name: /
- Function name(s) (as appropriate): /
- Invocation ID: /
- Region: EU-west

#### Related information

I'm new to this and I don't feel this is the correct place for a feature request. Nevertheless, I already figured out it is not possible to use va

[2018-11-27 12:33] Badabum commented on #3155
You should use [this package](https://www.nuget.org/packages/Microsoft.Extensions.Caching.Memory/) instead.

[2018-11-27 12:34] Badabum commented on #3155
I'm closing this issue since there is a dedicated package for memory cache for .NET Core

[2018-11-27 12:34] #3155 closed

[2018-11-27 18:36] mathewc opened #3821 "Portal Log Streaming doesn't work for Containers"
In Linux Consumption, there is no shared file system, so our Portal log streaming doesn't work well when there are multiple scaled out instances. In such cases, the portal will only be showing logs from 1 of the instances (the one it is connected to).

We need a new design that gets logs working consistently in the portal for Linux Consumption.

[2018-11-27 22:49] #3797 closed

[2018-11-28 04:16] andrei-m-code commented on #3052
@AdrianPell  @JohnReeson which one is "appropriate"? I am having exactly the same issue and I need this workaround to work. Where can I find the DLL that will work?

Thanks!

[2018-11-28 04:52] mathewc opened #3825 "Extension WebHook handler should be annotated [RequiresRunningHost]"
The extension webhook handler [here](https://github.com/Azure/azure-functions-host/blob/086d0ec18b64048f48cd1bae198814938cffbe53/src/WebJobs.Script.WebHost/Controllers/HostController.cs#L220) should have `[RequiresRunningHost]` applied to it to ensure that no webhook requests are processed before the host init process registers extension handlers. Similar to the way the Invoke admin API is annotat

[2018-11-28 04:59] ColbyTresness opened #3826 "Emit metric for language worker after jobhost initializes"
We need to emit a log to FunctionsMetrics when the host starts up any language worker.

[2018-11-28 05:00] ColbyTresness opened #3827 "Emit language on invocation metric"
When we emit a log to FunctionsMetrics on invocation of a function, we should include the language of the function.

[2018-11-28 05:33] catcher-in-the-try commented on #3805
Also check whether `FUNCTIONS_WORKER_RUNTIME` is set to `~2` and not `beta`

[2018-11-28 05:51] catcher-in-the-try opened #3828 "All functions suddenly stopped working, time out after 5 mins, 0xE0434352 - CLR Exception"
All functions in my function app stopped working. They all time out after 5 minutes. The troubleshooting chatbot in Azure shows "247 errors - 0xE0434352 - CLR Exception".

There are no errors when I view my app's logs via `/api/logstream` endpoint, except the messages that all functions have timed out.

#### Investigative information

Here's one of the hundreds of examples:

- Timestamp: 2018-11-2

[2018-11-28 08:48] catcher-in-the-try commented on #3828
After about 12 hours of down time, it appears that the problem has either resolved itself at 08:21Z, or someone from the support handled it (I sent this to the Azure support as well).

Still it would be nice to know what caused this.

[2018-11-28 14:40] azarboon opened #4811 "Can't get any custom log while running functions locally"
Hi,

I'm developing / debugging my Function App locally on mac High Sierra by azure-functions-core-tools v2.2.70. My app is based on Node.js 8.11.1.

When my app is published on Azure, I can get the logs which are logged by `context.log("sample message")`, however, while running the app locally by `func host start`, I don't see any of my customs logs. That is, if I log something by context.log or

[2018-11-28 14:58] alvaromongon commented on #3228
Is this still hapenning?

[2018-11-28 16:17] AdrianPell commented on #3052
@andrei-m-code Yes, the .NET Standard one would most likely be what you needed (assuming your project is targeting that of course).  See @fabiocav comments here #3568 for more color on what's actually happening.

[2018-11-28 19:33] TobyHaddon opened #3829 "Function App gets triggered twice when run from a Logic App"
I've noticed that Function Apps get trigger twice if run from a Logic Apps.  This issue is similar to issue     #1587.

Repro Steps

Step 1: I created a function app via the Portal
    -App name: THFunctionApp
    -Location: West Europe
    -Consumption Plan
    -Runtime Stack: .NET

    -Name: HttpTrigger1
    -Authorization level: Function

Step 2: Set the Cors to *

Step 3: Create a Logic Apps

[2018-11-28 21:13] jeffhollan commented on #3827
Wondering if for flexibility we add a new column called like `payload` or something that has JSON we can easily modify in the future. That way we don't have to create new columns whenever we want to enrich our metrics.  So the column could be the invocation summary and then payload:

[code]

Or something

[2018-11-28 21:18] brettsam commented on #3431
The fix for issue #3632 should fix this. Are you able to repro it on the latest v2 version?

[2018-11-28 21:18] #3431 closed

[2018-11-28 21:19] brettsam commented on #2447
We had to revert this fix due to a few issues discovered during testing. We will be working to get this back in for our next release.

[2018-11-28 21:43] mathewc opened #3830 "Proxy.json parsing fails on json values"
The following proxy.json will result in a parse failure, due to the escaped json value for the Reply-To header:

[code]

This is valid json, and passes JObject.Parse. However [ProxyClientFactory.Create](https://github.com/Azure/azure-functions-host/blob/086d0ec18b64048f48cd1bae198814938cffbe53/src/WebJobs.Script/Host/ProxyMetadataManager.cs#L122) chokes on this. See SO post [here](https://stackove

[2018-11-28 21:44] fabiocav opened #3832 "Track usage of shared assembly providers"
We need telemetry to track how often we're resolving dependencies from shared providers.

[2018-11-28 22:20] #3813 closed

[2018-11-28 22:22] lukaskabrt commented on #3813
Also reported here #3830

[2018-11-29 01:07] ColbyTresness commented on #3826
@maiqbal11 chat with me when you're ready to give this a go, would love to talk about naming and such so we can instruct analytics on how to consume

[2018-11-29 02:52] ColbyTresness commented on #3776
To clarify this is the Java only work for now, correct?

[2018-11-29 02:56] pragnagopa commented on #3776
PR #3824 is scoped to Java for now. The goal is to expand to other languages as well.

[2018-11-29 03:33] ColbyTresness commented on #3776
What I'm really asking is: should I open a new issue specifically for JS or use this to track as well?

[2018-11-29 03:34] pragnagopa commented on #3776
synced up with @mhoeger offline. Once the PR is merged in, I will open tracking items for nodejs worker

[2018-11-29 07:06] JohnReeson commented on #3829
Only triggered once but get double logs. Duplicate of [this one](https://github.com/Azure/azure-functions-host/issues/1431).

[2018-11-29 07:36] JohnReeson commented on #3759
@soninaren Thanks for the solution, could you verify [this](https://github.com/Azure/azure-functions-templates/issues/769)? I have to reopen the dialog because it uses old templates the first time like they have found above.  As mentioned [here](https://github.com/Azure/azure-functions-core-tools/issues/694#issuecomment-423014671), with new cli shipped, the fallback template will be updated as wel

[2018-11-29 07:50] TobyHaddon commented on #3829
Answered in:
Function execution logs are duplicated in App Service log stream #1431
Thank you @JohnReeson

[2018-11-29 07:50] #3829 closed

[2018-11-29 18:42] mathewc opened #3834 "Fix SecretManager log statements"
Several of the new log statements added in https://github.com/Azure/azure-functions-host/commit/7aa72290a0e3e00f161cf2dd80dbdf0f4b74b100 aren't being formatted at runtime, e.g.:

"Function ('{0}') keys are loaded."

[2018-11-29 19:20] fabiocav commented on #3830
@vfedonkin moving this to Triaged.

[2018-11-29 19:21] fabiocav commented on #3830
@vfedonkin  If this is in progress, please move to the appropriate milestone

[2018-11-29 19:32] fabiocav commented on #3814
@brettsam can you please link to the issue we have tracking this work?

[2018-11-29 19:43] fabiocav commented on #3810
@myusrn does this happen if you're using an App Service plan for your function app (assuming this is consumption)?

[2018-11-29 19:49] fabiocav commented on #3805
Moving this to triaged to ensure the scenario is properly handled and a clear error message is shown.

[2018-11-29 19:54] Nemeczek commented on #3745
Same happening for us in the last 2 days. Azure Function v2 crashes. It runs on AppService. But it is a long-running one.

[2018-11-29 19:55] fabiocav commented on #3796
@balag0 wasn't this fixed in a recent PR?

[2018-11-29 19:59] fabiocav commented on #3793
@safihamid are there follow up actions on this item?

[2018-11-29 20:02] fabiocav commented on #3781
/cc @brettsam

[2018-11-29 21:00] vfedonkin commented on #3830
The workaround is to provide this line, escaping \ with the \\\:
 "response.headers.Reply-To": "{{ \\\"TEST\\\":0 }}"

Now the question: do we want to add fix for automatic replacement of " to \"  if    " missing a slash?
Since it may lead to confusion (since  \\\"boo\\\" and \"boo\" will result the same), I suggest to not change the logic.

@mathewc, what do you think?

[2018-11-29 21:16] safihamid commented on #3793
@fabiocav I looked at the code again. we check for localhost or the site host must match %WEBSITE_HOSTNAME% env variable to call a local function. This is the same as in docs as well. nothing needs to be done here.

[2018-11-29 21:16] #3793 closed

[2018-11-29 21:36] maiqbal11 commented on #3826
Created a PR for this #3837. I'll deploy a private site extension to test it. @ColbyTresness could you check to see if the name formatting seems fine?

[2018-11-29 22:00] ahmelsayed commented on #3796
yes it was fixed in https://github.com/Azure/azure-functions-host/pull/3799

[2018-11-29 22:00] #3796 closed

[2018-11-29 22:10] mathewc commented on #3830
No, we don't want to get into the business of modifying their proxy.json. What I don't understand is why this is blowing up in ProxyClientFactory.Create, while the json actually parses in other parsers (e.g. JObject.Parse)?

[2018-11-29 22:17] mathewc commented on #3830
Agreed, we don't want to get into the business of modifying their proxy.json.

What I don't understand is why this is blowing up in ProxyClientFactory.Create, while the json actually parses in other parsers (e.g. JObject.Parse)?

[2018-11-29 23:22] myusrn commented on #3810
@fabiocav thanks for the followup on this.  Created new azure function project in vs17 15.9.3 environment and this time chose a B1 pay-as-you-go app service plan.  Still repros attach debugger result where win10 oct18 [1809/17763.134] default edge browser tab pointed and functions app root url gets launched and vs17 ide appears to be in debug mode but all breakpoints have warning stating "The brea

[2018-11-30 00:15] mhoeger opened #3838 "Detector for function app health check"
Tracking issue for the work to create a detector for compilation failures. Ideally would then be able to be moved to "Diagnose and solve problems."

Create a detector for latest compilation failure occurrences, function name and date/times. The top log text from the failure and link to full logs for that instance.

**Update:**
We really want to know what the current state of the function app is. T

[2018-11-30 01:50] JohnReeson commented on #3759
@soninaren Also [this typo](https://github.com/Azure/azure-functions-host/issues/3759#issuecomment-439222147)mentioned needs fixing in [wiki](https://github.com/Azure/azure-functions-tooling-feed/wiki/Fixing-Azure-Function-Core-Tools-download-issues-for-Visual-Studio).

[2018-11-30 02:57] catcher-in-the-try commented on #3828
@fabiocav I did, but the support said it's a problem with my functions, not with the runtime.

Which I find weird because there was absolutely no errors logged anywhere and because my functions suddenly resumed working without my input.

In any case the functions went back to working normally but seems we are not sure why.

[2018-11-30 03:14] dallancarr commented on #3814
Until this get investigated maybe await on the `ReplaceAsync` instead with an added delay between invocations for a small throttle.

[2018-11-30 06:15] forki commented on #3781
@dallancarr believe me I'd love to remove that .wait but the runtime can't deal with `Task<unit>`yet. It's a reported bug and the azure-functions Team promised to look into that

[2018-11-30 14:24] slim-souissi opened #3839 "Access to XMLHttpRequest at 'http://localhost:8080/register' from origin 'http://localhost:4200' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status."
I have two requests : get and post .
The GET Request is working fine via the browser but when i try the POST it mentions  CORS error 403 unauthorized .
is it normal that CORS appears only in the post request ?

PS : i tried   the POST with postman and it working fine

Here is the error :
"Access to XMLHttpRequest at 'http://localhost:8080/register' from origin 'http://localhost:4200' has been bloc

[2018-11-30 19:39] soninaren commented on #3759
thanks @JohnReeson, have fixed the typo / error.

[2018-11-30 20:13] pragnagopa commented on #3717
cc : @maiqbal11
We also need to track scritpType of a function as multiple scriptTypes can map to a single `FUNCTIONS_WORKER_RUNTIME` for example, `.csx`  and  `.dll` map to worker runtime `dotnet`

[2018-11-30 20:15] fabiocav commented on #3717
Should this be in sprint 38 as opposed to Triaged?

[2018-11-30 20:17] #3825 closed

[2018-11-30 20:19] pragnagopa commented on #3717
closing this as a dup of #3826

[2018-11-30 20:19] #3717 closed

[2018-11-30 21:38] jeffhollan commented on #1363
Another ask as an FYI https://twitter.com/troyhunt/status/1068612845007364097?s=20

[2018-12-01 02:09] dallancarr commented on #3781
I've seen examples in the docs using Async. Is this a recent bug or regression because they recommend this pattern.

`let someFunc(...) =
async
{
 let! result = PerformIOAsyncTask |> Async.AwaitTask
} |> Async.StartAsTask`

[2018-12-01 08:42] forki commented on #3781
It's a regression in v2 runtime. It worked before. But AFAIK it's unrelated to this issue here.

[2018-12-01 20:41] TechWatching commented on #1819
Is using DocumentClient still the correct way to call a stored procedure ? Or is there a stored procedure binding planned ?

[2018-12-01 21:48] dallancarr commented on #3781
Yeah you are totally right but you could try returning `Task.CompletedTask` out of the function instead of `Wait` as the stats  have been cached already at that point.

[2018-12-01 22:17] dallancarr commented on #3781
Ignore me this must be the regression. :-)

[2018-12-03 05:36] myusrn commented on #33
@ConnorMcMahon I just created a new azure function using in-portal Http-Trigger run.csx and function app settings is still showing `Runtime version: 2.0.12180.0 (~2)`.

I pasted your [sample code](https://github.com/Azure/azure-functions-host/blob/dev/sample/CSharp/HttpTrigger-Identities/run.csx) noted earlier in this issue exchange for enabling express[/easyauth] authentication/authorization.

Wh

[2018-12-03 15:43] ikkentim commented on #3593
I'm running into the same issue

[2018-12-03 17:02] kelsosharp commented on #3804
This is happens not only for $web, but all dynamic routing. I have the same issue, just by setting path to {client}/{name}/{id}

[2018-12-03 18:49] mathewc commented on #3821
Design proposals:

1) Build this on AppInsights LiveStreaming. For portal log streaming, we'd require AI to be enabled, as we do for the Monitor view. We'd need UX integration to display an AI function specific live stream query.

2) Expose a new log endpoint that returns logs from Azure Table Storage. For SeaBreeze, the runtime would log to a log table, which would replace the shared file system.

[2018-12-03 19:33] ConnorMcMahon commented on #33
The deployment should have just finished deploying to all regions this morning.

[2018-12-03 19:43] johndowns commented on #33
Great! Will there also be an update to the CLI/core tools soon to support this when running locally - or at least not throw an error when we have a ClaimsPrincipal in the function method signature?

[2018-12-03 19:53] ConnorMcMahon commented on #33
The way this is currently designed should not be throwing an error with a ClaimsPrincipal in the function method signature. The ClaimsPrincipal you would receive would only have an identity for the Functions authorization level as opposed to your EasyAuth identity.

As for EasyAuth + CLI, there has already been some dev work into this, but we are waiting until the codebase for EasyAuth on Windows

[2018-12-03 20:04] johndowns commented on #33
Thanks @ConnorMcMahon. I don't mind the `ClaimsPrincipal` coming through as `null` for now, but perhaps you can advise what I'm doing wrong here as it's not working when I run this locally using the default Visual Studio function template with a `ClaimsPrincipal` added. Here is the function method signature:

[code]

When I run this, I get this error:
[code]

But if I remove the `ClaimsPrincipal`

[2018-12-03 20:12] johndowns commented on #33
I also just tried this using the CLI from NPM, running v2.2.70 of the core tools and Function runtime 2.0.12175.0. I got the same result.

[2018-12-03 20:29] ConnorMcMahon commented on #33
Ah, this is only supported in versions later than 2.0.12210.0. I'm not positive we have a CLI update for that version yet.

[2018-12-03 20:40] johndowns commented on #33
Thanks. So I guess for now, the only option is to ifdef the code out for
development builds?

On 4 Dec 2018, at 7:29 am, Connor McMahon <notifications@github.com> wrote:

Ah, this is only supported in versions later than 2.0.12210.0. I'm not
positive we have a CLI update for that version yet.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it

[2018-12-03 21:38] myusrn commented on #33
I'm am trying to validate new ClaimsPrincipal object access first using in-portal compile and run experience.  As of this morning my functions app | function apps settings is reporting `Runtime version: 2.0.12210.0 (~2) ` so would appear we are good on that front.

Under platform features | network | authentication/authorization i have app service authentication [ / easyauth ??? ] turned on and "A

[2018-12-03 22:53] ConnorMcMahon commented on #33
@myusrn It's possible that the identities on your claims principal are missing some of the claims that `GetIdentityString` are looking for. If you look at the `/.auth/me` endpoint, you can see what claims are populated from your AAD tenant.

[2018-12-04 01:47] alrod commented on #3415
Customer report:
https://stackoverflow.com/questions/53599053/azure-process-terminates-when-javascript-function-is-changed

[2018-12-04 03:29] mhoeger opened #3844 "gRPC message latency and size metrics"
We should log how big each gRPC message we're writing is and how that's related to across the wire latency.

Related to https://github.com/Azure/azure-functions-host/issues/3722

[2018-12-04 03:36] mhoeger opened #3845 "Duplicate binding data in gRPC messages"
On function invocation, we send over a large bag of data. Some of this information is duplicated (for example, the HTTP object, which also sometimes contains a body value which is equal to rawBody).

When out of proc and being streamed over the wire, we don't have references and memory optimizations and so the data gets duplicated.

Related to (except the compressed part): https://github.com/Azure

[2018-12-04 03:41] mhoeger commented on #3722
On this item, we're going to be:
1. Implementing chunked gRPC messages to have no max message size (https://github.com/Azure/azure-functions-host/pull/3824)
2. Removing duplicate data (https://github.com/Azure/azure-functions-host/issues/3845)
3. Collecting detailed metrics (https://github.com/Azure/azure-functions-host/issues/3844)

Although this is not feasible for everyone, our recommendation i

[2018-12-04 14:32] petrce commented on #33
Happy it is working :)
How can I set up Auth locally (ClientId and Issuer)?
in local.setting.json -> Host?
thanks

[2018-12-04 15:31] brettsam commented on #1819
Using DocumentClient is still the way to do this. There's no planned sproc binding, although I think it's possible.

@ealsur -- have you heard much demand for this?

[2018-12-04 15:34] brettsam commented on #3814
This is on the consumption plan, correct? Could you give this a try with the latest Functions release [2.0.12210.0](https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12210)? We added a workaround that should help here.

[2018-12-04 15:42] graham-sportsmgmt commented on #1819
@brettsam - this might be a chicken and egg argument.  If CosmosDB SQL was to have better support throughout Azure (and much better documentation) then adoption would probably increase by an order of magnitude.

We've been using it for a few years and are relatively happy, but I have spoken to several other developers who tried it and gave up, moving to the Mongo API to get the rich query engine o

[2018-12-04 15:51] brettsam commented on #3781
Could you give this a try with the latest Functions release [2.0.12210.0](https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12210)? We added a workaround that should help here.

[2018-12-04 15:54] invisibleaxm opened #3846 "Unable to force ServiceBus connectivity Mode to HTTPS for development"
#### Investigative information

Please provide the following:

- Timestamp: All the time
- Function App version (1.0 or 2.0):

Both 1.0 or 2.0

- Function App name: Any

#### Repro steps

Provide the steps required to reproduce the problem:

Create a new function app with a ServiceBus Topic trigger (I'm sure its the same for queue trigger but i have not tried it) and try to connect behind a firewa

[2018-12-04 16:03] forki commented on #3781
What would that workaround do?

Am Di., 4. Dez. 2018, 16:51 hat Brett Samblanet <notifications@github.com>
geschrieben:

[2018-12-04 16:03] myusrn commented on #33
@petrce is it working for you?  If so do you see anything my in portal based function implementation that explains why it is not working for me?

Wrt your questions about ClientId and Issuer i'll also be curious to know if this azure functions easyauth + express setup covers both user agent / browser public client calling api with session cookie access_token and native / desktop app public client

[2018-12-04 16:12] brettsam commented on #3781
A little background -- .NET Core made the `ServicePointManager` a no-op when it comes to HttpClient usage. We used this in Functions v1 to keep a constraint on the number of connections a single HttpClient could create to a single host (using `ServicePointManager.DefaultConnectionLimit`). This now does nothing in .NET Core. This means that the various SDKs now need to give us a way to control this

[2018-12-04 16:16] forki commented on #3781
Well I changed a lot of code to do better caching myself, so that's
probably the cause why it works right now...

Am Di., 4. Dez. 2018, 17:12 hat Brett Samblanet <notifications@github.com>
geschrieben:

[2018-12-04 16:33] dallancarr commented on #3814
So MaxConnectionPerServer was defaulting? Interesting to know what the fix was. 😁

[2018-12-04 17:03] brettsam commented on #3814
Copied from another issue ([here](https://github.com/Azure/azure-functions-host/issues/3781#issuecomment-444157388)):

[2018-12-04 17:34] pragnagopa opened #3847 "Update host.json schema"
PR # https://github.com/Azure/azure-functions-host/pull/3824 removes maxMessageLength settings from host.json

Need to publish update host.json schema in schema store

[2018-12-04 18:25] ColbyTresness opened #3848 "Change Language and Binding Metrics"
#3826 is related

We'd like to change the way bindings and language metrics are done to improve how we can consume on the analytics side.

Currently, we emit metrics in a dot separated form unique to each language/binding:

string1.string2.JavaScript
string1.string.Java
etc.

We'd like this to become

string1.string2 | JavaScript
string1.string2 | Java

with the language/binding information as par

[2018-12-05 00:40] soninaren commented on #3546
This is not complete https://github.com/Azure/azure-functions-core-tools/pull/913

[2018-12-05 00:40] #3546 closed

[2018-12-05 02:11] paulbatum opened #3852 "Performance Counters are not present in App Insights for Functions V2"
We need to bring back the performance counter functionality that functions V1 had. I believe it was a point-in-time issue that App Insights did not have a performance counters package that ran on .NET Core, but hopefully that is now resolved. We should investigate.

[2018-12-05 05:43] johndowns commented on #33
@ConnorMcMahon I've just been testing this out and have run into what I think may be a bug (at least, I hope it is!).

I've configured AD authentication on my function app and disallowed anonymous requests. When I've been deploying a function with a `ClaimsPrincipal` parameter, I've found that:
 1. If the `authLevel` is set to `function` and the function key is provided then the request is process

[2018-12-05 08:17] forki opened #3854 "Cannot bind parameter 'log' to type ILogger."
018-12-05T08:11:31.235 [Error] Error indexing method 'StopTransaction.run'
Microsoft.Azure.WebJobs.Host.Indexers.FunctionIndexingException : Error indexing method 'StopTransaction.run' ---> System.InvalidOperationException : Cannot bind parameter 'log' to type ILogger. Make sure the parameter Type is supported by the binding. If you're using binding extensions (e.g. Azure Storage, ServiceBus, Time

[2018-12-05 08:31] forki commented on #3854
which is the last version before that? I can try to manually downgrade

[2018-12-05 09:03] forki commented on #3854
Ok downgrading the runtime to 2.0.12180.0 did not seem to fix the problem. Maybe it's yet another instance of the binding redirects issue and I upgraded aspnet deps too far? Microsoft.Extensions.Logging which nuget version is that expected to be?

[2018-12-05 09:12] forki commented on #3854
Now that I think about it: yesterday the aspnet 2.2 nupkgs came out and I bet we upgraded that. Will try to downgrade these.

[2018-12-05 09:58] jpriestley70 commented on #3854
I have the same issue when everything was updated even .Net Core 2.2.
Downgraded .Net Core to 2.0
Downgraded the following Microsoft packages to 2.1
- Microsoft.EntityFrameworkCore
- Microsoft.EntityFrameworkCore.Design
- Microsoft.EntityFrameworkCore.SqlServer
- Microsoft.Extensions.DependencyInjection.Abstractions

This allowed my Startup class with [assembly: WebJobsStartup(typeof(Startup))] to

[2018-12-05 11:45] forki commented on #3854
yes reverting to 2.1 did the trick. but this is yet another nightmare. it's hard to maintain

[2018-12-05 12:00] thinkbeforecoding commented on #3854
I got it wokring again with the following paket.dependencies :

[code]

[2018-12-05 12:07] forki commented on #3854
That looks correct, but boy is it annoying to pin everything. I think azure
functions Team needs to reopen the infamous "binding redirects issue" that
they proudly closed live on stage.

Am Mi., 5. Dez. 2018, 13:00 hat Jérémie Chassaing <notifications@github.com>
geschrieben:

[2018-12-05 13:44] brettsam commented on #3852
@lmolkova -- do perf counters work in .NET Core now?

[2018-12-05 15:08] TobySanders commented on #415
@fabiocav is there any sort of time estimate for when these DI changes will be released and will those constructor changes be included?

Thank you

[2018-12-05 16:29] baabel commented on #757
Do you have plans to go GA with this feature?

[2018-12-05 16:33] #3521 closed

[2018-12-05 18:03] ConnorMcMahon commented on #33
@johndowns, good catch! If you could open a new issue so I could track a PR against it, that would be great.

[2018-12-05 19:12] ConnorMcMahon commented on #33
@myusrn I can get the sample working with the following authentication methods

1. In browser server-directed flow
2. Bearer token with an AAD access token for EasyAuth
3. X-ZUMO-AUTH session token. You can generate a session token by hitting /.auth/login/aad with a POST request with the following body
`{
	"id_token": "",
	"access_token": ""
}`

[2018-12-05 20:16] kylemcnee commented on #2558
Has a solution been found for this problem yet?  I think these dlls are copying as a result of libraries used by my project, but I'm not sure why or by which ones.

[2018-12-05 20:37] pragnagopa opened #3856 "Fix test E2E test fixture to honor the workerRuntime environment variables"
[_functionsWorkerLanguage](https://github.com/Azure/azure-functions-host/blob/dev/test/WebJobs.Script.Tests.Integration/ScriptHostEndToEnd/ScriptHostEndToEndTestFixture.cs#L39) set by [ScriptHostEndToEndTestFixture.cs](https://github.com/Azure/azure-functions-host/blob/dev/test/WebJobs.Script.Tests.Integration/ScriptHostEndToEnd/ScriptHostEndToEndTestFixture.cs#L39) is not honored.

PR #3824 moved

[2018-12-05 20:46] pragnagopa commented on #3856
Another issue:
[Invoke_Succeeds test](https://github.com/Azure/azure-functions-host/blob/dev/test/WebJobs.Script.Tests.Integration/ScriptHostEndToEnd/DirectLoadEndToEndTests.cs#L34)
starts RpcChannelsInitializationService but does not stop it.

[2018-12-05 21:21] myusrn commented on #33
@ConnorMcMahon thanks for clarifications supported authentication methods that helps.

@johndowns thanks for finding and mentioning the bug you found on this thread as that was what was causing me to get the unexpected `IsAuthenticated = false `and `Identity: (, , )` results. Once i set in portal function | Integrate | Authorization = Anonymous -> Function and included code in request i started ge

[2018-12-05 21:55] veenarose opened #3863 "Azure Timer Functions stop working after a few days"
### OS and Browser
Mac Chrome

### Repro steps

Or sometimes does not complete processes in the function. It happens randomly, it works at one instance and it doesn't the next.

### Any error messages

### Mention any other details that might be useful.
My function app is a timer trigger run everyday at midnight. It copies data from a source container to a destination container using the methods f

[2018-12-05 21:56] johndowns opened #3857 "`ClaimsPrincipal` doesn't include identity when `authType` is `anonymous`"
#### Investigative information

Please provide the following:

- Timestamp: From December 4 through 6, 2018
- Function App version (1.0 or 2.0): 2.0
- Function App name: applies across multiple (every one I've tried)
- Function name(s) (as appropriate): multiple
- Invocation ID: N/A
- Region: multiple; I've mostly tested australiasoutheast

#### Repro steps

Provide the steps required to reproduce

[2018-12-05 21:57] johndowns commented on #33
@ConnorMcMahon I have opened https://github.com/Azure/azure-functions-host/issues/3857 as requested.

[2018-12-06 00:36] #3776 closed

[2018-12-06 00:46] ColbyTresness commented on #3776
reminder to open JavaScript tracking items :)

[2018-12-06 03:04] pragnagopa opened #3860 "Check workerRuntime before initializing worker channels"
Also, add LanguageWorkerChannelManager End to End tests

[2018-12-06 03:42] #3860 closed

[2018-12-06 05:16] myusrn commented on #33
Anyone had succes this easyAuth autentication of request using desktop app / postman request using function authZ code and authorization header bearer token to authN request, i.e. what @ConnorMcMahon referred to as `2. Bearer token with an AAD access token for EasyAuth` above?

I ask because i'm now testing that target scenario and am getting `401 Unauthorized` against same setup that works if I u

[2018-12-06 13:52] brettsam commented on #3814
@vludax -- what is your timer trigger doing? I wouldn't expect a timer to eat up that many connections by itself. It's still possible to hold onto connections by creating new HttpClients (rather than sharing a static one) or connecting to many different hosts from within a function. If you'd like to [share your function name](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function

[2018-12-06 18:32] ConnorMcMahon commented on #33
@myusrn, Could you share your function app name? You can share it privately by following [these instructions](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately). I can help you investigate why scenario 2 is not working for you. I just tested it the other day and it worked for my application.

[2018-12-06 18:40] #3832 closed

[2018-12-06 18:56] myusrn commented on #33
@ConnorMcMahon app https://azfndn1ipt.azurewebsites.net/ and in my wpf app using msal to acquire access token used in Authorization header Bearer &lt;access token&gt; attached to api request

I have scopes set to `scopes = new string[] { "https://azfndn1ipt.azurewebsites.net/user_impersonation" }`

i'm fine with granting your work or msa account access to my resource group and associated azuread i

[2018-12-06 19:09] fabiocav commented on #3128
Closing this as it is being addressed by other changes

/cc @brettsam

[2018-12-06 19:09] #3128 closed

[2018-12-06 19:10] fabiocav commented on #3130
@PRAVEENBADIGER can you please move this question to the MSDN forums for IoT Hub?

[2018-12-06 19:10] #3130 closed

[2018-12-06 19:13] fabiocav commented on #3133
Is this in the actual output message or the message format? The template/format is logged to make querying simpler.

Can you provide more details?

[2018-12-06 19:16] fabiocav commented on #3140
This, currently, only applies to Python.

Closing this in favor of https://github.com/Azure/azure-functions-python-worker/issues/66

[2018-12-06 19:16] #3140 closed

[2018-12-06 19:18] fabiocav commented on #3151
Fixed in #3173

[2018-12-06 19:18] #3151 closed

[2018-12-06 19:21] fabiocav commented on #3120
This needs additional discussion with @pragnagopa @ahmelsayed @mathewc

[2018-12-06 19:33] fabiocav commented on #3160
This seems to be an issue with the EventGrid client (also repros outside of Azure Functions). Could you please open an issue for investigation here? https://github.com/Azure/azure-sdk-for-net/issues

Thanks!

[2018-12-06 19:33] #3160 closed

[2018-12-06 19:38] fabiocav commented on #3178
@jocawtho are you still seeing this? This issue got lost in the triage process.

[2018-12-06 19:40] fabiocav commented on #3190
@ChristianWeyer we've worked with the ML.NET team and they were working on improvements to address this issue (as much of the problem was because of how they were loading dependencies). Closing this as there's no action to be taken on this repo.

[2018-12-06 19:40] #3190 closed

[2018-12-06 19:47] fabiocav commented on #3184
Using the CLI/Coret Tools for production workloads is not supported today. An approach I would recommend would be to use one of our container images for this scenario. @ahmelsayed @balag0 can you please link to our container images?

[2018-12-06 19:47] #3184 closed

[2018-12-06 19:50] jocawtho commented on #3178
Yes, This is still the most noisy error we see in the scale controller

[2018-12-06 19:54] fabiocav commented on #3189
This is something we've wanted to do for a while. We're triaging so we can discuss how this will be surfaced.

[2018-12-06 19:55] fabiocav commented on #3197
Can this be closed?

[2018-12-06 19:55] fabiocav commented on #3197
Closing this as I believe it is resolved. Please reopen if needed.

[2018-12-06 19:55] #3197 closed

[2018-12-06 19:56] fabiocav commented on #3205
A number of changes happened in this area since this beta. Closing this as we believe the issue is resolved, but please let us know if you continue to have problems.

[2018-12-06 19:56] #3205 closed

[2018-12-06 19:58] fabiocav commented on #3224
Fixed by #3268

[2018-12-06 19:58] #3224 closed

[2018-12-06 20:05] brettsam opened #3862 "Right-click -> "Publish" in WebJobs.Script.sln produces unusable Site Extension"
The applicationHost.xdt file expects the bitness and ancm folders to be there, yet they're not. You can hand-modify it, but we should get this working again.

[2018-12-06 20:06] brettsam commented on #3312
A lot has changed since August wrt extension installation. I'm going to close this one out -- please re-open if you come across this issue again.

[2018-12-06 20:06] #3312 closed

[2018-12-06 20:09] brettsam commented on #3363
I'm going to go ahead and close this as we're now sufficiently past this release. If you find any new problems, please create a new issue and we will triage.

[2018-12-06 20:09] #3363 closed

[2018-12-06 20:15] brettsam commented on #3535
We're using `TimeSpan.Parse()` on this value, and it may be failing on us when we parse 60 -- as the valid values are 0-59. I've re-titled this issue and we can provide a better experience here.

[2018-12-06 21:39] vludax commented on #3814
Thanks for looking into this for us @brettsam!

The timer-triggered function starts a new durable function, which then uses three singleton `CloudTableClient`s to insert/replace hundreds of rows. We're not manually instantiating `HttpClient`. The function name is starfishimportergxdlh4wikzicy.

[2018-12-06 21:45] bryans2k commented on #33
Try this link: https://www.bruttin.com/2017/11/21/azure-api-postman.html

It shows you how to use postman correctly.

[2018-12-06 21:45] #3507 closed

[2018-12-06 21:46] myusrn commented on #33
Things working now using desktop/mobile app authorization header bearer token secured requests.

The issue and fix for me was to ensure that acquired token has audience "aud" claim was set to the application (client) id guid of the functions app azuread registered application.

When using new azuread v2 endpoints compatible microsoft authentication library [msal] I was providing the scope paramete

[2018-12-06 22:30] vfedonkin commented on #3830
So the rule is:    use {{ instead of { and \\\" instead of \"

[2018-12-06 22:30] #3830 closed

[2018-12-06 23:20] ivorwan commented on #1633
I'm with @cmeiklejohn. The docs here https://github.com/Azure/azure-webjobs-sdk/wiki/Singleton say that internally, the SingletonMode.Listener internally uses blob leases and ensures that only one function should run across scaled out instances, but I'm observing otherwise.

I'm using azure functions v2 on consumption plan, triggered by new messages on a queue

[2018-12-07 00:21] PeterSelchDahl commented on #1394
Hi  Oluwaseun,
Try having a look at this article.
https://blogs.msdn.microsoft.com/cjaliaga/2018/01/21/installing-nuget-packages-in-azure-functions-2-x-runtime-preview/

Best Regards,
Peter Selch Dahl
Azure MVP

[2018-12-07 00:53] myusrn commented on #33
@bryans2k thank you for the postman article reference on how to enable oauth token acquisition from azuread endpoints within postman as I've always been acquiring token using scratch app with adal -> msal calls and then pasting the result into postman request to test calls versus less flexible scratch app httpClient requests.

I was able to successfully use it to acquire token matching adal/msal p

[2018-12-07 01:57] lmolkova commented on #3852
They do work on Windows hosts (but not linux). They actually [come from AppService](https://github.com/projectkudu/kudu/wiki/Perf-Counters-exposed-as-environment-variables) and captured by PerformanceCollector. I've tried to enable it and it works!

For linux, this is on our backlog, but not prioritized.

/cc @cijothomas.

[2018-12-07 07:13] Hoaas commented on #3854
Same error occurs if Microsoft.Extensions.Http 2.2.0 is added to the project.

[2018-12-07 09:00] OliverMartini opened #3866 "ReadToEnd() throws exception on slow requests; introduce MinRequestBodyDataRate"
Some http requests from our client are sent to the Azure Function very slowly. This causes the Azure Function to throw the following exception:

[code]

It would be great if the Azure Function Host has the flexibility to specify the ```MinRequestBodyDataRate```. This was the solution for a WebApi deployment as you see below.

#### Investigative information

- Function App version (1.0 or 2.0): 2.0

[2018-12-07 14:14] bryans2k commented on #33
@myusrn I've never tried but I think you'd have to change the callback to your own website to log the callback from AAD. I don't think Postman offers an option to pass-through the callback.

[2018-12-07 15:39] jaltin commented on #691
Hi @davidebbo & @mathewc,

I am also running into this problem with blob triggers taking long to fire. Hopefully you can help me with the information I have put together of my situation.

**Background**
I have a blob trigger function watching a container named 'imageuploads-new'.

I upload images into 'virtual folders' inside the container from a web page and the upload from the webpage goes very

[2018-12-07 15:58] pougetat commented on #3812
Hey,
I opened a PR for this : https://github.com/Azure/azure-webjobs-sdk/pull/2051
:)

[2018-12-07 19:16] vitek-karas commented on #2408
@DibranMulder I just tried with the repro project I had and adding the two TFM didn't help. Still fails on the same error - the underlying problem being that Azure functions copies the output to a different folder than what the TargetDir/TargetPath points to.

[2018-12-07 19:54] paulbatum commented on #3681
A number of webjobs and functions features depend on azure storage (file system when not using run from package, timer management, checkpoints for eventhubs/cosmos, blob processing leases, etc). At this time, we do not have good alternatives for several of these features. I do not expect any progress to happen on this issue in the near future (hence it being assigned to the unknown milestone).

[2018-12-07 22:16] michaeldaw commented on #3741
I have a related problem so I thought I'd write about it here rather than make a new issue.
In my function app, there are many calls to dependent services. These calls are all tracked as Dependencies in Application Insights. The vast majority of data in my Application Insights instances are from successful dependency calls. The cost of tracking these calls has become substantial.

I've tried imple

[2018-12-07 23:51] pragnagopa opened #3868 "Add RpcInitializationUnit tests"
PR# https://github.com/Azure/azure-functions-host/pull/3865 disabled flaky tests. Need to add them back

[2018-12-08 01:14] mathewc commented on #691
@jaltin I recommend you create a new issue with your details, since this is a closed issue about functions not being triggered at all. I was able to use the details you gave above to see some of the delays you mentioned in our system logs - e.g. a series of 111 blobs being processed all on the same worker instance with 110 of them all being processed in the first minute, but the last blob being st

[2018-12-09 02:12] alrod commented on #3834
30ab611ef1daf6ba7e5cdd881e4db24769ce7a1b

[2018-12-09 02:12] #3834 closed

[2018-12-09 23:08] tiloc commented on #3133
This was the actual output, i.e. the placeholders did not get filled with the actual values.

[2018-12-10 10:19] jaltin opened #3869 "Blob triggered functions sometimes have a delay before being fired"
I am running into an issue with blob triggers taking long to fire. Hopefully you can help me with the information I have put together of my situation.

**Background**
I have a blob trigger function watching a container named 'imageuploads-new'.

I upload images into 'virtual folders' inside the container from a web page and the upload from the webpage goes very fast.

**Problem**
The problem I hav

[2018-12-10 10:29] jaltin commented on #691
Thanks for looking into this @mathewc! I have created a new issue for it - #3869.

[2018-12-10 11:19] victoriatrimboli commented on #2792
Hi @mathewc, we are having the same issue. Logs are showing same function executed multiple times for the same message.

Subscription: SUB BIBBYFS ITS-ITOPS OPS LIVE
Region: North Europe
Resource Group: RG-APP-AuraPortal
Function: EUA1-LASB-01-FunctionApp
Service Plan: EUA1-LASB-01-FunctionAppPlan

Example:
![image](https://user-images.githubusercontent.com/45757845/49729376-3ffd4d80-fc6d-11e8-9de

[2018-12-10 16:44] i-movo commented on #3535
Many thanks for the update Brett

[2018-12-10 19:21] alrod opened #3870 "Do not allocate a BufferStream on each http call"
We should not allocate a BufferStream with the size of the respondeBody for non-proxy functions. this has a perf impact and I missed it when initially took a dependency on BufferingMiddleware code from aspnet team.

`var bufferStream = new BufferingWriteStream(originalResponseBody);`

[2018-12-10 21:17] lazyruss opened #3871 "JS Function host v2: serviceBus trigger - DateTime fields are passed as strings"
we developed JS functions using runtime V1.
considering function triggered by service bus topic, this worked perfectly
[code]

message.End and message.Start were Date objects

however, when we switch to runtime V2,
message.Start and message.End are now strings.

i wonder if this is a bug, or by design?

[2018-12-10 21:18] rogersmj commented on #2874
This is blocking quite a lot of our integration efforts and making the management of our Functions-based services needlessly burdensome. I thought the v2 runtime was out of beta now? When will OpenAPI be supported?

[2018-12-10 22:22] pragnagopa opened #3872 "Investigate file access issues with run from zip when running in placeholder mode"
tracking item to enable java in placeholder mode.
It fails with
[code]

when running with WEBSITE_RUN_FROM_PACKAGE set to 1

[2018-12-10 23:05] mwadams commented on #3736
Scopes services would be particularly useful. We have had some grumbling on one of our channels about the lack of support for that.

[2018-12-10 23:13] skotl commented on #3854
Same for me, having updated to SDK 2.2
I _could_ go back, but don't particularly want to, and I'm not sure I want to be monkeying around with binding extensions.
Is there a solution for ILogger that anyone is aware of?

[2018-12-10 23:16] espray commented on #3736
@mathewc You can use this until this task is complete - https://github.com/espray/azure-webjobs-sdk-extensions its similar to https://github.com/BorisWilhelms/azure-function-dependency-injection

[2018-12-11 00:39] pragnagopa commented on #3872
@safihamid - fyi this is the tracking item on the runtime to enable placholders once file detour issue is fixed

[2018-12-11 05:44] forki commented on #3854
Since dotnet core doesn't even have support for binding redirects, your
only option is to downgrade to 2.1 and wait until azure functions upgrades
the platform.

Am Di., 11. Dez. 2018, 00:13 hat Scott Leckie <notifications@github.com>
geschrieben:

[2018-12-11 06:39] asavaritayal opened #3875 "HTTP payloads get modified by Function when content-type is application/json"
_From @brettcannon on December 10, 2018 19:46_

#### Investigative information

Please provide the following:

- Timestamp :2018-11-28 20:25:05.885
- Function App name: pvscbot
- Function name(s) (as appropriate): github

#### Repro steps

POST an `application/json` HTTP payload with a body of `b'{"action": "opened"}'`.

#### Expected behavior

Get the exact HTTP payload in the Function.

#### Act

[2018-12-11 06:39] asavaritayal commented on #3875
_From @elprans on December 10, 2018 20:4_

I'm pretty sure this is a host issue.  The worker passes the body exactly as received from the host:

https://github.com/Azure/azure-functions-python-worker/blob/e03026773f57145530224ab3a918e321a2c3efb9/azure/functions_worker/bindings/http.py#L129-L131

[2018-12-11 06:39] asavaritayal commented on #3875
_From @brettcannon on December 10, 2018 20:18_

@elprans I actually know that it is a host issue, but @asavaritayal told me to file it here for tracking purposes  (along with all of the other issues I filed today).

[2018-12-11 09:09] pougetat commented on #3400
Hey @pragnagopa ,
I'm trying to find issues to start working on and help out :).
Would it be a good idea for me to look into implementing function reload for one of the language workers ?

[2018-12-11 09:57] skotl commented on #3854
Darn - ok, so back to 2.1 for me!
Thanks for the info :)

[2018-12-11 11:25] zeeshan-aym opened #3876 "Exceptions "node exited with code -1" on function apps"
We are having "node exited with code -1" exceptions on our different function apps. There is no much details being logged against this exception. also worth mentioning that triggered functions also working fine. There is no such issue observed to test on local env.
Please be informed that these exceptions are on and off, sometimes it happen one time when function gets trigger and sometimes it happ

[2018-12-11 13:37] jongyllen commented on #3854
I reverted to the old TraceWriter, it is obsolete but still working.
Also implemented an ILogger that uses the tracewriter so I don't have to rewrite the logging statements in the function.
Will swap it for the dependency injected version when it is fixed

[2018-12-11 14:36] tbasallo opened #3877 "Time Trigger not Fired"
I have a durable function whose timer trigger is not firing.. I have other app functions set up the same way that work just fine.

#### Investigative information

- Timestamp:
- Function App version: **1.0.24**
- App name: **TimerTestingViaNewDeploy**
- Function name(s) (as appropriate): **RerateTimer**
- Invocation ID: **never fires**
- Region: **east**
- Sub: 24b8....bbc4a

This is a C# function

[2018-12-11 16:03] OliverMartini commented on #3866
This is the case number I have been working on with MS Support, just in case this helps:
- 118110725002413

[2018-12-11 17:06] pauldalyii commented on #620
@cgillum, @odvoskin... Thanks for reconsidering this issue.

Are you able to share an update?  Curious to know if you have an idea on timing.

Thanks again!

[2018-12-11 17:42] cgillum commented on #620
Yes, sorry for the delay! We recently added support for Access-Control-Allow-Credentials. See our announcement here: https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service/.

Here is the note from the documentation:

[2018-12-11 17:42] #620 closed

[2018-12-11 19:07] pauldalyii commented on #620
Thanks for the update @cgillum!  That's awesome.

I understand reasoning behind not allowing `allowedOrigins` to be `'*'` in conjunction with `supportCredentials`.

Would you consider allowing `supportCredentials` to work in conjunction with [.SetIsOriginAllowedToAllowWildcardSubdomains();](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.cors.infrastructure.corspolicybuilder.setis

[2018-12-11 21:45] #3733 closed

[2018-12-11 22:08] brettsam commented on #3733
FYI - the schema is now live: http://json.schemastore.org/host.

Create a new issue if we see any problems with the schema and I can see what I need to tweak.

[2018-12-11 22:54] fabiocav commented on #3810
Apologies for the delayed response. A few questions:

- Where are you setting your breakpoints?
- Did you deploy the symbols with your functions?
- How many instances did you have your service scaled to?

[2018-12-12 00:57] myusrn commented on #3810
@fabiocav, thanks for the followup.

1. I'm setting breakpoints on the opening brace and first line of code in my Function1.cs and Function2.cs implementations.

2.  My publishing profile is set to deploy Debug | AnyCPU output using Zip Deploy because attempts to use Web Deploy throws an error that I've spoken to other users who also get that result when trying to use Web Deploy.  When I look in b

[2018-12-12 02:57] #3765 closed

[2018-12-12 03:32] Scythen commented on #3386
This fails for me in the emulator as well as when deployed targeting anything above .NET Core 2.0

Has the cause been identified?

[2018-12-12 10:03] victoriatrimboli opened #3880 "Azure Function executes twice for same message"
We have a function app with multiple functions. All of them working with Service Bus Topic trigger. Sometimes, the functions execute twice for the same message. I have read that this could be caused due to the message lock expiring, but in the example I provide below we can see that the function took less than 1 second to finish with no errors and then started again after a minute:

![image](https

[2018-12-12 10:08] victoriatrimboli commented on #3880
@paulbatum @mathewc

[2018-12-12 14:00] mikesitch commented on #3854
We also had to suspend moving to 2.2.  Any update on when this will be ready?

[2018-12-12 16:53] joseclament opened #3884 "Entry point was not found. Microsoft.Extensions.Logging.Abstractions when using Log4Net with Azure function app"
Hi,
I am using Microsoft.Extensions.Logging.Log4Net.AspNetCore in my function app for DI and I am getting the following exception on my function app V2.
Entry point was not found. Microsoft.Extensions.Logging.Abstractions
  at Microsoft.Extensions.Logging.ILoggerFactory.AddProvider(ILoggerProvider provider)
   at Microsoft.Extensions.Logging.Log4NetExtensions.AddLog4Net(ILoggerFactory factory, Log

[2018-12-12 17:23] raskhdb opened #3885 "Azure Functions does not retrieve document from CosmosDB based on id from route or query"
Tried following three ways of retrieving documents from CosmosDB using Azure Functions

**_Not working:_**
1. Function1:  Getting document using id=query parameter
2. Function3: Getting Document using id=route parameter

**_Working:_**
 3.  GetAll: Getting all documents using Select* from mycollection

------------------------------------------------------------------------------------------------

[2018-12-12 19:09] paulbatum commented on #3880
Hi @victoriatrimboli, I spent some time looking at our logs but unfortunately I can't get the information I need from them because they do not contain the message IDs. We actually very recently made an improvement in this area, but its not in production yet:
https://github.com/Azure/azure-webjobs-sdk/pull/2021

Right now my recommendation is that you should handle the possibility of duplicates wit

[2018-12-12 20:40] raahmed opened #3886 "Cannot Read Base64 Encoded Message with Queue Trigger"
#### Investigative information

Please provide the following:

- Timestamp: 12:30p, 12/12/2018
- Function App version (1.0 or 2.0): 2.0 (Public Preview)
- Function App name: QueueTrigger (unpublished), ReadFromStorage(unpublished)
- Function name(s) (as appropriate): __init__.py

Please note: The functions are not published yet.

#### Repro steps

Provide the steps required to reproduce the proble

[2018-12-12 21:59] soninaren commented on #3812
Added a new PR with fixes to the unit tests
https://github.com/Azure/azure-webjobs-sdk/pull/2054

[2018-12-12 22:01] soninaren commented on #3812
@pougetat thanks for sending this one, Azure/azure-webjobs-sdk#2051. Not sure why the build for your PR was not running properly.

[2018-12-12 22:12] mawah commented on #3886
Hi @raahmed,

I think this problem can be handled by changing the default `encode_message` function for the QueueService to one designed for base64 encoding. Fortunately there's an appropriate `encode_message` function available in the `azure-storage-queue` package that you're using to submit a message to the queue:

[code]

Hope this does the trick!

[2018-12-12 22:16] brettsam commented on #3847
FYI -- host.json schema has moved to Azure-Functions repo: https://github.com/Azure/Azure-Functions/tree/master/schemas. It still needs to be committed to schema store, but our copy lives there.

[2018-12-12 22:34] brettsam commented on #2091
Closed with #3858

[2018-12-12 22:34] #2091 closed

[2018-12-12 22:34] fabiocav commented on #2475
This should be resolved. Moving this to the next sprint for validation.

[2018-12-12 22:49] fabiocav commented on #3875
Assigning this to sprint 39 for investigation.

[2018-12-13 00:31] fabiocav commented on #3034
@alrod I see this is also flagged for V1, so we may need to open a separate issue to track

[2018-12-13 00:47] dgaynes commented on #3386
OK, sorry I'm an AF noob, I apologize if this is not the same topic but it looks like it might be . . .

I have been attempting to implement this package, my function signature / DI:

([HttpTrigger(AuthorizationLevel.Function, "get", Route = null)] HttpRequest req, [Willezone.Azure.WebJobs.Extensions.DependencyInjection.Inject] ILogger logger, [Willezone.Azure.WebJobs.Extensions.DependencyInjectio

[2018-12-13 02:03] #911 closed

[2018-12-13 03:42] vludax commented on #3814
Thanks @brettsam! There were indeed some records with `itemCount` > 1. We've added the settings you suggested to host.json, and will see how that goes.

We noticed that the only errors we're getting now are 404's from durable functions (/DurableFunctionsHubInstances endpoint), which we assume is unrelated.

We'll will keep inserting records sequentially for now (this opens very few connections), b

[2018-12-13 03:42] #3814 closed

[2018-12-13 05:56] J-tt opened #3888 "Function cannot write to $web container"
#### Investigative information

Please provide the following:

- Timestamp: 13:41 AWST, 13/12/2018
- Function App version (1.0 or 2.0):  2.0.12210.0
- Invocation ID: 42aebb5b-0ac4-44e4-b383-d68f59f4c555
- Region: Australia Southeast

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a Function 2.0
2. Create a GPv2 storage account
3. Setup a static website within the

[2018-12-13 10:45] Glitch0011 commented on #2720
To anyone finding this issue the same way I did, you can add the ILogger via DI as follows:

The following must go in your `Startup.cs`
[code]

This adds `ILoggerFactory` and `ILogger<>` to the DI, which means your resolving classes must use `ILogger` as follows:

[code]

Share and enjoy
Tom

[2018-12-13 18:55] jameshowe opened #3889 "Function still triggers despite being disabled"
Cosmos DB trigger function seems to trigger despite being disabled from the portal.

#### Investigative information

- Timestamp: 2018-12-13 18:38:10.222 (Function was disabled well before this time)
- Function App version (1.0 or 2.0): 2.0
- Function App name: -
- Function name(s) (as appropriate): -
- Invocation ID: d6f8ea19-a0d4-408e-9075-1765af8049a2
- Region: North Europe

#### Repro steps

1

[2018-12-13 20:04] #3847 closed

[2018-12-13 20:18] brettsam commented on #3847
SchemaStore PR is here: https://github.com/SchemaStore/schemastore/pull/597

[2018-12-13 20:44] #3812 closed

[2018-12-13 21:31] aliqaryan2 commented on #3638
I'm still having the same issue after publishing function v2.

[2018-12-14 01:10] fabiocav commented on #3884
@joseclament what version of the Log4Net.AspNetCore are you using and where are you building your container? If you can provide a link to a repro on GitHub, that would be helpful.

[2018-12-14 01:17] fabiocav commented on #3857
@ConnorMcMahon would it be ok to assign this to the current sprint? I'll have it in Triage for now

[2018-12-14 01:17] ConnorMcMahon commented on #3857
Sounds good.

[2018-12-14 01:19] fabiocav commented on #3839
@slim-souissi how are you running the host in your scenario?

[2018-12-14 05:50] myusrn commented on #3810
Gotcha, by default i've been using Consumption based App Service Plan where settings | scale up and scale out [ the number of instances ] options are always grayed out.

I just setup a new instance of function app service with App Service Plan [ / Pay as you Go with Scale up = Production S1 and Scale out = 1 instance count ] selected.

With this setup I get the same result using vs17 | cloud explo

[2018-12-14 07:36] slim-souissi commented on #3839
i configured my back to support cors and it fixed it  . thanks for replying @fabiocav

[2018-12-14 07:36] #3839 closed

[2018-12-14 07:43] mhoeger commented on #3876
You can safely ignore those exceptions as they are expected (root cause is this: https://github.com/Azure/azure-functions-host/issues/3415).

Those exceptions will go away after resolving #3415, but we should also look into seeing if we can get those logs out of the exceptions table in Application Insights too.

[2018-12-14 11:35] raskhdb commented on #3885
It's working now, the code was incorrect. Partition Key excepts a value not the name of the field.
https://social.msdn.microsoft.com/Forums/azure/en-US/cdff15e9-e6ad-4ef8-8a7f-1844a81ac18e/azure-functions-not-returning-document-from-cosmosdb?forum=AzureFunctions

[2018-12-14 11:35] #3885 closed

[2018-12-14 11:41] jaltin commented on #3869
@mathewc, @davidebbo, do you have any ideas about what could cause this?

[2018-12-14 18:34] balag0 opened #3891 "Add user visible logs for failed Run-From-Package deployments."
Currently when a bad zip is used with Run-From-Package, specialization will fail. No user functions will be deployed. Failures are only logged to kusto and there is no way for user to know why the deployment failed.

Add logs that go into app insights / portal log streaming so users can self diagnose.

[2018-12-14 19:41] fabiocav commented on #3810
Thank you for the follow up, @myusrn. We're marking this as triaged and flagging for further investigation.

[2018-12-14 20:18] zavr-1 opened #3892 "Content is returned as { type: 'Buffer', data: [...] } with $return binding"
With
[code]
and bindings
[code]
my CSS file is served properly. When I change the bindings to use `$return`, I get served a buffer in serialised format:
[code]

[code]
[code]

---
Azure Functions Core Tools (2.1.748 Commit hash: 5db20665cf0c11bedaffc96d81c9baef7456acb3)
Function Runtime Version: 2.0.12134.0

[2018-12-14 20:20] tomkuijsten commented on #3804
I have the same issue when binding input/output blob parameters in an Azure Function. I there a workaround that still works with parameter binding in functions?

[2018-12-14 20:25] asavaritayal opened #3893 "Setup integration testing for Linux"
We need a single CI-setup to automatically test compatibility of the Linux images, language workers and Core Tools before each release.

[2018-12-14 21:54] alrod commented on #3889
@jameshowe, it looks like the issue is related to Linux(Preview). You can use windows azure functions as workaround.

[2018-12-14 22:04] brettsam opened #3894 "DynamicFunctionAssemblyLoadContext keeps ScriptHosts from GC"
Doing some memory-leak testing and found that the `DyanamicFunctionAssemblyLoadContext` keeps a reference (eventually) to a `ScriptHost`. Since `AssemblyLoadContext`s live for the scope of the process, this means that these ScriptHosts never go away.

We'll need a way to clean up these contexts when a host recycles, or use weak refs to these objects.

Repro:
- In VS, Debug WebHost locally, with Di

[2018-12-14 22:05] brettsam opened #3895 "Run memory-leak tests: precompiled .NET"
Work item for running manual .NET Precompiled memory-leak scenarios.

[2018-12-14 22:06] brettsam opened #3896 "Run memory-leak scenario: Node"
Work item for running manual Node memory-leak scenarios.

[2018-12-14 22:07] brettsam opened #3897 "Run memory-leak scenario: Java"
Work item for running manual Java memory-leak scenarios.

[2018-12-14 22:09] brettsam commented on #2907
I did some manual investigation here in a v2 csx project and opened a separate issue to track what I found: #3894.

I'm also spawning follow-up tasks for v2 that we'll work into future sprints: #3895, #3896, #3897.

Closing this as it was mostly focused on v1 and it's now split up into smaller chunks.

[2018-12-14 22:09] #2907 closed

[2018-12-14 22:17] two2tee commented on #1063
@fabiocav  Just a stupid question but are there any ways to manually tweak the Maximum request length to a size greater than 100mb?

A client of mine is posting CSV files that may exceed this limit? At the moment I just told him to split the large files up into multiple files, but it would be easier for us to receive the files as a whole.

I have tried to google my way and based on the azure funct

[2018-12-14 23:35] jameshowe commented on #3889
@alrod didn't even think to mention the platform I was on, sorry! Any idea of how likely it is to be fixed? If the ETA isn't all that long I could probably live with it in the meantime.

[2018-12-14 23:47] alrod commented on #3889
@jameshowe, it should be fixed in the GA version of Linux azure functions.

[2018-12-15 05:07] dneelyep commented on #3854
Confirmed that I receive this error as well when moving to .NET Core 2.2/ASP.NET Core 2.2.

[2018-12-16 20:48] andrei-markeev commented on #3747
One addition to this: based on my testing, at least node.js functions don't even correlate with "x-ms-request-id" or "request-id" header provided from client. So in node.js we don't have any possibility to link e.g. custom events or HTTP dependencies with the request.

[2018-12-17 00:41] KonnectSalon commented on #3741
I am also having this same problem. I have been trying to filter our Dependency Tracking as it's costing a large sum of money for data I don't really need.

[2018-12-17 00:52] johndowns opened #3898 "`ClaimsPrincipal.IsInRole` doesn't work with AAD application roles"
When using the EasyAuth `ClaimsPrincipal` binding with an Azure AD token with an application role, the `ClaimsPrincipal.IsInRole()` method always returns false even when the token has the role included.

#### Investigative information

- Timestamp: From December 4 until now (December 17), 2018
- Function App version (1.0 or 2.0): 2.0
- Function App name: applies across multiple (every one I've tri

[2018-12-17 06:05] Flanker32 opened #3899 "EventhubTrigger may not work after deployment unless visit it in portal"
#### Investigative information

Please provide the following:

- Timestamp: 2018-12-17T00:21:40Z
- Function App version (1.0 or 2.0): 2.0
- Function App name:  maven-functions-it-20181217000845413-3
- Function name(s) (as appropriate): EventHubTriggerJava
- Invocation ID:
- Region:West US

#### Repro steps

Provide the steps required to reproduce the problem:
(Unstable reproduce)
1. Create an Even

[2018-12-17 06:06] Flanker32 commented on #3899
@pragnagopa  Please have a view about this issue.

[2018-12-17 11:10] joseclament commented on #3884
@fabiocav  I have resolved the issue.

I was using this on a function app, and I have to register couple more additional things to resolve the Logger properly.The following code helped me to resolve it.

            var services = new ServiceCollection();

            var logFileConfig = SetupLogFileLocation(); // The Log4Net file location

            ILoggerFactory loggerFactory = new LoggerFact

[2018-12-17 11:10] #3884 closed