[2021-08-04 20:16] fabiocav commented on #7533
@pragnagopa this slipped this sprint. Let's chat and get this published out.

Moving to 107 to make sure we don't lose this.

[2021-08-04 20:16] fabiocav commented on #7532
Closing as done.

[2021-08-04 20:16] #7532 closed, assigned to anandagopal6

[2021-08-04 20:20] balag0 commented on #7548
Yes. forgot to close this. closing now. Thanks

[2021-08-04 20:20] #7548 closed, assigned to balag0

[2021-08-04 20:21] fabiocav commented on #7548
Thanks @balag0 !

[2021-08-04 20:21] fabiocav commented on #7516
This has been merged into the feature branch. Closing as done.

[2021-08-04 20:21] #7516 closed, assigned to anandagopal6

[2021-08-04 20:37] fabiocav commented on #5922
@kashimiz leaving this in 106 pending an update. Let me know if this needs to move.

[2021-08-04 20:38] fabiocav commented on #5529
Not assigned in 106. Moving this to sprint 107

[2021-08-04 20:39] fabiocav commented on #5449
Work on this is still in progress. We're still blocked by platform issues on both, Windows and Linux.

@brettsam is driving the investigation and we'll continue to update this issue as we make progress.

Flagging @pragnagopa and @pgombar as this is likely related to another issue they're currently investigating.

[2021-08-04 20:44] karavar commented on #6423
@jesperkristensen Can you please elaborate why User-assigned doesn't work for you in this scenario to access key vault? It should work exactly like system-assigned.

[2021-08-04 20:50] fabiocav opened #7583 "Implement breaking change: Remove FeatureFlag for DisableDevModeInDebug"
Issue to track the breaking change described in https://github.com/Azure/Azure-Functions/issues/1955

[2021-08-04 20:51] fabiocav opened #7584 "Implement breaking change: Remove feature flag for EnableEnhancedScopes"
Issue tracking the change described at: https://github.com/Azure/Azure-Functions/issues/1954

[2021-08-04 20:54] fabiocav opened #7585 "Implement breaking change: Remove HttpClient as a registered service"
Issue tracking change described in: https://github.com/Azure/Azure-Functions/issues/1911

[2021-08-05 01:19] docklander commented on #3266
@instantsquid  my blob is general v2, but i'm still getting exactly same as your description.

any further information? what went wrong here? it's all scripted and worked fine but it started happening after applying new subnet. which i don't think matters

[2021-08-05 08:58] instantsquid commented on #3266
As I mentioned before - I recreated the storage account as "Storage" rather than "StorageV2" and that fixed it. I've not touched it since!

[2021-08-05 09:13] v-bbalaiagar commented on #7539
Hi @qsdfplkj, Apologies for the delayed response, I have tried to reproduce the mentioned scenario. Below are the repro steps:

1.Created function project with Timer trigger function.

![image](https://user-images.githubusercontent.com/74654421/128323051-4579a70e-71e5-409b-baee-06cf5cb335e4.png)

When I debug the app, The function get executed successfully as below and it doesn't returns null.

![

[2021-08-05 09:33] qsdfplkj commented on #7539
Yes, locally it runs fine but on azure it uses the JobHostServiceProvider which cause it to return null. this is because the getrequiredservice checks if the actual serviceprovider implements ISupportRequiredService this is supported by the JobHostServiceProvider. And that one just returns null which is  returned by the getrequiredservice.

From: ServiceProviderServiceExtensions

        public st

[2021-08-05 10:14] v-bbalaiagar commented on #7539
Thank you for your feedback! We will investigate this further and update as appropriate.

[2021-08-05 13:15] jesperkristensen commented on #6423
@karavar Support for user-assigned was not available when I wrote that message. It was added two weeks later at https://azure.microsoft.com/en-us/updates/general-availability-updates-to-secrets-configuration-options-in-app-service-and-azure-functions/

So that has solved one of the two blockers for us to use key vault references. The second blocker is that they are [cached for one day](https://doc

[2021-08-05 16:06] pragnagopa commented on #7559
Tagging @ConnorMcMahon fyi

@balag0  - can you please take a look and follow up?

[2021-08-05 16:25] pragnagopa commented on #7081
@fabiocav  / @brettsam  - Issue has enough details and the work-around is to use earlier versions for `System.Diagnostics.DiagnosticSource` version - 4.7.0

Is there anything we can do to address this issue?

[2021-08-06 11:41] i3anaan commented on #7221
Experiencing this issue as well, downgrading to v4.7.0 worked for us!

[2021-08-06 13:34] ThomasPiskol commented on #3907
So this issue is open since almost 3 years and there's a PR (https://github.com/Azure/azure-functions-core-tools/pull/2258) available since almost one year. It seems that a solution is already available but not yet integrated.

What is blocking you from fixing this issue?

[2021-08-06 13:35] simon-tarr commented on #5663
Also experiencing the same issue. Function app on Linux, deployed via Github Actions. Initial deploy of code worked fine. Subsequent pushes with updates to the function....function app continues to run the old code.

I've poked around the files at https://<func_name>.scm.azurewebsites.net/DebugConsole and can _see_ the new code, so our deployment from Github has clearly worked successfully (also v

[2021-08-06 14:04] v-bbalaiagar commented on #6786
Hi @soninaren, Can you kindly look into this.

[2021-08-06 14:17] v-bbalaiagar commented on #6788
Hi @pacodelacruz, Apologies for the delayed response, the issue was somehow lost in the trace. Could you please confirm if the issue is not on the azure functions host, can we close this issue here.

[2021-08-06 14:25] v-bbalaiagar commented on #6804
Hi @rggammon, Apologies for the delayed response, the issue was somehow lost in the trace. Were you able find a solution? do let us know if a follow up is required. I shall follow with the right team members to resolve this issue.

[2021-08-06 16:01] ghost commented on #6456
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-06 16:01] ghost commented on #6418
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-06 16:31] ggailey777 opened #7587 "Remove APPINSIGHTS_INSTRUMENTATIONKEY from app settings creation"
During the transition to the new Application Insights connection string setting (`APPLICATIONINSIGHTS_CONNECTION_STRING`), we've been continuing to also add the legacy `APPINSIGHTS_INSTRUMENTATIONKEY` setting. We're starting to see customers comment on this and there's confusion because of [this statement in the App Insights docs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/sdk-connec

[2021-08-06 18:02] rggammon commented on #6804
The solution from Gary linked to above is a good work-around, but it would be great to have a library that can be used server-side without the native dll dependency, since it is the native dll dependency that breaks the library in the azure functions scenario.
eg: it would be great if the library could still load and make network calls, even if Microsoft.CognitiveServices.Speech.core.dll is not pr

[2021-08-06 19:00] #7116 closed, assigned to madelinegordon, v-bbalaiagar

[2021-08-06 19:01] ghost commented on #6562
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-06 19:01] ghost commented on #6532
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-06 19:01] ghost commented on #6505
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-06 19:01] ghost commented on #6325
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-06 20:20] ojintoad commented on #7478
Any update here?

I can recreate in:

* Chrome
* Edge
* Firefox

quite readily. I can recreate in firefox with troubleshoot mode as well.

[2021-08-06 21:10] mattc-eostar commented on #6557
Even something like this would very helpful and wouldn't require templating or a new api
https://danielk.tech/home/net-core-api-server-how-to-create-a-base-crud-controller

[2021-08-06 23:19] yojagad opened #7590 "Erroneous dispatcher state when webhostLanguageWorkerProcess doesn't come up"
Language worker processes can fail to come up during runtime startup.

An example of successful process startup is
![image](https://user-images.githubusercontent.com/26885664/131417662-a34bbb01-41f7-4c90-9b8b-a8ffa7c8c34d.png)

An example of unsuccessful process startup is
![image](https://user-images.githubusercontent.com/26885664/131417707-0f82fa31-aa0b-4336-ab23-6207123a9c8f.png)

In the second

[2021-08-07 00:09] mathewc opened #7591 "BlobStorageSecretsRepository Write failure should fail key creation request"
We're seeing cases where a PUT to admin/host/functionkeys/testkey0 succeed and return 201 created, even though there was an exception thrown from the blob persistence logic [here](https://github.com/Azure/azure-functions-host/blob/91b7d1c780f2e040d32b02b38f6af5bab4799c96/src/WebJobs.Script.WebHost/Security/KeyManagement/BlobStorageSecretsRepository.cs#L191). So somewhere upstream we must be swallo

[2021-08-07 01:41] balag0 commented on #7798
Fixing this needs more changes than just updating the logic in this repo. Correct fix is to make sure the appsettings are created with the right case to begin with.

[2021-08-07 10:00] ghost commented on #6947
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-07 10:01] ghost commented on #6945
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-07 10:01] ghost commented on #6779
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-07 10:01] ghost commented on #6683
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-07 11:21] philtweir commented on #6532
Yes, thanks @v-anvari - we switched to Kubernetes.

I hope the detailed info on the faulty PR was helpful to your team nonetheless!

[2021-08-09 08:48] mindraptor commented on #3998
I'm surprised this is still happening. I can confirm the double escaping %252f does work. Shouldn't this be fixed?

[2021-08-09 10:00] ghost commented on #7488
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-09 10:00] ghost commented on #7102
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-09 10:44] mithunshanbhag commented on #3907
@ThomasPiskol: I think, the originally submitted PR needs to be rebased against the latest main branch updates.

CC: @anthonychu who submitted the original PR.

[2021-08-09 10:56] readnikhil commented on #7102
Hi , Yes it is still an issue .
So it does not work with this code .
private static readonly JsonSerializerSettings _jsonSerializerSettings = new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore };

return new JsonResult(objectofclass , _jsonSerializerSettings);

This has worked before but suddently stopped working in all the solutions when they were redeployed .

[2021-08-09 11:14] v-bbalaiagar commented on #7102
Hi @readnikhil, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-08-09 11:17] v-bbalaiagar commented on #6804
Hi @rggammon, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-08-09 12:28] spplante opened #7592 "Could not load file or assembly 'Microsoft.IdentityModel.Tokens, Version=6.12.0.0..."
Hi there,

Simply trying to use **Microsoft.Identity.Web** nuget with a brand new Azure Function v3 and I get dependencies issues at build/or runtime depending on the version of the nugets.

- Create a brand new Azure Function v3
- Add the latest **Microsoft.Azure.Functions.Extensions**
- Add the latest **Microsoft.Identity.Web** nuget

**Packages**
[code]

**Startup.cs**

[code]

**Function1.cs**

[2021-08-09 15:49] ConnorMcMahon commented on #7559
Taking a look.

[2021-08-09 17:05] v-bbalaiagar commented on #7578
Hi @eranjbarSuncor, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-08-09 19:00] #6456 closed, assigned to gzuber, v-anvari

[2021-08-09 19:00] #6418 closed, assigned to v-anvari

[2021-08-09 22:00] #6562 closed, assigned to pragnagopa, v-anvari

[2021-08-09 22:00] #6505 closed, assigned to v-anvari

[2021-08-09 22:00] #6325 closed, assigned to mhoeger, v-anvari

[2021-08-10 00:00] ConnorMcMahon commented on #7559
I have identified the bug and have a fix for it that we are working on testing. It will likely be some time before it is deployed.

In the meantime, this can be mitigated by going to resources.azure.com, navigating to /sites/config/authsettingsv2, and posting a null body. This will disable EasyAuth, and the classic experience can be used to enable the feature.

Thanks for bringing this to our atte

[2021-08-10 05:45] nuntipat commented on #7559
@ConnorMcMahon Thank you for the update. I'm looking forward to test again after the fix is deployed. Meanwhile, could you please confirm whether this will fix my other related [issue](https://github.com/Azure/static-web-apps/issues/512) in the Static Web App repository.

[2021-08-10 10:39] v-bbalaiagar commented on #7592
Hi @spplante, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-08-10 10:47] codebrane opened #7596 "Azure Function configuration does not get latest version of Key Vault secret"
A function that initially has a versioned Key vault Reference in its Configration never reads the current version after a configuration change.

#### Repro steps

Create a function with a versioned Key vault Reference of the form:

`TheSecret`
`@Microsoft.KeyVault(SecretUri=https://name.vault.azure.net/secrets/TheSecret/__version__)`

and in the Function:

[code]

The first time the function runs

[2021-08-10 10:49] v-bbalaiagar commented on #6748
Hi @mountain65, Apologies for the delayed response, the issue was somehow lost in the trace. I am able to reproduce the mentioned scenario exactly. We will check for the possibilities internally and update you with the findings.

[2021-08-10 10:54] codebrane commented on #7596
I came across [this issue](https://stackoverflow.com/questions/55487930/key-vault-value-does-not-update-if-value-changes-in-secret-as-it-generates-new-v) that suggests restart doesn't work and start/stop is required but that doesn't work either.

[This issue](https://stackoverflow.com/questions/61026882/issue-with-azure-function-configuration-object-caching) also describes the observed behaviour.

[2021-08-10 11:38] codebrane commented on #7596
The specific version of the secret that is being read is disabled in the Key Vault and the only other place that version is referenced is in local.settings.json which isn't published.

[2021-08-10 12:04] spplante commented on #7592
Thanks!

[2021-08-10 12:30] v-bbalaiagar commented on #6802
Hi @oleksandr-slys, Apologies for the delayed response, the issue was somehow lost in the trace. Let us know if you are still facing the same issue, if yes please provide us the latest invocation id and region so that we see the backend logs to check the cause.

[2021-08-10 12:32] v-bbalaiagar commented on #6676
Hi @ankurshah12, Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required.

[2021-08-10 13:00] #6947 closed, assigned to v-bbalaiagar

[2021-08-10 13:00] #6945 closed, assigned to gzuber, v-bbalaiagar

[2021-08-10 13:00] #6779 closed, assigned to yojagad, v-bbalaiagar

[2021-08-10 13:00] #6683 closed, assigned to mhoeger, v-bbalaiagar

[2021-08-10 13:30] ivo-toby opened #7597 "isPastDue always false (TypeScript, node.js 12LTS)"
The value for `isPastDue` never changes to true as one would expect when a timerTrigger runs and the trigger actually is past due.

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version: `3.1.4-4 Commit hash: a2aa233e493e91a163fc4f60302dabe8c380d67a`
- Function App name: `TobyTimer`
- Function name(s) (as appropriate): `TimerTrigger1`
- Invocation ID: `

[2021-08-10 13:32] ivo-toby commented on #7597
Attached the templates exported from the Azure portal, used to test the function

[ExportedTemplate-TobyTimer-functions.zip](https://github.com/Azure/azure-functions-host/files/6962031/ExportedTemplate-TobyTimer-functions.zip)
[ExportedTemplate-TobyTimer-appserviceplan.zip](https://github.com/Azure/azure-functions-host/files/6962032/ExportedTemplate-TobyTimer-appserviceplan.zip)

[2021-08-10 13:49] #7597 closed, assigned to brettsam

[2021-08-10 14:23] v-bbalaiagar commented on #7539
Hi @qsdfplkj, Can you please provide the standalone repro that will help us to investigate this issue much easier.

[2021-08-10 14:29] qsdfplkj commented on #7539
I tried and it wasn’t able. Maybe I could if I would have a nugget package that contains the JobHostServiceProvider somehow I can’t get it from nuget.org. Or Maybe I need to checkout this source. I can try. But I described in detail my issue. What details are you missing??? Maybe I can try later in a few days or so.

[2021-08-10 14:44] v-bbalaiagar commented on #7596
Hi @codebrane, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.
Meanwhile, Can you please go through the [SO ](https://stackoverflow.com/questions/62496934/azure-function-app-use-latest-version-of-key-vault-secret-via-application-settin)which addresses similar scenario.
Please check and let us know if this helps.

[2021-08-10 16:43] anandagopal6 opened #7598 "RpcFunctionInvocationDispatcher should have a single responsibility"
`RpcFunctionInvocationDispatcher.cs` currently initiates the GRPC channel initialization process. This service should ideally focus on invoking functions rather than starting up the communication channels. To support the single responsibility principle, the channel initialization logic should be moved out into a separate service that is called first before calling on the invocation dispatcher to s

[2021-08-10 17:10] tomkerkhove commented on #7507
Any update on this?

[2021-08-10 19:32] pgombar opened #7599 "Python is not included in the languages allowed for placeholder pools"
#### Repro steps

In `ShouldStartAsPlaceholderPool`, if a worker runtime is set and placeholder mode is enabled, we check a list of languages to determine if we should start the placeholder language channel. Python is currently not on the list, when it should be.

#### Expected behavior

Python worker channel should start up in placeholder mode.

#### Actual behavior

Python worker channel does no

[2021-08-10 20:02] #7599 closed, assigned to pgombar

[2021-08-11 07:35] IanKemp opened #7601 "_FunctionsSkipCleanOutput/FunctionsSkipCleanOutput/FunctionsPreservedDependencies are solutions to a problem created by the Functions team"
At my employer, the developers have hit our collective heads on the dreaded "Could not load file or assembly..." error so many times that policy is to ensure that `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` is added to any Azure Functions csproj any time a new function app is created.

The fact that this is necessary, at all, ever, is a monumental failing on the part of the Funct

[2021-08-11 10:39] Schuer84 commented on #5098
Any updates on this one? We registered our DbContext as scoped, but we noticed, if we start multiple http requests, the context gets shared between the different requests, which leads to threading issues:

{
  type: 'NotSupportedException',
  message: "A second operation started on this context before a previous asynchronous operation completed. Use 'await' to ensure that any asynchronous operatio

[2021-08-11 11:02] thiensk opened #7602 "Removal of X-Powered-By HTTP header for Azure Functions v1 on Consumption plan"
#### Is your question related to a specific version? If so, please specify:
Azure Functions **V1.x** on **consumption plan**, HTTP triggered

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
We are using multiple azure functions (V1, consumption plan) which are http triggered. Recently we underwent a security scan and the result of it is a task to

[2021-08-11 11:44] codebrane commented on #7596
thanks for that. I can work round it using the new format for code access to Key Vault:
[code]

[2021-08-11 12:18] akhilnegi opened #7603 "Azure function started failing intermittently --> python exited with code 1"
For a couple of days, my azure functions app is failing intermittently with the below error logs:

[code]

Can somebody help?

Thanks
Akhil Negi

[2021-08-11 12:36] jaltin opened #7604 "Controlling scale out alternatives?"
I see that there are several options for controlling scale out:

**1 - functionAppScaleLimit** (https://github.com/MicrosoftDocs/azure-docs/blob/4f0990d78d5ece72d35a83b2f8d52a78fe425765/articles/azure-functions/event-driven-scaling.md#limit-scale-out)

**2 - WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT** (https://github.com/MicrosoftDocs/azure-docs/blob/4f0990d78d5ece72d35a83b2f8d52a78fe425765/articl

[2021-08-11 12:45] UsmanMohammad commented on #6239
It's quite short-sighted for them to assume only `Development`, `Staging` and `Production` are the only environment names used by people.

What I've done is to just ignore "AZURE_FUNCTIONS_ENVIRONMENT" and built my configuration this way

        private IConfiguration _configuration;
        private string _environmentName;
        public override void ConfigureAppConfiguration(IFunctionsConfigur

[2021-08-11 14:21] SashiDareddy commented on #364
2021 and still waiting for this feature.

[2021-08-11 16:58] fabiocav commented on #5098
@Schuer84 can you please open a separate issue with those details so we can take a closer look at your scenario? We have no evidence that with the changes made behind the flag still have issues with scoped services, so it would be good to rule other things out.

Thanks!

[2021-08-11 17:10] Schuer84 opened #7605 "Scoped registrations resolve same instance between multiple httprequests"
We registered our DbContext as scoped, but we noticed, if we start multiple http requests, the context gets shared between the different requests, which leads to threading issues:

{
type: 'NotSupportedException',
message: "A second operation started on this context before a previous asynchronous operation completed. Use 'await' to ensure that any asynchronous operations have completed before call

[2021-08-11 18:10] balag0 commented on #7604
functionAppScaleLimit is the way to go. functionAppScaleLimit replaces WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT.

[2021-08-11 18:37] BrianVallelunga commented on #6557
Our need is essentially the same. On startup, we want to create functions that listen to a set of queues based on the tenants we have. Being able to dynamically register our own functions would be perfect for this. We can't do this with a T4 template, because this isn't known at compile time.

[2021-08-11 20:13] soninaren commented on #7605
@Schuer84 is there a way for you to share a simplified repro. That would help us understand the problem and guide you better.

[2021-08-11 20:14] Cmohan commented on #5854
I am having this same issue. Almost all of Microsoft's services in Office and Azure seem to be artificially limited at 100MB. That make sense for consumer apps like Power Automate and Power Apps that are free, but it doesn't make sense for Azure apps like Functions or Logic Apps that are paid services. Is there any plan to allow larger requests or remove the limits entirely?

[2021-08-11 21:42] #2143 closed

[2021-08-11 21:58] pgombar opened #7607 "Python language worker channel not getting recycled on file-edits"
#### Repro steps

When editing function files (which triggers a PUT request to VFS API), the file watcher should send a signal to the host to restart the language worker process and channel. This works on Node, Powershell, etc., but not on Python. The result is the host not picking up the file changes.

#### Expected behavior

Expectation is for the host to kill the existing worker process and cha

[2021-08-11 23:11] #7607 closed, assigned to pgombar

[2021-08-12 00:12] ConnorMcMahon commented on #7559
This should also fix your static web app issue, as linking your function app to Static Web Apps uses the Authentication feature behind the scenes.

[2021-08-12 06:41] Schuer84 commented on #7605
I'll see what I can setup this evening, it might take some time to setup properly.
Some background info:

We noticed that the scoped registrations weren't being scoped, as in, a dbcontext was getting created twice per request. This caused troubles for some commandhandlers that were having multiple dependencies which also depended on the context.
So we enabled the flag "AzureWebJobsFeatureFlags": "

[2021-08-12 10:21] v-bbalaiagar commented on #7603
Hi @akhilnegi, Transferring this issue to python worker for further investigation.

[2021-08-12 12:45] johol545 commented on #3153
Related to https://github.com/Azure/azure-functions-core-tools/issues/2442

@paulbatum, will this issue be picked up from the backlog where it's been for more than 3 years now? :-)

[2021-08-12 13:00] #7488 closed, assigned to madelinegordon, v-bbalaiagar

[2021-08-12 16:45] v-bbalaiagar commented on #7445
Hi @brettsam, Can you please confirm if we have an issue tracking incidents in this.

[2021-08-12 16:59] Schuer84 commented on #7605
I've managed to reproduce the issue [here](https://github.com/Schuer84/ScopedRegistrationsRepro)
The problem is, with the enanhced flag enabled,  I registered a Singleton which has a dependency on the IServiceProvider. (see the registration of IMessageProvider in the startup)
What I find weird, is that I have two classes that require a IServiceProvider
There seem to be 2 instances of a service pro

[2021-08-12 17:13] v-bbalaiagar commented on #7578
Hi @eranjbarSuncor, I checked on this issue internally and they suggested you to reach out to support. This seems like a production impacting issue and, it's just not the best form for you to file these kinds of issues, particularly with issues that are so specific in configuration.

[2021-08-12 17:52] v-bbalaiagar commented on #7602
Hi @thiensk, Thank you for your feedback, I checked on this issue internally, the only recommendation we can provide here is to move V3 or V4 at this point.
We would be good to understand why you are unable to move to V2, V2 is not a recommended version to be moving to at this point, so it will be V3 or V4, We can provide an answer here stating that this is not a change that we're planning to make

[2021-08-12 17:59] v-bbalaiagar commented on #7610
Hi @Sti2nd, Transferring this issue to function host for further investigation.

[2021-08-12 18:11] v-bbalaiagar commented on #7102
Hi @readnikhil, Can we know what version of package you are using.

[2021-08-12 19:13] gabesmsft opened #7655 "Azure Functions V4 (.NET 6.0) early preview - unable to create Functions if IDE previously had an earlier Core Tools version"
If I install the Functions v4 runtime and .NET 6 preview on a machine that previously had an earlier Functions Core Tools install (eg v3), I get the following error when I try to add a Function to the project.
No templates found matching: 'HTTPtrigger'.
To list installed templates, run 'dotnet new --list'.
To search for the templates on NuGet.org, run 'dotnet new HTTPtrigger --search'.

Error crea

[2021-08-13 07:14] f0o opened #7615 "Application Insights not recognising logLevel settings in host.json (Reopening of #5250)"
See #5250

Same thing, but with NodeJS.

I'm facing idle cost of 50 USD/Day for meaningless trace level logs the likes of:
[code]

Configuration was set to:
[code]

Function statically returns `Hello World`:
[code]

Each HTTP Request triggers 5 lines of TRACE level entries quickly piling up to GB worth of logIngestion in a day with just basic WebTest monitoring. None of those lines should've been

[2021-08-13 09:06] jaltin commented on #7604
Thanks for verifying that @balag0. Closing this issue.

[2021-08-13 09:06] #7604 closed, assigned to kashimiz

[2021-08-13 16:34] ConnorMcMahon commented on #7559
Workaround to downgrade to classic auth experience, which does not have this issue:

Note that the below can be done via raw ARM requests, a tool like azrest, or our browser ARM experience at https://resources.azure.com.

1. Retrieve the current settings at `/subscriptions/<subid>/resourceGroups/<resource-group>/providers/Microsoft.Web/sites/<sitename>/config/authsettings` with a POST command. Sto

[2021-08-13 22:00] #6788 closed, assigned to brettsam, v-bbalaiagar

[2021-08-14 02:49] dehghanfar commented on #6769
this fixed my issue:

To uninstall dotnet core from macOS:

download dotnet-uninstall-pkgs.sh from https://github.com/dotnet/sdk/blob/main/scripts/obtain/uninstall/dotnet-uninstall-pkgs.sh
make dotnet-uninstall-pkgs.sh executable
execute dotnet-uninstall-pkgs.sh as root (requires superuser privileges to run).
curl -O https://raw.githubusercontent.com/dotnet/sdk/main/scripts/obtain/uninstall/dotnet

[2021-08-14 13:00] ghost commented on #6802
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-14 13:00] ghost commented on #6676
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-14 14:08] 4c74356b41 opened #7617 "Runtime fails to serialize json into hashtable"
#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a powershell function with the following parameters
![image](https://user-images.githubusercontent.com/16194643/129448733-fef8d7e3-2d6a-4ee9-92f9-f46f2efbf156.png)
2. add an http trigger function with the sample code:
[code]
3. call the function with something like this:
[code]

#### Expected behavior

Function shoul

[2021-08-14 14:38] EthanSK commented on #4527
This is still a problem...

[2021-08-16 04:26] ADH-LukeBollam commented on #7525
hi @v-anvari , our app has crashed again from what I appears to be OOM (logs stopped, followed by a restart with no errors) and I was hoping I could get some more information to help me to try and fix this. This occurred over a few days, over many executions.

![image](https://user-images.githubusercontent.com/24449147/129510712-8df13c39-3253-4205-a240-82e65ec8dff2.png)

Our function is parsing la

[2021-08-16 07:34] oleksandr-slys commented on #6802
@v-bbalaiagar hi! thank you for feedback! I need a bit time to grab the latest case when it has happened.

[2021-08-16 07:37] readnikhil commented on #7102
[image: image.png]

On Thu, Aug 12, 2021 at 8:11 PM v-bbalaiagar ***@***.***>
wrote:

[2021-08-16 08:31] paulhickman-a365 commented on #7210
Thanks for the tip. It is due to a connection string, but it is a service bus connection string rather than a cosmos one. I can't see the equivalent code to use the Options as a backup source of configuration in the binding class for that trigger type - it just passes the parameter to the INameResolver provided by the caller.

[2021-08-16 08:40] v-bbalaiagar commented on #6802
Thank you for the update @oleksandr-slys

[2021-08-16 10:59] v-anvari commented on #6532
Thank you for the confirmation. please feel free to reach back to us or re-open this issue in case of any queries.

[2021-08-16 10:59] #6532 closed, assigned to nobody

[2021-08-16 13:26] tomkerkhove commented on #7507
Is there a reason why people were unassigned @fabiocav?

[2021-08-16 13:39] spplante commented on #7592
@v-bbalaiagar  any update on this? Thanks!

[2021-08-16 14:12] AsgerPilegaard opened #7618 "InvalidOperationException: Did not find any initialized language workers"
 This issue can be seen as a continuation of https://github.com/Azure/azure-functions-host/issues/6931.

Message: `Exception while executing function: Functions.keepAlive Did not find any initialized language workers`
Failed Method: `Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcFunctionInvocationDispatcherLoadBalancer.GetLanguageWorkerChannel`

  The exception is seen in our http triggered, timer

[2021-08-16 16:31] v-bbalaiagar commented on #7592
Hi @spplante, Apologies for the delayed response, I checked on this issue internally. This is not a supported assembly in the current version of the host. This is flagged as a runtime restricted assembly. This is essentially combined with the framework assemblies, so it's interpreted as a framework assembly, you have to align with the framework version that is supported by the runtime.

[2021-08-16 16:54] spplante commented on #7592
@v-bbalaiagar Not sure I understand, you are saying the **Microsoft.Identity.Web** assembly is not supported in the current version of the host because it is for some reason being interpreted  as a framework assembly?

And what do you mean by I have to align with the framework version that is supported by the runtime? The runtime runs .NetCoreApp v3.1 and the **Microsoft.Identity.Web** supports .N

[2021-08-16 17:08] v-bbalaiagar commented on #7615
Hi @f0o, Triaging this issue as it requires investigation.

[2021-08-16 19:00] ghost commented on #7602
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-17 07:26] naokoshiiba opened #8504 ""Initializing worker process failed" in Azure Functions Core Tools"
I have been having this error after runnning "func start" locally:

[code]
I have updated Functions Core tools from v2 to v3, but the error continues.
It is the simple function that was made by "func int" and "func new" (node, typescript, HttpTrigger).

My Function Tools Version is :
[code]

My node version is :
[code]

I know the node version is old, but on the other environment that has same ver

[2021-08-17 09:56] thiensk commented on #7602
Thanks.. I am new at this project but I guess it's a situation that if it works it works, do not touch it until it's not really urgent.. Will propose the upgrade then..

[2021-08-17 09:56] #7602 closed, assigned to nobody

[2021-08-17 10:00] ghost commented on #7578
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-17 12:14] v-bbalaiagar commented on #7596
Hi @codebrane, Apologies for the delayed response. Were you able find a solution? Let us know if you have any further queries related to this issue. I shall follow with the right team members to resolve this issue.

[2021-08-17 13:00] #6676 closed, assigned to soninaren, v-bbalaiagar

[2021-08-17 13:47] codebrane commented on #7596
I only have the manual workaround above as the function configuration doesn't read the latest secret version. It reads it once and not again.

[2021-08-17 13:51] nazar-kuzo commented on #6805
@brettsam @kamalsivalingam @espray
I have a workaround for you.

I drilled down investigating what is causing this issue and found out that Azure Function Host has internal logic that is calling "builder.Services.AddAuthentication()" after the client Startup.cs is executed and since in your Startup.cs is already present "builder.Services.AddAuthentication()" the internal one will be ignored.

Here

[2021-08-17 17:23] invisibleaxm commented on #364
Any chance you we can get an update?

[2021-08-17 18:44] espray commented on #6805
@nazar-kuzo Awesome ✨
I have not looked at this for a few months.
I was trying to host Identity Server  in an AzFunc, Yes I used Dynamic Schema https://github.com/Azure/azure-functions-host/issues/4485#issuecomment-496268259 as well. But, I did not use `IExtensionConfigProvider` like you did with adding the schema, as I had the same problem with adding the schema to the IAuthenticationSchemeProvid

[2021-08-18 09:20] nazar-kuzo commented on #6805
@espray

-  Do you know if isolated AzFunc have the same problem with AddAuthentication(), I assume they dont?
- Have no experience working with it but I assume it is not a problem since the hosting model is different (more like regular app service), but I dont know for sure

- Is it safe to call AddWebJobs() in an AzFunc startup, any side effects from calling this?
- Based on my experience - Yes,

[2021-08-18 10:48] FinVamp1 commented on #7618
As discussed in discussions with the issue owner via email.

**Issue Summary**

Your Azure Functions apps implemented with Java will intermittently get into an invalid state where each Function invocation will result in an error “Did not find any initialized language workers”.
This issue happens just after the Functions start-up and will persist on the worker machine hosting that Azure Function ap

[2021-08-18 13:49] mikelor commented on #7655
I have this problem with a new install (no prior Functions runtime v3 or otherwise install).
  * dotnet --version shows 6.0.100-preview.7.21379.14
  * func --version shows 4.0.3687

[code]

I install using the Microsoft.Azure.WebJobs.ItemTemplates
[code]
And when I do a dotnet new --list, it shows up
[code]
However the func new still fails, and then with I do the above command the HttpTrigger no l

[2021-08-18 14:33] v-bbalaiagar commented on #7071
Hi @staterium, Apologies for the delayed response, Were you able to find a solution. Let us know if you are still seeing these error.

[2021-08-18 14:35] staterium commented on #7071
Hi @v-bbalaiagar

Since I changed the build agents to use separate Windows accounts, the issue has not reappeared. I am not able to confirm if it will reappear if I change it back.

[2021-08-18 16:58] spplante commented on #7592
@v-bbalaiagar sorry for bumping this but I can't go in prod without securing my Function App so it kinda is a show stopper for me here so I want to make sure I fully understand what you said 👍

[2021-08-18 17:17] v-bbalaiagar commented on #7071
Hi @staterium, Thank you for the update, if you could resolve it can we close this issue?

[2021-08-18 20:06] fabiocav commented on #7590
@yojagad I see there's a PR open for this, so I'm leaving in 107, but let me know if you need to move.

[2021-08-18 20:08] fabiocav commented on #7582
Closing as the work being tracked here has been completed.

[2021-08-18 20:08] #7582 closed, assigned to anandagopal6

[2021-08-18 20:08] fabiocav commented on #7533
@pragnagopa will reach out, but should have this published today.

[2021-08-18 20:15] fabiocav commented on #7452
Moving this to 108 as we're still working with other teams to get feedback and work through the design

[2021-08-18 20:21] fabiocav commented on #5449
This is still blocked. @brettsam is currently driving the investigation.

[2021-08-18 20:36] fabiocav commented on #7554
We now have a repro with all the details/information we need. Closing this issue as we'll continue to track progress using #7555

[2021-08-18 20:36] #7554 closed, assigned to pragnagopa

[2021-08-18 20:39] fabiocav opened #7622 "Tracking issue for Azure SDK (Storage Extension) work"
Issue tracking the work for: https://github.com/Azure/azure-sdk-for-net/issues/23344

[2021-08-18 20:39] fabiocav commented on #7622
@cachai2 FYI, @madelinegordon will look at this in 108 to see if this is something we can close this sprint.

[2021-08-19 00:12] gzuber opened #7624 "ExtensionsMetadataGenerator needs to include dlls for App Insights Extension by default"
We need to make sure to include "Microsoft.Azure.WebJobs.Logging.ApplicationInsights.dll" in ExtensionsMetadataGenerator so it's not pruned by default. This DLL is being moved to the App Insights Extension rather than the Host itself, so it's being treated differently.

As of right now, for someone to use the App Insights Extension, they would have to add this dll as a "FunctionsPreservedDependenc

[2021-08-19 02:22] gzuber commented on #7624
Also needed to add "Microsoft.ApplicationInsights.dll"

[2021-08-19 07:26] staterium commented on #7071
Hi, I don't consider my workaround to be a resolution of the underlying issue. I'll leave the decision to close with you.

[2021-08-19 11:58] v-anvari commented on #7221
Hi @trailmax , 5.X.X versions are supported and were explicitly released for .Net 5. .Net core 3.xx or lesser do not support the 5.x.x versions. So downgrading the versions to below 5.x.x is the solution. Closing this issue as the required information is provided.

[2021-08-19 11:58] #7221 closed, assigned to nobody

[2021-08-19 15:41] smokedlinq commented on #7238
I get this under load in Azure Functions running v3 runtime and the dotnet-isolated worker. Happens when an EventHubTrigger has to process a large number of requests.

[2021-08-19 16:32] v-anvari commented on #7587
Tagging @fabiocav / @brettsam , for further inputs

[2021-08-19 16:44] fabiocav commented on #7218
This has been fixed in the latest version of the metadata generator. I don't believe the SDK has been updated to reference this latest version, so that needs to be done, but in the meantime, an explicit reference to https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator/1.2.3 would address the issue.

[2021-08-19 16:51] v-anvari commented on #7601
Hi @IanKemp , Thank you for your feedback,  We apologies for the inconvenience, We understand that there are lot of gaps that are being slowly addressed, and make sure they work. The isolated model is another way of approach with a  better experience and although there are gaps today, It's a lot more aligned with the way that net stack typically works.

[2021-08-19 16:59] v-anvari commented on #7210
Hi @paulhickman-a365 ,  To the question of why we can't implement these changes in consumption plan is here. The nature of consumption is that we scale your applications output 0 so you don't have to pay. When we scale your application down to zero, you application is not available to provide configuration information to the infrastructure.

In Premium plan, the requirement is that the instance is

[2021-08-19 17:23] Zarick commented on #6423
@paulbatum I deployed this with Linux/Java runtime. Is it possible to verify the download of the extension within the container? Does the host download this at a certain location?

I can only see the normal (nor preview) under /FuncExtensionBundle I can only see Microsoft.Azure.Functions.ExtensionBundle/3.0.0 but I do not see something like Microsoft.Azure.Functions.ExtensionBundle.Preview/3.0.0

[2021-08-19 17:29] Zarick commented on #6423
There is some confusion on the actual configuration key naming.

For value like AzureWebJobsStorage__accountName, what does "accountName" means there? Why do we need this in additions to serviceUri?

And regarding AzureWebJobsStorage__serviceUri, as mentioned a few times above and the [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#connection-values), it

[2021-08-19 18:16] mattchenderson commented on #6423
Agreed that docs could be better here. We'll work on improving that. Let me know if the following is helpful at all.

`accountName` would be an alternative to `serviceUri`. The idea here is to allow for the different services from the storage account. AzureWebJobsStorage gets used for blobs and queues in some cases. `accountName` is generally going to be the easiest option - it defaults in the DNS

[2021-08-19 19:45] mateus-de-castro commented on #7210
Hi @v-anvari, around that. In my case I just want to use a static config, that won't change or at least I understand that the instances configuration won't change automatically, if I update a secret on my key vault for example (which is actually the case for the cosmos connection string). I think that right now you want to explicit that behavior so you throw an Error.

The problem is: the way it's

[2021-08-19 22:03] balag0 opened #7625 "PUT /admin/functions/{funcName} should return 400 if file system is readonly"
Check file system status using
https://github.com/Azure/azure-functions-host/blob/a90271a7430af9bb8ba0554461927151301226ad/src/WebJobs.Script/Config/ScriptApplicationHostOptions.cs#L35

Changes needed would be similar to how appoffline is implemented.

[2021-08-20 00:24] #6234 closed, assigned to nobody

[2021-08-20 01:15] pgombar commented on #7555
Scenario working after this fix: https://github.com/Azure/azure-functions-dotnet-worker/pull/583

[2021-08-20 07:23] TanyaMykhnevych commented on #5841
Is there any updates?

[2021-08-20 10:00] ghost commented on #6802
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-20 10:08] AnuragSingh-MSFT opened #7626 "dotnet runtime rid not being considered causing incorrect "platform dependent" assembly load from nuget package"
Summary:
Runtime: .NET 3.1
OS: Windows
Language: C#
Sdk: Microsoft.NET.Sdk.Functions v3.0.13

Unable to create PerformanceCounter after upgrading Nuget "System.Diagnostics.PerformanceCounter" from version 4.7.0 to 5.0.0, and it fails with error below:

System.PlatformNotSupportedException : Performance Counters are not supported on this platform.
Assembly: System.Diagnostics.PerformanceCounter, Ve

[2021-08-20 11:40] v-anvari commented on #7210
Hi @mateus-de-castro, Are you using the consumption plan as well

[2021-08-20 12:25] christophwille opened #7627 "Could not evaluate 'Cosmos.CRTCompat.dll' for extension metadata"
[code]

This is a project using Microsoft.NET.Sdk.Functions 3.0.11 and has published nicely in the past. The only seeming difference is VS 16.11. I have seen the older bug issues in this repo, and yes, 3.0.13 exhibits the same behavior. How can I resolve this?

[2021-08-20 12:29] christophwille commented on #7627
Oh, missed this one: https://github.com/Azure/azure-functions-host/issues/6899#issuecomment-870556406

[2021-08-20 12:47] #7555 closed, assigned to fabiocav

[2021-08-20 13:00] #7578 closed, assigned to madelinegordon, v-bbalaiagar

[2021-08-20 15:09] attrib75 commented on #7393
Getting this as well

[2021-08-20 16:14] saint222 opened #7628 "Durable function: delays between activity task being scheduled and being run"
Hello, Community!

**Description**

We are currently using Azure durable function with some activities within it. Almost all patterns are in use (chaining, fan-out/fan-in etc.). Our function is running on P1V3 service plan.
So, while testing we noticed that the delay between our activities can run up to 10-15 minutes (please, look at the attached screen shot) without any evident reason. At the sam

[2021-08-20 17:06] mateus-de-castro commented on #7210
Yes, I'm using the consumption plan.

[2021-08-20 22:01] biltongza commented on #7618
I'm getting the same issue with dotnet-isolated functions. The first invocation of my timer functions works as expected, but every invocation after that fails with "Did not find any initialized language workers" and times out after ~300 seconds.

[2021-08-20 22:09] biltongza commented on #7618
#7558 seems related.

[2021-08-21 06:24] ThomasArdal opened #7630 "Azure.RequestFailedException: Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature."
I received the following error from a function running on a 5-minute timer in my log during the night:

[code]

I have removed some application-specific details but let me know if you need anything else.

The application is running on Azure Functions v3 on .NET Core 3.1. The function is running on the app service plan.

Is this an error that I will need to worry about going forward? The function h

[2021-08-21 12:11] mattchatterley commented on #5663
Also seeing this frequently (and anecdotally if we do stuff out of hours, that might just be perception). Repeatedly deploying seems to eventually solve it, but very frustrating.

[2021-08-22 21:47] mdddev commented on #6423
@mattchenderson Thanks for the clarification. However, the only way I get this ro run correctly is by using the `AzureWebJobsStorage__accountName` setting. The `__blobServiceUri` suffix is _not_ working for me.

Also note, that even the first `__accountName` is not working if this is used with a function app using the v4 extension version and NET6 preview 7 (in-process). I realise this might have

[2021-08-23 02:52] ADH-LukeBollam commented on #7518
Hi @v-anvari , sorry for the delayed response.

Between slot 1 and 2 the settings are:

AzureWebJobStorage: Different Storage
WEBSITE_CONTENTAZUREFILECONNECTIONSTRING: Same storage
WEBSITE_CONTENTSHARE: Different value

Should I be changing the "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING" to target a different storage account?

[2021-08-23 07:49] oleksandr-slys commented on #6802
@v-bbalaiagar
Invocation id: 148d6a88-73ae-45a7-8cfe-3594bf031207
Region: Netherlands

[2021-08-23 08:57] v-bbalaiagar commented on #6802
Thank you for the details @oleksandr-slys , We will check the logs to understand the error and revert back the findings.

[2021-08-23 09:18] v-anvari commented on #7630
Hi @ThomasArdal , To understand if this error was a result of the new version of packages, can we know the number of occurrences of this error.

Can we have the below details of your App so as to check the backend logs:
Function failed invocation id
Time stamp during the error
Region in which the function App is running

Also has any authentication changed recently? can you refresh the authenticat

[2021-08-23 09:22] v-anvari commented on #7628
Hi @saint222 , Thank you for reaching out to us.

Can we have the below details of your App so as to check the backend logs:
Function failed invocation id
Time stamp during the error

[2021-08-23 09:58] v-anvari commented on #7518
Hi @LukeBolly , Its good to have different storage accounts, so for now slot 2 wasn't affected because of slot 1. But, we don't see any messages that were queued, if you were expected messages in the queue. Then you need check why there are missing queues.

Have you seen this issue again?

[2021-08-23 10:00] v-anvari commented on #7518
You can handle the poison messages by using the properties mentioned here - https://docs.microsoft.com/en-us/previous-versions/windows/desktop/legacy/ms703179(v=vs.85).

We need to understand why the message couldn't be handled which made it go to the poison queue.

[2021-08-23 10:02] v-anvari commented on #7518
When an application reads a message from a queue as part of a transaction, but cannot process the message immediately because of errors. If the application aborts the transaction in which the queued message was received, the message is automatically returned to the queue. If the problem with the message is not corrected, the receiving application can get stuck in an infinite loop, starting transac

[2021-08-23 10:06] IanKemp commented on #7221
This is yet another case where adding the  `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` "workaround" (AKA what should be the default behaviour) to your functions app CSPROJ is required to get correct behaviour.

[2021-08-23 10:50] dvdgutzmann opened #7654 "HttpRequestData should preserve the capitalization of custom http header keys"
Hi all!

I have a function running .NET 5 in an isolated process. When the HTTP trigger is hit with a request containing some custom http header key (ie. My-SPECIAL-CaSe-sensitive-Header), the capitalization seems to be lost when accessing the header via `HttpRequestData`. The `BindingContext`, however, holds the custom header key with the original capitalization. `HttpRequestData `should also pre

[2021-08-23 11:17] paulhickman-a365 commented on #7210
@v-anvari I am using the premium plan, but do not have "Use runtime scaling" ticked. I don't think your reasoning for it not working in the consumption plan applies here. Why is this error enforced when using a premium plan without runtime scaling?

[2021-08-23 12:31] mpaul31 commented on #7518
How has this not been addressed yet? This has been reported numerous times and the response is always an explanation on what/how things land in the DLQ. There was a regression in 4.2 of the package. It appears under load during a scale-in, failures occur and move to the DLQ without any logging and after moving the message back to the main queue everything processes successfully.

[2021-08-23 12:37] v-anvari commented on #7210
Hi @paulhickman-a365 , Thank you for your feedback, your query is unclear to us. As you have mentioned in your comments earlier is all about consumption plan. Can you explain the problem with repro steps

What are you trying to achieve
where is the error
Plan used
Expected behavior
Actual behavior

If there are issues with premium plan, then we need to investigate the error accordingly.

[2021-08-23 12:41] v-anvari commented on #6894
Follow up issue - https://github.com/Azure/azure-functions-host/issues/7518

[2021-08-23 12:44] v-anvari commented on #7210
Hi @mateus-de-castro , Your issue seems to be a different issue. If your concern is regarding "Allow External Startup to update the config when Runtime Scale Monitoring is enabled ", then this feature is fixed only for premium plan and cannot be fixed for consumption plan. This is current limitation. If you are seeing any errors in your app which needs to be fixed, please open a new case with all

[2021-08-23 12:59] v-anvari commented on #6450
Hi @isaacrlevin , Can we understand if this issue require further triaging or is good to be closed?

[2021-08-23 13:33] v-anvari commented on #6694
Hi @VaclavK , Apologies for the delayed response, Kindly let us know if you are facing these issues with the latest versions of .Net.

[2021-08-23 13:35] v-anvari commented on #6780
Hi @prabh-62 , Apologies for the delay, Can we understand if you are looking for a triage to this issue? Do you have any queries or updates?

[2021-08-23 13:35] ThomasArdal commented on #7630
I think everything is in the stack trace I posted, right? Not sure about invocation id and if that compares to RequestId? In that case it's `58b70f4d-901e-0082-4be0-95f491000000`. Timestamp is `2021-08-20T16:30:26.3396767Z`. The error happened 6 times over two minutes. The function is running in West US.

[2021-08-23 13:52] v-anvari commented on #6793
Hi @krishnasingh1818 , Apologies for the delayed response

Here is a document on how scaling works in Azure Functions - https://docs.microsoft.com/en-us/azure/azure-functions/event-driven-scaling#runtime-scaling

Here is a scale comparison between different plans - https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#scale

hostInstanceId is a function App log output, which indic

[2021-08-23 13:52] #6793 closed, assigned to nobody

[2021-08-23 13:55] prabh-62 commented on #6780
Nothing new from my side

[2021-08-23 13:57] v-anvari commented on #6833
Hi @qfyra / @JanBaan  , Apologies for the delayed response. Kindly, let us know if you are still seeing this issue after deployment

[2021-08-23 14:00] v-anvari commented on #6860
Hi @UlrichBodentien , Apologies for the delayed response, Can we know if you were able to find a solution, are you still seeing this issue

[2021-08-23 14:10] v-anvari commented on #6908
Hi @Tealons , We appreciate your contribution to the repo and sharing your learnings with us. While the error could be because of various reasons. We are glad that you were able to fix it.

Here are few reasons that were identified in the past and listed down to troubleshoot the error - - https://docs.microsoft.com/en-us/azure/azure-functions/functions-recover-storage-account#storage-account-was-d

[2021-08-23 14:10] #6908 closed, assigned to nobody

[2021-08-23 14:27] TheAifam5 commented on #7220
Hey everyone,

I am getting exactly same issue.

Due to complexity and amount of dependencies in the project I am unable to downgrade the corresponding library.

EDIT:
Problem fixed by removing System.Text.Json and downgrading library to "4.7.2". Uuf, i thought I will be stuck with it forever.

EDIT2:
Ok somehow on 4.7.2 was working, then stopped and now I use 4.7.0 and issue is gone.

EDIT3:
Oh,

[2021-08-23 15:44] v-anvari commented on #7630
Thank you for the details, We shall go through the backend logs and update our findings

[2021-08-23 15:46] paulhickman-a365 commented on #7210
My goal is to run my function in a premium plan so code inside the function can make calls to databases over a vnet (which consumption doesn't allow), but without the cost overhead of keeping pre-warmed instances which happens when turning on runtime scale monitoring. I also want to store configuration settings in keyvault in such a way that the keyvault secret is used both when running locally on

[2021-08-23 16:43] v-bbalaiagar commented on #7627
Hi @christophwille, Let us know if the above mentioned comment resolves your query, or if you have any further queries.

[2021-08-23 19:00] ghost commented on #7601
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-23 19:33] kshyju commented on #7654
Hi @dvdgutzmann

Currently, the non standard(custom) headers are added to `Headers` collection with their name set to lower case. But that should not cause an issue in reading them as the `HttpHeadersCollection` type allows you to read it in a case insensitive fashion.  In the below example, you will get same value for both `mySpecialHeaderValue1` and `mySpecialHeaderValue2` variables.

    [Funct

[2021-08-23 19:37] kshyju commented on #7654
@brettsam

We[ populate the Headers using the nullableHeaders](https://github.com/Azure/azure-functions-dotnet-worker/blob/ddeab28e520cd69a1b338b095683ede628e01570/src/DotNetWorker.Grpc/Http/GrpcHttpRequestData.cs#L67) from `InvocationRequest.InputData.http`. Currently the worker is getting all the header names from host in lower case.  Here is an example payload.

    "nullableHeaders": {
      "

[2021-08-23 21:08] dvdgutzmann commented on #7654
@kshyju

The function in question "forwards" the incoming requests. Headers included. The downstream systems are not under our control.

[2021-08-24 00:26] soninaren commented on #6423
@Zarick, One super quick way you can find out which bundle version is being used is by checking the status endpoint. When running locally that would be
`http://localhost:7071/admin/host/status` and for an on azure you would have to provide master key. So something like this.
`http://<AppName>/admin/host/status?code=<masterKey>`

Sample output for an bundle v2
[code]

[2021-08-24 00:38] #6602 closed, assigned to soninaren

[2021-08-24 01:56] #4186 closed

[2021-08-24 05:23] christophwille commented on #7627
Yes, this works in 2019 and 2022.

[2021-08-24 05:35] ADH-LukeBollam commented on #7518
I have a separate function which has been handling the poison messages fine. I Haven't seen the issue since we were putting our 2nd slot under high load, so it's almost definitely related to the crashes we were having on our other slot.

If shared storage is known to cause issues across slots, users probably shouldn't be allowed to configure the functions like that right? If our test slot can cras

[2021-08-24 06:26] ADH-LukeBollam commented on #7525
I also cannot take a memory dump from azure because I get this message
![image](https://user-images.githubusercontent.com/24449147/130566884-c3b78449-68ce-4a38-83d4-066147cf69b6.png)
We are using a premium function so this option is on by default, and I do not see the option to change under general settings.

[2021-08-24 08:49] v-bbalaiagar commented on #7627
Closing this issue as resolved, please feel free to reach back to us in case of any further queries related to this issue.

[2021-08-24 08:49] #7627 closed, assigned to nobody

[2021-08-24 09:04] saint222 commented on #7628
Here is the data you requested:

DurableFunctionsInstanceId	d6d36a5703d549a9ac8a88c3716cbb72
InvocationId	0c5bc717-a5d5-4936-b7bd-c6ae8616d772
Event time		2021-08-17T11:41:14.1580473Z

Activity #6
InvocationId	95903e3f-c8c1-436f-9556-0ebf051b87bb
Event time		2021-08-17T11:41:19.8164585Z

Activity #7
InvocationId	ec813ec3-a4b0-4512-a3c8-360f4fe67fd4
Event time		2021-08-17T11:51:39.793064Z

Activity

[2021-08-24 09:23] v-anvari commented on #7628
Thank you for the details, We shall go through the backend logs and update our findings

[2021-08-24 10:55] v-bbalaiagar commented on #7592
Hi @spplante, Apologies for the confusion. I mentioned above about **Microsoft.Identity.Web** assembly.

Tagging @balag0, for further insights.

[2021-08-24 11:16] v-bbalaiagar commented on #7596
Hi @codebrane, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-08-24 12:28] v-anvari commented on #7210
Thank you for the details, we will investigate further and update as appropriate.

[2021-08-24 12:36] mpaul31 commented on #7518
It doesn't have anything to do with the shared storage IMO. I have separate storage accounts for my slots and still experience this issue. The logging container gets disposed during scale-in so tracing is lost as a side effect.

[2021-08-24 13:50] v-anvari commented on #6780
Hi @prabh-62 , Can we know if you are still looking for a solution, so that I can follow up with the right team and close the issue accordingly

[2021-08-24 14:02] prabh-62 commented on #6780
You can close this issue.

[2021-08-24 14:12] v-anvari commented on #6780
Thank you for the update

[2021-08-24 14:12] #6780 closed, assigned to nobody

[2021-08-24 16:08] kiki4git commented on #7518
unsubscribe please

On Mon, Aug 23, 2021 at 10:35 PM LukeBolly ***@***.***> wrote:

--
YaKe (Kiki) Li
mobile: (949)735-8833
email: ***@***.***
[image: linkedin] <https://www.linkedin.com/in/yake-li>

[2021-08-24 16:33] paulbatum opened #7631 "Bundle and extension versions should be logged to app insights when using default log level"
A customer should be able to check their logs in app insights to see what version of their bundle and/or extensions are being used, without having to tweak logging levels. I tested with a v3 python app using the default host.json settings:

[code]

The only log entries I see in the traces table that refer to extensions or bundles is a message about a warmup extension.

I believe this information w

[2021-08-24 17:15] AsgerPilegaard commented on #7618
Hi Finbar.
Thank you for your acknowledgement.

FEEDBACK
1. Where can we follow the work item about monitoring the startup issues?
2. We were notified about the release of the fix for issue #7590, several months ago. When exactly can we expect the the fix to be released? (We have the system in production and need a reliable and specific solution plan to present to our stakeholders)

STATUS
The bug

[2021-08-25 01:08] mathewc commented on #5529
Fix out for PR for this: https://github.com/Azure/azure-webjobs-sdk-extensions/pull/737

[2021-08-25 05:08] mikelor commented on #7655
Probably makes sense to link it to this issue 1076 in [Azure/azure-function-templates Azure/Azure-Functions#1076](https://github.com/Azure/azure-functions-templates/issues/1076)

[2021-08-25 06:54] ADH-LukeBollam commented on #7525
I've downloaded a dump from Kudu, which is not ideal because it times out trying to retrieve a memory dump of anything over 2GB. The biggest memory usage seems to be coming from WebJobs.Diagnostics

![image](https://user-images.githubusercontent.com/24449147/130740657-3e03de56-41cd-4c58-a7fb-f26c35fa8119.png)

If you could help me fix the issue so I can collect a dump from Azure Portal, I'm sure t

[2021-08-25 10:22] Gevil commented on #5098
Alright some new info on this in our functions we are also using HttpClients with DI with AddHttpClient.

After enabling EnableEnhancedScopes we are seeing fewer errors related to object disposed exceptions from DryIoc related to our DbContexts when locally debugging.

As soon as we deploy our Function to Azure and run tests on it everything falls apart and almost every function trigger fails.

`{

[2021-08-25 12:20] FinVamp1 commented on #7618
Hello @AsgerPilegaard , thanks for following up on this . I have an alert for your applications and when it happens I am going to try and investigate more.  I am following up on [the fix work item](https://github.com/Azure/azure-functions-host/issues/7590) to see when it is going to be released. The FUNCTIONS_WORKER_PROCESS_COUNT could help and I will look into this a bit more today.  It is correc

[2021-08-25 18:12] v-anvari commented on #7628
Hi @saint222 , I have gone through the logs and every time there is a delay in your traces, I see an event "ExecutedHttpRequest" taking place in your App. The [_ExecutedHttpRequest_](https://github.com/Azure/azure-functions-host/blob/2520fdb09fbaf7518925f8aaea618dd9b95de7ba/src/WebJobs.Script.WebHost/Middleware/SystemTraceMiddleware.cs#L40) log comes from the Functions runtime and isn't necessaril

[2021-08-25 18:24] v-bbalaiagar commented on #6928
Hi @joseclament, Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required. I shall follow with the right team members to resolve this issue. The issue was somehow lost in the trace.

[2021-08-25 19:13] arashcomsense commented on #5090
@jplane I tried this configuration and it worked for the very first api call. All subsequent calls got CORS error. Any idea why? Or did you experience this issue?

[2021-08-25 21:11] j03INTHECLOUD commented on #5774
I am seeing this error while running .Net5 isolated functions locally. Half the time we can't even get the app to start

[2021-08-26 15:45] v-anvari commented on #7630
Hi @ThomasArdal , Apologies, I was unable to find the App with the request ID. you will find the invocation id in the monitor logs of your functions. You can give me any one of those id's

[2021-08-26 16:29] ConnorMcMahon commented on #999
We saw another issue of this appear on the latest version of V3 on an internal support case.

[2021-08-26 16:44] divyagandhisethi opened #7633 "Log socket connection errors between host and language worker processes"
**Issue**
This is a repair item from an incident where there were socket connection failures on the worker VM causing no messages to reach from the powershell language worker and the functions host. The impact was that from customer's app insights logs and our Kusto logs it looked like the host queued up the function invocation but never received any message back from the language worker process.

[2021-08-26 17:20] v-anvari commented on #7518
Hi @LukeBolly , I have gone through the logs and discussed this internally with the devs team. Issue 6894 was a different scenario, where the App was scaling in and out constantly, which led the messages to go to the poison queue. Which was identified as a problem and the drain mode could fix the issue. But, here, the two slots shouldn't affect each other's performance. We are unable to confirm wh

[2021-08-26 17:25] v-anvari commented on #7525
Hi @LukeBolly , Apologies, The recommended and legacy  way of getting the memory dump has always been kudu. But, the easier way is App diagnostics. You can turn on the "Always on" property if its present, if it is not. Then this is probably a limitation, for which the support team can raise a CRI or bug. They can also help you solve or understand how to mitigate the memory spike.

[2021-08-26 17:45] v-anvari commented on #7210
Hi @paulhickman-a365 ,

Here is the reason why you are seeing the error when the Runtime scaling is not enabled. The theory is the same just like consumption plan but the properties are different. The reason the error is enforced is because of the way runtime scaling works, the function runtime scaling has visibility over the configuration  and key vault and is doing the work of the scale controll

[2021-08-26 18:04] v-bbalaiagar commented on #7102
Hi @readnikhil, Kindly can you share it again. It looks like image is not loaded.

[2021-08-26 18:25] v-bbalaiagar commented on #6802
Hi @oleksandr-slys, I am unable to get the logs with the given invocation id. Could you share the app name using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately to check the cause.

[2021-08-26 18:38] Proletter commented on #7634
This issues still exists and it is really annoying. Why am I being prevented from creating a function that starts with "admin" in a function app? This should at least be in the documentation.

[2021-08-26 22:00] #7601 closed, assigned to madelinegordon, v-anvari

[2021-08-27 00:12] ahmelsayed commented on #7634
I'm moving the issue to https://github.com/Azure/azure-functions-host/ since the limitation comes from there.

[2021-08-27 02:06] vrdmr opened #7635 "Adding deadlock safety when writing updated MasterKey to the Blob store."
#### Investigative information

Please provide the following:
Cx information in ICM#254128671

#### Repro steps

The issue is with the Blob Client and the writing of the generated secret to the Blob Store and a deadlock in that code path.

We log the key hashes here, right before persisting keys to the blob repository: SecretManager.cs#L577 which we see in the logs, but we don't see L579 returning

[2021-08-27 07:07] readnikhil commented on #7102
![image](https://user-images.githubusercontent.com/50196155/131086752-95857b61-1f79-4182-96aa-3f0931b3f2fb.png)

Please let me know if you can see the image now .
MVC.NewtonsoftJson(3.1.11)
Sdk.Functions(3.0.11)

[2021-08-27 11:32] mdddev opened #7636 "Cannot deploy managed-identity-awere queue and blob triggered functions in the same Azure Functions app"
Hello

I'm trying to deploy an Azure Functions app (Windows/consumption) using blob and queue triggered functions. My ultimate goal is to _not_ use shared account key authentication with Azure Storage. This goes for the account used by AF internally (AzureWebJobsStorage) and any account used for bindings/triggers. Ideally I want  to re-use the single storage account that is created when initially

[2021-08-27 12:09] v-bbalaiagar commented on #7634
Closing this issue as document issue is opened. Please provide your inputs here - https://github.com/MicrosoftDocs/azure-docs/issues/80267

[2021-08-27 12:09] #7634 closed, assigned to nobody

[2021-08-27 13:00] ghost commented on #6450
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-27 13:13] v-anvari commented on #6568
Hi @onionhammer , as Bala earlier explained in his comment that, If you don't specify certain properties, Resource Manager interprets the deployment as overwriting those values. Properties that aren't included in the template are reset to the default values. So, this is as per design. Let us know if you have any further queries

[2021-08-27 13:16] v-anvari commented on #6486
Hi @prabh-62 , @ianadavies , Let me know if you have queries unanswered, I can follow up with the team for further investigation.

[2021-08-27 13:25] v-anvari commented on #7636
Hi @mdddev , Thank you for reaching out to us,  We will investigate this further and update you with the findings. Meanwhile, have you tried this scenario with lower versions of "Microsoft.Azure.WebJobs.Extensions.Storage". Let us know the output.

[2021-08-27 13:42] v-bbalaiagar commented on #6926
Hi @Daksitha, Apologies for the delayed response. Were you able to find a solution here. Here is a similar issue which addresses similar scenario and which talks about socket hang up - https://github.com/node-fetch/node-fetch/issues/232.

Please check and let us know if this helps.

[2021-08-27 14:27] prabh-62 commented on #6486
We moved off of Azure Functions. You can close the issue

[2021-08-27 15:13] onionhammer commented on #6568
@v-anvari Right, I'm saying the design is flawed. Currently if you re-run an ARM deployment of an Azure web app to app service you don't lose the code associated, why should functions be different?

[2021-08-27 16:00] ghost commented on #6860
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-27 16:00] ghost commented on #6833
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-27 16:00] ghost commented on #6694
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-27 16:13] v-bbalaiagar commented on #7102
Yes, I can see the image now. We will investigate this further and update as appropriate.

[2021-08-27 17:05] JanBaan commented on #6833
Hi @qfyra ,

My team and I have already solved the issue. I remember there was something I had to add to fix the problem.

Thank you for the response.

[2021-08-27 17:32] paulhickman-a365 commented on #7210
In my real application, I don't want any scaling to occur at all - my function is a singleton and is marked with [SingletonFunction]. The fact the scale controller can't access the queue isn't a problem in my scenario.

[2021-08-27 21:27] Francisco-Gamino commented on #7633
The flow for this repair item should be as follows: Detect that the Functions Host lost connectivity with the language worker. Log the invocation id that was last executed and mark it as failed. Restart the worker process.

This flow would be similar to when a function execution times out. For more info, please see https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/R

[2021-08-27 22:10] mdddev commented on #7636
Hi @v-anvari , I just tested this with the beta 3 and beta 4 versions of the storage extension package. It did solve the problem of the host not starting up. So there are no more error messages. Still, the functions are not triggered when uploading a blob or enqueing a message. Looking at the trace logs in application insights it states `0 functions loaded`

[2021-08-27 22:48] axof commented on #85
So, after 5 years of this issue, there's still no way of doing dynamic bindings with non .NET languages... I'd also like to be able to change the name of the blob I want to output with Node.js. The need to use a random guid makes no sense at all.

[2021-08-27 23:16] ConnorMcMahon commented on #7559
The fix for the authsettingsv2 configuration has been deployed globally.

The new Authentication portal experience will be restore in the next two weeks or so.

[2021-08-27 23:16] #7559 closed, assigned to pragnagopa, ConnorMcMahon, balag0

[2021-08-28 12:21] ThomasArdal commented on #7630
I'm not sure where too look for these since I don't have monitoring enabled on application insights. Maybe this will help?

[code]

[2021-08-28 17:54] pmozbert commented on #5068
this is still a problem 2 years later

[2021-08-29 00:04] ggailey777 commented on #5068
@pmozbert looks like this fell through the cracks. I've opened a PR against the SchemaStore repo, but I've not done this before, so let's cross our fingers 🤞

[2021-08-29 01:26] snapfisher commented on #5469
So for .Net 6 will this functionality be available for all c# functions or only the isolated process functions?

[2021-08-29 19:00] ghost commented on #7628
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-29 19:00] ghost commented on #6928
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-30 08:01] nazar-kuzo commented on #6805
@brettsam @espray
Published a nuget extension that solves Authentication/Authorization problems
https://www.nuget.org/packages/AzureFunctions.Authentication/

[2021-08-30 09:21] v-anvari commented on #7630
Hi @ThomasArdal , Unfortunately, This information wont help, can you share the App name on mail or teams-
v-anvari@microsoft.com

[2021-08-30 09:26] #6486 closed, assigned to nobody

[2021-08-30 14:16] v-bbalaiagar commented on #6957
Hi @ianadavies, Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required. The issue was somehow lost in the trace.

[2021-08-30 15:06] findajay commented on #3622
Hi,

Is there a work around for this issue ? I am having same problem.

[2021-08-30 15:59] MikePennington commented on #7092
I just saw this in the documentation:

https://docs.microsoft.com/en-us/azure/azure-functions/ip-addresses?tabs=portal#find-outbound-ip-addresses
_"When a function app that runs on the Consumption plan or the Premium plan is scaled, a new range of outbound IP addresses may be assigned. When running on either of these plans, you can't rely on the reported outbound IP addresses to create a definitiv

[2021-08-30 16:00] #6860 closed, assigned to gzuber, v-anvari

[2021-08-30 16:00] #6450 closed, assigned to kashimiz, v-anvari

[2021-08-30 18:00] balag0 commented on #6568
@onionhammer To startwith, does explicitly setting the WEBSITE_RUN_FROM_PACKAGE appsetting in the template during rerun fix this issue?
Also in the case of the web app template, how was the app deployed in the first place? Was it using Run From Package or some other mechanism?
(You are right we should expect to have the same behavior across function and web app, so trying to figure out what is dif

[2021-08-30 19:00] #6694 closed, assigned to v-anvari

[2021-08-30 19:00] ghost commented on #6802
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-30 22:32] onionhammer commented on #6568
@balag0 Regarding your first question, yes, but I would have to know the (secret) URL to put in there at the time of deploying the ARM template.

In the case of web app deployment, we use a standard Zip Deploy (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app?view=azure-devops#deployment-methods), which is not supported for azure function consumption apps

[2021-08-30 23:53] balag0 commented on #6568
oh I see, so in the case of standard zip deploy there are no explicit appsettings that configure the app contents, the contents are available on the remote disk directly. So not having the run from pkg appsetting explicitly as part of each deployment doesn't matter.
If you were to use RunFromPackage on the webapp, then I think you will run into this same limitation.

Can you explain a bit more on

[2021-08-30 23:53] #7590 closed, assigned to yojagad

[2021-08-31 06:40] jahead opened #7640 "Allow custom error responses in javascipt/typescript. [httpTrigger]"
#### What problem would the feature you're requesting solve? Please describe.
I've spent the day researching for the best solution for this in the javascript/typescript world, and I can't seem to find a good solution.

Ability to customize error response messages. in the ts/js environment.

#### Describe the solution you'd like
We would like to:
a) have RFC7807 complaint responses from our azure f

[2021-08-31 06:52] thomasvdb commented on #5098
@Gevil The workaround we found when using HttpClients is by adding an extra abstraction layer and don't inject an HttpClient (or HttpClientFactory) directly. This is now running for about 1 year in production without any issues.

Example:
[code]

[2021-08-31 09:23] v-anvari commented on #7165
Hi @stephenc01 , Apologies for the delayed response, let us know if you were able to find a solution. Let me know if you require any further help and I can direct you to the right team for a solution

[2021-08-31 10:24] v-anvari commented on #7072
Hi @gaborbuzasi , Apologies for the delayed response, Can we know if you are seeing this error with the latest versions

[2021-08-31 10:35] v-anvari commented on #7092
Hi @ggailey777, Can you check if we can give some more insights in the documentation

[2021-08-31 11:59] v-bbalaiagar commented on #6904
Hi @sadgit, Apologies for the delayed response, let us know if you were able to find a solution.

[2021-08-31 12:24] v-bbalaiagar commented on #7157
Hi @robinhultman, Apologies for the delayed response, the issue was somehow lost in the trace. Can you tell us if you are still facing this issue.

[2021-08-31 12:40] LucaMozzo commented on #5358
@fabiocav is there an update on this? The main issue is that, if using Azure Functions with Cosmos v3 (which has a requirement for Newtonsoft.JSON v10+), it's not possible to use the workaround where Newtonsoft.JSON is downgraded to v9.x (mentioned [here](https://stackoverflow.com/a/45538882/5168477) among other places).
The comment above is useful but requires porting the project to the isolated

[2021-08-31 14:05] onionhammer commented on #6568
@balag0 The difference is they're both the default/'auto' deployment mechanism for either platform:

For an app service webapp on Linux:

[code]

For an app service function app on Linux (consumption):

[code]

The only difference is your zip deployment will be lost if you re-run your ARM deployment on the function app but it wont be lost for the webapp deployment. What I mean by 'secret' is that

[2021-08-31 16:00] ghost commented on #6926
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-31 16:49] ggailey777 commented on #5068
This fix was merged in the SchemaStore, so I'll assume it's now fixed.

[2021-08-31 16:49] #5068 closed

[2021-08-31 19:00] ghost commented on #6833
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-31 21:22] brettsam commented on #7654
@AnatoliB / @pragnagopa / @yojagad -- do any of you have any context on why we lowercase headers in the host? See this here -- https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.Grpc/MessageExtensions/GrpcMessageConversionExtensions.cs#L148.

[2021-09-01 08:31] oleksandr-slys commented on #6802
@v-bbalaiagar

`2021-09-01T08:30:04.593 [Information] FUNCTION_NAME started, id: 163b85ac-1dda-41e7-8ae4-849025cfad46`

[2021-09-01 14:58] johnkors opened #7642 "Cannot build function projects using .NET 6 previews"
Hi,

could you take a look at [this issue](https://github.com/Azure/azure-webjobs-sdk/issues/2755) and check if it makes more sense to move it to this repo?

Thanks

[2021-09-01 20:11] jdluzen opened #7643 "Core 3.1 app has different behavior when in a Function"
We currently have a Core 3.1 app using EntityFramework and the Windows only Sql Spatial assemblies running fine. I put a Function around it, and EntityFramework/SqlClient throws an exception: `System.Data.SqlClient: No mapping exists from object type Microsoft.SqlServer.Types.SqlGeography to a known managed provider native type.`

After many hours of isolating and debugging, my current working the

[2021-09-01 20:17] brettsam commented on #7625
@pgombar -- should we move this to Sprint 109? 108 is ending today...

[2021-09-01 20:19] drekuru commented on #3593
omg same bug, its almost been 3 years.

[2021-09-01 22:00] #7628 closed, assigned to soninaren, v-anvari

[2021-09-01 22:00] #6928 closed, assigned to v-bbalaiagar

[2021-09-02 07:12] arggrande opened #7644 "Getting trigger execution warnings with Logic App Standard on Azure Function Runtime"
I've got a Logic App (Standard) running on an Azure Function runtime, and I've noticed I'm getting spammed with warnings for my O365 `When a new email arrives in a shared mailbox (V2)` trigger.

`Trigger is meant to execute on cluster type 'Classic'. However, it is executing on cluster 'NotSpecified'`

#### Investigative information

Please provide the following:

- Timestamp: `2021-09-02 2:59:25.

[2021-09-02 09:37] stap123 commented on #5240
Still seeing these today. Using .Net 5 isolated.

![image](https://user-images.githubusercontent.com/10199083/131820313-27cec840-62e1-48cb-a85e-697a89b0d5ae.png)

[code]

It seems as if the functions team have abandoned GitHub issues recently there are a few issues that have been open for a long time without any input or progress being updated. It's very frustrating from the communities perspectiv

[2021-09-02 13:28] brettsam commented on #7583
Done in https://github.com/Azure/azure-functions-host/pull/7623

[2021-09-02 13:28] #7583 closed, assigned to soninaren

[2021-09-02 14:30] brettsam opened #7645 "Implement minimum extension enforcement in v4"
From breaking change: https://github.com/Azure/Azure-Functions/issues/1987

[2021-09-02 17:07] v-bbalaiagar commented on #7644
Hi @arggrande, Thank you for your feedback! We would like to know how you are integrating the function app.

[2021-09-02 17:31] brettsam opened #7646 "Emit log message in v3 if AzureWebJobsDashboard is set"
Part of breaking change for removing the dashboard in v4: https://github.com/Azure/Azure-Functions/issues/1923

[2021-09-02 17:32] brettsam opened #7647 "Remove AzureWebJobsDashboard support in v4"
Work item for v4 breaking change: https://github.com/Azure/Azure-Functions/issues/1923

Emit warning if this app setting exists, with aka.ms link to docs.

[2021-09-02 17:44] mathewc opened #7648 "FileSystem error check needs to be performed during specialization restart as well"
The file system check we perform [here](https://github.com/Azure/azure-functions-host/blob/ed814c569434d65abcc22a169ac2d95f1ef79c32/src/WebJobs.Script.WebHost/WebJobsScriptHostService.cs#L150) is only done when the WebJobsScriptHostService hosted service initially starts. That means when placeholders are used, the check is only performed for the placeholder, and when the app specializes it's not p

[2021-09-02 19:19] jdluzen commented on #7643
This does seem to be the case. Removing the direct project reference from the Function, loading the business logic Assembly in the Default AssemblyLoadContext, and manually Invoke() it through reflection, it works.

[2021-09-03 00:41] arggrande commented on #7644
All I'm doing is listening to a shared mailbox for a particular subject line, and then getting the attachments and sending them to Azure Blob Storage :)

[2021-09-03 16:00] #6926 closed, assigned to gzuber, v-bbalaiagar

[2021-09-03 16:00] ghost commented on #6957
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-03 17:07] v-bbalaiagar commented on #7642
As this issue is being addressed in [#2755](https://github.com/Azure/azure-webjobs-sdk/issues/2755), closing this issue as duplicate.

[2021-09-03 17:07] #7642 closed, assigned to nobody

[2021-09-03 17:10] v-bbalaiagar commented on #7644
Hi @arggrande, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-09-03 22:00] #6833 closed, assigned to pragnagopa, v-anvari

[2021-09-04 02:19] #7625 closed, assigned to pgombar

[2021-09-04 21:39] qsdfplkj commented on #7539
For me the following PR will probably fix: https://github.com/dotnet/runtime/pull/58685 (lets see if it gets completed)
But still I think JobHostServiceProvider should take care of it's own.

[2021-09-05 15:29] cataggar opened #7649 "No job functions found. Same dotnet-isolated Docker image"
I migrated our app to .NET 5 dotnet-isolated and packaged it in a Docker image for deployment to an App Service. I deployed it two weeks ago to a development App Service and it worked great. This last week, I've been working on an Azure template (Bicep) to do the deployment. Everything appears to be set up the same. It is the exact same Docker image. When it starts, no functions are found:

[code]

[2021-09-06 00:07] cataggar commented on #7649
https://docs.microsoft.com/en-us/azure/app-service/faq-app-service-linux

That does not appear to be correct anymore. I had to set `WEBSITES_ENABLE_APP_SERVICE_STORAGE ` to `false` to disable volume mounts. Without it set, `ssh`ing to the container and running `mount` would show:
[code]

With the `/home` mounted with some other set of files, no functions were found in `/home/site/wwwroot/`.

[2021-09-06 00:07] #7649 closed, assigned to nobody

[2021-09-06 13:41] v-anvari commented on #7630
Hi @ThomasArdal ,

Even I see the same error from your exception, I guess from the error its clear that there is a mismatch of the signature used. Since this is a client side mistake, there is not much we are able to conclude.
The MAC signature found in the HTTP request 'dSWB1Bhpne5spl5fSzzoOIw3zoyK7P887JynlGL/0IM=' is not the same as any computed signature. Server used following string to sign: '

[2021-09-06 14:10] annieEllenberger commented on #7393
Getting this as well. For me, seems to be related to interacting with Blob storage SDK in combination with ILogger? Not using any custom TelemetryClient or AppInsights directly either.

App Insights logs (same GUID as everybody above in log messages):

![image](https://user-images.githubusercontent.com/62848777/132229645-6935d848-624e-46c3-931e-e53a5341496f.png)

Here are all of the dependencies o

[2021-09-06 15:04] Zarick commented on #6423
Thanks @mattchenderson, it make much more sense to me now.

Thanks also @soninaren , that trick is useful!

[2021-09-06 15:05] Zarick commented on #6423
Is there any schedule for the Preview bundle to be released formally?

[2021-09-06 16:06] BrutalCSkakan opened #7650 "Azure Function App misses Continous Deployment choices"
I can only see Github as a valid CI/CD option in the Deployment Center.
I know for a fact that there's more, which I also can see in the Networking tab in my browser.

Image with the missing options:
![image](https://user-images.githubusercontent.com/8394703/132242252-0aa89579-6bac-4223-9786-4eb54952ecf7.png)

Image from the Network tab stating that there's 4 different CI/CD services
![image](http

[2021-09-06 16:18] v-anvari commented on #7650
Hi @BrutalCSkakan , You should be able to see all the options. Can we know if you are creating a function App locally?
Also, which location is the current function App.

![image](https://user-images.githubusercontent.com/66122429/132243936-b975a39f-2234-4168-95cf-49620cd99311.png)

[2021-09-06 16:20] v-anvari commented on #7650
Can we also know the OS of the Function App

[2021-09-06 16:23] v-anvari commented on #7643
Hi @jdluzen , From you latest comments, can we know if you were able to resolve the issue. Let us know if you have any further queries

[2021-09-06 17:04] v-anvari commented on #7636
Hi @mdddev , I try to reproduce the issue and there were few other issues raised on the beta versions of storage. Now when I try to reproduce the issue. Can you let us know by using the stable versions if you are still seeing the errors

![image](https://user-images.githubusercontent.com/66122429/132247383-6e51b8bd-4f6a-44cb-8caf-0d3b484f0883.png)

[2021-09-06 17:22] BrutalCSkakan commented on #7650
Hi @v-anvari
The app is created from the Portal, and then maintained through the Azure Function plugin in Visual Code.
The location is North Europe, and it's running Linux with Java 11.

[2021-09-07 07:22] ThomasArdal commented on #7630
I'm not running with any managed identity on that app. I did go through the logs, though. On the day of the error (August 20) I released a new version of the function at 9 AM in the morning. The release contained the following change:

[code]

I'm not sure if that could cause the error I'm seeing. The strange thing is that the function ran for several hours before logging that error.

[2021-09-07 07:55] Zenuka opened #7651 "Activity.Current is null"
I've noticed that some of our apps have stopped adding custom properties to our application insights telemetry. To investigate I started a new v2 function app project (.net core 3.1 and Microsoft.NET.Sdk.Functions nuget 3.0.13) and noticed that `Activity.Current` is null.

#### Repro steps
The function below will throw a `NullReferenceException` on the first line with `Activity.Current.AddTag("tes

[2021-09-07 10:40] v-anvari commented on #7651
Hi @Zenuka , Can we know your CSproj file. Similar scenarios were fixed/ tracked earlier as mentioned here - https://github.com/Azure/azure-functions-host/issues/5014 and https://github.com/Azure/azure-functions-host/issues/7278

[2021-09-07 10:52] Zenuka commented on #7651
Ah sorry, I missed those.
My .csproj:
[code]

I used the Visual Studio new function app template.

[2021-09-07 10:54] AsgerPilegaard commented on #7618
Hello Finbar.

Thank you for your explanation.
What is the status on
1. Where can we follow the work item about monitoring the startup issues?
2. We were notified about the release of the fix for issue Erroneous dispatcher state when webhostLanguageWorkerProcess doesn't come up #7590, several months ago. When exactly can we expect the the fix to be released? (We have the system in production and n

[2021-09-07 10:59] v-anvari commented on #7050
Hi @srjhunjhunwalacorp , Let us know if you are seeing this issue with the latest Function versions

[2021-09-07 11:06] v-anvari commented on #7067
@brettsam  / @anthonychu , Can we support this scenario

[2021-09-07 11:30] v-bbalaiagar commented on #6802
Thank you for further details. We will check for the possibilities internally and update you with the findings.

[2021-09-07 11:34] v-anvari commented on #7016
Hi @krishnasingh1818 , Apologies for the delayed response, I tried to reproduce the issue and did not see this behavior. Let us know if you were seeing this issue still

[2021-09-07 11:37] v-anvari commented on #7015
Closing this issue as duplicate  -
https://github.com/Azure/azure-functions-host/issues/7016

[2021-09-07 11:37] #7015 closed, assigned to nobody

[2021-09-07 11:45] v-anvari commented on #7014
Hi @DVGY , Apologies for the delayed response. Here is a document explaining the behavior of the bindings - https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#exporting-a-function

https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings?tabs=csharp

You can give any name as defined in the example here - https://docs.microsoft.com/en-u

[2021-09-07 11:45] #7014 closed, assigned to nobody

[2021-09-07 11:49] v-anvari commented on #7011
Hi @bte8444 , Let us know if the example here helps - https://azure.microsoft.com/en-us/resources/templates/function-premium-vnet-integration/

Meanwhile, there is an open discussion here with different solutions - https://github.com/Azure/Azure-Functions/issues/1361

[2021-09-07 12:05] v-anvari commented on #7650
Hi @BrutalCSkakan , If the App is a Consumption plan, then Continuous deployment is not yet supported for Linux apps running on a Consumption plan.

Here is the document https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment

[2021-09-07 12:09] v-anvari commented on #7630
It may have happened that while the web restarted, it lost the keys or was miss configured internally. Can you tell us in detail, how you are authenticating and a repro

[2021-09-07 12:10] v-anvari commented on #7651
Tagging @brettsam / @fabiocav  for further investigation

[2021-09-07 12:15] ThomasArdal commented on #7630
I cannot repro this. The error is taken directly from my production log. Was only publishing it here since I thought you wanted to know. It's not something that I'm experiencing localhost or has seen since this error was logged. If you want to close the issue it's fine with me.

[2021-09-07 13:00] v-anvari commented on #7630
Thank you for the confirmation

[2021-09-07 13:00] #7630 closed, assigned to nobody

[2021-09-07 13:31] brettsam commented on #7646
Already done in #7447

[2021-09-07 13:31] #7646 closed, assigned to brettsam

[2021-09-07 14:22] mdddev commented on #7636
@v-anvari Thanks for reaching out. I was under the [impression](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#storage-extension-5x-and-higher) that MSI support was only recently introduced in the version 5 (currently in beta) of the storage extension, so according to the available [docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-refer

[2021-09-07 14:34] Zenuka commented on #7651
I've also tried the workaround proposed in #7278 (downgrading to version 4.6 of System.Diagnostics.DiagnosticSource) without success.

[2021-09-07 14:44] jdluzen commented on #7643
I'm not sure if Resolved is the proper term. This workaround does work, but it exerts a heavy price. Our build pipeline and solution needs to change to accommodate complete separation of the Function and business projects. We'll also likely need to setup Dependency Injection more manually than out of the box. I would appreciate some comments to whether or not this behavior is a known issue, likely

[2021-09-07 16:24] teaglebuilt opened #8180 "Reload Environment variable"
In .NET there is an option for dependency injection for the startup host to add additional functionality to disable or enable functions.

#### Is your question related to a specific version? If so, please specify:
No
#### What binding does your question apply to, if any? (e.g. Blob Trigger, Event Hub Binding, etc)
Reloadable environment variables, toggling functions on and off
#### Question
How ca

[2021-09-07 19:01] #6957 closed, assigned to pragnagopa, v-bbalaiagar

[2021-09-07 19:01] ghost commented on #7165
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-07 19:01] ghost commented on #7157
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-07 19:01] ghost commented on #7072
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-07 19:01] ghost commented on #6904
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-07 21:49] fabiocav commented on #7654
Transferring this to the host as it is something the RPC layer is currently doing and impacts all languages.

One option here to preserve the behavior for existing languages is to add a language capability to allow the worker to define the behavior and preserve casing.

[2021-09-08 07:23] mdddev commented on #7636
###  Update
To further debug this, I tried changing the suffix of the connection name configuration values for the blob and queue triggers to the following (as suggested [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#:~:text=If%20%22AzureWebJobsStorage%22%20will%20be%20used%20for%20any%20other%20service%2C%20you%20may%20instead%20specify%20AzureWebJobsStorage__bl

[2021-09-08 16:59] ChuckJonas commented on #1663
Man, what a disappointing waste of time.  The documentation around node functions + table storage bindings is so bad.

[2021-09-08 17:43] pragnagopa commented on #7654
This was specifically added for Node and is hidden behind a capability flag.  I think commit - https://github.com/Azure/azure-functions-nodejs-worker/commit/544f7e028409d8be54de85d81ba69d4dbeaf5138#diff-90ce154251852a9af8c28a4b0779fcf6c3a031643eadecd3f9437cbb1b5a6877 has more details. Please take a look

[2021-09-08 19:25] #7648 closed, assigned to brettsam

[2021-09-08 20:13] fabiocav commented on #7654
Makes sense, but it was combined with the nullable support, so we may need to be more granular here to preserve casing in those scenarios.

[2021-09-08 20:16] fabiocav commented on #7654
Work discussed:

- Introduce a capability flag (e.g. `preserveheadercasing`)
- Preserve header casing when the flag is specified by the worker.

[2021-09-08 20:34] fabiocav commented on #6536
@soninaren all of the associated work items have been closed. Should this be closed as done?

[2021-09-08 20:46] fabiocav commented on #5529
Fixed by Azure/azure-webjobs-sdk-extensions#737

[2021-09-08 20:46] #5529 closed

[2021-09-09 15:38] v-anvari commented on #6587
Apologies for the delayed response. Do let us know if you are still seeing this issue

[2021-09-09 15:59] Krucial92 commented on #5373
Any update on progress with this @anthonychu @jeffhollan?

[2021-09-09 16:12] antogg2004 opened #7656 "Deploying a time trigger function do not write triggers info to storage table - also used by another function"
Hello,
our function uses the following
 <TargetFramework>netcoreapp3.1</TargetFramework>
    <AzureFunctionsVersion>v3</AzureFunctionsVersion>
we previously deployed it using an arm template - the function was named blahblah - and the function was connecting to an azure storage called azstblah; the deployment succeeded, the table storage had the "canonical values" for the time triggers under the n

[2021-09-09 17:53] c-lamont commented on #6769
This has crippled me and made me think about my lifes choices. Any fix for this?

[2021-09-09 22:58] gzuber opened #7657 "Refactor ApplicationInsights_InvocationsContainDifferentOperationIds test"
The `ApplicationInsights_InvocationsContainDifferentOperationIds` test now fails because application insights is in an extension. This should be able to be re-written to not use app insights.

[2021-09-09 23:15] gzuber opened #7658 "SDK Version needs to be changed for Application Insights extension"
The Application Insights extension won't be able to differentiate between a webjobs and functions host. It doesn't make sense to add "azurefunctions: {hostVersion}" to all logs from the extension. We should add the extension version. Would that mess up any metrics being tracked?

[2021-09-09 23:25] paulbatum commented on #6423
@Zarick The main prerequisite is that the packages used in that bundle all exit preview. Right now its using the 5.0-preview releases of Storage, Service Bus, etc. I can't say for sure when that will all happen yet, but at a minimum I would say keep an eye on when the preview label is dropped from these new major versions of the functions extensions. The bundle should follow some time after that.

[2021-09-10 09:34] thomaslevesque commented on #6587
@v-anvari yes, I'm still seeing the issue

[2021-09-10 09:34] martinnormark commented on #6769
@c-lamont This is what worked for us.

### Our setup
We run our own agents, because a few years back the performance of the hosted agents were dramatically reduced. Our PR build times more than doubled.

So we have 1 large Windows based VM running in Azure, where we installed 5 build agents. They were installed on C drive, with working folder on D drive (temp storage in Azure VMs).

### Fix
I thin

[2021-09-10 11:46] NvHeijningen commented on #5246
Hi, got the same problem here. Cant find a solution. Any updates?

[2021-09-10 14:33] antogg2004 commented on #7656
This is not an issue anymore

[2021-09-10 14:33] #7656 closed, assigned to madelinegordon

[2021-09-10 16:59] fabiocav opened #7659 "[4.0] Mark Microsoft.IdentityModel.Tokens as private"
Creating this issue to track the work to mark Microsoft.IdentityModel.Tokens as a private runtime dependency and remove unification constraints.

Other similar dependencies should also be reviewed.

[2021-09-10 22:00] #7165 closed, assigned to mhoeger, v-anvari

[2021-09-10 22:00] #7157 closed, assigned to v-bbalaiagar

[2021-09-10 22:01] #7072 closed, assigned to yojagad, v-anvari

[2021-09-10 22:01] #6904 closed, assigned to brettsam, v-bbalaiagar

[2021-09-11 01:16] michaelcfanning opened #7662 "Consider updating key generation to increase identifiability (and glean security value from improved tooling)"
#### What problem would the feature you're requesting solve? Please describe.
Inadvertent plaintext exposure of secrets is a significant industry problem. Many modern security models are therefore updating their key generation logic to encode fixed signatures and checksums in secret data. This approach allows various scanners (such as Microsoft Defender and [GitHub Token Scanning](https://github.b

[2021-09-11 02:53] balag0 commented on #5246
@NvHeijningen @rodchenkov yes, this is still a limitation and we don't have an ETA yet. Are you able to workaround this in the meantime?

[2021-09-11 10:05] miklen commented on #7592
I've just encountered the same thing. I just redeployed my Functions with no changes, and then got the FileNotFoundException. I was running 1.14.0. Downgrading to 1.13.1 made it work again.

[2021-09-11 13:00] ghost commented on #7650
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-11 13:00] ghost commented on #7050
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-11 13:00] ghost commented on #7016
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-11 13:00] ghost commented on #7011
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-11 16:00] ghost commented on #7643
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-12 05:05] srjhunjhunwala commented on #7050
Hi @v-anvari,

We have a dependency on .NET Framework 4.6 that is why kept it to 1.X.

[2021-09-12 17:35] qsdfplkj commented on #7539
This is unit test: https://github.com/Azure/azure-functions-host/pull/7664

This fact should be added to JobHostServiceProviderTests.cs

        [Fact]
        public void GetRequiredService_OnJobHost_ShouldThrowAnInvalidOperationExceptionWhenAServiceCannotBeResolved()
        {
            var services = new ServiceCollection();
            var rootScopeFactory = new WebHostServiceProvider(new Se

[2021-09-13 12:49] LoW0lf commented on #4378
Are there any updates on this?

We are also using Azure Functions with Node.js on Linux Consumption Plan and do get ECONNREFUSED errors quite often. Our Scenario is the following:
- Getting ManagedIdentityCredentials from localhost:8018 (via official @azure/identity SDK)
`Error: ManagedIdentityCredential authentication failed. Message request to http://localhost:8081/msi/token?resource=https%3A%2F

[2021-09-13 14:00] v-anvari commented on #7050
Hi @srjhunjhunwala , Are you still seeing these errors?

[2021-09-13 14:47] LarryKlugerDS commented on #4378
I ran similar tests with the serverless functions features of the valued competition (Axx and Gxxxxx) results were 0.00% error rates over equivalent 8 hour test periods. Your mileage may vary.

[2021-09-13 16:06] fabiocav opened #7665 "test"
test

[2021-09-13 16:07] v-anvari commented on #7665
test

[2021-09-13 16:07] mathewc commented on #7665
test

[2021-09-13 16:08] fabiocav commented on #7665
test

[2021-09-13 16:45] v-anvari commented on #7643
Hi @jdluzen , Apologies for the delayed response. We need to understand the project scenario and expected behavior to be able to reproduce the issue and understand if there are any errors that could be resolved

[2021-09-13 16:46] v-anvari commented on #7643
Can you also point us to the paragraph in the wiki that you are pointing to

[2021-09-13 16:57] v-anvari commented on #6586
Hi @buzzaII , Apologies for the delayed response, these libraries are already supported. Let us know if you are facing any challenges using any of these packages

[2021-09-13 17:01] v-anvari commented on #7651
Hi @Zenuka , We are tracking a similar issue due to the dependency miss match and is being addressed for the issue. As a temporary work around you can delete the System.Diagnostics.DiagnosticSource on the project file and unify it to the dependency in the host file. There must be a dependency miss match, one from the project and one from the host.

[2021-09-13 17:05] v-anvari commented on #7158
Hi @robhurry , Checked this internally to understand if reading for evtx file has any known issues. As far as the team knowns, there are no known issues. It could  be because the file is not being read properly or as expected. To understand the behavior, we would need to reproduce the issue. Let us know if you are still facing this issue. Then we would require the latest Function App details durin

[2021-09-13 17:12] v-anvari commented on #7626
Hi @AnuragSingh-MSFT , The 5.x.x packages are targeted only for the .Net 5 runtime.  Your project is targeted to .net 3.1, so you can only use the packages lower than 5.x.x

[2021-09-13 17:13] v-bbalaiagar commented on #6432
I checked internally. Closing this issue as this issue is being addressed and worked upon on a similar scenario in https://github.com/Azure/azure-functions-host/issues/5098, Please find the space for further updates -[ azure-functions-host/issues/5098
](https://github.com/Azure/azure-functions-host/issues/5098)

[2021-09-13 17:13] #6432 closed, assigned to kashimiz, v-bbalaiagar

[2021-09-13 21:41] jdluzen commented on #7643
I've been attempting to come up with a self contained repro sample for you, but have been unsuccessful so far.

The type mismatching is referred in https://github.com/Azure/azure-functions-host/wiki/Assembly-Resolution-in-Azure-Functions#what-are-the-challenges-when-running-on-azure-functions under the first bullet point mentioning JObject. This also lines up with what I am seeing here under the l

[2021-09-13 21:53] balag0 commented on #4378
@LoW0lf Could you share your app name using
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

Thanks

[2021-09-14 08:34] LoW0lf commented on #4378
@balag0
`TimeGenerated [UTC]: 2021-09-14T01:00:32Z`
`FunctionInvocationID: 61acafc9-c93c-4a76-9832-cf07d2e6d0b6`
`Region: SwitzerlandNorth`

[2021-09-14 09:33] v-bbalaiagar commented on #7326
Hi @pzbyszynski, Apologies for the delayed response, can we know if you are still seeing this issue so that we can follow up with the team.

[2021-09-14 11:51] IanKemp opened #7667 "Improve error message when multiple incompatible trigger bindings are specified"
#### What problem would the feature you're requesting solve? Please describe.
A co-worker accidentally defined a function to have multiple triggers:

[code]

which results in host start failure, and this rather unhelpful error message:

[code]

Running `func.exe` manually with `CLI_DEBUG=1` set beforehand, I was able to view the full stack trace, which was actually helpful and led me to [ExternalC

[2021-09-14 12:39] v-anvari commented on #6587
Tagging @fabiocav for more inputs

[2021-09-14 12:53] v-anvari commented on #7640
Thank you for your feedback! We will investigate this scenario and update you with the possibilities.

[2021-09-14 12:54] v-anvari commented on #7667
Thank you for your feedback! We will investigate this scenario and update you with the possibilities.

[2021-09-14 13:45] v-bbalaiagar commented on #7596
Hi @codebrane, Apologies for the delayed response, I checked this internally.

Regarding things to try, here are a few :
1. Try removing the trailing slash - that could confuse it (though unlikely)
2. Alternatively, try using the other syntax form for this, `@Microsoft.KeyVault(VaultName={vault_name};SecretName={secret_name})`
3. Stop & start (not restart) the function app (I've seen this make a d

[2021-09-14 13:57] v-anvari commented on #7643
Can you provide the csproj file for both the cases ie, .Net 3.1 and .Net 5

[2021-09-14 16:00] #7016 closed, assigned to pragnagopa, v-anvari

[2021-09-14 16:00] #7011 closed, assigned to kashimiz, v-anvari

[2021-09-14 18:22] gohar94 commented on #7310
Keeping it **open** until all the PRs are merged.

[2021-09-14 21:41] FinVamp1 commented on #7618
Hello,

@AsgerPilegaard  the fix for the Language Worker initialization is in[https://github.com/Azure/azure-functions-host/issues/7590]( https://github.com/Azure/azure-functions-host/issues/7590 )  and it has been checked in. This did not make into the most recent release 3.1.2 but should be in the one after this.

The monitoring startup times doesn't have a work item assigned but @vrdmr  and @Fr

[2021-09-14 21:52] fabiocav commented on #7078
Fixed in #7669

[2021-09-15 19:53] kjeske commented on #7452
Could you provide us with some time estimates for this fix? It's blocking https://github.com/Azure/azure-functions-dotnet-worker/issues/423 and it seems this bug is being constantly postponed.

[2021-09-15 20:15] fabiocav commented on #7584
Resolved by #7669

[2021-09-15 20:15] #7584 closed, assigned to fabiocav

[2021-09-15 20:22] fabiocav commented on #7452
@kjeske we're still working on some design/open questions and the issue is primarily tracking that work at the moment. When we have more details and start on implementation, we'll be in a better position to provide an ETA

[2021-09-15 20:24] fabiocav commented on #7414
Work is in progress on this. We expect completion in 110

[2021-09-15 20:27] fabiocav commented on #5449
We're now unblocked.

@brettsam is working through final updates and test failures and we should be merging this in 110.

[2021-09-15 20:36] daniel-packard commented on #5854
I'm also having this issue. Looking for best guidance

@mhoeger - has this issue been triaged? @fabiocav?

https://github.com/Azure/azure-functions-host/issues/5854#issuecomment-609941455

[2021-09-15 20:44] fabiocav opened #7672 "Investigate changes required to enable multi-language support"
Investigate the work required to override services handling dispatching, worker lifetime management/initialization and areas where single language support is enforced.

[2021-09-15 20:46] fabiocav commented on #7078
Closing as done.

[2021-09-15 20:46] #7078 closed, assigned to brettsam, fabiocav

[2021-09-15 20:47] soninaren opened #7673 "Design work for supporting resume API for drain mode"
When performing a scale-in operation on a function app, Antares infrastructure will put the function app in drain mode. This will effectively make it so that the function app would stop fetching new events. However this leads to another issue if we the function app needs to scale out again very quickly. At that point platform could chose a worker that is new, or a worker that is potentially still

[2021-09-15 21:44] daniel-packard commented on #5854
PS: wondering if a pull request like this one would be welcome to increase the limit?  Or is there a reason to keep it at a hard limit of 100MB for azure functions? Maybe expose a setting, but keep the default at 100MB?

https://github.com/Azure/azure-functions-host/pull/1271/files

[2021-09-15 22:35] soninaren commented on #6536
yes this can be closed

[2021-09-15 22:35] #6536 closed, assigned to soninaren

[2021-09-16 06:31] AnuragSingh-MSFT commented on #7626
Thank you @v-anvari.
The 5.0.0 version of this nuget package supports .NET standard 2.0 and higher (ref: [System.Diagnostics.PerformanceCounter](https://www.nuget.org/packages/System.Diagnostics.PerformanceCounter/5.0.0)). Therefore, based on my understanding, .NET Core 3.1 would also support it. (ref: [.NET standard implementation support](https://docs.microsoft.com/en-us/dotnet/standard/net-stan

[2021-09-16 07:45] hirandesai commented on #6908
This is an open issue and not sure how come got closed without a solution @v-anvari .
The problem here is - when using ASP.NET Identity packages with Azure function, the function works in your local development environment as expected but when it gets deployed to Azure, the host becomes unreachable.

For a new project, the work around is to remove the ASP.NET Identity dependency but knowing the po

[2021-09-16 09:59] JatinSanghvi opened #7675 "Function-routes should not be compared against proxy-routes when checking for route conflicts"
Function route mapping fails for functions whose routes match with one of the proxy routes. The issue did not exist in v2 runtime. The behavior is highly dependent on how the proxy and the function are named (which governs the order in which their routes get mapped).

The regression seems to be introduced by commit https://github.com/Azure/azure-functions-host/commit/af6d87c2dfba0893177acd768d2d60

[2021-09-16 10:27] v-bbalaiagar commented on #6804
Hi @rggammon, Discussed this request internally, currently there is no support for this scenario. But, Will be considering this suggestion forward.
Closing this issue, please feel free to reach back to us in case of any further queries related to this issue.

[2021-09-16 10:27] #6804 closed, assigned to nobody

[2021-09-16 12:23] brettsam commented on #7549
@AnatoliB / @alrod / @vrdmr / (and maybe others) -- I filed this because there were several v4 breaking changes in language workers that wanted to change defaults if they were running in v4. We said that we needed a way for the worker to know the host version. It turns out that we already send `host_version` with the `WorkerInitRequest`. Will this work, or do some of these features require this to

[2021-09-16 16:37] fabiocav commented on #7665
test

[2021-09-16 16:42] #7665 closed, assigned to kashimiz

[2021-09-16 17:04] fabiocav opened #7676 "test"
test

[2021-09-16 17:04] fabiocav commented on #7676
test

[2021-09-16 17:05] #7676 closed, assigned to kashimiz

[2021-09-16 18:18] brettsam opened #7677 "Make dependency validator a hard failure in runtime for v4"
Implementation of https://github.com/Azure/Azure-Functions/issues/2045

[2021-09-16 22:10] fabiocav commented on #7055
This will be done for v4

[2021-09-16 22:19] mattchenderson commented on #7055
Relevant area: https://github.com/Azure/azure-functions-host/blob/08269604939797bf30b52c4dcb7077a2d57fc87b/src/WebJobs.Script.WebHost/Security/KeyManagement/KeyVaultSecretsRepository.cs

Uses:
using Microsoft.Azure.KeyVault.Models;
using Microsoft.Azure.Services.AppAuthentication;
using Microsoft.Extensions.Logging;
using Microsoft.IdentityModel.Clients.ActiveDirectory;

Desired instead:
- https:/

[2021-09-16 22:28] mattchenderson commented on #7055
Noting that if using Microsoft.Extensions.Azure, we're basically looking at a config block with the following options (JSON only for convenience of capture here):

[code]

OR

[code]

This would mean we only need the one "connection" property passed into the provider here.

I realize that's a slight scope creep here, and I'm not sure if it's the best approach, but I wanted to put it out there as a

[2021-09-17 19:00] ghost commented on #7651
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-17 19:00] ghost commented on #7650
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-17 19:01] ghost commented on #7158
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-17 19:01] ghost commented on #7050
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-17 19:01] ghost commented on #6586
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-17 22:39] paulbatum opened #7679 "Durable webhook tests were skipped as part of v4 upgrade"
The two variations of the integration test `CustomHeadersMiddlewareExtensionWebhookUrl` are currently skipped in the V4 codebase because these tests fail against durable 2.5.0. The issue is probably due to changes in webhook handling in durable, and require some extra test setup steps to get the expected behavior.

[2021-09-17 23:12] paulbatum commented on #7679
@ConnorMcMahon FYI

[2021-09-18 10:00] ghost commented on #7326
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-18 14:49] fnw18 opened #7680 "Fapp Errors 404"
I'm facing problems with Functions that are active and with recurring requests, and suddenly they start getting 404 error.

The error happens for some time and then resumes normally, but our application is critical and the error makes the product unfeasible.

The last error encountered on Friday is attached.
<img width="1241" alt="Captura de Tela 2021-09-18 às 11 41 57" src="https://user-images.g

[2021-09-18 16:00] ghost commented on #7643
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-18 16:00] ghost commented on #7596
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-19 04:42] balag0 commented on #4378
@LoW0lf Thank you. The full exception seems to be

Microsoft.Azure.WebJobs.Host.FunctionInvocationException : Exception while executing function: ---> Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcException : Result: Failure Exception: AggregateAuthenticationError: undefined  Error: EnvironmentCredential is unavailable. Environment variables are not fully configured. Error: ManagedIdentityCredenti

[2021-09-20 06:46] Zenuka commented on #7651
How do I know which version to use? In my production app, there is no direct reference in my project file to `System.Diagnostics.DiagnosticSource` but only indirect ones from a lot of nuget packages (app insights, service bus, storage blobs, cosmos, key vault). They all use version 5.0.0. I could not find any information on how to unify dependencies in the host file, do you have some information a

[2021-09-20 07:00] ghost commented on #7626
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-20 09:05] eluchsinger commented on #5098
@thomasvdb so what do you inject into the Function then? In the example you are injecting an `IHttpClientFactory`. Do you inject the `FunctionWorkaround`?

[2021-09-20 09:14] eluchsinger commented on #5098
@fabiocav @brettsam This issue looks like related to my new issue reported. I don't think that it's the same issue though so I wouldn't merge them.

https://github.com/Azure/azure-functions-dotnet-worker/issues/628

[2021-09-20 10:41] v-anvari commented on #7651
Hi @Zenuka , As you say that there are different Nuget packages that are being referenced. Can you check all the dependencies to Diagnostic source. Also, since you are working on .Netcore 3.1 version, packages with 5.x.x versions are not supported. Can we have the details of all those packages, because I dont see them in the csproj file

[2021-09-20 10:59] Zenuka commented on #7651
Thanks for your quick reply! The .csproj file I supplied was meant for an easy and reproducible sample. This was created using File -> New Solution in Visual Studio.

Why is `System.Diagnostics.DiagnosticSource` with version 5.x not supported on .net core 3.1?

This is a screenshot from our function app with the dependency tree using `System.Diagnostics.DiagnosticSource`:
![image](https://user-ima

[2021-09-20 15:07] codebrane commented on #7596
I tried restarting, stopping/starting the app but it didn't fix it.
I tried removing the trailing slash from the secret url but it didn't fix it.

The only way to get the function app to read the latest version of the secret is to make a change to the configuration setting, adding/removing the trailing slash, just to get it to save the configuration. It's the act of saving the configuration that s

[2021-09-20 16:50] lgiuliani80 opened #7681 "SQL Server dependency tracking stops working when Microsoft.ApplicationInsight is explicitely referenced"
With .NET Core 3.1 Function App dependency calls to SQL Server are not tracked if NuGet Microsoft.ApplicationInsight is referenced in the project. Tested with Microsoft.ApplicationInsight v. 2.16.0 and 2.18.0.

#### Repro steps

1. Create a new Function App .NET Core 3.1 project in VS 2019 with HttpTrigger
2. In the implementation of the (only) function perform a SqlConnection and run a SqlCommand

[2021-09-20 16:54] v-anvari commented on #7651
Hi @Zenuka , You should be able to add a package explicitly to System.Diagnostics.DiagnosticSource package. This will over ride the dependent packages. Can you try doing this and let us know if that works.

https://www.nuget.org/packages/System.Diagnostics.DiagnosticSource/4.7.1

dotnet add package System.Diagnostics.DiagnosticSource --version 4.7.1

[2021-09-20 16:58] balag0 commented on #7596
Yes, restarting the app doesn't guarantee a refresh.

From
https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references#rotation

[2021-09-20 17:25] v-bbalaiagar commented on #7644
Hi @arggrande,  Apologies for the delayed response, discussed this issue internally. As the issue is not necessarily a function trigger, the best course of action here is to report this issue with logic apps team.

Closing this issue, please feel free to reach back to us in case of any further queries related to this issue.

[2021-09-20 17:25] #7644 closed, assigned to nobody

[2021-09-20 17:47] v-bbalaiagar commented on #7102
Hi @readnikhil, Apologies for the delayed response. Discussed this internally, let us know if you are still facing this issue. If yes, Can you give us the repro steps to understand the process that you are following.

[2021-09-20 17:58] v-anvari commented on #7027
Hi @Tragedian , The current implementation doesn't support the covariant types as of now. Adding this issue as a feature request to consider this in  future implementations.

[2021-09-20 18:00] v-anvari commented on #7640
Hi @jahead , Can you provide a sample code. Any samples that could explain this scenarios usage

[2021-09-20 18:08] v-bbalaiagar commented on #7680
Hi @fnw18, Thank you for your feedback! Could you please provide us the invocation id of the error, region and time stamp during the error to get the logs and check the cause.

[2021-09-20 18:11] v-anvari commented on #7636
My apologies you are right, the support is introduced with the beta versions. Recently there were few fixes and changes implemented which is documented here.

 https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md#500-beta4-2021-05-18

Can you try using the below configuration and let us know if that works.

{
    "MyStorage

[2021-09-20 18:24] v-anvari commented on #7636
Can I also have you complete Local.settings.json file. In you case, can I see the App settings file. Can you make sure the settings are in the same format as below,

{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "<language worker>",
    "AzureWebJobsStorage": "<connection-string>",
    "MyBindingConnection": "<binding-connection-string>",
    "AzureWebJobs.HttpExample.Dis

[2021-09-20 18:51] compulim commented on #7470
@v-anvari Please sync up with Monica Rivera internally. There is a good investigation on this thread, https://github.com/microsoft/botbuilder-dotnet/issues/5692.

[2021-09-20 19:05] fnw18 commented on #7680
Region - East US
UTC 18:52 17/09/2021
Exemple of invocation id: \|37af682d-482bf314751754f0.37af682e_ |  

[2021-09-20 19:14] v-anvari commented on #7636
One more detail to check is that, since you have disabled the access to storage account keys, and managing keys from the key vault, Before Key Vault can access and manage your storage account keys, you must authorize its access your storage account. The Key Vault application requires permissions to list and regenerate keys for your storage account. These permissions are enabled through the Azure b

[2021-09-20 20:26] piotrzbyszynski commented on #7326
@v-bbalaiagar Yes, the issue is still present

[2021-09-20 22:00] #7650 closed, assigned to v-anvari

[2021-09-20 22:00] #7050 closed, assigned to pragnagopa, v-anvari

[2021-09-20 22:00] #7158 closed, assigned to kashimiz, v-anvari

[2021-09-20 22:00] #6586 closed, assigned to nobody

[2021-09-21 00:51] horihiro opened #7684 "Handling the return value from an orchestrator function in Custom Handler without `$return` binding difinition in function.json"
#### What problem would the feature you're requesting solve? Please describe.
Now I'm trying to port [Durable Functions for Node.js](https://github.com/Azure/azure-functions-durable-js) for [Deno](https://deno.land/) and [azure-functions-deno-worker](https://github.com/anthonychu/azure-functions-deno-worker).

In the development, I found the following:

  - Handling return value from an orchestrat

[2021-09-21 02:23] Exitare commented on #5854
Having the same issue. Is there any update on this ?

[2021-09-21 06:09] Zenuka commented on #7651
For my production apps I was able to add the reference by modifying my project files with the follow lines:
[code]
Unfortunately, `Activity.Current` is still null. Same goes for the sample I provided using the following project file:
[code]

Are you able to get it working with a basic sample?

[2021-09-21 08:05] codebrane commented on #7596
There doesn't seem to be a way for a function app to read the actual latest version of a secret, in the sense that latest version should be the actual latest version, rather than reading a "latest version" URL and cacheing the value. Unless I can get the configuration Save button to enable the function app never reads the latest version value of the secret.

It would appear that code is the only w

[2021-09-21 09:14] balag0 commented on #7596
Automatic refresh happens within 24 hours. Just to clarify, are you looking for a way to refresh more frequently?

From https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references#rotation

[2021-09-21 09:20] c-lamont commented on #6769
@martinnormark Thanks for the detailed steps of how you resolved the issue. However my issue was running it locally on VS Mac. I'm sure your response will help out others though.

For me, with the latest VS Mac update `Version 8.10.9 (build 3)` I do not get the error anymore.

[2021-09-21 10:33] v-bbalaiagar commented on #7326
Hi @pzbyszynski, Thank you for your feedback! Kindly can you provide us the latest invocation id of the error to check further.

[2021-09-21 13:13] v-anvari commented on #7393
Tagging @anirudhgarg / @fabiocav  for any further updates

[2021-09-21 14:18] v-bbalaiagar commented on #7216
Hi @andrewdmoreno , Apologies for the delayed response. Checking this internally for any other workarounds and update you with the findings.

[2021-09-21 14:28] v-bbalaiagar commented on #7681
Hi @lgiuliani80 , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-09-21 16:00] #7643 closed, assigned to brettsam, v-anvari

[2021-09-21 16:54] v-anvari commented on #7651
Hi @Zenuka , Thank you for the feedback, this issue is a known issue and is being tracked here - https://github.com/Azure/azure-functions-host/issues/7278, and this is because the package was removed from unification. Team is tracking the problem to fix it. This scenario is different for different code samples. I haven't tried to repro your code yet.  If 4.7.1 isn't working, please downgrade furth

[2021-09-21 18:19] mattchenderson commented on #7055
(I have changed my mind on the above setup - I don't think we gain anything from the "connection"-like setup here. Please see discussion in #7683)

[2021-09-21 18:49] soninaren commented on #6925
@fabiocav this is done right?

[2021-09-21 22:34] mathewc commented on #7667
@IanKemp thanks for taking the time to report this issue. PR https://github.com/Azure/azure-functions-host/pull/7685 addresses this.

[2021-09-22 06:41] forki opened #7690 "Microsoft.Azure.WebJobs.Script.HostDisposedException on prod host"
Some of my functions are crashing with:

[Microsoft.Azure.WebJobs.Script.HostDisposedException:
   at Microsoft.Azure.WebJobs.Script.WebHost.DependencyInjection.JobHostServiceProvider.CreateScope (Microsoft.Azure.WebJobs.Script.WebHost, Version=3.2.0.0, Culture=neutral, PublicKeyToken=null: D:\a\1\s\src\WebJobs.Script.WebHost\DependencyInjection\JobHostServiceProvider.cs:110)
   at Microsoft.Azure

[2021-09-22 07:15] forki commented on #7690
@fabiocav  @anthonychu  - any ideas? this is crashing lots and lots of our functions

[2021-09-22 09:45] piotrzbyszynski commented on #7326
@v-bbalaiagar Here you go: `0b5e71a6-8d10-4689-b744-e50b74580e7f`

[2021-09-22 19:22] #7667 closed, assigned to nobody

[2021-09-22 20:10] fabiocav commented on #7393
This should be resolved when using the newest set of storage extensions. Can you  @MikePennington, can you please update the references and let us know if your problem is resolved?

[2021-09-22 20:14] fabiocav commented on #7684
@ConnorMcMahon / @anthonychu  do we have any validation/test scenarios for Durable Functions and Custom Handlers

[2021-09-22 20:18] fabiocav commented on #6587
Flagging this as a breaking change.

This will likely not make the 4.0 release, but it's something we could consider as a configurable behavior/option.

[2021-09-22 20:22] fabiocav commented on #7622
This is being tracked in the Azure SDK repo.

[2021-09-22 20:22] #7622 closed, assigned to nobody

[2021-09-22 20:29] fabiocav commented on #6910
@gohar94 / @pragnagopa is this still relevant? Are there more details you want to add to this?

[2021-09-22 20:35] fabiocav commented on #7029
@divyagandhisethi do we want to make the fix in the API, or is there an infrastructure fix we need to put in place to avoid calling this API in non-placeholder scenarios?

[2021-09-22 20:36] fabiocav commented on #7029
@divyagandhisethi was this resolved by the PR you've referenced?

[2021-09-22 20:38] fabiocav commented on #7126
@justinyoo the functionality you're describing is what is exposed with the Function Startup behavior. Can you provide more information on what you're trying to do and where the existing extensibility falls short?

[2021-09-22 20:41] fabiocav commented on #7135
We need to track the unification change in 4.0.

Tagging @brettsam for validation in v4

[2021-09-22 20:45] fabiocav commented on #7115
@justinyoo is this still a requirement after the last chat we had?

[2021-09-22 20:47] fabiocav commented on #7199
@balag0 do you have concrete action items we should be tracking as issues?

[2021-09-22 20:48] fabiocav commented on #7287
@balag0 are you planning on addressing this, or is this something we need to assign? Thanks

[2021-09-22 20:52] fabiocav commented on #7302
Additional design is required here so we can understand when we want to log.

Flagging this as a design item for discussion.

[2021-09-22 20:54] fabiocav commented on #7444
@apranaseth can you confirm this is for CSX functions? Is pre-compiled a viable option for you?

[2021-09-22 20:58] fabiocav commented on #7457
@Francisco-Gamino can you expand on how you'd expect to use this information to aid in investigation? Would it be purely comparing the hash with previous ones? Can you share more details?

[2021-09-22 21:02] fabiocav commented on #7458
Do you have concrete examples of instances of key regeneration where the host would know what caused invalidation? Typically, this would occur if the host is sharing storage accounts with another instance with the same host ID (either explicitly defined or due to a collision), if the encryption keys are changed or something similar, but the host doesn't actually know that.

[2021-09-22 21:26] Francisco-Gamino commented on #7457
@fabiocav -- I have added more details to the issue description. Please let me know if we need additional information. Thanks.

[2021-09-22 22:14] paulbatum commented on #7645
Resolved by https://github.com/Azure/azure-functions-host/pull/7581

[2021-09-22 22:14] #7645 closed, assigned to paulbatum

[2021-09-22 22:48] Francisco-Gamino commented on #7458
@fabiocav -- I had a sync with @alrod. You are correct, from the Functions Host point of view, it could not read the keys, and as a result, it regenerated new the keys. However, we think that we could improve the current Functions keys detector to analyze the logs and provide possible causes of regenerations. Please let me know if we can use this issue to improve on the current detector.

[2021-09-22 23:02] fabiocav commented on #7458
If the scope of the work is for the detectors only, we should probably be tracking that in the detector board (let me or Sonia know if you don't have that) and close this issue.

[2021-09-22 23:07] justinyoo commented on #7115
@fabiocav Yes, from the Open API extension perspective, it's still required.

[2021-09-22 23:12] justinyoo commented on #7126
@fabiocav This feature is for the Open API extension. It has already been implemented for the in-proc worker, based on the directions we had a while ago.

[2021-09-22 23:42] Francisco-Gamino commented on #7458
I've created a new entry in the Detector board to improve the current Functions keys detector. Closing issue.

[2021-09-22 23:42] #7458 closed, assigned to brettsam

[2021-09-22 23:52] liliankasem opened #7687 "Improve error messages returned when using Key Vault integration"
#### What problem would the feature you're requesting solve? Please describe.

When user's provide this  app setting: `AzureWebJobsSecretStorageKeyVaultUri`, without a system-assigned identity existing for the app - the error message is generic: `Failed to create mykey: error creating or updating function key`

This also happens when using `AzureWebJobsSecretStorageKeyVaultName` and `AzureWebJobsS

[2021-09-23 00:25] fabiocav commented on #7457
Thanks! The hash will help if you have successful requests to the same endpoint if you know they would be using the same key. It's valid for a function to have multiple keys, and therefore, multiple possible successful hashes, so having the hash differ from another request doesn't immediately indicate the key was incorrect without user confirmation that they were supposed to be the same. I'll foll

[2021-09-23 01:12] balag0 commented on #7287
Yes, I will work on this, but this is low pri, so not urgent.

[2021-09-23 01:14] balag0 commented on #7199
I think we are not ready to finalize details on this yet. There is some work in progress currently that changes the storage interaction pattern, so will have to revisit this in a few months.

[2021-09-23 01:18] balag0 commented on #7199
I have also moved this to the internal taskboard for now. There may or may not be changes needed in this repo.

[2021-09-23 01:18] #7199 closed, assigned to nobody

[2021-09-23 06:25] Zenuka commented on #7651
I've tried downgrading to the following versions without success: `4.7.1, 4.7.0, 4.6.0, 4.5.1, 4.5.0, 4.4.1, 4.4.0`. My sample was created using the default azure function template in Visual Studio 16.10.4. The project is .net core 3.1 and references `Microsoft.NET.Sdk.Functions 3.0.13`. The runtime that is used is:
[code]
The line I added to the generated http function is: `Activity.Current.AddTa

[2021-09-23 06:48] IanKemp commented on #7667
Thanks for the super fast turnaround @mathewc !

[2021-09-23 07:10] thomaslevesque commented on #6587
Out of curiosity, why doesn't Azure Functions use the default DI container from Microsoft.Extensions.DependencyInjection?

[2021-09-23 07:33] VaclavK commented on #5098
Our strategy so far dealing with this

in our case  (given this is your vanilla ef.core n-tier app with db store, this may be applicable for other folks) was that due to separate db context (and its associated changed entities), data was not being saved as save changes was invoked on the primary db context ,not the secondary

we have moved all functions that talk to Http (fortunately that is few i

[2021-09-23 08:40] AndersDyhr opened #7688 "Custom telemetry does not arrive at Application Insight"
#### Check for a solution in the Azure portal
Done, not applicable

#### Issue:
I have made an Azure function that send custom telemetry to Application Insight when the function is run locally. However,
 running the function one azure function host custom telemetry from the Java Azure function is not being send to Application Insight.

#### Please provide the following:

- Timestamp: 2021-09-23T06

[2021-09-23 09:22] hjain5164 opened #7689 "Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException"
We have deployed an Azure Function App with the Python 3.8 stack. For some requests, we have received a BadHttpRequestException

Exception while executing function: Functions. **Exception binding parameter 'req' Reading the request body timed out due to data arriving too slowly. See MinRequestBodyDataRate.**

But this exception is thrown from ASP .Net core . We are not sure what is causing this ex

[2021-09-23 09:23] hjain5164 commented on #7689
The error message is shown below:

[2021-09-23 11:35] thomasvdb commented on #5098
@eluchsinger Indeed, I inject the `FunctionWorkaround` (it has an interface as well in our case, left it out in the example).

[2021-09-23 13:37] derekrprice commented on #2153
I have an issue related to @kreaton's.  We use an external performance and error monitoring tool that needs to close gracefully in order to log to a remote server.  When the function is killed with prejudice, it never gets a chance to log the performance information that it has recorded so we don't have any traces to use to track down what is causing the runs to take so long.

[2021-09-23 13:43] #7647 closed, assigned to brettsam

[2021-09-23 18:10] divyagandhisethi commented on #7029
@fabiocav - yes we can close this out.

[2021-09-23 18:10] #7029 closed, assigned to divyagandhisethi

[2021-09-23 18:18] gohar94 commented on #6910
@fabiocav This is to allow transferring objects > 2GB from the functions-host to the out-of-proc worker. My understanding at the time was that this is not supported - is that still true?

[2021-09-23 18:18] gohar94 commented on #6910
This is to allow transferring objects > 2GB from the functions-host to the out-of-proc worker. My understanding at the time was that this is not supported - is that still true?

[2021-09-23 19:58] jhneudesic commented on #5774
I get the same error when using python to run a timerTrigger

simple code test which works great on my local machine but when I deploy to azure I get the **StopApplication delayed error**
I get this if I run the function async. if I run it synchronous I don't have any issues but I need this to run async else I will get a real timeout.

`
import datetime
import logging
import azure.functions as fun

[2021-09-24 04:23] readnikhil commented on #7102
Hi , Yes the issue still persists . I have a http trigger Azure function that converts a json message to another json format .
I need to restrict all null values elements so that they are not sent in outgoing json message as response to http trigger .
So I had used the nuget packages that I have mentioned and then we try to set this property .
![image](https://user-images.githubusercontent.com/501

[2021-09-24 12:04] IanKemp commented on #3189
This should probably be closed as #4761 is done.

[2021-09-24 12:05] IanKemp opened #7693 "Please help me understand the reasons for limitations of local.settings.json and the best practices around it"
I have `local.settings.json` with the following defined:

[code]

The reasons are:

1. Our deployment process pushes the content of `local.settings.json` to Azure and [I want my settings to be compatible between Windows and Linux hosts](https://docs.microsoft.com/aspnet/core/fundamentals/configuration/?tabs=basicconfiguration&view=aspnetcore-3.1#configuration-keys-and-values-1).
2. I cannot use th

[2021-09-24 13:05] IanKemp commented on #7693
Apologies, incorrect repo, have now posted to https://github.com/Azure/azure-functions-core-tools/issues/2722

[2021-09-24 13:05] #7693 closed, assigned to madelinegordon

[2021-09-24 15:42] Mastercut0r opened #7695 "Unable to publish via Azure DevOps pipeline an Azure function app v3 based on .net 5 (isolated)"
#### Investigative information
Build Agent setup:
[code]

I am using following packages:
[code]

My dotnetcorecli@2 publish task from YAML-Pipeline code is:

[code]
#### Repro steps

After upgrading my Azure Function App from dot net core 3.1 to DotNet Core 5.0 Isolated the publish task in the Azure Dev Ops pipeline started failing with the following Error in dotnetcorecli@2 publish task.
If i rev

[2021-09-24 19:00] ghost commented on #7640
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-24 19:06] pragnagopa commented on #6955
@fabiocav  - can you please find an owner for this?  Without this change, we would be hardcoding default files for all the language workers here - https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Host/HostFunctionMetadataProvider.cs#L244

cc @pgombar

[2021-09-24 21:46] ConnorMcMahon opened #7698 "Functions Keys stale after rotating storage account until startup cache invalidated."
#### Investigative information

In an internal investigation of a customer reported incident, we found that after the customer had changed their storage account, there were several hours where the sync triggers operation was still using the stale keys from the old storage account.

This is because the SecretsManager was loading the secrets from the functions startup cache, so it didn't poll the ne

[2021-09-24 22:00] ghost commented on #7636
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-25 08:20] 3bugs commented on #6926
Did you create a new FormData for each request? I had a similar issue and finally found that I create FormData in the global scope of Node.js.

[2021-09-25 13:00] ghost commented on #7596
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-25 18:55] LPalmerMSI opened #7700 "TableOutput Binding should support updates"
The TableOutput binding can not, currently, update tables.  A change to the binding should be make for create or update.

Add a parameter to the annotation (Java) for outputType=Create, Update, CreateOrUpdate.

If I have to use the Azure Java SDK for 50% of the uses cases why do I need this binding to begin with?  The binding is currently too limited.

[2021-09-26 10:00] ghost commented on #7326
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-26 18:31] #3189 closed

[2021-09-26 22:00] ghost commented on #7444
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-26 22:00] ghost commented on #7393
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-27 01:00] ghost commented on #7457
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-27 01:01] ghost commented on #7126
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-27 01:01] ghost commented on #7115
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-27 04:00] ghost commented on #7287
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-27 04:30] MikePennington commented on #7393
@fabiocav Which nuget package specifically should be updated to resolve this? Here is an example *.csproj file from one of the projects that is having this issue.

[code]

I don't have a reference to `Microsoft.Azure.WebJobs.Extensions.Storage` in there at all (other apps having this issue do have this reference though). Are you saying I need to update `Azure.Storage.Blobs` or something else?

[2021-09-27 08:03] v-bbalaiagar commented on #7688
Hi @AndersDyhr, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.
Meanwhile, here is a [blog](https://jonathancrozier.com/blog/recording-custom-telemetry-with-azure-application-insights) post which addresses similar scenario where the blog talks about custom telemetry.
Please check and let us know if this helps.

[2021-09-27 08:04] v-bbalaiagar commented on #7689
Hi @hjain5164, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-09-27 09:15] andyTheCoder commented on #6769
Seems to be working now...
Updated to Microsoft.NET.Sdk.Functions 3.0.13
However, our build server (Jenkins on windows server) was also patched with framework updates (via standard windows updates)
So cannot be sure as to which fixed the issue for us.

[2021-09-27 09:31] IanKemp opened #7701 "Set IsPackable=false by default on project creation"
#### What problem would the feature you're requesting solve? Please describe.
See https://github.com/dotnet/templating/issues/376. The rationale here is similar to there - the output of an Azure Functions project should generally not be placed into a NuGet package.

#### Describe the solution you'd like
Add `<IsPackable>false</IsPackable>` to the .csproj file when creating an Azure Functions proje

[2021-09-27 10:59] v-anvari commented on #7194
Hi @MelbourneDeveloper, These dependencies are formed in such a way that Nuget packages above 5.x.x supports only .Net 5. There were few issues in the past to make this scenario work better, but unfortunately this is as per design and the way the net stack typically works.

Closing this issue as this is by design

Some more information regarding the same is here - https://github.com/Azure/azure-fu

[2021-09-27 10:59] #7194 closed, assigned to nobody

[2021-09-27 11:02] v-anvari commented on #7700
Hi @LPalmerMSI , Can you explain this scenario further by providing a sample code or repro steps.
What is in the current design that you want us to make it better.
What is the actual and expected output

[2021-09-27 11:11] v-anvari commented on #7701
Hi @IanKemp , Can you explain this scenario a bit further with a sample or repro steps. What is the need to add the property in you code. Expected and Actual result.

[2021-09-27 11:21] hjain5164 commented on #7689
Thanks @v-bbalaiagar for the response. Can we please see the possible solution for this issue as it is impacting the production application.

[2021-09-27 11:51] v-anvari commented on #7070
Closing this issue as the required information is provided, please feel free to reach back to us or re-open this issue in case of any queries.

[2021-09-27 11:51] #7070 closed, assigned to nobody

[2021-09-27 11:59] v-anvari commented on #7651
Tagging @brettsam , for more inputs, we have few issues related to the package version. Could you please take a look at this issue

[2021-09-27 12:03] v-anvari commented on #7525
Closing this issue as there is no further activity, please feel free to reach back to us or re-open this issue in case of any further queries related to this issue

[2021-09-27 12:03] #7525 closed, assigned to nobody

[2021-09-27 12:04] v-anvari commented on #7518
Closing this issue as there is no further activity, please feel free to reach back to us or re-open this issue in case of any further queries related to this issue

[2021-09-27 12:04] #7518 closed, assigned to nobody

[2021-09-27 12:06] v-anvari commented on #7478
Tagging @ehamai , for further investigation

[2021-09-27 13:47] AndersDyhr commented on #7688
Thanks for that looking forward to hear back from you. The blog does not seem to help.

[2021-09-27 13:58] pragnagopa commented on #7465
cc @pgombar

@balag0  - can we address this in next sprint?

[2021-09-27 15:54] v-anvari commented on #7197
Hi @ulfandersson , The Azure function Proxies has a lot of limitations unlike for APIM. The Gzipped compressions are not supported in Linux and has a lot of backend limitations for Windows. The response took lot of time, because the team was deciding the proxy requirements here after.

Azure Functions Proxies will no longer be supported in 4.x. You are recommended to use Azure API Management.

htt

[2021-09-27 15:54] #7197 closed, assigned to nobody

[2021-09-27 16:58] v-bbalaiagar commented on #7695
Hi @Mastercut0r, Thank you for your feedback! I checked this internally. Including the extension MetadataGenerator, which is most likely the source of the issue you are looking at. So, just removing the webjobs references would help you.

[2021-09-27 17:12] v-bbalaiagar commented on #7689
Hi @hjain5164,  I checked this internally. We would like to understand if this is a just with a specific set of clients that you are getting. Because that will most likely be the case is that data is not actually the connection speed is not allowing for us to read data that would meet the data transfer rates.

[2021-09-27 17:18] v-bbalaiagar commented on #7688
Hi @AndersDyhr,  Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-09-27 17:26] hjain5164 commented on #7689
Yes it happens when there are like 10 request sent parallely to the
function app, and all the request are failed with this error. But the next
batches are processed successfully. So is it the case that Function app is
not able to handle 10 request immediately when it is idle for too long

If connection speed is a problem, what are the possible solutions for that
as the source system (calling the a

[2021-09-27 19:56] apranaseth commented on #7444
@fabiocav , yeah its C# function but its dynamically loaded. Not a precompiled one.

[2021-09-27 21:28] anthonychu opened #7703 "Warn if proxies.json exists in v4"
V4 doesn't support proxies. Core Tools should warn if proxies.json is defined in a v4 app.

[2021-09-27 22:00] #7636 closed, assigned to kashimiz, v-anvari

[2021-09-28 00:00] jahead commented on #7640
Hey sorry, I've been on a sprint, I'll give you the feedback tonight, please re-open

[2021-09-28 09:58] Mastercut0r commented on #7695
Hi @v-bbalaiaga, thank you for quick response and for your effort on this issue.
I tried your suggested workaround and removed the Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator reference from my *.csproj and it solved the issue with publishing.

So as for me, this issue may be closed now.

[2021-09-28 09:58] #7695 closed, assigned to nobody

[2021-09-28 12:22] AsgerPilegaard commented on #7618
Hello Finbar.

Changing to run azure functions on linux servers has eliminated the InvalidOperationException completely. However I would assume that this task is still very much an issue on windows.
Ritika Singhal informed me that the fix #7590 also did not make it into release 3.2.0, but supposedly will be part of 3.3.0, and should complete in 1-2 weeks if not blocking issues are encountered. I a

[2021-09-28 14:05] v-bbalaiagar commented on #7102
Tagging @fabiocav for further investigation

[2021-09-28 14:28] v-bbalaiagar commented on #7326
Hi @pzbyszynski, I went through the logs with the given invocation id. I see the error- Microsoft.Azure.WebJobs.Host.FunctionInvocationException : Exception while executing function: SynchronizeFunction ---> System.NullReferenceException : Object reference not set to an instance of an object.
   at async PerfectGym.GoApi.Infrastructure.Synchronization.Functions.SynchronizeFunction.Run(ServiceBusRe

[2021-09-28 16:00] #7596 closed, assigned to soninaren, v-bbalaiagar

[2021-09-28 16:47] #7677 closed, assigned to brettsam

[2021-09-28 20:54] soninaren opened #7706 "Default host.json generated for logic app is using the wrong verison"
When creating a default host.json when a function app is created within the context of logic app it is using the wrong version. The default version for workflow bundle should be "[1.*,2.0.0).

[2021-09-28 23:27] madelinegordon opened #7710 "Caching issue - function app staging slot keys appear in portal to change after swap slot performed"
Caching issue - When a Function app with both a prod and staging slot performs a swap, the functions keys for the staging slot appear in the portal to adopt the same values as the prod keys, but in storage they do not change. (Not changing keys on swap is the expected behavior with default settings).

#### Investigative information

This [IcM](https://portal.microsofticm.com/imp/v3/incidents/detai

[2021-09-29 04:07] ragzzy commented on #912
checking in on a long open issue/discussion... was there a solution for this?

[2021-09-29 06:47] aersam opened #7713 "Functions with QueueTrigger misconfigured make the host restart over and over"
If there is a QueueTrigger in an AzureFunction that does not work (eg Connection does just not exist), this will make the host restart. I think this is not a good behavior, as it results in the following user experience:

- Functions App restarts and restarts and restarts and restarts...
- Log Stream works on Windows only (at least for me). Therefore, diagnosing this can be very hard on Linux. May

[2021-09-29 15:49] liliankasem commented on #7687
Additional error to fix:

- Scenario: Run hosted using AZURE_TENANT_ID, AZURE_CLIENT_ID and AZURE_CLIENT_SECRET, without AzureWebJobsSecretStorageKeyVaultUri; validate we handle the error gracefully and present a reasonable message
- Result: `Failed to create mykey: Encountered an error (InternalServerError) from host runtime.`

[2021-09-29 16:09] piotrzbyszynski commented on #7326
@v-bbalaiagar Line specified in the stack trace can not throw NRE. But I will add extensive logging to check what throws this NRE. But please keep in mind that messages that ended up in Dead Letter Queueu due to NRE after function restart are processed just fine

WIll add logging and will let you know

[2021-09-29 18:48] vrdmr commented on #7119
@kshyju FYI

[2021-09-29 20:08] fabiocav commented on #7673
Moving this to sprint 111.

/cc @liliankasem

[2021-09-29 20:09] fabiocav commented on #7706
Leaving this in 110 as the PR should be merged shortly

[2021-09-29 20:12] fabiocav commented on #7549
Closing this as we already have the information being passed and the requirement is no longer present.

[2021-09-29 20:12] #7549 closed, assigned to liliankasem

[2021-09-29 20:22] fabiocav commented on #7414
PR out, pending review. Moving to 111 to iterate on the changes.

[2021-09-29 20:24] fabiocav commented on #5449
Closing as done. 🎉 🦖

[2021-09-29 20:24] #5449 closed

[2021-09-29 20:29] fabiocav commented on #7679
@ConnorMcMahon is this something you'd be able to look at, or should we assign someone to look at the test?

[2021-09-29 23:04] #7706 closed, assigned to soninaren

[2021-09-30 00:57] gzuber opened #7723 "Extension Bundles filtering logic should support new special case "_""
Extension Bundles added a new special-case binding with value "_" for the application insights extension can be recognized and treated differently in V4, and not installed in V3. The filtering logic in the host needs to recognize this and act upon it.

[2021-09-30 01:51] gzuber opened #7724 "Functions V4 should throw exception if Application Insights extension is misconfigured"
If the customer is expecting to use application insights (has connection string or instrumentation key set) but doesn't have the extension installed (on azure, not when running locally), the host should fail to start.

We should also have a general warning when developing locally considering how many apps this impacts.

[2021-09-30 02:37] justinyoo commented on #7115
This issue, https://github.com/Azure/azure-functions-dotnet-worker/issues/562, is related to this one

[2021-09-30 04:00] #7126 closed, assigned to nobody

[2021-09-30 06:17] RohitRanjanMS commented on #7393
Hi @MikePennington, the issue was with the Azure.Core nuget package. Azure.Storage.Blobs and Azure.Identity internally depends on Azure.Core. Update Azure.Storage.Blobs and Azure.Identity with the latest version.

[2021-09-30 06:41] sudarsanvsr opened #7726 "Short FunctionExecutionTimeMs but long duration (response time)"
I have a Python Azure function on premium plan that is http triggered. There are multiple instances running (scale out and always on enabled) and each instance is running 2 workers and is processing at most 2 concurrent requests.

Sometimes, I'm seeing this weird behavior that traces (in app insights) is showing an execution time that is super short for some invocations (say under 100ms) but the r

[2021-09-30 08:10] sudarsanvsr commented on #7726
Think I figured out the issue. There are a few long-running invocations that cause incoming requests to get queued. When the long-running ones finish, which have a long execution time and therefore response time, the queued ones get picked up and their response time is already bad by then. This brings me to a different question: Why is the function not scaling out in this instance?

I also do not

[2021-09-30 09:30] AnuragSingh-MSFT commented on #7626
@v-anvari, I wanted to check if you had a chance to review my comment earlier and if you have any questions.

[2021-09-30 09:41] v-anvari commented on #7626
Hi @AnuragSingh-MSFT , My apologies, Yes I have seen your response, I am sure why the bot failed to change the label. I shall move this issue for review.

[2021-09-30 19:52] liliankasem commented on #7055
Closing as #7683 merged, @mattchenderson feel free to reopen if I missed anything

[2021-09-30 19:52] #7055 closed, assigned to liliankasem

[2021-10-01 04:51] pedrojunqueira commented on #5246
Some issue here. Set up `WEBSITE_TIME_ZONE` configuration and still running on UTC `tz`

[2021-10-01 13:00] ghost commented on #7701
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-01 13:00] ghost commented on #7700
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-01 13:00] ghost commented on #4378
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-01 13:04] AndersDyhr commented on #7688
Do you have any findings?

[2021-10-01 14:06] LPalmerMSI commented on #7700
I think the description is self explanatory.  I'm not sure what you're looking for in "repro steps", this is not a bug, it's a limitation in the way the TableOutput azure function binding functions.  The binding will only do an "insert" operation on a table.  It should be expanded to include "update" and "upsert" as well.

[2021-10-01 15:33] aj-patterson opened #7735 "Support C# discard parameters binding"
#### What problem would the feature you're requesting solve? Please describe.
In some cases, the trigger binding parameter is not actually used in the function body, often with TimerTrigger and occasionally HttpRequest where the binding itself has already provided us all the information we need. This unused parameter causes C# analyzers to notify developers that it can be deleted, but obviously it

[2021-10-01 19:01] ghost commented on #7689
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-01 19:39] liliankasem opened #7737 "Use System.Xml to create msbuild xml file instead of Microsoft.Build"
# [7737](https://github.com/Azure/azure-functions-host/issues/7737) Removing the Microsoft.Build dependency

Taking a dependency on the MSBuild library just to generate an XML file leads to ton of unused project dependencies that increase the size of our project. We can easily remove this library and use System.Xml to generate the exact same XML payload.

From the screenshot below, the only depend

[2021-10-01 22:00] ghost commented on #7444
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-01 22:34] amamounelsayed commented on #7618
@AsgerPilegaard  Thank you so much for your message. Please can you provide how do you send the data to the AI from Azure Functions?

Are you using Distributed-Tracing-for-Java-Azure-Functions?
https://github.com/Azure/azure-functions-java-worker/wiki/Distributed-Tracing-for-Java-Azure-Functions

Thank you so much,
Ahmed

[2021-10-02 19:46] felinepc opened #7738 "Azure Functions .NET 5.0 to .NET 6.0 migration guide availability"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question

Microsoft has already published some for .NET 5.0 -> 6.0 migration guides (for ASP.NET Core etc). Now that .NET 6 is available in Azure Functions on both Windows and Linux hosts, and .NET 5.0 is not even provided as an option for new function app in Azure portal any more, we want to start migrating o

[2021-10-03 16:31] Cogax opened #7739 "ContainerNotFound during lock lease when running on Kubernetes with KEDA and Azurite"
When I run my Azure Function with a timer trigger on my local Kubernetes instance (docker-desktop) with KEDA, I get a "ContainerNotFound" error (when requesting blob lock lease on Azurite). When I run the same image on docker-compose everything works.

Here are the logs of Azurite from running on Kubernetes with KEDA:
[code]

This are the logs of the same requests with docker-compose without KEDA:

[2021-10-03 19:00] ghost commented on #7326
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-03 20:13] #7738 closed, assigned to madelinegordon

[2021-10-03 20:15] felinepc opened #7740 "Flood of HTTP related logging since upgrading to host v4"
#### Is your question related to a specific version? If so, please specify:
Azure Function Core Tools v4 and Azure Functions .NET 6

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I just upgraded from Azure Functions .NET 5 to .NET 6 Preview (isolated). Whenever my function runs, both locally via Core Tools v4 and in Azure Function .NET 6 Preview

[2021-10-04 07:00] ghost commented on #7393
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-04 07:01] ghost commented on #7115
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-04 08:11] v-bbalaiagar commented on #7740
Hi @felinepc, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-10-04 08:14] v-bbalaiagar commented on #7735
Hi @aj-patterson, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-10-04 10:52] v-bbalaiagar commented on #7680
Hi @fnw18, Apologies for the delayed response, I am unable to get the logs with the given invocation id. Could you share the app name using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately to check the cause.

[2021-10-04 11:25] Cogax commented on #7739
Seems to be connected to https://github.com/Azure/azure-webjobs-sdk/issues/2710. See comments in https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Host/DistributedLockManagers/BlobLeaseDistributedLockManager.cs#L22 .

The error maybe is caused by different implementations in https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host.Storage/Singlet

[2021-10-04 11:53] v-bbalaiagar commented on #7689
Tagging @fabiocav  for further insights

[2021-10-04 12:00] v-bbalaiagar commented on #7688
Hi @AndersDyhr, I checked this internally. Team wants to investigate this issue further and update you with the findings.

[2021-10-04 12:09] AndersDyhr commented on #7688
ok, thanks for the status

[2021-10-04 14:36] MikePennington commented on #7393
Thanks @RohitRanjanMS I updated `Azure.Storage.Blobs` and `Azure.Identity`, deployed, and let it sit for a few days. I can confirm that these errors are gone. Thanks.

[2021-10-04 14:36] #7393 closed, assigned to nobody

[2021-10-04 16:01] #7701 closed, assigned to madelinegordon, v-anvari

[2021-10-04 16:01] #4378 closed

[2021-10-04 22:00] ghost commented on #7287
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-05 02:15] mtycholaz commented on #3593
Spent a full 3 hours trying to figure this out, then remembered that I had visited this thread over two years ago. Please get this fixed!

[2021-10-05 07:14] YvesCandel commented on #3593
We have relieved ourselves of this issue by using Azure Static Web Apps for our front-ends and removing the proxies.json because we no longer need it now. However, using proxies for Azure Functions still remains really broken. Not only did it break these paths, it also broke all the logging of execution of our functions to the Azure Portal.

[2021-10-05 13:19] v-bbalaiagar commented on #7726
Hi @sudarsanvsr, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-10-05 13:23] numocityadmin commented on #4959
In my case, the `host.json` had:
[code]
This resulted in the `Value cannot be null` error.

I changed the `extensionBundle` in `host.json` to:
[code]
And it worked :)
I have no idea why the error has to be cryptic, why the old one had an issue only on some laptops, and why this solved the issue! If anyone can explain, I would be grateful!

[2021-10-05 16:00] ghost commented on #7700
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-05 19:32] apranaseth commented on #7444
@fabiocav looks like this is closed cause of no activity, reopening it so we don't lose track.

[2021-10-05 20:20] MarekLani commented on #7081
please any progress on this?

[2021-10-05 22:31] mathewc commented on #7698
Here's the exact steps I had to follow to get a repro:

1) Ensure app is configured to use blob storage for keys (the default)
2) Make sure a SyncTriggers has been performed for the app, so that keys are initialized from StartupContext (code [here](https://github.com/Azure/azure-functions-host/blob/852eed9ceef6ef56b431428a8eb31f1bd9c97f3b/src/WebJobs.Script.WebHost/Security/KeyManagement/SecretMan

[2021-10-06 06:59] bjorncoltof commented on #7289
Any news on this? We are in a scenario where we deploy functions apps with this setting quite often and we want to keep the number of ARM requests as low as possible as we have already run in to the situation of being throttled on ARM requests.

[2021-10-06 08:43] pjgsk opened #7745 "referencing values from host.json"
I want to be able to reference some values from outside the host.json file but none of the tries worked:

1. through env variable
`{
  "version": "2.0",
  "extensions": {
    "http": {
      "routePrefix": "",
      "customHeaders": {
        "x-version": "%SOMEVERSION%"
    }
    }
  }
}
`
where SOMEVERSION was Key for Value defined in local.settings.json

2. through json ref

`{
  "version": "2.

[2021-10-06 11:24] alefranz commented on #7278
@brettsam @fabiocav Any chance this could be looked into?
While there is a working fix, it is a subtle bug and also not easy to identify (given the different behavior observed by the debugger)
I am sure many people has "wasted" quite some time due to this.

[2021-10-06 20:12] fabiocav commented on #7626
@AnuragSingh-MSFT those specific dependencies are indeed unified by the host and 5.0 is not supported in Functions 3.0.

The options you can explore are:
 - .NET Isolated (currently supported, targeting .NET 5.0)
 - .NET 6.0 support in Functions 4.0 (currently in preview, supporting in-proc and isolated)

[2021-10-06 20:12] #7626 closed, assigned to nobody

[2021-10-06 20:13] fabiocav commented on #7679
@ConnorMcMahon should we just remove those tests for now?

[2021-10-06 20:16] ConnorMcMahon commented on #7679
So I'm not sure the importance of this test. We could probably timebox this to an hour to see if we can wire up the test properly, and then get rid of the test if it is too much work or the test is not high value enough to justify the effort.

[2021-10-06 20:18] fabiocav commented on #7189
@willvelida the request makes sense, but I would like to better understand your scenario:
 - Why are you pinning the runtime version?
 - Are you seeing impact with every version update?

[2021-10-06 20:20] fabiocav commented on #7102
@readnikhil we're flagging this for investigation, but if you could have a minimal repro in a repo here, that would ensure we're working with the same configuration you're working with.

[2021-10-06 20:24] fabiocav commented on #6910
Are you referring to the payload size (e.g. blob size)? If so, it's still a limitation when going over gRPC.

Is the solution here already present with the shared memory implementation?

[2021-10-06 20:30] fabiocav commented on #7115
@justinyoo we're reviewing this as part of our triage process and we need more information about the problem you're trying to solve as we still feel we don't have a lot of clarity here.

Would you be able to provide more information about the problem you're trying to solve with this?

[2021-10-06 20:33] fabiocav commented on #7444
@apranaseth we don't have plans to update CSX to support this.

What are you trying to solve with this solution? Can you share some details on how this is impacting your development?

[2021-10-06 20:35] fabiocav commented on #7483
This should, at least, be done in 4.0, but not critical.

[2021-10-06 20:38] fabiocav commented on #7511
Leaving this open so we can investigate whether we're still seeing this issue and reengage the Roslyn team if that is the case.

[2021-10-06 20:41] fabiocav commented on #7558
Assigning this to the sprint for investigation and triage.

@kashimiz will validate the flow and engage @pragnagopa if needed.

[2021-10-06 20:49] fabiocav commented on #7587
@ehamai is this something you/your team would be able to do? This is happening in the create flow.

[2021-10-06 20:54] fabiocav commented on #7631
We don't believe this was ever logged, so treating this as a feature request to make sure we log this information once AI is up and running.

[2021-10-06 21:00] fabiocav commented on #7635
This may be solved with the last set of updates to the storage dependencies (done since the original issue was opened)

Flagging this for investigation/validation, but it will likely not require any work on the host.

[2021-10-06 21:06] brettsam commented on #7631
This may flow into another scenario we have from our Application Insights extension work -- some kind of `IApplicationContext` that can carry details about the currently-running host (like which extensions are loaded, which bundles version, etc) for logging purposes later on. Please make sure to follow up with me before taking action here.

/cc @gzuber

[2021-10-06 21:54] Francisco-Gamino commented on #7558
@yojagad added a fix to ensure that at least one channel is initialized before sending function invocations. However, if the worker initialization times out, the Host shutdowns.

Linking issue for reference https://github.com/Azure/azure-functions-host/issues/7590.

[2021-10-06 22:09] balag0 commented on #7289
@bjorncoltof If your app using dynamic sku on Linux too, then this setting is not supported.

Also this setting is not intended to handle the scenario you mentioned. It is purely to prevent getting billable events generated beyond certain amount per day, there is no guarantee on outbound calls or any other activities performed within the function app.

What type of throttles are you seeing from AR

[2021-10-06 22:23] gohar94 commented on #6910
Yes, the payload size that the system as a whole can accept for input/output blobs.
One bottleneck as you mentioned is gRPC. Also, IIRC, if you read more than 2GB into a byte array in dotnet, that will also cause issues (I might be wrong).
But my feeling is that since with shared memory we stream data into the memory mapped files (and those don't have a 2GB limitation), we might be okay with >2GB

[2021-10-07 06:03] Zenuka commented on #7278
The fix unfortunately doesn't work for [everyone (or at least me)](https://github.com/Azure/azure-functions-host/issues/7651). I'm also open to alternatives that add data to request telemetry?

### Edit
Scratch that, after talking to @johannesoenema it seems that the workaround is working when deployed to Azure but not locally. So downgrading to a lower version (4.x) works in Azure.

[2021-10-07 06:53] neilboyd commented on #7289
NB: the quickstart has [moved](https://github.com/Azure/azure-quickstart-templates/pull/9752) to [azuredeploy.json](https://github.com/Azure/azure-quickstart-templates/blob/master/quickstarts/microsoft.web/app-function/azuredeploy.json)

[2021-10-07 08:58] ghost commented on #6453
I would like to know if it would work in function app hosted on AKS:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda

Here is some documentation that walks through a ASP.NET core application setup in linux:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-aspnetcore-linux

I could not get the above to work in a AKS hosted function app (ie. Functi

[2021-10-07 15:41] SHefele opened #7750 "Azure Function V.2 (PowerShell) occasionally running on old application configuration and old code after deployment"
#### Investigative information

Please provide the following:

- Timestamp: 2021-10-07 15:03:38.124
- Function App version: 2.0
- Function App name: ---
- Function name(s) (as appropriate): ---
- Invocation ID: 2f73df2c-f3b4-468a-9520-efc39e5f82a0
- Region: West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

I do not have identified any repro steps yet as the issue

[2021-10-07 17:00] derekg52 commented on #5373
I could use this feature also to help organize multi-function projects, any word @anthonychu ?

[2021-10-07 22:30] horihiro commented on #7684
Is there any information?

[2021-10-08 00:35] apranaseth commented on #7444
@fabiocav , sent an email with the details on the scenario which we discussed with Mathew.

[2021-10-08 06:44] AndersDyhr commented on #7618
@amamounelsayed thanks for your interest in our AI issue. The available information is in issue [#7688](https://github.com/Azure/azure-functions-host/issues/7688). Would it be possible for you to post in that issue, to keep the two issues seperated?

[2021-10-08 11:57] AndersDyhr commented on #7618
@FinVamp1 we can see that 3.3.1 is now released ([link](https://github.com/Azure/azure-functions-host/releases)), has the fix made it into this release?

Furthermore, when we set the FUNCTIONS_EXTENSION_VERSION to either 3.3.1 or 3.3.0 it still selects 3.2.0, so it seems that 3.3.1 is stil no available to us even though it is on the release page?

[2021-10-08 17:35] manojyamasani opened #7753 "Azure Queue trigger is not triggering after being idle for sometime."
Hi, Iam using Azure Queue trigger as part of the chatbot application. Immediately after deployment queuetrigger works fine. But when it goes idle for a certain time and after that even though a new message is added to Azure Queue storage the queue trigger is not triggering.
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version: 3.2.0.0
- Function App na

[2021-10-08 18:51] jformacek opened #7754 "Problems instantiating X509Certificate2 in Azure Powershell function app"
#### Investigative information

Please provide the following:

- Timestamp: 2021-10-08T18:45:00.01Z
- Function App version:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: 12766586-1fa9-4de6-8b14-1b35a4ba869e
- Region: west europe

#### Repro steps
Hello,
let's have simple powershell code running inside PowerShell function app:
[code]

Code above generally works during b

[2021-10-09 01:00] #7700 closed, assigned to kashimiz, v-anvari

[2021-10-09 01:00] ghost commented on #7680
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-09 01:00] ghost commented on #7640
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-09 20:32] ladeak commented on #7724
In V4 (NET6 function) I get an error when I try to run it in azure (previously I did not get this error):
[code]
and also shows Runtime version : Error.

Installing this package with my app does not solve the issue. How can I figure out and fix the issue?

[2021-10-09 20:53] gzuber commented on #7724
Hi @ladeak would you be able to share you csproj file? I mainly need to see which packages you're referencing. Feel free to email it to me directly if that's easier. Thanks!

[2021-10-09 20:54] ladeak commented on #7724
Sure:

[code]

I wonder if I shall use     ```<PackageReference Include="Microsoft.NET.Sdk.Functions" Version="4.0.0-preview2" />```˙

This app has been updated from V3, a few weeks ago, I wonder that is new since then.

[2021-10-09 20:59] gzuber commented on #7724
Yeah, upgrading to v4 of Microsoft.NET.Sdk.Functions should fix the issue. Let me know if you still run into problems

[2021-10-09 21:05] ladeak commented on #7724
It does, thank you for the reply :)

[2021-10-10 01:41] justinyoo commented on #7115
The current `HttpTrigger` binding only takes the hard-coded value of authorisation level like `AuthorizationLevel.Anonymous` or `AuthorizationLevel.Function`. It's OK in most cases.

But in an edge case, like Swagger UI with Azure Functions OpenAPI extension, some particular endpoints need to be flexible for their auth levels, which can be configured by environment variables. It's similar concept

[2021-10-10 01:45] justinyoo commented on #7533
It's currently 1.0.0-preview and shipped with Logic Apps Standard. Wonder when this package goes GA?

[2021-10-11 01:00] ghost commented on #6910
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-11 07:30] v-bbalaiagar commented on #7753
Hi @manojyamasani, Thank you for your feedback!  We will check the logs to understand the cause and revert back the findings.

[2021-10-11 07:53] v-bbalaiagar commented on #7745
Hi @pjgsk, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-10-11 08:30] Zenuka commented on #7651
After talking to @johannesoenema it appears that when you downgrade `System.Diagnostics.DiagnosticSource` and run it locally, it `Activity.Current` is null but when deployed to Azure it successfully added properties to the request telemetry. So the workaround works in Azure

[2021-10-11 09:29] v-bbalaiagar commented on #7745
Hi @pjgsk, By "outside the host.json" do you mean an arbitrary JSON file that isn't host.json. We would like to know what language are you writing your Azure function in.

[2021-10-11 09:44] pjgsk commented on #7745
Yes, I meant arbitrary JSON file, that is not host.json (in my example it is package.json). My az functions are written in ts/js, but does that matter at all?

[2021-10-11 12:19] bjorncoltof commented on #7289
@balag0 In our scenario we deploy a great number of function apps. While deploying those we are being throttled by the ARM API, I don't know which of these limits we hit, but my point was mote that this bug makes us use more ARM requests then necessary to set dailyMemoryTimeQuota for the app, as after the arm template, we have to follow that up with more arm calls to get the setting in. I don't th

[2021-10-11 13:49] v-bbalaiagar commented on #7740
Hi @felinepc, Could you provide us the csproj file.

[2021-10-11 16:36] v-bbalaiagar commented on #7726
Hi @sudarsanvsr, I checked this internally. When there are two long-running requests on an instance no other request should get assigned to that instance. This is the expected behavior. Here is the document to explaining the behavior about maxConcurrentRequests - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-output#hostjson-settings

[2021-10-11 16:38] pragnagopa commented on #6910
@fabiocav - good to have a solution for processing larger payloads relying on shared memory instead to reading 2GB into an byte[] directly.

[2021-10-11 16:40] v-bbalaiagar commented on #7735
Hi @aj-patterson, Discussed this request internally, adding this issue as a feature request to consider this in future implementations.

[2021-10-11 17:20] v-bbalaiagar commented on #7750
Hi @SHefele, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-10-11 18:01] gohar94 opened #7757 "Check for storage SDK/extension version before using FunctionDataCache"
Recent work on adding a `FunctionDataCache` ([here](https://github.com/Azure/azure-functions-host/issues/7310)) relies on support from the storage SDK ([here](https://github.com/Azure/azure-sdk-for-net/pull/20209)). If there is a version of the storage SDK that is older than the one where `FunctionDataCache` support was added *AND* the user has enabled `FUNCTIONS_DATA_CACHE_ENABLED` = `1` then bin

[2021-10-11 18:43] balag0 commented on #7289
Got it, I think dailyMemoryTimeQuota should be set at the same level as clientAffinityEnabled setting and not inside the siteconfig section at Line 40. Can you give that a try?

[2021-10-11 19:24] divyagandhisethi opened #7759 "Developing Function Apps in the Portal shows warning : Assuming assembly reference 'System.Data.Common, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' used by 'System.Data.SqlClient' matches identity 'System.Data.Common, Version=4.2.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' of 'System.Data.Common', you may need to supply runtime policy;"
#### Issue description:

This is a repair item from a [CRI](https://portal.microsofticm.com/imp/v3/incidents/details/254267550/home) investigation. Developing Function App in portal and adding the template C# HTTP Trigger function throws Compilation warning message regarding the assembly reference after adding any new assembly reference as shown below.

Even without adding any new assembly and try

[2021-10-11 20:48] gma2222 commented on #6917
I'm dealing with the same issue. Any progress on this?

[2021-10-12 00:42] #7740 closed, assigned to nobody

[2021-10-12 01:00] ghost commented on #7444
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-12 01:29] esimkowitz commented on #4397
+1 this seems like an important scenario, especially for users of Azure Functions on k8s, where they can't utilize the TLS implementation in Azure App Service

[2021-10-12 04:00] #7680 closed, assigned to soninaren, v-bbalaiagar

[2021-10-12 04:00] #7640 closed, assigned to madelinegordon, v-anvari

[2021-10-12 05:34] madelinegordon commented on #7212
@anthonychu , should the retry context be included in the data or metadata of the http request?

[2021-10-12 06:45] bjorncoltof commented on #7289
@balag0 That is actually the location we have been using already, but as said it will not be set on the initial deployment.

[2021-10-12 13:38] v-bbalaiagar commented on #7713
Hi @aersamkull, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-10-12 13:38] neilboyd commented on #7289
The setting is not visible in the portal for Linux apps (I think it was previously, but it's not now).
This template is for a Windows function app: [azuredeploy.json](https://github.com/Azure/azure-quickstart-templates/blob/master/quickstarts/microsoft.web/function-app-create-dynamic/azuredeploy.json)

Add `dailyMemoryTimeQuota` as before:
![image](https://user-images.githubusercontent.com/1768373

[2021-10-12 14:06] v-anvari commented on #7431
Hi @kmadof , Please confirm if this is the case still. I am able to see the function app logs as expected

![image](https://user-images.githubusercontent.com/66122429/136971599-0f4a16fc-9509-4d02-9878-bf5c088072f1.png)

[2021-10-12 14:22] v-anvari commented on #6846
Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required

[2021-10-12 14:24] v-anvari commented on #6898
Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required

[2021-10-12 14:38] v-anvari commented on #6917
Thank you for your feedback, Can you open a new issue with the required details. Closing this issue as there is no further activity

[2021-10-12 14:38] #6917 closed, assigned to nobody

[2021-10-12 15:58] gma2222 opened #7762 "Consumption Plan - Azure Service Bus Trigger: JobHost stops after inactivity and does not wake back up when new messages arrive"
#### Check for a solution in the Azure portal
Went through all the diagnostic steps in the Azure portal

#### Description
Running a Function App on a Consumption plan where one of the functions uses a Service Bus Trigger. If no messages arrive on the queue for a period of time, the Job Host shuts down and my function stops running (as expected in a Consumption plan function app).
However, once thi

[2021-10-12 16:21] v-bbalaiagar commented on #7681
Hi @lgiuliani80, I checked this internally. The application insights types that are used by the extensions, In this case if they differ from what the host is running. That would potentially run into this issue.

[2021-10-12 16:24] lgiuliani80 commented on #7681
So what versions of which package I should use?

[2021-10-12 21:10] SeanFeldman opened #7764 "What would cause AzureFunctionsJobHost__* defined via portal to be removed?"
#### Is your question related to a specific version?

No. This is a portal related questions.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#

#### Question

I had two settings overrides for `AzureFunctionsJobHost__` provided via portal to control Service Bus trigger and avoid a scenario that was causing failures in production.
![image](https://user-images.git

[2021-10-12 21:37] SeanFeldman commented on #7764
The redeployment is done using ARM templates. Which, is wiping the settings. Thank you, @anthonychu

**Please**, update the documentation (https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#override-hostjson-values and https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurefunctionsjobhost__) to indicate ARM redeployment will wipe the settings.

[2021-10-12 22:32] jainaashish commented on #5874
@fabiocav does this happen when same version of `System.Diagnostics.DiagnosticSource` is loaded twice? I'm failing into first case `referencing (even transitively) DiagnosticSource and deploying a function.deps.json file -- which happens by default now.` and running into https://github.com/Azure/azure-functions-eventhubs-extension/issues/55#issuecomment-941673226

[2021-10-13 00:00] balag0 commented on #7289
Oh okay, The original issue mentioned Line 40, so wanted to make sure it is not set at that location. let me try this out and see what's going on. can you share a correlationid from any of the recent deployments if you have it?