[2022-01-05 01:58] kirk-marple commented on #7858
I believe I've run across a similar issue; same stack (.NET 6, v4 Functions Host).

One very curious thing, when setting AZURE_FUNCTIONS_ENVIRONMENT to Development, I don't get the OOM exceptions, but when set to Production, I do.

We had also recently moved back to Consumption Plan (Y1) from Premium, so we have less headroom.  Memory usage in AppInsights only shows a few 100MB used however.

[2022-01-05 02:26] spar commented on #4689
any update? any timeline for a fix?

[2022-01-05 04:08] KapilGBunnings commented on #4689
Microsoft has become a marketing company of lately . It has ceased to be a tech company it seems.

[2022-01-05 09:01] andreasohlund commented on #7874
Any updates on this?

[2022-01-05 10:10] m-ghaoui commented on #4689
@KapilGBunnings I think Microsoft is working on a successor to Azure Functions:

* https://techcommunity.microsoft.com/t5/apps-on-azure-blog/net-on-azure-functions-roadmap/ba-p/2197916
* https://visualstudiomagazine.com/articles/2021/03/24/azure-functions-net5.aspx

If I'm not mistaken, the github repo is https://github.com/Azure/azure-functions-dotnet-worker but I have not looked at it yet.

Mayb

[2022-01-05 17:21] TroyWitthoeft commented on #7888
@Ved2806 Happy new year!  I did see some [other folks](https://stackoverflow.com/questions/43148793/pause-azure-function-until-12am-next-day) looking for a pause button as well.

Any feedback on making the "pause button" a feature of the azure portal?

[2022-01-05 21:19] fabiocav commented on #7849
@surgupta-msft will gather more information to better understand the requirements here (and identify whether this is needed)

/cc @pragnagopa

[2022-01-05 21:26] fabiocav commented on #7598
Pending update from @soninaren , moving to sprint 116

[2022-01-05 21:38] fabiocav commented on #5922
Moving this to sprint 116 as we still have open discussions on this.

/cc @mathewc @kashimiz

[2022-01-05 21:41] fabiocav commented on #8001
Investigation in progress. Assigning this to sprint 116

[2022-01-05 21:44] fabiocav commented on #7879
Moving this to sprint 116 for design.

@surgupta-msft will update with details once we close on a design for this.

[2022-01-05 21:53] fabiocav commented on #7880
I think we're in agreement that we want to make this change and modify the existing behavior before this GAs.

@vrdmr @surgupta-msft it would be good to bring this up during the sync.

[2022-01-06 18:18] NickCraver commented on #8015
I created a PR on the hunch this is what we want to do - if not no worries at all, just was in there and wanted to remove it at least from benchmarks and did it all in 1 pass: #8032.

[2022-01-06 22:43] cmeyertons opened #8037 "DefaultAzureCredential Managed Identity Behavior Inconsistent w/ other Azure services."
Authenticating to other Azure services w/ a DefaultAzureCredential and one user-assigned Managed Identity (system-assigned turned off)  results in a 400 bad request.

If the same setup runs on an Azure VM, the DefaultAzureCredential intelligently leverages the only Managed Identity assigned (the single user-assigned).

#### Repro steps

Provide the steps required to reproduce the problem:
1. Creat

[2022-01-07 08:29] CasperWSchmidt commented on #3907
Any news on this?

[2022-01-07 11:42] alexandrehtrb commented on #8020
@TroyWitthoeft , yes, this is more of an exploratory discussion, that I think it fits here.

An example solution is this:

1. We have a reverse proxy that is managed by Azure.
2. When an incoming request reaches this reverse proxy, the reverse proxy will check if the application is running:
- If yes, then redirect the incoming request to this application.
- Otherwise, start the application; once i

[2022-01-07 16:56] Swimburger opened #8039 "Add support for API Keys authentication with Twilio Binding"
#### What problem would the feature you're requesting solve? Please describe.
Currently, the Twilio binding requires you to use the account SID and the account auth token.
This is the quickest way to authenticate, but a better way is to use Twilio API keys.
You can read more about switching to API keys with C# here: https://www.twilio.com/blog/better-twilio-authentication-csharp-twilio-api-keys

#

[2022-01-08 00:02] willyt150 opened #8043 ".Net 6 Isolated Function: Unable to resolve service for type 'Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration' while attempting to activate function"
#### Is your question related to a specific version? If so, please specify:
V4 .Net 6 Isolated
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
I've created a .Net 6 Isolated HttpTriggered function in Visual Studio 2022

I'm trying to get the TelemetryConfiguration injected, and based on [other issues logged](https://github.com/Azure/azure-functions

[2022-01-08 02:27] shanselman commented on #364
👀

[2022-01-08 13:01] ghost commented on #7992
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-08 16:01] ghost commented on #6895
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-08 16:01] ghost commented on #6863
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-08 21:21] WestDiscGolf commented on #364
Just came across this issue. It also applied to the new isolated process model for C# as well. Any news?

[2022-01-09 17:28] wsugarman opened #8044 "Preserve IsPackable Property if Set"
#### What problem would the feature you're requesting solve? Please describe.
While not common, there are some scenarios where a developer may wish to publish their Azure Functions as NuGet packages. However, there are a couple targets files in the toolchain that set the `<IsPackable>` property to `false`. This has already been talked about in other repositories, like here https://github.com/Azure

[2022-01-10 00:19] balag0 commented on #7859
@jbpaux  I see the appsetting name on the app is set to AzureWebJobsStorage__acountName
Can you try setting it to AzureWebJobsStorage__ac`c`ountName

[2022-01-10 00:37] shanselman commented on #364
This is how Jeff Hollan solved it for me
https://github.com/shanselman/azurefridayaggregator/pull/1/files

It's not clean, but it works. I would prefer that I be able to set the
content type more readily in a single line.

On Sat, Jan 8, 2022 at 1:22 PM Adam Storr ***@***.***> wrote:

[2022-01-10 07:37] JowieXiang opened #8046 "Is headless Chromium supported in Windows Azure functions now?"
Based on this [blog post](https://dev.to/azure/running-headless-chromium-in-azure-functions-with-puppeteer-and-playwright-2fgk) and multiple related issues(#4883, #2417,... ), windows Azure functions does not support headless Chromium. Wondering if there's been any update on this, or is it planned that windows will support this in the future?

We're trying to develop an automated test function usi

[2022-01-10 13:34] WestDiscGolf commented on #364
@shanselman thanks for sharing the link. The Blob bindings in the new isolated model don't give those options unfortunately. I guess the only option will be to inject a `BlockBlobClient` manually through DI and save it that way instead of an `BlobOutput` binding.

[2022-01-10 22:40] WestDiscGolf commented on #364
What I ended up doing was not using the binding at all.

1) Registering the BlobServiceClient in `ConfigureServices`

[code]

2. Injecting into the azure function, through dependency injection, a `BlobServiceClient`.

3. In the timer function method getting a Blob Container Client.

[code]

4. Creating a BlockBlobClient from the Container client.
[code]

5. Writing the data to a stream and uploadi

[2022-01-10 23:07] safihamid opened #8049 "Log PID and language worker name of the worker process during specialization"
Per our conversation, need this for cold start automated profile analysis.

Need the PID and language worker name(node, java,...) of the worker process being used during cold start specialization. It can be added to any existing log entry, just let me know the format.

[2022-01-10 23:32] surgupta-msft commented on #7849
Discussed with @pragnagopa. RetryContext (same as RetryOptions) has been addressed in below PRs already -

https://github.com/Azure/azure-functions-language-worker-protobuf/commit/466445a6a9f887e20cc525fc24e23843e9bd5c47
https://github.com/Azure/azure-functions-host/pull/7134/files

This work does not seem to be related to workerIndexing. Closing this issue.

[2022-01-10 23:32] #7849 closed, assigned to surgupta-msft

[2022-01-11 00:20] balag0 commented on #8046
No, it's still just on Linux. It is possible to run this using a custom image using Windows containers on App service. But this is not a well-supported functions scenario yet (support might come in the future but no timelines yet)

[2022-01-11 01:59] #8044 closed, assigned to surgupta-msft

[2022-01-11 02:49] JowieXiang commented on #8046
Thank you @balag0 , at least we know for sure this won't work now. Looking forward for updates in the future :)

[2022-01-11 02:56] #8046 closed, assigned to madelinegordon

[2022-01-11 08:46] v-bbalaiagar commented on #8039
Hi @Swimburger , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-11 08:50] v-bbalaiagar commented on #8043
Hi @willyt150 , Thank you for your feedback!
Hi @brettsam , Could you please take a look at this issue.

[2022-01-11 10:29] v-bbalaiagar commented on #7996
Hi @pragnagopa , Can you please confirm if runtime scale monitoring supported in v4 function apps.

[2022-01-11 10:38] v-bbalaiagar commented on #6898
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2022-01-11 10:38] #6898 closed, assigned to nobody

[2022-01-11 10:48] v-bbalaiagar commented on #6983
Hi @Methuselah96 , Apologies for the delayed response, the issue was somehow lost in the trace. Can you tell us if you are still facing this issue.

[2022-01-11 12:30] v-bbalaiagar commented on #7798
Hi @NickH-KiwiAirways , Please let us know if the above information resolves your query, or if you have any further queries.

[2022-01-11 13:45] v-bbalaiagar commented on #8037
Hi @mattchenderson, Could you please look at this issue here.

[2022-01-11 16:01] #6895 closed, assigned to yojagad, v-bbalaiagar

[2022-01-11 16:01] #7992 closed

[2022-01-11 16:35] pragnagopa commented on #7996
@danielrobinson95  - Please confirm the SKU for V4 function app. Runtime Driven Scaling is only supported for Elastic Premium Function Apps.
cc @chiangvincent @cachai2 @TsuyoshiUshio

[2022-01-11 16:54] danielrobinson95 commented on #7996
@pragnagopa  Yes it is an EP plan. The same function app lets me toggle the `Runtime scale monitoring` option when I downgrade the runtime to V3.

[2022-01-11 17:00] pragnagopa commented on #7996
@danielrobinson95 - thanks for confirmation. Assigning to @TsuyoshiUshio - to repro issue and follow up with UX team.

[2022-01-11 19:01] #6863 closed, assigned to kashimiz, v-bbalaiagar

[2022-01-11 22:37] ejizba opened #8055 "Function host starts before WEBSITE_CONTAINER_READY set to 1"
#### Investigative information

Customer information can be found in IcM [#276728932](https://portal.microsofticm.com/imp/v3/incidents/details/276728932/home)

#### Repro steps

The user has a Windows consumption app running on v3.3.1.0 of the host with WEBSITE_RUN_FROM_PACKAGE set to a sas url. The Functions logs show we failed to find their code (host.json, functions, etc.). The DynamicCache tab

[2022-01-11 23:25] fabiocav commented on #8055
Thanks, @ejizba! Will review this in the next planning meeting.

[2022-01-11 23:38] RenSilvaAU commented on #4911
Hi @balag0

I am interested in this solution. has it been implemented? Where can I find documentation on what I need to add to host.json?

I have added this and it does not seem to work:

`

"extensions":{
"http":{
      "routePrefix":"api",
      "customHeaders":{
        "Access-Control-Allow-Origin":"*",
        "Access-Control-Allow-Headers": "X-Requested-With,content-type",
        "Access-Co

[2022-01-11 23:40] balag0 commented on #4911
the mechanism to configure via host.json doesn't exist today. Adding @fabiocav for inputs/planning.

[2022-01-12 00:50] surgupta-msft commented on #7879
Below is the summary of multiple discussions on this issue -
If the payload of customer app does not allow worker to index then worker will have the ability to deny indexing and host will fallback to its own indexing. This work is being tracked as part of issue - https://github.com/Azure/azure-functions-host/issues/7916 and changes are in PR - https://github.com/Azure/azure-functions-host/pull/798

[2022-01-12 00:50] #7879 closed, assigned to surgupta-msft

[2022-01-12 13:49] Shazhko-Artem commented on #7858
Hi @kirk-marple and @rich-mond do you have any example that demonstrates the issue? The sample code will be very helpful for investigating the root of the problem.

[2022-01-13 01:40] fabiocav opened #8059 "Binding metrics not emitted for in-proc precompiled applications"
This is a gap that seems to date back to the initial implementation of direct load (WebJobs loaded Functions), and our FunctionMetadata instance is not fully populated with binding information for that scenario, causing the host to miss metric logging for input and output bindings.

We need to ensure metrics are correctly emitted so we have accurate information for binding usage.

[2022-01-13 17:42] shaipetel opened #8060 "Use MSAL for authentication via Authorization: Bearer token"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

Securing an azure function (V3) using Microsoft authentication provider and usin

[2022-01-13 19:38] #7916 closed, assigned to surgupta-msft

[2022-01-13 22:32] pragnagopa commented on #7848
Adding few notes here.

This error means - invocation request came through but there is no initialized language worker that can handle the request. It is concerning that these errors have massive count - 35,580,553 - I recommend prioritizing this issue to investigate.

[2022-01-14 01:05] avnet78 opened #8062 "BlobTrigger Function App (C#) using Managed Identity"
We have a C# Blob Trigger Function App. I would like to use the Managed Identity as we don't want to use the connection strings in the configuration.
System Assigned Managed Identity is enabled and Storage Blob Data Owner & Storage Queue Data Contributor roles are assigned to the Function App. I am using nuget package version 5.0.0 for Microsoft.Azure.WebJobs.Extensions.Storage as suggested by @pa

[2022-01-14 01:38] balag0 commented on #8062
I think we would need the appname to investigate - https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2022-01-14 11:12] lommez commented on #8043
@willyt150,

The documentation is wrong.
The right way to inject TelemetryConfiguration is using IOptions interface, like this:

IOptions<TelemetryConfiguration>

[2022-01-14 11:27] sonic1981 opened #8063 "Please improve access the ApplicationSettings in out of proc azure functions."
#### What problem would the feature you're requesting solve? Please describe.
I need to be able to access some values that another service are adding to `ApplicaionSettings` on an Azure Service Bus. There is no simple way to do this in an out of proc service. I have (after much digging discovered the following code will allow me to access this information:

[code]
[See my SO question](https://stac

[2022-01-14 17:19] tgriff opened #8064 "SNI.dll not found by runtime, in the wrong directory"
(Note that I posted this issue over in [Azure/Azure-Functions](https://github.com/Azure/Azure-Functions/issues/2141) but haven't gotten any traction there so trying here. Also note that I've seen other issues regarding SNI.dll but haven't seen anything that exactly describes or resolves my issue.)

I have an Azure Functions app using SDK version 1.0.38. It consumes other projects in my solution, s

[2022-01-14 17:52] gvanriper commented on #7833
This is also affecting me trying to create an HTTP trigger in Node.

Node: 14.18.3
Azure Functions: 3.0.0

The only resolution I've been able to do is to restart Visual Code.

[2022-01-14 19:25] #7901 closed, assigned to fabiocav

[2022-01-14 21:51] #8049 closed, assigned to pragnagopa

[2022-01-14 21:56] VpOfEngineering opened #8066 "Fix v4 versioning to match v3 for build number"
Our versioning for v4 follows SemVer, but appends the patch version as the build number.

**Ex:**
`v4.1.3` becomes `v4.1.3.3` in the Azure Portal.
`v3.3.1` appears as `v3.3.1.0` by comparison. This is the correct versioning.

We need to update how versioning is handled when we build to ensure consistency across `v4` and `v3`.

[Example PR.](https://github.com/Azure/azure-functions-docker/pull/587/

[2022-01-15 00:28] willyt150 commented on #8043
thanks @lommez

your example is missing the actual implementation, but I'm familiar with the IOptions<T>, so you pointed me in the correct direction. Thank you again!

so @v-bbalaiagar my issue has been solved, but the docs just need to be updated calling out how to properly retrieve the injected telemetry configuration.

[2022-01-15 00:28] #8043 closed, assigned to nobody

[2022-01-15 13:00] ghost commented on #6983
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-15 19:17] Methuselah96 commented on #6983
I'm working on testing this again to see if the issue still exists.

[2022-01-17 08:12] v-bbalaiagar commented on #8039
Hi @Swimburger , Opened a new issue for further insights  - https://github.com/twilio/twilio-csharp/issues/593. Closing this issue here.

[2022-01-17 10:22] dxynnez opened #8068 "Access service provider during startup"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? aspnet core 3.1

#### Question
Hi team,

I would like to know if there is a way to access the IServiceProvider during function startup? In asp.net core you would be able to access it in the Startup's Configure method, or, in a [startupfilter](https://docs.microsoft.com/en-us

[2022-01-17 10:27] SvenSowa commented on #3898
Can you update us on the matter? It seems still an issue even in a simple asp.net app running on an App Service.

[2022-01-17 13:49] yang-er opened #8069 "Throwing exception with null message in non-HTTP trigger causing functions host crash"
Throwing exception with null message in non-HTTP trigger causing functions host crash.

This is the related log from local debug func tool.

[code]

#### Repro steps

Calling function NullMessageException and wait for crash.

[code]

#### Expected behavior

Poisoning the queue item.

#### Actual behavior

Function host crashed.

#### Related information

I found this by instantiating a Microsoft.A

[2022-01-17 16:21] v-bbalaiagar commented on #8063
Hi @sonic1981 , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-17 18:47] Swimburger commented on #8039
I'm confused why an issue would be opened at Twilio's C# SDK repo, it already supports what I am suggesting which is described in the article I referenced. This is a feature request for the Twilio binding for Azure Functions, not for the Twilio C# SDK.

[2022-01-17 22:53] anthonychu commented on #3907
@michaelpeng36 Do you have a chance to review https://github.com/Azure/azure-functions-core-tools/pull/2806?

[2022-01-18 08:27] v-bbalaiagar commented on #8039
Hi @Swimburger , Apologies for the confusion. We will investigate this further and update you with the findings.

[2022-01-18 09:30] v-bbalaiagar commented on #8066
Hi @pragnagopa  /  @balag0 , Is there any particular repo this issue can be transferred to

[2022-01-18 12:22] v-bbalaiagar commented on #5610
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2022-01-18 12:22] #5610 closed

[2022-01-18 13:00] Ved2806 commented on #8068
Thank you for the feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-18 13:02] Ved2806 commented on #8064
Closing this issue as it is duplicate one. Please follow this [link](https://github.com/Azure/Azure-Functions/issues/2141) for more updates.

[2022-01-18 13:02] #8064 closed, assigned to kshyju

[2022-01-18 13:05] v-bbalaiagar commented on #8060
Hi @shaipetel , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-18 14:01] shaipetel commented on #8060
@v-bbalaiagar  figured it out.
Its NOT documented - at all.
The key was the following:
1. Do not request a graph scope (User.Read for example - your token will not work since your application doesn't own that scope so it can't verify the token)
2. Have your app registration declare a new app URI, and expose an API (example: app://xxx-xxx/my-own-scope)
3. In your azure function, edit the Microsoft

[2022-01-18 14:01] #8060 closed, assigned to kashimiz, v-bbalaiagar

[2022-01-18 14:03] shaipetel commented on #8060
in fact - I've seen many posts online that says Azure Functions do not support authorization bearer authentication.
Not only did I get it to work - but I can now get it working conditionally (so, a function can work both anonymously returning 1 set of results, or if there is an authorization token - the function will get a logged-in user name and may return a different set of results).

[2022-01-18 14:26] violent-boomerang commented on #2474
I had the same issue with no comments, but I had sessionHandlerOptions as per this doc:
[Azure Service Bus bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#hostjson-settings)

removing that solved my issues.

To have a better logging I added this to the Function configuration:
"SCALE_CONTROLLER_LOGGING_ENABLED" = "AppInsights:Verbo

[2022-01-18 22:56] pragnagopa commented on #8066
@fabiocav  - please assign to a milestone and find owner.

[2022-01-19 01:28] avnet78 commented on #8062
Here is the function app info:

UTC execution time: 2022-01-19T01:23:21.673
Execution Id: ab3f8e8a-65e8-432f-aeea-61b9cf530bc7

[2022-01-19 15:37] NickCraver opened #8073 "Performance Area: Dependency Injection"
In profiling the v4 runtime, we detected a regression that went unnoticed because paired with the .NET 6.0 gains it was about even. [In the ScopedResolver](https://github.com/Azure/azure-functions-host/blob/2fecc8b752ca60d0ef22b7c502c034a90e11a1b1/src/WebJobs.Script.WebHost/DependencyInjection/ScopedResolver.cs#L60), we are doing this:

[code]

In DryIoc, the ultimate behavior here is to correctly

[2022-01-19 16:05] sonic1981 commented on #8063
I'm moved this to the correct repo https://github.com/Azure/azure-functions-dotnet-worker/issues/782

[2022-01-19 16:05] #8063 closed, assigned to nobody

[2022-01-19 18:58] liliankasem commented on #8062
@avnet78  You also need to provide the region :)

[2022-01-19 19:13] #7880 closed, assigned to surgupta-msft

[2022-01-19 21:56] avnet78 commented on #8062
UTC execution time: 2022-01-19T01:23:21.673
Execution Id: ab3f8e8a-65e8-432f-aeea-61b9cf530bc7
Location: West US 2 (PST)

[2022-01-19 22:01] ghost commented on #6983
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-19 22:42] #8024 closed, assigned to soninaren

[2022-01-19 23:04] liliankasem opened #8076 "Reliability improvements for worker-host communication"
We have seen many CRIs where out-of-proc language workers fail to start or call back to the host within the defined timeout period. We need to identify the root-cause and fix all the potential reasons, however currently this is very difficult as we are dealing with a long tail of various issues from different components and levels.  To do this, we need to improve the reliability of host-worker com

[2022-01-19 23:04] liliankasem commented on #7848
Epic to address this created, follow the epic for updates on this topic.

- https://github.com/Azure/azure-functions-host/issues/8076

[2022-01-20 15:44] bhugot commented on #2015
Important information AzureFunctionsWebHost:hostId should be lower case. Else in some case it can crash your function host

[2022-01-20 15:46] tyler555g commented on #2015
Can we confirm this please. This is very important.

[2022-01-20 15:54] SailleshPawar opened #8079 "The listener for function '' was unable to start.Microsoft.Azure.WebJobs.Host.Listeners.FunctionListenerException : The listener for function"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp:
- FU

[2022-01-20 16:14] bhugot commented on #2015
It's only the case when you override and I think it's related to a specific trigger. I had this error when used an uppercased hostid. That is not the case when hostid is not override or when it's lowercased

[code]

[2022-01-20 20:16] surgupta-msft opened #8081 "Validate disabled function logic for worker indexing"
1. If worker says that a function is disabled, should the host filter that function out and not send its LoadRequest (and hence, InvocationRequest)? If yes, then need to validate if code is showing this behaviour and correct if needed.

2. Need to validate if host is properly populating disabled func indicators returned by the worker. From [this code](https://github.com/Azure/azure-functions-host/

[2022-01-20 20:29] surgupta-msft opened #8082 "Single load response - design discussion and implementation"
With reference to the issue - https://github.com/Azure/azure-functions-host/issues/7880 mentioning that host should have the ability to send single FunctionLoadRequest when multiple functions are there in a Function App, we also need to discuss about having Single FunctionLoadResponse. So, when worker advertise through capabilities that it can accept an array of FunctionLoadRequest then it should

[2022-01-20 21:17] fabiocav commented on #8001
Closing this as resolved by #8048

[2022-01-20 21:17] #8001 closed, assigned to liliankasem

[2022-01-20 21:21] fabiocav commented on #7860
Moving this to 117, but we're still trying to make the current release with this item.

[2022-01-20 21:34] fabiocav commented on #5922
@kashimiz has opened a PR that leverages some work done by @mathewc and reduces the priority of this issue. We'll still track this as a future enhancement, which will be addressed in the current sprint, but with the approach in the linked PR, the issue is addressed for SWA.

[2022-01-20 21:34] soninaren opened #8084 "Update the end to end test case that tracks the cancellation token change for drain mode manager"
Related test and sample code
[Sample](https://github.com/Azure/azure-functions-host/blob/13d91b2c732705733b81448aab4ab0457b57532e/sample/CSharp/HttpTrigger-Cancellation/run.csx)
[Test](https://github.com/Azure/azure-functions-host/blob/13d91b2c732705733b81448aab4ab0457b57532e/test/WebJobs.Script.Tests.Integration/WebHostEndToEnd/DrainModeEndToEndTests.cs#L50)

[2022-01-20 21:50] kashimiz opened #8087 "Support AzureWebJobsSecretStorageType=None, NullSecretsRepository"
#8083 / [v4 PR] provides a simple fix for #5922, but the approach is somewhat fragile. A more robust approach would be to implement a NullSecretsRepository, while maintaining the current behavior of defaulting to blob storage.

| `AzureWebJobsSecretStorageType` | `AzureWebJobsStorage` | Secret Provider |
|---------------------------------------|----------------------------|------------------|
| `n

[2022-01-20 23:02] joeskeen commented on #4363
I'm not sure how the configuration is loaded for PowerShell function apps, but it appears that this bug affects all PowerShell function apps and has no apparent workaround.

[code]

**Expected:** URLs default to `{domain}/{functionName}`

**Actual:** URLs default to `{domain}/api/{functionName}`

[2022-01-21 00:23] balag0 commented on #8087
Also, does the above table include the case where AzureWebJobsStorage is configured using Managed Identity as well?

[2022-01-21 00:27] kashimiz commented on #8087
I don't believe we addressed this case. @fabiocav @mathewc ?

[2022-01-21 00:30] cgillum commented on #7995
FWIW, I ran into a similar issue earlier today when running a Functions container locally in Docker. I don't have the logs anymore, but one issue I noticed was that extensions.json was missing some entries when I compared it to a build that was working correctly on my desktop. Rebuilding the container image fixed it for me, so it seems to be some kind of race condition.

[2022-01-21 09:37] v-bbalaiagar commented on #8088
Transferring this issue to function host repo for further insights.

[2022-01-21 09:38] v-bbalaiagar commented on #8088
Tagging @AnatoliB for further insights

[2022-01-21 10:32] pabassam commented on #4192
I have the similar issuse
<html>
<body>

Exception type | Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcException
-- | --

</body>
</html>

[2022-01-21 10:38] kaluznyt commented on #1864
I started seeing this after updating (function) apps (version ~4 / .net 6) and updating all of dependencies, there are only time triggers (multiple) and service bus triggers (multiple) there is 1 storage account. on .net3.1 and some older library versions I havent seen those logging, perhaps it's just some noise, I havent spotted yet if that affects function execution in any way.

Request [xxxxxxx

[2022-01-21 19:32] eduardorauchbach commented on #7248
I'm new here, but just rammed in the same issue.

[2022-01-21 20:38] liliankasem commented on #7934
Windows PRs:
- [Consumption](https://azfunc.visualstudio.com/Azure%20Functions/_git/FunctionAppsForLoaderTests/pullrequest/44)
- [EP1](https://azfunc.visualstudio.com/Azure%20Functions/_git/FunctionAppsForLoaderTests/pullrequest/43)
- [P1V2](https://azfunc.visualstudio.com/Azure%20Functions/_git/FunctionAppsForLoaderTests/pullrequest/42)

Linux PRs
- [Consumption](https://azfunc.visualstudio.com/A

[2022-01-21 21:43] liliankasem opened #8091 "[Load Testing] [Linux] Deploy function apps for testing in-proc dotnet function apps v4"
- Epic: https://github.com/Azure/azure-functions-host/issues/7847

Deploy a new function apps for load testing [dotnet in-proc custom container v4](https://azfunc.visualstudio.com/Azure%20Functions/_git/FunctionAppsForLoaderTests?path=/PerfApps/FunctionApps/CustomContainer/dotnet/v4/PerfApp)

**regions**: West US, East US 2 EUPA, North Europe, East Asia
**sku**:

- linux consumption
- linux ep1
-

[2022-01-21 21:46] liliankasem commented on #7847
Related issues:

- https://github.com/Azure/azure-functions-host/issues/7934
- https://github.com/Azure/azure-functions-host/issues/7932
- https://github.com/Azure/azure-functions-host/issues/8091

[2022-01-21 21:47] liliankasem opened #8092 "[Load Testing] [Linux] Deploy function apps for testing in-proc dotnet custom container v4"
- Epic: https://github.com/Azure/azure-functions-host/issues/7847

Deploy a new function apps for load testing [dotnet in-proc custom container v4](https://azfunc.visualstudio.com/Azure%20Functions/_git/FunctionAppsForLoaderTests?path=/PerfApps/FunctionApps/CustomContainer/dotnet/v4/PerfApp)

**regions**: West US, East US 2 EUPA, North Europe, East Asia
**sku**:

- linux elastic premium
~~- linux

[2022-01-21 22:04] anthonychu commented on #7860
Uploaded a repro here: https://github.com/anthonychu/20220121-custom-handlers-redirect

@madelinegordon @fabiocav:

* Do you agree that this is a breaking change and needs a flag to enable, or is it a bug?
* Should we never follow redirects when invoking the custom handler, or only when `enableForwardingHttpRequest` is true? I can't think of a reason why a custom handler would return a redirect an

[2022-01-21 22:20] AnatoliB commented on #8088
cc @RohitRanjanMS @gzuber

[2022-01-21 22:26] RohitRanjanMS commented on #7135
@utpilla this is working in V4, we can close this issue.
@brettsam @fabiocav FYI

[2022-01-21 22:57] DarinMacRae commented on #7248
Our team did the same as @johnnyreilly originally did but we are targeting https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/1.0.0.

It wasn't an easy transition from using @vitalybibikov 's packages, and we still have a lot of attribute migrations left but so far so good. Any issues we ran into were acceptable since at least we have docs up and running again.

FWIW, we als

[2022-01-22 02:49] mirekkukla commented on #6476
@v-bbalaiagar the issue continues to exist as described in the issue description.

In reference to @Sti2nd 's comment: the issue is not that stacktraces don't show up in application insights: they do (and have for a long time, at least since I've started following this ticket).

Rather, the problem is that the stacktraces do not show up in the "logs" section when monitoring a given function (or, I

[2022-01-22 09:26] vrdmr commented on #6879
Bringing this up as @YunchuWang is working on the implementation to send debug logs if the Default log level is set to Debug or lower.

@brettsam @fabiocav @liliankasem - Looking at [FunctionRpc.proto#L107-L109](https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L107-L109), I see that there was a provision for sending the log information when doi

[2022-01-22 10:44] RohitRanjanMS commented on #8088
Hi @jesperkristensen can you please elaborate more about the alert use case?
The second item is a trace and this signifies graceful completion of function execution with the status (either Succeeded or Failed).
FunctionCompleted + Failed status is a good candidate for alert as well. You can correlate logs using InvocatoinId.

[2022-01-22 13:09] Shazhko-Artem opened #8093 "Failed to build the ExtensionsMetadataGenerator project on Mac"
I actively explore the code of _Azure Functions_ to better understand how they work and how to work with them. Sometimes I find some bugs or an opportunity to improve performance. Working on a Macbook with `azure-functions-host` repository, I faced with problem that I can’t build project `ExtensionsMetadataGenerator` because the `ExtensionsMetadataGenerator.csproj` has incorrect command.

#### Inv

[2022-01-22 13:11] Shazhko-Artem commented on #8093
I would be happy to make a pull request to fix this issue. Can I do it?

[2022-01-22 16:51] Methuselah96 commented on #6983
@v-bbalaiagar I have verified that we are still having the issue. I have updated [the sample project](https://github.com/Methuselah96/NpgsqlHeavyCpu) with the latest version of each package, an upgrade to Azure Functions 4, and a more helpful README.

[2022-01-23 03:38] petro2050 opened #8094 "Microsoft.Azure.WebJobs.Extensions.EventGrid: Could not load file or assembly 'System.Runtime, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified."
I want to use the `EventGridTrigger`, but when I deploy my code, the function host fails to start due to:

`Microsoft.Azure.WebJobs.Extensions.EventGrid: Could not load file or assembly 'System.Runtime, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.`

I added the following to the project file, but it has no effect:

[code]

I'm on .NE

[2022-01-23 04:17] #8094 closed, assigned to kashimiz

[2022-01-23 08:04] dpr-dev commented on #5373
@anthonychu, do you have any updates ? It's already 2022...

[2022-01-23 22:00] ghost commented on #8062
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-24 03:56] fyodor-e commented on #5090
Seems that I have found out a solution.
As noted by https://github.com/Azure/azure-functions-host/issues/5090#issuecomment-656420172 cors middleware is used inside Azure Function Host but it is disabled by default. And if it is disabled or not is controlled by the line

https://github.com/Azure/azure-functions-host/blob/ebe1aafa9bf01ed56202b21a1a47a1897d2cebf9/src/WebJobs.Script.WebHost/WebScriptH

[2022-01-24 06:52] jesperkristensen commented on #8088
@RohitRanjanMS If I understand you correctly, I should change my alert queries to be something like this:

* If there are any log entries that are correlated with a log entry that contains X, then send an email alert to team-X@example.com
* If there are any log entries that are correlated with a log entry that contains Y, then send an email alert to team-Y@example.com
* If there are any log entrie

[2022-01-24 10:57] shaeney commented on #1864
I also started seeing this after updating (function) apps (version ~4 / .net 6) and updating all of dependencies.

A single Service Bus Trigger. 1 Function, 1 Storage account.

Didnt see this before update to Function v4 and net 6

[2022-01-24 13:20] Ved2806 commented on #8068
Hi @dxynnz, The IServiceProvider is not build during the function startup and you won't be able to use it in registration path. there is no provider that has been build yet. If you are trying to build the provider from the a builder, you may have services in the partial state and not all of them will be registered.  It would be helpful if you could let us know, what you are attempting to do here?

[2022-01-24 13:23] Ved2806 commented on #8020
Hi @alexandrehtrb, The infrastructure that the Azure functions runs on requires the dependencies on both the runtime environment and the same infrastructure components. It essentially require the application to be built and deployed as an Azure functions application as opposed to just a regular ASP net core app.

[2022-01-24 13:28] Ved2806 commented on #8022
Hi @i-akash, Could you please let us know what API you are referring to. Are you talking about API call to be triggered as function?

[2022-01-24 13:59] tocaRepo commented on #7817
Hi, do we have an update on this?
we would like to have this feature available

[2022-01-24 14:48] Guzzter commented on #364
Thanks @shanselman for the always entertaining Youtube videos, this time about his [Azure Friday Web API issue](https://www.youtube.com/watch?v=u9vHV_KpTC8). Also thanks for the helpful pointers @WestDiscGolf!

I managed to brew my own Azure Function storing files with filename generation at runtime with Json content type. If you want to see how I did it: [https://github.com/Guzzter/RatingViewerTo

[2022-01-24 15:09] alexandrehtrb commented on #8020
I see, @Ved2806 ... Could this change, to support the scenario I described above?

[2022-01-24 16:18] uttom-akash commented on #8022
@Ved2806
I am referring to `Web API with ASP.NET Core` as API here.

[2022-01-24 16:49] biltongza opened #8095 "Feature request: Support other IoC containers"
This is a dupe of #4410 but that issue is locked and I want to start the conversation again.

Azure functions V1 didn't support dependency injection, so when we built our functions against it way back when, we opted to use the service locator pattern because we wanted DI, which gave us the opportunity to make use of Castle Windsor interceptors.

That has since become a core part of how our functio

[2022-01-24 16:57] balag0 commented on #5090
Command below will start function app container with CORS support.

Just wanted to point out while this will indeed enable the cors middleware, it also enables/disables a bunch of other things in functions host.

[2022-01-24 20:28] aegpoadan commented on #3907
The v3.x PR has been merged and a port for v4.x has been created here: https://github.com/Azure/azure-functions-core-tools/pull/2924

[2022-01-24 21:23] brettsam commented on #6879
Is the proposal here to also add this property to the env reload request? Then we just need to ensure that we populate it from the host, correct?

[2022-01-24 23:22] brettsam commented on #6879
We just had a bit of a design discussion here and we have a slightly flipped proposal: the worker can pass the category : level mappings back to the host during worker init and any values in here overwrite all logLevels in host.json.

The flow would be:
1. Host reads and applies host.json LogLevels
2. Worker starts up -- in `WorkerInitResponse` it passes it's configured levels back to the host
3.

[2022-01-24 23:39] aegpoadan commented on #3907
The v4.x PR has been merged.

[2022-01-25 05:23] dxynnez commented on #8068
Hi @Ved2806  - Avoid manually building the provider is exactly what we are trying to avoid. But still, we need to perform some operation (ensure DB is in a valid state and some other sanity check) before the function starts to take traffic.

Is there any hook that we can hook up this type of operations? I was googling around and [a thread on SO](https://stackoverflow.com/questions/46553687/azure-f

[2022-01-25 10:25] TraderMoe commented on #2015
we've added this property for each slot (deployment slot setting)  and the issues disappear. (windows function)

[code]

[2022-01-25 11:51] KirylZotkin opened #8097 "System.Private.Uri: Invalid URI: The hostname could not be parsed"
At times I see that weird error message when I come to the portal to check on my functions app - **"System.Private.Uri: Invalid URI: The hostname could not be parsed"**. Plus **Runtime version** field on UI says **"Error"**. It happens usually few hours after function starts up. No errors in logs other than "409 There is already a lease present" which seems to be ok.

I also have a separate app th

[2022-01-25 12:47] v-bbalaiagar commented on #8079
Hi @SailleshPawar , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-25 12:47] v-bbalaiagar commented on #8069
Hi @yang-er , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-25 13:31] NickCraver opened #8098 "Performance Area: Environmental Variables"
#### Overview

`System.Environment.GetEnvironmentVariable()` is something we call quite a bit, approximately 8 times per function invocation on Windows (this can vary by config and other environments). Consider 8 the low end, Linux calls it a few more times.

Adjusting just those 8 out (disregarding more on Linux and additional remaining calls in WebJobs SDK, e.g. for App Insights), we can get 2-3

[2022-01-25 14:07] Ved2806 commented on #8095
Hi @fabiocav , Could you please look into this?

[2022-01-25 14:07] Ved2806 commented on #8097
Thank you for the feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-25 18:12] PhilippK13 commented on #7452
Are there any updates on this? We use structured logging heavily in our functions and were seriously considering changing to isolated process but it looks like this issue will be a blocker for us.

[2022-01-26 17:56] vrdmr commented on #6879
Thanks @brettsam

I feel this proposal solves one of the problems with differences in logging methodologies between the host and the worker. For e.g. the Python worker has only one logger and that is applied to all the functions, which is different from the host.

One question with the flow - how are you planning to handle the Linux consumption specialization case for this scenario? There isn't an

[2022-01-26 18:10] prav33n commented on #7833
I am getting a similar error making local development impossible
Node: 16
Azure Functions: 4.0.0

Not able to start azure functions even after a restart.

`Debugger listening on ws://127.0.0.1:9229/e28be91d-5f73-47f1-980f-e831fc53f985
[2022-01-26T18:06:16.252Z] For help, see: https://nodejs.org/en/docs/inspector
info: Microsoft.AspNetCore.Hosting.Diagnostics[1]
      Request starting HTTP/2 POST h

[2022-01-26 19:01] ghost commented on #6983
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-26 19:03] Methuselah96 commented on #6983
I think I've provided the requested feedback. (cc @v-bbalaiagar)

[2022-01-26 19:26] surgupta-msft commented on #8081
1. Host sends LoadRequest for disabled function as it is invocable using the portal and admin endpoints. We also load disabled functions after enabled functions to avoid unnecessary performance issues. Refer PR #5072. Adding comment in code to explain this flow and avoid confusion in future - #8099

2. Disabling Functions is supported only via AppSettings and not through payload/Function.json.

[2022-01-26 21:46] soninaren commented on #7900
@safihamid Can you elaborate a little on where the Ready2Run needs to be added. Are you suggesting that the worker sdk package should add Ready2Run flag to the function apps or whether we need to build the dotnet worker with Ready2Run binaries.

[2022-01-26 21:58] soninaren commented on #6184
@CooperLink , @yojagad Can you share an update if there was investigation performed?

[2022-01-26 22:14] safihamid commented on #7900
@soninaren this is to update the default pipeline used by customers to publish their function apps to be published with Ready2Run enabled.

[2022-01-27 00:59] liliankasem commented on #7933
Closing as there is no support for functions containers to be deployed in windows

[2022-01-27 00:59] #7933 closed, assigned to satvu

[2022-01-27 14:36] pragnagopa commented on #7767
For Consumption SKU - this issue is being addressed in ScaleController. We will update the issue once the fix is rolled out to production.

[2022-01-27 14:37] pragnagopa commented on #7767
Closing this as dup of https://github.com/Azure/Azure-Functions/issues/715 - will keep issue updated as the fix rolls out.

[2022-01-27 14:37] #7767 closed, assigned to TsuyoshiUshio, pragnagopa, chiangvincent

[2022-01-27 19:46] #8081 closed, assigned to surgupta-msft

[2022-01-28 04:57] oneillci commented on #4883
Are there plans for this to also work on Windows plans?

Having something that can work on one runtime but not another, on one plan type but not another, even though it works in the local development environment really negates the "serverless" part of functions - ideally this should all be abstracted away and not a developers concern

[2022-01-28 16:01] ghost commented on #8020
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-28 16:55] alexandrehtrb commented on #8020
@Ved2806 I replied and provided Author Feedback

[2022-01-28 18:16] casper-79 opened #8103 "Scalability issue: Very limited aggregate network bandwith for consumption plan?"
Hi

We are developing an analytics application in Java on Azure functions consumption plan. Unfortunately, we have run into a scalability issue and we would really appreciate rapid input on how to resolve it.

I have made a simple http triggered consumption plan Azure function, which illustrates the essence of the problem we are facing. On each invocation it simply uploads 20 MB of randomly genera

[2022-01-28 18:40] ghost commented on #6239
This just totally ruined my morning. We had an odd issue on a production AZ Function, so i disabled a trigger so that I could attempt to process it locally and debug what was going on, yet still allowing the messages to queue up. Then all hell broke loose. All of a sudden, everything to do with those hosted APIs on the AZ function started redirecting to development assets.

Not of fan of how this

[2022-01-28 20:49] shelbaz opened #8104 "Flood of HTTP related logging since upgrading to host v4"
#### Is your question related to a specific version? If so, please specify:
Azure Function Core Tools v4 and Azure Functions .NET 6

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
I just upgraded from Azure Functions .NET 5 to .NET 6 Preview (isolated). Whenever my function runs, both locally via Core Tools v4 and in Azure Function .NET 6 Preview,

[2022-01-28 20:50] shelbaz commented on #8104
@felinepc if you can write what you did if you have a solution that would be great.

[2022-01-28 21:33] #7869 closed, assigned to madelinegordon

[2022-01-29 00:23] #7934 closed, assigned to liliankasem

[2022-01-31 17:01] laurentbel commented on #9290
Same issue here. Locally everything works fine, but when deploying (over a linux container), I'm getting the bug and need to double encode :-(

[2022-01-31 20:29] soninaren commented on #8084
Discussed the test case with @liliankasem, We decided to keep the test case as is.

[2022-01-31 20:29] #8084 closed, assigned to satvu

[2022-02-01 00:00] surgupta-msft commented on #8082
We discussed to add new field in Protobuf which will allow worker to send collection of LoadResponses. Worker can choose whether it wants to send load responses one by one using _FunctionLoadResponse_ field or in batch using _FunctionLoadResponseCollection_ field. Host will have the ability to handle both scenarios.

[2022-02-01 03:07] tsaeki-7bk commented on #7833
I get the same error. I set `FUNCTIONS_V2_COMPATIBILITY_MODE` to `false` and I can start azure functions in local. I hope it helps.

Node: 14.16.1
Azure Functions:  3.3.1.0

[2022-02-01 09:14] v-bbalaiagar commented on #8039
Hi @Swimburger , I checked this internally. Adding this issue as a feature request to consider this in future implementations.

[2022-02-01 09:19] v-bbalaiagar commented on #6983
Hi @Methuselah96 , We have added this issue to projects to investigate further.

[2022-02-01 09:51] prav33n commented on #7833
Thank you, turns out there was a secret key missing in out keyvault which caused connection to cosmoDB fail, the error was not clear in azure functions core 4 , downgraded to version 2 and got the error message highlighting the root cause.

[2022-02-01 12:06] Nibushi opened #8108 "PowerShell Durable Functions fail running locally - missing command definition"
I've be using PowerShell Azure Durable Functions for a while now and never had a problem testing locally. However, since today I can no longer run the Azure Durable Functions locally and call them from Postman. When I try to call the functions I get a number of errors stating that the Azure Durable Function cmdlets such as Start-DurableOrchestration, New-DurableOrchestrationCheckStatusResponse, et

[2022-02-01 12:08] v-bbalaiagar commented on #6476
According to the team, the recommendation would be to use application insights as there is some limitation to print the exception messages if the size of message is large or small.

[2022-02-01 12:34] v-bbalaiagar commented on #8079
Hi @SailleshPawar , Similar scenarios were tracked earlier as mentioned here - https://docs.microsoft.com/en-us/answers/questions/698846/listener-for-azure-function-was-unable-to-start-er.html
Please check and let us know if this helps.

[2022-02-01 12:38] SailleshPawar commented on #8079
Thanks will check the same. :)

[2022-02-01 12:40] SailleshPawar commented on #8079
@v-bbalaiagar The above mentioned docs is specifying the issue on local env which doesn't seems to be the same, the issue that we are facing is on the function app which is deployed on Azure.

[2022-02-01 12:48] v-bbalaiagar commented on #8069
Hi @yang-er , We are able to reproduce the issue with out an error. Let us know if you are still facing the same issue, if yes please please provide your CSproj file.

[2022-02-01 12:50] v-bbalaiagar commented on #8079
Hi @SailleshPawar , Thanks for the update, We will investigate this further and update you with the findings.

[2022-02-01 13:22] yang-er commented on #8069
Hi @v-bbalaiagar, this issue only appears on azure functions tools (For me it is C:\Users\liayang.FAREAST\AppData\Local\AzureFunctionsTools\Releases\3.30.1\cli_x64\func.exe).

As I tested, this will not happen when deployed on Azure.

[2022-02-01 13:27] yang-er commented on #8069
<img width="734" alt="image" src="https://user-images.githubusercontent.com/10959348/151976745-3a2d37c0-3698-42a8-8b7e-c5d6dbf5528d.png">

Also happening to azure functions tools 4.x.

[2022-02-01 13:28] Ved2806 commented on #8180
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-01 14:04] v-bbalaiagar commented on #8104
Hi @pragnagopa ,  Would you know if this is being tracked already

[2022-02-01 14:17] Nibushi commented on #8108
I have also posted this issue in the Azure Functions Core tools as well. Apologies I wasn't sure where was the best place to raise the issue.

[2022-02-01 14:55] Ved2806 commented on #8020
Hi @fabiocav , Could you please look into this?

[2022-02-01 16:36] pragnagopa commented on #8104
As this is related to dotnet-worker - please transfer issue with https://github.com/Azure/azure-functions-dotnet-worker - tagging @fabiocav for triage.

[2022-02-01 18:22] ejizba opened #8109 "Filter language worker console logs to just known workers"
Recommendation from @pragnagopa in [this discussion](https://github.com/Azure/azure-functions-host/pull/8101#discussion_r794603982)

Basically, we need to:
1. Create a list of "well known" language workers owned by the Functions team
2. Use "debug" log level for console logs from any _other_ worker to ensure they don't clutter the logs

[2022-02-01 19:14] surgupta-msft commented on #7887
Adding @soninaren to get his inputs here as I have never worked on custom handlers.

[2022-02-01 19:31] surgupta-msft opened #8110 "Worker Indexing - Adding log to inform about mixed function app"
Detecting mixed app and adding log message to inform if customer's function app is in mixed format (some functions following legacy app format while others following new format for worker indexing). This log message will later on assist us in writing detectors to help with CRIs on mixed app.

[2022-02-01 19:56] KirylZotkin commented on #8097
any update?

[2022-02-01 21:01] #8091 closed, assigned to liliankasem

[2022-02-02 06:33] csalgo70 opened #8113 "Azure functions and AzureWebSecretStorageType"
##### Version information

**dotnet version**: 6.0.101
**Azure Functions Version**: 4.0.3971

#### Repro steps

**Objective:** Make the function host use a KeyVault to store host and function keys instead of using azure-webjobs-secrets container in storage.

1. Create and publish a simple functions app.
2. Create a keyvault.
3. In App settings under Configuration for the function app set the follo

[2022-02-02 10:10] jsacapdev opened #8114 "Custom properties are not logged using Application Insights"
Using the guidance from the [Application Insights logging with .NET](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#logging-scopes) an Azure Function (`net6.0` and `FUNCTIONS_WORKER_RUNTIME` of `dotnet-isolated`) does not log custom properties.

## Steps to reproduce

The function trigger looks as follows:

[code]

## Expected results

I should see a custom property logged in app

[2022-02-02 12:18] Nibushi commented on #8108
I have resolved the issue by upgrading the Azure Functions Core Tools to v3.0.3785. This contained the required PowerShell aliases for the commands. Still not sure what triggered this issue to start but this has resolved the issue.

[2022-02-02 12:18] #8108 closed, assigned to soninaren

[2022-02-02 12:49] erionpc commented on #4577
This worked for me. I had to override ConfigureAppConfiguration and add an appsettings.json configuration file because I found that local.settings.json doesn't support nesting (for local testing). I'm not sure if there's a workaround for that.

[code]

[2022-02-02 14:22] NickCraver opened #8115 "Performance Area: ETW Logging of DateTime"
#### Overview

This is a small one, but with aspects of ETW I'm not aware of in terms of transitioning. In the IEventGenerator for ETW, every log line flowing through here ([from ``SystemLogger`](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Diagnostics/SystemLogger.cs#L159)) is efficiently handled [down to a stack-allocated `EventData`](https://github.com/Azure

[2022-02-02 23:04] PureKrome commented on #4577
Not true @erionpc . It supports nesting by using the `:` separator character. E.g.:

[code]

remember, the _file format/schema_ is used to read in some data and _translate it to an Configuration Sections/Key-values_ ... so this is just a custom Azure Functions format. Well, that's how I see it. In the end, following that pattern above, it does the equivalent of

[code]

REF: https://docs.microsoft

[2022-02-03 01:35] #7932 closed, assigned to liliankasem

[2022-02-03 09:44] erionpc commented on #4577
@PureKrome thanks. That works. I wasn't aware. That saves me from having to add another config file.

[2022-02-03 11:34] nadershamma commented on #4363
I've got a similar issue running .NET functions with v4 functoins app on windows however I am not making any changes to the configuration in startup. Just following the guidance in the [docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#customize-the-http-endpoint). This is my host file setup
[code]

Locally the setup works fine , the r

[2022-02-03 12:04] casper-79 commented on #8103
Hi @surgupta-msft. Any suggestions on how to work around this issue or information on the architecture of the underlying infrastructure? We are working completely in the blind trying to find a workaround ...

Since I created the issue we have done some further investigations, but unfortunately it has not resulted in any improvement:

We have deployed to france-central and observed the same behavio

[2022-02-03 16:21] josh-endries opened #8116 "Retry attributes not working with v3 Function, .NET 5, dotnet-isolated, EventHub trigger"
I have a v3, .NET 5, dotnet-isolated, EventHub trigger Function for which I am trying to enable retry behavior. I can get it to work locally via the `host.json` file (haven't tried `host.json` deployed yet), but not via C# attributes. Using C# attributes doesn't work deployed or local. Neither fixed delay nor exponential backoff seem to work. I've tried attributing both the class and method. When

[2022-02-03 17:09] josh-endries commented on #8116
I had a colleague try it as well and they got the same result, so it doesn't seem to be my local environment.

[2022-02-03 17:20] casper-79 commented on #8103
Another update. We have looked at realtime metrics in Application Insights which shows our workload is distributed on 50 servers, when running at a sustained workload of 200 concurrent requests. In other words each server is handling 4 concurrent requests on average. Inside the function code we log the transfer rate of each upload/download operation and we are frequently seeing numbers as low as 0

[2022-02-03 20:19] liliankasem commented on #7923
@VpOfEngineering @fabiocav - any updates on this? Happy to help where I can too

[2022-02-03 20:24] surgupta-msft commented on #8103
@casper-79  Thanks for reaching out. We are discussing this issue internally in our team. I will get back to you as soon as I have more information on it.

[2022-02-03 20:29] #8092 closed, assigned to satvu

[2022-02-04 02:00] balag0 commented on #8103
@casper-79 Could you share the appname and approx time range when the test was run please
(You can use https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately if required)

[2022-02-04 08:11] AndersDyhr commented on #7688
Any progress?

[2022-02-04 14:36] casper-79 commented on #8103
@balag0

Appname is dev-1229-3236-datarepository in france-central. It transfers data into the container data-repository on storage account lar53b7zp5xbo. I did a test with 200 concurrent requests this morning 9:40-10:00 CET. If there is anything else you need please let me know ..

Cheers,

Casper

[2022-02-04 15:21] amamounelsayed commented on #7688
@AndersDyhr is this the same app anderstest-functions-20210922205930008?
I tried to check it but I believe it got deleted. Do you have any other application that faces the same issue?

Thank you,
Ahmed

[2022-02-04 17:49] BrunoJuchli commented on #6557
@BrianVallelunga
And what would you do when you get a new tenant? Restart?

(I'm contemplating a similar problem and it seems to me it would rather require something more of a "meta" kind of functionality, where not just functions are being added but queues (or what ever tenant specific resources are needed), too.)

[2022-02-04 18:10] #7847 closed, assigned to liliankasem

[2022-02-04 19:39] #8093 closed, assigned to brettsam

[2022-02-04 20:34] BrianVallelunga commented on #6557
New tenants are only a few times a month, so yes, restarting would be totally fine. I could even schedule a restart or have our provisioning system perform that job. And yes, we'd have the provisioning system create the queues, databases, etc as well.

[2022-02-05 00:40] paulbatum opened #8119 "Event hub triggered functions do not work with bundles on V4"
Python, JavaScript, PowerShell and Java function apps on V4 will encounter startup errors when using event hub triggered functions.

This is because the V4 functions host requires eventhub extension 4.3.0 or later (this check was added [here](https://github.com/Azure/azure-functions-host/pull/7816), because of https://github.com/Azure/Azure-Functions/issues/2072).

However, it appears that neither

[2022-02-05 04:59] kashimiz commented on #8113
Hi @csalgo70,

Are you trying to use KeyVault with a user-assigned managed identity to store function keys? For that scenario, these are the settings/steps required - it looks like you're missing the `AzureWebJObsSecretStorageKeyVaultClientId` setting:

<html>
<body>
<h5 dir="auto" style="box-sizing: border-box; margin-top: 24px; margin-bottom: 16px; font-size: 0.875em; font-weight: 600; line-heig

[2022-02-05 11:24] TobiasBreuer commented on #7610
Not sure if following information is helpful to @Sti2nd but for anyone reaching here due to a "Binding not supported" exception when using `[FromQuery]` in Azure functions triggered by HTTP:

Being used to that syntax from ASP.Net Web APIs, my expectation was that this is by default supported by Azure Functions as well (HTTP-Trigger based functions).
First approach using this attribute on a parame

[2022-02-05 18:06] ggailey777 commented on #8113
@kashimiz it looks like we missed adding those new settings to the reference article. I've opened [1915470](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1915470) to track internally. Thanks!
\+ @mattchenderson

[2022-02-05 21:12] Arash-Sabet opened #8120 "Injecting CancellationToken to Queue-Triggered functions causes exception in dotnet isolated processes - Azure Functions V4, .NET 6.0"
Please have a look at the following function implementation:

[code]

The C# project's definition is per the following entry and `"FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"` is in `local.settings.json` file.

[code]

This function runs well when a message is added to the Azure Storage Queue. We'd like to leverage `CancellationToken` and therefore modified the function per the following code:

[

[2022-02-05 21:35] saikatguha commented on #4618
Any updates on this bug. Just spent 3 hours debugging.

[2022-02-05 21:37] saikatguha commented on #3593
Any updates on this bug. Just spent 3 hours debugging.
Given the 2018 post date, this bug is old enough to go to Kindergarten!

[2022-02-05 23:57] tavaneftekhar commented on #5663
I'm having the same issue. Using VS Code to push updates to the function app. Is there a solution to ensure old instances are not run weeks later?

[2022-02-06 17:10] saikatguha opened #8121 "Reference Function Keys from Key Vault"
I am using *Function Keys* for authenticating certain webhook integrations.

I would like to store the actual key in Azure Key Vault so I can manage and rotate these keys inside AKV using tooling built for AKV, and have the various Azure services pick up the updated keys.

Currently, Key Vault references are supported in Application *Settings* where I can reference a AKV secret. However, there are

[2022-02-07 07:32] AndersDyhr commented on #7688
yes it has been deleted. We don't have other that uses it since it doesn't work at the moment. I've written step by step guide how to reproduce the issue, so you can easily try it for your self?

[2022-02-07 12:19] jenspettersson opened #8122 "Host just keeps restarting after Slot Swap (fine after manual restart in portal)"
#### Check for a solution in the Azure portal
none found.

#### Investigative information

Please provide the following:

- Timestamp: from 2022-02-07 12:22:30 (UTC+1)
- Function App version: v4
- Function App name: _not public_
- Function name(s) (as appropriate): none, the host is the issue
- Invocation ID: can't get any, the host doesn't even log the failed requests
- Region: West Europe

####

[2022-02-07 15:08] dxynnez opened #8123 "Cannot swap slots with different function runtime versions"
Hi team,

We are migrating our function apps from .netcore 3.1 to .net 6.0 and would love to do this without downtime if it's at all possible.

We first deployed .net 6.0 compatible binaries to staging slot and changed the FUNCTIONS_EXTENSION_VERSION on it from ~3 to ~4 and then performed a swap. But the swap failed with message:
``
'Failed swapping site. Error: Cannot swap slots for site 'cpc-fn-

[2022-02-07 18:13] kannanMSFT commented on #8113
Actually, I was trying to use system managed identity

[2022-02-07 18:15] csalgo70 commented on #8113
Actually I was trying to use system managed identity. So the following should have worked based on the note but its not working in my case.

<html>
<body>
<h5 dir="auto" style="box-sizing: border-box; margin-top: 24px; margin-bottom: 16px; font-size: 0.875em; font-weight: 600; line-height: 1.25; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica

[2022-02-08 02:34] dhairya09 commented on #6183
Hi @v-bbalaiagar, @alrod, @v-anvari
Quick question on the way to set this `autocomplete: false` for just one specific azure function and not affect all azure functions running on the function app ?
Reason for asking is, what's specified here : https://github.com/Azure/azure-functions-servicebus-extension/issues/138 doesn't seem to work. Can you please share details on how this can be addressed ?

[2022-02-08 07:20] dxynnez commented on #8068
Hi @Ved2806, is there any update on this?

[2022-02-08 08:58] htuomas commented on #6328
I have this same problem with a C# function, using Microsoft.Azure.WebJobs.Extensions.EventGrid version 2.1.0. It works fine when invoked with Postman.

[2022-02-08 09:50] v-bbalaiagar commented on #8120
Hi @Arash-Sabet , Thank you for your feedback. This issue is relating to an issue which is already being tracked and the updates will be given there - https://github.com/Azure/azure-functions-dotnet-worker/issues/180

Closing this issue here. Please find the space for further updates.

[2022-02-08 09:50] #8120 closed, assigned to madelinegordon, v-bbalaiagar

[2022-02-08 10:29] v-bbalaiagar commented on #8123
Hi @dxynnez , Thank you for your feedback! Similar scenarios were tracked earlier as mentioned here - https://github.com/Azure/Azure-Functions/issues/2118

Also, here is a blog post which addresses similar scenario where the blog talks about deployment slot swap failures and how to fix them - https://ruslany.net/2017/11/most-common-deployment-slot-swap-failures-and-how-to-fix-them/

Please check a

[2022-02-08 10:33] v-bbalaiagar commented on #6183
Tagging @mathewc , for more inputs

[2022-02-08 11:04] dxynnez commented on #8123
@v-bbalaiagar thanks for linking the issue! Yes that's exactly what happened to us. The underlying problem seems to be that any config ends with _EXTENSION_VERSION is indeed slot-sticky. In that case, what would be the alternative to upgrade functions without causing downtime?

The blog post isn't that much useful though (probably also outdated).

[2022-02-08 11:15] Ved2806 commented on #8068
Hi @kshyju  Could you please help with this?

[2022-02-08 11:21] Ved2806 commented on #7864
Hi @pragnagopa , Could you please look into this?

[2022-02-08 11:46] v-bbalaiagar commented on #8114
Hi @jsacapdev , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-08 12:10] Ved2806 commented on #8121
Hi @mattchenderson Could you please look into this?

[2022-02-08 14:59] v-bbalaiagar commented on #7809
Hi @kasobol-msft , Please let us know if this is yet to be triaged.

[2022-02-08 15:02] Ved2806 commented on #8122
Thank you for the feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-08 15:11] jenspettersson commented on #8122
I just found that we had a service name longer than 32 characters and that might have caused collisions with the staging slot that were getting a name even longer. We had already set the `AzureFunctionsWebHost__hostid` configuration parameter to our staging slot (as a slot setting) to a fixed string shorter than 32 characters, but the issue was still happening.

We then tried to set the `AzureFunc

[2022-02-08 15:25] pragnagopa commented on #7864
Thanks for reporting the issue. Tagging @CooperLink for initial investigation.

[2022-02-08 16:10] v-bbalaiagar commented on #5452
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2022-02-08 16:10] #5452 closed

[2022-02-08 21:39] VinnyBonner opened #8124 "Setting up Non-C# language worker on Azure Functions Host Running locally"
#### Is your question related to a specific version? If so, please specify:
Dev branch

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
All beside C#

#### Background:
I am trying to get the Functions Host, which is running locally, to run local functions that are in languages other than C#. I am running into issues when I try to set it up to run other languages be

[2022-02-08 23:45] kshyju commented on #8059
PR with the fix: https://github.com/Azure/azure-functions-vs-build-sdk/pull/542

[2022-02-09 01:52] balag0 commented on #8103
@casper-79 Thanks for the additional details. Hopefully the following details are helpful.

During the test on 02/04 the function app had 36 instances assigned in the backend. The bandwidth limits dont apply at the function app level. The limits are at the node level and there could be other instances from other subscriptions running on the same node since it is a multi-tenant service. These 36 in

[2022-02-09 11:01] stuartri opened #8126 "azure function csx does not work with sqlclient"
https://github.com/dotnet/SqlClient/issues/1512

It is unclear if this is a sqlclient issue or a host issue.
Please see linked item for details above.

In short, csx files cannot use sqlclient to access sqlserver.
You cannot add a reference to sqlclient using
#r "System.Data.SqlClient"
even with a function.proj file.

repro is in the linked bug.

[2022-02-09 12:43] josejohny3 opened #8127 "Singleton orchestrators in Durable Functions is violating singleton behavior:"
![image](https://user-images.githubusercontent.com/99195253/153202995-25a58533-b0e9-4ecc-b9ed-ec1eb383cb1b.png)
[code]

[2022-02-09 12:55] josejohny3 commented on #912
is there any solution for the singleton issue?

[2022-02-09 12:56] josejohny3 commented on #912
is there any solution for the singleton issue?

[2022-02-09 12:59] josejohny3 commented on #912
is there any solution for the singleton issue @[rohitashwachaks](https://github.com/rohitashwachaks)?

[2022-02-09 17:15] stuartri commented on #8126
see linked item for resolution. thanks.

[2022-02-09 17:15] #8126 closed, assigned to satvu

[2022-02-09 21:17] fabiocav commented on #7809
@kasobol-msft can you confirm that in all cases, compiling without a `#r "Azure.Core"` automatically brings those references?

[2022-02-09 21:29] fabiocav commented on #8025
Since this is in Application Insights today, we should ensure that:
- Initialization errors have the appropriate level in app insights
- We log to diagnostic events, so when that comes online, that information is available in the portal

Let's repro with an initialization erros (perhaps using the setup referenced by @liliankasem) and validate the above requirements.

[2022-02-09 21:39] fabiocav commented on #6983
@Methuselah96 have you tried to run this workload in Premium? Consumption resource limits may be causing what you're seeing, particularly if you're hitting a cold app.

Flagging this for investigation review so we can take a closer look, but it would be good to understand if you see this behavior in different SKUs as well.

[2022-02-10 14:58] jvmlet opened #8134 "Function from referenced assembly is not exposed in hosting app"
Consider `FunctionApp` project that references  `FunctionLib` project.

`FunctionLib` has `HTTTrigger` function :

[code]
When I run `FunctionApp`, the `MyHttpTrigger` function  is not exposed.
If manually copy the generated  `FunctionLib\bin\debug\net5.0\MyHttpTrigger\function.json`  to  `FunctionApp\bin\debug\net5.0\MyHttpTrigger\function.json` and rerun the `FunctionApp` I can invoke the functi

[2022-02-10 15:43] damiangelis opened #8135 "Managed identity support for WEBSITE_CONTENTAZUREFILECONNECTIONSTRING setting"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

All

#### Question

I have a function app running on Windows. I managed to replace `AzureWebJobsStorage` setting with `AzureWebJobsStorage__accountName`, which contains the Storage account name instead of connection string. Function app work

[2022-02-10 15:43] damiangelis commented on #8135
FYI @spmanjunath

[2022-02-10 15:45] damiangelis commented on #8135
FYI @jesperkristensen

[2022-02-10 16:05] jvmlet commented on #8134
Please support functions from referenced nuget package as well.

[2022-02-10 16:14] Ved2806 commented on #8022
Hi @fabiocav Could you please look into this?

[2022-02-10 20:31] redshiftz commented on #5015
Yes. This is very much needed.

[2022-02-11 03:09] Ved2806 commented on #8010
Hi @sonic1981 Could you please provide the following function app information so that we can investigate this issue further.
Function App Name, TimeStamp and region.

[2022-02-11 03:19] Ved2806 commented on #8009
Hi @mattchenderson Could you please point us to the right folks to investigate this further?

[2022-02-11 03:24] Ved2806 commented on #8097
Hi @KirylZotkin Could you please provide the following information to investigate this further?
Function App name, Region and timestamp.

[2022-02-11 23:09] #7212 closed, assigned to madelinegordon

[2022-02-12 09:59] KirylZotkin commented on #8097
Function App name: wlm-dev-media-functions
Region: France Central
timestamp: based on the screenshot above it's 2022-01-25T10:08:35

P.S. I've already updated the function to use Linux host but I still see the same errors/same behavior like at this very moment (09:57 UTC). New function name is wml-dev-media-functions

[2022-02-12 13:00] ghost commented on #8123
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-13 10:00] ghost commented on #8103
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-13 22:00] ghost commented on #6983
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-14 04:23] dxynnez commented on #8123
Hi @v-bbalaiagar , any update on this?

[2022-02-14 11:58] v-bbalaiagar commented on #8123
Hi @dxynnez ,Team is investigating on the issue. Issue [2118](https://github.com/Azure/Azure-Functions/issues/2118) is a tracking issue and the updates will be given there.

[2022-02-14 12:47] kawolski commented on #2659
@alafanechere Hey there, have you inserted comma ( , ) in your POST method data ...?
eg :
{
	"name": "abc",
	"address": "3r - 102 Block 5A",
	"location": "State, Country",
	"password": "Idontcare6969"
}

[2022-02-14 15:50] alateefah commented on #3998
Same issue. Double encoding worked for me, like this, `encodeURIComponent(encodeURIComponent("https://some-uri.com"))`

[2022-02-14 16:16] Ved2806 commented on #8134
Hi @kshyju @fabiocav Could you please look into this?

[2022-02-14 16:28] v-bbalaiagar commented on #8135
Hi @damiangelis , Thank you for your feedback! We will investigate this further and update you with the findings.

[2022-02-15 04:00] ghost commented on #8010
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-15 10:24] casper-79 commented on #8103
Hi

We have worked further on the issue and found the source of the problem to be the blob client in azure-storage SDK. We changed the code to use azure-storage-blob instead and numbers are now consistently up by an order of magnitude. We also found that queue triggered functions are much more suitable for this type of workload, since you can control maxConcurrentCalls in host.json. By combining t

[2022-02-15 11:53] dxynnez commented on #8068
Hi @Ved2806 / @kshyju , just checking up - is it something doable in azure functions?

[2022-02-15 12:47] v-bbalaiagar commented on #8124
Hi @VinnyBonner , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-15 13:07] v-bbalaiagar commented on #8103
Hi @balag0 , Since its a document related issue. Can we add this in our documents and if its a valid note, then can we transfer this issue to the docs repo.

[2022-02-15 15:23] Methuselah96 commented on #6983
I'll test it this weekend.

[2022-02-15 20:47] damiangelis commented on #8135
Added today’s updates to issue description.

[2022-02-15 21:23] balag0 commented on #8103
@casper-79 Thanks for the update.
@v-bbalaiagar We usually don't document behavior of client libraries not owned by functions as we have no way to know if something changes later on.

[2022-02-15 21:23] #8103 closed, assigned to nobody

[2022-02-15 21:28] mathewc opened #8142 "[Vanguard] Admin Isolation Mode"
Based on the presence of a new system setting FUNCTIONS_ADMIN_ISOLATION_ENABLED, we'll be enabling a new isolation mode for admin APIs. When enabled, admin APIs will only be accessible by internal AppService platform requests.

We'll be adding this feature for v3 and v4. v1 will not support it.

[2022-02-15 22:55] mattchenderson commented on #8135
Azure Files does not support using AAD identities for SMB mounting. As such, a connection string is required by that service. Our recommendation is to store the secret in Key Vault and reference it with an identity as you have shown in that first screenshot.

[2022-02-15 23:10] dnblankedelman commented on #8135
@mattchenderson Thanks for the speedy reply. We are not using SMB mounting or Azure File store, just blog storage which [this announcement](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#storage-extension-5x-and-higher) seems to imply should work without secrets.

[2022-02-15 23:50] mattchenderson commented on #8135
This issue refers to `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING ` which is for Azure Files mounting at the platform layer. Triggers and bindings can use identities in the latest extension versions, but they should not be making use of the Azure Files configuration.

[2022-02-16 00:32] mattchenderson commented on #8135
Ignoring the Azure Files connection, I don't see anything other the `AzureWebJobsStorage__accountName` setting in your configuration. If that is being used for a blob trigger, I would expect you to see runtime errors during application startup. The error you referenced at the end of the original post is slightly different than what I'd expect, but that signals part of the issue to me.

`__accountN

[2022-02-16 08:43] khertg opened #8145 "How to avoid DryIoc.ContainerException on local setup of azure function ?"

[2022-02-16 09:15] khertg commented on #6068
Still an issue in 2022 ...

[2022-02-16 16:09] reste85 commented on #8504
Hi, we're facing the same issue, but with java worker. Here's the log:

[code]

Is it possible to understand what is happening? On 3 hosts we're facing this error, on another host it works and we can debug locally through IntelliJIdea

[2022-02-16 16:43] j2jensen opened #8146 "Azure Functions Script (.csx) support for .NET 6"
#### What problem would the feature you're requesting solve? Please describe.
Any attempt I've made to target a framework other than `netstandard2.0` in Azure Scripts yields cryptic warnings and errors when referencing Nuget packages, as detailed in [this StackOverflow post](https://stackoverflow.com/questions/71119692/can-an-azure-functions-script-csx-target-net-6).

#### Describe the solution yo

[2022-02-16 18:36] TsuyoshiUshio commented on #7394
We decide to create a separate API `admin/host/extensions/config` for fetching the host.json with AppSertings/default value.
I'm going to share the Pull Request.

[2022-02-17 15:14] damiangelis commented on #8135
Hi @mattchenderson, thanks for all your help.

Fortunately we managed to get rid of connection strings with account key by:
1. Deleting function app resource in Portal
1. Deleting both `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING`, `WEBSITE_CONTENTSHARE`, and `AzureWebJobsStorage` settings in ARM template
1. Adding `AzureWebJobsStorage__blobServiceUri` and `AzureWebJobsStorage__queueServiceUri` setti

[2022-02-17 17:38] mathewc opened #8150 "Consider changing Explicit Host ID configuration log level"
We should consider changing the Host ID warning [here](https://github.com/Azure/azure-functions-host/blob/86efe24eaf1d7d016975fe72c9d193670bebf66b/src/WebJobs.Script/Host/ScriptHost.cs#L351) from Warning to Information level. Part of our guidance in addressing the longstanding issue of [Host ID Collisions](https://github.com/Azure/azure-functions-host/issues/2015) includes using an explicit Host I

[2022-02-17 19:25] mattchenderson commented on #8135
I'm glad you have things working! Apologies for overfocusing on BlobTrigger - it's where I've seen the most issue with getting started. But your setup otherwise seems fine to me - did you find that you actually needed all 4 queue role assignments? That does seem a little excessive to me.

That warning there is the result of you removing the Azure Files settings. Consumption apps are generally reco

[2022-02-17 19:25] #8135 closed, assigned to madelinegordon, v-bbalaiagar

[2022-02-17 19:31] damiangelis commented on #8135
@mattchenderson I added those 4 queue role assignments just in case. Regarding scaling, we’re under Premium plan, not Consumption, so I don’t see we’re going to run into any issues.

[2022-02-17 19:39] dnblankedelman commented on #8135
(and just in case you are curious why we are under Premium... it is our understanding that one has to be in Premium to satisfy the [network isolation requirements](https://eng.ms/docs/security-compliance-identity-and-management-scim/security/azure-security/security-health-analytics/network-isolation/tsgs/troubleshooting/azurepolicyandprivatelinks/privateendpoint) coming to all services, Consumptio

[2022-02-17 22:40] mattchenderson commented on #8135
So if it's Premium, I am a little surprised to see that warning come up. But yes, you should be fine, then.

[2022-02-17 22:44] #8082 closed, assigned to surgupta-msft

[2022-02-18 00:16] liliankasem commented on #7874
It looks like this is related to making the behaviour behind the “EnableEnhancedScopes” feature flag in v3 the default in v4, which was originally introduced here #6721. We'll continue investigating and are looking to have design discussions on how to address this in the coming sprint.

[2022-02-18 02:57] Ved2806 commented on #8146
Thank you for the feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-18 07:00] #8010 closed, assigned to brettsam, Ved2806

[2022-02-18 07:31] jesperkristensen commented on #8135
Is there a description of what scaling issues there might be for consumption apps, and is it planned to fix that?

[2022-02-18 10:18] blacelle opened #8154 "Spurious latency processing events from ServiceBus"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 2022

[2022-02-18 23:21] eddynaka opened #8155 "Method not found when invoking Azure.Storage.Blob dynamically"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 2/18

[2022-02-18 23:46] blacelle commented on #8154
We finally spotted the logs relating to the invokation of the function in our own logs:

[code]

It confirms the Azure Functions Host received the message at 14:08:20 (pushed in serviceBus at 14:08:16), but our Python custom code is called at 14:10:30. How can we explain+fix this latency inside AzureFunctionsHost?

[2022-02-18 23:57] blacelle commented on #8154
~Looking at LockToken, something looks weird to me:~ I understand `CompleteAsync start` is called when the previous event succeeded, not when the delayed one starts

Previous event completes, and is attached to LockToken 5e468277-fa46-4b98-9db0-5d9b1e8bbceb

[code]

Delayed event starts right away, and is attached to the same LockToken as previous event. Why is so? If both events are attached to t

[2022-02-19 16:00] ghost commented on #6983
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-20 13:06] blacelle commented on #8154
Digging further into it, I feel the issue might be related with `FUNCTIONS_WORKER_PROCESS_COUNT > 1`

https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#functions_worker_process_count

Let's say I have FUNCTIONS_WORKER_PROCESS_COUNT=2: workerA and workerB. I consider 4 events:

- eventA_fast
- eventB_slow
- eventC_fast
- eventD_slow

I understand events are published wit

[2022-02-20 13:14] mrurb commented on #7909
This issue is still ongoing is there plans to implement iana timezones?
`The time zone ID 'Etc/GMT+5' was not found on the local computer.`
Azure function running net6.0 and azure function 4.1.3.17473

[2022-02-20 14:31] qsdfplkj opened #8157 "Replacing ScriptLoggerFactory"
I would like to use a custom (decorated) `ILoggerFactory` implementation. How can this be done?

Replacing the loggerfactory inside the `Startup.Configure(IFunctionsHostBuilder builder)` doesn't work

```builder.Services.Replace<ILoggerFactory, MYLOGGERFACTORY>();```

because it is replaced by scriptloggerfactory?

```WebScriptHostBuilderExtension.AddWebScriptHost```

with line:

```loggingBuilder

[2022-02-20 21:31] shaunwhyte commented on #8019
Were any updates made here?
@sescandell @[v-bbalaiagar](https://github.com/v-bbalaiagar)

[2022-02-21 07:31] plamber opened #8158 "Application Insights Distributed Tracing for Queue Messages"
#### Is your question related to a specific version? If so, please specify:
Azure.Function.Extension 1.1.0
Microsoft.NET.SDK.Functions 4.0.1
C#

#### Question
We have some Azure Functions using Queue triggers. In some situations these functions are linked with each other. I would like to link the activities of these functions using Application Insights distributed tracing. Unfortunately, I haven't

[2022-02-21 09:30] Hakuroda opened #8159 "WebJob SDK doesn't meet ApplicationInsights-dotnet issue #2195."
#### Investigative information

In this issue https://github.com/microsoft/ApplicationInsights-dotnet/issues/2195, it insisted that Microsoft.ApplicationInsights.AspNetCore 2.17.0 has a bug and the issue is mitigated its later version 2.18.0.
If we see azure-functions-host v.3.4.2(current my function app) dependency, WebJobs.Script.csproj, this repository has a dependency to Microsoft.Azure.WebJob

[2022-02-21 10:00] ghost commented on #7713
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-21 10:01] ghost commented on #7798
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-21 13:27] wizsilex commented on #7833
Im getting this in Macbook pro m1 osx 12.2.1,
vscode 1.64.2, node 16.13.2, func 4.0.3971.
VScode keeps saving files while im writing my code, and restarting host with half written lines and ending in error.
i don't have any auto save on, and there is not autosave when func host start is not running

[2022-02-21T13:05:03.746Z] Debugger listening on ws://127.0.0.1:9230/61a6155f-1f0c-4a2b-8368-e95d77

[2022-02-21 22:31] alphonso77 commented on #9290
Has anyone observed this same behavior with a NodeJS app hosted in Azure App Services?

[2022-02-22 09:15] randomaxess commented on #7833
I'm getting a similar issue with azure node functions:

'''
info: Microsoft.AspNetCore.Routing.EndpointMiddleware[1]
      Executed endpoint 'gRPC - /AzureFunctionsRpcMessages.FunctionRpc/EventStream'
info: Microsoft.AspNetCore.Hosting.Diagnostics[2]
      Request finished HTTP/2 POST http://127.0.0.1:58834/AzureFunctionsRpcMessages.FunctionRpc/EventStream application/grpc - - 200 - application/gr

[2022-02-22 13:23] v-bbalaiagar commented on #8155
Hi @eddynaka , Thank you for your feedback! I went through the logs for the time stamp : 2022-02-18 10:00:00 PM to 2022-02-18 10:30:00 PM.

Your Function app is pinned to extension bundle version 2.8.3, but the latest version for v2 is version 2.8.4.

Around 2/18/2022 10:40:00 PM (UTC), your application process was restarted as the host.json or function.json was manually changed from Portal, Kudu,

[2022-02-22 13:32] v-bbalaiagar commented on #8154
Hi @blacelle , Thank you for your feedback!
Tagging  @balag0 ,  for more inputs

[2022-02-22 13:49] PhilippK13 commented on #5590
Just stumbled upon the same issue(azure functions v3, .net core 3.1).

We had a very similar setup: the function was making a call to service but was not awaiting it. Something like this(adjusted for brevity):
[code]

Note that the `ProcessAsync` call is not awaited and the HttpClient is created inside the `ProcessAsync` method.

My working theory is that the scoped service provider gets injected

[2022-02-22 14:00] v-bbalaiagar commented on #8124
Hi @VinnyBonner , Similar scenarios were fixed/ tracked earlier as mentioned here - https://github.com/Azure/azure-functions-dotnet-worker/issues/556
Please check and let us know if this helps.

[2022-02-22 14:11] v-bbalaiagar commented on #7875
Hi @kshyju , Can you please suggest how to proceed further here.

[2022-02-22 14:14] v-bbalaiagar commented on #7798
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2022-02-22 14:14] #7798 closed, assigned to kashimiz, v-bbalaiagar

[2022-02-22 14:15] Ved2806 commented on #8159
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-22 14:16] Ved2806 commented on #8158
Thank you for the feedback, We will discuss this issue internally and let you know about the findings.

[2022-02-22 14:16] v-bbalaiagar commented on #5514
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2022-02-22 14:17] v-bbalaiagar commented on #5658
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2022-02-22 14:20] v-bbalaiagar commented on #6242
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2022-02-22 14:20] #6242 closed, assigned to v-bbalaiagar

[2022-02-22 14:26] Ved2806 commented on #8122
we are investigating this further and will update you soon with the findings

[2022-02-22 15:14] eddynaka commented on #8155
Hi @v-bbalaiagar ,

In the end, I had to move from a normal AzureFunction v3 to the isolated process v4.
Thanks again for the attention.

You can close this :).

[2022-02-22 15:37] v-bbalaiagar commented on #8155
Thank you for the update. Closing this issue, please feel free to reach back to us in case of any further queries related to this issue.

[2022-02-22 15:37] #8155 closed, assigned to nobody

[2022-02-22 16:04] Methuselah96 commented on #6983
@fabiocav Can this be reopened? It's still an issue and I'm working on providing feedback.

[2022-02-22 16:08] v-bbalaiagar commented on #6983
Hi @Methuselah96 , The bot has closed the issue due to in-activity. We shall keep the issue open.

[2022-02-22 16:46] dxynnez commented on #8068
Hi @Ved2806 / @kshyju  just trying my luck one more time to see if there is anything you could share with me... Thanks.

[2022-02-22 19:59] alphonso77 commented on #9290
As a follow up - I ran across this same issue in an Azure-hosted NodeJS container. We had some routes that had parameters with encoded slashes (like: `http://our-api.com/first-param/second-param/some%2Fname`). The route worked fine running locally on a NodeJS Windows 11 x64 architecture. But it 404'd in the target Azure environment. I changed the last parameter to an encoded Query String parameter

[2022-02-22 23:57] kshyju commented on #8068
@dxynnez It is not currently supported out of the box.

[2022-02-22 23:57] #8068 closed, assigned to madelinegordon, Ved2806

[2022-02-23 01:35] fabiocav commented on #4891
@liliankasem for awareness.

Failures in any of the hosted services may prove difficult to troubleshoot if they throw at startup/stop, but this may be common with OOP in some worker initialization scenarios (e.g., the referenced worker files are not found).

Flagging for review

[2022-02-23 01:48] fabiocav commented on #4891
This may not impact OOP, as the RPC initialization service handles and logs failures, but we need to review other hosted service implementations

[2022-02-23 11:03] Ved2806 commented on #7909
Hi @fabiocav Could you please help with this?

[2022-02-23 14:54] a99cl208 opened #8161 "Add support for LoggerFactoryOptions on ScriptLoggerFactory"
#### What problem would the feature you're requesting solve? Please describe.
By default LoggerFactory options does not track any additionnal properties, like SpanId, ParentId, TraceId, contrary to the default configuration from ASP.NET (see here: https://github.com/dotnet/aspnetcore/blob/master/src/DefaultBuilder/src/WebHost.cs).
Problem is that not having the parent ID makes difficult to process

[2022-02-23 16:38] ismael-elatifi opened #8163 "proxies.json not taken into account locally"
- OS : Debian GNU/Linux 10 (buster)
- Core Tools Version:       4.0.3971 Commit hash: d0775d487c93ebd49e9c1166d5c3c01f3c76eaaf  (64-bit)
- Function Runtime Version: 4.0.1.16815
- Python version 3.8.12

I have the following `proxies.json` file :
[code]

This proxies.json is working fine in the cloud but not when running my app locally (error 404).
Locally (when I start my server with `func start` o

[2022-02-23 17:44] kannanMSFT commented on #8113
Any update on this ?

[2022-02-23 20:36] avnet78 commented on #8062
@liliankasem any update?

[2022-02-23 21:11] liliankasem commented on #7809
@kasobol-msft ping 😄

[2022-02-23 21:25] liliankasem commented on #6184
@CooperLink , @yojagad Can you share an update if there was investigation performed? 😄

[2022-02-23 21:30] liliankasem commented on #7587
@shimedh @AnatoliB - any new updates on this?

[2022-02-23 21:40] kasobol-msft commented on #7809
@fabiocav It doesn't seem to do that. Today's attempt:
![image](https://user-images.githubusercontent.com/61715331/155413121-ed9b166c-3f2c-4d9d-919d-178ae8eec269.png)

[2022-02-23 21:41] liliankasem commented on #7533
@fabiocav has this been released, can we close the issue?

[2022-02-23 21:50] liliankasem commented on #8062
Sorry I haven't had time to investigate this. I'll see if this can be assigned during the next sprint

[2022-02-23 23:10] #7848 closed, assigned to liliankasem

[2022-02-23 23:15] liliankasem commented on #6284
Also related: https://github.com/Azure/azure-functions-dotnet-worker/issues/370

[2022-02-23 23:36] liliankasem opened #8164 "Design WorkerHeartbeat functionality"
Create a design document to outline an approach for implementing the `WorkerHeartbeat` functionality. This should include the protobuf design and host implementation details.

`WorkerHeartbeat` will help us improve reliability as we can use this request to determine the state of the worker and use that information in turn to determine when to start/stop a worker process. The worker should send a h

[2022-02-23 23:39] liliankasem opened #8165 "Investigate if the function dispatcher state is getting properly reset"
Investigate if the function dispatcher state is getting properly reset; there is potentially a bug here and we should look into which potential scenarios/conditions are happening where we do not reset the state (i.e. restart use case)

[2022-02-23 23:42] liliankasem commented on #8164
Potentially related to #4852

There seems to be a disconnect between the host reading events and the out-of-proc worker being up and running and ready to handle invocations.

[2022-02-23 23:47] liliankasem commented on #4027
@yojagad @fabiocav was this investigated at all? Do we still need this?

[2022-02-24 00:00] liliankasem commented on #8163
Hello, support for [proxies was discontinued in v4](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=in-process%2Cv4&pivots=programming-language-csharp#runtime), so technically the proxies.json file shouldn't be used at all in the cloud or locally.

- Do you have a minimal repro app you can share?
- Do you know which version of the host you're using locally vs in Azur

[2022-02-24 00:04] liliankasem commented on #8145
@khertg can you provide more details in the issue description

[2022-02-24 00:43] liliankasem commented on #8113
@csalgo70 I followed the same steps mentioned and was not able to repro. I'm seeing the host secrets inside the Key Vault and every time I renew a function key or host master key, the Key Vault is getting updated with the latest secret value. I can see that the host.json and functionname.json files still exist inside of the `azure-webjobs-secrets` container but have **not** been updated since sett

[2022-02-24 03:22] wup-one commented on #7833
FWIW I've been seeing this error recently when debugging my Azure Function written in node.

I noticed I only see the error when I had the following node script setup:

[code]

running `npm run dev` here would result in the error. however, I updated the scripts to

[code]

running `npm run dev` no longer produces these errors. Somehow indirectly running `func start` through it's node command preve

[2022-02-24 04:42] justinyoo commented on #7533
It's still in preview: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.Abstractions

[2022-02-24 05:19] pragnagopa commented on #4027
Tagging @soninaren - as he was looking to extend the support for CancellationToken to out-of-proc languages

[2022-02-24 09:21] Ved2806 commented on #8159
Hi @brettsam Could you please help with this?

[2022-02-24 09:24] Ved2806 commented on #8158
Hi @brettsam Do we have any documentation related to this issue for guidance?

[2022-02-24 09:29] Ved2806 commented on #8158
Hi @plamber , Please refer this [document](https://medium.com/prospa-engineering/implementing-distributed-tracing-with-azures-application-insights-5a09cc1c200c) for more information. Please let us know if this is useful. Thanks.

[2022-02-24 11:52] v-bbalaiagar commented on #8157
Hi @qsdfplkj , Thank you for your feedback! Here are the steps how you can use ILoggerFactory - https://stackify.com/net-core-loggerfactory-use-correctly/

Please check and let us know if this helps

[2022-02-24 12:35] plamber commented on #8158
Hi @Ved2806,
thank you for the link. Does it mean that the only way to achieve this is by creating new activities every time?

Thank you,
Patrick

[2022-02-24 12:41] qsdfplkj commented on #8157
It's not possible because it will be replaced again by the ScriptLoggerFactory. (See the code I mentioned.

[2022-02-24 12:52] v-bbalaiagar commented on #8157
Thank you for the update, We will check for the possibilities internally and update you with the findings.

[2022-02-24 12:53] sjuarezgx opened #8167 "Did not find any initialized language workers - Azure functions Net 6 on linux"
Under some circunstances that I describe below, Azure functions on linux don't work, throwing the error "Did not find any initialized language workers"

Within the Application Insights logs I can see the specific error:

Unhandled exception. System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Extensions.Hosting, Version=6.0.0.0, Culture=neutral, PublicKeyToken=adb9793829dda

[2022-02-24 14:12] littlesvensson opened #8168 "SSL connection error after upgrading to v4"
We upgraded to Azure function runtime version 4 (as we wanted to move to node16). However, we were not able to execute the function because of the following runtime error: System.Net.Http: The SSL connection could not be established, see inner exception. System.Net.Security: Received an unexpected EOF or 0 bytes from the transport stream.

- Region: West Europe

#### Expected behavior

Our AZ func

[2022-02-24 16:46] swettstein commented on #7772
is there a way to verify if a particular function app has the new drain mode enabled? in case of any issues, i would like to be able to verify the drain mode status before i resort to deleting the app.

[2022-02-24 16:56] swettstein commented on #5098
in case anyone else is looking for the answer, i found it here: https://github.com/Azure/azure-functions-host/pull/7669

seems that it will only be removed in v4, not v3

[2022-02-24 18:09] lopezbertoni commented on #5663
This happened to me again today on our production environment. Any workarounds?

[2022-02-24 18:42] liliankasem commented on #7772
@swettstein we do have a drain status API you can hit:

`https://myfuncapp.azurewebsites.net/admin/host/drain/status?code=<master-key>`

[2022-02-24 18:59] alrod opened #8169 "Read FuncitonsHostingConfigurations to enable worker concurrency feature"
#### What problem would the feature you're requesting solve? Please describe.
We need to test language concurrency feature on subset of the customers to understand performance affect. Currently the only way is using an app settings feature flag which is does not suit our needs as changing the app settings is visible and leads to customer's confusion. The change will allow to enable a new functions

[2022-02-24 19:01] ismael-elatifi commented on #8163
Indeed we can close this ticket because I downgraded to v3 and proxies work now even in local :-)
Thanks !

[2022-02-24 19:01] ismael-elatifi commented on #8163
Indeed we can close this ticket because I downgraded to v3 and proxies work now even in local :-)
Thanks @liliankasem !

[2022-02-24 19:01] #8163 closed, assigned to nobody

[2022-02-24 19:32] soninaren commented on #4027
I believe this is still relevant. It may not be a cancellation token the functionality is still needed. It would need some design work to start with.

[2022-02-25 01:59] VinnyBonner commented on #8124
Hi @v-bbalaiagar, I appreciate the follow up. I will review the supplied link when I have a chance and see what I can find and follow up.

[2022-02-25 02:18] kshyju commented on #8059
Sdk.Functions package 4.1.0 which has the fix for this, is now available in nuget gallery.

https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/4.1.0

[2022-02-25 03:13] FelipeAlvesLima commented on #6884
?

[2022-02-25 13:19] v-bbalaiagar commented on #8167
Hi @sjuarezgx , Similar scenarios were fixed/ tracked earlier as mentioned here - https://github.com/Azure/azure-functions-dotnet-worker/issues/556
Please check and let us know if this helps.

cc @liliankasem

[2022-02-26 01:25] cheenamalhotra commented on #8097
**Update**: I was able to resolve this error by ensuring Startup function succeeds, there was an issue due to invalid keyvault properties.

-------

This is happening in East US region as well. Seems to be related to WEBSITE_RUN_FROM_PACKAGE - if I remove this config, functions go away, but SCM host starts to work.

Would appreciate a workaround pls?

[code]

Tried with all "Microsoft.NET.Sdk.Func

[2022-02-26 03:59] #7394 closed, assigned to TsuyoshiUshio

[2022-02-26 11:33] sjuarezgx commented on #8167
Hi v-bbalaiagar
I already checked that issue, in fact, I posted to it also.

I can see that the "Did not find any initialized language workers" is a generic excepction, with too many possible causes.
But as I told you in this post, in our case, we could arrive to the origin of the problem. The *deps.json file generated by the msbuild tools of Azure has a wrong reference to "Microsoft.Extensions.Ho

[2022-02-26 14:25] mrekdal commented on #6717
I support this change, would like to see these warnings disappear, or at least some way of suppressing them.  Empty properties in the response should make it clear that they are not forgotten.  Sort of like "This page was intentionally left blank".

[2022-02-26 19:00] ghost commented on #6983
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-27 07:59] clancyjbhifi opened #8174 "FixedDelayRetry on ServiceBus triggered function causing unnecessary instance scaling"
Using the FixedDelayRetry attribute on Service Bus topic triggered function causing unnecessary instance scaling of the function app do to message time increasing. I am unsure if the same is true for queue triggered functions but I assume so.

The following function declaration will cause unnecessary scale out of the function instance and running this on an Elastic Premium instance can cause incre

[2022-02-27 07:59] #8174 closed, assigned to surgupta-msft

[2022-02-27 08:01] clancy opened #8175 "FixedDelayRetry on ServiceBus triggered function causing unnecessary instance scaling"
Using the FixedDelayRetry attribute on Service Bus topic triggered function causing unnecessary instance scaling of the function app do to message time increasing. I am unsure if the same is true for queue triggered functions but I assume so.

The following function declaration will cause unnecessary scale out of the function instance and running this on an Elastic Premium instance can cause incre

[2022-02-27 09:53] gabrielweyer commented on #3741
I came up with a solution that calls telemetry processors on request telemetry items while re-using the existing processor chain (so that the Functions internal dependencies are discarded before hitting the user's telemetry processors). I was hoping that Azure Functions v4 would support telemetry processors but it does not (at least for the in-process hosting model). v4 emits a bit more telemetry

[2022-02-28 01:00] ghost commented on #8113
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-28 10:13] #8175 closed, assigned to madelinegordon

[2022-02-28 13:00] ghost commented on #8158
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-28 13:00] ghost commented on #8145
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-28 13:41] Ved2806 commented on #8161
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-28 13:46] Ved2806 commented on #8146
[ Issue 2063](Azure/azure-functions-dotnet-worker#816) is a tracking issue and the updates will be given there, closing this issue as duplicate.

[2022-02-28 14:30] cosminstirbu opened #8176 "[Microsoft.Azure.WebJobs.Extensions.ServiceBus] maxMessageCount and maxMessages are not working as expected"
Hello,

I'm trying to limit the number of messages in a batch when using `Microsoft.Azure.WebJobs.Extensions.ServiceBus`.

I've tried with both 2.x an 5.x settings it doesn't honor `maxMessageCount` and `maxMessages`

2.x

[code]

5.x

[code]

The messages batch size that we're seeing is of approximately 800 messages, even though we're expecting to see maximum 70 messages.

#### Expected behavior

[2022-02-28 14:31] cosminstirbu commented on #8176
Is there any sort of additional logging I can check to make sure that the values from `host.json` are at least read as expected?

[2022-02-28 15:52] cosminstirbu commented on #8176
It seems that in 5.x the name of the property is `maxMessageBatchSize`, as per the [source code](https://github.dev/Azure/azure-sdk-for-net/blob/8208937479fcd8d4e02ef301701941bd132305dd/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs#L137) and not `maxMessages` as per [docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-servi

[2022-02-28 15:52] Methuselah96 commented on #6983
Still working on this.

[2022-02-28 17:46] #7662 closed, assigned to brettsam

[2022-02-28 20:24] Starlyvil opened #8178 "Local function App starts only when there's internet connection"
I have a default PowerShell function app. It only starts when there is an internet connection, but gives the below error when there is no internet connectivity

![error log](https://user-images.githubusercontent.com/31422222/156051415-eed09ca2-6daf-4244-a164-d88e5d7b699b.PNG)

Here are more info below:

**Version Info**

![image](https://user-images.githubusercontent.com/31422222/156051731-3847af0

[2022-02-28 21:42] brettsam commented on #8159
Here are the two PRs that bumped the host to 2.20. These should be rolling out with the next version of Functions.
- v3: https://github.com/Azure/azure-functions-host/pull/8040
- v4: https://github.com/Azure/azure-functions-host/pull/8041

[2022-02-28 22:08] Sergey-Nosov-CloudFit opened #8179 "Do not auto-ignore local.settings.json from Git."
I feel `local.settings.json` should remain for local non-Azure settings only, as there is big difference between running locally in an emulator and running in an actual Azure environment.

I think, however, `local.settings.json` should _not_ be auto-ignored form Git.

When a new developer comes on-board and pulls a function app project, they cannot run it locally as the `local.settings.json` is mi

[2022-03-01 00:58] satvu commented on #8025
I used [this comment](https://github.com/Azure/azure-functions-dotnet-worker/issues/747#issuecomment-989926373) from the issue @liliankasem linked to try to repro a startup failure, and no initialization errors were surfaced on dotnet-isolated. You could try to execute a function (but it would fail).

I also used the same repro mentioned above with a faulty use of `AddUserSecrets` to test out an i

[2022-03-01 04:00] ghost commented on #8124
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-01 04:22] j2jensen commented on #8146
@Ved2806 with all respect, the issue you linked has no apparent relation to this one, besides a vague reference to socket exhaustion. It is not a duplicate.

[2022-03-01 09:48] eduards-vavere commented on #7094
Hi,

This is a real issue. I am not able to reference keyvault in ARM/Bicep template function app env settings:

{
          name: 'WEBSITE_CONTENTAZUREFILECONNECTIONSTRING'
          value: '@Microsoft.KeyVault(SecretUri=

[2022-03-01 11:17] v-bbalaiagar commented on #8146
Hi @j2jensen , Apologies for the confusion, I have updated the issue link in the above comment. We shall keep the issue open and will investigate this further and update you with the findings.

[2022-03-01 14:31] springcomp commented on #8179
I feel strongly against this.
The default behaviour to auto ignore is to protect you from your own mistakes and prevent leaking secrets into the Git repository.

Just create a sample `local.settings.sample.json` file that you store in Git and your’re good to go.

[2022-03-01 14:45] springcomp opened #8181 "Self-hosted v3 function app fails to run in K8S pod if filesystem is readonly"
I’m hosting the Functions runtime in a dotnet Core 3.1 app to run as a Docker image inside a Kubernetes cluster.
However, the function app fails early on startup with the following stack trace:

[code]

#### Investigative information

The deployment manifest configures the pod with the following security context:

[code]

The function app **does not host** any functions at all.
I tried narrowing d

[2022-03-01 14:46] v-bbalaiagar commented on #8176
Hi @cosminstirbu , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-03-01 14:52] Sergey-Nosov-CloudFit commented on #8179
`local.settings.json` is a wrong place to store secrets, that is what `secrets.json` is for (right click application, Manage User Secrets).

Here is a typical `local.settings.json`; no secrets there:
[code]

[2022-03-01 14:54] springcomp commented on #8179
Well, I would argue that `AzureWebJobsStorage` **is** a secret...

[2022-03-01 19:11] liliankasem commented on #8025
Can you upload both repros to a public github repo?

[2022-03-01 19:14] liliankasem opened #8184 "Implement worker config profiles"
Profiles enable workers to change how the worker is configured based on certain conditions, for example a worker may want to configure itself differently for a consumption application vs a dedicated application. The profiles will be defined in the `worker.config.json` file and will essentially override the default worker description based on a set of conditions.

Work to do:

- design the profile

[2022-03-01 21:49] esimkowitz commented on #6015
I am also still seeing this on the .NET 6 isolated runtime Docker image. I see that this has been open for two years, are there any updates? This is a blocking issue that prevents my team from properly scaling our timer-triggered functions since in order to prevent duplicate runs, we can only run one replica at a time…

[2022-03-01 21:51] anirudhgarg commented on #6015
Assigning to @JatinSanghvi  to have a look,

[2022-03-02 01:16] Francisco-Gamino opened #8187 "Log the worker version when the placehoder worker is not compatible"
Currently, during specialization, we log a message when the placeholder worker does not match the requested runtime. We should also log the worker version.

Here is where the log message is written: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Rpc/WebHostRpcWorkerChannelManager.cs#L124

Currently:
`Shutting down placeholder worker. Worker is not compatible for

[2022-03-02 02:05] satvu commented on #8025
Samples:
- Inproc App of `AddUserSecrets` error for comparison [here](https://github.com/satvu/inproc-dni-startup-failure/tree/main)
- Isolated App of `AddUserSecrets` error [here](https://github.com/satvu/dni-startup-error)
- Isolated App Linux Program.cs Error failure [here](https://github.com/satvu/linux-dni-startup-failure)

I think the simplest one to use for investigation is the last one in

[2022-03-02 07:18] MrImpossibru commented on #6015
@esimkowitz  Last time I had this issue I refactored my service to use WebJobs SDK instead of Azure Functions. It uses twice less memory and works more predictable in a container in Kubernetes.

[2022-03-02 09:11] SanderDeclerck opened #8189 "Functions disappear from app after arm template deploy"
#### Investigative information

Please provide the following:

- Timestamp: 2022-03-02
- Function App version: 4
- Region: West-Europe

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a:
   - Linux function app in a consumption plan
   - Set `WEBSITE_RUN_FROM_PACKAGE` to 1
2. Deploy the code using Azure Pipelines (zip deploy)
   - This changes the `WEBSITE_RUN_FRO

[2022-03-02 10:31] timmkrause commented on #8114
Any updates about the findings? Considering to go back to .NET 6 with in-process hosting otherwise.

[2022-03-02 17:30] Bpflugrad commented on #1864
This was affecting my Azure Functions V4 apps with .NET 6 with deployment slots.

What I ended up discovering was that one of my swap slot was using the same Storage Account connection string as my production Slot.  Once I changed this the lease problem stopped appearing in Application Insights.

[2022-03-02 17:45] paul-datatech911 commented on #1864
@Bpflugrad - that's good info, thanks!

[2022-03-02 20:29] esimkowitz commented on #6015
Also to clarify, we use Kubernetes to host our Azure Functions so when I say instance/replica of the function app, I am referring to separate pods running the same function app container with the same storage account.

@MasterKolka unfortunately  I don't think WebJobs is an option for us since we use the other triggering mechanisms of Azure Functions pretty heavily.

[2022-03-02 21:12] fabiocav commented on #8059
Closing as resolved by https://github.com/Azure/azure-functions-vs-build-sdk/pull/542

[2022-03-02 21:12] #8059 closed, assigned to kshyju

[2022-03-02 21:13] fabiocav commented on #8055
Moving to sprint 118. @brettsam will reach out to @ejizba to see how/if we can move forward on this.

[2022-03-02 21:16] fabiocav commented on #7873
@brettsam made some progress looking at enhancements for this. Moving to 118 to understand if there's something we can do to improve the current experience.

[2022-03-02 21:21] fabiocav commented on #7860
I think it would make sense to make this change apply to scenarios where we have `enableForwardingHttpRequest` enabled, and that being the case, since this is not publicly documented, we should be able to make the change without a flag.

Thoughts?

[2022-03-02 21:24] fabiocav commented on #5922
PR for this is out and being iterated on. Moving to 118.

[2022-03-02 21:26] fabiocav commented on #7531
Work in progress. Expecting a PR for this in 118

[2022-03-02 21:29] fabiocav commented on #7533
This was missed. Assigning to 118 and we'll have this pushed out ASAP.

[2022-03-02 21:32] fabiocav commented on #7558
@Francisco-Gamino this issue started a broader investigation around reliability and diagnostics for the OOP layer.

As a result, @liliankasem has opened a number of issues and is tracking enhancements that will cover this as well.

To follow the progress of those items, you can use the epic https://github.com/Azure/azure-functions-host/issues/8076

Closing this in favor of the new issues that were

[2022-03-02 21:32] #7558 closed, assigned to liliankasem

[2022-03-02 21:43] fabiocav commented on #8025
We need to continue investigation here.

@satvu has the repros, so our next step should be to identify if there's an issue with the host (meaning, the worker wrote the failure details to stdout/error, and the host did not appropriately log them), or if there's an issue with the worker implementation.

[2022-03-03 00:56] colincmac commented on #8062
@liliankasem I saw a similar issue when scaffolding a lab to debug an issue. Similar scenario, but local debugging only. However, I've previously encountered issues with the newer Identity based storage account connections with Functions in .NET. I may be able to provide a sample internally if it helps.

[2022-03-03 04:00] #8113 closed, assigned to kashimiz

[2022-03-03 07:36] timmkrause commented on #8114
Related: #7452

[2022-03-03 07:58] MrImpossibru commented on #6015
@esimkowitz As I remember the main problem is to give a different "instance name" for each pod (which is required to prevent multiple executions by different instances). With a webjobs sdk this could be solved in some way.
And WebJobs SDK supports all Azure Functions triggers except http (which could be solved by using ASP Controllers). Azure Functions SDK is based on WebJobs SDK.

[2022-03-03 13:45] rjk commented on #2617
The code from @mheskandari works for me to add to `traces` table, but that doesn't include it in `requests` table. This makes sense: logs written from `ILogger` just go to `traces` table.

To add to `customDimensions` within the `requests` table you can do this:

[code]

e.g. as described here in more detail https://www.davepaquette.com/archive/2020/03/07/enhancing-application-insights-request-tel

[2022-03-03 15:01] Sreini commented on #1361
I agree this needs to be adressed immediately. I am deep into a java project with azure functions and am only now finding out core functionality like this is not supported

[2022-03-03 15:53] colincmac commented on #8062
Update with more details. Again, I'm only debugging it locally with Visual Studio.
- My user has `Storage Blob Data Owner` & `Storage Queue Data Contributor` assigned at the storage account resource scope.
- Microsoft.Azure.WebJobs.Extensions.Storage 5.0.0
- Microsoft.NET.Sdk.Functions 4.0.1
- .NET 6.0
`
{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage__accountName": "mystorageacco

[2022-03-03 16:01] #8145 closed, assigned to brettsam

[2022-03-03 16:05] avnet78 commented on #8062
Thank you @colincmac, we're facing the same issue.

[2022-03-03 16:37] colincmac commented on #8062
@avnet78 I may have found a workaround. Needs further testing, but it seems to be working. I created a custom role that combines the Storage Blob Data Owner & Storage Queue Data Contributor.  Then I then added these 2 permissions
![image](https://user-images.githubusercontent.com/99688332/156609360-84d17eef-dab3-4310-b606-41ccc07f7391.png)

JSON for the role looked like this in the end

[code]

As

[2022-03-03 16:41] avnet78 commented on #8062
Thank you @colincmac, please keep me posted on the workaround.

[2022-03-03 23:08] PandaBoy00 opened #8198 "Function App runs fine locally but fails when deployed to Azure"
Hi there,

Following Microsoft Quick Start for Function App with Go (https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-other?tabs=go%2Cwindows)

I was able to successfully run the code locally on my Windows computer.  I continued to follow the steps to deploy the Function App to Azure portal and when try to run the Function App at the /api/HttpExample endpoint.

[2022-03-03 23:54] rohitashwachaks commented on #912
Hi everyone.
Sorry for being MIA.
I joined a masters course and left .NET development.

I remember Microsoft fixed this race condition in their latest package version.
So, I just upgraded my version and it worked.

Bit of a bummer. but I don't remember much else

[2022-03-04 00:14] liliankasem commented on #8062
@colincmac if you do have a repro you can share that would be helpful! From what I'm reading here it sounds like blob requests are failing due to permissions errors, despite the managed identity having the correct storage permissions/scope assigned?

cc: @mattchenderson @balag0 in case they have more info on this

[2022-03-04 00:21] colincmac commented on #8062
That is correct. I can clean it up and push something up tomorrow. Everything is working now with the updated permissions in the custom role, even when published in a Linux consumption plan.

[2022-03-04 03:14] Ved2806 commented on #7895
Hi @klenium Please let us know which logger API or overloads you are trying to use here?

[2022-03-04 03:16] Ved2806 commented on #8180
Hi @brettsam, Could you please help with this?

[2022-03-04 03:20] Ved2806 commented on #8020
Hi @mattchenderson , Could you please help with this?

[2022-03-04 04:38] kshyju commented on #7909
Hi @daigok Thanks for sharing the repro information. This issue is not specific to azure functions. You will experience the same issue if you try your code in an aspnet core web api (net 6) and deploy to azure. Let me check with the team to determine whether this is a platform issue or an issue with the API itself.

cc @pragnagopa @fabiocav

[2022-03-04 07:00] #8124 closed, assigned to liliankasem, v-bbalaiagar

[2022-03-04 09:11] Ved2806 commented on #8146
Hi @j2jensen , Have you resolved this issue yet or is it still there?

[2022-03-04 12:29] jaltin commented on #912
Hi @paulbatum, @fabiocav, @jeffhollan, @mathewc, @lindydonna and anyone else at MS that has engaged in this discussion throughout the year.

I am sorry to include you all but this discussion is over 5 years in the making. Hopefully one of you are the right person to respond?

It is such a pity that it is not possible to handle this easily in Azure functions (especially on consumption plan). Is the

[2022-03-04 19:01] ghost commented on #6983
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-04 19:16] surgupta-msft opened #8199 "Project stein - Host not sending load request after fallback requested from worker"
For worker indexing/ project stein, host is falling back to its own indexing after worker denies. The functions are being indexed correctly by host but load requests are not being sent correctly.

Fix - A minor change is needed to call finish initialization method from RPCFunctionInvocationDispatcher which will send the load requests after host fallback.

[2022-03-05 01:26] avnet78 commented on #8062
@colincmac I tried creating a custom role with the same set of permission you had under actions and dataactions. I initially tested it against a couple of existing BlobTrigger based FunctionApps and it worked.

But I added the same role to another FunctionApp which also uses BlobTrigger but strangely when I copy a data file into the blob it doesn't fire. I am not really sure why it isn't working w

[2022-03-05 01:41] avnet78 commented on #8062
@colincmac Sorry, my bad. I didn't realize that the 3rd Function App I tested wasn't referencing version 5.x of Microsoft.Azure.WebJobs.Extensions.Storage
It works like a charm after I installed the Microsoft.Azure.WebJobs.Extensions.Storage v 5.0 nuget package.

[2022-03-05 04:00] ghost commented on #8159
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-05 21:13] soloham commented on #5098
I've just experienced this issue when using middlewares (.NET 6, isolated), I have got an auditing scope defined in the middleware before the function call where I resolve a (scoped) EF DB context here and would like to call SaveChanges on this DB context at the end of the request pipeline, but it seems this DB context is different to the one that is resolved in the function, so doing save changes

[2022-03-07 14:08] Methuselah96 commented on #6983
Still working on this.

[2022-03-07 14:24] blacelle commented on #8154
Hello. Do you have any feedback on this? Thanks

[2022-03-07 15:16] brettsam commented on #5098
@SoloHam -- can you open an issue in the https://github.com/Azure/azure-functions-dotnet-worker/issues repo? Please include some example code to show us how things are set up in your scenario.

This issue is related to the in-proc DI setup, which is different from that in the isolated worker.

[2022-03-07 15:42] Ved2806 commented on #8189
Hi @SanderDeclerck , You can find the information related to your issue [here](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package). Please let us know if it helps.

[2022-03-07 17:45] krishnasingh1818 opened #8203 "Flood of HTTP related logging since upgrading to host v4"
We are facing similar issue after upgrading to .net 6 functions.

https://github.com/Azure/azure-functions-host/issues/7740

below is my .csproj

`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net6.0</TargetFramework>
    <AzureFunctionsVersion>v4</AzureFunctionsVersion>
    <Version>6.0.1</Version>
    <Nullable>warnings</Nullable>
    <ImplicitUsings>enable</ImplicitUs

[2022-03-07 17:52] soloham commented on #5098
It appears my issue is already answered ([#811](https://github.com/Azure/azure-functions-dotnet-worker/issues/811)) in the appropriate repo. Thanks @brettsam!

[2022-03-07 19:46] SanderDeclerck commented on #8189
Thanks for looking into this @Ved2806.

I'm mainly concerned about 2 things that don't seem to be documented:

**First**: What would be a valid setting for WEBSITE_RUN_FROM_PACKAGE when someone only wants to deploy the infrastructure - and not his app?

- When setting the setting to '1', the function app stops working
- When no specifying the setting, it gets removed, and the function app stops wo

[2022-03-07 23:44] #8199 closed, assigned to surgupta-msft

[2022-03-08 04:00] ghost commented on #7895
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-08 04:04] pragnagopa commented on #7909
cc @pgombar fyi - incase follow up is needed for any platform changes

[2022-03-08 07:00] #8159 closed, assigned to soninaren, Ved2806

[2022-03-08 10:01] ghost commented on #8146
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-08 10:52] vkarampinis commented on #5373
@anthonychu do you have any updates?

[2022-03-08 11:05] v-bbalaiagar commented on #8198
Hi @PandaBoy00 , Thank you for your feedback! I shall repro this issue to check if we are missing something and update you with the findings.

[2022-03-08 12:21] v-bbalaiagar commented on #8203
Hi @krishnasingh1818 , Thank you for your feedback! This issue is relating to an issue which is already being tracked - https://github.com/Azure/azure-functions-dotnet-worker/issues/796 . Please find the space for further updates.

Closing this issue, please feel free to ping in the issue comment.

[2022-03-08 12:21] #8203 closed, assigned to nobody

[2022-03-08 12:36] v-bbalaiagar commented on #8179
Tagging @ahmelsayed / @paulbatum , for more inputs

[2022-03-08 12:36] Ved2806 commented on #8189
Hi @pragnagopa Could you please look into this?

[2022-03-08 12:42] Ved2806 commented on #8178
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-03-08 14:59] pragnagopa commented on #8189
This needs investigation. Tagging @eliaslopezgt @amamounelsayed @kulkarnisonia16  for triage

cc @balag0

[2022-03-08 15:12] klenium commented on #7895
@Ved2806 Neither. I except that if the Function App is connected to an Application Insights, and all settings are set to default, the the Azure Function host will log the exception (as failed function execution) to the AI via its own internal logging system.

[2022-03-08 15:29] anthonychu commented on #5373
The teams are working on new programming models for Python and Node.js. @ejizba @vrdmr @stefanushinardi

[2022-03-08 17:38] ejizba commented on #5373
Here's the issue to track the new Node.js programming model: https://github.com/Azure/azure-functions-nodejs-worker/issues/480

We've made some progress on prototypes, and we'd welcome any feedback y'all have

[2022-03-08 20:29] ejizba opened #8210 "JavaScript project is not auto-detected without "FUNCTIONS_WORKER_RUNTIME""
#### Repro steps

1. Create a hello world JavaScript project with a single http trigger
1. Run the host from the v3.5.1 tag of this repo pointing to that project
2. Hit the trigger, like "http://localhost:5000/api/HttpTrigger1?name=Test"

NOTE: Do _not_ set "FUNCTIONS_WORKER_RUNTIME" anywhere (it won't get set by default if you're just running the host. If you use core tools, it'll use values from

[2022-03-08 20:34] liliankasem commented on #8210
@surgupta-msft @soninaren - this looks like it was due to the worker indexing changes you worked on, can you take a look?

[2022-03-08 21:43] liliankasem commented on #8210
Backport to v3: https://github.com/Azure/azure-functions-host/pull/8212

[2022-03-08 22:23] hossam-nasr opened #8213 "Auto-Detect "index.cjs" files as primary for node functions"
#### What problem would the feature you're requesting solve? Please describe.

This issue is implemented in #8205

In the JavaScript world, there are two ways to import/export modules: CommonJS (default for node) and ES Modules (default for JavaScript).

The default for Azure Functions is to support exported functions in the CommonJS format, as follows:

[code]

We also now support ES Modules in p

[2022-03-08 22:28] ghost commented on #5090
This just tripped me up, when trying to call an Azure Function endpoint locally from a React App.

An official solution here would be great i.e. a `host.json` setting.

[2022-03-08 22:51] hossam-nasr commented on #8213
Closing this issue, addressed here: #8205

[2022-03-08 22:51] #8213 closed, assigned to hossam-nasr

[2022-03-08 23:22] jkdmyrs commented on #5246
@balag0 this has been open since 2019 with no suggested work arounds. @paxos gave an example of which there seems to be no work around. Will this ever be fixed? Please advise.

[2022-03-09 00:14] pguidoPokerAtlas commented on #7909
Having the same issue on Azure App Service when using "America/New_York" for example.  When querying the server OS, I get the following:
      "operatingSystemDescription": "Microsoft Windows 10.0.14393",
      "frameworkDescription": ".NET 6.0.1",
Seems like it should support both Windows and IANA timezone id's based on these versions.

[2022-03-09 08:40] FP-IBM commented on #912
Still no news about this subject?

[2022-03-09 10:11] AleksandarCetojevic commented on #8168
In our case the problem was that the new version 4 of the Azure runtime makes a request to functionscdn.azureedge.net:443, which was not the case in prior versions. By allowing the function to make outbound calls over the firewall to this host the functions work again.

[2022-03-09 10:14] littlesvensson commented on #8168
Yes, it was in the end the firewall issue. Thanks a lot for your input

[2022-03-09 10:14] #8168 closed, assigned to satvu

[2022-03-09 10:27] ma185360 opened #8217 "Python function app: Attribute error context object has no attribute retry_context"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 2022

[2022-03-09 10:33] ma185360 commented on #8217
@jeffhollan Pinned you here as I see you one of the contributors in document.

[2022-03-09 17:26] davidchrystal opened #8218 "Diagnose and solve problems - critical availability risk alert"
#### Is your question related to a specific version? If so, please specify:
Function runtime version 3. dotnet core version 5.0.406

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#.

#### Question

We are getting a critical Availability risk alert when using the 'Diagnose and solve problems' feature to diagnose a function app.

The function app uses managed iden

[2022-03-09 21:06] stefanushinardi opened #8220 "[Visual Studio Feed] Update Visual Studio Feed to reflect the .NET support on VS"
<img width="531" alt="image" src="https://user-images.githubusercontent.com/5436734/157535885-6d62f6ac-6947-4284-84d3-60228d4d37d5.png">

To make string update for these strings:
* LTS -> Long term support. Remove from 3.1 and add it to 7.0

* 3 -> 3.1

* 5 -> 5.0

* 6 -> 6.0

[2022-03-09 21:11] stefanushinardi opened #8221 "Remote Debugging for Isolated mode"
The goal is to enable VS to supprto remote debugging for isolated apps

cc: @fabiocav @soninaren

[2022-03-09 21:27] fabiocav commented on #6287
Duplicate of #2152

[2022-03-09 21:27] #6287 closed, assigned to nobody

[2022-03-09 21:28] fabiocav commented on #7784
Duplicate of #2152

[2022-03-09 21:28] #7784 closed, assigned to nobody

[2022-03-09 21:28] fabiocav commented on #4027
Duplicate of #2152

[2022-03-09 21:28] #4027 closed

[2022-03-09 21:38] fabiocav commented on #2308
@pragnagopa I think this makes sense. We were wondering if we have evidence of issues that would be directly impacted by this work.

[2022-03-09 21:40] fabiocav commented on #6704
@pragnagopa could you share more details about:

- Issues this would help address (any evidence of crashes OOM exceptions from creating additional worker processes?)
- Details on what that check would validate before launching the process

[2022-03-09 21:43] fabiocav commented on #5806
@pragnagopa this doesn't sound like the right approach as, among other things, would not account for binding time (e.g. downloading a large payload).

Will flag this as "needs feedback", but it would be good to discuss this item if you feel it is needed.

[2022-03-09 21:48] fabiocav commented on #4076
Closing this as @mgravell is working on a number of gRPC/worker communication improvements.

[2022-03-09 21:48] #4076 closed

[2022-03-09 21:52] liliankasem commented on #2308
Dup of #3296

[2022-03-09 21:53] fabiocav commented on #7462
@pragnagopa I think we need to have a discussion on this to better understand the desired behavior. Can we block some time to walk through this proposal?

[2022-03-09 21:57] fabiocav commented on #6821
Duplicate of #4852

[2022-03-09 21:57] #6821 closed, assigned to nobody

[2022-03-09 21:58] fabiocav commented on #8165
@liliankasem will be following up with additional context

[2022-03-09 22:00] pragnagopa commented on #7462
Reached out offline to @liliankasem - please setup sometime with me to go through issues that need my input. Thanks!

[2022-03-09 22:01] fabiocav commented on #8164
Moving this to the backlog for discussion, including potential issues with some worker's ability to implement this.

[2022-03-10 01:09] esimkowitz commented on #6015
@lpapudippu Any updates on the investigation here?

[2022-03-10 01:28] ejizba opened #8222 "Language worker "User" logs are ignored after execution is complete"
Back when @yojagad added a `LogCategory` for language workers to pass either `System` or `User` in [this PR](https://github.com/Azure/azure-functions-nodejs-worker/pull/239) to the node worker, @pragnagopa said

However, some of the logs in question are like this:

Which actually happens _after_ execution completes. As of today, those logs are silently ignored by the host [here](https://github.com

[2022-03-10 03:21] balag0 commented on #5246
Thanks for the ping.. I have opened an internal WI for prioritization. Will update here once we have a plan.

In the meantime, one possible (hacky) workaround, set the frequency greater than required timer frequency. Write code in the function code to check time and either do work or silently exit based on the current time in required timezone.

Ex: To run every 3 hours between 9am-6pm every work

[2022-03-10 06:30] lpapudippu commented on #6015
@v-shenoy Please look in to it. cc: @raorugan

[2022-03-10 07:12] v-shenoy commented on #6015
Taking a look into this.

[2022-03-10 14:34] kelps opened #8223 ".NET6 isolated ServiceBusTrigger function failing with "Container is disposed and should not be used: Container is disposed""
We are running a few .NET6 Azure Function apps in isolated mode and I noticed that from time to time some Service Bus messages go to DLQ without any apparent reason or related logs. The messages simply fail and don't even show in the execution list of the function as failed.

Digging into the Azure Insight logs I found the message "Container is disposed and should not be used: Container is dispose

[2022-03-10 18:59] #8110 closed, assigned to surgupta-msft

[2022-03-10 19:57] pragnagopa commented on #8222
User logs - Cx have access to these logs via App Insights - are super set for Function Execution logs + Host / Extension logs - Any logs coming from Host are considered as system logs and can be logged to Kusto.  User logs cannot be logged to Kusto as they are considered PII

Logs between invocation request and invocation complete should be considered user logs- logs after execution completes are

[2022-03-10 20:26] kzu commented on #4689
Just add this in a code file to your project, and it will Just Work ™️ after adding the relevant
usings:

[code]

from https://www.cazzulino.com/azure-functions-logging.html

[2022-03-10 20:30] ejizba commented on #8222
If the language worker is crafting the message itself, can't we consider it system logs regardless of when it happens? There's no risk of PII as long as it's a simple hard-coded string, which is why I assume it's okay for the host to write system logs during this time. Having those worker logs in our telemetry would be very helpful for supportability of language workers.

[2022-03-10 21:28] kelps commented on #7772
@liliankasem I have an Azure Function create last month (Feb-2022) and drain mode is disabled (I just confirmed using the status API. What can I do?

this is the response I got by querying the drain status API
![image](https://user-images.githubusercontent.com/702100/157758166-26f07269-ffdf-410a-8b8a-8516e79f16f7.png)

And how long until the app is migrated? I already noticed lost messages from Se

[2022-03-11 01:32] kshyju commented on #7909
As per [this comment](https://github.com/dotnet/runtime/issues/60175#issuecomment-974295612), the OS build should be 1903 or later for the ICU.dll (which the API relies on) to be present in the OS.

A workaround is suggested [here](https://github.com/dotnet/runtime/issues/60175#issuecomment-939352598). When you use this workaround, the visual studio publish artifact will include the ICU dll from y

[2022-03-11 09:02] v-bbalaiagar commented on #8167
Hi @pragnagopa / @fabiocav , Could you please look into this issue.

[2022-03-11 09:03] v-shenoy commented on #6015
This problem has had multiple issues created for it. Here's [one ](https://github.com/Azure/azure-functions-host/issues/7128) by @TsuyoshiUshio. The work around he mentions (and I tested that it works) is to manually set the `AzureFunctionsWebHost__hostid` environment variable on the containers.

https://github.com/Azure/azure-functions-host/blob/d571d25276c72778339c78d48c14c3c680d52b82/src/WebJob

[2022-03-11 11:50] ts-62020 commented on #1663
Any updates?

[2022-03-11 13:46] chrish434 opened #8225 "Private Link NSG not supported for AzureWebJobsStorage used by Timer Trigger etc"
#### Is your question related to a specific version? If so, please specify:
Functions V4, plus Private Link NSG (Preview)

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#, windows and linux

#### Question
Hi, was testing using the new Private Link NSG support which is in preview, doesn't seem to want to work with the storage account set in the AzureWebJobsStorag

[2022-03-11 16:01] ghost commented on #7878
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-11 16:01] ghost commented on #6983
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-11 16:16] srmagura commented on #7878
@Ved2806 Why did you mark this as "Needs: Author Feedback"? What feedback do you need from me?

[2022-03-11 17:44] divyagandhisethi commented on #6015
cc @pragnagopa .

@v-shenoy  The host id needs to be something unique per pod instance. For example - you can use the pod name or pod id. In other Linux skus, we use the container name.

[2022-03-11 17:46] divyagandhisethi commented on #6015
Also, just checking environment.IsContainer() won't be sufficient. You need to explicitly check if we are in a managed kubernetes environment. There are helper functions already implemented for that.

[2022-03-11 17:53] RealGoodAnthony opened #8226 "Building version 4.0.3971 no longer works without patch"
When attempting to build version 4.0.3971 with `build.sh`, an error occurs:

[code]

It appears that the culprit is `Microsoft.Azure.WebJobs.Script.WebHost`, version `4.0.1`, which has somehow been updated to use `Microsoft.ApplicationInsights` version `2.20.0` instead of `2.18.0`. The major concern here is that this used to not be the case, and version `4.0.1` may have been overriden with a force

[2022-03-11 17:53] RealGoodAnthony opened #8252 "Building version 4.0.3971 no longer works without patch"
When attempting to build version 4.0.3971 with `build.sh`, an error occurs:

[code]

It appears that the culprit is `Microsoft.Azure.WebJobs.Script.WebHost`, version `4.0.1`, which has somehow been updated to use `Microsoft.ApplicationInsights` version `2.20.0` instead of `2.18.0`. The major concern here is that this used to not be the case, and version `4.0.1` may have been overriden with a force

[2022-03-11 18:04] RealGoodAnthony commented on #8226
It just occurred to me that I may have posted this in the wrong area (although it also applies to this repository!)

Cross-posting to the appropriate repository: https://github.com/Azure/azure-functions-core-tools/issues/2980

[2022-03-11 18:04] RealGoodAnthony commented on #8252
It just occurred to me that I may have posted this in the wrong area (although it also applies to this repository!)

Cross-posting to the appropriate repository: https://github.com/Azure/azure-functions-core-tools/issues/2980

[2022-03-11 18:32] flatproject opened #8227 "Azure timer trigger runs more times than what the schedule dictates"
#### Is your question related to a specific version? If so, please specify:
`{
  "generatedBy": "Microsoft.NET.Sdk.Functions.Generator-4.1.0",
  "configurationSource": "attributes",
  "bindings": [
    {
      "type": "timerTrigger",
      "schedule": "0 */25 * * * *",
      "useMonitor": true,
      "runOnStartup": false,
      "name": "myTimer"
    }
  ],
  "disabled": false,
  "scriptFile": "..

[2022-03-11 20:34] liliankasem commented on #7772
Drain mode "disabled" in the context of the drain/[status](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Models/DrainModeState.cs) API isn't about if it is enabled or disabled for your application, but rather if has been "invoked" or not. So here if it's disabled, it means drain mode is not currently "active". The terminology is confusing. We might want to start

[2022-03-11 20:40] liliankasem commented on #8222
If the error is coming from the worker itself, I would consider it a system log, especially if it doesn't include the user's actual function logs (which is the PII part). i.e. like Eric suggested, the worker is seeing some sort of error and is crafting a log for it

[2022-03-11 23:44] divyagandhisethi opened #8228 "Update functions host to emit per invocation details to metering service"
We have been receiving CRIs which complain that the FunctionExecutionCount unit shown in portal for Linux ElasticPremium apps is not accurate. This is because today the platform publishes an aggregated count for the FunctionExecutionCount metric. As a repair item for these CRIs, we'll start publishing accurate execution counts from the host.

The change needs to go here - https://github.com/Azure/

[2022-03-12 03:13] v-shenoy commented on #6015
It doesn't have to be managed kubernetes, right? The issue still happens when deploying to a kubernetes cluster directly, using `func kubernetes deploy`

[2022-03-12 03:22] v-shenoy commented on #6015
@divyagandhisethi  It already uses pod name attached, with a hash.

![image](https://user-images.githubusercontent.com/38671299/158001722-3b248f62-67e9-4d88-ac6c-47791ef16d51.png)
![image](https://user-images.githubusercontent.com/38671299/158001744-15cba7a9-729f-4222-9bea-e98558d0b136.png)

Also, it shouldn't be unique per pod instance, right? There could be multiple pods running the same functio

[2022-03-12 15:25] v-oleg opened #8230 "Custom metrics saved as log based metrics?"
netcoreapp3.1
Azure function, app service P1V3
Microsoft.ApplicationInsights nuget package version is 2.20.0
host.json
[code]

I'm trying to create custom metrics with custom namespaces, but metrics saved under the log-based metrics namespace (see screenshot1). And sometimes custom metrics saved under custom namespace (Screenshot2)

The line to send metrics:
`telemetryClient.GetMetric(new MetricId

[2022-03-12 15:39] JatinSanghvi commented on #6015
I agree with Vighnesh. The issue is caused because the function apps running inside the container are using machine name as host ID, which is unique for each pod. We are not looking for unique ID per pod here, but an ID that's common across all pod instances for the same function app image, but distinct from the ID used by pods belonging to a different function app image.

I am inclined to use has

[2022-03-13 04:38] j2jensen commented on #8146
Sorry I didn't respond sooner. @Ved2806 no, this issue has not been resolved. There is still no documentation indicating whether .NET 6 is supported in csx files, and I have not found any workaround for the issues mentioned in the StackOverflow post I linked.

[2022-03-13 22:00] ghost commented on #6704
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-13 22:00] ghost commented on #5806
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-14 03:37] Methuselah96 commented on #6983
Still working on this.

[2022-03-14 09:28] v-bbalaiagar commented on #8225
Hi @chrish434 ,  Thank you for your feedback! Here is a blog post which addresses similar scenario - https://techcommunity.microsoft.com/t5/apps-on-azure-blog/connect-to-private-endpoints-with-azure-functions/ba-p/1426615

Please check and let us know if this helps.

[2022-03-14 09:31] v-bbalaiagar commented on #8252
Hi @pragnagopa , Could you please look into this issue

[2022-03-14 09:40] v-bbalaiagar commented on #8227
Hi @flatproject , Thank you for your feedback! Could you please give us the function invocation Id and region to get the logs and check the cause.

[2022-03-14 13:25] chull434 commented on #8225
Hi, yes private link works, the issue is when I try and use the new NSG support for private link on the storage account set in the AzureWebJobsStorage variable

https://azure.microsoft.com/en-us/updates/public-preview-of-private-link-network-security-group-support/
https://docs.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy

With `"privateEndpointNetworkPolicies": "

[2022-03-14 14:31] flatproject commented on #8227
Hi @v-bbalaiagar and thanks for getting back to me.

Region: UK WEST - Consumption Plan

I'm not really sure if I'm giving you the right invocation id as there are quite a few different according to Application Insights:
cd11bd0b-65a9-4c31-b305-3abb4402ab41
fa24fe16-c5d2-472f-8d06-b7e5a8ea6793
9321a7b0-2ef2-4a4d-9b1a-21db20a5c6f4
11123049-878b-4e44-8bb1-33de0a84ad86
d7e79121-5b12-4c69-a6bf-0e2d43f

[2022-03-14 16:14] v-bbalaiagar commented on #8154
Hi @blacelle , We have added above issue to projects as the team require further investigation.

[2022-03-14 16:36] pragnagopa commented on #8226
Thanks for flagging this - will transfer to docker repo to triage

cc @TsuyoshiUshio @CooperLink for next steps

[2022-03-14 16:36] pragnagopa commented on #8252
Thanks for flagging this - will transfer to docker repo to triage

cc @TsuyoshiUshio @CooperLink for next steps

[2022-03-14 16:37] pragnagopa commented on #8252
@TsuyoshiUshio  - can you take a  look at this?

cc @CooperLink

[2022-03-14 16:44] RealGoodAnthony commented on #8252
@pragnagopa Thanks! By the way, this is not necessarily related to docker. You can reproduce the same exact issue by attempting to build on bare metal. I just provided a Dockerfile to simplify reproducing the issue.

[2022-03-14 16:51] paulbatum commented on #8179
My guess is that this would be a fairly dangerous change due to a large user base that is used to storing local development secrets in `local.settings.json`. Support for IDE managed secrets (such as the VS feature you mentioned) is relatively new and is not universally present across different development environments.

There is a straightforward workaround/fix for teams that have well established

[2022-03-14 18:03] pragnagopa commented on #8228
Waiting for ANT 98 deployment to complete before picking work in the Host

[2022-03-14 22:50] AnatoliB commented on #6704
@fabiocav We may not be getting enough signals on these crashes today because:
- By default, this feature is turned off: https://github.com/Azure/azure-functions-host/issues/7499
- By default, FUNCTIONS_WORKER_PROCESS_COUNT is 1

As a result, only users who decided to experiment with FUNCTIONS_WORKER_PROCESS_COUNT will run into these crashes. These users already expect potential troubles from incr

[2022-03-14 23:22] pragnagopa commented on #6704
@fabiocav / @liliankasem  - removed "Needs:Author Feedback" label for this issue. Thanks @AnatoliB  for adding details.

[2022-03-15 04:50] timleyden commented on #7092
+1 ran into this today. Ideally we could have a service tag and a specific range used by function apps. Otherwise incorporate in the App Service service tag or eve update possiblieIPs to be usefull. As it is the documentation is misleading and the idea of filtering to an entire region is not that helpful.

[2022-03-15 12:07] v-bbalaiagar commented on #8176
Hi @cosminstirbu , Opened a new document issue for further validation - https://github.com/MicrosoftDocs/azure-docs/issues/89658 . Closing this issue here

[2022-03-15 12:07] #8176 closed, assigned to soninaren, v-bbalaiagar

[2022-03-15 12:12] v-bbalaiagar commented on #8225
Hi @chrish434 , Thank you for the update. We will check for the possibilities internally and update you with the findings.

[2022-03-15 12:32] ManeeshRajamMS opened #8232 ".Net core runtime version 6.0.3 on azure functions"
We are using dotnet core to develop azure functions.
We are trying to upgrade the .NET Core runtime version on Azure functions from 6.0.0 to 6.0.3 (which includes a security patch)
As of now we have configured our Function Apps to below:

Function App settings on azure portal:
•	FUNCTIONS_EXTENSION_VERSION = ~4
•	FUNCTIONS_WORKER_RUNTIME = dotnet

csproj settings on C#:
<TargetFramework>net6.0</Ta

[2022-03-15 12:38] v-bbalaiagar commented on #8223
Tagging @brettsam / @fabiocav , for more inputs

[2022-03-15 12:48] Ved2806 commented on #8230
Thank you for the feedback, We will discuss this internally and let you know about the findings.

[2022-03-15 12:54] Ved2806 commented on #8218
Thank you for the feedback, We will discuss this internally and let you know about the findings.

[2022-03-15 13:10] v-bbalaiagar commented on #8232
Hi @ManeeshRajamMS , Thank you for your feedback! Here is the document how you can set the runtime version - https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version?tabs=portal

Please check and let us know if this helps.

[2022-03-15 13:16] ManeeshRajamMS commented on #8232
Thanks @v-bbalaiagar , this document does not specify the exact .NETCore runtime version that would be used while running the azure functions.
we have 6.0.0 / 6.0.1 / 6.0.2 / 6.0.3 .NETCore runtime versions.
Which one would be used for C# / dotnet Azure function.

How do we ensure that our azure function uses 6.0.3 .NET Core runtime version and not the lower versions.
Looking for more insights int

[2022-03-15 14:06] Postlagerkarte commented on #8114
This is a blocker for many. @v-bbalaiagar can you throw us an update please?

[2022-03-15 14:39] nmketkar30 opened #8233 "Azure Function - Python - Linux - Did not find any initialized language workers"
I am getting an exception stating "System.InvalidOperationException: Did not find any initialized language workers" for Azure functions written in Python 3.8 deployed on Linux OS. I am trying to run these functions on a Premium plan. The function fail to start only on non Dynamic plans. The functions are working fine with Dynamic plan setting.

#### Investigative information

Please provide the fo

[2022-03-15 14:45] v-bbalaiagar commented on #8114
Hi @brettsam / @liliankasem , Could you please look into this issue

[2022-03-15 15:56] Hjortsberg opened #8235 "Azure Function Host return internal server error on Swap operation."
#### Check for a solution in the Azure portal
`Diagnose and solve problems` gave no insights into this problem.

Linux Consumption Azure function with deployment slot.
I want to swap my production slot and the staging slot, I've tried the Azure Portal UI which throws a rather verbose error message with a 500 error code in it.
Then tried to activate auto-swap through Terraform and get a different e

[2022-03-15 16:32] Hjortsberg commented on #8235
I've also verified that if is not only the portal UI.
Exactly the same error appears if i run the following AZ CLI command which uses a newer api version under the hood:
`az functionapp deployment slot swap --debug --verbose -g func-resources -n func-name --slot func-slot \
    --target-slot production
`

[2022-03-15 17:13] nzthiago commented on #7772
Apologies for not replying earlier. If your Windows Consumption apps were created before May 2021, you can raise a support call to check or I'd be happy to follow up with you as well to help double check your apps.

[2022-03-15 19:01] ghost commented on #7878
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-15 19:31] srmagura commented on #7878
Commenting to keep issue open

[2022-03-15 22:38] esimkowitz commented on #6015
I have incorporated @v-shenoy's workaround of setting the hostId environment variable and have confirmed that it unblocks my scenario (in our case we deploy one function per namespace and the namespace names are consistent across clusters). Looking forward to your permanent solution!

[2022-03-16 11:57] JatinSanghvi commented on #6015
A permanent solution that requires change in host ID generation logic, will also be a change with potential for trigger misses. There will be users who are having just a single container up and running. If we change the host ID generation logic and user updates their function host version, their next app revision will start from a clean state instead of continuing from the previous state.

[2022-03-16 12:10] JatinSanghvi commented on #6015
On second thought, every new container should already be getting assigned a separate host name which does not get maintained between deployments. So we will not be breaking an existing working functionality in that sense.

[2022-03-16 12:32] kelps commented on #7772
I'm interest in this as well. Please let me know how we could check our apps. I'm starting to put them in production now and I already noticed this happening 3 times this month. It isn't much, but since we are using .NET6 in isolated mode, I don't have full control over the Service Bus message, so it goes to DLQ and could cause impact on our billing services.

[2022-03-16 17:56] liliankasem commented on #6704
Is it worth closing this in favour of #7499, or is 7499 acting as an epic we can link issues to?

[2022-03-16 19:05] JacksReacher commented on #5841
What if I want to have different settings for different/each function?

[2022-03-16 20:51] esimkowitz commented on #6015
Maybe it would be useful to just document the host ID behavior publicly and let service devs pick a value they know will be consistent for their applications?

[2022-03-16 21:05] nzthiago commented on #7772
Drain mode gets involved in scale in operations to ensure your currently executing Functions are allowed to finish executing before the workers are removed. Although your apps would be benefitting from drain mode, given they have been recently created, from what you are describing where messages don't even get processed I'd recommend raising a support ticket as it might not be related to Drain Mod

[2022-03-17 01:00] #5806 closed, assigned to nobody

[2022-03-17 02:44] JatinSanghvi commented on #6015
Hi @esimkowitz, I am personally leaning towards just having a proper documentation in place. I did not find an environment variable inside running function app container that meets the requirement to be used as host ID. We thought of using 'container image path' but I don't think that information is available to be inserted automatically while composing Dockerfile, building the docker image or run

[2022-03-17 09:13] andersson-dizparc opened #8241 "Consumption Plan - Azure Event Hub Trigger: JobHost stops after inactivity and does not wake back up when new messages arrive"
This is pretty much a duplicate of https://github.com/Azure/azure-functions-host/issues/7762

We are using the same setup but with managed identity and event hubs, it works fine after deployment or once reactivated through browsing the portal but after a while when it shuts down due to inactivity it will not restart as it should.

Looking through the logs we can see the following:
[code]

We can a

[2022-03-17 09:38] andersson-dizparc commented on #8241
Perhaps the part about the null or empty connection string is because it is searching in the environment first before looking at MSI, I can try to exclude the environment check and see if that message disappears.

[2022-03-17 10:39] nmketkar30 commented on #8233
I was able to solve this issue by removing ```asyncio``` from the requirements.txt file. Surprisingly the same works with the Dynamic plan however not with the Standard/Premium plan. The behaviour is different on different plans even though the Function Runtime Version is the same i.e. 3.4.2.0

[2022-03-17 10:39] #8233 closed, assigned to madelinegordon

[2022-03-17 10:42] andersson-dizparc commented on #8241
It might be worth mentioning that we are running in isolated mode with two functions, they have the same kind of trigger but there are no logs about null or empty connection strings for the other function.

[2022-03-17 15:57] YairoR opened #8242 "Azure Function V4 is not working properly with Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel nuget version 2.18+"
Hi,

I've created an Azure Function V4 project and added a reference to the Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel nuget version 2.18.

The code I've used is very simple:
[code]
The code is running locally (using the emulator) as expected, but when I've published the function to Azure I saw that the function is failing with the following exception:
_Could not load type 'Micro

[2022-03-17 21:55] jonmeyerson commented on #5098
I ran into a similar issue in 3.1, I had a ScopedServiceProvider and when HttpClientFactory.CreateClient was called inside it, it caused the next time I resolved a interface some of the instances to be lost. After looking at the source code for I did get it to work setting [SupressHandlerScope](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.http.httpclientfactoryoptions.suppressh

[2022-03-18 07:36] andyhammar opened #8244 "Flood of FunctionIndexingException after Azure did 'Update website extension'"
Hi

All of a sudden we got a flood of exception regarding all our functions in a function app.
We had not done any changes, but infrastructure had. (Azure Application Change Service)
Restart didn't help, not redeployment.
What to do?
Thanks!

Looks like four "update website extension" has happened:
![image](https://user-images.githubusercontent.com/1713268/158956374-7af2b5b3-6be1-4921-93e1-0f9c57f

[2022-03-18 09:43] timosnel commented on #8244
This is occurring to us too. Rolling back to runtime version 4.1.3.17473 fixed our problems.

There seems to be two issues for us:

- The error indexing method you described
- Missing method exception when validating JWT tokens [(seems to be this issue)](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1792)

These problems started happening to us around

[2022-03-18 12:55] marnilss commented on #8244
We (actually simon.wendel@decerno.se 💪) noticed this with Docker-image based functions as well, in mcr.microsoft.com/azure-functions/dotnet:4.2.1
Reverted to mcr.microsoft.com/azure-functions/dotnet:4.1.3, and exceptions are gone.

[2022-03-18 16:00] ghost commented on #8227
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-18 16:01] ghost commented on #7909
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-18 16:07] marcin-burak commented on #8244
Hey guys, just a heads up for those of you who are running Azure Functions on a consumption plan.

We're using .NET 6 v4 Azure Functions as our serverless APIs with `Microsoft.Identity.Web` v1.12 (can't use higher versions due to [known issue mentioned here](https://github.com/AzureAD/microsoft-identity-web/issues/1548)) in order to validate our tokens and call other downstream APIs.

Woke up toda

[2022-03-18 16:31] flatproject commented on #8227
Not sure why it has been marked as stale. @v-bbalaiagar  did you have a chance to look at my comment above?

[2022-03-18 17:11] bbieniek commented on #8244
Guys, this is priority zero.

[2022-03-18 18:17] jamesxv7 commented on #5854
I would love for this to become a reality. If it is not possible, it would be very good to understand the reason for this hard limit and possible solutions to deal with it other than depending on another API or another service.

[2022-03-18 19:00] ghost commented on #8179
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-18 19:03] mattchenderson opened #8245 ".NET Standard 2.0 worker requirements"
Related to [recent work](https://github.com/Azure/azure-functions-dotnet-worker/pull/799) on the worker repo, this epic is to track a collection of investments necessary to support that worker from the rest of the product.

(child items listed below to be replaced with public work item links as those are generated, where appropriate)

- Validation with metadata generator
- List a preview version o

[2022-03-18 23:48] fabiocav commented on #8244
This issue was resolved earlier. An app restart might be required, but changing setting should not be needed.

[2022-03-19 00:26] TsuyoshiUshio opened #8248 "Error indexing method ‘functionName’ Method overloads are not supported"
Starting 3/4/2022 - The latest Functions Host release 4.2.1.17812 introduced a defect for a subset of .NET in-proc Function Apps (for apps that more than one function in a class) affecting their Function executions.  The error that would be seen is:
`Microsoft.Azure.WebJobs.Host.Indexers.FunctionIndexingException : Error indexing method`.  This issue can be mitigated right now by pinning  back to

[2022-03-19 01:18] marcin-burak commented on #8244
In my consumption plan case it seems to be fixed. I switched back to `~4` and restarted my Azure Function and all is working well as it was earlier. Thank you.

[2022-03-19 13:00] ghost commented on #8225
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-19 16:00] ghost commented on #8232
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-19 21:28] agravity-philipp commented on #3907
Since this is still open I am curious if this includes the Connection parameter of BlobTrigger?

Because I receive:
` Microsoft.Azure.WebJobs.Host: Error indexing method 'FunctionBlob'. System.Private.CoreLib: Exception has been thrown by the target of an invocation. Azure.Storage.Blobs: No valid combination of account information found.`
on startup.

My local.settings.json on my local dev machine

[2022-03-20 03:23] AaronViviano commented on #3153
A fun trick I learned today, you can manage this order alphabetically via the names of functions. Priority is by ascending alphabetical order, at least in my very limited testing.

__Original:__
[code]

__Put a function first:__
[code]

__Put a function last:__
[code]

Note that extended ascii is not supported in function names. So no Ω_functions as humorous as that would be. The regex for functio

[2022-03-20 11:38] mlowijs commented on #8241
This problem affects us too, regardless of whether it is a Windows or Linux Consumption plan Function app, however we are not in isolated mode.
The function triggers fine for a while after deployment (or visiting the resource in the portal), but after a while it stops working.

We use a user-assigned managed identity with the correct application settings set (__fullyQualifiedNamespace, __clientId

[2022-03-20 13:31] hezite commented on #7267
are there any updates on the issue?

[2022-03-20 18:45] hezite commented on #8116
doesn't work for .net 6.0 core either:(

[2022-03-20 22:29] b-twis opened #8249 "Rollback of function runtime 4.2.1 in Azure?"
Hi All,

It appears that on Friday all our Function App Runtimes were upgraded to v4.2.1.17812 which caused Library compatibility issues on every one of our functions in every environment,
Specifically with the upgrade of Microsoft.IdentityModel.Tokens to v6.15.1 found in commit https://github.com/Azure/azure-functions-host/commit/d02fe0862445d0662ec68695c062555bbc1e0864

We mitigated this by pinn

[2022-03-21 05:28] ManeeshRajamMS commented on #8232
Thanks @v-bbalaiagar , this document does not specify the exact .NETCore runtime version that would be used while running the azure functions.
we have 6.0.0 / 6.0.1 / 6.0.2 / 6.0.3 .NETCore runtime versions.
Which one would be used for C# / dotnet Azure function.

How do we ensure that our azure function uses 6.0.3 .NET Core runtime version and not the lower versions.
Looking for more insights int

[2022-03-21 05:29] v-shenoy commented on #6015
@divyagandhisethi

[2022-03-21 05:39] andyhammar commented on #8244
Here too, the ~4 version seems to have been rolled back to 4.1.3.17473 so functions on ~4 are functional as normal. Thanks @fabiocav !

[2022-03-21 09:27] v-bbalaiagar commented on #8227
Hi @flatproject , Apologies for the delayed response, we will check the logs and update you with the findings.

[2022-03-21 13:13] v-bbalaiagar commented on #8249
Hi @pragnagopa , Could you please look into this issue.

[2022-03-21 13:32] Ved2806 commented on #8244
Hi @andyhammar, please let us know is this issue resolved?

[2022-03-21 13:41] marnilss commented on #8244
Docker image mcr.microsoft.com/azure-functions/dotnet:4 tag still points to 4.2.1 version - so no solution yet on that one.

[2022-03-21 14:19] andersson-dizparc commented on #8241
@mlowijs is the full connection string hard coded in the attribute or are you using a variable? Pondering about whether we might be able to use a variable with the full connection string for different environments instead of managed identity. This is a bit more tricky with hard coded connection strings though...

[2022-03-21 14:25] brettsam opened #8250 "ExtensionsMetadataGenerator: Support excluding assemblies from extension probing"
Had an internal request to support excluding specific assemblies from our extension probing logic. The scenario was that they were pulling an assembly from another project into a new project, but didn't want the `FunctionsStartup` to run from the dependency.

The workaround is fairly easy -- split out the logic into a separate assembly and reference that -- but it would be nice to have the ability

[2022-03-21 14:27] mlowijs commented on #8241
@andersson-dizparc I set the connection string as an application setting and then reference it in my trigger, which works as expected, but obviously I would like to use managed identity.

Trigger:

`public static async Task RunAsync(
        [EventHubTrigger("hub-name", Connection = "EventHub")] EventData eventData,
        [EventHub("other-hub-name", Connection = "EventHub")] EventHubProducerClie

[2022-03-21 15:15] j2jensen commented on #8146
@Ved2806 is there any way to get this re-opened, or would I need to create a new issue to report that this has not been addressed?

[2022-03-21 15:17] Ved2806 commented on #8235
Hi @pragnagopa Could you please direct us to the right person to investigate the issue further?

[2022-03-21 15:21] v-bbalaiagar commented on #8225
Hi @mattchenderson , Could you please look into this issue

[2022-03-21 15:21] v-bbalaiagar commented on #8157
Tagging @brettsam , for more inputs

[2022-03-21 15:33] pragnagopa commented on #8249
Assigning to @fabiocav and @brettsam for follow up.

Yes, as of now we have rolled back Functions Runtime 4.2.1 due to https://github.com/Azure/azure-functions-host/issues/8248

Please wait for confirmation on this issue before you unpin to ensure newer roll out does not cause downtime.

Also, follow - https://github.com/Azure/app-service-announcements/issues/357 for release updates

[2022-03-21 16:14] sbest-gcm commented on #7881
Any update on the permanent fix?

[2022-03-21 17:35] fabiocav commented on #8249
@b-twis can you share more details on the issue you found with the dependency update? This was a minor update on a unified dependency (6.10 - 6.15), so it would be good do understand the problem you found with that.

The goal is for that change to land in a future update, so it would be good to understand how this minor bump has impacted you.

Thanks!

[2022-03-21 21:36] kshyju commented on #8059
V3 version of the package with this fix is now available in nuget gallery.

https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.1.0

[2022-03-21 22:00] #8179 closed, assigned to kashimiz, v-bbalaiagar

[2022-03-21 22:00] #7909 closed, assigned to kshyju, kashimiz, Ved2806

[2022-03-21 22:12] liliankasem commented on #5806
The current behavior accurately reports the func execution time inclusive of the time spent in the invocation pipeline (from the moment the trigger raises the event).

[2022-03-21 22:49] liliankasem commented on #3296
Duplicate of #2308

[2022-03-21 22:49] #3296 closed

[2022-03-21 23:03] liliankasem commented on #4852
There shouldn't be loss of data as we have retry mechanisms in place, either through host level retry (i.e. http, timers) or through built-in retries through the trigger services (i.e. service bus, blob).

[Retry documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp)

[2022-03-21 23:03] #4852 closed

[2022-03-21 23:07] liliankasem commented on #2308
We will need to go through design to discuss the right approach for this.

1. Should we use SIGTERM before SIGKILL to let the workers know of intent to shutdown, or
2. Should we use the gRPC to signal a graceful shutdown via the `WorkerTerminate` message

[2022-03-22 01:56] jimbobbennett commented on #8119
Is this issue going to be fixed? Today I created a new event hub trigger function app and the host.json had the version set to:

[code]

Giving the above error in the portal and the function app not running

[2022-03-22 02:38] b-twis commented on #8249
@pragnagopa, thank you for the information. I am attempting to keep them pinned but our release automation needs changing which is taking some time.

@fabiocav,

Interesting that it was only a minor update.

Our code is referencing System.IdentityModel.Tokens.Jwt v 5.6.0 which works fine in runtime 4.1.3.17473.

We encountered the following runtime error, and I have seed a similar on in the past f

[2022-03-22 07:40] runefs commented on #8242
We have the same issue in a functions app. (runtime v 4.1.3.3) if IU disable the line of code that causes the error an iterates through all the assemblies (`System.AppDomain.CurrentDomain.GetAssemblies()`) I can see two versions of the Microsoft.ApplicationInsights.dll from to rather different locations

[code]

We only reference two assemblies directly:
Microsoft.ApplicationInsights
Microsoft.App

[2022-03-22 12:07] lukehanlon commented on #8116
I can also confirm this doesn't work for me either, .Net 6.0 Isolated, Functions v4 with CosmosDb trigger, so incredibly frustrating.

[2022-03-22 12:18] v-bbalaiagar commented on #8241
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-03-22 13:25] andyhammar commented on #8244
Addings links and closing this.
Release announcement, and rollback comment: https://github.com/Azure/app-service-announcements/issues/357
Open issue: https://github.com/Azure/azure-functions-host/issues/8248

[2022-03-22 13:25] #8244 closed, assigned to liliankasem, Ved2806

[2022-03-22 14:01] marnilss commented on #8248
I don't see any mitigation for people running Docker Images with tag "mcr.microsoft.com/azure-functions/dotnet:4"

You need to remember us running Function Apps as containers, thus not using PaaS service in Azure Portal.

[2022-03-22 14:09] alonfirestein commented on #2153
Any chance that this issue was resolved by anyone?
Is it possible to catch and handle the execution timeout gracefully instead of killing the process or restart?
In my case an unlimited timeout or retries isn't a effective option so any answer would be appreciated.

[2022-03-22 14:36] Ved2806 commented on #8146
Hi @anthonychu Could you please look into this issue?

[2022-03-22 14:44] v-bbalaiagar commented on #8242
Hi @YairoR , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-03-22 14:47] mathieuisabel commented on #8242
I've experienced the same as @runefs on my end. I had to rollback the App Insights package version from 2.20 to 2.17 for the time being. The function runtime build in azure is 4.1.3.17473

[2022-03-22 14:56] Ved2806 commented on #8122
Hi @pragnagopa Could you please redirect this issue to the correct person for further investigation?

[2022-03-22 14:56] mathieuisabel commented on #8242
It looks like the 4.2 runtime might resolve that particular problem as it looks like it depends on App Insights 2.20:

https://github.com/Azure/azure-functions-host/commit/e378c87b195025c4d5b98a1aa306df46db004b61#diff-6a49576770202827579aca50b0a820e13b37b1737a8e35a8b0da08d3f37a254dR46

I did see they rolled back a 4.2 build recently due to an issue though so we might need to check that.

https://g

[2022-03-22 15:35] pragnagopa commented on #8252
@fabiocav / @brettsam  / @madelinegordon  - can you please take a look? Looks like nuget package versions for the host were not updated?

[2022-03-22 17:04] anthonychu commented on #8146
@fabiocav @mattchenderson

[2022-03-22 17:16] paulbatum commented on #8119
@jimbobbennett My application recieved the fix a few days ago. I was able to put the host.json back to the default (what you shared above) and it still works.

I was able to confirm that it was fixed by a bundle release by going to the debug console in kudu and checking the bundles present on the machine. 2.9.1 is there now.

![image](https://user-images.githubusercontent.com/10663/159537590-3e8c6

[2022-03-22 17:55] mlowijs commented on #8241
@v-bbalaiagar What possibilities are you checking? We’re trying to use a documented feature, but it is not working as expected. This is not a feature request.

[2022-03-22 18:44] paulbatum commented on #8220
@stefanushinardi 7.0 is not LTS. Did you mean to say "add it to 6.0" ?

[2022-03-22 22:17] kshyju commented on #8116
See [this](https://github.com/Azure/azure-functions-dotnet-worker/issues/832).

In short, dotnet isolated do not support the attribute usage for retry. You have to use the host.json approach.

[2022-03-22 23:22] TsuyoshiUshio commented on #8248
Hi @marnilss  In your case, You are using App Service Plan, right?

In this case, you might encounter following case.  Could you share with me your site name to my e-mail account? (I'll remove the e-mail after you send me an e-mail)

[code]

[2022-03-23 06:32] marnilss commented on #8248
Hi @TsuyoshiUshio , no I'm not using any Azure Function App at all, I'm running the mentioned Docker image in Kubernetes. (https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda)

[2022-03-23 08:23] v-bbalaiagar commented on #8241
Tagging @brettsam , for more inputs

[2022-03-23 09:22] agutierrezcu commented on #7092
+1

[2022-03-23 10:05] simonness opened #8253 "Change in telemetry functionality after upgrading to v4 / .net 6.0"
#### Is your question related to a specific version? If so, please specify:
v4

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
After upgrading a Service Bus trigger Azure Function from .net core 3.1, v3 (SDK v3.0.13) to .net 6.0, v4 (SDK v4.0.1), the Function's Request telemetry on Application Insights appears on a different Operation Id and with

[2022-03-23 10:57] danpetitt opened #8254 "Function App on TimerTrigger does not fire on the hour every hour"
We have a function set to run on a timer trigger on the hour; however some hours it fires a few seconds early and other hours it does not fire at all as can be seen in this screenshot, you can see that nothing was fired at all at 21:00 last night, or 1am or 8am this morning

We are relying on this firing accurately on the hour, even if its a few seconds late is okay so long as its on the hour befo

[2022-03-23 16:45] pragnagopa commented on #8122
@divyagandhisethi - could you help with following up on this with App Services Control Plane team?

[2022-03-23 17:10] pragnagopa commented on #7881
Fix related to x64 Apps rolled out to production. Closing this issue. Please open a separate issue with repro details

[2022-03-23 17:10] #7881 closed, assigned to nobody

[2022-03-23 17:32] pragnagopa commented on #6015
Tagging @fabiocav for his input

[2022-03-23 18:01] kashimiz opened #8255 "Analyzer: Illegal Binding Type - attribute-parameter type mismatch"
Part of #7531

See https://github.com/Azure/azure-webjobs-sdk/blob/4e287eb443e2445a298a8a959f7cd01efc46e2c9/src/Analyzer/WebJobs.VSAnalyzer.Core/ErrorList.cs#L34

[2022-03-23 18:04] kashimiz opened #8256 "Analyzer: Illegal Binding Type - failed validation"
Part of https://github.com/Azure/azure-functions-host/issues/7351

See https://github.com/Azure/azure-webjobs-sdk/blob/4e287eb443e2445a298a8a959f7cd01efc46e2c9/src/Analyzer/WebJobs.VSAnalyzer.Core/ErrorList.cs#L62

[2022-03-23 18:07] kashimiz opened #8257 "Analyzer: Illegal Binding Syntax"
Part of https://github.com/Azure/azure-functions-host/issues/7351

See https://github.com/Azure/azure-webjobs-sdk/blob/4e287eb443e2445a298a8a959f7cd01efc46e2c9/src/Analyzer/WebJobs.VSAnalyzer.Core/ErrorList.cs#L83

[2022-03-23 18:08] kashimiz opened #8258 "Analyzer: Illegal Function Name"
Part of https://github.com/Azure/azure-functions-host/issues/7531

See https://github.com/Azure/azure-webjobs-sdk/blob/4e287eb443e2445a298a8a959f7cd01efc46e2c9/src/Analyzer/WebJobs.VSAnalyzer.Core/ErrorList.cs#L104

[2022-03-23 18:10] kashimiz commented on #7531
Decomposing into related issues:

* https://github.com/Azure/azure-functions-host/issues/8255
* https://github.com/Azure/azure-functions-host/issues/8256
* https://github.com/Azure/azure-functions-host/issues/8257
* https://github.com/Azure/azure-functions-host/issues/8258

[2022-03-23 18:27] TsuyoshiUshio commented on #8248
There is several options. I think k8s cluster caches the image.
1. make `imagepullpolicy` as `always`
2. Use the specific version of the image. e.g. mcr.microsoft.com/azure-functions/dotnet:4.1.3
You can find the available versions in https://mcr.microsoft.com/v2/azure-functions/dotnet/tags/list

`4` is pinned to `4.1.3` already.  Could you try one of them?

[2022-03-23 19:23] divyagandhisethi commented on #8122
Hi @Ved2806 - A few clarifying questions - what SKU, OS are you reproing this on? If you could share a private repro, that would be great.

[2022-03-23 20:26] fabiocav commented on #8154
@blacelle for these types of issues/requests, a support incident would be the appropriate way to move forward and would ensure more timely responses than what we'd have the ability to provide on GitHub.

Sounds like you already have a support incident opened, are you getting the responses you need? Is that moving forward?

[2022-03-23 20:32] fabiocav commented on #6704
Based on our discussion this week, I'll say yes. This should be tracked by the `Intelligent concurrency for language workers` issue you've linked (#7499).

[2022-03-23 20:32] #6704 closed, assigned to nobody

[2022-03-23 20:36] fabiocav commented on #7462
I think this item needs additional discussion.

@pragnagopa are we expecting this issue to be transient, and a shutdown would help trigger a process restart to reinitialize the worker and host, hoping that would address the issue? If not, what is the expected behavior/experience from a user perspective

[2022-03-23 20:39] fabiocav commented on #8165
@liliankasem do we need more information for this? Is this about the channel state? Something else?

[2022-03-23 20:40] fabiocav commented on #6184
@jdubois @CooperLink @yojagad can you confirm whether this is still an issue and requires additional follow up?

[2022-03-23 20:42] fabiocav commented on #7587
@shimedh is there a better place to track this? If not, do you have any updates? Thanks!

[2022-03-23 20:52] jdubois commented on #6184
@fabiocav yes I confirm nothing has changed. Here's a new screenshot I did right now, it's the same issue as 2 years ago.

![Screen Shot 2022-03-23 at 21 50 19](https://user-images.githubusercontent.com/316835/159793442-f194e606-67a2-4029-9b32-9b43c3d53e43.png)

[2022-03-23 21:31] liliankasem commented on #8165
Yup, still need to follow up on why I opened this issue; will prioritize getting the info before the next triage meeting!

[2022-03-24 03:07] fabiocav commented on #8249
@b-twis this was previously a transitive dependency, and previously, the version previously used would have mapped to 6.10, bumped to 6.15.

We're taking a look at the issue.

[2022-03-24 03:24] fabiocav commented on #8249
Do you happen to have a more detailed stack or information about the code you have in place here?

[2022-03-24 11:10] blacelle commented on #8154
Hi @fabiocav. We have an open support tickets but it is progressing very slowly and sometimes with misleading solutions (e.g. stating that multi-threading is not possible in a Python worker, and resquesting to set PYTHON_THREADPOOL_THREAD_COUNT > 1 at the same time, without suggesting to be careful about it if our application is not thread-safe).

Latest news on the support ticket are quite intere

[2022-03-24 12:03] Archomeda opened #8261 "ServiceBus trigger with managed identity doesn't wake up consumption plan function apps when Connection isn't explicitly defined"
This is for in-process v4 function apps, I'm unsure whether this also applies to the isolated variant.

When a Service Bus trigger is defined with a connection via managed identity, the function app doesn't get woken up by Azure when the Connection property is **not** defined in the trigger attribute, despite the trigger working fine when the function app is active.

#### Investigative information

[2022-03-24 12:09] v-bbalaiagar commented on #8227
Hi @flatproject , I am unable to get the logs with the given invocation id. Could you share the app name using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately to check the cause.

[2022-03-24 14:24] TroyWitthoeft commented on #5246
Would love some improvement here, please! I know we've documented the deficiency [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=in-process&pivots=programming-language-python#ncrontab-time-zones), thanks. But this issue still has the opportunity to surprise teams.  For instance, say we use consumption in a lower environments and app service in production

[2022-03-24 14:48] blacelle commented on #8154
I would be happy to investigate furthermore in the source code. What we observe is that a Python worker is being dispatched an event, while it is already processing an event, event, the dispatched event waits for the previous event to complete. Do you have any source-code pointer following this scenario, so I can try pursuing the investigation by myself?

[2022-03-24 16:08] flatproject commented on #8227
Hi @v-bbalaiagar, I have followed the article and I believe this is what you need as I prefer not to publicly disclose the name:
`2022-03-24T16:04:46.979 [Information] Executed '**************' (Succeeded, Id=46ba51e9-a3f7-4a3e-b0df-946baada79f0, Duration=1080ms)`

I have also deployed a second function that should run every 105minutes and exhibits the same problem. Basically it runs every hour in

[2022-03-24 16:29] richorama opened #8262 "Is it possible to set a message header on a ServiceBus output binding?"
#### Is your question related to a specific version? If so, please specify:

N/A

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

N/A

#### Question

When a function has a Service Bus Topic as an output binding, it is possible to set the message headers/properties as well as the message body?

https://docs.microsoft.com/en-us/rest/api/servicebus/message-headers-an

[2022-03-24 18:59] #8249 closed, assigned to brettsam, fabiocav, surgupta-msft, v-bbalaiagar

[2022-03-24 19:13] liliankasem commented on #8210
@ejizba @surgupta-msft - looks like the backport was merged, are there any other actions we need to take to close this issue?

[2022-03-24 19:23] j2jensen opened #8265 "Is Dependency Injection supported in Azure Functions v4?"
#### Is your question related to a specific version? If so, please specify:

Yes, Azure Functions v4

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#

#### Question

A team member told me that he'd run into problems when trying to upgrade an Azure Functions (In-Process) class library to .NET 6, and he pointed me to the [Prerequisites](https://docs.microsoft.com

[2022-03-24 19:35] liliankasem commented on #7991
@venkatsm are you still seeing this issue today? I can't seem to pull up the logs for invocation id `f0b4788f-b57c-47ef-92a6-9bf893efeda6` so I wonder if you have anything recent I can look at.

[2022-03-24 19:59] liliankasem commented on #7462
I think all of these issues are made to address the same problem:

- #5233
- #5774
- #7463

I think the gist of all these conversations is that we shouldn't get to this error message in the first place as we shouldn't allow invocations when there isn't a worker process ready to use, meaning we should be dealing with this issue before we get to an invocation, not when a function is invoked, @pragna

[2022-03-24 20:49] ejizba commented on #8210
Nothing I'm aware of

[2022-03-24 22:05] #8210 closed, assigned to surgupta-msft

[2022-03-24 22:14] surgupta-msft commented on #8232
@ManeeshRajamMS some information is given in this link regarding using specific language version - https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages. Please check if this helps you.

[2022-03-24 22:36] surgupta-msft commented on #8157
Hi @qsdfplkj  can you please review if this documentation contains information similar to what you are looking for - https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection?msclkid=d012b0a5a6da11ec99974e8b2838fd2d#logging-services

Based on your feedback, we will identify the next steps to help you in a better way.

[2022-03-24 22:58] surgupta-msft commented on #8134
Hi @jvmlet The other [issue ](https://github.com/microsoft/DurableFunctionsMonitor/issues/18)linked above seems to have been closed. Are you still looking for our assistance here? If yes, can you please review if the discussion here talks about the similar problem? - https://stackoverflow.com/questions/38276838/azure-webjobs-no-functions-found-in-another-assembly

[2022-03-24 23:04] surgupta-msft commented on #8088
Pinging @RohitRanjanMS to get his inputs on the question above.

[2022-03-24 23:07] liliankasem commented on #7462
Here's an example of an [issue](https://github.com/Azure/azure-functions-host/issues/8167) that leads to the `Did not find any initialized language workers` error. Looking at the logs for this, we see the process worker exit (without details on why), but the function was still invoked before we restarted (a restart was signaled due to the worker process exit). In this scenario, it makes sense to o

[2022-03-24 23:08] liliankasem commented on #8167
@brettsam is this something you can help investigate?

[2022-03-25 08:58] qsdfplkj commented on #8157
The documentation is about creating a new `loggerprovider` which I did use as a work around. But technically I would have preferred to replace (or wrap) the currently registered loggerfactory.

`services => services.Replace(ServiceDescriptor.Singleton<ILoggerFactory, MyLoggerFactory>())`

Now internally MyLoggerFactory uses the default LoggerFactory. So MyLoggerFactory is just a decorator. Therefo

[2022-03-25 16:47] pragnagopa commented on #7462
Yes, that would be the ideal state we should get to. In cases where initial process start fails or restarting worker fails - both scenarios should have predictable behavior - shutdown functions host to avoid invocations failing due to worker process not starting up

Are you referring to Dotnet worker specifically? Ideally for rest of the workers process start up should not be affected by user's co

[2022-03-25 17:37] liliankasem commented on #8165
@fabiocav I did some digging into this and I think I have more context!

This issue is related to a couple of issues regarding the dispatcher state, such as:

- https://github.com/Azure/azure-functions-host/issues/7590
- https://github.com/Azure/azure-functions-host/issues/7463

Right now, the function dispatcher buffers invocation requests until a language worker process starts and initializes.
A

[2022-03-25 17:44] liliankasem commented on #8165
I also took a look at @yojagad's PR for #7590, and there was mention of:

Which explains the behaviour I described in this comment https://github.com/Azure/azure-functions-host/issues/7462#issuecomment-1078466160

I wonder if this investigation's purpose was to look into that and see if we can do anything about it to avoid any invocations being processed if there isn't a worker process.