[2018-12-17 15:05] oatsoda opened #3900 "Consumption Plan with Storage Queue trigger goes idle on NetCore Functions v2"
I have a Storage Queue triggered v2 Function running a netcoreapp 2.1 function.  This is on a consumption plan.

Recently a message was added on 2018-12-13 and it did not get processed until I opened the Function App in the Azure portal (2018-12-17)

Here is a manual run I just did. The function is hosted in West Europe:

My function.json:

    {
        "scriptFile": "..\\bin\\<assemblyname>.dll"

[2018-12-17 15:42] oatsoda commented on #3900
Here is, I believe, the trigger for the queue item that had been waiting for 4 days until I kicked things in to life by opening the Azure Portal:

[2018-12-17 16:03] apt-rider opened #3901 "Runtime error in azure function for System.Runtime.CompilerServices.Unsafe"
Hi,

I am using Microsoft.Azure.Devices.Client": "1.18.1" in my Azure Function on V1. First I got error for assembly "DotNetty.Common": "0.6.0.0". I tried to add this assembly reference explicitly in my project.json and the error got resolved. Now I am getting error for assembly "System.Runtime.CompilerServices.Unsafe": "4.0.4.1". I have tried to explicitly add its reference too in my project.json

[2018-12-17 18:31] ConnorMcMahon commented on #3898
Thanks for bringing this to my attention. I will investigate this scenario.

[2018-12-17 19:31] paulbatum opened #3902 "Cannot see Trace logs when loglevel set to Trace"
When debugging locally with core tools, I can't seem to get trace messages to appear in the console. Not sure if this is a host bug, a doc bug, or a core tools bug.

Steps to reproduce:
1. Create a new V2 function app in VS
2. Select HTTP trigger, paste in the following code:

[code]

3. Go to host.json, configure as follows:

[code]

4. Run the host, trigger the HTTP function

Expected result - t

[2018-12-17 19:32] paulbatum commented on #3902
@brettsam any ideas on this one?

[2018-12-17 21:16] brettsam commented on #3902
Do you see Traces when deployed? The CLI wires up its own logger so something may be off there.

[2018-12-17 21:53] paulbatum opened #3903 "Cannot use System.Data.SqlClient 4.6.0 and greater on functions V2."
If you follow this tutorial, it will fail:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-scenario-database-table-cleanup

It fails with the error:
[code]

This is because you'll get 4.6.0 or later, which seems to result in the above error. Downgrading to 4.5.1 will resolve the issue.

The same version (4.6.0) works fine in a .NET Core 2.1 console app. We need to figure out why i

[2018-12-17 22:22] matt2323 commented on #3767
https://xkcd.com/979/

[2018-12-17 22:33] paulbatum commented on #3902
Just tried it. Yes I see the traces in streaming logs in the dev tab and in the live metrics stream on app insights. Looks like a core tools issue. I'll move it.

[2018-12-17 22:40] tbasallo commented on #3877
The issue was related to having a return object of IActionResult (from a copy & paste).
It was being ignored.
I found the error when running locally and the functions SDK showing a big red warning about the return type while indexing functions.

[2018-12-17 22:40] #3877 closed

[2018-12-18 00:41] tsharp opened #3905 "extensions.json is not regenerated"
#### Investigative information

Please provide the following:

- Timestamp: 12.17.2018
- Function App version (1.0 or 2.0): 2.0
- Function App name: (redacted)
- Function name(s) (as appropriate): (redacted)
- Invocation ID: (redacted)
- Region: (redacted) Local build …

#### Repro steps

Provide the steps required to reproduce the problem:
1. Launch Visual Studio 2017 15.9.4
2. Create new Azure F

[2018-12-18 01:01] jcbrooks92 opened #3906 "Kudu endpoint not registered for Linux Consumption plan Function"
#### Investigative information

Please provide the following:

- Timestamp: 7:50 PM EST 12/17/2018
- Function App version (1.0 or 2.0): 2.0
- Function App name: jebrook-linuxfunctionapppython.azurewebsites.net
- Function name(s) (as appropriate): NA
- Invocation ID: NA
- Region: West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a function using the CLI

[2018-12-18 09:58] ChristianWeyer opened #3907 "Key Vault integration in local dev environment"
I am playing around with the preview of the Key Vault integration as outlined here:
https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service/
and here:
https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

This all looks fine.

But what is the story for local development in such cases?
Currently, I j

[2018-12-18 10:07] raymens commented on #3854
I guess we have to wait for the plans regarding .NET Core 2.2 as mentioned in https://github.com/Azure/azure-functions-host/issues/3611#issuecomment-429989485 ?

[2018-12-18 13:43] adrianknight89 commented on #838
@davidebbo I too have this problem. To me, the hybrid approach doesn't sound too great because I'd need to buy dedicated VMs for most of my expected consumption (with low latency) and use serverless functions only for the bursts (and of course the bursts will take a long time). This almost defeats the purpose of going **truly** serverless. Also, I was content with using the Web API framework as Fu

[2018-12-18 15:24] rhummelmose commented on #3543
Any update on when this'll be fixed? Makes it hard to follow a real flow of work

[2018-12-18 17:15] carloscamposcoelho commented on #3745
Same issue here. I have an HTTP triggered function that logs an exception " log.LogError("An error has occurred.", ex);". I'm getting the error below when logging the exception.

![image](https://user-images.githubusercontent.com/4945030/50170487-24322100-02d7-11e9-8a88-1dc3b561930e.png)

[2018-12-18 18:36] myusrn commented on #3857
@fabiocav and @ConnorMcMahon is this still on the backlog to be addressed in the current sprint?

I ask because i'm working on functions app solution for a customer and have and end of week milestone to deliver so trying to determine if i'll be able to get away with not having to implement and document inclusion of function ?code=&lt;function code&gt; in addition to oauth Authorization header secu

[2018-12-18 18:59] ConnorMcMahon commented on #3857
I have a PR that addresses this issue (#3904).

@myusrn, we are planning on future integrations with EasyAuth, but we are still deciding whether we want to utilize the AuthorizationLevel.User field, or whether we want to do a more robust configuration that would allow users to do similar things to the Authorize attribute within the function.json/HttpTriggerAttribute.

[2018-12-18 19:04] ConnorMcMahon commented on #3898
So it turns out that EasyAuth is using an older version of System.IdentityModels.Tokens.Jwt that doesn't have the "roles" claim mapped to "http://schemas.microsoft.com/ws/2008/06/identity/claims/role", which is why ClaimsPrincipal.IsInRole doesn't detect it.

We have a potential release of EasyAuth that has updated System.IdentityModels.Tokens.Jwt, but this would likely be a breaking change, as so

[2018-12-18 19:16] myusrn commented on #3857
@ConnorMcMahon thanks for update and nice work on pr to address this.

In the mean time i'm noticing that &lt;azure function app&gt; | functions | &lt;function endpoint&gt; | get function url returns a code different than what I see in overview | function app settings | host keys (all functions) | _master and default entries.  Is there a meaningful significance to those differences?

The reason I

[2018-12-18 20:33] davidebbo commented on #838
@adrianknight89 I'm no longer in this project, so I will let others respond (e.g. @paulbatum). But this is an old issue and things have improved quite a bit since. I suggest that you add details on your scenario: e.g. what language, what OS, what runtime version, are you using Run As Package, what kind of timing you are observing, etc...

[2018-12-19 10:00] rhummelmose commented on #3543
For anybody who may have an interest in how to get a decent workflow up and running in VSCode until this issue is resolved I've put the following together to allow me to automatically start/stop the functions host when I launch the debugger.

launch.json
[code]

tasks.json
[code]

functions_host_background.sh
[code]

You need tmux, but it makes life bearable..

Add the presentation options to your

[2018-12-19 14:06] espray commented on #3611
@paulbatum any update/timeline on this?

[2018-12-19 14:31] itzikorfa commented on #1794
Hi
Is there a solution for this problem?
I want to create a form that send data to azure function
this form contains file.
How do I upload it to the function?

[2018-12-19 15:59] adrianknight89 commented on #838
@paulbatum I’m using C#, Windows 10 (idk why OS matters though), v2, and zip deployment on the consumption tier.

My biggest complaint at the moment is every time I publish new changes (which I do very frequently), everything seems to be deployed to another server, and I incur the full cold start penalty.

I’ve read somewhere that v2 wasn’t as optimized as V1, but this was when it was still in pre

[2018-12-19 18:57] Moeahmad94 commented on #2192
@APErebus @jeffhollan were you able to get a better solution than adding a delay on failure (in an exception handler perhaps)? I'm facing the same issue and am trying to figure out whether there's better feature support for this, or if a manual delay in our own code is the only way for us to do this

[2018-12-19 19:32] paulbatum commented on #3611
This slipped a little. I think step 1 is partially done already, @fabiocav has a branch somewhere, but its not ready to go yet. I expect this to be done by the end of Jan.

[2018-12-19 19:56] jsheetzati commented on #3611
It is unfortunate that Azure Functions lags behind the rest of the ecosystem and is preventing us from upgrading .NET Core / ASP.NET Core 2.2. Any particular reason this project doesn't follow the normal release schedule for .NET Core?

[2018-12-19 20:09] mhoeger commented on #3722
As an update: after merging #3824, performance has significantly improved. This change is available with runtime versions >= 2.0.12238

[2018-12-19 21:22] val-janeiko opened #3909 "Ambiguous match found error if multiple methods have the same name"
#### Investigative information

- Function App version: 1.0
- Runtime Version: 1.6.0 x64 (Build 1.1.132)

#### Repro steps

1. Create a class with two methods with the same name: one marked with [FunctionName] attribute, other is not. (In the provided example one of the functions is an activity function, the other is just a regular extension method).
2. Launch the function app (locally or in Azure

[2018-12-19 21:53] PureKrome commented on #3736
@fabiocav 👋 G'day! I noticed that this issue was re-assigned from S38 -> Triaged. Is there any info you/the AF team can say about:
- the priority of this issue?
- rough quarter-ETA of this issue? e.g. hopefully proper DI will be in, in Q2 2019? Q1 2019, etc?

[2018-12-19 22:55] espray commented on #3736
@PureKrome Azure Functions Live - Dec 2018 https://youtu.be/Ti_QEeGmRSo?t=1661

[2018-12-19 23:06] balivo commented on #3736
As @espray mention... Attribute Binding is good way to inject services at Functions scope... IMHO a DI maybe make Functions too "weight"... I see Azure Functions a "light-weight" way to make APIs, Serverless and Microservices apps...

[2018-12-19 23:38] PureKrome commented on #3736
OK - at the 28:15m mark they start talking about DI (and even reference this GH Issue!)
TL;DR;

Q: what's the update on this DI stuff?
A: This is still extremely high. We addressed this issue on our last webcast. Unfortunately that ambious goal in the commitment ... we're not going to hit this and the end of this year. Looking at early next year ... i'm hesitant to say ... the first few months of

[2018-12-19 23:40] myusrn commented on #3810
@fabiocav one thing I'm unable to test as a fix is using Web Deploy [ `<WebPublishMethod>MSDeploy</WebPublishMethod>` ] instead of Zip Deploy [ `<WebPublishMethod>ZipDeploy</WebPublishMethod>` ] because when I try that unpacked deployment option it generates `Published Failed` dialog with the following vs17 | output | build window details.

The reason i think this might hold the key to making func

[2018-12-20 00:13] balivo commented on #3736
@PureKrome the blog post have good points but need some updates and tests... Last interaction on content (not comments) is from 2015...

I'm totally agree and I don't see Attribute Binding at Azure Functions context only just a DI hack...

As I said, I think put DI at Function is extra weight in a light-weight service...

Inject using Atribute is "sucks" and need more tests... And better ways can

[2018-12-20 00:40] myusrn commented on #3898
@johndowns wish I had seen this yesterday before spending day just assuming IsInRole() check should be working. Wondering if there is a github way I can track any new issues you open since it seems you are finding and surfacing all the ones I have or will run into as part of making using of new function v2 dependency injected (. . . , ClaimsPrincipal principal) parameter.

[code]

[2018-12-20 02:03] bledbet commented on #2192
The only real solution I can conceive is to bind the MessageReceiver so that you can use Defer() instead of throwing and letting the functions runtime catch and call Abandon().  I think you’d have to use a custom message properly to track how many times you’ve Defered, allowing you to do something like exponential back off, and to call Deadletter() when you’ve tried enough times

[2018-12-20 07:31] auslavs commented on #1627
I saw this issue after renaming the functions class e.g. "public static class BlobTrigger"
"public static class MeaningFullName_BlobTrigger"

[2018-12-20 16:16] myusrn commented on #3898
Good to see there is an issue open against this matter as I got hung up for a good chunk of time assuming `principal.IsInRole()` was working before I broke down and added a claims dump to log output given issue #3810  where i'm unable to use attach debugger..

Here is the work around i'm using which while it would lead to dead code would not be susceptible to breaking if the "roles" array in issue

[2018-12-20 19:44] alexkarcher-msft commented on #3175
Hi @andreesteve ,

When App Insights updated their side we realized there was an additional bug in the Functions runtime that was causing us to log an imprecise timestamp. We've been working on a solution, but it's a somewhat involved implementation to get this right. It's at least 2 months out at the moment, to give you some sense of timing.

Hopefully this clears up the confusing message from Ju

[2018-12-20 21:45] paulbatum commented on #3611
If you mean hold up .NET core releases such that they only happen when Azure Functions is ready, I think the .NET Core team and community would push back on adding additional gates that slow down .NET Core.

If you mean making sure that Azure Functions itself is able to do same-day releases as .NET Core without acting as a release gate on .NET Core itself, then I think this is mostly about the con

[2018-12-21 00:02] alrod commented on #3889
https://github.com/Azure/azure-webjobs-sdk/commit/1bfb2c34be6f5d87fa9e65797f5d6d4fe2bda8b8

[2018-12-21 00:02] #3889 closed

[2018-12-27 10:11] tdjastrzebski commented on #3854
I remember .Net was supposed to end the "dll hell".
It did for quite a while but it seems recently something goes deeply wrong.

[2018-12-28 09:09] siudeks commented on #3869
have similar problem with C# class library that runs in version ~2 (my app is named SchengenApp)

From my perspective  it's triggered really randomly ... sometimes after redeployment it's handle new items, sometimes also part of existing items ...
[removing blob receipts])https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#trigger---blob-receipts) does not trigge

[2018-12-28 12:51] rohan3usturge commented on #3903
Is there any update on this ? Downgrading to 4.5.1 hinders possibility of using AAD authentication for SQL azure databases.

The latest release of System.Data.SqlClient  versions greater than 4.6.0 has support AAD based authentication ( This feature was added to .net core after a long time ) and most companies are mandating using AAD auth instead of SQL based authentication.

[2018-12-29 10:59] apt-rider commented on #3901
Is it a known issue while trying to use Microsoft.Azure.Devices.Client? How can we use Microsoft.Azure.Devices.Client in our Azure functions?

[2018-12-30 14:33] AlmuqrinBF commented on #563
أيات القرآن الكريم مقياس المسلم وعقله وفائدته من
 رابط الحاسوب

[2018-12-30 14:43] AlmuqrinBF commented on #563
الكمبيوتر رابط محسوب لخصوصية جهاز محميي
و
2019net/رابط/رابط

[2018-12-30 19:03] bartdk-be commented on #3568
Small bump.
Facing same issue when trying to call SOAP client (using Connected Services)

[2018-12-30 19:18] StefH opened #3922 "Typo in "Initializaing RpcServer" during startup"
When starting local function, console shows this logging:
[code]

`Initializaing RpcServer` should be `Initializing RpcServer`

[2019-01-02 12:44] victoriatrimboli commented on #3880
Hi @paulbatum, many thanks for your response.

Do you have an ETA for the 'logging improvements' deployment?

[2019-01-02 17:10] safihamid commented on #2590
This will also make /admin/* endpoints to fail if there is a proxy similar to this:
{
    "proxies": {
                "proxy_test": {
                    "debug": true,
            "matchCondition": {
                "route": "/admin/{*test}"
            },
            "backendUri": "https://somehost.azurewebsites.net/admin/{test}"
        }
   }
}

[2019-01-02 21:38] asavaritayal opened #3912 "[Python] Investigate cold start improvements for Python Functions"
Meta issue to investigate possible runtime optimizations to improve cold start for Python.

/cc @fabiocav @maiqbal11

[2019-01-02 21:40] asavaritayal opened #3913 "Start Python language worker in placeholder mode"
Tracking issue to warm up Python language worker when using placeholders.

[2019-01-02 22:03] asavaritayal opened #3914 "Storage Queue Trigger does not pass dequeued message to Azure Linux Consumption Function"
_From @aluong on January 2, 2019 19:9_

I am testing with the auto-generated Python Storage Queue trigger template. When I publish the function to a **Linux Consumption Function App**, the messages are dequeued but don't appear to get "passed" into the Function for processing. Eventually the message will move to the "dead letter" queue after 5 unsuccessful dequeues.  However, this issue does not r

[2019-01-02 22:03] asavaritayal commented on #3914
_From @aluong on January 2, 2019 20:10_

The issue seems to go away when I use an earlier version of the Storage extension.
`func extensions install -p Microsoft.Azure.WebJobs.Extensions.Storage -v 3.0.0.`

I presume there are some assembly issues with what is installed in the Linux Consumption worker environment.

[2019-01-02 22:36] paulbatum commented on #2590
Here's another example repro:

host.json:
[code]

Function definition:
[code]

Make a request to `/admin/host/status` and the function will intercept it.

[2019-01-02 22:56] safihamid commented on #2590
@paulbatum Yes, I have verified the fix will also address the example above you provided.

[2019-01-03 03:52] tsharp commented on #3905
Hello?

[2019-01-03 08:33] laukotomi commented on #3772
It turned out that scaling is based on memory usage and not the cpu usage.

[2019-01-03 08:33] #3772 closed

[2019-01-03 20:05] pragnagopa commented on #3899
@Flanker32 - does this repro standalone?

[2019-01-03 21:52] Brandr0id opened #3915 "Special Character "+" in URL Path Does Not Get Routed by IIS to Function Routing (v2)"
It looks like any V2 Function App will not route URLs with "+" in their path. The moment an URL including + is requested IIS will serve a built-in 404 page rather than the typical vanity 404 page. The request also shows no indication of hitting the function app anywhere in the logs or portal. This seems to indicate that IIS is failing to handle the URL properly prior to delegating and trying to ma

[2019-01-03 22:56] LockTar commented on #3625
I have 2 functions in a function app. One with timer trigger and one with http trigger. Both won't work.
I'm also getting a 500 error. There aren't any logs and remote debugging doesn't work. I'm stuck. Already put 8 hours into this without any feedback...

When I create a third function with an anonymous http trigger with simple log message it will give me a valid response so that works. It must

[2019-01-03 22:58] philn5d commented on #1579
Maybe it's just me, but it seems like it would be good to handle it just a bit differently. Surface the log stream in a way that it can be subscribed to outside the function hosting environment. This way, ops or devs can tap into the log stream without having to change any function code. It should still write to the file system but pop them onto a queue too. Or at least have that option. What is a

[2019-01-04 03:37] adam-pooler commented on #3745
I'm having the same issue on a functions app at the moment.

I believe it is something to do with the volume of messages written to the logger - in my case anyway. I have a job which is processing a large-ish input file & it is writing quite a few log messages per row; the job failed & got terminated at apparently random places, and then when run again (without restarting the app) I'd get log file

[2019-01-04 06:55] rauchg commented on #2808
@davidebbo @mathewc curious about what those numbers look like now? How did you measure them?

[2019-01-04 07:30] Flanker32 commented on #3899
@pragnagopa  Yes, i could repro this issue by creating a new function project, the project has been uploaded to [here](https://github.com/Flanker32/AzureEventhubTriggerTest), it use zip deploy and eventhub java sdk. You may repro this issue by package and deploy the project and run the cleanup.groovy script to create eventhub and trigger it.(You need to set CLIENT_ID,TENANT_ID and KEY environment

[2019-01-04 17:47] FinVamp1 opened #3917 "0xE0434352 - CLR Exception) is being logged sometimes after a Host Shutdown has occurred on v2 Runtime."
#### Investigative information

Please provide the following:

- Timestamp: Reproducible in general but specifically 2018-12-05T19:37 to 2018-12-06T19:37
- Function App version (1.0 or 2.0): 2.0
- Function App name: FinTestFunctionsApps
- Function name(s) (as appropriate):TestFinTimerBlob
- Invocation ID:
- Region:West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

[2019-01-04 17:47] FinVamp1 commented on #3917
@paulbatum This is the work item related to CLR Exceptions we discussed before the break.

[2019-01-04 22:49] rifuller commented on #3854
Also hitting this.  Do you have an estimate on when it'll be fixed?  I'll have to undo some of the other I just did to upgrade to netcoreapp2.2.

[2019-01-05 04:05] adam-pooler commented on #3745
I had a quick look at the code - my feeling is it's something to do with the stackalloc in the ExtendedEventSource class; I think it may be a stack overflow caused by the stack allocations here.

[2019-01-05 06:53] alrod commented on #3535
https://github.com/Azure/Azure-Functions/pull/1098

[2019-01-05 07:04] alrod commented on #3000
`https://<host>/api/webhooks/incoming/<receiver>/{id}` is reserved route in ASP.NET WebHooks.
https://docs.microsoft.com/en-us/aspnet/webhooks/receiving/receivers#webhook-receiver-uris

In this case it's expected behavior. Closed.

[2019-01-05 09:39] SimonLuckenuik commented on #2557
Using Azure Functions V2, I was able to have Razor Pages running properly inside a Functions host using the TestServer approach: http://www.luckenuik.net/hosting-your-aspnet-core-razor-pages-inside-azure-functions/

This is a proof of concept, but if we develop something similar to TestServer of production grade (and proper tooling to ease the job), we should be able to leverage the full power of

[2019-01-05 12:41] microsoft-rorezend commented on #1642
@paulbatum this is also affecting me.  Running functions v2 (Runtime version: 2.0.12246.0)

Any plan to support encoded URI components as part of the Azure Function URI?
I mean the https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent

Running in an environment POST is not an option.

[2019-01-05 15:15] markheath opened #3918 "Cannot set daily usage quota in initial ARM template deployment"
I'm trying to deploy a function app (consumption plan) via an ARM template. I've specified the `dailyMemoryTimeQuota` property on the function app, but when I deploy the ARM template, the quota does not get applied (looking in the portal or via resource manager at the dailyMemoryTimeQuota property).

However, if I then redeploy **the same template** again over the existing function app, then the q

[2019-01-06 06:43] dennis-yemelyanov commented on #838
I'm also experiencing this issue when using Azure function as http webhook. When a cold start happens, the caller (Azure Monitor Log Search Alert) times out and retries the call, resulting in the function being called twice. The function is a compiled C# function using V1 runtime and deployed using WEBSITE_RUN_FROM_PACKAGE.
It's unfortunate that the only solution seems to be switching to standard

[2019-01-07 03:02] zhangyannan-yuki commented on #2331
hi my  function app v1 still meet this issue, I try to set a maxAllowedContentLength parameter in web.config, but it seems that doesn’t work.
      <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="104857600" maxUrl="8192" maxQueryString="4096"/>
      </requestFiltering>
    </security>

FUNCTIONS_EXTENSION_VERSION =~1
thanks .

[2019-01-07 03:03] zhangyannan-yuki commented on #2331
hi my function app v1 still meet this issue, I try to set a maxAllowedContentLength parameter in web.config, but it seems that doesn’t work.
` <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="104857600" maxUrl="8192" maxQueryString="4096"/>
      </requestFiltering>
    </security>`

FUNCTIONS_EXTENSION_VERSION =~1
thanks .

[2019-01-07 04:18] danielzoeller opened #3919 "The binding type(s) 'queueTrigger' are not registered."
When I run my very basic C# function locally, it will not work with queueTrigger input bindings.  It will compile but it will not run.  I get the error:

`Function1: The binding type(s) 'queueTrigger' are not registered. Please ensure the type is correct and the binding extension is installed.`

This wasn't a problem for me several weeks ago before I upgraded to the latest version of everything.

[2019-01-07 15:23] msimecek commented on #3888
The same applies to C# (runtime 2.0.12246.0, NuGet package v3.0.2).

[2019-01-07 15:42] apsteger commented on #3795
I experienced this issue after installing the Visual Studio 2019 Preview. Installing Storage Emulator 5.9 fixed it for me.

[2019-01-07 16:55] Rangoric commented on #3900
This isn't a fix, but as this is a known issue (wish I had a link to why) I do have some workarounds I use to deal with it.

My usual fix: I make sure the add to queue endpoint is in the same function app as the things that will consume the queue. (Calling the http endpoint will wake up the other functions).

You can have something like a timer that triggers once / time period that is shorter than

[2019-01-07 18:52] TechInceptions commented on #620
"To enable this in App Service, set `properties.cors.supportCredentials` to `true` in your CORS config"
What does this refer to?
In which tool/service/SDK/package do we find "properties.cors.supportCredentials"?
In which tool/service/SDK/package do we find "CORS config"?

What are you assuming that everybody is using?

[2019-01-07 19:17] fabiocav commented on #3710
@soninaren this moved a couple of times. Should we put this back in triaged for now?

[2019-01-07 19:18] fabiocav commented on #3844
@mhoeger, should this go to sprint 40?

[2019-01-07 19:18] fabiocav commented on #3636
@alrod , wasn't there a PR for this? Should this just go to sprint 40 for review?

[2019-01-07 19:20] soninaren commented on #3710
I think i should be able to finish it before Sprint 40, If not finished before that i would move it to triage.

[2019-01-07 19:20] fabiocav commented on #3766
Moving to sprint 40.

@mattchenderson do you have any feedback from the testing you've done?

[2019-01-07 19:21] fabiocav commented on #3838
@mhoeger is this still pending? Should this move to triaged?

[2019-01-07 19:24] fabiocav commented on #3875
@mhoeger; moving this to sprint 40 for investigation. Feel free to reassign if a different sprint would be more appropriate.

[2019-01-07 19:25] elprans opened #3921 "Expose binding "dataType" in FunctionRpc.proto"
Per discussion in https://github.com/Azure/azure-functions-python-worker/issues/66, we need the host to expose the "dataType" setting from "function.json" in order to bind the argument data correctly. /cc @pragnagopa @asavaritayal

[2019-01-07 19:33] fabiocav commented on #3710
Sprint 40 is the current sprint, so I'm assuming you want to move it there, so I'm doing that. Please move it back to triage if not.

[2019-01-07 19:41] fabiocav commented on #3903
An update on this... recent enhancements address this (and the liked issue #3568). Those enhancements will be deployed with the next release.

Assigning this to sprint 40 for validation.

[2019-01-08 02:23] mhoeger opened #3923 "Language worker processes not killed on host restart from content change"
On host restart due to changes in watched directories (by default, the root of the function app), a new language worker process is spun up. However, the previous language worker process is not killed. I believe that this doesn't bring us closer to the desired behavior here https://github.com/Azure/azure-functions-host/issues/3415, because the process that receives messages can be (or may always be

[2019-01-08 02:31] rajpamamull commented on #3903
Thanks, when will the fix be released so we can retry?

[2019-01-08 12:42] RicardoNiepel commented on #3593
Some workaround in the meantime:

[code]

[2019-01-08 14:46] JohnGalt1717 commented on #3854
I get this not matter what target framework I use:

[code]

It only happens with timer triggered functions as far as I can tell.

[2019-01-08 14:59] jongyllen commented on #3854
We get it on ServieBus queue / topic triggered functions as well.

[2019-01-08 17:08] forki commented on #3854
As I said multiple times: things would be way easier when azure functions
would pin their own dependencies in their nuspec. Waaaaaaay easier

Am Di., 8. Jan. 2019, 17:28 hat oacsed <notifications@github.com>
geschrieben:

[2019-01-08 17:14] maryammadzadeh commented on #3857
Hi there,

I have defined my own roles in AAD and I can see that in the bearer token received by the http trigger (in the req param) is populated with the roles my predefined roles.

 `public static async Task<IActionResult> RunAsync([HttpTrigger(AuthorizationLevel.Function, "post", Route = null)]HttpRequest req, ILogger log, ClaimsPrincipal principal)
`
However, when I examine the principal varia

[2019-01-08 17:54] #3915 closed

[2019-01-08 18:02] maryammadzadeh commented on #33
Hi there,

When adding the ClaimsPrincipal to the function:
`public static async Task<IActionResult> RunAsync([HttpTrigger(AuthorizationLevel.Anonymous, "post", Route = null)]HttpRequest req, ILogger log, ClaimsPrincipal principal)`

We have our roles defined in AAD and can clearly see the roles in the req param's bearer token.

However, the principal param is only populated with
 {
"type": "WebJo

[2019-01-08 18:45] fabiocav opened #3925 "Port ARM Authentication functionality to 1.x"
This issue tracks the port of the functionality introduced in https://github.com/Azure/azure-functions-host/pull/2715 to 1.x, allowing the use of the ARM bridge in V1

[2019-01-08 18:56] ConnorMcMahon commented on #33
@maryammadzadeh, do you have App Service Authentication / Authorization enabled? Unfortunately, at this time the ClaimsPrincipal does not take Bearer tokens unless you have configured that feature with AAD.

[2019-01-08 19:11] JoshCollinsMSFT commented on #33
@ConnorMcMahon is it possible to test this functionality locally?  Or do we have to deploy to get AAD auth integration to flow the claims principals of bearer tokens?

[2019-01-08 19:14] ConnorMcMahon commented on #33
In the next month or two we are planning on releasing ways to test EasyAuth locally with the Functions CLI. The work on the CLI is actually already done, but we are working on giving the Linux and Windows version of EasyAuth parity so that the local development experience matches up exactly with the production experience.

[2019-01-08 19:20] JoshCollinsMSFT commented on #33
Appreciate the response.  Could you create a link between the PR enabling that functionality and this issue?  Thanks!

[2019-01-08 19:44] fabiocav commented on #3923
This would only apply to `JobHost` scoped workers, so it's not the behavior tracked by #3415 and a bug instead. We need to make sure the worker is properly shutdown and disposed on the disposal path.

[2019-01-08 20:34] vfedonkin commented on #3593
Please look at this setting:
https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurefunctionproxybackendurldecodeslashes
The idea is that {restOfPath} will contain encode slashes in "https://localhost/api/{restOfPath}" unless this parameter is set to true.

[2019-01-08 22:45] myusrn commented on #33
@JoshCollinsMSFT [ & @ConnorMcMahon ] in the mean time I was able to make use of "unit testing azure functions v2" -> https://medium.com/@tsuyoshiushio/writing-unit-test-for-azure-durable-functions-80f2af07c65e guidance to enable localhost unit & integration tests of function app with injected principal containing test case relevant identity and claims.

[2019-01-08 23:09] myusrn commented on #3857
@maryammadzadeh I would check . . .
1. that you have EasyAuth + Express configuration enabled your function app

2. that you have configured function app api with `[HttpTrigger(AuthorizationLevel.Function, . . . ` setting and are including the api specific or master or _default host key as ?code=&lt;key&gt; query string parameter in calls along with Authorization header bearer token. Essentially t

[2019-01-08 23:13] RicardoNiepel commented on #3593
Doesn't help.

With `"AZURE_FUNCTION_PROXY_BACKEND_URL_DECODE_SLASHES": "true"` the issue is still there:

[code]

[2019-01-09 00:58] ConnorMcMahon commented on #33
@JoshcolllinsMSFT, https://github.com/Azure/azure-functions-core-tools/pull/789

[2019-01-09 01:00] soninaren opened #3927 "Error compiling csx function for SendGrid binding"
### Repro Steps:
1. Create a function app that uses csx files
2. Create function using the timertrigger template
3. Add `#r "SendGrid"` at the top of the file.

### Error
Function app throws the following exception in the scenario above
`Metadata file 'SendGrid' could not be found`

Source code for an App in Error state: https://github.com/soninaren/sendGridRepro/tree/2a2597f161a20cdf4c90e5836f6e5

[2019-01-09 02:06] paulbatum commented on #838
@adrianknight89 By OS, David meant whether you're running your function app on Windows or Linux, as there are some important differences in terms of how cold start is handled between the two.

Typically, changes are not deployed to a new server/vm. If you make a change locally, deploy (such as with VS or VS Code), then hit the endpoint, most of the time that request will be routed to the same serv

[2019-01-09 02:32] JohnReeson commented on #3927
Link a duplicate #3637  for reference.

[2019-01-09 08:11] jovansnevress commented on #2557
Helllllp cyber bullying!🤧

Johan Nevress
323-406-0557

On Jan 5, 2019 1:39 AM, "Simon Luckenuik" <notifications@github.com> wrote:

[2019-01-09 08:11] jovansnevress commented on #3000
I'm trying and. I can't. Cyber bullying, big time,  can't even report this
hellllpppp

Johan Nevress
323-406-0557

On Jan 4, 2019 11:04 PM, "Alexey Rodionov" <notifications@github.com> wrote:

[2019-01-09 11:58] PankajRawat333 commented on #2470
I'm getting same error with HTTP Azure function V1. [here is my code](https://github.com/PankajRawat333/FunctionAppWithAOPLogging)

[2019-01-09 17:56] fabiocav opened #3929 "Improvements to system key handling"

[2019-01-09 18:43] fabiocav commented on #3000
Reopening this for validation. We handle all of the routing and explicitly call the WebHooks framework, so I'm not sure their route restrictions are causing the issue here.

[2019-01-09 19:12] fabiocav commented on #3927
@soninaren do you see this issue if you're referencing the metadata file/assembly with the file extension? (i.e. `#r "SendGrid.dll")

[2019-01-09 19:18] fabiocav commented on #3119
@simonness since this is an old issue (apologies for the lack of response here), I wanted to follow up to see if this is still an issue you're experiencing. Do you still have this problem?

[2019-01-09 19:21] fabiocav commented on #3162
@andrewabest there have been improvements in this area since the beta you were running. Is this still something you're having problems with?

[2019-01-09 19:31] fabiocav commented on #3167
This is not currently supported, but we've opened https://github.com/Azure/azure-sdk-for-net/issues/32639 to track as this is a commonly requested feature.

[2019-01-09 19:31] #3167 closed

[2019-01-09 19:37] fabiocav commented on #3191
Adding this to backlog to consider as a future improvement, but this would likely only change in a future major version.

[2019-01-09 19:45] fabiocav commented on #3206
Sorry about the lack of response. With GA, the documentation has been updated and this is no longer applicable. Closing as resolved.

[2019-01-09 19:45] #3206 closed

[2019-01-09 19:53] fabiocav commented on #3107
@brettsam can you follow up?

[2019-01-09 19:54] fabiocav commented on #3201
@grik001 are you still having issues with this?

[2019-01-09 21:10] fabiocav commented on #3844
@mhoeger moved this to Triaged. We can assign to a sprint when ready.

[2019-01-09 21:12] fabiocav commented on #3766
@mattchenderson is working on validation, so we're blocked until that is complete. Moving to next sprint.

[2019-01-09 21:13] brettsam opened #3930 "User console logs not working from Language Worker"
With the refactoring of the Language Worker up to the Web Host, we're no longer getting logs from `console.log()`. Note that `context.log()` (from Node for example) continues to work.

[2019-01-09 21:33] soninaren commented on #3927
yes, I get the following error if i do so.
[code]

[2019-01-09 22:00] maryammadzadeh commented on #33
@ConnorMcMahon I do have app service authN/authR enabled. I think I am just waiting for your MR to complete. I verified that AuthorizationLevel.Function works with a function key. When AuthorizationLevel.Anonymous work, then I should see my claims in the principal.

[2019-01-09 23:44] #3535 closed

[2019-01-10 07:49] simonness commented on #3119
Hi @fabiocav I think this one can be closed as the main discussion around the issue seems to be on #2636, it's the same symptoms as @ghills describes on [20 Nov 2018](https://github.com/Azure/azure-functions-host/issues/2636#issuecomment-440125335).

I haven't seen the issue since, although I haven't been systematically testing for its occurrence.  If the issue still exists I'm sure it could be re

[2019-01-10 07:49] #3119 closed

[2019-01-10 08:38] JohnReeson commented on #3786
Closed as fixed since host v2.0.12265

[2019-01-10 08:38] #3786 closed

[2019-01-10 08:41] JohnReeson commented on #1642
Fixed in #3916

[2019-01-10 11:47] sadgit opened #3932 "Function Execution Time variation."
Performance of functions is erratic e.g.
- Min - 25ms (faster than necessary)
- 50th @ 260ms (slow but acceptable)
- 95th @ 5.4 sec (useless)

The work performed in each execution is identical
1. Accept incoming message from Service Bus Trigger
1. Convert to Hub request
1. Relay message to 6 NotificationHubs in parallel async requests via NotificationHubClient.

The two upstream function also have

[2019-01-10 13:16] mikhailshilkov commented on #3932
Adding @paulbatum @cgillum for visibility

[2019-01-10 14:08] cgillum commented on #3932
@sadgit How are you measuring execution time?

[2019-01-10 14:18] sadgit commented on #3932
@cgillum Through AppInsights - using the performance panel.

Have seen the same function executing fast and slow - simultaneously. Have been chasing this issue since before XMas.

NB - This is on a dedicated service plan (not consumption)

[2019-01-10 15:20] sadgit commented on #3932
Execution time - V2

![image](https://user-images.githubusercontent.com/696011/50977864-142eeb00-14eb-11e9-9d59-494a79f3f0b7.png)

Execution Time - V1 (same code back ported)

![image](https://user-images.githubusercontent.com/696011/50977922-2f99f600-14eb-11e9-89d6-8c38446e675d.png)

[2019-01-10 15:22] mike1880 commented on #3903
That works to a degree:

(1) System.Data.SqlClient 4.6.0 isn't present in that folder on my machine after installing from nuget, nor could I find it anywhere else, I manually downloaded the nupkg from nuget and extracted it.
(2) The "for publish" entry dumps a copy of System.Data.SqlClient in the top level of my project folder on build; removing the file also deletes the entry from the csproj...

[2019-01-10 15:22] moueldi commented on #563
@davidrevoledo  You can try this fork: [https://github.com/moueldi/azure-webjobs-sdk](url)
I had a new project called Microsoft.Azure.WebJobs.Extensions.ServiceBusSessions.
It could be published as a new nuget package.
Original version of servicebus extensions and this new package can be used together

[2019-01-10 15:54] davidrevoledo commented on #563
@moueldi awesome I was trying to do something similar but you are much more advanced, please Humbly with my limitations I offer you all the help you need.  💯

[2019-01-10 18:12] fhtino commented on #1451
In my humble opinion, Azure billing has always been a problem. A lot of services lack a clear and easy way to verify the costs placed in the monthly bill. Azure Functions is one of these. Please, be more transparent and point out memory usage on every request.

[2019-01-10 19:29] mhoeger opened #3933 "Function timeouts can cause slow perf / no scaling in HTTP"
(For HTTP)

When a function timeout occurs, concurrently executing functions in a single instance will also be stopped (resulting in 502's). If the function timeout value is configured to a low value (many function executions are expected to timeout), performance and availability of all calls will be expected. We have seen function apps not scale correctly due to timeouts that are too aggressively

[2019-01-10 20:39] pragnagopa opened #3934 "Add invocation metrics log on LanguageWorkerChannel"
Investigation results for the throughput analysis for the powershell functions are detailed here:
https://github.com/Azure/azure-functions-powershell-worker/issues/127

For further analysis, we need to capture invocation metrics on the host
measuring time from sending the invocation request to the worker to receiving the invocation response from the worker.

[2019-01-10 20:39] pragnagopa commented on #3934
cc @fabiocav

[2019-01-10 23:25] espray opened #3935 "System.IO.FileNotFoundException - RootScriptDirectorySnapshot"
Azure Functions Core Tools (2.3.199 Commit hash: fdf734b09806be822e7d946fe17928b419d8a289)
Function Runtime Version: 2.0.12246.0

I am seeing a System.IO.FileNotFoundException being thrown during startup. At startup the host is searching `\bin\function.json` this file does not exists.

Can folders be excluded from RootScriptDirectorySnapshot?

![image](https://user-images.githubusercontent.com/582

[2019-01-11 00:15] btardif opened #3937 "[Blackforest] Monitor Tab doesn't work since Component monitor-applicationinsights threw an unhandled error"
_From @sunxinhuan on November 30, 2018 9:40_

**Ibiza portal URL**:  https://portal.microsoftazure.de/?feature.canmodifyextensions=true&feature.customPortal=false&websitesextension_ext=appsvc.env%3Dstage
**Runtime version**:   1.0.11959.0 (~1) / 2.0.12165.0 (~2)
**Browser**: Chrome
**Hosting Plan**: App Service Plan (S1)

Please refer to the snapshot:
![monitor](https://user-images.githubuserconte

[2019-01-11 00:15] btardif commented on #3937
_From @ehamai on December 13, 2018 23:13_

Hey @nertim, wasn't this fixed already?

[2019-01-11 00:15] btardif commented on #3937
_From @ehamai on December 13, 2018 23:21_

@fabiocav / @paulbatum - Mitren took a look at this and determined that this is a back-end issue.  Can one of you guys help to understand what the underlying cause is here please?

[2019-01-11 00:16] btardif commented on #3937
@fabiocav / @paulbatum  can you guys take a look?

[2019-01-11 02:04] #3935 closed

[2019-01-11 09:13] JohnReeson opened #3953 "Publish show double slash in Invoke url when routePrefix is empty"
With `"routePrefix":""` set in host.json, after publishing the url displays `//`

![capture](https://user-images.githubusercontent.com/35160013/51024249-fed9bf80-15c3-11e9-9d2e-d0dc65660ab9.JPG)

[2019-01-11 12:14] nitingupta2012 commented on #3869
@mathewc and @davidebbo

We are also experiencing the same issue in our environment and affecting us badly on production. It takes minutes to trigger a single image blog upload event.

Kindly update if there is any solution to this problem.

[2019-01-11 17:52] pragnagopa opened #3939 "Do not combine publishing RpcChannelReadyEvent and Registering function in language worker channel"
Remove call to register functions from [LanguageWorkerChannel.cs#L287](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/LanguageWorkerChannel.cs#L287). Make explicit call to register functions when a new language worker channel is created.

[2019-01-11 19:45] Sorrien commented on #2279
This is still a problem.

[2019-01-11 20:16] itsknob commented on #2279
The only current workaround is the User Defined Function to convert the string to a number from [azure-webjobs-sdk-extensions#533](https://github.com/Azure/azure-webjobs-sdk-extensions/issues/533).

[2019-01-11 20:33] arichiardi commented on #1222
This does not seem to be solved. I cannot, for the life of me, see anything sent to stdout either sing `context.log` or `console.log`. It is such a pity. I am on Consumption Plan and I am sure I saw it working in the Standard Plan. I don't know/don't want to know what is the difference there just reporting the info.

I think this issue should be reopened.

[2019-01-11 20:45] Sorrien commented on #2279
That seems to be related to Cosmos triggers. My issue is with binding Guids in my model in an http trigger azure function. The solution for me was to take it in as a string and parse it as a Guid myself.

[2019-01-11 20:57] arichiardi commented on #3930
Same here.

I am actually thinking of reverting back the worker host and pinning to a working version. This has had (of course) a huge impact on our workflow so I'd rather be on an old version and keep doing our things.

@brettsam do you happen to know the last working version? We are now on `2.0.12246.0`

[2019-01-11 21:07] brettsam commented on #3930
A workaround is to use `context.log()` instead of `console.log()`. Is that possible in your scenarios?

It looks like 12238 was the first version to include this change, so 12210 would be the last release without it. @pragnagopa does that look right? https://github.com/Azure/azure-functions-host/releases

[2019-01-11 21:12] arichiardi commented on #3930
This is what Microsoft support also said, but both are not working in my case, unless I do not see where these logs are outputted, they certainly are not showing up on the "Log Streaming" at the moment

[2019-01-11 21:14] paulbatum commented on #3932
Hi, I had a chance to look at the logs for this function app and I can see an issue that is probably having significant impact on performance. The worker process is constantly terminating and restarting and while I am having trouble figuring out exactly why, it seems like it correlates with executions of the function `in_02_Notifier`.

You should see evidence of this recycling yourself in app insi

[2019-01-11 21:20] sadgit commented on #3932
@paulbatum - The function is not terminating with an exception (to my knowledge). If you look a few days back you will get a better view. I'm working on reverting the code to V1 as that is more performant.

That function takes an inbound message and sends it out to 6x NotificationHub Clients. This is a workaround for NHub's 1:1 relationship with IoS apps.

The messages are issued in parallel to gi

[2019-01-11 21:28] fabiocav opened #3942 "Add secret repository metrics"
We want to have better visibility over the time spent communicating with the various secret provider implementations. We should have metrics for all secret management operations.

[2019-01-11 21:32] pragnagopa commented on #3930
Yes. Please pin to 2.0.12210

[2019-01-11 21:33] ColbyTresness opened #3943 "Successful and Failed Execution metric"
The metric we're planning to move to for executions aggregation, function.invoke.latency, regresses a part of our pipeline, since it doesn't tell us whether the execution was successful. We should either add to this metric a field for whether the execution was successful, or add a new metric to give us this information.

[2019-01-11 21:36] brettsam commented on #3930
This is JavaScript? I have a sample running on 12246 with:
[code]

And I see the `context` logs in the streaming logs (but not the `console` one):
![image](https://user-images.githubusercontent.com/1089915/51060787-c0cda300-15a5-11e9-8e4f-046702633593.png)

Do you have any settings in your host.json that could be hiding these?

[2019-01-11 21:40] arichiardi commented on #3930
I think I have

[code]

Not a the keyboard now I will post the full `host.json`

[2019-01-11 21:48] mhoeger commented on #3826
I think what we found was that the metric being logged by https://github.com/Azure/azure-functions-host/pull/3837 is the worker runtime from app setting. The problem is that not all workers have an app setting containing the runtime stack (it's not a hard requirement for function apps that have functions in only one language). The logic goes:

if app setting is set:
only run functions that are wri

[2019-01-11 21:50] paulbatum commented on #3932
Even going a few days back (for example, around 2019-01-06T14:00 UTC) I'm seeing these crashes. Will send another update.

[2019-01-11 21:53] arichiardi commented on #3930
@brettsam  which Service Plan are you using? Support said it matters - Windows not working at the moment

[2019-01-11 22:31] arichiardi commented on #3930
Also @brettsam what do you mean by the "`console` one" ? I am just using Log Stream from the function in Platform Features

[2019-01-11 23:54] arichiardi commented on #3930
So it seems like: `2.0.12210.0` is showing also stdout - this is great, this is what we want.

Above that only `context.log` is shown. We are using structured output (JSON) to stdout, following the 12 factor app predicaments.

I have question though, my trials also involved `host.json`, and at some point I had:

[code]

I could not see anything with it. Is it because `default` is kind of indicatin

[2019-01-12 01:04] paulbatum commented on #3943
Yes, I need this for some detectors (otherwise have to parse strings in the functions logs table).

[2019-01-12 10:11] PureKrome commented on #3854
/me politely waiting impatiently ........

![](https://media.giphy.com/media/wsZclcCQx7EMT8jEU8/giphy.gif)

![](https://media.giphy.com/media/5k2bKntwR3olpLoCzj/giphy.gif)

[2019-01-12 11:10] sadgit commented on #3932
2019-01-12T10:57 UTC - I disabled `in_02_Notifier` to see whether the 5 minute pings still result in the Host Restart. It does seem to be happening after each Timer Trigger. Also the timer trigger executions are not showing in the AppInsights (perhaps due to the restart event).

[2019-01-12 13:41] sadgit commented on #3932
@paulbatum - Found a mistake in my ping code that was throwing an exception - I wasn't expecting the platform to restart on a function internal exception. I assumed (dangerous word) that the platform would catch the exception and log it gracefully.

[2019-01-13 07:01] kadiyamram commented on #3839
Can you please explain how the issue is fixed..I am also facing same issues

[2019-01-13 10:26] vinguan opened #3944 "Could not load file or assembly 'Microsoft.Azure.WebJobs.Host, Version=3.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. Could not find or load a specific file. (Exception from HRESULT: 0x80131621). System.Private.CoreLib: Could not load file or assembly 'Microsoft.Azure.WebJobs.Host, Version=3.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'"
I am trying to upgrade azure functions to V1 to V2 and .NET Core i am getting the following error

![image](https://user-images.githubusercontent.com/6222878/51084164-84688700-170c-11e9-9082-5b1215731e7b.png)

Azure Functions Tools version : 15.10.2046
Visual Studio 2017 version : 15.9.4
Azure Functions SDK : 1.0.24

[2019-01-13 15:47] sadgit opened #3945 ".Net unhandled exception causes Host Restart"
I have a timer trigger function that raises an exception if some action fails. The exception is unhandled by the environment and causes a restart of the host.

#### Investigative information

Please provide the following:

- Timestamp: 2019-01-09T10:45:00.01949Z
- Function App version (1.0 or 2.0): 2.0
- Function App name: <withheld>
- Function name(s) (as appropriate): aa_00_PingManager
- Invocat

[2019-01-13 18:58] bubusoft commented on #3854
The error comes out when referencing Microsoft.EntityFrameworkCore 2.2.0 or higher. please if you can solve it because the only way to compile it is with version 2.1.4

[2019-01-14 00:49] moueldi commented on #563
@davidrevoledo  thanks!
At the moment i'm wating some feedbacks of my implementation.
Webjob ServiceBus feature is coupled with WebJobSdk core project.
It's difficult to add new feature without refactoring.

So, i tried another approach by adding new project without changing common code.
May be is not the best solution for a Pull request, but the feature works for me.
I could provide a public nuge

[2019-01-14 04:09] jstallm commented on #3355
Im getting this issue while using Microsoft.NET.Sdk.Functions Version="1.0.24" so that fix doesnt appear to be working since this is latest release

[2019-01-14 09:05] provanguard opened #3946 "Application logs not working when function's project is on .NET Core 2.2 (also before latest release)"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0): 2.0
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

#### Expected behavior

Logging should be working as with .NET Core 2.1

#### Actual behavior

Logging is broken.

#### Known

[2019-01-14 09:22] IMAMBAKS commented on #3543
I have the same issue... Please fix this asap...

[2019-01-14 09:23] raymens commented on #3854
https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12265

https://github.com/Azure/app-service-announcements/issues/152

Deployments have begun I see!

[2019-01-14 09:34] forki commented on #3854
damn it. West Europe is still on: 2.0.12246.0

[2019-01-14 12:09] sadgit commented on #3932
![perfimage](https://user-images.githubusercontent.com/696011/51111277-85281880-17f3-11e9-8f41-aa42003437ef.png)

We have now ported all our functions to run in parallel (in competition) on the same host.
Clearly the V1 versions out perform their V2 twins - the code is practically identical (only TraceWriter/ILogger changes).

The V1 twin is both faster and less variable in its execution.

out_01_

[2019-01-14 12:57] oacsed commented on #3854
Will Azure Function Tools be updated?

[2019-01-14 14:04] PureKrome commented on #3854
@oacsed Tools? I thought this was an issue with the nuget package/framework?

[2019-01-14 14:16] oacsed commented on #3854
Well I assume this issue is fixed by the new runtime version (2.0.12265). Shouldn't we expect a new Tools package to use the new runtime version (I mean, on a dev machine using VS)? Please correct me if I'm wrong.

[2019-01-14 16:18] brettsam commented on #3930
When I said `console` -- I mean't the call to `console.log()`. I don't think the service plan you're would matter -- did Support give any more details than that?

I just copied your exact `logging` section into my app and I see the logs as expected. The `default` is the fallback if no other match is found. In your case, you should be seeing the logs coming from your function.

Can you share what y

[2019-01-14 16:23] arichiardi commented on #3930
So I spent some time on this, settings and all, on Friday. Thanks for your feedback, which is way more than what I got from support.

It turns out that `context.log` indeed prints out with the latest version, `console.log` only in `2.0.12210.0`.

What tripped me is that it takes a while here for seeing them displayed and it is of course be taken as a symptom while you try to debug.

[2019-01-14 16:33] securityvoid opened #3947 "The function Runtime is unable to start"
I have a function app that will not run and immediately stops. I do not see any errors in the logs indicating why its stopping, or what is happening.

This application worked at one point when deployed to a different function app name. The only real difference should have been the addition to a function proxy, and deployment to a new function app name. However, we're also now doing a ZIP deploy ki

[2019-01-14 16:38] securityvoid commented on #3947
I may have a workaround. I changed the FUNCTIONS_EXTENSION_VERSION to ~1 and restarted, and it looks like things are at least working initially.

[2019-01-14 16:48] #3923 closed

[2019-01-14 18:02] pauldalyii opened #3948 "`SetIsOriginAllowedToAllowWildcardSubdomains()` support in the App Service Portal's CORS and Authentication / Authorization blades."
This issue is an extension of #620 based on [this comment ](https://github.com/Azure/azure-functions-host/issues/620#issuecomment-428043811).

I need to enable [.SetIsOriginAllowedToAllowWildcardSubdomains();](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.cors.infrastructure.corspolicybuilder.setisoriginallowedtoallowwildcardsubdomains?view=aspnetcore-2.1) functionality on a mul

[2019-01-14 18:29] mathewc opened #3949 "Expand SyncTriggers payload to include function index"
As part of the ARM API work for https://github.com/Azure/azure-functions-host/issues/3756, we will expand the sync trigger payload with function index details (functions/keys/etc) enabling our ARM APIs to be served from cache.

[2019-01-14 18:35] mathewc opened #3950 "Add Index Cache support to ARM APIs"
Consume the index produced by https://github.com/Azure/azure-functions-host/issues/3949 in the Functions ARM APIs to allow requests to be served from cache w/o runtime invocation. These are changes in the Antares geo ARM APIs.

[2019-01-14 19:16] asavaritayal opened #3951 "Body formatted when 'application/json' causing incorrect Content-Length"
_From @jaycle on January 11, 2019 3:34_

`HttpRequest`'s `get_body()` method returns bytes and should therefore be unformatted. When `Content-Type` is 'application/json' the body is formatted (adding CRLF characters) which can break certain functionality. This is especially problematic for source which depends on the `Content-Length` header, which remains unmodified from the original request. Impl

[2019-01-14 19:16] asavaritayal commented on #3951
_From @elprans on January 14, 2019 15:53_

@pragnagopa This looks like a host issue.  Is it possible to avoid JSON reformatting of request bodies?

[2019-01-14 19:17] asavaritayal commented on #3951
This is same underlying issue as https://github.com/Azure/azure-functions-host/issues/3875. Assigning to @maiqbal11 who's looking into that one.

[2019-01-15 14:02] MisinformedDNA commented on #3166
Yes.

I'm not getting an exception trace in Postman now, but it is still returning 500. Also, in the Function logs, you can see the Function `Succeeded`, but the HTTP response encountered a NullReferenceException in the ASP.NET Core code:

.NET Core v2.1.0
Functions SDK v1.0.24

[2019-01-15 16:51] sadgit opened #3952 "ServiceBus Trigger - Fail With Retry"
V2. .Net Functions

How do I signal that a message has failed to process and that the message should be retried?

Also by inference - How do I signal that a message has failed permanently?

Note - Exceptions within the function will cause the function app host to restart - this is not desirable or necessary - see #3945

[2019-01-15 17:34] Rangoric commented on #3900
After investigation on my end, my workarounds are not working for Azure Storage Queue. For some reason the storage queue trigger functions will shut down (on a service plan) while the HTTP endpoint remains active.

[2019-01-15 21:44] brettsam opened #3955 "[csx] Invalid Function can still be invoked via the Portal and returns a 202, with no indicated error"
Create a bad csx function -- like below. It's got an additional parameter that doesn't correspond to any binding:

[code]

binding:
[code]

Try to invoke it. You get a 202 Accepted. And no indication of any error, but also no streaming logs. Internally, the call to invoke this is failing early because the function isn't set up correctly. But that log doesn't get caught or reported anywhere.

There

[2019-01-15 22:32] cts-shrahman opened #3957 "AppLens: check for host startup issues and change logging level"
And also we need to change the logging Level. I believe 5 is verbose…we should change it to Level 2 or 3.

https://applens.azurewebsites.net/subscriptions/ff0b4d40-5bc2-4085-9dcf-2f2a484a31f6/resourceGroups/Dev-Ops-East2-RG/providers/Microsoft.Web/sites/SwaggerDef/detectors/functionsinerror?startTime=2018-10-28T16:03&endTime=2018-10-29T16:03

[Execute Query](https://na01.safelinks.protection.outlo

[2019-01-15 22:35] cts-shrahman opened #3958 "Re-enable the option for Diagnostic logging or similar feature"
Re-enable the option for Diagnostic logging or similar feature for Web server logs to get the client IP of incoming requests or troubleshoot EasyAuth cases which require Application Logs set to Verbose for customer troubleshooting.

[2019-01-15 22:39] cts-shrahman opened #3959 "Visual Studio: warning about "removing additional files""
If we have developed function in the portal, then we create in Visual Studio and deploy it to the same function app, default is to 'remove all additional files' and all the functions we had in the app are deleted.  Need some kind of warning from Visual Studio to let customers know.

This is the same for Web App and this is going to be the experience with run from Package as well.

[2019-01-15 22:43] cts-shrahman opened #3960 "Improved error message for "unable to access due to IP restrictions"."
When IP restrictions block the client's IP, they are unable to access the Function execution blade in the Azure portal. And they see a misleading error:

1. Customer is requesting a user friendly error message in this scenario.
2. The alternative would be to allow the clients to access the blade, through having the controller proxy the requests or similar.

(Even If the other team members of the A

[2019-01-15 22:55] soninaren opened #3961 "Download the extension bundle if it is not present at the default location"
If the extension bundle is not present in the default location, then download the extension bundle if persistent storage is available

[2019-01-15 22:56] soninaren commented on #3961
Related to #3562

[2019-01-15 23:08] cts-shrahman opened #3962 "Function apps do not log malformed json data"
Function apps do not log malformed json data.

Currently have a customer who was attempting to log malformed json data in one of his function apps in order to identify an issue on the devices sending these malformed json.

1- We attempted to log this through application insights changing the trace level to Trace however although we saw the failed requests the malformed json data was not there.
2 -

[2019-01-15 23:14] FinVamp1 opened #3963 "Ilogger\TraceWriter are not writing to Table Storage when the Dashboard is enabled."
#### Investigative information

Please provide the following:

- Timestamp:15th of January 2019 23:00 PM UTC
- Function App version (1.0 or 2.0):2.0
- Function App name: TestFinILogger
- Function name(s) (as appropriate): HttpTrigger1
- Invocation ID:2(Succeeded, Id=5a326f70-0f7f-42c4-aae5-60f28c57c36e)
- Region:Central US

#### Repro steps

Provide the steps required to reproduce the problem:

1.

[2019-01-15 23:18] cts-shrahman commented on #3962
Here are the steps to reproduce it :

1.	Create IoT Hub
2.	Create a Function App
3.	Add portal based function
4.	Add an IoT Hub triggered function and connect to the above IoT Hub
5.	Change the default code as shown below

Default   Code
--
`
public static void Run(string myIoTHubMessage, ILogger log)
{
    log.LogInformation($"C# IoT Hub trigger function processed a message: {myIoTHubMessage}");

[2019-01-16 00:21] chuchuva opened #3964 "Profiling C# compiled functions"
It would be great to be able to profile a C# compiled function to see why it is slow.

Perhaps we could use App Insights Profiler? See https://stackoverflow.com/q/49449113/14131

[2019-01-16 01:39] RudyLu opened #3965 "Cold start time took more more than 10 secs with C# compiled + "Run from package" for Azure function v2"
#### Investigative information

Please provide the following:

- Timestamp: 2019-01-16 01:01:11.130
- Function App version (1.0 or 2.0): 2
- Function App name: test-vs-func
- Function name(s) (as appropriate): test_vs_func
- Invocation ID: 24594d05-f1bb-4840-8439-f0227fb02678
- Region: East Asia

#### Repro steps

Provide the steps required to reproduce the problem:

1. Compiled the sample app wit

[2019-01-16 01:49] ElliotWood commented on #3386
Manually creating the two files in the function root fixed my binding issue, files here:

**Directory.Build.targets**
[code]
**extensions.json**
[code]

Then run
[code]

[2019-01-16 06:45] SeriousM commented on #3386
This is a horrible situation. Any words from Microsoft about this issue
state?

[2019-01-16 06:49] Runamok81 commented on #2874
Okay, we still don't have this?  What can we do to help?

[2019-01-16 09:49] shareonline commented on #3386
I can't seem to get this to work. I have two other functions, and the only difference i can find is the httptrigger.
I'm only using EF Core in all functions, and only in my httptrigger function will the dbcontext not inject. Any idea to this?

[2019-01-16 12:29] beniamin-airapetian opened #3966 "ServiceBusTrigger is not triggered on topic message"
Hello,

Having issue with ServiceBusTrigger listening to topic subscription. Function app is not started by new message in subscription. When I try to open this function in Azure portal it starts and grabs all messages from subscription. After it is started everything works fine until 10 minutes period of idle. Function used to work as expected when it was in v2 preview, but after migration it is

[2019-01-16 21:05] mathewc commented on #3204
Related to https://github.com/Azure/azure-functions-host/pull/2355

[2019-01-16 22:21] #3868 closed

[2019-01-16 22:21] #3872 closed

[2019-01-16 23:49] ryancole opened #5373 "Allow discovery of functions in nested directories"
As far as I'm aware, the `func host start` command currently requires a directory structure in which the `function.json` files reside in directories that are siblings to the `host.json` - or the function project root. So, currently a directory structure something like ..

[code]

I'm familiar with the two config options for specifying script location and entry point, but those two still require th

[2019-01-17 02:48] paulbatum opened #3970 "Indexing errors are not added to error collection"
If you create a function app with a function that fails to index, (for example, have the function reference a non-existent app setting), then the indexing failure should be added to the function errors collection. This error should then be returned when accessing the `/admin/functions/myfunc/status` endpoint. Today in functions V2 this is not the case (this appears to be a regression compared to V

[2019-01-17 08:15] vladislav-mitev commented on #3349
@robdmoore, is the template deployment for the subscription still working for you? What you posted is what I can also find in the [documentation](https://github.com/Azure/azure-quickstart-templates/blob/master/101-event-grid/azuredeploy.json), but it does not work for me.
It fails with the following error:
_The template resource 'Microsoft.EventGrid/topics/myTopicName/providers/Microsoft.EventGrid

[2019-01-17 08:22] forki commented on #3854
still no update in Europe West!?

[2019-01-17 12:31] Cryan24 commented on #3854
Is there a time frame of the West Europe upgrade?

Also when will we have an updated version of the Tools for VS?

[2019-01-17 16:10] senthil-balunbcuni commented on #1587
![image](https://user-images.githubusercontent.com/31780529/51331770-6e2e3400-1a48-11e9-994f-4e49bbe2e31e.png)

I am seeing this issue again. My runtime version is (Runtime version: 1.0.12205.0 (~1))

[2019-01-17 20:19] alrod opened #3973 "Fix Java performance tests"

[2019-01-17 22:04] ffMathy opened #3974 "64 bit webjobs deployed to Azure App Service are not working"
I get the following error in the logs:

I am compiling as AnyCPU, but with the `dotnet.exe` 64 bit version.

The app service is running just fine on x64, but not the webjob.

Is this supported?

[2019-01-17 22:31] maiqbal11 opened #3975 "No logs when 500 caused by issue preventing function from being loaded"
_From @brettcannon on December 10, 2018 19:48_

If you have something like an unhandled `ImportError` that occurs at load time of your function code, the user gets a 500 (which is correct), but there is no log produced anywhere for that 500. In my case I had to realize that trying to execute the function manually may show some traceback issue. But otherwise nothing shows up in the streaming logs,

[2019-01-17 22:31] maiqbal11 commented on #3975
_From @priyaananthasankar on December 10, 2018 19:53_

Yes the logging.info isnt showing up even when functions is run inside a container,

[2019-01-17 22:31] maiqbal11 commented on #3975
_From @elprans on December 10, 2018 20:11_

Errors like the `ImportError` are reported by the worker via `FunctionLoadResponse`:

https://github.com/Azure/azure-functions-python-worker/blob/e03026773f57145530224ab3a918e321a2c3efb9/azure/functions_worker/dispatcher.py#L333-L340

We can double the `FunctionLoadResponse` with a `logger.exception()` there if that makes sense.

[2019-01-17 22:31] maiqbal11 commented on #3975
_From @asavaritayal on January 9, 2019 21:48_

Needs to be tested on both Linux consumption and dedicated.

[2019-01-17 22:31] maiqbal11 commented on #3975
The issue here is that we are not logging exceptions at the point where a function fails to load.  We log exceptions when the failed function is **invoked**. @brettsam is working on a fix that will allow logging to ApplicationInsights when these kinds of exception occur - currently the logger design has limitations that prevent this from happening.

[2019-01-18 01:02] paulbatum commented on #3945
@sadgit I would be very interested to get my hands on a repro for this behavior. I know it requires additional work, but have you attempted to put together a standalone repro that you can share?

My attempts to repro have not been successful. If I make a V2 app in visual studio with a C# timer trigger and have it throw an exception and run locally, I get output that looks like this:

[code]

I dep

[2019-01-18 01:12] paulbatum commented on #3945
I just remembered from the other issue you filed that you are using F#. I have not tried this. I would be surprised if it makes a difference, but thought I should mention this anyway. If you can reproduce this with some simple F# functions that would make life much easier!

[2019-01-18 01:52] paulbatum commented on #3932
Hello, sorry for the delay. I do not have any major breakthroughs to report, just a few quick observations.

Firstly, assuming that the platform would catch and handle most exceptions is a valid assumption to make. Thank you for filing the separate issue, I replied there.

I looked at the logs and could see your app running up until 1/16 18:00 UTC. I analyzed the logs for the last hour or so of ex

[2019-01-18 07:21] basilfx commented on #3512
We have the same problem. When the schedule is provided via an application setting, the function stops after a while (interval one hour). Our work-around is to use an additional timer trigger that runs every five minutes, and then it keeps running.

**Related information**
* Programming language used : C#
* Function App version: 2.0

[2019-01-18 10:02] RudyLu opened #3976 "Azure function v2 was not running (blobTrigger + javascript), without clear logging"
#### Investigative information

Please provide the following:

- Timestamp: 2019-01-18T09:42:37.613
- Function App version (1.0 or 2.0): 2.0
- Function App name: processApk
- Function name(s) (as appropriate):
- Invocation ID: 2d5b974c-6279-411c-b137-a22f46b9ce97
- Region: East asia

Log:
2019-01-18T09:42:37.613 [Information] Executing 'Functions.processApk' (Reason='New blob detected: apks/nimble

[2019-01-18 16:37] sadgit commented on #3945
@paulbatum - I have experienced this under two circumstances.

1. Timer trigger with failing HTTP request - deliberate exception raised in order to indicate host is down. This caused a Host restart. The Host restart is not visible in the AppInsights so difficult to spot and/or troubleshoot.
1. ServiceBus trigger with failing MySql sproc - deiliberate exception raised in order to attempt message re

[2019-01-18 20:14] balag0 opened #3978 "SyncTriggers fails for function apps with proxies"
System.ArgumentException : Could not determine JSON object type for type \u003c\u003ef__AnonymousType7`1[System.String].
    at Newtonsoft.Json.Linq.JValue.GetValueType(Nullable`1 current,Object value)
    at Newtonsoft.Json.Linq.JContainer.CreateFromContent(Object content)
    at Newtonsoft.Json.Linq.JContainer.AddInternal(Int32 index,Object content,Boolean skipParentCheck)
    at Newtonsoft.Json

[2019-01-18 21:57] mhoeger opened #3980 "Don't log RpcEvents"
There is a bug where we are logging RpcEvents when we shouldn't be (see code [here](https://github.com/Azure/azure-functions-host/blob/1727fd7a49424ff139074ed8c5311ba5d39e1030/src/WebJobs.Script/Rpc/LanguageWorkerChannel.cs#L91-L97
)). This is wasteful because of both the serialization step of the json message and the logging of the message.

Previously, we would only do this verbose, development-

[2019-01-18 21:58] tommyk commented on #3386
i followed what Fowler said [at](https://github.com/Azure/Azure-Functions/issues/972#issuecomment-439061767) and it started working on my machine (osx).  When I build and push to azure, it is not working with my custom extension (its an httpClient getting injected).  I checked the extensions.json and its is NOT empty on the server that is failing.  thoughts?!

[2019-01-18 22:07] mhoeger commented on #3980
FYI @brettsam

I think I will need your help to figure out how we can access the host.json property and/or the Developement setting in LanguageWorkerChannel. Would also love input on what logic you think would be best for verbose logging (intended for use while development, maybe has applications for customers?)

[2019-01-18 22:13] ahmelsayed commented on #3978
fixed in https://github.com/Azure/azure-functions-host/pull/3815

[2019-01-18 22:13] #3978 closed

[2019-01-18 22:50] dchristensen opened #3982 "Exception thrown in EfCore DbContext constructor with runtime >v2.0.12246.0"
The recent functions host release has caused my functions to no longer load.  Specifically my Entity Framework Core DbContext throws an exception when being constructed.

[code]

#### Investigative information

Please provide the following:

- Timestamp: 2019-01-18T18:26:29.7658124Z
- Function App version (1.0 or 2.0): 2.0
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:

[2019-01-19 01:36] balag0 commented on #2990
fixed.

[2019-01-19 01:36] #2990 closed

[2019-01-19 12:08] Dona278 opened #3983 "NetTopologySuite assembly not found"
With the latest release we are able to use NetCore 2.2 and relative EFCore 2.2 with all improvements and bugfixes (awesome!).
But I have a spatial query did with EFCore and new spatial's type present into `Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite` assembly and when I tried to use it I got:

[code]

Environment:
.NetCore: 2.2.1
Azure Functions Core Tools (2.4.249 Commit hash: c29620

[2019-01-19 21:33] irajbalakrish commented on #3411
Do you know if there's a newer API for ARM Templates that support fetching keys from the blobs yet ?

[2019-01-20 15:18] grootstebozewolf commented on #2960
Please reopen this as this is Guid as a parameter in the URL, not a Guid in the poco.

[2019-01-21 04:54] cgillum commented on #3621
Looks like this is a bug in the v5.8 Azure Storage Emulator: https://github.com/Azure/azure-storage-net/issues/810. Newer versions don't seem to have this issue.

[2019-01-21 04:54] #3621 closed

[2019-01-21 07:19] forki commented on #3854
it's working for me. I still don't think the root cause is fixed, but it's currently working.

[2019-01-21 07:19] #3854 closed

[2019-01-21 07:19] forki commented on #3854
thanks!

[2019-01-21 07:35] DaliborTakac commented on #3386
@tommyk The problem is not that extensions.json is empty, on server it contains only few built in stuff and none of the additional extensions you have in the project (including your custom http client). You can check this by creating a new empty AF project and building it so that extensions.json is created for it and compare against that.

[2019-01-21 07:42] fabiocav commented on #3854
The deployment completed on Friday (apologies for the delay, there were deployment issues we had to address)

[2019-01-21 07:46] forki commented on #3854
Would be nice to have some overview site where we can see the progress

Am Mo., 21. Jan. 2019, 08:42 hat Fabio Cavalcante <notifications@github.com>
geschrieben:

[2019-01-21 10:50] rob-hendrickx opened #3986 "Returning a RedirectResult with a URL causes NullReferenceException"
#### Investigative information

Please provide the following:

- Function App version (1.0 or 2.0): 2.0

#### Repro steps

1) Create a function app with a HTTP triggered function that returns a RedirectResult.
2) Run it on runtime version 2.0.12275.0

#### Expected behavior

Receive an HTTP redirect.
(it still works like this on version 2.0.12246.0)

#### Actual behavior

Receive an HTTP InternalS

[2019-01-21 12:11] volkancoskun commented on #2721
Any updates on this?  We are experiencing the same problem. @tohling

[2019-01-21 13:02] JohnGalt1717 commented on #3854
@fabiocav There is still no nuget package update showing up for me and this fails for the same reason in development. When can we expect the fixed nuget packages to arrive? We're blocked from a production release until this is fixed.

[2019-01-21 13:15] JohnGalt1717 commented on #3854
@forki  I would have assumed Microsoft.Net.Sdk.Functions would have been updated at the least.

Where does one get the updated runtime for VS.net so that it works again?

[2019-01-21 13:18] JohnGalt1717 commented on #3854
@forki It's the same issue. No one in their right mind would release to production without being able to test and verify locally.  This is still a blocker because we're never going to blindly trust and push code into Azure and hope it works with no way of being able to prove it first nor, I think, would anyone else. That's why everyone on here is asking where the Azure Function Tools fix is for th

[2019-01-21 13:33] JohnGalt1717 commented on #3854
@forki

Standard best practices (according to Microsoft!) development process:

1. Test locally
2. Test in a staging environment
3. Deploy to production.

I am not going to release code into an environment that is vastly more difficult to test against (dockerized functions are basically impossible to test inside azure!) and blindly trust my code. Just because I don't get any errors in staging does

[2019-01-21 13:40] forki commented on #3854
I think you might consider your wording here. You have strong opinions
about your workflow, but please don't assume people with otherwise
workflows are nuts.

Am Mo., 21. Jan. 2019, 14:33 hat James Hancock <notifications@github.com>
geschrieben:

[2019-01-21 13:53] forki commented on #3854
Btw: things are still working well locally and on azure if you avoid that asp.net 2.2 upgrade. So this is a legit workaround until the runtime bits are released properly.

[2019-01-21 13:53] JohnGalt1717 commented on #3854
@forki

Again, Microsoft's own best practices agrees with me.

And so do the people on here, almost all of which are asking for updated function tools.

Others might have more lax processes but that doesn't mean that they're right. It just means that they're willing to take risks that Microsoft themselves are not.

Please fix the entire bug and not just half of it.

[2019-01-21 13:54] oacsed commented on #3854
@forki
The thing is, the bug _as a whole_ is not yet fixed. Consider someone trying to develop an Azure Function with the latest version of packages/tools/sdk available. It just won't work. Even with the most basic "hello world" example one can find.

If you can't debug locally, it is actually broken.

The frustration is high here, because such issues are unfortunately wayyy to common with Azure a

[2019-01-21 13:55] JohnGalt1717 commented on #3854
No, avoiding asp.net 2.2 or even 2.2.1 that just came out that the fix may not work with either, is not a valid work around.

We have specific features that require 2.2.x AND the functions share said code.  So in a simplistic hello world, your assertions may be correct, but in the real world projects aren't isolated and interact.  That's why functions must always be synchronized with releases of t

[2019-01-21 14:16] forki opened #3987 "Please clarify how to install current functions runtime in local tools"
When I download the core tools it seems to ship with an outdated functions runtime:

![image](https://user-images.githubusercontent.com/57396/51479746-77443b80-1d8f-11e9-9950-529feb4f3347.png)

https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12265 states that "This release has been made available to Visual Studio users." - how can we install it locally?

discussion in https://githu

[2019-01-21 14:16] benc-uk opened #3988 "Functions no longer working under WSL (Ubuntu 18.04) gRPC errors"
Using WSL and Ubuntu 18.04. Running func start results in gRPC errors
[code]
This happens in my existing Function project (Node.js) and also creating a empty new project with func init and immediately running func start

Versions
Function CLI version: 2.3.199 (Installed with apt package)
Node version: 8.15.0
Dotnet Core version: 2.1.503
Windows 10 version: 1809
WSL distro: Ubuntu 18.04.1 LTS

## R

[2019-01-21 14:18] forki commented on #3854
@JohnGalt1717 "We have specific features that require 2.2.x AND the functions share said code" - I#d argue that's the real problem here. With paket as dependency manager you can use dependency groups and untangle that stuff. Please don't assume everyone else is a noob and only works with toys.

Anyway I openend that issue for you https://github.com/Azure/azure-functions-host/issues/3987

[2019-01-21 14:30] jsmith50-sc commented on #3986
Getting the same here as well after the 2.16 update possibly.

[2019-01-21 14:51] 7sharp9 commented on #3987
@JohnGalt1717  Maybe use your Azure Support Plan if this is of critical importance and you need an SLA.  Shouting to the wind achieves nothing.

[2019-01-21 15:02] JohnGalt1717 commented on #3987
@7sharp9 this isn't azure now. This is the Functions development team...

[2019-01-21 15:25] 7sharp9 commented on #3987
Yeah I know, but like it or not if you read the repos readme they are pretty clear there is no SLA to fix anything :-(

[2019-01-21 15:27] JohnGalt1717 commented on #3987
@7sharp9 I know, but this isn't really fixing anything. This is keeping the platform in sync with the .NET Core runtime which is a non-optional requirement for this tool to be useful.

[2019-01-21 19:59] tommyk commented on #3987
man, azure functions has been wasting my time for quite some time.  i decided to update to the official 2.0 runtime and i been debugging problems for a few days now.  i got my very simple extension code booting up and it runs locally, but when i push to azure its not working.  after lots of poking, here i am in a thread about a mismatch currently between the CLI tools and azure.  i am running the

[2019-01-21 20:40] sm1th commented on #3211
Still having an issue with this. I have to put DOTNET_RUNTIME_ID in my local.settings.json

[2019-01-22 07:15] forki commented on #3854
@johngalt1717 part of the advantage of using FaaS is that we can deploy parts of the system independently. This requires that function apps are as independent as possible. If you treat them like a monolith and share binaries between all the parts then you lose that property. Since functions and other parts of the dotnet framework have different release cycles you will automatically find yourself i

[2019-01-22 08:02] trydis commented on #3986
We have a similar issue when returning a `RedirectResult` with a string, ends up with an internal server error. It works when pinning to `2.0.12246.0`.

[2019-01-22 10:32] oacsed commented on #3854
@forki

My personal opinion is that we moved from a DLL hell to a package hell / nuget hell. I think the whole stuff is a huge mess. There is not a single time I fear my whole solution will break hard when I upgrade a nuget package / sdk / runtime / tool / anything from a version to another. There are countless bugs everywhere due to incompatibilities between versions. I stopped using Service Fabr

[2019-01-22 11:00] Cryan24 commented on #3854
100% this.

I am an early adopter in my organisation (trying to champion the use of Functions internally), it is easy to say academically that it is great that the Azure libraries are separated etc.. but the reality for those of us  who are the consumers is that the lack of communication and planning across the Azure Teams is punishing us when we update our solutions to use what we expect is a sta

[2019-01-22 11:06] tjgalama commented on #3986
yep, also are running into this problem.

[2019-01-22 11:12] forki commented on #3854
FTR: I don't have any affiliation with Microsoft. I'm a consumer or "actual developers that use the product" as well. I'm just saying that going to the cloud needs to change mindset - this is in no way academic, this is just the nature of this thing. I agree with all of you that the team needs to do better here and that missing binding redirects is just a nightmare. But it's equally important for

[2019-01-22 12:08] tjgalama commented on #3986
it looks like Type *UrlHelperBase* in *Microsoft.AspNetCore.Mvc.Core,
Version=_2.2.0.0_* (previous runtime used 2.1.0.0) requires the `ActionContext.RouteData` to be set.
Since this property is null the `NullReferenceException` occurs.

This *ActionContext* instance is passed within the call-stack, but is created within method:
*Microsoft.Azure.WebJobs.Script.WebHost.Middleware.FunctionInvocationM

[2019-01-22 12:43] JohnGalt1717 commented on #3854
@forki

Fact: If you want to have major issues, have the same database model described by EF Core twice separately.

Thus there is absolutely no way to NOT include at the very least your DAL with functions if you are accessing your database, which you almost certainly are.

THUS.

Functions MUST always be aligned with the release of .NET Core.

FACT: Microsoft's own best practices say you're wrong

[2019-01-22 13:13] oacsed commented on #3854
I'm equally frustrated as you are and I can feel the weariness too with all those version issues, but try not to be personal against @forki

This issue really is a PITA, but he doesn't work for MS and his post https://github.com/Azure/azure-functions-host/issues/3987 is actually useful for everyone as it's the best chance they fix this whole thing.

[2019-01-22 13:33] JohnGalt1717 commented on #3854
@oacsed  You're dropping causality. Read the thread. @forki started the insults directly against me. I'm simply putting him/her in his/her's place.

[2019-01-22 13:38] forki commented on #3854
What? Where did I insult you? That would never be my intention. I just statedI think that part of the issue is treating cloud infrastructure like a monolith.

[2019-01-22 14:01] NRKirby opened #3989 "Azure functions app runtime is .NET Core 2.1"
#### Investigative information

- Version 2.0

#### Repro steps

- Run the application

#### Expected behavior

- The runtime should be 2.2

#### Actual behavior

- The runtime is 2.1

#### Related information

Screenshot of the console when the app is running:

![azure functions runtime](https://user-images.githubusercontent.com/6445534/51540359-22b3c580-1e4e-11e9-9f19-8c57b12f1403.jpg)

[2019-01-22 18:09] cartermp commented on #3854
I'd like to point out that this repository is governed by the Microsoft code of conduct: https://opensource.microsoft.com/codeofconduct/

Please refrain from insults towards other people who use this repository, thank you.

[2019-01-22 18:24] fabiocav commented on #3854
To get back to the original topic, the Core Tools update was released on Friday (when the deployment completed) for VS. NPM, brew and other repositories are being updated as well.

[2019-01-22 19:17] rob-hendrickx commented on #3986
@tjgalama Indeed, we noticed that that was the origin of the exception aswell. We created a workaround by creating a derived type of StatusCodeResult and generating a Redirect there. But your workaround is cleaner IMO. Well it works, so we'll leave it as is.

[2019-01-22 19:17] rob-hendrickx commented on #3986
Closed by accident

[2019-01-22 20:36] dersia commented on #3854
I guess I have mentioned this a few times in person to several people. The only way I see for the binding redirect issue and other updating issue to be fixed is in a bring your own worker version that is not dependent on a specific sdk.

I know of course, that this needs some more dev work and will probably bring some other downsides, but I guess there is no real other solution than that.

I'm hap

[2019-01-22 21:13] jeffreywstevens commented on #3966
I am having same issue with Service Bus Triggers as well as Event Hub triggers.  Work great after deployment until queue or event hub depletion and goes idle.
Then the functions aren't real-time.  This is not viable for production notifications.  Will have to fall back to always on webjobs.

[2019-01-22 21:40] fabiocav opened #3990 "Profile language worker function dispatching"
Opening this track the performance analysis work on for out-of-proc language worker invocations to help us understand and prioritize improvements in this area.

[2019-01-22 21:41] fabiocav commented on #3990
FYI @mhoeger @pragnagopa @alrod
We'll likely have this assigned to the next sprint to help us scope the work.

[2019-01-22 21:47] pragnagopa commented on #3990
Issue https://github.com/Azure/azure-functions-powershell-worker/issues/127 has more details from @daxian-dbw

[2019-01-22 21:47] pragnagopa commented on #3934
Closing in favor #3990

[2019-01-22 21:47] #3934 closed

[2019-01-22 21:47] fabiocav commented on #3854
@JohnGalt1717 the download is automatically handled if using VS, for the other channels, the update is now available on NPM and Homebrew. You can find installation instructions here: https://github.com/azure/azure-functions-core-tools#installing

@dersia the answer for a `custom worker` (mentioned in some of the previous threads on this topic) is actually to leverage the out-of-proc infrastructure

[2019-01-22 21:49] fabiocav commented on #3990
We need to profile this code in isolation as well, to identify problems impacting all language workers. We'll likely start there.

[2019-01-22 21:52] dersia commented on #3854
@fabiocav

I am aware of that, but I think it actually needs some extra work and a way to bring your bring in your custom worker into the host runtime something like we can do today with custom binding extensions.

But I guess this is a topic for another discussion and not for this one 😉

[2019-01-22 21:53] fabiocav commented on #3987
The latest release is now up for VS/VS Code, NPM and Homebrew.

@tommyk can you please open a separate issue if you continue to run into problems there?

[2019-01-22 21:53] #3987 closed

[2019-01-22 23:59] paulbatum commented on #2667
So a few different things were discussed in this issue:
1. MaxConcurrentCalls was not working as expected https://github.com/Azure/azure-functions-host/issues/2828 - this is now fixed
2. The platform has a feature for controlling how many instances your function app runs on, but it does not work in some edge cases and so it is still a preview feature https://github.com/Azure/azure-functions-host/i

[2019-01-22 23:59] #2667 closed

[2019-01-23 00:10] paulbatum commented on #3411
@irajbalakrish not yet but we are actively working on this. Its part of an effort to address several issues with working with function apps through ARM. The scope is somewhat large, so I expect its still a few months away.

[2019-01-23 00:47] ahmelsayed commented on #3988
/cc @pragnagopa

[2019-01-23 01:45] iwaldman commented on #3795
I experienced the same issue.  Thank you @cgillum for the workaround.

[2019-01-23 03:54] iwaldman commented on #3568
@bartdk-be Same here

[2019-01-23 06:52] forki commented on #3987
@fabiocav thanks for releasing it, but this issue was more about asking for docs on how to install the bits manually in order to test the runtime before it ships.

[2019-01-23 09:17] oatsoda commented on #3900
Response from Microsoft support:

https://msdn.microsoft.com/en-us/magazine/mt793270.aspx
 
Now, you are actually still running with the legacy implementation. In order to move to the new implementation, you need to just go to the “IP Restrictions” blade; the update will be done automatically. And I would be grateful if you let me know when you do this, so as I can confirm the new implementation i

[2019-01-23 09:17] #3900 closed

[2019-01-23 13:18] opyke commented on #3795
I am also experiencing this issue. Using the workaround.

[2019-01-23 13:23] FlippieCoetser opened #4063 "Blob Trigger Throw OutOfMemoryException"
#### Description of Issue and steps to reproduce
Using default Blobtrigger type Azure Functions App:
1. Using a large file: 100Mb
1.1. Start debug in VS Code
1.2. Add file to Azure blob storage container
1.3. Blobtrigger app throws an OutOfMemoryException.
![image](https://user-images.githubusercontent.com/3672126/51608121-e5673a80-1f16-11e9-99a1-215b29f96f43.png)

2. Using a small file: 1Kb
2.1.

[2019-01-23 13:47] brettsam commented on #3986
@mathewc / @fabiocav -- could one of you look at this? Seems to be hitting a few people. @tjgalama's investigation above indicates it's a breaking change in ASP.NET 2.2. Is there any way we can work around this?

[2019-01-23 16:42] pragnagopa commented on #3990
grpc has some guidance on benchmark testing: https://grpc.io/docs/guides/benchmarking.html

[2019-01-23 16:45] pragnagopa opened #3992 "Send grpc large messages in chunks"
Recommended approach to send large messages via grpc is to send messages in smaller chunks.  There is a known perf impact when sending a single large message even though not officially documented.

Note: This is a prerequisite for adding stream support for out-of-proc languages.

[2019-01-23 18:46] mathewc opened #3994 "Expand/Improve Functions ARM APIs"
Expand the set of Functions ARM APIs to cover scenarios that aren't possible currently via ARM. Another goal is to support the migration of the Functions portal to ARM apis solely, rather than accessing Kudu/Runtime APIs directly.

Some operations are already supported by existing ARM APIs even though the portal isn't using them currently. The new APIs needed include:

- host key apis (/host/keys)

[2019-01-23 19:14] fabiocav commented on #3989
@NRKirby this is the default from the template, but the runtime is on .NET Core 2.2. You can upgrade your project to target .NET Core 2.2

We intend to provide templates targeting 2.2, but this will come as a later update and is not tied to the runtime.

[2019-01-23 19:16] #3988 closed

[2019-01-23 19:19] fabiocav commented on #3983
Do you have a small repro that could assist investigation here?

[2019-01-23 19:21] fabiocav commented on #3982
@dchristensen would you be able to provide a basic repro for this?

[2019-01-23 19:32] fabiocav commented on #3973
Ok. Done.

[2019-01-23 19:32] #3973 closed

[2019-01-23 21:34] fabiocav commented on #3766
@mattchenderson , marking this as blocked, pending validation. Moved to sprint 42, but please let us know if it should be moved to another sprint

[2019-01-23 21:41] gdodd1977 commented on #3854
So is that claim here that the latest version of core tools eliminates this issue in regards to having to downgrade EF core?

[2019-01-23 21:51] EricJizbaMSFT commented on #3635
ping @asavaritayal @dariagrigoriu

[2019-01-23 22:33] daxian-dbw opened #3995 "The 'dataType' setting for the 'blobTrigger' binding in function.json is not respected"
While playing with `blob` and `blobTrigger` bindings with PowerShell, I found the `dataType` setting in the `blobTrigger` binding is completely ignored by the host. The data sent to the worker is always of the `Bytes` type.

At the meantime, For the `blob` input binding, settings `string` and `binary` for `dataType` are respected, but not `stream`. When using `"dataType" : "stream"`, the data sent

[2019-01-23 22:37] daxian-dbw commented on #3921
Today, the `FunctionLoadRequset` message doesn't contains anything related to the `dataType` setting defined for a input binding in `function.json`. This really not convenient for the worker to do some pre-validation on the scripts. It would be great if we can have this information baked in the protocol.

[2019-01-23 22:57] #3636 closed

[2019-01-23 23:18] maiqbal11 opened #3996 "Resources for E2E Powershell Worker Testing"
Creating resources for E2E testing in the Powershell Language worker. Will need to recreate the resources we are currently using for runtime E2E testing.

[2019-01-23 23:18] maiqbal11 commented on #3996
\cc @TylerLeonhardt

[2019-01-24 00:22] fabiocav opened #3997 "Sprint 41 V1 release"
Issue tracking deployment work/activities for the V1 changes made in sprint 41

[2019-01-24 02:13] #3710 closed

[2019-01-24 02:27] hannesne opened #3998 "Using %2f in custom routes returns 404 when deployed to Azure"
#3916 Is supposed to fix using a + character in custom routes.

This problem still exists in version 2.0.12275.0 of the runtime host when using the "/" character, escaped to %2f.

For instance, I have a function that returns a message specified in the route.
Locally calling `http://localhost:7071/api/Echo/my%2fmessage` works fine. When deployed to Azure `http://hannesechocsv2.azurewebsites.net/api

[2019-01-24 11:08] jason-system1 commented on #3866
I can confirm that I'm getting this issue when developing against a local WebAPI project that makes Azure calls to Azure Function endpoints. The error "Attempted to read past the end of the stream" is thrown from the Azure Function.
Annoyingly, this issue happened more often than not, but did work sometimes. I'm taking the approach that this is not fixable within my domain and that once the WebAPI

[2019-01-24 11:54] synercoder opened #4000 "Http function content encoding not working"
We created a small function to serve some images (logo's) and some scripts for cookie notice purposes. This we deployed to Azure Functions so it can serve multiple websites from a single endpoint. But now the site take a hit in page speed because the content from Azure Functions is not served using content-encoding (for example GZIP).

We tried to look for an answer and the closed we could find wa

[2019-01-24 13:19] beniamin-airapetian commented on #3966
It makes Servise Bus Trigger useless. Looks like critical problem.

[2019-01-24 13:47] torhovland commented on #3854
@fabiocav This issue isn't quite solved yet. Although I also run on West Europe, like @forki, I'm still on version 2.0.12246.0, the one that doesn't work. Hence, I still get:

[code]

[2019-01-24 14:01] forki commented on #3854
@torhovland did you restart your function app?

[2019-01-24 14:02] torhovland commented on #3854
@forki Thanks for the hint. I just figured that out, and updated my comment above :-)

[2019-01-24 16:56] artemious7 opened #4001 "Lots of admin/host/ping HTTP 405 errors in /LogFiles/DetailedErrors"
#### Investigative information

- Timestamp: **Jan 15, 2019 until Jan 23, 2019, 21:56 UTC**
- Function App version (1.0 or 2.0): **1.0**
- Function App name: **jwtelegabotbeta**
- Function name(s) (as appropriate): -
- Invocation ID: -
- Region: **North Europe**

#### Repro steps

Enable detailed logging in the Function app
1. Go to Function app portal on Azure.
2. "Platform features" tab. Go to R

[2019-01-24 18:22] arichiardi commented on #3930
I see there is a new version, `2.0.12285`, is this problem fixed in there?

[2019-01-24 19:58] alrod commented on #3000
This is only reproducible for V1. For V1 we explicitly load WebHooks receivers:
https://github.com/Azure/azure-functions-host/blob/v1.x/src/WebJobs.Script.WebHost/App_Start/WebApiConfig.cs#L73

[2019-01-24 19:58] #3000 closed

[2019-01-24 21:09] pragnagopa opened #4004 "[Placeholder]Implement FileChangeEventRequest"
FileChangeEventRequest is defined here:
https://github.com/Azure/azure-functions-language-worker-protobuf/blob/73896fd4bf1ec13183ad638e80e3d5a9c19c58cb/src/proto/FunctionRpc.proto#L142

This is a requirement to enable placeholders for scripting languages - node, powershell and python

cc @asavaritayal

[2019-01-24 21:20] JohnGalt1717 commented on #3168
This is now erroring if you dare use .NET Core 2.2.1

When is functions going to be fixed so that it reliably works with new versions especially point releases?

[2019-01-24 21:22] Angr1st opened #4005 "Support F# 4.5"
I am trying to build a precompiled F# Azure Function while doing that I noticed that the Nuget Package Version that you have to use for FSharp.Core (4.2.3) seems to be 1+ years old. Do you have a plan of updating the version to something more recent in the near future?

[2019-01-24 21:26] fabiocav commented on #3168
@JohnGalt1717 can you please open an issue with details on the error you’re seeing?

[2019-01-24 21:31] arichiardi commented on #3930
Yeah well that would require a revamp on our side :smile: I guess we will stick with the old version for now

[2019-01-24 21:32] JohnGalt1717 opened #4006 ".NET Core 2.2.1 + EF Core 2.2.1 causes load errors"
- Function App version (1.0 or 2.0): 2

#### Repro steps

Create a jobs project in vs.net and link it to an EF Core Data Class library that has a context that implements IdentityContext.

Get a context in your function something like this:

[code]
It will error on: var dbBuilder = new DbContextOptionsBuilder<dbCTxName>(); with a type loader error.

#### Expected behavior

Azure Functions and the f

[2019-01-24 21:33] JohnGalt1717 commented on #3168
@fabiocav see #4006

[2019-01-24 21:35] arichiardi commented on #3930
It also would seem like the format of the messages would change with `context.log` and this means I would need to tweak the Application Insights queries as well. It all adds up.

[2019-01-24 22:41] pakrym commented on #3986
cc @pranavkm

[2019-01-24 23:53] arichiardi commented on #3930
Apparently my pin has been unpinned (like in chess!). @brettsam do you happen to know what happened?

The only thing I can see is:

![2019-01-24-154609_751x153_scrot](https://user-images.githubusercontent.com/1724788/51716045-08195200-1ff0-11e9-9443-b69c32e8d04f.png)

It stopped working around an hour ago, which is the time I spent trying to understand if I was doing something wrong on my side.

[2019-01-24 23:57] balag0 opened #4007 "Allow function app with no functions."
https://github.com/Azure/azure-functions-host/blob/12d3f4b976b03035c2ce93030f414d9a613bc523/src/WebJobs.Script/Utility.cs#L442

This check throws an exception if FUNCTIONS_WORKER_RUNTIME is set, but there are no functions deployed with that language.

Exception should only be thrown if the deployed functions language doesnt match FUNCTIONS_WORKER_RUNTIME.

[2019-01-25 00:38] brettsam commented on #3930
Unfortunately, it looks like this build was removed last week (I wasn't aware) and it must have just hit you.

Can you share your App Insights queries that may break? The way we log console.log() has a different Category name, but the log details should be very similar.

[2019-01-25 01:51] arichiardi commented on #3930
Thank you for your answer, you might be right, it might be not that much work but it definitely is extra work that our team didn't anticipate for such a basic functionality that IMHO any platform should provide without a hitch.

Sorry for venting out to you, we are in contact with support so I will stop flooding this thread.

Cheers

[2019-01-25 02:05] pragnagopa opened #4009 "Capture user logs from out-of-proc language async functions"
If function code tries to log after function invocation completes, for example:
[code]
Log "func done" is lost and host does not have an execution context to log to user logs

[2019-01-25 09:00] nidewa opened #4010 "Azure function referencing a project with System.Net.Http - compilation failure - version mismatch"
Hi team,

I am seeing a strange behavior while working on an Azure function.

Project 1 – Web API project (target framework - .NET 4.6.1) that has reference to System.Net.Http version from the VS2017 build extension path as below

![p1](https://user-images.githubusercontent.com/29931952/51734669-12f8d480-203a-11e9-92bb-0fce657df022.png)

Project 2 – Azure Function (target framework - .NET 4.6.1) t

[2019-01-25 09:29] CreditDataResearch opened #4011 "ILB ASE deployment: "The Function Runtime is Unable to Start""
Cross-posted from https://stackoverflow.com/questions/54351036/what-would-prevent-the-azure-function-runtime-from-starting-in-an-ilb-ase-deploy/54358222#54358222

- ILB ASE with function app.
- JumpBox configured with the custom domain in its HOSTS file and set up to trust my self-signed certificate for both the _function.custom_ and _function.scm.custom_ domains
- Function storage accessible
- CO

[2019-01-25 12:03] JonCanning commented on #3775
Any progress on this?

[2019-01-25 12:12] skyskyskyblue opened #4012 "Delays in durable function picking up queue message"
We are using a WebAppService .Net API to send the message to the queue(velappity-pdf-documentqueue), which then is picked up by the Durable FunctionApp (velappity-test-pdfconverter). We have noticed that sometimes the function app picks up messages immediately and other times it takes hours to pick it up. For instance, we created two messages in the queue, and the first one was picked up soon afte

[2019-01-25 13:56] timmkrause opened #4013 "MSDeploy fails in Azure Release Pipeline b/c App Offline fails"
#### Investigative information

- Timestamp: See log
- Function App version (1.0 or 2.0): 2.0

#### Related information

[code]

[2019-01-25 19:43] brandonh-msft opened #4014 "Cannot launch multiple func.exe's on different ports locally"
I've got a solution with multiple Function **apps** in it (so I can deploy each to a separate function app and scale each independently in Azure)

To test the interoperability of these locally, I configure each's Debug settings using the `-port` switch:

!["default" function app, expected port 7071 gets used](https://user-images.githubusercontent.com/20270743/51768188-76afeb80-2094-11e9-91fc-6db26

[2019-01-25 20:06] brandonh-msft commented on #4014
So the fix here - and I'm going to leave this open because I believe the experience could be improved - is to use `start -port <port>` in the debug settings; notice the add of `start` to the arguments.

I don't feel this is intuitive to the end user as if I'm debugging a function _of course_ I'm going to want to `start` it and the `start` parameter isn't in the debug params to begin with. Therefor

[2019-01-25 20:17] balag0 opened #4015 "Linux consumption dotnet apps include warmup function post specialization"
Create linux consumption app with dotnet language worker.
After specialization ListFunctions returns WarmUp along with other user functions.

Warmup function should never be accessible to the user.

[2019-01-25 21:00] mieliespoor opened #4016 "Always on App shutting down after some inactivity"
Function App Version:   **~2**
Function App Name:   **Oneref-Functions**
Region:    **North Europe**
Always On:   **True**
App Service Plan:  **B1**

I have a number of functions in the app that need to monitor storage queues and then process these as soon as messages arrive on the storage queues. However it appears that the function app shuts down at some point after no activity and I have to the

[2019-01-25 22:06] #3986 closed

[2019-01-25 22:08] mhoeger commented on #4009
I made a PR here to do this in the node worker, but it might be better to revert that change and have the warning here..!
https://github.com/Azure/azure-functions-nodejs-worker/pull/156

[2019-01-25 22:25] balag0 opened #4017 "Add retries when downloading blob contents during specialization"
Accessing the zip from storage blob fails with
System.Net.Http.HttpRequestException : Resource temporarily unavailable ---\u003e System.Net.Sockets.SocketException : Resource temporarily unavailable

  Need the retry in 2 places.

https://github.com/Azure/azure-functions-host/blob/986f6fe60d6017ed11a74fe7ebace29e7b5120d2/src/WebJobs.Script.WebHost/ContainerManagement/LinuxContainerInitializationHo

[2019-01-25 22:25] mhoeger opened #4018 "Optionally log RpcEvent (strictly for development)"
As we mention [here in the wiki](https://github.com/Azure/azure-functions-host/wiki/Authoring-&-Testing-Language-Extensions#logs), we should be able to set a host.json configuration (likely in combination with an app setting/environment variable) to allow for verbose debug logging. This debug logging should be strictly for authors of Azure Functions language extensions

[2019-01-25 23:40] #3980 closed

[2019-01-26 01:53] ColbyTresness commented on #3826
@fabiocav @maiqbal11 Can we prioritize this for next sprint? I'd also like to emit a metric if no language worker startup was necessary, to indicate that Stack is .NET.

[2019-01-27 10:39] LarsSimonsen commented on #2128
I have a CDN with a custom domain pointing to a Function App (Proxies). When I enable HTTPS Only on the Function App, the client is redirected to HTTPS on the Function App, not HTTPS on the custom domain attached to my Akamai CDN. And the CDN doesn't support HTTPS Only. Please consider reopening.

[2019-01-28 14:34] jmezach commented on #3736
I know that this isn't quite ready yet, but since Instance methods are now supported with the recent deployment I figured I'd give it a try. From what I can tell it seems to be working quite well already, except for scoped services.

In my project I added a Startup class, that implements IWebJobsStartup and I added the WebJobsStartup assembly level attribute. I also had to switch the target framew

[2019-01-28 19:26] brettsam opened #4021 "EventGridExtension can return 404 if called before host is fully started"
Similar to #3825, but opening a new issue to reduce confusion.

Note that this affects v1 and v2.

Specifically, the EventGrid extension can return a 404 on the initial request if the host is only `Initialized` and not yet `Started`. My notes from the incident:

------
 This looks like a race in the EventGrid extension. For this specific incident (https://icm.ad.msft.net/imp/v3/incidents/details/1

[2019-01-28 20:55] pragnagopa opened #4022 "Handle jobhost restarts on specialization even if jobhost is in middle of restarting"
If a call for specialization comes while the jobhost is restarting,  site continues to use placeholder content instead of user site content.

This results in 404s on any httptriggers if worker runtime is not set. 503s if worker runtime is set to any language other than dotnet as we explicitly throw HostInitialization exception if there are no functions that match worker runtime.

[2019-01-28 22:45] safihamid commented on #2128
@LarsSimonsen One workaround here would be to configure your custom domain in App Service rather than CDN then 'Https Only' would work with custom domains as well.

[2019-01-29 01:50] antlhuede commented on #1846
I think the question of "How is this by design" still applies, and no one has actually answered that.

Pretty ridiculous to lock out all other function types, seems like a lazy oversight more than anything.

[2019-01-29 01:57] paulbatum commented on #1846
@antlhuede please see here for the most up to date info:
https://docs.microsoft.com/en-us/azure/azure-functions/disable-function

In functions V2 we introduced a mechanism based on app settings that allows you to disable functions without requiring usage of the disabled attribute discussed above.

The behavior described above is "by design" for V1 because that is how disabling was implemented in V

[2019-01-29 02:03] mathewc opened #4023 "Host Initialized state never set"
In v1 we have a HostInitialized ScriptHostState that is set when all functions for the host are fully indexed but before listeners are started. This allows direct invocations to happen in parallel with listener startup. Listener startup can take a while, so it's beneficial to not block direct invocations (e.g. portal invocations, Http, WebHooks).

However, it appears that in the move to v2 some of

[2019-01-29 02:32] mathewc commented on #4022
Potentially related to https://github.com/Azure/azure-functions-host/issues/4015? @balag0 tested and verified that it seems this regressed recently.

[2019-01-29 06:11] danielstocker commented on #3767
@fabiocav @paulbatum

Could you share the recommended workaround that was shared offline here, please?

[2019-01-29 17:17] maiqbal11 commented on #3996
Resources created and being used for https://github.com/Azure/azure-functions-powershell-worker/pull/139

[2019-01-29 17:17] #3996 closed

[2019-01-29 18:25] maiqbal11 commented on #3921
Completed in https://github.com/Azure/azure-functions-language-worker-protobuf/pull/23. Also updated for host in https://github.com/Azure/azure-functions-host/pull/4008 and Python worker in
 https://github.com/Azure/azure-functions-python-worker/pull/300

[2019-01-29 18:25] #3921 closed

[2019-01-29 20:54] pragnagopa opened #4026 "[placeholder] Specialize language worker if worker runtime is not set"
For specializing a language worker that is started in placeholder mode, functions host relies on  FUNCTIONS_WORKER_RUNTIME to figure out the language for an app. If this app setting is not set, language worker is not specialized.

All the tooling has been updated to set this app setting. We need handle apps that are deployed via ARM and do not set this app setting. Either
- Disable placeholders fo

[2019-01-29 21:22] SurushS commented on #3361
if you want more info, add this to the host.json file. Trace is the lowest level so maybe 'Information' is sufficient. I forgot what the default level is.

[code]

You also have to enable console logging. I prefer to do it through Environment variables so just add this when starting your container as environment variable.

[code]

Result will be something like this:

![functions-example](https://u

[2019-01-29 21:32] danielzoeller commented on #3919
No, I never figured it out.  I narrowed it down to a nuget problem (I think) but I ended up having to basically wipe my machine and reinstall everything (vs2017, .net core, etc).  It was as if my development machine had become very confused on where to look for nuget packages.

[2019-01-29 23:01] pragnagopa opened #4027 "[RPC]Implement InvocationCancel"
Need to implement [InvocationCancel ](https://github.com/Azure/azure-functions-language-worker-protobuf/blob/ed55563d9d83ca78c1d268aaf9e8deda1ee51cd2/src/proto/FunctionRpc.proto#L64
)
This specifically impacts language workers that start in placeholder mode as language worker process will not restart as part of jobhost restarts.

From issue #1319,
TIMEOUT
A language worker should handle Function t

[2019-01-29 23:33] #3930 closed

[2019-01-29 23:51] ahmelsayed commented on #4014
can you try `--port` or `-p`? I think `-port` won't match any flags.

[2019-01-30 00:11] tohling commented on #4011
@CreditDataResearch, thank you for opening the issue. I will investigate and update the thread when I have more information.

[2019-01-30 02:38] aarondandy opened #4030 "HttpResponseMessage resulting in OutOfMemory writes guid values to response stream with 200 OK"
OutOfMemoryExceptions (assumed, could also be a timeout, no idea, lets just call it a failure) causes a guid to be written to the response buffer in the event of a failure along with an 200 OK response. This issue is not about an OOM error but is about the behaviors when an OOM occurs.

#### Investigative information

This seems to be related to the exception occurring _after_ my function has comp

[2019-01-30 02:50] aarondandy opened #4031 "Response stream buffering behavior causes OutOfMemoryExceptions for large responses"
When returning large (100MB+) responses OutOfMemoryExceptions occur.

#### Investigative information

Can reproduce locally.

#### Repro steps

[code]

1. Create the above .NET Core function.
2. Invoke 3+ requests
3. Watch the world burn 🔥 (Note: may collide with Comcast data caps)

#### Expected behavior

I expect the file to stream in chunks to my browser and not throw any OutOfMemory exceptions

[2019-01-30 02:50] aarondandy commented on #4031
This is related to #4030

[2019-01-30 10:05] asgasos commented on #3903
Hi @paulbatum, any news on this?? There's been a few releases in the last week or so, but can't see it's been fixed...

Thanks!!

[2019-01-30 10:14] peterpedron opened #4032 "Binary HTTP body payload containing a protbuf message is converted to UTF8 string"
Function app version: 2.0
Timestamp: now

**Setup**
The task of my azure function, implemented in Javascript/node, is to decode a serialized protobuf message. In the node function body, the protobuf node library 'google-proto-files' is used.
Therefore, an invoking caller sends an HTTP POST request to my azure function endpoint, containing:
- http method: POST
- header Content-Type: *application/x-

[2019-01-30 15:43] guru98 commented on #3784
with 3.0.3 and 9.3.3 the issue is still there. Any clue when it will be fixed?

[2019-01-30 17:32] fabiocav opened #4033 "Trigger change detection and automatic synchronization"
The runtime should be enhanced to:

- Detect trigger configuration changes
- When changes are detected, automatically trigger a synchronization with the scale controller to ensure trigger information is up to date

This work will address a class of issues where the scale controller doesn't get notified of trigger changes, leading to activation failures.

[2019-01-31 00:37] ishepherd opened #4034 "Which .NET Core platforms do I need to support for Functions 2.0 in App Service?"
I am running .NET Core 2.1 on Functions 2.0 on Azure App Service.

My packages include the following files.
If I could prune directories I don't need, I could reduce the size by >40%
Presumably I can prune 'linux', 'osx', ...?
Which platforms do I actually need?

[code]

[2019-01-31 04:37] asavaritayal commented on #3875
I think `rawBody` should actually be the default. With the pretty printing in the current HTTP request  body, other fields such as `Content-Length` become inaccurate as well, leaving the users to decipher these fields all over from the raw input.

Adding a few others to ack in case there is v1 history here :) @fabiocav @mathewc @pragnagopa @maiqbal11

[2019-01-31 07:14] kun-attila commented on #3493
I'm facing this issue too. Dequeuing a message frequently takes way more time than processing it.

[2019-01-31 08:42] TechWatching commented on #4033
Does this mean that for now updates to timer trigger configuration are not correctly taken into account ? It could explain some strange behaviors I have.

If I change a timertrigger cron expression in the app settings of my function app (I am using the attribute TimerTrigger like this in my code : `TimerTrigger("%TimerInterval%")`), it seems that the function triggers at the previous times configu

[2019-01-31 10:52] satyadevin commented on #1648
I tried using external file trigger for FTP and it is giving me the below error
[Error] Exception while executing function: Functions.ExternalFileTriggerCSharp1. Microsoft.Azure.WebJobs.Host: One or more errors occurred. Exception binding parameter 'inputFile'. Microsoft.Azure.ApiHub.Sdk: /apim/ftp/098e9d0acab34ac29451e6df6f1ceec6/datasets/default/GetFileContentByPath?path=input-cs/%7Byour%20file%

[2019-01-31 22:04] JohnGalt1717 commented on #18
This needs to be way more than 10 minutes. Doing things like encoding a video file in Azure Media Services takes way longer than that often and that's a basic use case especially for a QueueTrigger.

2 hours would start to be a reasonable number.

[2019-01-31 23:31] ashokkhurana commented on #3767
Pasting below the response I got from Paul Batum.

Here is a copy of the workaround instructions we shared with logic apps. The gist is that we introduced new APIs in functions V2, and we recommended that logic apps attempt to use those APIs first (that’s what is detailed below), as those are the ones that work with blob based key storage. If they get errors that likely indicates they are dealing

[2019-01-31 23:43] ishepherd commented on #4000
@synercoder Does your raw response have an incorrect `Content-Encoding: gzip` header?
That's what I'm seeing.

----

Functions Team - ASP.NET Core has middleware for transparent compression. If you're setting it up yourself (in a web app) you have the option to plug these in to the request handling pipeline. Can we get access to this pipeline in the functions host?

[2019-01-31 23:58] paulbatum commented on #3903
@asgasos we discovered that the fix is in two parts. The first part is complete and released. Until the second part is done, some manual steps are required. I need @fabiocav to reply here with the details.

[2019-02-01 00:01] paulbatum commented on #3767
@ashokkhurana I have deleted your comment, it included references to private APIs.

[2019-02-01 00:08] paulbatum commented on #3767
Anyone on this issue that recieved those details - please don't use those APIs unless you're on another Microsoft team and are in touch with me. Otherwise you might find that they randomly start breaking at some point in the future.

[2019-02-01 00:20] paulbatum commented on #3767
I should add, the original issue filed here is about some details around the implementation of some Azure portal UX. Some of the other replies on this issue are "me too" replies, but I assume the scenario is different. If you can reply here and explain your actual scenario, I can try to help.

[2019-02-01 01:09] mhoeger commented on #3875
@asavaritayal - for other languages, we can't change the behavior (since it's a breaking change). For python, you probably could, although I'm also not sure if there were other reasons for pretty-ing the body that the people you tagged earlier would know :)

[2019-02-01 01:30] fabiocav commented on #3903
Apologies for the lack of information on this.

@asgasos this was resolved in 2.0.12238 and missing in the release notes (we also failed to update and close this). I've validated again with the latest bits to make sure and this seems to work as expected, so I'm closing the issue

As @paulbatum alluded to, there are some additional steps you can take for more advanced binding scenarios, this will e

[2019-02-01 03:20] amclin commented on #3635
This is causing Azure Functions to show up in VSCode as invalid:
![screen shot 2019-01-31 at 7 18 41 pm](https://user-images.githubusercontent.com/105728/52100652-31585600-258d-11e9-96ca-34291ce289c2.png)

[2019-02-01 03:35] asavaritayal opened #4037 "Function Apps in Linux Consumption show WarmUp function"
Currently if you publish your functions to a Linux Function App running on the Consumption Plan, an additional function called `WarmUp` starts to surface in the project. This is a **known issue** and we're currently working on the fix.

## Where does this function show up?

The WarmUp function can surface in two ways:

1. Core Tools
    example -
    ![image](https://user-images.githubusercontent.

[2019-02-01 03:40] #4037 closed

[2019-02-01 03:40] asavaritayal opened #4038 "Function Apps on Linux Consumption show WarmUp function"
Currently if you publish your functions to a Linux Function App running on the Consumption Plan, an additional function called `WarmUp` starts to surface in the project. This is a **known issue** and we're currently working on the fix.

## Where does this function show up?

The WarmUp function can surface in two ways:

1. Core Tools
    example -
    ![image](https://user-images.githubusercontent.

[2019-02-01 08:21] synercoder commented on #4000
@ishepherd I don't think you understood my post, the postman issue you linked was an issue about that the "Accept-Encoding" header was send without the author setting that header.

My issue is: The header is send, but Azure Functions doesn't reply with a "Content-Encoding" header.

For example, a request to another server which does implement gzip encoding:

Request (note the Accept-Encoding heade

[2019-02-01 15:36] brettsam opened #4039 "Log function metadata at host startup for better ScaleController correllation"
Right now the ScaleController logs trigger details in JSON whenever it syncs a trigger. It's difficult to correlate that to what the host sees because we don't explicitly write any of these details in the host logs. If we wrote a very similar JSON string out for each trigger we have at host startup (and perhaps all function metadata), it would make it much easier to write a detector and alert cust

[2019-02-01 17:08] FlavioDiasPs commented on #1627
Well, I am facing the same issue at vscode when streaming the whole Function App.
When streaming the function individually, it doesn't duplicate.

Any progress on that?

[2019-02-01 17:12] wpwoodjr commented on #3988
Sorry, but how do you do this upgrade in the context of Azure Functions?

[2019-02-01 18:33] fabiocav commented on #4038
Duplicate of #4015

[2019-02-01 19:09] ahmelsayed commented on #3988
@wpwoodjr this will be in the `2.0.12303` release which hasn't started rolling out yet. Unfortunately I'm not aware of a workaround for WSL. @benc-uk has a detailed investigation here https://github.com/Azure/azure-functions-core-tools/issues/995 (thanks Ben!) and that issue will be closed once this release is completed.

[2019-02-01 23:50] #4015 closed

[2019-02-01 23:50] #4038 closed

[2019-02-01 23:51] mathewc commented on #4038
We've verified the fix in PR https://github.com/Azure/azure-functions-host/pull/4040 addresses the issue. We'll be deploying that fix soon.

[2019-02-02 00:34] mathewc commented on #2015
As a workaround for customers running into this issue, in Functions v2, you can set an explicit HostID in app settings, using a different ID for each environment. The app setting name to use is AzureFunctionsWebHost:hostId. The value should be unique for all apps/slots you're running. The important thing is that the IDs are under 32 characters. The restrictions for HostIds that the value must sati

[2019-02-02 09:25] sunxinhuan opened #4042 "Slot swap blade disappear when open preview changes blade"
**Environment URL**: https://ms.portal.azure.com
**Runtime version**: 2.0.12303.0 (~2)
**Browser**: Chrome

When swap function and slot, if open preview changes on swap blade, swap blade will disappeared, it can't go back to swap blade.

Please refer to the snapshot:
![image](https://user-images.githubusercontent.com/39791546/52162431-eb2b0000-270e-11e9-9082-bde9020b135b.png)

Repro steps:
1. Open

[2019-02-03 09:31] benc-uk commented on #3988
I just upgraded to version 2.4.317 of the core tools, I noticed that this release updated the version of azure-functions-host to version 2.0.12303, and that version has the updated gRPC version (1.18.0) to fix this.

However when I start my functions I see the runtime version is still **2.0.12285.0** and I still get the same gRPC errors as before.

[code]

[code]

[2019-02-03 17:19] beniamin-airapetian commented on #3966
Still no response. Is it possible to draw developers attention to this issue somehow?

[2019-02-04 00:50] ishepherd opened #4044 "Regression - clientAffinityEnabled"
Our function apps are returning an `ARRAffinity` response header. Per discussion by @paulbatum https://github.com/Azure/app-service-announcements/issues/74, this is unnecessary and unhelpful for function apps.

Quoting the announcement

This bug seems to have come unfixed.

## Repro

Create a function app with an ARM template that does not mention `clientAffinityEnabled`
* Function app has `client

[2019-02-04 02:40] gentksb commented on #1361
any update?
Stream is very important at FaaS. it's limited on memory & storage...

[2019-02-04 04:52] jeffreywstevens commented on #3966
So far,  it seems to work tonight.  It is not 100% real-time.  There is some momentary lag, 60 seconds approximate before things spool up after 10 minutes of inactivity or so.  Not super precise.   I did both an Event Hub and a Service Bus trigger.  I would try it yourself just to confirm.

[2019-02-04 10:04] mithunshanbhag commented on #3154
Closing this issue as it no longer repro'es for me.

[2019-02-04 10:04] #3154 closed

[2019-02-04 14:16] brendan-mcmahon commented on #3568
I am also running into this using Durable Functions, and having no luck with the posted workarounds.

[2019-02-04 14:25] leblancmeneses commented on #2721
![screenshot from 2019-02-04 08-09-46](https://user-images.githubusercontent.com/730804/52213529-f5efad00-2854-11e9-97f7-9a56d6690cd7.png)

In my case, I have a cloud function triggered by service bus queue (shouldn't have processed anything).  Initially, I was trying to get 1 message into the queue to test ScheduledEnqueueTimeUtc in my workflow.  When I finally got one in, it spiked and has staye

[2019-02-04 16:59] Volwerston opened #4045 "[V2] Azure Functions runtime tries to link wrong assembly version"
Hello,

In my FunctionApp1 project I am referencing class library Common.Infrastructure.HealthCheck, which is referencing NuGet package Microsoft.AspNetCore.Diagnostics.HealthChecks 2.2.0-preview2-35157.

FunctionApp1.csproj:
[code]

Common.Infrastructure.HealthCheck.csproj:
[code]

host.json
[code]
local.settings.json
[code]

When I call HTTP-triggered Function1 locally, I am receiving following

[2019-02-04 19:05] dallancarr commented on #4045
Do you have the latest runtime on your local?

[2019-02-04 19:52] fabiocav commented on #3171
@forki just realized this hadn't been updated, but the core fix for this was pulled into the runtime a couple of releases ago, so this should be resolved. Please let me know if you still have problems with this.

[2019-02-04 19:52] #3171 closed

[2019-02-04 20:18] TylerLeonhardt opened #4047 "Simple HttpTrigger PowerShell Integration tests"
Discussion here: #4046

We should add a simple HttpTrigger PowerShell Integration test based on https://github.com/Azure/azure-functions-host/blob/dev/test/WebJobs.Script.Tests.Integration/WebHostEndToEnd/SamplesEndToEndTests_Java.cs

[2019-02-04 20:18] TylerLeonhardt commented on #4047
please assign this to me.

[2019-02-04 20:21] fabiocav opened #4048 "Rewrite always on ping request URL"
To avoid conflicts with authentication and authorization scenarios, we should configure a rewrite for the always on request URL, redirecting it to the ping endpoint.

[2019-02-04 20:24] Volwerston commented on #4045
@dallancarr

My current Azure function runtime is 2.0.12285.0:
![image](https://user-images.githubusercontent.com/15079159/52234574-ab107c80-28ca-11e9-8ea8-93d4830a3744.png)

Looks like this is quite similar issue: https://github.com/Azure/Azure-Functions/issues/801, but they say that the problem is fixed for Azure functions 2.x

[2019-02-04 21:08] hf-kklein opened #4049 "Functions 1.0.24 not comptabile with up to date Newtonsoft.Json 12.0.1"
This issue is similar to #209, #237 and #259 .

[Newtonsoft.Json 12.0.1](https://www.nuget.org/packages/Newtonsoft.Json/) is stable since 20 days now. Please don't stick to

[2019-02-04 22:55] dallancarr commented on #4045
Certainly feels like we are mixing versions here or unsupported. But functions supports 2.x but health checks is a 2.2 feature. So maybe get off preview or target netstandard.

[2019-02-05 09:42] Volwerston commented on #4045
The same problem remains when I target netstandard2.0 in my Azure function app.
However, when I removed reference to Common.Infrastructure.HealthCheck and directly referenced Microsoft.AspeNetCore.Diagnostics.HealthChecks 2.2.0.0 in function app, it actually worked!
The problem is that I reference my library Common.Infrastructure.HealthCheck in another web app which targets netcoreapp2.1, and it d

[2019-02-05 10:57] Volwerston commented on #4045
I added sample Azure function with preview package in order to reproduce the issue: https://github.com/Volwerston/AzureFunction_WrongAssemblyIssue_Reproduce

Steps to reproduce:
1. Run function app from VS 17 in debug mode (F5)
2. Call 'http://localhost:7071/api/Function1' from your browser

Expected behaviour:
1. Plain text "Health check result: Healthy" should be returned

Actual behaviour:
1. I

[2019-02-05 15:44] tylerhartwig commented on #3568
I'm running into this issue as well, and the given workarounds also don't solve my problem.

However, I've found the version of Azure Tools that Visual Studio downloads is able to run our function, while the version I manually downloaded from Github/npm is not able to.

I'm also facing the same issue in Azure, even with the workaround implemented.

[2019-02-05 17:47] #3857 closed

[2019-02-05 17:58] myusrn commented on #3857
@ConnorMcMahon with the fix in place do we . . .

1. wait for <function app> | settings | runtime version to increment from current 2.0.12285.0 value to know when your merged PR fix is deployed?

2. once deployed do we change deployment of functions from using AuthorizationLevel.Function to AuthorizationLevel.Anonymous or AuthorizationLevel.User setting?

[2019-02-05 18:04] ConnorMcMahon commented on #3857
1. Correct. You can also track releases here: https://github.com/Azure/azure-functions-host/releases
2. I would change it to AuthorizationLevel.Anonymous for now. Right now, AuthorizationLevel.User is an unused legacy value, and may remain so, as all of the other AuthorizationLevel values just have to do with Key-based authorization. This could be subject to change in the future, so it is best jus

[2019-02-05 18:23] moritonal opened #4051 "Race condition in ExtensionsMetadataGenerator.targets leads to incorrect TargetDir"
#### Investigative information

- Timestamp: As of 05 Feb 2019
- Function App version (1.0 or 2.0): 2.0
- Function App name: N/A
- Function name(s) (as appropriate): N/A
- Invocation ID: N/A
- Region: N/A

#### Repro steps

Referencing `Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator` should create an `extensions.json` file within our TargetDir. Currently, referencing both this, and `Mi

[2019-02-05 18:43] Artash91 opened #4053 "-+"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0):
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actua

[2019-02-05 19:14] DAllanCarr commented on #4045
Can not reproduce from vscode. so not sure if this vs specific.  Using rtm 2.2.100 and tools version 2.4.317

[2019-02-05 21:39] Gayathri92 commented on #3767
Hello Paul,

I'm trying to link azure alerts to my azure function App. When I click on
save, Throws me this error:

[image: Screen Shot 2019-02-05 at 1.38.18 PM.png]

Regards!
Gayathri Muralidharan.
Never. Stop. Learning.

On Thu, Jan 31, 2019 at 4:20 PM Paul Batum <notifications@github.com> wrote:

[2019-02-05 22:01] paulbatum commented on #3767
@Gayathri92 your image did not make it. Can you reshare? Also I am not familiar with the process of linking azure alerts to a function app, so if you can include some more detail it might help.

[2019-02-05 22:01] abramjstamper opened #4054 "Azure Function Error - Log File in Use By Other Process"
#### Investigative information

Please provide the following:

- Timestamp: 2019-02-05T20:40:59
- Function App version (1.0 or 2.0): 2.0
- Invocation ID: dbbc08e0-4114-48d4-aa68-9da11b42d5e5
- Region: east-us-2

#### Repro steps

Data is being streamed in from a Streaming Analytics Service, and the Azure Function locks up after a few chunks of data and produces the error listed below. The error is

[2019-02-05 22:40] Gayathri92 commented on #3767
Hello Paul,

Steps to reproduce:
1) Click on Monitoring
[image: Screen Shot 2019-02-05 at 2.35.53 PM.png]
2) Click on Alerts
3) Click on "Create New Alert"
4) In the action Group, you can link your azure function( To perform some
computation when the alert is raised). That's when I get the issue.
[image: Screen Shot 2019-02-05 at 2.36.14 PM.png]

[image: Screen Shot 2019-02-05 at 1.38.18 PM.png]

[2019-02-06 03:13] chuchuva opened #4055 "dotnet publish fails with 'Metadata generation failed' sometimes"
#### Repro steps

Provide the steps required to reproduce the problem:

dotnet publish C:\temp\OurFunctionApp.csproj -c Release -o C:\temp\output

#### Expected behavior

It should build without an error.

#### Actual behavior

[code]

Output of dotnet --version: 2.1.503

This error occurs sporadically on our Jenkins server. I can't reproduce it on my computer. Also, I cannot reproduce it if run t

[2019-02-06 04:20] ishepherd commented on #4055
Does verbose compiler output give any more clues?

[2019-02-06 06:06] balag0 commented on #4007
Fixed by 136e4544832558bf90911bdbb51e7ca166d15862

[2019-02-06 06:06] #4007 closed

[2019-02-06 06:08] ishepherd opened #4056 "Application Insights integration - requests don't have 'url'"
Since upgrading to .NET Core and Functions 2.0, we noticed that the HttpTrigger 'url' is no longer sent to Application Insights in the request object.

Use case: We are upgrading our Functions 1.x app to Functions 2.0. We are currently running them side by side and using a DNS CNAME to flip between. The url seen in the request objects, lets us tell whether the client called the app using that CNAM

[2019-02-06 10:37] TomBonnerAtTFL opened #4057 "Race condition in ExtensionsMetadataGenerator.targets leads to incorrect TargetDir"
#### Investigative information

- Timestamp: As of 05 Feb 2019
- Function App version (1.0 or 2.0): 2.0
- Function App name: N/A
- Function name(s) (as appropriate): N/A
- Invocation ID: N/A
- Region: N/A

#### Repro steps

Referencing `Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator` should create an `extensions.json` file within our TargetDir. Currently, referencing both this, and `Mi

[2019-02-06 10:37] #4051 closed

[2019-02-06 10:37] moritonal commented on #4051
Closing because I've used the incorrect account, see #4057

[2019-02-06 13:10] KarlGW commented on #3966
This applies to Queue Storage triggers as well.

I have a function that works fine for a while, consuming message after message. Then suddenly it just stops. No message in the queue, no errors in the logs or Application Insights. Can be idle for 10-60 minutes. But as soon as I poke around in the portal, it starts working again.

[2019-02-06 13:25] asavaritayal commented on #3875
This issue was moved to Azure/azure-functions-python-worker#313

[2019-02-06 13:25] #3875 closed

[2019-02-06 13:56] brettsam commented on #4053
Maybe an accidental creation? Closing this...

[2019-02-06 13:56] #4053 closed

[2019-02-06 16:10] #4054 closed

[2019-02-06 19:42] tylerhartwig commented on #3568
@iwaldman @brendan-mcmahon
Are you two having issues with not copying the `System.Private.ServiceModel.dll`?

I was having an issue with failing to resolve a method in the NetTcp assembly, and arrived at this work around as well. I found that if you revert to the Azure Function Extension version to `2.0.12246` then it fixed the issue for me. The underlying problem was that past that version the po

[2019-02-06 19:57] soninaren opened #4061 "Set up the extension manager endpoints to resolve the extensions from extension bundle."
Portal uses extension management API's to call List, Install and Uninstall Extensions through extension manager API. Update the host to use extension bundle as the source for these operations.
- Get should list all the extensions in the bundle
- delete should return 400
- post / put should return 409

[2019-02-06 20:51] fabiocav commented on #3568
Been meaning to follow up on this as well to share some recent enhancements made to the runtime. There will be additional tooling work to make this the default behavior, but in the meantime, can you add the following post-build event command to your Azure Functions project:

`copy $(OutDir)$(ProjectName).deps.json $(OutDir)bin\function.deps.json`

This will drop the function deps file in the bin o

[2019-02-06 21:05] fabiocav commented on #3925
Resolved.

[2019-02-06 21:05] #3925 closed

[2019-02-06 21:17] fabiocav commented on #3766
Moving this to Triaged until unlblocked

[2019-02-06 23:07] ColbyTresness commented on #1576
@fabiocav is this still open for a reason?

[2019-02-07 01:53] iwaldman commented on #3568
Thank you all.  Will try the two options.

[2019-02-07 11:08] donniekerr commented on #2009
Is this fix in Azure Functions v2 for Node,js?  If so, I'm still getting a body that would need to parse the multipart.

[2019-02-07 14:30] SamVanhoutte commented on #3767
I am facing a similar issue, when referencing a deployed function (v2) and reading the API key from the listkeys function in my arm template deployment.  It used to work when my function was in v1.

This is the piece of arm template:
`[listsecrets(resourceId('Microsoft.Web/sites/functions', variables('site_name'), variables('function_trigger_name')),'2015-08-01').key]`

The error I get is the foll

[2019-02-07 14:38] ChristianWeyer commented on #3726
Any plans how to proceed with this @fabiocav ? :-)

[2019-02-07 14:39] ChristianWeyer commented on #3370
Any idea when this will (finally) be merged @fabiocav ? Thanks!

[2019-02-07 16:34] WueF commented on #3162
@andrewabest Those are not HTTP Headers, but **multipart/form-data** boundaries.
Reason of seeing that is (according to screenshot in your blog post), you didn't POST a raw stream (direct file) but form-data from Postman.
To properly handle that you need different approach.
You can check, whether request is of type form by simple check `if (req.HasFormContentType)`.

You can achieve same results a

[2019-02-07 18:18] paulbatum commented on #3767
If you follow the link in the error message, most of it is explained there:
https://aka.ms/funcsecrets

Until we release ARM API updates, the best workaround is to switch the key storage back to files mode. Be aware that if you do this all your keys will be reset and you won't be able to use the slots feature set (the incompatibility between file based key storage and slots is the main reason that

[2019-02-07 18:26] fabiocav commented on #1576
No reason. I believe we had a duplicate. Closing as the work is completed.

[2019-02-07 18:26] #1576 closed

[2019-02-07 18:28] brendan-mcmahon commented on #3568
I wasn't having any luck manually adding the dll and then forcing the copy, but a coworker of mine discovered that I was using the wrong version.
I was using the `C:\Users\{username}\.nuget\packages\system.private.servicemodel>4.5.3>runtimes>win>lib>netcore50>System.Private.ServiceModel.dll`
when I should have been using the `C:\Users\{username}\.nuget\packages\system.private.servicemodel>4.5.3>ru

[2019-02-07 20:55] ranouf commented on #4049
How is it going to update the package dependancy to Newtonsoft.Json >= 12.0.1?
I can't use Azure Functon currently because of this issue.

[2019-02-07 21:26] beniamin-airapetian commented on #3966
That sounds cool! Thank you! Will try it. We have a temporary solution with additional time trigger which wakes up function every 30 minutes. But it will be great if real fix is around.

[2019-02-07 21:30] beniamin-airapetian commented on #3966
Have one question. Which framework are you targeting?
Our function app targets .net standard 2.0. That was in original template when we created it (functions 2.0 were in preview). But I noticed that most recent template targets .net core 2.1. I will try and see if something changed. And also try to switch to .net core 2.1 to check if it helps.

[2019-02-07 22:37] pkaminsky opened #4062 "'AlwaysOn' TimerTrigger spontaneously stops working AppService plan"
I have an function 2.0 running on a standard App Service plan with a timer trigger. I can see in the portal it is set to "AlwaysOn". However, after at most a few runs (once hourly) it stops running indefinitely. (It was off for weeks before I noticed it stopped.) If I manually trigger the function it works, and then when I leave the console open (namely, I have the Kudu console open and also the l

[2019-02-07 23:07] fabiocav commented on #3726
This has unfortunately not been assigned to a sprint yet, but I did have a chat with @pragnagopa about this (again, the detailed repro was helpful!).  I think that splitting this up to tackle option 2 quickly would help, that way we can at least improve the experience until a more permanent fix is in place.

@pragnagopa thoughts?

[2019-02-07 23:26] fabiocav commented on #3568
@brendan-mcmahon have you tried what I mentioned above? That will remove the need for you to point to a specific DLL, and work on multiple platforms as well.

[2019-02-08 00:32] alrod commented on #4033
duplicate of #3565

[2019-02-08 00:32] #4033 closed

[2019-02-08 04:22] jeffreywstevens commented on #3966
I was using the latest templates 2.0 of the runtime and target framework .NET Core 2.1.
My POC implementation seems to be working well.  I am sending events to the event hub.  I have 2 event listeners.  One for the EventHub which then publishes to the Service Bus.  One for the Service Bus when then publishes to another EventHub.  Both get triggered when I have sent events to an event hub randomly

[2019-02-08 08:15] riha opened #4064 "DI ITelemetryInitializer never executed"
#### Investigative information
- Function App version: 2.0
- Function Runtime Version: 2.0.12285.0
- Framework: .NET core 2.0
- Microsoft.ApplicationInsights package version: [2.9.0](https://www.nuget.org/packages/Microsoft.ApplicationInsights/2.9.0)

#### Repro steps
1. Clone [LogExtensionTest](https://github.com/riha/LogExtensionTest) test repo.
2. Add a `APPINSIGHTS_INSTRUMENTATIONKEY` key in l

[2019-02-08 09:04] koenveevee commented on #563
Any update on foreseen availability of this feature?
We could really use this in order to partition messages by having an affinity based on a number of fields in the message.

[2019-02-08 12:40] brendan-mcmahon commented on #3568
@fabiocav - I added the command you suggested, but now I'm getting the same error but on build instead of at runtime:

`System.IO.FileNotFoundException: Could not load file or assembly 'System.Private.ServiceModel, Version=4.5.0.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.`

I will admit that it's very possible that I've missed something though.

[2019-02-08 17:47] fabiocav commented on #3568
@brendan-mcmahon would be happy to take a look. Can you share your project (or, more ideally, just a basic repro) on a GitHub repo so we can look at your setup and what you're running into?

[2019-02-08 22:30] mathewc commented on #1300
Closing in favor of https://github.com/Azure/azure-functions-host/issues/3565

[2019-02-08 22:30] #1300 closed

[2019-02-08 22:57] #3518 closed

[2019-02-08 22:58] tjhgit opened #4066 "Unclear how to parse multipart form-data"
Hi,

I am sending an image with multipart form-data to an azure function based on linux docker container. It is not clear to me how I can parse the multipart binary contained in req.get_body(). Can you help?

What I am currently doing is really hacky:
[code]
That is I am extracting the image by a byte search :(

[2019-02-09 13:16] josephxsxn commented on #3966
Same problems here cannot get EventHub Tiggers to work no matter what 'issue workaround' is followed.

[2019-02-09 14:59] Narnain commented on #1510
This is the missing link for amazing integration with tools such as API Management and needs to work for v2 Functions.  Supporting attributes such as ProducesResponseType, Produces, and Consumes would make a big difference.

[2019-02-09 17:14] wobba commented on #1510
Also take a look at https://devkimchi.com/2019/02/02/introducing-swagger-ui-on-azure-functions/ and the github repo for it https://github.com/aliencube/AzureFunctions.Extensions and the nuget package https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/

[2019-02-10 15:24] donniekerr commented on #85
Any 2019 updates on this?

[2019-02-10 16:16] beniamin-airapetian commented on #3966
Tried to target .Net Core 2.1, no luck so far. Updated packages, played with x64/x32, tried deploy from Visual Studio. Nothing!

Could you please describe your set up a little bit more? Do you have other functions with other triggers types? What packages are you referencing? What is your host.json?

[2019-02-10 17:10] jeffreywstevens commented on #3966
I started with VS 2017 and all of the latest updates to VS and the extensions if that matters.  At some point, I am sure I installed the .NET Core 2.1 SDK.

Then I just created a new Azure Function project selecting Azure Functions v2.  It defaults to targeting .NET Core 2.1.  For the Service Bus, I had to add the Microsoft.Azure.WebJobs.Extensions.ServiceBus NuGet.

For testing this, using LinqPa

[2019-02-10 21:31] beniamin-airapetian commented on #3966
Then maybe the only thing left is that we are using topics. Probably will have to report somewhere else since problems reporter here are just ignored.

[2019-02-11 00:13] vludax commented on #3731
Is using netstandard2.0 and pinning the version to 2.0.12246 the best workaround for now?

[2019-02-11 09:29] andrewabest commented on #3162
@WueF ah interesting, so webapi will model bind to IFormFile from form-data, but functions won't? Will functions only accept `application/octet-stream`? I'll have to give it a test and update my post :)

[2019-02-11 15:43] brettsam commented on #3731
Can you try using netcoreapp2.0 as your platform (with no pinning)? And a fix is coming soon...

[2019-02-11 16:15] ghills commented on #3568
@fabiocav I'm also running into an error for `System.Private.ServiceModel`. I can't really share the project as it uses a number of internal libraries but if I get a chance I will see if I can make a small project to reproduce the error.

In the meantime I don't know if it will be helpful but here is the `function.deps.json` file it copied to the bin directory:

https://gist.github.com/ghills/e10d

[2019-02-11 16:24] brendan-mcmahon commented on #3568
@fabiocav - I'm in the same boat as @ghills in terms of sharing code. It also looks like we're seeing the same error. I will also try to create a repro project if I get time.

[2019-02-11 16:58] ghills commented on #3568
@fabiocav

It ended up being pretty simple to reproduce. See the sample repo here:
https://github.com/ghills/TestConcordFunctionApp

In this case the project `ServiceLibrary` mimics the DLL we use that actually has the WCF service reference.

Here is the output I get when it runs:
[code]

and the local settings I used:
[code]

[2019-02-11 17:11] bakztfuture opened #4067 "Azure Functions on App Service Plan Servers Go Offline as Job is Running"
Azure Function Servers on App Service Plan go offline as job is executing. App service plan autoscale is enabled (scale to a specific instance count of 10) with no additional scale condition rules.

Even though the job starts with 10 servers, servers start to go offline as the job is executing.  At one point, no servers are online.  Only 1,000 tasks are being fed to the servers (not a heavy load a

[2019-02-11 17:43] #3731 closed

[2019-02-11 17:44] WueF commented on #3162
@andrewabest Yes, ASP has "automated tools" in it's pipeline which process incoming HTTP Requests and bind it's data to controller method's parameters (based on names, conventions and attributes like `[FromQuery]`, `[FromBody]`, `[FromPath]`. Hence you can use directly `IFormFile` or `IEnumerable<IFormFile>` in controller action parameter.

In function you have clear HttpRequest as trigger paramet

[2019-02-11 17:53] fabiocav commented on #3568
Thank you for the follow up! Will investigate this and provide an update.

[2019-02-11 19:04] paulbatum opened #4069 "Support for configuring HSTS"
HSTS is typically enabled via web.config settings, which is not possible in the case of Azure Functions. Perhaps it would make sense to expose this as a configurable functions setting? It looks like there is ASP.NET Core middleware that could be used by the functions runtime, see:
https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-2.2&tabs=visual-studio#http-strict

[2019-02-11 20:31] maiqbal11 opened #4073 "Linux timer-triggered function stopped firing"
_From @swt2c on February 11, 2019 14:28_

I have a Linux (Python) function that is timer triggered to fire once an hour on the :15 mark:
`"schedule": "0 15 * * * *"`

This was working fine until 2019-02-09 00:15:00.217, but the timer has not fired since.  Is this a known issue?

_Copied from original issue: Azure/Azure-Functions#1124_

[2019-02-11 21:26] #4047 closed

[2019-02-11 23:27] #4048 closed

[2019-02-12 00:06] alrod commented on #3929
@fabiocav, can you please add some details for this one?

[2019-02-12 01:25] ishepherd commented on #4055
@paulbatum or colleagues - How should we investigate this error?

[2019-02-12 04:03] peterhuene commented on #3296
Is there any update to this issue?

I notice that my worker process is rudely terminated with `SIGKILL` when gracefully shutting down the host with Ctrl-C.

Unfortunately, the host notices that the process errored and attempts to restart it.  The restarted worker attempts to connect but fails because RPC was shut down and exits with an error.  This causes the host to notice again that the process

[2019-02-12 04:04] PrasannaCorearth commented on #3919
I am also getting
Exception thrown: 'System.Threading.Tasks.TaskCanceledException' in System.Private.CoreLib.dll
IScriptJobHost
IOptions`1

in DEBUG window when I run my azure functions locally, but that does not stop my function from running. It works perfectly but I am not sure how that error is coming, there is surely something wrong but it does not give any exception, it just logs in the DEBUG

[2019-02-12 08:59] dustinmoris opened #4074 "Azure Function versions mess"
I created a new Azure Functions App. After creating the function app I checked that it is using the latest 2.x runtime:

![image](https://user-images.githubusercontent.com/4580714/52623237-c881af80-2ea3-11e9-8e97-72158801830a.png)

Then I created a new Azure Function in Visual Studio (latest version) with the latest SDK from NuGet and didn't change anything. I searched everything which might indic

[2019-02-12 11:12] m1nkeh commented on #3212
clearly not fixed yet???

[2019-02-12 12:10] jmezach commented on #3736
Any updates on this issue? I've been trying to get ASP.NET Core Health Checks to work within an Azure Function app so that I can provide some visibility into whether my app is working correctly. That sort of kinda works, except when you want to implement a custom health check that relies on other services that are registered with DI.

This seems to stem from the fact that the DefaultHealthCheckSer

[2019-02-12 14:17] stap123 commented on #1054
@paulbatum Any updates on this now V2 is out the door?

Would be great to be able to have a different maxPollingInterval set for individual functions. Some are more critical than others and obviously the polling interval is a big factor in cost in relation to queue triggered functions.

[2019-02-12 14:20] swt2c commented on #4073
It fired again at 2019-02-11 21:15:00.104.  Something seems very wrong here.

[2019-02-12 17:18] brandonh-msft commented on #3998
ping @jeffhollan @fabiocav

[2019-02-12 18:57] fabiocav commented on #3736
@jmezach we're making some progress on this, but unfortunately, other items have taken precedence. Most of the core pieces to add this support are done. We'll be in a better position to provide an ETA on that once the last SDK items are completed.

[2019-02-12 20:21] StingyJack commented on #911
Did this get fixed and released?

[2019-02-12 20:55] fabiocav commented on #911
@StingyJack yes. This is now supported.

[2019-02-12 21:25] alrod opened #4076 "Optimize grpc to get rid of a throughput bottleneck"
We are using a bidirectional streaming RPC which cause a bottleneck on writing to response steam:
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/FunctionRpcService.cs#L59

Here is documentation on how to optimize grpc: https://grpc.io/blog/optimizing-grpc-part-1 which can be helpful

[2019-02-12 21:26] alrod commented on #3990
https://github.com/Azure/azure-functions-host/issues/4076

[2019-02-12 21:26] #3990 closed

[2019-02-12 21:36] StingyJack commented on #911
@fabiocav - Is there a trick to making it work then? Trying to debug a new Function from VS and its telling me it cant find the function.

[code]

[code]

If I change the class and `Run()` method to static then the function executes.

[2019-02-12 21:41] alrod opened #4077 "Add C# precompiled throughput test"

[2019-02-12 22:03] KristinHansen opened #4078 "Multiple RuleDescriptions per subscription"
When adding multiple `RuleDescription` to a topic subscription, all added rules, and their filters, use a logical AND behavior. Why is this the case? Wouldn't it make more sense to have logical AND between filter properties of a rule, and then a logical OR between the separate rules (per subscription)?

We use a single topic, `topics.employees`, where we have many different subscriptions, e.g. `Em

[2019-02-12 22:12] fabiocav commented on #911
Nothing special required. What version of the Core Tools/Runtime are you using?

[2019-02-13 00:43] dan-v-elevate opened #4079 "v2 Function never recovers after LanguageWorkerProcessExitException"
We are running v2 functions on the consumption plan with nodejs runtime with an event hub trigger, with a function that essentially reads in batches of data, transforms it, and outputs it to another event hub. We keep getting hosts that end up in a bad state and never recover. We aren't sure of the root cause or how to troubleshoot it further. The exception thrown is `Microsoft.Azure.WebJobs.Scrip

[2019-02-13 01:33] StingyJack commented on #911
The project is .net 4.7.2,   VS is up to date.  Is there a specific component you would be looking for the version of?

I was clicking about in ILSpy before I left the office and trying to figure out what that func.exe and Microsoft.Azure.WebJobs.Script dll's want for the FunctionName attribute value. I tried just "Run" as that is what I think the FunctionShortName it derives when doing the lookup

[2019-02-13 02:10] mhoeger opened #4080 "Log extension versions used in function app"
We should be logging which version of the extensions an app is using (primarily for incident resolution).

[2019-02-13 02:38] ishepherd commented on #1207
@tkholmes There is now [a very tiny amount of additional info on docs.microsoft.com](https://docs.microsoft.com/en-au/azure/azure-functions/functions-app-settings#websitemaxdynamicapplicationscaleout)

[2019-02-13 07:34] ColbyTresness commented on #3826
Any word on this work item @fabiocav @maiqbal11? Don't think it'll be too crazy to get this change in based on what @mhoeger provided above. Doing it this way is far better than our workaround, detecting language worker from the invocation latency metric.

Also, it would be really nice to emit a metric when no worker was started because stack is .NET, since we're special casing on the analytics si

[2019-02-13 10:40] christyharagan opened #4081 "Error: OK - https://functions.azure.com/api/passthrough"
Hi all,

I have created a new Functions App (Windows, Consumption plan, UK South). I then tried to create a new function and it threw an error: Error: The function runtime is unable to start.

Looking at previous issues reporting this error I followed the steps to check the runtime version: I go to "Function App Settings" and now I get a new error (described in the title of this issue) and the "Ru

[2019-02-13 14:18] suehshtri commented on #2283
Checking status of this ticket.  I do still care about it.

[2019-02-13 15:48] meixger commented on #3592
I have the same problem.
Blob trigger was working for week.
Stopped working last weekend.
After re-starting the function app the blob trigger picked up again.
Nothing interesting in the log files.

[2019-02-13 18:34] RLittlesII commented on #3355
I am getting the same experience as @jstallm with Microsoft.NET.Sdk.Functions Version="1.0.24"

I am thinking mine could be an issue with settings, but the message is unclear indicating the nature of the error.  Also the application insights that was spun up for the function app isn't reporting any information.

[2019-02-13 18:52] fabiocav commented on #3826
That makes sense. We should really be logging/tracking the resolved stack.

@maiqbal11 do you have clarity on this issue? If so, we can assign this to the next sprint.

[2019-02-13 18:52] fabiocav commented on #3826
@ColbyTresness FYI, this wasn't triaged last time because it was still assigned to Sprint 38 after it was reopened.

[2019-02-13 19:11] fabiocav commented on #4081
@maiqbal11 can you please investigate and route?

[2019-02-13 19:11] fabiocav commented on #4080
👍

[2019-02-13 19:13] maiqbal11 commented on #3826
@ColbyTresness  @fabiocav, should be good to assign to the next sprint

[2019-02-13 19:14] fabiocav commented on #4079
@pragnagopa looks like the worker is stuck and unable to recover. Could you take an initial look at this?

[2019-02-13 19:17] pragnagopa commented on #4079
This means after 3 retries host was not able to launch node process. Need to figure out why launching node process is failing

[2019-02-13 19:20] sharpcoder28 commented on #3568
I'm using durable functions and rhythmnewt's answer fixed it for me

[2019-02-13 19:21] dan-v-elevate commented on #4079
@pragnagopa - let me know if you need any more details. We are still seeing this issue pretty frequently at the moment. Any help/insight would be very appreciated.

[2019-02-13 19:22] fabiocav commented on #4078
@KristinHansen we wanted to have more clarity here, you're setting this up and observing the behavior using the Service Bus SDK directly, correct? We don't currently expose the ability to set the filters and rules as part of the service.

[2019-02-13 19:34] fabiocav commented on #4074
@dustinmoris This could be as simple as you having a V1 project instead of V2, which will require the version of the hosted service.

Did you create a V1 project and are trying to deploy to a V2 Function App?

The project version selection is presented in the dialog here:
![image](https://user-images.githubusercontent.com/2507935/52738249-16b9b000-2f83-11e9-99eb-2e6252d5b7a2.png)

You can check th

[2019-02-13 19:44] fabiocav commented on #4067
Can you please clarify what you mean when you state that servers are going offline? What metric/dashboard are you looking at for that information?

[2019-02-13 19:47] fabiocav commented on #4067
Also, you've mentioned that you've set the timeout to 1:30; how long do your functions take to complete?

The fact that you're getting results is interesting. I wonder if you're running into an issue where the host is not detecting function completion. Could you share a repro for this (or share the code you were having issues with)?

[2019-02-13 20:01] fabiocav commented on #4064
This is being resolved with a tooling update.

@brettsam can you link to the metadata change PR?

[2019-02-13 20:03] brettsam commented on #4064
This is because of #3731 -- The issue's been fixed (#4036)  and I'm working to get version 1.0.2 of the ExtensionsMetadataGenerator released to nuget soon.

[2019-02-13 20:07] lmolkova commented on #4064
I believe @riha concern was that on netstandard2.0, Configure IS invoked, but telemetry initializer is still not invoked.
I was going to investigate it (and still going to), but snowmageddon keeps me behind on everything.

Can we keep it open? I'll try my best to have a look sometime this week.

[2019-02-13 20:09] zmarty commented on #2845
I can confirm we use these settings with great success in our application to improve throughput.

[code]

[2019-02-13 20:13] brettsam commented on #4064
Oh, I misread that -- @riha do you have some sample code that shows what's not working? @lmolkova is right that the `ITelemetryInitializer.Intialize()` method should be called -- but currently only works in netcore2.0 projects (due to the tooling bug I mentioned above).

[2019-02-13 20:49] lmolkova commented on #4064
This is repro app: https://github.com/riha/LogExtensionTest

[2019-02-13 21:31] brettsam commented on #4064
@riha -- move your App Insights nuget reference back to 2.7.2 and it should work. When we run, that's what we're running against so the DI check for anything 2.9.0 won't be found. We'll be moving this forward soon so it won't be an issue (and we'll try to keep it on the latest) but for now we're still on 2.7.2.

[2019-02-13 21:37] ColbyTresness commented on #3826
Got it, next time I reopen an issue I'll reassign to Triaged. Thanks!

[2019-02-13 21:56] maiqbal11 commented on #4081
Was the Function App created through Portal, VSCode, Visual Studio or Core Tools?

[2019-02-14 00:51] dan-v-elevate commented on #4079
<details>
<summary>A more detailed stack trace</summary>

[code]

</details>

[2019-02-14 01:35] pragnagopa commented on #4079
Thanks @dan-v-elevate .
@mhoeger  - Here is the error from node worker:
` "message":"One or more errors occurred. (node exited with code 1\n [error] Worker 2407da9e-1a4c-460f-a5c4-c34846a4f4de uncaught exception: TypeError: Cannot read property 'address' of undefined) (node exited with code 1\n [error] Worker 8d64531a-c854-41e6-b06a-a7179d8583f7 uncaught exception: { Error: Unhandled \"error\" eve

[2019-02-14 04:28] #3565 closed

[2019-02-14 07:42] KristinHansen commented on #4078
@fabiocav
We're using the SDK, yes.

We add rules like this:
[code]
We've built a small console app ourselves that lets us view and manage our rules on a subscription level.

[2019-02-14 09:48] adriennn commented on #85
this is how you do this in nodejs (as per the [docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#binding-expressions---json-payloads)). The below assumes you have the [binding extensions](https://docs.microsoft.com/en-us/azure/azure-functions/install-update-binding-extensions-manual) installed.

let's assume your function is an http trigger, send a post reque

[2019-02-14 10:08] BernhardGa commented on #4006
The identity package https://www.nuget.org/packages/Microsoft.AspNetCore.Identity.EntityFrameworkCore/2.2.0 didn't received an update to 2.2.2 (or even 2.2.1) and fails.

[2019-02-14 12:51] mikomraz opened #4084 "Linux/Python Functions fails to produce app content zips for Download"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0): 2.0.12304.0 (~2)
- Function App name: snyk-fixtures-func5-python
- Function name(s) (as appropriate):
- Invocation ID:
- Region: West US

#### Repro steps

Provide the steps required to reproduce the problem:

1. Using VS Code Azure Functions extension, create a new Python Function Proj

[2019-02-14 14:29] EddieDL commented on #3120
@ahmelsayed How do you deal with this issue on CI, or multiple developer environments? It seems like there isn't any real solution and we just need to train/document what setting it should be.

[2019-02-14 15:46] christyharagan commented on #4081
@maiqbal11

I tried re-creating them, and it seems to work now. I followed exactly the same steps (created via the portal) and now it works. Tried different region, then the same.

I can only assume it was a transient error. So closing. Thanks!

[2019-02-14 15:46] #4081 closed

[2019-02-14 16:18] MHHenriksen commented on #2447
https://github.com/Azure/azure-webjobs-sdk/pull/2073 seems to be take two of fixing this.

[2019-02-14 16:27] RonnyAnc commented on #3355
Microsoft.NET.Sdk.Functions Version="1.0.24" is failing for me too

[2019-02-14 18:46] swt2c commented on #4073
Ping.  It sure would be good if someone could investigate this.

[2019-02-14 19:38] #4062 closed

[2019-02-14 19:40] pkaminsky commented on #4062
Apparently they broke `AlwaysOn` with the simple authentication option.

[2019-02-14 21:23] StingyJack commented on #911
@fabiocav - I spent a few hours now trying different combinations and toying with this, but it does not seem to be possible to use non-static functions. The Microsoft.NET.Sdk.Functions package is v1.0.13

The namespace is `My.Programs.AzFunctions`, and the class name is `FunctionExecutor` and the method name is `Run`.

if I set the FunctionName attribute to `FunctionName("Run")` the func.exe outpu

[2019-02-14 22:26] jstallm commented on #3355
You may want to check the app Settings values . I believe that was the
culprit for me potentially

On Thu, Feb 14, 2019 at 8:27 AM Ronny Ancorini Rodríguez <
notifications@github.com> wrote:

--
Joey Stallmeyer

JosephStallmeyer@gmail.com <josephstallmeyer@gmail.com>
(562) 608-6705

[2019-02-14 22:50] #4022 closed

[2019-02-14 22:55] jamesdheadup commented on #3741
@michaeldaw hit the nail on the head. We're having the exact same issue and would love to be able to reduce our AI bill by filtering out records. Particularly filtering out successful dependency calls would be a big positive.

For now we're going to have to replace our logging implementation to write useful data to another logging service until this gets some traction.

[2019-02-14 23:30] theangellmethod opened #4085 "Azure Function for IoT Hub default code - portal test fails"
#### Investigative information

Please provide the following:

- Timestamp: 2019-02-14T17:45:14.990
- Function App version (1.0 or 2.0): 2.0
- Function App name: cdioth
- Function name(s) (as appropriate): IoTHub_Az_Fnc_Test
- Invocation ID: 1f87c5f3-e4b2-4574-8b9e-3c68f477ce8a
- Region: West US

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create an Azure Function wi

[2019-02-15 00:01] paulbatum commented on #1054
Unfortunately the status is unchanged and I am not able to provide an ETA. We continue to recommend the workaround I mentioned above.

[2019-02-15 02:28] ishepherd commented on #4055
Also asked in Stack Overflow: https://stackoverflow.com/questions/54660616/dotnet-publish-fails-with-metadata-generation-failed-sometimes

[2019-02-15 07:26] balag0 opened #4087 "Linux consumption custom container images fails to start"
Starting a custom container in linux consumption fails with the following exception

System.ObjectDisposedException : Cannot access a disposed object. Object name: 'LoggerFactory'.    at Microsoft.Extensions.Logging.LoggerFactory.AddProvider(ILoggerProvider provider)    at Microsoft.Azure.WebJobs.Script.WebHost.ScriptLoggerFactory.AddProvider(ILoggerProvider provider) at /azure-functions-host-sr2/

[2019-02-15 09:27] Fanatic17 commented on #2999
Any news on this issue?

[2019-02-15 14:19] yoliva opened #4088 "Azure functions not triggering"
Hi, we have a bunch of AzureFunctions (v1) deployed about 4months ago and everything was working ok until yesterday. For some reason, the azure functions stop being triggered by the scheduler. When we restart the functions directly in the portal or make a re-deployment everything works ok for about 45 minutes. Not sure what's the cause of the issue. We haven't deployed an update in the last 4 mont

[2019-02-15 14:46] swt2c commented on #4073
Magically, my function seems to have started firing again at `2019-02-15 05:15:00.030`

[2019-02-15 14:47] swt2c commented on #4088
I'm seeing my functions not firing also, see #4073.

[2019-02-15 15:22] brettsam opened #4089 "A slow startup exception from a JobHost can reset the state of the the WebHost and return constant 503s."
The pattern is:
- ScriptHostA is starting.
- Before ScriptHostA is able to call `StartAsync()` on its underlying `JobHost`, a restart request comes in.
- ScriptHostA is orphaned and ScriptHostB starts up.
- ScriptHostA's startup is canceled and it is disposed. It still calls `StartAsync()` with its disposed services.
- Meanwhile, ScriptHostB starts up happily and is running.
- ScriptHostA eventual

[2019-02-15 15:34] brettsam commented on #3740
I wonder if this is the same as https://github.com/Azure/azure-functions-host/issues/4089? The logs for these ICM incidents are gone now so I can't validate, but I'll see if I can find anything similar.

[2019-02-15 16:32] SeanK1191 commented on #3150
Hi, I am also having this problem with all endpoints. Happens when running locally using azure-functions-core-tools@1.0.12 and also when running on a functions app in Azure using runtime ~1.

Here is a log when running locally.

[code]

[2019-02-15 16:39] jcbrooks92 commented on #4021
Is there a workaround in the meantime to get past this error? We have one more occurrence of this on a v2 function with similar symptoms.

[2019-02-15 18:54] mhoeger commented on #3150
@SeanK1191 - I think what you're seeing is duplicated logs (which are confusing!! :( removed one set of those logs in V2).

Could you try adding `context.log("InvocationId: ", context.invocationId);` and see the behavior? If `InvocationId: ####` is logged twice (especially with the same invocationId), we'll keep investigating! Otherwise, although annoying, the duplicate logs (specifically, "Functi

[2019-02-15 18:55] bartdk-be commented on #563
*bump
For a special case we need ordered delivery as well.
Any update on when we can epxect sessionId support in functions ? (or when it will be added to the documentation :-/ )

[2019-02-15 18:59] paulbatum commented on #4055
Maybe if you amend your command to include verbose output, there will be a clue of what the error is? See the `-v` option documented [here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish?tabs=netcore21).

[2019-02-15 19:37] brettsam opened #4092 "Unable to unregister ScriptHost.OnHostInitializing if the host has been disposed"
See this comment for context: https://github.com/Azure/azure-functions-host/pull/4090#discussion_r257362915

[2019-02-15 19:41] johnpapa opened #4093 "debugging error when ts-check finds a violation"
When I add `// @ts-check` to a javascript file that uses `process.env.xxx` it shows `process` in a red underline because it is unknown. Then after running the debugger a few times (doesn;t always happen right away) I get this message.

![image](https://user-images.githubusercontent.com/1202528/52880325-a69c5d00-312f-11e9-8f96-4f0bc611ee5b.png)

[code]

## More details ...

why is there an error? b

[2019-02-15 21:10] #4089 closed

[2019-02-15 21:14] mathewc commented on #4021
The fix for this was v1 only - no changes were made for v2, because based on my analysis the issue I fixed for v1 didn't exist for v2.

In v2 we have [RequiresRunningHost] applied to the route, and that requires the host to be at least Initialized. However, the value ScriptHostState.Initialized is not used anywhere in the v2 codebase, so we don't ever set State to Initialized, meaning we don't let

[2019-02-15 21:18] mathewc opened #4095 "V2 ScriptHost not applying ScriptHostState.Initialized"
In working on my fix for https://github.com/Azure/azure-functions-host/issues/3825, I realized that this issue doesn't exist in v2 due to the fact that v2 isn't setting State to Initialized when it should be. We should fix this, since this can result in cold start first request delays, based on the way [RequiresRunningHost] works.

[RequiresRunningHost] requires the host to be at least Initialized

[2019-02-15 22:16] mathewc commented on #4021
Addressed by the fixes for https://github.com/Azure/azure-functions-host/issues/3825.

@jcbrooks92 likely the issue you're seeing is a different issue.

[2019-02-15 22:16] #4021 closed

[2019-02-15 23:04] thomas-schreiter opened #4098 "Identity got switched off after slot swap failed"
By "Idendity" I mean this feature:
![image](https://user-images.githubusercontent.com/3344291/52888278-0266e600-3130-11e9-9d5e-d9125b5516aa.png)

My app got run through our release pipeline, including a slot swap. The slot swap was not successful and eventually timed out after about 10 minutes. This problem is that the Identity of the production slot got switched off. This means, the app could not

[2019-02-15 23:15] beniamin-airapetian commented on #3966
Ok. Request to Azure support did helped to figure out what is wrong. All that staff like targeting framework, package versions, deployment type, etc. That all has nothing to do with the issue. The real problem was in Service Bus connection string. We had semicolon at the end of connection string. Which is normal delimiter inside the string, but should not be put to the end.

@jeffreywstevens Thank

[2019-02-16 01:07] alrod opened #4100 "Fix E2E tests for V2"
The tests are broken

[2019-02-16 13:12] dhabierre commented on #3355
I have exactly the same issue using Microsoft.NET.Sdk.Functions Version="1.0.24".

I use Terraform to deploy the function app with zip deploy.
No issue when using ARM.

[2019-02-16 18:16] Furynation commented on #3919
I am also encountering this issue. V1 functions are fine, it's V2 causing an issue. HttpTrigger binding is fine, QueueTrigger binding gives the dreaded "The binding type(s) 'queueTrigger' are not registered. Please ensure the type is correct and the binding extension is installed." I have  the Microsoft.Azure.WebJobs.Extensions.Storage NuGet package installed as well.

[2019-02-17 15:03] donniekerr commented on #85
Thank you adriennn,
This is good information.  Before I saw this, I ended up just using the @azure/storage-blob uploadStreamToBlob in the function directly instead of bindings.

Easier dynamic bindings would be a good feature to add into Azure Functions in the future.  Basically, any variable set at any time in context should work in {} in the function.json file.   Ideally.

Thanks!
Donnie

[2019-02-17 15:58] aherrick opened #4103 "System.Private.CoreLib: Exception while executing function: Fn1. Microsoft.Extensions.Logging.Abstractions: Value cannot be null."
.NET Core 2.2
Azure Functions Core Tools (2.4.299)
Function Runtime Version: 2.0.12285.0

Microsoft.NET.Sdk.Functions 1.0.24
Microsoft.Azure.WebJobs.Extensions.DurableTask 1.7.1
Microsoft.Azure.WebJobs.Extensions.Storage 3.0.3
Microsoft.EntityFrameworkCore.SqlServer 2.2.2

When trying to run my durable function via HTTP Starter, I receive the following error:

`System.Private.CoreLib: Exception wh

[2019-02-17 17:51] pragnagopa opened #4104 "Do not track jobhost language worker channels in LanguageWorkerChannelManager"
Problem: CRI  ICM# 104918155
During rapid JobHost restarts, which happens if a function is pinged while function app is being deployed, node language worker is not restarting as part of jobhost restarts. This results in timeout exceptions for all the function invocations because node process is not running.

Root cause:
LanguageWorkerChannelManager keeps track of language worker channels started a

[2019-02-17 18:03] pragnagopa commented on #4104
cc: @mhoeger

[2019-02-17 18:15] pragnagopa opened #4105 "Do not dispose webhost language worker channels as part of JobHost restart"
Problem: CRI ICM# 104731378
During rapid JobHost restarts:
- Function is pinged while function app is being deployed,
- Application is starting and setting up java language worker
- Multiple jobhost restarts are triggered as part of the deployment.
- Java Language worker channel started at the webhost level gets disposed
- Call to function invocation results in timeout

Root cause:
Java process di

[2019-02-17 18:22] pragnagopa commented on #4105
Fixes #4104 , Fixes #4105

[2019-02-18 08:37] riha commented on #4064
Thanks! Works like a charm and solves my issue.

[2019-02-18 08:37] #4064 closed

[2019-02-18 19:28] pragnagopa commented on #3876
Closing this as host will log process exits with -1 as debug logs https://github.com/Azure/azure-functions-host/blob/b99edf799d532304ddcf4fd37328f0289594d512/src/WebJobs.Script/Rpc/LanguageWorkerChannel.cs#L461

[2019-02-18 19:28] #3876 closed

[2019-02-19 01:34] pragnagopa commented on #3899
@Flanker32 - Apologies for the late response. Is this still an issue? If yes, please share app name from the most recent run. As of now, we do not have any active CRIs indicating issue with the trigger.

[2019-02-19 04:44] Flanker32 commented on #3899
@pragnagopa  We found it may related to the test script, we used to deploy the trigger first and then create the eventhub and set eventhub connection string by azure cli,  and it may lead to this issue, is it behaves by design? If so we plan to update the test case , create and save eventhub connection string to pom in pre build script and then deploy and trigger the test.

[2019-02-19 08:57] mikhailshilkov commented on #3892
I've hit the same issue today trying to return an image from my function. `$return` didn't work with a body buffer, while changing it to `res` worked.

[2019-02-19 10:05] arasium commented on #3880
Hi,

we encounter the same bug. If we take a look at the azure function monitoring, we can see that the message is processed twice but with an error on the first try: "Precondition failed".

We are using multiple subscription on the same topic (one subscription for one azure function) but with different filters. I will try to create multiple topics instead of multiple subscription.

[2019-02-19 16:03] gdodd1977 commented on #2279
Is there any update on this? It would be nice to be able to use POCOs with HttpTrigger that have Guids.

[2019-02-19 16:30] garygsscott commented on #3212
+ 1 for fixing.    Any ETA?

cc: @tohling

[2019-02-19 16:58] ConnorMcMahon commented on #2999
@Fanatic17, do you have an example of this happening. Unfortunately the previous example is now too long ago for our logs to still be populated

If you do, please provide a timerange (ideally UTC) and a function app name. If you don't feel comfortable sharing your app name publicly, you can also share it by [providing this data](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Funct

[2019-02-19 18:00] #4077 closed

[2019-02-19 18:27] brettsam commented on #3731
This version of the package is now released: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator/1.0.2.

If you add 1.0.2 as a nuget reference, your extensions.json should be generated now, no matter which framework you are targeting.

[2019-02-19 18:35] pragnagopa commented on #3581
The issue reproes more often when multiple jobhost restarts are triggered during a deployment

[2019-02-19 19:15] daxian-dbw commented on #3990
Now, is there a way to get the mentioned metric with a specific worker? If not, shall I open a new issue to track this work?

[2019-02-19 19:23] pragnagopa commented on #3899
Yes. When a function app starts up, it sets up listeners for various triggers. For E2E tests, a better flow would be to setup azure resources once and run tests against existing azure resources.

Closing this as by design.

[2019-02-19 19:23] #3899 closed

[2019-02-19 20:43] mhoeger opened #4106 ""dataType" property does not apply to HTTP request body"
The "dataType" property in function.json does not apply for HTTP bindings. One could very reasonably expect "dataType" to be applied to the HTTP body (instead of relying on HTTP headers that are either set on the client-side or via proxies / API Management).

Note that confusion also lies in the fact that we need to add information to documentation: https://github.com/MicrosoftDocs/azure-docs/issu

[2019-02-19 22:02] pragnagopa opened #4107 "Add language worker channel manager at the JobHost level"
Currently, language worker channel created at WebHostLevel should be managed by LanguageWorkerChannel and FunctionDispatcher should not have knowledge about worker channels created at WebHostLevel.

Refactoring and adding a JobHostLanguageWorkerChannelManager will keep the scope separate

[2019-02-19 22:51] m1nkeh commented on #3212
![image](https://user-images.githubusercontent.com/13475141/53053321-ebf6bc80-3498-11e9-9641-26cef8243abc.png)

[2019-02-19 22:58] m1nkeh commented on #3212
![](https://vignette.wikia.nocookie.net/irategamerdoesnotsuck/images/2/2f/Tumbleweed.gif)

[2019-02-19 23:05] #3581 closed

[2019-02-20 13:09] HShather commented on #3747
Is there plan to fix this for javascript v2 functions?

this issue makes diagnosing errors and performance issues very difficult for us.

this issue, together with [2447](https://github.com/Azure/azure-functions-host/issues/2447) and caussing us to migrate some of mission critical applications away from azure functions to a web app/web job.

[2019-02-20 14:19] yoliva commented on #4088
@swt2c any luck so far?

[2019-02-20 14:50] swt2c commented on #4088
Unfortunately not.  One of my functions has been running for over a week.  It is supposed to fire once an hour but it has only fired 4 times.  :(  We really need someone from Microsoft to look into this.

[2019-02-20 15:51] kemmis commented on #3386
Still broken for me. Please fix.

[2019-02-20 16:59] juanm-pereyra commented on #1063
Hi, as stated in our Azure ticket 119021324001042, the approach of moving into a blob storage upload and then process is not something we can do. Is there an ETA on either this feature or rising the limit further than 100mb?
Thanks.

[2019-02-20 17:36] fabiocav commented on #3386
@kemmis when did you last try this? Can you make sure you're referencing the latest version of the metadata generator package (https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator/) and retry? An update was just pushed yesterday, and if what you're running into is the same issue with the targets, that change should address it.

[2019-02-20 17:47] paulbatum commented on #1063
@juanm-pereyra can you elaborate on why the client can't upload to blob storage, using a SAS token? In both cases its a HTTP request. All I can really suggest is that if you absolutely must have a HTTP endpoint that can accept requests larger than our current limit, you'll need to use something else to implement that endpoint (such as ASP.NET or node.js), or deploy your own custom build of functio

[2019-02-20 18:30] Bomret commented on #4104
This should hopefully also help with Javascript-based functions? Because currently our function apps die regularly with (node exited with exit code -1) when a function is triggered during or shortly after deployment.

[2019-02-20 18:52] mathewc commented on #3635
Will be addressed by https://github.com/Azure/azure-functions-host/issues/3994. Specifically there will be a new API for listing function keys that will work regardless of runtime version.

[2019-02-20 19:02] paulbatum commented on #3905
I just attempted to reproduce this and I was unable to do so. My environment details:

[code]

I'll update VS, see if that makes a difference.

[2019-02-20 19:30] #4100 closed

[2019-02-20 19:31] #3640 closed

[2019-02-20 19:33] #1237 closed

[2019-02-20 19:42] tsharp commented on #3905
I've created a repo that reproduces the issue for me: https://github.com/tsharp/azfunc-extensions-issue

VS 15.9.4
Azure Functions and Web Jobs Tools 15.9.02046.0

[2019-02-20 20:28] alrod commented on #3929
The scope of his work essentially is to validate that we’re adding the key ID claim for system keys.
I validated the we are adding key ID here:
https://github.com/Azure/azure-functions-host/blob/06913c48a043e33c19776fde7795bb256579f31c/src/WebJobs.Script.WebHost/Security/Authentication/Keys/AuthenticationLevelHandler.cs#L67

[2019-02-20 20:29] alrod opened #4111 "Move performance tests source code to separate repo"
Move performance test source code to https://github.com/Azure/azure-functions-performance-scenarios

[2019-02-20 20:34] alrod opened #4112 "Add email notifications for performance tests if results are less then threshold/failed"

[2019-02-20 20:42] soninaren commented on #3997
This is complete

[2019-02-20 20:42] #3997 closed

[2019-02-20 21:24] fabiocav commented on #4104
Resolved by #4102

[2019-02-20 21:24] #4104 closed

[2019-02-20 21:25] fabiocav commented on #4105
Resolved by #4102

[2019-02-20 21:25] #4105 closed

[2019-02-20 21:27] alrod commented on #3990
@daxian-dbwI, I was investigating using JS worker. If you want me measure the time for PS please create an issue and assign it to me.

[2019-02-20 21:29] mhoeger opened #4113 "Missing FunctionName in some logs"
There are a few areas where "FunctionName" is missing from our logs:
 - where Source contains "Host.Triggers.Timer"
 - where Source contains "Script.Host" and where Summary contains "updated status: Last="
 - where Summary contains 'functions are in error' and Summary contains ".Run"

[2019-02-20 21:31] pragnagopa opened #4114 "Helper tool that generates Palceholder Ids and return best matching poolId"
Tracking item for placeholder pools. Details TBD.

[2019-02-20 21:44] mhoeger commented on #4079
@dan-v-elevate - we've checked in a fix for the process not recovering here: https://github.com/Azure/azure-functions-templates/pull/836

This fix will be rolled out soon with this release: https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12332

The exception becomes fatal when it is uncaught, meaning that it occurred outside of the scope of the functions execution (after your funct

[2019-02-20 22:00] dan-v-elevate commented on #4079
Thanks @mhoeger! We are using async functions, so there is definitely a chance we aren't properly awaiting somewhere. I'll take a look but glad to see a fix that will recover the process when it gets into this state.

[2019-02-20 22:26] tsharp commented on #3905
I was able to get it working again by removing a line from the nuget.config file:

[code]

Once removed the extensions.json file was generated normally.

[2019-02-20 23:24] hiraldesai opened #4115 "Timer trigger firing multiple times"
I am seeing an issue where a timer trigger is firing multiple times at the same time (a few microseconds apart from each other to be precise).

Product version: V2
Runtime version: 2.0.11888.0 (beta)
Cron expression for the job: 0 0 20 * * *
Evidence: screenshot below
![image](https://user-images.githubusercontent.com/1005174/42342641-8c1e4924-804b-11e8-8c04-4da81b8d4105.png)

I'm running the func

[2019-02-20 23:24] #4115 closed

[2019-02-20 23:31] paulbatum commented on #3905
Interesting - @fabiocav do you have any ideas why this setting my impact the generation of extensions.json?

[2019-02-20 23:37] mathewc opened #4116 "Worker log improvements"
Currently some multi-line worker errors are emitted as multiple single lines in Kusto. For example, an error like:

[code]

shows up in our Kusto logs as 11 separate lines. That makes it hard to search through errors. See ICM #73561875 for an example occurrence including queries.

[2019-02-20 23:39] fabiocav commented on #4116
Moving this to triaged issues for validation

@brettsam / @pragnagopa may have the details

[2019-02-20 23:42] devkeydet opened #4117 "Problem using VSTS C# client library (VssConnection)"
I'm running into the issue described here here:
https://developercommunity.visualstudio.com/content/problem/117356/problem-using-vsts-c-client-library-vssconnection.html

The workaround seems to address the issue, but the original poster asks if the Azure Functions team is aware of the issue.  I searched through the issues archive and did not find an issue, so I am submitting one.

[2019-02-21 00:24] PureKrome commented on #3736
@fabiocav

Is there an official place we (the public) can view what the last SDK items are? Is it a single/few GH milestones?

I can't explain how important this is for so many of us (that is, people who I talk to, about AF). It's literally a deal blocker for many of us. I know that sounds lame/weird :(

So having any insight into work items, milestones and dates can give us some hope and transpar

[2019-02-21 03:59] ishepherd commented on #4056
I guess this is https://github.com/Azure/azure-functions-host/issues/2447

[2019-02-21 04:02] ishepherd commented on #2447
It's not only Response details that are missing. We found things like URL (=> requests.url) and HTTP Method (=> requests.customDimensions.HttpMethod) are missing too.

[2019-02-21 05:18] ishepherd commented on #4055
Hi @paulbatum - It came back today and I captured logs with `-v diag`
I get 50 MB of junk but it doesn't look like any of it is coming from the `Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.dll`.

----

Anonymized snippet - Let me know if you want the whole thing privately

[code]

[2019-02-21 07:18] jeffhollan commented on #3543
@fabiocav this would be a good one for this sprint

[2019-02-21 07:21] jeffhollan commented on #3741
@brettsam do you have a good feel for what the right feature / fix is that could resolve this?  Seems to be a fairly common type ask and not sure I'm clear on exactly if just a doc gap, feature gap, or something that could be solved with other in flight work.

[2019-02-21 07:24] jeffhollan commented on #3998
@soninaren any thoughts on this?  The fact that it works locally but not when deployed is interesting as well. Not sure if that was the case with #3916

[2019-02-21 07:26] jeffhollan commented on #2192
Update: working on a blog and a sample that does this.  For now you can check out the code here to do exponential retries with service bus.  For now the sample code is here

https://github.com/jeffhollan/functions-csharp-queue-exponential/blob/master/ExponentialRetry.cs

[2019-02-21 07:32] jmezach commented on #3731
I just switched my project back from targetting netstandard2.0 to netcoreapp2.2, but even without this new package installed it seems to be working fine. So I'm a little confused as to whether I need to install this package or not.

[2019-02-21 09:47] CrazyTuna opened #4120 "Cannot retrieve the master key using the Key management"
Hi I have a Function V2 that I've just created and I am trying to retrieve the `_master` key as described in the   [Key management API](https://github.com/Azure/azure-functions-host/wiki/Key-management-API#host-key-resource-adminhostkeyskeyname) documentation.

**Note**: The master key is exposed under the reserved name _master and DELETE is not supported

    Function Get-Function-Jwt {
        P

[2019-02-21 12:21] juanm-pereyra commented on #1063
Hi Paul, sure, we're implementing JWT authentication that has claims
pertinent to what can be done with the file, so in short we can't separate
the request context from the file processing without doing something hacky.

Sounds like we're going to have to plan to move out of Azure Functions
then, at least for the HTTP triggers (which to tell you the truth, is kind
of sad, having to ditch the serve

[2019-02-21 13:16] bledbet commented on #2192
This looks good - I would recommend also binding the MessageReciever so that when retry-count is >= the specified number of allowed retries, you can use it to deadletter the message.

[2019-02-21 13:36] brettsam commented on #2447
#2073 will address this as well. We are waiting on a portal change before we can fully merge the PR (it would break the query we use in the Functions "Monitor" page). It is effectively changing HTTP-triggered function telemetry to look like the standard App Insights RequestTelemetry.

[2019-02-21 13:42] brettsam commented on #3731
I've not seen that workaround before, so I can't speak to that. But you shouldn't need to do anything special anymore with this new package. I'm not sure why it would be working without it, as it was pretty broken when targeting anything other than a 2.0 framework. Have you tried a full clean and build?

But, in general, if it works, that's good :-)

We'll be moving the Microsoft.NET.Sdk.Functions

[2019-02-21 13:55] MHHenriksen commented on #2447
@brettsam, did you link the right issue? #2073 was moved and then closed as wontfix, and doesn't seem related to what you wrote.

[2019-02-21 14:02] bogardt commented on #2447
nope, issue was moved to azure-functions-core-tools project from azure https://github.com/Azure/azure-functions-core-tools/issues/353

cf: https://github.com/Azure/azure-functions-host/issues/2073#issuecomment-358079463

[2019-02-21 14:53] brettsam commented on #2447
Whoops -- meant https://github.com/Azure/azure-webjobs-sdk/pull/2073.

[2019-02-21 14:59] davidkassa commented on #3919
@Furynation same for me and it's driving me nuts! One thing I'm finding strange that I'm digging into is my Azure Functions Core Tools say they're version 2.4.379 (hash: ab2c4db3b43f9662b82494800dd770698788bf2d) but it appears the latest is 2.4.317. Not sure if it's related but what I'm digging into now.

[2019-02-21 15:05] brettsam commented on #3741
I apologize for the delay -- I lost track of this issue. Looping in @lmolkova for her thoughts as well.

For the core issue filed -- registering a custom `ITelemetryProcessor` should be do-able and fairly easy. You could register one or more with DI and we could stick it at the end of the processor chain, after all of our built-in processors run. That shouldn't be too difficult and as long as we c

[2019-02-21 16:27] michaeldaw commented on #3741
@brettsam For me, the category seems to always be Function.<FunctionName>. I don't see any categorized as Host.Bindings.

[2019-02-21 16:28] brettsam commented on #4113
If we wrap wrap Trigger.StartAsync() with a logging scope that injects the function name, that should allow FunctionName to be added during startup.