[2018-03-09 12:30] hentie opened #2499 "Function App not scaling properly when triggered from ServiceBus"
We have a Azure Function App that gets deployed via VSTS App Service deploy and it only has Azure ServiceBus triggers.  Last year the application was scaling normal, but since January this year we noticed that the app does not scale properly under heavy load.   This was after the app was recreated through an ARM template script and redeployed,

Previously it use to scale up to 50+ instances and no

[2018-03-09 17:36] MayankSri opened #2501 "OutOfMemoryException"
Hi,
I have an http trigger Azure function which reads text in blobs and returning as a string in a JSON payload.
I am using the consumption plan.

I am trying to read ~400 Mb blob file and getting 500 response with the following response in postman:
`{`
`    "id": "3d66f897-8096-47f4-a4a7-73ee1fee889f",`
`    "requestId": "974892d7-2b28-49ae-860e-f2f78a3ee5c7",`
`    "statusCode": 500,`
`    "erro

[2018-03-09 18:39] pragnagopa commented on #2272
There are no request handlers in V2. [FunctionInvocationMiddleware.cs](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Middleware/FunctionInvocationMiddleware.cs) handles invocations.
Once DI changes are checked in, need to figure out if we need system logs similar to V1 like the one [here](https://github.com/Azure/azure-functions-host/blob/v1.x/src/WebJobs.Script

[2018-03-09 19:07] felpel opened #2502 "C# - Calling extension method in application startup results in crash"
#### Investigative information

**Note: Local development**
- Timestamp: 01:50:00PM EST - 2018-03-09
- Function App version (1.0 or 2.0-beta): 1.0
- Function App name: Not disclosed
- Function name(s) (as appropriate): Not disclosed
- Invocation ID: Not disclosed
- Region: Not disclosed

#### Repro steps

1. Create local Azure function project in VS;
2. Create a new C# library and reference it in

[2018-03-09 20:50] pragnagopa commented on #2477
@elprans - does this repro in AppServicePlan as well?

[2018-03-09 21:41] elprans commented on #2477
No, I haven't been able to reproduce on AppServicePlan yet.

[2018-03-09 23:33] pragnagopa commented on #2482
@brettsam - Do we support this or plan to add support?

[2018-03-10 00:43] SeanFeldman opened #2504 "Add ability to register Service Bus plugins"
Azure Service Bus .NET Standard client supports [plugins registration](https://github.com/Azure/azure-service-bus-dotnet-plugins) for incoming and outgoing pipeline customizations. Already existing plugings are:
- [Message ID](https://github.com/Azure/azure-service-bus-dotnet-plugins/blob/dev/src/Microsoft.Azure.ServiceBus.MessageIdPlugin/readme.md) (to follow message ID conventions or for de-dupl

[2018-03-10 04:32] lostintangent commented on #2048
@mamaso Has there been any updates to this issue? I just installed the latest Azure Functions core tools, created a new Java function (via the VS Code extension), and immediately hit this exact same error.

[2018-03-10 14:37] m1nkeh commented on #1579
Has there been any movement on this issue at all recently... i can see no "proper" updates for a few months now, and we are just facing this issue.

We need / want to store all of our Keys in KeyVault (CosmosDb, Blob Storage, AppInsights Etc.), and therefore ILogger is a bit too restrictive within Functions, and doing it completely ourselves and having to scatter all the built in telemetry you get

[2018-03-10 17:49] StephenCleary commented on #992
Here's an example of a use case that is broken today (using VS 15.6.1 and Azure Functions Tools 15.0.40215.0):

1. File -> New -> Azure Function -> HTTP trigger (storage emulator, anonymous access).
2. Install Newtonsoft.Json, since I always use it.
3. Run the function. It starts the host just fine, but if I actually go to `http://localhost:7071/api/Function1`, then I get the error `System.Private

[2018-03-11 06:32] AlexLvovsky commented on #1640
Hi,
Are there any updates about this issue?

[2018-03-11 07:08] wminos opened #2506 "Do you plan to support timezone in host.json?"
I will close this issue if I misunderstood.
If you have any other good ideas, please let me know.

Currently I know that I need to define a timezone in the WEBSITE_TIME_ZONE environment variable in my application settings.
But in azure world, some want to UTC and some want to EST (EST for dev funcs, UTC for product).
Of course it is still possible.
I need to set a different WEBSITE_TIME_ZONE envir

[2018-03-11 08:22] DVaughan opened #2507 "Regular 404's when call API Key Management API"
I'm adding API keys to one function from another (in a different functions app) by performing a PUT to:
{baseUrl}/admin/functions/{function name}/keys/{keyName}

It sometimes works. But invariably I receive a 404.

#### Investigative information

Please provide the following:

- Timestamp: Sunday 11 March 9.20 am CET
- Function App name: devices01
- Region: Western Europe

[2018-03-11 11:42] AssafNeufeld commented on #1961
Any news on this issue?
I'm getting the exact same thing.. :(

[2018-03-12 05:34] Clockwork-Muse commented on #2506
....what problem are you trying to solve here?  Not, "I'm trying to set the environment timezone", _why_ are you trying to set the timezone.

Note that, generally speaking, an application should work regardless of the environment timezone.  In a server environment, the timezone of the server is rarely (if ever) relevant, because you're going to be far more interested in the timezone of your busine

[2018-03-12 06:32] wminos commented on #2506
@Clockwork-Muse
I agree with your opinion that programs and systems (including time zones) should be independent.

The azure functions are all that used to be a secondary tool for development that day,
and I have somewhat misunderstood the role of host.json.

I was thinking of host.json as a layer like publish profiles (pubxml),
so I do not think that my code should include a timezone.

However, I

[2018-03-12 06:33] #2506 closed

[2018-03-12 11:30] SimonLuckenuik commented on #2032
@safihamid, @paulbatum, @alexkarcher-msft  how are we progressing on this issue to we have any target date? I don't think that having the same behavior for Proxies and Functions is a feature, but rather an issue, considering that the main scenario for Azure Functions Proxies is to "break a large API into multiple function apps (as in a microservice architecture)" (see https://docs.microsoft.com/en

[2018-03-12 12:26] NichUK commented on #1451
Definitely +1 need to be able to break down costs for clients, and better predict what costs will be when functions scale up through use.

[2018-03-12 16:39] Fabsi110 commented on #1451
@paulbatum since your last comment, three people upvoted this issue and a similar issue was closed as duplicate. What do you think about the priority of this issue?

[2018-03-12 16:55] pragnagopa commented on #2507
I could not repro this issue.  our logs do not show 404's on the Function App: devices01. Can you share the app name where we you were trying to set the key?

[2018-03-12 17:08] #2391 closed

[2018-03-12 17:41] paulbatum commented on #1451
@Fabsi110 It is not a high priority for us right now. Our efforts are focused on issues that block adoption of functions (running cross platform / perf / reliability / more language support) and the data we have so far indicates this feature is more of a nice to have than a blocker.

[2018-03-12 17:59] Fabsi110 commented on #1451
@paulbatum I understand your argumentation and I think all those features are very important. Unfortunately, I think this feature is not just nice-to-have. Nobody can verify your bills right now and this is not appropriate. When you want money from the people, they should be able to understand and verify the cost. Your competitors (AWS and Google) are a lot more transparent and you should follow t

[2018-03-12 18:04] JeffHughes commented on #1451
yep - this is a major blocker and a feature that has caused me to have to use AWS instead of Azure.
Easy to dismiss if you don't understand the use case; as a MSer, you don't have to pay for the service.
But, all of us who have to pay for it REALLY need to know how much it costs to run a function.

    On Monday, March 12, 2018 12:59 PM, Fabian Schürer <notifications@github.com> wrote:

 @paulbatu

[2018-03-12 18:05] paulbatum commented on #1451
@JeffHughes @Fabsi110 thanks for providing your feedback, I'll make sure this issue gets some visibility with product owners.

[2018-03-12 18:06] stap123 commented on #1451
I completely agree, it is VERY difficult to get any kind of buy in when your asked how much is it likely to cost to run XYZ. and you have to respond no idea, let just do it anyway and we'll know after a month.

You just can't quantify "a function" so quantifying a project that likely to contain several is exponentially harder.

[2018-03-12 18:10] NichUK commented on #1451
Just to chime in as well, I completely agree with @Fabsi110. It's about transparency as much as letting us be able to budget from some test runs, without jumping through a lot of hoops to try and work out locally what it *might* cost in reality.

[2018-03-12 18:24] safihamid commented on #2032
Hi @SimonLuckenuik
We might have a workaround here. are you saying you tried both of these and didn't work?
 "requestOverrides": {
        "backend.request.headers.MY-HOST": "request.headers.Host"
        "backend.request.headers.MY-HOST2": "request.headers.Disguised-Host"

      },

[2018-03-12 18:30] paulbatum commented on #992
@StephenCleary for the scenario you just described, I assume you did this selecting the V2 preview, as this is not the behavior you get on V1. Be aware that the current V2 code has ZERO behavior for managing this in that it does not even have binding redirects that we own (V1 has these).

We agree that out-of-proc is the long term solution to this problem, and you are correct that the richness of

[2018-03-12 18:42] SimonLuckenuik commented on #2032
@safihamid, sory for the confusion I was probably still sleepy, I made a mistake in my comment from this morning, Proxy is working correctly, it is with the regular function that we lose the custom domain name, forcing us to always use the proxy in order to have the information inside the regular Function not going through the proxy.

[2018-03-12 19:19] safihamid commented on #2032
@SimonLuckenuik ok so you are trying to not use the Proxies and just Functions and get the custom domain name info in your function code, right? That information might be available already in an environment variable or something, I could check it out or if you have your function app with custom domain, just browse to the Kudu(scm) and list of env variables and see if it's there.

If not, then we s

[2018-03-12 20:43] JonathanGiles commented on #2055
Just for completeness, this issue is present for Java as well as C# (I'm guessing for all v2 platforms), but I wanted to call out my pain point is with Azure Functions / Java.

[2018-03-12 20:46] SimonLuckenuik commented on #2032
Ok, I just rebuilt the complete thing to test the scenario again, and surprise it's fixed :-) Tried with both default and Beta runtimes. Disguised-Host is working as expected now (see below).  I am going to close this issue for now, I will re-open it if I face the issue with the actual production code that triggered this issue repro when we start working on it again in the following weeks. Thanks!

[2018-03-12 20:46] #2032 closed

[2018-03-12 21:48] pragnagopa opened #2510 "Investigate why node process crash errors do not show up in system logs"
If the worker process is crashes,  logs are not written to system logs. The only way to debug is to repro locally, enable file logging and look in the “workers” directory (same place “functions” and “host” are)

[2018-03-12 22:43] fabiocav opened #2511 "Investigate issue with NodeEndToEndTests.QueueTriggerByteArray"
The `NodeEndToEndTests.QueueTriggerByteArray` is currently in a bad state and does not pass in CI. The issue needs to be investigated and resolved. The test is being disabled in the meantime

For more context, see:
https://github.com/Azure/azure-functions-host/pull/2503

[2018-03-13 01:14] paulbatum commented on #2243
I'll note that this can completely hose a V2 application running in a dedicated app service plan as it puts the app into a state of permanently returning 503s, so even functionality like Always On will not return the app to a healthy state.

[2018-03-13 01:25] soninaren opened #2512 "Skip XML restore when restoring nuget packages as a part of extension install"
We need to set **NUGET_XMLDOC_MODE = skip** environment variable to skip restoring xml files. This significantly reduces the number of files we restore.

[2018-03-13 01:43] #2353 closed

[2018-03-13 01:48] alrod opened #2513 "CrossGen win-x86 functions extension packages"
Adding CrossGen packages to CI output.

* Functions.2.0.0-alpha.win-x86.zip
* Functions.Binaries.2.0.0-alpha.win-x86.zip

[2018-03-13 02:03] alrod opened #2514 "[V2 Cold Srart] Investigate in process hosting"
Testing ASP.NET Core 2.1.0 preview + in process hosting.

[2018-03-13 02:04] alrod opened #2515 "[V2 Cold Start] Investigate Tiered Jitting"
Testing ASP.NET Core 2.1.0 preview + Tiered Jitting

[2018-03-13 05:27] catcher-in-the-try commented on #2126
@nelak So what's the solution for that? The error keeps happening for new function apps deployed in Azure and I can't figure out a way to fix it.

[2018-03-13 09:03] ishepherd commented on #586
@surenderssm Please give a example where this is a concern?

[2018-03-13 14:05] Tirupathitemburu opened #2516 "Could not load file or assembly Microsoft.EntityFrameworkCore Error in azure functions App"
I am using Visual Studio 2017 v-15.6.0 & AzureFunctions Project is Standard2.0 & webjobs 3.0.0-beta-3. i am trying to build deb context using entity framework core. I am getting bellow error Could not load file or assembly 'Microsoft.EntityFrameworkCore, Version=2.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. Could not find or load a specific file. (Exception from HRESULT: 0x80131621)'

[2018-03-13 14:06] nelak commented on #2126
@catcher-in-the-try The issue I was having at that time was caused by the path lookup being case sensitive
The newer versions I had tried after that worked, last time I used it I was on beta.22 and running without issues.

[2018-03-13 15:17] brettsam opened #2517 "Canceling the token passed to RunAndBlock() should wait for host to fully stop before exiting"
Our Update/Rename and Restart tests were failing at a pretty high rate. I've fixed them (I hope) with #2498.

If you start the `ScriptHostManager` with:

`manager.RunAndBlock(cancellationToken);`

And then cancel that `cancellationToken`, the method will fire-and-forget a background task to dispose of the current `JobHost` and then exit almost immediately. You can't be certain that everything was

[2018-03-13 16:43] Clockwork-Muse opened #2518 "Consider adopting RFC7807 (JSON Problem Object) for errors"
Although functions should do most of their own error handling and return serialization, there are a few areas where Azure handles or returns errors before client functions are even woken up or called.  (Current most vexing case: JSON deserialization, especially if it doesn't pass validation)

For those times, consider adopting/returning [RFC7807](https://tools.ietf.org/html/rfc7807) (JSON Problem

[2018-03-13 17:14] cgillum opened #2519 "HTTP pings log to disk even when fileLoggingMode is set to "never""
I'm updating my `host.json` file with `"fileLoggingMode": "never"`, but I still see verbose log text written to disk when I do HTTP pings to the root of my function app. This is concerning both from a performance perspective (disk is slow) and a denial-of-service perspective if someone throws anonymous traffic at my function app (including the scale controller).

Note that function execution does

[2018-03-13 17:26] cgillum opened #2520 "Invoking binding extention webhook URLs writes debug_sentinel file to disk"
My understanding of the **debug_sentinel** file is that it puts the functions host into "debug" mode, enabling extra logging, etc. It seems that whenever *any* API under the /admin/ URL gets hit, we create this file. This seems bad because web hook extensions live under the /admin/ URL prefix and invoking those will put the function app into debug mode, which is not desired.

#### Investigative in

[2018-03-13 18:28] #2519 closed

[2018-03-13 23:32] ahmelsayed opened #2525 "[V2] Running on Windows .NET Core 32bit throws an access violation exception"
Run an x86 build from here https://github.com/Azure/azure-functions-core-tools/releases/tag/2.0.1-beta.24 or using dotnet.exe 32bit throws the following exception

[code]

on this line https://github.com/Azure/azure-functions-host/blob/65183c837f3017615c184ecc45ccdb9f9ae6b2c9/src/WebJobs.Script/Rpc/ProcessManagement/JobObjectRegistry.cs#L18

[2018-03-14 00:40] mathewc opened #2526 "ScriptSettingsManager Caching issue"
Currently the implementation of ScriptSettingsManager is caching values, meaning for example during placeholder specialization when environment values are changing, we won't see them. The v1 implementation of GetSetting always called `Environment.GetEnvironmentVariable` so would see updated values. The v2 implementation is calling into `IConfiguration` which is caching things.

Repro: Enable [this

[2018-03-14 10:47] DVaughan commented on #2507
I tried to set one just now (11.37 AM CET) using:
https://licensee.azurewebsites.net/admin/functions/AssignedLicense/keys/testlicenseeAdmin

The app name from where I was attempting to set the key is: licensor. But it was debugging locally.

[2018-03-14 10:50] MrGlenThomas commented on #2471
I have 2 timer triggered functions, each disabled using their own disabled app setting, I have one set to "False" and one set to "True", both are showing as "(disabled)" in the portal, but both are executing...

[2018-03-14 12:37] Tirupathitemburu commented on #2516
I was using entity framework core 2.0.1. i downgraded to 2.0.0 its working fine. might be Azure Functions not supporting 2.0.0 above versions

[2018-03-14 15:56] fabiocav commented on #2263
@mathewc was in this area fixing other tests and “accidentally” got this done.

[2018-03-14 15:59] audipen commented on #2448
@dsm0880 I do get the same error and have the latest Azure Functions extension installed in VS and the csproj file also looks fine. The error is

The function runtime is unable to start. System.Private.CoreLib: Exception has been thrown by the target of an invocation. Microsoft.ServiceBus: The type initializer for 'Microsoft.ServiceBus.Messaging.Constants' threw an exception. Microsoft.ServiceBus:

[2018-03-14 16:39] pragnagopa commented on #2272
ActivityId and ColdStartEventName are added to the logdata [here](https://github.com/Azure/azure-functions-host/blob/bafab95344edf81ff100b2bb0f76ea5681ca57be/src/WebJobs.Script.WebHost/Features/FunctionExecutionFeature.cs#L77). Investigate if these properties can be added to the ILogger scope similar to other logging properties added [here](https://github.com/Azure/azure-webjobs-sdk/blob/5140983cb

[2018-03-14 17:58] fabiocav commented on #2520
@mathewc has a PR out for V1, so I'm assigning this to the current sprint.

@mathewc, not sure if we want to have a separate issue or keep this open until a similar change is made in V2. Your call.

[2018-03-14 18:13] mathewc commented on #2520
I'll merge it to dev branch today.

[2018-03-14 18:27] fabiocav commented on #2517
This is not currently impacting production scenarios, and only applies to V1. Closing as "won't fix"

[2018-03-14 18:27] #2517 closed

[2018-03-14 18:33] fabiocav commented on #2502
Can you share a simple repro on GitHub? Our default templates make use of extension methods, so it would be good to see exactly what you're doing.

[2018-03-14 18:51] fabiocav commented on #2495
This issue was moved to Azure/azure-functions-core-tools#405

[2018-03-14 18:51] #2495 closed

[2018-03-14 18:53] fabiocav commented on #2494
This issue was moved to Azure/Azure-Functions#715

[2018-03-14 18:53] #2494 closed

[2018-03-14 19:45] felpel commented on #2502
Actually, we solved the problem by replacing the following references in our referenced projects:
- `Microsoft.Extensions.Caching.Memory@1.1.2` for `Microsoft.Extensions.Caching.Abstractions@1.1.2`;
-  `Microsoft.Extensions.DependencyInjection@1.1.1` for  `Microsoft.Extensions.DependencyInjection.Abstractions@1.1.1`

We don't know why, but it seems that the resulting DLL that was used to locate th

[2018-03-14 20:01] paulbatum commented on #2502
Thanks for the details. We suspected that there was not a general problem with extension methods as originally reported and that the issue was specifically about the assemblies being used in this project. Closing this as its now confirmed.

[2018-03-14 20:01] #2502 closed

[2018-03-14 20:06] felpel opened #2529 "[Question] Microsoft.NET.Sdk.Functions NuGet package references"
Is there a particular reason why the versions of many dependencies are set to a **specific version**, a.k.a. it doesn't allowed **a greater or equal version** when it comes to the `Microsoft.NET.Sdk.Functions` NuGet packages?

As for example, with the current latest version ([1.0.9](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/1.0.9)), we're _stucked_ with many fixed references. As a

[2018-03-14 20:14] mathewc commented on #2520
Corresponding dev branch commit here: https://github.com/Azure/azure-functions-host/commit/3f70b16418a67af84846a6bb50f2386824e1a475

[2018-03-14 20:14] #2520 closed

[2018-03-14 20:19] #2263 closed

[2018-03-14 21:34] fabiocav commented on #2529
The reason why those are locked to specific versions is because in Azure Functions, you're running on a host that uses them, and many scenarios would be impacted (primarily binding ones) by mismatched dependencies, so to prevent an issue that would only be found at runtime, the SDK makes that happen at build/package installation time.

If you happen to be trying to leverage a scenario that doesn't

[2018-03-14 21:34] #2529 closed

[2018-03-14 21:46] sinapis commented on #1206
So I stumbled upon [this](https://www.azurefromthetrenches.com/azure-functions-significant-improvements-in-http-trigger-scaling/) article and thought, well maybe Azure Function can finally scale. I created AF with .Net Core 2, set WEBSITE_HTTPSCALEV2_ENABLED to 1 in app settings and deployed this code to East US region:

[code]

I've executed [bombardier ](https://github.com/codesenberg/bombardier

[2018-03-14 21:49] pragnagopa opened #2530 "Admin Api's on functions can cause 404's"
Issue reported in #2507 . I think issue would repro if admin api are being hit before scripthost finishes function indexing.
Repro:
- Create new key on an inactive funtion app (cold start)

Workaround:
Retry on 404

Here is the code that returns 404
- Function [NotFound](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Controllers/KeysController.cs#L164)

- Operati

[2018-03-14 21:51] pragnagopa commented on #2507
I can see the logs and can repro this issue.  I think issue would repro if admin api are being hit before scripthost finishes function indexing. Opened issue #2530.
As a workaround, for now can you please retry on 404?

[2018-03-14 21:51] pragnagopa commented on #2507
Closing this issue as there is a tracking item

[2018-03-14 21:51] #2507 closed

[2018-03-14 21:56] paulbatum commented on #2499
@hentie If you can share details as requested in our issue template I can investigate.

[2018-03-14 21:57] mhoeger commented on #2511
Fails with:
"Message: System.AggregateException: One or more errors occurred. (Could not find part of the path 'c:\xxxxx\AppData\Local\Temp\Functions\Function\QueueTriggerByteArray'.)

[2018-03-14 22:09] PureKrome commented on #1206
@sinapis thanks heaps for the repo code! I'm going to give this a try also in our Australian Azure/AWS POP's to see similar things. I'm expecting as such.

Very frustrating re: Azure Functions just not working that great for anything other than simple scenarios.

[2018-03-14 22:10] davidebbo commented on #1206
@sinapis @PureKrome please see https://github.com/Azure/app-service-announcements/issues/90. This flag right now gives a preview of the behavior, which improves from the current situation  (which is admittedly bad). But is also much more limited to what you will get once the feature is fully released (about 4 weeks out). At that point, it will reach a level where scale should no longer be a factor

[2018-03-14 22:22] davidebbo commented on #1206
@sinapis would you mind also sharing the test Function App name that you used, and the approximate UTC time of your run? That will help us make sure that it behaved as expected given the current limits on the Preview scale changed. Thanks!

[2018-03-14 23:34] davidebbo commented on #1206
@sinapis actually, re-reading what you wrote above, you are using the v2 Preview runtime, which right now does not scale well. That is very likely the primary factor that led to these results. The v1 runtime is the one that is much more optimized and gives good numbers.

You had us a bit worried for a while :)

[2018-03-15 00:48] mhoeger commented on #2401
@paulbatum - I think @MikeStall has already written code to do validation on function.json's! It looks like there is a bug though where we should be catching an "InvalidCastException" instead of a "FormatException".

https://github.com/Azure/azure-functions-host/blob/03e7c2993fac214f4835ccc6ad3d507bdd347f8c/src/WebJobs.Script/Binding/Extensibility/ScriptBindingContext.cs#L113

[2018-03-15 08:30] DVaughan commented on #2530
Retry doesn't appear to help.

[2018-03-15 11:35] hentie commented on #2499
@paulbatum  I have update some of the details.  If anything more is required to get started, please specify which additional information I need to provide.  Thank you in advance

[2018-03-15 12:30] vinothrao opened #2532 "could not load referenced project dll's ."
I have certain dll's that i have to load as a part of my azure function. I have a section in app.config which will access these assemblies and get the configuration information.

[code]

  and reading the config file using the following

[code]

in local i have copied these dll's to  '..\AppData\Local\Azure.Functions.Cli\1.0.9' and everything works fine.
while publishing these dll's are copied to

[2018-03-15 13:55] brettsam commented on #2441
I have a fix for this one as well, so stealing it away (#2533)

[2018-03-15 16:42] #2441 closed

[2018-03-15 17:16] paulbatum commented on #2499
I had a look at our logs. Right now I can't see much evidence of under scaling. I pulled our stats for the last 3 days of activity, and it shows that the longest amount of time a message sat on the queue/topic for was just under 2 minutes, and the max number of queued messages we observed at any given time was 750. Also for the case where some messages took 2 minutes to process, it looks like it w

[2018-03-15 17:16] #2386 closed

[2018-03-15 17:20] pragnagopa commented on #2530
@DVaughan - Can you share a simple repro?

[2018-03-15 20:10] DVaughan commented on #2530
It's happening across 3 of my function applications.
Use an HttpClient and perform a Put for a new key for a function that hasn't been recently running.

[2018-03-15 20:46] pragnagopa commented on #2530
can you try pinging any non admin api just to wake up the app before using keys api?

[2018-03-15 21:52] safihamid opened #2537 "Proxy randomly throws 'unexpected network error occured' during Function runtime initialization"
This is a rare scenario and we think it happens when the underlying Azure Files is having issues but we still need to understand this and address the issue,

This happens during Function Runtime initialization and causes subsequent calls to proxy to return 404 or return the function root if the proxy is to the root of the app. This continues happening until the app is restarted,

[2018-03-15 23:10] dynamicwebpaige commented on #2491
Bumping this item for visibility. Can we get this added as a product issue?

[2018-03-15 23:13] btardif opened #2538 "Provide functionality to rename functions"
_From @danderson00 on March 24, 2016 23:55_

_Copied from original issue: Azure/azure-functions-ux#198_

[2018-03-15 23:13] btardif commented on #2538
_From @mathewc on March 25, 2016 0:5_

Note that renaming functions is a "big ball of wax". There are lots of resources and things that currently key off the name, so we'd have to rename all of those as well. E.g. log file directories, secret files, etc.

[2018-03-15 23:13] btardif commented on #2538
_From @davidebbo on March 25, 2016 0:22_

Either that or use some unique ID per function that never changes. But yes, it's quite non-trivial to get right throughout the system.

[2018-03-15 23:13] btardif commented on #2538
_From @ahmelsayed on March 25, 2016 0:46_

kudu should be able to do it all the needed filesystem changes. Logs into the storage account are harder.

[2018-03-15 23:13] btardif commented on #2538
_From @SeanFeldman on October 24, 2016 16:53_

👍 for renaming. Alternative requires a "ball of wax" on the user side - move into another function and retest it all.

[2018-03-15 23:13] btardif commented on #2538
_From @davidebbo on November 17, 2016 17:38_

Some steps to do it manually: https://github.com/Azure/azure-webjobs-sdk-script/wiki/Renaming-a-Function

[2018-03-15 23:13] btardif commented on #2538
_From @paulbatum on November 19, 2016 0:32_

@davidebbo I know its not quite the same, but what if we introduced a "copy function" gesture that lets you specify the name? Then you could disable your old function and delete it later. This would avoid both the logs issue and the files in use issue.

[2018-03-15 23:13] btardif commented on #2538
_From @davidebbo on November 19, 2016 0:39_

@paulbatum I think that's a good idea. It avoids a lot of the 'file in use' issues that would happen with a rename (though of course you might still hit them in the delete, but that's separate).

Though of course, it's different because it would use different secrets. Well, unless you choose to use app level secrets, making this irrelevant. Either that

[2018-03-15 23:13] btardif commented on #2538
_From @abhijeetahuja on May 1, 2017 0:10_

http://stackoverflow.com/a/43712663/2012163

[2018-03-15 23:33] christopheranderson commented on #2491
Nothing is different in the last few months for our Node.js worker, so the three weeks ago thing is interesting. We don't do anything to muck with the context object once done is called, so that's a weird behavior. Here's the source code for the done callback: https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/src/WorkerChannel.ts#L96

Do you have a repro I can run?

[2018-03-16 00:24] christopheranderson opened #2541 "Force Functions host to only use a single specified language"
We need to be able to enable only 1 language at a time.

Problem:
 - We want linux containers to only support 1 language at a time
 - Today, Java provider yells when Java isn't installed (even if no java Functions are provided)

[2018-03-16 00:26] christopheranderson opened #2542 "Provide helpful error message when language isn't available"
We should provide a helpful error message when we can't determine a given Function's language

Problem:
 - We don't always have all languages installed and enabled anymore
 - Users might have two languages while only 1 is enabled
 - Users might be using a language which hasn't been installed yet

[2018-03-16 04:50] gmoed commented on #2011
Hello!, is there any ETA on this one?

Cheers!

[2018-03-16 08:31] tomkerkhove commented on #992
@paulbatum Are you saying this is fixed in Functions 2.0?

[2018-03-16 10:14] antstanley commented on #2491
FWIW I don't think it's an issue with the worker process... I stepped through the execution and it handed off the correct response to the functions runtime. The issue happened on my machine and a colleagues machines, both MacOS... I'll get a public repo together for you to diagnose.

[2018-03-16 11:16] antstanley commented on #2491
Here is a demo repo... https://github.com/antstanley/azure-functions-graphql

2 functions
- graphql (graphQL server)
- graphQLPlay (Graphiql playground)

go to the /api/graphQLPlay url to test... it should return the Graphiql web app via a browser

Neither respond correctly with the local Azure Functions beta runtime on my Mac, but run perfectly in Azure on the v1 run time... they used to work on

[2018-03-16 12:11] #2532 closed

[2018-03-16 14:47] graemeenglish commented on #2309
I am also seeing this behaviour. In my case I believe it is related to the webjob restarting. I'm using a custom MessageProcessor which logs and calls message.CompleteAsync() in CompleteProcessingMessageAsync if result.Succeeded. I'm also logging the start/end of function execution. What I see on occasion is something like the following:

`Processing message, deliveryCount:1, id:eb0ddce9-64de-476c

[2018-03-16 14:52] Gaweph commented on #1554
@alexkarcher-msft Do you have any further information on setting the php content type?  It seems that if nothing is specified then it is always "application/xml", and if json_encode is specified it is "application/json".  Any information appreciated.

As a workaround for retrieving an image, would your solution of using a "type: blob" allow for an image to be sent back to the browser?

[2018-03-16 16:22] christopheranderson commented on #2491
Cool, thanks for the repro. Me or Marie will take a look.

[2018-03-16 16:48] mathewc commented on #2309
@graemeenglish You can get a version of the ServiceBus package from our myget feed - version 2.2.0 has the fix. Instructions here: https://github.com/Azure/azure-webjobs-sdk/wiki/%22Nightly%22-Builds. Because you're using a custom MessageProcessor, I take it you're not using Azure Functions and are just using the WebJobs SDK. You could try the fixed build and see if it addresses your issue.

@kris

[2018-03-16 16:59] christopheranderson commented on #2491
Notes from repro:
 - Modules are in each function folder, can put them at the base of your project and they'll share dependencies
 - When I start it locally on v2 (windows), it returns a 406 status code.
 - When I start it locally on v1 (windows), it works!
 - When I remove the header, it works on v2 (this is another sign its an issue in the Functions host)
 - Given that this is probably our host

[2018-03-16 17:28] krislw commented on #2309
@mathewc  thanks for getting back to me. yes I am using Azure Functions. Is there a page where I can view what fixes are applied to which regions?

[2018-03-16 17:36] #2401 closed

[2018-03-16 18:01] graemeenglish commented on #2309
@mathewc Thanks for your response, yes using webjobs but I saw you mention the webjobs sdk above so thought it might apply, it will be next week before I get the chance to check it out.

[2018-03-16 18:10] fabiocav commented on #992
@StephenCleary, thanks for sharing your scenario and your always valuable feedback.

As Paul mentioned, a lot of work is happening and we intend to significantly improve this experience in V2. This will include (likely in a preview/limited state when V2 GAs) an out-of-proc execution model.

One thing I wanted to mention is that we're also actively working on documenting and generating lock files w

[2018-03-16 18:12] mathewc commented on #2309
@krislw No, our staged release progression isn't public. We do post when we start/complete releases however on our announcements page, e.g. https://github.com/Azure/app-service-announcements/issues/91

[2018-03-16 18:15] krislw commented on #2309
@mathewc ok, I guess I'll just monitor that page for when 2.2.0 has been release. Thank you

[2018-03-16 18:22] davejhahn commented on #1594
I wouldn't expect to deploy the ARM template when deploying a specific application that that is hosted in the resource group.  I look at the ARM template as the configuration for the resources in a resource group, not application specific information that the resources contain.  Each time I deploy a web app, I don't deploy the ARM template only the web app (unless there is a change to the resource

[2018-03-16 18:32] sabbadino commented on #1594
Totally 100% agree

[2018-03-16 18:33] alexkarcher-msft commented on #1961
Looping in @safihamid to see if he can shed any light on this.

Thanks for the ping!

[2018-03-16 18:41] mathewc commented on #2497
In the WebJobs core SDK JobHost startup is all or nothing - if any listeners fail to start the host fails to start and nothing runs. In the context of a continuous WebJob deployment, the continuous job will try to start up periodically, eventually succeeding once the transient issue is gone.

For Azure Functions, we did work in the core SDK to allow such listener startup exceptions to be handled b

[2018-03-16 19:03] safihamid commented on #1961
This is not currently supported by Proxies. Proxy does not store any certs and does not validate any middle tier certs.

[2018-03-16 19:21] davidebbo commented on #2497
So what would be the behavior in that case?

[2018-03-16 21:32] alexkarcher-msft opened #2545 "Allow OpenAPI endpoint to host an anonymous definition"
There is backend work required to enable this UX item: https://github.com/Azure/azure-functions-ux/issues/1221#issuecomment-373838811 to allow the OpenAPI definition in a Function App to have the same level of key control as Functions.

I would like to update that hosting endpoint to support running without an API key, and to support specifying a shared API Key, like the host or master key.

[2018-03-16 21:54] paulbatum commented on #992
@tomkerkhove absolutely not. Also treating this issue as "fixed" or "not fixed" is too black and white. There are many different scenarios being rolled up here under one umbrella. When we start talking about things being "fixed", it will be on a case-by-case basis.

[2018-03-16 22:10] mathewc commented on #2497
In that case the behavior is similar to the core SDK behavior I mentioned above. The functions host will fail startup and enter it's existing host startup retry loop (exponential backoff). The difference in this case compared to partial startup is that the restart is at the host level, rather than individual function level.

Alternatively, we could have a consistent behavior in all cases and do th

[2018-03-16 22:27] christopheranderson commented on #2491
@mhoeger is gonna take over on this one. We think we have a solution that is non-breaking that doesn't force folks to set the raw flag. She'll describe it in another issue, I think, and link to this.

[2018-03-16 23:15] npiasecki commented on #1534
I had a function today that didn't run at its scheduled time of 6 p.m. Eastern time. It's been running fine for many months. WEBSITE_TIME_ZONE is set to Eastern Standard Time.

Site: https://fn-sv-bills-prod.azurewebsites.net/
Function Name: IssueInvoices
CRON expression: 0 0 18 * * 5
Expected Invocation: 2018-03-16T18:00:00-04:00 (2018-03-16T22:00:00Z)

When I logged into the portal, I ran the fu

[2018-03-17 00:04] davidebbo commented on #1534
@npiasecki I think this is probably a bug related to Daylight Saving transition. Something to do with the fact that the next occurrence was scheduled before the transition, and things get confused.

Would you mind opening a separate issue so we can properly track (and link from here)? This one has been a bit of a catch all for all time issues, and this is a very distinct situation. Thanks!

[2018-03-17 00:15] npiasecki opened #2546 "Some TimerTrigger functions seem to fire an hour late after DST change while using WEBSITE_TIME_ZONE"
(originally posted at https://github.com/Azure/azure-functions-host/issues/1534 and opened as a separate issue by request)

I had a function today that didn't run at its scheduled time of 6 p.m. Eastern time. It's been running fine for many months. WEBSITE_TIME_ZONE is set to Eastern Standard Time.

Site: https://fn-sv-bills-prod.azurewebsites.net/
Function Name: IssueInvoices
CRON expression: 0 0

[2018-03-17 00:44] fabiocav opened #2547 "Extension installation NuGet fallback location enhancements"
To leverage the custom NuGet fallback folder during extension installation, when available, we should do the following:

- Check if `D:\Program Files (x86)\FuncNuGetFallback` exists
- If it does, find the latest semver folder under it and set `RestoreFallbackFolders` app setting to that.
- Also, for good form, set `NUGET_XMLDOC_MODE=skip`, so that if it does need to install packages for whatever r

[2018-03-17 01:00] fabiocav opened #2548 "Improve file copy reliability on extension installation process"
When installing extensions, we need to improve the reliability of file copy/move operations to account for the possibility of locked files at the destination.

[2018-03-17 01:07] davidebbo commented on #2546
I think this is probably a bug related to Daylight Saving transition. Something to do with the fact that the next occurrence was scheduled before the transition, and things get confused. Normally, that would not affect apps because the default time zone is UTC, but here the local time zone adds a level of complexity.

@mathewc this is the one we chatted about.

[2018-03-17 10:33] antstanley commented on #2491
Thanks Chris! Glad I wasn't going mad... Will set isRaw for now while you get your fix implemented.

On the modules in each function thing, there is a build step I'm using on my private project that bundles the individual functions into single js file using Webpack, which I didn't move across to the public repo.

[2018-03-17 15:56] npiasecki commented on #2546
I played around some more and I think we've hit the nail on the head.

Looking at the `StartTimer()` function in [`TimerListener`](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions/Extensions/Timers/Listener/TimerListener.cs), I see that the host basically sets a timer to wait for the next occurrence:

        private void StartTimer(DateTime now)
        {

[2018-03-17 19:16] markheath commented on #1952
Would be great if the docs were updated to include this information. Took me a long time to find this.

[2018-03-18 06:50] phinguyenit commented on #2473
@vovikdrg is right, i met this issue and only just 4.4.0 works, others isn't work except higher or lower, i don't know the reason, anybody can explain ?

[2018-03-18 09:10] sinapis commented on #1206
@davidebbo thanks for the reply. Give me an email address and I'll share the function name with you privately. How do I set the V1 runtime?

[2018-03-18 14:51] syedhassaanahmed commented on #2259
@ealsur Not sure if its related to this issue but in my case, change feed doesn't get triggered the first time, until I manually visit the Function App -> Change Feed Function -> `function.json` -> Logs. This change feed is being observed on a partitioned collection with 25k RUs. Function is hosted on consumption plan with a single lease (leases collection: 400 RUs). Once it gets triggered it work

[2018-03-18 16:35] ealsur commented on #2259
@syedhassaanahmed please open a different issue, this is not related to SPROCs. The Consumption Plan is not creating instances for your Function App (that is why it's not triggering). When you open the Functions Portal, it forces the creation of one instance if there are none, and that is when it works.

[2018-03-18 17:03] syedhassaanahmed opened #2549 "Cosmos DB Trigger: Consumption plan not creating instances"
- Function App version: 1.0
- Function App name: consumer-egress-func
- Function name(s) (as appropriate): ChangeFeedFunc
- Region: West Europe

Cosmos DB change feed doesn't get triggered the first time, until I manually visit the Function App -> Change Feed Function -> `function.json` -> Logs. This change feed is being observed on a partitioned collection with 25k RUs. Function is hosted on cons

[2018-03-18 17:04] syedhassaanahmed commented on #2259
Thanks @ealsur #2549

[2018-03-19 06:32] hentie commented on #2499
Hi @paulbatum ,

The instance I sent you was in an environment that was already fixed by running the PS script mentioned "Known workarounds" above.  The environment is not very active at the moment.

The crux of the problem is that when I deploy my function app as per normal via VSTS using a stock standard Azure App Service deploy task, the app doesn't scale well until I run the "syncfunctiontrigg

[2018-03-19 09:09] tsahi commented on #1579
While considering this, please also consider the use case of Bot Framework bots based on Functions. In bots, it is common to instantiate the root dialog from the function, and then instantiate more dialogs from the root dialog, depending on the conversation flow. each such dialog may depend on services that need to be injected as well.

[2018-03-19 10:36] Ian1971 commented on #992
Would an "easy" workaround be for azure functions to fork json.net at the version they are welded to and put it in a different namespace? It seems to me that a lot of problems people are having is the json.net dependency.

[2018-03-19 11:23] simonness opened #2550 "Continue to return CORS headers when function is disabled"
This is a feature request to continue to return custom CORS headers when a Function App is disabled.

Without the CORS headers browser implementation of XMLHttpRequest means the status code '0' and empty status text is seen, so it's impossible to distinguish '403 (Site Disabled)' from various other issues when making a cross origin request.

If this is not possible, perhaps the option to return `A

[2018-03-19 12:43] kastwey opened #2551 "Azure functions triggered by time triggers stoped after update them with kudu"
#### Investigative information

- Timestamp: 2018-03-19 10:00 Z.
- Function App version 1.0
- Function App name: jmontiel-timmertrigger
- Function name all created functions, from test1 to test200
- Region: Central US

#### Repro steps

1. Download the publishing profile from azure portal.
2. Use the ftp username and password and kudu function app URL to create 200 functions of type timmer trigger

[2018-03-19 12:45] jorupp commented on #992
While `Newtonsoft.Json` may be one of the common ones, it's far from the only one.  I've had issues with `WindowsAzure.Storage` quite a bit too.  Not sure how complete a solution that only covers a few libraries would be (and how much you'd have to change even to get that one).

[2018-03-19 15:15] tsmccartan commented on #2473
Thanks all, the downgrade to 4.4.0 solved the SqlClient Issues.  Does anybody know how to get the Application Insights to work, so you can create your own Telemetry Metric?  Error says it is trying to load 2.5.1, and that is what the nuget package contains, but still this error is thrown trying to create new telemetry using the code above.

[2018-03-19 15:23] davidebbo commented on #1206
@sinapis My email is david.ebbo (at) microsoft.com.

v1 is the default when you create a Function App in Azure. And in Visual Studio, it's a drop down at Function App creation time to choose between v1 and v2 Preview.

[2018-03-19 15:27] ealsur commented on #2549
What is the volume of events (inserts/updates) that are happening the first time? Is it 1 event or are there multiple ones?

Are the events being persisted in the database some time after the Function creation or right at the time of creation?

[2018-03-19 16:34] paulbatum commented on #992
@Ian1971  This has been discussed above already, but the short answer is that this would not help in a bunch of scenarios because these scenarios require an exchange of types (i.e. you ask for JObject in your code, and our code passes you one).

[2018-03-19 16:42] paulbatum commented on #2499
Hi @hentie, my apologies - I misunderstood  your initial report. I now see that you identified the synctriggers step as a "workaround" and thats what this issue is about.

I think VSTS provides support for multiple deployment protocols, and the default is "zip" which requires the sync triggers action. Webdeploy should not. Can you try the following:

![image](https://user-images.githubusercontent.

[2018-03-19 16:48] Ian1971 commented on #992
Ok. Makes sense.

[2018-03-19 17:05] pragnagopa commented on #2551
Our logs show following exception starting: around 2018-03-19 10:20:00
[code]
Can you please restart the app?

[2018-03-19 17:12] mhoeger opened #2552 "User specified "content-type" for Http response not always correct for non-.NET languages (V2)"
In V2, content-negotiation for HTTP objects from non-.NET languages can fail if [ObjectResult](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.objectresult?view=aspnetcore-2.0) chooses the wrong content type for response (details [here](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/formatting)).

We should prioritize honoring the user-specified "content-type" propert

[2018-03-19 17:15] mhoeger commented on #2552
As a first step, we can set content-type to always be primarily honored by changing the boolean check here. (Note that we will still see issues with content-type for non UTF-8 characters.)

https://github.com/Azure/azure-functions-host/blob/b0cf84d7e27ac9a37d183a966e9ef7369f50914a/src/WebJobs.Script/Binding/Http/HttpBinding.cs#L164-L176

[2018-03-19 17:18] paulbatum commented on #2501
@MayankSri The consumption plan has a limit of 1.5GB per instance (see [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#how-the-consumption-plan-works) for info). A function that reads a 400mb file might push you over the limit, it depends on a few things:
- if you're reading the entire file into memory or if you process it as a stream
- how many other functions are de

[2018-03-19 17:19] #1495 closed

[2018-03-19 17:24] mathewc opened #2553 "Default host config when host.json file not present"
Currently this is a hard failure. Instead if the file isn't present, we should just run with default config.

When not in read-only mode, we already have logic to write a default empty "{}" host.json file, but when in read-only mode we can't write that file so we don't. This change will make the behavior consistent.

[2018-03-19 18:00] davidebbo commented on #2553
This fix can be 2.0 only if that's easier.

[2018-03-19 18:16] julielerman opened #2554 "HttpTrigger not populating binding data from query"
Using v1, I have a function app that uses a route on the HTTP trigger and an id parameter for a CosmosDB input binding.

Here is the function.json for that function:

[code]
My app outputs one of the values from the incoming document. This app is written in C#.
I can use the test feature to pass in a document id and it runs successfully.
![image](https://user-images.githubusercontent.com/5007120/3

[2018-03-19 18:41] ahmelsayed opened #2555 "[v2] Remove master level key in favor of jwt tokens only"
As discussed internally, we should remove the master level key that's able to access all the management APIs for the function app in favor of only supporting short lived jwt tokens.

[2018-03-19 18:53] syedhassaanahmed commented on #2549
There are multiple events. Its a load test which ramps up to 1500 upserts/sec in the collection. The events are triggered way after the function creation.

[2018-03-19 20:40] pragnagopa commented on #2554
We have a tracking item [Support single Document for binding](https://github.com/Azure/azure-webjobs-sdk-extensions/issues/294) for adding support to bind to a documentId. Also, here is a related [thread](https://social.msdn.microsoft.com/Forums/en-US/c5ca1112-524f-4e86-bcc4-7b41f226b763/azure-function-integrate-issue-cosmosdb-java-script?forum=AzureFunctions) with information on the workaround.

[2018-03-19 20:47] julielerman commented on #2554
oh! My github search skills aren't so good I guess. glad to know it wasn't me! And I will just use a query for now. Thanks!

[2018-03-19 21:05] Clockwork-Muse commented on #2546
The real problem is because `DateTimeKind` exists.  The values it holds makes everybody think `Local` actually has knowledge of a timezone, but the behavior it _usually_ evidences (ignoring the to/from UTC operations) is really more equivalent to Noda's `LocalDateTime`, rather than `ZonedDateTime` as most people expect (although you can't add year/month/day to the latter, which would be useful).

[2018-03-19 21:54] MrGlenThomas opened #2556 "ILogger does not log when exception parameter included"
#### Investigative information

Please provide the following:

- Timestamp: 2018-03-19T21:43:15.272
- Function App version (1.0 or 2.0-beta): 1.0
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: 3b79f7d4-58c4-4adb-ac78-c5ec17444ac0
- Region: Europe North

#### Repro steps

Provide the steps required to reproduce the problem:

Use the ILogger extension methods with an Exce

[2018-03-19 22:33] davidebbo commented on #2546
@npiasecki & @Clockwork-Muse thanks for the investigation. /cc @mathewc who owns this logic in the Functions Runtime.

@npiasecki Your sample code does a great job of making the issue clear. It's unfortunate that such 'obvious' code ends up being incorrect. I guess we should start by finding a way to solve the 4 line Console app, which would then presumably apply easily to the full runtime.

As an

[2018-03-19 22:50] mrcarl79 commented on #992
So I'm just checking if this issue is same one I'm experiencing so I don't create a new bug report.

I have installed a nuget package RazorLight -Version 2.0.0-beta1 which has a dependency for Microsoft.Extensions.DependencyModel and installs version 2.0.3 however I get the following error when trying to run the function:

`Exception while executing function: Function1. RazorLight: Could not load

[2018-03-20 00:02] Clockwork-Muse commented on #2546
@npiasecki -
For your specific use-case, I'd probably set up a timer function that procs every hour, reads a table, then posts to (the equivalent of) the current function.  (For that matter, there may be an existing Azure package for that)

Consider: what happens if you get a second warehouse, in a different timezone?  You'd probably need a differently scheduled job - but setting up individual fun

[2018-03-20 00:24] eByte23 opened #2557 "Razor pages and webapi"
Hi,

Amazon release functionality in Lambda to enable use of razor pages and webapi as functions.
repo here:  https://github.com/aws/aws-lambda-dotnet
article https://aws.amazon.com/blogs/developer/serverless-asp-net-core-2-0-applications/

Would this be something that would be considered for a feature request and/or pr?

Thanks

[2018-03-20 00:32] npiasecki commented on #2546
@Clockwork-Muse You are right, but having moved warehouses once, I will be retired before we get a second location. If we had to support multiple locations your option makes total sense, but like any small business I am making trade-offs between "do I really need this perfect" or "just run this at 5 p.m. and call me in ten years if we need to change it".

I recognize my use case is somewhat specif

[2018-03-20 00:35] dersia commented on #2557
Hi Elijah,

I just went through the article. What they are doing here is, using pre-compiled razor pages.

I'd like to know what you'd like to use this for. Especially in an serverless (therefore stateless) environment. Just to understand the usecase here.

Cheers,
Sia

Sent from my Windows 10 phone

From: Elijah Bate<mailto:notifications@github.com>
Sent: March 19, 2018 5:24 PM
To: Azure/azure-fu

[2018-03-20 03:01] Clockwork-Muse commented on #2546
.... well, it's embarrassing I missed that, stating so confidently it didn't exist...

As a reminder to anybody who might look into "truing up" the next scheduled time... remember that not all offsets/DST adjustments are in hour increments!

At that scale, at least one country will have posted a DST change (some do every year).  If there's an aim for a closer, more correct, value, then some form o

[2018-03-20 05:31] cgillum opened #2558 "Visual Studio v1 app publishing deploys unnecessary files"
Apologies if this is the wrong repo. I noticed my deployment from Visual Studio seemed unnecessarily slow. When investigating, I observed that a lot of files are being deployed to my function app that should not be.

Here is my project file.

[code]

Note that the [Microsoft.Azure.WebJobs.Extensions.DurableFunctions](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.DurableTask) ex

[2018-03-20 07:51] eByte23 commented on #2557
Yes sure its using pre compiled razor but it is still running the full app I believe piped through the host class.

Basic use case is for a website that maybe private, or small business user that maybe have a semi complex site that doesnt have large work time and is use by few people but maybe it will be used more people in future.

Thus giving you a very cheap and reliable infrastructure.

[2018-03-20 07:52] eByte23 commented on #2557
Also its not just razor pages its webapi as well

[2018-03-20 08:54] graemeenglish commented on #2309
@mathewc No difference with 2.2.0 I'm afraid. I think I might be running into https://github.com/Azure/azure-webjobs-sdk/issues/1064
If I add a delay after RunAndBlock my function completes, however CompleteProcessingMessageAsync does not seem to be called so servicebus will requeue the message
One thing I noticed is that I see an exception (I registered for the ExceptionReceived event in ServiceB

[2018-03-20 09:06] Ian1971 commented on #992
I'm new to this issue also but I think your understanding is correct. One workaround would be to fork RazorLight and build it yourself against 2.0.3.0.

[2018-03-20 11:31] Szer commented on #992
@mrcarl79 I had similar issue with Microsoft.AspNetCore.Mvc.Abstractions 2.0.2
Same error message. I changed my paket.dependencies like this:
`nuget Microsoft.AspNetCore.Mvc.Abstractions ~> 2.0.1.0`
and everything works fine right now.

[2018-03-20 15:16] nzthiago opened #2559 "Support OAuth"
Just like in "Support EasyAuth #33", Functions should also support regular OAuth.

Currently, if it's not an EasyAuth supported auth type, we need to set the Functions auth setting to Anonymous and write OAuth related code inside the functions to handle OAuth (and repeat this code for all the functions we write), or write code to call a third party like Auth0.

This should ideally be handled by th

[2018-03-20 18:06] brettsam commented on #1815
Done with #2539 and #2560

[2018-03-20 18:06] #1815 closed

[2018-03-20 18:13] brettsam commented on #2556
Can you share your logging code?

[2018-03-20 19:03] MrGlenThomas commented on #2556
[code]
Not the exact code that I am using but demonstrates the general idea. The line executes without an exception being thrown but the log entry does not appear in application insights.
At first I thought it might be a problem with the application insight logging provider not flushing the logs, so added a delay and tried configuring host.json but that didn't make any difference. Then I added the

[2018-03-20 19:29] MrGlenThomas commented on #2556
I have just realised that there are some logs in the exceptions table, but should also be logs in the trace table too?

[2018-03-20 19:50] Mike-EEE commented on #33
I have been spending the past few hours trying to wrap my head around this.  Am I to understand correctly that the user identity is not provided in an Azure Function by default?  I am curious on how operations committed against Azure Functions are recorded and audited if an identity is not readily available/accessible.  For some context here, I have been trying to use `System.Security.Claims.Claim

[2018-03-20 19:52] Mike-EEE commented on #33
I should also mention that I am using Azure Active Directory, so that might have something to do with is.  So bizarre that the identity is so missing!  It's tripping me out! 😆 The rest of Azure Functions is pretty awesome though. 👍

[2018-03-20 20:05] pragnagopa opened #2563 "HttpTrigger webHookType should be an enum?"
_From @JonathanGiles on March 20, 2018 3:11_

It appears that there are only three valid values for the webHookType on HttpTrigger: genericJson, github, and slack (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#trigger---configuration). If this is the case, and if it is not possible for developers to augment this with additional functionality, it seems wise

[2018-03-20 20:05] pragnagopa commented on #2563
_From @JunyiYi on March 20, 2018 18:24_

@pragnagopa , are you able to confirm that only these options are available for HttpTrigger webhook?

[2018-03-20 20:07] pragnagopa commented on #2563
Need to update [function.json](http://json.schemastore.org/function) schema to use enum instead of string

[2018-03-20 20:11] JonathanGiles commented on #2563
Is the plan to introduce an enum for this in Java API?

[2018-03-20 20:11] ConnorMcMahon commented on #33
@Mike-EEE, If you are currently using our Authentication/Authorization feature and are running in a .NET language on Functions V1, your `ClaimsPrincipal.Current` should be populated with the "current" user.

The goal of this issue is to make this authentication information available across more languages and in Functions V2. This work should also more clearly define how the user-based authenticati

[2018-03-20 20:22] Mike-EEE commented on #33
Ah!  That explains it then.  I am indeed using Authentication/Authorization with .NET/C#, but I am using v2.  So it would seem that v2 currently does not support the `ClaimsPrincipal.Current` property.

[2018-03-20 20:29] ConnorMcMahon commented on #33
Correct. V2 runs on .NET Core 2.0, which I believe has `ClaimsPrincipal.Current` set to null. This work should allow you to get the `ClaimsPrincipal` of the current user as a parameter instead.

[2018-03-20 20:31] Mike-EEE commented on #33
OK awesome. That would be great!  Much better than digging through object graphs trying to figure out what's what.   Also, while I am here and at this, I'll add my .02 here and see if it might be possible to consider adding support for local development, too.  I am not sure if that would be possible, but it would be super amazing. 😄

Essentially, I would like to log into my local development insta

[2018-03-20 21:17] gauraviitr opened #2565 "V2: Integrate cosmosDB trigger"
The trigger exists and easy to integrate in v1:
<img width="1279" alt="1 x nodejs 6" src="https://user-images.githubusercontent.com/12062597/37683252-38e0bb08-2c49-11e8-9d10-460db69c43da.PNG">

It's missing in v2:
<img width="1113" alt="2 0 nodejs 8 9 4" src="https://user-images.githubusercontent.com/12062597/37683261-42b25d30-2c49-11e8-8d1b-7116d0d1519f.PNG">

[2018-03-20 21:37] midnightrun commented on #1961
@safihamid so in this case we need to use the API Management ?

[2018-03-20 21:39] safihamid commented on #1961
Yes.

[2018-03-20 21:51] mrcarl79 commented on #992
Thanks @Szer and @Ian1971 as is often the case an unexpected workaround which is I found a different package which actually works better for our requirements DotLiquid which doesn't throw any dependency errors, which means my V2 function now works again (until next time!).

[2018-03-20 22:17] phinguyenit commented on #2373
@fabiocav
I met the same issue when using Version 3.16.0.14 of Microsoft.IdentityModel.Clients.ActiveDirectory, it works normally on local but when deploy on Azure Functions it's bug as below:

Exception while executing function: INSQualifyProcess

[code]

[2018-03-20 22:26] phinguyenit commented on #2373
It seem okay when i downgrade version of  Microsoft.IdentityModel.Clients.ActiveDirectory to 3.14. Deploy it to Azure Functions and it works, maybe it's caused by library bug.

`<PackageReference Include="Microsoft.IdentityModel.Clients.ActiveDirectory" Version="3.14.0" />`

[2018-03-20 22:48] mhoeger opened #2566 "Enable Twilio E2E testing"
Reenable Twilio test for v2:
https://github.com/Azure/azure-functions-host/blob/73ecd41e6f2bf2dac040f1382c37699376e56c12/test/WebJobs.Script.Tests.Integration/WebHostEndToEnd/EndToEndTestsBase.cs#L211-L229

Following a similar pattern to here: https://github.com/Azure/azure-functions-host/pull/2564/files
Moving test out to its own class because we can only install a single extension at the time.

[2018-03-20 23:45] cgillum commented on #33
Thanks for the $0.02 Mike. :) Local development with support for AAD credentials is on our roadmap. No dates to share quite yet, but it is planned.

[2018-03-21 07:24] viveknuna opened #2569 "Why Azure function not working with Generics?"
I have a requirement that I have to use TEntity with the class. But Azure function not working when using Generics with class. It's not even showing on the console also. But If I remove TEntity from class declaration it's showing in the console. So is this not supported? or is there any workaround for this? I have searched on internet but found nothing related to this.

[code]
**Console output on

[2018-03-21 08:43] graemeenglish commented on #2309
@mathewc Is it worth me creating a new issue in the azure-webjobs-sdk project or do you think it is the same issue as 1064?

[2018-03-21 09:15] Mike-EEE commented on #33
OK cool @cgillum ... Appreciate the engagement and activity around all of this.  Thank you to all. FWIW, I have posted a solution to accessing current user/authentication that works in both local and deployed scenarios here:
https://stackoverflow.com/a/49402152/3602057

That should hold us over until we get the new magic installed.  At least, it will for me. 😆

[2018-03-21 09:43] hentie commented on #2499
Hi @paulbatum,

I can confirm that by setting the "Publish using Web Deploy" check, does indeed fix the issue I had and I do not need an addtional PS script to sync the Function triggers.  I would however suggest that when you select App type "Function App" in a Deploy Azure App Service step to automatically check this option or possibly check it and disable the option.

[2018-03-21 09:43] #2499 closed

[2018-03-21 12:13] flytzen commented on #2373
After running into this problem in one project but it working in another, there is something else you can try, which is "downgrading" to the full framework and the previous version of Azure Functions.
To do this, change the `TargetFramework` in `.csproj' to `net461' and remove the line `<AzureFunctionsVersion>v2</AzureFunctionsVersion>`.
If you do not remove the `v2` line, you will get a blunt `Fa

[2018-03-21 12:40] ealsur commented on #2549
It sounds like the Scale Controller in the Consumption Plan is not detecting the changes and increasing the instances.

Could you try if this repros with a Function App in App Service Mode? So we can rule out an issue inside the Trigger.

[2018-03-21 15:50] btedev opened #2570 "Exception binding parameter 'input' on Cosmos trigger"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0-beta): 1.0
- Invocation ID: 2018-03-21T15:38:23.533, ef4ae65c-7a0d-487a-bd31-d976816d5997
- Region: East US 2

#### Repro steps

Provide the steps required to reproduce the problem:

1) Create a Cosmos DB trigger function app in Visual Studio.

2) Code is below:

[code]

3. Change a docum

[2018-03-21 16:56] #2514 closed

[2018-03-21 17:09] mathewc commented on #2309
I commented on https://github.com/Azure/azure-webjobs-sdk/issues/1064, explaining how the shutdown process works. During shutdown, if for whatever reason your functions don't complete before the grace period (before the WebJob process is stopped) there indeed may be some messages that started processing but haven't completed. That is normal, and can also happen in cases where the process crashes f

[2018-03-21 17:11] mathewc commented on #2309
The Azure Functions release with the referenced fix has been released. I'm closing this issue as resolved. The WebJobs SDK issue discussed above should be handled separately in the referenced SDK issue threads.

[2018-03-21 17:11] #2309 closed

[2018-03-21 17:47] paulbatum commented on #2570
@brettsam @ealsur any ideas on this one?

[2018-03-21 17:54] ealsur commented on #2570
This is a pre-compiled Function that has the DocumentDB package dependency changed to another version different than 1.13.2.

Since Runtime does not support binding redirects, this is the scenario we have seen in the past with @brettsam

It is solved by removing the DocumentDB nuget package and letting the compatible version being pulled from the Webjobs.Extension.DocumentDB package.

[2018-03-21 17:54] brettsam commented on #2570
What version of the DocumentDB package are you referencing? This looks similar to https://github.com/Azure/Azure-Functions/issues/700. We likely can't match the `Document` type since the versions don't match.

Recommendation would be to either:
- downgrade any DocumentDB nuget to 1.13.2.
- Remove the DocumentDB reference completely and instead directly reference Microsoft.Azure.WebJobs.Extensions.

[2018-03-21 18:06] brettsam opened #2571 "Node serializer settings differ between v1 and v2"
We used to make sure that binding property names were camelCased when sending the objects to node functions; that's no longer the case. I saw it when porting this test: https://github.com/Azure/azure-functions-host/blob/dev/test/WebJobs.Script.Tests.Integration/EventHubs/EventHubsEndToEndTestsBase.cs#L44. In v1, "SequenceNumber" came back as "sequenceNumber".

Here's where we took care of that in

[2018-03-21 18:13] paulbatum commented on #2571
This is an accidental break that has to be fixed.

[2018-03-21 18:20] paulbatum commented on #2565
@soninaren whats the status on the cosmos template for v2 appearing in the portal? I can't find an open issue or PR.

[2018-03-21 18:25] paulbatum commented on #2563
The list of possible webhook types supported is open as its based on what implementations of asp.net webhooks are pulled in. We're not going to update an enum every time this list is extended. In the future it might even be possible for users to pull in their own webhook implementation through binding extensibility.

[2018-03-21 18:25] #2563 closed

[2018-03-21 18:43] paulbatum commented on #2552
Until this is fixed, this is basically a break for v2 users.

[2018-03-21 18:47] paulbatum commented on #2549
@syedhassaanahmed how does the ARM template deploy the function code? Is it using webdeploy/msdeploy or some other means?

[2018-03-21 18:49] paulbatum commented on #2548
this will cause significant customer impact. needs to be fixed prior to V2 GA.

[2018-03-21 18:56] mhoeger commented on #2491
Closing as this is tracked by #2552 and there is an unblocking workaround.

This is a regression in V2, will be fixed soon :)

[2018-03-21 18:56] #2491 closed

[2018-03-21 19:07] syedhassaanahmed commented on #2549
@ealsur Function App on App Service Plan doesn't trigger Changefeed either at all, not even after visiting Logs in the portal. The only event I see in Application Insights live stream is
[code]

@paulbatum ARM template deploys the function code using GitHub repo.
[code]

[2018-03-21 19:07] pragnagopa commented on #2569
This is answered on SO:
- [what-is-the-reason-for-host-lock-lease-acquired-by-instance-id-in-azure-function](https://stackoverflow.com/questions/49383833/what-is-the-reason-for-host-lock-lease-acquired-by-instance-id-in-azure-function)
- [why-azure-function-not-working-with-generics](https://stackoverflow.com/questions/49400065/why-azure-function-not-working-with-generics)

[2018-03-21 19:07] #2569 closed

[2018-03-21 19:46] brettsam commented on #2442
Closed with #2508

[2018-03-21 19:46] #2442 closed

[2018-03-21 20:14] soninaren commented on #2512
https://github.com/Azure/azure-functions-host/issues/2547 includes this change as well

[2018-03-21 20:14] #2512 closed

[2018-03-21 20:37] #2392 closed

[2018-03-21 20:41] paulbatum commented on #2377
This is done. The console logger was removed.

[2018-03-21 20:41] #2377 closed

[2018-03-21 20:54] ahmelsayed commented on #1950
This is done in 93453636381e2a4f2c39c3534b19cceb7c8c55f3

[2018-03-21 20:54] #1950 closed

[2018-03-21 20:59] mathewc commented on #2546
Guys - thanks for the deep analysis on this :) @npiasecki I'll do some of my own testing with your suggested fix - looks good though. If it works, I'll try to get the fix in in our next release. Thanks!

[2018-03-21 21:48] michaeldaw commented on #1663
Anything? This is a glaring omission.

[2018-03-21 22:00] paulbatum commented on #2549
OK, that should work. Can you give me a UTC timeframe for both a deployment and a corresponding load test where this issue repro'd?

[2018-03-21 22:02] leftside commented on #2473
I have exactly the same problem with .NET Core when attempting to perform custom telemetry.

[2018-03-21 22:32] paulbatum commented on #1663
We currently do not have a plan for when we might address this feature gap. Our current focus is on functions V2 (including webjobs v3) and at this time we are not tracking this gap as a blocker for that release.

[2018-03-21 23:00] soninaren opened #2573 "[V2] Empty message to ServiceBusTrigger breaks the extension"
**I see the following exception when sending empty message to service bus**

[code]

**Client Code**
[code]

[2018-03-21 23:00] soninaren commented on #2573
@alrod

[2018-03-21 23:02] syedhassaanahmed commented on #2549
Deployment Time: 2018-03-21T21:07:45
Load Test: 2018-03-21T21:20:04

[2018-03-21 23:43] paulbatum commented on #2549
Thanks, I can see an error in our scale logs for this timeframe, but its very non-descript. Not sure what is wrong yet. We're going to dig further (might take some time as we may need to deploy a change with more logging before we can understand the underlying issue).

[2018-03-21 23:56] paulbatum commented on #2549
Nevermind, I found the logs with the specific error. We're investigating..

[2018-03-22 13:56] MrGlenThomas commented on #2556
The same behaviour with Microsoft.Azure.WebJobs.Script.Diagnostics.FileLogger.

No log entries appear in the log file when the exception parameter is used.

[2018-03-22 17:27] giantryansaul commented on #434
Considering this is a fairly old discussion and I just ran into the same problem myself while writing a very simple script, it seems like this should be included in the standard documentation: https://docs.microsoft.com/en-us/azure/storage/queues/storage-python-how-to-use-queue-storage

[2018-03-23 10:38] i-movo commented on #2546
Hello is there an update to this?

We have some legacy code running on scheduled functions that requires BST (British Summer Time)

Will settings below in "application settings" work:

WEBSITE_TIME_ZONE=GMT Standard Time

Time zones changes will be kicking in this weekend. Just wanted to make sure the single change will do the job.

[2018-03-23 13:16] btedev commented on #2570
Downgrading DocumentDB to 1.13.2. fixed the issue. Thanks so much for your help.

[2018-03-23 13:16] #2570 closed

[2018-03-23 13:25] Anufriev commented on #2344
Hi! I have got the same error 2 times.
It happens when my function app tries  to use queue from another azure region.

[2018-03-23 15:50] brettsam commented on #2530
Is this a v1 or v2 app?

[2018-03-23 15:51] #2017 closed

[2018-03-23 16:01] brettsam commented on #2481
Is that the full error message that you see? Are there any other traces?

[2018-03-23 16:04] brettsam commented on #2479
@fabiocav / @ahmelsayed -- Is this a bug?

[2018-03-23 16:21] DVaughan commented on #2530
How do I find that out?
It's a class library project using .NET 4.6.1, if that helps.

[2018-03-23 17:04] mumughal opened #2578 "Async and Await in javascript rendering Azure 500 internal error"
I am working with Azure server-less function app with javascript. In the functions, I have to make http requests and manipulate the response data, so I need to use javascript's `Await and Async`.
After installing `azure-functions-core-tools@core` and changing my App's runtime version to `beta`, I am getting a `500 internal error` on calling the function.
#### Investigative information

Timestamp:

[2018-03-23 19:24] asavaritayal opened #2580 "Filtered logs for out-of-proc languages"
Currently, starting the host outputs everything to the console. For example - even polling traces for the blob binding.

![image](https://user-images.githubusercontent.com/8435148/37849394-b46bf84e-2e94-11e8-95c7-87548d2bd7e3.png)

Can we filter the output to only contain minimal host logs (e.g. starting functions host at local port) and function execution traces?

[2018-03-23 21:33] pragnagopa commented on #2530
V1. @DVaughan - Creating [Functions V2](https://blogs.msdn.microsoft.com/appserviceteam/2017/12/05/announcing-azure-functions-runtime-preview-2/) App is explicit action as we are still in beta.

[2018-03-23 22:32] ahmelsayed commented on #2479
Apologies, I meant to update the issue.

Yes I believe it's a day one bug not a regression. It seems that while I can use the JWT token to call various admin APIs (e.g: `/admin/host/status`, `/admin/host/pint`, `/admin/functions/{name}/status`, etc) I can't use the same jwt to invoke an http function `/api/{functionName}`.

I believe it should be able to since I thought jwt tokens are treated like

[2018-03-23 22:33] ahmelsayed commented on #2479
oh and btw, I only tested this for v1, I'm not sure if the same issue is there in v2 or not.

[2018-03-24 10:32] simonness commented on #2481
Hi @brettsam, thanks for taking a look!

Yeah `UnableToLoadExpressionAssembly` is the entire trace message:

[code]

It comes out around other info level cold start traces...

[code]

Hopefully, it should be easily reproducible (I get it with several Function Apps with only proxies).  I suspect the error trace isn't important, but can be a bit annoying for alerting / monitoring purposes.

[2018-03-24 20:42] mikhailshilkov opened #2583 "Function didn't get disabled by re-deploying function.json with disabled: true"
EventHub-triggered function was running when I re-deployed it from CLI with `disabled=true` set in `function.json`. Even though the function was shown as disabled, the actual processing did not stop.

#### Investigative information

Please provide the following:

- Timestamp: 23 March  2018 around 23:15 UTC
- Function App version (1.0 or 2.0-beta): 1.0
- Function App name: MikhailMassiveScale
- Fu

[2018-03-24 20:49] mikhailshilkov commented on #2583
cc @paulbatum

[2018-03-25 06:59] gauraviitr commented on #2578
Getting the same error here (500 internal server). Running azure 2.0.11587.0 (beta) runtime. Everything was working fine until 2 days ago. Now getting this error. Kind of fed up with azure at this point :(

[2018-03-25 07:02] gauraviitr commented on #2565
Any eta??

[2018-03-25 14:40] michaeldaw opened #2584 "Cannot install Microsoft.Azure.WebJobs.Extensions.EventGrid"
I'm attempting to create a Function (v1) in Visual Studio 15.7.0 preview 2 that uses an EventGrid trigger. According to [this page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid), I need to install the package **Microsoft.Azure.WebJobs.Extensions.EventGrid**.
However, if I try to install that package, I get the following error:
[code]
I'm not really sure what

[2018-03-26 05:20] mattbierner opened #2585 "Huge number of "Host configuration has changed. Signaling restart" logs on functionapp publish"
Similar to https://github.com/Azure/azure-functions-host/issues/2095

#### Investigative information

Please provide the following:

- Timestamp: NA
- Function App version (1.0 or 2.0-beta):  1.0.11612.0 (latest)
- Function App name: GifSliceApi
- Function name(s) (as appropriate): NA
- Invocation ID: NA
- Region: West US

#### Repro steps

Ran `$ func azure functionapp publish GifSliceApi`

This

[2018-03-26 13:49] brettsam commented on #2481
@safihamid -- have you ever seen this message logged with proxies?

[2018-03-26 16:48] darthmolen commented on #586
I too am interested in this in the sense I want to initialize HttpClient once and continually re-use if necessary but need an init location to do that. This is to prevent socket exhaustion. Do we have an ETA on this?

[2018-03-26 17:03] pragnagopa commented on #2584
This is a known issue. Please install latest version of Microsoft.NET.Sdk.Functions 1.1.10. Tooling would soon be updated to use the latest version of Microsoft.NET.Sdk.Functions as well.

[2018-03-26 17:03] #2584 closed

[2018-03-26 17:08] pragnagopa commented on #2585
@ahmelsayed - is it by design that funcignore does not exclude files under node_modules? Is there a work around?

[2018-03-26 17:08] mhoeger commented on #2578
@mumughal, is this during local development? Could you confirm that your version of node is <= 8.9.4? We've seen this error occur with higher versions (https://github.com/Azure/azure-functions-nodejs-worker/issues/54)

[2018-03-26 17:19] pragnagopa commented on #2583
This is not the expected behavior. Needs investigation. Here is another related question [Azure/Azure-Functions/issues/525](https://github.com/Azure/Azure-Functions/issues/525)

[2018-03-26 17:21] mhoeger commented on #2578
@gauraviitr - I'm sorry about the frustrating experience! Could you check the same (that your node version is <= 8.9.4)?

We're doing our best to address bugs, but please also note that you are running the beta version of Azure Functions, where some level of instability should be expected. Please use the Azure Functions version 1 runtime until we announce general availability of version 2 for a sm

[2018-03-26 17:22] michaeldaw commented on #2584
Okay thank you.

[2018-03-26 17:27] gauraviitr commented on #2578
I've checked it (v8.9.4). It runs after creating a new function. But after installing packages, it gives this issue. Even the function (which was working on creating a new one) stops working. Note that I'm not using the local dev environment. I'm only using the azure portal and (kudu console to install packages). Fwiw, a package install for ccxt also fails (but that didnt prevent it from running 2

[2018-03-26 17:39] ahmelsayed commented on #2585
`.funcignore` support hasn't been released yet in the cli. adding `*/node_modules` to `.funcignore` should exclude all node_modules folder from deployment. We'll be releasing a new cli this week

[2018-03-26 17:49] mhoeger commented on #2578
@gauraviitr Great - thanks for the extra details! I'm able to repro this issue in the Azure Portal, although the function app I'm reproing with is on node v6.5.0. This is unlikely to make a difference, but can you check the `node --version` instead of  `npm --version`?

[2018-03-26 17:58] gauraviitr commented on #2578
@mhoeger that's showing v8.9.4

[2018-03-26 20:25] kevinhillinger commented on #2301
@paulbatum @pragnagopa was there a decision on the size that we want to support? I'm currently running into this issue supporting a scenario with v2 and blob trigger on files greater than 4MB.

Initial glance, to make the change, it's going to require changing line 20 in `GrpcServer` and incorporating `max_message_length` [ChannelOption](https://grpc.io/grpc/csharp/api/Grpc.Core.ChannelOption.html

[2018-03-26 20:27] paulbatum commented on #2583
@mikhailshilkov ahh, i notice that you performed this disable action via hand editing function.json.. was this function.json generated by visual studio? Did it have a `configurationSource:"attributes"` set? If so, you have to disable using attributes.

We have actually improved on this experience in V2. In V1 attributes are the only way (for functions written in VS), while in V2 you can disable fu

[2018-03-26 20:46] paulbatum commented on #2301
@pragnagopa I know that the long term solution for this is to have proper stream support but in the meantime I do think we need to consider increasing this as it will be a rather tough breaking change for customers that are upgrading from V1. That said I do want to pick a sane default limit (better users get a clear error early than out of memory exceptions later).

It occurs to me that the approp

[2018-03-26 20:47] mikhailshilkov commented on #2583
Ah, yes, my `function.json` is generated but I changed `disabled` manually. I think I tried with `Disabled("settingname")` but something didn't work, I can't remember the exact sequence, so I fell back to manual change in `function.json`.

This 2 (or now 3?) ways to disable a function  might be confusing. People are already puzzled when they don't see their input/output bindings in the generated f

[2018-03-26 20:59] paulbatum commented on #2583
Yeah, I get that its confusing. The heart of the problem is that webjobs knows how to interpret attributes, and we have code that knows how to generate attributes from function.json. But we can't take attributes that you gave us and then dynamically modify them based on the contents of function.json.

When we fixed it in V2, we did it through app settings because disabling in the function.json fil

[2018-03-26 21:12] kevinhillinger commented on #2301
@paulbatum An important part of this change is updating the documentation to explicitly call out our maximum file size supported.

Technically right now, the grpc arg is an unsigned 32-bit integer, so the max file size is ~4gb. That size violates the light weight, single function design of Functions, IMO.

[2018-03-26 21:24] bryceg commented on #2497
We seem to be experiencing this frequently with our functions that trigger off event hubs.  They will periodically just stop triggering, and go silent.  Restarting the app service or enable/disabling the function a few times gets it working again, but this keeps causing production downtime for us.

[2018-03-26 21:27] bzhu94 commented on #2125
I'd like to point out that contrary to what @brspurri has said, V1 shows this problem as well sometimes.

[2018-03-26 21:40] pragnagopa commented on #2583
I missed function.json was hand edited. Opened issue [Azure/Azure-Functions/issues/736](https://github.com/Azure/Azure-Functions/issues/736) to track adding documentation on how to disable function in v2

[2018-03-26 21:41] #2583 closed

[2018-03-26 21:49] safihamid commented on #2481
This error can be ignored. It is trying to load System.IO.FileSystem in Proxy code but can't find it in the Functions runtime's bin folder. However this dll is no longer needed.

I have updated the Proxy code for this but doesn't justify a new release. it will be released, if there are other proxy changes in v1 needed.

[2018-03-26 22:16] pragnagopa commented on #2301
Given that grpc max size ~4gb,  numbers suggested by @paulbatum sound reasonable.

Making the setting configurable via host.json needs some investigation as there is no clear documentation on how max message size impacts performance.

[2018-03-27 00:12] mhoeger commented on #2578
Node-fetch recently published an update whereas the Functions v2 runtime has not changed for the past month+. It seems like something that changed with node-fetch doesn't play well with the Functions runtime.

I'll look into it! In the meantime, you can try a package-lock on a version that still works.

[2018-03-27 03:48] mattbierner commented on #2585
Thanks. Yes `.funcignore` node_modules should have prevented this from happening kin the first place

But triggering a restart for each file seems like a bug. What if my functions did actually need files from `node_modules`?

[2018-03-27 07:02] AlejandroGil commented on #364
Is there any progress on this?

[2018-03-27 07:21] mumughal commented on #2578
Yes, updating node version worked for me. Also I'm using `request-promise` instead of `node-fetch`. Thanks @mhoeger for your response. :)

[2018-03-27 07:32] gauraviitr commented on #2578
@mumughal Can you help out how you ended up updating the node version?

[2018-03-27 08:37] simonness commented on #2481
Thanks very much for the confirmation @safihamid, happy to close this one.

[2018-03-27 08:37] #2481 closed

[2018-03-27 08:47] mumughal commented on #2578
@gauraviitr Yeah sure! In your azure portal, go to application settings of your app. There you can see `WEBSITE_NODE_DEFAULT_VERSION`,  just update it to `8.9.4`. Make sure this is a new application where you are running `beta` as well. Hope it helps. :)

[2018-03-27 08:49] gauraviitr commented on #2578
That had solved the issue earlier but after installing node packages the issue reappears right? How did u avoid that?

Gaurav Jain

On Tue, Mar 27, 2018 at 1:47 AM mumughal < mumughal ( mumughal <notifications@github.com> ) > wrote:

[2018-03-27 09:55] JagatjyotiMohanty007 commented on #308
I am facing same issue Status: 404 Not Found
testing part of function App

[2018-03-27 10:14] MrGlenThomas opened #2586 "Timer trigger function does not run"
#### Investigative information

Please provide the following:

- Timestamp: 2018-03-26T15:33:13.694
- Function App version (1.0 or 2.0-beta): 1.0
- Function App name: asos52-dev-eun-cmc-subscriptions-options-fcn-app
- Function name(s) (as appropriate):
- Invocation ID:
- Region: Europe North

#### Repro steps

Provide the steps required to reproduce the problem:

The function does not run. Nothing

[2018-03-27 11:04] MrGlenThomas opened #2587 "Errors in the azure portal when IP restriction added"
I was instructed to add an IP restriction to the function app of 10.0.0.0 255.255.255.0 to only allow connections from internal azure clients (i.e. portal, etc.)

When using the azure portal to manage my function I am now seeing lots of errors and broken functionality.

How can I add IP restrictions to the function app but allow the portal to function as normal?

#### Investigative information

Pl

[2018-03-27 11:07] MrGlenThomas commented on #2586
I have discovered that the problem was due to the AzureWebJobsDashboard app setting missing "EndpointSuffix=core.windows.net" from the connection string. I'm sure it did not have this on the connection string before and was working fine.

The whole time the function was having this problem and not executing the portal diagnostics was reporting the function app to be working perfectly...

[2018-03-27 12:40] mcupito commented on #563
It's been on the backlog for (over) a year and a half - should we stop asking? haha

[2018-03-27 12:42] mikhailshilkov commented on #563
Nah, it's almost 3 years if you consider https://github.com/Azure/azure-webjobs-sdk/issues/529

[2018-03-27 14:17] gavinwoolley commented on #1932
Any updates on this...

[2018-03-27 14:32] davidebbo commented on #308
@JagatjyotiMohanty007 this is an extremely old issue, and what you're seeing is likely not related. Please open a new issue with full details on your scenario. Thanks!

[2018-03-27 14:33] mstumpfx commented on #586
Any workarounds for monitoring/reporting cold starts?
App level initialization logic seems to be the place for this. I am not sure how to report cold starts with multiple functions in an app.

[2018-03-27 15:20] SeanFeldman commented on #2504
Looks like the issue was triaged, but no follow up was added. @pragnagopa could you please add a comment?

[2018-03-27 16:50] paulbatum commented on #2504
@SeanFeldman This makes sense as a feature request. We'll keep this issue open to track interest and capture feedback. However right now I don't know when we would do the work to enable this.

[2018-03-27 17:00] mathewc commented on #586
Regarding cold start data logging - we actually did work recently to [emit data to our system logs](https://github.com/Azure/azure-functions-host/blob/749564ab175f7c0d2e4ef811cb33f354e460803f/src/WebJobs.Script.WebHost/WebScriptHostManager.cs#L206) for cold start requests for our own internal analysis. This data isn't currently written to user logs though it could be, or we could emit it to AppIns

[2018-03-27 18:06] paulbatum commented on #1932
We don't have any plans to address this in the near future. See [here](https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages) for the current status and guidance on PowerShell in Azure Functions.

[2018-03-27 18:12] paulbatum commented on #2587
This issue was moved to Azure/azure-functions-ux#2471

[2018-03-27 18:12] #2587 closed

[2018-03-27 18:21] paulbatum commented on #364
No progress on this yet. Right now our main priority for JavaScript is getting the new out-of-proc model used in functions V2 to have feature and behavior parity with V1. Switching from Edge.js to a seperate node.exe process communicating over grpc is a pretty large change with a tail of bugs that will impact users trying to upgrade to V2 if not fixed.

[2018-03-27 18:32] andycmaj commented on #2167
seeing someting very similar in AWS actually:

[code]

[2018-03-27 18:39] nzthiago commented on #2554
@pragnagopa @brettsam - I might be missing something, but how does the workaround in that thread in the forums or that tracked item you linked to apply to Julie's HttpTrigger question? Those links only seem to talk about CosmosDBTrigger supporting a single doc which isn't the same.

I've just run into something similar to Julie; trying to get a new c# compiled class v2 function with an **HttpTrigg

[2018-03-27 18:40] paulbatum commented on #2501
Closing this as answered

[2018-03-27 18:40] #2501 closed

[2018-03-27 18:54] asavaritayal opened #2588 "Improved logs for out-of-proc languages"
Currently, I see the following output if a function fails to load -

![image](https://user-images.githubusercontent.com/8435148/37988312-74b8472e-31b5-11e8-8519-9c3df28dfb75.png)

- [ ] It's hard to tell from the GUID which function failed. Can we print the function name instead?

- [ ] Separately, there are no additional logs for the failure. How do I see the stack trace?

[2018-03-27 19:15] pragnagopa opened #2589 "Investigate why running sql queries takes a long time"
Customer reported issue on SO:[azure-function-slow-executing-a-stored-procedure]( https://stackoverflow.com/questions/49356866/azure-function-slow-executing-a-stored-procedure)
Systemlogs for the invocationId =186ef503-9053-4be2-9e4c-e6b525fcfa6f
AppName: NewVIPMember
FunctionName: vipazurefunction

|FunctionInvocationId	|Source	      |Summary|
| ------ |---- |------
|186ef503-9053-4be2-9e4c-e6b52

[2018-03-27 19:32] pragnagopa commented on #2551
Closing as this is a known issue and restarting the app should work.

[2018-03-27 19:32] #2551 closed

[2018-03-27 19:59] pragnagopa commented on #2585
Yes, we need to figure out a way not to restart on every file when deploying via CLI

[2018-03-27 20:04] pragnagopa commented on #2339
@mhoeger - This is probably dup of #2552 . Can you please take a look and close this one?

[2018-03-27 20:11] pragnagopa commented on #2256
@celicoo - We recently fixed this issue #2009 . Can you please retry?

[2018-03-27 20:14] fabiocav opened #2590 "Catchall routes will override admin routes"
In 2.0, catchall routes when the base route prefix is removed break the admin APIs routing. Admin routes must be respected.

[2018-03-27 20:17] pragnagopa commented on #2136
Closing this issue. We have tracking item to increase the max message size over grpc #2301

[2018-03-27 20:17] #2136 closed

[2018-03-27 20:21] mhoeger commented on #2552
^above issue gives context on issue too. "isRaw" should be defaulted to "true" for RpcHttp objects. This isn't completely trivial because proto3 [doesn't allow for default primitives](https://developers.google.com/protocol-buffers/docs/proto3#default).

[2018-03-27 20:21] mhoeger commented on #2339
Yep - dupe. Closing this issue as the other is more up to date 👍

[2018-03-27 20:21] #2339 closed

[2018-03-27 20:25] pragnagopa commented on #2044
/cc: @paulbatum
Closing this as we do not use edge in Functions V2

[2018-03-27 20:25] #2044 closed

[2018-03-27 20:29] mhoeger commented on #2305
Could be the root cause of https://github.com/Azure/azure-functions-host/issues/2578 as well, where using v2.1.2 of [node-fetch](https://www.npmjs.com/package/node-fetch) appears to return the wrong body (some bad assumption is being made).

[2018-03-27 20:31] pragnagopa commented on #1447
Please try Functions V2. Closing this issue for now.  Please reactivate if you still run into issues with v2.

[2018-03-27 20:31] #1447 closed

[2018-03-27 20:41] pragnagopa commented on #2074
@mhoeger - can you please follow up?

[2018-03-27 20:44] paulbatum commented on #1983
For anybody curious, our recommended approach is to do your typescript compilation locally and deploy the resulting JavaScript. There are some complexities that need to be addressed if we are going to provide built-in compilation support and we're not sure yet if its worth the investment (many users are already happy doing the compilation locally).

[2018-03-27 20:44] mhoeger commented on #2074
Hey @micahasmith, any updates on this issue?

[2018-03-27 20:44] pragnagopa commented on #1822
@fabiocav - for now assigned this one to you. Can you please add more details and reassign?

[2018-03-27 20:48] pragnagopa commented on #1352
Root cause could be #2530

[2018-03-27 20:50] paulbatum commented on #2585
So as far as I can tell we're not actually doing all those restarts. The restart operation is being signaled but its debounced, so only one restart should occur, at the end. We should probably change those messages to verbose level though.

[2018-03-27 20:52] pragnagopa commented on #1318
Closing as the fix is checked it in the referenced PR.

[2018-03-27 20:52] #1318 closed

[2018-03-27 20:55] pragnagopa commented on #1652
Closing as the fix for [ Azure/azure-webjobs-sdk#980](https://github.com/Azure/azure-webjobs-sdk/issues/980) is now available

[2018-03-27 21:36] paulbatum commented on #1139
There are two different things being discussed in this issue.

As originally stated, the request was for the IOT Hub team to implement CORS support. If they do this work there are some nice new scenarios where you can use WebSockets, IOT Hub and Functions together. We reached out to the IOT Hub to draw their attention to this feedback. For those of you that are +1'ing this idea please weigh in on

[2018-03-27 21:36] #1139 closed

[2018-03-27 21:38] paulbatum commented on #2260
Closing this issue due to age, please comment and I can reopen if you think there is still a problem here.

[2018-03-27 21:38] #2260 closed

[2018-03-27 21:39] #2307 closed

[2018-03-27 21:40] MayankSri opened #2591 "Time triggered Azure function not scaling up with the increase in the instances of the App service plan"
I have an Azure function that is triggered every 1 second. Every time it is triggered, it reads a batch of messages from a Service Bus queue and processes them. It runs on App service plan which scales on the active messages in the queue. However as the service plan scales out I do not see any increase in the throughput of the function.

Does the Time triggered Azure function scale as the increase

[2018-03-27 21:42] paulbatum commented on #1144
Closing this as I think everything relevant is tracked in https://github.com/Azure/Azure-Functions/issues/124

[2018-03-27 21:42] #1144 closed

[2018-03-27 21:53] mathewc commented on #2546
PR with the suggested fix is out. Please have a look and feel free to comment.

[2018-03-27 22:08] 1N50MN14 commented on #1139
@paulbatum Thank you for the feedback. There are two reasons I opened this issue here:

1. It's hopeless to reach out to the IoT Hub team, my issue on github was flat out rejected, and as you can see the uservoice issue has been open since 2016.

2. It's still related to Azure Functions, my impression it's also in your team's interest as well for the IoT Hub team to resolve this issue, as you can

[2018-03-27 22:22] mathewc opened #2592 "Improve Host Lock Renewals"
Currently the host lock we take in PrimaryHostCoordinator has a very simple renewal strategy in place - it attempts to renew the lease just 3 seconds before the 15 second lease expires. Waiting so long might be error prone - e.g. if a network delay happens we might miss the renewal.

In the core WebJobs SDK for leases we employ a more sophisticated retry mechanism. At the half way point in the lea

[2018-03-28 00:27] mathewc commented on #2546
Merged the underling fix to the TimerTrigger extension. We'll roll it out in the next Azure Functions release.

[2018-03-28 00:27] #2546 closed

[2018-03-28 01:07] nzthiago commented on #2554
Ok, to add some more, after some experimentation, using "Route" does make it work to map the id (ratingId in this case) to the Cosmos DB binding, i.e.:
[code]
So it's only query parameters parts of a JSON body that aren't being mapped from an HttpTrigger to binding expressions. Which I still think should work normally right?

[2018-03-28 01:10] paulbatum commented on #1139
@1N50MN14 of course, no problem. Your reasoning was sound and the upvotes on this issue helped us demonstrate to the IOT hub team that there are multiple people interested in this scenario.

[2018-03-28 01:10] fabiocav commented on #2446
@forki finally got around to drafting something up. Can you take a look at this and provide some feedback?

https://gist.github.com/fabiocav/8fcccd4d54ec298e3b120cbc1230c02a

[2018-03-28 01:32] paulbatum commented on #2591
From the [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer#scale-out):

For timer based workloads, the recommended approach is to make your timer write to a queue, and to have a queue triggered function do the actual work. This will allow concurrent executions to occur (if processing takes longer than the timer interval), potentially across multiple in

[2018-03-28 01:32] #2591 closed

[2018-03-28 07:21] forki commented on #2446
cool.

I added docs for the new paket feature: https://fsprojects.github.io/Paket/dependencies-file.html#External-lock-files

Next steps:

1) test in real project (will do that soon)
2) put the file on some trusted resource (and rename packet to paket ;-) )
3) make it official with some nice post where we explain it together (cc @isaacabraham)

[2018-03-28 14:10] AlejandroGil commented on #364
Thank you Paul,

I finally resolved using Azure storage SDK:

[code]

[2018-03-28 14:55] mguirao commented on #1603
Do you have any update about this issue ?
I experiencing the same behavior in my function when concurrent execution occurs.

[2018-03-28 15:20] brettsam commented on #2554
@nzthiago --
- You are correct, that issue was about the CosmosDBTrigger. This single-item input binding should still work as it did in v1.
- You're also correct that it seems like the query parameters aren't getting bound to the binding data, so we can't find them.
- Can you share the queries that work and don't work from your example above?

@julielerman -- To explain the behavior you're seeing

[2018-03-28 15:35] julielerman commented on #2554
@brettsam i'm finding it with a standard query and have replaced my original binding with a sqlquery binding. The id binding parameter (above) doesn't seem to be working.
[code]

[2018-03-28 15:37] brettsam commented on #2554
What does your HTTP request look like when it works?

[2018-03-28 15:57] kevinhillinger commented on #2301
While the design is being determined, is there a workaround for blob trigger to only receive metadata without the content of the blob as input, preventing the error?

I am seeing (and supporting 1 active case) situations where consumers of Functions are hitting this error but do not want the contents of the blob, just the blob metadata from the trigger.

[2018-03-28 16:43] fabiocav opened #2594 "Build failure after installing ExtensionsMetadatGenerator into empty v2 app"
_From @paulbatum on December 12, 2017 21:0_

Steps to reproduce:
1. In VS: File -> New -> Function App -> v2
2. Add reference to  Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator (1.0.0-beta2)
3. Build

Expected result: build is successful

Actual result:
Build failure with error message `MSB4022	The result "" of evaluating the value "$(_FunctionsExtensionsTaskAssemblyFullPath)" of the "

[2018-03-28 16:43] fabiocav commented on #2594
_From @Macros185 on January 23, 2018 19:25_

Are there any updates on this issue? We're currently dealing with this and would even be happy with a temporary workaround if one exists.

[2018-03-28 16:43] fabiocav commented on #2594
@Macros185 This hasn't been assigned to a milestone yet, but some work has been done on the generator and this updated version may help you with this issue:
https://www.myget.org/feed/azure-appservice/package/nuget/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator

We'll be publishing this to NuGet once the fix is validated.

[2018-03-28 16:43] fabiocav commented on #2594
_From @Macros185 on January 23, 2018 20:11_

Thanks @fabiocav!

Good news is that seems to fix the build error. Bad news is using this new package still doesn't enable us to use a Service Bus triggered function.

Console Log After Starting Function:
[code]

[2018-03-28 16:43] fabiocav commented on #2594
What version of the Service Bus extension package are you using?

[2018-03-28 16:43] fabiocav commented on #2594
_From @Macros185 on January 23, 2018 21:37_

Currently using Microsoft.Azure.WebJobs.ServiceBus v3.0.0-beta4

[2018-03-28 16:43] fabiocav commented on #2594
We might have yet another unpublished update, soon to be released, here: https://www.myget.org/feed/azure-appservice/package/nuget/Microsoft.Azure.WebJobs.ServiceBus

Can you test that out?

[2018-03-28 16:43] fabiocav commented on #2594
_From @Macros185 on January 23, 2018 22:24_

That ServiceBus extension update had a dependency on Microsoft.Azure.WebJobs 3.0.0-beta4-11131, another unpublished update. We had to install that separately to resolve a build error. After that everything works great!

Thanks again @fabiocav! Looking forward to official releases of these fixes, but this definitely gets our POC ready in time to stick wi

[2018-03-28 16:43] fabiocav commented on #2594
_From @mslugx on January 24, 2018 4:22_

Hi @fabiocav I am encountering the same issue. and i followed  this thread to the Tee. I am glad to say I am getting somewhere. Thank you for your help and support. However, I am trying to abadon, or deadletter, a service bus message, How can I do so? I've tried the following solution, but I didn't get anywhere.
Here is the codeSample I used:

        publi

[2018-03-28 16:43] fabiocav commented on #2594
_From @Macros185 on January 24, 2018 17:19_

@mslugx Hopefully I can help with this one. Based on the "Azure Service Bus Bindings for Azure Functions" documentation, the message is automatically completed (dequeued) if the function succeeds or is abandoned (requeued) if the function fails.

Direct from documentation [(link):](https://docs.microsoft.com/en-us/azure/azure-functions/functions-binding

[2018-03-28 16:43] fabiocav commented on #2594
_From @TechWatching on January 28, 2018 22:50_

@Macros185 I had the same issues than you but I can't succeed to make it works even with the myget packages versions. How did you succeed to use Microsoft.Azure.WebJobs 3.0.0-beta4-11131 while Microsoft.Net.Sdk.Functions Functions has a strong dependency to Microsoft.Azure.WebJobs 3.0.0-beta4 ?

[2018-03-28 16:43] fabiocav commented on #2594
_From @mslugx on January 29, 2018 18:35_

@TechWatching you need to update microsoft.Net.Sdk.Functions to 1.0.7, then you can upgrade Microsoft.Azure.WebJobs 3.0.0-beta4 to the myget packages.

[2018-03-28 16:43] fabiocav commented on #2594
_From @TechWatching on January 30, 2018 12:25_

That is why I already did but I am still getting an error : Detected package version outside of dependency constraint: Microsoft.NET.Sdk.Functions 1.0.7 requires Microsoft.Azure.WebJobs (= 3.0.0-beta4) but version Microsoft.Azure.WebJobs 3.0.0-beta4-11131 was resolved.
Am I missing something there ?

[2018-03-28 16:43] fabiocav commented on #2594
_From @Macros185 on January 30, 2018 23:41_

That is just a warning. Microsoft.NET.Sdk.Functions 1.0.7 requires Microsoft.Azure.WebJobs (= 3.0.0-beta4) but the build is automatically resolving it to use the more recent Microsoft.Azure.WebJobs 3.0.0-beta4-11131 instead. We get the same warning, but it isn't preventing the function from working normally.

[2018-03-28 16:43] fabiocav commented on #2594
_From @Macros185 on February 1, 2018 15:53_

@fabiocav Just wanted to point out an issue we found while testing functions using ExtensionsMetadataGenerator. We're finding that the extensions.json file is properly created in the bin folder when you build your project, but the file is not copied over when you publish the project. All the other contents of the bin folder are present after a publish w

[2018-03-28 16:43] fabiocav commented on #2594
_From @spelltwister on March 24, 2018 0:35_

It was not clear to me that you have to replace both packages

    <PackageReference Include="Microsoft.Azure.WebJobs" Version="3.0.0-beta4-11131" />
    <PackageReference Include="Microsoft.Azure.WebJobs.ServiceBus" Version="3.0.0-beta4-11131" />

However, even after doing this, I'm still getting the same error :(

    [3/24/2018 12:43:36 AM] Generatin

[2018-03-28 16:43] fabiocav commented on #2594
_From @Robula on March 28, 2018 12:1_

Same issue as @spelltwister, ServiceBus on beta4 generating 0 job functions.

I've just upgraded to beta5 and I'm still experiencing this issue

[2018-03-28 17:00] zawor commented on #1206
Just to drop my 2 cents:
Today I did the tests with VSTS load tests, spamming one of our endpoints (HTTP trigger, precompiled C#, running on consumption plan, v1). All tests were conducted from same region as function app.

1. 1k virtual users (VU), step load pattern with initial 50 VUs with 15s steps of 50VUs with step ramp time of 12s. Test ran for 20min.
2. 10k VUs, step load pattern with initi

[2018-03-28 17:09] davidebbo commented on #1206
@zawor so your first and second test did not have the `WEBSITE_HTTPSCALEV2_ENABLED`? Let's ignore those as the new mode is about to become default within another week or two.

For the 3rd, if you provide the app name and approximate UTC time, we can look from our end and analyze what we see. /cc @suwatch

[2018-03-28 17:24] zawor commented on #1206
Let myself to send you email on address provided above.

[2018-03-28 17:33] nzthiago commented on #2554
@brettsam thanks for reopening and looking into this!

By "the queries that work and don't work from your example above", do you mean the HTTP call details? If so, basically any query parameters ( like `?ratingId=1`) for a GET won't get mapped to a `{ratingId}` binding expression. Or, for a post, if I define a POCO with deserialization as per [this doc](https://docs.microsoft.com/en-us/azure/azure

[2018-03-28 17:42] asavaritayal commented on #1603
@mguirao PS support for the v2 runtime is still on the cards. We're partnering with the PowerShell team at Microsoft to determine the right approach and timeline for this feature. Unfortunately, I don't have an ETA to share at the moment.

[2018-03-28 17:54] bzhu94 opened #2595 "Functions CLI stops writing output and failing to let Functions to trigger/run successfully"
INSTALL STEPS

1. Clean machine: Win 7 SP1 x86 DEU

2. Run preinstall.cmd: \\vspreinstall\preinstall\preinstall.cmd

3. Install Dev15.6 Val (pre-release-build) VSE from \\cpvsbuild\drops\VS-Val\d15.6\products\27427.9000.pehuene.180227.152046\bootstrappers 

4. Select Web + NetCore + Azure workload

REPRO STEPS

1. File > New Project > Azure Functions > Azure Functions v2 (.Net Core) with the Empty

[2018-03-28 18:04] pragnagopa opened #2596 "Setting console logging mode in host.json does not work"
specifying console logging mode in host.json
[code]
Runtime needs to parse host json correctly [here](https://github.com/Azure/azure-functions-host/blob/bafab95344edf81ff100b2bb0f76ea5681ca57be/src/WebJobs.Script/Diagnostics/DefaultLoggerProviderFactory.cs#L44)

Workaround:
set host:logger:consoleLoggingMode=always in the environment variabels

[2018-03-28 18:06] mathewc commented on #2595
Does this repro if you point to a non emulator storage account? You say this seems related to #2125 - are you seeing AccessViolation errors in the log like in that issue?

[2018-03-28 18:09] julielerman commented on #2554
@brettsam do you mean the http request to cosmosdb made by my function? gah ...can't figure out how to see that on my mac.  Might have to learn how to use other features of postman. Is there an easy way to capture traffic so I don't have to spend a bunch of time in order to answer the q?

[2018-03-28 18:15] mathewc commented on #2473
Should be fixed with new release. Brett will verify.

[2018-03-28 18:25] mathewc commented on #2472
If you're using App Service plan (not Dynamic) you might consider using [Hybrid Connections](https://docs.microsoft.com/en-us/azure/app-service/app-service-hybrid-connections).

[2018-03-28 18:25] #2472 closed

[2018-03-28 18:31] mathewc commented on #2471
Related to https://github.com/Azure/azure-functions-ux/issues/949. Portal doesn't currently support this feature properly.

[2018-03-28 18:31] #2471 closed

[2018-03-28 18:34] mathewc commented on #2470
We'll investigate this. Were you using the Invocation Filters feature here?

[2018-03-28 18:37] mathewc commented on #2468
We should look at this setting and other settings and fix them all together.

[2018-03-28 18:41] julielerman commented on #2554
update ..olkay after 1/2 hr with wireshark i still can't figure out how to see outgoing traffic to the www  . uggh

[2018-03-28 18:44] zawor commented on #1206
Just found out that I have overlooked proxy function app which wraps all of the apps under one api when setting `WEBSITE_HTTPSCALEV2_ENABLED`... after applying it there i spawned quick test from my machine and managed to to pull out ~4800RPS from 5kVUs but got plenty of error responses with 401, 503 or WebTest errors complaining about too many redirects, which was not a case before... Will try to

[2018-03-28 18:50] mathewc commented on #2457
Where do you see the failure exactly? Can you provide us repro steps for this? What is your VSTS setup?

[2018-03-28 18:54] mathewc commented on #2448
We did a new runtime update this week that addresses some of the issues above, however the we're still updating Durable Functions preview to work with that new release.  @ConnorMcMahon can provide an update for that.

[2018-03-28 18:58] mathewc commented on #2447
Pragna will link this to other related issues.

[2018-03-28 19:34] brettsam opened #2597 "App Insights: Allow for customization of performance counters"
Perf counters are on by default; Some customers would like to turn these off (or even tune them).

[2018-03-28 20:12] gauraviitr opened #2598 "CosmosDB binding error"
I'm running the v2.x runtime nodeJS 8.9.4
Tried to bind the CosmosDB after registering the extension. Receiving this error and cant use the function until its' resolved:
The function runtime is unable to start. Microsoft.Azure.WebJobs.Extensions.CosmosDB: Method not found: 'Microsoft.Azure.WebJobs.Host.TraceWriter Microsoft.Azure.WebJobs.Host.Config.ExtensionConfigContext.get_Trace()'

On invoking

[2018-03-28 20:39] ahmelsayed commented on #2580
Do you have `host:logger:consoleLoggingMode` set?

[2018-03-28 20:56] brettsam commented on #2554
@julielerman -- I'm interested in the request you made *to* your function. I think @nzthiago has answered the question, though -- it looks like route values work, but query/body values don't. @fabiocav is going to take a look and see if something is broken with the binding wire-up in the HttpTrigger.

[2018-03-28 21:11] sergsalo commented on #2497
any suggestions what can be done as a workaround?

[2018-03-28 21:27] pragnagopa commented on #2447
Here is the related issue #2272 to add httprequest traces to systemlogs

[2018-03-28 21:53] bluebirdtech commented on #1594
Given the lack app.config style configuration, we've worked around it by deploying local.settings.json and manually reading it, e.g.
[code]

I know you're not _supposed_ to deploy that file, but we're using Octopus for deployment and want to have the file transformed on deployment.

Possibly adds a little overhead, but working fine for our needs.

[2018-03-28 22:40] suwatch commented on #1206
@zawor  We took a look at the time provided above.  We could see 3 distinct sites whose names started with `wfl` and ended with `-20180314`.   They have `regionapi`, `positions` and `run` in the name respectively.

- Could you explain how they are related?  Especially, when you load test, were you load test all of them at the same times?  From the log, it seemed like `regionapi` and `positions` re

[2018-03-28 22:42] mathewc commented on #2497
I can't think of any workaround unfortunately. I have a PR out now with a fix, which we'll try to get out soon.

[2018-03-28 23:53] paulbatum commented on #2598
We're in the process of rolling out a v2 update that has some breaking changes, which is discussed here:
https://github.com/Azure/app-service-announcements/issues/94

Theres a good chance that this is what you're hitting. Check the version of your function app and see if matches the details in the announcement. If so, follow the steps. Let us know how it goes.

cc @brettsam

[2018-03-29 00:06] gauraviitr commented on #2598
That fixed it but now this shows up:
ScriptHost initialization failed
[3/29/2018 12:05:48 AM] Microsoft.Azure.WebJobs.Extensions.CosmosDB: Method not found: 'Void Microsoft.Azure.WebJobs.Host.Config.FluentBindingRule`1.AddValidator(System.Action`2<!0,System.Type>)'.
Listening on http://localhost:7071/
Hit CTRL-C to exit...
Object reference not set to an instance of an object.

[2018-03-29 00:14] paulbatum commented on #2598
Hrm, so you're getting this locally? Unfortunately things get even more complicated in this case because it depends on the version of the azure-functions-core-tools that is being used when you run.

@ahmelsayed is there a release in the works of core-tools with runtime 2.0.11651 or later?

[2018-03-29 06:16] zawor commented on #1206
@suwatch `regionapi` is proxy function to bind all underlying under one api, so whole incoming traffic goes through it. `positions` is one which will get most of the beating as it does ingestion of the telemetry traffic. `run` is simply the thing which usually gets 2 requests in this context, one before and other after, simply to notify guts with metadata that we have start and end of transmission

[2018-03-29 08:01] mguirao commented on #1603
@asavaritayal Would that change anything if i switch to the "Beta" runtime ?

[2018-03-29 08:56] JimiSmith commented on #2470
There aren't any Invocation Filters but we are using a config provider and custom bindings to do dependency injection similar to what is described in this blog post https://blog.wille-zone.de/post/azure-functions-proper-dependency-injection/

[2018-03-29 08:57] JimiSmith commented on #2470
I can spend some time and create a sample project if needed

[2018-03-29 10:07] unwitting commented on #1663
With respect, why? It seems as though using bindings to accomplish operations like this is exactly the intention for functions. If you can't even edit the data in tables then it should at least be documented up front (on https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table#output) with instructions on how to achieve it.

[2018-03-29 15:23] mguirao commented on #1603
As a temporary solution i have replaced all module commands by Rest API call to https://management.azure.com.
That way i'm not using modules anymore, so no session conflict.

[2018-03-29 15:53] zawor commented on #1206
ok so I've made the tests. Initial enthusiasm after 1st test from local machine was obliterated by test result of VSTS Load test.
So to the details:

1. Local Test:
   - start: 2018-03-29T12:59:16Z
   - end: 2018-03-29T13:19:16Z
   - spec:
      - User Load: 5000
      - Duration: 20m
      - Pattern: Step
      - Initial user count: 100
      - Step duration: 10s
      - Step ramp time: 9s

[2018-03-29 16:08] johnib opened #2602 "TimerTrigger - not triggering as expected per the cronjob syntax"
# Update:
The _seconds_ field cannot be `*` when I want to run every 10 minutes.
The right cron expression should be `0 */10 * * * *`.

You can close this thread. excuse me.

---------------------

Hi,

I have the following function which I would like to schedule an execution every 10 minutes:

[code]

According to 6-fields cronjob syntax, the following cron should have done that: `* */10 * * * *`

[2018-03-29 16:30] fabiocav commented on #2446
Great!

My fingers kept going back to "packet", I got it right most of the time, just not where it mattered :) I'll put this up on the repo once we validate (with the right name) so you can consume it from there.

[2018-03-29 16:42] ganeshchippada commented on #1663
It really makes sense to call the upsert as the basic feature for functions . If not document them properly so that people like us dont end up spending time in rework.

[2018-03-29 17:12] gauraviitr commented on #2598
@paulbatum looks like this error is similar to the one at
https://github.com/Azure/app-service-announcements-discussions/issues/41

[2018-03-29 17:27] Mike-EEE commented on #1579
100% my thinking @MV10 ... I'm super pumped over the vision of Azure Functions, but the static, (SLOW!) reflection-based voodoo of the `Run` function has got to be addressed! 😆   It would be nice to have a POCO-based design with strongly-typed interfaces that we can use so we don't have so many messy attributes acting as configuration.  This of course would make it easier for DI and be more congru

[2018-03-29 17:49] paulbatum commented on #1663
@unwitting It is simply a matter of prioritization and working with a limited set of resources. We are spending our time on issues that impact reliability, performance, or having the right logs to track down a problem. We are also working on issues that completely block a customer from adopting functions (i.e. issues with no workaround). The feature discussed in this issue does not fall into any o

[2018-03-29 17:59] paulbatum commented on #1663
See here for a docs PR to make this clearer:
https://github.com/MicrosoftDocs/azure-docs/pull/6481

[2018-03-29 18:38] #2602 closed

[2018-03-29 20:29] Mike-EEE opened #2605 "1.0.11-1.0.12: Azure Function Host Fails to Initialize"
I apologize if this is already captured somewhere.  I did a search and it did not seem to apply to anything recent.  I just now upgraded my Azure Function app (which was made from scratch, File -> New->Http Trigger) to 1.0.12, and am running into an error when running F5 to develop locally on my machine.

Here is what is emitted to the console:

[code]

Additionally, attempting to visit this app v

[2018-03-29 21:48] #2363 closed

[2018-03-29 22:20] #2526 closed

[2018-03-29 22:27] #2566 closed

[2018-03-30 00:19] mayoatbm commented on #2448
@davidebbo

As I mentioned in the other thread, we're having this issue at the top of this thread with the new runtime and it's blocking us. As requested, here are the function details

----------
East Region
2018-03-30T00:17:36.960 Function started (Id=13990dee-f7fe-42a8-ab5e-a55448714ac8)

[2018-03-30 00:29] davidebbo commented on #2448
@mayoatbm Some questions:

- Did changing the App Setting get it back to working?
- Are the files right now in a state such that if you switched back to latest Beta build, it would fail in the same way? Or did you make change so the file that make it behave differently?

[2018-03-30 00:38] mayoatbm commented on #2448
@davidebbo

- Yes, it did
- The files in the function app i shared above are pre - your upgrade instructions for the new runtime. That function app uses sdk 1.0.7 and beta4 versions of the nuget packages.

We have six function apps impacted by this issue.  I tried upgrading one of them per your instructions and i got the error at the top of this thread. Unfortunately i can't share the details beca

[2018-03-30 00:42] davidebbo commented on #2448
@mayoatbm looking at our logs, I see a very different error in Azure:

[code]

This suggests that you have your own custom extension that was built against the previous runtime, so it's hitting a method that's now gone (or changed). You will need to rebuild your extension against the latest packages.

[2018-03-30 00:47] mayoatbm commented on #2448
@davidebbo

That's the error we get with the new runtime using our old code (make sense). The problem is that upgrading gives us the abstractions error. There's another function app in that same resource group that has the new nuget packages and sdk per your instructions. That gives the error at the top of this thread.

Does that clarify things?

[2018-03-30 01:04] mhoeger commented on #2296
I think we can do this by using **git subtrees** (note: subtrees compared to submodules, because subtrees require extra .git files as administrative overhead and require separate commands for updating... For more reasons why, google "sobmodules" or "submodules hell")

For git subtrees, we can either use the built-in `git subtree` command or manually do this using normal git commands, as detailed i

[2018-03-30 01:05] mayoatbm commented on #2448
@davidebbo  [This issue](https://github.com/Azure/azure-functions-vs-build-sdk/issues/181) might also be related.

[2018-03-30 01:06] davidebbo commented on #2448
@mayoatbm yes, that helps. So to summarize:

- it became broken in Azure with the `MissingMethodException`
- you tried to upgrade things locally in VS, but then trying to run it in VS resulted in the `Microsoft.AspNetCore.Mvc.Abstractions` error.

Problem may be that VS still needs to take an update. For now, stay with old build, and we'll figure this out.

/cc @fabiocav

[2018-03-30 01:18] mayoatbm commented on #2448
@davidebbo

Great.

Yes, that's a good summary. The only clarification I will make is that we get this "abstractions" error in Visual Studio and in the Core Runtime from npm, and in the cloud. So it's everywhere.

Can you guarantee that the old version of the runtime will be available until this issue is resolved?

Also, what is the likelihood that this situation (deploying a runtime with known br

[2018-03-30 01:20] suwatch commented on #1206
@zawor  Before we start analyzing, let me try to understand the request flow.  When you run a test, you only run against `regionapi` hostname.   This is a proxy which in turn making a HTTP call to `positions`.   Are they 1-to-1 relationship (meaning one request to `regionapi` will make one request to `positions`)?     The proxy also calls `run` twice for every requests?   Looking at the total requ

[2018-03-30 01:20] davidebbo commented on #2448
@mayoatbm can you try the following:

- locally, from the root of your app, run `dotnet publish`
- find the built artifacts under `bin\Debug\netstandard2.0`
- you can test them locally using `func host start` (get the latest from npm, e.g. `npm i -g azure-functions-core-tools@core`)
- deploy the bits to Azure.

[2018-03-30 01:25] davidebbo commented on #2448
@mayoatbm Just saw your other reply

- Definitely, we will keep the old one until the dust settles and we're confident that everyone can move forward
- this is a rough upgrade because there were breaking changes. And frankly we didn't do a very good job anticipating all the consequences.
- Yes, it's possible that there will be other breaking changes, but we'll do a better job. e.g. we could have t

[2018-03-30 01:41] mayoatbm commented on #2448
@davidebbo

The new cli works. Thank you very much, that was fast. Unfortunately the function still doesn't work in azure (i deployed the output of dotnet publish to via the kudu console). I still get the abstractions exception there.

Also. Thank you for the assurances re: keeping the old runtime around and future upgrades.  That helps with the level of concern going forward.

I also appreciate t

[2018-03-30 01:58] doggy8088 commented on #2249
@christopheranderson @safihamid Does this problem been solved in any alpha/beta release of the Azure Function Runtime?

[2018-03-30 03:05] asavaritayal opened #2607 "API to provide a list of supported languages for Functions on Linux"
Currently, the list of supported runtimes on Linux are:

- Dotnet (C#, F#)
- JavaScript
- Python

We need an API to provide this list to the clients along with the metadata about corresponding docker images.

[2018-03-30 03:05] asavaritayal commented on #2607
\cc @ahmelsayed @davidebbo

[2018-03-30 04:07] svickers opened #2608 "1.0.12 - Function can not be invoked from Azure WebJobs SDK"
We upgraded our functions project to 1.0.12 this afternoon and can't use any of the http trigger endpoints anymore.  When making a request, this exception is thrown:

[code]

I tried a fresh project with only the sample http trigger function and no added dependencies.  I believe the SDK version was 1.0.9.  Everything worked fine.  After upgrading the package to 1.0.12 and changing the TraceWriter

[2018-03-30 11:26] kamil-mrzyglod opened #2609 "Durable Functions not working in a clean project locally"
Hi,

Since I found some issues in Durable Functions recently I decided to update all I have and start with a clean project to make sure I'm not doing anything wrong.

This is my current configuration:
* Visual Studio 15.6.4
* Azure Functions and WebJobs tools 15.0.40322.0
* Microsoft.NET.Sdk.Functions 1.0.12
* Microsoft.Azure.WebJobs.Extensions.DurableTask 1.2.1-beta3

This is the very basic appli

[2018-03-30 11:56] zawor commented on #1206
ok so 1st, the image, simplified and only parts you mentioned:

![for_load_lest_issue_overview](https://user-images.githubusercontent.com/2988966/38132844-0d96932a-340d-11e8-99b9-5295853bf5ac.png)

and now story behind, initial version of my plan looks like this:
We are preparing for multi region deployment. Entire traffic is steered by Traffic Manager with Geo-mapping to proper regions. HTTP traf

[2018-03-30 13:43] zawor commented on #1206
ok so 1st, the image, simplified and only parts you mentioned:

![for_load_lest_issue_overview](https://user-images.githubusercontent.com/2988966/38132844-0d96932a-340d-11e8-99b9-5295853bf5ac.png)

and now story behind, initial version of my plan looks like this:
We are preparing for multi region deployment. Entire traffic is steered by Traffic Manager with Geo-mapping to proper regions. HTTP traf

[2018-03-30 14:56] nzthiago commented on #2554
FYI - just retested with latest core tools that came out yesterday (with 2.0.11651-alpha runtime), Microsoft.NET.Sdk.Functions 1.0.11, and Microsoft.Azure.WebJobs.Extensions.CosmosDB 3.0.0-beta7, just to double check, but still the same: using route works, but not query/body.

[2018-03-30 15:38] safihamid commented on #2249
Unfortunately not yet.

[2018-03-30 15:46] pragnagopa commented on #2296
@mhoeger - thank you for listing out options, pros and cons for each!

Slight clarification on the runtime: The plan is to move out [Grpc](https://github.com/Azure/azure-functions-host/tree/dev/src/WebJobs.Script.Grpc) project to it's own repo and generate nuget which will be referenced from the runtime.

Another option would be to distribute using package managers for each language using Nuget, m

[2018-03-30 16:13] svickers commented on #2609
Same error as #2608, something up with the 1.0.12 release.

[2018-03-30 16:26] davidebbo opened #2610 "Add support for enforcing a single language"
For v2, we will move to a model where the user chooses the language on creation, and can only use that language.

This will be driven by a new app setting called FUNCTIONS_LANGUAGE.

If specified, the runtime needs to start enforcing that no Functions try to use a different language.

[2018-03-30 16:48] pragnagopa commented on #2610
Closing as this is a Dup of #2541

[2018-03-30 16:48] #2610 closed

[2018-03-30 16:48] davidebbo commented on #2448
@mayoatbm is that still in the same app as I was looking at yesterday, or a different one? I do not see any updates on that one.

[2018-03-30 16:51] davidebbo commented on #2541
The App Setting we'll use to drive this is called `FUNCTIONS_LANGUAGE`. When it's missing, we'll continue to allow multiple languages to avoid a short term breaking change (but we should tighten this later).

[2018-03-30 16:55] mayoatbm commented on #2448
It's the other one in that same resource group. Remember I couldn't get you the function details because the host isn't running.

On Fri, Mar 30, 2018 at 9:49 AM -0700, "David Ebbo" <notifications@github.com<mailto:notifications@github.com>> wrote:

@mayoatbm<https://github.com/mayoatbm> is that still in the same app as I was looking at yesterday, or a different one? I do not see any updates on th

[2018-03-30 17:02] davidebbo commented on #2448
@mayoatbm got it. I just took a look, but I'm seeing yet a different exception on that one:

[code]

[2018-03-30 17:06] ahmelsayed commented on #1824
This is done

[2018-03-30 17:06] #1824 closed

[2018-03-30 17:07] asavaritayal opened #2611 "Provide an invoke API that returns details about the invocation like logs"
\cc @ahmelsayed @pragnagopa

The same fix should apply to bring-your-own-files in consumption as well.

[2018-03-30 17:49] mayoatbm commented on #2448
@davidebbo<https://github.com/davidebbo>

That's my fault. The app insights key was missing (I didn't copy over the app setting when I deployed via kudu). I just put it in there and thing seem to be working, which is great.  I must have misread the timestamp on the error below (from our app insights) after I deployed it. Apologies for the subsequent confusion.

So, is this where we stand? Using th

[2018-03-30 17:55] mayerc-MSFT opened #2612 "Function invocation fails with HTTP 500 and no log."
Function invocation fails with HTTP 500 and no log.

#### Investigative information

Please provide the following:

2018-03-30T17:03:48.417 [Information] Host Status: {
  "state": "Running",
  "version": "2.0.11651.0",
  "versionDetails": "2.0.11651.0-beta1 Commit hash: 626c20039fb17e1d5c79145d7b7c3579cf62a92a"
}
2018-03-30T17:03:50.196 [Information] Executing 'GetGraphVersion' (Reason='This funct

[2018-03-30 17:57] Mike-EEE commented on #2605
I am really surprised no one else is encountering this problem?  After performing some spelunking, I found a workaround at moment:

1. Right-click project folder -> Open Folder in File Explorer.
1. `bin\Debug\netstandard2.0\bin`
1. Copy `Microsoft.AspNetCore.Mvc.Abstractions.dll`
1. Navigate to `C:\Users\<user>\AppData\Local\Azure.Functions.V2.Cli\2.0.1-beta.22`
1. Rename the existing `Microsoft.A

[2018-03-30 18:31] davidebbo commented on #2448
@mayoatbm yes, that's exactly where things stand. The VS extension update is hopefully the last step. @soninaren should be able to provide update on the progress.

[2018-03-30 19:18] suwatch commented on #1206
Thanks for the details explanation!

Correct, Each FunctionApp will scale independently.

Right github may not be appropriate to going into details very specific to your works.   Feel free to send email to me to continue our conversation (suwatch @ microsoft.com).

[2018-03-30 19:26] mayoatbm commented on #2448
@davidebbo<https://github.com/davidebbo>

Great. We will keep an eye out for it. Thanks again for all your help, we're in a much better than we were yesterday.

________________________________
From: David Ebbo <notifications@github.com>
Sent: Friday, March 30, 2018 11:31:46 AM
To: Azure/azure-functions-host
Cc: Atte, Mayowa; Mention
Subject: Re: [Azure/azure-functions-host] Functions no longer ru

[2018-03-30 20:00] mathewc commented on #2497
Fix is in and will go out in the next release.

[2018-03-30 21:34] paulbatum commented on #2296
What are the advantages of this approach vs having the build process download the proto file (at a given commit, or by downloading a given github release and extracting it from the zip)?

[2018-03-30 22:14] paulbatum commented on #2497
@mathewc Reopening as I only see a merge for V1 right now, is there a separate issue tracking this change for V2? I couldn't find it. If so feel free to reclose this.

[2018-03-30 22:16] mathewc commented on #2497
I will be merging to dev in the next day or so, as per my normal workflow.

[2018-03-30 22:17] paulbatum commented on #2497
thats fine, I just dont want to have issues closed until the change is in both branches (or tracked by two separate issues)

[2018-03-30 22:25] davidebbo commented on #2497
And more and more, we should consider just doing v2 if non-critical.

[2018-03-30 23:14] sergsalo commented on #2497
we are running v1 Azure Functions, which experience these issues.

[2018-03-31 02:01] PureKrome commented on #1206
@suwatch If this convo is taken offline (which is totally fine) could we (the public) please get some info to any solutions/resolution/bugs/not-fixing etc .. to the issue. It's _very_ interesting and I've been following it, intently.

[2018-03-31 03:11] suwatch commented on #1206
Will sure do.

[2018-03-31 03:51] steve-warren commented on #1206
I'd like to know the outcome of this as well.

[2018-04-01 20:59] ossentoo commented on #2612
hi,

I'm having a very similar problem.  I am using Azure Functions 2.0 core runtime.  I get a 500 error when I invoke the function using Postman.

I've checked on kudu in the logs directory for the function, but can't see any meaningful error.

The weird thing is that I can run the function locally without any problem

I did have some problems locally after I mistakenly of upgraded nuget packages

[2018-04-02 00:20] mhoeger commented on #2296
I think the main advantage is that the download step for the .proto template file is language independent. It’s a guaranteed and quick way to get the file in any repo and plug into the existing build pipeline that converts the .proto file into its respective language. The steps involved for setup are running the git commands and running subsequent update commands.

Another difference is that chang

[2018-04-02 11:43] benc-uk commented on #2055
Hi I see a PR is in progress to get this fixed, but do we have a timeline? For <complex reasons removed>  I need this capability for a demo I'm giving in 2 weeks. Will proxies be available in v2 before GA?

[2018-04-02 15:49] safihamid commented on #2055
This PR is checked in and will be released with our next release of Functions Beta runtime. There is usually a Functions runtime release every couple of weeks.

[2018-04-02 16:44] pragnagopa commented on #2296
Git subtree does make sense as we have decided not to generate and distribute grpc client code for each platform.

[2018-04-02 17:01] pragnagopa commented on #2611
For Linux App, Logs on portal do not work as there is no Kudu endpoint. Need to investigate if [App Insights live stream ](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-live-stream) is a work around

[2018-04-02 17:04] pragnagopa commented on #2607
@asavaritayal - Can you add more details? Is this required for the CLI? Portal?

[2018-04-02 17:40] paulbatum commented on #2296
Will a user be able to pull and build this repo without any additional steps?

[2018-04-02 17:42] pragnagopa commented on #2608
We have identified the bug. Issue is being tracked [here](https://github.com/Azure/azure-functions-core-tools/issues/420)
For now, as a workaround, please use Microsoft.Net.SDK.Functions  1.0.11

[2018-04-02 17:43] pragnagopa commented on #2609
Closing this as Dup. Tracking [issue](https://github.com/Azure/azure-functions-core-tools/issues/420)

[2018-04-02 17:43] #2609 closed

[2018-04-02 17:45] paulbatum opened #2614 "Warn user if two apps are sharing the same file system and have file based secrets"
If a user has configured multiple function apps to point to the same file share and they are using file based secrets, there will be a conflict as the each app fails to decrypt secrets written by the other app. Ideally we would throw an error that was clear that this usage pattern is not supported.

Could we somehow keep track of the app name at the time we encrypt the secrets, and store in a non-

[2018-04-02 18:04] pragnagopa commented on #2296
Yes. [azure-functions-language-worker-protobuf](https://github.com/Azure/azure-functions-language-worker-protobuf) repo would only be used to host the .proto file. This will keep it clean and any language worker will be able to get the proto file and run necessary tools to generate grpc client libraries

[2018-04-02 18:28] pragnagopa commented on #2605
Root cause: Visual Studio has not been updated to use the latest [CLI tools](https://www.npmjs.com/package/azure-functions-core-tools).
Work around until VS tools get updated:

- npm install -g azure-functions-core-tools

- cd to Fucntion App folder with .csproj
- start azure functions host manually --> func host start

[2018-04-02 18:31] pragnagopa commented on #2605
This issue was moved to Azure/Azure-Functions#745

[2018-04-02 18:31] #2605 closed

[2018-04-02 18:51] mhoeger commented on #2296
^what Pragna said :) (note: if using git submodules, there would be extra commands). Git subtrees is essentially a way to copy & paste a repo into another repo as a subdirectory and manage its updates using git commands. Pros? easy to setup and update in any repo. One solution for all languages.
Cons? doesn't enforce read-only behavior of copied content. Local modifications within the language wor

[2018-04-02 20:55] arunp-motorq commented on #2578
Am seeing this error during local development

[2018-04-02 21:03] mhoeger commented on #2578
@arunp-motorq can you please give more details? Are you using async and await? Are you using the node-fetch npm package or any other library? Have you already followed the suggestions on this thread (confirming what your local node version is - ideally it is v8.9.4).

There is definitely work we need to do to make this and other node.js error messages actionable (tracked here: https://github.com/A

[2018-04-02 21:15] arunp-motorq commented on #2578
@mumughal Yes, I was referring to to same async await problem. I followed all steps mentioned here. Finally creating a new function solved the problem.
Thanks for the quick reply

[2018-04-02 21:48] ahmelsayed commented on #2541
we also need to agree on what the values will be. `c#` vs `csharp`?  I'm working on the cli now and thinking of making it accept `c#, csharp, js, javascript, py, python` and normalize them to one of `csharp, javascript, python` to go into `FUNCTIONS_LANGUAGE`

[2018-04-03 01:20] kczelusniak opened #2616 "Massive discrepancy between Function and Host.Aggregator log count"
My team has noticed a huge discrepancy between custom logs from my Function and the built-in logs from Host.Aggregator. Host.Aggregator seems much more accurate and has an accurate count of the number of times my function has executed, whereas my Function logs seem to get throttled and get lost somewhere along the way.

![Function logs](https://i.imgur.com/cfpNUTx.png)

![Host.Aggregator logs](htt

[2018-04-03 09:07] GvozdevDA commented on #2598
I'm using functions v2.x runtime .Net Core
When trying to use input CosmosDb binding I receive this exception:
`System.MissingMethodException: 'Method not found: 'Void Microsoft.Azure.WebJobs.Host.Config.FluentBindingRule`1.AddValidator(System.Action`2<!0,System.Type>)'.'`
After publishing to the cloud I got the dead function, that is impossible to run.

[2018-04-03 09:15] johnib opened #2617 "Application Insights -- add custom dimensions to 'requests' telemetry items generated by the host"
Hi,

I'm really missing the ability to decorate each request with custom dimensions.
I'm using the native functions integration with AppInsights, and I use `ILogger` -- I wouldn't want to install the AppInsights nuget and do all the initializations myself.

Optimal solution for me is to have a Dictionary as an optional input in the Function's signature.

Is this by any chance possible today?
If no

[2018-04-03 09:47] unwitting commented on #1663
Awesome, thanks for the docs update. I didn't realise the azure-docs are OS, that's great.

[2018-04-03 11:11] MrGlenThomas opened #2618 "Function host shuts down during deployment and does not restart"
I deployed a new version of my function app (with timer triggered function) to Azure and the function host shut down and did not restart.

The deployment was performed by uploading a zip file via Kudu REST API to https://<myfunctionapp>.azurewebsites.net/api/zip/site/wwwroot

Before the deployment I am updating the application settings using an ARM template deployment that only specifies applicati

[2018-04-03 12:51] brettsam commented on #2598
@GvozdevDA -- are you using the latest nuget packages when you build locally? See here for more information, including which nugets you should be referencing now: https://github.com/Azure/app-service-announcements/issues/94#issuecomment-376647094.

[2018-04-03 12:57] GvozdevDA commented on #2598
@brettsam I reference `Microsoft.NET.Sdk.Functions 1.0.13` and don't have a reference on `Microsoft.Azure.WebJobs.Extensions.DurableTask` since I don't use durable functions. I'll try to add this reference but don't think it is an issue here.

[2018-04-03 12:59] brettsam commented on #2598
What about `Microsoft.Azure.WebJobs.Extensions.CosmosDB`?

[2018-04-03 13:00] brettsam commented on #2598
... sent that too soon.
You'll likely need to do the steps under "To fix a function app written locally using azure-functions-core-tools (including VS Code)"

[2018-04-03 13:01] GvozdevDA commented on #2598
@brettsam I have exactly the same version of 'Microsoft.Azure.WebJobs.Extensions.CosmosDB' as recommended.

[2018-04-03 13:01] GvozdevDA commented on #2598
@brettsam Oh, thanks, I'll try and give you the feedback.

[2018-04-03 14:03] MrGlenThomas commented on #2618
This _**MAY**_ have been related to the "Always On" setting being Off. It did still happen once with the setting On, I am still testing...
The function host knows that I have timer triggered function, it has scheduled triggers, it would be great if I didn't have to configure the function app to not die...

[2018-04-03 14:40] Saphirim commented on #2598
Experiencing exactly the same problems as written above.

Installing the Azure Functions CLI and issuing the mentioned command leads to the following output:
[code]

The operation adds an extensions.csproj file to the solution.

After this operation, the Visual Studio 2017 build fails:

[code]

Publishing via the integrated tools becomes impossible...

Any suggestions from here?

[2018-04-03 15:36] GvozdevDA commented on #2598
@brettsam tried all possible manipulations with NuGet packages, still having an exception in `JobHostConfigurationExtensions.cs` at `private static void InvokeExtensionConfigProviders(ExtensionConfigContext context)`
Here is my StackTrace:
[code]

[2018-04-03 15:47] brettsam commented on #2598
@GvozdevDA --
Is this error coming when you hit F5? Or when you deploy?
Are you using VS?

[2018-04-03 15:50] brettsam commented on #2598
@Saphirim -- Do you see those attributes (`AssemblyCompanyAttribute`, etc) in multiple places? Are they declared in the `AssemblyInfo.cs` file as well as the project's csproj file? You may be hitting some variation of this: https://github.com/dotnet/cli/issues/4710

[2018-04-03 15:54] GvozdevDA commented on #2598
@brettsam
I am using Visual Studio 2017 last update.
This error comes after running app locally (pressing F5).
When I publish this Function app and hit "Run" at the Azure portal, I got a grayed screen with red "Cancel" button for a second and logs with messages like:
[code]

[2018-04-03 16:08] GvozdevDA commented on #2598
@brettsam
No, my AssemblyInfo.cs is fine and projects .csproj file is clean
[code]

Could it be connected with the way I use CosmosDb attribute?
[code]

[2018-04-03 16:13] brettsam commented on #2598
The AssemblyInfo questions were for @Saphirim. Sorry, trying to help two people with different problems in the same thread :-)

@GvozdevDA, your problem is likely due to our VS tools. We're working on an update right now and hope to have released ASAP. I'll update here when the release is live.

[2018-04-03 16:16] GvozdevDA commented on #2598
@brettsam Thanks a lot, I'll wait for further updates.

[2018-04-03 17:44] paulbatum commented on #2616
I believe you're getting this behavior because sampling is on by default. See here for some info:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#configure-sampling

I would try disabling sampling and then see how closely the counts match.

[2018-04-03 18:04] btardif opened #2619 "Ability to abort and stop new function instance to start"
_From @suwatch on March 30, 2016 17:23_

Not sure if it belongs in this git repo.

My scenario is I originally wrote a timer trigger function with a buggy C# script that ran for hours.  Once it started, I realized the issue.   I fixed the bug and save the C# script.  However the new compiled codes would not take effect until the currently running (buggy) one stopped.   I could go to portal and res

[2018-04-03 18:04] btardif commented on #2619
_From @davidebbo on March 30, 2016 17:29_

There is both some backend and portal work to achieve this. It's a fairly hard problem since the function could be running on multiple instances (multiple times on each).

[2018-04-03 18:04] btardif commented on #2619
_From @suwatch on March 30, 2016 23:1_

could this be addressed the same way as [Kudu WebJob](https://github.com/projectkudu/kudu/blob/54a200dbbb67939bf53b4604915331d8690b16cb/Kudu.Core/Jobs/BaseJobRunner.cs#L336) (using file to communicate such)?

[2018-04-03 18:04] btardif commented on #2619
_From @davidebbo on March 30, 2016 23:3_

Instead of file, it would probably be storage based. There may already be something like this in SDK. @mathewc ?

[2018-04-03 18:04] btardif commented on #2619
_From @mathewc on March 31, 2016 0:23_

Yes, if you look at the WebJobs Dashboard (classic Dashboard, not FastLogging Dashboard) you can see running functions and abort them with the click of a button. This is storage based - all hosts are monitoring a queue and the Dashboard writes an abort message to the queue.

We can do the same thing in Functions, since it's build on the core SDK. The Functio

[2018-04-03 18:04] btardif commented on #2619
_From @davidebbo on March 31, 2016 0:42_

Good, so technically, if user goes to dashboard they can already do this. Suwat, something to try if you have cycles.

[2018-04-03 18:04] btardif commented on #2619
_From @paulbatum on April 5, 2016 22:8_

So assuming you can do this via the webjobs dashboard, we do have a discoverability issue.

[2018-04-03 18:04] btardif commented on #2619
@suwatch there is a per function disable toggle in UX, my expectation is that this would stop any running instance of a function after a reasonable timeout.

This might not be a UX issue if you agree with the above sentence, Can you confirm this is not what is happening?

[2018-04-03 18:04] btardif commented on #2619
@jeffhollan  this should be moved to runtime

[2018-04-03 20:16] pragnagopa commented on #2321
Submitted PR with a fix for this.

[2018-04-03 20:54] paulbatum commented on #2619
We've actually addressed this already in functions V2. Disabling is done via an app setting, and changing this setting causes the application to restart, which will halt function execution (including any running timer functions). So the net effect is that disabling the function through the UX stops the current execution.

Since its resolved in V2 and we don't plan on any improvements to this scena

[2018-04-03 20:54] #2619 closed

[2018-04-03 21:02] brandonh-msft opened #2620 "Errors during binding initialization result in cryptic error messages"
Consider for a moment a Binding which relies on external information, for instance an Application Settings, to be defined when its spun up by the Functions host.

In cases like this, if the user hasn't properly set up the App Settings keys for that binding and issues a request that triggers the Function, the host runtime can error out with very non-descript messages.

#### Function App version
1.0

[2018-04-03 21:07] tmasternak commented on #1206
I'm using `WEBSITE_HTTPSCALEV2_ENABLED` option in my CPU intensive function (v1 deployed in West Central US). When executed for the first time it takes between 4 and 20 sec to respond. After that with low load (smaller than 1 req per 2 sec) I get consistent 2 sec responses. When I'm running load tests from VSTS (20 users) I'm getting average times time of response in range of 11-15 sec.

My object

[2018-04-03 21:11] suwatch commented on #1206
@tmasternak  mind opening another gissue to discuss specifically about this cpu-bound function?

[2018-04-03 21:26] tsmccartan commented on #2448
@davidebbo  I had a successfully running Durable Function as well as other functions running in Azure that was processing data.  but these are now all failing in Azure with the following error:  (I Get this error whenever I click on the function in the Azure Portal.  When I run the function from Postman I get "Function host is not running")

**Error:**
The function runtime is unable to start. Micr

[2018-04-03 21:35] tmasternak opened #2621 "Http-triggered CPU-bound functions suffer from high response times under scale out"
I'm using `WEBSITE_HTTPSCALEV2_ENABLED` option in my CPU intensive function (v1 deployed in West Central US). When executed for the first time it takes between 4 and 20 sec to respond. After that with low load (smaller than 1 req per 2 sec) I get consistent 2 sec responses. When I'm running load tests from VSTS (20 users) I'm getting average times time of response in range of 11-15 sec.

My object

[2018-04-03 22:05] paulbatum commented on #2618
I looked at the logs for the timeframe you originally reported. In our logs, the last entry I see before the gap is:
[code]

This looks like a bug on our side. However, the system should have recovered and your function should still have run **assuming that Always On was enabled**. It looks like during the window you reported, it was not enabled and that is a likely explanation for why your functi

[2018-04-03 22:13] davidebbo commented on #2448
@tsmccartan please see https://github.com/Azure/app-service-announcements/issues/94.

[2018-04-03 22:29] MrGlenThomas commented on #2618
When I said it's still happening I was referring to seeing the log message "Environment shutdown has been triggered. Stopping host and signaling shutdown." I'm not sure if it would have triggered the function as I was using an hour interval and the next scheduled trigger was a while off. I will do some more testing and see if it triggers with "Always On" and the shutdown message being logged.

Is

[2018-04-03 22:40] paulbatum commented on #1690
Reopening as we saw a recent occurrence of this in the logs for `1.0.11612.0`:

[code]

For context see:
https://github.com/Azure/azure-functions-host/issues/2618

[2018-04-03 22:46] paulbatum commented on #2618
That message appearing is fine. What should happen shortly after is a restart.

Here are our recommended deployment options:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment
https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push

I want to call out that recommended REST API `https://<app_name>.scm.azurewebsites.net/api/zipdeploy` discussed

[2018-04-03 22:46] #2618 closed

[2018-04-03 23:16] mhoeger commented on #2256
Closing as it appears to be fixed.
@celicoo - please reopen if it is not fixed for you!

[2018-04-03 23:16] #2256 closed

[2018-04-04 00:06] mhoeger commented on #2244
@pragnagopa - is this fixed by #2603?

[2018-04-04 00:52] mhoeger commented on #2571
It looks like doing the lowerCamelCase conversion was switched over to be [handled by the language worker](https://github.com/Azure/azure-functions-nodejs-worker/blob/bf84af77038476c76f769b6dcd863a6f1de026b8/src/Context.ts#L109-L123).

There is a bug where we aren't doing the formatting recursively (https://github.com/Azure/azure-functions-nodejs-worker/issues/39), which is why "systemProperties"

[2018-04-04 00:54] #2571 closed

[2018-04-04 03:52] jeffhollan opened #2623 "API to return functions and their status"
Because there are multiple ways to set and update the disabled/enabled status for an Azure Function, it has become difficult for the UX to correctly match the status.  Rather than have the portal reverse-engineer all the current and future ways, it would make more sense for the function host to have an API to return the function status' for the loaded functions (enabled / disabled) that the UX cou

[2018-04-04 07:07] suwatch commented on #2621
Mind sharing the function app name (few leading and ending characters should do) and the durationa and time of the test in UTC.

One thing we have yet to improve is the burst of users for CPU-bound functions.   One thing if you could experiment, say change the user load to step up from 1 to 20 users with the rate of 1 additional user/sec for the first 20s then 20 users constant for 1 min, will the

[2018-04-04 09:26] tiagonmas opened #2624 "The object invoked has disconnected from its clients (func.exe)"
After updating the tools I started receiving the error below after I leave Visual Studio idle for a while. I then restart Visual Studio and I'm able to debug my function again.
![azurefunctionserror](https://user-images.githubusercontent.com/42462/38299501-2ad44aac-37f2-11e8-9de1-656895192bd8.PNG)
#### Investigative information
azure-functions-core-tools@1.0.10

#### Repro steps

Leave Visual Stud

[2018-04-04 10:14] Saphirim commented on #2598
@brettsam

Got the duplicate attribuites thing fixed thanks to your link.
Now back at the old problem, output of the function host console:

[code]

[2018-04-04 10:33] johnib commented on #1054
This is a must have. Wondering what's the status of this

[2018-04-04 10:37] tmasternak commented on #2621
@suwatch I've sent the detail to your mail.

I've re-run the test  with the configuration you mentioned and the results are better. Avg time: 3.2 sec, 10% of failures with Http 502. The failure rate went up during first 45 sec. After that it went down and dropped to ~0 after next 45 sec.

[2018-04-04 10:52] tmasternak commented on #2621
After doing some changes to `host.json` it looks that by limit concurrency and queue length in the host I can get more predictable response times at the price of 502 Http errors.

Configuration
[code]

[2018-04-04 13:42] agnnn opened #2625 "Azure Functions Node.Js app fails when using web3.js"
#### Investigative information

Please provide the following:

- Timestamp: 04-04-2018
- Function App version (1.0 or 2.0-beta): 2.0-beta
- Websockets: ON
- Hosting Plan: App Service Plan
- Function App name:(not shared)
- Function name(s) (as appropriate): HTTPTRIGGER
- Invocation ID: 25fbc2c8-ecde-4ede-92bf-bd92393de69d
- Region: Central US

#### Repro steps

Provide the steps required to reprod

[2018-04-04 13:59] espray opened #2626 "AzFunc Docker fails to start"
I used this repro as a base
https://github.com/cmendible/dotnetcore.samples/tree/master/azure.function.docker
Then changed to 2.0.0-jessie

C:\GitRoot\dotnetcore.samples\azure.function.docker>docker build -t myfunc .
Sending build context to Docker daemon  1.383MB
Step 1/3 : FROM microsoft/azure-functions-runtime:2.0.0-jessie
 ---> 217799efa500
Step 2/3 : ENV AzureWebJobsScriptRoot=/home/site/wwwr

[2018-04-04 14:38] tsmccartan commented on #2448
@davidebbo Thanks, this solved my issues and my functions are back operational, processing data!  Do you know if this addresses the issues with creating Custom Telemetry in Applications Insights?

From this Post: [https://github.com/Azure/azure-functions-host/issues/2473#issuecomment-376984633](url)

[2018-04-04 16:05] dipinbehl commented on #2473
I had the same issue with 2.5.1 package of Application Insights. Had to fall back to version 2.2.0 to get it running

[2018-04-04 17:17] alexkarcher-msft commented on #1443
This is partially implemented, with proxies providing route and method info to the OpenAPI generator.

[2018-04-04 18:16] brettsam commented on #2620
@brandonh-msft -- does this issue repro on Functions v2 as well?

[2018-04-04 18:27] brettsam commented on #2625
Note that this is not supported in v1.
See this issue for when it was working in v2 (at some point): https://github.com/Azure/azure-functions-host/issues/2166

[2018-04-04 18:28] 0xacf commented on #838
It seems the amount of time necessary to wait for a response to an HTTP function invocation is often a lot longer than what shows up in the Azure portal logs. Cold start times seem to be under 2 seconds in the logs, but some HTTP requests take > 12 seconds to receive a response.

[2018-04-04 18:32] brettsam commented on #2626
We don't own the 'cmendible' repo.
You can find the official images here: https://hub.docker.com/r/microsoft/azure-functions-runtime/.
Our docker github repo can be found here: https://github.com/Azure/azure-functions-docker

Can you try that and see if it works for you?

[2018-04-04 18:41] davidebbo commented on #838
@0xacf you are correct that the time shows in the logs does not include the cold start of the Function runtime.

Also, note that the cold start optimization mentioned above (which uses warm 'placeholder' sites) is currently only for v1, so your v2 Preview app does not benefit from it. We will bring this optimization to v2 as it gets closer to become GA (sorry, no clear ETA yet).

[2018-04-04 18:41] #1961 closed

[2018-04-04 18:46] alexkarcher-msft commented on #1949
This will be resolved along with this issue: https://github.com/Azure/azure-functions-host/issues/2249

[2018-04-04 18:55] brandonh-msft commented on #2620
I get something much prettier in v2. 👍

![image](https://user-images.githubusercontent.com/20270743/38328192-156bdcfe-37ff-11e8-90f1-bf3729dc97cc.png)

[2018-04-04 18:56] ricklove commented on #838
@davidebbo Just to confirm:

By "warm placeholder sites... only for v1", are you saying that using a 5 minute trigger to keep a function server warm will not work with v2 yet?

[2018-04-04 19:10] 0xacf commented on #838
Ah, interesting. Even the logs show up to a 1.7 second execution time for the first invocation of a function after a long period of time. Subsequent executions take ~30ms. This function accesses Azure table storage, but creates a new storage client on each invocation. A function which does nothing except return a string literal exhibits similar behaviour, but only seems to get up to about 300ms in

[2018-04-04 19:26] davidebbo commented on #838
@0xacf There have been talks of potential hybrid mode between App Service plan and Consumption. You'd have some dedicated VMs, but if it needs to scale beyond that for some requests bursts, it would move into Consumption mode. But this is just an idea at this point.

And yes, with the timer, you only warm up one instance.

[2018-04-04 19:30] ricklove commented on #838
@davidebbo Sorry, I'm not familiar with the placeholder you mentioned and I didn't find it in the comments above.

What is a "placeholder"? How do you achieve that and what effect will it have for v2 once ready?

[2018-04-04 19:35] davidebbo commented on #838
@ricklove placeholders is an internal optimization that works as follows:

- Instances of the Function Runtime are kept warm, in an unassigned state (i.e. not attached to a specific user app).
- When a user app needs to cold start, instead of doing a full cold start, we take a placeholder instance and 'specialize' it to the user app, which is quite a bit faster.

You don't need to do anything spec

[2018-04-04 19:50] paulbatum commented on #2620
Great. Since this is an experience issue on an error path and is already resolved in V2, I'm going close this issue as we don't intend to fix in functions V1.

[2018-04-04 19:50] #2620 closed

[2018-04-04 20:06] cleverguy25 commented on #2414
Paul, this is not a binding redirect problem, and linking it to that is a mistake.  This is a code nuget dependency problem causes by your own SDK.  Many Microsoft project fall prey to this with Newtonsoft.Json, many make this same silly decision, and in the end they eventually fix it to open the dependency to all versions (only after pissing off the community for a long time).

I love MSFT tech,

[2018-04-04 20:07] #2205 closed

[2018-04-04 20:14] #2547 closed

[2018-04-04 20:15] paulbatum commented on #2440
@fabiocav hi ;)

[2018-04-04 20:25] ethanroday opened #2627 "Overloading function app puts app in bad state"
After evidently overloading a function app with ~100 requests from the same client in 5 seconds during a simulated load test, the app started returning 502 errors. Restarting did not help, and memory usage was abnormaly high. 12 hours later, the app is still not functional. All requests result in 500 errors, which appear to be caused by timeouts. The timeouts occur because a significant amount of

[2018-04-04 20:37] giemch commented on #2344
We're getting this today for one of our function apps. Unfortunately there doesn't appear to be anything in the logs, so I'm unable to do the share your private function tip. Luckily this function isn't in production yet, but if this happens in production are we pretty much SOL? I tried restarting, but didn't help. Seems like another instance of the function app should be spun up on a new vm autom

[2018-04-04 21:51] paulbatum commented on #2414
@cleverguy25 The title of #992 is perhaps misleading. The content of the issue is an extensive discussion with the theme of "let me use version X of dependency Y". Hopefully my linking to it makes sense in this context.

If your problem is truly only about the Newtonsoft.Json constraint that the `Microsoft.NET.Sdk.Functions` package has, then you can unblock yourself by adding an explicit referenc

[2018-04-04 22:26] soninaren opened #2628 "Automate fallback folder generation for extension install process"

[2018-04-04 23:49] 0xacf commented on #838
For what it's worth, my personal preference would be purchasing capacity at the sandbox rather than the VM level. I would happily pay the $0.000016/GB-s rate or some multiple of it continuously to eliminate this cold start time, and have additional sandbox instances created in advance of when their capacity is required. I think this latency by itself prevents Functions from being useful for a larg

[2018-04-05 00:27] AMSoftwareNL opened #2629 "Orchestration Replay calls activities twice"
#### Investigative information

Please provide the following:

- Timestamp: 2018-04-05 02:25:00 (CET)
- Function App version (1.0 or 2.0-beta): 1.0
- Function App name: amsdurablefunctiontest
- Function name(s) (as appropriate): FunctionStarter, OrchestrationStart, DoFanOut, ForceReplay
- Invocation ID:
- Region: west europe

#### Repro steps

Provide the steps required to reproduce the problem:

[2018-04-05 00:58] DL-LiveTiles commented on #838
I agree with @0xacf, We want a simple server less solution that allow us flexibility and low start-up times without having to even worry about how it work at the cost implications of different tiers. Adding a always on setting per function will be the perfect solution for us.

[2018-04-05 01:11] davidebbo commented on #838
Thanks for the feedback. We'll have to see what we can achieve. Definitely, scenario where 2 seconds is not good enough are tough right now. For context, see how this issue started, and it was 30 seconds at the time. So some progress was made :)

[2018-04-05 01:45] julielerman commented on #2598
Arrived here by way of searching the same error (Microsoft.Azure.WebJobs.Extensions.CosmosDB: Method not found: 'Microsoft.Azure.WebJobs.Host.TraceWriter Microsoft.Azure.WebJobs.Host.Config.ExtensionConfigContext.get_Trace()') . Darn :(

[2018-04-05 02:50] suwatch commented on #2621
Looking at the log, the time of the recent test was 2018-04-04 10:31 UTC and duration was 10 mins which was 16-17 hrs ago matching your post.  Are you sure it was 2.04.2018 18:56:11 UTC as you described in email?

[2018-04-05 03:40] suwatch commented on #2621
As for the reason for 502, it seemed like the function crashed the process during start up.  I would suggest to review (or isolate) if any code path of the function may cause any expected exception leading to crashes.

[2018-04-05 08:10] tmasternak commented on #2621
@suwatch the time of the test that I've provided is the test that shows the behavior described in the issue. I've been doing more tests after that.

Regarding 502 error. I've not seen any indication of that in AppInsights. Can you point me we can I find more information on the exception?

[2018-04-05 13:26] martinpeck opened #2631 "Creating a Function App on Linux, using the Portal, Results in a non-functional App Service"
# Creating a Function App on Linux, using the Portal, Results in a non-functional App Service

It is possible to create a Function App on Linux via the Azure CLI and by using the Portal.

However...

1.	If I create a Function App on Linux via the CLI I end up with a working app
2.	If I create a Function App on Linux via the Portal I end up with a non-functional app

Either there are some steps tha

[2018-04-05 15:26] felpel opened #2632 "[Question] C# - Execute code on application startup"
We're trying to find an equivalent mechanism to execute code when the function app is started. We already have our own `IExtensionConfigProvider` in which we setup the services to be injected inside our functions with our custom `InjectAttribute`, but I don't think it is the right place to execute anything else (example: create Azure Table Storages if they don't exist for custom entity repositorie

[2018-04-05 15:35] brettsam commented on #1690
@paulbatum -- from what I see in your example, it seems like we've got lifecycle issues that are more obvious during deployments (more reason for the DI changes that @fabiocav is prepping for v2):

1. We see an assembly changed so we initiate a host restart.
2. We immediately get an Environment shutdown request -- I'm assuming this is coming from Kudu? Or something outside of our control. We're be

[2018-04-05 15:38] brettsam commented on #1690
@simonness (sorry for not seeing your comment previously) -- your scenario is very similar but I see something odd that requires some more investigation. Your site is logging "Environment shutdown requested" during a restart as well -- except I see in one case the process didn't recycle for almost an hour, when the next environment shutdown was requested. I'm going to see if there's some bug that

[2018-04-05 15:52] simonness commented on #1690
@brettsam thanks for taking a look!  I've noticed this error trace only occurs intermittently around deployments, so that sounds like the problem I'm having.

One of the App's Functions is effectively a "version" method, a http trigger function, that returns the assembly version of the underlying DLLs.  I've recently noticed that after a deployment, an unexpected previous version was being returne

[2018-04-05 16:04] brettsam commented on #1690
@simonness -- yes, that would be the effect. We notice there's a new assembly, then force the process to recycle so we can load it. If that recycle never happens, we'll never see your new assembly. I'm looking into that issue now.

[2018-04-05 16:41] brettsam commented on #2447
Note that this may require some refactoring of our HTTP pipeline. The problem is that we have no idea what the response code is when we log our 'Request' to App Insights. So while we may be able to log the ASP.NET logs, we won't be able to "merge" those with our function result. Not sure what the correct approach is here, other than making sure we've completed the Request before we actually signal

[2018-04-05 17:04] simonness commented on #1690
Great, thanks very much @brettsam :)

[2018-04-05 17:45] pragnagopa opened #2633 "Retries to start the language worker should start fresh"
Issue:
If runtime  gets a Timeout exception on starting a language worker, host simply tries to "Start Process". This can lead to errors if initial launch of the worker already started.
Example:
1. Timeout Error on first try
2. Errors on Second and third retry:
ERROR: transport error 202: bind failed: Address already in use
ERROR: JDWP Transport dt_socket failed to initialize, TRANSPORT_INIT(510)

[2018-04-05 17:52] giemch commented on #992
Just so I understand... if I have a v1 Function, say using 1.0.8 Functions Sdk for example. As long as I don't update any of the dependencies in the Function project itself or in a referenced project, then can I safely assume it will keep running without issues in the consumption plan?

[2018-04-05 18:36] pragnagopa commented on #2244
@mhoeger - Thanks for bringing it up. PR #2603 would at least give error details on why function invocation is failing.

[2018-04-05 19:41] suwatch opened #2635 "Thread exhaustion due to FileTraceWriter flush timer"
One of the function app hit the thread limit issue (>512 threads).   Looking at the process dump, hundred of threads were stuck in below stack initiated by the timer.  FileTraceWriter is the same instance for almost all stacks (meaning one timer piling these threads).  The root cause is likely very slow azure file.

We suggested user to work around by setting `fileLoggingMode` to `never`.   Discus

[2018-04-05 20:17] brettsam opened #2636 "HostingEnvironment.InitiateShutdown() not always shutting down host"
Spawning this from #1690, as it is a separate issue.

While investigating #1690, I noticed that a customer was seeing ~20 simultaneous requests to shutdown the host, yet the process never recycled. The newly deployed assembly was never loaded so the site had to be restarted to pick up the changes.

Details on finding site name:

[code]

And then for seeing the full timeframe of this occurrence:

[

[2018-04-05 21:17] suwatch opened #2638 "Follow up with ApplicationInsight concerning Thread usages"
While investigating thread exhaustion issue, we observed many thread stack from ApplicationInsight (few examples below and full info in [here](https://github.com/Azure/azure-functions-host/files/1881854/ApplicationInsight_Stack.txt).   We should follow up with ApplicationInsight team to see if this is normal.

[code]

[2018-04-05 22:58] suwatch opened #2640 "ScriptHost.Initialize blocked forever"
Below is a sample of such issues.  It is likely a Azure File issue that blocked forever.   The outcome is the worker was hosed and timeout all its requests.  It wasn't removed nor restarted.

[code]

Internal:
[code]

[2018-04-05 23:07] paulbatum commented on #1054
No status updates at this time. I think customers that find they need this capability are creating multiple function apps with different configuration. Obviously this is not a great solution because it makes deployments more complicated. So the issue remains open, but we have many issues with higher priority so there is no ETA.

[2018-04-05 23:13] paulbatum commented on #2344
It should not be possible for you to get this error without there being additional details in the log. Have you got app insights enabled? If not please enable it and then look at the contents of the `traces` table.

If you are still unable to diagnose please file a new issue with the information in our issue template so we can look at our logs and investigate.

[2018-04-05 23:44] paulbatum commented on #2629
This issue was moved to Azure/azure-functions-durable-extension#231

[2018-04-05 23:44] #2629 closed

[2018-04-06 00:03] suwatch commented on #2640
Suggestion: to treat this as critical and, perhaps, fail fast.   In addition, our centralized scale controller should detect and try to take this out of rotation.

[2018-04-06 01:17] giemch commented on #2344
@paulbatum Yes, AI is enabled and I looked at the traces table, but there's nothing with a severity level > 1 in the past 7 days. We opened a ticket (118040517948607) with support today. Thanks.

[2018-04-06 03:37] wtailor opened #2641 "Cannot use dynamic queries using DbFunctions in Function apps"
Function App Version 1.0.10 Cli

#### Repro steps

We are using dynamic linq queries that use DbFunctions method
#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known workarounds

Provide a description of any known workarounds.

#### Related information

Provide any related information

* Pr

[2018-04-06 10:32] Robula commented on #2585
@ahmelsayed Has the support for `.funcignore` been released? I am still having `node_modules` uploaded.

Azure Functions Core Tools (220.0.0-beta.0)
Function Runtime Version: 2.0.11651.0

[2018-04-06 11:28] llarsson commented on #2598
I get this error when I just try to follow the [newbie-friendly instructions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local). I simply:

 1. [Installed nodejs LTS as per instructions for Ubuntu](https://docs.npmjs.com/getting-started/installing-node)
 2. [Installed .NET Core as per instructions for Ubuntu 16.04](https://www.microsoft.com/net/learn/get-started/linux/ubu

[2018-04-06 16:42] giemch commented on #2344
@paulbatum It was failing because there was an IP restriction set. We had a single entry pointing to our APIM instance IP. Are there some additional Azure IP(s) that needs to be included in the whitelist?

[2018-04-06 17:09] giemch commented on #2344
@paulbatum Sorry, I'll move this to a new issue.

[2018-04-06 17:18] giemch opened #2643 "How do we correctly set IP Restrictions?"
I set an IP restriction on my Function App to limit access to our APIM instance. Once that was added I got the "runtime could not be started" error in the portal. I also saw 403 errors in my browser network traffic. Once I removed the IP restriction the error went away. Are there some additional Azure IP(s) that need to be included in the whitelist? To clarify, these are the Networking > IP Restri

[2018-04-06 17:40] paulbatum commented on #2640
Interesting that we can get blocked here. I think what makes it possible is the fact that we enable receiving events as part of construction:
https://github.com/Azure/azure-functions-host/blob/0874680e6cfdb87020962509baef18bc98b3338b/src/WebJobs.Script/IO/AutoRecoveringFileSystemWatcher.cs#L66-L70

See `EnableRaisingEvents` of:
https://referencesource.microsoft.com/System/services/io/system/io/Fil

[2018-04-06 17:46] paulbatum commented on #2643
Ahh I get it, this isn't even a runtime bug, its a portal bug. The portal gave you the impression that your function app wasn't starting, but actually it was just failing to communicate (due to the IP restriction). That explains why there weren't any meaningful errors in your app insights instance.

That issue is already tracked here:
https://github.com/Azure/azure-functions-ux/issues/2471

So clo

[2018-04-06 17:46] #2643 closed

[2018-04-06 17:52] paulbatum commented on #2598
@llarsson can you try `func extensions install --package Microsoft.Azure.WebJobs.Extensions.CosmosDB --version 3.0.0-beta7` instead. There was a recent breaking change released, and the newest version of the extension has been updated appropriately. The beta6 package is several months old.

[2018-04-06 17:59] paulbatum commented on #2598
Also since I think the doc is out of date I filed:
https://github.com/Azure/Azure-Functions/issues/752

[2018-04-06 18:02] julielerman commented on #2598
@llarson while you're at it, can you watch for this problem? https://github.com/Azure/azure-functions-core-tools/issues/424  I've had it on two machines now

[2018-04-06 19:09] suwatch opened #2644 "SystemTraceHandler still tracing to File even fileLoggingMode = never"
Even after the host is already initialized and fileLoggingMode = never.   We still keep tracing this info into a file.

[code]

[2018-04-06 19:49] mieliespoor opened #2645 "No job functions found - QueueTrigger Functions"
#### Investigative information

- Timestamp:
- Function App version (1.0 or 2.0-beta): should be 1.0
- Function App name: Oneref-Functions
- Function name(s) (as appropriate): AppointmentEmail
- Invocation ID: (not sure where I get this)
- Region: North Europe

#### Repro steps

In visual studio, create a function with a queue trigger and launch. The following message will be shown:
[code]

Accord

[2018-04-06 22:18] paulbatum commented on #2645
It looks like you have an invalid mix of packages. if your application is on functions V1, it should be on webjobs 2.x. If its on functions V2 it should be on webjobs 3.x. The details you shared are a mix of both (V1 app, using V1 CLI, referencing webjobs 3.x). If you create a fresh function app from scratch the selector in VS will let you pick between V1 and V2 and reference the appropriate packa

[2018-04-06 22:37] giemch opened #2647 "IP Restriction intermittently starts and stops working"
I've got IP restriction enabled for my public IP and APIM that sometimes works for brief moments then suddenly stops working and then I get 403 errors. This behavior continues to cycle with no apparent pattern.

[2018-04-06 22:58] paulbatum commented on #586
Looks like this is a dupe of https://github.com/Azure/azure-functions-host/issues/281 (or vice versa).

[2018-04-06 23:00] paulbatum commented on #2632
Short answer - functions does not have an equivalent of Program.Main
See:
https://github.com/Azure/azure-functions-host/issues/281
https://github.com/Azure/azure-functions-host/issues/586

(i suspect one should be closed as a dupe of the other)

[2018-04-06 23:00] #2632 closed

[2018-04-06 23:35] fabiocav commented on #2644
We identified several issues during this investigation:

1. The code [here](https://github.com/fabiocav/azure-webjobs-sdk-script/blob/9e5ba93b28c1e450f7e758e16f08274cf076915f/src/WebJobs.Script.WebHost/App_Start/WebHostResolver.cs#L248-L253) always logs to the file system, ignoring the host configuration (as it isn't available at this point). But if the app is configured to never log to files, or

[2018-04-06 23:37] btardif opened #2648 "Proxy JSON property with '{' and '}' is not properly escaped"
_From @nertim on March 28, 2018 18:17_

### OS and Browser
Windows 10, Chrome

### Repro steps

**Proxy UI**
![image](https://user-images.githubusercontent.com/493476/38048131-6b251736-3279-11e8-9270-b0997e7b23bb.png)

**Proxies.json in Advanced Editor**
![image](https://user-images.githubusercontent.com/493476/38048165-7ffba65c-3279-11e8-908a-ca5e5fbe50e7.png)

**Output from browser**
![image](ht

[2018-04-06 23:37] btardif commented on #2648
This needs to be moved to runtime

[2018-04-06 23:38] btardif commented on #2648
hey @paulbatum we triage this during UX planning and belie it to be a backend issue, can you guys take a look?

[2018-04-07 00:36] btardif commented on #2647
Based on what I'm seeing I think we should disable this feature for Function apps until we figure out what is going on. I suspect the ip restriction rules are not being propagated across scale units when a function scales out.

[2018-04-07 00:41] giemch commented on #2647
@btardif Were you able to repro? I wasn't sure if my Function app somehow got into a weird state. This Function is just something in our sandbox environment, so it's getting very little traffic.

[2018-04-07 01:02] btardif commented on #2647
@giemch I would recommend clearing out any ip restriction rules. We plan to disable this feature for function apps while we do investigation and figure our a solution.

[2018-04-07 01:13] suwatch commented on #2621
From our log, it simply showed the process crashed.   I would suggest to run a few more runs and see if the 502 iss consistent.  Do provide time and duration as you test it.

[2018-04-07 07:46] madhu2a commented on #2617
I am exactly looking for such feature. Thanx Johnib for posting 👍

[2018-04-07 20:24] ebashmakov commented on #2597
The performance counters take about 60% of my data volume and it affects the billing a lot. I would like to have some control over the performance counters or at least be able to disable them.

[2018-04-08 01:47] vsadams opened #2649 "Issue with running Azure Function 2.0.11651.0 (latest beta)"
I have been working through upgrading my functions to the latest version of the beta.  I first had to get around mismatched versions in Newtonsoft and then with Application Insights. I have all that working. Now, the latest issue I cant get around is the following...
The function runtime is throwing
[code]
Then in turn calling the below in my own code is giving a similar error.
[code]

 I was able

[2018-04-08 18:28] suwatch opened #2650 "500 and 503 caused by contention in D:\home\data\Functions\secrets\positions.json access."
This happened during scaling out of one of the function app.

[code]

[code]

[2018-04-08 18:54] davidebbo commented on #2650
So presumably it was trying to write the secret file because this was the first access to the function and it had not been created yet? I would think that after it exists, it should be all reads and no writes (unless user explicitly resets the secrets).

[2018-04-08 21:13] bergmeister commented on #1932
This is a bummer for me as well because I have to FTP the required AzureRM modules up in order to use the latest features.

[2018-04-08 21:51] suwatch commented on #2650
I could not find any reset secret api call (assuming SCM /api/functions) during 6 hours (between those runs). Looking at the site, currently `D:\home\data\Functions\secrets\positions.json` file does not exist.    Nor is there a function called `positions` under `d:\home\site\wwwroot` physically.   It is a proxy function making outgoing call to another function app.   Hopefully this yields more clu

[2018-04-09 00:07] zeeshanejaz commented on #838
Looking forward to the hybrid approach between consumption and app-service plans.

[2018-04-09 15:08] c-lombardi commented on #2647
Is there an update to when this service might return?

[2018-04-09 16:13] pragnagopa commented on #2541
I have submitted a [PR ](https://github.com/Azure/azure-functions-host/pull/2646)for this.
@ahmelsayed - [languages ](https://github.com/Azure/azure-functions-host/pull/2646/files#diff-4b683e83b1bc333d908d93000ecd81f6R69)in runtime would match the language workers: node, java and dotnet

[2018-04-09 16:47] ahmelsayed commented on #2585
Yes that version should have the `.funcignore` changes.

Can you try adding `--list-ignored-files` or `--list-included-files`?

I think the regex parsing I have currently is more strict that git. Try `*/node_modules` instead of `node_modules`

[2018-04-09 17:58] paulbatum commented on #2648
Not sure I understand this issue... maybe @safihamid does?

[2018-04-09 19:54] securityvoid commented on #2647
I agree, this would be really useful to have available.

[2018-04-09 20:04] vsadams commented on #2649
Ended up getting around this by downgrading and removing various packages.

[2018-04-09 20:04] #2649 closed

[2018-04-09 20:41] harleygomes commented on #988
@isaac2004 have you a sample to share?

[2018-04-09 20:52] paulbatum commented on #2647
Please use https://github.com/Azure/azure-functions-ux/issues/2471 to discuss this further as it is not an issue with the functions host.

[2018-04-09 20:52] #2647 closed

[2018-04-09 21:16] paulbatum commented on #2638
I analyzed a dump in this state. It looks like we have a memory leak as I found 8 QuickPulseTelemetryProcessor instances, all with `isCollecting:true`.

The objects appear to be rooted within a generated class (__DisplayClass) from DefaultTelemetryClientFactory:

![image](https://user-images.githubusercontent.com/10663/38523445-63cb3322-3c00-11e8-8f72-a291cca4f03f.png)

I suspect its due to the cl

[2018-04-09 22:26] giemch commented on #2647
@paulbayum #2471 is fixed for me when I add my public IP, but this is a different issue.

[2018-04-09 22:29] giemch commented on #2647
@paulbatum 2471 is fixed for me when I add my public IP, but this is a different issue.

[2018-04-10 00:44] paulbatum commented on #2647
@giemch multiple issues have been discovered with the IP restriction feature that do not work right for function apps:
https://github.com/Azure/azure-functions-ux/issues/2526

[2018-04-10 04:43] nzthiago opened #2652 "Implement HTTP max limits and document for v2 similar to Functions v1"
The current Functions V1 have the HTTP trigger limits documented here:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#trigger---limits

And implemented as per:
https://github.com/Azure/azure-functions-host/blob/v1.x/src/WebJobs.Script.WebHost/Web.config#L43

We should implement similar settings for V2 (or better - make it configurable?), and add documentatio

[2018-04-10 08:15] spr4ttel commented on #1240
This is still happening, and it's stopping our entire production workflow.

We have had big problems with it over the past 6-8 months, seemingly working better Dec 2017 - Mar 2018, but now being a really big problem again. It's intermittent on different Resources/Resource Groups - some work, some don't. Identical deployments. Messages get into the Service Bus Queue, but are not picked up. No diagn

[2018-04-10 08:26] Robula commented on #2585
Thank you @ahmelsayed, those switches helped me discover where I was going wrong. All working now!

[2018-04-10 11:59] llarsson commented on #2598
@paulbatum and @julielerman, running the same commands as in [my previous comment](https://github.com/Azure/azure-functions-host/issues/2598#issuecomment-379225951), but with version `3.0.0-beta7` worked for me. At least to the level that the Function Host started up, and noted that the CosmosDB extension had been loaded.

So from *my* perspective, a simple documentation update should suffice. Doe

[2018-04-10 14:51] julielerman commented on #2598
Oh, glad for the notification via @llarsson note. I meant to come and update as well. The beta7 has removed this problem (binding) as well as the problem with the installation of the cosmosdb package. I noted the latter fix in my above linked issue.  On my machines, there is also no more need to sync the extensions. So all that's left along these lines is that magical installation of the package b

[2018-04-10 18:16] ahmelsayed commented on #2585
Thanks for confirming @Robula

[2018-04-10 19:11] #2244 closed

[2018-04-10 19:11] #2321 closed

[2018-04-10 19:11] #2433 closed

[2018-04-10 19:11] #2510 closed

[2018-04-10 19:11] #2588 closed

[2018-04-10 19:43] davidebbo commented on #1240
@spr4ttel this thread is tracking Storage Queues, and there are no known issues at this time. Please open a new issue to track your case, and provide the app name/ UTC time info as above for investigation (feel free to add a link from this issue for tracking).

[2018-04-10 20:00] jeroenwo commented on #2473
Upgrading to Microsoft.ApplicationInsights v2.6.0-beta2 doesn't resolve the issue:
[code]
Downgrading to v2.4.0 seems to work, also for my other dependent packages.
[code]
But Microsoft.ApplicationInsights v2.4.0 is not NetStandard and I am getting warnings:
[code]

[2018-04-10 20:12] kevinneufeld opened #2653 "Update wiki: Retrieving Information about the currently running function"
Update the [wiki](https://github.com/Azure/azure-functions-host/wiki/Retrieving-information-about-the-currently-running-function) to reflect the addition of `FunctionAppDirectory` in #1731

[2018-04-10 20:52] spr4ttel commented on #1240
Thanks, I will do so. But that's actually a good clue, isn't it: exactly the same symptoms for Service Bus Queue triggers.

[2018-04-10 23:17] paulbatum commented on #2598
@gauraviitr maybe there is some other aspect to this that i'm missing, but you should definitely not get that error if you've installed 3.0.0-beta7. There should be an extensions.csproj file that was created after running the extension install command. Can you check it? There should be an entry pointing to beta7.

[2018-04-10 23:24] paulbatum commented on #2652
We need to implement these limits prior to GA as it would likely be a breaking change to add them later.

[2018-04-11 00:03] fabiocav commented on #992
We have added some information about this issue, details about how the binding process takes place in 1.0 and information about the enhancements being made to 2.0 in [this wiki article](https://github.com/Azure/azure-webjobs-sdk/wiki/Assembly-Resolution-in-Azure-Functions).

We hope this helps add some clarity. Please continue to use this issue for any feedback/questions about what we covered ther

[2018-04-11 00:09] ahmelsayed opened #2656 "Add a new authentication handler for ARM auth"
This is a new authentication mechanism for requests coming from ARM.

Requests going to

[code]

will be proxies to the runtime with the following headers

[code]

The header to validate is `x-ms-site-restricted-token`

Here is a code snip-it to validate that token

[code]

the code for decrypt is in my  other PR https://github.com/Azure/azure-functions-host/pull/2654

[2018-04-11 06:52] mamodom opened #2658 "Azure Function is not able to load `EntityFrameworkCore`"
#### Repro steps
[Here](https://github.com/mamodom/AzureFunctionEFErrorRepro) is a vs project which exhibits the issue in hand

1. Visual studio > Create new project > Azure Functions > Http Trigger (any kind of function will have the same behavior)

2. Install the nuget package `Microsoft.EntityFrameworkCore 2.0.2`

3. Use a class or method from said nuget package
    In my case I used `log.Info(

[2018-04-11 09:43] llarsson commented on #2598
Well, I have "proof" that this should work on a correctly configured Ubuntu 16.04 machine via the magic of Docker and a horribly ugly quickly hacked-together Dockerfile and accompanying entrypoint script.

Put this into a file called `entrypoint.sh` and mark it executable `chmod +x entrypoint.sh`:

[code]

Now put the following into a `Dockerfile`:

[code]

If you build that `docker build -t issue

[2018-04-11 13:28] alafanechere opened #2659 "req.body is undefined - Node Http Trigger"
Body property of the request object is undefined when I try to handle a `SubscriptionValidation` request after creating a new Event grid webhook subscription from one of my storage accounts.

This is not specific to event grid SubscriptionValidation because this problem also occurs with other POST requests which also have a JSON body payload.

This is how my `req` object looks like :
[code]

As yo

[2018-04-11 17:22] alrod opened #2660 "C# Event Hub trigger function can't process message"
Ibiza portal URL: https://portal.azure.com
App runtime version: 1.0.11612.0 (~1)
Beta runtime version: 2.0.11651.0 (beta)
Browser: Chrome

Expected result:
Send message to the Eventhub that our function corresponds to will trigger the function.
Actual result:
Send message to the Eventhub and nothing happens.

Repro steps:

Open or create a v2(beta )function app.
Open +New Functions Page Task and s

[2018-04-11 18:12] paulbatum commented on #2653
Done. This propertly only exists in the C# execution context and so the wiki was updated appropriately.

[2018-04-11 18:12] #2653 closed

[2018-04-11 18:13] paulbatum commented on #2656
@ahmelsayed How should we treat this in terms of priority? What scenario is it required for?

[2018-04-11 18:17] paulbatum commented on #2631
@ahmelsayed any ideas on this? I'm guessing this issue needs to be moved to a different repo.

[2018-04-11 18:25] ahmelsayed commented on #2656
I chatted offline with @fabiocav

We definitely need it for build because without kudu for seabreeze apps, we can't get the secrets. In all my seabreeze testing, I turn off authentication completely from the runtime. So the sooner the better to test end to end seabreeze scenarios. I believe it should be a pretty simple change. @fabiocav can base it on my branch `ahmels-seabreeze` which contains th

[2018-04-11 18:44] ahmelsayed commented on #2631
Yeah, it probably doesn't belong here, but I'm not sure where it belongs.
There should be another create flow in the UI for creating "Function App for Container" or whatever the marketing name for that is.

The difference between the portal and the cli is that when using a custom image, the cli automatically sets `WEBSITES_ENABLE_APP_SERVICE_STORAGE = false` while when you create from portal, that

[2018-04-11 18:48] martinpeck commented on #2631
I'll give this a go and confirm whether it works after this change.

I wasn't sure is this was purely a Functions portal issue, or something else, hence I ended up logging it here.

[2018-04-11 18:50] fabiocav opened #2662 "Replace todos in VirtualFileSystem with proper logging"

[2018-04-11 18:54] fabiocav opened #2663 "Verify HttpTrigger_GetWithAccept_NegotiatesContent test"
Verify if `CSharpEndToEndTests.HttpTrigger_GetWithAccept_NegotiatesContent` is still needed and re-enable it if it is.

[2018-04-11 19:08] martinpeck commented on #2631
Confirmed. I followed my repo steps, but then:

1. Created App Setting `WEBSITES_ENABLE_APP_SERVICE_STORAGE` and set it to `false`
2. Restart the App Service

This results in the function app that works.

The App Service still shows up as a regular app service, and not a Function App. Clicking on the App Service from the list of resources in the resource group does *not* take me to the Functions U

[2018-04-11 20:39] paulbatum commented on #2627
My best guess is that you hit this:
https://github.com/Azure/azure-functions-host/issues/2243

I would suggest retesting once thats fixed.

[2018-04-11 21:24] ethanroday commented on #2627
Thanks. Not sure this is the same issue, though, for a couple of reasons:
1. I never lost access to the portal. I could make calls, they just didn't complete successfully. I was also able to restart the app from the portal, although that didn't fix the issue.
2. The functions host was definitely running, at least during the period that I was getting 500 errors. Despite the long delay between sched

[2018-04-11 21:57] mhoeger opened #2665 "ISO datetime strings unexpectedly change in Http responses"
For 2.0-beta functions in non-.NET languages, ISO datetime strings unexpectedly change in Http responses from Newtonsoft.Json deserialization (root cause: https://github.com/JamesNK/Newtonsoft.Json/issues/862).

Example:
    context.res.body = {
        'test_time': '2026-04-20T00:00:00.**000Z**',
        'test_bool': true
    };

Yields:
{
  "test_time": "2026-04-20T00:00:**00Z**",
  "test_bool":

[2018-04-11 22:14] mhoeger commented on #2665
This is the class we do deserialization on the HTTP response content.
https://github.com/Azure/azure-functions-host/blob/b0cf84d7e27ac9a37d183a966e9ef7369f50914a/src/WebJobs.Script/Binding/Http/HttpBinding.cs#L60

We could either add explicit handling per call or apply the default settings to the whole app (I think option 2 makes more sense). @fabiocav, could you weigh in?

_Per .DeserializeObject

[2018-04-11 22:59] paulbatum commented on #2627
I've looked at the logs, I think your assessment is correct, its not related to the issues that occur when a function execution timeout is exceeded.

From the logs, I don't really see much that indicates the application was in a bad state. I do see a large number of `Timeout expired while waiting for the new instance to start.` as discussed already. I also see:

[code]
That looks like some type of

[2018-04-12 02:13] celicoo commented on #2256
Hi! I'm sorry for taking so long to answer you guys, I was on vacation.

I'm not using Azure anymore, because of this bug I decided to move all my infrastructure to AWS. If I have sometime available in the future, I'm gonna test it.

Thanks!

[2018-04-12 02:45] jamesvsshark commented on #520
I am seeing a similar issue with using mongoose/mongodb api with Cosmos on Azure function. Data that cant be serialized is throwing 502 - Web server received an invalid response while acting as a gateway or proxy server.

Only if I JSON.stringify the req body it works fine.