[2019-07-15 20:31] #4670 closed

[2019-07-15 20:32] brettsam commented on #4601
What release pipeline are you using, and how are you managing the deployment?

My first suggestion would be to move your deployment to use "Run from package": https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package -- this removes a lot of these locked-file scenarios completely.

[2019-07-15 20:37] pragnagopa commented on #3261
Closing this is an older runtime. Please reopen if you it still reproes with the latest functions runtime

[2019-07-15 20:37] #3261 closed

[2019-07-15 20:38] kashimiz commented on #4625
Hi @MauriRojas, thanks for reporting this issue. In order to investigate, we'll need more information, specifically:

- Timestamp:
- Function App version (1.0 or 2.0):
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

If you don't want to share your Function App name or Functions names on GitHub, please be sure to provide your Invocation ID, Timestamp, and Regio

[2019-07-15 20:41] brettsam commented on #4600
Some of this will be fixed with #4554, where this specific log will be reduced down to Debug level, but at the moment there is no way to reduce the logging at the level that this log is being emitted. I'm going to transfer this into the CLI repo to make sure that I take a look at this specific scenario once the above-mentioned PR is merged.

[2019-07-15 20:43] jskeet commented on #4527
@fabiocav: I don't know, I'm afraid. I assume that VS just launches the CLI? How can we test this outside the context of the CLI?

[2019-07-15 20:43] alrod commented on #4125
@JohnReeson, are you still experiencing the issue?

[2019-07-15 20:48] gzuber commented on #4439
@tcihak-fqa No, this isn't currently supported

[2019-07-15 20:49] soninaren commented on #3614
Several folks are having different issues from different symptoms. Please open a new issue if you can still reproduce the issue. The supported node versions are version 8.x and 10.x. As of today we have support for WEBSITE_NODE_DEFAULT_VERSION -> `~8` and `~10` as version values.

[2019-07-15 20:49] #3614 closed

[2019-07-15 20:50] pragnagopa commented on #3262
Unfortunately, we did not get a chance to investigate issue. Please re-open with the latest timestamps if the issue still reproes.

[2019-07-15 20:50] #3262 closed

[2019-07-15 20:50] alrod commented on #4127
@pragna, can we check folder existence here:
`foreach (var workerDir in Directory.EnumerateDirectories(WorkersDirPath)) `

It looks like it will resolve the issue.

[2019-07-15 20:50] brettsam commented on #3720
Those logs are written with the `Function.{functionname}` category, not the `Host.Executor`. If you change that `"Function"` category to be `"None"` -- these should go away.

[2019-07-15 20:53] yojagad commented on #3721
Closing the issue due to lack of activity. If you have any more issues, please let us know.

[2019-07-15 20:53] #3721 closed

[2019-07-15 20:53] pragnagopa commented on #3284
Closing this issue as the log timestamps are too old. Please re-open if this is still an issue with the latest timestamps

[2019-07-15 20:53] #3284 closed

[2019-07-15 20:56] alrod commented on #4128
@mwwski, are you still experiencing the issue with the latest function runtime?

[2019-07-15 20:57] fabiocav commented on #4527
This was just in case you had tested this on Azure or in one of the container options. Wasn't really expecting that to be the case, but thought I'd ask.

I'll assign this to the next sprint and take a closer look to see what is causing the issue.

[2019-07-15 21:01] pragnagopa commented on #3308
cc @alrod
We do have connection pooling as part of service bus extension.
Closing this issue.

[2019-07-15 21:01] #3308 closed

[2019-07-15 21:04] pragnagopa commented on #3328
Is this still an issue? If yes, can you please share invocation ids from the latest failures?

[2019-07-15 21:06] fabiocav commented on #4575
Assuming this is in Functions 2.0, every `host.json` setting can also be defined as an environment variable/app setting. In order to do that, you need to define the variable in the right scope, under the `AzureFunctionsJobHost` section.

For example, if you're changing a configuration named `foo` in `host.json`, you can define an app setting named `AzureFunctionsJobHost__foo` instead, and that wil

[2019-07-15 21:06] pragnagopa commented on #3329
Added 3.x label as this can be a breaking change.

[2019-07-15 21:06] #4575 closed

[2019-07-15 21:11] yojagad commented on #3737
It's supported now.

[2019-07-15 21:11] #3737 closed

[2019-07-15 21:11] pragnagopa commented on #3349
We recently added ARM APIs.
@mathewc  / @mattchenderson  - Do we have documentation on how to automate deploying eventgrid trigger via ARM?

[2019-07-15 21:13] fabiocav commented on #4654
Tracking the change to address the root cause here: https://github.com/Azure/azure-functions-host/issues/4572

Please follow that issue for updates.

[2019-07-15 21:13] #4654 closed

[2019-07-15 21:13] pragnagopa commented on #3358
Please let us know if this is still an issue?

[2019-07-15 21:13] soninaren commented on #3616
The host.json config is incorrect. The queue related config should be under extensions object.

[code]

[2019-07-15 21:17] paulbatum commented on #1451
cc @ahmedelnably

One option we have been discussing is enabling the export of per execution billing data to [Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/overview) logs. You could then analyze the data using Log Analytics or take advantage of the extensibility features of Azure Monitor to pump this data to another system. This design is likely to be easier for us to impleme

[2019-07-15 21:19] ConnorMcMahon commented on #3329
This is technically possible to support in a backwards compatible way. [This PR](https://github.com/Azure/azure-functions-host/pull/4391) was rather close, but I abandoned it as I managed to make the changes I needed to within Durable without the changes to the runtime.

I wouldn't completely remove support for HttpRequestMessage and HttpResponseMessage, as the Durable Functions API surface still

[2019-07-15 21:19] pragnagopa commented on #3364
Please let us know if this is still an issue.

[2019-07-15 21:20] fabiocav commented on #4656
@TurtleBeach we'll investigate the issue on our side with the information you've provided.

Have you been able to confirm this continues to impact your app after a restart? We don't expect this issue to be something related to the new version of the runtime, but will look at your app to confirm.

[2019-07-15 21:21] kashimiz commented on #4662
Closing this as answered. @sandeepiiit, please open a new issue if have further questions.

[2019-07-15 21:21] ConnorMcMahon commented on #2421
No worries Jason, the frustration is understandable. We have made some improvements in these areas, but clearly there is still some customer pain we need to address.

We should definitely add some customer-facing detectors to detect when the scale controller fails to synchronize triggers. However, it is a bit tricky for us to detect when the user deployed a new trigger that hasn't synced yet if th

[2019-07-15 21:22] soninaren commented on #3616
Resolving as answered, please re-open the issue if the host.json change does not fix the issue or you.

[2019-07-15 21:22] #3616 closed

[2019-07-15 21:23] pragnagopa commented on #3374
having validation on function.json will help out-proc-languages. Moving this to triaged.

[2019-07-15 21:25] kashimiz commented on #4664
Hi @adrianknight89, can you provide more information in order for us to investigate? We especially need the following investigative information:

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0):
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

If you don't want to share your Function App name or Fu

[2019-07-15 21:25] gzuber commented on #4457
@slaharip Sorry for the delay on this -- are you still experiencing this issue? If so, do you have a more recent timestamp? Thanks!

[2019-07-15 21:26] Francisco-Gamino commented on #33
Hello @JordyLangen, EasyAuth is supported in both V1 and V2. Please open a new issue if you have a scenario which is not working. Thanks.

[2019-07-15 21:27] brettsam commented on #4593
@baterphq -- have you seen this more recently? I see a log stating `Function 'Host.Functions.booking' is past due on startup. Executing now.`, which explains why we're running the function again.

When I look at the previous invocation (`fd35acaa-98aa-418b-90d3-6fafc6896bd4`), I see the function beginning but never completing. That means that we'd not record this as a successful invocation, and we

[2019-07-15 21:30] brettsam commented on #4592
@alrod -- could #4393 be the cause of this? Would we see a specific error about this being a timeout?

[2019-07-15 21:32] pragnagopa commented on #3385
@grahamehorner - Do you see any issues when not using en-US culture?

[2019-07-15 21:33] fabiocav commented on #3718
@brandonh-msft is this still valid? I'm assuming this is no longer the case and the configuration should be consistent between local and Azure, but please let us know if that isn't the case.

[2019-07-15 21:33] pragnagopa commented on #3382
@ConnorMcMahon  - Is this still an issue with the latest runtime?

[2019-07-15 21:35] brettsam commented on #4587
@mattchenderson -- do we have a sample of this working anywhere? Any idea what could be happening?

[2019-07-15 21:36] pragnagopa commented on #3389
@brettsam - can we support this?

[2019-07-15 21:37] ConnorMcMahon commented on #3382
Not sure, will have to test.

[2019-07-15 21:38] brettsam commented on #3465
There were quite a few bugs fixed around this recently in the `Microsoft.Net.Sdk.Functions` package so I'm going to go ahead and close this. Please feel free to reopen a new issue if you continue to see issues around this.

[2019-07-15 21:38] #3465 closed

[2019-07-15 21:39] kashimiz commented on #269
A lot of the build infrastructure has changed significantly since this issue was filed. This is unlikely to still be applicable. @isaacabraham , if you still have problems with this issue, please open a new issue.

[2019-07-15 21:39] #269 closed

[2019-07-15 21:39] pragnagopa commented on #3418
Is this still an issue?

[2019-07-15 21:39] brettsam commented on #4572
Sounds like we should do this -- moving to Triaged.

[2019-07-15 21:40] alrod commented on #4592
@brettsam, #4393 should not be a cause for the issue.

[2019-07-15 21:41] ankitkumarr commented on #3491
@sunxinhuan, apologies for the long delay here. We made several improvements recently on logs in a Consumption plan. Using [Application Insights](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring) is now the recommended approach for viewing logs.

Closing the issue, but please feel free to re-open if you continue seeing the problem.

[2019-07-15 21:41] #3491 closed

[2019-07-15 21:46] ankitkumarr commented on #3492
Sorry for the late response here. Currently the stable version is 3.0.3, which should include our latest fixes. I will go ahead and close this issue, but please re-open if you continue to see similar problems with the new version of the extension.

[2019-07-15 21:46] #3492 closed

[2019-07-15 21:47] brettsam commented on #4568
Can you share what is in your `project.json` file? I'd also recommend trying to develop locally using VS or VS Code -- it'll allow you to test locally and share packages in a way that may be more familiar than using the in-portal experience.

[2019-07-15 21:48] alrod commented on #4302
cc: @ankitkumarr, this is already done

[2019-07-15 21:48] #4302 closed

[2019-07-15 21:52] alrod commented on #4275
@brettsam already explained  'The operation has timed out.' errors.
@sylvaingirardbe, feel free to reopen the issue if you still have the issue.

[2019-07-15 21:52] #4275 closed

[2019-07-15 21:53] jwisener commented on #2421
Thank you @ConnorMcMahon  greatly appreciated. I think I have a theory what maybe happening.  We come from background of writing alot of .net core applications, and we have standardized the way we do our configuration settings for all our connections strings (blob, azure service, sql server, table storage, etc...) So, as we have ventured in to replacing our current webjobs, with azure functions. I

[2019-07-15 21:53] Francisco-Gamino commented on #33
Closed issue by mistake, which has already been triaged and moved to the backlog milestone. Reopening...

[2019-07-15 21:53] soninaren commented on #4646
Have a few related questions / comments:
- If you are using the VS 2017 or earlier please make sure the latest version of Azure Functions and Web Jobs Tools version is installed.
    1. Open Visual Studio, `Go to Tools -> Extension and Updates -> Updates`
    2. Select "Azure Functions and Web Jobs Tools", Click update
    <img src="https://user-images.githubusercontent.com/8119379/48643038-7f4cbd

[2019-07-15 21:53] ankitkumarr commented on #3493
I am assuming that @dotnetron's original issue was fixed, as we didn't hear back from them (apologize for the late follow-up). I will go ahead and close/lock this thread. As Paul said above, if you do see such "trigger not firing" issues, please do open a separate issue with all the information on the template filled out. Thanks!

[2019-07-15 21:53] #3493 closed

[2019-07-15 21:56] alrod commented on #4148
the issue is fixed by deleting `RUN_FROM_ZIP`

[2019-07-15 21:56] #4148 closed

[2019-07-15 21:59] brettsam commented on #4566
Do you already have an input binding written and want to use it? If so, you can continue to use `IWebJobsStartup` -- it will work. Or you can add a new extension that allows you to call `.AddMyCustomInputBinding()` on `IFunctionsHostBuilder`. The mechanism behind the scenes is exactly the same.

[2019-07-15 22:00] fabiocav commented on #4017
@balag0 this issue was opened back in January, is this still applicable?

[2019-07-15 22:01] brettsam commented on #4551
Has anyone else hit this recently I'm trying to track down repros so we can check our mitigations. Thanks in advance.

[2019-07-15 22:01] pragnagopa commented on #3919
Closing this issue as the details here mix of using bundles and not using bundles. Please open separate issue.
@ArpitLabs  - please open separate issue with repro details including if you are using extension bundles or not.

[2019-07-15 22:01] #3919 closed

[2019-07-15 22:02] jwisener commented on #4671
Thank you @kashimiz greatly appreciated. I think I have a theory what maybe happening, and I am trying something. We come from background of writing alot of .net core applications, and we have standardized the way we do our configuration settings for all our connections strings (blob, azure service, sql server, table storage, etc...) So, as we have ventured in to replacing our current webjobs, wit

[2019-07-15 22:03] brettsam commented on #4549
@pragnagopa -- any idea on this one? Sounds like a bug but wasn't sure whether it's in proxies or lang worker...

[2019-07-15 22:03] soninaren commented on #4649
@vijayrkn yes, Updating to the latest version of https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/ should resolve this issue. Have responded to the VSO issue as well. Going to close this an answered. Would urge the user to re-open / create an issue if they can still reproduce after updating the nuget pacakge.

[2019-07-15 22:03] #4649 closed

[2019-07-15 22:05] TurtleBeach commented on #4656
@fabiocav I have not seen this happen again, and other Java functions transitioned to the new runtime without interruption. I would be curious to know what you find in the MS logs.

[2019-07-15 22:05] fabiocav commented on #33
Closing this issue as it has been repurposed a few times and it is now hard to follow. The original feature tracked by the issue has been completed. For any other issues around the feature, please open new issues.

[2019-07-15 22:05] #33 closed

[2019-07-15 22:06] soninaren commented on #4131
Can you share the contents of `host.json` file?

[2019-07-15 22:07] Francisco-Gamino commented on #3305
Hi @grickettsnz,
A lot has changed since this issue was opened in the scale controller and in the Functions Host runtime. If you are still experiencing problems in this area, please reopen a new issue.  Thanks.

[2019-07-15 22:07] #3305 closed

[2019-07-15 22:09] ankitkumarr commented on #3510
@Tetradeus, sorry for the late follow-up. Since then, we have made several updates to both the Functions runtime as well as our images. I was unable to reproduce this issue on our newest images, so I will assume that the issue has been fixed.
Here's the link to the most recently updated [official documentation](https://docs.microsoft.com/bs-cyrl-ba/azure/azure-functions/functions-create-function-l

[2019-07-15 22:09] #3510 closed

[2019-07-15 22:11] ConnorMcMahon commented on #4465
Sorry for the delay in addressing this.

Can you provide the name of the function application, as well as a timestamp when you attempt the login operation? That will help me investigate the issue.

[2019-07-15 22:15] gzuber commented on #4464
Sorry for the delayed response here. Currently, we don't have an accepted pattern/any guidance on accomplishing this. The workaround provided by @kemmis will work if needed. In the future, we do have plans to allow loading in configuration files out of the box without the need for custom code.

[2019-07-15 22:15] #4464 closed

[2019-07-15 22:15] ankitkumarr commented on #3512
Apologies for the later follow-up here. Are you on a Consumption plan?

Currently Timespan is only supported for App Service plans ([docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer#timespan)). For Consumption plan, you'd have to use Cron schedule for it to work properly.

[2019-07-15 22:16] pragnagopa commented on #3439
@safihamid - Any ideas on this issue?

[2019-07-15 22:18] JeffHughes commented on #1451
certainly better than nothing

I don't think waiting for REAL-TIME is worth delaying implementation of NEAR-REAL-TIME.

we just need to know what actions are costing as soon as possible

[2019-07-15 22:20] kashimiz commented on #3909
Hi @zippy1981, this is not a supported pattern and not something that we intend to modify v1.x functions to support. It's recommended that you choose alternate names for your extension methods that aren't overloads of your functions' method names.

[2019-07-15 22:20] #3909 closed

[2019-07-15 22:23] ankitkumarr commented on #3520
@rewbotV86, I apologize for such a long delay in the follow-up. Since then, we have made a lot of improvements on memory leaks and issues on our host. At the moment I am not aware of any open customer reports on `OutOfMemoryException`. So, I am assuming that this bug was fixed since then.

I will go ahead and close this issue. If you do continue to see the issue again, please definitely re-open th

[2019-07-15 22:23] #3520 closed

[2019-07-15 22:23] Hazhzeng commented on #4093
Hey, @mhoeger @ColbyTresness

Do you suggest this is a tslint issue in TypeScript extension?
I don't think this is a function host related issue

[2019-07-15 22:24] pragnagopa commented on #224
Java functions is GA. Closing this issue.
For issues specific to  java functions please open issue here: https://github.com/Azure/azure-functions-java-worker/issues

[2019-07-15 22:24] #224 closed

[2019-07-15 22:26] sandeepiiit commented on #4662
@ahmedelnably @kashimiz  Thanks for the response. I have some more specific questions, which would be nice to get answered in the same thread (if possible).

* Does the swap slot operation make sure that requests are not dropped?
* Does the warmup during swap support [WEBSITE_SWAP_WARMUP_PING_PATH](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#Warm-up)?
* If the swap oper

[2019-07-15 22:27] soninaren commented on #3673
This is not the right repository for filing deployment center issues.

[2019-07-15 22:27] #3673 closed

[2019-07-15 22:30] soninaren commented on #3663
Closing as self-answered

[2019-07-15 22:30] #3663 closed

[2019-07-15 22:31] kashimiz commented on #4016
Hi @mieliespoor, apologies for the delay in response. Are you still experiencing this issue?

[2019-07-15 22:33] yojagad commented on #3866
We currently don't have any option to expose such configuration but we're investigating further to see if there's a way to expose such infrastructure configuration.

[2019-07-15 22:34] fabiocav commented on #4656
That's good to hear. Based on what we're seeing, this is due to a race condition that had been in the runtime for a while. That has been recently identified and the fix is being rolled out in the next release.

Apologies for the inconvenience!

[2019-07-15 22:34] #4656 closed

[2019-07-15 22:36] fabiocav commented on #824
Closing this as it has not come up again as an issue in a while.

[2019-07-15 22:36] #824 closed

[2019-07-15 22:37] gzuber commented on #4473
@sohailbujhs is the timeout coming from the function timing out or is it originating from the attempt to interact with SQL? You should be able to find more information about the cause of the timeout through Application Insights.

[2019-07-15 22:39] kashimiz commented on #4013
This feels like a one-off; something else might have brought the app online, thus deleting the `App_Offline.htm` file, such as viewing the functions site in the portal.

Setting WEBSITE_RUN_FROM_PACKAGE from 1 to 0 is a valid workaround.

Please reopen if you experience this issue again.

[2019-07-15 22:39] #4013 closed

[2019-07-15 22:40] Hazhzeng commented on #4084
Sorry for the late reply and thank you for reporting this issue.

Currently, this feature is not supported for Linux Consumption function app, because the kudu is not open for public use yet.

Hey, @ColbyTresness
I think we should transfer the issue to the UX team and grey out the **Download app content** button for Linux consumption.

[2019-07-15 22:42] HalidCisse commented on #4654
Hi @fabiocav I'm targetting .NET core only, i dont see how this is related.
`    <TargetFramework>netcoreapp2.2</TargetFramework>
`

[2019-07-15 22:43] kashimiz commented on #4011
@CreditDataResearch, are you still experiencing this issue?

[2019-07-15 22:46] ankitkumarr commented on #3522
Sorry for the late follow-up here. This should be fixed as part of the work-item tagged here.
With that, any update in Run-From-Package URL will trigger the host to perform a sync for all the triggers.

[2019-07-15 22:46] #3522 closed

[2019-07-15 22:47] alrod commented on #4379
cc: @brettsam

[2019-07-15 22:49] ankitkumarr commented on #3526
@peterbomers, apologies for the long delay here.
Is this still a reproducible issue? If so, would you mind providing the new function app info facing that problem.

[2019-07-15 22:50] #4011 closed

[2019-07-15 22:51] ankitkumarr commented on #3527
@pragnagopa, do you know if this is still a valid work-item?

[2019-07-15 22:51] soninaren commented on #3619
@ahmelsayed how critical is this? This be a breaking change and would have potential impact on the analytics team. Need to understand this in more detail before we decide to make this change.

[2019-07-15 22:53] alrod commented on #4439
It's not possible.

[2019-07-15 22:53] #4439 closed

[2019-07-15 22:53] ahmelsayed commented on #3619
It's extremely annoying, but has a workaround of

[code]

[2019-07-15 22:59] alrod commented on #4478
@LudovicSiegenthaler, sorry for late reply. Are you still facing the issue?

[2019-07-15 23:00] alrod commented on #4366
@jnevins-gc, sorry for late reply. Are you still facing the issue?

[2019-07-15 23:01] ankitkumarr commented on #3552
@ahmelsayed, I am guessing this was fixed at some point given that we haven't heard of similar issues lately? Did you encounter this intermittent issue again recently?

[2019-07-15 23:02] Hazhzeng commented on #3162
Hey @andrewabest,
By using "application/octet-stream" content type, does it solve your issue?
If so, please let us know if we can close the issue. Many thanks.

[2019-07-15 23:03] alrod commented on #2870
Closed as lack of activity. @FabioReis please feel free to reopen if you want.

[2019-07-15 23:03] #2870 closed

[2019-07-15 23:05] gzuber commented on #4474
@marshall76963 have you tried setting the logLevel for "Host" (or anything you don't want to see) to "None" or "Error"?  Because the host sets these log levels, you would have to explicitly overwrite them.

[2019-07-15 23:06] ankitkumarr commented on #3538
@AndreaCuneo, I sincerely apologize for not getting back to you until now. Is this still a reproducible bug? if so, would you mind providing recent logs / function details so I can look on our back-end to see what's going on.

[2019-07-15 23:06] kashimiz commented on #3964
Closed as answered.

[2019-07-15 23:06] #3964 closed

[2019-07-15 23:06] fabiocav commented on #229
Closing this as this is not something we're actively tracking.

[2019-07-15 23:06] #229 closed

[2019-07-15 23:07] soninaren commented on #3624
@mwolin-gcmlp and @cgillum Can you elaborate on the scenario that would lead to OutOfMemory exception but not cause host to crash. We need to be able to understand / reproduce this to put the correct fix in.

[2019-07-15 23:09] ankitkumarr commented on #3560
I will move this to the Backlog, as this needs further discussion.

[2019-07-15 23:11] jnevins-gcm commented on #4366
The issue remains exactly as described.

Long story short - there is no way to use a default connection string and we need to explicitly specify the connection string in a ServiceBusAccount attribute in every class.

[2019-07-15 23:11] ankitkumarr commented on #3550
Closing this issue as it looks like the tagged issue for improvements on auto-recovery was fixed and closed.

Please feel free to re-open the issue if you continue to see issues with recent logs.

[2019-07-15 23:11] #3550 closed

[2019-07-15 23:15] fabiocav commented on #4010
@nidewa do you have an explicit NuGet package reference for both of those projects?

[2019-07-15 23:16] yojagad commented on #3869
@jaltin  As mentioned https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#trigger---polling , functions rely on logs to scan for new/changed blobs which could cause delays. Please try the recommendations posted there for faster and more reliable blob processing and let us know if you face any issues.

[2019-07-15 23:16] #3869 closed

[2019-07-15 23:17] alrod commented on #2195
DotNet SDK does not have MessagingFactory concept and we can do nothing with it.

[2019-07-15 23:17] #2195 closed

[2019-07-15 23:18] ankitkumarr commented on #3589
@pragnagopa, was this regression fixed, or is this still a valid work-item?

[2019-07-15 23:19] #3870 closed

[2019-07-15 23:19] soninaren commented on #3619
@jcookems we are trying to assess if we can take this change. Need your help to asses the impact of the change on our existing analytics?

[2019-07-15 23:20] fabiocav commented on #4481
@rodrmoya I haven't validated this for your specific scenario, but can you please add this to your project file and retry?
If this continues to cause issues after you add the following, we'll take a closer look to see what is going on.

[code]

We're making changes so the tooling for Functions will handle that automatically for you.

[2019-07-15 23:21] fabiocav commented on #3784
@MisinformedDNA thanks for that update, I'm sure it will be helpful to others.

I'm tracking to have the build fix as part of the tool in this coming sprint.

[2019-07-15 23:26] gzuber commented on #4470
@balag0 this issue was marked "Needs: Triage", is this something you're working on?

[2019-07-15 23:29] ankitkumarr commented on #3592
@bonggoy, I apologize for not getting to you sooner. Unfortunately, our logs go stale after a few days, so it will be very difficult for me to investigate. If you do see this issue again, please provide the updated details on the Function App and we will be happy to look into what's going on.

As for others, please open separate issues as we need to deal with these on a case by case basis. There c

[2019-07-15 23:30] alrod commented on #2404
Sorry for late reply. Adding S1 instances is right way to solve the issue as S1 and S2 have the same number of active listen sockets:
https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#per-sandbox-per-appper-site-numerical-limits

Closed as answered.

[2019-07-15 23:30] #2404 closed

[2019-07-15 23:33] soninaren commented on #3631
Please re-open this issue if you are still experiencing this.

[2019-07-15 23:33] #3631 closed

[2019-07-15 23:33] fabiocav commented on #4671
@jwisener are you actually updating the configuration to use an appsettings.json file? If so, this is, unfortunately, something the scale controller won't be able to consume, so it won't have those settings. For the connections strings used by triggers, those would need to be set as App Settings for your Function Apps

[2019-07-15 23:36] ankitkumarr commented on #3598
The nuget package has the link to our Project Site which has all the relevant information.

However, I do agree that it would be nice to have this information right on the page. I will move this to Backlog.

[2019-07-15 23:38] alrod commented on #1742
@omkardusane. Was you able to solve the issue?

[2019-07-15 23:40] kashimiz commented on #3918
Hi @markheath, apologies for the delayed response. Are you still experiencing this issue? If so, can you provide the most recent version of the following information?

- Timestamp:
- Function App version (1.0 or 2.0):
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

If you don't want to share your Function App name or Functions names on GitHub, please be sure t

[2019-07-15 23:42] kashimiz commented on #3907
cc @mattchenderson

[2019-07-15 23:43] ankitkumarr commented on #3576
@mathewc, at this point, do you think this is still something we should add? I was wondering if we have customer asks for this capability.

[2019-07-15 23:45] yojagad commented on #3795
Adding this to triaged to verify whether there are issues when running with Storage Emulator 5.9.

[2019-07-15 23:46] fabiocav commented on #489
We're no longer tracking this issue. Closing.

[2019-07-15 23:46] #489 closed

[2019-07-15 23:49] alrod commented on #3871
@lazyruss, sorry for late reply. What are `Start` and `End`? Are you serialize some object to message? How do you send an message to the service bus topic?

[2019-07-15 23:51] soninaren commented on #3672
Please open another issue if you still facing this.

Please provide more detailed repro steps. a sample queue message would be helpful. Also please add date as a part of the `Timestamp`.

[2019-07-15 23:51] #3672 closed

[2019-07-15 23:51] kashimiz commented on #4001
Hi @artemious7, apologies for the delayed response. Are you still experiencing this issue if you turn detailedLogging back on? If so, can you also look at your HTTP logs to get the client IP address of these requests?

[2019-07-15 23:52] ankitkumarr commented on #3574
@t4s-ryan, sorry for the super late response here. If you still see this issue, would you mind providing some additional information-
What version of Windows are you running?

It sounds like FIPS policy is enforced in your environment while the environment itself lacks FIPS validated cryptographic algorithms. You should also be able to configure FIPS policy on the environment itself, if you want.

[2019-07-15 23:57] yojagad commented on #3820
MSI is supported. Please refer to the documentation here.

https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity

[2019-07-15 23:57] #3820 closed

[2019-07-15 23:57] gzuber commented on #4487
@ddobric Are you still experiencing this issue? If so, do you have an updated time frame of when this has happened most recently?

[2019-07-16 00:04] gzuber commented on #4498
@frnk01 Sorry about the delay getting back to you -- do you have a more recent time frame of this happening and an App Name for us to be able to take a look?

[2019-07-16 00:05] mattchenderson commented on #3907
No ETA for this, but still something we are tracking. Some of the core underpinnings require some revision, but we agree this is an important scenario.

[2019-07-16 00:09] kzryzstof commented on #4465
The Function App name is `demotape-ca` and the timestamp is 2019-07-15 08:08 PM (UTC-04:00).

[2019-07-16 00:13] ankitkumarr commented on #3596
@grahamehorner, apologies for the late follow-up here.

We understand your concerns regarding the performance of the UX and the host. So far, we have not seen or recommend customer scenarios with such high number of functions in a function app. Was there a specific number of functions when you think the performance degrades enough to have an impact on the use?

At the moment, we do not foresee con

[2019-07-16 00:13] #3596 closed

[2019-07-16 00:14] gzuber commented on #4503
@marmightygood Are they sharing the same storage account? Can you check your app settings and make sure the File Connection String and Content Share are different?

[2019-07-16 00:17] APIWT commented on #4575
@fabiocav

How do you represent arrays? For example: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functions

And how about bools? For example isEnabled for https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsights

Last but not least, are there any unsupported host.json options as environment variables?

[2019-07-16 00:18] soninaren commented on #3634
This is actually by design.

Following the is develpment workflow when running function apps from visual studio
1. Create a function app
2. Build / compile the function app
3. Run the function app via F5. This should start the CLI instance for you,
4. Anytime you change the code and rebuild, VS forces you to stop debugging and close the CLI window.
5. After you rebuild the project / solution, you

[2019-07-16 00:18] #3634 closed

[2019-07-16 00:20] #3906 closed

[2019-07-16 00:25] APIWT commented on #4575
@fabiocav

Also, how do we handle when we need dots in a key? For example here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#logging

[2019-07-16 00:30] MegoCs commented on #4131
{
  "version": "2.0"
}

[2019-07-16 00:34] fabiocav commented on #4575
This is all based on the ASP.NET Core environment variable provider. Arrays are expressed as a 0 based configuration set of elements:

For example:
[code]

You should be able to express booleans as simple "true"/"false"

There are no options we block using environment variables.

For periods, you can just set the variables with them.

[2019-07-16 00:34] MegoCs commented on #4131
![image](https://user-images.githubusercontent.com/14217594/61257558-e795ad80-a771-11e9-8e9c-66fb76d68039.png)
 here is a new image of same issue i had that time.
but i notice it was created using an older version of .Net.Sdk.Function -1.0.13
i have tried re produce that issue now on VS 2019 but i works and the generated function.json had .Net.Sdk.Functions -1.0.24

[2019-07-16 00:38] APIWT commented on #4575
@fabiocav
That makes sense. Do those colons become double underscores or just literal colons in the environment variable names?

[2019-07-16 00:50] PureKrome commented on #3399
🙏 🙏 🙏 🙏 🙏 Please be that `Microsoft.Extensions.DependencyInjection` is replacing `DryIOC` and balanced is returned to the Order of Things  ... 🙏 🙏 🙏 🙏 🙏

Side Thoughts: So awesome seeing people using MediatR + AzFunctions

[2019-07-16 01:00] paulbatum commented on #3945
I'm currently closing this issue as no-repro. I am happy to reopen if someone manages to repro this behavior.

[2019-07-16 01:00] #3945 closed

[2019-07-16 01:25] ColbyTresness commented on #4084
Added a portal issue for this in our internal tracking system. Will update this when complete.

[2019-07-16 01:33] ankitkumarr commented on #3594
@GuyHarwood, I apologize for not getting back to you in time. I see that your function app no longer exists. If this is still an issue, would you mind providing the app details experiencing this problem? I would be happy to take a look. Once again, sorry for not getting to you sooner.

[2019-07-16 01:51] lazyruss commented on #3871
@alrod Im sure its already irrelevant. however here are some details.
Message is sent from C# as JSON using regular SB assemblies. Data is defined as struct, Start and End being Datetime fields.
It seems that in V1 runtime SB trigger recognized fields as Datetime and passed them to JS runtime as Date objects. In V2 those fields are being passed as strings. no big deal though.

[2019-07-16 01:57] fabiocav commented on #4575
They can be either. Both are supported, but on Linux/Mac OS, colons are not supported in the environment variable name

[2019-07-16 02:16] Francisco-Gamino commented on #4549
This issue was fixed by

https://github.com/Azure/azure-functions-host/pull/4582
https://github.com/Azure/azure-functions-powershell-worker/pull/261

[2019-07-16 02:16] #4549 closed

[2019-07-16 02:24] pragnagopa commented on #4009
@brettsam - will deferred logger help with this issue?

[2019-07-16 02:25] pragnagopa commented on #3527
Closing this as we now have http request tracing

[2019-07-16 02:25] #3527 closed

[2019-07-16 03:08] ahmelsayed commented on #3953
Closed in https://github.com/Azure/azure-functions-host/pull/4171

[2019-07-16 03:08] #3953 closed

[2019-07-16 03:43] ethanbayliss commented on #4665
@feresg Was there any additional files that Visual Studio uploaded in addition to the function.proj file that was already created?

[2019-07-16 04:11] jwisener commented on #4671
@fabiocav , no it’s not a direct update. I take the design of our current app settings/connection strings and get it in the form that azure functions needs. I set those settings in the azure portal for our  appsettings and connections strings appropriately. For us, Azure servicebus is a connection string, just like sql, blob, table and so forth. Azure functions decided to do things differently and

[2019-07-16 04:29] KalyanChanumolu-MSFT commented on #4464
@gzuber Please provide an Issue# for us to follow and know when it is available

[2019-07-16 05:15] shibayan commented on #3358
I confirmed that the problem was fixed. Thank you.

[2019-07-16 05:15] #3358 closed

[2019-07-16 06:08] artemious7 commented on #4001
I reenabled it and will wait for result. Thanks for your reply

[2019-07-16 06:38] PiotrWachulecChmurowisko commented on #4566
@brettsam Thanks a lot, I'll try to do it.

[2019-07-16 06:45] PiotrWachulec commented on #4566
Thanks! I'll try to do it in this way.

[2019-07-16 06:55] grahamehorner commented on #3385
Yes, we have a number of functions that perform conversion of data and not begin aware of the culture in logging can be confusing when dates and currency are concerned.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Pragna Gopa <notifications@github.com>
Sent: Monday, July 15, 2019 10:33:05 PM
To: Azure/azure-functions-host
Cc: Grahame Horner; Mention
Subje

[2019-07-16 07:31] basilfx commented on #3512
@ankitkumarr from the [docs](https://docs.microsoft.com/nl-nl/azure/azure-functions/functions-bindings-timer#configuration)

In our case, we were using a `%ScheduleAppSetting%` provided via the key vault (loaded dynamically via an extension). Whenever the host starts (on consumption plan), it is not able to resolve the value of `%ScheduleAppSetting%`, and therefore unable to schedule a `TimerTrigg

[2019-07-16 07:44] ankitkumarr commented on #3512
@basilfx, the docs say

Given that you are on a Consumption plan, you cannot use a `Timespan`. Are you using a Cron expression in that environment variable?

[2019-07-16 08:16] feresg commented on #4665
@ethanbayliss when writing the function inside Visual Studio then publishing to Azure instead of the portal, I can only access the function in read-only mode and the only visible file is function.json

[2019-07-16 08:26] #4587 closed

[2019-07-16 08:31] omkardusane commented on #1742
You might want to reproduce it with given code sample and check. Last time I used those functions, it was not working. but it's a long time ago.

[2019-07-16 08:54] basilfx commented on #3512
I am using a CRON expression in that variable. But that variable is resolved dynamically via an extension, AFTER the host started. In other words, the host cannot know the CRON schedule, and the end-user is not informed.

[2019-07-16 09:50] CastleArg opened #4674 "remove easy auth for non http triggers"
#### Is your question related to a specific version? If so, please specify:
2.0
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
All
#### Question
I feel non http tiggers should be exempt from 'easy auth' turned on via portal.
This is great for http, but I'm using an app which goes on to use durable functions and blob triggers, and these fail on lack of auth.  The a

[2019-07-16 09:54] stap123 commented on #1451
Agreed, being able to run some test executions and then get the associated cost with a few minutes of delay would still allow for some cost projections to be attached to operations and make it far easier to get estimations and buy in from customers.

Sounds like you're onto a winner @paulbatum

[2019-07-16 11:37] marshall76963 commented on #4474
@gzuber - yes, I tried a bunch of different excludes in the `logLevel`, setting `Host`, `Default` and `Function` to Error or Warning, all of which worked on the file logging, but as far as I could tell did not affect what was sent to App Insights.

The work-around that we have applied appears stable for now, so I am not actively trying alternative options.

[2019-07-16 11:50] jwisener commented on #4671
https://github.com/Azure/azure-functions-host/issues/4671#issuecomment-511554530

[2019-07-16 12:04] michael-hillmann commented on #1361
any update on this topic? I buess the possibility for streaming Azure storage blobs via Azure functions to a SPA is a nice pattern for many applications.

[2019-07-16 12:58] brettsam commented on #4566
Gonna go ahead and close this issue -- let me know if you run into any issues and feel free to re-open if needed.

[2019-07-16 12:58] #4566 closed

[2019-07-16 12:58] jwisener commented on #4671
@fabiocav is it possible to see the source code for the scaler process?

[2019-07-16 13:26] brettsam commented on #3389
Your best bet is to use our [new DI functionality](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#register-services) and wire up an ILoggerProvider that sends logs wherever you want. You can do
[code]
We use the .NET Core logging system so this should be a good starting point: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspn

[2019-07-16 13:27] brettsam commented on #3389
This was pretty old so I'm going to mark this as closed, but let me know if you need more help. Feel free to re-activate if needed.

[2019-07-16 13:27] #3389 closed

[2019-07-16 13:29] GuyHarwood commented on #3594
this was nearly a year ago.

a year

[2019-07-16 13:29] #3594 closed

[2019-07-16 13:36] brettsam commented on #4379
@fusionet24 -- Sorry for the delay here. Have you continued to see this issue? This log is almost always a symptom, rather than the cause, of other issues. For example, the host is shutting down already and some services are disposed and cannot be accessed -- LoggerFactory is always the first one that gets hit b/c it's used so often in our code. If you have a more recent occurrence of this, I can

[2019-07-16 13:52] brettsam commented on #4009
No -- the problem here is that we don't know anything about this invocation anymore, so we don't know what to do with it: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/LanguageWorkerChannel.cs#L369

It doesn't look like we know the function name at that point, do we? If we did, we could re-create the Function.FunctionName.User logger and write to it -- maybe with a

[2019-07-16 13:57] brettsam commented on #4543
@fabiocav -- did we have a separate issue tracking JSON.NET dependencies?

[2019-07-16 14:02] lymedo commented on #4521
I've received a similar exception today. It was thrown during a fan-out stage in the orchestrator.

Unhandled exception while executing task: System.ObjectDisposedException: Cannot access a disposed object.Object name: 'LoggerFactory'.   at Microsoft.Extensions.Logging.LoggerFactory.CreateLogger(String categoryName)   at Microsoft.Azure.WebJobs.Script.WebHost.ScriptLoggerFactory.CreateLogger(Strin

[2019-07-16 14:04] brettsam commented on #4542
@iyerusad -- this is only for the local dev scenario? Do things work when deployed?

@safihamid -- assuming this is only for local dev, is there something we can do to fix this?

[2019-07-16 14:09] brettsam commented on #4539
Azure Functions can use App Service Authentication (Easy Auth).

Some resources that should help:
- https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization (contaisn links at the bottom for more details)
- https://blogs.msdn.microsoft.com/stuartleeks/2018/02/19/azure-functions-and-app-service-authentication/

[2019-07-16 14:09] brettsam commented on #4539
I'm going to close this as it's not an active issue -- but let me know if you have more questions. Thanks!

[2019-07-16 14:09] #4539 closed

[2019-07-16 14:12] brettsam commented on #4536
@Jaffacakes82 -- sorry for the delay here. Are you continuing to see this? If so, do you have a more recent invocation id and timeframe that I can look at? I can check our backend logs to see what may be happening.

[2019-07-16 14:22] brettsam commented on #4535
`IHttpContextAccessor` should now be available (it'll be injected into your function class constructor)-- but there's not really an equivalent for other binding triggers.

Most of those details should be available, however -- for example, you can ask for the SB message directly (or a bunch of the metadata values -- https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-b

[2019-07-16 14:25] Jaffacakes82 commented on #4536
Hi @brettsam, I think I've narrowed this down to the host runtime restarting every time my function was invoked due to file system changes being detected.

We use a node library that uses PhantomJS to generate PDFs from within our function and I believe this binary was triggering the file watcher to kill the function invocation and restart the function.

Interestingly, I'm pretty sure I wasn't exp

[2019-07-16 14:30] brettsam commented on #4532
Are you able to reproduce this outside of a function app? How about in a .NET Core console app? I'm not sure how Functions would be doing anything specific here to break this...

Also, ServicePointManager doesn't work in .NET Core, you'll need to pass in an `HttpClientHandler` to the `HttpClient` with the settings you want. For example: https://stackoverflow.com/a/44540071/3516125

[2019-07-16 14:31] brettsam commented on #4530
@mattchenderson / @fabiocav -- has this been discussed as a new feature?

[2019-07-16 14:32] mwwski commented on #4128
@alrod I'm not seeing this behavior any more.

[2019-07-16 14:32] brettsam commented on #4598
Hey @soninaren -- do you know where this string would live?

[2019-07-16 14:38] brettsam commented on #4536
That's very interesting -- I'm not sure why it'd be changing from one version to another. It could have been some kind of race condition you were seeing and it wasn't really related to the host versions at all. I'm not sure that code has changed much in a while.

I'm curious -- which folder were the PDFs going to?

(going to close this as it's no longer an active issue)

[2019-07-16 14:38] #4536 closed

[2019-07-16 14:40] brettsam commented on #4664
Moving to the correct repo.

@ealsur -- does the leases collection get re-created mid-running, or only at trigger startup?

[2019-07-16 14:44] alexkarcher-msft commented on #4588
Yes, we'd need to limit to one warmup function per app. If it's HTTP under the covers, we can leverage the existing checks to ensure you don't deploy two functions with the same HTTP route

[2019-07-16 14:52] Jaffacakes82 commented on #4536
Very possible. If I cast my mind back, I'm pretty sure it was working consistently as we hard coded the runtime version in our ARM templates to address the issue. Unfortunately, version 2.0.12438.0 then became unavailable in Azure and auto-rolled itself forward to the latest version and we started seeing issues again.

It's a .NET Core function that invokes Node through INodeServices, the PDFs wer

[2019-07-16 14:55] utekau commented on #4648
Hi @mhoeger ,
I'm adding the screenshot below. I copied and pasted what you wrote but it didn't work.

Regarding your requests, I'm using Windows 10. My Windows display language is English (United States). For the zip file, I'm not using any third part tool like 7zip or winrar. I'm using default zip opener of Windows. I just right clicked file and select "Extract All..."

![image](https://user-ima

[2019-07-16 15:33] safihamid commented on #4542
Don't think there is a quick fix here, +@vfedonkin in case he has some thoughts...

[2019-07-16 15:39] safihamid commented on #3439
The backend host can only be updated from app settings. cc @vfedonkin in case he has some thoughts.

[2019-07-16 15:41] safihamid commented on #4486
@vfedonkin would you please investigate this?

[2019-07-16 16:59] pragnagopa commented on #4004
Dup of #4534

[2019-07-16 16:59] #4004 closed

[2019-07-16 17:05] ahmedelnably commented on #4662
* Yes, the swap mechanism make sure that request will get processed by one of the two slots, and none get dropped
* @shubDhond should be able to confirm
* Yes, everything get rolled back to initial state

[2019-07-16 17:40] fabiocav commented on #4588
If we're using a different trigger type, the validation will happen separately, but that's an implementation detail. What I'm hearing is that, if more than one function is using the warmup  trigger, we'd fail indexing with an appropriate message, correct?

[2019-07-16 17:42] fabiocav commented on #4530
We haven't spent much time discussing this, but I know @mattchenderson has brought it up. We need to follow up to understand where this sits.

[2019-07-16 17:46] fabiocav commented on #4674
When you enable Easy Auth, you're protecting the entire App, not just the host. The infrastructure components that need to communicate with the host over HTTP should be able to deal with Easy Auth being enabled and properly authenticate.

What exact scenarios are you running into problems with? Can you describe where you're seeing the calls being blocked?

[2019-07-16 17:56] vfedonkin commented on #4486
Looking...

[2019-07-16 18:17] alexkarcher-msft commented on #4588
Correct. I can't think of anything but trouble and race conditions that would come from multiple warmup triggers existing.

[2019-07-16 18:27] ConnorMcMahon commented on #2421
@jwisener, That is good to know. I took a look at our Scale Controller logic for Service Bus and it LOOKS like it should be able to handle that scenario, though it is difficult to tell without testing it out myself with a real world example.

Thankfully, it turns out that we have recently exposed a way to view at least some of our Scale Controller logs to customers. It may not be a perfect solutio

[2019-07-16 18:27] AllisonBolen commented on #4486
We decided to use a Nginx for a proxy, but would love to see a fix for this soon so we can utilize this in the future.

[2019-07-16 18:38] kulkarnisonia16 commented on #3091
Keeping this open for investigation on right approach - follow up with the Antares team.

[2019-07-16 18:45] kulkarnisonia16 commented on #4301
@FinVamp1 to get more details around original ask.

[2019-07-16 19:09] kulkarnisonia16 commented on #3959
To be moved to Visual Studio Git repo

[2019-07-16 19:09] jwisener commented on #2421
@ConnorMcMahon  when you say of the form **:,**  what does that mean? do you Mean like this:

SCALE_CONTROLLER_LOGGING_ENABLED:Blob ?

[2019-07-16 19:16] ConnorMcMahon commented on #2421
Sorry, markdown formatting ruined that line. It should have said "a string of the form < Type >:< Level >". The app setting name will be SCALE_CONTROLLER_LOGGING_ENABLED, and the  value will look something like "Blob:Verbose".

[2019-07-16 19:16] vfedonkin commented on #4486
According to http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2 :
Multiple message-header fields with the same field-name MAY bepresent in a message if and only if the entire field-value for thatheader field is defined as a comma-separated list [i.e., #(values)].It MUST be possible to combine the multiple header fields into one"field-name: field-value" pair, without changing the semantic

[2019-07-16 19:16] iyerusad commented on #4542
Applies in local dev and hosted/prod. Technically in Prod you can with a degree of certainty assume https but thats just not great logic. Since proxies rewrite traffic, these x-forwarded headers seem key as part of proxy functionality.

[2019-07-16 19:21] jwisener commented on #2421
Okay, let me try that.

[2019-07-16 20:04] jwisener commented on #2421
when you say default storage account, is that the one defined in
the AzureWebJobsStorage appsetting?

On Tue, Jul 16, 2019 at 2:21 PM Jason Wisener <notifications@github.com>
wrote:

[2019-07-16 21:24] jwisener commented on #2421
I couldn’t get it to log anything. I think i am just going to have to open
a support ticket.

On Tue, Jul 16, 2019 at 3:04 PM Jason Wisener <notifications@github.com>
wrote:

[2019-07-16 21:52] jcookems commented on #3619
Analytics cannot use the column currently *because* it is not ISO format. I would like this fix.

Please feel free to ask the Analytics team next time you are concerned a fix might affect us.

[2019-07-16 22:12] alrod commented on #4128
The issue was already fixed in new function runtime 2.0.

[2019-07-16 22:12] #4128 closed

[2019-07-16 22:23] alrod commented on #3871
@lazyruss, thanks for reply. Closed as irrelevant.

[2019-07-16 22:23] #3871 closed

[2019-07-16 22:35] CastleArg commented on #4674
I have an http trigger that returns a sas url to post a file to blob storage.
I then have a blob storage trigger that starts an orchestrator function.
This fails with "you cannot view this page.", I think when durable-orchestrator.js is trying to post metadata via axios.

[2019-07-16 23:45] fabiocav commented on #4671
There are a lot of historical reasons for the current behavior, but that pre-dates .NET Core and the configuration model supported there. That is all based on the WebJobs functionality and, though the runtime itself could be updated to use the appsettings.json (which is something we do intent to do), there are infrastructure pieces that still have a dependency on the previously existing model that

[2019-07-17 00:01] ConnorMcMahon commented on #2421
Yes!

[2019-07-17 00:25] soninaren commented on #3619
@jcookems would using the syntax below make the column usable or are there additional constrains that prevent Analytics from using it.
[code]

[2019-07-17 00:38] TurtleBeach commented on #3619
@jcookems @soninaren while I don't have a dog in this fight (figuratively speaking) I would ask that both sides settle on how the ISO string is formatted when the time stamp happens to fall on an exact even second boundary (in the context of the time resolution of the system). In the past I was burned (granted due to some quick and dirty sloppy parsing on my part) because a time stamp string retur

[2019-07-17 01:25] marmightygood commented on #4503
This would be configuration settings WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE?

Yep they're the same.

[2019-07-17 01:48] ethanbayliss commented on #4665
I've replicated this error on a new function and an existing function that was previously relying on nuget packages to work. Both functions were in different azure tenancies as well.

[2019-07-17 02:37] johnayoub opened #4680 "default configuration provider appsettings.json"
#### Check for a solution in the Azure portal
The default JsonFile configuration provider seems to be configured to load appsettings.json however the directory path is incorrect. Locally this is not working haven't check if it does in Azure

#### Investigative information

![image](https://user-images.githubusercontent.com/9760128/61342922-f041be80-a819-11e9-9ffe-f5390593877b.png)

Please provide

[2019-07-17 02:44] jwisener commented on #4671
Thanks for the information, @fabiocav  that is very helpful and i really
appreciate you taking the time to provide detailed information.

I’ve opened support case with Microsoft to try and figure out why the azure
servicebus functions are not triggered when new messages arrive on a
subscription queue. After the functions go idle, perhaps they can help
provide some guidance on what the issues maybe

[2019-07-17 03:23] CastleArg commented on #4674
stack trace here:
Exception: Error: You do not have permission to view this directory or page.
Stack: Error: You do not have permission to view this directory or page.
    at DurableOrchestrationClient.<anonymous> (D:\home\site\wwwroot\node_modules\durable-functions\lib\src\durableorchestrationclient.js:284:43)
    at Generator.next (<anonymous>)
    at fulfilled (D:\home\site\wwwroot\node_modules

[2019-07-17 03:47] fabiocav commented on #4671
We are working on surfacing scale controller logs so you're aware when things like that happen. Some of that already happens today when you go through the diagnostics (detectors) section of the portal.

What is added to connection strings is setup under the "connection strings section" of the configuration. If you're referencing them without the "ConnectionStrings" section prefix, it is indeed pos

[2019-07-17 03:49] fabiocav commented on #4674
/cc @kashimiz

Interesting. Could you please follow the steps outlined here so we can get some information about your app and take a look at the logs? https://github.com/Azure/azure-webjobs-sdk-script/wiki/Sharing-Your-Function-App-name-privately

[2019-07-17 03:52] fabiocav commented on #49
Closing this issue as this work is being tracked as part of the rich binding support being added to the OOP language workers feature.

[2019-07-17 03:52] #49 closed

[2019-07-17 03:52] fabiocav commented on #317
This work is not planned. Closing issue.

[2019-07-17 03:52] #317 closed

[2019-07-17 03:54] fabiocav commented on #372
For guidance on using external modules, please see https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-powershell and https://www.github.com/Azure/azure-functions-powershell-worker

[2019-07-17 03:54] #372 closed

[2019-07-17 03:55] CastleArg commented on #4674
Excuse the soliloquy but I managed to workaround using authorization.json, something I had not come across before.  I ended up with this, based on page here: https://social.msdn.microsoft.com/Forums/en-US/80bad646-a8ec-411b-8549-7446e419f167/azure-ad-authentication?forum=AzureFunctions

{
    "routes": [
        {
            "path_prefix": "/api", //Need to protect backend api
            "polici

[2019-07-17 03:56] fabiocav commented on #693
@SeanFeldman cleaning up stale issues and this seems to be addressed. Please let us know if that isn't accurate. Thanks!

[2019-07-17 03:56] #693 closed

[2019-07-17 03:58] fabiocav commented on #1232
This has been addressed.

[2019-07-17 03:58] #1232 closed

[2019-07-17 04:01] fabiocav commented on #4680
`appsettings.json` is not a supported source for function configuration. The path you see there is for the actual CLI/Host. The supported configuration options are host.json, App Settings and environment variables at the moment. This is something we intend to support in the future.

[2019-07-17 04:01] #4680 closed

[2019-07-17 04:02] fabiocav commented on #4674
I'm glad this you found a workaround, but this is something that shouldn't be required. We'll keep this open to investigate. The app information I've requested above would be helpful, if you can provide that. Thanks!

[2019-07-17 04:04] fabiocav commented on #4662
Closing this as answered.

@shubDhond please add to this, if needed.

[2019-07-17 04:04] #4662 closed

[2019-07-17 04:06] fabiocav commented on #4598
I think this has been changed.

@hypatia1729 what version of VS, Azure Function extension and Functions SDK are you using?

[2019-07-17 04:13] hypatia1729 commented on #4598
Hi @fabiocav, VS 2019 16.2.0 Preview 4 Enterprise, Functions v2.0. Functions SDK v1.0.29.

[2019-07-17 04:23] jwisener commented on #4671
@fabiocav  Id=7db0fa5d-f37f-43d0-b844-b3a3b987564d

[2019-07-17 04:27] fabiocav commented on #4598
Have you customized your build process by chance? That string is not in any of the products, but it may be found in blog posts and some issues comments from others here with a step to explicitly copy the extensions.json file.

Is this something you have done to your project?

Examples of where this may be found:
https://thatblokecalledjay.com/blog/view/codingdojo/azure-functions-and-dependency-inj

[2019-07-17 04:31] peterhuene commented on #49
Hi @fabiocav.  Is there an issue that tracks that I could subscribe to?  I like to keep track of what's going in so I can update the Rust worker as-needed.

[2019-07-17 04:33] fabiocav commented on #4671
That may explain the issue. The connection string prefix added by App Service uses the double underscore delimiter (`__`), and most likely what the scale controller is looking at is `ConnectionStrings__<name>`.

I'll be able to verify when in the office using the ID you've provided, but would also need a region and approximate timeframe to look at. In the meantime, you can try using `ConnectionStr

[2019-07-17 04:39] hypatia1729 commented on #4598
Aha! You are completely correct.

I had followed the instructions in the first link when playing around with DI in Functions. I've since switched over to the DI using Microsoft.Extensions.DependencyInjection v2.2.0 via Microsoft.Azure.Functions.Extensions (can't upgrade to v3.0 preview 6 as it breaks the Functions extensions). I had left the Directory.Build.targets as per Boris Wilhelms' instructi

[2019-07-17 04:39] #4598 closed

[2019-07-17 04:50] fabiocav commented on #4594
@espray not sure that is related to that issue here.

@andronachev  The pattern shown in the code is a bit fragile, and holding onto a reference of a `ServiceCollection` provided during the service registration step may not be giving you a full view of the services that are ultimately built into the service provider. Using the approach you've shared will also not work correctly with scoped service

[2019-07-17 04:55] fabiocav commented on #4598
Glad we solved that mystery ! :)

[2019-07-17 05:12] jwisener commented on #4671
Okay, I'll get that a try.

In Region EastUS:

Start CST DateTime: 7/16/2019  13:00:00 CST or 7/16/2019 18:00:00 UTC
End CST DateTime: 7/16/2019 13:55:00 CST  or 7/16/2019 18:55:00 UTC

The __ Doesn't work too well when dealing with local.settings.json and
trying to run locally.

On Tue, Jul 16, 2019 at 11:33 PM Fabio Cavalcante <notifications@github.com>
wrote:

[2019-07-17 05:14] fabiocav commented on #3528
@ankitkumarr were you planning on following up?

@stevenlivz apologies for the delay here. Is this something you're still experiencing?

[2019-07-17 05:48] abinayasekar93 commented on #4665
@feresg I am able to solve this by using Visual studio instead of Azure portal.

[2019-07-17 07:39] ankitkumarr commented on #3512
@basilfx, ok I see. So, your problem is different than the original issue. The issue created here is about the inability to use TimeSpan (by design for Consumption plan) and the workaround being a Cron expression.

In your case, you want to dynamically modify the schedule. I am not sure if we have a way to do that. If it was set via an Application Setting, and that setting was changed, then the Ho

[2019-07-17 09:12] Ozzian commented on #4425
Have you tried adding the logging configuration in the host.json? [related link](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json)

[code]

It seems to work (without manipulating the host file) when you have your other classes (that gets injected with the logger) inside the same project.

I hope this helps.

[2019-07-17 09:27] hameno commented on #4665
Same problem here, trying to follow https://dotnetthoughts.net/resizing-images-using-azure-functions/ ans it fails with the same error

[2019-07-17 10:26] LarsKemmann commented on #2473
Any updates on this? It's been over a year -- where do things stand now? I need to get access to a `TelemetryClient` instance in my `FunctionsStartup` class.

[2019-07-17 10:31] LarsKemmann opened #4681 "Accessing TelemetryClient and ILogger in FunctionsStartup"
#### Is your question related to a specific version? If so, please specify:
Microsoft.NET.Sdk.Functions 1.0.29
Microsoft.ApplicationInsights 2.10.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I need to get access to a `TelemetryClient` instance in my `FunctionsStartup` class. How do I do that? I tried `serviceProvider.GetService<TelemetryConf

[2019-07-17 11:15] LarsKemmann commented on #4681
So, this may be more appropriately addressed in [this issue](https://github.com/Azure/azure-functions-dotnet-extensions/issues/23).

[2019-07-17 11:18] LarsKemmann commented on #4681
Closing as the linked issue in the azure-functions-dotnet-extensions repo is where this needs to be addressed. (If anyone from the Functions team could respond to some of the open issues there it would be appreciated!)

[2019-07-17 11:18] #4681 closed

[2019-07-17 12:11] DigitalFlow commented on #2373
Just got exceptions on this as well.
When using Azure Functions v1 with Azure ServiceBus v3.4.0, we can't even downgrade the ActiveDirectory Assembly to 3.14.0 or 3.16.0 as suggested, as the ServiceBus package requires at least v3.17.2.

Any hints on this?

[2019-07-17 13:55] brettsam commented on #4425
If you're not seeing custom logger logs show up -- see this issue: https://github.com/Azure/azure-functions-host/issues/4345

[2019-07-17 14:08] brettsam commented on #2473
You should be able to ask for a `TelemetryClient` anywhere that you use DI (like in your function class constructor) and you'll get it. See a couple of "gotchas" that I just mentioned here: https://github.com/MicrosoftDocs/azure-docs/issues/35181#issuecomment-512263980

[code]

This issue seems related to SQLClient support somehow? Is anyone still seeing that issue?

[2019-07-17 14:29] arkoc commented on #3512
Thank you for replies. Yes, I can confirm that I was using consumption plan.

[2019-07-17 14:29] #3512 closed

[2019-07-17 14:47] brettsam opened #4682 "Log error or warning for service versions that are ahead of host services"
Whenever App Insights moves forward, we get a wave of customers that run into issues because we always lag behind. Same thing happens with .NET Core versions. This is especially problematic now that DI is available.

Can we throw an error or warning during service resolution if we see a type being requested that is ahead of the version that we're actually using? Being able to show a log like `You

[2019-07-17 14:56] jameshowe opened #4683 "Cold start times excessively long for v2 Function running on a slot"
#### Investigative information

- Timestamp: 2019-07-17 10:06:49 to 2019-07-17 13:07:26 (UTC)
- Function App version (1.0 or 2.0): 2.0
- Invocation IDs:
  - 50aca2c7-cf90-4a3a-b4ff-24d38af75b17 <sup>2019-07-17T12:55:39.794</sup>
  - 2189024a-ea85-4180-90b2-47600e763d85 <sup>2019-07-17T10:15:45.395</sup>
  - f9720f10-5a5d-4c87-be42-27aae54a7b12 <sup>2019-07-17T10:15:45.350</sup>
  - fa1efa17-cb6c-4

[2019-07-17 16:47] kemmis commented on #4464
FYI - I updated my example above so that it should find the correct appsettings.json file when running in Azure. Using Environment.CurrentDirectory was only working when I ran the function locally, but not in Azure.

[2019-07-17 16:49] jcookems commented on #3619
My issue was not so much with ISO 8601 but with formats that don't work with **todatetime**/**make_datedate**. (The docs imply those won't work with non-ISO8601 formats.) Those Kusto functions work with the "AM/PM" suffixes, but some events emitted by HostVersion 1.0.12529.0 don't follow that: they either end with a space or "a. m./p. m."

[code]

   X2 | HostVersion | count_
 -- | -- | --
   MM/D

[2019-07-17 17:04] brandonh-msft commented on #3718
No I believe we still have a problem; I don't believe we should be able to have this experience:
![image](https://user-images.githubusercontent.com/20270743/61395395-32025180-a87a-11e9-8520-1f98f28ccda4.png)

[2019-07-17 17:58] mhoeger commented on #4093
Hey @johnpapa ! I was able to repro your issue, but it looks like an issue where VS Code is doing some automatic smarts to integrate with ts-check and failing if the ts-check fails. Do you mind opening the issue on either https://github.com/Microsoft/vscode or https://github.com/Microsoft/vscode-azurefunctions ?

Closing this issue here since it feels un-actionable on our end, but let me know if I

[2019-07-17 17:58] #4093 closed

[2019-07-17 17:59] fabiocav commented on #3718
I just want to make sure this is still consistent with what was originally reported. The key thing with the original issue was the discrepancy between local and hosted experiences, where you were able to run and test your function when running locally, but they were broken when deployed. That's the issue I wanted to make sure was solved.

Today, there's no runtime schema validation for the configu

[2019-07-17 18:14] Hazhzeng commented on #4640
I can confirm that the function app does timeout but the **FunctionTimeoutException log is missing**.

I tested with host.json and a timer trigger function app as follow, and I check the timer.txt only counts to 15.
[code]
[code]
[code]

In Kusto FunctionsLogs, if we query with, we can see a gap between 13:41:55 - 13:43:40.
I think this is the time when function runtime get restarted but the log i

[2019-07-17 18:27] brandonh-msft commented on #3718
ok i'll deploy this to azure and see what happens. standby!

[2019-07-17 18:47] mhoeger commented on #4648
@utekau - looking at our code for [function name validation](https://github.com/Azure/azure-functions-host/blob/3b1b0dd0a0f54098f72d6a284d485bf671a76280/src/WebJobs.Script/Host/FunctionMetadataManager.cs#L24), it looks like we aren't doing a invariant culture comparison. It's likely that your system culture is set to something that's not English (note: in [this documentation](https://github.com/Az

[2019-07-17 18:49] brandonh-msft commented on #3718
indeed. getting same behavior between local & azure now. Closing 👍

[2019-07-17 18:49] #3718 closed

[2019-07-17 20:25] kashimiz commented on #4674
@fabiocav, I believe this is an instance of a known limitation of the Durable Functions JavaScript, as described in Azure/azure-functions-durable-js#62. See also the current workaround detailed in that issue, which is to use an orchestrationClient output binding to start orchestrations.

[2019-07-17 20:26] mieliespoor commented on #4016
It seems that I haven't seen this happening anymore since I upgraded to the version that supports DI when that became available. My functions run a lot more stable and reliable now. I will close the issue since I believe it has been resolved.

[2019-07-17 20:26] #4016 closed

[2019-07-17 20:47] benmollet opened #4685 "Requesting ILogger<T> in Startup throws InvalidOperationException"
I am trying to use the logger in my dependency injection Startup class but it's throwing this exception because the providers have been registered but their dependencies have not been registered.

I am trying to get the logger because I was debugging an exception that was occurring in my code but since the exceptions caused by custom implementations don't bubble out to Application Insights it make

[2019-07-17 20:51] CastleArg commented on #4674
hmm that does look like the same problem.  Would that workaround be any better than the one above?  So the .NET host does not use http to orchestrate?  It looks like the best solution would be to port js host to whatever .NET uses.  I've had other problems with maxing out body size of the http request.
Cheers for the help.

[2019-07-17 21:19] soninaren commented on #4131
@MegoCs Thanks for the update. I am think that the `extension.json` file responsible for registering the extension may not generated correctly for the publish flow. We had a few bugs around that which were fixed in the new versions of `Microsoft.Net.Sdk.Functions` package. Please re-open / create a new issue if you reproduce this in the future. I would recommend moving to the latest version of `Mi

[2019-07-17 21:19] #4131 closed

[2019-07-17 21:24] mhoeger commented on #2625
Closing issue as given code does not compile and is currently showing the appropriate messages about not compiling.

[2019-07-17 21:24] #2625 closed

[2019-07-17 21:29] mhoeger commented on #3150
Closing as the multiple logs are expected

[2019-07-17 21:29] #3150 closed

[2019-07-17 21:32] mhoeger commented on #3845
assigning to @yojagad who is currently prototyping a fix. thanks!

[2019-07-17 21:33] #3951 closed

[2019-07-17 21:55] #4242 closed

[2019-07-17 21:55] artemious7 commented on #4001
I checked. No, I am not experiencing this issue when I turn detailedLogging back on. Thanks

[2019-07-17 21:56] #4001 closed

[2019-07-17 22:09] gzuber commented on #4503
`WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` being the same is fine if they're sharing the same storage account. However, `WEBSITE_CONTENTSHARE` being the same means both functions are looking at the same files/directories in that storage account for code/config files -- that's why they both update when you only change one.

The most common case for this happening is when there's a mistake in the AR

[2019-07-17 22:30] jcookems opened #4686 "Precise timestamps in Kusto logs on Linux"
While working with Rodrigo, he noticed that in Linux, the PreciseTimestamp is not a precise time stamp, getting emitted only every 30 seconds. It looks like in that case, it is correct to use EventTimestamp, which is a string and must be converted to a datetime. This has its own set of problems:
•	Kusto is more efficient to filter than transform, so this costs more
           As far as I know, Pre

[2019-07-17 22:33] jcookems opened #4687 "Duplicate "function.invoke.latency" logs"
@Paul, it looks like some of the logs in FunctionsMetrics table are duplicated (triplicated?) for Linux. Can you have someone take a look?

This is an issue for Analytics because we currently use FunctionsMetrics to determine invocation counts for functions. Looking at the FunctionsMetrics:
Execute: [Web] [Desktop] [Web (Lens)] [Desktop (SAW)] https://wawseus.kusto.windows.net/wawsprod
let StartDa

[2019-07-17 22:33] marmightygood commented on #4503
No ARM templates, this was just stopgap stuff being done via the GUI. I’ll check when I have access later but it’s possible the configuration file was copied from one function to the other.

--
This message has been scanned for viruses and
dangerous content by MailScanner, and is
believed to be clean.

[2019-07-17 22:45] mhoeger commented on #4665
@fabiocav and @brettsam - This issue is easy to reproduce, it feels like a regression?

[code]

[2019-07-17 22:58] fabiocav commented on #4665
If the steps on the docs are failing as described, yes, looks like a regression. Did you happen to see the specific operation that was restricted in the logs?

[2019-07-17 23:25] PureKrome commented on #4464
@kemmis nice update. I'd also add an extra explanation as to the _differences_ between localhost and azure settings/file locations (e.g. in the `bin` folder vs not in the `bin` folder but a level above [which is different to how netcore apps now work]).

Also, maybe a note about making sure the `appsettings.json`, etc files will need to be manually 'copy always' or 'copy when newer', to make sure

[2019-07-17 23:52] sandeepiiit commented on #4464
I have done something similar to get the correct directory based one environment. I make use of AZURE_FUNCTIONS_ENVIRONMENT and AzureWebJobsScriptRoot environment variables to achieve the same.

[code]
I posted this on [stackoverflow ](https://stackoverflow.com/questions/56457072/azure-functions-how-to-have-multiple-json-config-files/56475257#56475257) some time ago.

[2019-07-18 01:01] GFoley83 commented on #4425
The logs are coming through fine in App Insights, they're just showing up in the log streaming service console when you run the Azure function manually in the Portal, as the screenshot shows here:
https://github.com/Azure/azure-functions-host/issues/4425#issuecomment-492709003
![image](https://user-images.githubusercontent.com/838788/61421491-6863cd80-a95b-11e9-8281-8606845d4ad2.png)

It just logs

[2019-07-18 01:42] andrewb273 opened #4806 "Azure Functions Core Tools "cold start" experience locally"
### OS and Browser

- macOS 10.14.6 Beta (18G48f)
- Postman/Brave
- Azure Functions Core Tools (2.7.1373 Commit hash: cd9bfca26f9c7fe06ce245f5bf69bc6486a685dd)
- VS Code Version 1.36.1 (1.36.1)

### Repro steps

1. Create simple function in .Net:
[code]
2. Run functions, wait till list of Http Functions is printed in console.
3. Call `GET http://localhost:7071/api/Test` anywhere, such as in Postma

[2019-07-18 05:20] sandeepiiit commented on #4662
@ahmedelnably What is the behavior around functions with triggers _other than_ `HTTPTrigger`. Specifically, Queue, EventGrid & Timer triggered functions. If such a function happens to be processing an input, does it get aborted during a swap?

[2019-07-18 05:58] DigitalFlow commented on #2373
So, turns out when you use your Azure Function for connecting against Dynamics CRM and use the XrmTooling Assemblies, you even need to set Microsoft.IdentityModel.Clients.ActiveDirectory to v2.22.302111727, as this is the version that the CRM SDK requires.

[2019-07-18 06:23] ChristianWeyer commented on #3370
... I keep knocking for the upcoming years ... 😇 @fabiocav @jeffhollan

[2019-07-18 11:36] AmitSawnt commented on #4175
One more thing related to queue triggered azure functions:
Queue Triggered Function will delete the incoming message automatically at the end of function execution,
so if you want to make sure that your message should stay in the queue until you remove it, then at the end of the function's Run method throw an exception like this:
` throw new FunctionException("Failed to process message. Retrying "

[2019-07-18 12:58] brettsam opened #4689 "Use scopes to direct logs to correct file"
Today the FileLogger (what you see in the portal when invoking functions) figures out the correct file to write to based on the `Function.{FunctionName}.User` standard category that we use. However, we should be able to look at the scope as well to see if there's a function name. If so, write there.

[2019-07-18 12:59] brettsam commented on #4425
Ah yes -- that's because the only way we know how to direct the logs to that window are via the logger's category. If it matches the form `Function.{FunctionName}.User` category, we then know which function they came from, so we can show them there. There's likely a way to make this work, though -- I've opened #4689 to track this.

[2019-07-18 13:21] brettsam commented on #4683
I suspect this is due to the npm install taking a long time on the worker.

@jameshowe, how are you doing your deployment?

@mhoeger can correct me if I'm wrong, but I believe the recommendation is to use [Run from Package](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package), which can help with cold start. Combined with [deploying with dependencies](https

[2019-07-18 13:27] brettsam commented on #4685
You can't request an `ILogger<>` during service initialization -- some of the loggers haven't had all of their dependencies registered at this point. You should be requesting an `ILogger<>` in the constructor of the class that needs it -- where is that?

What do you mean by "exceptions caused by custom implementations don't bubble out to Application Insights"? Any exceptions should be getting logg

[2019-07-18 13:33] brettsam commented on #4686
Do we know what the solution is for this? I assume that the logs we emit for Linux should be in a different format?
@balag0, is the Linux kusto logging something that you added in the past?
Adding @divyagandhii also.

[2019-07-18 13:34] brettsam commented on #4687
@balag0 -- is this another one for you? Feel free to push back to someone else, I'm not sure who owns this pipeline :-)

[2019-07-18 13:38] brettsam commented on #4655
@lmolkova is the expert on this -- can you do `Activity.Current.SetParentId(requestId)`?

[2019-07-18 13:39] brettsam commented on #4663
Going to close this as I believe it's due to an unsupported scenario of calling `AddApplicationInsights()` during startup. Feel free to reopen (or even ask more questions).

[2019-07-18 13:39] #4663 closed

[2019-07-18 13:46] abinayasekar93 commented on #4665
@fabiocav There are no other specific information available in the logs except the above mentioned one.

[2019-07-18 15:07] jameshowe commented on #4683
@brettsam so that would make sense, I didn't consider the idea that on every cold start `npm i` runs.

This is currently setup to run as part of an Azure Pipelines integration, is there a means of deploying as a package through Azure Pipelines?

[2019-07-18 15:12] fabiocav commented on #4665
Sorry if that wasn’t clear, but that was a question for @mhoeger . E identified the issue yesterday and we’re investigating a solution. Will keep this issue open to track. Thanks again for reporting!

[2019-07-18 15:52] mhoeger commented on #4665
@fabiocav - The message that popped up was "rejected file path access" for dotnet.exe, but it's not more specific beyond that!

[2019-07-18 16:02] mhoeger commented on #4683
@jameshowe - yep! Check out our docs here on [deploying with Azure pipelines](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-azure-devops). Closing this issue as resolved, but feel free to ping me in an issue if the docs are unclear or you run into an issue!

[2019-07-18 16:02] #4683 closed

[2019-07-18 17:14] fabiocav commented on #3370
@ChristianWeyer and others, let me share a way to address this that requires a bit of code, but it's relatively clean...

You can use the DI support (add a reference to `Microsoft.Azure.Functions.Extensions`) to configure some of this behavior. The following should address your issue:

[code]

We're looking into options to do this out of the box with an opt-in model (as some of the behavior differ

[2019-07-18 17:19] fabiocav commented on #4665
That, with the other details you've found, tells us what is happening. The .NET CLI is attempting to write to a read only location in recent releases, and that is causing the issue. We're working to get a fix out ASAP.

[2019-07-18 17:54] fabiocav commented on #4665
While we work on a permanent fix, a known mitigation is to set the following app setting in your Function App:

Name: `DOTNET_SKIP_FIRST_TIME_EXPERIENCE`
Value: 1

Again, apologies for the issue. We'll have a permanent fix in place as soon as possible.

[2019-07-18 18:52] #3745 closed

[2019-07-18 19:15] f2bo commented on #3745
@gzuber  Quick question, is this fixed in V1, V2, or both?

[2019-07-18 19:50] fabiocav commented on #3745
Good question. The fix was for V2 only, but this is something we should backport.

@gzuber

[2019-07-18 20:06] f2bo commented on #3745
Yes, please. I originally started this thread last year. We're still stuck on V1 because of a dependency that's not supported under .NET Core and even though we haven't seen these crashes recently (maybe because we're not relying on streaming logs as much?), we'd be much happier if it didn't happen any more.

[2019-07-18 20:29] fabiocav commented on #73
This is not something we're currently tracking or planning to execute on. Closing to reflect that.

[2019-07-18 20:29] #73 closed

[2019-07-18 20:32] fabiocav commented on #448
This is no longer planned. Closing.

[2019-07-18 20:32] #448 closed

[2019-07-18 20:33] fabiocav commented on #311
Closing this issue as it is stale and has not come up since opened

[2019-07-18 20:33] #311 closed

[2019-07-18 20:41] fabiocav commented on #1360
This is supported with the pre-compiled model. Documentation applies, but we don't currently plan on providing samples and templates.

[2019-07-18 20:41] #1360 closed

[2019-07-18 20:43] fabiocav commented on #4674
Will chat with @kashimiz . But for now, closing this issue in favor of the one in the Durable JS repo.

[2019-07-18 20:43] #4674 closed

[2019-07-18 20:52] lmolkova commented on #4655
@brettsam
unfortunately no.

`Activity.Current.SetParentId(requestId)` is not possible: SetParentId works only before activity is started. And activity has to be started to become Current.

@Badabum
If you do this (below), the function execution (request telemtery) will not be correlated to anything else that you report under the scope of new activity.

[code]

As a workaround:
1. on the producer

[2019-07-18 21:36] fabiocav commented on #3745
There's actually an issue I've opened a few days ago to track this work for V1 (https://github.com/Azure/azure-functions-host/issues/4573), let's use that to follow the progress on getting this backported. Shouldn't take long.

[2019-07-18 22:17] mathewc opened #4691 "Investigate Large SyncTriggers Payloads"
We're seeing failures in the Front End logs for a small percentage of customers where their SyncTriggers calls are being rejected due to the payload being too large. We need to investigate some of the customers with extremely large payloads to see what is pushing them over limit. There might be fixes we need to make in the construction of the payload to exclude some things.

To find some of the bi

[2019-07-18 22:22] mathewc opened #4692 "Increase MaxTriggersLength once ANT 84 is fully deployed"
In ANT 84 we've doubled the limit from 102400 to 204800. Once it is fully deployed, we should raise the limit correspondingly in the runtime.

See related PR https://github.com/Azure/azure-functions-host/pull/4676.

[2019-07-18 22:42] fabiocav commented on #4464
I want to leave a warning here when using this approach. There's a reason this wasn't exposed with the startup. The work to make this happen is trivial in the host, but we can't perform that work in isolation.

While this works and the host will happily load configuration, if you add things like connection strings and some other trigger configuration to sources outside of the ones currently suppor

[2019-07-18 22:55] fabiocav commented on #3399
Just to provide an udpate, as promised (since I'll also be out for a couple of days).

We have a fix for this in validation right now. Because of the nature of the issue, full validation may not be completed before we cut the next release (which happens early next week), so it's possible that it wouldn't be on the next drop, but on the following one. If that happens, we'll investigate the possibil

[2019-07-18 23:19] PureKrome commented on #4464
@fabiocav can you please elaborate on this point with some examples. I don't fully understand, please 😊

[2019-07-18 23:31] PureKrome commented on #4594
@fabiocav Why are you injecting an `IServiceProvider` into the ctor, only to then retrieve the `ITimestampService` from the service provider? Shouldn't `startup` correctly define the _scope_ of the interface?

vs

registering the `ITS` in `startup` and then injecting that directly?
[code]

[2019-07-18 23:56] fabiocav commented on #4464
Sure... some infrastructure pieces, particularly in the consumption model, need to monitor trigger sources and some configuration options that control the Function App behavior. One example of such component is the scale controller.

In order to activate and scale your application, the scale controller monitors the event source to understand when work is available and when demand increases or decr

[2019-07-19 00:00] fabiocav commented on #4594
Yes. That would be the common thing to do. The code above is not mine, I just updated the repro provided by @andronachev to make it work (which I found using the link he provided above, here: https://github.com/andronachev/FunctionDependencyResolution/blob/9bc88aa272d637114f6067a853a238fb8d25ccbf/ObjectSharp.Seminar.Serverless/Functions/HealthFunctions.cs)

I didn't want to make assumptions about

[2019-07-19 00:25] PureKrome commented on #4464
OK - that does help me understand (and I hope, others also :) )

So to clarify ...

Azure Functions has some hardcoded conventions for configuration with respect to the built in 'stuff' like triggers. This convention is to use `hosts.json` ([docs ref](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json)) for application settings (like queue settings or logging settings) and

[2019-07-19 00:30] PureKrome commented on #4594
Thanks for the reply @fabiocav  - really appreciate it!

[2019-07-19 00:50] PureKrome opened #4694 "What is a Function Execution Lifetime?"
Another question folks on the topic of scoped services in Azure Functions.

Related to #3399 and #4576 .

[Re: Service Lifetimes, the docs state](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#service-lifetimes) that a scoped service:

Ok - so this sounds great .. but what defines `a function execution lifetime` ?

Does this mean each time a 'trigger'

[2019-07-19 01:42] itsknob commented on #2279
Any updates on this?

[2019-07-19 02:14] APIWT commented on #3399
@fabiocav Can you link to the branch?

[2019-07-19 06:02] andronachev commented on #4594
@fabiocav thanks a lot for the input - I haven't got to testing it yet, but it should work. And yes, I get the Type dynamically, so that's why I need the IServiceProvider. I'll update this thread once I test

[2019-07-19 07:39] IanKemp commented on #3759
I encountered this issue today with VS 2017 Pro, on the latest available versions, and had to use the script to get things into a working state. So this is still not auto resolving for everyone.

[2019-07-19 11:04] jameshowe commented on #4683
@mhoeger so firstly, it's _a lot_ better now with deploying as a package 😃. However, still cold start times of around ~10-12s on occasion, would you say that's expected? I was hoping for less than 10s.

[2019-07-19 12:25] mgfink commented on #4486
Would it be possible to tweak the proxy somehow to alter the back-end response headers as follows?

Before:
Set-Cookie: ...value..., ...value..., ...value..., ...

After:
Set-Cookie: ...value.. ,
Set-Cookie: ..value... ,

I'm wondering if this is something that could be done on the user side since we have the ability to alter response headers.

[2019-07-19 14:02] qdi-jeffd commented on #4304
Are there any updates on this issue? The Workaround doesn't seem to be working for me. I do see that the copy step is working and my projectname.deps.json file is copied to the bin folder as function.deps.json but then it is still failing with the System.Private.ServiceModel file not found error on generating the functions.

I dug into the runtimes folder and I do see the dll in there, however des

[2019-07-19 15:55] pragnagopa commented on #4076
cc @amamounelsayed

[2019-07-19 17:03] fabiocav commented on #4694
This full lifetime is from the moment the trigger fires (the invocation is dispatched through WebJobs) to the point the output bindings (if any) execute The following happens within a scope: [`trigger --> input bindings --> function code --> output bindings`].

Yes. If using instance methods, each invocation will create a new instance of the function class. All parameters passed into the construct

[2019-07-19 17:16] fabiocav commented on #4687
Maybe @divyagandhii ?

[2019-07-19 18:46] frnk01 commented on #4498
@gzuber Look below for latest exception.

_New receiver with higher epoch of '1070' is created hence current receiver with epoch '1069' is getting disconnected. If you are recreating the receiver, make sure a higher epoch is used. TrackingId:294f1eed0003c88b005c3b6b5d312e00_G17_B31_

I`m also recieving a storage exception, not sure if related but here is the message for that one.
_The lease ID spe

[2019-07-19 20:56] pragnagopa commented on #3117
@yojagad - Will you be able to look into this?

[2019-07-19 21:07] ossentoo commented on #3418
No

[2019-07-19 21:28] MauriRojas commented on #4625
@kashimiz Thank you for your answer. We will collect that information and upload it the next days.

[2019-07-19 21:30] yojagad commented on #3117
Sure thing!

[2019-07-19 21:58] #4648 closed

[2019-07-19 22:35] fabiocav commented on #703
Closing this as in 2.0, this is no longer applicable.

[2019-07-19 22:35] #703 closed

[2019-07-19 22:37] fabiocav commented on #737
@mathewc though a some of what you've described above hasn't been done, we've been able to get rid of most of that logic for all but a couple of extensions, so I'll go ahead and close this.

Feel free to reopen and comment if you feel there's still something we should be following up on.

[2019-07-19 22:37] #737 closed

[2019-07-19 22:44] fabiocav commented on #4671
Not sure if you verified this, but your best option might actually be to move those connection strings to app settings instead. One advantage is that you can use the `ConnectionStrings:` prefix there as there is no other prefix added by the infrastructure.

[2019-07-19 22:53] fabiocav commented on #912
@jeffhollan this issue has a lot of activity and evidence that we need to enhance the feature and/or documentation for a lot of the scenarios described above. Can we (perhaps after a sync) define concrete items so this issue is actionable? If we don't believe there's any action to be taken on this (this issue suggests there is), we should close this instead with a clear description and guidance.

[2019-07-19 22:56] fabiocav commented on #838
This issue has been opened for a while and has covered a few different scenarios over the years. To make sure we're investigating new issues reported (as they won't have the same root cause), please open new issues so we have the right context and things are not missed.

Closing this.

[2019-07-19 22:56] #838 closed

[2019-07-19 23:28] fabiocav commented on #4686
I think the solution would be to standardize on EventTimestamp, as that column was added exactly to deal with issues with PreciseTimestamp. If the format is an issue (how impactful is the conversion?) we can look at changing that, but do we know if simply changing the format is sufficient to have Kusto interpret that as a datetime column?

[2019-07-19 23:46] jwisener commented on #4671
we have a lot of other .net core apps we would have to go thru and change to accommodate that. But i did verify, it has to be in app-settings section. Or else it never triggers after it goes inactive. The ___ makes it hard run locally in our dev environments for local settings. I was thinking maybe I can set what I need via the webjobbuilder instance at startup. We make heavy use of the appsetting

[2019-07-19 23:47] fabiocav commented on #4625
While this works with the WebJobs SDK and in Azure Functions with App Service Plans (dedicated), this is not a supported scenario in Azure Functions using the consumption model, as the infrastructure will not be using your name resolver in order to get the name of the queue it needs to monitor. Please see this section of the documentation (we'll update this with a list of services you can override

[2019-07-19 23:47] #4625 closed

[2019-07-19 23:50] fabiocav commented on #4671
You shouldn't need to use `__` if using app settings, the colon delimiter would work (though, .NET Core will handle both delimiters).

[2019-07-19 23:52] fabiocav commented on #4671
Closing this as I believe we now understand what was happening and how to deal with it, but let me know if you feel this isn't the case. And thanks for providing the additional information requested and testing so quickly! That was very helpful.

[2019-07-19 23:52] #4671 closed

[2019-07-19 23:54] fabiocav commented on #4655
Thank you @lmolkova ! Closing this as answered.

[2019-07-19 23:54] #4655 closed

[2019-07-20 00:04] jwisener commented on #4671
Thanks @fabiocav!

[2019-07-20 01:33] cgillum commented on #3624
@soninaren this was quite some time ago and I don't imagine we have the code available. However, from the call stack you can see that the OutOfMemoryException happens in the C# script code, so I think the repro would be:

1. Create a C# script function app in the portal that allocates too much memory
2. Trigger it and validate that there is an OutOfMemoryException
3. Wait a few minutes and try to

[2019-07-20 03:21] GFoley83 commented on #4689
Is there a temp work-around I could use to get the logs to show up in the log-streaming console window of the Azure function? https://github.com/Azure/azure-functions-host/issues/4425#issuecomment-512623724

[2019-07-20 04:27] jcbrooks92 commented on #3994
Here's an example of an ARM template with integration between Event Grid and functions
[](https://github.com/jcbrooks92/EventGridAzureFunctionARMTemplate/blob/master/azuredeploy.json)

[2019-07-20 07:44] galvesribeiro commented on #3370
@ChristianWeyer make sure the attribute and the base class are as on his example.

[2019-07-20 07:48] sohailbujhs commented on #4473
Hi @gzuber the time out issue has been occurred randomly when function tries to run select statement on sql table. Although tables doesn't have many records and app insight shows only time out issue

[2019-07-20 08:26] ChristianWeyer commented on #3370
They are, thanks for the idea @galvesribeiro

[2019-07-20 18:04] Badabum commented on #4655
Thanks a lot @lmolkova! The really informative answer. To answer your question, I just defined a common event object structure in a form like this:
[code]
Then it is converted to json string. So the payload of queue message contains correlation information in my case. Based on your answer it should be relatively easy to add `ParentId` property to `CorrelationMetadata` object.

[2019-07-22 09:25] Regenhardt opened #4698 "'The function runtime is unable to start.' after building template in Sandbox"
#### Check for a solution in the Azure portal
The  `Diagnose and solve problems` blade in the azure portal just loads forever (20min, doesnt make sense to wait even longer).

#### Investigative information

Please provide the following:

- Timestamp: 2019-07-22T08:51:15.369Z
- Function App version (1.0 or 2.0): 2.0
- Function App name: timer-test-mr1990
- Function name(s) (as appropriate): TimerTr

[2019-07-22 09:38] Regenhardt commented on #4698
Update: Added a function with Azure Blob Trigger as per the next MS-Learn module, got the following error message:

Error:

Host Error: [object Object]

Session Id: bd08575526ce4ba0b6c326f7608a9a50

Timestamp: 2019-07-22T09:37:27.881Z

[2019-07-22 09:43] SaebAmini commented on #3189
Azure functions handling appsettings unconventionally has been a great source of headache for us during recently. Whatever the original reason for it was, I think support for appsettings.json files should be added as a priority, especially since there isn't any clear documentation on how to publish your local.settings.json values easily into your function app as part of your CD pipeline.

[2019-07-22 13:12] jcageman opened #4699 "Exponential backoff int64 overflow"
The following line in ComputeBackoff can cause a Int64 overflow:
https://github.com/Azure/azure-functions-host/blob/b44799489586e1912877160e3cfee2a276463a37/src/WebJobs.Script/Utility.cs#L123

So far i only noticed it locally, but it can probably happen on azure itself as well!

[2019-07-22 15:14] ruskh commented on #4532
Thank you so much for looking into this , i will try
1. Passing in an` HttpClientHandler`
2. Reproducing outside a function app
And report back this week

[2019-07-22 19:02] canoas opened #4700 "Inconsistent folder behavior in Powershell"
One of my colleagues is getting different path when using
[code]
In my case I get the folder where my function is located (run.ps1) but a newer machine is getting the Functions folder

Did some search and found these variables in the wiki https://github.com/Azure/azure-functions-host/wiki/Retrieving-information-about-the-currently-running-function

but running with the vars got me null values on l

[2019-07-22 19:46] #4526 closed

[2019-07-22 20:54] kzryzstof commented on #4465
@ConnorMcMahon Have I provided you with enough information?

[2019-07-22 20:59] ConnorMcMahon commented on #4465
Yes, thank you @KrzysiekKnigawka. I will investigate it this week.

[2019-07-22 21:42] danielkboyer commented on #4049
I am having the same problem.... I can't drop down to Newtonsoft.Json ( = 9.0.1) as have I have a dependency that uses a much higher library. Is there a work around to this?

[2019-07-22 22:00] #4619 closed

[2019-07-22 22:00] #4125 closed

[2019-07-22 22:00] #3720 closed

[2019-07-22 23:00] #4646 closed

[2019-07-22 23:00] #4601 closed

[2019-07-22 23:00] #4593 closed

[2019-07-22 23:00] #4568 closed

[2019-07-22 23:00] #4457 closed

[2019-07-22 23:00] #3364 closed

[2019-07-22 23:00] #3328 closed

[2019-07-23 00:00] #4017 closed, assigned to nobody

[2019-07-23 01:00] #4487 closed

[2019-07-23 01:00] #4481 closed

[2019-07-23 01:00] #4470 closed

[2019-07-23 01:00] #4010 closed

[2019-07-23 01:00] #3918 closed

[2019-07-23 01:00] #3576 closed

[2019-07-23 01:00] #3592 closed

[2019-07-23 01:00] #3574 closed

[2019-07-23 01:00] #3538 closed

[2019-07-23 01:00] #3526 closed

[2019-07-23 01:00] #3162 closed

[2019-07-23 01:18] amwayDarshana commented on #4049
@danielkboyer  what is the library that require higher newtonsoft json?

**My workaround related to this issue.**
I solved this problem without upgrading newtonsoft version.
I have to use jwt Okta token authentication in azure function and I need Microsoft.IdentityModel.Protocols.OpenIdConnect version 5. So it required newtonsoft version 11 which I cannot use in azure function V1.

Solution is use

[2019-07-23 03:43] PureKrome commented on #4694
Thanks heaps @fabiocav for the answer - really appreciate it! Helps answer my questions and I also feel a bit more relief because I was _hoping_ that's what you were going answer. phew!

[2019-07-23 03:43] #4694 closed

[2019-07-23 10:07] IanKemp opened #4701 "Add more explicit documentation around logging"
There are a large number of issues filed against this project regarding how to correctly perform logging in Azure function - in particular, the fact that your function's method is provided an already-instantiated `ILogger` object, whereas any DI-injected loggers have to be of type `ILogger<T>`, which is somewhat confusing.

Furthermore, there is the additional issue whereby logs are filtered by de

[2019-07-23 11:29] BenWhite27 commented on #3888
Just hit this myself C# .NET Core 2.2, NuGet package v3.0.6

[2019-07-23 11:37] FilipVanRaemdonck opened #4702 "Offline Hoststate"
Hi,

I have a function written in C# (netcoreapp2.2, azurefunction v2, latest sdk from function sdk's). this function is running for a few months already and we have been deploying to it with a gitlab pipeline using the zipdeploy functionality. However, the when we deployed yesterday (22/07/2019 at about 03:32 PM) the function received a 'config update': File change of type 'Changed' detected for

[2019-07-23 12:45] chris-rogala opened #4703 "After switching to new DI, getting Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException"
We just switched over to the new DI pattern in our Functions.  Code that was working previously, is now failing.  In our code, we decrypt data using X.509 certificates installed in the function.  The same exact code is running in our App Service, and never fails.  The code is very basic, and I have used it for years.

In functions, it throws an

The inner most message says

We have put in a ticket

[2019-07-23 14:03] andreujuanc commented on #4304
@qdi-jeffd It works, but the filename must be function.deps.json
I just did it again today for one more project.
Let me know I can help you further.

[2019-07-23 14:28] danielkboyer commented on #4049
Hi @amwayDarshana I am using the Azure Data Factory library, I was able to solve my issue by downgrading my newtonsoft to 10.0.3. That version satisfies both the data factories needs and the azure function (Even though it says that it needs 9.0.1).

[2019-07-23 15:00] #4535 closed

[2019-07-23 15:22] TehWardy commented on #4049
@amwayDarshana given the references you're talking about there that's not a solution, you just injected a security risk in to your code base.

I have found however that this is a warning, if you directly reference in the root level project (like an app) the latest version, it'll override the others and force the entire code stack for the app to use the version you reference.

It might result in so

[2019-07-23 15:54] qdi-jeffd commented on #4304
I was able to get it working via the workaround in the following comment:
[https://github.com/Azure/azure-functions-host/issues/3568#issuecomment-433146109](https://github.com/Azure/azure-functions-host/issues/3568#issuecomment-433146109)

[2019-07-23 17:40] dariagrigoriu commented on #4469
More generically expanded health monitoring and recovery is needed for running containers.

[2019-07-23 17:42] dariagrigoriu commented on #4073
No repro, closing for now.

[2019-07-23 17:42] #4073 closed

[2019-07-23 18:52] fabiocav commented on #2279
Thank you for the feedback.

Assigning this for triage again since it didn't make it  in the a previous sprint it was allocated to.

[2019-07-23 20:51] fabiocav commented on #3189
@ahmedelnably could we track documentation improvements to address what @SaebAmini mentioned above?

[2019-07-23 21:51] panjevic commented on #3784
@fabiocav Workaround posted above works when deploying locally. However, after publishing from Visual Studio, I get the error on the portal. What am I doing wrong?

Function (GetRecords) Error: Microsoft.Azure.WebJobs.Host: Error indexing method 'GetRecords'. Microsoft.Azure.WebJobs.Extensions.Storage: Can't bind Table to type 'Microsoft.WindowsAzure.Storage.Table.CloudTable'.

[2019-07-23 22:37] brettsam opened #4705 "Explicitly handle and log startup errors"
For example, if an invalid storage connection string is set in an App Setting, we will throw an exception very early in the startup pipeline (specifically in BlobStorageSecretsRepository). This will go unhandled and cause the process to exit, leaving us with no trace of the error.

We need to catch and log this properly.

[2019-07-23 22:41] fabiocav commented on #4703
@chris-rogala can you please share the app information requested in the issue template so we can take a closer look at your application logs? Thanks!

[2019-07-23 22:42] fabiocav commented on #4702
@FilipVanRaemdonck can you please share the application information requested in the issue template? That will help us take a closer look at exactly what happened to your app.

[2019-07-23 22:44] fabiocav commented on #4705
Flagging this as a supportability issue.

[2019-07-23 22:47] chris-rogala commented on #4703
We put in a ticket, do you want me to ask them to forward the ticket your way?

[2019-07-23 22:48] fabiocav commented on #4701
@brettsam can you comment? Should this be moved to docs?

As a side note, I'm really considering just supporting `ILogger` as an injected service with a pre-defined category as it seems to be a common source of confusion.

[2019-07-23 22:49] fabiocav commented on #4703
That works.

[2019-07-23 23:08] brettsam commented on #4701
For discoverability, I've been linking all of these to this comment: https://github.com/Azure/azure-functions-host/issues/2720#issuecomment-503627355

We definitely need a deeper logging sample, for example you can call `AddLogging()` and wire up new providers. A good example using some external provider would go a long way.

If we can decide on a category for the `ILogger`, I now think we should

[2019-07-23 23:24] soninaren commented on #4665
Fix has been checked-in and is being deployed as part of this release
https://github.com/Azure/app-service-announcements/issues/188

Please use https://github.com/Azure/app-service-announcements-discussions/issues/105 for discussions related to the release.

[2019-07-23 23:24] #4665 closed

[2019-07-24 00:51] alex-mocanu opened #4706 "Access to the registry key 'Global' is denied"
I am running an executable in a Function App and in the log generated by my executable I get the following error:

[code]

Can you give me a hint about what could be the problem?

[2019-07-24 01:46] SaebAmini commented on #4304
The only workaround that did the job for me was copying the DLL from the runtime folder, to the bin folder, after build, by adding this to my Azure Function app csproj, I noticed the DLL is copied there, but the function host doesn't know how to find it:

[code]

[2019-07-24 01:46] SaebAmini commented on #3568
The only workaround that did the job for me was copying the DLL from the runtime folder, to the bin folder, after build, by adding this to my Azure Function app csproj, I noticed the DLL is copied there, but the function host doesn't know how to find it:

[code]

[2019-07-24 02:15] simonlegeek opened #4708 "Function App 2.0 suddenly stopped working tonight"
We have a FunctionApp v2 running since a while. Everything was working fine until tonight. Between 6:02PM (UTC-4) and 9:18PM (UTC-4), the function recorded absolutely no hit at all. Azure App insight was completely empty for that time period, no exceptions, no requests. It started working again after restarting the FunctionApp using the portal. I am clueless about how to start troubleshooting this

[2019-07-24 06:00] #3528 closed

[2019-07-24 07:47] FilipVanRaemdonck commented on #4702
- Timestamp: 22/07/2019 03:27 until 03:33 PM (and offline until the morning after)
- Function App version (1.0 or 2.0): 2.0
- Function App name: buhler-dev-we-ingestion-pipeline
- Function name(s) (as appropriate): all stopped
- Invocation ID: /
- Region: West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

#### Expected behavior

Provide a description of the expect

[2019-07-24 08:19] jtemperv commented on #3399
Hi @fabiocav any updates if it made the release or is available as an opt-in feature? We're really struggling with a project that needs to go-live. Having more and more difficulties postponing it. On the other hand I don't want our engineers investing too much time in a workaround if the fix is just days away instead of weeks. Thanks for your understanding.

[2019-07-24 11:15] mikebollanddp commented on #4452
![image](https://user-images.githubusercontent.com/52451126/61789459-a99d2700-ae0c-11e9-952b-1826f39148fd.png)

[2019-07-24 11:28] AnunnakiSelva commented on #4452
"Never resolve a scoped service from a singleton service." --> resolve lower lifetime with higher life time.

 https://blog.markvincze.com/two-gotchas-with-scoped-and-singleton-dependencies-in-asp-net-core/

[2019-07-24 16:32] jcookems commented on #4686
All other Antares log tables in Kusto use PreciseTimeStamp to indicate when the event was emitted. The Linux mechanism that exports the logs should conform to that design. That would be the least disruptive change.

There is at least on issue with EventTimestamp: https://github.com/Azure/azure-functions-host/issues/3619

Kusto, and I assume Geneva's MDS pipeline, already understand this column to

[2019-07-24 17:34] fabiocav commented on #4686
We'll follow up on the problem with `EventTimstamp` using the other issue, but there are problems with `PreciseTimestamp` today (and that is the reason why `EventTimestamp` was introduced). `PreciseTimestamp` shows the time the ETW event was emitted, but in some event batching scenarios, that isn't accurate, so the event itself carries its timestamp.

I understand `PreciseTimestamp` is used today

[2019-07-24 17:38] mhoeger commented on #4683
@jameshowe - Really glad to hear! 10-12 seconds is very high in values we see, but isn't completely out of the norm. I'm working on a change to bring this down a lot for javascript (if you see things about "placeholders", that's what it is). There are underlying platform changes that are making this change slower to make. But just so you know it's a change that's coming soon!

[2019-07-24 18:06] yojagad commented on #4708
@simonlegeek Can you please share the application information as specified in the issue template? This could help us take a closer look.

[2019-07-24 18:20] jcookems commented on #4686
We can use EventTimestamp, the issue with that design is that the obvious way to do things is inconsistently wrong.

Consider a person on servicing that turns to Functions logs to get data. They are familiar with PreciseTimeStamp from looking at the front-end logs. They might have even used PreciseTimeStamp for Functions logs, and it *is* correct there for Windows machines.

Now it is 2AM, and the

[2019-07-24 18:23] fabiocav commented on #4706
If you can provide the app information requested in the issue template, that would help validate, but based on the error above, you seem to be running into a sandbox limitation when one of your dependencies is attempting to read that registry key. While reads are generally allowed, depending on the key/hive you're working with, you may run into permission issues. You can find more information here

[2019-07-24 18:23] #4706 closed

[2019-07-24 18:25] fabiocav opened #4710 "Ensure build artifacts from release branches use release configuration"

[2019-07-24 18:43] ChristianWeyer commented on #4683
Are those changes only for node.js or also for other platforms @mhoeger ?

[2019-07-24 19:48] #4710 closed

[2019-07-24 19:55] soninaren commented on #4437
Have created a new index endpoint.
https://functionscdn.azureedge.net/public/ExtensionBundles/Microsoft.Azure.Functions.ExtensionBundle/index-v2.json

[2019-07-24 19:55] #4437 closed

[2019-07-24 20:13] fabiocav commented on #4659
Completed

[2019-07-24 20:13] #4659 closed

[2019-07-24 20:14] mhoeger opened #4712 "Test Node.js with placeholders"
Test:
- Going through Placeholders
- Not going through Placeholders
- x64 and x86 tests (Placeholders only apply for x86)
- Node 8 vs 10
    - Node 10.0.0 (not latest) - no placeholders
    - Node ~10 (placeholder) and ~8 (no placeholder)
    - Node exact match for latest (10.15.2, placeholder)
- With / without RUN_FROM_PACKAGE

[2019-07-24 20:16] mhoeger opened #4713 "Whitelist Node.js for placeholders"
1. Whitelist node (Windows and Linux) https://github.com/Azure/azure-functions-host/blob/f1d0536afa45855a5150abebbf26b9b1b4210f41/src/WebJobs.Script/Rpc/RpcInitializationService.cs#L30 https://github.com/Azure/azure-functions-host/blob/f1d0536afa45855a5150abebbf26b9b1b4210f41/src/WebJobs.Script/Rpc/RpcInitializationService.cs#L34
2. Cache node version (`WEBSITE_DEFAULT_NODE_VERSION` from App Setti

[2019-07-24 20:26] fabiocav commented on #4529
@yojagad should this be moved to sprint 55?

[2019-07-24 21:12] soninaren opened #4715 "Tracking issue: Move OGF's to devops"

[2019-07-24 21:12] soninaren opened #4716 "Tracking issue: Clean up OGF's"

[2019-07-24 21:14] soninaren opened #4717 "Tracking issue: Streamline the release process"
- Move the release process to individual manual steps in devops

[2019-07-24 21:42] fabiocav commented on #1309
This is no longer applicable. All 2.0 PDBs are embedded and site extension PDBs are packaged with the build.

[2019-07-24 21:42] #1309 closed

[2019-07-24 22:02] wenhzha opened #4718 "Function Host Stuck In Secret Manager Initialization"
The function host got stuck in secret manager initialization on a webworker causing the function app was not able to trigger. Please use this [icm](https://icm.ad.msft.net/imp/v3/incidents/details/133852690/home) link for details to proceed investigation.

[2019-07-24 22:07] #3975 closed

[2019-07-25 01:07] alrod commented on #1742
Closed as an old issue.

[2019-07-25 01:07] #1742 closed

[2019-07-25 01:22] user0604 commented on #4081
I'm having the same problem stated in the topic, i.e.

and

messages are displaying as popups.

My situation doesn't allow me to recreate the Function app (it's loaded with settings out of my scope, and more importantly, company policy). The app was created on portal, then I imported it into VS, do the coding locally, then publish back to Azure. The code and code-based settings of it is extracted

[2019-07-25 02:48] CastleArg commented on #1781
I'm having a problem here with getStatusQueryUris, eg
http://myApp/runtime/webhooks/durabletask/instances/xxxxxxx

I have a catch all proxy to route to SPA UI and have more specific proxies e.g /api/myFunc for actual backend stuff.
However it is now impossible to query status.

Hitting the statusQueryUri will be routed to SPA UI, and I cannot make a proxy to force tit to the backend due to this is

[2019-07-25 10:16] MaxHogervorst commented on #85
Setting a dynmic name for non .net languages

[2019-07-25 14:00] #4685 closed

[2019-07-25 14:28] mbusila commented on #4464
@fabiocav can you enumerate the list of sources supported? Is Azure Key Vault part of it?

[2019-07-25 15:15] kemmis commented on #4464
Kv is working fine for me.

On Thu, Jul 25, 2019 at 10:28 AM mbusila <notifications@github.com> wrote:

[2019-07-25 16:35] Vijay-Karthick commented on #85
Thank you @adriennn . This worked for me.

[2019-07-25 17:20] ahmedelnably commented on #4662
@sandeepiiit the request will finish, note that it is your responsibility to manage the settings for your app. and the connection strings through slot settings

[2019-07-25 17:26] gzuber commented on #4573
Closed with #4711

[2019-07-25 17:26] #4573 closed

[2019-07-25 19:00] #4503 closed

[2019-07-25 20:19] fabiocav opened #4720 "Sprint 54 V2 Runtime Release"

[2019-07-25 20:32] fabiocav commented on #4718
@alrod FYI, I believe this was from an incident you were looking at

[2019-07-25 21:06] fabiocav commented on #254
Closing this issue as we're not currently tracking this work.

[2019-07-25 21:06] #254 closed

[2019-07-25 21:07] fabiocav commented on #462
This has been obsoleted by the pre-compiled function support.

[2019-07-25 21:07] #462 closed

[2019-07-25 21:11] fabiocav commented on #325
@paulbatum the schema we've published since this issue was opened has helped with this, but I think it would still be helpful.

Will move this to `triaged` so we can discuss.

[2019-07-25 21:11] fabiocav commented on #470
Closing this issue as we're not currently tracking this work

[2019-07-25 21:11] #470 closed

[2019-07-25 21:12] fabiocav commented on #530
This has been addressed in 2.0. Closing.

[2019-07-25 21:12] #530 closed

[2019-07-25 21:13] fabiocav commented on #898
Much of this has been enabled with the MSI support that was introduced. Closing this as resolved, but fee free to follow up if needed.

[2019-07-25 21:13] #898 closed

[2019-07-25 21:15] fabiocav commented on #4714
@jeffhollan this was originally (before transfer) labeled as a P1. I'm labeling this a P2, but let me know if you want to raise the priority.

[2019-07-25 21:22] fabiocav commented on #4699
Indeed. Curious, did you actually run into an exception with this code path? Do you have the stack for this? There are two main code paths that use this, host restarts and the file watcher recovery. Curious to understand which one caused the problem (though, both are exposed).

[2019-07-25 22:42] yojagad commented on #4529
@IvanAlekseev  Can you check if the workaround provided here addresses your issue? https://github.com/Azure/azure-functions-host/issues/3370

Basically, you should be able to use DI (by adding a reference to Microsoft.Azure.Functions.Extensions) to configure some of the behavior around JSON formatting

[code]

[2019-07-26 00:03] fabiocav commented on #3399
@jtemperv the release for this sprint is currently going through validation and this fix was not included. The release cadence is 2 weeks (The estimated for Sprint 55, which is the current, is to start validation around around August 7th and deployment around August 12th), but I'll see how feasible it is to make this available sooner.

@APIWT I'll have a PR linked to this here soon.

[2019-07-26 00:08] fabiocav commented on #3543
@jeffhollan the work to address this will be tracked by #3415. I'm assigning a P1 to that issue now so it will be properly triaged, but we should consider closing this as a duplicate as well.

[2019-07-26 00:20] fabiocav commented on #3415
@jeffhollan @pragnagopa @mhoeger  Assigning this as a P1, but this issue should be addressed by the placeholder work being done, so it would make sense to close this in favor of the issues tracking that work if we want to go that route.

[2019-07-26 14:01] jjr2527 commented on #3631
I continue to run into this issue with Visual Studio 2019 when deploying a function while the function s stopped in Azure.  I toggled the EnableMsDeployAppOffline publish profile setting to True and it resolved the issue.

Perhaps this setting should be set to true instead in the default publish profile?

[2019-07-26 15:19] arunhallan opened #4725 "Python Function - def main(msg: func.ServiceBusMessage) not called"
#### Investigative information

I have set up a simple Python Function listening to a Service Bus Queue.

The function starts fine and Service Bus Explorer marks the message as consumed successfully, but the def main() call does get triggered.

I am using Python 3.6.6 (v3.6.6:4cf1f54eb7, Jun 27 2018, 03:37:03) [MSC v.1900 64 bit (AMD64)].

#### Expected behavior

- Service Bus Message sent
- Pytho

[2019-07-26 15:39] kawazoe opened #4726 "Dependency Injection and the default IConfiguration service"
#### Is your question related to a specific version? If so, please specify:
Any version (as of today) targeting netcoreapp2.1

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#, but probably others as well

#### Context
I have noticed a lack of guidance on how configurations should be passed to an Azure Functions app when using dependency injection and the Microso

[2019-07-26 18:31] gzuber commented on #4473
@sohailbujhs can you provide the name of the function app and function so we can try to look at the error on our end?

[2019-07-26 18:50] #3788 closed

[2019-07-26 20:01] #4650 closed

[2019-07-26 22:00] #3418 closed

[2019-07-26 22:02] kashimiz commented on #4700
@Francisco-Gamino, could you provide context on why this happens? Thanks!

[2019-07-26 22:15] communo-jschmold opened #4732 "Function invocations on boot cause multiple instances of singleton"
Bug: If function invocations are started when server is initialized, `globals` are ignored, and multiple copies of a file that is supposed to be a singleton

Expectation: Server loads the file only once

Reason for singleton [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#connection-limits).

The problem lies in that we have specifically created a class that

[2019-07-27 06:39] sandeepiiit opened #4727 "Log Streaming tab doesn't work"
#### Investigative information
- Timestamp: 2019-07-27 06:17:54.094 (UTC)
- Function App version (1.0 or 2.0): 2.0
- Function App name: N/A
- Function name(s) (as appropriate): N/A
- Invocation ID: 8b2f0d54-3241-46e3-ba05-0e82ab06e261
- Region: Central US

#### Repro steps
I have a function that receives messages from a service bus. I am able to see the logs in application insights, and I can see

[2019-07-27 13:00] riezebosch commented on #4127
@lurumad checkout my tiny library and setup on how I got integrations tests running: https://github.com/riezebosch/AzureFunctions.TestHelpers

[2019-07-27 16:06] tostringtheory commented on #4363
This just bit me yesterday for a couple hours.  Some guidance in #4726 may help in determining what the correct way to do this is without losing this information.

[2019-07-28 09:30] ruskh commented on #4532
I tried two things :

1. Reproducing with Console App
I tried the existing code (i.e without the HttpClientHandler)
Result : Could not reproduce, Console App works without any errors

2. Passing in an HttpClientHandler
Result :

token response is Redirect
2019-07-28T09:19:48.169 [Information] token response is <html><head><title>Object moved</title></head><body>
<h2>Object moved to <a href="https:

[2019-07-28 23:34] espray commented on #4726
See
- https://github.com/Azure/azure-functions-host/issues/4464
- https://github.com/Azure/azure-functions-host/issues/4577
- https://github.com/Azure/azure-functions-host/issues/4597

[2019-07-29 01:04] sandeepiiit opened #4728 "Allow system key to be managed in similar ways as host keys"
It would be nice if system keys for a function app:
**1. Can be set to a user-provided value.
2. Can be renewed & revoked.
3. Can be managed through the portal.**

1st feature is the one I care about the most.

#### Problem
I have two function apps (with same code) in two different azure regions. There is an Azure Front Door service that load balances the http traffic (REST api). Users from `regio

[2019-07-29 13:28] IvanAlekseev commented on #4529
@yojagad just tried that workaround and it worked perfectly. It can even parse guid properties now
Thank you!

[2019-07-29 16:21] EricJizbaMSFT opened #4810 ""Value cannot be null" error when AzureWebJobsStorage is missing for output binding"
[code]

### Repro steps:
1. Create a new project (language shouldn't matter, but I did JS)
1. Add an http trigger
1. Add a Cosmos DB output binding to that trigger
1. Make sure extension bundle is set in host.json
1. Make sure AzureWebJobsStorage is _not_ set in local.settings.json

### Expected:
A readable error message saying `AzureWebJobsStorage` needs to be set. Honestly I would expect this to

[2019-07-29 16:31] sarah026 opened #4729 "Enable AD with runtime storage accounts"
#### What problem would the feature you're requesting solve? Please describe.
Security concerns relating to embedding connection strings (which contain account keys) in the code.
(1) Main security concern is how to prevent leaking of connection strings across different functions even if we use the key vault (which doesn't solve the leakage concern by itself).
(2) how to enable maintainable securit

[2019-07-29 17:13] Francisco-Gamino commented on #4700
Hello @kashimiz, and @canoas, I will look into the issue and report back. Thanks.

[2019-07-29 17:21] yojagad commented on #4529
@IvanAlekseev no problem. Glad it worked!

[2019-07-29 17:21] #4529 closed

[2019-07-29 18:16] gzuber opened #4730 "Add logging to Blob Secrets Repo"
We need to flow logging capabilities through to BlobStorageSecretsRepository. It should log when it has issues connecting to blob storage, and emit a helpful log when a customer's blob storage sas doesn't have the necessary permissions for the repo to function properly.

[2019-07-29 18:47] soninaren opened #4731 "Unexpected characters in the Application Insights Trace"
- Create a function App with Application Insight configured.
- Create an http triggerd function and add the following code to the function.

[code]
- Execute the function
- Open the associated Application Insight resource-> Logs ->Traces
- Go through all the rows to find unexpected characters in the Trace as seen in the screenshot below.

![image](https://user-images.githubusercontent.com/8119379/

[2019-07-29 19:27] communo-jschmold commented on #4732
I updated the phrasing of one paragraph that was particularly unclear. Please do let me know if there's any other information I can provide, as I'd be more than happy to :smile:.

[2019-07-29 21:37] kzryzstof commented on #4465
@ConnorMcMahon Have you bee able to look into this issue? I hope I am not coming across too insistent… :)

[2019-07-29 21:38] gzuber commented on #4474
Ah I see. Unfortunately, I haven't been able to reproduce this issue so we'd have to dig deeper into your app to find a cause but I understand if you're happy with the workaround. Although this did prompt me to update some of our [documentation on logging](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#configure-categories-and-log-levels), so hopefully that will help t

[2019-07-29 21:38] #4474 closed

[2019-07-29 22:30] ConnorMcMahon commented on #4465
Not at all @kzryzstof. I actually found a similar internal issue last week and forgot to update with the results here, so thanks for the ping.

The crux of the issue is that multi-tenancy with AAD V2 app registrations isn't fully supported by EasyAuth yet. If you provide an open id issuer for your EasyAuth configuration, we will verify that the issuer of the tokens you provide match the issuer. Th

[2019-07-29 22:56] paulbatum commented on #325
This is an old issue. Time has given me some perspective :) The downside of putting defaults into host.json are:
1. When a customer files an issue today, we often ask them for host.json. Today it is simple to make sense of what they give us. It will be harder if its a full file with mostly default values. Identifying something unusual will take longer.
2. Sometimes, we can change a default value i

[2019-07-29 23:11] mhoeger commented on #4732
@communo-jschmold - how are you referring to connection in all of your different functions?

I'm guessing that its' something like this?

index.js
[code]

And it looks like you're writing in TypeScript (which is awesome!) but are you doing anything besides `tsc` to generate your js code?

I'm trying to repro this but am having a hard time without knowing how you're using the code snippet in the fu

[2019-07-29 23:20] alrod opened #4733 "Log "decryptionKeyId" value in the security key blob/file."
It will help to investigate unexpected secrets re-generations.

[2019-07-30 03:51] jcbrooks92 commented on #4728
The new ARM APIs support setting your own system key:

Github issue that was tracking the workitem which is now resolved
https://github.com/Azure/azure-functions-host/issues/3994#issuecomment-472108298

ARM Template example : https://github.com/jcbrooks92/EventGridAzureFunctionARMTemplate/blob/a5f6815625311a3beb45ea67dc934a3b65594649/azuredeploy.json#L181

[2019-07-30 06:14] yojagad opened #4735 "Remove duplicate data within BindingData before being sent over gRPC channel"
As part of work for #3845, it is also necessary to remove duplicate data being sent within BindingData. Since node exposes this bindingData, this needs to be implemented either under another capability or ensure that node worker can reconstruct the binding data in order to avoid breaking changes to customers.

[2019-07-30 08:32] gridr-ch commented on #999
Hi @paulbatum ,
Is there an update / fix to this issue?

[2019-07-30 09:57] t-l-k commented on #4134
Investigated `3.0.10` with Newtonsoft.Json `11.0.2`

The root of the problem is in the `Microsoft.Azure.WebJobs.Extensions.Http.Utility` class:

[code]

In my example, the incoming `JObject property` has the following representation `{"SubmissionDate": "2019-07-30T09:55:57.5032422+01:00"}`, but the else clause yields:

[code]

If I `ToString()` the property value, it yields:

[code]

Ergo, the pro

[2019-07-30 11:20] Tondas commented on #4132
Hi @Doddler ,
do you know please, how to solve the issue with "Cannot find compilation library location for package".
Thanks

[2019-07-30 11:31] esride-jts commented on #1469
Come on show - some love to the native side . . .

[2019-07-30 15:21] kawazoe commented on #4726
Hi @espray, That's great info you linked there. Thanks!

Also, I kinda answered my own question as well. It turns out that the `local.settings.json` file is not loaded through a standard provider at all. Instead, it is loaded via the `Azure.Functions.Cli.ExtensionBundle.JsonFileConfigurationSource.JsonFileConfigurationProvider`. It still works but only with flat configurations. That will require a

[2019-07-30 15:21] #4726 closed

[2019-07-30 15:39] raskhdb commented on #4532
Just realised I have two accounts , just posting to confirm that the previous comment is mine

[2019-07-30 16:34] scalablecory commented on #1469
Lack of C++ support is the only hurdle keeping my business in AWS Lambda.

[2019-07-30 17:41] communo-jschmold commented on #4732
@mhoeger
No, we only run `tsc` on our functions, and then use the `function.json` to reference them in the dist folder, with the `entryPoint` and `scriptFile` both set in all `function.json` files.

We have a set of classes (models) that allow you to retrieve its related collection. These generally look a lot like this the first code snippet. We let the models act as the data layer, in which they

[2019-07-30 18:02] alemag1986 opened #4737 "Missing Value for AzureWebJobsStorage in local.settings.json - still errors out"
Hey guys,

I'm still having issues *debugging locally* with the local.settings.json and AzureWebJobsStorage - I'm not sure if that one is the real issue or the error is a different one but the exception is not right.

I'm running VS 2017 Enterprise Edition version 15.3.2
I have the last versions of Azure Functions CLI (and tried with the 2 latest: 1.0.11075.0, 1.0.11015.0)

This is how my local.se

[2019-07-30 19:24] sandeepiiit commented on #4728
Thanks. I haven't tried that yet, but I think it should solve my problem.

[2019-07-30 19:27] balag0 opened #4738 "ScaleController stops monitoring function app on failures to add new workers"
This is a tracking issue for the bug in scale controller where failure to add workers can sometimes cause scale controller to monitor the site's triggers.

The most common cause of failures seems to be re-specialization of same container with same site content. As a mitigation we can consider not failing the specialization in this scenario until the scale controller fix is deployed.

[2019-07-30 23:32] klogan12 opened #4739 "Logging with Azure function"
I have several API's implemented with Azure Functions , I want to have a common logger for all APIs. What is the best way to achieve it?
My APIs calls several utility classes and i do not want to pass ILogger to all my utility classes.

[2019-07-31 00:04] #3845 closed

[2019-07-31 04:03] CrazyTuna opened #4742 "Disable Host.Results logs at the function level for HttpTrigger functions"
#### What problem would the feature you're requesting solve? Please describe.

I have some function apps exposed behind [Front Door](https://azure.microsoft.com/en-us/services/frontdoor/). Each application has an health-check endpoint (HttpTrigger).
Front door is calling these health endpoints quite a lot and I have a lots of requests logged to app insights

![image](https://user-images.githubuser

[2019-07-31 07:01] ankitkumarr commented on #4363
So sorry for the huge delay here. I thought we had resolved this one.

@fabiocav / @brettsam had insights about this one.

[2019-07-31 07:58] lekhas01 commented on #3994
@mathewc : Thanks. I have started using the list keys functions through ARM. But randomly it is giving wrong Host key. Is this something to do with the API version in listkeys call ? Is there any new API version released. I am using Function App V2. Below is the list keys call i have added.

[listkeys(concat(variables('functionAppId'), '/host/default'), '2018-11-01')]

Should i update '2018-11-01'

[2019-07-31 12:24] pvmraghunandan commented on #4689
@brettsam Can you confirm if there is any workaround?

[2019-07-31 16:10] t-l-k commented on #4134
@alrod this bug seems ... pervasive. Having "worked around it" it in one place (`[HttpTrigger]`), its reappearing in another binding now.

Having added a model containing a `DateTimeOffset` to a strong typed `IAsyncCollector` queue output binding, a subsequent `[QueueTrigger]` input binding is now throwing the same error.

Any ideas on a way to force the host into an en-US culture when running `Fu

[2019-07-31 17:42] ethanroday opened #4743 "How to intercept outgoing HTTP(S) traffic in Fiddler?"
I have a function that makes some API calls before returning. When I'm debugging locally and I turn on Fiddler, though, I don't see those outgoing requests.
Is there any configuration change I can make to monitor that outgoing traffic when debugging?
I am already decrypting HTTPS traffic in Fiddler, and I've tried the instructions [here](https://www.telerik.com/blogs/capturing-traffic-from-.net-se

[2019-07-31 18:37] jeffhollan opened #4745 "The function name isn’t included in execution status metrics for v2"
For v2 apps, the function name isn’t included in the metrics where the status of an execution is measured making it difficult to analyze and correlate correctly.

// @paulbatum

[2019-07-31 18:50] tomkerkhove opened #4746 "Switch to multi-dimensional metrics"
As of today, Azure Functions provide an individual metric per function for the same scope such as `{function name} AvgDurationMs`.

![image](https://user-images.githubusercontent.com/4345663/62238789-f6b46680-b3d3-11e9-8b69-afd541540a8e.png)

This means that if we have 100 functions, we'll have n * 100 metrics where n is the number of different metrics Azure Functions provides.

### Describe the s

[2019-07-31 18:59] jeffhollan commented on #4746
/cc @dariagrigoriu @ahmedelnably

[2019-07-31 19:15] jcookems commented on #4745
In particular,
[code]
gives

 FunctionName | count_
 -- | --
   | 620763

[2019-07-31 20:00] #4708 closed

[2019-07-31 21:43] alexkarcher-msft commented on #4588
Hello Fabio! Does the endpoint /admin/warmupfunction sound good to you? I don't see anything in this particular issue mentioning an endpoint

[2019-07-31 21:45] fabiocav commented on #4588
Let's go with `/admin/warmup`, as this will still work if a function is not setup to trigger on the warmup request

[2019-07-31 21:45] jeffhollan commented on #4588
Nit but I prefer just warmup. User may or may not  extend with their own function and simpler.

[2019-07-31 23:24] paulbatum commented on #999
It seems that despite multiple attempts to address this issue through roslyn updates and other mitigations, this error can still occur. I don't have any updates to share at this time. The same recommendation that I made before still applies - you can completely avoid impact by deploying compiled binaries. Our dev tools in VS and VS Code make this straightforward.

[2019-07-31 23:42] APIWT commented on #3399
@fabiocav Any update or link to a PR?

[2019-08-01 00:02] fabiocav commented on #4588
@ankitkumarr FYI. This is the issue tracking the work I mentioned earlier today.

[2019-08-01 00:09] ankitkumarr commented on #4588
@jeffhollan / @alexkarcher-msft, What priority would you say this work-item has? If you don't have a hard and short deadline for this, I would be happy to start the work on this item once I am done with things on my plate.

[2019-08-01 00:47] soninaren opened #4747 "Add more logging when the function app goes into offline mode"
Currently when the function app goes into offline mode we have minimal logs which basically says `Host is offline.` We need to add more logging to basically show what action or when we initiated the process of bringing the app offline.

[2019-08-01 04:08] rphoon opened #4749 "Powershell Az commands stopped working after latest runtime update"
Getting the following error now calling "Get-AzResource" since the runtime was updated 2 days ago. It was running fine before then.

ERROR: The term 'Get-AzResource' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

[2019-08-01 07:42] manums opened #4750 "EventHubTrigger - Functions 2.0 does not start - Could not load FunctionsProj.dll"
#### Investigative information
I was able to run function app which has eventhub binding from local as well as from West US2  Consumption plan. From a day, after we moved all our dependent projects to build in x64 and updating all nugets to latest - function app starts failing. It does not even start, it fails to load the functionsproject.dll itself.

I'm kind of stuck without being able to debug

[2019-08-01 08:00] ramito1 commented on #3568
Thank you @rhythmnewt! Your workaround fixed it for me as well (using Azure Functions with SOAP client).

[2019-08-01 11:46] IanKemp opened #4751 "Better handle and document nested (invalid) configuration settings in local.settings.json"
Consider an Azure function with the following `local.settings.json` file:

[code]

When `func start` is run, the function host successfully launches and runs.

Now amend `local.settings.json` to the following:

[code]

and `func start` again:

[code]

The reason, of course, is [that the host does not support nested configuration settings](https://github.com/Azure/azure-functions-host/issues/4737#i

[2019-08-01 13:03] ggirard07 commented on #4737
Why don't you simply provide a way to customize the Configuration object on the .Net platform? Is this because you use `DryIoc` instead of `Microsof.Extensions.DependencyInjection`?

That way we can just continue to use `appsettings.json` for .Net projects. Other language can use their own `appsettings.json` equivalent. If they don't have any, or don't want to use it, then fallback to `local.setti

[2019-08-01 17:24] divyagandhii commented on #4686
We need a fix from a Geneva partner team before we can start overriding PreciseTimeStamp with EventTimeStamp for Linux dedicated.  Currently there is no ETA from Geneva team on their fix. Please continue using EventTimeStamp till then.

[2019-08-01 17:24] #4686 closed

[2019-08-01 17:52] MisinformedDNA commented on #3189
In the meantime, for anyone who wants ASP.NET config now, take a look at my [project](https://github.com/MisinformedDNA/AzureFunctions.AspNetConfiguration) and [NuGet package](https://www.nuget.org/packages/AzureFunctions.AspNetConfiguration/). This will let you use the patterns you are used to.

[2019-08-01 18:00] qdi-jeffd commented on #4304
Just in case anyone else runs into similar issues as me. I ended up having to use all 3 workaround mentioned here

- function.deps.json file copy from the original thread  [#3568](https://github.com/Azure/azure-functions-host/issues/3568)
- @SaebAmini 's work around. Thanks!
- The specific comment I linked to in my last update.

Also as it relates to the copy to create the function.deps.json file

[2019-08-01 18:00] IdeaHunter opened #4752 "[Question] Why does this repo has its own implementation of DI?"
#### Is your question related to a specific version? If so, please specify:
V2 host, net core 2.2
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
c#
#### Question
I see, my asp.net core 2.2 app uses https://github.com/aspnet/Extensions/blob/a58a80bdf5ad971167f73e501661131c3e34a901/src/DependencyInjection/DI/src/ServiceLookup/ServiceProviderEngineScope.cs but this r

[2019-08-01 18:08] jeffhollan opened #4753 "Change behavior so that requests and metrics are never throttled"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#types-of-sampling
<ExcludedTypes>Trace;Exception</ExcludedTypes>
A semi-colon delimited list of types that you do not want to be sampled. Recognized types are: Dependency, Event, Exception, PageView, Request, Trace. All instances of the specified types are transmitted; the types that are not specified are sampled.

The setting is he

[2019-08-01 18:22] dNetGuru commented on #4049
Any updates?

[2019-08-01 18:24] jwisener commented on #4049
Any updates?

[2019-08-01 20:26] jeffhollan commented on #4113
I believe I may have created a dupe of this one in regards to analytics work as well:
https://github.com/Azure/azure-functions-host/issues/4745

[2019-08-01 20:42] femalemarvel365 commented on #902
Did that work?

[2019-08-01 20:57] alexkarcher-msft commented on #4588
Hi Ankit! This is a GA requirement and should be enabled by the time ANT 85 is in production. That gives you about 6 weeks of time, but it is relatively high priority :)

[2019-08-01 21:49] jeffhollan commented on #4588
And just to clarify that would be 6 weeks to "in production" - so with some buffer for the release rollout so we can reliably test

[2019-08-02 00:59] fabiocav commented on #3399
Apologies for the delay. We've been dealing with deployment validation/issues for the current release which pushed some of this work back. I'll have a basic PR open and linked with the core change we'll be making tomorrow. I'll flag the build so people watching the issue can deploy a private functions runtime with those changes for validation. We'll also have a version of the CLI available for sel

[2019-08-02 07:55] crow-ua commented on #3751
I'm also seeing the same problem in my function app. @fabiocav are there any steps for us to debug this issue in more detail?

[2019-08-02 10:09] bitsprint opened #4754 "Cosmos DB Change Feed Trigger: Stops polling for changes"
#### Investigative information

- Timestamp:

Last invocation before issue: 2019-08-01T15:32:27.262
Next invocation after issue: 2019-08-02T02:58:55.264

- Function App version: 2.0
- Function App name: frtaf000005
- Function name: FixturesChangeFeedProcessor
- Invocation ID:

Last invocation before issue: cf7d30f9-be51-42ce-82af-e0bb208722d2
Next invocation after issue: 85a838c6-df79-4a68-8e7f-fc

[2019-08-02 15:10] lgoncerzewicz opened #4755 "Durable Functions not executed after Eventhub trigger with singleton"
We are using Eventhub triggers in azure functions with the singleton attribute to trigger durable function workflows. It happened twice that the underlying function workflow has not been executed and failed with an exception.  Is there something that needs to be configured or some sort of workaround for this?
Here the exception stack trace:

Microsoft.Azure.WebJobs.Host.FunctionInvocationException

[2019-08-02 15:28] Riff451 commented on #4064
Hi, I don't know whether my issue is related to this one, but it looks so...
I'm trying to run the LogExtensionTest sample code that I forked [here](https://github.com/Riff451/LogExtensionTest) with a few changes:

- Target Framework: notcoreapp: 2.2
- Microsoft.ApplicationInsights: 2.10.0
- Microsoft.NET.Sdk.Functions: 1.0.29
- In the ITelemetryInitializer I'm setting a custom ITelemetry.Context.

[2019-08-02 15:36] brettsam commented on #4064
Do you have app insights registered on the site? Check the APPINSIGHTS_INSTRUMENTATIONKEY app setting. Can you tell the startup code is actually running?

[2019-08-02 16:48] Riff451 commented on #4064
@brettsam Thank you for your quick answer. It turned out that the problem was actually something different because the test code is fine. My bad. I didn't realise that before :) I'm having a different issue in my production project and that's why I was trying a simplified version based on the test code here. Unfortunately I still don't have enough information but it's definitely something wrong in

[2019-08-02 20:32] kashimiz commented on #4755
Hi @lgoncerzewicz, thanks for reporting this. Was your function app running in Azure when these exceptions were thrown? If so, I'd like to take a look at our logs; could you provide the following information?

- Timestamp:
- Function App version (1.0 or 2.0):
- Function App name: (you can [share this privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-priva

[2019-08-02 20:40] brettsam commented on #4739
How do you create your utility classes? If you're using Dependency Injection, you can request an ILogger<T> (or ILoggerFactory) in any of them and they'll be injected when they're created.

[2019-08-02 21:19] ankitkumarr commented on #4588
Ok, I will to pull this in for the next Sprint.

[2019-08-02 22:59] yojagad opened #4757 "Enable logs from gRPC to flow through the logging pipeline"
The idea is to enable capability for grpc logs to flow to kusto. Tagging @pragnagopa to provide more details about it.

[2019-08-02 23:16] CrazyTuna commented on #4742
In the host.json, if I set this property to `false` (`enableHttpTriggerExtendedInfoCollection`), I can see the `RequestTelemetry` coming to my `ITelemetryProcessor `:

[code]
This is an acceptable workaround for the moment but I am loosing some good information in app insights.

[2019-08-03 03:19] pragnagopa commented on #4757
Environment variables: https://github.com/grpc/grpc/blob/master/doc/environment_variables.md

Sample console logger : https://grpc.github.io/grpc/csharp/api/Grpc.Core.Logging.ConsoleLogger.html

We need to figure out right combination of environment variables and implement a logger to capture grpc error level logs

[2019-08-03 17:43] craiglytle opened #4758 "Option to disable auto-delete of message for Queue-triggered Functions"
Problem:
For long-running tasks Azure is recommending using a Queue to trigger Functions to launch a container in Azure Container Instances (ACI).  A good example is recommended by Azure here:
https://github.com/Azure-Samples/aci-event-driven-worker-queue

But this approach won't work as the Functions will delete the queueMessage after it successfully launches the ACI container.  This means that i

[2019-08-04 20:54] andreujuanc commented on #4527
@fabiocav I just had this problem and when @jskeet wrote "func.deps.json" it opened my eyes and I just remembered this issue:
https://github.com/Azure/azure-functions-host/issues/4304

So I just added your fix for the WCF ref to my project file and boom, it worked:

[code]

[2019-08-04 22:05] manums commented on #4750
- This is happening on both VS 2019 and VS2017.
- AzureFunctionTools are at latest 2.2.28 version.
- Functions project is build and run with x64 configuration on .NET core 2.1.
- All dependencies are also built with x64 configuration.

I'm still unable to make it work locally.  Can someone take a look at this?

[2019-08-04 22:12] manums commented on #4750
More details from Functions Console:

[2019-08-05 06:38] joshua-hayes commented on #1564
Just ran into this on functions v2 framework core 2.2 when binding to a POCO from the query. It doesn't look like Enum binding is supported. Dredging up a super old issue here but are there any plans to at least expose some model binding extension points in the framework (similar to IModelBinder / Provider / IValueProvider etc.) for custom model binding like traditional dotnet core api has?

[2019-08-05 09:55] lgoncerzewicz commented on #4755
- Timestamp: 5‎/‎22‎/‎2019‎ ‎4‎:‎51‎:‎26‎ ‎PM (UTC)
   - Function App version: 2.0
   - Invocation ID: d3bee05d-d8d9-4d48-a5b2-fa14e4c16160
   - Region: West Europe

On Fri, 2 Aug 2019 at 22:32, Katy Shimizu <notifications@github.com> wrote:

[2019-08-05 10:02] h3rmanj opened #4760 "ServiceBusTrigger breaks Dependency Injection"
Adding a ServiceBus triggered function to an app currently breaks Dependency Injection locally. I haven't tested deploying the function project, but I don't want to do that before it works locally.

[code]

#### Repro steps
1. Create an Azure Function project in Visual Studio
2. Set up DependencyInjection Startup and inject something (eg. Greeter)
3. Add a HttpTrigger which uses the injected servi

[2019-08-05 13:54] bitsprint commented on #4754
Ok, we determined that because our Cosmos DB collection is not being updated at regular intervals (within a 20 minute period) or that we do not have other functions on the same host running within the 20 minute window that the function host is going to sleep. It seems that this is standard practice for consumption plan app services.

In the end we have decided to simply use the keep alive function

[2019-08-05 13:54] #4754 closed

[2019-08-05 15:12] brettsam commented on #4727
What does your `host.json` look like? Those logs come from our file logger -- so if we're not logging to the file, you won't see anything. By default, we do this only when you are actively using the portal -- but you can also disable it with `fileLoggingMode: never`. https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#logging

[2019-08-05 15:15] kradecki commented on #4421
OK, I'm having exactly the same issue and I simply can't find a way to locate my connection name. I could really use a walkthrough on how to find it guys.

How can I locate the app setting name? Is it a function property or event hub property? A click-through would be really, REALLY appreciated.

And yes, I've googled a lot here.

[2019-08-05 15:21] brettsam commented on #4728
@alrod -- this should be do-able with our APIs today, right?

[2019-08-05 15:22] brettsam commented on #4729
@mattchenderson -- could you comment on the best approach here?

[2019-08-05 15:24] brettsam commented on #4731
It only happens on some of the traces? @cijothomas / @lmolkova -- any ideas here?

[2019-08-05 15:40] mguglani commented on #4421
check the document Brett pointed. Specifically check this note on connection (you can check this from Azure portal):

connection | Connection | The name of an app setting that contains the connection string to the event hub's namespace. Copy this connection string by clicking the Connection Information button for the namespace#create-an-event-hubs-namespace), not the event hub itself. This connect

[2019-08-05 15:43] brettsam commented on #4742
Making the results more specific is a good idea.

But your `ITelemetryProcessor` should have worked. Can you tell it's getting hit? How were you checking for the `Host.Results` category?

[2019-08-05 15:44] brettsam commented on #4743
Did you try this? https://docs.telerik.com/fiddler/Configure-Fiddler/Tasks/ConfigureDotNETApp#configure-net-core-applications

[2019-08-05 15:45] brettsam commented on #4743
Closing as I believe that'll work for you.

[2019-08-05 15:45] #4743 closed

[2019-08-05 15:47] kradecki commented on #4421
Yes, I've seen this post. And yet after clicking through the entire Azure
Portal i seriously can't find that parameter.

Where exactly in the portal should I look for it?

pon., 5 sie 2019, 17:41 użytkownik Manoj Guglani <notifications@github.com>
napisał:

[2019-08-05 15:55] brettsam commented on #4758
If auto-delete is false, the queue message will never disappear and the function will continue to fire forever. I'm not sure that'd be a better solution.

I wonder if Durable Functions is a better approach here -- triggered by the queue but it can check repeatedly for failures in startup. If there are any, it inserts a new message to try again. Or even from within the Durable function it can retry

[2019-08-05 15:57] mguglani commented on #4421
click on Resources. You will see a list of all your resources. Click on the resource under which you created your Event Hub Namespace. If you need more details please open a new issue and someone from Microsoft should reply.

[2019-08-05 15:58] #4758 closed

[2019-08-05 16:05] brettsam commented on #4752
We need multiple containers. We have a parent container and can have many child containers. We create/destroy child containers when the host needs to restart and we also allow for dependencies to flow in a custom manner between these containers. All of that required us to implement some of these classes differently than the default. We use [DryIoC](https://github.com/dadhi/DryIoc) internally to gi

[2019-08-05 16:05] brettsam commented on #4752
Going to close this as it's not really an issue -- but hopefully that added some details for you.

[2019-08-05 16:05] #4752 closed

[2019-08-05 16:07] brettsam commented on #4750
Followed up on this internally -- but just to make sure this is public:

We can’t load one of your dependencies…
-	In the GitHub issue you say you switched to x64 and it failed… what happens when you switch back to x86?
-	What is Microsoft.DynamicsFraudProtection.DataFlow.EventHubConsumers and where does it come from?
-	Is that dependency in your bin folder?
-	Are you able to use that dependency i

[2019-08-05 16:12] brettsam commented on #4698
@soninaren -- could you see if you can repro this? I'm not sure how this MS-Learn sandbox works, but maybe something isn't wired up correctly?

[2019-08-05 16:17] h3rmanj commented on #4760
I also tried using a live Storage Account, in case the host didn't like a mix of local Storage Account and live ServiceBus. Still didn't work though, but at least that's off the table.

[2019-08-05 16:21] brettsam opened #4761 "Support appsettings.json by default."
We have a lot of requests coming to allow you to use DI to call the internal `ConfigurationBuilder`. That can be problematic, which is why we haven't opened that up yet -- see here for example: https://github.com/Azure/azure-functions-host/issues/4464#issuecomment-513017446.

However, almost every request we have for this functionality is because we don't support appsettings.json out-of-the-box. W

[2019-08-05 16:26] fabiocav commented on #4761
To document some of the key challenges; Adding this support to the host is trivial, the problem we need to tackle when that happens is ensuring infrastructure components (e.g. scale controller) can load configuration from those sources, otherwise, activation and scaling may not work as expected.

[2019-08-05 16:27] brettsam commented on #4737
@ggirard07 -- here's one reason why it's not quite that simple: https://github.com/Azure/azure-functions-host/issues/4464#issuecomment-513017446.

We think we may just add default support for appsettings.json (and the environment-specific files), which we think will cover 90+% of the requests to manipulate IConfiguration. We'll obviously need to make sure this works nicely with both the CLI and wh

[2019-08-05 16:28] brettsam commented on #4562
@gzuber -- can you see if you can reproduce this?

[2019-08-05 17:05] dsm0880 commented on #4645
@DoloMike I don't think this was a cat. This happened to me too. Where exactly did you go to address this issue?

[2019-08-05 17:19] DoloMike commented on #4645
@dsm0880 I had to add `C:\Users\Michael\AppData\Roaming\npm` back to my environment variable PATH. Like I said, I have no idea how it was removed in the first place. But I was unable to call npm cli packages and I'm assuming AFCT was trying to use them behind the scenes.

Are you able to use `npm` or your other globally installed cli tools? If not, check your PATH. If so, you may have arrived at t

[2019-08-05 18:00] #3035 closed

[2019-08-05 18:32] gzuber commented on #4562
@klogan12 I was able to publish a TimerTrigger .NET Core C# app to Azure and successfully remote debug it from Visual Studio 2019 -- is there something more specific to your scenario that I should try to reproduce? Did you deselect `Require source files to exactly match the original version` and `Enable just my code` under `Debug -> Options`?

[2019-08-05 19:00] #4473 closed

[2019-08-05 19:41] sandeepiiit commented on #4727
host.json below:

[code]
Also, note that it works sometimes, and sometimes doesn't.

Interesting to know that it only logs when actively using portal - I think that's a nice feature!

[2019-08-05 21:01] kzryzstof commented on #4465
@ConnorMcMahon Thanks for the update!

[2019-08-05 21:05] dsm0880 commented on #4645
@DoloMike Ok so I figured it out. I was running a TypeScript based Function App in VSCode, but instead of moving my files to a new project I converted the existing project. At the end of the day the issue I found (if anyone else runs into this) was in the function.json file. You need to specify the scriptFile location as seen below:

[code]
Thanks @DoloMike , but you were right...got to the same p

[2019-08-06 00:47] brettsam commented on #4727
I bet the portal is timing out the "debug mode". Most of the time that you navigate in the portal, we update a `debug_sentinel` file. After 15 minutes of that file not being touched, we'll stop writing to the files. I suspect that's what you're seeing.

You can see this file in kudu under `D:\home\LogFiles\Application\Functions\Host`

[2019-08-06 01:38] #4615 closed

[2019-08-06 12:49] sebader opened #4764 "HTTP-triggered Function can be triggered despite being disabled"
According to [this ](https://docs.microsoft.com/en-us/azure/azure-functions/disable-function#functions-2x---all-languages)article I disabled a HTTP-triggered function using an app setting

    "AzureWebJobs.Http2BlobFunction.Disabled": "true"

Starting up the function, it also shows up in the console output of the function runtime

    Function Http2BlobFunction is disabled

However, you can still

[2019-08-06 13:22] kreaton commented on #2153
When a timeout occurs in a Function App it appears from my testing (C#, V2) that any logging to Application Insights also goes away, ie it is not possible to trace what happened in the function before the timeout. The timeout exception itself also doesn't seem to be logged to Application Insights and thus cannot be monitored.

[2019-08-06 13:29] brettsam commented on #4764
Does this only happen when running locally with the CLI (or VS)? Http requests should return 404s unless invoked via an Admin request -- this allows the portal to continue to be able to test functions. When running via the CLI, though, I believe all requests are treated as admin requests.

@ahmelsayed can correct me if I'm wrong.

[2019-08-06 13:30] sebader commented on #4764
@brettsam so far I only tested locally when starting debugging from VS

[2019-08-06 13:39] sebader commented on #4764
Yes, I can confirm this is indeed different when deployed in Azure. When I use the app setting there AND use the function key (not the master key), the call returns 404.

I would say to the very least the documentation page should state that - and ideally the console output in the run time should reflect this behavior as well.

[2019-08-06 14:13] ishepherd commented on #2153
This is, tbh, hella dumb and renders the CancellationTokens rather useless. If the CancellationToken is signalled, it's already too late to save your process.

Any chance? @jeffhollan @eduardolaureano

Any chance you could be nice to the .Net guys by doing this before #2152 :)

[2019-08-06 14:26] brettsam commented on #4760
This has something to do with the extensionsBundle, but I don't know what it is. When I remove that section from host.json, it all works. @soninaren -- any idea on this one? The repro project is above.

[2019-08-06 16:07] ethanroday commented on #4743
@brettsam just tried that and it doesn't seem to have worked.

[2019-08-06 16:11] brettsam commented on #4743
Oh wait -- this is TypeScript. @mhoeger -- do you know if there's anything special that needs to be done to enable TypeScript and Fiddler?

[2019-08-06 17:00] securityvoid commented on #4743
@brettsam I've done this with NodeJS functions quite a bit. Typically it depends on what JavaScript library you're utilizing to make the HTTPS call.

e.g. I've used "request", which if you search for Proxys it has this here:
https://github.com/request/request/tree/master/examples

Unless the underlying system utilizes the system proxy settings you'll always have to configure something. I haven't f

[2019-08-06 17:13] ethanroday commented on #4743
Thanks @securityvoid. I'm using `request-promise-native` so I figured I'd have the same issue.

I tried the instructions here and they worked: https://stackoverflow.com/questions/17383351/how-to-capture-http-messages-from-request-node-library-with-fiddler

[2019-08-06 17:47] yojagad opened #4765 "Reduce number of in-flight requests when shutdown is initiated"
When application shutdown is initiated, there is a default grace period of 5 seconds  to allow webhost to complete any in flight requests after which the shutdown is enforced irrespective of whether the requests complete or not. In case of out of proc languages, any in-flight requests caught within this period but not complete will start throwing "Did not find any initialized language workers". Th

[2019-08-06 18:14] brettsam commented on #4743
Thanks @securityvoid!

[2019-08-06 18:31] paulbatum opened #4767 "Add RuntimeSiteName to FunctionsLogs and FunctionsMetrics"
For an app with slots, there is a version of the app name that looks like this: "myapp__f1de". This is typically referred to as "RuntimeSiteName". Some of the other system tables log in this format, but FunctionsLogs and FunctionsMetrics do not. This prevents correlation across the tables.

[2019-08-06 19:04] Sethles commented on #1451
I'm wanting to start a SAAS but being able to give REAL-TIME costing per execution is vital. If REAL-TIME can't be accomplished soon then NEAR-REAL-TIME will have to do but please can the main goal be REAL-TIME.

[2019-08-06 19:24] securityvoid commented on #4743
@ethanroday Glad to hear it worked for you! Azure Functions are fun ;-).

[2019-08-06 21:23] soninaren commented on #4760
@brettsam you are right. This is because extension bundles is not designed to be used with pre-compiled C# functions. Adding bundles configuration will break DI since the runtime is not loading extension and other related binaries from the bin folder. Instead it will load the the binaries from the extension bundle.

@h3rmanj Please remove the following configuration from host.json.
[code]

[2019-08-06 21:23] #4760 closed

[2019-08-06 21:29] alexkarcher-msft commented on #1206
Hello @suwatch and @zawor, it looks like our expanded concurrency controls make it possible to close this issue?

This thread is causing a bit of confusion, and if we've mitigated the initial issue at the top of the thread I'd love to close this out and keep tracking all of the issues that have forked off of this one in their own threads.

[2019-08-06 21:35] gzuber commented on #4498
@frnk01 Is this a v2 function? If so, this is part of normal operations and shouldn't affect your app. We'll look into lowering this from an error message.

[2019-08-06 21:42] fabiocav commented on #3399
Following up on the previous message.

We've made a preview version available with the base set of changes to address the last remaining issue tracked here (scoped delegate factory). We have a process to make using those bits a little easier, but this is something we're testing out, so there's no simple automation, requiring the following steps to opt in:

- Set the environment variable `AzureFunc

[2019-08-06 22:26] alrod commented on #4733
https://github.com/Azure/azure-functions-host/commit/15fee857febfa150873860f68b85e90195288f23

[2019-08-06 22:26] #4733 closed

[2019-08-07 01:22] brettsam opened #4770 "Proxies broken in .NET Core 3.0"
My analysis from an internal investigation (this is mostly a Teams transcript that I've cleaned up)

We end up with read-only headers when we try to set them in proxies -- this behavior is new in ASP.NET Core 3.0.

This PR changed it: https://github.com/aspnet/AspNetCore/pull/7110. Specifically -- https://github.com/aspnet/AspNetCore/pull/7110/files#diff-6f529bca1b5cb1bf98dbd8b32d27969d.

Notice t

[2019-08-07 07:46] h3rmanj commented on #4760
Oh, my bad, must have misunderstood the docs. Thanks!

[2019-08-07 07:49] zawor commented on #1206
when it comes to me I'm fine with closing...

PS, for those which wanted to see retest results: i forgot about posting them and now i'm unable to find them (even though only to historical reasons)... :P sorry

[2019-08-07 08:38] andronachev commented on #4594
Sorry for the very late response... I have tested this and it works. Making the function's class non-static and injecting the IServiceProvider via the constructor is the way to go.

Thanks a lot,
Vlad

[2019-08-07 08:38] #4594 closed

[2019-08-07 10:42] meixger commented on #3399
Success! I was able to get MediatR's scoped dependency factory to work like expected (re: [jbogard/MediatR.Extensions.Microsoft.DependencyInjection#74](https://github.com/jbogard/MediatR.Extensions.Microsoft.DependencyInjection/issues/74).

I tested locally and on Azure with a sample project. Will test with a real app soon...

[2019-08-07 15:07] jtemperv commented on #3399
@fabiocav thanks for the update. I'll check this out asap. Enjoy your holidays!

[2019-08-07 18:31] alexkarcher-msft commented on #1206
Awesome! It's been a wild 2.5 years in this thread 🙌🙌. Feel free to open a new thread and reference this one if this issue crops up again.

[2019-08-07 18:31] #1206 closed

[2019-08-07 20:23] brettsam opened #4773 "Functions Sprint 55 Release"

[2019-08-07 20:24] brettsam opened #4774 "Functions Sprint 54 Release (v1)"

[2019-08-07 20:41] bingbing8 commented on #3266
@se7vanj , to run the function locally, where to change the blob storage account from "storage only" to a generic storage account?

[2019-08-07 20:55] JeffHughes commented on #1451
I don't think waiting for REAL-TIME is worth delaying implementation of NEAR-REAL-TIME.  

we just need to know what actions are costing as soon as possible

    On Monday, July 15, 2019, 04:18:08 PM CDT, Paul Batum <notifications@github.com> wrote:

cc @ahmedelnably

One option we have been discussing is enabling the export of per execution billing data to Azure Monitor logs. You could then analy

[2019-08-07 23:33] paulbatum commented on #4753
I am assuming the scope of this work item to add the new settings to host.json, and then we need a separate work item with a proposal for how to make it so new apps get this new behavior (for example by updating the host.json template).

[2019-08-08 01:12] ishepherd commented on #1451
A use case for real time:

In a CosmosDB context, we have sometimes had unexpected spikes in RU usage due to their backend changes. Our automated test suite now validates that this hasn't happened again. This is super easy because they report how many RUs were used on each call.

In other words, financial cost becomes just another part of the API contract and can be automatically tested.

It would

[2019-08-08 05:57] itsashish-patel opened #4778 "Azure Blob Trigger function: sometime the function was not trigger for some blob/file, it's a random issue"
#### Investigative information

- Timestamp: 2019-08-08T05:30:57.6444613Z
- Function App version (1.0 or 2.0): 2.0
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: c27df957-9b67-4164-a1a7-da53c7d9d4ce
- Region: Australia East

#### Repro steps

- As it random issue, the azure function was skipped blog trigger for some file,
- you may upload many file in blob storage and c

[2019-08-08 14:51] SpicySyntax opened #4779 "ModuleNotFoundError for functions worker"
#### Check for a solution in the Azure portal

#### Investigative information

Please provide the following:

- Timestamp: 08/08/2019 9:43 AM central time
- Function App version (1.0 or 2.0): 2.0
- Run on AKS CLuster
-  Source Code with PIP dependencies and docker build found at this [Gist](https://gist.github.com/SpicySyntax/ab2fed3babbf6d6f980b668352ca193d)

#### Repro steps

Running locally wor

[2019-08-08 15:24] t-nipha opened #4780 "Timer trigger invoking late"
I need some help figuring out why my timer trigger is not running on time. Below is all of the information requested in the wiki.
1. Are you using Consumption or App Service Plan? **ASP**
2. If Consumption, how did you deploy? If App Service Plan, do you have Always On enabled? **Always On enabled**
3. Are you using the v1 runtime, or the v2 runtime? **v2**
4. Are you setting WEBSITE_TIME_ZONE? **

[2019-08-08 20:23] caviyacht commented on #4049
I see that there is a prerelease version now, 1.0.30-beta1, posted on August 6th.  I know that was only two days ago, but what does the timeline for this look like?  We are in the middle of an upgrade and really need this.

[2019-08-08 21:34] sandeepiiit commented on #3994
@mathewc Is there a REST API call to set the system key for my function app?
This is in reference to this [request](https://github.com/Azure/azure-functions-host/issues/4728).

[2019-08-08 22:30] klogan12 commented on #4739
@brettsam  Can u share doc on how to consume logger object via DI? I can do that..

[2019-08-09 00:07] alrod commented on #4779
cc: @maiqbal11

[2019-08-09 02:47] sandeepiiit commented on #4570
@mathewc What should be the domain name for the api requests? Does the below sound right?
https://**{FunctionAppName}.azurewebsites.net**/api/sites/{name}[/slots/{slot}]/host/default/properties/status

When using this, I am not sure what to pass for {name}, and if I pass the functionappname there, I am seeing "404 Not Found".

[2019-08-09 03:19] sandeepiiit commented on #4728
Thanks for the suggestions. I was able to set the system key using the REST API described here:
https://github.com/Azure/azure-functions-host/wiki/Key-management-API

Specifically, I used:

[code]
For eventgrid,` keyname=eventgrid_extension`.

[2019-08-09 09:17] ijagberg opened #4783 "Custom Metrics don't seem to work when using DI with typed ILoggers"
Function App v2.0

I am using Dependency Injection via FunctionsStartup, and my services request an ```ILogger<T>```, which seems to be working for trace-logging, but not for metrics.

I have tried a few different variations of my host.json file to see if it is a problem with my logging filters, but nothing so far has worked. Even when I set the default filter to "Debug", no custom metrics show up

[2019-08-09 10:06] meixger opened #4784 "Azure Function Blob Trigger stops firing"
As @ankitkumarr stated in [Azure/azure-functions-host#3592](https://github.com/Azure/azure-functions-host/issues/3592#issuecomment-511606606) i open a separate issue:

#### Investigative information

- Timestamp: 2019-08-09T09:43:51.750
- Function App version (1.0 or 2.0): 2.0
- Function App name: not-disclosed-here
- Function name(s) (as appropriate): not-disclosed-here
- Invocation ID: 7c0375d4-

[2019-08-09 10:27] thecontrarycat commented on #4581
@fabiocav I'm having a problem where the workaround only works locally.

That is to say,

- Running the project locally will fail unless the workaround is in place
- A published functions app *in Azure always fails*
- Downloading the files from that functions app from Azure and then running locally using the functions host *will work*

Is anyone else seeing this?

[2019-08-09 10:59] thecontrarycat commented on #4581
Oh, interesting.  It seems that if you deploy using *Run From Package*, the workaround *doesn't work*, but if you use *Web Deploy*, it *does*.

[2019-08-09 23:17] rajrao opened #4785 "Is there a way to disable a function dynamically? (specifically a service bus triggered function)"
I have an AZ Function that picks up messages delivered to a subscription and does work against a web-api. Sometimes that web-api goes down. What I would like to do is disable my trigger for some period of time, so that messages dont get delivered (as otherwise, it can get deadlettered because of too many retries).

Essentially what I want is a circuit breaker pattern. Messages get picked up as lon

[2019-08-10 06:53] LoliLin opened #4787 "Azure Functions: Node.js Request@2.88.0 not working"
- Timestamp: 2019-08-10T06:13:34.148
- Function App version (1.0 or 2.0): 2.0
- Invocation ID: db7ea1a9-7b0e-4dbe-8d90-6e8d3fd6b2df
- Region: East Asia

[code]

The above code works fine at some point, but it doesn't work in some cases. The specific behavior is that the entire program will freeze when accessing error, respone or body objects.

Normally, the output of the program should be like thi

[2019-08-10 19:53] alrod commented on #4785
Disabled/Enabled state is controlled by the app setting:
`AzureWebJobs.<FUNCTION_NAME>.Disabled` (it works also for V1, document is not updated yet)
https://docs.microsoft.com/en-us/azure/azure-functions/disable-function

You can change app setting using Kudu REST API:
https://github.com/projectkudu/kudu/wiki/REST-API#settings

[2019-08-12 07:02] niliand opened #4788 "AF for IoT Hub. Error after publishing from VS2017: Value cannot be null. Parameter name: receiverConnectionString."
C#

I created a new c# project for IoT HUB Function in VS2017. When I run it on my PC the function works - it receives messages for the iot hub. But when I published the function on Azure Cloud it always prints:
-------------------------------------------------
Error:

Function (FunctionApp120190808020849/scheiotFunction1) Error: Microsoft.Azure.WebJobs.Host: Error indexing method 'scheiotFunction

[2019-08-12 14:18] jasoncoding opened #4789 "QueueTrigger function stopped firing on consumption plan"
After successfully deploying a function on 8-9-2019 the function suddenly stops processing queue messages around 4am on 8-11-2019.  This is a very active queue but I can see that time period being a lull in the action.

After the last message was processed at 4am on 8-11-2019 I see nothing, no errors, zero.  Wake up this morning and I have thousands of messages back up in the queue.

I reviewed ht

[2019-08-12 15:48] JeanBaptisteScellier opened #4790 "The requested app service plan cannot be created in the current resource group because it is hosting Linux apps"
I am trying to deploy a Windows Function app on my resource group. My function app contains 2 databases, a data factory and a logic app. No Linux based function app... Though I've got this error message: "The requested app service plan cannot be created in the current resource group because it is hosting Linux apps. Please choose a different resource group or create a new one"

I found sb with the

[2019-08-12 16:08] npruessner commented on #2720
This worked perfectly for me. Although the code you pasted is a little different for newer versions. Here is what I added to the host.json file in order to get ILogger DI to work properly.

[code]

[2019-08-12 17:45] VaclavElias commented on #4425
@Ozzian, nope this doesn't make log streaming working.

It works only the way as @GFoley83 mentioned above.

I guess, we have to wait till #4689. And it was working couple of months ago..

[2019-08-12 19:20] SameerDoshi commented on #682
The syntax has changed for config section.
See [Query Azure SQL from Node](https://stackoverflow.com_
Config now looks like:
[code]

[2019-08-12 22:10] divyagandhii commented on #4767
We will have to make the same change for Linux consumption logging as well.

[2019-08-12 22:42] balag0 commented on #3406
Prerequisite:  https://github.com/Azure/azure-functions-host/issues/4476

[2019-08-12 22:43] balag0 commented on #3551
No repro anymore.

[2019-08-12 22:43] #3551 closed

[2019-08-12 23:47] yeahsicy commented on #4300
To get a full memory dump on Consumption, it's possible but indirect - Would need to leverage Application insights > Live Metrics Stream to locate the servers.

For example,
![image](https://user-images.githubusercontent.com/34499027/62904902-fcd40c80-bd1c-11e9-98e8-d6a6c5a9f333.png)

Previously, the server name was an actual ARRAffinity value that it's very easy to point to the specific instance.

[2019-08-13 00:00] armanio123 opened #4791 "Host is offline"
The Azure function is reporting ` Status: 503 Service Unavailable` when trying to run it.
I went to troubleshoot the function and is reporting that the host if offline. Logs also show this but I niether found a description about why the host is offline nor I have discovered myself.

My host.json file looks like this:
[code]

#### Investigative information

Please provide the following:

- Timestam

[2019-08-13 00:46] paulbatum commented on #2720
Just a small side note. I do not recommend the part of the above config that sets `fileLoggingMode` to `always`. This will have a significant perf impact in production (writing logs to the filesystem is expensive).

[2019-08-13 01:41] alrod commented on #4791
Did you try to restart the function app through the portal?

[2019-08-13 01:45] armanio123 commented on #4791
Yes. I tried restarting, creating a new function, checking logs, appinsights, etc.

[2019-08-13 09:00] #4750 closed

[2019-08-13 09:00] #4562 closed

[2019-08-13 16:08] MisinformedDNA commented on #1680
I just ran into this as well.

[2019-08-13 17:05] ankitkumarr commented on #4791
Can you check if there is an `app_offline.htm` file in you site directory? If so, would you mind removing it and retrying?

You can use the kudu website (<appname>.scm.azurewebsites.net), then navigate to Debug Console. From there, go to `home/site/wwwroot`.

How had you deployed your Function App last? We advise using [RunFromPackage](https://docs.microsoft.com/en-us/azure/azure-functions/run-fun

[2019-08-13 17:07] ankitkumarr commented on #4779
Could you share your `requirements.txt`? If you do have any references of `azure-functions-worker` there, would you mind removing it and retrying?

+ @Hazhzeng

[2019-08-13 17:21] pragnagopa opened #4792 "Race condition during specialization causes multiple node processes to start"
If specialization happens before webhost level java.exe is fully initialized and starting java.exe fails,
Following code, assumes _workerRunime is same as the runtime for the language worker channel:
https://github.com/Azure/azure-functions-host/blob/af1c7ef437ac62b7b715ed7d46a1667f4f8268c6/src/WebJobs.Script/Rpc/FunctionRegistration/FunctionDispatcher.cs#L108-L128

Causing node process to restart

[2019-08-13 17:45] #4765 closed

[2019-08-13 17:55] #4780 closed

[2019-08-13 17:55] t-nipha commented on #4780
Issue with ASP configuration.

[2019-08-13 18:06] t-nipha opened #4793 "Function runtime unable to start + InternalServerError"
Currently running a Function app (v2) on Linux (Docker image) + App Service Plan, but recently ran into the following:
[code]
I also saw an InternalServerError message briefly.

I reverted back to the last working image, but I'm still facing the same issue. Any ideas?

[2019-08-13 19:11] SpicySyntax commented on #4779
@ankitkumarr please see the [Gist](https://gist.github.com/SpicySyntax/ab2fed3babbf6d6f980b668352ca193d) I included here or in the initial question. I am not sure what happened but when I redeployed a third time I stopped receiving this error. (This was after a Kubernetes version update)

[2019-08-13 19:21] ankitkumarr commented on #4779
`functions_worker` moved out of `azure` namespace and became `azure_functions_worker` over `azure.functions_worker`. So I suspect, there was a discrepancy where you had `azure_functions_worker` in your image, while our Python worker needed `azure.functions_worker`. Now that the image is updated, all references should be to `azure_functions_worker`.

You shouldn't see this issue going forward.
@mai

[2019-08-13 19:47] CrazyTuna commented on #4742
The `ITelemetryProcessor` is triggered but there is no item of type `RequestTelemetry`. Also was checking the `Category` property but nothing relevant.

[2019-08-13 19:48] maiqbal11 commented on #4779
@SpicySyntax, as @ankitkumarr pointed out, we moved the internal implementation of the Python worker out of the `azure` namespace to avoid conflicts with user provided `azure` packages. It's likely that this was a point in time issue with the entry point that was being used to start the worker. It seems like your latest deployment has moved this into a consistent state and you likely won't see iss

[2019-08-13 19:50] t-nipha commented on #4793
Deleted dangling images on local machine, reset computer, rebuilt, and pushed to fix issue. Going to assume it was some weirdness with Docker build.

[2019-08-13 19:50] #4793 closed

[2019-08-13 20:23] SpicySyntax commented on #4779
@ankitkumarr @maiqbal11 Thank you for the timely response. Closing now.

[2019-08-13 20:49] SpicySyntax commented on #4652
@kashimiz Any update here? These are happening intermittently and causing trouble with our deployments.
Thanks

[2019-08-13 20:59] armanio123 commented on #4791
Removing the `app_offline.htm` did the trick. Funny the file is there, my local code doesn't have it.

I have used VSCode's Azure Function extension for deployment and Zip Deployment.

[2019-08-13 22:00] #4498 closed

[2019-08-13 22:31] kashimiz opened #4795 ""System.Runtime.Caching not supported" workaround not working"
#### Check for a solution in the Azure portal
Initially described in issue #4581, related to azure/azure-functions-vs-build-sdk#271. [The suggested workaround](https://github.com/Azure/azure-functions-host/issues/4581#issuecomment-510630802) is not working locally. [kashimiz/functions-memorycache-repro](https://github.com/kashimiz/functions-memorycache-repro) is a simple repro with instructions.

[2019-08-13 22:33] alrod commented on #4790
cc: @balag0

[2019-08-13 22:33] kashimiz commented on #4581
@fabiocav I have a case where the workaround isn't working locally. Please see issue #4795; repro solution is at [kashimiz/functions-memorycache-repro](https://github.com/kashimiz/functions-memorycache-repro).

[2019-08-13 22:36] alrod commented on #4789
can you please share your function app name privatly

[2019-08-13 22:39] alrod commented on #4788
Did you specify `receiverConnectionString `in the function app settings in azure?

[2019-08-13 22:40] alrod commented on #4787
cc: @mhoeger

[2019-08-14 01:49] alrod commented on #4784
I see consistent executions in your function app every day. I do not see executions in period: 21:00 UTC ~ 04:00 UTC each day during last 4 days. Why do you think the function app was stopped? What time did the function app stop?

By the way the premium plan function app is always running.

[2019-08-14 03:14] pragnagopa opened #4796 "Race condition during specialization causes multiple java processes to start"
If specialization happens before webhost level java.exe is fully initialized , FunctionDipatcher starts another java.exe at the  jobhost level as the handler for Worker Initialization does not invoked before specialization

[2019-08-14 06:00] niliand commented on #4788
Specified it here:

![image](https://user-images.githubusercontent.com/31726996/62997762-f3a88400-be71-11e9-83a2-9328e210dcc3.png)

Is it correct?

[2019-08-14 08:02] meixger commented on #4784
Looking in AppInsights i see that from `invocation 9e208afa-bff5-4d98-a61c-3259a106cdf6 at 2019-07-16T21:04:22.476Z` until `invocation 687604b4-04c4-4051-9554-3d5b5f53d61a at 2019-07-29T01:14:33.908Z` there is a gap of ~13 days w/o infocations of the blob trigger.
But in this time range ~1300 blobs created piled up.

I didn't restart the app purposely to allow better diagnosing but now the blob tr

[2019-08-14 09:39] Misiu opened #4797 "Update single value in Application settings at runtime"
#### Is your question related to a specific version? If so, please specify:
V2
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
I'm building my first Function App so if I'm asking a silly question, please keep that in mind :)

I have a need to store some settings at runtime.
In standard desktop apps I can easily update `app.config`
by using:

    Sy

[2019-08-14 10:31] aspire-ldawidow opened #4798 "Azure Function not triggering unless accessed via Azure portal"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp:
-

[2019-08-14 10:32] #4798 closed

[2019-08-14 10:46] rhichajambhale commented on #2421
### **Error for a time trigger azure function**
I have written a function to generate a pdf report using iTextSharp which uses system.drawing .

In this i am getting following prominent error:

[Error] : The type 'Matrix' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

I have

[2019-08-14 11:12] rolnikrolnik opened #4799 "Azure Function not triggering unless accessed via Azure portal"
During the weekend 2 functions from the Function App stopped triggering. One of them (SendMail) is ServiceBusTrigger function, another one (AdminRequestSynchronizationOfOrganisationsAndUsers) is TimerTrigger function, despite messages on the queue and due timer schedules. Once Function App was visited in the Azure Portal, functions started to immediately run.

Function app was last deployed on 8 F

[2019-08-14 17:01] SpicySyntax commented on #4779
@ankitkumarr strangely when I deployed to a new cluster (our QA) the opposite version of this problem started showing up. I have not changed the requirements or docker build provided above.

I.E. we now get "ModuleNotFoundError: No module named 'azure_functions_worker'"

Note the dev cluster that works is Kubernetes 1.13.7, the QA cluster now with this problem is on Kubernetes 1.13.9/
Logs:
[code]

[2019-08-14 17:13] pragnagopa opened #4800 "Restart errored channel only if current jobhost or webhost instance is tracking the channel"
The fix is needed to avoid restarting any orphaned language worker processes

[2019-08-14 17:42] jasoncoding commented on #4789
Hi @alrod ,

When I follow the instructions in the link I get a log screen with text flying by pretty fast.  This is a very active function.  Even when I pause the log I don't see anything like what is in your link.  I did look into app insights and found a host started event:

event time: 2019-08-14T16:40:22.955Z   HostInstanceId: 307395d4-c48b-4810-9873-40cc837f0506

Does this help?

[2019-08-14 18:57] gzuber opened #4802 "ServiceBus_Node_DoesNotExhaustConnections has been failing end-to-end in V1"
Looks like the last time this ran successfully was 10 months ago.

[2019-08-14 19:01] alrod commented on #4791
Zip Deployment will now create a temporary app_offline.htm in the site's wwwroot folder before starting the deployment. Zip Deployment then takes care of deleting the file after deployment is complete. The effect is that while deployment is happening, the app will be kept offline. It looks something went wrong with your deployment and app_offline.htm was not deleted.

Try to use RunFromPackage as

[2019-08-14 19:01] #4791 closed

[2019-08-14 19:24] SpicySyntax commented on #4779
@ankitkumarr I have found a fix.

Firstly I targeted 'mcr.microsoft.com/azure-functions/python:2.0-python3.6' with my Docker image manifest.

Secondly I removed the requirements below from requirements.txt

[code]

Thanks

[2019-08-14 19:24] #4779 closed

[2019-08-14 19:27] alrod commented on #4799
We had a regression in West Europe.
Impact: The function apps in West Europe region using consumption plan can be stopping triggering despite new items in azure resources.
Start: 2019-08-09T22:02:00 UTC.
End: 2019-08-13T20:10:00 UTC.

Your sub `x-x-4axx-x-x` was affected by the regression.
Closing as the regression is already fixed. Sorry for inconvenience.

[2019-08-14 19:27] #4799 closed

[2019-08-14 19:42] alrod commented on #4797
You can change the value of an App Setting on the [azure portal](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#settings) or using [Kudu API](https://github.com/projectkudu/kudu/wiki/REST-API#settings)
Once an App Settings value is updated function runtime will be restarted and new value will be picked up.

 Does it work for you?

[2019-08-14 19:54] alrod commented on #4790
@JeanBaptisteScellier, can you please try to use [resource explorer](https://azure.microsoft.com/en-us/blog/azure-resource-explorer-a-new-tool-to-discover-the-azure-api/
) to see if you have linux resources in the resource group and delete them.

Is creating new resource group works for you?

[2019-08-14 20:30] lmolkova commented on #4731
This is caused by ApplicationInsights ingestion issue and not specific to Function or ApplicationInsights SDK. Ingestion team is looking into this, but there is no public-facing issue to track the progress.

[2019-08-14 20:56] Misiu commented on #4797
Hi @alrod, I didn't know about Kudu API.
My idea is to have function that updates its config at runtime.
I want to have 3 functions inside single resource group, sharing same config.
One, with timer trigger will query some API and will update config so other two can use up to date value.
So can I call Kudu API from Function App? Or. Maybe there is easier way?
Ideally I'd like my Function App to up

[2019-08-14 21:09] dougmolineux opened #4803 "Typescript Container not building in Function App"
#### Is your question related to a specific version? If so, please specify:
Yes, Function Apps 2.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Typescript

#### Question
I have set up a Linux container-based Function App. I initially used the func init command (chose typescript option), and added some code using the service bus topic trigger template. When I ru

[2019-08-14 21:11] MisinformedDNA commented on #3189
Good news: https://github.com/Azure/azure-functions-host/issues/4761

[2019-08-14 22:22] SaebAmini commented on #3189
I wouldn't be too happy for that announcement @MisinformedDNA. As mentioned by fabio, hooking up your own IConfiguraion to use an appsettings file is currently trivial. The real challenge and issue to be tackled is the platform as a whole supporting file-based settings with no nasty surprises, as opposed to environment variables.

[2019-08-15 00:16] alrod commented on #4789
Yes, I see your queue trigger was hanged from 2019-08-11 08:49:53 UTC to 2019-08-12 13:28:02 UTC despite new messages in the queue. We have a regression which causes queue triggers getting stuck.

Workaround:
1.	Open portal -> Restart the function app.
2.	After the app has restarted. Go to Platform Features -> Function app settings tab -> Verify that the function runtime version is 2.0.12625.0 or

[2019-08-15 00:17] alrod commented on #4803
cc: @balag0

[2019-08-15 13:33] ChristianWeyer commented on #3965
@safihamid the second issue you mention has been closed by @fabiocav - why exactly? And does this mean that there are/will not be further cold start improvements? 🤔

[2019-08-15 17:14] safihamid commented on #3965
@ChristianWeyer both issues mentioned above have already been addressed. For the issue which is closed we ended up doing an alternative approach.

And we are constantly working on improving cold starts. It is one of the most important tasks of few of us here at msft :-)  there are some major improvements coming in the next couple of months :-)

[2019-08-15 18:50] MisinformedDNA commented on #3189
24 days ago, you wanted this to be a priority. Not you don't care?

Yes, there may be lots they can do in the future, but it's a step in the right direction.

[2019-08-15 20:40] mhoeger opened #4804 "Language workers versions should come from functions runtime"
There was a period of ~2 months where core tools was using Node.js worker v1.1.0 while apps in azure were using v1.0.3.

This caused unexpected differences in behavior. We should use the same version of the worker without having to make sure they match manually.

cc: @paulbatum @yojagad

[2019-08-15 20:40] ahmelsayed commented on #4804
Moving issue to host repo since cli is blocked on a nuget package that defines dependencies correctly

[2019-08-15 20:42] manums opened #4805 "Azure Functions 2.0 - EventHubTrigger - System.Private.CoreLib: Could not load file or assembly “FunctionsProject.dll”"
I was able to run function app which has eventhub binding from local as well as from West US2 Consumption plan. From last 4 days, after we moved all our dependent projects to build in x64 and updating all nugets to latest - function app started failing. It does not even start, it fails to load the functionsproject.dll itself. Same issue even If I deploy bits to Consumption Plan.

- Functions Proje

[2019-08-15 20:56] ahmelsayed commented on #4806
The slowness in the invocation is a mix of dotnet JIT, storage emulator slowness, and the runtime blocking execution until a bunch of keys and storage stuff are initialized.

The ~1.3 second difference between first call and second call you're seeing is almost entirely JIT. dotnet seems to delay JIT at all costs until it's time to actually invoke your code. So even if you run the process, wait for

[2019-08-15 21:21] rocco-scaramuzzi commented on #4425
Hello Guys,
could I please have some help in understanding if I am doing something wrong in instantiating a service which needs to log in Application Insights.

Thanks to your advices above, I am able to log via a simple service instantiated  via DI inside FunctionStartup (please see GetServiceRequestQueryHandler inside below code snippet).
Instead I don't see any log inside Application Insights f

[2019-08-15 21:47] paulbatum commented on #4804
just curious, why do we have to do this through nuget? For example, could we use some type of approach that was based on the core tools build extracting the functions host (including language worker) from a docker image we publish?

[2019-08-15 21:48] paulbatum commented on #4804
or even just use the existing method as is to get the language workers, but have a build _validation_ step that double checks the versions we got against the versions present in some published image...

[2019-08-15 22:00] SaebAmini commented on #3189
I think you're missing my point. Yes, _proper_ support should be added as a priority.

Reading a file into IConfiguraion currently takes 3 lines of code, which isn't what I was referring to by support.

I actually think adding appsettings at the surface without proper platform support would be dangerous.

[2019-08-15 22:13] ahmelsayed commented on #4804
It's just about having 1 place that's the source of the mapping between a runtime version to worker version.

The cli and docker builds used to download the workers separately, but then worker developers were responsible to update the references in this repo, docker repo, and cli repo. There were many cases where we would forget one or more repo

Node and Java were always nuget packages, then Powe

[2019-08-15 22:58] amamounelsayed commented on #1627
@brettsam: For view 2, the log stream from the app level portal is using the url https:/<site name>.scm.azurewebsites.net/api/logstream.

As we have some logs the same in the host file and the function they both will propagate.
The question do we need the messages to be logged in both files. Referring to https://github.com/Azure/azure-functions-host/issues/1627#issuecomment-312045092

Thank you!

[2019-08-15 23:17] optiks commented on #4425
Have you tried `builder.Services.AddSingleton<IServiceRequestService, ServiceRequestService>(x => new ServiceRequestService(gatewayService, x.GetService<ILogger<IServiceRequestService>>()))`?

[2019-08-16 00:08] ankitkumarr commented on #1351
This may get pushed to another Sprint as I have some higher priority items for this Sprint. Please let me know if anyone has concerns. If so, please state them here and I can re prioritize this accordingly.

[2019-08-16 00:51] ahmelsayed commented on #1351
Dotnet file watchers don't work in a linux container without DOTNET_USE_POLLING_FILE_WATCHER=true. I'd close this issue.

[2019-08-16 02:44] ankitkumarr commented on #1351
@ahmelsayed, maybe this issue got a little side tracked.

But, file watchers even for Windows have been a bit unreliable as @brettsam said above. Specially with the case of `app_offline.htm` and we are seeing a lot of CRIs.

Brett had suggested offline that maybe we should move FileWatcher from JobHost to WebHost level such that even if JobHost restarts due to a file change, the FileWatcher will n