[2019-04-08 18:35] mhoeger commented on #2737
@gpasq - we always love and accept community contributions as an open source project :)

I am starting the work to enable setting multiple cookeis here FYI all on this thread: https://github.com/Azure/azure-functions-language-worker-protobuf/issues/31

[2019-04-08 19:10] DoubleCouponDay opened #4276 "Debugger assemblies clash with user code assemblies"
I am attempting to start a visual studio debug session, of a V2 Functions Project, that uses `System.ComponentModel.DataAnnotations Version=4.0.0.0`. When I start the session, I get an exception. The log stream reads:

[code]
It was discovered that I am dependent on assembly file version: 4.7.2558.0 while the function core tools is dependent on assembly file version: 4.6.27207.3. I discovered this

[2019-04-08 19:11] ahmelsayed commented on #4276
@fabiocav I think this issue belongs here as I don't think the core-tools depends on `System.ComponentModel.DataAnnotations` itself, but I could be wrong.

[2019-04-08 19:13] bgelens opened #4277 "Imperative bindings for out of process languages (PowerShell)"
#### What problem would the feature you're requesting solve? Please describe.
I started using Azure Functions with v2 and PowerShell as the language. Since PowerShell is so flexible, I thought imperative bindings would be logical to be used in our project over declarative bindings. Luckily there is a lot of flexibility in the function.json so I'm not blocked but still there is somewhat of a discon

[2019-04-08 19:14] alrod opened #4278 "Generic approach for performance tests"
This change will allow easy way to add/run a new performance scenario:
1. Add new scenario code, scenario config, JMeter test definition (jmx file).
2. Check in the change to scenario repository.
3. New scenario will be picked up automatically on next performance tests run.

Scenarios (https://github.com/Azure/azure-functions-performance-scenarios)
* add a config for each scenario (id, runtime, de

[2019-04-08 22:16] ahmelsayed commented on #4263
what is that folder? Is this something you can create before using or should the platform provide it?

[2019-04-08 23:13] maiqbal11 opened #4282 "Remove Python Bundler Logging"
Remove logic to log Python bundling path: https://github.com/Azure/azure-functions-host/pull/4281

[2019-04-09 00:23] hiraldesai commented on #3736
Circling back on this one. Did the support for some sort of DI get added to Azure Functions V2 recently? I've been following this thread to make sure I didn't miss it but suddenly stumbled upon [a question like this](https://stackoverflow.com/questions/55377996/net-core-2-2-azure-function-v2-dependency-injection) on SO.

So, can someone tell me what the current status of DI support for Azure Funct

[2019-04-09 00:34] brettsam commented on #4263
@lmolkova -- is this something we'll need to handle ourselves on Linux workers? We could auto-create the folder and set that property...

[2019-04-09 00:39] lmolkova commented on #4268
@TobiasBengtsson

Can you check a few things, please?

1.  Check that duplicates have the same itemId
2. check that it is common for requests and dependencies
3. Are there any specific timestamp ranges when it was happening?

It seems there could be some intermittent issues on the ingestion of ApplicationInsights that create this duplication. But it does not seem to be constant and might be relate

[2019-04-09 00:42] galvesribeiro commented on #3736
@hiraldesai do what I said ☝️ [here](https://github.com/Azure/azure-functions-host/issues/3736#issuecomment-473299060) and be happy 😄

[2019-04-09 00:49] lmolkova commented on #4263
@brettsam indeed, I forgot to configure telemetry channel to support temp storage.

Here is the doc that explains it (FAQ 6) - this is just one line
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core-no-visualstudio#frequently-asked-questions

You probably have more insights on which tmp folder to use in Functions.

[2019-04-09 01:08] german95n commented on #3736
@galvesribeiro But is this official? Is documented anywhere or on a release notes?

I mean, one thing is that it works, but have the AZ team confirmed that this is not going to break in future releases?

I have been using Autofac, but if possible would like to switch to an already DI in net core.

[2019-04-09 01:15] galvesribeiro commented on #3736
@german95n the Az Functions team is working on bring native support to `Microsoft.Extensions.DependencyInjection.Abstractions`.

The first iteration of this work was completed by @fabiocav and is working as my comment say.

There are still some open issues for other features on it like removing the dependency on WebJobs SDK, support for Scoped Services etc. The infrastructure is laid down already.

[2019-04-09 01:20] german95n commented on #3736
Thank you! I will give it a try then since this DI adapts more to what I want to accomplish. As you pointed out, Unit test is an important feature.

I had some doubts as I haven't seen anything official (only this thread).

[2019-04-09 01:25] galvesribeiro commented on #3736
I'm pretty sure their target now is to get it feature full and collect feedback for early adopters. Like I said, as it is based on ME.DI.Abstractions, it should be the same thing as any .Net ecosystem library that everyone use. The only caveat for now, is the use of the Startup class that still depends on WebJobs SDK types, but will be removed later on.

Regardless, I'm pretty sure that they will

[2019-04-09 02:10] zmarty commented on #4179
Hi again. Thanks, I can check that.

We generally do not really see many RequestRateTooLargeException exceptions, that should be rare.

What I don't get is how this translates into this generic error where a bunch of outbound requests seem to be cancelled at the same time. Why can't I see a more specific error other than just "A task was canceled"?

[2019-04-09 02:21] batizar opened #4288 "Disabling TimeTrigger Singelton"
Is there a way to disable `Singleton` for `TimerTrigger` and make it run on all instances?

Thanks.

[2019-04-09 06:51] denikqwerty commented on #4242
Actually, I don`t remember that, maybe I got this while migrated connection
string from AppService. I had one more parameter in connection string:
entityName. After the migration to AzureFunctions I just removed the
parameter, but not the ;

On Mon, Apr 8, 2019 at 9:29 PM Marie Hoeger <notifications@github.com>
wrote:

[2019-04-09 07:02] denikqwerty commented on #4242
@mhoeger I noticed that some messages are processed with a big delay. For example I know that there was a message added to the queue near 2pm yesterday. But this message was processed only at 6am today, that`s because I have another function which is starting at 6am every day. So I think when the other function was triggered, my servicebus trigger was actually called...
This is not an expected beh

[2019-04-09 07:46] bartdk-be commented on #2960
* bump, would like to use guids as query param as well.

[2019-04-09 09:07] RobinTTY commented on #3919
I had the same problem in a project I'm working on and was able to narrow down the cause of this.
In my case a custom nuget.config file was causing the problem, which looks like this (actual package sources removed):

[code]

The specific line which is causing the problem is:

[code]

When removing the line defining the global package folder my problem was gone, I was able to reproduce this every

[2019-04-09 09:58] kichinsky commented on #4169
Thanks, works for me.

[2019-04-09 09:58] #4169 closed

[2019-04-09 10:18] ielcoro commented on #3399
@jtemperv  Yes, that line hasn't changed, it's still and issue, and I think it will not be resolved until this is done at the webjobs-sdk level first: https://github.com/Azure/azure-webjobs-sdk/issues/2078 and then they start adapting those changes to azure-functions

[2019-04-09 10:21] nero120 commented on #3568
@IGx89 thank you for that, coincidentally I was just looking into why this problem was occurring in Azure and your solution resolved the issue! 🥇

[2019-04-09 10:56] tmogedi commented on #3903
I'm also on Core 2.1 and @JohnReeson's workaround fixed the issue for me. I also read up on this on Microsoft's docs https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connect-query-dotnet-core

[2019-04-09 11:16] ielcoro commented on #3736
@galvesribeiro I hoped this work removed the usage on DryIOC that is the origin to the differences in behavior between ME.DI in current functons framework version (see #3399), but as of now I see it's a reimplementation of the standard .net DI facades around DryIOC, which looks like a very bad idea that is going to cause a lot more subtle differences when .net ecosystem libraries, like this one.

[2019-04-09 11:45] galvesribeiro commented on #3736
Well, I believe it is temporary. Like I said, WebJobs SDK types are supposed to be removed according to @fabiocav comment on some other issues.

Yeah, I think Fabio can provide more info but I guess it is because of the reasons I've mentioned on other comment. Less breaking changes, support to incremental feature development on this DI story, and the ability to unblock people to use it piece by pi

[2019-04-09 11:56] Kazpers commented on #3568
I really don't think this can be called solved if you still need to add manual Postbuild workarounds (note haven't had time to test this myself as I'm in a new job now so the project where this was relevant is no longer available to me).

[2019-04-09 12:27] danny8002 opened #4289 "Azure functions offline after deployment"
#### Investigative information

Please provide the following:

- Timestamp: 2019-04-09 08:00:00.567Z
- Function App version (1.0 or 2.0): 2.0
- Function App name: satoriportalfuncs
- Function name(s) (as appropriate): all of the functions under the app
- Invocation ID:
- Region: WestUS2

#### Repro steps

1) 2019-04-09 08:00:00.567Z, I deploy the function app from VS code with 'Azure Functions' pl

[2019-04-09 13:18] ielcoro commented on #3736
Thanks @galvesribeiro for your thorough response.

It's good to know that removing the internal dependency is something that is on the roadmap, an I see reasonable to do it in a parallel changes fashion, we all benefit from it.

I know we should let the team work, but I was writing this with the intent to know the what are the plans of the team for this feature, maybe because I felt, specially aft

[2019-04-09 13:43] espray opened #4290 "Microsoft.EntityFrameworkCore.SqlServer 2.2.2+ -- Error indexing method"
Fail to index when using EFCore 2.2.2 or greater.

- Azure Functions Core Tools (2.5.553 Commit hash: b63f2d6f5479718ca276f7b585a8cc6b9bc57c4f)
- Function Runtime Version: 2.0.12382.0
[code]

[code]

[2019-04-09 17:19] hiraldesai commented on #3736
Thank you for your response @galvesribeiro - the reason I asked for "official" docs on this was because of [this comment](https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/759#issuecomment-427470240) on another issue from @brettsam - I wanted to be 100% sure of the DI support going forward before I undo my `[Inject]` based workaround I have in place. 😄

[2019-04-09 17:24] fabiocav commented on #4282
This needs to be done just before Python GA (or if we decide the log is no longer needed)

[2019-04-09 17:39] fabiocav commented on #3736
@ielcoro to keep this issue on topic, can you please open a separate issue detailing the problems you've encountered? The runtime has requirements that are not met by the built in DI implementation in .NET Core, and are not expected to be, so we don't foresee that dependency removal happening soon (or an alternative that would still need to custom behavior to meet our requirements), but we would l

[2019-04-09 18:03] galvesribeiro commented on #3736
Awesome as usual, @fabiocav 😄

[2019-04-09 18:05] mhoeger commented on #4242
@denikqwerty - I think that the exact message is misleading and we have an internal work item tracking that. There was a change in the service bus SDK that we depend on and it no longer handles trailing semicolons well, so that is a known issue.

Could you also give UTC times for the issue you saw? I do see at 6:01am on 4/9 UTC that we detected 12 queue messages (this was detected _before_ the tim

[2019-04-09 19:18] NickMoores opened #4294 "Aggressive scaling?"
#### Is your question related to a specific version? If so, please specify:
Azure Functions 2

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All):
C#, .NET Core

#### Question
Hi,

I noticed recently, via AppInsights, that the performance of our Azure Functions have decreased on average by about 200-400%. In trying to investigate this a bit further, I've found that a

[2019-04-09 19:32] soninaren commented on #3715
This is complete. The build is present in this repo.
https://github.com/Azure/azure-functions-extension-bundles

[2019-04-09 19:32] #3715 closed

[2019-04-09 19:41] ielcoro commented on #3736
@fabiocav I did 7 months ago 😉 here it is  #3399

[2019-04-09 19:51] brettsam commented on #3399
@ielcoro -- can you try the scoped scenario again? Scoped services weren't supported until this PR went in a few weeks ago: https://github.com/Azure/azure-webjobs-sdk/pull/2133

[2019-04-09 20:08] fabiocav commented on #3943
Adding this to sprint 47 for scoping/investigation. May not be completed until 48.

[2019-04-09 21:31] ielcoro commented on #3399
@brettsam  Thanks for looking into this.

Tried, now scoped services work **BUT** the issue with scoped delegate dependencies is still happening. I created a sample repo here: https://github.com/ielcoro/ScopedDIDemo

When the scoped service is a dependency of a registered factory, it is injected as a Singleton. That is happening because in this line https://github.com/Azure/azure-functions-host/bl

[2019-04-09 22:22] soninaren commented on #4164
This is done.

[2019-04-09 22:22] #4164 closed

[2019-04-10 00:09] mhoeger commented on #4264
@daxian-dbw - can you try debugging into the functions host and see what the content becomes when sent over the wire? In particular, I would recommend stepping into [this code](https://github.com/Azure/azure-functions-host/blob/743089948f6d6212fa0374b40a1a9c323ec204c6/src/WebJobs.Script/Rpc/LanguageWorkerChannel.cs#L447-L462) where the invocation response is processed and [this code](https://githu

[2019-04-10 00:17] mhoeger commented on #4269
Hi @alunmj , I'm going to mark this as a "wontfix" item because we aren't investing in our 1.0 powershell support (note its [experimental status](https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages)).

Although I can't give an exact date, powershell support for functions 2.0 is coming very soon, and I hope that resolves any issues you have :)

See work in progress here: http

[2019-04-10 00:17] #4269 closed

[2019-04-10 00:25] pragnagopa commented on #4227
Metric `host.startup.runtime.language.dotnet` is being emitted for non dotnet apps. This appears to be race condition during specialization. Needs investigation

[2019-04-10 00:36] mhoeger commented on #4277
@fabiocav and @paulbatum - I know we have been talking about this internally, is there a GitHub issue already tracking this?

[2019-04-10 00:37] mhoeger commented on #4288
@batizar - what's the use case?

[2019-04-10 00:41] mhoeger commented on #4288
Also related: https://github.com/Azure/azure-webjobs-sdk-extensions/issues/428

[2019-04-10 01:00] mhoeger commented on #4253
@VictorioBerra - Glad you found a resolution! Can you tell us what steps were involved to get to this state? Which UI are you referring to and what azure CLI commands did you run? (Sorry, my context is purely azure functions so I'm not quite sure what all the steps run to integrate with logic apps are!)

[2019-04-10 01:22] VictorioBerra commented on #4253
I meant the portal. But I am not able to reproduce or remember everything I did at this point since I was trying so many things to resolve the issues. Sorry I can't be more help.

I think the final resolution involved blowing away my function and creating a new one via the az cli but this time specifying v2 storage.

[2019-04-10 01:22] #4253 closed

[2019-04-10 01:31] alunmj commented on #4269
OK, thanks - at least I'm not doing anything obviously wrong, then, which was most of my concern.

[2019-04-10 01:52] PureKrome commented on #3736
@galvesribeiro

Funny you said that ... I've been struggling to get Functions + DI working on localhost for a while. I _finally_ got it working a few weeks back.

After that, I then added my functions project (in my solution) to my `docker-compose` file :) This means I'm using `FROM mcr.microsoft.com/azure-functions/dotnet:2.0` to create a docker image of my function-project and later on, when I l

[2019-04-10 02:03] galvesribeiro commented on #3736
@purekrome Heehhe yeah. I’ve never tried Az Func outside Az itself...

When i said  k8s I meant regular .Net Core/Signar/AspNet/Orleans on top of kube containers

[2019-04-10 02:07] ChrisL108 commented on #3614
Same thing here. Refreshing Node version did the trick.
Agree with @rene78, this would be unacceptable for a production level app.

[2019-04-10 02:09] mhoeger commented on #4290
The workaround is to downgrade to 2.2.0 (although users have noted that there are security issues in 2.2.0).

Dupe of https://github.com/Azure/azure-functions-host/issues/4006, where we will track any updates!

[2019-04-10 03:44] PureKrome commented on #3399
Just want to +1 this comment from @ielcoro

[2019-04-10 04:30] batizar commented on #4288
@mhoeger thanks. Ended up just adding `IHostedService` implementation with `AddHostedService`, just wanted run a code on every instance periodically. It was actually better this way because I am not getting the default information log noises from trigger this way.

[2019-04-10 12:15] himalpatel81 commented on #2720
Any update on this ?

[2019-04-10 13:16] espray commented on #4290
@mhoeger Thanks for the reply! Slightly different in that Microsoft.EntityFrameworkCore.SqlServer Version="2.2.1" appears to be working. Otherwise the same. Feel free to close.

[2019-04-10 15:19] mattchenderson commented on #3788
@fabiocav Can we discuss prioritization here? There are a couple of scenarios where this would be useful, and it's blocking for some customers. We can discuss the details offline.

[2019-04-10 16:35] fabiocav commented on #4290
Will likely keep this one open and close the other issue as the the issue with 2.2.1 should be resolved. Will follow up there.

[2019-04-10 16:37] fabiocav commented on #4006
@JohnGalt1717 the issue you've reported with 2.2.1 should be resolved, can you confirm?

[2019-04-10 16:38] JohnGalt1717 commented on #4006
We're on to 2.2.4 as of yesterday which Azure Function Host should have synchronized releases.

Is it working in 2.2.4 to your knowledge?

[2019-04-10 17:28] #4288 closed

[2019-04-10 18:02] sylvaingirardbe commented on #4289
Sounds a lot like #4275. Can you check in the monitor section of the function and look at the invocation details of a failed call?
![image](https://user-images.githubusercontent.com/1567350/55902339-92bf2580-5bcb-11e9-86c5-db71ba5f5d5b.png)

[2019-04-10 18:10] fabiocav commented on #4156
@MFurn we'll be investigating, but wanted to check if this is something you're still experiencing.

[2019-04-10 18:26] fabiocav commented on #4172
@elprans is running from files a requirement? If so, can you confirm that you have the app setting `AzureWebJobsSecretStorageType` set to `files`?

[2019-04-10 18:32] fabiocav commented on #4184
Closing this as we'll no longer be taking this approach after the recent changes.

[2019-04-10 18:32] #4184 closed

[2019-04-10 18:32] fabiocav commented on #4183
Closing this as resolved.

[2019-04-10 18:32] #4183 closed

[2019-04-10 18:35] fabiocav commented on #4186
@wahyuen are you still experiencing this issue?

[2019-04-10 18:40] fabiocav commented on #4192
The RPCException here is expected (that will be the exception type you'll see wrapping the invocation error), the root cause is the Mongo error being thrown.

@mhoeger any additional follow up needed on the App Insights investigation? @brettsam has some thoughts here.

[2019-04-10 18:41] pragnagopa opened #4296 "Rethrow RpcException on invocation as InvocationException"
Related incident #4192
RpcException on invocation failure is confusing. Need to rethrow it as InvocationException instead.

[2019-04-10 18:45] fabiocav commented on #4204
@galvesribeiro closing this as resolved, but we're curious about the pattern being used here. Is there a reason why you're explicitly wiring the extensions with a startup type? This is automatically done by the extensions and they properly use the various configuration sources in those cases.

[2019-04-10 18:45] #4204 closed

[2019-04-10 18:46] fabiocav commented on #4209
@safihamid can you comment on this? is the recommendation to use APIM for features like this moving forward?

[2019-04-10 18:49] fabiocav commented on #4232
Closing as answered. Please let us know if you have any additional questions.

[2019-04-10 18:49] #4232 closed

[2019-04-10 18:53] fabiocav commented on #4233
This is potentially due to a race in the timeout shutdown path. Needs investigation.

/cc @brettsam

[2019-04-10 19:00] fabiocav commented on #4252
Thanks for sending this. The current behavior is by design after considering some of the issues around key management in Key Vault, so we don't plan on addressing this at this point.

[2019-04-10 19:00] #4252 closed

[2019-04-10 19:07] brettsam commented on #4268
Since it looks like this is being handled via a separate Support ticket, I'm going to close. Please feel free to re-open if we need more investigation on the Functions side.

[2019-04-10 19:07] #4268 closed

[2019-04-10 19:08] fabiocav commented on #4294
@NickMoores would you be able to share an invocation id, region and a timeframe so we can take a deeper look at the issue?

[2019-04-10 19:11] fabiocav commented on #4276
@DoubleCouponDay do you have a repro we can look at? That would help ensure we can look at the exact issue you're running into.

[2019-04-10 19:14] fabiocav commented on #4251
@shibayan the approach you're using is correct. We do depend on the shutdown signaling flowing from IIS so we can correctly signal that token, and that should be happening in that scenario.

Assigning this for investigation as it looks like a defect.

[2019-04-10 19:22] fabiocav commented on #4212
@kzryzstof thank you for the follow up. @ConnorMcMahon will be out for the next few days, so I'll let him follow up on the SO question when he gets back.

Closing this as resolved.

[2019-04-10 19:22] #4212 closed

[2019-04-10 19:37] MFurn commented on #4156
@fabiocav  We had to open a ticket with support and they said "it’s most likely related to a known issue within the Azure Functions scaling logic"   They have since stated they rolled out a fix.  We have seen a few "System.ObjectDisposedException at Microsoft.Extensions.Logging.LoggerFactory.CreateLogger" but it did not coincide with a complete lack of scaling of the app.

[2019-04-10 19:38] espray commented on #4006
@JohnGalt1717 - 2.2.1 is working for me. But, 2.2.2, 2.2.3 & 2.2.4 all failed for me when I logged #4290

[code]

[2019-04-10 19:46] espray commented on #4290
@fabiocav - Assembly loading has been a sore spot, similar issues with Newtonsoft.Json being stuck on 11.0.2. Assembly loading has gotten better, will/can this get better over time? Or are we are just going to have to deal with some incompatibility/lag with a few package?

[2019-04-10 19:52] sharushetty commented on #3386
In my case, I had pulled into Microsoft.Azure.WebJobs.Extensions.DocumentDB NuGet package into my .Net Core 2.1 project and was getting the same error. It was evident with the imported NuGet showing a warning message saying it was pulled using .Net FW 4.6.1. I was able to resolve this issue by uninstalling DocumentDB NuGet followed by installing Microsoft.Azure.WebJobs.Extensions.CosmosDB

[2019-04-10 20:03] pragnagopa commented on #4289
@danny8002 - Does this issue repro consistently?

[2019-04-10 20:10] JohnGalt1717 commented on #4006
@espray @fabiocav This issue is about Azure Function's failure to synchronize releases to the .NET core releases and as a result, the Azure Functions runtime is always exposing it's customers to security vulnerabilities.

The bug will be fixed when:

1. Same day releases of Azure Functions are released synchronized with the .net core releases. At least point releases.
2. There is an obvious place

[2019-04-10 20:18] safihamid commented on #4209
Yes, all future feature requests should go to APIM serverless. https://azure.microsoft.com/en-us/blog/announcing-azure-api-management-for-serverless-architectures/

[2019-04-10 20:22] galvesribeiro commented on #4204
@fabiocav we thought that by calling `AddCosmosDB(options)` on the startup class, we could add a service-level connection string that wasn't required to be added on every function.

I think that we should have that option for all the parameters on that attribute. If the user specify it on the startup class, then use it. If not, require the attribute. And if it was on startup and also set on the at

[2019-04-10 20:38] pragnagopa commented on #4267
Thanks for reporting and providing a repro. Will look into this.

[2019-04-10 21:46] NickMoores commented on #4294
Hi @fabiocav , sure can!

Invocation ID:  f085c3de-9c3b-41f6-aee4-30aae942437b
Region: North Europe
Timeframe: 1940->2000 (BST)

In this timeframe, it scaled from 1 instance to 13 as the message rate increased.

Thanks for taking a look!
Nick

[2019-04-11 00:35] wahyuen commented on #4186
@fabiocav after much analysis from the team, we've tracked down the offending piece of code.

`log.LogWarning($"Exception AnalyseImage() - {JsonConvert.SerializeObject(e, new JsonSerializerSettings { ReferenceLoopHandling = ReferenceLoopHandling.Serialize })}");`

I'm guessing that was naive implementation on our side. (have since removed it) The difficulty that we found was that the above piece o

[2019-04-11 00:50] DoubleCouponDay commented on #4276
@fabiocav
## reproduce

1. Install visual studio 2017 with the azure workload (through installer).

2. Open vs and create a new azure function project. Select "V1 .net framework" as the target runtime.

3. `Import System.ComponentModel.DataAnnotations` from the standard library.

4. Add [this class](https://gist.github.com/DoubleCouponDay/976deaa5deca27cc7a5455346aebc9b5) to your solution.

5. Unl

[2019-04-11 00:55] DoubleCouponDay commented on #4276
It looks like this is a misconfiguration in the csproj and this trail of steps is not expected behaviour for users. I think it would help this edge case if the runtime printed an error to console if the "TargetFramework" element in the `.csproj` does not align with the "AzureFunctionsVersion" element.

[2019-04-11 05:08] DoubleCouponDay commented on #4276
Just to clarify, it works when you change "AzureFunctionsVersion" element's value to `V1`.

[2019-04-11 15:59] cts-shrahman opened #4299 "Supportability: User Story - Help customer write better code"
#### What problem would the feature you're requesting solve? Please describe.
Customer code issues are biggest call drivers in support. Here is a sample of the different varieties of issues that come in:

•	HOW TO configure VS for Functions
•	High CPU consumption (memory-dump)
•	Blob Trigger not firing (batchSize/2)
•	HOW TO Key Vault integration
•	404 not found - creating 0KB file, removed
•	Gene

[2019-04-11 16:20] cts-shrahman opened #4300 "[Supportability] Capture a memory dump on Consumption"
#### What problem would the feature you're requesting solve? Please describe.
How to capture a memory dump on Consumption? (CPU or memory)

#### Describe the solution you'd like
Need a profiler for Functions similar to what we have for Windows (puneetg)

[2019-04-11 16:38] cts-shrahman opened #4301 "[Supportability] Scaling decision comprehension for customers"
#### What problem would the feature you're requesting solve? Please describe.
Scaling decision comprehension for customers - mostly identify which HOST.JSON configuration to tweak per trigger typed when high CPU is an issue, or when trigger not firing.

#### Describe the solution you'd like
Coverage in detector and self-help.

[2019-04-11 16:52] cts-shrahman opened #4302 "Detector: Outbound connections/Networking"
#### What problem would the feature you're requesting solve? Please describe.
Detector for outbound connections/networking

#### Describe the solution you'd like
Clarify what is the limit for example ([300 ](https://github.com/Azure/azure-functions-host/wiki/Host-Health-Monitor)or [1920
](https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#per-sandbox-per-appper-site-numerical-limits))

[2019-04-11 17:56] fabiocav commented on #4006
@JohnGalt1717 that's good feedback, and we do depend on the deployment cadence on App Service (Web Apps), which we run on top of. As of now,  they are on 2.2.3, and we'll be moving to match with the next deployment.
We'll be working on ways to make that process more visible and see what we can to do improve the turnaround.

I like the idea to list the supported runtime dependencies, which are esse

[2019-04-11 17:56] sylvaingirardbe commented on #4289
FWIW, in my case it wasn't reproducible, happened at least once, maybe twice, not sure about the first time. It was a deploy from within VS Code every time. I set up a DevOps CI/CD pipeline yesterday and did 10 to 20 deploys and all went fine.

[2019-04-11 17:58] fabiocav commented on #4209
Thank you for the confirmation.

@damienwebdev I'm closing this based on the recommendation above, but please let us know if you have any additional questions.

[2019-04-11 17:58] #4209 closed

[2019-04-11 18:00] jeffhollan commented on #4006
I think having the x.y level of detail makes sense on docs (e.g. 2.2), but for the x.y.z level I'd prefer to point somewhere in GitHub or elsewhere that is providing that level -- ideally in an automated fashion -- but maybe even something like a GitHub wiki

[2019-04-11 18:03] fabiocav commented on #4276
Ah, those steps were helpful in better understanding the flow! Thank you.

Do you have a similar issue if you create a V2 project? You're not changing the target framework when you update the version (You're keeping a full framework function project targeting 2.0), correct?

[2019-04-11 18:34] JohnGalt1717 commented on #4006
@fabiocav It's fine if it's in sycn with App Service. The problem is that in my experience it very rarely is.

And there should be a way of overriding it if necessary. As an example, we use Docker functions. In this case it doesn't matter what the App Service is using, only what docker says to use.  Same if you force install the .net core framework into the app service. (i.e. people wanting to tes

[2019-04-11 18:38] metrodeveloper commented on #4049
I totally agree with above comments. Unless you are telling Azure Function developers to seek different platform, MS should really fix the problem. I have a number of 3rd party .net framework libraries that do not use .net Core and they can't be used in Azure Function V1 because of JSON.NET=9.01

[2019-04-11 19:45] fabiocav commented on #4006
We're making changes so for that to happen as part of the same deployment.

It does that today. JSON.NET is one the the locked dependencies, but explicit references can (and well) override this behavior.

Do you have more details on Azure dependencies you've had problems with? We'd definitely like to track (and address, or at least document) anything customers run into issues with

[2019-04-11 19:47] metrodeveloper commented on #2414
This hardly addresses real problems developers have. You are pretty much telling developers to abandon custom .net framework libraries and Azure function v1 if it doesn't work with JSON=9. .net core is not widely received and I hope you understand that this kind of attitude is what moves developers away from using anything Microsoft.

[2019-04-11 19:51] JohnGalt1717 commented on #4006
@fabiocav Excellent on the first one. Would still like to see a /depends on the func.exe.

Second item: Ok.

Third Item: KeyVault and RestClient I believe were the 2 that we noticed issues with.

[2019-04-11 19:57] kevin-secrist commented on #4049
For what it's worth, I was able to use Json.NET 12.x with functions v1 with a binding redirect and it mostly was working fine. I did lose some native serialization/deserialization support with bindings, so I had to do that directly but the project did compile and run properly. You can see how to set up a binding redirect [here](https://stackoverflow.com/a/44425580). Still not the best solution tho

[2019-04-11 20:09] paulbatum commented on #2414
As discussed above, we spent time looking for ways to fix this in V1, and the approaches we came up with were breaking changes that would impact existing V1 customers. Therefore we were not able to proceed with those changes. Yes it is unfortunate that V1 was implemented with this limitation. We took our lessons from V1 and applied them to V2.

[2019-04-11 21:11] metrodeveloper commented on #2414
If V2 can accommodate .net framework in cojunction with .net core, it would be golden. I am speaking in behalf of so many third party companies that simply won't have the solution available for .net core any time soon. I strongly suggest looking at the issue and instead of abandoning V1 and .net Framework.

[2019-04-11 21:37] cbailiss opened #4303 "Security Issue: httpOnly is ignored"
I have deployed a basic Azure function (AF v2 runtime).
In the portal I set HTTPS Only to "On".

However, I can still call the function over HTTP.

In the exported ARM template, I can see "httpsOnly": true.
I have tried restarting the function.
I can still call the function over HTTP.

Surely this is a security issue?
Is this similar to / a recurrence of https://github.com/Azure/Azure-Functions/is

[2019-04-11 22:07] DoubleCouponDay commented on #4276
`System.ComponentModel.DataAnnotations` in .net is only available after preview 3. I'd imagine it would work.

I am not changing the target version. When you do this (`net471` -> `netcoreapp2.1`), you need to run `nuget restore` in the root folder. This is because `./obj/project.settings.json` prevents compilation until it has a build configuration that matches.

[2019-04-11 22:43] ahmelsayed commented on #4303
Which OS/Platform are you running on in Azure? (Windows Dedicated, Windows Consumption, Linux Dedicated, Linux Consumption)?

[2019-04-11 23:14] cbailiss commented on #4303
Windows, .Net project (C#), Consumption plan.

[2019-04-12 07:07] cbailiss commented on #4303
Looks like this is now redirecting to HTTPS so closing the issue.

[2019-04-12 07:07] #4303 closed

[2019-04-12 08:46] mahl opened #4304 "Azure function project doesn't copy system.private.servicemodel.dll to the output directory"
This is the same issue with #3568. That issue is closed but we still need to manually modify the csproj file to make it copy the dll. This doesn't seem fixed at all.

[2019-04-12 08:52] danny8002 commented on #4289
no, just happens once.

[2019-04-12 11:34] pksorensen commented on #4187
I just tried azure functions in visual studio 2019 today and the following was my experience.

I had to change csproj til targetframework to netstandard20 for the startup Configure method to be called when running locally.

Then everything ran fine locally.
[code]

When deploying to azure (following dialogs in visual studio and creating a new host and function app) application insights reports tha

[2019-04-12 14:55] sm1th commented on #3593
Having the same issue. We require `"AZURE_FUNCTION_PROXY_DISABLE_LOCAL_CALL` to be `false`. Tried `"AZURE_FUNCTION_PROXY_BACKEND_URL_DECODE_SLASHES": true` to no avail.

[2019-04-12 15:13] mhoeger commented on #4187
@pksorensen - can you share your deployed function app name, either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)?

[2019-04-12 16:39] fabiocav commented on #4187
@pksorensen can you please also share the version of the `Microsoft.NET.Sdk.Functions` package you're using?

[2019-04-12 16:55] pksorensen commented on #4187
@mhoeger @fabiocav

When just using the newly created project in VS, it used 1.0.24 of the Sdk.Functions. I have updated that now to 1.0.26.

Just deployed it again to : https://earthmlsatellitesopenaccesshubingestor.azurewebsites.net
West Europe

[2019-04-12 17:03] pksorensen commented on #4187
A different error now,

[code]

so looks like updating SDK functions worked. thats an application error

[2019-04-12 17:13] fabiocav commented on #4276
What types are you attempting to use and having problems with? Annotations should be available in .NET Core https://apisof.net/catalog/System.ComponentModel.DataAnnotations

[2019-04-12 18:26] brandonh-msft opened #4305 "IoTHub/EventHub should provide ability to add offset as parameter"
Although the trigger allows us to get the offset of the incoming message, we cannot set the offset of the desired message.  This makes testing messages either from the IoTHub or Function side challenging, it also means that reprocessing messages because of a bad function or skipping messages because earlier messages do not need to be processed (or the data from IoTHub is bad) is not possible.  Fur

[2019-04-12 18:28] brandonh-msft commented on #4305
cc @theangellmethod

[2019-04-12 19:51] fabiocav commented on #3943
This is done.

Duplicate of #3640

[2019-04-12 19:51] #3943 closed

[2019-04-12 21:04] SatishRanjan opened #4306 "Request to enable function level logging for function load"
#### What problem would the feature you're requesting solve? Please describe.
Currently function specific logging requires function invocation id to retrieve logger for a function and perform function specific logging, and since at function load time there's no invocation id available, so at this point it's not possible to write function specific log in the function level logger

#### Describe the

[2019-04-12 21:08] fabiocav commented on #4288
@batizar please be aware that injected `IHostedService` instances in functions is not a supported scenario and not guaranteed to work. This may be disabled in the future as we can not ensure reliable operation of those services.

[2019-04-12 21:12] fabiocav commented on #4204
Was trying to better understand the use case as that is normaly not required, same with HTTP.

So, to comfirm, this was done to avoid havint to add the connection string reference to the acutal functions using the attribute model, correct?

[2019-04-12 21:15] fabiocav commented on #4204
@brettsam can you share more information on the default connection string setup?

[2019-04-12 21:16] galvesribeiro commented on #4204
Yep. So if you set it "globally" (both connections, collection, db) in the startup class, I think the attribute should not require any parameters. The parameters would be an exception to override the global settings. Totally optional. However if both parameters and the startup hasn't set, it should throw.

[2019-04-12 22:35] brettsam commented on #4204
We'll fallback to the `CosmosDB` connection string if we can't find anything else.

Locally you can set that in local.settings.json like:

[code]

In the your deployed app, add a `CosmosDB` connection string in the `Configuration` tab.

Or if you'd prefer to set this globally and not use the default `CosmosDB` connection string, you can override the options by calling `PostConfigure<CosmosDBOption

[2019-04-13 04:58] DoubleCouponDay commented on #4276
Here is the type. Notice it is not available in net core 2.2 and below.

[2019-04-13 10:36] PankajRawat333 opened #4307 "How function SDK sending logs in ApplicationInsights customMetrics"
####  Azure Function V1 with ApplicationInsight

#### C#

#### I have implemented my custom logger for applicationInsight (using TelemeteryClient) and I can see my log data in traces and requests collections as expected. But I can see some additional data in [**customMetrics**.](https://i.stack.imgur.com/0lOUm.png). Is it data send by function SDK? it yes then how? I want to know this logic.

[2019-04-13 14:43] espray commented on #2279
+1 ran into this issue as well.

[2019-04-13 17:00] galvesribeiro commented on #4204
@brettsam that is somehow what I did.

However, that also means the current binding will not work and we should inject the `DocumentClient` ourselves.

[2019-04-15 08:24] meixger commented on #3399
I'm also using MediatR and run into DbContext errors -- exactly as @ielcoro described above.

🙏Hopefully this will be addressed in the next release as mentioned in [Dependency Injection support for Functions #3736](https://github.com/Azure/azure-functions-host/issues/3736#issuecomment-481357555) ?

[2019-04-15 12:33] brettsam commented on #4204
What scenario didn't work for you? I tried the scenarios above using the binding and verified that it worked.

FYI -- my function looked like this and I verified that the db was created:
[code]

[2019-04-15 13:17] galvesribeiro commented on #4204
That is weird... Look at the original issue... The only difference I see is that I'm not using a static function...

[2019-04-15 13:19] brettsam commented on #4204
Can you look in your /bin folder of your function app (the /bin folder that is a peer to host.json when you build) and tell me what the extensions.json looks like?

[2019-04-15 15:16] brettsam commented on #2447
This was committed with #4214 and is being released with https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12408

[2019-04-15 15:16] #2447 closed

[2019-04-15 17:59] pragnagopa commented on #4076
Here is the current the baseline measured with tool [WCAT](https://www.iis.net/downloads/community/2007/05/wcat-63-x86) with a simple HttpTrigger

**C#**
[code]

**Java Script**
[code]

**Java**
[code]

Average response time for JavaScript or Java is almost double the response time for a C# function.

[2019-04-15 19:34] bitbitzzz commented on #3493
I am see this as well in our dev environment. We have a function with queue trigger that works right after we deploy, but after a while of inactivity, it stops triggering. There are currently 5 items in the queue, just sitting there. Looks like multiple people are experiencing this.

[2019-04-16 00:58] kashimiz opened #4308 "Allow DELETE verb for extension webhook routes"
#### What problem would the feature you're requesting solve? Please describe.
The Durable Functions extension uses extension webhook routes to provide an HTTP API for the management of orchestrations. One management operation purges an orchestration instance's history from the underlying storage provider at the user's request. This is implemented as a DELETE endpoint in the extension. However, the

[2019-04-16 08:51] tomkerkhove commented on #2623
I'd like to have ARM support for this as well!

[2019-04-16 09:45] FedoroffSoft commented on #4187
Little remark about the 2.0.12342.0 run-time version. I've found out that the AddScoped works as AddSingleton in that version. The 2.0.12382.0 doesn't have known problems with the DI.

Actually I'm going to specify the exact version 2.0.12382.0 for all of my servers. The ~2 is dangerous because you production server can suddenly brake down after the runtime-version was changed by Azure team.

[2019-04-16 13:22] A142838 commented on #3614
Same happens for us after each deployment
Runtime version of function
Runtime version: 2.0.12382.0 (~2)
Node Version set : WEBSITE_NODE_DEFAULT_VERSION  -> 8.11.1
Runtime versions on the app service plan has 8.11.1 available
Error message : error failed to start language worker process for node. the operation has timed out

[2019-04-16 17:05] hamamotsu commented on #3493
I also encountered this problem.
In my case, I use slots in the consumption plan.

[2019-04-16 22:15] mhoeger commented on #4187
@FedoroffSoft and others - I would be careful of pining to a specific version of the functions host, as we sometimes do remove them. You can follow Azure/app-service-announcements where we post an issue when we do remove versions though (example: https://github.com/Azure/app-service-announcements/issues/167)

DI is a feature we're currently working on officially supporting, so thanks for your pati

[2019-04-17 00:09] fabiocav commented on #3212
Actually, the issue linked to the SO question referenced in the original issue was resolved with PRs linked to https://github.com/Azure/azure-webjobs-sdk/issues/1760

@m1nkeh can you confirm?

@garygsscott if you're seeing similar exceptions, can you please open a different issue and share details/stack?

Thanks!

[2019-04-17 02:00] #4264 closed

[2019-04-17 07:24] HansDahle commented on #4055
We're also experiencing this error intermittently on a server running multiple agents. Consireded if the isse was both agents using the same nuget cache, causing some lock issue etc, but even disabling all but one agent still resultet in issues.

Workaround for us:
After switching to MSBuild task instead of dotnet build, the problem seems to have gone away.

[2019-04-17 08:49] JishnuSidh opened #4312 "Document DB error : Authorization token doesn't present sufficient permission to serve the request"
While trying to insert 50000 records into cosmos db using azure data factory or data bricks the error : 'Authorization token doesn't present sufficient permission to serve the request' is thrown from cosmos DB. This occurs at random point. Sometimes around this occurs after inserting 4000 records or 30000 records and at times the the job is successful and all 50000 records are inserted cosmos DB.

[2019-04-17 10:49] Raspbier opened #4313 "Time trigger not working as expected"
Hello Github Community,

Currently i'm working with Azure Function version 2.5.553. My task is to create a time triggered Azure Function.
I am working locally.

#### Repro steps
I am working with Python 3.6.8 and VS Code 1.33

I followed this tutorial, to create the new function.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

I created a TimeTriggerd

[2019-04-17 12:38] vitalybibikov commented on #838
@ogvolkov  I've started to experience the same issue too.

I have an availability test, that pings my API Management, that calls my AF v2

![image](https://user-images.githubusercontent.com/7008739/56288132-be3f9400-6126-11e9-80a6-da8d600f9180.png)

[2019-04-17 12:56] m1nkeh commented on #3212
i keep meaning to reply to this.. but i am working with a brand new project, with all the latest up to date SDK levels, Azure Functions 2.0 .Net Core etc.. etc..

Host level exceptions (all of them) are annoying noise in Applicaiton Insights.. this particular one, relating to the lease lost stuff is especially frustrating because under heavy load / scaling there are just constant exceptions and ev

[2019-04-17 13:43] garygsscott commented on #3212
Hi @fabiocav, @m1nkeh - I managed to suppress 90 % of these warning messages in my function by creating a dedicated consumer unit within my event hub and then ensuring that my event hub triggered function only connected to that one particular consumer unit.    These messages still appear but with much less frequency after taking this approach.   I actually work for the same organisation as @m1nkeh

[2019-04-17 18:30] fabiocav commented on #4276
thank you for providing this information.

[2019-04-17 18:30] #3970 closed

[2019-04-17 18:33] fabiocav commented on #4308
Closed by #4311

[2019-04-17 18:33] #4308 closed

[2019-04-17 19:34] mhoeger opened #4315 "Optimize "ToRpc" and "ToObject" calls"
As an example, http request.

[2019-04-17 19:36] mhoeger opened #4316 "Error handling on ToObject parsing"
metadata: Metadata { _internal_repr: {} },
details: 'Exception was thrown by handler.' }

Can be thrown from language worker side if there is an issue in handling the incoming message on server side. Should be more aggressively defensive

[2019-04-17 20:00] #4172 closed

[2019-04-17 20:11] soninaren opened #4318 "Deploy extension bundle via rapid update"

[2019-04-17 20:13] fabiocav commented on #4154
@jeffhollan need to follow up on this item. Moving to Triage backlog for now

[2019-04-17 20:13] soninaren opened #4319 "Add an app with extension bundle as default config to runners to measure cold start impact."
depends on #4318.

Once extension bundle is deployed via rapid update we need to measure the cold start impact to make decision wheter to enable bundles by default.

[2019-04-17 20:15] brettsam opened #4320 "ServiceCollection validation"
Add a way to validate built ServiceCollections to prevent people from overriding critical services.

[2019-04-17 20:18] brettsam opened #4321 "Implement Log Analytics workflow"

[2019-04-17 20:18] #4261 closed

[2019-04-17 20:24] fabiocav commented on #4039
According to @mathewc, this might have been done with the recent sync triggers work. @brettsam may just need to validate

[2019-04-17 20:27] jeffhollan commented on #4154
Sounds good. If I understand right the feature is around emitting more Ids into Kusto and such so when we have to match an event Id to a trace it's easier.  I'm not sure exactly which event Ids this is in reference to. We can chat offline but I'm open to your recommendations in terms of what the priority should be. Is this still a P1, just triaged? Or should this be a P2?

[2019-04-17 20:35] pragnagopa opened #4322 "Update Functions Java"
Add latest version of Java 8 supported by AppService to Rapid Update

[2019-04-17 20:38] fabiocav commented on #4273
Blocked on breaking changes announcement period

[2019-04-17 20:51] soninaren opened #4323 "Sprint 47 runtime deployment"

[2019-04-17 21:21] mathewc commented on #4039
Whenever we sync triggers (direct call or background) we log the sync payload [here](https://github.com/Azure/azure-functions-host/blob/71a6ab35770c33165f1543c51397013d0446a32f/src/WebJobs.Script.WebHost/Management/FunctionsSyncManager.cs#L358).

[2019-04-17 21:31] brettsam commented on #4039
@FinVamp1 -- were you working on the ScaleController-related detector? Would the payload here work for that?

[2019-04-17 22:45] jaffadan commented on #3869
I have moved to use  Storage Events and no longer use Blob Triggers.

[2019-04-18 06:14] FinVamp1 commented on #4039
@Brettsam will look and verify by next week.

[2019-04-18 13:56] brettsam opened #4326 "NullRef in LanguageWorkerChannel.Dispose()"
While reviewing "top 20" error messages, I've seen this stack pop up quite a bit:

[code]

It looks like we simply log it, rather than rethrow, but it may be worth seeing if we can clean it up (it's likely a race).

/cc @pragnagopa

[2019-04-18 14:00] brendan-mcmahon commented on #3568
I was just testing locally after updating to durable 1.8. It seems like it's working after removing the workarounds I'd implemented, but I didn't see this mentioned in the release notes. Was this addressed? Either intentionally or inadvertently? Or is it a weird fluke that this is working now?

[2019-04-18 15:59] pragnagopa commented on #4326
Thanks for opening tracking issue. PR #https://github.com/Azure/azure-functions-host/pull/4210 addresses this issue. It makes sense to no log this error as by the time this code gets hit, language worker process is already disposed.

[2019-04-18 17:53] paulbatum commented on #4277
@mhoeger Off the top of my head, I'm not aware of one. So for now I suggest we keep this issue open tracking this feature request.

[2019-04-18 18:06] paulbatum commented on #4227
I confirmed this by looking at a day's worth of telemetry from our cold start runners. This is going to be screwing up our analytics pipeline.

[2019-04-18 18:09] mhoeger opened #4328 "Do not start language worker process if disposing"
There is a corner case scenario where with kudu non-zip deploy and out-of-proc language workers, we can get into a state where a language worker is unnecessarily spun up while restarting.

Sequence of events (from event logs from an observed issue):
 - Deployment started, we are going to shut down the current running Job Host
   - `File change of type 'Changed' detected for   'D:\home\site\wwwroot

[2019-04-18 18:15] mhoeger opened #4329 "Prevent new work while Job Host is shutting down from adding `app_offline.htm`"
The biggest case where we have seen issues with this is a non-packaged deploy, where a deployment adds app_offline.htm but also immediately starts to signal Job Host restarts from making file changes.

Example of an error caused by this: https://github.com/Azure/azure-functions-host/issues/4328

[2019-04-18 18:24] brandonh-msft commented on #4267
I, too, am seeing this.

[2019-04-18 18:54] paulbatum commented on #3903
@fabiocav Any thoughts on why folks are still reporting issues here? Reopening while we investigate.

[2019-04-18 20:49] mhoeger opened #4331 ""Adding dependency download request to node language worker" logs"
I'm seeing the logs "Adding dependency download request to node language worker" show up many times even when I don't have anything in my host.json around managed dependencies.  I also wonder if we want to change this to trace-level output? But mainly I'm wondering why it is showing up for all apps.

[code]

My host.json is:
[code]

[2019-04-18 20:49] mhoeger commented on #4331
@SatishRanjan

[2019-04-18 21:01] brandonh-msft commented on #4267
FWIW doing this unblocks:
[code]

and using it like:
[code]

[2019-04-19 03:01] jijohn14 opened #4332 "Check for null when parsing functionTimeout from host.json"
#### Investigative information
Same issue: https://github.com/Azure/azure-functions-host/issues/2468

Please provide the following:

- Timestamp: 04-18-2019 1000
- Function App version (1.0 or 2.0): 2x
- Function App name: Any
- Function name(s) (as appropriate): Any
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

Set below attribute in host.json

[2019-04-19 18:18] mayoatte commented on #3736
@fabiocav thanks to you and the team for all your hard work. We're very much looking forward to this official release (even though we're using the non static instance methods already).

I'm trying to get a sense of the scenarios this feature will unblock (other than basic DI). For example...

We frequently want to add custom dimensions to the request telemetry logged to app insights. Each function

[2019-04-19 19:15] Angr1st commented on #4005
This is not needed anymore as you can bring your own Version of FSharp.Core at least since SDK Version 1.0.26 and the Function Runtime Version: 2.0.12408.0 and Azure Function Core Tools Version: 2.6.666. I dont know what fixed it or what was done to fix this.

[2019-04-19 19:15] #4005 closed

[2019-04-19 20:01] JamieMagee opened #4335 "Output bindings not registered"
I'm unable to get any output bindings to work when debugging locally using Azure Functions core tools. That includes using the example functions

#### Investigative information

n/a (Debugging locally)

#### Repro steps

Debug the function attached at the bottom of the bug report. `context.bindings` only contains 1 binding, but it should include 2: An input and an output. Both bindings are correct

[2019-04-20 00:23] mathewc commented on #4265
Yes, in V2 we've removed host ID config from host.json, because for most scenarios this causes problems for people. However, you can still set it via app settings. Try setting the host ID in your Function App settings. the setting name to use is **AzureFunctionsWebHost:hostid**. @fabiocav that's the correct setting path, right?

[2019-04-20 00:38] mathewc commented on #4039
Be aware that the format of this log will be changing. Currently it is an array of triggers, but after https://github.com/Azure/azure-functions-host/pull/4145 is activated, it can also be an object.

[2019-04-22 00:08] charlesYong076 commented on #3212
+1 for fixing

[2019-04-22 05:33] joal42 commented on #3549
how did you get it passed? I have the same issue. Function will crash after ~1hour with same error.
My function runs at docker locally triggered by eventhub and output to cosmosdb.

[2019-04-22 11:57] burimameti opened #4336 "upgrade NotificationHub v.3.0.1 on project that uses newtonsoft v9.0.1"
I am in need to upgrade the current version of Notification Hub v.1.0.7  in order to use fcm but the current version of newtonsoft is 9.0.1 , This Newtownsoft version is required by external dll developed on this version. Is there anyone solved this let me know how

[2019-04-22 17:52] hannmtz85 commented on #4088
we still having this issue, any of the guys know haw to resolve it???

[2019-04-22 17:58] chetnam commented on #3493
@bitbitzzz do you have multiple output bindings set up in function.json by chance?

[2019-04-22 18:04] yoliva commented on #4088
we will provide indirectly our function name so you can investigate this further

[2019-04-22 19:04] eduardolaureano commented on #1604
Just recently a customer hit this issue, which caused them to move out of webjobs / functions. Basically the customer thinks functions shouldn't get stuck retrieving messages, and process the next message when that happens. For now they are using simple dotnet core apps for improved reliability / resiliency

[2019-04-22 19:21] hannmtz85 commented on #4088
@mhoeger this is the info that you asked to @yoliva

[code]

[2019-04-22 21:03] brettsam commented on #3212
This has been fixed with https://github.com/Azure/azure-webjobs-sdk/pull/2176. The next version of the EventHubs package will contain the fix.

[2019-04-22 21:06] #3212 closed

[2019-04-22 21:32] chrsmith opened #4337 "Limitations for accessing the current user's name"
#### Is your question related to a specific version? If so, please specify:
No.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
All

#### Question
I'd like to know what restrictions exist around accessing information about the current user or current disk when running within the Azure Functions host environment.

If you spawn a Golang process which calls the [user

[2019-04-22 23:00] joal42 opened #4340 "Eventhub binding: The listener for function 'Functions.EventhubTrigger' was unable to start."
My function is running locally in my docker container. The function runtime language is python. The function is binding with eventhub as input. It also crashed after a couple of hours with following exception:

[code]
Or
[code]
Or:
[code]

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0): 2.0
- Function App name: running locally in my

[2019-04-23 10:24] ScoutmanPt opened #4343 "Local clean project with durable functions not working"
I'm having issues with  Durable Functions in a clean project with VS2017

My current configuration:

Visual Studio 15.9.11
Azure Functions and WebJobs tools 15.10.2058.8969
Microsoft.NET.Sdk.Functions 1.0.24
Microsoft.Azure.WebJobs.Extensions.DurableTask 1.8.0

The code

[code]
The log when hitting F5

[code]

Im keep getting this :
"Microsoft.Azure.WebJobs.Host: Error indexing method 'Function1_H

[2019-04-23 11:53] PingPongSet opened #4344 "Issue with HttpClient via Dependency Injection via Contructor, Cannot access a disposed object"
HttpClient is used like below, the error below occurs from second request onwards unless the runtime is restarted.

Cannot access a disposed object.
Object name: 'System.Net.Http.HttpClient'.

[code]

[code]

Azure Functions Core Tools (2.6.666 Commit hash: 2ea98edb55cd2fc249765fcf3f5e308
29c7c9932)
Function Runtime Version: 2.0.12408.0

[2019-04-23 19:35] #3373 closed

[2019-04-23 19:37] #3068 closed

[2019-04-23 19:39] #3321 closed

[2019-04-23 20:18] pragnagopa commented on #4076
Here is a related issue describing the flow the control https://github.com/grpc/grpc/issues/18205, if messages are not read from the channel at some point grpc will start blocking the writes.

[2019-04-23 21:50] brettsam commented on #4344
Can you try asking for an `IHttpClientFactory` in the constructor? https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2#basic-usage

It looks like you need to use the "Typed client" approach if you want an `HttpClient` injected: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2#typed-clients

Please re-open if you sti

[2019-04-23 21:50] #4344 closed

[2019-04-23 21:54] brettsam opened #4345 "Remove filters for ILoggers created by customer DI"
We need to be less restrictive on filtering logging categories. Today if someone creates a logger that is not in one of our "accepted" lists, we'll filter it away. You can get around this by adding one or more filters to get those categories flowing again, but this shouldn't be necessary.

The below settings will allow any category that starts with "OrderService" to be logged at "Information" and

[2019-04-23 23:03] asavaritayal commented on #1329
+1 on behalf of a customer requesting the feature

[2019-04-24 01:42] fabiocav commented on #4304
@mahl the file will be in the runtimes. Did you add the post-build step as mentioned in the referenced issue?

[2019-04-24 02:45] mahl commented on #4304
I know I can fix it by adding the post-build. The problem is it _should_ work as is, without manually editing the project file.

[2019-04-24 09:33] luthus commented on #4265
@mathewc looks like this worked. In that case it appears that the linked documentation is just out of date.

Thanks

[2019-04-24 14:30] #4320 closed

[2019-04-24 15:52] PingPongSet opened #4346 "Best practice for using Azure Functions runtime version"
What is the best practice for using runtime version given that the runtime introduced breaking changes, and using specific version will cause issue given that runtime will be removed regularly.
https://github.com/Azure/app-service-announcements-discussions/issues/90

Please let me explain below:

**Scenario 1:**
When below is used,

FUNCTIONS_EXTENSION_VERSION =~2

Our code broke with the latest r

[2019-04-24 17:19] fabiocav commented on #4304
Yes, the work to automate the process and eliminate the need to setup the post-build step is tracked in the SDK.

[2019-04-24 17:19] fabiocav commented on #4304
I'll leave this issue open and update once those changes are done.

[2019-04-24 17:32] slyons commented on #3637
This is still an issue. Had the same issue with EventHubs:

``#r "Microsoft.Azure.EventHubs"`` did not work, but ``#r "../bin/Microsoft.Azure.EventHubs.dll"`` did.

[2019-04-24 17:41] fabiocav commented on #4346
The best and recommended practice is to use the latest. It is a rare occurrence, but unfortunately, a regression was introduced with a new release impacting your app.

If you want to perform validation on new versions, the recommendation is to:
- Subscribe to new release notifications at https://github.com/Azure/app-service-announcements/issues
- Pin yourself to the current release you've validate

[2019-04-24 18:37] brettsam commented on #4343
Can you try moving to Microsoft.NET.Sdk.Functions 1.0.26 and running again?
If that doesn't work, can you share what is in the extensions.json file in your function apps /bin directory?

[2019-04-24 18:49] brettsam commented on #4337
The functions host runs in the App Service sandbox -- the details of which you can find here: https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox. There are some differences depending on whether you're running in Consumption plan vs App Service plan, and I believe those differences are called out in that document. There's a section on file access here, for example: https://github.com/pr

[2019-04-24 18:55] brettsam commented on #4340
Does this ever succeed? Or is it always failing for you?

// cc @maiqbal11 for the Python question. Maheer, have you seen the first error above?

[2019-04-24 19:08] joal42 commented on #4340
It always succeed for 2 -4 hours. And then, it failed. I host my containers in AKS. I scale up my AKS agent nodes number. It become better. But, it still restart frequently. Do you have any idea for how to debug with this error?

[2019-04-24 20:01] brettsam commented on #4340
@joal42 -- and this occurs every time after a couple of hours?

@ahmelsayed -- have you seen containers having problems connecting to other services after some time? Any idea how we can debug what's happening?

[2019-04-24 20:06] ahmelsayed commented on #4340
I don't know of anything special about the container environment that would cause that.

It could be related to the python deadlock issues @maiqbal11 was looking into since all the errors seem to be timeouts.

[2019-04-24 20:40] brettsam commented on #4055
Note that I've just pushed a new version of Microsoft.NET.Sdk.Functions -- [1.0.27](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/1.0.27) -- that contains some better logging in an effort to catch the underlying error. If possible, it'd be great if anyone experiencing this could move to this version so we can get some better output (hopefully!).

[2019-04-24 20:46] maiqbal11 commented on #4340
Hard to say anything about the deadlocks issue without getting more into the details of what the scenario is. @joal42, what is your app trying to accomplish? Do you have multiple functions in the same function app that might be calling each other?

[2019-04-24 21:09] joal42 commented on #4340
@maiqbal11
My function is to get input streaming data from Azure eventhub and do some data transformation and then write to CosmosDB. So, I binding function input with evnethub and output binding is cosmosdb.

Eventhub streaming incoming message avg is ~4 messages per min. Function host.json is
[code]
I run this eventhub triggered function in my docker container. The container is managed by AKS. I

[2019-04-24 21:13] joal42 commented on #4340
@brettsam Yes. I tried push function to containers managed by AKS in multiple regions. And, I monitor it for several days. It always throws lot of timeout exception after 2-4 hours. The function is running locally inside the container in my AKS cluster.

[2019-04-25 04:55] #3949 closed

[2019-04-25 09:33] PingPongSet commented on #4346
Hi @fabiocav ,

In terms of time frame, how a latest runtime works when it is publicly downloadable and it is rolled out on Azure Functions? For example, how advance is the runtime available before it is rolled out to Azure fucntions?

How long will an old runtime be kept for on Azure Functions after latest runtime rollout? Based on what factors are an old runtime decided to be deteled?

[2019-04-25 09:43] PingPongSet opened #4350 "IHttpClientFactory intermittent error: An error occurred while sending the request"
The error below occurs intermittently when `_httpClientFactory.CreateClient()` is used to send request to external resources.

[code]
Any solution?

**Update**

static HttpClient has issues with DNS. This is why I try to avoid static if possible and if using IHttpClientFactory can resolve all issues.

But I am not sure if my issue is caused by DNS or something else.

Would a typed httpclient (or w

[2019-04-25 10:41] lee-garrington opened #4369 "Issue introduced with version 2.0.12408.0 of the runtime which was not present with 2.0.12382.0"
I have detailed the issue here...
https://stackoverflow.com/questions/55839514/intermittent-dependency-injection-failure/55847358#55847358

[2019-04-26 05:12] AartBluestoke commented on #4049
@hf-kklein Newtonsoft.Json has released 12.0.2 now, and 12.0.1 has been out for ~5 months, perhaps update your title?

[2019-04-26 05:22] AartBluestoke commented on #4049
https://github.com/Azure/azure-functions-vs-build-sdk/milestone/9 has [Relax our restrictions on Newtonsoft major versions #304](https://github.com/Azure/azure-functions-vs-build-sdk/issues/304) as a task

[2019-04-26 14:07] deshmanedarshan commented on #1528
Hi, request you to comment on [https://stackoverflow.com/questions/55861426/error-handling-in-azure-function-when-used-with-sendgrid-as-output-binding/55862337](url) this please.

[2019-04-26 15:05] ScoutmanPt commented on #4343
Hi , already try it. Still same result. Regarding extensions.json i dont have that file in the solution  neither in bin or obj.

Here's the complete list of the files

\FunctionApp3\FunctionApp3.sln
\FunctionApp3\FunctionApp3\bin
\FunctionApp3\FunctionApp3\Function1.cs
\FunctionApp3\FunctionApp3\FunctionApp3.csproj
\FunctionApp3\FunctionApp3\host.json
\FunctionApp3\FunctionApp3\local.settings.json

[2019-04-26 15:31] brettsam commented on #4343
Can you share your project file? Is this a single-project solution, or is it many?

[2019-04-26 15:48] zippy1981 commented on #3909
I'm ok with this behavior on azure, but it should also be the behavior when running the azure function runtime locally.

[2019-04-26 16:56] #4162 closed

[2019-04-26 17:48] ankitkumarr opened #4355 "Specific series of events can lead to Host being in a specialized limbo state"
If a specialization request is made when the application host is starting up, there's a chance of a race condition.

From @brettsam -
We do two things in the application host, before starting up the job host:
1.	Check if we’re in standby mode and if so, set up the paths to be temporary\functions\standby\...
2.	Later, again check if we’re in standby mode and if so, add all the standby services (whi

[2019-04-26 17:53] #4149 closed

[2019-04-26 22:49] maiqbal11 commented on #4340
Hi @joal42, I looked into one of the error codes that you're receiving: https://success.docker.com/article/what-causes-a-container-to-exit-with-code-137. The link suggests that one of the reasons for this might be that you are running out of memory. This is at least plausible given that you are seeing this failure after 2-4 hours during which you might be leaking memory. Is there a way for you to

[2019-04-26 22:55] ScoutmanPt commented on #4343
Hi again, sure.
Here it is:
http://bit.ly/ExampleFx3

[2019-04-26 23:02] mhoeger opened #4358 "Duplicate HTTP header exception ('request-context')"
Setting specific HTTP headers in a response body will result in a System ArgumentException. The function will appear to succeed, but the actual response returned will be a 500 or 502.

The `Request-Context` header is known to cause issues.

The following headers may also cause issues (from [here](https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/3cc166e3c9ec9d3f4ce77f48d3ab8c6bd6

[2019-04-27 00:08] mhoeger commented on #4088
@hannmtz85 - Are your functions not being triggered except when you navigate to the portal as the issue describes? On our end, we see 4 functions always succeed and 6 functions failing intermittently. In particular, we see this exception message: `A task was canceled. at FunctionsApp.Shared.LHApi.ExecuteRequest(String url)`

If it is a separate issue, please open a new one.

For everyone looking a

[2019-04-27 00:09] alrod commented on #4265
AzureFunctionsWebHost:hostid is worked fro V2

[2019-04-27 00:09] #4265 closed

[2019-04-27 00:49] alrod commented on #4305
Can you use offset filtering inside function code and skip the messages processing by conditional clause? Offset can be stored in apps setting and you can get offset using `string offset` or `EventData.Offset`

[2019-04-27 08:29] minidfx commented on #2720
This is very confusing for me because I've my own ServiceProvider containig my singletons for the host, for instance the HttpClientFactory containing states(HttpClientHandlers) but I potentially I receive a new ILogger instance for each execution.

A scope is created at each execution of the function to isolate some states between functions, for instance the DbContext.

Because we received a new I

[2019-04-27 09:33] minidfx commented on #2720
Ok to be able to use my own DI container injecting the ILogger given by the Azure Function and to avoid a memory leak with the EF Core DbContext, I call the **UseInternalServiceProvider** extension method to pass my ServiceProvider to EF Core, then no more *ServiceProviders* cached and no more warnings because 20 *ServiceProvider* were created.

[2019-04-27 13:49] lukasvosyka commented on #3370
This is still open! Just ran into the same issue. Using an ordinary custom model for HttpTrigger binding won't deserialize arrays, collections, etc. Instead need to go via HttpRequestMessage or similar and deserialize on it own.

[2019-04-28 07:51] JordyLangen commented on #33
Is this something that is already released? Currently working on a project that uses azure function authentication but there are some key differences when developing locally.

My claims when the function is deployed:

[code]

vs the claims I have when making a request against localhost:

[code]

So right now it's very cumbersome to develop locally.

[2019-04-28 21:02] JamieMagee commented on #4335
Upgrading to Azure Functions core tools `2.6.1071` appears to have solved the issue.

[2019-04-29 00:55] chrsmith commented on #4337
Thanks for the info @brettsam.  I don't know how exactly the Golang libraries are trying to get the current user's information, but this is enough information for me to make progress on the issues on my end. (And if I see any differences in how the runtime differs from the documentation, I can open a new issue. But I'll assume that all the behavior I'm seeing is all correct by-design.)

[2019-04-29 00:55] #4337 closed

[2019-04-29 06:59] deshmanedarshan commented on #1528
Hi @mathewc, Can you please let me know  whether AZURE infrastructure does a retry when there is SendGrid binding failure ?

[2019-04-29 13:55] Shunderpooch commented on #3493
Hey everyone! We've debugged this a lot and in our use case and we had multiple output bindings that would cause the function not to work properly. Changing to just one output binding made everything work for us- try that and share if it works for you!

[2019-04-29 16:14] #4322 closed

[2019-04-29 16:54] pragnagopa commented on #4170
Latest build from AppVeyor: https://ci.appveyor.com/project/appsvc/azure-webjobs-sdk-script-y8o14/builds/24179880/job/38krsj5beimb8dej/artifacts

Functions.Private.2.0.12442-prerelease.no-runtime still has following:
`<virtualDirectory path="/" physicalPath="%XDT_EXTENSIONPATH%\%XDT_BITNESS%" />`

@alrod - Can you please take a look?

[2019-04-29 17:01] ConnorMcMahon commented on #33
The work was slightly de-prioritized, so it is not out yet unfortunately. I don't believe there is too much work to be done to finalize that work item yet, but at this time I can't give an ETA for that feature unfortunately.

One way you could test you code changes locally would be to create a second function app with the same exact Authentication/Authorization config that your production function

[2019-04-29 17:19] mathewc commented on #1528
The SendGrid output binding doesn't do retries itself (code https://github.com/Azure/azure-webjobs-sdk-extensions/blob/7fcca7f5ce44c28b1bc9cff51592737c95c78c5f/src/WebJobs.Extensions.SendGrid/Bindings/SendGridMessageAsyncCollector.cs#L56). It just uses the SendGrid SDK to send. If the invocation fails, retries for the trigger that caused the invocation will happen, based on what trigger type is us

[2019-04-29 17:23] joal42 commented on #4340
@maiqbal11 Thanks for pointing to memory leaking here. I increase my container memory to 1G and 2G. Over 1 day, I only see 1 function timeout error. Do you have an idea for how to set container memory based on function input data size?

[2019-04-29 17:32] fabiocav commented on #3975
@brettsam we need to pick this back up. We had a conversation about this last week and more and more scenarios are impacted by this. Let's plan on a design review so we can move this forward.

[2019-04-29 17:46] maiqbal11 commented on #4340
I believe memory allocation for your container will need to happen before running the function app? In that case, it would be difficult to dynamically allocate memory based on the input that you are receiving. @ahmelsayed might have thoughts on whether it is possible to dynamically allocate memory.

[2019-04-29 20:12] pragnagopa commented on #4335
@JamieMagee  - generated function.json looks right. Can you please explain what do you mean by

cc @mhoeger  for follow up

[2019-04-29 20:20] pragnagopa commented on #4336
This requires updating nuget references for Microsoft.Azure.WebJobs package.
@brettsam / @fabiocav  - Are there any plans to update Newtonsoft.Json for webjobs v2 sdk?

[2019-04-29 20:31] pragnagopa commented on #4332
Copying the documentation from : https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout

Indicates the timeout duration for all functions. In a serverless Consumption plan, the valid range is from 1 second to 10 minutes, and the default value is 5 minutes. In an App Service plan, there is no overall limit and the default depends on the runtime version. In versio

[2019-04-29 20:50] mhoeger commented on #4335
@JamieMagee - I think what you're referring to is that the "bindings" object only contains the names and values of input / trigger type bindings. This is expected behavior as we've documented it (in [our docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#contextbindings-property) and in our [TypeScript type definitions](https://github.com/Azure/azure-functions-no

[2019-04-29 21:40] r-tanner-f commented on #85
Did I misunderstand adriennn's post or is that still a static binding?

My use case is unzipping files. I need to unzip, rename, and place in blob storage. Could be anywhere from 1 to 100 files in the zip.

[2019-04-30 01:39] mhoeger commented on #4231
@fabiocav - issue related to discussion today

[2019-04-30 04:51] asavaritayal opened #4362 "[Python] Run from a SquashFS package"
/cc @ahmelsayed

Starting an issue to track the runtime update required to support SquashFS.

[2019-04-30 07:04] JordyLangen commented on #33
@ConnorMcMahon thanks for your message! However, that sounds overly complicated :sweat_smile:.

Right now I'm using a `System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler` to get the claims from the `X-ZUMO-AUTH` token when I see there is only one claim that is `http://schemas.microsoft.com/2017/07/functions/claims/authlevel`. Not a fan of having "debug" code in the production codebase, but it

[2019-04-30 09:42] ksstott commented on #4055
I've updated my project to version 1.0.27 and I get the following error:
`C:\Users\user\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.1.0\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(33,5): error : Metadata generation failed. Exit code: '-1073741571' Output: '' Error: 'Process is terminating due to StackOverflowException.' [<csprojpath>]`

[2019-04-30 12:32] bsnithin44 commented on #3906
Is there any update on this?

[2019-04-30 13:02] brettsam commented on #4055
@ksstott thank you! Does this happen every time you build, or is it sporadic?

[2019-04-30 13:28] gthvidsten opened #4363 "routePrefix ignored when using ConfigurationBuilder"
In `WebJobsStartup`, if merging original configuration with custom configuration, the `routePrefix` defined in `host.json` is ignored and all `HttpTrigger` functions use "api" as `routePrefix`

I have not deployed this to any Azure resource yet, and I'm only running locally, so please bear with the lack of investigative information

#### Investigative information

Please provide the following:

-

[2019-04-30 15:08] ksstott commented on #4055
It is happening all the time for me running locally (running on windows) but not happening when we are building in a docker container using the `microsoft/dotnet:2.2-sdk` docker image

[2019-04-30 16:42] pragnagopa opened #4364 "Setup central repo for E2E tests"
Each language worker repo has a set of basic end to end tests.  Advantages for central repo:
- Automated test runs across all languages for host release
- Partner teams can add tests for new binding extensions

[2019-04-30 18:13] ahmedelnably commented on #4335
Closing as resolved

[2019-04-30 18:13] #4335 closed

[2019-04-30 18:44] alrod commented on #4170
https://github.com/Azure/azure-functions-host/pull/4365

[2019-04-30 19:11] #4170 closed

[2019-04-30 19:33] fdario-gcm opened #4366 "ServiceBusTrigger is not triggered after function goes asleep"
We have a Function App V2 that has TimeTriggers, HttpTriggers and ServiceBusTriggers, running on Consumption Plan.
Hitting the function URL or doing any HTTP request "wakes up" the function, and once the function is up and running, every message in a Service Bus queue gets picked up and processed correctly. After some idle minutes, the function, as expected, goes asleep, and it simply doesn't trig

[2019-04-30 19:53] brettsam opened #4368 "Clean up usage of IsPlaceholderModeEnabled and InStandbyMode"
We've got several ways to check if we're in placeholder mode and most of them check env vars directly. This can lead to nasty race conditions. We should be storing this value as the host starts and using the stored value. I believe the only service that should be checking env vars directly is the Standby service that is in charge of specialization.

We need to have a solid way to check this during

[2019-04-30 20:20] NickMoores commented on #4294
Hi there,

Interestingly, this seems problem seems to have rectified itself some time between the 14th and 19th April...

On the 13th April, we had 27 different roles processing our events, but on 19th (with events being generated even more frequently) we had just a single role processing the events, with the average performance improving considerably in the latter case.

Unsure if a release has c

[2019-04-30 23:27] EricJizbaMSFT opened #4372 "listFunctions ARM api fails for linux consumption function app"
Recently noticed the structure for linux is different for windows again (first happened here: https://github.com/Azure/azure-functions-host/issues/3502), causing problems when listing functions in the VS Code extension. Also the linux one doesn't have an "id" property

Here is what we get on linux consumption:
[code]

Here is what we get on windows:
[code]

[2019-05-01 00:37] fabiocav commented on #4369
@lee-garrington provided some information in the SO thread. What you're doing there is not Functions specific and doesn't use the DI capabilities we're introducing.

Do you have the same experience with the latest runtime version?

[2019-05-01 00:39] fabiocav commented on #4372
@mathewc is this related to the latest sync triggers change?

[2019-05-01 00:43] fabiocav commented on #4366
@SatishRanjan can you please help with initial ivestigation and triage? Looks like triggers were not correctly synchronized or credentials are not usable from the controler.

[2019-05-01 00:44] EricJizbaMSFT commented on #4372
FYI - looking back at our telemetry, I think this issue started happening for us around April 18th

[2019-05-01 01:30] fabiocav commented on #4323
Done

[2019-05-01 01:30] #4323 closed

[2019-05-01 01:57] #4362 closed

[2019-05-01 03:58] angellmethod commented on #4305
I won't be able to test this in code until 5/10 at the earliest.  If I'm understanding correctly, it seems like if I am using a conditional clause to skip messages, then I would still get charged for execution since the function still has to execute X number of times before it gets to the data I actually want to use.  If I have to keep doing this for testing, it would eat into that allocation rath

[2019-05-01 10:13] PingPongSet commented on #4350
Please see the updated exception at the top.

Any update?

[2019-05-01 10:34] louisekeegan commented on #3386
I've added the recommended Build.Targets file, but this didn't fix it for me. I installed Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator v1.1.0 and the latest version of Microsoft.NET.Sdk.Functions (1.0.27). The extensions.json file looks correct and is present in the publish directory. However I'm getting an error when I call my function (Exception binding parameter {dependencyName} -

[2019-05-01 11:03] pgussow commented on #4055
For me this is error it is giving:
Error processing D:\projects\FunctionApp\bin\Debug\netstandard2.0\bin\Microsoft.CSharp.dll for extension metadata: FileLoadException Could not load file or assembly 'Microsoft.CSharp, Version=4.0.4.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

[2019-05-01 13:46] brettsam commented on #4055
@ksstott -- I'm going to try to think through if there's any diagnostics we can try to gather that would help us narrow this down while you've got a busted setup.

@pgussow -- do you see any error messages in your build that starts with "Metadata generation failed"?

[2019-05-01 14:06] pgussow commented on #4055
Unfortunately no. It was not generating any extensions.json file anymore. So based on other Google-results I added the package Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator explicitly to my FunctionApp project.

I'm expecting 2 extensions there:
- Service Bus Trigger
- AutofacOnFunctions (lib I'm using for DI).

Maybe this gives a bit of a clue. Based on the ouytput might it be the se

[2019-05-01 14:18] pgussow commented on #4055
I also tried with using the 1.1.0 version of the ExtensionsMetadataGenerator. No luck unfortunately

[build_output_1.1.0.txt](https://github.com/Azure/azure-functions-host/files/3134750/build_output_1.1.0.txt)

[2019-05-01 14:34] brettsam commented on #4055
@ksstott -- assuming you can continue to reproduce this locally. If you run your build command with detailed verbosity (like with `dotnet publish /v:d`), you should get a log that includes some details about the paths that we're running the extension metadata generator against and the parameters we're passing in. You can search for `Task "GenerateFunctionsExtensionsMetadata"` to see where those se

[2019-05-01 15:03] pgussow commented on #4055
Based on your reply I think I figured it out what is going wrong: When I ran the command which my logging states:
Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.Console.dll "D:\projects\SomeComp.IntegratieEnOntwikkeling\Azure\FunctionApps\Integrationhub\SomeComp.IntegrationHub2\bin\Debug\netcoreapp2.1" "D:\projects\SomeComp.IntegratieEnOntwikkeling\Azure\FunctionApps\Integrationhub\Som

[2019-05-01 16:00] mathewc commented on #4372
The ARM updates I made haven't been deployed yet, so are not active. The issue in the payload you shared is that the response isn't ARM wrapped. @ahmelsayed / @balag0 - ARM wrapping is added in your patch branch https://github.com/Azure/azure-functions-host/commits/balag-release in commit https://github.com/Azure/azure-functions-host/commit/be5d186cb85cdedc325d2fa50f6458ef29d62e4a, which you apply

[2019-05-01 16:17] brettsam commented on #4055
@pgussow -- what does your project file look like? Sounds like it's different than the StackOverflow that we're occasionally seeing, so I may split it out into a separate issue if it looks unrelated to this specifically...

[2019-05-01 17:33] FlippieCoetser opened #4374 "No settings for blob storage encoding"
Reading data from blob storage is done using **blob.read()** method.
When the blob is not encoded using **UTF-8** an error is thrown.

In Python, the encoding is set like this: **open(File, encoding='ISO-8859-1', mode='r').read()**
But it is not possible to set the encoding with bindings or extra parameters when using blob storage in azure python functions.

Please add a mechanism to set the encod

[2019-05-01 19:09] bobvandevijver commented on #3386
@louisekeegan It sounds like your dependency object fails during construction, probably some uninitialised variable in the constructor?

[2019-05-01 20:04] brettsam commented on #4039
Gonna go ahead and close this as it looks like everything we need is there. @FinVamp1 -- feel free to open back up if that's not the case.

[2019-05-01 20:04] #4039 closed

[2019-05-01 20:05] brettsam commented on #4321
Process has started; will spill into next spring.

[2019-05-01 20:13] fabiocav commented on #4372
@balag0 assigning this to you as you'd need to handle the update.

[2019-05-01 20:15] fabiocav commented on #4278
This has been done.

[2019-05-01 20:15] #4278 closed

[2019-05-01 20:16] ahmelsayed commented on #4372
The changes were here https://github.com/Azure/azure-functions-host/pull/3704 but I thought that is no longer needed with Mathew's changes. I can pull the commit for adding the ARM envelope from there to the mesh image. but I want to verify with @mathewc that this will not double wrap the response once he enables his feature.

[2019-05-01 20:21] mathewc commented on #4372
The ARM changes in ANT 82 won’t be deployed for another few weeks. So the previous wrapping is still needed. That work is also behind a Geo feature flag. No double wrapping will happen - the new API when enabled will remove the header the runtime checks for so runtime won’t wrap. We wrap in the Geo API.

[2019-05-01 20:32] soninaren opened #4375 "Test and update the docker image to include extensionbundles"

[2019-05-01 20:34] fabiocav commented on #4055
Investigation is in progress. Updates were made and we're getting additional information, but this will go into next sprint.

[2019-05-01 20:41] fabiocav commented on #4273
@maiqbal11 we should be able to move forward with this. Deployment would only happen at the end of sprint 49

[2019-05-01 20:41] soninaren opened #4376 "Update host to use extension metadata generator version 1.1.0 for extension install api"

[2019-05-01 21:01] maiqbal11 commented on #4273
We are messaging with a 25th May deadline for this breaking change: https://github.com/Azure/app-service-announcements/issues/169. Including this as part of the Sprint 50 release.

[2019-05-01 21:08] brettsam commented on #4343
Hi @ScoutmanPt -- I wasn't able to get to your link; it said I wasn't found in the directory.

[2019-05-01 21:08] fabiocav commented on #3386
@louisekeegan this looks like a different issue. If you can open a separate issue and point to a repro, it will be easier to investigate

[2019-05-01 21:12] brettsam commented on #4340
@maiqbal11 -- transferred assignment to you since it sounds like you're investigating. Feel free to re-assign if you want me to take it back.

[2019-05-01 21:45] ColbyTresness opened #4377 "Metric for function language"
In V2, on the analytics side, we track metrics by language stack. There's no good metric right now for us to tell what language a specific function is though - ideally, we'd like to be able to disambiguate between TypeScript and JavaScript, for instance. Another example is .NET precompiled vs CSX. It would be interesting to see how many customers are using scala on the java worker, for instance. A

[2019-05-01 21:46] ahmelsayed commented on #4372
should be fixed in https://github.com/Azure/azure-functions-docker/commit/8ae116e654065fa3aa88c3ad1de8b360609675dc

[2019-05-01 22:17] brettsam commented on #4275
Hi @sylvaingirardbe -- I'm just looking at this, sorry for the delay. It looks like the deployment you did may have taken a long time to unpack and get running again, which could explain the errors you were seeing. Have you enabled "run from package" on your site? It can help with issues like this. You'd set an app setting of `WEBSITE_RUN_FROM_PACKAGE` to `1`.

https://docs.microsoft.com/en-us/azu

[2019-05-01 22:35] fabiocav commented on #4346
Can you clarify what you mean by publicly downloadable? If you're referring to the Core Tools, a release of that doesn't happen until the Azure deployment completes. This is required because artifacts tested and built with a newer version of the runtime are not guaranteed to work with previous versions (e.g. customers may start using new features introduced and not available in previous versions).

[2019-05-01 22:38] fabiocav commented on #4290
@espray can you expand with more details about the challenges you're facing?

JSON.NET is not locked from a runtime perspective (if you're referring to package requirements, we're about to relax that as well).

The key limitation that exists today is for framework releases (.NET Core/ASP.NET Core), where you can't adopt those until functions does. And we're responding to those as quickly as possib

[2019-05-01 22:58] soninaren commented on #4318
This is not complete the extension bundle has been added to the feed.

[2019-05-01 22:58] #4318 closed

[2019-05-01 22:59] soninaren commented on #4216
This is done, nuget cache is now added to the rapid update feed.

[2019-05-01 22:59] #4216 closed

[2019-05-01 23:32] #4290 closed

[2019-05-02 06:47] pgussow commented on #4055
To summarize my findings:
1. When using Microsoft.NET.Sdk.Functions 1.0.27 I get the Microsoft.CSharp 4.0.4.0 exception.
2. When using Microsoft.NET.Sdk.Functions 1.0.24 I DO NOT get the Microsoft.CSharp 4.0.4.0 exception.
3. After adding these lines to my project file the extension generation works:
  <PropertyGroup>
    <_FunctionsTaskFramework>netcoreapp2.1</_FunctionsTaskFramework>
  </Propert

[2019-05-02 07:43] LarryKlugerDS commented on #1206
## Azure Function (Node.js) often returns ECONNREFUSED

The function works fine most of the time. But testing with single threaded requests one immediately after the next sometimes results in a ECONNREFUSED error.

The rate of these errors so far is 6 ECONNREFUSED errors for 56 HTTP POST attempts. Not good.

Are there any switches or settings I should check?

Is this expected behavior? I'm happy t

[2019-05-02 08:26] LarryKlugerDS opened #4378 "Azure Function (Linux/Node.js) often returns ECONNREFUSED"
My Linux / Node.js function works fine most of the time. But testing with single threaded requests one immediately after the next sometimes results in a `ECONNREFUSED` error.

The rate of these errors so far is 6 ECONNREFUSED errors for 56 HTTP POST attempts. Not good.

I ran a test for 8 hours. Out of 2,330 connection attempts to the function, 150 (6%) failed with `ECONNREFUSED`.

**Update:** I c

[2019-05-02 08:41] louisekeegan commented on #3386
@bobvandevijver yes, you're on the right track. It appears my issue was due to my assumption that my settings.json file was getting published with the app (I'm new to Azure functions). My Startup class needed to read this file to create an instance of a settings class and then register it with the DI container. My guess is I was registering null. Lesson learned :)

[2019-05-02 08:42] louisekeegan commented on #3386
@fabiocav looks like it was my mistake so no need to investigate any further. Thanks!

[2019-05-02 13:58] cmenzi commented on #3736
I'm currently working with this appoach:

- https://gist.github.com/justinyoo/fcfaf0922513c661b63623eb04cccebd#file-sample-http-trigger-2-cs
- https://gist.github.com/justinyoo/fcfaf0922513c661b63623eb04cccebd#file-startup-cs

It works quite well without any extensions, just azure function runtime 💯. But it somehow don't follow MSFT Dependency Injection regarding lifetimes: Usually, when the regis

[2019-05-02 14:28] jnevins-gcm commented on #4366
@fabiocav

This is consistently reproducible with any deployment - we are using the kudu zipdeploy api.

We have tried adding Invoke-ResourceAction after deployment to explicitly resync triggers after deployment without any effect.

As for the credentials - please note that the function DOES receive messages successfully before it falls asleep, so our credentials to connect to ASB are correct.

If

[2019-05-02 15:43] fusionet24 opened #4379 "Exception binding parameter 'log' Cannot access a disposed object. Object name: 'LoggerFactory'."
#### Investigative information

Please provide the following:

- Timestamp: 3:14:00 PM BST
- Function App version (1.0 or 2.0): 1.0
- Invocation ID:2d27fe39-9a4d-44a5-8537-a37df5641239
- Region:North Europe

#### Repro steps

Provide the steps required to reproduce the problem:
1. We deployed our code to 4 function apps from Azure Dev ops Function Deployment Task
2. We were processing a lot of tra

[2019-05-02 15:59] espray opened #4380 "JobHostServiceProvider.cs Debug message not using ILogger"
Can the `Debug.WriteLine(serviceType.Name);` be removed or changed to use ILogger, so it can be filtered out?

https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/DependencyInjection/JobHostServiceProvider.cs: LN99

[2019-05-02 18:24] AtOMiCNebula commented on #3568
@fabiocav, this arguably shouldn't have been closed.  Or at least, I wouldn't consider this closed until such a time when "workarounds" aren't needed anymore.  Would you agree?

I had to alter my custom MSBuild `<Target>`s slightly from what was provided above.  The function.deps.json wasn't getting included in my ZIP package; not sure if the prior solution works if you don't use ZIP package deplo

[2019-05-02 19:00] pragnagopa commented on #4240
Moved this to Sprint 49 as ANT82 that has the code to backfill is still rolling out. I have scripted updating sites that need to backfilled. Will query all the stamps once ANT82 roll out finishes and start backfilling if needed.

[2019-05-02 19:34] pragnagopa commented on #4332
reopening as this an improvement issue to parse functionTimeout properly

[2019-05-02 21:42] xavierjohn commented on #4049
The problem also exist on Microsoft.NET.Sdk.Functions -Version 1.0.27

[2019-05-03 00:14] fabiocav commented on #4379
What language is your function written in?

@brettsam FYI (this is also in 1.0)

[2019-05-03 01:09] fabiocav commented on #3736
@cmenzi Dispose should be called in those scenarios. How are you shutting the host down in your tests? It might be helpful to start a separate issue so we can iterate on this.

[2019-05-03 01:10] #4332 closed

[2019-05-03 01:15] fabiocav commented on #3736
An update on this.

A package with the set of extensions/APIs that tie into the rest of the DI feature in the host and the build has just been published. You can start trying this out with: https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/

Please make sure you're using the latest version of the Microsoft.NET.Sdk.Functions package when using this feature.

Here's an example of a

[2019-05-03 01:20] PureKrome commented on #3736
@fabiocav this [new NuGet library ](https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/) the team has just published, does it also include an overide for `ConfigureServices`? so it's like we at parity with the generic hosts, etc?

I tried to look for the class `FunctionsStartup` in a repo on GH but couldn't find it.

![image](https://user-images.githubusercontent.com/899878/571159

[2019-05-03 02:13] espray commented on #3736
@fabiocav @jeffhollan so.... any Az Func announcements for MSFT Build next week? 😉

[2019-05-03 02:17] PureKrome commented on #3736
@espray

![](https://media.giphy.com/media/MU4yzBETZ2tVDiCDRn/giphy.gif)

[2019-05-03 06:09] alexjamesbrown opened #4381 "CORS enabled in portal, but not sending Access-Control-Allow-Origin in reponse"
In the portal, I've enabled CORS

![image](https://user-images.githubusercontent.com/437743/57121903-5453fb00-6d72-11e9-90e2-f57767428cc5.png)

However it's not returning the `Access-Control-Allow-Origin` header in the response?

![image](https://user-images.githubusercontent.com/437743/57121909-62098080-6d72-11e9-8e72-f5ebe28d6174.png)

Am I missing something?

[2019-05-03 07:22] cmenzi commented on #3736
will do and also add full example.

[2019-05-03 10:32] fusionet24 commented on #4379
@fabiocav C#

[2019-05-03 10:35] fusionet24 commented on #4379
FYI - I'm raising a P1 ticket via Azure as we had other issues related to the global DNS outage which caused us to have another 30k execution failures over several hours due to failing to retrieve app settings from blob underlying storage.

I think they're similar in the sense they're both host level exceptions and hopefully the behavior for all is to not lose the pointer in the event hubs even st

[2019-05-03 13:45] galvesribeiro commented on #3736
I've just tried the new package... It looks like the built-in extensions are not adapted to it yet.

![image](https://user-images.githubusercontent.com/4714040/57141423-883e1900-6d90-11e9-8b3c-5bdc848ee63d.png)

[2019-05-03 14:00] galvesribeiro commented on #3736
Yeah, I know those settings can go to `host.json` but I would like to not keep things on that file if possible...

For now, I'm using it as a workaround.

@fabiocav do you know if/when the extensions will be updated to the new builder?

As always, thanks for the great work! :)

[2019-05-03 14:52] Rocinante89 commented on #3736
I'm getting this error when I try constructor injection using this package

Here's my startup:
![Annotation 2019-05-03 154951](https://user-images.githubusercontent.com/8224386/57145470-2f37aa80-6dbb-11e9-9049-a88dbc910799.jpg)

And The function:
![Annotation 2019-05-03 155142](https://user-images.githubusercontent.com/8224386/57145567-6312d000-6dbb-11e9-9f23-1e4cffc3a02d.jpg)

This could be a bra

[2019-05-03 15:49] brettsam commented on #4055
I believe I've got a fix for the StackOverflow exception: #4382.

If anyone wants to try this before the release by manually copying over the [Console.dll](https://github.com/brettsam/file-share/blob/master/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.Console.dll) file to your path at `{localnugetcache}\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.1.0\tools\n

[2019-05-03 15:54] brettsam opened #4383 "Extensions.json not generating due to missing trailing slash in NugetPackageRoot"
Forking an issue reported [here](https://github.com/Azure/azure-functions-host/issues/4055#issuecomment-488257383) to a new issue.

Copying relevant comments from @pgussow here:

---

---

---

---

[2019-05-03 15:55] brettsam commented on #4055
@pgussow -- I've forked a new issue here for us to dig into what you're seeing: https://github.com/Azure/azure-functions-host/issues/4383

[2019-05-03 16:13] brettsam commented on #4383
@pgussow -- one thing that we've found is that directly referencing ExtensionsMetadataGenerator [does not work correctly](https://github.com/Azure/azure-functions-vs-build-sdk/issues/277). You should remove that and stick with the newest Microsoft.NET.SDK.Functions version (currently 1.0.27) -- which includes the latest ExtensionsMetadataGenerator.

[2019-05-03 16:17] brettsam commented on #4383
I grabbed all of your packages, replaced Microsoft.NET.Sdk.Functions with 1.0.27 and I do see the extensions.json appearing... can you try a simple project like this?
[code]

[2019-05-03 18:04] EricJizbaMSFT opened #4384 "Add log to signify when debugger can attach"
In the VS Code extension, we look for `Host lock lease acquired by instance ID` to signal that we can attach the debugger. We originally used `Job host started` but that apparently didn't work in all cases - see https://github.com/Microsoft/vscode-azurefunctions/issues/660.

However, the "host lock lease" message doesn't always get printed - see [here](https://github.com/Azure/azure-functions-host

[2019-05-03 18:35] fabiocav commented on #3736
@galvesribeiro extensions will not be exposed here. As previously discussed, the flow here is for extension authors to handle the registration using the existing WebJobs APIs (that will work as it does today, leveraging the features that were added to the runtime). For discussion about the imperative vs declarative configuration for existing bindings, let's move to a different issue if possible. I

[2019-05-03 18:54] rhavlick commented on #3736
Hello,
This will make developing Azure Functions much easier.  I got everything working with the startup however it's not able to do the dependency injection into my Function.

I keep getting the following exception:

**Microsoft.Azure.WebJobs.Host: Error indexing method 'MyFunction'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'ApplicationSettings' to type IOptions`1. Make sure the parame

[2019-05-03 19:05] galvesribeiro commented on #3736
You should inject `IOptions<T>` on your constructor, and not on the function method.

Also make sure you remove the `static` on the method and on function classes.

I’m using options here just fine.

From: rhavlick <notifications@github.com>
Reply-To: Azure/azure-functions-host <reply@reply.github.com>
Date: Friday, 3 May 2019 15:54
To: Azure/azure-functions-host <azure-functions-host@noreply.gith

[2019-05-03 19:43] rhavlick commented on #3736
Thanks galvesribeiro - It's Friday!  I can't believe I screwed that up.  haha.  Works great!

[2019-05-03 20:10] rhavlick commented on #3736
One final follow up question, in the startup - how are you reading your local.settings.json file since we don't get an IConfiguration reference in the constructor?

For example in an ASP.NET Application we could get:

[code]

But we can't get that in this new FunctionsStartup.  The alternative would be to do something like this but how do I get a reference to the Functions Execution Context to kno

[2019-05-03 20:17] espray commented on #3736
[code]

[2019-05-03 20:21] rhavlick commented on #3736
Thanks espray - that's helpful.

[2019-05-03 21:31] kapoor1992 commented on #3493
Can we at least get an update on what's happening with this already? When will it be looked at? Is there a feasible workaround? Anything is better than just letting this issue stay open without some sort of progressive response.

[2019-05-04 00:21] nebosite commented on #2414
For those who are interested, I wrote a routine to get around dll issues in azure functions.  This routine overrides the assembly loader and looks in the $HOME folder for alternate versions.   The allows the developer to package the needed version in their functions project.

https://github.com/nebosite/azure-functions-rocketscience/blob/master/src/AFRocketScienceShared/Tools/AssemblyHelper.cs

[2019-05-04 01:05] mhoeger opened #4387 "Read-only mode and non-zip deployment issues"
Invalid values for `WEBSITE_RUN_FROM_PACKAGE` (or any of the deprecated flavors of this) can cause a function app to remain in offline mode on deployment.

A simple example of this is using `WEBSITE_RUN_FROM_PACKAGE = 0`.

This can happen when setting WEBSITE_RUN_FROM_PACKAGE to any non-empty value, which makes FileSystemIsReadOnly be true (from here):
https://github.com/Azure/azure-functions-host

[2019-05-04 01:05] mhoeger commented on #4387
cc: @fabiocav

[2019-05-04 01:29] jstallm commented on #3736
with so many comments in here, you would sort of think someone to have a link to a public github repo containing a project with 1 function demonstrating how DI can be used within a Azure Function App? Can someone please make this super simple and create a simple, strait forward repo containing all the code necessary to showcase how DI can be used TODAY with azure function v2?

[2019-05-04 01:32] jeffhollan commented on #3736
https://github.com/Azure/azure-functions-dotnet-extensions/tree/master/src/samples/DependencyInjection

Docs land next week

[2019-05-04 11:42] Rocinante89 commented on #3736
@fabiocav That was what I was missing alright. Thanks!!!

[2019-05-04 16:49] pksorensen commented on #4055
@brettsam

I copied over the new dll and could move past a problem:

here is the output (assuming thats fine, no functions stuff should be in the view dll):
1>C:\Users\pksor\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.1.0\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(20,5): warning :     Could not evaluate 'IO-Board.Portal.Views.dll' for

[2019-05-04 20:22] pksorensen commented on #4055
In my case, I was working on razor pages and had to include these two packages to my function project also (when referencing an aspnet core project from the function project).
[code]

[2019-05-04 22:22] ilmax commented on #3736
@espray thank you for the snippet.

@fabiocav it's great to be able to use dependency injection in azure functions, thanks! It would be nice to make it simpler to read data from a configuration file inside the `Configure` method like we can do it in asp.net core. Is it better to open a new issue to track this one?

[2019-05-05 06:37] daxian-dbw commented on #4207
A related issue: https://github.com/Azure/azure-functions-powershell-worker/issues/205

@pragnagopa when fixing this issue, please be noted that for the `RawBody` field, it should be kept as `typedData.String` even if it's a valid JSON string.

[2019-05-05 17:11] crgarcia12 commented on #3745
I have the same issue today
The process cannot access the file 'D:\home\LogFiles\Application\Functions\Function\ItemsTrigger\2019-05-05T16-16-01Z-8d04d9d4f1.log' because it is being used by another process.

function app: cosmosdemo-function
functionName:  ItemsTrigger

This incident have been open for 6 months now, is somebody going to take a look at it? :)

[2019-05-06 05:59] pgussow commented on #4383
Does the extensions.json also appear in the correct folder? And does it have the correct content? I've seen that it generates an empty extensions.json as it was not taking the bin folder to examine the DLLs. Also I guess you need to have a function which uses the MessageBus trigger?

I've tried a simple project as you've mentioned, but no extensions.json al alll in the build folder. I've attached

[2019-05-06 08:18] jhunlouiegonzales commented on #3736
This is my workaround:
I used MediatR and AzureFunctions.Autofac

myFunction.cs
[code]

AutoFacConfig.cs
[code]

MyCommand.cs
[code]

I already deployed this kind of approach to azure and its working perfectly.

[2019-05-06 12:58] brettsam opened #4389 "[App Insights] Warm-up requests correlate all host startup traces and all TimerTrigger traces to that request"
App Insights will automatically correlate all traces made during a request to that request. This doesn't work well when a request comes in that triggers the host to start. All host startup requests are then correlated to that request, when they should be independent (i.e. uncorrelated).

[2019-05-06 13:32] brettsam opened #4390 "[ExtensionsMetadataGenerator] Remove assembly loading requirement"
We should move the EMG to use something like [Mono.Cecil](https://github.com/jbevain/cecil/wiki), which would allow us to inspect assemblies without needing to load all of their dependencies. Would eliminate issues like we've found with #4055.

[2019-05-06 13:56] anarsen commented on #3736
Tried running both `Basic` and `Scoped` locally from https://github.com/Azure/azure-functions-dotnet-extensions/tree/master/src/samples/DependencyInjection but they error out this:

Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type 'Microsoft.Azure.Functions.Samples.DependencyInjectionBasic.IGreeter' while attempting to activate 'Microsoft.Azure.Functions.Sa

[2019-05-06 15:25] jnevins-gcm commented on #4366
@SatishRanjan
@fabiocv

Any update here? This is a production issue for us.

[2019-05-06 17:38] maiqbal11 commented on #4340
Closing this for now as there is no further action that we can take. There is a lingering question about how to configure container memory based on function input size. I don't know of a way that this can be done on the fly since containers are likely provisioned *before* execution (might be more of a question for AKS folks about dynamic scaling). @ahmelsayed if he has anything to add here.

[2019-05-06 17:38] #4340 closed

[2019-05-06 18:48] hiraldesai commented on #3736
Will this be changed in near future to support external IoC providers? Similar to how we do [`IServiceProvider` and  `AutofacServiceProvider`](https://autofaccn.readthedocs.io/en/latest/integration/aspnetcore.html) for asp .net apps.

[2019-05-06 19:21] foconnor-DS commented on #4383
I too am having this issue. I've spent about 3 hours reading all the past issues w.r.t extensions.json being empty or not generated.

I've tried combinations of _IsFunctionsSdkBuild true/false with and without Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator (1.1.0). i either generate an empty extensions.json or no extension.json at all.

I uninstalled all .Net Core SDK's and Runtimes, a

[2019-05-06 19:57] brettsam commented on #4383
I'm trying to get this to repro and every time I do it, I'm getting extensions.json generated. Let's see what else could be different:
- What command are you both running to build?
- What is your output when you run `dotnet --info` from the same folder as your build?

Another option is to run your build with the `/bl` flag -- it will produce a binlog file which you can look at with the structured

[2019-05-06 20:04] foconnor-DS commented on #4383
Mine is a bare-bones VS 2019 preview 3.0 project and build ( F5 ).

[code]

[2019-05-06 20:29] brettsam commented on #4383
@foconnor-DS -- what about when you go to the directory and do a `dotnet build`? Does that generate extensions.json? I'm trying your project as well -- doing command-line builds and in VS 2019 (v16.0.3) -- and it's generating for me. I'm trying to think if there's anything else environmental that could be affecting the build.

[2019-05-06 20:36] foconnor-DS commented on #4383
Cleared bin/obj, ran a nuget command line, and then msbuild with binlog. No change, sending you that binlog now.

[2019-05-06 21:26] brettsam commented on #4383
We figured out @foconnor-DS's issue -- it had to do with the `NugetPackageRoot` environment variable missing a trailing slash. Our targets file (incorrectly) assumes there'll be one so it was looking in the wrong place. I'll fix that soon.

@pgussow -- can you check that in your setup? The binlog made it pretty clear when I looked at it. I saw a log like this:

[code]

[2019-05-06 21:49] #4375 closed

[2019-05-06 22:34] pragnagopa opened #4392 "Shutdown functions host if there is no language worker"
If starting language worker fails including retries, need to shutdown functions host. This is required to avoid invocation failures on a functions host without language worker.

[2019-05-07 01:51] alx249 commented on #3905
The path should end with \
<add key="globalPackagesFolder" value="packages\" />

[2019-05-07 05:44] jeffhollan commented on #3736
@anarsen I had the same error but upgraded to `1.0.27` and did a clean build and it seemed to work.  @fabiocav is there a requirement on a specific version of Microsoft.NET.Functions.SDK to work with this? If so I can doc

[2019-05-07 11:18] jason-system1 commented on #3370
Chop, chop!

[2019-05-07 12:25] JishanK commented on #3736
Can we register Authentication Scheme and Authorization policy in startup which inherits FunctionsStartup. While I am trying, I am getting below exception.

**Microsoft.AspNetCore.Authentication.Core: No authentication handler is registered for the scheme 'WebJobsAuthLevel'. The registered schemes are: AADScheme. Did you forget to call AddAuthentication().Add[SomeAuthHandler]("WebJobsAuthLevel",..

[2019-05-07 12:43] CaioCavalcanti commented on #3745
Same issue here, Azure Functions v2, publishing using package option.

[2019-05-07 14:22] espray commented on #3736
@JishanK I had similar issues. We should proably create a separate issue, and move the conversation.

[2019-05-07 15:33] jzapantis commented on #4392
Thank you - it seems issue is caused by incoming req's while function app is restarting?

[2019-05-07 16:23] zmarty commented on #3745
@fabiocav  Any ideas?

[2019-05-07 17:34] fabiocav opened #4393 "Increase ANCM startup time limit"
Under certain scenarios (e.g. multiple apps deployed to the same App Service plan), startup time may exceeed the ANCM limits, which leads to a startup failure that leaves the application in a bad state.

We should increase the startup time limit with the following `applicationHost.config` configuration:
[code]

[2019-05-07 18:47] pgussow commented on #4383
I guess I'm seeing the same thing:
![image](https://user-images.githubusercontent.com/83359/57324947-44893d80-7109-11e9-8a89-9475093eff4d.png)
and thus:
![image](https://user-images.githubusercontent.com/83359/57324980-5834a400-7109-11e9-9c8e-c93d647f07b4.png)

[2019-05-07 18:55] pgussow commented on #4383
![image](https://user-images.githubusercontent.com/83359/57325415-40115480-710a-11e9-93ef-e6f076f8adef.png)
I've added the trailing \ to my custom Nuget.Config. Now the import message is gone, but the result is still the same. It looks to the wrong folder to generate the bindings. It should look in the \bin folder to find the assemblies to examine.

[2019-05-07 19:12] brettsam commented on #4383
Okay -- we're getting somewhere. Can you share your exact project file and command you're running to build?

[2019-05-07 20:18] sakibbinsharif opened #4394 "Function V1 breaks for usage of ILogger in in class libraries."
Context:
If a .Net Framework Class Library project has a reference of 'Microsoft.Extensions.Logging' or 'Microsoft.Extensions.Logging.Abstractions' and then
when Function V1 has reference to that class Library with ILogger injected on function's call, it breaks when I try to build the function.

I get the following error:

 A ScriptHost error has occurred
[7:15:14 PM] Microsoft.Azure.WebJobs.Host:

[2019-05-07 23:50] cgillum commented on #4372
@ahmelsayed I got a CRI for this. When you do think this Docker update will be released?

[2019-05-07 23:58] ahmelsayed commented on #4372
@balag0 were you able to push the `2.0.12452` image from HK1 to all the other regions?

[2019-05-08 00:03] ahmelsayed commented on #4372
actually I just checked and I see it everywhere. Maybe they just need to retry, if they still see this after restarting their app then please add me on that incident

[2019-05-08 01:02] paulbatum opened #4396 "Function returning an ActionResult not consistent with ASP.NET controller"
The HTTP response received from a function that returns an `ActionResult<string>` does not look correct. Specifically it looks like functions is treating the ActionResult like a poco. The same is probably true for other cases of `ActionResult<T>`.

#### Repro steps

Create and run the following function in a V2 function app:

[code]

#### Expected behavior

Assuming the function was executed with

[2019-05-08 02:00] #4369 closed

[2019-05-08 04:15] JishanK commented on #3736
Yes we must do that.

[2019-05-08 04:17] PureKrome commented on #3736
@JishanK  / @espray  Post links in here, if/when u do, plz.

[2019-05-08 04:18] JishanK opened #4397 "Authentication Scheme and Authorization policy in Registration in Startup in Azure Function V2"
Can we register Authentication Scheme and Authorization policy in startup which inherits FunctionsStartup. While I am trying, I am getting below exception.

**Microsoft.AspNetCore.Authentication.Core: No authentication handler is registered for the scheme 'WebJobsAuthLevel'. The registered schemes are: AADScheme. Did you forget to call AddAuthentication().AddSomeAuthHandler**

[2019-05-08 04:19] JishanK commented on #3736
I have created an issue.

https://github.com/Azure/azure-functions-host/issues/4397

[2019-05-08 05:25] pgussow commented on #4383
I've sent you the binlog and the exact project file. The command I run is either
dotnet build /bl
or just a build from VS2017. It doesn't make a difference in outcome.

[2019-05-08 14:27] jeffhollan commented on #4366
Ah yes connectionString:ServiceBus wouldn’t be supported. Any reason you are using that connection string instead of an app setting?'

[2019-05-08 14:43] jnevins-gcm commented on #4366
I don’t believe AzureWebJobsServiceBus was recognized when we started using v2

[2019-05-08 14:45] jnevins-gcm commented on #4366
@jeffhollan

We can switch it. I think AzureWebJobsServiceBus as an app setting wasn’t recognized by web jobs as the default service bus connection string to use when we started using v2

[2019-05-08 17:40] jnevins-gcm commented on #4366
@jeffhollan

we tried switching to AzureWebJobsServiceBus and found that the bug that made us choose ConnectionStrings:ServiceBus still exists

If we don't specify the Connection property on the ServiceBusTrigger, it doesn't find the AzureWebJobsServiceBus setting and use it as the default. We now need to explicitly specify the Connection name in every attribute or explicitly use the class attribu

[2019-05-08 20:12] vijayrkn opened #5216 "Azure Functions throw TaskCanceledException"
Create new Azure Function 2.0 project with an HttpTrigger function. Run it locally. Open the URL to trigger the funtion

Systems.Threading.Tasks.TaskCanceledException

in System.Private.CoreLib.dll

"A task was cancelled"

This happens for each request.

More details in this bug report : https://developercommunity.visualstudio.com/content/problem/549316/azure-functions-throw-taskcanceledexception.

[2019-05-08 21:16] jnevins-gcm commented on #4366
Thanks @jeffhollan

Please see the last part of my post about how we set the connection string. We will give it a try setting explicitly, but if that’s the problem, it sounds like a bug in the scale controller looking at the default connection string name.

[2019-05-08 22:19] brettsam commented on #4383
I believe this isn't working because of the direct reference to ExtensionsMetadataGenerator. I'm working on a fix for that, but if you remove that nuget package, I believe it will all work for you.

[2019-05-08 22:31] mathewc opened #4399 "Not all Options implement IOptionsFormatter"
For example HostHealthMonitorOptions. Therefore the options aren't dumped on startup. We should check all the important Options types and ensure they're being logged properly for serviceability.

[2019-05-08 22:53] GiddyUpHorsey commented on #3994
@mathewc how does one use this from an ARM template to retrieve the default host key?

[2019-05-08 22:56] mathewc commented on #3994
You can call the `host/default/listkeys` API which returns the masterKey as part of the json response.

[2019-05-09 00:24] mhoeger opened #4400 "Custom Logs with Application Insights and JavaScript SDK not working"
Our docs say that this is one way to log custom metrics in JavaScript functions:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#log-custom-telemetry-in-javascript-functions

[code]

This documentation is likely outdated, and does not work (thanks @eNeRGy164 for the report).

We need to verify this and update the docs.
cc: @brettsam , @lmolkova who may already know what

[2019-05-09 01:21] eNeRGy164 commented on #4400
Thanks @mahoeger!

[2019-05-09 06:00] GiddyUpHorsey commented on #3994
@mathewc Thanks for replying. I could not find any documentation about `host/default/listkeys` but I was able to get the default host key using `admin/host/keys/{keyname}` using REST via Postman and PowerShell. However, I am trying to get this value from inside an ARM JSON template. Is this possible? Is there a way to call the REST APIs from the ARM template or using listkeys or listsecrets?

[2019-05-09 06:31] pgussow commented on #4383
I removed the direct reference. Then the extensions.json gets generated in the proper folder (because of the trailing \ in the NuGetPackageRoot. But if I remove the
<_FunctionsTaskFramework>netcoreapp2.1</_FunctionsTaskFramework>
in the csproj then the json remains empty. Adding that line generates the correct extensions.json in the correct location

[2019-05-09 08:13] wis3guy commented on #3736
@jeffhollan I'm experiencing the _exact_ same issue that @anarsen describes above. Same tooling version:

[code]

Some additional info about my environment:

[code]

Even if i bump the referenced functions sdk version to:

[code]
... i keep getting the exact same error, when running (above linked) sample projects:

[code]

Putting a breakpoint in the `Configure` method of the `SampleStartup` class

[2019-05-09 08:32] wis3guy commented on #3736
Now it gets interesting! For some reason (desperation i guess) i tried to do a build of the function app from the command line. This is the (redacted client/project names) output:

[code]

What worries me is the attempt to load the `Microsoft.Win32.Registry.dll`, which is likely not available on my Mac.

[2019-05-09 08:46] galvesribeiro commented on #3736
I'm using on OSX without any problem the new packages. It just work.

[2019-05-09 08:47] wis3guy commented on #3736
does the sample project, provide in the above linked repo work for you?

[2019-05-09 09:10] Badabum commented on #3736
@wis3guy check the version of `azure-functions-core-tools`( you have locally. From my experience, there could be issues if you have an outdated version.

[2019-05-09 09:17] wis3guy commented on #3736
@Badabum Thanks for the chiming in.

I think i found why the provided samples are not working. I noticed that neither of the projects have a `local.settings.json` file. Once i added one, containing the below content, it all started working.

[code]

Not that i did not need to bump the `Microsoft.NET.Sdk.Functions` package to version `1.0.27`, the `1.0.26` version works just fine.

Next step, figur

[2019-05-09 10:00] Badabum commented on #3736
@wis3guy Make sure you have `<AzureFunctionsVersion>v2</AzureFunctionsVersion>` in you `.csproj`. And check that you have `"version": "2.0"` in `hosts.json`

[2019-05-09 10:16] wis3guy commented on #3736
TLDR: It works in my own projects as well now.

#### 1. Clean slate
I basically did a `git clean -fdx` and a`git reset --hard` just to get back to a clean slate. Then i:

#### 2. Add the nuget dependencies (of the right version)

[code]
#### 3. Add a startup class

[code]

#### It works!
It is weird that in earlier attempts i could not get things working. I'm quite sure i followed the exact same s

[2019-05-09 13:26] brettsam commented on #4400
This is covered here: https://github.com/Azure/azure-functions-host/issues/3747. I'm going to close this in favor of the other.

[2019-05-09 13:26] #4400 closed

[2019-05-09 13:28] #4245 closed

[2019-05-09 16:09] adriennn commented on #85
@r-tanner-f it's 'static' within the lifetime of your function as the bindings are defined by the triggers. So in your case, if you have hundreds of files, this means running the same function hundred of times with a single new binding for each file. I wouldn't use the bindings, and not js or java as the files would be handled in-memory. I would do a python function and use the azure blob python s

[2019-05-09 16:13] adriennn commented on #85
@alexgman I dont know much about c#, but if a function expects a parameter to work then it's gonna throw an error if the parameter is not passed and if its absence is not handled, you need to try catch.

[2019-05-09 16:16] GuyHarwood commented on #85
You could also do this as a build job / pipeline task in Azure DevOps

[2019-05-09 16:19] brandonh-msft commented on #4049
@fabiocav any update on this?

[2019-05-09 17:12] mathewc commented on #3994
Note that this new API isn't released yet. The update is rolling out with an ETA of a couple weeks. So doc etc. isn't updated yet. Once the APIs are live I'll update this issue.

[2019-05-09 17:30] pragnagopa commented on #4076
PR - https://github.com/Azure/azure-functions-powershell-worker/pull/214 addresses throughput issue with powershell functions.

[2019-05-09 18:59] fabiocav commented on #3736
This issue was tracking the work to release the new capability, so we're closing this now. For any problems, please open a new issues so they can be investigated.

Thanks for the patience while we were getting this ready!

FYI @jeffhollan @brettsam

[2019-05-09 18:59] #3736 closed

[2019-05-09 22:16] mathewc opened #4401 "SyncTriggers Monitoring Improvements"
We should do the following 2 things to improve our ability to diagnose/monitor background SyncTriggers:

1) In FunctionsSyncManager.SetTriggers we should log the POST URL we're using, so it includes hostname details

2) We should also set the X-ARR-LOG-ID header to a correlation ID that we include in our log statement, so we can correlate the request with the Front End

3) We should use a special

[2019-05-09 22:31] mathewc opened #4402 "SyncTriggers on Swap"
To ensure a correct SyncTriggers, after we receive the post swap ping from the controller and we're sure we have a valid updated hostname, we should do a SyncTriggers. We'll do the sync when we identify a hostname change.

Here's a situation that can happen (we've seen this in a recent CRI): user is using the preview slots feature, and they do a swap, then do a deployment to the staging slot that

[2019-05-09 22:58] fabiocav opened #4403 "[V1] Host should emit a warning when disablement is done in function.json for pre-compiled functions"
There are two issues we need to address with V1 when the disabled property is set in `functions.json` instead of attributes for pre-compiled functions:

- The host should not log a message stating that the function is disabled (this leads to confusion when investigating issues).
- The host should log a warning if that property is set
    - A detector should be built to surface that information to

[2019-05-09 23:49] PureKrome commented on #3736
@fabiocav sorry to ask one more question in here -> where are the docs on this please? (so I can learn/experiment)

[2019-05-10 04:21] janitorr commented on #3736
@PureKrome I think this is supposed to be it.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

There are a plenty more examples in this thread already. :)

[2019-05-10 04:24] PureKrome commented on #3736
I know about the examples -> just wanted to reference an _official doc_ (both for myself and team members). cheers!!

[2019-05-10 05:09] ThomasArdal opened #4405 "More advanced log configuration"
`Microsoft.Azure.Functions.Extensions` brought us the first attempt of being able to configure custom logging providers in Functions. With the current solution (where I can inject an `ILoggerProvider`), I can configure functions to log everything to a single log output. I would like to be able to do much more advanced logging configuration, though. Being able to register multiple logging provider,

[2019-05-10 07:24] kajolkardam commented on #3736
@fabiocav , @espray  can you please provide samples for reading configurations from different sources like local.settings.json  and azure key vault

[2019-05-10 07:32] galvesribeiro commented on #3736
https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

there are the docs...

Seriously folks... Unless you never used Microsoft.Extensions.DI on regular asp.net projects, there is really no big changes... It behave exactly same way...

[2019-05-10 07:41] meixger commented on #3736
i would not say "exactly same way" as there is still a problem with scoped delegate factory. ref https://github.com/Azure/azure-functions-host/issues/3399

[2019-05-10 07:44] galvesribeiro commented on #3736
@meixger a problem is a problem. It doesn't change the fact that the "desired" behaviour is the same.

Btw, as @fabiocav suggested, we should open new issues for new discussions like the problems you have since this issue was just for track the work.

[2019-05-10 11:45] samvanbrussel commented on #3054
It still seems to be the case for me. It got introduced some weeks ago, after I did an update of NuGet packages. Might be a coincidence.

Sometimes it resumes automatically, now and then I manually restart the Function App.

![image](https://user-images.githubusercontent.com/2074393/57524735-036f7400-7329-11e9-8c2b-c78f1b30b7bb.png)

When it is not working any more, I can see 3 servers in the Live

[2019-05-10 12:46] arkiaconsulting commented on #3736
@galvesribeiro I use DI for years in .Net Core, and I have never registered any option using
[code]

So I disagree, it does not behave the same way, especially due to the fact that `IConfiguration` and `IServiceCollection` are no longer magically injected, and that you cannot as easily inject your own settings provider (like AppConfiguration).

[2019-05-10 12:58] galvesribeiro commented on #3736
@arkiaconsulting

If you never did that, that means someone is doing that for you using extension methods because that is the way it should be behind the scenes.

I guess if you read the asp.net or .net core docs you would figure that out pretty easily...

[2019-05-10 13:05] arkiaconsulting commented on #3736
@galvesribeiro Maybe... I used to "magically" have `IConfiguration` injected into my Startup `Configuration` property. So the simplest way to register an option was:
[code]

[2019-05-10 13:19] galvesribeiro commented on #3736
Yeah that is the point. I guess since I’ve always had my services in control i’m not suffering and actually really enjoying functions DI...

Functions should have the very minimal dependencies to startup and run. Otherwise you will slow down your invocations a lot...

[2019-05-10 13:51] robrechtdelanghe commented on #3745
We are having the same issue in our Event Hub triggered Function App on Runtime v1 (1.0.12299.0).
It worked fine until friday May 3 2019.
Is there a status update on this issue?

[2019-05-10 16:10] thecontrarycat commented on #4055
@brettsam That updated console.dll you linked made the difference for me.  For reference, I was using the Jil serialiser in an assembly referenced by my functions project, and it in turn references Sigil which is a netstandard1.5 assembly that does all sorts of fun Reflection.Emit things.

The message I get now is this:
[code]

[2019-05-10 18:09] paulbatum opened #4406 "Function Apps encountering container disposed error when accessing master key"
A number of function apps on 2.0.12438.0 are encountering the following error:

[code]

There are multiple instances where this error occurs on a path that does not involve any user code such as retrieving the master key.

[2019-05-10 18:12] fabiocav opened #4407 "Log when the JobHost has custom services"
To help diagnose issues related to injected services, the host should emit a log when services are registered by custom extensions/functions.

[2019-05-10 18:23] brettsam commented on #4055
Thanks for the confirmation @thecontrarycat! Did you see that message as a build warning? I've changed it to be a Message (rather than Warning) so that you shouldn't get constant warnings about an assembly that likely won't have any Functions extensiosn in it.

[2019-05-10 19:42] #4055 closed

[2019-05-10 22:24] zalenix commented on #1329
+1 right now needing to use Durable Functions just to get the status of an invocation.

[2019-05-10 23:30] tmcgannon opened #4409 "Host Keys are being reset every few hours"
#### Investigative information

Please provide the following:

- Timestamp: 2019-05-10T19:18:37.480
- Function App version (1.0 or 2.0): 2.0
- Function App name: m2-ci-fn
- Function name(s) (as appropriate): createthumbnails
- Invocation ID: 8ec836a4-9fd5-4bfc-ad31-3d2dd7b84a90
- Region: West US 2

#### Repro steps

Provide the steps required to reproduce the problem:

1. Excercise function m2-ci-

[2019-05-10 23:38] #4358 closed

[2019-05-11 06:49] itshemant09 commented on #1864
Hi @mathewc @fabiocav Is there any plans to fix this issue on function app v1 ? or the only solution is to move to v2 ?

[2019-05-11 11:39] luthus commented on #3736
Have the dependency injection changes been deployed to app services?

[2019-05-11 12:25] galvesribeiro commented on #3736
Yep. Its working pretty well so far...

[2019-05-11 20:08] kakins commented on #3947
Yeah this didn't work for me.  I created a new function from the Azure portal, set everything up as directed and got this error.  Azure functions have been out for how long and the basic hello world examples don't even work?

[2019-05-12 07:24] ankitkumarr commented on #4300
@cts-shrahman, there is already an option to capture a memory dump on Windows Consumption. Are you talking specifically for Linux?

[2019-05-12 07:45] ishepherd commented on #4300
@ankitkumarr

where?

* Kudu has a specific message saying cannot do a dump on consumption plan
* App Insights tries but doesn't seem to work
* Azureserviceprofiler.com I haven't tried lately, but I doubt it works

[2019-05-12 07:51] ankitkumarr commented on #4299
@cts-shrahman, we usually always accompany any big feature set with docs and samples. Was there any particular feature that you think we are missing documentation on? Additionally, https://serverlesslibrary.net/ is a community built library for samples and serverless applications. That might be of interest to you.

A few of those:
- [Configure VS code for functions](https://docs.microsoft.com/en-u

[2019-05-12 08:05] ankitkumarr commented on #4300
@ishepherd, I think you might be thinking about profiling instead of memory dump?

For memory dump, if you go to Kudu, click on "Process Explorer". Then find the process you need the dump for (probably w3wp.exe), click on "Properties", scroll down and click "Download memory dump".

[2019-05-12 16:31] devotedEmployee commented on #3493
we are also experiencing this issue with our queue triggered fictions hosted in the West Europe zone.
all functions are version 1 and they stop triggering after some time, once I go to the portal, restart or just ping the API they start again, pick up and successfully process all items

[2019-05-12 18:05] jeffhollan commented on #4366
I believe instead of defining JUST the connection string “ServiceBus” you can create only a AzureWebJobsServiceBus app setting. That way you don’t have to be explicit in your bindings or duplicate

[2019-05-12 18:27] jnevins-gcm commented on #4366
If you just do that, you get an error from the host on startup here

https://github.com/Azure/azure-webjobs-sdk/blob/2e374a2c58fd89232945e997141f199723dc04db/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/ServiceBusAccount.cs#L44

[2019-05-13 08:51] DavidJFowler opened #4410 "Support other IoC containers in dependency injection"
Azure Functions should allow use of 3rd party IoC containers, e.g. Castle.Windsor.

Could this be implemented via a virtual method in Microsoft.Azure.Functions.Extensions.DependencyInjection.FunctionsStartup which returns an instance of IServiceProvider? This could be overridden to configure the IoC container. e.g for Castle.Windsor we could do something like this:

[code]

[2019-05-13 08:55] Wankishh commented on #3543
Guys do we have any solution yet, I have the same error and on prod side, working with I/O operations including creating new multiline js files in a different folder from the functions keeps restarting the host.

[2019-05-13 10:30] eaquiler commented on #85
This seems to be long time around here but, I must ask again since I cannot see an answer for @scottadmi question. Since I cannot find a way to set the output file name is it possible to get the UUID generated so I can pass it forward?.

[2019-05-13 14:18] SeanFeldman commented on #2746
Any updates on supporting custom triggers? It's been a while, Functions 2.0 is out and would be helpful to know if the stand on this has changed (give the issue is still opened). Thank you.

[2019-05-13 14:38] kakins commented on #3947
I was getting this error initially, tried changing the FUNCTIONS_EXTENSION_VERSION to ~1 and the error still displayed.  I changed it back to ~2, logged out of Azure and back in and suddenly it started working.  ¯\_(ツ)_/¯

[2019-05-13 15:07] jmezach commented on #3736
Could it be that this doesn't work when running Azure Functions in a Docker container? I've upgraded my application to use the new packages as per the documentation and I've seen it work locally on my host. But when I run it inside of a Docker container I'm getting errors that it's not able to resolve some services. I've explicitly pulled a newer version of the image, but that doesn't seem to fix

[2019-05-13 15:52] paulbatum commented on #2746
This issue is about supporting custom trigger implementations that piggy-back on existing event sources like azure storage queues, service bus, etc.  I suspect you're asking more generally about the ability to specify purely custom triggers?

I will say that this we are treating this topic with higher priority than a year ago and we're considering some work in this area within the next 6 months. I

[2019-05-13 16:36] SeanFeldman commented on #2746
@paulbatum you're absolutely correct. Thank you for distinguishing the two and providing some idea where it is. Not to pollute this thread, is there a separate issue tracking custom (pure) triggers? I couldn't find one and perhaps, if it's something that is under consideration, would be good to have a tracking issue people could subscribe to. Thank you.

[2019-05-13 17:05] mayoatte opened #4411 "Life After Dependency Injection"
#### Question
I'm trying to get a handle on scenarios that are unblocked / enabled by the release of Azure Functions DI (#3736). Creating a new issue as that one is closed (and possibly over subscribed).

Anyways, i'm interested in:

- Existing issues that can now be fixed because this feature is available
- New feature requests that are now unblocked
- Interesting uses of this feature from the co

[2019-05-13 17:16] pragnagopa commented on #4227
cc - @brettsam
PR # https://github.com/Azure/azure-functions-host/pull/4356 fixes race condition during specialization.

[2019-05-13 17:55] anthonychu opened #4412 "Add configuration for enabling only HTTP or only non-HTTP functions"
#### What problem would the feature you're requesting solve? Please describe.
When deploying function apps containing HTTP and non-HTTP functions to Kubernetes running KEDA/Osiris, we need to split the app into 2 deployments. The Functions Core Tools figures out which functions need to be enabled/disabled in the HTTP and non-HTTP deployments and generates the correct environment variables. For ins

[2019-05-13 19:20] OneCyrus opened #4413 "System.Linq.Expressions: No coercion operator is defined between types 'System.Object' and 'System.Void'."
i'm trying to convert an existing demo project (graphql server) with custom DI to the new native dependency injection of azure functions but i get a `No coercion operator is defined between types 'System.Object' and 'System.Void'.`

working branch with custom DI: https://github.com/OneCyrus/GraphQL-AzureFunctions-HotChocolate/tree/master

migrated project which gives the error: https://github.com/

[2019-05-13 19:24] #4383 closed

[2019-05-13 19:26] mhoeger commented on #3543
@Wankishh - what's the scenario you are creating js files for? From our perspective this is an issue that affects people debugging their local code and not a production issue. Remember that function invocations should be regarded as _stateless_. If you are trying to preserve state between function invocations, you should explore [Durable Functions](https://docs.microsoft.com/en-us/azure/azure-func

[2019-05-13 19:52] alexzheludov commented on #4394
I've ran into this before. you need to insure that version of Microsoft.Extensions.Logging.Abstractions is matching across all of the projects in your solution. it must be the same exact version as the one supplied with Microsoft.NET.Sdk.Functions.

[2019-05-13 20:34] mhoeger commented on #4331
@SatishRanjan - Any chance we can get this fixed? It's a bit confusing to non-powershell folks to see this since it's a no-op on other languages!

[2019-05-13 23:35] soninaren opened #4416 "Do not call index endpoint if extension bundle is already present at probing location"

[2019-05-13 23:39] soninaren opened #4418 "Tracking issue: Add OGF's for extension bundle scenarios"

[2019-05-14 01:13] soninaren commented on #4319
Performed a preliminary test, have identified some places for improvements. Here is a related PR
https://github.com/Azure/azure-functions-host/pull/4417

[2019-05-14 01:19] mguglani opened #4421 "Looking for right host.json config for EventHubTrigger host function (Linux Consumption Function)"
I am using Azure CLI to create an Azure function for EventHub trigger. I did the HTTP trigger and moved on to EventHub Trigger:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

I keep getting the following error when I click on the function in Azure portal after publishing it using the following command:

func azure functionapp publish <func-appname>

[2019-05-14 01:25] tmcgannon commented on #4409
Resolved:  I upgraded my function from v1 -> v2 and didn't know that the keys are now stored by default in blob storage. I was periodically deleting blobs in this storage account.  Stumbled on this document: https://github.com/Azure/azure-functions-host/wiki/Changes-to-Key-Management-in-Functions-V2.

[2019-05-14 01:25] #4409 closed

[2019-05-14 01:34] #4401 closed

[2019-05-14 01:41] mathewc commented on #1864
It's not clear whether this issue exists in v2 or not, however because this issue is so old and we haven't heard any complaints for v2 it likely doesn't. @itshemant09 are you seeing lots of these? The errors are benign, so shouldn't cause functional issues for you - just log noise.

[2019-05-14 02:35] ishepherd commented on #4300
Thanks @ankitkumarr, I had indeed confused the two. (Profiling would be very useful too! Any chance?)

I can get a memory dump file that way, but it's small and doesn't have anything of interest. VS says, "Process heap information is not present in the dump file".

[2019-05-14 06:56] jmezach opened #4422 "Scoped services not working when running in container"
I'm having issues using ASP.NET Core Health Checks in my Azure Functions app when running the app in an Azure Functions container. I've written a custom health check, that depends on another service that I've registered as a singleton in my FunctionsStartup class. When running the health checks I'm getting an exception indicating that the service cannot be resolved. However it works fine when runn

[2019-05-14 08:31] frnk01 opened #4423 "Azure Functions not triggering after deploy - IoT Hub Trigger"
Azure Function does not trigger after deploy from Visual Studio Code. Function stopped working after deploy, and did not start firing until I visited the portal and saved the code directly in the online editor.

#### Investigative information
- Function App version (1.0 or 2.0): Runtime version: 2.0.12438.0 (~2)
- IoT Hub Trigger
- Node.js function on windows

#### Repro steps
1. Create new azure

[2019-05-14 09:15] pksorensen commented on #3493
I am also on consumption plan in West Europe and had queue triggers not firing atm

[2019-05-14 09:18] #4423 closed

[2019-05-14 09:25] frnk01 opened #4424 "Azure Functions stops processing - IoT Hub trigger"
Azure function with IoT Hub trigger stops running after a period of time.

![image](https://user-images.githubusercontent.com/2760702/57686636-3a4fcd80-763a-11e9-8283-23204df14b74.png)

#### Repro steps
Azure functions running with node.js on windows. Using node package pg-promise for inserting data to timescale db in Azure.

#### Actual behavior
Azure functions stops running with error Received R

[2019-05-14 12:14] alexzheludov opened #4425 "ILogger is not injected when using new DI functionality"
- Function App version: 2.0
- Microsoft.Net.Sdk.Function v. 1.0.28
- Microsoft.Azure.Functions.Extensions v.1.0.0

When using DI supplied with Function Extension nuget package, an instance of ILogger is not getting injected into dependent classes.

According to the [article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#logging-services), we shouldn't

[2019-05-14 12:34] brettsam commented on #4383
https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/1.0.28 has been released, which should fix the "missing trailing backslash" issue on the `NUGET_PACKAGES` and `NugetPackageRoot` properties.

@pgussow -- if you're still seeing issues with this package, can you send me another binlog of a failed build? You shouldn't need the `_FunctionsTaskFramework` property to be explicitly set.

[2019-05-14 12:36] brettsam commented on #4055
https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/1.0.28 has been released, which contains this fix. Please give it a try and let me know if you continue to have issues with your builds.

Huge thanks to everyone that helped us debug this. The latest release has more diagnostic logging so it may be easier to detect these kinds of things in the future.

[2019-05-14 12:45] brettsam commented on #4227
Do you have an example of the erroneous log? Are we logging this with the customer's app name and `dotnet`, even though it's not a dotnet app?

[2019-05-14 12:59] anarsen commented on #4425
@alexzheludov I agree the docs are a little misleading on this, but the way I read it you still need to call the `IServiceCollection.AddLogging` method. You do _not_ however need to add the Application Insights `ILoggerProvider`.

This is also backed by: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#function-app-provided-services

[2019-05-14 13:20] anarsen commented on #4425
@alexzheludov Try asking for the type parameterized `ILogger<>`, i.e. `ILogger<Service>`. That'll work.

I used [this example](https://github.com/Azure/azure-functions-dotnet-extensions/tree/master/src/samples/DependencyInjection/Basic) to reproduce it, but with `Microsoft.NET.Sdk.Functions 1.0.28` and `Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator 1.1.1`.

[2019-05-14 13:46] yannou38 opened #4426 "New Azure function, runtime doesn't work"
Hello,

I'm replacing a Webjob with an Azure function, and i get runtime problems as soon as i try to start it.

Here is the following error message:

[code]

#### Investigative information

- Timestamp: 2019-05-14T13:20:53.062Z
- Function App version (1.0 or 2.0): 2
- Function App name: MessageBusTransmitter
- Function name(s) (as appropriate): HandleMessage
- Invocation ID: see above
- Region: C

[2019-05-14 14:04] #4426 closed

[2019-05-14 14:50] MauriRojas commented on #3736
Can this https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection be integrated with Autofac?

[2019-05-14 15:05] anarsen commented on #4422
@jmezach Did you remember to include this:
[code]

If not, please provide a minimum example in a public repo. It would make it a lot more convenient to verify it locally.

[2019-05-14 15:07] sakibbinsharif commented on #4394
I'll try with that. and update the issue

[2019-05-14 16:28] pragnagopa commented on #4227
An example of error metric: A Java  app gets two metrics host.startup.runtime.language.dotnet and host.startup.runtime.language.java. Similarly a node app gets two metrics: host.startup.runtime.language.dotnet and host.startup.runtime.language.node

I will share kusto queries offline.

[2019-05-14 16:32] pragnagopa commented on #4227
PR #4210 addresses not logging language metric in placeholder mode. We still need to keep this issue active for investigating duplicate language metric logs

[2019-05-14 17:09] mathewc commented on #4402
Going to address this in Antares, not runtime.

[2019-05-14 17:09] #4402 closed

[2019-05-14 17:09] VaclavElias commented on #4425
It also doesn't work in my project. @alexzheludov  are you saying that if you place `ILogger log` to your **SampleGreeter.cs** you can log?

[2019-05-14 17:13] alexzheludov commented on #4425
Thanks @anarsen, requesting ILogger<Service> worked!

[2019-05-14 17:16] VaclavElias commented on #4425
Just to correct myself, it doesn't throw an exception in my case but it doesn't log anything.

[2019-05-14 17:17] #4139 closed

[2019-05-14 17:42] fabiocav commented on #3736
@MauriRojas replacing the DI/container framework is not currently a supported scenario. If you have questions or additional details about your scenario and what you're trying to accomplish, can you please open a separate issue so we can follow up on that?

I'll lock the current issue as we'll be able to better distribute the work across the team and provide better assistance if new issues are open

[2019-05-14 17:44] brettsam commented on #4425
`ILogger` itself isn't a supported DI service. You need to use `ILogger<T>`: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.2#create-logs.

`ILogger` is the base interface, but it cannot be constructed via DI as there's no known category. When you use an `ILogger<T>`, it uses the type `T` to construct a category.

[2019-05-14 17:44] #4425 closed

[2019-05-14 17:48] jmezach commented on #4422
I did add that yes. I've even added a `Console.WriteLine()` to my `Configure` method to see if it was being invoked and I do see that line being written.

I'll try to come up with a small repro.

[2019-05-14 17:54] nzthiago commented on #4305
This might be related to https://github.com/Azure/azure-webjobs-sdk/issues/1240

[2019-05-14 17:57] SatishRanjan opened #4428 "admin/functions/{name}/status API throwing System.InvalidOperationException error"
Sometimes, admin/functions/{name}/status APi throws the below error when trying to resolve IScriptJobHost service from the service collection, as it looks like IScriptJobHost service is not ready to the root scope when ScriptJobHost is not ready:

System.InvalidOperationException : No service for type 'Microsoft.Azure.WebJobs.Script.IScriptJobHost' has been registered.
   at Microsoft.Extensions.D

[2019-05-14 17:59] MauriRojas opened #4429 "Integrate Microsoft.Azure.Functions.Extensions with Autofac"
#### Is your question related to a specific version? If so, please specify:
Is not related to any version.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
Is it possible to integrate `Microsoft.Azure.Functions.Extensions` with Autofac using [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) approa

[2019-05-14 18:08] pragnagopa opened #4430 "Setup app settings for remote debugging node functions on linux"
cc @mhoeger  @ColbyTresness

Following app settings, need to be set when APPSVC_REMOTE_DEBUGGING  is set to true
[code]
@ahmelsayed  - Do you have any ideas on how to achieve this?

[2019-05-14 18:28] jmezach commented on #4422
Hmm, of course I'm unable to reproduce it in a new project. I think I have all the same things setup as in my actual application, but it seems to be working fine in my repro project, but it's not working in my actual application.

Are there any things I should check? Perhaps some NuGet packages that need updating, or files that need tweaking for this to work?

[2019-05-14 18:38] jmezach commented on #4422
Ah, I think I found my issue. My repro project was using the regular Docker images, while my production application was using the Alpine images. Looks like those haven't been updated to support the new DI stuff.

Question is, is that something that was missed, or was it intentional?

[2019-05-14 19:21] ahmelsayed commented on #4430
We can set them [here](https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd64/appservice/start.sh) conditionally.

[2019-05-14 20:48] #4406 closed

[2019-05-14 21:05] brettsam commented on #4424
@mhoeger / @pragnagopa any ideas here? Looks like we may be in the process of stopping the job host and something blows up?

[2019-05-14 21:12] brettsam commented on #4421
For `connection` you need to use an app setting *name*, not the actual connection string. We'll use that key to look up the value in app settings (or env variables if running locally). This allows you to commit the host.json to source control without exposing secrets.

See the Event Hub config details here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs#trigge

[2019-05-14 21:12] #4421 closed

[2019-05-14 21:26] #4416 closed

[2019-05-14 21:32] pragnagopa commented on #4424
Fix for #4392  should mitigate this issue. If starting node worker process fails, then jobhost is shutdown. This forces language worker process to restart.

I will investigate why the app ended up in this state.
@frnk01 - Can you please share function app name and approximate time range you got the errors?

[2019-05-15 00:31] hiraldesai commented on #4410
Closely following this. We have an application which has dotnet core API project and a bunch of v2 functions. API uses a hybrid (Autofac + Microsoft) `IServieProvider` as we have some simple DI registrations and some complex DI registrations that Microsoft's DI doesn't support (e.g. named instances). All the functions app uses a custom `[Inject]` attribute based hacked DI container that kind of su

[2019-05-15 00:45] fabiocav commented on #3784
Small update on this.

We're working on addressing the issue, but in the meantime, a mitigation option is to add the following to your project file (this will also be automatically handled by tooling):
[code]

Will keep this issue open until completely resolved, but the above should unblock the scenario.

[2019-05-15 01:14] brandonh-msft commented on #4305
ah yeah certainly seems like a dupe... but extensions/bindings should have their issues created here, no? 🤷‍♂️

[2019-05-15 05:30] frnk01 commented on #4424
@pragnagopa I would prefer not to share the name of the function. If we can talk on email I can share this information, or are there any IDs og the app I can share with you?

Last time function stopped:
14/05/19 19:16:35

[2019-05-15 05:34] pgussow commented on #4383
So far so good. I don't see any issues anymore.

[2019-05-15 07:08] older commented on #4425
Yet it is working in ASP.NET Core.

[2019-05-15 07:15] Zenuka commented on #3907
Is this feature on the roadmap? I really would like that all developers just use integrated security with RBAC to access resources instead of having access keys at developers machines to our servicebus and storage accounts. Since we use those as triggers.

[2019-05-15 09:53] pragnagopa commented on #4424
Please share any invocationid during that time frame.

[2019-05-15 09:56] dikokob commented on #3592
Any help with this as yet?

[2019-05-15 10:08] older commented on #4425
Tested it and got the same result. ILogger<T> gets injected but doesn't log anything to application insights. I added logger to the SampleGreeter this way:
[code]
And added logging statement to the function body:
[code]
Nothing is logged from greeter, while logging from fucntion works.

[2019-05-15 10:13] frnk01 commented on #4424
@pragnagopa 5f9489fe-b10a-499b-8b1d-341809cb5bbd

[2019-05-15 10:30] VaclavElias commented on #4425
@older, @brettsam  it is all very cryptic, isn't it? :)

Finally, I made it working, tested locally only at the moment.

All you did is ok but you need to white list SampleGreeter according this (till this is fixed) https://github.com/Azure/azure-functions-host/issues/4345.

It didn't work for me just using **SampleGreeter**, I had to put there whole namespace **Microsoft.Azure.Functions.Samples.D

[2019-05-15 10:37] pragnagopa commented on #4424
Apologies. I missed this earlier. I also need region your app is running in.

[2019-05-15 10:40] frnk01 commented on #4424
@pragnagopa West Europe

[2019-05-15 10:42] pragnagopa commented on #4424
Thanks. I will investigate

[2019-05-15 12:18] enternet commented on #4383
1.0.28 changed nothing for me. But after I uninstalled all sdks except one 2.2.204, the error gone.

[2019-05-15 12:33] brettsam commented on #4425
Yes, that is an unfortunate issue; sorry I forgot to point that out here.

When we first built logging, we controlled all of the logging categories so we put a filter in place to weed out things coming from other components by default. Unfortunately it also weeds out custom categories, which is becoming more prevalent with DI opening up. I'll be addressing that soon so this filter can go away.

[2019-05-15 12:47] brettsam commented on #4383
@enternet that's interesting. If you are able to reproduce this again, could you try running with a `/bl` switch to the end of it, and emailing me the msbuild.binlog file that it generates? My email is in my github profile.

[2019-05-15 12:59] enternet commented on #4383
OK, lets wait the next sdk. I'm not sure that my case is common case. I had more then 50 sdks.

[2019-05-15 13:15] brettsam commented on #4425
@older -- Could you share how you got an `ILogger` in ASP.NET Core? I just tried it and get `InvalidOperationException: Unable to resolve service for type 'Microsoft.Extensions.Logging.ILogger' while attempting to activate 'WebApplication18.MyService'.`

I'm pretty sure they don't register an `ILogger` by default anywhere when you configure logging; just an `ILogger<>`: https://github.com/aspnet/E

[2019-05-15 13:34] older commented on #4425
@brettsam My mistake. Just checked and you are right. Don't even know why I thought it was working...

[2019-05-15 14:27] nzthiago commented on #3994
@mathewc - I assume "POST api/sites/{name}[/slots/{slot}]/functions/{functionName}/listkeys" would only work after the functions have been deployed to the function app right? I.e., I wouldn't be able to retrieve a key or full webhook URL for a specific function name before it's been deployed (i.e., no 'placeholder' feature as part of this API update)?

[2019-05-15 14:27] alexzheludov commented on #4425
@brettsam @VaclavElias if your solution has common namespace, if you just reference it in the host.json, it will cover your whole solution.
for example all my project namespaces are MyCompany.SolutionName.ProjectName, so when I set host.json to this, everything gets logged.
[code]

[2019-05-15 15:39] mlapointe99 commented on #2408
I came up with a simple workaround. Since the EF commands are looking for the assembly in the TargetDir just copy it there with a post build command.
copy /Y "$(TargetDir)bin\$(ProjectName).dll" "$(TargetDir)$(ProjectName).dll"

[2019-05-15 15:41] VaclavElias commented on #4425
Thanks @alexzheludov that is helpful and I agree. I am also ok with white listing.

Interestingly, once deployed when running manually it doesn't show the logs (except from functions) in the log-streaming
![image](https://user-images.githubusercontent.com/4528464/57788918-d9a2bc80-772f-11e9-9afd-35af48be4b3e.png)

But I can see the logs in Monitor, including from my services. Anyway, logging is ba

[2019-05-15 16:20] Rocinante89 commented on #2408
Nice workaround. Is there a way I could automate that command so that it would work in a CI environment?

[2019-05-15 17:23] soninaren commented on #4260
The PR is merged. Closing this issue.

[2019-05-15 17:23] #4260 closed

[2019-05-15 17:31] mathewc commented on #3994
No - if the specified functionName isn't a function, you'll get a 404.

[2019-05-15 17:38] pragnagopa commented on #4240
Queried all the stamps on 05/14/19. All the sites except for sites running on stamps with ANT81 bits got backfilled. Moving to next sprint because few stamps are still running ANT81.

[2019-05-15 17:42] pragnagopa commented on #4231
cc @mathewc
Fix for #4392  will mitigate this issue. If restarting node process fails after exceeding threshold - 3 times, jobhost is shutdown. When a new request comes is, jobhost is restarted --> which restarts language worker process.

Moving this issue to Triaged as we need to discuss what is the right approach to restarting language worker
- Should there be a limit on number of restarts?
- Wh

[2019-05-15 18:02] mhoeger commented on #4231
One example of a case where the language worker startup would "infinitely fail" is if the WEBSITE_NODE_DEFAULT_VERSION is not set, or is set to a non-exact match or old value.

[2019-05-15 18:02] frnk01 commented on #4424
@pragnagopa Is it possible to get any ETA on this issue? I can see several of the referenced issues are in the 49 sprint which ends today. Is it likely that a fix will be pushed anytime soon? This functionality is critical to our solution as it´s the only reasonable way to get data from an IoT Hub and into a postgre database as Stream Analytics does not support this.

[2019-05-15 18:24] pragnagopa commented on #4424
As I mentioned earlier, fix for #4392 will help mitigate this issue. And we will be pushing that fix as part Sprint 49.
I still have investigate this issue to understand why restarting the node process was failing.

[2019-05-15 19:04] #4376 closed

[2019-05-15 19:25] pragnagopa commented on #4076
Moving to next sprint as this is an ongoing investigation.

[2019-05-15 19:32] sakibbinsharif commented on #4394
If we want to use ILogger to our solution for logging and want to use FunctionApp V1, we have to use Microsoft.Extensions.Logging.Abstraction 1.1.1 . Only this version works for FunctionApps.

[2019-05-15 19:32] #4394 closed

[2019-05-15 19:47] #4372 closed

[2019-05-15 19:47] mlapointe99 commented on #2408
Rociante89 if your environment supports Powershell or command line steps that would be one way. Are you using AzureDevOps? That has a command line task that should be able to do this: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/command-line?view=azure-devops&tabs=yaml

[2019-05-15 19:48] soninaren opened #4435 "Add hsts configuration to host.json schema"

[2019-05-15 19:50] xyz92 commented on #1118
@lindydonna I'm currently experiencing the same issue. Here are the contents of run.cmd:

dotnet Hosts.ReviewWebJob.dll

Could you please let me know the issue?

[2019-05-15 20:03] valdisiljuconoks commented on #3784
can confirm that this workaround is working for now..

[2019-05-15 20:18] soninaren opened #4436 "Create Dev Ops pipeline for Core tools release"

[2019-05-15 20:25] soninaren opened #4437 "Update the index endpoint of extension bundles"
We need to create a new index endpoint for extension bundle to include links to templates and minimum required runtime version.

[2019-05-15 20:27] soninaren opened #4438 "Consume the new index endpoint for extension bundle"
Function runtime right now consumes https://functionscdn.azureedge.net/public/ExtensionBundles/Microsoft.Azure.Functions.ExtensionBundle/index.json, to look up existing extension bundles. This endpoint only contains bundle versions.
We need an new endpoint which contains array of objects and each object includes template information, minimum required runtime and CLI version. The runtime needs to c

[2019-05-15 20:43] tcihak-fqa opened #4439 "ServiceBusTrigger support for SqlFilter"
#### Question
Is it possible to create an Azure Function that binds to a ServiceBus Topic/Subscription with a SqlFilter?

[2019-05-15 20:44] brettsam commented on #4389
There's a side bug here as well -- it appears that all TimerTrigger invocations will also have the same operation id.

[2019-05-15 20:52] fabiocav commented on #4069
Work in PR, this will not make sprint 49.

[2019-05-15 21:11] MisinformedDNA commented on #2999
@ConnorMcMahon The OP includes a repro solution. Should be easy for you to replicate.

[2019-05-15 21:40] mhoeger opened #4441 "Sprint 49 V2 Runtime Release"
Tracking V2 release activities for Sprint 50

[2019-05-15 22:09] elprans opened #4442 "Table binding does not work with `dataType` set to `string`"
From https://github.com/Azure/azure-functions-python-worker/pull/409:

*function.json*:

[code]

Exception:

[code]

[2019-05-15 22:11] MisinformedDNA opened #4443 "Dynamically adjust consumption scale"
#### What problem would the feature you're requesting solve? Please describe.
When targeting an endpoint that is not infinitely scalable, it is difficult to determine the correct scale values to use and ideal scale values may change over time.

Consider these scenarios:

1. Assume you are hitting a service endpoint and are assuming you have XX% of the service's resources to work with. You set the

[2019-05-15 22:16] mdb-wg opened #4444 "Asyncio module failing to load function app (python)"
#### Investigative information

Please provide the following:

- Timestamp: 2019-05-15T21:38:31.165Z
- Function App version (1.0 or 2.0): Function App 2.0
- Function App name: waveguide-python-scriptlets
- Function name(s) (as appropriate):
- Session Id: 9ba0e19a7a9b4388bd9199448f86619c
- Region: US East

#### Repro steps

Provide the steps required to reproduce the problem:

Any attempt to run th

[2019-05-15 22:23] #4193 closed

[2019-05-15 22:23] #4194 closed

[2019-05-15 22:23] #4195 closed

[2019-05-15 22:23] #3939 closed

[2019-05-15 22:23] #4026 closed

[2019-05-15 22:23] #4161 closed

[2019-05-15 22:23] #4326 closed

[2019-05-15 22:23] #4328 closed

[2019-05-15 22:23] #4392 closed

[2019-05-15 22:35] maiqbal11 opened #4445 "Run From Server Build Package in Linux Consumption"
Handle running from an app setting that is configured to contain the server side builds produced for Linux Consumption users. The setting will be populated with a zip url containing the built contents for the user's function app.

[2019-05-15 23:21] mguglani commented on #4421
thanks changing to app setting name as well as updating the App settings to include the app setting name and value in Azure portal was needed to make it work.

[2019-05-15 23:26] ankitkumarr opened #4447 "Sprint 49 V1 Runtime Release"
Tracking item for the release

[2019-05-15 23:40] mhoeger commented on #4390
@brettsam - what's the priority on this? Should we move it to triaged or do you want it assigned to an upcoming sprint?

[2019-05-15 23:54] dariagrigoriu commented on #3914
No repro at this time, please reopen if needed.

[2019-05-15 23:54] #3914 closed

[2019-05-16 00:01] dariagrigoriu commented on #3667
Duplicate of https://github.com/Azure/Azure-Functions/issues/1006

[2019-05-16 00:02] brettsam commented on #4390
It's not super-urgent. I'll move this to Triaged. I actually have a prototype already but it'd need some testing/validation still. We can do it in a future sprint.

[2019-05-16 00:09] dariagrigoriu commented on #2806
No repro.

[2019-05-16 00:09] #2806 closed

[2019-05-16 01:04] pragnagopa commented on #4442
Issue reproes with java script functions as well. Needs investigation.

[2019-05-16 01:15] fabiocav opened #4449 "Implement generic way to execute job host scoped middleware"

[2019-05-16 09:39] jtlz2 commented on #4374
@FlippieCoetser This is a major problem for me at the moment - images uploaded via the Azure GUI to blob storage, then fetched using an Azure function InputStream in python, are becoming mangled, I think because the encoding is not being determined or set. For example, a PNG starting 89 50 4E 47 0D 0A 1A 0A comes out of InputStream.read() as ef bf bd 50 4e 47 0d 0a (cf https://stackoverflow.com/qu

[2019-05-16 09:47] FlippieCoetser commented on #4374
@jtlz2 to be sure the problem is related, try loading the file locally using **open(File, encoding='ISO-8859-1', mode='r').read()** first by not setting the encoding and then by setting a relevant coding scheme. If the first test fails and the second succeeds then indeed the problem is related. I have not found a workaround yet.

[2019-05-16 10:00] jtlz2 commented on #4374
@FlippieCoetser Thanks - and apologies - I am not quite following your test - do you mean on the original? How do I establish its encoding (the test image - you will see the irony - is attached)?

<img width="299" alt="cupoftea" src="https://user-images.githubusercontent.com/3842318/57845408-3e165800-77d2-11e9-87a4-f41b9ab462b6.png">

[2019-05-16 10:55] jtlz2 commented on #4374
@FlippieCoetser I'm not sure how this sample was made to work:

https://github.com/yokawasa/azure-functions-python-samples/tree/master/v2functions/blob-trigger-watermark-blob-out-binding

@yokawasa I wonder if you are able to shed any light on this?

[2019-05-16 11:25] jtlz2 commented on #4374
One possible workaround is to base64-encode the images into and out of blob storage - seems crazy to be forced to do this though..!

[2019-05-16 11:36] AnunnakiSelva opened #4452 "Getting error when using function dependency injection"
#### Is your question related to a specific version? If so, please specify:
Am using function v2 with .net core 2.2
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
I have replaced all my static functions into non static function to support latest DI supported function version.

while doing so am getting these error ---> No idea where am going wrong

[2019-05-16 14:50] brettsam commented on #4355
#4356 closed this.

[2019-05-16 14:50] #4355 closed

[2019-05-16 14:53] Rocinante89 commented on #2408
Ah awesome, I'm using DevOps so that should work nicely.

I'm getting this error right now so I'll have to sort that before I can move on to the Build/Release stage, but thanks for pointing me in the right direction!

[2019-05-16 15:10] soninaren commented on #4449
@fabiocav, here is a pr for this.
https://github.com/Azure/azure-functions-host/pull/4451

[2019-05-16 17:41] pragnagopa commented on #4424
Error you are seeing in the logs: `Received RST_STREAM with error code 2` is same as the issue #4190 which is a noise in the logs due to ungraceful shutdown of the resources and does not cause any issues with function executions. Your application insights logs should have following information as well:
[code]

which indicates that process is shuttindown (which is part of the normal execution) but

[2019-05-16 17:44] pragnagopa commented on #4190
Updated to P1 and moved to Triage. As this issue indicates, shutting down the application is not following a graceful shutdown which causes child processes to be not disposed properly.

[2019-05-16 17:57] pragnagopa commented on #4331
@SatishRanjan  - This is causing lot of noise in the logs. Can you please take a look?

[2019-05-16 18:01] SatishRanjan commented on #4331
@pragnagopa , @mhoeger  : I'm looking into this.

[2019-05-16 20:02] paululvinius commented on #4397
Having the same issue when trying to add certificate authentication middleware in my function app startup code. Need to validate incoming client certificate for every request and make sure it has a specific thumbprint. Any hints on how to accomplish this given this issue?

[2019-05-16 20:18] frnk01 commented on #4424
@pragnagopa The IoT hub is receiving multiple events and normally no less than one event per 15 seconds. After the RST_STREAM error is shown in the log the function never fires again. It will be stuck in "shutdown mode" for several hours, an as soon I visit the function page in the portal it triggers for all of the "missed" events.

I´m not sure what invocation ID you want me to share. I shared th

[2019-05-16 20:36] slaharip opened #4457 "Function fails to start with Microsoft.WindowsAzure.Storage: An attempt was made to access a socket in a way forbidden by its access permissions"
#### Investigative information
Exception while trying to start the function:
Microsoft.WindowsAzure.Storage: An attempt was made to access a socket in a way forbidden by its access permissions. System.Net.Http: An attempt was made to access a socket in a way forbidden by its access permissions. System.Private.CoreLib: An attempt was made to access a socket in a way forbidden by its access permissi

[2019-05-16 21:04] #4387 closed

[2019-05-16 22:24] brettsam opened #4458 "Throw exceptions during local development on DependencyValidator errors"

[2019-05-16 22:50] jeffhollan opened #4459 "Allow uncaught exceptions to "trigger" another function for global exception handling"
Both related to this request

https://feedback.azure.com/admin/v3/suggestions/20308660/

And the fact that people today using bindings aren't able to catch an exception from something like an output binding in the context of the language worker.

[2019-05-17 01:31] alrod commented on #4251
PR: https://github.com/Azure/azure-functions-host/pull/4460

[2019-05-17 01:37] alrod commented on #4154
PR: https://github.com/Azure/azure-functions-host/pull/4427

[2019-05-17 06:18] #4452 closed

[2019-05-17 08:10] i02coroj commented on #2167
Hi!
Getting exactly this same issue.
I see this thread last update is from last year. Any update?

[2019-05-17 09:33] henning-krause opened #4463 "PlatformNotSupportedException when using any classes from System.DirectoryServices.Protocols"
My issue is similiar to #3903:
I tried to use System.DirectoryServices.Protocols on a V2 Function (using Microsoft.NET.Sdk.Functions 1.0.28).

A PlatformNotSupportedException is thrown whenever I call anything from the System.Directories.Procotols namespace.

I've attached a sample project: [TestProject.zip](https://github.com/Azure/azure-functions-host/files/3190828/TestProject.zip).

Just start

[2019-05-17 12:23] aaronincincy commented on #3737
With the release of the built-in DI for functions is this now available for use?

[2019-05-17 12:32] kemmis opened #4464 "using appsettings.json + IConfiguration in Function App"
#### Is your question related to a specific version? If so, please specify:
Yes - the current version - that supports DI.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
In my asp.net core web apps I'm used to loading in appsettings.json and environment-specific appsettings.{environment}.json in on startup using the ConfigureAppConfiguration meth

[2019-05-17 12:59] simonvane commented on #4459
For what it's worth I really like the asp.net core filter approach to handling exceptions globally though I can see the merit of another function being triggered providing enough context is available to it.

[2019-05-17 13:16] pijemcolu commented on #2279
+1 same issue with a guid in .NetCore functions 2.1

[2019-05-17 13:21] kzryzstof opened #4465 "Why is EasyAuth returning a 401 Unauthorized status when a client post an access token on /.auth/login/aad endpoint?"
I started to migrate my Live SDK registered applications to the new Application Registration Portal as Microsoft is deprecating their support:

![Application Registration Portal](https://i.stack.imgur.com/SMRbq.png)

I went on the App Registrations (Preview) page in the Azure Portal and choose to create a new application.

Then, I went to my Function App's Authentication / Authorization page to pu

[2019-05-17 15:44] pragnagopa commented on #4424
I do not have a root cause yet. Will post an update once I have more info.

[2019-05-17 18:09] alexjamesbrown commented on #4459
Or this
https://github.com/Azure/azure-webjobs-sdk/wiki/Function-Filters

[2019-05-17 21:34] pragnagopa commented on #4410
This is a feature request.
@brettsam / @fabiocav   - Do we have plans to support other IoC containers?

[2019-05-17 21:36] pragnagopa commented on #4411
@brettsam / @jeffhollan / @fabiocav  - Do we have documentation to answer above questions?

[2019-05-17 21:39] pragnagopa commented on #4412
cc @ahmelsayed
Will transfer this to  issue to Keda repo.

[2019-05-17 21:42] pragnagopa commented on #4412
Closing in favor of https://github.com/kedacore/keda/issues/213

[2019-05-17 22:14] balag0 opened #4469 "Linux consumption zip deploy app refresh"
After successful completion of cloud build in kudu, kudu will remove currently assigned workers since they are using old app contents.

In the scenario where this fails, functions host should periodically verify if it is using an older version of app contents(kudu should leave enough information in the storage account to make this determination possible). If the app identifies itself as outdated,

[2019-05-17 23:41] balag0 opened #4470 "Tracking issue : Configure token service to allow https connections"
Token service specialization is not using https currently.

[2019-05-18 00:04] tsharp commented on #3905
Is there a way to make this less fragile? (assuming that this isn't documented somewhere)

[2019-05-19 22:03] JosXa opened #4471 "Python: Support Pipenv"
#### What problem would the feature you're requesting solve? Please describe.
Apparently the only supported environment management tool is the vanilla requirements.txt:

I am asking to consider also supporting alternative packaging tools such as [Pipenv](https://github.com/pypa/pipenv), which has become quite popular by now.

I understand that the Azure job host considers itself "opinonated", but

[2019-05-19 22:15] JosXa commented on #4471
I just realized [you can create requirements.txt files from Pipfile.lock](https://github.com/pypa/pipenv/issues/89#issuecomment-360876858)

[2019-05-19 22:15] #4471 closed

[2019-05-20 02:18] nmfisher commented on #3370
Just ran into this one myself - any indication of when this will be merged? Workaround is fine but a touch messy for such a core feature.

[2019-05-20 05:40] QuantechTP commented on #4055
The 1.0.28 update has broken my build with a new 'Metadata generation failed' (when running both locally and in VSTS). I simply reverted from 1.0.* to 1.0.27 because the older package still works fine. However, I thought the bug report might be relevent here. The fix might be easy as you'll notice the "binbin" and I suspect it has to do with the "_FunctionsExtensionsTasksDir", but this is where my

[2019-05-20 11:13] sebader commented on #3745
I am seeing the same issue. I am running a Durable Function in fan-out pattern. So there are up to a couple of hundred threads running in parallel and for some threads I get the error.

[2019-05-20 12:03] Atul-2509 opened #4472 "Error while connecting D365 CRM from Azure function Powershell"
Error : Exception calling ".ctor" with "1" argument(s): "Could not load type 'System.Web.HttpRuntime' from assembly 'System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'."

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0): 2.0
- Function App name: DSSFrameworkIntegration
- Function name(s) (as appropriate):
-

[2019-05-20 12:35] brettsam commented on #4055
Thanks for the report @QuantechTP! Is there any chance that you could kick off a build with "/bl" as your command line and email me the msbuild.binlog file that it generates? My microsoft email is in my github profile.

[2019-05-20 13:04] ahaugedk commented on #2279
+1 Guid in POCO fails.

[2019-05-20 13:27] sohailbujhs opened #4473 "NodeJs time triggered azure function v2 occasionally gives timeout error when interacting with azure SQL table (npm used mssql)"
'use strict';

const Promise = require('bluebird');
const { getSqlCollection } = require('../db/sqldb');
const utils = require('../utils');
const moment = require('moment');
const { getMongodbCollection } = require('../db/mongodb');
const { selectVouchersAboutToBeExpire } = require('../db/sqldb/scripts');
const { updateVoucherAboutToExpire } = require('../db/sqldb/scripts');

module.exports = asyn

[2019-05-20 14:10] marshall76963 opened #4474 "Filtering out logging in Application Insights"
Hi,

I am writing a set of C# Azure functions, some timer triggered, others http triggered and am having difficulty restricting the information logged in Application insights.

A bit of background...

I have 2 timer triggers, one that runs every 5 seconds to check for specific database condition changes which, most of the time, will not have to do anything as changes are infrequent but the respons

[2019-05-20 16:32] pavanagrawal123 commented on #3543
hi! I'm also experiencing this on MacOS with Python functions, any info available on Python files?

[2019-05-20 16:45] mhoeger opened #4475 "`rawBody` http property should not be a UTF-8 string for byte data"
Ideally, the body that we pass to language workers should always be the `raw` form (ex: if the body is application/json, then it should be the string version and not the parse'd object). If the language worker wants to add a method on top of that to get a "pretty" object, that is ok, but it should be language-dependent and as an additional method (not the default behavior).

One solution to passin

[2019-05-20 19:39] pragnagopa commented on #4412
Triaged this issue. As of now, there is no support in the runtime to filter loading functions based on binding/trigger type

[2019-05-20 20:13] pragnagopa opened #4476 "Placeholder pooling in Linux consumption apps AB#4658987"
Each app now has a new property `PlaceholderId` that indicates a pool id the app can be assigned to
Sample PlaceholderPool Ids:
-   V2 x86 app  `v=1,k=f,e=~2,a=1`
-   V2 x86 app  using a pinned version runtime `v=1,k=f,e=2.0.12342.0,a=1`
-  V2 x86 Node app using node 8.11.1 `v=1,k=f,e=~2,a=1,r=node,rv=~8` . Note default node version is ~8
- 	V2 x86 Node app using node 10.14.1 `v=1,k=f,e=~2,a=1,r=n

[2019-05-20 20:14] pragnagopa commented on #4476
@balag0  - Please open any follow up work items needed.

[2019-05-20 21:35] pragnagopa commented on #4430
python should work as well.
@maiqbal11 - do you know debug settings needed for python ?

[2019-05-20 22:18] maiqbal11 commented on #4430
It's using the `ptvsd` module: `-m ptvsd --server --port 9091`

[2019-05-20 23:07] anirudhgarg commented on #4476
#AB4658987

[2019-05-21 00:00] #4299 closed

[2019-05-21 00:58] anirudhgarg opened #4477 "Test Question"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

#### Question

[AB#4658987](https://msazure.visualstudio.com/9912b5ff-89a4-4651-bae2-9452eb7992a8/_workitems/edit/4658987)

[2019-05-21 01:01] anirudhgarg commented on #4477
This was just a test issue to check integration.

[2019-05-21 01:01] #4477 closed

[2019-05-21 04:00] #4300 closed

[2019-05-21 12:20] kemmis commented on #4464
FYI - here is what I ended up doing... I call this in my Startup.Configure() method:

[code]

[2019-05-21 12:43] rodrmoya opened #4481 "Azure Functions cannot access native library in NuGet"
See https://github.com/mono/monodevelop/issues/6673

It not only affects vsmac, also azure-functions CLI. To reproduce, clone https://github.com/mattleibow/SkiaSharpFunction , build and run (in the `bin/Debug/netcoreapp2.1` folder):

[code]

Functions app starts perfectly, but when the function is called:

[code]

A Console .NET Core app works (by adding the SkiaSharp NuGet and adding this code ->

[2019-05-21 14:36] LudovicSiegenthaler opened #4478 "EventHubTrigger ConsumerGroup Binding Expression not working"
I defined multiple consumer groups (`$Default`, `production`, and `staging`) in my event hub in order to be able to test my azure functions using the two available slots.

When I statically define the `ConsumerGroup` in the `EventHubTrigger` the events trigger the function as expected.
[code]
But, when I set the `ConsumerGroup` with a binding expression, to retrieve the value from the application

[2019-05-21 15:55] marshall76963 commented on #3386
I am still facing this issue unfortunately using `.Net Core 2.2` and `Microsoft.NET.Sdk.Functions v1.0.28`

I have a custom startup.cs that is registered and generates correctly when running locally.  When I use VS 2017 to deploy to Azure, I can see it generates a `extensions.json` file with the following in the *obj\Release\netcoreapp2.2\PubTmp\Out\bin* directory:

[code]
I can see that the corre

[2019-05-21 16:54] roeb commented on #2279
+1 the same issue here. Expecting a guid from the route prameters.

[2019-05-21 18:22] xavierjohn commented on #4267
Created also has similar bug so here is the Created version of it.

[code]

[2019-05-21 18:25] SpicySyntax opened #4479 "Python worker channel restarted for host while using tensorflow"
I am attempting to expose Tensorflow Object Detection API using a python Azure Function running on Azure Kubernetes Service (See [gist](https://gist.github.com/SpicySyntax/7244117ba3f1eb19e32bdc13ca3da584)) The python functions receive a queue message and then perform inference on an image. This is successful about half the time. The other half log the error message in the logs of the attached ima

[2019-05-21 18:33] marshall76963 commented on #3386
For some reason I missed this suggestion from @dbarentine earlier, and with a small teak to the `Directory.Build.targets` file the correct `extensions.json` is now getting deployed.

Still interested to know when this workaround will no longer be required.

[2019-05-21 19:06] OShevnin-Quest commented on #2153
Any progress with this issue?

It's not possible currently to gracefully shutdown the running function instances when something outstanding happened - timeout exceeded, host stopped/restarted. Even handling cancellation token doesn't help as mentioned above.

waiting for 5 second can be too aggressive. Is there a reason not waiting 5/10 minutes (max function duration) after cancellation token sign

[2019-05-21 19:24] lukasvosyka opened #4480 "Functions v2 using EventHubs and FunctionsStartup does not take config values from host.json"
Hi,

I am having an issue when running a function app locally. I want to override EventHubs settings in the host.json, but when I start locally the func host does not seem to use these values.

My function is using the FunctionsStartup as documented on [https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection](https://docs.microsoft.com/en-us/azure/azure-functio

[2019-05-21 19:53] pragnagopa commented on #4424
cc: @mathewc
@frnk01  - We have looked through the backend logs.  `Function IoTHub_Trigger is disabled`.  This resulted in function app not being scaled as expected even when there were incoming messages on the IOT Hub.
Please remove `  "disabled": true` from function.json.

Closing this issue. Please reopen if needed.

[2019-05-21 19:53] #4424 closed

[2019-05-21 21:04] mathewc opened #4483 "SyncTriggers shouldn't filter disabled functions"
For issue https://github.com/Azure/Azure-Functions/issues/1111. A corresponding change was made to Kudu here: https://github.com/projectkudu/kudu/pull/2962.

For v2 this is really just a code cleanup item to avoid confusion, since as it stands now IsDisabled is always false for functions on the SyncTriggers path anyways. SyncTriggers calls (both direct and background) are done outside of the conte

[2019-05-21 21:20] pragnagopa commented on #4424
Also, we have opened https://github.com/Azure/Azure-Functions/issues/1223 to improve detection of cases where disabled property interferes with function scaling.

[2019-05-21 22:38] A30001344 commented on #3745
I have a similar issue where I try to log an error in the exception block it gave me the below error
The process cannot access the file 'D:\home\LogFiles\Application\Functions\Function\DetailsFunction\2019-05-21T22-12-30Z-1b572f146a.log' because it is being used by another process

[2019-05-21 22:38] mhoeger opened #4482 "Protobuf contract must not contain map<string, string> types"
In our protobuf contract, "map" type values should never be a native type (if it can be a null value), because it causes a Buffer overrun in JavaScript (and other languages).

https://github.com/Azure/azure-functions-language-worker-protobuf/issues/21

This issue is to track a potential major version change in the protobuf contract to change all map<string, string> to map<string, NullableString> (

[2019-05-22 01:32] iyerusad commented on #4120
Was about to file same issue.

Master key is located under

and NOT under (as per [documentation](https://github.com/Azure/azure-functions-host/wiki/Key-management-API#host-key-resource-adminhostkeyskeyname))

[2019-05-22 06:03] AnunnakiSelva commented on #4397
@JishanK  Can you able to figure out how to add authentication handler in FunctionsStartup ??

[2019-05-22 08:14] pksorensen commented on #4055
Is there a solution to the following problem: https://twitter.com/pksorensen/status/1131080645696983040

How do i get to build when one of my other dependencies need json >=12.0.2?
[code]

[2019-05-22 09:03] SashaPshenychniy commented on #1207
Hopefully Microsoft can make something **more granular than global settings**, currently available (e.g. WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT or maxConcurrentActivityFunctions or queues.batchSize). If I have few different functions, hosted in single Functions App, it is very unlikely all of those functions have same concurrency limits and interfere concurrency of one another.

Thinking furthe

[2019-05-22 09:36] lukasvosyka commented on #4480
Hi,

I figured, that by removing the

`[assembly: WebJobsStartup(typeof(Startup))]`

the host.json values are recognized correctly and the host print the expected results.

[2019-05-22 10:01] stap123 commented on #1451
Any changes with the status of this? Would still be very useful

[2019-05-22 11:51] AnunnakiSelva commented on #4397
@alrod  Any update on this issues ? Is there a way to add custom token authentication ??

[2019-05-22 12:04] AnunnakiSelva opened #4485 "non static V2 functions throws error when using AddAuthentication() in functionstartup"
#### Is your question related to a specific version? If so, please specify:
Azure function v2 . .net core 2.2
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
Am trying to implement custom token authentication with auth server . So i have used    builder.Services.AddAuthenticatio in the FunctionStartUp, Am able to compile it . But while running in t

[2019-05-22 13:53] ChristianWeyer commented on #3898
Do you have an update on this @ConnorMcMahon ? Thanks!

[2019-05-22 15:04] macgyver2k opened #4486 "Proxy function merges "Set-Cookie" headers"
This makes all modern browsers only capture the first cookie.

#### Investigative information

- Timestamp: Wed, 22 May 2019 14:48:15 GMT
- Function App version (1.0 or 2.0): 2.0
- Region: Westeurope

#### Repro steps

Create function proxy to and endpoint that returns multiple cookies in one response.

#### Expected behavior

The multiple "Set-Cookie" headers should be transported as they are, on

[2019-05-22 15:42] NickBlackburn commented on #3994
Thanks for all the info above.

@mathewc - Do we know when we will have the ability to get the Function App Host key directly from an ARM Template? Using ListSecrets doesn't only gets the individual Functions rather than the Function App key.

Unless i'm missing something and this is something that's already available to use?

Cheers
Nick

[2019-05-22 16:26] fabiocav commented on #4329
There is evidence of this issue impacting more customers. Prioritizing this for the next sprint.

[2019-05-22 18:08] ConnorMcMahon commented on #3898
Thanks for pinging me on this.

I don't think we can make a fix in the core Authentication/Authorization feature, as customers have developed code around the claims that it has always had present.

However, I can add some special logic in the Functions runtime to manually edit the ClaimsPrincipal to add a Claim for "roles" that has the same value as the claim for "http://schemas.microsoft.com/ws/2

[2019-05-22 19:10] stigdefeyter commented on #2780
Hi, I experience the exact same issue when debugging Azure functions v1 in VS 2017 (using Azure Function Tools release 1.8.0).
I have already tried the suggestion to replace the binaries from Azure Functions Core Tools after installing the latest version (see https://github.com/Azure/azure-functions-core-tools/issues/627) ,but that does not solve the issue. Any other suggestions? How I could get m

[2019-05-22 19:17] ddobric opened #4487 "AzureFunction fails when deployed from VS2019"
When using VS2019 AzFunc template, getting following error:

![image](https://user-images.githubusercontent.com/1756871/58202015-d03cc580-7cd6-11e9-9210-8034356c3e55.png)

### AppSettings

![image](https://user-images.githubusercontent.com/1756871/58201960-ac797f80-7cd6-11e9-8726-085a6308272b.png)

### Host file
[code]

### Dependencies
[code]

[2019-05-22 20:23] mhoeger opened #4488 ""map" types to not contain empty values for node"
Null or empty values on protobuf `map` types cause buffer overruns on Node.js: https://github.com/Azure/azure-functions-language-worker-protobuf/issues/21

The ultimate goal is to get rid of any `map` types that allow for empty values (ex: `string`): https://github.com/Azure/azure-functions-host/issues/4482

For now, we may need to implement host changes that filter out empty-valued pairs. This is

[2019-05-22 21:51] pragnagopa commented on #4413
cc @brettsam / @fabiocav
We need to investigate this.

[2019-05-22 22:21] mathewc commented on #3994
That question was answered above - you can call the host/default/listkeys API which returns the masterKey as part of the json response. Just waiting for the deployment of this to continue - it's not done yet.

[2019-05-23 07:49] hariharan618 opened #4489 "Site Under Construction"
#### Is your question related to a specific version? If so, please specify:

Function app runtime V2 .NET Standard

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question

I had a function app with 4 functions which are http triggered , which was working fine. It worked fine untill now,, when i try to hit the tirgger i am getting the response in postman

[2019-05-23 08:31] marshall76963 commented on #3741
I am also having an issue getting this working in Azure.

I have implemented a small Azure Function using a version of the code outlined by @michaeldaw (thank you!) and can see that it is working when I execute locally, but when it is deployed to Azure it has no effect and all the dependency messages are appearing in AI.

**Configuration**
- .Net Core 2.2
- Custom `Directory.Build.targets` to ensu

[2019-05-23 09:27] JasperKeijzer commented on #4379
Having a similar error:

`"Failed to deserialize exception from TaskActivity: Unhandled exception while executing task: System.ObjectDisposedException: Cannot access a disposed object.Object name: 'LoggerFactory'.at Microsoft.Extensions.Logging.LoggerFactory.CreateLogger(String categoryName)at Microsoft.Azure.WebJobs.Script.WebHost.ScriptLoggerFactory.CreateLogger(String categoryName) in C:\azure-

[2019-05-23 13:45] brettsam commented on #4413
@OneCyrus -- Is there any stacktrace along with the exception?

[2019-05-23 14:42] binkiesjoris commented on #4187
As a FYI for anybody that might still run into this error, it will still occur if you provide a concrete class to AddTransient and use the concrete type as a constructor argument, but only once deployed. It runs fine locally. Any other combination (i.e. adding the abstract type as constructor argument or to AddTransient) will generate an error when running locally, but the other one wont. After co

[2019-05-23 17:33] portTack opened #4490 "Time triggered function stopped firing"
#### Investigative information

Please provide the following:

- Timestamp: 2019-05-21T17:00:05.709
- Function App version (1.0 or 2.0): 2.0
- Function App name: https://adcbugtagger.azurewebsites.net
- Function name(s) (as appropriate): ADBugTagger
- Invocation ID: bbea9ad3-5391-4ac7-8d73-897ffc115fa4
- Region:  West US

#### Repro steps

The last time the function was fired was 5/21/2019/ 17:00

[2019-05-23 17:51] mayoatte commented on #4459
@alexjamesbrown

Function filters have a pretty big flaw in that you can't modify the output of the function. E.g. in the case of an http triggered function, you can't decide what status code to return based on the exception caught in the filter.

[2019-05-23 18:11] alexjamesbrown commented on #4459
@mayoatte * currently have a pretty big flaw
Hopefully this (eventually) gets some traction https://github.com/Azure/azure-webjobs-sdk/issues/1314

... although it's almost 2 years old :(