[2020-06-02 18:16] antonGritsenko commented on #5915
@ConnorMcMahon the problem is what I get the same result even with MSAL. But I will check your recommendation about

I assume you mean get the token from the Authentication header itself and not from the X-MS-TOKEN-AAD-ACCESS-TOKEN header.

But, to be honest, the behalf-of scenario in Azure Functions looks broken. Too much effort required to make it work, from my point of view there is no any bene

[2020-06-02 18:48] safihamid commented on #3965
@MikePennington took a look at the logs, az functionapp deployment include several other config, app settings, ... and cause the process to restart and that's why it takes longer because after restart it's not going to use our specialized process for cold start and that's by design. but it only happens the very first time after a redeploy and subsequent cold starts are fast and should all be well

[2020-06-02 18:52] safihamid commented on #3965
@petro2050 you should be using premium azure files. not sure if portal gives you that option or not. maybe you should do ARM calls to set it up. anyhow we have major improvements being deployed in the next month or so which improves this significantly as long as you have a .zip file and use 'run from package' and will not need premium azure files.

[2020-06-02 19:01] kevin-secrist commented on #6131
The error you're getting looks like many of the things mentioned in https://github.com/Azure/azure-powershell/issues/7876 however the issue appears to have been "solved". There are some workarounds in that issue you could try in the meantime, but I think maybe someone from MS may have more insight into what is happening here. 🤷

Another tiny suggestion would be to try `-Verbose` on `Connect-AzAcco

[2020-06-02 20:26] jwisener commented on #4761
@brettsam  and @fabiocav, We given up on this and have just wound up moving everything to azure app configuration.

[2020-06-02 21:01] brettsam opened #6143 "Assemblies loaded by the Default LoadContext do not properly evaluate function.deps.json"
It appears that when the host starts up and there's a Durable Functions retry that fires, something in the way Json.NET loads assemblies forces the assembly to load in the Default LoadContext, rather than in the Shared LoadContext. On this path, the function.deps.json file isn't consulted and native assemblies do not resolve correctly.

[2020-06-02 21:05] brettsam commented on #5950
@brendonatkins -- you're a hero! Your repro helped us figure out the issue here and I've split this out into a separate issue -- https://github.com/Azure/azure-functions-host/issues/6143. Follow along there for the fix and any possible workarounds (I'm looking into a workaround now).

[2020-06-02 21:14] yojagad opened #6145 "Ping endpoint for httpworker"
Following the throughput improvement here https://github.com/Azure/azure-functions-host/pull/5897 , out of proc language workers have an endpoint that is pinged and the response time is being used for scale decisions. Need to figure out if something like that is needed for httpworker and if yes, need to explore how to implement this.

cc: @pragnagopa @anthonychu

[2020-06-02 21:25] yojagad opened #6146 "Add perf test for helloworld but without EnableHttpRequestForward"
Current perf test has helloworld (http trigger) but with EnableHttpRequestForward enabled by default. Need to add one without this enabled.

[2020-06-02 21:48] #6143 closed, assigned to fabiocav

[2020-06-02 21:55] brettsam commented on #6143
@brendonatkins -- I was able to workaround the issue from your repro by removing `Microsoft.Data.SqlClient.dll` from my bin directory, which forced it to load the correct version at runtime. Give this a try in your csproj file and see if it gets things working for you until the fix is deployed:

[code]

[2020-06-03 08:03] Zenuka commented on #5970
Unfortunately the problem wasn't fixed by changing the key vault reference. I just got back from a couple of days off and the messages in the queue are still piling up. Yesterday morning the function app shutdown again but didn't start back up again with messages in the queue. We've filed a support ticket with Azure as well. (It's the same function app)
[code]

[2020-06-03 11:33] IanKemp commented on #6143
@brettsam @fabiocav I have a feeling this change will also fix the issue I'm having in #5950. Please can you get a beta build of `azure-functions-core-tools`, including this fix, out ASAP? I tried making a build myself but there is no documentation on how to do so and this issue has already taken up too much of my time.

[2020-06-03 11:39] IanKemp commented on #5950
The traces are identical in both scenarios.

[2020-06-03 13:43] IanKemp commented on #5950
In summary for anyone experiencing this issue with `System.Data.SqlClient` and trying to do local Azure Function V3 development with .NET Core 3.1 on Windows x64, a temporary workaround until MS gets around to issuing a proper fix:

1. Copy `<your-azure-function-project-dir>\bin\Debug\netcoreapp3.1\bin\runtimes\win\lib\netcoreapp2.1\System.Data.SqlClient.dll` to `%localappdata%\AzureFunctionsTools

[2020-06-03 15:31] pragnagopa opened #6148 "[CustomHandler]Add config option to customize process init time"
As of now, once the worker process is launched functions host waits for 30secs for the custom handler to be initialized and ready:

https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Http/DefaultHttpWorkerService.cs#L176

If CustomHandler does not respond within 30secs, process is restarted .

Exposing an config option to customize this timeout will allow users to in

[2020-06-03 17:07] kentonbmax commented on #6034
Hi is there any update on this? currently we are targeting EF Core 2.2, using Runtime.2.0 in our docker file and targeting 3.1 for our functions with Net.Functions v3.0.7. This is working but leading to other version issues down stream  with Linux compatibility. For example we found that a nuget library (netcore 3.1) that injects an IOptions<T> prevents the function from starting when we inject th

[2020-06-03 17:42] brettsam commented on #6143
@IanKemp -- I was able to use your repro solution and verified that this does fix the issue. I now get `Format of the initialization string does not conform to specification starting at index 0.` rather than `PlatformNotSupported`.

We typically don't publish anything new for Core Tools until the release is in production, otherwise you get a mismatch of what you run locally vs what is deployed. Th

[2020-06-03 18:42] IanKemp commented on #6143
I'd be happy to "beta test" the fix in my development environment. Not only would it give me some closure (I've been banging my head against this particular wall for the last day-and-a-half), it will also confirm that the fix does actually work for my particular scenario. (It will also reassure my boss that this isn't a show-stopper preventing us from using Azure Functions.)

That said, obviously

[2020-06-03 20:35] fabiocav commented on #6143
@IanKemp for an ETA (again, not committing to a date), I would expect to see this fix rolling to the hosted environment early/mid next week. Once the deployment starts, it takes about a week to complete.
If you subscribe to https://github.com/Azure/app-service-announcements/issues, you'll be notified when the release starts.

[2020-06-03 21:40] MikePennington commented on #3965
@safihamid Thank you very much for the info!

I have been testing cold-start times throughout the day. The following table shows response time, in seconds, for the function app deployed via the `az` command and the `func` command.

[code]

The good news is that they two apps do indeed behave similarly after the first warm-up event after deployment!

I also had a timer-triggered function in the sam

[2020-06-03 21:58] safihamid commented on #3965
@MikePennington it's still pretty high, should be around 1 sec and soon it should be even lower. make sure you don't have any extra logging enabled in your host.json file. also make sure you do have compiled and deployed with PublishReadyToRun set to true. feel free to email me your function app code at hamids at microsoft dot com and I will take a look.

[2020-06-03 22:21] petro2050 commented on #3965
@safihamid

Thanks. I will wait for the improvements then.

[2020-06-03 22:59] mhoeger commented on #6127
Thanks Byron!! Closing in favor of Azure/Azure-Functions#1614

[2020-06-03 22:59] #6127 closed, assigned to mhoeger

[2020-06-03 23:12] mhoeger commented on #6095
Thanks for your response Pragna :)

@FrankGagnon - If you're deploying to a Premium plan, one thing you might want to do is to increase the Node.js memory limit to be a better reflection of the memory available (details [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan#memory-utilization-considerations)). I would try this first. Breaking up your function app into

[2020-06-04 01:51] #5340 closed

[2020-06-04 02:00] RainWuGuy opened #6156 "Azure Function with nodejs container website can not update after VSTS deployed successfully"
I have an Azure function with node container image

The function is configured with source control with VSTS repo
1. deployed by VSTS pipeline with a specific branch
2. The kudu site code under the wwwroot/ is updated
3. But azure function portal function list can not be updated

[2020-06-04 02:45] rajrao opened #6157 "Functions WhiteList does not block ServiceBus based trigger functions"
When I have a "functions" section in the host.json file and it does not include service bus based trigger functions, those still are being attempted to be validated. In my case, I had not included one of my functions defined as:

[code]

The subscription was disabled and I had not included the function SbFunc in the whitelist in Functions in host.json. At startup, I get the following error:

[code

[2020-06-04 04:33] davidmrdavid commented on #6081
Since the PR was merged, I'll close this issue. Thanks folks :)

[2020-06-04 04:33] #6081 closed, assigned to pragnagopa

[2020-06-04 07:43] IanKemp commented on #6143
Thanks!

Will a new version of the Azure Functions Core Tools be available around the same time?

[2020-06-04 08:08] vitalybibikov commented on #3965
These are my cold starts for 1 of 4 applications:

Quite far from 1 second:

Deployed as Package.

![image](https://user-images.githubusercontent.com/7008739/83731646-8f022400-a653-11ea-9e4b-882d34d4a79e.png)

For instance, another one is about to be OK:

![image](https://user-images.githubusercontent.com/7008739/83732070-2f584880-a654-11ea-8408-59b838e5ce83.png)

Both, deployed in the same way, t

[2020-06-04 09:22] ankitkumarr commented on #5793
Fixed by https://github.com/Azure/azure-functions-host/commit/b76871072b4efd512f23a3ad9f14e667f2359a1c

[2020-06-04 09:22] #5793 closed, assigned to ankitkumarr

[2020-06-04 09:22] ankitkumarr commented on #3619
Fixed by https://github.com/Azure/azure-functions-host/commit/b76871072b4efd512f23a3ad9f14e667f2359a1c

[2020-06-04 09:22] #3619 closed

[2020-06-04 13:16] APIWT commented on #6143
@brettsam @fabiocav Thank you so much for the suggested work around and open communication about the fix being deployed to production. Quick question: If I apply the work around suggested in my .csproj (or a Directory.Build.targets, or similar), will I have any issues _once_ the fix is deployed to Azure? In other words, will I have to quickly deploy a new version that removes the work around? Or w

[2020-06-04 16:25] a-vishar opened #6158 "Host.Bindings is very slow"
#### Investigative information

Please provide the following:

- Timestamp: 2020-06-04T14:03:34.9962218Z
- Function App version: Latest
- Invocation ID: 8aa3d61f-45a2-4701-a8c3-820aca2e95ea
- Region: West Europe

#### Repro steps

1) Have a function run a regular timer trigger
2) Call the function via some other HTTP trigger when the function is "warmed" by the timer trigger

#### Expected behavio

[2020-06-04 16:29] milesfrain opened #6159 "Access-Control-Allow-Origin missing with wildcard `--cors *`"
Follow-up to #4644 (I'd post there if it wasn't locked)

Launching with wildcard `--cors` won't work for some mysterious reason.
[code]
Both Firefox and Chrome complain about a missing Access-Control-Allow-Origin header. I'm not sure if this is an issue with Azure functions host or if this is a browser "feature".

To get this working correctly, an explicit URL (with port!) must be specified:
[code

[2020-06-04 16:29] #6159 closed, assigned to yojagad

[2020-06-04 16:40] pragnagopa opened #6160 "[LinuxConsumption] Add config option to list file names that need exe permissions"
cc @anthonychu
Related to https://github.com/Azure/azure-functions-host/issues/5696

On linux consumption plan, extracting the files removes executable file permissions. This blocks launching binaries from function app. Fix for #5696 added executable permissions for http worker defaultExe file.

This issue is to track exposing a config option that allows users to list the files that need executabl

[2020-06-04 16:52] safihamid commented on #3965
@vitalybibikov so you are saying 1 out of your 4 applications has a random long cold start and the rest are well below 500 msec? Do you have any external calls in your apps that might increase your cold start? Feel free to share with me the names of your apps and I can take a look.

[2020-06-04 17:21] #5959 closed, assigned to nobody

[2020-06-04 19:37] MikePennington commented on #3965
@safihamid To make sure I'm not doing anything wrong, I went into Visual Studio code and created and deployed a new http-triggered function using the Azure Functions (azuretools.vscode-azurefunctions) VS Code addon. I would assume this would give me the _best case_ scenario for cold starts since its all sample code from Microsoft. Using this auto-generated _hello world_ function, I get the followi

[2020-06-04 19:58] pragnagopa commented on #6125
cc @divyagandhii

[2020-06-04 20:16] safihamid commented on #3965
@MikePennington yes 1.4 sec is about right and soon it will be even much lower and in the sub-second range. the 2.2 sec is most likely the azure files latency and will go away soon as well. if your project has more complex code, you will need to publish with PublishReadyToRun enabled or else you will pay the JIT cost during cold start.

[2020-06-04 20:45] glennamanns commented on #6095
For Premium Functions, apps in the same App Service Plan scale independently from one another based on the needs of that app.

However, we do our best to let Function apps in the same App Service Plan share VM resources, if possible, to reduce cost for customers. The number of apps we can pack onto each VM depends on the footprint of each app and the size of the VM.

[2020-06-04 21:42] ankitkumarr opened #6164 "Logs do not always show up when running via portal"
Using the new Portal function create experience, if I try to create a "BlobTrigger" function (Windows Consumption is what I tried), and then hit "Run" in portal, it doesn't always show the live logs from the execution.
It only shows few logs transiently.

cc: @brettsam, @fabiocav

[2020-06-04 22:01] yashrmaa opened #6165 "Remote host forcibly closing connection causing function timeout"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

Host forcibly closing connection causing function timeout

#### Investigative

[2020-06-04 22:02] cmckeegan opened #6166 "ServiceBusTrigger - Unable to manually Deadletter and indicate that the Function Invocation has failed"
Using the c# SDK V3

There are certain types of exceptions that may occur that negate the need for the message to be delivered x times. In these cases I want to DeadLetter the message immediately.

 Setting autoComplete to false enables this, but it has the side effect of marking the function invocation as successful which it isn't. For monitoring purposes I'd still want to know that the function

[2020-06-04 23:32] #6083 closed, assigned to yojagad

[2020-06-05 00:37] #6125 closed, assigned to pragnagopa

[2020-06-05 01:22] mhoeger commented on #6095
Thanks Glenna!

@FrankGagnon - is this enough information to close out this issue?

Also cc @craigshoemaker and @ggailey777 in case this information (mainly [here](https://github.com/Azure/azure-functions-host/issues/6095#issuecomment-634850593) and [here](https://github.com/Azure/azure-functions-host/issues/6095#issuecomment-639106851)) is helpful for any of the docs?

[2020-06-05 01:38] wcom939 commented on #5695
Hello

Just started seeing this error in the last week, also on consumption plan:
![image](https://user-images.githubusercontent.com/16446451/83827189-b4bb1780-a6ab-11ea-93d8-87ce83febaf5.png)

![image](https://user-images.githubusercontent.com/16446451/83827217-c3a1ca00-a6ab-11ea-923a-5e23571ea3ed.png)

Thanks,
Dan

[2020-06-05 04:11] gzuber commented on #6158
@a-vishar I see that you repro'd this in West Europe, would you be able to provide the App name? It would help us with looking into this in our logs, thanks!

[2020-06-05 06:38] mwiedemeyer commented on #5735
Any idea when this fix will be deployed to production?

[2020-06-05 08:17] a-vishar commented on #6158
@gzuber - I have emailed you the name.

I should add that the instructions stated that you didn't need the name, but only the InvocationId and region.  If this is not the case, I would suggest that you alter the default text which appears when someone opens a new issue.

[2020-06-05 09:46] shakirshakeelzargar commented on #6022
I am facing this issue in recently in the App Service Plan.
Message	Exception while executing function: Functions.etlQueProcessor Number of initialized language workers exceeded:7 exceeded maxProcessCount: 1
Exception type	System.InvalidOperationException
Failed method	Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcFunctionInvocationDispatcher+<GetInitializedWorkerChannelsAsync>d__52.MoveNext

The

[2020-06-05 10:02] rghkrish opened #6169 "Azure Function Blob trigger fails to trigger after being idle"
#### Is your question related to a specific version? If so, please specify:
Azure Functions Runtime version 3.x
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question

I have an Azure function that gets triggered off a blob storage container. Whenever a new file comes into the container, the function gets triggered, calls out to keyvault and cosmosdb, doe

[2020-06-05 14:51] pragnagopa commented on #6022
@shakirshakeelzargar - Can you please create a separate issue  with details:
- Invocation Id
- Approx time range when you saw the exception
- Region where function app is running.

[2020-06-05 15:11] pragnagopa opened #6172 "[CustomHandler] Investigate process startup"
cc @yojagad @anthonychu @jdubois

On linux consumption, following custom handler is taking up to ~8secs to start vs 100ms locally
https://github.com/jdubois/azure-native-spring-function

Need to investigate why such a huge difference in process startup times.

[2020-06-05 15:34] FrankGagnon commented on #6095
@glennamanns  Does the total size of the function files in a Function App have a great impact on the time it takes to provision a new copy of the App on the same VM? Or on another VM? In other words is the suggestion of @balag0 to use a max of 5 functions per App also valid for the Premium  Functions?

@mhoeger Yes I think we can close the issue.

Thank you all very much, your feedback is super us

[2020-06-05 20:43] seannybgoode commented on #5120
@TimPosey2 - You're a lifesaver, worked like a charm.

[2020-06-05 22:02] ghost commented on #5810
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-06-05 22:26] pragnagopa opened #6178 "Update Custom Handlers samples and docs"
cc @craigshoemaker @anthonychu

Tracking issue to update docs and samples : https://github.com/Azure-Samples/functions-custom-handlers after #6080 is deployed to prod.

[2020-06-05 22:40] pragnagopa opened #6179 "Remove Java specific environment variables look up from Rpc Worker Config parsing"
cc @yojagad

Following code specifically looks up environment variables for Java worker:

https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Rpc/Configuration/RpcWorkerConfigFactory.cs#L216

https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Rpc/Configuration/RpcWorkerConfigFactory.cs#L232

PR #6064 added ability to expand environment v

[2020-06-05 22:54] pragnagopa opened #6180 "Improvements to placeholder pools"
Tracking item for changes in needed in ANT89

- Add implementation for prediction algorithm
- Follow up on action items created from analysis by @gzuber

[2020-06-05 22:57] pragnagopa commented on #6180
cc @ranovoa

[2020-06-06 00:38] anthonychu commented on #6178
Thanks. Was just talking to @craigshoemaker about this today. What's a rough ETA?

Since the changes are backwards compatible, we don't have to land the docs exactly on that date. But would be great to get them ready soon after they are available.

[2020-06-06 08:29] jrauschenbusch opened #6181 "WebFunctionsManager#CreateOrUpdate does not set Files property in response"
# Investigative information

Missing content of property `Files` in return value when calling `WebFunctionsManager#CreateOrUpdate`.

Following class contains a field named `Files`, which is not filled by the following call chain:
https://github.com/Azure/azure-functions-host/blob/4556a24d806403e9dc034ce79dcfce7b480cf6dc/src/WebJobs.Script.WebHost/Models/FunctionMetadataResponse.cs#L69

Call chain:

[2020-06-06 20:59] everix1992 commented on #6246
Just to chime in on what worked for me. I was getting the same issue after upgrading my functions project to .NET Core 3.1 / the latest functions runtime and was able to solve it for now by adding this line to my functions csproj file right below my `AzureFunctionsVersion` tag :

`<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>`

Found this solution in the issue linked by @FluentChange

[2020-06-07 18:52] vitalybibikov commented on #5098
As my solution is heavily using DDD, it was not possible for me to ignore absence of this core functionality.

I am using Bindings a lot, so moving to App Service is also not an option at the moment.
For anybody who is planning to use AF in prod, I'm strongly advising not to do so, as they are definitely not in Production Ready state for anything except for "web hooks".

The solution for now is:

[2020-06-08 05:30] Zenuka commented on #5970
After talking to Azure support, I found out that the scaling controller cannot use Managed Identity like I used in the connection string for the trigger. Switching back to a connection string with an access key in it, fixed it for me.

[2020-06-08 07:40] jdubois commented on #6172
Thanks for creating the issue @pragnagopa !
This is a native build on Linux, I will do the same one for Windows in the next days, as I believe it will be easier for you to investigate.

[2020-06-08 07:52] thomaslevesque opened #6183 "[ServiceBusTrigger] AutoComplete on a case-by-case basis?"
#### Is your question related to a specific version? If so, please specify:
Microsoft.NET.Sdk.Functions 3.0.7
Microsoft.Azure.WebJobs.Extensions.ServiceBus 4.1.1

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
Is it possible to have `AutoComplete` enabled, but still take manual control over it in some functions?

In general, I'm fine with having

[2020-06-08 09:54] dastewa-zz commented on #6068
@brettsam - thanks! If it wasn't for this issue I might not have figured out what was causing this error. Agree that the message could be improved.

[2020-06-08 09:58] antonGritsenko commented on #5915
@ConnorMcMahon ok, I was able to manage this for client app. Is there any possibility that it will be fixed for Azure Functions http trigger when accessed from the browser?

[2020-06-08 11:58] jdubois opened #6184 "[Custom Handler] Live metrics memory is wrong"
This is linked to #6172

Using the same https://github.com/jdubois/azure-native-spring-function example, the memory usage on my machine is 32 Mb (which is expected).

- When using the "~2" version of the Functions runtime, memory usage is shown as "0 mb", which is obviously wrong.
- When using the "~3" version of the Functions runtime, memory usage is shown as "700 mb". This seems way too much, so

[2020-06-08 14:40] shayannyc25 commented on #4263
i am getting same kind of error in the App Insights dashboard of  my azure java function. the log level of my azure function host is Information.  Error i get in the App Insights is:

AI: Local storage access has resulted in an error (User: app) (CustomFolder: ). If you want Application Insights SDK to store telemetry locally on disk in case of transient network issues please give the process acce

[2020-06-08 17:27] mhoeger commented on #6105
Hotfix for deployment for Sprint 75 overlapped into our deployment timeline. Closing as Sprint 77's release needs to start Wednesday

[2020-06-08 17:27] #6105 closed, assigned to mhoeger

[2020-06-08 18:09] JonCanning opened #6186 "Storage queue binding fails with latest Microsoft.Azure.WebJobs.Extensions.Storage"
`Tried binding to 'Microsoft.Azure.Storage.Queue.CloudQueue, Microsoft.Azure.Storage.Queue, Version=11.1.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' but user type assembly was 'Microsoft.WindowsAzure.Storage.Queue.CloudQueue, Microsoft.WindowsAzure.Storage, Version=9.3.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35`

I can get it to work by pinning to version 3.0.1.1

[2020-06-08 19:47] CasperWSchmidt commented on #3370
@alrod I'm trying to get this to work in V3. Brand new project with Azure Functions V3, host version 3.0.13353.0 (as reported when I start debugging the project).

I have a simple POCO:
[code]
(setting a temp object in constructor since I'm also testing C# 8 nullable reference types)

Using the following JSON:
[code]
I have also tried wrapping the array:
[code]

I can't get my Function to work:
[c

[2020-06-08 20:13] fabiocav commented on #4609
@brettsam we still have this flagged as a supportability issue, should we bring it into the next sprint?

[2020-06-08 20:26] ConnorMcMahon commented on #5915
@antonGritsenko

There are definitely improvements we are looking into making to improve authentication scenarios with Azure Functions HTTP trigger scenarios.

That being said, our priority for these improvements will mainly be on the API scenarios, rather than browser scenarios. In general, HTTP triggers don't play as nicely as web apps in a browser because you don't really control any JavaScript

[2020-06-08 20:31] brettsam commented on #4609
@kashimiz actually fixed this a long time ago -- https://github.com/Azure/azure-functions-host/issues/4615

[2020-06-08 20:31] #4609 closed

[2020-06-08 20:32] brettsam commented on #4609
Whoops -- that was the issue it closed. The PR is https://github.com/Azure/azure-functions-host/pull/4756.

[2020-06-08 21:02] ankitkumarr commented on #5887
Deployment pipeline is created, and is being used for the current release. Further documentation isn't required at the moment. Nice work! :self-pat:

[2020-06-08 21:02] #5887 closed, assigned to ankitkumarr

[2020-06-08 22:59] nothingto opened #6188 "RenewBlobLease - Is it normal for this to be constantly triggered on storage account? (Costs)"
#### Is your question related to a specific version? If so, please specify: No

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
I am currently looking at Insights on the storage account, and it seems like there is a constant stream of 5 RenewLeaseBlobs transactions that are happening every single minute that is neverending. Over the course of 5 min

[2020-06-08 23:35] #5547 closed

[2020-06-08 23:35] #5615 closed

[2020-06-08 23:35] #5692 closed

[2020-06-08 23:35] #5882 closed, assigned to pragnagopa

[2020-06-08 23:35] #5921 closed, assigned to pragnagopa

[2020-06-08 23:35] #6080 closed, assigned to pragnagopa

[2020-06-08 23:36] pragnagopa commented on #6178
Changes will be part of the next functions release. Approximate ETA ~3 weeks from now.

[2020-06-09 01:00] #5810 closed, assigned to gzuber

[2020-06-09 09:36] pradeep-rp opened #6189 "Detected host offline in function app"
Off late, my function apps are going down for few minutes. When I look at the Diagnostics blade, I see the following error.

[code]

I had more than two instances of this with couple of function apps in the last few days. There are no other supporting logs and looking at the Service Health page, everything looks normal.

Could you please review and let me know if you need more details?

[2020-06-09 13:03] ewzluoc opened #6190 "Strange Behaviour - Azure Functions / Bindings (Javascript)"
#### Investigative information

Please provide the following:

- Timestamp: 2020-05-28T09:58:02.092997798Z
- Function App version: 3.0.13113 (~3)
- Function App name: ----
- Function name(s) (as appropriate): ---
- Invocation ID: c15519ef-9e9b-4736-860d-efcac0149ae7
- Region: West Europe

I have two functions that seem to interfere with each other. More accurate, the Bindings of the two function i

[2020-06-09 13:21] APIWT commented on #6143
@brettsam @fabiocav Sorry to be a pest, but just a bump on the comment above. We are planning on shipping a new durable function to production very soon and I want to be able to have confidence that this workaround should be safe to use beyond the short term.

[2020-06-09 14:06] brettsam commented on #6143
Sorry I missed your comment! You will be fine with the workaround when the fix rolls out -- the same native assembly will be loaded.

[2020-06-09 15:17] mpriem opened #6191 "Unable to create and run v3 PS function locally"
Hi,

I'm trying to create a 3.1 function using the PowerShell runtime. I have PS core 7, .NET Core 3.1.4 SDK, and Function tools v3 installed, but keep running into the following error when running locally.
(It doesn;t matter if I create the function directly through CLI or using the VSCode extension (vscode defaults to v3 for functions))

`[09/06/2020 15:12:03] C:\Program Files\dotnet\dotnet.exe

[2020-06-09 15:43] brettsam commented on #4761
An update here -- the groundwork is all in (https://github.com/Azure/azure-webjobs-sdk/pull/2407, https://github.com/Azure/azure-webjobs-sdk/pull/2490, https://github.com/Azure/azure-functions-host/pull/5991) and will be released as part of our next release (which will be starting later this week, and likely take a week to roll out).

A bit of a change to the plan -- we cannot just start reading `

[2020-06-09 15:43] #4761 closed

[2020-06-09 15:48] brettsam commented on #5843
We eventually decided to instead, unify on the Host's version of ApplicationInsights, which means that registering an `ITelemetryInitializer`, etc, in a newer version now does not matter. If we have a need for this again, we can re-enable, but this should get rid of a bunch of these scenarios where a customer moved ahead of what we support.

The PR that changed this: https://github.com/Azure/azure

[2020-06-09 15:48] #5843 closed

[2020-06-09 15:57] yashrmaa opened #6192 "Function app throwing System.OperationCanceledException"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 20

[2020-06-09 17:59] tucane opened #6194 "Azure Functions Execution Count Metrics"
I am writing a function(V2) that calls a REST API endpoint(queue trigger not httptrigger). This endpoint has a threshold that will throttle you if you're calling too many times / min. I would like to keep the peak function execution count below a certain threshold.

There are a few config values that I have set that controls concurrency. However, it does not seem like it's behaving the way that I

[2020-06-09 19:01] briandunnington commented on #5851
@ankitkumarr @fabiocav We are seeing this issue as well. We are an internal MS team so if you would like us to share more details directly with you, just let me know.

[2020-06-09 19:09] Boaz101 commented on #5098
I am also experiencing issues with an Azure function which uses scoped services combined with AddHttpClient. If I comment the AddHttpClient from startup it works correctly. I am moving the HttpClient out of dependency injection, however that has potential pitfalls, too. Hopefully, this is fixed soon because this is causing us a lot of headaches.

[2020-06-09 20:06] APIWT opened #6195 "Question about CancellationToken's"
#### Is your question related to a specific version? If so, please specify:

N/A

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#

#### Question

My question is about the `CancellationToken` passed into C# functions: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#cancellation-tokens

We have observed that occasionally when

[2020-06-09 20:44] securityvoid opened #6196 ""CORSCredentials": true in local.settings.json not working for local development"
Adding the CORSCredentials setting to true in local.settings.json; does not appear to result in Access-Control-Allow-Credentials: true, header being added to the HTTP Response even when a valid Origin is passed, and the proper Access-Control-Allow-Origin is returned.

The following is what I have in my local.settings.json:
[code]
I'm running version 2.0.3 of the runtime, and utilizing NodeJS.

Thi

[2020-06-09 20:48] securityvoid commented on #6196
I'm hoping this isn't the same thing as #4644. I've checked things pretty closely. However, @lonpalmer did not mention a resolution.

[2020-06-09 21:53] securityvoid commented on #6196
I've confirmed this works as expected on my deployed application when the settings are configured in the CORS section of the portal. This is limited to local dev and using the local.settings.json to set these values.

[2020-06-10 01:18] yojagad opened #6198 "[Regression]Fix proxy behavior"
Today, ScriptHost.cs iterates through the list of descriptorProviders to try and create the right one for each FunctionMetadata.
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Host/ScriptHost.cs#L694

If a function exists with a proxy, as long as the ProxyFunctionDescriptorProvider is evaluated first, invocations for proxy go through the correct invoker. However, if Work

[2020-06-10 01:24] gzuber opened #6200 "Placeholder Optimization Investigation"
This issue is meant to represent the ongoing placeholder investigation work @pragnagopa and I have been doing.

So far we've looked into...
- How to improve cold start numbers in lower performing regions/runtimes
- The discrepancy between reported Cache Hits/Misses and Placeholder Hits/Misses and possible causes
- Logs of Placeholder Hits when no Cache Hit is reported and similarly with misses to

[2020-06-10 02:24] chuanqisun commented on #4486
Is there any work-around for this? Would switching runtime work?

I experienced the same issue while trying to proxy against a Vercel (prev. Zeit) serverless function. In the screenshot, left is original response. Right is proxied response.
![image](https://user-images.githubusercontent.com/1895289/84219969-9330a600-aa86-11ea-83b8-57204aa7c7f7.png)

[2020-06-10 03:54] #6198 closed, assigned to yojagad

[2020-06-10 08:38] qfyra commented on #6060
FYI: Log streaming and invocation traces have also stopped working across the board.

[2020-06-10 10:45] rodrigo-gutierrez commented on #4959
Having same issue. Located in **Japan**.
Attempts to hit
https://functionscdn.azureedge.net/public/ExtensionBundles/Microsoft.Azure.Functions.ExtensionBundle/1.1.1/Microsoft.Azure.Functions.ExtensionBundle.1.1.1.zip
time out after like 10 seconds and app just crashes:
[code]

[2020-06-10 11:21] IanKemp commented on #6143
Any update on new version of the Core Tools?

[2020-06-10 13:02] IanKemp commented on #6143
@brettsam The workaround you supplied isn't going to do anything since the `Delete` task's `Files` parameter requires an array of files to be passed to it, not a glob. (Yay MSBuild being old and crusty!) The following is tested to work for anyone using either version of the SqlClient assemblies:

[code]

However, this doesn't fix the `System.Data.SqlClient` issue on Azure, as I now get the `FileNo

[2020-06-10 14:03] yashrmaa opened #6202 "Host starting function execution after shut down"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 20

[2020-06-10 15:31] vaibhavramdasi commented on #5206
I'm getting following error in portal. But I don't see anything in either appinsights or LogFiles. It works locally just fine.

Error:

The function runtime is unable to start. Microsoft.EntityFrameworkCore: Could not load file or assembly 'System.Interactive.Async, Version=3.2.0.0, Culture=neutral, PublicKeyToken=94bc3704cddfc263'. The system cannot find the file specified.
Session Id: 8d1c41a741

[2020-06-10 15:38] yougoh opened #6203 "Entity Framework Core 2.0 compatibility broken in latest functions 3 runtime (Could not load file or assembly 'System.Interactive.Async)"
Hello,

We recently had an issue where one of our azure functions suddenly started to throw constant exceptions after we had restarted the function app. This azure function was targeting function runtime 3 via ~3. We later realized that targeting the function runtime this way would cause the latest released 3.x version of the runtime to be installed whenever the function app restarts.

This is the

[2020-06-10 15:52] brettsam commented on #5206
@vaibhavramdasi -- I'm investigating this right now. Can you share your csproj file?

For mitigation -- assuming you're on v3 -- set FUNCTIONS_EXTENSION_VERSION to 3.0.13353.0 in your app settings. This will force you to take the previous version.

[2020-06-10 16:13] vaibhavramdasi commented on #5206
Thanks @brettsam . This is my csproj file. I have removed some of the project references. Most of those have EFCore 2.2.6 as package refs. I'm deploying to x64 bit FuncApp on S1 tier ASP with VNet integration enabled.
[code]

[2020-06-10 16:36] brettsam commented on #5206
Thanks! We know the issue and it's indeed a bug. If you want to run on the latest version, you can add `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` to your project file and re-deploy, then set your FUNCTIONS_EXTENSION_VERSION back to ~3. That will include the file you need and things should run as before.

We're investigating a hotfix for this now.

[2020-06-10 16:47] vaibhavramdasi commented on #5206
After reverting to prior version now getting this :
Host instance '53281fd3c43bc30f5c8e82250a9485df' failed to acquire host lock lease: Microsoft.WindowsAzure.Storage: An attempt was made to access a socket in a way forbidden by its access permissions. System.Net.Http: An attempt was made to access a socket in a way forbidden by its access permissions. System.Private.CoreLib: An attempt was made t

[2020-06-10 17:52] fabiocav commented on #6198
Curious, why was this added to sprint 77? Do we have an incident? How was this detected?

[2020-06-10 18:07] brettsam commented on #6203
Thank you @yougoh -- we understand the issue -- this was not an expected breaking change. There are two ways to fix this while we work on a hotfix:
1. set `FUNCTIONS_EXTENSION_VERSION` to `3.0.13353` to pin yourself back to the previous version.
2. add `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` to your project file and re-deploy. This will include the assembly that is missing in

[2020-06-10 18:12] brettsam opened #6205 "Exception thrown if referencing Storage v10 on latest Functions host"
The exception is:
[code]
or
[code]

Workaround:
1. Update your application to target Storage 11.1.7.
2. Set `FUNCTIONS_EXTENSION_VERSION` to either `2.0.13351.0` or `3.0.13353.0`, depending on which version of Functions you are running.

[2020-06-10 18:31] yojagad commented on #6198
Adding a little more context here as discussed in the call. I verified that the order of evaluation before the commit here 621df2c with a function that has a proxy as well, is the ProxyFunctionDescriptorProvider followed by WorkerFunctionDescriptorProvider. With the afore mentioned commit , WorkerFunctionDescriptorProvider was getting evaluated first thus routing proxies to the wrong route.

I add

[2020-06-10 18:34] pragnagopa commented on #6198
Adding more context:

Before this fix, if host.json had `httpWorker` sections with the following proxies:
[code]

it would result in creating HttpWorkerDescriptor for proxies. Which is not expected behavior.

[2020-06-10 18:55] weskroesbergen commented on #5851
Seeing this behavior as well. :(

[2020-06-10 19:08] yougoh commented on #6203
Hello @brettsam,

You are correct also upgrading to EF Core 3.0 resolves this issue. The only problem we have with that is there are some queries in this function app that break in EF Core 3.0 that need to be refactored. Unfortunately we have not had the time to address that tech debt yet.

Also I wanted to note for work around option 1 we also have to add:

```<DisableFunctionExtensionVersionUpda

[2020-06-10 19:36] FinVamp1 commented on #6096
It looks like this can affect v2 apps as well in the same manner. The timeout is only logged when the log level is set.

[2020-06-10 19:47] drdamour commented on #4761
@brettsam  is this something we can by default turn on in the next functions runtime major ver?

[2020-06-10 19:59] ankitkumarr opened #6209 "[Kudu] tracking item - Forward synctriggers request from kudu to functions runtime"
Kudu has synctriggers logic that is out of date. We need to update that to forward requests to the Runtime. Here's the work item -- https://github.com/projectkudu/kudu/issues/3113

[2020-06-10 20:07] fabiocav commented on #6106
Closing. Will track in the sprint 77 release item.

[2020-06-10 20:07] #6106 closed, assigned to soninaren

[2020-06-10 20:08] fabiocav commented on #6071
Is this still open? It's currently assigned to sprint 77. Should it be moved to 78?

[2020-06-10 20:18] fabiocav commented on #5943
Closing.

[2020-06-10 20:18] #5943 closed, assigned to soninaren

[2020-06-10 20:18] #5942 closed, assigned to ankitkumarr

[2020-06-10 20:30] fabiocav commented on #5672
Closing this as @soninaren will be opening more granular items to track the work.

[2020-06-10 20:36] brettsam commented on #6203
Here's our RCA for future reference
-	We updated our references to Grpc.Core here: https://github.com/Azure/azure-functions-host/pull/5802
-	The new version of Grpc.Core removed a dependency on System.Interactive.Async.
-	Our newer versions of ExtensionsMetadataGenerator clean the output by removing files that are already a part of the Functions site extension.
-	Well, this file is no longer a par

[2020-06-10 21:12] #6203 closed, assigned to brettsam

[2020-06-10 21:12] #6205 closed, assigned to brettsam

[2020-06-10 21:16] Francisco-Gamino commented on #6071
Yes, it is still open. Moving it to 78,

[2020-06-10 23:30] pragnagopa opened #6213 "Define opt-out options"
Tracking item to figure out opt-out options. Need to ensure strategy works on windows and linux

[2020-06-11 02:11] dariagrigoriu opened #6215 "Log Analytics user logs for Linux Dedicated / Premium"
Design exploration needed.

[2020-06-11 03:53] vaibhavramdasi commented on #5206
This is resolved now. There was appsettings.json containing ConnectionStrings:AzureWebJobsStorage pointing to local. It seems that ConnectionStrings:AzureWebJobsStorage has higher precedence than only AzureWebJobsStorage

https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#local-address-requests

[2020-06-11 08:12] jrauschenbusch commented on #6181
@pragnagopa Any updates here? Is this an error or is it intended that the Files property is not included in the response?

[2020-06-11 12:45] imaad-ahmed opened #6216 "Intermittent 502 Bad gateway errors when initially posting requests (Azure Runtime v3)"
I have a .netcore 3.1 Azure Function on azure functions runtime version 3.0.13760.0 using a consumption plan. Occasionally when first posting a request I receive a 502 bad gateway response, this happens roughly one in every 2000 requests and when resubmitting the request succeeds. I have gone about the usual troubleshooting methods of checking application insights data around the time the request

[2020-06-11 21:21] ravibha opened #6219 "Seeing HttpStatusCodeResult messages every 5 minutes in Application Insights"
Hi,
I am using timer triggered and service bus triggered Azure functions v2.0 code in C#.

Every 5 mins or so, I see a trace log with the following message:
"Executing HttpStatusCodeResult, setting HTTP status code 200". There are some more system messages that I want to block. This results in a lot of noise. Is there a way to prevent it?
In my startup.cs, I have services.AddLogging(); Not sure if

[2020-06-12 01:50] HyeonGook commented on #4959
Also having same issue in South Korea.

`func new` and `func start` don't work during downloading extensions.

[2020-06-12 02:19] balag0 opened #6220 "[Linux consumption] Re-Initialize token service on failures"
It is possible for the token service container to crash. Monitor and reinitialize token service as required.

Alternative is to just replace the unhealthy container as a whole with a new container.

[2020-06-12 06:42] monkeyclass opened #6221 "Linux Python Azure Function fails to communicate with host during startup (on port 80) when vnet integration is enabled"
We have experienced that since (at least) Monday June 8 that function apps no longer work when enabling vnet integration. The issue arises after a deployment of code changes. The function app uses private endpoints for accessing a storage account. environment variables WEBSITE_DNS_SERVER is set to 168.63.129.16 and WEBSITE_VNET_ROUTE_ALL to 1.

Even if the private endpoints are removed, and the st

[2020-06-12 06:43] monkeyclass commented on #6221
And if I was not clear enough initially. The code works locally, and when vnet integration is disabled without issues.

[2020-06-12 09:40] pradeep-rp commented on #6189
Any updates on this?

[2020-06-12 10:11] perkops opened #6222 "Runtime version status - Azure function not working"
#### Investigative information

I have a function app, that was previously deployed to a subscription/resource-group and its been working fine.

However upon moving this function app to production, I am deploying it to a new subscription and a new resource group - but its the same code being deployed via CI/CD pipeline and AZ CLI scripts.

After deployment, I am getting the following error in the

[2020-06-12 11:20] #5800 closed, assigned to madelinegordon

[2020-06-12 12:07] a-vishar commented on #6158
@gzuber - Any update on this?

[2020-06-12 14:05] AGuyCalledGerald opened #6225 "Azure Function v3 does not execute with System.Data.SqlClient"
I have a Azure v3 Function that contains a reference to System.Data.SqlClient dll and works fine on my local machine. After deploying to Azure, the function does not execute (but shows no error message). I found out that it must have to do with the reference, because after removing it the function executes without problems.

I tried to downgrade to System.Data.SqlClient v 4.5.1 due to some hints i

[2020-06-12 14:20] phatcher commented on #4577
@brettsam I need to register [named configuration options](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-3.1#named) to pass to HttpClient configurations, and I don't see away around to do this currently without building my own IConfiguration

[code]
The problem is that the Configure overload does not take the service provider, so I'm stuck until th

[2020-06-12 15:13] #6225 closed, assigned to brettsam

[2020-06-13 11:32] nrkirby opened #6226 "Environment variable always null"
Hi,

I am trying to configure EF Core in my Azure Functions v3 project. To wire up the context I created an object implementing `IDesignTimeDbContextFactory`

[code]

I have `SqlConnectionString` defined in `local.settings.json` like this:

[code]

I have spent hours looking at this and cannot figure out why.  I have tried changing the `local.settings.json` `Copy To Output Directory` to `Copy alwa

[2020-06-14 04:31] karpikpl commented on #5540
Hey,
is that issue is still open?
I'm running into this when running function locally.
[code]
.Net Core 3.1, functions V~3
Microsoft.NET.Sdk.Functions 3.0.7

[code]

[2020-06-14 19:42] ishepherd commented on #4056
Fixed a long time ago.

[2020-06-14 19:42] #4056 closed

[2020-06-14 19:58] mrpassiontea commented on #4959
I haven't replied back to this thread for awhile now, but I was able to get it working after fiddling around with it.

What I noticed is that this is a common issue that occurs randomly. For instance, I originally commented on March 1 and after a few days was able to fix it. Fast-forward to yesterday and I received the same error.

The way I fixed yesterday's error was by removing the extension bu

[2020-06-15 12:54] cldmstr opened #6227 "Non-determenistic Extension loading with Custom Handler and Eventhub Output Binding"
Since last week I've been having some strange behavior when deploying a function with an eventhub output binding.
Every time the function job is started on the host there is an about 50/50 chance that the the function can not be loaded with the following error:
[code]

#### Investigative information

- Function App version: 2
- Function App name: -
- Region: West Europe
- Function name(s) (as appr

[2020-06-15 13:24] vitalybibikov commented on #3965
@safihamid
The one that is most affected is "loyaltyprogram-dev" function app

I can see 30 seconds cold starts from time to time. As I"ve mentioned before.

[2020-06-15 14:35] peter-bozovic commented on #6060
Just wanted to bump in saying I have the same issue.
Old portal I was able to see live log when executing my functions.
New portal just says "Connected!" and nothing more.
Hard to identify issues quickly and see what is happening in real time ...

My Startup Configure is slightly more complicated because of the use of DependencyFilter
[code]

I know that Applications Insights is collecting data be

[2020-06-15 14:39] qfyra commented on #6060
Yeah, I've got the exakt same issue. In fact, I've posted more details on StackOverflow about my issues, feel free to chime in there as well. https://stackoverflow.com/q/62300877/971284

[2020-06-15 16:18] ThiagoDaher commented on #6222
Same issue with my Azure Function.
Any workaround?

[2020-06-15 17:22] pragnagopa commented on #6227
cc @yojagad
@jackharbinger - Can you please share `host.json`?

[2020-06-15 17:45] cldmstr commented on #6227
Updated main issue with my host.json. This is the same configuration that I have used since the beginning based on the examples and it worked fine until I started redeploying some updates last week: https://github.com/Azure-Samples/functions-custom-handlers

I also tried using "customHandler" instead of "httpWorker" as I found in this issue, but that didn't work at all as it couldn't find the exec

[2020-06-15 17:49] pragnagopa commented on #6227
thanks. We will investigate. Please continue using `httpWorker` for now. Changes that support `customHandler` section are not rolled out to production yet.

[2020-06-15 19:00] yojagad commented on #6227
@jackharbinger Can you try to downgrade extensionBundle by updating host.json as below and let us know if you still face the same issue?

[code]

[2020-06-15 21:54] Hazhzeng commented on #4384
Hi @fabiocav,

This also causes https://github.com/Azure/azure-functions-python-worker/issues/607

@mhoeger and I investigated the same issue happens in Python worker VSCode.
When a user hit F5, the `$func-watch` problem watcher attempts to find `Host lock lease acquired by instance ID`, as it acts like the green light for debugger to attach. [(code here)](https://github.com/microsoft/vscode-azure

[2020-06-15 21:57] pragnagopa commented on #4384
Assigned this to current sprint. Will send a PR soon.

[2020-06-15 22:16] JoelGallagher commented on #6222
Same issue - please advise!

[2020-06-15 22:52] AbodeSaafan opened #6393 "System.Data.SqlClient is not supported on this platform"
In a functions extension (LAV2 extension), using the SqlClient library causes an error to be thrown: "System.Data.SqlClient is not supported on this platform".

The repro for this bug is available with @soninaren .

Workaround found: Placing the extension bundle bin folder in the root of the LA project seems to fix the problem.

[2020-06-16 03:55] mhoeger commented on #5672
Related to https://github.com/Azure/azure-functions-host/issues/5046, I think. @soninaren - I'm going to reopen it for now. Related to another IcM: https://icm.ad.msft.net/imp/v3/incidents/details/190888754/

[2020-06-16 06:37] dzejsien commented on #3751
I have the same issue as above, and I don't see exact reason. Any ideas? Before this ex I had many successful calls to function, and then every call ends with ex.

**Message**
Exception while executing function: ProcessNextStep Exception binding parameter 'req' The client has disconnected An operation was attempted on a nonexistent network connection. (Exception from HRESULT: 0x800704CD)

**StackT

[2020-06-16 07:24] cannehag opened #6229 "ILogger<T> ctor injection does not log traces to AppInsights"
Using Azure Functions version 3.

I'm trying to get trace logging to work across my application classes but having some problem.
When using the function method ILogger parameter, my LogInformation() calls ends up as traces in AppInsights.

But what I would like to do is to use ILogger<T> with ctor injection in other services in my application. When doing that, LogInformation() calls are not logged

[2020-06-16 08:28] cldmstr commented on #6227
Thanks for the suggestions.
I'm afraid that the downgrade didn't solve the problem. I'm still seeing the same pattern of sometimes working and sometimes failing with the same error as before.

[2020-06-16 08:36] cldmstr commented on #6227
Looking through the host logs it seems that if on `Host Initialization` the StartupCount is > 1 the extension bundle isn't picked up and when it is =1 the function works:

**Successful**
[code]
**Failed**
[code]
Not sure what that means, but it seems to consistently predict success or failure.

[2020-06-16 11:16] perkops commented on #6222
After removing the following nuget packages from the solution and not invoking KeyVault anymore, I've got it running again.

Removed packages:

<PackageReference Include="Microsoft.Azure.Functions.Extensions" Version="1.0.0" /> (use WebJobsStartup instead of FunctionsStartup)
<PackageReference Include="Microsoft.Azure.Services.AppAuthentication" Version="1.4.0" />
<PackageReference Include="Micros

[2020-06-16 11:16] #6222 closed, assigned to nobody

[2020-06-16 11:17] perkops commented on #6222
Microsoft.Azure.Services.AppAuthentication" Version="1.4.0"
Microsoft.Extensions.Configuration.AzureKeyVault" Version="3.1.2"
Microsoft.Azure.Functions.Extensions" Version="1.0.0"

[2020-06-16 12:33] IanKemp commented on #6143
@brettsam @fabiocav This fix still isn't present in the latest release of the Host Runtime (3.0.13901 - confirmed by inspecting the artifacts attached to [that release](https://github.com/Azure/azure-functions-host/releases/tag/v3.0.13901)) despite it being merged 2 weeks ago. This means that the latest version of the Host Runtime being deployed lacks this fix.

Please advise, what is the hold-up?

[2020-06-16 14:14] rodo1fo commented on #5851
our team is geeting the same error. Can't inject IHttpClientFactory in AZF.
We're using Microsoft.Extensions.Http Version="3.1.5", Microsoft.NET.Sdk.Functions Version="1.0.31", Microsoft.Extensions.Http Version="3.1.5"

[2020-06-16 14:21] yuriMantchev commented on #5851
I'm also experiencing this error in azure functions.

[2020-06-16 14:33] pragnagopa commented on #6213
Investigate options to pin to ~2.0

[2020-06-16 14:49] pragnagopa commented on #4384
@EricJizbaMSFT - I sent a PR adding a log that gets emitted after a worker process starts. Is there a way we can test this?

[2020-06-16 16:46] pragnagopa commented on #6136
Moving this issue to Triage as it needs more investigation on current behavior for python , node and powershell workers.

[2020-06-16 17:23] svichr commented on #5851
Same here :(

[2020-06-16 17:23] ejizba commented on #4384
Yeah you can override the default problemMatcher in `.vscode/tasks.json`. Instead of just `"problemMatcher": "$func-watch",`, it'll look something like this:

[code]

Then just change the "Host lock lease" regular expression to match your new log

[2020-06-16 17:38] SamaraSoucy-MSFT opened #6232 "Update Github docs with Microsoft Q&A"
The MSDN Functions forums has been migrated to Microsoft Q&A, and customers are no longer able to post questions on MSDN.
The new forum link is https://docs.microsoft.com/en-us/answers/questions/topics/single/25345.html

There are a couple references to MSDN forums in this wiki that need to be changed out:
https://github.com/Azure/azure-functions-host/wiki/Investigating-and-reporting-issues-with-t

[2020-06-16 18:40] brettsam opened #6234 "SystemLogger sometimes has incorrect ActivityId"
We seem to have instances where the ActivityId in Kusto is incorrect (it should be empty; but it has one, which is confusing). We need to figure out where these are coming from and how to prevent this.

@brettsam has details on queries that can show this.

[2020-06-16 18:57] jimpudar commented on #3898
@ConnorMcMahon, any update on the special logic in the Functions runtime? I still don't seem to be able to use `IsInRole` properly with tokens from AAD.

[2020-06-16 19:02] Tiberriver256 commented on #5894
Just checking if there's possibly a better solution out there for this? It seems that `_FunctionsSkipCleanOutput` breaks dependency injection for me somehow.

[2020-06-16 19:31] #6095 closed, assigned to nobody

[2020-06-16 19:32] #1096 closed

[2020-06-16 19:33] mhoeger commented on #1096
Issue stale - work is done (hi Matt!!)

[2020-06-16 19:42] TeraInferno commented on #5344
Having the ability to remote debug Node.js Function Apps would be incredibly helpful.

[2020-06-16 23:10] oising commented on #6328
Getting the same thing with C# -- I wired up azure signalr to deliver connected/disconnected events to a default implementation created directly in the portal and I'm getting the same error.

[code]

logs:

<pre>
2020-06-16 22:30:55.712
Executing 'Functions.EventGridTrigger1' (Reason='This function was programmatically called via the host APIs.', Id=0691f2f7-239d-4e61-9c41-0037248889a0)
Informatio

[2020-06-17 01:47] smanjubashini opened #6235 "Http 500 internal server azure functions"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

#### Question
I m preparing for azure 204 certification. I'm working on exercise on Microsoft preparation materials for this certification. I tried creating a http trigger function in azure portal. It worked fine but when I added a cosmos db

[2020-06-17 02:47] MarioPrabowo commented on #6202
We also had similar issue but with time-triggered Azure function v3. The function got restarted again afterwards in a different host, but because the previous execution was stopped forcefully, the system was left in a corrupted state and we had to fix the data manually. Below is the response we got from Microsoft support:

Unfortunately, this seems to imply that we are unable to use Azure function

[2020-06-17 03:38] balag0 commented on #6235
Can you share the name of the function app?

[2020-06-17 04:56] Chaosed0 commented on #6013
I'm also seeing these symptoms in my functionapp, but my setup is different. I'm logging all headers for debugging purposes and it appears that something is always getting eaten by the `x-ms-privatelink-id` header. Most of the time it appears to be a header value:

`x-ms-privatelink-id: x-original-urlN/api/submitscore?code=9ahPno8YlBBeMUxE41Sq1lFyNlA8muAdzwUPHm4qI5wdsVJOKuJQ8w==`

But sometimes,

[2020-06-17 05:32] HansDahle commented on #5851
Same here :/

Have created a custom trigger which uses the IHttpClientFactory to create a named client in the IListner it uses to refresh information.
Works as expected on startup, but after ~2 hours it starts to fail.

Tried to instead pass inn a IServiceProvider, with `using (var scope = sp.CreateScope()) { ... }`, to get a new ihttpclientfactory. Changed the code to refresh info every 1 minute.

[2020-06-17 06:27] Chaosed0 opened #6236 "Request body intermittently eaten by headers"
#### Investigative information

Please provide the following:

- Timestamp: 6/17/2020, 5:24:06.362 AM
- Function App version: 3.0.13760.0
- Function App name: BreakpointLeaderboard
- Function name(s) (as appropriate): SubmitScore
- Invocation ID: 55332be2-186d-449f-a359-8cb58d8c0b1e
- Region: Unsure

#### Repro steps

Hit the functionapp several times, sending a body. In about 1 out of 5 cases, th

[2020-06-17 09:23] xssic commented on #5851
Our team is experiencing the same issue.
Tried to bump referenced Microsoft nuget packages to latest versions, but still fails.
Last tested using Microsoft.NET.Sdk.Functions 3.0.7

[2020-06-17 12:58] a-vishar commented on #6158
Any update on this?

[2020-06-17 14:41] smanjubashini commented on #6235
Thanks for your response. manjuapp is the function app name. I tried executing the durable functions later. It was successful. But with cosmnos db binding im still getting same error.

[2020-06-17 14:49] patrick-steele commented on #4577
@brettsam The use case I'm looking at is one-time initialization to hook up Azure Key Vault provider for SQL Server's column encryption.  I only need to do it startup.  Basically, something like this:

[code]
I want to pull the `clientId` and `clientSecret` from `IConfiguration`.  I don't need them injected as options into anything.

I suppose I _could_ create a class that has a dependency on an `

[2020-06-17 15:29] StefanSchoof commented on #4577
@patrick-steele can you use an [Managed identity](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview) and [Key Vault references](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references)? I think those two things can make you task easier.

[2020-06-17 17:55] #6226 closed, assigned to mhoeger

[2020-06-17 17:56] nrkirby commented on #6226
I discovered the EF Core cli doesn't add values to environment variables in [this post](https://stackoverflow.com/a/62420168/3213157)

[2020-06-17 23:02] #4384 closed

[2020-06-17 23:38] SeaDude opened #6237 "Out of memory exception (python function; blob storage trigger)"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

- I don't see "Platform features" anywhere in my Function App, but here are th

[2020-06-17 23:44] yojagad commented on #6145
After some investigations and comparison runs, following were the observations.

- Scaling was comparable with and without the httpworker pinging the homepage. Following are the links to loaderio runs
With ping and reporting latencies from hitting the homepage: https://loader.io/tests/8fcb4f188f1b949982101bcd1512cd39/summaries/ec3f96396b30148dd72dcd76c3ccb68d
Without ping: https://loader.io/tests/

[2020-06-18 01:34] click2install commented on #6222
@perkops What was your resolution?

 - Change `[assembly: FunctionsStartup(...)]` to `[assembly: WebJobsStartup(...)]`
 - What about the `FunctionsStartup` base class which we override `Configure` from. Did you replace that also? If so, which assembly/package does that live in?

[2020-06-18 01:47] JoelGallagher commented on #6222
@click2install you can change it to
`
using Microsoft.Azure.WebJobs;
[assembly: WebJobsStartup(typeof(Startup))]

namespace x {
public class Startup : IWebJobsStartup`

[2020-06-18 01:59] NgSekLong commented on #912
Would like to add to this discussion, I saw this document today:
https://docs.microsoft.com/en-us/azure/logic-apps/send-related-messages-sequential-convoy

Which seems to suggest that, we can use Azure Function with Service Bus Session trigger to achieve sequential processing of message.

I have setup the following:

- Node 12
- Azure Function Premium
- Service Bus Queue, session enabled, other de

[2020-06-18 03:16] Ads5555 opened #6239 "'Development' returned as environment name in Azure after disabling any function"
#### Investigative information

- Timestamp: 2020-06-18T03:00:26Z
- Function App version: v3
- Function App name: FunctionApp220200618084855
- Function name(s) (as appropriate): EnvironmentTestFunction
- Invocation ID:
- Region: Australia Southeast

#### Repro steps

1. Create a new default Azure Function solution.
2. Add a function that simply prints out the hosting environment name via the log p

[2020-06-18 05:27] truptijogi7 commented on #6328
Same issue for me. Using EventGrid.

[2020-06-18 08:21] vitalybibikov commented on #1579
Any updates?

[2020-06-18 08:30] feminho commented on #3370
I'm getting the same error with Azure Functions 3.1 when trying to deserealize a message from a queue using Newtonsoft.Json

[code]

I have log before and after call JsonMessageSerializer.Deserialize and log stream shows that code crashes at this point.

The project where the serealization is running has .Net Core 3.0.
The Azure function has its SDK on 3.0.7 and target .Net Core 3.1

[2020-06-18 09:13] hallgeirl opened #6242 "Weird behavior of Azure Functions on Linux with queuetrigger - missing job executions, no errors in logs, no log output at all even though queue is emptied"
I am developing a function app that is fairly CPU intensive (doing conversions of various file formats into PDF). This app has a queue trigger, where the queue message contains information about which file to convert, and where to store it.

As part of debugging this, I have reduced batch size to 2, and newBatchThreshold to 1.
When I populate the queue with items for files to convert (I'm adding a

[2020-06-18 09:24] vitalybibikov commented on #3741
The same here, TelemetryConfiguration is always null for 3.0.7

[2020-06-18 11:16] hallgeirl commented on #6242
I just tested EXACTLY the same workload on Azure Functions on Windows - which I set up exactly the same, apart from changing the OS (same host.json, same code, same app settings). That works perfectly well - I see the items are chewed through at a reasonable pace and output are being generated for all jobs.

This must be some odd behavior that only affects Linux function apps...

[2020-06-18 11:46] brettsam commented on #3741
@vitalybibikov, some initial questions:
1. Are you seeing this locally or in production?
2. Do you have APPINSIGHTS_INSTRUMENTATIONKEY set? Even locally -- setting it to some dummy string (like "abc") will cause the TelemetryConfiguration to be registered.

If both of those are yes, can you share a sample application that reproduces this? Even a csproj file may be enough.

[2020-06-18 13:44] bessgeor opened #6243 "HTTP and Timer triggers stopped to trigger function after 2020-06-18 11:50:00.006"
#### Investigative information

- Function App version: latest
- Function App name: tasker-timer
- Function name(s) (as appropriate): tasker_timer (Timer), tasker_callback (HTTP)
- Invocation ID: the issue is in the lack of invocations.
 - Last timer invocation: fd72ca0fca2db64a92822d6089b8d88b (2020-06-18 11:50:00.006)
 - Last HTTP invocation: 38dae7eec690f34199e2e01a4f80571a (2020-06-18 08:57:34

[2020-06-18 14:34] brettsam commented on #6243
I can see that the timer stopped firing roughly 3 hours ago (last invocation was 2020-06-18 11:51:02.3630333 UTC) and that calls to your Http trigger are all returning 503s.

@balag0 / @divyagandhii -- this is Linux consumption app that seems to be getting 503s right now. Is there a recommendation for how to get this running again?

[2020-06-18 15:41] CharlesAtDCube opened #6244 "429 error on Linux function app deployment"
When trying to create a new function app, from the azure portal UI, the deployment freezes and runs into a 429 error, while trying to invoke the new consumption plan.

#### Investigative information

Please provide the following:

- Timestamp: 6/18/2020, 5:29:18 PM
- Function App version: Python, 3.7
- Deployment correlation ID : 233a9e1b-6f08-49ed-8bae-94e32e0317b7
- Operation ID : /subscriptions

[2020-06-18 16:26] #5556 closed

[2020-06-18 16:43] pragnagopa commented on #6136
Bringing this back to sprint 78 as this can be done in a non-breaking way.

[2020-06-18 16:53] #6179 closed, assigned to pragnagopa

[2020-06-18 18:30] mathewc commented on #6031
@alrod to comment on the potential paging issue

[2020-06-18 19:32] pragnagopa commented on #6172
@jdubois - Please update this issue once you have setup instructions for windows

Moving issue back to Triaged.

[2020-06-18 19:37] pragnagopa commented on #6180
Ant88 is currently rolling out.  Need to turn policy provider per stamp after ANT88 roll out completes.

Moving this issue to Triaged to give more baking time for existing logic before updating with prediction algorithm.

[2020-06-18 19:53] Frankwayne commented on #5907
I would like to say this issue has been resolved.   I had to update the following nuget packages

    <PackageReference Include="Microsoft.Azure.DocumentDB" Version="2.10.3" />

[2020-06-18 19:53] #5907 closed, assigned to kashimiz

[2020-06-18 21:28] pragnagopa commented on #6213
Need to add compat flag

[2020-06-18 22:19] fabiocav commented on #6031
This looks lit a valid bug.

@jonarmstrong are you sharing this KV instance with other apps/processes? Would it be a viable mitigation option for you to reduce the number of secrets on that KV instance (perhaps scoping to this app only) while we investigate and provide a fix?

[2020-06-18 22:22] fabiocav commented on #5171
@kashimiz this was still assigned to sprint 76. Was this addressed, or should I move it?

[2020-06-18 22:23] fabiocav commented on #5874
@brettsam do we need to have this moved?

[2020-06-18 22:25] fabiocav commented on #5934
@ankitkumarr was this closed?

[2020-06-18 22:49] MisinformedDNA commented on #1579
Hasn't this [been completed](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection)?

@brettsam Can this be closed?

[2020-06-18 23:10] crawdell commented on #6246
Had same error (except with Microsoft.AspNetCore.Razor.Language, Version=3.1.4 instead of 3.1.2) after updating to latest functions sdk.

Using:
<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>

as @everix1992 said above instantly fixed the issue.

[2020-06-18 23:13] NateB2 commented on #3741
Adding the "APPINSIGHTS_INSTRUMENTATIONKEY" fixed it for me.  I only previously tested it locally, didn't test it in Azure.

[2020-06-18 23:31] fabiocav commented on #6061
@anthonychu how important is this work item? This is currently at risk for the current sprint. How impactful would it be if we need to move it?

[2020-06-18 23:34] pragnagopa commented on #6061
We are tracking this item for GA as it would bring feature parity between Rpc and CustomHandlers. OK to move this next sprint.

[2020-06-18 23:39] fabiocav commented on #6246
@anthonychu can you confirm what you saw, as expected, and based on what is described above, looks like disabling the output trimming seems to work.

This is a restriction we can safely relax, so I'll be assigning this to the next sprint so we can get this resolved.

[2020-06-18 23:48] jonarmstrong commented on #6031
@fabiocav It's OK right now, because the functions that we use this as the primary security method are infrequently used in our application, so it isn't a huge headache for us most days. At least, it isn't such an issue that it was desirable for us to make the exact change that you mentioned. I hope it can be resolved quickly! Thank you for taking the time to look into it.

[2020-06-18 23:55] fabiocav commented on #6031
This has been assigned to the next sprint. Thanks for bringing it up!

[2020-06-19 01:38] #6145 closed, assigned to yojagad

[2020-06-19 05:48] alrod commented on #6031
From the issue description:

It looks like both function apps use the same keyvault. Keyvault keys feature was implemented to use one function app with one key vault.

[2020-06-19 06:07] monkeyclass commented on #6221
Turns out the error can be fixed by making sure the function app runs in a [App Service Plans for an Azure Functions](https://docs.microsoft.com/en-us/cli/azure/functionapp/plan?view=azure-cli-latest), instead of the [app service plans](https://docs.microsoft.com/en-us/cli/azure/appservice/plan?view=azure-cli-latest), and having the SKU be one of the premium ones. This also means that function app

[2020-06-19 06:07] #6221 closed, assigned to madelinegordon

[2020-06-19 06:58] vitalybibikov commented on #3741
I've checked it out, when APPINSIGHTS_INSTRUMENTATIONKEY  is set,
instance is **no longer null.**

Is it reflected in docs? if it's not, maybe it should be reflected, as it's not quite obvious.

Thanks.

[2020-06-19 07:42] jdubois commented on #6172
Thanks @pragnagopa - doing the Windows build is in fact more complicated than expected, so I can't commit on a date.

[2020-06-19 11:04] bessgeor commented on #6243
Seems like both triggers resumed their work about 2020-06-18 23:16:34.3094197 UTC (invocation ID `1c634aca-9b11-43f9-baeb-f43feaed23ca`)

[2020-06-19 12:18] roszell commented on #5098
@fabiocav any news on this? I see it was assigned to Sprint 75 that was marked closed, but this was the only issue not resolved as part of that. Is this actively being worked on still?

[2020-06-19 13:18] bessgeor commented on #6243
OK, confirmed, both triggers are working now.
Thank you, if you're the ones who stand behind it.
@brettsam, leaving this issue opened for further investigation if needed, feel free to close it.

[2020-06-19 14:16] KillianW commented on #5090
Any word on this or a recommended workaround in the meantime?

[2020-06-19 16:20] jonarmstrong commented on #6031
@alrod  It's interesting that you state that because the Keyvault secret store is the only one which supports this particular setup. The blob store almost does it, but it prefixes all of the secret storage with instance/host specific identifiers, which prevents multiple instances sharing the same secret keys. The Keyvault secret storage doesn't add any sort of prefixing to the naming of the secret

[2020-06-19 16:57] fabiocav commented on #6031
The point made by @alrod is a good one. Secrets are unique for a given app, and scoped to that app by default, for all providers. The prefixing approach used with the storage provider is the strategy used to scope those secrets while allowing storage account reuse.

Even with the clarification here, there's likely some work needed to ensure this scenario is properly handled and provides helpful er

[2020-06-19 17:38] SeaDude opened #6247 "00:30 min timeout exceeded, stuck in retry loop?"
# Investigative information

Hello,

I was receiving memory errors on the Linux Consumption Plan when trying to move blobs of ~50MB and larger (#6237) so I upgraded to an EP2 SKU. This worked for getting me over 50MB, but the process is now timing out on blobs ~500MB and stuck in a retry loop (each retry costing me $).

If a 500MB blob takes ~3-4 mins to upload to a storage account, what would cau

[2020-06-19 17:38] balag0 commented on #6243
This was due to an outage in West Europe yesterday. The issue should be mitigated now. Please reactivate if you have any questions or if you are still seeing any issue.

[2020-06-19 17:38] #6243 closed, assigned to brettsam

[2020-06-19 17:49] SeaDude commented on #6237
Fix was to upgrade from Linux Consumption Plan to EP2 Premium Plan. This made it possible to consistently process blobs above ~50MB, but results in #6247 when trying to process blobs at 500MB and above. UG!

[2020-06-19 17:49] #6237 closed, assigned to fabiocav

[2020-06-19 17:57] malantin commented on #6222
I am facing the same issue. Changing the Startup.cs to use IWebJobsStartup did not solve the problem for me.

[2020-06-19 19:16] click2install commented on #6222
@n01d If you view your function from the classic view in the portal it will show you the exception message that is occurring which may be more helpful in diagnosing your issue. I did not have to change to `WebJobsStartup` to resolve my issue once I found the root cause.

[2020-06-19 20:31] JiCi commented on #3907
I am developing apps with KeyVault, including Azure Functions, and able to access/test on my local box. I did this some time ago and am just revisiting it for a new app. So, these are the general steps that should get it running. The short of it is you can give yourself permissions for keyvault, and then setup Visual Studio to use your user credential for Azure Auth as a developer.

First you need

[2020-06-19 23:28] grbspltt commented on #586
Any update to this, 4 years and counting?  Looking for node support to setup DB connections at startup, no matter which function is called first. Right now the work around to support this is quite poor.

[2020-06-19 23:29] grbspltt commented on #281
Any update to this, 4 years and counting?  Looking for node support to setup DB connections at startup, no matter which function is called first. Right now the work around to support this is quite poor.

[2020-06-19 23:47] ishepherd commented on #586
@grbspltt does this help? (Premium plan only)
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-warmup

[2020-06-19 23:47] yojagad commented on #6227
W're still investigating this. Can you pin your runtime version to 3.0.13353 while we continue investigating and let us know if you still encounter it ?

[2020-06-20 00:26] grbspltt commented on #586
@ishepherd possibly for the short term, I will give it a shot and see how that works, although it does seem like a lot more money to pay just to have code run at startup.  It would be nice to have better support on this feature.

[2020-06-20 01:09] ZachTB123 commented on #6227
Seeing a similar issue. I recently recreated a function that was working last week but now I am frequently seeing the following errors in App Insights:

- The 'diagnostic_logs' function is in error: The binding type(s) 'eventHubTrigger' were not found in the configured extension bundle. Please ensure the type is correct and the correct version of extension bundle is configured.
- No job functions

[2020-06-20 01:31] yojagad commented on #6227
@ZachTB123 As I mentioned above, can you pin the runtime to 3.0.13353 and let us know if you still encounter it?

[2020-06-20 07:04] andriysavin commented on #586
Looks like `FunctionsStartup` can be used for many high-level scenarios, read more here https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

[2020-06-20 10:47] vitalybibikov commented on #3741
Though one problem that I can see at the moment, that

TelemetryInitializer, despite being called, does not write anything into App Insights.

I've tried to add it like this:
1.
`telemetryConfiguration.TelemetryInitializers.Add(new TelemetryInitializer(httpAccessor));`
2.
`            builder.Services.AddSingleton<ITelemetryInitializer, TelemetryInitializer>();`

The Initialize itself:

`        p

[2020-06-20 17:37] malantin commented on #6222
We found the underlying issue on our side and it now works with _WebJobStartup_ as well as _FunctionsStartup_. Thank for you support @click2install. The exception in the classic view helped us find the issue.

I consider the _error_ in the runtime information a bug in the UI for Azure Functions. Also the link to the configuration that was provided in the notifications section wasn't helpful.

[2020-06-20 17:39] grbspltt commented on #586
@andriysavin looking for node support.  allegedly node is a first class citizen in azure functions.

[2020-06-20 19:03] NatMarchand commented on #6222
Same for me, my issue was a coworker changing the function to x86 whereas our code is x64 . I noticed the error when going also to the old experience. Maybe a better message in the UI should be considered ?

[2020-06-21 01:40] pragnagopa commented on #6172
@jdubois  - I am trying to set up the code to run locally on mac. Here is the error when running `build.sh`

[code]

Any ideas how to fix this?

[2020-06-21 01:46] anthonychu commented on #6172
@jdubois Another option is to build a VS Code devcontainer. Maybe that’s easier than providing instructions on Windows. Like @pragnagopa, I want able to get it working on macOS either. I got close with a devcontainer but the build would never finish.

[2020-06-21 16:52] LXBdev commented on #6060
My theory (also posted as an answer to Stackoverflow above) is that the workaround mentioned above is actually breaking the logging with the current function host version, probably related to #5353 which prompted the workaround.

I set up a new function, and everything works great until I add the workaround code mentioned above.

=> `services.AddSingleton(new TelemetryConfiguration(myKey)` breaks

[2020-06-21 22:17] mathewc opened #6248 "v1 : MsDeploy under load can lead to host startup w/o functions"
See ICM incident 192172973. Log analysis shows that a user initiated MsDeploy operation occurred, causing the normal host restarts as the host reacted to file change notifications. As the file system changed, the host recycled multiple times. Usually things stabilize and the final host instance restarts with a view of the newly deployed files. However, in this case, it looks like a race condition

[2020-06-22 00:13] anthonychu commented on #4384
@pragnagopa Could you please confirm if the message is printed:

* if it's an in-proc .NET app (and custom handlers)
* if all log levels are set to Warning (or Error/None)

We're going to work on reducing verbosity of Core Tools and will likely use log levels to control what gets printed. Azure/azure-functions-core-tools#1131

[2020-06-22 00:16] anthonychu commented on #4384
@Hazhzeng: FYI @vrdmr and I were helping someone last week who was running into an issue that looks like what you're describing here: https://github.com/Azure/azure-functions-host/issues/4384#issuecomment-644410396

[2020-06-22 10:20] qfyra commented on #6060
Yep, that was the issue indeed. Everything seems to work as intended after removing the workaround code.

[2020-06-22 10:20] #6060 closed, assigned to ankitkumarr

[2020-06-22 11:20] devdorn commented on #6239
I've the same Problem: since 2020-06-18 the default Environment on Azure Functions (West Europe, Runtime Version 3.0.13901.0) has changed from "Production" to "Development".
I've never disabled my Function, but I had an Deployment on 2020-06-18.

[2020-06-22 13:08] jdubois commented on #6172
@pragnagopa I'm guessing this is because you don't have XCode installed (in order to compile natively on your Mac). Installing GraalVM can indeed be painful (this is why in my tutorial I'm pushing people to use GitHub Actions, but of course that won't be enough for you, as you need to debug).
I was going to work on porting this to Windows -> which is the most important for you, having this inside

[2020-06-22 13:59] cldmstr commented on #6227
Sorry if I'm being a bit dense, but where do I pin that specific version? Is that a setting in the host.json or do I set that when configuring the function itself? I just see that I'm running on 3.0.13901 at the moment.

[2020-06-22 14:33] peter-bozovic commented on #6060
Any idea how to make new Functions portal work with ITelemetryProcessor ?

Since this doesn't seem to work anymore:
https://devblogs.microsoft.com/premier-developer/implement-app-insights-telemetry-processor-in-azure-functions/

[2020-06-22 15:19] pragnagopa commented on #6172
Linux DevContainer will work with that is easier! Thanks.

Regarding porting to windows: Simple instructions on how to build the function locally will help. Do not have to port the deploy  setup you have to windows.

I will keep trying to build it locally on mac / windows.

[2020-06-22 15:22] pragnagopa commented on #6227
@jackharbinger / @ZachTB123 - Please see intructions [here](https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version#automatic-and-manual-version-updates) on how to pin to functions runtime version.

[2020-06-22 15:29] jdubois commented on #6172
Thanks! devcontainers should also be easier for me!

[2020-06-22 15:33] pragnagopa opened #6249 "[CustomHandler] Update type in custom handler section to be an enum"
Update type in custom handler section to be an enum with default value `http`

[2020-06-22 15:50] pragnagopa opened #6250 "Enable placeholder pool policy provider"
cc @gzuber
PlaceholderPoolPolicyProvider is rolling out with ANT88. Tracking item to enable this feature on per stamp basis and monitoring pool balancing.

[2020-06-22 16:05] ZachTB123 commented on #6227
@pragnagopa I can't seem to pin my runtime version to `3.0.13353.0`. I created a brand new Function App and made sure `FUNCTIONS_EXTENSION_VERSION` is set to `3.0.13353.0`, but the portal shows that my runtime version is `2.0.13907.0`. After further investigation under `Function app settings` in the portal I see:

"Runtime version loaded from Application Settings: 3.0.13353.0" and "Unsupported Run

[2020-06-22 16:52] pragnagopa commented on #6227
@ZachTB123  - Not sure why pinning is not working. I just tried and cannot repro the issue you mentioned.

cc @soninaren - fyi

Another workaround for this issue is not use extension bundles and install bundles using core tools
On your local machine
- [Install azure function core tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash)
- cd to

[2020-06-22 18:56] anthonychu opened #6251 "[CustomHandler] Protect against external HTTP requests accessing handler endpoints"
With HttpRequestForward enabled and this configuration:

* `MyHttpTrigger` function that has a catch-all route that forwards all requests to the handler
* `MyQueueTrigger` function

It's possible for an external HTTP call to `/MyQueueTrigger` to be routed to the handler endpoint. This is unexpected and potentially a security concern.

Some possible solutions:

* Update runtime to block HTTP reques

[2020-06-22 19:30] balag0 commented on #6247
I haven't looked through the logs yet, but from the issue description it sounds like the bottleneck is the blob upload from the function to storage. The upload is taking so long that the over all function execution times out. Is my understanding correct?

(Trying to make sure this is not due to the function code or the amount of memory used by the function app)

[2020-06-22 20:31] anthonychu opened #6252 "Log when host/worker is ready for VS Code debugger to attach"
After discussing with @pragnagopa, it sounds like the initial change in #6230 is not quite sufficient for the purposes of VS Code attaching the debugger reliably.

There are 2 issues in particular:
- In-proc .NET apps will not print the new message
- The message is printed with log level Information. If default log levels are changed to Warning, Error, or None, the message will not print

We need

[2020-06-22 20:31] wenhzha opened #6253 "Automatically Opt Out BlobChangeAnalysisStateProvider When Hosting Environment is not App Service"
The function host logs the below exception while deploying to K8S without a Azure Storage Account. The exception does not break the host but just noisy, and can be misleading for customers who run function apps not in app service.

[code]

[Proposed Solution]
The function host can sniff out hosting environment and decide to opt out the BlobChangeAnalysisStateProvider feature if it is not supposed

[2020-06-22 20:57] apawast opened #6254 "Ensure ARM host status call returns the same information that the admin status API on the runtime site returns"
We’ve been seeing some customers complaining that we’re not bubbling up enough as much information to them as we used to in the old portal. Our new APIs are not returning the same level of details.

[2020-06-22 21:00] apawast opened #6255 "Bubble up proper errors and exceptions from ARM failures that are caused by runtime misconfiguration"
API requests are failing with unhelpful errors. For example, in a recent CRI, a call to list keys was failing with a 500, but when you looked at the functions logs, it was because they messed up their AzureWebJobs connection string. We need to ensure we bubble up these errors in the error response of the failed request.

[2020-06-22 23:31] smgn commented on #6222
Same for me, my issue was "The function runtime is unable to start. Microsoft.Azure.WebJobs.Script: FunctionTimeout must be greater than 00:00:01 and less than 00:10:00.". That was running well on the local machine, but failed to start remote. No messages, no errors in the new UI.
Thanks, @click2install

[2020-06-23 00:59] pragnagopa commented on #6252
New log is added at info level. Setting to any other level will include info level logs. This would break if the user turns off logging completely.

[2020-06-23 01:24] mhoeger commented on #4810
I can't repro this in later versions of the core tools and I'm not sure if this is actually related to the missing AzureWebJobsStorage setting.

Here is the behavior in core tools version 2.7.1480:
[code]

Behavior in core tools version 2.7.2508:
[code]

Again, hard to know because it's a generic error message, but I think we can close this as resolved. At the very least, I am unable to repro with

[2020-06-23 01:28] mhoeger commented on #4810
@soninaren - I'm wondering if you might have been the one to fix this issue? it seems like the error might have been related to the bundles path

[2020-06-23 04:46] yojagad commented on #6227
We were able to reproduce and identify the cause of the issue. We're working on figuring out what the right fix is and get it out.

[2020-06-23 05:03] SeaDude commented on #6247
Hi @balag0 ,

The Function does not upload a blob.

**The sequence is:**

Someone uploads blob to storage-->Triggers Function--------------->Function runs--->Function PUT's blob to an external source
|--Takes ~3mins to upload                 |--I see the trigger in the logs  |--30min timeout  |--Does not complete.

[2020-06-23 07:09] gmanvel commented on #5970
After talking to Azure support, the advise is to not keep trigger related details (like service bus queue name & service bus connection string) in configuration.

Reason:

This suggestion fixed it for us.

[2020-06-23 07:09] #5970 closed, assigned to mhoeger

[2020-06-23 11:59] IanKemp opened #6256 "Using appsettings.json + IConfiguration in a Function app, take 2"
Follows on from #4464, in which [this feature was promised](https://github.com/Azure/azure-functions-host/issues/4464#issuecomment-511590422) but then the issue was closed.

It seems like the most correct way to achieve this functionality (correct = it doesn't clobber `IConfiguration`) is with the following code, amalgamated from the above issue:

[code]

and then use the options as normal:

[code

[2020-06-23 12:20] Schlebusch commented on #5098
Sooooo ... any news? Glad to find this issue early enough to stop using scoped dependencies in my Azure Functions project.
It is frustrating to read that this issue is open for 9 months now and nothing indicates that it will be solved at all ...
MSFT should create a list of features in their SDK's that are not working.

[2020-06-23 13:12] jdubois commented on #6172
@pragnagopa as promised, DevContainer support is available! Here is the documentation: https://github.com/jdubois/azure-native-spring-function/blob/master/.devcontainer/post-create.sh
BTW this uses the GraalVM "Community Edition": there is an "Entreprise Edition" which we should be able to use for this kind of work (no technical issue, and the license should be OK for this). With the "Enterprise E

[2020-06-23 14:21] pragnagopa commented on #6227
@fabiocav  - this is a regression. Moved to current sprint as we should get the fix in for the next release.

[2020-06-23 14:44] pragnagopa commented on #6172
Thanks. Assigning this to next sprint for initial investigation.

[2020-06-23 14:50] pragnagopa opened #6257 "[CustomHandler] Investigate latest version of deno failing on windows"
Tracking item to investigate issue reported here:
https://github.com/anthonychu/azure-functions-deno-worker/issues/13

Need to understand if deno 1.1.x is running into a sandbox restriction.

[2020-06-23 14:55] pragnagopa commented on #6257
Root cause is discussed here: https://github.com/denoland/deno/issues/6409. No action needed.

[2020-06-23 14:55] #6257 closed, assigned to pragnagopa, yojagad

[2020-06-23 18:00] pragnagopa commented on #6213
cc @fabiocav
Tested autoupgrade E2E on windows private stamp. Closing.

[2020-06-23 18:00] #6213 closed, assigned to pragnagopa

[2020-06-23 18:01] APIWT commented on #4577
Does this mean we will be able to access the `IConfiguration` in our startup `Configure` function similar to how we can with ASP.NET Core? This seems to be something that is causing our team a lot of grief.

[2020-06-23 18:24] milesfrain opened #6258 "Running local functions fails without internet connection"
I cannot run local Azure functions while offline.

Initial setup **with** internet connection
[code]

The above commands work fine. But then if I go offline and re-run `func host start`, I encounter this error:
[code]

#### Version Info
[code]

[2020-06-23 18:27] milesfrain commented on #6258
Oops. Filed this in the wrong repo. Moving to https://github.com/Azure/azure-functions-core-tools

[2020-06-23 18:27] #6258 closed, assigned to soninaren

[2020-06-23 18:56] mhoeger commented on #4810
Closing as resolved in latest versions. Please re-open with updated repro steps if this happens again!!

[2020-06-23 18:56] #4810 closed

[2020-06-23 23:57] paulbatum commented on #912
Yes I believe this is a viable approach. Messages sharing a session ID are processed in order, sequentially.

One thing I'll note - I am not sure whether this interacts correctly with the FUNCTIONS_WORKER_PROCESS_COUNT setting. So to be safe, I would make sure that setting is absent (or set to 1, the default).
https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#functions_

[2020-06-24 00:21] fabiocav commented on #6219
@ravibha your logging level seems to be using the incorrect hierarchy. The `logLevel` should be under `logging`.

Can you please follow the information available here to configure this?
https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?tabs=cmd#version-2x-and-higher

Thanks!

[2020-06-24 00:21] #6219 closed, assigned to fabiocav

[2020-06-24 00:27] fabiocav commented on #6190
Can you share more details about what your request looked like? It's possible your first route is catching the invocation to the second function.

[2020-06-24 00:30] fabiocav commented on #6166
Not today. This is something we're investigating as a potential new capability.

[2020-06-24 00:30] #6166 closed, assigned to fabiocav

[2020-06-24 00:36] fabiocav commented on #6138
The current behavior is not ideal, but a partial bind in the case of failures might also lead to other issues.

What is your scenario and why is an invalid value being passed in that property?

[2020-06-24 00:39] fabiocav commented on #6109
@jenspettersson did you manage to catch the invocation ID for the failure? Thanks!

[2020-06-24 00:41] fabiocav commented on #6088
@vitalybibikov can you confirm you're still seeing this issue with the latest version of the runtime/Core Tools? Thank you!

[2020-06-24 00:46] fabiocav commented on #6005
Apologies for the delay on this. Somehow, I've managed to miss the notifications.

Do you have a recent invocation ID we can look at? Also, can you share the HTTP request (with mock information) you're using to test/trigger this?

[2020-06-24 00:49] fabiocav commented on #6256
@IanKemp this is a feature that is going live with the current deployment. For more information, please follow this issue: https://github.com/Azure/azure-functions-host/issues/4761

[2020-06-24 00:49] #6256 closed, assigned to madelinegordon

[2020-06-24 00:49] makokui opened #6260 "Cannot v3 Function use 'net core 3.1' if we specified it in TargetFramework of 'function.proj'."
#### Is your question related to a specific version? If so, please specify:
Function Host Version: 3.0.13353.0
Platform: Windows
Hosting Plan: Consumption Plan
Trigger: Http Trigger

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C# Script

#### Question
I am not sure this is bug or not, so I post as general question.
The Function can only uses netstandard2.0 when

[2020-06-24 00:52] fabiocav commented on #5735
The new feature is being deployed this week. Please follow https://github.com/Azure/app-service-announcements/issues for updates on the release. Thank you for the patience!

[2020-06-24 00:55] fabiocav commented on #4577
@APIWT yes. This is being deployed right now and should be globally available within a couple of weeks. Detailed documentation will be linked from here as well once published.

[2020-06-24 00:55] fabiocav commented on #5735
Closing in favor of https://github.com/Azure/azure-functions-host/issues/4577

[2020-06-24 00:55] #5735 closed

[2020-06-24 01:44] fabiocav commented on #6254
@mathewc FYI. This is something that has been raised for the next sprint.

[2020-06-24 01:46] fabiocav commented on #6255
Is this a discrepancy between host and ARM APIs?

[2020-06-24 02:15] #6227 closed, assigned to yojagad

[2020-06-24 02:16] yojagad commented on #6227
@ZachTB123 @jackharbinger The fix is checked in and will go out with the next function release.

[2020-06-24 05:27] fabiocav commented on #5672
@soninaren do you have the decomposed issues to track this work?

[2020-06-24 06:14] SeaDude commented on #6247
I'd appreciate it if you could look through the logs and reply here with your findings.

[2020-06-24 11:17] FrederikNygart commented on #2373
I also get the error when trying to fetch a certificate from the store.  I am targeting .net core 3.1.

I have version 5.7.2 installed

this is my 'program' code:
[code]

this is the method for retrieving the certificate from the store:
[code]

I might be overlooking something but to me it seems like a library bug.

[2020-06-24 13:04] APIWT commented on #6229
We have this issue too. If I remember correctly, there is a workaround: https://github.com/Azure/azure-functions-host/issues/4425#issuecomment-492599644

I think that thread should provide you all the detail you need. To me, it seems like this functionality should "just work" without extra effort. I'm not sure why you should have to modify the host.json file at all.

[2020-06-24 14:58] VividDigital commented on #6138
I actually made a mistake on this issue. This only happens when using a GET not POST, which I apologize for as that's obviously a pertinent detail.

It is directly related to the [similar issue](https://github.com/Azure/azure-functions-host/issues/6139) I opened the same day. It can be worked around by manually deserializing the query string into the object, but it would be nice to have the POCO b

[2020-06-24 14:58] #6138 closed, assigned to fabiocav

[2020-06-24 14:59] pragnagopa opened #6264 "Analyze placeholder misses"
@gzuber has done the initial investigation. There are multiple requests on consumption plan that do not go through DataRole placeholder matching logic. Example Kusto query:

[code]

Need to figure out how many placeholder misses follow this pattern.

[2020-06-24 15:54] pragnagopa commented on #6120
cc @brettsam

Error happens during specialization.

- Template site starts in placeholder mode.
- Scripthost is initializing
- Specialization is triggered
- Scripthost startup is cancelled
- But Scripthost initialization continues and throws above error.

Need to ensure child tasks are cancelled when scripthost start is aborted.

[2020-06-24 18:23] GrantHoffman commented on #3593
Yeah I'm going to hop on the complain train.  I would like this fixed as well

[2020-06-24 19:52] mathewc commented on #6254
The ARM API ([here](https://msazure.visualstudio.com/One/_git/AAPT-Antares-Websites?path=%2Fsrc%2FHosting%2FAdministrationService%2FMicrosoft.Web.Hosting.Administration.Csm.Common%2FHelpers%2FCsmFunctionsManager.cs&version=GBdev&line=372&lineEnd=373&lineStartColumn=1&lineEndColumn=1&lineStyle=plain)) returns whatever the host admin API returns, based on the [HostStatus](https://msazure.visualstudi

[2020-06-24 20:05] mhoeger opened #6266 "Reduce redundant files between deployments"
### Issue:
New deployments are bloated with redundant files. The worst offenders are language worker versions, which often do not change between deployments. This means wasted memory on our machines.

### Solutions:
1. Hard-link files in the deployment to a central repository
2. Deploy language workers separately. Note that this may pose issues for deployments of azure-functions-core-tools, among

[2020-06-24 20:07] mhoeger commented on #5787
This is part of a larger body of work, roughly broken down here: https://github.com/Azure/azure-functions-host/issues/6266

[2020-06-24 20:09] mhoeger opened #6267 "Tune the input params of SiteExtensionCompressor"
https://github.com/pragnagopa/SiteExtensionCompressor

Meta issue: https://github.com/Azure/azure-functions-host/issues/6266

[2020-06-24 20:19] soninaren opened #6268 "Consume the drain mode api exposed by the webjobs sdk"
Related to https://github.com/Azure/azure-webjobs-sdk/issues/2527

[2020-06-24 20:23] fabiocav commented on #6071
Moving this back to `triaged`. Let me know if you're still working on this.

[2020-06-24 20:26] soninaren commented on #5672
Tagging related issues
- https://github.com/Azure/azure-functions-host/issues/6268
- https://github.com/Azure/azure-webjobs-sdk/issues/2527
- https://github.com/Azure/azure-functions-eventhubs-extension/issues/69
- https://github.com/Azure/azure-functions-servicebus-extension/issues/95
- https://github.com/Azure/azure-functions-host/issues/6287

[2020-06-24 20:36] ankitkumarr commented on #5934
Closed by https://github.com/Azure/azure-functions-host/commit/52e90eda99710c0761049b7d6083ff09272cf4f6

[2020-06-24 20:36] #5934 closed, assigned to ankitkumarr

[2020-06-24 20:44] fabiocav commented on #6061
@anthonychu moving this back to `triaged` so we can bring in some high priority items. Is this a GA blocker? We should be able to add this post-GA with no impact.

[2020-06-24 20:47] fabiocav commented on #6254
@brettsam did you have an issue tracking this against the portal?

[2020-06-24 20:52] fabiocav commented on #6172
Moving this to sprint 80 as a stretch goal due to capacity.

[2020-06-24 20:52] ankitkumarr opened #6269 "Investigate issue with ExtensionConfigContext.GetWebHookURL"
We got a report that `ExtensionConfigContext.GetWebHookURL()` does not work in LA extension when running in a Linux container. This issue is to investigate and figure out why.

[2020-06-24 20:53] fabiocav opened #6270 "Update host core references"

[2020-06-24 20:56] fabiocav commented on #6200
Investigation has resulted in some issues we need to address. Those issues will be opened and this will be resumed if needed.

[2020-06-24 21:37] Francisco-Gamino commented on #6071
Please keep it in `triaged`. As soon as I complete the work, I will move it back to the current sprint (I will try to get this done by `Sprint 79`).

[2020-06-24 23:33] #6120 closed, assigned to pragnagopa

[2020-06-24 23:49] anthonychu commented on #6061
I think it’s a nice to have at this point. Also GA is at least a couple of months away. The Core Tools changes for custom handlers are more important in my opinion. Thanks.

[2020-06-25 00:24] ZachTB123 commented on #5096
@fabiocav Is it possible to target a 3.x version? I'm trying to pin to `3.0.13864.0` for example, but am getting:

<img width="992" alt="Screen Shot 2020-06-24 at 7 22 45 PM" src="https://user-images.githubusercontent.com/17228033/85640047-4802bf80-b650-11ea-984b-5d5f8debaebf.png">

[2020-06-25 01:02] #6136 closed, assigned to pragnagopa

[2020-06-25 04:15] cannehag commented on #6229
@APIWT Yeah, that's the workaround I found after some more digging too.

[2020-06-25 06:28] cldmstr commented on #6227
Thanks a lot for the quick fix!

[2020-06-25 07:09] ewzluoc commented on #6190
For the first its a JSON like:
{
"name": "Smith",
"otherinfo": "NY",
"attribute": "blue"
}

For the second its a JSON like:
{
"state": "Texas",
"otherinfo": "English"
}
not containing the Key "attribute", because of that the first function outputs an error.

[2020-06-25 07:37] lakshmanav opened #6276 "functionTimeout in hosts.json not recognized by runtime ~3"
With below mentioned host.json, we see that function timeout is set to default of 30 mins. Some of our workflows run beyond 30 mins. This was working in runtime ~2. Also by checking the logs from host startup, there is no way to see the timeout value picked by the runtime. Is it logged ?

{
  "version": "2.0",
  "functionTimeout": "02:00:00",
  "logging": {
    "logLevel": {
      "Default": "Debu

[2020-06-25 12:09] piotrzbyszynski commented on #5240
@brettsam

[code]

[code]

[2020-06-25 12:11] piotrzbyszynski commented on #5695
I have the same exception with `Microsoft.Extensions.Http 3.1.4` installed

[2020-06-25 16:15] pragnagopa commented on #6251
Moving to triaged.  Needs discussion.

[2020-06-25 17:32] yojagad commented on #6276
@lakshmanav Could you please follow the template and provide us more information about your app so that we can take a deeper look at this?

[2020-06-25 17:39] yojagad commented on #6248
@mathewc Is this related to #5151 by any chance?

[2020-06-25 17:49] yojagad commented on #6131
@gist901 I was digging around and found this issue https://github.com/Azure/azure-functions-powershell-worker/issues/235. The error you pointed out looks similar. Could you take a look and see if there's something there that might help you out?

[2020-06-25 18:07] yojagad commented on #6037
@harisubramaniam1 Can you please follow the template and provide us more details about the app so that we can take a deeper look at this?

[2020-06-25 18:32] yojagad commented on #5980
@vrdmr @Hazhzeng Could you provide more insights here, please?

[2020-06-25 18:59] pragnagopa commented on #6181
cc @mathrewc - in case he has context on expected behavior for Files property
Moving to Triaged.

[2020-06-25 18:59] mathewc commented on #6248
I don't think so - in this case the app was restarting due to file change notifications, and there were multiple host restarts. However, you could run your file system error query for this app/timerange to see if you see any of the signatures we saw before for that issue.

[2020-06-25 19:16] IGx89 commented on #6239
I'm seeing some very weird behavior with environment name as well. My function didn't have AZURE_FUNCTIONS_ENVIRONMENT set and was returning "Production" in Azure, but when I did set AZURE_FUNCTIONS_ENVIRONMENT it changed to "Development" and now no matter what I set AZURE_FUNCTIONS_ENVIRONMENT to (or even remove it) it always is "Development" now. Something definitely seems buggy in that area.

[2020-06-25 19:40] pragnagopa commented on #5842
I cannot repro this. @matthew-kirtley - Can you please attach a simple repro?

[2020-06-25 19:48] pragnagopa commented on #6016
@fabiocav  /@brettsam - is configuring `additionalProbingPaths` supported in functions?

[2020-06-25 20:01] pragnagopa commented on #6128
cc @madelinegordon

Moving this backlog.

[2020-06-25 20:11] pragnagopa commented on #6157
Please try disabling the funciton: https://docs.microsoft.com/en-us/azure/azure-functions/disable-function

[2020-06-25 20:14] pragnagopa commented on #6196
cc @madelinegordon

Moving this issue to core tools. Need to set up a repro.

[2020-06-25 20:37] pragnagopa commented on #6054
Looking at the logs for the invocation id provided, invocation failed with error `System.Runtime.InteropServices.COMException : The specified network name is no longer available. (0x80070040)`

Closing this issue the logs do not have the stack you shared above. Please reopen if you continue to see the error.

[2020-06-25 20:37] #6054 closed, assigned to pragnagopa

[2020-06-25 21:21] DaneVinson opened #6278 "Azure Functions App (V3) reporting "There are some issues with your runtime version""
Azure Function App: V3 (Microsoft.NET.Sdk.Functions 3.0.7)
Platform: .NET Core 3.1
OS: Linux

Our Azure Functions App is reporting "There are some issues with your runtime version" in the "Overview" section of the Azure Portal's Azure Functions Blade. I cannot determine what the issue is but the host appears to be failing to start and if I browse to the site I get the message "Function host is not

[2020-06-25 21:34] vrdmr opened #6279 "Powershell Integration tests failing"
https://github.com/Azure/azure-functions-host/pull/6275/commits/66cbbe07d038c8d4c1cb537a69da6062686ccbdb

@Hazhzeng and I were trying to get the new Python hotfix deployed and were hitting this issue constantly. We had to skip it, but this needs investigation on why/what could be causing it and how to fix it.

FYI @AnatoliB, @Francisco-Gamino.

/cc @fabiocav

[2020-06-25 22:19] yojagad commented on #6232
Thanks for letting us know. We'll be sure to take a look at these.

[2020-06-25 22:20] yojagad commented on #6184
Thanks for opening an issue on this, we'll take a look.

[2020-06-25 23:27] Francisco-Gamino commented on #6279
Hello @AnatoliB -- Could you please take a look? If not cannot get to this, I will take a look after Monday.

[2020-06-26 00:12] ankitkumarr opened #6282 "During the Host warmup, warmup all WebHost services"
Today as part of the `admin/warmup` call, we make sure the Host is running, and then execute any "WarmupTrigger" that may be present.

We should be warming up all the middlewares and WebHost level services to make sure the Runtime is fully warmed up for any new requests.

At the least, we need to investigate and see what type of perf impact we get without actual warmup.

cc: @safihamid, @wenhzha

[2020-06-26 03:40] lakshmanav commented on #6276
@yojagad , I have updated relevant details. Hope it helps.

We are currently blocked by this issue in production after the upgrade from runtime ~2 to ~3. Any help on this is much appreciated and more valuable.

After go live, we see timeout incidents at-least 3 times a day which interrupts other functions that are executing and puts them on an inconsistent state.

[2020-06-26 04:35] nightBaker commented on #6084
Any updates regarding this issue ? I ran into the same problem...

[2020-06-26 05:29] AnatoliB commented on #6279
PowerShell worker for Functions v2 requires .NET Core 2.2. But the test machine does not have .NET Core 2.2 anymore:
[code]
As a result, the worker fails to start.

The dependency on .NET Core 2.2 is intentional. Even though it reached end-of-life, upgrading it to 3.* would be a breaking change that we didn't want to take for Functions v2.

[2020-06-26 06:50] spaelling opened #6525 "(Queue) Push-OutputBinding support initialVisibilityDelay"
I need to put something into a storage queue with a delay before it will be processed next. Currently resorting to below which is obviously far from optimal. Am I missing something with `Push-OutputBinding` that could do this in a better way?

[code]

[2020-06-26 08:09] IanKemp commented on #6143
Excellent, seems like this is finally in 3.0.13904 - but when that will roll out to Azure is anyone's guess.

The Core Tools will need updating, as well as `Microsoft.NET.Sdk.Functions`.

[2020-06-26 08:44] simenstoa commented on #5879
Hi, we are experiencing SNAT port exhaustion as well when using the TelemetryClient in Azure functions v2 Java runtime. And are wondering about the exact same things as described in the question above for the Java runtime.

[2020-06-26 10:57] dgard1981 commented on #2015
Though there is no specific mention in this issue, I assume that the solution of explicitly setting the host ID via the 'AzureFunctionsWebHost:hostId' App Setting is still valid for v3 Function Apps?

If so, does the host ID have to remain static, or can it change after every deployment? I ask because our CD pipeline updates App Settings through an ARM template, so if the host ID has to remain sta

[2020-06-26 13:16] mark-r-cullen commented on #6050
_edit to tag @soninaren and @brettsam as I forgot, and to add a bit more info._

I have been investigating this some more and have figured out how to reproduce the issue. It is actually related to the function host not restarting properly when you change host.json / proxies.json it seems.

It actually has nothing to do with DocumentClient specifically. I just made a small mistake with my original

[2020-06-26 14:18] shahedurrahman commented on #364
Is there any progress on this? Thanks

[2020-06-26 16:26] AsifulNobel commented on #5660
Is there any update on this? I am also facing similar issues for a 30 minute interval timer. For example, for the last two weeks, I have seen that there was a period between 6/11/2020 and 6/16/2020 when no timers were triggered. But after 6/17/2020 about 12 PM, I saw timers getting triggered from 6/11/2020 on 6/11/2020. I am sure the Functions App were running smoothly, because the HTTP triggers w

[2020-06-26 19:27] mhoeger commented on #5879
The AI client used by the runtime is a C# client, so a different instance altogether.

I don't believe so but @brettsam would know best!

For issues around SNAT port exhaustion, our general guidance is [outlined here](https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections), but it seems like @gunzip may have still been running into issues despite using a singleton? Wondering if

[2020-06-26 22:01] yojagad commented on #6084
@haseebahmed7 Can you share a minumum repro of this so that we can dig into it further?

[2020-06-26 22:04] yojagad commented on #5886
@MichalLechowski Apologies for the late response. Were you able to get around this?

[2020-06-26 22:06] yojagad commented on #5901
@TsuyoshiUshio It might make sense to open this in nodejs worker repo as well?

[2020-06-26 22:22] yojagad commented on #5859
@safihamid  Assuming this is still the case today, are there plans in the near or far future to overcome this limitation ?

[2020-06-26 23:33] yojagad commented on #6103
@ahmelsayed Will you be able to provide some input here, please?

[2020-06-27 03:13] safihamid commented on #5859
@vfedonkin what was the issue on this one? Wasn't it related to somewhere in Function code and not proxy code?

[2020-06-27 06:39] thehaseebahmed commented on #6084
It is a private repo, sent you an invite. You can find the code in haseeb\init_work branch.
The DI code is commented out for now, let me know if you need me to uncomment it.

Update: Actually, I've merged my branch into main, so please see that branch.

[2020-06-28 01:00] ghost commented on #6109
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-06-28 01:00] ghost commented on #6088
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-06-28 01:00] ghost commented on #6005
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-06-28 07:09] jenspettersson commented on #6109
No sorry. Might be able to recreate it later if I got time. I'll get back to you.

[2020-06-28 09:49] vitalybibikov commented on #6088
Yep, it reproduces.

[2020-06-29 03:48] VamseeInala commented on #6027
Even I am seeing this error sometimes on calling the "CompleteAsync" on messageReceiver object.

[2020-06-29 14:25] weischermanuel commented on #5540
Hi,

for me i've this error aswell while trying to upload a file above 100mb in debug mode.

same configuration

[2020-06-29 17:05] caroe2014 commented on #2295
Hello,

I haven a customer who has issue this issue as well.

He has a Function App in consumption and has unsuccessfully tried to use a certificate public certificate.

This was has been tried:

Function App on Premium
Create a Premium Linux Python 3.8 app
Upload any cert into TLS/SSL Settings->Public Key Certificates
Go into Kudu:
cd /var/ssl/certs -> ls -la
Result: Find the certificate

Functio

[2020-06-29 19:00] ghost commented on #6131
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-06-29 19:00] ghost commented on #6037
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-06-29 19:39] mhoeger opened #6284 "Rename or wrap RpcException to make it clear error is from code and not platform"
When a function execution fails and the exception starts with `Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcException : Result: Failure`, it looks like this should be a platform error when in almost every case, it is a failure with exception stack from user code. We should make this more clear from the name.

[2020-06-29 19:41] mhoeger commented on #6284
cc: @pragnagopa @yojagad @ahmelsayed @AnatoliB @Hazhzeng - let me know your thoughts, I just had a CRI (and it feels like there are often CRI's) that ask questions about customer code errors and perhaps the "RpcException" bit is what makes them think it's platform related

[2020-06-29 19:48] mhoeger commented on #6284
Would also be great to get rid of the stack exception portion that points to our code:
[code]

[2020-06-29 19:50] ahmelsayed commented on #6284
/cc @amamounelsayed

[2020-06-29 19:50] pragnagopa commented on #6284
Related issue https://github.com/Azure/azure-functions-host/issues/4296, possibly a dup?

[2020-06-29 22:00] ghost commented on #5842
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-06-29 23:28] Hazhzeng commented on #5672
Related to another IcM: https://icm.ad.msft.net/imp/v3/incidents/details/190370140/

[2020-06-30 00:53] anthonychu commented on #6252
@ericjizbaMSFT Is there another way to attach a debugger in VS Code without relying on output?

@pragnagopa Can the host `Console.WriteLine` the message (bypassing any configured log levels) if it's running inside Core Tools?

[2020-06-30 03:50] caroe2014 opened #6286 "Consumption plan azure functions certificate not found issue"
I haven a customer who has issue this issue as well.

He has a Function App in consumption and has unsuccessfully tried to use a certificate public certificate.

This was has been tried:

Function App on Premium
Create a Premium Linux Python 3.8 app
Upload any cert into TLS/SSL Settings->Public Key Certificates
Go into Kudu:
cd /var/ssl/certs -> ls -la
Result: Find the certificate

Function App on

[2020-06-30 04:09] lakshmanav commented on #6276
Trying to followup as we are blocked because of this in production

[2020-06-30 04:10] lakshmanav commented on #6276
Any updates on this that can help us @yojagad  ?

[2020-06-30 05:08] balag0 commented on #6286
Loading certificates is not supported on Linux consumption sku currently. I opened this issue for tracking
https://github.com/Azure/Azure-Functions/issues/1644

Please follow that issue for updates.

[2020-06-30 05:08] #6286 closed, assigned to madelinegordon

[2020-06-30 07:22] soninaren opened #6287 "Create a cancellation notification for OOP workers"
The function runtime should notify workers when a function cancellation token is signaled. The worker would have the ability to expose this information in a language specific way (e.g. `CancellationToken` for the .NET worker).

[2020-06-30 09:59] dominicusmento commented on #4459
We too need this..

[2020-06-30 13:21] AsifulNobel opened #6288 "Timer Trigger Not Firing and Durable Orchestration Function Not Running"
#### Investigative information

- Timestamp: 2020-06-30T12:01:11.5775837Z
- Function App version: 2.0.13900.0
- Function name(s) (as appropriate): TimedReportingStarter, TimedReportingOrchestration, TimedReportEmailingOrchestration
- Invocation ID: d4ce71c6-66b1-4e9a-b1c6-be67bed6444d
- Region: US-East

#### Brief overview of how my code works

I have a Timer triggered function(TimedReportingStart

[2020-06-30 15:21] amtandon commented on #5950
@brettsam I am running into this issue pretty easily. I just created a brand new v3 ServiceBusTrigger Function with docker support and added Entity Framework 3.1 and when I try to query the DB, I get the error.

Here is my .csproj file:

[code]

Here is my docker file:

FROM mcr.microsoft.com/azure-functions/dotnet:3.0 AS base
WORKDIR /home/site/wwwroot
EXPOSE 80

FROM mcr.microsoft.com/dotnet/cor

[2020-06-30 15:27] brettsam commented on #5950
@amtandon -- did you see the workarounds and discussion here -- https://github.com/Azure/azure-functions-host/issues/6143?

[2020-06-30 15:50] amtandon commented on #5950
@brettsam if you are referring to [this](https://github.com/Azure/azure-functions-host/issues/6143#issuecomment-637826988), then yes. It gives me:

[code]
Is there anything else I should be trying?

One more thing - This seems to be a Linux issue. When I run this locally outside of docker there are no errors.

[2020-06-30 15:51] APIWT commented on #5098
@fabiocav Hope you are having a nice day :) Any updates on this?

[2020-06-30 16:22] #5647 closed

[2020-06-30 16:42] pragnagopa commented on #6252
@brettsam  - As of now VS Code relies on logging to attach a debugger. If the user sets logLevel to `None`, is there way to still write logs to console when running in core tools?

[2020-06-30 17:21] EricJizbaMSFT commented on #6252
Well we only use the logs for languages that use a port for debugging, like Python/JS/etc. because we can't attach until the port is open. For C#, we attach directly to the process and we don't need to wait

Do you by chance log the log level? Aka do you print a line that says "Log level: 'None'" or "Logs will not be printed because log level is set to 'None'"? If so, we can detect _that_ and thro

[2020-06-30 17:37] amtandon commented on #5950
The issue I have is the same that @npnelson is having - [here](https://github.com/Azure/azure-functions-host/issues/5950#issuecomment-623464784)

Does not work locally in DEBUG on docker, does work locally in RELEASE on docker.

[2020-06-30 19:15] pragnagopa commented on #6252
@EricJizbaMSFT - thanks for clarifying about C# vs out-of-proc languages. Fix in #6230 is enough to address the issue on when attach debugger.

@anthonychu  - Min loglevel is set to information. Setting log level to None in host.json

[code]
does not impact info level logs.

Do you have an example how attaching debugger fails due to log level?

[2020-06-30 19:35] elvirus839 commented on #4413
Hi guys, I am experiencing the same error.

using

- Microsoft.Azure.Functions.Extensions 1.0.0,

- Microsoft.NET.Sdk.Functions 3.0.7

- Microsoft.Extensions.DependencyInjection (3.1.5)

- Microsoft.Azure.WebJobs (3.0.16)

[code]

Any work around or which version of the sdk contains the fix?
Thanks.

[2020-06-30 20:50] IanKemp commented on #5950
@amtandon You are almost certainly stuck waiting for 3.0.13904 to roll out to Azure globally.

Then you'll have to wait for Microsoft to push a new version of the `Microsoft.NET.Sdk.Functions` package since 3.0.13904 has updated dependencies that `Microsoft.NET.Sdk.Functions` shares, and if those dependencies' versions aren't in sync, nothing works.

Then you'll have to wait for Microsoft to push

[2020-06-30 20:56] amtandon commented on #5950
Yeah, at least it will work in Docker when we deploy to AKS. For local debugging, I can do without docker.

[2020-06-30 21:53] anthonychu commented on #6252
@pragnagopa Pushed a repro [here](https://github.com/anthonychu/20200630-test-loglevels). I basically made the change in host.json you mentioned. It suppresses the current "Host lock lease acquired" message. I don't have the a build with the updated host with the new message. Perhaps that's not affected by the log level?

[2020-07-01 00:38] EricJizbaMSFT commented on #6252
So I did more digging and turns out this isn't the case _yet_. I think it's possible, but still need to do some more investigating and work to flesh it out. If it's easy for you to add the log in the .NET case, that would be great - we would "just work" with little effort from my side. If that's not easy, I'm comfortable saying the .NET case is on our side to fix.

On another note - we have a rele

[2020-07-01 01:00] ghost commented on #5886
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-01 04:00] #6005 closed, assigned to fabiocav

[2020-07-01 11:57] AsifulNobel commented on #6288
On further investigation, I have found that the control queues in the function task hub are not dequeuing items regularly. Control queues have more than 100-2000 items and I have not seen those empty in the past two days except after deployment at 10:30 AM (UTC) today.

According to [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-perf-and-scale#orch

[2020-07-01 12:50] AsifulNobel commented on #6288
Another things is when Control Queue items are dequeued in batches, does the Runtime wait until all of the items in buffer are successfully processed? How does that work?

[2020-07-01 13:50] APIWT commented on #6195
@mhoeger Bump! Any guidance would be very helpful.

[2020-07-01 14:23] PriceChild commented on #3406
To clarify, updating `linuxFxVersion` will only work for linux app services on consumption based plans and not those on app services/ise's?

[2020-07-01 15:50] pragnagopa commented on #3406
cc @ankitkumarr

@PriceChild - Updating linuxFxVersion should work for all Skus. Closing this issue as all the backend changes are deployed. Please reopen if you still cannot update node version by udpating linuxFxVersion.

[2020-07-01 15:50] #3406 closed

[2020-07-01 15:56] PriceChild commented on #3406
Thanks @pragnagopa I'll give it a go.

I'm surprised the ticket has been closed though - is it not still a bug that the standard setting `WEBSITE_NODE_DEFAULT_VERSION` (documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#node-version)) can't be used on Linux apps?

Or should I raise bugs/pr's on those documentation pages that they need to add these ext

[2020-07-01 15:58] pragnagopa commented on #3406
We do not intend to support  app setting `WEBSITE_NODE_DEFAULT_VERSION` for linux Apps. Please do open doc issues. Thanks!

[2020-07-01 19:04] brettsam commented on #5950
@amtandon -- can you spawn a separate issue with the details for how I can repro this? This issue is getting pretty overloaded. Mention me there and I'll jump over and look.

I'm wondering if it's the same issue that I saw when using the VS Docker tools? See comment here: https://github.com/Azure/azure-functions-host/issues/5950#issuecomment-635521230. But we'll follow up in the new issue.

[2020-07-01 20:36] pragnagopa commented on #6252
@EricJizbaMSFT  - For C#, can you continue to rely on existing pattern `Host lock lease acquired...` ? For all other languages you can use new log message.

Release that includes the new log messages is not rolled out yet. But since your changes would be backward compatible, you do not have to block on host release.

@anthonychu - I can repro the issue. Setting log level to `None` does hide all in

[2020-07-01 22:14] gzuber commented on #5898
Hey @karim007 -- I'd need a little more info to answer definitively. Is your function consumption? dedicated? elastic premium? Is there a specific issue you're trying to fix by deploying self contained (i.e. coldstart time)?

Generic Answer: For the most part (and depending on your hosting setup), deploying in self contained mode is not possible. The runtime that loads and runs your function/depen

[2020-07-01 22:47] #6249 closed, assigned to pragnagopa

[2020-07-01 23:43] yojagad commented on #6276
@lakshmanav  We're looking to see if some DI on your side is overriding the IConfiguration object. This could consequently, in some cases, result in functionTimeout not being picked up from host.json. https://github.com/Azure/azure-functions-host/issues/5685 . This could be something worth looking at on your side as well while we investigate this.

[2020-07-02 00:08] mhoeger opened #6301 "Better handling around specific exit codes of language worker (codes 0 and 200)"
A worker can exit with process code 0 or 200 due to user code (ex: `process.exit()` for Node.js), and this will mean that all subsequent executions will be accepted and inevitably time out.

We should be doing something on our end to either make sure that this cannot happen (currently, we do nothing [if a process exits with code 0](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs

[2020-07-02 01:25] fabiocav commented on #6190
About the second question, did you check with a more specific route?

[2020-07-02 01:26] fabiocav commented on #6109
Thank you!

[2020-07-02 01:42] fabiocav commented on #6088
My apologies, I'm taking a closer look here. The default tools run on a 64-bit version of the core tools. Can you test with the x86 version?

In order to run in 32 bit mode, please set the environment variable `AZURE_FUNCTIONS_PREFER32BIT`=`1` and relaunch VS

[2020-07-02 02:03] gzuber commented on #5585
Thanks for your feedback! I'm going to mark this as "Triaged" so that we can look into what can be done here. However, I can't guarantee that we'll end up making any changes (depending on any investigation done, our current workload, etc...).

[2020-07-02 10:18] qfyra opened #6302 "New Azure Functions management experience log stream doesn't log everything"
The "new Azure Functions management experience" log stream only logs some 30 rows, compared to the "classic experience" which logs everything. This issue is very easy to recreate, as per the instructions below. I've seen this issue across the board for all our functions for as long as the portal has defaulted to the new experience (some time in June 2020 I believe?) I just recreated the problem wi

[2020-07-02 10:30] Crossbow78 commented on #9290
We're deliberately url-encoding the slashes in order to not affect the request path, so I'm trying to understand why the `%2F` is decoded *before* route matching.

With a function route `/get-resources/{keyVaultUri}` a request like `/get-resources/https%3A%2F%2Fsomeurl.net` works fine when debugging on a local running environment (eg. IIS-express), but will result in status code 404 on a deployed

[2020-07-02 11:43] evannielsen commented on #6278
I am seeing exactly the same thing.
For added information I am only seeing this when  deployed to the East US region. I have exactly the same function code deployed to East US 2 and that function is running correctly.
Both functions are running on a Linux Consumption Plan.

After downgrading Microsoft.NET.Sdk.Functions to 3.0.6 this issue is resolved.

@DaneVinson this might get you going for now.

[2020-07-02 13:29] amtandon opened #6303 "SqlClient Errror in Azure app function V3 when launching in Docker with Visual Studio"
Getting the following error with Azure function V3.
[code]
Please provide the following:

- Timestamp:
- Function App version: V3
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps:

In Visual Studio, create a V3 Function with a Service Bus Trigger (the trigger should not matter), with docker support.
Add Entity Framework to the project
Add some

[2020-07-02 13:32] amtandon commented on #5950
@brettsam  I have opened issue #6303.

Ir definitely looks like it is an issue with VS Docker tools as mentioned in comment [#5950 (comment)]

[2020-07-02 13:57] brettsam commented on #6278
If you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I find anything from the backend logs.

[2020-07-02 14:02] evannielsen commented on #6278
Here is mine 2020-07-02T13:58:00.0013350+00:00', Id=b452bf92-c2f5-4c63-acc6-5ad1bd6f9baf

[2020-07-02 14:45] brettsam commented on #6278
@evannielsen -- so you're not seeing this anymore? Do you know when you moved to 3.0.6 and deployed? That'd help me look at these logs.

I do see that for a while you were getting host startup errors, but those seemed to be coming from your `FunctionStart.cs` (line 66).  The last one of those occurred at `2020-07-02 12:22:15.3810000`. Does that correspond with when you redeployed?

[code]
Looking

[2020-07-02 14:50] evannielsen commented on #6278
@brettsam I deployed with the 3.0.6 version somewhere around 7/2/2020, 8:20:18 AM Eastern. I do see that I am getting other errors getting logged in App Insights. Previous to that time the function app never made it as far as the startup function.

[2020-07-02 14:58] DaneVinson commented on #6278
@evannielsen thanks for the idea. I'll experiment with a different region.

@brettsam I cannot share the name of our Function App publicly and, as I stated originally, we cannot get any log streaming at all so I cannot get the information to share as described in your "private" link.

[2020-07-02 15:03] brettsam commented on #4705
One scenario we need to handle better: Exceptions being thrown from Startup.cs. Today App Insights isn't initialized so these logs can just disappear and customers can't tell that they have an exception.

Possible solution:

If we catch an exception in a startup, we:
1. Make sure the exception is returned as part of the Errors that the portal sees when pinging for host status. I'm fairly certain t

[2020-07-02 15:08] brettsam commented on #6278
@evannielsen: Okay, that time does line up. Your app was getting to the startup function -- but it was throwing the exception above and was failing to startup. At that point, there's no customer logging set up so we don't send the log to your App Insights, but it is visible in our backend logs. I've noted this scenario in #4705 and will push to have an improvement here.

But that still doesn't exp

[2020-07-02 15:18] evannielsen commented on #6278
@brettsam I see, I did make some change to the DevOps release that could have caused that error and also coincided with the downgrade to 3.0.6. The interesting part is that I was getting the "There are some issues with you runtime version." error message in the portal when I clicked the Refresh button in the function app.

[2020-07-02 15:55] brettsam commented on #6303
I highly suspect we're hitting something with Visual Studio's "fast mode" for debugging here: https://docs.microsoft.com/en-us/visualstudio/containers/container-build?view=vs-2019#debugging. When I turn off the optimizations, my app works (but I don't get the debugger attached automatically, it looks like).

Adding a bunch of people that may know -- @fabiocav / @ahmelsayed / @ankitkumarr / @balag0

[2020-07-02 15:59] DaneVinson commented on #6278
I went into the "Classic Experience" and discovered and error I hadn't seen, i.e.
[code]
I'm not sure why it was not included, the .csproj file is set to copy newer to output but it was apparently not being deployed. I changed the file to be of type "Content" and re-deployed. Still no luck. I finally marked it as optional at load (we use the App Service configurations for our settings) and that fi

[2020-07-02 15:59] #6278 closed, assigned to brettsam

[2020-07-02 16:16] pragnagopa commented on #6089
@fabiocav - we missed moving this during sprint planning. Moving this now.

[2020-07-02 16:31] ahmelsayed commented on #6303
@vijayrkn @BigMorty Not sure if you might know more about this. I wonder if the json deps manifest is pointing to windows dependencies for sql inside the container.

[2020-07-02 16:36] evannielsen commented on #6278
@DaneVinson the appsettings problem has roots in the fact that is does not know where that file actually is on the filesystem. I ran into this a while ago and switched to using environment variables instead.

[2020-07-02 16:42] DaneVinson commented on #6278
@evannielsen Thanks for the info. I'm assuming this is an issue with Linux? We have a different Azure Function App which runs under Windows that's never had this issue. I spent quite a bit of time comparing the two applications and couldn't find significant differences. I ended up concluding it was likely something related to the difference in OS but I had no hard evidence of that.

[2020-07-02 17:01] vijayrkn commented on #6303
@NCarlsonMSFT

[2020-07-02 17:29] EricJizbaMSFT commented on #6252
Yes we can. It doesn't fix the "runOnStartup" [issue for C#](https://github.com/microsoft/vscode-azurefunctions/issues/1971), but it maintains the current experience.

[2020-07-02 17:41] balag0 commented on #6302
@ammanifold Would you know if this is customizable (or any other recommendations)?

[2020-07-02 18:11] ammanifold commented on #6302
We are going to be releasing an update that will let users switch to the filestreaming model

[2020-07-02 21:50] NCarlsonMSFT commented on #6303
@amtandon I'm guessing by the exception you are seeing that (at least in Debug) you are using a SQL Express LocalDB instance? If you're not sure your connection string would start with "Data Source=(localdb)\". If so, then that is indeed not supported as the exception indicates (locadb is windows only). What you can do is run a second container with the [sql-server image](https://hub.docker.com/_/

[2020-07-02 22:00] #6131 closed, assigned to yojagad

[2020-07-02 22:00] #6037 closed, assigned to yojagad

[2020-07-02 23:26] amtandon commented on #6303
@NCarlsonMSFT I am trying to connect to an Azure SQL DB and not a Local DB

[2020-07-02 23:39] NCarlsonMSFT commented on #6303
@amtandon searching around on the web I found: https://github.com/dotnet/runtime/issues/23639 which indicates this error can happen when you don't specify a RID for the target platform. Can you try adding this to a property group in your project:
[code]

[2020-07-03 00:33] fabiocav commented on #6303
With a portable deployment, as long as you have the deps file in the appropriate folder, this should work without a RID. Can you confirm you have a `function.deps` in the bin folder of your deployed payload when running?

Also, @ahmelsayed, is the runtime we have in that image a self-contained build? That has an impact on RID resolution.

[2020-07-03 00:36] ahmelsayed commented on #6303
That's correct, the runtime is self-contained in that image. built with `--runtime linux-x64`

[2020-07-03 00:45] fabiocav commented on #6303
It would only be an issue if the appropriate RID for the target environment isn't present in our static catalog (which is what is used when running a self-contained host as we don't have the shared framework RID and that would also not be populated). I don't expect that to be the case with what is used in that image, but something to validate after taking a look at the deps file (and whether it's

[2020-07-03 00:50] ahmelsayed commented on #6303
[code]

[output.txt](https://github.com/Azure/azure-functions-host/files/4867202/output.txt)

[2020-07-03 00:56] brettsam commented on #6303
Also note that this isn't related to what SQL instance you connect to -- I can repro this by doing this in a Function: `var conn = new SqlConnection("");`. We're failing to find the native assembly, which causes the problem.

[2020-07-03 01:00] #5842 closed, assigned to pragnagopa

[2020-07-03 02:11] fabiocav commented on #6303
@ahmelsayed I'm talking about the deps file for the function itself

@brettsam did you have the function's deps? If so, I'll setup a repro and take a look at this.

[2020-07-03 14:32] gorillapower commented on #4761
Is there any update on this? Its been almost a month but you mentioned it would part of your next release, i think we are eager to implement this as soon as possible!

[2020-07-03 15:30] fabiocav commented on #4761
@gorillapower this change is part of a release payload that took longer than expected in validation, but has been queued for deployment, which couldn't happen this week due to deployment policies preventing changes over major holidays.

We expect deployment to start early next week and will keep the linked issue updated.

[2020-07-04 03:22] anthonychu opened #6304 "Update language extensibility guidance to recommend custom handlers"
We should clarify whether custom handlers is the recommended route for language extensibility. Current most searches for language extensibility lands in [the wiki](https://github.com/Azure/azure-functions-host/wiki/Language-Extensibility). We need to update it to include custom handlers.

@pragnagopa @fabiocav Thoughts on how strongly we should recommend custom handlers? e.g., would it be somethin

[2020-07-04 04:00] #5886 closed, assigned to yojagad

[2020-07-05 01:52] amtandon commented on #6303
There is a function.deps.json file in the bin folder under /debug/netcoreapp3.1/bin

[2020-07-05 02:01] amtandon commented on #6303
@NCarlsonMSFT and @fabiocav adding the RID as `<RuntimeIdentifier>linux</RuntimeIdentifier>` solves the problem.

Attached is a ZIP file of the failing solution

[BugReprod.zip](https://github.com/Azure/azure-functions-host/files/4874295/BugReprod.zip)

[2020-07-06 01:00] ghost commented on #5898
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-06 04:00] ghost commented on #6190
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-06 04:00] ghost commented on #6109
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-06 04:00] ghost commented on #6088
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-06 04:00] ghost commented on #6029
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-06 06:12] anthonychu opened #6305 "[Custom Handlers]Forward HttpTrigger request when enableForwardingHttpRequest=true"
The handler is always invoked with the function's name as the path.

Looks like the problem is here:
https://github.com/Azure/azure-functions-host/blob/242d08327b9cb751d7f9ccae1fb8d4570c8b0286/src/WebJobs.Script/Workers/Http/DefaultHttpWorkerService.cs#L175

`httpRequestMessage` is always empty because:
https://github.com/Azure/azure-functions-host/blob/242d08327b9cb751d7f9ccae1fb8d4570c8b0286/src

[2020-07-06 11:33] vaibhavramdasi commented on #5206
@brettsam Has the patch been applied? Is it safe to go back to ~3?

[2020-07-06 12:11] vitalybibikov commented on #6088
1. Set AZURE_FUNCTIONS_PREFER32BIT=1
2. Restarted VS.

![image](https://user-images.githubusercontent.com/7008739/86591813-f5ec6300-bf9a-11ea-9126-b6ea05279568.png)

[code]

Though, still reproduces.

![image](https://user-images.githubusercontent.com/7008739/86591040-6db98e00-bf99-11ea-8ab4-e7cf2a4e8db9.png)

![image](https://user-images.githubusercontent.com/7008739/86591418-3c8d8d80-bf9a-11ea-8

[2020-07-06 12:13] vitalybibikov commented on #3965
Hi @safihamid,

Have you found anything specific?

[2020-07-06 13:54] jrauschenbusch commented on #6181
any update here?

[2020-07-06 15:29] pragnagopa commented on #6305
This is recent regression in commit # https://github.com/Azure/azure-functions-host/commit/dcdd1c251fb041d6828d7b2cdcad99a311518cbe when we moved away from `HttpRequestMessageFeature`

This issue also does not populate Http Request content. For example, if HttpTrigger is a `POST` with json body, CustomHandler would be missing Body as well.

Assigning to @yojagad for further investigation.

@yojaga

[2020-07-06 15:57] AsifulNobel commented on #6288
After increasing instance count, the problem seems to have disappeared. Orchestration functions are being executed on schedule and Control Queue is also empty most of time. I have also misreported that Timer Trigger was not firing. Because it was triggering, but I had checked _requests_ Insights table instead of _traces_. That contained tracking event log for Timer trigger and function invocation.

[2020-07-06 17:30] brettsam commented on #6303
Side note -- the issue here is unrelated to any connection string (I put "" in there for my repro).

Here's two deps files to compare:
- Broken in VS "fast mode": [function.deps.fast.txt](https://github.com/Azure/azure-functions-host/files/4880385/function.deps.fast.txt)
- Works when running a container myself: [function.deps.regular.txt](https://github.com/Azure/azure-functions-host/files/4880386

[2020-07-06 18:06] anthonychu commented on #6305
@pragnagopa @yojagad I was trying to test it out to write up the docs. I ended up hacking together a fix so I could continue testing. If it's close to a good solution, maybe we can iterate on it and get it merged for this sprint? I just pushed it here: https://github.com/anthonychu/azure-webjobs-sdk-script/compare/242d08327b9cb751d7f9ccae1fb8d4570c8b0286...anthonychu:20200705-fix-customhandler-pat

[2020-07-06 18:12] pragnagopa commented on #6305
Thanks @anthonychu . Unfortunately, path is just one of the issues. Forwarding http request is still broken.

@yojagad - we should try to get the fix in for this sprint. Reassigning. If there are not good alternative to `HttpRequestMessageFeature`, for the short term revert to previous commit?

[2020-07-06 18:13] pragnagopa commented on #6305
Reassigning to current sprint as this is a regression and will block docs/samples updates for CustomHandlers.

[2020-07-06 18:18] anthonychu commented on #6305
Great. Thanks!

Do you know if this regression is in the host release that's scheduled to start rolling out this week? (3.0.13904?)

[2020-07-06 18:22] pragnagopa commented on #6305
It is part of the next release: v3.0.14063  which will be rolling out soon. I will update release annoucement to pin users to previous release

[2020-07-06 18:28] anthonychu commented on #6305
Is custom handlers using httpWorker affected (aside from that event hubs issue)? If not, we probably don't need to recommend pinning for the customWorker section as that's not documented yet. We'll just wait until these fixes roll out before documenting.

[2020-07-06 19:36] pragnagopa opened #6309 "Enable placeholder pools for Java11 - windows"
cc @amamounelsayed @anirudhgarg
Tracking item to turn on pools. Adding to current sprint to meet deadlines.

[2020-07-06 19:57] AsifulNobel commented on #6288
Can the initial Control Queue issue be due to this Storage SDK and DurableTask [issue](https://github.com/Azure/azure-functions-durable-extension/issues/961)? My app's Azure Storage SDK version, Durable Task version and Function app version matches. But I don't have any similar `SocketException` in exceptions table of Application Insights. How can I verify this?

[2020-07-06 20:05] artsheiko opened #6310 "Python Function app process events in sequence, not in parallel (Event Hub trigger, Consumption plan)"
We have the next chain : event producer -> input Event Hub -> Azure Function [Python] -> output Event Hub -> consumer.
Function app process events in sequence, not in parallel.

**Repro steps**
1. Create a function app

2. Create an Event Hub

3. Use an Event Hub Trigger for function
4. Deploy a Function with a not CPU-bound processing logic
5. Send 1000 messages in a Event Hub

**Expected behavio

[2020-07-06 22:48] fabiocav commented on #6303
@amtandon I'm glad that provides you a workaround.

As mentioned above, that shouldn't be needed, so we'll investigate and address the root cause here. Thanks for all the information.

[2020-07-06 23:01] pragnagopa commented on #6181
cc @anthonychu / @fabiocav - for assigning priority to this issue.

@jrauschenbusch  - This issue is now triaged. No ETA yet.

[2020-07-06 23:05] pragnagopa commented on #6302
Closing as this will be addressed in Ux update. @ammanifold - please link any Ux issues here if any.

[2020-07-06 23:05] #6302 closed, assigned to nobody

[2020-07-06 23:07] kashimiz commented on #5744
I'm still able to reproduce this issue. @mathewc, I see you created a PR to address this; are there plans to get it merged?

[2020-07-06 23:11] ankitkumarr commented on #6188
I think this is normal for certain "Bindings" or "Triggers". @brettsam or @paulbatum, do either of you know?

[2020-07-06 23:25] kashimiz commented on #5762
Hi @IanKemp, I'm sorry for the delayed response to this issue. I wasn't able to reproduce this error using the code you'd provided, using v3.0.3 and v3.0.8 of `Microsoft.NET.Sdk.Functions` on the 3.0.13901.0 runtime. In my run, VS breakpoints within the Startup method of the extended Startup class. Are you still experiencing this issue, and if so, what Functions runtime and version of the SDK are

[2020-07-06 23:41] #6232 closed, assigned to nobody

[2020-07-06 23:49] paulbatum commented on #6188
Yes when the functions host is running, it will interact with storage as part of its normal operation, even when there are no functions being triggered. The lease related operations you are seeing are normal (or sound normal based on your description).

As @ankitkumarr mentioned, some trigger types rely more heavily on storage - for example timers also relies on lease operations. Eventhub triggere

[2020-07-06 23:49] #6188 closed, assigned to ankitkumarr

[2020-07-07 00:19] balag0 commented on #6310
Thanks for the detailed description of the issue, could you also share the name of the function app (and approx time range ) which you used to test this configuration. Would like to check if the scaling logic worked as expected.

You can also share the function app name privately using
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2020-07-07 00:44] fabiocav commented on #6304
That's a good question. There's no good public documentation on the existing OOP model, and Custom Handler have a lot of limitations when compared to that. If we intent to better document the OOP model, Custom Handlers should be positioned as an alternative.

[2020-07-07 00:49] pragnagopa commented on #6304
Another perspective:
- For individual developers CustomHandlers is a good choice
- For someone who wants to enable a language and  willing to maintain a language worker, Rpc models is a better choice as this allows re-usability of language extension components.

[2020-07-07 01:03] paulbatum commented on #6310
So the main thing to focus on first is scaling, so please share the details Bala requested so we can look at that. I do have a few other suggestions, though these are mostly things that might help once scaling is solved:

Are you setting a partition key when you write the data? If you are using a partition key and you are using the same partition key for all 1000 messages, then they will land on t

[2020-07-07 02:21] mhoeger commented on #5599
Hey @sadgit - so sorry for the delay, is this still an issue for you?

[2020-07-07 02:24] mhoeger commented on #5825
@btardif - can you help identify if this would be a portal issue or maybe kudu?

[2020-07-07 02:30] mhoeger commented on #5841
@fabiocav and @brettsam - I'm guessing this isn't something we could enable now (breaking), but wondering if there is a clean workaround you can think of?

[2020-07-07 02:32] mhoeger commented on #6132
@pragnagopa and @anthonychu (I think!) - can you help triage this issue?

[2020-07-07 02:33] mhoeger commented on #6132
@guibirow - btw, my guess is that we won't enable this feature (either must choose custom handler or functions), similar to how we don't allow a mix of different languages in a single function app.

[2020-07-07 02:34] mhoeger commented on #6156
@RainWuGuy - sorry for the delay. are you still experiencing this issue?
can you share your function app name, either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)? this will help us investigate. thanks!

[2020-07-07 02:41] mhoeger commented on #6195
Hey @APIWT - sorry for the delay! Cancellation typically happens when an instance stops or is recycled - this could happen because of scale-in (we used to need 5 instances but things are looking more stable so we're going to scale down to 4) or because app content/settings are changed or because of some other exception / getting to an unhealthy state. I'm kinda surprised to hear your situation abo

[2020-07-07 02:49] anthonychu commented on #6132
That’s correct. We don’t currently have plans to support this as each app is only designed to work with one type of language worker/handler at a time.

[2020-07-07 02:55] mhoeger commented on #6244
Hey @CharlesAtDCube - checking in with some of our sister teams to see what might have gone wrong... Sorry for the delay. Have you been able to deploy since then? Was it a transient issue?

Thanks!

[2020-07-07 02:57] mhoeger commented on #6033
Hey @bfederau - sorry for the delay.
Can you share your function app name, either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)? Also, if you have any updates on this issue that would be great! Thanks

[2020-07-07 03:10] mhoeger commented on #4732
Closing as stale

[2020-07-07 03:10] #4732 closed

[2020-07-07 03:10] pragnagopa commented on #6310
Assigning to @balag0 for Triage. @balag0 - Please do reassign as needed.

[2020-07-07 03:12] mhoeger commented on #5014
@brettsam or @lmolkova - mind helping weigh in on this question?

[2020-07-07 03:46] fabiocav commented on #169
Closing this as a stale issue. This hasn't come up in a while and we can revisit if demand increases.

[2020-07-07 03:46] #169 closed

[2020-07-07 03:47] fabiocav commented on #532
Closing stale issue.

[2020-07-07 03:47] #532 closed

[2020-07-07 03:47] fabiocav commented on #636
Closing stale issue.

[2020-07-07 03:47] #636 closed

[2020-07-07 03:50] fabiocav commented on #1208
Closing this as it no longer applies.

[2020-07-07 03:50] #1208 closed

[2020-07-07 03:50] fabiocav commented on #1416
Done.

[2020-07-07 03:50] #1416 closed

[2020-07-07 03:51] fabiocav commented on #869
Closing stale issue. This is no longer applicable

[2020-07-07 03:51] #869 closed

[2020-07-07 05:44] crgarcia12 opened #6316 "CRON Function stops randomly in consumption plan"
#### Check for a solution in the Azure portal

I have multiple functions apps in different regions. I deploy the same function to all of them using `func azure functionapp publish`. Functions run for a while but then they stop firing.
All the Apps share the same storage account

#### Investigative information

**- Timestamp:** 2020-07-07 05:08
**- Function App version:** 2.0.13900.0
**- Function A

[2020-07-07 06:02] guibirow commented on #6132
Does it mean it will also force queue based trigger to be handled in the custom http handler?

I don't understand why this should be a restriction given the .net will be already loaded in memory to handle the request and forward it to the custom handler.
In this case would be nicer if .net didn't need to handle the request then, and have the custom handler receive all the calls directly, the .net

[2020-07-07 07:10] anthonychu commented on #6132
Yes. The main goal of custom handlers is to allow you to write a worker process that is called whenever a function, regardless of trigger type, is invoked. When you use a custom handler, it replaces the language worker (Node, Java, etc). The Functions host happens to use HTTP to communicate with a custom handler, but you can think of that as an implementation detail and it’s not related to the typ

[2020-07-07 08:55] inuvano-labs commented on #5852
I came across this issue yesterday - uploading the authorization.json file to the root of function app resulted in "The page cannot be displayed because an internal server error has occurred."

The file was UTF-8 encoded, when it should be ANSI. This was caused by me accidentally adding the file as a .js file and renaming it in Visual Studio to .json (.js = utf-8, .json = ANSI). Re-creating the fi

[2020-07-07 09:00] guibirow commented on #6132
Got it, thanks for clarifying.
I will close the issue then.
Thanks again

[2020-07-07 09:00] #6132 closed, assigned to nobody

[2020-07-07 10:25] artsheiko commented on #6310
@paulbatum and @balag0, thank for your reply.

UTC execution time : 2020-07-07T10:10:14Z
Function GUID : 5c1d4eeb-448f-4a9b-9f83-e5417d14e878
Region : North Europe

Last test using 200 messages (approx time range) :
2020-07-07 09:20
2020-07-07 09:50

The two files below was used to send and receive messages.

send.py :
[code]

receive.py :
[code]

Partition key is not set while batch is created =>

[2020-07-07 13:34] brettsam commented on #5014
InvocationId is the Azure Functions identifier of a unique function invocation (note that in App Insights, we put this into a custom property). It is currently unrelated to Application Insights and is used by the Azure Functions team to identify individual invocations in our logs.

We originally also used InvocationId as the identifier for operations in Application Insights. However, that got more

[2020-07-07 15:17] artsheiko commented on #6310
UTC execution time : 2020-07-07T12:35:35.3978485Z
Function GUID : 6ed7760a-ee3c-4e2f-a2e3-bcfbfc3c6835
Region : North Europe

Last test using 200 messages (10 batches , 1 batch = 20 messages, approx time range) :
2020-07-07 12:35
2020-07-07 13:14

function.json :
[code]

The file below was used to send messages as batches.
send_w_batch.py :
[code]

[2020-07-07 15:53] vsadams commented on #6186
Check to make sure you replace all using statements for
 ```using Microsoft.WindowsAzure.Storage.***;```
with
```using Microsoft.Azure.Storage.***;```

Class names are the same so if you just updated the nuget package, the compiler wont pick up the difference. You dont want the binder binding to the legacy classes anymore though.

[2020-07-07 16:24] btardif commented on #5825
This is an ARM call, so I don't  think it's a portal problem. @takyyon can you provide more details to @mhoeger?

[2020-07-07 16:34] APIWT commented on #6195
Hey @mhoeger! Thanks for getting back to me.
The following invocation ID should make it easy to investigate: cd1a1a77-7c68-4d1c-9557-cb15f7d2dce4
The UTC timestamp is: 2020-07-07 07:04:39.198

Notice the exception: The I/O operation has been aborted because of either a thread exit or an application request. (if you look in the stack trace you will see a TaskCanceledException)

The function is a du

[2020-07-07 17:10] mhoeger commented on #6195
Hey @APIWT ! In your case, it looks like you're running into cancellations of executions because instances are getting to an unhealthy state, are then restarting (canceling executions). From at least one instance and some of our diagnostic dashboards, it looks like your biggest issue is that your app is creating too many outbound connections. You can see the same dashboards I'm looking at by going

[2020-07-07 17:20] APIWT commented on #6195
@mhoeger Ugh, another one bites the dust related to this issue: https://github.com/Azure/azure-functions-host/issues/5098

We needed to work around scoped services not working properly by newing up a new ServiceCollection and building a provider for every function invocation. Unfortunately, that means our storage queue singleton is not truly a singleton which causes it to be created over and over

[2020-07-07 19:02] Bpflugrad opened #6317 "System.MissingMethodException for Existing Custom Library Method."
Hello,

I am getting `System.MissingMethodException` for a custom wrapper for `Microsoft.ApplicationInsights.TelemetryClient`.  This seems to occur randomly, with the Function App operating for some number of days before exhibiting the problem.
My company name is the root namespace for our projects, and my leadership has asked me to replace it with [REDACTED].  Sorry if that seems odd or is inconv

[2020-07-07 19:16] apawast opened #6318 "Test functions against a APM v2.1 site"
There is no work for us to upgrade to APM v2.1, but we will need to test it once the work is done on the PIE team's end.

[2020-07-07 19:41] mhoeger opened #6319 "Remove "sys" from trigger data from host => language worker"
Currently, we pass data like "sys" (and for HTTP, "query" and "headers". However values in "sys" in particular are not RPC-friendly and we should avoid passing those values if we can.

Node.js worker is the only worker that we manage that exposes these values to end-users.

[2020-07-07 19:41] jackbond commented on #4577
@fabiocav Will the documentation include information on how to add a custom ConfigurationSource / ConfigurationProvider to the default list created by the functions runtime?

[2020-07-07 19:50] brettsam commented on #4577
Yes. Docs will first go into the https://github.com/Azure/azure-functions-dotnet-extensions repo.

Your code will look like this: https://github.com/Azure/azure-functions-dotnet-extensions/pull/33/files#diff-963fa0079554a9be3de8c62bb88e2695

[2020-07-07 20:20] jackbond commented on #4577
@brettsam That looks perfect. The post by @fabiocav indicates this should be available any time, so we should be expecting an update to the Microsoft.Azure.Functions.Extensions package?

[2020-07-07 20:59] fabiocav commented on #6318
This is currently blocked on the work described above.

[2020-07-07 21:07] brettsam commented on #4577
The host release is just starting to roll out today and takes roughly a week until it's worldwide. And yeah, best place to watch is probably the Releases here -- https://github.com/Azure/azure-functions-dotnet-extensions/releases.

Also note that we're discussing whether to put this out as a "preview" nuget package at first -- but I'll still create a Release there with details on how to use it.

[2020-07-07 21:58] rraczdw commented on #6096
This is still an issue with TimerTrigger as well. The workload of our functions has increased and it started to fail silently (neither successful or failed invocation was logged, we could only tell by looking monitoring info logs)

[2020-07-07 23:49] balag0 commented on #6310
The app scaled to 1 instance. But this is by design with just 200 messages and non-increasing queue length.

@alrod @pragnagopa I shared the kusto query with the app details by email. Please update here if you have anything else to add.

[2020-07-07 23:58] paulbatum commented on #6310
Its not quite as simple as that. For other trigger types like service bus, we also use queue time as a metric to drive scale, and this helps for cases where the messages require heavy processing. I think perhaps the problem here is that we don't have such a metric available for the eventhub case, and typically customers use eventhub for lightweight/realtime event processing and so the lack of some

[2020-07-08 01:48] gzuber opened #6323 "[V1] Function App can get in bad state if unable to create directory for FileSystemSecretsRepo"
The default for V1 function apps is to store secrets in a FileSecretsRepo. This issue is related to a CRI where the customer's app was put in a bad state and unable to recover because it was unable to create a directory for these secrets. The exceptions were coming from the FileSystemSecretsRepo constructor [here](https://github.com/Azure/azure-functions-host/blob/v1.x/src/WebJobs.Script.WebHost/S

[2020-07-08 04:13] krfrost1 commented on #5893
The workaround did not work for the AZ 204 Lab 7 today. Several of us tried the same steps, including both workarounds
DOTNET_ADD_GLOBAL_TOOLS_TO_PATH=false (this was set already when we created the function)
DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true (also tried it with false and not there at all; it made no difference)

Runtime version = ~3
also tried setting it back to ~2, all with the same error.

[2020-07-08 05:32] Dzoukr opened #6324 "Add support for Enable attribute"
#### What problem would the feature you're requesting solve? Please describe.
There is already existing attribute `Disable` which can be used on function / class level, however its switched logic (disabled only if explicitly said in configuration) is difficult for trunk-based development with feature toggles. Any new functions deployed on different environment (like production) are enabled by defa

[2020-07-08 05:43] artsheiko commented on #6310
@balag0, will it be useful if we send 200 / 1000 messages and then 1/2/5/10 others each 5/10/N seconds to simulate new incoming events to force function to scale up ?

For our purposes, we are not limited to the pattern event hub -> function -> event hub. The main objectif is to process events quickly as possible. Execution must be parallelized. It is unacceptable for the producer to send the 1000

[2020-07-08 11:16] Spaceman1861 commented on #6029
Sorry for the long delay on this.

I have generated this repro that demonstrates that httpclientfactory alone is no the issue.

[code]

That works fine.

[2020-07-08 11:36] Spaceman1861 commented on #6029
Oddly I cannot replicate this anymore.

I have updated dotnet runtime since to 3.1.5 so maybe that fixed it :|

This works for me now.

[code]

Im going to close for now

[2020-07-08 11:36] #6029 closed, assigned to fabiocav

[2020-07-08 13:34] APIWT opened #6325 "Official guidance on AddHttpClient"
#### Is your question related to a specific version? If so, please specify:
No

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
My team has grown very fond of the `AddHttpClient` extension that can be used to created typed HTTP clients. That being said, after doing some digging it appears that the clients are created using the transient lifetime,

[2020-07-08 13:38] APIWT commented on #6195
@mhoeger I opened a somewhat related issue here if you could take a look: https://github.com/Azure/azure-functions-host/issues/6325

[2020-07-08 16:05] pragnagopa commented on #6305
Yes, :(  - `customHandler` vs `httpWorker` is only in the config. Once config is populated, it is the same code. I updated release announcement page with breaking changes.

cc @FinVamp1  - in case any CRIs will be filed.

[2020-07-08 16:24] anthonychu commented on #6305
Thanks @pragnagopa. And pinning only works on Windows, right?

[2020-07-08 16:27] pragnagopa commented on #6305
Pinning works on windows (all skus) and linux dedicated.

[2020-07-08 16:29] anthonychu commented on #6305
OK. So if someone is on Linux consumption, they will be broken unless they switch to dedicated or Windows.

[2020-07-08 16:31] pragnagopa commented on #6305
That is correct.

cc @fabiocav  for visibility.

Since the feature is in preview, does not meet the bar for hotfix.  We will be preparing for next release this week and fix will be part of it.

[2020-07-08 18:10] angelcervera commented on #6328
Following the documentation and getting this error. Nobody from Microsoft takes care of these types of things? :angry:
The same problem using nodejs 10 and 12 and Runtime 3. So it is not only with PowerShell.

Sometimes, I feel like I'm working with a beta version.

[2020-07-08 18:25] brettsam commented on #6215
Note: design needs to allow for filtering of Log Analytics logs using the "logging" section in host.json -- which internally uses ILogger's filtering mechanism. SystemLogger is exempt from that today b/c it has an explicit filter.

[2020-07-08 19:08] AnatoliB commented on #6328
@angelcervera Does this workaround help you?

[2020-07-08 19:11] shibayan opened #6328 "[In Portal] EventGrid Trigger execution failed with NotImplementedException"
### Repro steps

1. Create new Function App with PowerShell Core stack
2. Add new function in portal
3. Select `EventGrid Trigger` function template
4. Confirm `Microsoft.Azure.WebJobs.Extensions.EventGrid` installing dialog
5. Select created function and click `Run` button

### Error log

[code]

### Addtional information

- Runtime version: 2.0.12888.0 (~2)
- Platform: Windows
- ASP Tier: Consum

[2020-07-08 19:16] klogan12 opened #6329 "function prooxies - Strip request headers"
Do we have an option to strip request headers for apis implemented via azure functions?

[2020-07-08 20:15] kashimiz commented on #5798
My apologies for the delayed response on this one. @Leosamus, @cddev and @vkurmi, when are you observing this issue - does it occur when running locally, and/or deployed to Azure? @ccdev, please also provide more information about your environment, including the Functions host version.

If you're observing this problem on Azure, please provide the following information as well:

- Timestamp:
- Fun

[2020-07-08 20:20] kashimiz commented on #5836
Hi @wuzhuoqing, I'm very sorry for the delayed response to your issue. Are you still experiencing the same problem with you timer trigger? If so, please provide the app information and invocation ID of the most recent failure to trigger.

Additionally, if you haven't, please take a look at our [timer trigger troubleshooting guide](https://github.com/Azure/azure-functions-host/wiki/Investigating-an

[2020-07-08 20:22] pragnagopa commented on #6209
Intial design has been discussed. Moving to next sprint for implementation.

[2020-07-08 21:29] paulbatum commented on #6310
Oh yes, service bus is much more appropriate for your workload (based on the details you've shared so far).

If you want maximum parallelism and there are no ordering requirements at all, then eventhub is a poor choice because each partition is ordered. This means that the maximum amount of parallel VMs you can have running processing your workload is equal to your partition count. Also any messag

[2020-07-08 23:50] fengyanglang commented on #5660
We are experiencing the same problem. Our timer trigger is scheduled to run at 10 am UTC daily. But it ended up running only 8 times in the past 30 days. The gaps from each runs are about 3 to 6 days without obvious patterns.

The TimerTrigger is set as:
[TimerTrigger("0 10 * * *", RunOnStartup = false, UseMonitor = true)]

[2020-07-08 23:53] zmarty commented on #5660
+1, we use Azure Functions v3 on Windows - Premium Plan

The machines are NOT under load.

We use with UseMonitor = true and the trigger still skips a lot of runs :(

[2020-07-09 00:07] balag0 commented on #5660
Please include the app names. You can also share the app name privately using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2020-07-09 00:23] fengyanglang commented on #5660
Can you use this information to find the app?

Location: East US
Log: Executing '[Azure -Function-Name]' (Reason='Timer fired at 2020-07-08T10:00:00.1835707+00:00', Id=ff5a550b-db47-4b9e-89bd-8e330383f8c0)

[2020-07-09 01:16] dominiclapointe opened #6331 "Creation of Function App failing - Unexpected InterServerError"
#### Investigative information
- Timestamp: 7/8/2020, 9:02:02 PM
- Function App version: n/a
- Function App name: n/a
- Function name(s) (as appropriate): n/a
- Invocation ID: n/a
- Region: East US

#### Repro steps
Create a new function app on Linux using .net core 3.1.
Use an existing app service plan (Linux - F1).
Select existing storage
Select existing AppInsight.

#### Expected behavior
Funct

[2020-07-09 02:40] anthonychu opened #6332 "Log the request latency between host and worker"
Not sure if this is already possible or what is needed here, but it would be useful to emit telemetry about how long it takes between the host sending a request to the worker and the worker starting work on that request.

Especially for single threaded language workers like Python and Node, this would indicate that there a function is blocking others from executing, resulting in a queue up of requ

[2020-07-09 03:05] pragnagopa commented on #6264
Created alert and following up with with DataRole/Scaling team offline.

[2020-07-09 03:05] #6264 closed, assigned to pragnagopa

[2020-07-09 03:06] pragnagopa commented on #6253
cc @fabiocav
PR needs to be reviewed. Moving to next sprint.

[2020-07-09 03:06] pragnagopa commented on #6250
This is done!

[2020-07-09 03:06] #6250 closed, assigned to pragnagopa

[2020-07-09 03:07] pragnagopa commented on #6089
moving this back to Triaged due to other higher priority tasks.

[2020-07-09 03:19] #6305 closed, assigned to yojagad

[2020-07-09 04:00] #5898 closed, assigned to gzuber

[2020-07-09 04:34] fabiocav commented on #6331
Unable to repro this, so having a correlation ID, an app name a a region would help us narrow down what happened with this particular set of requests.

[2020-07-09 06:03] ankitkumarr commented on #6316
Hi @crgarcia12, did you happen to delete your function app? I couldn't find it.

Looking at old logs, I see that your app ran successfully until the time you mentioned, and then it stopped running the function, as you said. I see errors in the logs with functions host trying to get the lease to monitor and run your function. Timer trigger functions acquire Azure storage lease in order to identify

[2020-07-09 06:10] ankitkumarr commented on #6316
Actually, I just realized that your function app name is fairly long (over 32 chars). Do you happen to be sharing your storage account between mutliple function apps? Or are you using slots?

We have a known issue where if the function app name is longer than 32 chars, it can cause collisions in the storage account (if multiple function apps have same 32 char prefix). The collision would mean that

[2020-07-09 06:16] ankitkumarr commented on #5888
Hi @ShreyaRai18, we had some issues with the last Functions Python release. Would you mind updating your local core tools and retrying?

Also I can't really reproduce the issue on my end. Do you have a code sample or a repro that I can run locally and debug?
Thanks!

[2020-07-09 06:58] nogic1008 commented on #6055
Same issue occurs in my functions, and I have to take the workaround as below.
[code]

function.json
[code]

[2020-07-09 07:00] #6190 closed, assigned to fabiocav

[2020-07-09 07:00] #6109 closed, assigned to fabiocav

[2020-07-09 07:00] crgarcia12 commented on #6316
Yes! I am sharing the storage account! so that might be it. The function started again the next day because I manually triggered it with the "Test your function" in the portal - Thanks!

[2020-07-09 12:25] a-vishar commented on #5851
We're also facing the same issue, any news on this one?

[2020-07-09 12:42] dominiclapointe commented on #6331
Hi @fabiocav, sorry for not providing them as i did know what was 'public' and what was 'private' as information.

CorrelationId : 6ea9ec4d-c4b3-47cf-8614-8be969db1ee3
App Name : the provided name was 'uat-my-replication-consumer' but never been create
App Service Plan name : clientPortal
Region: East US
Operation name: 748B08942E3805FE

if you require any more information, let me know.

Thank you

[2020-07-09 14:25] humblemat810 opened #6334 "Blob Event Trigger success on python local machine but not invoked on deploy"
created blob event trigger on azure function app that automatically log file name and file size
python local machine working,
uploaded file to blob, event logged when debugged on local machine,
never invoked after clicking the deploy on vs code azure function extension
![azure_failure](https://user-images.githubusercontent.com/67593116/87052097-fe5ecb00-c232-11ea-95e1-6172d6cd9806.png)

the upload

[2020-07-09 15:14] pragnagopa commented on #3763
This is addressed in commit #https://github.com/Azure/azure-functions-host/commit/b79be7496308bb789a3e6cad9c57f6d0e813a2e4#diff-654541726e0b624e96edd60b6d7ab23e , `WorkerDescription` now has a list `WorkerArguments` that can be used specifically for worker args

[2020-07-09 15:14] #3763 closed

[2020-07-09 15:16] pragnagopa commented on #6178
`customHandler` config changes are rolling out to prod. Assigning issue to current sprint to update samples.

[2020-07-09 15:53] JonCanning commented on #6186
That was it, thanks @vsadams

[2020-07-09 15:53] #6186 closed, assigned to nobody

[2020-07-09 16:19] zmarty commented on #5660
Just to add some background info, both @fengyanglang and myself are working in MSFT on an internal project.

[2020-07-09 16:35] ankitkumarr commented on #6316
Thanks for the confirmation! I will close this issue in favor of the other one. Please let us know if you follow-up questions and we can re-open the issue.

[2020-07-09 16:35] #6316 closed, assigned to ankitkumarr

[2020-07-09 16:39] pragnagopa opened #6335 "Release V2/V3 for Sprints 78 and 79"
Tracking item for release activities

[2020-07-09 17:27] idg10 opened #6336 "Cannot use System.Interactive.Async v4+ in .NET Azure Function"
If you add a reference to v4.1.1 of the `System.Interactive.Async` NuGet package to an Azure Functions project, you cannot use it because the `RemoveRuntimeDependencies` build task defined in this repo deletes it from your build output.

The code that performs the deletion lives in this repo at https://github.com/Azure/azure-functions-host/blob/1ed2a54159eb3c9aaff11a9289be2bf1ce91dcb5/tools/Extens

[2020-07-09 20:10] #6071 closed, assigned to Francisco-Gamino

[2020-07-09 20:30] dominiclapointe commented on #6331
I did retry a few time today and always the same issues : There was an unexpected InterServerError. Please try again later.

We did try on another subscription, i asked someone else to do it in case my user was the problem...

We successfully created multiple app service, appinsight, azure ServiceBus, azure SqlServer without any issues.

[2020-07-09 20:37] amamounelsayed commented on #6309
cc @apawast

[2020-07-09 20:56] anthonychu commented on #6178
What's the ETA? I'll work on the docs.

[2020-07-09 20:58] pragnagopa commented on #6178
Changes are still rolling out ETA ~2weeks. I will update this issue when roll out completes and I have tested updated samples in prod.

[2020-07-09 23:32] #6268 closed, assigned to soninaren

[2020-07-09 23:35] ConnorMcMahon opened #6337 "File.Move for Linux dedicated function apps results in lost telemetry"
Functions logs are written to file by LWAS to guarantee fault tolerance, and the files are periodically rotated so that we do not reach excessive sizes. Our log forwarding service - which is responsible for reading the log files and forwarding the data to our telemetry pipeline - listens for a specific inotify event associated with rotations. When it receives this event, it registers the log file

[2020-07-10 00:01] steveellis commented on #5090
I guess a workaround for now would be to do your development directly on the debian docker instance that is being made available here and is presumably the same as the production runtime. Then on that do ```func start``` instead of building and starting the docker instance. Using the function development runtime (what fires up on ```func start```) builds faster than completely rebuilding the docke

[2020-07-10 00:14] mhoeger commented on #5090
@anthonychu - I remember I've seen you enable CORS locally with local.settings.json. Do you know if/where that's documented anywhere? And am I remembering right that this is possible?

[2020-07-10 00:45] anthonychu commented on #5090
Yes. It's here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#local-settings-file

But it sounds like what we're looking for is to enable CORS in the host (without Core Tools). @kashimiz might know if this is possible. We do read the CORS config from environment variables in the host:

https://github.com/Azure/azure-functions-host/blob/d648

[2020-07-10 01:01] ankitkumarr commented on #6336
Thanks for the elaborate issue!
I think it makes sense to me.

@fabiocav and @brettsam, would either of you have thoughts on this one? Wondering if we can update our reference of `System.Interactive.Async` to v4. Though, I am not sure if there are breaking changes that could break existing users' apps.

[2020-07-10 06:49] angelcervera commented on #6328
I'm testing with different versions, always working from the Portal to be sure that I'm not doing something wrong. I'm using the nodejs code (to be able to edit from the Portal) from the Documentation.

I think that the problem is the combination between **Runtime Version and Extension Bundle Version**, but I need more time to find which combination is worng.

At this moment, I was not able to get

[2020-07-10 07:05] angelcervera commented on #6328
@AnatoliB This is my test at the moment:

Runtime | Extension Bundle | Working|Notes
------------ | ------------- | ---------|-----
2.0.13900.0 | 2.0.0 | WORKING|
3.0.13901.0 | 2.0.0 | NOT WORKING| This is the default configuration using the Portal

The question is, does a runtime version require a specific Extension Bundle version? There is a little mess in the documentation about the relationshi

[2020-07-10 13:15] steveellis commented on #5090
@anthonychu was easy for me to give your idea a shot. I added the two environment vars to my ```docker run``` using "*" and I'm still getting the same CORS error: ```No 'Access-Control-Allow-Origin' header is present on the requested resource.```. Looks like @vnom2112 had the same idea: https://github.com/Azure/azure-functions-docker/issues/187. And it didn't work for him either.

[2020-07-10 16:09] humblemat810 commented on #6334
I found out that the tutorial forget to instruct the user to enable the slot settings, which are disabled by default
Recommendations :
either
1.  the VS code should sync the app settings instead of leaving those settings unset.
or
2.  Tutorial instruct the users to enable the slot settings

[2020-07-10 16:23] soninaren commented on #4702
@FilipVanRaemdonck, We would have to further understand the deployment set up you inorder to understand what is going on. To provide a little information on `app_offline.htm` file. I am aware of two methods that would cause the host_offline.htm file to be added.
1. When you are deploying an app via Visual studio using msdeploy.
2. When installing extension via portal.

In both cases the file shoul

[2020-07-10 16:23] #4702 closed

[2020-07-10 16:25] soninaren commented on #4912
This work is now complete.

[2020-07-10 16:25] #4912 closed

[2020-07-10 20:34] madelinegordon commented on #5694
Hello, so sorry for the long delay in response. Unfortunately, our logs only persist for 30 days. Let me know if this issue has re-occurred, and if so I will be able to investigate. Thank you.

[2020-07-10 21:57] balag0 commented on #6331
@dominiclapointe The app creation failed due to the following error

**64 Bit worker processes cannot be used for the site as the plan does not allow it. For more information on pricing and features, please see: https://aka.ms/appservicepricingdetails**

Let us know if you have any questions regarding this error message.

[2020-07-10 22:00] SatishRanjan opened #6344 "Function still tries creating secondary file watcher folder when fileWatchingEnabled is set to false"
https://github.com/Azure/azure-functions-host/blob/e9ac4ec2ead96f6fca1084fb464252aff6fecd10/src/WebJobs.Script.WebHost/FileMonitoringService.cs#L123

[2020-07-10 22:02] SatishRanjan commented on #6344
Eet fileWatchingEnabled to false

{
    fileWatchingEnabled: false
}

[2020-07-10 22:12] balag0 commented on #6332
Atleast for python, I think we are able to figure this out currently though it is not straightforward. @Hazhzeng might know the exact details.

[2020-07-10 22:14] a-vishar commented on #6087
Any update on this?

[2020-07-10 22:22] a-vishar commented on #5590
Any update on this?  There are numerous issues which are the same as this one, a couple I found with a quick search:

https://github.com/Azure/azure-functions-host/issues/5851
https://github.com/Azure/azure-functions-host/issues/6087

6 months of DI issues for something as fundamental as a Http Client without an official word on the subject isn't great, could someone at least respond?

[2020-07-11 01:00] ghost commented on #5762
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-11 01:15] anthonychu opened #6346 "[Custom Handlers] [Go]SocketException when accessing key vault from the handler"
https://github.com/Azure-Samples/functions-custom-handlers/issues/10

[2020-07-11 05:18] newOnahtaN commented on #5399
I'd like to remove the `FUNCTIONS_V2_COMPATIBILITY_MODE` environment variable from my project - is there a more appropriate way to create an HTTP response that doesn't use synchronous IO?

[2020-07-11 19:25] newOnahtaN commented on #5399
I figured out the answer to my question:

[code]

[2020-07-12 07:31] simov opened #6348 "Simple proxies configuration fails with 404"
#### Investigative information

Please provide the following:

- Timestamp: not sure
- Function App version: ~3
- Function App name: simov
- Function name(s) (as appropriate): grant
- Invocation ID: https://simov.azurewebsites.net/foo
- Region: not sure

#### Repro steps

1. Define a `hosts.json` file:

[code]

2. Define `functions.json` file:

[code]

3. Define `index.js` file:

[code]

4. Define

[2020-07-12 07:51] wagich commented on #6239
I seem to have the same problem. No matter what value I set for `AZURE_FUNCTIONS_ENVIRONMENT`, `IHostEnvironment.EnvironmentName` always returns "Development".

[2020-07-12 19:00] ghost commented on #5014
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-12 22:00] ghost commented on #5836
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-12 22:00] ghost commented on #5798
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-12 22:30] anthonychu commented on #5090
@steveellis A couple of things to note... If you enable credentials support, you *cannot* use `*`, you must specify the actual origin(s). Also looks like the origins list needs to be a JSON serialized array of strings. (not saying this is going to work though, but make sure you take these details into account if you try setting the variables)

[2020-07-13 06:03] tomkerkhove commented on #5014
I don't have a recent repo as it's been a long time but this is ok, thanks for the update!

Maybe it would be good to have this elaborated more in the docs @mhoeger?

[2020-07-13 07:00] ghost commented on #5888
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-13 12:12] t-l-k commented on #5098
@fabiocav please can you advise as to any updates for this issue? We've some gaps opened up in our roadmap in August in which we're looking forward to paying down some technical debt, and revisiting this issue is on our tracker alongside migrating to dotnet 3+.

Is this recognised as a potential https://github.com/dadhi/DryIoc issue? Is there a correlating ticket with the DryIOC project?

Thanks

[2020-07-13 13:51] espray commented on #5098
@jeffhollan @brettsam any update on this issue?

[2020-07-13 17:05] Bpflugrad commented on #6317
This occurred again July 9th at 7:48AM and 8:03AM Pacific time.  Posted to `azure-webjobs-sdk` because the stack trace mentions that project throughout.  Seems like possibly a better place for this issue.  Posting the full stack trace here as well.
[code]

[2020-07-13 18:17] floatingfrisbee opened #6349 "Azure function app crashes and restarts very often"
Our team ships a V2 Azure function app (with around 7-8) functions in it. The primary job of the function app is to act as a data processing pipeline where one steps executes and triggers another via queue based triggers. There are also a couple of functions that get triggered via timers. And there are a couple of functions that are decorated with the `Singleton` attribute.

Each of our customers

[2020-07-13 20:49] brettsam commented on #6349
That message above says that the lease renewal took almost 30 seconds -- and the least time was 15 seconds. The renewal is a simple call to renew a lease in Blob storage and should take hardly any time. That likely means that Singleton locks are getting traded around, and in some cases, we need to kill the host when this happens as it's not good to have multiple apps all thinking they're the Singl

[2020-07-13 20:49] brettsam commented on #6349
Whoops accidentally closed.

[2020-07-13 20:58] floatingfrisbee commented on #6349
What's the best way to check that? We usually look at **Function App > Diagnose and solve problems > SNAT port exhaustion**. When I look at it right now for the last 6 hours (during which there have been many restarts), it gives me the following:

**Pending**

![image](https://user-images.githubusercontent.com/233896/87352734-2dba5400-c521-11ea-8a51-c615050e2572.png)

**Failed**

![image](https://

[2020-07-13 21:00] floatingfrisbee commented on #6349
One additional comment. We tried to scale up the plan from P2V1 to P2V2 but saw many restarts there as well.

[2020-07-13 21:30] floatingfrisbee commented on #6349
Another piece of info that may be useful - apart from the singleton related exception I mentioned above, we have also seen `System.TimeoutException` related to `GetMessages` in the host logs. It seemed like the host was timing out while trying to retrieve a message from the queue. I don't have an exception handy to share unfortunately.

[2020-07-14 01:00] #5762 closed, assigned to kashimiz

[2020-07-14 01:39] Francisco-Gamino commented on #6279
This issue has been fixed.

[2020-07-14 01:39] #6279 closed, assigned to AnatoliB, Francisco-Gamino

[2020-07-14 07:00] ghost commented on #6092
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-14 10:31] vkurmi commented on #5798
I had this issue running function locally, and I overcome it by using the workaround mentioned in my original post.

[2020-07-14 10:51] garygsscott commented on #5695
We also have the same error.   Just started this week on a high data load, high frequency function on an EP1 app service plan.   Worryingly events are also being dropped?

[2020-07-14 11:42] olitomlinson commented on #5240
@brettsam got several hundred of these exceptions within a few seconds when my Durable Function App on Consumption Plan, was under load.

[code]

[code]

[2020-07-14 14:58] soninaren commented on #5695
Duplicate of #5240

[2020-07-14 15:03] soninaren commented on #5695
Duplicate of #5240

[2020-07-14 15:03] #5695 closed

[2020-07-14 15:04] garygsscott commented on #5240
We also have the same error on an Event Trigger Function (Azure Functions 3.0).

Just started this week on a high data load, high frequency function on an EP1 app service plan. Worryingly events are also being dropped?

`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <AzureFunctionsVersion>v3</AzureFunctionsVersion>
  </PropertyGroup>

[2020-07-14 15:27] pragnagopa opened #6351 "[Rpc]Expanding env variables needs to be called after worker path is hydrated."
Commit # 0f18eade4b28b8cdde9e6a63dd0b7d4d0a051329  added support to expand env vars specified in worker.config.json

Powershell worker:  specifies worker path as `"defaultWorkerPath":"%FUNCTIONS_WORKER_RUNTIME_VERSION%/Microsoft.Azure.Functions.PowerShellWorker.dll",`

When running in Azure,  `%FUNCTIONS_WORKER_RUNTIME_VERSION%` is set to `7.0`

so looking up worker path fails with:

System.IO.Fil

[2020-07-14 15:27] pragnagopa commented on #6351
Assigned to Sprint 79 as we need to take a hotfix for this issue.

cc @AnatoliB as FYI

[2020-07-14 15:37] pragnagopa commented on #6351
cc @Francisco-Gamino / @madelinegordon  - fyi - this is an example where nightly build would have caught the issue as soon as the commit when into host.

[2020-07-14 16:00] AnatoliB commented on #6351
This is a good fix, thank you, but do we know how FUNCTIONS_WORKER_RUNTIME_VERSION became `7.0`? It is supposed to be either `~7` or `~6`, otherwise placeholders will not work. Does this mean the powerShellVersion site config value was `7.0`?

[2020-07-14 16:13] pragnagopa opened #6353 "[V2][Backport]Expand environment variables in worker.config.json after hydrating worker path"
Backport fix for #6351 to V2

[2020-07-14 16:18] pragnagopa commented on #6351
Yes, This was a test app using site extension. Not consumption. Placeholder Id is not generated for this app.

@AnatoliB  - I verified  stacks: https://github.com/pragnagopa/azure-functions-supported-runtime-stacks/blob/master/WindowsFunctionsStacks.json#L278 , you are right, version should be set to ~7. Must be Ux issue. Can you please repro and follow up with Ux team?

[2020-07-14 17:36] balag0 commented on #6092
@SeaDude Are you still seeing this issue. I suspect this could have been due to this issue (which has been fixed now) - https://github.com/Azure/azure-functions-core-tools/issues/2075

[2020-07-14 21:45] floatingfrisbee commented on #6349
This is currently a critical issue for our product, and we've also created an Azure support ticket to help resolve it. The ticket number is 120071424005958. @brettsam, please let us know what other information we can provide to help make progress toward a solution. Thanks!

[2020-07-14 22:00] ghost commented on #5694
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-15 00:33] zanecop opened #6356 "JSON value in HttpTrigger is throwing 500 on post due to JSON Value being over the maximum allowable size of int type"
#### Repro steps

Post to a HttpTrigger as application/json with this node will cause a 500 returned.

`"labels": [
      {
        "id": 2203105043
      }`

Upon inspection in App Insights, the following exception was found:

Newtonsoft.Json.JsonReaderException | JSON integer 2203105043 is too large or small for an Int32. Path '[0].id', line 1, position 17.
-- | --

Additionally, I wanted to not

[2020-07-15 01:34] #6351 closed, assigned to pragnagopa

[2020-07-15 02:14] yojagad opened #6358 "Race condition during httpworker process restarts"
With the current behavior, if the webserver doesn't start within a timeout, a process restart happens but during that time, DispatcherStatus also gets set to "Initialized" because worker is perceived to be ready when it isn't. This unintentionally lets some invocations through which surfaces to the user as SocketExceptions.

cc: @pragnagopa @anthonychu

[2020-07-15 02:50] mhoeger commented on #5893
Really sorry about the trouble :( confirmed that this issue has been resolved as of 7/10

[2020-07-15 07:30] ankitkumarr commented on #6269
Found the root cause -- it was because the container was running locally and didn't have a HostName. To get a URL, the base Hostname is required, otherwise the URL doesn't make sense. `DefaultScriptWebHookProvider` [here](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/WebHooks/DefaultScriptWebHookProvider.cs#L61) checks and makes sure that a HostName exist. This

[2020-07-15 07:30] #6269 closed, assigned to ankitkumarr

[2020-07-15 08:02] vijaykumarneudesic commented on #6054
@pragnagopa  We are also facing similar issue in azure function.

Microsoft.Azure.WebJobs.Host.FunctionInvocationException:
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw (System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e)
   at Microsoft.Azure.WebJobs.Host.Executors.FunctionExecutor+<ExecuteWithLoggingAsync>d__19.MoveNext (Microsoft.Azur