[2020-12-11 08:34] CasperWSchmidt commented on #4577
@felipementel following the discussion above (and related issues) you would know that the above idea is not optimal. Instead use the new feature in 1.1.0 to retrieve the configuration.

[2020-12-11 12:08] ericsampson commented on #6239
It was unreliable for us as well, it didn’t happen every time. I’m glad you have a way to reproduce it :)

[2020-12-11 12:15] ericsampson commented on #6239
FWIW in our case, we had set an explicit portal setting value of either Staging or Production and were seeing it return Dev sometimes after lifecycle events. Doing a full stop and restart, as was suggested upthread, did not help.

[2020-12-11 17:34] Gamecock commented on #4263
Still seeing in python function app
`

AI: Local storage access has resulted in an error (User: app) (CustomFolder: ). If you want Application Insights SDK to store telemetry locally on disk in case of transient network issues please give the process access to %LOCALAPPDATA% or %TEMP% folder. If application is running in non-windows platform, create StorageFolder yourself, and set ServerTelemetryC

[2020-12-11 19:54] julia-xu commented on #6786
Also seeking updates on this issue

[2020-12-11 22:58] pragnagopa commented on #6925
Bringing to Sprint 92 as this error came up during auto-upgrade

[2020-12-12 07:01] anthonychu commented on #6674
In case anyone missed it, the [link](https://techcommunity.microsoft.com/t5/apps-on-azure/net-5-support-on-azure-functions/ba-p/1973055) that @aherrick shared is to our blog post announcing the .NET 5 worker preview. We still have work to do to update all tooling and platform to support it, but we wanted to share it as soon as possible.

[2020-12-12 07:17] balag0 commented on #6718
Can you try using this

            "type": "Microsoft.Web/sites",
            "name": "[parameters('appService_name')]",
            "apiVersion": "2018-11-01",
            "location": "[parameters('appServicePlan_location')]",
            "tags": {
            },
            "properties": {
                "name": "[parameters('appService_name')]",
                "siteConfig": {

[2020-12-12 08:00] JamesRandall commented on #6674
I think the Twitter thread on this is worth reading too as some of the limitations are discussed in the comments.

https://twitter.com/AzureFunctions/status/1337120082388905984

[2020-12-12 20:00] Methuselah96 opened #6983 "CPU-bound tasks seem to starve network-bound tasks"
#### Investigative information

Please provide the following:

- Timestamp: 12/12/20 2:56:49 PM ET
- Function App version: 3
- Function App name: NpgsqlHeavyCPU
- Function name(s) (as appropriate): NpgsqlOrchestration
- Invocation ID: 9948a45e-dcf9-410f-a167-ea81f2dc4682
- Region: East US 2

#### Repro steps

I created a sample project to demonstrate the problem: https://github.com/Methuselah96/Np

[2020-12-12 22:00] ghost commented on #6894
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-12-13 21:33] #6905 closed, assigned to nobody

[2020-12-14 00:32] kevinclarkadstech commented on #660
Ughhh got my whole function built and got req.pipe is not a function.  Guess it's back to Digital Ocean for me.

[2020-12-14 05:22] penguinawesome commented on #6089
Hi @pragnagopa we are encountering this issue: https://github.com/Azure/azure-functions-host/issues/5575 in our azure web app premium tiers. I hope azure could check and fix this issue as well in azure web app

[2020-12-14 07:51] abjbhat commented on #4345
I think I'm seeing this problem as well.

I've created an Azure Service Bus function. The function uses a DI container using .NET Core's own DI libraries.

The function entry point receives an ILogger instance and we see log entries made with this instance. However, any log entries made with any generic instances of `ILogger<MyClass>` never show up. I can't point to this exact timeframe, but a few

[2020-12-14 18:44] v-anvari commented on #6564
cc @pragnagopa, @mhoeger

As mentioned in the issue, there are duplicate exceptions being created in the logs. I have further dug deep into all the possible logs. Below are my findings:

Repro Steps: Same as mentioned in the issue

**Visual Studio- Debug Window:**
 [2020-12-11T17:52:48.565Z] Executing 'Function1' (Reason='This function was programmatically called via the host APIs.', Id=e013a8b7-c

[2020-12-14 18:56] v-anvari commented on #6018
Hi @ThomasArdal , Thank you for pointing this out to us. We have triaged #6564 for further investigation. Closing this issue as both the scenarios are duplicates.

[2020-12-14 18:56] #6018 closed, assigned to nobody

[2020-12-14 22:07] the-castman commented on #6947
I am getting the same error but with 1.1.8 and with Microsoft.NET.Sdk.Functions 3.0.9

`[error]C:\Windows\ServiceProfiles\NetworkService\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.1.8\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(37,5): Error : Metadata generation failed. Exit code: '-1073741502' Error: ''`.

I am getting this om my Azur

[2020-12-14 22:14] the-castman commented on #6769
Any news on this?
I am getting the same error but with extensionsmetadatagenerator 1.1.8 and with Microsoft.NET.Sdk.Functions 3.0.9

`[error]C:\Windows\ServiceProfiles\NetworkService\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.1.8\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(37,5): Error : Metadata generation failed. Exit code: '-1073741

[2020-12-14 22:29] frourke commented on #6917
We are also seeing this behaviour.
I have added a sync triggers step to the end of our deployment pipeline. It made no difference, jobhost kept stopping.
We already have a TimerTrigger with a CRON expression coming from appsettings. This does not keep the jobhost alive.
We had to hard code the CRON expression for @mykle90 workaround to work.
e.g. [TimerTrigger("%appsettings%")] to [TimerTrigger("0

[2020-12-15 00:18] ishepherd commented on #2153
@gkindov I don't think so. I suggest asking the folks in the Azure Functions Discord. https://discord.gg/YEQPcCsY

[2020-12-15 01:49] Mithras commented on #6674
Anybody was able to run .NET 5?
https://github.com/Azure/azure-functions-dotnet-worker-preview breaks the moment I add any 5.0.0 package. E.g. just add
    `<PackageReference Include="Microsoft.Extensions.Caching.Memory" Version="5.0.0" />`
and functions fail to start with
![image](https://user-images.githubusercontent.com/2098029/102157589-9d1bd300-3e34-11eb-9544-892635140b00.png)

[2020-12-15 01:57] TheCodeTraveler commented on #6674
@Mithras Did you follow steps outlined in the README to upgrade your app from .NET Core 3.1 to .NET 5.0?

https://github.com/Azure/azure-functions-dotnet-worker-preview/blob/main/README.md#install-the-azure-functions-core-tools

[2020-12-15 02:07] Mithras commented on #6674
@brminnick I did everything in  readme.
Repo steps:
1. Download the repo.
2. Add `<PackageReference Include="Microsoft.Extensions.Caching.Memory" Version="5.0.0" />`
3. `func host start --verbose`
4. Error

If I skip step 2, everything works without errors.

Also, adding different 5.0.0 libs result in different exceptions. For example, if you add `Microsoft.Extensions.Configuration.Abstractions`,

[2020-12-15 02:11] Mithras commented on #6674
just in case:
![image](https://user-images.githubusercontent.com/2098029/102159106-b5412180-3e37-11eb-970a-fe9ecdd77a39.png)

[2020-12-15 04:30] olitomlinson commented on #6970
@LeonB87

How do you know the function is executing concurrently?

[2020-12-15 04:40] olitomlinson commented on #6962
@MhAllan this is supported as of 2.4.0

See the release notes here https://github.com/Azure/azure-functions-durable-extension/releases

[2020-12-15 04:45] olitomlinson commented on #6811
@EnenDaveyBoy

Unfortunately, you can’t use durableOrchestrationContext through DI.

However, as of 2.4.0 you can use the durableClient through DI.

[2020-12-15 07:19] CasperWSchmidt commented on #4234
I'm not sure if my scenario is a perfect match for this, but what I would like to have, is the possibility of re-using a function. From what I can understand, having a FunctionName attribute in a NuGet package shared across services does not work.
We are trying to build an event sourced microservices architecture and therefore pretty much all services (function apps) need the same CosmosDB-trigger

[2020-12-15 09:04] ShockwaverReal commented on #6674
I confirm this...

[2020-12-15 10:18] Adam4224 commented on #4234
To be honest, after thinking about this more, the biggest problem I have is
that the attributes actually dequeue a message from the queue.

In my case, there is a substantial (~1 minute) setup cost to get ready for
processing messages, after which I can process multiple messages per
second. So my code needs to dequeue more than one message per function run,
and it's extremely irritating to have to

[2020-12-15 10:22] gorillapower commented on #5240
@mpaul31 yes we are in the same place re: support ticket, at this time there is no resolution. I turned on file logging and managed to repro the exception by putting our function under load, see below.

@fabiocav, @brettsam any movement on this? We are desperately try to resolve dead-letters on our queues in our production environment.

I believe this is only happening for consumption plan functio

[2020-12-15 10:42] CasperWSchmidt commented on #4234
@Adam4224 it sounds like you could really benefit from the FunctionsStartup functionality provided in NuGet package Microsoft.Azure.Functions.Extensions. It allows your function app to do setup once per host (meaning the first message in the queue would still result in a setup cost, but all other messages (until the host is shut down) will be processed without the setup cost.

[2020-12-15 13:01] Adam4224 commented on #4234
Hi,

I read the docs. I was wondering, what are the time and memory limits on
execution of the startup code? Does the time count towards the overall time
limit for function execution?

Thanks,
Adam

On Tue, Dec 15, 2020 at 10:43 AM Casper Schmidt Wandahl-Liper <
notifications@github.com> wrote:

[2020-12-15 13:08] andyblack19 opened #6984 "Function proxy receives 429 response from downstream function app"
Our function proxy app occasionally receives a 429 response code from a downstream function app.
The downstream function app is not hitting any concurrent HTTP limits (it only gets 3 total requests per minute). The request can be seen as a failed dependency of the function proxy app in Application Insights logs. The HTTP request is not visible in the logs of the downstream function app. Most of th

[2020-12-15 14:12] marcoNipo commented on #6718
well, I've tried multiple combinations, but not that one: it works 😄 thank you @balag0

[2020-12-15 14:23] marcoNipo commented on #6718
updated issue title and description according to new developments

[2020-12-15 14:36] EnenDaveyBoy commented on #6811
sorry forgot all about this,all sorted thanks

[2020-12-15 14:36] #6811 closed, assigned to nobody

[2020-12-15 14:51] CasperWSchmidt commented on #4234
I'm not sure, but I would expect the answer to be that the same limits apply to startup as everything else, but since startup is called before the first trigger is executed it does not count towards the timeout limit of each function. Try using startup in your code and run it locally. You will notice that startup is called right away no matter if there are any messages in the queue or not.

[2020-12-15 14:59] cjaferre commented on #6984
We've experienced a similar situation.

Since friday 12/11 we've been bombarded with 429s in response from our http triggered functions.

We found that adding the following in our hosts.json worked as a workaround:
[code]
Docs: https://docs.microsoft.com/pt-br/azure/azure-functions/functions-bindings-http-webhook-output

But since we haven't touched our functions when the 429s started, I believe s

[2020-12-15 15:24] andyblack19 commented on #6984
We also see it starting on Friday 12/11, with nothing new deployed there for a number of weeks.
I've disabled the performance throttling as you suggest and it seems to be OK so far. But as the 429s are sporadic, I will continue monitoring throughout the week.

[2020-12-15 16:05] edgett commented on #5796
This is still a problem in Microsoft.NET.Sdk.Functions 3.0.11

Microsoft.CodeAnalysis 3.8.0 works with Microsoft.NET.Sdk.Functions 3.0.2

The problem: 'Could not load file or assembly 'Microsoft.CodeAnalysis, Version=3.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

Can be resolved  in Azure Functions by referencing: Microsoft.NET.Sdk.Functions 3.0.2 instead of 3.0.>=3

Code to demo pro

[2020-12-15 16:50] trailmax commented on #6068
Found this because of the confusing message. For my use-case nulls are absolutely not allowed, so exception is the correct thing, but error message is somewhat puzzling. I'd much rather see `NullReferenceException` for this situation. Or at least something about null, as I went down the rabbit hole figuring out scoping issues.

[2020-12-15 18:09] t-l-k commented on #6984
Yesterday I was getting very frustrated trying to get a patch out the door for one of our systems, the automated test suite kept failing due to `429`s against a functions app for testing outcomes... The remedy proposed here, is to redeploy all my `host.json` files? 😢

[2020-12-15 18:42] kashimiz commented on #6978
I was able to reproduce this bug on two separate Function apps running host version 3.0.15185.0 in Azure (Central US.) See below screenshot. Repro code was modified slightly for clarity.

Interestingly, I was _not_ able to reproduce the bug locally; supplying different AZURE_FUNCTIONS_ENVIRONMENT values on my local machine resulted in expected behavior. Possibly a platform caching issue?

**Result

[2020-12-15 18:46] SinghManvir opened #6998 "ILogger<T> not logging when T is another project"
I can see all logs in my functions class but it does not seem to be logging anything from another class in another project.

I have tried all suggestions in issue [4345](https://github.com/Azure/azure-functions-host/issues/4345) and issue [4425](https://github.com/Azure/azure-functions-host/issues/4425).

So, I have tried adding the filter like
[code]

and also tried in host.json
[code]

and tried

[2020-12-15 19:17] mhoeger commented on #6984
@andyblack19 - do you mind giving me information for both function apps? I think you gave me the information just for the function app with proxy functions. Thanks!

[2020-12-15 19:25] marcd123 opened #6985 "[PREMIUM] Functions Host causes Container Exit/Restart"
We have a Premium Python Durable Functions app that occasionally "hangs" for a very long time in between scheduled tasks.

We've investigated the issue quite a bit and discovered that the hanging is due to our container exiting.

We regularly test the resource usage of the Function App in KUDU by using the top command. While in KUDU we notice this message in the bottom tray when we experience the

[2020-12-15 19:29] anthonychu commented on #6998
@SinghManvir Are you looking to see these logs in the console? Can you please try to run func with the `--verbose` flag? Also would be great to know if the logs are missing in Application Insights in production as well?

Also, can you try setting the default log level to Information?

[code]

[2020-12-15 20:02] mhoeger commented on #6984
Btw - we are investigating this issue and will try to have updates ASAP!

[2020-12-15 20:22] cjaferre commented on #6984
Hi @mhoeger,

If it helps...
We are experiencing it with a single function, with no proxies, we call directly the functions httptrigger endpoint.
As a matter of fact we have 5 different functions, all httptriggered, only one of them accessing blob storage, the others do not have any dependency call.
We have each of them mirrored in BrazilSouth, WestEurope and CentralUS. We are seeing the 429s on a

[2020-12-15 20:23] SinghManvir commented on #6998
Yes, I am trying to see the logs in the console, but they are also missing in App Insights in Production.
I have had `"default": "Information"`, only took it out to see if that made a change.

I will try running the function with verbose flag.

[2020-12-15 20:24] andyblack19 commented on #6984
I can confirm the problem is still happening even with the setting of `"dynamicThrottlesEnabled": false` in host.json

This has now started happening across multiple function apps of ours, seemingly at random. Here's a graph of it happening for a different* function app, starting at 7:30pm UTC, despite no releases around then and with only a fraction of the traffic we had earlier on in the day. Al

[2020-12-15 20:35] mhoeger commented on #6984
Hi @andyblack19 - sorry is this for the app that you gave the Invocation ID for (313a6f27-e40c-41e4-aa54-d9f285fde375)? And do you have that time in UTC?

"dynamicThrottlesEnabled": false in host.json should be the right mitigation for now so I'm surprised to hear that :/

[2020-12-15 20:50] pragnagopa opened #6987 "Add logging for auto-upgrade to figure out SqlClient errors"
cc @fabiocav

Need to add more logging to figure out apps that might break on auto-upgrade:

Errors:

1. System.PlatformNotSupportedException : System.Data.SqlClient is not supported on this platform."
2. System.DllNotFoundException : Unable to load DLL 'sni.dll' or one of its dependencies
3. System.IO.FileNotFoundException : Could not load file or assembly 'Microsoft.EntityFrameworkCore, Version=

[2020-12-15 21:05] andyblack19 commented on #6984
@mhoeger No sorry, that was for a different function app, just to show that it is happening for me across multiple function apps - not an isolated problem.

The invocation id in the original post is for the function proxy app, you should be able to see the name of the proxy app and downstream function app as a failed HTTP dependency? I'd rather not post the function app names in public.

I cannot

[2020-12-15 21:10] andyblack19 commented on #6984
@t-l-k  I also had a lot of 429 response codes today from our function apps straight after a deployment (when adding the `dynamicThrottlesEnabled` setting).

[2020-12-15 21:12] davidmrdavid commented on #6985
@pragnagopa: I've been following this case (in other threads) for a while. Could you take a look at the customer's questions above ^ . Thanks! :)  I've seen a handful of customers experience this "gap" in function executions when using Durable Function for Python, and maybe it's related to this `18 Killed ` message that the customer's discovered.

[2020-12-15 21:38] andyblack19 commented on #6984
My azure support contact informs me that this is the fix in progress: https://github.com/Azure/azure-functions-host/pull/6986
It looks like I've also been able to prevent this from happening by pinning the `FUNCTIONS_EXTENSION_VERSION` to the previous version `3.0.15149` in the function app settings

[2020-12-15 22:11] mathewc commented on #6984
@andyblack19 **3.0.15149** also has the issue, so I'd be surprised if that pinning is what fixed it for you, instead of the recommended host.json update. Pinning to **3.0.14916** would work.

[2020-12-15 22:14] mhoeger commented on #6982
Done

[2020-12-15 22:14] #6982 closed, assigned to mhoeger

[2020-12-15 22:19] andyblack19 commented on #6984
Ah OK, probably coincidence then not monitoring for long enough after the app restart. I'll drop it down further, thanks!
As an aside, we've seen this happening even with the recommended host.json update, as above https://github.com/Azure/azure-functions-host/issues/6984#issuecomment-745545691

[2020-12-15 22:28] marcd123 commented on #6985
I enabled App Service logs for this function app, and now I can see this in the logs right around the time the container exits. Not sure if it is before or after the exit. Also not sure if this could be the cause or just a result of the exit.

[code]

[2020-12-15 22:37] ankitkumarr opened #6989 ""scheduleExpression" property for Timer triggers should fallback to "schedule""
If you create a `function.json` or a `FunctionMetadata` for timer trigger with a property `scheduleExpression`, it throws errors as host expects it to be `schedule` instead.

This is somewhat an issue, because the property inside the [TimerTriggerAttribute](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions/Extensions/Timers/TimerTriggerAttribute.cs#L44) is calle

[2020-12-15 22:48] ConnorMcMahon opened #6990 "HTTP Trigger routes can overwrite /admin/ APIs"
#### Repro steps
1. Deploy an app with the below content.
2. Make an HTTP trigger request with the master key against /admin/host/status and notice how it returns the response from the HTTP trigger.

host.json
[code]

HTTP Trigger
[code]

#### Expected behavior

Http triggers should take a lower priority in routing logic vs APIs defined by the Functions host, such as admin and extension webhook ur

[2020-12-16 01:00] #6894 closed, assigned to nobody

[2020-12-16 09:52] PatrikNorrgard commented on #6984
Just wanted to chime in and let you know I saw the same thing about 18 hours ago, but via Azure Api Management (calling the Function app). 93 of 142 requests got 429 too many connections.

[2020-12-16 10:16] andyblack19 commented on #6984
I'd like to reiterate for anyone else, we are still seeing the 429 problem even with `"dynamicThrottlesEnabled": false` set in our host.json. It's happened to both a function app and function proxy app since being applied early yesterday (I'm in UK (UTC)).
Only pinning `FUNCTIONS_EXTENSION_VERSION` to `3.0.14916` is a successful workaround for us.

[2020-12-16 10:25] Zeeahm commented on #5240
Any update on this issue. We are also facing the same problem in the PROD environment.

[2020-12-16 11:28] SinghManvir commented on #6998
@anthonychu - Tried adding `start --verbose` to the Application arguments in project properties and no luck.
In case it helps, I can see my service listed in the Logger Filter Options
[code]

[2020-12-16 11:49] v-anvari commented on #6129
Closing this as its discussed in #1429 and #5894 and the fix has already been made

[2020-12-16 11:49] #6129 closed, assigned to nobody

[2020-12-16 11:56] cjaferre commented on #6984
Same here.
Now I've pinned all functions to this version, let's see how it handles...

[2020-12-16 12:41] PatrikNorrgard commented on #6984
We are still experiencing this as well, even though we pinned the FUNCTIONS_EXTENSION_VERSION to 3.0.14916. Any news about what is causing this and when it will be resolved?

Anybody opened an Azure support request?

[2020-12-16 12:49] Spaceman1861 commented on #6674
For those who are trying to solve the above problems.
https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/13

Helped me.

[2020-12-16 12:57] andyblack19 commented on #6984
@PatrikNorrgard That's strange, we've not seen it since pinning and have handled ~500k requests. We still have that host.json setting too, just in case.
Yes, I've an active support request open, which they have advised has been escalated internally and is being worked on. My contact is in EST, so should be back online shortly 😁

We will keep you updated as soon as the fix ready and rolled out.

[2020-12-16 13:04] mathieuisabel commented on #6984
We have the same situation on our end. I will try targeting the function runtime explicitly to rollback to 3.0.14916.

![image](https://user-images.githubusercontent.com/15805484/102352007-51bd0e00-3f75-11eb-998a-d5f36f4ae6b0.png)

[2020-12-16 13:20] PatrikNorrgard commented on #6984
Ah, I didn´t change the host.json file, maybe that´s what works for you.

I did however implement a retry-policy in Api Management now, hoping that it will hide those 429 errors from customers by internal retries.

I was thinking about opening a support case, but as we´re a CSP customer I couldn´t do it via the portal, but have to use email.

[2020-12-16 13:23] mathieuisabel commented on #6984
@andyblack19 To resolve this on your did you have to both pin the function runtime version and set dynamicThrottlesEnabled to false? Or only pinning the function runtime did the job?

[2020-12-16 13:30] andyblack19 commented on #6984
We have both 'workarounds' applied currently and it seems to be working so far.
I'm not sure if _only_ pinning the version will have worked, as I'd already set the dynamicThrottlesEnabled to false everywhere, which had no effect on its own.

[2020-12-16 13:34] mathieuisabel commented on #6984
Thanks for confirming. I'm currently trying with only pinning the version for certain apps and also pinning the version and setting dynamicThresholdsEnabled on others to confirm what's needed. All in all, folks here and Stackoverflow were more helpful than Az support so far, they've been checking the logs for 2 days now... :-D

[2020-12-16 13:40] PatrikNorrgard commented on #6984
The weird thing is that this is only happening to one of 93 Functions for us. And of course it is one used by an important client :)
This Function only sees moderate load, maybe 200 calls a day. Let´s hope the Api Management retry will save us until this gets fixed.

@mathieuisabel, for us it seems ONLY pinning won´t make this issue go away, but it seems to reduce the occurence a lot.

[2020-12-16 14:03] mathieuisabel commented on #6984
@PatrikNorrgard On our side they're not high volume function apps (i.e. 100s to ~15K requests a day) but pretty much all of our apps are impacted at the moment. One of those days where you tell yourself we have to have better retry logic in the calling application but still, it was working fine before. Oh well!

[2020-12-16 14:09] cjaferre commented on #6984
We have like 150k requests per day.
Applying both the hosts.json workaround AND pinning did the job.
Right now we are seeing 100 to 200 req/sec and no problems reported so far.

[2020-12-16 14:09] ivanakcheurov commented on #6674
Do you mean always-on containers so that there is no cold start?
If yes, then AWS released provisioned capacity for lambdas a year ago:
https://aws.amazon.com/blogs/aws/new-provisioned-concurrency-for-lambda-functions/

What advantages does Azure Functions Premium have over AWS Lambda with provisioned capacity?

[2020-12-16 14:10] t-l-k commented on #6984
@andyblack19 same - I cannot find any evidence the apps are failing in the associated application insights - and mine normally faithfully log _everything_ (including stuff that happens during startup). Upstream services are recording the failure, and annoyingly, 429s are not included in Polly's [AddTransientHttpErrorPolicy](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependenc

[2020-12-16 14:17] forki commented on #6674
@ivanakcheurov sorry it was a sarcastic remark.

[2020-12-16 17:00] stevesage commented on #6542
We have the same issue with some Timer and Cosmos triggers.

We have a Functions app running dotnet 2.2 on v2 of the functions runtime and we can set timer schedules and Cosmos attributes from app settings configured in startup (in a similar way as described in this comment above: https://github.com/Azure/azure-functions-host/issues/6542#issuecomment-714775515).

If we upgrade the project to dotne

[2020-12-16 17:10] Sidewinder53 commented on #6984
Setting the function runtime explicitly to `3.0.14916` solved the issues for us. Unfortunately, we don't even see the Rate-Limited requests in Application Insights, they seem to be blocked by a downstream load balancer.

[2020-12-16 17:11] v-anvari commented on #6183
Hi @thomaslevesque , Have you tried adding the property in your main function code like below:

var options = new SessionHandlerOptions
            {
                AutoComplete = false,
                MessageWaitTimeout = TimeSpan.FromSeconds(3)
            };

Usually the property is added in host.json [like](https://github.com/Azure/Azure-Functions/issues/1286) below:

"SessionHandlerOptions"

[2020-12-16 19:18] jesuissur commented on #6786
We got the problem in our environment once again.  The symptoms are a bit different though.  Our function stopped processing messages (we got more than 10K in the triggered queue) and refuse to work even after many restart and deployments.  The function was fine until then.  It has been more than 24 hours without any processing except a few messages (50 at max) that have gone through the function

[2020-12-16 21:19] thomaslevesque commented on #6183
I am.

I don't understand what you mean... I'm not using sessions.

[2020-12-16 23:58] mathewc commented on #6984
FYI - the hotfix for this is rolling out now. You can track the release progress via release announcement [3.0.15193](https://github.com/Azure/app-service-announcements/issues/310).

[2020-12-17 03:53] jasonp123 commented on #6542
Hi.  We are having a similar issue.  We tried creating a simple example:
csproj
[code]

startup
[code]

function1
[code]

function2
[code]

appsettings.json
[code]

[2020-12-17 09:26] olitomlinson opened #7142 "[feature request] Option to register different Functions on separate hosts"
**Scenario**

I have a use-case where I'm using Durable Entities in a high-throughput scenario on consumption.

In the same Function App, I also have a simple Http Trigger where I perform a read on the entity state and return a response.

**Problem**

When Durable Entities is under load, there is not enough available resource to reliably serve requests to the Http endpoint.

What I observe is rand

[2020-12-17 09:41] cgillum commented on #7142
One thing I can mention is that the problem with `dynamicThrottlesEnabled` and 429s seems to be a recent regression in the Azure Functions runtime. The team is actively rolling back some recent changes that caused a sudden spike in 429s caused by this feature (I'm on-call this week, which is why I know and why I'm responding at 1:40am PT). Unrelated to that, I'll try to respond to your feature req

[2020-12-17 09:43] olitomlinson commented on #7142
@cgillum Thanks for the heads up! I'm not in prod with this yet, so no urgency on my side, but once again thank you!

[2020-12-17 10:16] andyblack19 commented on #6984
Great, thanks 👍

As an aside to this, is there any way for us to monitor CPU load in our Function app on a Consumption plan? I cannot find it anywhere in the Function App metrics or in App Insights.

Our support contact was able to show us some internal logs, proving that we were hitting 80%+ CPU and triggering these 429s. `[HostMonitor] Host aggregate CPU load 81`

If it's something we're limited

[2020-12-17 12:41] andrewhollowaybreward commented on #6984
Still experiencing the problem here North Europe, pinning the Runtime Version to 3.0.14916 has resolved the issue for now.

Have we any idea how long the roll out takes to complete?

[2020-12-17 12:45] alexeymarkov commented on #6984
West Europe: the issue is still there

[2020-12-17 13:10] SinghManvir commented on #4689
I am at serious loss of words on how this made into production and then ignored for over an year. Do Microsoft not use Azure Functions?
I have services that are referenced in a Web API and also in a Functions App (for batch jobs), so none of the above mentioned workarounds are good for me. Can we please have an update on this?

[2020-12-17 13:48] mathieuisabel commented on #6984
@mathewc Is there a way to monitor the rollout of runtime releases? Given we've been impacted by a few issues in the last year related to new runtime versions, it might be good to have some visibility/traceability on this. I'm not sure how I can go about making sure our function apps are upgraded to this new release when it's available. Would I need to bounce those apps or the service will do that

[2020-12-17 14:30] Oxoproline commented on #4689
@SinghManvir Somebody can correct me, but custom dependency injection was not supported in earlier versions of azure functions. So having ILogger injected into the specific function was the correct way how to do logs in azure functions, but azure functions involved and unfortunately some parts of the code/functionality missed the train.

[2020-12-17 16:00] v-anvari commented on #6183
Where exactly are you including AutoComplete in your code?

Usually added in Host.json, where AutoComplete uses anther setting. Are you talking about any other functionality, could you paste a link for reference.

{
  "version": "2.0",
  "extensions": {
    "serviceBus": {
    "SessionHandlerOptions": {
        "autoComplete": false
      }
      }
    }
  }
}

[2020-12-17 16:07] ladislauNagy commented on #6970
I have a similar issue also tried to configure MaxConcurrentCalls from Startup.cs because we use DI.
In our case the function calls multiple APIs when processing a message and we have a configured rate limit on the API Manager, when the function processes too many messages at once, we can see exceptions in application insights with the message: "Rate limit is exceeded", exception type: "GatewayErr

[2020-12-17 16:49] emanuel-virca commented on #4263
I am experiencing the same issue using service bus queue triggered function on Linux Consumption plan with azure function written in c#.

[2020-12-17 16:58] thomaslevesque commented on #6183
On MessageHandlerOptions, not SessionHandlerOptions.
But as mentioned in my original post, I don't want to disable AutoComplete globally.

[2020-12-17 17:30] v-anvari commented on #6139
Hi @VividDigital , Apology for the delayed response. Are you still facing the same issue, if yes could you provide us the repro steps and repro code for us to understand it better.

[2020-12-17 17:54] mathewc commented on #6984
The exact stage a release is in currently isn't shared publicly. When we do a release we walk through progressively wider UDs (upgrade domains), starting from UD0. We're currently in UD1 and are planning on moving through UD3 today. We'll move further on Friday, and likely complete early next week.

As far as apps picking up the new version - no we don't forcefully restart any running app instance

[2020-12-17 18:35] v-anvari commented on #6970
Hi @LeonB87 , Kindly provide us more insights on where are you seeing these errors and what kind of errors. If possible,  please provide us more details on errors.

Also, While checking the logs for your function app name provided in the issue, we do not see any running or active functions, it could be deleted or has been moved.

[2020-12-17 18:56] cgillum commented on #7142
Your host.json example reminds me of K8s deployment manifest. :)

Unfortunately I don't think the architecture of the Azure Functions service is going to make it possible (to a reasonable degree) to support something like this without deploying multiple function apps. The App Service frontend load balancers do not have enough information to route HTTP requests only to instances that are under low

[2020-12-17 19:08] anthonychu commented on #6998
@pragnagopa @brettsam Do you have any thoughts?

[2020-12-17 20:26] mathewc commented on #6990
Hmmm, so you're saying this looks like a regression in the last release, and doesn't repro in 3.0.14916? The most recent changes we made in this space were in https://github.com/Azure/azure-functions-host/pull/6808 by @safihamid. Not saying this is what caused this, but we haven't changed the route stuff in a long time before this, so I recommend investigating here first.

[2020-12-17 21:16] safihamid commented on #6990
Hmm taking a look shortly. Thanks for the ping

[2020-12-17 23:05] safihamid commented on #6990
Sent the PR. Looks like I had added tests for every possible scenarios for proxy combinations and such but not for when route is set to "{*route} and routePrefix is set to "". This check for /admin was already there before but was thinking it's really not required and impacts throughput as we need to do a check for it on every call :(

[2020-12-18 00:25] pragnagopa opened #6994 "Enable flaky test "Disable_Writes_To_DisableContainerFile_Restarts_ScriptHost""
Test - Disable_Writes_To_DisableContainerFile_Restarts_ScriptHost is faling frequently in V2 PR builds. Disabled the test to unblock release.

@balag0 - can you take a look?

[2020-12-18 00:36] balag0 commented on #6994
Thanks. This api has been replaced by drain mode api and not used anymore. Will remove the test and api. Okay to ignore the test for now.

[2020-12-18 01:14] fabiocav opened #6995 "System.Diagnostics.DiagnosticSource reference causes isolated/duplicate load on matched verstions"
When referencing the same version, the dependencies should be unified.

[2020-12-18 01:25] pragnagopa opened #6996 "[Auto-Upgrade]V2 apps Auto-Upgraded to V3 failing with System.DllNotFoundException : Unable to load DLL 'sni.dll' or one of its dependencies"
cc @fabiocav @brettsam

Very similar to https://github.com/Azure/azure-functions-host/issues/5950

Repro  : (As of now I could not repro it locally. But reproes when running in Azure)

`run.csx:`

[code]

`function.json`

[code]

Above code works in V2 but throws following error when running in V3:

[code]

[2020-12-18 01:25] pragnagopa commented on #6996
Flagging this as P1 as this is a blocking issue for Auto-Upgrade

[2020-12-18 02:40] ZachTB123 opened #6997 "[Custom Handlers] Differing timestamp formats between Service Bus triggers with cardinality of one vs many"
`EnqueuedTimeUtc` and `ExpiresAtUtc` when cardinality is `one`:

<img width="509" alt="Screen Shot 2020-12-17 at 8 35 12 PM" src="https://user-images.githubusercontent.com/17228033/102567595-6f8a9000-40a7-11eb-85ef-d40fc2eb8cab.png">

vs `EnqueuedTimeUtc` and `ExpiresAtUtc` when cardinality is `many`:

<img width="772" alt="Screen Shot 2020-12-17 at 8 38 18 PM" src="https://user-images.githubuserc

[2020-12-18 08:09] LeonB87 commented on #6970
Hi @v-anvari

The original Azure function was deleted and redeployed in another RG

Our Azure Function is acting as a Orchestrator which calls a Webhook (from an Automation account in this case). The Azure Function check a small DB whether an "agent" is available, and if so, It claims that "agent" and calls the webbook. This is to make sure no more then N jobs are running simultaneously on the Aut

[2020-12-18 12:12] mpaul31 commented on #7142
@olitomlinson have you tried using the health check feature? i know i read it also works for functions.

https://azure.github.io/AppService/2020/08/24/healthcheck-on-app-service.html

[2020-12-18 15:12] v-anvari commented on #6970
Thankyou @LeonB87 , We would like to clone the scenario and also check the backend logs. Could you please provide us the current Function App name which is showing this issue and the appropriate timestamp of the error.

[2020-12-18 15:33] pragnagopa commented on #6998
As the logs are missing from AppInsights as well, this looks related to https://github.com/Azure/azure-functions-host/issues/4345
I will transfer this issue to host as issue is not related to Core-Tools.

[2020-12-18 15:33] pragnagopa commented on #6998
tagging @brettsam  and @anthonychu

[2020-12-18 16:30] pragnagopa opened #6999 "[Auto-Upgrade][Windows]64 bit dynamic sku V2 apps auto-upgraded to V3 are running into System.OutofMemoryException"
cc @fabiocav @soninaren

[2020-12-18 16:31] pragnagopa commented on #6999
cc @gzuber @mhoeger  - FYI

[2020-12-18 16:31] pragnagopa commented on #6999
Flagging as P1 - as this is a blocker for resuming auto-upgrade

[2020-12-18 17:22] v-anvari commented on #6963
Hi @MhAllan , Can you provide us more insights on the ask?

Are you talking about the [Time span](https://docs.microsoft.com/en-us/dotnet/api/system.timespan?view=net-5.0#remarks)?

[2020-12-18 17:31] v-anvari commented on #6969
Hi @stukalin , [Log sampling](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsightssamplingsettings) may cause some executions to not show up in the Application Insights monitor blade, hence it needs to be disabled since log sampling is enabled by default.

Can you let us know the function app name and the time stamp of the error, so that we can look into t

[2020-12-18 17:37] v-anvari commented on #6965
Tagging @anthonychu to share more inputs on this scenario

[2020-12-18 17:46] madanbhavi commented on #6965
To give some update- we went ahead and wrote our own logic to filter the logs based on environment property but if there is any other better way to handle it then please do suggest.

 private readonly client: appInsights.TelemetryClient = appInsights.defaultClient;
   private readonly LogLevelMap:Map<string,number[]>=new Map([
        ["DEBUG",[SeverityLevel.Verbose,SeverityLevel.Information,Sever

[2020-12-18 21:19] pragnagopa commented on #6996
Root cause:
- SiteExtension deployed to windows platform on Azure does not include native library `sni.dll`
- Output for publish command used to build SiteExtension https://github.com/Azure/azure-functions-host/blob/dev/build/build-extensions.ps1#L64 - does not include `sni.dll`
- Verified native binaries are included when using publish command without specifying RID

@fabiocav  - any idea where w

[2020-12-18 23:01] fabiocav commented on #6996
I'm assigning to myself for initial investigation/planning/triage.

[2020-12-18 23:01] fabiocav commented on #6996
We'll also move this to sprint 92 to reflect when the work will be taking place

[2020-12-18 23:27] Kiechlus opened #7001 "[Premium] Service Bus triggerd function does not scale out under load"
### Describe the bug

Service Bus triggered premium function is not scaling out eventhough it has a lot of unprocessed messages with long running, memory intensive tasks.

### Investigative information

Please find all `Invocation ID`s and execution times in the attached Excel sheet: [invocationIds.xlsx](https://github.com/Azure/azure-functions-host/files/5718503/invocationIds.xlsx)

### Steps to

[2020-12-19 00:44] Kiechlus commented on #7001
Do I understand something wrong? When I set `App Scale out`  to one warm instance instead of zero, I get four processes in parallel instead of two.

I thought Premium plan means that at least one instance is always billed but other instances are added on the fly according to load and are billed based on the execution time.

With this setting (one warm instance), will I be billed one or two always

[2020-12-19 14:02] olitomlinson commented on #7142
@cgillum

I see what you're saying, and I agree that FE / BE is tried and tested approach and would work.

However I would like to challenge that status quo of having a separate FE/BE deployments, and I see the Function App as exactly the place to challenge that status quo.

One of the goals of Functions is to forgo 'infrastructure-driven' approaches to building software and get infrastructure out

[2020-12-19 21:15] pragnagopa opened #7003 "[Auto-Upgrade]Compilation errors when using SqlDbType on auto-upgraded apps"
cc @fabiocav

Auto-upgraded apps causing compilation exceptions

[code]

Related : https://github.com/microsoft/ApplicationInsights-dotnet/issues/1351

We should consider upgrading the `System.Data.SqlClient` in Functions V3 to latest version

[2020-12-19 21:16] pragnagopa commented on #7003
Flagging as a blocker for auto-upgraded. Need to repro and verify if upgrading `System.Data.SqlClient` helps.

[2020-12-20 01:14] joelverhagen opened #7107 "Application Insights metrics are filtered out when log level excludes Information"
### Repro steps

1. Install `Microsoft.Azure.WebJobs.Logging.ApplicationInsights`
2. In host.json, set log level to be `Warning` or more severe
3. Depend on `TelemetryClient` in your Azure Function constructor
4. Emit a metric in the body of your Azure Function

**host.json**
[code]

**Function1.cs**
[code]

### Expected behavior

The custom metric should appear in Application Insights.

### Actua

[2020-12-20 19:25] ChristianSauer opened #7004 "Nodejs function is unreachable and does not recover"
We have issues with a NodeJs Function triggered by an HTTP Trigger. This Trigger has very uneven load, e.g. it can receive zero POSTS for an hour or so, and millions of POSTs an hour later. Confusingly, sometimes the Function runtime becomes unreachable and disables the Function. The invoking side sends events for a long time, but gets only a 404.

Here is an example Invocation:
![image](https://u

[2020-12-20 23:51] balag0 commented on #7004
We had an issue with hostversion 3.0.15149.0 earlier last week. The 2 workers that were failing with 404 were impacted by this issue.

We started applying a patch last week and on Friday it reached East US. I can also see that there have been no errors with the new host version 3.0.15185.0 (which includes the patch). i have also confirmed that all 4 workers assigned to this app currently are runni

[2020-12-21 08:43] ChristianSauer commented on #7004
@balag0 Thank you for the quick response. I can confirm that it seems to be running fine in eastus.
Did the patch reach westeurupe, canadacentral and australiaeast? Especially australiaeast seemed to have problems this night.

[2020-12-21 12:18] ianadavies commented on #6957
@pragnagopa any update on this?

[2020-12-21 17:05] balag0 commented on #7004
Thanks for confirming. Australia East is in the last batch of regions and not updated yet. This should be complete in the next 6 hours.

[2020-12-21 18:03] pragnagopa commented on #7003
Repro

[code]

Updating to latest `System.Data.SqlClient` resolves the issue.

[2020-12-21 19:00] ghost commented on #6139
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-12-21 21:37] pragnagopa commented on #6996
Verified updating `System.Data.SqlClient` package  to the latest - resolves the issue. `dotnet publish -r win-x86` includes `sni.dll` in the site extension !

[2020-12-21 23:50] MhAllan commented on #6963
I am asking when is it created and when is it collected, is it safe to treat it as a singleton? or is it per instance?

[2020-12-22 08:57] v-anvari commented on #6103
Hi @andrejpohlmann , This is not a supported scenario, the host doesn't have any mode where it consumes a single  message and then stops.

If you could elaborate on the feature request regarding the purpose of it, then we shall add it as a feature request.

[2020-12-22 09:10] v-anvari commented on #6963
Hi @MhAllan , Durable Functions is used to manage task lifetimes. The monitors can end execution when a condition is met, or another function can use the durable orchestration client to terminate the monitors.

When a request is received, a new orchestration instance is created for that job ID, which is achieved by [singleton behavior ](https://docs.microsoft.com/en-us/azure/azure-functions/durabl

[2020-12-22 14:31] kolanos opened #7007 "Host Error with OpenTelemetry.Extensions.Hosting"
When running `func start --csharp` when using `OpenTelemetry.Extensions.Hosting` in a function-app it gives the following error:

[code]

See [here](https://github.com/nintexvictor/DoNothingApp) for an example function app using `OpenTelemetry.Extensions.Hosting`.

cc @fabiocav

[2020-12-22 15:58] espray commented on #6805
@brettsam any update?

[2020-12-22 16:00] ghost commented on #6970
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-12-22 23:06] MhAllan commented on #6963
Thanks a lot @v-anvari  .. please free to close this issue =)

[2020-12-23 00:40] Hazhzeng opened #7119 "[BUG] ServiceBus body containing ExpiresAtUtc field is not parsed properly"
### Investigative information
###### Please provide the following:

- Related CRI: 219200398
- Timestamp: 2020-12-22 22:58:33
- Function App name: prod-azureing-governor
- Function name(s) (as appropriate):
- Core Tools version:

### Repro steps
###### Provide the steps required to reproduce the problem:
1. Create a function app with service bus trigger.
2. Send a message to the ServiceBus namespa

[2020-12-23 01:06] davidmrdavid commented on #6985
Hi @marcd123,

I looked at some internal logs from your application yesterday and, from what I gathered, your container was killed due to it consuming too much memory. It would also appear that the message:

[code]

Indeed refers to the Functions Host process in the container.

**So I think your theory checks out!**
This would also explain the "gaps" in work completion you were seeing, because we

[2020-12-23 02:35] marcd123 commented on #6985
Hey @davidmrdavid

Thanks for the follow up.

This past week I did a lot of experimenting and found the best settings for our app. I think we could close the issue, though I would like to write up the experience here so others with similar issues can search it up.

There were two specific bugs I was trying to fix:

1. Language Worker Process is killed via SIGKILL (Exit code 137) due to out-of-memo

[2020-12-23 06:12] #6963 closed, assigned to madelinegordon, v-anvari

[2020-12-23 10:34] ChristianSauer commented on #7004
Thanks, the graphs of the last days look good.
Thank you very much and happy holidays!

[2020-12-23 16:32] v-anvari commented on #6962
Hi @MhAllan , Let us know if you have got the information that you were looking for in the above provided release notes

[2020-12-23 16:55] v-anvari commented on #6953
Greetings @bgribaudo,

The [function app settings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#local-settings-file) values can also be read in your code as environment variables depending on the language you choose, for in this case its C#.

Please find the link to include Environment variables in your code here - [functions-reference-csh

[2020-12-23 17:19] v-anvari commented on #7007
Hi @kolanos , I was able to reproduce the issue. " builder.Services.AddOpenTelemetryTracing( )" throws the exception. The error should be because Azure Functions doesn't allow to register any IHostedService as a part of your Startup operation.

Explained in https://github.com/Azure/azure-functions-host/issues/5447#issuecomment-575368316

**Error:**

**_Line_**:  builder.Services.AddOpenTelemetryTr

[2020-12-23 19:32] rhuettl opened #7008 "Receiving HTTP 404 while running/testing simple example locally using a container, customHandler and R"
Hi team,

Running a custom container locally in Docker, function calls always resulting in 404 results.

I just have taken a good example at [Microsoft docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?pivots=programming-language-other&tabs=bash%2Cportal&WT.mc_id=javascript-10496-davidsmi) without modification, resulting in the same 404 behav

[2020-12-23 19:46] #7004 closed, assigned to balag0

[2020-12-23 19:48] jimmyjamesbaldwin opened #7009 "Functions Host restarting when hitting Kubernetes resource limits"
#### Issue Summary
Hi, I'm experiencing some trouble running an Azure Function app on our AKS cluster. My issue is that when enforcing memory resource limits on the deployment, when under heavy load the memory consumption increases and as it approaches the limit the Functions Host service inside the container dies and restarts (note the container still stays alive just the Host inside restarts). I

[2020-12-23 22:49] bachuv opened #7010 "Host not starting up after MSDeploy"
I received a customer issue (see ICM incident 214395142) where the customer's app got 500 Internal Server Errors after deploying through MSDeploy.

The app seemed to have gone offline during the deployment and stayed in that state instead of coming back online. This caused the host to never start up and any pings to it showed the host in an offline state. Looks like the host isn't handling the `Ap

[2020-12-24 02:23] rubo commented on #6674
- The suggested workaround for https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/13 is not applicable for the projects that have dependencies that use some v5 packages
- Durable tasks seem not possible which is a blocker
- Configuration settings cannot be read from local.settings.json

Am I missing something or is [this](https://github.com/Azure/azure-functions-dotnet-worker-pr

[2020-12-24 02:29] jjxtra commented on #6674
You can't use net 5 for azure functions right now. Target net core 3.1 and link any shared source files or use net standard versions of your nugets.

[2020-12-24 12:13] v-anvari commented on #6749
Hi @aradice-truenorth , There could be a duplicate entry made or the issue might be occurring during the deployment.
Are you still finding the error? if yes, Can you share the repro steps in detail, so that we can clone the issue from our end.

[2020-12-24 15:07] Methuselah96 commented on #6674
([source](https://twitter.com/nthonyChu/status/1337178724706394113))

It sounds like there is no planned support for Durable Functions for .NET 5 (and no concrete plan yet for .NET 6). This is preventing us from upgrading almost all of our code to .NET 5 (C# 9) which is discouraging. We're looking forward to hearing plans for supporting Durable Functions. Meanwhile we'll probably start looking int

[2020-12-24 15:12] onionhammer commented on #6674
@Methuselah96 Can you use the  new DOTNET sdk to target 3.1 with C# 9 by setting langversion in csproj?

Nevermind, that used to work back in the day with other upgrades, not so much with C# 9.

[2020-12-24 16:05] ssa3512 commented on #6674
@onionhammer @Methuselah96 most C#9 features will work by setting langversion latest. The big exception to this is record types, which require the IsExternalInit type in System.Runtime.CompilerServices. I’ve requested a shim package similar to Microsoft.Bcl.AsyncInterfaces and Microsoft.Bcl.HashCode here, hopefully we will get that. https://github.com/dotnet/runtime/issues/43638

[2020-12-24 16:28] Alxandr commented on #6674
You don't *need* a shim package. I have a shim file I copy that contains both support for records and nullable attributes. On phone now though, so can't paste link to it. If there is interest, I can do do later.

[2020-12-24 22:00] #6139 closed, assigned to v-anvari

[2020-12-25 09:18] norarrsgd commented on #6674
Would be nice to have Durable Functions support

[2020-12-25 19:00] #6970 closed, assigned to gzuber, v-anvari

[2020-12-25 21:18] ladeak commented on #6674
There is a separate issue as well for Durble Functions:

https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/9

You can use c# 9 with preview Lang version and a hack linked the issue above with Durble Functions and dotnet 3.1

But will lose all the performance improvements and I did not find a way to reference other net 5 projects.

[2020-12-26 08:27] StefanSchoof commented on #6674
Here is the issue discussion about the IsExternalInit, with a workaround: https://github.com/dotnet/roslyn/issues/45510

[2020-12-26 10:00] ghost commented on #6969
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-12-26 10:00] ghost commented on #6103
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-12-27 16:53] rhuettl commented on #7008
I re-tested the docker built on a personal/private server and not on a company one and the call succeeded!
Seems that docker is creating or starting the image different this way - but running the same version, really strange.

[2020-12-27 19:00] ghost commented on #6962
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-12-27 19:00] ghost commented on #6953
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-12-28 09:09] m-ghaoui commented on #4689
@brettsam 's workaround works for me, but really I shouldn't be doing:

[code]

This breaks the very concept of Dependency Injection. Is there a fix for this?

[2020-12-28 12:08] v-anvari commented on #6967
Hi @emilbm, We have gone through the logs for the mentioned TimeStamp and found the below errors. Please go through the recommended actions and let us know if this eliminates the errors.

**Error:**
Source: Microsoft.Azure.WebJobs.Script.WebHost.WebScriptHostExceptionHandler
Microsoft.Azure.Storage.StorageException : The server is busy.
**Recommended Action:**
Since it is a Storage exception. A go

[2020-12-28 13:00] ghost commented on #6749
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-12-28 14:11] bgribaudo commented on #6953
Hi @v-anvari,

Thanks! The challenge is that when running automated (unit/integration) tests, the function app settings are **not** automatically getting loaded into environment variables, so I can't read them out using System.Environment.GetEnvironmentVariable (e.g. the example you linked to).

I ended up creating a helper method that the appropriate test class(es) call which emulates what `func

[2020-12-28 19:20] brett-ed opened #7011 "Cant create a vnet integrated function app when the backing storage account is locked down"
This is in regards to the issue reported and discussed on:  https://github.com/Azure/azure-functions-host/issues/5572

This issue still exists.

The only way I can get the vnet integrated function app to create successfully is to toggle the storage account back to be publicly accessible.  Once its created, I can flip it back to private and the app works just fine.

ARM reports back an obscure INTE

[2020-12-28 20:59] yobyot commented on #1431
I sure wish the team would fix this. It doesn't happen locally so the "fidelity" is off for testing between local and Azure function.

[2020-12-28 22:31] bgribaudo opened #7012 "Retry Policy - Recommended Settings"
#### Is your question related to a specific version? If so, please specify:
Microsoft.Azure.WebJobs >= 3.0.23 must be used

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
All

#### Question
Hello,

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#retry-limitations-during-preview makes the following recommendation:

[2020-12-29 07:41] DVGY opened #7013 "How to access blobName in function.json output binding settings?"
#### What problem would the feature you're requesting solve?
I am trying to compress images, all the uncompressed image are stored in `project-uncompressed` container. When someone uploads images to `project-uncompressed` it triggers blob created event (event triggered function). I want to store the the output images in `compressed-images-project` container and the name of blob should be same.

As

[2020-12-29 07:52] DVGY opened #7014 "How function.json and it's corresponding function work behind the scene"
#### Is your question related to a specific version? If so, please specify:
Node 12 LTS,
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
It applied to node js
#### Question
Q1. I am wondering how `function.json` settings work behind the scene. For example in the following function which is event triggered. How the settings described in `function.json` works as inpu

[2020-12-29 13:00] #6969 closed, assigned to pragnagopa, v-anvari

[2020-12-29 13:00] #6103 closed, assigned to yojagad, v-anvari

[2020-12-29 19:22] krishnasingh1818 opened #7015 "Azure functions local debugging spawning lot of conhost.exe processes"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:
![image](https://u

[2020-12-29 19:23] krishnasingh1818 opened #7016 "lot of conhost process open in task manager after continous stop/start debug sessions on local machine."
#### Investigative information
Azure function local debugging after sometime lot of conhost.exe remains open in task manager and break points don't get hit.  After i terminate all conhost.exe and debug again then break point got hit.

![image](https://user-images.githubusercontent.com/10679463/103309067-a894ff80-49d9-11eb-8cdc-1c4d8776463f.png)

![image](https://user-images.githubusercontent.com/1

[2020-12-30 02:15] stevo-knievo commented on #5469
I just ran into the same case. Will this get fixed with .NET5 for Azure Functions?

[2020-12-30 03:53] ZachTB123 opened #7017 "Instances running a mix of old and new code after zip deploy"
I am doing some performance testing of an Azure Function running on a consumption plan (Windows). The Function App has a function with an Event Hub trigger. I am also using custom handlers.

I am generating mock data to the Event Hub (over 1 million messages per minute) which has caused the function to scale out and add more instances (at least 32 since my Event Hub has 32 partitions). Once the fu

[2020-12-30 03:55] ZachTB123 commented on #7017
@anthonychu This is one of the issues we discussed when we met last.

[2020-12-30 04:53] ZachTB123 commented on #7017
I stopped my Function App (and disabled all functions) temporarily as described in the above `Known workarounds` section at around 10:10 pm CST, and I am indeed only seeing the new code (Edit19) now.

[2020-12-30 11:57] v-anvari commented on #5838
Hi @ErikAndreas , Let us know if you are still seeing this error?

[2020-12-30 12:13] v-anvari commented on #5654
Hi @luckerby , Apologies for the delayed response. Were you able to find a solution here. Kindly let us know if you are you still facing this challenge?

[2020-12-30 12:19] v-anvari commented on #5653
Hi @f2bo , Apologies for the delayed response. Were you able to find a solution here. Kindly let us know if you are you still facing this challenge? If yes, then please provide us repro steps so as to clone the issue.

[2020-12-30 16:10] v-anvari commented on #7017
Hi @ZachTB123, I was looking at the backend logs of your Function App. I see that the invocation id : c9955619-a073-482a-bf32-4c357d73b608 started at a time stamp of : 2020-12-30 03:24:50.**3961630** which should be just before you made the changes, and the job completed at Time Stamp: 2020-12-30 03:24:53.**7909379** which is few seconds after the new job has started.

I do see the event sequence

[2020-12-30 16:49] v-anvari commented on #5902
Hi @balag0 , Just checking if we have any update on this issue. Does this require any fixes to be done

[2020-12-30 20:52] Simon-Gregory-LG commented on #6239
Any update on this issue?

I've encountered this nasty bug in the last few days, initially I thought it was related to the Snapshot Debugger, but seems I'm getting the same inconsistent behaviour with Environment.

I've found that the function can be honouring the setting one minute, but then either changing a AppService configuration setting in the Azure Portal, performing an ARM deploy or deploy

[2020-12-30 21:03] Simon-Gregory-LG commented on #6239
As stopping and starting the app is never an acceptable or workable solution, this is my temporary code workaround for `FunctionsStartup.ConfigureAppConfiguration`:

[code]

But please, please, please fix this. I've **lost many hours** to this already - others will surely, or even worse may not even notice they have incorrect configurations running.

[2020-12-30 21:18] devdorn commented on #6239
Maybe helpful, but I do encounter this behavior only on Functions not on AppServices.

[2020-12-30 21:23] fabiocav commented on #6239
@devdorn can you clarify what you mean by that?

Thanks for the additional details. What you've share points to a possible race, so that narrows things down a bit.

[2020-12-30 21:31] ericsampson commented on #6239
I'm guessing Consumption plan vs fixed plan.

[2020-12-30 21:41] fabiocav commented on #6239
I see. Thank you! That does provide some additional clues about what might be happening here. Thank you!

[2020-12-30 21:54] BloodSeaker commented on #6239
We are running on app service plan and not consumption and experience the same issue.
We now set it via ARM deploy to our own custom value just to be sure. That seems to hold, but should not be there and one should be able to rely on it sticking to 'production'
________________________________
From: Fabio Cavalcante <notifications@github.com>
Sent: Wednesday, December 30, 2020 10:41:43 PM
To: Azur

[2020-12-30 22:00] #6962 closed, assigned to kashimiz, v-anvari

[2020-12-30 22:03] fabiocav commented on #5469
@stevo-knievo the model with the OOP worker for .NET 5 in functions is a bit different, but you have full control over the stack there.

[2020-12-30 22:12] devdorn commented on #6239
What I was saying is, that I encounter this behavior only on Azure Serverless Functions and not on Azure Web Apps or how they are called. I  call them AppServices. The thing is, they are similar with Functions in terns of AppSettings or Configuration. Only there have more Web Features. But the Settings Part and the way environment variables get injected is the same. There are in many ways identica

[2020-12-30 22:31] balag0 commented on #5902
Yes. this needs to be tracked and fixed.

[2020-12-30 22:40] stevo-knievo commented on #5469
@fabiocav thanks for your reply! I'm looking forward to using .NET5 together with Azure Functions.

[2020-12-30 22:47] john-soklaski commented on #6380
We have run into this issue as well and it took me some time to find this github issue.

Since this has been fairly long standing does it make sense to add it to the docs so it can be worked around? https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/functions-dotnet-dependency-injection.md#working-with-options-and-settings

[2020-12-31 14:59] petro2050 opened #7022 "Use v12 of Azure Storage SDK"
It looks like the runtime is using v11 of Azure Storage SDK, but this package is deprecated. (https://www.nuget.org/packages/WindowsAzure.Storage/9.3.3).

Can you please upgrade to v12 so that we don't have to manually install this package and increase our final DLL size and cold start times?

[2020-12-31 15:05] petro2050 commented on #6456
@rohitgkr I was getting timeouts on the client side in Xamarin. I've never tried Functions or .NET Core, but there might be an issue with the Storage SDK itself. See https://github.com/Azure/azure-sdk-for-net/issues/16548.

I too needed to upload very large files and in the end ended up using `BlockBlobClient` with individual blocks which worked like a charm even in v12. See https://stackoverflow.

[2020-12-31 16:00] #6749 closed, assigned to pragnagopa, v-anvari

[2020-12-31 19:52] alexjamesbrown opened #7023 "Change Feed processor records invocations as 'request' telemetry in Application Insights"
I've got an Azure Function Cosmos DB change feed processor. It has Application Insights configured.

When this is invoked by a change in cosmos db, the invocation is sent to Application Insights as a 'request' - albeit without a URL, and a response code of 0

![image](https://user-images.githubusercontent.com/437743/103423907-72a27780-4ba1-11eb-8b25-7482fa97583c.png)

Is this by design?

[2021-01-01 13:00] ghost commented on #6967
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-01 19:05] OTedikov opened #7024 "Azure Functions Control Queue Message Dequeue Count Increase over Time"
Azure Functions v3, C#, Runtime Version 3.0.15193

We are using Azure Durable Functions in the following way:
Orchestrator Function
Activity Functions (5-20)
Activity Functions are executed in a specific order, according to Pattern #1: Function chaining
Control Queues Count: 8
Control Queue Visibility Timeout: default 5 minutes
Number of Orchestrator Function Executions: ~100 per minute
Elastic Pr

[2021-01-03 13:00] ghost commented on #5838
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-03 13:00] ghost commented on #5654
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-03 17:30] luckerby commented on #5654
@v-anvari the only progress I made at the time was to find out from Microsoft Support that the extra memory usage is due to the underling IIS process (as the Azure Function App relies on an App Service). But I don't have a lot of details around that unfortunately. Are there are any pointers you could help with in regards to breaking down the used memory by a Function App?

[2021-01-03 19:00] ghost commented on #7017
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-04 02:42] paulbatum commented on #1431
@yobyot Can you clarify what you mean? Are you still seeing duplicate log messages in the log stream view for the full function app? We deployed a fix for this a while ago. If you can include a screenshot that would be helpful.

[2021-01-04 07:15] anthonychu commented on #7017
Thanks @ZachTB123.

I think one thing that we need to do here is to rule out the deployment mechanism as a cause (even though we had talked about this and are quite certain it is not). If there's a way to test this out by pushing the change using Core Tools, it would help a lot in focusing any investigations.

/cc @pragnagopa @yojagad

[2021-01-04 07:20] anthonychu commented on #7024
\+ @cgillum @ConnorMcMahon

[2021-01-04 07:26] anthonychu commented on #7023
Yes I believe it is. Azure Functions tracks each invocation, whether it's HTTP or other trigger, as a request in App Insights. /cc @brettsam

[2021-01-04 09:57] brtkdotse opened #7025 "Azure Function App stops responding to event after ~4 days if left unattended"
We're running a Function App that has functions triggered by both Timer and Servicebus triggers. They work fine, but if left unattended they triggers stop firing after ~4 days (see screenshot). Doing any of the following seems to cause the triggers to "wake up":

- Redeploying the Function App
- Restarting the Function App
- Looking at the Function App in Azure Portal (?!)

#### Investigative info

[2021-01-04 13:11] ghost commented on #5098
@fabiocav Applying the feature flag helped in our case as well.

Our story:
Last month, we noticed some odd behavior regarding scoped services. In our case, a scoped service was responsible for setting up one database connection per request if necessary, and disposing it once the scoped service was disposed. However, after a longer period of time without restarts, the function app ran out of ports

[2021-01-04 14:55] FinVamp1 opened #7026 "Azure Functions Warmup Dependency on the Placeholder is being logged against the customer Application Insights Log for Linux Consumption."
#### Investigative information

Please provide the following:

- Timestamp: 04/01/2021, 09:17:53
- Function App version: 3
- Function App name: TestFinPyTimer
- Function name(s) (as appropriate): TimerTrigger1
- Invocation ID: 77fa44f6-16b0-4d53-9be8-fea2e487c940
- Region: UK South

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a Function App on Linux Consumptio

[2021-01-04 16:00] #6967 closed, assigned to mhoeger, v-anvari

[2021-01-04 16:01] patcout26 commented on #6542
I'm getting this issue as well when trying to use queue name bindings for functions that are set from azure app configuration from startup

**Finally the function app work only on a app service plan ... not consumption plan**

[2021-01-04 16:06] brettsam commented on #7023
Yes, this is correct. All function invocations are logged as requests in application insights as there's not a concept there of a "generic operation".

[2021-01-04 16:06] #7023 closed, assigned to ankitkumarr

[2021-01-04 16:11] v-anvari commented on #7025
Hi @brtkdotse , Is this a consumption plan?
This usually happens when the [function timeouts](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#timeout). On a Consumption plan, a function execution times out after a configurable period of time.

[2021-01-04 16:14] brettsam commented on #5098
Thanks for providing that data, @b10-dslappendel! This is very useful.

We'll discuss this and see if we have enough usage and data to make it the default.

[2021-01-04 16:55] brtkdotse commented on #7025
Nope, this is running on an autoscaling P1v2 (up to 3 instances)

[2021-01-04 16:55] v-anvari commented on #7012
Hi @bgribaudo, For example if MaxDequeueCount = 1; then the function tries to receive the message and in case there is another job running and reaches a time out for any reasons, then there wouldn't be any retry, thus the function fails.

Retry is the maximum number of times an execution is retried before eventual failure. But on a Consumption plan, a [function execution times out](https://docs.mi

[2021-01-04 16:58] v-anvari commented on #7025
@brtkdotse , Thank you for the confirmation. We will go ahead and check the logs using the invocation ID provided and see if we can find any exceptions or errors.

[2021-01-04 16:59] brtkdotse commented on #7025
Thanks, let me know if you need any additional info!

[2021-01-04 17:20] Code-Grump opened #7027 "WebHost service provider fails to handle covariant types"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: N/A

[2021-01-04 17:31] v-bbalaiagar commented on #7022
Hi @petro2050 , The Version you are pointing to is a deprecated version. There have been further upgrades made for Storage and changes in the dependencies. The latest stable version for [Microsoft.Azure.WebJobs.Extensions.Storage ](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#install-the-storage-binding-extension) is 4.0.3 which is available in the [NuGet Gallery](htt

[2021-01-04 19:13] Mithras commented on #6674
So from my understanding https://github.com/Azure/azure-functions-dotnet-worker-preview doesn't work only because it generates a .dll instead of function.json. Is there an estimate for a fix?

[2021-01-04 19:21] jbeeko opened #7028 "Unable to Cast [A] to [B]"
That fail intermittently. A Stop/Start of the functions appears to fix the issue.

The error message is always the same:

[code]

Initially this looks very similar to cases where a binding redirect may be needed. But on inspection the two types that can't be cast between seem to be the same one,  identical in all regards.

[2021-01-04 19:32] NSouth commented on #6542
We are having the same issue. Our TimerTriggers worked fine in v2, but we get this error after upgrading to v3.

[2021-01-04 22:30] divyagandhisethi opened #7029 "Linux consumption specialization fails if not in placeholder mode"
For linux consumption apps which are pinned to a given host version, their apps are not launched in placeholder mode since they are already specialized at startup.  The linux consumption controller fails to specialize when on startup because we have an assumption that we will always start in placeholder mode.

[2021-01-04 23:07] divyagandhisethi commented on #7029
Example Kusto query for a failing pinned container-

https://wawscus.kusto.windows.net/wawsprod?query=H4sIAAAAAAAEAGWOwWoCMRRF9wP9h4crBWdI0mTGCC6KKAgWRP2BNH1qxCRD8kYR%2bvEVQURc3sM9lzvvgiUXQ17Gff4o%2fuBywISwSmhdxq3zuCHjW%2fhBuiAG6P8aQrrhvmCClVyUggHTY1WPmayYFFzqZlBV3LsweO6t4wlhMoHet7Mp5rijahoDGRcwLUImEyz2XusPfNe%2b2racac35dCbK%2brORkik5qpuR0kIpeVfbFI9o6e37EDaxSxaHsMQznm6x896ka1H8A06cOJf9AAAA&web=0

[2021-01-04 23:14] brandonh-msft commented on #6885
Was coming to write a similar bug; From what we've seen in our current project, this appears to be true for **all** non-HTTP bindings on a **disabled function** which reach out to their related app settings and attempt to talk to a resource that doesn't exist. Disabled Functions shouldn't go through the binding wire-up logic. Service Bus, Event Hubs, Storage, etc.

[2021-01-05 00:45] pragnagopa opened #7032 "[Auto-Upgrade]V2 apps Auto-Upgraded to V3 failing with System.Data.SqlClient is not supported on this platform"
Pre-Compiled V2 function apps that have dependency on `System.Data.SqlClient` and that do not include `function.deps.json` file in `bin` folder are failing with error `System.Data.SqlClient is not supported on this platform`

Root Cause: #6996

Verified updating `System.Data.SqlClient` to latest nuget package resolves the issue.

[2021-01-05 00:54] anthonychu commented on #6674
@fabiocav  Can you please take a look at @Mithras' question above?

[2021-01-05 02:15] ZachTB123 commented on #7017
I tested this with Core Tools and didn't have any issues. After looking at the Core Tools code more closely, I decided to mirror that logic in my deploy script. The specific logic that I mirrored starts [here](https://github.com/Azure/azure-functions-core-tools/blob/3.0.3160/src/Azure.Functions.Cli/Actions/AzureActions/PublishFunctionAppAction.cs#L356). I was able to determine this by turning on d

[2021-01-05 06:09] balag0 commented on #7017
I believe this could be the issue when setting the value to "1" at app creation time.
https://github.com/Azure/azure-functions-host/issues/5722#issuecomment-619596843

Basically if WEBSITE_RUN_FROM_PACKAGE is set "1" and there is no content deployed yet, the functions runtime will be shutdown.

[2021-01-05 10:11] v-bbalaiagar commented on #7028
Hi @jbeeko, We need to check the back end logs to understand the cause. Meanwhile, we would like to also clone the scenario that you are trying. Could you please provide us the repro steps for the same.

Also, Can you please provide the following details to check the logs?
Timestamp:
Function App version: -
Function App name: -
Function name(s) (as appropriate):
Invocation ID:
Region:

[2021-01-05 11:17] shaw-system1 commented on #1864
Same issue here with an Azure (~3) timer triggered function;

`Singleton lock renewal failed for blob '.../host' with error code 409: LeaseIdMismatchWithLeaseOperation. The last successful renewal completed at 0001-01-01T00:00:00Z (-2147483648 milliseconds ago) with a duration of 0 milliseconds. The lease period was 15000 milliseconds.`

Last successful lock time on this is weird.  Doesn't seem to

[2021-01-05 11:29] v-anvari commented on #6569
Hi @amogh79 , Only environment variables are supported for app settings and connection strings.

You need to make sure that the environment variable AzureWebJobsAzureSBConnection is set on your Function's app settings in the portal, and then once there, you need to add the AzureWebJobsAzureSBConnection variable with the proper connection string.

Then you can access this via code by:
Environment.G

[2021-01-05 18:41] ivan-sam opened #7033 "Regression: InvalidCastException while creating a WCF channel in Azure Function"
#### Investigative information

Please provide the following:

- Function App version: v3 ("Microsoft.NET.Sdk.Functions" Version>="3.0.6")
- Region: West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

1. Add package "System.ServiceModel.Http" Version>="4.7.0"
2. Create a simple HttpTrigger with the code consuming any WCF service with httpBinding:
[code]
3. Debug th

[2021-01-05 19:01] pragnagopa commented on #7017
Thanks all for the follow up! I am going to flag this as doc issue as it might be worth documenting / providing sample scripts for deployment that mimics what we do in Core-Tools

[2021-01-05 20:20] pragnagopa commented on #6999
We have identified issue on the platform and fix will be rolled out by end of this month. Until then x64 dynamic sku apps on windows platform will be pinned to Functions V2 to avoid disruption due to auto-upgrade.

[2021-01-05 21:29] jbeeko commented on #7028
Hello @v-bbalaiagar

Here are those values. Get you a repo will be a challenge as it happens in the context of a larger application.

Timestamp: 1/3/2021, 9:56:58.657 PM
Function App version: - FUNCTIONS_EXTENSION_VERSION ~3, Host.json {"version": "2.0", "functionTimeout": "00:10:00"}
Function App name: - v2-prod-symr-0f7f-fn-internal
Function name(s) (as appropriate): jobs-FullIntegrityCheck
Invo

[2021-01-05 22:31] Francisco-Gamino opened #7034 "After enabling drain mode, some function apps do not log `Microsoft.Azure.WebJobs.Host.DrainModeManager` for `Source"
After enabling drain mode, some function apps do not log `Microsoft.Azure.WebJobs.Host.DrainModeManager` for `Source`. As a result, the AppLense detector shows that the function app drain mode is not enabled when it actually is.

[2021-01-05 22:37] balag0 commented on #7017
There could also be a case for this to be considered as a bug in the worker where it is not able to differentiate between unreachable content vs empty content. If the worker could flag empty content differently then functions runtime can also react differently instead of shutting down. But there might be more complexity involved here.

[2021-01-05 23:11] fabiocav commented on #6542
@brettsam looks like this wasn't closed. Should this move to 92 for investigation?

[2021-01-06 07:43] ivan-sam commented on #7033
I've created a small solution that helps to reproduce the issue: https://github.com/ivan-sam/AzFuncWithWcfServiceBug

And the hosted version of the function can be found here: https://wcfcheckfunctionapp20210106075546.azurewebsites.net

[2021-01-06 10:02] rubengarciam opened #7036 "Error in context.res body JSON since last release: Unexpected character encountered while parsing value: <. Path '', line 0, position 0."
#### Check for a solution in the Azure portal
Checked. Seems like a runtime issue?

#### Investigative information

Please provide the following:

- Timestamp: 2021-01-06T09:56:48.446
- Function App version: 2.0
- Function App name: getDepartments
- Runtime version: 3.0.15193.0
- Function name(s) (as appropriate):
- Invocation ID: 6c597b11-8778-425c-9810-40cc03bb473f
- Region: West Europe

#### Re

[2021-01-06 13:09] martinnormark commented on #6769
We're seeing the same problem, started happening late November 2020.

Version `3.0.11` of `Microsoft.NET.Sdk.Functions`.

[2021-01-06 16:00] #5838 closed, assigned to madelinegordon, v-anvari

[2021-01-06 16:09] jschieck commented on #3741
@luthus's solution above is the correct one, but if you don't want to have to fork the web jobs sdk, you can get it working correctly in durable functions (or azure functions in general) WITHOUT breaking live metrics dependency and error logging like @kamilzzz saw and I did as well with @lmolkova's solution.

Adding the `ITelemetryModule` and inserting your `ITelemetryProcessors` into the builder

[2021-01-06 17:41] luthus commented on #3741
@jschieck that works as a workaround for now.

[2021-01-06 17:52] DarinMacRae commented on #3741
@jschieck This is good!

I just want to clarify something though.

The docs specifically say not to add `AddApplicationInsightsTelemetry`...

here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#logging-services

...but in your testing you found that it is ok to do so when customizing the processors?

[2021-01-06 18:03] ivan-sam commented on #7033
Just checked: a newly created function **v2** with exactly same code works with no issues.
Here's an example of such function: https://wcfcheckfunctionv2app20210106185128.azurewebsites.net

[2021-01-06 18:11] #7003 closed, assigned to pragnagopa

[2021-01-06 18:11] #6996 closed, assigned to pragnagopa, fabiocav

[2021-01-06 18:11] #7032 closed, assigned to pragnagopa

[2021-01-06 18:24] #6877 closed, assigned to pragnagopa

[2021-01-06 18:57] jschieck commented on #3741
The app we're doing this in runs in a kubernetes cluster not default azure functions so I'm not sure if different rules apply. But we are still getting all of the built in ILogger/app insights functionality from the functions host runtime without any side effects (that we've noticed)

Also I haven't tested in a normal function app if `builder.Services.AddSingleton<ITelemetryModule, MyCustomTelemet

[2021-01-06 21:11] fabiocav commented on #6987
Completed.

[2021-01-06 21:11] #6987 closed, assigned to pragnagopa

[2021-01-06 21:25] fabiocav commented on #6899
Apologies for the delay on this. Assigning to sprint 93 for investigation.

[2021-01-06 21:26] fabiocav commented on #6888
PR has been signed off and will be merged in sprint 92

[2021-01-06 21:29] fabiocav commented on #6879
@kashimiz assigning to sprint 93, but please let me know if we need to change.

[2021-01-06 21:33] fabiocav commented on #6791
@gohar94 apologies for the delay on this. My goal is to have a review early in sprint 93 (starting today) so we can get this in for the next deployment.

[2021-01-06 21:36] fabiocav commented on #6825
@brettsam can you provide an update on the status of this issue? Moving to sprint 93 for tracking.

[2021-01-06 21:38] fabiocav commented on #5631
@mathewc are you planning on addressing this or should we have it assigned to someone?

[2021-01-06 21:39] fabiocav commented on #5449
Additional investigation is needed here to identify some sandbox issues.

[2021-01-06 21:57] bgribaudo commented on #7012
Thank you, @v-anvari!

So the function's timeout applies to the summed runtime of all retries (vs. each retry getting its own timeout--like its own 5 minutes to run on the consumption plan)...good to know!

[2021-01-06 21:57] #7012 closed, assigned to nobody

[2021-01-07 00:42] petro2050 commented on #7022
@v-bbalaiagar My project currently doesn't have a Startup class so I'll need to create one. The example you gave is for web jobs. Can you show me an example for functions? I looked at https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection, but it's extending `FunctionsStartup` and `IFunctionsHostBuilder` doesn't have `ConfigureWebJobs` defined.

[2021-01-07 06:36] ivan-sam commented on #7033
With the help of the article: https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version and the wiki https://github.com/Azure/azure-functions-host/wiki/Function-Runtime-Versioning I was able to find available older versions of runtime
![image](https://user-images.githubusercontent.com/4918115/103859520-77dc5680-50ba-11eb-8f81-ec959dfe895b.png)
There were only two for 3.x (along wi

[2021-01-07 09:22] helmerm commented on #6239
Encountered issue on C# Function v3 hosted in App Service Plan.

- Using code as [documented](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#customizing-configuration-sources)
- AZURE_FUNCTIONS_ENVIRONMENT set to Test
- verified app settings and environment variables of process (via kudu) --> show Test
- settings from appsettings.Development.json are u

[2021-01-07 09:58] v-bbalaiagar commented on #7022
Hi @petro2050, Please find the example for creating [startup file](https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/azure-functions/StartupExample).  Configure web jobs is a part of [HostBuilder](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#create-the-host) instance.

[2021-01-07 10:57] rubengarciam commented on #7036
After further research I found that the issue was being caused by CosmosDB, not the Functions. CosmosDB was not accepting the JSON payload and returning the above mentioned error back (which was always displayed at the end of the log instead of the point of failure, hence the confusion).

Unsure what caused the CosmosDB error when it was working beforehand. Trashing and recreating the CosmosDB ins

[2021-01-07 10:57] #7036 closed, assigned to ankitkumarr

[2021-01-07 11:33] nawafbaraya commented on #7033
Hi, i had the exact same issue and going to  runtime version ~3.0.14916 fixed it, thanks a lot!

[2021-01-07 12:28] v-anvari commented on #7025
Hi @brtkdotse , I tried to search the invocation id in logs but failed to retrieve any logs. Could you provide us the Function App Name instead.

[2021-01-07 15:04] aradice-truenorth commented on #6749
@v-anvari this issue is very simple to reproduce: if I attempt to create a new function app either using az or the Azure portal that has a name of "mti-propaut-netsuiteproxy" a message tells me that the name is already in use. But not function app with this name exists in either of my Azure subscriptions and a DNS lookup to mti-propaut-netsuiteproxy.azurewebsites.net finds nothing.

Azure appears

[2021-01-07 16:03] v-anvari commented on #6749
Hi @aradice-truenorth , Thank you for pointing this out. I am able to reproduce the issue. I will check with the team internally and get back to you soon. Apologies for the delay

![image](https://user-images.githubusercontent.com/66122429/103914446-dbed3200-512f-11eb-8b63-495657b25eee.png)

[2021-01-07 17:11] alrod commented on #6888
PR is merged.

[2021-01-07 17:11] #6888 closed, assigned to alrod

[2021-01-07 17:28] ivan-sam commented on #7033
Also checked deployment to Function App (Linux) - same issue.

[2021-01-07 18:02] paulbatum commented on #6749
@aradice-truenorth This type of problem is unrelated to the azure functions host (this repo). It relates to the App Service / Functions hosting infrastructure itself. You'll need to create a support request. In the left hand nav for any function app (I know you can't open it for the original app because its been deleted), you'll see the support / troubleshooting  section with this option:
![image]

[2021-01-07 20:49] ivan-sam commented on #7033
Since ServiceModel.ChannelFactory uses Reflection.Emit under the hood to create dynamic proxy, there's a chance that much more cases (where libraries that are using Reflection.Emit involved) are broken in host version 3.0.15193

[2021-01-07 23:04] ZachTB123 commented on #6790
@yojagad Following up on this since the meeting we had with @anthonychu. I noticed this again for a separate Function App. This one stopped triggering on Dec 29 around 8:49 PM CST:

<img width="1407" alt="Screen Shot 2021-01-07 at 5 17 36 PM" src="https://user-images.githubusercontent.com/17228033/103955590-442a1c80-510c-11eb-8a5c-97faca73aff1.png">

Note that there were incoming messages to the E

[2021-01-08 00:29] Francisco-Gamino opened #7039 "Update requirements.psd1 for PowerShell function apps and disable downloading the Az module by default."
Update requirements.psd1 template to looks as follows:

Scenario 1: A Functions user creates a PowerShell function app via the Core Tools. In this case, the customer has internet connection and the tooling is able to reach the PowerShell Gallery.

Note: For this scenario, we connect to the PowerShellGallery.com and get the latest major version of the `Az` module that is currently supported. After

[2021-01-08 01:57] vrdmr commented on #6693
+1 on this. We need this. How can I help?

[2021-01-08 02:11] Hazhzeng commented on #6693
Hey @TsuyoshiUshio,

A quick hack to emit the logs from the docker image is to define a CONTAINER_NAME=XYZ environment variable.
(e.g. `docker run -p 8080:80 -e CONTAINER_NAME=XYZ <imagename>`).

This will make the host think it is running in Linux Consumption mode and all the logs will be emitted into console (including the worker log).

**For sure, this is only a mitigation, not the real solutio

[2021-01-08 05:05] ivan-sam commented on #7033
Did investigation of the behavior, related to the static fields: it also shows the difference between 3.0.14916 and 3.0.15193:
[code]

**3.0.14916:** every invocation shows the same value
**3.0.15193:** every invocation shows new value

**Update:** Further investigation showed that change in the statics behavior caused the issue with WCF (and not the fact that dynamic proxies are generated using `

[2021-01-08 12:42] petro2050 commented on #7022
@v-bbalaiagar As you said, Configure web jobs is part of `HostBuilder`, but https://github.com/dodyg/practical-aspnetcore/blob/3.1-LTS/projects/azure-functions/StartupExample/StartupExample/StartUp.cs#L13 is passing `IWebJobsBuilder`.

[2021-01-08 14:35] hhhuut commented on #6769
Same problem here, started happening this week since we changed something in our Azure Pipelines.

One agent job is to build 3 functions using `dotnet publish`, one project usually goes through, the other two fail.
`Microsoft.NET.Sdk.Functions` package is on version `3.0.11` for all three functions.

[2021-01-08 14:40] valters-tomsons opened #7042 "Function with slots and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING"
Technical Information:
- .NET Core 3.1
- Azure Premium ASP plan
- Windows Host

Hi, I hope this is the right repository for this issue.

When adding a slot to function app, it should be documented clearly that `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` must be set for both staging and production apps.

In our case, we deploy staging slot separately from production app and we have noticed that the

[2021-01-08 16:16] SeanFeldman opened #8442 "Create trigger queue / subscription automatically"
Today, a function cannot be triggered if there’s no queue / subscription to listen to. And there’s no way to automatically provision those. Which requires the following hack: https://weblogs.asp.net/sfeldman/automatic-queue-creation-for-function. With some reflection (follow up post) it can be simplified but it would be great to have this feature ootb.

[2021-01-08 21:10] CoryKoehler opened #7190 "Provide support for Azure App Configuration"
It would be nice if we could get support for azure app configuration so that in program we can retrieve connection strings and whatever else.

See the previous issue for more details on error that occurs when attempting to use Azure App Configuration package with the worker. https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/27

[2021-01-09 04:52] Rapol opened #7043 "Worker command line arguments"
#### Is your question related to a specific version? No

#### What language does your question apply to? All

#### Question

Is there a way to pass command line arguments to the language worker? We use webpack and want to pass `--enable-source-maps` argument to the node process. I found this issue https://github.com/Azure/azure-functions-host/issues/2947 that has a merged PR but not sure if this i

[2021-01-09 13:00] ghost commented on #6569
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-09 13:00] ghost commented on #5653
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-10 00:44] kamyker commented on #6674
You should think about custom runtimes. In AWS I was able to make both Net 5 ReadyToRun and CoreRT functions. This dropped 128mb function cold start from 8 sec to 1-2 sec and 400ms for CoreRT.

Hopefully System.Text.Json with source generators will make it easy to use with CoreRT as that's the future of C# microservices.

[2021-01-10 21:31] AdrianTVB commented on #5240
Having trouble with this issue as well. Is there any progress being made?

[2021-01-11 08:23] sriksmachi commented on #6542
We are also facing the issue while loading the service bus queue connection name from KeyVault - what is the suggested alternative until the patch is released?

Microsoft.Azure.WebJobs.Script: The Functions scale controller may not scale the following functions correctly because some configuration values were modified in an external startup class. Function 'fallout-save' uses the modified key(s):

[2021-01-11 08:43] brtkdotse commented on #7025
Sorry, here's a new Invocation ID and timestamp: **71534302-f5f5-466c-be41-70a42bdf5372** (2021-01-11T08:41:14.985).

[2021-01-11 10:56] v-anvari commented on #7025
Hi @brtkdotse , I am sorry but I do not see any App running with that invocation id and no App running during that time in Northern Europe.

It would be helpful if you could provide me the function App name in private at v-anvari@microsoft.com

[2021-01-11 12:57] v-anvari commented on #7025
Hi @brtkdotse , Thank you for providing the App Name.

The Invocation ID : 71534302-f5f5-466c-be41-70a42bdf5372 has completed the Event on time, I do not see any error at that time stamp. But, there are visible errors during the nearest Time Frames on the same Role Instance ID which is the cause of exceptions.

**Errors & Exception:**
1. ) Microsoft.Azure.ServiceBus.MessageLockLostException : _The

[2021-01-11 13:09] brtkdotse commented on #7025
Thanks for you reply @v-anvari! The issues you saw in the logs occured _after_ i restarted the service today. What I'm wondering about is why all function executions stopped around **10:09 CET on 2021-01-06**:

![image](https://user-images.githubusercontent.com/49452986/104186210-65458280-5416-11eb-841d-9f06fdc2cf0a.png)

Except for the MessageLockLostException, there are no other failures around

[2021-01-11 16:37] brettsam commented on #7001
It looks like now you have `prefetchCount: 0`, which would make sense for long-running tasks like this. The examples you have above show `prefetchCount: 100`, which means that one process will fetch up to 100 messages and store them in-memory, preventing any other worker to get them.

I checked some logs from the last few days and things appear to properly scale out now -- if you are still having

[2021-01-11 17:35] #6990 closed, assigned to nobody

[2021-01-11 17:43] pragnagopa commented on #6548
Fix is deployed to Azure and is part of runtime version https://github.com/Azure/azure-functions-host/releases/tag/v3.0.15193

[2021-01-12 02:12] #5009 closed

[2021-01-12 06:49] anthonychu commented on #6674
@kamyker  Azure Functions supports custom runtimes via [Custom Handlers](https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers).

We should be able to provide support for ReadyToRun in the .NET 5 worker. We currently support [ReadyToRun in .NET Core 3.1 functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#readytor

[2021-01-12 11:28] deyanp commented on #6674
@anthonychu, thanks for the hints regarding Webjobs SDK above, I have successfully migrated *away* from Azure Functions (both HttpTriggers and non-HTTP triggers) and enjoying 2x smaller memory footprint and faster runtime, as well as .NET 5 features on AKS :)

For those interested - I just needed 100 lines of code in a Program.fs (sorry, F# here), will write a blog post if I find time .. HttpTrigg

[2021-01-12 14:19] martinnormark commented on #6769
@brettsam

We're using `Microsoft.NET.Sdk.Functions` v3.0.11, and as per the [release notes of v3.0.10](https://github.com/Azure/azure-functions-vs-build-sdk/releases/tag/3.0.10) it does contain the changes you're referring to from v1.2.0 of package `
Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator`.

We're using these package references in our functions app:
[code]

The output from the

[2021-01-12 16:00] #6569 closed, assigned to v-anvari

[2021-01-12 16:00] #5653 closed

[2021-01-12 16:07] brettsam commented on #6944
Closing as dupe of https://github.com/Azure/azure-webjobs-sdk/issues/2649

[2021-01-12 16:07] #6944 closed, assigned to brettsam

[2021-01-12 16:19] dhtek commented on #5433
Any update on this suggestion ? Is this update could resolve this issue as well #5014 ?

[2021-01-12 17:15] kamyker commented on #6674
Isn't that working only for part of an app, not for runtime?

[2021-01-12 17:28] alrod commented on #8442
We do not create azure resources for triggers(storage, event hub, service bus, etc.) by design.
For example a customer can unintentionally created new resources and think a function is working without any issues.

[2021-01-12 17:50] fabiocav commented on #6674
@kamyker

Can you please clarify? The runtime is deployed with optimizations. All you need to optimize is the payload you're deploying.

[2021-01-12 18:32] SeanFeldman commented on #8442
Storage or Service Bus queue existence will not determine wherever a function is running or not. If a function doesn't have a single log, it cannot be running. I'm also not asking to make it the default. Rather, opt-in option to remain backwards compatible. Customers have different preferences. Some prefer to have the infrastructure rolled out in a controlled manner and use ARM (as an example) to

[2021-01-12 18:33] SeanFeldman commented on #8442
Also, @alrod, customers can [hack](https://weblogs.asp.net/sfeldman/automatic-queue-creation-for-function) their way through this but would rather have an option.

[2021-01-12 20:34] Mithras commented on #6674
Is there any point waiting for Functions to support .NET 5 or should everybody just migrate to Webjobs SDK?

[2021-01-12 20:41] drdamour commented on #6674
Do webjobs work on consumption plans?
Do they support df?

[2021-01-12 20:45] chassq commented on #6674
Maybe the functions team should consider supporting all the versions of dotnet 5+ for all azure function features. Hopefully they will never make us go through this again. This is so very obtuse.

[2021-01-12 20:47] Mithras commented on #6674
@drdamour So not everybody can just migrate... Well, at least people who don't need DF and use Service Plan should be able to migrate and use whatever version of .NET they want, right? My main concern is how well Webjobs SDK is being supported. I don't want to migrate to something that'll be abandoned in near future.

[2021-01-12 23:45] Mithras commented on #6674
https://docs.microsoft.com/en-us/azure/azure-functions/functions-compare-logic-apps-ms-flow-webjobs#comparison-table
Here is a table that summarizes Functions vs WebJobs. From my understanding of https://github.com/Azure/azure-webjobs-sdk-extensions#other-extension-repositories DF should work in WebJobs as well.

[2021-01-13 01:12] alrod opened #7048 "Updating RPC layer to include RetryContext"
https://github.com/Azure/azure-webjobs-sdk/pull/2658#issuecomment-758138906

[2021-01-13 01:23] norarrsgd commented on #6674
Are they abandoning Azure Functions in future .NET releases to focus more on WebJobs SDK? I have tons of functions and almost all rely heavily on DF.

[2021-01-13 02:30] anthonychu commented on #6674
Absolutely not. In fact, we are increasing our investments in .NET in Azure Functions so that we can provide an updated Azure Functions host that supports .NET 6 in the same timeframe as .NET 6's planned GA. It will support all current features, including Durable Functions.

In addition, we will continue investment in the out-of-process .NET worker that is currently in preview. We will announce in

[2021-01-13 11:52] srjhunjhunwalacorp opened #7049 "Azure Storage Queue trigger not firing function sometime"
#### Is your question related to a specific version? If so, please specify:
Azure Function Version - 1.0.29

Scenario -
Azure Function Running Naively on a virtual Machine which is in corporate environment, and Azure storage Queue is in Public external network of same tenant.

Our function is on C#

#7042 Question  - Our local running azure function sometime stops getting fired by new queue messag

[2021-01-13 11:53] srjhunjhunwalacorp opened #7050 "Azure Queue Message not firing function sometimes"
#### Is your question related to a specific version? If so, please specify:
Azure Function Version - 1.0.29

Scenario -
Azure Function Running Naively on a virtual Machine which is in corporate environment, and Azure storage Queue is in Public external network of same tenant.

Our function is on C#

#7042 Question  - Our local running azure function sometime stops getting fired by new queue messag

[2021-01-13 12:26] #7049 closed, assigned to nobody

[2021-01-13 12:26] srjhunjhunwalacorp commented on #7049
opened twice

[2021-01-13 12:53] plukawski commented on #2721
We are also experiencing this issue with the big number of requests with almost no active messages. It seems that almost every couple of seconds number of requests generated by the Azure function which has ServiceBus trigger is equal to the number of scheduled messages + dead letters which reside on the queue. So for example when we have 13 scheduled messages and 4 dead letters we see 17-18 reques

[2021-01-13 20:48] pragnagopa opened #7051 "[Auto-Upgrade]Apps failing with System.InvalidCastException"
Few apps failed with:
[code]

Needs investigation. More details: https://github.com/dotnet/efcore/issues/11704

[2021-01-13 20:50] pragnagopa opened #7052 "[Auto-Upgrade]ArgumentNullException on DependencyInjection.FunctionsStartup.Configure"
cc @fabiocav @brettsam

Few apps failing to start with errors similar to the following:

[code]

Needs investigation.

[2021-01-13 20:59] pragnagopa commented on #7052
Another stack

[code]

[2021-01-14 10:26] plamber opened #7241 "Is there a way to pause new Azure function requests?"
Hello,
I am wondering if there is a way to pause the execution of new Azure function queue items on a specific moment without disrupting the execution of the currently running processes.

Imagine you have hundred of items in a queue that need to be processed and you have a couple of items that are still running. As an admin I might want to stop the Azure function picking up new items without stopp

[2021-01-14 15:26] johnayoub commented on #4883
@anthonychu I was able to get puppeteer to work with the help for your blog post. However, I have been trying to deploy and use the run from package option with the all the dependencies bundled in but that is not working. Is that a current limitation? Any ideas?

[2021-01-14 15:42] pragnagopa opened #7054 "[Auto-Upgrade]Apps failing with System.InvalidOperationException : Unable to find an Azure Storage connection string to use for this binding"
cc @brettsam @fabiocav

Few apps are failing to find the connection string with errors like the following:
(so far 4 apps affected)

[code]

[2021-01-14 16:07] stimms commented on #8442
I'd agree with allowing people the option to create queues automatically. Perhaps an argument on the binding like

[code]

Anything that reduces friction for people starting out with functions is a good plan in my mind.

[2021-01-14 18:46] shibayan commented on #6674
I don't need .NET 5 support, I just need a package that works with .NET Standard 2.1, like Entity Framework Core 5.0, but unfortunately it doesn't work with the current Azure Functions v3. The NuGet package targeting .NET Standard 2.1 should be available for Azure Functions using .NET Core 3.1, but the current implementation blocks it.

I'm really struggling with this issue and I want to help.

[2021-01-14 18:54] mattchenderson opened #7055 "Add a SecretStorageProvider for Key Vault that uses Azure.Identity"
#### What problem would the feature you're requesting solve? Please describe.
The existing Key Vault provider makes use of a library that is considered deprecated.

#### Describe the solution you'd like
`Azure.Identity` is the better choice for a dependency here, and it allows us to collapse the configuration, relying just on a single connection name. `Microsoft.Extensions.Azure` might be the best

[2021-01-14 18:56] fabiocav opened #7056 "[Auto-Upgrade]ArgumentNullException on DependencyInjection.FunctionsStartup.Configure #7052"
cc @fabiocav @brettsam

Few apps failing to start with errors similar to the following:

[code]

Needs investigation.

[2021-01-14 18:56] fabiocav commented on #7056
Another stack

[code]

[2021-01-14 18:56] fabiocav commented on #7056
@pragnagopa FYI

[2021-01-14 18:59] mattchenderson opened #7057 "Migrate storage abstraction to Storage v12"
#### What problem would the feature you're requesting solve? Please describe.
AzureWebJobsStorage is a connection string only. We wish to support connecting using managed identities.

#### Describe the solution you'd like
We should move the implementation of the storage abstraction used by TimerTrigger to the latest Azure SDKs. This includes support for Azure.Identity. We should leverage `Microsof

[2021-01-14 19:02] thdotnet commented on #8442
To me the creation of the queue should be handled by Infrastructure (ideally IaC) during the release process, and then, deploy the function with the proper queue to listen to. For development purposes thise can be really helpful, but I'd rather do it using scripts. (my 2 cents)

[2021-01-14 22:47] andrekiba commented on #8442
I’m agree with @SeanFeldman the possibility to opt-in would be perfect 👍🏻

[2021-01-14 22:48] pragnagopa opened #7059 "[Auto-Upgrade]System.TypeInitializationException : The type initializer for 'MongoDB.Bson.Serialization.BsonClassMap'"
cc @fabiocav

Few apps are failing on auto-upgrade with the error:
[code]

These apps are being pinned actively. Needs investigation.

[2021-01-15 01:52] pragnagopa commented on #7056
One more example

[code]

[2021-01-15 01:54] pragnagopa opened #7060 "[Auto-Upgrade]System.IO.FileLoadException : Could not load file or assembly 'Microsoft.CodeAnalysis,"

[2021-01-15 07:03] shibayan opened #7061 "Could not load file or assembly 'System.Text.Encoding.CodePages, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'."
#### Repro steps

Provide the steps required to reproduce the problem:

1. Create function app project
2. Install `System.Text.Encoding.CodePages` nuget package
3. Adding `Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);` to function
4. Run function app

#### Expected behavior

Function app is executed without error

#### Actual behavior

The following error occurs and the function c

[2021-01-15 07:10] AartBluestoke commented on #6674
@shibayan

That would be a topic for a separate ticket; this ticket concerns support for .net 5; I doubt net standard support will be done as the future of .net is the fusion of net core and net framework. From what i can see the out-of process support for Net 5, and next years support for Net 6 is the future for this.

the inability to use EntityFrameworkCore 5.x with azure functions is unrelated

[2021-01-15 09:41] slawomir-brzezinski-at-clarksons commented on #6953
It's indeed confusing that one can exectute the same:

[code]

in a unit test and get a completely unusable configuration object (everything is prefixed with `Values:`).

I too am looking for a recommended way to set up for integration tests that excercise components within the function project (not the function entry points).

[2021-01-15 15:53] Gamecock commented on #7992
This is still an issue for Python 3.8

[2021-01-15 16:37] pragnagopa opened #7062 "[Auto-Upgrade]Apps failing to resolve AppSettings"
Issue reported here : https://github.com/Azure/app-service-announcements-discussions/issues/175#issuecomment-760529707

Needs investigation. For now, actively monitoring logs and pinning the apps.

[2021-01-15 19:58] AnatoliB opened #7064 "V3: "Synchronous operations are disallowed" when returning Task<HttpResponseMessage>"
The following function fails with status 500 and the following message in the log: `Microsoft.AspNetCore.Server.Kestrel.Core: Synchronous operations are disallowed. Call WriteAsync or set AllowSynchronousIO to true instead.`

[code]

Setting AllowSynchronousIO solves the issue, but the problem is that this code worked in V2, so this complicates migration to V3.

Please note that the following code

[2021-01-16 19:12] erickson71 opened #7066 "@IanKemp , Let us know if you have any further queries related to this issue."
@IanKemp , Let us know if you have any further queries related to this issue.

_Originally posted by @v-anvari in https://github.com/Azure/azure-functions-host/issues/5782#issuecomment-693494565_

[2021-01-16 19:13] erickson71 opened #7067 "Is it also possible to enable us to actually get a logger in the Startup? At some point we need to log more info during the startup and our only possibility is to create a logger manually by bypassing every previously added settings using the builder."
Is it also possible to enable us to actually get a logger in the Startup? At some point we need to log more info during the startup and our only possibility is to create a logger manually by bypassing every previously added settings using the builder.

If we try to get a `ILogger<Startup>`, that raised this following exception:

I'm aware that during the `Configure` not all dependencies are alread

[2021-01-16 19:19] erickson71 commented on #7067
Folks at Microsoft need to revisit this issue.  When I develop using a fully integrated environment, I would expect to have ability to perform basic logging or 'printf' equivalent statements without unnecessary configuration in any place in the code I am exposed to. This is really a very basic need I think and most developers would agree. Either do not expose Configure() to developers directly, or

[2021-01-16 19:25] erickson71 commented on #7067
The simplest way to do this is to support the following Configure() interface:

public override void Configure(IFunctionsHostBuilder builder, ILogger logger)

[2021-01-17 08:02] v-anvari commented on #7066
Hi @erickson71 , I have reopened [https://github.com/Azure/azure-functions-host/issues/5782](https://github.com/Azure/azure-functions-host/issues/5782). Further follow ups would be updated in that issue

[2021-01-17 08:02] #7066 closed, assigned to nobody

[2021-01-18 07:19] spmanjunath opened #7069 "Special character "%" in url path results in 500 Internal server error"
Azure function version: 3.1 (netcoreapp3.1)

I have azure function that uploads the files, some of these files have special character like $, %, #, etc., in their names.  Consider below example,

File Name: Word%.docx
Example of Uri invoked (Encoded url):  http://localhost/api/file/Word%25.docx

since the file name is encoded the expectation is that the function is triggered, in fact the Azure fun

[2021-01-18 16:14] sdg002 opened #7070 "How do I find the full .NET Core v2 version which Azure is using to host my Function App"
#### Is your question related to a specific version? If so, please specify:
We have .NET Core functions on V2

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
We are seeing some assembly load failures. Local debugging works fine. We want to know the precise version of that Azure runtime is using to host our assembly

[2021-01-18 16:17] lars-erik commented on #7061
I have the same problem. The publish targets remove a lot of stuff.
The System.Text.Encoding.CodePages.dll is copied into bin/runtime/netstandard2.0.
It seems like files under bin/runtime/** are not probed at all.
I've tried this with both V2 and V3 runtime, including pretty much all framework targets since netstandard2.0.

I managed to get the file copied to the bin folder locally with an extra t

[2021-01-18 16:25] Styxxy commented on #6423
Any progress / indication when this might be available?

[2021-01-18 18:06] pragnagopa commented on #7070
This could be related to Auto-Upgrade roll out we finished last week. Please see https://github.com/Azure/app-service-announcements/issues/266 for more details.

[2021-01-18 18:36] onionhammer commented on #6674
Any update on when the preview for .net 5 will actually work? (Without erroring with dependencies  loading new nuget packages), or when we can use triggers with byte[]/streams etc?

It's just not usable or even worth testing in the state the preview is in

[2021-01-18 21:09] manish-jain-1 commented on #6674
Any update? Thank you!

[2021-01-18 21:58] qsdfplkj commented on #6674
Is there any official statement, a release calendar or roadmap?

[2021-01-18 22:22] youxu71 commented on #7059
Any progress on the fixing? We have several Functions running on PROD facing this issue. As a mitigation work around, we have to downgrade the runtime to 2.x.

[2021-01-18 23:07] pragnagopa commented on #7059
Yes, this is related to https://github.com/Azure/app-service-announcements/issues/266 . We have been actively pinning apps running into this issue. For now please pin apps to Functions V2.  We recommend upgrading to Functions V3 at your earliest convenience.

[2021-01-19 07:35] v-anvari commented on #7025
Hi @brtkdotse , Apologies for the delay, I went through the logs for the Time stamp - 2021-01-06 00:00:00 to 2021-01-07 10:00:00. I see the error "_Singleton lock renewal failed for blob 'Function App' with error code 409: LeaseIdMismatchWithLeaseOperation_", which is occurring almost every hour. Here is how you can troubleshoot the issue. [https://github.com/Azure/azure-webjobs-sdk-extensions/wik

[2021-01-19 09:31] v-bbalaiagar commented on #7042
Hi @FaithLV, Can you share us the link that you are referring to. We shall validate and make the required changes.

[2021-01-19 10:16] andyblack19 commented on #6984
I'm about to unpin our function apps so that they pick up the latest version **~3**. I'll assume as the [release announcement](https://github.com/Azure/app-service-announcements/issues/310) is closed that this has fully deployed?

This issue caused a **P2** outage in my company's SaaS platform.
What steps can be put in place to try and prevent this from happening again?
(I'd rather not be manually

[2021-01-19 11:12] cjaferre commented on #6984
It's been almost a week since we went back to ~3.
Everything is fine so far.

[2021-01-19 11:54] ModernRonin commented on #6674
for anyone else receiving updates from this thread and almost having a heart attack: the quote about the "current ETA (...) by end of year" is from 2020, not 2021 ;-)

[2021-01-19 11:58] qsdfplkj commented on #6674
I know but he made it 15 hours ago. So...

[2021-01-19 12:21] FinVamp1 commented on #5612
**Summary**

The majority of Functions apps still tend to be C#/.NET applications.
As more customers are moving to pre-compiled this would help in the same manner as the Durable Functions Roslyn Analyser.

**Suggestions of Items to cover**

1. Implement the suggestions for HttpClient, DocumentClient etc in [https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections](url)
2. Suggest

[2021-01-19 13:37] staterium opened #7071 "Metadata generation failed. Exit code: '255'"
I have a build server running several self-hosted Azure build agents. I queue a build for a large solution, using 4 agents across 6 jobs. The solution contains one Functions project, targeting netcoreapp3.1. The functions project includes the following packages:

[code]

The project builds and tests fine on the build server, however the publish task sporadically fails with this error:
   `1C:\Wind

[2021-01-19 13:39] olitomlinson commented on #5240
We're getting this issue much more frequently lately. Its getting particularly disruptive as our service bus messages are exhausting the retries and then dead-lettering and causing on-call alerts for our engineers!

This really needs fixing, its been over a year!!!!!

`
The host is disposed and cannot be used. Disposed object: 'Microsoft.Azure.WebJobs.Script.WebHost.DependencyInjection.ScopedResol

[2021-01-19 13:43] ThomasArdal commented on #5240
Exactly the same here. Getting this multiple times per day spread across a number of functions. As suggested elsewhere in this thread it happens on consumption-based functions only. And causes my messages to deadletter as well 👎 I would go as far as to not recommend Azure Functions for service bus consumption based on this issue.

[2021-01-19 13:54] petterek commented on #5240
I had this issue, but the it's gone now,
I think the issue you are facing are in fact not an error but a missunderstanding..

[code]
The constructor of the class

[code]

this is what the body of my message handler looks like.

After doing this way the exception disappeared

[2021-01-19 14:02] ThomasArdal commented on #5240
@petterek That sounds absolutely crazy. So, you took the responsibility for getting the job from the queue and handling it in the way it should have been done by the function host? That sounds like something that should be fixed in the binding for sure. But if this works, it's definitely a good fix and a nice find 👍

[2021-01-19 14:04] petterek commented on #5240
I believe that the "scope" you get in will be Disposed at some time. That is why it is failing.. Could be i'm wrong, but at least I don't get the error 😃

[2021-01-19 14:06] ThomasArdal commented on #5240
Would be nice with a confirmation about this issue from someone on the Functions team.

[2021-01-19 14:32] petterek commented on #5240
Actually the "job queue" here is a db table for holding jobs to be done. The message from the service bus just give me a GUID that referes to the item in the db table

[2021-01-19 15:01] gohar94 commented on #6791
@fabiocav Gentle ping - waiting to close on this to move to the Python worker changes. :)

[2021-01-19 15:31] gaborbuzasi opened #7072 "AI: Local storage access has resulted in an error"
Hi,

This is still an issue using the latest Azure Functions running in Docker container on a premium linux plan.

_Originally posted by @emanuel-virca in https://github.com/Azure/azure-functions-host/issues/4263#issuecomment-747562174_

[2021-01-19 16:53] mrpmorris commented on #6432
# THE FIX IS HERE
https://github.com/Azure/azure-functions-host/issues/5098#issuecomment-704206997

Add the following setting
"AzureWebJobsFeatureFlags": "EnableEnhancedScopes"

[2021-01-19 16:59] pragnagopa commented on #7059
Copying mitigation steps from https://github.com/Azure/app-service-announcements-discussions/issues/175#issuecomment-762931352

[2021-01-19 17:02] brennfoster commented on #4577
How does this change affect local.settings.json? It seems to make it irrelevant.

[2021-01-19 22:51] youxu71 commented on #7059
Thanks @pragnagopa, by upgrading to Function V3, do you mean just set the FUNCTIONTIONS_EXTENSION_VERSION TO ~3 in Functions configuration in portal? If so, it failed with the MongoDB exception. Do we need update the MongoDB reference as well?

[2021-01-19 22:55] pragnagopa commented on #7059
Yes, please update Functions SDK version to the latest major and update MongoDB reference, test it locally with [Azure Functions Core Tools V3](https://github.com/Azure/azure-functions-core-tools/#to-install-with-npm) before deploying to Azure.

[2021-01-19 22:58] youxu71 commented on #7059
Thanks, do you know what is the least version of MongoDB SDK which works with V3 function?

[2021-01-19 23:00] pragnagopa commented on #7059
Apologies, I do not have an exact version recommendation. But you should be able to run it locally to ensure reference you updated to works as expected.

[2021-01-20 08:09] CasperWSchmidt commented on #4577
@brennfoster Why is that? local.settings.json can still be used for settings that otherwise live in the Azure (portal) configuration

[2021-01-20 09:32] timabell commented on #6899
We have warnings-as-errors so this breaks our build.

What is the impact of these warnings? Is something broken or is it okay to upgrade and supress them?

[2021-01-20 11:29] mgwilliam commented on #6899
Also seeing these warnings in a .NET 5 functions app... ok to ignore?

[2021-01-20 12:33] M0ns1gn0r commented on #5707
I would also like to see the format customization. I need to see the log level as text (e.g. `[E]` or `[I]`) for post-processing of the console output via pipes. Currently the log level can only be deduced from the message color (hello colorblind).

[2021-01-20 12:44] vviskari opened #7074 "How to specify Application Insights role name for locally running function?"
#### Is your question related to a specific version? If so, please specify:

No

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

Java (all?)

#### Question

How can I specify Application Insights "role name" for a Function that runs locally?

I have to use the same instrumentation key to monitor several apps and role name is a way to distinguish them from each oth

[2021-01-20 18:36] #7039 closed, assigned to Francisco-Gamino

[2021-01-20 18:38] mmulhearn commented on #4397
Where do we +1 this feature request?

[2021-01-20 18:51] espray commented on #4397
@mmulhearn you can follow this issue https://github.com/Azure/azure-functions-host/issues/6805

[2021-01-20 18:53] mmulhearn commented on #4397
hm not sure that's what i'm looking for @espray . I want what this thread is asking for which is pretty much to use the aspnet core authentication and authorization middleware in a function.

[2021-01-20 20:51] vrdmr opened #7076 "No Runtime V3 builds for Worker testing"
#### Is your question related to a specific version? If so, please specify:
For Python's E2E test and some unit tests, we use the host's no runtime build. For a long time, the version used for testing has been v2 build. We plan to use v3 host for testing but a no-runtime build isn't generated for it.

E.g.: [setup.py#L21-L24](https://github.com/Azure/azure-functions-python-worker/blob/dev/setup.py

[2021-01-20 21:17] fabiocav commented on #6542
Other items are taking priority over this work, so moving back to _triaged_ until we're able to reassign it.

[2021-01-20 21:20] fabiocav commented on #6825
Closing as complete. Waiting for the deployment/release.

[2021-01-20 21:20] #6825 closed, assigned to brettsam

[2021-01-20 21:22] fabiocav commented on #5631
Recent CRI handled by @alrod

[2021-01-20 21:33] fabiocav opened #7077 "Add .NET 5 to stacks API"

[2021-01-20 21:34] soninaren commented on #6536
Linking the granular workitem
- https://github.com/Azure/azure-functions-host/issues/6979
- https://github.com/Azure/azure-functions-host/issues/6980
- https://github.com/Azure/azure-functions-host/issues/6981

[2021-01-20 21:39] fabiocav opened #7078 "Make recent DI scoping changes the default"
Make the changes behind the `EnableEnhancedScopes` the default, maintaining an opt-out flag.

[2021-01-20 21:47] fabiocav commented on #6981
@apawast FYI

[2021-01-20 21:54] mhoeger commented on #6536
@soninaren - this API will surface function indexing errors right?

[2021-01-20 21:54] mhoeger commented on #6536
ack didn't mean to close!!

[2021-01-20 21:59] soninaren commented on #6536
Yes it should.

[2021-01-21 01:17] ketanbembi commented on #1864
Hi All

I am facing same issue in my Azure Function app.

It seems like the real problem is that in non prod environments we are using single blob storage used by multiple Azure function apps. Hence when renew lease operation is performed by one of the Azure function app, then due multiple azure function apps using blob storage, the error of "Singleton lock renewal failed for blob" happens. Which

[2021-01-21 04:29] louisoftokyo commented on #6674
How can I try the preview?

[2021-01-21 04:40] Mithras commented on #6674
@louisoftokyo there is no working preview yet. You can try working hello world though: https://github.com/Azure/azure-functions-dotnet-worker-preview

[2021-01-21 06:50] ThomasArdal commented on #1864
I can confirm that this happens in environments with individual storage accounts for each function app as well. I always create a new storage account for every new function app I create. Sharing storage accounts introduce some other problems why I wouldn't recommend sharing storage accounts between function apps ever 👍

[2021-01-21 11:17] alanrroberts opened #7080 "Clarity on Singleton use with Service Bus binding"
I am using C# to code against Azure Functions version 3 and could use some clarity on the way the Singleton attribute works when scaling out and how that interacts with a Service Bus binding.

All of these tests were done against a function app running in an app service plan set to 2 instances.  I'd deploy each to my App Service and fire off a batch of 20 or so messages and check the results in th

[2021-01-21 15:00] anomepani commented on #4883
@anthonychu Does Chrome headless with puppeteersharp supported in Azure Function with C#?

[2021-01-21 18:02] erwinkramer opened #7081 "End-To-End transaction: from API Management to Azure Functions to ServiceBus not working"
I'm using the Function v3.0.15193.0 runtime hosted on Windows in an elastic plan inside a vnet.

Libraries inside my solution (i'm running from a package file):
[code]

I'm not specifying any Application Insights reference, since I rely on the build-in support in the Azure Function magic.

In API Management, I specified the _W3C_ correlation protocol instead of the _Legacy_ option.

### Describe t

[2021-01-21 21:59] fabiocav commented on #6542
Due to active support cases on this, moving back into the sprint and assigning. Trying to get this in for Sprint 94.

[2021-01-21 22:02] #6919 closed, assigned to yojagad

[2021-01-22 03:37] Xyncgas commented on #1469
Webassembly.

[2021-01-22 03:37] Xyncgas commented on #1469
make it happen bill gates

[2021-01-22 03:37] Xyncgas commented on #1469
please

[2021-01-22 03:52] balag0 commented on #1469
@anthonychu  @pragnagopa
Can custom handlers help here https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers

[2021-01-22 05:53] anthonychu commented on #6536
@ehamai @annaji-msft @miwebst Any way we can surface this info from managed functions in Static Web Apps?

[2021-01-22 09:48] erwinkramer commented on #7081
Just figured out with the help of: https://github.com/Azure/Azure-Functions/issues/1613#issuecomment-687062296 that the issue is every nuget reference with a dependency on System.Diagnostics.DiagnosticSource newer than 4.7.0

[2021-01-22 10:10] siamaksh1367 commented on #5405
Use Https instead of http
with the default setup of an http trigger azure function , that worked for me

[2021-01-22 14:06] tommck commented on #7064
I have the same problem.. I started using `return new HttpResponseMessage(....` instead :(

[2021-01-22 17:09] Hazhzeng commented on #7076
This should be fixed by https://github.com/Azure/azure-functions-python-worker/pull/808

[2021-01-22 17:11] #7076 closed, assigned to nobody

[2021-01-22 17:17] jesselathamdev commented on #7028
Hi @v-bbalaiagar wondering if you've been able to have a look into this at all?

[2021-01-22 18:40] brennfoster commented on #4577
@CasperWSchmidt Why would I do that when I can stick them all in appsettings.json? Now I'm required to use two configuration files if I want to work locally.

[2021-01-22 19:27] anthonychu commented on #1469
Yes. We don't have an C++ example but if you can wrap your code in an http server, you can run it as a custom handler.

For WebAssembly, the simplest way is probably to call it from a Node.js function. I also have an example as a custom handler here: https://github.com/anthonychu/azure-functions-wagi-sample

[2021-01-22 20:52] SOFSPEEL commented on #7033
Wanted to add that I'm seeing same behavior in an Azure Windows v3 deployment.

Since I'm using Autofac DI my cast exception (also shown below) occurred on the CreateChannel code below.

It seems like you've already got a handle on fixing this, but two thing I might add:
- When running the function app locally I don't see this issue (only when running under Azure).
- I was beginning to loose my fa

[2021-01-22 21:46] CasperWSchmidt commented on #4577
Appsettings.json is committed to git and deployed to azure so it is not the best place to have environment variables that differ from local development to test, staging and production. I know that you can use environment specific Appsettings.json but this requires some manual tweaking AFAIK. Local.settings.json on the other hand, does not leave your machine. We use the configuration page in the Az

[2021-01-22 22:36] alrod opened #7089 "Call restart only if FileMonitoringService scheduled a restart in FunctionController"
We do not need explicitly call restart on function create/update/delete. Instead we need to call restart only if FileMonitoringService got an event for restart(appropriate file change).

[2021-01-23 04:00] PureKrome commented on #4577
@CasperWSchmidt out of interest, how would you handle secrets with an ASP.NET Core application? (i know ASP.NET core apps != .NET Core Function apps). The reason I ask this .. is so we can see if that could (should?) be applied to Functions, also?

It's a shame that functions has the `local.settings.json` file. I thought it was there because of how functions is x-language and `appsettings.json` wa

[2021-01-23 04:20] #7017 closed, assigned to nobody

[2021-01-23 05:08] alrod opened #7090 ""DryIoc.ContainerException : Container is disposed and should not be used: Container is disposed." during PUT "/admin/functions/{functionName} call"
#### What problem would the feature you're requesting solve? Please describe.
if a PUT request to "/admin/functions/{functionName}" takes more then 5 seconds there will be a "DryIoc.ContainerException : Container is disposed and should not be used: Container is disposed." exception.

#### Describe the solution you'd like
what we can do is increasing the timeout or make it settable from an app sett

[2021-01-23 10:00] ghost commented on #7042
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-23 10:00] ghost commented on #7025
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-23 10:11] valters-tomsons commented on #7042
@v-bbalaiagar I think the appropriate place for this note would be here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_contentazurefileconnectionstring

[2021-01-23 10:37] oslabyi opened #7091 "Function timer trigger not firing"
i'm new one in work with Functions app, and try to deploy scheduled function

Timestamp: 2021-01-23 throughout the day
Function App version (1.0 or 2.0): 2.0
Function App name: e.g. testtimetriggerapp
Function name(s) (as appropriate): TestTimerTrigger
Region: Central US
Operating System: Windows
App service plane: (Y1: 0)

**Rep steps**
I had create new test app, and deploy, it should fire every

[2021-01-23 11:08] thomashanke commented on #4459
That would be a very useful feature.

[2021-01-23 19:21] alrod commented on #7090
cc: @fabiocav

[2021-01-24 02:51] adityavaish commented on #5306
Any progress here? Facing the same issue

[2021-01-24 13:00] #5782 closed, assigned to madelinegordon, v-anvari

[2021-01-24 13:35] YannickRe commented on #7028
I have the same issue, so I'm tagging along.

[2021-01-24 19:12] janus78 commented on #7033
This exact same issue happened on our functions code execution, in our case we were not able to set an older function extension version to implement the workaround so this issue completey broke our code, we are exploring other ways to do the service calls in the meantime this bug is fixed.

[2021-01-25 02:28] AartBluestoke commented on #7091
is the app service plan set to 'always on'?

[2021-01-25 02:53] SOFSPEEL opened #7092 "Azure Function App using outbound IP Address that is not in possibleOutboundIpAddresses"
My function app is using an outbound ip address that is not in the **possibleOutboundIpAddresses**.

Note that I find the possibleOutboundIpAddresses the right way using the resource manager:
https://resources.azure.com/subscriptions{MySubscription}/providers/Microsoft.Web/sites

Most of the calls from the Azure Function App to my Api Management Service work properly because all the Azure function

[2021-01-25 06:25] balag0 commented on #7092
Looks like the app is in consumption sku, so allow listing possibleOutboundIpAddresses alone is not sufficient.
https://docs.microsoft.com/en-us/azure/azure-functions/ip-addresses#find-outbound-ip-addresses

[2021-01-25 06:32] balag0 commented on #7091
The cron expression doesnt look right. For once every hour use the expression "0 0 * * * *"
More examples at https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#ncrontab-examples

[2021-01-25 07:54] oslabyi commented on #7091
i use Consumption plan, and as i read - it do not have "Always on", system automatically take care when function should wake up.

[2021-01-25 08:39] JohanKlijn commented on #6423
It would indeed be a nice feature to have, because currently all my function code is using managed identity except the bindings, which is a little bit unfortunate. So it would be nice if you good just specify https://mystorageacount.blob.core.windows.net/ as the connection string and Azure functions which create a client using managed identity.

An "inbetween" solution would be, if the binding is

[2021-01-25 10:06] phatcher commented on #4577
@PureKrome You can use appsettings.json/appsetttings.{env}.json locally in .NET Core Functions app, you just need the slightly changed startup routine...

[code]
Note the comment regarding the Function App inclusion of files/environment variables, hence my suggestion in September.  Also you don't need to do the `AzureServiceTokenProvider` dance as it seems to work without it out of the box.

For A

[2021-01-25 10:08] oslabyi commented on #7091
thx, my mistake, used cron expression instead of ncron

[2021-01-25 10:08] #7091 closed, assigned to gzuber

[2021-01-25 10:19] CasperWSchmidt commented on #4577
@PureKrome We don't have any ASP.Net Core apps. We only use Azure Functions. For secrets we use Azure Key Vault and let the Functions Runtime handle the key vault references for us (unfortunately this doesn't work when running locally - or at least didn't when we first started this a year ago).

Azure Functions are cross-language and local.settings.json (instead of appsettings.json) is there for t

[2021-01-25 11:34] cyberpion-yotam commented on #6423
I would also greatly appreciate this (in all bindings)!
@JohanKlijn This is already possible in app settings - https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

[2021-01-25 12:10] PureKrome commented on #4577
@phatcher

yeah - this was basically what I was doing also. The _it's a shame_ part of my poor opinion here is that it feels like this could have been more of a default setup for Functions, so it aligns nicely with ASP.NET Core. Then again arguments could be made to say that Console apps don't have this by default. But the rebuttal could be that Console apps favour/suggest to use `appsettings.<env

[2021-01-25 14:32] scotty-tarvan commented on #6893
Just to add my 10 cents here and to try and make it clearer what's going on:

When the functions runtime executes it loads up a set of assemblies, these can be viewed by looking at  AppDomain.GetAssemblies(). An example of an assembly loaded in functions runtime v3 is:

`_Microsoft.Extensions.DependencyInjection.Abstractions, Version=3.1.10.0, Culture=neutral, PublicKeyToken=adb9793829ddae60_
`

I

[2021-01-25 16:50] SOFSPEEL commented on #7092
@balag0 as a minimum I think the documentation needs to be clarified.

The documentation says:

"The set of outboundIpAddresses is currently available to the function app. The set of possibleOutboundIpAddresses includes IP addresses that will be available only if the function app scales to other pricing tiers."

- Problem 1: " the function app scales to other pricing tiers", my question is "scales

[2021-01-25 17:05] ssa3512 commented on #6893
This seems to be binding redirects all over again. I thought .NET Core had solved that issue.

[2021-01-25 18:25] phatcher commented on #4577
@PureKrome Hence my comment on 29 September arguing the same 😄 - basically for the case with consumption plans - though I'd also like consumption plans to work nicely with docker containers 😉

[2021-01-25 18:38] chrismcclure commented on #6423
Checking in to see if any progress has been made on this one.   It would be nice to be able use Managed Identity for the function queue trigger, connection property.  Right now, I just pull it from the config.

[2021-01-25 19:01] pragnagopa opened #7093 "[Auto-Upgrade] Send notifications for apps that are pinned to Functions V2 - Windows"
- Windows (All Skus)
   - Looks up logs for apps with extension version set to ~2.0 and exclude x64 apps using following query
[code]

[2021-01-25 19:06] mhoeger opened #7094 "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING as keyvault reference makes deployment fail"
[code]

Per comment here:
https://github.com/Azure/azure-functions-host/issues/5306#issuecomment-696561132

[2021-01-25 19:06] mhoeger commented on #5306
Hi all - the fix is in for **failing slot swaps** because of WEBSITE_CONTENTAZUREFILECONNECTIONSTRING as a key vault reference. You should not be seeing this anymore and if your slot swap is failing for this reason, please provide details on this thread.

It sounds like the issue that other folks are facing is Function App **creation**. Is that correct? If so, please file your details in this issu

[2021-01-25 19:07] #5306 closed

[2021-01-25 19:12] pragnagopa opened #7095 "[Auto-Upgrade] Send notifications for apps that are pinned to Functions V2 - Linux Consumption"
Linux Consumption:

Looks up logs for apps with extension version set to ~2.0  using following query:

[code]

[2021-01-25 19:27] pragnagopa opened #7096 "[Auto-Upgrade] Send notifications for apps that are pinned to Functions V2 - Linux Dedicated"
For Dedicated / EP - Look up hosting DB for apps with LinuxFx Version set to
[code]

[2021-01-25 19:52] pragnagopa opened #7097 "[Auto-Upgrade][Windows]Update deployment pipeline to include auto-upgrade payload"

[2021-01-25 19:52] pragnagopa opened #7098 "[Auto-Upgrade][Linux][Dedicated]Update deployment pipeline to include auto-upgrade images"

[2021-01-25 19:53] pragnagopa opened #7099 "[Auto-Upgrade][Linux][Consumption]Update deployment pipeline to include auto-upgrade images"

[2021-01-25 20:44] mhoeger commented on #7094
Currently - WEBSITE_CONTENTAZUREFILECONNECTIONSTRING as a key vault reference is not supported **for creation,** it can only be the full connection string. Then, it can be updated to use key vault references

[2021-01-26 00:52] PureKrome commented on #4577
yes and yes @phatcher !!

![](https://media.giphy.com/media/Qw75aRmhdpEuntisgj/giphy.gif)

[2021-01-26 01:57] #7089 closed, assigned to alrod

[2021-01-26 02:29] AmirulOm commented on #7064
We had the same problem. I'm following this for updates.

[2021-01-26 05:10] mookid8000 opened #7100 "Scheduled Azure Functions not running before visiting portal"
I have an Azure Functions app with a bunch of functions scheduled using `[TimerTrigger("*/2 * * * *")]`, i.e. they're scheduled to be executed every 2 minutes.

They're deployed using the "Deploy Azure Function App" pipeline task in Azure DevOps. It's hosted on a "Consumption (Serverless)" plan in Azure.

Often I catch the functions NOT BEING EXECUTED! 😳  I usually discover this, because the data

[2021-01-26 08:10] JohanKlijn commented on #6423
I didn't know the vault-references, so thanks for the info!

[2021-01-26 08:31] gabrielweyer commented on #3741
@jschieck I tested your code sample in a "normal" Azure Function. I can confirm that the telemetry initializers and telemetry processors are called as expected (whereas telemetry processors are not being called for request telemetry items using the [previous solution](https://github.com/Azure/azure-functions-host/issues/3741#issuecomment-548463346) posted in this thread).

The drawback of your app

[2021-01-26 13:00] #7025 closed, assigned to madelinegordon, v-anvari

[2021-01-26 14:01] sac-cas commented on #6483
Currently I am trying to run the timer triggered function manually with a request body as I need some values. The function runs successfully but how can I access the request body?
As it isn't a http triggered function I do not have a request in my context and the event object is (as expected) the timer event.

[2021-01-26 14:46] vitalybibikov commented on #7248
Hi,

Any updates on this one?

@v-anvari @fabiocav

[2021-01-26 18:41] ZachTB123 commented on #6717
This would really help with cutting down on logs sent to App Insights. I see lots of:

[code]

and

[code]

for only having one function. I want to have 100s of Function Apps reporting to one App Insights, so any reduction in unnecessary logs is appreciated.

[2021-01-26 22:59] opolo commented on #6674
Our production environment is blocked from upgrading to .NET 5 too due to this... Which we found out about, after upgrading everything to .NET 5...

[2021-01-26 23:06] VaclavElias commented on #6674
Happened to me in the past 👍.

Now I am always coming to check Issues in this repo before my Azure Functions upgrades/updates, to see what is in the oven and what is/is not already baked :)

[2021-01-26 23:09] qsdfplkj commented on #6674
I only need support for ef core 5.

[2021-01-26 23:12] fabiocav commented on #6674
@qsdfplkj if you want to give the preview a try with your workload, we'd love to get more feedback there. https://github.com/Azure/azure-functions-dotnet-worker-preview

[2021-01-26 23:16] Mithras commented on #6674
@fabiocav was it fixed? Last time I tried it didn't work with any 5.x.x packages.

[2021-01-26 23:18] #6542 closed, assigned to soninaren

[2021-01-27 00:53] asears commented on #6953
The local.settings.json values are configuration appsettings which are loaded into the environment by the host runtime.  Since Xunit is using its own testrunner, it doesn't know about the environments.  Here's some suggestions on getting the environment variables setup with xunit.

https://stackoverflow.com/questions/57359147/how-to-use-environment-variables-in-unit-tests-net-core
https://stackove

[2021-01-27 04:29] louisoftokyo commented on #6674
Same :(

[2021-01-27 04:33] jeffhollan commented on #6674
Just to make sure we’re capturing the issues - for those saying you are blocked are you having issues with the .NET 5 project linked above? We’ve made a number of fixes and improvements, and if so just want to make sure we’re tracking blocking issues if you can also include issue links.

If you’re blocked by preview flag that’s fair too - let us know - plan to move to production ready in next mont

[2021-01-27 04:49] Mithras commented on #6674
Just to save people's time. Nothing has changed. Preview is still completely useless and doesn't work with any 5.x.x packages. The reason it doesn't work was explained on 11/12/2020 here: https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/13#issuecomment-743412497 Nobody can give an eta for the fix since then.

[2021-01-27 05:29] fabiocav commented on #6674
@Mithras thank you for trying it out, but sharing your details on the preview repo would be more helpful than the comment above. The next update is coming within the next couple of days, and that will address the known issues, but many scenarios do work with the current preview, so discouraging others from trying this out is not productive.

Do you have a link to the actual issue you're hitting wh

[2021-01-27 06:27] Mithras commented on #6674
@fabiocav I really can't think of any scenario where running .NET 5 without any 5.x.x packages makes sense.

I've already posted repo steps somewhere in one of the dozens similar issues. Can't find it for some reason...
I'll just repeat it here again:
1. Download https://github.com/Azure/azure-functions-dotnet-worker-preview
2. Add any 5.x.x package to FunctionApp.csproj (e.g. Microsoft.EntityFram

[2021-01-27 06:55] chassq commented on #6674
@jeffhollan

It is worth noting there are several issues already in https://github.com/Azure/azure-functions-dotnet-worker-preview with little or even no response from the MS side. Some are actually pretty old (>5 days). So when you say you have provided a number of fixes could you say whether some of those issues might be resolved? Also, when you say "production ready in the next month" can you d

[2021-01-27 07:46] tforkmann commented on #6674
This is what blocking me right now.
https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/33

[2021-01-27 09:53] readnikhil opened #7102 "JsonResult with JsonSerializerSettings throws exception in .NET Core 3.1 / Azure Functions v3"
Hi All ,
I refered to this issue : https://github.com/Azure/azure-functions-host/issues/5376

But I still cannot solve it . My Azure function works fine locally but it gives following error when I deploy on Azure Portal using Azure pipeline .
Method not found: 'Void Microsoft.AspNetCore.Mvc.JsonResult..ctor

Function App version: 3.0
Function App runtime: .Net Core 3.1

Hosted info:
Runtime: 3.0.1

[2021-01-27 13:16] paulhickman-a365 commented on #6542
Although it will fix the issue for the OP, I don't think this patch will resole the issue for my application and may not fix it for other's who have being experiencing this issue. I am running on elastic premium, but I do not have (or want) Runtime Scaling enabled.

Why is the ability to read configuration from KeyVault (or any other external provider) being linked to  runtime scaling being enable

[2021-01-27 13:21] shibayan opened #7103 "Make Graceful Shutdown timeout to be configurable or increase default value"
#### What problem would the feature you're requesting solve? Please describe.

To prepare for interruptions caused by deploying functions that have been running for a long time, we use `CancellationToken` to detect them and perform the necessary processing for graceful shutdown.

However, there seems to be a case where the function is forcibly shutdown before it completes successfully.

Checking t

[2021-01-27 13:25] simongullberg commented on #5098
I can tell that adding "AzureWebJobsFeatureFlags": "EnableEnhancedScopes" solved the problem for us when injecting a scoped service.

We were injecting a scoped EF DbContext and this context was injected in two transient services (let's call those Service1 and Service2). Service1 fetched some entity from the database with the injected DbContext and then sent the entity to Service2 where the entity

[2021-01-27 15:13] onionhammer commented on #6674
@fabiocav  @jeffhollan The major blockers for me are not being able to reference 5.x.x packages, and not accepting byte[] or Stream based trigger arguments. Will those be resolved in the next preview release?

[2021-01-27 15:18] lewinskimaciej commented on #6769
We started having the same issue after switching to dotnet publish from Visual Studio build task in Azure DevOps.
It seems that doesn't happen when using publish with *.csproj patterns, only when we build entire solution at once(though it would require more testing). Building solution is over 2 times quicker than *.csproj pattern with p:BuildInParallel though so we'd like to stick to dotnet publis

[2021-01-27 15:33] jeffhollan commented on #6674
Thanks for last set of comments - was able to repro much of this. Let me work with @fabiocav and @anthonychu and try to post an update on next set of updates soon

[2021-01-27 18:26] mtin commented on #5469
I am having trouble with this as well. Internally using `System.Text.Json`, including custom converters and pocos, so far so good. When trying to return a `JsonResult` from a `HttpTrigger` I realized that it is using Newtonsoft (and thus wont take my `JsonSerializerOptions`)

is there any way I can work around this?

[2021-01-27 19:16] daveaglick commented on #6769
FWIW we are also experiencing this exact same problem (and have been for several months). We're on Microsoft.NET.Sdk.Functions 3.0.11, building on Azure Pipelines with local agents hosted on Azure VMs via `dotnet build` (not `dotnet publish`), and intermittently get the following:

[code]

Like others have reported, it seems highly correlated with multiple concurrent builds. We almost never (maybe

[2021-01-28 00:11] AartBluestoke commented on #6893
this has always been the case for azure functions - eg: Newtonsof.json dependency of v9 for azure functions v1;

[2021-01-28 00:18] jeffhollan commented on #4464
Just came across this - hopefully this issue was resolved via this feature that allows loading in configuration sources: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#customizing-configuration-sources

Feel free to open a new issue if there are capabilities this is missing (sometimes hard to have mega-issues that span a few stuff, so keeping closed to

[2021-01-28 02:57] mathewc opened #7106 "Need concurrency control for Function key generation"
When generating host level secrets, we have concurrency control [here](https://github.com/Azure/azure-functions-host/blob/989f2419729da45caa2de5e922555d91a2d38591/src/WebJobs.Script.WebHost/Security/KeyManagement/SecretManager.cs#L84). However when generating Function keys we do not [here](https://github.com/Azure/azure-functions-host/blob/989f2419729da45caa2de5e922555d91a2d38591/src/WebJobs.Scrip

[2021-01-28 05:42] mookid8000 commented on #7100
This is what it looks like when

1. I get up at 5:30 in the morning
2. realize that the functions scheduled every 2 minutes round the clock _have not been running since the day before yesterday_
3. I click "Refresh" and generally just click around a bit

👇

![image](https://user-images.githubusercontent.com/32968/106095037-5c052700-6133-11eb-9d02-36e4a3979ead.png)

Let me know if I should fetch mo

[2021-01-28 06:34] staterium commented on #6769
Linking my issue here in case the two are related, or in case my resolution helps anybody else:

#7071

[2021-01-28 13:04] v-bbalaiagar commented on #7100
Hi @mookid8000, I tried to get the logs but looks like the app is deleted. I'm unable to fetch the details. Can you please provide the function app name.

[2021-01-28 13:43] mookid8000 commented on #7100
The app is not deleted – the name is "helios-dev-fx"

[2021-01-28 14:07] haroldwongms commented on #7094
@mhoeger - If we are trying to only use ARM templates to accomplish the configuration of the App Function, I am trying to figure out how to update the WEBSITE_CONTENTAZUREFILECONNECTIONSTRING with Key Vault reference after the initial deployment.  I tried using this immediately after creating the function app:

    {
      "name": "[concat(variables('functionAppName'), '/appsettings')]",
      "ty

[2021-01-28 17:20] fabiocav commented on #7107
@brettsam FYI

[2021-01-28 17:57] v-anvari commented on #7069
Hi @spmanjunath , We would like to repro the scenario to understand the issue better. Kindly, provide us the repro steps or the zip file for repro

[2021-01-28 18:18] v-anvari commented on #6183
Hi @thomaslevesque ,  In [Host settings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-output?tabs=csharp#hostjson-settings) , we have the option of setting the Autocomplete only globally for now.

Tagging @alrod, for more inputs here.
Is it possible to set the AutoComplete for a single function?
Can we add this as a feature request?

[2021-01-28 18:20] v-anvari commented on #6937
@mattchenderson, Kindly, Let us know if this scenario is supported already?
Can we add this as a feature request

[2021-01-28 19:25] haroldwongms commented on #7094
Figured out my error on applying app settings after function app deployment

[2021-01-28 20:42] mookid8000 commented on #7100
Functions not running again... went and visited the portal, clicked "Refresh" a couple of times... after a while:

![image](https://user-images.githubusercontent.com/32968/106196425-b218af80-61b1-11eb-9ed2-123077388eec.png)

🙄

It this how scheduled Azure Functions are supposed to work?

[2021-01-28 22:11] pragnagopa opened #7108 "Add column "FunctionsExtensionVersion" column in "FuntionsLogs" table"
cc @fabiocav

Having FunctionsExtensionVersion column help narrow down issues  specific to auto-upgraded apps.

[2021-01-28 22:20] pragnagopa opened #7109 "Add StackId column in FunctionsLogs / Metrics"
cc @gzuber

Blocked on https://github.com/Azure/Azure-Functions/issues/1790

Adding "StackId" column will help understand various aspect of the app: extensionversion/bitness/langauge/langaugeversion

[2021-01-28 23:23] ddobric opened #7172 "Invalid Execution Counter in Function Monitor"
The counter of long-running functions seems not to be correct. The picture below shows the function start at approx. 10:00+ AM and nothing else.

![image](https://user-images.githubusercontent.com/1756871/106208545-d9787800-61c3-11eb-8068-a7c62d91610e.png)

On the following picture, we see the the the function is running all time.

![image](https://user-images.githubusercontent.com/1756871/1062118

[2021-01-29 00:35] fabiocav commented on #6674
Folks, updating this thread as well for those interested, but we just published preview 3 which addresses many of the issues we've been tracking (including the dependency issues). Please give it a try and report any issues at https://github.com/Azure/azure-functions-dotnet-worker-preview/issues

[2021-01-29 00:42] onionhammer commented on #6674
@fabiocav is there a changelog?

[2021-01-29 00:43] fabiocav commented on #6674
@onionhammer not a public one at this point, unfortunately, but let me work with the team to make that available.

FYI @anthonychu @ankitkumarr @brettsam

[2021-01-29 00:45] ssa3512 commented on #6674
@fabiocav just so you aware, this has already been requested here: https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/29 and here https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/10

[2021-01-29 01:23] SeanFeldman opened #7110 "Loading settings from User Secrets doesn't work"
User Secrets are supposed to be working but they don't.

When trying to move settings from `local.settings.json` to User Secrets, the following error is happening:

![image](https://user-images.githubusercontent.com/1309622/106218963-b46d1080-6195-11eb-8269-dbbad666a918.png)

<code>
Azure Functions Core Tools
Core Tools Version:       3.0.3233 Commit hash: d1772f733802122a326fa696dd4c086292ec0171

[2021-01-29 02:04] fabiocav commented on #7190
This is indeed a nice thing to support out of the box and we're working with that team to add that support to Functions in general, but it won't be a  goal for GA. We'll keep this open until we can move it to the appropriate repo.

[2021-01-29 07:53] jahnwa opened #7111 "FTP connection using Vnet integration"
#### Investigative information
We deployed a Azure Function using 2.2 runtime in November that connects to our FTP server using Vnet integration + Vnet peering. When we use this runtime we are able to connect to the server.

Keeping the app setting `FUNCTIONS_EXTENSION_VERSION: ~2` causes the function to not being able to reach the FTP server through private IP. We see no sign of a connection in t

[2021-01-29 10:27] v-bbalaiagar commented on #7022
Hi @petro2050, Here is a [tracking issue](https://github.com/Azure/azure-webjobs-sdk/issues/2575) which is being addressed and worked upon on a similar scenario, Please find the space for further updates.

Closing this issue, please feel free to ping in the issue comment.

[2021-01-29 10:27] #7022 closed, assigned to nobody

[2021-01-29 11:52] v-bbalaiagar commented on #7100
Hi @mookid8000, We have checked the logs and we see errors for different functions which states "invalid cron expression" and the App is eventually shutting down after that.
Error: The 'AtI******' function is in error: '*/2 * * * *' is not a valid CRON expression.

See this [document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#timeout) for more info on function app time

[2021-01-29 14:39] jernejc commented on #5972
Same scenario here. Need to limit Service Bus "maxConcurrentCalls" per function. This also increases cost with Premium Service Plan and generally more cold starts. Currently now way to do this right ?

[2021-01-29 15:53] v-bbalaiagar commented on #7028
Hi @jbeeko, I checked the logs and this seems like there is a conflict in assemblies. We would require to replicate this issue in order to understand the scenario better. Kindly, give us the zip file or the complete repro of your project.

[2021-01-29 16:39] lintho opened #7112 "Unable to cast object of type 'generatedProxy_3' to type 'HK.Plugin.POS.Services.ItemInfo.IItemInfoService'"
After the automatic upgrade to 3.0 our function stopped working.

**The error message was:**
Unable to cast object of type 'generatedProxy_3' to type 'HK.Plugin.POS.Services.ItemInfo.IItemInfoService'

We are using a WCF service(IItemInfoService), and the second time the function ran the error occured, and it kept having errors every run, until i restarted, and it worked ONCE, then errors again.

[2021-01-29 17:02] pragnagopa commented on #7112
cc @brettsam

@fabiocav - assigned this to you for now. Please re-assign as needed. Customer needs help with moving to Functions V3

[2021-01-29 21:41] mookid8000 commented on #7100
I don't get it... I can run the functions locally without any problems.

The cron expression `*/2 * * * *` is valid according to e.g. [CronHub](https://crontab.cronhub.io/)

![image](https://user-images.githubusercontent.com/32968/106330269-371fc980-6283-11eb-8a58-83d8ac8ce3de.png)

and – as you can see in the charts, _the functions do execute_, just not when I'm not looking. 😳

Isn't "function ap

[2021-01-29 23:35] anthonychu commented on #7100
@mookid8000 can you please try with this expression: `0 */2 * * * *`? Functions supports an extra field for seconds. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer#ncrontab-expressions

I wonder if what may be happening is the following. The symptoms seem to be consistent with this:

- The functions host works with both formats, with or without seconds.
- We have a

[2021-01-30 00:54] pragnagopa commented on #7033
Thank you for the details! Apologies for delayed response.

@fabiocav / @brettsam - this looks like a recent regression as it works on `3.0.14916` . Auto-Upgraded apps are running into this issue as well.

[2021-01-30 02:27] mhoeger opened #7114 "Cosmos DB items with datetime as string that has time zone offset loses time zone"
Due to this well-known bug in Json.NET: https://github.com/JamesNK/Newtonsoft.Json/issues/525

To get around this bad default, the C# users can override the settings here: https://github.com/Azure/azure-webjobs-sdk-extensions/pull/575

Unfortunately, this is **not** a viable option for non-.NET languages. We need to introduce some sort of way for time zones to be preserved and set:
[code]

[2021-01-30 02:29] justinyoo opened #7115 "HttpTrigger to set the AuthorizationLevel dynamically from environment variables?"
* Azure Functions runtime version: both 2.x and 3.x (aaaaaand possibly 1.x)
* Language: C#

I've got some code like below:

[code]

I want to dynamically assign the authorisation level to the `HttpTrigger` by reading the value from the environment variables, something like `%WebJobsHttpTriggerAuthLevel%`. So the code above changes to:

[code]

I know other bindings like Storage Queue, Service Bus,

[2021-01-30 02:40] justinyoo commented on #7115
To give more context on this request:

[This extension](https://github.com/Azure/azure-functions-openapi-extension) provides pre-defined endpoints for the Open API document generation.

Some organisations want to secure those endpoints by adding the function key, or the others leave the endpoints publicly accessible. If we have this option&ndash;dynamically assigning the auth level from environmen

[2021-01-30 04:05] anthonychu commented on #7100
@mookid8000 Actually I tried to reproduce your issue and so far haven't been able to. My timer function will not run at all with the incorrect cron expression.

However, please update the format of your cron expressions and see if the problem continues.

Looks like we need to do a better job of surfacing the errors, though.

[2021-01-30 18:53] mookid8000 commented on #7100
OK I can see now that it's because my cron expressions did not have the "seconds" component.

It's a little bit weird that they seemed to run fine locally, and they seemed to run fine for a while in Azure... but they would always end up shutting down, and then they would start again when I clicked around in the portal.

So.... I've now made this test:
[code]
that iterates over all of my functions,

[2021-01-30 18:53] #7100 closed, assigned to nobody

[2021-01-30 20:17] peterdol commented on #3153
I created a nuget package for this scenario, see https://www.nuget.org/packages/AzureFunctionsRoutePriority/1.1.1 and https://github.com/peterdol/azure-functions-route-priority.  It applies to proxies as well. Please use at your own risk and test it well, I only created and tested it for my own needs and use cases.

[2021-02-01 06:21] alrod commented on #7090
Closed as it's the same issue https://github.com/Azure/azure-functions-host/issues/7089

[2021-02-01 06:21] #7090 closed, assigned to alrod

[2021-02-01 16:20] v-anvari commented on #6953
Hi @bgribaudo , Kindly let us know if the above settings has resolved the issue for you.

[2021-02-01 16:39] anthonychu commented on #7100
@mookid8000 Yes it’s working locally for me as well. We’ll fix it. (Ideally we support with or without seconds)

[2021-02-01 17:17] jeffhollan commented on #7048
@alrod @pragnagopa @fabiocav trying to assess - is this the only remaining work item to exposing retry context as part of retry feature?

[2021-02-01 17:25] fabiocav commented on #7064
This is a known change between 2.0 and 3.0. This is something that was introduced by the underlying platform.

The recommendation is to change the code to avoid synchronous IO, but to make migration simpler (and this is something that is done automatically to auto-migrated apps), you can add the compatibility mode flag, which will disable this behavior.

To enable the flag, set the following app s

[2021-02-01 17:25] #7064 closed, assigned to madelinegordon, v-anvari

[2021-02-01 17:41] pragnagopa commented on #7048
cc @AnatoliB

@jeffhollan -  For C#, work should be complete after we realease udpated SDK to nuget. For non-dotnet languages each language worker needs to be updated to include "RetryContext" as part of "ExecutionContext"

Issue https://github.com/Azure/azure-functions-python-worker/issues/814 is tracking python changes. We need similar work-items in other language worker repos as well.

[2021-02-01 19:00] ghost commented on #7069
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-02 05:26] robinhultman opened #7116 "Timeout issues when querying Cosmos DB using input binding"
Azure Functions V3
Consumption Plan
Invocation ID: 22792f2b-4724-4c33-ab1c-da5055f99f65
West Europe

We have a function which is triggered by an HTTP request and performs a simple query against a Cosmos Database using an injected (input binding) DocumentClient.

**Symptom**: We have seen some cases when the request to Cosmos times out after 1.7 minutes resulting in a SocketException. It seems that

[2021-02-02 13:21] subesokun commented on #4927
This is a feature I really need too. For adding a middleware in node I need access to the `IncomingMessage` and `ServerResponse` object. Any updates on this feature request?

[2021-02-02 13:28] stephanruhland commented on #4927
Could be a solution to use the existing filters?

This could be an entry point https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.webjobs.host.ifunctionfilter

[2021-02-02 13:29] ericsampson commented on #6239
@fabiocav any progress on this? It’s not good. Thanks!

[2021-02-02 14:13] subesokun commented on #4927
Thanks for the hint! Is this functionality also available for the JavaScript SDK?

[2021-02-02 16:00] ghost commented on #7028
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-02 19:07] pragnagopa opened #7117 "Update 2.1.xxxx extension to use files from 3.0.xxxx"
cc @alrod @suwatch

SiteExtensions 2.1.xxxx and 3.0.xxxx are same bits packaged to support ~2 apps running on windows to use Functions V3

To avoid shipping duplicate files, need to update application.xdt file in 2.1.xxxx to point to 3.0.xxxx

here is an example:
[code]

[2021-02-02 19:08] pragnagopa commented on #7117
@fabiocav - This would require adding 3.0.xxxx and 2.1.xxxx packages together and removing them together as physical path for site extension 2.1.xxxx is hardcoded.  Please ACK on this approach.

[2021-02-02 20:53] Hazhzeng commented on #7119
Sending the **ExpiresAtUtc** field in body will results in trigger_metadata overwrite, even before any processing in `azure-functions` package. Wondering if the servicebus-extension is not handling it properly.

Sent message:
[code]

Received trigger_metadata [ExpiresAtUtc] field:
[code]

[2021-02-02 21:02] krishnasingh1818 opened #7118 "Azure function timer trigger in aks pods not singleton"
#### Is your question related to a specific version? If so, please specify:
AKS, .netCore3.1, AzureFunctions3

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
c#
#### Question
I have function projects with different types of functionTriggers.  One of them is TimerTrigger based and we need to run them on odd/even intervals in primary/secondary regions.  Before putti

[2021-02-02 21:36] Hazhzeng commented on #7119
Node also has the same issue, metadata got overwritten by message.body
![image](https://user-images.githubusercontent.com/48038149/106665727-899b0780-655b-11eb-9af4-80ce2da3d17a.png)

[2021-02-02 22:12] vrdmr commented on #7119
@alrod, @sidkri - FYI

Good Catch Roger - yes - looks like the issue from the extension side.

[2021-02-02 22:39] Hazhzeng commented on #7119
Thanks @mhoeger and @alrod.
I synced with them offline and this only occurs in out-of-proc languages (C# doesn't have this issue). This seems like a host side gRPC packaging issue. The trigger_metadata is overwritten by servicebus_body if they share the same field name.

I have the repro, let me know if anything I can help here.

[2021-02-02 23:15] stefanushinardi commented on #7119
Seems to be the same issue here as well: https://github.com/Azure/azure-functions-powershell-worker/issues/531

[2021-02-03 00:13] andrewjw1995 opened #7120 "Http trigger serializes returned ValueTask<IActionResult> as POCO"
Http triggers allow you to return a `Task<IActionResult>`, and the host will await the task and execute the result. However, if I return a `ValueTask<IActionResult>` instead, the whole value task is serialized:

    [FunctionName("Foo")]
    public ValueTask<IActionResult> ExecuteAsync([HttpTrigger(AuthorizationLevel.Function, "get")]HttpRequest request)
    {
        return new ValueTask<IActionR

[2021-02-03 01:18] mhoeger opened #7121 "Log hash of app file content on instance startup"
We should be logging a hash of the app file content on startup to be able to definitively tell if app content has changed. This would be very helpful for detectors when non-traditional deployment methods are used. Ideally logged in metrics table

I thought this work was accounted for somewhere but I couldn't find the issue!

[2021-02-03 06:18] Y-Sindo opened #7122 "How to use ScriptHost externally for test?"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C# ?

#### Question
I am a Azure Function extensions writer. I want to test my extension with functions written in different languages. It seems that to use `ScriptHost` is the most elegant way. So how can I reference the Microsoft.Azure.WebJ

[2021-02-03 12:31] v-bbalaiagar commented on #7122
Hi @Y-Sindo, We would like to clone the scenario that you are trying. Could you please provide us the repro steps.

[2021-02-03 16:23] FinVamp1 commented on #5612
https://www.nuget.org/packages/Microsoft.VisualStudio.Threading.Analyzers/16.9.45-alpha that helps with ASync and Threading

[2021-02-03 19:09] csandman commented on #5373
I completely agree that this is a necessary feature to be implemented, for http functions this seems like an obvious choice.

The only workaround I've tried to kind of mimic this is adding a prefix to the function directories and changing the route in the `function.json`

A folder structure something like this:

[code]

with a `function.json` that looks something like this:

[code]

This does not

[2021-02-03 20:52] alrod commented on #5631
The issue is not reproducible in current runtime 3.0.15193

[2021-02-03 20:52] #5631 closed

[2021-02-03 21:00] anthonychu opened #7123 "Investigate TimerTrigger problems with cron expressions"
There seems to be some inconsistencies in how cron expressions are handled. Specifically, an expression without seconds works locally, but fails silently when deployed to Azure.

A customer reported an app (#7100) that actually had a some executions with a cron expression missing seconds, but then it stops running after a while. See @anthonychu for a kusto query that shows this problem.

Two recen

[2021-02-03 21:14] fabiocav commented on #7099
Closing as no additional work needs to be tracked here.

[2021-02-03 21:14] #7099 closed, assigned to pragnagopa

[2021-02-03 21:14] fabiocav commented on #7098
Closing as no additional work needs to be tracked here.

[2021-02-03 21:14] #7098 closed, assigned to pragnagopa

[2021-02-03 21:15] fabiocav commented on #7097
This work is being removed in favor of removing the file duplication with an update to the host XDT file in the extension.

[2021-02-03 21:15] #7097 closed, assigned to pragnagopa

[2021-02-03 21:16] fabiocav commented on #7096
Moving to next sprint as we're still tracking this work.

[2021-02-03 21:17] fabiocav commented on #7095
Moving to next sprint as we're still tracking this work.

[2021-02-03 21:17] fabiocav commented on #7093
Moving to next sprint as we're still tracking this work. This is not blocked by a deployment.

[2021-02-03 21:18] fabiocav commented on #7078
This has been lower in priority in favor of the .NET 5 work happening. Moving to triaged.

[2021-02-03 21:20] fabiocav commented on #7077
This is blocked by a few other components (e.g. portal experience)

[2021-02-03 21:22] fabiocav commented on #7033
Assigning to sprint 95 for investigation.

[2021-02-03 21:56] soninaren opened #7125 "Design and create endpoints to provide diagnostic events captured"
We need to build a service that would allows us to capture diagnostic events recognized by the functions runtime. Diagnostic events can be error conditions that require user actions to mitigate the issue or a warning for a potentially unideal configuration on customers part. The idea is to capture and such events and build a pipeline to bring this to customers attention. This is not meant to be us

[2021-02-03 22:07] fabiocav commented on #6239
@ericsampson unfortunately, this was an issue that we were unable to look at this sprint due to competing items. We're bumping this up in priority and we'll provide an update as soon as we have something to report.

Moving to sprint 95 so we can continue to track this there.

[2021-02-03 22:11] fabiocav commented on #7117
This is correct. Though, we should be able to avoid hardcoding the path. We should have the ability to process the replacement based on the environment variables provided.

[2021-02-03 22:25] alrod commented on #7117
XDT transform does not allow partial replacement in the string. It can replace a node or an attribute. I see there are 2 approaches:
1. Hardcode in applicationHost.xdt
2. Replacement in ANT code.

[2021-02-03 22:36] fabiocav commented on #7117
I think there's an assumption being made here. The suggestion is not to replace in the transform. I'll reach out to chat.

[2021-02-03 22:45] mathewc commented on #7123
While all our Functions documentation says to use 6 part expressions (including seconds), the extension actually supports 5 part expressions (see code [here](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/9c87af74f90159f8b987c77aa77546f55a62a84e/src/WebJobs.Extensions/Extensions/Timers/Scheduling/CronSchedule.cs#L56)). We count the expression parts and configure `CrontabSchedule.ParseO

[2021-02-03 23:23] kulkarnisonia16 commented on #5612
Finbar to create separate work items that are actionable.

[2021-02-04 03:15] mhoeger commented on #7119
In the host, "trigger_metadata" is known as BindingData (see [here](https://github.com/Azure/azure-functions-host/blob/9ac904e34b744d95a6f746921556235d4b2b3f0f/src/WebJobs.Script.Grpc/Extensions/ScriptInvocationContextExtensions.cs#L51) where it gets transformed)

I think that expiresAtUtc is set as BindingData [here](https://github.com/Azure/azure-functions-servicebus-extension/blob/062a555f203b3

[2021-02-04 03:35] Y-Sindo commented on #7122
This is the [repo](https://github.com/Y-Sindo/azure-functions-signalrservice-extension/tree/scripthost). The last commit tries to add a script host, but gets build failure.

[2021-02-04 06:56] MikeChristensen opened #7166 "IServiceCollection cannot resolve type when loaded from an outside assembly"
Full Repro: [BugRepro.zip](https://github.com/Azure/Azure-Functions/files/5923767/BugRepro.zip)

I'm running into a strange issue using dependency injection, adding in a Singleton for a type that comes from an outside assembly.  This is using the Azure Function framework, but I'm not sure if that has anything to do with it or if this would repro with ASP.NET Core as well.  My actual "real world" i

[2021-02-04 13:45] adriennn commented on #6423
any update on this @brettsam ?

[2021-02-04 14:21] justinyoo opened #7126 "Hook to be automatically invoked during runtime?"
#### Is your question related to a specific version? If so, please specify:

both v2 and v3, and static and IoC

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#

#### Question

I wonder whether there is a sort of hook interface like `IFunctionHook` or so, so that we can implement the hook to be invoked while the Functions runtime boots up. Do we have such kind?

[2021-02-04 14:37] brettsam commented on #6423
This work has been moved to the Azure SDK, which has released 5.0.0-beta.1 that looks to have this functionality. You can see those release notes here: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md. There it says:

But I'm not sure whether that's supported in Functions. @paulbatum or @kasobol-msft should have more d

[2021-02-04 14:42] jmolla31 commented on #5015
+1 for this feature to be implemented

[2021-02-04 15:23] bgribaudo commented on #6953
Thank you, @asears, for those links.

[2021-02-04 15:23] #6953 closed, assigned to brettsam, v-anvari

[2021-02-04 17:40] jackbond commented on #6542
We had to switch from consumption to premium due to this issue. Will all hosting plans be able to override ConfigureAppConfiguration in the future? Seems odd that AzureAppConfiguration is incompatible with any of the function plans.

[2021-02-04 17:42] ahahn95 commented on #6542
Are you saying this is fixed now?

[2021-02-04 17:47] v-anvari commented on #7042
Hi @FaithLV ,

Required application settings
AzureWebJobsStorage
Required for Consumption and Premium plan functions:
WEBSITE_CONTENTAZUREFILECONNECTIONSTRING
WEBSITE_CONTENTSHARE

In this [document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-recover-storage-account#guidance) it is stated that "The above settings must be provided and valid at creation time. An automated deplo

[2021-02-04 19:04] mwwhited commented on #6674
Good thing Microsoft doesn't own the entire stack and good thing competitors haven't been running the latest framework version for months.  BTW, we don't care if the framework is LTS or not.  We don't care if the hosted runtime is LTS or not... we just want to to be able to keep projects up to date and not be stuck months in the past.

This is now getting so stale I have risk trying to update thir

[2021-02-04 19:07] jeffhollan commented on #6674
@mwwhited it's not clear if or where you are blocked today in using the .NET 5 bits for Azure Functions?

[2021-02-04 19:22] mattchenderson opened #7127 "Converge all storage references to the account provider"
#### What problem would the feature you're requesting solve? Please describe.
There are uses of Azure Storage within the host that does not use the account provider abstraction that exists

#### Describe the solution you'd like
We converge these references so that there is a single abstraction allowing for changes across the host.

[2021-02-04 19:25] mattchenderson commented on #7127
Enables https://github.com/Azure/azure-functions-host/issues/7057

[2021-02-04 19:31] Mithras commented on #6674
I'm blocked on this https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/39#issuecomment-771280191
I can't store connection strings in .json files. It has to support loading secrets from KeyVault or something.

[2021-02-04 19:42] TsuyoshiUshio opened #7128 "Timer Trigger trigged on each pod on kubernetes with KEDA."
Found this issue.

https://github.com/kedacore/keda/discussions/1508

#### Investigative information

#### Repro steps

Create a timer trigger and deploy the kuberenetes with min-replica as 2. then configure `AzureWebJobsStorage` to point a Storage Account.

[code]

#### Expected behavior

Only one container runs timer trigger.

#### Actual behavior

Both containers run timer trigger.

#### Known

[2021-02-04 21:00] sijucm commented on #6423
The documentation given below says it is possible:
https://docs.microsoft.com/en-us/samples/azure-samples/functions-storage-managed-identity/using-managed-identity-between-azure-functions-and-azure-storage/

But knowing the inconsistencies in the Azure libraries I won't be surprised that the above documentation does not mean it is available in the Azure functions with NodeJS. (and it might even di

[2021-02-04 22:00] #7069 closed, assigned to nobody

[2021-02-04 22:50] briandunnington commented on #6542
I know this is closed, but it can still bite people in various scenarios. One fix that worked for us was to change our Startup.cs to use `IWebJobsStartup` instead of `FunctionsStartup` - by doing that, it seems to bypass the extra run-time scaler checks. YMMV but it was the simplest fix for us.

[2021-02-04 23:00] paulbatum commented on #6423
See https://github.com/Azure/azure-webjobs-sdk/issues/2575 for related conversation.

We have work currently in progress to make sure managed identity works end-to-end for this scenario (and other scenarios, such as service bus, eventhubs, etc) in Azure Functions. It will work for all languages. These changes rely on the work that Brett highlighted above, but there is more to do. Expect some more

[2021-02-05 00:30] #6791 closed, assigned to fabiocav, gohar94

[2021-02-05 00:37] pragnagopa opened #7130 "Regenerate JitTrace file"
cc @fabiocav  @yojagad @safihamid

PR: https://github.com/Azure/azure-functions-host/pull/6836 is merged into dev. Need to regenerate for the release to ensure jittrace file is not stale.

[2021-02-05 02:29] pragnagopa commented on #7111
Tagging @fabiocav  for follow up.

[2021-02-05 03:04] pragnagopa commented on #7111
Assigning to Sprint 96 for further investigation.

[2021-02-05 04:38] spmanjunath commented on #7069
Sorry for the wrong reporting, the Azure function works well with the '%'.  In my implementation it was the API Gateway that was causing this issue, the Azure function sits behind this gateway, and i completely ignored that fact.  You can close this issue.  Thanks.

[2021-02-05 04:55] anwather opened #7131 "Duplicate events using Event Hub trigger"
I'm using an event hub trigger - code is PowerShell receiving resource diagnostic events being sent through. The event hub has 4 partitions and cardinality is set to "one" which has reduced the amount. But still there are duplicate events being sent.

#### Investigative information

Please provide the following:

- Timestamp: 2021-02-05T02:00:13.7686992Z
- Function App version: ~3
- Function App n

[2021-02-05 05:09] TsuyoshiUshio commented on #7128
It works if you specify `AzureFunctionsWebHost__hostid`.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#function-apps-sharing-storage

[2021-02-05 05:19] #7128 closed, assigned to madelinegordon

[2021-02-05 05:20] RPM1984 opened #7132 "Function app runtime moved to 3.x despite FUNCTIONS_EXTENSION_VERSION setting"
Hi there,

We recently restarted our .NET Core 2.2 function app, and received this error in the portal:

After chatting to Azure support, the issue was the function app host moved to 3.x even though we had this setting:

[code]

The fix was to pin to the version the app was on previously:

[code]

The expected behavior [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-set

[2021-02-05 05:22] TsuyoshiUshio commented on #7118
Hi @krishnasingh1818 Probably, you encounter the same issue as me. Could you try this solution?
https://github.com/Azure/azure-functions-host/issues/7128

[2021-02-05 05:32] krishnasingh1818 commented on #7128
Thanks. Am not clear what to do to resolve this. Do u mean set that hostid env to same value for all pods in same region? Doest it have any other side effects? Will appinsight logs still show actual host or the one I will override using env var hostid?

[2021-02-05 06:16] SuchitChoudhury commented on #7056
@pragnagopa My Customer faced the same issue . SR# 121020523000352.
Kusto Query attached in notes, or I can IM you over Teams, whichever you prefer.
Mitigated by pinning the Functions Extension version to 2.0.14786.0.

Is there a way to prevent or autodetect these issues?

[2021-02-05 06:31] anthonychu commented on #7123
Thanks @mathewc. Not sure how to check the scale controller logs but I pasted a kusto query showing the problem in the Azure DevOps item you created.

[2021-02-05 07:00] v-anvari commented on #7069
Thankyou for the update. The issue is closed

[2021-02-05 13:08] mwwhited commented on #6674
All of it, using .Net 5 is not possible with Azure Functions and EF Core 5 with DI or Config abstractions.  The preview code being started from command line of the emulator does not work.  It just throws errors saying it can not load the various Microsoft*Abstractions libraries.  And none of the tooling for VS is complete yet either.  I'm not sure if you've noticed but people use dotnet because we

[2021-02-05 13:46] ModernRonin commented on #6674
Let me start with the fact that I too am waiting for this to become production-ready. For several reasons of no further relevance it would make my life significantly easier if by the end of Q1/2021 I could use a production-ready version of Functions that allows me to use net5.

That being said, I don't think being aggressively sarcastic about the development timeline of this feature like @mwwhited

[2021-02-05 14:10] chassq commented on #6674
I agree somewhat with @ModernRonin but do understand and also feel the frustration. It is not like MS did not have plenty of lead time on dot net 5. Also look at the issues list for the worker preview. The responses are sporadic with some issues not being addressed or even replied to in any fashion. That is not good community engagement imho. For example, look at the Blazor or EF Core teams. Your

[2021-02-05 14:15] mwwhited commented on #6674
It's not like they didn't know this change was coming up.  In fact these guys are on the same team as the rest o the .Net.  There have been multiple times though out last year were releases and compilations were out of sync leaving the entire platform broken for a month if you tried to stay up to date.  I wouldn't expect it to be big ask to have Microsoft ensure their products work with their own

[2021-02-05 15:13] onionhammer commented on #6674
I just want a changelog between preview versions so I know whether they've resolved specific barriers and I know whether its worth retrying.

I agree, though. Lets keep it civil guys

[2021-02-05 15:22] mwwhited commented on #6674
That's easy.  Release a .NET 5 version of Azure function with a statement it is not LTS and continue to work on the out of process version they want for .Net 6 LTS.

I would also have the BCL team replace the appdomain platform exception code with a wrapper pattern that will create out of process with an out of process communication pipeline so it looked like the role appdomain remoting model. The

[2021-02-05 15:44] drdamour commented on #6674
Yeah i agree, this only LTS stuff is bad mojo, i get the viewpoint but this mindset means noone can adopt .net 5 and thats dumb. We get that wed be outta support if we dont move to 6..fine give me the checkbox to click so i can use 5.

Alternatively make it so we can have the 3.1 version use some of the core 5.0 assemblies via some mechanism. A bunch of us just want ef core 5

[2021-02-05 18:00] Mithras commented on #6674
That "we don't want to update worker to non-LTS" makes no sense to me. What is the problem supporting multiple worker versions similar to this?
![image](https://user-images.githubusercontent.com/2098029/107070609-6c9f4800-6798-11eb-918d-715731ee071c.png)
You can't have official position: "We only support updating packages on even years".

[2021-02-05 18:13] hansmbakker commented on #6674
I asked the same and they replied this: https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/9#issuecomment-753815075

However, it is not a real answer to the "why", but merely saying what they are doing instead.

Replying, but not answering. I guess more people have that feeling here...

Collaboration with the community has some room for improvement this way.

[2021-02-05 19:00] #7028 closed, assigned to mhoeger, v-bbalaiagar

[2021-02-05 20:24] mygithubkas opened #7133 "Azure Functions runtime is unreachable"
We have a Function App created with :
App Service Plan (B1: 1) , Pay As You Go in Western Europe,
on Linux for Python runtime.

We elect to create the storage at that moment in the portal.
Everything appears fine, except for 'Azure Functions runtime is unreachable',  under Function App/Functions.

How to debug this one ?

[2021-02-05 22:43] ElvenSpellmaker commented on #6855
We just hit this now, this is ridiculous... So glad this issue exists because it's just bitten us big time... 😖

[2021-02-05 22:47] mhoeger commented on #6855
@ahmelsayed - do you know why there's a max length on environment variables on Linux or would this be a question for Jenny's team?

[2021-02-05 22:49] cygnim commented on #6674
The answer to the question has been clearly answered in this thread. https://github.com/Azure/azure-functions-host/issues/6674#issuecomment-712596112

I understand the frustration and I share it. Microsoft's roadmap for .NET 5 and beyond in regard to Azure Functions was clearly not well thought out and it would be nice if they just admitted it and came up with clear guidance to move forward.

But

[2021-02-05 22:56] Mithras commented on #6674
It's usually changing this
` <TargetFramework>netcoreapp3.1</TargetFramework>`
to this
`<TargetFrameworks>netcoreapp3.1;net5.0</TargetFrameworks>`
and maybe fixing few errors after

[2021-02-05 23:38] Methuselah96 commented on #6674
While I agree with trying to keep the conversation positive, I don't have much reason to hope that future versions will be better orchestrated. This transition has been worse than the transition to .NET Core 3.0. During that transition there was [feedback from the community](https://github.com/Azure/app-service-announcements-discussions/issues/115) that there could have been more clear, up-front c

[2021-02-06 00:11] utpilla opened #7135 "Azure Functions does not support DiagnosticListener callbacks when using System.Diagnostics.DiagnosticSource (> 4.7.0)"
DiagnosticListener callbacks are not called in Function apps when using System.Diagnostics.DiagnoticSource (> 4.7.0)

#### Investigative information
Tried this locally

#### Repro steps
- Clone this repo: https://github.com/utpilla/AzureFunctions-DiagnosticSource/tree/DiagnosticSource_5.0.1 and switch to branch DiagnosticSource_5.0.1
- Run the AzureFunctions-DiagnosticSource project
- Make an HTTP

[2021-02-06 00:29] jeffhollan commented on #6674
Yes a lot in this thread to process, and also want to try to keep this issue from becoming a mega-issue that has a bunch of small requests (just make sure there are specific issues for any bugs hit here).  That said, can hopefully help some.

First, you should notice a few updates to the `Microsoft.Azure.Functions.Worker.Sdk` and `Microsoft.Azure.Functions.Worker` packages that resolve the issue o

[2021-02-06 00:46] drdamour commented on #6674
the out of process has too many limitations though, it'd be great if you could find a way to support in process for non LTS releases going forward too

[2021-02-06 00:52] jeffhollan commented on #6674
@drdamour agree 100%.  We have some stuff we are starting work on this year so that come .NET 7 our hope 🤞 is that it will work just like the in proc stuff, WITH the nice things from out of proc (more control over `Main` and configuration and startup)

So .NET 5 will be an improved version of this preview, but still have differences.  .NET 6 will have all the stuff v3 has, but on .NET 6 (preview o

[2021-02-06 01:05] pseabury commented on #6674
.Net 7  is late 2022 so 2023 really... that's disappointing.

[2021-02-06 01:06] jeffhollan commented on #6674
Though to be clear, .NET 6 is the next version that will have full feature parity, and as stated preview coming in the next weeks / months (H1 this year)

[2021-02-06 01:11] paulbatum opened #7136 "Worker processes do not start in linear time"
The functions host adds worker processes more slowly than intended and as documented. Here are the details provided by @cgillum -

[code]

[2021-02-06 01:43] pseabury commented on #6674
@jeffhollan - I know.  I shouldn't have written that but it's frustrating.  I know you guys are working hard to support our workflows, and I sincerely appreciate it.  We are a *tiny* company with very limited resources that depends on (prefers?) the ability to deploy all of our bits on a single target.  It's a luxury for some but a necessity for us.  That was my one shot, and I'm more inclined to

[2021-02-06 01:50] jeffhollan commented on #6674
Yes If wanting to move from 5 -> 6 with little effort you’d likely stay on the “out of proc” train, which could make some of that tricky (though I don’t know specifics). .NET 6 will have in proc, but would require some refactoring to move from 5 -> 6. Totally get the frustration with that

[2021-02-06 02:47] #7130 closed, assigned to pragnagopa

[2021-02-06 12:32] mygithubkas commented on #7133
This fixed it!

[2021-02-06 12:33] #7133 closed, assigned to mhoeger

[2021-02-06 17:02] pragnagopa opened #7139 "Shutdown placeholder language worker processes if user specifies appsetting for languageWorkers:runtime:arguments"
cc @mhoeger @yojagad

Host has the ability to shutdown incompatible language worker process here https://github.com/Azure/azure-functions-host/blob/51e7a2ead2327889da27c28681f89e60bd75a46f/src/WebJobs.Script/Workers/Rpc/WebHostRpcWorkerChannelManager.cs#L121

If a user specifies an appsetting to overwrite process startup arguments such as documented here:
https://docs.microsoft.com/en-us/azure/azu

[2021-02-06 18:27] Napalmpje commented on #6674
What would have been so wrong to focus on continuous support of .NET core 5 in language and hosting, and if they really wanted to rewrite the entire approach to create a product on the side.
Make it Azure Functions G2 or something like that.

[2021-02-06 21:47] pragnagopa opened #7140 "Explicit reference to Microsoft.Extensions.Configuration.Abstractions causes compilation errors"
cc @brettsam @fabiocav

Function fails to compile in V3 with an explicit reference to `#r "Microsoft.Extensions.Configuration.Abstractions"`

[code]

repro:

[code]

Workaround:

Delete `#r "Microsoft.Extensions.Configuration.Abstractions"`

[2021-02-06 22:32] MLogdberg commented on #5469
Same here, having an object in the model and `System.Text.Json` transforms this to "ValueKind" objects but then when serialized via OkObjectResult gives me a corrupt Value.
an easy sample is a bool object of `false` get transformed to a object : `{ "valueKind": 6  }` Do I need to rewoke all this to NewtonSoft?

Sample Object Read from Cosmos via `System.Text.Json`
`[
    {
        "Name": "Enabled

[2021-02-07 16:25] pradeepgururani commented on #6542
I am using `Azure App Configuration` service to inject my configuration. I am facing the same problem with consumption plan.

Why are we being forced to use Premium plan?

[2021-02-08 02:01] anthonychu commented on #4883
@johnayoub Sorry I missed this. Are you still stuck? If you're using run from zip, you may have to set `WEBSITE_MOUNT_ENABLED` to `true` in app settings. Run from zip might not keep the execute bit on your files without this setting.

@anomepani Please take a look at [this blog post](https://anthonychu.ca/post/azure-functions-puppeteer-pdf-razor-template/) for a sample. I haven't figured out how t

[2021-02-08 02:07] anthonychu commented on #7074
Related to https://github.com/Azure/azure-webjobs-sdk/issues/2635

[2021-02-08 06:00] ghost commented on #7118
This issue has been marked as duplicate and has not had any activity for **3 days**. It will be closed for housekeeping purposes.