[2022-03-25 17:53] #5922 closed, assigned to kashimiz

[2022-03-25 18:20] liliankasem commented on #6704
@fabiocav I had a sync with Anatoli and Alexey about this and here's the TLDR;

- Intelligent concurrency as a feature has already been implemented and is in preview (Alexey will update #7499 with the current progress)
- The team is waiting for feedback to understand how many customers will be impacted by this through CRIs/customer complaints
- Anatoli does not believe we can GA without the memory

[2022-03-25 18:35] liliankasem commented on #8265
Yup, DI is supported in v4.x. I've created a PR to get the documentation updated

[2022-03-25 18:36] liliankasem commented on #8262
@sidkri is this something you might have an answer to?

[2022-03-27 22:00] ghost commented on #6184
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-27 23:09] John-Bosch opened #8269 "Key vault configuration references no longer updating on function app restart"
I use logic apps to manage the automatic rotation of some Service Bus access keys, which are then stored in a Key Vault. Several Azure Functions have key vault links in their configuration to the secrets. The logic app uses the Azure Management REST API to perform a "restart" operation on the Azure Function to trigger a re-read of the configuration when the keys are rotated.

While all of our func

[2022-03-28 05:29] jdubois commented on #6184
Hey, I’m the author and I gave feedback each time it was asked.
You cannot close the issue like that, please keep it opened.

[2022-03-28 10:55] andersson-dizparc commented on #8241
Any updates on this one?

[2022-03-28 11:07] v-bbalaiagar commented on #8253
Hi @simonness , Thank you for your feedback! I checked this internally. Can you try to check if it is working when downgrade the package Microsoft.Azure.WebJobs.Extensions.ServiceBus  to 4.3.0

[2022-03-28 12:54] dxynnez commented on #8232
I think in-process hosting azure function doesn't support self-contained mode - basically you are tight to whatever runtime version the function host is running with.

In function V4 there is a isolated hosting model where you should be able to control the runtime version (I haven't tried, but they make it sound like it's one of the benefit of the isolated mode) - https://docs.microsoft.com/en-us/

[2022-03-28 14:50] simonness commented on #8253
Thanks @v-bbalaiagar, we did initially try this out of curiosity and noticed the Azure Function Service Bus Trigger failed to consume messages from the queue when doing this downgrade.  Is it a requirement to use > v5.0.0 of Microsoft.Azure.WebJobs.Extensions.ServiceBus with Azure Functions v4?

[2022-03-28 17:35] #8265 closed, assigned to brettsam

[2022-03-28 21:02] SqlBenjamin opened #8270 "How can I add custom properties using ILogger on each "LogInformation" call without using BeginScope each time?"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
I'm writing to Application Insights inside Azure Functions using the ILogger available to the orchestrator/activity functions. If I want to add custom properties I know I can do that using a message template. However, if I want to add some custom properties to each of my logs without using a message t

[2022-03-28 21:03] satvu opened #8271 ""AddSignalRCore()" call in a class that implements FunctionsStartup overrides Auth Policy"
Not sure how often we get a case of this (@kashimiz and I have both resolved incidents caused by this) but wanted to make sure this discussion/info is noted somewhere.

## Repro

This is the repro I got last week

- V3 Inproc dotnet app
- `Startup` class that implements `FunctionsStartup`
- Add the line `builder.Services.AddSignalRCore();` to the Configure method of this class.

## Why this breaks

[2022-03-28 22:00] ghost commented on #7991
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-29 10:00] ghost commented on #8157
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-29 10:02] qsdfplkj commented on #8157
Why msftbot thinks I didn't respond?

[2022-03-29 10:02] qsdfplkj commented on #8157
Why msftbot thinks I didn't respond?

[2022-03-29 12:14] simonness commented on #8253
Hi @v-bbalaiagar, apologies, it looks like a clean build wasn't done the the first time around.  I can confirm that downgrading Microsoft.Azure.WebJobs.Extensions.ServiceBus to v4.3.0 makes the change in behaviour in telemetry go away.  Should we raise this issue on https://github.com/Azure/azure-sdk-for-net?

[2022-03-29 13:48] Ved2806 commented on #8254
Hi @danpetitt Thank you for the feedback. we will discuss this issue internally and let you know about the findings soon!

[2022-03-29 14:28] v-bbalaiagar commented on #8269
Hi @John-Bosch , Thank you for your feedback! We will try to get the logs and update you with the findings.

[2022-03-29 14:31] Ved2806 commented on #8270
Hi @SqlBenjamin Thank you for the feedback, we will discuss this internally and let you know about the findings.

[2022-03-29 14:35] v-bbalaiagar commented on #6476
Closing this issue as the required information provided, please feel free to reach back to us in case of any further queries related to this issue.

[2022-03-29 14:35] #6476 closed, assigned to v-bbalaiagar

[2022-03-29 14:40] v-bbalaiagar commented on #7451
Hi @mikecole , Can we know if this is still persisting, we apologize for not following up frequently.

[2022-03-29 14:43] v-bbalaiagar commented on #7681
Hi @lgiuliani80 , Can we know if this is still persisting, we apologize for not following up frequently.

[2022-03-29 14:59] #7451 closed, assigned to kashimiz, v-bbalaiagar

[2022-03-29 20:54] unscrum commented on #7859
I'm seeing this same issue on Linux Plan with User Managed Identity in South Central US.

RBAC is setup as:
Storage Blob Data Owner
Storage Queue Data Reader
Storage Queue Data Message Processor

Also using FuncAppVersion ~4 and .NET 6

[2022-03-30 00:27] liliankasem opened #8273 "Redesign how we log worker process errors"
In the current implementation of how we handle worker process errors, we log a message as an `error` based on if the message contains the words "error", "fail" or "severe", this is fragile and does not cover all cases on when an issue has occurred i.e. exceptions etc.

[code]

It's worth noting that this method (`ParseErrorMessageAndLog`) is only used by the error callback:

[code]

Maybe it is sa

[2022-03-30 03:14] balag0 commented on #7859
@unscrum the original issue was a typo in the appsetting name, if that is not the case here, could you please open new issue with the appdetails. Closing this one as resolved. Thanks.

[2022-03-30 03:14] #7859 closed, assigned to balag0

[2022-03-30 04:08] petro2050 opened #8274 "System.MissingMethodException thrown by EventGridTrigger"
I updated my app to v4 runtime and started seeing weird issues with System.Text.* assemblies. I'm particularly having an issue with `EventGridTrigger`.

Using` Azure.Messaging.EventGrid` v4.9.0.

**System.MissingMethodException**

`Exception while executing function: EventGridTrigger Exception binding parameter 'eventGridEvent' Method not found: 'Void System.BinaryData..ctor(System.Object, System.

[2022-03-30 06:49] dndao commented on #8079
I'm experiencing the same problem with a range of function apps running SDK functions 3.0.11 and on framework .Net Core 3.1.

[2022-03-30 08:19] richorama commented on #8262
@sidkri are you able to help?

[2022-03-30 19:07] smokedlinq commented on #2955
Just came across this and it's a problem as ServiceBusTrigger sets the deliveryCount to 1 on the first attempt but the admin endpoint defaults it to 0.

[2022-03-30 20:13] fabiocav commented on #8184
Design on this is done and @shreyas-gopalakrishna is iterating on a PR.

This should be completed in the next sprint, so we're updating the milestone to reflect that.

[2022-03-30 20:14] fabiocav commented on #8087
Work completed in #8083 and #8239

[2022-03-30 20:15] fabiocav commented on #8055
@brettsam is currently unavailable/OOF and we don't have an update here. Moving to the next sprint so we can follow up.

[2022-03-30 20:16] fabiocav commented on #8025
Investigation on this was completed and some work derived from the results. Once the associated PR is merged, we should be able to close this item.

[2022-03-30 20:19] fabiocav commented on #7874
Moving to 119, but the work for this has been in PR and approved.

@brettsam are you still blocked on anything? We should try to get those changes in so the issues are resolved and we can iterate on follow up items.

[2022-03-30 20:21] fabiocav commented on #7860
Work should be completed in 118.

[2022-03-30 20:42] fabiocav commented on #7462
Adding @soninaren to help drive this forward. Additional investigation/design is required here so we can clearly identify the work we need to track.

[2022-03-30 20:44] fabiocav commented on #8087
Reopening as this was tracking the enhancements to the changes in the linked PRs

[2022-03-30 20:48] fabiocav commented on #7591
@soninaren it would be good to validate the read paths as @liliankasem ran into some issues that could be similar in the read path.

[2022-03-30 21:09] surgupta-msft opened #8275 "Investigation on few worker indexing logs not showing up in core tools"
Need to investigate and fix some of the log lines related to worker indexing that do not show up on coretools but they are sent to kusto. Some examples - mixed app log message and exception msg of FunctionMetadataResponse

[2022-03-31 22:00] #7991 closed, assigned to brettsam, v-bbalaiagar

[2022-04-01 02:12] Ved2806 commented on #8274
Hi @petro2050 Please let us know which version of function host you are using here?
also let us know which version of Microsoft.Azure.WebJobs.Extensions.EventGrid you are trying to use to investigate further. Thanks.

[2022-04-01 02:54] anirudhgarg commented on #8254
How long does it take to run ?

[2022-04-01 02:55] anirudhgarg commented on #8232
This issue should be closed. We dont support running your own custom .NET runtime.

[2022-04-01 02:55] #8232 closed, assigned to nobody

[2022-04-01 02:59] anirudhgarg commented on #8189
Yes we are working on WEBSITE_RUN_FROM_PACKAGE=1 for Linux Consumption Apps

[2022-04-01 09:48] danpetitt commented on #8254
@anirudhgarg between 1 and 3 seconds (see below); would it be affected by length of time any other functions running on the same app would be taking as I havent checked that, but I dont expect anything to be taking hours to run...

![image](https://user-images.githubusercontent.com/1733292/161239767-7114935b-6e7b-4eb1-abaa-42d0b6cac38b.png)

[2022-04-01 12:06] chinazor-allen commented on #8146
Following. Would be nice to know the workaround for csx files using .NET 6.

[2022-04-01 14:41] petro2050 commented on #8274
I also reported this on https://github.com/Azure/azure-sdk-for-net/issues/27856. There are more details there.

[2022-04-01 16:11] liliankasem commented on #6284
Duplicate of #4296

[2022-04-01 16:11] #6284 closed, assigned to nobody

[2022-04-01 16:18] liliankasem commented on #4296
When an `RpcException` is logged in Application Insights, the exception starts with `Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcException`, this makes it seem like a platform error but in almost every case it is an unhandled user code exception. The suggestion here is to create a new exception to make it clear that this is a user code issue, i.e. `InvocationException`. Whilst creating this new

[2022-04-01 16:19] Ruud-cb commented on #7210
I also responded to the referenced issue, yet now facing it again when trying to upgrade to v4. Fun thing though, one function (acceptance) was working perfectly but production not.
I used https://resources.azure.com/ to check the config differences.

[code]
I noticed that `minimumElasticInstanceCount` was set to `1` in production and to `0` in acceptance. After a lot of googling I couldn't find a

[2022-04-01 17:10] stefanushinardi commented on #8220
Yes, made a mistake, thanks for noticing!

[2022-04-01 17:31] liliankasem commented on #5821
We'll be addressing the RPCException issues through these two user stories:

- https://github.com/Azure/azure-functions-host/issues/4296
- https://github.com/Azure/azure-functions-dotnet-worker/issues/846

I'd like to close this issue as a dup of the above, let me know if you agree!

[2022-04-01 17:58] JustinGrote commented on #4296
Thank you @liliankasem,

I really want the full exception details in Application Insights one way or the other, if the worker has a way to hook and deliver the worker-specific exception to application insights before it also ends up showing up as an invocationexception, that is ideal.

The story I want is that when I go to Application Insights and click the Exceptions tab, whether I am in the Powe

[2022-04-01 18:01] JustinGrote commented on #5821
Thank you @liliankasem[](https://user-images.githubusercontent.com/15258962/161317143-824df5ae-340e-4e31-a915-1e1d2cb1f166.png),

I really want the full exception details in Application Insights one way or the other, if the worker has a way to hook and deliver the worker-specific exception to application insights before it also ends up showing up as an invocationexception, that is ideal.

The stor

[2022-04-01 18:39] liliankasem commented on #5821
@JustinGrote https://github.com/Azure/azure-functions-dotnet-worker/issues/846 addresses what you're describing - the story is to log the full exception directly in Application Insights so you should get full exception details. This would need to happen for each worker so we're starting out on the dotnet worker and then applying the same pattern across the other workers.

[2022-04-01 18:56] JustinGrote commented on #5821
I misunderstood the intention of this issue, thanks! Yes we can close in favor.

[2022-04-01 19:05] liliankasem commented on #5821
I'll update the description is it's a little more clear! Closing this in favour of:

- https://github.com/Azure/azure-functions-dotnet-worker/issues/846

[2022-04-01 19:05] #5821 closed, assigned to nobody

[2022-04-01 19:06] #8025 closed, assigned to liliankasem, satvu

[2022-04-02 13:00] ghost commented on #8253
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-02 16:00] ghost commented on #8134
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-04 08:58] simonness commented on #8253
I have raised https://github.com/Azure/azure-sdk-for-net/issues/27954

[2022-04-04 08:58] #8253 closed, assigned to nobody

[2022-04-04 10:32] yggdrasil-tynor commented on #7930
Is there any status update on this? It's a dealbreaker when upgrading functions to Runtime v4 and dotnet-isolated :(

[2022-04-04 10:42] mrurb commented on #4926
This is still an ongoing issue. Is there any progress to fix this issue?
We were looking into upgrading our function to .Net6 isolated, but this is currently stopping us.

[2022-04-04 13:53] mgravell opened #8280 "Proposal: remove RX from the primary gRPC message pipe"
#### What problem would the feature you're requesting solve? Please describe.

Profiling demonstrated a performance bottleneck associated with the way that RX is used as part of the gRPC messaging pipe. At the moment there is a single common RX hub, and all events to all workers go through this hub, using `Where` filters at the observer to filter data back out to the correct worker. In addition to

[2022-04-04 17:09] surgupta-msft commented on #8157
Hi @qsdfplkj Thanks for your response. Is it possible for you to share your code (even a minimal one will work explaining the scenario mentioned above)?

[2022-04-04 17:57] balag0 commented on #5246
@TroyWitthoeft This is a great point. Making a change to display a warning in "Diagnose and solve problems" -> "Configuration and Management" section in the portal if the app is using "WEBSITE_TIME_ZONE " or "TZ" appsettings.

[2022-04-05 00:16] #8169 closed, assigned to alrod

[2022-04-05 11:19] qsdfplkj commented on #8157
Does this help: [FunctionApp1.zip](https://github.com/Azure/azure-functions-host/files/8417586/FunctionApp1.zip)

[2022-04-05 12:02] v-bbalaiagar commented on #8269
Hi @John-Bosch ,  I went through the logs for the time stamp - 2022-03-28 00:00:00 to 2022-03-28 23:59:00. We detected that Host Runtime instance (Dedicated Plan) was not available for a long time period (> 15 minutes).
Function was running on 0 worker instance for more than 550 minutes between 3/28/2022 9:55:00 AM and 3/28/2022 7:10:00 PM.
**Possible cause** :
Function App was offline due to prev

[2022-04-05 12:24] v-bbalaiagar commented on #8198
Hi @PandaBoy00 , I went through the logs. We detected that the Function App runtime encountered the below exceptions:
System.InvalidOperationException : Error while assigning execute permission.
Path doesn't exist!
The Application Insights extension is no longer supported : The Application Insights extension is no longer supported. Package references to Microsoft.Azure.WebJobs.Extensions.Applicati

[2022-04-05 12:28] pzaj2 commented on #7452
Any updates on this? This is a major blocker for many people depending on working structured logging 👀

[2022-04-05 16:00] #8134 closed, assigned to surgupta-msft, Ved2806

[2022-04-05 19:30] mlowijs commented on #8241
Any progress on this issue?

[2022-04-05 21:50] surgupta-msft commented on #8275
On investigation, found out that all logs in GRPCWorkerChannel.cs are filtered by the code below and it is not related to worker indexing changes.

https://github.com/Azure/azure-functions-host/blob/08d54df91cc0c2846d81d78e35d09c339272e58d/src/WebJobs.Script/Workers/Rpc/RpcWorkerProcessFactory.cs#L43

https://github.com/Azure/azure-functions-host/blob/08d54df91cc0c2846d81d78e35d09c339272e58d/src/W

[2022-04-05 21:50] #8275 closed, assigned to surgupta-msft

[2022-04-06 00:39] John-Bosch commented on #8269
Thanks for the feedback @v-bbalaiagar.

The "Always On" I had noted and am in the process of fixing in our deployment scripts. These functions have recently come off of a consumption plan so couldn't have always on in the past. Are you saying then that the soft restart will only succeed in re-reading the application config if the function is actually running? We have a few functions that we shutdo

[2022-04-06 21:58] John-Bosch commented on #8269
I thought about this more overnight and did some more investigating this morning. The :Always On" flag is enable on all of our Azure Functions, and has been for a few months now so I can discount that being an issue.

I am now mostly focusing on the fa-d365-api-poll function as that is the one giving me the most grief. This function is shut down over night by a scheduled logic app via the Azure ma

[2022-04-07 12:40] uch-energinet commented on #3125
Has this ever been solved.
I'm having issues sending bytes data to a Service Bus using the Python library.
A simple function example here, where I am triggering on a service bus message, and also outputting one.
[code]
On the receiving message bus, it shows up as a string with the content "System.byte[]" and not the actual bytes data

[2022-04-07 12:42] StefanosBekiaris commented on #6239
Any updates on this? Currently setting the `AZURE_FUNCTIONS_ENVIRONMENT` always returns Development

[2022-04-07 15:53] stewartbright commented on #3898
I just ran into this while re-deploying a Function app after a period of time. In the previous deployment, my application roles were presented in JWT claims as  "http://schemas.microsoft.com/ws/2008/06/identity/claims/role", and IPrincipal.IsInRole worked as expected. After trying to redeploy with literally no code changes, it wasn't working any more because application roles now present as schema

[2022-04-07 17:08] safihamid opened #8285 "Read content of all loaded modules in Functions process during placeholder mode for cold start improvement on higher percentiles"
Based on Cold Start Profiles, This will improve cold start on higher percentiles.
We want to read all those dlls in 4K bytes and access one byte every 4K so they are actually read from disk and loaded in OS cache.
We do not actually want to load actual assemblies into the process just to read the content of files.

Best if this is done as part of /warmup call that DWAS does into the Functions Host

[2022-04-07 17:14] safihamid commented on #5336
This is already done.

[2022-04-07 17:14] #5336 closed

[2022-04-07 17:15] safihamid commented on #4248
Closing as it is duplicate of https://github.com/Azure/azure-functions-host/issues/7489

[2022-04-07 17:15] #4248 closed

[2022-04-07 21:19] mattchenderson opened #8286 "Serialization of OData annotations where appropriate"
#### What problem would the feature you're requesting solve? Please describe.
There are situations where out-of-process workers may lose information due to a lack of OData information which the .NET SDK is processing. When we go to serialize that out, we lose this information. An example would be in Tables where you can lose precision for integers due to JS having a different max int, among other

[2022-04-07 21:36] pragnagopa commented on #8285
@fabiocav / @brettsam  - planning to work on this for the next host sprint. Do let us know if you have any concerns

[2022-04-07 21:37] pragnagopa commented on #8285
cc @kshyju as FYI

[2022-04-08 07:33] changeforan opened #8291 "No auth required for Admin API for local calls?"
https://github.com/Azure/azure-functions-host/blob/3b9449e5870ba98ad4b08f4cde18f22bb631d2f9/src/WebJobs.Script.WebHost/Controllers/HostController.cs#L325

Hi, I tried to restart my Azure Functions via this Admin API: `admin/host/restart` and I found that if I call it from local - use a postman - it works with no authentication.
![image](https://user-images.githubusercontent.com/7800290/162385672-0

[2022-04-08 12:11] xyzpda commented on #5854
I also want you to solve this problem.

[2022-04-09 13:00] ghost commented on #8198
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-09 13:00] ghost commented on #8157
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-09 13:01] qsdfplkj commented on #8157
Not stale

[2022-04-09 13:02] qsdfplkj commented on #8157
? Does this bot work correctly?

[2022-04-10 22:01] ghost commented on #8269
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-11 10:34] JackInSightsV4 opened #8294 "Azure Function Idles Out on F1 Consumption Plan but Does NOT start again until I load the page in Azure Portal"
[](https://stackoverflow.com/posts/71825678/timeline)0

I have an Azure Function running on a free consumption App Service Plan. It uses a CRON timer that triggers every 5 minutes (0 */5 * * * *).

To confirm this is on a consumption plan (F1: Free).

It is a very simple function that updates my NSG with my Dynamic IP address.

Code wise it executes perfectly every 5 minutes. (I do plan to update

[2022-04-11 11:04] Sfonxs opened #8295 "EventHub binding causes log spam even while no events are received at all"
#### Is your question related to a specific version? If so, please specify:
Using .NET6 on runtime function runtime 4.X

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
All

#### Question

Setup:
- A function app with some HttpTriggers and a EventHubTrigger.
- The default log levels in the hosts.json is configured to Information.
- Application insights is enabled w

[2022-04-11 15:08] Ved2806 commented on #8274
Hi @petro2050, Are you still able to reproduce this issue? We checked in the link given by you mentioning that you are not able to repro this anymore.

[2022-04-11 17:55] balag0 commented on #8294
Please see https://stackoverflow.com/a/39431332
Basically, this scenario needs "Always on" and that is not supported on free plan.

[2022-04-12 02:58] Cheng811 opened #8296 "The role assignment required for queue trigger function is not specified in "Connecting to host storage with an identity""
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

#### Question
Recently I am trying to ulilize the new feature of "Connecting to host storage with an identity". My function is a queue triggered function. I notice that other than the default role required by the extention, it is specified t

[2022-04-12 13:00] #8198 closed, assigned to nobody

[2022-04-12 13:14] Ved2806 commented on #8270
Hi @SqlBenjamin Using BeginScope is the recommended way of logging. I found few different methods for logging [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.loggerextensions?view=dotnet-plat-ext-6.0). You may try them and please let us know if they are helpful

[2022-04-12 13:15] Ved2806 commented on #8291
Hi @changeforan Thank you for the feedback, we will discuss this internally and let you know about the findings.

[2022-04-12 13:16] v-bbalaiagar commented on #8295
Hi @Sfonxs ,  Thank you for your feedback! Please go through the documents below to filter logs by source in host.json
https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#logging
https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#configure-log-levels

Related Information:
[Azure/azure-functions-host/issues/4474](https://github.com/Azure/azure

[2022-04-12 13:21] Ved2806 commented on #8296
Hi @pragnagopa Could you please redirect to the correct person?

[2022-04-12 13:26] Ved2806 commented on #8291
Hi @mathewc @brettsam Could you please look into this issue? Thanks.

[2022-04-12 13:34] v-bbalaiagar commented on #8227
Apologies for the delay in response. This issue was somehow missed, we will be further investigating this issue and update the progress.

[2022-04-12 13:52] flatproject commented on #8227
Thanks @v-bbalaiagar

[2022-04-12 13:53] v-bbalaiagar commented on #8123
Closing this issue as this is already being tracked and updates will be given there - https://github.com/Azure/Azure-Functions/issues/2118

[2022-04-12 13:53] #8123 closed, assigned to nobody

[2022-04-12 19:28] Toniotti commented on #2721
Anything new on this problem? I'am having the same problem as @flaviusdemian.
I have Java applications consuming and sending to queues in Service Bus using JMS. (I know it's not directly related with azure functions but i can't find anything else related to the problem)

This is a print from the dev environment, without any messsages it's getting huge amounts of requests (2.5M in 3 hours)
![image]

[2022-04-12 19:32] Toniotti commented on #2721
Is there anything new on this problem?

I'am having the same problem as @flaviusdemian. I have some Java applications connect do Service Bus using JMS (spring).
(I know it's not directly related with azure functions but i can't find anything else related to this problem)

This is a print of the amount of requests i'am getting. This is an dev environment, without any messages it got 2.5M requests i

[2022-04-13 01:36] SqlBenjamin commented on #8270
That's what I was looking at to come up with the "BeginScope" method to log custom properties. But it seems like there should be a better/easier way to do that. Let me ping you internally to explain; I know a different workstream that may resolve this issue but I'm not positive.

[2022-04-13 13:09] MartinWickman commented on #6511
@brettsam A thrown exception is very well handled by app insights and gives lots of nice information for debugging and investigation.

But the issue, just to clarify, is that a thrown exception **always**  generates a 500. Now let's say you want to *return* 502 to the client, but you *also* want app insight to register it in the same way as an ordinary exception.

No way to do that as far as I kno

[2022-04-13 14:34] lommez commented on #6587
Hi @fabiocav,
Do you have any updates on this issue?

[2022-04-13 16:14] mathewc commented on #8291
For ease of local testing, auth is not required when running locally. This is by design and mentioned in the documentation [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#start):

_"When running locally, authorization isn't enforced for HTTP endpoints. This means that all local HTTP requests are handled as authLevel = "an

[2022-04-13 20:20] fabiocav commented on #8285
@pragnagopa should this be moved? We're closing 119, should this be moved to 120?

Do you have a design for this? Feels questionable to have this implemented in the host when it scope is much narrower (as opposed to DWAS, for instance)

[2022-04-13 20:38] fabiocav commented on #4891
Assigning to 120 for validation/check if this is still required.

[2022-04-13 20:58] safihamid commented on #8285
@fabiocav we talked about it and we were thinking we should do it in the host itself or otherwise we needed different approach es for Windows(DWAS) and Linux, .... This change should improve cold start on higher percentiles for both Windows and Linux. we are already seeing the positive impact of similar work we did for Java .jar files.

[2022-04-14 07:54] changeforan commented on #8291
thanks, Mathew.

[2022-04-14 07:54] #8291 closed, assigned to madelinegordon, Ved2806

[2022-04-15 14:36] brettsam commented on #7873
The issue here is with the `ExceptionFormatter`.... the `HostDisposedException` populates its stack trace correctly, but when we format the exception for the logs, all of that gets lost. Investigating how we can avoid this.

https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/HostDisposedException.cs#L42

https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure

[2022-04-15 16:00] ghost commented on #8274
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-15 16:11] shreyabatra4 opened #8302 "Add 'programming model type' configuration setting to 'function.json'"
#### What problem would the feature you're requesting solve? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The Python Functions team is in the process of bringing the new programming model to public preview, and it will require support with the Azure portal. We had a chat with Portal folks to enable support for showing PyStein code o

[2022-04-15 16:42] #7874 closed, assigned to brettsam

[2022-04-16 16:01] ghost commented on #8295
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-16 16:01] ghost commented on #8294
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-16 16:01] ghost commented on #8269
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-17 04:00] ghost commented on #8270
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-18 15:09] Ved2806 commented on #8270
Hi @SqlBenjamin Currently we only support the dot net logging extension methods at this moment and beginScope is the only way to pass the custom properties. Thanks.

[2022-04-18 15:16] Ved2806 commented on #8178
Hi @Starlyvil,  the value of "AzureWebJobStorage" can not be empty, please provide a value to that. [Here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings) you can find the sample values for "AzureWebJobsStorage". Let us know if it helps. Thanks.

[2022-04-18 15:56] kshyju opened #8304 "Add support for logging without invocation id"
Currently, for out-of-process applications, logging happens only if the log message ([RpcLog instance](https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L496)) is associated with an invocation id. We have use cases like below where logging without an invocation id is a valid use case.

1. [Logging using an ILogger\<T\> instance does not work whe

[2022-04-18 19:00] #8274 closed, assigned to kshyju, Ved2806

[2022-04-18 21:17] safihamid opened #8308 "Make service resolutions during cold start specialization consistent between middleware approach and timer based approach"
We are seeing different number of service resolutions in cold start profiles and also up to 200 msec cold start latency difference depending on the specialization code path picked.

696 service resolutions when specialization is done using SpecializationTimer (every 500 msec)
![MicrosoftTeams-image](https://user-images.githubusercontent.com/1000764/163879288-2da48c0e-f908-44e1-b6e0-ef1ae407153b.pn

[2022-04-18 21:47] GlenColby opened #8310 "When a KubernetesSecretsRepository is implemented, anonymous functions will throw a 500 if the code querystring or x-functions-key header is present in the request"
When a KubernetesSecretsRepository is implemented, anonymous functions will throw a 500 if the query string parameter  "code" or  the header "x-functions-key" is present in the request.  This prevents anonymous and authenticated functions from working properly in the same function app inside of Kubernetes

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a function

[2022-04-18 23:13] pragnagopa commented on #8285
@fabiocav moving this to next sprint. Do let us know if you still have concerns on implementing this in host

[2022-04-19 10:20] blacelle commented on #8154
We can read at https://docs.microsoft.com/en-us/azure/azure-functions/python-scale-performance-reference#use-multiple-language-worker-processes :

Could one confirm this round-robin policy, over busy-or-not workers? If yes, it would explain this issue, which could be considered as a limitation of Azure Functions.

[2022-04-19 15:47] v-bbalaiagar commented on #8261
Hi @Archomeda , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-04-19 16:08] v-bbalaiagar commented on #8310
Hi @GlenColby , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-04-19 16:19] v-bbalaiagar commented on #8069
Hi @yang-er , Can we know if this is still persisting, we apologize for not following up frequently.

[2022-04-19 17:38] sjuarezgx commented on #8167
Hello
Could you return any feedback about this issue please?

Thanks
sjuarezgx

[2022-04-19 18:47] Starlyvil commented on #8178
Alright, this time, I have installed and started Azurite, with the value of **AzureWebJobStorage** set to **UseDevelopmentStorage=true** but the error still persist

local.settings.json (Updated)

![image](https://user-images.githubusercontent.com/31422222/164073918-c4a90d63-2b84-4e7a-bc1b-f9f69f471008.png)

Error Log

![image](https://user-images.githubusercontent.com/31422222/164074198-1aa10afc-

[2022-04-19 19:01] #8295 closed, assigned to brettsam, v-bbalaiagar

[2022-04-19 19:01] #8294 closed, assigned to soninaren

[2022-04-19 19:01] #8269 closed, assigned to kashimiz, v-bbalaiagar

[2022-04-20 06:25] kacperwojtyniak commented on #1864
I am also seeing this error, although I am using a single Storage Account for a Function App. The issue appears when scaling out to multiple instances. I have just one BlobTrigger function and two TimerTrigger functions. Is there a way to avoid this error or at least make it not log as an exception in App Insights?

[2022-04-20 07:19] Jason5Lee commented on #6608
I ran into this issue a while ago. I decided to just use `Information` and `Error` level by printing the log to either stdout or stderr. Then I realized that even simply printing to stderr, Azure Log Stream seems to be able to "infer" the log level, maybe from the log content.

<img width="512" alt="image" src="https://user-images.githubusercontent.com/25118271/164172610-928e14bf-392d-4260-8d90-ca

[2022-04-20 08:19] Jason5Lee commented on #6608
It seems that as long as the message contains `warn` (ignore capitalizing) it will be treated as a warning.

[2022-04-20 14:44] andersson09 opened #8312 "[Azure Function Isolated] Cosmos change feed listener tries to start before CreateContainerIfNotExistsAsync"
For isolated azure functions, I believe that the cosmos change feed tries to listen before containers have been created. How do you execute code before the runtime loads the function?

Thanks

**Setup:**

[code]

[code]

**Error message on local machine:**

The listener for function 'DoSomething' was unable to start. Microsoft.Azure.WebJobs.Extensions.CosmosDB: Either the source collection 'contai

[2022-04-20 18:34] mattchenderson opened #8311 "Host throws for .NET Isolated app if no payload deployed"
If no actual payload has been deployed to an app set up for the .NET isolated worker, the host will throw an error. This should not be considered an error state.

#### Repro steps

1. Create a .NET 6 app, functions v4
2. Update the `FUNCTIONS_WORKER_RUNTIME` application setting to "dotnet-isolated"

![image](https://user-images.githubusercontent.com/4621560/173710127-7265a186-afc9-4af3-81ee-525ddf

[2022-04-20 20:15] ealsur commented on #8312
Reference: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3150#issuecomment-1104414764

Extensions do not control the events that happen outside of the Extension scope. This repo just contains the Extensions (in this case the `CosmosDBTrigger`) and the Trigger will start when the Host tells it to start, but it has no idea when that is and what you are trying to do is outside of the Extensi

[2022-04-20 20:16] fabiocav commented on #7887
Adding this to the backlog, but this is a low priority item.

[2022-04-20 20:38] fabiocav commented on #8273
@pragnagopa do you have context on why we're not treating all console logging written to std error as error messages? I recall some workers logging everything that way. Was that really the case?

[2022-04-20 20:40] fabiocav commented on #8187
In addition, it would also be good to make sure we're logging the runtime information that was used to compare (the requested runtime)

[2022-04-20 20:44] pragnagopa commented on #8273
That's right - `Java` writes to stderr stream for all msgs.  Would be good to expose this option in worker.config as an option for the worker to pass if host can consider stderr stream as error level logs

[2022-04-20 20:44] fabiocav commented on #8154
@blacelle yes, the above is correct. The logic in place today will attempt to distribute the load evenly across the available workers for a host instance.

[2022-04-20 20:52] pragnagopa commented on #8273
I just realized - we did add the capability - https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Rpc/RpcWorkerDescription.cs#L82 - so worker should be able to specify if stderr stream should be considered as error logs only - @liliankasem / @fabiocav  - please give that a try

[2022-04-20 21:03] fabiocav commented on #8273
Ah, that's great! We'll validate and close this issue once we do. We'll work with the language worker owners to update this where appropriate.

[2022-04-20 21:04] andersson09 commented on #8312
@ealsur Do you mind transferring the issue since I don't think I have permissions.

[2022-04-20 22:10] stefanushinardi commented on #8220
@kshyju hello, is there any update on this?

[2022-04-21 04:11] subhabratamallick opened #8313 "Azure function automatically restarting during processing"
I have a python azure function which I am using to run a 1 hour long process.

Function type is HTTP and the main operation is happening in thread in the background.

I am observing that sometimes the function is automatically restating without any proper error message.

Also, I am not able to debug this from Kudu live log or diagnostic.

#### Investigative information

Please provide the followin

[2022-04-21 07:58] blacelle commented on #8154
Hence, do you confirm this should explain given behavior, and such delays are expected with given workload?

[2022-04-21 07:58] vengi83644 commented on #7103
Any updates on this?

[2022-04-21 21:10] fabiocav commented on #8220
@stefanushinardi this was assigned to @kshyju by the bot for initial triage, but work hasn't been assigned to a sprint yet.

I'm updating the sprint assignment for this so the work will be picked up in the next cycle. The dev assignment will happen when we meet for sprint planning.

[2022-04-22 09:49] PehrGit opened #8318 "Failure during indexing does not cause host/container to exit."
We're having a problem where a transient error occurs during the indexing of a function. This causes a "fail" to be logged:
[code]

However, the process does not exit and the pod (we're running in AKS) keeps running, though the function is not processing queue messages. I would expect that in the case of such a failure during startup, the container would exit and this would be a trigger for the or

[2022-04-22 16:01] ghost commented on #8270
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-22 19:47] swettstein commented on #8019
any update on this? we are experiencing the same thing but cannot use the workaround without assigning more permissions to access the storage queues (which we'd prefer to not do)

[2022-04-23 04:40] yang-er commented on #8069
Hi @v-bbalaiagar, it is still persisting on the following version:

[code]

[2022-04-24 10:48] andersson09 opened #8320 "Set azure storage queues polling log level to tracing"
I have `AzureFunctionsJobHost__logging__logLevel__default set to information` on my local machine. This works great apart from when I have a queue trigger function. It's clogging my terminal with logs on each poll. Can these be set to 'tracing' instead of 'information'?

Thanks

[2022-04-25 10:01] ghost commented on #8154
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-25 10:15] blacelle commented on #8154
This is unexpected behavior from myself. Is it expected behavior according to you? Thanks (Trying to prevent the bot closing this too eagerly).

[2022-04-25 15:09] tokleine opened #8321 "host "default" key deployment via ARM template fails when deployment slot is "Stopped""
I experienced this issue and stumbled upon this old issue that finally solved my problem. However, I wonder if this is an intended feature or if there is a technical reason for this (unintuitive) behavior.

See below issue:

Fun fact, when the Function App is stopped then the ARM deployment will throw a bad request.
[code]

_Originally posted by @DibranMulder in https://github.com/Azure/azure-func

[2022-04-25 15:24] v-bbalaiagar commented on #8310
Tagging @AnatoliB , for more inputs

[2022-04-25 15:40] RichardBurns1982 opened #8322 "Issue with dependency injection when implementation constructor has default parameter"
Any constructors with default parameters cannot be resolved by the IResolverContext.

We have an auto registry of dependencies, all works fine in API and one of the constructors for a service we have a default parameter which we only change when run from a console application.  The service should use the default in the API and Functions.  The service is resolved without issue in the Web API but in

[2022-04-25 16:31] kshyju commented on #8312
@andersson09 Thanks for the sample code. I can repro the issue. As you mentioned in the issue, the root cause for the problem is the extension listener starting before the language worker (dotnet isolated project) process starts. So, the listener gets the error the first time since the container does not exist.

As a workaround, you could consider moving the database/container creation step as par

[2022-04-25 16:36] kshyju commented on #8312
cc @pragnagopa @liliankasem @fabiocav

[2022-04-25 19:00] #8270 closed, assigned to liliankasem, Ved2806

[2022-04-25 21:08] BlakeB3 opened #8325 "Azure Function Timing out before max amount of time allowed for a timeout."
I have a blob storage trigger written in python. I'm receiving timeouts in my function before reaching the max amount of time allowed for my function to time out.

My functionTimeout parameter in my host.json file is set to

```"functionTimeout": "00:40:00"```

Though I'm seeing timeouts happen within seconds at times.

These timeouts seem to be happening when I'm inserting data into my Azure DB,

[2022-04-25 21:55] surgupta-msft commented on #2308
Moving forward with the implementation using WorkerTerminate grpc message.

Summary of the design discussion and investigation -

1. Using SIGTERM before SIGKILL -
         **Cons** -
                     - Will need different approaches for windows and linux.
                     - Cannot send any additional info/reason about worker termination.
         **Investigation details** -

[2022-04-25 22:46] liliankasem commented on #2308
Can we make sure we have a design doc for this in the [design/host](https://dev.azure.com/msazure/One/_git/AAPT-Antares-Docs?path=/TeamDocs/FunctionTeamDocs/Design/Host&version=GBmaster&line=1) folder, and, if we need to create more issues across worker repos to address this

[2022-04-25 22:50] surgupta-msft commented on #2308
Sounds good @liliankasem. Will add doc in the design folder and create more issues as needed.

[2022-04-26 11:19] v-bbalaiagar commented on #8313
Hi @subhabratamallick ,  I am unable to get the logs with the given invocation id. Could you share the app name using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately to check the cause.

[2022-04-26 12:16] tekking opened #8326 "Python function host restarts exactly 2 hours after boot (error: exceeded worker restart retry count)"
In the last week one of our Python-based Functions started restarting every 2 hours (specifically exactly 2 hours after it finishes restarting). This behavior occurs for this specific function on all of our hosting environments (dev/test/acc/prod). The only logging/errors we've been able to find around the restart mention the worker surpassing max restart retry count:

`Exceeded language worker re

[2022-04-26 13:37] v-bbalaiagar commented on #8318
Hi @PehrGit , I was trying to reach the App data yesterday and it says the App is disabled or deleted. Can you tell us if you are still facing the same issue.

[2022-04-26 13:57] v-bbalaiagar commented on #8320
Hi @andersson09 , Thank you for your feedback! Please take a look at this [article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#log-configuration-in-hostjson) on how to set log level for function.

[2022-04-26 13:59] v-bbalaiagar commented on #8321
Hi @tokleine , Thank you for your feedback!
Tagging @mathewc , for more inputs

[2022-04-26 14:04] v-bbalaiagar commented on #8322
Hi @RichardBurns1982 , Thank you for your feedback!
Hi @NickCraver / @brettsam , Could you please look into this issue.

[2022-04-26 14:13] v-bbalaiagar commented on #8325
Hi @BlakeB3 , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-04-26 14:14] v-bbalaiagar commented on #8326
Hi @tekking , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-04-26 14:30] andersson09 commented on #8320
@v-bbalaiagar I want to keep log level information for host because it works perfectly for every other case. If I change it to warning I will lose the logs that I need.

My proposal is to make queue polling logs trace level. Unless I can specifically set it? Afaik it's set at the host level.

**Edit:** Just found the category name  (Azure.Core and Azure.Core.1) which I can silence. Can close this.

[2022-04-26 15:06] v-bbalaiagar commented on #8019
Apologies for the delayed response.
Hi @pragnagopa , Can you check if this is something that can be fixed.

[2022-04-26 15:09] EnenDaveyBoy opened #8327 "cors origin doesn't seem to be supported when use redirects on local hosting"
When i debug, and I set the HttpStatus to redirect (302)  i get a cors error in the browser saying it needs the Access-Control-Allow-Origin headers, yet when i use HttpStatus OK (200) it works without issue (this is in a react spa and using fetch)

Visual Studio Code
Azure Functions Isolated .net5 V3 c#
local debugging (with localhost and local IP)

I also can't add the Access-Control-Allow-Origin

[2022-04-26 16:27] pragnagopa commented on #8019
Tagging @AnatoliB for triage

[2022-04-26 16:29] CallumCrowley commented on #7092
Can we have an update on this please?

[2022-04-26 18:15] fabiocav commented on #6925
Closing this as done/resolved.

[2022-04-26 20:21] BlakeB3 commented on #8325
@v-bbalaiagar New important information: I've found that the timeouts are happening every 40 minutes. Which is what my functionTimeout parameter is set to. The invocations are not running for that long however. It seems my Function App is just set on timing out every 40 minutes, interrupting any invocation that's running at the time.

My function app is also not running parallelly. I've set the ma

[2022-04-26 20:52] mathewc commented on #8321
Yes this is by design, though unintuitive I agree. Many of the Functions ARM APIs rely on calls that are proxied to the Function App itself, so the app must be running for those calls to succeed.

[2022-04-26 20:52] #8321 closed, assigned to nobody

[2022-04-26 21:33] pragnagopa commented on #8228
@divyagandhisethi - can you expand on why Host was writing time stamp until now?

cc @CooperLink

[2022-04-27 18:01] roend83 opened #8330 "DryIoc Exception After Upgrading to .NET 6 and V4"
I'm getting the following error after upgrading my .NET 5 V3 in-process function to a .NET 6 V4 in-process function:

Scope disposed{no name} is disposed and scoped instances are disposed and no longer available.

This happens when I register a singleton object that accepts an IServiceProvider as a dependency that when invoked tries to create an instance of a service registered as scoped. The firs

[2022-04-27 18:50] liliankasem commented on #8330
@brettsam is this related to this issue #7874? If so the fix made to address it (#8170) should be released in the next version of the host

[2022-04-27 19:21] roend83 commented on #8330
It sounds like the same issue.  I didn't find it because I was searching for the error message.

[2022-04-27 20:08] brettsam commented on #8285
@pragnagopa -- is this still being worked on? Should we bump to next sprint?

[2022-04-27 20:11] brettsam commented on #8220
@AnatoliB -- is this something that should be handled by someone on your team?

[2022-04-27 20:29] pragnagopa commented on #8285
Thanks for moving to next sprint. Will prioritize this work.

[2022-04-27 20:38] liliankasem opened #8333 "/resume call timesout as it's waiting for the /drain semaphore to release"
Calls to `/resume` a draining host can timeout if host is draining invocations as the `/drain` controller is still holding onto a semaphore

##### Expected

1. Implement function app that reads from an event hub and sleeps for 15 minutes
1. Call /drain
1. Call /resume after 5 mins
1. Function host should resume

##### Actual

The /resume called timeouts because it's waiting on the semaphore used b

[2022-04-28 00:27] AnatoliB commented on #8220
Not sure why. Is this about updating the templates?

[2022-04-28 00:35] John-Bosch commented on #8269
Thanks for closing this as stale, even though I had responded!

I have now tested this with a clean and very simple function and am still convinced that doing a restart action via the Azure Management API (both with and without the softRestart) no longer forces a re-reading of key vault values in configuration settings. Consumption versus App Service Plans with or without "Always On" doesn't seem

[2022-04-28 11:31] ThomasPe commented on #8269
The only reliable way I found to force an update from the Key Vault is by breaking the reference on purpose and the fixing it again.

[2022-04-28 12:09] PehrGit commented on #8318
Hi, the app is running in AKS, not in an App Service, that might be why you can't find it. As a solution, we've tried running the app in the dotnet-isolated runtime and it seems that in that runtime, the app does actually exit when initialization errors occur. As this also gives other advantages, we are probably going to go that route.

[2022-04-28 14:36] gdotkannan opened #8337 "Azure Premium plans for Functions on Linux in VNET, and managed identity"
#### Is your question related to a specific version? If so, please specify:

.NET, 6.0 , Azure functions v4

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question

**Context:**

1. The blob storage used for the function app is fully locked down with storage keys disabled.
2. All private end points are added.
3. The function app is on linux inside a VNET

[2022-04-28 16:47] gdotkannan commented on #8337
Here are my current settings on the function app:

![image](https://user-images.githubusercontent.com/102122051/165800941-baf4d82c-aab3-4866-a896-72f762ead4cf.png)

I have followed the run from package with URL

https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package#using-website_run_from_package--url

I have manually uploaded the package to the blob storage c

[2022-04-28 18:10] gdotkannan commented on #8337
I tried to WEBSITE_RUN_FROM_PACKAGE to 1 and deployed from VS code / cmd line options
I get "Service Unavailable" from .scm.azurewebsites.net .

[2022-04-28 20:58] #7873 closed, assigned to brettsam

[2022-04-29 10:53] przemos commented on #2597
Hi, any progress or steer on it ? It looks like this has been abandoned and left without any forecast on the intention

[2022-04-29 12:15] gunzip opened #8344 "Function level retries and instance restart"
#### Is your question related to a specific version? If so, please specify:

v3

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

Any language.

#### Question

For any function, we can put up a retry policy (thank you!).

I'm wondering if the timers are retained in memory or persisted in some way.

In other words: will the information about the scheduled retries be

[2022-04-29 13:00] ghost commented on #8154
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-29 21:21] mathewc opened #8347 "Rework timeout handling for worker function load requests"
Callers of [SendFunctionLoadRequests](https://github.com/Azure/azure-functions-host/blob/bb7e0df58189e3abac9851c67770f27d0c3fd581/src/WebJobs.Script.Grpc/Channel/GrpcWorkerChannel.cs#L286) are currently sending the value of [FunctionTimeout](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout) which ends up getting used for the event subscription timeout of w

[2022-04-29 22:18] pragnagopa commented on #8347
we have observed functions load taking minutes if the app has many dependencies such as npm
Packages

[2022-04-29 22:19] pragnagopa commented on #8347
I agree relying on user defined value is not the right approach - leaving default as 10mins is a safe choice

[2022-04-29 23:01] pgombar opened #8349 "Increase in "Microsoft.AspNetCore.Connections.ConnectionAbortedException" exceptions due to RpcWorkerChannel disposal"
#### Investigative information

- Timestamp: started observing increase since 4/27
- Function App version: increases seen in 3.6.1 and 4.3.1

Full stack of the exception:
[code]

From the internal release dashboard, we can see that the exception rate jumped from 149 exceptions in 13 apps for 3.5.2 to 3596 exceptions in 597 apps for 3.6.1. The same trend is observed for 4.3.1 vs previous V4. Screen

[2022-04-30 03:22] david-eagles commented on #7878
Same issue here - .net6, functions runtime v4.  Any version above 6.10.2 fails to load.  Given the upcoming EOL for .Net Core driving migrations to .Net 6, and the ever present need to remain up to date with security fixes in any app, being unable to keep a security-focused library up to date without workarounds while migrating to .Net6 is very frustrating.

[2022-04-30 05:22] xlight05 opened #8351 "Name restrictions for name properties for bindings in function.json"
So i have this requirement to put a reserved key for the name field in the binding.  Please note value __payload below. While Deploying it does not give any error but when I execute the function its not getting called and it returns 404 error to the caller.  However when i change this __payload to any text, function executes as expected.

What I want to know is, is there any restrictions for this

[2022-04-30 06:23] xlight05 opened #8352 "[Custom Handlers] Returns invalid characters as http response"
So I've been implementing a azure functions implementation in ballerina lang and I came across this issue where the function handler sets the ReturnValue to a valid string and yet the response I get for the client is set of invalid characters.  (�e������). In this handler, I take the incoming path params via RemainingPath wild card and construct the response.

Weirdly, I have wrote a code that si

[2022-04-30 16:29] andersson09 commented on #8114
Just ran into the same issue.

[2022-05-02 15:49] andersson09 commented on #8312
I feel release processes are already complicated enough and would rather have this in code if its possible. Also makes creating databases much easier on local machine.

Thanks this would be great. Is there a rough ETA?

[2022-05-02 16:00] #8154 closed, assigned to satvu, v-bbalaiagar

[2022-05-02 20:37] thsbrown commented on #6490
Just curious if there has been any progress on this.

Thanks in advance!

[2022-05-02 20:57] Tyler-V commented on #5841
Bumping this, how can we effectively set the global settings of the included Newtonsoft dependency of Azure functions to avoid "Self referencing loop detected for property", adding [JsonIgnore] to properties is not a durable solution

[2022-05-03 05:34] AlphaWong commented on #2015
I think the issue still exist at the v4 SDK
https://github.com/Azure/azure-functions-host/wiki/Host-IDs#host-id-collisions

[2022-05-03 09:33] tekking commented on #8326
Hi @v-bbalaiagar, do you know if there's any updates on the issue? We're currently still seeing the issue on our function instances. As mentioned we do have a workaround by setting the 'FUNCTIONS_WORKER_PROCESS_COUNT' to 1, but this reduces our performance by ~30% for our case

[2022-05-03 11:45] keaaa commented on #8325
I can report the same issue, but not with the same settings. Have opened an Azure support ticket as well as this is causing issues with our production system

Settings:
- running in premium linux (elastic) plan
- "linuxFxVersion": "DOTNET-ISOLATED|6.0"
- "netFrameworkVersion": "v4.0",
- FUNCTIONS_EXTENSION_VERSION=~4

I think the issue happened when the function runtime went from version 4.1.3.3 t

[2022-05-03 12:36] v-bbalaiagar commented on #8330
Closing this issue as its tracked in the above mentioned issue. Please feel free to reach back to us in case of any further queries related to this issue.

[2022-05-03 12:36] #8330 closed, assigned to liliankasem

[2022-05-03 12:39] v-bbalaiagar commented on #8326
Tagging @pragnagopa / @vrdmr , for more inputs

[2022-05-03 12:43] v-bbalaiagar commented on #8325
Hi @soninaren , Could you please look into this issue.

[2022-05-03 12:59] SanderDeclerck commented on #8189
@anirudhgarg Thanks for the update. Is there any issue I can follow to track the status of WEBSITE_RUN_FROM_PACKAGE=1 for Linux Consumption Apps?

Perhaps this issue can be linked to the WEBSITE_RUN_FROM_PACKAGE=1 so it can be closed.

[2022-05-03 14:25] mdddev commented on #7094
I am having the same problem, I cannot create a deployment slot off the main app if the app settings is using a key vault reference. I already tried 'allowing trusted Microsoft services' (ARM included) to bypass network restrictions and to enable the key vault for ARM deployments.

Maybe, using bicep, there is a way to execute an "update-setting-with-key-vault-ref" command immediately after deploy

[2022-05-03 14:35] martin-hauge opened #8355 "Event Hub Trigger using managed identity fails to trigger"
We have a Function set to run on an Event Hub trigger, using the Function App's managed identity for connecting. Occasionally the trigger seems to fail, and the function does not run until we interact with it in the portal (refreshing the function page or viewing the log stream) at which point it resumes running. Logs do not show any exceptions or other indications.

#### Investigative information

[2022-05-03 17:52] davidmrdavid commented on #2015
I was under the impression this was actually resolved in V4. Can @fabiocav or @mathewc confirm? It may help to close this thread, to communicate this behavior has been established, if that's the case.

[2022-05-03 19:09] runtimeware commented on #8167
Also having the same issue (we're also v4, dotnet-isolated).  We've found that we'll get random 500's thrown by function all complaining about the same problem (this is on a Premium Sku fwiw) - our package references look like this:

"Microsoft.Azure.Functions.Worker.Extensions.Http" Version="3.0.13"
"Microsoft.Azure.Functions.Worker.Sdk" Version="1.3.0"
"Microsoft.Azure.Functions.Worker" Version=

[2022-05-03 19:57] mathewc commented on #2015
@AlphaWong is correct - the restriction still exists, however in v4 we added detection and prevent the host from starting up in this state as described [here](https://github.com/Azure/azure-functions-host/wiki/Host-IDs#host-id-collisions).

[2022-05-03 20:19] #8333 closed, assigned to liliankasem

[2022-05-04 08:02] timmkrause commented on #7452
@pzaj2 I gave up on this. Hope it will be fixed in .NET 7.

[2022-05-04 14:11] tommck commented on #7452
I'm thinking .NET 8 at the earliest

[2022-05-04 15:06] v-bbalaiagar commented on #8352
Hi @xlight05 , Thank you for your feedback! We will investigate this further and update you with the findings.

[2022-05-04 15:11] v-bbalaiagar commented on #8351
Hi @xlight05 , Thank you for your feedback! Here is the document on binding expressions - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns
Please check and let us know if this helps.

[2022-05-04 15:16] v-bbalaiagar commented on #8344
Hi @gunzip , Thank you for your feedback! Here is the document on azure Functions error handling and retries - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp

Please check and let us know if this helps

[2022-05-04 15:18] v-bbalaiagar commented on #8337
Hi @pragnagopa / @fabiocav , Could you please look into this issue

[2022-05-04 15:21] v-bbalaiagar commented on #8318
Hi @PehrGit , Please let us know if this can be closed or you have further queries.

[2022-05-04 15:25] gdotkannan commented on #8337
Update:

I later found out that managed identity is not supported for premium function hosting storage. Apparently you do need WEBSITE_CONTENTAZUREFILECONNECTIONSTRING ( and enable access keys for that storage ). Unless that has changed you can go ahead and close this issue.

[2022-05-04 15:46] pragnagopa commented on #8349
Tagging @fabiocav / @liliankasem for triage

[2022-05-04 16:48] pragnagopa commented on #8337
Thanks for the confirmation. Yes, Elastic Premium plans do have support VNET.

[2022-05-04 16:48] #8337 closed, assigned to surgupta-msft, v-bbalaiagar

[2022-05-04 20:14] liliankasem commented on #8114
Was able to repro; I'll follow up with the team on next steps and provide an update

[2022-05-04 20:28] brettsam opened #8360 "Create test tooling for local validation of specialization"
We need a way to quickly validate specialization logic for both Windows and Linux locally during development. This needs some design work, but we could:
- have a separate console app just for our "test tooling" that could launch the host in standby mode
- you'd specify a path to an app locally
- have some secondary command that sets the appropriate settings to put the app into standby mode

Window

[2022-05-04 20:37] fabiocav commented on #8114
Duplicate of #7452

[2022-05-04 20:37] #8114 closed, assigned to nobody

[2022-05-04 21:07] liliankasem commented on #8349
We think the worker we're doing for graceful shutdown will help address this.

- https://github.com/Azure/azure-functions-host/issues/2308

@brettsam made some changes to the disposal path and will validate if this was the cause for increased exceptions.

[2022-05-04 21:54] kshyju commented on #8312
@andersson09 Update on this. Discussed this with the team. We do not have any current plans to support this from the dotnet-worker or host. This could be an enhancement request which the [cosmos extension](https://github.com/Azure/azure-webjobs-sdk-extensions/tree/dev/src/WebJobs.Extensions.CosmosDB) team could consider adding to the extension (similar to the creation of the lease collection conta

[2022-05-05 06:00] MrMeterPing opened #8364 "Issue with azure cli command 'az functionapp create' - App Keys not generated"
Im comming from here [Azure/Azure-Functions#2221](Azure/Azure-Functions#2221)

Do I miss something how to create a function using azure cli? How can I add a key to my function?

Steps to reproduce:

Last command returns: Operation returned an invalid status 'Bad Request'

az rest command returns:

Also in the Azure Portal the App Key are not shown and cannot be set:
![image](https://user-images.gi

[2022-05-05 12:02] gunzip commented on #8344
Yes!

[2022-05-05 12:02] #8344 closed, assigned to madelinegordon, v-bbalaiagar

[2022-05-05 12:27] ijagberg commented on #4296
I would also like to see something like what JustinGrote [mentions](https://github.com/Azure/azure-functions-host/issues/4296#issuecomment-1086185108). It seems pretty pointless to just replace RpcException with InvocationException if you still have to do a bunch of custom query stuff to see what the actual exception being logged is.

I have code like the following:

[code]

And all of these show

[2022-05-05 20:34] liliankasem commented on #4296
We already have plans to address the concerns that Justin has mentioned, this is a two part feature.

For the first part, we are redesigning how we log exceptions that come from user code in the host. The new approach will log the exception type and clean up the call stack so it will no long show up as an RpcException in the first place. The type will be the original exception type.

The second pa

[2022-05-05 21:45] #6925 closed, assigned to fabiocav

[2022-05-05 22:42] surgupta-msft opened #8366 "Testing for timeout exceptions"
We need a mechanism to test timeout exceptions during development time. This is important when we are doing changes related to timeouts, we don't realize if that piece of code will throw any error after timeout is reached (10 minutes or so). In some cases, these timeouts are around 10 minutes which means we need to wait for 10 minutes to see such errors happening. An approach could be to allow err

[2022-05-05 23:31] asipras opened #8377 "Orchestrator aborts due to HostDisposedException."
### Internal error occurs when running orchestrator.

` 6a2f066d-a563-469c-880c-08da2d62f463: Function 'CalculateOrchestrator (Orchestrator)' was aborted. Reason: An internal error occurred while attempting to execute this function. The execution will be aborted and retried. Details: Microsoft.Azure.WebJobs.Script.HostDisposedException: The host is disposed and cannot be used. Disposed object: 'Mi

[2022-05-05 23:48] cgillum commented on #8377
When this exception is encountered, does your orchestration transition into a Failed state or does it automatically recover? The design of our trigger is that we should be able to handle these types of "host shutting down" exceptions and automatically re-run the orchestration on a new host.  I'm wondering if that's happening in your case.

[2022-05-06 01:20] asipras commented on #8377
@cgillum Thanks for your quick response.

When this exception occurs there is delay after which the orchestration continues and fails again. This is a cycle which in some cases last for a day. This calculation should take few minutes maximum. The delay between the failures keeps on increasing.

I am attaching log for instance 6a2f066d-a563-469c-880c-08da2d62f463, There are numerous failure spread

[2022-05-06 07:33] dozer75 opened #8367 "Creating Azure Function resource for isolated model does not work"
There is no way to create a valid Azure Function resource for isolated model.

I have tried a lot of variations using both Azure CLI (using the description [here](https://github.com/Azure/azure-functions-dotnet-worker#create-the-azure-resources)), Bicep (not any direct documentation anywhere, but tried using Visual Studio Code template + various posts like [here](https://markheath.net/post/azure-f

[2022-05-06 07:52] PehrGit commented on #8318
@v-bbalaiagar We've found a more kubernetes-native way to prevent the errors that were occurring so for now the problem is not occurring for us. So I will close this issue, thank you for your assistance!

[2022-05-06 07:52] #8318 closed, assigned to nobody

[2022-05-06 09:38] xlight05 commented on #8352
Also note, I only seem to get this when I use $return. When i use outputs field, it seem to work.

[2022-05-06 09:59] bartlannoeye commented on #912
@jaltin I hope this get picked up some day indeed. I've been bugging support for over a month now to achieve your Function_C case for .NET (on event grid binding). Every other language has FUNCTIONS_WORKER_PROCESS_COUNT to work with.

[2022-05-06 10:35] v-bbalaiagar commented on #8364
Hi @MrMeterPing , I was able to successfully create the function app and plan with your code, and obtain the keys, with only a few minor changes made.

Could you verify your permissions perhaps, and use the MS Docs for further command argument references?

[az function app create](https://docs.microsoft.com/en-us/cli/azure/functionapp?view=azure-cli-latest#az-functionapp-create)

[az appservice pl

[2022-05-06 14:02] MrMeterPing commented on #8364
Thank you for your support @v-bbalaiagar.

 I managed to create the function with keys.

Nevertheless I get the following error it works:
--subnet argument is a resource ID. Ignoring --vnet argument.

Further it takes some time the app keys are listed in azure. Refresh button helps here....

For other readers here is the complete create script:

[2022-05-06 14:02] #8364 closed, assigned to nobody

[2022-05-06 14:49] asipras commented on #8377
@cgillum  From the logs it seems the message is getting retried on the same machine MachineName":"RD281878DE6C20" and getting executed by same process "ProcessId":"4168".

The message is **NOT** getting rescheduled to another healthy host. I am attaching the exception logs for the instance 6a2f066d-a563-469c-880c-08da2d62f463

[Exceptions for message 6a2f066d-a563-469c-880c-08da2d62f463.csv](https

[2022-05-06 15:38] erman-afacan-deltatre commented on #8223
We have the same issue. .net 6 isolated process. Locally all is working like a clock however when we release to Azure (consumption plan) the Trigger is failing to receive the message and in the logs, we see the same error.

Interestingly I have another function again it has a service bus trigger it works absolutely fine. The difference is the one failing has an output binding to a queue in the sam

[2022-05-06 21:16] dozer75 commented on #8367
Just an update, after trying and failing A LOT today, I did discover that it works from time to time by following the steps below, but I do not have any good explanation when and why it does that. My guesses is that during the day I tried it about 50 times and 2 times it just worked.

The steps I tried was:
1. I replaced the azureFunction deployment to the following (switched to .NET 6 and Functio

[2022-05-06 21:19] dozer75 commented on #8367
After I wrote my last comment I tried to switch between `dotnet` and `dotnet-isolated` in `FUNCTIONS_WORKER_RUNTIME` in Settings -> Configuration on my Function App in Azure Portal, and suddenly it works (`linuxFxVersion` is set to `DOTNET-ISOLATED|6.0`)  after a few times switching back and forth!

This is really strange and I cannot find any good reason for this.

[2022-05-07 09:36] fxgendrin-sesimagotagcom opened #8369 "Breaking change in GSon dependencies with version 3.7.1"
With 3.7.1 azure-functions-host, you updated Java Worker Version to [1.11.0](https://github.com/Azure/azure-functions-java-worker/releases/tag/1.11.0)
In 1.11.0, gson version is changed to 2.9.0
In that version (com.google.gson.internal.ConstructorConstructor)
`public ConstructorConstructor(Map<Type, InstanceCreator<?>> instanceCreators) `
Is changed to
`public ConstructorConstructor(Map<Type, Ins

[2022-05-07 20:58] r12f commented on #3804
I am using 5.0.1, and also hitting this issue.

[2022-05-08 16:01] ghost commented on #8351
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-05-09 09:48] framewerks commented on #1864
Same for me, we discovered after our log analytics costs increased (!). Like @bpflugrad I found I had slots sharing the same storage account, but even after fixing this the issue remains.

[2022-05-09 11:00] QiangL commented on #7103
any update? also face same issue

[2022-05-09 12:27] Ved2806 commented on #8369
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-05-09 12:31] Ved2806 commented on #8355
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-05-09 15:09] Ved2806 commented on #8369
Hi @kaibocai @amamounelsayed Could you please help with this issue?

[2022-05-09 17:58] kaibocai commented on #8369
Hi @fxgendrin-sesimagotagcom thanks for reaching out. I am wondering why would you use a class in the internal package?
This is gson 1.7.2 doc about it's internal package https://javadoc.io/doc/com.google.code.gson/gson/1.7.2/com/google/gson/internal/package-summary.html
for version latter, gson even stop provide java doc for internal packages.

[2022-05-09 17:59] asipras commented on #8377
@cgillum any workarounds/troubleshooting guidelines for this issue?

[2022-05-09 18:51] BlakeB3 commented on #8325
Running my function today and no longer seeing timeouts happen every 40 minutes. @keaaa Are you still seeing issues, or has this possibly been fixed?

[2022-05-09 19:53] shreyas-gopalakrishna commented on #8369
Hello @fxgendrin-sesimagotagcom, Thank you for reaching out.

As @kaibocai mentioned it is not recommended to use internal packages. That code is restricted to be only used by gson.
To help you mitigate this issue we suggest pinning back to an older version of the host.
[Pinning to a specific minor version](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=in-process%2

[2022-05-09 20:01] kaibocai commented on #8369
Hi @fxgendrin-sesimagotagcom thanks for reaching out, I am wondering why would you use a class in the internal package?
This is gson 1.7.2 doc about it's internal package https://javadoc.io/doc/com.google.code.gson/gson/1.7.2/com/google/gson/internal/package-summary.html
for version latter, gson even stop provide java doc for internal packages.

[2022-05-10 07:05] fxgendrin-sesimagotagcom commented on #8369
Hi
Yes, it is Gson internal class, so we have not to use it.
Thanks, we will change our implementation for it.

Side question: where is available a "public" calendar about internal update for functionapp?

[2022-05-10 07:20] tekking commented on #8326
@v-bbalaiagar, it seems the issue has been fixed for our functions. Starting 5/5 ~17:00 UTC, we're not seeing any more restarts of the functions on all of our environments.

It also seems the function hosts all pulled a new docker image on their last restart before the issue got fixed (Digest: sha256:cff43c7933d2c9cbb125bce01a22a9070b7ac3a54820612ac48515b4020d9c62), so possible an update got relea

[2022-05-10 10:41] Ved2806 commented on #8296
Hi @Cheng811 I found something [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-identity-based-connections-tutorial) having information about the role assignments. Please let us know if it is useful. Thanks.

[2022-05-10 11:05] Ved2806 commented on #8327
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-05-10 12:37] EnenDaveyBoy commented on #8327
thanks i think i have it sorted the original problem and it was a subseqent request causing the issue, however i do intend on building my own cors service for production and need to know if this is possible, becuase i definatly can't add cors headers in the response at this time

[2022-05-10 13:33] lipalath-ms commented on #2412
Any update on this?

[2022-05-10 14:38] Ved2806 commented on #8235
Hi @Hjortsberg Does this problem still exists?

[2022-05-10 14:43] Ved2806 commented on #8122
Hi @jenspettersson Does this issue still exists? if yes, Could you please provide the information asked?

[2022-05-10 15:03] muzzar78 commented on #7878
Sounds like there is a fix on the way being tracked in issue https://github.com/AzureAD/microsoft-identity-web/issues/1548

[2022-05-10 15:10] lipalath-ms commented on #2412
I use a durable function. Should I add [Disable("IS_DISABLED")] for all the functions?

[2022-05-10 17:01] shreyas-gopalakrishna commented on #8369
Hi @fxgendrin-sesimagotagcom
Please find the following versions to pin back to
Windows: 3.5.2
Linux dedicated: 3.6.0
Linux Consumption: 3.6.1

You can find updates about the host and java worker in the Github issues/ announcements
[Announcement](https://github.com/Azure/app-service-announcements/issues)
[Java worker](https://github.com/Azure/azure-functions-java-worker/issues)
[Java worker wiki](h

[2022-05-10 19:55] michaelpeng36 commented on #7864
As an FYI, it looks like this is occurring for Linux Dedicated as well, i.e. key-value pairs in the object under `"properties"`  are quoted using single quotes.

[2022-05-10 20:30] brettsam commented on #8302
@gavin-aguiar / @fabiocav / @brettsam have some context here

[2022-05-10 22:10] SeanFeldman commented on #8442
@shreyabatra4, did you close this accidentally?

[2022-05-10 23:04] #7591 closed, assigned to soninaren

[2022-05-10 23:56] cgillum commented on #8377
This doesn't appear to be an issue with Durable Functions. Rather, it appears to be some kind of issue with the Functions runtime. It looks like your function executions are somehow failing because of this exception, but I don't see any reason why the host would be shutting down (the logs don't indicate that the host is shutting down, and as you mentioned, the process ID isn't changing).

This doe

[2022-05-11 01:00] asipras commented on #8377
@cgillum we have the same durable function with same runtime ~4 running on two other environments and they are running fine.
Today, for this function app we deleted the instance table, service history table and deleted all the queues.  After deleting we restarted the function app and it recreated those tables/queues. After doing this, the function has been running as expected without any issues. C

[2022-05-11 01:22] cgillum commented on #8377
This is consistent with my comment about a known bug with the Azure Functions runtime. The bug was deployed to several regions before the issue was discovered and the deployment was halted. I don't know if for sure it's related, but there's a chance. However, the buggy host version should have been rolled back by now (I hope so, anyways).

I don't expect clearing your storage would have any impact

[2022-05-11 06:20] hbensalem opened #8376 "AttributeError: module 'azure.functions._abc' has no attribute 'SqlRow' Stack"
One of our functions used to work fine for the last weeks and still works properly locally but on azure we get the following error. we tried redeploying our code on a completely new function and we still see the same issue:

Result: Failure Exception: AttributeError: module 'azure.functions._abc' has no attribute 'SqlRow' Stack: File "/azure-functions-host/workers/python/3.9/LINUX/X64/azure_functi

[2022-05-11 12:26] keaaa commented on #8325
@BlakeB3 got a message through my support ticket that this was fixed yesterday. In our case, it required a restart of the function app, before the fix was applied.

[2022-05-11 13:17] Maciejszuchta commented on #8376
Same issue here
`Result: Failure Exception: AttributeError: module 'azure.functions._abc' has no attribute 'SqlRow' Stack: File "/azure-functions-host/workers/python/3.9/LINUX/X64/azure_functions_worker/dispatcher.py", line 315, in _handle__function_load_request func = loader.load_function( File "/azure-functions-host/workers/python/3.9/LINUX/X64/azure_functions_worker/utils/wrappers.py", line 40,

[2022-05-11 15:20] asipras commented on #8377
@cgillum  instead of creating new issue for azure function host, can we transfer this issue to that team?

[2022-05-11 16:27] paoloripamonti commented on #8376
Same error, just downgrade the 'azure-functions' from 1.11.1 to 1.11.0 and it works.

`azure-functions==1.11.0`

[2022-05-11 17:26] Maciejszuchta commented on #8376
Where do you downgrade this setting?

[2022-05-11 19:00] #8351 closed, assigned to kashimiz, v-bbalaiagar

[2022-05-11 19:18] yoavrotems commented on #8376
Same error for me... 😢

Result: Failure Exception: AttributeError: module 'azure.functions._abc' has no attribute 'SqlRow' Stack: File "/azure-functions-host/workers/python/3.9/LINUX/X64/azure_functions_worker/dispatcher.py", line 315, in _handle__function_load_request func = loader.load_function( File "/azure-functions-host/workers/python/3.9/LINUX/X64/azure_functions_worker/utils/wrappers.py", l

[2022-05-11 20:10] liliankasem commented on #8376
It looks like there was a bug introduced with the SQL extension change being added. We are in the process of reverting this PR and creating a new python library release. Will send out an update when the release is done.

[2022-05-11 20:33] fabiocav commented on #8164
Discussion on this is in progress. Moving to 122 for completion.

[2022-05-11 20:40] fabiocav commented on #8055
Moving this to sprint 122 primarily to have some additional instrumentation added so we can better investigate future instances of this issue.

[2022-05-11 20:44] fabiocav commented on #4296
The task here changed as we looked at the details, but work is currently in progress and expected in sprint 122. Moving to reflect that.

[2022-05-11 20:47] fabiocav commented on #2308
There's a concrete design proposed and we're coordinating with language owners. Moving to sprint 122 for implementation.

[2022-05-11 20:47] mikeleuer commented on #8376
Same here

[2022-05-11 22:17] gavin-aguiar commented on #8376
The new release (1.11.2) is rolled out. To update to the new version please redeploy the function app.

[2022-05-12 06:51] hbensalem commented on #8376
So many hours lost for this. We always get weird issues with functions that are almost impossible to debug

[2022-05-12 07:53] Shyam268 opened #8380 "microsoft.azure.webjobs.script.extensionsmetadatagenerator\4.0.1\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(24,5): error MSB4018: The "RemoveRuntimeDependencies" task failed unexpectedly."
while Migrating from .net 3.1 to .net 6.0, getting
these errors
microsoft.azure.webjobs.script.extensionsmetadatagenerator\4.0.1\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(24,5): error MSB4018: The "RemoveRuntimeDependencies" task failed unexpectedly.

microsoft.azure.webjobs.script.extensionsmetadatagenerator\4.0.1\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetad

[2022-05-12 15:25] Shuvajyoti commented on #6622
@vsha041  We are facing similar exceptions(DryIoc.ContainerException) for our Azure function app (v4) even after we added the AzureFunctionsWebHost__hostId,
Can you share a little bit more about the DI issue and how you fixed it.

[2022-05-12 18:36] surgupta-msft commented on #7496
@fabiocav Does it make sense to close this Epic now as the tasks listed in the description are done?

[2022-05-12 18:58] alrod commented on #7524
already done

[2022-05-12 18:58] #7524 closed, assigned to alrod

[2022-05-12 19:02] surgupta-msft commented on #8221
@stefanushinardi Does the team have enough understanding of the feature you are asking for? If you have any document/write-up with more details then please share.

@fabiocav @soninaren If you are aware of the change requested here, let me know if this needs to be moved to backlog.

[2022-05-12 20:11] Tyler-V commented on #7996
Has this been addressed? I am currently observing this in an EP plan on runtime version 4.

What is even more odd is I can't adjust any of my scale out settings, this lead me down the rabbit hole that setting Runtime Scale Monitoring to On is a prerequisite for adjusting anything in scale out

![image](https://user-images.githubusercontent.com/3893234/168160067-02a73bd4-1eaf-4fff-b1a2-0a0b6ad2d931

[2022-05-12 20:49] #8285 closed, assigned to pragnagopa

[2022-05-12 21:16] safihamid opened #8381 "Risk Alert if a .NET isolated function app is not deployed with Ready2Run"
This is already done for .NET InProc, we need to bring that logic for .NET isolated as well.
PR for .NET InProc: https://github.com/Azure/azure-functions-host/pull/8061

[2022-05-12 21:16] safihamid opened #11619 "Risk Alert if a .NET isolated function app is not deployed with Ready2Run"
This is already done for .NET InProc, we need to bring that logic for .NET isolated as well.
PR for .NET InProc: https://github.com/Azure/azure-functions-host/pull/8061

[2022-05-12 21:21] safihamid opened #8382 "Support .NET isolated placeholders"
We need to start the dotnet process in placeholder mode like other language workers and do specialization when cold start request arrives.

Profile analysis shows majority of the cold start time is spent JITting CLR assemblies and loading those assemblies from disk which most if the time spent should be gone by starting the process in placeholder mode.

[2022-05-13 09:21] PramodValavala-MSFT commented on #7318
Similar to #7860 with this PR in progress #8372

[2022-05-13 10:26] vsha041 commented on #6622
@Shuvajyoti - it was something along these lines but I will re-check again and let you know next week. By the way make sure the azure function configuration variable AzureFunctionsWebHost__hostId is set to lowercase GUID without the dashes. E.G. = 34c63f7c44ee4271ba7ffa02c8c883a9

**Before**
[code]

**After**
[code]

[2022-05-13 11:50] h4n3h commented on #5090
### FILES
[Dockerfile.txt](https://github.com/Azure/azure-functions-host/files/8686744/Dockerfile.txt)
[nginx_Dockerfile.txt](https://github.com/Azure/azure-functions-host/files/8686746/nginx_Dockerfile.txt)
[nginx.conf.txt](https://github.com/Azure/azure-functions-host/files/8686750/nginx.conf.txt)

In my case I'm using the Azure Functions for javascript this project only have host.json
Here a mo

[2022-05-13 17:47] liliankasem commented on #8037
This is a [limitation of SDK](https://github.com/Azure/azure-sdk-for-net/issues/11400#issuecomment-620179175) and not something we can address. I think the best we can do is make sure the documentation lets people know they need to provide that environment variable; @mattchenderson thoughts?

[2022-05-13 18:33] smokedlinq commented on #7996
FYI this was working prior, I have a BICEP template that has been deployed last month that no longer works.

[2022-05-13 20:04] mattchenderson commented on #8037
The service behavior is as expected. The requirement to specify the user-assigned identity and not assume it was intentional, and I'm not sure how the behavior drift came up. I'll follow up with the teams involved to understand that a bit better and see what can be done. But for now, I would say there are no active plans to start defaulting the user-assigned identity, and it must be defined explic

[2022-05-13 22:35] #8037 closed, assigned to liliankasem, v-bbalaiagar

[2022-05-13 22:38] liliankasem commented on #8080
@bjornharrtell is this still happening with the latest core tools version?

@v-bbalaiagar can you do some initial investigation on this issue?

[2022-05-13 23:27] #7860 closed, assigned to soninaren

[2022-05-14 03:13] TsuyoshiUshio commented on #7996
Hello. I think it is a bug of the Portal.  For mitigation, I use Azure CLI instead and it works.

[code]

CC @pragnagopa

[2022-05-14 07:42] bjornharrtell commented on #8080
@liliankasem yes just tried it and same error. I'm now on Ubuntu 22.04 with azure-functions-core-tools-4 4.0.3971-1 and 6.0.300.

[2022-05-14 07:47] bjornharrtell commented on #8080
Just realized I didn't have the latest core tools because it's not yet in a feed for Ubuntu 22.04.. I've manually updated to 4.0.4483-1 which appears to be the latest version and the issue remains.

[2022-05-14 16:00] ghost commented on #8235
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-05-14 16:01] ghost commented on #8122
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-05-16 05:11] Shyam268 commented on #8380
The issue is resolved by adding
<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput> in every function app

[2022-05-16 15:08] Ved2806 commented on #8355
Hi @martin-hauge Please open a ticket with our support team to investigate this issue further. Thanks.

[2022-05-16 19:21] #4031 closed

[2022-05-16 19:23] liliankasem commented on #8080
We'll need to take a look to see why it's working in Azure and not locally, in the meantime would something like this fix the issue for local testing?

[code]

[2022-05-16 20:42] surgupta-msft commented on #8308
@safihamid @pragnagopa since the pull request associated with this issue is merged, can we close this issue?

[2022-05-16 21:04] safihamid commented on #8308
yes it can be closed.

[2022-05-16 21:04] #8308 closed, assigned to surgupta-msft

[2022-05-16 21:20] #8380 closed, assigned to surgupta-msft

[2022-05-17 05:37] maartenba commented on #8221
Would love to learn how this could be supported by other debuggers, too.

[2022-05-17 07:06] bjornharrtell commented on #8080
@liliankasem indeed that way of doing it does work locally, thanks!

[2022-05-17 08:39] rmydlarski commented on #8325
We were facing the same issue on Azure queue storage functions (.NET 6, Consumption Plan) with `FUNCTIONS_EXTENSION_VERSION=~4`. We would randomly get a lot of `The operation has timed out.` exceptions on running functions as well as some `Did not find any initialized language workers` ones. We downgraded the runtime version after reading @keaaa's comment and the timeout exceptions stopped. Then w

[2022-05-17 11:19] dxynnez opened #8395 "[Question] Does function host make any effort of determine whether there are enough resource to trigger a new function?"
Hi team,

We are wondering **on a single worker instance**, would function host make any effort to determine whether there are enough resource to trigger a new function? More specifically, for eventhub trigger function, my understanding is that there could be concurrent invocations for the same function as long as there are more events to be processed and each invocation would handle a batch of th

[2022-05-17 11:54] Ved2806 commented on #8395
Hi @dxynnez Thanks for the update, We will discuss this internally and let you know about the findings! Thanks.

[2022-05-17 12:01] Ved2806 commented on #8327
Hi @kshyju Could you please look into this issue?

[2022-05-17 12:05] Ved2806 commented on #8020
Hi @alexandrehtrb Do you still have queries regarding this? Please let us know can we close this?

[2022-05-17 12:10] Ved2806 commented on #8095
Hi @fabiocav This is something what you have already answered and closed the issue [#4410](https://github.com/Azure/azure-functions-host/issues/4410). User has initiated this conversation again. Could you please help with this?

[2022-05-17 12:32] alexandrehtrb commented on #8020
I believe I found something related to what I am suggesting:

https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-other?tabs=rust%2Cwindows

But still, I think this could evolve to something better.
I will close this issue, since this is a suggestion.

[2022-05-17 12:32] #8020 closed, assigned to kshyju, Ved2806

[2022-05-17 12:42] Ved2806 commented on #8254
Hi @danpetitt, we are discussing this issue internally, we will let you know about the findings soon

[2022-05-17 16:01] #8235 closed, assigned to soninaren, Ved2806

[2022-05-17 16:01] #8122 closed, assigned to brettsam, Ved2806

[2022-05-17 20:58] surgupta-msft commented on #8286
@mattchenderson @JoshLove-msft Do we expect changes on the Host side for this work or only in azure-sdk repo (as a related issue has been created in that repo - https://github.com/Azure/azure-sdk-for-net/issues/28069).

It would be helpful if you can share more details on what is expected from Host here and any code links to begin investigation on host side.

[2022-05-18 04:26] fowl2 opened #8401 "[v1] Build Hangs in ExtensionsMetadataGenerator"
Consider the following project file:

[code]

Attempting to build this project file will never complete.

From a DevOps pipeline this manifests as

The profiler indicates getting stuck in Mono.Cecil:

![image](https://user-images.githubusercontent.com/12844147/168949622-206456f5-0826-442b-886f-4060d743a6ac.png)

The previous version of `Microsoft.NET.Sdk.Functions`, version 1.0.37, completely impe

[2022-05-18 07:45] Hjortsberg commented on #8235
@Ved2806 @pragnagopa, just to confirm, i tried again this morning.
Just to update with something i include this mornings failure as a screenshot. As I said, this is constant and reproducible:
![function-swap-fail-500](https://user-images.githubusercontent.com/17297258/168985276-c8faf0ac-cf98-46a7-a808-484c758b2d21.png).
Please don't close this. Do you need more information?

[2022-05-18 18:28] brettsam opened #8403 "Deadlock when a language worker restart crashes on initialization"
We have a deadlock in the language worker restart flow.

1. For example, for some reason (due to a timeout, say), we need to kill the process.
2.  We restart the process and wait for the init call to come from the worker (waiting on a `TaskCompletionSource` to be completed):
    - https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFunction

[2022-05-18 20:12] fabiocav commented on #8080
Closing as answered.

[2022-05-18 20:12] #8080 closed, assigned to liliankasem

[2022-05-18 20:14] ajdvoynos commented on #1564
Any plans on ever supporting this? It doesn't seem to be working on querystring parameters either, which IMO is a pretty common use case.

[2022-05-18 20:19] fabiocav commented on #8095
@biltongza the recommendation here is to use the[ .NET Isolated model](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide). That will give you the flexibility to use any IoC framework.

[2022-05-18 20:19] #8095 closed, assigned to liliankasem, Ved2806

[2022-05-18 23:02] surgupta-msft commented on #7496
Closing the epic.

[2022-05-18 23:02] #7496 closed, assigned to surgupta-msft

[2022-05-18 23:03] microsoft-github-policy-service[bot] opened #8405 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 17:10] alrod commented on #8403
Possibly related:
https://github.com/Azure/azure-functions-nodejs-worker/issues/482

[2022-05-19 17:29] pragnagopa commented on #6558
Bringing into Functions Sprint 117 for discussion. Shared more details in the email thread regarding side effects of keeping older version on the platform.

[2022-05-19 22:52] gzuber opened #8408 "Add support for GenevaExporter in the host"
Currently, customers can add GenevaExporter to the worker process, but there is no way to configure it on the host. This limitation prevents full observability and consistent configuration across environments.

We need to add the ability to configure GenevaExporter directly on the host through an extension, ensuring customers can manage telemetry in a standardized and supported way.

[2022-05-20 12:58] Prithiaga opened #8409 "Proxies are disabled in portal"
I am trying to create a proxy for my azure function, but the "proxies" in the portal is greyed out and cannot access it.

![image](https://user-images.githubusercontent.com/18065954/169532997-35724f38-4bf7-4919-ab4b-659b2522a9dd.png)

I followed the steps described in this [documentation](https://docs.microsoft.com/en-in/azure/azure-functions/create-first-function-vs-code-csharp) and used c# .NET

[2022-05-20 13:27] Prithiaga commented on #8409
Just found out that the proxies will not work in V4. Thanks

[2022-05-20 13:27] #8409 closed, assigned to liliankasem

[2022-05-20 16:00] ghost commented on #8296
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-05-20 22:16] liliankasem commented on #8403
**Repro steps**

1. Add 10 second sleep in the dotnet worker

[code]

2. Add a log to print out the worker process ID in the host

[code]

3. In the host, place a breakpoint on `await _workerInitTask.Task;`
   - GrpcWorkerChannel.cs -> StartWorkerProcessAsync()

4. Run the host in debug mode using the dotnet worker sample app and skip the first time
   the breakpoint is hit to let the host start u

[2022-05-21 04:14] dixonwille commented on #7285
I am seeing the same thing with Azure Functions 4

1. Linux App Service
2. Containers
3. Can't set header manually as local breaks

Is there any work being done on this? I really don't want to deploy to Windows as we just got off of it because of pricing. Seems silly to go back to it just for compression. I was thinking that maybe the container didn't have gzip library installed, but it does.

[2022-05-21 16:01] ghost commented on #8355
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-05-23 15:10] Ved2806 commented on #8022
Hi @i-akash The service lifetime should match the behavior which you found in ASP.NET core. If you continue to run it please let us know. The lifetime of the service provider should match the lifetime of the function execution.

[2022-05-23 15:54] pragnagopa commented on #3125
Tagging @fabiocav / @liliankasem for triage

[2022-05-23 15:59] pragnagopa commented on #3125
@vrdmr  / @gavin-aguiar / @YunchuWang - can you confirm if python language worker supports TypedData : https://github.com/Azure/azure-functions-language-worker-protobuf/blob/6635670b136d565f2a196ce1a64fee1ea5c9c1c9/src/proto/FunctionRpc.proto#L400 ?

[2022-05-23 18:56] brettsam commented on #8302
Recalling the conversation that @fabiocav / @gavin-aguiar / @shreyabatra4 and I had a couple weeks ago. There are two phases to this:
1. [@gavin-aguiar]: Introduce a couple new properties to the function metadata returned by workers, which I believe is here: https://github.com/Azure/azure-functions-language-worker-protobuf/pull/69.
2. [@kashimiz]: Expose these properties to the portal by ensuring

[2022-05-23 19:00] #8296 closed, assigned to kashimiz, Ved2806

[2022-05-23 21:51] ahawes-clarity opened #8412 ""Server failed to authenticate the request" Trouble getting Azure Functions to work with Managed Identity and Key Vault"
I have a Functions App that I am migrating from v2 to v4. During the migration I wanted to change from secrets in App Settings to use Key Vault and Managed Identity.

I have followed the guidance that I found in these links as well as others:

- https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=blob#connecting-to-host-storage-with-an-identity-preview
- https://docs.mi

[2022-05-24 08:09] dxynnez commented on #8395
Hi @Ved2806 , any update to this? Thanks!

[2022-05-24 19:00] #8355 closed, assigned to kshyju, Ved2806

[2022-05-24 20:21] flq opened #8413 "Unhandled host error: Headers are read-only when accessing the Response object in HTTP Trigger function."
#### Investigative information

- Timestamp: Testing locally, see example for reproduction
- Function App version:  Core Tools 4.0.4544 Commit hash: N/A  (64-bit), Function Runtime: 4.3.2.18186
- Programming language: C#, .NET6

#### Repro steps

When defining the following function and calling it, it will correctly return the "OK".

[code]
however the logs will be filled with an attempt to access

[2022-05-24 22:28] liliankasem commented on #8164
Upon investigation, the team is moving forward with [option 2 as outlined in the design document](https://dev.azure.com/msazure/One/_git/AAPT-Antares-Docs?path=/TeamDocs/FunctionTeamDocs/Design/Host/WorkerHeartbeat.md&version=GBmaster&line=1&_a=preview).

The `WorkerStatusRequest/Response` messages are already implemented by the language workers, and is currently being
used by the FrontEnd and the

[2022-05-24 22:29] shreyabatra4 opened #8414 "Defaulting to Bundles V3"
New Function Apps created in the portal should default to Bundles V3.

Edited by @fabiocav:

- [x] Update default host.json created by the runtime
- [x] Update the bundles feed
- [x] Update Core Tools host.json

[2022-05-25 01:50] capraynor commented on #8235
Same issue here. Extended code: 04093

[2022-05-25 07:32] flq commented on #8413
As a workaround, if I change the return of the function to `Task<IActionResult>` and then change the return to

[code]
where **NullResult** is

[code]
the problem appears to go away.

[2022-05-25 13:10] olaj commented on #8235
I have the same issue ATM, also the code 04093

[2022-05-25 13:37] olaj commented on #8235
FYI

I got some more info in the "Health & Diagnostics" thing in the portal, the error there said "There was a conflict. VnetRouteAllEnabled has diffirent values as site property and site config"

I do use a vnet for my production slot but i didn't have one for my staging slot. I then added a vnet for my staging slot and when it was created the option VnetRouteAllEnabled was enabled. I then disabl

[2022-05-25 14:20] sherzberg opened #8415 "Reporting status of disabled functions"
#### Is your question related to a specific version? If so, please specify:

4.x, dotnet-isolated functions

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#

#### Question

When running the functions in a docker container, is there a way to report the status of the enabled functions that could be use as a docker health check or similar? Or if functions fail to

[2022-05-25 20:11] fabiocav commented on #8302
This has a dependency on https://github.com/Azure/azure-functions-language-worker-protobuf/pull/69 and we won't be able to complete the changes here until that work is merged.

[2022-05-25 20:13] fabiocav commented on #8257
Still iterating on changes. Moving to sprint 123

[2022-05-25 20:13] fabiocav commented on #8256
Still iterating on changes. Moving to sprint 123

[2022-05-25 20:17] fabiocav commented on #8228
@pragnagopa / @divyagandhisethi the PR associated with that was automatically closed. Are you still planning on executing on this? If so, so this move to sprint 123?

[2022-05-25 20:33] fabiocav commented on #4296
Work for this is in progress. Implementation mostly complete, but does require coordination with other language worker owners. Moving to sprint 123 to continue the work there.

[2022-05-25 21:26] ahawes-clarity commented on #8412
Still struggling with this. Can anyone help? Not sure how to get past this issue.

[2022-05-25 21:56] liliankasem opened #8417 "Restart unresponsive workers during WorkerStatus heartbeat request"
The [HostPerformanceManager](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Scale/HostPerformanceManager.cs#L115) starts a timer which periodically makes a `GetWorkerStatusAsync` request. The worker status here is used to determine if workers are overloaded and if we need to start a new worker channel. This is determined through latency, if the worker is taking too long

[2022-05-25 22:07] #8164 closed, assigned to liliankasem

[2022-05-26 16:06] istarbuxs opened #8419 "[Python] Protobuf Release 4.21.0 made breaking changes ("TypeError: Descriptors cannot not be created directly.")"
#### Investigative information

Traceback (most recent call last):
[code]

If this call came from a _pb2.py file, your generated code is out of date and must be regenerated with protoc >= 3.19.0.
If you cannot immediately regenerate your protos, some other possible workarounds are:
 1. Downgrade the protobuf package to 3.20.x or lower.
 2. Set PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python (but thi

[2022-05-27 13:22] debasish-das-it opened #8422 "Activity.Current null in isolated Azure Function v4 in .NET 6"
Activity.Current appears null in isolated Azure Function v4 in .NET 6. can some one help me to fix this issue.

[2022-05-27 16:00] ghost commented on #8022
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-05-29 05:11] debasish-das-it commented on #8422
Any one faced this issue?

[2022-05-30 12:12] jmccomb commented on #8419
Worth highlighting this leaves functions host dead in the water.
Description above is excellent but for those unsure of how to implement workaround (like me) the comment from @mike-luabase may be helpful:
Try adding
`protobuf==3.20.1`
to your requirements.txt, if that fixes it, don't set env var PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python

[2022-05-30 15:57] rikjansen-hu opened #8440 "JSON deserialization fails in binding expression for EventHubTrigger with cardinality set to "many""
## Context ##

I'm using a binding expression in an output-binding (in my case blob") that relies on JSON deserialisation (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns#json-payloads).

## Works as documented for `cardinality: one` ##

#### **`function.json`**
[code]

#### **`__init__.py`**
[code]

#### **payload**
[code]

This works as documented:

[2022-05-30 18:53] kshyju commented on #8327
@EnenDaveyBoy There is a CORS tab under API menu in the azure portal for your function app, where you can configure the CORS behavior.

[2022-05-30 19:00] #8022 closed, assigned to madelinegordon, Ved2806

[2022-05-30 22:07] EnenDaveyBoy commented on #8327
what happens if I want to manage my own cors? I am building a Saas and from what i can tell there is no way to programically add origins dynamically on azure?

[2022-05-31 02:59] kshyju commented on #8327
If you want to programmatically control [CORS ](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS)behavior from the azure functions code, it is possible. All you have to do is to send the `Access-Control-Allow-Origin` header with the value you want.

Example for in-proc dotnet function code

[code]

where `req` is an instance of `HttpRequest` type.

You can use the `HeaderNames.AccessControlA

[2022-05-31 02:59] kshyju commented on #8327
Closing as answered. Feel free to let us know if you still have questions.

[2022-05-31 02:59] #8327 closed, assigned to kashimiz, Ved2806

[2022-05-31 04:55] MughundhanRaveendran-MSFT commented on #3125
@vrdmr / @gavin-aguiar  / @YunchuWang , Any updates on this thread?
Similar issue is seen here : https://docs.microsoft.com/en-us/answers/questions/855946/index.html

[2022-05-31 10:50] Ved2806 commented on #8412
Hi @mattchenderson Could you please look into this issue?

[2022-05-31 10:57] Ved2806 commented on #8367
Hi @dozer75 Please refer this issue [#8311](https://github.com/Azure/azure-functions-host/issues/8311) and let us know if it helps.

[2022-05-31 11:09] Ved2806 commented on #8395
Hi @dxynnez You can achieve this goal by configuring the AppInsights for monitoring your azure functions. Please go through the [document](https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2) and let us know if it is helpful?

[2022-05-31 14:47] dxynnez commented on #8395
@Ved2806  We dont use AppInsights (we are msft internal and we use geneva) but it should be unrelated...I was not looking for options to instrument the azure function. I am looking for the correct expectation to set with Azure function on dedicated plan - I think it could be a pretty common question people would have so raising up the question here might help someone else in the community also.

[2022-05-31 14:48] Ved2806 commented on #8369
Hi @fxgendrin-sesimagotagcom is this issue resolved?

[2022-05-31 14:58] fxgendrin-sesimagotagcom commented on #8369
@Ved2806 base on the replies: forbidden internal package usage and version to pin back, issue is closed.

[2022-05-31 14:58] #8369 closed, assigned to kashimiz, Ved2806

[2022-05-31 15:07] Ved2806 commented on #8218
Hi @davidchrystal Diagnose and solve problems usually throws alerts after performing the analysis based on recommended settings for azure resources. If you want to resolve them, please follow the recommended ways suggested in diagnose and solve problems.

[2022-05-31 15:36] debasish-das-it commented on #8422
Thanks @Ved2806

[2022-05-31 15:42] kshyju commented on #8422
@debasish-das-it Could you share the relevant part of the code where you are getting this issue?

[2022-05-31 15:58] debasish-das-it commented on #8422
hello @kashimiz I am facing issue in the line with bold section of the code. i get null for variable "correlation_id"
public class CommandProcessor
    {
        private readonly ILogger<CommandProcessor> _logger;
        private readonly IEndpointProcessor endpointProcessor;

        public CommandProcessor(ILogger<CommandProcessor> logger,
            IEndpointProcessor endpointProcessor)

[2022-06-01 09:33] jefmeijvis opened #8428 "[Dotnet] ExtensionsMetadataGenerator targets "/bin" question"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
When publishing an Azure Function from inside of Visual Studio 2022, I receive an error where the "..\obj\Release\net6.0\win-x86\PubTmp\Out" folder doesn't contain a bin subfolder.

I resolved this issue by doing the following:

The targets file for the ExtensionsMetadataGenerator specifies a target

[2022-06-01 14:18] PleaseStopAsking opened #8429 "Handling blob receipts and the constant GetBlobProperties requests"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Using C# with `Azure.Storage.Blobs v12.10.0` but this question is generic and not specific to a specific language

#### Question

As part of my Azure Policies, diagnostic settings are configured for all storage accounts that push blob logs to a Log Analytics workspace. Since implementing my blob trigger, I have seen a

[2022-06-01 15:52] fabiocav commented on #6239
Noticed this was still open without clear information from the PR linked, so I wanted to share the details:

- This issue has been addressed in 4.0, and the default behavior there matches the expectation. No action required
- If running in 3.0, the default behavior has not been changed,  you you can opt into the behavior that will address the issue by defining an App Setting named `AzureWebJobsFea

[2022-06-01 15:52] #6239 closed, assigned to pragnagopa, fabiocav

[2022-06-01 20:15] fabiocav commented on #8417
Have we discussed the latency numbers we'd check in order to consider a worker unhealthy? Assuming there's some additional design work here, correct?

[2022-06-01 20:20] fabiocav commented on #8228
@pragnagopa / @divyagandhisethi in review, there are questions about the why (more details to better understand the problem) here. Would you be able to please expand on that?

There are also questions about perf impact of this change, can you comment on that?

Thanks!

[2022-06-01 20:31] fabiocav commented on #3125
It would be good to understand the data type being used when this occurs.

@uch-energinet would you be able to share your `function.json` definition for this?

[2022-06-01 20:46] shimedh commented on #7587
We are tracking it with WI - https://msazure.visualstudio.com/Antares/_workitems/edit/10531370
It has dependency on ANT99.
Yutang (@yutanglin16) is the PM tracking this with AI team.

[2022-06-01 20:49] fabiocav commented on #6960
@annaji-msft @anthonychu , is this still relevant? We may need to come up with a better approach to ensure we're not bloating the log output for Functions outside of the context of SWA (or other components).

[2022-06-01 20:55] fabiocav commented on #6932
Adding @kashimiz

[2022-06-01 20:55] fabiocav commented on #6932
@anthonychu based on @kashimiz's tests, this seems to be addressed. Can you please confirm?

[2022-06-01 21:00] fabiocav commented on #7057
Closing issue as done.

[2022-06-01 21:00] #7057 closed, assigned to nobody

[2022-06-01 21:04] ecoonradt commented on #8311
Hello, I have been fighting with this issue for a couple days now and was wondering if there are any updates to share.  If this is expected behavior then can you please share how one is supposed to use Bicep / ARM to create .NET 6 isolated function apps?  On the surface this appears to be a chicken and egg problem because function code cannot be deployed via Bicep and the function app must be able

[2022-06-02 06:38] uch-energinet commented on #3125
Yes, of course.
You can see the entire code sample in this repository, which I made for this specific issue:
https://github.com/uch-energinet/github-issue-3125 (the file you are asking for is under `HttpTrigger1/function.json`)

[2022-06-02 12:20] mahesh-maximus opened #8430 "WorkerConfig for runtime: dotnet-isolated not found"
I'm getting the error " WorkerConfig for runtime: dotnet-isolated not found", just after every deployment.

https://github.com/Azure/azure-functions-host/blob/2360468596d0c6fb0e79b2315ec6b889dcefe38e/src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFunctionInvocationDispatcher.cs#L255

[2022-06-02 16:08] xiongyu0523 opened #8431 "Access query parameter failed in cosmos db binding?"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

Azure Functions C

[2022-06-02 16:42] xiongyu0523 commented on #8431
sorry, i got answers here,
https://github.com/Azure/azure-webjobs-sdk-extensions/issues/595

[2022-06-02 16:42] #8431 closed, assigned to satvu

[2022-06-02 18:29] Francisco-Gamino commented on #7457
Adding @cjaliaga given that he is investigating an issue where it seems that the client was using the incorrect function key.

[2022-06-02 20:52] JohnCarmichael3000 commented on #1431
Any update on this? I was seeing double logging in "az webapp log tail" output for a function this week.

[2022-06-03 12:28] SimlabSimlab opened #8433 "remove"
remove

[2022-06-03 12:33] pklejnowski opened #8434 "dotnet-isolated every exception is shown as RpcException in Application Insights"
In dotnet-isolated I'm loging exception from try/catch:
[code]

Then in Application Insights it's always shown as RpcException:
![171853182-357172a5-676e-4750-9399-f83c27d9ceb3](https://user-images.githubusercontent.com/28590512/171854373-1ee67628-ca24-414b-bbae-5dbc6a9ec014.png)
![171853441-82a1643e-edb6-4784-965f-bd43d35c33b9](https://user-images.githubusercontent.com/28590512/171854395-0a062a4e

[2022-06-03 14:58] #8433 closed, assigned to madelinegordon

[2022-06-03 15:03] kshyju commented on #8430
@mahesh-maximus Can you share your function app name and region where you are trying to deploy, so that we can take a look? Also, what is your deployment method? Can you confirm the deployment was successful? Thanks

[2022-06-03 15:05] azaharyan commented on #3125
I have the same issue here. I have two bindings to an azure function - out and in. The in binary correctly receives binary data, but when I try to write binary to a Service Bus topic it shows as "System.Byte[]". I have set to both bindings "dataType: binary" in function.json. Is it even possible to send binary message via a binding to a Service Bus topic?

[2022-06-04 13:01] ghost commented on #8367
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-04 16:01] ghost commented on #8218
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-05 16:21] RealGoodAnthony commented on #8252
Sorry to bug everyone, but I wanted to bump this @fabiocav  @brettsam  @madelinegordon @pragnagopa

[2022-06-05 22:01] ghost commented on #6960
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-05 22:01] ghost commented on #6932
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-06 07:57] rstropek commented on #8189
I have the same problem with Premium plan (EP1):

* Deploy Bicep template (with `'WEBSITE_RUN_FROM_PACKAGE': '1'`)
* Execute `func azure functionapp publish ...` -> everything works
* Deploy Bicep template again (e.g. adding another configuration setting) -> all functions are gone, function app does no longer work
* Execute `func azure functionapp publish ...` -> everything works again

What would

[2022-06-06 13:25] paldaniel opened #8437 "Arm64 support for Azure Functions Host"
I have tried to run Azure Functions (host: 4.3.2, python 3.9) as an Azure IoT Edge module on Raspberry PI 4 (arm64) and had some success. I wanna share my steps to have official support for arm64 architecture.
[Python image](https://github.com/Azure/azure-functions-docker/blob/99a58545bb2e071158a9ef987ee48ed746432e97/host/4/bullseye/amd64/python/python39/python39.Dockerfile)
1. Change runtime-imag

[2022-06-06 14:19] dozer75 commented on #8367
Hi, sorry for delay...

Yes, I have tried creating and deploying directly (got that as a tip from Azure Support) and almost everything that I can have digged out of all the different azure funtions related information I have found both on GitHub, StackOverflow and other places to no avail.

Currently, we have rewritten our current Azure Functions to non dotnet-isolated functions and have decided t

[2022-06-06 14:25] dozer75 commented on #8367
Oh, BTW, I actually got an answer I suspect is related to this (forgot about that) when I posted on Azure CLI why it didn't work to create dotnet-isolated using AZ CLI [here](https://github.com/Azure/azure-cli/issues/22281#issuecomment-1132428340), not sure if this is related though, it is a maze of various repos and services and so on that are involved in this so I kind of lost track of everythin

[2022-06-06 14:34] Ved2806 commented on #8367
Hi @dozer75 Is it resolved for you?

[2022-06-06 15:08] Ved2806 commented on #8230
Hi @v-oleg Could you please let us know, are you creating the instance of telemetry client or are you binding to the one provided by the runtime?

[2022-06-06 15:08] Ved2806 commented on #8230
Hi @brettsam Could you please help with this issue?

[2022-06-06 15:19] Ved2806 commented on #8429
Hi @PleaseStopAsking Could you please let us know which version of Azure.Storage.Blob extension are you using?
There is one additional option to use the event grid in order to avoid interactions with the storage account which is resulting in excess of logs. Let us know if that helps.

[2022-06-06 16:19] Ved2806 commented on #8415
Hi @sherzberg please refer this [document](https://github.com/Azure/azure-functions-host/wiki/Admin-API) and let us know if it helps.

[2022-06-06 17:10] liliankasem commented on #8417
This may already be defined by the concurrency work, or should we have a discussion about this in the context of heart beat? @alrod thoughts?

[2022-06-06 19:20] ahawes-clarity commented on #8412
Still struggling with this. Can anyone help? Not sure how to get past this issue.

[2022-06-06 19:47] dozer75 commented on #8367
Well, it is not resolved since it doesn't work, but we avoid this functionality so it's not critical for us anymore. But IMHO it's still an issue that should be looked at. But it's ok to close this issue for my part, so I'll close it.

[2022-06-06 19:47] #8367 closed, assigned to brettsam, Ved2806

[2022-06-07 13:10] tonakai opened #8438 "getting Microsoft.Azure.WebJobs.Script.Workers.WorkerProcessExitException in some cases when the underlying machine starts up"
#### Investigative information

Please provide the following:

- Timestamp: 2022-06-07T00:11:47.881Z (i've more timestamps but this one is the most recent.)
- Function App version: 4.3.2.18186
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:  3c07d012-84f0-4437-994c-0b5079e32214
- Region: Central US

#### Repro steps

Provide the steps required to reproduce the problem:
i

[2022-06-07 15:37] percy2112 commented on #5663
I'm having the same issue. Function app on Linux. Premium plan. Deploy from Azure DevOps. Restart. Wait for 1 hour. but it did not help.

[2022-06-07 15:45] tomasopye commented on #2968
Is there any sort of planned changes for this issue? Or are the workarounds all we get?

[2022-06-07 16:01] ghost commented on #8430
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-07 18:04] #8405 closed, assigned to brettsam

[2022-06-07 18:08] mathewc commented on #2968
Since this issue was originally logged, we've made improvements in this area. For example, in the latest versions of Azure Functions, when Timer functions loose their singleton leases for whatever reason, we'll shut the host process down, ensuring we terminate any in process invocation of the timer function. That, coupled with the guidance above on taking a cancellation token in your function to i

[2022-06-07 18:36] tomasopye commented on #2968
@mathewc thank you very much for the response, we did notice where in appinsights a cancellation request was issued for one of the 2 running timer functions. I appreciate the guidance and we will be implementing the cancellation token in our timer triggers

[2022-06-07 19:01] #8218 closed, assigned to satvu, Ved2806

[2022-06-07 21:55] shreyabatra4 commented on #8442
Currently, we are not creating Azure resources for any of the triggers. This is so that we can prevent customers from accidentally creating a new resource. Transferring to the host team to investigate this feature request further.

[2022-06-07 22:23] SeanFeldman commented on #8442
I would agree that this cautious approach when creating a resource impacts billing. Queues/subscriptions with Azure Service Bus or Storage Queues do not incur charges. There's a potential to create resources that do not follow a consistent naming convention and cause reach the quota limits, but that would be caught in the lower environments before they get into production. Therefore, it would be n

[2022-06-07 22:40] jorge-duarte commented on #5098
I confirm that the issue persists even in version 4 of the Azure Functions runtime. Worst of all, I don't use the IHttpClientFactory interface and yet AddScoped always generates new instances on each constructor injection.

[2022-06-07 23:05] YunchuWang commented on #8440
Able to reproduce, checked worker side does not set the blob path. In addition, regardless of cardinality value and with same json data set to blob output, the error would happen for cardinality = many case, please open the issue in https://github.com/Azure/azure-functions-host for further assistance.

[2022-06-07 23:42] alrod commented on #8441
This issue is more broader then service bus trigger and the "Circuit Breaker" can be applied to any type of trigger, transferring to function host for triage.

[2022-06-08 11:28] Ved2806 commented on #8437
Hi @vrdmr Could you please take a look into this issue?

[2022-06-08 11:31] Ved2806 commented on #8419
Hi @vrdmr Could you please take a look?

[2022-06-08 11:32] Ved2806 commented on #8408
Hi @brettsam Could you please help with this issue?

[2022-06-08 11:35] Ved2806 commented on #8326
Hi @tekking can we close this as resolved?

[2022-06-08 13:24] tekking commented on #8326
Yes, I'll close this issue. The issue has not reappeared on our end after the (we think) the image update.

[2022-06-08 13:24] #8326 closed, assigned to brettsam, v-bbalaiagar, Ved2806

[2022-06-08 13:34] zoltansolya commented on #7092
+1

[2022-06-08 15:20] brettsam commented on #8403
This was actually related to a fix already made by @alrod -- it took a while to realize this. Dupe of https://github.com/Azure/azure-functions-host/issues/7983, which has already been fixed and deployed. The incident mentioned above happened in 4.1.0 -- which was *before* this was deployed in 4.2.0.

[2022-06-08 15:20] #8403 closed, assigned to liliankasem

[2022-06-08 16:12] v-oleg commented on #8230
binding to the one provided by the runtime. injecting via constructor

[2022-06-08 17:16] nzthiago commented on #7772
As per above, Drain Mode is implemented through the platform. Limited documentation on Scale In behavior has been added to [this documentation page](https://docs.microsoft.com/en-us/azure/azure-functions/event-driven-scaling#scale-in-behaviors).
Closing this overall tracking issue for Functions Host Updates for Drain Mode. Remaining items will be tracked separately, please raise a support ticket o

[2022-06-08 17:16] #7772 closed, assigned to nzthiago

[2022-06-08 17:52] ggailey777 commented on #7092
It doesn't sound like a doc issue since we document that because of dynamic scaling it's hard to restrict the possible addresses to a smaller subset than the data center. There are of course [strategies to create static outbound addresses](https://docs.microsoft.com/azure/azure-functions/ip-addresses?tabs=portal#outbound-ip-address-changes) such as using a VNet NAT gateway or running in a non-dyna

[2022-06-08 18:40] madelinegordon opened #8444 "Fix flaky unit test"
Unit test [RpcFunctionInvocationDispatcherTests.FunctionDispatcher_AdditionalAttributes()](https://github.com/Azure/azure-functions-host/blob/7c8c6e4bfcf4e0f3d2c70b1860bdde1fe16a4136/test/WebJobs.Script.Tests/Workers/Rpc/RpcFunctionInvocationDispatcherTests.cs#L639) is extremely flaky, causing build failures on unrelated PR's.

- [history](https://azfunc.visualstudio.com/Azure%20Functions/_build/r

[2022-06-08 19:31] wsugarman opened #8445 "Memory Leak When Failing to Watch Files"
#### Check for a solution in the Azure portal
N/A

#### Investigative information
We host our Azure Functions on our own AKS cluster using the official docker base image `mcr.microsoft.com/azure-functions/dotnet`, so you won't be able to check your internal logs/metrics.

#### Repro steps
- Docker Image: `mcr.microsoft.com/azure-functions/dotnet:4.5.2-slim@sha256:bf9cdcf20af9a8807583a3039857050510

[2022-06-08 20:11] fabiocav commented on #8302
This issue is unblocked now that @gavin-aguiar's PR has been merged. Moving to sprint 124 to track the completion of the remaining work.

[2022-06-08 20:17] fabiocav commented on #8165
Investigation for this is still in progress. Moving to sprint 124.

[2022-06-08 20:19] fabiocav commented on #7462
Investigation on this issue has been completed by @soninaren and different issues/tasks have been identified. This issue will be closed in favor of more granular issues with those details.

[2022-06-08 20:30] fabiocav commented on #4296
PR is out and being iterated on. Moving to sprint 124.

[2022-06-08 20:45] fabiocav commented on #2152
Assigning to sprint 124 for spec/design.

[2022-06-08 22:01] #6960 closed, assigned to nobody

[2022-06-08 22:01] #6932 closed, assigned to nobody

[2022-06-08 23:33] SPSCS-Simon opened #8447 "Packaging a dotnet Function in library and reference the library with dotnet-isolated - GenerateFunctionMetadata"
In a scenario where we have different team developing different functions and they can develop/test locally an be able to package each functioning a library/assembly (possibly pushed to a local nugget repository).

The plan would be to:
1. separate put the functions from the Startup/Program where the function is in the library that is referenced by another project with the Startup/Program.
1. to t

[2022-06-09 00:40] jarrodd07 opened #8448 "Unable to perform slot swap for Premium Function with network restricted storage account"
Cannot perform a slot swap operation on a Function App in an Elastic Premium App Service Plan when the underlying storage account has network restrictions.
When a slot swap is performed a 500 Internal Server Error is returned with the error message "There was an unexpected error swapping slots 'staging' and 'production' for site '<sitename>'. Please try to cancel your swap operation. ExtendedCode:

[2022-06-09 14:58] oleksandr-ivanov-ah commented on #6328
I also have the same issue my host.json

[code]

My os: MacOS and my runtime
[code]

[2022-06-09 17:24] codeshinobi commented on #6328
Hi

I ended up downgrading. It was a compatibility issue.

Make sure your versions are compatible.

On Thu, 09 Jun 2022, 16:58 Ivanov Oleksandr AH, ***@***.***>
wrote:

[2022-06-09 18:21] shreyas-gopalakrishna opened #8450 "Placeholder that points to worker directory path in RpcWorkerDescription arguments"
#### What problem would the feature you're requesting solve? Please describe.
Language workers can access the host worker directory path using the `{workerDirectoryPath}` placeholder in the worker config arguments.
This will help in using the worker directory path in worker.config arguments to refer to worker specific files such as java agent jar. This is necessary as the worker directory path wil

[2022-06-09 19:03] liliankasem opened #8452 "Log WorkerMetadata details from the WorkerInitResponse message"
The protobuf has been updated to include a `WorkerMetadata` property within the `WorkerInitResponse` message.
The host should log the `WorkerMetadata` information when we handle a `WorkerInitResponse`.

[PR](https://github.com/Azure/azure-functions-language-worker-protobuf/pull/76) for reference on how the fields look.

You will need to pull in the latest protobuf version first.

[code]

[2022-06-09 22:11] jorge-duarte opened #8454 "AddScoped issue on Azure Functions host dependency injection with middleware"
I have a multi-layered large project running on Azure Functions v4 and dotnet6 on isolated mode in C#. Many of my services reside in separate assemblies and they depend on other assemblies. The hierarchy of dependencies that is roughly followed is as follows:

HTTP Trigger -depends on-> CommandHandler -depends on-> Service -depends on-> Repository -depends on-> SharedComponent

HTTP Trigger and Mi

[2022-06-09 23:43] michaelpeng36 opened #8455 "Host requires storage when running a PyStein-style function app"
#### Investigative information

When running the latest version of the Host (4.5.1) that supports PyStein in Core Tools, it appears that it requires storage to run properly for a PyStein app that only contains an HttpTrigger function. In particular, attempting to run `func start` with this version of the host results in the below error:

[code]

#### Repro steps

Provide the steps required to repr

[2022-06-10 15:57] vijayrkn opened #8456 "After publishing the function project to Linux, open in the portal and switch to "Code + Test", there is an error message in the expanded logs."
.NET Core SDK (CLI) Version: 6.0.300
Latest .NET Core runtime Version: 6.0.5

INSTALL STEP
1. Clean machine: Win11 x64 ENU 21H2
2. Install Dev17.2.3 [https://aka.ms/vs/17/release/vs_Enterprise.exe​] VSE
Web workload + Azure workload
Check .NET Core 5.0/3.1/2.1 runtime under IC tab
REPRO STEPS
1. File > New > Project > Azure Function > Next > .Net 6. 0 > Create
2. Select "Http trigger" in the creat

[2022-06-10 16:02] #8430 closed, assigned to surgupta-msft

[2022-06-10 16:02] ghost commented on #8429
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-10 19:02] ghost commented on #8415
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-10 19:45] nikolaj-kaplan commented on #8504
I have a similar issue. And I can also fix it by removing my call to `AddAzureKeyVault` during startup.
Is there any way to increase the timeout?
I experienced no issues on one laptop. But it started when I cloned the solution to a new laptop.

[code]

[2022-06-10 21:39] #8454 closed, assigned to kashimiz

[2022-06-10 22:07] surgupta-msft commented on #8455
Investigated a bit with @michaelpeng36 on this. Summary as follows -

- No error if using legacy apps.
- No error if passing the storage string.

**Error Scenario -**

With the core-tools version containing Project Stein code (Host v4.5.1), if we run pyStein style of app then getting an exception related to Storage.

` System.ArgumentNullException: Value cannot be null. (Parameter 'provider')
   a

[2022-06-11 02:08] mandar-lad commented on #7829
We faced similar issue with Azure app service (4 instances and auto scaling enabled) with CORS settings as '*'. Below are log snippets from EasyAuth docker container log files  "…easyauth_docker.log"

`2022-06-10T00:03:45.552868700Z [41m[30mfail[39m[22m[49m: Middleware[0]
2022-06-10T00:03:45.552922505Z       Failed to forward request to {IP address based URL removed}. Encountered a System.Net.Http

[2022-06-11 03:15] dxynnez commented on #8395
This is just frustrating... For all questions / issues I raised in this Repo or any Azure function related ones, I had to waited for at least half month to get any response - this is super inefficient to have any sort of bi-directional conversation and is definitely discouraging community engagement.

[2022-06-12 07:20] AaronLzm commented on #8448
@liliankasem Hi Lilian, please kindly go through chat content on Teams. This Github issue is related to a support ticket and please do let me know if anything is needed. Cheers.

[2022-06-12 13:16] atdi commented on #7688
I have the same issue and is not working regardless what I am trying to do. When I am sending custom telemetry from my local machine is working, but when the function is running in cloud it doesn't arrive to app insigths.

[2022-06-12 17:33] spmanjunath commented on #6937
I have a similar requirement i.e., running Azure function with specific user account.  Is this feature implemented?  Planned to be implemented, if so, any ETA?  Thanks.

[2022-06-12 19:02] ghost commented on #8230
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-13 07:52] mikkok-adafy commented on #3593
Azure Functions Proxies are no longer supported with Functions runtime 4.x. Takes care of this issue, more or less.

[2022-06-13 11:49] PleaseStopAsking commented on #8429
@Ved2806 I am currently using `v12.10.0` of Azure.Storage.Blobs.

[2022-06-13 16:29] lipalath-ms opened #8460 "Encountered an error (BadGateway) from host runtime"
I have the following ARM template for deploying Azure Function Apps to production and staging slots:

[code]
I see the following error during deployment:

[![enter image description here][1]][1]

What am I missing?

  [1]: https://i.stack.imgur.com/rw5Lq.png

[2022-06-13 16:34] liliankasem opened #8461 "Create a detector for the worker profiles feature"
Once the worker profiles feature gets merged, we need to make sure we have a detector in place to identity when:

a) a profile has been loaded
b) we tried to load a profile but failed
c) a profile failed validation
d) we found profiles in the worker.config but none of the conditions were met (and so did not load)

[2022-06-13 17:12] liliankasem commented on #8448
Looks like this is a known issue with a bug fix completed, it will be in the next release but there isn't an ETA on that right now. This is an an underlying platform issue and not a Functions specific issue so there isn't anything we can do here but wait for the release. I can keep this open to track that the bug fix addresses the issue and let you know when the platform release is out.

The only

[2022-06-13 18:36] kashimiz opened #8463 "VFS: GET during in-flight PUT request returns 2xx code, empty content"
#### Investigative information

This issue is in reference to internal incident 290963910.

#### Repro steps

Note: Portal team deployed a UI patch, so repro should be done programmatically.

1. Send PUT request to a VirtualFileSystem endpoint (e.g. `/admin/vfs/proxies.json`)
2. While PUT request in 2 is in-flight, send a GET request to the same endpoint.

#### Expected behavior

The request in st

[2022-06-13 18:56] liliankasem commented on #8273
It doesn't look like any of the language workers are utilizing this in their worker.config files. The default value for `UseStdErrorStreamForErrorsOnly ` is false, meaning logs from **stderr** are written with info level by default unless the message contains the keywords "error" , "severe"  or "fail", then the logs are written with error level.

@pragnagopa from my understanding, Java is the only

[2022-06-13 19:07] kaibocai commented on #8273
Hi @liliankasem , java is not writing all msgs to stderr stream actually, we are check the level the of the msg, if it's smaller than or equal to INFO then we write to stdout stream, else we write them to stderr stream. Please find the logic [here](https://github.com/Azure/azure-functions-java-worker/blob/72ae44af798fa8beed2bc43e6295cd6cdfc65032/src/main/java/com/microsoft/azure/functions/worker/W

[2022-06-13 19:09] ahawes-clarity commented on #8412
I guess no help is available. I will go back to putting my secrets directly into the Azure Functions settings.

[2022-06-13 19:16] liliankasem commented on #8273
That's great! If noone is writing all msgs to stderr stream then we can just switch the default to "true" and noone needs to make any changes. I'll wait to hear from other language owners to confirm if other's might be using stderr for all messages

[2022-06-13 20:03] idusortus commented on #1431
Five years later and this is still a nuisance. Any solution in sight?

[2022-06-13 21:11] ejizba commented on #8273
We rarely use the stdout/stderr streams in the first place - we prioritize sending logs over the rpc channel. That being said, users can write directly to stdout/stderr themselves, so I would be hesitant to change this behavior (worker logs should be prefixed with "LanguageWorkerConsoleLog" and user logs are not).

Fwiw, I think the existing default is the "correct" behavior, although perhaps not

[2022-06-13 21:35] ahawes-clarity commented on #8412
Sadly, even when I put the Azure Storage settings directly into the Azure Functions Settings I am still getting the same error. I am at a loss. Not sure how to move forward.

[2022-06-13 22:02] #8415 closed, assigned to madelinegordon, Ved2806

[2022-06-13 22:06] jarrodd07 commented on #8448
Perfect thanks that for that @liliankasem

[2022-06-13 23:04] surgupta-msft commented on #8455
Updates:

- When testing with docker images (Host v4.5.1), we are seeing this issue in both legacy and PyStein apps. If we remove extension bundles from Host.json then it all works fine for both the style apps.
- Legacy apps are working fine with Host v4.6.0. We cannot test PyStein apps with this version as some related changes are not available.

Next steps:
- We are trying to prepare core-tools

[2022-06-13 23:31] Francisco-Gamino opened #8466 "Investigate Functions Host test failures in V4 for 6/13/22"
Investigate Functions Host test failures in V4 for 6/13/22

For integration testing, we build the language workers, the Functions Host, and Core Tools. However, the Functions Host pipeline failed after 4 retries. Could you please take a look and let us know if this is regression? Thanks.

Here is the link to the pipeline executions with the test failures:

https://azfunc.visualstudio.com/Azure%20F

[2022-06-13 23:43] kshyju commented on #8466
Dupe of #8444

[2022-06-13 23:50] Francisco-Gamino commented on #8466
Hi @kshyju -- Are there any plans to fix this test soon? Currently this is blocking integration testing.

I can try to rerun the pipeline to see if passes the next time.

[2022-06-14 00:49] liliankasem commented on #8273
I agree that we should encourage the right behaviour around logging these issue + improved error detection, but I also think that the right approach here is to log stderr as error logs, it is after all in the name; diagnostic events for me fall under stdout. I'd like to encourage folks to use these streams appropriately so that we can make sure failures are not logged as info like in the example I

[2022-06-14 01:13] ejizba commented on #8273
A few references pointing to `stderr` being used for diagnostic data, although I agree the name is terrible:

- https://stackoverflow.com/questions/3385201/confused-about-stdin-stdout-and-stderr
- https://pubs.opengroup.org/onlinepubs/9699919799/functions/stderr.html

This came up a lot when I worked on VS Code tooling that referenced a cli (usually core tools). Here is theoretical output for the

[2022-06-14 01:25] liliankasem commented on #8273
Ahh that is very interesting and makes sense, thank you for sharing!

[2022-06-14 01:42] liliankasem commented on #8444
side note: I think the expected/actual is in the wrong order - the test is failing as it is expecting the property count to be `2` but it's actually `0`.

`Assert.Equal(item.Properties.Count, 2);` should be `Assert.Equal(2, item.Properties.Count);`

[2022-06-14 04:03] #8444 closed, assigned to RohitRanjanMS

[2022-06-14 04:04] RohitRanjanMS commented on #8466
https://github.com/Azure/azure-functions-host/pull/8468

[2022-06-14 04:04] #8466 closed, assigned to satvu, RohitRanjanMS

[2022-06-14 13:52] Ved2806 commented on #8460
Hi @mattchenderson Could you please help with this issue?

[2022-06-14 14:18] Ved2806 commented on #8428
Hi @jefmeijvis Thank you for the feedback, we will discuss this internally and let you know about the findings soon!

[2022-06-14 14:55] #8450 closed, assigned to liliankasem, fabiocav, shreyas-gopalakrishna

[2022-06-14 15:10] lsuarez5280 commented on #8448
@liliankasem Is there any public location to track release milestones for defects like this so I can keep an eye out? This issue has been plaguing me for some time as well and I didn't note a milestone attached.

[2022-06-14 17:30] surgupta-msft commented on #8455
**Updates:**

Below are the scenarios we tested along with their results

- Host v4.6.1 + Core-tools (manually prepared) -
        - PyStein app **works** without extension bundles in Host.json.
        - PyStein app **does not work** with extension bundles.
        - Legacy app **works** with & without extension bundles.

- Host v4.6.1 + Docker -
         - Legacy app **works** with & without ext

[2022-06-14 22:21] hamhus opened #8476 "Azure Functions Queue trigger awfully takes a lot of time to pick up messages from the Azure Queue"
#### Is your question related to a specific version? If so, please specify:
.NET 6
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
We are implementing scalable integration solution. JSON messages are being pushed from Kafka to Azure Queues to CRM. We are experiencing longer delays in the Azure function picking up messages from the Queue. We have th

[2022-06-14 23:55] cloudmelon opened #8477 "Add Reason phase - Status Description to HttpResponseData"
#### What problem would the feature you're requesting solve? Please describe.

A limitation of the existing contract between the host and the workers (the gRPC/protobuf contract) and impacts all workers.

Add a new property to the gRPC HTTP response to allow workers to provide a reason phrase,  for HTTP/1.1.

Use the reason phrase returned in the gRPC response and apply that to the HTTP response i

[2022-06-15 02:39] xlight05 commented on #8352
@v-bbalaiagar Any update on this?

[2022-06-15 14:20] ilya-git opened #8478 "Setting linuxFxVersion has no effect on the host runtime version"
#### Investigative information

- Timestamp: 2022-15-06
- Function App version: 4.3.2.2
- Invocation ID: N/A
- Region: North Europe

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create an Azure function on linux consumption plan with dotnet 6
2. Run `az functionapp config show`, linuxFxVersion is set to "DOTNET|6.0"
3. Run `az functionapp config set` to set the versio

[2022-06-15 16:37] Xodust commented on #8261
I am experiencing the same issue, but the work around does not work for me. Any word on a resolution to the issue?

[2022-06-15 17:29] nzthiago commented on #8448
This was caused by an internal platform component, and I’ll keep the issue open to notify when the component fix has been fully released. Unfortunately, the ETA for a full roll out is within the next 3 to 4 months.

[2022-06-15 20:17] brettsam commented on #7587
Closing as this is being tracked elsewhere.

[2022-06-15 20:17] #7587 closed, assigned to brettsam, v-anvari

[2022-06-15 20:32] brettsam commented on #8440
I'm fairly certain this is by design. When the trigger binding data is an array, we don't fan the array contents out into many instances of the input binding. Instead, it attempts to bind to the value specified, doesn't find it, and throws the error.

@mathewc -- I'm guessing this has been brought up in the past, but I couldn't find an original issue to map it to. Any ideas?

[2022-06-15 20:38] brettsam commented on #8419
Looks like this is being tracked in the python worker repo here: https://github.com/Azure/azure-functions-python-worker/issues/1050.

[2022-06-15 20:38] #8419 closed, assigned to brettsam, Ved2806

[2022-06-15 20:44] pragnagopa commented on #8228
Apologies missed pings on the issue here -  associated PR - https://github.com/Azure/azure-functions-host/pull/8315 has the fix that is tested on private stamp - pending final verification from @divyagandhisethi

Prior to this change, logic that parsed console logs was very strict and did not allow adding more columns -  associated changes on the Platform - https://msazure.visualstudio.com/One/_gi

[2022-06-15 20:46] brettsam commented on #8395
Each trigger has its own mechanism for when to start new work. But there's nothing that dynamically decides whether to fetch more items based on resource usage.

In the EventHubs example, the trigger uses the [EventHubs SDK](https://docs.microsoft.com/en-us/azure/event-hubs/event-processor-balance-partition-load) under-the-covers, and the functions host exposes [settings](https://docs.microsoft.co

[2022-06-15 20:50] satvu commented on #8438
Thanks for the detailed info! From the logs for that function invocation, it looks like a worker failure (see below).

[code]

What you're seeing is the host reporting the worker failure, so the source is somewhere else.

I'm seeing logs that show your function started executing, followed by a sudden worker failure and an attempt to dispose the channel for that worker. With the channel disposed, t

[2022-06-15 20:53] brettsam commented on #8312
Does the trigger initialization retry? I thought it should retry and eventually start working...

As for adding a `CreateIfNotExists`, I believe we explicitly excluded hat option from the Trigger b/c it wasn't a good design choice. I don't recall exactly why, but you can see that the output binding does allow this.

Ultimately, you're trying to start listening to something that doesn't exist, and

[2022-06-15 20:53] #8312 closed, assigned to kshyju, brettsam, v-bbalaiagar

[2022-06-15 21:03] surgupta-msft commented on #8413
@flq can you try once again with the latest runtime version 4.5.2 and verify if you are still seeing this issue? Below is my setup  which did not reproduce the issue.

Programming language: C#, .NET6 (in-proc)
Core Tools Version:       4.0.4590 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.5.2.18383

[code]

![image](https://user-images.githubusercontent.com/16623184/173926445-bf16727f-46

[2022-06-15 21:04] madelinegordon commented on #7895
Hello, is this a C# .NET isolated function app? If so, this is a known issue - we are currently working on a fix. https://github.com/Azure/azure-functions-host/pull/8314

[2022-06-15 21:19] v-oleg commented on #8230
@Ved2806 binding provided by the runtime. injecting via constructor

[2022-06-15 21:30] klenium commented on #7895
No. This issues was created before isolated function app was even announced or .NET 5 was released. I've never used the isolated concept.

[2022-06-16 07:10] tonakai commented on #8438
@satvu thanks i've created a ticket there as well, i remember seeing that `node exited with code -1073740791` errors as well but not always.

[2022-06-16 07:10] #8438 closed, assigned to nobody

[2022-06-16 10:33] Ved2806 commented on #8412
Hi @ahawes-clarity We are discussing this issue internally, we will get back to you soon with the findings!

[2022-06-16 11:44] hrmsft commented on #7457
Hi Team, is there any news about this implementation? I have worked with the customer that raised this issue handled by @cjaliaga.

[2022-06-16 20:11] #8184 closed, assigned to liliankasem, shreyas-gopalakrishna

[2022-06-16 23:41] drdamour opened #8482 "Anyway to call Dispose on value created and provided by an extension using IValueProvider IBinding IBindingProvider"
#### Is your question related to a specific version? If so, please specify:
function runtime v4 on dotnet 6

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I have extensions that provide values using the IValueProvider (via IBinding, and IBindingProvider) and they work great, but i went to add a new provided value but this one turned out to be so

[2022-06-17 02:09] Ved2806 commented on #8230
Hi @v-oleg Could you please let us know about the repro steps including relevant code? Also provide the version of the function. thanks.

[2022-06-17 12:57] marios-siatis commented on #7452
Hey guys I have a workaround for structured logging by using serilog, to replace the existing ms logger.
I think is clean as I only need to modify the startup of the application.

https://medium.com/@marios.shiatis/addressing-the-structured-logging-application-insights-issues-in-azure-functions-v4-net-6-0-f1f63b99807d

[2022-06-17 13:23] MichaelVlcek commented on #6328
Hey,

In-portal, the Powershell and .NET function has the same issue. Moreover, the runtime version ~4 does not support ExtensionBundle <=2.0.0 anymore.
Runtime version ~3 does support the ExtensionBundle <=2.0.0 version, but doesn't work.
Selecting runtime version ~2 does not fix the issue either.

No combination of runtime version (~2.0, ~2, ~3, ~4) and ExtensionBundle version [1.*, 2.0.0), [2.*

[2022-06-17 18:05] mattchenderson commented on #8412
Hi - apologies for missing the ping.

Are these errors you're hitting in local debugging or in a hosted service? Do you see the same error across both?

You're correct that it's not advisable to mix `AzureWebJobsStorage` and `AzureWebJobsStorage__accountName`. In these cases, the `AzureWebJobsStorage` key would win. The app not starting was a bit surprising to me there - that wouldn't be expected

[2022-06-17 20:48] ahawes-clarity commented on #8412
Thank you for your help.

I only see the error when it is hosted.
Yes, identity is assign in the function app.
![image](https://user-images.githubusercontent.com/6013584/174399111-ef488bd3-b9b0-4945-8d79-95164eb4d5ea.png)

Yes, I am using Durable Functions version 2.7.1
![image](https://user-images.githubusercontent.com/6013584/174399129-bde5c3d6-697a-4c3f-b11a-ecb6c00cff71.png)

I am new to Manag

[2022-06-17 21:56] rainersigwald opened #8487 "ExtensionsMetadataGenerator may not need to be a separate executable"
There is a confusing .NET SDK issue (https://github.com/dotnet/installer/issues/11951) on macOS that manifests as failures in the Functions build process, like https://github.com/Azure/azure-webjobs-sdk/issues/2755.

That will ideally get fixed, but it's proven difficult, and I think it could be worked around in a way that would also improve build times for Functions users.

Today the `GenerateFun

[2022-06-17 21:58] rainersigwald commented on #8487
@fabiocav it looks like you were the most involved in some of the other issues and have checked into the task code. Does this seem like a reasonable idea to you?

[2022-06-18 01:09] mattchenderson commented on #8412
Interestingly, I don't see requests for managed identity tokens coming from your app after 5/25, though I do see it is configured to have the identity. That does align with what I was thinking given that the error seems to be attempting to do a non-shared key, but only since then. More on the original errors a bit later.

## Current error

The current error is happening at startup, and I see it as

[2022-06-18 19:02] ghost commented on #8455
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-19 02:39] kshyju commented on #8116
Closing as answered, but please let us know if you have any additional questions/issues.

[2022-06-19 02:39] #8116 closed, assigned to kshyju

[2022-06-19 06:17] uttom-akash commented on #8022
@Ved2806 But the lifetime of the service provider is equal to the lifetime of the function. I mean it behaves like a singleton object.

[2022-06-19 22:02] ghost commented on #8395
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-19 22:02] ghost commented on #8286
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-20 06:24] yashkmochi007 commented on #2721
Is there any update on this issue?
I have been using Service bus since past 1 and half year. Till now, it was smooth.
We were getting bill in few dollars every month.
But since last 1 week, it is showing a very large amount of requests, even there is no much change in no. of messages.
It is impacting us hard in terms of billing. Every day bill is incrementing by few dollars (Approx. 20x).

![image

[2022-06-20 15:02] ahawes-clarity commented on #8412
Yes, I was trying different configuration settings to see if I could work around the issue while waiting for help. Yes, I had AzureWebJobsStorage__accountName and later changed it to putting the connection string in the AzureWebJobsStorage. I can set it back to AzureWebJobsStorage__accountName if that is the best course for troubleshooting.

I did/do have the Storage Blob Owner role permission ass

[2022-06-20 22:21] paulbatum commented on #2721
@yashkmochi007 I recommend filing a ticket with Azure support.

[2022-06-21 04:02] ghost commented on #8230
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-21 04:41] dxynnez commented on #8395
Thanks @brettsam ! I actually talked to the event hub trigger folks at the [azure-sdk-for-net](https://github.com/Azure/azure-sdk-for-net) repo but they made it sound like each trigger basically is only in charge of fetching new 'works' (e.g. pumping in events), but it's up to the function host to decide whether to start the 'work' (invoke the corresponding function) or not. Is it not the case?

F

[2022-06-21 04:52] v-oleg commented on #8230
Hi @Ved2806,
version: ~3
timer trigger function runs every 30 minutes

Example

host.json
[code]

[code]

[2022-06-21 14:36] changeforan commented on #4147
hi @ahmelsayed, is there any other option in 2022? I noticed that `AzureWebJobsSecretStorageType ` can be set to `keyvault` now. But there is no doc showing how to store master key in keyvault for an Azure Function.
Can you take a look?

[2022-06-21 19:30] mdarefull opened #8489 "Function App Connections Leak"
#### Investigative information

- Timestamp: June 9th 5:30 PM UTC
- Function App version: ~3
- Function App name: func-connections-cus-dev
- Function name(s) (as appropriate): GetById
- Region: Central US

In our production APIs, hosted in dedicated ASPs, we found that, after some usage, the APIs would stop connecting to our SQL On-Prems DB throwing timeout exceptions that would only get away if w

[2022-06-21 20:29] michaelpeng36 commented on #8455
Reopening, as testing still needs to be done with Host 4.7.0 once it is published to the appropriate channels.

[2022-06-21 22:32] arturohernandez10 opened #8491 "On VS2022 `Microsoft.AspNetCore.Server.Kestrel.Core: Synchronous operations are disallowed. With .Net6 & Azure Functions 4"
#### Check for a solution in the Azure portal

N/A

#### Investigative information

As I understand this issue should have gone away by now. My project file is:

[code]

#### Repro steps

Provide the steps required to reproduce the problem:

Add the code below and hit run in a developer environment. Make a request to the endpoint and this error shows up on the console:
`Microsoft.AspNetCore.Server

[2022-06-22 03:14] joshua-hayes commented on #7794
Just chiming in on this 8 months on as we have run into this issue at my company and I see a fix has still not been implemented. Has there been any updates or progress on this front?

[2022-06-22 10:42] ilya-scale opened #8492 "Diagnostic for FunctionAppLogs does sends datetime using "bad" format"
#### Investigative information

- Timestamp: 2022-06-22
- Function App version: 4.6.1.1
- Region: North Europe

#### Repro steps

1. Set up diagnostic settings to send FunctionAppLogs (in my case it is logz.io integration provided by Microsoft)
2. Invoke a function to produce logs
3. check the msg.time property, it looks like that: "06/22/2022 10:24:59"

#### Expected behavior

I expect msg.time t

[2022-06-22 14:18] #8142 closed, assigned to mathewc

[2022-06-22 14:42] arturohernandez10 commented on #8491
A clean build got me an error. Don't remember exactly the error but it said `dotnet` was the wrong runtime.

I modified my local.settings.json file to specify `dotnet-isolated`. And that worked.

[code]

I am not sure why it was the last clean build, which gave that error. But it worked!!

[2022-06-22 14:42] #8491 closed, assigned to surgupta-msft

[2022-06-22 16:40] fabiocav commented on #8414
@satvu do we need to capture additional details about the work here to make this actionable so we can have it assigned to a sprint?

[2022-06-22 16:47] mattchenderson commented on #8412
Apologies - yes, my assertion is that this looks like some bug that is happening lower in the stack outside of your control. It very well could be an issue with the preview support for idenitity-based in Durable (or even just the intersection with the preview for AzureWebJobsStorage). I left that doc primarily as a breadcrumb trail for ongoing investigation, and I did not mean to imply any action

[2022-06-22 16:53] ahawes-clarity commented on #8412
Thank you. I am anxious to get past this issue. I know there is time but I had hoped to get this resolved well before the December 3rd deadline to upgrade to Azure Functions 4 due to the retirement of .NET Core 3.1. Let me know how I can help.

[2022-06-22 16:58] satvu commented on #8414
@fabiocav I added it to the project but think I didn't add this to the backlog correctly. I've never touched any of the related components but seems straightforward.

[2022-06-22 17:33] fabiocav opened #8498 "Cold start regression initializing DebugStateProvider"
A recent fix enabled a change token notification that triggered additional logic to run in the context of cold start. The change is required, but the code we're now triggering should be updated to delay execution until after cold start.

The code being executed is a result of the registration that takes place [here](https://github.com/Azure/azure-functions-host/blob/1347a2b1c10fdbd040be5f16f91d365

[2022-06-22 18:24] liliankasem commented on #8452
PR almost ready to merge, should close by EOD - probably do not need to move to next sprint

[2022-06-22 18:28] liliankasem commented on #8273
Have spoken to several language owners on this topic and it appears that this will be beneficial in catching issues that have been missed in our kusto logs. Will need to have a further discussion on usage of RpcLog vs stderr/stdout. We also discussed changing this to be a capability instead of a worker.config setting.

@fabiocav if we feel this is a breaking change, we can punt this down the road,

[2022-06-22 18:30] liliankasem commented on #2152
Design document available [here](https://dev.azure.com/msazure/One/_git/AAPT-Antares-Docs?path=/TeamDocs/FunctionTeamDocs/Design/CancellationTokens/OutOfProcCancellationTokens.md&_a=preview&anchor=out-of-proc-support-for-cancellation-tokens).

Had conversations with language owners and set expectations on what is in scope for this work item. The remaining work here is outlining the host changes we

[2022-06-22 18:35] mofriedkj commented on #1431
i have the same issue that the http trigger func get executed twice,that cause me a lot of problems

[2022-06-22 19:03] kshyju opened #8499 "Introduce new app setting to control skipping null entries from event payload when sending to OOP layer"
Background:
For out-of-process functions, the host code gets the trigger data from the listener/processor module & then we convert the event data object [to RPC invocation request](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.Grpc/Extensions/ScriptInvocationContextExtensions.cs#L25) instance which we will send to the out-of-process worker via GRPC. In the current imple

[2022-06-22 19:22] liliankasem commented on #8304
This is specifically for customer code right? For worker code, you can use the system category to log things without an ID

[2022-06-22 20:13] fabiocav commented on #8257
Linked PR in progress. Moving to sprint 125

[2022-06-22 20:14] fabiocav commented on #8256
Linked PR in review. Moving to sprint 125.

[2022-06-22 20:30] fabiocav commented on #8273
Sounds great! Moving to sprint 126 to start executing on the proposed design

[2022-06-22 21:08] mofriedkj opened #8500 "System.Runtime.InteropServices.COMException"
i have a http trigger serverless function that get called by a third party app and sometimes azure function doesn't find hosting till up to 10 seconds from when the app send the request,and the app wait only 5 seconds for a response and finish if dont get a response, so i get a error

**Exception while executing function: lineitemmodify Exception binding parameter 'req' The client has disconnected

[2022-06-22 22:38] rahulsingii commented on #1130
I am also stuck with the same problem, asked the same in the community [portal](https://docs.microsoft.com/en-us/answers/questions/899398/cancel-or-stop-an-azure-function-instance.html) as well.

[2022-06-23 01:02] #8286 closed, assigned to surgupta-msft

[2022-06-23 02:07] navrajarch opened #8501 "Azure function queue trigger not working"
I wrote an azure function which will get triggered when an entry to queue is made.
After receiving data it will send a welcome email via sendgrid to the newly registered user.
The function works in Visual studio an queue trigger is fired when running in Visual studio, however when i deploy it via Visual studio publish, its not working.
It worked for first day but then the next day it just stopped

[2022-06-23 07:35] lipalath-ms commented on #8460
@Ved2806 @mattchenderson  Any update on this please?

[2022-06-23 08:04] planty commented on #8500
we are seeing the same `System.Runtime.InteropServices.COMException` errors in our function apps (.netcore 3.1)

[code]

Stack trace:
[code]

I have read that this may be due to the client disconnecting before the request is handled, but these errors are being thrown before it reaches our function app code, so what can be done about it?

[2022-06-23 08:59] kshyju commented on #8500
@mofriedkj If the client is disconnecting the connection, the [Microsoft.AspNetCore.Connections.ConnectionResetException](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.connections.connectionresetexception?view=aspnetcore-6.0) will be thrown and [function runtime code will catch that and log it](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/

[2022-06-23 11:11] mofriedkj commented on #8500
i also have the same stack trace, and i see that its happen only when the client stop the connection,and the app that send the request is from a third party company that i can't do nothing for it

[2022-06-23 11:28] planty commented on #8500
in my case, the endpoints are being called by a web frontend, so I assume the users are closing the webpage/browser while the request is still in progress.

[2022-06-23 16:14] mattchenderson commented on #8460
This is not enough information for us to action upon. What are the contents of these modules? What is the resolved actual ARM template? For which operation is the error being presented? You can get the overall status information from the "Deployments" tab in the resource group within the portal. Drilling in can show individual steps failing.

[2022-06-23 16:29] JKamsker opened #8503 "Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=6.20.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'"
Same as https://github.com/Azure/azure-functions-host/issues/5756

Settings:
[code]

Package:
[code]

Adding ``<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>`` or using a custom AssemblyResolver solves this issue seemingly but a real fix would be appreciated.

[2022-06-23 16:46] #8452 closed, assigned to liliankasem

[2022-06-23 18:35] lipalath-ms commented on #8460
@mattchenderson  @Ved2806

[NonProdService.zip](https://github.com/Azure/azure-functions-host/files/8970333/NonProdService.zip)

Please see above bicep templates that I use for deployment.

![image](https://user-images.githubusercontent.com/6519992/175370852-10acc516-fe95-4218-92ce-e71e87218d54.png)

![image](https://user-images.githubusercontent.com/6519992/175371146-2c6c7eba-387a-4379-8d20-3d93b

[2022-06-23 21:00] michaelpeng36 opened #8508 "Use of obsolete IApplicationLifetime interface"
This repository [references](https://github.com/Azure/azure-functions-host/blob/4e3265b12afb733450793ae3f49d36472ce446bf/src/WebJobs.Script.WebHost/WebJobsApplicationBuilderExtension.cs#L18) the `IApplicationLifetime` interface, [which is obsolete and will be removed in the future](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.iapplicationlifetime?view=aspnetcore-6.0). T

[2022-06-24 01:05] Krucial92 commented on #5373
@ejizba @anthonychu do we have any ETA of when this feature will be available? Or how far off is this newer programming model from completion? I appreciate that this is being worked on, however this issue was opened almost 3 and a half years ago.

[2022-06-24 01:29] ejizba commented on #5373
Hi, we recently created a roadmap that you can use to track dates for Node.js features. We will try to keep it as up to date as possible. See here: https://github.com/Azure/azure-functions-nodejs-worker/wiki/Roadmap

A few other notes:
- For practical purposes, there is no difference between "this feature" and "the new programming model". They are directly tied together and unfortunately you canno

[2022-06-24 01:37] Krucial92 commented on #5373
Thank-you for the update @ejizba, and the roadmap is helpful to get an idea of estimated timelines 🙏

[2022-06-24 12:51] iamashank commented on #8401
The same is happening for EntityFramework.
`<PackageReference Include="EntityFramework" Version="6.4.4" />`

The build gets stuck trying to process EntityFramework.dll.
Looks like something to do with System.ComponentModel.DataAnnotations.dll.

![image](https://user-images.githubusercontent.com/23148776/175539383-d732c10c-c68b-4d70-9397-09fc5f8d48fb.png)

[2022-06-24 18:11] mattchenderson commented on #8412
The Storage team confirmed that the HMAC error is because the Storage SDK is being handed a key. This is evidenced by the computed signature value that Storage presents there. So, the theory is that somewhere in the system, a bad shared key value is being set, either because it was rotated out or tampered somehow.

Durable is not returning these errors after all. It has an equivalent, but the stac

[2022-06-24 18:56] ahawes-clarity commented on #8412
@mattchenderson  I will work on your suggestions on Monday. Thanks

[2022-06-24 20:49] surgupta-msft commented on #8501
@navrajarch I noticed below exception in our logs related to your app.

[code]

[2022-06-24 20:52] surgupta-msft commented on #8157
@qsdfplkj Apologies for not being able to get to this issue. Are you still looking for assistance here?

[2022-06-24 21:14] yojagad opened #8511 "Log Functions_Extension_version"
We have `Starting Host` log that logs the `Functions_extension_version`. Sometimes function app can fail to startup thus we may not even have that log.

We need a more reliable way to get `Functions_extension_version` by doing one of the two below.

- Adding a column
- Simply adding another log statement that is guaranteed to show up despite failures.

cc: @pragnagopa @mathewc

[2022-06-24 21:31] qsdfplkj commented on #8157
I did provide a reproduction which you could you have a look at and tell me if it is useful. I sometimes like to replace the factory for the adding additional logging information. Similar probably for the reasons it’s done in azure functions. But I don’t need assistance at this time.

[2022-06-24 22:43] mathewc commented on #8511
I think we could just update the early "building host" log we emit [here](https://github.com/Azure/azure-functions-host/blob/86efe24eaf1d7d016975fe72c9d193670bebf66b/src/WebJobs.Script.WebHost/WebJobsScriptHostService.cs#L272) to include the the value of environment variable FUNCTIONS_EXTENSION_VERSION. We already log HostVersion as a column, so the log line will then have both. E.g. change to "Bu

[2022-06-25 07:02] ghost commented on #8395
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-25 22:02] ghost commented on #8455
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-25 22:02] ghost commented on #8413
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-26 10:27] navrajarch commented on #8501
Thanks for the investigation @surgupta-msft  . This might mean that there is an issue in connection string. the one working previously was valid for 1 day and i replaced it with the newer one which has 1 year validity and that connection string is working fine offline. however after updating it several times on the function app in Configuration section its still not working.
are there any logs aft

[2022-06-26 10:51] chaospixel commented on #8413
@surgupta-msft , I think you might have missed a crucial part of the author's post...

His Function was writing to the Response stream directly, and flushing it. Your counter-example is buffering the response and then sending it. These are fundamentally different approaches.

In the author's streaming response scenario, the stream has progressed beyond the point where headers can be added. Whateve

[2022-06-26 10:54] chaospixel commented on #8413
also, this appears to be related to https://github.com/Azure/azure-functions-host/issues/8080

[2022-06-27 02:11] dxynnez commented on #8395
This is not stale, please.

[2022-06-27 09:23] Ved2806 commented on #8501
Hi @navrajarch Thank you for the feedback we will discuss this issue internally and let you know about the findings soon.

[2022-06-27 09:25] Ved2806 commented on #8492
Hi @ilya-scale Thank you for the feedback, we will discuss this issue internally and let you know about the findings soon.

[2022-06-27 12:47] Ved2806 commented on #8476
Hi @hamhus Thank you for the feedback, we will discuss this internally and let you know about the findings soon!

[2022-06-27 16:05] shinji opened #8513 "Fetch a package from Azure Blob Storage using a managed identity only works in consumption plan"
Fetch a package from Azure Blob Storage using a managed identity only works in consumption plan. Not supported in Basic or Premium tiers.

Documentation reference:
https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package#fetch-a-package-from-azure-blob-storage-using-a-managed-identity
https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?t

[2022-06-27 16:15] ahawes-clarity commented on #8412
@mattchenderson, I really appreciate all your help.

At first I put in the storage connection strings manually and I was still getting the MAC error.

I then double checked the connection strings and they were different. It turns out that unbeknownst to me the keys had changed to the storage connections (which is odd because the same connections are working in the current v3 production application

[2022-06-27 17:24] mattchenderson commented on #8412
Sounds good - thanks for the follow-up and the feedback!

[2022-06-27 17:24] #8412 closed, assigned to kshyju, Ved2806

[2022-06-28 22:02] ghost commented on #8157
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-28 22:15] qsdfplkj commented on #8157
Sure

[2022-06-29 11:42] ishepherd commented on #8087
Hello 👋 just clicking around these linked issues.

It is news to me that `AzureWebJobsStorage` isn't a hard requirement for a functions app.

It is news to some of the docs writers too. Could you please update? e.g.:

* https://docs.microsoft.com/en-us/azure/azure-functions/storage-considerations#:~:text=when%20creating%20a%20function%20app%2C%20you%20must
* https://docs.microsoft.com/en-us/azure/

[2022-06-29 13:01] RichardBurns1982 commented on #8322
Any update on this?

[2022-06-29 14:40] flq commented on #8413
@surgupta-msft yes, I'm also a bit confused about the example you provide - I would have assumed that your example would also have run correctly before whatever you changed, since you actually do provide a return from the function? 🤔

[2022-06-29 16:25] shreyas-gopalakrishna opened #8516 "Worker Profiles - Active profile not being tracked"
During specialization, we want to restart job host to use the right profile in case it has changed.
Currently active profiles and existing profiles are not visible at WebHostRpcWorkerChannelManager

Currently the profile manager is initialized at the [RpcWorkerConfigFactory](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Rpc/Configuration/RpcWorkerConfigFactory.c

[2022-06-29 20:17] fabiocav commented on #8499
This would likely (ideally) be a capability advertised by the language worker as opposed to an app setting.

[2022-06-29 20:20] fabiocav commented on #8222
This item requires design and we need to gather requirements for worker logs not associated with an invocation.

Adding to the backlog for the design work.

[2022-06-29 20:20] fabiocav commented on #8222
@AnatoliB it would be good to sync on this to make sure we're not duplicating anything you're already planning for this area.

[2022-06-29 20:37] fabiocav commented on #8304
The key ask here is for the ability to send user level logs to the host. The mechanism we expose today enables infrastructure (worker) level logs to flow through, but doesn't apply to user level logs.

The work being done by @brettsam (Worker AI integration) should address this requirement, but this issue is also captured by #8222 . So we're closing this issue as a duplicate.

Link to the AI PR: h

[2022-06-29 20:37] #8304 closed, assigned to kshyju

[2022-06-29 20:38] fabiocav commented on #8498
Resolved by linked PRs

[2022-06-29 20:38] #8498 closed, assigned to brettsam

[2022-06-29 20:46] fabiocav commented on #8261
@TsuyoshiUshio would you be able to validate/investigate this use case?

@mattchenderson for awareness/comments

[2022-06-29 20:52] fabiocav commented on #8322
@RichardBurns1982 this is indeed a limitation of the Functions DI implementation. Adding this to the backlog so we can look at options on how to address this.

[2022-06-29 20:53] fabiocav commented on #8181
@pragnagopa do you have public guidance on the images/requirements needed for standalone K8S hosting scenarios?

[2022-06-30 15:33] timgabrhel opened #8519 "Functions V4 .NET 6 - Errors on Sync Web Apps Function Triggers/functions disappear from list"
I am trying to deploy a brand new Functions app using v4 and on .NET 6. This is a class library project that publishes multiple dlls. I have 4 ServiceBusTriggers, and can run & debug functions locally. There are no warnings nor errors in the local func.exe execution.

I can navigate to the host logs via the kudu debug console and find logs that match my local development experience. Startup is suc

[2022-06-30 18:03] Francisco-Gamino commented on #7457
Hello @fabiocav -- Could you please consider fixing this issue? High level, we need to have some kind of record in the logs on what key was used for authentication. Having a hash or something like this could be helpful for CRI investigation where authentication failed. Right now, we do not have a way to determine what key was used and whether that key was valid. Thank you.

/cc @cjaliaga @FinVamp1

[2022-07-01 01:38] imdiptanu opened #8520 "Function App: Missing Application Settings detected mitigation not working"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? C#

#### Question
Function App -> "Diagnose and Solve problems" dashboard showing the below error -

[code]

![image](https://user-images.githubusercontent.com/35115483/176804202-30ede708-4c0c-42be-bcef-a36d892ba966.png)

I am using managed identity and `xxSBConnection__full

[2022-07-01 02:12] Ved2806 commented on #8476
Hi @hamhus Did you tried scaling up the app from the portal? please let us know if it works. Thanks.
@AnatoliB @alrod Do you have any inputs on this?

[2022-07-01 04:02] ghost commented on #8395
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-07-01 05:58] dxynnez commented on #8395
This is not stale, can someone fix the bot, please? @Ved2806 @brettsam

[2022-07-01 10:02] ghost commented on #8501
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-07-03 16:02] ghost commented on #8413
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-07-03 17:28] flq commented on #8413
I am the author of the issue and I've responded - correct? So here's my feedback: The proposed code sample does not correspond to the problem outlined in the beginning.

[2022-07-04 07:02] #8395 closed, assigned to brettsam, Ved2806

[2022-07-04 08:56] dxynnez commented on #8395
this is not complete. Please reopen.

[2022-07-04 14:43] Ved2806 commented on #8478
Hi @pragnagopa Could you please help with this issue?

[2022-07-04 16:03] d-wozniak opened #8523 ""The host is disposed and cannot be used.""
#### Investigative information

- Timestamp: **_2022-07-04T13:13:56.9858889Z_**
- Function App version: **_sdkVersion: azurefunctions: 3.8.2.0_**
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: **_0404ce91-fc77-4aa1-87f2-6c4d852f5156_**
- Region: **_North Europe_**

#### Repro steps

1. The reproduction steps require the usage of the application that is responsible for t

[2022-07-04 23:21] ABNERMATHEUS commented on #8503
This problem resolved  for me

[2022-07-05 04:02] ghost commented on #8476
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-07-05 11:05] bogedal commented on #8189
I just hit this issue today - minor bicep change and my function went offline.
Reason WEBSITE_RUN_FROM_PACKAGE was removed from app settings.
Quite hard to set WEBSITE_RUN_FROM_PACKAGE from bicep since there are several .zip files in my blob storage :)

my to cents would be to leave WEBSITE_RUN_FROM_PACKAGE alone if not present in the bicep script

[2022-07-05 11:36] fowl2 commented on #8395
I think we're kind of talking about "backpressure" here. I'm also interested in this answer.  (A bit of a different context - consumption plan with limited instances and multiple trigger types (trigger providers?))

It'd be great if eg. there were lots of HTTP trigger executions, fetching/processing of Service Bus messages could be reduced.

[2022-07-05 15:49] KuSh commented on #7858
Hi, same here with a linux + node runtime.

Tested on ~3 runtime + node 14 and ~4 runtime + node 16. It fails in both cases
I've tested the code to pass without error when constrained under 150MB on local but it fails constantly with error 137 on azure.
The code is filtering and sorting a ~200k string array of url strings, then convert it to a set then back to an array

[2022-07-05 16:05] walterstypula commented on #2015
@mathewc we just ran into this host id truncation issue out of no where, it was working up until last friday July 1, 2022. Our v4 application did start. It also read and processed messages from a incoming queue. However, it would fail writing to an output queue. We have resolved it by changing our site names.

[2022-07-05 16:45] drekuru commented on #586
@mathewc any updates here?

[2022-07-05 18:24] surgupta-msft commented on #8413
Got it. Yes, I am able to repro the issue. Thanks @flq and @chaospixel for clarifying. We will need investigation here but the requirements mentioned in the issue are clear.

@flq Just wanted to double check if the [suggestion](https://github.com/Azure/azure-functions-host/issues/8080#issuecomment-1128049043) provided in related [issue](https://github.com/Azure/azure-functions-host/issues/8080) is

[2022-07-06 12:37] verschaevesiebe opened #8525 "Major bug in HttpTrigger receival of payload"
Hi All,

After some investigation I'm having trouble with Azure functions.
This is a simple Azure function which receives a HTTP Trigger call with an application/json Content-Type.

The function works perfectly fine for **all** invocation as always.
However, we have added an additional field to our JSON payload which is "bytes": 1253.
To give some small context, the bytes field is just the length

[2022-07-06 15:43] edgBR commented on #5663
We are having the same issue here with a Function App deployed using docker containers.

@obiii can add more details.

[2022-07-06 20:27] fabiocav commented on #2152
Design is complete. @liliankasem has made good progress on the implementation and is working on additional validation prior to opening a PR.

Moving to 126 as a tentative sprint as Lilian may not have enough cycles to complete the work then.

[2022-07-06 20:30] fabiocav commented on #8360
Moving this back to the backlog/triage

[2022-07-06 20:33] fabiocav commented on #8273
This is assigned to sprint 126 as a stretch goal item.

[2022-07-06 20:46] fabiocav opened #8529 "Update JSON.NET Configuration for 3.0"
Issue tracking the configuration update for V3

[2022-07-06 21:14] kwasilka commented on #7829
We're facing the same issue.  We're running Uvicorn with FastAPI in an azure app service and experiencing the exact same issues logged here.  Most often, we see the error and the end user receives a non descriptive 500 error, when our requests hit above 100.

So interesting events we're seeing, with info logging enabled in Uvicorn, we see the requests being answered form a different IP than what i

[2022-07-07 12:48] frli opened #8531 "Recurring instance cycling causing messages to spend long time in sb topic subscription before being handled"
Hi!
I've been investigating sporadic long processing times in one of our functions only to realise that vast majority of time is actually spent elsewhere in a recurring pattern. The function in this case uses a service bus trigger (topic subscription) and it hums a long and handles a message every few seconds and spends the majority of its time scaled to one instance on a consumption plan. Wheneve

[2022-07-07 16:10] frli commented on #8531
Because we all like graphs here is the same function app with same log analytics query as above but this time from another environment (production).
![Screenshot 2022-07-07 at 18 05 56](https://user-images.githubusercontent.com/1047912/177820481-3e0d2390-c283-42bd-b101-0c782657fc3e.png)

[2022-07-07 18:53] andystaples commented on #8455
We are having another issue with worker indexing, this time in PowerShell functions. Output from core tools --verbose is:

[code]

@surgupta-msft  @michaelpeng36 Removing the extension bundles resolves the issue, @gavin-aguiar sent us this issue when we were trying to figure out what was going on. Is this the same issue, or should we open another one? Let me know if you want to set up a quick meet

[2022-07-07 19:49] kwasilka commented on #7829
From further testing and research, I had found some other information how people had auto scale out enabled, without going into much details.

Today I started testing this a little further, with logged requests to the service being replied from IP .4. When the middleware error would show, it was being reported from .3. Setting the scale out manually to 2, we were no longer able to reproduce the er

[2022-07-08 00:04] #4296 closed

[2022-07-08 07:02] #8476 closed, assigned to kshyju, Ved2806

[2022-07-08 15:20] kwasilka commented on #7829
This appears to still be an issue for us.  This morning we seen the error show up, on an IP that is answering requests, and even answered requests 50 ms after the error

2022-07-08T15:10:12.357743322Z [41m[30mfail[39m[22m[49m: Middleware[0]

2022-07-08T15:10:12.357781122Z       Failed to forward request to http://xxx.xxx.xxx.7:8000. Encountered a System.Net.Http.HttpRequestException exception

[2022-07-09 09:16] klyse opened #8536 "Azure Functions Authentication during Development / local testing"
#### Question

My Azure functions (mostly written in C#) require HTTP authentication (`AuthorizationLevel.User`). I found many resources on how to configure OpenID on Azure but could not find much on how to setup the authentication locally during development.

The [function core tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2C

[2022-07-11 12:42] Hector47 opened #8539 "Function key of function app change every 15 day"
The function key change every 15 days without deployment or action on the function

Only activity in the activity log of the function is the list key to get the new key of the function

#### Investigative information

Please provide the following:

2022-07-11 12:37:41.831 Executing 'XXXXX' (Reason='This function was programmatically called via the host APIs.', Id=011ee644-3e30-4145-89fa-ce786cd436

[2022-07-12 06:31] TimoBSchott opened #8541 "Azure Blob Function does never trigger with reason logging "has already been processed""
#### Check for a solution in the Azure portal
- Create Azure Function with Blob Trigger
- Add subdirectories in dataset
- Upload files by Storage Explorer, Webportal, DotNet-Client

#### Problem
The Azure Function never triggers, even not after stop/start or restarting. Even not if Queue is cleared.

#### Log
'2310557f-ad7d-4a11-9f28-52186850298c' found 1 blobs in 97 ms. ContinuationToken: False.

[2022-07-12 13:26] Ved2806 commented on #8503
Thank you for the feedback

[2022-07-12 13:26] #8503 closed, assigned to kashimiz, Ved2806

[2022-07-12 14:43] Ved2806 commented on #8536
Hi @klyse You may want to try [this](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-openid-connect?toc=%2Fazure%2Fazure-functions%2Ftoc.json). Please let us know if it is helpful?

[2022-07-12 14:49] Ved2806 commented on #8539
Hi @Hector47 Thank you for the feedback, we will discuss this issue internally and let you know about the findings

[2022-07-12 14:54] klyse commented on #8536
Hi @Ved2806, thanks for the answer but I am afraid this describes only how to configure the app service on Azure. I specifically asked on how to configure this locally for testing / debugging purposes.

[2022-07-12 16:12] mdddev opened #8542 "Blob-triggered functions execute several times even though maxDequeueCount is set to 1"
Please provide the following:

- Timestamp: 2022-07-12T15:58:41.180Z
- Function App version: 4
- Function App name: cannot disclose publicly
- Function name(s) (as appropriate): cannot disclose publicly
- Invocation ID: efc37408-a985-4f8f-b280-0885248a4d57
- Region: West-Europe

#### Repro steps

Blob-triggered functions under the hood work with queues. In the `host.json` there is a section to set

[2022-07-13 02:41] arpitmishra-eaton opened #8544 "update azure function app setting"
is there any way to updated the app  setting through github action or the pipeline, please

[2022-07-13 07:19] dxynnez commented on #8395
@Ved2806 @brettsam could any of you help reopen the issue? I don't think it's been addressed. Thank you!

[2022-07-13 19:47] Yash-Poddar commented on #8254
Hi @danpetitt, have you got any lead on this? I'm facing a similar issue
![image](https://user-images.githubusercontent.com/57384959/178818056-cd9954cf-202b-4891-8452-0b80bec67897.png)

Hi @Ved2806, have you guys reached to any conclusions after internal discussions?

I have multiple timer triggers, all 3 of them (scheduled to run every hour) are behaving weirdly (not firing every hour) similar to

[2022-07-13 20:31] fabiocav commented on #8261
Reached out to the Scale Controller team for investigation.

[2022-07-13 20:34] fabiocav commented on #8349
In addition to the work being done for graceful shutdown, we'll also look into handling this exception and making sure the noise is reduced.

[2022-07-13 20:35] pragnagopa commented on #8181
@lpapudippu  - can you help with the guidance needed?

[2022-07-13 20:43] TsuyoshiUshio commented on #8261
Hi @Archomeda
Which extension version for Service Bus do you use?

[2022-07-13 21:47] danpetitt commented on #8254
@Yash-Poddar nope, heard nothing from this thread and support just went quiet and haven't heard a thing. Contemplating moving it to aws which appears much more reliable which is a shame as we spend over £20k per month with azure

[2022-07-13 22:22] surgupta-msft commented on #8525
@verschaevesiebe Thank you for bringing up the issue. I was able to reproduce it.

**Repro Steps -**
1. Create a Node app from Azure portal.
2. Create Http trigger.
3. Invoke Http trigger with request body as below and you will get 500 Internal Server Error.
4. Update body to make it string - `"bytes" : "2"` and will get 200OK.

[code]

It seems to be happening with Node apps. I tried repro with p

[2022-07-13 23:10] surgupta-msft commented on #8501
@navrajarch I cannot see any logs on your app after Timestamp - 2022-06-26 11:09:49 and before that the only errors I can see are related to storage authentication.

[code]

[2022-07-14 00:22] #7489 closed, assigned to safihamid

[2022-07-14 00:23] TsuyoshiUshio commented on #8261
Unfortunately, Scale Controller Default with `SeviceBus` doesn't support. However, we support `AzureWebJobsServiceBus`. However, the V5 extension looks support `ServiceBus` for default value. https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusClientFactory.cs#L61 We are working on Scale Controller improvement; howe

[2022-07-14 11:06] AdaTheDev opened #8545 "Function HostID collision check"
#### Is your question related to a specific version? If so, please specify:
Upgrading Azure Functions v3 to v4

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
N/A

#### Question
Relates to the Function HostID collision warning when running the "Functions v4.X Pre-Upgrade Validator", and the "Function App Name Collision Found" warning. I'm upgrading from V3 to V4.

[2022-07-14 12:27] richardszalay opened #8546 "DI Scope for Function class constructor and HttpContext are different"
#### Investigative information

Please provide the following:

- Function App version: 4.6.1.18388

#### Repro steps

Run a basic Azure Function project with the following code:

[code]

#### Expected behavior

The injected services are the same instance because both were resolved within the scope and the service has a scoped lifetime.

#### Actual behavior

The injected services are different ins

[2022-07-14 16:43] hughesjs commented on #5841
I can't help but feel like pulling Newtonsoft in is taking a step backwards rather than a solution... The whole point of `System.Text.Json` was to replace Newtonsoft

[2022-07-15 07:19] MO2k4 commented on #7610
Thanks @TobiasBreuer, thats a great example on how data passed to the functions should be handled. I am trying to wrap a different query parameter name like value_id to ValueId, but i can't seem to get it working. I tried [FromQuery(Name = "value_id")] and also DataMember, but nothing seems to work.

Do you have a solution for this too? :-)