[2018-05-24 05:37] wlloyduw commented on #1451
If the memory usage per function is not available, does this suggest that Azure Function's billing implementation is based on accumulated memory usage for a function over time?

In other words, there is a meter tracking accumulated memory usage at the function level (what the graphs show), but not at the call-level?

![image](https://user-images.githubusercontent.com/25626906/40466317-e818e902-5ed

[2018-05-24 12:01] FabioReis commented on #2870
Update: It seems we are running into memory problems. On the dedicated app service plan we enabled auto scale and know we are not having the problem anymore.

We still have the problem in the consumption plan though. But there is something different in this app service. It doesn't seem to be a normal consumption plan like we have in other environments. The difference is that although it says it is

[2018-05-24 17:54] pragnagopa opened #2894 "Configuration set by the CLI is being ovveridden"
Azure Functions CLI sets commandline arguments for configuring language worker debug ports: [StartHostAction.cs#L157](https://github.com/Azure/azure-functions-core-tools/blob/master/src/Azure.Functions.Cli/Actions/HostActions/StartHostAction.cs#L157)
But this config is being ovverridden in the functions script settings manager
[ScriptSettingsManager.cs#L128](https://github.com/Azure/azure-function

[2018-05-24 17:56] pragnagopa commented on #2894
To fix the debug experience, we have decided to update CLI to inject language worker debug settings as environment variables instead of commanline arguments.

[2018-05-24 18:31] alexkarcher-msft commented on #2826
I was just using the defaults from the portal. On the portal my runtime version is listed as 2.0.1.0. Where are the instructions to update the image? The only thing I could find online was this doc for a custom image. https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image

[2018-05-24 18:41] paulbatum commented on #1649
OK I am closing this as I cannot repro and I think it was fixed as part of other bug fixes. Please comment if you are setting max batch size and are still getting more messages in an invocation than what you set.

[2018-05-24 18:41] #1649 closed

[2018-05-25 14:18] JimiSmith commented on #2470
@mathewc Apologies for the delay. I've attached a sample project. I was mistaken in the earlier comment when I said we weren't using invocation features - it turns out they are used
[2470Repro.zip](https://github.com/Azure/azure-functions-host/files/2039659/2470Repro.zip)

[2018-05-25 14:19] JimiSmith commented on #2470
This sample project doesn't have the same stack trace as the one I pasted earlier but it still doesn't contain any code from the project.

[2018-05-25 14:32] nzthiago commented on #2554
Met with @fabiocav offline. Indeed {Query.ratingid} works for the Id field of the CosmosDB input binding. It didn't work inside SqlQuery though and Fabio will start an investigation.

[2018-05-25 14:43] brettsam commented on #2554
Does `{Query.ratingid}` work for `SqlQuery` in v1? I suspect not.

PR https://github.com/Azure/azure-webjobs-sdk-extensions/pull/354 was opened a while back by @anthonychu. The goal was to get headers working with `SqlQuery`, but it exposed some flaws in our binding policy system and we ended up punting it. In short, it was really hard to mimic the behavior of other bindings without doing a lot of

[2018-05-25 14:57] brettsam commented on #2554
Agree. We'll need to fix it.

For a little background -- SqlQuery (and Table's query) has custom logic for preparing the query payload (https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.CosmosDB/CosmosDBSqlResolutionPolicy.cs), and it wasn't designed for nested properties. The context we're given doesn't have enough information for us to build up the SQL query i

[2018-05-25 15:12] brettsam opened #2895 "Function should fail indexing if using a non-existent binding"
I created a JavaScript function that was using a binding that I didn't have. I was expecting it to fail during indexing and be disabled, but the trigger continued to fire and, since I was attempting to access the binding value, the invocation failed.

I wasn't expecting it to behave this way, so wanted to call it out and see if it was by-design. It seemed like we would give a clear exception durin

[2018-05-25 17:18] #2891 closed

[2018-05-25 17:31] jacktho commented on #2863
@paulbatum It seems you are correct. After having another look, it appears chromium is the only thing on my system that trusts the CA cert for the emulator.

I fiddled with openssl settings for a few hours and am going to throw in the flag and just use Cosmos DB  on Azure for local dev.

[2018-05-25 17:31] #2863 closed

[2018-05-25 18:29] mhoeger commented on #2880
@huangyingting - closing this issue as I believe it is resolved. Please feel free to re-open and @ tag me if there's more we can do!

[2018-05-25 18:29] #2880 closed

[2018-05-25 19:09] brandonh-msft opened #2896 "[v2] can't return XML response with content-type set to application/xml"
I was trying, in a v2 function, to return an XML response to the caller. Of course, I want my `Content-Type` header to be properly set to `application/xml` in this case.

Using the V2 (ASP.Net Core) types, I was unable to do so. Documented my experience [here](http://netitude.bc3tech.net/2018/05/25/creating-an-xml-json-converter-in-azure-functions)

#### Investigative information

- Timestamp: n/a

[2018-05-25 20:35] EdBlankenship opened #2897 "Unable to Call MySQL from within Azure Functions v2 with .NET Core"
Hi!  I have a [StackOverflow issue](https://stackoverflow.com/questions/50142785/local-configuration-exception-in-azure-functions-v2-and-mysql) with additional details about what we're seeing and an open support case with Microsoft Support.  They suggested creating a GitHub issue here in parallel since Azure Functions v2 is in Preview.

One additional contributor in Stack Overflow was able to repr

[2018-05-25 21:18] paulbatum commented on #2896
cc @fabiocav

@brandonh-msft is this a typo?

[2018-05-26 00:32] alrod commented on #2825
We found a bug when scheduler is crashed and never started. The fix will be deployed to PROD in 2 weeks approximately. As workaround you can write a timer triggered function that triggers every minute and ping your function app to keep it warm.

[2018-05-26 00:56] alrod commented on #2870
Your both function apps are dedicates apps. And you are right both have memory issues.
Why do you think one is consumption?

[2018-05-26 01:18] fabiocav opened #2898 "Cannot use a custom TypeConverter in a V2 function app"
_From @Liversage on May 23, 2018 19:7_

After my .NET Core tools were upgraded from 2.0.1-beta.27 to 2.1.0 I have a problem where a custom `TypeConverter` (for JSON serialization) stops working. I have managed to reproduce the issue in a very simple project (V2):

[code]

The `converter` retrieved by `TypeDescriptor.GetConverter(typeof(Custom))` is supposed to be of type `CustomTypeConverter` (it

[2018-05-26 01:23] fabiocav opened #2899 "2.0.1-beta.26 - Error reading Darwin Kernel Version"
_From @trydis on May 22, 2018 9:14_

Getting this on MacOS after upgrading to 2.0.1-beta.26:

[22.05.2018 08:03:59] System.Private.CoreLib: Exception while executing function: SendActivity. Microsoft.Azure.WebJobs.Host: Exception binding parameter 'client'. Microsoft.Azure.DocumentDB.Core: The type initializer for 'Microsoft.Azure.Documents.UserAgentContainer' threw an exception. Microsoft.Azure.D

[2018-05-26 01:26] fabiocav commented on #2899
@ealsur moved this here for further investigation in the runtime, but this is happening in the utility class in the Comos DB code where it attempts to read the kernel version on macOS. Internally, this just uses the `RuntimeInformation` methods.

Will spend a bit of time to identify the root cause and ensure this is not something related to the runtime, but I wanted to make you aware.

[2018-05-26 01:30] ealsur commented on #2899
@kirankk I'm not familiar with that Kernel detection mechanism, looks like it's part of the Core SDK.

[2018-05-26 01:35] vsadams opened #2900 "Can not use VSTS client libs with latest version of the functions"
I am trying to update to the latest version of the function runtime (2.0.11776-alpha) but I am running into a blocker.

It looks to be another assembly loading error. I have encountered this before in other upgrades and was able to get around it by downgrading my dependencies.  This time, that does not seem to fix it. I have tried a few other things, and am now out of ideas.

I have some example c

[2018-05-26 14:01] ChristianWeyer opened #2901 "Using ASP.NET Core 2.1.0-rc1-final with Functions 2.0.1-beta.28 -> "Could not load file or assembly 'Microsoft.AspNetCore.Hosting.Server.Abstractions, Version=2.1.0.0 ...""
Hey all.

I have beta 28 installed:
[code]
When executing a function referencing ASP.NET Core 2.1.0-rc1-final, I get this exception:

![2018-05-26_15-59-10](https://user-images.githubusercontent.com/888718/40576914-024f5768-60fe-11e8-92c3-99860f1e4f37.png)

[code]

Please see this sample project to reproduce the issue:
https://github.com/ChristianWeyer/azure-functions-aspnetcore-proxy

[2018-05-26 17:17] fabiocav commented on #2899
Are you referring to the DocumentDB Core SDK? If so that’s the where the call originated from, but ultimately, this is a .NET Core API method that is failing.

[2018-05-28 02:46] alexshyba commented on #73
+++ for adding a first class `npm install` for enhanced CD experience. npm is getting faster, so it should not be as big of an issue anymore. Running `npm install` manually is a bit of a pain...
Another suggestion: allow for using either `yarn` instead of `npm` (depending on the presence of `yarn.lock`.

[2018-05-28 11:32] gkovacslmi opened #2902 "Cannot load referenced assembly in Functions project (FileNotFoundException)"
When we try to call a method in a referenced assembly from an other project in Azure Function, we got a **System.IO.FileNotFoundException** during runtime as the referenced project's DLL starts to load. We enabled the **"beta"** feature of Azure Functions so we can use it for hosting .NET Core applications. The **.NET Core** runtime is version 2.1.0-rc1 and the SDK version is 2.1.300-rc1-008673 wh

[2018-05-28 11:35] gkovacslmi commented on #2902
Potentially related issues:

https://github.com/Azure/azure-functions-core-tools/issues/335
https://github.com/Azure/azure-functions-host/issues/2901

[2018-05-28 14:28] FabioReis commented on #2870
Because in the portal it was saying it was a consumption plan for the second function mentioned. Now the second function is not running anymore, we replaced it for another function in another dedicated service plan that we can scale up.

I don't know what exactly happened with this service plan, we can't really scale up and it says it is a consumption plan. And we don't know how it was created so

[2018-05-28 18:14] robinhalabicki opened #2903 "Application Insights is not showing execution"
I have a Logic App : ExtractCredentialStatementsZip
It extracts an incoming zip file to blob storage and inserts a message into a queue "fetch-credential-household-id" in the same blob storage account the file was extracted to.

The function after completion writes another queue message to trigger another function (in same app) that IS logged to insights.

the logic app has a correlation id :08586

[2018-05-28 20:37] ChristianWeyer opened #2904 "'Object reference not set to an instance of an object.' upon host start (with Functions V2 application)"
I have beta 28 installed:

[code]

Based on this code sample: https://github.com/ealsur/serverlessnotifications/ - I am trying to create a V2 version. The code can be found here:
https://github.com/ChristianWeyer/extreme-serverless

When I start the host from VS, I get this exception - and none of the HTTP-triggered functions are listed:
[code]

Any idea what could be wrong here?
Thanks.

[2018-05-29 12:20] pramod-hegde opened #2905 "Dependency on specific Newtonsoft.Json package version = 10.0.3 throws version conflict error"
Microsoft.NET.Sdk.Functions version 1.0.13 has few dependencies where the required version is **>=** [dependent assembly version]. However, its not the case with Newtonsoft.Json. There is a dependency on a specific version 10.0.3. Because of this specific version dependency, the projects are not getting built and thrown version conflict error.

[2018-05-29 12:51] dipinbehl commented on #2873
Thanks @paulbatum The updated runtime did resolve the issue but left us wondering as to why the casing changed when no change was made to the development environment.

[2018-05-29 13:34] mpseidel commented on #1240
Just found this issue. I posted about this in the forums [over here](https://social.msdn.microsoft.com/Forums/azure/en-US/35016459-47dc-46a9-bbda-7af84a65470f/function-app-not-triggering-function-from-new-queue-messages-after-running-fine-for-a-while-linux?forum=AzureFunctions&prof=required) (Function running in Linux Container Preview waiting for queue messages).

Making sure the runtime never go

[2018-05-29 14:03] AssafNeufeld commented on #2690
We’ve continued to investigate this a bit and seems like we might be getting closer to the root cause.

In the end it looks like the blocked finalizer mentioned in the previous email was a red herring since it hasn’t repro’d in other dumps we have looked at.

That being said, in one of the recent dumps we saw the internal LogWriter had more than 800k log entries pending insertion into table storag

[2018-05-29 14:43] davidebbo commented on #1240
@mpseidel please open a new issue (you can link it), making it explicit in the title that you are using the Linux Container Preview. Everything in this thread was with the Windows  offering.

[2018-05-29 14:53] mpseidel commented on #1240
@davidebbo thanks for clarifying. I've already contacted Azure support and posted in a forum. I'd be very happy to see the Azure product teams are acively picking up and tracking issues like these themselves instead of relying on customers to create issues for them. I'm happy to help but I don't have time explaining issues over and over again.

[2018-05-29 15:03] davidebbo commented on #1240
@mpseidel It should be fine if you started a thread in the forum.

[2018-05-29 15:44] brandonh-msft commented on #2896
Thanks for the tip on `Accept` and `ContentResult`

Is there any way we could make Functions respect `ProducesAttribute` to alleviate some of this pain? I was *very* surprised when I told `OkObjectResult` that the MediaType should be `application/xml` and got back `<string> [my stuff here] </string>`

[2018-05-29 16:04] brandonh-msft commented on #2896
Gave `Accept` a shot but unfortunately, in my example of a converter, it didn't work:

[code]
Got back
[code]

despite code:
[code]

`ContentResult`, however, did exactly what I needed.

[2018-05-29 18:13] paulbatum commented on #2873
So I'm reopening this because we screwed up and we need to fix it. Everything I said above is correct in that the current released version of the core-tools is in sync with the current bits in production Azure (at time of writing). However this casing change was wrong and we are reverting it. So you should basically expect this behavior to reverse again in the near future.

Here's the tracking iss

[2018-05-29 20:02] brandonh-msft commented on #2896
awesome thanks for the xpost to SO

[2018-05-29 20:33] brandonh-msft commented on #2896
yeah I had a feeling there might be some `Startup()`-like MVC stuff that handles it in .Net Core land, but alas we don't get to see that in Functions world.

[2018-05-29 20:35] mathewc opened #2907 "Managed Memory Leaks"
Looks like we've regressed again. Similar to previous issue https://github.com/Azure/azure-functions-host/issues/2059.

To repro, put the host into a tight restart or error loop and monitor memory. E.g. in my recent test, where the host was restarting every few seconds or so, after 3 minutes the ScriptHost instance count went from 1 to 43. During that time, memory went from 12MB to 110MB. After wa

[2018-05-30 07:05] manojkumar-sachdev commented on #2792
Hi @mathewc ,
I am a colleague of @AkbarAnsari  and we are still facing this issue. "autoRenewTimeout" we have not set in host.config file because it has default value of 5 minutes and our code is getting processed in 5 to 8 seconds.

We have also raised ticket to Microsoft Support, Ticket number: 118051718206584.

We have also confirmed that the message is same which is getting processed twice.

[2018-05-30 11:55] ishepherd opened #2908 "Can't write azure function app targeting .NET Standard 2.0, `Cannot bind parameter 'log' to type TraceWriter.`"
There are other open issues like this (e.g. #1570) but this example here is so trivial to reproduce. Microsoft.NET.Sdk.Functions 1.0.13 does say.NET Standard 2.0 is a supported target. How can I get it working?

#### Repro steps

1. Create a 'Azure Functions' project in VS 2017, with an HTTP Trigger
2. Edit `.csproj` to set `<TargetFramework>netstandard2.0</TargetFramework>`
3. Simplify the `Funct

[2018-05-30 11:57] ishepherd commented on #2908
Other things I have seen say that mismatched `Microsoft.Extensions.Logging` can cause this issue. But the only version this trivial project is referencing, AFAICT, is 2.0.0.

[2018-05-30 13:04] ishepherd commented on #2908
OK! Found [the friendly manual](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#microsoftnetsdkfunctions) which explains I need to add `<AzureFunctionsVersion>v2</AzureFunctionsVersion>` to the csproj.

I then got an [AutoFac error and fixed it by making the function return IActionResult instead of HttpResponseMessage, thanks @DavidJFowler](https://github.com/

[2018-05-30 15:07] gunzip commented on #1235
Is this deployed to the current runtime v1 on Azure ? As I get the same behavior (no message when getting
`System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess`)

[2018-05-30 16:43] mathewc commented on #1235
Are you using v1?

[2018-05-30 16:51] gunzip commented on #1235
Runtime version: 1.0.11702.0 (~1)

[2018-05-30 16:52] mathewc commented on #1235
I just tried myself in production in a Node function, threw an error and got the details + stack trace in the portal log window. Can you provide details on how your error is being thrown?

[2018-05-30 17:50] paulbatum commented on #2908
@ishepherd You should not need to edit your csproj at all. Just pick this option when creating the function app:

![image](https://user-images.githubusercontent.com/10663/40737969-20ab9752-63f7-11e8-8b55-51e07cc2748d.png)

[2018-05-30 17:54] paulbatum commented on #2904
Interesting, it looks like we null ref at the point of printing our your HTTP function routes. Can you try turning on first chance exceptions and get to the point where you have a stack trace for that null ref?

[2018-05-30 17:57] fabiocav commented on #2440
As mentioned. Work is in progress and fixes will be deployed with the next release. Leaving this open and moving to Sprint 25 for validation

[2018-05-30 17:57] #2440 closed

[2018-05-30 18:08] brettsam commented on #2903
Do you have sampling enabled? That could cause function invocations to not appear in App Insights: https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#configure-sampling

[2018-05-30 18:09] brettsam commented on #2905
@fabiocav -- can you resolve this as a duplicate of the root issue?

[2018-05-30 18:18] robinhalabicki commented on #2903
Yes, sampling in Application Insights was set to 50%.  However, other functions in the same App show results in monitor, and in App Insights .   This one particular function ran 152 times on that day and there is nothing in monitor, like 0 runs (0/152).   I have reset the sample to 100.

[2018-05-30 18:28] brettsam commented on #2897
Are you able to reproduce this with the latest CLI version on npm? https://www.npmjs.com/package/azure-functions-core-tools/v/2.0.1-beta.28

[2018-05-30 18:33] brettsam commented on #2894
Need to validate that our upcoming DI changes address this.

[2018-05-30 18:43] brettsam commented on #2676
@pragnagopa -- ping

[2018-05-30 18:47] brettsam commented on #2611
There should be another issue tracking this already -- I will find it.

[2018-05-30 19:03] brettsam commented on #2903
How are you setting it to 50% -- is that server-side sampling?
Try updating your host.json (see link above) to turn off client-side sampling completely and give it another try.

[2018-05-30 19:31] robinhalabicki commented on #2903
I have no host.json on any of my functions (those logging or not).  The data sampling is set in the insights blade -> Data Usage -> Data Sampling button.

[2018-05-30 19:53] alrod opened #2909 "Architecture switch x86/64 for V2 function extension"

[2018-05-30 19:55] mathewc commented on #2530
Addressed by fix for https://github.com/Azure/azure-functions-host/issues/2861.

[2018-05-30 19:55] #2530 closed

[2018-05-30 19:55] alrod opened #2910 "Language workers cold start measurements (Node, Java)"

[2018-05-30 19:56] alrod opened #2911 "Load ANCM module from function extension foder"
Use xdt trasformation

[2018-05-30 19:57] #2911 closed

[2018-05-30 19:57] #2910 closed

[2018-05-30 19:58] soninaren opened #2912 "Investigate alternative approach to reference binding extensions"

[2018-05-30 20:34] paulbatum commented on #2895
Please do first pass investigation and make a recommendation about timing (is there an issue to fix here prior to V2 GA or can it be done after?)

[2018-05-30 20:37] paulbatum commented on #2785
@cgillum You noted this happens for V1 - does it happen for V2 as well?

[2018-05-30 20:42] paulbatum commented on #2484
@fabiocav What is the workaround? Can you put the app setting here.

[2018-05-30 20:46] paulbatum commented on #2475
Closing as I believe this is fixed. If you have an up to date repro on the latest bits let us know and I'll reopen!

[2018-05-30 20:54] paulbatum commented on #1577
Yes I think David is correct. The work to fix is tracked here:
https://github.com/Azure/azure-functions-host/issues/2867

We can leave this issue open until its confirmed that the bug no longer repro's once the above issue is fixed.

[2018-05-30 21:16] fabiocav commented on #2484
The current workaround is to disable overlapped recycles, by using the following app setting:
https://github.com/projectkudu/kudu/wiki/Configurable-settings#disable-overlapped-recycling

[2018-05-30 21:18] #2837 closed

[2018-05-30 21:54] cgillum commented on #2785
@paulbatum Yes, in fact if I run in v2 VS automatically pulls in the source code, so I was able to investigate it a bit further on my own.  Here is the callstack:

[code]

And here is the offending line of code:

[code]

`instanceLogEntry` is null.

BTW, I apologize for code-reviewing code that I'm not actually familiar with, but these kinds of null-refs can often be caught by the compiler if one

[2018-05-30 22:16] brettsam commented on #2903
A [host.json file](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json) is for the entire application -- it's not per-function. By default you will have client-side sampling enabled. So try disabling all server-side sampling, and then add this to your host.json to disable client-side sampling. That should allow all telemetry to flow.

[code]

[2018-05-30 22:20] brettsam commented on #2611
This looks like the original issue; https://github.com/Azure/azure-functions-host/issues/1329

[2018-05-30 22:26] #2611 closed

[2018-05-31 03:34] mathewc commented on #2792
The change I mentioned above for https://github.com/Azure/azure-webjobs-sdk/issues/1703 should start rolling out next week, and that will improve visibility into underlying errors (message lock lost errors due to long executions) which is the reason for messages being reprocessed. You'll see those errors in your logs, whereas currently you don't.

Before that is deployed, we can look at your execu

[2018-05-31 04:16] ishepherd commented on #2908
:man_facepalming: There in plain sight all along. Thanks @paulbatum.

[2018-05-31 06:10] mikhailshilkov commented on #2899
I get the same on Windows with Core Tools (2.0.1-beta.28)

[2018-05-31 07:31] manojkumar-sachdev commented on #2792
@mathewc , Thanks for reply.

Time when the message is processed first time **2018-05-23T13:46:47.3260000Z**
Time when the message is processed second time **2018-05-23T13:46:47.4040000Z**

Please let me know if you need more info

[2018-05-31 07:40] gunzip commented on #1235
It's an exeption throw from an Azure Functions (nodejs) started by a Storage Queue trigger. I don't know when and why the error is throw (during the queue message processing) because I lack the error description (which appears as "[object Object]")

[2018-05-31 08:59] gunzip commented on #1235
I've found the problem (it's in my code). I'm throwing a plain object (not an Error instance)

[2018-05-31 10:40] NucleoTech opened #2915 "EventHubTrigger fails on message binding on runtime 2"
I have an EventHubTrigger function (.NET Standard 2.0) developed in Visual Studio that works correctly when running from VS, but fails when invoked on Azure platform [runtime 2.0.11776.0 (beta)]. The failure seems to be a parameter binding issue.

The IOT hub routes messages to the built-in events endpoint. I created a 'hotpath' consumer group.

#### Investigative information

Please provide the f

[2018-05-31 16:44] ahmelsayed opened #2916 "Host is corrupting the PATH for non-Windows platforms"
https://github.com/Azure/azure-functions-host/blob/a97d29e5caf4c2e0eb8eebc8f913b4c2f9843b10/src/WebJobs.Script.WebHost/WebHostResolver.cs#L285-L298

`;` is used to append to the path, but that's only valid on Windows. On linux/mac dirs on the path are separated using `:`

[2018-05-31 17:16] fabiocav commented on #2899
@mikhailshilkov puzzling. Based on what I'm looking at, that code path should never be hit if the platform is Windows, and if it did, it would indeed be hopeless.

[2018-05-31 17:17] fabiocav commented on #2899
Do you have a repro you'd be able to share?

[2018-05-31 17:55] mathewc opened #2919 "LanguageWorkerChannel Error handling"
We recently had an issue in the worker channel where malformed JSON bodies would cause hangs. This was due to poor error handling in the channel code, addressed by PR https://github.com/Azure/azure-functions-host/pull/2918.

That PR fixed a specific issue, but from this issue we've learned that any unhandled exceptions in this code can cause hangs. Therefore, we need to put general error handling

[2018-05-31 18:38] mikhailshilkov commented on #2899
@fabiocav I deleted my comment because I managed to get rid of it somehow, and I think the error was slightly different. There was definitely `Microsoft.Azure.DocumentDB.Core: The type initializer for 'Microsoft.Azure.Documents.UserAgentContainer' threw an exception. ` and `Object reference not set to an instance of an object.` but maybe not the Kernel part. I'll try to repro it again tomorrow.

[2018-05-31 19:07] pragnagopa commented on #2919
Rpc requests and responses use .Net Rx framework. Issues with hangs in the channel are due to subscriptions missing error handlers. We need add retry/error handlers on all the subscriptions in RPC layer. Using [Polly](https://github.com/App-vNext/Polly) is an option.

[2018-05-31 19:14] pragnagopa commented on #2800
Assigning to fabio as the is working on updating the build script to preview version of dotnet

[2018-05-31 20:50] rshaad83 commented on #2473
I had to downgrade to System.Data.SqlClient Version 4.4.0 to get this working

[2018-05-31 21:59] ahmelsayed opened #2920 "Remove dependency on JAVA_HOME"
_From @brunoborges on May 30, 2018 7:9_

Unless strictly necessary, the runtime for Java functions should not depend on the environment variable JAVA_HOME. The executable `java` should be found in PATH, and that should be used by default. If JAVA_HOME is set, then the runtime should use that instead.

// @jeffhollan

_Copied from original issue: Azure/azure-functions-core-tools#502_

[2018-05-31 21:59] ahmelsayed opened #2921 "Remove dependency on JAVA_HOME"
_From @brunoborges on May 30, 2018 7:9_

Unless strictly necessary, the runtime for Java functions should not depend on the environment variable JAVA_HOME. The executable `java` should be found in PATH, and that should be used by default. If JAVA_HOME is set, then the runtime should use that instead.

// @jeffhollan

_Copied from original issue: Azure/azure-functions-core-tools#502_

[2018-05-31 21:59] ahmelsayed commented on #2921
This issue was moved to Azure/azure-functions-host#2920

[2018-05-31 22:00] #2921 closed

[2018-05-31 23:13] EdBlankenship commented on #2897
I don't mean to be silent on this one.... I've switched over to using the npm version of the CLI and I can't seem to get the host to start at all so I'm not sure I've been able to verify whether this works or not in this latest version.  I do have the latest version of the npm package installed and it does seem to be used on the command-line now.

[2018-06-01 00:04] bala16 opened #2922 "ActivityId is not populated in FunctionsLogs for Linux Consumption sites."
Probably something wrong with the regex parsing.

[2018-06-01 00:33] evolutionise opened #2924 "EventGrid Trigger local development fails with a ScriptHost Error"
When trying to find the right mix of versions so that my project builds using both the `Microsoft.NET.Sdk.Functions` package and the `Microsoft.Azure.WebJobs.Extensions.EventGrid` package, anything that actually builds results in a ScriptHost error, saying that it cannot find a certain method in EventGrid.

This is using Target Framework of `net461` and the local version of the function runtime, s

[2018-06-01 01:05] brunoborges commented on #2920
Thanks

[2018-06-01 07:13] 13127755587 commented on #2881
@fabiocav any update on this issue?

[2018-06-01 15:42] vfedonkin commented on #2847
Done in v2

[2018-06-01 15:42] #2847 closed

[2018-06-01 15:42] vfedonkin commented on #2670
Fixed in both v1 and v2

[2018-06-01 15:42] #2670 closed

[2018-06-01 15:43] vfedonkin commented on #2648
fixed in v2

[2018-06-01 15:43] #2648 closed

[2018-06-01 15:44] #2249 closed

[2018-06-01 15:45] vfedonkin commented on #1949
Resolved in issue #2249,  v1 and v2

[2018-06-01 15:45] #1949 closed

[2018-06-01 16:39] Dalmirog commented on #2468
The documentation still says the same https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout

Should `"functionTimeout": null` work or not? It's currently giving me `String reference not set to an instance of a String. Parameter name: input`

[2018-06-01 17:56] #2916 closed

[2018-06-01 18:04] mathewc commented on #2919
We need to fix this ASAP - these worker hangs cause us to waste a lot of time. Fabio and I spent hours yesterday on it.

[2018-06-01 19:50] dkershner6 opened #2929 "Experiencing Inconsistent Azure Function Proxy Issues"
- Timestamp: Many
- Function App version (1.0 or 2.0-beta): 1.0
- Function App name: listsregistries/listsregistriestest
- Function name(s) (as appropriate): ListAdminPage - Proxy Name: AdminList
- Invocation ID: Many
- Region: West US

#### Repro steps

Provide the steps required to reproduce the problem:

Create HTTP trigger function.  Create Proxy that references the function in the backendUri

[2018-06-01 23:03] dkershner6 commented on #2929
I decided to use my own "router" rather than rely on many proxies.  I like this approach better for many reasons.

[2018-06-01 23:03] #2929 closed

[2018-06-01 23:32] mathewc commented on #2463
These are still hanging. @fabiocav's theory is that AppVeyor machines are not very robust, and these tests block the calling thread and xunit is running in a single threaded context, causing hangs.

[2018-06-02 22:31] ahmelsayed commented on #2686
After some investigations and doing some reading on how it works on linux, I think I might have an idea of what to look at.
There are a bunch of config limits on how many instances, watchers, open file descriptors, etc per user and per process on linux systems. These settings are not configurable from within the container since they are settings for the host's kernel. It's difficult for me to debu

[2018-06-02 22:49] davidebbo commented on #2686
What's odd is that I would expect the number of watchers to be pretty constant from one test to another. I'm assuming that the runtime uses a fixed number and not one that grows with the complexity of the app (to be verified).

As for calling `/admin/host/restart`, it's fine for now as a workaround, as long as 'Save and Run' works correctly. i.e. we need to make sure that it doesn't end up running

[2018-06-03 15:53] ChristianWeyer commented on #2904
This is all I can see:
[code]

[2018-06-03 16:39] jbellmore commented on #2901
I can confirm I am experience the same issue, trying to accomplish the same thing as @ChristianWeyer  with the same versions of runtimes/packages.

[2018-06-03 19:33] ChristianWeyer commented on #2904
It seems related to proxies.json. If I remove it from the project, it runs successfully.

[2018-06-04 12:14] syedhassaanahmed commented on #2549
Hi @paulbatum ,
I've just retried this scenario and the problem still exists on Change Feed not getting triggered until the Function App portal console is manually visited. Do you have an ETA on this?

[2018-06-04 17:23] pragnagopa commented on #2924
With functions V1, you need to use extensions versions 2.0.0-*. Let me know if it still doesn't work after updating Microsoft.Azure.WebJobs.Extensions.EventGrid to 2.0.0-beta1.

[2018-06-04 17:39] paulbatum commented on #2746
After doing a build, does your bin directory contain an extensions.json that looks something like this?

[code]

If not, then I think you must be hitting a bug with our build task. Can you try explicitly referencing this package from your function app project? https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator/1.0.0-beta3

[2018-06-04 17:59] pragnagopa commented on #2924
I cannot repro this. Here are Nuget references I have:
- Microsoft.Azure.WebJobs.Extensions.EventGrid 1.0.0-beta4
- Microsoft.Azure.WebJobs.ServiceBus 2.2.0
- Microsoft.NET.Sdk.Functions 1.0.13

[2018-06-04 21:39] evolutionise commented on #2924
Thanks for your response @pragnagopa

I am still getting the ScriptHost error. I tried adding the ServiceBus package but it didn't help. My csproj file is:

[code]

And the full error is:

[code]

I am running this on Windows 10 Pro, via Powershell.

[2018-06-04 21:50] vsadams commented on #2900
I might have gotten around this issue by doing something like the following. I am going to push to azure and run some tests

[code]

[2018-06-04 23:37] mhoeger commented on #2859
@pragnagopa - closing this as headers can only be ascii characters.

[2018-06-04 23:37] #2859 closed

[2018-06-05 00:08] davidebbo opened #2938 "Add support for blob secrets using a storage SAS URL"
Today, you can use `AzureWebJobsInternalSasBlobContainer` to use a SAS URL instead of the full `AzureWebJobsStorage` connection string. But that doesn't affect `AzureWebJobsSecretStorageType="Blob"`, which still needs `AzureWebJobsStorage`.

We need blob secrets to instead use a subfolder under the `AzureWebJobsInternalSasBlobContainer` container to store secrets.

This way, a single App Settings

[2018-06-05 04:43] forki commented on #2881
Ping

[2018-06-05 04:55] aaronpowell opened #2940 "Function Proxy returns 404 when path is matched"
#### Investigative information

Please provide the following:

- Timestamp: **2018-06-04T11:07:34.1530851Z**
- Function App version (1.0 or 2.0-beta): **1.0**
- Function App name: **dddsydney-api**
- Function name(s) (as appropriate): Function Proxy
- Invocation ID: N/A
- Region: Australia East

#### Repro steps

1. Access the proxy URL: http://dddsydney-api.azurewebsites.net/.well-known/swagger

[2018-06-05 08:39] JohnReeson opened #2941 "Cli 2.0.1-beta.28/26 throws exception `Object reference not set to an instance of an object` when using CosmosDB bindings"
Issue is from [SO thread](https://stackoverflow.com/questions/50681158/cannot-connect-to-cosmosdb-from-vs-code-azure-function).

Debug a pre-compiled c# httptrigger with CosmosDB output binding, using cli 2.0.1-beta.28/26, function host starts successfully.

However once function triggered, error occurs.

#### Repro steps

1. Create a c# http trigger template
2. Replace function content  with code

[2018-06-05 09:59] JohnReeson opened #2942 "2.0.1-beta.28 fails to start host with proxy on MacOS"
Issue is from [SO](https://stackoverflow.com/questions/50659371/cli-v2-0-1-beta-28-proxies-json-issue/50675408).

CLI installed on MacOS using brew has such trouble. While on windows, things works.

The [sample](https://1drv.ms/u/s!AkqjecaXrgd9469n7iG3ui-4tAnnoA) to repro includes two files below and one host.json file with only `{}`.
proxies.json
[code]
local.settings.json
[code]

Error messgae

[2018-06-05 10:16] mikhailshilkov commented on #2746
@paulbatum There's no `extensions.json` file, even when my extensions are loaded properly.
I referenced this extra package and now the file is created in `bin\Debug\netstandard2.0` but it's empty (`extensions` is an empty array).

Extensions are defined in a class library which is referenced by Function App. Copying it to App itself doesn't seem to change anything.

If input binding is used, all e

[2018-06-05 14:26] ltouro opened #2943 "[V2][JavaScript] - Twilio and SendGrid bindings not working locally"
_From @ltouro on June 1, 2018 15:53_

Could not send Twilio SMS or SendGrid Email on Azure using V2 beta runtime. Tried with the samples from docs and SendGrid  function template (as Twilio does not seem to have a template yet).

[code]

function.json
[code]

index.js
[code]

local.settings.json
[code]

Test payload
[code]
Test response
[code]

References

https://docs.microsoft.com/en-us/azure/az

[2018-06-05 15:04] forki opened #2944 "System.Private.Uri: Invalid URI: The format of the URI could not be determined."
#### Investigative information

- Timestamp: 2018-06-05T15:00:33.780
- Function App version (1.0 or 2.0-beta): 2.0.11651-alpha
- Function App name: ecartransactions
- Function name(s) (as appropriate): RemoteTranaction
- Invocation ID: 70a5ecc1-94c7-40cc-b8a7-0ad0043f6f7e
- Region: Europe West

#### Repro steps

with the follwoing function.json

		{
				"scriptFile": "RemoteTransaction.dll",
				"

[2018-06-05 16:43] paulbatum commented on #2746
I just cleaned my sample and rebuilt and now I'm getting an empty extensions.json file. Something is screwed up. Lets try to tease this apart in terms of tooling issues vs runtime issues. Make the extensions.json file manually based on what I shared above and make sure its in your bin folder along with yourapp.dll and yourextension.dll. If that works then we know its just a tooling issue.

[2018-06-05 16:51] fabiocav commented on #2881
The changes have been made. The deployment is being prepared and slated to go out this week. Waiting for some additional changes going in with this payload.

[2018-06-05 16:55] mathewc opened #2945 "Reenable http throttles in v2"
This feature was disabled as part of the move to .NET Core. We need to reenable it.

Code is currently commented out: https://github.com/Azure/azure-functions-host/blob/ecd1b7a1f1878d455de6dd292d50dba71ef85aa1/src/WebJobs.Script.WebHost/WebScriptHostRequestManager.cs#L4

[2018-06-05 17:53] paulbatum commented on #2904
I see a recent commit in that repo about fixing proxies:
https://github.com/ealsur/serverlessnotifications/commit/6c5dd2fec0c9fe59ccacfc7deec587891979850e

Is it possible that you ended up with a bad proxies.json file before the fix was made?

[2018-06-05 18:11] ChristianWeyer commented on #2904
Hm, not sure. This same proxies.json works like a charm in the v1 application.

[2018-06-05 18:16] maciejgos commented on #2942
I execute **func start as superuser** and it works. So issue is related to macOS. Problem is only related to proxies functionality.

[2018-06-05 18:17] paulbatum commented on #2904
If you are able to reduce it down to a simple repro (make a new V2 app in VS, add this proxies.json) I can follow up with the proxies team.

[2018-06-05 18:28] mathewc opened #2946 "Don't start Grpc server when not needed"
My function app only contains a single C# function. However, in the logs I see lots of Grpc failures (I was doing a load test):

[code]

We should only be starting up this server if it is needed (i.e. other languages are being used).

[2018-06-05 18:38] ChristianWeyer commented on #2904
Voila:
https://github.com/ChristianWeyer/Functions-Proxies_Repro

[2018-06-05 18:41] paulbatum commented on #2904
Great. @vfedonkin would you be able to look at this? Looks like the host throws a null ref with the given proxies file. See above link for simplified repro.

[2018-06-05 19:44] davidebbo commented on #2946
There are two slightly different things here:

1. the fact that we start it when not needed
1. the fact that we get an exception

Or are the two somehow connected?

[2018-06-05 19:51] vfedonkin commented on #2904
Hi @ChristianWeyer , I couldn't repro the issue. Need more info about this.
I downloaded beta28 and used your proxy, everything works fine:
![beta28](https://user-images.githubusercontent.com/19784224/40999114-794c7e56-68f9-11e8-9a53-8dfa59a9c678.png)
We had exactly same issue but it was fixed in beta28: https://github.com/Azure/azure-functions-core-tools/pull/490 . Are you sure you are using beta

[2018-06-05 20:11] ChristianWeyer commented on #2904
I do have beta28 installed via the CLI and npm.
It turns out that when launching via VS 2017 there is an other/older version picked up and running :-(

After updating my VS project with these custom settings, it works.
![image](https://user-images.githubusercontent.com/888718/41000164-67f25f5e-690d-11e8-8d05-9e5f42911e1a.png)

Annoying.

[2018-06-05 20:23] tohling commented on #2940
@aaronpowell , we are investigating and will update this thread when we have more information.

[2018-06-05 20:28] ChristianWeyer commented on #2899
Do you still have this issue @mikhailshilkov ? I am also running into it .

[2018-06-05 20:35] pragnagopa opened #2947 "Use languageWorkers section in host.json to customize workers configuration"
-  set languageWorkers:{language}:arguments to pass command line args to the language worker process
- "languageWorkers:workersDirectory" takes precedence over the default workers directory
- "languageWorkers:{language}:workerDirectory" takes precedence over the languageWorkers:workersDirectory and default workers directory

[2018-06-05 20:36] grahamehorner opened #2948 "Q: netcoreapp2.1"
now that netcoreapp2.1 is released will the project be re-targeted to netcoreapp2.1 to allow using enhanced features/performance improvement over netcoreapp2.0

[2018-06-05 20:40] alexkarcher-msft commented on #2940
Adding in @safihamid

This looks like an error with how we handle routing requests to the same function app. I think the runtime is treating this requests for the openAPI endpoint like a request to reach a local function.

I was able to repo the issue by creating a proxy with the backend URL pointing to that function's swagger file.

[2018-06-05 20:43] mikhailshilkov commented on #2899
@ChristianWeyer Just checked and yes, still getting it on `CosmosDBTrigger`:

`Microsoft.Azure.WebJobs.Host: Error indexing method 'Bla.Run'. Microsoft.Azure.WebJobs.Extensions.CosmosDB: Can not create Collection Information for Items in database ToDoList with lease leases in database ToDoList : The type initializer for Microsoft.Azure.Documents.UserAgentContainer' threw an exception. Microsoft.Az

[2018-06-05 21:08] safihamid commented on #2940
This is by design. We don't allow proxy reroutes for /admin/* endpoints.

[2018-06-05 21:11] safihamid commented on #2946
This is also affecting cold start. we should not start when they are not needed.

[2018-06-05 21:13] #2940 closed

[2018-06-05 21:16] safihamid commented on #2816
proxies are supported in V2 now and this is addressed in V2.

[2018-06-05 21:16] #2816 closed

[2018-06-05 21:17] safihamid commented on #1981
@vfedonkin would you please look into this and see if we already support this?

[2018-06-05 21:43] fabiocav commented on #2899
@mikhailshilkov to confirm, that's on Windows, right? Would it be possible to package up the root of the function app and share that? I'd like to look at the artifacts.

[2018-06-05 21:43] fabiocav commented on #2899
@ChristianWeyer are you seeing this on Windows as well?

[2018-06-05 22:09] #2948 closed

[2018-06-05 22:49] mathewc commented on #2710
The current behavior is by design, the goal being that on the invoke/run path we don't want to output the usually voluminous compilation errors on every invocation. E.g., consider an EventHub function processing LOTS of events. If a compilation error is introduced, every invocation might be spewing tons of compilation output, stack trace, etc. So we did work to suppress this on the invoke path.

W

[2018-06-05 22:55] aaronpowell commented on #2940
@safihamid is that documented somewhere? I'm pretty sure I had it working originally.

Is there any guidance on how to produce API documentation if you want to mask the token in the URL?

[2018-06-05 23:17] safihamid commented on #2940
@soninaren is there a way to access /admin/host/swagger without passing the token? we discussed this internally and there are several security risks involved to open up proxies rewrites for local /admin/* endpoints

[2018-06-06 00:00] davidebbo commented on #2710
@mathewc that sounds good. If we do this, let's make sure that we don't end up displaying them twice on Windows: once from the Save and once from the Run.

[2018-06-06 03:44] forki commented on #2944
I created support ticket 118060618326870 for this

[2018-06-06 03:52] fabiocav commented on #2899
Thank you @JohnReeson . Very helpful. I’ll be blocking some time to look at this issue this week. @mikhailshilkov was scenario in VS or an NPM installed CLI?

[2018-06-06 04:28] forki commented on #2881
does it mean my function app will work again or doees it mean it will show better error and I need to do something?

[2018-06-06 07:10] mikhailshilkov commented on #2899
@fabiocav Windows, CLI. VS works like charm.

[2018-06-06 07:36] ChristianWeyer commented on #2899
This is on Windows, yes @fabiocav

[2018-06-06 07:48] JohnReeson commented on #2942
Another simple question: is it by design that cli(both v1&v2) shows `http://localhost:7071/api/{proxyname}` instead of the route like `http://localhost:7071/api/hello/{name}`?

[2018-06-06 08:11] ChristianWeyer commented on #2901
Maybe @fabiocav has an opinion on this? ;-)

[2018-06-06 08:11] ChristianWeyer commented on #2904
Closing for now, as the original issue is solved. Thanks all!

[2018-06-06 08:11] #2904 closed

[2018-06-06 11:48] ealsur commented on #2549
@syedhassaanahmed Could you confirm if the leases collection you are using already exists before the deploy? Are you reusing it in-between deploy, deleteting or creating a new one every time?

[2018-06-06 13:30] mikhailshilkov commented on #2746
@paulbatum I can't get `estensions.json` to work.
I've created it manually in `bin` folder, and indeed now I see the following line in the logs:

`Loaded custom extension: MyEventHubExtension from 'C:\bla\FunctionAppV2\bin\Debug\netstandard2.0\bin\MyExt.dll'`

but `Initialize` method is actually never called. As soon as I add an input binding usage, `Initialize` gets called on all extensions.

[2018-06-06 14:46] romandres commented on #838
@davidebbo We use C# precompiled functions and function proxies that we are deploying using ARM and VSTS. We were nowhere near the 2s cold start response time with a simple function. For instance, making a request to a function proxy using an unknown route took the proxy about 17-18s to respond with 404.

I did some testing and found out that disabling PHP on a function app added about 12-14s to t

[2018-06-06 16:12] davidebbo commented on #838
@romandres indeed, there is a known issue that hurts the cold start when PHP is removed. Note that this PHP setting is actually meaningless for Function Apps, so there is no harm in leaving it the way it is by default. We will work to address the issue, but for now just remove all traces of that setting from your templates.

[2018-06-06 16:42] swgriffith commented on #2419
Any update here? I'm hitting this issue right now in V2.

[2018-06-06 16:42] vfedonkin commented on #1981
Checking...

[2018-06-06 16:43] pragnagopa commented on #2676
shared the latest logs in email. Moving this backlog.

[2018-06-06 17:05] fabiocav commented on #2881
For pure WebJobs SDK scenarios, there will be a better, detailed and actionable message.

In functions, this code is no longer in play, so your Function App should just start working with those bits.

[2018-06-06 17:39] paulbatum commented on #2419
No updates at this time.

[2018-06-06 17:56] alexkarcher-msft commented on #2940
Wouldn't anonymous routes still present the same issue of being unable to write a proxy to your OpenAPI definition? It sounds like we either need to move the OpenAPI definition to a different route, or add a single exception for this one route to completely unblock this scenario.

[2018-06-06 18:13] paulbatum commented on #2746
I am now getting the same behavior as you. If I switch to an earlier version of V2 this will work. I chatted with @fabiocav and there is a problem in the current release bits where custom extensions are being loaded into the wrong assembly load context and therefore they are not discovered and initialized correctly.

This release (currently in progress) has the fix:
https://github.com/Azure/azure-

[2018-06-06 19:52] ahmelsayed opened #2950 "Host releasing timer function singleton lease when the function is still in progress causes multiple invocation of the same function"
#### Investigative information

Please provide the following:

- **Timestamp:** `TIMESTAMP > datetime(2018-06-01 13:59:50)  and TIMESTAMP < datetime(2018-06-01 14:59:30)`
- **Function App version:** 1.0
- **Icm Incident:** 71833507

You can see the queries and investigations in the ICM incident above.

To summarize: A once-a-month timer function was triggered. This is the sequence of events that h

[2018-06-06 21:09] fabiocav commented on #2899
Found the problem. This is related to the native assets resolution changes in the latest release. I'm working on a fix and hope to catch the current release train.

[2018-06-06 21:45] pragnagopa commented on #2924
can you run command "func" and let me know what version of CLI you are running, output would look like:
Azure Functions Core Tools (2.0.1-beta.28)
Function Runtime Version: 2.0.11776.0

[2018-06-06 21:49] pragnagopa commented on #2835
You can set environment variable key: "workers:node:path" value: "{YourWorkersDirectory}\node\dist\src\nodejsWorker.js"

[2018-06-06 21:53] pragnagopa commented on #2706
Closing this it is dup of https://github.com/Azure/azure-functions-host/issues/2811

[2018-06-06 21:53] #2706 closed

[2018-06-06 21:54] pragnagopa commented on #2607
We now have app setting to select functions language. Closing this.

[2018-06-06 21:54] #2607 closed

[2018-06-06 22:32] syedhassaanahmed commented on #2549
@ealsur The existence of leases collection doesn't matter. Tried both reusing it and re-creating a new one every time, but the end result is still that I have to navigate to the portal in order for Change Feed to "kick in".

[2018-06-06 23:01] davidebbo opened #2952 "Regression: requesting POST /admin/functions/MyTimer locally fails with ArmToken auth issue"
Repro:

- v2 app with timer function
- invoke it from PostMan using `POST /admin/functions/MyTimer`

Result: fails with 500,

When debugging, you see the exception:

[code]

[2018-06-06 23:36] envoy-mcapodici opened #2954 "Azure Function"
#### Investigative information

- Timestamp: Current time is 23:33:27 UTC, Wednesday, 6 June 2018
- Function App version (1.0 or 2.0-beta): 1.0
- Function App name: bcs-live-preview
- Function name(s) (as appropriate): GeneratePreview
- Invocation ID: N/A
- Region: Australia East

#### Repro steps

Provide the steps required to reproduce the problem:

1. Monitor the queue that this function is con

[2018-06-06 23:48] envoy-mcapodici commented on #2954
Function decided to kick off again without intervention just now. However I still would like to get some investigation as to why it get stuck. I've seen other issues here about this happening if the queue is too large. With just 5k items, I don't think that is unreasonable queue size.

[2018-06-06 23:51] paulbatum opened #2955 "Support passing binding data as query params when invoking via admin endpoint"
This stack overflow post highlights a scenario where using the admin endpoint for testing is awkward because the function was written to accept additional binding parameters such as "deliveryCount" and there is no way to pass that when invoking the function via HTTP.

https://stackoverflow.com/questions/50725773/servicebustrigger-with-enqueuetimeutc-argument-fails-when-triggered-via-http-end

Here

[2018-06-06 23:51] ahmelsayed commented on #2952
@fabiocav let me know if the fix should go in the cli. I'm not entirely sure.

[2018-06-06 23:53] davidebbo commented on #2952
@ahmelsayed he mentioned to me that it's in the runtime and he's taking care of it.

[2018-06-07 00:07] tohling commented on #2954
@envoy-mcapodici , I checked our logs and it seems that there were a lot of runtime errors between 2018-06-06 20:33:46 UTC and 2018-06-06 23:40:50 UTC.  Could you check your Application Insights logs/Functions logs for those errors?

**Additional comments:**
1. Here's a sample stack trace from one of the errors,

[code]

2. There are log entries `Message has reached MaxDequeueCount of 1. Moving me

[2018-06-07 00:42] envoy-mcapodici commented on #2954
@tohling

Thanks. This is most likely because the blob urls supplied to the function have timed out (in terms of the security token) which is a symptom of the function being down for a period of time.

There is only 36 in the poison of 5k messages.

What I am thinking is, is there a way to scale up the processing speed for this function. When it IS running it can't keep up with demand. I have incr

[2018-06-07 01:35] fabiocav commented on #2952
I thought I said CLI, that's why we wouldn't need a new build of the runtime for that fix :)

I have a PR here: https://github.com/Azure/azure-functions-core-tools/pull/516

[2018-06-07 01:53] awernick opened #2957 "'Microsoft.WindowsAzure.Storage.StorageException' in System.Private.CoreLib.dll"
I'm experiencing issues deploying / executing an Azure Function triggered by Azure Queue Storage.
Upon deployment, I'm able to see that the azure webhost shutsdown every time a new queue item is enqueued. No other execution logs are generated, and there is no sign anywhere in Kudu that the function is actually executing.

I'm able to attach a debugger to the running process, and various errors are

[2018-06-07 03:28] davidebbo commented on #2952
Sorry, I probably misunderstood. I figured that since you said you were fixing it, it must have been in the runtime, since @ahmelsayed usually does the CLI :)

[2018-06-07 03:52] aaronpowell commented on #2940
@alexkarcher-msft I'm not bothered sharing the path, it's just the access token that I don't really want in the URL to share publicly (it makes the url ugle and less memorisable). If I didn't need the token I wouldn't need a proxy.

[2018-06-07 05:34] maciejgos commented on #2899
Same issue here. Using CLI 2.0.1-beta.28
`System.Private.CoreLib: Exception while executing function: CreateTask. Microsoft.Azure.WebJobs.Host: Exception binding parameter 'document'. Microsoft.Azure.DocumentDB.Core: The type initializer for 'Microsoft.Azure.Documents.UserAgentContainer' threw an exception. Microsoft.Azure.DocumentDB.Core: Error reading Darwin Kernel Version. Microsoft.Azure.WebJo

[2018-06-07 08:29] romandres commented on #838
@davidebbo Good to know, thanks. Are there any other settings that are known to impact the cold start performance at the moment?

[2018-06-07 08:41] fabiocav commented on #2952
This issue was moved to Azure/azure-functions-core-tools#517

[2018-06-07 08:41] #2952 closed

[2018-06-07 08:42] fabiocav commented on #2952
This issue was moved to Azure/azure-functions-core-tools#518

[2018-06-07 10:43] FraserKillip commented on #511
Any update on the feature?

My use case is, I have a workflow where 'tasks' get put into a service bus queue which is a trigger for our functions. The functions host scales up and down based on queue pressure.

However, it likes to scale up to a point where our DB load hits 100%. The ideal scenario here is that tasks are kept in the queue for processing and our DB isn't what eventually limits scal

[2018-06-07 11:38] jsancho opened #2960 "Unable to use "guid" as an HttpTrigger route parameter (Invalid cast from 'System.String' to 'System.Guid')"
When trying to pass a guid as a parameter binding within a route definition the following exception is thrown

`Exception while executing function: TestParams -> One or more errors occurred. -> Exception binding parameter 'req' -> Invalid cast from 'System.String' to 'System.Guid'.`

#### Investigative information

Please provide the following:

- Timestamp: 2018-06-07T11:27:47.578
- Function App

[2018-06-07 11:49] mikhailshilkov opened #2961 "FileNotFoundException: Could not load file or assembly for Function app referencing custom assembly"
I'm running Host from the latest sources of `dev` branch as described in [Running locally (Visual Studio) (v2+)](https://github.com/Azure/azure-functions-host/blob/dev/CONTRIBUTING.md#running-locally-visual-studio-v2).

I'm pointing to my test Function App which consists of two C# projects: `FunctionApp` and it references a library `Lib`. When I start debugging and call the function, I get

![imag

[2018-06-07 11:54] mikhailshilkov commented on #2961
cc @fabiocav

[2018-06-07 12:22] jsancho commented on #2960
I've also noticed that the same exception is thrown when binding to a custom POCO in the http request body.

If the POCO contains any Guid params, the binder will fail to parse them as such from the JSON in the payload

[2018-06-07 13:19] CKeene78 commented on #1063
Any update on this? I'm still hitting the limit with a mere 20MB file.

[2018-06-07 17:15] pragnagopa commented on #2676
Adding notes from @mathewc
In most of the restart paths (file changes, etc.) we do log the right info before triggering the restart. We should review all the codepaths into the triggering of host shutdown/restart and see if there are any remaining places where we might not be logging. Missing logs may be due to web app itself is shutting down for some reason. E.g. we have handling global.asax hand

[2018-06-07 17:16] mathewc commented on #511
You can already control the maximum number of scaled out instances via the **WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT** app setting (details [here](https://github.com/Azure/azure-functions-host/wiki/Configuration-Settings)). Let us know if that works for you. Using that in conjunction with per instance queue control knobs will let you limit your concurrency.

[2018-06-07 17:30] pragnagopa opened #2963 "Handle IO Exceptions in Grpc Service"
Test executions are crashing intermittently with following error:
[code]

This could happen if functions grpc service is trying to write to a channel that is already closed i.e if language worker crashed. We need to handle these IO errors.

[2018-06-07 17:56] DonKarlssonSan commented on #1303
Do you have any updates regarding this issue?

[2018-06-07 18:00] fabiocav commented on #2961
I'm unable to repro this with bits in `dev` or currently released bits.

Here's the repro code I'm using: https://github.com/fabiocav/ProjectDependencyFunctionIssue

Running from both, the standalone host and the CLI seems to work.

[2018-06-07 18:40] ealsur commented on #2549
@syedhassaanahmed Could you do a test?
* Do a deploy and enter the Portal
* Verify that the lease collection contains documents
* Do another deploy targeting the same lease collection
* Do not enter the Portal and insert some documents to see if the Function does not fire
* Share the name of the Function with us so we can take a look at the telemetry.

[2018-06-07 19:19] mikhailshilkov commented on #2961
OK, I get the same error with your function.
- I changed it to `Anonymous` (how do I get function key otherwise?)
- I set `"AzureWebJobsScriptRoot": "C:\\Work\\ProjectDependencyFunctionIssue\\ProjectDependencyFunction\\bin\\Debug\\netstandard2.0"` in `appsettings.json`
- F5 from Visual Studio in host project with `WebJobs.Script.WebHost` as Startup
- Navigate to `http://localhost:51897/api/Functio

[2018-06-07 22:21] soninaren commented on #2940
While we figure out the right way to handle this scenario you can use the following workaround.

Simply create an httpTrigger function with Authorization level set to Anonymous

[code]

[2018-06-07 22:59] aaronpowell opened #2967 "API documentation can't be exposed with an anonymous URL"
As noted in #2940 it's not possible to use a Proxy to expose the API documentation (aka, swagger) as it resides at a `/admin` path.

Because the swagger URL contains an "access code" this makes the URL somewhat unreadable/hard to remember, so it would be preferable to use a Proxy to create a more friendly URL, or at least to hide the "access code".

# Workaround

As noted here https://github.com/A

[2018-06-07 23:00] aaronpowell commented on #2940
Thanks @soninaren, I'd done something similar.

I've created a separate issue to track the feature request of having an anonymous way to expose the API documentation URL.

[2018-06-07 23:07] fabiocav commented on #2961
Ha.... that code path, currently, does rely on the `AzureWebJobsScriptRoot` being set as an environment variable. For your flow, just set that in the project properties (under debug) and that should take care of the problem

[2018-06-07 23:35] mathewc opened #2968 "Timer function replays when singleton lock lost"
As described [here](https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/TimerTrigger#singleton-locks) timer trigger functions rely on a blob lease behind the scenes to ensure only a single instance of the timer is running across scaled out instances.

In normal processing, an instance is long lived, holds the lease and monitors the schedule, invoking the function at the right time. Behind t

[2018-06-07 23:38] syedhassaanahmed commented on #2549
Thanks @ealsur I just made another observation after going through the steps you've described above.
The way I've been inserting documents into the target collection is by using [this load test script](https://github.com/syedhassaanahmed/azure-event-driven-data-pipeline/blob/master/load-test/generate-load.sh) which prior to sending the load, recreates both the target collection as well as `leases`

[2018-06-08 00:12] ealsur commented on #2549
Thanks @syedhassaanahmed, one last question, does that test script gets run after or before you deploy the Function code?

Basically, does the lease collection exist when the deploy is made?

[2018-06-08 00:27] ahmelsayed commented on #2968
@mathewc should I close this as a dupe https://github.com/Azure/azure-functions-host/issues/2950?

[2018-06-08 00:38] envoy-mcapodici commented on #2954
I have fixed it by entering the AzureStorageConnectionString as a setting as well as a connection string, as per https://github.com/Azure/azure-functions-host/issues/1240#issuecomment-337011076

If you have one or the other it doesn't work. I need the connection string both as a connection string and a setting to get it to consistently work.

I am guessing once is to do with processing and the oth

[2018-06-08 01:06] JohnReeson commented on #2942
@safihamid Could you have a look at this issue? Thanks.

[2018-06-08 01:06] fabiocav commented on #2899
Resolved by: https://github.com/Azure/azure-functions-host/pull/2958/files

Release in progress: https://github.com/Azure/app-service-announcements/issues/112

[2018-06-08 01:06] #2899 closed

[2018-06-08 01:07] fabiocav commented on #2941
Resolved by: #2958

Release in progress: https://github.com/Azure/app-service-announcements/issues/112

[2018-06-08 01:07] #2941 closed

[2018-06-08 01:18] syedhassaanahmed commented on #2549
@ealsur Load test script runs **after** the deployment of Function code. [Here](https://github.com/syedhassaanahmed/azure-event-driven-data-pipeline/blob/master/nested-arm-templates/consumer-egress.json) is the ARM template which deploys the Function.

Leases collection doesn't exist when deployment is made. Leases is created as part of the Load Test. Also the [function code](https://github.com/sy

[2018-06-08 02:08] rocklan commented on #1451
Very surprised that I have to sit here and try to make an argument that it's helpful for customers to be able to predict their costs and that it's not just a nice to have. This is a vital feature and without it makes it impossible to me to justify Azure Functions to anyone. In the meantime I'm going to AWS where I can tell my boss how much it will save us to move a bunch of our code to this new se

[2018-06-08 08:11] mathieumack commented on #2900
Hello,
I've the same issue, I've tried many fixes.
@vsadams could you share a sample solution that fix the issue ?
Thanks

[2018-06-08 09:15] sanderaernouts commented on #2720
@isaac2004 I did something very similar based on your example repo.The only difference is that I injected the ILoggerFactory into the function trigger. You can then use ILoggerFactory.CreateLogger(..) to create the required logger. I then went on and configured and IServiceProvider like this:

[code]
I added a `Startup.cs` just so it's a bit more like aspnetcore:
[code]

I have added services in t

[2018-06-08 09:35] mikhailshilkov commented on #2961
That helps indeed, thanks. I suggest to fix it though for the setting, or get rid of the setting altogether.

[2018-06-08 11:57] ealsur commented on #2549
My initial thought is that when you deploy the Function, it tries to start, but fails due to the non-existent target collection (this is similar to when you create a Function and you point to an invalid connection string for example). When the target collection already exists, it starts without issue as you described. I'll see if I can find any logs to back this train of thought. Did you try addin

[2018-06-08 12:39] syedhassaanahmed commented on #2549
@ealsur Well, collections are not part of Cosmos DB Connection Strings though, but I get your point. To add to that, the entire solution (function apps, service bus, cosmos db, app insights) is being deployed using ARM. ARM currently doesn't support creating a Cosmos DB database and collection, just the account. That makes it impossible to deploy the Function App via ARM, such that the collection

[2018-06-08 12:51] ealsur commented on #2549
@syedhassaanahmed Yeah, I agree, neither databases nor collections can be created through ARM and for this scenario, it's an issue.
The Trigger, when starting, tries to connect to the collection's Change Feed, and if the collection does not exist, it will fail to initialize. I'm not sure how Consumption Plan works in that scenario (probably Functions team can comment), but it sounds like the insta

[2018-06-08 13:17] vsadams commented on #2720
@sanderaernouts  is that using the latest version of the v2 function runtime?  Also, I tried a similar approach but instead of injecting the factory I just requested an ILogger from the IOC and in the registration I just created a logger from the factory.  The problem I had was that even though I got a logger from the factory, it was very obvious it wasnt the correct Logger wrapper, it wouldnt log

[2018-06-08 14:12] sanderaernouts commented on #2720
@vsadams  think so:
![image](https://user-images.githubusercontent.com/6184673/41160417-ed2438ae-6b2f-11e8-882e-56f08ade791a.png)

But you are right, the loggers get injected as expected but do not log anything but the default function logging. I did not notice that one yet..
![image](https://user-images.githubusercontent.com/6184673/41162247-9281d9c8-6b35-11e8-9529-01394800d6ec.png)

The problem

[2018-06-08 14:20] vsadams commented on #2900
I stripped out all the extra stuff in my project and posted an [Example](https://github.com/vsadams/AzureFunctionV2DI) on how to get the assembly loading working.  You have to have a custom binding so that you can trigger the invocation of an implementation of IExtensionConfigProvider on startup.  At least, thats the only way I know how to get a handle into the startup code of the runtime. If ther

[2018-06-08 14:45] mathieumack commented on #2900
It works !! You saved my week ! Thank you.

[2018-06-08 16:16] syedhassaanahmed commented on #2549
@ealsur I can confirm that using an HTTP Trigger correctly forces a wakeup and consequently triggers a changefeed.

[2018-06-08 16:31] paulbatum opened #2969 "File not found exception when loading assembly from function with double underscore"
#### Repro steps

1. Create a C# function with two consecutive underscores in the name such as `HttpTriggerCSharp__3`.
2. Modify the function to load an assembly using #r such as `#r "../bin/MyLibrary.dll"`
3. Upload given library to the function app so that it should work

#### Expected behavior
Library is loaded

#### Actual
`[Error] Exception while executing function: Functions.HttpTriggerCShar

[2018-06-08 16:33] isaac2004 commented on #2720
@sanderaernouts yep this was called out in that blog post I referenced earlier. This is pretty large barrier for DI to work in Functions. I figure the team is working on this currently as DI is one of the top TODOs for Azure Functions.

[2018-06-08 16:55] paulbatum commented on #1451
I understand why this feature is often requested and am not debating its usefulness. I've directly pointed my team at this issue to make sure that the level of interest behind this feature request is understood.

However I personally think that claiming that its absence means you cannot predict your costs is misleading. Here's why:
1. You can just write your function and run it once with input tha

[2018-06-08 16:55] fabiocav commented on #2900
Warning: This approach will likely cause issues moving forward. Just subscribing to the default domain resolve event and loading assemblies into _no context_ may have undesirable results (e.g. type mismatches, etc.)

A lot of work is going into 2.0 to mitigate those types of problems and while 2.0.11776 introduced the foundation for that functionality, it did have some limitations and restrictions

[2018-06-08 17:07] paulbatum commented on #2950
Dupe of https://github.com/Azure/azure-functions-host/issues/2950

[2018-06-08 17:07] #2950 closed

[2018-06-08 17:11] paulbatum commented on #2950
Dupe of https://github.com/Azure/azure-functions-host/issues/2968

[2018-06-08 17:11] paulbatum commented on #2968
I did it the other way round since this issue has the detailed explanation and workarounds.

[2018-06-08 17:37] paulbatum commented on #1063
I'm not aware of anything outstanding here. I think the issue was just not closed appropriately. Have you made sure you are running the latest bits?

[2018-06-08 17:47] vsadams commented on #2900
@fabiocav  Thats awesome news. I figured this would be fixed in the future. Ill remove my hack and test it out on the latest version!.

[2018-06-08 17:55] ahmelsayed commented on #2968
yeah, sorry that's what I meant. Thanks Paul

[2018-06-08 18:22] ealsur commented on #2549
It seems then that it's a race condition of sorts, where the Function tries to start initially and fails due to the non-existent collections. The HTTP Trigger ping forces a wake-up and, since the collections exist at that point, the Trigger will initialize correctly.

If the collections exist before the deploy as you indicated, it works from the start, because the initial Trigger initialization wo

[2018-06-08 18:45] mathewc opened #2972 "HostHealthMonitor Process Recycle improvement"
The [HostHealthMonitor](https://github.com/Azure/azure-functions-host/wiki/Host-Health-Monitor) monitors process level thresholds and when there is a violation takes measures to try to restore instance health:

1) first it will initiate a **host restart** to see if it recovers. The idea here is that shutting down the host will force a period of quiet to allow the levels to return below threshold.

[2018-06-08 20:00] JeffHughes commented on #1451
That's ridiculous!  
That assumes only PURE FUNCTIONS with exactly the same input and interaction w EVERY system, EVERY TIME!
Even w pure functions (or something close), the variability of running functions wouldn't be within 3 std deviations which would render the estimates useless.

    On Friday, June 8, 2018 11:55 AM, Paul Batum <notifications@github.com> wrote:

 I understand why this feature

[2018-06-08 20:04] #2963 closed

[2018-06-08 20:32] paulbatum commented on #1451
I don't understand how being able to query the system for the cost of an individual function execution helps with that problem. If anything, it backs up my statement that collecting the billing metrics based on a load/performance test is a better approach.

[2018-06-08 22:42] pragnagopa opened #2974 "Move Java worker providers to use generic worker provider model"
Currently, python worker uses GenericWorker model and provides a json file as described [here](https://github.com/Azure/azure-functions-host/wiki/Authoring-&-Testing-Language-Extensions). Node and Java worker providers are part of the runtime. We should move to a single model where language worker provides worker.config.json
- Update Java Worker https://github.com/Azure/azure-functions-java-worker

[2018-06-08 23:11] paulbatum commented on #2945
Closing as duplicate of https://github.com/Azure/azure-functions-host/issues/2113

[2018-06-08 23:12] paulbatum commented on #2945
Unless these are two different types of throttles? If I'm mistaken please reopen..

[2018-06-08 23:48] mathewc commented on #2945
This issue is different from the other, which is about enabling throttles by default. That presupposes the existence of the http throttles feature which was removed in the v2 migration. This issue tracks reenabling the feature, and #2113 tracks changing the default.

[2018-06-09 02:09] safihamid commented on #2942
Yes we’ll be looking at this.

[2018-06-09 15:54] isaac2004 commented on #2720
@sanderaernouts do you have a repo to share for this?

[2018-06-09 21:52] mikhailshilkov commented on #2746
@paulbatum Ok, I got it working on the latest bits. `EventData` is converted to `MyEventData` just fine.

Can the same trick work with HTTP trigger? I tried adding a converter from `HttpRequest` but it doesn't seem to be triggered.

Looking at code, `HttpTriggerAttributeBindingProvider` seems to just parse my custom class as DTO from the body. Can I override that with custom code?

[2018-06-09 23:32] arichiardi opened #2976 "Disable file watcher"
Hello folks!

This is more like a feature request. I was wondering whether there is a way to disable file watching.

A workaround is to point to a folder that never changes but maybe there is a cli switch for doing that which I cannot find, apologize if already there.

The use case would be to be able to work with a REPL without losing runtime state every time the files are changing.

I tried the

[2018-06-10 07:05] sanderaernouts commented on #2720
@isaac2004 now I do, you can find it here:
https://github.com/sanderaernouts/azure-functions-v2-di

FYI: based on [this blog post](https://www.neovolve.com/2018/04/05/dependency-injection-and-ilogger-in-azure-functions/) you mentioned earlier I tried to create a `LoggerFactoryAdapter` by implementing `ILoggerFactory` and forwading all calls to the logger factory available in the `ExtensionConfigCo

[2018-06-10 10:18] robdmoore opened #2977 "ConnectionStrings don't get bound via [AppSetting] since 2.0.1151-alpha"
All releases since `2.0.11651-alpha` of the functions runtime in Azure don't bind `[AppSetting("ConnectionStrings:CONNECTION_STRING_NAME")]` anymore. It did before that and still does when running locally on latest SDK.

## Investigative information

I've created a minimum representation of the issue to illustrate.

### Doesn't work

- Timestamp: `2018-06-10 07:35:00.006`
- Function App version (1

[2018-06-10 12:16] jbellmore commented on #2901
The most confusing part about these errors is that they are appearing in a pre-compiled application where all of the binaries are available in the same folder as the main .dll that contains the function being executed.

I even went so far as to publish the app using dotnet publish with the --self-contained param so even the runtime was included in the folder and that doesn't seem to work either.

[2018-06-10 17:33] isaac2004 commented on #2720
@sanderaernouts good stuff, but do you need configuration in localsettings.json to get loggin to work locally? Your sample does not log when local debugging.

[2018-06-10 18:18] drub0y opened #2978 "Are ScaleManager/IScaleHandler going to land with 2.0 RTM?"
I was looking into how to do auto-scaling for self-hosting functions beyond just watching system resources (e.g. memory/cpu) so that we can scale more intelligently based on actual workload (e.g. my queue is suddenly 10k msgs deep, I need to scale to 10 instances immediately).

I see that `ScaleManager` has been introduced along with an abstraction `IScaleHandler` (#1549) that looks like it aims t

[2018-06-10 21:08] tmakin commented on #2856
@fabiocav Are you are able to share which assemblies are being explicitly blocked?

I have run into the ImageSharp issue, and I have similar looking problem with `System.IO.Packaging` and I'm interested to know if the root cause is the same:
https://github.com/Azure/Azure-Functions/issues/816

[2018-06-11 02:32] nevercast commented on #162
Just an aside to this, how should I handle logging stuff that may happen outside of an Azure function call? Assuming that, on a Consumption plan, as long as the server hasn't gone cold, a timer could still trigger code to run, what is the right way to handle this logging out of band from a trigger?

[2018-06-11 03:48] fabiocav commented on #2856
@tmakin this has been addressed with the update we’re rolling out. If you create a function app in West US 2, you should be able to test with those new bits (2.0.11857). CLI will be available soon.

[2018-06-11 03:53] fabiocav commented on #2901
This has been addressed with the update we’re rolling out. If you create a function app in West US 2, you should be able to test with those new bits (2.0.11857). CLI will be available soon.

I can provide instructions on how to get the CLI bits working, but they’ll be rolling out early this week

[2018-06-11 05:35] sanderaernouts commented on #2720
@isaac2004  no `localsettings.json` is not required. I run the functions app locally from VS then I trigger the function by running `Invoke-WebRequest -Uri "http://localhost:7071/api/Function1"` from a Powershell command prompt and I see this logging in the console:
![image](https://user-images.githubusercontent.com/6184673/41214148-f3f28e58-6d49-11e8-9d2d-4f621cde7292.png)
These are the two loggi

[2018-06-11 07:25] Inspyro opened #2979 "EntryPointNotFoundException with Autofac"
Describe the bug
When referencing Autofac in an old version in a referenced project of the function app, and referecing a newer version of Autofac in the function app via nuget we get an EntryPointNotFoundException that is rather strange.

To Reproduce
Use the attached repro sample, Press F5 to debug the function app -> see the EntryPointNotFoundException
[FunctionApp1_Repro.zip](https://github.co

[2018-06-11 07:27] Inspyro opened #2980 "CLI sometimes waits a long time before executing a function"
Describe the bug
Sometimes it takes around 1m until the azure cli runs a function

See the log:
[07.06.2018 13:08:09] Generating 1 job function(s)
[07.06.2018 13:08:09] Found the following functions:
[07.06.2018 13:08:09] FunctionApp1.Function1.Run
[07.06.2018 13:08:09]
[07.06.2018 13:08:09] Host initialized (1105ms)
[07.06.2018 13:08:09] Executing HTTP request: {
[07.06.2018 13:08:09] "requestId"

[2018-06-11 10:51] MSC-AA commented on #2877
We're having the exact same issue.
Waiting for a sensible solution :)

[2018-06-11 14:15] AssafNeufeld commented on #2690
UPDATE + WORKAROUND:

OK, so the above description is certainly the cause of the memory leak. We removed the app settings

"AzureWebJobsDashboard"

From our functions, thus disabling logging to Azure Storage (we only rely on AppInsights telemetry in any case).
The memory leak disappeared and has not returned since (after repro-ing dozens of times over the past few months).

Thanks!

[2018-06-11 15:05] fabiocav commented on #2877
The update that is currently rolling out addresses this issue. This is currently being deployed to Azure and the CLI will be available in the next few days

[2018-06-11 16:20] securityvoid commented on #1063
@CKeene78 Have you tried it on the live site? Its been my experience that local Azure Functions has a MUCH lower limit than the real thing. Its frustrating its not consistent, but last time I checked (about a month ago) it was still different.

I believe this ticket is specific to the version actually used by Azure Functions verses the CLI.

[2018-06-11 16:42] safihamid commented on #2942
@vfedonkin would you please look into this? thanks

[2018-06-11 16:43] mathewc opened #2981 "Placeholder WarmUp compilation failures"
Logs show that the placeholder WarmUp function occasionally fails to compile. This should never happen and hints at a specialization bug that should be fixed.

Kusto query (wus):

FunctionsLogs
| where PreciseTimeStamp > datetime(2018-06-11 16:00) and PreciseTimeStamp < datetime(2018-06-11 18:00)
| where Details contains "Exception while executing function: Functions.WarmUp"
| take 5

[2018-06-11 17:00] vfedonkin commented on #2942
Looking

[2018-06-11 18:57] isaac2004 commented on #2720
@sanderaernouts oddly enough, if you move your service into a .NET Standard library, it does not log. Will need to look into this more. No exception, just not logging

[2018-06-11 19:08] pragnagopa opened #2984 "Update supported extesions in workerDescription to an array"
[WorkerDescription.cs#L16](https://github.com/Azure/azure-functions-host/blob/ca3e1f2ef965d6bc4ab57eb35655c4b38a58d9c0/src/WebJobs.Script.Grpc/Abstractions/WorkerDescription.cs#L16) should be be an array. E.g. for Node in v1, we supported both .js and typescript https://github.com/Azure/azure-functions-host/blob/1e38fafa4410cc60720c1a680f3b104244b6a473/src/WebJobs.Script/Description/Node/Compilati

[2018-06-11 20:46] arerlend commented on #2980
Hi @Inspyro - check if this helps you out.  https://github.com/Azure/azure-functions-core-tools/issues/55

[2018-06-11 22:42] paulbatum commented on #2690
Thank you for the in depth analysis and sorry for dropping off this issue for a while. I agree with your conclusions. I am trying to put together a fix so that users that still need to use this logging code path (e.g. users on Azure Stack) won't hit this. I would say that using App Insights and disabling the dashboard is a better fix for users that have that option (such as yourself).

[2018-06-11 23:54] TsuyoshiUshio commented on #2835
Thank you, @pragnagopa !

[2018-06-12 00:52] paulbatum commented on #2746
Thats good to hear, sorry this has been so painful. I have no idea about the status of HTTP - it might have the same issues as queues and not support the converters.

I don't think there are any docs for converters beyond what is in the code itself. We have not really pushed this extensibility very hard yet (we leverage it internally as we add new capabilities to functions, but to create a thrivin

[2018-06-12 01:15] LeastOne commented on #2979
Confirmed. Encountering the same problem attempting to integrate Autofac 4.8.1 in a Azure Function v2 project targeting netstandard2.0.

[2018-06-12 02:09] jdneo opened #2986 "Investigate Debugging Java functions with JAVA_OPTS"
#### Investigative information

Here are logs I got:

[code]

- Function App version:  `2.0-beta`
- Function App name: `remote-debug-test6`
- Function name(s) (as appropriate): `hello1`
- Region: `Southeast Asia`

#### Repro steps

1. Provision a new Function App
2. Change runtime to beta
3. Deploy the Jars(A HTTP-triggered function) using zipPushDeploy
4. Add `JAVA_OPTS: -Djava.net.preferIPv4Stac

[2018-06-12 06:40] 13127755587 commented on #2881
@fabiocav can you kindly share the release date to us? thanks a lot

[2018-06-12 08:28] Inspyro commented on #2980
@arerlend Yes thanks that resolves the problem for me

[2018-06-12 08:28] #2980 closed

[2018-06-12 14:59] Dan-Williams93 commented on #33
@cgillum Is there any update on the expected release of this functionality?

[2018-06-12 15:09] davidebbo commented on #2881
@13127755587 The deployment of the new build (2.0.11857-alpha) is now complete. Can you verify that it works for you?

[2018-06-12 15:51] forki commented on #2881
Just restarted the function app and it shows the new version. But still
getting 404.

David Ebbo <notifications@github.com> schrieb am Di., 12. Juni 2018, 17:10:

[2018-06-12 16:06] forki commented on #2881
Let's consider the following function app:

Subscription ID: 3363a07f-9c2b-4ed0-9624-d692d2038939
FunctionAppName: chargingpointimport
Function: BNetzAImport
Europe West

    Could not load file or assembly 'TaskBuilder.fs, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.

But I think the file is there - it worked with 2.0.11651-alpha

[2018-06-12 16:14] davidebbo commented on #2881
@forki I checked and you're definitely running the new build. I'll let @fabiocav comment further on why it may still not be working.

[2018-06-12 16:15] forki commented on #2881
Thank you!

David Ebbo <notifications@github.com> schrieb am Di., 12. Juni 2018, 18:14:

[2018-06-12 16:37] cgillum commented on #33
No specific dates have been committed yet, but we're hoping to have this available in time for the Functions v2 GA release (which also doesn't have a specific date, other than later this year).

[2018-06-12 16:49] ahmelsayed opened #2987 "[v2] Error when using the latest Microsoft.Extensions.Configuration version."
**repro:**

1- Create a new v2 project in VS
2- install latest stable `Microsoft.Extensions.Configuration` (2.1.0)
3- Create a `var cb = new ConfigurationBuilder();`
4- invoke the function

**Result:**

[code]

**Workaround:**

Downgrade to 2.0.0

Reported on SO: https://stackoverflow.com/a/50785403/3234163

[2018-06-12 17:30] fabiocav commented on #2881
Will need to take a look at your function app to see what is going on there. Does this happen locally as well?

[2018-06-12 17:34] fabiocav commented on #2864
This has been addressed by the fix put in place for #1722

[2018-06-12 17:34] #2864 closed

[2018-06-12 17:36] fabiocav commented on #2848
Most of the dependencies have been updated with the move to .NET Core 2.1 (including Json.NET). Storage is still pending as we need to finish the DI work and bring the isolated extensions. This will bleed into the next sprint.

[2018-06-12 17:40] forki commented on #2881
Dunno. I can't test locally right now. Tbh we only test with the online
version for various reasons.

Fabio Cavalcante <notifications@github.com> schrieb am Di., 12. Juni 2018,
19:31:

[2018-06-12 17:52] fabiocav commented on #2881
Sounds good. Will take a look and update with what I find.

[2018-06-12 18:08] svickers commented on #2986
I am having this same issue but for a javascript function.  Has been running without issue for a few months and just this morning started getting 100% failure rate, have not made any code changes.  Tried restart, rebuild, redeploy, no luck on fixing.

[2018-06-12 18:43] #2710 closed

[2018-06-12 19:41] btardif opened #2989 "Hitting URL of MSGraph templates return 500 error"
_From @SimonGuo009 on May 3, 2018 10:29_

**Environment URL:**   https://aka.ms/canaryforbuild
**App runtime version:**  1.0.11702.0 (~1)
**Beta runtime version:**  2.0.11651.0 (beta)
**Browser:** Chrome

**Note:**
This bug can be reproduced with both" ProfilePhotoAPI" & "Outlook message webhook creator"b Templates.

Please refer to the snapshot:
![bug1_msgraphtemplatesreturn500](https://user-imag

[2018-06-12 19:41] btardif commented on #2989
@mattchenderson can you colse this out since it's a graph issue?

[2018-06-12 19:41] btardif commented on #2989
_From @mattchenderson on May 10, 2018 22:0_

I think this has to do with https://github.com/MicrosoftDocs/azure-docs/issues/8121. You would need to make an application manifest change. We are discussing putting this change into the "Configure AAD" action, but for now, it would be an additional step.

CC @ConnorMcMahon, @cgillum

[2018-06-12 19:41] btardif commented on #2989
@mattchenderson is this a back-end change then? can this be moved to runtime repo?

[2018-06-12 19:41] btardif commented on #2989
_From @SimonGuo009 on June 7, 2018 9:8_

This bug was reproduced today under the following environment:

**Portal Environment:** https://ms.portal.azure.com
**Browser:** English/Chrome
**Date:** 6/7/2018
**Subscription:** antps35
**Runtime Version:** 2.0.11850.0 (beta) (Private Site Extension)
**Hosting Plan:** App Service Plan (S1)

[2018-06-12 20:18] #2888 closed

[2018-06-12 20:32] dariagrigoriu opened #2990 "Configure number of instances per Linux Function App"
Add ability to configure the number of instances per Linux Function App as part of the preview.

[2018-06-12 22:33] #2772 closed

[2018-06-12 22:33] #2771 closed

[2018-06-12 22:34] #2770 closed

[2018-06-12 22:34] #2769 closed

[2018-06-12 22:54] chmarti commented on #2864
@fabiocav how exactly was this addressed? I'm on the latest version of dotnet, visual studio, functions host / tools (azure-functions-core-tools  2.0.1-beta.28) and I'm still stuck in a situation where these TypeLoad errors are really difficult to debug. What I guess I'm not understanding is:
1. Why is a certain version of Azure storage required? How do I know which one it is?
2. Why is the actual

[2018-06-13 00:28] #2305 closed

[2018-06-13 00:30] #997 closed

[2018-06-13 04:07] davidebbo commented on #298
Closing this issue as Run-From-Zip is working well enough for most people (and some others are using funcpack). It doesn't mean that there can't be more optimizations, but we can always track specific work separately, as this issue is too open opened.

[2018-06-13 04:07] #298 closed

[2018-06-13 08:15] farrukh-normuradov commented on #2976
We use Nodejs + VSCode and the Function Host is just picking every change in the workspace.
The function is reloaded with every test file update.

The setting in `host.json`
[code]
does not limit the number of watched directories to one.

[2018-06-13 12:26] jeffhollan opened #2992 "Throw an error if a binding is attempted to be used with wrong type or w/out extension"
A number of people end up writing a function.json like this for the v2 runtime:

[code]

Which is invalid for a few reasons (`type` in v2 is now `cosmosDB`, and `connection` in v2 is now `connectionStringSetting`).  Even though [we have this documented](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2), people who don't realize they have done something wrong ha

[2018-06-13 14:57] jazzyray opened #2993 "Function redeploy fails with 404 (package)"
Redeploying to an existing function app within an ASE fails. Using mvn plugin.

Plugin fails to re-deploy into function app after a period of successful deploys (approx 24 hours).
Async operation failed with provisioning state: failed
404 on

[code]

Issue raised on plugin issue board: https://github.com/Microsoft/azure-maven-plugins/issues/173
I was recommended that this is a back-end/server-side

[2018-06-13 16:17] #2867 closed

[2018-06-13 17:09] pragnagopa commented on #2878
This was a regression introduced on how runtime load configsettings. Issue was addressed in CLI: https://github.com/Azure/azure-functions-core-tools/commit/b8ba594734c65f12e082d93c0a8553fea484808f

[2018-06-13 17:09] #2878 closed

[2018-06-13 17:11] pragnagopa commented on #2840
Fixed as part https://github.com/Azure/azure-functions-host/issues/2963

[2018-06-13 17:11] #2840 closed

[2018-06-13 17:12] pragnagopa commented on #2490
This is fixed: https://github.com/Azure/azure-functions-host/commit/31d00498e305451cb360942515f98f695c7d85bf

[2018-06-13 17:12] #2490 closed

[2018-06-13 17:16] pragnagopa commented on #2947
Fixed in https://github.com/Azure/azure-functions-host/pull/2975

[2018-06-13 17:16] #2947 closed

[2018-06-13 17:20] kylefurlong opened #2995 "Node.js native module fails to load"
When trying to load the `appdynamics` Node.js module within an Azure Function, the execution fails with an exception:

#### Investigative information

Please provide the following:

- Timestamp: N/A
- Function App version (1.0 or 2.0-beta): 1.0
- Function App name: N/A
- Function name(s) (as appropriate): N/A
- Invocation ID: N/A
- Region: N/A

Azure details not available as I'm with the vendor su

[2018-06-13 17:24] pragnagopa opened #2996 "Log error message if there are no functionDescriptors due to errors in loading workerprovider"
_From @pragnagopa on April 17, 2018 17:9_

[Jobhost](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/JobHost.cs#L372) needs to be updated to provide specific error message coming from ScriptHost.
One example:  ScriptHost now throws error [here](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Host/ScriptHost.cs#L1410) if invalid languag

[2018-06-13 17:26] btardif opened #2997 "Honor host level function filter"
_From @mathewc on June 5, 2017 15:32_

As described in the host.json wiki https://github.com/Azure/azure-webjobs-sdk-script/wiki/host.json the host level "functions" filter allows the user to specify the set of functions that should be loaded/run. All other functions are ignored by the runtime.

It doesn't look like the portal honors this - we've had user reports that when they set this filter to

[2018-06-13 17:34] forki commented on #2881
Any news? I'm getting really worried since this is second release after the one that works and I assume you guys will deprecate the working one soon.

[2018-06-13 17:34] pragnagopa commented on #2996
As of now we only see generic message "no functions found" if function descriptors are missing.
https://github.com/Azure/azure-functions-host/blob/d95653b8fda05e9a0b0c7b48196e555135a80257/src/WebJobs.Script/Host/ScriptHost.cs#L1424

Need to log error message if this is due to errors in loading a worker provider.

[2018-06-13 17:46] fabiocav commented on #2881
We'll keep that around until we get to the bottom of this (/cc @davidebbo)

Haven't been able to investigate this yet, blocking the time to do this today. To speed up the cycle, I'll also see if I can make updated releases available out of band so we can validate that we won't hit any other issues as we move forward.

[2018-06-13 17:48] forki commented on #2881
Very cool. I'm currently at vacation, but I'm definitely able to test other
runtime versions if needed. Thank you

Fabio Cavalcante <notifications@github.com> schrieb am Mi., 13. Juni 2018,
19:46:

[2018-06-13 17:51] pragnagopa commented on #2986
@svickers  - Please see breaking change annoucement here https://github.com/Azure/app-service-announcements/issues/112
@jdneo - I will investigate. Renaming to title to reflect that this issue is regarding debugging

[2018-06-13 17:54] paulbatum commented on #2978
Not by 2.0 RTM. Because the application developer is abstracted from the details of how scale is handled, we feel like we can continue pushing on this area beyond the RTM timeframe and in the meantime we need to focus on breaking changes, experience issues etc that would be much more impactful to users if not addressed by RTM.

Closing this as answered.

[2018-06-13 17:54] #2978 closed

[2018-06-13 17:54] pragnagopa commented on #2993
This issue was moved to Microsoft/azure-maven-plugins#178

[2018-06-13 17:54] #2993 closed

[2018-06-13 18:09] paulbatum commented on #2995
There is no native module support in functions V1. Please try this on the V2 beta. If you still have problems comment on this issue and I'll reopen.

[2018-06-13 18:09] #2995 closed

[2018-06-13 18:14] paulbatum commented on #2989
@ConnorMcMahon Are you looking at this at all?

[2018-06-13 18:15] paulbatum commented on #2987
@fabiocav think this is already resolved with the current bits in dev. Will confirm and close.

[2018-06-13 18:27] paulbatum commented on #2979
Can you give us a repro against V2? We probably won't be able to address for V1.

[2018-06-13 18:34] paulbatum commented on #2977
Did your screenshot truncate the relevant part? I don't see "test2" in that screenshot.

We're actually in the middle of making some changes for how these settings are resolved. There will be a release in a few weeks with these changes. If the issue persists in that release we should investigate as it looks like your code is correct.

[2018-06-13 18:55] paulbatum commented on #2915
Did you set an appsetting in the portal for your function app with name "PlatformEventHub_events" containing your connection string? Because it looks like you might have that in your local settings file but the local file is not used when you're running in Azure.

[2018-06-13 20:17] mathewc commented on #2976
Yes, my recollection was correct. Turns out there is a `fileWatchingEnabled` setting that you can set in host.json. Set it to `false` and all file watching will be disabled. E.g.:

[code]

[2018-06-13 20:17] #2976 closed

[2018-06-13 20:40] arichiardi commented on #2976
This is awesome thank you.

[2018-06-13 20:48] paulbatum commented on #2895
potentially breaking depending on exact implementation

[2018-06-13 20:49] paulbatum commented on #2992
Dupe of https://github.com/Azure/azure-functions-host/issues/2895

[2018-06-13 20:49] #2992 closed

[2018-06-13 20:59] GregLevenhagen opened #2998 "NewtonSoft.Json 10.0.3 needed, but getting 11.0.0.* - Breaking Durables"
Yesterday our Durables started producing 500s because of the following NewtonSoft.Json reference on the assembly version. We are not including nor using any NewtonSoft.Json within our own code.

#### Investigative information

- Timestamp: 2018-06-13T20:50:33.457
- Function App version (1.0 or 2.0-beta): 2.0.11857-alpha
- Invocation ID: 71dd8324-4e48-485d-bad1-08078082a159, fbbf76fb-448d-4d2b-84e5

[2018-06-13 21:09] GregLevenhagen commented on #2998
Workaround
`FUNCTIONS_EXTENSION_VERSION ~2.0.11776`
will show

but works for now.

[2018-06-13 21:11] jeffhollan commented on #2895
When I think about experience I like the current C# assembly experience - in that if I don't have the right extension I can't even build.  Obviously with things like JavaScript there isn't a build step, but would prefer for things to fail outright than appear to work or give a yellow-text warning.

My preference is during host startup it evaluates the types in function.json and compares against ty

[2018-06-13 21:16] MisinformedDNA opened #2999 "Consumption Plan Scale with Blob Triggers"
I wrote a .NET v1 app that is triggered off of blobs, with over 15,000 blobs to process. Each function run causes some data to get inserted into a DB as well as a `WAITFOR DELAY '00:00:25'` on the SQL Server. From what I read, I expected Azure Functions to just keep adding instances until it overloaded the DB, but that never happened. Instead, I seem to be stuck with 16 concurrent threads at any g

[2018-06-13 22:21] ahmelsayed opened #3000 "webhooks/incoming doesn't work if defined in routePrefix"
_From @sonumalik1990 on June 13, 2018 9:16_

I have created an azure function as below:

[code]

and host.json:

[code]

 "routePrefix": "api/webhooks/incoming", is mandatory to use.

Url : http://localhost:7071/api/Product/incoming/Test is working

Url: http://localhost:7071/api/webhooks/incoming/Test is not working

Please suggest.

_Copied from original issue: Azure/Azure-Functions#839_

[2018-06-13 22:21] ahmelsayed commented on #3000
_From @xscript on June 13, 2018 14:10_

Have you checked this [doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#customize-the-http-endpoint)?

[2018-06-13 22:23] ahmelsayed commented on #3000
a host.json with

[code]
Gives 404 for any function

It might be a reserved route by the webhooks library

[2018-06-14 00:58] soninaren opened #3003 "Extension WebHook provider doesn't support linux"
IWebHookProvider implementation by default returns null when running on linux (dedicated). apps The [code looks up](https://github.com/Azure/azure-functions-host/blob/5e04b953944e17e965a33e83173d92c6ba5993ca/src/WebJobs.Script.WebHost/WebHooks/WebJobsSdkExtensionHookProvider.cs#L56) WEBSITE_HOSTNAME app setting which is not set for linux apps. This causes the [GetWebhookHandler](https://github.com

[2018-06-14 03:25] dustensalinas opened #3004 "Node.js Http Function - request body undefined unless content-type specified."
- Timestamp: 201806013
- Function App version: 2.0.11857

Node.js Http Function - request.body on POST/PUT is now undefined unless Content-Type: application/json is passed vs previous functionality of it being a json object by default.

All prior 2.0 versions did not exhibit this behavior.

Example raw body:
{
  "foo":"bar"
}

request object

{
    "method": "POST",
    "url": "<url>",
    "origin

[2018-06-14 13:11] CKeene78 commented on #1063
@paulbatum Confirmed latest bits.

[2018-06-14 13:56] JaDevGuy commented on #2066
Has there been any update to this open item? My customer is now running into the same exception which was not happening prior to June 12th.

[2018-06-14 14:37] johlrich opened #3005 "Can FSharp.Core be removed from runtimeassemblies.json?"
Since [FSharp.Core is binary compatible](https://fsharp.github.io/2015/04/18/fsharp-core-notes.html#fsharpcore-is-binary-compatible), I was wondering if the functions runtime should always take the latest available between the runtime and user supplied versions instead of the minorMatchOrLower?

Thanks

[2018-06-14 14:47] CKeene78 commented on #1063
@securityvoid Well, works on the Live Site live! Did notice that the Live Site function is utilizing v1 runtime, while my local client is utilizing v2 (due to other projects). Unsure if that is part of the problem.

[2018-06-14 15:33] ChristianWeyer commented on #2901
I still get this very same exception as above with the latest bits @fabiocav

[2018-06-14 16:23] fabiocav commented on #2901
Is that local? Or azure hosted? I'll run through your scenario again, but this had been validated. Is the repro you've linked to current?

[2018-06-14 16:41] ChristianWeyer commented on #2901
This is local.
And yep: the repo is current. Thanks!

[2018-06-14 17:17] fabiocav commented on #2901
I see the issue. It's an unfortunate side effect of how the ASP.NET Core builds up some of the dependencies (more specifically, the ApplicationPartManager implementation, that causes it to hit an issue with your scenario. This scenario is somewhat different, as it does run into a few mixed context loads. Good news is that I think there's an easy fix for this. I'll validate and keep you updated. We

[2018-06-14 17:22] ChristianWeyer commented on #2901
Thanks a ton for all your work @fabiocav !

[2018-06-14 18:01] mm-gmbd commented on #73
+1 for this. I am standing up some Azure functions and doing this all through the Azure portal rather than through cli tools, so having this in the portal would be fantastic.

Any updates on progress? I.e. is this just in discussion phase? planned for development (i.e. in roadmap)? in development? in testing? I'm guessing it's the discussion phase based on the "needs-discussion" label, but just th

[2018-06-14 18:04] kunalwadhwa commented on #2066
Recently, I have started facing the same issue. Is there a work around for it or any solution. It throws the below exception only after completing/abandoning the message:

"_Microsoft.ServiceBus: The lock supplied is invalid. Either the lock expired, or the message has already been removed from the queue._"

[2018-06-14 19:28] sowsan commented on #2842
@stevenlivz  I tried to reproduce the issue  in .net core console app but it was not and i was able to successfully push the messages to eventgrid. Can you check this code below and see any changes needed to reproduce the issue ?

`public static HttpClient client = new HttpClient();

      static void Main(string[] args)
        {
            try
            {
                string serviceURL = "

[2018-06-14 20:32] dachou commented on #2842
Also, have you tried the EventGridClient API? I tried it in an HTTP trigger Function and saved the instance in a variable to reuse across invocations, and have not seen this issue.
https://docs.microsoft.com/en-us/dotnet/api/overview/azure/eventgrid?view=azure-dotnet

[2018-06-14 21:31] cortlun opened #3009 "Function app on a consumption plan has large gaps in application logs"
#### Investigative information

- Timestamp: 2018-06-14T19:29:10.472
- Function App version (1.0 or 2.0-beta): 1.0.11820.0
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: 76922c70-6d7a-4540-ad7b-5d72e87b4d8a
- Region: East US 2

#### Repro steps

Provide the steps required to reproduce the problem:
	1.  Instantiate the function via its blob trigger - update some metadata

[2018-06-14 22:50] mathewc commented on #2729
The issue described here sounds like it would be addressed by https://github.com/Azure/azure-functions-host/issues/2972 as @paulbatum mentions above.

[2018-06-14 23:01] mathewc commented on #2999
You can increase per instance concurrency by configuring the queue settings in your host.json. We have an open issue detailing why that is the case (it's confusing I know) - see https://github.com/Azure/azure-webjobs-sdk/issues/1452.

Try doing a run with settings like:

[code]

See [host.json](https://github.com/Azure/azure-functions-host/wiki/host.json) doc for details on these settings.

[2018-06-14 23:20] mathewc commented on #2999
The 15K blobs already exist in the blob container? If so, then the that large backlog should cause you to scale out to multiple instances as you'd expect.

One thing I notice is that you have a static host id specified in your host.json file. Why is that? That can cause problems - I suggest you remove it.

[2018-06-15 00:49] fabiocav commented on #2901
Got a fix out for this. Validated that it works against your repro (although, there are other, unrelated issues with validation as the request is sent to the application from the proxy, but that seems to be an issue with the implementation)

[2018-06-15 07:08] ChristianWeyer commented on #2901
Ok, thanks. Any ETA for the fix to be used by us @fabiocav ? 😇

[2018-06-15 10:57] somefella123 commented on #2556
+1 request for this...

[2018-06-15 14:36] MisinformedDNA commented on #2999
Yea, all the blobs are already there.

If I don't set the host id, won't it regenerate upon deployment? So every deployment would cause all the blobs to get reprocessed?

Also, does AF know to back off it is overloading the destination? Or does it just go full steam ahead?

[2018-06-15 16:34] mathewc commented on #2999
The default HostId (when you don't set an explicit one, which really is an advanced scenario) should be stable across deployments. It is generated based on the app name and will be stable across deployments. You shouldn't have to set it. It is true that the ID will be different locally vs. deployed to Azure which might be what you're talking about, so yes the "processed blobs" tracking that is bas

[2018-06-15 16:59] fabiocav commented on #2901
We're planning on another deployment early next week.

[2018-06-15 17:06] MisinformedDNA commented on #2999
If it's stable across deployments, then that should work for us. But if I hard-code it, it's also consistent, and working off a different storage account, so I don't see the problem. What's the guidance on when to set it?

[2018-06-15 17:47] paulbatum commented on #2066
I believe there were some service bus related to updates the most recent release that would roughly line up to the mentioned June 12th date - @mathewc can comment further

[2018-06-15 17:49] chmarti commented on #2864
@fabiocav thanks for the reply.

npm has 2.0.1-beta.29 now and I am currently running that version.

My function is using an Azure Queue trigger and an Azure Blob input binding. This was all working locally and in Azure until about a week ago. I assume there was an Azure deployment that changed the version of Azure Storage dependency and that is why I started getting the LoaderExceptions.

When I

[2018-06-15 17:56] fabiocav commented on #2864
These steps should help you configure your project to run the NPM installed version:
https://github.com/Azure/azure-functions-vs-build-sdk/wiki/How-to-manually-update-the-Azure-Functions-Core-Tools

[2018-06-15 18:09] paulbatum commented on #1063
@CKeene78 You'll definitely run into issues if your local tools are out of sync with the environment you're deploying to. You might want to have multiple versions of the core tools installed so you can easily switch between then (I am not an expert on this but I would guess that you can't have multiple versions installed globally as I don't think NPM supports this).

[2018-06-15 18:18] mathewc commented on #2999
The issue arises (and the reason I brought it up) is that we see cases where someone has a hardcoded ID, leaves a local debug instance running while the app is also running in production with the same ID. In that case, the local instance can conflict with the Azure instance.

[2018-06-15 18:35] mathewc commented on #2066
The ServiceBus changes were simply to improve logging of background exceptions - likely that's what you are seeing now. The changes don't cause the exceptions, just surfaces them. See issue https://github.com/Azure/azure-webjobs-sdk/issues/1703. Likely you had errors occurring before these changes but weren't aware - now they are logged, which is what you want really. Situatiouns like the message

[2018-06-16 15:45] davidebbo commented on #838
@romandres sorry, missed this one earlier. I would not expect App Insights to affect cold start. If you see this consistently (fast without, slow with), can you open a separate issue so we can better track?

[2018-06-17 08:55] forki commented on #2944
redeployement fixed it.

[2018-06-17 08:55] #2944 closed

[2018-06-17 08:55] forki commented on #2881
ping

[2018-06-17 21:06] ChristianWeyer commented on #2942
I have the same issue with 2.0.1-beta.29 @vfedonkin

[2018-06-18 10:40] thombrink opened #3017 "Timer trigger function does not fire at the correct time"
#### Investigative information

Please provide the following:

- Timestamp: 2018-06-17T23:59:12.4249411+00:00
- Function App version (1.0 or 2.0-beta): 1
- Function App name: plan2drive-functions
- Function name(s) (as appropriate): SMS
- Invocation ID: ?
- Region: West-Europe

#### Repro steps

![sms-function](https://user-images.githubusercontent.com/5973204/41531582-0d57577a-72f4-11e8-8839-d4a5

[2018-06-18 13:53] tforkmann commented on #2881
I have the same issue.
I'm not able to successfully deploy and then run a azure function.
![image](https://user-images.githubusercontent.com/4168951/41540103-b2b898b2-730f-11e8-92d5-bdee285919d9.png)

[2018-06-18 14:18] tforkmann commented on #2881
I downgraded to 2.0.111651-alpha and FSharp.Core 4.2.3.
Now the Azure Functions are successfully executing again.

[2018-06-18 17:45] pragnagopa commented on #3017
Please set WEBSITE_TIME_ZONE for the function app following instructions here [cron-time-zones](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer#cron-time-zones). Let me know if you still do not see an issue

[2018-06-18 17:54] pragnagopa commented on #3004
@mhoeger  - PR https://github.com/Azure/azure-functions-host/pull/3016 addresses this issue?

[2018-06-18 18:00] pragnagopa commented on #2998
This issue was moved to Azure/azure-functions-durable-extension#347

[2018-06-18 18:00] #2998 closed

[2018-06-18 18:05] pragnagopa commented on #3003
@mathewc  - Please triage

[2018-06-18 18:21] pragnagopa commented on #2960
We have tracking item here https://github.com/Azure/azure-functions-host/issues/2279 to preserve constraint types in the route. Closing this as dup.

[2018-06-18 18:23] pragnagopa commented on #2957
@fabiocav - Can you please take a look?

[2018-06-18 18:52] fabiocav commented on #2957
@awernick can you please try that with beta.29?

[2018-06-18 22:07] mhoeger commented on #3004
Yes - this is a regression that will be fixed with our next deployment

[2018-06-18 22:41] mhoeger commented on #2299
FYI @pragnagopa - changing the title to make this a more actionable work item

[2018-06-18 22:41] mhoeger commented on #2299
I think the behavior that we want is to check if we have functions in a language, and if so, fail the worker that is unable to start.

[2018-06-18 22:49] mhoeger commented on #3004
Closing the issue as it is now merged. @dustensalinas - an issue will be created in https://github.com/Azure/app-service-announcements that tracks our next V2 release. You can expect the deployment to start rolling out this week.

[2018-06-18 22:49] #3004 closed

[2018-06-19 01:48] fabiocav commented on #2881
Making sure I have a good repro and running through some  validation. Will continue to update this.

[2018-06-19 02:50] jdneo commented on #2986
@pragnagopa Can you repro this on your side?

[2018-06-19 06:22] forki commented on #2881
Btw you can run my function as often as you want. It's a good repro and currently just fails. If it succeeds then nothing bad happens. So don't worry if you want to use it

[2018-06-19 06:52] wilsonge opened #3020 "Update to new runtime versions breaks the error handler"
Sorry for the most vague title ever but .... :)

Basically we did a code deploy and as far as I can tell the new runtime has changed something with how the function metadata is parsed. Unfortunately the only stack trace we get is this:

[code]

and without the function name or any sort of information available - it's almost impossible to debug exactly what the root cause is (it's worth saying in t

[2018-06-19 10:59] ChristianWeyer commented on #2942
Do you have any idea what could be wrong @vfedonkin or @safihamid ? This blocks me/us (and running elevated with sudo is not really an option ;-) )
Thanka!

[2018-06-19 14:39] robinhalabicki commented on #2903
Changing the app insights sampling in the insights blade -> Data Usage -> Data Sampling button resolved

[2018-06-19 14:39] #2903 closed

[2018-06-19 15:20] ChristianWeyer commented on #2901
If there is some way to test the fix earlier - I would be up for it (I have a talk prep pending and would need to check the fix, anyway).
Thanks @fabiocav

[2018-06-19 15:38] codemillmatt commented on #2862
I can confirm this error still exists in run time version 2.0.11857.0 (core tools version 2.0.1-beta.29)

I'm trying to do the same thing as @jeffhollan above - bind to Cosmos DB and also write a query w/ the SDK and I'm getting the same error.

**Code:**
[code]
**Error:**
![capture](https://user-images.githubusercontent.com/2053639/41607857-a6756876-73ac-11e8-9fa5-7ee9db9ab222.PNG)

[2018-06-19 16:32] mathewc opened #3021 "Improve Worker restart/recovery"
See ICM incident 73561875. In this case, the worker process was being recycled with error messages like the below, which continued until the site restarted.

[code]

[2018-06-19 16:56] asalvo opened #3022 "Azure Functions not moving messages to Poison Queue under load"
I have a function app running 1.0.13 of the .Net Functions SDK, deployed to a US North Central consumption based plan, configured for 2.0 beta.  Under high loads, messages which have been dequeued more then the configured maxDequeueCount are not being moved to the poison queue. When I finally decided to stop my function so I could observe the queue, the first 32 messages had dequeue counts of 65-6

[2018-06-19 17:16] fabiocav commented on #2901
This is a bit raw, but you can use the artifacts from this build:
https://ci.appveyor.com/project/appsvc/azure-webjobs-sdk-script-y8o14/build/2.0.11886/job/0exdyn0sak341kea/artifacts

We'll likely have a CLI build today as well.

[2018-06-19 17:30] ChristianWeyer commented on #2901
This looks a crazy endeavour to get the raw artifacts working on my macOS... ;-P

[2018-06-19 18:34] brettsam commented on #2851
As part of this, we want to make sure that our registered ILoggerFactory is picked up by any other services that need it (ASP.NET, EF, etc), and that those logs are seen.

One example: https://stackoverflow.com/questions/50931501/logging-ef-core-queries-in-an-azure-function

[2018-06-19 18:53] asalvo commented on #3022
After doing some more googling and re-reviewing what I was seeing with my function app, it seems like the problem is not with messages not being moved to the poison queue, but instead the messages are not properly dequeued/deleted.

https://github.com/Azure/azure-webjobs-sdk/issues/1040#issuecomment-394882511

[2018-06-19 18:59] codemillmatt commented on #2862
My bad @fabiocav - screenshot was truncated & it was for the error with the `DocumentClient` as the input - not bound to a particular document.

To answer your questions:

* How I'm running:
  * Running locally on VS 2017 15.7.4.
  * Compiled C# functions (v2.0).
  * Core tools: 2.0.1-beta.29.
  * Runtime: 2.0.11857.0
* The OS:
  * Win10 (10.0.17134)
* GitHub repo:
  * [This should do it](https://

[2018-06-19 19:37] safihamid commented on #2942
@ChristianWeyer  yes we have identified the bug and the fix will be released within the next few weeks.

[2018-06-19 19:42] koskila opened #3023 "Azure Functions does not work if length of the querystring is over 2048 (for v2)"
#### Investigative information

This is most likely the same issue described in #2331 , just for 2.0-beta instead of 1.0.

Note: I have provided information of a normal execution of my function. When the problem occurs, there is actually nothing in the logs that would indicate this problem because the function doesn't run.

- Timestamp: 2018-06-18 00:21:46.689
- Function App version (1.0 or 2.0-be

[2018-06-19 19:54] ElliotSchmelliot commented on #1594
@paulbatum Any updates on some sort of web.config equivalent for functions being addressed?

[2018-06-19 20:00] ChristianWeyer commented on #2942
Thank you!

[2018-06-19 20:23] ghills opened #3024 "Timer trigger stopped firing"
A function has a timer trigger set up to run every 5 minutes with the following schedule:
`0 1-59/5 * * * *`.

It was running consistently every 5 minutes then suddenly stopped for no apparent reason. I was able to get it to start running again by restarting the function app from the Azure portal.

#### Investigative information

Please provide the following:

- Timestamp: 2018-06-19T16:26:00.014

[2018-06-19 22:02] fabiocav commented on #2862
Thank you!! Will get your repro setup and investigate.

One more thing... did you update your project to use beta.29? How are you running beta.29 from VS? Did you follow this instructions? https://github.com/Azure/azure-functions-vs-build-sdk/wiki/How-to-manually-update-the-Azure-Functions-Core-Tools

[2018-06-19 22:59] codemillmatt commented on #2862
Ugh!! That was it - I didn't have VS running beta.29! 🤦‍♂️

Thanks @fabiocav! Everything is working as it should be now!

[2018-06-20 06:04] paaland commented on #3024
I have related issue. I've got functions with service bus triggers, event hub triggers and storage queue triggers that works just fine. In the same deployment there are also a couple of timer triggers that should fire once every 30 minutes. But they sometime go hours without fireing. No apparent logic in when they work and when the take a long vacation.

[2018-06-20 06:15] paaland opened #3029 "Timer triggers not firing reliably"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0-beta): 1.0.11820.0 (~1)
- Function App name: yt3-prod-app-functions
- Function name(s) (as appropriate):  VirtualSitePredictor
- Invocation ID: 541a3053-93c0-43ec-9094-2b5f1bb7a219
- Region: West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a f

[2018-06-20 16:24] pragnagopa commented on #2835
There is an update in the config. You new to set environment variable key: "languageWorkers:node:workerDirectory" value: "{YourWorkersDirectory}"

[2018-06-20 16:24] #2835 closed

[2018-06-20 16:26] pragnagopa commented on #2296
This is done. All the language workers now consume protobuf from https://github.com/Azure/azure-functions-language-worker-protobuf

[2018-06-20 16:26] #2296 closed

[2018-06-20 17:51] dieterhowest commented on #3029
i think i have the same problem my timer start at 0 */60 * * * * and normally it takes 20 min. to finish , but during the execution the timer fires again without any reason. I am using a app plan, not consumption model.

[2018-06-20 18:55] paulbatum commented on #2690
Fixes have been merged for both versions of webjobs. The updates need to be pulled through before I can consider this closed.

[2018-06-20 19:15] MisinformedDNA commented on #2999
But only if they are targetting the same storage account as well.

Back to the main point: Why is it not scaling up?

[2018-06-20 19:31] MisinformedDNA commented on #3029
I had this issue recently. The workaround was to disable `RunOnStartup`.

[code]

My guess is that the host keeps getting reset, though I don't know why that would happen so frequently.

[2018-06-20 19:47] MisinformedDNA commented on #2667
@paulbatum Any updates on when V2 and `WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT` will be "go-live"?

[2018-06-20 20:09] pragnagopa opened #3031 "Remove IWorkerProvider.GetWorkerDirectoryPath"
WorkerDescription now has a helper to get the full path to the worker. Clean up IWorkerProvider

[2018-06-20 20:21] btardif opened #3032 "Validate Azure Files storage account"
_From @fabiocav on February 16, 2018 1:13_

Today, if a customer deletes the storage account backing the content share, the function app is left in a broken state and the portal doesn't show any information about what is going on.

It would be good if the portal could validate the storage account when failures to talk to Kudu occur (calls to getfunctions, etc) so we can provide a detailed message

[2018-06-20 20:21] btardif commented on #3032
@jeffhollan I think this check should be performed by the backed and provide a property we can check.

There are a few reasons why a function could be in a broken state, and this is just one of them.

Also if this is provided by the backed then other clients beyond portal can surface this information by checking that property.

If you agree can we move this to the run-time repo and I'll file a UX

[2018-06-20 20:21] btardif commented on #3032
_From @jeffhollan on June 13, 2018 9:11_

I tend to agree with @btardif on this one. I expect what's happening is the portal is making a call to something like `/GetFunctions` and is getting back some non-descript `500 Internal Server Error.` (or something)

I do think the best place to track a fix would be on the API layer so that `/GetFunctions` would return something like "Cannot retrieve funct

[2018-06-20 22:29] mathewc opened #3034 "Geometric key size progression during snapshotting"
When keys fail to decrypt, our current snapshot/refresh logic results in the key size growing geometrically.

This is due to the fact that the logic [here](https://github.com/Azure/azure-functions-host/blob/c087ad4c5e9e2142e9a20a953f4667416299d23c/src/WebJobs.Script.WebHost/Security/KeyManagement/SecretManager.cs#L149) starts with the keys that don't currently decrypt and runs them through encrypt

[2018-06-20 22:34] mathewc opened #3035 "Reenable key encryption for Linux preview apps"
See PR https://github.com/Azure/azure-functions-host/pull/3033

[2018-06-21 04:07] darrellbooker commented on #2864
@fabiocav  How do I get 2.0.1-beta.29 to pull down on a Mac using Brew? Im only getting 2.0.1-beta.28 currently

[2018-06-21 10:48] wely opened #3038 "Bug Found - 500 Internal Server Error when Changing Azure Function Runtime from VS Code"
Symptom:

Got the 500 Internal Server Error when publish a simple (even an hello world) function to Azure Function (with 2.0 beta runtime).

After investigation, looks like this is the culprit:
- If you deploy your function (with Runtime 2) from VS Code while the newly created Function is Runtime 1, it will prompt you this:
![image](https://user-images.githubusercontent.com/1658657/41714601-6ef5f2

[2018-06-21 10:56] kennetham commented on #3038
Hi @wely , this has to do with the order of creating Azure Functions. If you are creating Azure Functions via Azure Portal, the general guidance is that you need to have it set to "beta". Otherwise, you'll get that error.
Two, you could alternative create from VSCode, that should not cause an issue.

My recommendation is to just run `npm install -g azure-functions-core-tools@core`. And you should

[2018-06-21 11:05] wely commented on #3038
@kennetham  i did use the npm for running Function Runtime 2 locally, things worked well.
Only when i tried to deploy to Azure Function, the error happens.

Regarding:

Thx for the general guidance which sounds more like a workaround to avoid the bug. That said, i still think this is a bug which needs to be resolved :)

[2018-06-21 11:35] zanechua commented on #3038
@jeffhollan mentioned this to me previously when I deployed it via VSCode.

It's pending a fix if I am not mistaken.

[2018-06-21 16:34] bryanrcarlson opened #3039 "Function terminates on firing of blob trigger"
#### Investigative information

- Timestamp: 2018-06-21T15:56:02
- Function App version (1.0 or 2.0-beta): 2.0-beta
- Function App name: CafECTowerEtl
- Function name(s) (as appropriate): Test
- Invocation ID:
- Region: West-US2

#### Repro steps

1. Create default Blob Trigger Function using Azure Functions and Web Jobs Tools (v 15.0.40617.0) for VS2017 (v 15.7.4)
2. Ensure csproj has netstandard

[2018-06-21 16:44] bryanrcarlson commented on #3039
I'm peaking into my Host logs now and see the following:

Run: Microsoft.Azure.WebJobs.Host: Error indexing method 'Test.Run'. Microsoft.WindowsAzure.Storage: No such host is known. System.Net.Http: No such host is known. System.Private.CoreLib: No such host is known.

[2018-06-21 17:25] pragnagopa opened #3040 "Clean up child language worker processes"
If a language worker process started but connecting to the grpc service running in the functions process fails, child process is not terminated when functions host restarts/crashes. This results in lingering tcp/ip ports in [CLOSE_WAIT](https://blogs.technet.microsoft.com/janelewis/2010/03/09/explaining-close_wait/) state.

[2018-06-21 18:16] ChristianWeyer commented on #2901
... a bit impatient 🤣 - as I wanted to demo that project in my conference talk next Monday.
Any chance to get a new core tools package for this fix (https://github.com/Azure/azure-functions-core-tools/releases)? @fabiocav

[2018-06-21 18:20] ElliotSchmelliot commented on #1594
@MisinformedDNA I was just curious if adding a function config file as a standard was still in the pipeline. This thread is by far the most documentation I've found on the subject.

If you're curious about my [specific scenario](https://stackoverflow.com/questions/50934568/azure-function-transforms-during-vsts-build), I have nearly identical functions across three deployments (dev, test, prod) tha

[2018-06-21 18:20] fabiocav commented on #2901
You can get the Core tools bits for this release here: https://ci.appveyor.com/project/appsvc/azure-functions-cli/build/2.0.1.372/artifacts

[2018-06-21 18:33] ChristianWeyer commented on #2901
Just tried it with that above package on macOS.
It works 👊🏻 (although it is executing the Web API request very slowly.... this was much faster the other day with earlier builds... hm)

Thanks a lot @fabiocav !

[2018-06-21 18:45] ChristianWeyer commented on #2901
It is *much* faster on Windows 😅

[2018-06-21 19:22] jeffhollan commented on #3038
Correct - known issue and being tracked.  For now follow mitigation from @kennetham above and manually upgrade the node version in the Application Settings of the published app (can even do this from Azure Functions extension)

https://github.com/Microsoft/vscode-azurefunctions/issues/419

[2018-06-21 19:31] abramz commented on #989
This is quite old but still an open issue, are there any updates?

[2018-06-21 19:57] ahmelsayed opened #3042 "Azure function dependency conflicts"
_From @mo-abbas on June 19, 2018 15:11_

We were using in our Azure function projects Autofac 3.5.0 with for a while. When we decided to upgrade it to 4.8.1 we got the exception:
[code]

I tried to replace the Autofac.dll file in the Azure Functions CLI folder with the newer version and update the func.exe.config accordingly, and it started working again.

I think this is the same issue here https

[2018-06-21 19:58] ahmelsayed opened #3043 "Could not load file or assembly 'Microsoft.Rest.ClientRuntime.Azure, Version=3.0.0.0'"
_From @travisnielsen on June 19, 2018 1:9_

I have a [Function that uses Azure Resource Manager APIs to automate resource tagging](https://github.com/travisnielsen/azuretagsync). After upgrading to .Net Core 2.1 and Functions Core Tools 2.0.1-beta 29 I get the infamous 'Could not load file or assembly' error that others have reported in other scenarios (like #473). I'm having trouble finding the m

[2018-06-22 11:49] forki commented on #2881
Any news?

[2018-06-22 14:03] martinfletcher commented on #563
This really is a massive blocker for us, as we require FIFO of messages with topics using functions....

What is the release date for functions v2 runtime - Is there a finger in the air date that this may get addressed by  after the v2 release?

[2018-06-22 18:11] fabiocav commented on #2881
Yes. Looked at your current setup, and your functions are using the old style pre-compiled model (non-attributed model), and that model seems to have a bug that fails to load your assembly locations into the probing paths.

The fix is pretty simple and I'll have that in place soon, but the good news is that you can make a small change to your deployment/directory layout to workaround the issue in

[2018-06-22 18:32] forki commented on #2881
Ok. Thanks. I will try that.
But this was created by the function cli / dotnet publish.
I didn't change to the attribute form yet because this created all kinds of
different issues. For example you can't return a Task<unit> in the new
form. I didn't report that yet.

Fabio Cavalcante <notifications@github.com> schrieb am Fr., 22. Juni 2018,
20:11:

[2018-06-22 20:35] ahmelsayed opened #3046 "System.Private.CoreLib: ReflectionOnly loading is not supported on this platform."
_From @grahamehorner on June 11, 2018 18:21_

Is there any reason why AzureFunctions aren't able to use **ReflectionOnly** loading? what alternative is available?

_Copied from original issue: Azure/azure-functions-core-tools#527_

[2018-06-22 21:38] pragnagopa opened #3048 "Remove hardcoded java version when running in Azure"
Java version zulu8.23.0.3-jdk8.0.144-win_x64 is hardcoded [here](https://github.com/Azure/azure-functions-host/blob/d95653b8fda05e9a0b0c7b48196e555135a80257/src/WebJobs.Script/Rpc/Configuration/JavaWorkerProvider.cs#L85)

Need to move this to worker.config.json

[2018-06-22 22:21] #2236 closed

[2018-06-23 03:27] pragnagopa opened #3050 "Refactor process management"
Functions host spawns child processes from multiple places
- https://github.com/Azure/azure-functions-host/blob/b27267e1e9295123ebbd4b494514677940d4f7c4/src/WebJobs.Script/Description/Node/Compilation/TypeScript/TypeScriptCompiler.cs#L51
- https://github.com/Azure/azure-functions-host/blob/8c771e6a7368b5aad5cdea280ca7e099bd863e39/src/WebJobs.Script/Description/DotNet/PackageManager.cs#L73
- https:

[2018-06-24 10:32] ThomasWeiss commented on #992
Apologies in advance if that's a ditto of everything that's been said already, just trying to summarize the current situation and its implication.
- Am I right that in the absence of binding redirects, we're constrained to use the versions of the libs also used by the Functions runtime (my experience: my Function using Azure Storage v9.1.1 wouldn't load while debugging locally, so I checked which

[2018-06-24 11:36] forki commented on #2881
@fabiocav,  so @tforkmann and myself just tried to move everything to bin folder and seems to do the trick. So that's good news.

After that we tried to upgrade the FSharp.Core to 4.5 (which is the current release) and now we get an loading issue again. I thought this was fixed and we could use latest?

Test is at
Europe West
Subscription ID: 65a46f89-725f-4b7b-89b0-75fe5425980c
FunctionApp: dptes

[2018-06-24 15:12] HMoen commented on #992
@ThomasWeiss, take a look at https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.Host/App.config We’ve been using it as a guide.

I understand from other threads that your question #1 would be a yes and #2 would be a no, but someone with better understanding should confirm.

[2018-06-24 17:04] nebz commented on #2066
@mathewc,
basically what i want to do is manage the state myself and not rely on the function's result. I am getting the same "The lock supplied is invalid" error that @kunalwadhwa is getting. That's because for certain exceptions, I don't want to retry it, but mark it as completed, while needing the function to fail so that I have a count of my failures in AppInsights.

The [MessageProcessor code

[2018-06-24 17:42] kevin-meyer commented on #2066
I still agree with this request, but wanted to share with the community a couple other issues that have occurred that's convinced me to stop using Service Bus triggers in Azure Functions.

1. I'll occasionally see a short delay (30 seconds - minutes) between message publication and our function code handling the message. This isn't a show stopper and I haven't debugged it much, but it feels like t

[2018-06-25 10:11] SimonGuo009 commented on #2989
I reproduced this bug again under below environment.

Ibiza portal URL: https://portal.azure.cn/?websitesextension_ext=appsvc.env=stage
Beta runtime version:   2.0.11857.0 (beta)
Hosting Plan: App Service Plan (S1)
Date: 06/25/2018

Please refer to snapshot:
![bug2_msgraphbug](https://user-images.githubusercontent.com/18321627/41844560-16e570d0-7860-11e8-88fd-3dd7bf27bc11.png)

[2018-06-25 16:32] pragnagopa commented on #2775
This is fixes in https://github.com/Azure/azure-functions-core-tools/commit/e89a00b36f76a23608c42239665f467798b6a7a3 CLI no longer hardcodes node debug port.

[2018-06-25 16:33] mathewc commented on #2828
As part of reviewing/fixing service bus configuration, we should also look at https://github.com/Azure/azure-functions-host/issues/2828 and see what other options if any we should add.

[2018-06-25 16:55] paulbatum commented on #992
@ThomasWeiss

First thing to note is that some of the answers depend on whether you are talking about functions V1 or functions V2.

Second thing to note is that functions V2 is still WIP so the answers might change in the future, while for functions V1 there is no further work happening in this area so the answers are likely to stay the same.

1. In V1, you are not fully constrained to the versio

[2018-06-25 17:01] fabiocav commented on #992
In addition to the `Web.config` link @paulbatum has linked to, we also have a lock file with all of the runtime's dependencies, and their versions, here: https://github.com/Azure/azure-functions-host/blob/v1.x/src/azurefunctions-v1-paket.lock

[2018-06-25 17:03] ConnorMcMahon commented on #2989
@SimonGuo009, this regression should only be present in beta runtime version 2.0.11857.0. Once 2.0.11886.0 is deployed, we shouldn't be seeing this issue anymore.

[2018-06-25 17:11] pragnagopa commented on #3046
Assigned to @fabiocav as he has more context

[2018-06-25 17:13] pragnagopa commented on #3043
@fabiocav - Any ideas?

[2018-06-25 17:15] cmeiklejohn commented on #2335
It's unclear from the thread -- was there ever a resolution to getting this working with .NET 4.6.1?  I only saw that @KZeronimo has it working with .NET 4.7.  I'm also running into the same issue:

[code]

[2018-06-25 17:15] pragnagopa commented on #3043
@fabiocav - Another one related to assembly loading

[2018-06-25 17:17] cmeiklejohn commented on #2335
Oops, I believe I left this comment on the wrong thread.

[2018-06-25 17:21] pragnagopa commented on #3038
Closing this as issue is tracked here https://github.com/Microsoft/vscode-azurefunctions/issues/419

[2018-06-25 17:21] #3038 closed

[2018-06-25 17:28] fabiocav commented on #3046
`ReflectionOnlyLoad` is not supported on .NET Core. This is not an Azure Functions specific issue. The recommendations here would be the same that apply to standard .NET Core applications (e.g. using `MetadataReader`/`System.Reflection.Metadata`)

[2018-06-25 17:28] #3046 closed

[2018-06-25 17:31] #2775 closed

[2018-06-25 17:31] #2920 closed

[2018-06-25 17:31] #2974 closed

[2018-06-25 17:31] #3031 closed

[2018-06-25 17:33] fabiocav commented on #3043
@travisnielsen a few questions:

- Does this  happen on Azure **and** local? Or local only?
- Have you tried this against the latest, `beta.30` release? There were fallback fixes in that release that may help with your scenario
- If you continue to run into the issue with `beta.30`, can you please provide a small repro on GitHub so we can validate and investigate what is going on? If this continue

[2018-06-25 17:40] JohnReeson opened #3052 "`WinHttpHandler is only supported on .NET Framework and .NET Core runtimes on Windows` in v2 function"
#### Repro steps

Locally create a v2 function httptrigger (host version `2.0.11857`), install `System.Net.Http.WinHttpHandler` package and new a `WinHttpHandler` object, `WinHttpHandler handler = new WinHttpHandler();`

#### Expected behavior

Works without error

#### Actual behavior

System.Private.CoreLib: Exception while executing function: TestWinHttpHandler. System.Net.Http.WinHttpHandler:

[2018-06-25 17:48] pragnagopa commented on #3020
@wilsonge  - Thanks for reporting. This could be an issue in our error logging code. Is it possible to give us a repro? Or share you function app name either here or [Sharing-Your-Function-App-name-privately]( https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)

[2018-06-25 18:17] #3040 closed

[2018-06-25 21:36] fabiocav commented on #3032
That is not a host API, so it would need to be a Kudu change. In order to detect the scenario described in the original issue, the ability to check if the resource was deleted is needed, which is something the host doesn't have.

The entire site might be in a bad state if DWAS is unable to mount the share, though, so it's tough to say whether the current backend APIs could be enhanced to provide t

[2018-06-26 00:52] davidebbo opened #3053 "Corrupted secret file D:\home\data\functions\secrets\host.json doesn't lead to meaningful error message"
I reproed this in v1 and v2, but let's focus on v2. In a clean new app, I removed the ending brace to make the json invalid.

In portail, when running the http function, all I saw is this cryptic response:

[code]

In system logs, here was the full exception:

[code]

Let's try to make this a 'self-solve' scenario so it doesn't become a support call.

[2018-06-26 01:05] davidebbo commented on #2785
Clearing backlog to get it on the radar as it came up in a support case.

[2018-06-26 03:06] manusis commented on #1451
+1. We are a SaaS platform and we need this information to bill our clients according to their functions usage.

[2018-06-26 03:46] mathewc commented on #2785
I've been seeing this come up as well and logged https://github.com/Azure/azure-webjobs-sdk/issues/1741 recently. Not sure why my issue was put in backlog - we need to fix this.

[2018-06-26 08:37] ThomasWeiss commented on #992
Thanks @HMoen @paulbatum and @fabiocav. I should have clarified that I'm using v2 indeed.

[2018-06-26 09:56] thombrink commented on #3017
The problem didn't occur again. But the cron time zones you are referring to, state that the default time zone is UTC. That doesn't explain the weird execution at 23:59 instead of 19:00.

[2018-06-26 12:16] murugend opened #3054 "Azure Function suddenly stopped being triggered by events from Event Hub"
I have an event triggered Azure Function with non-default consumer group running on an app service plan. On 2018-06-21 it suddenly stopped being triggered by events from the Event Hub, until restarted some hours later. I am unable to find the cause of this.

Incoming/Outgoing messages to event hub:
![image](https://user-images.githubusercontent.com/20225583/41910240-66f57b76-7949-11e8-9689-a8aba5b

[2018-06-26 12:39] forki commented on #2881
@fabiocav any ideas what we can try?

[2018-06-26 14:00] devedse commented on #992
Also running into this issue when using the Bot Framework together with Azure Functions. Would be helpfull to get this supported.

[2018-06-26 16:45] pragnagopa commented on #2986
@jdneo - Functions runtime has been updated to accept debugging options from the CLI, instead of hardcoding them in the functions host itself.  CLI will be udpated soon - https://github.com/Azure/azure-functions-core-tools/pull/550

Will investigate after all the changes are incorporated into host and CLI. Do attach a GIF or any other info that might help investigation

[2018-06-26 17:05] alexkarcher-msft commented on #2942
@ChristianWeyer , if you make a folder in your /users foder called "[username]\LogFiles\Application\Proxies\DetailedTrace" that should allow the proxies to run successfully.

<img width="888" alt="proxiesmac" src="https://user-images.githubusercontent.com/22549328/41927937-80fce1f6-7928-11e8-84f8-44109af8f0c7.png">

[2018-06-26 17:28] pragnagopa commented on #3017
We recently added troubleshooting guide for timer issues -
[Investigating-and-reporting-issues-with-timer-triggered-functions-not-firing](https://github.com/Azure/azure-functions-host/wiki/Investigating-and-reporting-issues-with-timer-triggered-functions-not-firing). Please take a look at it and share the details mentioned in "Reporting your issue" section.

[2018-06-26 17:34] fabiocav commented on #2881
Glad to hear that moving things to bin helped.

The FSharp.Core issue is caused by a runtime restriction that adds that assembly to the list of "shared runtime dependencies", which is a bit aggressive right now.

I had a task to remove that restriction for F# dependencies and a couple of others that still remain before the last release (that was coupled with the work to update our own F# dependenc

[2018-06-26 17:38] thombrink commented on #3017
Oke thank you! If it happens again I will do that. You can close this issue now.

[2018-06-26 17:48] forki commented on #2881
That would be awesome.

Fabio Cavalcante <notifications@github.com> schrieb am Di., 26. Juni 2018,
19:34:

[2018-06-26 18:20] mhoeger opened #3055 "MaxMessageLength of 0 crashes worker in non-obvious way"
We should be giving an appropriate error when maxMessageLength is 0 instead of trying to start a language worker and failing.

**host.json:**
{
    "languageWorker": {
        "maxMessageLength": 0
    }
}

[2018-06-26 19:22] gdodd1977 opened #3056 "Sporadically getting 503 errors on function"
I have a function app named fa-updateclaim-test in region NorthCentral US.

I'm calling the app from Postman and sporadically get 503 returns. I also have a client calling it from a service seeing the same behavior. I'm seeing this on 6/26/2018 around 3:15 pm eastern time.

What might be the causes of this? The function makes a call to cosmos db and then calls a Service Fabric Web Api.

[2018-06-26 19:31] gdodd1977 commented on #3056
I have solved this issue. It is an internal app problem.

[2018-06-26 19:31] #3056 closed

[2018-06-26 21:44] grahamehorner opened #3058 "Using RazorHosting with in an AzureFunction"
https://github.com/RickStrahl/Westwind.RazorHosting/issues/26

[2018-06-26 22:12] #2871 closed

[2018-06-26 22:50] mathewc opened #3059 "Secret file corruption"
Seeing cases where the host.json (and possibly other) secret files can become corrupted. Example Kusto query (eas region):

FunctionsLogs
| where PreciseTimeStamp >= datetime(2018-06-22 03:00) and PreciseTimeStamp <= datetime(2018-06-22 03:10)
| where RoleInstance == "SmallDedicatedWebWorkerRole_IN_239"
| where Pid == 9340
| where Level < 3
| take 10

We need to do a few things:

1) improve the er

[2018-06-27 00:17] mathewc commented on #3059
The share options we're using in the file helper [here](https://github.com/Azure/azure-functions-host/blob/bf91f5d6a585428138f273c1787f8c18af0e8eaf/src/WebJobs.Script/Extensions/FileUtility.cs#L69) are causing this. We shouldn't be sharing access to the file when we write it.

Also we should consider recovery here, similar to what we do for secret files that don't decrypt.

[2018-06-27 01:42] jayadesh12 commented on #2877
Seeing same error when added WCF service reference is added to azure function. which version of Nuget package the fix would be?

[2018-06-27 02:40] jdneo commented on #2986
@pragnagopa Does that mean user can start the remote-debug session by triggering a function cli command?

[2018-06-27 03:36] justinyoo opened #3061 "KUDU Access Unavailable in Australia Southeast"
Hi, Team.

I have been using Azure Functions V2 (hosted in the Australia Southeast region) without an issue for a while. However, since this morning (2018-06-27 +10:00), I wasn't suddenly able to deploy my function app through VSTS.

![image](https://user-images.githubusercontent.com/1538528/41951408-d04ffa08-7a05-11e8-9a66-64b38ec8882e.png)

So, when I tried to access to its KUDU site, but it onl

[2018-06-27 03:58] mathewc opened #3062 "Add compilation count threshold triggering AppDomain recycle"
When compiling CSX based functions, each new compilation will result in a new dll. If there are too many of these within a single AppDomain, it can cause problems - e.g. sandbox memory limits on page-file backed files.

We could experiment to find the right threshold and implement a simple compilation counter.

[2018-06-27 08:42] murugend commented on #3054
@grahamehorner The bindings in the function.json file are:
"bindings": [
    {
      "type": "eventHubTrigger",
      "path": "EventHubName",
      "consumerGroup": "eventingestgroup",
      "connection": "EventHubConnectionString",
      "name": "eventMessages"
    }
  ]

[2018-06-27 13:11] FrederickRies opened #3063 "Unable to establish a FTP connection from function"
Hello here,

I try to send a document to a FTP server from a CSharp library Azure Function.
This is working perfectly on my local machine, but it always fail when it's deployed and running on Azure. I have the same behavior from a AppService plan or a consumption plan.
I have tried different librairies (like FlientFTP) and I have different errors :
- Proxy FTP is not allowed on this server.
- Can'

[2018-06-27 13:36] saipuli opened #3064 "function app stops responding after few hours."
I have a function app with two functions one http trigger and another a queue trigger which worked fine when deployed. After few hours (overnight) it stopped working and restarting the app didn't help. The function app is built in dotnet core C# class library method, and I'm deploying from VSTS. I had to completely delete the fn-app from consumption plan and re-deploy on an app service plan. It wo

[2018-06-27 15:33] cyberprune commented on #3061
We are seeing similar issues in North Europe, do you have any resolution yet?

[2018-06-27 17:58] fabiocav commented on #2987
Validated this against the latest bits and it works as expected. Closing as resolved.

[2018-06-27 17:58] #2987 closed

[2018-06-27 18:02] mhoeger commented on #2299
Edited title again after talking to @pragnagopa

[2018-06-27 18:47] soninaren commented on #2052
https://github.com/Azure/azure-functions-host/pull/3060

[2018-06-27 19:11] mhoeger commented on #3024
Is there a reason you're doing "RunOnStartup"?
We almost never recommend using that, especially on consumption plans. Please see here for details on the attribute: https://github.com/Azure/azure-webjobs-sdk-extensions/issues/315

[2018-06-27 19:15] mhoeger commented on #3029
@MisinformedDNA RunOnStartup should be false by default. Are you finding that you have to define the attribute explicitly? That would definitely be a bug!

[2018-06-27 19:37] ghills commented on #3024
@mhoeger I only have that set as a development aid so it is easier to run locally. Due to the nature of these functions essentially polling available inputs there isn't really any problem with running "extra" times beyond the scheduled instances, as long as that is the only issue with `RunOnStartup` on consumptive plans.

[2018-06-27 19:49] MisinformedDNA commented on #3029
@mhoeger Nope, I set it to true. I expected it to fire once at deployment and then, maybe, occasionally as Azure span up and down servers. But it was executed every minute, instead of every hour. Changing it back to false, made the CRON expression be honored.

[2018-06-27 19:59] alrod opened #3065 "Migrate keys from file repository to storage repository if storage type is blob on runtime startup"

[2018-06-27 20:01] alrod opened #3066 "Make keys storage repository default when function app is created"

[2018-06-27 20:05] alrod opened #3067 "Throughput measurement automation for V2"

[2018-06-27 20:20] brettsam commented on #2800
@fabiocav -- can you weigh in here on whether we need to do this anymore?

[2018-06-27 20:21] btardif commented on #2052
FYI @agruning

[2018-06-27 23:01] grahamehorner opened #3068 "change in functionality after updating tools/packages"
%%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@    %%%%%%%%%%%    @@@
     @@      %%%%%%%%%%        @@
       @@         %%%%       @@
         @@      %%%       @@
           @@    %%      @@
                %%
                %

Hosting environment: Production
Content root path: C:\DEV\Azure.WebJobs\src\..\bin\Debug\netstandard2.0
**Now listen

[2018-06-27 23:28] saipuli commented on #3064
Ok, after a long 45 minute call with MS tech, we found that this is an issue with 64 bit vs 32 bit. Once we rolled back the app settings to 32 bit, it started working.

MS might have pushed the "Functions 2.0.11888-alpha" last night breaking the 64 bit.

Will monitor it for another night or two and report again.

[2018-06-27 23:53] tohling commented on #3061
@justinyoo, your SCM site's endpoint is up and running now. I will need sometime to dig up some logs on what occurred to cause your SCM endpoint to go down.  I will update this thread as soon as I have more information.

@cyberprune Could you provide more information or open a new GitHub issue so that we can investigate that?

[2018-06-28 00:15] davidebbo commented on #3064
This was the announcement for the change: https://github.com/Azure/app-service-announcements/issues/117. Please make sure to monitor the announcement repo if you use the Preview, so you know of important changes that are coming before it affects you.

[2018-06-28 00:15] #3064 closed

[2018-06-28 00:28] justinyoo commented on #3061
@tohling Hi, I deleted and recreated the instance in the same region just now and I'm still not able to access to KUDU.

[2018-06-28 00:34] justinyoo commented on #3061
@tohling I need to delete the instance and create again with the same name in a different region (Australia East) for the service up & running. Would you be able to create a new instance in Australia Southeast and reproduce the error at your end, please?

[2018-06-28 07:28] viktor-morin opened #3069 "System.Private.CoreLib"
I'm debugging my Azure Functions locally and there is no issue there. When deploy and running the remote in Azure, i get following error and I can't find any more information on whats wrong: Error] System.Private.CoreLib: Exception while executing function: Measurement. Function.PowerBI: Abandom message in AzureFunction.PowerBi.

The only thing I know is if I remove the line that call on a functio

[2018-06-28 12:52] nickmza opened #3070 "Container Fails To Start on RunContainer"
The Functions Runtime fails to start. The following messages appear in the trace:

2018/06/28 1:13:26 PM [WIN-KK51GMUASQB] Executing task: RunContainer (Total elapsed time: 00:00:30.0288070)
2018/06/28 1:13:56 PM [WIN-KK51GMUASQB] Executing task: RunContainer (Total elapsed time: 00:01:00.0637894)
2018/06/28 1:14:26 PM [WIN-KK51GMUASQB] Executing task: RunContainer (Total elapsed time: 00:01:30.09

[2018-06-28 13:48] devedse opened #3071 "500 error when [FromBody] object has same name as field of [FromBody] object"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0-beta): 2.0.11888.0 (beta)
- Function App name: ReproBugFunc
- Function name(s) (as appropriate): ReproBugFunction
- Invocation ID: N/A
- Region: EU West

#### Repro steps

Provide the steps required to reproduce the problem:

Create a new Function running on the latest Beta and put this C

[2018-06-28 14:28] SimonLuckenuik commented on #912
@mathewc, @jeffhollan are there any plan to support Singleton with Consumption plan at all?

Can you confirm that the only impact of [Singleton] in a consumption plan is around billing (being charged while waiting for the singleton lock to be released)? (Not sure I understand why the Blob lease approach would not work specifically in consumption plan).

I would love paying to wait if it provides m

[2018-06-28 14:40] jeffhollan commented on #912
Longer thread and want to make sure I understand and also share what may be possible today.  From basic understanding of thread it sounds like the most common scenario is something like "I want to process queue items 1 by 1 because queue message A needs to be completed before queue message B starts."

We do allow you to control concurrency to a fair degree *per instance* with the [host.json](https

[2018-06-28 15:50] ghills commented on #3024
It was answered [here](https://social.msdn.microsoft.com/Forums/azure/en-US/0fa36497-0edd-4d8e-b237-b49514ed8bc8/timer-trigger-stopped-working-on-a-function-app?forum=AzureFunctions)

long story short - there is an issue right now if you deploy timer based functions that are disabled via app setting then change the app setting to enable them. To work around until the fix is made you should click t

[2018-06-28 15:50] #3024 closed

[2018-06-28 20:37] asavaritayal opened #3073 "Default script file behavior"
_From @asavaritayal on June 28, 2018 18:42_

If `scriptFile` tag is not provided in `function.json`, the runtime is unable to index the Python functions.

**Observed Behvaior**

If `"scriptFile": "{filename}.py"` is present in `function.json` , the worker uses `{filename}.py` as the script file.

Elif `run.py` is present, the worker defaults to it as the script file.

Else 404 : No job functions a

[2018-06-28 20:37] asavaritayal commented on #3073
_From @elprans on June 28, 2018 18:47_

The described expected behavior used to be the case.  This is managed on the host side, so things must have changed.

[2018-06-28 23:08] ahmelsayed opened #3074 "[V1] EdgeJS: Getting "Module did not self-register" error when runtime triggers a restart when using the edge node module."
_From @eHealthManny on June 28, 2018 21:49_

I have a Javascript timer trigger running in azure. Everything works fine untill there is a "soft" restart of the function (ex: the function changes in the portal and is saved OR the function changes in my IDE locally). After this happens, every time my function triggers it crashes on the line:

`var edge = require('edge');`

"hard" restarting the funct

[2018-06-28 23:22] shaunol opened #3075 "Calling activities within a ContinueWith block in durable functions is executing tasks out of order"
Calling activities within a ContinueWith block in durable functions is executing tasks out of order. I put together a minimal repro which outputs the sequence as log warnings.

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create new Azure Functions App v2 project (VS2017 15.7.4 with Azure Functions and Web Jobs Tools 15.0.40617.0)
2. Use repro source code (at end of i

[2018-06-28 23:34] tohling commented on #3061
@justinyoo, I am unable to repro the issue. I created a Function App in the Australia Southeast region and was able to launch its SCM site.

![function_austratialsoutheast](https://user-images.githubusercontent.com/14911331/42065668-0a70b696-7af1-11e8-9d7e-bf83d4fc4412.PNG)

[2018-06-28 23:44] tohling commented on #3061
@justinyoo Looks like changing to 32-bit process is the temporary fix. Apologies for this unexpected behavior. FYI, here's the link that announced the breaking change recently.

https://github.com/Azure/app-service-announcements/issues/117

[2018-06-29 00:53] davidebbo commented on #3061
And to make sure there is no misunderstanding, your app was never running as 64 bit even before. So you're not really 'losing' 64 bit support by making this change, as you never had it, despite it being set that way :)

[2018-06-29 07:45] cyberprune commented on #3061
Thanks @justinyoo and @davidebbo, our issue ended up being the x64 support too.

[2018-06-29 09:37] cyky opened #3076 "Daily Time trigger functions (v2) not waking up"
## Daily Time Triggers sleeping ##

We are having problems with time trigger functions that should execute once a day. Scheduling works fine if the trigger is set to every 5 minutes or 30 minutes, but when the trigger is set to once a day (eg. "0 0 0 * * *") the functions never wake up and execute their tasks.

Our functions project is using the class lib style project structure and is running on

[2018-06-29 12:07] SimonLuckenuik commented on #2557
Closest I have been from hosting WebAPI is the with the following approach: https://gist.github.com/SimonLuckenuik/2f35167e1df1d9ee82c17e01893e8dbc
It does work, but it involves using the Unit TestServer from Microsoft.AspNetCore.TestHost which is obviously not meant to be used in production...

[2018-06-29 13:02] eHealthManny commented on #3074
Some more information:
Node version Local : 6.12.2
Node version Azure : 6.12.3
Edge version's tested 6.5.1 AND 7.10.1

My azure function looks like this:
[code]

[2018-06-29 16:05] henning-krause opened #3077 "functions-v2: Access to Table Storage very slow"
# Environment

Azure Functions V2, dotnet runtime

Microsoft.NET.Sdk.Functions version 1.0.14

Function runs in consumption mode.

# Setup

1. An Azure functionns which creates a few (5 in this case) jobs by putting job descriptions into a queue

2. Another function is triggered by the queue above, reads a file from Azure Blob Storage, parses it and creates a bunch of entities in a table storage (

[2018-06-29 20:23] mathewc commented on #1629
@paulbatum can this issue be closed?

[2018-06-29 20:55] paulbatum commented on #1629
Yes.

[2018-06-29 20:55] #1629 closed

[2018-06-29 21:08] ahmelsayed opened #3080 "Fix casing sensitivity for languageWorkers:*:arguments on non-Windows platforms."
As reported here https://github.com/Azure/azure-functions-core-tools/issues/557

It seems that the runtime accepts `languageWorkers:*:arguments` on Windows but it has to be `languageWorkers:*:Arguments` on non-Windows. ideally `Arguments` should be lower case as well or at least do case insensitive matching. I know the latter probably breaks linux conventions, so I'm not sure

[2018-06-29 21:47] #3059 closed

[2018-06-29 22:44] paulbatum opened #3081 "Timeout exceptions with no discernible cause in java scenarios"
I had a case reported where a Java function app was in a bad state (functions not executing successfully). The error logs show timeouts on the invocation path:

[code]

At other points of time, the application appears to be working OK.

Unfortunately the logs provide no further insight into what was going wrong.

Query showing some failures:
[code]

Query showing successful executions at a similar

[2018-06-29 23:03] cts-shrahman opened #3082 "Runtime failure - Additional logging during Host startup + Improved Error mesage + AppLens"
CSS gets lots of cases on function failed to start, runtime failed, admin keys are not available
<br><br>

**Ask** <br>

1. Additional logging during Host startup to troubleshoot Host startup issues. <br>
2. Improved error messaging on the portal. Include steps for mitigation. <br>
3. can possibly added to AppLens.

[2018-06-29 23:10] cts-shrahman opened #3083 "Messages getting processed twice - additional logging in AI and/or FunctionsLogs"
**Scenario**: Same message got processed twice <br>

**Ask**: Can we add additional logging in AI and/or FunctionsLogs like message id and other message metadata for function triggers. This information is very helpful in support cases where customer is asking why messages are getting processed twice. Once we have the message ID, we can tell if this is same message or same message data. <br>

Might

[2018-06-29 23:14] cts-shrahman opened #3084 "Log inner exception details"
When logging exceptions from customer's function code, can we log inner exception details also? I believe if customer is using async code in their functions, it will log exception at the Task level like Task Cancellation exception. But if customer is using sync code, it will actual exception. Here is sample code to capture inner exception. Log it both to AI and FunctionsLogs table. <br>

(Try/catc

[2018-06-30 01:30] 13127755587 commented on #2881
@fabiocav thank you Fabio for the continous help!!

[2018-07-02 06:38] forki commented on #2881
@fabiocav any news about this?

[2018-07-02 09:34] dtfrt opened #3086 "Http Trigger timeout after 230 seconds"
Hi everyone,

I am using Function App version 2.0-beta on consumption plan. The function is developed on C# VS2017, Microsoft.NET.Sdk.Functions - v1.0.13.

When I deploy the function to Azure Portal and create a request to it, the function timeouts after 230 seconds.

The host.json file contains:
{
  "functionTimeout": "00:10:00"
}

When I run the function locally, it passes the interval of 230 se

[2018-07-02 15:55] amang2205 opened #3087 "Running Azure CLI in Azure Functions"
Hi,
I want to run a PowerShell-based Azure Function based on an HTTP trigger. At this point, whether PowerShell is experimental or not is out of the scope of this issue - I could simply work around it and have a C# function triggered which invokes the execution of the PowerShell script and also not use shell execution when I invoke the script so that the Standard Output and Standard Error can afte

[2018-07-02 16:43] alexkarcher-msft opened #3088 "Provide error messages when the storage account is deleted"
The portal UI, and entire function runtime breaks when the storage account connected to a Function is deleted, or the connection string is overwritten by a deployment or site swap.
Please add a big error message in the portal stating that the function app is inoperable because it has no storage.

[2018-07-02 17:43] alexkarcher-msft opened #3089 "Provide clear feedback when platform limits cause failed executions"
When the function hits a platform limit, like memory, TCP connections, or time limit, that execution should have an extremely clear error message, and the entire function should persist some state in the portal that makes it very clear that the user should change their code to ensure this never happens again.
Most of the issues related to this are due to the customer not knowing why executions wer

[2018-07-02 17:52] alexkarcher-msft opened #3090 "Provide clear error message when dependency conflicts with the platform occur"
I’m not sure what the current error message is when a user code dependency conflicts with a platform dependency in C#. If absolutely possible, we should add a much more explicit error message to any of these errors.

[2018-07-02 17:53] alexkarcher-msft opened #3091 "Provide notifications when an app service plan Function needs to scale out"
We should pop Azure notifications if an App Service plan is at high CPU or memory for a prolonged amount of time. These users just needed to scale up or out their App Service plan.

[2018-07-02 17:54] alexkarcher-msft opened #3092 "Provide clear messaging when the Visual Studio extension is out of date"
There are many tickets reporting failed deployments, with the mitigation being to update the VS SDK. If we can make the old SDKs pop an error in VS and suggest to update, that would be ideal, but at least capturing the old SDK versions and returning a more helpful error message would be a good first step.

[2018-07-02 18:16] jeffhollan commented on #3088
Related to this: https://github.com/Azure/azure-functions-host/issues/3032

[2018-07-02 19:23] paulbatum opened #3093 "Host health monitor sliding window memory leak"
While investigating another issue, I captured a process dump of a customer app and found 70,000 sliding window objects in the dump.

I saw this in V1 but I suspect the same leak exists in V2.

![image](https://user-images.githubusercontent.com/10663/42182164-319411c4-7df2-11e8-826b-470f303fbb3a.png)

Looking at the code, it looks like the only place we remove the events is as part of GetEvents():

[2018-07-02 20:51] soninaren commented on #2565
This is complete. There is cosmosDB trigger template in portal for v2.

[2018-07-02 20:51] #2565 closed

[2018-07-02 22:19] #3093 closed

[2018-07-02 23:39] #3039 closed

[2018-07-03 02:03] mhoeger opened #3099 "V1 Javascript Functions automatically alter date-looking strings"
https://stackoverflow.com/questions/51140258/datetimes-offset-gets-lots-when-service-bus-message-reaches-azure-function-v1

[2018-07-03 02:04] JohnReeson commented on #3086
Azure function is one kind of Azure Web App, see this [SO thread](https://stackoverflow.com/questions/38673318/azure-asp-net-webapp-the-request-timed-out).

[2018-07-03 02:16] gdodd1977 opened #3100 "ServiceBusTrigger customizable polling timer"
I think it might be helpful to have an overload of the SBTrigger to allow a custom polling timer to be specified.

[2018-07-03 07:03] dtfrt commented on #3086
Depending from this reference: [functions-host-json](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json)

We can modify the timeout for functions from 1 sec to 10 min (for Consumption Plan).
Is this still valid?

[2018-07-03 07:44] amang2205 commented on #3087
I've posted this issue on the Azure/Azure-Functions repo too, since that is probably more appropriate.

[2018-07-03 09:01] ishepherd commented on #1207
Ping. Any plans to work further on this e.g. the ideas from @jofultz or @sjkp ?
We have a production incident at the moment apparently caused by the enthusiastic scaling of consumption plan for a lower-priority background task, enough that it's overwhelming our main Azure Storage account.

[2018-07-03 15:10] JamesRandall opened #3101 "v2 Azure Functions Proxy Cold Start Issue"
#### Investigative information

- Timestamp: 16:00 GMT 3rd July 2018
- Function App version (1.0 or 2.0-beta): 2.0.11888.0-beta1
- Function App name:
- Function name(s) (as appropriate): OpenAPIUI2 (its a proxy)
- Invocation ID: not sure how I get this for a proxy
- Region: UK South

#### Repro steps

I have a set of proxies that point to a single function. This function (OpenApiProvider) reads an

[2018-07-03 17:40] cmeiklejohn commented on #1633
Will `[Singleton(Mode = SingletonMode.Listener)]` guarantee only a single invocation across multiple hosts?  It looks like it's not for me, because I see other instances starting up -- and blowing up because they are connecting to EventHub with a consumer group with an advanced epoch than the other consumer from the other instance.

[2018-07-03 17:46] mathewc commented on #1633
You're using the wrong mode - you want the default SingletonMode.Function. See https://github.com/Azure/azure-webjobs-sdk/wiki/Singleton for details.

The listener mode singleton ensures that only a single host instance is running your function, however if there are many blobs that instance can process concurrently based on your concurrency settings.

Function mode singleton ensures that only a si

[2018-07-03 17:50] Ruud-cb commented on #2437
Hi,
What is the current workaround to make sure I can keep using IConfiguration throughout the rest of my projects? I am trying to use ConfigurationManager but when referencing it or using it's nuget package it shows warnings. Somehow it does build though.

![image](https://user-images.githubusercontent.com/10037514/42236067-0bd0fac0-7efa-11e8-8072-c026cb86324f.png)

And don't get me started about

[2018-07-03 18:40] cmeiklejohn commented on #1633
[code]

Is this true?  I've been working with Azure support on this and I'm not seeing this behavior.  I have an EventHub triggered function with the Singleton annotation (which, defaults to SingletonMode.Function) and I'm seeing multiple invocations.  After talking to Azure support, it looks like the Singleton lock only applies per host.

[2018-07-03 19:29] brettsam commented on #2556
Fixed by https://github.com/Azure/azure-webjobs-sdk/pull/1789

[2018-07-03 19:29] #2556 closed

[2018-07-03 21:59] mathewc commented on #1633
What type of function do you have? For this to work it has to be a precompiled annotated function, not a CSX style function.

[2018-07-03 22:15] cmeiklejohn commented on #1633
I have a C# function, and this comment from 5 days ago is the exact behavior I'm seeing: Singleton does not work with the Consumption plan: https://github.com/Azure/azure-functions-host/issues/912#issuecomment-401054147.

[2018-07-03 22:35] mathewc commented on #1633
For a precompiled C# function, the singleton attribute is just passed to the underlying WebJobs SDK so should "just work".  #912 is about making this work for CSX and other languages like Node. It also mentions the billing issue for Consumption. Currently I believe the time spent waiting for the singleton will be billed.

Anyhow if you have a repro, recommend creating a new issue with all the spec

[2018-07-04 00:53] paulbatum commented on #3048
@pragnagopa which version of java is going to be used now? I filed https://github.com/Azure/azure-functions-host/issues/3081 and I have a theory that just-in-time download of java is causing this. We need to make sure that whatever version of java we default to is on the worker by default and not download just in time

[2018-07-04 01:02] paulbatum commented on #2785
@mathewc  it was put in backlog because I asked you "this sprint, next sprint, or later?" and you told me "later" :)

[2018-07-04 01:59] paulbatum commented on #1207
Sorry, at this time I have no updates to share on this.

[2018-07-04 03:07] #2785 closed

[2018-07-04 08:10] forki commented on #2881
ping

[2018-07-04 17:33] davidebbo commented on #2881
We are planning a 2.0 update next week (primarily to fix the http response issue mentioned [here](https://github.com/Azure/app-service-announcements/issues/117)). @fabiocav, can you confirm whether the change you referred to above will also be part of that release?

[2018-07-05 06:07] Rickaro opened #3105 "[V2][QueueTrigger] Remove references to getting data through bindingData in docs/samples"
I've discovered, that json message passed to Queue trigger function via bindingData parameter converted to camelCase, but passed as argument to function - not.

Is it correct behavior? If so - I think documentation need to be updated.

#### Investigative information
- Timestamp:2018-07-05T05:45:37.973
- Function App version (2.0-beta):
- Invocation ID:eac35ff1-cd76-46b3-963d-b8d9a3c6351c
- Region:

[2018-07-05 08:52] viktor-morin commented on #3069
Following package that was included made the Azure Function to stop working:

Is there a way to find out this more easy, this time I just removed line of code until I found out what the issue was. Very time consuming.

[2018-07-05 14:42] JohnReeson commented on #3086
@dtfrt Yes, but as for http trigger, it should return response in 230s, it's a request time out setting for Azure web app. Have a look at [durable function](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-overview) if you need to overcome this by design setting.

[2018-07-05 16:03] paulceli commented on #2856
Hey, I had the exact same problem as @JimiSmith with SixLabors.ImageSharp and System.Memory.
Saw your message and thus upgraded my CLI, I now have Version=2.0.11888.0.

I'm doing a FAN-OUT on the same method. About 80% of them work perfectly and the rest fails with what looks like the same issue as before.

`Method not found: '!0 System.ReadOnlySpan'1.get_Item(Int32)'`

Even if I don't get the fol

[2018-07-05 16:39] fabiocav commented on #2881
Indeed, it will. Working to have that out ASAP. Will again update this thread once that process begins.

[2018-07-05 16:42] forki commented on #2881
Hugs!

Fabio Cavalcante <notifications@github.com> schrieb am Do., 5. Juli 2018,
18:39:

[2018-07-05 16:44] JamesRandall commented on #3101
Thanks for getting back to me.

It only occurs in Azure itself. The code is a little bit convoluted to look at as it comes from my [Function Monkey](https://functionmonkey.azurefromthetrenches.com) library - this uses Roslyn to compile Function assemblies and proxies from templates. Though thankfully in this case their is little input parameterisation of the template so its still pretty easy to re

[2018-07-05 16:47] safihamid commented on #3101
@vfedonkin would you please look into this?

[2018-07-05 16:58] vfedonkin commented on #3101
Sure, I'm on vacation now but will look next week

[2018-07-05 17:52] Clockwork-Muse opened #3106 "Malformed JSON returns wrong HTTP Status code"
This is a followup to #2490, because while the timeout error no longer occurs due to malformed JSON input, I do not feel the correct HTTP Status code is being returned.

#### Repro steps

Provide the steps required to reproduce the problem:

 1. Create a function app (in Java, but should affect all)
 1. Create an HTTP Trigger function
 1. Invoke it using a malformed JSON: { "hello": "world", or mi

[2018-07-05 18:21] fabiocav commented on #2686
@ahmelsayed, just checking that this is open to track the permanent fix in the runtime, correct? Were you able to identify that we were actually running against the limits you've described above?

We've significantly reduced the number of `FileSystemWatchers` we start in the runtime. Do you know if the host here runs with the default of 128 handles limit?

[2018-07-05 18:36] fabiocav commented on #2942
Fixed by https://github.com/Azure/azure-functions-host/commit/110aefe3d0f1909a8a418613c3dc45db49dd873d

This will be available in the next release.

[2018-07-05 18:36] #2942 closed

[2018-07-05 18:44] fabiocav commented on #2954
@tohling does the scale controller expect this to be set as a connection string? For the runtime, this shouldn't matter and setting the app setting only should work.

[2018-07-05 18:47] ahmelsayed commented on #2686
I am not 100% sure the fix for this should be in the runtime. I think the linux hosts might need to increase the allowed limit for files to be watched. My understanding is that the way linux does file change notifications incurs an unswappable kernel memory overhead per file descriptor watched. The default limit is very conservative. At least on my linux dev box, just opening vscode on any project

[2018-07-05 18:48] fabiocav commented on #2957
Closing as no response. This should be working on the latest releases, but please let us know if you continue to run into issues.

[2018-07-05 18:48] #2957 closed

[2018-07-05 18:51] fabiocav commented on #2961
Moving this to `unknown` for now. It is an improvement we should make, but doesn't impact customer facing scenarios.

[2018-07-05 18:53] mhoeger commented on #3099
Closing as a bug we won't fix. This is fixed in the V2 runtime, and would be a breaking change to current V1 users.

[2018-07-05 18:53] #3099 closed

[2018-07-05 18:56] fabiocav commented on #2967
@safihamid @alexkarcher-msft can you comment on what the plans are on this?

The conversation in #2940 states this is by design. Do we want to make this change?

[2018-07-05 18:57] mhoeger commented on #3105
Thanks for this, that's a great point. @paulbatum / @mathewc.

When we camelCase bindingData, we do this without knowing if the param names come from our code or the user's data. So we end up altering the user's data. Do you know why we have two ways of accessing data? Can we keep bindingData as pure metadata?

[2018-07-05 18:59] fabiocav commented on #2969
This is relatively low priority, but an easy fix (an update to the regex used to extract the function information to load its context)

[2018-07-05 19:00] brettsam commented on #2999
@ConnorMcMahon -- can you take a look here and see if you can figure out why this isn't scaling out like we'd expect?

[2018-07-05 19:03] mhoeger commented on #3076
We have a troubleshooting guide for [investigating and reporting issues with timer triggered functions not firing](https://github.com/Azure/azure-functions-host/wiki/Investigating-and-reporting-issues-with-timer-triggered-functions-not-firing). Would you mind taking a look at it and sharing the details mentioned in "Reporting your issue" section?

[2018-07-05 19:05] fabiocav commented on #3000
needs to be investigated.

[2018-07-05 19:06] fabiocav commented on #3005
This has been done and will be deployed with the next release.

[2018-07-05 19:06] #3005 closed

[2018-07-05 19:10] cyky commented on #3076
Here you go @mhoeger

1. Function app is running on Consumption plan
2. Deployment via Kudu Rest zip deployment
3. We are running v2 preview
4. Timezone has not been set
5. CRON is set via functions.json as shown above ( "schedule": "0 0 0 * * *")
6. Function leaves no log to application insights. Also it hasn't called other function that it should do at least on every Monday.
7. Invocation ID is

[2018-07-05 19:11] brettsam commented on #3009
The file logs are only written when you are in an active debug session via the portal. You can tweak this behavior in host.json: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#tracing.

However, we'd recommend that you start writing to Application Insights as a more performant way to monitor your function: https://docs.microsoft.com/en-us/azure/azure-functions/functions

[2018-07-05 19:11] #3009 closed

[2018-07-05 19:14] mhoeger commented on #3076
@cyky thank you :) i'll look into this. Just to clarify - by Kudu Rest zip deployment you mean `/api/zipdeploy` and NOT `/api/zip`. Is that right?

[2018-07-05 19:21] cyky commented on #3076
Yeah I mean the `api/zipdeploy`. I can get another invocation id for you tomorrow if that helps.

[2018-07-05 19:23] fabiocav commented on #3022
@brettsam - can you comment?

[2018-07-05 20:05] ConnorMcMahon commented on #2999
Will do

[2018-07-05 20:21] brettsam commented on #3022
It sounds like there's a few issues here --
- Too many network connections (are you still seeing this?)
- Dequeue count is too high, possibly from failure to renew visibility timeout.

When you get too many threshold errors (and do not recover), we will restart your host. It's also possible that this happens frequently enough that you're never able to actually complete many of your functions. This

[2018-07-05 21:05] johlrich commented on #3005
@fabiocav super exciting news! thank you!

[2018-07-05 22:08] ConnorMcMahon commented on #2999
The ScaleController for some reason isn't registering that it is taking longer to process the blobs. I'll follow up once I talk to someone with more knowledge about our scale controller.

[2018-07-05 22:56] ddobric commented on #2448
Had same issue after deploying .NET Azure Function in "Azure Function App", which was previously hosting .NET Core Azure Function. I have created a new Azure Function App and deployed .NET Azure Function. All worked fine.

Please note, I have checked "delete files" before deployment. It didn't help.

[2018-07-05 23:31] envoy-mcapodici commented on #2954
@fabiocav - I just had a look at the code I am using, and we are explicitly asking for the connection string in the function:

`var storageAccount = CloudStorageAccount.Parse(ConfigurationManager.ConnectionStrings["AzureStorageConnectionString"].ConnectionString);`

so without that a setting alone may be good enough, I will try that at some point (don't have time today though).

[2018-07-06 03:14] fabiocav commented on #3043
Thanks for the update, @travisnielsen! Love closing things like these as resolved :)

[2018-07-06 03:14] #3043 closed

[2018-07-06 07:06] cyky commented on #3076
Closing this issue as I think that I've found the cause from our configuration. Missing logs from these functions seem to be unrelated problem.

[2018-07-06 07:06] #3076 closed

[2018-07-06 13:07] smoelker commented on #229
It seems like support for PHP and blob triggers is very basic. I can get the blob data using environment variables but I can't find a way to get the original blob name.

[2018-07-06 13:19] asalvo commented on #3022
I had to keep the project moving forward, so I redeployed to a App Service Plan and my problems went away.

Average execution time as reported by App Insights
- Function 1: 3.4 minutes
- Function 2: 785ms

Function 1 processes queue 1 (this is the queue I posted the screen shot of) and reads data from a Sql Azure database, enqueuing 50-5000 messages to be processed by Function 2. Function 2 lists

[2018-07-06 13:51] brettsam commented on #3022
I'm glad you were able to move forward. That does point toward the connection threshold being your underlying issue, then.

To answer one of your questions -- the connection limit is per-sandbox (which really means per-instance). So if you had 200 instances, each of them would have a 300 connection limit. So the scale out shouldn't directly factor into the threshold.

To try to answer some more qu

[2018-07-06 14:33] asalvo commented on #3022
Question 3: Yes, the caching is client wide using static collections.

Question 1/2: Yes, this is a c# app. I was thinking that if we used a Queue output binding that it would help cut down on the number of clients, but was unaware of the CloudQueueClient binding. While that might help in this specific case, it seems like I would be just setting myself up for failure later on. As soon as we need t

[2018-07-06 14:36] devedse commented on #3071
Created a duplicate on Stackoverflow as I'm a bit clueless on where to post bugs in Azure-Functions:
https://stackoverflow.com/questions/51212728/500-error-when-frombody-object-has-same-name-as-field-of-frombody-object-in

[2018-07-06 15:23] tomkerkhove opened #3107 "Provide capability to trigger alert for functions are failing to trigger"
Provide capability to trigger alert for functions are failing to trigger. This should be available to create an alert on **without having to use Azure Application Insights** as this is not always turned on.

We've had a few function now that failed to trigger for several reason and this is very hard to spot.

This should be fully integrated with Azure Monitor and be able to handle them similar to

[2018-07-06 17:17] brettsam commented on #3084
@cts-shrahman -- Do you have an example where we're not logging the inner exception?

[2018-07-06 17:37] pragnagopa commented on #3080
Configuration section names are not case sensitive according to documentation [aspnetcore basicconfiguration](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.1&tabs=basicconfiguration)

[2018-07-06 17:40] mhoeger opened #3108 "Language Worker Validation"
There are validation steps that we should take to make sure that our language worker can actually run. For example, with Node, we need node path to be at a specific version of node.

**Solution proposal:**
We should add a path to a validation script in worker.config.json of each language worker.
The validation script should be a language-specific validation script and should `exit 0` on successful

[2018-07-06 17:54] brettsam commented on #3075
This issue was moved to Azure/azure-functions-durable-extension#381

[2018-07-06 17:54] #3075 closed

[2018-07-06 18:42] mhoeger commented on #3105
That sounds good! Re-titling

[2018-07-06 19:22] pragnagopa commented on #3108
Thanks for opening this issue.  I had this on my list. Another approach would be to add a helper like this: [check-if-an-executable-exists-in-the-windows-path](https://stackoverflow.com/questions/3855956/check-if-an-executable-exists-in-the-windows-path) that works on windows and other platforms.  If possible we should try and avoid spawning another process for validation.

[2018-07-06 19:48] #3080 closed

[2018-07-06 20:14] ahmelsayed opened #3110 "[v2] code query string is printed to the logs"
Enable verbose logging:

* set `consoleLoggingMode = always`
* in `host.json` set

[code]

Send `GET https://app.azurewebsites.net/api/function?code=.....................`

the code is logged in clear text in the log.

[2018-07-06 22:35] pragnagopa opened #3111 "Update ScriptEnvironmentVariablesConfigurationSource to do case in-sensitive look up"
TryGet method at [ScriptEnvironmentVariablesConfigurationSource.cs#L30](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Config/ScriptEnvironmentVariablesConfigurationSource.cs#L30)
uses
Environment.GetEnvironmentVariable(key) - This works on windows and the key name is not case-sensitive but it fails on Linux.

This affects CLI as debug options to the language Workers are

[2018-07-08 14:30] chrisahardie opened #3113 "The following 1 functions are in error: Can't figure out which ctor to call."
I have two Azure 2.0 functions: CloudToDevice and DeviceToCloud. When I attempt to run them locally, I get the following:

[code]

The misbehaving DeviceToCloud function is as follows:

[code]
My `function.json` is as follows:

[code]

If I publish the function, it works correctly in Azure.

I'm certain that things had been working locally for me a few weeks ago, so I'm pretty confused. I don't kn

[2018-07-09 02:07] cmeiklejohn commented on #1633
I have observed different behavior and I can try to put a repro together next week.  I was advised by Azure support to switch to the App Service plan and away from Consumption to avoid this issue.

[2018-07-09 11:00] HShather opened #3114 "App Insights not recording response code when used with Functions V2"
I have a javascript http trigger function running on runtime 2.0.11857-alpha with standard app insights integration
Http response code is not being captured by app insights, it is always zero

![image](https://user-images.githubusercontent.com/38656315/42446949-631a7fd6-8378-11e8-9a43-5b713eca7881.png)

#### Investigative information

- Timestamp: 7/9/2018, 10:56:18 AM UTC
- Function App version (

[2018-07-09 17:54] cts-shrahman commented on #3084
@Prashant Pratap<mailto:ppratap@microsoft.com> can you help with some details?

From: Brett Samblanet <notifications@github.com>
Sent: Friday, July 6, 2018 12:18 PM
To: Azure/azure-functions-host <azure-functions-host@noreply.github.com>
Cc: Shahinur Rahman <shrahman@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-functions-host] Log inner exception details (#3084)

[2018-07-09 17:54] pragnagopa opened #3117 "Populate FunctionName and InvocationId for system logs coming from language workers"
Standard IO and Error logs coming from language worker processes at
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/LanguageWorkerChannel.cs#L346

https://github.com/Azure/azure-functions-host/blob/58291067a499f66d1cb91f2500837cb646881002/src/WebJobs.Script/Rpc/LanguageWorkerChannel.cs#L354

 do not have FunctionName and FunctionInvocationId fields populated.
Worker p

[2018-07-09 20:32] simonness opened #3119 "Old code still running intermittently after a deployment"
#### Investigative information

Please provide the following:

- Timestamp: 2018-07-09T20:05:15.279 UTC
- Function App version (1.0 or 2.0-beta): 1.0
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: f4ed0d7c-2c5f-436d-9178-fec340c02e54
- Region: West Europe

#### Repro steps

Perform a deployment.  However this is the first time I've noticed this issue after over a hundre

[2018-07-09 20:40] simonness commented on #2636
Hi @brettsam @paulbatum thanks for your help on this one so far.  Was there a resolution?

I've seen something similar again today, this time 2 different versions of dlls running at the same time for quite a while after a deployment.  I've raised #3119 for it.  Much appreciated if you could take a look!

[2018-07-09 21:52] pragnagopa opened #3120 "Add support for FUNCTIONS_WORKER_RUNTIME in host.json"
host.json should support FUNCTIONS_WORKER_RUNTIME setting. Right now the CLI uses that setting for figuring out your app's type, since many operations (init, new, start, publish, etc) are language specific. Currently that is stored in local.settings.json which is not committed in the repo.

[2018-07-09 22:45] pragnagopa opened #3121 "Function invocation hangs if the language worker process fails to start"
[ErrorBlock](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Rpc/FunctionRegistration/FunctionRegistry.cs#L90) is not set if language worker process fails to start.
On function invocation, we should show error message that indicates why language process did not start.

[2018-07-09 22:46] pragnagopa commented on #3121
cc: @mhoeger

[2018-07-10 01:05] praveena-m opened #3124 "Orchestrationclient TaskHub configurable option."
Instead of hardcoding a taskhub name, need a way to define it in an app setting and refer to it using % signs.

For instance, if you have a setting called CRON_EXPRESSION, then you can refer that as below (Reference : [https://github.com/Azure/azure-functions-host/issues/1934](url) )
`
public static void Run([TimerTrigger("%CRON_EXPRESSION%")]TimerInfo myTimer, TraceWriter log)
`

Currently below

[2018-07-10 04:54] vludax commented on #33
Based on the above, it sounds like we should be able to retrieve claims passed to Azure Functions v1. Unfortunately `ClaimsPrincipal.Current.Claims` appears to be empty when we access it. Our setup is as follows.
We have an Azure Functions app (App1) with App Service Authentication enabled and an Express Azure AD app created. This app has an endpoint to return back the claims and HTTP headers to t

[2018-07-10 15:46] brettsam commented on #2636
@mathewc / @fabiocav -- I think we've discussed this in the past (#3119 is another instance).

In this case, it was a Web Deploy. I can see the host restarts and recycles the AppDomain, yet the previous file version is loaded. We can't see that in the logs, but the customer is reporting it. Could there be some file caching issue upon restart?

[2018-07-10 17:02] #3065 closed

[2018-07-10 17:19] fabiocav commented on #2901
Closing this as resolved, but please let us know if you run into issues.

[2018-07-10 17:19] #2901 closed

[2018-07-10 17:28] soninaren opened #3125 "ServiceBus binding does not support binary data type for non C# languages"
When you send binary data via a service bus message it shows up as `"String": "System.Byte[]"`
 instead of the actual data.

There is some relevant data in this PR
https://github.com/Azure/azure-functions-python-worker/pull/158

Sample protobuff message
[code]

[2018-07-10 18:42] fabiocav commented on #2849
This will be pushed to the next milestone as we're introducing a migration feature first.

[2018-07-10 18:43] fabiocav commented on #2848
Moving due to the same reason described above.

[2018-07-10 18:58] fabiocav commented on #2898
Validated that this now works with the latest runtime version (2.0.11888).

@Liversage , Thanks for reporting! Closing this as resolved, but please let us know if you have any problems.

[2018-07-10 18:58] #2898 closed

[2018-07-10 18:59] fabiocav commented on #2800
@pragnagopa , meant to chat about this but didn't have a chance.

Will move this to the next sprint so we have time to discuss.

[2018-07-10 19:29] paulbatum opened #3126 "Add a default function execution timeout that applies even on App Service Plan"
Currently, the default timeout for a function is 5 minutes in the consumption plan, and "infinite" in an app service plan.

We've had a few cases where a customer running functions on an app service plan reported that they needed to restart their function app after it stopped processing. Investigation found that the certain executions within the function app were never completing, and eventually t

[2018-07-10 19:31] #2895 closed

[2018-07-10 19:47] brettsam opened #3127 "Add metrics for tracking volume of user logs"
The Azure Monitor team would like to know how many user logs our customers generate, but because we remove these from our logging pipeline, we have no idea. These metrics could be generally useful elsewhere as well, so it may be a good idea to track the counts of the logs that we ignore.

[2018-07-10 19:53] paulbatum commented on #2690
The update was pulled through for V1, but leaving this open as the same is not true for V2 yet.

[2018-07-10 20:31] paulbatum commented on #3083
@cts-shrahman  this is work to do per service (service bus, azure queues, etc). Can you give us which scenario would be highest pri to do first?

[2018-07-10 20:44] brettsam opened #3128 "Investigate ServicePointManager.DefaultConnectionLimit setting for v2"
Functions v1 uses 50 as the `DefaultConnectionLimit`. What do we need to do for v2?

Related to https://github.com/Azure/azure-webjobs-sdk/issues/1757

[2018-07-10 20:51] paulbatum commented on #2555
It looks like this won't land for functions V2 GA, but perhaps it can be addressed with an opt-in feature that limits the scope of the master key post GA.

[2018-07-10 20:59] cts-shrahman commented on #3083
@Prashant Pratap<mailto:ppratap@microsoft.com>, @Finbar Ryan<mailto:Finbar.Ryan@microsoft.com> any thoughts on this?

From: Paul Batum <notifications@github.com>
Sent: Tuesday, July 10, 2018 3:32 PM
To: Azure/azure-functions-host <azure-functions-host@noreply.github.com>
Cc: Shahinur Rahman <shrahman@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-functions-host] Mes

[2018-07-10 21:51] mhoeger commented on #2351
Closing as fixed, this is what the error message there looks like in V2.

[code]

[2018-07-10 21:51] #2351 closed

[2018-07-10 22:15] fabiocav commented on #2979
@LeastOne do you still have issues with V2? Can you please share a repro or more details so we can investigate? The original issue here is with a V1 app.

@Inspyro, as Paul mentioned, it is unlikely this would be addressed in V1, but the root of the problem is within your reference mismatches. You also have dependencies on two different major versions. Aligning those references should address the

[2018-07-10 22:15] #2979 closed

[2018-07-11 00:21] fabiocav opened #3129 "Disable ANCM stdout logging"
PR #3013 had to re-enable stdout logging due to a bug in ANCM. Opening this to track the issue and ensure that is disabled once the problem is resolved.

[2018-07-11 00:22] fabiocav commented on #3129
FYI, @alrod

[2018-07-11 07:37] PRAVEENBADIGER opened #3130 "I wanted to change "Connection Security" of iot-hub and iot-device (Connection Security: Ensuring all data transmitted between the IoT device and IoT Hub is confidential and tamper-proof),using wolfssl certificates."
Hi Team,

I wanted to change "Connection Security" of iot-hub and iot-device (Connection Security: Ensuring all data transmitted between the IoT device and IoT Hub is confidential and tamper-proof),using wolfssl certificates.

Questions:

1) Is it possible to change Connection Security Certificate between IoT hub and devices connection ?

2) Azure providing Connection Security by " certs " certifi

[2018-07-11 14:51] tiloc opened #3131 "Input string was not in a correct format"
I have an Azure Function which is triggered through a queued item. The triggering works, but the function aborts with the following in the log file. I am at a loss what it means by "Input string"?

2018-07-11T13:50:53.115 [Info,FunctionStudyTransfer] Function started (Id=5f8bbcc0-9184-498e-92d4-297556283145)
2018-07-11T13:50:53.132 [Info,FunctionStudyTransfer] Executing 'FunctionStudyTransfer' (Re

[2018-07-11 16:30] tiloc opened #3133 "Unresolved placeholders in error log message"
During the execution of my Azure Function, the script host is logging the following:
Executed '{FullName}' (Failed, Id={InvocationId})

FullName and InvocationId are not being resolved. I assume there is a $ sign missing in the C# code, similar to the bug in line 75 of this corresponding unit test:
https://www.csharpcodi.com/vs2/486/azure-webjobs-sdk/test/Microsoft.Azure.WebJobs.Host.UnitTests/Log

[2018-07-11 16:37] cloelke opened #3134 "using PHP functions no longer run"
#### Investigative information

- Timestamp: 2018-07-11T16:31:59.212
- Function App version 1.0
- Function App name: EmailQueueTrigger
- Invocation ID: 6285e365-8c52-4d35-b19a-498f73367a2f
- Region: Canada East

#### Repro steps

Provide the steps required to reproduce the problem:

Running manually  gives the following error

Running it from the function console it runs.
I created a blank functio

[2018-07-11 18:29] mathewc commented on #3052
You are running on Windows, correct? (Not Linux). Can you [share your app](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately) name info with us?

[2018-07-11 18:29] jeffhollan commented on #3032
Thanks @fabiocav -- @btardif thoughts? We see a healthy number of support tickets every month from this issue so while not ideal I would prefer we solve this on the UX if it gives us the best shot to get it working shorter term.

[2018-07-11 18:34] mathewc commented on #3053
Investigate what improvements we can make here.

[2018-07-11 18:36] mathewc commented on #3054
Servicing loop - can you please investigate this ASAP @pragnagopa @ConnorMcMahon

[2018-07-11 18:38] mathewc commented on #3058
Can you please try with the latest version? We've made a lot of improvements recently.