[2020-02-25 06:49] shengdamao opened #5698 "new Linux-Function App cannot use DevOps(Deployment center) hosted in App Service Plan"
Newly created linux function app cannot use deployment center in "all settings" page.
Hosted in App Service Plan for sure.

Region： Australian East.
Tips  said "The feature is not avaible for Linux Function Apps running on a Consumption Plan".
Runtime stack: Python

[2020-02-25 09:11] johannesoenema commented on #5250
Same problem here. I ran this query and since 20th of February (this day we didn't release the azure function, so it wasn't a code change) category and log level are empty. Could this be a reason why the host.json configuration is not working?

[2020-02-25 09:47] withinboredom opened #5699 "Durable function execution not scaling / shutting down"
I ran into a bug where `IDurableEntityClient.ListEntitiesAsync()` kept getting the same entities over and over again (a separate issue?), which then called a function on each of those entities. It took me about an hour to figure out that it was an infinite loop. However, once the issue was fixed, thousands of entity calls are queued up, running (what appears to be) one at a time. However, the func

[2020-02-25 10:13] withinboredom commented on #5699
I ended up manually clearing the queues, which seems to have properly triggered a scaling event and brought the app to sanity. I may have lost some data, but that's acceptable to me at this point.

[2020-02-25 12:19] hiranamarasinghe commented on #5447
I was able fix this issue while using IWebJobsStartup instead of FunctionsStartup. The issue seems to be IFunctionsHostBuilder in the DI container.

So this might work with this line of code in Startup.cs

public class Startup : IWebJobsStartup
{
public void Configure(IWebJobsBuilder builder) =>
builder.AddDependencyInjection(ConfigureServices);

    private void ConfigureServices(IServiceCollecti

[2020-02-25 17:03] nickplennox commented on #4809
I have also had this for the past few weeks. The proxy still seems to run, but it's unsettling to see this error every time the function starts

[code]

[2020-02-25 20:03] brettsam commented on #5250
@johannesoenema / @avishnyakov -- If you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I find anything from the backend logs.

[2020-02-25 20:17] safihamid opened #5704 "Latest secret cache fixes is still making a call to blob storage during cold start"
Below is the callstack, This call is adding an extra 200ms to cold start for auth scenarios in my profiles.

 + microsoft.azure.webjobs.script.webhost!Microsoft.Azure.WebJobs.Script.WebHost.Authentication.AuthenticationLevelHandler+<HandleAuthenticateAsync>d__4.MoveNext()
  + microsoft.azure.webjobs.script.webhost!AuthenticationLevelHandler.GetAuthorizationKeyInfoAsync
    + microsoft.azure.webjob

[2020-02-25 21:22] pragnagopa commented on #5704
Assigning to Mathew for further investigation.

[2020-02-25 21:39] avishnyakov commented on #5250
@brettsam thank you. I raised support ticket with Azure instead.

Can you please advice on options to control this bits of logging?

We can see that this ticket was raised on Nov 15, 2019 and it is unclear if there is a solution. With current understanding, pragmatic options is to ditch Azure functions and consider something else.

[2020-02-25 22:20] mathewc commented on #5704
The StartupCache work removed all the storage access calls to retrieve keys, but there are more it seems.

This particular issue is in the code [here](https://github.com/Azure/azure-functions-host/blob/2d6c40c50de688900ae05fb9ec9b395d2353ad76/src/WebJobs.Script.WebHost/Security/KeyManagement/BlobStorageSecretsRepository.cs#L52). We're eagerly doing a CreateIfNotExists on the blob container. We sho

[2020-02-25 23:15] divyagandhii commented on #4869
Central US and UK West are now available as well.

[2020-02-26 01:20] divyagandhii commented on #4932
@amamounelsayed  this can be closed?

[2020-02-26 01:40] #4932 closed

[2020-02-26 01:41] amamounelsayed commented on #4932
@divyagandhii  Thank you!

[2020-02-26 03:50] shengdamao commented on #5698
problem fixed.

[2020-02-26 03:57] shengdamao commented on #5698
![image](https://user-images.githubusercontent.com/39946188/75310490-15f27400-588f-11ea-91de-ad86c05fd665.png)

[2020-02-26 10:39] johannesoenema commented on #5250
@brettsam 2020-02-26T10:35:58.831 [Information] Executing *** (Reason='', Id=22f5f1fe-45a8-4055-b757-790ac4b997be)
Region: West Europe

[2020-02-26 13:35] acrov opened #5707 "Option to output log category to Azure Functions Core Tools Function Runtime console and logfile"
#### What problem would the feature you're requesting solve? Please describe.
I'm always frustrated when I can see my log output in the Azure Functions Core Tools Function Runtime console but I cannot see what class is emitting the log entries because the log category is not included in output.
This would be very useful during development and also to more easily understand and refine log filters.

[2020-02-26 14:51] brettsam commented on #5250
@johannesoenema -- it looks like you are registering your own `Microsoft.ApplicationInsights.TelemetryClient` in your Startup class. That could be the reason that the filtering isn't working -- this may be bypassing our built-in filtering logic. Can you share what this service is set up to do? That may help point me in the right direction.

[2020-02-26 14:53] brettsam commented on #5250
@avishnyakov -- do you have any details on the ticket you've opened with Azure? I can take a look. Feel free to email me directly; my Microsoft email is in my github profile.

[2020-02-26 15:28] johannesoenema commented on #5250
@brettsam Thanks for your quick reply, I have sent you an email regarding the issue.

[2020-02-26 16:29] SimonLuckenuik commented on #5506
@lmolkova any update on this? Thanks!

[2020-02-26 20:28] OneCyrus commented on #4413
@b-twis no, couldn't get it to work. I guess this issue may be related to a major flaw with the way DI works in azure functions and doesn't follow the spec.

https://github.com/Azure/azure-functions-dotnet-extensions/issues/34

nothing heard from @brettsam, @fabiocav or @pragnagopa yet.

[2020-02-26 20:52] gzuber opened #5708 "Explore possibility of logging every time the host makes a request"
Seeing some CRIs where the customer is seeing spikes in IOPs for their storage account. In the CRI I worked on, the storage team said it was mainly from failed lease acquire/renew requests. Unfortunately, storage only keeps logs containing which IP made the request for 15 days, so that's a narrow window for the customer to notice it, open a ticket, and for it to reach us. It would help in this cas

[2020-02-26 23:26] #5679 closed

[2020-02-26 23:26] #5704 closed

[2020-02-27 05:59] Areson commented on #3741
I think there are two issues outstanding with the filtering for me, though I have hacked around it with the solution I outlined above:

1. I can't filter Live Metrics. As @brettsam Pointed out, the native filtering doesn't take place until _after_ live metrics are processed. The raw stream of data is too verbose to make it useful in the live stream.
2. I don't have the level of control in the exis

[2020-02-27 09:00] thehereward opened #5710 "HTTP Trigger Returns 204 But Function Not Invoked"
#### Issue Summary
Apologies in advance if I missing something obvious but I am rather perplexed by this behaviour.

I have logs of my function's HTTP trigger returning a 204 at the following UTC timestamps:
2020-02-24 16:31:16.261
2020-02-24 16:31:16.745
2020-02-24 16:36:16.900
2020-02-24 16:36:17.764

However, I can only see evidence of the function being invoked for three of these four triggers

[2020-02-27 14:04] Hurtyto commented on #5014
For example on Web Jobs, the operation Id is used when you want to process an item and have end-to-end id. In case where the message (for example with Service Bus) needs to be reprocessed, then you have new invocation of your original operation. In that case the operation Id will persist (because you are retrying), but the invocation will be new.
Hope this helps.

[2020-02-27 14:34] Aerdanel commented on #5003
I have the same issue. Even when trying to create all new elements (resource group, storage account etc.).

[2020-02-27 16:27] paulehr commented on #5650
just wanted to chime in that i hit this as well and it didnt matter if i was using powershell or python as a language, I kept hitting the same GRPC resource exhausting when trying to push a ~400MB file.

[2020-02-27 18:54] vinodsugur opened #5711 "Eventsubscription endpoint type azurefunction does not show any Function app in the drop down."
I have a Blob Storage on which we have added a event subscription with an endpoint type as "azurefunction", but for the Azure Function configuration no function app is listed in the Function App drop down. The function app is part of same resource group and has identity on option, and is created by same user.

What could be the issue? This configuration was working fine but now even after trying d

[2020-02-27 19:19] pragnagopa commented on #5696
cc @divyagandhii
Verified on linux dedicated. It works as expected. The issue is scoped to linux consumption. Needs more investigation

Note: Built go binary for linux amd64 : https://www.digitalocean.com/community/tutorials/how-to-build-go-executables-for-multiple-platforms-on-ubuntu-16-04 using command
[code]

[2020-02-28 15:42] tomgallard commented on #5689
Further information for investigation - I believe this was caused by the user of a custom INameResolver to resolve the queue name.

Removing the use of an INameResolver seems to resolve it. But I can't find anywhere in the docs whether this is expected behaviour or not.

[2020-02-28 16:06] brettsam commented on #3741
For number 1 -- I've repurposed an existing issue for tracking and added a proposal for an improvement here: https://github.com/Azure/azure-webjobs-sdk/issues/2447.

For number 2 -- yeah, this is a problem we've seen with the auto-dependency tracking in general. We've changed our code in a few places to reduce 404 and 409s just to address this. Sometimes "error codes" from REST calls aren't really

[2020-02-28 17:28] cijothomas commented on #3741
The recommended way in Application Insights to deal with these is to write telemetry processor to filter out unwanted dependencies. Unfortunately there is no easy way to hook up processors in Functions.
So writing TelemetryInitializers to override fields (success) is best bet until telemetry processor support is enabled.

[2020-02-28 22:40] divyagandhii commented on #5696
[code]

[2020-02-28 22:40] divyagandhii commented on #5696
The functions host is not able to connect to a random port on linux consumption due to insufficient permissions.

[2020-02-29 01:12] lommez opened #5715 "How to access content files out from bin folder?"
How can i access files that are marked to be copied to output directory to "Copy Always" value?

When trying to execute the following line:

[code]
I got the wrong directory.
In my project I CAN'T use the ExecutionContext. Is there any alternative to access those files?
Also, i`m running Azure Functions V1

Thanks!

[2020-02-29 04:01] jongio commented on #5559
@gzuber Should this be resolved with this PR? https://github.com/Azure/azure-cli/pull/12317/?

[2020-02-29 13:56] OTedikov opened #5716 "Azure Durable Functions Activity Timeout"
Hello,

I have 2 Azure Functions Applications with Runtime Version 2.0.13017.0 (~2)
1-st Azure Functions Application (AF1) deployed in ElasticPremium Plan
AF1 uses Azure Durable Functions (O1, A1, A2, ...)
O - Orchestrator, A - Activity
Host.json: { "version": "2.0" }

2-nd Azure Functions Application (AF2) deployed in ElasticPremium Plan
AF2 uses Azure Functions (F1, F2, F3, ...)
F - Function (HT

[2020-03-01 08:45] mrpassiontea commented on #4959
Any new updates on this? I'm also having the issue of
Value cannot be null and Parameter name: provider.
I've checked my local.settings.json to have accurate connection strings and I've even created a new Typescript project with one http function. I still receive this error. I really think it's because before the extension bundle is fully installed, a timeout occurs.

I've created a thread on soci

[2020-03-01 15:41] #5716 closed

[2020-03-01 15:42] OTedikov commented on #5716
Issue is not relevant, since Call was timed out due to default Timeout = 100 seconds for HTTP Client and Retry Policy execution 5 times, which in total gave 10 minutes.

[2020-03-02 01:25] bmcclellan-cu commented on #4869
Any estimates on when Python will be available in any of the US Gov regions: UsGovVA, UsGovTexas?

[2020-03-02 01:28] anirudhgarg commented on #4869
@bmcclellan-cu we are targeting for the end of the first half of this year i.e. end of June

[2020-03-02 01:29] anirudhgarg commented on #4869
We have added Central US now.

[2020-03-02 07:29] RyanMorrisroe opened #5721 "Durable Function Deserialization May Be Failing, but only in Azure"
#### Investigative information
- Timestamp: 2020-03-02 06:58:14.605
- Function App version (1.0 or 2.0): 2.0 (for the host.json version, the function app is version 3.0)
- Function App name: (redacted)
- Function name(s) (as appropriate): MonitorBatchJob
- Invocation ID: 2016985d-6f47-4e49-8f20-d84c823293a4
- Region: EastUS2

#### Repro steps
1. Create a durable function that gets passed a seriali

[2020-03-02 11:18] mjisaak opened #5722 "ARM deployment fails when using WEBSITE_RUN_FROM_PACKAGE and listkey function"
I have an Azure ARM template that deploys two Azure Functions to an **Azure App Service Premium** Plan (EP1). The templates add the default host key of the first function to the app settings of the first function using the `listkey` function:

[code]

If I deploy this template to a new resource group, it works the first time (at least most of the time). Every subsequent deployment fails with a Bad

[2020-03-02 14:16] ja0b commented on #4049
2 days ago version `1.0.33` was released but still we see this annoying `Newtonsoft.Json (= 9.0.1)`, I'm having the same issue as @graham-saunders.

As @mamoorkhan pointed out is there any reason for that `=` there instead of `>=`.

[2020-03-02 18:26] alrod commented on #5672
We had an incident related to the issue (internal link https://icm.ad.msft.net/imp/v3/incidents/details/176994970/home):
1. An worker marked as idle, no ping request from scale controller.
2. The worker was able to start a timer execution after 15 mins, the timer trigger listener was not turned off on the worker.
3. After 20 mins the worker was shut down due idle time period but the timer executio

[2020-03-02 19:10] mhoeger commented on #5003
@FibonacciSpiral and @Aerdanel - can you please open new issues with your specific details for us to investigate? You can link those back to this issue too. Thanks!

[2020-03-02 21:21] madelinegordon commented on #5721
cc @ConnorMcMahon

[2020-03-02 21:55] mhoeger commented on #5624
Fixed with: https://github.com/Azure/azure-functions-host/pull/5668

[2020-03-02 21:56] #5624 closed

[2020-03-02 21:58] mhoeger commented on #5465
Dupe: https://github.com/Azure/azure-functions-host/issues/5624
Both resolved.

[2020-03-02 21:58] #5465 closed

[2020-03-02 22:00] mhoeger commented on #5385
This PR has work that addresses this issue: https://github.com/Azure/azure-functions-host/pull/5662
However, closing the above PR because it was meant as a hotfix (minimally invasive). Closing above in favor of non-hotfix version and linking above for reference of problem and a solution.

[2020-03-02 22:34] jeffhollan commented on #3370
@fabiocav  / others can we confirm if this is fixed in v3?  For others realize it's a bit more of a pain but since this was a breaking change the plan was to bring along with a major version.  Until then the [mitigation from fabio](https://github.com/Azure/azure-functions-host/issues/3370#issuecomment-512906790) is the best option.

[2020-03-02 22:46] soninaren commented on #5686
The fix for this issue has been released

[2020-03-02 22:46] #5686 closed

[2020-03-02 22:52] mhoeger commented on #5656
Hey @milazzom -

I'm not able to repro this using a media type like "application/octet-stream". It looks like content-type is dynamically chosen based off of the fileInfo from fileService. What are examples of media-type values that cause the payload to be JSON?

[code]

[2020-03-02 22:56] soninaren opened #5726 "Generate the host.json without bundle configuration, if the host.json is missing for a pre-compiled function app."

[2020-03-02 23:44] soninaren commented on #4959
@mrpassiontea Can you remove the `extension bundle` section from host.json and try again? By Removing bundle configuration the extension bundle download will not happen. That should help you isolate the issue.

[2020-03-03 07:59] ankitkumarr commented on #5609
I apologize that it took me this long to get back here. Thank you for you recommendation.

If I understand your issue correctly, you are asking for a way to specify a dynamic batch-size, such that depending on the CPU usage, the batch size changes to adapt.
I don't think there would be a straight-forward way to do this.

Consumption / Elastic Premium based plans have been our recommendation for wo

[2020-03-03 08:07] ankitkumarr commented on #5663
@dasbdavis, Do you have an app setting `WEBSITE_RUN_FROM_PACKAGE` or similar that in your function app? ([Run From Package](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package)) If so, would you mind removing that and then trying the CI/CD pipeline?

I think what's possible is that your function app is typically deployed using Run From Package, which means

[2020-03-03 08:19] ankitkumarr commented on #5711
@vinodsugur, what sku (Consumption, App Service Premium), region and operating system (Windows, Linux) is your function app on?

[2020-03-03 11:53] jwisener commented on #4761
Any update on this?

[2020-03-03 13:07] benmiller86 commented on #5401
I had this issue today with a brand new functions project, the `Startup.Configure(...)` method was not being called at any point.

Downgrading `Microsoft.NET.Sdk.Functions` to 3.0.**3** solved this, and the `Startup.Configure(...)` method is now called on startup as expected.

[2020-03-03 14:18] mrpassiontea commented on #4959
So when including
[code]
Now listening on: http://0.0.0.0:7071
Application started. Press Ctrl+C to shut down.
Value cannot be null.
Parameter name: provider
Application is shutting down...
[code]
The 'Install' function is in error: The binding type(s) 'table' are not registered. Please ensure the type is correct and the binding extension is installed.
[3/3/20 12:34:37 PM] The 'X' function is in e

[2020-03-03 15:06] danielegiallonardo commented on #5401
Same thing just happened to me, no binding registration was found, I had to downgrade to 3.0.3 to have Startup.Configure(...) called again.

[2020-03-03 15:42] Programmerman1 commented on #4959
Here were my workaround steps. This was on a Mac but the concepts should carry over to other platforms.

If `func host start` fails to get rolling and you see in the console messages about downloading the extension bundle and then two minutes later that the `provider` cannot be null, you probably need to manually download the extension bundle.
[code]
1. Download the file referenced in the console

[2020-03-03 16:54] pragnagopa commented on #5664
@divyagandhii - Can you please take a quick look to understand if there is anything that needs to be fixed as part of ANT88.

@mhoeger - Could be a dup. But needs more investigation.

[2020-03-03 17:22] pragnagopa opened #5728 "Investigate V3 placeholder hit percentage in Cold Start Summary email"
Tracking item to understand recent Java cold start numbers

[2020-03-03 17:22] pragnagopa commented on #5728
cc @amamounelsayed FYI

[2020-03-03 20:25] gzuber commented on #5559
@jongio That's a good point, thanks.

@mhoeger is this valid since the changes @pragnagopa made to linuxFxVersion?

[2020-03-03 20:28] pragnagopa commented on #5559
cc @ankitkumarr
As of ANT86.2, updating 'FUNCTIONS_EXTENSION_VERSION' will update the functions runtime used.

[2020-03-03 20:43] soninaren commented on #4959
The workaround steps suggested by @Programmerman1 should work. However you would need to download version `1.1.1` instead of `1.0.0` since that is the latest version of bundle available and core tools check for latest.

For windows the path would be `%Temp%\Functions\ExtensionBundles\Microsoft.Azure.Functions.ExtensionBundle`

Also if you don't want to go through the manual steps, you can simple d

[2020-03-03 21:08] ankitkumarr commented on #5559
Yes this is now fixed. Any new function apps that are created, can be upgraded with just the App Setting.

[2020-03-03 21:19] pragnagopa commented on #5628
After discussing with @divyagandhii and @ankitkumarr  we have decided it is safer to make code changes as part of ANT88 to backfill / update linuxFxVersion and kind properties as of UpdateWebSiteConfig code.

Assigning to @divyagandhii to track this issue in ANT88.

[2020-03-03 21:30] pragnagopa commented on #5667
Closing as release is in progress: https://github.com/Azure/app-service-announcements-discussions/issues/144

[2020-03-03 21:30] #5667 closed

[2020-03-03 21:32] pragnagopa opened #5730 "V2 and V3 releases for Sprint 69"

[2020-03-03 21:36] pragnagopa commented on #5554
ANT87 includes a fix to allow only http triggers to use placeholders. Placeholder dashboard is updated.

[2020-03-03 21:36] #5554 closed

[2020-03-03 21:57] kulkarnisonia16 commented on #5731
This is currently not supported for any out -of-proc languages today. Will move this to the host repo.

[2020-03-03 22:28] #5559 closed

[2020-03-03 22:34] gzuber commented on #5564
After an investigation, I believe this is related to File watchers being unreliable in Linux containers. It's worth noting this seems to be contained to *only* when you make a new function in the portal from the default template. As soon as you hit "Save and Run" or restart the app, it should be working. Also, other deployment methods and using Run From Package should work fine as well. @Noituri p

[2020-03-03 22:34] #5564 closed

[2020-03-03 22:38] gzuber opened #5733 "Improve reliability of File Watchers in Linux containers"
This issue is related to #5564

If you create a function on a new dedicated Linux app in the portal, file watchers won't reliably pick up the changes in order to restart the ScriptHost. This is apparently a known issue with file watchers in linux containers, especially if monitoring a mounted drive.

One potential fix would be to use a polling file watcher instead. We'd probably want to do this on

[2020-03-03 22:49] ankitkumarr opened #5734 "Linux App Service image deployment rollout"
Tracking issue to track the work that is needed for changing the way Linux App Service images are deployed in the platform.

[2020-03-03 23:05] gzuber commented on #5707
@acrov Thanks for the suggestion! You should be able to inject a custom logger so you can see the category for your logs, would that work? Or did you want the category for all logs?

[2020-03-03 23:17] paulbatum commented on #5735
Had another support case like this last week. Could have been deflected much faster with better detection.

[2020-03-03 23:55] balag0 opened #5736 "Handle exceptions in LinuxMetricsPublisher"
Currently any exception thrown from https://github.com/Azure/azure-functions-host/blob/2abd94b579f7693d373809d68bb3a99be7e81b98/src/WebJobs.Script.WebHost/Metrics/LinuxContainerMetricsPublisher.cs#L262

is logged and ignored.

We should stop ignoring this once health checks are implemented to identify failures here.

[2020-03-04 00:49] kashimiz commented on #5715
Hi @lommez, sorry for the delayed response. I'd like to understand why you can't use the ExecutionContext object to get this information; could you elaborate?

[2020-03-04 01:57] soninaren commented on #5407
This was fixed in here https://github.com/Azure/azure-functions-host/pull/5467

[2020-03-04 01:57] #5407 closed

[2020-03-04 02:08] AartBluestoke commented on #5609
"Depending on the size of your queue backlog" -- the problem is that i don't want to scale based on the size of the backlog, as that turns into a DoS attack on our system... we can only handle ~100 messages in parallel, and don't care about a queue buildup.

We have
- many different message queues pointing at the one destination database
- different messages have different effort.
- sometimes we g

[2020-03-04 03:11] yojagad opened #5738 "Migrate v2 build and artifact generation from appveyor to devops"

[2020-03-04 03:12] yojagad opened #5739 "Common release flow for both v2 and v3"

[2020-03-04 04:46] HayHiTee commented on #5003
Same issues

[2020-03-04 04:46] HayHiTee commented on #5003
Same issues

[2020-03-04 08:49] harishsune commented on #4855
I had same issue this morning. By Scaling down the app service plan and again Scaling up to the previous plan it got resolved. I am using Python version of function app. Basically the thing I found was my every function app was affected due to this.

I tried to restart/stop function app but that did not resolved the issue. Then I created a new function app with same app service plan but that also

[2020-03-04 08:59] acrov commented on #5707
Many thanks for the reply.

I could indeed inject a logger, although, as you imply, that would not work for logger output from the function host itself - knowing the logger category of function host output allows one to tune log filters appropriately.

Perhaps more importantly, logger injection simply doesn't work if you are not using DI - e.g. static void functions (as in all the azure function e

[2020-03-04 09:07] acrov commented on #5707
Instead of injecting a logger, if one could inject a log format template into the built in logger that would work nicely.

Perhaps this could be specified somehow in the _Host_ section of the _local.setting.json_ where there seem to be other settings that affect the local function host - https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows#local-settings-file

[2020-03-04 09:51] vitalybibikov opened #5740 "Single-file Publish"
Single-file Publish is required to be presented for functions in order to improve loading and cold-starts **right-now**

Moreover, new improvements are going to be provided with the upcoming .NET 5 should be taken into account: [URL](https://github.com/dotnet/designs/blob/98c7ac94077a81dd78c6de24c4f60fed380a1dfe/accepted/2020/single-file/design.md
)

[2020-03-04 10:03] vitalybibikov commented on #3370
It is still reproducible in v3. (in 3.0.3), can't check in 3.0.4 as a Critical bug was introduced their and Startup is not being called.

[2020-03-04 12:29] bobwah commented on #4939
works for 3.0.3 after updating to 3.0.4 no longer hitting breakpoints and receiving the dependency injection error above.

[2020-03-04 13:04] cjjohansen commented on #5310
yes me too

[2020-03-04 14:18] michalkadlubowski opened #5741 "Error during generation of extensions.json - broken dependency injection"
When using Microsoft.NET.Sdk.Functions 1.0.33 and dependency injection as described in [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) generated extensions.json file is not populated.

This results in exceptions during runtime of any functions relaying on dependency injection.

When using Microsoft.NET.Sdk.Functions 1.0.31 everything wo

[2020-03-04 14:24] Bpflugrad commented on #5658
This is also affecting all of my V2 apps.  Anecdotally it seemed to coincide with the general release of the V3 apps.  I have one function app running on .Net Core 2.1 that used to process 21K messages in ~20 minutes with WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT set to 4, but now with Live Metrics Stream I am only observing one host.  I increased this to 16, but I am still only observing one host

[2020-03-04 15:31] HansOlavS commented on #5401
I had the exact same issue as @benmiller86. I'm pretty sure 3.0.4 introduced a bug so FunctionsStartup/WebJobsStartup won't trigger any more.

[2020-03-04 15:34] adityachowta opened #5742 "Code inside queue trigger function does not get executed azure functions - Java"
I'm trying to execute Java based Queue trigger function, The log displays that the function as executed however  any code logic or even Simple Sysout or context.getLogger().info() does not get printed on either the VS Code console or the Application insights.

Code :

[code]

Logs:

3/4/2020 3:26:21 PM] Executing 'Functions.QueueTriggerRead' (Reason='New queue message detected on 'ede-input-queue'

[2020-03-04 16:25] jbeeko commented on #5963
We see something very similar but because they are only warnings the publishing seems to go ahead without issue:

[code]

[2020-03-04 17:30] pragnagopa commented on #5575
Moving this to Triage to find a new owner.

[2020-03-04 17:32] pragnagopa commented on #5658
tagging current on call - @divyagandhii / @AnatoliB  - Can of one you please investigate?

[2020-03-04 17:41] TimPosey2 commented on #5689
Having similar issues, but on Windows.  No scaleout beyond 1 instance and dies after ~10 or so minutes.  However I'm NOT using a custom INameResolver.

[2020-03-04 18:37] mhoeger commented on #5003
@HayHiTee - same guidance please, can you open a new issue with your specific details for us to investigate? It would be helpful if you can link those back to this issue too. Thanks!

[2020-03-04 18:51] rmbrunet commented on #4939
Same as @bobwah, simplest solution works well locally with sdk 3.03 but not with sdk 3.0.4!

[2020-03-04 18:57] xsebas21 commented on #5401
Same here, downgrading to 3.0.3 solved the issue for me.

[2020-03-04 19:21] vivek306 commented on #5310
for some reason setting 2.0 in host.json for v3 doesnt seem to work online because of this error

I had to change it to 3.0

[2020-03-04 19:25] mathewc commented on #5715
ExecutionContext.FunctionAppDirectory just takes care of everything for you, handling environment differences, etc. If you're running in App Service, you could just format the path the same way the extension does. Code for that is [here](https://github.com/Azure/azure-functions-host/blob/65cf07688b6974219b90d4fc57d420c5226dc4fb/src/WebJobs.Script.WebHost/Configuration/WebScriptHostConfigurationSou

[2020-03-04 19:27] pragnagopa commented on #5628
closing this issue as it will be tracked as part of ANT88

[2020-03-04 19:27] #5628 closed

[2020-03-04 19:28] ThatBlokeCalledJay commented on #4939
🤦🏻‍♂️

[2020-03-04 19:55] TimPosey2 commented on #5658
Affecting my apps as well.  Appears similar to https://github.com/Azure/azure-functions-host/issues/5658

I'm on public consumption, EastUS, zip/run-from-package deploys, v3 runtime, windows.

[2020-03-04 20:20] gzuber commented on #5707
@acrov this is good input, thank you! Especially since we seem to be outputting category when running from Visual Studio. Unfortunately I can't promise anything, but I'll go ahead and Triage this so we can look into what we might be able to do.

[2020-03-04 20:34] #5518 closed

[2020-03-04 21:05] coder-candace commented on #5401
I can also confirm that it is an issue with Microsoft.NET.Sdk.Functions version 3.0.4. Issues was resolved once I downgraded back to 3.0.3 .

[2020-03-04 21:14] pragnagopa opened #5743 "V2 and V3 release for Sprint 70"
Tracking issue for the release.

[2020-03-04 21:33] pragnagopa commented on #5391
Moving it to next sprint for more investigation and finding owner.

[2020-03-04 21:35] ElementalCyclone commented on #5373
I don't know if this behavior is specific to class library type project.
In my case, on class library type project, by attributing each method that correspond to a function with `[Function("FunctionName")],` even though its .cs file is nested somewhere, it will be loaded (at least that's what the cli from func.exe said)

![image](https://user-images.githubusercontent.com/8135668/75924855-4000f300-

[2020-03-04 23:08] jeffhollan commented on #4701
Just opened a docs PR that includes showing how to use `ILogger<T>` or `ILoggerFactory` and modifying the `host.json` to opt-into those new filters.

[2020-03-04 23:08] #4701 closed

[2020-03-04 23:49] takyyon opened #5744 "[ARM VFS] 404 returned when trying to fetch the contents of .csproj file"
Unable to load the content of `.csproj` file from arm vfs api. It returns a status of 404 even when the file exists.

You can repo this using the following steps,

![image](https://user-images.githubusercontent.com/11722204/75933640-56259980-5e2f-11ea-9d05-435570b6a4a6.png)

Note: The file content can be accessed through the Kudu site

Connected Issue - https://github.com/Azure/Azure-Functions/iss

[2020-03-05 00:07] amamounelsayed commented on #5742
@adityachowta, Thank you so much for your input.

Can you please share your host.json?

Couple of requests, can you please add the executionContext.getLogger().info("Start function") at the first line of the function?
I want to make sure that just static message can be printed.
Second can you F5 using vscode. add debug point at the logger, debug your function that the code reach this debugging lin

[2020-03-05 01:25] eliashdezr commented on #5747
Here's a reproduction of the error using the examples listed in the official [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection).

Before I created this project, I ran the following command:

` npm i -g azure-functions-core-tools@3 --unsafe-perm true`

And also updated to the latest version of VS:
[code]

There are no compilation errors but

[2020-03-05 02:34] Dave76 commented on #4939
I also wanted to confirm that DI is busted with 3.0.4 sdk. Works fine with 3.0.3.  I just had to downgrade my new solution in order get DI working.

[2020-03-05 03:56] jeffhollan commented on #5747
Thank you @eliashdezr this helps a ton.  I was able to use your zip and repro.  Now I'm digging into it some as I'm slightly confused as I just had DI working in v3 a few hours ago to update some other docs.  But appreciate you providing such a concrete repro

[2020-03-05 04:02] jeffhollan commented on #5747
@eliashdezr I was able to get your sample to work by using the Azure Functions SDK 3.0.3.  When I bump to 3.0.4 I do hit issues as well:

[code]

Let me flag @paulbatum @brettsam as that just went out 4 days ago and appears something off there.

[2020-03-05 04:54] adityachowta commented on #5742
@amamounelsayed

host.json:

[code]

Output after adding executionContext.getLogger().info("Start function") to the start of the function:
[code]
As for the Debugging, nothing happens here as well the breakpoints never get hit. Attaching screenshot:
![image](https://user-images.githubusercontent.com/8074739/75949168-6d19c980-5ecb-11ea-8a74-ad004da50c2d.png)

[2020-03-05 08:50] acrov commented on #5707
Please could you elaborate on "we seem to be outputting category when running from Visual Studio".  When I run a function app in Visual Studio it runs the Tools Function Runtime and outputs to that.  Where do you see the category?

[2020-03-05 09:16] older commented on #5240
I saw this today as well. Full stacktrace:

	DryIoc.ContainerException:
	   at DryIoc.Throw.It (Microsoft.Azure.WebJobs.Script.WebHost, Version=3.0.0.0, Culture=neutral, PublicKeyToken=nullMicrosoft.Azure.WebJobs.Script.WebHost, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null: D:\a\1\s\src\WebJobs.Script.WebHost\DependencyInjection\DryIoc\Container.csMicrosoft.Azure.WebJobs.Script.WebHost, V

[2020-03-05 12:04] konrad79 opened #5745 "TimerTrigger too often?"
I've several timer triggered azure functions.
One should run each day 11:30:
`public void CleanupData([TimerTrigger("0 30 11 * * *", RunOnStartup = true)]TimerInfo myTimer, ILogger log)`

Another should run once a day:
`public void DownloadLiveList([TimerTrigger("0 0 0 * * *", RunOnStartup = true)]TimerInfo myTimer, ILogger log)`

But both are running at about every 5-8 minutes.
Are my TimerTrigge

[2020-03-05 12:20] PatruPePatru commented on #5963
Could you please provide an update on the reported issue? Thanks in advance.

[2020-03-05 12:25] henrikgering commented on #5401
I have experienced this issue and the downgrade from 3.0.4 to 3.0.3 also resolved it.

[2020-03-05 13:32] ilushka85 commented on #4939
Di working fine in 3.0.3 for us... updating to 3.0.4 breaks it.

[2020-03-05 13:43] brettsam commented on #5747
The big difference between 3.0.3 and 3.04 is that we trim the output now -- @fabiocav, any ideas on this? Are we too aggressive with the trimming?

[2020-03-05 14:28] Coops9 commented on #5747
@brettsam This may help to debug the problem, I was having this exact issue and when comparing extensions.json after the upgrade to 3.0.4 it looked like this (missing any startup references)

[code]

[2020-03-05 14:46] Arash-Sabet opened #5756 "Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=5.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' after upgrading Azure Function's nuget packages to 3.0.4 or 3.0.5"
We have had an Azure Function V3 that has a reference to another C# project in a VS 2019 solution. There are some extension methods in the other C# project using System.IdentityModel.Tokens.Jwt Version=5.6.0.0 assembly to perform token validation. The Azure Function has been working fine by using those extension methods to validate token. The following code snippet shows the nuget packages:

[code

[2020-03-05 15:09] Ghodot opened #5746 "Make Powershell 7 available on Azure"
#### What problem would the feature you're requesting solve? Please describe.
Powershell 7.0 was released yesterday, on the 5th of March. As of today, it's only possible to use Powershell Core 6.0 when creating an Azure function resource on Azure.

#### Describe the solution you'd like
It should be possible to choose between version 6 and 7 of Powershell when creating an Azure Function resource.

[2020-03-05 15:21] PatruPePatru commented on #5963
I've succeed and solved the issue by changing the target framework for the project to .NET 2.2
Right click your project > Properties > Target Framework: > .NET Core 2.2 > Save

[2020-03-05 15:51] Alberto2686 commented on #5401
Downgrading to 3.0.3 fixed our functions as well. Too bad I found this thread after solving and not 6 hours ago...

[2020-03-05 15:52] brettsam commented on #5747
Yeah, extension metadata generation is completely broken in 3.0.4 -- I think we should hide it from nuget. Because Microsoft.Azure.WebJobs.Host isn't in the output folder anymore, all extensions fail to load and we fail to find them. This includes all bindings.

I see this in the build logs:

    Unable to find fallback for assembly 'Microsoft.Azure.WebJobs.Host'. System.IO.FileNotFoundException:

[2020-03-05 16:02] brettsam commented on #5747
Note that publishing *does work*. If I do `dotnet publish`, the extensions.json looks correct.

I believe the issue is here -- this should look similar to the publish target right below it and happen after extensions are generated. https://github.com/Azure/azure-functions-host/blob/dev/tools/ExtensionsMetadataGenerator/src/ExtensionsMetadataGenerator/Targets/Microsoft.Azure.WebJobs.Script.Extensio

[2020-03-05 16:12] brettsam commented on #5747
@Coops9 / @eliashdezr -- you can see the fix to the targets file I've made here: https://github.com/Azure/azure-functions-host/pull/5748/files#diff-8924132f0d2b330a1888e0f17c5fcdb4

While we wait for approval/build/publish to nuget, you can try this locally if you want to verify it'll fix you -- the local file for you is in `{nuget package location}\packages\microsoft.azure.webjobs.script.extensio

[2020-03-05 17:57] amamounelsayed commented on #5742
@adityachowta Thank you, can you please remove the logging section in the json file and test again?
Remove,
"logging": {
    "fileLoggingMode": "always",
    "logLevel": {
      "default": "Information",
      "Host.Results": "Error",
      "Function": "Trace",
      "Host.Aggregator": "Trace"
    }

[2020-03-05 18:01] thdotnet opened #5749 "Microsoft.NET.Sdk.Functions 3.0.4 breaks Dependency Injection"
Hi Friends,

seems that there's a problem with the dependency injection feature in the latest sdk (3.0.4) .

Steps to reproduce:

[code]

Installed packages:

    <PackageReference Include="Microsoft.Azure.Functions.Extensions" Version="1.0.0" />
    <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.Http" Version="3.0.2" />
    <PackageReference Include="Microsoft.NET.Sdk.Functions" Ve

[2020-03-05 18:04] thdotnet commented on #5749
More people facing the same problem:

https://stackoverflow.com/questions/60509972/durable-azure-function-binding-types-not-registered-when-using-dependency-inject/60511472#60511472

https://stackoverflow.com/questions/60549618/azure-function-with-entityframework-di

[2020-03-05 18:19] brettsam commented on #5749
Closing this as dupe of #5747

[2020-03-05 18:19] #5749 closed, assigned to brettsam

[2020-03-05 18:30] #5747 closed

[2020-03-05 18:51] f2bo opened #5750 "Microsoft.NET.Sdk.Functions (v1.0.33) breaks function apps that have a dependency on Microsoft.Extensions.Logging.Abstractions v2.2.0"
After upgrading from Microsoft.NET.Sdk.Functions v1.0.31 to v1.0.33, all functions in a V1 app fail with the following error:

[code]

#### Investigative information
It seems that the problem is that the version of Microsoft.Extensions.Logging.Abstractions referenced by the application is no longer being loaded.

Before the package upgrade, with v1.0.31, two versions of this DLL were loaded, one f

[2020-03-05 19:02] mhoeger commented on #5750
Thanks so much for all the details @f2bo . Adding @fabiocav (although he is out the next couple of days)

[2020-03-05 19:12] jasonshave commented on #4939
I can also confirm the same. Fought with this for the past day or two and finally found this post. Downgraded to 3.0.3 and it works again!

[2020-03-05 19:52] michalkadlubowski commented on #5741
I think this is same as  #5747 and should be closed

[2020-03-05 20:24] brettsam commented on #5750
Closing as a dupe of https://github.com/Azure/azure-functions-host/issues/5747. Follow that issue for more details.

[2020-03-05 20:25] brettsam commented on #5741
Thanks @michalkadlubowski -- closing as dupe of https://github.com/Azure/azure-functions-host/issues/5747.

[2020-03-05 20:25] #5741 closed, assigned to ankitkumarr

[2020-03-05 20:47] f2bo commented on #5750
@brettsam Hmm.. ok, I'm having a little difficulty seeing the similarity and how extensions.json or dependency injection is involved here, but presumably you recognize the same underlying cause.

[2020-03-05 20:54] mhoeger commented on #5750
@f2bo - per Brett:

We're trimming too aggressively, so that's causing both the DI issue and your issue. I believe a fix is coming soon, but that can be tracked with #5747!

edit: nvm :)

[2020-03-05 20:55] brettsam commented on #5750
Oh geez, sorry, I closed the wrong issue (too many tabs open!).

This is a Functions v1 project? Can you share the `csproj` file?

[2020-03-05 20:58] f2bo commented on #5750
No problem.

Yes, this is V1. Here's the project file for the repro project.

[code]

[2020-03-05 21:13] brettsam commented on #5750
If you add `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` as a property in your csproj does it get you working again?

[2020-03-05 21:27] f2bo commented on #5750
Yes, it does help. At least I don't see any errors when launching the repro project. Though, I'll have to test this in the real project.

Can you explain what this does? It seems to be undocumented. I just want to be clear on whether this setting is permanent or a temporary workaround until something is fixed in a future release.

Thanks!

[2020-03-05 21:45] pragnagopa opened #5752 "[HttpWorker]Improve programming model when using HttpTrigger with other outputs"
cc @craigshoemaker

Example function.json
[code]
When using Httptrigger with other input/output bindings, whole http request object represented by `req` on function invocation is sent as part for `Data`. Accessing http request body looks like
`req.body.Data.req.Body`

Should provide a better way to access http request.

[2020-03-05 21:56] brettsam commented on #5750
It's brand new -- our latest release trims the output of all assemblies that we already ship as part of the host. It seems like you actually want that version to stay there so it's affecting you.

I'm curious why you need Logging.Abstractions 2.2.0? Is it b/c a dependency needs it?

However, there's no real requirement for you to move to 1.0.33, either -- if 1.0.31 works for you, you can stick wit

[2020-03-05 22:31] f2bo commented on #5750
About not moving to 1.0.33, you're correct. But this is an app that hasn't gone into production yet and we usually try to keep up with the latest releases while developing so that we don't fall too far behind and then find out at the last minute that we need to upgrade and there's some major incompatibility.

And yes, we do need Logging.Abstractions 2.2.0 because it's required by a dependency. All

[2020-03-05 22:35] brettsam commented on #5747
I've just pushed new versions of [Microsoft.Net.Sdk.Functions](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/) to nuget. Versions `1.0.34` (for v1 and v2) and `3.0.5` (for v3) should be indexed and available shortly.

Please give those a try and let us know if you run into issues with generated extensions.json (or DI or bindings) with this package.

[2020-03-05 22:51] brettsam commented on #5747
... although now that I look back up at the original issue it was opened 17 days ago, which was before 3.0.4 had been published. Maybe there's another issue hiding behind this one. If so, @eliashdezr would you mind opening a new issue since we've repurposed this one for the build problem in 3.0.4?

[2020-03-05 23:21] mathewc commented on #5745
You have `RunOnStartup = true` configured. You should remove that - that's the issue. That setting will cause the function to run any time a new app instance starts (e.g. scale out) or restarts. See the warning on this in doc [here](RunOnStartup = true).

[2020-03-05 23:25] #5745 closed, assigned to fabiocav

[2020-03-05 23:33] mathewc commented on #5736
@balag0 I think we can close this now?

[2020-03-05 23:33] #5736 closed, assigned to balag0

[2020-03-06 00:05] mathewc commented on #5710
Looking at our logs, there were only 3 invocations of your function during the time period 2020-02-24 16:31 to 2020-02-24 16:37. Furthermore, our front end logs only show we received 3 requests as well. So only 3 invocations ran. Your logs showing 4 invocations must be incorrect.

  |   |   |   |   |  
-- | -- | -- | -- | -- | --
  | PreciseTimeStamp | ActivityId | FunctionName | Summary | Functio

[2020-03-06 00:05] #5710 closed

[2020-03-06 00:06] balag0 commented on #5736
Yes. We can reopen if required.

[2020-03-06 01:45] eliashdezr commented on #5747
@brettsam thanks for the quick responses and effort put on resolve this quickly!

I can confirm that all the issues related with the dependency injection have been resolved, locally and deployed using the version `3.0.5` of the `Microsoft.NET.Sdk.Functions` package.

Thanks again and @jeffhollan too for jumping on this also.

[2020-03-06 02:58] joshua-hayes commented on #4363
I'm still seeing this bug / behaviour in functions v2 when attempting to build custom configuration. The routePrefix that I have set to an empty string in the host json file is being ignored and all routes are being prefixed with /api.

[2020-03-06 03:09] pownkel opened #5754 "No extensions.json generated with recent update"
After the most recent update to Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator (version 1.1.5), we no longer see the extensions.json file being generated. When we try to deploy our function app, we get error messages such as:
`The binding type(s) 'cosmosDBTrigger' are not registered. Please ensure the type is correct and the binding extension is installed.`

#### Investigative informat

[2020-03-06 07:47] thehereward commented on #5710
Thank you for the reply @mathewc. I appreciate the confirmation that there is definitely something odd going on at our end.

[2020-03-06 09:08] adityachowta commented on #5742
Tested it and it gave the same result :

![image](https://user-images.githubusercontent.com/8074739/76068974-2b1a8180-5fb8-11ea-83e5-1ad443dbe8f9.png)

[2020-03-06 09:55] Badabum commented on #4363
@joshua-hayes @fabiocav  I see the same in v3(empty `routePrefix`) results in `/api` prefix.

[2020-03-06 11:15] petrsx commented on #4939
seems like this has been fixed in 3.0.5 released yesterday

[2020-03-06 13:50] RufusJWB commented on #5963
Going back to .NET Core 2.2 is not an option for me, as it breaks my sources :-(

[2020-03-06 14:23] nmaroine commented on #4939
@petr-x no, I'm still having the same problem ...

[2020-03-06 15:19] StefH commented on #5401
@Alberto2686 Can you provide a working example project ?
I still have issues with v3 and netcore3.1, so I switched back to netstandard20 / v2

[2020-03-06 15:34] Alberto2686 commented on #5401
@StefH I can't at the moment but I can suggest 2 checks:

1. Target Core 3.0 not Core 3.1 (and propagate the change to your dependencies of course)

1. In your functions csproj check that AzureFunctionsVersion is set to "v3" (without quotes)

Let me know it this helps, otherwise I can provide you a repo tomorrow

[2020-03-06 15:37] rmbrunet commented on #4939
I'm OK in 3.0.5

[2020-03-06 17:17] TroyWitthoeft commented on #5401
I've made a repo to reproduce @benmiller86 's bug. https://github.com/TroyWitthoeft/AzureFunctionsHostStartupBug

If you clone that down and debug, you'll notice the Startup.cs is not hit.  If we update the csproj file and change the Microsoft.NET.Sdk.Functions version from 3.04 to either 3.0.3 or 3.0.5, then the Startup.cs file is again hit.

Project uses Functions v3, dotnet core 3.1
Local envir

[2020-03-06 18:14] fabiocav commented on #5401
The SDK issue has been resolved in 3.0.5. If you’re running into a problem after moving to 3.0.4, please just upgrade.

[2020-03-06 20:23] Arash-Sabet commented on #5756
We upgraded Microsoft.NET.Sdk.Functions to version 3.0.5 and the issue still persists. Unfortunately it has become a roadblock unless we do not upgrade.

/cc @paulbatum

[2020-03-06 23:09] mattchenderson opened #5755 "Functions host should perform validation of mutual TLS certs"
#### What problem would the feature you're requesting solve? Please describe.
Today, validation of a client cert as part of TLS mutual auth needs to be handled by App Code. This is in part due to the fact that SSL termination happens on the frontends in the hosted service. Details of what a user is expected to do in a web app context can be found here: https://docs.microsoft.com/en-us/azure/app-se

[2020-03-06 23:20] paulbatum commented on #5756
Thanks for the issue report! Go ahead and stay on 3.0.3 while we investigate.

cc @brettsam @fabiocav

[2020-03-07 08:15] StefH commented on #5401
Does this apply for all types of Azure Functions?
Also for running Azure Functions on a Linux App Service plan, because that's my setup.
See also https://github.com/Azure/Azure-Functions/issues/1518

[2020-03-07 09:02] norarrsgd commented on #5756
I'm also getting this issue but with **Microsoft.IdentityModel.Tokens** 5.6.0 nuget package.

[2020-03-07 09:27] sergiosolorzano opened #5759 "Azure Function App : Error when creating for V3 in portal for fresh function app"
I follow the documentation to setup an app function with runtime version V3 but it throws InternalServerError. How can I create an app function to work with V3? These are my steps:

1. I create a fresh app service azure function app (in portal).
2. When the resource is ready and without making any changes or enter any code in portal or deploy any code from VS, I go to Function App Settings and sho

[2020-03-08 09:07] #5759 closed, assigned to alrod

[2020-03-08 09:08] sergiosolorzano commented on #5759
can close this - it either self-resolved or most likely the problem was no network access settings to storage account. Further solution comments added to stackoverflow conversation: https://stackoverflow.com/questions/60575781/azure-function-app-error-when-loading-v3-in-portal-for-fresh-function-app

[2020-03-08 13:01] soninaren opened #5760 "Do not load extension bundle for precompiled function app starting with v2"
Extension bundle is not designed for pre-compiled function app. Applying bundle configuration for function app with pre-compiled functions app is  causing lot of issues. We should not load extension bundles for a function app if

- Function app contains pre-compiled functions and bundle is default bundle with version > 2
- Function app contains pre-compiled functions and bundle is not default bund

[2020-03-09 07:51] IanKemp commented on #5401
This is absolutely pathetic from Microsoft.

How is it possible that one of the world's largest software companies managed to push an update that is completely, fundamentally broken in the simplest way possible? Do you not have **any** tests of any sort for this software?

And why, for the love of all that is holy, have you not pulled the broken and useless 3.0.4 from NuGet? With a corresponding b

[2020-03-09 07:53] johannesoenema commented on #5250
My issue was resolved with help of @brettsam. TL;DR: now it is not needed (and advised) anymore to register your own telemetry client at startup as it will override the telemetry client of the azure function. If you want to add your own telemetry initializer at startup you are now able to do it like this:
[code]
I hope this will help some other people that have a similar issue. Read more about it

[2020-03-09 09:03] IanKemp opened #5762 "Why does the Startup class have to inherit directly from FunctionsStartup and not a subclass of the latter?"
I want to make a class that extends `FunctionsStartup` to encapsulate some bootstrapping that's required by all of my employer's Azure functions, and then simply make all our funcs inherit that class, but my testing has shown that using `[FunctionsStartupAttribute]` on any class that does not inherit **directly** from `FunctionsStartup` results in that class being ignored.

In other words, this wo

[2020-03-09 12:48] lommez commented on #5715
@kashimiz I can't use ExecutionContext because i don't have the source to modify the code.
 This behavior of Azure Function isn't Azure Functions design failure? because it's was expected Assembly.Location() to have the same behavior in any type of project.

[2020-03-09 13:37] TroyWitthoeft commented on #5401
@IanKemp I hear you.  We burned some time on this bug too.  It hurt.  OTOH, this is a open source project.  It's free.  They accepts PRs.  If you've got the talent, help them out and add some test coverage for this?  We'd all benefit.

[2020-03-09 14:26] IanKemp commented on #5401
That would require me to gift some of my own time to Microsoft. Considering that time is money, and that I've already paid for Azure, what you're effectively suggesting is that I pay Microsoft to write the tests that they, as a multibillion-dollar company, already should have in place as basic due diligence. Or to put it another way, Microsoft gets for free something they would normally have paid

[2020-03-09 15:34] pragnagopa commented on #5650
MaxMessageLength is configured here: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.Grpc/Server/GrpcServer.cs#L19 for gRpc server. This effects all out-of-proc languages.

We should remove the size limitation.

Note: This would require all the language workers being updated to set max value for the channel message size.

[2020-03-09 17:02] hallidev commented on #5401
@IanKemp This particular piece of functionality seems to break with every other release. I'm still using the workaround noted just below my original post because when I tried to take it out, I still couldn't manage to get my Startup method called.

I share your frustration, because like you I'm paying a hefty Azure bill every month. I don't put Azure Functions in the same OSS league as I do someth

[2020-03-09 17:17] AnatoliB commented on #5650
@pragnagopa Why don't we just make the host pass int.MaxValue to workers instead? This will require no changes to the workers (unless they don't actually use this value - this would be a bug that needs to be fixed in any case).

[2020-03-09 17:19] pragnagopa commented on #5650
This mostly being cautious on int.MaxValue might differ per runtime and architecture.  Removing limit on the worker would be safest.

[2020-03-09 17:29] AnatoliB commented on #5650
I see, makes sense. However, updating all the workers may take some time. Do you think we could just increase the limit on the host to a large but safe enough number first? Something like 1 GB? (Actually, even int.MaxValue is only `2^31 - 1`, which should be safe enough for all mainstream platforms/languages).

Eventually, we should just stop passing this value as a parameter, I agree with this lo

[2020-03-09 17:32] pragnagopa commented on #5650
I have created tracking items on all the workers that ship with the host. As this is a very small change, next release of the workers can include this change. Once the workers are updated, I will update the host.

[2020-03-09 17:42] pragnagopa opened #5763 "[HttpWorker]Investigate 500s in daily perf runs"
Few requests for HttpWorker test:
https://functionsperfst.blob.core.windows.net/dashboard/2020-03-09%2014_22_58/index.html

are failing with 500s. Need to investigate.

[2020-03-09 22:15] TimPosey2 commented on #5689
Found the issue for me thanks to Azure Support. Make sure your connection string for Service Bus has the **MANAGE** access turned on for it.

![image](https://user-images.githubusercontent.com/5069152/76262141-8e5f1a80-6229-11ea-87ab-6d8ac3f5a177.png)

[2020-03-09 23:56] mhoeger opened #5774 "StopApplication delayed until DelayUntilFunctionDispatcherInitializedOrShutdown times out"
Application shutdown from [RpcFunctionInvocationDispatcher here](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFunctionInvocationDispatcher.cs#L367) does not cause the host to shut down. ~4 minutes later, we see a shutdown from [worker function invoker here](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Des

[2020-03-10 11:42] IanKemp opened #5782 "Best practice for logging in the Startup class in Azure Functions v3?"
[ASP.NET Core 3 supports logging via DI in its `Configure` method](https://docs.microsoft.com/en-gb/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#create-logs-in-the-startup-class). Does Azure Functions allow the same?

Obviously, you cannot inject an `ILogger` into the override of `FunctionsStartup.Configure` because it does not have such a parameter.

The following also doesn't work:

[co

[2020-03-10 11:53] WiredUK commented on #5762
I cannot reproduce this error, are you absolutely sure this is what is happening?

[2020-03-10 12:11] AmyJeanes commented on #5447
For those implicitly using the DataProtectionHostedService i.e. by using AddIdentity or similar you can remove it by using this line after

[code]

This works around the issue for my use case, but this definitely needs a proper solution as this is an undocumented breaking change between V2 and V3, nothing about it on the [migration guide](https://docs.microsoft.com/en-us/azure/azure-functions/func

[2020-03-10 12:25] IanKemp commented on #5762
What version are you using?

[2020-03-10 12:48] brettsam commented on #5754
I believe I broke this recently with another fix to VS projects. I will investigate soon -- but as you mention, the best workaround for now is to stick with 1.1.4

[2020-03-10 13:34] WiredUK commented on #5762
I tried with both v1.0.29 and v3.0.5 of `Microsoft.NET.Sdk.Functions`.

[2020-03-10 21:40] JayJamieson opened #5783 "Queue triggered function stalled midway execution without failure indication"
I have a function app that is triggered by a queque message to perform a nightly sync of data from third party systems into a ticketing system. Part of the processing logic includes a check-in where i save the start time and `isRunning` boolean flag to postgresql database. Upon successful or failure of the job i update the database with failure or completion result as well as reset the `isRunning`

[2020-03-10 22:26] anthonychu commented on #5596
This sounds super interesting. Do you have a more detailed design or spec? @fabiocav @ankitkumarr

[2020-03-10 23:20] alrod commented on #5740
Blocked - the feature are going to be provided with the upcoming .NET 5

[2020-03-10 23:32] alrod commented on #5689
@tomgallard,
1. it looks like the app "v4api-pwt-multi-image-support-jobconsumer" is deleted.
2. Custom `INameResolver` could cause the issue for consumption plan function app as scale controller (https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#runtime-scaling) is not aware about custom `INameResolver`. Only the actual function app has the custom `INameResolver` code.

Worka

[2020-03-10 23:47] alrod commented on #5649
Fixed with https://github.com/Azure/azure-functions-host/pull/5551

[2020-03-10 23:47] #5649 closed

[2020-03-10 23:48] alrod commented on #5590
cc: @fabiocav

[2020-03-10 23:59] mhoeger opened #5785 "ScriptHost stopped after WebHostRpcWorkerChannelManager stopped"
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/WebHostServiceCollectionExtensions.cs#L130

This can lead to a "Did not find initialized language worker" failure of a function execution for languages with webhost level workers.

Order of events:
- Execution begins for function X
- StopApplication() from somewhere
- Web host level channels stopped [here](https://gi

[2020-03-11 00:02] alrod commented on #5661
cc: @mhoeger, is the issue related? can you please comment if yes?
https://github.com/Azure/azure-functions-host/issues/2737

[2020-03-11 00:04] mhoeger commented on #5785
Actually @brettsam - I'll keep you on this issue if that's alright! This is what I've seen happen and believe to be the cause. Does that make sense to you too? Basically web host level worker channels are being shut down before jobhost knows it's shutting down

[2020-03-11 00:08] mhoeger commented on #5661
@kepikoi - the workaround is a bit old, are you able to do this?

[code]

[2020-03-11 00:51] brettsam commented on #5754
Give 1.1.6 a try. Should now be fixed.

[2020-03-11 00:51] #5754 closed, assigned to brettsam

[2020-03-11 07:19] kepikoi commented on #5661
@mhoeger thank you, I am aware of this solution. Unfortunately this approach has its own limitations, which is it doesn't work via the `$return` notation in due to https://github.com/Azure/azure-functions-nodejs-worker/issues/228 as noted in https://github.com/Azure/azure-functions-nodejs-worker/issues/284#issuecomment-589757521

[2020-03-11 08:09] jcoolsen commented on #5548
I'm having this issue as well. Are there any work-arounds that you can share? I have tried everything that I can think of, short of redesigning the application.
The attributes `DisableRequestSizeLimit` and `RequestSizeLimit` do not make any difference, nor does assigning to `req.HttpContext.Features.Get<Microsoft.AspNetCore.Http.Features.IHttpMaxRequestBodySizeFeature>().MaxRequestBodySize`. Any p

[2020-03-11 14:41] cboudereau opened #5786 "Function.json generation failed (MetaGeneration)"
#### Check for a solution in the Azure portal
After updating the Microsoft.NET.Sdk.Functions to 3.0.5 cleaning then building the project, an error occurs. I think the issue is connected to #4390 :

#### Investigative information

Function App version : V3, dotnet core 3.1

#### Repro steps

1. Create a new function
2. Use Custom routes with custom attributes
3. build the project

#### Expected beh

[2020-03-11 16:41] pragnagopa opened #5787 "[Build] Include hashes for each file that are part of the build"
cc @fabiocav

Need to create hardlinks using prebuilt hashes file.

[2020-03-11 16:43] pragnagopa commented on #5728
cc @anirudhgarg fyi

[2020-03-11 16:47] lvnre commented on #4939
Encountering the same DI error. Upgrading from 3.0.1 to 3.0.5 did not resolve the error. **Removing extensionBundles from bin/Debug/netcoreapp3.1/host.json did resolve the error**

[2020-03-11 17:22] kratkaericd commented on #5310
+1 vote if that matters. I made the same mistake.

[2020-03-11 17:43] petrsx commented on #4939
@Invre Actually it is combination of both. **Upgrade to 3.0.5 and remove the ExtensionBundles**. Tested with 3.0.4 without bundles it didn’t worked.

[2020-03-11 18:53] pragnagopa commented on #5670
Please see https://github.com/pragnagopa/azure-functions-integration-tests for initial spec and tracking issues.

[2020-03-11 19:59] mhoeger commented on #5650
@pragnagopa - I think I'm a bit confused. We can't remove max message length limits on the clients, because the default max is too low (~4MB for node) as we found [here](https://github.com/Azure/azure-functions-nodejs-worker/issues/60) and [here](https://github.com/Azure/azure-functions-host/issues/2677). As far as I know, this low default is [still in place](https://github.com/grpc/grpc/issues/79

[2020-03-11 20:10] pragnagopa commented on #5650
This work item is about removing the size limit  and setting channel max receive and send size to the maximum allowed by the runtime, when host communicates over gRpc. Max size limit is security feature. As functions host only communicates over local host to gRpc client, we do not have to set this. Similar to C#  functions, there is no limit on blob size that can be read by C# function. It is up t

[2020-03-11 20:29] mhoeger commented on #5650
@pragnagopa - Got it! Sorry I was missing that we're just trying to get the largest possible values with the assumption that grpc.max_send_message_length is set with an "int" type (instead of another numeric type). This is what happens when you work in a non-typed language I guess :)

[2020-03-11 20:43] brettsam commented on #5785
Yes that that seems right. Here's where those things are registered -- https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/WebHostServiceCollectionExtensions.cs#L129-L136.

I seem to recall that @fabiocav, @yojagad, @pragnagopa and I talked about this HostedService shutdown ordering a while back and how it was subtly different for WebHost vs ScriptHost (due to .NET Co

[2020-03-11 20:45] pragnagopa commented on #5785
@yojagad should have most context here. JobHost should always be stopped before  webhost scope level: RpcInitializationService is shutdown. WebHost level worker channels should shutdown after jobhost gracefully shuts down.

[2020-03-11 20:52] yojagad commented on #5785
Maybe moving WebHostLanguageWorkerChannel shutdown to OuterStopAsync() may achieve the behavior we want here..

[2020-03-11 21:45] fabiocav commented on #5447
Just an update on this. We'll be removing this restriction for data protection. @brettsam can share more information if needed, but this restriction will be lifted in the release for the current sprint (set to begin at the end of next week)

[2020-03-11 22:01] amamounelsayed commented on #5650
@pragnagopa  Thank you so much for the update.
I have two questions, Please advice!
Why does send size is not recommended? as the host is the grpc server, so regardless of the language we should be aligned with the server message handle size, so whatever number you set we should obey, and I believe whatever number is picked should be supported by all run time by default.
Second question, as we are

[2020-03-11 22:05] pragnagopa commented on #5650
As I mentioned earlier, MaxValue for .Net might be different from MaxValue for Java. This issue is about removing the limit.

No. At at least nothing in the gRpc docs. You would see perf impact when the message size is large enough and is closer to max size set on the channel. This change will unblock customer scenarios who want their functions to read large function invocation payload without imp

[2020-03-11 22:23] amamounelsayed commented on #5650
I agree about this part, but why does it matter? Whatever grpc max value set any language will set it. Meaning if MaxValue in .Net is x, Java will follow the x as x < the max java grpc message size(which I did not find any documentation for this value) Also specially we are setting to int.MaxValue which I believe it does not matter to be int.MaxValue or any other value from the worker side. Please

[2020-03-11 22:27] pragnagopa commented on #5650
Client and server configurations can be managed independently. .Net host can set to max value, and Java worker can choose to use that value or remove the limit and set to max value allowed by Java. During function invocation, if any of these limits are hit, function invocation will fail either because out of memory exceptions or gRpc channel hits limits.

[2020-03-11 22:43] soninaren opened #5789 "Race condition in loading host configuration during specialization"
Just to note this does not happen often.
1. In placeholder mode the function app load the host.json configuration with bundles configured.
2. After specialization is completed due the race condition the function app loads the host.json from the standby app used for placeholders. We can verify that host.json from standy app was loaded from this log line
`Reading host configuration file 'D:\local\Te

[2020-03-11 22:48] mhoeger commented on #5650
@pragnagopa - how do max message lengths interact when set on both client and server? We have maxReceiveMessageLength and maxSendMessageLength set on the gRPC server in host [here](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.Grpc/Server/GrpcServer.cs#L19) to ~134 MB. If Java worker, for example, sets its max message send and receive length to 1 GB, will the max then b

[2020-03-11 22:51] amamounelsayed commented on #5650
I agree, it worth to be safe. I will do the same for Java :)

[2020-03-12 00:12] pragnagopa commented on #5789
cc @brettsam
This issue happens when:
- Jobhost starts in placeholder mode
- Request to specialization comes before job host start completes
- Bundles are loaded
- Jobhost startup operation gets cancelled
Capturing full stack trace:
[code]

[2020-03-12 01:23] pragnagopa commented on #5650
Documentation is limited around this. Found https://nanxiao.me/en/message-length-setting-in-grpc/, setting MaxReceiveLength to -1 removes the limit on  the client. This simply means that Client can accept any message size sent by the server.

We have automated perf tests kicked off on the nightly dev build. The sooner you have your changes in , the longer we have to react to any regressions (if at

[2020-03-12 01:26] amamounelsayed commented on #5650
Yeap I checked this article today, unfortuantly grpc-java needs the value > 0. I believe this only valid to c.
I am planning to get my changes this week.

@pragnagopa are we going to stop sending the value or we will continue sending the value?

[2020-03-12 03:10] mhoeger commented on #5650
Sounds good - we should first verify that changing this value on just the client side will get us the message size we're looking for I think because that will impact whether or not each worker should be setting the value themselves.

[2020-03-12 14:53] cboudereau commented on #5786
If it can help, I analyzed the reason and after debugging with Mono.Cecil, the bin project directory contains the missed assembly in version 1.1.5 but not in 1.1.6.

After patching the Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets by reverting the AfterTargets attribute from Build to _GenerateFunctionsPostBuild (Line 42, Target named _GenerateFunctionsExtensionsMetadataPostBui

[2020-03-12 15:22] brettsam commented on #5786
Can you share your project file? This is a known issue with 1.1.6 if you're directly referencing ExtensionsMetadataGenerator. but that should be very rare (there's no need to directly reference; the Sdk references it for you).

[2020-03-12 15:40] cboudereau commented on #5786
Hi @brettsam, first of all, thank you for your quick reply, I appreciate it.

I am not using directly this reference, I only reference the main package Microsoft.NET.Sdk.Functions.

The problem appears when you update the package, all inter dependencies are updated and the version 1.1.6 of the package Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator is used.

When you say it is a well kn

[2020-03-12 15:45] brettsam commented on #5786
I'm not seeing this when I use 3.0.5 -- would you still mind sharing your csproj file so I can try to repro this?

It's a known issue in the sense that I called it out during my commit to 1.1.6 -- we were having bigger issues so I thought that this was an okay risk for now (not assuming anyone using the Sdk would hit 1.1.6 unless they added a direct ref).

So let's use this issue as the tracking i

[2020-03-12 15:51] pragnagopa commented on #5650
Just to clarify, updating on the client will only remove the size limit on the client size. Host changes are needed to actually increase the Send/Receive size to support sending larger function invocation payload and receive larger function invocation response.

[2020-03-12 17:04] cboudereau commented on #5786
Here is the repo where you can reproduce the problem : https://github.com/cboudereau/azurefunctionsample

I added the workaround in comments to quickly analyse the main differences between both versions

[2020-03-12 20:17] NiekGr commented on #4808
Are there any updates available?
I have the same problem with a TimerTrigger in a WebJob.

[2020-03-12 22:45] #5786 closed, assigned to brettsam

[2020-03-13 09:32] yid0 opened #5792 "Exception: Worker was unable to load function XXX : 'TypeError [ERR_INVALID_ARG_VALUE]: The argument 'id' must be a non-empty st"
I have same issue, with Nest js project + azure function

**Azure Functions Core Tools (3.0.2245 Commit hash: 1d094e2f3ef79b9a478a1621ea7ec3f93ac1910d)
Function Runtime Version: 3.0.13139.0**

Trace:

[13/03/2020 09:23:32] Mapped function route 'api/{*segments}' [all] to 'main'
[13/03/2020 09:23:32] Worker failed to function id 38e52893-1203-48c4-aeaa-9321fa219fe4.
[13/03/2020 09:23:32]
[13/03/202

[2020-03-13 12:52] ghost commented on #5762
Do you get an errors / warnings at build time?

[2020-03-13 14:11] evilpilaf commented on #2955
I guess this is abandoned? Is there any information on this issue?

Like @paulbatum mentions in his original post, it's not possible to test non-http functions which are taking additional binding information via the admin endpoint. having to create a ServiceBus and an enqueuer to be able to test a consumer of queue messages is too much

[2020-03-13 23:11] ankitkumarr opened #5793 "Change Linux App Service date time format for logs"
We need to change the format from something like "03/13/2020 11:00:00.014 PM" to "2020-03-13 23:00:00.014".

This is required for Log Analytics support.

cc: @fabiocav

[2020-03-14 03:22] ghost opened #5795 "Could not load file or assembly Microsoft.AspNetCore.Mvc.WebApiCompatShim"
I am currently experiencing an issue with the Azure Functions SDK versions 3.0.4 and 3.0.5, where the following binary is not being loaded:

'Microsoft.AspNetCore.Mvc.WebApiCompatShim, Version=2.2.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'

#### Investigative information

Please provide the following:

- Timestamp: 2020-03-14T03:04:02.317
- Function App version: v3.0.4, v3.0.5 (Azure D

[2020-03-14 09:32] amamounelsayed commented on #5650
@pragnagopa @mhoeger I tested the throughput java worker with 4MB, 128MB, and the MaxValue MB, there is no impact so far. Thank you!

[2020-03-15 16:03] StefH commented on #5747
Note that I still get an error when running a V3 function on a Linux App Service.
When deploying the same code (3.0.3 or 3.0.5) on Windows App Service, it works fine.

Anyone else noticed this same behaviour also?

[2020-03-15 16:05] StefH commented on #5401
I still get an error when running a V3 function on a Linux App Service.
When deploying the same code (3.0.3 or 3.0.5) on Windows App Service, it works fine.

Anyone else noticed this same behaviour also?

See also https://github.com/Azure/Azure-Functions/issues/1518

[2020-03-16 08:33] kutsyk-neocles commented on #1451
Is there any update?

[2020-03-16 09:59] TehWardy opened #5796 "Azure Functions Host appears to be looking for dll's that don't exist"
I initially hit this https://github.com/dotnet/core/issues/4390 which in turn led me to https://github.com/dotnet/roslyn/issues/42445 because i noticed this only happened in my functions project and not the rest of my stack.

The roslyn guys have suggested "quote" ...

... so here I am.
Any help with this would be really appreciated as I have an urgent need to get a deployment through for an impor

[2020-03-16 11:11] vinayakmoh commented on #3795
This solved issue for me. I had upgraded to VS 2019 and Emulator 5.1

[2020-03-16 11:32] dancundy commented on #5447
@fabiocav When does the sprint end? I.E, when would this fix be release? Just wondering if I should hold out and wait and work on other things in the mean time.

[2020-03-16 12:03] HQJaTu commented on #3795
Yes, that will solve the problem for local dev. Deleting the Blobs in question will solve it when the same thing happens in Azure.

[2020-03-16 13:41] TehWardy commented on #5796
Ok i've managed to pin it down to a way smaller sample of code.
I don't know if the issue is something that belongs here or in https://github.com/dotnet/roslyn/issues/42445 but here's how to reproduce it ...

Install the .Net Core SDK v3.1 from the current download location on top of VS 2019.
Create a new Azure functions project targeting Core 3.0 and add a reference to the package Microsoft.CodeA

[2020-03-16 14:29] thiagolunardi opened #5797 "Error when calling Invoke-AzStorageSyncChangedDetection"
I have a Timer Triggerd powershell function which just do a single command call

[code]

The function has a User Assigned as Identity set. The only error we have is the following output:

[code]

- Timestamp: 2020-03-16 14:17:19.323
- Function App version: ~3
- Function App name: sync-order-gh-app
- Function name(s) (as appropriate): "AzStorageSyncChangeDetection"
- Invocation ID:  Id=a26cd7eb-705

[2020-03-16 14:31] DK-Dennis commented on #5722
Same issue here, I cannot use listkeys, and I get the same error message, which really does not say anything meaning- or helpful.

My template is deploying an EventGrid Topic and some EventTopic Subscribers, I only reference the Function App to get the key, in order to use it for the Subscribers. The Function App, however is Run From package, since C# code is deployed to it in an earlier stage.

[2020-03-16 14:52] vkurmi opened #5798 "maxPollingInterval value is not read from queue setting in host.json"
I have an Azure function which is triggered by storage queue. I updated host.json file to add settings for queue trigger as per [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-output?tabs=csharp#host-json)

The issue I am facing is that `maxPollingInterval` setting is not taking effect, whereas other settings are read from host.json & work fi

[2020-03-16 16:01] brettsam commented on #5747
@StefH --
- Can you share your project file?
- Can you verify that the published output is the same between windows and linux?
- What error are you getting, specifically?

[2020-03-16 16:05] StefH commented on #5747
@brettsam
- The example project can be found here: https://github.com/StefH/AzureFunctionsV3
- The published output should be the same because I build once and then release the same zip to Windows and to Linux.
- Errors can be found here : https://github.com/Azure/Azure-Functions/issues/1518

[2020-03-16 16:10] brettsam commented on #5747
Let's follow up on the linked issue where there's more context. Thanks!

[2020-03-16 16:27] TehWardy commented on #5796
Yeh ok it definitely appears to be a functions framework host issue, here's the same code in a console app that works ...

[code]

[2020-03-16 17:11] clawrenceks commented on #2597
This is a major issue. I have the same issue as @HansOlavS in that some of my function apps log almost no performance counter data, whilst others log almost only performance counter data (in large volumes).

[2020-03-16 17:22] igilham commented on #162
My team has had a lot of problems getting `console.log` to work correctly on Linux Consumption Plan apps in either the V1 or V3 runtime. Either the documentation or the service implementing this is incorrect (see [discussion with the docs team](MicrosoftDocs/azure-docs#49950).

We also have a support case open because we're getting logs appearing against the wrong functions in the Azure Portal, ma

[2020-03-16 17:43] DenisBalan commented on #3370
Still not fixed in v3

[2020-03-16 18:41] kulkarnisonia16 commented on #5400
@mattchenderson - were you following up on this one with the data lake team?

[2020-03-16 18:46] kulkarnisonia16 commented on #4915
Similar to https://github.com/Azure/azure-functions-host/issues/5125. Will close this.

[2020-03-16 18:46] #4915 closed

[2020-03-16 18:48] FinVamp1 commented on #3462
@brettsam has added Functionality for this. @alrod and @mathewc  can we close this one?

[2020-03-16 18:55] kulkarnisonia16 commented on #3091
@alexkarcher-msft - any updates here that you can share?

[2020-03-16 18:57] kulkarnisonia16 commented on #3089
@jeffhollan - anything you'd like to add here?

[2020-03-16 19:10] mathewc commented on #3462
Yes, thanks Finbar.

[2020-03-16 19:10] #3462 closed

[2020-03-16 19:32] dasbdavis commented on #5663
Sorry for the delay-- I didn't see that you'd responded.  I'll try this as soon as I can and let you know.

[2020-03-16 20:40] fabiocav commented on #5401
@StefH if you're still seeing this issue with the latest version of the SDK, can you please open a separate issue with the details requested on the template so we can take a closer look?

Closing this as the issue has been resolved in 3.0.5.

Also tracking the work to create additional validation steps in the coming spring: https://github.com/Azure/azure-functions-vs-build-sdk/issues/404

[2020-03-16 20:40] #5401 closed

[2020-03-16 20:48] fabiocav commented on #5756
@Arash-Sabet @kuromukira we'll take a closer look at this. In the meantime, you can also add the following property to your project (which will allow you to upgrade):
[code]

[2020-03-16 22:00] ghost commented on #5795
Closing this issue as it has been accepted on another thread: https://github.com/Azure/azure-functions-durable-extension/issues/1251

[2020-03-16 22:01] #5795 closed, assigned to yojagad

[2020-03-16 22:01] ejizba opened #5799 "Add schema for local.settings.json"
Originally filed by @burkeholland in https://github.com/microsoft/vscode-azurefunctions/issues/1811 who wanted to make it easier to add CORS settings. We have a schema (which gives us autocomplete in VS Code) for other files like proxies.json/function.json/host.json and would be great to have the same for local.settings.json

cc @jeffhollan

[2020-03-16 23:59] madelinegordon commented on #5614
Hello, in order to investigate it would be useful to know - what is the size of the payload when this error is occurring?

[2020-03-17 00:31] madelinegordon commented on #5614
Additionally, would you be able to provide the full exception? Thank you.

[2020-03-17 00:34] v-alwout commented on #5614
Here is the full exception:
Message | Exception while executing function: FileManager Exception binding parameter 'req' Request body too large.
Exception type | Microsoft.AspNetCore.Server.IIS.BadHttpRequestException
Failed method | Microsoft.AspNetCore.Server.IIS.BadHttpRequestException.Throw
Sample rate | 1
SDK version | azurefunctions: 3.0.13107
Problem Id | Microsoft.AspNetCore.Server.IIS.BadH

[2020-03-17 00:46] mhoeger commented on #5650
Thanks @amamounelsayed !!

After talking to @pragnagopa , if the grpc server on the functions-host side has a smaller max send/receive, this will be the bottleneck. This change is to make sure that clients are not sent a max message size that will be too large for them to safely handle. For JavaScript, a [number](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Numb

[2020-03-17 01:30] gzuber commented on #5792
@Yani06 Thanks for submitting this -- do you have a repro of this or a code sample that we could use to diagnose? Or is this happening when using one of our templates? Thanks!

[2020-03-17 01:37] gzuber commented on #5347
Closing this.

This ended up not being an issue after @soninaren was able to repro the original bug. Turns out the issue only occurs when the runtime probes bin folders for individual functions (not the bin folder at the app level where extension dlls are). Non-dotnet languages don't have these bin folders.

Relevant code here: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Scr

[2020-03-17 01:37] #5347 closed

[2020-03-17 01:56] gzuber commented on #5623
@ggailey777 I've created a PR for this change if you could take a look. Thanks! https://github.com/MicrosoftDocs/azure-docs/pull/50298

[2020-03-17 10:20] CaioCavalcanti commented on #4098
Just had the same problem here, swap operation failed at some point (I found the error below on the activity logs) and the identity of the staging slot was lost. Did you manage to fix this problem?

[code]

[2020-03-17 10:39] lasti15 commented on #2477
Any updates on this? I have the same problem happening intermittently on a C# blob-trigger function. It /seems/ to be more likely to happen when there is high traffic, but I don't have statistics.

[2020-03-17 11:09] chr-knafl opened #5800 "Validation error for hierarchical configuration data in WestEurope"
## Description
We are having a use case where hierarchical application settings seems to be a well-suited solution.
Instead of having a App Configuration resource it is enough for us to store the settings as a function app setting.

When we have a function app deployed in westeurope, we get a validation error in the portal if we want to add a hierarchical application setting with the name "Configu

[2020-03-17 11:22] loomchild commented on #1207
Side note, maybe will be useful for someone: for timer-based functions, singleton is enforced by default: https://stackoverflow.com/a/53919048/4619705

In my particular case it's sufficient, since I can launch a function every minute to consume specific amount of events depending on desired throughput. Even if the function takes longer than 1 minutes, another one won't be executed.

[2020-03-17 11:47] craigshoemaker commented on #5696
We need to make sure to update [the doc](https://docs.microsoft.com/azure/azure-functions/functions-custom-handlers) once this bug is fixed.

[2020-03-17 13:32] older commented on #5722
I have exactly the same issue but I use neither App Service Premium Plan nor WEBSITE_RUN_FROM_PACKAGE. In my case it is [key vault references](https://docs.microsoft.com/azure/app-service/app-service-key-vault-references) which seem to trigger this error. I updated template to use key vault references and get this error. If I deploy previous version of the template - it works fine. If I delete app

[2020-03-17 17:23] #5384 closed

[2020-03-17 17:47] andresrsanchez commented on #5447
With this i got it working on my computer (emulator), but not in Azure :(
The message is "The function runtime is unable to start", and that's it. Anyone knows?
Thanks!!

[2020-03-17 17:52] AmyJeanes commented on #5447
@andresrsanchez same, but the function seems to be running anyway - see if that's the case for you too!

[2020-03-17 17:59] andresrsanchez commented on #5447
![image](https://user-images.githubusercontent.com/34173061/76886426-16c06980-6881-11ea-8ea0-2623130050d5.png)
This is my case, no functions in here!!
I'm going to revert a few things :(

[2020-03-17 18:08] andresrsanchez commented on #5447
@MattJeanes ok i see now, it isnt executing in my case :(

[2020-03-17 20:08] brettsam commented on #2597
You can turn perf counters off completely via `"enablePerformanceCountersCollection": false`: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsights.

[code]

As for why some apps log a lot and others don't -- we'd need some more details. Are those apps using more instances?

[2020-03-17 20:13] #5650 closed

[2020-03-17 20:40] mhoeger commented on #5233
Re-opening, we should not treat "Did not find initialized language workers" as a invocation exception. There are likely other gaps to patch, but this will at least ensure that the invocation will be correctly retried (for non-http triggers)

[2020-03-17 20:46] dancundy commented on #5447
Can you post the full error? I have something similar, see below.

![image](https://user-images.githubusercontent.com/54842842/76899966-69ede880-6890-11ea-90ad-b2263a26fc62.png)

[2020-03-17 21:01] andresrsanchez commented on #5447
@dancundy sadly that's the full error :(
u can try downgrading microsoft.extensions packages from 3.1 to 3.0 versions like this: https://github.com/Azure/azure-functions-dotnet-extensions/issues/32#issuecomment-562511881

[2020-03-17 23:15] alexkarcher-msft commented on #3091
There are automated emails that alert customers to plans that are low on CPU / memory and need to be scaled. Those notifications were broken when this issue was opened, but have since been fixed.

If we see recent support tickets related to this it's worth double checking our "azure advisor" notifications.

[2020-03-17 23:15] #3091 closed

[2020-03-18 01:26] yojagad commented on #5505
@fisapras I'll go ahead and close this thread since there hasn't been activity. If you have any other questions, please feel free to reopen this or open new thread.

[2020-03-18 01:26] #5505 closed

[2020-03-18 02:47] balag0 opened #5804 "[Rpc]Ensure Invocation buffers are setup before routing invocations to rpc channel"
Looks like we are seeing increased count of this exception

https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFunctionInvocationDispatcher.cs#L248

[2020-03-18 04:22] clawrenceks commented on #2597
I found the enablePerformanceCountersCollection setting yesterday and in the particular scenario I was experiencing, this did not actually prevent the peformance counters from being logged.

I did some more investigation and I worked out what the issue was in my case. We use deployment slots and after the initial slot swap the settings in the non production slot were no longer correct (as they swa

[2020-03-18 09:07] DK-Dennis commented on #5722
Possible solution: I've changed the json template's schema to:
"$schema": "https://schema.management.azure.com/schemas/2019-08-01/deploymentTemplate.json" (same as the one in the listkeys() function)
This is also the newest, supported schema, as far as I reckon

Now, even many, subsequent deployments seem to work consistantly. I'll be back if that changes...

[2020-03-18 11:44] mjisaak commented on #5722
Thanks for your answer @DK-Dennis ! I will give it a try.

[2020-03-18 11:49] DK-Dennis commented on #5722
De nada, Martin, I'm excited to hear about your results. If this fix works, please give my answer a vote on stackoverflow, will ya?

[2020-03-18 12:07] mjisaak commented on #5722
sure, give you a vote anywhere and will accept your answer if it works. cheers

[2020-03-18 18:31] pragnagopa commented on #4027
@yojagad - this is related to issue #5391 . Please take a quick look if this message can be useful to send to worker process to indicate invocation is timeout.

[2020-03-18 19:10] mjisaak commented on #5722
@DK-Dennis: Unfortunately I still get the error after a second deployment :-(. Thanks anyway

[2020-03-18 19:31] proton888 commented on #3370
having errors with this in V_3.05 still

[2020-03-18 19:32] ankitkumarr commented on #5797
@AnatoliB, From the stack trace, does this seem that Powershell worker did not set RequestID or something like that, when making the RPC call?

I could be completely off. :)
Do you know what this stack trace means?

[2020-03-18 19:38] soninaren commented on #5605
This now complete

[2020-03-18 19:38] #5605 closed

[2020-03-18 19:52] anirudhgarg commented on #5391
@fabiocav/@pragnagopa I see that this is a P2. I wanted to request if we can move this up priority and handle this in the upcoming sprint. This can help a lot when they are multiple workers/host.

[2020-03-18 19:54] pragnagopa commented on #5391
Yes we are tracking this for upcoming sprint. @yojagad has PR out for this.

[2020-03-18 19:57] #5760 closed, assigned to soninaren

[2020-03-18 19:58] pragnagopa commented on #5804
This issue came out of CRI investigation where App is using multiple worker processes. Sample logs:
[code]

Issue: workerId:4d210bf0-2d23-4431-82fa-232c55f82a00 is tracked as JobHost and WebHost Channel and function execution request is sent before channel is initialized.

[2020-03-18 20:01] AnatoliB commented on #5797
Known issue: https://github.com/Azure/azure-functions-powershell-worker/issues/337
Fixed, will be deployed soon, the workaround is to temporarily move the code from profile.ps1 to run.ps1.

[2020-03-18 20:14] fabiocav commented on #5739
Completed

[2020-03-18 20:14] #5739 closed, assigned to yojagad

[2020-03-18 20:15] fabiocav commented on #5738
Closing as done.

[2020-03-18 20:15] #5738 closed, assigned to yojagad

[2020-03-18 20:18] #5730 closed, assigned to pragnagopa

[2020-03-18 20:23] fabiocav commented on #5696
Moving this to sprint 72 to continue investigation.

[2020-03-18 20:26] fabiocav commented on #5670
Moving to sprint 72 to define scope

[2020-03-18 20:29] fabiocav commented on #5658
@AnatoliB / @divyagandhii have you been able to look at this? do you have the information you need in this issue?

[2020-03-18 20:31] briandunnington commented on #5203
@fabiocav @paulbatum  This might be the wrong place for this but I cannot get find a definitive answer anywhere else. Do HTTP triggers in v3 use JSON.NET for serializing responses still, even though the underlying .NET Core 3.1 runtime uses the new System.Text.Json classes? Experimentation shows that HTTP response objects are serialized with JSON.NET - is there a setting/config to change to System

[2020-03-18 20:39] TimPosey2 commented on #5658
For my particular, it was resolved by making sure the "Manage" rights was assigned to the Access Controls for the service bus connection string. Although it previously worked with just "Send" and "Listen" rights.

![image](https://user-images.githubusercontent.com/5069152/77005640-21393c80-692f-11ea-90af-5552d9b3f5d1.png)

[2020-03-18 20:43] fabiocav commented on #4027
Moving to 72 for investigation as this may no longer be needed.

[2020-03-18 20:43] CasperWSchmidt commented on #3370
It's truly amazing that such a basic feature (which goes back to before 2013 in newtonsoft.json) is still an open issue here. Especially since it is a clear regression between v1 and v2/3.
@jeffhollan how can a regression and only partial object deserialization ever be a breaking change? Who on earth would rely on this "feature"?

[2020-03-18 20:46] fabiocav commented on #5596
Work is almost complete on this, moving to sprint 72 for remaining items.

[2020-03-18 20:47] fabiocav commented on #4890
Closing as done.

[2020-03-18 20:47] #4890 closed

[2020-03-18 20:50] #5403 closed

[2020-03-18 20:59] fabiocav commented on #5743
This may also include the payload for sprint 71

[2020-03-18 21:11] mhoeger commented on #5548
This issue does not reproduce with just our code so I'm trying to investigate what else has changed. Thanks for your patience!

Only known workaround for now is to run on V2.

[2020-03-18 21:21] nbgyxi commented on #2412
In my opinion, all functions that are triggered automatically, like timer and queue, should be disabled by default, in the deployment slot.

I think it is quite common to use deployment slots like this:
1. Deploy to deployment slot
2. Warm up
3. Swap with production

That brings your new and bug free code to production. Great.

You don't want your buggy code still running in the deployment slot, c

[2020-03-18 21:24] JustinGrote opened #5805 "Enable Environment Variables Configuration Provider for host.json"
#### What problem would the feature you're requesting solve? Please describe.
I would like to override per-function logging settings in production vs. what is in my code, and I cannot do that without modifying host.json.

#### Describe the solution you'd like
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#environment-variables-configuration-provider

A

[2020-03-18 22:14] pragnagopa opened #5806 "[Rpc]Function execution time should be calculated by the language worker"
Currently, function invocation time is calculated from the time event is read by the host until host gets a response from a language worker. Most cases this is OK.

Sometimes there might a delay at the language worker before it starts processing an invocation.
For example, if timeout is set to 10mins, if an invocation request is picked by the language worker to process after 8mins, actual function

[2020-03-18 22:16] pragnagopa commented on #5806
cc @mhoeger @yojagad @fabiocav

[2020-03-19 05:32] DK-Dennis commented on #5722
I'll keep poking around a bit, as I would really like to be able to trust the way the template works

[2020-03-19 06:52] guderkar commented on #5722
I have exactly the same issue. For me this error occurs when I deploy to empty RG.

When I deploy the template again when the functionapp is already present in RG the problem disappears.

[code]

To me it seems like a dependency issue. The function app seems like created and OK, but the listKeys api call proves otherwise.

[2020-03-19 06:57] balag0 commented on #5722
@guderkar  Can you share the function app name you tried this with?

[2020-03-19 07:01] guderkar commented on #5722
whoops sorry the function app name is hvxxbpfunctionsdev

[2020-03-19 07:09] jcoolsen commented on #5548
@mhoeger, thank you for your response. I'm not entirely sure that I understand that first sentence. Do you need anything more from us in order to be able to reproduce the issue?

Thanks for the suggestion on v2, probably easier than rearchitecting the solution.

[2020-03-19 08:09] thiagolunardi commented on #5797
Hello, @AnatoliB

My function app has no `profile.ps1` generated and the error occurs even when no code inside `run.ps1` body but `param($Timer)`.

[code]

I tried to add the following line to my `run.ps1`, but I still get the same reported error.

[code]

[2020-03-19 14:51] bketelsen commented on #5696
subscribing, this is important.

[2020-03-19 15:10] pragnagopa commented on #5619
Moving to  triaged. Encoded slash should not be treated as a different route

[2020-03-19 15:11] JustinGrote opened #5808 "[Feature Request] Allow Workers to Submit Output Bindings during execution"
#### What problem would the feature you're requesting solve? Please describe.
If a worker function wants to, say, write to a table output binding, and there is a problem with that binding, there is no way to inform the worker function that the table binding is incorrect during execution so that it can take appropriate action, therefore CreateIfNotExists and other patterns are not possible without

[2020-03-19 15:15] pragnagopa commented on #5600
To debug locally
- Set WebJobs.Script.WebHost as the startup project
- Set the AzureWebJobsScriptRoot environment variable to the full path to the function samples directory.
- Set any necessary environment variables to run your sample functions (see above).
- F5 to run

Please see: https://github.com/Azure/azure-functions-host/wiki#samples for detailed instructions.

@soninaren - Can you please a

[2020-03-19 15:22] pragnagopa commented on #5733
Moved to Triaged and flagging this a P1 as it impacts portal experience for linux function apps

[2020-03-19 15:41] t-l-k commented on #4914
@fabiocav As previously mentioned, we've this contained as a known issue and are tracking it with a custom exception. Here's my 30 day to date report rate for it:

![image](https://user-images.githubusercontent.com/15836198/77084328-b9e6bf80-69f6-11ea-912b-b83c593a5f69.png)

![image](https://user-images.githubusercontent.com/15836198/77084360-c703ae80-69f6-11ea-9031-620aad88efd6.png)

So yeah, it'

[2020-03-19 15:51] hkharan commented on #5624
@mhoeger @pragnagopa  can you help with status update for fix on Windows

[2020-03-19 15:52] hkharan commented on #5465
@mhoeger @pragnagopa  can you help with status update for fix on Windows

[2020-03-19 16:13] pragnagopa commented on #5624
Please see https://github.com/Azure/app-service-announcements/issues/240 for updates on the release. All releases are currently blocked. Current ETA is end of this month.

[2020-03-19 18:00] marcofortin opened #5810 "Function App Does Not Respond on HTTP Trigger"
I have a Function App setup in JavaScript that gets triggered by an HTTP request from a MS Power Automate/Flow. The script runs perfectly when running from the Azure portal or making an HTTP request from Postman. However, the Function App seems to go to 'sleep' when it has not been triggered in a while. I am getting this error by MS Power Automate/Flow:
`BadRequest. Http request failed: the server

[2020-03-19 21:02] AnatoliB commented on #5797
@thiagolunardi I don't know how you would get this call stack without having a `profile.ps1`. Are you sure your app does not have it? Please note that `profile.ps1` is located one level above the function (in the same folder with host.json), as it applies to the entire function app. It is always generated for new PowerShell apps. You can delete it, of course. But, if you haven't delete it, it shou

[2020-03-19 21:03] balag0 commented on #5722
Can you check if you are setting AzureWebjobsStorage appsetting in your template?

I found the following exception for this app.

System.InvalidOperationException : Secret initialization from Blob storage failed due to missing both an Azure Storage connection string and a SAS connection uri. For Blob Storage, please provide at least one of these. If you intend to use files for secrets, add an App

[2020-03-19 21:41] #5804 closed, assigned to pragnagopa

[2020-03-19 21:43] MatisseHack commented on #5353
@brettsam any idea when version 3.0.13130 (with this fix) will hit Azure Gov?

[2020-03-19 21:57] unt1tled opened #6246 "Could not load file or assembly 'Microsoft.AspNetCore.Razor.Language, Version=3.1.2.0..."
I'm attempting to make an Azure Functions based emailer using a [Razor Class Library (RCL)](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.0) with .Net Core 3.1:

![image](https://user-images.githubusercontent.com/5357052/77119437-d2fa6b00-6a0c-11ea-9502-2cfacd411d84.png)

However, while using the [latest release](https://github.com/Azure/azure-functions-

[2020-03-19 22:34] josh-qf opened #5811 "Getting "Did not find any initialized language workers" error when running in debugger"
Trying set up a Azure time triggered function and getting `System.Private.CoreLib: Exception while executing function: Functions.TimerTrigger. Microsoft.Azure.WebJobs.Script: Did not find any initialized language workers.`

#### Investigative information

Please provide the following:

- Timestamp: `[3/19/20 10:04:20 PM]`
- Function App version: 1.2.0
- Function App name: `quantum-function`
- Func

[2020-03-19 23:19] mmacagno commented on #4363
Same here

[2020-03-19 23:37] yojagad commented on #5811
@josh-qf Are you using vscode ? If yes, could you please check if any of these threads can help?
https://github.com/Azure/azure-functions-host/issues/5262
https://github.com/microsoft/vscode-azurefunctions/issues/1492

[2020-03-20 00:00] josh-qf commented on #5811
@yojagad yes I am. These don't help as I'm not using runonstartup.

[2020-03-20 00:45] yojagad commented on #5811
Although the titles say that, the issue does not particularly have to do with runonstartup. It has to do with one of the lines you posted from vscode.

[code]

To give an overview, vscode extension relies on a particular log message to figure out if the runtime initialization is complete and that log message does not always get printed. We're tracking the fix for this issue here https://github.com

[2020-03-20 06:18] josh-qf commented on #5811
I see. I ran the script without the `--wait` flag as suggested
[code]

[2020-03-20 06:43] jeromekol commented on #5722
We have the same issue. Creating a vanilla app on the Azure Portal and setting WEBSITE_RUN_FROM_PACKAGE to 1 leads to a 502. Pretty sure, that was working before.

[2020-03-20 06:47] balag0 commented on #5722
@jeromekol Are you creating a linux function app in consumption plan by any chance? In that case WEBSITE_RUN_FROM_PACKAGE needs to point to a sas-uri.

[2020-03-20 07:12] mangel0111 commented on #4809
Hi I'm still having the error,
[code]

I check the proxies' documentation and are the same.

Node Js 12.6.1

[2020-03-20 07:21] guderkar commented on #5722
@balag0 Thanks for the suggestion, in my template I was first doing listkeys and then associating appsettings with the function. It was beacause I needed secrets to be in keyvault first. Setting AzureWebJobsSecretStorageType: Files on functionapp creation helped. Thanks a lot

[2020-03-20 07:21] chr-knafl commented on #5800
It seems to work now for westeurope. Has there been a change in the meantime?

[2020-03-20 07:29] jeromekol commented on #5722
@balag0 no, its a windows app.

[2020-03-20 07:32] thiagolunardi commented on #5797
@AnatoliB you are totally right, the `profile.ps1` is there. I have its code commented out and moved the below lines to `run.ps1` this like:

[code]

Now I'm getting the following message:

[code]

[2020-03-20 11:00] horihiro opened #5812 "Function host cannot find an executable file specified as custom handler in host.json."
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 20

[2020-03-20 12:24] vbondaryuk opened #5813 "HttpTrigger returns 0 result code."
We have a function which called from the ADF pipelines by http, it works correctly, but from time to time, function **returns code 0** and our pipeline failed with exception:

But from Function -> Monitor and AppInsight we can see, that function finished successfully
![image](https://user-images.githubusercontent.com/5966463/76418564-e6c02480-63af-11ea-98f1-9ae777c70374.png)

![image](https://user

[2020-03-20 15:54] domenichelfenstein opened #5814 "HttpTrigger returns 401 when using AddSignalR() in Startup"
In my Azure functions app, I want to use a Redis backplane to send notifications to another app that is connected to the same Redis backplane and offers a SignalR endpoint for our clients.

I connected to the Redis SignalR backplane with this code:
[code]

Unfortunately, after adding `AddSignalR()`, all my HttpTrigger functions stopped working correctly and instead only returned a 401 HTTP status

[2020-03-20 16:39] balag0 commented on #5722
@guderkar Please note AzureWebJobsSecretStorageType=Files is not supported on Linux consumption plans yet , the recommendation is not to set that AppSetting at all.

@jeromekol If you can share the functionapp name, I can take a closer look.

[2020-03-20 16:56] benc-uk opened #5815 "Custom handlers, invocation metadata is malformed JSON and won't unmarshall"
I'm writing a custom handler, as described here https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers#deploying. And I'm using one of the non-HTTP trigger bindings (blob). With this binding the custom HTTP handler is passed an invocation payload, containing two fields `Data` and `Metadata`

The `Data` field is fine, however the `Metadata` field is strange, most of the su

[2020-03-20 17:04] AnatoliB commented on #5797
@thiagolunardi Are you trying to use a user-assigned identity?

[2020-03-20 17:48] yojagad commented on #5811
Being in the same directory, can you try

[code]

as specified in the document here? https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash

[2020-03-20 17:50] pragnagopa commented on #5696
Similar issue reported here: https://stackoverflow.com/questions/58698095/how-to-launch-puppeteersharp-on-server-ubuntu-18-04-3-lts-system-componentmodel

[2020-03-20 18:52] thiagolunardi commented on #5797
Yes. The Function App has already a User Assigned configured.

Am I missing something?

[2020-03-20 18:55] lalindra-desilva commented on #4869
Any ETA on Canada Central?

[2020-03-20 19:02] AnatoliB commented on #5797
Using a user-assigned identity requires a bit more work. The easiest thing to do is to find the “Client ID” property of the user-managed identity and pass it to the Connect-AzAccount cmdlet as an AccountId value, for example:
[code]
If you don't want to hardcode the ID, here is another option:
1. Enable the system assigned identity as well.
2. Make the system assigned identity a Reader on the user

[2020-03-20 20:32] pragnagopa commented on #5696
@fabiocav - Leaving this issue in the current sprint as this is an investigation.

[2020-03-20 21:17] sanjaydebnath commented on #2373
It's been two years & we don't have any update?

I am facing this along with "Microsoft.Azure.Kusto.Data.NETStandard" lib. Azure function works with 3.14  but this one needs min 4.5.1. So eventually I cant call kusto from Azure function.

[2020-03-20 21:22] mhoeger commented on #5548
@jcoolsen - i'm able to reproduce the issue, thank you :) Also worth noting that this issue does not reproduce in Linux Consumption (because the issue is related to IIS)

[2020-03-21 01:28] JustinGrote opened #5821 "[Feature] Allow workers to specify exception typename via grpc"
#### What problem would the feature you're requesting solve? Please describe.
I want exceptions from the Powershell Worker to be typed the same as they were in the worker so that I don't have 50,000 RPCException exceptions in the Application Insights UI and I can actually traige to the appropriate exceptions in the view.

Today this information is sent via a separate trace which is not ideal becau

[2020-03-21 02:41] gzuber commented on #5810
@marcofortin Can I get some more details about your function app (name, region, etc...) so I can look into this from our end? I might be able to see what's causing the timeout and we can take it from there. Thanks!

[2020-03-21 03:38] josh-qf commented on #5811
That worked! The confusion was because I was following [this tutorial](https://docs.microsoft.com/en-us/azure/python/tutorial-vs-code-serverless-python-04?tabs=bash). I believe the original issue still is an issue - up to you guys if you want to close it.

[2020-03-21 13:44] merfolk commented on #3907
It seem strange that Azure Keyvault is not supported for local development of Azure Functions.

Being able to use the keyvault for local development would make development both easier and more secure.

[2020-03-21 21:38] graphicsxp opened #5822 "func host start never works for me."
Just installed with npm :
`npm i -g azure-functions-core-tools@3 --unsafe-perm true`

then in VSCode I run :
`func init`
`func new`
`func host start`

get this error :

C:\Users\graph\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.1.3\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(33,5): error : Metadata generation failed. Exit code: '-214623

[2020-03-21 22:25] graphicsxp commented on #5822
ok, working now after downgraded to .netcore3 . Would not work with latest version of .netcore....

[2020-03-22 00:18] soninaren commented on #5822
Can you upgrade to version 1.1.6 of Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator and try again.

[2020-03-22 00:18] #5822 closed, assigned to nobody

[2020-03-22 08:54] thiagolunardi commented on #5797
Worked like a charm. Thanks for the guidance through this workaround. I will keep a track on this issue til the fix is GA released.

[2020-03-22 18:11] AlexPshul commented on #5756
Just came here to confirm the issue.
Upgraded to 3.0.5 and getting the same message when starting the functions app locally. Didn't try to publish it yet, though.
Downgrading to 3.0.3 solves it for now. Will wait for an update.

[2020-03-22 21:23] Arnavion commented on #4499
Looks like this was fixed at some point. The `Starting Host` trace now has a `HostId` that is the function app name, not `none-...` as it was before.

[2020-03-22 21:23] #4499 closed

[2020-03-23 15:20] marcofortin commented on #5810
Hey @gzuber !
Name: agony-bot
Region: Canada Central
Subscription Id: 949ab995-2999-4bcf-9bd6-a9de50440692
Ressource group: innovation
Thanks!!!

[2020-03-23 17:01] jkerak commented on #5756
same error and solution worked but i'm using v1.0.34

[2020-03-23 17:54] yojagad commented on #5811
Glad it worked. And yes, the vscode is still an issue and it's being tracked here https://github.com/Azure/azure-functions-host/issues/4384 . Will go ahead and close this thread.

[2020-03-23 17:54] #5811 closed, assigned to yojagad

[2020-03-23 22:30] brandonh-msft opened #5823 "Document how to utilize other Logging services/platforms"
Regarding: https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#application-insights-pricing-and-limits

This page should provide information on if/how other platforms can be used "natively" with Azure Functions. i.e. can I, somehow, make ILogger an NLog object? Some other logging platform? If not, it should be called out so customers aren't banging their heads against a wal

[2020-03-23 22:48] yojagad commented on #5789
Just investigated another CRI where the EventHubsExtension was attempted to be loaded twice thus leading to the above exception due to this race condition.

[2020-03-24 01:00] leftclickben commented on #3804
Is this seriously still not resolved?

For the record (just to save somebody else the bother), I tried escaping the dollar sign, and got the same error: `Validation failed for property 'BlobPath', value '\$web/content.json'. The field BlobPath is invalid.`

[2020-03-24 01:47] leftclickben commented on #3888
It's been reported here too: #3804.

[2020-03-24 07:00] #5560 closed

[2020-03-24 07:00] ghost commented on #5711
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-03-24 07:00] ghost commented on #5656
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-03-24 18:16] brandonh-msft commented on #4267
@pragnagopa any chance we can get the PR for this pulled in?

[2020-03-24 18:37] takyyon opened #5825 "Function folder not deleted on deleting the function"
Upon deleting the function from the portal, it gets deleted successfully but the empty folder still remains.
We are making a DELETE call to `/subscriptons/{subscription}/resourceGroups/{resourceGroup}/providers/Microsoft.Web/sites/{site_name}/functions/{function_name}`

[2020-03-24 21:58] anthonychu commented on #5615
I think this is a good change and should be done pretty soon before too many apps depend on the proxy behavior.

[2020-03-24 22:20] johndowns opened #5826 "Event Grid output binding does not work on Java or Python"
In the process of updating the [documentation for the Event Grid output binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid) (see [this PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/103060)), I discovered that the output binding does not correctly with Python or Java functions. It does work correctly for .NET and Node.js.

### Python
* I used thi

[2020-03-25 02:07] yojagad opened #5828 "Make FunctionTimeout cancellation token available to OOP"
As part of working on #5391 , one of the approaches we found was to have the cancellationToken made available to out-of-proc languages as well. WorkerFunctionDescriptionProvider and other necessary components need to be updated so that webjobs-sdk can pass in the functionTimeoutCancellation token as part of it's parameters list. Right now, the following are the parameters being passed down to Work

[2020-03-25 17:22] RufusJWB commented on #5963
Hello Microsoft! Anybody working on this topic? At least performing the "Triage"?

[2020-03-25 17:23] RufusJWB commented on #5963
@soninaren can you support here? I created this issue on your request https://github.com/Azure/azure-functions-vs-build-sdk/issues/287#issuecomment-586504924

[2020-03-25 17:47] ericsampson commented on #5274
This would be great. Especially if it can include bindings. @jeffhollan any thoughts on this topic?
Not being able to use KV like we do in plain Core webapps is a real bummer.

[2020-03-25 18:08] galvesribeiro commented on #4413
Hey folks!

I'm falling into the exact same issue. Using the V3 functions and just upgraded my graphql-dotnet server to the latest package that supports System.Text.Json and I'm having the exactly same exception:

![image](https://user-images.githubusercontent.com/4714040/77570395-7be01480-6eaa-11ea-9a72-33e7854bbe98.png)

Any workarounds? Or should we revert back to previous release and handcraft

[2020-03-25 18:33] galvesribeiro commented on #4413
Found a workaround myself...

I was registering the `IDocumentWriter` like this:

[code]

Then I had the coercion exception. However, if I register it like this it works:

[code]

Definitively there is something wrong with this `DryIoc` and the `Microsoft.Extensions.DependencyInjection` binding... I tried this because I remember I had something similar elsewhere in my code that required me to do t

[2020-03-25 18:56] madelinegordon commented on #5614
This is a known issue - a duplicate of #5548. A fix (#5820 ) will be deployed after our code freeze is lifted.

In the meantime, the only known workarounds are to use Function version ~2, or to run your function app on Linux consumption.  Let me know if there are any other questions.

[2020-03-25 19:05] soninaren commented on #5963
@RufusJWB Thank you for posting the issue. I will try to reproduce this and post an update.
cc: @brettsam

[2020-03-25 19:10] pragnagopa commented on #5696
Thanks @ahmelsayed for helping with identifying the root cause.
Executable/binary provided by the user does not have "executable" permission when running in linux consumption as these permissions are removed when extracting and assigning user content to a function app.

Workaround:
- Build binary on linux and ensure right permissions are assigned to the http worker binary
- On linux consumtion fun

[2020-03-25 22:32] pragnagopa commented on #5665
cc @gzuber
Done!

[2020-03-25 22:32] #5665 closed

[2020-03-25 22:34] pragnagopa commented on #5670
Assigned this to @Francisco-Gamino as he will be driving this project  and I will continue to collaborate with him.

[2020-03-25 23:17] pragnagopa commented on #5671
Sent a PR in ANT88. Will continue tracking the PR progress.

[2020-03-25 23:17] #5671 closed

[2020-03-25 23:27] #5391 closed

[2020-03-26 10:43] thomasvdb opened #5832 "System.PlatformNotSupportedException: System.Data.SqlClient is not supported on this platform"
#### Investigative information
- Timestamp: 2020-03-26 09:48:09.304
- Function App version: 3.0.13139.0
- Invocation ID: 5da3c701a5a9704fac16e60bc400e607
- Region: West-Europe

After deploying our Azure Function (which was recently upgrade from .NET Core 2.2 to .NET Core 3.1), we sometimes receive the following error:
[code]

If we then switch the Runtime version of the Azure Function to v2 and ba

[2020-03-26 11:00] jwisener commented on #4761
@fabiocav any status update on this?

[2020-03-26 15:27] ChrisProlls commented on #5240
Same for me today, any news ?

[2020-03-26 16:13] dustinmoris opened #5833 "What magic trick do I need to apply to run code serverless?"
[code]

Why? Why do I have to register queueTrigger?  I don't want to register anything I just want to deploy my code to a serverless environment.

What magic trick do I have to apply now again to get it working?

[2020-03-26 17:18] marcofortin commented on #5810
@gzuber Are there any more details you need to look into this problem?

[2020-03-26 19:48] Lybecker commented on #5240
Ran into this problem today too

[2020-03-26 20:46] daniel-white commented on #5098
@fabiocav: this really sounds like a .net core bug/issue. can you confirm?

i'm running into something similar using a vanilla asp.net core service.

[2020-03-26 20:50] yojagad commented on #5832
Can you try upgrading to Microsoft.Data.SqlClient and check to see if you still continue to see this error? I'm basing this off of similar, longer threads where some people had this issue with System.Data.SqlClient. https://github.com/Azure/Azure-Functions/issues/1370 and https://github.com/dotnet/SqlClient/issues/289

[2020-03-27 01:42] balag0 commented on #5222
should also cover unrecoverable failures like OOM exceptions

[2020-03-27 03:09] tsharp commented on #5274
I've switched to using simple hosted services in a container; however, I'd still love for this to be an option. I dug through several Sdk's to root out where/how this could be effectively/correctly done and it seems that the base WebJobs/ScriptHost will need a bit of attention here and still may take a while longer to get it in since it spans projects.

[2020-03-27 04:15] rameshjanjyam commented on #4939
this helped in my case. I have `async`  lambda and it didn't work. removing `async` (& await) helped
[code]

[2020-03-27 10:00] #5711 closed

[2020-03-27 10:00] #5656 closed

[2020-03-27 14:46] tkcecek commented on #5756
Got into same problem... and worked out that it works with:
Microsoft.NET.Sdk.Functions <= 1.0.31 & System.IdentityModel.Tokens.Jwt <= 6.5.0 (latest)
OR
Microsoft.NET.Sdk.Functions <= 3.0.5 (latest) & System.IdentityModel.Tokens.Jwt <= 5.3.0
so it's your choice which one you need in the latest.
Hope this helps.

[2020-03-27 14:50] norarrsgd commented on #5756
Hi @tkc-github , thank you for the information.
Have you tried `Microsoft.NET.Sdk.Functions <= 3.0.5 (latest) & System.IdentityModel.Tokens.Jwt <= 6.5.0 (latest)`?

[2020-03-27 14:53] tkcecek commented on #5756
yes and it didn't work

the only way to make it working was to downgrade one of them as per my previous comment

[2020-03-28 05:39] nemana opened #5835 "Azure Function stop triggering for service bus"
I am using azure function V2 runtime. My function got stop triggering in one App service without any error and in other app service I am getting issue stating "Hostname is invalid"

Function is runing fine on my local system with same configuration. Is there is any issue going on with Function host in Azure.

[2020-03-28 05:46] nemana commented on #5835
Error
![image](https://user-images.githubusercontent.com/14800652/77816021-7de1e780-70e5-11ea-95a5-aebbc1c9a67b.png)

[2020-03-28 06:13] wuzhuoqing opened #5836 "Azure Timer trigger Functions not triggering and pastDue"
#### Investigative information

We have a simple node.js function which is schedule to run every Wednesday and Saturday which trigger another Container Instance to do real work (`"schedule": "0 5 2 * * 3,6"`). The function it self will only run for a few seconds

It should execute 3/25 however it didn't run until I log to portal to check status

2020-03-28 05:35:20.544 UTC Executing 'Functions.Con

[2020-03-28 07:04] SeanFeldman commented on #2961
Running into the same issue. @fabiocav is this environment variable still the one to use?

[2020-03-28 15:00] fredrikdaveus commented on #3370
There's one problem though. It doesn't seem to be possible to use the batching features, as you cannot have HttpRequest[] requests as a parameter.

Or, is there a workaround here as well using custom deserialisation? (which we do anyways for performance reasons)

[2020-03-28 20:02] pragnagopa commented on #5787
Initial version of the code: https://github.com/pragnagopa/SiteExtensionCompressor/

[2020-03-28 21:00] ghost commented on #5614
This issue has been marked as duplicate and has not had any activity for **3 days**. It will be closed for housekeeping purposes.

[2020-03-28 21:00] #5614 closed

[2020-03-28 22:14] RichardSlater commented on #3182
This is still an issue, specifically when `proxies.json` is invalid the endpoint will return:

[code]

And the application logs will show:

[code]

[2020-03-28 23:51] anthonychu commented on #5696
Confirmed that workaround is working. Thanks.

[2020-03-29 15:15] espray commented on #5399
@asalvo yes that is the issue. I had the same issue using GraphQL .NET server 3.4.0
Setting the environment variable `FUNCTIONS_V2_COMPATIBILITY_MODE` to `true` worked for me.

https://stackoverflow.com/questions/59379971/enable-synchronous-io-in-azure-function
https://github.com/Azure/azure-functions-durable-extension/issues/1039

[2020-03-30 05:20] thomasvdb commented on #5832
I've read these threads before but when looking in the NuGet package manager for our solution this library wasn't listed as NuGet package.

When doing a text search in our solution I did found one reference though.
Adding the NuGet package as we speak and I'll monitor it the coming days (as the issue doesn't pop up on every deploy).

[2020-03-30 07:09] MattiasAng opened #5837 "Daylight Saving Time with Timer binding"
Investigative information

Please provide the following:

- Timestamp: 2020-03-29 00:01:00.085
- Function App version: 3
- Invocation ID: 7e6d0ed23f10dc48a03290a414d8bf7b
- Region: West Europe

#### Repro steps

Obviously not so easy to reproduce in Azure environment, but these are the configurations.

1. Set WEBSITE_TIME_ZONE to W. Europe Standard Time
2. Cron schedule on timer binding to 0 1 * *

[2020-03-30 07:33] ErikAndreas opened #5838 "Occasional 'The network path was not found' causing 404"
We're getting occasional 404 errors on random functions. These errors are not seen in app insights logs or anywhere else (as if the error never occurred). We do have correlating logged errors:
`System.IO.IOException:
   at System.IO.FileSystem.CreateDirectory (System.IO.FileSystem, Version=4.1.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a)
   at System.IO.Directory.CreateDirectory (System.

[2020-03-30 13:59] pwankhade opened #5839 "Blob Trigger File limit."
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Azure function developed in Python 3.7
#### Question
**Main Question:**
I have configured a Blob triggered Azure function that reads the blob file and stores it in Event hub. The function works only for a small file. I tried uploading a file

[2020-03-30 14:39] TroyWitthoeft commented on #5240
I am seeing this as well.

[2020-03-30 19:31] heikkilamarko commented on #5837
We faced exactly the same problem with several of our timer-triggered functions.

[2020-03-30 20:20] kulkarnisonia16 commented on #5843
@brettsam - was this completed as part of Sprint 70?

[2020-03-30 20:29] kulkarnisonia16 commented on #5735
PR that will fix this issue - https://github.com/Azure/azure-functions-host/pull/5484. Will be rolled out towards end of April.

[2020-03-30 21:30] soninaren commented on #5839
- Is the function runtime v2 or v3?

- Don't know if blob size is the root cause for the failure to trigger the function. The function runtime should be able to handle blobs much larger in size. Do you know if the function triggered and timed out or never triggered?

Yes, Azure functions uses azure file share to store function app content.

It is documented here, though the documentation is not as

[2020-03-30 21:35] soninaren commented on #5839
Here is the issue on missing documentation https://github.com/MicrosoftDocs/azure-docs/issues/51303

[2020-03-30 21:43] ejizba opened #5840 "Improve schedule description for function.json schema"
_Related to https://github.com/microsoft/vscode-azurefunctions/issues/1989, filed by @PsychoData_

Currently the schema just says this:
![Screen Shot 2020-03-30 at 2 36 48 PM](https://user-images.githubusercontent.com/11282622/77964893-c4c20f80-7294-11ea-9308-284c55b84656.png)

but it'd be great if it had a description more like what the templates have, which shows up like this:
![image](https://u

[2020-03-31 00:28] #5696 closed

[2020-03-31 06:43] pwankhade commented on #5839
Added Sub-Bullet points below

Thanks,
Parag.

From: Naren Soni <notifications@github.com>
Sent: Tuesday, March 31, 2020 3:01 AM
To: Azure/azure-functions-host <azure-functions-host@noreply.github.com>
Cc: Wankhade, Parag <pwankhade@deloitte.com>; Author <author@noreply.github.com>
Subject: [EXT] Re: [Azure/azure-functions-host] Blob Trigger File limit. (#5839)

Is your question related to a speci

[2020-03-31 11:34] GeeWee opened #5841 "Azure Functions do not respect global Json.Net SerializerSettings"
#### What problem would the feature you're requesting solve? Please describe.
*Note that this might be better suited for the Azure Webjobs repository, feel free to let me know/move it*

I have some JSON I'd like to be able to convert to an object using custom types, e.g. from NodaTime. I want to be able to put the JSON on a queue, and then have it automatically converted to the correct type.

I ca

[2020-03-31 13:06] matthew-kirtley opened #5842 "Azure function app host.json settings doesn't apply to the functions"
I have a function which I publish in an Azure Function App via the App Service Plan (Standard).  I have overridden the functionTimeout in host.json to be 2 hours as below.  This used to work when I **_wasn't_** using the Startup.cs pattern for DI, but now that I've transitioned my function app to use a Startup.cs for DI, this timeout is ignored and the default timeout of 30 minutes is used.  I can

[2020-03-31 13:07] mathiasbl opened #5845 "Question: Disable trigger at runtime"
Hi,

I'm looking to implement a circuit breaker pattern in azure functions, when there are problems downstream, but I'm wondering if it's possible to dynamically disable a service bus triggered function at runtime without having to restart the function.

Any other solutions are also welcome.

[2020-03-31 14:18] pragnagopa commented on #5839
We have recently fixed an issue that allows processing of large files by python worker. Fix is not released yet. Until then, please use: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp#alternatives

Not seeing any errors in the logs is concerning. Transferring this issue to  python worker repo for further investigation on missing logs.

[2020-03-31 14:51] bartdk-be commented on #5098
@fabiocav : Not to blame anyone, but how can a basic feature like Scoped or not being labeled as a p2 ? This seems like a rather basic functionality ?
Can you point us to workarounds to resolve this issue ?

[2020-03-31 14:57] brettsam commented on #5843
Hmm, no it wasn't. But we did add improvements that mean this may not be needed anymore. I'd still like to do this -- I'll move it to host and add this to the next Sprint.

[2020-03-31 15:16] pragnagopa commented on #5399
Moving this to Triaged as this issue is specific to V3

[2020-03-31 16:51] christian-vorhemus opened #5844 "Azure Functions (node) doesn't process binary data properly"
My goal is to write a function which processes the binary HTTP body (for example, an image). I've created the function using the func CLI (version 2.7.2254) doing the following:

[code]

My function.json looks like this:
[code]

My expectation would be that now req.body is a Buffer but when I check the type
`typeof req.body;`

it seems to be a string. Therefore, my attempt to save this file to dis

[2020-03-31 18:01] yojagad commented on #5844
Can you try this with the Content-Type set to "application/octet-stream" ?

[2020-03-31 18:22] #5472 closed

[2020-03-31 18:26] fabiocav commented on #4761
@jwisener this is currently in PR, but has been blocked. Moving to sprint 73 to see if this is something we have the ability to deploy then.

[2020-03-31 18:27] fabiocav commented on #4384
@kashimiz moving this back to triaged, but can you comment whether there was any progress made here?

[2020-03-31 18:33] fabiocav commented on #5250
@brettsam any additional work on this? Or should this be closed?

[2020-03-31 18:37] fabiocav commented on #5623
Closing this issue as we have an open PR and an issue tracking the work.

[2020-03-31 18:37] #5623 closed

[2020-03-31 18:38] fabiocav commented on #5837
@brettsam @mathewc I believe this is something we've looked at in the past, correct?

[2020-03-31 19:13] brettsam commented on #5837
Here's one of the last fixes we made (and it links to some others): https://github.com/Azure/azure-webjobs-sdk-extensions/pull/492

[2020-03-31 19:17] christian-vorhemus commented on #5844
Indeed, if the content type is set to "application/octet-stream" it works.

But why does it fail when Content-Type is more specific, for example "image/png"? If req.headers looks like this, it fails:
[code]

[2020-03-31 19:41] fabiocav commented on #5837
Yeah, I thought it had been done a while back. I'm wondering if there's an issue with the scale controller not adjusting and activating the app incorrectly, but I would expect that to eventually run, if it was the case.

[2020-03-31 19:54] brettsam commented on #5837
It is likely just a new bug that we didn't catch previously. If I recall, the other one was caused during fall-back. This one is during spring-forward.

[2020-03-31 19:56] fabiocav commented on #5837
Will leave it as triaged so we can take a closer look.

[2020-03-31 20:03] yojagad commented on #5844
Yeah, there's specific logic around content-type "application/octet-stream" and those starting with "multipart" (https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Extensions/HttpRequestExtensions.cs).

I'll go ahead and close this thread since this solved the issue. Please feel free to reopen/start new thread if you have any more questions around this.

[2020-03-31 23:00] paulbatum commented on #2955
I think the current information on this issue is up to date. It would be useful improvement, but hasn't been sufficiently high priority to be implemented.

[2020-04-01 00:13] alrod commented on #5845
Disabling is relied on app setting value: `AzureWebJobs.<FUNCTION_NAME>.Disabled`
Function runtime gets new app settings values on start. So you need a restart.

An idea of implementation of circuit breaker:
https://hackernoon.com/reliable-event-processing-in-azure-functions-37054dc2d0fc

[2020-04-01 01:25] avishnyakov commented on #5250
Mine is also solved. Kudos to @brettsam for pointing out things we overlooked. Tops!

[2020-04-01 07:37] koenj opened #5846 "Duplicate application insights exceptions"
#### Check for a solution in the Azure portal

All exceptions thrown from a function app, have duplicate "exceptions" entries in application insights.

#### Investigative information

Please provide the following:

- Timestamp: 2020-04-01T06:41:00.0756208Z
- Function App name: FunctionApp1
- Function name(s) (as appropriate): TimerTriggerCSharp3-custom31
- Invocation ID: 86006cd7-7f00-4491-92ec-ff

[2020-04-01 10:26] DK-Dennis commented on #5722
Now, all of a sudden it has stopped working again. Multiple, identical, repeated attempts have now resulted in it working the last time of 6 attempts (fails 5 times out of 6). This is when running the template deployment through a release pipeline. When repeating the deployment in azure portal, it fails roughly half of the time. So my solution above is really not a solution, I'm afraid.
I'm still

[2020-04-01 13:33] christian-vorhemus commented on #5844
Alright, then just out of interest, is this behavior documented somewhere? Because I'd assume this can be a potential pitfall for users who send data to an Azure Function by a browser (at least the browsers I've seen will by default set the Content-Type header based on the actual file type and not only to  "application/octet-stream") or use e.g. Postman for testing.

And why do we set `"dataType":

[2020-04-01 16:11] euo opened #5847 "Debug output: Metadata generation failed. Exit code: '-1073741818'"
I'm trying a simple Azure Function in VS 2019 but getting the following error when debugging.

#### Environment:
Microsoft Visual Studio Community 2019
Version 16.5.0
VisualStudio.16.Release/16.5.0+29911.84
Microsoft .NET Framework
Version 4.8.03752

Microsoft.Azure.WebJobs.Extensions.CosmosDB 3.0.5
Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator 1.1.6\
Microsoft.NET.Sdk.Functions 3.0.1

[2020-04-01 16:18] pragnagopa commented on #5666
cc @gzuber

Created two alerts
 - Diff in Placeholder misses DWAS vs DataRole
- Diff in placeholder hits DWAS vs DataRole

Analysis from those alerts will help us catch scenarios where slots are taking placholders instead of production sites. Closing this issue for now.

[2020-04-01 16:18] #5666 closed

[2020-04-01 16:20] pragnagopa commented on #5728
Moving to Sprint 73.

[2020-04-01 16:24] pragnagopa opened #5848 "Design and implement dynamic pool configuration engine"
This is a tracking item to automate tool: https://github.com/pragnagopa/DynamicPoolConfiguration in Antares

[2020-04-01 16:50] pragnagopa commented on #5575
cc @brettsam .
We continue to see application initialization errors and the error is not scoped to placeholders. This came up in a recent CRI. Stack trace from event logs:
[code]

[2020-04-01 17:39] marcofortin commented on #5810
@gzuber Any news?

[2020-04-01 17:56] pavinan commented on #5832
We are also facing same issue. But downgrading `System.Data.SqlClient` to 4.5.0 works.

[2020-04-01 18:10] cytron201 commented on #5722
Further to this, I've had similar experience. Running it from powershell locally works sometimes (mostly fails), where running it from the pipeline fails every time.

Worth noting: After doing a deployment, when going to the function blade in Azure (using the new preview view), and selecting the App keys option, there is at least a 10 second delay before the keys are displayed. If it's connected,

[2020-04-01 19:43] yojagad opened #5849 "Perf investigations/improvements for non-CPU bound workloads"
Loader.io tests, investigate and identify areas and improvements.

[2020-04-01 20:07] fabiocav commented on #5670
Design for this has been done.

[2020-04-01 20:07] #5670 closed

[2020-04-01 20:07] fabiocav commented on #5566
Done.

[2020-04-01 20:07] #5566 closed

[2020-04-01 20:08] fabiocav commented on #5548
Fixed with #5820

[2020-04-01 20:08] #5548 closed

[2020-04-01 20:13] fabiocav commented on #5596
Currently blocked on some design details. Moving to sprint 73

[2020-04-01 20:23] fabiocav commented on #5385
Moving to sprint 73 where we can prioritize getting #5662 in.

[2020-04-01 20:26] alrod opened #5850 "Use DevOps output artifacts instead of AppVeyor for perf tests"

[2020-04-01 20:31] fabiocav commented on #5793
@kulkarnisonia16 FYI - moving this to `Triaged` for now as we're blocked on ANT 88 and deployment.

[2020-04-01 20:40] mhoeger commented on #3316
Much of node e2e testing has been moved to the node worker repo itself

[2020-04-01 20:40] #3316 closed

[2020-04-01 20:53] mhoeger commented on #2812
re-opening to track node e2e test changes

[2020-04-01 20:53] pragnagopa commented on #2812
Please enable test: https://github.com/Azure/azure-functions-host/blob/dev/test/WebJobs.Script.Tests.Integration/WebHostEndToEnd/SamplesEndToEndTests_Node.cs#L332

[2020-04-01 22:17] jeffhollan commented on #3054
This is one of those issues that can have a number of different causes, but just tested and I don't believe there is something systematic here.  A few common gotchas:
1. Confirm the connection string in the app setting and referenced in the trigger is valied
2. Confirm you haven't enabled service endpoints or restricted access to the event hub (unless you have also joined function to VNet and enab

[2020-04-01 22:18] #3054 closed

[2020-04-01 23:15] shahzadhuq opened #5851 "HttpClientFactory + DryIoc.ContainerException"
#### Issue Description
We are building RESTFul backend using Azure Functions.  We are leveraging HttpClientFactory via DI which seems to work for about an hour and then starts to throw following exception:

Side note: our issue resembles the bug reported here #5590.

#### Investigative information
- Timestamp: March 31, 2020
- Function App version: Runtime version is 3.0.13139.0 (~3)
- Function Ap

[2020-04-02 06:23] carlosscastro commented on #4577
Functions team, any update on this? The need to use IConfiguration during startup seems like a reasonable one and would align better with the pattern in asp.net core web apps.

[2020-04-02 06:43] nbgyxi commented on #1864
I also see this from time to time and would like to keep my errors to 0.

It doesn't happen often, but I have 46 function apps running so across all of them its constant. I think it happens during release and swapping.

And one function app cannot be swapped from Azure DevOps for some reason and this error is happening most often for that function app. I am not sure about causality.

But I think t

[2020-04-02 08:38] samvanbrussel commented on #3054
@jeffhollan , how do you explain a restart of the function app to be fully functional for hours or days? If these settings were incorrect, nothing would happen then.

Might be correct to close this issue, as infrastructure might have been changed and libraries updated. But your _few common gotchas_ indicate you're not getting the point.

[2020-04-02 14:20] hkharan commented on #5624
@pragnagopa I see a note on https://github.com/Azure/app-service-announcements/issues/240 indicating that the version will not be released. Is there any new ETA or version ?

[2020-04-02 14:23] pragnagopa commented on #5624
Yes @hkharan - we will have new release announcement by next week.

tagging @mhoeger  and @yojagad - to ensure next release contains this commit.

[2020-04-02 14:27] unt1tled commented on #6246
Is there a workaround for this?

[2020-04-02 16:02] anthonychu commented on #5763
Tagging as P1 for next sprint. Running into this during our perf tests as well (about 5% failing).

[2020-04-02 17:25] mhoeger commented on #4577
@brettsam - do you mind weighing in on this?

[2020-04-02 17:36] ChrisAllisonMalta opened #5852 "Azure functions crash after upload if authorization.json is present"
#### Check for a solution in the Azure portal
After I added an authorization.json file to my project the function in the portal breaks. The webpage that loads after deployment gives the following error "The page cannot be displayed because an internal server error has occurred." and all the functions disappear from the sidebar on the left.

It only seems to come back after I edit the authorization

[2020-04-02 18:09] yojagad commented on #5844
Tagging @mhoeger and @pragnagopa who might have answers to this.

[2020-04-02 18:42] pragnagopa commented on #5844
reopening and moving to nodejs worker repo to provide a code sample.
Using isRaw flag: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#response-object  should provide data as buffer.  @mhoeger can you confirm?

[2020-04-02 20:21] jabbera commented on #1063
Ditto here. I'd love to be able to use functions for my use case (large historical calculation engine) but the 100MB limit is a deal breaker.

[2020-04-02 20:36] anthonychu commented on #6246
@fabiocav I tried adding `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` to the csproj and it didn't fix the problem. Can you take a look?

[2020-04-02 21:52] fabiocav commented on #1063
Closing this issue as it is quite stale and the original issue is no longer a problem (the limitation is no longer the same).

@jabbera can you please open a separate issue with details about your scenario? We do have some guidance we might be able to provide.

[2020-04-02 21:52] #1063 closed

[2020-04-02 22:54] brettsam opened #5853 "Prevent exceptions from log file flush from breaking monitoring"
Currently right here we can throw (if, for example, disk is full): https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Diagnostics/FileLogger.cs#L96.

This can cause any logging occurring later in the pipeline from running, which breaks monitoring in those scenarios.

[2020-04-02 23:58] jabbera commented on #1063
Happy to! thanks!

[2020-04-03 00:01] jabbera opened #5854 "Allowing content body over 100MB"
#### Is your question related to a specific version? If so, please specify: v3

#### What language does your question apply to? C#

#### Question
I'd like to know how to expand the content body for Http Triggers to support messages over 100MB. I have a historical analytics function I'd like to host in Azure Functions. This will be called from MATLAB which has pretty poor support for rest in genera

[2020-04-03 00:02] jabbera commented on #5854
@fabiocav here it is.

[2020-04-03 00:52] alrod commented on #5812
cc: @pragnagopa

[2020-04-03 01:57] pragnagopa commented on #5812
This behavior is by design when you are brining in your runtime.
Setting `defaultExecutablePath`  and 'defaultWorkerPath` allows users to take advantage of the runtimes that are already part of the environment such as node, dotnet etc.

Workaround mentioned is the right way to describe httpWorker section.

FYI, here is the code that parses httpworker section:
https://github.com/Azure/azure-functio

[2020-04-03 01:57] #5812 closed, assigned to pragnagopa

[2020-04-03 02:18] alrod commented on #5833
What do you use for local development? VS, VSCode or Core Tools? for Core tools we need to register the Storage extension:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#register-extensions

[2020-04-03 13:58] adityachowta commented on #5742
Hello any other suggestions ?

[2020-04-03 15:05] brettsam opened #5856 "Linux: Unhandled exceptions may not log to system logs"
Linux (dedicated -- and maybe consumption?) will flush the last 10 seconds of stdout to the system logs for debugging any unhandled exceptions that we may have missed. We've seen cases where this doesn't seem to work -- perhaps b/c the host shutdown took too long -- and it means we don't have any logs to indicate the issue. Customers do seem to get these logs in App Insights.

Need to see if we ca

[2020-04-03 16:17] amamounelsayed commented on #5742
@adityachowta at this moment I need you to share the code, is there any way to upload it to github? Thank you!

[2020-04-03 17:06] balag0 commented on #5856
Consumption should be fine after this change - https://github.com/Azure/azure-functions-host/commit/4aed66117896575399a0a7f2b394787ec05246c7

[2020-04-03 18:01] pragnagopa commented on #5856
cc @divyagandhii
Assigning to @balag0 to close this issue after the release.

[2020-04-04 00:13] chkn opened #5858 "Restore support for F# scripts"
It seems like it's time to revisit #3414 and restore support for F# scripts. The F# Interactive issue with .NET Core linked from there has been resolved for over a year now. Additionally, the [F# 5 announcement](https://devblogs.microsoft.com/dotnet/announcing-f-5-preview-1/) indicates that there will be support for `#r "nuget:  ..."` syntax to reference nugets from F# scripts. I'd really love to

[2020-04-04 16:18] aarrgard opened #5859 "Azure functions proxies cannot proxy strings with slashes to the backend function without disabling local call."
Azure functions proxies cannot proxy strings with slashes to the backend function without disabling local call.

#### Repro steps

Create a proxy that proxies a string to a function
{
  "proxies": {
    "MyFunc/{arg0}": {
      "matchCondition": {
        "route": "/front/MyFunc/{arg0}",
        "methods": [
          "GET"
        ]
      },
      "backendUri": "http://%WEBSITE_HOSTNAME%/api/MyFu

[2020-04-04 20:34] dustinmoris commented on #5833
The issue was to upgrade to v3 of functions after upgrading the NuGet packages.

[2020-04-04 20:34] #5833 closed, assigned to alrod

[2020-04-05 08:48] adityachowta commented on #5742
Hi @amamounelsayed i have sent you and invite for the repository: [https://github.com/adityachowta/AzFunctionJavaDemo](https://github.com/adityachowta/AzFunctionJavaDemo)

[2020-04-05 15:17] andrunl commented on #5963
I see the same issue once I pulled in Cosmos into my function.

[2020-04-05 18:33] ChrisAllisonMalta commented on #5852
Just to confirm, if I publish my app it will fail, restart or stop and start won't work but IF I put some whitespace in the Authorization.json file via the Kudo (powershell) screen after a restart the app works immediately

[2020-04-06 02:36] heyAyushh commented on #4809
[code]
node v 12.0
azure function core tools @ 3

Having same error, How to resolve? How to rollback to some point where it was working?

[2020-04-06 02:38] m-sterspace commented on #4809
@heyAyushh I believe this error does not actually functionally break anything. If you check your proxies they should still be working even though the error displays.

[2020-04-06 03:38] heyAyushh commented on #4809
hi @m-sterspace, permanentredirection works but proxy1 doesn't

[code]

Is this proxies.json correct?

[2020-04-06 13:43] daniel-white commented on #5098
This appears to be a problem on at least .NET Core 2.1, but is fixed in 3.x. I've raised it here:  dotnet/runtime#34586

[2020-04-06 14:02] brettsam commented on #5852
Could your json be invalid? I'm seeing a bunch of parsing exceptions like:

[code]

[2020-04-06 14:27] ChrisAllisonMalta commented on #5852
Is that from my function or globally? I'm happy to send you my json but as I say if I put a single whitespace character in the file in the Kudo utility it works?

Maybe its my mac formatting something strangely but my other json files are parsed correctly?

[2020-04-06 14:53] ericsampson commented on #4551
I think this could be closed now as it was resolved AFAIK?

[2020-04-06 15:10] brettsam commented on #5852
This is for your app specifically. The character it's showing as unexpected is `ï` -- so it's interesting that a whitespace would change that.

If you can send the broken and fixed json files to me that would help. My Microsoft email is in my github profile.

[2020-04-06 15:11] brettsam commented on #4551
Agreed.

[2020-04-06 15:11] #4551 closed

[2020-04-06 15:27] RufusJWB commented on #5963
@soninaren any update on this topic?

[2020-04-06 15:28] miantosca opened #5860 "Azure function build not creating Startup class entry in extensions.json"
Upgraded existing v2~ function project to v3~ and targeting .NET Core 3.1  with SDK v3.0.5 and now DI is no longer working.

I tracked down the issue and found that the extensions.json file that is created during build does not include an entry for Startup class - where the DI container is configured.

I manually added an extensions.json file that includes an entry for Startup and DI works correct

[2020-04-06 16:16] amamounelsayed commented on #5742
@adityachowta thank you I will have a look sir and let you know!

[2020-04-06 16:32] pragnagopa commented on #5046
cc @ahmelsayed  fyi

[2020-04-06 17:48] mhoeger commented on #5854
@fabiocav - it sounds like you might have some background on this. do you mind triaging?

[2020-04-06 18:05] jabbera commented on #5854
Origin of request to open new issue. https://github.com/Azure/azure-functions-host/issues/1063#issuecomment-608110162

[2020-04-06 18:47] ZippoLag opened #5861 "Implement @reboot for TimerTrigger functions to run only once on start-up"
#### What problem would the feature you're requesting solve? Please describe.
For cases when we need some type of initialization to take place when an App Service starts, it could be useful to have this done in an Azure Function that would run only once with the start of the process and then never again (until it is stopped and started or restarted).

In other CRON using servers, this seems to be

[2020-04-06 20:24] anthonychu commented on #5696
@pragnagopa @divyagandhii Do we have any documentation on `WEBSITE_MOUNT_ENABLED`, like when is it typically used (outside of the context of this workaround)? @asw101 and I are trying to understand what it's doing.

[2020-04-06 21:25] brettsam commented on #5852
Thanks @ChrisAllisonMalta -- I'll pass this around and see if we can figure out the issue. Will report back here. I'm wondering if this is an encoding issue -- and when you save via Kudu, it re-encodes it to something that we expect.

[2020-04-06 21:37] #5853 closed, assigned to brettsam

[2020-04-06 21:47] brettsam commented on #5852
I think this is an encoding issue -- I see that your file is "UTF-8 with BOM" which I suspect isn't getting read correctly. Can you check how you're saving this file? Maybe there's something you can do on your end to get it working?

[2020-04-06 22:07] balag0 commented on #5696
If the file pointed to by WEBSITE_RUN_FROM_PACKAGE is a squashfs file, it will be mounted to the container by default. Setting WEBSITE_MOUNT_ENABLED = 0 will extract the file instead of mounting it.

If the file pointed to by WEBSITE_RUN_FROM_PACKAGE is a zip file, it will be extracted inside the container by default. Setting WEBSITE_MOUNT_ENABLED = 1 will force mount the file instead of extractin

[2020-04-06 22:08] brettsam commented on #5852
Keep in mind also that this feature (using the json file) is still considered in preview and is not considered GA. I don't know if/when that will ever happen, either...

[2020-04-06 23:24] fabio-muramatsu opened #5865 "Timer trigger being interpreted in local time zone through local emulator"
#### Check for a solution in the Azure portal

- Function App version: 3.0.13139.0
- Function App name: N/A
- Invocation ID: N/A
- Region: N/A

#### Repro steps
I just found out that the Functions emulator interprets a cron expression in a timer trigger in the local time zone. I have a function with the following expression: `0 0 1,6,15,20 * * *`. When I run it locally, the emulator shows this:

[

[2020-04-07 03:53] nemana commented on #5835
Closing issue as It was issue with my appsetings.

[2020-04-07 03:53] #5835 closed, assigned to ankitkumarr

[2020-04-07 07:00] ghost commented on #5845
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-04-07 07:32] ChrisAllisonMalta commented on #5852
I'm just saving it in Visual Studio Mac like all of my other files, its just set to "copy to output directory". I was thinking it could be an encoding issue

[2020-04-07 07:34] ChrisAllisonMalta commented on #5852
Appreciate that but it would be good to have someway to restrict authenticated or unauthenticated calls to the API

[2020-04-07 11:22] ramxis opened #5871 "Reading cosmosdb errors in my Azure functions"
#### JavaScript

#### Question
Hey , is there a way to access error codes from output binding for cosmos db in azure fucntion, like if i have a binding to cosmosDB which writes a new document to it,
I want to access the error code when this write request is rejected because the document Id already exists. The function throws but never goes in the catch block so i cannot send the error code back to

[2020-04-07 17:31] bartdk-be commented on #5098
@daniel-white
Any pointer on where it should be fixed in 3.1 ? Because we faced a similar issue in 3.1 (using the functions DI setup). Thanks !

[2020-04-07 17:37] daniel-white commented on #5098
@bartdk-be: im not sure - in my miminal example at dotnet/runtime#34586 make sure your `Microsoft.Extensions.Http` is the latest version.

[2020-04-07 18:11] amamounelsayed commented on #5742
@adityachowta I had a look on the project and you are using old settings, example in the POM fileazure-functions-java-library 1.0.0-beta-4 we are now 1.3.1. azure.functions.maven.plugin.version 1.4.1.

Can you please follow the steps in https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function-azure-cli?pivots=programming-language-java&tabs=bash%2Cbrowser?

Thank

[2020-04-08 13:41] hkharan commented on #5624
@pragnagopa @mhoeger @yojagad Do we have any updates on the new release yet? Is there a place to track the new announcement?

[2020-04-08 14:11] brettsam opened #5874 "Activity.Current fixes"
There are some scenarios where directly referencing `System.Diagnostics.DiagnosticSource` can break usage of `Activity.Current`:
- referencing (even transitively) `DiagnosticSource` and deploying a `function.deps.json` file -- which happens by default now.
- directly referencing a version of `DiagnosticSource` that is ahead of the host.

We need tests around these and to investigate a fix that can

[2020-04-08 14:52] MichielCornilleESC commented on #5310
Recently had to change it to 3.0 (functions randomly stopped deploying with 2.0)

[2020-04-08 16:26] matthew-r-clark commented on #4959
I'm experiencing a similar issue with the same `Value cannot be null.` error and hangs for 2 minutes. The difference is that the runtime is able to find the extension bundle and doesn't attempt to download anything:

[code]

I tried removing the `/tmp/Functions/ExtensionBundles` directory and it seems to do the same thing except it doesn't say it found the extension bundle. It still doesn't appear

[2020-04-08 17:20] mhoeger commented on #5624
@hkharan - release has been cut and is undergoing testing this week. thanks for your patience!

[2020-04-08 17:21] claria opened #5875 "TimeTrigger Azure Function Python API pass ScheduleStatus to function"
#### What problem would the feature you're requesting solve? Please describe.
The TimeTrigger Function pass a TimerRequest[1] object to the executed function. Unlike in the C# interface, the only property of the TimerRequest object is the past_due attribute.

#### Describe the solution you'd like
Pass all the information, which are discussed and listed in [2], e.g. the ScheduleStatus.

```{`
    "

[2020-04-08 18:30] galvesribeiro opened #5876 "ReadyToRun support"
Hello folks!

Is there a way to support [ReadyToRun](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#readytorun-images) assemblies on Azure Functions?

It would help a lot the functions app cold start.

If that is already supported, do I just need to produce the right binary for the target function app host (linux or windows) ?

Thanks!

[2020-04-08 19:58] matthew-r-clark commented on #4959
Well I deleted the following from `host.json` and it started working locally.

[code]

[2020-04-08 20:53] bstoked commented on #5405
Any word on this? Upgrading to v3 broke our microservices.

[2020-04-09 08:09] gunzip opened #5879 "[Question] Application Insights internal telemetry client settings and NodeJS runtime"
Azure functions v2 NodeJS runtime

#### Question

Hi @brettsam, I read [here](https://github.com/Azure/azure-functions-host/issues/5235#issuecomment-553615017) that with C# runtime you can get the internal AI client.

I've read the docs abot the NodeJS runtime, but I cannot find an answer to some questions related to AI client instantiation:

1) ~~`applicationInsights.defaultClient` is a singleton

[2020-04-09 10:20] MichielCornilleESC commented on #5310
Actually, that turned out to be bullshit. The 2.0 or 3.0 values both work fine. It was just the fact that we changed the host.json file that made the deployment work again (once). Next day same problem for us (however that is an unrelated problem to this issue)

[2020-04-09 14:08] adityachowta commented on #5742
Hi I updated it but still the same result

[2020-04-09 16:51] amamounelsayed commented on #5742
@adityachowta thank you so much can you push the latest code to https://github.com/adityachowta/AzFunctionJavaDemo

Can you also confirm if you followed the steps and having The Azure CLI version 2.0.76 or later.

Really appreciate your cooperation,
Ahmed

[2020-04-10 10:00] #5845 closed, assigned to alrod

[2020-04-10 11:01] tomkerkhove commented on #5014
Bumping.

[2020-04-10 15:36] arkiaman commented on #1627
@ClaytonBrawley I had the same issue, and @brettsam is right, i used `AddApplicationInsightsWebjobs` from the `FunctionsStartup`. Once I removed this extension method, the traces were logged once (as soon as the `APPINSIGHTS_INSTRUMENTATIONKEY` setting is set).

[2020-04-10 17:23] balag0 opened #5881 "Support additional EndpointSuffix to enable non public azure clouds"
https://github.com/Azure/azure-functions-host/blob/638e46d91b7b6ba61a4abc1a46d1ddb39ee467ec/src/WebJobs.Script/Utility.cs#L763

[2020-04-10 22:28] anthonychu opened #5882 "Custom handlers - configure working directory for worker process"
Some applications are happier when you can configure the working directory in which it runs.

For instance:

[code]

Would be great if we could do something like the following instead:

[code]

[2020-04-10 22:49] soninaren commented on #5630
Extension bundle with ReadyToRun enabled is now available. Need host changes to consume the RR enabled bundle binaries

[2020-04-11 09:29] adityachowta commented on #5742
@amamounelsayed Below are the steps followed and observations:

1: Verifying the azure cli version
![Azure Cli](https://user-images.githubusercontent.com/8074739/79039991-ca0f4a80-7c02-11ea-9369-881b42781607.PNG)

2: I Updated the mvn dependencies to the latest versions, but those don't work for me as it does not create the function folder inside the target folder.
![image](https://user-images.git

[2020-04-11 13:53] adityachowta commented on #5742
Update :

I tried creating the function on a different machine and a different network and was able to successfully run the java based function with expected output. Also to mention that the dependencies auto-added during the creation of the function were the latest ones.

So i transferred the same project and it seems to runs in the previous setup now.

I'm guessing this is more to do because of

[2020-04-11 16:44] vany0114 commented on #5310
+1 the current error is confusing.

[2020-04-11 19:02] rickfunaki commented on #5832
This was a significant issue for us and took down crucial portions of our production environment. We had to fall back to business continuity procedures to work around the outage in all of our functions until we could find a code workaround.

This had happened at the end of January as well (previous GitHub issue: https://github.com/Azure/azure-functions-host/issues/5414), we were able to work aroun

[2020-04-12 01:09] argium commented on #5250
Edit: I _think_ I was able to resolve this by checking the box to delete all files at the destination while publishing.

@brettsam @fabiocav  I'm also experiencing logTrace and logDebug lines ending up in app insights despite host.json settings.

[code]

These TRACE rows below should be filtered out and not sent to app insights by the first line in the logLevel block above.

![image](https://user-

[2020-04-13 01:34] rodhemphill commented on #5098
Hi @t-l-k ... I guess you don't have a work around then? Same significant problem here - fighting with it for months. It seems to happen on all but trivial systems - certainly with three of our serverside blazor systems with between 30 and 50 services. We are thinking of writing a state memory solution - creating a "StateMemoryService" as a singleton and having it register the instances of each ot

[2020-04-13 10:00] OneCyrus commented on #5600
thanks for the explanation!

the host starts but no functions are registered as far as i can tell. also the issue is probabaly related to the mentioned extenion bundles as i get a handled exception because startupTypes is null. what are extenion bundles and how do i register them? @soninaren

![image](https://user-images.githubusercontent.com/7747800/79112141-2fd41180-7d7e-11ea-8e75-01b8bd1fef79.p

[2020-04-13 16:27] amamounelsayed commented on #5742
Thank you so much @adityachowta  for your update and glad that is working. Please if you have any questions let us know.

[2020-04-13 16:29] #5742 closed, assigned to amamounelsayed

[2020-04-13 17:31] mathewc opened #5884 "Update "Effective Core Count" calculations for VMSS"
In some places (e.g. https://github.com/Azure/azure-functions-host/blob/638e46d91b7b6ba61a4abc1a46d1ddb39ee467ec/src/WebJobs.Script.WebHost/Program.cs#L119) we calculate the number of effective cores based on SKU restrictions. We need to take VMSS into account in those places.

We should have a centralized method that does this computation.

@brettsam @safihamid FYI

[2020-04-13 18:10] safihamid commented on #5884
One way to check for VMSS is to look at RoleInstanceId env variable and if it has HostRole in it then it is VMSS.

[2020-04-13 18:34] safihamid commented on #5884
CC @pavelzel

[2020-04-13 19:08] kashimiz commented on #5715
@lommez I'm sorry for the delayed response time on this. Can you elaborate a bit more on your project setup? If you don't have the source code of the function you're running, where are you executing the following?

[code]

[2020-04-13 19:26] Hazhzeng commented on #999
Another customer is raising the same issue 183252697.

[2020-04-13 20:28] kulkarnisonia16 commented on #5125
Assigning to Sprint 74 for initial investigation.

[2020-04-13 20:33] kulkarnisonia16 commented on #5526
@mhoeger Assigning to Sprint 74. Can you clarify the work remaining to be done?

[2020-04-13 20:44] mhoeger commented on #5526
@kulkarnisonia16 - I believe we are just waiting for deployments. @Hazhzeng and @divyagandhii worked on fixes to populate the data ([here](https://github.com/Azure/azure-functions-host/commit/20f0c6d7fcf987f37f29b79030a75145fe15ccf9) and [here](https://github.com/Azure/azure-functions-host/commit/df16295e872e898d5a34a3efca8418d2ca69dce6)). These changes are going out with a hotfix deployment likel

[2020-04-13 21:11] jeffhollan commented on #5763
@fabiocav to potentially see who would make sense to investigate

[2020-04-13 21:33] AnatoliB commented on #5526
@mhoeger I'm also not very clear on the current ANT 87 deployment status. I can see my changes started working on some stamps, but not everywhere. Apparently, the deployment has been stopped and we need to wait for ANT 87.1 now. I will update this thread if I find something different.

[2020-04-13 22:21] #5850 closed, assigned to alrod

[2020-04-14 00:48] melbappdev commented on #5098
Hey @fabiocav, if you are up for fixing this I can help. I have three client projects that have the problem and I can easily produce a situation that doesn't get the problem. I can't give you client repos but I have a testing repo that I can share with you. The problem is easy to reproduce and demonstrate in that repo.  This repo includes EF and various service classes, some of which cascade injec

[2020-04-14 17:39] AnatoliB commented on #5526
As far as I understand now, ANT 87 is not entirely complete yet: we are still waiting for Geo's. So, no need to wait for ANT 87.1.

[2020-04-14 18:31] pragnagopa commented on #4574
cc @AnatoliB
Assigning this to Sprint 74 as this is a blocker for Powershell placeholders.

[2020-04-14 18:50] hyperyn commented on #4883
Wondering if anyone's found a solution to this - our team's running into the same problem with missing dependencies on consumption Linux apps.

[2020-04-14 21:38] ankitkumarr commented on #5851
+@fabiocav
Had an internal customer report for this issue as well.

[2020-04-14 23:49] kashimiz commented on #5865
Thank you for reporting this issue, @fabio-muramatsu. Can you provide more information about your local development system such as whether you're on Windows/Linux/Mac, what language the trigger is defined in, and whether you're using an Azure Storage account, or an emulator like Azure Storage Emulator or Azurite?

[2020-04-15 00:36] fabio-muramatsu commented on #5865
Sure.
* I'm running the solution on Windows 10;
* The trigger is defined in C#;
* I'm using the Azure Storage Emulator.

Let me know if I can provide more information.

[2020-04-15 02:46] kashimiz commented on #5865
Thank you. I've been able to reproduce this bug under the described conditions.

[2020-04-15 02:47] kashimiz commented on #5865
@mathewc or @fabiocav any idea what might be going on here?

[2020-04-15 09:08] valdisiljuconoks commented on #5660
I'm experiencing similar issue with timers.
Runtime: v1
Timer: "*/4 * * * * *"
UseMonitor: true

Function.json:

[code]

![image](https://user-images.githubusercontent.com/1767179/79319813-7d34b800-7f11-11ea-93fe-1c70d4a64e88.png)

Workaround for this was to disable & enable function. That restarted trigger and now function is running again.
However, we have real-time critical system and this show

[2020-04-15 12:44] pseabury commented on #1864
@brettsam

`2020-04-15 09:35:27,550 Host.Singleton RD00155DE250FA ERROR Singleton lock renewal failed for blob 'fr911prodadapterprocessorfunc/host' with error code 409: LeaseIdMismatchWithLeaseOperation. The last successful renewal completed at 2020-04-15T09:34:52.747Z (34714 milliseconds ago) with a duration of 140 milliseconds. The lease period was 15000 milliseconds.`

Overnight I saw this erro

[2020-04-15 13:44] pseabury commented on #1864
Disregard my previous - after further investigation these errors were just coincidental to another network issue outside of Azure.

[2020-04-15 14:15] danbcd commented on #4869
Canada Central or East for Python would be appreciated!

[2020-04-15 14:39] hkharan commented on #5624
@pragnagopa  @mhoeger  @yojagad  Hope the testing went as expected. Do we have a release date yet? Thanks!

[2020-04-15 15:08] pragnagopa opened #5885 "Investigate breaking change analysis logs"

[2020-04-15 17:10] balag0 commented on #5660
@valdisiljuconoks  If you can share the function app name that would be very helpful.
If not please share the region and os (windows / linux)

[2020-04-15 18:28] MichalLechowski opened #5886 "AddAuthentication() as IdentityServer4 throws exception - is that a bug or non-existing feature?"
Hello,

is authentication/authorization using IS4 possible in Azure Function v3 (.net core 3.1)?

What I mean is this works in a regular WebAPI (code is just a partial example):
[code]
And I just put **[Authorize(Roles = "admin")]** attribute over endpoints to call the IS4 auth.

What I need is to setup something similar for Azure Function v3 (.net core 3.1) that uses the very same IS4 instance, s

[2020-04-15 19:33] lluppes commented on #5963
any update on this topic...?   We're getting the same exact message with a build of an Azure Function using .NET Core 3.1.   Going back to .NET Core 2 is maybe possible, but a really bad option for us.

[2020-04-15 19:37] valdisiljuconoks commented on #5660
rthub-collectors-funcapp-prod

[2020-04-15 20:06] fabiocav commented on #5849
Work should be completed. Following up with @mathewc for any remaining work before closing

[2020-04-15 20:09] fabiocav commented on #5848
PR is out, need to wrap up the review.

[2020-04-15 20:13] fabiocav commented on #5734
Closing as completed.

@ankitkumarr will be following up with additional documentation items.

[2020-04-15 20:13] #5734 closed, assigned to ankitkumarr

[2020-04-15 20:14] fabiocav commented on #5728
Some progress made i sprint 73, moving to sprint 74 so we can continue this work.

[2020-04-15 20:17] fabiocav commented on #5597
@momolder are you still experiencing this issue with the latest version of the SDK?

[2020-04-15 20:21] fabiocav commented on #5385
@mhoeger are you still planning on reopening #5662 ?

[2020-04-15 20:29] fabiocav commented on #5843
@brettsam moving this to 74, but let me know if we need to assign it to a different milestone.

[2020-04-15 20:30] fabiocav commented on #4761
We're now unblocked, so we should be able to merge the changes in sprint 74

[2020-04-15 20:38] fabiocav commented on #5526
We need to validate whether this is working now that ANT 87 is done.

[2020-04-15 20:42] fabiocav commented on #5125
Assigning to @ankitkumarr as a stretch goal for 74.

[2020-04-15 20:43] ankitkumarr opened #5887 "Update Linux Premium Release devops pipeline and documentation"
The work for improving the Linux Premium Release is complete, and new release pipelines have been create. We need to update the documentation and also slowly phase out the old pipeline.

Creating a work item to track the work for this.

[2020-04-15 20:46] ankitkumarr commented on #5793
Moving to Sprint 74 as a stretch item.

[2020-04-15 21:02] AtOMiCNebula commented on #4952
@fabiocav / @brettsam ping, my most recent comment still appears to be the current state of things.

[2020-04-15 21:14] mhoeger commented on #5526
@kulkarnisonia16 - running a query (and validating from an app in prod), it looks like the App Setting `FUNCTIONS_WORKER_RUNTIME_VERSION` is now being populated in Windows and the value is being emitted to FunctionsMetrics (example event name: "host.startup.runtime.language.node-~8")

From our perspective, the work is complete but please let us know if there's any work that remains to consider thi

[2020-04-15 22:36] brettsam commented on #5963
Do you have TreatWarningsAsErrors = true? My repro is showing these as Warnings. But I wonder if we should just make them Messages or explicitly ignore this exception.

[2020-04-15 22:46] brettsam commented on #5963
Another thing I'll need to investigate -- why does a `dotnet build` work here but a `dotnet publish` doesn't?

These are likely platform-specific assemblies (which is why we can't load them for evaluation) -- but should they be here or in the `runtimes` directory?

[2020-04-15 23:12] lluppes commented on #5963
I do not have TreatWarningsAsErrors = true turned on.  Yes - this worked with a "dotnet build" step, but fails on a "dotnet publish" step (most of the time).  Occasionally when the build server runs, it does work, then the next time it fails.  Both times I'll see the errors about "Bad IL Format" in the log, but sometimes it succeeds and sometimes it fails...

[2020-04-16 00:28] ankitkumarr commented on #5734
Here's the issue tracking internal documentation -- https://github.com/Azure/azure-functions-host/issues/5887

[2020-04-16 03:59] kashimiz commented on #5847
Hi @euo, thank you for reporting this issue. My apologies for the delayed reply. Can you share your *.csproj file?

[2020-04-16 04:46] ShreyaRai18 opened #5888 "Hi,"
I am trying to run azure functions in python. When I run the default hello program, I am getting an error code 500, localhost is currently unable to handle this request.

[2020-04-16 05:05] kashimiz commented on #5814
Hi @domenichelfenstein, my apologies for the delay in response. This is happening because the `.AddSignalR()` service registration call overrides services provided by the host, [which is currently unsupported](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#overriding-host-services) - in this case, the authorization policy provider and the policy within

[2020-04-16 05:08] #5814 closed, assigned to kashimiz

[2020-04-16 09:27] XREvo opened #5889 "[Feature Request] Allow usage IJobHostHttpMiddleware in C# functions"
#### What problem would the feature you're requesting solve?

Nowaday we can't inject middleware (via [IJobHostHttpMiddleware](https://github.com/Azure/azure-functions-host/blob/v3.0.13353/src/WebJobs.Script.WebHost/Middleware/IJobHostHttpMiddleware.cs)) in order to having them been invoked in the [DefaultMiddlewarePipeline](https://github.com/Azure/azure-functions-host/blob/v3.0.13353/src/WebJobs

[2020-04-16 10:01] blawford opened #5890 "[Question] Blob Trigger Retries"
I am using a function with a blob trigger, I am trying to find out whether there is a way to tell what number retry the blob being processed is currently on?

If there isn’t, is there a way to catch execution before it writes the record to the poison queue?

I want to carry out different behaviour whether the blob will be retried or not.

[2020-04-16 10:16] RufusJWB commented on #5963
I do not have TreatWarningsAsErrors = true turned on, but my experience is, that un-resolved warnings later lead to strange errors. That's why I always try to fix all Warnings. If this really is not the case here, the log level should not be Warning but Message/Info.

[2020-04-16 13:14] adnang commented on #5851
Also seeing this same error. Is there an update? We're using durable functions, and the orchestration that got this exception is in a hanging state, where it's `running`. The control queues are empty so i can't get it to continue after restarting the function app

[2020-04-16 16:00] lluppes commented on #5963
Relevant log section:
[code]

[2020-04-16 16:17] paulhickman-a365 opened #5891 "Compiling with missing connection string creates unsuppressible warning"
#### Version Information

- Function App version: 2
- Language: C# Compiled .Net Core Assembly
- Compile-time issue, so app instance not relevant

#### Steps to Reproduce

I have a c# .Net function assembly with a function that uses a service bus trigger:

[code]

This would normally require ````MyConnectionString```` to be defined in ````localsettings.json````. However, I have modified the DI ser

[2020-04-16 18:30] droushd opened #5892 "Function App not visible in IAM"
Hi - i'm noticing that several function apps do not show up in search for adding them in IAM roles (e.g. give them permissions to keyvaults).  all items are in same geo location; resource group; etc.  Does the username who creates a function app need special permissions (e.g. create service principals in AAD)?

[2020-04-16 20:24] ankitkumarr commented on #5888
Hi, can you please add a repro of how you are running, and what code you are trying to run? Also please share the output and the exact error you see.

[2020-04-16 20:27] ankitkumarr commented on #5690
I know we do make storage transactions, but I am not sure if the rate of transactions is supposed to be as high as you are seeing.

@alrod / @brettsam, I know you were looking at some storage related issues. Do either of you have a comment or opinion on this?

[2020-04-16 20:30] ankitkumarr commented on #5797
Closing this as Anatoli has linked the relevant issues in the Powershell worker repository.

[2020-04-16 20:30] #5797 closed, assigned to ankitkumarr

[2020-04-16 20:51] Eirenarch commented on #5690
Just this week we "finished" investigating this with people from Azure support. Seems like this line was the problem

`.AddJsonFile("local.settings.json", optional: true, reloadOnChange: true)`

We did testing with and without it and it seems the bug only happens when this line is present. Note that the config file is not uploaded as part of the publish process, the line is for local use.

Now thi

[2020-04-17 07:27] ShreyaRai18 commented on #5888
<img width="951" alt="azurefun" src="https://user-images.githubusercontent.com/47493022/79555137-b5c4c500-80bc-11ea-8071-cfc29d1ab7b8.PNG">

 Here's is an image of the error I'm facing

[2020-04-17 07:49] Magnus12 commented on #2721
We are observing the same issue. A large number of requests with almost no messages
![image](https://user-images.githubusercontent.com/12508860/79545270-b2b3df80-8090-11ea-9c49-5bf08d814001.png)

[2020-04-17 08:47] momolder commented on #5597
Yes, with Microsoft.NET.Sdk.Functions 3.0.6 the issue still exists.

[2020-04-17 11:48] droushd commented on #5892
yes needed an identity for the app - https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet.

i'm assuming this is intentional that identities aren't getting assigned automatically on function app creation?

anyway thanks to all

[2020-04-17 13:20] antonGritsenko opened #5893 "Error on build for in-portal functions with NuGet references"
#### Investigative information

Please provide the following:

- Timestamp: 2020-04-17T13:10:40.297
- Function App version: 3.0
- Function App name: azsometest22
- Function name(s) (as appropriate): SomeTest
- Invocation ID: 9c2cedf0-5596-419f-aaef-190d1afd7744
- Region: Central US, West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create simple in-portal func

[2020-04-17 13:21] antonGritsenko commented on #5893
note: same works fine few weeks ago

[2020-04-17 14:46] brettsam commented on #5893
This does look like #4665 again. Did you try this (from https://github.com/Azure/azure-functions-host/issues/4665#issuecomment-512921553)

@soninaren / @fabiocav -- I don't recall what the issue was here. Is this something in App Service that needed to be changed?

[2020-04-17 15:36] antonGritsenko commented on #5893
@brettsam yeah, sorry, forget to mention. Yes, I did try this, same error.

[2020-04-17 20:15] brettsam opened #5894 "[ExtensionsMetadataGenerator] Improve configuration for cleaning build output"
Today we have an "all or nothing" approach to cleaning your build output and disabling this involves a (currently) undocumented MSBuild setting: `_FunctionsSkipCleanOutput`. We're seeing a handful of customers run into this -- they move forward to a newer version of an assembly that we're cleaning away.

This often fails with `Could not load file or assembly...` exceptions during runtime.

I think

[2020-04-17 20:22] brettsam commented on #5894
@fabiocav -- I'll sync with you on what we can do here.

[2020-04-17 22:00] ghost commented on #5715
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-04-18 02:59] smokedlinq commented on #5722
I opened a case with support this week on a similar issue. I was trying to use a Linux based function app, however the container wouldn't spin up before the "create" of the function app was done so it would fail. Moving to a Windows function app this problem does not seem to exist.

I did experience failures consistently when using a consumption plan. Normal app service plan worked fairly reliably

[2020-04-18 09:41] ramondeklein commented on #5894
I'll share my workaround from #1525 for people who run into this issue:

It seems that the `RemoveRuntimeDependencies` task removes this assemblies ([source](https://github.com/Azure/azure-functions-host/commit/1ed2a54159eb3c9aaff11a9289be2bf1ce91dcb5#diff-8924132f0d2b330a1888e0f17c5fcdb4R27)). It doesn't run when the `_FunctionsSkipCleanOutput` variable is set to `true`. Adding the following line

[2020-04-18 12:16] jabrena opened #5896 "Add support for GraalVM native function"
Hi,

I would like to know if exist any plan to add support for Graal VM Native image.

![](https://docs.oracle.com/en/graalvm/enterprise/19/guide/reference/overview_native-image-gen-image.png)

Many thanks in advance

Juan Antonio

[2020-04-18 13:38] t-l-k commented on #5098
@rodhemphill sticky tape and plasters I'm afraid. Basically failing requests and relying on the runtime to execute the request again with fingers crossed for subsequent attempts. We detect the problem in constructors of classes we know should be scoped, and thus when two instances are created in a logical execution scope (determined by `AsyncLocal`) we throw an exception and log it. Makes a mess o

[2020-04-18 14:11] petro2050 commented on #3965
@safihamid @fabiocav @jeffhollan According to this article (https://mikhail.io/2019/03/reducing-azure-functions-cold-start-time/), running from a zip file actually increases cold start times. Can you comment on that?

I have C# functions as well that are deployed as a package, and my cold starts can be as long as 12-15 seconds. This is unacceptable for a production app. What is the future of consu

[2020-04-18 14:23] petro2050 commented on #2636
Over the last 2 years, I've had several instances of a similar issue where deployed files were actually not being deployed even though VS publish was successful. For me, the solution was to restart the app. The worst thing happened only recently. I made several changes in a single publish and some were deployed while others were not.

https://github.com/Azure/Azure-Functions/issues/1555

[2020-04-18 15:48] safihamid commented on #3965
@petro2050 running from zip should not increase your cold start. Make sure you are deploying using the latest Functions SDK which actually decreases the zip size. Is it V2 or V3 app? Are you adding lots of extra dependencies? If yes make sure you publish with ReadyToRun set to true.

[2020-04-19 02:04] espray commented on #5886
No there is not an out-of-box way to get IdentityServer to work with AzFunc.

- `AddAuthentication()` dose not work

- .net core middleware is not supported

- Authorize attributes are not supported.

However, I did get it to get IdentityServer to work a little. Along with issue https://github.com/Azure/azure-functions-host/issues/4485, I had to create a custom `IEndpointRouter` this helped https:

[2020-04-19 02:29] espray commented on #5098
I have had all of my teams stopped all .Net Core AzFunc development, this Scoped DI issue was the final straw for me. If basic .Net Core DI dose not work who knows what other problems may show up at the wrong time, the risk is too great.

May be send a message/tweet to Damian Edwards @DamianEdwards and/or Scott Hanselman @shanselman about your AzFunc development experience.

[2020-04-19 03:49] AnthonyIacono commented on #5098
I think the thing that bothers me about this issue is that it has been around in some form or another for like a year and a half. The original bug was a two line fix, and I imagine the issue we are all facing currently is similar. Can we please get an update from engineering?

[2020-04-19 06:25] darrenhull commented on #5098
We too have had to stop using @azfunc as the scoping issue makes them unusable for our solution. This is very frustrating for a team that have embraced Azure functions from day one. I’ve been very disappointed with how long this issue has taken to be resolved @fabiocav , oh wait it’s still active! We too are seeking money back on our subscriptions.

[2020-04-19 06:50] melbappdev commented on #5098
I have wasted about 4 days solid on this issue and with impending delivery dates and (soon to be) an unhappy client ... I am glad you responded @t-l-k as you've saved me a lot more wasted time. Yes I agree @darrenhull that it sounds like it has taken too long to fix, but a more important question is: what has it cost? How many people like me have fallen into this hole? @fabiocav

[2020-04-19 16:47] petro2050 commented on #3965
@safihamid It's V3.

[code]

- Do I need to update my `host.json` file as well?

- As for the dependencies, in bin folder, I have 133 dlls. The unzipped size for all is 29 MBs. Is this too much?

- Do you have support for `ReadyToRun`? When I set it to true, I cannot publish the app via VS. I'm getting the following error:

#5876

- Do you run any optimizations on your end with respect to assembli

[2020-04-19 16:57] safihamid commented on #5876
Yes this is already supported.
Here is an example:

<PropertyGroup>

    <TargetFramework>netcoreapp3.1</TargetFramework>
    <AzureFunctionsVersion>v3</AzureFunctionsVersion>
    <PublishReadyToRun>true</PublishReadyToRun>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.NET.Sdk.Functions" Version="3.0.5" />
  </ItemGroup>

And then you can publish your project with:
 do

[2020-04-19 17:09] safihamid commented on #3965
@petro2050 i answered on the other git issue you mentioned. Make sure your Microsoft.NET.Sdk.Functions SDK version in .csproj file is 3.0.5 or higher.

  <ItemGroup>
    <PackageReference Include="Microsoft.NET.Sdk.Functions" Version="3.0.5" />
  </ItemGroup>

And then you can publish your project by passing RID to publish command:
 dotnet publish your prod.csproj -r win-x86 -c release

You can ad

[2020-04-19 17:28] petro2050 commented on #3965
I'm on SDK 3.0.3 right now and unable to upgrade due to an issue with `System.IdentityModel.Tokens.Jwt`.

Is this related to you or JWT?

I will use premium storage since I don't expect the zip size to shrink as I'm using only the most essential packages for my server infrastructure. Looking forward to the updates in the coming months. :)

[2020-04-19 17:34] safihamid commented on #3965
@petro2050 not sure about that issue, @fabiocav do you know why he can’t upgrade to 3.0.5, have you seen above error?
@petro2050 again I think enabling R2R should significantly improve your cold start. If it didn’t send me your app name and I will look further.

[2020-04-19 17:42] petro2050 commented on #5876
@safihamid Is there a way to publish with RID via VS Publish UI? I'm currently not using the CLI.

![Untitled](https://user-images.githubusercontent.com/62858360/79695200-28f44580-823b-11ea-8471-404ff46306e5.png)

Also, you said that we could add the RID to csproj. What part of the project file should it be added? I can't find code samples.

[2020-04-19 17:48] petro2050 commented on #5876
Nevermind. I was able to add `<RuntimeIdentifier>win-x64</RuntimeIdentifier>`. I noticed this slows down deployment time (which is okay). I will analyze runtime latency and see how RID is helping. Thanks a lot for the suggestion!

[2020-04-19 17:51] galvesribeiro commented on #5876
@safihamid thanks for getting back! Awesome news!

I'll try that tomorrow. Out development is fully on OSX but our hosts are linux so will just pass the `-r` at the CI servers.

Will keep you posted soon, thanks!

Gutemberg

[2020-04-19 17:54] petro2050 commented on #5876
@safihamid I just published (which was successful), but this shut down the app. I'm getting 503 errors. I restarted the app on Azure portal, but I'm still getting 503 after waiting for a while. If you can share your email, I'll send you info for you to look at the issue.

[2020-04-19 18:05] safihamid commented on #5876
@petro2050 is your app 32bit or 64bit? If 64bit make sure in azure portal you also pick 64bit. If 32bit make sure you publish with win-x86. My email hamids at MICROSOFT dot com

[2020-04-19 18:31] petro2050 commented on #5876
@safihamid Looks like it was 32bit. Changing it to 64bit fixed the issue!

In the publish UI, does it make a difference if the deployment mode is framework dependent or self contained?

Also should I check `Produce single file` and `Remove additional files at destination`? If I choose self contained option, then another checkbox appears to `trim unused assemblies`.

![Capture](https://user-images.

[2020-04-19 19:40] karim007 opened #5898 "Is it possible to deploy an Azure Function in self contained mode ?"
When I try to deploy in self contained mode, I get the following error:

`at Microsoft.Extensions.DependencyInjection.ActivatorUtilities.GetService(IServiceProvider sp,Type type,Type requiredBy,Boolean isDefaultParameterRequired) at lambda_method(Closure ,IServiceProvider ,Object[] ) at Microsoft.Azure.WebJobs.Host.Executors.DefaultJobActivator.CreateInstance[T](IServiceProvider serviceProvider) a

[2020-04-19 20:46] cygnim commented on #4577
The current guidance is to inject IOptions<T> into my services. That's not a great solution and I don't want that dependency nor do I have the ability to change this in pre-built class libraries. Consider this very real and very common scenario that cannot be achieved currently:
[code]
The fact that I can't access the configuration during Startup means I cannot properly configure services without

[2020-04-20 04:00] ghost commented on #5847
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-04-20 08:51] blawford commented on #5890
Bump.

[2020-04-20 14:29] UliPlabst commented on #3593
Is there any progress on this? I'm still hitting this bug!

[2020-04-20 15:17] brettsam commented on #4577
@cygnim -- `IOptions` isn't required by any means. `IConfiguration` is a service you can request in any of your DI factories and access directly. In your example, can you do this? I think that'll unblock you without the need for an additional wrapper class.

[code]

That being said, we do have a PR already (https://github.com/Azure/azure-webjobs-sdk/pull/2405) that will start to plumb this through

[2020-04-20 16:14] safihamid commented on #5876
@petro2050 select 'framework dependent'. This option should reduce your zip size.

[2020-04-20 18:40] mhoeger commented on #5306
Per James:
There is a known bug in this scenario, corresponding workitem is here:
(_Internal only_) Bug 6378863: FileShareManager.TryGetAzureFilesCredentials does not resolve KVAS connection string

Effects of this bug is that function apps using WEBSITE_CONTENTAZUREFILESCONNECTIONSTRING are unable to swap.

The guidance offered is to not configure WEBSITE_CONTENTAZUREFILECONNECTIONSTRING as a key

[2020-04-20 19:06] balag0 commented on #5722
If some one can share their app name and the template, we can investigate.
It looks like there are multiple different failures being reported on this thread across different skus , os types, different version of templates making it very difficult to investigate.

[2020-04-20 19:29] galvesribeiro commented on #5876
So, I've added this to the csproj:

[code]

Then `dotnet publish -c Release -o buildoutput`. Besides all the regular build messages, now I have those warnings:

[code]

I assume the `Bad IL format` is because those are not .net assemblies but instead native libraries, right?

Also, even with that, when I look at the output directory I see the same structure of DLLs that I had before... Is that cor

[2020-04-20 19:37] mhoeger commented on #5526
@kulkarnisonia16 - is it ok to close this issue?

[2020-04-20 21:23] jwisener commented on #4761
@fabiocav & @Misiu does that mean it's targeted such that this would be available in 2022?

[2020-04-20 21:34] safihamid commented on #5876
@galvesribeiro  make sure you are using sdk 3.0.5 or higher:

    <PackageReference Include="Microsoft.NET.Sdk.Functions" Version="3.0.5" />
  </ItemGroup>

Yes the output library structure is same but file sizes are larger becasue they include native code as well. I think you can ignore those warnings.

[2020-04-20 22:00] #5715 closed

[2020-04-20 22:55] anthonychu commented on #4809
@mhoeger Is it possible to handle these errors in the Node worker?

[2020-04-20 23:24] smokedlinq commented on #5722
@balag0 I sent you an email with some info I have from recent experiences.

[2020-04-21 00:44] #5849 closed, assigned to yojagad

[2020-04-21 04:10] TsuyoshiUshio opened #5901 "Enable Auto Dependnecy Tracking on Javascript worker"
#### What problem would the feature you're requesting solve? Please describe.
A customer want to track dependency telemetry on the Azure Functions with node. Even if we configured AppInsights by our selves, I doesn't inject the header related correlation.

#### Describe the solution you'd like
Currently, we can get TraceContext on the context object. I suppose, `setCurrentContext()` method might b

[2020-04-21 06:52] hannesne commented on #5170
Hi there @yojagad  we were just looking at this issue today, to correlate across requests. Has there been doc updates for this?

[2020-04-21 08:43] euo commented on #5847
Thanks for the response, @kashimiz.

here's my project file:

`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <AzureFunctionsVersion>v3</AzureFunctionsVersion>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.CosmosDB" Version="3.0.5" />
    <PackageReference Include="Microsoft.Azure.Web

[2020-04-21 17:26] paulbatum commented on #2636
@petro2050 I don't know what the underlying cause was of your partial deployment, but the possibility of this can be avoided completely by using run-from-package:
https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package

[2020-04-21 18:48] balag0 opened #5902 "Default consumption sku function timeout should apply to Linux also"
Both windows and linux consumption apps should have the same default function timeouts.

https://github.com/Azure/azure-functions-host/blob/ded932ba6de4353bf466e0afb6732d4dba208e5b/src/WebJobs.Script/Config/ScriptHostOptionsSetup.cs#L73

[2020-04-21 19:23] JaimeHu commented on #2636
My team has seen this occasionally over the last few months and restarting the app usually fixes it. We're using Azure Functions v2, WEBSITE_RUN_FROM_PACKAGE is set to 1, and we're using the Azure DevOps task Azure Functions App Deploy. The ADO Task deployment is set to "Autodetect" and the logs show it's using Zip Deploy and succeeding.

We're investigating an issue today that started last night

[2020-04-21 20:03] JaimeHu commented on #2636
I figured out how to download the bits from the server and verified it did have our latest by comparing timestamps on the dlls. They lined up with our latest deployment from this morning.

[2020-04-22 00:06] AartBluestoke commented on #2636
i have seen this issue in my functions, where the running code was different from the "successfully" devops deployed zip,
This was traced to a corrupt host.json. There may be other scenarios where the uploaded zip is unable to be used, so the old code continues to run.

[2020-04-22 01:40] ethan-aer commented on #4869
Canada Central please!!

[2020-04-22 03:36] petro2050 commented on #2636
@paulbatum I'm on V3 and already running from package. As others mentioned, there are occasional differences between what is supposedly deployed and what is actually deployed. I'll be going live this year and worry about this biting me in the future, especially considering multiple active instances. The process to deploy changes to every worker has to be robust.

[2020-04-22 04:58] ablehome17 commented on #1663
Any update on this issue? does it support the upserting now? Thanks

[2020-04-22 13:43] seesharprun commented on #5893
I'm getting this same issue with multiple functions. The app setting did not work.

[2020-04-22 15:44] munseym commented on #5240
I am seeing this as well.

[2020-04-22 16:38] soninaren commented on #5690
@Eirenarch, There are several possible reasons for the spike to happen randomly. However it is very difficult to accurately find that out without having a fully controlled environment to test this. Going to close this issue as the it has been resolved.