[2022-07-15 08:19] TobiasBreuer commented on #7610
Hi @MO2k4, when given as QueryString parameter, for GET requests I don't know of any build-in functionality to perform such a mapping when the names differ.

Depending on the type of request your are performing I see two options:

In case it is a GET, you'll have to either use the Route parameter or access the query parameter the classic way like `req.Query["value_id"]`

In case it is a POST, and

[2022-07-15 13:20] MO2k4 commented on #7610
I've opened in pr for this 😅 [PR 787](https://github.com/Azure/azure-webjobs-sdk-extensions/pull/787)

[2022-07-15 19:24] v-oleg commented on #8230
Just realized that initially i did not use metric namespace and by default they went to log-based namespace. Then i changed to use custom metric namespace. So now same metric name exists in both log-based and custom metric namespace. And looks like most of the metric values are posted in log-based namespace

[2022-07-15 22:45] madelinegordon opened #8550 "Add IServiceProvider to dependency validator"
#### What problem would the feature you're requesting solve? Please describe.
Customers are registering IServiceProvider, and this is leading to unexpected behavior and startup issues.

#### Describe the solution you'd like
Add validation logic such that customers running on:

- v3: receive a clear warning that this registration might cause startup issues.
- v4: receive a clear error stating that

[2022-07-16 02:02] Davlomsft commented on #3266
Try adding the setting BLOB_FUNCTION_GO value "true"

[2022-07-17 16:02] ghost commented on #8536
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-07-18 00:45] klyse commented on #8536
Hi @Ved2806, this issue is not stale and I am still hoping for an answer🥹

[2022-07-18 01:02] ghost commented on #8501
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-07-18 04:48] Ved2806 commented on #8541
Hi @TimoBSchott, Thank you for the feedback, we will discuss this issue internally and let you know about the findings soon!

[2022-07-18 05:11] Ved2806 commented on #8544
Hi @arpitmishra-eaton Could you please let us know in more details? which resource you are trying to deploy? Please tell more details about the deployment process. Are you using azure DevOps pipeline?

[2022-07-18 05:14] Ved2806 commented on #8546
Hi @fabiocav Could you please help with this issue?

[2022-07-18 07:08] lpapudippu commented on #8181
@jainharsh98 Can you please look into it?

[2022-07-18 18:31] spmanjunath opened #8554 "Queue triggered Azure function displays 'Critical availability error'."
The 'Diagnose and solve problems' blade of an queue triggered Azure function displays 'Missing Application Settings detected' error.  It appears that the function is triggered as expected when an item is added to the queue, however, the error is concerning.  What could be the possible reasons of this error? (I couldn't find any relevant information in **Troubleshooting categories** section).

![im

[2022-07-19 07:09] Ved2806 commented on #8554
Hi @spmanjunath, Please verify if you have configured the storage account connection string while adding queue message input or output bindings. Please go through this [document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings?tabs=csharp) and let us know if it helps. Thanks.

[2022-07-19 07:12] Ved2806 commented on #8482
Hi @fabiocav Could you please help with this?

[2022-07-19 07:15] Ved2806 commented on #8460
Hi @mattchenderson please provide your inputs with this issue. Thanks.

[2022-07-19 07:16] Ved2806 commented on #8429
Hi @kshyju Do you have any inputs with this?

[2022-07-19 08:39] spmanjunath commented on #8554
Hi @Ved2806, the host storage account connection string is configured properly, the Function app has a HttpTriggered function and Queue triggered function, both of them are triggered and working as expected.  However, the concern is related to the 'Critical error' alert seen in 'Diagnose and solve problems" blade.  FYI below are other relevant configurations,

![image](https://user-images.githubus

[2022-07-19 09:53] Ved2806 commented on #8519
Hi @timgabrhel, Thank you for the feedback, we will discuss this issue internally and let you know about the findings soon

[2022-07-19 14:22] jainharsh98 commented on #8181
The issue is that during host startup, it attempts to create a directory [here](https://github.com/Azure/azure-functions-host/blob/f1c6016b8e3a0f6ad8f02eb04297badf118e7acb/src/WebJobs.Script.WebHost/FileMonitoringService.cs#L190). The path for the directory is set [here]( https://github.com/Azure/azure-functions-host/blob/6c80f8b0649f964899c30228241969d73275acb7/src/WebJobs.Script.WebHost/Configur

[2022-07-19 16:13] springcomp commented on #8181
That’s awesome. Thanks for getting to the bottom of this.

[2022-07-19 16:26] satvu commented on #8097
Closing as resolved

[2022-07-19 16:26] #8097 closed, assigned to satvu, Ved2806

[2022-07-19 19:03] surgupta-msft commented on #8455
@andystaples @Francisco-Gamino I have a few questions -

1. Are you also seeing this issue with legacy apps and working indexing not enabled? Also, if you can share behavior with and without extension bundles for legacy apps.
2. Can you share Host and Core-tools versions you are testing with?

It will be helpful if you can double check details in this issue and create a new one (and assign to me)

[2022-07-19 19:25] paldaniel commented on #8437
Hi everyone, any update on this topic?,

[2022-07-19 23:02] mizrael opened #8558 "TelemetryClient usage with Azure Functions v4"
I've created an Azure Function v4 on net6.0 and I'm trying to track some custom events using `TelemetryClient.TrackEvent`.
However, if I inject a `TelemetryClient` instance and use it, nothing shows up on the Azure Portal.
If I instantiate the client manually and set the instrumentation key, the events pop up immediately.
Any idea?

[2022-07-19 23:36] mizrael commented on #8558
nevermind, I figured it out. I am not sure why, but apparently I had to manually register a `TelemetryConfiguration` in my `Startup`, otherwise `TelemetryClient` simply won't work.
Something like this:

[code]

[2022-07-19 23:36] #8558 closed, assigned to brettsam

[2022-07-20 18:25] andystaples opened #8559 "Worker fails to initialize from Core Tools when Worker Indexing is enabled in PowerShell 7.2 worker"
I am working on a version of the PowerShell worker which supports indexing of functions from within the worker, similar to PyStein. When the PowerShell 7.2 worker and the Function App report compatibility with worker indexing, and extension bundles are enabled, the Core Tools reports an issue starting the Host. Here is the error I get:

#### Investigative information

Log output from func host sta

[2022-07-20 18:27] andystaples commented on #8559
Core tools version:

Azure Functions Core Tools
Core Tools Version:       4.0.4590 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.5.2.18383

[2022-07-20 18:27] andystaples commented on #8455
Submitted this as a new issue at https://github.com/Azure/azure-functions-host/issues/8559
Let me know if you need any more information on that, I have assigned the issue to you @surgupta-msft

[2022-07-20 21:09] surgupta-msft commented on #8559
@andystaples any reason why we are testing with Host 4.5.2 and not the latest one (4.8.0 or 4.7.x)?

Also, can you share all logs with verbose flag (either attach the file here or email me) as I cannot see if worker indexing was enabled in logs.

[2022-07-21 04:02] #8501 closed, assigned to surgupta-msft, Ved2806

[2022-07-21 17:00] #8529 closed, assigned to surgupta-msft

[2022-07-21 17:07] andystaples commented on #8559
Here is a log file containing full logs output from the latest Core Tools version at https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash
Let me know if there is another version of the Core Tools/Host you want me to try.
[Core Tools output verbose.log](https://github.com/Azure/azure-functions-host/files/9161331/Core.Tools.output.verb

[2022-07-21 20:10] fabiocav commented on #2308
Changes currently in PR. Moving to sprint 127.

[2022-07-21 20:57] liliankasem opened #8562 "The grace period for timeouts should be configurable"
The grace period (that we get from WebJobs) for timeouts should be configurable.

The current [timeout grace period](https://github.com/Azure/azure-functions-host/blob/7971944540d259e7e3ebedd45a775efd353a5f70/src/WebJobs.Script.WebHost/WebScriptHostExceptionHandler.cs#L36) we use when `OnTimeoutExceptionAsync` is triggered is set to two seconds, with the incoming support for out-of-proc invocation

[2022-07-22 07:02] ghost commented on #8544
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-07-22 10:47] erwinkramer commented on #4192
Found this one too in my PowerShell Function App, it's scheduled but it gave this error only yesterday (once), it has a failure rate of 0.7%, not sure what the issue is.

[code]

[2022-07-22 15:13] ChrisAllisonMalta opened #8567 "Authentication with AAD does not authenticate requests within the portal"
When I turn on MS AAD authentication in the Azure Function in the portal I CANNOT execute any functions, even within the portal let alone in client apps.

#### Investigative information

Please provide the following:

- Timestamp: 22.07.2022 17:00 CET (approx)
- Function App version: 4
- Function App name: TestingMSAuth
- Function name(s) (as appropriate): TestMSAuth
- Invocation ID:
- Region: Fra

[2022-07-22 15:56] mimuruth commented on #8460
@Ved2806 Do you have the correlation Id?

[2022-07-24 23:01] wbail opened #8571 "Issue to run tests locally due duplicated package reference"
Issue to run tests locally due duplicated package in the csproj.

#### Investigative information

N/A

#### Repro steps

1. clone the repo
2. try to run a test from "WebJobs.Script.Tests" project in ***dev*** branch.

#### Expected behavior

Run the tests successfully.

#### Actual behavior

The project doesn't compile.

#### Known workarounds

Remove the duplicated reference (the older one)

####

[2022-07-25 07:44] #8256 closed, assigned to kashimiz

[2022-07-25 07:44] #8257 closed, assigned to kashimiz

[2022-07-25 10:02] #8544 closed, assigned to kashimiz, Ved2806

[2022-07-25 14:07] czb182 opened #8573 "Dependency Update ApplicationInsights 2.21"
I want to consume recently released ApplicationInsights 2.21 SDK.  I believe it is required to reference the same version of SDK as referencing by azure functions host, so requesting azure functions host AI SDK be updated from 2.20 to 2.21

[2022-07-25 14:16] Ved2806 commented on #8573
Hi @czb182 Thank you for the feedback, we will discuss this internally and let you know about the findings soon

[2022-07-25 14:30] Hector47 commented on #8539
Hello, It just did it again.

Thanks for your help

[2022-07-25 15:35] boylec commented on #8261
Sorry I'm not following with this response from @TsuyoshiUshio

To be clear, how are consumers of Azure Service Bus that want to use Managed Identity supposed to bind their functions?

Are you saying that we can't use ServiceBus__fullyQualifiedNamespace as an app setting and expect functions that use the ServiceBusTrigger to work as designed - instead we must use a different prefix than "ServiceBu

[2022-07-26 01:51] liliankasem commented on #8571
Oddly, I have been able to build and run the tests in the dev branch without any issues. But agree that we should probably remove the dup. Right now we are not able to merge your PR because of this issue #7923, so I've created a PR to address it here: https://github.com/Azure/azure-functions-host/pull/8579

[2022-07-26 11:56] TimMarshAU opened #8580 "Blob trigger stopped working in Function App"
Hi all

Sorry if in wrong place - please let me know where this should go.

We're using blob triggers in a Function App to detect new files.

Function Extension Version ~4, Node.js 16 LTS.

Expected behaviour: new file added to container/path triggers the Function App.

Problem:
Function App + blob triggers has been working fine for around 2 months until 25/7/2022 AEST when triggers (2 blob trigge

[2022-07-26 14:40] Ved2806 commented on #8567
Hi @ChrisAllisonMalta Thanks for your feedback, we are reproducing this issue and discussing it internally and will let you know about the findings soon.

[2022-07-26 15:55] ChrisAllisonMalta commented on #8567
Thanks @Ved2806 , I had also logged a support ticket (TrackingID#2207190050001558) in Azure on this issue and the wider problem its causing me, there maybe some extra data in there that helps

[2022-07-26 17:48] abouroubi commented on #5469
Is there any news on this ? Now that .NET 6 us supported and the v4 is out

[2022-07-26 19:03] #8571 closed, assigned to wbail

[2022-07-26 21:38] #2308 closed

[2022-07-27 08:57] Arjan321 opened #8583 "Random "The service is unavailable." and "Azure Functions runtime is unreachable" errors"
We have been running a couple of Azure Functions in various subscriptions, and every once in a while (about once a week), the entire Azure Function goes down and reports "The service is unavailable." when accessing the Function-app via HTTP and reports "Azure Functions runtime is unreachable" in the Azure Portal.

HTTP response:
![image](https://user-images.githubusercontent.com/47455366/181205074

[2022-07-27 09:04] spmanjunath commented on #8554
@Ved2806 Any update on this issue?

[2022-07-27 16:42] surgupta-msft commented on #7292
@paulbatum @pragnagopa @fabiocav
I have started looking into this. Can you share some thoughts on what signals can help Host identify if a worker is faulty?

[2022-07-27 17:01] paulbatum commented on #7292
I would suggest starting with a function app that follows a simple failure pattern - specifically write the function code such that when its running in worker 1, it always succeeds, when its working in worker 2, it always fails. You can use the shared filesystem to coordinate such behavior. Then you can observe the signals the host recieves in this case - e.g. every execution it dispatches to work

[2022-07-27 17:33] mathewc commented on #8554
@spmanjunath so you're saying your function has managed identity configured correctly and is running fine? Might be a problem with the detector then, giving a false positive error. Looks like the detector isn't taking the managed identity setting naming pattern into consideration.

[2022-07-27 18:00] spmanjunath commented on #8554
@mathewc - It could be the detector error, if so, it is good to get this resolved - not sure which team handles this.  It is difficult to ignore such errors.  Any suggestion on what should be the next steps?

[2022-07-27 18:20] mathewc commented on #8554
I've started an internal discussion on this issue with @sidkri @FinVamp1 to determine the owner of the detector logic and if changes need to be made, thanks.

[2022-07-27 18:40] mathewc commented on #7292
Because part of the solution here will be to introduce monitoring for each worker to track % failed invocations, invocation latencies and other health metrics, perhaps a good first step would be to introduce this monitoring along with logging/metrics which would enable us to query production logs to see how many apps are in this state, and the prevalent patterns that we can use to guide the featur

[2022-07-27 19:43] boylec commented on #8261
I believe I have resolved my issue. Details below.

The scale controller (which us end users have no control over from what I can tell) is responsible for waking the JobHost up to consume messages when a service bus queue has any messages.

1. I've added the Azure Service Bus Data Owner role (along w/ Azure Service Bus Data Reader) to my function app's managed identity (which it didn't have before

[2022-07-27 20:47] fabiocav commented on #7900
@safihamid we may need to work with @amamounelsayed and folks responsible for the various deployment mechanisms we support to track this against the appropriate repos.

I can help drive this for VS/VS Code, but I think the focus here should be on DevOps.

[2022-07-27 20:54] fabiocav commented on #8228
Both PRs have been merged. Closing as resolved.

[2022-07-27 21:00] fabiocav commented on #8562
One thing to note here is that the sum of timeout and grace period cannot exceed the maximum timeout for the SKU (e.g., 10 mins on Consumption Plans)

[2022-07-27 21:01] fabiocav commented on #8562
@mathewc FYI

[2022-07-28 07:50] ADRaks opened #8586 "413 Request entity too large"
Fixed with #5820

_Originally posted by @fabiocav in https://github.com/Azure/azure-functions-host/issues/5548#issuecomment-607464343_

Hi I am also facing the same problem, from your fix i couldn't understand which fix i need to use.

I am using Azure function app Http trigger and if i try to upload a file of more than 100MB than 413 Request entity too large error throwing.

[2022-07-28 13:10] lennarttenwolde commented on #8181
@jainharsh98  Thanks for your response. This fixed indeed our first startup error. Unfortunately the host still breaks when trying to create the dir for the secretsSentinelFilePath in the [BaseSecretsRepository.cs](https://github.com/Azure/azure-functions-host/blob/f1c6016b8e3a0f6ad8f02eb04297badf118e7acb/src/WebJobs.Script.WebHost/Security/KeyManagement/BaseSecretsRepository.cs#L113)

[code]

App

[2022-07-28 17:07] czb182 opened #8587 "Reference Microsoft.Identity.Web 1.25.1 - Could not load file or assembly Microsoft.IdentityModel.Logging"
Microsoft.Net.SDK.Functions 4.1.1
.net6
Azure Functions Host 4.6.1 (via core-tools in visual studio)

I have a library that references Microsoft.Identity.Web 1.25.1 which is referenced by my functions project. At runtime I get
"Microsoft.Identity.Web: Could not load file or assembly 'Microsoft.IdentityModel.Logging, Version=6.20.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system ca

[2022-07-28 17:20] czb182 commented on #8587
It works fine if my library references Microsoft.Identity.Web 1.25.0.

Looks like there is a new dependency in Microsoft.Identity.Web 1.25.1.  Microsoft.IdentityModel.LoggingExtensions which itself has a dependency on Microsoft.IdentityModel.Abstractions.

[2022-07-28 19:46] IronSean commented on #4689
This is still biting people 3 years later... @brettsam any updates?

[2022-07-28 19:49] czb182 commented on #8587
It works if I add this to function csproj

  <PropertyGroup>
    <_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>
  </PropertyGroup>

then the Microsoft.IdentityModel.Logging file exist in the nested bin folder and no exceptions.

I dont know what all this would affect, so hesitant to use this work around.

[2022-07-28 20:16] IronSean commented on #4689
To articulate the reasons I'm unhappy with this:

1. I cannot use basic ILogger DI for core classes that get called by an Azure Function as the logs will not appear in the functions log stream
2. I cannot use ILogger<T> because it will not log into the log stream
3. I have to install the `Microsoft.Azure.WebJob` NuGet package to get the right namespace string which is otherwise unnecessary
4. I ha

[2022-07-28 20:44] mathewc commented on #8562
What problems are we seeing with this not being configurable? Is there a decent default value we can use that will address the issues w/o making it user configurable in host.json? There is a note in the code [here](https://github.com/Azure/azure-functions-host/blob/852eed9ceef6ef56b431428a8eb31f1bd9c97f3b/src/WebJobs.Script/CustomAttributeBuilderUtility.cs#L47) where we default some of these other

[2022-07-28 21:53] liliankasem commented on #8562
Now that we're sending a cancellation message to out-of-proc workers and allowing them to signal cancellation tokens for their invocations, we want to allow users to set a grace period so that when they do get that cancellation signal they have enough time to act on it during the timeout scenario. Currently when timeout occurs, we signal cancellation but there isn't enough time for users to handle

[2022-07-29 06:42] shibayan opened #8591 "Question about retry policy support status for `CosmosDBTrigger`"
#### Is your question related to a specific version? If so, please specify:

Azure Functions v4

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

All

#### Question

We have already set a retry policy for `CosmosDBTrigger` to prevent Change Feed checkpoints from advancing on failure, ensuring reliable processing without data loss.

e.g. https://dev.to/shibayan/a-qu

[2022-07-29 10:13] wesselkranenborg commented on #8499
@fabiocav: Is there any update on this? To me it looks like a small change, I can also try to contribute something but then it helps if I get some pointers where and how to change it.

[2022-07-29 22:41] surgupta-msft commented on #8413
While we are investigating this, the [workaround](https://github.com/Azure/azure-functions-host/issues/8413#issuecomment-1136893015) suggested above is the correct approach. You can also use another approach to return [ContentResult](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.contentresult?view=aspnetcore-6.0)  `Task<ContentResult>` and set StatusCode in it.

[2022-07-31 15:58] rshubham opened #8595 "Getting Microsoft.Azure.WebJobs.Extensions.Storage: Unable to convert trigger to IStorageQueueMessage."
#### Is your question related to a specific version? If so, please specify:
Using Azure Functions Core Tools - 4.0.3971.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Java

#### Question
I'm trying to use @QueueTrigger for testing my Azure Function locally, but while triggering it from

I'm getting this error:

[code]

Code:

[code]

I'm setting storage-conn-str

[2022-08-01 06:08] ADRaks commented on #8586
@madelinegordon  can you please help on this ?

[2022-08-01 08:11] mdddev commented on #8542
I imagine a workaround could look like this:

* blob-triggered function A triggers on new blob in container C
* function A pushes the blob-event's meta data via queue message onto a storage queue Q
* queue-triggered function B listens for new messages on Q
* since now the business logic is handled by function B, any failures should respect the maxDequeueCount property in host.json

Tradeoffs:

* F

[2022-08-01 11:48] Ved2806 commented on #8591
Hi @ealsur Could you please help with this issue?

[2022-08-01 15:20] Ved2806 commented on #8541
Hi @TimoBSchott Could you please let us know what language you are using for the function code? And also give some more information about subdirectories (the second point you have mentioned).

[2022-08-01 21:24] fabricioferreira commented on #6328
I was able to solve the issue by following the steps from this article: https://www.c-sharpcorner.com/article/how-to-debug-azure-event-grid-trigger-function-using-postman/

TL;DR;
Add the `aeg-event-type` header with value `Notification` to the request.

I was able to test it using Postman.

[2022-08-02 02:41] soninaren opened #8597 "ExtensionMetadataGenerator hangs when calling TypeReference.Resolve on some system attributes"
This line of code hangs when running extension metadata generator on certain system attributes.

https://github.com/Azure/azure-functions-host/blob/b5e21770905343a3a58a6614c0a32ec3d80f1860/tools/ExtensionsMetadataGenerator/src/ExtensionsMetadataGenerator.Console/ExtensionsMetadataGenerator.cs#L95

#### Repro
Call ExtensionsMetadataGenerator.Generate on the assemblies in [drop.zip](https://github.c

[2022-08-02 08:31] m-ghaoui commented on #4689
@IronSean It looks like Microsoft addressed this issue with .NET out-of-process Azure Functions:

https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions

"Logging ... ILogger obtained from FunctionContext"

So I think that's probably the way to go, as I was speculating in my comment on Jan 5.

[2022-08-02 09:23] thibaut-brard-sage commented on #2015
Running a v4 function, we're still facing the `Function App Name Collision Found` error when running function configuration diagnostic even though `hostid` is setup at slot level (linux consumption plan) using a random lowercase guid without dashes. Should we just ignore this error message? Should I setup `FUNCTIONS_HOSTID_CHECK_LEVEL` to `Warning` level?
It had also already been asked if we must

[2022-08-02 09:24] thibautbrard commented on #2015
Running a v4 function, we're still facing the `Function App Name Collision Found` error when running function configuration diagnostic even though `hostid` is setup at slot level (linux consumption plan) using a random lowercase guid without dashes. Should we just ignore this error message? Should I setup `FUNCTIONS_HOSTID_CHECK_LEVEL` to `Warning` level?
It had also already been asked if we must

[2022-08-02 15:18] rubo commented on #4689
@m-ghaoui Yes, but we have to wait until the .NET 7 release as out-of-process Functions are not as feature-rich as in-process ones.

[2022-08-02 23:04] satvu opened #8600 "[Load Testing] Add .NET6 Benchmark Performance Apps"
Add .NET6 Benchmark apps to the load-testing repo. The app and terraform files are ready but need to be properly integrated into the newly refactored repository and directory structure.

- [x] Merge BenchmarkApp solution
- [x] Add a pipeline for Benchmark Apps (v3 and v4)
- [x] Merge Benchmark App terraform scripts into refactored directory

[2022-08-02 23:20] surgupta-msft commented on #7292
Based on @paulbatum's [suggestion](https://github.com/Azure/azure-functions-host/issues/7292#issuecomment-1197048784), ran an experiment with details below -

**Repro Steps -**

1. Created a function app with an HttpTrigger. The logic in this HttpTrigger is to acquire lease to a blob for 30 seconds.
2. Added AppSetting to keep worker process count = 2.
3. Invoked HttpTrigger 2 times simultaneously

[2022-08-03 14:29] marcin-burak commented on #8536
I've been working with .NET Azure Functions for some time and as far as I'm aware there is currently no way to run [Azure App Service Plan Authentication (EasyAuth)](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization) while developing .NET Azure Functions locally.

When you enable EasyAuth for your Azure Functions in Azure (or any Azure Web App) all the HTTP t

[2022-08-03 20:07] fabiocav commented on #8559
Moving to sprint 128 so we can continue tracking the work, but this seems related to the Durable Functions extension

[2022-08-03 20:20] fabiocav commented on #8165
Investigation is still in progress. Moving to 128

[2022-08-03 20:22] fabiocav commented on #7292
Moving to sprint 128 as @surgupta-msft is still defining the requirements and identifying whether additional logs/telemetry would be required for us to be able to generate reliable signals to drive the host behavior.

[2022-08-03 20:28] fabiocav commented on #8273
@soninaren has a design proposal and is scheduling time for the review. Will share more information here once done and create the associated tasks/issues to track the implementation.

[2022-08-03 20:34] #8311 closed, assigned to kshyju

[2022-08-03 20:56] evandcombs commented on #2015
This error message appeared for me, even though there was no conflict. It seems this gets triggered if there is any truncation. It does not seem to be preventing my apps from running, though. I think it may be more appropriate for this to appear as a warning when there is truncation, but no conflict detected.

On a related note, why is the limit only 32 characters? That seems rather short when bas

[2022-08-03 23:36] paulbatum commented on #7292
@surgupta-msft that test setup is exactly what I had in mind! You could now use that to experiment with host changes where it collects metrics about the health of worker. For example, something like a count of attempted invocations, and a success rate. In this example with only two requests sent, I don't think thats enough data to make a decision. The hard part of this task is figuring out the app

[2022-08-04 00:25] ejizba commented on #8559
I don't think this is related to durable. It reproduces for me based on [this code path](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/ScriptHostBuilderExtensions.cs#L165), aka I think any core tools, consumption, or premium environment would hit the bug. This is regardless of langauge - as I could repro on both Node.js and Python. For core tools, you can reproduce in t

[2022-08-04 07:12] hbrotan commented on #8261
@boylec I'm experiencing the same issue as you:

I'm trying to use an **User Assigned Managed Identity**, with connection string: `"ServiceBusConnection__fullyQualifiedNamespace"`

* @boylec Did you use an User Assigned Managed Identity (UAMI) or System Assigned Managed Identity (SAMI)?

* While using the UAMI, the scale controller gives the following warning:
`[ManagedIdentity] SystemAssigned Man

[2022-08-04 12:37] krishna-kariya opened #8603 "All functions of same type are indexed even after defining an allow list"
We have different azure functions defined with the same type. In the deployment environment, we define an allow list with some of these functions (not all) using the environment variable ```AzureFunctionsJobHost__functions__X```.
In this case, all functions are indexed. We can check this through the following logs:
[code]
The following error occurs in this case:
[code]

#### Investigative informat

[2022-08-04 12:43] ChrisAllisonMalta commented on #8567
Hi @Ved2806  any update on this? I'm trying to run an app in production and without being able to use authentication properly is a headache.

[2022-08-04 14:15] boylec commented on #8261
@hbrotan I use a system assigned managed identity so not 100% sure how it works with UAMI.

My guess: You most likely need to assign the Azure Service Bus Data Owner *and* Azure Service Bus Data Reader roles. Have you tried that?

Azure Service Bus Data Owner allows for queue operations, and status reads. Azure Service Bus Data Reader allows the entity to actually consume messages from the queue.

[2022-08-04 15:46] klyse commented on #8536
Hi @marcinburak, thanks for the answer. Appreciate it.
Your feedback confirms my long feared theory: it just doesn't work🥲
Authentication is so important it should work out of the box for a great experience imho.

By the way I found https://github.com/fmichellonet/AzureFunctions.Extensions.OpenIDConnect to handle authentication locally. Seems to work well.

[2022-08-04 16:05] liliankasem opened #8604 "Additional logging and cleanup for gRPC RX"
Follow up issue to clean up & address comments for: [remove RX as the primary pipe for gRPC communications](https://github.com/Azure/azure-functions-host/pull/8281#top):

- [x] Add log to exception caught in the `ProcessItem` method in `GrpcWorkerChannel`
- [x] Create issue to track multistream capability configuration

[2022-08-04 18:49] wbail commented on #8586
Hi @ADRaks, how are you?

The max request body size is 100MB.

As a suggestion, you could try blob trigger:

- https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blobs-overview
- https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob?tabs=in-process%2Cextensionv5%2Cextensionv3&pivots=programming-language-csharp

[2022-08-04 19:27] marcin-burak commented on #8536
Library seems quite nice and should work, just a word of caution: the library uses `FunctionInvocationFilterAttribute` to invoke the authentication and authorization process of the incoming HTTP request. This attribute is known as a [function filter concept](https://github.com/Azure/azure-webjobs-sdk/wiki/Function-Filters) but it has been in preview since 2018 so there is no guarantee if it will w

[2022-08-04 19:39] marcin-burak commented on #8536
Keep in mind that the library you linked only authenticates and authorizes the HTTP requests but if your Azure Functions need to call some other web API like [Microsoft Graph](https://docs.microsoft.com/en-us/graph/overview) [on behalf of the user](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow), then you will need to write some additional code yourself

[2022-08-05 09:19] jo2 commented on #8595
I was facing a similar issue, for me I used some JSON in my POST other than
[code]
I was using this
[code]
which raised the error. Maybe this is of any help to you.

[2022-08-05 16:02] ghost commented on #8541
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-08-05 19:01] boylec commented on #8504
Still experiencing startup timeouts w/ .AddAzureKeyVault when using managed identity locally (az login ...)

[2022-08-05 19:13] surgupta-msft commented on #8559
@ejizba  Sorry for not being able to keep you in loop as there are multiple discussions happening around this issue.

The main observation is that Stein apps are working fine with core tools if Host.json _does not_ have extension bundles. If a dependency would be missing in code, it should not work with and without extension bundles. We also found that if we just delete `DurableTask.Netherite.Azur

[2022-08-05 19:57] roend83 opened #8610 "Scope Disposed Error in V4 Functions"
I'm having an issue similar to #7874.  I've attached a Visual Studio project with a minimal reproduction.  The issue occurs when a service registered as a singleton accepts a dependency Func\<Service\> where Service is registered as scoped or transient.  Similar to #7874, the first request is successful, but the second request errors with the error "Scope disposed{no name} is disposed and scoped i

[2022-08-05 20:22] roend83 commented on #8610
I think I found a workaround.  If I also register the Func as a singleton in my reproduction application it seems to work

[code]

[2022-08-05 21:05] roend83 commented on #8610
Actually the workaround isn't working right either.  I end up getting the same instance of TestSubService every time.  Given that it's scoped, I'd expect to get a new instance on each request.

[2022-08-05 22:02] ejizba commented on #8559
I still think it would be best if this was fixed on the host. If one random extension can cause this bug, then we are at risk of it reoccurring in the future. In addition, users with old extensions could still hit the bug and the error message is not at all helpful in terms of how to fix.

Lastly, what is the difference between `FunctionsStartup` and `IWebJobsStartup`? If they're both supported fo

[2022-08-05 23:11] soninaren opened #8611 "Create an admin API that would list the process ids for the worker process created by the functions runtime."
We need an API that would list the process id of the function app in order to facilitate remote debugging experience.

[2022-08-06 02:01] surgupta-msft commented on #8559
I totally agree with the point that new extensions should not break things in Host. We have identified some places of improvements and I will be creating issues for tracking them.

Tagging @fabiocav for helping with the second question - the difference between `FunctionsStartup` and `IWebJobsStartup`

[2022-08-06 11:16] roend83 commented on #8610
I backported the repro project to netcoreapp3.1 and v3 and I get a new instance of TestSubService on each request.  This is definitely a regression that only exists in .net 6 and v4.

[2022-08-07 06:48] rshubham commented on #8595
@jo2 I used request json as

[code]
This worked for timer-trigger but not for queue trigger.

[2022-08-07 17:22] evaldas-raisutis commented on #5098
Found this thread after banging by head against he wall for 3 days.

We had a transient class A which depended on a scoped dbcontext and another scoped service B with httpclient added through httpclient nuget package and dbcontext

I could reproduce an issue where the first time service A was resolved through a scoped service provider, two instances of dbcontext were created. Service A and Service

[2022-08-07 19:03] jo2 commented on #8595
That might be the problem. queue trigger expects `input` as the message received. It may be anything but the value has to be present in JSON.

[2022-08-08 06:36] klyse commented on #8536
Thanks for another valuable feedback @marcinburak. I'll move away from HTTP triggered functions. Too many unresolved questions. Too many unknown variables for for me for now... I'll probably use Azure Container Apps and ASP.net core instead.

[2022-08-08 07:30] mdddev commented on #8542
Another workaround

* go to the hosting storage account's Events section
* create a EventGrid subscription, listening for BLOB CREATED events
* have these delivered to a queue of your liking

Obviously, the queue-triggered function must be authorized for blob access to do anything with its payload, however, in this way you don't need a function as handler.

[2022-08-08 10:22] hbrotan commented on #8261
@boylec Still doesn't work for me, using User-Assigned Managed Identity.
The MI has `Azure Service Bus Data Receiver` for the queue it's suppose to read from, and `Azure Service Bus Data Owner` for the service bus, so that should be sufficient.

[2022-08-08 12:18] hbrotan commented on #8261
@fabiocav It would be really useful to get a comment from MS about this issue. A function not picking up messages from ServiceBus after going idle is a big showstopper for us.

[2022-08-08 14:17] Ved2806 commented on #8513
Hi @shinji Could you please provide repro steps?

[2022-08-08 15:06] boylec commented on #8504
Update:

I have resolved my issue.

I was using the "Microsoft.Extensions.Configuration.AzureKeyVault" package. Apparently this package is deprecated.

Switching to "Azure.Extensions.AspNetCore.Configuration.Secrets" solved the issue for me.

Didn't even have to update any actual code aside from using statements.

[Some applicable docs](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/ex

[2022-08-08 15:36] roend83 commented on #8610
I modified my previous reproduction solution to include both a V3 (Core 3.1) and V4 (Net 6) application.  If you unzip and run the application, you can hit http://localhost:7071/api/Function1 to get the V4 result and http://localhost:7085/api/Function1 to hit the V3.  Same code on both sides, but you'll see that it returns different results.  V3 is exactly what I would expect.  V4 throws in one ca

[2022-08-08 16:19] Ved2806 commented on #8573
Hi @czb182 AppInsights SDK has been updated to 2.21.0

[2022-08-08 16:19] #8573 closed, assigned to satvu, Ved2806

[2022-08-08 19:02] #8541 closed, assigned to kshyju, Ved2806

[2022-08-09 07:39] Ved2806 commented on #8580
Hi @TimMarshAU Thank you for the feedback. we will investigate this further and let you know about the findings soon!

[2022-08-09 14:00] czb182 commented on #8587
any other info needed from me?

[2022-08-09 14:02] czb182 commented on #8573
link to commit?  I don't see.

[2022-08-09 20:47] shinji commented on #8513
HI @Ved2806 ,

1. Create a Linux Service Plan with Basic o Premium tier.
2. Create a Storage Account and container.
3. Upload ZIP package with custom handler to container
4. Create a User-Assigned Managed Identity.
5. Create following role assignements to User-Assigned Managed Identity in Storage Account:
    "Storage Blob Data Owner",
    "Storage Account Contributor",
    "Storage Queue Data Con

[2022-08-09 23:08] surgupta-msft opened #8614 "Selective loading of extensions in Host in case of Stein (WorkerIndexing)"
Currently, in case of Worker Indexing, Host loads all the extensions as it does not have function metadata available at that time for filtering out extensions that are not needed. This issue is to enable selective loading of extensions in case of Stein.

[2022-08-09 23:10] surgupta-msft commented on #8559
The fix in Netherite extension is completed - [link](https://www.nuget.org/packages/Microsoft.Azure.DurableTask.Netherite.AzureFunctions) and it will be released in the next bundles release.

Also, created this issue https://github.com/Azure/azure-functions-host/issues/8614 as part of improvements identified on Host side to track selective loading of extensions work.

[2022-08-10 01:27] TimMarshAU commented on #8580
Solved!

We terminated our storage account on a private IP and aliased this to the storage account URI.

We then disallowed public internet access on our NSG (all our workloads are in a VNET).

However, we didn't realise the storage account sub-resources (queues endpoint etc) remained on a public IP, ie they needed a private endpoint.

So the NSG rule blocked access to the queues where the trigger

[2022-08-10 01:27] #8580 closed, assigned to brettsam, Ved2806

[2022-08-10 07:27] balag0 opened #8616 "Support FunctionsRuntime on Legion Host"

[2022-08-10 18:13] czb182 commented on #8573
functions host still references 2.20, not sure where you are seeing 2.21.

[2022-08-10 20:17] brettsam commented on #8261
@TsuyoshiUshio -- can you summarize what a customer needs to do to get Scale Controller working with Managed Identity?

@alrod for visibility as well, in case there's anything in the SB extension that can be addressed.

[2022-08-10 20:22] brettsam commented on #8181
@lpapudippu, @jainharsh98 -- this seems like a documentation issue, would you agree? Is there some official place we can document these requirements if you want to use a read-only file system?

[2022-08-10 22:19] cachai2 opened #8618 "Capture Cold Start Perf Data"
Capture additional cold start data in the host to better investigate cold start

Details in this item: [Capture Cold Start Perf Data](https://msazure.visualstudio.com/Antares/_workitems/edit/10250575)

[2022-08-10 22:23] cachai2 opened #8619 "Investigate AOT as alternative for .NET Isolated placeholders"
Investigate whether AOT improves cold start enough that we can use it instead of placeholders. Investigation with results should be complete by Sept 11th.

[Related item](https://github.com/Azure/azure-functions-dotnet-worker/issues/963)

Pragna, Hamid, Fabio, Cary notes:
- Brett, Shyju, and Fabio collaborate. Putting together doc of options and trying to keep with how rest of .NET works. If AOT w

[2022-08-11 02:24] willvelida opened #8620 "Service Bus trigger using System Assigned MI not triggering due to FunctionListenerException"
#### Investigative information

Please provide the following:

- Timestamp: 2:11:52 PM (NZT)
- Function App version: 4.8.0.18714
- Function App name: sbmi28972fa
- Function name(s) (as appropriate): ProcessOrderFromQueue
- Region: Australia East

I have a ServiceBus Trigger function written in C# that's failing to start due to the following exception:

[code]

To interact with Service Bus, I'm usi

[2022-08-11 04:11] cloudmelon opened #8621 "Custom handlers - workerconfig not found - payload"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

This issue I assume, is similar to https://github.com/Azure/azure-functions-host

[2022-08-11 06:56] jainharsh98 commented on #8181
@brettsam Yes, this does require documentation for the requirements and constraints when using a read-only file system with k8s for self-hosted function apps. We are currently working on validating these requirements and compiling a guidance document. Will update this thread accordingly.

[2022-08-11 12:53] hbrotan commented on #8261
@boylec It seems to be working now, using User-assigned Managed Identity 🙏
I haven't done any changes, so a bit unsure why it didn't work three days ago, but I'll take it.

Seems like the solution was like you said:
Adding the `Azure Service Bus Data Owner` for the Managed Identity (I added it on the namespace /root level). Now, messages are consumed after the function goes idle. It takes about a

[2022-08-11 13:26] xlight05 opened #8622 "[Custom Handlers] Returning Binary Content from the function"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Custom Handlers
#### Question
Similar to  #5656, I just want to read bytes from a file and send that as the response to the caller of the function.(HTTP Trigger and HTTP Output).  How do I do this? What I did was, I tried having(and not having) dataType = "binary" in the functions.json  and included base64 string of

[2022-08-11 14:25] Ved2806 commented on #8158
Hi @plamber Do you still have this issue?

[2022-08-11 14:36] plamber commented on #8158
Hi @Ved2806,
I haven't touched on this topic since then. I still need to figure out an elegant way to avoid code repetitions in the functions.

Cheers

[2022-08-11 15:33] cataggar opened #8623 "storage queue `ICollector` fails to get managed identity sometimes after deployment"
Directly after a deployment, functions that put messages on a storage queue will sometimes fail to authenticate with the managed identity. In this example, the `StartCreateHostUsage` fails to get a token using the managed identity. It is failing at `QueueClient.SendMessage`.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/87583576/184169788-34bdc61e-03b6-4daa-8815-b295387cb18d.p

[2022-08-11 15:34] nakah commented on #6564
I'm facing the same issue, exceptions are logged 3 times in my functions with the following categories :

1. Function.MyFunction.User
2. Function.MyFunction
3. Host.Results

So it increase App Insights data consumption :(

[2022-08-11 22:08] #8559 closed, assigned to surgupta-msft

[2022-08-11 23:49] willvelida commented on #8620
I've managed to fix the underlying issue. I changed the App Setting that the ServiceBusClient uses in the Startup.cs file to ```ServiceBusEndpoint``` and the Service Bus Trigger now successfully starts.

I'm keeping this open since I'm not sure why this works. How is the SDK interpreting the hostname when connecting to the client that would cause this error to surface? It seems a strange that we'd

[2022-08-12 11:44] Ved2806 commented on #8622
Hi @xlight05 Thank you for the feedback, we are investigating this issue further and will let you know about the findings soon

[2022-08-12 11:53] Ved2806 commented on #8622
Hi @xlight05 I decoded the sample file that you have attached and it gives me an image file which is of .png type. You will need to decode the downloaded file for getting the expected result. Thanks.

[2022-08-12 11:53] #8622 closed, assigned to kshyju, Ved2806

[2022-08-12 11:55] Ved2806 commented on #8610
Hi @roend83 Does this solved your issue? Please let us know do you still need help with this?

[2022-08-12 11:59] xlight05 commented on #8622
@Ved2806
Yes true, where should the decoding happen? Is the response json im returning correct?  Shouldn't the azure platform do the decoding part before sending the response back to the user?

[2022-08-12 12:12] Ved2806 commented on #8539
Hi @Hector47 I Would suggest to create a new function app key manually by yourself and then use it. It may help with your problem, Please try this and let us know. Thanks!

[2022-08-12 12:49] roend83 commented on #8610
No, this is not solved.  If you unzip and run the 2nd zip file that I uploaded above you'll see that V3 and V4 functions produce different results.  The V3 results are correct and V4 are not.  The results are:

V3
Request 1: 0 0 0
Request 2: 0 0 0
Request 3: 0 0 0

V4
Request 1: 0 0 0
Request 2: -1 1 1
Request 3: -1 2 2

I think this actually indicates 2 problems:

1. Injecting a Func\<TSubService

[2022-08-12 15:56] cataggar commented on #8623
from the `msi_docker.log` in another environment, I can see that secret validation is failing. Is the secret the `IDENTITY_HEADER`? Does it rotate with each deployment? If so, is this a race condition between the app docker image and the msi docker image? Is there away to block startup of the app until after msi docker image is up & working?

[code]
(secret guids changed)

[2022-08-12 21:23] lipalath-ms commented on #6622
@vsha041 I see the same exception how do I update my code below:

[code]

[2022-08-12 22:07] lipalath-ms opened #8633 "Container is disposed and should not be used exception after .NET 6 upgrade"
I see the following exception from Azure Function (Service Bus Trigger) after I upgraded azure function from v3 to v4 as part of .NET 6 upgrade:

[code]

Here are the nuget packages I use:

[code]

And here is my code in Startup.cs

[code]

[2022-08-13 02:13] vsha041 commented on #6622
@ilantom you can try this:

[code]

[2022-08-13 02:27] vsha041 commented on #6622
@ilantom - also make sure you add the configuration variable **AzureFunctionsWebHost__hostId** in your function and give it a value of lower case GUID and without the dashes (e.g. 1835d7b55c984790815d072cc94c6f71)
![Untitled](https://user-images.githubusercontent.com/25815202/184465097-c48c499a-ed5e-47b1-a0ee-9a6be699caa6.png)

[2022-08-13 22:02] ghost commented on #8513
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-08-15 15:44] cataggar commented on #8623
There is a bug in the current release of the Token Service container that is causing 403s during overlap recycles. This causes errors using Managed Identity on Linux. For internal Microsoft users, [see IcM 327430624](https://portal.microsofticm.com/imp/v3/incidents/details/327430624/home).

[2022-08-15 15:44] #8623 closed, assigned to nobody

[2022-08-15 18:20] #2152 closed

[2022-08-15 19:03] cloudmelon commented on #8311
![image](https://user-images.githubusercontent.com/4621560/184699771-351cb17e-92b0-40b1-9dc6-a3366a17d2d7.png)

@kshyju would you have a look ? thanks

[2022-08-15 19:04] cloudmelon commented on #8311
for .NET 6 isolated.

![image](https://user-images.githubusercontent.com/4621560/184700056-d6c7c366-510a-4429-916d-a8386e7a504c.png)

[2022-08-15 19:48] lipalath-ms commented on #6622
@vsha041  Thank you! I use deployment slots in Azure Function. Should I add different GUID values of AzureFunctionsWebHost__hostId for both staging and production slots?

[2022-08-15 20:25] vsha041 commented on #6622
@ilantom - yes but GUID should be different for both slots unless staging one is deleted immediately after production deployment. So if you have multiple active slots at any given time then they all should have different GUID.

[2022-08-15 20:40] lipalath-ms commented on #6622
Ok let me try that. Thank you! Also, while swapping slots, should these values be swapped?

[2022-08-15 21:56] lipalath-ms commented on #6622
@vsha041 Just to be clear this is how my startup file looks like:

[code]

Could you please let me know how to update this?

[2022-08-15 22:21] vsha041 commented on #6622
It's ok if they are swapped as long as they are different. Or you can put slotSettings: true if you don't want them to get swapped.

[2022-08-15 22:26] vsha041 commented on #6622
You can try below code.

[code]

[2022-08-16 08:12] Ved2806 commented on #8595
Hi @rshubham Thanks for the feedback, we will investigate this further and let you know about the findings soon

[2022-08-16 10:34] Ved2806 commented on #8595
Hi @rshubham Please try using following JSON.
          {
                    "name" : "request",
                    "queueName" : "my-queue",
                    "connection" : "storage-conn-string"
          }
Please let us know if it helps. Thanks.

[2022-08-16 12:21] atharvajdhumal commented on #4192
Hi,
I am struggling with the same issue. Not sure how to make it work again. Did anyone find any solutions on this error?
Even when I run the python code locally, I get error: ValueError: Missing input parameter client_id
Looking forward to hearing for solutions.

Microsoft.Azure.WebJobs.Host.FunctionInvocationException:
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw (System.Pr

[2022-08-16 12:25] Ved2806 commented on #8158
Hi @kshyju Could you please help with this issue? or please suggest whom to tag here. Thanks.

[2022-08-16 13:02] ghost commented on #8539
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-08-16 15:25] colinrippeyfinarne commented on #7452
@fabiocav @brettsam is there any update you can share on this issue? I am conscious that as we approach the release of dotnet 7 the capability to go "all in" on the isolated model will be pushed (in particular the support for durable functions which has made me stay with the in-proc model for now) but not if structured logging is still not working?

[2022-08-16 15:29] timmkrause commented on #7452
At least an "official" statement regarding the roadmap of this issue would be **something**.

Transparency is key.

[2022-08-16 20:37] cloudmelon commented on #7452
hi @colinrippeyfinarne the durable function support is currently in public preview.

https://github.com/Azure/azure-functions-dotnet-worker/projects/2

cc @cgillum

[2022-08-16 22:02] #8513 closed, assigned to madelinegordon, Ved2806

[2022-08-17 08:26] DBJDBJ opened #8637 "Confusing readme"
_...These libraries are the runtime used by [Azure Functions](https://azure.microsoft.com/en-us/services/functions/). The runtime builds upon the tried and true [Azure WebJobs SDK](https://github.com/Azure/azure-webjobs-sdk) - this library just layers on top to allow you to "script the WebJobs SDK"..._

When developing **not** scripted AF in C# one uses  `Microsoft.Azure.WebJobs` and `Microsoft.Az

[2022-08-17 08:40] Hector47 commented on #8539
Hello,
After more test, I can see that even the host keys are changing.

I have created additional function key to test.
Also, I have updated the runtime version to ~3 to see if this change something.

I will update this issue in one week (15 days from last occurrence)

Thanks for your help

[2022-08-17 18:59] shinji commented on #8513
HI @Ved2806 ,

    Create a Linux Service Plan with Basic o Premium tier.
    Create a Storage Account and container.
    Upload ZIP package with custom handler to container
    Create a User-Assigned Managed Identity.
    Create following role assignements to User-Assigned Managed Identity in Storage Account:
    "Storage Blob Data Owner",
    "Storage Account Contributor",
    "Storage Queue Dat

[2022-08-17 19:19] liliankasem opened #8638 "Worker Profiles - Investigate if the placeholder env var is sufficient for detecting placeholder mode"
`WEBSITE_PLACEHOLDER_MODE` is expected to change from 1 to 0 when host instance starts in placeholder mode and then goes through specialization. This is still a good reliable setting to rely on. Can you change the condition to check if `WEBSITE_PLACEHOLDER_MODE` exists instead of checking for its value

Investigate to answer the following question:

- [x] Is it possible to use a worker profile con

[2022-08-17 19:32] liliankasem opened #8639 "Worker Profiles - handle use cases where we do not want to revaluate profiles after restart"
Profiles are read from config and evaluated at the job host, when the job host restarts, the conditions are evaluated again. Since the job host also restarts after specialization, the conditions are evaluated again.

There are scenarios where conditions change after the [FunctionEnvironmentReloadRequest](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Rpc/WebHostR

[2022-08-17 19:32] liliankasem opened #8640 "Worker profile improvements"
Epic to track worker profile improvements:

- [x] #8516
- [x] #8638
- [x] #8639

[2022-08-17 22:31] cloudmelon commented on #7452
Had a quick check, we had done the work to pull AppInsights logs directly from Worker -> AppInsights, so it supports anything .NET supports directly

Related issue :
https://github.com/Azure/azure-functions-dotnet-worker/pull/944#issue-1282987627

Feel free to try it out :
https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.ApplicationInsights/1.0.0-preview1

[2022-08-18 00:40] stuartdotnet commented on #8429
We resolved this issue by changing the BlobTrigger to an EventGridTrigger. This stopped the large number of transactions.

[2022-08-18 13:19] timgabrhel commented on #8519
@Ved2806 checking in on this one

[2022-08-18 13:35] Ved2806 commented on #8637
Hi @DBJDBJ Thank you for the feedback, we are discussing this issue internally and let you know about the findings soon.

[2022-08-18 13:41] Ved2806 commented on #8573
Hi @czb182 Please check [here](https://www.nuget.org/packages/Microsoft.ApplicationInsights)

[2022-08-18 13:55] Ved2806 commented on #8539
Hi @fabiocav Do you have any inputs on this?

[2022-08-18 16:06] kshyju commented on #8539
@Hector47 Do you have any[ life cycle management policy](https://docs.microsoft.com/en-us/azure/azure-functions/storage-considerations?tabs=azure-cli#lifecycle-management-policy-considerations) enabled which cleans up your storage blobs periodically? You should exclude the storage used by function app from that.

[2022-08-18 17:35] Hector47 commented on #8539
Thanks @kshyju, indeed there is one policy in place on the storage.

[2022-08-18 17:35] #8539 closed, assigned to brettsam, Ved2806

[2022-08-19 10:44] SerlokPK commented on #2015
Same problem here. Is that expected behavior, should we ignore message or some other action is required?

[2022-08-19 11:16] stewrutledge opened #8644 "Python Apps on V4 suddenly getting import errors."
#### Investigative information

Please provide the following:

- Timestamp: 2022-08-19T09:31:17.043Z
- Function App version: 4
- Invocation ID: 293176d4-510c-4237-b289-7facf2b18af2
- Region: West Europe

#### Repro steps

Create a function app using python and runtime version 4 and set `FUNCTIONS_WORKER_PROCESS_COUNT` to 5.

4 out of 5 instances of the function app will get `ModuleNotFoundError`,

[2022-08-19 17:15] shreyas-gopalakrishna opened #8645 "RpcFunctionMetadata - script_file is empty in the request from host to java worker"
#### Investigative information

Exception observed in Functions logs
[code]

This happens when RpcFunctionMetadata has empty [script_file](https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L300) being passed to the Java worker.

IcM - https://portal.microsofticm.com/imp/v3/incidents/details/316217064/home

Please provide the following:

- Timest

[2022-08-19 17:49] liliankasem commented on #8645
This probably needs some further looking into, but we get the script_file from the worker when we do a metadata request, and we handle the response [here](https://github.com/Azure/azure-functions-host/blob/26e4ad464062f87bc4864b0f49bf4739c00e1ffe/src/WebJobs.Script.Grpc/Channel/GrpcWorkerChannel.cs#L585-L644).

We set the value of [script_file based on what we get](https://github.com/Azure/azure-f

[2022-08-19 18:07] shreyas-gopalakrishna commented on #8645
The Java worker is currently not handling FunctionsMetadataRequest or FunctionMetadataResponse. I have added a [work item](https://github.com/Azure/azure-functions-java-worker/issues/633) in the Java worker for it. Any idea how this works without the FunctionsMetadataRequest?

[2022-08-19 18:25] brettsam commented on #8645
We'd get the value from the function.json. But there's some processing that occurs, for example: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Host/HostFunctionMetadataProvider.cs#L150.

So we need to try to narrow down where that could possibly be turning into an empty string, assuming the function.json is correct.

[2022-08-19 19:15] ChuckJonas opened #8646 "Overriding default Managed Identify Credential for service bus triggered functions"
#### Is your question related to a specific version? If so, please specify:

Latest

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

ALL

#### Question

We are trying to run a Service Bus triggered function locally on an Azure VM with access provided by the developers AD identity.

[code]

[code]

According to the [docs on local development with managed identity](

[2022-08-19 20:52] mathewc commented on #8637
I have a PR out to update the readme https://github.com/Azure/azure-functions-host/pull/8647, which should address the questions asked.

To respond specifically to your questions @DBJDBJ:

- Yes, if you're just authoring a WebJob outside of Azure Functions, you may optionally use the WebJobs SDK, not libraries from this repo.
- [Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functio

[2022-08-19 20:56] #8637 closed, assigned to brettsam, Ved2806

[2022-08-19 21:17] DBJDBJ commented on #8637
Thanks @mathewc ,  I know what are WebJobs :) I think it is forever confusing for the thinking developer implementing AF by using WebJobs packages. There is no `Microsoft.Azure.Functions` package.

How? Where?

It seems AF base is entirely inside two WebJobs packages.  I do not know od any AF specific package beside what is in this repo.

Also, a "normal" AF code is not a script. C# makes DLL's, t

[2022-08-19 21:27] mathewc commented on #8637
Azure Functions leveraged the preexisting work in the WebJobs SDK because we already had an extensible trigger/binding model there that we also wanted for Azure Functions. The "Script" naming is historical in this repo because originally we didn't support the precompiled .NET DLL model for authoring functions in v1. So function code was provided as code files ("scripts"), and the Functions Host lo

[2022-08-19 21:35] DBJDBJ commented on #8637
Many thanks, @mathewc , it seems we are getting somewhere :)

This is gold:

Correct me if I am wrong but that requires a completely new intro to the readme in this repo. And some serious re-naming too. Which is difficult by now, I am perfectly aware of that.

Unfortunately, **correct** naming is hard. But essential. As is the clean up-to-date Architecture. Which is simply just not documented here

[2022-08-20 13:02] ghost commented on #8595
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-08-22 07:00] hbrotan commented on #8261
I've tried to summarize my experiences (and this GitHub issue) in a [blog post](https://blog.novanet.no/azure-functions-servicebustrigger-using-managed-identity-doesnt-wake-up-when-running-on-consumption-plan/ ).
Might be of use to someone stumbling into this issue.

[2022-08-22 08:52] spmanjunath opened #8649 "Azure timer triggered function not invoked."
The Azure Timer Triggered function is not invoked, strangely, refreshing the corresponding Azure function app page in Azure Portal triggers this function.

#### Investigative information

- Timestamp: 2022-08-19 12:07:26.403
- Function App version: v4
- Function name(s) (as appropriate): AppExpiryNotifier
- Invocation ID: 34a19bfa-aec6-4faa-b90f-d91d7c6a6177
- Region: NorthEurope
- OS: Linux
- Pla

[2022-08-22 14:42] Ved2806 commented on #8644
Hi @pragnagopa Could you please help with this issue?

[2022-08-22 15:07] ramya894 commented on #8649
@spmanjunath can you provide us the function app name instead of function name so that we can be able to find the logs and provide you with the solution.

[2022-08-22 17:05] czb182 commented on #8573
I don't follow.  That just a link to application insights.  My defect was to have azure functions host consume latest AI sdk.

[2022-08-22 19:46] shreyas-gopalakrishna commented on #8645
Sharing the function.json here and here is the [link](https://msazure.visualstudio.com/One/_git/AAPT-Antares-SlaSitesCDP?anchor=deploying-your-sla-site&path=/src/sites/Samples/SrcSlaSites/v3-hot-java) for the Java app and the [zip file](https://msazure.visualstudio.com/One/_git/AAPT-Antares-SlaSitesCDP?anchor=deploying-your-sla-site&path=/src/sites/Samples/SlaSites/v3-hot-java-zip) being used.

[c

[2022-08-23 04:14] spmanjunath commented on #8649
Function app name: eimappregops-func

[2022-08-23 08:34] savbace commented on #8520
I have the same issue and it seems to be "false positive". My setting is in the format: `Storage__ConnectionString`. It's separated by double underscore which is understandable by dotnet. And function executes correctly.
However Azure complains about having the setting in the format separated by colon `Storage:ConnectionString`. Which is understandable by dotnet too. The alert looks weird for me 😕

[2022-08-23 09:30] Senderek commented on #6587
Any updates on the issue?

[2022-08-23 09:39] ershadnozari opened #8662 "User-Assigned Managed Identity for Function App to access its own (hosting) storage"
I have created a User-Assigned Managed Identity that I have assigned to a Function App. I want to replace the Access Key connection string with the User-Assigned Managed Identity for the Function App to connects to its own stage, i.e., the hosting storage for the Function App. I have given the Storage Account Contributor, Storage Blob Data Owner, Storage Queue Data Contributor and Storage Table Da

[2022-08-23 12:57] progmars commented on #2015
Should it be `hostId` or `hostid` also is accepted?

[2022-08-23 13:02] #8595 closed, assigned to surgupta-msft, Ved2806

[2022-08-23 17:11] ramya894 commented on #8649
@spmanjunath i went through the logs for the time stamp 2022-08-20 10:30 to 2022-08-23 10:30 and seen some exceptions for the functions as below Host Runtime instance (Dynamic Plan) was not available for a long time period (> 15 minutes)
Function was running on 0 worker instance for more than 1440 minutes between 8/20/2022 10:30:00 AM and 8/21/2022 10:35:00 AM

App Setting : FUNCTIONS_WORKER_RUNTI

[2022-08-23 17:30] liliankasem commented on #8180
@brettsam any thoughts?

[2022-08-24 04:28] ltrain777 commented on #7829
We're hitting the same issue with a NodeJS web app with EasyAuth enabled. I notice that the port usage goes up when this error occurs. The image shows a restart at about 08-23 23:00, then the error happens again a bit later.

![image](https://user-images.githubusercontent.com/1831714/186328423-899b5205-c506-4b4a-a2a2-e759f3262a0d.png)

[2022-08-24 07:43] thibautbrard commented on #2015
According to the [App settings reference for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurefunctionswebhost__hostid) documentation, you can find `hostid` written in lower case. I highly recommend to follow that casing to prevent any ambiguity.

I still face the `Function App Name Collision Found` error message, but my functions are running well

[2022-08-24 08:46] progmars commented on #2015
@thibautbrard

This is so confusing. the behavior suggests it should be `hostId` to make the warning go away.

Here's what I did:

- open Configuration of my Azure function
- click Advanced Edit
- make sure the name of the setting is AzureFunctionsWebHost__hostid (change it if it has upper-case I)
- save the configuration
- I have Function App Diagnostics opened in another browser tab, so I refres

[2022-08-24 09:05] thibautbrard commented on #2015
@progmars that's a really interesting information that you've provided!
From my observation, `hostid` (lower-case) is well interpreted as it triggers the warning message at startup but we still get the error on the `Diagnose and solve problems` component. We assumed it was only doing a static check of the function name length and nothing else. I wish we could could get rid of this message...

I've

[2022-08-24 10:33] ness001 opened #8660 "Function App is unable to retreive the latest AzureWebJobsStorage and keeps crashing"
#### Check for a solution in the Azure portal
After the connection string in the key vault reference of AzureWebJobsStorage configuration item is updated, the function app is unable to proactively retrieve the latest secret value.

#### Investigative information
I will provide these things tomorrow.
Please provide the following:

- Timestamp:
- Function App version: ~4
- Function App name: can't p

[2022-08-24 10:59] Psymingz opened #8661 "How to increase request size limit on an isolated host on Linux?"
#### Is your question related to a specific version? If so, please specify:
Hosting: P1V2 Linux Plan
Microsoft.Azure.Functions.Worker.Sdk: 1.3.0
Microsoft.Azure.Functions.Worker: 1.8.0
Microsoft.Azure.Function.Worker.Extensions.Http: 3.0.13
Function Runtime Version: ~4
TargetFramework: .NET 6.0
AzureFunctionsVersion: v4

#### What language does your question apply to? (e.g. C#, JavaScript, Java, A

[2022-08-24 11:23] spmanjunath commented on #8649
@ramya894 :  I looked for past 7 days logs in Application insight and there are no errors, please guide me where you noticed these errors, so that i can investigate it further.  The primary reason for the function to have long no-run is due to timer trigger not getting invoked - i have only one timer trigger function.

-------------------------------------------------------------------------------

[2022-08-24 15:51] nzthiago commented on #8448
The ETA remains as per above, between September and October.

[2022-08-24 16:10] spmanjunath commented on #8649
@ramya894 :  I wanted to check if the issue is related to use of nested app setting format that is used for trigger binding, the said function is deployed in Linux environment,

App setting is:
[code]
In my Azure function, timer trigger is set to **`%NotificationSettings:TimerInterval%`**, is this correct?

[code]

[2022-08-24 17:31] manojyamasani commented on #7103
https://stackoverflow.com/questions/43179256/azure-functions-and-restricting-ips
In the above link they mentioned that web.config file can't be added to azure-functions app.

May i know how can we add web.config file to azure-functions app code in c#. I am unable to make the variable `shutdownTimeLimit` as configurable. Thanks in advance.

[2022-08-24 18:55] fabiocav commented on #8662
@ershadnozari would you be able to share your app name so we can take a closer look?

@mattchenderson is there any other information we'd need to investigate this?

[2022-08-24 21:43] pievalentin opened #8663 "Missing binaries to run numpy"
#### Investigative information

Please provide the following:

- Function App version: v4
- Function App name: datadrift
- Region: eastus2

#### Repro steps

Provide the steps required to reproduce the problem:

Set numpy as a dependecy in the `requirements.txt`
Have the python function import numpy like `import numpy as np`

#### Expected behavior

To be able to import Numpy

#### Actual behavior

[2022-08-24 21:56] ershadnozari commented on #8662
@fabiocav thanks for response. The app is called **funcapp12345**, I have extracted all logic with the intention to only focus on the issue with User-Assigned Manage Identity and the Function App access to its own storage. It’s a .NET 6.0 Linux hosted In-process Function App with below configuration:
<img width="628" alt="image" src="https://user-images.githubusercontent.com/30790664/186530717-24a

[2022-08-25 04:54] spmanjunath commented on #8649
It appears that the hierarchical/nested trigger binding causes issues with Azure function, i changed the naming format as below and timer trigger was getting called as expected,
[code]
Timer trigger binding without separators **%NotificationSettingsTimerInterval%**,
[code]

I guess this is a bug, not sure if it is a problem specific to Linux environment.  I would prefer to have this working with n

[2022-08-25 10:45] ramya894 commented on #8649
@spmanjunath we will check this issue with the next level team and let you know the results soon, thank you

[2022-08-25 10:48] mariusz-rubin opened #8665 "Scale controller shuts function down when using QueueTrigger with ":" in connection string"
- Timestamp: 2022-08-25T08:01:23.661Z
- Function App version: 4.9.0.18814, C# isolated-process
- Invocation ID: 97b39b3a-5de8-4902-9ab0-82d18816f2e6
- Region: Norway East

#### Repro steps

Create a function with `QueueTrigger` that has `ConnectionString` set to a nested app setting with a ":".

[code]

In the Azure Portal in Application settings set the connection string to the storage account wi

[2022-08-25 13:49] Ved2806 commented on #8661
Hi @pragnagopa Could you please help with this issue?

[2022-08-25 13:54] Ved2806 commented on #8665
Hi @mariusz-rubin Could you please share the function app name for the deeper investigation?

[2022-08-25 13:57] Ved2806 commented on #8660
Hi @ness001, Could you share the app name using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately to check the cause? Also provide with the timestamp and region. Thanks

[2022-08-25 14:53] ealsur commented on #8591
Our extension code does not include any Retry behavior. This was already discussed at https://github.com/Azure/azure-webjobs-sdk-extensions/issues/783#issuecomment-1221139195 and it seems it was something Functions added on top of all Triggers.

[2022-08-25 15:34] ppanyukov opened #8666 "Provide a way to disable FileSystemWatcher to make docker images work on Apple M1"
#### What problem would the feature you're requesting solve? Please describe.

Linux Amd64 images running on Apple M1 (ARM64) do not support file system watching due to limitations of the emulator.

This makes it impossible to run any function apps on M1 right now, and I literally have to find Intel based Mac for this.

* `mcr.microsoft.com/azure-functions` docker images only have AMD64 images, no

[2022-08-25 16:45] #950 closed

[2022-08-25 17:06] Ved2806 commented on #7878
Hi @srmagura Please refer the conversation here [#7592](https://github.com/Azure/azure-functions-host/issues/7592) and let us know if it helps? Thanks.

[2022-08-25 17:17] srmagura commented on #7878
That issue is for Functions runtime v3 whereas this is for v4. [This comment](https://github.com/Azure/azure-functions-host/issues/7592#issuecomment-899648929) does explain what is going on, but AFAIK, it is never mentioned in the Azure Functions documentation that there are certain assemblies that you are not allowed to use. If this is a restriction imposed by the Functions runtime, it needs to b

[2022-08-26 06:45] ness001 commented on #8660
Thanks for the info.

I'm a user from Microsoft. Could we chat on Teams? The problem has haunted our org for some time. We want to discuss with the product team directly. @Ved2806

[2022-08-26 07:27] stevenrombauts opened #8667 "Powershell runtime newer than 3.8.2 fails to import modules"
#### Is your question related to a specific version? If so, please specify:

Powershell runtime >3.8.2

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

Powershell

#### Question

Last month a new release of the Powershell function runtime broke the functionality to import Powershell modules. This is explained in these two threads on the Microsoft forums:

* https:

[2022-08-26 08:26] Ved2806 commented on #8660
Hi @ness001, in that case @mattchenderson will be a good choice for discussing this.

[2022-08-26 15:24] mathewc commented on #1363
As of now, for .NET precompiled functions, you can apply timeouts per function via the [TimeoutAttribute](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#timeout-attribute). However, for all other languages, currently there's only the host level [functionTimeout](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout) setting in host.json w

[2022-08-27 17:17] wbail commented on #8583
Hi Arjan32,

Normally this error message is related with misconfiguration.

Please take a look the bullets below:

- Add the variable `AzureWebJobsStorage` and add the value of the connection string from the Storage Account
Reference:
  - https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobsstorage

- Double check the value of the variable `WEBSITE_RUN_FROM_PAC

[2022-08-28 19:43] Arjan321 commented on #8583
As mentioned in then original issue, Those values point to valid values.

Given the extreme randomness of both the issue appearing and resolving itself, I hardly doubt any setting on our end is responsible.

[2022-08-28 20:52] grvillic commented on #8189
Same here with EP2 plan, if I don't include the `WEBSITE_RUN_FROM_PACKAGE` in the second bicep deployment, function app starts returning 404s. If I set it to `WEBSITE_RUN_FROM_PACKAGE=1` it stops working and returns 503s.

[2022-08-29 16:02] ghost commented on #8665
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-08-29 18:11] fabiocav commented on #8414
This needs to be prioritized to catch the first September release.

[2022-08-29 19:02] ghost commented on #7878
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-08-29 19:45] shreyabatra4 opened #8674 "Bundle feed index defaulting to V3"
Bundle feed index defaulting to ensure v3 bundle is the default in VS Code

[2022-08-29 19:46] shreyabatra4 opened #8675 "Merge in VS Project and Item Templates for Defaulting to V3"
Merge in VS project and item templates, which will account for all applicable host versions.

[2022-08-29 19:58] srmagura commented on #7878
Not stale

[2022-08-29 21:52] liliankasem commented on #8639
With the right flags for conditions to properly evaluate, this should not be required.

[2022-08-29 21:52] #8639 closed, assigned to nobody

[2022-08-29 21:53] liliankasem commented on #8638
Plan of action: create a new environment variable to flag that a site was initialized in placeholder mode

[2022-08-29 22:13] shreyabatra4 opened #8678 "Tooling feed update to V3"
Update feed that recent VS code uses, and the previous one as well.

[2022-08-29 22:21] shreyabatra4 commented on #8678
This is a duplicate

[2022-08-29 22:21] #8678 closed, assigned to madelinegordon

[2022-08-29 22:33] shreyabatra4 opened #8679 "Update JSON Schema ('host.json') to default to bundle V3"
This will allow customers to be able to edit 'host.json' using the schema from the default versions. (I will provide details on extension specific values in the discussion.)

[2022-08-30 01:48] ness001 commented on #8660
Thanks, Ved.

[2022-08-30 01:53] ness001 commented on #8660
I see Matthew is a PM of this product. Actually, I want to find a person from the development team of the product. Sorry for the unclear wording. Is there anyone from Microsoft who can help? @Ved2806

[2022-08-30 06:18] PehrGit opened #8681 "Can this workaround be removed?"
Hi, the code referenced below says ` // Workaround until https://github.com/Azure/azure-functions-host/issues/7188 is addressed.`. It seems that #7188 has since been fixed, can this sleep now be removed? It would be very helpful for us to not keep our pods running longer than they have to.

https://github.com/Azure/azure-functions-host/blob/b3d90c43e7a510ab0930202a3ed924249bb7e66c/src/WebJobs.Scri

[2022-08-30 20:31] kshyju opened #8686 "Creating v3 app in Linux consumption tier produces error"
Creating a new v3 app in Linux consumption using azure portal produces the below error (as shown in the overview blade)

Location: Central US

Steps to repro:

1. Using azure portal, create a new node 12 app in linux consumption.
2. Check the overview blade of the function app once the creation step is successful.

Notes:
- No issues with Linux app service tier.
- No issues with Windows.
- No issu

[2022-08-31 00:32] kshyju commented on #8686
With additional logging in [this code path](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Config/HostJsonFileConfigurationSource.cs#L254), we were able to capture the exception details.

Configuration->App settings for my test app.

![image](https://user-images.githubusercontent.com/144469/187567555-066594f5-2f85-4f1d-afb6-34feab31e4d2.png)

[2022-08-31 01:29] pragnagopa commented on #8686
Reassigning to myself and @pgombar for follow up

[2022-08-31 08:17] Devvox93 commented on #1564
Milestone unknown. Any update on this or other developments that would make this possible (like the model binding extension ports as mentioned before)?

[2022-08-31 08:38] wischi-chr commented on #6068
Googled the error message just to find out that a null value was the issue - never would've guessed that. The error message should definitely be improved.

Obligatory _"Still an issue in Sep. 2022 ..."_

[2022-08-31 10:58] arynaq opened #8689 "Log stream shows logs from all apps/functions"
I couldn't find any related issues here (might be my lacking search-fu) but we are seeing some weird/unexpected behavior in azure function app log streaming (in Function App -> Monitor -> Log stream) in the portal. I suspect the weird behavior is caused by the fact that we have more than one app / function streaming to the same app insights instance, but that I gather to be the whole point, to hav

[2022-08-31 17:49] brandonros commented on #8666
We're supposed to be able to disable `hostBuilder:reloadConfigOnChange` via `appsettings.json` or `-e DOTNET_hostBuilder:reloadConfigOnChange=false` but neither have worked for me.

What is very strange is... I am working on a Java function app and it ends up using .NET in the background (that's fine, that's specific to Azure function apps I'm sure)

I just don't get why despite `FROM --platform=l

[2022-08-31 17:50] brandonros commented on #8666
https://github.com/Azure/azure-functions-host/issues/2976

Does this fix your issue?

[2022-08-31 18:03] brandonros commented on #8666
Adding `"fileWatchingEnabled": false` to host.json doens't fix my problem.

`-e AzureFunctionsJobHost__FileWatchingEnabled=false` doesn't fix the problem.

[2022-08-31 18:17] brandonros commented on #6344
in what file? `host.json`? doesn't work. `appsettings.json`? doesn't work

[2022-08-31 18:47] jviau opened #8691 "Support dynamic enabling/disabling of functions"
#### What problem would the feature you're requesting solve? Please describe.
Enhancement idea derived from: https://github.com/Azure/azure-functions-dotnet-worker/issues/997. The scenario is the customer has a service bus function trigger they want to enable/disable on-demand (dynamically).

#### Describe the solution you'd like
This best fits as a host feature as we would need to stop consuming

[2022-08-31 18:52] #8499 closed, assigned to kshyju

[2022-08-31 21:05] fabiocav commented on #8600
Marking as blocked by work from @vrdmr's team that is currently in progress.  Will pick this back up when we can move forward.

[2022-08-31 21:24] fabiocav commented on #7292
@surgupta-msft is still iterating on the design and getting feedback from stakeholders. Moving this to 129, but this is currently an investigation/design item until we settle on an approach

[2022-08-31 21:57] vrdmr commented on #8600
@fabiocav - you can close this issue now. @arroyc finished adding the .net6 apps and throughput pipeline is up and running for them.

[Pull request 90: Add webapp bencmark project net6 - Repos (visualstudio.com)](https://azfunc.visualstudio.com/Azure%20Functions/_git/FunctionAppsForLoaderTests/pullrequest/90?_a=files)

[2022-08-31 22:10] satvu commented on #8600
@vrdmr @arroyc Are the webapps included in that pipeline? I see that the new dotnet pipelines pull from "_TerraformTemplates/dotnet-isolated/*_" or "_TerraformTemplates/dotnet/*_" but the webapp templates are still in the root _/TerraformTemplates_ folder in the folders starting with "wapf".

I have a [PR](https://azfunc.visualstudio.com/Azure%20Functions/_git/FunctionAppsForLoaderTests/pullreques

[2022-09-01 07:04] DBJDBJ commented on #8689
Try AF tagging perhaps?

https://www.codeproject.com/Tips/5294072/Add-tags-to-Azure-functions-Application-Insights

[2022-09-01 13:19] ppanyukov commented on #8666
Yes, I tried https://github.com/Azure/azure-functions-host/issues/2976. I tried lots of things. :)

And nope, nothing worked. And looking at the code, there is no way to set this. Maybe I'm looking in the wrong place.

[2022-09-01 15:01] brandonros commented on #8666
Do we know why despite the Docker container running as `amd64` (not `arm64`), something somewhere inside these Azure function host specific Docker images is "detecting" `arm64` (which results in the file system watcher not implemented bugs?)

[2022-09-01 15:04] ppanyukov opened #8697 "Docker/AKS: When func keys are missing we get HTTP 500 without any indication why"
#### Investigative information

This is about running simple HTTP function in docker container.

When a function has `[HttpTrigger(AuthorizationLevel.Function, "get", "post")]` and there are no function keys configured, we just get HTTP 500 when calling this func and nothing is written to the logs to help us understand why.

#### Repro steps

Generate func app like this:

[code]

The code generate

[2022-09-01 15:09] ppanyukov commented on #8666
My understanding is you can run `amd64` images on `arm64`, and this is achieved using `qemu` in Docker desktop. One  limitation of that is specifically `inotify` (which is behind file change notifications) is not present:

When something eventually calls `inotify` it returns "not implemented" which in turn causes this exception.

See: https://docs.docker.com/desktop/mac/apple-silicon/#known-issues

[2022-09-01 15:26] brandonros commented on #8666
I agree with you 100% that this should be configurable. The fact that it doesn't/isn't kind of shows nobody is using this on Apple M1 lol

Do you know if it is possible to run Intel flavor Docker Desktop on Apple Mac ARM? With whatever combination of Rosetta, etc.

It's kind of silly because, if we spent the time to run a Linux distro in QEMU, I don't think we'd run into the same "inotify not impl

[2022-09-01 16:03] #8665 closed, assigned to surgupta-msft, Ved2806

[2022-09-01 18:59] bopcheshailesh commented on #8447
Facing same issue

[2022-09-01 22:26] satvu commented on #8600
Synced with @arroyc and he walked me through the new webapps directory with the dotnet folder inside for us to add the necessary templates - will continue with this task now. We are also now testing WestUS only, so will likely just make a new PR and abandon the old one.

[2022-09-02 14:48] v1ferrarij commented on #4147
Yes what is the best way to achieve this in 2022?

We are trying to hit an admin endpoint on a Function App hosted in Kubernetes.

Thanks!

[2022-09-02 15:33] brettsam opened #8703 "Host should timeout if calling into a Startup never returns"
I've run into a scenario where calling into a customer's Startup caused a (rare) deadlock. The end result was that the infrastructure thought everything was healthy (process running, responding to ScaleController pings, external requests returning errors), yet the host never started so it sat there forever in that state, causing an outage. A restart fixed it, even though this happened again at ano

[2022-09-02 19:12] #8280 closed, assigned to liliankasem

[2022-09-02 20:04] #8511 closed, assigned to yojagad

[2022-09-02 22:01] mattchenderson commented on #8660
The steps provided are missing a change to prompt the app to fetch the latest value from Key Vault - if you are not performing a configuration-mutating restart (changing an app setting, for example), [the existing value could still be used for up to 24 hours](https://docs.microsoft.com/azure/app-service/app-service-key-vault-references?tabs=azure-cli#rotation). I am assuming an app setting update

[2022-09-03 16:02] ghost commented on #8591
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-09-03 16:23] shibayan commented on #8591
Thanks for your comment. I will review the linked Issue and make additional comments if necessary, so I will close this Issue.

[2022-09-03 16:23] #8591 closed, assigned to soninaren, Ved2806

[2022-09-05 06:27] jedmonsanto commented on #1864
Creating in Home Storage caused the same problem, just giving my two cents
![image](https://user-images.githubusercontent.com/23548643/188374590-3ae6aa7d-bf92-4daf-8c64-25673470f8ba.png)
but when creating in local path, works fine

[2022-09-05 09:41] iAmBipinPaul opened #8709 "Azure Cosmos DB trigger and bindings for Azure Functions 4"
I see `Microsoft.Azure.WebJobs.Extensions.CosmosDB` is in preview for v4 and `Document` is now private class.
What is recommended version to use `CosmosDBTrigger` with v4 function ?

[2022-09-05 14:20] ghost opened #8710 "Azure Function v4 dotnet"
When migration Azure function v3 to version v4, using this [guideline](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=azure-cli%2Cin-process%2Cv4&pivots=programming-language-csharp#breaking-changes-between-3x-and-4x) the Azure function is failing to start due to a file not found error. I have followed the Migration guideline and still not succeeding, how would I sol

[2022-09-07 06:38] ness001 commented on #8660
I didn't have a configuration-mutating restart after the key vault secret was rotated. The thing is in my case the system didn't heal itself when it found the connection string was not working. I was not able to manually restart or stop the whole function app at that time. The problem was fixed when I deleted the AzureWebJobsStorage and added the AzureWebJobsStorage with the same key vault referen

[2022-09-07 12:37] mbaranovych commented on #7878
Got the same issue.
"Could not load file or assembly 'Microsoft.IdentityModel.Tokens'" (version 6.16.0) even when the .csproj file contains a `PackageReference`.

.net6 / azure functions v4

[2022-09-07 13:50] jsquire opened #8714 "FunctionApp doesnt complete Polly retry"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#30524](https://github.com/Azure/azure-sdk-for-net/issues/30524).

### Please be aware that @RDavis3000 is the author of the original issue and include them for any questions or replies.

## Details

Microsoft.NET.Sdk.Functions 4.1.9

### Query/Question

Hi,
I have a function app writing to MS SQL with a Pol

[2022-09-07 18:22] dabarney1 opened #8717 "Upgrade to V4 from V3 Azure Function fails with 500 error."
using System;
using System.Collections.Generic;
using System.Net;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Threading.Tasks;
using Microsoft.Azure.WebJobs;
using Microsoft.Azure.WebJobs.Extensions.Http;
using Microsoft.Azure.WebJobs.Host;
using AD = Microsoft.IdentityModel.Clients.ActiveDirectory;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.Logging

[2022-09-07 20:19] fabiocav commented on #8161
@a99cl208 would you mind sharing more information about the logs you're looking at and what information/correlation details you feel are missing today? Trying to better understand as, depending on what is missing here, the scope of the work might be different, as just enabling the property tracking along might not be sufficient.

Thanks!

[2022-09-07 20:38] fabiocav commented on #8604
Assigning to the sprint to capture details and create issues for the work we need to complete.

[2022-09-07 20:40] fabiocav commented on #8261
@mattchenderson there's an opportunity for a docs update here. Can we track this work to make sure the role requirements are covered?

Thanks!

[2022-09-07 20:41] fabiocav commented on #8261
@TsuyoshiUshio any other enhancements we should be considering so we can make this easier?

[2022-09-07 21:17] a99cl208 commented on #8161
@fabiocav to be honest i do not recall anything aside of what was written in the ticket. Still it is maybe a good idea to take into account the logger factory options as part of general extensibility design consideration but i will let you decide if its useful and/or relevant.

[2022-09-07 23:02] oppknox opened #8718 "How to Query connections? To troubleshoot max connection issue on a Consumption plan."
#### Is your question related to a specific version? If so, please specify:
No, but using runtime ~4.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
net7

#### Question
We are hitting the max connection issue and think we have followed the guidance provided around max connections but need a query to figure out what we are missing. I can see in metrics there is a

[2022-09-08 10:56] RetYn opened #8719 "Azure Function output trace level log in log stream with information level in host.json"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

log level in host.json is
{
    "version": "2.0"

[2022-09-08 12:14] IanKemp commented on #5854
Come ON guys, how is this not fixed yet? Or more to the point - WHY does this limit even exist to begin with in the first place?

[2022-09-08 16:48] #8638 closed, assigned to brettsam, liliankasem

[2022-09-08 18:43] kashimiz opened #8720 "Out-of-proc worker restart should signal host to kill all function invocation timers."
**Current Behavior**
In an out-of-proc language (ex. Python) when a function invocation reaches the `functionTimeout` limit, the worker process is restarted. Any in-flight invocations running on that process are also terminated. However, the out of proc worker may not signal the host to kill execution timers for all invocations that were terminated. We observe:

1. Timer Function A starts at 00:00

[2022-09-08 23:45] #8414 closed, assigned to soninaren

[2022-09-09 17:07] arphox commented on #6587
Hi, while we are waiting for an implementation, I made a workaround.
I created a unit test which with gathers all types from the function app assembly with reflection, selects all types' all constructors' parameters' types, and tries to resolve them from a test service collection which has been configured with the Startup class' overridden Configure method.

See my implementation skeleton (for xun

[2022-09-09 19:50] mathewc commented on #8717
If your function is working correctly now on v4, that's great and it seems you no longer have an issue. To clarify, the December 3 date mentioned [here](https://azure.microsoft.com/en-us/updates/extended-support-for-microsoft-net-core-31-will-end-on-3-december-2022/) just means we'll no longer be providing support/fixes for v2/v3 Function Apps, however those apps will continue to run. But it's goo

[2022-09-09 19:50] #8717 closed, assigned to soninaren

[2022-09-09 22:20] mathewc opened #8728 "TableStorageScaleMetricsRepository batch failures for large numbers of functions"
Customers with a high number of functions and using Runtime Scale Monitoring can run into errors in the scale metrics persistence pipeline. The code [here](https://github.com/Azure/azure-functions-host/blob/15e1c2bc4b610f42a1e40ad5de81dba478db6dd3/src/WebJobs.Script.WebHost/Scale/TableStorageScaleMetricsRepository.cs#L154) is responsible for taking the collection of per-function scale samples and

[2022-09-11 22:02] ghost commented on #8161
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-09-12 15:14] brettsam commented on #1351
This issue still exists today. We can miss `app_offline.htm` delete events and leave a site offline until a restart, causing availability issues. Deploying via Run from Package fixes this, but not every site has moved there.

We need to revisit this, just an initial thought (well, [maybe not initial](https://github.com/Azure/azure-functions-host/issues/1351#issuecomment-506342464)):
- While offlin

[2022-09-12 19:02] brettsam opened #8731 "Improve error handling in SecretManager"
For example, the `BlobStorageSecretsRepository` could potentially throw an exception during a call to `WriteAsync()` -- but the `SecretManager` doesn't handle that well.

The one specific scenario is this:
- multiple instances start up for the first time simultaneously
- no secrets are found, so each instance races to create them
- only one wins, causing exceptions in the others

https://github.co

[2022-09-13 00:47] mattchenderson commented on #8660
The removal and re-adding of AzureWebJobsStorage is effectively the same as the configuration-mutating restart. Because you did that, the system was able to perform the necessary re-fetch. But I think you could have added another app setting to get the same result.

If I'm understanding correctly, your assertion is that in the presence of an error, the system should try to refresh the secret to se

[2022-09-13 01:51] MullenStudio commented on #7452
I just tested and it seems that it still doesn't support structured log.

I noticed this line in the code
[                    options.IncludeScopes = false;](https://github.com/Azure/azure-functions-dotnet-worker/blob/7b42c24f169b1073c2e0b10f85c255fe6a64b268/src/DotNetWorker.ApplicationInsights/FunctionsApplicationInsightsExtensions.cs#L51)

But even if I set IncludeScopes to true in the options,

[2022-09-13 15:40] gjdonkers commented on #7094
Will this be fixed? Or should we implement the workaround as a solution?

[2022-09-13 17:28] #8728 closed, assigned to mathewc, soninaren

[2022-09-13 23:39] seemano opened #8740 "System Assigned Managed Identity to avoid WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE"
Hi,

I have function app v4(recently migrated from v2). it has various connection strings WebJobsQueuesConnectionString, WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and AzureWebJobsStorage. Premim app service plan

As part of MSI implementation, i manged to get rid of WebJobsQueuesConnectionString and AzureWebJobsStorage by replacing them with AzureWebJobsStorage__accountName and WebJobsQueuesConnect

[2022-09-14 10:10] plukawski commented on #8597
I am facing exactly the same issue - prevents me from using the newer versions of this nuget because this makes the build to never end.

[2022-09-14 10:55] ttq-ak commented on #6855
Hi @balag0 Has there been any updates on increasing the limit? Just hit the limit of 100 today while attempting to deploy `AzureFunctionsJobHost__logging__logLevel__Microsoft__Azure__WebJobs__Extensions__Storage__Blobs__Listeners__BlobListener` as an appsetting.
Thanks

[2022-09-14 19:38] kashimiz opened #8743 "Tracking Issue: Pipeline Migration"
This epic tracks the consolidation of our build and release pipelines.

Tasks identified during the scoping of, but not part of, this epic are tracked by https://github.com/Azure/Azure-Functions/issues/2272

### Build and Release Pipelines
- [x] #8744
- [x] #8745
- [x] #8756
- [x] #8757
- [x] #8758
- [x] #8771
- [x] #8831

### Package Feed

### Inactive Pipeline Cleanup

[2022-09-14 19:52] kashimiz opened #8744 "Pipeline Migration: azure-functions-durable-extension (UT)"
Part of #8743

- ~~Migrate pipeline~~ (not necessary; confirmed with @davidmrdavid and @cgillum)
- ~~Update downstream dependencies~~ (none; confirmed with @davidmrdavid)
- [x] Cleanup repo
  - ~~Remove obsolete YAML~~ (none)
  - [x] Remove webhook
  - [ ] Remove status badge

[2022-09-14 20:23] fabiocav commented on #8165
Deprioritizing this work.

[2022-09-14 20:37] fabiocav commented on #8679
@shreyabatra4 could you please provide the details on the required changes so we can have this work assigned?
Thanks!

[2022-09-14 20:47] kashimiz commented on #8744
FYI @davidmrdavid

[2022-09-14 20:50] kashimiz opened #8745 "Pipeline Migration: azure-functions-eventgrid-extension"
Part of #8743

- [x] Migrate pipeline
- ~~Update downstream dependencies~~ (none; confirmed with @alrod)
- [x] Cleanup repo
  - [x] Remove obsolete YAML
  - [x] Remove webhook

[2022-09-14 21:58] TerrySansom commented on #7878
Love ho MS keeps marking tis item as stale, fact is, it is a bug and needs to be addressed.  Ran into it today.  So not stale.

[2022-09-14 22:02] #8161 closed, assigned to nobody

[2022-09-15 00:03] pragnagopa opened #8746 "Do not shutdown Host on hard failures that need user actions"
1. For issues with [host-id-collisions](https://github.com/Azure/azure-functions-host/wiki/Host-IDs#host-id-collisions)  -

    Functions Host is shutdown here:

    https://github.com/Azure/azure-functions-host/blob/a14c989a5f1d736478f3c4d4be9b2b5ea4dda6ef/src/WebJobs.Script/Host/HostIdValidator.cs#L129

2. For issues with App Content Initialization on the platform - `Shutting down host due to pr

[2022-09-15 00:04] pragnagopa commented on #8746
Tagging @fabiocav / @mathewc for input.

cc @glennamanns @balag0 @chiangvincent fyi

[2022-09-15 10:57] kornakar opened #8749 "Error starting gRPC call. HttpRequestException: Requesting HTTP version 2.0 when using Fiddler"
When trying to debug an Azure Function (.NET 6.0, isolated, http trigger) while Fiddler Classic is running as a proxy, I get this exception.

.NET 3.1 function works fine (with or without Fiddler) and also .NET 6 function works fine **without** Fiddler running.

The exception is raised in Main method on the line await host.RunAsync();

Can I force it to use http 1 while debugging? Fiddler is a mus

[2022-09-15 12:06] smokedlinq opened #9299 "Ability to filter RequestTelemetry at the host"
In current in-process functions, we have `ITelemetryProcessor` instances that filter specific `RequestTelemetry` for things like health probes that are noisy but have no logging value.

Since the host processes all `RequestTelemetry` and not the worker, is there a way to configure the host so that it can filter requests or inject a netstandard2.0 compliance `ITelemetryProcessor`?

Would an extensi

[2022-09-15 16:22] MacMcDell opened #8748 "Attempting to add ApplicationInsights into isolated .net6 function results in error in Microsoft.AspNetCore.Hosting.DefaultApplicationInsightsServiceConfigureOptions"
#### using isolated .net6 V4 model for azure functions.

#### C#

#### Trying to figure out what I am doing wrong to add applicationInsights to my azure v4 Isoloated .net6 project. In Program.cs I have the following within .ConfigureServices()....

[code]

The error I keep getting back is
**Language Worker Process exited. Pid=6268.
[2022-09-15T16:08:57.439Z] C:\Program Files\dotnet\dotnet.exe exit

[2022-09-15 20:19] kashimiz opened #8756 "Pipeline Migration: azure-functions-host"
Part of #8743

- [x] Migrate pipeline
- [x] Update downstream dependencies
- [x] Cleanup repo
  - [x] Remove obsolete YAML
  - [x] Remove webhook
  - [x] Update badges

[2022-09-15 20:36] kashimiz opened #8757 "Pipeline Migration: azure-webjobs-sdk"
Part of #8743

- [x] Migrate pipeline
- [x] Update downstream dependencies
- [x] Cleanup repo
  - [x] Remove obsolete YAML
  - [x] Remove webhook
  - [x] Update badges

[2022-09-15 20:38] kashimiz opened #8758 "Pipeline Migration: azure-web-cryptography"
Part of #8743

### Build
- [x] Migrate pipeline
- ~Update downstream dependencies~
- [x] Cleanup repo
  - [x] Remove obsolete YAML
  - [x] Remove webhook

### Release
- [x] Confirm release process
- [x] Create tracking issue: https://github.com/Azure/azure-websites-security/issues/16

[2022-09-15 21:19] kashimiz commented on #8744
Closing; after update from @davidmrdavid and @cgillum, this pipeline is actually redundant and doesn't need to be migrated.

[2022-09-15 21:20] #8744 closed, assigned to kashimiz

[2022-09-15 21:50] mathewc commented on #8746
There are several other situations as well in addition to those you list above where the host determines there's an unrecoverable error and calls StopApplication. Now some of these as you point out are configuration issues the user will need to fix, while others may be environmental/temporary and we're restarting in an attempt to recover. For issues in the latter category, I think the possibility

[2022-09-15 22:31] mathewc commented on #8482
IValueProviders themselves are disposed [here](https://github.com/Azure/azure-webjobs-sdk/blob/4e287eb443e2445a298a8a959f7cd01efc46e2c9/src/Microsoft.Azure.WebJobs.Host/Executors/FunctionExecutor.cs#L1013) after a function invocation, so you could technically implement IDisposable on your provider and dispose any values you've handed out.

The invocation pipeline itself doesn't dispose of the valu

[2022-09-16 13:37] Noppey opened #8761 "ContainerNotFound exception"
- Localhost
- Function App version: 4.8.1.18957

#### Repro steps

Provide the steps required to reproduce the problem:

1. Rename the Azurite folder to AzuriteOld
2. Open Visual Studio 2022
3. Run the function app

#### Expected behavior

No exceptions

#### Actual behavior

[code]

Microsoft.Azure.WebJobs.Host.Storage.dll!Microsoft.Azure.WebJobs.Host.BlobLeaseDistributedLockManager.ReadLeaseBlob

[2022-09-16 16:30] pragnagopa commented on #8228
Re-opening as the platform fix has issues when more logs are being sent from Functions Host. Keeping this issue open until we can roll out a permanent fix.

[2022-09-16 16:32] pragnagopa commented on #8228
@CooperLink - reactivating this issue to undo the temporary mitigation that is put in place as part of the - https://github.com/Azure/azure-functions-host/pull/8760 and https://github.com/Azure/azure-functions-host/pull/8759

[2022-09-17 10:43] mazzaferri commented on #6557
I have a similar requirement to process the Cosmos DB change feed for a set of per-tenant containers. The handler logic is the same for all containers but the Cosmos DB trigger is container-specific so we have to create a new Function for each tenant simply to define their trigger.

In this case the issue could be more or less solved if a database-wide trigger was offered (independent of container

[2022-09-17 16:14] drdamour commented on #8482
@mathewc yeah that'll probably work ok.  does every func invocation create a new value provider?  Are they ever reused?

[2022-09-17 17:52] andliang opened #8767 "Support folder prefix 'paths' in tsconfig.json"
#### What problem would the feature you're requesting solve? Please describe.
TLDR;
I would like to import private typescript modules using the prefix paths defined in `tsconfig.json`. Attempting to use prefix paths results in "Cannot find module" errors (see below).

**More details...**
So for example, in my typescript code I would like to reference a private class (eg: ConfigManager) such as so

[2022-09-18 22:23] jassent commented on #2015
Having a conflicting hostId due to the name being truncated also caused me this error:
https://github.com/Azure/azure-functions-dotnet-worker/issues/747

[code]

Setting a unique (and shorter than 32 characters) hostid allowed the application to start.

This is frustrating because, as noted above, the default app names generated by Visual Studio means that apps can't be successfully deployed to an

[2022-09-18 22:32] elrondfeng commented on #364
is there a solution to this problem?

[2022-09-19 16:12] mathewc commented on #8482
Yes, each new invocation creates new value providers as part of the invocation bind process. You can verify that with your testing.

[2022-09-19 16:12] #8482 closed, assigned to kashimiz, Ved2806

[2022-09-19 22:42] drdamour commented on #8482
well i saw it doing that, but doesn't mean it won't ever happen and is part of the contract.  my test cases can't possibly be exhaustive...unless you've solved p=np ;)

thanks!

[2022-09-20 12:33] dirkslab commented on #8662
Document specifies to use system assigned identity, which we are using. Also using AzureWebJobsStorage__accountName in app settings. Though we do not get the 400 error as per above, we do get the following error in the Portal. Could we ignore?

Unable to retrieve diagnostics and error information for your function app. "AzureWebJobsStorage" app setting is not present. The function app needs to hav

[2022-09-20 14:01] Ubloobok commented on #6786
I guess we just had a similar issue, when the message was in the service bus queue for 55 minutes (Blob Created event from Blob storage through Event Grid), and only after that Azure Function with ServiceBusTrigger consumed it. No more logs or activities. But it was only 1 case at this moment, we have not so many details.

[2022-09-20 14:27] ghost commented on #8665
We just ran into this same issue exactly as described by @mariusz-rubin. Would be good to further investigate this.

[2022-09-20 15:15] ckarcz commented on #1627
when using Serilog with a sink to AI, we also get duplicate logs.

https://github.com/serilog-contrib/serilog-sinks-applicationinsights/issues/157

there is no way to remove the default LoggerProviders as the Azure function runtime validates these are required services in order to start up. can validation of loggers be removed?

[2022-09-20 15:44] ramya894 commented on #8761
@Noppey Can you explain us the scenario of creation the function apps in local so that we can check for the insights.

[2022-09-20 18:25] francoishill commented on #6786
@timgabrhel, this is a known limitation with the ServiceBusTrigger when using the Consumption plan together with only the "Listen" policy (instead of the "Manage" policy). Refer to [these docs](https://learn.microsoft.com/en-us/azure/azure-functions/event-driven-scaling#understanding-scaling-behaviors) but it comes down to the function scaler not being able to determine the queue length and then s

[2022-09-20 22:38] kashimiz opened #8771 "Pipeline Migration: azure-webjobs-sdk-extensions"
Part of #8743

### Build
- [x] Migrate pipeline
- [x] Update downstream dependencies
- [x] Cleanup repo
  - [x] Remove obsolete YAML
  - [x] Remove webhook
  - [x] Update badges

### Release
- [x] Confirm release process
  - [x] [WebJobs.Extensions.CosmosDB](https://github.com/Azure/azure-webjobs-sdk-extensions/tree/dev/src/WebJobs.Extensions.CosmosDB)
  - [x] [WebJobs.Extensions.Http](https://git

[2022-09-21 00:05] #8758 closed, assigned to kashimiz

[2022-09-21 06:56] ramya894 commented on #8767
@andliang Please refer the below link for solution.
https://stackoverflow.com/questions/43281741/how-to-use-paths-in-tsconfig-json
 If you still face the issue provide us the functionapp name, innvocation ID or timestamp details so that we can check for the logs and provide with more insights.

[2022-09-21 07:38] Noppey commented on #8761
Just create a function app, rename azurite temp directory and run.

[2022-09-21 09:22] gilesmatthews commented on #8583
Hi, is there any update on this issue? I am seeing the same random service unavailable issues. Thanks

[2022-09-21 12:58] rlucassen commented on #8583
Same issue here, completely random. Waiting on a fix for a while now.

[2022-09-21 13:01] LuckyLub commented on #8583
Sorry for you guys, but I'm happy to read this... thought I was going crazy. What region do you guys have your Azure Functions running? Ours are in West Europe.

[2022-09-21 13:03] rlucassen commented on #8583
Mine are running in West Europe as well, same for @Arjan321

[2022-09-21 13:19] foliv57 commented on #7878
Same problem for me
![image](https://user-images.githubusercontent.com/59969260/191509495-4fdd04a7-84db-41ef-a844-ed89f8f59e57.png)
![image](https://user-images.githubusercontent.com/59969260/191509550-2f2c1fbe-1b0d-49dd-bf59-df11a8d465a2.png)

[2022-09-21 15:04] tomabg commented on #8583
same region West Europe

[2022-09-21 15:11] tomabg commented on #8583
this also breaks terraform deployment...as we are on test only we will try different region soon

[2022-09-22 08:40] ness001 commented on #8660
Got it. Thanks for your explanation @mattchenderson

[2022-09-22 10:00] rlucassen commented on #8583
Curious to know if other regions do work.

Heard that Microsoft is doing updates in the West Europe region around next week

[2022-09-22 10:54] LuckyLub commented on #8583
We also deploy with Terraform BTW. Changing the location to Central US seems to do the trick.

[2022-09-22 13:36] paulhickman-a365 opened #8774 "Function host won't start locally with outbound http/https disabled"
I am trying to run the local Azure functions host on a windows machine in an environment where we have to explicitly request outbound https/http is enabled for each target name/ip address from the security team.

I am getting mysterious request to 152.199.19.161 when I start the Azure function host locally. Can you explain what this to / what it is for, and potentially give a more clear error mess

[2022-09-22 14:42] LevYas commented on #5799
Looks like it's already implemented
![image](https://user-images.githubusercontent.com/36070899/191777850-5581e69c-eac5-49d0-8390-a60c25dfc36b.png)

[2022-09-22 17:19] fabiocav opened #8775 "Fatal exceptions cause secret regeneration"
The host incorrectly regenerates secrets when the CryptographicException thrown is caused by a fatal exception. This causes problems with secrets being regenerated when they shouldn't and leaving the application in a broken state.

[2022-09-22 17:54] #8775 closed, assigned to fabiocav

[2022-09-23 00:01] #8516 closed, assigned to liliankasem, fabiocav

[2022-09-23 00:13] lloydjatkinson commented on #5854
Just hit this crazy problem myself. Why 100MB?

[2022-09-23 01:12] surgupta-msft commented on #8455
As discussed, this is the current behavior of Stein apps. Further enhancement on this will be tracked [here](https://github.com/Azure/azure-functions-host/issues/8614).

[2022-09-23 01:12] #8455 closed, assigned to surgupta-msft

[2022-09-23 07:18] ramya894 commented on #8761
@Noppey We would like to know the use case or the reason behind the creating the function app in local.

[2022-09-23 09:58] jnekrasov commented on #8583
Any news on this?! We are experiencing the same problems in West Europe region

[2022-09-23 10:03] Ralle1986 commented on #8583
Also seeing issue in West Europe region

[2022-09-23 10:04] ramya894 commented on #8774
@paulhickman-a365 We would like to know the usecase or the reason for creating the function app in local environment, so that we can be able to assist you further.

[2022-09-23 11:21] paulhickman-a365 commented on #8774
The situation I gave above is the simplest way to re-produce the problem.

In our real world scenario, we are starting a function app locally in order to debug it.

We've since added an exception for 152.199.19.161 to our firewall and the function app now starts

[2022-09-23 11:39] ashokj82 opened #8781 "Dynamic concurrency in azure function"
I am trying to use dynamic concurrency in Azure functions.

host.json has below configuration.

{"DynamicConcurrencyEnabled": false,"MaximumFunctionConcurrency": 20,"SnapshotPersistenceEnabled": true}

But still log shows dynamic concurrency is not enabled. Any help please.

[2022-09-23 17:38] kshyju commented on #8781
You are using `false` value for `dynamicConcurrencyEnabled` setting. Did you mean to use `true`?

See the docs about configurating here: https://learn.microsoft.com/en-us/azure/azure-functions/functions-concurrency#dynamic-concurrency-configuration

[2022-09-23 17:42] kshyju commented on #8689
@RohitRanjanMS Could you help with this question?

[2022-09-23 17:44] kshyju commented on #8681
@pragnagopa @liliankasem Do you have insights on the impact of the change requested here?

[2022-09-23 17:46] RohitRanjanMS commented on #8689
thanks @kshyju, I will have a look at it.

[2022-09-23 18:04] satvu commented on #7457
Wanted to note here that I just received and resolved a CRI with almost the exact same details as the one that resulted in opening this issue (synced w/ @Francisco-Gamino offline to compare).

The difference in mine is that we know there was a slot swap a few hours before the incident I received, so my resolution/suggestion also included the mitigation in #7710 in case that was the source of error

[2022-09-23 18:10] liliankasem commented on #8681
If it's closed, I would assume that we can remove that todo item, but @pragnagopa @soninaren and @alrod might have more context here

[2022-09-23 19:02] #8640 closed, assigned to liliankasem

[2022-09-25 07:02] ghost commented on #8767
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-09-25 15:02] markbrinkman opened #8783 "Custom Authenticationhandler exception IDX10501"
For my functions project i have implemented custom authentication handling using azure keyvault.
My authentication works using runtime 4.8.1.18957, however ever since updating to runtime 4.10.4.19213, it stopped working with the following failure on the authenticationResult:

`"IDX10501: Signature validation failed. Unable to match key: \nkid: '[PII of type 'System.String' is hidden. For more deta

[2022-09-26 08:00] ramya894 commented on #8774
Closing the issue as resoled.

[2022-09-26 08:00] #8774 closed, assigned to ramya894

[2022-09-26 12:52] ashokj82 commented on #8781
Yes I am using dynamicConcurrencyEnabled :true

[2022-09-26 19:05] mathewc commented on #8781
Please provide a Function App Name and timestamp for us to investigate. FYI - usually when we see issues like this, assuming your host.json configuration is correct, the issue ends up being that on startup you're configuring app configuration yourself via DI and you're removing our default config providers, one of which is responsible for applying host.json config. In these situations NO host.json

[2022-09-26 20:31] jviau commented on #8749
Isolated functions uses gRPC, which relies on HTTP/2, which from what I can tell is not supported by fiddler. This is due to several security features and implementation details of gRPC and HTTP/2 which makes it incompatible with Fiddler. Unfortunately, this issue is out of our hands and would be up to Fiddler to work out.

Can you elaborate on what you are using fiddler for with http trigger func

[2022-09-26 20:37] Done3319 opened #8784 "Log host debug messages (to Application Insights)"
I'm having difficulties getting debug messages like

`_logger.LogDebug(message);`

as e.g. defined in FunctionsSyncManager.cs logged to Application Insights. It looks like only LogDebug statements with a .CreateLogger() category (as e.g. used in HostController.cs) are processed properly.

host.json is configured for trace debug level "catch-all":

`{
  "version": "2.0",
  "logging": {
    "applica

[2022-09-26 20:37] Done3319 opened #8901 "Log host debug messages (to Application Insights)"
I'm having difficulties getting debug messages like

`_logger.LogDebug(message);`

as e.g. defined in FunctionsSyncManager.cs logged to Application Insights. It looks like only LogDebug statements with a .CreateLogger() category (as e.g. used in HostController.cs) are processed properly.

host.json is configured for trace debug level "catch-all":

[code]

Environment: .Windows .net6 isolated, Func

[2022-09-27 00:21] balag0 commented on #8583
Sorry for the delay in responding. Yes, there was a regression due to a recent update in the region which caused intermittent errors.
The fix rollout has already started and in progress currently. If there are any apps still experiencing failures, could you please share the details and we can double check them. Thanks

[2022-09-27 08:16] ramya894 commented on #8783
@markbrinkman Please go through the below conversation for help, if still need any help please comment again.

https://github.com/Azure/azure-functions-host/issues/6805

[2022-09-27 10:02] ghost commented on #8761
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-09-27 12:12] kornakar commented on #8749
When I'm developing locally, I use it to inspect any calls the azure function makes to 3rd party APIs. Usually the 3rd party APIs don't behave as they should, so it's really helpful to see what's happening under the hood.

For calling the http triggered function, I use Postman, and sometimes just a browser window.

Thank you for the answer. I'll open an issue to Fiddler's issue tracker about this.

[2022-09-27 12:12] #8749 closed, assigned to surgupta-msft

[2022-09-27 14:03] Robinlievrouw commented on #3266
This does not work.

[2022-09-27 17:19] czb182 opened #8786 "Dependency Update ApplicationInsights 2.21"
I want to consume recently released ApplicationInsights 2.21 SDK. I believe it is required to reference the same version of SDK as referencing by azure functions host, so requesting azure functions host AI SDK be updated from 2.20 to 2.21

[2022-09-27 17:21] czb182 commented on #8786
I originally requested in #8573 but it has been closed for some reason.

The request is simple.  Please update the Azure Functions AI dependency from 2.20 to 2.21.

[2022-09-27 20:24] soninaren commented on #8597
Resolved in #8772

[2022-09-27 20:24] #8597 closed, assigned to soninaren

[2022-09-28 00:42] balag0 opened #8788 "[Linux Consumption] HostId generation logic should be cloud specific"
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Host/ScriptHostIdProvider.cs#L68

Code assumes the dns suffix will always be azurewebsites.net. Breaks on other clouds with different suffixes.

Exception Stack trace for Python Functions App + Blob Trigger + Linux Consumption running in fairfax - ICM https://portal.microsofticm.com/imp/v3/incidents/details/319380431/home

[

[2022-09-28 07:35] BrunoJuchli opened #8791 "WIKI contains outdated link to "Functions Forum" ( Investigating and reporting issues with timer triggered functions not firing)"
#### Investigative information

https://github.com/Azure/azure-functions-host/wiki/Investigating-and-reporting-issues-with-timer-triggered-functions-not-firing

Contains a link to https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions

Which shows a warning

----

I suspect the link should be updated to point to https://learn.microsoft.com/en-us/answers/topics/azure-functions.htm

[2022-09-28 08:46] BrunoJuchli opened #8792 "Timer-Triggered Functions Suddenly Stopped Triggering"
#### Investigative information

- Timestamp: 2022-09-27T13:55:45.1227038Z
- Function App version: 4.10.4.4
- Function App name: sm-3rdparty-import-functions-test
- Function name(s) (as appropriate):
   - Zaptec-StartImportPartition0 ... Zaptec-StartImportPartition59 (again, 60 of those, too)
   - Easee-StartImportPartition0 ... Easee-StartImportPartition59 (there's 60 of those)
- Invocation ID:

[2022-09-28 10:06] #8767 closed, assigned to ramya894

[2022-09-28 10:55] Ved2806 commented on #8661
Hi @pragnagopa Is there any input from your side?

[2022-09-28 11:44] ramya894 commented on #8786
@czb182 Please find the below link for reference.
https://www.nuget.org/packages/Microsoft.ApplicationInsights
Please use the below commands for installation of AI dependency to 2.21
NuGet\Install-Package Microsoft.ApplicationInsights -Version 2.21.0
dotnet add package Microsoft.ApplicationInsights --version 2.21.0
<PackageReference Include="Microsoft.ApplicationInsights" Version="2.21.0" />
paket

[2022-09-28 11:50] ramya894 commented on #8784
@Done3319 Please provide the Function app name/invocation ID and Time stamp details so that we can check for the logs and update you.

[2022-09-28 11:50] ramya894 commented on #8901
@Done3319 Please provide the Function app name/invocation ID and Time stamp details so that we can check for the logs and update you.

[2022-09-28 11:55] ramya894 commented on #8791
@BrunoJuchli We will check this issue with our next level team and update you.

[2022-09-28 12:18] ramya894 commented on #8792
@BrunoJuchli We are investigating this issue and let you know the findings soon.

[2022-09-28 12:38] Noppey commented on #8761
For development

[2022-09-28 13:14] czb182 commented on #8786
the azure functions runtime references Application Insights, and that version, currently 2.20, is shipped as part of it.  As far as I know you should not reference a different version that what ships with the runtime.  So I could add a reference to 2.21, but I believe this would conflict with the version the runtime ships with.  This is why I'm requesting for the runtime to update its depenendy fr

[2022-09-28 17:16] lsuarez5280 commented on #8448
@nzthiago @liliankasem This seems to have gotten worse recently. The workaround of disabling the storage account firewall settings to allow public access, performing the swap, and restoring it after the swap no longer functions. Is there an ETA on this deployment? There certainly appear to have been changes to the host stack with new access restriction preview features so I imagine something has c

[2022-09-28 18:22] lindenle commented on #8448
Same issue here. A more specific ETA would be greatly appreciated.

[2022-09-28 18:39] Done3319 commented on #8784
Hi @ramya894, thanks for looking into this!

Our issue is finally solved. We had some function names containing a ":", which broke the sync with the SCM, and some other functionality. After renaming accordingly, things are back normal.

However, although the issue is fixed now, I'm still highly interested in getting debug messages e.g. from FunctionsSyncManager.cs.

FunctionsSyncService.cs is succ

[2022-09-28 18:39] Done3319 commented on #8901
Hi @ramya894, thanks for looking into this!

Our issue is finally solved. We had some function names containing a ":", which broke the sync with the SCM, and some other functionality. After renaming accordingly, things are back normal.

However, although the issue is fixed now, I'm still highly interested in getting debug messages e.g. from FunctionsSyncManager.cs.

FunctionsSyncService.cs is succ

[2022-09-28 18:43] surgupta-msft commented on #7292
Update on the issue - The design ([link](https://dev.azure.com/msazure/One/_git/AAPT-Antares-Docs?path=/TeamDocs/FunctionTeamDocs/Design/OOPWorkers/%5BIn%20Progress%5D%20RecycleFailingLanguageWorkers.md&version=GBsurgupta/recycle-failing-workers&_a=preview)) and PR ([link](https://github.com/Azure/azure-functions-host/pull/8796)) are under review.

[2022-09-28 19:18] brandonh-msft opened #8797 "Memory leak - .NET in-proc"
I have a .NET 6.0 Function app that I deployed to a **Windows Consumption Plan** which ended up not triggering at all due to a misconfiguration in my host.json for function timeout (1hr instead of 10min).

Yet in the Overview for my function app, I see this:
![image](https://user-images.githubusercontent.com/20270743/192869358-29c3eb62-2cdc-4999-a6eb-be304552fa51.png)

Which speaks to me as memory

[2022-09-28 20:14] cloudmelon opened #8798 "Project system enhancement ( Connection ID )"
#### What problem would the feature you're requesting solve? Please describe.

Adding Dependency Type / Connection ID for project system for Azure functions to include durable function (backend types for durable functions) , triggers and bindings type

**Requirements**:
No.1 Make sure that Dependency Type / Connection ID for project system for Azure functions to include durable function, triggers

[2022-09-28 20:16] fabiocav commented on #8600
This is being iterated on. Currently in PR.

[2022-09-28 20:18] fabiocav commented on #8302
@soninaren had to work on changes that will ensure the properties are populated as expected, but validation and tests will still be required for this issue.

[2022-09-28 20:43] fabiocav commented on #8757
Adding this to sprint 131 as a stretch goal.

[2022-09-28 21:14] liliankasem opened #8799 "Make multistream capability configurable"
There's a todo item in the GrpcWorkerChannel to make `MultiStream` capability configurable, instead of hardcoded to `10`

[code]

[Code](https://github.com/Azure/azure-functions-host/blob/a716dd28ac7a2dfa5542e0b8a5b7a5a584683b4d/src/WebJobs.Script.Grpc/Channel/GrpcWorkerChannel.cs#L336)

[2022-09-28 21:17] #8604 closed, assigned to liliankasem

[2022-09-29 01:36] phil000 opened #8800 "maxPollingInterval Per Queue or QueueTriggered Function"
Hello,
We have some queue-triggered azure functions running on .NET 6 in isolated mode.

We have set some custom properties in host.json file:
[code]

 However, these settings are not appropriate for all functions. In fact they really should differ quite a lot.

Is it possible to set these types of values per queue or per queue-triggered function, so that each can have their own polling interval,

[2022-09-29 10:07] ramya894 commented on #8786
@czb182 We will check this with our next level team and let you know the update.

[2022-09-29 10:20] ramya894 commented on #8784
@Done3319 We are investigating this issue and let you know the findings soon.

[2022-09-29 10:20] ramya894 commented on #8901
@Done3319 We are investigating this issue and let you know the findings soon.

[2022-09-29 16:56] rodolfograve opened #8802 "Function App returns 202 when incorrect function name configured as Event Grid webhook - should return error code instead"
### Setup
Blob Storage trigger using Source=EventGrid (as per https://learn.microsoft.com/en-us/azure/azure-functions/functions-event-grid-blob-trigger)

This setup requires an Event Grid Subscription using an Endpoint Type = Webhook, and the URL must be in the following format: _https://<FUNCTION_APP_NAME>.azurewebsites.net/runtime/webhooks/blobs?functionName=<TARGET_FUNCTION_NAME>&code=<BLOB_EXT

[2022-09-29 17:54] safihamid opened #8804 "Proxy code in V4 is not exercised during placeholder mode causing cold start to increase for apps which opt into proxy for V4"
Warmup Function that gets called during placeholder mode has a proxies.json file that gets processed during placeholder mode in V3.
File is present here: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Resources/Functions/proxies.json

This file doesn't get processed in placeholder mode because of this logic:
https://github.com/Azure/azure-functions-host/blob/dev/

[2022-09-29 18:29] DarinMacRae commented on #5469
In my recent adventures with this for .NET 6/Function v4 is that it is still case that you can only configure for STJ if running in an isolated process.

Personally, I would like a big hammer that says "AZURE_FUNCTION_PLEASE_CONFIGURE_FOR_STJ_I_AM_AWARE_OF_THE_ISSUES_WITH_JOBJECT_BINDINGS=True".

[2022-09-29 23:06] lipalath-ms opened #8807 ""Slot Swap" operation randomly change slot host keys"
Hi,

I'm doing deployment to functionApp slot (+ my custom script to enable managed identity on all slots and update app settings with values from keyVault) in my Azure Devops classic pipeline and then swap slot operation with "Azure App Service manage" task. Unfortunately, swap randomly changing host keys on my slot, which is causing 401 in other places. They are always swapping between two sets

[2022-09-30 00:57] balag0 commented on #8746
Yes, we were concerned about those other scenarios too. I think we see enough CRIs that maybe we should do a pointed change targeting just this common unrecoverable scenario and not try to solve for a general case as it seems more complicated?

[2022-09-30 03:55] kashimiz commented on #8792
Bringing this up with the product group for discussion/investigation; will update.

[2022-09-30 07:26] #8536 closed, assigned to brettsam

[2022-09-30 10:01] mgravell commented on #8804
@safihamid @fabiocav  I don't know enough about place-holder mode to understand the impact here; the reason that the environment check was added was to ensure that `proxies.json` files that exist but aren't currently processed in v4 don't accidentally / unexpectedly change the behaviour; it was considered preferable to make the v4 proxy behaviour opt-in, even if this makes migration from v3 slight

[2022-09-30 11:44] klyse commented on #8536
Hi @Ved2806, don't think this issue is closed/completed. Bottom line is that it's difficult to handle authorization and that should change in the future. So I think some issue should track the problem and hopefully resolve this in future.

[2022-09-30 12:23] campelo commented on #5098
He everybody.

I see this issue has been opened for almost 3 years. I'm using all the most recent versions and I'm continue facing the same issue.
Could we have a permanent solution without workarounds?

[2022-09-30 13:39] brettsam commented on #8180
If you're looking to toggle functions on/off during runtime, this isn't supported; evaluation of whether a function is disabled or not happens at startup time and I don't imagine we'd change this; too many things depend on this state being set during initialization.

What scenario are you looking for, exactly? That may help...

One thing you could do is have a function be a no-op based on some val

[2022-09-30 14:32] brettsam commented on #5098
@campelo -- are you on v4? Can you please provide an example of what you're seeing in a new issue and tag me and @fabiocav in it? There are a lot of mixed scenarios in this issue and it's getting hard to follow.

[2022-09-30 14:34] brettsam commented on #5098
@jorge-duarte -- Without seeing your exact repro, I believe this is working as expected. Each function invocation is its own scope, which mean it gets its own instance of scoped services. Similar to an http request in ASP.NET. Could you also open a separate issue and tag me and @fabiocav in it so we can take a look at your exact scenario?

[2022-09-30 16:22] nzthiago commented on #8448
The rollout is well under way and in many regions already, but not 100% done yet. The ETA for full rollout I shared above still applies, to complete in October. Sorry to hear you are running into issues, the behavior you are describing is not expected and can be due to other reasons. I suggest raising a support call if you can't swap even if no firewall settings are in place, and I can follow up i

[2022-09-30 16:38] mattchenderson commented on #8121
Please see: https://learn.microsoft.com/en-us/azure/azure-functions/security-concepts?tabs=v4#secret-repositories

[2022-09-30 16:38] #8121 closed, assigned to soninaren, Ved2806

[2022-09-30 21:26] fabiocav commented on #8788
@balag0 can you please go into more details? I understand the logic won't apply as expected, but what exactly is the error you're seeing in the other clouds?

[2022-09-30 22:02] ghost commented on #8781
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-09-30 22:03] pragnagopa commented on #8788
@fabiocav / @balag0  - updated issue description with ICM link and the exception stack.

[2022-10-01 08:47] krishnad1982 opened #8813 "Timer Trigger intermittently triggering multiple AKS container instances at the same time"
We got a timer-based trigger built on Dotnet core 3.1 and deployed to multiple regions in AKS cluster.

1. It triggers every 30 seconds.
2. Two instances were deployed in each region.
3. All are using the same storage account.

We recently noticed that two instances in the same region intermittently trigger simultaneously, as shown in the screenshot below, even though the timer trigger always ensu

[2022-10-01 10:02] ghost commented on #8783
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-02 13:02] ghost commented on #8761
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-02 22:01] nitish28 opened #8814 "Function continue to process even after host has stopped due to timeout, leaves item in the queue and results in duplicate processing of same message"
Function sample code:
for (var i = 0; i < 4; i++)
                {
                    log.Info($"Next visible {i} : {myQueueItem}");
                    await Task.Delay(1000);
                }

Host.json settings:
{
  "queues": {
    "maxPollingInterval": 1000,
    "visibilityTimeout": "00:00:10",
    "batchSize": 4,
    "maxDequeueCount": 5,
    "newBatchThreshold": 2
  },
  "functionTimeout"

[2022-10-03 09:53] BrunoJuchli commented on #8792
Note that on September 29th between 1:15 and 1:45 UTC the timer triggered functions have re-started to execute without any action from our side.
(we have automated deployments triggered by Dependabot, but this has only run on October 3rd and not on September 29th).

[2022-10-03 10:12] Buyani commented on #7878
Will this issue be resolved?Just ran into the same issue today: Error =>Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=6.23.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.

   at System.Reflection.RuntimeAssembly.InternalLoad(ObjectHandleOnStack assemblyName, ObjectHandleOnStack requestingAssembly, StackCrawlMarkHandle s

[2022-10-03 10:13] Buyani commented on #7878
Did you get a solution on this?

[2022-10-03 10:25] foliv57 commented on #7878
@Buyani For now, my only workaround is to downgrade the package

[2022-10-03 13:02] ghost commented on #8786
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-03 18:29] pragnagopa commented on #8746
Thanks for the feedback @mathewc  - As @balag0 mentioned scoping the work to the scenarios pointed above is a good starting point. Overtime we can expand checks for "recoverable" errors where host restarts as its built today will continue to work but any fatal errors that require user action - status API should reflect the error - this will help platform and the Cx to take action based on the stat

[2022-10-03 20:49] patrick-lachance commented on #7878
@foliv57 You downgraded to which version?
I have the same issue with System.IdentityModel.Tokens.Jwt, Version=6.23.1.0,
I downgraded but I still get "Could not load file or assembly..."

Valid workaround (mentionned above):
<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>

[2022-10-03 23:27] thiagomarinho commented on #8587
hi @czb182 I don't know if it's still useful but based [on this message](https://github.com/Azure/azure-functions-vs-build-sdk/issues/397#issuecomment-648809799) I believe the `_FunctionsSkipCleanOutput` is safe to be used

[2022-10-04 01:02] #8781 closed, assigned to kshyju

[2022-10-04 07:53] LuckyLub commented on #8583
Before we move back, can you please confirm when the roll-out is completed?

[2022-10-04 09:22] foliv57 commented on #7878
@patrick-lachance No error with **6.10.2** from my side. Start to fail with **6.11.0**

[2022-10-04 10:02] #8783 closed, assigned to ramya894

[2022-10-04 13:47] Ved2806 commented on #8158
Hi @RohitRanjanMS @brettsam could you please help with this issue?

[2022-10-04 16:02] ghost commented on #8180
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-04 20:00] RohitRanjanMS commented on #8158
Hi @plamber Storage queue does not support context propagation. If you have the traceparent, you can start a new Activity by passing ActivityContext. This will start a new activity and set the right parent. If you happen to use other triggers like service bus and event hub, there's inbuilt support of context propagation.

[2022-10-04 21:54] liliankasem opened #8816 "Worker Metadata"
Epic to track worker metadata updates across all workers:

- Host: https://github.com/Azure/azure-functions-host/pull/8481
- Node: https://github.com/Azure/azure-functions-nodejs-worker/issues/592
- Java: https://github.com/Azure/azure-functions-java-worker/issues/582
- Python: https://github.com/Azure/azure-functions-python-worker/issues/1057
- Powershell: https://github.com/Azure/azure-functions

[2022-10-04 22:09] liliankasem opened #8818 "Worker metadata metric event should not be emitting empty metadata"
The FunctionMetrics table shows that there are some empty records for the event "rpcworkerchannel.workerinitresponse.workermetadata" - this should not happen as we should not be emitting this event if WorkerMetadata is null or empty.

[2022-10-04 22:14] liliankasem opened #8819 "Fix worker metadata JSON format for linux"
The FunctionMetrics table shows that `rpcworkerchannel.workerinitresponse.workermetadata` event data for linux is not valid JSON as it is using single quotes. JSON requires double-quotes around the keys, so Kusto cannot parse it.

![incorrect format](https://user-images.githubusercontent.com/2198905/193939604-31d9f3d0-b7a6-4711-8a20-e8f89df11717.png)

[2022-10-05 03:01] plamber commented on #8158
Thank you all for the feedback. I am going to close this issue

[2022-10-05 03:01] #8158 closed, assigned to madelinegordon, Ved2806

[2022-10-05 05:08] rakhshandakhan opened #8820 "Support for Authenticating Event grid using Managed Identity for the Azure functions handler."
As per the document we still don’t have the support for the Azure Functions handler for the authenticating through Manage Identity. Can we have a support for the Azure functions handler? [https://learn.microsoft.com/en-us/azure/event-grid/security-authentication]

[2022-10-05 16:02] #8761 closed, assigned to ramya894

[2022-10-05 19:17] RichardBurns1982 commented on #8322
Sorry to chase but do you have a fix or a work around for this?

[2022-10-05 20:51] soninaren commented on #8273
Adding the action items identified:

- **Function host**: Review the option of exposing UseStdErrorStreamForErrorsOnly setting to users under a more descriptive app setting value
- **Extension Authors:** Look into the possibility of intercepting the stdError stream, identify log level through language specific constructs and pass that info via a log prefix.

[2022-10-05 21:46] nzthiago commented on #8448
@lsuarez5280 @lindenle - apologies, I have checked in with our support team and there is an issue that has recently emerged that can be the cause of the issue you're facing as well. We have documentation showing that the requirement for this scenario to work was for customers to have [WEBSITE_CONTENTOVERVNET = 1](https://learn.microsoft.com/en-us/azure/azure-functions/configure-networking-how-to#r

[2022-10-05 22:08] lsuarez5280 commented on #8448
Thank you for the follow-up, @nzthiago. I'm going to work through some testing this evening to find out exactly what state we're in. Unfortunately, the BICEP deployments in question somehow were able to produce the same managed ID for both the site and deployment slot, which is negatively impacting other areas, so I'll be working through redeployment tonight to attempt to remediate this issue and

[2022-10-06 00:31] pgombar commented on #8686
Dug deeper into this one. The issue is scoped to v3 Linux Consumption apps, v4 works fine for both Node and Python.

Both the portal and the host status API are behaving as expected. The portal lets you create a function because the host thinks the filesystem is not read-only.

Pinging host status with GET to [host status API](https://management.azure.com/subscriptions/1216df41-6da3-4623-88fa-31d9

[2022-10-06 00:34] pgombar commented on #8686
@khkh-ms can you please help investigate this one? Your code changes related to run from package in the host and in kudu got merged a couple of weeks before this issue was first seen in prod and I cannot pinpoint any other code changes related to this scenario.

Could you help check if anything has changed between v3 and v4 apps? Has the mounting logic for /home/site/wwwroot/ changed, particularly

[2022-10-06 04:58] fowl2 commented on #8401
This also affects references to https://github.com/microsoft/PowerPlatform-DataverseServiceClient

[2022-10-06 05:18] lsuarez5280 commented on #8448
@nzthiago I've attempted any number of firewall and network configurations to see if I could successfully complete a swap. However, all of them have reported the same response below when investigating the issue in the support blade.

I've opened support ticket 2210060010000492 in response as requested.

[2022-10-06 05:51] lightwaver commented on #8583
any news on that topic or link to the issue to see if its solved ?

[2022-10-06 08:01] jaltin commented on #912
Hi all wonderful people at Microsoft and other contributors that works on this repository (@paulbatum, @fabiocav, @mathewc, @NickCraver, @kaibocai, @heppersonmicrosoft, @pragnagopa, @siddharth-ms, @liliankasem, @alrod, @balag0  among others)!

 Im posting on this issue one more time hoping that someone of you all can have a look at my previous comment https://github.com/Azure/azure-functions-host/

[2022-10-06 09:35] chris-parker-bliss commented on #7878
Same issue here - and we've been to get around the error by going back to version `6.10.2` of the `System.IdentityModel.Tokens.Jwt` package without needing to use the `_FunctionsSkipCleanOutput` workaround

[2022-10-06 13:02] #8786 closed, assigned to satvu, ramya894

[2022-10-06 13:48] czb182 commented on #8786
Open back up

[2022-10-06 16:47] lsuarez5280 commented on #8448
@nzthiago I've attempted any number of firewall and network configurations to see if I could successfully complete a swap. However, all of them have reported the same response below when investigating the issue in the support blade.

I've opened support ticket 2210060010000492 in response as requested.

[2022-10-06 21:49] davidmrdavid opened #8824 "Index deeply nested Functions as in Functions Host V2 (or document limitation)"
#### What problem would the feature you're requesting solve? Please describe.

The Function below does not get indexed (i.e recognized) in Functions V4, but was recognized in Functions V2.

[code]

The problem is that `"Function1"` is declared inside a *nested* class. If it was declared in the top-level class, or at the level of the namespace, then it would get recognized.

#### Describe the solut

[2022-10-06 22:31] surgupta-msft opened #8825 "Investigate the ordering of Init request and Metadata request in multi-worker scenarios"
Ideally, it is expected that worker will receive `WorkerInitRequest` first and then `FunctionMetadataRequest` (in case of Stein) or `FunctionLoadRequest` (legacy scenario). However, by random chance, it seems the second worker may receive a function load request or a metadata request as its first request.

Need to investigate this. Ideally, these messages should be in predictable order (where `Wor

[2022-10-07 07:21] rodolfograve commented on #8802
Hello. Is this a valid channel to report this? After 8 days I haven't received even an acknowledgement.

[2022-10-07 08:28] Psymingz commented on #8661
Update:
We are hosting the Function Apps as a backend to Azure Static Web App frontend that proxies the requests to the backend.

It seems the request limit for Azure Static Web Apps is 30MB.

[2022-10-07 08:28] #8661 closed, assigned to brettsam, Ved2806

[2022-10-07 19:02] #8180 closed, assigned to liliankasem, Ved2806

[2022-10-07 21:36] alrod opened #8826 "`System.InvalidOperationException : Collection was modified` is thrown in WorkerConcurrencyManager sometimes."
There is a chance to throw `System.InvalidOperationException : Collection was modified; enumeration operation may not execute.` on the [line](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/WorkerConcurrencyManager.cs#L270) if latencies history is updated in the same time. The fix is insured we are using thread safe collection.

The exception is [logged](https://g

[2022-10-07 22:39] nzthiago commented on #8448
@lsuarez5280 I've been keeping track of that support ticket, I believe they have given you an update and hopefully it's fixed. This is separate from the slot swap operation failing that this GitHub issue was raised for so keeping it open until we have confirmation that that is working too.

[2022-10-09 22:02] ghost commented on #8679
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-10 08:18] andrei-tofan commented on #912
It will be great if something like this will be added, I don't think is normal to do workarounds for a functionality that should be there.

[2022-10-10 08:32] LuckyLub commented on #8583
@balag0 any update?

[2022-10-10 09:03] ramya894 commented on #8807
@liliankasem Here is a [blog post ](https://www.michaelscollier.com/inconsistent-functions-host-key)which addresses similar scenario where the blog talks about inconsistent host key and solutions to resolve it. Please check and let us know if this helps.

[2022-10-10 09:55] ramya894 commented on #8813
@krishnad1982 Please provide us the function app name so that we can check further.

[2022-10-10 10:11] ramya894 commented on #8814
@nitish28 Please check the below SO for duplicate processing of same message.
https://stackoverflow.com/questions/50168173/azure-function-app-processing-same-message-2-times

If you still face the issue, please provide us the functiona app name, timestamp and invocation id details so that we can check for the logs in our system and update you further.

[2022-10-10 10:21] ramya894 commented on #8820
@rakhshandakhan We will check this with our next level team and update you.

[2022-10-10 13:56] garashov commented on #8542
Hi @mdddev, @kshyju ,
I am experiencing the same issue..

Mentioned workarounds seem a bit tricky to me.
I would like to ask, if you have found an easy way to handle the issue?

[2022-10-10 14:51] mmalka commented on #5015
+1 for this feature to be implemented

[2022-10-10 16:06] TsuyoshiUshio commented on #7996
Now The portal looks fixed it.
![image](https://user-images.githubusercontent.com/1390976/194909100-6cbee783-e5af-4eb5-8fbd-3415bfac2ca9.png)

[2022-10-10 16:06] #7996 closed, assigned to TsuyoshiUshio

[2022-10-10 23:57] kashimiz opened #8831 "Pipeline Migration: azure-functions-tooling-feed"
Part of #8743

- [x] Migrate pipeline
- [x] Update downstream dependencies
- [x] Cleanup repo
  - [x] Remove obsolete YAML
  - [x] Remove webhook

[2022-10-11 07:56] CISOMateAdmin commented on #7878
same issue here - the <_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>  resolved this for now, when can i remove this configuration ?

[2022-10-11 08:11] dojo87 commented on #5663
We might have the same issue.
- Node app
- Windows Azure Function
- run from package
- on dev and qa Y1 service plan, on stage EP1 and production EP2
- slow swap deployment from Azure DevOps

On dev/qa the code was replaced with (call it "B"). On stage and prod it was running the old code ("A") after deployment. Funny thing that we discovered a bug in the new code, and Production running on old co

[2022-10-11 09:33] Done3319 commented on #8901
@ramya894, @fabiocav are there any updates on this?

[2022-10-11 13:45] florianchevallier commented on #5972
Exactly the same here for the `serviceBus.maxMessageBatchSize` which, on our side, should be different from one queue to another for example.

[2022-10-11 14:34] rebuildtech opened #8832 "Alternative Way to use WEBSITE_CONTENTAZUREFILECONNECTIONSTRING"
HI Team

I have a requirement for one of the typical environment where i wanted to deploy Functionapp, its Storage everything associated to a Private Endpoint and wanted to store the Storage account connection strings into a keyvault which is also associated to a private endpoint and wanted to reference them with KeyVault reference in Appsettings .

however the typical requirement is that, the DNS

[2022-10-11 14:36] rebuildtech commented on #8832
Just an update

I know there is a way to use Managed Identity for AzureWebJobsStorage and use AzureWebJobsStorage__accountName

Link reference : https://learn.microsoft.com/en-us/azure/azure-functions/functions-identity-based-connections-tutorial#use-managed-identity-for-azurewebjobsstorage-preview

 , But the real problem comes with the settings WEBSITE_CONTENTAZUREFILECONNECTIONSTRING

We are us

[2022-10-11 15:19] ramya894 commented on #8901
@brettsam Could you please have look into this issue, can you make sure to check in part of logging and application insights work.

[2022-10-11 17:10] liliankasem opened #8834 "Investigate why the WorkerMetadata metric events are low"
The worker metadata feature has been merged for a while now however we are seeing less than 1K metadata events compared to the number of active sites (over 600k).

With Isolated, they may be expected as users have to manually update to the latest worker package that has the metadata change (1.9.0) which was only released 2 weeks ago. With Java, the worker version is packaged with the host so folks

[2022-10-11 17:38] rebuildtech commented on #8832
@surgupta-msft , Request you to please let me know if you have any suggestion on this. Thank you!!

[2022-10-11 17:48] mdddev commented on #8542
Unfortunately not, from the above I think the event grid option is still the ~okayest

[2022-10-11 18:25] mathewc opened #8835 "Add retries for BlobStorageSecretsRepository precondition failures (concurrency scenarios)"
Our blob storage persistence code can fail with 412 Precondition errors if two separate updates are racing to add keys to the same file. For example if two concurrent requests are made to add/modify host keys, one update will succeed the other will fail. This is due to the precondition code [here](https://github.com/Azure/azure-functions-host/blob/5487571e30a5c01b77ee306abe6ada45a7dd2567/src/WebJo

[2022-10-11 19:03] RohitRanjanMS commented on #8689
Hi @arynaq we don't apply any filter on the log stream. You see everything that is getting logged in AI. You have some ability to apply filters when you go to "Open in Live Metrics" or open it directly from ApplicationInsights.

[2022-10-11 20:36] #8826 closed, assigned to alrod

[2022-10-11 21:56] satvu commented on #8600
Last task (3/3) is awaiting final review [here](https://azfunc.visualstudio.com/Azure%20Functions/_git/FunctionAppsForLoaderTests/pullrequest/221).

[2022-10-11 22:55] jviau commented on #7292
This is a tricky subject, and I am worried about our host making unilateral decisions on what is an "unhealthy" worker. For the original problem statement, I see two different issues we should address:

1. Our observability has gaps where customers are not able to identify their code has a bug in it.
    - By recycling workers, we may be _obscuring_ this customer code issue from the customers, mak

[2022-10-12 03:45] lsuarez5280 commented on #8448
Thanks for the follow-up @nzthiago. At this point we're back to previous state and awaiting the deployment of this fix to my scale unit. The previous workaround is allowing swaps to function in the interim. Apologies for the slow response. It seems Mondays do in fact happen. 😅

[2022-10-12 06:10] DBJDBJ commented on #8689
One might think the issue is not having one log stream per one Azure Function.

[2022-10-12 06:14] SGirousse commented on #5663
Please be careful as there is also some _dark_ magic with a possibility that previous version got reused in next days/weeks.
It happened to our and also to other people looking at that thread comments.

[2022-10-12 08:23] santanukumardas commented on #4911
@ianadavies did you resolve this issue? This is the exact scenario where I'm stuck and don't seem to find anything helpful.

[2022-10-12 13:46] czb182 commented on #8587
yes, i believe it currently is.

I think there is a 'whitelist' of dll's maintained somewhere in repo here of dll's to copy or not, which I think is proper fix, but not sure.  I have not tested latest version to know if still issue or not.

[2022-10-12 18:45] surgupta-msft commented on #8614
Design doc - [Link](https://dev.azure.com/msazure/One/_git/AAPT-Antares-Docs?version=GBmaster&path=/TeamDocs/FunctionTeamDocs/Design/Host/SelectiveLoadingOfExtensions.md)

There is also a _deep dive_ document in-progress mentioning sequence of events in Host code in legacy and stein scenarios and explaining which classes will be impacted as part of the proposed approach for selectively loading ext

[2022-10-12 19:48] soninaren commented on #8273
Making this an epic and adding tracking items and tasks for next steps

[2022-10-12 20:06] fabiocav commented on #8756
Work is in progress. Moving to sprint 132.

[2022-10-12 20:16] fabiocav commented on #8614
Currently iterating on the design. Moving to sprint 132 to close on that work.

[2022-10-12 20:18] fabiocav commented on #8600
Keeping this in 131.

@arroyc can you please assist so we can close on this item?

[2022-10-12 20:27] soninaren opened #8840 "Create an ARM API to provide process information for OOP workers"
Related issue: https://github.com/Azure/azure-functions-host/issues/8611

[2022-10-12 22:02] #8679 closed, assigned to nobody

[2022-10-12 23:54] RohitRanjanMS commented on #8689
Hi @arynaq, it's a fair expectation, probably the confusion is because you are viewing it from a specific function app. Streaming is AI capability; we only fetch the logs from AI and show it in on the portal without any filter.

[2022-10-13 10:44] rodolfograve commented on #8802
14 days and counting. Is there any other way to contact this team?

We are a paying customer and this level of support feels more appropriate for free software than a profitable company like Microsoft.

We already went through Microsoft's/Azure support channel and were sent to this GitHub repository as the only way to engage with the Product Team.

[2022-10-13 11:47] LuckyLub commented on #8583
@surgupta-msft, @balag0, any updates? Just tried to redeploy to West-Europe, still running into random "The service is unavailable." errors Running the same functions in North-Europe works just fine.

[2022-10-13 13:04] michaelelleby opened #8843 "Build hangs with Microsoft.NET.Sdk.Functions version 4.1.3"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: N/A

[2022-10-13 13:08] michaelelleby commented on #8843
Closing as this belongs in https://github.com/Azure/azure-functions-vs-build-sdk

[2022-10-13 13:16] fritzcruz opened #8844 "Python/Linux Azure Function is taking a long time to execute and sometimes create new workers in the middle of concurrent calls"
- Timestamp: _2022-10-13T12:49:35Z_
- Function App version: _Python ~4_
- Invocation ID: _e865b2fe-a1b4-4180-95e4-28b79f5aad8d_
- Region: _Australia East_

#### Repro steps

Provide the steps required to reproduce the problem:
_We are in a consumption plan. After we invoke the azure function with 32 concurrent calls with 160~ calls overall, I noticed that at the first run it will finish the concur

[2022-10-13 13:34] LuckyLub commented on #8583
Just had contact with Azure's Help + Support. I presented the problem, it seemed to be known. However, they will collect some logs from my Azure Functions and look further into it. They are still working on upgrading the services in West-Europe. Currently it was advised to use another region.

[2022-10-13 18:04] brettsam commented on #9299
Technically a host extension could do this, yes. However, we don't currently support this as we've run into assembly versioning issues with supporting things like `ITelemetryInitializer` so we're very hesitant to expose the surface area there.

Are the `RequestTelemetry` that you want to filter coming from Function invocations?

[2022-10-13 18:10] brettsam commented on #8901
The issue is likely that the worker itself is configured to only output `Information` logs by default. The `host.json` settings apply to the host filtering, not the worker.

Logs flow from Worker -> Host, but if the worker is configured with the default log level of `Inforamation`, then any `Debug` and `Trace` logs will never make it from the Worker process to the Host process.

Try setting up you

[2022-10-13 18:30] brettsam opened #8846 "Host should support Http Activity even without App Insights"
With OpenTelemetry you can do stuff like this to get automatic Activity creation for requests:

[code]

Today, we require ApplicationInsights for this.

[2022-10-13 18:31] brettsam commented on #8846
@RohitRanjanMS -- filing this as tracking issue.

[2022-10-13 18:53] michaelelleby commented on #8843
The bug happens in branch 4.1.3 in this line https://github.com/Azure/azure-functions-host/blob/dev/tools/ExtensionsMetadataGenerator/src/ExtensionsMetadataGenerator.Console/ExtensionsMetadataGenerator.cs#L95 when it tries to process the type  `System.Runtime.Serialization.DataContractAttribute`
Furthermore this code only hangs in .NET 6, when I run the same code in a .NET Framework 4.7.1 project,

[2022-10-13 20:39] emilytweeden commented on #5663
We have the same issue. Our Azure Function app is connected to Github for redeployment, and even after disconnecting it and reconnecting it to the Github branch it is still running code from a month ago.

[2022-10-13 21:04] edgBR commented on #5663
In the title in says v3 but we are actually having the same problem with v4.

This issue has been opened for more than 2 years. Honestly it starts to feel embarrassing.

I have used AWS Lambda before and I have never had any problems like this before. Neither using docker or using the normal functions with python code.

Our team is considering to move to nuclio or other function as a service frame

[2022-10-13 21:35] surgupta-msft opened #8847 "Removing feature flag for Project Stein"
Currently, Project Stein (workerIndexing) is enabled using a feature flag on the Host side `"AzureWebJobsFeatureFlags": "EnableWorkerIndexing" `

Once the new programming model is stabilized, we can plan to remove this feature flag and make workerIndexing as default behavior **per language**

- Python
- Node
- Powershell
- Java

[2022-10-13 21:35] surgupta-msft opened #8848 "Epic to track Project Stein GA work from Host side"
Epic to track the initial set of work needed for Project Stein GA from Host side.

- [x] (Design) https://github.com/Azure/azure-functions-host/issues/8614
- [x] https://github.com/Azure/azure-functions-host/issues/8302
- [x] https://github.com/Azure/azure-functions-host/issues/8847
- [x] https://github.com/Azure/azure-functions-host/issues/8870

[2022-10-14 01:59] yuna-s commented on #8633
Hi @madelinegordon Hope you are doing well. Could you back to this issue? Our customer has a same one. I think this error can be related to when a Host has started to shutdown and some invocations are still running. Is my understanding correct? and.. If you know any work items/ plans to improve this issue, Could you share with us?

[2022-10-14 10:02] ghost commented on #8813
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-14 10:02] ghost commented on #8807
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-14 13:02] ghost commented on #8814
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-14 19:15] Rashair commented on #4926
Same issue with Python - `Content-Length` header is required, otherwise the request is not parsed.

[2022-10-14 20:12] zzzachzzz opened #8849 "Exception thrown by host during Dependency Injection `DryIoc.Scope.TryGetOrAdd` on queue triggered function"
#### Investigative information
- Timestamp: 2022-10-14T19:38:07.4027728Z
- Function App version: 4
- Function App name: SeekerAPI
- Function name(s) (as appropriate): TopKeywordsQueue
- Invocation ID: 5abd930f-9d88-4bd0-bdc3-a8147a0fc28f
- Region: Central US

#### Repro steps
1. Enqueue a message to trigger a queue-triggered function that accepts DI in the constructor
2. Exception is (often times,

[2022-10-17 01:02] ghost commented on #8689
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-17 06:34] tranduy216 opened #8850 "Function App Host shut down when network is unavailable. TimerTrigger only"
Lately, the Azure function app suddenly stopped and does not restart automatically (Run under App Service Plan + Always on)
Before the function app stop, there are some NoSuchHostIsKnown exceptions

After some investigation, I can reproduce on local host following steps:

**Steps:**
1/ Create a Timer Trigger Function (1 minute interval)
2/ Make sure network is available
3/ Start the function app a

[2022-10-17 08:34] Done3319 commented on #8901
Thanks @brettsam for looking into this!

Unfortunately, the `SetMinimumLevel` you mentioned does not make any change.

The log contains messages sourced by FunctionsSyncService.cs, e.g.
`_logger.LogDebug("Initiating background SyncTriggers operation");`

It however never gets the ones from FunctionsSyncManager.cs, e.g.
` _logger.LogDebug($"Making SyncTriggers request (RequestId={requestId}, Uri={r

[2022-10-17 13:02] #8813 closed, assigned to ramya894

[2022-10-17 13:02] #8807 closed, assigned to ramya894

[2022-10-17 13:07] jeroenvermunt commented on #8583
I can confirm that it is still occurring

[2022-10-17 13:21] Rutix commented on #8583
We have had these problems too. We have been in contact with Azure Support and they are saying the following:

"
**Conclusion**:
The 503s were detected ONLY on Azure Front End, the Front End instances encountered some unexpected error at that moment and weren’t able to handle the http requests and distributed them to specific workers that were hosting your function app.

..... <information contain

[2022-10-17 14:22] ramya894 commented on #8849
@zzzachzzz Please use the below SO and DOC links for solution guide.
https://stackoverflow.com/questions/56551594/dependency-injection-unable-to-resolve-service-for-type-in-net-core-function-ap
https://learn.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection
If you still face the problem, please provide us the function app name, invocation ID and timestamp details so t

[2022-10-17 15:31] zzzachzzz commented on #8849
@ramya894 I have updated the description to include the function app name and function name. Invocation ID and timestamp are included.

I looked at the guides you posted but did not find a solution for my issue. From what I can tell, the issue only occurs for me on this queue triggered function, and not on every invocation either, just most.

[2022-10-17 16:02] #8814 closed, assigned to ramya894

[2022-10-17 16:16] ggailey777 commented on #1781
Do we plan to address this, or should we just document it? I have a related doc issue where the customer wants to name the function `admin-results-email`. https://github.com/MicrosoftDocs/azure-docs/issues/80267

I understand blocking `admin` but not `admin-*`

[2022-10-17 16:43] liliankasem opened #8851 "Better logging, documentation and/or detection for 64-bit dependencies"
When a function app has 64-bit package dependencies and is triggered, you get a 404 error. Checking the function logs you can see the following error message:

`The 'MyHttpFunction' function is in error: Could not load file or assembly`

To fix this, users will need to update the platform to 64-bit in the configuration -> general settings tab in the portal. However, this is difficult for new funct

[2022-10-17 16:55] satvu commented on #8600
closing as all tasks have been completed

[2022-10-17 16:55] #8600 closed, assigned to satvu

[2022-10-17 23:32] vassilyl opened #8853 "Host monitor stops CPU bound functions"
A durable function (C#, in-process, Runtime v4, Premium plan) starts CPU-bound activity. The activity needs to compute for a few minutes.

## Expected behaviour

The activity computes to completion or until the duration exceeds `functionTimeout`.

## Observed behaviour

Host monitor shuts down the host. The activity stops prematurely. Here is a sample trace:

[code]

[2022-10-18 09:34] ramya894 commented on #8850
@tranduy216 Please provide us the function app name, invocation id and time stamp details so that we can check for the system logs and investigate further.

[2022-10-18 12:02] ramya894 commented on #8853
@vassilyl Thanks for writing!
Host monitor to work please use below Configuration settings mentioned in the Doc link.
https://learn.microsoft.com/en-us/azure/azure-functions/functions-host-json#healthmonitor

[2022-10-18 15:51] ramya894 commented on #8849
@zzzachzzz We have checked with our next level team and got an update as, we need the below information to investigate the issue further.

1. Simple repo to reproduce the issue which includes the code for service definitions mentioned i.e  Services.ITopKeywords topKeywords, Services.IControllerWrapper w  as there will be a chance of constructor thrown exception here.

[2022-10-18 16:32] alrod opened #8854 "Intelligent worker concurrency can start more than 10 workers."
Intelligent worker concurrency can start more than 10 workers when 9th worker failed to initialize.
1. 9 workers are started.
2. Worker concurrency logic decides to add one more worker.
3. Initializing the new worker process takes long time and eventually fails. After the failing we try to restart the worker [here](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/R

[2022-10-18 16:35] dmitry-pavlov commented on #8587
`Microsoft.Identity.Web` version `1.25.3` still fails. And it **works OK if to downgrade to version `1.25.0`**

My case: the FunctionApp uses the following packages

[code]

[2022-10-18 17:56] zzzachzzz commented on #8849
@ramya894 I can still try putting together a repro repo if necessary, but I have narrowed down the issue a bit, and it is consistent with what you suspected.

The `Services.IControllerWrapper` dependency depends on `Services.IAuth`. I suspected an exception was being thrown here on the line `baseSecret = Encoding.ASCII.GetBytes(options.Value.JwtSecret);`, so I caught and re-threw an exception to v

[2022-10-18 18:49] jblack5 commented on #7878
encountering this issue also. Will also be doing as mentioned in [7601](https://github.com/Azure/azure-functions-host/issues/7601) and adding this to all future projects until this is fixed.

[2022-10-18 20:37] mathewc opened #8856 "HostId AppSetting case sensitivity issues"
When using app settings to provide and explicit Host ID (as in documentation [here](https://learn.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurefunctionswebhost__hostid) and [here](https://github.com/Azure/azure-functions-host/wiki/Host-IDs#host-id-collisions)), casing appears to matter depending on platform (Windows/Linux):

- **AzureFunctionsWebHost__hostId** : only works

[2022-10-18 21:15] mathewc commented on #8856
Ok, turns out this is by design. This is due to the fact that the host overrides the default environment config provider with its own [here](https://github.com/Azure/azure-functions-host/blob/852eed9ceef6ef56b431428a8eb31f1bd9c97f3b/src/WebJobs.Script/Config/ScriptEnvironmentVariablesConfigurationSource.cs#L27), and that provider uses Environment to do lookups directly, thus inheriting the OS case

[2022-10-18 21:15] #8856 closed, assigned to surgupta-msft

[2022-10-18 22:28] vassilyl commented on #8853
@ramya894, the docs link you provided and the [reference](https://github.com/Azure/azure-functions-host/wiki/Host-Health-Monitor) therein do not mention CPU threshold, but connections, threads, processes, named pipes and named shared memory sections. Also, the doc states that the host health monitor "is currently only active on Consumption plan", while my function is on Premium plan.

[2022-10-18 23:15] tranduy216 commented on #8850
@ramya894 , you can easily reproduce on local machine.
Just disable network after function app started (Function app requires TimerTrigger to reproduce).

On other hand, I will try to make exception on TimerTrigger (throw new exception) to test behavior.

In case, you really need more information, please check the support ticket: 2210130030000249.

Thanks,

[2022-10-19 01:17] surgupta-msft commented on #8847
Update -
1. We will be removing the feature flag so that customers don't have to enable worker indexing via AppSettings. This will make Stein as the default way. To handle the case per language, `worker.config.json` will be used to determine if the language worker supports new programming model.
2. We will add a new AppSetting to disable new programming model in case of any unforeseen bugs so that

[2022-10-19 03:00] tranduy216 commented on #8850
I throw Exception at the beginning of Timer function with network available.
Function App show error without shutting down.

So the issue only happens with TimerTrigger + network unavailable while it is running.

[2022-10-19 18:33] Assassinbeast commented on #5098
I also have Scoped lifetime problem with Isolated runtime.

It looks like there are two scoped lifetimes for one http request.
One for the "Middlewares" and one for the "Function".

Here is my code:

**Startup.cs**
[code]

**Function1.cs**
[code]

When i call "http://localhost:7071/api/Function1", then it will log this out:

Its expected that there should be 1 scoped lifetime in one http request,

[2022-10-19 19:09] carlos-suarez commented on #6855
This is a silly limit, not sure why it is actually an idea at all.. we've been using it to override **AzureFunctionsJobHost__logging__applicationInsights__DependencyTrackingOptions__enableSqlCommandTextInstrumentation** running on Windows for ages and now we're in the process of migrating our Azure Functions to run on Linux and hit this one.. just for giggles I took it out of the CICD pipeline dep

[2022-10-19 19:42] kshyju commented on #5098
@Assassinbeast Your issues seems to be in the isolated model. Could you please open a new issue here: https://github.com/Azure/azure-functions-dotnet-worker/issues

[2022-10-20 01:02] #8689 closed, assigned to kshyju

[2022-10-20 09:50] timo-schuerg commented on #5663
Same problem running here, also on v4. I changed my function app from standard functions to durable functions. Deployment was successful, can see the new files in wwwroot, but portal does not show the new endpoints and I can't call the starter function.

[2022-10-20 12:45] shrohilla opened #8857 "Functions hosts is not calling Flush method of the IAsyncCollector"
For the out of proc apps the Functions hosts is not calling the Flush method of the binding collector in there pipeline of IAsyncCollector.
We tried to create a python function app with kafka trigger with multiple events and execute that by integrating the python worker with the function hosts on our local setup.
We set the breakpoint in Flush method of the Kafka extension's [collector](https://gi

[2022-10-20 16:55] shrohilla commented on #8857
Sample payload -- {"ordertime":1235,"orderid":5,"itemid":"Item_184","address":{"city":"Mountain View","state":"CA","zipcode":94041}} for the body and key we are using as the iteration count.

[2022-10-20 18:19] mathewc commented on #8857
The executor will only call Flush if your value provider is an IValueBinder ([here](https://github.com/Azure/azure-webjobs-sdk/blob/4e287eb443e2445a298a8a959f7cd01efc46e2c9/src/Microsoft.Azure.WebJobs.Host/Executors/FunctionExecutor.cs#L959)). Likely you're only implementing IValueProvider, not [IValueBinder](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/

[2022-10-20 23:53] surgupta-msft commented on #8832
@rebuildtech the discussion [here](https://github.com/Azure/azure-functions-host/issues/8135) seems to be related. Please check if it can help in resolving your issue.

[2022-10-21 07:26] rlucassen commented on #8583
Last wednesday we got the message from Microsoft that this issue should be fixed, we already transferred to a premium plan because we got tired of it after 4 months. I'm curious to know if anybody is still encountering this issue in the West-Europe region?

[2022-10-21 09:28] LuckyLub commented on #8583
So using premium is a valid work around?

[2022-10-21 09:39] rlucassen commented on #8583
Yes upgrading to premium worked for us

[2022-10-21 09:40] Arjan321 commented on #8583
If "Throwing money at the problem" counts as a workaround, then yes. This ticket is specifically about the Consumption Plan.

[2022-10-21 09:50] LuckyLub commented on #8583
Just good to know what options are out there.

[2022-10-21 18:13] shrohilla commented on #8857
@mathewc could you please share the extension which is following this approach, I just want to understand the flow.
CosmosDB extension is not following this.
I searched the same in EventGrid extension but the IValueBinder binding I failed to search, so wondering if you can share some more details regarding this.

[2022-10-21 19:00] mathewc commented on #8857
The EventHubs extension supports Flush [here](https://github.com/Azure/azure-sdk-for-net/blob/4162f6fa2445b2127468b9cfd080f01c9da88eba/sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubAsyncCollector.cs#L99), and the Flush gets wired up automatically because it's using the BindToCollector binding rule [here](https://github.com/Azure/azure-sdk-for-net/blob/4162f6fa2445b

[2022-10-21 21:37] #8854 closed, assigned to alrod

[2022-10-22 19:01] ghost commented on #8849
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-22 20:19] zzzachzzz commented on #8849
@ramya894 I have provided feedback, please remove the "Needs: Author Feedback" label.

[2022-10-23 01:01] ghost commented on #8853
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-23 04:01] ghost commented on #8850
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-23 17:24] ChristianWeyer commented on #8619
Has this been investigated @cachai2 @soninaren ?

[2022-10-24 17:54] BlueChip13 commented on #8849
@ramya894 Any new ideas on this?

[2022-10-24 19:34] #8857 closed, assigned to liliankasem

[2022-10-24 20:41] J-Cat commented on #5854
I have no issue with 100MB as a _default_, however, why we can't increase that when running in our on premise environments or our development VSCode environments is beyond me!

Please Microsoft issue an update so it can configure these values through host.json

[2022-10-24 21:01] J-Cat commented on #5854
I am thinking that one way to solve this, at least if you are deploying to a custom Docker file, would be as part of the Docker image build, to overwrite the web.config settings in the Azure Functions WebJob Host.  Doesn't help with local debugging, but does maybe get around increasing the limits in your actual deployment environments.

[2022-10-24 21:48] #8745 closed, assigned to alrod

[2022-10-24 21:54] aborremans commented on #8542
I am running into the same issue using the below configuration in my hosts.json file

[code]

[2022-10-24 23:45] mathewc commented on #8853
The HostMonitor logs you mention are only warnings, and that component does not terminate the application. Those logs are just showing that at this time, your app was using high CPU. The actual request to shut down the worker instance on the VM originated externally, not from within the Function App. The underlying platform that Functions runs on monitors workers for CPU/idle and can force the wor

[2022-10-24 23:48] mathewc commented on #8853
The HostMonitor logs you mention are only warnings, and that component does not terminate the application. Those logs are just showing that at this time, your app was using high CPU. The actual request to shut down the worker instance on the VM originated externally, not from within the Function App. The underlying platform that Functions runs on monitors workers for CPU/idle/memory and can force

[2022-10-25 07:19] ajarvinen opened #8861 "Exception while trying to authenticate with DefaultAzureCredential to application insights"
Using DefaultAzureCredential to authenticate to Application Insights throws Exception:

`
System.Private.CoreLib: Exception while executing function: Function1. Microsoft.ApplicationInsights: The provided tokenCredential must inherit Azure.Core.TokenCredential (Parameter 'tokenCredential').
`
Here is a snippet of the code used:
[code]
#### Expected behavior

Authentication should work to applicati

[2022-10-25 08:07] ramya894 commented on #8853
@vassilyl Please check the above comment.

[2022-10-25 08:49] TobiasLundP commented on #8667
Are there any updates to this issue? We are getting flagged for using <4.0.0 runtime atm with a "upgrade to 4.x runtime for continued support", but we don't want to upgrade critical functions before we know that i.e. the AzureAD module is able to be imported in >4.0.0 runtimes.

[2022-10-25 09:52] vassilyl commented on #8853
@mathewc, thank you for the analysis. Does it mean Functions could not be used for CPU-bound computations? If it does not, then how can I control when the "underlying platform" "deems necessary" force a worker to terminate?

[2022-10-25 11:41] LuckyLub commented on #8583
Message from MS:

Product Group is still working on improvement on the west Europe region. Will keep you updated on any progress.

[2022-10-25 13:11] Ved2806 commented on #7878
Hi @mattchenderson Could you please help with this issue?

[2022-10-25 15:41] ramya894 commented on #8849
@BlueChip13 @zzzachzzz as per our understanding there are chances of missing the values of JwtSecret in deploment env(cloud), please help us to understand from where the configuration values are coming from are these from a json file or app settings etc, with the above info we can narrow down the issue more.

[2022-10-25 16:45] brettsam commented on #8408
Assigning to @RohitRanjanMS to triage. He's likely already tracking.

[2022-10-25 16:58] #8230 closed, assigned to kshyju

[2022-10-25 17:01] sadman-work opened #8862 "Overriding Configuration at Runtime for Linux Elastic Premium Plan does not work when using Environment variable with dot such as "Host.Triggers.DurableTask.AzureStorage""
When we add the below app setting to override monitoring configuration it does not work.

AzureFunctionsJobHost__logging__logLevel__Host.Triggers.DurableTask = Warning.

### **Expected Behavior :**

LoggerFilterOptions
{
  "MinLevel": "None",
  "Rules": [
    {
      "ProviderName": null,
      "CategoryName": "Host.Triggers.DurableTask",
      "LogLevel": "Warning",
      "Filter": null
    }

##

[2022-10-25 19:22] mathewc commented on #8853
No, of course it doesn't mean that :) The platform that Functions runs on has logic in place to protect VMs from becoming completely unresponsive in cases where the VM is running critically low on memory. We do see that at the point in time when this restart occurred, your app was consuming a large amount of memory:

![image](https://user-images.githubusercontent.com/1056548/197861938-dd577a8b-7cf

[2022-10-25 19:43] Rutix commented on #8583
I got some messages that we got hit again. We are not entirely sure if it was the same cause as this issue but we had "Service unavailable" a couple of times today in west europe.

[2022-10-25 20:29] rdvansloten commented on #8583
@Rutix I happened upon this thread as well this afternoon, also from The Netherlands, having Functions (Consumption tier) in West Europe. They were unavailable and/or throwing SSL errors. I also could not deploy from VS Code (unavailable)

What fixed it for me is going into the Portal and Restarting my Functions manually.

[2022-10-25 20:49] LuckyLub commented on #8583
That’s a temporary fix.

[2022-10-25 21:11] zzzachzzz commented on #8849
@ramya894 The configuration values are coming from app settings (set in the Azure portal, the Configuration section of the function app).

I believe this is definitely still a bug, but I think I have mitigated the issue with some workarounds. It has been difficult to diagnose and pinpoint the root cause, but I can tell you what I've observed, and what my setup includes that I think makes it unique

[2022-10-25 21:42] Rutix commented on #8583
@rdvansloten sadly that is only a temp fix and also doesn't always work (or takes a long time to recover). The best way would be for the Azure team to fix this asap.

[2022-10-25 22:24] mattchenderson commented on #7878
With runtime 4.11.2.19273 and Microsoft.NET.Sdk.Functions 4.1.3, you should be able to successfully reference up to 6.21.0 of Microsoft.IdentityModel.Tokens. I was able to succeed with that using the originally provided repro project.

That version is still behind latest public, and if I did update the package past that, I do indeed see the error as described. 6.21.0 is from ~4 months ago, and the

[2022-10-25 23:46] liliankasem opened #8865 "BlobTrigger payload expression binding not working as expected"
When using a queue trigger binding with a blob input binding, the following example works as expected. In this example, we are able to parse the payload of `myBook` and use the `id` to evaluate `input-container/{id}.txt` to `input-container/1.txt`

QueueTrigger/index.js

[code]

function.json

[code]

Trigger payload:

`{ "id": "1", "name": "mybook" }`

Output:

[code]

**This behaviour is also ex

[2022-10-25 23:56] david-eagles commented on #7878
That proposed option isn't very good from a security point of view, especially with assemblies relates to security and identity.  A lot of the time we're upgrading the assembly version to overcome identified security vulnerabilities with known exploits.  Having the runtime silently snap the assembly back to an earlier version with known vulnerabilities will introduce a serious security problem...

[2022-10-26 00:11] ejizba commented on #8865
I don't know why this is, but AFAIK we're just handling what the host gives us. Specifically, here is the invocation we get for a queue trigger with data set to "string" and for a blob trigger with data set to "bytes":
<img width="230" alt="Screen Shot 2022-10-25 at 5 05 31 PM" src="https://user-images.githubusercontent.com/11282622/197904404-6753815f-118d-4692-94cc-6688cb865814.png"> <img width="

[2022-10-26 00:27] liliankasem commented on #8865
If that's the case, this is probably a host or WebJobs sdk issue (I can transfer issue). We should not be giving you bytes in this use case 🙃

[2022-10-26 01:08] ejizba commented on #8865
I'm pretty sure it has been like this for a long time, though, so it would definitely be a breaking change

[2022-10-26 08:07] heller-tobias commented on #8448
@nzthiago I had this issue until recently with swapping with private endpoints.
Now the swap is shown as successful in the pipeline and the deployment center of our "stage" slot. The swap does not actually happen, since the new binaries are still in the "stage" slot and not in our "prod" slot.

[2022-10-26 16:44] liliankasem commented on #8865
Yup it will be a breaking change, so something we might discuss for 5.0. This is tied to this underlying [issue](https://github.com/Azure/azure-webjobs-sdk/issues/2930).  There was a commit made to add batch types that broke the expected behaviour in 2019 ☠️

I'll keep this open to validate this use case if we fix it in the WebJobs SDK. Otherwise if we don't have plans to address it then I can clo

[2022-10-26 17:07] kshyju opened #8866 "Switch from IApplicationLifetime(deprecated) to IHostApplicationLifetime"
https://github.com/dotnet/aspnetcore/issues/7749
https://learn.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.iapplicationlifetime?view=aspnetcore-6.0

Usage of the deprecated type in host: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/WebScriptHostExceptionHandler.cs#L17

[2022-10-26 19:47] vassilyl commented on #8853
That makes sense, thank you very much.

[2022-10-26 19:47] #8853 closed, assigned to ramya894

[2022-10-27 07:39] jamesyao-msft commented on #8861
I met the same issue

[2022-10-27 08:02] ramya894 commented on #8861
@ajarvinen We are investigating the issue and update you the findings soon. Thanks

[2022-10-27 11:29] rdvansloten commented on #8583
@Rutix yeah it is, but it's better than "nothing" if you're using this in Prod. It keeps happening for me and a reboot is a fast fix for now. Did you put in a support ticket?

I get this diagnostic when creating a ticket:

[code]

Apparently it was running for 825 minutes? Odd.

[2022-10-27 14:11] Rutix commented on #8583
Indeed it's better than nothing :) but would be better if Microsoft just fixes the problem. And yea we have had support tickets open. You can see the answer in one of my earlier comments. They know it's a known issue

[2022-10-27 18:39] michaelpeng36 opened #8869 "admin/functions/download does not respect ARM max response size limits"
#### Investigative information
The following method in `FunctionsController.cs` https://github.com/Azure/azure-functions-host/blob/7054c51ad9666d6ae0f30da57054d9d8c457789b/src/WebJobs.Script.WebHost/Controllers/FunctionsController.cs#L221 does not seem to respect ARM maximum response size limits, documented here: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-detai

[2022-10-27 20:29] fabiocav commented on #8614
Closing this item as we have the initial design in place.

@surgupta-msft , can you please link the implementation item here once you have that?

[2022-10-27 20:29] #8614 closed, assigned to soninaren, surgupta-msft

[2022-10-27 20:35] surgupta-msft opened #8870 "Implement selective loading of extensions in Host in case of Stein (WorkerIndexing)"
This issue tracks implementation of selective loading of extensions in case of WorkerIndexing - [Design doc](https://dev.azure.com/msazure/One/_git/AAPT-Antares-Docs?version=GBmaster&path=/TeamDocs/FunctionTeamDocs/Design/Host/SelectiveLoadingOfExtensions.md)

Corresponding design issue for reference - https://github.com/Azure/azure-functions-host/issues/8614

[2022-10-27 20:36] surgupta-msft commented on #8614
Here is the link tracking implementation of this work - https://github.com/Azure/azure-functions-host/issues/8870

[2022-10-27 20:49] jviau commented on #8862
Can you elaborate on what you think we should do in this scenario? I am not sure if I see a potential solution, it just sounds like the environment does not support "." in the variable names. And for logger filters to be applied correctly you **must** have "." in the name.

Although IMO, it might have been better for us to _not_ do that PR you linked and instead let the environment fail instead of

[2022-10-27 23:18] sadman-work commented on #8862
Adding @balag0 to comment more on why that change was done. But as far as I understood without doing that change it was cause bigger breaking issues and hence reverting that change won't be an option.

I want to discuss what is our option for the function runtime to recognize environment variables with _ .

It is a bit conflicting and hence want to see how we can fix it as we allow the customers t

[2022-10-28 10:08] wbail opened #8871 "typo log message"
Impacting customers logs. "Updaiting"

[Updaiting on FunctionsHostingConfiguration.cs](https://github.com/Azure/azure-functions-host/blob/7054c51ad9666d6ae0f30da57054d9d8c457789b/src/WebJobs.Script/Config/FunctionsHostingConfiguration.cs#L85)

[Updaiting on FunctionsHostingConfigurationTest.cs](https://github.com/Azure/azure-functions-host/blob/7054c51ad9666d6ae0f30da57054d9d8c457789b/test/WebJobs

[2022-10-28 11:46] kapil-07 commented on #8448
@nzthiago Facing the same issue, Could you please confirm whether this is fixed currently when deploying on westeurope region, I am facing this issue.

[2022-10-28 13:01] Ved2806 commented on #8429
Hi @PleaseStopAsking Does the experiment by stuartdotnet helping in your case?

[2022-10-28 13:08] pragnagopa commented on #8478
We do not recommend pinning to older runtime version for linux consumption applications. Please let us know what is the issue you are running to that requires you to pick older version. Also, note that `4.5.2` - https://github.com/Azure/azure-functions-host/releases?page=4 is 5months old and we cannot provide support for Functions Runtimes that are older than 2 months unless there is an identified

[2022-10-28 13:12] PleaseStopAsking commented on #8429
@Ved2806 I have been unable to allocate resources to test at this time. I have instead chosen to disable diagnostics for this specific storage account only until we can revisit which will be within the next few months.

[2022-10-28 16:20] satvu opened #8873 "Host should handle client disconnects received in FrontEnd when Functions are executing"
#### Investigative information

Result of CRI. Due to an [update in the FrontEnd](https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kestrel_yarp.md), the FrontEnd table will log `400.604` errors (client gone, client disconnected), but the host will continue executing the request from that same client despite the client disconnecting during execution. The following

[2022-10-28 17:11] nzthiago commented on #8448
Hi everyone, we are in final testing phase to ensure we have addressed completely and will work on documenting the steps so you can complete the swap without issues when storage is network restricted. Hoping to have an update in the next couple of weeks.

[2022-10-28 17:38] Ved2806 commented on #8567
Hi @ChrisAllisonMalta as per the repro steps given by you, It is not working while creating functions in VS Mac. Could you please confirm that if it is working as expected with VS windows? so that we can focus on Mac part

[2022-10-28 20:18] mathewc commented on #8850
This is by design. TimerTrigger uses a blob lease mechanism "singleton" https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/TimerTrigger#singleton-locks to ensure that only 1 of N scaled out instances of your app is running the timer. That requires network connectivity for lease acquisition + renewals. It's by design that if an instance either can't acquire the lease or can't renew it when

[2022-10-28 20:18] #8850 closed, assigned to ramya894

[2022-10-29 08:43] ChrisAllisonMalta commented on #8567
Hi Ved, sorry I don't have access to a windows machine. Its a simple hello world app so should be easily reproducible at MS (which you imply you have done)

[2022-10-29 22:02] ghost commented on #8849
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-31 18:42] ejizba opened #8877 "Allow user code to modify worker capabilities in placeholder scenario"
#### What problem would the feature you're requesting solve? Please describe.

My goal is for the worker/host to respect a worker capability set in a user's code, but this is not possible for most OOP workers because of the placeholder scenario. Specifically, the only way to set the worker capabilities (AFAIK) is in the WorkerInit, but for placeholders we don't have the user's code until FunctionE

[2022-10-31 22:24] v-shenoy opened #8878 "Unable to invoke non-HTTP triggered functions with `cardinality: many` using admin API"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

All

#### Question

As per our [docs](https://learn.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#non-http-triggered-functions), there is a way for customers to test their functions locally using core tools and the admin API.

We received an issue related to

[2022-11-01 02:00] surgupta-msft commented on #7292
Update - discussed offline on the design and we are planning to execute this feature in 3 parts -

- [x] Part-1: Adding additional telemetry to analyze how many Production apps will be impacted once we start recycling the workers and deciding on the optimal failure Threshold.
           - Implementation - https://github.com/Azure/azure-functions-host/pull/8796. PR merged.
           - **ToDo** - W

[2022-11-01 02:11] jamesyao-msft commented on #8861
@ramya894 I did some further test and found seems this issue only happens on my local run (VS2022), when I deployed this change to Azure, it's gone.

[2022-11-01 04:01] tranduy216 commented on #8850
I agree we can stop the host to avoid trigger timer again. But why does the application not restart?

[2022-11-01 06:22] Quixotical commented on #4363
same issue as @nadershamma with a v4 function. Honestly if it's been 2 years and multiple function app versions, I am not hopefully that MS will take this issue seriously.

the most annoying part is that if I deploy using the `func azure functionapp publish` command, it properly sets the api route from `/api` to `/api/whatever` but when I deploy in azure devops, it always ignores my host.json file