[2019-08-16 03:18] scottluskcis commented on #4464
based on the example from @kemmis I've added some extension methods to a repo to approach this is a similar way

check out this [repo ](https://github.com/scottluskcis/azure-function-di )

using extensions methods file like @kemmis in repo at [IFunctionsHostBuilderConfigurationsExtensions.cs](https://github.com/scottluskcis/azure-function-di/blob/master/src/FunctionApp1/IFunctionsHostBuilderConfig

[2019-08-16 06:11] AlanParr opened #4807 "Incompatibility with EFCore 3.0.0-preview8"
Not sure if this is the right place for this report so please move if incorrect.

There is a conflict between the version of Microsoft.Extensions.DependencyInjection that is currently used in Microsoft.EntityFrameworkCore 3.0.0-preview8 and Microsoft.Azure.Functions.Extensions as detailed in below dependency graph.

[code]

The result is the following error at runtime:
[code]

The preview8 assembl

[2019-08-16 07:04] ChristianWeyer commented on #3965
Glad to hear! :-)

[2019-08-16 11:35] t-l-k commented on #3399
Having followed your advice, starting such a project yields the following startup:

[code]

But I'm guessing I want this for the pre-release version, because as you say this branch https://github.com/Azure/azure-functions-host/tree/asynscopeccontext is not yet merged:

[code]

Confused. What host process should be running this? I've `func.exe` installed via the Functions CLI tools. This is no good

[2019-08-16 12:18] JeanBaptisteScellier commented on #4790
Thanks for answering.
I checked via Resource Explorer and I confirm you there is no Linux Resource in the resource group.
I do not have rights to create a new resource group. That is why I post here the problem. But if you cannot solve the bug, I will ask for a new one.

[2019-08-16 14:08] rcarmo commented on #1627
This is still a thing, I see. Any chance of a fix? I have some debugging log entries that are quite verbose, and scrolling through them is a major pain.

[2019-08-16 14:42] nardieu opened #4808 "Timer trigger fired twice"
My function has timer trigger to call it once each 15 minutes. But yesterday it was called twice. It caused errors in DB requests because it supposed to be written only by one function.

![image](https://user-images.githubusercontent.com/3143121/63175099-f9f25800-c04b-11e9-9ea0-709d9c2c935f.png)
_Don't pay attention on canceled HTTP request_

#### Check for a solution in the Azure portal

Diagnost

[2019-08-16 14:46] xiaoyang-connyun commented on #2559
With the newly released Dependency Injection, I would even hope that OAuth is supported via DI.

[2019-08-16 15:27] MisinformedDNA commented on #3189
I'm reading #4761 as "we are adding _proper_ support".

[2019-08-16 15:30] rocco-scaramuzzi commented on #4425
@optiks brilliant, that fixed my issue! Thanks a lot!

[2019-08-17 09:22] benc-uk commented on #4809
Same problem, came out of nowhere
Also using Node
![image](https://user-images.githubusercontent.com/14982936/63209463-ee993e00-c0d8-11e9-86b3-3ef06122af5d.png)

[2019-08-18 22:12] dtxrich commented on #4263
I am also seeing this issue. Any ideas how to fix this for python?

[2019-08-19 07:09] niliand commented on #4788
the string must be provided here:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#settings

[2019-08-19 07:09] #4788 closed

[2019-08-19 07:09] niliand commented on #4788
the string must be provided here:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#settings

[2019-08-19 13:38] meixger commented on #3399
@t-l-k You are right - as of now it doesn't work anymore on my machine - evidently because the Function Runtime auto updated.

I'm was able to configure it manually and now i get this version information on startup:

[code]

1. Download the [Artifacts (drop.zip 820MB)](https://azfunc.visualstudio.com/Azure%20Functions/_build/results?buildId=1550) from the build server and extract the Azure.Functio

[2019-08-19 16:28] t-l-k commented on #3399
@meixger thanks, this works for me now also. I hadn't realised there was a prerelease build for `azure-functions-core-tools`. Definitely wanted to keep using `func.exe` for the convenience factor.

[2019-08-19 20:10] katlimruiz opened #4812 "How to use pino and papertrail as logger for NodeJs"
According to C# documentation, it is possible to inject on ILogger therefore we can specify our logger like NLog or etc.

However, in NodeJs there is no way to inject it, furthermore, if I want to use pino, I can't because I can't inject the following syntax at startup.
node index.js | pino-papertrail xxxx

Any help here?

[2019-08-19 22:46] soninaren commented on #4720
This is now complete

[2019-08-19 22:46] #4720 closed

[2019-08-19 23:38] alrod commented on #4811
@azarboon, does @SDP190's comment answer your question?

[2019-08-19 23:53] alrod commented on #4806
Closed as answered. @andrewb273 feel free to reopen if you think the question is not fully answered.

[2019-08-19 23:53] #4806 closed

[2019-08-20 00:13] yojagad opened #4813 "[Duplicate data issue] Consume "RpcTriggerMetadataPopulated" capability"
RpcTriggerMetadataPopulated capability was introduced in order to populate the TriggerMetadata on the worker side (for http requests) in order to avoid duplicate data being sent over.

Host PR: https://github.com/Azure/azure-functions-host/pull/4748
NodeJS PR using this capability: https://github.com/Azure/azure-functions-nodejs-worker/pull/238

[2019-08-20 00:18] yojagad opened #4814 "[Duplicate data issue] Consume "RpcHttpBodyOnly" capability"
RpcHttpBodyOnly capability was introduced in order to populate the body only so that the corresponding language workers can take care of reconstructing the rawBody out of it instead of sending both through gRPC.

Host PR: https://github.com/Azure/azure-functions-host/commit/02f83defd79ce149f04ef0b52307e152fe7f79a8
NodeJS changes: https://github.com/Azure/azure-functions-nodejs-worker/pull/234

[2019-08-20 00:30] alrod commented on #4808
In kusto logs I see the timmer trigger was once executed twice on different workers in the same time.

[2019-08-20 00:50] andrewb273 commented on #4806
@ahmelsayed ok thanks for the info. So we could reduce that JIT time by reducing the size of the codebase I presume?

[2019-08-20 01:04] alrod commented on #4728
Closing as workaround is found.

[2019-08-20 01:04] #4728 closed

[2019-08-20 01:05] ankitkumarr commented on #4588
I did some initial investigation to see when exactly do we see cold starts in warmed instances. A couple of things that I want to leave here (Text Driven Development) --

1. Having a Warmup trigger run prior would definitely help with the first invocation, but the first invocation time may still not be super close to the subsequent invocation to the same function. This would make sense as there's

[2019-08-20 01:55] billbliss commented on #4809
Seeing the same problem today when running locally in VS Code.

Azure Functions Core Tools (2.7.1575 Commit hash: b7750e771a4e56352c767dfa16413ec9c79b72ba)
Function Runtime Version: 2.0.12625.0
Node v10.15.3

Is there a workaround anyone knows about?

[2019-08-20 02:26] pragnagopa commented on #4796
Fixed in referenced PR.

[2019-08-20 02:26] #4796 closed

[2019-08-20 02:51] katlimruiz opened #4815 "Add to context the logging level config"
Since Azure Functions in NodeJs SDK is only limited to console and file, we need to send the logs to papertrail too.
Therefore I created a winston object with a syslog transport.

My issue now comes that my winston logger log level cannot make it match against host.json log level information (logging config), therefore now I have to match both by hand.

[2019-08-20 04:33] #4811 closed

[2019-08-20 09:55] VDKB commented on #3399
@meixger We just did the test and it works, but is has to be version Azure.Functions.Cli.win-x64.2.7.1513. Later versions don't work (tested with Azure.Functions.Cli.win-x64.2.7.1575).

[2019-08-20 10:58] FinVamp1 commented on #4810
Related User Feedback here. https://feedback.azure.com/forums/355860/suggestions/38202586

[2019-08-20 12:36] jtemperv commented on #3399
@fabiocav tested and confirmed, the fix works. Looking forward to see this becoming available in consumption plans. :) thanks for the effort!

[2019-08-20 14:51] pradeepjaladi opened #4816 "HTTP Trigger executing twice"
Hi,

Recently I deployed Azure functions with multiple functions. The workflow of the function is defined as below.

Client calls HTTP Triggered Function (PatientContextAPI) which will kick o(Queue Notificaions) f NotifyClient function and send a message out.

Please see below log for details

2019-08-20T14:26:50.923 [Information] Executing 'PatientContextAPI' (Reason='This function was programmat

[2019-08-20 14:57] pradeepjaladi commented on #4816
Another log example of the first call. from the postman, I call the function once and it was triggered twice.

2019-08-20T14:55:26.940 [Information] Executing 'PatientContextAPI' (Reason='This function was programmatically called via the host APIs.', Id=d40d678e-4af7-4440-8afe-2119b8097da2)
2019-08-20T14:55:27.316 [Information] C# HTTP trigger function processed a request.
2019-08-20T14:55:26.946

[2019-08-20 15:46] billbliss commented on #4809
I shut down VS Code and manually killed two instances of Node.js. There were about 20 instances of the "Runtime Broker" process running (I had been writing code and testing for several hours) and I killed all of those. I restarted VS Code and was able to debug again. If I had to guess, I'd say there's a process leakage bug.

[2019-08-20 17:23] mattchenderson commented on #4729
This makes sense and is something we do plan to support - I just don't have a timeline. To build some additional context, the goal here is to remove the _secret_ from the connection string (you still need a locator for the account). An identity could be presented, and storage would check this against the **blob data owner** role or similar (described [here](https://docs.microsoft.com/azure/storage

[2019-08-20 18:08] pragnagopa commented on #4792
Fixed in referenced PR

[2019-08-20 18:08] #4792 closed

[2019-08-20 20:32] pragnagopa opened #4817 "Wait for function dispatcher to drain invocation buffer before job host shuts down"
If host started invocations and if application is shutting down before invocations complete, invocations will fails with following error because language worker process is disposed before it handles buffered invocations

[code]

To prevent this, wait for FunctionDispatcher to finish invocations i.e inflgiht requests before shutting down a worker process.

ASP.NET Webhost has default graceful shutd

[2019-08-20 22:11] alrod commented on #2421
@rhichaj please create a separate issue in https://github.com/Azure/azure-functions-host/issues

[2019-08-20 23:24] grimmersnee opened #4818 "QueueTrigger function stopped firing on App service plan"
We are also experiencing failed queue triggering in our .net function app, hosted using an app plan.

It seems to stop every 5 days or so, sometimes more frequent.

We have other queue driven functions in node and they don't experience this (although they are on the consumption base model.)

App insights don't show any exceptions, so this is pretty hard to troubleshoot.

#### Investigative informa

[2019-08-20 23:40] divyagandhii commented on #4767
Is this change done for windows?

[2019-08-21 00:58] paulbatum commented on #4767
No, I don't think anyone has looked at this yet.

[2019-08-21 01:35] jacks0n commented on #1361
Has anyone found any way to serve files in NodeJS? Even if I return a binary file as a string or buffer, it doesn't seem to work, the file is unreadable and the encoding looks off.

[2019-08-21 02:58] iriahk89 commented on #4797
I also  have similar issue where I need to update my Access token daily where I store in Azure Function app setting but could not find a way to update the app setting pragmatically from azure function C# code. Please advice

[2019-08-21 09:07] grimmersnee commented on #4818
I saw the recent reply https://github.com/Azure/azure-functions-host/issues/4789, so I have tried that to see if it fixes the problem

[2019-08-21 09:13] Misiu commented on #4761
@brettsam @fabiocav does this mean that we will be able to access `appsettings.json` from functions and add/update values in it? I've created https://github.com/Azure/azure-functions-host/issues/4797 asking for such functionality but having support for `appsettings.json` should solve my problem.
Will you support adding/updating values in `appsettings.json`?

[2019-08-21 13:01] thedoupub commented on #3522
This seems to be still an active issue with python and time triggers.

[2019-08-21 15:31] reynoldsa opened #4820 "Issues accessing Application Insights TelemetryClient inside Azure Functions startup"
Problem Description:
--------------------

I have an Azure Functions app with which I use Application Insights telemetry. I am trying to properly set up dependency injection with it, however, I am running into the following issue:

When I set up `TelemetryClient` in my `Startup` class like this:

`builder.Services.AddSingleton<TelemetryClient>(new TelemetryClient())`, resolve the `ServiceProvider`

[2019-08-21 17:42] t-l-k commented on #3399
Has anyone managed to get this working hosted? It works fine in localhost containers and the patched `func.exe`, but I've tried uploading a test container and Azure just isn't having.

[code]

Then updating the SDK to `1.0.30-beta1` and Azure Functions `v2-preview` ...

1. Built from the template Dockerfile - works fine, functions work, `/admin/host/status` reports fine
2. Built from the template

[2019-08-21 19:07] chris-rogala commented on #4703
@fabiocav- just got word that the ticket was not created.  They are doing it today.  Just didn’t want you to think it is not needed.

[2019-08-21 19:18] mathewc opened #4821 "Update Extensions to support new Runtime Scale Monitor interfaces"
See parent issue https://github.com/Azure/azure-functions-host/issues/4657 for details. This includes the following extensions: EventHubs, ServiceBus, CosmosDB, DurableFunctions

[2019-08-21 19:39] alrod opened #4823 "Investigate throughput drop"
Performance tests indicates throughput drop from 145 rps to 115 rps (C# Ping) 2.0.12555.0 staring from 7/15

Need to set up private site extension and get perf snapshot

[2019-08-21 19:47] alrod opened #4824 "Measure EventGrid+Blob performance"
Scenarios:
1. Changing Content/Type for small blobs
2. Generating medium size CSV blobs.
3. Big blob processing (audio/video).

[2019-08-21 19:57] pragnagopa opened #4825 "HttpInvoker- Initial design for simple language worker over Http"

[2019-08-21 20:07] brettsam commented on #4588
May need to break this one down into smaller items if it's going to span several sprints.

[2019-08-21 20:09] soninaren opened #4826 "Implement the template APIs hydrated by extension bundles in the ARM"

[2019-08-21 20:26] pragnagopa commented on #4823
cc @safihamid  as fyi

[2019-08-21 20:28] brettsam opened #4827 "Sprint 56 v2 Release"

[2019-08-21 20:49] paulbatum opened #4828 "Support for pushing logs to Azure Monitor in Linux scenarios"
We have code that does this through ETW for Windows (see https://github.com/Azure/azure-functions-host/issues/2091) but we'll need an equivalent for Linux, similar to what we did for our system logs on linux (write to files, let the infrastructure ingest from those files).

[2019-08-21 21:04] safihamid commented on #4823
@alrod please use private stamp without private site extension and get perfview profiles.

[2019-08-21 21:48] dNetGuru commented on #3784
I'm seeing the same issue with `Microsoft.Azure.WebJobs.Extensions.Storage` v3.0.7 and `WindowsAzure.Storage` v9.3.3. I'm seeing the following message in the protal:

```Function (QueueConsumer/LogUpdater) Error: Microsoft.Azure.WebJobs.Host: Error indexing method 'LogUpdater'. Microsoft.Azure.WebJobs.Extensions.Storage: Can't bind Table to type 'Microsoft.WindowsAzure.Storage.Table.CloudTable'.``

[2019-08-21 22:20] waltersjack opened #4829 "httpsOnly is ignored"
Looks like this issue has happened before
https://github.com/Azure/azure-functions-host/issues/4303

Verified in our ARM template and in Azure portal that the https only flag is set to true.  We just noticed today that this is not being enforced.

#### Investigative information

Please provide the following:

- Timestamp: found 8-21-2019 10 AM PST
- Function App version (1.0 or 2.0): 2.0
- Functio

[2019-08-21 22:48] pragnagopa commented on #4476
cc @paulbatum @ahmelsayed

[2019-08-22 04:48] kinjalpgor opened #4831 "Azure function V2 is not triggering on scheduled time with App service Plan"
*Description*
Azure function  V2 is not triggering on scheduled time unless triggered manually or opened from the portal. and with App Service plan

*C# language is used *

*Related information*
App Service plan: South Central US (App Service plan)

[2019-08-22 06:55] macux commented on #3370
@fabiocav - I've added the suggested code to my function's startup but I'm still seeing the issue described here: https://github.com/Azure/azure-webjobs-sdk-extensions/issues/511 - (array input binding broken in v2) should your code fix this as well? My startup is fine generally as I was already successfully using DI with the function in question.

[2019-08-22 08:14] Badabum opened #4832 "Function host is unable to start(MSI auth issue)"
#### Investigative information
After successfully running for several hours, all functions in function app starting to return `503` response codes. There are no error logs in Kudu (`LogFiles/Application/Functions/Host`). The only meaningful error I'm getting when navigating to the portal and opening any function:
[code]
Function app works as usual after the restart of the app through the portal or

[2019-08-22 16:44] fschaal commented on #4425
Setting the filter in the `host.json` did not work for me. I got the logs working by adding
[code]
to my startup class. This basicly shows logs from all projects in your solution.

[2019-08-22 18:02] thedoupub opened #4833 "Azure functions app gets offline python"
#### Investigative information

Please provide the following:

- Timestamp:  2019-08-22T17:24:25.5881276Z
- Function App version (1.0 or 2.0): 2
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: 93112b7923d3364fae2c3dd6034dd82e
- Region: West - Europe

#### Repro steps

Provide the steps required to reproduce the problem:

We have an app that runs through emails and we wan

[2019-08-22 18:07] thedoupub opened #4834 "Time Triggers not firing."
Hello there people.

i have a problem with an azure function app in python that has a time trigger.

The CRON is set on every 15 seconds. For some reason after some successful fire attempts we experience a problem where the function app stops being fired.

The functionality that runs usually takes nearly 2 to 4 minutes which is something that we did not have a problem with before this very week.

[2019-08-22 21:55] alrod commented on #4797
You can use [Kudu API](https://github.com/projectkudu/kudu/wiki/REST-API#settings) to update your app setting from C# code (using HttpClient class).

[2019-08-22 22:07] alrod commented on #4797
Yes, you need to call Kudu API from your timer trigger Function App to update app settings in 2 other function apps.

[2019-08-22 22:07] #4797 closed

[2019-08-22 22:13] alrod commented on #4785
Closed as no active.

[2019-08-22 22:13] #4785 closed

[2019-08-22 22:17] divyagandhii commented on #4767
Thanks. I will open another one for Linux Consumption after it's done for windows.

[2019-08-22 23:00] alrod commented on #4784
Yes, I see your function `******s` started to process new blobs right after restart 2019-07-29 01:14:16
We have a regression which causes blob/queue triggers sometime getting stuck.

Workaround:

1.Open portal -> Restart the function app.
2.After the app has restarted. Go to Platform Features -> Function app settings tab -> Verify that the function runtime version is 2.0.12625.0 or newer
3.Open th

[2019-08-22 23:02] paulbatum opened #4837 "Do not log "Ignoring function activity metric" events in system logs"
There's a high volume of events that look like this in our system logs: `Ignoring function activity metric: myapp 1 InProgress True 18136`.

I think these are a debug log for what is essentially a no-op in windows. We should disable these entries as they are really just noise.

[2019-08-22 23:13] mathewc commented on #4837
Funny, I was just complaining to Divya about the same thing :)

[2019-08-23 00:29] #4837 closed

[2019-08-23 01:31] waltersjack commented on #4829
Non issue - Postman does report that the calls made a redirected.  At least not in any obvious way. :)

Sorry for the worry. Closing.

[2019-08-23 01:31] #4829 closed

[2019-08-23 02:38] AartBluestoke commented on #4831
@kinjalpgor is always on turned on?

[2019-08-23 05:41] kinjalpgor commented on #4831
**Yes Always ON is turned on.**
Just to update, we discovered that the timer trigger is not triggering on scheduled time only if the Run method is synchronous. When I changed it to Asynchronous, the timer trigger is perfectly triggering.
If it is by design, then please update your official documentation.

[2019-08-23 07:55] asasine opened #4848 "Proxy to localhost with different port results in infinite loop"
The special proxy variable [localhost](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#reference-localhost) is misinterpreted when running a Function Proxy locally with the `func` CLI (version info below). It does not consider port numbers during routing and fails to redirect to a different URI when that URI is on the same host with a different port.

I am running the Func

[2019-08-23 11:15] pavitrag123 opened #4840 "Updated function app settings with kudu is not reflected on the azure portal"
Hi,

I'm working on Azure function v2.0 and requirement is to update it's application settings. I'm able to use KUDU rest api with c# webclient and update the value. I can see value changed at Kudu url https://*.scm.azurewebsites.net/api/settings but at the Azure portal ->Function app->application settings value is not updated. Can someone please let me know if I'm missing anything

Code
`string c

[2019-08-23 14:28] brettsam commented on #4840
@ankitkumarr -- are you the Kudu expert?

[2019-08-23 14:37] brettsam commented on #4834
@pragnagopa -- with this HostInstanceId (in weu), I see that we seem to hit a WorkerErrorEvent in python, yet I can't see what the error is. `Handling WorkerErrorEvent for runtime:python, workerId:0a84ca72-a9b1-421a-9bee-233485a72b2d`.

Any ideas on this?

[2019-08-23 14:38] brettsam commented on #4833
@pragnagopa -- can you route to a python expert that can help diagnose the problem here?

[2019-08-23 14:40] brettsam commented on #4832
@Badabum -- I'm assuming you have an MSI configured? Can you give us some background on your setup?

@mattchenderson -- do we have an MSI expert that can help debug this?

[2019-08-23 14:42] brettsam commented on #4831
That is not by design. Can you share what it looked like before/after your change? If you switch it back to synchronous, does it fail again?

Is it possible that your synchronous version was locking up and never completing? That would prevent subsequent invocations.

[2019-08-23 14:46] brettsam commented on #4820
Logging from within a Startup class can be tricky. Not all services are set up yet, so not everything will work as expected if you try to have DI inject something.

What do you need to log in Startup? You may have to instantiate a one-off TelemetryClient using APPINSIGHTS_INSTRUMENTATIONKEY and log using it directly.

[2019-08-23 14:48] brettsam commented on #4820
Another question -- in your repro -- can you use a factory to create your `NonCryptographicRandomNumberService`?

`builder.Services.AddSingleton<IRandomNumberService>(s => new NonCryptographicRandomNumberService(s.GetService<TelemetryClient>()));`

[2019-08-23 14:49] brettsam commented on #4818
Thanks @grimmersnee -- please let us know if you see this again. I'm going to close this as (hopefully) it is handled now. But please re-open if you need to.

[2019-08-23 14:50] dougmolineux commented on #4803
@brettsam so I managed to get this to build by modifying the Dockerfile. I added `npm run build`. In its entirety, the Dockerfile looks like this:
[code]
This created the `dist` folder and the function is running. So I'm going to close this now, thank you!

[2019-08-23 14:50] #4803 closed

[2019-08-23 14:55] brettsam commented on #4808
I see that one host grabs the lease ~30 minutes earlier. And then the next host grabs it as well, but it's never been released. I wonder if this API has a deadlock issue just like some of the other storage ones that we've been seeing lately.

[2019-08-23 14:57] brettsam commented on #4816
Where are you seeing these logs? In the portal?

[2019-08-23 15:02] brettsam commented on #4816
I looked up these invocation ids in our backend logs can can confirm that the functions were only executed once. The issue is likely on the logging end of things, so we should try to narrow that down.

[2019-08-23 15:06] brettsam commented on #4815
+@mhoeger

Can you elaborate on your scenario a bit? You're logging directly via a winston logger directly in node -- but you want to be able to grab the host configuration from within your function so you can apply it to your internal logger?

Also note that with nodejs you can use context.log() -- which will use the logging system wired up with functions (which can include App Insights). https:/

[2019-08-23 15:08] brettsam commented on #4812
We currently have no language-worker-specific way to add loggers like this. @mhoeger is there a better alternative? Have we talked about having a way for each language to do their own startup like we do in C#?

[2019-08-23 15:19] ankitkumarr commented on #4840
Unfortunately, I don't think that's possible at the moment. Kudu is hosted on the same machine as your app, and it does not have direct access to our databases to update your global Application Settings.

If you have to use REST APIs to change App Settings, you could use ARM to do that. I can post instructions for that in a little bit.

And @brettsam, definitely not the expert but I have worked a

[2019-08-23 15:35] katlimruiz commented on #4815
I think the core problem here is that there is no way (or no documentation) how to inject the context.log by my own logger or winston or pino. It seems to be closed right now for only appinsights or console.

Yet, if this is not possible now, at least a shortcut would be to be able to read the host.config from within the function.

This way I could at least do the following:
[code]

[2019-08-23 18:02] mhoeger commented on #4787
@LoliLin - I believe your request appears to hang because there is an uncaught exception in your code on the error path execution (ex: if I replace `context.log(error.toString());` with something that clearly won't work like `context.log(error.missingProperty.toString());`, I will see an uncaught exception and the same hanging behavior from the client.

My recommendation is to restructure your cod

[2019-08-23 18:05] #4787 closed

[2019-08-23 18:29] mhoeger commented on #4812
Kindof! The way to run startup code is to define code to run inside of a function that's going to get loaded. At startup, we always will `require` the files needed for function execution, meaning that if we add code that executes in that require'd file like:
[code]

We'll see logs like this:
[code]

This is kinda alluded to here: https://docs.microsoft.com/en-us/azure/azure-functions/manage-connec

[2019-08-23 19:16] katlimruiz commented on #4812
pino is a logger that outputs the log to the console, and then pipes in the transport.

Thus the example:
`node index.js | pino-papertrail my-papertrail-settings

This can be done if I would create a regular nodejs, and then perhaps run in a docker container or by command line.

However, for azure function there is no way right now to do it, it seems. One would need to hack in the run command.

[2019-08-23 19:26] Runamok81 commented on #3907
Just ran into this myself.   Having the ability for local development to effortlessly use a remote key vault would be boon to development speed, security, and would encourage the use of Microsoft's KMS.

[2019-08-23 19:40] gzuber commented on #2960
I'm going to reopen this because after investigation, it looks like #2279 is unrelated.

[2019-08-23 19:43] mhoeger commented on #4812
Got it - thanks! So to answer your question, no, we don't support using pino transports right now. Changing the title of the issue as a feature request

[2019-08-23 19:45] gzuber commented on #2279
After looking into the original issue, the issue with Guids being parsed as strings when using route constraints is unrelated. That issue is tracked/resolved in #2960

[2019-08-23 19:53] gzuber commented on #2960
This should fix both Guids in route constraints as well as Guids in POCOs

[2019-08-23 20:08] pragnagopa commented on #4639
cc @divyagandhii

[2019-08-23 21:30] ggirard07 commented on #1451
In my case I just want to be able to determine whether my function, which process some big files, is going to hit the [1.5 GB memory limit](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#service-limits) at some point due to the scaling. That's not even about the billing, just about whether my whole concept can work or not.

Also not everybody has the team or the resource to

[2019-08-23 22:22] brettsam commented on #4753
@paulbatum -- were you suggeting a host.json template update b/c adding a default here is a breaking change? Ideally we'd just set `Requests;Metrics` as the default, but I'm not sure we can.

[2019-08-23 23:00] paulbatum commented on #4753
Yeah I think it would be a bit dangerous for us to just globally turn sampling off for requests for all V2 apps, it could result in some really significant changes in app insights usage for our existing customers.  So either its an update to the template for the default host.json, or we just get this new sampling behavior in V3. I'm leaning towards the former just because of how many support cases

[2019-08-24 00:51] AidanTfL commented on #3903
@fabiocav Can you please give an update, or a known workaround?

I've the same issue with Microsoft.Data.SqlClient Version 1.0.19221.1-Preview, in a .NET Core Service Bus Queue Triggerd Azure Function, where my repository is injected as a singleton in the startup file.

[2019-08-24 09:48] meixger commented on #4784
Thanks, i updated Microsoft.Azure.WebJobs.Extensions.Storage to 3.0.8-11642 and deployed successfully. The function runtime version is 2.0.12641.0.

I will monitor if blob triggers get stuck again and report.

[2019-08-24 16:59] balag0 commented on #4790
@JeanBaptisteScellier Looks there is another linux function app ending in "-api" in the same resource group where the new windows app is being created which is causing the validation to fail.  Creating the new windows app in a different / new resourcegroup should resolve the issue.

[2019-08-24 18:12] thdotnet opened #4847 "[BUG] when trying to run function QueueTrigger based"
I am trying to run my Azure Function project using Storage Emulator, but I'm getting the following error:

System.MethodAccessException: 'Attempt by method 'Microsoft.Azure.WebJobs.Host.Queues.Listeners.QueueListener+<ExecuteAsync>d__27.MoveNext()' to access method 'Microsoft.Azure.WebJobs.Host.Protocols.FunctionDescriptor.get_LogName()' failed.'

It's a queue trigger, pointing to storage emulator

[2019-08-24 19:51] noodlemom opened #4844 "Timer trigger function stops firing when away from portal."
Hi,
I have a timer triggered function that is currently set to fire every 2 minutes (ideally every 8 hrs . for debugging I have set it to fire every 2 mins)
The functions fires when i am on the portal but stops firing when i step away . I have tried hitting the refresh next to the function name , tried syncing through powershell and syncfuctiontriggers ARM action. None of these are working. Am I m

[2019-08-25 02:57] iriahk89 commented on #4840
I also need to update app setting daily. what is the best way to do that? any reference to use ARM in C# code to automate the process? thanks in advance

[2019-08-26 04:00] pavitrag123 commented on #4840
@ankitkumarr Thank you for the update. could you please give me some information about ARM to update app settings?

[2019-08-26 09:16] thedoupub commented on #4833
Update:

We found out after some long debugging hours with some extra logging we added in our app that there is a specific call that needs to be done on Tensorflow.

apparently you have to call the clear_session() once you are done with Tensorflow. This thing might seem simple but there were various reports that were confusing us with various versions of Tensorflow claiming that this call was not

[2019-08-26 10:08] kinjalpgor commented on #4831
Actually, due to internal commitments, I can't change that back as the code has been started to be used for the live environment.

To answer your second question, the synchronous version was not getting triggered, so it never executed. Therefore, it never locked up.  And if I am not wrong, the trigger is independent of invocation right? How can an invocation affect other invocations? Isn't a new s

[2019-08-26 12:47] JeanBaptisteScellier commented on #4790
Right now there is one (it was not the case when i answered you) because I need to code, but I would like a Windows one. And every time I delete my Linux app (and the linked app service plan, app insight and storage account) to create a Linux app function, I've got this problem.

[2019-08-26 13:07] brettsam commented on #4831
Timers are slightly different than other triggers. They will not run until the previous one is complete. Say you have a 1-second timer but the invocation takes 10 seconds -- we won't start the next invocation until the first one is done, even though it's off-schedule now.

Back to your original issue -- if you could share your Function App name (either explicitly or [privately](https://github.com/

[2019-08-26 15:53] brettsam opened #4845 "Calling WebJobsScriptHostService.RestartAsync() before StartAsync() can cause orphaned host"
This happens during a quick specialization -- a request comes in and calls `RestartAsync()` via the `PlaceholderSpecializationMiddleware`. But it's possible that the `WebJobsScriptHostService` has not even been started yet.

This results in the `RestartAsync()` creating a the first host. And then `StartAsync()` comes through and creates a new one -- but it never expects one to exist, so it does no

[2019-08-26 22:04] soninaren opened #4850 "The function app hosted on consumption do not load function.deps.json file."
### Workaround:
- If you are deploying to a function app that is being hosted on consumption plan then add a new application setting `WEBSITE_USE_PLACEHOLDER= 0`. Please note that setting this value would increase cold start duration for the function app (only for apps hosted on consumption).

[2019-08-27 08:50] vitalybibikov opened #4851 "Set ClaimsPrincipal in Custom Binding"
Hello,

How is it possible not to set ClaimsPrincipal for Azure Functions v2?

When used locally the AF host sets ClaimsPrincipal with default values, as described in #33

What I want to achieve is to set ClaimsPrincipal with my own values, that are parsed out of the token inside of Custom Binding:

[code]

So, in the example above I have:

1. FunctionTokenResult token which contains Principal pro

[2019-08-27 09:23] jacks0n commented on #1361
@securityvoid yes I'm using `"isRaw": true` in my response object. I found wrapping the response body (which is a zip file buffer) with `new Uint8Array()` did the trick.

[2019-08-27 12:58] pragnagopa opened #4852 "Do not accept invocations until one instance of language worker is ready"
As of now, function dispatcher buffers invocation requests until language worker process starts and initializes. If a language worker process never starts, this might lead to loss of data as invocations already started by the host but never completed.

Related Issue #4817 - addresses finishing invocations that were already started

cc @yojagad

[2019-08-27 19:15] hsubramaniam opened #4853 "Azure Functions host - Lease lock http 409"
#### Is your question related to a specific version? If so, please specify: Functions runtime V2

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All) C#, .net core 2.2

#### Question

I have a Azure function triggered by Azure Service Bus topic. Occasionally I see a lot of http 409 errors in Application Insights when the functions host tries to acquire a lock i believe

[2019-08-28 02:58] SaebAmini opened #4854 "Function App /status endpoint strange behaviour"
#### Is your question related to a specific version? If so, please specify:

Function Apps V2

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#

#### Question

I'm seeing some behaviour I can't explain and I couldn't find any documentation regarding it which could be something to improve.

I've added a custom Health Check endpoint to my Function App. It's basica

[2019-08-28 03:28] SaebAmini opened #4855 "Azure Portal can't list functions. Error: Azure Functions Runtime is unreachable. https://functions.azure.com/api/passthrough 500"
#### Investigative information

Please provide the following:

- Timestamp: `2019-08-28T03:15:31.304Z`
- Function App version (1.0 or 2.0): `2.0`
- Function App name: `mhg-dev-dayforce-integrations-adp`
- Function name(s) (as appropriate): All of them
- Invocation ID: this isn't for a specific invocation, as it's happening on the Azure Portal. I have "Session Id: `2c165a33f1934cf591994e1809771e7e`

[2019-08-28 08:32] noodlemom commented on #4844
Thanks a lot Brett for suggestion . On the portal the function was certainly enabled and it was triggering fine while I was on the portal . But in app settings "AzureWebJobs.{FuncName}.Disabled" was set to true. I set it to false and it started working as expected.

This is what I think I did -
I had a v2 function earlier and realized I needed a v1 .so I must have fiddled with the Read-only and Re

[2019-08-28 08:43] noodlemom commented on #4844
I wish the there was a proper message displayed or the portal itself displayed the function was disabled. And surprised even when the function is disabled it was running fine when I was on the portal.

[2019-08-28 09:45] joanna1010 commented on #4520
Hi there, can you confirm that [documented usage ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#use-injected-dependencies) is updated or still out-of-date? I am running the same issue, and have been stuck on getting this HttpClient /  IHttpClientFactory working with DI in Functions app for a stupid amount of time

[2019-08-28 11:22] rodrmoya commented on #4481
sorry @fabiocav missed the notification for your reply. Will try to add a workaround to do that in monodevelop, but could you let me know if/when this will get fixed in the CLI? If already fixed, instead of the workaround, we might just bump the Azure functions CLI we ship along VS for Mac.

[2019-08-28 13:36] lukasvosyka commented on #4464
Hi,

I had a similar issue with this, but I think passing the IConfiguration around as DI injected something is not a good idea in general. Rather than that, I would suggest to go for IOptions injected setting models.

You can then use this for example together with the Configuration in the Functions portal. Then you just build a local config that you do not register within the DI pipeline, but yo

[2019-08-28 15:19] JonasSamuelsson opened #4856 "dotnet pack fails with Could not evaluate 'Microsoft.CSharp.dll' for extension metadata. Exception message: Could not load file or assembly 'Microsoft.CSharp, Version=4.0.4.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'."
I can't pack a project that has a dependency on Microsoft.NET.Sdk.Functions 1.0.29, the exact command and output can be found in the details section below.

I don't get an actual error but the output folder is empty. I also get the same error on `dotnet build` and `dotnet

I'm getting the following warning `C:\Users\jonas\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1

[2019-08-28 18:40] t-nipha opened #4857 "ERROR: unhandled error in functions worker"
#### Investigative information

Please provide the following:

- Function App version (1.0 or 2.0): 2.0
- Function App name: funcapp2electricboog
- Session Id: 9b2dfb456cdd43f4b16bd61ba082d734
- Timestamp: 2019-08-28T18:29:56.861Z
- Region: Central US

#### Repro steps

Provide the steps required to reproduce the problem:

Just try to start the function app.

#### Expected behavior

Provide a desc

[2019-08-28 19:01] lommez opened #4858 "How to inject ILogger at constructor level"
Is possible to inject ILogger at constructor level?

I've tried to do something like this:

[code]

But didtn work.

[2019-08-28 20:15] #4845 closed, assigned to brettsam

[2019-08-28 22:13] SaebAmini commented on #4854
I'm using Seq.

Thanks for the explanation. Makes sense.

Not doing any log filtering in this environment and this is the entirety of my host.json file:

[code]

Something I have to confirm is, sorry, I verified it's not calling _my_ status endpoint. But it seems to be doing something similar/internal.

Not a big deal but, I guess what was really confusing for me, is that for all the other Microso

[2019-08-28 22:20] SaebAmini commented on #4855
Thanks for replying Brett. I checked this morning and the issue is gone, so it was transient. However, it is a _recurring_ issue and I've seen it many times, blocking us from managing things from the portal for hours. And I believe you're correct that it's because of the ILB ASE as that's the only place I see this.

[2019-08-29 02:18] DavidTuke commented on #4848
Having same issue as above - upvote!

[2019-08-29 06:50] sandeepiiit commented on #2556
@brettsam Do you know which version of Azure Functions Sdk I should be using to get this fix. I am currently using Microsoft.NET.Sdk.Functions 1.0.28

[2019-08-29 09:36] handeeadiguzel commented on #3399
Is the deployment still planned for early September ? Looking forward to using this in production.

[2019-08-29 12:32] rodrmoya commented on #4481
The workaround doesn't work, in fact, with Azure Functions Core Tools 2.3.148, the function.deps.json is already there, so the same workaround added to VS for Mac doesn't fix anything

[2019-08-29 12:35] SimonLuckenuik opened #4859 "Scale Controller starting too many instances causing multiple cold start delays"
#### Investigative information

Please provide the following:

- Timestamp: 8/29/2019, 7:35:00 AM (EST)
- Function App version (1.0 or 2.0): 2.0
- Function name(s) (as appropriate): Ping, Level1, Level2, Level3, KeepAlive
- Invocation ID: See below.
- Region: Central US

#### Repro steps

Provide the steps required to reproduce the problem:

1. Load the FunctionAppReproColdStartIssue solution from

[2019-08-29 12:48] pizerg opened #4860 "Thread.CurrentPrincipal not being populated"
Trying to enable Google auth for functions v2 using a provider SDK but Thread.CurrentPrincipal is never populated.

#### Investigative information

Please provide the following:

- Timestamp: 2019-08-29T12:08:03.051
- Function App version (1.0 or 2.0): 2.0
- Function App name: -
- Function name(s) (as appropriate): ExternalProviderLogin
- Invocation ID: 4e4d7f61-7bc1-4a3d-9c2b-3c02fb5f561e
- Regio

[2019-08-29 12:52] SimonLuckenuik opened #4861 "After stopping Function App, instance with TimerTrigger is still running in background, executing code."
#### Investigative information

Please provide the following:

- Timestamp: 8/29/2019, 8:38:00 AM (EST)
- Function App version (1.0 or 2.0): 2.0
- Function name(s) (as appropriate): KeepAlive
- Invocation ID: f68655ae-8d9a-44bd-bae5-3580073be660.
- Region: Central US

#### Repro steps

Provide the steps required to reproduce the problem:
1. Use repro steps of #4859
2. When done, go in the portal t

[2019-08-29 12:58] brettsam commented on #4848
+@vfedonkin as well.

[2019-08-29 13:24] brettsam commented on #4856
That warning isn't related. We try to look for extensions in every assembly in bin, and some platform assemblies can't be evaluated. We log a warning as an FYI, but it's not affecting this.

Functions projects themselves aren't packable: https://github.com/Azure/azure-functions-vs-build-sdk/blob/master/src/Microsoft.NET.Sdk.Functions.MSBuild/Targets/Microsoft.NET.Sdk.Functions.targets#L21.

That's

[2019-08-29 13:29] brettsam commented on #4857
@maiqbal11 -- Is `PYTHON_VERSION` required as an env var in order to run? From above:

[2019-08-29 13:35] brettsam commented on #4858
No need to call `AddLogging()`. If you request an `ILogger<T>` in your constructor, you'll get one. More long-winded answer with more links here: https://github.com/Azure/azure-functions-host/issues/2720#issuecomment-503627355.

[2019-08-29 13:35] #4858 closed

[2019-08-29 13:50] brettsam commented on #4859
+ @suwatch / @cgillum, who I believe are the HTTP Scale experts. I know `WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT` isn't guaranteed, but should it always be scaling out like this?

I realize this is a repro and the real solution is likely more complicated, but as a workaround, can you have those functions call the other function methods directly rather than using HTTP?

[2019-08-29 13:51] brettsam commented on #4860
@ConnorMcMahon -- are you the expert here?

[2019-08-29 14:15] brettsam commented on #4861
I see a STOP request issued by you at `2019-08-29T12:37:09.6897526` UTC and it stops one instance. But then another instance takes over the timer and runs for 5 minutes until it is also stopped. Then you start things back up a little while later.

I see a log in the platform logs that indicates that something went wrong during shutdown (not related to your code) and it was allowed to time out natu

[2019-08-29 14:17] SimonLuckenuik commented on #4859
The real concern here is to see the instant scaling to multiple instances. We don't mind the cost of a cold start if it's because this load is too high, but in that case it happens when there is almost no load.

For the workaround, we are looking into it, but considering this is a 3rd party library, we don't know if we will have any flexibility.

[2019-08-29 14:41] pizerg commented on #4860
If it helps with the issue, I've been doing further testing and it appears that if I inject `ClaimsPrincipal principal` as a parameter in the function, then I'm able to retrieve user data from it (but it still fails to get the information from Thread.CurrentPrincipal)

[2019-08-29 15:23] pradeepjaladi commented on #4816
Just to clarify the functions are triggering twice even though I am calling them once.

[2019-08-29 15:41] brettsam opened #4862 "Make TestFunctionHost usable for customers"
We should get this class ready for public consumption and release it regularly with host updates. It'd be really useful for people writing local tests the way we do here. A lot of this will be documentation and API cleanup.

[2019-08-29 15:42] mmchome opened #4863 "'func host start' not generating function.json file"
I am running on windows and have installed the npm module for cli version - 2.7.1480.  I am working on http triggered c# functions. When I create a function project and a function , building it does not generate the expected configs like function.json so I am unable to run functions locally. I get an error that 0 functions where found. This is happening even on vanilla functions I create and even

[2019-08-29 16:29] brettsam commented on #4816
In our logs we only see these HTTP functions executing once. Some questions:
- Do you have App Insights enabled that will let you confirm if it's running multiple times?
- Are you saying that because you see two queue messages (in addition to the logs), it's running twice?
- Does this happen for every request? Or only those through Postman?

Trying to narrow down what's breaking here...

[2019-08-29 16:51] ConnorMcMahon commented on #4860
@pizerg, this is intentional. .NET Core made the decision to [not assign `Thread.CurrentPrincipal`](https://davidpine.net/blog/principal-architecture-changes/). Since Functions V2 is .NET Core, we decided not to set it ourselves as that goes against the design principals of the framework.

Instead, we did the work that you have already discovered that allows you to populate the `ClaimsPrincipal` o

[2019-08-29 17:47] balag0 opened #4864 "Validate incoming request's sitename matches the container's sitename."
This is to mitigate the issue where sometimes request gets routed to wrong worker due to stale caches in the frontend.

[2019-08-29 18:08] paulbatum commented on #4767
I have an owner for this work item, I'll update once I have their github username

[2019-08-29 18:27] ankitkumarr commented on #4840
I will close this issue as the question seemed to have been answered. If you still have questions or concerns, please feel free to re-open.

[2019-08-29 18:27] #4840 closed

[2019-08-29 19:08] daerath commented on #3784
@dNetGuru

I'm having the same issue. v3.0.6 and v3.0.7 fail with the same error you're seeing.

[2019-08-29 19:48] brettsam opened #4865 "Re-introduce ResponseBufferingMiddleware [3.x]"
Pulling this out to get all the pieces building and ready for some 3.0 testing. Need to re-evaluate if we need this to go back in.

[2019-08-29 20:37] pradeepjaladi commented on #4816
Please see answers below

1)  Do you have App Insights enabled that will let you confirm if it's running multiple times?
I did n't enable App Insights.

 2) Are you saying that because you see two queue messages (in addition to the logs), it's running twice?
Yes, I am seeing 2 queue messages and 2 signalR messages getting sent out to clients from the Queue function.

3) Does this happen for every

[2019-08-29 20:44] pradeepjaladi commented on #4816
Please see the below metric for my storage -> queue it added 2 queue messages
![image](https://user-images.githubusercontent.com/15614637/63975105-34acb500-ca7c-11e9-9719-6dec6e6fd124.png)

[2019-08-29 20:44] brettsam commented on #4816
Are you able to make a minimal repro project that shows this? I'd like to try to run it and see what is happening.

Alternatively -- I can take a look at your project if you'd be open to it (my email is in my github profile).

But all our logs indicate that only a single request is being issued -- from the load balancer down to the instance running your code.

[2019-08-29 23:07] balag0 commented on #4738
This is fixed from the scalecontroller end.  But we might still need this to make specialization idempotent so it can be retried on failures.

[2019-08-29 23:36] alrod opened #4866 "Use %PROGRAMFILES% for pointing to different drives"
Current configs are pointed to "D:\":
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/web.InProcess.win-x64.xdt
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/web.InProcess.win-x86.xdt

We need to generate a new zip with dotnet.exe pointed to "C:\" for Azure Stack

[2019-08-30 00:00] paulbatum commented on #4767
So I think APP_POOL_ID is probably not going to work, because of placeholders. This can be confirmed by inspecting the APP_POOL_ID for a slot in a function app in the consumption plan.

Some more digging might be required to find a reliable way of getting the runtime site name.

[2019-08-30 00:27] sandeepiiit opened #4867 "Support an InstanceCount metric in the metric dasboard"
#### What problem would the feature you're requesting solve? Please describe.
In the metrics tab of a function app (Platform Features -> Metrics), there is no way to see the _number of instances the app scaled to over time_. One can use the `Apply splitting` option to chart all the instances, but there doesn't seem an easy way to see the count of instances over time.

#### Describe the solution yo

[2019-08-30 08:35] pizerg commented on #4860
Thanks for the clarification, it's now working again!

[2019-08-30 08:35] #4860 closed

[2019-08-30 13:38] thedoupub commented on #4833
Hello i am back because we are having a problem of unknown nature for sure.

We started experiencing again the same issue with the app going offline yesterday.

I did quite much of debugging, checked every page of live metrics possible, no error again.

After quite some tests we said ok lets go to the extreme solution.

I did disable ALL of our code and left some logging.infos to print while the a

[2019-08-30 14:39] adrianknight89 commented on #4049
Still no fix after all these months. Does MS not care about the issue? Clearly, a lot of people need this fixed.

[2019-08-30 15:03] thedoupub commented on #1534
We are facing some similar issue.

for us our function is getting offline on its own after 30 minutes or so.

We even commented out all of our code to see what is causing the issue. And we were surprised that the function went offline still.

I cannot verify why this is happening. As in the logs there is no error happening at all.

What information should i provide to look into this issue?

[2019-08-30 15:26] pradeepjaladi commented on #4816
Hi,

During the debug I found out we are calling Queue to insert twice which is triggering multiple functions twice. so going ahead and closing the issue.

[2019-08-30 15:26] #4816 closed

[2019-08-30 17:44] divyagandhii opened #4869 "Supporting Linux Consumption Regions"
This is a tracking issue for requesting new regions for Linux Consumption functions. Please comment with your requested regions.

[2019-08-30 19:17] t-l-k commented on #3399
Just a heads up, have been working with this patched `func.exe` and have observed some more DI weirdness. Weirdness by way of the wrong dependencies being injected within the scope. Like many others who have been bitten by this bug, our implementation leverages `Mediatr` to keep a clean separation of concerns at a command level.

As it's the end of the week, I haven't yet debugged the issue fully,

[2019-08-30 21:12] 3xj commented on #3888
Any movement on this? I just hit this issue with a JavaScript function. Runtime version: 2.0.12641.0

[2019-08-31 00:20] #4730 closed

[2019-08-31 03:54] J-tt commented on #3888
@3xj Doesn't seem to be anything, I had to rewrite the output functionality to get my function to work.

[2019-08-31 23:44] jedmonsanto commented on #4464
i tried this @lukasvosyka and in my application all value is null,

Startup
![image](https://user-images.githubusercontent.com/23548643/64070084-f259c280-cc8b-11e9-9d21-053f9a094ad7.png)

Function Trigger
![image](https://user-images.githubusercontent.com/23548643/64070087-10bfbe00-cc8c-11e9-81ce-be0d933967fe.png)

Azure Portal
![image](https://user-images.githubusercontent.com/23548643/64070093-4

[2019-09-01 07:26] lukasvosyka commented on #4464
@jedmonsanto Maybe your BasePath is set wrong for Azure functions, when deployed. Try the suggested way as described above. Something like
[code]

[2019-09-02 07:14] DibranMulder opened #4871 "Multiple environments for host.json"
#### What problem would the feature you're requesting solve? Please describe.
When debugging a service bus triggered Azure Function locally I often have multiple messages handled simultaneously. This troubles the debugging process. As a result of that I fix it with a trick to handle only 1 service bus message at the time by adding the following to host.json
[code]

#### Describe the solution you'd

[2019-09-02 09:14] thedoupub commented on #1534
For the people that might have a similar issue:

What did the trick for me was to delete the function apps and recreate them after i have installed the latest version of azure function core tools.

[2019-09-02 09:15] thedoupub commented on #4833
We managed to find the solution to the latest issue.

We just deleted the function apps and we recreated them. Once we had installed the latest version of azure function core tools and we redeployed then the issue was resolved.

[2019-09-02 13:52] adrianknight89 opened #4872 "NU1202: Package Microsoft.EntityFrameworkCore 3.0.0-preview8.19405.11 is not compatible with netcoreapp2.1"
I'm trying to update `Microsoft.EntityFrameworkCore` and `Microsoft.EntityFrameworkCore.SqlServer` packages to v3 from 2.2.6, but I get the following error:

`NU1202: Package Microsoft.EntityFrameworkCore 3.0.0-preview8.19405.11 is not compatible with netcoreapp2.1 (.NETCoreApp,Version=v2.1). Package Microsoft.EntityFrameworkCore 3.0.0-preview8.19405.11 supports: netstandard2.1 (.NETStandard,Versi

[2019-09-02 14:17] jedmonsanto commented on #4464
@lukasvosyka no luck, what exactly the basepath in azure function app?
i've seen this below:
![image](https://user-images.githubusercontent.com/23548643/64120686-78325680-cdcf-11e9-99a7-34331a37cf27.png)

[2019-09-02 14:21] Loreno10 commented on #4425
@fschaal I tried both host.json and also configuration from code, as you presented, but it does not change anything in my case. I put in a filter a common part of namespace that all solution's projects use and in both Monitoring and Azure Insights I still see only the messages that are logged by funcion's ILogger.

[2019-09-02 19:00] #4832 closed

[2019-09-02 19:36] robrisner commented on #4463
PlatformNotSupportedException is occurring for System.DirectoryServices.AccountManagement 4.5.0 as well.

I'm currently using the workaround but would like to see a real solution.

[2019-09-02 20:14] dustingallegos commented on #2659
Hi @alafanechere  I was wondering if you were able to figure this one out. I'm also seeing something similar at times. Thanks!

[2019-09-03 07:24] Badabum commented on #4832
@brettsam sorry for being inactive. So for the setup, it's pretty simple and standard - Function App with configured User-Assigned managed identity. This identity is used in several other function apps as well. Then I have custom Function startup and configuration. This is how I'm relacing the configuration provided by the host with newly built.
[code]
Then in `ConfigurationServices` I have follow

[2019-09-03 12:12] nomansadiq11 commented on #3568
Yes works for me in local and Azure DevOps

[2019-09-03 12:59] brettsam commented on #4833
Thanks @thedoupub. Let us know if you run into this again and we can take a deeper look.

[2019-09-03 12:59] #4833 closed

[2019-09-03 13:01] brettsam commented on #4425
@Loreno10 can you share your code that shows how you're using your loggers? I can try to reproduce it and see what the issue is.

[2019-09-03 14:05] brettsam commented on #4832
The error is coming from custom configuration that we don't support (or monitor) by default, so I don't know that there's much the Functions team can do here. You were unable to connect, so the function app wasn't able to start up. I'm not sure how the KeyVault config provider should handle it, but stopping the site seems reasonable (you don't want to start up with missing config due to a connecti

[2019-09-03 14:06] brettsam commented on #4856
Going to close this as Function apps are not packable. Let us know if you have more questions. Thanks!

[2019-09-03 14:06] #4856 closed

[2019-09-03 14:10] brettsam commented on #4872
.NET Core 3 bits will be released at a later date so updating to preview. I'm guessing that those packages need a newer version of the framework that we do not currently support. That work is in progress. https://github.com/Azure/azure-webjobs-sdk/issues/2286#issuecomment-519636632

[2019-09-03 14:10] #4872 closed

[2019-09-03 14:11] brettsam commented on #4863
Are you using Visual Studio to build? If so, what does your project file look like?

[2019-09-03 14:15] brettsam commented on #4867
This would be nice -- or even if we could include a pre-canned view of instance count. @paulbatum -- any idea if App Service does this to show instances running at any point?

[2019-09-03 14:18] brettsam commented on #2556
This should be fixed everywhere. Can you share what you're doing and what isn't working as you expect?

[2019-09-03 15:03] khaosdoctor opened #4873 "Function runtime crash on ~2 with Node.js"
#### Investigative information

Please provide the following:

- Timestamp: 2019-09-03T01:13:46.880Z
- Function App version (1.0 or 2.0): 2.0
- Function App name: Dignify
- Function name(s) (as appropriate): FnGetPaymentHistory, FnPostLogin
- Invocation ID: Never invoked
- Region: Brazil South

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create project on VSCode usin

[2019-09-03 15:08] glaucia86 commented on #4873
cc: @gzuber one more issue... and this one seems to be an inconsistency problem

[2019-09-03 16:49] #4773 closed

[2019-09-03 16:52] safihamid commented on #4848
The workaround to get this working is to add this app setting in your local.settings.json file:
    "AZURE_FUNCTION_PROXY_DISABLE_LOCAL_CALL":  "true"

[2019-09-03 17:22] maiqbal11 commented on #4857
It isn't required. I've been able to build custom images in the past using the following instructions: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image. @t-nipha, are you following the steps in the link above?

[2019-09-03 21:31] ahmelsayed commented on #3619
any updates on this?

[2019-09-03 21:32] sandeepiiit commented on #2556
@brettsam I have a HTTP triggered function with a catch-all block that catches exceptions and logs it, and then returns a 500.
[code]

When looking at the app insights logs, I only see the error message, and nothing about the exception (screenshot below).
![image](https://user-images.githubusercontent.com/13448362/64210143-5b416600-ce57-11e9-84dd-cb794e789bd9.png)

I also tried using the "Run in a

[2019-09-03 21:49] thdotnet commented on #4847
@brettsam  ?

[2019-09-03 21:49] soninaren commented on #3619
Moving this to triaged. Should be picked up during sprint planning.

[2019-09-03 22:08] brettsam commented on #4847
What does it say when you start up the CLI?

For example...
[code]

[2019-09-03 22:28] mhoeger commented on #4732
@communo-jschmold - Really sorry about the delay. I have tried reproing based off of your description above (with simple timer-triggered functions that import another file). I see executions happening before everything is set up like so:

[code]
Then I see executions (note that "Do something" does not show up, but that is expected since we are logging to standard out instead of through "context.lo

[2019-09-03 23:00] #4789 closed

[2019-09-03 23:04] brettsam opened #4875 "Evaluate usage of HasStarted() in v3.x"
With the removal of ResponseBufferingMiddleware (#4865), calls to `request.Body.Length` now throw exceptions. I've removed calls to our internal extension method `HasStarted()` and changed them to the built-in `HasStarted`. We'll need to re-evaluate if this needs to be changed.

[2019-09-03 23:50] brettsam opened #4876 "Evaluate breaking change -- AllowSynchronousIO now false in ASP.NET Core 3"
https://github.com/aspnet/AspNetCore/issues/7644.

Internally I had to change the placeholder warmup function to read asynchronously, but I suspect customers will get bit by this when updating to v3.

[2019-09-04 10:59] Loreno10 commented on #4425
Thanks @brettsam I managed to fix it myself. I was registering my dependencies in my own IServiceCollection, instead of creating a Startup class. As soon as I switched to having Startup class and using IServiceCollection provided by it, logging started to work. Although still, not everywhere. Seems that it works only from classes that exist under my Azure Function project. When I log from classes

[2019-09-04 14:00] #4820 closed

[2019-09-04 14:44] ElliotJH opened #4878 "Kubernetes Deployed Functions with Non-Anonymous Auth Level"
#### Is your question related to a specific version? If so, please specify:
v2.0 functions, any version.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Python in this case, but any httpTrigger

#### Question

When I'm deploying to Kubernetes and use an authLevel of anonymous, e.g deploying this function.json

[code]

and this command `func kubernetes deploy --nam

[2019-09-04 16:58] fabiocav commented on #4774
@pragnagopa assuming this is completed now.

[2019-09-04 16:58] #4774 closed

[2019-09-04 16:59] fabiocav commented on #3117
@pragnagopa / @yojagad moving this back to triage so we can close this milestone. Let's discuss this item today.

[2019-09-04 17:00] fabiocav commented on #3747
@brettsam / @yojagad moving this back to triage so we can close this milestone. Let's discuss this item today.

[2019-09-04 17:33] brettsam commented on #4876
I actually reversed course on this a bit -- I left our ReadAsync calls b/c they're generally better. But I had to go through and set `AllowSynchronousIO = true` in a bunch of places to workaround json deserialization in the Http extension: https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.Http/HttpTriggerAttributeBindingProvider.cs#L469.

Not sure if there's an

[2019-09-04 17:51] divyagandhii opened #4879 "Port additional host keys refresh logging from v2 to v1 runtime"
This issue is a repair item for a v1 CRI where we didn't have enough logging to debugwhy host keys are getting refreshed.

[2019-09-04 17:55] paulbatum commented on #4867
As far as I know, there is no equivalent implemented by App Service. I think all the metrics that are currently emitted are done on a per-VM level.

I suspect the easiest way to get this information visualized is through an app insights query based on the cloud_RoleInstance column:

[code]
![image](https://user-images.githubusercontent.com/10663/64278587-f68f1580-cf01-11e9-8488-937bded8dc2b.png)

[2019-09-04 18:11] ankitkumarr opened #4880 "Add Function App memory detector for Windows Consumption"

[2019-09-04 19:16] khaosdoctor commented on #4873
So... I guess it's working now. However, I don't know exactly what I did to solve the problem.

I cloned an empty repository and started a new project from scratch, then I compared `package.json`, `tsconfig.json` and other key files to my own files. My `package.json` had, besides the dependencies, an extra key for `main` which was set to `dist/index.js` (a leftover from the previous version of the

[2019-09-04 19:47] ankitkumarr commented on #4880
Added this for Sprint tracking. This was completed.

[2019-09-04 19:47] #4880 closed

[2019-09-04 19:52] panjevic commented on #3784
@soninaren Unfortunately this doesn't work for me, I'm still seeing the same issue. Tried creating new Function app and upgrading to v3.0.7 but that didn't work either.

[2019-09-04 20:08] alrod commented on #4824
Done.

[2019-09-04 20:08] #4824 closed

[2019-09-04 20:08] alrod commented on #4823
it's was bad worker

[2019-09-04 20:08] #4823 closed

[2019-09-04 20:24] mhoeger opened #4881 "Linux Node.js placeholders"

[2019-09-04 20:27] mhoeger opened #4882 "Do not pass TaskCompletionSource Task outside of LanguageWorkerChannel"
Related: https://github.com/Azure/azure-functions-host/pull/4870

[2019-09-04 20:45] FinVamp1 opened #5843 "Detect if the v2 ApplicationInsights Service for v2 has been replaced by customer dependency injection."
Customers are mistakenly overwriting the Application Insights dependency in Startup which results in missing data and dependencies not showing up in the Application Map.

This is referred to in the documentation here.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#logging-services

and here

https://docs.microsoft.com/en-us/azure/azure-functions/functi

[2019-09-04 23:05] #4881 closed

[2019-09-04 23:44] sarvaje opened #4883 "Chrome headless doesn't work on Azure Functions on Linux"
#### Investigative information

Please provide the following:

- Timestamp: 2019-09-04
- Function App version (1.0 or 2.0): 2.0

#### Repro steps

1. Add this code to you function (in my case, type httpTrigger)

[code]

#### Expected behavior
It should works

#### Actual behavior

An exception is throw:

[code]

#### Known workarounds

I don't know any.

#### Related information

According to this

[2019-09-05 00:19] pragnagopa opened #4886 "Do not start whitelisted worker processes when using pools"
As of now on windows, java.exe is spawned in placeholder mode.  When using template sites created for pools, default whitelisted worker processes should not be spawned.

This is needed to ensure transition from current placeholder to using placeholder pools

cc @suwatch @safihamid

[2019-09-05 00:24] pragnagopa opened #4887 "Design out-of-proc http invoker"
Tracking issue for initial design on supporting out-of-proc invocations via http

[2019-09-05 00:36] mathewc commented on #4569
Replaced by https://github.com/Azure/azure-functions-host/issues/4657

[2019-09-05 00:36] #4569 closed

[2019-09-05 00:56] suwatch commented on #4886
Thanks @pragnagopa  for taking care of this.

[2019-09-05 04:09] #4735 closed

[2019-09-05 04:26] ahmetsyildirim opened #4888 "About Azure Function Timer Trigger Mechanism"
I have a timer based Azure Function (V2) developed using C#.
When I set the schedule in **function.json** using the portal, the function never gets triggered. (Actually it ignores the function.json and triggers based on the value in the **Run** method)

But if I set the schedule from the C# code  (Run method), it works without any issues.
`public static void Run([TimerTrigger("0 0 15 * * *")]Timer

[2019-09-05 04:35] sandeepiiit commented on #2556
@brettsam I was able to see it in app insights by modifying the query a little bit. So I think it gets logged, it just doesn't show in the default view. It is a little hard to modify the query. It would be nice to show the exceptions in the default view. If it sounds like a reasonable feature request, I can file one.

[2019-09-05 04:57] sandeepiiit commented on #4867
That works for me. Thanks for the help!

[2019-09-05 06:49] balag0 opened #4889 "Add CORS middleware for Linux consumption"
Config will be injected as part of specialization.

[2019-09-05 12:43] brettsam opened #4890 "Introduce SameSiteMode.Unspecified equivalent in 3.x"
It looks like `samesite=lax` is not present by default in ASP.NET Core 3.0. See test `RawScriptResultTests.AddsHttpCookie()` -- it has been removed. Need to evaluate.

[2019-09-05 13:32] brettsam opened #4891 "Revisit: IHostedServices can now throw exceptions on Start/Stop in 3.0"
This behavior changed in .NET Core 3.0: https://github.com/aspnet/AspNetCore/pull/7657.

We had one test (`StandbyModeE2E_LinuxContainer`) that was failing at startup because the python language worker wasn't present. Our test in 2.0 passed happily because the host would swallow this exception. Now it failed. I've wrapped the startup in a try/catch, but we need to re-evaluate how we want to handle

[2019-09-05 14:07] brettsam opened #4892 "Cannot filter Host.Keys logs in v1"
From an internal mail:

[2019-09-05 14:42] markheath opened #4893 "Renewing Durable Functions Host Key in Portal results in two keys"
For an Azure Functions app with the Durable Functions extension installed, I went to the Manage tab in the portal for a function and clicked the "Renew" icon to renew the `durabletask_extension` key. This resulted in **two** host keys with the name `durabletask_extension`, and the new one is not valid for calling the Durable Functions API, and the original one still works.

![image](https://user-i

[2019-09-05 14:56] pavitrag123 commented on #4840
@ankitkumarr : thank you for the information. Able to update appsetting values with ARM APIs provided

[2019-09-05 16:42] Banchio commented on #912
I did some tests using functions v2 in linux container. I used a TimerTrigger function for brevity (since it is expected to be a singleton). If I start two docker containers (pointing to the same storage account) they will get two different host id so the timer function gets executed many times. Is this behaviour going to change to permit a singleton across several machines? TIA

[2019-09-05 17:35] paulbatum commented on #912
@Banchio If you deploy this to the Azure Functions service on Linux, with an app service plan with two instances, you should see that both running containers get the same Host ID and you get singleton behavior. Similarly if you deploy to the Azure Functions Linux consumption plan and drive enough load to cause the app to scale out to multiple containers, you should still see the correct singleton

[2019-09-05 17:39] fabiocav commented on #4889
To add more detail:
 - To leverage the existing experience exposed by App Service, the configuration injected as part of specialization needs to be augmented to include the CORS information for the site (managed through the portal). This information should be used to configure CORS in the runtime during spectialization
 - Ideally, we'll use the Easy Auth/CORS middleware once that is published by t

[2019-09-05 17:41] paulbatum commented on #912
I forgot to mention, the way you explicitly set a hostid in functions V2 is to set an environment variable:
`AzureFunctionsWebHost__hostid = abc123`

[2019-09-05 17:47] Banchio commented on #912
Thanks, target scenario of my customer is running in aks, this is the reason why I tried on my machine first. Given that a singleton function can be deployed as part of a replicaset of 1 instance) so to obtain the same result) I was experimenting as mentioned above. I also tried to set the hostId explicitly but that seems to work only on windows host and not Linux (this is why I ended up with two

[2019-09-05 18:15] paulbatum commented on #4867
Great, closing this issue as I do not think there is any work we need to do in the functions host for this scenario.

[2019-09-05 18:15] #4867 closed

[2019-09-05 20:56] #3756 closed

[2019-09-05 21:17] wpitallo commented on #3464
Got the exact same issue :(

[2019-09-05 21:18] wpitallo commented on #3464
@eduardomourar did you find a workaround?

[2019-09-05 22:22] alexkarcher-msft opened #4898 "[Feature] Provide API updates while app is cold starting"
*Low Impact*

Currently the Portal UX is completely hung while an app is cold starting for the first time after a deployment. When running on an app service plan this can be very cumbersome as the app appears to be broken when it is in fact operating exactly as expected.

I propose the admin APIs be executed in a separate thread that is not dependent on the host starting up. The host should period

[2019-09-05 23:48] #4886 closed

[2019-09-05 23:54] gynet commented on #4397
is there any update or workaround on this? I think it's import for Azure function to support auth middleware

[2019-09-06 00:27] soninaren opened #4899 "Add extension bundle id and version to the status endpoint"

[2019-09-06 01:50] espray commented on #4397
I dont know of anyway to hook into the middleware. But, you can get auth to work.
See here: https://github.com/Azure/azure-functions-host/issues/4485

[2019-09-06 02:14] eduardomourar commented on #3464
@wpitallo, I could not make it work with the functions CLI. My workaround was to run in Docker and move the folder during the container image build.

[2019-09-06 03:12] abhishekbhatt002 opened #4901 "Azure Functions Blob trigger does not fire off unless i open the function app"
The Azure Blob function not fire off unless i open the function app.
my function App name is "FunctionApp120190905054059".
I have setup Appinsights as well but nothing is coming over logs.

[2019-09-06 06:56] wpitallo commented on #3464
@mhoeger cant we make it possible to use npm link? Currently tho it says that it requires elevated permissions - which sucks. This would be a really useful feature.

[2019-09-06 12:59] SimonLuckenuik opened #4902 ""Unable to acquire singleton lock blob lease for blob" exception too frequent in the application logs when using SingletonAttribute"
#### Investigative information

Please provide the following:

- Timestamp: 9/5/2019, 2:02:31 PM EST
- Function App version (1.0 or 2.0): 2.0
- Function name(s) (as appropriate): CommandMessageDispatcherFunction
- Host Instance ID: edcf48c0-403f-4b0f-bd81-06ab66a93c98
- Invocation ID: f7ca74c6-6170-44f6-b118-787e2e58e8ac
- Region: Canada Central
- App Inisigthts end-to-end transaction operation ID

[2019-09-06 17:30] thdotnet commented on #4847
@brettsam at this moment if I try to run, it will download the latest version. Any way, try to reproduce with the information I've provided above. I'll let it upgrade and see if the problem is solved while that

[2019-09-06 17:51] brettsam commented on #4847
Functions VS Tools 2.32 -> Functions Core Tools 2.7.1575 -> Functions Host 2.0.12641, which should work. The `LogName` property was added the build before this. The latest storage extension uses that property, so if the host version you're running is earlier, it won't be found.

Azure Functions CLI - 1.0.12, I believe is for v1 only won't work (it's a year old).

The best way to tell what's you're

[2019-09-06 18:14] gynet commented on #4397
I did add the schema into the constructor, it still has the error of
[code]

[2019-09-06 20:32] #4873 closed

[2019-09-07 02:19] #4738 closed

[2019-09-07 15:57] michalchecinski opened #4904 "QueueTrigger ignores Connection attribute"
Function with QueueTrigger has option to use `Connection` parameter to provide name of app setting. It's used to get the connection string for Azure storage account from which the queues will be read. But it doesn't work for me. It always gets the queues from storage provided in the `AzureWebJobsStorage` setting.

#### Investigative information

Please provide the following:

- Timestamp: 2019-09-

[2019-09-08 16:50] pragnagopa commented on #4887
- Define configuration similar to worker.config.json
- Refactor  [WorkerFunctionDescriptorProvider.cs](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Description/Rpc/WorkerFunctionDescriptorProvider.cs) to allow reusing common code between language workers and http invoker
-Refactor [WorkerLanguageInvoker.cs](https://github.com/Azure/azure-functions-host/blob/dev/src/Web

[2019-09-09 03:55] asasine commented on #4396
I am also facing this issue with a new project created today. How can I update my project to get the expected behavior above?

[2019-09-09 05:35] atulloh opened #4905 "DI inconsistent when binding to generic interface with contravariant parameters"
When adding DI bindings for generic interfaces with contravarient parameters, injected results called by `ServiceProviderServiceExtensions.GetServices` return different values depending whether calling in `Startup` after binding and building provider, or when called from an Azure function.

Consider the following:

[code]

This seems a bug; it's inconsistent as well as returning an instance that d

[2019-09-09 08:57] wpitallo commented on #1222
I am having the same issue :(

[2019-09-09 11:04] mitchdenny opened #4906 "System.Diagnostics.DiagnosticSource 4.6.0-preview.x"
#### Is your question related to a specific version? If so, please specify:
Azure Functions v2

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
Hey there, over on the Azure SDK team we are running into some problems using the new preview versions of our libraries within the Azure functions host because it overrides the version of ```System.Diagnos

[2019-09-09 17:42] paulbatum commented on #4396
@fabiocav Was this implemented as a featureflag for compat concerns? Should we be considering a change in the default behavior in the next major version?

[2019-09-09 17:59] fabiocav opened #4907 "Make ActionResult handling behind `EnableActionResultHandling` the default in 3.0"
For backwards compatibility reasons, some `ActionResult` handling enhancements added to 2.0 had to be placed behind a feature flag (`EnableActionResultHandling`).

We may want to consider a flag to maintain the 2.0 behavior if we believe that would ease migration, but the behavior behind the flag should be the default in 3.0.

[2019-09-09 18:00] fabiocav commented on #4396
Yes, this was put behind a flag as this would be a potential breaking change to customers in production.

I've created https://github.com/Azure/azure-functions-host/issues/4907 to track the work to make this the default behavior in 3.0

[2019-09-09 18:01] asasine commented on #4396
Jumping back in to confirm that adding the application setting `AzureWebJobsFeatureFlags` with value `EnableActionResultHandling` to your remote Azure Functions Application Settings, it will enable the new behavior while running remotely.

[2019-09-09 19:32] lgaud opened #4908 "Function will not route when path contains /bin"
I am trying to use Azure Functions to serve files for a client app which expects /bin/ to be in the URL. It seems that the routing logic is refusing to handle anything with /bin in the URL.

### Investigative information

Please provide the following:
- Function App version (1.0 or 2.0): 2.0
- Region: Canada Central

#### Repro steps

Provide the steps required to reproduce the problem:
1. Deploy

[2019-09-09 19:38] Deepak-Babu opened #4909 "NodeJS Code: The binding type(s) 'eventHubTrigger' are not registered. Please ensure the type is correct and the binding extension is installed"
I'm writing function in Nodejs on VSCode, and use Extension Bundle for EventHub and ServiceBus triggers. This setup used to work before , but I'm unable to run my function app locally today. I have the following error from VSCode:

[9/9/2019 5:19:00 PM] The following 2 functions are in error:
[9/9/2019 5:19:00 PM] <fxn1>: The binding type(s) 'serviceBusTrigger' are not registered. Please ensure th

[2019-09-09 22:42] balag0 opened #4911 "Support for configuring CORS, SupportCredentials using host.json"
Once we have the CORS middleware available in functions host, in addition to site config this will be another way to configure CORS headers.

[2019-09-09 23:23] safihamid opened #4912 "Generate CrossGen images for Extension Bundles"
We will need to create and load CrossGened bundles to improve cold start. We will need x86 and x64 crossgen bundles to be deployed on Widnows workers instead of the current non-crossgened bundle and Functions runtime will need to load the proper bundle based on the bitness of the process.

[2019-09-10 00:13] fabiocav commented on #4912
@soninaren can you let me know if you need this moved to a different repo?

[2019-09-10 01:31] soninaren commented on #4912
We can move this one to https://github.com/Azure/azure-functions-extension-bundles repo if there are no related host changes.

[2019-09-10 15:15] scott-aptuity opened #4913 "Durable Function Fan-Out not Scaling Out (with Activity Triggers)"
Hi,
We are prototyping the standard Durable function Fan-Out scenario.
We have a loop that calls around 700 Activity Functions and then waits for them to complete.

My issue is that the activity functions don't appear to causing the functions to scale out - at least not any any reasonable amount of time.

I see HTTP triggers will scale every 1 second, but other are 30 seconds?
My Durable function

[2019-09-10 16:00] #4863 closed

[2019-09-10 16:12] t-l-k commented on #3399
Okay, after spending some time on some other stuff, I've come back around to this. I've spent all day narrowing down what my problem is. I've affectionately called it "scope creep", because the DI framework doesn't appear to be honouring the scope (affection is really not what I'm feeling in regards to these DI issues).

It all comes down to this specific registration using `Microsoft.Extensions.H

[2019-09-10 16:16] brettsam commented on #4892
+@FinVamp1 as FYI. Waiting to hear back for more details on this one.

[2019-09-10 16:17] brettsam commented on #4893
What if you refresh the browser? Maybe something was cached in the browser and it didn't clear that first one?

+@alrod -- have you seen this before?

[2019-09-10 16:20] markheath commented on #4893
It's still there five days later after browser restarts (and a reboot)

[2019-09-10 16:21] brettsam commented on #4901
Is this a Consumption Plan or App Service Plan? Are you using the latest Microsoft.Azure.WebJobs.Extensions.Storage? We had a bug around this that 3.0.8.0 has a workaround for something similar to this.

[2019-09-10 16:28] brettsam commented on #4902
Is your goal to only have one of your instances processing this queue? Or only one message being processed at a time, period? Have you tried using `SingletonMode.Listener` with BatchSize of 1?

https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#singletonmodelistener

[2019-09-10 16:36] brettsam commented on #4904
I think the issue is that "Storage" is our default string. And our logic is a little tricky -- for backwards-compat reasons, we check "AzureWebJobs" + `ConnectionName` first, then look elsewhere. https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Extensions/IConfigurationExtensions.cs#L17

If you use "MyStorage" -- does that work?

[2019-09-10 16:39] brettsam commented on #4905
Have you tried to repro this in a .NET Core (or ASP.NET Core) App? We need to figure out if we have anything custom that could affect this. @fabiocav -- any ideas?

[2019-09-10 16:41] brettsam commented on #4906
We can give it a try once it's no longer preview. @fabiocav FYI.

[2019-09-10 16:46] brettsam commented on #4908
@safihamid / @mathewc -- is `bin` a restricted route?

[2019-09-10 16:46] brettsam commented on #4909
@soninaren / @mhoeger -- any ideas here?

[2019-09-10 16:47] fabiocav commented on #4906
@mitchdenny indeed, we typically adopt framework (.NET/ASP.NET) shortly after they're released, but depending on what you're looking for (is this for testing/validation only), we might be able to provide instructions on how to relax those restrictions.

[2019-09-10 16:50] brettsam commented on #4913
Do you see zero scaleout -- or slower scaleout than you expect? The scaling logic will add instances when it sees that the backlog of messages is growing faster that it's able to keep up. Http scales much faster than other triggers, so that may be what you're experiencing.

+@ConnorMcMahon / @cgillum who may have more to say. If you want to share your app name (either explicitly or [privately](htt

[2019-09-10 16:56] Deepak-Babu commented on #4909
additional information:
================
Version: 1.38.0 (system setup)
Commit: 3db7e09f3b61f915d03bbfa58e258d6eee843f35
Date: 2019-09-03T21:49:13.459Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

[2019-09-10 16:56] fabiocav opened #4914 "Dependency resolution issues in extension"
Okay, after spending some time on some other stuff, I've come back around to this. I've spent all day narrowing down what my problem is. I've affectionately called it "scope creep", because the DI framework doesn't appear to be honouring the scope (affection is really not what I'm feeling in regards to these DI issues).

It all comes down to this specific registration using `Microsoft.Extensions.H

[2019-09-10 16:58] fabiocav commented on #3399
@t-l-k I've moved your comment to a new issue to make it easier for us to iterate and discuss. It's also a bit different than what we're tracking as part of this issue, so I wanted to make sure we had a dedicated thread.

For the updates for this issue, we'll be releasing those changes with the current sprint deployment.

[2019-09-10 17:23] scott-aptuity commented on #4913
I think its scaling out slower (30 second poll) than I would expect.  I would like to have the Activity Triggers scale out much quicker so the Fan Out can be done in parallel.  With the 30 second poll, the activity is basically being done serially since its not Scaling Out.  I was hoping it would Scale Out quickly and all the activities could be done in parallel.  This seems like a fairly typical

[2019-09-10 18:25] fabiocav commented on #4914
@APIWT is your issue identical to what is described above?

[2019-09-10 18:29] fabiocav commented on #4914
@t-l-k can you also confirm you see the same behavior if you take a direct dependency on `IScopeCreepService`?

[2019-09-10 18:29] SimonLuckenuik commented on #4902
At high level, we are implementing a Queue Based Load Levelling pattern in order to control the load to a non-scalable data store (Azure SQL Database).  We have basically a few QueueTriggers which are processing data, and once they are done, they are submitting a message in a Queue to be persisted inside the data store.

The Function app has multiple functions using QueueTrigger, only one of those

[2019-09-10 18:42] kulkarnisonia16 commented on #4898
Short term - Portal can call host status API to surface more updates.
Long term - Portal calling ARM APIs will help unblock some more of these statuses.
@btardif @ehamai to comment.

[2019-09-10 18:45] kulkarnisonia16 commented on #3959
@FinVamp1 to validate this further

[2019-09-10 18:48] kulkarnisonia16 commented on #3958
@btardif @ehamai - do you remember why this was disabled?

[2019-09-10 18:55] kulkarnisonia16 opened #4915 "Throw error message when customers jump to a version of .Net core which is not yet supported by functions host"

[2019-09-10 18:58] safihamid commented on #4908
Yes I think this is an IIS default restriction. We have this in the applicationhost.config file:

 <hiddenSegments applyToWebDAV="true">
          <add segment="web.config" />
          **<add segment="bin" />**
          <add segment="App_code" />
          <add segment="App_GlobalResources" />
          <add segment="App_LocalResources" />
          <add segment="App_WebReferences" />

[2019-09-10 19:36] t-l-k commented on #4914
I removed the dependency to `IScopeCreepService` from my `DependencyGraphAlpha & Bravo` classes, and changed my example RequestHandler's constructor to take a direct dependency on `IScopeCreepService`:

[code]

And now both `handler1` and `handler2` each have newly constructed `DependencyGraphAlpha` and `DependencyGraphBravo` objects, each with new, distinct `GraphObjectA` and `GraphObjectB` refer

[2019-09-10 19:47] t-l-k commented on #4914
@fabiocav plus it all works as I expect it should if I resolve `IScopeCreepService` first.

Branch `service-first`

Hence my workaround: resolve all HttpClient consumers first before handling the first request. Don't know if it's foolproof.

[2019-09-10 20:31] soninaren commented on #4909
@Deepak-Babu what version of core-tools are you using?

[2019-09-10 21:23] Deepak-Babu commented on #4909
Azure Functions Core Tools (2.7.1585 Commit hash: 9a2b7239b937148e3b76e6f7999798629a82134a)
Function Runtime Version: 2.0.12641.0

[2019-09-10 21:29] Deepak-Babu commented on #4909
@soninaren  I have provided the information you requested.

[2019-09-10 21:54] communo-jschmold commented on #4732
Apologies, I'm in my final week here and have been swamped. At the bottom of the file for the logs, you'll see them. The `user stemac` log should happen only 1 time.

It's a class exported like this
`export default = new MongoConnection()`
The log is in the constructor itself of the class.

[code]

[2019-09-10 22:34] lonpalmer opened #4916 "Java System.getProperty("java.io.tmpdir") is not appropriate Temp for Azure Functions"
The path returned by Java System.getProperty("java.io.tmpdir") is supposed to return a valid OS temp path.  However, in the function runtime, it's returning a path under D:\home\site\wwwroot.  Writing to this path causes the Function App to detect a change and restart the function.

System.getProperty("java.io.tmpdir") should, instead, return a valid Temp path or return the same path as the enviro

[2019-09-10 22:41] soninaren commented on #4909
Can you delete this folder and try again?
`C:\Users....\AppData\Local\Temp\Functions\ExtensionBundles`

[2019-09-11 00:07] abhishekbhatt002 commented on #4901
Hi Brettsam,

Thanks for your reply. Its Consumption plan and i am using version 3.0.8-11642.

[2019-09-11 00:23] atulloh commented on #4905
In an ASP.NET Core App, the results are different from the Functions App, with the service provider returning zero results in both the `Startup` method and in controller actions.

Note that in the Function App, the provider returns the expected results (none) if I remove the contravariant constraint on the interface (remove the `in` keyword).

[2019-09-11 00:34] PureKrome commented on #3399
@t-l-k and others : issue #4914 is the new thread, for those who wish to watch that issue.

[2019-09-11 02:15] Deepak-Babu commented on #4909
looks like that worked. I'll check if the function triggers and update this issue

[2019-09-11 06:25] ishepherd commented on #4300
Thanks so much for this @yeahsicy! Github did not notify me of your comment and I did not happen back onto this issue till today.

[2019-09-11 08:30] Alxandr opened #4918 "Allow for custom http triggers"
#### What problem would the feature you're requesting solve? Please describe.
I've created a custom trigger for HTTP requests that all follow a certain format. The requests are all parsed the same way in the binding, and the return value is all handled the same way. In addition, the route is not configurable in the trigger attribute, so all the routes have the same pattern containing the same para

[2019-09-11 11:53] pragnagopa opened #4919 "Refactor language worker layer for http invoker"
Part of #4887
- Refactor  [WorkerFunctionDescriptorProvider.cs](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Description/Rpc/WorkerFunctionDescriptorProvider.cs) to allow reusing common code between language workers and http invoker
- Refactor [WorkerLanguageInvoker.cs](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Description/Rpc/WorkerLang

[2019-09-11 12:02] pragnagopa commented on #4887
- Add HttpFunctionDispatcher
- Define HttpChannel similar to language worker channel
- Add process management to HttpFunctionDispatcher

[2019-09-11 17:00] lonpalmer commented on #4916
Not a defect.  "java.io.tmpdir" is returning correctly there was a different problem in our code.

[2019-09-11 17:00] #4916 closed

[2019-09-11 17:00] lonpalmer commented on #4916
Not a defect

[2019-09-11 19:50] #4909 closed

[2019-09-12 07:34] barryt2 commented on #3784
@panjevic I also encountered this issue where the workaround suggested by fabiocav worked locally but not when I do a publish. In my case my publish is a ZIP deploy. After searching the web for a day, I finally got it to work for the publish scenario using the below. The main difference is instead of doing a AfterTargets against AfterPublish, I instead do a BeforeTargets against CreateZipFile. Hop

[2019-09-12 07:35] barryt2 commented on #3784
Oh and this worked for me without needing to do: WEBSITE_USE_PLACEHOLDER= 0

[2019-09-13 10:37] t-l-k commented on #4914
@fabiocav I reproduced the issue on 3 different laptops, does it reproduce for you/your teams? It seems as if we're still experiencing some DI issues even with the "workaround", suggesting that its not really effective.

[2019-09-13 13:07] liamfl opened #4925 "Azure Function V2 and System.Text.Json"
I am trying to implement a function that uses .net core 3 (preview 9) as a target framework and uses the new System.text.json namespace. Here is my code:

[code]
When I run the code and submit a message onto the service bus queue, the function is triggered but fails with the following error:

[code]

I'm coming to the conclusion that I will have to downgrade my project to .net core 2.2, which will

[2019-09-13 16:44] fabiocav commented on #4914
@t-l-k we haven't had this assigned yet, so time spent has been limited. My hope is to have cycles for this issue next week at the beginning of the coming sprint. I'll keep providing updates here as we work on the problem.

[2019-09-13 19:56] jvano commented on #4866
We don't need a new runtime zip, you just need to use environment variables like %ProgramFiles% and %ProgramFiles(x86)% in the xdt files that will work with Azure and Azure Stack.

@alrod can you give us an ETA for this?

[2019-09-13 22:36] soninaren opened #4926 "Http request with header transfer-encoding set to chunked is not handled as expected"
**Function runtime:** v2
**Environment:** Core-tools and Azure

### Repro steps:
1. Create a function app
2. Create a function using httpTrigger template
3. Send a http request with encoding set to chunked via the following this console app: [repro](https://github.com/Azure/azure-functions-host/files/3611992/ChunkedResponseRepro.zip)

It works as expected for C# and csx functions apps. but for nod

[2019-09-14 11:54] espray opened #4927 "Allow for custom http middleware"
Currently there is no way to address cross cutting concerns in an HttpTriggered func like, exception handling, logging and Auth/Auth. A common way to address cutting concerns in asp.net core is with middleware.

Maybe adding middleware could be done through Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder or something similar.

[2019-09-14 15:53] mpnow commented on #1864
I am also getting this error in a v2 C# function app.

`Singleton lock renewal failed for blob 'xxx/host' with error code 409: LeaseIdMismatchWithLeaseOperation. The last successful renewal completed at 2019-09-14T04:18:13.801Z (40380 milliseconds ago) with a duration of 7 milliseconds. The lease period was 15000 milliseconds.`

Is there something we should be doing to prevent this? Or should we i

[2019-09-14 21:48] pragnagopa opened #4928 "Define message converters for http invoker"
part for #4887
- Define converter from [ScriptInvocationContext](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Description/Rpc/ScriptInvocationContext.cs) to HttpRequest

- Define converter from to HttpResponseMessage to  [ScriptInvocationResult](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Description/Rpc/ScriptInvocationResult.cs)

[2019-09-14 21:53] pragnagopa opened #4929 "Define httpInvoker section in host.json"
part of #4887
Define httpInvoker section in host.json similar to worker.config.json used by language workers:
[code]
cc @mhoeger @fabiocav

[2019-09-15 02:11] pragnagopa opened #4930 "Find unused port to start httpInvoker on localhost"
Related to #4887

User provided httpInvoker will be hosted on localhost:port. Host needs to find an unused port and pass it as input args to the process.

[2019-09-16 09:34] t-l-k commented on #4914
Just wanted to expand upon some cost effective mitigation strategies 🤔

@fabiocav would you possibly be able to comment: A quick search appears that it is possible to use WebJobs SDK standalone with Web API?

1) If so, presumably it would allow us to choose our own Dependency Injection framework?

2) If so, would there be any obvious limitations, e.g. when interacting with storage bindings, etc, v

[2019-09-16 16:46] DonFrazier commented on #1806
Please see https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests  Is the approach documented there a valid solution for HttpClient usage?

Similar to a asp.net core site I want to create an HttpClientSimilar to

[code]
and in my startup class register it like

[code]

[2019-09-16 18:28] divyagandhii opened #4932 "Enable java worker for linux placeholders"

[2019-09-16 21:14] jeffhollan commented on #4821
@gzuber we're looking to pull this issue into an "epic" that branches into a seperate issue per trigger. do you know which triggers (if any) you've started on? If not I can add this to epic milestone and have @alexkarcher-msft start creating sub-issues and communicating relative priority (I expect based on usage)

[2019-09-16 21:16] alexkarcher-msft commented on #4821
The priority of these triggers is as follows based on usage

1. Cosmos
2. Durable
3. Service Bus
4. Event Hub

[2019-09-16 21:18] jeffhollan commented on #4828
@ahmedelnably to link sub-items and add to the next sprint milestone

[2019-09-16 21:30] gzuber commented on #4821
@jeffhollan Yes, most of the CosmosDB trigger work is done I just need to make some fixes based on the review here: https://github.com/Azure/azure-webjobs-sdk-extensions/pull/588

[2019-09-16 21:49] thdotnet commented on #4847
I had to update to the latest version. Can't tell you what version was, but maybe @Spharah can give this information

[2019-09-16 22:46] ColbyTresness opened #4934 "Improved Status Endpoint"
#### What problem would the feature you're requesting solve? Please describe.
A single place to go to understand the health of my function app (and all functions within it). Potential scenarios include: alerting customers when something about their system has become unhealthy, building automation to rollback deployment if an app becomes unhealthy, displaying in the Azure portal what the overall st

[2019-09-16 22:59] maiqbal11 opened #4935 "Add Python worker to host for each platform"
Currently, we do not package the Python worker with the host (inconsistent with other languages). We will need to add the workers built for Python 3.6/3.7 and different platforms/architectures.

Also see https://github.com/Azure/azure-functions-core-tools/issues/1534, https://github.com/Azure/azure-functions-python-worker/issues/450

/cc @pragnagopa

[2019-09-16 23:33] jeffhollan commented on #4934
@kulkarnisonia16 as an FYI as I know previously this endpoint was a big cause for supportability.

@ColbyTresness would be good to understand if anything specific here you are thinking would be surfaced that isn't today?  You say it "needs more" but would be good to know what more we have or potentially may have we could surface

[2019-09-17 01:30] ColbyTresness commented on #4934
@btardif Has some opinions on this one. One example is when a user brings a custom container without the functions host in it - the only thing we surface is "host not found".

I'd say the biggest class of issues I want us to get better at is where the host itself can't be reached.

[2019-09-17 11:29] Shreyasnie opened #4938 "Cosmos DB Change Feed Trigger: Stops polling for changes in between"
We are pushing data to cosmos db collection from multiple threads(task, 2000 records in about 20 sec and each record if of 4KB in size), all the data is successfully inserted in to collection, But we have cosmos db change feed trigger which reads newly inserted documents process it and and inserts in to other cosmos db collections. so after processing the other collection should also have 2000 rec

[2019-09-17 12:22] shivaprasadsn commented on #957
did you get it resoloved?

[2019-09-17 12:51] adamgd opened #4939 "Dependency Injection issue: Unable to resolve service for type ... while attempting to activate [TimerFunction]"
Injecting a DocumentClient instance works fine when debugging a Function locally but not on Azure. Possibly the same symptom as #4187.

#### Investigative information

Please provide the following:

- Timestamp: 2019-09-17 11:30:00.006
- Function App version (1.0 or 2.0): ~2
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: 1a2d55843b4483409d843976bb3b7fdf
- Region: UK Sou

[2019-09-17 13:45] SashaPshenychniy commented on #4689
I just wonder how such bugs get to production at Microsoft? Didn't anyone try using logger with DI? Don't you have single unit-test checking that logs messages get to destinations using default setup?
It's hard to estimate the amount of time wasted by the community to find those workarounds...

I had to inject ILoggerFactory instead of ILogger<> into constructors and initialize logger manually wit

[2019-09-17 14:22] Badabum opened #4940 "How to get active connections used by the function host?"
#### Is your question related to a specific version? If so, please specify:
Function version: 2.0
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
We are currently hitting max connections limits on the function app that does batch processing, and it's highly unclear where the leak happens. We use singleton HttpClient and reuse it across different li

[2019-09-17 16:05] pragnagopa commented on #4935
@maiqbal11  - can you please share proposed design for this change?
cc @divyagandhii  - incase there is any platform changes are needed for this issue. For example, if this change relies on environment variables we should make sure Antares is updated to inject right environment variables into the runtime.

[2019-09-17 16:15] leniency commented on #4795
The workaround suddenly stopped working in production on a dedicated Azure App Service. The function.deps.json file is in the bin folder.

I wasn't referencing System.Runtime.Caching, but doing pdf rendering, so System.Drawing. It was working a few days ago.

[2019-09-17 17:00] #4904 closed

[2019-09-17 18:18] SatishRanjan opened #5735 "host.json configurations are overwritten by defaults when IConfigurationBuilder is replaced in IServiceCollection inside Startup.cs of the function app using dependency injection"
When I was working on a CRI, after investigation found that the customer function app is using an extension and in that Startup.cs of the function app they're replacing IConfigurationBuilder and injecting their own ConfigurationBuilder in the IServiceCollection, which is causing the default values of host.json being applied. For example, in the customer's function app (app service plan + standard

[2019-09-17 20:48] leniency commented on #4581
I am. The work around was working fine last week. Then redeployed (no major changes) and keeps throwing errors about System.Drawing that worked before.

[2019-09-17 21:48] mitchdenny commented on #4906
We ended up implementing a workaround on our side to get unblocked. Hopefully that'll hold until this package is released and you can update your dependencies.

[2019-09-17 21:49] fabiocav commented on #4906
@mitchdenny we've been working with @pakrym and we'll have that unblocked in the host soon. will keep this open to track.

[2019-09-18 20:26] fabiocav commented on #4713
In review moving to Sprint 59

[2019-09-18 20:29] fabiocav commented on #4821
Moving this into the epic milestone. Issues for the individual extensions will be created and assigned to milestones.

[2019-09-18 20:31] paulbatum opened #4944 "HttpRequestTraceHandler logs not captured on Linux"
Our system logs on Linux seem to be missing all events from the HttpRequestTraceHandler source. The below query returns zero.

[code]

[2019-09-18 20:34] fabiocav commented on #4866
Agree with @jvano . @alrod I'm moving this to sprint 59, but please let us know if you don't feel comfortable with the date.

[2019-09-18 20:56] ahmedelnably opened #4945 "Support of log analytics for Linux dedicated"
tracking item for the Linux dedicated part of #4828

[2019-09-18 20:58] mhoeger opened #4946 "Cold start with auth on HTTP requests"
Investigate cold start with auth enabled on HTTP requests

[2019-09-18 20:58] ahmedelnably commented on #4828
For dedicated: tracking issue is: #4945
For consumption: tracked internally

[2019-09-18 21:24] leniency commented on #4581
I got mine working again with one extra change. It looks like there was an additional /runtimes/ folder being set at the root level of the package, but should have also been in the bin folder.

I added an xcopy to move it on publish and it's working again.

`<Target Name="PostBuild" AfterTargets="PostBuildEvent">
    <Exec Command="copy $(OutDir)$(ProjectName).deps.json $(OutDir)bin\function.deps.

[2019-09-18 21:52] mhoeger opened #4948 "Support different major versions of Node.js on production Linux"
Support different major versions of Node.js on Linux. Right now, we only support a version of Node.js v8, regardless of what the `WEBSITE_NODE_DEFAULT_VERSION` is set to.

We want to start allowing user-selected major versions (although not through this App Setting - Portal UX and tooling work is already in progress).

To do this, the Linux hosting environment (ex: LWAS) must tell the host and wor

[2019-09-19 08:08] minhhungit commented on #4049
Sep 2019 and still getting it

[2019-09-19 14:26] stofte commented on #3386
I just randomly started seeing this issue. I think the cause was that I added a AspNet NetFramework package to something, when it was expecting Core stuff (removing obviously does not fix my issue). Now my extension no longer starts up. Suggestions such as re-adding it elsewhere does not resolve my issue.

@brettsam When I peek inside the temp dirs and look in the project.assets.json, I can find r

[2019-09-19 15:15] lciocci opened #4950 "Custom logging and function app name"
#### Is your question related to a specific version? If so, please specify:
v2
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
.net core/C#
#### Question
We're looking to migrate some applications to Azure Functions/.net core 2.2. Our existing applications use custom logging to Application Insights where we currently have the ability to log info such as the applica

[2019-09-19 15:28] pragnagopa opened #4951 "[V1] Investigate placeholder initialization errors"
Sometimes initializing V1 placeholders fails with error below. If a customer function app lands on a placeholder that failed to initialize, function app stops working:

[code]
- Need to improve error handling in placeholder warmup code path to give more details why the application failed to initialize
- Need to follow up on any platform improvements to avoid converting failed placeholder sites to

[2019-09-19 15:53] brettsam commented on #4689
@SashaPshenychniy -- are you trying to log to a specific function file? If not, you're likely hitting https://github.com/Azure/azure-functions-host/issues/4345. There's a workaround listed there -- explicitly let your category through our filter.

For others trying to log to the streaming logs for a specific function. The current ways you can get your logs to show up there are:
- Use the `ILogger`

[2019-09-19 15:54] brettsam commented on #4795
@fabiocav -- do you know if something changed here?

[2019-09-19 18:05] AtOMiCNebula opened #4952 "Assemblies with types added to DI container are not marked as runtime assemblies, making them potentially inaccessible"
When `APPINSIGHTS_INSTRUMENTATIONKEY` is set, the WebJobs SDK adds AppInsights types to the dependency injection container.  However, `Microsoft.ApplicationInsights` is not listed in the function host's `runtimeassemblies.json`, so `FunctionAssemblyLoadContext` does not ensure the runtime's version is always the one that's used.

The right thing happens in the default case, but in the event that t

[2019-09-19 20:28] jayhub42 opened #4954 "python runtime has trouble scaling"
My function app has several functions that work in secession. Following this basic flow:
HTTP Trigger that writes to Queue A, then a Queue Trigger on Queue A that creates a Cosmos DB document and writes data to 2 Queues B and C. Then Queue Triggers on both B & C Queues that each import the python requests library and use it to post data to different external APIs.

In an effort to validate this pr

[2019-09-19 21:00] gzuber opened #4955 "Update Service Bus extensions to support Scale Monitor Interface"
Part of #4821

The service bus extensions needs to implement IScaleMonitor in order to support the new runtime scale monitoring feature of premium functions.

[2019-09-19 21:02] gzuber opened #4956 "Update Event Hub extension to support Scale Monitor Interface"
Part of #4821

The Event Hub extension needs to implement IScaleMonitor in order to support the new runtime scale monitoring feature of premium functions.

[2019-09-19 21:03] gzuber opened #4957 "Update Durable extension to support Scale Monitor Interface"
Part of #4821

The durable extension needs to implement IScaleMonitor in order to support the new runtime scale monitoring feature of premium functions.

[2019-09-19 21:05] gzuber opened #4958 "Update CosmosDB extension to support Scale Monitor Interface"
Part of #4821

The CosmosDB extension needs to implement IScaleMonitor in order to support the new runtime scale monitoring feature of premium functions.

[2019-09-19 21:19] #4850 closed

[2019-09-19 21:20] gzuber commented on #4821
Individual issues created. Tracking their progress:

- [ ] Service Bus
- [ ] Event Hub
- [ ] Durable
- [ ] CosmosDB ([PR](https://github.com/Azure/azure-webjobs-sdk-extensions/pull/588))

[2019-09-19 21:28] Programmerman1 opened #4959 "If downloading the extension bundle takes too long, the runtime doesn't start properly"
If you're on a slow Internet connection such that the extension bundle can't download within about 2 minutes, then the runtime fails.

Manually downloading the extension bundle (nearly 5 minutes on my connection) and expanding it where the ExtensionBundleManager looks for it works around the issue.

Console logs:
[code]

[2019-09-19 21:42] fabiocav commented on #4049
@minhhungit can you please try with Microsoft.NET.Sdk.Functions 1.0.30-beta1?

[2019-09-19 21:49] fabiocav commented on #4795
@leniency thank you for the update. Nothing changed in prod, so it's good to understand what was causing the issue (and that it was related to the deployed payload).

As a side note, the next release has a fix that will address the problem with the consumption apps, so that will work there as well.
Closing this as resolved.

[2019-09-19 21:49] #4795 closed

[2019-09-19 21:54] ahmelsayed commented on #4959
/cc @soninaren

[2019-09-20 00:07] fabiocav commented on #4714
This work depends on https://github.com/Azure/azure-webjobs-sdk/issues/2329

[2019-09-20 00:40] alrod commented on #4866
We are using absolute path for cold start:
https://github.com/Azure/azure-functions-host/issues/3505

cc: @safihamid

[2019-09-20 01:11] safihamid commented on #4866
I agree with what @jvano said, this is how it should for VMSS as well, not sure how it’s working there right now because dotnet.exe is on C: drive as well.

[2019-09-20 04:36] AartBluestoke commented on #4940
I recently had to diagnose a max connections issue:
in the azure portal - the function "diagnose and solve problems" - use "TCP"
![image](https://user-images.githubusercontent.com/1892829/65299396-b80c8280-dbb2-11e9-8579-dc9ce690974b.png)
you can get the first pass report based on the state of the connections:
![image](https://user-images.githubusercontent.com/1892829/65299460-fdc94b00-dbb2-11e9-9

[2019-09-20 05:41] Badabum commented on #4940
@AartBluestoke thanks, but unfortunately `consumption` plan based functions do not have this feature :(

[2019-09-20 09:15] minhhungit commented on #4049
@fabiocav

the warning about newtonsoft.json was gone but I got some new error/warning, not sure why

---

[code]

![image](https://user-images.githubusercontent.com/2279508/65314993-85b65180-dbc1-11e9-9a18-989ffd0f4043.png)

[2019-09-21 09:25] ajaypathak opened #4962 "When trying to run queuetrigger azure function"
When I am trying to run a Queue Trigger Azure Function getting the following exception

Attaching the sample project

Microsoft.Azure.WebJobs.Extensions.Storage : 3.0.8
Visual Studio 2019,16.2.5
Azure Function Core Tool Version : 2.7.1585
Function Runtime Version: 2.0.12438.0

System.MethodAccessException
  HResult=0x80131510
  Message=Attempt by method 'Microsoft.Azure.WebJobs.Host.Queues.Listene

[2019-09-21 09:41] ThatBlokeCalledJay commented on #4055
This worked for me (1.0.29)

[2019-09-22 22:03] ThatBlokeCalledJay commented on #4939
I've just started getting the same issue locally.

![image](https://user-images.githubusercontent.com/9808053/65394990-98c94d00-dd8c-11e9-8d29-960456f8e7f2.png)

I deployed the function about a month ago (it's still deployed and running). I've just opened up the code in VS2019, hit run to test locally and am getting the DI service not found exception. No code changes were made, and I haven't updat

[2019-09-23 04:51] FinVamp1 commented on #4817
Looks like we have on average at least 100 apps a day seeing this issue.

let strError="System.InvalidOperationException : Did not find any initialized language workers";
union
    cluster("wawscus").database("wawsprod").FunctionsLogs,
    cluster("wawseas").database("wawsprod").FunctionsLogs,
    cluster("wawseus").database("wawsprod").FunctionsLogs,
    cluster("wawsneu").database("wawsprod").Fu

[2019-09-23 17:06] pragnagopa commented on #3679
cc @AnatoliB

[2019-09-23 17:12] pragnagopa commented on #4026
@mhoeger  - Please check if this is still an issue for node placeholders

[2019-09-23 17:16] AnatoliB commented on #3679
I would love to use this for collecting perf and usage statistics from the PowerShell worker. I will use regular tracing for now, but please notify me when the capability to emit metrics becomes available.

[2019-09-23 18:35] fabiocav commented on #4939
@ThatBlokeCalledJay would it be possible to share a repro so we can take a closer look at your function and registration?

I've noticed you're missing version 2.33.0, which was a preview with a resolution fix for validation. Have you tried to follow the instructions [here](https://github.com/Azure/azure-functions-host/issues/3399#issuecomment-518855094) ?

[2019-09-23 18:36] fabiocav commented on #4939
@adamgd can you please validate with the steps linked above as well?

[2019-09-23 20:46] mhoeger opened #4963 "Load functions that are disabled last to not block on loading"
Functions that are disabled are still being sent to the out-of-proc language worker, even though they will not be executed.

We should not send disabled functions to be loaded, as it can affect perf of other functions unnecessarily.

(Thank you for reporting @FinVamp1 !)

[2019-09-23 21:31] alrod commented on #4893
@markheath, if you refresh the portal do you still see two secrets?

[2019-09-23 21:40] markheath commented on #4893
Yes, both are still there

[2019-09-23 22:51] #4899 closed

[2019-09-24 07:14] markheath commented on #4893
By the way, we reproduced this problem on two different Function Apps

[2019-09-24 08:26] t-l-k opened #4965 "Imperative Binding - make IBinder injectable"
Problem:

The scope for accessing `IBinder` appears to be fairly limited, presumably by runtime constraints?

Example: Attempt to create a function class instance and inject IBinder in the constructor. The function will fail to start as `IBinder` can't be resolved. Rather unexpected.

2nd Example: Create a consumer that has an `IBinder` dependency injected into its constructor, and then inject tha

[2019-09-24 14:12] celloist commented on #4761
any update on this?

[2019-09-24 14:49] DrBarnabus opened #4966 "[Question] .NET Core 3.0 Support"
#### Is your question related to a specific version? If so, please specify:
v3?

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All):
C#

#### Question
With the full release of .NET Core 3.0 now being released, does Azure Functions support using netcoreapp3.0 in a Functions Project? I can see there is a v3 branch with changes for .NET Core 3.0 being made as recently as

[2019-09-24 17:22] fabiocav commented on #4761
@celloist not yet. This item has not yet been assigned. We need to coordinate this change with infrastructure components to avoid issues with scaling in consumption mode. We'll keep this issue updated as/when we make progress.

[2019-09-24 17:32] fabiocav commented on #4959
@soninaren can you please comment?

We need to make sure this scenario is properly handled and a better message is displayed. We also need the ability to resume the download so we're not hopelessly stuck in a situation like this.

[2019-09-24 17:33] fabiocav commented on #4966
@DrBarnabus we're targeting a release supporting .NET Core 3.0 soon. You can see the details here: https://github.com/Azure/app-service-announcements/issues/200

[2019-09-24 17:33] #4966 closed

[2019-09-24 17:35] paulbatum commented on #1451
@andrew-vdb So I think at this point, the title of this issue is a little misleading. Most of the folks commenting on this issue are looking for per-execution billing information. This is slightly different than exposing memory usage for each function. The reason its different is that multiple different functions are executed within the same process, and so the memory usage is shared across the fu

[2019-09-24 17:36] fabiocav commented on #4952
Removing triage labels while we work through the proposed changes, but this may need to catch the 3.x release train

/cc @brettsam

[2019-09-24 17:42] fabiocav commented on #4954
@maiqbal11 @pragnagopa I'm transferring this to the Python worker repo, but let me know if you want to investigate the issue in the context of the host.

[2019-09-24 17:50] fabiocav commented on #4950
@lciocci Azure Functions provides built in integration with Application Insights, logging a lot of the application details automatically for you (while allowing you to log custom metrics/entries). Have you taken a look at the document [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring)? Does that meet your requirements?

[2019-09-24 17:53] dkovela commented on #4926
This is basically blocking the proposed design and implementation for an important project. If this is not fixed, we will have to re-design and implement the planned integration. Can you please fix this ASAP or please let us know ETA if you have it.

[2019-09-24 18:00] lciocci commented on #4950
We use Application Insights in our existing services to write custom log entries (Web APIs, Service Fabric apps, etc.). Retrieving and logging the currently-executing program is currently done via Assembly.GetEntryAssembly().FullName for Service Fabric/console applications or BuildManager.GetGlobalAsaxType().BaseType.Assembly.FullName  for web apps.

We're now exploring Azure Functions and the cur

[2019-09-24 18:04] fabiocav commented on #4950
Indeed. The environment variables in Functions will give you information that will be relevant to what you need. Keep in mind that much of that information is automatically logged for you when you enable Application Insights.

Closing this as answered, but let us know if you need any additional information.

[2019-09-24 18:04] #4950 closed

[2019-09-24 18:39] fabiocav commented on #4888
In pre-compiled scenarios, modifying the information in `function.json` is not supported. If you need to dynamically change the schedule value, you can place the schedule in an app setting as described here:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer#configuration

[2019-09-24 18:39] #4888 closed

[2019-09-24 18:41] fabiocav commented on #4883
@ahmelsayed are you aware of any issues with this?

[2019-09-24 18:45] fabiocav commented on #4861
@brettsam is there any additional follow up required here? any additional information to share or collect?

[2019-09-24 19:04] ahmelsayed commented on #4883
puppeteer seems to have a lot of dependencies that we don't include by default in our images.

[code]

Are you using Dedicated or Consumption Linux? Also how are you publishing?

[2019-09-24 19:04] ahmelsayed commented on #4883
sorry wrong button.

[2019-09-24 19:11] sarvaje commented on #4883
I tried in both. I was publishing using the VS Code extension. The only way to be able to use puppeteer is using a Docker image, but for that we can't use the Consumption plan.

It is not only the dependencies, when I was testing this, the problem was that puppeteer needs to open a new process for the browser, and that is not allowed.

[2019-09-24 19:50] ahmelsayed commented on #4883
that should be an fine. My guess is that either a missing dependency is causing that or when the app was being packages, `./chrome` file wasn't marked as executable `x` which might throw the access denied error. It works fine in dedicated with a custom docker image, so I think the only thing missing in consumption is the dependencies. Also puppeteer seems to require platform specific install, so y

[2019-09-24 20:04] sarvaje commented on #4883
That would be nice, I remember I had to use wsl to upload the right version of some platform specific packages.

It would be nice to be able to run this in consumption mode.

@ahmelsayed @Hazhzeng If you need something on my side, please let me know.

[2019-09-24 21:52] Francisco-Gamino opened #4969 "Need to update documentation for PowerShell to retrieve information about the currently running function"
Need to update documentation for PowerShell to retrieve information about the currently running function: https://github.com/Azure/azure-functions-host/wiki/Retrieving-information-about-the-currently-running-function?

[2019-09-24 23:37] AtOMiCNebula commented on #4952
Alrighty.  I ended up finding a workaround that will work for my scenario, by adding this to my project's Startup.cs file:

[code]

I can still consume a `TelemetryConfiguration` the way the docs page suggests, though it won't have any of the WebJobs-specific telemetry initializers/etc.  It does still link up with operations/activity contexts properly, and that's the main thing I was not excited t

[2019-09-24 23:54] pragnagopa opened #4970 "Compose ScriptHostBuilderExtensions for http invoker"
Part of #4887
- If user opts into HttpInvoker, via host.json #4929 ,  [ScriptHostBuilderExtensions](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/ScriptHostBuilderExtensions.cs) need to compose required components for Http Function Invoke dispatcher

- Update [FunctionMetadataManager](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Host/Functio

[2019-09-25 01:54] pragnagopa opened #4972 "Create base class for WorkerDescription"
Refactor WorkerDescription to be used by both language workers and http invoker

[2019-09-25 02:58] pragnagopa commented on #4155
cc @fabiocav @yojagad

[2019-09-25 09:52] szymon3 opened #4974 "Error: Did not find any initialized language workers"
#### Investigative information

Please provide the following:

- Timestamp: 9/23/2019, 4:56:35.164 PM
- Function App version (1.0 or 2.0): 2.0
- Invocation ID: e0a383e6-f004-4fdc-9617-02ad0da478d2
- Region: northeurope

#### Repro steps

Provide the steps required to reproduce the problem:

1. Change `WEBSITE_NODE_DEFAULT_VERSION` value to different node.js version (e.g. from 8.11.1 to 10.15.2)
2.

[2019-09-25 11:29] gabosistvanpwc opened #4975 "Support for .NET Core 3.0 / EF Core 3.0"
The latest release (2.0.12701) has the following note: "Updated to support .NET Core 2.2.7".

**Does this mean that there is no support yet for .NET Core 3.0 ? If there isn't support for .NET Core 3.0 then can you please give an estimated release date for supporting it?**

When deploying a function (created with the latest VS template) with references to EF Core 3.0 Nuget packages the following er

[2019-09-25 11:31] joaoantunes commented on #4464
I've used the above approach to set a specific JSON file for configurations: appsettings.json and it works locally. In order to work on azure, I've set the base path using this:

[code]
But when I try to use the function on azure it says:

Probably appsettings.json is not publishing to azure function app. The method that I'm using to deploy is just the "Publish" from VS2019. How can put the  confi

[2019-09-25 12:14] VDKB commented on #3399
Is it possible to give the current status of this? Just to know when and how we can go to production with our project.

Thanks

[2019-09-25 12:41] espray commented on #4975
https://github.com/Azure/app-service-announcements/issues/200

[2019-09-25 13:36] hisuwh commented on #1864
I'm getting this error but it is causing my application to crash with an unhandled exception so I cannot ignore it.

[2019-09-25 14:44] APIWT commented on #3784
@fabiocav Can we get an update on this?

[2019-09-25 15:58] pragnagopa opened #4976 "Ignore language in FunctionMetadata when using httpInvoker"
Part of #4887

- Update [FunctionMetadataManager](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Host/FunctionMetadataManager.cs#L271) to ignore language for httpInvoker

[2019-09-25 16:50] pragnagopa opened #4977 "Decouple process management from functiondispatcher"
Worker Process lifecycle is managed by the function dispatcher. Need to decouple process management. This will help code reuse between http invoker and rpc invoker

[2019-09-25 17:35] fabiocav commented on #3399
The changes are going out with this release: https://github.com/Azure/app-service-announcements/issues/201

This started rolling to production environments yesterday and we expect the deployment to be completed by the end of the week.

[2019-09-25 19:06] mathewc opened #4979 "Additional Logging/Metrics for Runtime Scale Monitoring"
Improve/finalize logging for runtime scale monitoring, including adding latency metrics for key operations.

[2019-09-25 21:21] yojagad commented on #4155
I'm closing this issue because IMetricsLogger seem to be available at the application level already.

[2019-09-25 22:21] #4657 closed

[2019-09-26 07:14] andrew-vdb commented on #1451
@paulbatum you have to train your support, they keep talking and investigating "Memory working set" instead of "private bytes".
I assume **calculation of cost** is based on "private bytes" instead of "memory working set" ?

Because I have this strange graph
![image](https://user-images.githubusercontent.com/12871379/65665540-0fd83d00-e03c-11e9-9ca0-db80c77306b8.png)
The memory working set go high

[2019-09-26 12:40] ahmedspiir opened #4982 "node.js function not parsing JSON content from EventHubTrigger"
I have Azure function to trigger eventhub events.
After deploying my function i got many errors about parsing JSON content.
#### Investigative information

Please provide the following:

- Timestamp: 2019-09-23 07:29:16.932

- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: 247803a0-1252-4c9a-bba4-b6bd9ef7e425
- Region: NE

#### Repro steps

Provide the steps required to r

[2019-09-26 13:56] ThatBlokeCalledJay commented on #4939
Hey @fabiocav yes, of course. bare with me.

[2019-09-26 15:00] ThatBlokeCalledJay commented on #4939
I didn't need to publish the full repo, I quickly created supper skinny test, which also fails exactly the same as above.

https://github.com/ThatBlokeCalledJay/azure-function-di-test

If I simply run that guy up and hit the endpoint suggested from a browser

http://localhost:7071/api/Function1

![image](https://user-images.githubusercontent.com/9808053/65699751-74b08900-e076-11e9-9b8e-a1ac0dbf506

[2019-09-26 15:35] ThatBlokeCalledJay commented on #4939
So here's me doing that ^^^

![image](https://user-images.githubusercontent.com/9808053/65702068-48970700-e07a-11e9-9d27-519f4ed9e580.png)

So far so good...

![image](https://user-images.githubusercontent.com/9808053/65702253-9b70be80-e07a-11e9-875e-142263306a40.png)

Swish...

![image](https://user-images.githubusercontent.com/9808053/65702496-06ba9080-e07b-11e9-8a6d-68e7f56fea28.png)

No whistl

[2019-09-26 16:17] pragnagopa commented on #4155
This issue is resolved in commit #https://github.com/Azure/azure-functions-host/commit/8b08e7db3e60d4b245296a83e4b67647fe80f807#diff-63b8db68182a9377a43bd2e17bbf60f1
WebHostMetrics loggers is now added to WebHostServiceCollectionExtensions.cs

[2019-09-26 17:32] paulbatum commented on #1451
Please dont use this issue as a generic dumping ground for billing/memory investigations. Lets keep this on topic.

Regarding the above, please file a new issue here and mention me:
https://github.com/Azure/azure-functions/issues

[2019-09-26 17:59] yojagad commented on #4155
Upon further investigation , it was found that WebHostMetricsLogger is being registered twice

[2019-09-26 19:57] anirudhgarg opened #4984 "Consider adding better logs for cases when a customer has a library version that conflicts with a library version in the host or an extension"
When there are cases when a customer is using a dependency with a library version that conflicts with a library that it part of our extension we should consider adding a better error message.

For example the EventHub extension is using 3.0 version, however there is a 4.0 version available and if the customer uses that he sees an error which is a generic error.

[2019-09-26 21:24] FloriVoss commented on #4682
guys, I hope that you will approve this change.  I just wasted hours as a result of the lack of such an error message, and than I had to pick a random old version of the applicationInsights package I needed hoping that you would support it it.
It really sucks for customers to have to be in dll hell in 2019.

[2019-09-26 22:59] fabiocav commented on #4975
Thanks @espray . Yes, this is planned and the information will continue to be shared in the issue/announcement above.

[2019-09-26 22:59] #4975 closed

[2019-09-26 23:32] vfedonkin commented on #4486
Yes, we fixed this in APIM. Will fix it in Functions Proxies soon.

[2019-09-26 23:36] fabiocav commented on #4486
Thank you. Flagging this as triaged for now as it is still on the radar.

[2019-09-27 09:57] ubarevicius commented on #1063
I have exactly the same problem as described by @juanm-pereyra above. Sad to be forced to ditch azure function just because of this limit when JWT token is used. Our clients work with 3D CAD files that may exceed 100 mb from time to time. Would love to see that addressed somehow. But ok, will probably need to run  a separate node server for that as from the discussion above it's not clear if this

[2019-09-27 10:33] sidhuonline61 opened #5060 "Scoped instances are disposed and no longer available with latest run-time"
Hi Azure Functions team,

I am receiving below error when when function app is using latest run-time (FUNCTIONS_EXTENSION_VERSION = ~2 in App Settings) version 2.0.12701.0.
[code]

[2019-09-27 11:02] Jehoel commented on #2417
@christopheranderson

To my knowledge, Chrome's Headless mode doesn't use the GDI libraries (it's all OpenGL) so it should work. All of the postings about Chrome (and other WebKit-based HTML-to-PDF generators) not working in Azure Websites / Azure App Services predate the 2016 change to Chrome to prefer OpenGL to GDI. This is why `wkhtmltopdf.exe` runs on Azure App Services fine today (but I can't

[2019-09-27 15:47] crklein commented on #4926
Can we please get an update? Our project is in day by day slip without this resolved.

[2019-09-27 18:11] #4692 closed

[2019-09-27 20:01] brettsam opened #4989 "DryIoc.ContainerException : Scope disposed{no name, Parent=disposed{no name, Parent=disposed{no name}}} is disposed and scoped instances are disposed and no longer available"
From https://stackoverflow.com/questions/58129379/azure-functions-scoped-instances-are-disposed-and-no-longer-available

I am receiving below error when function app is running on the run-time version "2.0.12701.0" (FUNCTIONS_EXTENSION_VERSION = ~2 in App Settings). As soon I change the FUNCTIONS_EXTENSION_VERSION to 2.0.12673.0 in App Settings. function starts working without any code change or d

[2019-09-27 20:30] brettsam commented on #4989
Some initial questions in case anyone comes across this (we haven't been able to reproduce this yet):
1. What are the relationships between your scoped and singleton services? Do any Singletons hang onto the scoped services?
2. What are you doing with your scoped services in the function? Could you be storing them or accessing them after the function exits?

Thanks for the help.

[2019-09-27 20:44] ladeak commented on #4925
With netcoreapp2.2 I am getting the following exception:
[code]

Stack:

   at System.Text.Json.JsonWriterHelper.NeedsEscaping(ReadOnlySpan`1 value, JavaScriptEncoder encoder)
   at System.Text.Json.JsonPropertyInfo.DeterminePropertyName()
   at System.Text.Json.JsonPropertyInfo.GetPolicies()
   at System.Text.Json.JsonPropertyInfoCommon`4.Initialize(Type parentClassType, Type declaredPropertyType

[2019-09-27 21:30] #4713 closed

[2019-09-27 21:49] cindyzptang opened #4991 "Unable to initialize TelemetryClient for logging custom events from ApplicationInsights"
#### Is your question related to a specific version? If so, please specify:
framework: netcoreapp2.2
azurefunctionversion: v2

using Microsoft.ApplicationInsights 2.10.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question

My goal is to log custom events in azure functions, utilizing application insights.
I have my azure function deployed and confirm

[2019-09-27 21:56] kalyanaj commented on #3160
I have added some guidance related to this issue at: https://github.com/Azure/azure-sdk-for-net/issues/4575#issuecomment-536108307

[2019-09-27 22:35] cindyzptang commented on #4991
Ok seems like function not supporting the latest application insight 2.11.0 package -> they upgraded System.Diagnostics.DiagnosticSource from 4.5.0 to 4.6.0
See Issue here[https://github.com/microsoft/ApplicationInsights-dotnet/issues/1223](url)

[2019-09-27 22:35] #4991 closed

[2019-09-27 23:04] #4661 closed

[2019-09-28 01:25] pragnagopa opened #4992 "For simple http triggerd functions forward request and responses from http worker"
part of https://github.com/Azure/azure-functions-host/issues/4887
For simple http trigger,
[code]

do not enforce request/response payload. Host should forward httpTrigger payload as HttpRequestMessage and Response from the HttpInvoker should be the result for the function invocation

cc @paulbatum

[2019-09-28 20:34] TechWatching commented on #4989
I have the same issue as the one described in the stackoverflow post. My azure function stopped suddently to work, I guess due to the new Azure functions runtime release.

[2019-09-29 09:24] lukasvosyka opened #4993 "Allow longer query strings than 4096"
I stumbled across the request limits for GET http triggered functions and I was wondering whether this limit could be softened.

The use case is, that we want to have a GET function, that accepts a list of IDs to query the database with an "IN" operator. This list of IDs can be of any size.

During development, the local function host did not really bother about the query string length and it work

[2019-09-30 04:48] SaebAmini opened #4994 "Setting WEBSITE_TIME_ZONE breaks local development"
### Repro steps

1. Create function app V2 in visual studio.
2. Add a function with a `TimerTrigger` that takes a Cron schedule from environment variables:
[code]
3. Add [`WEBSITE_TIME_ZONE`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer#ncrontab-time-zones) from the documentation to your `local.settings.json` file
[code]

### Actual

The function fails to load co

[2019-09-30 05:42] soninaren commented on #4926
cc: @fabiocav , @ColbyTresness

[2019-09-30 07:17] simonbu11 opened #5066 "Dependency injection and http extensions are not compatible"
When building a new Azure Function app that utilises the constructor injection, everything works until a reference to `Microsoft.Extensions.Http` is added. Then the solution will not start with the error:

[code]

[2019-09-30 07:57] willdewhust commented on #4670
Hello I am experiencing the same issue.
Was working perfectly then over the weekend it decided to just fall over.

Function App version (1.0 or 2.0): 2.0
Function App name: backupAutomationDev-func
Function name(s) (as appropriate): backend-get-customerList, backend-update-protectedDB, backend-update-vaultDB to name a few
Region: UK South

[2019-09-30 08:01] willdewhust opened #4995 "Function host not running"
Hello,

I am experiencing an issue with http triggers in my nodejs function apps this morning
Was working perfectly then over the weekend it decided to just fall over.

Function App version (1.0 or 2.0): 2.0
Function App name: ba*****-func
Function name(s) (as appropriate): backend-*****t, backend-*****B, backend-*****B to name a few (Please contact me directly for un-redacted names)
Region: UK So

[2019-09-30 08:22] willdewhust commented on #4995
Redeployed to UK West and it is now working, you may have a potential function app outage in UK South :)

[2019-09-30 08:22] #4995 closed

[2019-09-30 10:27] rasmustherkelsen commented on #4989
I am seeing this issue as well. For me it occurs in all my timer trigger functions. I cannot reproduce it locally as I seem unable to get the newest runtime SDK. Pinning the Azure Functions runtime to  2.0.12673.0 makes the code work again without any changes as reported by @TechWatching Fortunately only my dev environments has been updated so far. Can see prod still runs on  2.0.12673.0. As emerg

[2019-09-30 13:26] bombshot commented on #4665
I am trying to create azure function in Portal and even adding the project.json file with all the dependencies i am getting error : "the type or namespace name azure does not exist in the namespace microsoft". Anything i am missing??

[2019-09-30 13:42] jabbera commented on #4993
We ran into this as well, I ended up creating a post function specifically for batch gets.

[2019-09-30 13:54] brettsam commented on #4989
/cc @fabiocav

@TechWatching / @rasmustherkelsen -- can either of you share with me the details of your DI setup? We don't yet have a repro for this error and we're trying to establish the pattern that causes it. We suspect the error is due to a fix in another DI area (specifically the fix for https://github.com/Azure/azure-functions-host/issues/3399, which was PR https://github.com/Azure/azure-fu

[2019-09-30 14:28] vrossi commented on #4989
@brettsam I was experiencing the same issue, but mine was with a Topic Trigger.  The only dependency I was taking was an `IHttpHandlerFactory`.  I'd be happy to send over some code if you'd like?

I was having another issued when I downgraded as well.  One of my other Topic Trigger functions was taking a class parameter so the runtime would deserialize the message body into my class for me.  We ty

[2019-09-30 14:32] brettsam commented on #4989
@vrossi -- yes, if you're able to send me some code via email that would help immensely. Once we have a root cause we can figure out how we can get both issues resolved.

[2019-09-30 14:48] JohanNorberg commented on #4989
I also have this issue. It works locally but when deployed it to Azure I get this error.

[2019-09-30 14:54] mhoeger commented on #4665
@bombshot - project.json is for V1 apps, is this a V2 app (if it's newly created, it will be)?
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#using-nuget-packages

[2019-09-30 15:08] TechWatching commented on #4989
@brettsam I just sent you an email with some code (object email is "GitHub issue 4989"). Tell me if you need there is other things you need to investigate.

[2019-09-30 16:13] Areson commented on #4049
@fabiocav I updated to the beta. I've got a explicit dependency in my project for version 12.0.2, but when executing I can see the version of the assembly that is loaded is coming from AzureFunctionTools, which is still 11.0.2.

[2019-09-30 17:11] #4767 closed

[2019-09-30 18:26] graham-saunders commented on #4049
@fabiocav

Can you please give the references on how to work around this in 1.X because we can't seem to find a workaround. We're using 1.X with Microsoft.Azure.Search which requires Newtonsoft >= 10.0.3, but since functions is hardcoded to 9.0.1 it's not compatible. I have newtonsoft 10.0.3 manually installed but it's still not compatible in functions.

Please point us to the documented guidance

[2019-09-30 18:35] metro-mark commented on #4049
what you are doing I think is not in harmony with the effort of Microsoft of continue improving .net framework. MS has stated in .net conference that .net framework would continue to be improved. your 1.x function is based on .net and 2.x is on .net core. you have no idea how difficult it is for many developers and third party vendors to just roll out .net core SDKs. I really would appreciate putt

[2019-09-30 18:37] brettsam commented on #4989
Thanks for the help @vrossi and @TechWatching! I've been able to reproduce this with a simple app that registers `IHttpClientFactory` with `AddHttpClient()` in my startup, and then uses that factory in my function. The key was that I had to invoke my function via the admin APIs (i.e. via the portal's "Run" button) _before_ the function ever executed "naturally". After that, it was broken forever.

[2019-09-30 18:40] rasmustherkelsen commented on #4989
Interesting. I will try to reproduce this behaviour tomorrow as it is getting a bit late here in Europe now.

[2019-09-30 18:42] ankitkumarr commented on #4945
Moving to Triaged as this item needs (blocked on) platform level changes (mostly) and will not be part of this Functions Sprint.

[2019-09-30 21:00] ColbyTresness commented on #4926
@mhoeger as well

[2019-09-30 21:24] jeffhollan commented on #4714
Whether it's this item or another my hope would be from a supportability standpoint if we could easily write a detector to let us know if any core services were being overwritten, or at the very least if they had their own custom dependencies setup so we could use that in investigation

[2019-09-30 21:26] jeffhollan commented on #4576
The fix for this has shipped

[2019-09-30 21:26] #4576 closed

[2019-10-01 00:25] jahansha commented on #4989
I had same issue. I applied the workaround recommended by brettsam it  is working for now, until a fix is provided. Thanks brettsam!

[2019-10-01 02:50] AartBluestoke commented on #4049
@Areson referring to https://github.com/Azure/azure-functions-vs-build-sdk/issues/304#issuecomment-507477114 this is intended behaviour

A specific version chosen by azure functions is physically loaded at runtime prior to your function being loaded. .Net does not allow 2 versions of the same dll to be present at the same time. the 'Equals' dependency was a reflection of this.

Changing to be a '>

[2019-10-01 02:54] Areson commented on #4049
@AartBluestoke Understood. That does seem to make this particular issue seem somewhat useless then. Even with change in the beta package folks won't get the functionality they intended by using it, as the older version will always be loaded. Having the '>x' dependency in there will likely cause confusion as people may expect it to use a newer version and may not think to check the loaded assemblie

[2019-10-01 03:22] AartBluestoke commented on #4984
same with Newtonsoft.Json versions

[2019-10-01 14:21] beaubgosse commented on #1864
We're also seeing this error. Any help would be great.

`Singleton lock renewal failed for blob 'masterentitydata/host' with error code 409: LeaseIdMismatchWithLeaseOperation. The last successful renewal completed at 2019-10-01T13:21:35.637Z (24167 milliseconds ago) with a duration of 8 milliseconds. The lease period was 15000 milliseconds.   `

[2019-10-01 14:38] brettsam commented on #1864
These logs are mostly noise and shouldn't be causing any crashes. It just means that the host lease was lost temporarily and it will be re-acquired shortly.

@hisuwh if you can share your exact error message with us, that would be helpful.

For anyone seeing this, if you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-

[2019-10-01 15:25] TechWatching commented on #4989
I did not test it since, but I can confirm you @brettsam that I had the issue just after running the function through the "Run" button of the portal.

[2019-10-01 15:31] brettsam commented on #4989
Thanks all -- we have a fix in #4999 and will be working to roll it out.

[2019-10-01 15:54] jonwrede commented on #3439
Any timeline to fix this?

[2019-10-01 15:55] fabiocav commented on #4989
We'll start the hotfix rollout this morning. Thanks again for reporting, for all the information shared and the patience while we investigated the problem!

[2019-10-01 16:12] CentriqTraining opened #5003 "Cannot create Function App"
My steps to reproduce....always fails for me.
Click Create a resource
Type Function App into "Search the Marketplace" textbox.
On the function App Create page, click Create button.
On the "BASICS" tab,

-    I choose an existing Resource Group
-    I choose centriqfunc in the function app Name
-    I choose .net core in runtime stack
-    I chose both East US and Central US

On the hosting Tab.

-

[2019-10-01 17:29] vfedonkin commented on #3439
@jonwrede,
About app settings, it works. If you use proxy config as
    "test": {
      "matchCondition": {
        "methods": [
          "GET"
        ],
        "route": "/test"
      },
      "backendUri": "http://**%TEST%**",
    }
And define environment variable "TEST" as a **valid url**, for example "httpbin.org", it works well.

About dynamic urls from the parameters like
"backendUri": "ht

[2019-10-01 21:24] janus007 commented on #4464
Don't use appsettings.json , use Azure App Configuration instead. IMHO much better and easy to configure.

[2019-10-01 21:49] janus007 commented on #4410
I can't even understand why this can be a question!

[2019-10-01 23:48] kemmis commented on #4464
How is it easier to manually enter potentially dozens of different
configuration values in N1 * N2 number of app services’ configuration pages
via the azure portal blade, where N1 = the number of app services in each
environment and N2 is the number of environments. For us N1 is about 8 and
N2 is about 6. (Local, dev, qa, staging, prod, and support). That’s 48
different places to deploy settings i

[2019-10-02 00:07] kemmis commented on #4464
Also, if we could only communicate well enough with our devops team to come
up with naming conventions for settings values and environment names, then
we could essentially reduce N1*N2 down to N1 +1, if only N2 contains the
environment name used in your naming convention. But fml, you can only
fight so many battles, and for me, I’ve had to give up this one due to
numerous reasons within our compan

[2019-10-02 05:28] janus007 commented on #4464
Yeah.. I know the battles as well. Sometimes things just are the way they are...

[2019-10-02 09:22] joaoantunes commented on #4464
Ok regarding my issue on the top, I solved it by adding to .csproj where I was doing the publish, the following information:

[code]
Now everytime I publish the azure function it sends the appsettings.json also!

[2019-10-02 09:54] hisuwh commented on #1864
@brettsam This is the error I'm getting:

[code]

I'm not actually running in functions but using the Azure Webjobs SDK and running in kubernetes.  Still like you say I wouldn't expect this error to kill my process but it is

[2019-10-02 12:35] brettsam commented on #1864
@hisuwh -- That's a different issue (note that the blob name is `/...Listener`, rather than `/host`). There's an old, long issue about that here: https://github.com/Azure/azure-webjobs-sdk/issues/822. For that issue, there's no real fix that we can do without a significant architectural change to run some of our host operations in a separate processes. The cause is almost always due to functions b

[2019-10-02 12:59] hisuwh commented on #1864
@brettsam its crashing at a point in time when none of the functions are actually firing.  So I'm not sure how reviewing my code is going to help this issue.

[2019-10-02 13:12] brettsam commented on #1864
I've pinged you on the other thread since your issue is not with the primary host lock. Let's continue there so we don't confuse this one.

[2019-10-02 17:05] mhoeger commented on #4946
For both Linux and Windows, HTTP requests with `"authLevel": "function"` instead of `"authLevel": "anonymous"` take ~400 ms slower. Working with Pavel (internally) to add authenticated templates as a cold start scenario.

[2019-10-02 18:31] jeffhollan opened #5006 "Ability to run some user code whenever a binding throws an exception"
Realize we may do much more than what's scoped in title (trigger for any unhandled exception) but the scenario we have committed to resolve by end of this calendar year is:

We know richer bindings could allow something like `FlushAsync` for non-.NET languages (and for mitigation for now .NET users can use an `ICollectorAsync` with `FlushAsync` to catch exceptions there), but need something shorte

[2019-10-02 18:59] #4879 closed

[2019-10-02 20:04] fabiocav commented on #4979
Moving to correct sprint

[2019-10-02 20:11] fabiocav commented on #4946
Moving this to Triaged. Let's chat about priorities

[2019-10-02 20:24] fabiocav commented on #3747
Closing this as completed.

[2019-10-02 20:24] #3747 closed

[2019-10-02 20:24] fabiocav commented on #3117
Closing as resolved.

[2019-10-02 20:24] #3117 closed

[2019-10-02 20:25] #4866 closed

[2019-10-02 20:36] fabiocav commented on #4745
Adding this to sprint 60 as a stretch goal

[2019-10-02 20:40] fabiocav commented on #4934
Must of the capabilities you're asking for are already exposed with the different status APIs (app level and function level). Let's discuss this to better understand what (if any) work needs to be done.

[2019-10-02 20:48] alrod opened #5009 "EventGrid performance related work"

[2019-10-02 21:05] ColbyTresness commented on #4934
I think the main piece I want is better knowledge of situations where the host can't be reached. I'm imagining displaying some sort of "last known good" state. I don't believe any existing APIs handle this. Also, having function information in the function app API would be helpful - which functions are disabled, in error, or healthy, based on their latest invocation. Also, aggregation across insta

[2019-10-02 22:57] espray commented on #5006
@jeffhollan wound I beable to modify the http response in this Exception Trigger?

[2019-10-02 23:05] jeffhollan commented on #5006
Good question. My expectation would almost be the trigger would execute async to the function that hit the exception - meaning that the HTTP response for an HTTP trigger would likely not be able to be changed - but I don't know what's possible.  I suspect not - at least with my current thinking of how this would - and best bet for what you are looking for would be using richer bindings (currently

[2019-10-02 23:06] jeffhollan commented on #5006
But would let @fabiocav and @mathewc chime in who are starting to chew on how this feature could work

[2019-10-03 01:01] soninaren opened #5013 "Add extension bundle configuration to host.json by default for non-dotnet languages"

[2019-10-03 10:18] tomkerkhove opened #5014 "Activity.Current.RootId used as OperationId in Azure Application Insights, instead of context.InvocationId"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#, but might be applicable to all.

#### Question
The [documentation](https://github.com/Azure/azure-functions-host/wiki/Retrieving-information-about-the-currently-running-function) lists `context.InvocationId` as "invocation ID, uniquely identifying the current invocation".

However, `Activity.Current.RootId` is use

[2019-10-03 10:36] tomkerkhove commented on #5006
Love the itea!

[2019-10-03 14:40] pvmraghunandan commented on #5014
@tomkerkhove  which runtime are you using? Because in v2 Activity.Current is empty/null.

[2019-10-03 14:46] pvmraghunandan opened #5015 "Execution Context is not dependency Injected"
#### Repro steps

Currently Invocation Id is part of Execution Context which cannot be Dependency Injected in Functions V2. We want to use that to insert into our downstream blob store to track as Activity Id.  Due to this limitation, we had to tweak and do many workarounds. It would be great if IExecutionContext kind of interface is Dependency Injectable by default.

#### Expected behavior

Depen

[2019-10-03 15:06] tomkerkhove commented on #5014
I've seen it not being empty locally with latest Azure Function Tools in Visual Studio:
[code]

It worked in Azure before but now that is no longer the case while I did a "New > Azure Function" before the report and just now with different outcome 🤔

[2019-10-03 15:22] pvmraghunandan commented on #5014
@tomkerkhove strange.AFAIK, it's not supported as of now & Invocation Id should match operation Id.

[2019-10-03 15:46] tomkerkhove commented on #5014
I'll try it again next week to verify!

Tom Kerkhove
Azure Architect at Codit, Microsoft Azure MVP

________________________________
From: P V M RaghuNandan <notifications@github.com>
Sent: Thursday, October 3, 2019 5:22:19 PM
To: Azure/azure-functions-host <azure-functions-host@noreply.github.com>
Cc: Tom Kerkhove <kerkhove.tom@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/

[2019-10-03 16:14] adamgd commented on #4939
I have just tried a simple case like the one posted by @ThatBlokeCalledJay  above, after following the instructions posted by @fabiocav. The only significant difference is that mine is a Timer Trigger. The function works with simple injected Singleton service class both locally and on Azure.

![image](https://user-images.githubusercontent.com/651392/66144259-688d7400-e600-11e9-8250-d02d2ef0339a.pn

[2019-10-03 16:50] mathewc commented on #5006
This issue is a duplicate of several other issues we're already tracking:

- https://github.com/Azure/azure-functions-host/issues/1528
- https://github.com/Azure/azure-webjobs-sdk/issues/1284
- https://github.com/Azure/azure-functions-host/issues/1761
- https://github.com/Azure/azure-webjobs-sdk-extensions/issues/342
- https://github.com/Azure/azure-functions-host/issues/281

In particular, the In

[2019-10-03 17:07] pragnagopa opened #5016 "Investigate options to send byte[] payload over http"
Options:
 - Convert byte[] to base64 encoded string
       - Add new 'dataType:base64' in webjobs sdk for users to opt in to base64 encoding
- Stream invocation payload if input is binary data

[2019-10-03 18:04] crklein commented on #4926
We are still stuck and haven't heard anything regarding this issue. Can we please get a status update?

[2019-10-03 20:54] dirceusemighinieleflow commented on #4834
I'm also facing `Handling WorkerErrorEvent for runtime:python` in an azure function without knowing what is the problem.
This is happening when I try to send data to an EventHub

[2019-10-03 21:09] nhwilly commented on #4952
FWIW.  I don't have anything special at all.  Just following the instructions and I can't make any of these examples work.

If I don't put anything in `startup`, the DI fails.

Everything I put in `startup` gets this:
[code]
I wanted to use the `TrackEvent` capability, but I'm having real trouble getting any of this to work in Functions v2 and .net Core.

Please tell me I don't have to write a cus

[2019-10-03 21:28] brettsam commented on #4952
Are you referencing ApplicationInsights 2.11? If so, roll back to 2.10 for now. We're in the process of moving forward.

I'd recommend referencing our package so you don't accidentally move forward past what is supported by Functions: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/

[2019-10-03 21:33] nhwilly commented on #4952
@brettsam I'll try that.  I was just following the steps and used the package manager to install 2.8.0

Should I use be using `Microsoft.ApplicationInsights` or `Microsoft.ApplicationInsights.AspNetCore`?

[2019-10-03 21:38] nhwilly commented on #4952
OK, it's working again.  That's what I needed, I just upgraded the Cosmos SDK today and was showing two sets of AppInsights in my Nuget list.  I decided to tidy up.  Thanks for the quick response.

[2019-10-03 21:44] nhwilly commented on #4952
Wow.  Missed that somehow and just was following the basic AI instructions.  I'll bet when I migrated from Asp.Net Core to Functions, I just dragged over the same approach.

Huge help.  Working great now.

[2019-10-04 02:06] arkhal commented on #4869
Canada Central for Python would be great!

[2019-10-04 10:16] JAkerblom commented on #1222
Me too.. it's impossible to debug.

[2019-10-04 11:07] brettsam opened #5020 "Failing background host restarts can cause unresponsive host"
There's currently only 1 way to cancel host startup -- by using the `_startupLoopTokenSource` in the `WebJobsScriptHostService`. That was a one-time cancellation option. After it was canceled, which happened at every restart, there ere no other ways to cancel startup.

There were scenarios (notably during specialization of a language worker *after* DWAS had called restart on our placeholder at lea

[2019-10-04 11:27] astryger commented on #4588
I have this sentence to translate:
"While   automatically scaling based on demand, use pre-warmed workers to run   applications with no delay after being idle, run on more powerful instances,   and connect to VNETs."

prewarmed workers?
Are "workers" referring to people?? Or something else?

[2019-10-04 12:59] brettsam commented on #4952
Glad you're unblocked! This is an issue every time App Insights moves ahead. We're trying to update quickly, but there's always at least a couple of weeks where they don't match as we wait for our deployment to go out to production. That's why referencing our package (and not App Insights directly) can help. We'll move our package forward when the latest is deployed.

[2019-10-04 17:00] bombshot commented on #4665
@mhoeger - Yes, It's a V2 app.
Issue is resolved, Thanks a lot 😊

[2019-10-04 20:10] fabiocav commented on #4889
Moving this to sprint 60

/cc @dariagrigoriu

[2019-10-04 20:37] jeffhollan commented on #4588
Fair question. In this case a worker is an instance of a server that is running their app. We often use the word “instance” as well - meaning an instance of your app and more instances are added as more requests come in

[2019-10-04 23:32] soninaren commented on #4223
Fixed in https://github.com/Azure/azure-functions-host/pull/4980

[2019-10-04 23:32] #4223 closed

[2019-10-05 01:22] madelinegordon opened #5027 "RuntimeSiteName not populating in Kusto tables"

[2019-10-05 01:37] #4919 closed

[2019-10-05 01:37] #4929 closed

[2019-10-05 01:37] #4972 closed

[2019-10-05 01:37] #4976 closed

[2019-10-05 07:32] #4588 closed

[2019-10-05 08:51] 25308985 commented on #4055
Upgrade your Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator to 1.1.2 will  solve the issue

[2019-10-05 12:05] JamesRandall opened #5029 "SignalR Extension causes startup failure"
The SignalR web job extension allows you to pass it a connection string setting name however during extension discovery on startup the extension requires the presence of the default _AzureSignalRConnectionString_ setting.

Functions version: 2.0
Runtime version: 2.7.1158
Microsoft.Azure.WebJobs.Extensions.SignalR: 1.0.1
Language used: C#
Runtime: .NET Core 2.2

#### Repro steps

You can replicate

[2019-10-05 17:56] acbdataminds commented on #4485
Through UserManager you can do the following

`var usr = await _userManager.FindByEmailAsync("my@email.com");
var result=  await _userManager.CheckPasswordAsync(usr, "xxxPasswordxxx");`

*Return token if result is okay*

[2019-10-06 02:19] JialinXin commented on #5029
Hi @JamesRandall,
Thanks for reporting the issue. We've already fixed it in PR: https://github.com/Azure/azure-functions-signalrservice-extension/pull/72. And the fix will be in the coming release 1.0.2 in a short time.

[2019-10-06 06:31] JamesRandall commented on #5029
Great - thanks!

[2019-10-06 06:31] #5029 closed

[2019-10-06 19:17] andreasohlund commented on #4925
Same here, getting:

[code]

Targeting `netcoreapp3.0` in my csproj

[2019-10-06 19:20] andreasohlund commented on #4925
Seems like Azure Functions doesn't support netcore 3.0 yet https://github.com/Azure/app-service-announcements/issues/200 so that seems like the likely explanation :)

[2019-10-07 00:51] raztiff commented on #85
Any idea on how to use the dynamic naming for multiple blob outputs in the **Java** functions API, if it is even supported as of yet?

I've tried a combination of `@BlobAttribute` with `@BlobOutput` with no luck.

Thanks :)

[2019-10-07 03:31] ahsonkhan opened #5031 "Using latest .NET Core 3.0 packages with Azure Functions v2 (like System.Text.Encodings.Web) causes "Method not found" issue due to assembly version mismatch"
#### Is your question related to a specific version? If so, please specify:

Azure Functions v2

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#

#### Question

From https://github.com/dotnet/corefx/issues/41534 (`System.Text.Json: Method not found System.Text.Encodings.Web.TextEncoder.FindFirstCharacterToEncodeUtf8`)

cc @electricessence, @fabiocav

Is there a

[2019-10-07 03:43] aarondandy commented on #4030
Now I seem to get 502 responses or blank 200 responses depending on planetary alignment 🤷‍♂️

[2019-10-07 06:25] balag0 opened #5032 "Prevent function executions in marked-for-deletion containers."
Since container deletion is an async operation , outdated containers (containers specialized with older version of code / app settings) can still be processing function executions while a new container with updated settings has been specialized.

Add a disable api to stop containers from running function invocations after they are marked for deletion but before they are actually deleted.

[2019-10-07 14:56] espray commented on #5031
Azure/app-service-announcements#200

[2019-10-07 15:49] electricessence commented on #5031
Thanks for looking into this.  Is there any work around for S.T.J. currently?  Migrating to Azure Fn v3 is an option, but we are currently blocked by this issue.

[2019-10-07 15:52] electricessence commented on #4906
@mitchdenny what was your workaround?

[2019-10-07 16:12] espray commented on #5031
Az Host pins versions of specific assemblies and will always lag behind latest releases by some amount. 2.2 is what compatible with Function Runtime Version: 2.0.12673.0

Self host in a container is always an option.

[2019-10-07 16:30] electricessence commented on #5031
@espray I can't even get this to work locally on my dev machine?  How might I proceed?
Is there some assembly hack I can put in to reference the proper STEW package version?

[2019-10-07 16:38] MaxHogervorst opened #5034 "DryIoc.ContainerException : Container is disposed and should not be used: Container is disposed."
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 10

[2019-10-07 16:43] espray commented on #5031
I think your only option for core 3 right now, build v3.x branch and host it container. No clue how stable v3.x branch is.

[2019-10-07 17:19] mslot commented on #3349
@pragnagopa do you know where there exists more info about this? I need to automate it :)

[2019-10-07 17:22] fabiocav commented on #5031
We'll have a preview (with a supporting version of the CLI) available very soon. Please keep an eye on the announcement @espray linked above as we'll update it once those bits become available.

[2019-10-07 17:22] #5031 closed

[2019-10-07 18:00] electricessence commented on #5031
@fabiocav thanks for the update.  Do you have an 'earliest' vs 'latest' timeframe?

[2019-10-07 18:11] pragnagopa opened #5038 "Add test to verify system logs version number"
ETW events for Functions sytem logs are defined here:
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Diagnostics/FunctionsSystemLogsEventSource.cs

To add a new column,
- Add new column as parameter to the method signature for each event
- Update `Version` property for Event attribute

Since there is no build time validation, we need to add a test that verifies t

[2019-10-07 18:18] jeffhollan commented on #2554
@brettsam  is there a linked issue to track the fix for this one? If not I can create (on the Cosmos extension? on the host?)

[2019-10-07 18:19] brphelps commented on #4588
@jeffhollan  @ankitkumarr  -- I think our usage of Functions started alerting on a large number of 404s when this was rolling out, we've since hidden these particular 404s from our alerting. Is this being tracked anywhere? This is basically just the default integration with App Insights, so I'm assuming this could've happened in other environments too.

[2019-10-07 19:35] brettsam opened #5041 "Functions v3 Language Worker Validation"
Meta-issue for tracking language worker validation in one place. Individual issues are:

- [ ] Node: https://github.com/Azure/azure-functions-nodejs-worker/issues/249
- [ ] Java: https://github.com/Azure/azure-functions-java-worker/issues/330
- [ ] Powershell: https://github.com/Azure/azure-functions-powershell-worker/issues/349
- [ ] Python: https://github.com/Azure/azure-functions-python-worker/

[2019-10-07 20:09] CRSnyder opened #5043 "Azure function not processing message in queue"
- Timestamp:  2019-10-07T18:47:23.193
- Function App version (1.0 or 2.0): 1.0
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: 92ac4a87-81c8-446b-bc7a-b2ad7f6165a6
- Region: North Central US

#### Repro steps

queue trigger is not processing messages in the queue.

#### Expected behavior

trigger should run when there are messages in the queue

#### Known workarounds

Re

[2019-10-07 20:15] espray commented on #5031
Next Azure Functions Live is scheduled for the 10th
https://www.youtube.com/watch?v=E_xcnwNONZc

[2019-10-07 20:18] b099l3 commented on #4049
Updating to Microsoft.NET.Sdk.Functions 1.0.30-beta1 as @fabiocav said worked for me!

[2019-10-07 21:01] manums commented on #4805
I could not follow up on this thread earlier. I could get this issues resolved. I have explained things which I followed on stackoverflow page - [here](https://stackoverflow.com/questions/57350709/azure-functions-2-0-eventhubtrigger-system-private-corelib-could-not-load-f).

[2019-10-07 21:02] manums commented on #4750
I could not follow up on this thread earlier. I could get these issues resolved. I have explained things which I followed on stackoverflow page - [here](https://stackoverflow.com/questions/57350709/azure-functions-2-0-eventhubtrigger-system-private-corelib-could-not-load-f).

[2019-10-07 21:05] ahsonkhan commented on #5031
cc @terrajobst

[2019-10-07 21:05] ankitkumarr commented on #4588
@brphelps, this hasn't started rolling out yet and shouldn't be affecting any environment.
What type of 404s are you getting alerts from? Would you be able to provide some more information?

[2019-10-07 21:22] deyanp commented on #4147
@VenkateshSrini , what do you mean by "I tried the same in local by modifying the environment using local.settings.json file"?

Is there an easier way to inject function keys when testing a function locally in a docker container (Linux)?

And what about deploying the container to production in AKS - how should the secrets be configured there? Using Kubernetes secret and mounted volume or there is

[2019-10-07 22:38] divyagandhii commented on #4869
cc @dariagrigoriu

[2019-10-07 23:00] mitchdenny commented on #4906
The work around was in the Azure.Core library itself. Basically some reflection to detect the capabilities of the underlying dependency and adjust accordingly.

[2019-10-08 01:34] VenkateshSrini commented on #4147
You can see all the options stated above. In AKS to the best of my knowledge, please use mounted volumes. Another approach that strikes me now but yet to try it, we can use Azure Vault as a key store and mount the same as Flex volumes. Please see this blog
https://dzone.com/articles/access-azure-key-vault-from-your-kubernetes-pods

[2019-10-08 02:08] pragnagopa commented on #3349
@mathewc / @mattchenderson - do you have documentation for deploying eventgrid trigger via ARM?

[2019-10-08 17:19] brphelps commented on #4588
Following up offline to not broadcast our azure subscription data :).

[2019-10-08 19:00] mathewc commented on #3349
See related issue https://github.com/Azure/Azure-Functions/issues/1004 which details a related blocking issue. That issue has been resolved, and the runtime fix is going out in the next Functions release.

[2019-10-08 23:12] fabiocav commented on #4974
@pragnagopa / @mhoeger can you please take a look?

[2019-10-08 23:16] brettsam commented on #5041
I've just added CLI details. Let me know if you can't access that zip and I can find another place to host.

[2019-10-09 01:23] Methuselah96 commented on #3903
@fabiocav Any update on this? This is still not working for me.

[2019-10-09 01:32] fabiocav opened #5046 "App Service graceful shutdown/draining"
We need a mechanism implemented by App Service and the Host to allow in progress executions to finish when shutting down (e.g. when the worker is deallocated).

This will require collaboration with infrastructure components for proper signaling.
This issue tracks the host work.

[2019-10-09 08:22] abhiphirke commented on #3228
Hi... if we are still paying attention to this, I am facing exactly same issue when I ported my 2.2 Web Project to 3.0. Anyone has any pointer to fixing this, please share!

[2019-10-09 08:25] pcocko commented on #4055
I've upgraded Microsoft.NET.Sdk.Functions to last version (1.0.29) and it solved my problem. It also includes Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator 1.1.2 version.

[2019-10-09 11:49] maxtheman33 commented on #4974
I have exactly same issue in the East US region. Using ElasticPremium (EP1)  app service plan.

[2019-10-09 12:01] maxtheman33 commented on #4974
setting node version to 10.14.1 for instance solves the issue but 10.15.0 works locally

[2019-10-09 16:11] pragnagopa commented on #4974
As of now latest version of node available on Azure Functions is `10.15.2`. Specifying a version that is not available in Azure will not work. To avoid this, please set appsetting `WEBSITE_NODE_DEFAULT_VERSION` to `~10`

[2019-10-09 16:11] #4974 closed

[2019-10-09 18:17] SatishRanjan opened #5047 "Fail the build when extensions.json is not generated, currently it's logged as warning and build succeed"
If extensions are used in a pre-compiled function apps and extesnions.json is not generated at the build time then we need to flag this as build error and fail the build instead of flagging this as warning and letting the build succeed and customer eventually get the function indexing and bindings errors at the function host start up time due to the absence of extension libraries the function is d

[2019-10-09 18:23] fabiocav opened #5048 "Ensure startup configuration failure does not leak resources"
A failure in the startup configuration step may cause an infinite host restart loop. Failures in this path need to be properly handled and we need to ensure resources are not being leaked.

[2019-10-09 18:50] electricessence commented on #4906
@mitchdenny I'm struggling with a problem with `System.Text.Json` having a sub dependency pinned. :(
Does anyone know a way to override the pinned reference?

[2019-10-09 19:54] pragnagopa opened #5051 "Add httpWorker section to host.json schema"

[2019-10-09 21:03] fabiocav commented on #5034
@ConnorMcMahon we may need to review this in the context of what the JS implementation is doing. It's likely it is attempting to work against the container after the invocation has completed.

@MaxHogervorst is this causing an invocation exception?

[2019-10-09 21:05] divyagandhii commented on #4869
cc @anirudhgarg  as well

[2019-10-09 22:42] mathewc opened #5054 "Rpc.ScriptInvocationContextExtensions.GetRpcTraceContext "Key already Exists""
Some customers are getting duplicate key errors from the Rpc execution pipeline.
[code]

[2019-10-09 22:49] mathewc commented on #5054
Might be related to recent changes https://github.com/Azure/azure-functions-host/commit/01441291af9d8fe550fa23b81a99c298d7bdfef5

[2019-10-09 23:06] fabiocav commented on #5015
Flagging feature request.

[2019-10-09 23:09] fabiocav commented on #4935
Moving this out of sprint 59 since it wasn't closed on that sprint.

[2019-10-09 23:09] fabiocav commented on #4928
I'm assuming this is planned for sprint 60, so I'm moving. Please adjust if needed.

[2019-10-09 23:10] fabiocav commented on #1351
Moving this to `Triaged` as I'm not sure we're tracking this work for sprint 60. Please adjust if needed.

[2019-10-09 23:11] fabiocav commented on #4155
Updating the sprint target. Please adjust if needed.

[2019-10-09 23:13] fabiocav commented on #4230
Removing the sprint assignment to make sure this is picked up in triage.

[2019-10-09 23:14] fabiocav commented on #4827
Done

[2019-10-09 23:14] #4827 closed

[2019-10-09 23:16] fabiocav commented on #4113
@jeffhollan I don't believe your issue covers all the cases mentioned here, so I'm keeping this open, but given the fact this has been moving for a while, it would be good to understand whether we need to break this up and close this issue.

[2019-10-09 23:17] fabiocav commented on #4113
@brettsam thoughts?

[2019-10-09 23:18] fabiocav commented on #4825
@pragnagopa closing this as done. Please reopen if needed.

[2019-10-09 23:18] #4825 closed

[2019-10-10 00:06] fabiocav commented on #4854
As @brettsam mentioned, there are infrastructure components issuing requests to the host.

To better understand how those requests are showing up, can you share more details on how you're configuring seq?

[2019-10-10 00:13] SaebAmini commented on #4854
Thanks Fabio. I'm happy to close this issue as it turned out my initial assumption for opening it was incorrect and knowing this is an internal infrastructure healthcheck is good enough, although I believe the log message could be improved to hint at that.

[2019-10-10 00:13] #4854 closed

[2019-10-10 00:57] fabiocav commented on #4507
We need to discuss this item.

/cc @paulbatum

[2019-10-10 01:09] fabiocav commented on #936
Closing stale issue. This should no longer be an issue, but please let us know if you feel this was closed in error.

[2019-10-10 01:09] #936 closed

[2019-10-10 08:40] szymon3 commented on #4974
But if `10.15.2` is latest available version of node then why I can't change my node version from `8.11.1` to `10.15.2`?

[2019-10-10 11:16] maxtheman33 commented on #4974
8.11.1 works
10.14.1 works
10.15.0 doesn't work

Makes no sense.

[2019-10-10 16:25] maxtheman33 commented on #4974
~10?  do we really want  node version to upgrade at will?

[2019-10-10 18:44] electricessence commented on #5031
***sigh*** Live rescheduled for the 22nd.

[2019-10-10 20:34] PingPongSet opened #5057 "FTP Server Connection issue via Azure function app using App Service Plan"
I have an Azure Functions app that uses the code below to connect to FTP server. However, I got error connecting to the server.

The error only happens when the app is hosted on Azure Functions, and works locally on my local machine.

The error is randam and intermittent, and once it occurred, the error continues. But sometimes, it connects even after the error.

For example, I setup a test that r

[2019-10-10 20:40] mhoeger commented on #4974
@maxtheman33 - ~10 will only upgrade minor versions, so by contract established by Node.js, there will be no breaking changes that affect code. We see many users developing with a different minor version before deploying, and have not seen any issues come up. We believe the benefits of having Node.js minor version updates managed are worth it (benefits being optimizing performance for specific ver

[2019-10-10 20:45] #5054 closed

[2019-10-10 23:32] antempus opened #5058 "Cosmos Input Binding OFFSET parameter improperly passed to host"
#### Investigative information

This was done via local development, so this isn't applicable at the moment; If needed, I can deploy and reproduce.  When a parameter is passed to the `sqlQuery` for a comso input binding on the OFFSET clause, it improperly parses and throws an exception.

- Timestamp:
- Function App version (1.0 or 2.0): `2.0`
- Function App name:
- Function name(s) (as appropriate

[2019-10-11 04:44] SaebAmini commented on #4304
Updating to 4.6.0 solved this issue for me and I could remove the hack.

[2019-10-11 04:45] SaebAmini commented on #3568
Updating to 4.6.0 solved this issue for me and I could remove the hack.

[2019-10-11 06:50] szymon3 commented on #4974
@pragnagopa
I see `10.15.2` in Kudu Console. Functions are still not working. I checked that before creating this issue.

[2019-10-11 11:38] zuckerthoben commented on #4055
I have updated to 1.0.29 but ran in this issue again today.
I also have the issue that sometimes the zip / web deploy options are missing when I click on "publish" in the right-click menu of the Azure Function in VS 2019 (16.3.3)

[2019-10-11 12:22] StefanSchoof commented on #5060
Starting with today I got simlar problems. I Use the HttpFactory and starting today at since 4:45 UTC I have a `System.ObjectDisposedException` error when accessing the `HttpClient`. Th Release Pipeline run last 2019-09-23 and it run until today without this issue. The functions sdk version 2.0.12742.0. After restarting the service the error is gone for now.

[2019-10-11 12:33] JontyMC commented on #3593
This has been open for a year now. Is no one using proxies or is everyone just using this workaround?

[2019-10-11 17:40] fabiocav commented on #5060
@sidhuonline61 can you confirm you've tested this against the very latest release? A regression around this area was patched in a subsequent release to the one you've mentioned above.

@StefanSchoof to confirm, you're saying the issue is gone on the latest version, correct?

[2019-10-11 17:53] StefanSchoof commented on #5060
@fabiocav How can I update my function runtime? This is version currently running.

[2019-10-11 18:18] fabiocav commented on #5060
Updates are automatic. What is the version you see on the portal? And can you confirm you see the issue with the latest?

[2019-10-11 18:22] StefanSchoof commented on #5060
I see 2.0.12742.0 and in this version I see this error

[2019-10-11 18:24] DarinMacRae commented on #4742
@CrazyTuna  Possibly?

Just a hunch here but I ran into something similar.

HTH.

Check out...

https://github.com/Azure/azure-functions-host/issues/3741#issuecomment-507264617

So whatever version of AI is used here:
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Logging.ApplicationInsights

Is the one you have to use as well so the types match up.

[2019-10-11 18:30] fabiocav commented on #5060
2.0.12742.0 is the latest globally deployed version. Can you please share a repro of the code you're using to trigger this issue?

When you say:

Can you please clarify exactly how you're accessing HttpClient and share the code snippet? Are you taking a dependency on an HttpClient instance?

[2019-10-11 18:54] MikeGriffinReborn commented on #4464
This is what I did, it works just fine, locally or on Azure. I actually set the "Copy to Output Directory" property on my local.settings.json in Visual Studio to "Copy if newer".  The GetCustomSettingsPath() function ensure it's runs on azure or locally. This is a very easy approach that works fine.

[code]

[2019-10-11 19:42] StefanSchoof commented on #5060
I can not share the complete code here, but if it helps I can open a support ticket on Monday with the full code I use.

I use a Timer Trigger (every 15 min). dotnet core 2.1 and Microsoft.Extensions.Http 2.1.  After a restart the function works for round about one hour without an issue and then the issue starts to surface.

[code]

[code]

[2019-10-11 20:30] fabiocav commented on #5060
@StefanSchoof I expected that to be the issue.

`HttpClient` is not a supported service. To work with the `HttpClientFactory`, please follow the the pattern documented here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.0#basic-usage

The key difference compared to what you have is that you wouldn't take a dependency on `HttpClient`, but on `HttpClientFa

[2019-10-11 20:50] DarinMacRae commented on #3741
Thanks so very much to @marshall76963 and @dzhang-quest for putting this all together.

I needed a slightly different solution that used sampling but I had some auto-tracked dependencies (e.g. blob storage/HTTP) and some custom dependencies (e.g. Redis) so I had to come up with a few modifications.

It took my several hours to piece this all together so I'm posting my final solution in case it hel

[2019-10-11 20:53] sidhuonline61 commented on #5060
@fabiocav I can confirm that with the latest run-time (Runtime version: 2.0.12742.0 (~2)), I am no longer receiving this error.

[2019-10-11 20:54] sidhuonline61 commented on #5060
Thanks Azure Functions team looking into this, much appreciated.

[2019-10-11 20:54] #5060 closed

[2019-10-11 20:54] jasoncoding commented on #4726
Not to necro this thread but I can't find anything else on point.  In order to read the _provided_ IConfiguration wired up by the host/runtime I am resorting to this in a functions startup class configure routine:

[code]

This feels hacky yet I don't see a way to read configuration data during DI startup any other way.  Will this have any side affects?  Is there guaranteed to always be an instanc

[2019-10-11 20:57] sidhuonline61 commented on #4989
I can confirm that with the latest run-time (Runtime version: 2.0.12742.0 (~2)), I am no longer receiving this error. https://github.com/Azure/azure-functions-host/issues/5060

[2019-10-11 20:58] fabiocav commented on #4989
This was globally deployed and resolved with the patch mentioned by @brettsam. Closing as resolved.

[2019-10-11 20:58] #4989 closed

[2019-10-11 20:59] fabiocav commented on #5062
@IgorHalfeld some work is currently in progress to expose a simpler invocation model (compared to the existing language extensibility feature.

Please follow https://github.com/Azure/azure-functions-host/issues/4887 for updates.

[2019-10-11 20:59] #5062 closed

[2019-10-11 21:01] fabiocav commented on #4982
Closing as duplicate of https://github.com/Azure/azure-functions-nodejs-worker/issues/247

Please follow the linked issue for updates.

[2019-10-11 21:01] #4982 closed

[2019-10-11 22:05] fabiocav commented on #4848
Closing as answered

[2019-10-11 22:05] #4848 closed

[2019-10-11 22:07] fabiocav commented on #4925
@andreasohlund is correct. This is expected until you're running against the runtime tracked by the announcement made here:  Azure/app-service-announcements#200

Please continue to follow that announcement for updates.

[2019-10-11 22:07] #4925 closed

[2019-10-11 22:11] fabiocav commented on #4918
There is already a pattern for what you're trying to accomplish, which is used by extensions like Event Grid (https://github.com/Azure/azure-functions-eventgrid-extension/blob/dev/src/EventGridExtension/EventGridExtensionConfigProvider.cs)

By implementing `IAsyncConverter<HttpRequestMessage, HttpResponseMessage>` your extension will have a dedicated extension trigger route that will also not coll

[2019-10-11 22:11] #4918 closed

[2019-10-11 22:13] fabiocav commented on #4908
Closing this as is not something we're currently planning on changing.

@lgaud please let us know if the impact here is significant and we can re-evaluate.

[2019-10-11 22:13] #4908 closed

[2019-10-11 22:13] fabiocav commented on #4878
@ahmelsayed could you please comment?

[2019-10-11 22:41] fabiocav commented on #5066
`Microsoft.Extensions.Http` is not supported by the current runtime. .NET Core 3.0 support is coming with the version announced here : https://github.com/Azure/app-service-announcements/issues/200

[2019-10-11 22:41] #5066 closed

[2019-10-12 00:17] paulbatum commented on #4095
This was fixed in 2.0.12763

[2019-10-12 00:17] #4095 closed

[2019-10-12 16:55] IgorHalfeld commented on #5062
Wow!

[2019-10-12 17:00] alwaysharsha opened #5067 "Powershell shell missing in the container mcr.microsoft.com/azure-functions/powershell:2.0"
#### What language does your question apply to? Powershell

#### Question
In the docker image **mcr.microsoft.com/azure-functions/powershell:2.0** There is no powershell pre-installed due to which the powershell scripts aren't running.

CMD > **docker run -it mcr.microsoft.com/azure-functions/powershell:2.0  pwsh**
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon

[2019-10-13 05:24] ggailey777 opened #5068 "Add functionTimeout = -1 to host.json schema"
The [host.json reference](http://json.schemastore.org/host) needs to be updated to indicate that functionTimeout now supports a value of `-1` (for folks who love to read schemas 😊).

https://github.com/MicrosoftDocs/azure-docs/issues/37952

[2019-10-13 13:12] adrianm64 opened #5069 "Executed called before Exception in filters"
The ordering of the events in `IFunctionInvokationFilter` and `IFunctionExceptionFilter` is
* OnExecuting
* (Function runs)
* OnExecuted
* OnException

This means the Exception is logically outside the scope of the function execution and it will be difficult to do any kind of scope tracking/logging in the filter.

If the order is
* OnExecuting
* (Function runs)
* OnException
* OnExecuted

you can

[2019-10-13 21:56] Alxandr commented on #4918
That seems a bit silly though, given that there's MVC routing at the bottom of this, no? Because this way, first you have to convert the http request into a `HttpRequestMessage`, then pass it through a `converter`, and do the whole dance on your way back again. Not to mention, the APIs needed to implement this are marked with `[Obsolete("preview")]`...

[2019-10-14 05:53] Merurino opened #5070 "Microsoft.Extensions.Http.Polly 3.0.0 breaks Function App binding."
### Describe the bug
If I install the package Microsoft.Extensions.Http.Polly 3.0.0 in my Function app (or if it is installed in any other referenced project) the ILogger binding stops working. Version 2.2.0 works fine though.

### To Reproduce
Steps to reproduce the behavior:
1. Using Vs 2019 create a new function app project using the template.
2. Add a TimerTrigger:
[code]
3. Add the `Microsoft

[2019-10-14 08:01] StefanSchoof commented on #5060
@fabiocav Thanks for spotting that. Doing it correctly the Exception disappears. Sorry to bother you with my mistake.

[2019-10-14 19:01] mhoeger commented on #4993
This limitation has been in place since V1 ([docs here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#trigger---limits)), @paulbatum or @fabiocav - mind commenting on if we will increase or remove this limit in the future?

[2019-10-14 19:07] agruning commented on #5003
Hey @CentriqTraining thanks for reporting. Are you still seeing this issue? The new function app creation experience is still in Preview, so we are actively making updates.

[2019-10-14 19:09] mhoeger commented on #4984
cc: @soninaren

@anirudhgarg - I'm going to mark this as "Triaged", but please let me know if you think it should be labeled a "P2" or be assigned to a specific sprint.

[2019-10-14 19:13] mhoeger commented on #5014
Hey @tomkerkhove ! Any update on this issue? Or do you have a function app name/time period for the screenshots you posted?

[2019-10-14 19:20] yojagad commented on #4512
Looping in @amamounelsayed

@gilmojoa  I also see the thread that was started here https://social.msdn.microsoft.com/Forums/en-US/6586d822-eeea-4fc8-ba28-87fd65882702/deployed-azure-java-function-filepath-cannot-be-resolved-randomly-seems-to-be-dependent-on?forum=AzureFunctions

Were you able to get this resolved?

[2019-10-14 19:21] mhoeger commented on #5070
@brettsam - mind weighing in?

My guess is this is because the version of something (like Microsoft.Extensions.Http) conflicts with a library version in the functions host (related to [this issue to show a better message](https://github.com/Azure/azure-functions-host/issues/4984))

[2019-10-14 19:44] dsm0880 commented on #4435
@fabiocav Super awesome you did this, but how do you enable HSTS for Azure Functions? I can create a new ticket as well.

[2019-10-14 20:35] gilmojoa commented on #4512
Hi,
No we did not resolve this issue.
As a workaround we Switched to reading the files from inside the deployed jar, specifying jar classpath instead.
Would be good to know if someone has an update on resolution for this
Joanne
________________________________
From: Yogesh Jagadeesan <notifications@github.com>
Sent: 14 October 2019 20:20:42
To: Azure/azure-functions-host <azure-functions-host@nore

[2019-10-14 20:48] fabiocav commented on #4512
@amamounelsayed I'm moving this to the Java Worker repo for tracking, but let us know if there's anything we need to track on the host.

[2019-10-15 00:44] AnatoliB opened #5073 "Consider pointing the PATH environment variable to the correct dotnet executable according to the app platform settings"
In order to fix https://github.com/Azure/azure-functions-powershell-worker/issues/232, the following PR temporarily makes the Functions host resolve the dotnet executable path to the one that matches the bitness of the host process: https://github.com/Azure/azure-functions-host/pull/5011.

Another way to fix this could be to make the PATH environment variable on the Windows sandbox point to either

[2019-10-15 09:06] kgoderis opened #5074 "The type initializer for 'Converter' threw an exception. Scope disposed{no name, Parent=disposed{no name}} is disposed and scoped instances are disposed and no longer available."
Refers to https://github.com/Azure/azure-functions-host/issues/5060

This issue seems not be solved, not with the latest ~2 runtime or any other recent version
I get a massive amount of these errors since yesterday with no change from my side.

[code]

#### Investigative information

- Timestamp: 15/10/2019, 10:09:59 (Local time)
- Function App version (1.0 or 2.0): 2
- Function App name: sndflow

[2019-10-15 09:13] kgoderis commented on #5074
Why do we now suddenly get this? It is seemingly impossible to manually set the runtime version anymore

<img width="700" alt="image" src="https://user-images.githubusercontent.com/5459062/66817943-d4df7000-ef3c-11e9-9da7-dd1083dc5890.png">

[2019-10-15 09:16] kgoderis commented on #5074
Why do we suddenly get these? e.g. it is impossible to downgrade the runtime in order to test a solution for the issue above

<img width="825" alt="image" src="https://user-images.githubusercontent.com/5459062/66818171-343d8000-ef3d-11e9-9c74-1eeadcb44d5e.png">

[2019-10-15 14:19] espray commented on #5070
.net core 3 is not currently supported
Azure/app-service-announcements#200

[2019-10-15 15:23] dwoldo commented on #3775
Is this documented somewhere? We've suspected and had to build work around for this behavior in our CI/CD pipelines.

[2019-10-15 15:49] dwoldo opened #5076 "Service Bus with Sessions triggered v2 Function scales down while incoming messages remain constant"
#### Investigative information

Please provide the following:

- Timestamp: 2019-10-15 14:32 UTC
- Function App version (1.0 or 2.0): 2.0
- Function App name: velocity-func-sb-prod-eu2
- Function name(s) (as appropriate): velocity-sb-queue-proxy
- Invocation ID:
- Region: EUS2

#### Repro steps

We cannot reproduce this issue but have witnessed the pattern where a consistent number of messages are

[2019-10-15 16:04] asasine commented on #4848
@fabiocav I don't feel like this has answered. The workaround does work but it means we cannot test the proxy feature alongside HTTP functions before deploying to our Azure Functions resource.

[2019-10-15 17:09] CentriqTraining commented on #5003
It appears not.  I didn’t actually create the resource, but it validated

From: Allison Manifold <notifications@github.com>
Sent: Monday, October 14, 2019 02:08 PM
To: Azure/azure-functions-host <azure-functions-host@noreply.github.com>
Cc: Mike Rissen <mrissen@centriq.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-functions-host] Cannot create Function App (#5003)

Hey @Cent

[2019-10-15 17:30] fabiocav commented on #4818
@brettsam did you mean to close this issue?

[2019-10-15 17:44] safihamid commented on #4848
@asasine you should still be able to test proxies  alongside HTTP functions locally. Adding the above app setting locally will just disable a perf optimization that is not required for local development.

[2019-10-15 17:50] fabiocav commented on #5074
@kgoderis in the converter code above, where is `Provider` coming from? How are you caching that instance?

Also, the previous deployed version was `2.0.12742.0`. `2.0.12775.0` is `2.0.12673.0` + patch

[2019-10-15 17:51] kgoderis commented on #5074
Part of the solution was to replace

`                contract.DefaultCreator = () => sp.GetService(objectType);
`

with

`                contract.DefaultCreator = () => ActivatorUtilities.CreateInstance(sp, objectType);
`

In fact, I have other locations in my code where I get similar errors when using sp.GetService() or sp.GetService<>, with each time sp being an injected IServiceProvider insta

[2019-10-15 17:55] kgoderis commented on #5074
Provider is an assigned member of that class

`Provider = provider ?? throw new ArgumentNullException(nameof(provider));
`
with provider coming through the constructor

`        public FieldwireBase(TelemetryClient telemetryClient, IFlowCache cache, IFlowStorage storage, IFlowHelper flow, IFlowMutexProvider mutexProvider, IServiceProvider provider)`

[2019-10-15 18:17] jeffhollan opened #5078 "Log slot name in FunctionsLogs table"
So we can reliably get the site name if a slot

[2019-10-15 18:18] jeffhollan commented on #5078
@fabiocav

[2019-10-15 18:25] fabiocav commented on #5078
@jeffhollan

[2019-10-15 18:32] kgoderis commented on #5074
That is what it looks like, but my code 'magically" ran ok for months, and it is broken since yesterday/today

The provider is coming through the constructor that declares/encapsulates the Converter class, which then, I presume, is the fully resolved service provider.

That being said, I also use Refit, and because of the parameterised initialisation of the service, I had to fiddle around and I al

[2019-10-15 19:12] gzuber opened #5079 "Log writing contention IOExceptions on V2"
It seems we're still getting log contention IOExceptions on V2. We had previously pushed a fix in #4711, but we're still seeing reports of IOExceptions. Need to investigate any race conditions in our log writing logic

[2019-10-15 20:14] ranciaro opened #5080 "Get ExecutionContext.InvocationId in startup (Azure function V2)"
Currently I can retrieve ExecutionContext inside the function method, like this:
`public async Task <IActionResult> Run ([HttpTrigger (AuthorizationLevel.Anonymous, "post", Route = null)], ILogger log, ExecutionContext context)`

Is there any way I can retrieve ExecutionContext from my function startup?

[2019-10-15 20:21] kgoderis commented on #5074
@fabiocav Something is definitely wrong with the dependency injection. In the IWebJobsStartup startup class in Configure(IWebJobsBuilder builder) I add 4 named httpClients, all in the very same way, using

[code]

but when inspecting the IHttpClientFactory that gets injected by the runtime, I notice

<img width="654" alt="image" src="https://user-images.githubusercontent.com/5459062/66865045-b8702