[2022-11-01 08:09] LuckyLub commented on #8583
Another update from MS, they claim it has been fixed!

_The Microsoft Azure Team has investigated the issue you reported on your devOps pipeline that resulted in errors of your consumption apps becoming unavailable. This issue was found to be related to an issue within the capacity restriction in the region._

_Your consumption app was placed in a region with not enough capacity to fulfill all of

[2022-11-01 10:03] yukscck opened #8879 "Drain mode is not initiated when terminating a Functionapp in Kubernetes"
#### Investigative information

When I ran my Functionapp in a Kubernetes cluster, I observed that the Functionapp initiates drain mode and unregisters all the listeners from my application when I delete a Kubernetes pod or scale in my Kubernetes deployment.

![image](https://user-images.githubusercontent.com/10017600/199207669-e1ba3a2b-6d4e-4199-896d-601c7ee679c8.png)

However, when I upgraded my

[2022-11-01 11:28] PehrGit commented on #8681
Thanks for the replies so far, any new insights? The hardcoded 10 minutes is an issue for us in 2 ways:
- For some function apps, we only have short-running functions so there's no need to wait the full 10 minutes to shut down
- For others, we have some long running functions that may need more than 10 minutes to finish

So it would be very nice if the hardcoded sleep of 10 minutes can be removed

[2022-11-01 14:14] Ved2806 commented on #8610
Hi @fabiocav Could you please look into this issue?

[2022-11-01 14:25] ramya894 commented on #8861
closing as resolved

[2022-11-01 14:25] #8861 closed, assigned to ramya894

[2022-11-01 15:21] kshyju commented on #8879
@liliankasem FYI

[2022-11-01 16:02] ghost commented on #8429
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-01 18:34] mathewc commented on #8850
When running in Azure as you are (App Service Plan + AlwaysOn) when the process crashes, AlwaysOn should cause a new instance of your app to start.

[2022-11-01 22:03] #8849 closed, assigned to ramya894

[2022-11-02 02:12] tranduy216 commented on #8850
The function app has enabled Always On, but when the connection lost to storage, Function App host had stopped and then it did not restart/create new instance.
The Function App only work after I restart.
![image](https://user-images.githubusercontent.com/52338709/199379217-af060e02-6dc2-4246-aaaa-8e33da3fd950.png)

The expectation is that Function App is high availability, no matter what exception

[2022-11-02 03:23] kshyju commented on #8610
Hi @roend83

You should not inject a scoped dependency into a singleton class constructor. If you do, your scoped dependency will behave as singleton. See this for more details.

https://learn.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-6.0#service-lifetimes

[2022-11-02 03:43] mathewc commented on #8850
Internal logs show that the reason your site was down during this period was because the WEBSITE_RUN_FROM_PACKAGE blob URL configured for the app was returning 404 when our platform was attempting to activate your site and download the package on startup. If you have a CRI I can share these detailed logs on that CRI, or you can create a CRI via the normal process if you need this to be investigate

[2022-11-02 10:02] ghost commented on #8567
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-02 10:05] jamesyao-msft commented on #8861
@ramya894 We still have issue on local env while we use DefaultAzureCredential or VisualStudioCredential for TelemetryConfiguration. Looks like the issue was in code:
![image](https://user-images.githubusercontent.com/93960579/199461525-ed06a37b-755e-4af0-9e72-0df744871d59.png)

It really blocks me to use AAD for Application Insights. We cannot rollout this change while we cannot run it locally.

[2022-11-02 10:27] Ved2806 commented on #7878
@srmagura Closing as completed.

[2022-11-02 10:31] Ved2806 commented on #8546
Hi @richardszalay You may want to go through [this](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-6.0#service-lifetimes) Please let us know if it helps

[2022-11-02 10:39] roend83 commented on #8610
@kshyju,

Did you look reproduction application that I attached above?  I'm not injecting a scoped dependency.  I'm injecting either an IServiceProvider or a Func\<TService> (which should use the service provider under the hood to create the service).  The reproduction application has a V3 and V4 function that show different results with the same code.  Something has changed in V4.

[2022-11-02 11:07] richardszalay commented on #8546
Hi @Ved2806, I'm not sure how that documentation helps with this particular issue. Can you clarify why you shared that particular documentation link?

[2022-11-02 20:27] kashimiz commented on #8869
@michaelpeng36 Can you clarify what you mean here? Is the issue that when the `admin/functions/download` endpoint is called through ARM, its response doesn't respect the ARM response size limit?

Please provide an example of a relevant ARM call.

[2022-11-02 21:59] TsuyoshiUshio commented on #8261
Hi @fabiocav I have a PR for the internal repo and work item for tracking this work item.
Once the PR has been merged and new Scale Controller has been released that includes the fix, I'll let you guys know.

[2022-11-02 23:46] mattchenderson commented on #7878
This should not have been closed yet. While we did get a single version update, the general problem remains until we can deliver on an execution plan that prevents this from re-emerging with future updates to the library in question.

I'm drafting another comment with some additional thinking on a direction we could pursue.

[2022-11-03 01:17] mattchenderson commented on #7878
Addressing the point about security upgrades, I agree that a silent snap back would be bad in the abstract. That idea would need to be paired with us always being on latest from our side. To be clear, we do have a process for handling CVE-related updates. What's missing is the handling of other classes of update. We could additionally automate any update to the given assembly, beyond what we alrea

[2022-11-03 18:13] michaelpeng36 commented on #8869
Yes, my understanding is that when the /admin/functions/download endpoint is called through ARM, the response does not respect the ARM response limit. On paper, the limit should be 8MB, but in reality, once the response exceeds 16MB, it starts affecting RP availability. The call itself is `GET/SUBSCRIPTIONS/RESOURCEGROUPS/PROVIDERS/MICROSOFT.WEB/SITES/FUNCTIONS/DOWNLOAD`, with the corresponding UR

[2022-11-03 21:20] alrod opened #8885 "IFunctionsHostingConfiguration needs to be changed due perf and reliability concecrns."
1. `FunctionsHostingConfiguration` needs to cache the config once on process start - updating dynamically can cause unexpected behavior if a feature flag was changed and the feature flag is used in different places.
2. `IFunctionsHostingConfiguration` should be webhost level service.
3. `IFunctionsHostingConfiguration ` should initialize in background.

[2022-11-03 23:42] mattchenderson opened #8887 "Document usage of _FunctionsSkipCleanOutput and FunctionsPreservedDependencies"
`_FunctionsSkipCleanOutput` and `FunctionsPreservedDependencies` do not have full coverage in official documentation. These should be covered in https://learn.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library

This is a tracking item for this repo in support of other work items here. An item has also been filed in an internal docs system as part of the standard process there

[2022-11-04 00:06] mattchenderson opened #8888 "Create auto-upgrade process for Microsoft.IdentityModel.Tokens dependency"
We need to update the version of [Microsoft.IdentityModel.Tokens](https://www.nuget.org/packages/Microsoft.IdentityModel.Tokens) referenced by the host whenever a new version of the package is released. At the very least, any release of ours should also upgrade the version referenced by the host to the current latest. But we should also identify when a new version has been released and line up the

[2022-11-04 00:16] mattchenderson opened #8889 "Move Microsoft.IdentityModel.Tokens into full assembly unification"
Depends on https://github.com/Azure/azure-functions-host/issues/8888

Once we are able to ensure that the host is using the latest version of this assembly, barring the time it takes to deploy an update, users should not hit the error reported in https://github.com/Azure/azure-functions-host/issues/7878. However, we would also like to prevent those errors from impacting apps during that deployment

[2022-11-04 00:51] mattchenderson opened #8890 "(At any future breaking change) Move Microsoft.IdentityModel.Tokens out of shared assembly space"
https://github.com/Azure/azure-functions-host/issues/8889 covers what we should do for current versions of the host, but if we have an opportunity for a breaking change, it would be best to stop having the host attempt to share this assembly with user code at all - it leads to errors like we see in https://github.com/Azure/azure-functions-host/issues/7878.

We could move to a private assembly if t

[2022-11-04 05:57] MitchBodmer commented on #4926
I feel like it's important to stress here again that _this bug in combination with the fact that `PostAsJsonAsync` and `PostAsync` with `JsonContent` do not set the Content-Length means you can't post JSON to an isolated HTTP Azure Function_ without a non-obvious workaround. This also still does not seem to be documented anywhere, but I may have missed something. It also presents itself in a confu

[2022-11-04 06:03] MitchBodmer commented on #4926
#https://github.com/Azure/azure-functions-dotnet-worker/issues/374

Here is another issue where a number of developers wrestled with this issue and never got to the root cause, though they did find the workaround.

[2022-11-04 08:29] fowl2 commented on #5433
Azure.Core has [started depending](https://github.com/Azure/azure-sdk-for-net/pull/25944) on [system.diagnostics.activity.tracestatestring](https://learn.microsoft.com/en-us/dotnet/api/system.diagnostics.activity.tracestatestring), which isn't in whatever version of `System.Diagnostics.DiagnosticSource` is in the v1 runtime.

`Microsoft.NET.Sdk.Functions` also doesn't declare a dependency so there

[2022-11-04 19:02] #8429 closed, assigned to kshyju, Ved2806

[2022-11-04 21:02] alrod opened #8892 "Handle faulty target scaler and fallback to scale monitor"
If service bus connection does not have "manage claim" we can not get number of unprocessed messages so Target Based Scaling is broken. We need to throw `NotSupportedException` exception in SB extension and fallback to scale monitor in function host.

[2022-11-05 09:42] svenna opened #8894 "EasyAuth exception"
we have started to receive exceptions in easyauth for our httptriggered functions
we are running azure functions in dotnet6-isolated, i have tried both with the function container and the app-service container
our function works fine when we disable authentication.
We did remedy the situation in one production environment by removing the azue function app and redeploying
the infrastructure.

I hav

[2022-11-05 13:01] #8567 closed, assigned to madelinegordon, Ved2806

[2022-11-05 15:48] stooone commented on #8583
Happened with me yesterday and today too.

[2022-11-05 16:02] ghost commented on #8478
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-05 16:20] rdvansloten commented on #8583
We moved our Functions to North Europe. EUW is a damned mess right now. I couldn't deploy a new Function in EUW because capacity was mysteriously gone.

[2022-11-06 13:02] ghost commented on #8546
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-07 07:23] fowl2 commented on #8887
for reference, this was previously rejected here: https://github.com/MicrosoftDocs/azure-docs/pull/77460

[2022-11-07 07:25] fowl2 commented on #8888
Would this process also apply to functions V1?

[2022-11-07 14:45] Ved2806 commented on #8519
@timgabrhel Have you tried it with VS 2022?

[2022-11-07 17:45] rumkit opened #8897 "How to get access to the id token after client-directed sign-in"
#### Is your question related to a specific version? If so, please specify:
v4 Out-of-process (isolated)
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
I'm running a function app with EasyAuth enabled and set up to use B2C AD as an OpenID provider. In case of server-directed sign-in after the user has completed the authentication, I check `X-MS-CL

[2022-11-07 18:57] soninaren opened #8898 "Provide a way to pass data between multiple worker process for stein"
As part of work for project stein. The function host send a metadata request to the worker process to get the function metadata. That worker would index functions and send the function metadata response. This request is only sent to one worker, however there is indexing related data that needs to be shared between workers.

Proposed solution.
1. Worker sends the data that it needs to share between

[2022-11-07 19:20] #8871 closed, assigned to alrod

[2022-11-08 14:11] timgabrhel commented on #8519
Yes, that's where it was built.

[2022-11-08 16:02] #8478 closed, assigned to kshyju, Ved2806

[2022-11-09 00:14] wallflower762 opened #8899 "Task scheduling behavior with multiple processes"
I would like to clarify my understanding of how the azure functions host dispatches tasks to multiple processes.

I currently have a Python function app with the following attributes:

- Runs as a Docker container on a premium App Service Plan (P3V3 - 8vCPU, 32GB RAM)
- Functions are triggered from Azure storage account queues
- Multiple functions with a mix of IO and CPU bound work with an expect

[2022-11-09 00:14] wallflower762 opened #8904 "[INFO] Task scheduling behavior with multiple processes"
I would like to clarify my understanding of how the azure functions host dispatches tasks to multiple processes.

I currently have a Python function app with the following attributes:

- Runs as a Docker container on a premium App Service Plan (P3V3 - 8vCPU, 32GB RAM)
- Functions are triggered from Azure storage account queues
- Multiple functions with a mix of IO and CPU bound work with an expect

[2022-11-09 00:36] #8302 closed, assigned to soninaren

[2022-11-09 00:36] #8898 closed, assigned to soninaren

[2022-11-09 05:43] georgeOsdDev commented on #7864
Hi @pragnagopa, @CooperLink
Is there any update on this issue?

[2022-11-09 06:50] pankajagrawal16 commented on #8189
I am facing similar issue too and ideally WEBSITE_RUN_FROM_PACKAGE  should not be overridden until unless explicitly defined in arm template, although I do understand it will break the consistency.

So there should be a better way of solving this, but the current behavior is not desirable

[2022-11-09 13:02] #8546 closed, assigned to kashimiz, Ved2806

[2022-11-09 14:37] pankajagrawal16 commented on #8019
I am facing same issue too with java setup though. Workaround of specifying separate urls work with java too.

[2022-11-09 19:16] fabiocav commented on #8901
I believe the issue here is with the visibility of the logs from host services and difference in behavior difference between the two services mentioned above for the same level.

Reviewed this with @brettsam and this is indeed by design today. The logs emitted by `FunctionsSyncManager` are all at the host level, and not available in Application Insights. Those logs will, however, be available in d

[2022-11-09 19:24] mattchenderson commented on #8567
I read this as a portal feature request. The system technically is working as expected, but it could be made easier to use. Because no token is attached on the request which is being constructed in the test/run experience, the system rejects it. The cookie that might have been set during a prior login is similarly not presented in the API model of this request as constructed. The portal experience

[2022-11-09 19:24] fabiocav commented on #8901
@soninaren, this would be a good candidate for diagnostic events.

We should also consider a diagnostic source that would emit the events to be picked up by the listener service.

[2022-11-09 21:07] fabiocav commented on #8870
The associated PR addresses this issue. Currently iterating on reviews and design feedback.

[2022-11-09 21:12] fabiocav commented on #8825
@soninaren has completed the investigation on this and the underlying issue has been addressed with the selective loading changes tracked in #8900

[2022-11-09 21:12] #8825 closed, assigned to soninaren

[2022-11-09 21:17] fabiocav commented on #8611
Moving this work to sprint 135 to prioritize the ARM API work.

[2022-11-09 21:36] AnatoliB commented on #8019
cc @alrod

[2022-11-09 23:08] shun-jiang commented on #8448
@nzthiago is it fixed in WestUS region? We have the swap issue after moving the storage to vNet.

[2022-11-10 07:56] yggdrasil-tynor commented on #4926
.NET 7 released and still not possible to upgrade to isolated functions due to this bug?

[2022-11-11 08:08] CasperWSchmidt opened #8903 "Support for HttpContext.RequestAborted in the HttpTrigger cancellation token"
#### What problem would the feature you're requesting solve? Please describe.
Using Http triggers in Azure Functions is a common use case. Having longer running functions is also quite normal. Therefore I'm actually quite surprised that cancelling a request (fx. in Postman) affect the function running. IMHO that is what developers would expect (at least it's what I did, and what the author did [he

[2022-11-11 12:39] ChrisAllisonMalta commented on #8567
Hi @mattchenderson thanks for looking at this, it may be the case that the system is working how it should right now however my point , albeit not written explicitly here but communicated multiple times directly to Microsoft, is that it USED to work that way. I know memory is fallible but Im 99% sure I was trouble shooting API calls in the portal with AAD before there was an upgrade to EasyAuth.

[2022-11-11 14:26] smthbh commented on #8189
I'm using an EP plan, deploying the function from Bicep and then deploying the function code with a release pipeline without issue. What does your bicep file and release deployment step look like?

[2022-11-11 16:02] ghost commented on #7878
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-11 16:40] srmagura commented on #7878
@Ved2806 please stop tagging this as "Needs: Author Feedback". Thank you

[2022-11-11 17:23] ksadralodabai commented on #6769
I am confirming that we started getting this issue on our Jenkins build servers. Two branches that contained the same code were providing inconsistent results. One was building fine whereas the other one had the error stated in this chain. I tried restarting Jenkins but had the same issue. Finally, after upgrading Microsoft.NET.Sdk.Functions from 3.0.11 to 3.0.13 it got resolved. Hope this helps s

[2022-11-12 01:49] #8892 closed, assigned to alrod

[2022-11-12 05:43] specious commented on #1469
What we need is the equivalent of [awslabs/aws-lambda-cpp](https://github.com/awslabs/aws-lambda-cpp) for Azure Functions.

Here's an [example](https://github.com/littermap/littermap-aws-backend/blob/1b16f497497bf44da07823314ee00da6207942a6/functions/scale-image/src/main.cpp#L73) of its use in an AWS-based project.

[2022-11-12 16:02] ghost commented on #8519
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-14 06:41] mrebuffet commented on #3741
We are also impacted by this issue and have tried several options to fix this behaviour.
Our Functions are sitting behind FrontDoor and we are using the built-in Health check option to probe our services.
Since Azure has a significant amount of Point of Presence around the world (which is great), this results in almost 200k logs per day per backend pool on the lowest setting (probing at a 255 seco

[2022-11-14 07:40] ramya894 commented on #8894
@svenna We will check this issue with our next level team and update you.

[2022-11-14 09:01] ramya894 commented on #8897
@rumkit We are investigating the this issue and let you know the findings soon.

[2022-11-14 09:06] ramya894 commented on #8904
@wallflower762 We will check this issue with our next level team and update you.

[2022-11-14 15:38] timgabrhel commented on #8519
Hey @msftbot - I gave feedback already. Please keep this open.

[2022-11-14 19:10] jooooel opened #8908 "FileNotFoundException when referencing System.Diagnostics.DiagnosticSource version 7.0.0"
#### Description
I initially filed this issue [here](https://github.com/RehanSaeed/Serilog.Enrichers.Span/issues/238) since I thought is was related to that nuget package. But I've been able to narrow it down.

When creating a brand new v4 function app (using `func new`) on .NET 6, if I add `<PackageReference Include="System.Diagnostics.DiagnosticSource" Version="7.0.0" />` I get the following exc

[2022-11-14 19:44] eat-sleep-code opened #8909 "Azure Function Project's func start results in Could not load file or assembly 'System.Net.Http, Version=7.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified."
Originally posted here: https://github.com/dotnet/runtime/issues/78161

I am attempting to update an existing Azure Function to use .NET 7 (which according to [this post](https://devblogs.microsoft.com/dotnet/dotnet-7-comes-to-azure-functions/) should be supported).

- I installed the latest SDK on my Intel-based Macbook running macOS Ventura, and it appears to have installed correctly.

[code]

[

[2022-11-14 20:01] xerootg commented on #8887
I used @fowl2 's blog to resolve an assembly resolution issue that has been really difficult to figure out. Please consider getting this documented. Users of Function really need help here.

[2022-11-14 21:35] liliankasem opened #8910 "Remove temporary MyGet install task from AzDO pipeline"
An AzDO task was added to our pipeline that downloads a couple nuget packages from our MyGet feed. The reason this task was added is because there is a bug with nuget today where the nuget.config we have setup (which includes both of the myget feeds used in the script) does not get used when installing sub-dependencies.

PR where this task was originally added: https://github.com/Azure/azure-funct

[2022-11-15 10:44] Hjortsberg opened #8911 "Function scales to 0 instances under load. Only wakes up when opened in Azure Portal"
#### Check for a solution in the Azure portal
Have checked through almost all detectors, the errors I find is related to the swap action and no host errors after the swap completed.

#### Investigative information
This Azure Function is under constant load at around 900req/min from an EventHub trigger so from my perspective, it should never scale down. This has worked flawlessly for some time. Yes

[2022-11-15 12:02] ramya894 commented on #8908
@jooooel We are investigating the issue and update you with the solution soon.

[2022-11-15 15:23] sqlrunner opened #8912 "Broadcast Event Grid events to all function host instances behind the Scale Controller"
I have a need for events published to a registered Function App (through an Event Hub) to be broadcast to all scaled function instances. As of right now, when the Scale Controller creates more 2 or more function instances any event sent to that 'function' is intercepted by the Scale Controller and forwarded to only of of those instances. It would be very nice to have a flag on the event saying 'br

[2022-11-15 15:24] sqlrunner commented on #8912
This is a feature request, not an open issue.

[2022-11-15 18:40] kashimiz commented on #8831
Completed.

[2022-11-15 18:40] #8831 closed, assigned to kashimiz

[2022-11-15 19:02] ghost commented on #7878
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-15 19:08] srmagura commented on #7878
Not stale

[2022-11-16 10:47] sdg002 opened #8914 "SCALE_CONTROLLER_LOGGING_ENABLED but no scaling information found in Application Insights"
#### Is your question related to a specific version? If so, please specify:
Azure functions 4.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Python 3.9

#### Question
Our Azure function is scaling up and `SCALE_CONTROLLER_LOGGING_ENABLED` is set to  `AppInsights:Verbose` but we cannot see scale controller related logs in the **Traces** table of Application Insi

[2022-11-16 13:38] ramya894 commented on #8909
@eat-sleep-code .NET 7 support was announced only for isolated model, not for in-proc model.

You can now build your serverless applications with .NET 7 in Azure Functions using the [.NET Isolated Worker model](https://docs.microsoft.com/azure/azure-functions/dotnet-isolated-process-guide), which provides an isolation model that decouples your function process from the Azure Functions runtime, bri

[2022-11-16 13:43] eat-sleep-code commented on #8909
What is the timeline for in-proc model support.

[2022-11-16 17:17] eat-sleep-code commented on #8909
@ramya894  this doesn't explain the build issue.   I haven't even gotten to deploying the app, but instead am running into the issue on func start on my local machine   The ability to build / debug locally should work regardless of the end deployment model.

[2022-11-16 18:45] brettsam opened #8916 "Race condition on function timeout can lead to "Did not find any initialized language workers""
We have a race in [this chunk of code](https://github.com/Azure/azure-functions-host/blob/960fcfcada10c237acd044e0190afdc73ba1b747/src/WebJobs.Script.Grpc/Channel/GrpcWorkerChannel.cs#L1116-L1121) during a function timeout:
- one place handles the process's `Exited` event, then calls [`process.Close()`](https://github.com/Azure/azure-functions-host/blob/960fcfcada10c237acd044e0190afdc73ba1b747/src

[2022-11-16 21:36] #8916 closed, assigned to brettsam

[2022-11-16 22:17] #8146 closed, assigned to kashimiz, Ved2806

[2022-11-17 03:34] yoichiozaki commented on #7391
Hi @kashimiz

Has this issue been resolved?

I am currently working on an incident in a Java timer trigger function app where an error occurs when deserializing the timer object.

[code]

It seems like it is due to an incorrect timestamp being passed.
Please fix it so that the timestamp will be passed to the function code with an time zone indicator, such as +00:00 at the end of the timestamp.

[2022-11-17 12:29] martin-greentrax opened #8921 "Sometimes Python Function fails with InvalidOperationException / RpcFunctionInvocationDispatcherLoadBalancer.GetLanguageWorkerChannel"
This is on a Python 3.9 function with HTTPTrigger linked to a FastApi app.
I have read through many similar issues but ours does not give a hint about how it would be related to our code nor does it happen consistently. It's only like 1-2% failure rate of all requests.

#### Investigative information

Please provide the following:

- Timestamp:
- Runtime version: 4.13.0.0

**Event time	11/17/2022,

[2022-11-17 16:40] mattwise-42 commented on #8861
@ramya894 in our tests it did not work once deployed either. We still face this issue. Can we please re-open?
<img width="686" alt="image" src="https://user-images.githubusercontent.com/106715847/202505452-f4df027d-7abf-4d96-808d-c6281d0e7a1f.png">

[2022-11-17 17:05] mathewc opened #8922 "Include failure details in log for Run From Package startup failures"
When an app using "run from package" fails due to problems downloading the zip package, the platform writes a file "FAILED TO INITIALIZE RUN FROM PACKAGE.txt", which the host looks for, and when found will refuse to start (code [here](https://github.com/Azure/azure-functions-host/blob/a68b37b1d667e5d9a3152da935c3b80384da51da/src/WebJobs.Script.WebHost/WebJobsScriptHostService.cs#L203)). The conten

[2022-11-17 21:08] MitchBodmer commented on #3998
#https://github.com/Azure/azure-functions-host/issues/9290

[2022-11-18 00:57] alrod opened #8923 "Functions hosting configuration redesign"
**Current implementation has the downsides:**
1.	The configuration updates dynamically during application lifetime, this can cause issues if a feature flag is using in different places of the code base.
2.	The configuration updates on `GetValue` call and caches for 10 minutes, so the update operation blocks on the config file read and parse.

[code]

**Proposed implementation.**

1.	Using` IOption

[2022-11-18 06:06] yoichiozaki commented on #7391
The value of the timer object given at the first execution after the function host started sometimes appears to be a value without a time zone indicator.

[2022-11-18 07:41] ramya894 commented on #8909
@eat-sleep-code If you are having trouble to switch to .net 7 in isolated model app, please open an issue in the [dotnet isolated worker repo](https://github.com/Azure/azure-functions-dotnet-worker).

[2022-11-18 07:41] #8909 closed, assigned to ramya894

[2022-11-18 07:45] ramya894 commented on #8911
@Hjortsberg We are investigating this issue and let you know the findings soon.

[2022-11-18 08:05] ramya894 commented on #8914
@sdg002 We will check this issue with our next level team and update you,

[2022-11-18 12:22] eat-sleep-code commented on #8909
As I clearly stated this issue is with local development, not deployment to an isolated app.

This issue should not be marked completed.

[2022-11-18 12:25] wesselkranenborg opened #8924 "Null values are ignored by introduced new app setting to control skipping empty entries from event payload when sending to OOP layer"
#8499 aims with this PR https://github.com/Azure/azure-functions-host/pull/8642 to try to fix the bug of skipping null entries. But the implementation right now made is only fixing the bug for event payload which is `string.Empty` and not null. Null values are still skipped and still cause the same bug.

@kshyju @fabiocav

The original bug (https://github.com/Azure/azure-functions-dotnet-worker/is

[2022-11-18 13:00] hrgsmms opened #8925 "Front End returns site disabled due to quota enforcement (403.67), but the app was indeed restarted due deployment"
+ Issue

While supporting a customer on an investigation regarding 403s returned by a Function App Front End Table, we got distracted by the return status.substatus "403.67", presented on diagnostics -> 4xxx errors Detector.

That says "403.67" means site disabled due to quota enforcement
[(https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.websites.models.site.dailymemorytimeq

[2022-11-18 14:26] thopdev opened #8927 "'ApplicationPartAttribute' does not exists in the namespace 'Microsoft.AspNetCore.MvC.ApplicationParts'"
Upgrade from .NET 6 v4 in-process to .NET 7 v4 isolated breaks our build with the following errors:
The type or namespace name 'ApplicationPartAttribute' does not exist in the namespace 'Microsoft.AspNetCore.Mvc.ApplicationParts' (are you missing an assembly reference?)
The type or namespace name 'ApplicationPartAttributeAttribute' does not exist in the namespace 'Microsoft.AspNetCore.Mvc.Applicat

[2022-11-18 17:01] fabiocav commented on #7391
Flagging this for triage and investigation

[2022-11-18 19:09] kshyju opened #8929 "Incorrect log message"
Log message has the ToString() result of the collection.

Source: Host.LanguageWorkerConfig
Host version: 4.24.1.0

[2022-11-19 00:35] ChuckJonas commented on #1361
Any update?  This is just another fundamental feature missing from Azure Functions....

[2022-11-19 02:51] mwicha opened #8930 "How to handle timeout before process done on Azure Service Bus trigger for Azure Functions"
I use Azure Service Bus trigger for Azure Functions.

My programming language is Javascript.

From is https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=in-process%2Cextensionv5&pivots=programming-language-javascript#example, I cannot set autoComplete = False. That mean it is auto complete. How to make sure that message is consumed will complete bef

[2022-11-19 22:02] ghost commented on #7878
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-19 22:03] david-eagles commented on #7878
Activity

Sent from my iPad

On 20 Nov 2022, at 08:02, msftbot[bot] ***@***.***> wrote:

﻿

This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for 4 days. It will be closed if no further activity occurs within 3 days of this comment.

—
Reply to this email directly, view it on GitHub<https://aus01.safelinks.protect

[2022-11-20 15:07] sig9 commented on #1361
I've been watching this for soooo long. Was excited to see a github notification on this topic. alas... another bump.

Any word from dev team or product managers?

We can't even do short lived SSE responses. FWIW cloudflare workers support this.

If this ever makes it to production, please also support it in azure static web app functions without needing BYO functions.

[2022-11-20 15:09] sig9 commented on #1361
We can't even do short lived SSE responses. FWIW cloudwatch supports this.

[2022-11-20 15:12] sig9 commented on #1361
If this ever makes it to production, please also support it in azure static web app functions without needing BYO functions.

[2022-11-20 15:52] kwasilka commented on #7829
Following up what I've found.  Simplifying: The root cause was using synchronous subroutines within an async function.  All endpoints are async, but when having to make database calls, it then causes blocks and the async function to behave synchronously.  Under load, we would then see the 500 errors show up because there were no worker processes available to receive the request from the app servic

[2022-11-21 06:09] jayendranarumugam opened #8931 "Capturing Dependency Failures from Code - Dotnet"
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
Azure Function-EventHub Trigger deployed in dedicated app service plan. As part of the logic I have to call our internal API to send Event hub message received (event hub trigger). Everything is working fine, however intermittently our internal API call is giving 504 - Gateway Timedout Error - which

[2022-11-21 10:19] ramya894 commented on #8930
@mwicha We will discuss this with our next level team and update you.

[2022-11-21 13:00] rodolfograve commented on #8802
I was hoping that after the .NET 7 GA someone would pick this ticket up?

[2022-11-21 13:47] imhauser commented on #4926
I am considering stopping using Azure Functions in our projects.
It has been a nightmare to upgrade to .net5 and now .net7.
Our functions are called by SAP and I no control on the transfer-encoding parameter. (chunked).
So when chunked, body is empty in isolated function (.net7)
I am surprise there is not more reports about this problem

[2022-11-21 14:00] arkiaman commented on #7452
Tested with [https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.ApplicationInsights/1.0.0-preview3](). Still no scoped properties.

[2022-11-21 14:18] Ved2806 commented on #8460
Hi @ilantom Could you please provide the needed information?

[2022-11-21 14:19] Ved2806 commented on #8610
Hi @kshyju Please provide your inputs on this

[2022-11-21 16:54] MatheusNani commented on #1431
I have a similar issue with a Timer Trigger Function.
For some reason it's being kickoff twice in a row and I'm getting duplicate emails.
Any updates regarding this issue?

![image](https://user-images.githubusercontent.com/1853923/203113446-8519bf0b-3651-49c0-a71a-ccd7eb337b04.png)

[2022-11-21 17:22] idusortus commented on #1431
@MatheusNani That's a duplicate execution, not an unexpected duplicate log entry. You may have better luck asking on stackoverflow.

[2022-11-21 17:39] MatheusNani commented on #1431
Hi, what do you mean by SO? Hehe

Thank you!

[2022-11-21 19:02] RoygarBriceno-Arkano commented on #5854
Hi, I'm facing the same issue with a project (and agree that this should be a simple setting to override) @J-Cat, your idea of using a docker image build worked?

[2022-11-21 19:07] J-Cat commented on #5854
I actually had the settings wrong in my host.json!  I forgot the "settings" key underneath "workflow" and had the actual settings just directly under it.  The following works to override the settings you need:

[code]

[2022-11-22 07:43] ramya894 commented on #8908
@jooooel  If you are having trouble to switch to .net 7 in isolated model app, kindly open an issue in the dotnet isolated worker repo.

[2022-11-22 07:50] ramya894 commented on #8925
@hrgsmms we will check this issue with next level team and update you with the solution.

[2022-11-22 07:55] ramya894 commented on #8927
@thopdev : Hope this helps, If you are having trouble to switch to .net 7 in isolated model app, please open an issue in the dotnet isolated worker repo.

[2022-11-22 07:55] #8927 closed, assigned to madelinegordon

[2022-11-22 13:31] hajekj opened #8933 "Ability to modify the length of a query string"
#### What problem would the feature you're requesting solve? Please describe.
Currently, Query String is limited to 4096 - https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/web.config and there is no way to override it. In App Service on Windows, the way to override would be via applicationhost.xdt placed in D:\home\site\ folder.

#### Describe the solution you'd li

[2022-11-22 17:19] pragnagopa opened #8934 "[ExtensionBundles]Update host probing paths to avoid dups in /bin and /bin_v3"
This is a follow up for issue - https://github.com/Azure/azure-functions-docker/issues/806

Removing /bin directory in https://github.com/Azure/azure-functions-docker/commit/a3367920f7c7898d32af429b08321c58036de661 broke non-http triggers

@soninaren / @fabiocav  - Please prioritize addressing this as this will save ~350MB per image

[2022-11-22 17:22] pragnagopa commented on #8934
cc @CooperLink

[2022-11-23 06:38] hegde89 commented on #8583
we are also experiencing the same with EUW.  is there any update

[2022-11-23 08:54] thopdev commented on #8927
Thank you for your help. I posted it on the correct repo now. https://github.com/Azure/azure-functions-dotnet-worker/issues/1192

[2022-11-23 11:18] ramya894 commented on #8931
@jayendranarumugam We are investigating this issue and let you know the findings soon. Thanks

[2022-11-23 11:28] jayendranarumugam commented on #8931
Thanks for the response @ramya894 , I also created a ms support ticket -2211210030000703 just in case if you need more info

[2022-11-23 12:19] ramya894 commented on #8933
@hajekj We will check this request with our next level team and update you.

[2022-11-23 21:12] fabiocav commented on #8757
The pipeline has been moved. @kashimiz is investigating failing tests and finalizing migration.

[2022-11-23 21:18] fabiocav commented on #8756
Moving to sprint 135.

- Issues will be created to track remaining failing tests
- We'll continue with the pipeline migration and artifact validation
- Any future releases will be blocked on the issues @kashimiz will be creating to investigate the test failures.

[2022-11-23 21:35] fabiocav commented on #8771
Assigning this to sprint 135 as a stretch goal

[2022-11-24 01:02] ghost commented on #7878
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-24 01:54] srmagura commented on #7878
not stale

[2022-11-24 02:36] #8870 closed, assigned to soninaren

[2022-11-24 09:35] Rutix commented on #8583
@rdvansloten been a couple of days, has North Europe treated you better? If so we will also make the efforts to move to North Europe

[2022-11-24 12:11] jeroenvermunt commented on #8583
@Rutix Our function runs at low volume (10 times a day), but since we moved to NE a few weeks ago I have yet to run into this issue

[2022-11-24 12:32] rdvansloten commented on #8583
Not a single hitch since I put everything in North Europe.

[2022-11-24 20:06] anthonychu opened #8936 "Support CORS configuration via environment variables when not running in Linux consumption"
#### What problem would the feature you're requesting solve? Please describe.

Currently, it's possible to configure CORS via environment variables, but the variables are only used when running in Linux consumption:

https://github.com/Azure/azure-functions-host/blob/172c57f3bc8d3093284f7282ab3ddd5598edde76/src/WebJobs.Script.WebHost/Configuration/CorsOptionsSetup.cs#L26

It can be useful to confi

[2022-11-25 06:23] kieren-harvey-shell opened #8937 "WEBSITE_TIME_ZONE Linux Func App DotNet Always UTC"
In reference to this issue [54380](https://github.com/MicrosoftDocs/azure-docs/issues/54380)

WEBSITE_TIME_ZONE seems to be ignored on my Linux hosted Function App (runtime ~4, dotnet 6).

Could I please get clarity on:
Is WEBSITE_TIME_ZONE intended to affect the local time within the Functions runtime, e.g.
DateTime.Now <-- should yield a date time based on WEBSITE_TIME_ZONE
My observation: It do

[2022-11-25 11:16] ThatRendle opened #8938 "Latest version of OpenTelemetry (1.4) is unusable due to dependency on System.Diagnostics.DiagnosticSource 7.0"
When using the latest version of the OpenTelemetry NuGet package (currently 1.4.0-beta3) an in-process function fails to start because OTel has taken a dependency on System.Diagnostics.DiagnosticSource 7.0.0, and I'm guessing the Host runtime is on 6.0.0 and won't let the package assemblies overwrite its own assemblies?

#### Investigative information

Please provide the following:

- Timestamp: 2

[2022-11-25 19:01] ghost commented on #8460
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-26 10:02] ghost commented on #8908
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-28 04:02] ghost commented on #7878
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-11-28 06:36] ankit-sheth commented on #8448
@nzthiago  : Is this issue resolved ? Now are we able to do SWAP of Slots under the Private VNet ?
Still, i am getting the same error !! Please update/verify on this.

[2022-11-28 07:51] albertospelta commented on #7878
Not stale

[2022-11-28 13:25] ramya894 commented on #8938
@markrendle We are investigating this issue and let you know the findings soon.

[2022-11-28 13:33] mdarefull commented on #7878
What is going on with this issue and all the recent attempts to be closed without being solved? I have to say it, but as of lately I've been getting slightly disappointed at Microsoft, this is not the first nor the only issue I've witnessed in recent times.

[2022-11-28 17:39] scp-mb commented on #2015
Pretty much the same as above. Seeing the job host started then immediately stopped again, leading to `TaskCanceledException` in our functions.

Finding the root cause was an absolute pain, because there is supposed to be an error logged about host id collisions, but there never was anything logged about it. It just shuts down and starts up again immediately in a loop, with short lived functions m

[2022-11-28 18:20] nzthiago commented on #8448
Hi everyone, apologies for the delay in updating this issue, we went through an extra load of testing before sharing.
The fix is deployed but we had to introduce a new app setting that you should set on your production slot (or the swap slot if you're swapping between two subslots) called WEBSITE_OVERRIDE_STICKY_DIAGNOSTICS_SETTINGS and set it to **0** (zero). I.e.,
[code]
This will allow you to s

[2022-11-28 19:02] #8460 closed, assigned to Ved2806

[2022-11-28 19:09] joseaznar opened #8940 "Windows Function App using v4 Runtime isn't working in West US"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp: 2022

[2022-11-29 09:51] scp-mb commented on #2015
I'll also point out that if the function host is going to be shut down it should be done *before* functions start to run, instead of cancelling them mid-run

[2022-11-29 10:02] #8908 closed, assigned to ramya894

[2022-11-29 10:33] #8847 closed, assigned to nobody

[2022-11-29 13:53] ankit-sheth commented on #8448
Thanks @nzthiago this really helps.

One more help required.. related to VNET enabled function app and deploy code.
Facing difficulty in deploying the zip through az or curl command to apply the code on private endpoint enabled function app (.scm). It gives 403 when try to apply it from my jenkins VM (from outside the VNet VM).

I have tried by applying the WEBSITE_CONTENTOVERVNET:1 and WEBSITE_DN

[2022-11-29 21:46] mathewc commented on #8929
Tagging @shreyas-gopalakrishna since this came from hist commit https://github.com/Azure/azure-functions-host/commit/1e1cb478bd25768e5dc07259120a47f673eb7bdc it seems.

[2022-11-29 21:55] mathewc commented on #8914
ScaleController logging only applies to Consumption or Elastic Premium plans. Looks like you have a dedicated plan with your own auto-scale rules configured? There is no ScaleController in the picture here, so this setting doesn't apply.

[2022-11-29 23:09] mr-davidc commented on #912
I too would love to have this kind of functionality to ensure Timer functions in particular only ever have a single instance running at a time...

[2022-11-30 00:36] nzthiago commented on #8448
@ankit-sheth It's likely the networking restrictions are preventing you from deploying from outside the VNet. I'd recommend creating a support call if you need some hands-on help with that specific scenario.
Closing this issue for now and recommend creating a new issue or support tickets as needed if you have any trouble with VNet and Premium Functions.

[2022-11-30 00:36] #8448 closed, assigned to nzthiago

[2022-11-30 08:55] AlexPagoni opened #8942 "Invocation goes to poison queue with no exception"
I have a Queue Trigger function that under some circumstances just stops running. I've seen some past issues that are very similar but the results in there have not helped.

At 8:18 the run starts, continues on until 8:21 that it just stops:
![image](https://user-images.githubusercontent.com/86569127/204749874-3d008428-8200-4c45-90c1-d720b5e9ad2c.png)

No failed runs appear in the Invocation Histo

[2022-11-30 16:27] FinVamp1 opened #8943 "Azure Functions Host Homepage uses an older jQuery 2.03 and JQueryUI 1.10.3 from the CDN"
#### Investigative information

Please provide the following:

- Timestamp:11/30/2022 10:00 AM CST
- Function App version: 4
- Function App name: fintestslotswaptestlinuxep
- Function name(s) (as appropriate):

#### Repro steps

Provide the steps required to reproduce the problem:

1. Navigate to the Homepage for the site.
2. Note the following elements linked in the Head element.

[code]

3. Scan

[2022-11-30 16:36] FinVamp1 commented on #8943
Tested with these versions and the homepage works and no issues are reported.

[code]

[2022-11-30 18:35] rodolfograve commented on #8802
Echoooooooo

[2022-11-30 20:40] sdg002 commented on #8914
Thanks for replying @mathewc ,

Yes -  we have auto-scale rules configured. We are using event driven scaling around an Azure Service Bus queues.

If  `SCALE_CONTROLLER_LOGGING_ENABLED` does not come in the picture for reasons mentioned by you - then what would should be the recommended approach to see a graph of the `instance count` vs `time` ?  I want to demonstrate how the Azure functions scale