[2016-12-09 17:23] giuleon commented on #997
Only for testing I created this function:

`module.exports = function (context, req) {
    context.log('Node.js HTTP trigger function processed a request. RequestUri=%s', req.originalUrl);

    if (req) {
        if (req.query && req.query.validationtoken) {
            // if validationtoken is specified in query
            // immediately return token as text/plain
            context.log(req.que

[2016-12-09 17:28] mathewc commented on #997
As I mentioned above, I think the issue is your function.json and how your response is bound. Here's what mine looks like. Note that my output is `res` not `$return`. What does yours look like?

[code]

[2016-12-09 17:38] giuleon commented on #997
Thank you @mathewc the bindings was wrong "$return" ;-)

[2016-12-09 18:21] prashanthmadi opened #1039 "Enhancement : Using different verisons of Python"
Below link has details on how to use custom version of Python in Functions app
https://github.com/Azure/azure-webjobs-sdk-script/wiki/Using-a-custom-version-of-Python

Is there a way to change the folder where python need to be uploaded ?

Considering that we have site-extensions which would install newer version of python in D:\home\python27 (or) D:\home\python35.
It would be great if there is ap

[2016-12-09 18:23] prashanthmadi commented on #1039
Adding Steve Dower Notes below
------------------------------------------
If there's already an environment variable there that could control where the site extension copies to. Of course, that assumes the ability to do a normal site extension installation.

If possible, I'd recommend the site extension or the nuget package for this, rather than the embeddable distro. See my latest blog at http://

[2016-12-09 18:37] fabiocav commented on #1027
I'm wrapping up some items to clear my plate and focus on the issues impacting F# next week. If I run into anything then, I'll definitely reach out.

I think we'll be in a good spot once those last few items are addressed.

[2016-12-09 19:35] timfpark opened #1040 "Event Hub trigger against node.js function ends in deadlock"
#### Repro steps

1. Set up an Azure Function and configure an app setting with key name "AzureWebJobsEventHubReceiver" to a connection string for an Azure Event Hub with existing events in it.  (Contact me directly for mine if that makes it easier.)

2. Set up continuous integration with https://github.com/timfpark/af-eh-test

3. Go to the monitor tab

#### Expected behavior

Expected to see mess

[2016-12-09 20:50] fabiocav commented on #41
Closing this as a duplicate of #878 since that is what is assigned to the current milestone (even though this was the original issue)

[2016-12-09 20:50] #41 closed

[2016-12-09 20:50] fabiocav commented on #878
host.json is done and has been published to schema store

[2016-12-09 22:17] tohling commented on #1040
Can you try to look at the log entries in the log files directly and confirm that you are seeing all `Function started (<some guid>) `and no corresponding `Function completed (<some guid>) `for your Function executions?

Here are the steps to access the log files for your Function:

1. Visit Function portal and open your Function app.
2. Click on **Function app settings -> Go to Kudu**.  This will

[2016-12-11 06:03] jarben commented on #298
Sure @davidebbo , I'll make a sample demo and file another issue.

[2016-12-11 16:20] jeremistadler opened #1043 "No option for table binding to overwrite or replace row"
#### Repro steps

I'm trying to add multiple rows with some of the rows already existing.

Bindings:
[code]

index.js
[code]

The function will work the first time but will throw the second time with the error: ```The specified entity already exists```
without any way to catch it or prevent it.

No rows will be inserted if there is one row that exists.

#### Expected behavior

A way to overwrite,

[2016-12-11 18:57] gshackles opened #1044 "F# compilation issues when using JSON type provider"
I'm running into compilation/availability issues when trying to use the JSON type provider in my F# functions. In some cases things seem to compile just fine, but in others the compiler just seems to disappear indefinitely.

In these cases, after it detects a change it will show a log message about reloading the function but then the compiler never actually reports back with a success or failure,

[2016-12-12 08:33] stefan-akelius commented on #997
Maybe slightly OT but is there a specific reason you didn't just pass in the standard `IncomingMessage` and `ServerResponse` objects from node but rolled your own req and res types?

[2016-12-12 09:36] JonCanning commented on #1044
https://github.com/Azure/azure-webjobs-sdk-script/issues/985

[2016-12-12 18:02] mamaso commented on #997
@stefan-akelius At present all function triggers are routed through a C# process. We use [edgejs](https://github.com/tjanczuk/edge) for interop between node and C#.  The requests are served in C# so unfortunately we don't have access to a node generated `IncomingMessage` or `ServerResponse` (I'd love to support those types natively as well).

[2016-12-12 18:33] lindydonna commented on #980
Assigning to @fabiocav for investigation, something weird is going on with this scenario.

[2016-12-12 18:33] lindydonna commented on #983
Closing in favor of https://github.com/projectkudu/AzureFunctionsPortal/issues/818

[2016-12-12 18:33] #983 closed

[2016-12-12 18:35] lindydonna commented on #1030
The full resolution of this issue is blocked by the next infrastructure update.

[2016-12-12 18:39] lindydonna commented on #1038
@mamaso Please investigate, could be related to changes in content negotiation.

Investigation should be in this milestone though fix might not be.

[2016-12-12 18:42] lindydonna commented on #1040
Assigning to @tohling for investigation.

[2016-12-12 18:47] lindydonna commented on #1044
This issue will most likely be addressed by #985.

[2016-12-12 19:16] mamaso commented on #1038
I can't repro this, @AndyCross are you using the latest version of functions (~1)?

[2016-12-12 21:01] yvele commented on #997
@stefan-akelius You might have a look at [azure-function-express](https://github.com/yvele/azure-function-express) (we needs contributors)

[2016-12-12 21:02] tohling commented on #1040
When there are large number of events and the Function has a configuration that does not process events in batches will experience the problem that customer is reporting.  Log entries will show mostly Function started (<some guid>), without corresponding Function completed (<some guid>) entries.  The events that triggered each function invocation does not seem to be check-pointed.  Additionally, t

[2016-12-12 22:02] fashaikh commented on #538
👍  Need this... Loading cert from the file system for now.

[2016-12-12 22:54] tohling commented on #1040
Customer confirmed that issue is resolved when events are processed in batches.

[2016-12-12 22:54] #1040 closed

[2016-12-13 01:42] #924 closed

[2016-12-13 01:51] #953 closed

[2016-12-13 02:17] #943 closed

[2016-12-13 02:28] fabiocav commented on #1009
Resolved (mitigated) by #1037
Refer to PR summary for details.

[2016-12-13 02:28] #1009 closed

[2016-12-13 14:25] KeishaW commented on #691
Hi, I am still experiencing the exact same issue, except with the 'ServiceBusTopicTrigger-CSharp'. Is there a fix for this yet?

[2016-12-13 14:43] martinabbott commented on #691
No fix yet I don't think but I did find a workaround...

If you create a TimerTrigger in the same Function App, and set it to run every 9 minutes (which I chose because the Log Stream lasts for 10 so I guessed) then the app keeps running it seems.

Okay you get execution costs associated with it, but I literally just took the code as it is created in a TimerTrigger and it seems to work okay.

[2016-12-13 17:29] cgillum commented on #691
@KeishaW This issue is specifically tracking blob triggers. Service Bus triggers won't be affected. One thing that folks commonly run into with Service Bus triggers is that their connection strings do not contain the Manage permission, which is currently required. In any case, I suggest you open a new item for that.

[2016-12-13 18:23] fabiocav commented on #878
Adding the list of actions so we can better track progress:

- [ ] host.json schema
- [ ] function.json core schema
  - [ ] HTTP trigger
  - [ ] Timer trigger
  - [ ] Queue trigger
  - [ ] Event Hub trigger
  - [ ] Service Bus trigger
  - [ ] Blog trigger
  - [ ] Manual trigger
  - [ ] Storage Table input binding
  - [ ] Storage Table output binding
  - [ ] Mobile tables input binding
  - [ ] Mobi

[2016-12-13 18:25] fabiocav commented on #878
@lindydonna added a list of actions so we can better track the progress on this.

[2016-12-13 18:47] paulbatum commented on #1004
You could start with the scenarios and execution tools found in:
https://github.com/Azure/azure-functions-performance-test/tree/dev

However be aware that what is available in this repo is a WIP. The performance tests we run internally are a combination of these scenarios/tools and some internal stuff.

Here are a few things to keep in mind when doing performance investigations on Azure Functions:

[2016-12-13 18:47] #1004 closed

[2016-12-13 19:02] paulbatum commented on #878
I'm moving this to Jan milestone to make it easier to track what is outstanding for our last runtime update for the calendar year. We should still prioritize finishing this work given that the bulk of the effort is done.

[2016-12-13 19:08] paulbatum commented on #989
@jamesdixon Have you tried using this library from a normal node.js web app hosted on AppService? There are known limitations with the sandbox around image/pdf processing, documented [here](https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#general-sandbox-restrictions). If the same error occurs for a standard web app then please close this issue.

[2016-12-13 19:11] #728 closed

[2016-12-13 19:17] jamesdixon commented on #989
@paulbatum sorry if I was unclear, but when I said

I was trying to communicate that I had used this library in my primary application hosted on App Service and it did indeed work.

Thank you!

[2016-12-13 19:20] paulbatum commented on #989
@jamesdixon Ahh thanks, that makes sense.

[2016-12-13 19:22] #972 closed

[2016-12-13 19:43] fabiocav commented on #878
Adding @mamaso and @soninaren.

I've committed the files with #1046. Will follow up to coordinate updates.

[2016-12-13 22:24] soninaren commented on #921
Fixed in here https://github.com/Azure/azure-webjobs-sdk-templates/pull/378

[2016-12-13 22:24] #921 closed

[2016-12-13 22:25] soninaren commented on #922
fixed in here https://github.com/Azure/azure-webjobs-sdk-templates/pull/378. The template is available again

[2016-12-13 22:25] #922 closed

[2016-12-13 23:06] mathewc commented on #995
We believe this issue is caused by a mismatch in timezone between our scale controller and the Functions runtime. E.g. the Function App is configured to use a custom timezone, however the scale controller is using UTC meaning the app isn't woken up at the right time.

@cgillum Is tracking an issue in the scale controller for this. When that is fixed we'll verify end to end with this exact repro an

[2016-12-14 00:53] mathewc opened #1048 "ServiceBus Topic Trigger requires Manage rights to work properly"
Our scale controller relies on the ServiceBus GetSubscription API to access the MessageCount for a subscription to determine whether it should scale out. That API requires Manage rights. So while the Function runtime supports Listen rights, users will see unexpected behavior unless they give us a Manage rights connection string (until this issue is fixed).

[2016-12-14 00:53] mathewc commented on #691
@cgillum We've been discussing the ServiceBus AccessRights issue in an internal email thread, but I agree we should have a work item tracking this. I've opened https://github.com/Azure/azure-webjobs-sdk-script/issues/1048.

[2016-12-14 15:58] timfpark opened #1050 "Node.js functions start execution before modules have been installed"
When using continuous integration to deploy an Azure Function written in node.js, when you include a package.json with a set of modules that need to be installed, function execution start before this 'npm install' completes.

#### Repro steps

Use the canonical event hub sample to repro ala http://github.com/timfpark/ah-eh-test with an Event Hub that has events in it that will immediately fire.

1

[2016-12-14 16:11] yvele commented on #298
The most problematic thing is that sometimes I have timeouts on cold starts (today I had one)

[2016-12-14 16:35] mathewc commented on #1050
Thanks. Your repo link above doesn't resolve. Are you using your own custom deployment script to perform the NPM restore?

[2016-12-14 19:32] paulbatum commented on #1028
@mamaso looks much better now 👍

[2016-12-14 19:36] mamaso commented on #1028
I do think we should encourage people to use forks instead of private branches to keep this cleaner

[2016-12-14 23:15] fashaikh opened #1052 "Blob trigger gets invoked on multiple hosts listening on a storage account"
I deployed my local changes with the new VS Functions tooling ,and when developing locally both the local func.exe host and function app host triggered for every blob uploaded. This was unexpected because the mental model is one execution per trigger,  and number of hosts isn't in the picture.

#### Repro steps

Provide the steps required to reproduce the problem

1. Step A : Create a blob trigger

[2016-12-15 00:35] paulbatum commented on #841
@soninaren this looks similar to the null ref on storage account issue that you are already looking at.

[2016-12-15 00:44] paulbatum commented on #850
@brettsam I seem to recall you investigated a similar issue regarding service bus connection management. Does this look related?

[2016-12-15 01:05] soninaren commented on #841
yes, i have the fix validated here https://github.com/Azure/azure-webjobs-sdk/commit/93ce37f6cdca62c5b4f9245dcb112352af8031ac

[2016-12-15 01:19] lindydonna commented on #1052
Afaik this is by design. @mathewc can you confirm?

This is indeed different than how the other triggers work--blob triggers are special. I suggest we document this--I also found it surprising at first.

[2016-12-15 01:49] lindydonna commented on #993
@TonyAbell Did you have a value for AzureWebJobsStorage in appsettings.json?  This is likely a poor error message that needs to be improved.

[2016-12-15 02:33] lindydonna commented on #887
@s1monfarrow Thanks for the additional details, we'll investigate.

We should have fixed the issue, but do you have a space or other non-ascii character in your current directory that you're running func init from?

[2016-12-15 02:34] lindydonna commented on #887
@simra Yes, that blog post is using a much older version of the functions CLI. Try the steps in this blog post: https://blogs.msdn.microsoft.com/appserviceteam/2016/12/01/running-azure-functions-locally-with-the-cli/

[2016-12-15 02:39] lindydonna commented on #887
@s1monfarrow looking into it further, I think the problem is that the Functions CLI is trying to run git init. A git repo is not strictly required. I'll file an issue to track the fact that it should show a nicer message if that's the error.

You should still be able to create and run functions just fine.

[2016-12-15 02:40] lindydonna opened #1053 "CLI: if Git is not on the path, just display a warning in "func init""
If Git is not on the path, you get an ugly error about a file not found (see https://github.com/Azure/azure-webjobs-sdk-script/issues/887#issuecomment-262723202). A local git repo is not strictly required, so this should just be a warning.

[2016-12-15 02:51] mathewc commented on #465
We also need to add the ability for people to set EventData properties like PartitionKey etc. for output bindings. Currently for languages like Node.js.

[2016-12-15 09:55] marcobaldo opened #1054 "Per function host config"
I have grouped several functions (with service bus topic triggers) into one function app, but I need some of the functions to have different maxConcurrentCalls settings (among other settings). Is it possible to have separate host configs per function?

#### Repro steps

Provide the steps required to reproduce the problem

1. Create function 1, doesn't require maxConcurrentCalls to be set (so uses

[2016-12-15 14:05] brettsam commented on #850
@anthonychu  -- Are you using a Consumption plan? With a Consumption plan, you are limited to 250 connections (https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#per-sandbox-per-appper-site-numerical-limits). When that number is hit, you'll start seeing this error.

In the other cases I've come across, this was due to the function creating a new Service Bus `MessagingFactory`, using it

[2016-12-15 14:38] kfrancis commented on #317
Now that V1 has been announced, any idea when this might get discussed and/or implemented?

[2016-12-15 16:05] desinole commented on #993
I had the same issue with a brand new TimerTrigger project. Setting the "AzureWebJobsStorage" value to "UseDevelopmentStorage=true" in the appsettings.json file fixed it

[2016-12-15 16:34] mathewc commented on #1052
Here's what I think is happening. The singleton mechanism used under the covers to ensure only one host processes a blob is based on the HostId. In regular scale out scenarios, the HostId is the same for all instances, so they collaborate via blob leases behind the scenes using the same lock blob scoped to the host id.

Likely for local the same host ID of the remote Function App isn't being used,

[2016-12-15 16:51] mathewc commented on #1054
Yes, I agree this would be good to have. The underlying SDK does support both host level as well as queue level configuration (not per function) but we don't currently expose that in Functions. The reason is that in the underlying C# SDK, this is done by registering factories to return message processors based on paths (see [QueueProcessorFactory](https://github.com/Azure/azure-webjobs-sdk/blob/e3

[2016-12-15 17:06] brettsam commented on #1052
@fashaikh -- are you using different `AzureWebJobsStorage` storage accounts for the local and cloud versions? Note that this is (possibly) different than the storage account that the Blob trigger is using.

[2016-12-15 20:05] fashaikh commented on #1052
No its the same storage account, both locally and on the cloud.
The blob trigger also uses the same storage account on both hosts as `AzureWebJobsStorage`

[2016-12-15 22:35] brettsam commented on #1052
What @mathewc said looks to be correct. When you run locally, it looks like you are assigned a HostId like `{MachineName}-{AppName}` yet when you run in the cloud, we generate your HostId based on your site name here: https://github.com/Azure/azure-webjobs-sdk-script/blob/dev/src/WebJobs.Script.WebHost/App_Start/WebHostResolver.cs#L165-L178.

That effectively means you're running two different hos

[2016-12-15 22:42] brettsam commented on #1052
@lindydonna -- there's likely going to be some confusion here with people that use the same storage account for everything locally and in the cloud. It gets especially confusing when some things match and others don't. Do we give guidance anywhere on how you should be setting this up?

[2016-12-16 00:10] lindydonna commented on #1052
@brettsam Your understanding of the HostID generation is correct (and it leads to some bugs, such as the AppName folder having invalid characters for a host name https://github.com/Azure/azure-webjobs-sdk-script/issues/1006). There's also currently a bug where the host.json file was **not** picking up ID from host.json at least in my repro: https://github.com/Azure/azure-webjobs-sdk-script/issues/

[2016-12-16 01:54] lindydonna commented on #1052
@fashaikh If we documented the behavior of the CLI for this trigger and others, would that resolve your issue?

[2016-12-16 02:11] lindydonna commented on #996
@arafato You can't add breakpoints to C# files in VS code, you need to use Visual Studio for that. Please see https://blogs.msdn.microsoft.com/webdev/2016/12/01/visual-studio-tools-for-azure-functions/ for details.

I think the original issue is now resolved, is that correct?

[2016-12-16 02:12] lindydonna commented on #868
Already fixed

[2016-12-16 02:12] #868 closed

[2016-12-16 02:35] lindydonna commented on #982
@ship2moon We don't track closed issues and your comment looks looks like it's unrelated to the original issue that was opened. Please start a thread on the forums for technical help: https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureFunctions

[2016-12-16 08:44] SyedWasiHaider commented on #822
@mikezks I just ran into this same issue and it was really becoming a showstopper for me. Turns out you need to run your terminal /command line as admin (at least on Windows) cc @ahmelsayed @lindydonna

[2016-12-16 14:48] brettsam commented on #1052
@lindydonna  -- Technically they all operate like separate hosts in this case, but blobs are a little different from some of the other triggers because they don't delete the blob once they process it. That allows other hosts to process it on their own. Some examples of what would happen if you ran the same app in two machines with different hostIds (just off the top of my head):
- Timer: You'd get

[2016-12-16 21:33] soninaren commented on #841
Fixed in here https://github.com/Azure/azure-webjobs-sdk/pull/946

[2016-12-16 21:35] soninaren commented on #841
Closing this one since we have an issue on core SDK https://github.com/Azure/azure-webjobs-sdk/issues/927

[2016-12-16 21:35] #841 closed

[2016-12-16 22:25] #985 closed

[2016-12-16 22:25] #1027 closed

[2016-12-16 22:25] #1044 closed

[2016-12-17 01:54] fabiocav commented on #1027
The fix will be live on the next deployment.

[2016-12-17 01:55] fabiocav commented on #985
Validated fix. This will be addressed in our next deployment.

[2016-12-17 01:59] fabiocav commented on #178
Most scenarios impacted by this should be addressed with #1049, which will be in our next release.

[2016-12-17 01:59] #178 closed

[2016-12-18 22:41] joymon commented on #375
Where is the recommended place to store some secret keys in Azure functions. I would see we can keep in App level settings, function level as well as admin. My scenario is to have a Azure function talk to github api using github token. Currently I have one function in the app. If recommendation is at function level, please help me with API.

[2016-12-18 23:03] mathewc commented on #375
Update: Keys now have a first class UI in the Functions portal. You can access keys (including admin key) under the Manage tab for any function.

@joymon The right place to store secrets like this is in the Function App App Settings accessible in the portal. This is where we store all the various connection strings for storage, etc. You can add settings and access them via code as environment vari

[2016-12-19 09:01] anthonychu commented on #850
@brettsam I was using a consumption plan. The 250 concurrent connections appears to jive with what I was seeing. If I went above 16 `maxConcurrentCalls` in host.json (like 32 or 64), I started getting those errors. Each triggered call generated 9-10 HTTP calls. So the math roughly adds up.

I'm not using `MessagingFactory`.

Thanks for the explanation. Looks like this is expected behavior.

[2016-12-19 09:19] anthonychu commented on #727
It would be great if a basic version of this can be added soon. For instance, if an instrumentation key is provided (app setting or in host.json), fire function execution events (success/failure, duration) and exceptions into App Insights. That would be a great start. The existing tooling in the functions portal for viewing metrics and exceptions are difficult to use, especially for apps that have

[2016-12-19 10:23] murraybauer commented on #727
+1

[2016-12-19 14:06] brettsam commented on #850
If you issue your HTTP calls sequentially, does the problem go away (while your function obviously takes longer)?

It may be expected, but I think there's some knobs we can expose to make this better if it is the HTTP calls that are hitting the limit. For example, if you were able to set [ServicePointManager.DefaultConnectionLimit](https://msdn.microsoft.com/en-us/library/system.net.servicepointma

[2016-12-19 18:16] MikeStall commented on #872
This looks like a SDK issue, not Script (see presence of C# attributes, and reference to "NeverFinished" status which isn't showing in Functions at the time of bug)
It looks like the host must be crashing in the middle of processing. This could be another case of the host getting starved out (CPU / network intensive) and then crashing (https://github.com/Azure/azure-webjobs-sdk/issues/899 )

[2016-12-19 18:56] pragnagopa opened #1063 "Option to configure Maximum request length on HttpTrigger"
When input exceeds 25Mb, HttpTrigger fails with Maximum request length exceeded error.
Similar question on [SO](http://stackoverflow.com/questions/41189588/how-to-set-maxreceivedmessagesize-for-azure-functions)

#### Repro steps

Provide the steps required to reproduce the problem

1. Create HttpTrigger-CSharp

2. Invoke with input string >25MB

#### Expected behavior

Expose option to configure M

[2016-12-19 19:33] lindydonna commented on #1052
Closing this issue and tracking the work here: https://github.com/Azure/Azure-Functions/issues/112

[2016-12-19 19:33] #1052 closed

[2016-12-19 21:47] lindydonna opened #1064 "CLI: keep console window open if there's a crash"
When launching the CLI from Visual Studio, if there's a CLI bug or other error that causes the host to crash, the window closes immediately. Investigate whether there's a way to keep the window open from the CLI.

Alternatively, we could change the way Visual Studio launches the exe.

[2016-12-19 22:13] lindydonna commented on #945
This also appears to cause the Functions host to restart, because it sees new files in the project tree.

[2016-12-19 22:18] lindydonna commented on #934
Fixed

[2016-12-19 22:18] #934 closed

[2016-12-20 00:45] navzam opened #1065 "CLI: can't delete settings using CLI"
I haven't been able to delete local settings using `func settings delete`.

#### Repro steps

1. `func init`

2. `func settings add TestSetting`

3. `func settings delete TestSetting`

`TestSetting` still exists as a local setting

![delete_setting](https://cloud.githubusercontent.com/assets/126523/21334202/5ffb2a6c-c60a-11e6-9139-b74b5f647ca3.JPG)

[2016-12-20 01:24] lindydonna commented on #872
@andunn Can you confirm that you're using WebJobs and not Azure Functions?

[2016-12-20 04:12] lindydonna commented on #892
Yes @ashelley, and we're working on a fix to improve the error message. Note that you also need a value for "AzureWebJobsStorage"

Check out this blog post for more of a walkthrough: https://blogs.msdn.microsoft.com/appserviceteam/2016/12/01/running-azure-functions-locally-with-the-cli/

[2016-12-20 04:12] lindydonna commented on #892
Closing as this is a documentation issue--you need to specify a value for the connection string.

[2016-12-20 04:12] #892 closed

[2016-12-20 04:43] mathewc commented on #1063
Yes, @fabiocav and @paulbatum and I have been discussing this issue.

[2016-12-20 12:24] pauleharris commented on #1054
+1 descrite execution, but grouped config gets you only half way there

[2016-12-20 14:38] #909 closed

[2016-12-20 17:52] #1028 closed

[2016-12-20 17:53] paulbatum commented on #1034
Resolved by https://github.com/Azure/azure-webjobs-sdk-script/pull/1055

[2016-12-20 17:53] #1034 closed

[2016-12-20 18:03] paulbatum commented on #989
One possibility that occurs to me - given you are running this job through the functions runtime, that means that you'll be using the version of Node.js built into functions, which is 6.5.0. Is it possible that this library does not work on 6.5.0?

[2016-12-20 18:06] paulbatum commented on #1048
Can we find some way to get the message count without manage rights. The answer is probably no, but its worth doing some more investigation as this would be the simplest fix.

Assuming no for the above, have the functions runtime emit a warning to host logs indicating that it needs a manage level connection string. Only do so when running in dynamic.

During investigation, use the ScaleControllerE

[2016-12-20 18:11] jamesdixon commented on #989
@paulbatum certainly a possibility, but I haven't seen anything to suggest it. I'll see if I can test using 6.5.

Good to know that functions uses a different version of Node!

[2016-12-20 18:28] paulbatum commented on #999
Looks like a Roslyn issue, we are following up with them.

[2016-12-20 18:30] paulbatum commented on #987
Tracked by https://github.com/Azure/Azure-Functions/issues/98. Closing this issue as a dup, new issues will be created for the individual work items.

[2016-12-20 18:30] #987 closed

[2016-12-20 18:39] #957 closed

[2016-12-20 18:43] paulbatum commented on #908
@pragnagopa should we close this? Sounds like no action is required here.

[2016-12-20 18:46] paulbatum commented on #887
@lindydonna I see you filed the discussed CLI issue. Can this issue be closed?

[2016-12-20 20:02] lindydonna commented on #887
@paulbatum Yes, I think so. @s1monfarrow, please watch issue https://github.com/Azure/azure-webjobs-sdk-script/issues/1053 for the fix.

[2016-12-20 20:05] andunn commented on #872
Yes, I’m using web jobs.

Happy Coding!

From: Donna Malayeri [mailto:notifications@github.com]
Sent: Monday, December 19, 2016 17:25
To: Azure/azure-webjobs-sdk-script <azure-webjobs-sdk-script@noreply.github.com>
Cc: Andrew Dunnells <andunn@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-webjobs-sdk-script] EventHub Triggered Function runs very long, sometimes show

[2016-12-20 20:07] lindydonna commented on #872
@andunn Do you mind recreating the issue here: https://github.com/Azure/azure-webjobs-sdk/issues? That way we can @ mention you and continue the conversation there.

[2016-12-20 20:18] #887 closed

[2016-12-20 21:13] #304 closed

[2016-12-20 21:51] mamaso commented on #971
@SeanFeldman I'm unable to reproduce this with a BlobTrigger that throws and a QueueTrigger bound to the webjobs-blobtrigger-poison in C#.

Can you give me more specifics:
 - is the bug still occurring? if so, is it consistent or intermittent?
 - are you running on consumption?
 - can you supply function code which causes the repro?

[2016-12-20 21:55] mathewc commented on #1043
The issue is that currently by design the underlying Table bindings in the core SDK only support "add new" semantics, not update. This feature request is tracked by an existing issue in that repo here: https://github.com/Azure/azure-webjobs-sdk/issues/919.

For now until the bindings are extended, you'll have to pull in and use the Azure SDK to perform your updates.

[2016-12-20 21:55] #1043 closed

[2016-12-20 21:59] mathewc commented on #1038
I can't repro this either in production. Closing as no repro.

[2016-12-20 21:59] #1038 closed

[2016-12-20 22:04] mathewc commented on #1036
Closing this because we don't believe there is a runtime issue here. We have an internal thread going on this - it appears that this is an MDS infrastructure issue.

[2016-12-20 22:04] #1036 closed

[2016-12-20 22:06] mathewc commented on #1003
Can you provide more details on the 1000 rows of data? How many bytes, format, etc.? We need to construct a repro. If you have some sample data to help us repro that would be great.

[2016-12-20 22:12] paulbatum commented on #1003
@mathewc I have a direct mail thread with Sai.

[2016-12-20 22:25] mathewc commented on #903
Need to measure perf on this - looks like an easy improvement we can make though.

[2016-12-20 23:52] #219 closed

[2016-12-21 00:14] ahmelsayed commented on #1007
Can't repro

Steps:
1. put an id in host.json
2. `func host start`
3. go to `http://localhost:7071/admin/host/status`

The id there is correctly picked up from host.json

[2016-12-21 00:14] #1007 closed

[2016-12-21 00:25] ahmelsayed commented on #1012
`func host start --cors http://localhost:8080,http://www.test-cors.org,https://functions.azure.com`

[2016-12-21 00:25] #1012 closed

[2016-12-21 00:28] #1006 closed

[2016-12-21 01:14] andunn commented on #872
Will do,

I’ll resurrect the code to see if the issue is still relevant first.

Happy Coding!

From: Donna Malayeri [mailto:notifications@github.com]
Sent: Tuesday, December 20, 2016 12:08
To: Azure/azure-webjobs-sdk-script <azure-webjobs-sdk-script@noreply.github.com>
Cc: Andrew Dunnells <andunn@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-webjobs-sdk-script] Eve

[2016-12-21 01:33] #902 closed

[2016-12-21 02:00] fabiocav commented on #878
@mamaso now that we have the initial version of the function.json schema done, can you go ahead and open a PR with the appropriate changes?

[2016-12-21 02:02] lindydonna commented on #1024
@soninaren Would this be handled by your fix in the SDK?

[2016-12-21 02:17] soninaren commented on #1024
No, this is not handled by the SDK fix. Actually we are getting this error.
`Settings must be of the form "name=value".`
But it is swallowed here
https://github.com/Azure/azure-webjobs-sdk-script/blob/dev/src/WebJobs.Script/Host/ScriptHost.cs#L503

[2016-12-21 17:36] brettsam commented on #850
I've updated the title as I've run into this elsewhere and verfied that it is an issue. If you, for example, loop through a bunch of tasks (thousands) and try to insert messages into a queue, you'll hit the error above. This is because the default connection limit in ASP.NET apps is int.MaxValue, while you can only have 250 connections in Consumption mode. You'll even run into issues in other area

[2016-12-21 18:45] mamaso commented on #989
@jamesdixon Are you running with the [64 bit platform](http://stackoverflow.com/questions/36653122/is-there-any-difference-between-platform-32-bit-or-platform-64-bit-for-azure)?

Can you also add a `context.log(process.arch + " " + process.version);` call to your function code so that we know which node process edgejs is running?  In general, function apps will be `ia32 v6.5.0`.

If it's possible

[2016-12-21 18:53] jamesdixon commented on #989
@mamaso I haven't toyed with this in a while, but I believe I tried both 32/64 bit platforms. Sharp requires a 64-bit Node binary in order to run. I'm not sure if that means that I need to run the 64-bit platform as well?

At this time, it doesn't appear that Sharp supports 32-bit. It did at one point, but support is now gone.

[2016-12-21 19:08] mamaso commented on #725
Looks to be this condition in the script host onfilechanged handler: we handle a change in directory count (add/delete but not rename)

[`Directory.EnumerateDirectories(ScriptConfig.RootScriptPath).Count() != _directoryCountSnapshot`](https://github.com/Azure/azure-webjobs-sdk-script/blob/059a6c18625ee617f08a0c0c8a162b33e234e5f1/src/WebJobs.Script/Host/ScriptHost.cs#L1096)

[2016-12-21 20:26] lindydonna opened #1066 "CLI: host error messages do not appear in console window"
Reported by @paulbatum. He had to look at host log files in %tmp%\LogFiles.

[2016-12-21 20:51] lindydonna opened #1067 "CLI: ACL for port is registering to local user instead of domain user"
From Hai Liu:

It looks like my ‘netsh http show urlacl url=http://+:7071’ is locked to [machine_name]\hailiu

After I delete the urlacl and added redmond\hailiu to urlacl, then I can run ‘func host’ or ‘func run’ under non-admin cmd

Looks like there is a bug on the first run ‘func host’ under admin that is provisioning the wrong user (local user vs domain user)?

[2016-12-21 20:55] mamaso commented on #989
Ok, I've reproduced this error outside of the context of functions using only edgejs.  I'll file a bug and see if I can dig more into the root cause.

[2016-12-21 20:59] lindydonna commented on #1067
@ahmelsayed Please review https://github.com/Azure/Azure-Functions/issues/87 and see if it looks like the same root cause. It looks like it based on my reading of the thread.

[2016-12-21 21:15] lindydonna opened #1069 "CLI: Update to WebJobs SDK release with improved error message for null connection string"

[2016-12-21 21:25] lindydonna opened #1070 "CLI: automatically insert values for CLI version and script host version"

[2016-12-21 21:33] lindydonna commented on #854
Will be handled by fix for https://github.com/Azure/azure-webjobs-sdk-script/issues/856, closing this issue as we're going to revisit the yeoman dependency.

[2016-12-21 21:33] #854 closed

[2016-12-21 21:35] lindydonna commented on #720
Closing as this issue should now be resolved as NuGet is now shipped with the CLI.

[2016-12-21 21:35] #720 closed

[2016-12-21 21:37] lindydonna commented on #790
Closing this as we're already revisiting the entire yeoman dependency.

[2016-12-21 21:37] #790 closed

[2016-12-21 21:41] lindydonna commented on #595
Should run host in a separate window (in which case the icon should be used)

[2016-12-21 21:42] lindydonna commented on #595
[code]

[2016-12-21 21:43] lindydonna commented on #595
Extra credit: add colors:
![image](https://cloud.githubusercontent.com/assets/4260261/21407019/68c71ea6-c783-11e6-9ddc-ca52dc36b87d.png)

[2016-12-21 21:47] lindydonna commented on #516
Punting this to backlog until we have an API for per-execution logs, since printing the whole logstream isn't super helpful

[2016-12-21 21:50] lindydonna commented on #844
Closing since we can't reproduce :(

[2016-12-21 21:50] #844 closed

[2016-12-21 21:53] lindydonna commented on #932
@Nosmadas The error about FunctionEnvelope[] is very confusing but really you just need a value for AzureWebJobsStorage in appsettings.json. The error message will be improved in https://github.com/Azure/azure-webjobs-sdk-script/issues/1069.

[2016-12-21 21:53] #932 closed

[2016-12-21 21:57] lindydonna commented on #946
@ahmelsayed Will investigate why this is happening, might need the script host folks to weigh in

[2016-12-21 21:58] lindydonna commented on #973
Related to Yeoman

[2016-12-21 21:59] lindydonna opened #1071 "CLI: create tests for common scenarios"

[2016-12-21 22:02] lindydonna commented on #993
@ahmelsayed's proposal:
1) Test to see if local storage emulator works ok for common scenarios
2) Inject this value (and print a warning to the console) if AzureWebJobsStorage is null

[2016-12-21 22:03] lindydonna commented on #993
Error message issue will be fixed with https://github.com/Azure/azure-webjobs-sdk-script/issues/1069

[2016-12-21 22:03] lindydonna commented on #996
Closing issue, please reopen if the issue persists

[2016-12-21 22:03] #996 closed

[2016-12-21 22:06] lindydonna commented on #974
Closing since we're going to revisit func new and yeoman dependency.

[2016-12-21 22:06] #974 closed

[2016-12-21 22:06] anthonychu commented on #850
Sounds great! Is it worth making this user configurable? Perhaps it's better to have the runtime check `WEBSITE_SKU` or `WEBSITE_COMPUTE_MODE` to see if it's running in in dynamic mode and set the value automatically.

Long term, it might be worth getting Kudu to expose value of this limit as an environment variable (if it's not there already).

[2016-12-21 22:31] ahmelsayed commented on #970
Verified this is fixed by rebasing on latest dev. Closing.

[2016-12-21 22:32] #970 closed

[2016-12-21 22:58] ahmelsayed commented on #1069
The latest SDK `Microsoft.Azure.WebJobs.2.0.0-beta2-10489` is still throwing the same nullref?

[2016-12-21 23:01] #788 closed

[2016-12-21 23:02] ahmelsayed commented on #831
actually this is already fixed. It's azfun in the existing package on npm

[2016-12-21 23:02] #831 closed

[2016-12-21 23:21] lindydonna commented on #1069
@soninaren Can you confirm that your fix is in `Microsoft.Azure.WebJobs.2.0.0-beta2-10489`?

[2016-12-21 23:33] lindydonna commented on #1066
@ahmelsayed I moved this to 0.10 since hopefully it's an easy fix. I forgot to tag it as CLI earlier.

[2016-12-21 23:34] #930 closed

[2016-12-21 23:45] #931 closed

[2016-12-22 00:00] ahmelsayed commented on #1064
is there a sample repro I can run for a crash within a function that takes the app down? I tested 8ad8ea0947ba13568707af59090fc78b6a7b0f99 by adding a random nullref and it seems to work, but I want to verify with some real scenario.

[2016-12-22 00:18] soninaren commented on #1069
From what i can see in app veyor it is present in build 10509. I don't know how the artifacts are generated from there. The version number for nuget and build may not match

[2016-12-22 00:35] ahmelsayed commented on #1069
maybe it's just a matter of getting the latest build on myget. that probably doesn't happen automatically

[2016-12-22 00:36] lindydonna commented on #1069
@ahmelsayed No, but on email Mathew said he uploaded it manually.

[2016-12-22 00:38] soninaren commented on #1069
I decompiled the dll to check if my changes are there. Looks like they are present in the binary file. @ahmelsayed give me the repro steps.

[2016-12-22 11:30] mikezks commented on #839
There are still issues with the listed versions. Could you please reopen this issue to track this.

``func`` command shows:
- ``Azure Functions Cli (1.0.0-beta.5)`` although ``beta.8`` is installed.
- ``Function Runtime Version: 1.0.0.0`` and not the specific runtime version details (e.g. ``1.0.10690``).

[2016-12-22 14:29] brettsam opened #1073 "Assembly.Location not returning correct value"
A recent update changed the way that private assemblies were being loaded from the bin directory. A side effect of this is that now calls to `Assembly.Location` return an empty string. Some libraries depend on this, and as such, aren't functioning properly.

While we work on a fix, there are two workarounds:

Workaround 1 -- Move the assembly to a different folder:

1. Move your assembly to a fold

[2016-12-22 19:29] #1067 closed

[2016-12-22 19:32] #1065 closed

[2016-12-23 01:13] #856 closed

[2016-12-23 01:14] #973 closed

[2016-12-23 01:14] #966 closed

[2016-12-23 01:22] #946 closed

[2016-12-23 01:24] #945 closed

[2016-12-24 21:14] jamesdixon commented on #989
@mamaso thanks for looking into this. glad you were able to reproduce!

[2016-12-27 07:53] guitarrapc commented on #1073
It also happen on me and Workaround 2 completely avoid issue, thank you very much for share!

My situation was here.
1. Using Roslyn Compiler service inside Azure Functions to evaluate C# Code requested from Slack.
1. Issue happen when loading Assembly info at https://github.com/guitarrapc/AzureFunctionsIntroduction/blob/master/CSharpScripting.csx#L39

Issue fix at my environment with following.
h

[2016-12-27 08:32] fabiocav commented on #1073
@guitarrapc thank you for sharing the details! I'm glad the workaround addressed the issue without requiring you to target the previous version.

As mentioned on the Twitter conversation, we'll be addressing this issue. Apologies for the inconvenience.

[2016-12-27 20:37] ahmelsayed commented on #1066
sorry I don't think I remember what this is for. Is there a repro I can try?

[2016-12-27 20:50] paulbatum commented on #1066
@ahmelsayed To repro, paste this into host.json:

[code]

[2016-12-27 21:29] #513 closed

[2016-12-27 22:08] #1053 closed

[2016-12-27 22:15] ahmelsayed commented on #1066
Do I have to have an eventHub function? this doesn't generate any errors for me in both the console and `%tmp%\LogFiles`. I'm testing with the latest CLI+host though. I don't know if something else might be different.

[2016-12-27 22:17] paulbatum commented on #1066
You probably need an event hub function. I doubt these settings are read otherwise.

[2016-12-27 22:48] ahmelsayed commented on #1066
ah I see. I can repro now.

@fabiocav \ @mathewc  I'll need some help from you guys. [this line](https://github.com/Azure/azure-webjobs-sdk-script/blob/8a09f3719ff82dd69b3670dd25fbacf3dab7b1a1/src/WebJobs.Script/Host/ScriptHostManager.cs#L161) is the offender. It get's the exception, in this case it's a `System.ArgumentOutOfRangeException` with this message `The value supplied must be between 10 a

[2016-12-28 15:47] markanewman commented on #586
@davidebbo @mathewc Has any more thought been given to this? App level init seems like a great place to add in hooks for DI like we get with WebJob's JobHostConfiguration.JobActivator.

[2016-12-29 05:03] SeanFeldman commented on #971
Can't reproduce it anymore after upgrading Functions.
Will close. If it happens again, will reopen.

[2016-12-29 05:03] #971 closed

[2016-12-29 12:14] aantillonl commented on #364
I'd appreciate this feature too 👍

[2016-12-29 12:56] nilayparikh commented on #848
Any update on the default landing page. I'm trying to build a prototype around the stateless website (FaaSW - Function as a Service/Web), I have gathered all designed patterns other than homepage :(

Really appreciate if you pass some update.

[2016-12-29 19:05] paulbatum opened #1076 "Occasional console related exception"
There appears to be some sort of race condition that can occur that results in the following exception and stack trace:

[code]
I can't reliably reproduce it, but I only ever see it when there are multiple concurrent function executions.

@ahmelsayed Perhaps the issue is that the ColoredConsoleWriter in Colors.Net is not thread safe?

[2016-12-29 20:52] paulbatum commented on #1076
See above. If this is indeed a colors issue you should be able to write a unit test that hammers the API on multiple threads and repros pretty easy.

[2016-12-30 09:18] Verneri commented on #848
Would be interesting to hear what is the current preffered way to do a website with some backend rendering using function app as it seems that you need one web app as a front and then you can implement the api with functions? Or should you use some gateway loadbalancer always in front of the app to route html rendering to "page" function?

If that is the case it sounds a bit redundant as you could

[2016-12-30 11:11] nilayparikh commented on #848
You don't need any load balancer or other appliance; that's a point. I have tried with LiquidNet, embedded pages in assembly with Azure Storage Table (as backend), results are amazing 35ms ~ 100ms average (only HTML) page rendering.

Scaling the Azure Function is very simple, and there are many preferred ways (depends on what topology you are).

[2016-12-30 14:33] Verneri commented on #848
I was thinking of load balancer as a lightweight heavyduty server capable of URL re routing. Such is needed anycase if the default root web page is always visible and can't be turnee off in an function app

[2016-12-30 14:51] mikezks commented on #848
As mentioned above the Microsoft Dev Team is willing to support default route definition for domain root level, but there is work to do related to the infrastructure before this can be implemented.

What we know now: this issue is not scheduled for January yet.

[2016-12-30 16:12] Verneri commented on #848
Yes i understood that. I was mainly asking what is the preferred way to launch a production spa + api as a function app meanwhile. This boils down to few questions:

How to make the backend rendered web page that loads the rich js app and show it from https://somedomain.something/ root

How to block the azure function app page from showing?

These preferably in the context of js apps and the secon

[2016-12-30 17:42] ahmelsayed commented on #595
Here is what it looks like now.
![image](https://cloud.githubusercontent.com/assets/645740/21569632/748a8074-ce73-11e6-9f29-e00f1b7e32a6.png)

note that to get David's original ask, which is to have an icon in the taskbar, this would require more work.

AFAIK, console applications  can't have their own icons in the taskbar because they don't have UI. The console UI you get is from conhost.exe not

[2016-12-30 17:44] #1064 closed

[2016-12-30 17:47] #881 closed

[2016-12-30 18:07] ahmelsayed commented on #1069
I don't know how to give you a repro. I updated the refrenced package in `rename-cli` branch.
Pull, build then run func.exe for a local function app folder that has a timer function for example and no storage account set. You'll get a nullref in `ScriptHostManager.cs:L161`
here is the stack
[code]

[2016-12-30 18:08] mikezks commented on #848
@Verneri
If you need serverside SPA rendering and domain root access (normally this is the case), then you would currently need to use Web Apps.

For the backend you are free to choose form e.g. Web API or Function App (within an App Service plan or as dynamic option). To deactivate the Function App standard welcome page you can set ``AzureWebJobsDisableHomepage`` as App Setting. At the moment it

[2016-12-30 18:28] davidebbo commented on #595
If it's a significant pain/investment, it's probably not worth doing...

[2016-12-30 18:39] #1076 closed

[2016-12-31 12:09] Verneri commented on #848
Ok, it's as i thought then. One thing though. If disabling homepage from app settings works for function app can't that be used as a way to render the spa server side as well?

[2016-12-31 15:30] nilayparikh commented on #848
@mikezks agree, the major motive behind testing the exercise are "serverless", "stateless", "high volume".

@Verneri if we introduce any additional appliance than it would compromise some important attributes of OOTB service and may introduce other bottlenecks and single point failures.

[2017-01-01 22:28] davidebbo opened #1077 "Document all App Settings in one place"
Was looking at @paulbatum's answer to http://stackoverflow.com/questions/41381486/how-to-disable-azure-function-homepage mentioning `AzureWebJobsDisableHomepage`, and could not find it documented anywhere (couple of mentions in #843 and #848).

We should create a one-stop page with all the settings, similar to what we have on https://github.com/projectkudu/kudu/wiki/Configurable-settings.

[2017-01-02 07:45] anthonychu commented on #848
For the "Define a Azure Function which responses to requests on the default route on domain root level" requirement, I agree with @cloudkite that setting `routePrefix` and `route` to `""` should be all that's needed to trigger a function at the site root. IMO, there's no need for additional host.json settings for this. There's currently a HomeController swallowing up requests at the site root that

[2017-01-02 11:33] mikezks commented on #848
@Verneri:

Unfortunately this is not possible the way we want it yet, but the idea also came to my mind as the runtime with the initial Azure Function marketing website launched some month ago.

There are possible workarounds, but none of them satisfy my demand:

### Custom Functions runtime as a private site extension for a Classic Function App

It is possible to use private custom Function runti

[2017-01-02 12:00] mikezks commented on #848
@anthonychu:

I guess it was not a good idea to integrate the implementation suggestion into my initial post. I do not like it either to have complex host.json configs, but I had in mind that the currently implemented way has to be continued, because it has a reason why the Microsoft Dev Team implemented it that way.  To be honest I have no need for a inital marketing page or an empty page instead

[2017-01-02 12:29] mikezks commented on #848
@anthonychu:

The HomeController does not seem to be an obstacle for this issue. I think @fabiocav did not mean the HomeController as he mentioned work to do concerning "infrastructure controllers and other automation". This sounds to me a bit more complex.

The HomeController was changed as the initial Azure Function marketing website was implemented. Before that the HomeController was just set u

[2017-01-02 17:05] jdkang opened #1078 "Overwrite Unsupported Write-* Functions Using Bootstrapper"
Currently, `Write-Output` is the main equivalent to `log.Info()` for `.ps1` Azure Functions -- which writes to the console. However, this is not intuitive given one's inclination to use commands like `write-host` and `write-verbose`.

### Suggestions
Use a bootstrapper that (at a minimum) overrides `write-host`/`write-verbose`/`write-debug` to `write-output`. An alternative is to use "system messa

[2017-01-03 06:40] navilwayne commented on #691
Hi Folks
I am also facing the same issue for last 2 weeks. I have a **Event Hub Trigger function app with consumption plan**. It was working, when I open the portal in UI & continue to run for 3-4 hours , after that it automatically sleeps, when no request coming to event hub.
Next day when request come again , it is not triggering, until I open portal.

I have to swap forcefully from Consumption

[2017-01-03 06:43] davidebbo commented on #691
@navilwayne This issue only tracks functions triggered by **blobs** (see @cgillum's previous comment). If you are seeing something with other triggers, it is likely unrelated, and should be tracked separately.

[2017-01-03 06:51] navilwayne opened #1079 "Azure Function not triggered by Event Hub"
Hi Folks

-  I have a Event Hub Trigger function app with consumption plan. It was working, when I open the portal in UI & continue to run for 3-4 hours , after that it automatically sleeps, when no request coming to event hub.  I am facing the same issue for last 2 weeks.
- Next day when request come again , it is not triggering, until I open portal.

- I have to swap forcefully from Consumption

[2017-01-03 07:01] navilwayne commented on #691
@davidebbo  - I have post the new request - Azure Function Not Triggering by Event Hub  #122 under Azure/Azure-Functions.

Thanks

[2017-01-03 10:28] navilwayne commented on #340
Hi Folks
I am facing the same issue for last 2 weeks. I have a Event Hub Trigger function app with **consumption plan**. It was working, when I open the portal in UI & continue to run for 3-4 hours , after that it automatically sleeps, when no request coming to event hub.
 Next day when request come again , it is not triggering, until I open portal.

I have to swap forcefully from Consumption Plan

[2017-01-03 16:43] mamaso commented on #878
Closing as completed

[2017-01-03 16:43] #878 closed

[2017-01-03 18:55] davidebbo opened #1080 "Improve handling when a site is deleted and recreated with same storage account"
Steps:

- Create app from portal
- Delete the app but not the storage account
- Recreated an app with the same name, pointing to the existing storage account

At this point, the app is busted because it still has the `D:\home\data\Functions\secrets\host.json` for the old app, with a mismatched machine key.

Things we can improve here:

- Find some way to prevent users from getting into this situat

[2017-01-03 19:11] #862 closed

[2017-01-03 19:11] ahmelsayed commented on #862
https://www.npmjs.com/package/azurefunctions

[2017-01-03 19:23] #725 closed

[2017-01-03 20:12] lindydonna commented on #839
@mikezks You're right--I actually created a new issue to track: https://github.com/Azure/azure-webjobs-sdk-script/issues/1070

I'm going to keep this issue closed, because the new one is assigned to a milestone.

[2017-01-03 20:31] davidebbo commented on #691
@navilwayne Thanks. Not that https://github.com/Azure/azure-webjobs-sdk-script/ is actually the correct repo for it.

[2017-01-03 20:54] fabiocav opened #1081 "Create meta-packages to bring built in NuGet dependencies"
We need to discuss the granularity, but we should provide meta-packages (tracking the runtime version) to bring the appropriate dependencies available as shared assemblies, which will make the local development process simpler.

[2017-01-03 20:58] #1071 closed

[2017-01-04 00:02] lindydonna commented on #595
I agree with David. It would be nice to have but not critical. For Visual Studio, we may even pipe the output to the VS Output window, in which case there may not even be a separate console window.

[2017-01-04 01:16] lindydonna commented on #1069
Moving to 0.10 milestone

[2017-01-04 02:32] lindydonna opened #1082 "CLI: func init should create placeholder entry for AzureWebJobsStorage"
Since it's a required setting, it would be useful to have a placeholder.

[2017-01-04 17:26] ahmelsayed commented on #1082
This issue was moved to Azure/azure-functions-cli#1

[2017-01-04 17:26] #1082 closed

[2017-01-04 17:27] ahmelsayed commented on #1069
This issue was moved to Azure/azure-functions-cli#3

[2017-01-04 17:27] #1069 closed

[2017-01-04 17:27] ahmelsayed commented on #1066
This issue was moved to Azure/azure-functions-cli#4

[2017-01-04 17:27] #1066 closed

[2017-01-04 17:28] ahmelsayed commented on #1024
This issue was moved to Azure/azure-functions-cli#5

[2017-01-04 17:28] #1024 closed

[2017-01-04 17:28] ahmelsayed commented on #993
This issue was moved to Azure/azure-functions-cli#6

[2017-01-04 17:28] #993 closed

[2017-01-04 17:28] ahmelsayed commented on #877
This issue was moved to Azure/azure-functions-cli#7

[2017-01-04 17:28] #877 closed

[2017-01-04 17:28] ahmelsayed commented on #846
This issue was moved to Azure/azure-functions-cli#8

[2017-01-04 17:28] #846 closed

[2017-01-04 17:29] ahmelsayed commented on #822
This issue was moved to Azure/azure-functions-cli#9

[2017-01-04 17:29] #822 closed

[2017-01-04 17:29] ahmelsayed commented on #729
This issue was moved to Azure/azure-functions-cli#10

[2017-01-04 17:29] #729 closed

[2017-01-04 17:29] ahmelsayed commented on #595
This issue was moved to Azure/azure-functions-cli#11

[2017-01-04 17:29] #595 closed

[2017-01-04 17:29] ahmelsayed commented on #509
This issue was moved to Azure/azure-functions-cli#13

[2017-01-04 17:29] #509 closed

[2017-01-04 18:51] jsiegmund opened #1085 "CLI: appsettings.json contents is not being loaded?"
I'm debugging a Bot Service instance, running locally in the functions cli. I downloaded the appsettings.json file from the online instance, which was neatly copied into appsettings.json locally. When I run "func settings", it shows the correct output. Here is the output with a very simple (test) appsettings.json:

But now when I run the function (debug) in VS, and I have this line:

`var test = S

[2017-01-04 20:32] alrod commented on #912
Customer wants this feature:
https://social.msdn.microsoft.com/Forums/en-US/4f21e730-e4f3-4f5f-a408-56e23283fb92/run-azure-function-as-singleton-listener-with-node-js?forum=AzureFunctions

[2017-01-04 22:01] paulbatum commented on #1085
@jsiegmund As far as I'm aware, the contents of the "appsettings.json" file is not actually loaded into ConfigurationManager.AppSettings. This is somewhat counter-intuitive. I would use the environment variables API. See [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#environment-variables) for a quick example.

[2017-01-05 01:16] mathewc commented on #1085
Note: we've recently moved the CLI to another repo https://github.com/Azure/azure-webjobs-sdk/issues/804. This issue should be moved there.

[2017-01-05 01:20] mathewc opened #1087 "Create Nuget package + build artifact for WebHost"
Functions CLI needs to be able to pull this in as an external dependency.

[2017-01-05 09:27] #1085 closed, assigned to nobody

[2017-01-05 14:36] garrardkitchen commented on #727
+1

[2017-01-05 19:12] mjgpy3 opened #1088 "Upgrade `~0.9` -> `1` breaks app settings unless loaded via external file in F#"
Values being read from App settings in F# are coming through as `null`.

#### Repro steps

  1. Add an app setting to a functions app
  2. In an F# function's `run.fsx` attempt to read the app setting using something like
[code]
 3. Run the function app and observe (via `log.Info` for example) that `mySetting` is `null`.

#### Expected behavior

`mySetting` has the value that was configured in the

[2017-01-05 20:34] SeanFeldman opened #1089 "WebJobs SDK version used by portal"
Trying to understand what version of WebJobs SDK is used by default by Functions.

#### Repro steps

Code used to find the webjobs sdk version (could be eliminated so that auto-imported dependency version are discoverable as part of the portal experience - a feature request 😃).

[code]

#### Expected behavior

Expected to see the latest stable (1.1.2).

#### Actual behavior

Reported version is 2.

[2017-01-05 21:29] fabiocav commented on #1089
The runtime does indeed use 2.0.0.

I agree, it would be nice to have a better way to discover the version of shared assemblies. We need to think about how that would be handled to support extension provided assemblies as well.
One of the things we're also planning, to aid with local development and precompiled function scenarios, is to provide a meta package that brings the appropriate dependenci

[2017-01-05 21:53] SeanFeldman commented on #1089
@fabiocav considering that 2.0.0 is a beta, is it right to use it with the stable version of Functions?

[2017-01-05 22:19] fabiocav commented on #1089
2.0.0 is a beta for public consumption since some of the API surface (e.g. binding extensibility, some new features, etc.) is still in flux, not completely finished and likely to see breaking changes.

We manage those changes with the functions runtime internally, and in the context of Azure Functions, you're covered by the SLAs and support provided by the service.

[2017-01-06 01:30] mamaso opened #1090 "Improve logging of Function Timeouts"
Currently a function which times out is not treated as a success or failure, we should emit an event to track these failures

[2017-01-06 01:36] mathewc opened #1091 "BlobTrigger template out of box usability issues"
If you simply create a blob function from our default template and click Run, you'll be sad. You'll get a failure out of the box. @davidebbo found this.

This is because the test data used is a blob path that doesn't exist, which will cause the runtime invocation to fail. We should figure out a way to improve this - likely lots of users are running into this.

[2017-01-06 18:01] mamaso opened #1092 "Improve node function invoker traces"
Improve the tracing we get from function call path, would have helped a lot with tracking down this last issue.  Right now there is nothing in our logs to help determine which step of a node program is timing out.

What I want to add is in bold:

- Function Started
- **Executing Edge.Func**
  - when do we leave C# / enter node?
- **Requiring user function**
  - is it a require issue / Azure Files

[2017-01-06 18:10] mamaso opened #1093 "Help surface Azure Files metrics to Consumption Plan users"
If the user knows to look at their storage account they can see data on Azure Files requests, egress, latency, success %, etc, but I don't think we've made this connection very clear for consumption plan users.

If we added a link for the FileSharesMonitoringBlade to the functions blade it could help a user diagnose the health of their file system.  Admittedly, there's not much they can do if Azur

[2017-01-06 18:10] #1093 closed

[2017-01-06 18:13] mamaso opened #1094 "Private site extension-like mechanism for consumption plan"
Adding the ability to deploy a private runtime version to a specific consumption app could help with debugging / investigation / hotfixes

[2017-01-06 18:20] mamaso opened #1095 "Add ability to capture console output"
Useful for debugging purposes
- could capture EDGE_DEBUG output
- could log outside of context scope (any initialization code outside the user's exported function)
- capture debug output from any node modules

Globally scoped, hacky, but helpful to track down issues

[2017-01-06 18:24] mamaso opened #1096 "Node-inspector debugging for node functions"
Add debugging for node code.

- EDGE_NODE_PARAMS allows node command line options
- --inspect option launches node inspector

Figure out how to surface the debugger to the user ¯\\_(ツ)_/¯

[2017-01-06 18:26] mamaso opened #1097 "Help surface Azure Files metrics to support"
Similar to https://github.com/projectkudu/AzureFunctionsPortal/issues/863, give the team a quick view into Azure Files status (perhaps on FunctionsPulse)

[2017-01-06 20:31] markheath opened #1098 "Can't consistently use x-functions-key and x-functions-clientid headers instead of query string parameters"
Use of the `x-functions-key` and `x-functions-clientid` headers seems temperamental

#### Repro steps

1.  Create a generic webhook function

2. Create two new keys, a function key called client1 and an admin key called admin2

3. Verify that the function can be called using `/api/MyWebhook?clientid=client1&code=client1code`

4. Verify that the function can be called using `/api/MyWebhook?clientid

[2017-01-07 05:18] martinabbott opened #1100 "Allow selection of start time for Trigger functions"
When creating a trigger Function, the trigger fires immediately for any resources that have been added to the trigger location since the Function App was created.

This can cause issues as it is possible to create a situation where you re-process information already handled by another function, since the portal allows you to create one pointing to a location already watched by another function.

W

[2017-01-07 05:40] martinabbott commented on #691
Any update on this, my customer is still having to keep a browser window open just to fire the function, or go in regularly to process files?

[2017-01-07 12:33] FinVamp1 opened #1101 "Azure Functions CLI Throws Exception when selecting the stack in Cmd.exe"
#### Repro steps

Home Dev Machine
Windows 10 Home 14393.576

npm --version
3.10.9
node --version
v6.9.4
Azure Functions Cli (1.0.0-beta.9)
This only occurs when the Screen Buffer Height is set to 300 for cmd.exe.
It was resolved by increasing the screen buffer Height.

Provide the steps required to reproduce the problem

1.  Run Func New

2. Press the Down cursor to select a stack

#### Expected

[2017-01-07 18:40] davidebbo commented on #691
@martinabbott just to make sure there is no misunderstanding (since there has been some in this issue), can you confirm that you are referring to a blob trigger and not something else? My understanding is the @cgillum got the fix deployed, but I'll let him confirm.

[2017-01-07 23:32] anthonychu commented on #848
@mikezks

I think there are 3 fairly distinct topics here so I've divided my thoughts...

### Addressing some routing issues

- There should be a way to allow a function to respond to a request at the site root.
- There should be a way to define a route that matches the root (for instance `/api` if `routePrefix` is `"api"`) without using a catchall route (`{*foo}`). Setting `route` to an empty str

[2017-01-08 02:16] martinabbott commented on #691
Hi David,

Yes blob trigger is the only issue I have.

Some more on this, I hadn't trigger my Function for some time but had deployed a Timer Tigger Function which had solved the issue previously.

When checking again this week, even opening the blade didn't work and the blob trigger would not fire at all, even though the Timer Trigger was running.

I know this was a problem because adding a new B

[2017-01-08 04:48] davidebbo commented on #691
If it doesn't run even going to portal, then it must be a different category of issues than the one Chris fixes (which was only about waking up the Function App). Does the blob function run correctly when you manually trigger it from the portal?

Can you share your function app name (that's the **app** name, not function name!), either directly or [indirectly](https://github.com/projectkudu/kudu/w

[2017-01-09 04:42] martinabbott opened #1103 "Blob Trigger never firing after long period of inactivity"
This has been raised as a different issue to [Function not triggered by blob](https://github.com/Azure/azure-webjobs-sdk-script/issues/691) after speaking to @davidebbo

The issue is that after a long period of inactivity the Blob trigger does not fire at all, even with the Function App blade opened (which is the original issue 691)

I have created a Timer Trigger in an attempt to keep the Functio

[2017-01-09 05:08] davidebbo commented on #1103
Can you check whether that function has the disabled flag in its function.json? Based on the logs I see, the runtime appears to treat it as disabled.

[2017-01-09 05:23] davidebbo commented on #1103
Note that even if disabled, you should be able to run it manually. But this to work, you need to pass a valid blob path in the request body, e.g. if you pass samples-workitems/foo.json, the blob needs to exist.

[2017-01-09 05:28] martinabbott commented on #1103
Yeah so updating the test works, picks up the file no problem, sorry just rushing and missed the process.

Yes it is set to disabled, which is a puzzle as I wouldn't have touched that...

I've set to Enabled and tested with an actual file and that works.

Puzzled as to how (and why) it would've gotten set to disabled.

[2017-01-09 05:30] davidebbo commented on #1103
Note that setting it to disabled is common when developing, to avoid having it drain everything from the container before the function is ready.

Anyway, closing this, but I do think we need to improve the error handling here (I'll track separately).

[2017-01-09 05:32] martinabbott commented on #1103
Okay thanks, this is a prod system so shouldn't have been disabled.

Thanks for the quick follow up.

[2017-01-09 05:36] davidebbo commented on #691
As we found in the other issue, the problem for @martinabbott was that the function was disabled in the function.json.

Closing this issue now as things should be working for everyone.

If someone still sees the case of a blob triggered function that 'falls asleep' when portal is closed, please do let us know.

[2017-01-09 06:56] martinabbott commented on #691
@davidebbo the issue raise in 1103 is different to this one, function becoming disabled after a long period of inactivity, I can confirm that I am still able to see this particular issue in my Function App.

My function writes data to a database. If I close the browser and wait a period of time, I just waited 90 minutes, then upload a file, my database is not updated.

As soon as I open a browser

[2017-01-09 18:20] christopheranderson commented on #1079
Related post - https://github.com/Azure/Azure-Functions/issues/122

Addressed now as EntityPath issue

[2017-01-09 18:20] #1079 closed

[2017-01-09 18:30] christopheranderson commented on #1080
Suggestion: Change creation workflow to append GUID to the Azure Files Share name to prevent repeat shares.

[2017-01-09 18:31] christopheranderson commented on #1081
This impacts the dev experience of bringing a .dll instead of a .csx for using things like TraceWriter/etc.

[2017-01-09 18:39] christopheranderson commented on #1088
We cannot repro. I just ran this:

[code]

Got the value logged properly:

[code]

Closing no repro for now

[2017-01-09 18:39] #1088 closed

[2017-01-09 18:40] christopheranderson commented on #1089
Closing as the question is resolved

[2017-01-09 18:40] #1089 closed

[2017-01-09 18:42] paulbatum commented on #1090
@mamaso Can you clarify, is this about how the execution of the function is represented in our storage based logging and how it appears to the user on the monitoring tab? Or is this about our internal telemetry?

[2017-01-09 18:48] christopheranderson commented on #1091
@davidebbo will provide the current error message.

We need to improve the error message to know what the issue is

[2017-01-09 18:50] paulbatum commented on #1094
@mamaso Let me grab you offline to discuss this

[2017-01-09 18:50] #1094 closed

[2017-01-09 18:53] christopheranderson commented on #1096
Can't you add this as App Settings today?

[2017-01-09 18:56] christopheranderson commented on #1098
@mathewc - could we handle this in the generic WebHook case?

[2017-01-09 18:57] mamaso commented on #1096
EDGE_NODE_PARAMS can be added as an app setting yes, but then getting a view for inspector is not possible afaik (we're not following the existing iisnode path)

[2017-01-09 19:00] christopheranderson commented on #1100
We kind of understand what you're asking, but could you provide a specific scenario to help us know what exactly you want? Do you want 2 Functions to independently process the same info or not?

[2017-01-09 19:02] #1103 closed

[2017-01-09 19:04] mamaso commented on #1090
I believe both.

Currently the core sdk logs that there is a function failure when there is a timeout.  However, at the script host level this is untracked, i.e. there is no 'Function completed (Failure/Timeout ...)' event.

I can show you in FunctionsLogs if you like, @christopheranderson also had a viz which showed the issue.

[2017-01-09 19:08] davidebbo commented on #1091
More info about scenario and current error handling.

- Create new Blob Trigger C# function, keeping everything default
- Click Run

In the Logs window, you get this:

    2017-01-09T19:03:42.802 Exception while executing function: Functions.BlobTriggerCSharp1. Microsoft.Azure.WebJobs.Host: One or more errors occurred. Exception binding parameter 'myBlob'. Microsoft.WindowsAzure.Storage: The remot

[2017-01-09 19:09] davidebbo commented on #1091
In term of expected behavior, I'd want to see an error along the lines of:

    Failed to bind parameter myBlob because the blob samples-workitems/workitem.txt does not exist.

[2017-01-09 20:59] paulbatum commented on #1090
OK so for every timeout I think we want two things:
1. FunctionsLog entry indicating the execution timed out
2. FunctionsMetrics timeout entry

Sounds good?

[2017-01-09 21:33] mamaso commented on #1090
Yep, sounds good!

[2017-01-09 22:08] mjgpy3 commented on #1088
Thanks for trying that out!

One difference is that I was doing something along the lines of
[code]

Specifically, I was setting `mySetting` inside of the `#else` of a `!COMPILED` precompiler directive, in order to differentiate the deployed Azure Functions environment and my local environment.

Do you think that could be making the difference? Is putting such `let`s not allowed outside of `Run`,

[2017-01-09 23:51] martinabbott commented on #1100
Hey @christopheranderson, not really needing to process the same info, there may be a use case for that but in my case I found this to be a problem when I was trying to get something else working. In my case I needed to create a new function for one that was not working (since found out that somehow it had become disabled although I don't know why), so I created a new function and it started proce

[2017-01-10 01:25] ahmelsayed commented on #1101
Thanks Finbar. Btw, we have a new repo just for the cli here https://github.com/Azure/azure-functions-cli

[2017-01-10 01:46] #1101 closed

[2017-01-10 07:32] anthonychu commented on #848
Found out we can also use optional parameters to define routes that match the root without using a catchall. Updated my previous comment above and the PR #1102.

[2017-01-10 12:52] liricooli commented on #691
I've encountered the same issue.
I was about to deploy an azure blob-triggered function to a client, but can't deploy it as long as this bug is open.

I've also created a small test case to be sure it's happening as described here:
1. Create a 1minute time-trigger function which writes it's operation logs to a storage account.
2. Create a blob-trigger function which monitors this storage account.

[2017-01-10 13:39] tedvanderveen commented on #413
What are the current options for Azure IoT Hub Trigger Functions? Setup routing to Service Bus and create Function for that @christopheranderson ?

[2017-01-10 17:32] davidebbo commented on #691
@martinabbott your function app is definitely getting woken up, so the fix discussed above is working. The question is why it's not processing your blob function. Can you share the UTC time of one specific incident where you add a new blob and you don't see it getting processed?

[2017-01-10 17:38] davidebbo commented on #691
@liricooli thanks for sharing your app names. Looking at blob-trigger-test, I do see many invocations of the `BlobTriggerJS1` function, but I don't know whether it was when you had portal open or not. Can you also share the UTC time of an instance where you didn't have the portal open and the function failed to be called?

[2017-01-10 19:01] mamaso commented on #1096
Played with this a bit, the --inspect option doesn't play well with v6.5.0 and edgejs at present

[2017-01-10 19:53] guitarrapc opened #1105 "Precompiled Azure Function's dll will be lock on deployment"
Precompiled AzureFunction is very useful for Intellisense friendly development. However, it's dll will be locked by w3wp.exe. This required me to kill w3wp then restart AppService to swap with new dll.

#### Repro steps

Provide the steps required to reproduce the problem

1. Create Precompiled AzureFunctions.

2. Deploy to AzureFunctions.

3. Verify it works and modifies the source code, then re-

[2017-01-10 21:11] #903 closed

[2017-01-10 22:55] mathewc opened #1106 "Remove temporary blob Poison queue config default"
In our next major release (2.0) we need to revert the poison queue setting here: https://github.com/Azure/azure-webjobs-sdk-script/blob/13443e1ee3d11a7be5184e4159f5776f6807733d/src/WebJobs.Script/Binding/WebJobsCoreScriptBindingProvider.cs#L58.

Since this would be a breaking change for people, we're waiting on this.

[2017-01-10 23:26] brettsam opened #1107 "Deleting project.json didn't update references"
This may only be an issue for built-in references.

Add and run this code in a manual trigger:
[code]
You'll see the location: `D:\Program Files (x86)\SiteExtensions\Functions\1.0.10690\bin\Microsoft.Azure.Documents.Client.dll`

Add this project.json and run again:
[code]
You can see logs that it was installed: `D:\home\data\Functions\packages\nuget\Microsoft.Azure.DocumentDB\1.11.1\lib\net45\Micr

[2017-01-11 00:06] mathewc commented on #1100
What kind of trigger are you dealing with here?

I'll say that the discovery process for each trigger type is implemented differently. Not all underlying sources (e.g. Queues, ServiceBus) are going to support checkpointing, so there really isn't a generalized mechanism for us to put in place.

[2017-01-11 00:54] martinabbott commented on #1100
In my case it is Blob trigger, but yes it only makes sense where the underlying trigger type is against a source that is essentially a stream of data.

In that instance, of course anything that has transient messages, Queues and Service Bus as you say as examples, won't work because the message read by the trigger is volatile.

[2017-01-11 01:52] mathewc commented on #1098
Yes this is an issue with WebHooks only currently - they don't support the `x-functions-key header`. This is because the `code` query parameter is pulled from the request not by us, but by the underlying WebHooks library we're using (e.g. code [here](https://github.com/aspnet/WebHooks/blob/master/src/Microsoft.AspNet.WebHooks.Receivers/WebHooks/WebHookReceiver.cs#L203)).

Some options for us would

[2017-01-11 01:59] mathewc commented on #1100
For BlobTrigger, you're right that currently it will trigger on any blobs existing in the target container that haven't already been processed. The determination of whether a blob has been processed is done by us maintaining "receipts" in a system blob container azure-webjobs-hosts. These receipts are scoped per function app, so you're right that if you have 2 different function apps each with a f

[2017-01-11 06:49] martinabbott commented on #1100
Hey @mathewc I'm thinking more along the lines of a new function in a new Function App being written to take the place of some other solution that has already processed files, rather than 2 functions processing the same blob trigger which I can imagine may cause a lot of problems.

However, the solution is the same, an ability to be able to define a "start date" from which to start processing new

[2017-01-11 07:52] liricooli commented on #691
@davidebbo thanks for the quick reply.
I closed the portal yesterday, January 11th, at 12:15 PM and reopened it at about 12:40 PM.

[2017-01-12 11:48] mikezks commented on #848
As it is an important info for this issue, I add this quote:

@anthonychu thanks for the work on this!
As I've alluded to here there are some infrastructure changes we'd need to make before we can make this runtime change and, unfortunately, the current runtime behavior, where routing the root path to a function is disabled, is by design (as you've noticed, we had to go a bit out of our way to blo

[2017-01-12 18:32] paulbatum opened #1110 "Python Queue Function Unable to Locate Modules"
_From @MisterJames on January 6, 2017 21:16_

I am using Python 2.7 and have a module which cannot install via `pip`. I have created a wheel using [these instructions](https://blogs.msdn.microsoft.com/azureossds/2015/06/29/install-native-python-modules-on-azure-web-apps-api-apps/) and uploaded the wheel into a `wheelhouse` directory in the function.

![image](https://cloud.githubusercontent.com/as

[2017-01-12 18:32] paulbatum commented on #1110
_From @tohling on January 6, 2017 23:27_

Resolving the error "_Unable to find vcvarsall.bat_" requires the installation of [Microsoft Visual C++ Compiler for Python 2.7](https://www.microsoft.com/en-us/download/details.aspx?id=44266) (See Details section)

Even if we were able to install this package, there are 2 issues worth noting:

1. Under the **System Requirements** section, it states,

[2017-01-12 18:32] paulbatum commented on #1110
_From @MisterJames on January 8, 2017 5:6_

Great, thanks for the suggestions @tohling, I'll explore this to see if Python 3 is a solution here.

[2017-01-12 20:12] davidebbo commented on #691
@liricooli but at which point did you add a new blob that needed to get processed? Note that after the app gets deactivated, it can take a longer for it to get restarted, and it could be that it would have worked on its own with a little more time.

Looking through our logs. I see that the scale controller detected some blob updates at 12:41:55, and woke up the site at that point. But note that wh

[2017-01-12 20:57] cloudkite commented on #978
@mamaso @fabiocav another argument for removing this behaviour is that there is currently no way to send a valid 204 request.

[2017-01-12 21:24] mamaso commented on #978
@cloudkite it's possible via `context.res.sendStatus(204)` or `context.res = {
  status: 204,
  body: undefined
}`

[2017-01-12 21:51] cloudkite commented on #978
@mamaso didn't realise you can do body: undefined, thanks!

[2017-01-12 23:09] webtechy commented on #431
Am currently seeing this issue I believe.

[2017-01-13 02:35] #962 closed

[2017-01-13 23:38] fabiocav opened #1114 "Strange behavior with Entity Framework"
Need to investigate issues preventing EF from loading the expected providers when running in Azure Functions.

The issue seems to be triggered by configuration changes (App Setting/Connection strings) changes, causing the site to get in a bad state when it restarts. A full site restart seems to bring the site to a good state.

One of the issues we've observed is that it seemed like EF was attempti

[2017-01-14 00:42] mathewc opened #1115 "Binding Parameter Validation Expressions"
We should consider extending the syntax we have in place now for binding parameters (e.g. `{age}`) to allow declarative validations to also be specified (e.g.` {age:int}`). This would be similar to ASP.NET route parameter validation expressions (see [here](https://www.asp.net/web-api/overview/web-api-routing-and-actions/attribute-routing-in-web-api-2#constraints)).

This would allow people to put

[2017-01-14 01:28] kuniteru opened #1116 "Don't return "application/json" when respnse JSON start with arry by HTTP trigger"
I use PHP on Azure Functions with HTTP trigger.

Azure Functions has an issue when Function responses JSON object that start with array.
I expect to get response with "application/json" Content-Type when I send like this request, but Function returns "application/xml".
[JSON example]
[code]
Such JSON format is returned by Face API(Detect) of Microsoft Cognitive Services.
https://dev.projectoxford.

[2017-01-14 09:12] dallancarr commented on #716
Finding similar issues with version 1.x. Will come back with more details.

[2017-01-14 14:56] WojciechS commented on #298
Any updates on that issue? It is a bit confusing that serverless concepts are not for a real life scenario :(

[2017-01-14 15:21] srinipatil02 opened #1118 "Webjob shows as Pending Restart when it is running"
I have used azure-webjobs-sdk-script to develop a nodejs function which is trigerred based on Topic messages as shown in the sample and deployed. When I start the webjob, initially it shows as running and later switches to pending restart. However in the WebJobs dashboard I can see the function is continuously running and reading messages from the queue. I can see the logs being updated continuous

[2017-01-14 19:35] davidebbo commented on #298
We are actively looking at ways to make this faster, but it is still going to take a while longer to get this right. We're hoping to find some initial bits people can try in about a month.

The suggestion to have local copy of those packages on the local drive is something we considered, but in practice it would not work well. The problem is that all those packages are constantly updated, and we d

[2017-01-14 20:44] jamesdixon commented on #85
Just wanted to check in on this feature to see if there was any timetable or workaround?

I'm using Node.js and my scenario is pretty simple: taking the canonical image example, I'd like to be able to generate a new thumbnail image that lives in the same container. For example, input image is `image.jpg` and the output container is `images` and the thumbnail generated would live as `images/image_t

[2017-01-14 20:45] jamesdixon commented on #85
@pierre-weceipt could you be more specific on how you got this to work?

Thanks!

[2017-01-15 05:41] solvingJ opened #1119 "Add Automatic Dependency Download to Functions"
If my understanding of dependency management in Azure Webjobs/Functions is incorrect, then this feature request might be invalid, otherwise it seems a very logical feature request.

Continuous Integration (Deploy from GIT) is a brilliant concept:
-The Azure Platform clones, builds, and executes code directly from source.
-Developers can simply push new code, and it updates the production environme

[2017-01-15 07:00] solvingJ commented on #224
@davidebbo Any updates on the timeframe for Java Support for Functions?  Or, can you at least confirm that it's being worked on?

[2017-01-15 08:22] liricooli commented on #691
Hi @davidebbo,
I'm quite sure that I can recreate this issue at-will and would be happy to do that while you're looking at the logs in real time, if needed.

The sequence of events you described is not quite what happened as far as I see it.

It's not that I added a new blob at ~12:23, but I was automatically and continuously adding new blobs every 1 minute, with a time-trigger function.
When the

[2017-01-15 10:48] martinabbott commented on #691
Yeah I'd echo that, I'm able to create at will if I don't have a Timer Trigger firing every 15 minutes that seems to keep it alive.

Currently at an event so I can't test but it's really easy to test anyway.

[2017-01-15 16:50] SteveALee opened #1120 "I'd like some reference style docs"
The [docs](https://docs.microsoft.com/en-us/azure/azure-functions) are good but are firmly in the examples / tutorials camp. This very useful but in one case I've really wanted more formal ref style docs - namely the ```res``` and ```req``` arg bindings for HTTPTriggers, specifically for the nodejs bindings

We can see from the [javascript code](https://github.com/Azure/azure-webjobs-sdk-script/bl

[2017-01-15 18:16] davidebbo commented on #224
@solvingJ it is still on the radar, but at this time we do not have a clear ETA.

[2017-01-15 18:51] solvingJ commented on #224
Ok, from my point of view, for a first iteration it doesn't have to be a fully integrated runtime.  Even if a JDK/JRE was available on the filesystem, that would allow us to more easily deploy and run a JAR, and use environment variables to pass the args.

[2017-01-15 19:16] davidebbo commented on #224
Note that the JDK is available on the worker, since it's hosted on Azure App Service (which has Java support). You can find it under `D:\Program Files (x86)\Java` (a bunch of versions, latest currently 1.8.0_73). You can use Kudu Console to look through the files.

But my guess is that if it were to launch the Java runtime each time it needs to run a Function, it would be unacceptably slow.

[2017-01-16 01:23] davidebbo commented on #224
@solvingJ Ok, so I was curious how far I could get and played around with it. It turns out that it runs pretty well, at least on my super simplistic test.

I documented everything on https://github.com/Azure/azure-webjobs-sdk-script/wiki/Creating-a-Java-Azure-Function, so please give it a try, and let me know if it is along the lines of what you had in mind.

Needless to say that it is very experi

[2017-01-16 01:46] davidebbo commented on #691
I set up a similar repro with one function in one app adding blobs on a timer, and the other function (different app) consuming them. For me, it is working very consistently with the portal closed. At most, the processing happens a few minutes late, and it is well understood why.

@liricooli in your case, I can see from our logs that you went to the portal at 12:35, not 12:41. 12:41 is when the sc

[2017-01-16 05:23] solvingJ commented on #224
1. Thank you very much for effort
2. I will experiment tomorrow!
3. Your disclaimer fully acknowledged
4. This willingness to play around with new ideas is what excites me most about new Microsoft!

Sent from my iPhone

[2017-01-16 06:30] liricooli commented on #691
@davidebbo I closed the portal now and would not open it in ~24 hours.
Will report back with another comment when I open it again.

[2017-01-16 14:47] pierre-weceipt commented on #85
@jamesdixon To be honest I don't remeber much of these tests. We put aside this project and it's been a while since I worked on this code. After looking at it again, what I understand is that I added a proerty fileNameOut to my message passed to the next queue. Here is an extract of the code, but unless I find some time to rerun in debug mode the whole project I can't explain much more, sorry :(

[2017-01-16 17:30] dallancarr commented on #716
It seems indirect references are not getting compiled correctly.
![image](https://cloud.githubusercontent.com/assets/13968716/21993055/d82d3ad6-dc10-11e6-865d-444f122be1ba.png)
It might be a consequence of how we were consuming the library.
![image](https://cloud.githubusercontent.com/assets/13968716/21993187/7435c7ae-dc11-11e6-9c01-f64eefb0b83e.png)

[2017-01-17 00:42] 1N50MN14 commented on #298
Same issue here... 2-3 minutes cold start time (!) sometimes timeouts too.. ironically it's the Azure Storage SDK filling up node_modules..

[2017-01-17 00:50] davidebbo commented on #838
We have done a number of optimizations, and you should be seeing better cold start time than before. We're still working on additional optimizations that will make it yet faster.

[2017-01-17 07:47] jenyayel commented on #838
We have a similar problem with cold start.

We have an Azure Function used as a webhook for [Slash Comman](https://api.slack.com/slash-commands) on Slack. One of the requirments of the command is that response must be served within 3000ms. Every time that command used after sometime of inactivity there is a timeout.

You can check the source code [here](https://github.com/jenyayel/nespresso-dispen

[2017-01-17 09:43] liricooli commented on #691
@davidebbo Re-opened the portal now. will edit this comment with results later

[2017-01-17 11:02] laurence-hudson-tessella opened #1121 "'Never Finished' function timeout in non-Dynamic SKU"
I am currently experiencing timeouts for non-trivial queue triggered azure functions when running in a non-Dynamic SKU. While it is clear that dynamic/consumption plans (#18) are intended to have max run time of 5 minutes, it looks like traditional app service plans are not supposed have a timeout (#657, #661).

I'm consistently seeing a timeout of ~8 minutes followed by a retry of the function.

[2017-01-17 13:21] mjgpy3 commented on #838
@davidebbo do these optimizations have implications for .NET functions a a whole? (We're using F# azure functions)

[2017-01-17 13:46] gibran commented on #340
Hi folks

I am with the same problem related by @navilwayne.

There is a expectation to solve it?

Thanks.

[2017-01-17 17:36] davidebbo commented on #838
They apply to all function apps. Previously, there would be occasional 30s+ cold starts even for a trivial Function (see first entry in issue). Now those peaks have been eliminated, and the cold start is typically 4 to 10s in the trivial case.

[2017-01-17 18:30] pragnagopa opened #1122 "Invoke API should return an invocation id"
Please provide a succinct description of the issue.
We need a way to query logs for a specific invocation. This is a requirement for azure extension for [Serverless ](https://github.com/serverless/serverless)framework.
Runtime needs to be updated to return an invocationId on [invoke operation via admin api](https://github.com/Azure/azure-webjobs-sdk-script/blob/7c7c96d8de5dc6f340f683d3912e63dc216f

[2017-01-17 18:38] jenyayel commented on #838
Do you have plans on improving it below 4s?

[2017-01-17 18:38] fabiocav opened #1123 "Use a CLS compliant function class name"
The default class name used in functions is not CLS Compliant, which may cause confusing errors like the one reported here:

http://stackoverflow.com/questions/41697453/identifier-submission0-is-not-cls-compliant-in-azure-functions

[2017-01-17 18:39] davidebbo commented on #838
Yes, see my earlier comment: We're still working on additional optimizations that will make it yet faster. No ETA at this point, but active work is happening now.

[2017-01-17 18:40] solvingJ commented on #224
‪@davidebbo worked for me by deploying a JAR, hope to post a github example project. I also have a model for full runtime support.  email me if you'd like to discuss.

[2017-01-17 18:43] davidebbo commented on #224
Glad to hear, and looking forward to hear more about what you achieve using this technique.

As for discussion, we'd prefer to keep it public in the spirit on Open Source, unless there are some specific things that you prefer not to discuss publicly. Thanks!

[2017-01-17 19:24] fabiocav commented on #716
@dallancarr making a couple of assumptions here, but looks like you've deployed the project and were expecting those to be compiled and referenced by your function, is that correct?

Function project references in `project.json` are not currently supported, so this explains the issue.

If I'm missing something here, could you please open a separate issue with the details, project.json contents and

[2017-01-17 19:47] dallancarr commented on #716
It does, but these are nuget package references and thought they would be referenced correctly as part of the package restore. So I am a little confused as to why it didn't pick the indirect reference. I am happy to open a new issue. 😊

[2017-01-17 19:51] fabiocav commented on #716
To investigate, a new issue would be helpful. Curious to see what your `project.lock.json` looked like after the restore.

[2017-01-17 20:07] dallancarr commented on #716
The lock file looked good with the package correctly loaded on the drive.

Host 》Package A 》Package B 》Package C 》Shared Lib

I wanted Package B to ref the Shared Lib through Package C. Which worked fine inside a console app. But inside the azure function no joy. I need to proceed to also reference the Shared Lib inside Package C.

I wanted

[2017-01-17 20:08] fabiocav opened #1125 "Error when using a precompile function with extra methods."
_From @davidgouge on January 13, 2017 13:10_

Hi,

I have created a very simple Precompiled function (copied code from tool generated):

[code]

The dll this resides in is copied to the Function's folder and is linked up in function.json like this:

[code]

This all works fine.

What I then wanted to do was add a private method to be called from the Run method, so (baby steps) I added this to the

[2017-01-17 20:17] fabiocav commented on #716
If you can open an issue and point to a quick repro, that would help, otherwise I can open one so this gets triaged and we can take a look at it.

[2017-01-17 20:22] davidebbo commented on #691
@liricooli so I'm looking at your app and trying to make sense of your functions.

In the `blob-trigger-upload-test app`, you have a `TimerTriggerJS1` that is getting triggered every minute. But that function doesn't appear to do anything. i.e. it doesn't have any output bindings that would create a blob. Isn't that the Function that should be created a blob every minute? If not, who is doing that

[2017-01-17 20:30] dallancarr commented on #716
Please go ahead and create an issue if you think it warrants investigation. As this would be harder to repo since it is now working and devoting more time in our current sprint to this feature is becoming problematic. I can post you lock file of that would help.

[2017-01-17 22:15] 1N50MN14 commented on #298
For anyone interested I managed to find a reasonable workaround, dramatically reduced the cold start time for some of my functions from 2-3 minutes to few seconds. Here's what I did:

1. `node_modules` went into `.gitignore`
2. Created a dependency file which requires the modules I need from `node_modules`
3. Create a single server-side bundle file using browserify `browserify --node deps.js > dep

[2017-01-17 22:18] yvele commented on #298
@1N50MN14 Nice! I'm gonna try that but with webpack instead of browserify ;)

[2017-01-17 22:19] yvele commented on #298
@1N50MN14 You may have a look at https://github.com/asprouse/serverless-webpack-plugin

[2017-01-17 22:19] 1N50MN14 commented on #298
@yvele It should work with webpack too http://jlongster.com/Backend-Apps-with-Webpack--Part-I

Good luck:)

[2017-01-17 23:48] lindydonna commented on #1023
@paulbatum I assume that you assigned yourself since you're trying to find a new owner?

[2017-01-18 00:09] fabiocav commented on #1023
@lindydonna @paulbatum I'm actually a bit in limbo with a couple of other tasks and because of some investigation I've been doing on other issues, would be in a good position to knock this one out pretty quickly.

I'll leave it assigned to Paul but will plan to take this if not reassigned.

[2017-01-18 00:37] lindydonna opened #1127 "NuGet Cycle detected with ImageResizer NuGet package"
_From @bcnzer on November 23, 2016 9:3_

(This is my first-ever GitHub issue so please bear with me!)

I'm trying to build a simple Azure function that triggers on blobs, in order to resize images. Instructions are: http://jameschambers.com/2016/11/Resizing-Images-Using-Azure-Functions/

I added a project.json and a reference to ImageResizer as per below
[code]
Once I do and hit save the logs say

[2017-01-18 00:37] lindydonna commented on #1127
_From @davidfowl on November 23, 2016 9:38_

Change the name of your project... Is it ImageResizer?

[2017-01-18 00:37] lindydonna commented on #1127
_From @christopheranderson on November 23, 2016 18:28_

@fabiocav is looking into this now - we may need to move this into https://github.com/Azure/azure-webjobs-sdk-script

[2017-01-18 00:37] lindydonna commented on #1127
@davidfowl Thanks for the comment. Just out of curiosity, how did you find this random issue? :)

[2017-01-18 00:37] lindydonna commented on #1127
_From @davidfowl on November 23, 2016 18:44_

@lindydonna I see all... 😄

[2017-01-18 00:37] lindydonna commented on #1127
_From @fabiocav on November 23, 2016 19:1_

Interesting to see this happening with the function name you have above. This will typically occur if the function name (therefore the folder name) matches the name of the package you're referencing as it will be treated as the project name.

It's a bit odd that I couldn't find much information using that function name you've shared. Would you be able to

[2017-01-18 00:37] lindydonna commented on #1127
_From @davidfowl on November 24, 2016 7:17_

That's super strange. @fabiocav what does the folder look like behind the scenes? What does the `project.json` and `project.lock.json` look like for this project?

[2017-01-18 00:37] lindydonna commented on #1127
_From @bcnzer on November 24, 2016 7:41_

@fabiocav Sorry, the version I have now - that is live - its called CompImageResizer. I re-created this Azure Function over several times, thinking I did something wrong (this is my first Azure Function)

I don't think it has anything to do with the name ImageResizer. I created another function called **AFIssue814**, using the BlobTrigger-CSharp template a

[2017-01-18 00:37] lindydonna commented on #1127
_From @fabiocav on November 24, 2016 8:5_

@spottersys do you still have a function called `ImageResizer` in `d:\home\site\wwwroot`? Looks like that is being picked up. Can you delete that function and retry?

[2017-01-18 00:37] lindydonna commented on #1127
_From @bcnzer on November 24, 2016 8:20_

@fabiocav yes I do. I wasn't using that version (forgot it was there really) and now that I've deleted it, everything is working - in my other AFs. Thank you!

[2017-01-18 00:37] lindydonna commented on #1127
_From @fabiocav on November 24, 2016 9:29_

That is expected restore behavior, but as we just experience, may be confusing in the context of functions.

We might have some options to prevent this from happening, will investigate a couple of options. (@davidfowl any thoughts on this?)

At the very least, we can detect the issue and provide a clearer error message in those cases.

[2017-01-18 00:37] lindydonna commented on #1127
_From @davidfowl on November 24, 2016 15:41_

The lock file reveals all! It was seeing image resizer as a project reference. You might just need to restructure how functions are laid out on disk so that they aren't sibling folders. If that's not feasible, we might be able to come up with something else

[2017-01-18 00:37] lindydonna commented on #1127
_From @fabiocav on November 24, 2016 16:13_

It indeed gave us what we needed to figure out what was happening! :)

Changing the directory structure would be a pretty significant change to the runtime and would impact tooling, documentation, portal, etc. So that's not a viable option (at least not in this version)

I've played with a couple of options last night:

1. Project files named after the

[2017-01-18 00:37] lindydonna commented on #1127
Did we want this issue to be closed?  I'll reopen and @fabiocav can close if necessary. Also, we need to move to the -script repo if it is still a open issue.

[2017-01-18 00:53] kevinbayes commented on #298
@1N50MN14 that is exactly how we handle extensions to our code. We have a lib folder as a function that holds a bespoke SDK. Then we reference this from within our other functionapps.

Example:
/Library/sdk.js
/Function1/index.js

In /Library/sdk.js
`
var https = require('https');
var RestClient = (function () {
    //Some code
    return RestClient;
}());

exports.RestClient = RestClient;
`

In /

[2017-01-18 00:55] cloudkite commented on #298
for those considering bundling nodejs code with webpack, this might be helpful https://github.com/palmerhq/backpack

[2017-01-18 01:12] 1N50MN14 commented on #298
@kevinbayes Ah cool thank you good to know it's possible - this should reduce the need of keeping commonly used dependencies up to date in all functions :)

Now we just need to convince the IoT Hub team to support CORS so we could call our functions via websockets..

[2017-01-18 05:45] fabiocav commented on #1127
We can create a separate issue to address the root cause if desired (it would be an enhancement to prevent similar issues), but I believe this is pretty low priority at the moment (principally after the template changes). I did a quick log scan a while back and didn't see any other instances of this happening.

[2017-01-18 07:55] solvingJ commented on #224
I  wanted to discuss native Java support in a bit more depth offline because I have a previous "on-premise" JVM project which works very similar to azure function. In fact, it's more mature in some ways which might be instructive for the platform.  However, in retrospect it seems likely that the reasons native Java support hasn't been added are not related to a lack of Java developer availability

[2017-01-18 08:22] johnnliu commented on #292
Hi @yvele that's what I mean - Functions give a place to put the swagger definition file, but you need to spin up some other web site to host the json file.  I think Functions should serve the file too.  I can't find good guidance on where to create the file.

[2017-01-18 11:37] dallancarr commented on #716
Attached lock file
https://gist.github.com/dallancarr/bae2e04b82f1e3347fa6f74f67113c00

[2017-01-18 11:45] dallancarr commented on #716
I had to add a separate ref inside ExcelComponents.Reader.EPPlus to get it to compile.

` "ExcelComponents.Reader/4.1.0": {
33         "type": "package",
34         "dependencies": {
35           "ExcelComponents.Shared": "1.3.0"
36         },
37         "compile": {
38           "lib/net46/ExcelComponents.Reader.dll": {}
39         },
40         "runtime": {
41           "lib/net46/ExcelComponent

[2017-01-18 17:10] christopheranderson opened #1129 "Allow Event Hubs trigger to only listen on a single partition"
Event Hubs lets you have independent subscribers to different partitions. Some architectures have it such that different partitions are used for different things. Users may want to choose which ones are listened on for a given Function.

[2017-01-18 17:14] christopheranderson opened #1130 "Kill a given Function Execution"
If I have a long running Function I want to cancel, there isn't any way for me to do that today. I have to wait for the timeout I've set or restart the site.

Users would like the ability to cancel individual Functions, without impacting the whole Function App.

[2017-01-18 17:31] davidebbo commented on #224
Yes, you are correct that Python/PHP (which are only in Preview) currently work the same way. Basically, for each execution, we launch the process and pass it binding data via environment variables.

Right now, we don't have a clear timeframe for when the fuller support will happen. Though I am curious how far you are able to get using the limited approach I described.

[2017-01-18 18:19] paulbatum opened #1131 "Documentation on node.js functions"
_From @cesarvarela on January 14, 2017 3:12_

Can't find where is the convention for how node.js based functions should be defined. Does the main entry point must be called `index.js`? does it have to be specified in the `package.json`'s `main` entry? Is it possible to rename it or place it in another folder?

_Copied from original issue: projectkudu/AzureFunctionsPortal#868_

[2017-01-18 18:19] paulbatum commented on #1131
_From @cesarvarela on January 14, 2017 3:13_

Especificilly I'm interested in bots as a service functions.

[2017-01-18 18:19] paulbatum commented on #1131
@mamaso Can you answer this one?

[2017-01-18 18:30] #1097 closed

[2017-01-18 18:32] #1050 closed

[2017-01-18 18:39] #1003 closed

[2017-01-18 18:42] paulbatum commented on #989
@mamaso Did you file the edgejs bug? I'm wondering if we can close this one?

[2017-01-18 18:45] paulbatum commented on #1048
@mamaso So we went with the emit host logs approach right? I see thats merged, can we close this?

[2017-01-18 18:48] paulbatum commented on #999
@fabiocav any updates on this? If we don't have a date for when this is likely to be unblocked I think I should move it out of the January milestone.

[2017-01-18 19:03] jocawtho commented on #995
Currently testing a fix for this. Will update here when submitted.

[2017-01-18 19:09] fabiocav commented on #999
Still an ongoing discussion with the team. It's not likely to be unblocked in this milestone, but it sounds like there has been some work done to address this issue in 2.0.0 (Roslyn)

[2017-01-18 19:19] mamaso commented on #1131
@cesarvarela You can define the main entry point via a `scriptFile` property in function.json:
`{ scriptFile: 'src/test.js', bindings: ... }`

I like the idea to use the `main` entry point from package.json, that's less functions-specific magic.

[2017-01-18 19:24] mamaso commented on #1048
@mathewc and I chatted and decided to revert the logging part of the PR, we felt it wasn't worth the added complexity when the real part of the problem is in the scale controller and the host logs are not visible enough.

Keep this open for:
1. the scale controller work
2. the work to route BindingProvider traces to function logs (maybe)

[2017-01-18 19:30] cesarvarela commented on #1131
Thanks! Is that documented somewhere? I guess the `scripts` entries are ignored too right (postInstall, preinstall, etc..)?

Regarding the functions-specific-magic, yes please! I think any node developer would expect that node.js functions somehow adhere to the `package.json` conventions.

[2017-01-18 19:32] mamaso commented on #1131
At the moment, we don't run npm install on deployments of / changes to function code.  If you run npm install from dev console (function app settings -> dev console -> cd 'functionname' -> npm install) you should see that your preinstall / postinstall scripts execute

[2017-01-18 19:37] mamaso commented on #989
I filed an issue, it's not necessarily a bug.

Edge has some minimal documentation describing that 'native modules must be linked against the node.dll that edge uses'.  I've tried various configurations with node-gyp and my own test native module to no avail on that front.

Even if that is successful, native modules will not work out of the `npm install` box - we or the user would need to rebuild

[2017-01-18 19:40] cesarvarela commented on #1131
I would expect `npm install` to be ran too. Specifically because we use TypeScript and use post install to transpile.

Any suggestion on how can we manage that? (other than just pushing the transpiled js)

[2017-01-18 19:46] mamaso commented on #1131
Yep I agree, supporting `npm install` automatically for functions is on the backlog.

You could add a [custom deployment script](https://github.com/projectkudu/kudu/wiki/Custom-Deployment-Script) to the root of your function app which runs `npm install` for each of your functions

[2017-01-18 20:54] abatishchev commented on #727
+2

[2017-01-18 21:08] solvingJ commented on #224
I think your example clearly demonstrates it's capabilities.  It's great considering that just a few days ago using Java wasn't even considered possible.  The most common workflow I would see is to build and deploy FAT JARs with dependencies included, and run them via script.  It's certainly the only workflow I will use for Java.  Currently, the continuous integration benefits do not justify the a

[2017-01-18 21:09] kpfaulkner commented on #224
I've taken whats been documented at https://github.com/Azure/azure-webjobs-sdk-script/wiki/Creating-a-Java-Azure-Function and am trying to apply that to Go. The input message is fine, but I don't have any environment variable called "outputQueueItem".

Are there any other setup steps that I might have missed out that will create that?

[2017-01-18 21:13] davidebbo commented on #224
@kpfaulkner did you add the Output binding of type Azure Queue Storage? If you keep everything default, the message parameter name is `outputQueueItem`, which then causes the env variable to exist.

[2017-01-18 21:22] kpfaulkner commented on #224
Doh, that was it. Thanks :)

[2017-01-18 23:59] justinyoo opened #1133 "Precompiled Azure Functions with Dependency Error"
Hi, Team.

I know how to use `precompiled` Azure Functions by following the [official document](https://github.com/Azure/azure-webjobs-sdk-script/wiki/Precompiled-functions). It just works fine.

However, when I put the `TraceWriter` instance like:

    using System.Linq;
    using System.Net;
    using System.Net.Http;
    using System.Threading.Tasks;

    using Microsoft.Azure.WebJobs.Host;

[2017-01-19 00:21] christopheranderson commented on #1133
Could you provide the Function.json and the directory structure/files you are using when you run locally?

[2017-01-19 00:43] mathewc opened #1134 "OnDemand or Automatic Debug Level host logs"
Currently for our host logs, we log in Verbose mode. We need to consider adding the ability to log at a higher Debug/Trace level in error cases. Part of the complication here is that TraceLevel has Verbose as the highest level.

This would allow us to put a particular app in a higher logging mode temporarily, w/o bloating our regular steady state logs.

[2017-01-19 01:02] fabiocav commented on #1133
Can you also try to upgrade your reference to the WebJobs SDK 2.0.0 and give it another shot.

[2017-01-19 01:19] justinyoo commented on #1133
@christopheranderson @fabiocav Thanks! Once I update the reference SDK version to 2.0.0-beta2, it works. We might need to document the version of referencing SDK for external assemblies.

[2017-01-19 02:37] fabiocav commented on #1133
We have a couple of ideas to make that better than just relying on docs. One of them being a meta-package you can reference that would ensure you have the right dependencies.

[2017-01-19 02:40] #1125 closed

[2017-01-19 04:05] cesarvarela commented on #1131
Looks like the `scriptFile` setting is being ignored, you can try it by just moving the `index.js` file of the basic bot template to a folder and updating the `function.json` accordingly.

`messages: Unable to determine the primary function script. Try renaming your entry point script to 'run' (or 'index' in the case of Node), or alternatively you can specify the name of the entry point script exp

[2017-01-19 04:29] fabiocav commented on #1131
How timely :)

PR #1132 is just out (wrapping up a couple of remaining items) dealing with that exact issue. The problem is with script files outside of the function folder. Different file names work as expected.

[2017-01-19 07:38] solvingJ commented on #1119
I now believe that this is already done for C# during the dynamic compilation process based on this SO post.  Can anyone confirm?

[http://stackoverflow.com/questions/36411536/how-can-i-use-nuget-packages-in-my-azure-functions](http://stackoverflow.com/questions/36411536/how-can-i-use-nuget-packages-in-my-azure-functions)

Can anyone clarify the same question for NodeJS/JavaScript?

Thus, this req

[2017-01-19 12:10] devlead opened #1135 "PowerShell ignores integer status codes in response JSON"
If i have a function that tries to set the status code via an integer value it'll be ignored and always get 200.

Example
[code]
the above will ignore the set code and return everything ok to caller
![image](https://cloud.githubusercontent.com/assets/1647294/22104516/ca4f5292-de3f-11e6-8490-c4f2dc33897b.png)
whilst below when status code is declared as string
[code]
will use the code and return fi

[2017-01-19 12:29] devlead commented on #1135
PR #1136  submitted.

[2017-01-19 13:30] ricklove commented on #298
I was hoping webpack would be able to solve the problem. I'm glad to see that others have tried it.

I am also seeing start times upwards of 2 minutes using Azure Storage and other dependencies. Once warmed up, the function takes about 5 ms to respond.

I will try webpack and removing any need for node_modules.

I can't imagine what is going on behind the scenes, it's almost as if it is reinstalli

[2017-01-19 15:33] davidebbo commented on #298
Catching up on this. @1N50MN14 your approach sounds quite interesting! I see mentions of browserify, webpack, backpack, which seem to be alternative to achieve the same thing? It would be great if one of you could post step by step instructions on making that all work with an Azure Function, starting with a Function that has a large npm tree. Thanks!

[2017-01-19 15:38] davidebbo commented on #298
@ricklove It's all caused by a file system that's way slower than we'd like (it uses Azure File storage).

The approach we've been looking at involves zipping up all the contents into one file, and then use a special file system handler which basically uses the zip content as a read-only file system.

In some ways, it's probably analogous to the browserify/webpack techniques others describe here,

[2017-01-19 16:56] 1N50MN14 commented on #298
@davidebbo backpack is a build system around webpack, you can safely ignore that for now and focus on webpack and browserify - they're both "smart" module bundlers allowing you to use write CommonJS/node style code that runs in the browser. Instead of loading multiple `<script>` tags, you would instead require a node.js module the same way you'd do server side. When you bundle a file (say index.js

[2017-01-19 17:40] davidebbo commented on #298
@1N50MN14 thanks for all the info! So I'm trying this, and probably doing something dumb. My original test function has:

[code]

Then I create a deps.js with:

    require('azure-storage');

And I run `browserify --node deps.js > deps.bundle.js`. Then I upload the big `deps.bundle.js` to my function and delete the `node_modules` folder. What I don't get is: how should the code change to consume t

[2017-01-19 17:53] fabiocav commented on #1119
@solvingJ automatic package restore is indeed handled by the runtime for .NET functions (C#/F#).

In the context of CD/CI, App Service (which is what Azure Functions is built on) will restore Node packages specified in a `packages.json` file at the site root. So that is handled as well.

[2017-01-19 18:00] petrce opened #1137 "Referencing Nuget in External Assembly and Azure Function throws a runtime exception"
#### Repro steps
If I am using the same type from custom Nuget Library (net46 classic .csproj) in **both External Assembly and Azure Function** and I am using this Nuget type for calling a method from External Assembly the Azure Function fails locally in VS2015.

e.g.:
[code]

#### Expected behavior

No error displayed.

#### Actual behavior

Error during local debugging:
[code]

#### Known workar

[2017-01-19 18:04] 1N50MN14 commented on #298
@davidebbo No worries! Assuming this is your function is in `index.src.js`
[code]
You would normally run `browserify  --node index.src.js > index.js`, where `index.js` is a bundle which contains your module.exports along with all of the code that needs to run. But for some reason (I might be wrong), Azure Functions checks for the physical presence of `module.exports = function(context)` and throws

[2017-01-19 18:19] davidebbo commented on #298
Yep, that works, thanks! I'll play with it some more.

Now one big question is: to what extent could this be automated, such that we could make things 'fast' when the user uploads something 'slow'? I'd guess with some parsing we could extract all the `require` from the function, create the pack, and then change the code to use it. e.g. it's something that could happen as a post step during git dep

[2017-01-19 18:40] 1N50MN14 commented on #298
@davidebbo imho it's nearly impossible to automate this and obtain 100% coverage at the same time, it's the nature of the beast seen it with Lambda as well, specially when / if you support direct install from `package.json` (how do you deal with binary modules aka `node-gyp` based etc). What you're describing is pretty much a build toolchain (hence my previous comment to ignore backpack for now),

[2017-01-19 19:06] cloudkite commented on #298
@davidebbo I agree with @1N50MN14 that this belongs in user land.

Bundling may fail depending on what nodejs modules the project includes.
Webpack and Browersify will work fine for frontend bundling, but may fail to bundle some backend specific nodejs modules as they maybe using require in weird ways (dynamic requires) or have binary dependencies.

[2017-01-19 19:25] 1N50MN14 commented on #298
It's actually interesting, `azure-storage` (since it was mentioned in the sample) fails to bundle for browser use (https://github.com/Azure/azure-storage-node/issues/198) whereas it succeeds for node.js use - I'm assuming modules that depends on compilation upon npm install are the ones most bound to break (which kind of makes sense given different environments)

[2017-01-19 19:39] securityvoid commented on #298
@davidebbo If you're thinking of implementing this as a deploy script, I don't see any reason why this couldn't be a user-land choice; but still a built-in as a feature.

e.g. You create a new function-app and there is a drop-down that gives a list of a couple of built-in deploy scripts. You have tooltips/notes which let you know the advantages of one over another; and big warnings that you may ne

[2017-01-19 20:09] ricklove commented on #298
@davidebbo

I spent this morning updating my build tool to use webpack and it is working great now:

![Webpack Performance](https://toldazureblobaccesstest.blob.core.windows.net/test/WebpackPerformance.png)

You can look at my build tool here, but it's for typescript and does some extra stuff:

https://github.com/toldsoftware/azure-functions-server

This is the config I use to call webpack (v2.2.0

[2017-01-19 20:30] davidebbo commented on #298
Point taken about not trying to do it all by magic. Offering the option via deployment script does seem like a reasonable approach to look into.

@ricklove thanks for sharing your perf numbers and tools. If you try hitting it every 10 minutes, you will likely more consistently get a big difference, as the Function App would have fallen asleep by then.

[2017-01-19 20:41] ricklove commented on #298
Ah, I assumed it shut down after 5 mins (and got impatient sometimes)

[2017-01-19 20:51] 1N50MN14 opened #1139 "Please lobby the IoT Hub team so we could run AF over websockets"
The whole point of Azure Functions is to take away the worry about infrastructure and provisioning of servers. However, as we live in 2017 it's fundamentally important that we are able to talk to Azure Functions over websockets.

Azure IoT Hub is a broker that supports MQTT over WebSockets. Azure Functions on the other hand supports both IoT Hub triggers and outputs. This means we could run client

[2017-01-19 20:53] 1N50MN14 commented on #298
For anyone that's interested in talking to their super awesome Azure Functions over websockets please +1 issue #1139

//cc @davidebbo

[2017-01-19 21:16] #863 closed

[2017-01-19 21:27] robertmuehsig commented on #688
Just a "dumb" question: I have a precompiled .exe that I invoke in Azure Functions and I have this Trace at the start:
Trace.TraceInformation("Console App started.");

Nothing happens - is this related to the bug or do I just miss something?

[2017-01-19 21:30] lindydonna commented on #1010
This issue was moved to Azure/Azure-Functions#155

[2017-01-19 21:30] #1010 closed

[2017-01-19 21:46] ricklove commented on #298
@1N50MN14 I've searched for that before, but I didn't think it was possible. Thanks!

[2017-01-19 22:04] 1N50MN14 commented on #298
@ricklove Yup, unfortunately long polling is not an option for me :( crossing my fingers someone will take notice.. I've seen couple of stackoverflow posts and even a request about this issue since late 2015, I was surprised that CORS support was even a question..

[2017-01-19 22:07] davidebbo commented on #298
Guys, would be best to discuss that on #1139, as it's pretty unrelated to this issue :)

[2017-01-20 00:35] #1135 closed

[2017-01-20 01:00] mathewc commented on #1095
What is EDGE_DEBUG output, and this other debug output from modules you refer to? Can you give some examples?

[2017-01-20 02:37] mathewc opened #1140 "Nuget package needs to include Content"
When we made changes to move the script files to a content directory, we didn't update the nuget package for Microsoft.Azure.WebJobs.Script to include this and ensure it is added as content in any project adding the package.

This came up recently in https://github.com/Azure/azure-webjobs-sdk-script-samples/issues/1. I updated that sample to our latest packages and it currently won't run unless yo

[2017-01-20 03:08] ricklove commented on #298
Ok, I set up an automated timer to test this and have consistent results now: Using Webpack is 25x faster.

![Webpack Performance](https://toldazureblobaccesstest.blob.core.windows.net/test/WebpackPerformance2.png)

[2017-01-20 05:36] ricklove commented on #969
This is a problem with wildcards as well (I'm using node.js):

[code]

This works fine for any route unless the route has a filename with extension at the end (with or without query string).

Adding a trailing / does fix it.

Since I am using node.js, I'm not sure how to control the IIS settings mentioned above that are normally controlled by web.config.

Note: I also found another web.config sett

[2017-01-20 07:16] ricklove commented on #848
@mikezks You mentioned:

I want to be able to serve files from a CDN that is backed by my Azure Functions. I was able to serve the files fine using a wildcard route and a Http Function that responds with the correct file.

Then, I was wondering if Azure CDN would work:

So I setup Azure CDN and pointed it to my dynamic azure functions app. It allowed me to configure it fine. However, whenever I tr

[2017-01-20 10:31] haefele commented on #995
I believe that I ran into the same issue.
My function should've run at 7.30 AM (cron expression is "0 30 7 * * *") and the time-zone is "W. Europe Standard Time".
But it did not get executed.

[2017-01-20 13:29] piorot opened #1141 "Queue part of host.json has no impact on how WebJobs perform"
Webjobs seem to ignore queue settings in host.json regarding batchSize, newBatchThreshold and visibilityTimeout. The initial goal is to take only one message into execution and the next one when the first is finished. Curently webjob seems to execute as much as possible at once what leads to plenty of Never Finished jobs.

#### Repro steps
Given we have a valid json file in WebJob folder that desc

[2017-01-20 16:15] davidebbo commented on #995
@haefele the fix has not yet been deployed, so that is expected.

[2017-01-20 17:34] mathewc commented on #1141
Are you running in our Consumption plan? The reason I ask is that all of those queue configuration knobs affect processing on a **single instance**. That's why things are working for you when you run locally I believe - there is only a single instance.  When running in Consumption, our platform will spin up multiple instances based on queue length and other factors. Each of those instances is goin

[2017-01-20 18:28] christopheranderson commented on #1087
Done

[2017-01-20 18:28] #1087 closed

[2017-01-20 18:29] paulbatum commented on #1090
@mamaso Well @fabiocav and @mathewc think there should be an entry in FunctionsLog... you don't see it?

[2017-01-20 18:39] christopheranderson commented on #1110
Will reopen if there is further issues

[2017-01-20 18:39] #1110 closed

[2017-01-20 18:42] paulbatum commented on #1100
@martinabbott I know its somewhat hacky, but a common workaround for this scenario is to setup your new function but to remove the actual processing logic. It would trigger over all your blobs but it doesn't do anything other than record that its processed all those blobs. Then you go ahead and re-add your processing logic.

We have some long term plans around significant modifications of how blob

[2017-01-20 18:42] #1100 closed

[2017-01-20 18:48] christopheranderson commented on #1122
We already have logs in the dashboard which we can grab. We need an invocation id to be returned from invoke API.

[2017-01-20 18:49] paulbatum commented on #1121
@brettsam can you take a look at this and see if you can figure out if its timeout related? I wonder if instead the process is crashing and thats why the status appears as never finished.

[2017-01-20 18:52] christopheranderson commented on #1127
Close this since template change addressed main source of the issue. We can open another issue if it comes again.

[2017-01-20 18:52] #1127 closed

[2017-01-20 18:53] christopheranderson commented on #1131
If there are still doc issues, we should open in azure/azure-functions.

[2017-01-20 18:54] christopheranderson commented on #1133
Resolved

[2017-01-20 18:54] #1133 closed

[2017-01-20 19:32] mathewc commented on #1115
This issue is replaced by https://github.com/Azure/azure-webjobs-sdk/issues/980, so closing this. If we do that work, Functions could build on that foundation to add a declarative trigger binding data validation model.

[2017-01-20 19:32] #1115 closed

[2017-01-21 06:57] ricklove commented on #620
@satjinder Thanks for the tip that removing all CORS entries allows for the headers to be set manually in the response in code.

That solved my problem, and I can have my own custom logic for checking valid domains now.

[2017-01-21 10:24] piorot commented on #1141
Thank you for attention in the issue.

Exactly, I did steps described in the link you have posted. Yes it is continous WebJob, that is polling azure queue.

As far as I know the WebApp is not scaling either up or out as I have never set any of those. Nevertheless I will check these and post here the feedback.

[2017-01-21 17:06] davidebbo commented on #298
@ricklove thanks for sharing your numbers!

I think the key here is to iron out the process to make it easier for any Node developer to move to this model. This can hopefully be done with a mix of:

- Good documentation, walkthroughs, samples, etc,,,
- Possibly some tooling that makes this easier
- Possibly some Kudu deployment script support to help automate some of it as discussed above

[2017-01-21 18:08] KaiWalter commented on #340
Hello

count me in. I got the same problem.

Thanks
Kai

[2017-01-22 02:26] navilwayne commented on #340
Hi Kai
Please refer below link & solved ur problem:
Azure Function Not Triggering by Event Hub #122

U have to remove entity path from connection string in last. Then it will work.

[2017-01-22 02:39] ansario opened #1143 "Nuget Packages Not Found in Precompiled Azure Function"
When using Application Insights 2.2.0 in an Azure Function csx, there is no issue. When using the same in a pre compiled Azure Function, an error is thrown:

#### Repro steps

Create an Azure Function and simply instantiate a Telemetry Client in a csx file. This should work fine. Doing the same in a precompiled function results in an error.

#### Expected behavior

No Error

#### Actual behavior

[2017-01-22 15:35] MarkTiedemann commented on #298
I think, first of all, there should be a friendly warning, and perhaps an explanation, in the portal that, as of now, cold start performance may be several seconds (or even minutes) when using external dependencies.

This kind of ruined my Azure honeymoon: I spent a few hours happily writing Azure Functions, blissfully unaware that, for my use-case, where cold start performance may not be longer t

[2017-01-22 20:07] MarkTiedemann commented on #298
**Simple No-Bundling Workaround:**

I have 4 functions, each using `mongodb`. Instead of installing mongo in each of the function-directories, I install it in the root folder (e.g.: `D:\home\site\wwwroot`). Then, in my functions, I require mongo as follows: `require('./../node_modules/mongodb')`. This reduced the cold-start time from `>30s` to `<100ms`.

[2017-01-23 03:23] davidebbo commented on #298
@MarkTiedemann agreed that we'll want the UI guiding users toward this technique,

Yes, the (edited) behavior you describe is what I would expect. This helps a bit but does not solve the fundamental issue that at some point, the big module tree is going to need to get processed.

[2017-01-23 07:54] piorot commented on #1141
There is no scaling out set.

Today morning after whole weekend of idle the posted settings started to work. It behave as expected: I have posted 20 messeges at once. I could have observed them being taken into execution in batches of 6 so I have seen in MS Azure Storage Explorer 20 messages before it all started, than I have seen 14, than 8, than 2 and at the end all were successfully executed -

[2017-01-23 09:49] liricooli commented on #691
sorry for not replying earlier - I was busy getting married :)
You are correct that `TimeTriggerJS1` function in `blob-trigger-upload-test` app is not doing anything.
However, this function is configured to write diagnostic logs to a container. This is the container our blob trigger function is monitoring.

[2017-01-23 14:21] brettsam commented on #1121
@laurence-hudson-tessella -- can you tell me your **Function App** name either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)? Then I can dig into some logs to see if I can figure out what's happening.

[2017-01-23 17:52] #1140 closed

[2017-01-23 17:57] theMichaelB opened #1144 "Let me choose my version of PowerShell"
As the title says really!

I'm using Functions as an alternative to Automation (because of the simple interaction with queues etc) but the fact that it is running such an old version of Azure PS is being frustrating (especially with regards to tags)

Is there a way to upgrade Azure PS?

[2017-01-23 20:50] davidebbo commented on #691
@liricooli First congrats!! 🍾 🎉

So I looked into your scenario in more details, and I now understand exactly what's going on. The problem is that the diagnostic logs settings you're using don't really work with Function apps. I just opened https://github.com/projectkudu/AzureFunctionsPortal/issues/885 to track improving this.

So effectively, the issue in your case is not that the function listen

[2017-01-23 21:08] mamaso commented on #1131
Closing this out, the only actionable piece here is adding package.json `main` to serve as a `scriptFile` default, but I think that would be better addressed in #73 if we implement it

[2017-01-23 21:08] #1131 closed

[2017-01-23 22:06] mamaso commented on #1134
Rather than add new levels, I'd suggest that we move any important system logs to `Info` and use `Verbose` as our debug tracing level.

Looking at our current verbose logs, we have:
- TraceHostSecretGeneration
- TraceStaleHostSecretRefresh
- F# compilation failed with args ...
- Loaded powershell modules
- Failed to acquire host blob lease / released blob lease
- Singleton lock acquisition/release

[2017-01-23 23:06] fabiocav commented on #1143
For precompiled functions, there's no package resolution at runtime. The behavior here is similar to deploying other application types (console, web, etc.) where its dependencies should be deployed with it.

You want to deploy everything that is in the output of your project.

[2017-01-23 23:06] #1143 closed

[2017-01-24 01:43] christopheranderson opened #1146 "allow periods in the final path of a route"
I can't have a url like "https://foobar.azurewebsites.net/api/foo/hello.html" - it throws returns a 404.

## Repro:

### Code:

[code]

### function.json

[code]

[2017-01-24 03:52] ricklove commented on #298
@MarkTiedemann, I have had some improvement running a keep alive timed trigger that runs every 4 mins and calls my functions. I pass a query ?ping=true, that returns "pong" instead of trying to process the result.

[code]

From: https://github.com/toldsoftware/azure-functions-server/blob/master/src-server/example-timer-keep-alive.ts

[code]

I don't know what this does to costs, but I guess I'll f

[2017-01-24 09:53] MarkTiedemann commented on #298
Yeah, I am doing the same to keep my functions warm.

BTW, the [first 1 million executions per month are free](https://azure.microsoft.com/en-us/pricing/details/functions/). If you run your keep-alive function every 4 minutes, there are `60 / 4 * 24 * 30.4 = 10944`  function calls a month (times 2 for the function being called by the keep-alive function), so plenty of free function calls left. :)

[2017-01-24 19:38] SyntaxC4 commented on #1120
Hi Steve, It looks like you've tracked this bug in multiple places. Can we consolidate on https://github.com/Azure/Azure-Functions/issues/156 as the tracking Issue?

[2017-01-24 19:38] SyntaxC4 commented on #1120
@christopheranderson - We can close this issue down as it's tracked in Azure-Functions.

[2017-01-24 19:57] pragnagopa opened #1147 "[NodeJS]Creating documentdb client in javascript function is taking upto 20secs"
Sometimes, creating documentdb client in javascript function is taking upto 20secs. This does not happen consistently. Does not repro when running locally.
Need to investigate further.

#### Repro steps

Provide the steps required to reproduce the problem

1. Create a javascript funtion: TimerTrigger.

2. Add pacakage.json including dependency on documentdb module

Function code:

module.exports =

[2017-01-24 20:32] yvele commented on #1147
@pragnagopa Maybe related to https://github.com/Azure/azure-webjobs-sdk-script/issues/298 ?

[2017-01-24 21:01] securityvoid commented on #620
@ricklove Can you please clarify what you did?

This is my code:
[code]

When I clear all URLS from API -> CORS in the Azure Portal the "Access-Control-Allow-Credentials" header works properly and is set to true, but "Access-Control-Allow-Origin" is not passed through and therefore is not set.

When I set API -> CORS in the Azure Portal to my domain name, that header is set properly, but Access-Co

[2017-01-24 21:29] SteveALee commented on #1120
@SyntaxC4 Thanks, yes indeed. I tried to find I over there and thought I must have not actually submitted. It was a mistake to do it here!

Closing as Duplicate of Azure/Azure-Functions#156

[2017-01-24 21:29] #1120 closed

[2017-01-24 21:43] pragnagopa commented on #1147
@yvele - Yes. Does not repro in AppService plan.

[2017-01-24 21:43] pragnagopa commented on #1147
Closing this a dup of #298

[2017-01-24 21:43] #1147 closed

[2017-01-24 22:29] anthonychu commented on #1147
@pragnagopa I notice you are requiring documentdb inside the function. What happens if you move that line to the top of the file?

[2017-01-24 23:23] xpouyat commented on #292
Some good info here: http://anthonychu.ca/post/restful-apis-swagger-openapi-azure-functions/

[2017-01-25 01:16] ricklove commented on #620
@securityvoid

That's not the behavior I obtained when I removed all entries in the CORS settings (in the Functions area). Note: There is no wildcard entry and I am getting an error in the portal that says, "CORS is not configured for this function app. "

Both my headers are getting through fine:

[code]

[code]

And here are my response headers in Chrome:

[code]

After looking through the code,

[2017-01-25 01:24] ricklove commented on #298
@MarkTiedemann Of course, that is assuming the keep-alive is in the same azure functions app, I might just create a keep-alive functions app that is dedicated for calling others (and that way it can go through a list of urls at once). In fact, that also allows me to create my own service health monitoring system that can send me an alert if I have a non-responsive service... I love azure functions

[2017-01-25 04:17] johnnliu commented on #292
I kind of think it's brilliant and sad at the same time that we need to write a second function to return the json file for the first function ;-)

Starting to think it might be cheaper to use Azure Blob Storage and CDN cache link for just one file, depending on how often various services hit the endpoint to grab the json file.

[2017-01-25 18:15] lindydonna opened #1148 "Standard Web App logging UI can cause confusion with Functions logging story"
_From @davidebbo on January 23, 2017 20:35_

This came up in https://github.com/Azure/azure-webjobs-sdk-script/issues/691.

In a Function App, you can go to the general Web App loggins UI, and turn on logging to blob storage. The problem is that the Function runtime does not make use of this kind of logging, so this is effectively useless.

When the Portal is open, it does cause a cryptic log entr

[2017-01-25 18:15] lindydonna commented on #1148
_From @christopheranderson on January 23, 2017 21:42_

The simple answer is to disable this.

If we wanted this feature to work, it likely has to be part of the Diagnostics Log feature we discussed, but we're still not sure what the story for App Service is.

[2017-01-25 18:15] lindydonna commented on #1148
@davidebbo Do you have any objections with disabling this UI altogether?

[2017-01-25 18:20] davidebbo commented on #1148
I think it's the simplest approach now.

[2017-01-25 18:21] lindydonna commented on #1148
Closing due to wrong issue moved

[2017-01-25 18:21] #1148 closed

[2017-01-25 18:34] lindydonna opened #1149 "Function app blade throws errors when opening"
_From @rndthoughts on January 24, 2017 14:38_

My existing Function app started throwing errors which appear in the browser as a red box indicating "We are unable to reach your function app (Internal Server Error). Please try again later".  In the browser console, the following can be seen:

[code]

[code]

I have tried signing out and back in with and without browser closing, multiple browsers, c

[2017-01-25 18:34] lindydonna commented on #1149
@fabiocav Could you investigate?  Seems related to keys.

[2017-01-25 18:39] lindydonna opened #1150 "Enhance host ID generation to allow the same set of characters as a Function App name"
From @mathewc in issue: https://github.com/projectkudu/AzureFunctionsPortal/issues/883

The right fix is to change the script host to handle these characters. Otherwise, we need to do the following:
- Change the Web Apps RP to disallow these function app names at the API layer
- Update Ibiza and FunkyUX to validate
- Update Visual Studio

[2017-01-25 18:47] paulbatum commented on #727
A quick update - we're beginning work on this. Expect more activity on this topic in February.

[2017-01-25 19:42] Sampath-Lokuge opened #1151 "Set a Content-Type"
Hi,

I have followed [Background image thumbnail processing with Azure Functions and NodeJS](http://www.stevenfollis.com/2016/09/24/background-image-processing-with-azure-functions-and-nodejs/) article to create Azure functions.It is working fine. The problem which I have is, how to set the `Content-Type` on the thumbnailed image.At this moment it is Stream.

**function.json**

[code]

I have trie

[2017-01-25 19:51] mamaso commented on #1151
Hey @Sampath-Lokuge

I responded to your [stackoverflow post](http://stackoverflow.com/questions/41858321/set-thumbnail-image-content-type)

Couple quick things, `stream` is not a stream, it's a buffer.  That's good, because we don't support returning strings from node functions just yet.

Also, you can set the content type on the response object (`context.res`) via `context.res.type('text/plain')

[2017-01-25 19:51] #1151 closed

[2017-01-25 20:01] mamaso opened #1152 "Fix content-disposition parsing"
As it stands, `content-disposition: attachment; filename="test.txt"` will fail to parse.

Need to figure out a way to support valid
[code]
instead of [current parsing](https://github.com/Azure/azure-webjobs-sdk-script/blob/dev/src/WebJobs.Script/Binding/HttpBinding.cs#L305)

[2017-01-25 20:16] Sampath-Lokuge commented on #1151
Hi @mamaso

Still, it is not working for me.This is the final code.please check whether is that ok or not?

[code]

[2017-01-25 20:48] mamaso commented on #1151
Ah, my mistake, I thought that you were using an http response binding.  I see that you're using a blob output binding.

Unfortunately there isn't a way to specify the content type for a blob from node.  You could chose to drop the blob output binding and explicitly use the azure storage sdk inside your function to store the blob, which would give you access to the blob.

Also, a C# function has t

[2017-01-25 20:54] Sampath-Lokuge commented on #1151
Hi @mamaso

On node there is a way to do that.

[code]

Don't we have a way to convert this into Azure function? Can't we use it like this?

[code]

[2017-01-25 21:00] mamaso commented on #1151
It depends on what your goal is: do you want to send an http response with the blob as body and content type set correctly? Yes, it can be done (that's what the node example is doing).

If you want to store the blob in azure storage with a content type, that is not possible via node (unless if you use the azure storage sdk).

[2017-01-25 21:37] mamaso commented on #1151
It seems that you're using your function to create the thumbnails, once they're created and uploaded in the blob (which your original function should accomplish, without the content-type) I think you can use an `<img src="path/to/blob/thumbnail">` in your UI (assuming html based).

[2017-01-25 21:43] Sampath-Lokuge commented on #1151
Hi @mamaso

Yes, it is HTML based.I have tried that.Hence it is a file type (Stream), it's automatically downloaded instead of showing on the UI. But if we have an image type then no problem, we can show it on the UI. That is the issue right now.

[2017-01-25 21:56] Sampath-Lokuge commented on #1151
Hi @mamaso

You're right.That is my bad.Thanks a lot for your support.Have a nice day ahead!

[2017-01-25 22:03] mamaso commented on #1151
Great, happy to help, have a good one!

[2017-01-26 04:33] mathewc commented on #1150
Many of the character restrictions on HostID are due to the fact that host ID is used in the names of several different storage artifacts (e.g. blob names, queue names, etc.). We can't break any of that - lots of downstream assumptions are made on the current longstanding restrictions.

[2017-01-26 04:37] mathewc commented on #1134
We'd have to do this up and down the stack, core SDK, Extensions, etc. not just in Functions. The log levels of all existing logs are at the correct levels now and I'd rather not reevaluate all that. The ability to have a higher log level has ome up before, and I think it would be a good addition. @brettsam had need for this a while ago in some blob scan logic he had, but due to the lack of the ab

[2017-01-26 04:45] mathewc commented on #1116
I was able to reproduce this behavior - something does seem wrong here. @mamaso do you have time to look into this? If a JSON array payload is returned from a PHP script, we should be handling it correctly, as we do when a JSON object is returned.

[2017-01-26 05:45] mathewc commented on #1141
The dashboard image you show above with all the "Running" lines - if all you have is a single continuous WebJob deployed, you should only see a single "Running" line in the dashboard for that WebJob. Can you expand the image you provided above to also show the name of the webjob? Are they all the same, indicating that it isn't a single continuous job running, but multiple instances of the same job

[2017-01-26 10:16] rndthoughts commented on #1149
Update on this - my scenario is that I deleted the Function app and recreated it with the same name and storage account not realising that the associated folders in the azure-webjobs-hosts remains after deletion.  Therefore I'm guessing the new functions app was trying to use the data from the same folder created by the previous one.

I'm guessing the solution to this is for Azure to remove the st

[2017-01-26 11:31] chrisaut commented on #953
Has this rolled out yet? I feel like I'm seeing the same problem.

As a workaround, how do you kill the app in Kudu? I go to process explorer, and then command line and try taskkill pid or kill pid but I always get permission denied.

How can I force a reload of the app?

[2017-01-26 12:21] rndthoughts commented on #1149
Futher update :)

All WAS well, and then I attempted to deploy my changes again (I'm using VSO Build + Release with a WebDeploy step).  I have two functions apps - test and live.  I deployed to test with no problems but when I deployed the same code to live deployment the same errors came back about missing keys and the default key entries are missing under each function's "Manage" tab although th

[2017-01-26 14:40] brettsam commented on #1134
I'm also thinking through some of this with the App Insights integration (#727), which will likely require some reshaping of how we log.

[2017-01-26 16:01] davidgouge commented on #1137
I've seen this same behaviour with the WindowsAzure.Storage nuget package but have so far been unable to reliably reproduce.  The FusionLog in the exception shows that the 'old' version of the DLL that's supplied in the same folder of func.exe is the one that is trying to load instead of the nuget one.

[2017-01-26 18:32] mamaso commented on #1134
My primary question is: do we need system logs to default to verbose level? Has this been useful for debugging purposes? In my experience it has not been.

If that's the case for most, then it's a very simple change to swap to logging system logs at info and using verbose as that higher debug log level.

What do you see as the difference between a `verbose` log and a `silly` log? What would the bl

[2017-01-26 18:38] mamaso commented on #1116
Yep I'll take a look.

[2017-01-26 20:05] lindydonna commented on #1149
@rndthoughts Are you using the new Functions project type to deploy from VSO?  Also, could you provide the directory structure that you are deploying?

[2017-01-26 20:07] lindydonna commented on #1150
@mathewc Is there a way to escape these illegal characters?  If not, we have to start a fairly big chunk of work to disallow them.

[2017-01-26 22:32] rayluo opened #1154 "Azure Functions emits error when encountering duplicated fields foo=bar&foo=baz"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. I create my first Azure Functions (an HTTP trigger function, using Python, deployed from github, into US WEST, ...)

2. Trigger my function with duplicated parameters in URL. Such as `https://myapp.azurewebsites.net/api/myfunc?foo=bar&foo=baz`

#### Expected behavior

My f

[2017-01-26 22:48] #1152 closed

[2017-01-26 23:47] christopheranderson commented on #688
This is an .exe you're invoking via PowerShell or something?

[2017-01-26 23:50] mamaso commented on #1146
probably a dupe of #969

[2017-01-27 00:14] christopheranderson commented on #1149
@lindydonna - we could solve this by adding some random characters to the name we use for the file content store - this would be added to the arm template you use from the portal "New Function App"

@fabiocav - suggests we could also let you choose the encryption key as a feature. This would allow us to roll the encryption key that is used to protect the secrets. This already works, we just need t

[2017-01-27 00:14] christopheranderson commented on #1146
Closing as dupe

[2017-01-27 00:14] #1146 closed

[2017-01-27 00:16] christopheranderson commented on #1144
This isn't possible today - I've editted the title to track this as a feature request.

[2017-01-27 00:19] christopheranderson commented on #1090
@mamaso - poke

[2017-01-27 00:19] #1090 closed

[2017-01-27 00:23] #1119 closed

[2017-01-27 00:57] lindydonna opened #1157 "Enable 64-bit environment"
We currently disable setting 64-bit in Web App Settings for both Dynamic and App Service plans. This was mainly due to lack of testing for 64-bit scenarios, particularly for JavaScript.

[2017-01-27 01:36] lindydonna commented on #1149
@christopheranderson Agree. The first can be done in only Ibiza as a tactical fix.

[2017-01-27 01:45] lindydonna commented on #1149
@rndthoughts We're going to fix this by adding random characters to the content share path. See https://github.com/projectkudu/AzureFunctionsPortal/issues/893.

I recommend you do the following to fix your apps:
- Delete the function app
- Delete the file shares where your code lives (see screenshot below)
- Redeploy

If you are deploying with an ARM template, you can use a template parameter to c

[2017-01-27 03:18] chrisaut commented on #953
Going to Function App Settings/Configure App Settings and changing a value there did force a reload. After that the correct dll seemed to get loaded.

So can you please confirm that the fix for this is not yet rolled out, or otherwise reopen this issue.

[2017-01-27 03:47] mathewc commented on #1152
How did you find this one - was it user reported?

[2017-01-27 04:01] mathewc commented on #1154
Yeah, we should map duplicated query params in a "last one wins" fashion, and make the raw query string available to your function via REQ_QUERY (as we do for individual REQ_QUERY_XXX params).

[2017-01-27 04:28] mathewc commented on #1141
Also wondering if this isn't related to https://github.com/Azure/azure-webjobs-sdk-script/issues/1118. In that issue it is also reported that multiple host instances are being started.

[2017-01-27 05:10] ranjan545486 commented on #224
@davidebbo, how can we get to run the Http GET (CRUD)/POST/PUT/DELETE for Java using the above way? Our requirement is to write Function App (REST) for our COTS layer.

[2017-01-27 07:15] piorot commented on #1141
The image I have posted previousely might be misleading. There were "running" on functions invocations not webjobs.

![image](https://cloud.githubusercontent.com/assets/18365032/22362644/7d1d5c00-e464-11e6-93b2-666629f40273.png)

This is what happens when I post batch of 40 messages and have settings exactly like in the repo : [https://github.com/piorot/web-job](https://github.com/piorot/web-job)

[2017-01-27 09:15] rndthoughts commented on #1149
@lindydonna I agree that the random characters addition would fix issues of the recreation of the functions app with the same name but I also got the same key issues when i created a brand new functions app in the same storage account with a different name.  Thanks for clarifying about the File Shares though, i didn't realise that was where the files were stored!

[2017-01-27 10:40] theMichaelB commented on #1144
Would that include which version of Azure PS as well? (having the rest of the Azure modules would be nice too - Service Fabric, AD, etc) It could make Functions a really useful management platform (Automation has the same failings)

[2017-01-27 10:50] DavidBrower commented on #838
I have just created my first Azure function in order to compare it to AWS lambda. All the function does is return a random entry from a static `List<string>` that contains around 100 elements. When calling the function with a 'cold start' it sometime takes around 35 secs to respond. Subsequent requests take about 0.2 seconds.

My concern is that one of the reasons for exploring serverless function

[2017-01-27 14:11] solvingJ commented on #85
We're also interested in dynamic out bindings, but for a slightly different use case.

Our preliminary application roadmap has more than 20 functions, all of which can and will be chained together in multiple workflows.  There is very little guidance beyond very simple use cases, so the vision we came up with is to use an approach that is rooted in functional programming.

We wish to treat each fu

[2017-01-27 17:41] mamaso commented on #1152
Was running through this scenario: http://stackoverflow.com/questions/41830321/outputting-a-file-with-an-azure-function

[2017-01-27 18:37] lindydonna commented on #1149
Reopening issue since @rndthoughts is still seeing an error with a new Function App (with a new name) using the same storage account.

@rndthoughts Could you please share the exact repro steps?

[2017-01-27 19:07] securityvoid commented on #620
@ricklove Thank-you. Implementing your code helped me isolate the issue.

Apparently because I cleared out the "deployments" directory of logs, it actually caused my future deployments to say they were working, but actually fail to put my code into wwwroot. (I'm continuously deploying based on a git repository). As a result when I *thought* I was putting other code out to add new headers... I actu

[2017-01-28 01:01] mathewc commented on #1141
I pulled your project and ran it locally. I changed the batch size to 3 and newBatchThreshold to 1, enqueued 12 messages before starting the host, then started. Here is my output - the batching appears to be working fine for me, with messages being processed in batches of 3:

[code]

I had modified your function code logging statement output to:

[code]

[2017-01-28 01:13] mathewc commented on #1154
Duplicate query parameters will no longer cause errors. The behavior is now "last wins". In addition, I've made the original URL and query string available via REQ_ORIGINAL_URL and REQ_QUERY variables.

[2017-01-28 01:13] #1154 closed

[2017-01-30 10:08] rndthoughts commented on #1149
The steps I took were:

# Create Functions App with a given name and storage account.
# Create a sample function (I used the C# Timer one)
# Go to app service settings and delete the application in Azure.
# Create a new Functions App with a different name and the same storage account.
# Open the Function app in the Azure portal - the keys errors appear.

[2017-01-30 10:46] robertmuehsig commented on #688
@christopheranderson Via a run.bat file

[2017-01-30 10:50] pgroene opened #1160 "Timer Function on Consumption plan stops tiggering"
I have a Timer Function with a Consumption service plan. When I schedule the function to run once every hour it seems to stop after a few hours of running.

#### Repro steps

Provide the steps required to reproduce the problem

1. Create a function app with ARM templates (see arm used setting below)

2. Deploy the a timer function app with cron schedule 0 24 * * * * (deployed from vsts with Azure

[2017-01-30 16:02] back5576 opened #1161 "Please increase max payload size from Azure Logic Apps to Azure Functions"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Step A
Make a Logic App that produces a payload with a size >15MB. In my test I watch an SFTP folder and then upload files of different sizes.

2. Step B
Make an Azure Function that accepts a payload and responds with just a JSON message with metadata like size.

3. Step C

[2017-01-30 17:51] mamaso commented on #1161
similar issue to #1063

[2017-01-30 17:54] cgillum commented on #691
The fix for the blob trigger issue has been fully deployed to production (it's been there for a while now) and I haven't seen any new reports of problems (other than slowness or user config issues, which we can track elsewhere) so I think we can close this issue.

[2017-01-30 17:54] #691 closed

[2017-01-30 18:27] mathewc opened #1162 "Invalid EventHub Name/Connection causing excessive error logs"
Create an EventHub triggered function from our template with an invalid hub/connection info. This seems to put the host into a fast retry error loop that generates excessive logs.

[2017-01-30 18:38] christopheranderson commented on #1030
@mathewc - is this deployed yet?

[2017-01-30 18:42] mamaso commented on #1090
Ah, missed some clarification here, we have the FunctionsLog entry, but we don't have a FunctionsMetrics timeout entry

[2017-01-30 19:47] lindydonna commented on #1149
@fabiocav Any ideas?

[2017-01-30 21:20] jamesdixon opened #1163 "functions runtime slow to start after change deteceted"
After making a change to a file, the functions runtime is slow to restart.

#### Repro steps

Provide the steps required to reproduce the problem

1. Install the functions runtime as part of an Azure Web App

2. Make a change to a file

#### Expected behavior

I'd expect that the runtime would go from starting to running relatively quickly.

#### Actual behavior

It's sometimes absurdly slow (15-2

[2017-01-30 21:25] davidebbo commented on #838
@DavidBrower 35s does not sound right, as the current expectation is 4s to 10s (aside from the large npm tree issue). Can you share the name of your app and the time when you saw such timing?

[2017-01-30 21:40] jamesdixon commented on #1163
Here's some log output that helps with a timeline:

[code]

Note, I did restart my app service instance two times during this period to see if it helped, but ultimately, it resulted in waiting almost 30 minutes before it had restarted.

[2017-01-30 23:31] mathewc commented on #1030
No - there is a PR out here for it https://github.com/Azure/azure-webjobs-sdk-script/pull/1155. However I can't deploy this until @pragnagopa does some event definition work that this relies on. She said she'd have that done soon.

[2017-01-30 23:37] #1116 closed

[2017-01-30 23:39] mathewc commented on #1160
Can you verify that your Function App has Always On enabled, [as described here](http://stackoverflow.com/questions/39430932/how-do-i-turn-on-always-on-for-an-azure-function/39431332#39431332)?

[2017-01-31 00:02] mamaso commented on #1162
Looked at this a bit, basically the webjobs sdk throws an exception at runtime when it tries to start the EventHubListener for a non-existent event hub.

We could add a test for existence in the core sdk in EventHubConfiguration.AddReceiver() when the connection string is specified. In functions, this occurs in ServiceBusScriptBindingProvider GetAttributes call, which bubbles up to GetFunctionDesc

[2017-01-31 00:23] mathewc commented on #1162
Thanks for taking a look. While we could add binding specific handling like you suggest, I think if we wanted to handle this across the board for all bindings including extensions, we'd make fundamental changes to the core SDK listener startup path to catch listener errors - I've logged a bug for that here: https://github.com/Azure/azure-webjobs-sdk/issues/996.

[2017-01-31 00:28] ricklove opened #1164 "Node cannot respond with application/json that is a string or a buffer"
Node Response cannot be a buffer or string. It must be an object in order for the response to not corrupt the body.

#### Repro steps

I had a precalculated json file that I wanted to return from a node server.

[code]

On my first attempt, I obtained corrupt data:

[code]

#### Expected behavior

It should return the file contents:

[code]

#### Actual behavior

It returns a corrupt body:

[code]

[2017-01-31 01:59] mathewc commented on #1164
Try specifying the `isRaw` property on your response:

[code]

[2017-01-31 02:45] ricklove commented on #1164
Yes, that solved the problem. Thanks!

Perhaps there is a cheap way to throw a server error in this instance and add that message to the console and response.

[2017-01-31 03:41] #1164 closed

[2017-01-31 05:07] martinabbott commented on #691
So I’ve now tried this and it appears as though it is working.

I uploaded a file, the function simply writes out details including the current date and time to a storage Table.

The function did process the file around 6 minutes after I uploaded.

From: Chris Gillum [mailto:notifications@github.com]
Sent: Tuesday, 31 January 2017 1:54 AM
To: Azure/azure-webjobs-sdk-script <azure-webjobs-sdk-scrip

[2017-01-31 05:29] thewoolleyman commented on #1139
+1, this is key to running multi platform apps with a truly serverless backend.  It would be great to have an option other than AWS for this.

[2017-01-31 09:08] piorot commented on #1141
First of all thank you @mathewc  for you involvment in the issue.

At the begining I need to say that I have made all tests according to your advice and a have exactly same output as you. Moreover from the begining I observed that locally it is ok in terms of these two knobs Maybe I was not enough clear with it (quote from initial post):

The console output you have pasted above shows perfectly th

[2017-01-31 12:04] pgroene commented on #1160
The plan used for the app is a consumption plan.
![consumption](https://cloud.githubusercontent.com/assets/5020041/22464162/beaf53fe-e7b5-11e6-8c2d-ad80cd7bab65.png)

[2017-01-31 14:14] DavidBrower commented on #838
@davidebbo the name of the function is `https://functionsa7b1a72e.azurewebsites.net/api/ObliqueStrategiesV3`. Really, most of the time when I haven't called the function for about 5 minutes then I get the delayed response. I'm simply calling `curl -sk https://functionsa7b1a72e.azurewebsites.net/api/ObliqueStrategiesV3` from my desktop.

[2017-01-31 16:21] Kanika23m commented on #211
I am getting the similar issue "{"Insufficient memory to continue the execution of the program."}"  at System.Runtime.InteropServices.Marshal.AllocHGlobal(IntPtr cb).

Code Snippet :
 public IntPtr funcaddrMngEPTR_EngineCycleTemp;
 public IntPtr dllHandle;
//Load
                this.dllHandle = UnsafeMethods.LoadLibraryA(this.model.OutputDLLPath);
                if (dllHandle == IntPtr.Zero)

[2017-01-31 16:45] mathewc commented on #1141
Thanks for all the details - I'll look into this more today and get back to you.

[2017-01-31 17:39] securityvoid commented on #298
Okay, so [I've attempted the concept of a WebPack azure deploy script](https://github.com/securityvoid/.deploy). (Don't use it yet, 'cuz its not quite working yet. See below).

The idea is that you:
1) Deploy code from source-control (goes to site/repository)
2) Run NPM install on all the folders (but run the NPM Install in site/repository).
3) Run some magic to go through each index.js, pull out

[2017-01-31 17:39] MisinformedDNA commented on #850
Part of the selling point for the dynamic tier is

I used Functions so I could take advantage of this. But because of all the SocketExceptions, I had to switch to a Standard tier, in which case, I wish I would have just stuck with WebJobs so I could use real C# and not C# script.

If it's supposed to be dynamic, there shouldn't be a limit to developers at all. Azure Functions should quietly take c

[2017-01-31 18:11] MisinformedDNA commented on #1091
Isn't the real problem simply the existence of the Run button? Clicking Run doesn't make a lot of sense with blob and queue triggers, at least how it's currently implemented. Assume the path is `samples-workitems/*.txt`, what blob do you expect it to access? The first one? And what if it finds none? Should it really give you an error? Or a message that says "No files match the pattern `samples-wor

[2017-01-31 18:17] ricklove commented on #298
@securityvoid You might reference my build tool: https://github.com/toldsoftware/azure-functions-server

The process is in the folder src-cli:

- Build all source to "lib" folder (I use typescript, so I use tsc -w for that step).
- Build a "deployments" folder that includes a FUNCTION.source.js file inside each function folder. This points to the source in the "lib" folder and requires the correct

[2017-01-31 18:29] securityvoid commented on #298
@ricklove Thank-you, I actually was looking at your project earlier.

There should actually be minimal downtime with the deployment script even if it takes forever to deploy. Until you mess with site/wwwroot your old code is live. I build everything under site/repository/dist, then do a move of wwwroot to wwwroot2, and then a quick move of dist to wwwroot. After this is done the delete for wwwroot

[2017-01-31 18:39] davidebbo commented on #838
@DavidBrower it really helps to get the UTC time of one such incident, so we are looking at the same thing. I looked at all requests to that function today (i.e. 1/31 UTC) and the longest it took was 7s.

[2017-01-31 19:11] davidebbo opened #1165 "WebHook request return 500 instead of 400 when the request is not valid"
Repro:

- Create a new C# WebHook and leave it unmodified
- From PostMan, make a POST request with content type application/json and an **empty body**

Result: it fails with a 500, when it really should be a 400 BadRequest.

[code]

As a variant, set the body to just `{`. It also incorrectly fails with 500, with a different error:

[code]

We need to fix up error handling so these end up with clea

[2017-01-31 19:47] davidebbo opened #1167 "Some error conditions don't get logged at all in the Functions logs"
Logic App ran into a scenario where requests to a function failed with 400. Those 400 can be seen in the Worker IIS log, but there is no trace of them at all in the Functions logs. So I suspect that we have some code paths that can fail without a trace, making it very difficult to understand what happened.

We should review our logic and make sure that any http request coming into the runtime gets

[2017-01-31 19:55] lindydonna commented on #1105
@guitarrapc To avoid the locked file problem, you can add the app setting `MSDEPLOY_RENAME_LOCKED_FILES` with value of `1`. However, you still have to restart the Function App.

So, this is a duplicate of https://github.com/Azure/azure-webjobs-sdk-script/issues/1023.

[2017-01-31 20:12] jocawtho opened #1168 "Cron schedule resolution from app settings"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. in my function.json if i have %the-schedule% and i have an app setting called 'the-schedule'. At the start of the function i get the following error in the function logs:
2017-01-31T19:47:51.318 The following 1 functions are in error:
TimerTriggerNodeJS1: '%the-schedule%'

[2017-01-31 20:59] mathewc commented on #1168
This is a duplicate of https://github.com/Azure/azure-webjobs-sdk-extensions/issues/181

[2017-01-31 20:59] #1168 closed

[2017-01-31 22:56] davidebbo commented on #224
@ranjan545486 I don't think so. The technique is limited to fairly simple scenario. Once we have fuller Java support later on, those scenarios will open up.

[2017-02-01 00:15] guitarrapc commented on #1105
@lindydonna Thanks. Yes I do know it. But the core issue is Host restart required as you describe. I will keep watch duplicate issue.

[2017-02-01 00:21] markrey commented on #289
+1

[2017-02-01 02:01] mathewc commented on #1141
I think I've found your issue! Your run.cmd file is incorrect. Rather than using a "start" command like you've done which will spawn a child process, you need to simply have `.\bin\Microsoft.Azure.WebJobs.Script.Host.exe` in the file as the wiki stated. I'll make that more clear in the wiki.

When you do this, you'll notice that you no longer have multiple child processes, and instead will have on

[2017-02-01 02:06] #1141 closed

[2017-02-01 02:48] fabiocav commented on #1105
This is slightly different, though, so I'm reopening. The good thing is that both will be addressed by the same PR.

[2017-02-01 04:44] mathewc commented on #1091
@MisinformedDNA In all of these run cases, the function is only operating on data passed from the portal UI. E.g. in your queue example, it won't be checking the queue for anything - the data in the "Request body" input box under the "Test" pane is what is used. For blobs, the input box is used to specify a blob path to trigger on. So for these Run scenarios, the intent is that you configure this

[2017-02-01 11:10] piorot commented on #1141
Indeed it works as expected after fixing the issue and the WebHost is now sensitive to knobs changes.
@mathewc thank you for committment in the issue.

[2017-02-01 13:36] picarsite commented on #298
I'm new in the Azure Functions world. I created a simple function which is using some npm packages. I have the similar problem with the loading of the npm packages when there is a cold start. Because I'm new in this world and my Node.js experience is not huge, I don't know how I can increase the performance with the tool made by ricklove. Could someone please create a step-by-step instruction for

[2017-02-01 15:11] MisinformedDNA commented on #1091
Ha! I always associated that pane as for HttpTriggers because of the term "Request body".

I'll add further comments on the new issue.

[2017-02-01 15:23] guitarrapc commented on #1105
It's awesome news!! Appreciate for greate work.

[2017-02-01 15:41] DavidBrower commented on #838
Interestingly, I have not had the very long response times since the weekend. I'm down to 5-6 secs for my cold starts.

I've checked the Azure Functions Invocation Log and I'm afraid that it doesn't seem to keep the invocations for more than a day ago. The best I can do is to say that the first of the long response times started around 16:00 30th January UTC. Sorry that I can't give you exact time

[2017-02-01 18:33] davidebbo commented on #838
Ok, that's good news. Let's keep observing, and let us know if you hit some extreme slow starts again.

[2017-02-01 19:04] jocawtho commented on #995
Update submitted. It will go out with our current deployment and should be fully available in the next two weeks!

[2017-02-01 19:29] ricklove commented on #298
@picarsite I wouldn't recommend using my build tool since it is rather advanced and does a lot of things behind the scenes that is specific to my preferences.

Perhaps @securityvoid 's solution is something more appropriate for general use.

[2017-02-01 19:38] securityvoid commented on #298
@picarsite You should be able to foll the directions on the README and get mine deploy script working. Just realize that the first time you run it, it will take a LONG time if you have a lot of npm installs. It also currently is showing that it failed the deploy when viewing the logs via the portal.azure.com site, even though the deploy worked fine. (If you see output in the log on the move of dis

[2017-02-01 19:53] mamaso opened #1170 "Add default timeout for Dedicated Apps to prevent runaway functions"
I think we should add a relaxed default timeout back to Dedicated apps in a future breaking release.

Had a customer issue where their python function would timeout every 20 hours or so, requiring a site restart (he did not know about the configurable function timeout setting).

As it's now configurable (it was not in the time of #657), users can remove it if it negatively affects their scenario,

[2017-02-01 20:15] hebinhuang opened #1171 "Expose HttpRequestMessage object to PowerShell function"
In C# HTTP trigger, the dev can use req (HttpRequestMessage object) to handle HTTP request - e.g. to get client certificate by calling req.GetClientCertificate().
But for PowerShell HTTP trigger, the req is an string object, there is no way for dev to deal with HTTP request message.

[2017-02-01 21:33] #885 closed

[2017-02-01 22:16] DavidBrower commented on #838
Thanks @davidebbo

[2017-02-01 22:27] 1N50MN14 commented on #1139
@christopheranderson Just checking in to hear if there are any signs of hope on the horizon?

[2017-02-02 00:10] mathewc commented on #1171
While you are right that all aspects of the HttpRequestMessage may not be available, many of the important request details are available as environment variables, including:

* http method via REQ_METHOD
* headers via REQ_HEADERS_XXX
* query params via REQ_QUERY_XXX
* route params via REQ_PARAMS_XXX

[2017-02-02 00:39] mathewc commented on #1118
Can you please share the contents of your run.cmd file? In #1141 the issue ended up being an incorrectly configured run.cmd file. Your issue above sounds very similar. See that issue for details and see if changing your run command also fixes this for you.

[2017-02-02 01:18] #1162 closed

[2017-02-02 01:51] mathewc commented on #1165
The errors you are mentioning above are coming from failures in *user code** - i.e. the template code, which is trying to parse the body as json, etc. If you change your function to just return OK, you'll see the invocation succeeds. The errors are coming from template code that is expecting a valid json object to be passed in.

The proper response for unhandled exceptions coming from the user fun

[2017-02-02 01:51] #1165 closed

[2017-02-02 01:55] davidebbo commented on #1165
Make sense.

[2017-02-02 02:20] mathewc opened #1173 "Strange Host log file issues when host is in error state"
In a Consumption based Function App:

0. First start with an empty Host log file directory - delete any existing log files
1. Create a new C# EventHub triggered function
2. Configure an invalid hub name for the function "invalid"
3. Let the host run for about a minute. It will be in an error/restart loop due to the above error
4. Now go delete the function and check out the Host logs in the file s

[2017-02-02 02:21] mathewc commented on #1173
Attached are my full repro log files:

[Host.zip](https://github.com/Azure/azure-webjobs-sdk-script/files/746681/Host.zip)

[2017-02-02 02:34] #1030 closed

[2017-02-02 02:34] #760 closed

[2017-02-02 03:21] hebinhuang commented on #1171
Correct, we have requirements to retrieve the client certificate from the HttpRequestsMessage. But, the PowerShell script hides the object of HttpRequestsMessage, so that there is no way to get the client certificate.

[2017-02-02 04:11] jamesdixon commented on #1163
Anyone have any idea on this? This is becoming a big problem when needing to make quick fixes via FTP. Thanks!

[2017-02-02 13:34] rawlukMike commented on #335
Solution above is not working anymore. I tried every step but in the end as long as you run inside home\site directory, you will always end up with Python 2.7.8.

Also why Python is so slow? It can takes up to 20s only at importing additional library. I tried virtual env and uploading full directory and running it from C# running cmd: "python.exe parameter".
These should be instant, and yet is so

[2017-02-02 14:45] bootsector commented on #292
Sorry to jump in with a question, but why using Functions instead of, for example, Azure API App? I have been working with API Apps for quite some time and it supports everything an Industry Standard PaS for webservices should support.

From my understanding, Azure Functions is part of WebJobs which is meant for running jobs, giving you an additional option to get a job triggered via a HTTP reques

[2017-02-02 15:54] davidebbo commented on #335
I just retested that technique and it works fine. Did you make sure to **expand** the zip as you dropped it in `D:\home\site\tools`?

The better perf will come with the first class support that this thread is tracking. No ETA, but we will get there.

[2017-02-02 16:16] amragaey opened #1174 "CLI: System.IO.IOException: The handle is invalid."
I installed azure-functions-cli package, and I'm trying to create a new function but getting an exception instead.
This exception occurs in Git Bash, but it's working fine with PowerShell.

[code]

[2017-02-02 16:47] iain-peddie-tessella opened #1175 "CLI: HTTP 400 error reported when trying to create a function app on azure"
Please provide a succinct description of the issue.

#### Repro steps

I have a resource group for which I am an owner; I am also a co-admin on the subscription the resource group is in. I have installed the functions-cli.

I am now calling the following commands from a bash shell on my local machine:

func azure login
func azure account set $sub
func azure functionapp create --resource-group $rg

[2017-02-02 18:48] mamaso commented on #1175
Can you try running fiddler to get a trace of the http response that's failing?

[2017-02-02 19:03] mathewc commented on #1175
CLI is in its own repo now. This issue should be moved there: https://github.com/Azure/azure-functions-cli/issues

[2017-02-02 19:03] mathewc commented on #1174
CLI is in its own repo now. This issue should be moved there: https://github.com/Azure/azure-functions-cli/issues

[2017-02-02 19:14] mathewc commented on #1163
Can you share the details of how these files are deployed? I assume you've deployed as a continuous webjob as described [here](https://github.com/Azure/azure-webjobs-sdk-script/wiki#option-2-no-http-functionwebhook-support).

If so, then this is just a normal continuous webjob setup, and the Kudu webjob infrastructure is responsible for the restart behavior. I.e., this might be a Kudu bug. @davide

[2017-02-02 19:17] jamesdixon commented on #1163
@mathewc thanks for the reply.

Yes, the runtime is deployed as a continuous webjob.

As for file changes, as mentioned above, when I deploy changes through my CI, which uses Web Deploy, it seems the restarts take effect relatively quickly as expected. However, if I need to make a quick change via FTP, this is where the problems start. The change is detected and then there's a significant delay be

[2017-02-02 19:18] jamesdixon commented on #1163
Contents of `run.cmd`:

[code]

[2017-02-02 19:19] mamaso commented on #1130
Tricky, I don't think there's a good answer in the case where the app is scaled to multiple instances.

Could provide some sort of 'admin api binding' which allows you to perform operations on your function app. Start the webhost with an 'admin' httpTrigger function by default to publicly expose these operations for portal, etc. Users could use the admin binding in their own functions if they choo

[2017-02-02 19:21] mathewc commented on #1163
That looks good. What happens if rather than FTP, you modify files in the Kudu Console directly? When I do that, I see changes take effect immediately. What does your directory structure look like, and what file are you modifying? One of the primary script files, or a file in a shared directory?

[2017-02-02 19:39] rawlukMike commented on #335
I am sorry for writing wrong. I tried Python 2.7.13 which have no embeddabled version.
Simply used zipped python with my site-packages.
Is there a way to use latest python 2.7.* with some libraries like pandas, xmltodict, numpy and so on... ?

[2017-02-02 19:47] brettcannon commented on #335
See https://blogs.msdn.microsoft.com/pythonengineering/2016/08/04/upgrading-python-on-azure-app-service/ on how to upgrade Python.

[2017-02-02 20:00] rawlukMike commented on #335
Is there any special step for functions? I managed to install python through site extension gallery, but how can i bind it to functions? Basicly how to translate Configuring Your Site from guide above to functions :). Sorry maybe its a simple dummy question.

[2017-02-02 20:01] brettcannon commented on #335
Unfortunately for Functions I don't know.

[2017-02-02 20:28] jamesdixon commented on #1163
Here's my first test:

I changed one of my webjob files (located at `app_data/jobs/continuous/scripthost/EmailNotifications`) directly through Kudu and it's been over 20 minutes and still has not restarted. Here's the logs as of now:

[code]

Once it's running, I'll try editing a file in my main application (outside of the webjob directory).

[2017-02-02 20:39] jamesdixon commented on #1163
The above restart finished at `20:28`.

I tried editing an application outside of my webjob directory and as expected, it took hold immediately and did not affect the status of the webjob itself.

[2017-02-02 21:15] MisinformedDNA commented on #850
Request filed: https://feedback.azure.com/forums/355860-azure-functions/suggestions/17927350-the-dynamic-tier-should-never-run-out-of-sockets

[2017-02-02 22:52] mathewc commented on #1163
I tried myself in my app, a Node.js function app deployed the same way, and my restart is immediate:

[code]

[2017-02-02 23:00] mathewc commented on #1163
Can you try something - create a **settings.job** file right next to your run.cmd file, containing the following contents:

[code]

This tells the Kudu jobs infrastructure to not shadow copy the job files. The theory is that you have a very large NPM tree, and the shadow copying is what is slow.

[2017-02-02 23:16] JonCanning opened #1176 "Cannot use Sql.Geography"
Please provide a succinct description of the issue.

When retrieving geography data from SQL database, the following error is logged

`2017-02-02T22:41:34.232 Exception while executing function: Functions.Test. mscorlib: Exception has been thrown by the target of an invocation. mscorlib: Could not load file or assembly 'Microsoft.SqlServer.Types, Version=10.0.0.0, Culture=neutral, PublicKeyToken=8

[2017-02-02 23:57] SyntaxC4 opened #1177 "Generic WebHook doesn't respect HTTP method settings"
There is a mismatch between what can be set from within the functions portal and what is actually accepted from the **Generic WebHook (Generic JSON)** template. Outlined below is the experience for triggering a Generic WebHook with a **GET** request, however, I believe the remainder of the VERBS should be tested as well.

## Repro steps

1. Create a Function App.
1. Create a new Function
1. Select

[2017-02-03 00:04] davidebbo commented on #335
@rawlukMike the instructions I liked to shoudl work for any Python version. If you drop Python in the Tools folder it should get picked up because it's on the path.

[2017-02-03 00:15] jamesdixon commented on #1163
@mathewc that appears to have worked perfectly! My jobs do have a number of NPM dependencies, so that would explain things.

I appreciate your help!

Cheers.

[2017-02-03 00:15] #1163 closed

[2017-02-03 00:25] SyntaxC4 opened #1178 "Generic Web Hook doesn't support route template"
Please provide a succinct description of the issue.

#### Repro steps

1. Create a Function App.
1. Create a new Function
1. Select GenericWebHook-CSharp
1. Click on Integrate
1. Type 'abc' into the route template box
1. Click Save.
1. Type the following into the command, or run from postman

[code]

#### Expected behavior

The Azure Function would execute using the abc route.

#### Actual behavio

[2017-02-03 00:33] mathewc commented on #1163
I'll update the install step wiki with a note about this as well.

[2017-02-03 00:54] mathewc commented on #1178
No repro. You have to include your code query param in your URL. E.g. I just tried your repro steps and my function works fine using `https://function-fun.azurewebsites.net/api/abc?code=<mycode>`

[2017-02-03 00:54] #1178 closed

[2017-02-03 01:11] mathewc commented on #1177
Yeah, WebHooks only support POST, and this error comes from the WebHooks library we use. This should be a portal bug to restrict the UI for WebHooks. Nothing for us to do in the runtime.

[2017-02-03 01:55] brettsam commented on #573
@fabiocav -- this just came up again today. Not sure if we have a valid solution, but you can end up with really confusing errors if you pull a newer version of an assembly than we use.

[2017-02-03 08:41] rawlukMike commented on #335
Yep my bad. I used my python folder packed, but forgot msi installer puts python27.dll in system. Did not included it in library. When I used unpacked but not installed msi it works fine. Sorry for troubles.

[2017-02-03 10:48] rawlukMike commented on #335
Coping fully working Python 2.7.13 to the \home\site\tools is not working.
It worked for 3.x for some reason.
@davidebbo You said that site\tools is in the PATH however Kudu show otherwise. It says '\site\deployments\tools' is in the path.
I unzip python in \home\site\deployments\tools (This one is IN PATH).
After that running in KUDU example: \home\python.exe -V started showing new one.
So it sho

[2017-02-03 10:48] iain-peddie-tessella commented on #1175
Ok, fair enough, I'll repost, but I posted here because of the instruction at the bottom of the instruction of how to file bugs on the [npmjs page for azure-functions-cli](url)
https://www.npmjs.com/package/azure-functions-cli

So, if this is no longer the place for these bugs, it would be helpful to have the documentation updated to save everyone some time.

[2017-02-03 11:00] Nosmadas commented on #691
I think we're experiencing a similar issue in which files are not being picked up by a blob trigger function.

Today we added 5 files to a container which weren't processed for just over 30 mins. Someone then loaded the function blade and they were picked up.

Is there anything we can do to diagnose this? From following this thread - it looks as if logs were piped into the $logs container shortly

[2017-02-03 16:06] davidebbo commented on #335
@rawlukMike `site\tools` is what's on the path for Functions execution. Kudu uses a different one which is for deployment tools, and is not on the path in the Functions runtime. Anyway, glad it's working for you now!

[2017-02-03 16:08] davidebbo commented on #691
@Nosmadas Can you share your function app name (that's the **app** name, not function name!), either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly), as well as the UTC time of the incident? As far as we know, all cases are fixed now, so there are no know pending issues.

[2017-02-03 18:36] DavidBrower commented on #838
Just received 13.45 secs with a cold start at 3 February 18:35 UTC. `os` is just the alias I am using in Bash to call my Azure function.

[2017-02-03 19:37] christopheranderson opened #1179 "File Watcher not reliable by itself"
Occasionally, you can add a file and the file watcher doesn't get triggered. For a long running host, that means that it will look like the Function wasn't added. This leads to a weird case where the portal sees the function, it's on the file system, but the host never restarted itself.

#### Repro steps

This doesn't repro consistently. You need to attempt to add a file and have the filewatcher f

[2017-02-03 22:52] amragaey commented on #1174
Thanks for advice, I got here by an old link in the npm page here: https://www.npmjs.com/package/azure-functions-cli. Please fix the link to refer to the CLI repo.

[2017-02-03 22:52] #1174 closed

[2017-02-03 23:55] rmaziarka commented on #691
I am experiencing something similar with my **bandata-complaint-photos-resize** app. Logs was created in the log folder after uploading photos to blob, but no function running was occured. But then, after opening portal, photos were resized.

I went through this thread, by I haven't found anything that could help me run my function automatically. I would be grateful if you could help me in this ma

[2017-02-04 01:19] davidebbo commented on #691
@rmaziarka as per above, to investigate, we need the approximate UTC time where you uploaded a blob and didn't see the function run. Also, please include the name of the function. Thanks!

[2017-02-04 01:36] davidebbo commented on #691
Taking a look, I can see that your app is getting woken up on Feb 3 at 21:14, 21:20, 22:35, 22:44, 23:43. So it is correctly detecting new blobs and doing the right thing from what I can see. Do keep in mind that when the app is cold, blob detection can be delayed for several minutes.

[2017-02-04 10:16] rmaziarka commented on #691
It was woken on Feb 3 because I opened portal. Photos were uploaded day before.

Today I uploaded 5 photos to my blob at 08:43 UTC (2017-02-04). Nothing happened. Then hour later I opened portal and automatically photos were resized (function has started), at 10:09 UTC (2017-02-04).

My app is **bandata-complaint-photos-resize**, function is **complaint-photos-resize**.

[2017-02-04 14:27] Nosmadas commented on #691
@davidebbo The function app name is **wlImporterFunction**. 5 files were added to the blob container used in the blob trigger at approx 10:10 UTC (2017-02-03), I loaded the function blade at around 10:43 and they were then picked up.

[2017-02-04 15:11] davidebbo commented on #691
@rmaziarka so looking at your function, you are processing blobs in place, i.e. replacing the original image by the resized image.

Looking at our logs, it's a bit puzzling as I see the scale controller is detecting changes to the blob at 10:16, but not at 8:43. i.e. it appears to detect the change that is caused by the execution of your function, but not the change caused by you adding the new fi

[2017-02-04 15:21] davidebbo commented on #691
@Nosmadas your case is different, as the scale controller does not have any information about your triggers. There was an issue that was fixed yesterday that could cause that to happen when deploying via VS (or msdeploy). Can you try clicking the 'Refresh' button in the Functions UI (in the lower left, below Quickstart). Thanks!

[2017-02-04 16:19] Nosmadas commented on #691
@davidebbo Done!

[2017-02-04 16:51] davidebbo commented on #691
@Nosmadas yep, I see the registration for both functions. Normally, processing will now happen with having to go to portal.

[2017-02-06 10:32] rmaziarka commented on #691
@davidebbo
I created new function **complaint-photos-resize-2** (app name **bandata-complaint-photos-resize**) which adds _temp_ at the end of the filename. And now it's working. Both from code (ASP.NET app) and Storage Exporer. I would not think about it :)

Would you be able to fix it somehow or should i need to create 2 functions:
- first to resize photo and save with temp name
- second to rena

[2017-02-06 13:07] pgroene opened #1180 "Function runned successful, azure portal show function as failed without logging"
Timer Function runned successful when reviewing the logs on the application server, however the Azure Portal shows that the function failed and does not show any logs:
![functionwithfailswithouterrorlog](https://cloud.githubusercontent.com/assets/5020041/22647868/065728fe-ec74-11e6-8a25-2cba4461701c.png)

![image](https://cloud.githubusercontent.com/assets/5020041/22648390/c6fe310e-ec76-11e6-9b2c-

[2017-02-06 17:33] #1023 closed

[2017-02-06 17:33] #1105 closed

[2017-02-06 17:42] #1177 closed

[2017-02-06 17:47] mathewc commented on #1175
Thanis @iain-peddie-tessella. I've logged https://github.com/Azure/azure-functions-cli/issues/56 for us to fix the npm instructions, thanks for pointing that out. I've also moved this bug to that repo https://github.com/Azure/azure-functions-cli/issues/57.

[2017-02-06 17:47] #1175 closed

[2017-02-06 19:21] fabiocav commented on #1137
@petrce this is a current limitation of the VS tools and will be addressed in the next release.

There's an existing issue tracking this here: https://github.com/Azure/Azure-Functions/issues/90, you can watch for updates there.

[2017-02-06 19:21] #1137 closed

[2017-02-07 07:00] 0xced opened #1181 "Can't enable Application Logging (Blob) on an Azure Function app"
I'm trying to enable application logging (level = information, storage settings = an `application-logs` blob container I just created) on my Azure Function app from the portal but I keep getting the following error:

| Key             | Value                                                                                                                                     |
|-----------------|----

[2017-02-07 12:38] habibcs commented on #413
I found some relevant information here:
https://azure.microsoft.com/en-us/blog/azure-iot-gateway-sdk-integrates-support-for-azure-functions/
says: Azure IoT Gateway SDK integrates support for Azure Functions - meaning we can have a trigger from IoT Hub to Azure Function without the need of middle man (i.e. Event Hub).

For me, I want the Azure Function to Azure IoT hub so that IoT Hub send the mes

[2017-02-07 13:50] mamaso opened #1182 "Remove $return as the default from node http templates"
`context.res.send("test")` with `$return` returns an empty body

[2017-02-07 17:14] thkrmr commented on #848
@ricklove So https://azure.microsoft.com/en-us/blog/announcing-custom-domain-https-support-with-azure-cdn/ is live now. Albeit apex domains are not supported, hopefully they will be.

[2017-02-07 18:21] ggailey777 opened #1184 "context.bindings.res ignored in HTTP output binding"
When you have an HTTP output binding named `res`, the response message set via this named output binding (e.g. `context.bindings.res`) is ignored. Only a response message set via `context.res` is honored. This works when the binding name is other than **res**.

#### Repro steps

Provide the steps required to reproduce the problem

1. Create an HTTP output binding on a function, as follows:

[2017-02-07 18:38] mathewc commented on #1184
I believe we may have regressed this when we added the fluent api support for Node.js requests. What might be happening is that our runtime is now defaulting context.res to an empty instance, and that is being interpreted as if you have set it, and it overrides what you set via the actual binding. We’ll need to add some tests that cover your matrix.

[2017-02-07 19:17] mathewc commented on #1174
Yep, we've got an issue to fix the npm link, thanks.

[2017-02-07 19:25] mikezks commented on #848
@ricklove
sorry, but i missed your updates because i read the email notification of your post only.

this sounds promising indeed - thanks for sharing! just one question: did you find a solution to directly point from the TLD to the function app via CDN?
e.g. ``http://www.mywebsite.com`` to ``http://myfuntion.azurewebsites.net/api/filefunc/index.html/file``?

@thkrmr
great that this works now!

[2017-02-07 19:31] #1173 closed

[2017-02-07 19:54] ricklove commented on #848
@mikezks Yes, I have a default function to handle the root path:

I point the CDN to the default /api/. Then I have it configured with a wildcard route so it essentially is a catch all, but I use a route filter with maximum length 0 so it actually only matches the blank route.

[code]

[2017-02-07 20:52] securityvoid commented on #1167
I've had a lot of trouble with the reliability of application logging. I feel like it sporadically just doesn't work, vs. being a specific type of log, but that definitely does not make any sense.

e.g. Right now I'm trying to troubleshoot a function that runs fine/works locally with:
`func run`

but fails to work on Azure. First thing in the actual function is:
` context.log("BEFORE EVERYTHING!")

[2017-02-07 21:00] mikezks commented on #848
@ricklove, thanks!
great, this is a big step forward.

now two things are left to solve so that it makes sense as production use case:
- reduce wake-up time -> maybe this works with a second function in the same function app with a time-based trigger, so that the function app does not shut down.
- support for Javascript Services for server-side rendering -> they require ASP.NET core. but i hope th

[2017-02-07 21:34] ricklove commented on #848
@thkrmr Wow, not only is it possible, Microsoft provides the certs for free with no management!

Not having to manage SSL certs. That's nice!

So now all that is needed is for Azure Functions to allow file extensions in the final route parameter (#969) and it will be entirely possible to host an entire website without any user-visible hacks:

- A default/resources function can serve static or gene

[2017-02-07 21:39] securityvoid commented on #1167
Now everything is logging properly for that function. All I did was change the code to something extremely simple (e.g. static context.res, context.done and immediate return), it logged properly. I then slowly backed up to how the code was before to see if I could isolate what was wrong. The old code fully logged.

[2017-02-07 21:57] davidebbo commented on #691
@rmaziarka I set up a similar scenario where the function updates the new blob inplace, and it's actually working fine for me.

My guess is that there is some alternate issue at play. Thinking about it, it's hard to see how the fact that you update inplace could break things, because the fact that you do an implace update doesn't come into play until your function gets called, and if it gets calle

[2017-02-07 22:50] #1098 closed

[2017-02-08 00:26] mathewc commented on #1167
@securityvoid Are you talking about logs not being written to log files, or to the logs window in the portal?

[2017-02-08 01:07] mathewc opened #1188 "Issues with function.json regex schema validation"
In our WebJobs.Script sln I'm getting build info output like the following. E.g. for the shown ApiHubFileTrigger function, it's telling me I need to use mobileTable:

![capture](https://cloud.githubusercontent.com/assets/1056548/22718933/ee5a7726-ed57-11e6-92f1-b8cda7ab65a7.PNG)

[2017-02-08 01:08] mathewc commented on #1188
While we're in there fixing the schema validation stuff, can we also fix that regex issue we saw with ^^ $$?

[2017-02-08 02:51] securityvoid commented on #1167
@mathewc All of the above. Searched the file system from SCM, tried watching the logs from the portal, tried watching the logs from Visual Studio. When they finally wrote out they were under logfiles/function/function/MyFunctionname, but nothing was created there prior.