[2020-10-13 19:55] timgabrhel commented on #6786
This issue was created at the request from this SO post
https://stackoverflow.com/questions/64318870/servicebustrigger-delayed-in-executions

[2020-10-13 20:21] SeanFeldman commented on #6783
It looks like holding on to the `ServiceCollection` provided by the `IFunctionsHostBuilder` and manually building a `IServiceProvider` off it is the issue as outlined [here](https://github.com/Azure/azure-functions-host/issues/4594#issuecomment-512101008). What is not clear, is wherever the service collection provided by `IFunctionsHostBuilder` is later merged by the Functions SDK into some other

[2020-10-13 21:36] davidmrdavid commented on #6337
I just realized that the `ProcessLogQueue` method of the  `LinuxAppServiceFileLogger` should have a `await this.InternalProcessLogQueue();` right after its while loop to make sure the buffer flushes when `Stop()` is called.

Otherwise, there's a chance logs will be lost there as well.

So currently we have:

[code]

but we should have

[code]

We've also fixed this in our version of the logger

[2020-10-14 00:29] pacodelacruz opened #6788 "Azure Function with Service Bus Trigger stops processing messages when not explicitly abandoning or completing messages unless the Function App is restarted"
#### Check for a solution in the Azure portal

_Not available_

#### Investigative information

Please provide the following:

- Timestamp: `2020-10-13T22:59:36.378`
- Function App version: `v3`
- Function name(s) (as appropriate): `Receive01`
- Invocation ID: `f96bec1c-3eb8-4b90-9e16-3f3adca9c812`
- Region: `Australia East`

#### Repro steps

1. Create a Service Bus Topic and Subscription, with a

[2020-10-14 01:53] Camios commented on #6788
+1

[2020-10-14 04:54] hybridtechie commented on #6788
+1

[2020-10-14 14:27] ZachTB123 opened #6790 "[Custom Handlers - Go] Function with Event Hub trigger stopped triggering"
I have a Function App that has one function with an Event Hub trigger. I noticed that this function stopped triggering around the end of the day on October 2nd/beginning of October 3rd:

<img width="1414" alt="Screen Shot 2020-10-14 at 8 59 36 AM" src="https://user-images.githubusercontent.com/17228033/95999813-e2536280-0dfb-11eb-90ca-30894be82fe7.png">

During this time that the function was not

[2020-10-14 17:45] gohar94 opened #6791 "Shared memory data transfer between Functions host and out-of-proc workers for binary data"
#### What problem would the feature you're requesting solve? Please describe.
When transferring parameters to/from the out-of-proc workers (input/output bindings), the data flows over gRPC which does not provide high throughput. Since the Functions host and the worker processes are generally on the same VM, it would make more sense to share parameters between the two over shared memory.

#### Desc

[2020-10-14 17:46] gohar94 commented on #6791
cc: @goiri

@pragnagopa Opening an issue here to track and document as we go. You can assign this to me. :)

[2020-10-14 18:16] krishnasingh1818 opened #6793 "consumption plan scaling understanding."
I have azure function project with say 5 different service bus trigger functions.
  app
       f1,f2,f3,f4,f5
in consumption plan how scaling happens ?
1.  will az function scaler create multiple instances of my funcApp on different host machines ? (what appinsight parameters can tell me how many machines it was scaled to ? hostinstanceid  or cloud_roleInsance ? what is difference between them ?)

[2020-10-14 20:03] pragnagopa commented on #6776
Corrected Milestone.

[2020-10-14 20:05] pragnagopa commented on #6766
Needs more investigation. Moving to next sprint.

[2020-10-14 20:06] pragnagopa commented on #6691
@fabiocav - please update with any progress and move it next sprint if needed.

[2020-10-14 20:13] alrod opened #6794 "Move EventGrid Blob trigger work to Azure SDK repository"
Azure SDK Azure Storage Extension:
https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/storage/Azure.Storage.Webjobs.Extensions.Blobs

EventGrid Blob Trigger:
https://github.com/Azure/azure-webjobs-sdk/pull/2438

[2020-10-14 20:17] pragnagopa commented on #6558
@brettsam / @fabiocav  - any updates on this issue?

[2020-10-14 20:18] pragnagopa commented on #6555
PR is in progress. Leaving this assigned to Sprint 86.

[2020-10-14 20:19] pragnagopa commented on #6523
Needs more investigation. Moving to Sprint 87.

[2020-10-14 20:20] pragnagopa commented on #6521
PR needs to be reviewed. Moving next sprint 87.

[2020-10-14 20:26] pragnagopa commented on #6146
Done!

[2020-10-14 20:26] #6146 closed, assigned to yojagad

[2020-10-14 20:31] pragnagopa commented on #5240
@fabiocav  - please break this down into sub issues

[2020-10-14 20:55] pragnagopa commented on #6239
Assigning to Sprint 87 as a stretch goal

[2020-10-14 22:06] pragnagopa opened #6795 "Pin Apps to ~2.0"
Pin identified breaking apps on auto-upgrade to ~2.0

[2020-10-15 04:23] SeanFeldman commented on #6783
Closing this one as I've resolved the issue having with both NServiceBus and Entity Framework.

For NServiceBus it was a matter of not depending on the reference to the `IServiceCollection` passed into the configuration method. For EF it was a bizarre situation with the `Microsoft.Data.SqlClient.dll` assembly, which is a transient dependency for the EF package `Microsoft.EntityFrameworkCore.SqlSer

[2020-10-15 04:23] #6783 closed, assigned to kashimiz

[2020-10-15 05:33] anthonychu commented on #6790
@pragnagopa @yojagad Can you please take a look?

[2020-10-15 05:56] smairo commented on #6788
+1

[2020-10-15 15:23] pragnagopa commented on #6790
Opening support ticket is the right approach. Assigned to @yojagad as is currently on call.

[2020-10-15 15:35] pragnagopa opened #6798 "[Linux]Prepare for auto-upgrade"
cc @anirudhgarg @mhoeger

- Generate 2.1.xxxx images with same build as 3.0.xxxx
-  Install `libcurl` on 2.1.xxxx images

copying notes from email thread:

When an environment variable "DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER" is set to false on a Linux environment, "you need to deploy libcurl yourself if you want to use the old HttpClient implementation. If you have .NET Core 2.0 working on

[2020-10-15 15:54] #6551 closed, assigned to gzuber, v-anvari

[2020-10-15 18:51] yojagad commented on #6790
This seems to be an ongoing issue that has to do with eventhub trigger, nothing specific to custom handler. I think the current mitigation being recommended is to restart the function app when this happens. Looping in @wenhzha.

[2020-10-15 19:50] ZachTB123 commented on #6790
Yeah, I don't necessarily think this is related to custom handlers since I've experienced something similar in the past when we were using Java but just wanted to call out in the title we are using custom handlers currently.

Was just looking to get further info on why the function stopped triggering because now with encountering this issue I don't feel comfortable expanding our usage of Functions

[2020-10-15 23:11] BKB503 commented on #6466
@mhoeger is there any temporary solution for this issue, as we are experiencing same issue in timer trigger function app and blocking all the function app which using same app service plan i.e linux

[2020-10-15 23:22] pragnagopa commented on #6777
Moved to Sprint 88 as changes are checked into ANT91. Need to wait for the roll out to start before analyzing the data.

[2020-10-16 01:40] mhoeger commented on #6466
Adding @balag0 and @divyagandhii to help and see if there is a mitigation?

[2020-10-16 03:07] madhavtr opened #6800 "Pandas in Azure Function - Consumptionplan"
I am getting 500 internal issues when i Run/Test the http trigger in azure portal. It is working fine in my windows 10 visual studio code.

I tried changing the python version as 3.6.. no use.  Any help is appreciated.

Here is the code in my init py

        con = 'mssql+pyodbc://{uid}:{password}@{server}:1433/{database}?driver={driver}'.format(
        uid=uid,
        password=password,

[2020-10-16 08:55] jonathanantoine commented on #4914
Please don't let up in the void @fabiocav  :(

[2020-10-16 08:59] jonathanantoine commented on #6587
Same issue, any update ?

[2020-10-16 09:29] Satak opened #6801 "Proxy Name FunctionMetadata duplicate Error"
If you set Proxy name as same as your function, you will get an error:

`Microsoft.Azure.WebJobs.Script: Found duplicate FunctionMetadata with the name <name>.`

![image](https://user-images.githubusercontent.com/10957012/96241622-1c169b80-0fab-11eb-89b2-d130bb144921.png)

Proxy settings:

![image](https://user-images.githubusercontent.com/10957012/96241656-2769c700-0fab-11eb-92d7-af799758a548.png

[2020-10-16 11:13] helgeu commented on #6555
Just hit this problem. Downgraded from 6.8.0 (latest of the openid packages) to 5.5.0. That alone did NOT fix the problem. Added the above typeof-code and then it did work.

[2020-10-16 13:15] espray commented on #4914
See issue https://github.com/Azure/azure-functions-host/issues/5098

[2020-10-16 13:23] oleksandr-slys opened #6802 "Unexpected delay before message processing in EventGridTrigger"
#### Is your question related to a specific version? If so, please specify:
[code]

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I see that the code execution time inside the Azure Function is 2s, but event handler shows that the total time is a few minutes
Why do some messages from EventGrid are waiting so long before start actual processing?

[2020-10-16 14:24] jsgoupil commented on #6549
I don't have something starting with System, but I'm missing that Startup as well...
But for those searching the reason why this is not being generated. Turn on the Diagnostics log for build in Visual Studio. You will get a good insight what is going on if you search for `extensions.json`

Mine would say something like:
[code]

I cloned the Azure Function repo, and I figured that the generator act

[2020-10-16 14:52] pragnagopa commented on #6791
Tagging language worker owners as FYI. No action needed at this time. This is a heads up on a new feature coming to Rpc layer that language workers can opt-in.

- @mhoeger - [NodeJs Worker](https://github.com/Azure/azure-functions-nodejs-worker)
- @AnatoliB  - [Powershell Worker](https://github.com/Azure/azure-functions-powershell-worker)
- @vrdmr  - [Python worker](https://github.com/Azure/azure-

[2020-10-16 17:07] BKB503 commented on #6466
@mhoeger we have updated function app with reloadOnchange to false seems to better not getting any exceptions, but still monitoring it... in the mean while any other solution is there please let me know

config = new ConfigurationBuilder()
                .SetBasePath(Directory.GetCurrentDirectory())
                .AddJsonFile(configFileName, optional: true, reloadOnChange: false)

[2020-10-16 18:28] ankitkumarr commented on #6477
@mattchenderson, do you know what's the recommendation here?

[2020-10-16 20:03] rggammon opened #6804 "Issue using nuget package Microsoft.CognitiveServices.Speech with function.proj (native Microsoft.CognitiveServices.Speech.core.dll)"
I am trying to add Microsoft.CognitiveServices.Speech to my function using https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#using-nuget-packages

I created the following function.proj file:
[code]

In the logs, I see:
[code]
... and in my function run.csx, I am adding:
[code]

Compilation is successful:
[code]

... but execution fails:
[code]

... and when I look a

[2020-10-16 20:37] brettsam opened #6805 "Add support for custom authentication handlers"
Today if you try to overwrite a service that we've registered, it can cause problems. We have a fairly vague explanation of this here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#overriding-host-services.

Customers that try to add their own authentication in a FunctionsStartup can run into odd errors later like

[code]

One example would be doing t

[2020-10-16 21:42] pragnagopa opened #6807 "Update host.json and function.json schema to include retry section"
cc @jeffhollan

[2020-10-16 21:54] itshemant09 commented on #6548
@pragnagopa @brettsam Even I observed the same. Any updates on this?

[2020-10-16 23:24] pragnagopa commented on #6776
Verified kusto has enough information

Sample logs from  invocation retries:

[code]

Closing this issue as I do not think we need detectors.  If needed please open a detectors work-item.

[2020-10-16 23:24] #6776 closed, assigned to pragnagopa

[2020-10-17 10:01] Badabum opened #6809 "The eventhub triggered function doesn't scale above 20 instances"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp:
- Fu

[2020-10-17 17:16] jjxtra commented on #6674
.NET 5 publish to azure functions is working but there are a few "could not evaluate...' errors. It does deploy the zip file though, but every function call gets a 404 error.

Since azure functions lags months behind the general .net annual cycle, can we get self contained publishing support on azure functions? This has to make your life simpler on the back-end as you can stop caring about what ru

[2020-10-18 06:53] jrauschenbusch commented on #6181
any update here?

[2020-10-18 09:26] v-anvari commented on #5911
Hi @mkarthik156 ,  Let us know if you are still facing the issue

[2020-10-18 11:13] bartroozendaal commented on #5313
Is there any update or resolution on this? I seem to hit a similar issue

[2020-10-18 14:38] EnenDaveyBoy opened #6811 "Can I inject IDurableOrchestrationContext using depedency injection?"
in V3 C# can i inject IDurableOrchestrationContext into something like a mediatr pipeline or/and a service class?

I have it working in an old project but can't get it to work in a new project in visual studio code?
 I can't find any information on it and no matter what i try it doesn't work.
Happy to upload anything needed to figure it out but thought I would find out if its possible first.

at p

[2020-10-19 03:02] rggammon commented on #6804
https://www.garypretty.co.uk/2019/04/02/generating-realistic-speech-on-the-fly-with-azure-functions-and-cognitive-services-speech-apis/ shows how to use the http rest endpoint of the cognitive speech service, if there is no way to use the nuget package.

[2020-10-19 03:20] mkarthik156 commented on #5911
@v-anvari  It seems to be resolved now.
Thanks

[2020-10-19 03:20] #5911 closed, assigned to v-anvari

[2020-10-19 04:56] santo2 commented on #1431
I'm not sure if this is related, but I see double logging in application insights on the function logs
- Executing 'PurposePartner_Prebooking_CRUD' (Reason='(null)', Id=20562e22-a6d1-40f7-8efe-05151bf28483)
- ddb25fc2e69041788466c955c9fee617: Function 'PurposePartner_Prebooking_CRUD (Orchestrator)' started. IsReplay: False. Input: (1692 bytes). State: Started. HubName: xxx. AppName: xxx SlotName:

[2020-10-19 05:16] santo2 opened #6812 "duplicate application insights logs on function executions"
Hi,

We have azure functions that are logging every status update twice.

- Function App name: qpark-test-suite-function-app-testenv
- Region: West Europe

# Versions
[code]

# Repro steps

Function logs the execution status twice. Example:
- Executing 'xxx' (Reason='Timer fired at xxx, Id=xxx)
- 26bd6fc4... : Function 'xxx (Orchestrator)' scheduled. Reason: NewInstance. IsReplay: False. State: Sc

[2020-10-19 05:57] helgeu commented on #6555
I was a bit quick in the previous comment. It did in fact always work locally. And it did work in ONE of the test environments we have. Not the most important test environment though, so its a bit more random than expected even.

[2020-10-19 08:19] absolutebandit opened #6813 "MetricEventManager - Memory Leak"
During investigations of memory issues on one of our azure functions applications after taking memory dumps we found that the memory usage was dominated by a huge list (4 million+) of MetricStartEvent within a list of _runningFunctions on the Microsoft.Azure.WebJobs.Script.WebHost.Diagnostics.MetricEventManager class.  Further investigations/memory dumps showed that other applications and other en

[2020-10-19 08:33] helgeu commented on #6555
Not entirely confirmed yet, but I had to make sure all our startup classes had the above "fix" in them. If not then it was a bit random who "won" and what was in effect... At least when I did put the "fix" into both our startup-classes it worked as expected again.

[2020-10-19 13:59] espray commented on #6805
YES this would be helpful. A construction func with the AuthenticationBuilder or something similar to IFunctionsConfigurationBuilder
See https://github.com/Azure/azure-functions-host/issues/4485

[2020-10-19 14:23] AdrianPell commented on #6755
I'm also seeing some (perhaps related) issues with the caller occasionally not receiving a reply from the durable entity.

[2020-10-19 14:27] brettsam commented on #6548
The only thing I can think of is that DataFlow somehow isn't handling 1 correctly here, but I didn't see anything in the code that looked incorrect. We've gotten a few pings on this, so I'm going to move it to our next Sprint. @mathewc -- is this something you could take a look at?

[2020-10-19 16:17] itshemant09 commented on #6548
Thanks @brettsam for taking this up. really appreciated

[2020-10-19 16:23] brettsam commented on #1431
You should not be adding ApplicationInsights yourself -- the functions host takes care of that. https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#logging-services

[2020-10-19 17:21] balag0 opened #6814 "Add missing jittraces for Linux"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

#### Investigative information

Please provide the following:

- Timestamp:
- Fu

[2020-10-19 17:26] AdrianPell commented on #6755
Moved to azure-functions-durable-extension

[2020-10-19 17:26] #6755 closed, assigned to yojagad

[2020-10-19 17:40] #6671 closed, assigned to pragnagopa

[2020-10-20 05:18] anthonychu commented on #6674
Currently, .NET functions compile to a class library that is loaded in a .NET Core 3.1 host process, so you can't run on .NET 5 by publishing a self-contained exe.

With the new .NET 5 worker, we're breaking from the class library model and the worker will be its own process.

cc @jeffhollan

[2020-10-20 05:32] anthonychu commented on #6800
@madhavtr Looks like your requirements.txt is missing SQLAlchemy. Can you try adding it and redeploying? /cc @stefanushinardi @anirudhgarg

[2020-10-20 06:33] jimanttila commented on #5663
This just happend to me aswell. Deployed my function app using Azure CLI. First attempt syncing triggers seems to have failed. Retried a couple of hours later and deployment was successful but app is still running old code. Running on a premium plan.

[2020-10-20 06:35] thaishankar commented on #5663
@jimanttila  Can you please share the app name and issue time?

[2020-10-20 06:40] jimanttila commented on #5663
App name: omnisynk-engine-prod-01

First failed attempt @ Tue Oct 20 2020 05:50:04 GMT+0200
Retried successfully @ Tue Oct 20 2020 07:31:44 GMT+0200

[2020-10-20 15:28] pragnagopa opened #6819 "[Rpc]Enforce timeout on funciton load response"
cc @brettsam @yojagad @mhoeger

This is a follow up from a CRI.

- Host starts up OK
- Node worker start up OK
- Host send function load requests to node worker and in parallel accepts any invocation requests while functions are being loaded by the worker
- Logs indicate a number of function started but the invocations are not dispatched to node worker as host did not receive any function load res

[2020-10-20 15:30] pragnagopa commented on #6819
Please note that this behavior is a regression as a result of restarting just the worker processes on function timeouts.  Earlier, when a executions start timing out, functions host used to shutdown.

[2020-10-20 15:56] #6813 closed, assigned to mathewc

[2020-10-20 20:19] #6814 closed, assigned to balag0

[2020-10-20 21:50] yojagad opened #6821 "[Rpc] Accept function invocations only when FunctionLoad is complete."
Today, we buffer invocations until the point where a FunctionLoad is complete. This could be a problem if the FunctionLoad fails and customers will be forced to retry. We should probably wait, not only until FunctionsHost is up and running, but also until FunctionLoad is complate before accepting invocations.

[2020-10-20 22:59] AnatoliB opened #6822 "Empty triggers sync after 'D:\home\site\wwwroot\host.json' reading error"
#### Investigative information

- Timestamp: 2020-09-30 07:51:48.6859060
- Function App version:
- Function App name: [not sharing]
- Function name(s) (as appropriate): [not sharing]
- Invocation ID: N/A
- Region: [not sharing]

The App name etc. can be identified from this query:
[code]

#### Repro steps

The issue is intermittent and rare, no reliable repro steps.

An app using Service Bus trigg

[2020-10-20 23:00] AnatoliB commented on #6822
/cc @mathewc

[2020-10-21 03:09] pacodelacruz commented on #6788
Microsoft have confirmed that the root cause of this issue is not on the the Azure Functions host. It's a limitation on the AMQP implementation on the Service Bus backend side as explained here.
https://github.com/Azure/azure-sdk-for-net/issues/6450#issuecomment-595926541.

[2020-10-21 04:50] anskanth opened #6824 "Azure V3 to V1 converted Function app - not logging any requests to App Insights"
#### Investigative information

Please provide the following:

- Timestamp:  2020-10-21T04:41:54Z
- Function App version: V1
- Function App name: TestAppInsightsLogginFromFunctions
- Function name(s) (as appropriate): HttpTriggerCSharp1
- Invocation ID: 8d3d5946-bd21-4c9d-b085-c8342df455f3
- Region: UK South

#### Repro steps

1. Create a new function app (.NET, V3), with AppInsights enabled
2. Cr

[2020-10-21 06:49] shengdamao commented on #4808
https://github.com/Azure/azure-functions-host/issues/2968

You could check this issue. There is a solution provided in that one.
Hope this would be helpful.

[2020-10-21 09:43] rkaw92 commented on #4926
Having the same problem with a Node.js function - a POST with chunked encoding results in both `req.body` and `req.rawBody` being undefined, so there doesn't seem to be a way to actually access the data. This is on a local environment started with `func start` - tested with both Functions 2.0 and the Functions 3.0 runtimes.

[2020-10-21 10:56] symphoniasoftware commented on #3153
Hopefully there will be a solution. 😄

[2020-10-21 12:31] hansmbakker commented on #5259
ASP.Net Core has https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/health-checks?view=aspnetcore-3.1

Unfortunately that does not work with Azure Functions out of the box.

@keithsmith21 wrote a [library to use the ASP.Net Core health checks functionality in Azure Functions](https://github.com/keithsmith21/AzureFunctionHealth) and [wrote an article about it](http://www.keithmsmith.com/a

[2020-10-21 14:53] brettsam opened #6825 "Update LogAnalytics Schema"
We're now sending new columns with Azure Monitor, so we'll need to update the schema once it's deployed everywhere.

[2020-10-21 17:16] mathewc opened #6826 "FunctionsScaleManager Service Unavailable"
When the host is in an error/restart loop, admin routes like admin/host/scale/status that request the FunctionsScaleManagerService via [FromServices] DI injection fail with error "No service for type 'Microsoft.Azure.WebJobs.Script.Scale.FunctionsScaleManager' has been registered.". This is because this service is added [here](https://github.com/Azure/azure-functions-host/blob/9ac904e34b744d95a6f7

[2020-10-21 17:19] mathewc commented on #5161
@fabiocav thoughts on the right fix for this? We're seeing this issue for APIs other than Warmup that we originally logged this for. I just logged https://github.com/Azure/azure-functions-host/issues/6826. The unfortunate workaround for that issue will be to do a manual service lookup as we did for the Warmup API.

[2020-10-21 17:43] davidmrdavid commented on #2015
+1 I just recently got hit with a case that appears to be, at least partially, caused by this limitation.

[2020-10-22 01:09] #6686 closed, assigned to balag0

[2020-10-22 01:12] #6754 closed, assigned to yojagad

[2020-10-22 05:31] kosnkow opened #6830 "maxConcurrentCalls not working"
having this "serviceBus": {
      "messageHandlerOptions": {
        "maxConcurrentCalls": 1
      }
    }

does not affact how servicebus azure function takes out messages to process from service bus queue.
Even if I set this to 1 and run the function locally it process as many messages in paralell as it can (multiple threads ) this is blocking us to go to release.

[2020-10-22 05:35] rohitashwachaks commented on #912
Guys...
Any update on this?
I tried adding the singleton Tag on my Functions but nope, orchestration duplicates still being created!
This is what my code looks like

`
string orchestrationIdentifier = Guid.NewGuid().ToString();
                    response += $"Orchestration Identifier: {orchestrationIdentifier}\n";

                    DurableOrchestrationStatus existingInstance = await starter.G

[2020-10-22 07:03] anskanth commented on #6824
Hi, It turns out to be some problem with the App Insights in UK South Region (according to MS Support). We have been asked to use some App Insights in some other regions.

Thanks
-S

[2020-10-22 07:03] #6824 closed, assigned to kashimiz

[2020-10-22 07:23] gohar94 opened #6832 "Shared memory data transfer between Functions host and out-of-proc workers for HTTP body"
#### What problem would the feature you're requesting solve? Please describe.
Invocations with large HTTP body is sent to the worker over gRPC which can be slow.

#### Describe the solution you'd like
Once the shared memory data transfer v1 (#6792) is complete, we can extend that to also transfer large HTTP body over shared memory instead of gRPC.

#### Describe alternatives you've considered
n/a

[2020-10-22 07:24] gohar94 commented on #6832
cc @goiri

[2020-10-22 09:56] qfyra opened #6833 "Previously working ReadyToRun Functions now cannot start due to DependencyInjection errors"
All our Azure Functions have previously been configured with the "Enable ReadyToRun compilation" file publish option without any issues, they've been running fine for the better part of this year. At some point during the last couple of months (unknown at this point since we're currently only using these functions sporadically in development), this has stopped working. When invoking these function

[2020-10-22 15:41] ghost opened #6834 "Debug Telemetry from Azure Function?"
On my Azure V3, C#, HTTP Trigger function, I DI the TelemetryConfiguration and make a new TelemetryClient:

[code]
In my local environment I can't see any of my Application Insight Events, Exceptions, or Traces. I've disabled sampling via samplingSettings->isEnabled.

Is there something else I need to do to see AppInsight data locally via the VS 2019 Application Insights Search window when using A

[2020-10-22 16:12] pragnagopa commented on #6833
@ThejaChoudary  - please repro this.

[2020-10-22 16:15] pragnagopa commented on #6172
Assigning to @TsuyoshiUshio for further investigation.

[2020-10-22 16:44] JosXa commented on #6769
Running into the same error using Microsoft.NET.Sdk.Functions `3.0.9`, doesn't seem to be fixed here.
I am running this on Jenkins in Windows Server 2019.

Nuking dotnet.exe from the pipeline script doesn't work, however restarting the whole build agent machine does the trick... which obviously I don't want to rely on. Is there an old version I can fall back to where this issue hasn't been present

[2020-10-22 17:13] ChrisHimsworth commented on #5240
We see 2 different exceptions being logged for the same invocation.  We use the ServiceBus Trigger running on .NET Core 3.1, using the following packages:

[code]

1st exception:
[code]

2nd exception:
[code]

[2020-10-22 17:28] fabiocav commented on #5240
@ChrisHimsworth what version of the trigger are you using? The extension has recently been updated to address issues with termination where it would attempt to use services or perform function invocations after a shutdown request, which would trigger service resolution outside or their lifetime scope.

[2020-10-22 17:42] ChrisHimsworth commented on #5240
@fabiocav  - they seem to be the latest versions as per nuget.org - 4.2.0 of Microsoft.Azure.WebJobs.Extensions.ServiceBus package and 5.0.0 of Microsoft.Azure.ServiceBus:
[code]

[2020-10-22 18:02] markfogarty opened #6835 "Python httptrigger function fails with ModuleNotFoundError: No module named 'azure.storage'."
The function works fine locally in vscode. When i publish it to azure the build, deployment and initialization all succeed. But when it receives a request it fails with this error. I have tried publishing from the terminal window with --build-native-deps and with --build remote with the same result. Python version is 3.8, but the same thing happens with 3.7 and 3.6.

I am not trying to import azur

[2020-10-22 18:05] #6826 closed, assigned to mathewc

[2020-10-22 20:05] mpaul31 commented on #5240
we are seeing similar issues and messages beings abandoned for **all** delivery attempts and moved to the DLQ without any log traces for the operations. I only know this because I contacted support and is currently being investigated. All this occurred after we updated to the latest Microsoft.Azure.WebJobs.Extensions.ServiceBus package.

[2020-10-22 21:30] stap123 commented on #912
@RohitashwaChaks Does limiting the scale out not work for you, you can do it in the Azure Portal to prevent the function app scaling to more than 1 instance.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#limit-scale-out

[2020-10-22 21:35] jaliyaudagedara commented on #6542
Hi Guys, any update on this.

Now, we can include appsettings by doing,
[code]
and we should be able to use those settings when doing a binding, something like below, isn't it?
[code]
But we aren't able to do that.

[2020-10-22 21:44] pragnagopa commented on #6807
PR: https://github.com/SchemaStore/schemastore/pull/1329

[2020-10-22 22:35] TsuyoshiUshio commented on #6172
Hi @jdubois
Do you think this scenario is still important for you? or would you want to prioritize other scenario?
Let's discuss on the meeting.

[2020-10-23 07:46] rohitashwachaks commented on #912
@stap123 I have several other functions in the same Functions App. Setting the `WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT` to 1 will limit all the constituent functions.
I do not wish to do that (scalability was the primary reason why we shifted to Azure). Is there a way to restrict JUST THAT ONE function from scaling up?

[2020-10-23 07:51] AsifulNobel commented on #5421
@dieterdp Were you able to find any solution?

[2020-10-23 09:23] stap123 commented on #912
@RohitashwaChaks Yeah we wanted the same thing. We just created a second function app and put the functions that were limited to 1 instance in that app and the other functions with default scaling in another app.

[2020-10-23 09:43] Azazel666 opened #6837 "Startup class (FunctionsStartup) is never called"
I'm trying to create a azure function and I'm currently trying to get DI to work but with no success. I have checked [documentations ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) and multiple articles access the web and I don't understand where I go wrong. Essentially I'm trying to setup a startup class derived from FunctionsStartup but the class i

[2020-10-23 11:00] jdubois commented on #6172
Hi @TsuyoshiUshio yes this is very important if want to have GraalVM support.
Then, now that I understand better how this all work, I might also find a solution by myself. Also, I'm going to work with this with @abhirockzz this afternoon, hopefully this will help.

[2020-10-23 11:38] Azazel666 commented on #6837
Root cause seems to have been the <UserSecretsId> element of the project file. It casuses it to break and you need to add another nuget package Microsoft.Extensions.Configuration.UserSecrets for it to resume working. I have not seen this being mentioned in any documentation or any of the articles about getting FuctionsStartup to work. But i found another issue with this link to [damienbod](https:/

[2020-10-23 11:38] #6837 closed, assigned to ankitkumarr

[2020-10-23 14:59] anthonychu commented on #6837
FYI @gzuber as this relates to user secrets.

@Azazel666 Can you share more about the problem you ran into and how you solved it?

[2020-10-23 19:25] brettsam commented on #6538
I've just set this up, and everything sent to `FunctionAppLogs` looks correct. I tried logs from both `console.log()` and `context.log()` in node from a Linux Consumption app. Linux Dedicated is still being finalized, but we'll make sure this works there as well.

[2020-10-23 19:25] #6538 closed, assigned to brettsam

[2020-10-23 22:25] mhoeger commented on #6773
Unfortunately I think this documentation is only relevant for V1...

@brettsam - Should this guidance even exist still? https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#referencing-external-assemblies

cc: @ggailey777

[2020-10-23 23:34] Fishrock123 commented on #6637
I am encountering this, and had filed an issue at https://github.com/Azure-Samples/functions-custom-handlers/issues/17

[2020-10-23 23:35] Fishrock123 commented on #6608
I am encountering this, and had filed an issue at https://github.com/Azure-Samples/functions-custom-handlers/issues/17

[2020-10-25 16:13] ddobric commented on #6328
Is there anythin gnew regarding this issue?

[2020-10-25 18:55] AKomyshan commented on #6783
@SeanFeldman could you please describe just a little bit more how to fix this exception for DbContext ?

[2020-10-26 09:18] Azazel666 commented on #6837
We are developing a Azure function to be scheduled. As we want to take advantage of DI i wanted to setup the dependencies using the startup class, however we dont want to hardcode in connections strings etc. that will be in version control cause we want to be flexible between developers and not accidently push and overwrite someone else's settings so we use secrets.json for those values that will

[2020-10-26 17:00] markfogarty commented on #6835
this was the result of my own ignorance, not a problem with azure functions. adding a wheel for azure.storage.blob resolved the problem.

[2020-10-26 17:00] #6835 closed, assigned to yojagad

[2020-10-27 00:13] gzuber commented on #6837
@Azazel666 Thanks for the details here this is really helpful!

@anthonychu This looks like something we need to be sure to add to the documentation for User Secrets. We can follow up about specifics

[2020-10-27 05:05] SeanFeldman commented on #6783
The issue was with assembly scanning. Entity Framework package has a dependency on `Microsoft.Data.SqlClient` which is not a conventional package. It has a placeholder assembly that is found in the `bin` folder and it has a platform-specific assembly that is resolved at runtime. There are two options. One is to compile the Function project against a specific target and that places the correct targ

[2020-10-27 05:21] anthonychu commented on #6837
Have a PR open for docs that we can publish when https://github.com/Azure/azure-functions-core-tools/pull/2260 is done. We can publish earlier but probably should have some of those fixes in first.

[2020-10-27 05:34] onlywithlad opened #6843 "Azure Function App "Function Runtime Setting" changed to "Custom" automatically from verison 3"
Hi Team,
I upgraded my function app from dot net core 2.1 to 3.1 and same was deployed with function runtime setting as 3 from dropdown - "Runtime Version"
But after 3 days "Function Runtime Setting" automatically changed to "Custom" from version 3 and now dropdown is not editable. that is my function app version changed to version 2. so function app stopped working.
Can anyone guide me why this i

[2020-10-27 10:08] v-anvari commented on #6809
Hi @Badabum , to understand the cause better, can you tell us what is the plan used?

If its a [dedicated plan](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#scale), then the max instances is 20, after which it scales out.

[2020-10-27 10:26] v-anvari commented on #6447
Hi @csalgo70 , there were few changes made in the latest releases, I was able to deploy the above app successfully without any error. Please try again and let us know if it is working for you.

**Package version : Microsoft.NET.Sdk.Functions 3.0.9**

**VS Output :**

1>------ Build started: Project: HttpFuncExample, Configuration: Release Any CPU ------
1>HttpFuncExample -> C:\Users\v-anvari\Downl

[2020-10-27 10:42] Badabum commented on #6809
Hi @v-anvari , nope, it was consumption plan.

[2020-10-27 10:46] Badabum commented on #6809
Not sure what was the cause, because we tried a lot of different things and nothing helped at that time. We mitigated the issue by moving the event hub triggered function to a separate app with its own storage account and changed logic to reduce function execution time. Right now it scales even beyond 40 instances(most of which are idle)  Let me know if yo
u need more information.

[2020-10-27 11:16] ThejaChoudary commented on #6843
@onlywithlad  Can you share the app details and timestamp etc to invetigate further.
Thank you!

[2020-10-27 11:23] v-anvari commented on #4815
@katlimruiz , are you still facing an issue here?

[2020-10-27 11:41] v-anvari commented on #6082
Hi @a9261, Few changes have been made to the timer triggers recently. We have gone through the latest logs
**Dated** - 27-10-2020 for the **Function** - _SyncAccountBalanceBotToCore_ which is set for 10 secs. The functions seems to be working fine in the recent logs. Could you please confirm if you are still facing any difficulties.

**Logs :**

 2020-10-27T11:09:50.0103353+00:00
 2020-10-27T11:09

[2020-10-27 12:35] v-anvari commented on #6809
Hi @Badabum , since the previous app is moved, we wouldn't be able to tell the cause. But let us know if are you facing issues with the new app?

[2020-10-27 14:34] brettsam commented on #6773
I'm not sure NotificationHubs was ever supported like that in v1, even: https://github.com/Azure/azure-functions-host/blob/v1.x/src/WebJobs.Script/Description/DotNet/FunctionMetadataResolver.cs#L58-L64

[code]

Here's the current list for v2 and v3: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Description/DotNet/ScriptFunctionMetadataResolver.cs#L55-L59

[code]

[2020-10-27 14:47] pragnagopa commented on #6795
Completed:
- Public cloud windows
- National cloud windows

TODO:
-  Public cloud Linux consumption
-  Public cloud Linux AppService / EP
-  National clouds Linux Consumption
-  National clouds Linux AppService / EP

[2020-10-27 15:41] feskensa opened #6846 "AccessDenied after continuously loading DDLs using Assembly.Load()"
#### Investigative information

Please provide the following:

- Timestamp: 10/27/2020, 1:06:41.257 PM (UTC)
- Function App version: 3.0.14785.0
- Function App name: functionrepro
- Function name(s) (as appropriate): Function
- Invocation ID: 6fade0fea055c041
- Region: North Europe

#### Repro steps

I prepared a [repo ](https://github.com/sn0wtorch/reprofunction) with the code for the function, a

[2020-10-27 18:13] TsuyoshiUshio commented on #6719
Hi @shashanksdixit and @SelvamRajendrn ,

Sorry for late reply. I can reproduce it. I identify why it happens. It is happens inside of the spring-cloud-function.
According to their code, they assume that it has one function. I'm not sure if it is a bug or limitation.  So that I create an issue on their repo.

https://github.com/spring-cloud/spring-cloud-function/blob/a7104e489ec1f608dc7229b9faad12

[2020-10-27 18:13] #6770 closed, assigned to divyagandhisethi

[2020-10-27 20:39] fabiocav commented on #6328
@ThejaChoudary / @Kotasudhakarreddy I see this is currently assigned to you. Are you working on repro and additional details or should we have t his triaged/assigned?

[2020-10-27 22:04] brettsam commented on #6523
@alrod actually fixed this with https://github.com/Azure/azure-functions-host/pull/6787.

[2020-10-27 22:04] #6523 closed, assigned to pragnagopa

[2020-10-27 22:30] yojagad commented on #6521
Discussed with Brett offline. Thought it might be a good idea to first check whether WarmupScenarios not disposing the _testFunctionHost was causing the side effect of the test holding onto the lease.

Made the change and reenabled the test. If it's found that the test starts failing again, then we could potentially bring back the change I originally had (ie., to override the HostIdProvider).

[2020-10-27 23:54] mhoeger commented on #6773
😮 !! @brettsam - can you review the docs changes? https://github.com/MicrosoftDocs/azure-docs-pr/pull/135667

@mpodwysocki - Can you try referencing the Notification Hubs NuGet library through a function.proj file instead [as documented here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#using-nuget-packages)? Apologies, it looks like our docs got stale there an

[2020-10-28 02:01] ebwinters commented on #5098
Guys I have the solution after hours of investigation:
Instead of `async void` for function return type, do `async Task`. Not sure why this fixes it, any explanation would be great. @fabiocav

[2020-10-28 02:01] ebwinters commented on #4914
See my reply here: I fixed it
https://github.com/Azure/azure-functions-host/issues/5098#issuecomment-717646798

[2020-10-28 05:15] gzuber commented on #6522
It looks like this test is starting a host and warming it up in specialization mode, then making sure that only one thread is being used, and then sending 100 `api/functionexecutioncontext` requests and making sure they're returning success. The test seems to be failing because every once in a while at least 1 of the 100 requests will return "BadRequest". I have been unable to repro locally so far

[2020-10-28 05:39] jeffhollan commented on #5098
In C# you should only use `async void` when you have to (event handlers, which functions are not in that sense), so likely due to that https://stackoverflow.com/questions/13636648/wait-for-a-void-async-method

[2020-10-28 12:21] ishepherd commented on #5098
@ebwinters your function would return when it hits the first `await`. I suppose the functions host has no way of telling there is still work pending, because you did not return a `Task` for it to wait on.

[2020-10-28 12:30] ebwinters commented on #5098
Good to know

[2020-10-28 13:04] katlimruiz commented on #4815
already had a workaround, by creating a winston logger and merging it with the ctx.log, however, it would be nice if we could have a better solution out of the box.

[2020-10-28 13:17] jimanttila opened #6850 "Servicebus Topic Trigger randomly triggers twice after failed deployment"
#### Investigative information

A new version of our app was deployed last week (Tue Oct 20 2020 05:50:04 GMT+0200). After deployment the app was running old code as reported in issue [5663](https://github.com/Azure/azure-functions-host/issues/5663)

Now it seems that one or more of our triggers get executed twice for the same servicebus topic message.
We have restarted the app today (Wed Oct 28 2

[2020-10-28 13:47] jimanttila commented on #6850
Bug in code identified, can close it

[2020-10-28 13:47] #6850 closed, assigned to soninaren

[2020-10-28 15:40] v-anvari commented on #6202
Hi @yashvardhan90 , I have tried to repro the scenario, but didn't find any error. I tried to capture the logs of your app, but seems like it has been deleted.

Lets us know if you are still facing the issues, if yes could you please give us the function app name and recent time stamp to get the logs and check the cause

[2020-10-28 15:50] brettsam commented on #6522
Let's re-enable this test with some more logging. My recommendation is to change this so that if there is a failure, we write out the full log so we can find it later. In this case, add an `ITestOutputHelper` (it's an xunit type they'll inject) to the constructor and then use it to log the output if that Assert fails.

This way you don't have to spend a bunch of time trying to repro. We can leave

[2020-10-28 16:32] SOFSPEEL commented on #5240
I'm getting similar exception, note that in my case TimerTrigger and OrchestrationTrigger are only triggers involved.

[code]

I'm running Azure Function 3 on Windows 10 Runtime version ~3
[code]

[2020-10-28 17:19] brettsam commented on #6318
Update -- I also validated this against a Linux app this week.

[2020-10-28 18:06] TsuyoshiUshio commented on #6172
Hi @jdubois
Sure. I'll take time for it. However, You also need to understand the architecture. I think, custom handler is slower than consumption plan architecture. It might not immediate because of the priority, however, I'll do it.

[2020-10-28 18:30] mhoeger commented on #3543
Didn't get much time to work on this larger item with being on-call, pushing to next sprint. Apologies all, still definitely a priority :)

[2020-10-28 18:58] t-l-k commented on #4914
Follow up for context ... spot the moment Functions runtime `3.0.14785` becomes active with appsetting `AzureWebJobsFeatureFlags` = `EnableEnhancedScopes` 😉
![image](https://user-images.githubusercontent.com/15836198/97483124-f8f6cf00-194e-11eb-8231-1e23ce4b8fd2.png)

This issue is resolved by #5098.

[2020-10-28 19:00] t-l-k commented on #5098
This is now working great for me, my failed request rates and exception rates have basically dropped to zero, and applications are working better than ever. This brings Azure Functions back to the table for projects in flight!!!

p.s. I skipped local validation using the `func.exe` tools and just went for the docker image `mcr.microsoft.com/azure-functions/dotnet:3.0.14785`, which worked great as

[2020-10-28 19:12] v-anvari commented on #6110
Hi @bchapeau , I tried to repro the above code and I was able to deploy successfully.
![image](https://user-images.githubusercontent.com/66122429/97484588-e8f6e380-197e-11eb-8fae-52004d00a4b2.png)

Can you please try again with a new rg and let us know if you are facing the issue. Can you try using the latest [API versions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-fi

[2020-10-28 19:26] brettsam commented on #5098
@t-l-k -- to be clear, you're running with the new feature flag?

[2020-10-28 20:08] fabiocav commented on #6807
Closing as resolved.

[2020-10-28 20:08] #6807 closed, assigned to pragnagopa

[2020-10-28 20:11] fabiocav commented on #6794
The code has been migrated to the new repo. PR will be opened from there.

[2020-10-28 20:11] fabiocav commented on #6794
Closing as resolved. PR will be opened soon.

[2020-10-28 20:11] #6794 closed, assigned to alrod

[2020-10-28 20:12] fabiocav commented on #6795
Currently in progress; moving to sprint 88

[2020-10-28 20:17] fabiocav commented on #6672
This work item is currently blocked on infrastructure changes.

[2020-10-28 20:19] gzuber commented on #6522
Added Brett's suggested changes in https://github.com/Azure/azure-functions-host/pull/6852. Waiting for failures in pipeline to get more info on what specifically is failing.

[2020-10-28 20:27] fabiocav commented on #6580
Currently in PR, waiting for approval.

@ggailey777 - FYI

[2020-10-28 20:28] fabiocav commented on #6522
Still under investigation. Moving to the next sprint

[2020-10-28 20:30] fabiocav commented on #6239
This might slip into the next sprint. Updating to reflect that.

[2020-10-28 21:37] kamilzzz commented on #3741
What's the current state of this issue?

I've tried code posted by @michaeldaw and my custom TelemetryProcessor was indeed called but then Live Metrics in the portal are broken. Now they are showing only CPU/Memory usage. Cannot see traces/dependencies anymore (they are sent for sure because after a few minutes I can see them in the Performance -> Dependencies UI).

[2020-10-28 22:24] SeanFeldman opened #6853 "Injecting MessageReceiver/IMessageReceiver associated with ServiceBusTrigger"
#### Is your question related to a specific version? If so, please specify:

Functions v3

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#

#### Question

The [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#caveats) states that

What about `MessageReceiver`/`IMessageReceiver` associated with `ServiceB

[2020-10-28 22:35] stevewithey commented on #4542
Still no progress on setting X-Forwarded headers on App Proxies???

[2020-10-29 14:17] pragnagopa commented on #6791
@gohar94 - Ok to assign this issue to Sprint 88 ?

[2020-10-29 14:26] t-l-k commented on #5098
@brettsam indeed! Unless my eyes deceive me!

![image](https://user-images.githubusercontent.com/15836198/97586848-a4a52b00-19f2-11eb-8c7e-dece280de5b5.png)

[2020-10-29 15:27] kamilzzz opened #6855 "Maximum length of an environment variable"
I'm using Azure Function App hosted on an S1 Linux plan and I've noticed that whenever I set (through Azure Portal configuration ui) environment variable which is longer than 53 characters then it's getting trimmed.

Example:
Environment variable name: `Section1__Subsection1__Subsection1OfSection1__ConnectionString`

Portal allows to set such environment variable and after saving it still displays

[2020-10-29 15:39] Recio commented on #2412
Also wondering if this is planned in the near future 👍

Would be super handy to have!

[2020-10-29 16:05] brianstringfellow commented on #5572
Discussion about the same problem.
https://github.com/Azure/Azure-Functions/issues/1361

And more discussion about documentation on the settings.
https://github.com/MicrosoftDocs/azure-docs/issues/36458#issuecomment-647631943

[2020-10-29 16:44] pragnagopa opened #6856 "Roll-out V2 to V3 auto-upgrade"
cc @divyagandhii

Tracking issue to setup repro apps in linux consumption and dedicated and also to monitor logs as we start auto-upgrading linux stamps.

[2020-10-29 16:46] pragnagopa commented on #6795
Public cloud Linux AppService / EP - Done

[2020-10-29 16:52] pragnagopa commented on #6795
Did not find any potentially breaking apps in Linux consumption / dedicated/ EP in national clouds

[2020-10-29 17:28] v-anvari commented on #6137
@stinejohans1 , I hope you are looking out for [this link](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#limit-scale-out) and it solves the problem.

[2020-10-29 17:28] #6137 closed, assigned to nobody

[2020-10-29 18:21] pragnagopa commented on #6795
Blocked on pinning Linux consumption apps. Will work with @divyagandhii to unblock

[2020-10-29 18:52] #6766 closed, assigned to ankitkumarr

[2020-10-29 19:50] v-anvari commented on #5572
Hi @jurjenoskam, Setting the default network rule to deny blocks all access to the data unless specific network rules that grant access are also applied. Be sure to grant access to any allowed networks using network rules before you change the default rule to deny access. Hence, the error is expected. To Grant access explicitly to intended networks, please go through [link](https://docs.microsoft.

[2020-10-29 19:50] #5572 closed

[2020-10-29 20:40] fabiocav commented on #5098
@t-l-k great! Thanks for providing feedback on this! And again, thank you for the patience with this! If you find any other issues while enabling this toggle, please let us know as we'll be making this the default once we have some good validation.

For others who were experiencing the same issue, please provide feedback if possible.

@ebwinters the information provided by @ishepherd is correct, t

[2020-10-29 21:21] Dhruv-1982 opened #6857 "Azure Function App on Linux consumption plan zipdeploy error"
I am trying to deploy my package on azure function app with Linux consumption plan. I am using zipdeploy from powershell. the endpoint i am using is like "https://functionapp.scm.azurewebsites.net/api/zipdeploy". I am trying to execute the below

Invoke-RestMethod -Uri $apiUrl -Headers @{Authorization=("Basic {0}" -f $base64AuthInfo)} -Method POST -InFile $filePath -ContentType "multipart/form-dat

[2020-10-29 21:49] ebwinters commented on #5098
@fabiocav that makes sense, thanks for explaining. I saw some code snippets in this thread with a void return type, so this may still help them (assuming warnings are being suppressed)

[2020-10-29 21:50] Dhruv-1982 commented on #6857
Log Stream Details of my App

2020-10-29T21:45:42Z   [Information]   Host Status: {
  "id": "*******",
  "state": "Running",
  "version": "3.0.14492.0",
  "versionDetails": "3.0.14492 Commit hash: b088b9dad1238cef70931c608f16c5c315d328fb",
  "processUptime": 807564

[2020-10-29 23:57] ankitkumarr commented on #6466
In our last platform upgrade (last week ANT 90), the limit was increased to 4096 (by Steve Ernst). This issue should now be fixed. I will clsoe this issue, but please let us know if you continue to see this and we can reopen.

[2020-10-29 23:57] #6466 closed, assigned to mhoeger

[2020-10-30 02:44] #6819 closed, assigned to pragnagopa

[2020-10-30 05:20] balag0 opened #6858 "Log BYOS mount failures in Linux consumption"
Improve logging in case of mount failures.

[2020-10-30 07:10] jurjenoskam commented on #5572
Hi @v-anvari, you mention to: "be sure to grant access to any allowed networks using network rules before you change the default brule to deny access". **That is exactly what the ARM template does**: it explicitly grants access to the Vnet, as well as AzureServices. I also mentioned this when opening this issue: "[ ... fails with 403 ... ] _even when the firewall explicitly allows AzureServices an

[2020-10-30 07:22] UlrichBodentien opened #6860 "High memory working set with EventGridTrigger, DataLake and Application Insights"
I have an Azure function running on a service plan, using an EventGridTrigger, that reads files from a DataLake storage.
The issue I'm having is that the memory working set keeps increasing, until it looks like it reaches the maximum amount of memory. At that point, I suppose, the process restarts and the memory starts increasing again. The function I'm working on is part of another system, but I

[2020-10-30 23:21] balag0 commented on #6857
Could you try Option 2 from
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

to share the app name privately. It should work for apps with no deployments as well.

[2020-10-31 12:24] JanBaan opened #6861 "Can't make Dependency Injection work on Deployed Azure Function App v3"
Hi,

I've seen a lot of people having issues with DI in Azure and unfortunately I became one of them.

The message I'm receiving is this:
**2020-10-31T11:43:50.868 [Error] Executed 'AllUsersController' (Failed, Id=b55afe99-1a67-4897-8f82-bc00f19a9cbc, Duration=0ms)System.InvalidOperationException : Unable to resolve service for type 'APHVapp.Interfaces.IUserService' while attempting to activate 'A

[2020-10-31 13:00] ghost commented on #6843
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-10-31 13:00] ghost commented on #6447
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-10-31 13:00] ghost commented on #6082
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-01 16:00] ghost commented on #6202
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-01 17:16] dsghi commented on #6483
Jumping in here, because I actually had a need for this scenario, and found that there is a way to call a timer triggered function on-demand via HTTP, just not the same way as a function with an HTTP trigger, see this doc: [Manually run a non HTTP-triggered function](https://docs.microsoft.com/en-us/azure/azure-functions/functions-manually-run-non-http)

BTW where can I submit a feature request? I

[2020-11-01 22:00] ghost commented on #6110
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-02 06:33] Dhruv-1982 commented on #6857
Here is the execution details
2020-11-02T06:29:26Z   [Information]   Executed 'DeviceTwinChangeTopicDLQProcessingFunc' (Succeeded, Id=d64e024f-a232-44e7-979d-fb614c25a908, Duration=5027ms)

We are facing the same problem for all our function apps hosted on consumption plan.

[2020-11-02 08:12] #6669 closed, assigned to alrod

[2020-11-02 12:12] ThejaChoudary commented on #4542
@safihamid @vfedonkin can you please look into this further.

[2020-11-02 12:17] ThejaChoudary commented on #4902
@SimonLuckenuik are you still facing the Issue

[2020-11-02 12:21] ThejaChoudary commented on #5365
@fisapras Are you still facing the issue?

[2020-11-02 13:04] ThejaChoudary commented on #5378
@Joshd17  Hope [Web API Route Constraints.](https://docs.microsoft.com/en-us/aspnet/web-api/overview/web-api-routing-and-actions/attribute-routing-in-web-api-2#route-constraints) this should help, please follow the below format

**[Route("users/{id:int}")]
public User GetUserById(int id) { ... }**
**[Route("users/{name}")]
public User GetUserByName(string name) { ... }**

And please let us know if

[2020-11-02 14:52] plamber opened #6862 "Individually manipulating the maxPollingIntervall for each Function"
I am looking for a way to manipulate the maxPollingIntervall of individual functions. The host.json can be used to specify a global setting for the maxPollingInterval.

On the other hand, is there a way for me to specify different settings for each individual function? I am fine with writing code to accomplish this task.

We work with ASP.NET core and C#.

Thank you for your feedback,

[2020-11-02 17:35] cgillum commented on #6602
@fabiocav this issue is creating problems for Durable Functions customers running on Linux, and we expect to have more Linux customers when we GA Durable Python. Is there any way we can prioritize this issue?

@ConnorMcMahon if the fix is simple enough, I think we should just create a PR for it ourselves.

[2020-11-02 17:39] v-anvari commented on #6830
Hi @kosnkow , we would like to know how you have developed the scenario locally, and what language you have used. Repro steps would be helpful.

If its possible to paste the code that's busted, then it will be helpful for us to repro the issue

[2020-11-02 17:41] v-anvari commented on #6483
Hi @dsghi , you can raise a new feature request in [feedback.azure.com-azure-functions](https://feedback.azure.com/forums/355860-azure-functions)

[2020-11-02 18:39] fabiocav commented on #6602
@cgillum it would also be good to validate with the Linux team that this is expected for the App Service Linux flavors. Ideally, the runtime wouldn't be responsible for this.

[2020-11-02 18:42] ConnorMcMahon commented on #6602
We document for customers [to do this for .NET Core apps](https://docs.microsoft.com/en-us/azure/app-service/configure-language-dotnetcore?pivots=platform-linux#detect-https-session) if they want to detect if traffic is HTTPs or not. It seems like this is something that the runtime should handle on Linux App Service, given the limitations of our architecture. It was not necessary for our Windows a

[2020-11-02 19:17] fabiocav commented on #6602
If it is documented behavior, I agree. It's unfortunate, but looks like that's what we need to do.

I'm assuming the middleware registration here is conditional on the plan (haven't looked yet), so we'd need to apply the same to other Linux flavors, but we need to understand how the change in behavior could impact customers and decide whether this needs to be done as an opt-in thing.

[2020-11-02 19:28] ConnorMcMahon commented on #6602
I am less concerned about customers seeing HTTPS on their HttpRequest object, as long as we give an out for customers disable this new behavior. I just don't see many customers being broken if HTTP changes to HTTPs.

That being said, I have found that using the default .NET Core middleware that handles this forwarding logic deletes the original X-Forwarded-Proto header, which I could definitely se

[2020-11-02 19:32] fabiocav commented on #6602
Neither do I, but the bar wouldn't be _many_, but _any_. If we identify any valid scenarios where a customer would be broken, we can't make a change to the defaults. That's why changes like this, even if we don't immediately think would have customer impact, still need to go through a more thorough investigation/validation. We do this for any changes to defaults.

[2020-11-02 19:38] fabiocav commented on #6602
And it goes beyond just seeing what's on the request. Any logic base on the scheme (that could be for any component the customer passes the request down to), would be impacted by this change, we we do need to approach this carefully.

[2020-11-02 19:38] ConnorMcMahon commented on #6602
Hmm, I think then we may need to handle this separately in Durable Functions then (at least for our link creation APIs), as if this is opt-in I think many of our customers will have difficulty finding this setting.

[2020-11-02 19:39] SeanFeldman commented on #6853
@brettsam any information on this one?

[2020-11-02 19:57] brettsam commented on #6812
Do not call `AddApplicationInsights()` or you'll get unexpected results -- it's noted here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#logging-services

[2020-11-02 19:57] #6812 closed, assigned to pragnagopa, ThejaChoudary

[2020-11-03 05:14] santo2 commented on #6812
thanks for the help!

[2020-11-03 14:02] sven-hoffmann opened #6863 "Newly deployed function app using ARM templates will intermittently not be available during the first minutes after successful deployment"
The issue is happening while provisioning new environments for testing purposes. These are short lived scenarios where the resources are created, tested and deleted. Even though the deployment succeeds, the environment is actually not ready for test cases to be executed against it – tests will sometimes just fail because of this issue.

I was directed to create an issue here from a support case on

[2020-11-03 16:00] #6843 closed, assigned to kashimiz

[2020-11-03 16:00] #6447 closed, assigned to gzuber, v-anvari

[2020-11-03 16:00] #6082 closed, assigned to v-anvari

[2020-11-03 21:40] Hazhzeng commented on #6693
Same issue when @vrdmr and I are testing Python worker with host in a custom container, worker's logs are missing.

[2020-11-03 21:46] vrdmr commented on #6693
As @Hazhzeng mentioned, we tried with multiple versions of the host.

Our Env section
[code]

our host.json
[code]

[2020-11-03 21:55] pragnagopa commented on #6693
cc @brettsam

[2020-11-04 00:15] divyagandhisethi opened #6866 "Container specialization fails silently on container restart in Linux Consumption"
This came up in a recent CRI - we can fail to specialize from SAS uri silently.

Sample logs:
[code]

The issue seems to be in this line: https://github.com/Azure/azure-functions-host/blob/95dc10e7e5ee1258eb60ca8d22ce42faa776d1ca/src/WebJobs.Script.WebHost/ContainerManagement/LinuxContainerInitializationHostService.cs#L78

We should not be failing silently here.

[2020-11-04 01:26] balag0 commented on #6866
If you could clarify, is this workitem just to log with error/warning log level or something more?

[2020-11-04 05:09] ryanyong-jbhifi commented on #5240
The issue can still be observed, here are the Application Insights detail:

Property|Value
-- | --
Message | Container is disposed and should not be used: Container is disposed. You may include Dispose stack-trace into the message via: container.With(rules => rules.WithCaptureContainerDisposeStackTrace())
Exception type | DryIoc.ContainerException
Failed method | Microsoft.Azure.WebJobs.ServiceBus

[2020-11-04 21:49] mathewc commented on #6548
I was able to repro this and am investigating a fix

[2020-11-04 23:05] divyagandhisethi commented on #6866
This is a repair item for a CRI. The fix needed is upto you.

[2020-11-04 23:25] mathewc commented on #6548
PR out for fix: https://github.com/Azure/azure-functions-host/pull/6867

[2020-11-04 23:39] yashrmaa commented on #6202
@v-anvari Here's the information you asked for:
HostInstanceId: 980fa878-f9ed-4354-aa31-a0e2c9c5d8a9
FunctionName: ArtifactServiceSubscription
FunctionInvocationId: 6ab4ad4e-fc75-486f-9db7-65a20ad481cc
Timestamp: 2020-11-03T07:25:58.514Z

If you see logs for this host, the host posted a stop message at the above timestamp and at 2020-11-03T07:26:00.246Z a new execution started.

[2020-11-05 01:00] #6110 closed, assigned to madelinegordon, v-anvari

[2020-11-05 02:37] ByteDev commented on #5469
Concerning "Function v3 uses System.Text.Json as input serializer and Newtonsoft.Json as output serializer." I have also observed this to be the case.  This is confusing and IMO would have been much more logical if MS had stuck with one or the other.

[2020-11-05 09:08] shibayan opened #6868 "Function retry policy setting of App level is not working."
I added a configuration to host.json to retry at the application level, but it did not work as expected. I set it up as described in the following document.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#retry

#### Investigative information

- Function App version: 3.0.14916.0
- WebJobs SDK version: 3.0.23

#### Repro steps

I prepared a simple HttpTrigger and tried b

[2020-11-05 10:16] Oxoproline commented on #4689
This is really annoying bug/stupid feature. If you use injected services and you want to see logs in those services you have to pass Ilogger instance form function to every method. Please fix this.

[2020-11-05 12:34] singhalsunil065 commented on #1091
how can i trigger an Azure Function locally on Blob Trigger w/o hooking up to an actual Storage Account?

Steps to reproduce:
1) Create an Azure Function based on Storage Blob Trigger. change nothing
2) Run by ctrl+F5 or just F5 using VS2019
3) Create a folder samples-workitems under bin (default folder where compile o/p goes) and add test.txt file
4) Send a request over http: http://localhost:707

[2020-11-05 17:33] MisinformedDNA commented on #1091
@singhalsunil065 I could be wrong, but I think the original issue was in relation to the portal UI.

But you should download [Storage Explorer](https://azure.microsoft.com/en-us/features/storage-explorer/), which comes with an emulator, and then you can add your data that way.

[2020-11-05 18:32] gohar94 opened #6869 "Performance tests for blob bindings"
#### What problem would the feature you're requesting solve? Please describe.
We need to have end-to-end performance tests that exercise the blob bindings for out-of-proc language workers.

#### Describe the solution you'd like
Tests that exercise the following:

Input/Outputs:
1) Read blobs of different sizes (1byte, 100bytes, 1KB, 100KB, 1MB, 100MB, 1GB) from blob trigger binding
2) Read blobs o

[2020-11-05 18:32] gohar94 commented on #6869
cc: @pragnagopa @goiri

[2020-11-05 18:44] pragnagopa commented on #6869
Assigning to @yojagad  for now. Once we have perf framework, please add details here and assign it back to me.

[2020-11-05 18:49] yojagad commented on #6869
The perf infrastructure leveraging loader.io is for http triggers only. There are no plans for leveraging it for other types of bindings yet.

[2020-11-05 18:59] gohar94 commented on #6869
Can we use it with HTTP triggers **plus other input/output bindings like blob**?

[2020-11-05 19:07] yojagad commented on #6869
Probably but that might affect the end to end times and other metrics being calculated as part of infra.

[2020-11-05 20:20] gohar94 commented on #6869
We don't want to test blob bindings for all cases. That would be a separate test. I don't understand the test infrastructure yet, but I would hope that we can keep this as a standalone test.

[2020-11-05 22:08] alrod commented on #6521
@yojagad, @brettsam reactivating the issue

[2020-11-05 23:59] #6548 closed, assigned to mathewc

[2020-11-06 09:26] v-anvari commented on #4815
@brettsam/ @mhoeger , is this feature feasible?

[2020-11-06 12:08] norvegec commented on #4705
Ofc we _can_ write all the "wiring" ourselfves, the question is - should we?
Azure functions states the serverless aproach - and logging to attached AppInsights exceptions thrown in `Startup` class should be somthing that _host_ does.

[2020-11-06 13:00] ghost commented on #5365
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-06 13:00] ghost commented on #4902
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-06 15:24] v-anvari commented on #6855
@fabiocav / @mhoeger , I am able to repro this scenario. Like explained, the Env variable shows around 50 characters while using Linux OS and more than 50 characters while using Windows OS in Kudu.

Is this something that could be corrected

[2020-11-06 16:00] ghost commented on #5378
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-06 19:00] ghost commented on #6830
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-07 16:30] JanBaan commented on #6833
My project team is facing a similar issue. It's strange because locally everything works, but when we deploy our app, it gives us an error about our dependency injection.

We checked multiple times and have created a test interface + service to see if we've done something incorrect with the dependency injection, but so far zero progress. We've been dealing with this issue for 3 weeks now and we're

[2020-11-08 18:59] chadleong commented on #4263
I'm getting this error too on a simple Azure Function test. This also resulted in a prop_status failed, not entirely sure if its related.

_**Executed 'Functions.update_data' (Failed, Id=xxxx-xxxxx-xxxx-xxxx, Duration=38ms)**_

[code]

`AI: Local storage access has resulted in an error (User: app) (CustomFolder: ). If you want Application Insights SDK to store telemetry locally on disk in case of

[2020-11-09 07:22] Dhruv-1982 commented on #6857
Any update the issue?

[2020-11-09 07:33] feskensa commented on #6846
Did anyone have a chance to look at this?

Let me know if I can help in any way :)

[2020-11-09 10:32] v-anvari commented on #5622
Hi @gvsireesh , Apologies for the delayed response, Did you find a solution to the error?

Let us know if you are still facing an issue so that we will look into it.

[2020-11-09 12:34] mamoorkhan commented on #4049
@fabiocav and @brandonh-msft any update on this one?

[2020-11-09 13:55] tforkmann commented on #6674
Hi there, is there any news on that? Thanks, Tim

[2020-11-09 14:53] MistyRivers commented on #5378
Hi @ThejaChoudary I'll have a look for reproducability in 3.1, as previously mentioned using the basic route paramaters works however when using POCO's it fails to bind if they are named 'query' as in the example.

[2020-11-09 15:56] brettsam commented on #4815
I'm not sure if it's feasible -- the logging system used by Functions is the .NET Core logging system, and it uses [those filtering mechanics](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#configure-logging). It's not as simple as supplying one log level -- it uses categories and even code to determine if a log should be created or not. I'm not sure that th

[2020-11-09 16:00] #5365 closed

[2020-11-09 16:00] #4902 closed

[2020-11-09 16:05] katlimruiz commented on #4815
Yes I think if at least providing host info would work.

Yet I do think azure functions engine should be thought out to be more stack agnostic.
On 9 Nov 2020, 10:56 -0500, Brett Samblanet <notifications@github.com>, wrote:

[2020-11-09 16:25] c0dybrown commented on #6674
@anthonychu One thing that would bridge the gap in a big way: get EF Core 5 working on Azure functions somehow. For me and many others that I work with, the most critical feature coming out of the .NET/EF 5 release is the new "Split Query" feature. Using split queries for long include chains in EF cuts transaction time exponentially and drastically reduces code complexity.

It's the difference bet

[2020-11-09 17:22] brandonh-msft commented on #4049
sorry @mamoorkhan I don't have any power here

[2020-11-09 17:54] v-anvari commented on #6811
@fabiocav, could you please assign it to Durable repo

[2020-11-09 18:24] v-anvari commented on #6202
Hi @yashvardhan90 , we checked the logs, we want to know a bit more about the issue that you are facing. Can you please elaborate the issue in detail. Also, are you talking about single instance or different instances.

[2020-11-09 18:48] jikuja commented on #5306
https://github.com/Azure/Azure-Functions/issues/1195 mentioned in July that fix was in progress. Any progress or should we start writing workarounds for this issue?

[2020-11-09 18:51] yashrmaa commented on #6202
Sure, so I have a service bus triggered Azure function that runs on multiple instances and what I have seen is when these hosts are recycled, Azure still schedules function execution to it and that execution abruptly ends because the host was already powering down. For instance, if my function F was running on a host H1 and after a while when Azure decided to stop host H1 and move execution to a n

[2020-11-09 22:00] #6830 closed, assigned to brettsam, v-anvari

[2020-11-10 00:21] pragnagopa opened #6877 "Support node worker for workflow extensions"
cc @fabiocav  @hongzli

[2020-11-10 01:03] shankarsama commented on #6788
We fixed the issue with the Service Bus SDK, refer to this PR  https://github.com/Azure/azure-sdk-for-net/pull/16163

[2020-11-10 02:45] jaylorch commented on #6548
Thanks for fixing this!  When will the code with this fix be deployed to Azure Functions?  I tested it just now, and it doesn't seem to be working on Azure Functions yet.

[2020-11-10 05:29] vrdmr commented on #5161
@fabiocav @mathewc - Ping - any updates on this?

[2020-11-10 10:00] ghost commented on #6809
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-10 10:26] kroffdaddy commented on #5660
It seems to be a known problem, according to [this wiki page](https://github.com/Azure/azure-functions-host/wiki/Investigating-and-reporting-issues-with-timer-triggered-functions-not-firing), that using the "Azure Functions" task in an Azure DevOps release pipeline to deploy a function app _running on a consumption plan_ will not register the timer schedule with the Azure Functions runtime.

It wo

[2020-11-10 14:51] itshemant09 commented on #6857
@Dhruv-1982 : try this it should work
$apiUrl = "https://$sitename.scm.azurewebsites.net/api/zipdeploy"
$base64AuthInfo = [Convert]::ToBase64String([Text.Encoding]::ASCII.GetBytes(("{0}:{1}" -f $username, $password)))
$userAgent = "powershell/1.0"

Invoke-RestMethod -Uri $apiUrl -Headers @{Authorization=("Basic {0}" -f $base64AuthInfo)} -UserAgent $userAgent -Method POST -InFile $warFilePath -Cont

[2020-11-10 14:56] v-anvari commented on #6202
Hi @yashvardhan90, Events are happening all the time. As we scale in and scale out, some instances will be shutting down while other ones will be starting up and continue. Or the ones that are still running will continue to process events. Execution of different instances are independent from each other and execution of different instances in the same time frame is an expected behavior. I see in t

[2020-11-10 15:11] yashrmaa commented on #6202
Problems don't always come from an explicit field marked error. This is an incomplete execution. My function started and it's supposed to do 5 things. It stopped at thing #3 without any error. Now this is a bigger problem for me as there are no alerts for such a problem. My question is why did Azure schedule a function execution on a host that is in the process of shutting down?

This is what I ha

[2020-11-10 20:15] Dhruv-1982 commented on #6857
This works. Thanks for the details.

[2020-11-10 20:18] Hazhzeng opened #6879 "Pass log-levels for Functions to the Language Worker"
#### What problem would the feature you're requesting solve? Please describe.
Recently, we face an issue on the Python worker side when sending DEBUG level log to function host via GRPC channel. However, some third-party Python libraries abuse the DEBUG level (e.g. azure-servicebus). In azure-servicebus library, it sends 80+ DEBUG level log entries clogging the GRPC channel, stopping the worker fr

[2020-11-10 20:19] itshemant09 commented on #6857
@balag0 @pragnagopa  I think we can close this and improve our docs.

@Dhruv-1982 do let us know if you need any help 🙂

[2020-11-10 21:34] pragnagopa commented on #6548
@jaylorch - fix is checked in to Sprint 88 and will be part of next functions runtime release. ETA is end of December due to multiple deployment restrictions coming up in  November and December.

[2020-11-10 22:42] #6521 closed, assigned to yojagad

[2020-11-10 23:41] pragnagopa commented on #6879
Assigning to next sprint to  discuss the right approach.

In dotnet functions, LogLevels specified in `host.json` are appropriately converted and right logging filters are applied properly for system logs and user logs. We need figure out a design to extend similar capability for language workers.

Issue above describes - how python worker cannot apply logging filters taking into consideration log

[2020-11-11 01:15] mhoeger opened #6882 "On timeout fail other executions from same worker to know cause."
**NOTE: This does not have an impact on executions, just on the cause of the execution failure.**

Need to verify that failing other executions from a timeout won't alter behavior, ex: in the case of event hubs trigger.

[RestartWorkerWithInvocationIdAsync](https://github.com/Azure/azure-functions-host/blob/f7316c51241234363b11e80cb22f2f4add5252f3/src/WebJobs.Script/Workers/Rpc/FunctionRegistratio

[2020-11-11 01:23] #6672 closed, assigned to soninaren

[2020-11-11 03:20] wjchristenson2 commented on #5894
Just upgraded to 5.0 and it appears the RemoveRuntimeDependencies task was the culprit for System.Private.CoreLib: Could not load file or assembly 'Microsoft.Extensions.Logging.Abstractions, Version=5.0.0.0 in our functions app.

`<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>`

Disabling the task fixed it.

[2020-11-11 07:26] anthonychu commented on #5894
@brettsam @fabiocav Could you please take a look? Also saw this error in [this tweet](https://twitter.com/haacked/status/1326247375573192704).

[2020-11-11 09:48] sbosman84 opened #6884 "Consumption Plan Linux - 0 functions loaded for .NET Core 3.1 Functions project"
We've tested this behavior with a new clean .NET Core 3.1 Azure Functions project containing only a TimerTrigger function which executes every 5 minutes. When we deploy this functions to a Azure Function based on a Linux AppService plan the function is loaded correctly and the timer trigger is executed succesful.

But when we deploy the same function to a Linux Consumption Plan we don't see the fu

[2020-11-11 15:33] soninaren opened #6885 "Indexing exception is thrown for a disabled eventhub function with null connection string"
If you have an empty string configured for an eventhub connection string in a dotnet precompiled function app disabled via the `[disable]` attribute, the function runtime throws indexing error.

#### Investigative information

#### Repro steps
1. Create a v3 dotnet precompiled function app
2. Add an eventhub trigger function
3. Add `[disable]` attribute to the function
4. Set the corresponding con

[2020-11-11 16:16] brettsam commented on #6879
This sounds a lot like https://github.com/Azure/azure-functions-host/issues/4815. The recommendation I had there is to allow the host.json config to be passed down to the worker on startup -- and then each worker can handle it however they want.

[2020-11-11 16:37] pragnagopa commented on #4815
Closing in favor of #6879

[2020-11-11 16:37] #4815 closed

[2020-11-11 16:42] pragnagopa commented on #6879
Thanks @brettsam . Yes, this is same as #4815 .

I agree I do not think we can support similar logging filter per category for out-of-proc but would be great if can land on a simple approach that can be implemented in the host so that all language workers can use this without parsing `host.json`

For advanced scenarios and more granular control over log, language worker should implement its own lo

[2020-11-11 18:34] v-anvari commented on #6202
Thankyou @yashvardhan90 for explaining the issue in detail

Hi @pragnagopa, kindly look into this issue.

For invocation id- **6ab4ad4e-fc75-486f-9db7-65a20ad481cc,** function started but it did not stop or complete, and another instance id started as shown below, within the same role instance

**2020-11-03 07:26:00.2465124 - MediumDedicatedWebWorkerRole_IN_18 - function started- 6ab4ad4e-fc75-486

[2020-11-11 18:41] mathewc opened #6886 "Extend JWT Token auth handler to support alternate header"
For SWA scenarios, we should allow an admin JWT token to also be specified via a custom **x-functions-token** header so MSHA can invoke functions. Currently the token must be specified via the standard Authorization header, but in SWA scenarios we want to allow the application to use that header.

This can be achieved by updating our implementation of OnMessageReceived [here](https://github.com/Az

[2020-11-11 19:39] MistyRivers commented on #5378
@ThejaChoudary

Apologies, my first example may not of been clear, but the {id} part was just supposed to be part of the route, the query is populated with body paramaters. So Route="Function1" and then posting to that would be the same scenario I was expecting, and then the object being binded. A route paramater would work if this was just a simple GET.

I do not want these to be part of the rout

[2020-11-11 19:47] ankitkumarr commented on #5449
The initial changes are done, and works fine locally. But we are facing issues with Sandbox restrictions in Azure. In particular, sandbox seems to be blocking language worker processes to connect to the localhost via HTTP/2.

This will likely move to the next Sprint while we work through those hurdles.

[2020-11-11 20:49] kashimiz opened #6887 "Linux Dedicated/Premium: Write console logs to stdout"
Part of #6215.

Currently, user logs don't appear in Azure Monitor for function apps running on Linux dedicated and premium plans. By piping user logs to stdout, we can take advantage of existing infrastructure that writes stdout to AzMon. This is already done for Linux Consumption, so we should be able to use the same logic.

Right now stdout output goes to the AppServiceConsoleLogs table. Ideall

[2020-11-11 20:55] alrod commented on #6334
closed as the workaround was found

[2020-11-11 20:55] #6334 closed, assigned to alrod

[2020-11-11 20:55] gzuber commented on #6522
It looks like there was one failure in the past two weeks (happened very recently), still investigating the cause with the improved logging.

[2020-11-11 21:00] alrod opened #6888 "Migrate EventGrid Blob Trigger to azure-sdk-for-net"
PR: https://github.com/Azure/azure-sdk-for-net/pull/17137

[2020-11-11 21:03] fabiocav commented on #6856
Work here will continue in sprint 89

[2020-11-11 21:03] fabiocav commented on #6856
Validation has been done in UD0 for Linux consumption

[2020-11-11 21:04] fabiocav commented on #6825
PR is out, currently waiting for a sign-off from an external team.

[2020-11-11 21:05] fabiocav commented on #6798
Need to follow up on the status of this work

[2020-11-11 21:06] fabiocav commented on #6795
Closing as done.

[2020-11-11 21:06] #6795 closed, assigned to pragnagopa

[2020-11-11 21:10] fabiocav commented on #6580
Blocked on PR approval.

[2020-11-11 21:21] fabiocav commented on #3543
Work for this is currently in progress, but we expect completion to happen next sprint. Updated the target to reflect that.

[2020-11-11 21:29] onionhammer commented on #6674
@c0dybrown have you tried using efcore5 with netcoreapp3.1? In the interim, I dont think EF core 5 requires .net5

[2020-11-11 21:33] pinkfloydx33 commented on #6423
Running Azure functions in docker containers inside of Kubernetes with Pod Identity (managed identity) is one place where this would be helpful. Right now I can configure Keda/autoscalar to use pod ID but I still have to managed the connection string for the binding itself which is quite unfortunate. It would definitely be nice for queue storage bindings to support managed ID so that all we need i

[2020-11-11 21:46] fabiocav commented on #6877
Moving this to sprint 90, but we'll continue conversations to gather the requirements and designing during the current sprint. Need to define the priority of this item as well.

[2020-11-11 21:49] fabiocav commented on #6879
Leaving this unassigned for now. We'll be working on the design with @Hazhzeng and team.

[2020-11-11 22:37] Francisco-Gamino opened #6890 "If reading secrets from BlobStorage fails, log the reason."
Currently, if we failed to read secrets from blog storage, we do not log reason. Fixing this will help better diagnose future failures.

https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Security/KeyManagement/BlobStorageSecretsRepository.cs#L93

[code]

[2020-11-11 22:43] Francisco-Gamino opened #6891 "Add retry logic when reading secrets from Blob Storage"
Currently, we only try once when reading secrets from Blob Storage. Perhaps it would make sense to add retry logic for certain scenarios like a transient unavailable storage account issue.

Here is the link to the code that reads from Blob Storage:

https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Security/KeyManagement/BlobStorageSecretsRepository.cs#L93

[code]

[2020-11-12 02:25] mcollier opened #6892 "Inconsistent Default Host Key"
#### Investigative information

Please provide the following:

- Timestamp: 2020-11-12T01:59:21.4
- Function App version: 3.0.14916.0
- Function App name: https://aypnshrj6u6mgfa.azurewebsites.net
- Function name(s) (as appropriate): N/A
- Invocation ID: N/A
- Region: northcentralus

#### Repro steps

Provide the steps required to reproduce the problem:

1. Execute the ARM template located at http

[2020-11-12 06:43] richardhauer opened #6893 "Functions runtime (and emulator) fail to start if Microsoft.Extensions.DependencyInjection.Abstractions 5.0.0.0 is used"
We are upgrading parts of our application to the new v5 runtimes (they are Blazor).
Those parts that still run on the Functions runtime are still using netcore 3.1.
Some assemblies in the solution are using the v5 of `Microsoft.Extensions.DependencyInjection.Abstractions`.

This library advertises that it has no dependencies on `.NETStandard, Version=2.0` so it seems like is should really work.
Ne

[2020-11-12 06:55] pacodelacruz commented on #6788
Hi @shankarsama, could you please confirm if this issue is fixed by updating the client SDK?
It's not very clear from the PR.
What's the nuget package required on the client to avoid this from happening?
Thanks!

[2020-11-12 06:58] ADH-LukeBollam opened #6894 "Queue Trigger Invocation added to poison queue with no errors, warnings or exceptions"
I have a queue triggered function which is occasionally stopping with no indication why. Logs are streaming from the job fine, until it is added to the poison queue.

For example, at 9:41 this job was added to the poison queue
![image](https://user-images.githubusercontent.com/24449147/98904623-e951bb80-24f4-11eb-8ecb-8f0366968ae7.png)

The end to end transaction does not contain any information o

[2020-11-12 07:30] Bakanych commented on #6769
We have the same issue when building solution with `dotnet publish`  on private build host with parallel builds.
Extremely annoying...

[2020-11-12 09:46] thiagottss commented on #6674
It works with netcore3.1 but it doesn't work with Azure Function v3, on Azure. If you want to "run/debug" locally you can update (4) Azure Functions Core Tools dlls to version 5 and it will work. But it will fail when you deploy it to Azure.

https://stackoverflow.com/a/64460664/7037154

[2020-11-12 12:22] c0dybrown commented on #6674
@onionhammer - @thiagottss answer is accurate in my experience, even after trying a million "tricks" such as installing the .NET 5 runtime on the Azure function host

[2020-11-12 14:39] onionhammer commented on #6674
@thiagottss ahh that bites. Hopefully Microsoft fixes this swiftly :/

[2020-11-12 15:17] dansmitt commented on #6674
We are about to deploy our application with .Net 5 ... Just the Azure function does not support it... What's going wrong here?

[2020-11-12 15:40] NoahStahl commented on #6893
Also saw this error when attempting to upgrade to .NET 5. Rolled back for now.

[2020-11-12 15:44] jjxtra commented on #6674
Azure functions is getting overhauled - self contained deploys will be the future as far as I understand, then we don't have this annual mess of not being able to upgrade .net version.

[2020-11-12 15:46] onionhammer commented on #6674
It would be nice to get some sort of ETA; like "Coming December" or "Coming Q3 of 2024", just a ballpark to know if its worth waiting

[2020-11-12 15:48] jjxtra commented on #6674
If you need to deploy today, make a .net core 3.1 functions app and refactor any shared code that your functions project needs into a .net standard 2.1 library. Once they get their stuff in order, you can move the 3.1 functions app to .net 5.

This is a little painful but can be accomplished by adding linked .cs files to the .net standard 2.1 library project (or to the functions project and skip t

[2020-11-12 15:50] pragnagopa commented on #6893
Tagging @brettsam / @fabiocav / @ankitkumarr for more details and guidance

[2020-11-12 16:13] AmyJeanes commented on #6674
This issue is blocking our upgrade to .NET 5 and we'd like to know if it's worth waiting a couple weeks for Azure Functions to support .NET 5 or if we should go ahead changing our libraries to netstandard2.1 and functions back to netcoreapp3.1

[2020-11-12 16:22] anthonychu commented on #6674
Current ETA is a preview by end of year. Thanks for your patience.

[2020-11-12 16:40] norarrsgd commented on #6674
3rd party packages that teams rely on should also move to .net standard 2.1 right?

[2020-11-12 16:41] jjxtra commented on #6674
Definitely. If you are relying on Azure functions in the next few months, I'd rely on .net standard 2.1 to bridge the gap. Most nuget packages support it just fine.

[2020-11-12 17:15] eimerreis commented on #6893
I'm facing the exact same issue

[2020-11-12 18:09] TsuyoshiUshio opened #6895 "dotnet restore fails on Docker on a Latest PC"
Sometimes, dotnet restore fails on Docker by following error. If you use fast PC, it always happens.  Not always but sometimes.
It happens when we use Docker and a fast PC.  For more details, you can refer to this [blog](https://tsuyoshiushio.medium.com/solving-flaky-dotnet-restore-issue-only-on-docker-failed-to-retrieve-information-cd847573c3f2)

[code]

#### Repro steps

This issue is happen on

[2020-11-12 18:15] v-anvari commented on #6894
Hi @LukeBolly,

In your code:-
_"extensions": {
    "queues": {
      "batchSize": 1,
      **"maxDequeueCount": 1,**
      "newBatchThreshold": 0
    }
  },_

At, 2020-11-11 09:31:22.8721558, an exception - "_System.ArgumentOutOfRangeException_" was thrown as the Message has reached MaxDequeueCount of 1, it couldn't check any further, which lead to "Moving message to queue 'recording-import-jobs-

[2020-11-12 21:26] gohar94 opened #6897 "Protobuf changes to support shared memory data transfer"
#### What problem would the feature you're requesting solve? Please describe.
Protobuf data types to support shared memory data transfer between host and out-of-process workers where applicable.

#### Describe the solution you'd like
n/a

#### Describe alternatives you've considered
n/a

#### Additional context
Related to #6791

[2020-11-12 21:31] pragnagopa commented on #6791
Assigning to Sprint 89. PR and review in progress.

[2020-11-12 21:37] ankitkumarr commented on #6728
@safihamid, I am guessing we only do the pre-jit optimizations when running in Azure Functions managed environment, right?

[2020-11-12 21:42] safihamid commented on #6728
@ankitkumarr yes that's right. the JIT is taking time here. If they add a warmup trigger and use latest Functions host it should help here.

[2020-11-12 21:42] ankitkumarr commented on #6862
@mathewc, do you know if there's a way for someone to specify maxPollingInterval for individual functions?

[2020-11-12 21:50] #6897 closed, assigned to gohar94

[2020-11-12 21:51] ankitkumarr commented on #6728
@deyanp, sorry for the delay here. Were you running our images directly on top of AKS, without using Azure Functions?

If so, I am not sure if warmup trigger would help, unless you call "admin/warmup" directly before executing the function app. I can't think of any other to avoid the startup cost. Here's some info on [warmup triggers](https://docs.microsoft.com/en-us/azure/azure-functions/function

[2020-11-12 22:11] deyanp commented on #6728
The functions are running on AKS, I am using the docker image with the the Azure Functions host baked in.

The 1,5 seconds were due to some startup/static/initialization code of ours ...
There is no warmup trigger on AKS, but there is readiness probe for example (in latest versions of K8s also a startup probe should be available, but not on AKS yet) which can be used for this purpose.

[2020-11-12 22:11] #6728 closed, assigned to ankitkumarr

[2020-11-12 22:41] AartBluestoke commented on #6893
- when you run azure functions, it starts before it loads your code.
- only 1 version of a dll can be loaded at once.

Consequence: if you need a library that is a direct or indirect dependency of azure functions you can only use the version that is loaded. This is a case where azure functions is incorrectly reporting its hard dependencies.

eg: if you are using azure functions 3.0.7, then you mus

[2020-11-13 01:12] yashvardhan90 commented on #6202
I don't see how my issue is related to the one mentioned above and the reasoning for closing it. Am I missing something?

[2020-11-13 01:31] yashvardhan90 commented on #6202
I am a Microsoft employee facing this problem in a Microsoft product. If I can't get answers on this portal, I wonder what kind of service are you guys providing to other customers.
@cgillum @soninaren
Can I get your attention here? I have been trying to get a clear answer to this problem since June 10 and all I can see here are efforts to misguide or fend off responsibility.

[2020-11-13 01:47] richardhauer commented on #6893
@AartBluestoke   Yeah my investigations (after posting this issue) kinda landed in the same spot - seems that the runtime has already loaded a version of the DI library.

I guess where this will start to become a more significant issue is that the v5 HttpClient libraries are now pinned into the v5 DI library as well, so we're going to get to a point pretty quickly where there's a cascading set of

[2020-11-13 01:49] richardhauer commented on #6893
Potentially, loading the "customer Function code" into its own AppDomain and isolating it from the runtime would help alleviate this sort of issue, but presumably will raise different issues.  Just a thought.

[2020-11-13 11:43] Ruud-cb commented on #6542
Just sharing here that I have similar problems when running in Azure.

[code]

I recently upgraded this, I didn't face the above issue when I had these versions:

[code]

I actually upgraded because I had trouble that my queue triggers were not synced, hoped that when upgrading them it would solve my problem but it actually created more problems.. It did work last week though, even a restart in Az

[2020-11-13 13:00] #6809 closed, assigned to brettsam, v-anvari

[2020-11-13 13:00] ghost commented on #5622
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-13 15:03] #5894 closed, assigned to gzuber

[2020-11-13 15:19] NoahStahl commented on #6893
It appears functions doesn't support .NET 5, with a preview possible by end of year: https://github.com/Azure/azure-functions-host/issues/6674#issuecomment-726183256

[2020-11-13 17:08] mcollier commented on #6892
Is the content at https://github.com/Azure/azure-functions-host/wiki/Changes-to-Key-Management-in-Functions-V2 still accurate?

[2020-11-13 20:05] SergiySeletsky commented on #6674
It is blocking us to use .NET 5 too...
will the next version support gRPC triggers and streams for functions?
maybe you need some help to make it faster?

[2020-11-13 20:33] dsghi commented on #5894
I have this error "Could not load file or assembly 'Microsoft.Extensions.Logging.Abstractions, Version=5.0.0.0" if I update Microsoft.Extensions.Configuration.UserSecrets from 3.1.6 to 5.0.0 - My probably dumb questions, where do I make the change for this Skip Clean Output?

[2020-11-13 20:51] AndyMDoyle commented on #5894
@dsghi, drop this in to your csproj file and it should prevent the assemblies being cleaned.

[code]

the <_FunctionsSkipCleanOutput> line can be placed in an existing property group though too.

[2020-11-13 22:21] dsghi commented on #5894
Thank you for the quick response @AndyMDoyle, interestingly that did not solve the problem for me. We're just going to roll back the package updates and wait until things get sorted out. We don't absolutely need to be on the latest versions at the moment.

[2020-11-13 23:39] bachuv opened #6898 "Unable to get custom domain in Durable Functions after upgrading to Functions V3"
I received a customer issue from a customer running a Durable Function (JavaScript) saying that they no longer see their custom domain reflected in the response payload when they upgraded from Functions V2 to Functions V3.

Here is the doc that talks about Durable Functions responses: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-api#response.

#### Repro st

[2020-11-14 02:00] NoahStahl opened #6899 "Build warnings introduced after upgrade 3.0.9 -> 3.0.11"
After upgrading Microsoft.NET.Sdk.Functions from 3.0.9 to 3.0.11, I'm seeing new warnings on build locally in Visual Studio:

[code]

There were no such warnings with 3.0.9, which has worked perfectly. Here are my project settings:

[code]

I'm targeting x64 and Windows specifically to avoid generating Linux/macos runtime & native folders and DLLs in the build output, which doubles the publish siz

[2020-11-14 12:42] shashanksdixit commented on #6719
Hi @TsuyoshiUshio
Thank you for your reply. Also thank you for creating the issue at Spring Cloud. I will watch that issue.

[2020-11-15 01:13] anthonychu commented on #6879
Not sure if this affects custom handlers but in case it does, want to point out that we should ensure this flag isn't passed as an argument to custom handler processes as some cannot handle unexpected arguments.

[2020-11-16 00:30] ITRON-kpalmberg commented on #6239
I am having similar issues. I am unable to change it to anything but "Development" when deployed in Azure. According to the docs, it should have defaulted to "Production" in Azure anyways. I set "AZURE_FUNCTIONS_ENVIRONMENT" directly in the function app configuration. I also tried "ASPNETCORE_ENVIRONMENT" for kicks, even though the docs said for function apps you should use "AZURE_FUNCTIONS_ENVIRO

[2020-11-16 01:27] ADH-LukeBollam commented on #6894
@v-anvari the exception you have linked is for a different invocation. Also the message was added to the poison queue at 09:41, 10 minutes after that exception.

maxDequeueCount is the number of retries after failure yes? Please look at the invocation number I linked, there is no information in there about why the job failed.

[2020-11-16 07:50] gorillapower commented on #6236
I've encountered this in my local nodejs http trigger, but instead of `x-ms-private-id` my body is being eaten by the `x-functions-key` header.

![image](https://user-images.githubusercontent.com/8879065/99225308-84e27500-27f0-11eb-9bc8-468b49b5f9a2.png)

I see the problem disappears when the header has a value other than empty string (on my local machine, i set the value to empty string for devel

[2020-11-16 14:32] TehWardy commented on #5796
Ping ... to prevent bot closes¬

[2020-11-16 15:52] v-anvari commented on #6800
Hi @madhavtr, let us know if you were able to resolve with the above given solution

[2020-11-16 16:00] #5622 closed

[2020-11-16 16:16] anthonychu commented on #6236
@mhoeger Do you know if this might be an issue with the host or Node worker?

[2020-11-16 16:47] afdezl opened #6901 "How do I see ALL the Python function logs"
#### Is your question related to a specific version? If so, please specify:
3.0.14916.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Python3.6

#### Question
I have a few Python3 functions running, some in elastic premium plans, others in consumption plans with various runtime versions [2.x, 3.x] and all logging to application insights. The one common thing acr

[2020-11-16 17:46] v-anvari commented on #6894
Hi @LukeBolly , My apologies for pasting the wrong link, I have updated the link. We are further investigating on the issue.

[2020-11-16 17:48] v-anvari commented on #6894
Invocation id- 74c8f217-7a4c-434d-8acb-cc6f6a6ebeb5
Host Instance Id: bd51ea76-b56a-4dfd-89c0-e60679091b29
Event name : Function started
Time stamp : 2020-11-11 09:31:10.5082262
Function incomplete

[2020-11-16 18:23] mathewc commented on #6862
The only way would be to register your own IQueueProcessorFactory instance [via DI](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) which will allow you to selectively override things based on queue name, etc. There's an example in the tests [here](https://github.com/Azure/azure-webjobs-sdk/blob/ed4ff86f527178bfb73c27e90793ea955c793841/test/Microsoft.A

[2020-11-16 19:10] ankitkumarr opened #6903 "[Release pipeline] Don't push ExtensionsMetadataGenerator and Abstractions package"
In our release pipeline for the Host, we have a task that pushes all the nuget packages to our MyGet feeds. These packages also include the ExtesionsMetadataGenerator and WebJobs.Script.Abstractions. Both of these should not be pushed at every release. They are released ad-hoc and as necessary with a different version syntax. Pushing them to the feed, overwrites the last actual release.

We need t

[2020-11-16 19:24] ankitkumarr commented on #6903
Fixed. The fix was simpler than I thought.

[2020-11-16 19:24] #6903 closed, assigned to nobody

[2020-11-16 20:49] DarinMacRae commented on #6899
I just ran into this as well.  {{slaps hand for choosing latest}}.

[2020-11-16 20:54] mountain65 commented on #6748
It is not limited to the string/name "data". It also happens when you name your parameter "customer" and you try to bind to an object that has a "customer" property one level below the root.

[2020-11-16 23:32] sadgit opened #6904 "Breaking Change: HTTP response body downcast to text/plain if string object"
#### Repro steps

Given a string response
return (ActionResult)new OkObjectResult($"Hello, {name}")

In v3 this will be downcast to "content-type = text/plain" when "accept */*" is requested
In earlier versions this will default to  "content-type = application/json"

Now the response body is ```Hello, {name}```
Instead of ```"Hello {name}"```

This can upset brittle client code that assumes JSON w

[2020-11-17 00:11] #6858 closed, assigned to balag0

[2020-11-17 00:12] #6643 closed, assigned to balag0

[2020-11-17 02:37] plamber commented on #6862
Thank you @mathewc, this definitely helps.

[2020-11-17 02:37] #6862 closed, assigned to ankitkumarr

[2020-11-17 02:55] abirax commented on #1604
Any updates on the issue?Will it ever be fixed

[2020-11-17 08:17] ThejaChoudary commented on #6899
@madelinegordon Able to repro the Issue.Can you please look into this further.
[code]

[2020-11-17 11:57] afacanerman commented on #1604
My problem turned out to be Thread Starvation to solve it I had to create my HttpClient in the constructor and reuse it. I recommend going through the recent documentation and make sure you have applied the best practices for azure functions.

[2020-11-17 13:46] sadgit commented on #6904
I have a workaround - but would prefer a host.json setting or attribute

[code]

[2020-11-17 18:00] AlexanderAnishchik opened #6905 "Azure Functions Proxies running locally return 404 but works in the Cloud"
My setup:

- Windows 10 Pro
- Microsoft Visual Studio Enterprise 2019 Version 16.8.0
- Core Tools Version:  3.0.2996 Commit hash: c54cdc36323e9543ba11fb61dd107616e9022bba
- Function Runtime Version:  3.0.14916.0

**I have two solutions - one with functions and one with proxies. Everything works as expected in cloud but locally I'm receiving 404 each time I send a request via Postman. If I send a r

[2020-11-17 19:06] sspaniel commented on #6328
This fixed the issue for me

[2020-11-17 20:24] anthonychu commented on #6905
Can you try changing `"backendUri": "%SerialNumberAppURL%/api/{version}/{functionName}"` to `"backendUri": "http://localhost/api/{version}/{functionName}"`?

`http://localhost` is a special value that routes to the same function app.

[2020-11-17 21:50] gohar94 commented on #6791
![image](https://user-images.githubusercontent.com/6470801/99454815-c38b4300-2948-11eb-96b9-08d19c5cb602.png)

Performance comparison as a result of shared memory data transfer.
Ran on a Linux VM in Azure.

[2020-11-17 22:44] EliPulsifer commented on #4459
I need this as well.

[2020-11-17 22:50] gohar94 opened #6906 "Object size limit between host and worker"
#### What problem would the feature you're requesting solve? Please describe.
It seems like the Functions host can only handle a maximum object (e.g. blob) size of 2GB. This is because of a CLR limit [as mentioned here](https://stackoverflow.com/questions/1087982/single-objects-still-limited-to-2-gb-in-size-in-clr-4-0).
To have a consistent view on what the acceptable range is, the worker and host

[2020-11-18 01:38] UmairB commented on #912
@RohitashwaChaks accordiing the docs: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-singletons?tabs=csharp that should not be happening? Specifically the note:

[2020-11-18 07:37] AlexanderAnishchik commented on #6905
@anthonychu Thanks for reply. But this is two **separate** function app. And `%SerialNumberAppURL%` is replaced by cloud host after deployment to azure. Anyway I tried and it didn't help. Should I provide some additional info?

[2020-11-18 07:54] anthonychu commented on #6905
@AlexanderAnishchik  Oh okay makes sense.

The route's match condition is `"/serialnumber/{version}/{functionName}"`. I think the URL you should be calling should be something like `http://localhost:7070/serialnumber/v1/GetLicensesBySearch?Page=1&PerPage=10`

[2020-11-18 07:58] AlexanderAnishchik commented on #6905
@anthonychu Yes, sorry, I'm calling `http://localhost:7070/serialnumber/v1/GetLicensesBySearch?Page=1&PerPage=10` It was typo in description of issue. Does not work in both cases.  I'm pretty sure it worked locally few month ago.

[2020-11-18 08:55] anthonychu commented on #6905
@AlexanderAnishchik I wonder if anything with “localhost” as the host gets routed by proxies to the same function app. Can you try changing the SerialNumberAppURL app setting to http://127.0.0.1:7071 ?

[2020-11-18 09:59] v-anvari commented on #6884
Hi @sbosman84, Functions cannot be edited in linux - consumption plan in portal, this feature is not supported yet, which is the reason you see "0 functions loaded".

Try to create functions using Powershell [create-first-function-cli](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python?tabs=azure-powershell%2Cbash%2Cbrowser#configure-your-local-environment)

**

[2020-11-18 13:02] #6857 closed, assigned to nobody

[2020-11-18 13:35] AlexanderAnishchik commented on #6905
@anthonychu yes, it works now with 127.0.0.1 instead of localhost for separate app. Should it be treated as a bug?

[2020-11-18 15:32] anthonychu commented on #6884
@vijayrkn @stefanushinardi Can you please confirm that we don’t support publishing to Linux Consumption from VS?

[2020-11-18 15:36] Tealons opened #6907 "Azure Function SDK stability issues?"
We are currently busy with moving our background tasks to Azure Functions, but we are hitting a wall of issues that really give us the feeling that there are big stability problems with this offering. I'm opening this issue to see if we maybe are to blame and maybe don't have a clue what we are doing, or if our feeling about the stability issues are justified.

To give some background information:

[2020-11-18 16:01] vijayrkn commented on #6884
@anthonychu - We do support creating and publishing to Functions Linux (consumption) from VS
![image](https://user-images.githubusercontent.com/3981619/99554536-27773100-2974-11eb-9ffb-c1792476164e.png)

[2020-11-18 16:14] v-anvari commented on #6884
Hi @anthonychu , @vijayrkn , We have the option in VS to deploy Function App, but the functions aren't getting deployed to the function app. I have tried to publish the functions, but VS doesn't let me publish it. Also, tried different workarounds to publish the function through VS, but they never show up in portal. One of the team members confirmed that functions is not supported in Linux consump

[2020-11-18 16:18] sbosman84 commented on #6884
@v-anvari So if I understood it correctly, It is just publishing from Visual Studio which is not supported and results in the functions not getting deployed in a linux consumption plan. But a publish via for example Azure Pipelines should work?

[2020-11-18 17:14] vijayrkn commented on #6884
I don't see any reason why a publish from VS wouldn't work if it works from Azure DevOps. Do you get any error while publishing from VS? Is there a sample that we can look at?

[2020-11-18 17:18] Tealons opened #6908 "Azure Functions Runtime is unreachable -> Microsoft.NET.Sdk.Functions 3.0.11"
We are seeing the following error:

![image](https://user-images.githubusercontent.com/7141563/99563629-bd897680-29c9-11eb-83a6-cd4d837ee9ae.png)

This error is not there with Azure SDK 3.0.7, however that version has issues with the extensions.json generation.

We have the following host.json:

[code]

Our function.json looks like this:

[code]

And our functions have the following extensions.jso

[2020-11-18 17:19] Tealons commented on #6907
We have filed an issue with our latest status btw: https://github.com/Azure/azure-functions-host/issues/6908

Maybe we are just doing something horrible wrong?

[2020-11-18 17:31] abirax opened #6909 "EventHub Trigger not firing on windows consumption plan"
#### Check for a solution in the Azure portal
My Azure function is written in c# with event hub trigger on windows consumption plan is not firing consistently.I noticed that when I browse to the site the triggers magically work and the function behaves normally and then again stops working.I haven't done any deployments.
Below are the versions I am using
<PackageReference Include="Microsoft.Azure.

[2020-11-18 18:19] gohar94 opened #6910 "Support >2GB objects as input/output"
#### What problem would the feature you're requesting solve? Please describe.
The CLR imposes a 2GB limit on objects [as mentioned here](https://stackoverflow.com/questions/1087982/single-objects-still-limited-to-2-gb-in-size-in-clr-4-0). This means that any input/output binding that goes through the host cannot exceed 2GB.

#### Describe the solution you'd like
A solution to go around this limit

[2020-11-18 18:27] HMoen opened #6911 "Referencing function level injected cancellation token instance at startup for dependency injection"
#### Is your question related to a specific version? If so, please specify:
.NET core 3.1
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
Is it possible to reference the AF instance level cancellation token injected into each function during FunctionsStartup?

#### Use Case
When configuring services during startup, we have a service that takes a c

[2020-11-18 20:03] anthonychu commented on #6884
Reopening as I think it’s important to investigate and fix any issues that are found.

[2020-11-18 20:07] sbosman84 commented on #6884
It is just a default timer trigger function. Can create a github project for you if it is needed? We don't get any error and the publish is successful. Strange thing is when we deploy the same function to a Function running on a Linux app service plan. The deployment works fine.

[2020-11-18 21:12] vijayrkn commented on #6884
@sbosman84 - if the same app without any changes works in Linux (App Service plan) but not in Linux (consumption), that feels more like an issue on the service side. If you can share a GitHub repo with the project, I can give that a try as well to see if I can track down where the issue is.

[2020-11-18 21:50] sbosman84 commented on #6884
@vijayrkn I've pushed the project, I used to test, to the following repo: https://github.com/sbosman84/personal. I've created the Azure Function running on a Linux Consumption Plan via the portal and downloaded the publish profile which I imported in the Visual Studio publish wizard.

When I deploy this version to a Linux Consumption Plan it doesn't show any function:
![image](https://user-images.

[2020-11-18 21:55] vijayrkn commented on #6884
@sbosman84 - After you right clicked -> Publish, did you import the profile or select the profile from the Azure selection UI?

If you imported, can you try going through the wizard flow Azure -> Functions(Linux) -> Pick the instance and then create the profile.

[2020-11-18 22:00] sbosman84 commented on #6884
@vijayrkn Yes, I've imported the profile. Just tried the wizard flow Azure -> Functions(Linux) -> function-linux but got an error while publishing:
![image](https://user-images.githubusercontent.com/15688831/99593330-cdb54c00-29f1-11eb-9320-9801bbca2c48.png)

Also got the same error when publishing via the same route to the App Service Plan function:
![image](https://user-images.githubusercontent.

[2020-11-18 22:04] vijayrkn commented on #6884
ok that explains! There is a known issue that Azure functions team is fixing. As a work-around, can you add this app setting "WEBSITE_WEBDEPLOY_USE_SCM=true", delete the profile and go through the selection UI again. That should fix this error.

[2020-11-18 22:12] vijayrkn commented on #6884
Oops dangerous typo. The value should be set to true instead of false. I have fixed the above comment. Sorry about that.

[2020-11-18 22:14] vijayrkn commented on #6884
With the above fix, I was able to publish and see the function in linux consumption
![image](https://user-images.githubusercontent.com/3981619/99594659-53aca500-29a8-11eb-9148-d86423defcf6.png)

[2020-11-18 22:23] sbosman84 commented on #6884
Yes, I've the same behavior! Via a zip deploy (and the app setting) I'm able to deploy the function on a consumption plan as well.

So the issue lies with the publish via a web deploy then? But at least I've a workaround with the publish via zip deploy. Thanks for the support!

[2020-11-18 22:27] vijayrkn commented on #6884
Thanks for the confirmation. The functions team is already aware of the issue and the deployment should happen soon.
/cc @anthonychu

[2020-11-18 22:54] #6907 closed, assigned to gzuber

[2020-11-18 23:24] cijothomas commented on #6413
https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps?tabs=net#troubleshooting This has been updated to describve the interop option.

[2020-11-19 02:00] abirax commented on #6909
@paulbatum  I am also facing a similar issue the event hub trigger doesnt fire.I have opened a case  as well 120111721006592.I am deploying via arm template . My issue is even if I sync it manually using powershell the problem doesnt go away .Kindly help.

[2020-11-19 06:59] Zenuka commented on #6511
Any idea where this issue might be located? Do you think it's in this repository or another? Happy to take a stab at it.

[2020-11-19 10:09] ianadavies commented on #6486
I am having this problem too. All my functions appear to be async yet I am getting this error, doesn't seem right to have to be in compatibility mode. It doesn't seem to happen on all my functions ( but most ) so maybe its something deeper inside dependencies ?

[2020-11-19 12:01] luthus commented on #3741
Has there been any progress on fixing this issue? I'm still seeing the issue with Azure Functions V3.

[2020-11-19 12:47] v-anvari commented on #6901
Hi @afdezl, Can you provide us the Function App name with a timestamp at which you didn't find the logs.

We want to repro the exact scenario, it will be helpful if you could provide repro steps for the same, and how are you deploying the App

[2020-11-19 14:52] Tealons commented on #6908
Oke, we did long debug sessions the past couple of hours...  and found the solution.

In our project we added dependencies in our startup project to support the logic that was coming from our old project. One of the packages that we added was identity the following way:

[code]

I agree that it was a bit strange to add this, but our code used several functions in this package, so we did not mind f

[2020-11-19 15:09] afdezl commented on #6901
Hi @v-anvari, thanks for your reply.

The function is being deployed from a package (zip) into the associated storage account, the end-2-end deployment is handled via terraform. In the log excerpt above only 2 lines out of 300 of log are present, this is something quite consistent across the functionapps I have deployed and the above is only an example to illustrate the issue.

You should be able

[2020-11-19 15:44] jesuissur commented on #6786
We got the same problem here.
The messages were enqueued for about 5 hours before being processed by our service bus triggered function.  It is a sporadic problem but pretty critical for production environment.

Our function app is "Always on" per Azure configuration settings.  It is hosted in a premium/production windows App service plan (P2V2).  We are on SDK version 3.0.9.

What can we do to he

[2020-11-19 15:55] timgabrhel commented on #6786
@jesuissur Hey Phil, I ended up working with technical support on this and never found a specific issue I can point to. We did identify some instability in my functions app where there were a couple of invalid CRON configs for some timer apps, as well as some exception issues in other apps that were just guessing may have caused some instability in the function host causing a shutdown.

I see I've

[2020-11-19 17:34] pragnagopa commented on #6901
cc @brettsam

@vrdmr  / @Hazhzeng  - Do you  know if there is a known issue with AppInsights Sampling + Python logs?

[2020-11-19 18:02] erwinkramer commented on #6863
@sven-hoffmann I Stumbled on the same issue on an Elastic plan. Turns out WEBSITE_RUN_FROM_PACKAGE breaks the whole resource because there isn't any zip deployed to it. Which kind of makes sense but then again this isn't documented anywhere.

It's also impossible to deploy a Zip to the function when you have WEBSITE_RUN_FROM_PACKAGE set in this scenario. Makes me wonder why it's possible to even p

[2020-11-19 18:09] JanBaan commented on #6861
**UPDATE:** I've removed extensionBundle in host.json and downgraded SDK functions to 3.0.7. I read in https://github.com/Azure/azure-functions-host/issues/5401#issuecomment-566578914 that DI won't work with extensionBundle. Now I'm getting an error that says "Azure function runtime is unreachable". I've checked the configurations in my function app and everything looks fine. The connection string

[2020-11-19 21:01] mathewc opened #6912 "Improve FunctionsScaleManager logging"
To help with CRI investigations, we should improve the logging of metrics prior to calling the monitor for a scale decision ([here](https://github.com/Azure/azure-functions-host/blob/82638e5f08700f9620f6141dc85ab142c848d505/src/WebJobs.Script/Scale/FunctionsScaleManager.cs#L69)). At a minimum we should log the number of samples being sent, and perhaps log all of the metrics as well, so we can see

[2020-11-19 21:22] paulbatum commented on #6909
@abirax I think there is a typo in your app name details, as I wasn't able to find an app with that name. But since you already have a support case open, I'll let that investigation happen first.

[2020-11-19 22:01] abirax commented on #6909
@paulbatum defectauditsubscriber-qa-func is the function app sorry for the typo. The microsoft support team investigated and mentioned that it is an issue at Microsoft end for event hub but they dont know when it will be fixed. For now they advised I create a new timmer trigger azure function which periodically syncs the eventhub triggered Azure function or switch to dedicated plan,but it is just

[2020-11-19 22:55] mathewc opened #6914 "Remove custom conversion code in TableEntityConverter"
We had to write our own custom code to convert objects into table entities ([TableEntityConverter.ToEntity](https://github.com/Azure/azure-functions-host/blob/82638e5f08700f9620f6141dc85ab142c848d505/src/WebJobs.Script.WebHost/Scale/TableEntityConverter.cs#L16)). However in later versions of the Azure Storage SDK they now provide [TableEntity.Flatten](https://docs.microsoft.com/en-us/dotnet/api/mi

[2020-11-20 02:20] Francisco-Gamino opened #6916 "Log a more descriptive error message when a language workers crashes or exists unexpectedly"
Currently, when a language worker crashes or exists unexpectedly, we do not log a very describe error. Here is the current exception stack:

[code]
It would be great if we could detect this and write a better error message in the logs.

[2020-11-20 02:23] Francisco-Gamino commented on #6916
cc: @kashimiz @pragnagopa

[2020-11-20 05:16] anthonychu commented on #6486
@ianadavies It’s likely somewhere in the dependencies, there is code that is reading the request stream synchronously. For instance, I think ReadAsAsync<T>() is not truly async and it is reading the stream synchronously when deserializing the JSON.

[2020-11-20 05:22] anthonychu commented on #6905
I’m not sure if we can fix this as it can be a breaking change. Perhaps we can note this in our documentation. /cc @ggailey777

[2020-11-20 09:57] Ruud-cb opened #6917 "Azure function triggers are not being synced for QueueTrigger - JobHosts stops and does not come back alive again"
#### Check for a solution in the Azure portal

Checked, not reporting any issues.

The Azure Function is automatically stops the JobHost and is not coming back alive again after a new Queue message has been added to the storage queue. This seems to be related to Triggers not being synced to Azure's infrastructure. According to [this documentation](https://docs.microsoft.com/en-us/azure/azure-funct

[2020-11-20 11:23] Schuer84 commented on #5006
@mathewc  Any updates on this one? Got a custom binding used in combination with a HttpTrigger.. but no proper way to handle exceptions and thus the eventual response.

[2020-11-20 13:29] Mys73rion commented on #6899
We ran into this issue as well and had to downgrade to 3.0.9. (Warnings are bad and we don't want to have them :-)
In version 3.0.10 the issue exists too.
Would be nice if there would be a fix as soon as possible.

[2020-11-20 16:00] ghost commented on #6800
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-20 16:04] pragnagopa commented on #6916
Unfortunately, error provided above ` D:\Program Files (x86)\dotnet\dotnet.exe exited with code -1073741818` is the exact error given by the language worker process when it crashed. Host is capturing and logging errors logged to console std error stream.

Assigned this to @Francisco-Gamino  - As part of CRI investigation please update the issue if you find anything else that can be improved. If no

[2020-11-20 17:14] madhavtr commented on #6800
I figured out the issue. I guess the root cause, is the platform that i chose as 3.8 version of python. I changed the version to 3.6 platform. It started working.

[2020-11-20 17:14] #6800 closed, assigned to yojagad

[2020-11-20 19:38] pragnagopa opened #6919 "Allow only one restart worker channel operation at a time"
cc @brettsam @yojagad

If a function app is using multiple worker processes configured via app setting `FUNCTIONS_WORKER_COUNT` -
 Language worker processes are launched 10secs apart:

https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFunctionInvocationDispatcher.cs#L142-L149

If multiple language worker channels need to be restarted at t

[2020-11-20 19:49] pragnagopa commented on #6919
cc @vrdmr

[2020-11-20 20:05] soninaren commented on #6786
@timgabrhel is the app configured to use runtime scaling?

[2020-11-20 21:12] mhoeger commented on #6916
I think there is potential for a race condition though -
Here is where we read exceptions from stderr:
https://github.com/Azure/azure-functions-host/blob/6a92bdf9dbb2118eef07b11a07a0b2d613438327/src/WebJobs.Script/Workers/ProcessManagement/WorkerProcess.cs#L137

But this is where std err data begins to be processed:
https://github.com/Azure/azure-functions-host/blob/6a92bdf9dbb2118eef07b11a07a0b2d

[2020-11-20 21:14] abirax commented on #6909
@paulbatum As advised I created the timmer trigger but even that is going idle and skipping the time
Innovocation ID 34348591-0a23-4f1d-a880-a83b5a762948
azfuncsyncer.

ProcessId | 18028 |  
-- | -- | --
LogLevel | Information |  
Category | Function.AzFunctionSyncer |  
InvocationId | 34348591-0a23-4f1d-a880-a83b5a762948 |  
prop__UnscheduledInvocationReason | IsPastDue |  
prop__OriginalSchedule

[2020-11-20 22:29] abirax commented on #6909
@paulbatum   Support,Got back to me in the function trigger params my eventhubconnectionstring was coming from key vault and not part of the app settings that is what is the likely cause. I feel this is the real reason because after I moved the schedule in timmer to keyvault I started seeing the issue.So hold off on investigation for now.

[2020-11-21 02:54] soninaren opened #6925 "AssemblyLoadContext does not load function.deps.json from extension bundle."
At the time of initialization [FunctionAssemblyLoadContext](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Description/DotNet/FunctionAssemblyLoadContext.cs) uses [ResolveFunctionBaseProbingPath()](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Description/DotNet/FunctionAssemblyLoadContext.cs#L449-L464) method to resolve the path for function.

[2020-11-21 11:42] jochenvw commented on #4263
Hi - I'm getting the same error in a C# Azure Durable function. Not sure whether I can tag along in this issue or whether you want me to create a new one.

[code]
For context - I'm using Azure Durable functions to work through 1 million items. I see approx. 70 K function executions per minute and then after 2 minutes things stop working and this is the last trace message I find in App Insights. Am

[2020-11-21 12:03] chassq commented on #6674
As a side note I recall that this same thing happened in the transition from dotnet core 2.2 to 3.0. We had to wait until the following January, after the 3.0 release, to upgrade to 3.0 as azure functions took a few months to catch up. I hope they stop this practice in the future as it is incredibly annoying to have to hold every thing just for them. Even if it is for the best to change how functi

[2020-11-21 14:03] mwwhited commented on #6674
I've been assuming the changes that they have been making this year that broke their own code (such as not being able to use SqlClient with Azure Functions for a while) was because they were focused on .Net 5... that seems to not the case and that makes me a little worried.

[2020-11-21 14:04] Daksitha opened #6926 "Node-fetch Post request get stall after first execution and socket hangup fail"
`var FormData = require("form-data");`
`var form = new FormData();`
`var fetch = require("node-fetch");`
`var https = require('https');`
`var httpAgents_ = new https.Agent({keepAlive: true});`
`httpAgents_.maxSockets = 200;`

[code]
[code]
[code]
This program perfectly fine when I work with a local WebStorm terminal. However, on Azure portal first time it gets the response from the web hook and th

[2020-11-21 15:34] JanBaan commented on #6861
**LAST UPDATE** The DI works! The problem has to do with how I implemented the Authorization en Authentication methods. My recommendation is to comment out your methods in Startup.cs and one-by-one see which methods work on your deployed app.

[2020-11-21 15:34] #6861 closed, assigned to yojagad

[2020-11-21 18:59] anthonychu commented on #6674
Currently, .NET functions run inside the Azure Functions host. The host is something that runs in production for all of our customers (regardless of language) and we take upgrading it very seriously. This means when new versions of .NET is released, it’s more than just recompiling against the new framework and shipping it. We need to go through a preview process before we can declare GA.

This is

[2020-11-22 07:08] chendanou opened #6927 "Azure function on App Service plan stop picking up message from Storage Queue"
The last few days, Azure function app V2 run on App Service Plan  P3V2 with Always On enabled stop picking up message from Storage Queue without any error. No error log.  Until restart, then it starts pickup message again.

I don't experience this behavior before, it had been running fine previously even on lower tier such as S3, P1V2, etc.
The function timeout in host.json is set to "-1" indefini

[2020-11-22 09:35] deyanp commented on #6674
@anthonychu , understood, however what is the ETA? Nov, Dec, or Jan?

Any chance to get it earlier out for those like us hosting in AKS?

Need that for my own planning, if it is Jan I will see if I can dump the functions framework then and replace with standard .net core asp.net mvc stuff ... The only thing I am using are anyway only the event hub and queue triggers ...

[2020-11-22 10:48] tforkmann commented on #6674
I totally agree with @deyanp. I already moved some functions to our local server (.NET 5). Bc I don’t want to maintain two different frameworks.

[2020-11-22 21:18] AartBluestoke commented on #6674
@anthonychu , does this mean that the dependencies for our functions will decouple form the underlying host, but only if you are not running netcoreapp3.1?

[2020-11-22 21:59] anthonychu commented on #6674
Currently targeting public preview before end of December but can’t provide a definite date right now.

@deyanp If you are running in AKS and those are the only triggers you need, a good alternative is to use the WebJobs SDK directly in a .NET 5 console app.

You can also run .NET 5 in Functions as a custom handler. But our recommendation is to wait for the worker.

[2020-11-22 22:03] anthonychu commented on #6674
@AartBluestoke If you choose to use the new worker, you’ll be creating a .NET 5 app
that references the .NET 5 worker NuGet package. That app should be able to reference .NET Core 3.1 and .NET standard assemblies. Because you are in control of the app and the app runs as a separate process, you shouldn’t have to worry about dependencies conflicting with those from the host.

[2020-11-22 23:45] deyanp commented on #6674
@anthonychu , sorry, I meant *in addition* to HttpTriggers ... any hints how to migrate away from Azure Functions to .net console app with webjobs sdk for queuetrigger/eventhubtrigger/timertrigger and still be able to serve http api calls (and even grpc which is anyway completely missing in azure functions)?

[2020-11-23 01:17] joseclament opened #6928 "Azure -functions - AddJosnFile"
Hi,
I am trying to load appsettings.json file using function app V1, for loading various function configuration. But it's failing with the below exception.

Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe, Version=4.0.4.1, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.
Code snipset

[code]
![image](ht

[2020-11-23 04:54] WhatZitToyya opened #6929 "Azure function worker stopped and started automatically while process is running"
I have a timer-triggered function app in Azure that runs once every 15 minutes, sometimes the function runs normally, and sometimes the function stops in the middle of the process without any error. Before the function stops, it issues a log like this :

See the details in this screenshot:

![images](https://user-images.githubusercontent.com/32626581/99930129-8973d400-2d82-11eb-8f82-f751ce30e9a7.p

[2020-11-23 14:31] Hjortsberg commented on #6802
Hi,
We experience the same behaviour on our functions.
About 0.48 percent of events, gets a delayed delivery of exactly 3 minutes.
We thought we had a computationally slow function and in order to diagnose the behaviour, we created a new function in a separate Resource group, separate Application Insights to log to and a Windows Consumption AppService Plan.
However, this "logging function" shows t

[2020-11-23 15:26] joseclament commented on #6928
Hi,
I have found that the "appsettings.json" file couldn't be found by the function exe.
Got the below error details. But the previous error was misleading as it was throwing a different error message in the function app console.

Exception thrown: 'System.IO.FileNotFoundException' in Microsoft.Extensions.Configuration.FileExtensions.dll
Exception thrown: 'System.IO.FileNotFoundException' in mscor

[2020-11-23 15:38] ianadavies commented on #6486
@anthonychu, Ok sounds like it was a little ambitious to switch this requirement on so soon by default?  Are there any compromises or trade offs using Azure Functions v3 when `FUNCTIONS_V2_COMPATIBILITY_MODE=true`?

[2020-11-23 18:00] paulhickman-a365 commented on #6542
I'm also suffering this issue since updating a working production application from version 1.0.0 of Microsoft.Azure.Functions.Extensions.

Do you have any ETA updates on when this will be looked at? The sprint its currently in should have finished 7 weeks ago.

[2020-11-23 22:39] brettsam commented on #4263
This appears to have wilted without an owner. I'm going to assign to myself for next sprint.

[2020-11-24 03:37] rahulroy1 opened #6931 "Azure Function (linux java EP2) unable to scale out with "Did not find any initialized language workers" & timeout errors"
We have 3 Azure Functions with JAVA 8 runtime in single Linux EP2 plan, handling around 500 messages per hour.
1st function is a Cosmos DB Trigger, 2nd one is a Storage Queue trigger function with Cosmos db reads and writes and 3rd one is also a Storage Queue trigger function.

In a one hour window where we putting 500 messages to DB, we can see, instead of plan scaling out (max burst set to 20),

[2020-11-24 03:44] rahulroy1 commented on #6931
@mhoeger @pragnagopa please help on this.

[2020-11-24 05:55] anthonychu opened #6932 "Passing query parameter "code" to anonymous function causes error if no AzureWebJobsStorage is set"
This is affecting customers in managed functions in SWA. If `code` is passed as a parameter to an anonymous function (when storage is not configured), the function should run and the function code should be able to read the query string parameter. Currently this is an error.

Reported here https://github.com/Azure/static-web-apps/issues/165 and in email thread from Support.

[2020-11-24 10:20] v-anvari commented on #5847
Hi @euo, I have tried to reproduce the scenario with the latest packages, but was able to build successfully. Let us know if you are still facing the same issue with build.

========== Build: 1 succeeded, 0 failed, 0 up-to-date, 0 skipped ==========
microsoft.net.sdk.functions\3.0.7

[2020-11-24 12:45] TiagoCastilhos commented on #5015
+1 for this feature to be implemented

[2020-11-24 16:27] pragnagopa opened #6936 "[Rpc]Function load timeout errors are raised even though functions load successfully"
cc @mhoeger

Commit https://github.com/Azure/azure-functions-host/commit/0806346aec7e28dbbda4033a64b2c046534895fd enforced timeouts on function load requests

This introduced a regression where Timeout exceptions are raised causing the worker process to restart even though function load requests succeed.

Fix: Event Subscriptions should take into account number of functions to ensure timeout excep

[2020-11-24 16:45] oneolddev commented on #6674
@anthonychu

Ran across this issue and found quite a few related one spread over _Stack Overflow_ and _GitHub_. Guidance needs to be provided on the use of .NET 5 with Azure Functions V3.

IMO - It may be worthwhile to note this in the Azure Functions documentation. Specifically in <https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#register-services>.

[2020-11-24 17:30] spongessuck opened #6937 "Run Function as Service Account"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
Wondering if there's a way to have the function app run as a particular user in Azure. I'd like it to be able to access a file share on the network.

[2020-11-24 18:15] #6936 closed, assigned to pragnagopa

[2020-11-24 18:44] #4263 closed

[2020-11-24 18:45] #6555 closed, assigned to brettsam

[2020-11-24 21:20] pragnagopa commented on #6931
@rahulroy1 - can you please confirm information you provided - region and invocation id? I cannot find logs for the invocationid you provided.

[2020-11-24 21:53] haacked opened #6942 "Unable to leverage WEBSITE_SWAP_WARMUP_PING_PATH with WEBSITE_SWAP_WARMUP_PING_STATUSES for deployment swaps"
#### Check for a solution in the Azure portal
(None found)

#### Investigative information

Please provide the following:

- Timestamp: Tue Nov 24 2020 13:26:37 GMT-0800 (Pacific Standard Time)
- Function App version: 3.0.14916
- Function App name: abbot-skills-csharp
- Function name(s) (as appropriate): Warmup
- Invocation ID:
- Region: West US 2

#### Repro steps

Provide the steps required to r

[2020-11-25 03:59] rahulroy1 commented on #6931
@pragnagopa Here are the details:
Invocation ID: 61cc5701-f964-4dbd-9e17-cffad3a07d20
Region: West Europe

[2020-11-25 04:51] dustensalinas commented on #5663
Just had the same.  App Name: ffinesse-services-aimee-dev

Had to remove Bitbucket and then perform a manual publish.

Premium Plan as well.

[2020-11-25 04:56] thaishankar commented on #5663
@dustensalinas and All,

We are in the process of rolling out a fix for this which should prevent this issue from occuring. The fix should be deployed to all our scale units by early to mid December.

[2020-11-25 08:38] ADH-LukeBollam commented on #6894
Hi @v-anvari , I've had the same issue happen again, this time with even less logs.

Please look at host: 67a95eb3-f3b6-498f-a61a-a3f2fc1459fe

The host starts, 5 minutes later it adds my job to the poison queue, and then shuts down! I don't get any logs of it even attempting to start the job. I don't know how I'm meant to attempt to fix this. I've got no errors in Kudu or app insights.

[2020-11-25 09:45] rahulroy1 commented on #6931
Hi @pragnagopa
We tried the following things in parallel.

1. Setting `linuxFxVersion = java|8` in the TF code for function app and it reflects in the config.
2. Reran the load with 500 messages per hour, 1000 messages per hour - all ran successfully without any "language worker" error.

Now at this point, we assumed that it got fixed.
Now we ran running a load of 5000 messages per hour and all go

[2020-11-25 11:04] v-anvari commented on #6894
Hi @LukeBolly, I have moved the issue to investigation. Meanwhile, can I know if the invocation id  "67a95eb3-f3b6-498f-a61a-a3f2fc1459fe" is for a different function app? Can I know the region of the new App.

[2020-11-25 12:28] tjrobinson commented on #6674
@anthonychu Thanks for the updates on this. Will the .NET 5 support be coming to WebJobs too? Functions still sits on top of a lot of the WebJobs libraries I believe?

[2020-11-25 12:30] #6901 closed

[2020-11-25 13:23] v-anvari commented on #6035
Hi @hongdai, [.NET Core 3.1](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#languages) is supported on Version 3.x, changing that to .Net framework will not be fully compatible with the project.

Please feel free to reopen the issue in case of any queries.

[2020-11-25 13:23] #6035 closed, assigned to nobody

[2020-11-25 13:44] aherrick commented on #6674
I find it really surprising Net 5 would be released (EF Core as well) and Azure Functions wouldn't be released inline with that support. Seems like a team sync failure.

[2020-11-25 14:27] brettsam opened #6944 "Add diagnostics for failed connectivity to App Insights"
The `ServerTelemetryChannel` now has a `TransmissionStatusEvent` that we can subscribe to and log transmission failures. This will help us diagnose failures to send telemetry to App Insights.

[2020-11-25 15:45] jjxtra commented on #6674
I know they are retooling azure functions to avoid this delay in future .net releases, so hopefully this is the last year for this sort of thing :)

[2020-11-25 16:31] pragnagopa commented on #6931
@rahulroy1  - Thanks for reporting and sharing the details. I looked up the logs. This is due to a recent regression https://github.com/Azure/azure-functions-host/issues/6936 and we are in the process for deploying a hotfix

Until the deployment completes, please use one of following mitigations:

Option 1:  Increase functiontimeout to a large value: https://docs.microsoft.com/en-us/azure/azure-fu

[2020-11-25 16:34] AnthonyIacono commented on #6674
We have the following package references in our functions project:
[code]

Is there anything wrong with upgrading `Microsoft.Extensions.Http` and `Microsoft.Extensions.Http.Polly` to `5.0.0`?

On a related note, it'd be neat to learn how I can figure out these types of compatibility checks on my own without trial and error.

[2020-11-25 17:41] v-anvari commented on #6937
Hi @spongessuck,  Can you kindly elaborate the ask here.

If you are looking for [ways to Access files](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-faq#general) you can use tools like Storage Explorer.

[File Share](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows) is an SMB protocol implementation that can't be accessed over HTTP, like y

[2020-11-25 19:55] ankitkumarr commented on #5449
This will need to move to the next Sprint.

I didn't get to spend too much time with this. But I have collected the data I need to start the conversation with our internal teams. I spend some time validating the issue by adding logs and such to make sure the all ports are opened correctly and this is not an issue with our changes.

The issue is particularly interesting because a process connecting

[2020-11-25 20:48] spongessuck commented on #6937
I'm implementing a service app that reads files out of a file share. I have
the function app set up with a hybrid worker on our internal network and it
can see the file share, but the user the app is running under doesn't have
permission to access it.

If I could control the user context the function app runs as, it would
solve this problem.

On Wed, Nov 25, 2020, 12:42 Anusri_Varier <notification

[2020-11-25 21:05] fabiocav commented on #6919
In progress. Will be completed in sprint 90

[2020-11-25 21:08] fabiocav commented on #6888
@alrod can you confirm that work for this is in progress? I'm assuming this will be done in sprint 90, correct?

[2020-11-25 21:12] fabiocav commented on #6879
Assigning to sprint 90 as a stretch goal.

[2020-11-25 21:13] fabiocav commented on #6856
Rollout in progress on Linux. Closing this as the initial work has been completed.

[2020-11-25 21:13] #6856 closed, assigned to pragnagopa

[2020-11-25 21:16] fabiocav commented on #6825
@brettsam ; need to follow up to understand where this is now. Will move to sprint 90 to track.

[2020-11-25 21:18] fabiocav commented on #6777
Moving this to sprint 90, but this is blocked on an App Service release, just using this for tracking.

[2020-11-25 21:19] fabiocav commented on #6522
Test is still flaking, but looks to be a little more stable. Moving to sprint 90 to see if there's anything we can do to further improve the test.

[2020-11-25 21:40] fabiocav commented on #6893
Assigning to sprint 90 so we can provide some guidance for this scenario.

[2020-11-25 21:40] navipa opened #6945 "Exception: "Scope disposed{no name} is disposed and scoped instances are disposed and no longer available." during httpClient creation"
Similar issue was reported in 2019 https://github.com/Azure/azure-functions-host/issues/4989
Looks like regression in RunTime version "version":"3.0.14916.0"
I can't create client out of HttpFactory:
var client = this._clientFactory.CreateClient();
throws Exception: Scope disposed{no name} is disposed and scoped instances are disposed and no longer available.

Functionality stopped working without

[2020-11-25 23:51] AartBluestoke commented on #6674
@AnthonyIacono as i commented in Azure/azure-functions-host#6893

- when you run azure functions, it starts before it loads your code.
- only 1 version of a dll can be loaded at once.

Consequence: if you need a library that is a direct or indirect dependency of azure functions you can only use the version that is loaded. This is a case where azure functions is incorrectly reporting its hard depen

[2020-11-26 01:30] ADH-LukeBollam commented on #6894
That ID is for a Host, not an Invocation. Host is only alive for 20 minutes so you can see the full process of it starting, adding my job to the poison queue, then shutting down.

The Host is still in Australia East, for the same function app.

[2020-11-26 02:02] pragnagopa commented on #6931
Hotfix deployment completed to Linux platform. Closing as addressed.

[2020-11-26 02:02] #6931 closed, assigned to pragnagopa

[2020-11-26 02:55] AnthonyIacono commented on #6674
@AartBluestoke Gotcha. I appreciate the detailed explanation. I'll put a pin in upgrading these packages for now and leave a comment in our CSPROJ. This is a total bummer since I have a somewhat "OCD" for always upgrading our packages.

[2020-11-26 03:21] rahulroy1 commented on #6931
@pragnagopa Thanks a lot for helping.

One clarification: yesterday we ran continuous load between 10.30pm IST 25th Nov and 8.30 am 26th Nov - around 65k messages in that period.
I can see:
- 0 errors of Language worker
- 8 timeout exceptions although the execution time of the function was in milliseconds (so less then the actual timeout value).

Event time | 11/26/2020, 1:08:28 AM (Local time) |

[2020-11-26 09:05] MarcDHall opened #6946 "Adding 'Microsoft.Extensions.Http' causes functions to fail at runtime"
I have been trying to set up my functions App to use multiple named HttpClients.

In order for this to work I need `IHttpClientFactory` from `Microsoft.Extensions.Http`, but adding this causes functions to fail at runtime with this error:

![image](https://user-images.githubusercontent.com/7155808/100329843-1ce91700-2fc6-11eb-992a-139f3b692879.png)

I'm am using v3 but had the same issue with v2 (

[2020-11-26 11:25] MatsAnd commented on #9290
This has to be a bug in the Azure functions runtime, as it's behaving different in debug locally and when deployed to Azure..

Anyways, I faced this issue today and figured out that it's possible to double encode the values that's sent. When doing this, the slashes in the encoded string are surviving the routing algorithm going on in the background.

Node.js example:
[code]

[2020-11-26 13:08] kristianbendren opened #6947 "Metadata generation failed. Exit code: '-1073741502' Error: '' #6769"
nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.2.0\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(37,5): error : Metadata generation failed. Exit code: '-1073741510

The problems occurs when having
.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.2.0

Removing this folder and only running package 1.1.8 works fine to

[2020-11-26 15:46] BloodSeaker commented on #6239
We experience the same issue. Since we have no way to update the environment to anything else, it causes a separate 'environment' settings file to load, which overwrites some settings from the regular settings file. Therefore, we cannot deploy our solution to our validation environment, as this one also returns 'Development' from the context.EnvironmentName property.

Why is this ticket open for s

[2020-11-26 16:16] ericsampson commented on #6239
It is really disappointing that this continues to slip. It is a bad bug

[2020-11-26 21:59] soninaren commented on #5783
@JacquesJamiesonLancom Please re-open this issue with latest details if this is still an issue. Sorry we did not get to this in reasonable time.

[2020-11-26 21:59] #5783 closed, assigned to nobody

[2020-11-26 22:04] soninaren commented on #5600
Have added the information here.
https://github.com/Azure/azure-functions-host/wiki#extension-bundle-configuration

[2020-11-26 22:04] #5600 closed

[2020-11-26 22:11] soninaren commented on #6017
@mhoeger Have you run into this recently. We published a fix in https://github.com/Azure/azure-functions-core-tools/pull/2107 and https://github.com/Azure/azure-functions-core-tools/pull/2108. Please re-open if you are still seeing this.

[2020-11-26 22:11] #6017 closed, assigned to nobody

[2020-11-26 22:14] soninaren commented on #6070
Closing as resolved.

[2020-11-26 22:14] #6070 closed, assigned to nobody

[2020-11-26 22:16] soninaren commented on #5912
@fabiocav , @brettsam any ideas here?

[2020-11-26 22:36] soninaren commented on #6511
@Zenuka , Thank you for the offering to take a look at this.

@brettsam any ideas here? Is this by design?

[2020-11-27 01:18] paulbatum commented on #6942
@haacked Have you tried setting the auth level for your warmup function to anonymous?
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#authorization-keys

[2020-11-27 09:49] v-anvari commented on #6929
Hi @WhatZitToyya, Kindly provide us the Function App name so that we can look into our backend logs.

[2020-11-27 12:30] mykle90 commented on #6917
We are seeing the exact same behavior as described above. The function app seems to just stop running after a short while. Navigating to the functions app page makes the function start running instantly and empties the incoming queues.

Our function app does only contain functions that uses queues as triggers.

[2020-11-27 18:56] CasperWSchmidt commented on #2746
Any updates on the custom triggers? I would like to be able to implement a persistent event store triggering functions whenever a new event is added. Pretty much like the CosmosDb change feed, but for other persistence options (we already have a mongoDb running)

[2020-11-28 10:59] toburger opened #6948 "Change the function name at runtime"
#### Is your question related to a specific version? If so, please specify:
No

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#, F#

#### Question
Is it possible to change the function name at runtime?

I have defined a Azure Function endpoint by providing the `FunctionNameAttribute` where the function name gets specified in the attribute constructor.

Now the e

[2020-11-28 12:45] rahulroy1 commented on #6931
Can confirm that after the hotfix apply, we ran two load patterns with:
1. 65k messages in 10 hours
2. 2.5k messages in 24 hours.

We found no timeout errors or language worker not found issues.
So this can be closed.

[2020-11-28 13:00] ghost commented on #5847
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-28 18:26] pragnagopa commented on #6931
Thanks for confirming.

Regarding

`linuxFxVersion` set to  `java|8` is the correct value

[2020-11-29 10:46] sebader commented on #6893
There seems to be GitHub issues for this all over the place in different repos. @fabiocav would it make sense to consolidate those at one place? I assume they are basically all the same thing, aren't they?
Apart from the ones linked above I also came across:
https://github.com/Azure/azure-functions-core-tools/issues/2304
https://github.com/Azure/Azure-Functions/issues/1729

[2020-11-29 19:59] stimms opened #6949 "Unable to use Entity Framework Cosmos with Functions"
Creating a new functions project and installing `Microsoft.EntityFramworkCore.Cosmos` results in a project that is unable to run due to problems with `Microsoft.Extensions.Logging.Abstractions`.

[code]

#### Investigative information

Azure Functions Core Tools
Core Tools Version:       3.0.2996 Commit hash: c54cdc36323e9543ba11fb61dd107616e9022bba
Function Runtime Version: 3.0.14916.0

It has be

[2020-11-29 21:21] AartBluestoke commented on #6949
https://github.com/Azure/azure-functions-host/issues/6893#issuecomment-726386105
- when you run azure functions, it starts before it loads your code.
- only 1 version of a dll can be loaded at once.

Consequence: if you need a library that is a direct or indirect dependency of azure functions you can only use the version that is loaded. This is a case where azure functions is incorrectly reporting

[2020-11-30 02:54] ITRON-kpalmberg commented on #6239
@BloodSeaker It's not optimal or elegant but you can work around the issue. You will just have to manage the environment setting yourself, such as by your own environmental variable, and not rely on the hosting environment property and rely on your own implementation instead. Then you can use your own custom app settings (probably an environmental variable) to determine which app settings files to

[2020-11-30 03:21] AartBluestoke commented on #6946
as i commented in  https://github.com/Azure/azure-functions-host/issues/6893#issuecomment-726386105
- when you run azure functions, it starts before it loads your code.
- only 1 version of a dll can be loaded at once.

Consequence: if you need a library that is a direct or indirect dependency of azure functions you can only use the version that is loaded. This is a case where azure functions is in

[2020-11-30 08:54] MarcDHall commented on #6946
Thanks for the reply @AartBluestoke.

This is a bit of a bear-trap. There is documentation covering use of nuget packages that get back to this issue, like...

[https://docs.microsoft.com/en-gb/azure/azure-functions/functions-dotnet-dependency-injection](https://docs.microsoft.com/en-gb/azure/azure-functions/functions-dotnet-dependency-injection)

...that doesn't mention this. IIRC I ran into this

[2020-11-30 13:34] donJoseLuis commented on #6450
Ran into this during a search in Bing.  Very likely `SynchronizationContext.Current == null`.  If so,

1. Bug if: there is a valid expectation for the relevant application to have a `SynchronizationContext`
1. By design otherwise.  In this case (and as a workaround for case 1 above), you can provide a Synchronization context of your own or rely on the default task schduler (`TaskScheduler.Default`

[2020-11-30 14:30] sven-hoffmann commented on #6863
@erwinkramer thank you very much for this response. I'm very surprised by this information. Reading the official documentation here: https://docs.microsoft.com/de-de/azure/azure-functions/run-functions-from-deployment-package there's no mention of such limitations.
What do you see as the recommended way to deploying a function app **including application code** in one go (template) atomically?

[2020-11-30 14:39] erwinkramer commented on #6863
@sven-hoffmann best I could do is make the WEBSITE_RUN_FROM_PACKAGE value 0 on initial deploy, and 1 after the first zip deploy. Not nice, but no good alternative on ARM deployments.

[2020-11-30 14:49] sven-hoffmann commented on #6863
@erwinkramer ok, well I still believe that the documented way of providing an **URL** to WEBSITE_RUN_FROM_PACKAGE should work as it is documented. See the link I posted above for this additional option to setting 0 and 1.

[2020-11-30 16:19] timgabrhel commented on #6786
@soninaren Can you provide me a resource to have a look? I'm having a hard time in research to give you a confident answer.

[2020-11-30 17:10] soninaren commented on #6786
@timgabrhel  To check the configuration for runtime scaling. open the `azure portal -> <Your function app> -> Configuration -> Function runtime settings`
![image](https://user-images.githubusercontent.com/8119379/100641022-d65c2b00-32eb-11eb-9513-5a7a4804e702.png)

[2020-11-30 18:09] marcd123 opened #6950 "Language Workers Exceeded - Language Workers not freeing up"
Our dev environment has a `FUNCTIONS_WORKER_PROCESS_COUNT` of 8, but today we encountered an error in our deployed function app saying that this limit has been exceeded. This led to the function being called returning a 500. This function app hasn't received any requests for the last 9 days, so these language workers are definitely not in use. I'm unsure why it tried to start up another language w

[2020-11-30 18:19] pragnagopa commented on #6950
cc @vrdmr  - For guidance on optimum value for `FUNCTIONS_WORKER_PROCESS_COUNT`

@marcd123 - from the description the issue indicates some kind of process leak. I need to investigate to understand the root cause.

[2020-11-30 18:21] marcd123 commented on #6950
Thanks @pragnagopa

Let me know if there is any other information I can provide.

Might be worth mentioning our Service Plan is EP2, and we have a minimum of two pre-warmed instances at all times.

[2020-11-30 19:20] timgabrhel commented on #6786
I'm on a consumption plan and I'm not seeing the option.
![image](https://user-images.githubusercontent.com/791022/100653903-ac683000-330e-11eb-9e1b-f8ecc6cece08.png)

[2020-11-30 19:46] ianadavies commented on #4911
Not sure if this is related, but can someone point me to some documentation on how I can configure CORS when using Azure Functions on Linux running in a Kubernetes cluster as I can't seem to find anything to help me. I'm guessing I need to be able to configure from `host.json` as `local.settings.json` is ignored when running in a container?

[2020-11-30 19:58] brettsam commented on #5912
The code above is attempting to resolve a dependency before all dependencies are registered. I'd suggest trying to do the initialization in a factory instead, which will delay construction until all services are registered and the host is ready to start.

Example:
[code]

[2020-11-30 20:04] #5691 closed

[2020-11-30 20:12] brettsam commented on #6511
Yes -- if the function completed successfully and did not throw an exception, we mark it as successful. We only consider a function failed if it did not execute correctly.

@mathewc -- I swear we had an issue to add functionality that would allow you to (for example) throw an `HttpResponseException` and we'd mark it as failed, but use the Status, etc, from the exception in the response. I just hun

[2020-11-30 20:25] balag0 commented on #4911
++ @fabiocav @ahmelsayed
Yes, the proposal is for the settings to be configured using host.json. But this is not supported yet.

[2020-11-30 20:32] lostangelhf commented on #6786
Is there any update on this issue? We are seeing similar issues that messages were enqueued for about several hours before being processed by our service bus triggered function last week. We are using listen only access to the service bus due to business needs. Please help share any suggestions if this would cause hours delay in messages being picked up.

[2020-11-30 20:33] swettstein commented on #6857
the resolution was not very helpful for me. what exactly was the problem and fix?

[2020-11-30 20:38] balag0 commented on #6857
ContentType was mismatched. Should be set to application/x-www-form-urlencoded

[2020-11-30 20:48] swettstein commented on #6857
@balag0 only when using WAR file instead of ZIP?

i'm using this:
`Invoke-WebRequest -Uri "https://$resourceName.scm.azurewebsites.net/api/zipdeploy?isAsync=true" -Method Post -Headers @{Authorization = ("Basic {0}" -f $auth)} -InFile $zip -ContentType  'multipart/form-data'`

and it works for windows/consumption function apps but is not working for linux/consumption function apps. i tried using `

[2020-11-30 20:51] balag0 commented on #6857
Could you please open a new issue and include the appname as well using
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2020-11-30 21:28] bgribaudo opened #6953 "local.settings.json in Integration/Unit Tests"
#### Is your question related to a specific version? If so, please specify:
Core Tools Version: 96 Commit hash: c54cdc36323e9543ba11fb61dd107616e9022bba
Function Runtime Version: 3.0.14916.0

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#

#### Question
I'm trying to use xUnit to test an Azure Function. After setting up my test environment using the following l

[2020-11-30 22:44] amyhu-ms commented on #6786
Is there any update on this issue? We are seeing similar issues last week that it took several hours from messages enqueued to being processed by our service bus triggered function. We are using Listen only access to the service bus due to business needs. Please help share any thoughts that if this may/may not cause hours delay in message being picked up.

[2020-11-30 23:15] Camios commented on #5912
What dependencies aren't resolved for logging by the time the OP attempts to resolve it? Seemes backwards for logging dependencies to registered after the FunctionStartup.Configure methods is called.

[2020-11-30 23:24] pragnagopa commented on #6950
@marcd123  - I looked up the logs for your app. Your app is running functions runtime [3.0.14120.0](https://github.com/Azure/azure-functions-host/releases/v3.0.14120) which is few months old.  Please update your docker image to use latest runtime.  In general, it is good practice to keep the runtime updated in your custom image. In this case, we made few fixes in code path that is causing the exce

[2020-11-30 23:43] balag0 opened #6954 "Block Delete Function api in Linux Consumption"
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Controllers/FunctionsController.cs#L168

In Linux consumption, this api deletes the function on a single instance only. When a new instance gets assigned the deleted function will be revived back from WEBSITE_RUN_FROM_PACKAGE contents.
ZipDeploy is the only way to update deployments. To avoid confusion return 400 err

[2020-12-01 00:18] marcd123 commented on #6950
Thank you @pragnagopa

@vrdmr @Hazhzeng  This is our Dockerfile as is, it inherits mostly from the Python 3.8 Azure Functions base image:

[code]

Should we be updating functions runtime version in the Dockerfile? Is there someway to do this in Azure portal or in host.json?

[2020-12-01 00:27] Hazhzeng commented on #6950
Hi @marcd123,

Usually, we automatically update the tag **3.0-python3.8-appservice** in our deployment. To ensure you're using our latest host in the custom image, please try to build the image with `--no-cache` flag (e.g. `docker build -t <new-tag> --no-cache .`)

Alternatively, you can also explicitly define the base image by changing the line
[code]
to
[code]
Here is the link to follow up with

[2020-12-01 00:53] marcd123 commented on #6950
Thanks @Hazhzeng

We've updated the base docker image and Azure portal is now reporting 3.0.15149.0

I'll report back if we encounter the issue again. We can close for now though.

[2020-12-01 00:53] #6950 closed, assigned to pragnagopa

[2020-12-01 07:19] mhoeger opened #6955 "Give Language Workers way to specify default function file names"
Example: "index.js"
This would let us remove this hard-coding:
https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Host/FunctionMetadataProvider.cs#L245

[2020-12-01 07:52] anthonychu commented on #6450
@isaacrlevin Curious of the use case here that this is needed in a function app.

[2020-12-01 07:57] v-anvari commented on #5847
Please feel free to re-open the issue if the issues re-occur

[2020-12-01 07:57] #5847 closed, assigned to nobody

[2020-12-01 09:42] ianadavies opened #6957 "proxies route value = 'null' when running inside kubernetes"
I am using Azure Functions proxies to handle CORS requests in a K8 Cluster and my `proxies.json` looks like this.

[code]

I have built my docker container and when I run the container locally the proxy works as expected when the OPTIONS calls are made, I see the following output.

[code]

However, the same container running in my K8 Cluster gives this output when the OPTIONS request is made

[cod

[2020-12-01 10:00] ghost commented on #6929
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-12-01 12:36] baharedankoyuncu commented on #6239
We experienced this as well but were able to work around it both locally and in Azure. We are setting the `AZURE_FUNCTIONS_ENVIRONMENT` environment variable even though it was mentioned in previous comments that it didn't work.

[2020-12-01 14:27] brettsam opened #6958 "Log fully resolved binding metadata"
Today we don't have any logs in our system logs that tell us what bindings (or binding settings) someone is using. We have some details in the metrics table, but even those are lacking for .NET apps (they only log triggers).

We need to investigate a better way to log these to our backend logs so we can more easily identify what a customer is using if we need to help debug issues.

[2020-12-01 15:48] mykle90 commented on #6917
As a workaround on our project we added a new function that runs every 5 minutes, that just logs a single string with the datetime like this.

[code]

With this workaround the jobhost no longer stops after 15-20 minutes, and the queues gets emptied within a minute of items getting put on. Hope this can help anyone that are facing the same issue.

[2020-12-01 18:25] pragnagopa commented on #6955
@vrdmr  / @Hazhzeng - can you please point to code how default file name is handled in python worker if script file is not specified?

[2020-12-01 18:27] pragnagopa commented on #6955
@mhoeger - I believe this issue needs to be tracked in the nodejs worker repo

[2020-12-01 18:36] mhoeger commented on #6955
@pragnagopa - I don't think worker.config.json exposes this capability, my understanding of Python is that it adds the scriptFile property explicitly to the templates: https://github.com/Azure/azure-functions-templates/blob/0b0cdcadeed8860adf14aafe3e81b7d60992547b/Functions.Templates/Templates/BlobTrigger-Python/function.json#L2

https://docs.microsoft.com/en-us/azure/azure-functions/functions-ref

[2020-12-01 19:12] vrdmr commented on #6955
@pragnagopa - As @mhoeger pointed out - The [`scriptFile`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#alternate-entry-point) property is explicitly added to function.json in the templates. We normally default it to `__init__.py`.

[2020-12-01 19:14] vrdmr commented on #6955
@mhoeger - Could the `scriptFile` help your case?

[2020-12-01 19:20] Ruud-cb commented on #6917
Thanks mykle90, either that or sending a GET request to the azure function url works as a workaround. But ofcourse I rather utilize the full potential of consumption app services instead of still keeping the service active manually.

[2020-12-01 19:21] mhoeger commented on #6955
@vrdmr - Probably a good idea to add that explicitly to templates (making it easier for people to change), but this can't be the solution because it's a significant breaking change to existing apps

[2020-12-01 19:45] JanBaan opened #6959 ""Azure Function Runtime is unreachable" when deploying function app with AddAuthentication and AddAuthorization methods"
To give a better clarification, my team and I are building a function app for a school project. One of the requirements is to authorize and authenticate the user before they're able to use the app. However, when I deploy our app, I received this error "Azure Function Runtime is unreachable". After 4 weeks, we figured out that it had to with this two methods:

     public void ConfigureAuthenticati

[2020-12-01 19:46] vrdmr commented on #6955
Ah - yes. You'll need a combination of the two - If scriptFile doesn't exist, then send the default file name.

[2020-12-01 21:00] pragnagopa commented on #6955
We should consider schema / values specified in `worker.config.json` - to have significance both on the host end and worker end
In this case, default script file if not specified in the function.json can be handled by the worker as host does not need to know this value at all. Thoughts?

[2020-12-01 22:18] ShockwaverReal commented on #6674
So I wait for the worker... any more precise ETA? Even close to precise? (deadline coming in fast) :)

[2020-12-01 22:24] cygnim commented on #6674
This is such a bummer, and a glaring oversight on Microsoft's part. With a set cadence of 12 months per .NET release, these upgrades should be easy to accommodate. .NET 5's release wasn't a surprise to anyone, and this incongruity with the .NET release cycle should be better addressed. I hope this can be remedied quickly as our upgrade is on hold until the support is there.

[2020-12-01 23:41] isaacrlevin commented on #6450
Tbh I don't 100% recall what I was trying to do. I think it was something aligned to loading setting up a 2 step auth Api?

[2020-12-02 00:15] paulbatum commented on #2746
Lets use https://github.com/Azure/Azure-Functions/issues/1154 as the main place to discuss custom triggers. I will provide a short update there.

[2020-12-02 02:19] mcollier commented on #6892
Figured it out.

TL;DR - set the FUNCTIONS_EXTENSION_VERSION to ~3 when creating the function resource (Microsoft.Web/site).

More info at https://www.michaelscollier.com/inconsistent-functions-host-key/

[2020-12-02 02:19] #6892 closed, assigned to mathewc

[2020-12-02 06:15] mhoeger commented on #6955
I think there still needs to be a host change? :/ I was running into this exception:
[code]
From here:
https://github.com/Azure/azure-functions-host/blob/c198263bdcf7539c0765fdea6a8ec82b93c90a70/src/WebJobs.Script/Host/FunctionMetadataManager.cs#L167-L173

I'm guessing we still need validation here for .NET because it's in-proc?

[2020-12-02 06:23] anthonychu opened #6960 "Add additional columns of information to FunctionLogs"
Add Static Web Apps resource id as a new column to FunctionLogs in kusto. @annaji-msft is `WEBSITE_STATICWEBAPP_FUNCTION_ASSIGNEEID` the right value for this or do we need something else?

@brettsam may have other columns to add as well.

[2020-12-02 11:24] gorillapower commented on #5240
@ChrisHimsworth as @fabiocav mentions a fix was released as part of
`<PackageReference Include="Microsoft.Azure.WebJobs.Extensions.ServiceBus" Version="4.2.0" />`
However its *opt-in*

We were having the same issue. See this servicebus extension issue https://github.com/Azure/azure-functions-servicebus-extension/issues/114#issuecomment-698016431, the fix can be enabled by logging a support ticket.

[2020-12-02 11:29] gorillapower commented on #5240
@brettsam has there been any more movement on this issue? We are seeing this exception a few times a day, resulting deadletters on our queues.

[2020-12-02 14:30] mpaul31 commented on #5240
@gorillapower same here. i never saw this issue until we recently upgraded to the latest service bus extension package so it sounds like a regression. i have an open ticket with MS but it's not going anywhere at the moment.

[2020-12-02 15:56] baharedankoyuncu opened #6961 "Does FunctionsStartup execute on every function trigger"
Hi,

As per the [documentaion](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#register-services) we are registering services in our `FunctionsStartup`.

During the startup we need to retrieve configuration values from an external resource which means we essentially have an outbound HTTP call.

The question is, does the startup class run on every trigge

[2020-12-02 16:09] MhAllan opened #6962 "[Feature] IDurableOrchestrationClient to be injected anywhere"
I want to be able to organize the logic of Azure function in a mockable way, so I do need interfaces and classes. The problem is that  IDurableOrchestrationClient is not possible to inject in constructors of my classes, so it always needs to be part of the method signature which doesn't look anything intuitive

[2020-12-02 16:10] MhAllan opened #6963 "What is the lifetime of IDurableOrchestrationClient ?"
What is the lifetime of IDurableOrchestrationClient?

[2020-12-02 22:42] fabiocav commented on #6882
@mhoeger what sprint should this be assigned to?

[2020-12-02 22:43] fabiocav commented on #3543
@mhoeger what sprint should this be assigned to?

[2020-12-03 05:20] anthonychu commented on #6961
No. It runs once when a function app instance starts up. Once it is up, the instance will continue to execute functions until it is shut down for inactivity. When scaleout occurs, each new instance that starts up will execute its startup once.

[2020-12-03 08:15] dgrospelier commented on #6016
I have a very similar error "Unable to load DLL 'db2app64.dll' or one of its dependencies: The specified module could not be found. (0x8007007E)".
What is the workaround?

[2020-12-03 10:56] baharedankoyuncu commented on #6961
Hi @anthonychu, thanks for the quick reply.

Is it fair to assume that if we have a timer triggered function that runs every 5 minutes then we can potentially avoid it being shut down?

[2020-12-03 13:04] luthus commented on #3741
This change appears to resolve the issue:
https://github.com/luthus/azure-webjobs-sdk/commit/3137c5c8e59fdd2495c4ad0b4a09b8748f7ee1f9

With this change we should be able to use builder.Services.AddApplicationInsightsTelemetryProcessor<T>() in the same way that we do for ASP.NET Core.

[2020-12-03 14:51] brettsam opened #6964 "Apply FunctionAssemblyLoadContext fixes to DynamicAssemblyLoadContext"
We've recently made several bug fixes to the `FunctionAssemblyLoadContext`, but it seems that they may also need to be ported to `DynamicAssemblyLoadContext` to handle scenarios for csx projects.

The recent fixes were:
- #6566
- #6632
- #6639

Copying the details from an internal thread here:

---
1. The repro .csx code is as follows:
[code]
2. The repro function.proj is as follows:
[code]

3. I

[2020-12-03 16:51] madanbhavi opened #6965 "Host.json- Loglevel not working with appinsight in Node js Function"
#### Is your question related to a specific version? If so, please specify: **2.0**

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All) - **Node.JS**

#### Question

We are using applicationinsight  defaultclient to log all the messages through trackTrace method . In host.Json file we mentioned the Function logging level as "Information" but in Azure app insight dashb

[2020-12-03 17:08] JanBaan commented on #6959
So, I've figured it out. I just downgraded Microsoft.NET.Sdk.Functions from 3.0.9 to 3.0.3. I still see the error message in the portal, but we're able to use our Swagger page. I don't understand how, but if anyone has a better fix for that, feel free to tell.

[code]

[2020-12-03 17:08] #6959 closed, assigned to yojagad

[2020-12-03 17:28] v-anvari commented on #6894
@soninaren, @sidkri Tagging them to figure out if drain mode will be a feasible option here.

[2020-12-03 17:56] sidkri commented on #6894
@v-anvari it does look like a candidate from the logs I pulled for HostInstanceId "bd51ea76-b56a-4dfd-89c0-e60679091b29" between 2020-11-11T09:00:00Z and 2020-11-12T10:00:00Z. The host is stopped while processing a message from the queue.  I do see a scale-in operation at the time and the host shuts down 37 seconds after invocation starts.

@LukeBolly do you know how long this function typically r

[2020-12-03 18:10] balag0 commented on #6961
Yes, It will reduce the frequency but it is not perfect.
Timer trigger runs on a single instance only, so it is still possible for other instances to idle out and get removed. Any instance can get recycled during platform upgrades or due to unhealthy workers as well.

[2020-12-03 18:20] mhoeger commented on #6894
I'm also looking at this too, and it looks like their premium functions instances are scaling up and down frequently when scaling shouldn't be happening?

Here's an example of the scale vote, where we go from 1 => 2 workers:
[code]

And looking into the instance that was already there, it wasn't actually processing anything? Then, when it scales back down almost immediately, a function execution i

[2020-12-03 18:25] v-anvari commented on #6937
Hi @spongessuck , A [managed identity](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet) from Azure Active Directory (Azure AD) allows your app to easily access other Azure AD-protected resources such as Azure Key Vault.

@mattchenderson, Tagging Mathew to check if this scenario is supported and we have any end to end samples

[2020-12-03 18:50] yojagad opened #6966 "Logs / Metrics for input and output bindings for detectors"
From looking at detector's logic for identifying the list of input and output bindings, it seems like it relies on `function.binding.<bindingName>` metric emitted over the previous couple of days. However, this particular metric is not emitted in the following scenarios.

- When a function is never executed.
- Dotnet in-proc scenarios.

We need to have a standard way of knowing the list of binding

[2020-12-03 18:56] brettsam commented on #6966
Similar to https://github.com/Azure/azure-functions-host/issues/6958

[2020-12-03 18:58] yojagad commented on #6958
Closing this in favor of https://github.com/Azure/azure-functions-host/issues/6966

[2020-12-03 18:58] #6958 closed, assigned to nobody

[2020-12-03 19:03] alejandromelis commented on #6674
Thanks for your update @anthonychu.

The host for the new .NET 5 language worker will run on .NET 5 or still run on Net Core 3.1? In case of still on .Net Core 3.1 there is any plan to upgrade the host or use a different host based on .NET 5 in order to enjoy all .NET 5 the performance benefits not only in our code but also in the host code?

[2020-12-03 19:08] Mithras commented on #6674
AWS Lambdas support .NET 5 but Azure Functions don't. Is there any alternative in Azure?

[2020-12-03 20:52] anthonychu commented on #6674
The host will still be .NET Core 3.1. As mentioned before, the host cannot take a dependency on .NET 5 because it's not LTS. We are planning to update the host for .NET 6.

We are still on track for a preview of the .NET 5 worker later this month.

[2020-12-03 21:05] baharedankoyuncu commented on #6961
@balag0 I see, so the scale controller scales out based on the trigger type. Thanks for the input everyone, it's appreciated. Have a nice day :-)

[2020-12-03 21:05] #6961 closed, assigned to ankitkumarr

[2020-12-03 21:12] ShockwaverReal commented on #6674
Update it to .NET 6 I guess... Does this mean it will be LTS?

[2020-12-03 21:34] Methuselah96 commented on #6674
@ShockwaverReal Yes, [.NET 6 will be LTS](https://github.com/dotnet/core/blob/master/roadmap.md#upcoming-ship-dates).

[2020-12-03 22:57] mhoeger commented on #6894
Hi @LukeBolly - it looks like processing each queue message is very computationally expensive and leads to high CPU on an instance. This means that we scale out to accommodate pretty much every new queue message and when we scale those instances back in, we sometimes see lost executions. There's a fix for the lost executions on scale in that is currently being rolled out. Glenna just enabled this

[2020-12-04 07:14] anthonychu commented on #6965
The App Insights SDK sends data directly to App Insights. The host.json logLevels apply to logs emitted from the host, worker, as well as anything you output using `context.log`. Use `context.log.verbose()` and other methods described [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#trace-levels) to log at different levels and have the host.json filter

[2020-12-04 08:54] kuba-lilz commented on #6418
Just chipping in, since I have a closely related problem.

My project directory contains `node_modules` dir with loads of packages, and `func start` tries to watch all of them, over 30k of files it shouldn't concern itself with. It's silly, and makes my system hit max inotify watcher limit.

`watchDirectories` option seems to only add new directories to list of watched directories, but doesn't rem

[2020-12-04 13:00] #6929 closed, assigned to kashimiz, v-anvari

[2020-12-04 14:46] cormacpayne commented on #4263
@brettsam Hey Brett -- do you happen to know when this fix will be published to the set of `Microsoft.Azure.WebJob` packages on NuGet? We're looking to pick up this fix in the 3.0.26 version of `Microsoft.Azure.WebJobs.Logging.ApplicationInsights` as soon as it's released ☺️

[2020-12-04 16:16] spongessuck commented on #6937
I'm trying to access a file share on a VM on our network. I have a managed identity set up on the app but from what I can tell, all it can do is generate tokens I could use to access resources in Azure, so that doesn't apply for my scenario.

[2020-12-04 17:21] madanbhavi commented on #6965
@anthonychu ,
Thanks for your input, this makes it clear why I am not able to filter out the logs.
As we are using multi layer programming with index->service->repository classes. We doesn't wanted to pass context object in every method signature hence we thought to use appinsight , where in we are starting the appinsight in index.ts file and then in customlogger class we are creating object of ap

[2020-12-04 21:06] alrod commented on #5631
related [incident](https://portal.microsofticm.com/imp/v3/incidents/details/216923431/home)

[2020-12-04 21:40] paulbatum commented on #6909
@abirax I am curious, were you using the key vault references feature that is documented [here](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references), to specify your eventhub connection string? Or were you retrieving the connection string from key vault in some of your functions startup code?

The reason I ask, is that if you are using key vault references, then you

[2020-12-04 21:42] alrod commented on #5631
https://github.com/Azure/azure-functions-host/issues/5631

[2020-12-04 22:13] abirax commented on #6909
Hi @paulbatum  I was retrieving key vault value in the function startup code.(startup.cs).

[2020-12-04 22:13] #6909 closed, assigned to ankitkumarr

[2020-12-05 10:40] JamesRandall commented on #6674
This, IMO, is a mess. Historically been doing a lot with Functions but as a fundamental offering how can this be in this state at this point?

I'm currently doing some work with AWS and Lambda and able to target .NET 5 today - cleanly, simply, in a well documented fashion and without the cognitive load involved in reading this thread and this outward facing complexity. Visual Studio tooling, docke

[2020-12-05 10:59] forki commented on #6674
@JamesRandall but does AWS have PREMIUM?? Ha! Checkmate! :P

[2020-12-05 20:34] erwinkramer commented on #6863
@sven-hoffmann I'm not able to test with an URL, I only could test with 0 and 1 values.

[2020-12-07 04:36] bhokareprasad commented on #1054
Any update on this? This feature has enormous value for adding short term and silent background jobs which can be pushed through existing deployment rather than getting new deployment each time.(Which is obviously very lengthy process to go through)

[2020-12-07 10:21] emilbm opened #6967 "Consumption Function with Blob Trigger stops listening after internal "Server is busy" crash"
We have a setup where a Consumption Function App with a blobtrigger handles bulk amounts of blobs.

We uploaded just under a million blobs, and when the function began executing, it ran for several hours after which we received an exception that the "Server is busy" on Dec 4, 2020, and that the host was shutting down. From then on, the blob trigger ceased firing, and no further blobs were handled

[2020-12-07 10:38] vitalybibikov opened #7248 "Help wanted with update to 4.7.2 System.Text.Json"
Hello,
Help wanted.

I'm developing Swagger documentation package for Azure Functions, which is dependent on

[code]

packages

Currently, it's not possible for me to update the version System.Text.Json. from 4.7.0 => 4.7.2 (or 4.7.1, 5.0.0) as I'm getting the following error:

`'Method not found: 'Void Microsoft.AspNetCore.Mvc.Formatters.SystemTextJsonOutputFormatter..ctor(System.Text.Json.JsonSe

[2020-12-07 14:12] ahahn95 commented on #6542
I'm getting this issue as well when trying to use queue name bindings for functions that are set from azure app configuration from startup

[2020-12-08 01:00] ghost commented on #6894
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-12-08 01:18] ADH-LukeBollam commented on #6894
Great, I'll keep an eye on it and let you know.

[2020-12-08 10:12] sebb3 commented on #5663
How is the roll-out progressing? We're currently not experiencing issues, but since it used to be quite random it would be great with a status update. We're hosting the apps in North Europe region..

[2020-12-08 22:35] thaishankar commented on #5663
@sebb3 , the fix should be in North Europe already. And it should be deployed globally by the end of this week

[2020-12-09 02:25] mhoeger commented on #3543
This issue is resolved on the azure-functions-host side with host versions > 3.0.15149 (currently, this means our next release).

However, this will **not** automatically enable a continuous debugging experience on file change. Changes also need to be made to the VS Code Extension, and those can be tracked here: https://github.com/microsoft/vscode-azurefunctions/issues/781

In addition to a resolu

[2020-12-09 02:25] #3543 closed

[2020-12-09 06:58] stukalin opened #6969 "Is there downtime during slot swap for timer triggered function?"
`Runtime version: ~3`
`Language: C#`
`Service plan: S1 with "always on" option enabled`

I tried to test reliability of timer triggered functions when I do the slot swap. I've created a dummy function which runs every second (the `useMonitor` set to false) and simply logs some stuff. I have 2 slots: production and qa. I have set the `WEBSITE_ADD_SITENAME_BINDINGS_IN_APPHOST_CONFIG=1` option as man

[2020-12-09 08:23] marcoNipo commented on #6718
The UI support in the portal has been implemented, very nice.
For setting the `functionAppScaleLimit` on the function apps we provision dynamically we ended up just issuing a PATCH request to the `/config/web` Azure Management API endpoint.
We also have a couple of other apps we provision with an ARM template from a release pipeline: for those, we couldn't find a way to set the `functionAppScaleLi

[2020-12-09 08:31] stukalin commented on #6969
Update on this one. It turns out the issue is visible only in app insights. I've made another test which fills a queue with timestamps and this time there weren't any missing timestamps during the swap. So, feel free to close this one or report this to app insight guys.

[2020-12-09 15:31] LeonB87 opened #6970 "Azure Function not obeying to maxConcurrentCalls"
I'm creating an Azure Function app that has to process messages in a Servicebus in sequential order. When developing locally this works fine. when deploying to Azure there is an issue where more messages are processes in parallel.

Please provide the following:

- Timestamp: 16:02
- Function App version: ~3
- Function App name: servicebusTrigger
- Function name(s) (as appropriate):
- Invocation ID

[2020-12-09 19:27] pragnagopa opened #6972 "Update v2.x branch to be in maintenance mode"
Related to V2 to V3 auto-upgrade

V2 version:  https://github.com/Azure/azure-functions-host/releases/tag/v2.0.14786 is the last version before we started auto-upgrade

v2.x branch should now be maintenance mode. Only critical bug fixes that need a release need to be merged into v2.x

[2020-12-09 20:03] mathewc opened #6973 "Make MetricEvent.Completed more robust"
The check performed to determine whether an event is complete is based on checking whether the Duration (as set when the event ends) is equal to the default TimeSpan. When an event ends, generally Duration is set to DateTime.UtcNow - Timestamp. However for events that happen quickly (within the resolution of the system clock, e.g. 15ms) these times can be equal, resulting in Completed returning fa

[2020-12-10 02:52] glauber-md commented on #6719
I have the same issue here...
When I create a Java application for Azure Function Apps which has more than one function within, a new Spring Application is started for each function...
In a scenario that I had 10 small functions, I got 10 Spring Applications started... for each one there was a Hikari pool starting and so on...

[2020-12-10 03:30] bianyifan opened #6976 "Dependency injection failure when manually invoking IServiceCollection.BuildServiceProvider"
#### Is your question related to a specific version? If so, please specify:

I don't think so, but we are using 3.0.14916.0, if that helps.

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

C#.

#### Question

We have encountered a weird exception while the function host trying to activate a service:

[code]

We have traced this back to where we manually called `IS

[2020-12-10 03:31] bianyifan commented on #6976
cc @OsmondJiang @junshi356 for awareness.

[2020-12-10 14:02] komayama opened #6978 "AZURE_FUNCTIONS_ENVIRONMENT value not reflect on Windows Plan"
#### AZURE_FUNCTIONS_ENVIRONMENT value not reflect in Windows Plan

I create code that call IHostEnvironment interface IsDevelopment method for switching Development and Production environment when use the following the Environment as a application setting in Azure Functions on Windows consumption, AppService, Premium Plan.

<AZURE_FUNCTIONS_ENVIRONMENT>
https://docs.microsoft.com/en-us/azure/azur

[2020-12-10 17:11] v-anvari commented on #6899
Tagging @fabiocav , for more insights here.

1>BuildWarningRepro -> C:\BuildWarningRepro\BuildWarningRepro\bin\Debug\netcoreapp3.1\win10-x64\BuildWarningRepro.dll 1>C:\Users\v-thek\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.2.0\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(37,5): warning : Could not evaluate 'Cosmos.CRTCompat.dll' for ex

[2020-12-10 17:55] v-anvari commented on #4542
These changes are not expected to be made anytime soon. For this concern, it is suggested to use APIM

[2020-12-10 17:55] #4542 closed

[2020-12-10 20:38] aherrick commented on #6674
FYI
https://techcommunity.microsoft.com/t5/apps-on-azure/net-5-support-on-azure-functions/ba-p/1973055

[2020-12-10 20:46] gkindov commented on #2153
Hi, not sure if this is the right place to ask but - is there an function app level host shutdown event I can intercept so I can clean app static resources used but the whole app? For example I need to call Serilog.Log.CloseAndFlush(). I can't find anything in the doc, only Startup event where I register the logger. Thanks.

[2020-12-10 22:18] fabiocav commented on #6239
@ericsampson @baharedankoyuncu are you still able to repro this? If so, can you please provide information about the version you're using and your setup?
Thanks!

[2020-12-10 22:20] fabiocav commented on #6777
Work on this has resumed. This will continue in the next sprints.

[2020-12-10 22:21] fabiocav commented on #6791
Will finalize the review for this in sprint 91

[2020-12-10 22:26] fabiocav commented on #6879
Assigning to sprint 91, pending an owner as @pragnagopa won't be available.

[2020-12-10 22:27] soninaren opened #6979 "Create a repository to persist the diagnostics events"
We need to build a service that would allows us to capture diagnostic events recognized by the functions runtime. Diagnostic events can be error conditions that require user actions to mitigate the issue or a warning for a potentially unideal configuration on customers part. The idea is to capture and such events and build a pipeline to bring this to customers attention. This is not meant to be us

[2020-12-10 22:28] soninaren opened #6980 "Create services to capture diagnostic events identified by the functions runtime"
We need to build a service that would allows us to capture diagnostic events recognized by the functions runtime. Diagnostic events can be error conditions that require user actions to mitigate the issue or a warning for a potentially unideal configuration on customers part. The idea is to capture and such events and build a pipeline to bring this to customers attention. This is not meant to be us

[2020-12-10 22:28] fabiocav commented on #6888
PR in progress in the Azure SDK repo. Moving to sprint 91

[2020-12-10 22:28] soninaren opened #6981 "Add new admin APIs to fetch aggregate status / error details persisted logs for function overview"
#### Describe the solution you'd like
- Pending

#### Additional context
- Pending

[2020-12-10 23:12] Spaceman1861 commented on #6674
Huzza!

[2020-12-10 23:26] ericsampson commented on #6239
@fabiocav are you asking because something has changed?
We were using V2. I'd have to back out the workaround that we ended up using, in order to verify that it's still happening. I'm not sure that I'll have time to do that anytime soon.

[2020-12-11 00:26] mhoeger opened #6982 "Fix Artifacts to publish in release pipeline"
Currently, we select the list of artifacts in one of the steps that we need to publish nupkgs for. Initially it was marked as "Select all" but that's problematic, because we dont want to publish ExtensionsMetadata, Abstractions and one other package.

Temporarily, we've manually selected which ones to publish, but because the artifact names change every release, this isn't the right fix. We edit t

[2020-12-11 00:30] ankitkumarr commented on #6982
It's didn't seem like there was a way to download artifacts using wildcards. I think a simple fix could be that we download all artifacts and then add a task to filter the ones we need and publish those.

[2020-12-11 00:36] fabiocav commented on #6239
@ericsampson it's just not something our team has been able to repro using the latest bits, so getting confirmation on the version would be helpful.

Adding @ankitkumarr and @pragnagopa if additional context is needed.

[2020-12-11 01:00] pragnagopa commented on #6239
@ericsampson - We spent sometime going over the repro steps mentioned in the description.  We could not repro the issue with the latest runtime. Tried few combinations. It would be great if you can try to repro on a different app to ensure your prod app is not effected.

[2020-12-11 01:29] fabiocav commented on #6899
Adding to sprint 91 so we can take a closer look. This looks like exceptions logged by the metadata generator.

[2020-12-11 04:47] felipementel commented on #4577
[assembly: FunctionsStartup(typeof(Startup))]
    namespace xxxxx.Functions.Base
    {
        [ExcludeFromCodeCoverage]
        public class Startup : FunctionsStartup
        {
            private static IConfiguration _configuration = null;

            public override void Configure(IFunctionsHostBuilder builder)
            {
                var serviceProvider = builder.Services.BuildService

[2020-12-11 07:57] devdorn commented on #6239
![image](https://user-images.githubusercontent.com/399354/101877641-9b30e600-3b8e-11eb-8d0f-25bbe1e84c48.png)

![image](https://user-images.githubusercontent.com/399354/101877347-25c51580-3b8e-11eb-939b-f02aa89a3911.png)

I've implemented an TimerTrigger function  which runs daily and prints out the Env setting.

This was yesterday (triggered):
![image](https://user-images.githubusercontent.com/39