[2021-02-08 06:00] #7118 closed, assigned to soninaren

[2021-02-08 10:48] readnikhil commented on #7102
Hi , Can someone please help with this ?

[2021-02-08 13:00] ghost commented on #7001
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-08 16:05] oc002 commented on #9290
We are facing the same issue.
Our http triggered functions are connected to Azure API Management and used by our customers. Recently one of our customers noticed that they could not use the identifier they wanted when using the APIs we expose.

After debugging we found that this was tied to the %2F issue others are facing.

Since the APIs we expose are used by our customers we cannot ask them to "

[2021-02-08 17:23] krishnasingh1818 commented on #7118
thank you @TsuyoshiUshio your suggested fix works.

[2021-02-08 18:29] mhoeger commented on #7139
cc: @anthonychu - this will let you use `languageWorkers:node:arguments` on static web apps!

[2021-02-08 18:51] gdodd1977 commented on #5240
Is there any update on this? I'm getting this from time to time for durable functions when calling an ActivityTrigger from an orchestration.

Versions I'm running:

![image](https://user-images.githubusercontent.com/29410398/107267347-c01dca00-6a14-11eb-870a-ffafecc6ef3a.png)

[2021-02-08 19:00] ghost commented on #7042
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-08 21:54] pragnagopa commented on #7117
Moving to next sprint and assigning to @fabiocav

Notes from offline discussion:

- Update build to produce following artifacts:
    - 3.0.xxxx.zip - no changes to this
    - 2.1.xxxx.zip - this zip should only contain `extension.xml` and `.xdt` file  with contents as described in the decription.

- Create a batch file as part of build artifacts that will add `3.0.xxxx.zip` and `2.1.xxxx.zip` to t

[2021-02-08 23:38] ghost commented on #5090
We're having the same issue. We're trying to package our function apps in docker containers.

[code]

We just have our QA testers do a git pull and fire off the above script.

The following ~~didn't~~ would work for us, but it looks like it's not implemented yet?
```docker run -p 7071:80 -e CORS_ALLOWED_ORIGINS='["http://localhost:4200"]' -e CORS_SUPPORT_CREDENTIALS=true <imagename>```

Any other

[2021-02-09 01:11] pragnagopa commented on #7117
Updating offline discussion:

@fabiocav  / @alrod  - @suwatch pointed out another failure condition we will end up while cleaning up. For example

1.  We delete 2.1.1234 and 3.0.1234
2. On the workers, above packages will be deleted only when not in use
3. If on a worker, ~3 apps are not running but ~2 apps are using site extension 2.1.1234 then, 3.0.1234 will be deleted but 2.1.1234 will not be d

[2021-02-09 01:20] fabiocav commented on #7117
Yeah, that makes sense. Need to define a proper solution for that. Flagging this as blocked until then.

[2021-02-09 01:42] russgove commented on #9290
hey @ingenfakir ,
that sounds like a great idea. hadn’t thought of that since i hadn’t used Apim. I have forgotten the context i asked my question in, but could you please let me know if this fix works for you?
thanks
russell

[2021-02-09 07:34] athamala commented on #5421
We have also encountered similar errors, with these two events found in app service event log during the app termination. Based on the first event the startup time limit is already set to quite large. (Running in isolated Azure Germany, soon to be migrating out of it)

[code]
and
[code]

[2021-02-09 08:00] Zachary-Higgins-Attic commented on #5090
Update: I ended up adding an Nginx reverse proxy container to our "solution". It feels clunky though for what I'm getting. Would prefer to have Cors enabled and configurable on the function app container.

[2021-02-09 09:04] bendursley commented on #5240
Is there any further news on this?

[2021-02-09 09:54] oc002 commented on #9290
Does not seem possible to rewrite the uri in a generic way to support "double encoding" of `/`.
There is a directive `<find-and-replace />` but that only works for the body otherwise it could have been used as
`<find-and-replace from="%2F" to="%252F" />`.
Theres also the `<rewrite-uri template="uri template" copy-unmatched-params="true | false" />`  but that does not support the usecase.

I've res

[2021-02-09 10:01] AmyJeanes commented on #5090
@mrzachhigginsofficial this is what I ended up doing too, there are nginx ingress annotations you can add to enable CORS and supply a list of domains

[2021-02-09 11:32] felipementel commented on #5851
i´m with the same error

the code:

        public class WebClientService : IWebClientService
        {
            private readonly IHttpClientFactory _httpClientFactory;

           public WebClientService(IHttpClientFactory httpClientFactory)
           {
               _httpClientFactory = httpClientFactory;
           }

        public async Task<HttpResponseMessage> PostAsync(string url, str

[2021-02-09 15:11] mattias-fjellstrom commented on #6608
This issue is highly relevant.

I recently started experimenting with custom handlers in Go, so I've just come across the issue of handling logs. To me it seems a bit strange to return all the logs in the response to the host. What if the relative timing of the logs is important? This information is lost in the current solution.

A natural solution would allow me to use any logging framework (mayb

[2021-02-09 18:04] cyberpion-yotam commented on #5972
Same issue here with Azure Storage Queue. Wanted multiple maxDequeueCount values for different functions and queues in the app.

[2021-02-09 18:26] fabiocav opened #7141 "Investigate issue with Activity scope"
The issue reported [here](https://github.com/open-telemetry/opentelemetry-dotnet/pull/1672) seems to be caused by problems with the activity scope.

We originally believed this was related to #6995, but taking the mitigating options to address that issue doesn't seem to be working to fix the problem described in the PR.

[2021-02-09 20:12] tommck commented on #7064
I'm confused... what does this have to do with Synchronous I/O @fabiocav ?

[2021-02-09 21:33] AartBluestoke commented on #5972
My recent use case here was log sampling ratio. I've an app with multiple functions. one is common, and is sampled. others are rare(once per day).

We already admit that logging has more granular scope than 'app' by allowing different log levels per namespace, but it would be great to say 'these functions are important, don't sample them', 'these functions are not important, only trace 1 message p

[2021-02-09 23:50] ConnorMcMahon commented on #7142
@olitomlinson, I think this ticket applies broadly enough to be better suited to the Azure Functions Host repository, so I changed the name accordingly and am going to transfer the issue over there.

[2021-02-10 00:45] olitomlinson commented on #7142
@ConnorMcMahon makes sense! Cheers!

[2021-02-10 01:04] ketanbembi opened #7143 "Singleton lock renewal failed for blob 'xxxxxx/host' with error code 409: LeaseIdMismatchWithLeaseOperation. The last successful renewal completed at 2021-02-09T23:43:41.979Z (17936 milliseconds ago) with a duration of 39 milliseconds. The lease period was 15000 milliseconds."
Hi

I am facing below error in Azure function app (version used 2.0).

Singleton lock renewal failed for blob 'xxxxxxx/host' with error code 409: LeaseIdMismatchWithLeaseOperation. The last successful renewal completed at 2021-02-09T23:43:41.979Z (17936 milliseconds ago) with a duration of 39 milliseconds. The lease period was 15000 milliseconds.

After this error the job host restarts and hence s

[2021-02-10 06:47] ankitkumarr opened #7145 "Serialization issue with V3 when using HttpRequestMessage.CreateResponse(.., JArray)"
This was reported by a customer through a servicing ticket.

Here's a sample function that fails with a "Stack Overflow". This seemed to work fine in V2 function apps. --

[code]

The workaround seems to be using `jArray.ToString()` this way, AND allowing synchronous IO by turning the flag `FUNCTIONS_V2_COMPATIBILITY_MODE` to `true`.

[code]

[2021-02-10 07:56] ankitkumarr opened #7146 "Return proper "admin/functions" response for IFunctionProvider functions"
During a call to get function metadata `<app-name>/functions/<function-name>`, the `config` is returned empty if no physical function.json file is present. Source -- https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Extensions/FunctionMetadataExtensions.cs#L137

We need to fix that, and add a fallback logic to get FunctionMetadata from `IFunctionMetadataManager`, if

[2021-02-10 08:13] ankitkumarr opened #7147 "Fix keys APIs for IFunctionProvider functions (without "function.json")"
The `/keys` endpoints do not seem to work for functions without "function.json". This is because `KeysController` relies on physical `function.json` to figure out if function name is accurate or not. We need to use `IFunctionMetadataManager` for such operations.

[2021-02-10 12:08] danielreuterwall commented on #5098
We've had similar issues. Change tracking didn't seem to work between EF DbContext injected directly in function code and EF DbContext injected in scoped services. Using the feature flag did solve that problem for us which is great.

However, in a service added using `AddHttpClient` in our `Startup.cs` we injected `IHostEnvironment environment` to determine if we were in a production environment o

[2021-02-10 12:52] chris-rogala commented on #5240
@fabiocav This has been going on for over a year, and I, like others, are having messages go to DLQ in production. Luckily, I am not consulting right now, but it is making me wonder if I should be looking outside of Azure for future clients. We also have not seen any update in 4 months with a production issue.

[2021-02-10 15:42] sonic1981 opened #7149 "Accessing HTTP headers on HttpTrigger seems to crash the app"
#### Investigative information

#### Repro steps

This worked recently but now the following code seems to crash my azure function:

[code]

I suspect something in this has been broken? In the logs I see the following values:

2021-02-10T15:22:51Z   [Error]   Executed 'List' (Failed, Id=90cb8365-8cb3-4f5c-ba34-2914c8152ce2, Duration=123ms)

Changing the above to

[code]

Results in

2021-02-10T15:

[2021-02-10 15:50] sonic1981 commented on #7149
I even tried accessing a more innocuous HTTP header but I get the same problem

[code]

[2021-02-10 16:27] sonic1981 commented on #7149
So the Fix, though I'm loathed to call it that was to downgrade `Microsoft.Extensions.Primitives` from `5.0.0` to `3.1.12`. Why did this not happen on my local machine? Why does the app just crash without an error?

[2021-02-10 16:39] krishnasingh1818 opened #7150 "Diagnostic-Id set in message properties is not automatically populated into system.diagnostics.activity.current.parentid and output eventhub dependency not showing in appinsight"
#### Is your question related to a specific version? If so, please specify:
I had put this question here but they didnt know solution and closed it. hence posting here as it seems more correct place.
https://github.com/MicrosoftDocs/azure-docs/issues/69890

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#, AzureFunction v3 , .net core 3.1,  hosted in linux in AKS

[2021-02-10 17:16] fabiocav commented on #7143
@ketanbembi this by itself doesn't represent a problem, but is often caused by resource utilization issues, more specifically, high CPU utilization or thread exhaustion.

The recommendation would be to look a App Lens and diagnostic tools in the portal for your Function App. Without the app information, it's difficult to say what might have caused this, but engaging support if you can't find the i

[2021-02-10 17:16] #7143 closed, assigned to kashimiz

[2021-02-10 21:50] gmlion commented on #5663
I'm having the same issue with deployment from Visual Studio. ZipDeploy, WEBSITE_RUN_FROM_PACKAGE=1.
I re-deployed the new code and restarted the app several times, but I'm still seeing the result of old code execution randomly after days.
App name is KrevNotificationServer2 in West Europe.

[2021-02-10 22:20] thaishankar commented on #5663
@gmlion Is the issue you are reporting for the deployment at 2021-02-10 15:00 UTC? This was the only deployment that I could see for the app KrevNotificationServer2  in the last 3 days.

From the logs, it looks like we did pick up the new zip after deployment and the function app was restarted with the new zip at 2021-02-10 15:00:54 UTC.

It is possible that the issue you are reporting is differen

[2021-02-10 23:41] #7147 closed, assigned to ankitkumarr

[2021-02-10 23:41] #7146 closed, assigned to ankitkumarr

[2021-02-11 01:39] Carl-Hugo commented on #6380
I ran into this issue as well and it also took me some time to understand it. I don't use data annotation but implemented `IValidateOptions<TOptions>`.

As a workaround, I manually run all `IValidateOptions<TOptions>` upon creation of the options object.
Then I inject the option directly, not `I[whatever]Options<TOptions>` (that's a personal preference anyway).

This won't help with data annotatio

[2021-02-11 09:37] gmlion commented on #5663
It was an error on my side with an old deployment slot out of my radar. Sorry for the noise

[2021-02-11 12:12] v-anvari commented on #7132
Hi @RPM1984 , The [first document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#functions_extension_version) that you are referring to, mentions to use "To pin the app to a specific version, use the full version number (for example, "2.0.12345")."

While using the latest versions, the default runtime would be 3.0. But, in your case you expected it to be 2.0.
Could

[2021-02-11 14:13] twtb opened #7152 "The "GenerateFunctionsExtensionsMetadata" task could not be instantiated"
Followed the steps to create a sample Azure function from: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio.
The function runs fine locally (using F5), but when I try to publish it to Azure I get the following exception:

[code]

The file "Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.dll" does exist on the specified location.

[2021-02-11 14:26] seancolonello commented on #6899
I created an issue for the same problem over here...
https://github.com/Azure/azure-functions-vs-build-sdk/issues/487

Not sure which repo it belongs in? Anyway, the same problem popped up in an earlier SDK version, and was fixed in v3.0.7. This appears to be a regression in v3.0.10.

Earlier issue that resulted in v3.0.7 fix...
https://github.com/Azure/azure-functions-host/issues/5963

[2021-02-11 14:28] v-bbalaiagar commented on #6834
Hi @foconnor-DS, Apologies for the delayed response. Could you please go through the [document](https://docs.microsoft.com/en-us/azure/azure-monitor/app/diagnostic-search#where-do-you-see-search) to see an Application Insights Search window in the azure portal and in visual studio. Let us know if you are able to solve with this information.

[2021-02-11 15:48] cveld commented on #5014
It would make sense to be able to return the OperationId to the caller so that one can easily correlate the logging with the original request. How would I do that since it is not accessible anymore?

[2021-02-11 16:00] #7001 closed, assigned to brettsam

[2021-02-11 17:25] v-anvari commented on #7131
Hi @anwather , I checked the backend logs for both the invocation id's. But, the events are in order when the function has started and completed as expected. "Executed 'Functions.insights-logs-appservicehttplogs' (Succeeded, Id=06cedb9b-8f5b-4bc6-90e5-0662b4083214, Duration=914ms)". Are you saying that the event took place without a trigger or a message being triggered

[2021-02-11 18:57] ghost commented on #6476
Looking forward to updates on this

[2021-02-11 20:41] pragnagopa commented on #7117
This is addressed in the platform to allow using Functions.3.0.xxxx site extension for Functions ~2 apps.

[2021-02-11 20:41] #7117 closed, assigned to fabiocav

[2021-02-11 21:04] RPM1984 commented on #7132
hi @v-anvari , thanks for jumping in! 😃

to clarify, i'm not trying to pin to a _specific_ version, I'm trying to pin to the _latest_ 2.x version, as per the doc:

So, my expectation is a value of `~2` could result in any host version of 2.x being run, but **not** 3.x.

The repro steps would be:
1. Add a .NET Core 2.2 app
2. Add the value `~2` for `FUNCTIONS_EXTENSION_VERSION`
3. Restart the app

[2021-02-11 22:00] #7042 closed, assigned to madelinegordon, v-anvari

[2021-02-11 22:24] balag0 commented on #7132
Hope this helps clarify things

If the FUNCTIONS_EXTENSION_VERSION is set to ~2, it will move to Functions runtime v3 but in v2 compatibility mode. It will target .NET Core 3.1. It will receive patches.
If the FUNCTIONS_EXTENSION_VERSION is set to ~2.0, it will stay on Functions runtime v2. It will target .NET Core 2.2. It will not be patched.
If the FUNCTIONS_EXTENSION_VERSION is not present, it

[2021-02-11 22:39] RPM1984 commented on #7132
@balag0

i thought that's only if `FUNCTIONS_V2_COMPATABILITY_MODE` is set to true?
https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#functions_v2_compatibility_mode

[2021-02-11 23:11] anwather commented on #7131
In this case it appears that the same event was processed twice - in 2 separate invocations..

- ef496043-da3a-40d8-86e2-97daff6339df
- 06cedb9b-8f5b-4bc6-90e5-0662b4083214

I'm not sure if you can confirm that these invocations were triggered by the same event hub message?

[2021-02-12 07:20] CasperWSchmidt opened #7153 "Hook in FunctionsStartup with access to the correct instance of IServiceProvider"
#### What problem would the feature you're requesting solve? Please describe.
I'm trying to integrate SimpleInjector with the build-in dependency injection system using an integration package for ServiceCollection. This requires access to the instance of IServiceProvider as discussed [here](https://github.com/simpleinjector/SimpleInjector/issues/894). I know that support for other DI frameworks is

[2021-02-12 10:37] v-anvari commented on #5421
@ConnorMcMahon / @fabiocav , Could you please look into this issue

[2021-02-12 10:43] v-anvari commented on #7152
Hi @twtb , We require additional details to repro this issue.

After creating the function app, what are the additional steps that you are following. Can you give us the repro steps in detail, which trigger are you using. Is it possible to provide a test zip file which can produce the same error.

[2021-02-12 11:23] v-anvari commented on #6400
Hi @phil-marino , Apologies for the delayed response, Kindly let us know if you are still facing this problem. If yes, we would like to check the backend logs. We would require the latest invocation id and timestamp during of the error

[2021-02-12 11:43] v-anvari commented on #6384
Hi @ahmelsayed , Do we have any update on this issue. kindly let us know if there is any implementation or investigation required on this further

[2021-02-12 11:49] v-anvari commented on #6406
Hi @myarotskaya , Are you still facing this issue, we would require additional information to be able to clone the scenario. Can you give us the repro steps to be able to repro the error

[2021-02-12 16:22] munizig commented on #6542
I'm facing the same problem. I have two functions dealing with Event Hub triggers. One is output and the other one uses an input binder. The output one works perfectly. But the input one throws the same error as this topic.

`Microsoft.Azure.WebJobs.Script: The Functions scale controller may not scale the following functions correctly because some configuration values were modified in an external

[2021-02-12 16:51] nickplennox commented on #1431
@paulbatum I am seeing dup log entries on Azure functions, log below from today. All I am doing is calling context.log from my node.js app:

[code]

It's taken considerable time to reassure myself that my functions are not being invoked twice every time, but note that the timestamps are identical in the repeated sections. Does that help at all?

Nick

[2021-02-12 17:19] paulbatum commented on #1431
Not really, the question I asked was what view people are seeing this in. This issue is specifically about the behavior of the full streaming logs view in the azure portal when scoped to the application level.  If you are seeing duplicate logs in a different context, for example if there are duplicates in appinsights, then its a different problem and you should file a new issue.

[2021-02-12 17:24] nickplennox commented on #1431
OK, the log above is the output of `az webapp log tail ...` apols if that's off topic. The logs in the Azure portal don't show these duplicates.

[2021-02-12 17:53] paulbatum commented on #1431
Huh ok, I suspect az webapp log tail has the same issue that this view in the portal did, i.e. its not using the right directory for functions.

I filed: https://github.com/Azure/azure-cli/issues/16921

[2021-02-12 17:55] nickplennox commented on #1431
Thanks Paul

[2021-02-12 17:56] paulbatum commented on #1431
Also I found a workaround - add `--provider application/functions/host`

[2021-02-12 18:03] nickplennox commented on #1431
Ah, I see what you did there. Neat!

Thank you :)

[2021-02-12 20:12] ahmelsayed commented on #6384
I don't have any further updates. I only saw this once when there was a misconfigured VNET and the connection to storage was taking few minutes before it times out. I haven't tried to repro it myself.

[2021-02-12 21:54] brettsam opened #7155 "Expose a way to reduce console output to a single line"
Today we're using the default ConsoleLogger which can be ugly for folks that need it. We should figure out a way to simplify this or provide a few options (single-line/minimal, etc).

See here for the options available in .NET 5, but we're using .NET Core 2 internally: https://docs.microsoft.com/en-us/dotnet/core/extensions/console-log-formatter

We may need to create something custom to allow for

[2021-02-13 02:56] mufia001 commented on #5421
Hey everyone,

Apologies for late reply. Wasn’t aware that others are having the same issue. I was able to solve this problem by rewriting my Startup.cs file. It’s been a long time since I worked on it, so I don’t remember everything on the top of my head. I would suggest going through .Netcore 3.1 upgrade documentation by Microsoft. Please do not skip any steps, and make sure that your Startups.c

[2021-02-13 03:30] ZachTB123 opened #7156 "Syncing triggers returns InternalServerError"
I'm currently trying to call sync triggers on my Function App:

[code]

but the request is failing with:

[code]

An example correlation id of a failure is: 3188c8d5-d20f-4e0c-b3cb-dbec803e465b.

I have multiple of these Function Apps configured the same way and this is the only one that is currently failing to sync triggers.

I have a support ticket opened (2102130040000012) but I am opening here

[2021-02-14 08:51] robinhultman opened #7157 "Azure Function Consumption occasional HTTP 502"
We have an Azure Function dotnet 3.1 running on a consumption plan. The Function is called from Api Management.
Occasionally we get a HTTP 502 response from the function.

I have gone through the usual troubleshooting steps and I can't find anything in the logs of the function, I only see that there has been a problem in the logs generated by APIM.
During this time the Function did not have high l

[2021-02-15 05:54] 23min commented on #5837
This is still a problem, nearly a year later.

My v3 app is running in Ireland. The UC is running a timer trigger on Swedish time every day at 17:30.
 I'm setting a CRON as follows:
`0 30 17 * * *`
WEBSITE_TIME_ZONE is set to `Central European Standard Time` (i.e. GMT+1)

My function triggers at 15:30 instead of 17:30.

But for a while it has worked fine for a while with these settings. Mystery!

[2021-02-15 06:54] balag0 commented on #7157
Are you able to share the name of the function app using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-02-15 07:18] balag0 commented on #6855
I have opened an internal workitem to start enforcing this limit when an attempt is made to add such a long env. variable from Portal or other clients. This should prevent the key from getting clipped silently before being passed to the app and make the failures more obvious.
We will also check if the allowed length should be longer than 64 characters as well.

For now are you able to work around

[2021-02-15 07:28] v-anvari commented on #5421
@athamala , Let us know if you were able to resolve the errors.

[2021-02-15 07:37] athamala commented on #5421
I will take a look at our function Startup and see that it follows the documentation.

[2021-02-15 08:10] robinhultman commented on #7157
Thanks!
2021-02-15T08:05:55.159 441611bd-2880-4fb2-a7bc-92984652e93e west-europe

[2021-02-15 11:57] vitalybibikov commented on #7248
Hi,

Any updates on this one?

@v-anvari @fabiocav

[2021-02-15 13:57] enoreth commented on #5514
As for 15.02.2021 we have similar problems with our durable function. It configured with a timer trigger and should run hourly. Our logs show that the functions are run sometimes hourly sometimes with a minimum difference of 2 hours. We are using Function Apps 2 and Microsoft.Net.Sdk.Functions 1.0.38

![funcs](https://user-images.githubusercontent.com/1666797/107954840-4732eb00-6f9d-11eb-8869-2cd6

[2021-02-15 16:18] robhurry opened #7158 "System.UnauthorizedAccessException when reading Event Log evtx file"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app, select `Diagnose and solve problems` from the left, and view relevant dashboards before opening your issue.

I am trying to read an exported evtx event log file in an Azure Function. It wor

[2021-02-15 17:55] v-bbalaiagar commented on #6948
Hi @toburger, Apologies for the delayed response. It is not possible to change the function name as mentioned in the [document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#methods-recognized-as-functions). The UI does not directly support to change the function name, but you can work around this using the manual steps  mentioned[ here](https:

[2021-02-15 19:00] ghost commented on #6834
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-15 19:42] Arnavion commented on #6608
For my custom functions I just write to stdout and stderr from the worker process and ignore the `Logs` array in the HTTP response entirely. That gives me two levels of logging (stdout == info, stderr == error). Not ideal, but better than encoding the level into the message.

It also removes the need to encode timestamps into the message, since the host already has callbacks to log stdout and stde

[2021-02-15 22:08] adesmet commented on #1361
Hard to believe that this is going to force me to learn C#... But it is.

How in the world is this not a priority?

Edit: I was looking to have a file downloaded from blob storage so I definitely needed streaming, but I circumvented it by redirecting to the blob storage directly and generating a short-lived SAS token that applies only to that specific resource. Code snippet below for those in the

[2021-02-16 02:58] balag0 commented on #7157
Looks like one of the worker assigned to the function app had become unhealthy and requests were timing out. The worker couldn't push logs as well. It is not clear what triggered this though.

[2021-02-16 06:39] Hemantkaushik opened #7159 "azure timer function not executing all of sudden"
#### Investigative information

Please provide the following:

- Timestamp:2021-02-16T06:21:37.544
- Function App version:3
- Function App name: func-balance-adjustment-processor
- Function name(s) (as appropriate):AccountBalanceAdjustment
- Invocation ID:093becd6-f25c-4f49-a47c-635f9e0a6ba1
- Region: Australia East

on top mentioned runs are Manual runs for the function.
My function stopped runni

[2021-02-16 06:39] mattias-fjellstrom commented on #6608
@Arnavion I also went in that direction. I log everything to stdout in a custom JSON-format, and then I utilise the `parse_json()` ([reference](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/parsejsonfunction)) function when I query my logs in Application Insights. This allows me to get sensible logs with the levels I want. It is not ideal, and you need to spend a little time set

[2021-02-16 09:19] Arnavion commented on #6608
Yes. Azure Functions' "logs in the HTTP response as a JSON array" method (the topic of this issue) is fundamentally a non-starter. Easiest example - any function that hangs and is killed because of timeout will never get around to writing the HTTP response out, so it will lose all its logs, which are precisely the logs you'd want the most. Also, it requires your programming language / libraries to

[2021-02-16 09:41] ghost commented on #6947
Thanks for the pointer @krillehbg This was exactly the issue on my local.

@the-castman I wonder if the Azure DevOps clean option is doing what we hope in giving us a completely fresh build env. I wonder if waiting a while then triggering a new build is (by chance) assigning a different build agent in the MS infrastructure.  :thinking:

[2021-02-16 10:59] v-bbalaiagar commented on #7159
Hi @Hemantkaushik, I went through the logs for the time stamp - 2021-02-13 00:00:00 to 2021-02-15 23:59:00. I see the error "Singleton lock renewal failed for blob 'func-balance-adjustment-processo/host' with error code 409: LeaseIdMismatchWithLeaseOperation". Here is how you can troubleshoot the issue.
https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/TimerTrigger#troubleshooting
Related

[2021-02-16 11:12] v-bbalaiagar commented on #6834
Hi @foconnor-DS, Closing this issue, please feel free to re-open the issue for any further queries regarding this issue.

[2021-02-16 11:12] #6834 closed, assigned to nobody

[2021-02-16 11:13] robinhultman commented on #7157
Thank you for looking in to this!
There is basically no way for me to avoid this kind of issue except switching to another plan?

[2021-02-16 12:01] v-anvari commented on #7152
We see that the error says - " Could not load file or assembly 'Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator' or one of its dependencies". We have identified an issue related to "Microsoft.Extensions.DiagnosticAdapter" with a different scenario. We would require more information of your scenario to resolve

[2021-02-16 12:08] v-anvari commented on #6384
Do you wish to triage the issue for further investigation, or are we good to close the issue as it was never reproduced again

[2021-02-16 13:00] ghost commented on #6406
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-16 13:00] ghost commented on #6400
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-17 00:20] mwwhited commented on #6674
How about an update?

[2021-02-17 10:06] KillianW commented on #5090
I have also implemented an Nginx reverse proxy for this. Native ability would be much cleaner though!

[2021-02-17 14:33] matttrakker opened #7162 "Linux nodejs function with multiple eventhub output bindings not sending data"
Short intro:
HTTP Trigger which is calling the function, then take a message and put that via output binding to 4 other eventhubs

- Timestamp: 2021-02-17T09:53:41.423
- Function App version: 3
- Function App name: [company data, try to deliver everything else]
- Function name(s) (as appropriate): Functions.HttpTrigger1
- Host InstanceId ID: f00d3e73-aec3-4f1d-9931-fbd2e8c0e309
- Executing 'Functi

[2021-02-17 14:40] KaiWalter commented on #7162
I am able to reproduce it with

- Windows 10
- .NET / v3 Functions

[code]

I observe that the 4 messages end up in the first EventHub.

[2021-02-17 16:12] jesuissur commented on #6786
We still got the same problem with the version 4.2.0 and 4.2.1 of `Microsoft.Azure.WebJobs.Extensions.ServiceBus`.  Any updates on this one?

[2021-02-17 18:35] v-bbalaiagar commented on #7156
Hi @ZachTB123, As a workaround you can delete the proxies.json file in your project (assuming you don't have any proxies).
Also, Could you please go through [azure-functions-host/issues/3978]( https://github.com/Azure/azure-functions-host/issues/3978 ) and https://github.com/microsoft/vscode-azuretools/pull/372 for more information.

[2021-02-17 20:16] mhoeger commented on #7114
Assigned to wrong sprint (same sprint as creation)

[2021-02-17 21:06] fabiocav commented on #7136
@paulbatum moving this to sprint 96 .

[2021-02-17 21:08] fabiocav commented on #7123
Closing this as the scale controller change has been made.

[2021-02-17 21:08] #7123 closed, assigned to mathewc

[2021-02-17 21:11] fabiocav commented on #7108
Moving to triage.

We also need to discuss the design here, as having a column for this might not be desirable.

[2021-02-17 21:15] fabiocav commented on #7096
Moving this to sprint 96 as we want to continue to track.

[2021-02-17 21:18] fabiocav commented on #7077
Closing as completed.

[2021-02-17 21:18] #7077 closed, assigned to brettsam, fabiocav, ankitkumarr

[2021-02-17 21:19] ankitkumarr commented on #7077
PR (by Allison) merged here -- https://github.com/Azure/azure-functions-ux/pull/5726

[2021-02-17 21:21] fabiocav commented on #7033
@ivan-sam we were unable to look at this issue during this sprint. Moving this to sprint 97 for a more realistic timeline.

[2021-02-17 21:24] fabiocav commented on #6980
This issue has been partially done, @soninaren is further breaking it down to reflect the work that has been done and have more granular tracking.

[2021-02-17 21:25] fabiocav commented on #7125
Moving to sprint 96. This will be decomposed into smaller tasks.

[2021-02-17 21:36] fabiocav commented on #6887
PR ready for review. Moving to sprint 96.

[2021-02-17 21:39] fabiocav commented on #6777
Closing. the remaining work is being tracked internally.

[2021-02-17 21:39] #6777 closed, assigned to pragnagopa

[2021-02-17 21:41] fabiocav commented on #6239
@ericsampson apologies for the delay on this, but with the current priorities, we haven't been able to look at this issue yet. Assigning to sprint 97 as that more appropriately reflects when this should be done.

[2021-02-17 21:42] fabiocav commented on #5922
Work currently in progress. Moving to sprint 96

[2021-02-17 21:43] fabiocav commented on #5171
Work currently in progress, moving to sprint 96.

[2021-02-17 21:51] fabiocav commented on #7141
This was planned for sprint 96, but with the .NET work currently happening, we'll need to push to the next sprint.

[2021-02-17 21:51] mathewc commented on #5922
@balag0  - can you remind me what the source of this work item was? Are customers running into this? Definitely if we have codepaths that are accessing secrets (e.g. admin keys APIs, synctriggers) and not failing gracefully in absence of a secrets repository we should address that.

[2021-02-17 21:56] fabiocav commented on #7111
@jahnwa this might take some additional time for investigation. Have you tried updating your Functions project to target .NET 3.1? Do you have the same results if you redeploy with that target?

[2021-02-17 21:59] fabiocav commented on #7007
Moving this to sprint 97, but we might be able to spend some time investigating in sprint 96.

[2021-02-17 22:12] ZachTB123 commented on #7156
I've updated the support engineer with my findings but I'll note them here also.

I’ve been able to fix this though I would still like to know the underlying issue that caused this for future reference. What ended up working for me was:

1. Stop the Function App
2. Delete all the host.json and host.snapshot.<date>.json files in the azure-webjob-secrets container for my Function App in the Storage

[2021-02-17 22:17] markusfoss commented on #5014
We are running a series of (windows) dotnet core based functions in our infrastructure.

We just tried to upgrade to newer versions of:

Microsoft.ApplicationInsights (from 2.14.0 to 2.15.0)
Azure.Storage.Blobs (from 12.6.0 to 12.8.0)
Microsoft.Azure.Cosmos (from 3.15.0 to 3.16.0)
Microsoft.Azure.Functions.Extensions (from 1.0.0 to 1.1.0)
Microsoft.Azure.ServiceBus (from 4.1.4 to 5.1.1)
Microsoft.

[2021-02-17 22:35] fabiocav commented on #5922
@mathewc I believe this is for static web apps.

[2021-02-17 23:23] fabiocav commented on #5612
@kashimiz FYI

[2021-02-18 00:15] RDavis3000 commented on #5663
This is happening for us.
app-name : lxrpextranetcollaboration
We've tried the 'stop, wait 5 minutes, spin around 3 times, restart app' but it didnt help

[2021-02-18 01:30] scottxrobertson opened #7163 ""Dynamic pricing tier is not allowed in this resource group""
Hi,

I am attempting to deploy a function app to a new, and empty, resource group. I am intermittently experiencing the issue mentioned in this comment:

https://github.com/Azure/azure-functions-host/issues/851#issuecomment-258767647

I am using nearly the same ARM template, deploying to a new resource group with no existing "regular" Web Apps (no resources at all).

So far this error has happened

[2021-02-18 06:14] lafernando commented on #6460
@anthonychu @pragnagopa any update on this issue?

[2021-02-18 06:15] lafernando commented on #6091
@anthonychu @pragnagopa any update on this issue?

[2021-02-18 07:07] jahnwa commented on #7111
@fabiocav We have tried updating our Functions project to target .NET 3.1 and we experience the same issue. It only works as expected when we force the app to use .NET Core 2.2.

[2021-02-18 07:40] balag0 commented on #5922
Correct. It is for SWA. + @anthonychu as well who is tracking other related requirements around this scenario.

[2021-02-18 08:21] balag0 commented on #7157
Switching to another plan might not help completely since the issue was at the worker level and so all skus running on that worker will be impacted. It will be interesting to look at the frequency of this issue as well to see if there is any platform improvement we make to recover the app faster.

[2021-02-18 11:09] lbargery commented on #6674
Also very interested in update here, we tried to move to ef core 5 yesterday but found it didn't work with the old functions run-time so are now blocked on ef core 5 and net core 5 behind functions sadly. Appreciate it's probably not an easy fix though!

[2021-02-18 12:46] robinhultman commented on #7157
It seems to be happen from time to time but I guess the impact isn't that high after I added retries in API Management.
This issue has more impact on us :)
https://github.com/Azure/azure-functions-host/issues/7116

[2021-02-18 13:49] markusfoss commented on #5014
Can add some more details to my previous comment: This particular package upgrade causes Activity.Current = null in the function host runtime:

[code]

[2021-02-18 13:54] pseabury commented on #6674
@jeffhollan since the NET5 worker process is new, can you summarize or point to a summary of the limitations the OOP worker will have in relation to the In-Proc v3 functions now?  I've already looked [here](https://techcommunity.microsoft.com/t5/apps-on-azure/net-5-support-on-azure-functions/ba-p/1973055)

[2021-02-18 15:16] stephenc01 opened #7165 "Powershell Class Loading"
#### Is your question related to a specific version? If so, please specify:
Azure Functions 3

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
PowerShell Core 7.x

#### Question
I am trying to find the best way load classes in PowerShell that is compatible with functions and azure pipelines

This works in Functions but not in pipelines or locally due to the hard co

[2021-02-18 17:26] brettsam commented on #7111
I've been researching a very similar issue with `SmtpClient` on the auto-upgrade and I wonder if this will work?

https://github.com/MicrosoftDocs/azure-docs/issues/45991#issuecomment-755582909

@jahnwa -- would you be able to test setting the app setting `WEBSITE_VNET_SUPPORT_DUAL_STACK_SOCKETS` to `1` and moving to 3.1 again?

[2021-02-18 17:36] pragnagopa commented on #6091
Conversion of output binding data here handled here: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Workers/Http/HttpScriptInvocationResultExtensions.cs#L60-L78

Setting `  "dataType": "binary"` in `function.json` for your output binding should work. Please give it a try and let us know.

[2021-02-18 17:55] v-anvari commented on #7131
Hi @anwather , We checked both the invocation id's but we are unable to fetch the message details. Can you let us know the version of the Event hub extensions used. If it is above 4.x eventhubs extension, there are log entries that show the sequence number of the messages used for that execution. For example.

Trigger Details: PartionId: 0, Offset: 4295012096, EnqueueTimeUtc: 2021-02-10T01:34:10.0

[2021-02-18 18:02] v-anvari commented on #7132
Hi @RPM1984 , In these cases FUNCTIONS_V2_COMPATABILITY_MODE is set to true by default. It needs to be explicitly set to true only if you come across errors during the upgrades. [https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#migrating-from-2x-to-3x](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#migrating-from-2x-to-3x)

You will find more inf

[2021-02-18 18:38] mhoeger opened #7168 "Transient "Did not find functions with language [python]" errors"
Occasional `"Did not find functions with language [python]"` error (does not impact availability)

1. App starts in placeholder mode
2. Customer's contents begin to get downloaded and extracted (not sure why?)
3. 1 function is indexed (I think the warmup function)
4. Job Host started
5. 2 function and 1 proxy are indexed (not sure what these are)
6. Specialization is triggered (going out of placeh

[2021-02-18 21:12] soninaren opened #7169 "Add a log message indicating that the bundle configuration is being ignored for precompiled function app"
We currently ignore an extension bundle configuration if the following conditions are true. However there is no explicit log statement that indicates that we are ignoring the bundle configuration. We need to add one to make sure any one looking at the logs is not confused.

1. Its a pre-compiled function app
2. Function app has extension bundle configured in host.json
3. Extension bundle id is `Mi

[2021-02-19 01:54] anthonychu commented on #5922
Yes this is the issue: https://github.com/Azure/static-web-apps/issues/165

It’s because BlueRidge apps don’t have storage accounts. @annaji-msft can provide more details.

This is quite common because folks are using a function as the callback for external auth providers and they pass a token in the query string with the name `code`.

[2021-02-19 01:58] anthonychu commented on #5922
The desired outcome is if no AzureWebJobsStorage and the http function has authLevel anonymous, requests with `code=` in the query string should work, and the parameter value is accessible in the function.

[2021-02-19 09:48] markusfoss commented on #5014
@brettsam | @fabiocav : Should I move these to another more suitable ticket?

[2021-02-19 09:50] v-bbalaiagar commented on #7172
Hi @ddobric , More précised way of tracing the metrics in the right order would be the application insights.
To diagnose  the errors and exceptions in the application insights, please check the document here - [https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-exceptions](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-exceptions)
We understand the difference in the

[2021-02-19 09:54] v-bbalaiagar commented on #7172
To enable the Live Metrics for your application, please follow the document here - [https://docs.microsoft.com/en-us/azure/azure-monitor/app/live-stream](https://docs.microsoft.com/en-us/azure/azure-monitor/app/live-stream)

[2021-02-19 10:03] v-bbalaiagar commented on #7103
Hi @shibayan , Implementing the drain mode should be able to fix the problem.
For more information on drain mode, please refer [Implement an api to put host in drain mode.](https://github.com/Azure/azure-webjobs-sdk/issues/2527)
[https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script](https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script)

cc @soninaren

[2021-02-19 10:36] shibayan commented on #7103
I believe that the problem is that we currently cannot safely exit for more than 10 seconds after drainmode is triggered by deployment or host restart.

Since drainmode and timeout are interrelated, you basically need to use both. In fact, I have found that I need to use the drainmode feature and increase the timeout value.

[2021-02-19 14:09] v-bbalaiagar commented on #7163
Hi @scottxrobertson, This can happen in the following situation:

1) You're creating the Function App in an existing resource group
2) This resource group already contains regular (i.e. non-Dynamic or Premium) Web Apps in the same region that you're trying
    to create the Function App. This can even occur if you are creating a Azure Functions Premium Plan in a resource group that
    has an App

[2021-02-19 16:00] #6406 closed, assigned to mhoeger, v-anvari

[2021-02-19 16:00] #6400 closed, assigned to kashimiz, v-anvari

[2021-02-19 16:25] ehamai commented on #7172
@takyyon for FYI...

Thanks @ddobric for the feedback.  Yeah I think what you're saying makes sense to me but would you mind helping me to understand a few things first please?

1. Do you know what type of plan you're running on? (eg App Service plan, Consumption, or Premium)
2. Is the graph you're referring to on the Function overview or the Function APP overview blade?  Based on your suggestion

[2021-02-19 16:29] LeonsBuntis commented on #6947
I'm getting same error with Microsoft.NET.Sdk.Functions Version="1.0.38".

There is no reference to microsoft.azure.webjobs.script.extensionsmetadatagenerator in my project, but I have encountered this issue in Azure Devops. Seems that if the package is downloaded by other projects that are built on same build agent it breaks my project.

The Azure DevOps clean option does not clean up shared nuge

[2021-02-19 16:50] pragnagopa opened #7173 "Large number of Invalid argument errors in Linux consumption logs with empty AppName"
cc @balag0 @yojagad

Following stack is spread across multiple versions and is specific to Linux Consumption. Needs investigation

[code]

[2021-02-19 17:23] pragnagopa opened #7174 "Reduce noise in the logs while disposing RpcInitializationService"
Following is an unhandled exception:

[code]

Needs investigation

[2021-02-19 18:47] mcollier commented on #757
Functions has deployment slots for Windows consumption plan - https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-slots.

[2021-02-19 18:53] VaclavElias commented on #6674
This might be helpful for some of us..

https://codetraveler.io/2021/02/12/creating-azure-functions-using-net-5/

[2021-02-19 19:00] ghost commented on #6948
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-19 19:20] Mithras commented on #6674
There is already an issue https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/39
But I'll repeat it here. There needs to be a way to programmatically provide secrets to the host (from KeyVault, for example). Right now local.settings.json is the only way to specify connection strings, etc which is unacceptable.

[2021-02-19 20:33] pragnagopa commented on #6558
Assigning this to next sprint to prioritize fix . As of yesterday 65 apps are pinned to version: 3.0.13353.0
Fix for this issue will help delete version from 3.0.13353.0 RU feed.

[2021-02-19 22:44] #7106 closed, assigned to mathewc

[2021-02-20 08:48] #6948 closed, assigned to nobody

[2021-02-20 13:00] ghost commented on #7159
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-20 13:00] ghost commented on #7152
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-20 13:00] ghost commented on #6384
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-20 23:48] maximivanov opened #7176 "[wiki] Confirm instructions for opting out of v2->v3 upgrade for Linux Consumption"
#### Investigative information

- Function App name: `azfuncnodever-function-app-linux-consumption`
- Region: East US

#### Repro steps

1. Create a Linux Consumption function app
    1. `FUNCTIONS_EXTENSION_VERSION=~2.0` app setting.
    2. Language: Node.js.
    3. `linuxFxVersion` is not set explicitly
2. Check host information via `https://<func app name>.azurewebsites.net/admin/host/status?co

[2021-02-21 05:35] kirk-marple opened #7177 "Missing method exception when creating SignalR client (only happens within Azure Function)"
I'm stumped on this one.  I'm trying to create a connection to our SignalR hub, from within an Azure Function (C#, .NET Core 3.1).

This had been working, and appears to now have a package conflict, because it can't find the "get_Transport" method on HttpConnection.

I've confirmed that we're using 3.1.12 of the SignalR client package, and even disassembled that, and can see the get_Transport meth

[2021-02-21 18:41] pragnagopa commented on #7176
@divyagandhisethi - Please take a look why pinning to V2 is not working for this App.

[2021-02-21 22:01] atamu commented on #7056
Im also seeing this issue now, what the best way to mitigate it?

Thinking that this is becoming a risk as now we are seeing this error in the portal.

![image](https://user-images.githubusercontent.com/4223283/108772623-1e74ac00-75c2-11eb-8bca-f71eccda7454.png)

[2021-02-21 22:24] scottxrobertson commented on #7163
Thanks for the reply.

I don't believe the situation you are describing applies in this case.

I am creating a new resource group, then running the ARM template above against that empty resource group. There are no  existing resources at all, let alone any Web Apps or App Services.

The more concerning part is that this issue is intermittent. Sometimes I can create a resource group, run the ARM te

[2021-02-22 00:53] maximivanov commented on #7176
I'll keep the App running for you to investigate. Let me know if you need anything.

[2021-02-22 06:39] anthonychu commented on #6674
@Mithras Would [.NET user secrets](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#using-aspnet-core-user-secrets) work for you for storing secrets locally? Its values should be accessible by triggers and bindings. Currently not supported in `dotnet-isolated` projects but added a PR to address: https://github.com/Azure/azure-functions-core-tools/pull/24

[2021-02-22 08:08] anthonychu commented on #7162
@mathewc @alrod Could you please take a look at this?

[2021-02-22 08:26] anthonychu commented on #7162
The issue is possibly here: https://github.com/Azure/azure-functions-eventhubs-extension/blob/51be2e6eccd2b01ab32ebdf80160a9449b718418/src/Microsoft.Azure.WebJobs.Extensions.EventHubs/Config/EventHubOptions.cs#L210-L221

Notice in @KaiWalter's sample the Event Hubs names are the same, but connection strings are different. However, it appears the extension uses a cache that's keyed only on the Even

[2021-02-22 08:42] matttrakker commented on #7162
For me it is the same, we use the same hubname in all four environments, so the name is equal, the connection string not

That line here https://github.com/Azure/azure-functions-eventhubs-extension/blob/51be2e6eccd2b01ab32ebdf80160a9449b718418/src/Microsoft.Azure.WebJobs.Extensions.EventHubs/Config/EventHubOptions.cs#L97 will also always result in an issue when you use the same hubname in multiple

[2021-02-22 08:53] jahnwa commented on #7111
@brettsam This has solved our issue! Thank you!

Just a quick question. Will this app setting be a default setting in the future?

Please feel free to close this issue.

[2021-02-22 15:59] chris-oswald commented on #6674
@anthonychu, will "launchSettings.json" work in the future for local testing and development once IDE support is built?  That's where I've typically stored a lot of configuration values.

[2021-02-22 17:47] Mithras commented on #6674
@anthonychu None of these is working today. Please read the issue I linked. There is no way of passing any secrets to the **host**.
So if you have
`[ServiceBusTrigger("xxx", "yyy", Connection = "zzz")]`
there is no way of loading "zzz" from KeyVault or anywhere really. Host is initializing all the triggers before any of the user code is even called.

[2021-02-22 18:40] #7048 closed, assigned to alrod

[2021-02-22 18:52] hansmbakker commented on #6674
@anthonychu

I believe that Key Vault references are unpractical if you have network restrictions on your Key Vault (e.g. you limit your access to a VNet). In that case azure cannot access the secrets to inject them in the app service / function app.

See this [user voice feedback](https://feedback.azure.com/forums/355860-azure-functions/suggestions/38817385-allow-key-vault-references-to-access-se

[2021-02-22 19:00] ghost commented on #7132
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-22 19:00] ghost commented on #7131
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-22 19:20] krishnasingh1818 opened #7178 "Assembly.GetCallingAssembly() not working correctly on linux"
#### Is your question related to a specific version? If so, please specify:
azfunc v3

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
c#

#### Question
Assembly.GetCallingAssembly() not working correctly on linux. we have 2 az functions one deployed on aks and works fine but other gives wrong Assembly.GetCallingAssembly() and always points to Microsoft.Azure.WebJo

[2021-02-22 21:21] balag0 commented on #7163
@scottxrobertson Could you provide the correlation id , timestamp , region or any other information that we can use to locate the request from our logs?

[2021-02-22 21:29] gtd4 commented on #7056
We have had this issue appear recently for a number of our functions that have been deployed for a while now.

Hopefully this gets fixed ASAP so that we aren't have to leave workarounds in place long term

[2021-02-23 00:42] scottxrobertson commented on #7163
Hi @balag0 ,

See below for the details requested for one of the failed deployments:

- **Correlation ID**: c644bd50-ac6f-4ef6-b6c7-25830568c38b
- **Start time**: 2/18/2021, 10:33:32 AM
- **Region**: Australia East

[2021-02-23 08:38] balag0 commented on #7163
Thanks. It looks like one of the scale units in Aus East region is not configured to allow consumption function workloads, so when a app lands on that scale unit it will be blocked by that exception. I am checking if we can enable consumption feature on the scale unit. In the mean time retrying should work since other scale units on the region are able to accept functions workloads.

[2021-02-23 09:43] #7132 closed, assigned to nobody

[2021-02-23 14:41] tareksharbak commented on #7159
Hi,

I'm having an issue similar to the one described above.
My function uses a Timer trigger (*/5 * * * *) to run every 5 minutes.

It works perfectly the first few times after deploying the function (I'm deploying using VS as a zip deploy), but then it stops triggering until I open the logs, where it continues working as usual. It seems like the timer trigger is failing unless I have the streami

[2021-02-23 14:48] siddhant777 opened #7180 "Azure Durable function concurrency issue"
#### Is your question related to a specific version? If so, please specify:
Not version specific but observed in Function runtime version ~3
#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Python
#### Question
Azure Durable Function handles only one HTTP request at a time. When another request is made, it puts the new request in PENDING state and does not start it

[2021-02-23 14:51] DVGY opened #7181 "Upload a same single blob parallelly into two different containers which resides in two different storage account"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
Node js 12
#### Question

What problem was encountered?

I want to upload file parallelly in two containers each of are in different storage account.

Ex: StorageAccount1: container_xyz
StorageAccount2: container_abc

Steps to reproduce the i

[2021-02-23 15:11] j2020v commented on #7094
Hi is there an ETA on this issue?
I am deploying a consumption plan based function app and is unable to perform a swap slot due to missing args in the app settings:

Error: BadRequest - Storage access failed. WEBSITE_CONTENTAZUREFILECONNECTIONSTRING or WEBSITE_CONTENTSHARE appsetting is missing (CODE: 400)

What would be the workaround for deploying using yml?

[2021-02-23 15:14] j2020v commented on #5306
This is still an issue, swapping slots is failing
I am deploying a consumption based plan function app, linux and is unable to perform a swap slot due to missing app settings below:

Error: BadRequest - Storage access failed. WEBSITE_CONTENTAZUREFILECONNECTIONSTRING or WEBSITE_CONTENTSHARE appsetting is missing (CODE: 400)

[2021-02-23 15:39] gorillapower commented on #5240
Our workaround was to make all our functions idempotent and increased the maxDeliveryCount on all our queues to allow multiple retries. This caters for the the DryIoc exception that occurs before the trigger has a chance to execute.

As a side note we also added `CustomMessagingProvider` to handle in-trigger exceptions. See here for an example -  https://github.com/Azure/azure-functions-servicebus

[2021-02-23 16:00] #7152 closed, assigned to mhoeger, v-anvari

[2021-02-23 16:00] #6384 closed, assigned to kashimiz, v-anvari

[2021-02-23 17:31] joshlrogers opened #7182 "Function host stopping in the middle of function execution"
#### Description

We are encountering an issue where the function host stops in the middle of execution not allowing the function to continue.  We have a timer triggered function that downloads 1 or more files from an FTP location, saves them to blob storage, then notifies an API endpoint of the files.  Our function was able to achieve the first two things then the function host stopped without ex

[2021-02-23 23:07] divyagandhisethi commented on #7176
@maximivanov Can you please update your linuxfxversion to "Node|8" and retry?

[2021-02-24 00:30] maximivanov commented on #7176
@divyagandhisethi I can confirm that after setting `linux_fx_version          = "node|8"` in the configuration the runtime switched from `3.0.14916.0` to `2.0.14786.0`.

I'm using Terraform templates to deploy the infra and until not long ago I didn't even specify the `linux_fx_version` config in my scripts (since it's not required). Note that if it's missing, Node.js version will default to 10.x,

[2021-02-24 01:06] scottxrobertson commented on #7163
Thanks @balag0 - please keep me posted on when this is resolved.

[2021-02-24 01:18] divyagandhisethi commented on #7176
Hi @maximivanov . Thanks for trying this out. I can share more details about how the runtime version is selected.

Linux function apps have a linux fx version site config, which is used to specify the language version for the app. We introduced this language version selection capability for linux apps couple of years ago. Before that, Linuxfxversion site config
was an empty string and all linux fu

[2021-02-24 04:47] Fishrock123 opened #7185 "[invalid] request sent to function switched from HTTP to HTTPS"
#### Investigative information

Please provide the following:

- Timestamp: 2021-02-24 01:17:16.647
- Function App version: custom (?)
- Function App name: sas-paypal-mailchimp-signup-rs
- Function name(s) (as appropriate): Paypal-IPN
- Invocation ID: 9ec18d1f-1f68-4967-a494-ce7156a4b529 ~~a0fbd1c31583ff40942cb23bc2db7862 (I think)~~
- Region: West US

#### Repro steps

1. Run (probably) any http

[2021-02-24 13:08] maximivanov commented on #7176
Hi @divyagandhisethi. Thanks for the details! A bit of history and the reasoning for technical decisions is always greatly appreciated.

If I understand it correctly there's a check in the resource manager API which prevents newer function apps to be created with empty LinuxFxVersion setting (no matter which tooling calls the API). In my case, the app in question is not from years ago, I created i

[2021-02-24 16:41] v-bbalaiagar commented on #7159
Hi @tareksharbak,  I went through the logs for the time stamp- 2021-02-23 13:00:00 to 2021-02-23 15:15:00. I see the error
"The 'Xbo*****' function is in error: '*/5 * * * *' is not a valid CRON expression".  Can you please try with this expression: 0 */5 * * * *? Functions supports an extra field for seconds.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csh

[2021-02-24 17:30] pragnagopa commented on #7176
There is planned work to expose valid values for `linux_fx_version` for each runtime version we support via ARM API.   We will plan to update documentation as well.

[2021-02-24 17:41] chris1411 commented on #6769
Same issues here. Creating separate accounts for each build agent isn't a very feasible workaround, especially when you are running 10+ agents. Is this going to be looked at anytime soon?

[2021-02-24 17:44] divyagandhisethi commented on #7176
Hi @maximivanov . Thanks for the repro.  I agree, I think we should update Terraform to set default values for Linuxfxversion if the user does not explicitly set it. This behavior will also align with what other clients. Let me see how we go about doing that.

As for https://github.com/Azure/azure-cli/issues/15171, that is unrelated to this issue.  For now, your app should be fixed since you have

[2021-02-24 19:08] maximivanov commented on #7176
Thanks for pushing this forward!

One more thing, the function app deployed from the repro above has empty `LinuxFxVersion` which results in Node.js version `10.23.1`, not `8.x`. Not sure if it's expected since you mentioned legacy apps were to default to `8.x`. The repro has a step of verifying Node.js version in the README.

[2021-02-24 22:29] kulkarnisonia16 commented on #6649
Closing since we are tracking this work in Roslyn analyzer work.

[2021-02-24 22:29] #6649 closed, assigned to nobody

[2021-02-24 23:59] Francisco-Gamino opened #7186 "Integration Tests: Update update-hostreferences.ps1 to include the Python worker via build\python.props"
The `src/WebJobs.Script/WebJobs.Script.csproj` includes references to all language workers with the exception of the Python worker, which is reference in `build\python.props`. The script needs to be updated to support updating the package version the `Microsoft.Azure.Functions.PythonWorker` in `build\python.props`.

[2021-02-25 03:28] chuanqisun commented on #5663
@RDavis3000
This happened to our app again, about a week ago. We use slots. My previous workaround of stop and restart didn't work. I even tried deleting and recreating the slot, and that didn't work either. I feel there is some magic that recycles previously deployed slot so delete/recreate slot won't purge the stale instance.

Eventually, I found this workaround: create a new slot with a differe

[2021-02-25 08:16] anielii commented on #6868
The same pertains to the Timmer trigger.

[2021-02-25 10:59] vtrusevich-incomm commented on #1319
Hello, any updates on adding streaming support?

[2021-02-25 12:48] trailmax opened #7221 "System.ComponentModel.Annotatoins Version=5.0.0.0 (doesn't exist)"
Just getting this exception when trying to create DbContext for EntityFramework 6.4.4.

I've tried adding Annotations NuGet package directly to the function project, but that made zero difference.

I'm on Functions v3, netcoreapp3.1. I've gone through all threads and SO questions related. The problem is very similar to [this issue](https://github.com/Azure/azure-functions-core-tools/issues/479) bu

[2021-02-25 14:17] v-anvari commented on #6868
Hi @shibayan , Apologies for the delayed response. What is the actual behavior that you are seeing. Is there a delay? or is the retry setting is not working at all. I see that you have mentioned in a line that the uncommenting  the FixedDelayRetry is working fine.

Hi @anielii , Kindly open a new issue for us to look into the details of your App.

[2021-02-25 14:20] shibayan commented on #6868
@v-anvari
The retry configuration using host.json doesn't seem to be working at all, as shown in the documentation. Retries using the `FixedDelayRetry` attribute work fine.

[2021-02-25 14:22] v-anvari commented on #6868
Thank you for confirming, I shall try to repro it as mentioned and update you

[2021-02-25 14:30] tareksharbak commented on #7159
Thanks @v-bbalaiagar!
The solution you posted works. However, the peculiar thing is that the "invalid" CRON expression seems to work fine when the log stream is open in the portal (it works at the correct intervals) and also while debugging with Visual Studio, which makes this very difficult to detect.

Is there a way for us to check the logs that you checked on our own? This will help debug and r

[2021-02-25 16:48] pragnagopa opened #7188 "Add Inflight invocations completed status on the host"
This is a follow up for DrainMode feature

Calling drain mode API allows for a graceful shutdown of the host to complete inflight invocations and stops listening for new events from trigger sources.

To handle this in LinuxConsumption more effectively, host needs to expose an API that platform can poll to figure out if all the inflight invocations are completed. Without this information a host ins

[2021-02-25 17:39] pragnagopa commented on #7103
Assigning to @soninaren for follow up.

[2021-02-25 17:45] pragnagopa commented on #7188
@divyagandhisethi - Can DataRole determine state of inflight invocations by looking at functionExecution status?

[2021-02-25 17:47] v-bbalaiagar commented on #7156
Hi @ZachTB123, This requires further investigation to understand the underlying issue, moving this to Triage

[2021-02-25 18:02] v-anvari commented on #6868
Hi @shibayan, As mentioned in the document here [csharp#fixed-delay-retry](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#fixed-delay-retry). For the C# file it is mandatory to write the attribute on top of the class or method as appropriate. For non c# sharp files, it is to be written only in the function.json file. This scenario is by-design

Le

[2021-02-25 18:05] shibayan commented on #6868
@v-anvari
The following document describes the App level configuration and I point out that the App level configuration is not working correctly. The documentation doesn't seem to mention that the behavior is different for different languages.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#app-level-configuration
https://docs.microsoft.com/en-us/a

[2021-02-25 18:10] v-bbalaiagar commented on #7177
Hi @kirk-marple, We would like to clone the scenario that you are trying. Could you please provide us the repro steps.

[2021-02-25 18:16] #7186 closed, assigned to pragnagopa, Francisco-Gamino

[2021-02-25 20:09] willvelida opened #7189 "Azure Service Health Alerts when custom runtimes are decommissioned"
#### What problem would the feature you're requesting solve? Please describe.

In our Azure Function applications, we have opted to pin a custom runtime. From time to time, our Functions will fail to invoke due to specific versions of the runtime being removed or simply not working. To avoid any downtime on our applications, we have created a PowerShell script that allows us to roll back to a stab

[2021-02-25 22:00] #7131 closed, assigned to soninaren, v-anvari

[2021-02-25 22:43] ZachTB123 commented on #7156
I ended up closing the support ticket I had opened for this since I was able to work around it. Looking through the activity logs for the Function App, I was noticing the Function App was getting recreated every morning. The timing of this lined up with our morning redeploys. I was able to track this down to a bug in our Terraform configuration since that was mistakingly recreating the Function Ap

[2021-02-25 22:49] kirk-marple commented on #7177
Sure, let me put together a sample solution, and get you a simpler repro.

[2021-02-26 01:42] fabiocav commented on #7190
Actually moving to the host as it applies to more than the worker.

[2021-02-26 01:43] lafernando commented on #6091
Hi @pragnagopa,

It seems, there is a bug in the code you mentioned. In its logic, if the type is given as "binary", it directly returns the text content without doing a base64 decode on it. But in the else branch there (e.g. type="string"), it tries to do a base64 decode, if it's successful, that binary content is returned, or else, it simply ignores the decoding error and returns the string cont

[2021-02-26 02:03] lafernando commented on #6091
Also, it will be great if we can properly document these properties at https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-output.

[2021-02-26 17:03] mwwhited commented on #6674
These workarounds are way to convoluted for large development teams.  We are stuck on choosing between staying on 3.1 until 6 is released (and hoping we can actually update and not have more delays) or dropping azure functions and just converting back to webapi and hosted instances.  Hosted instances has the advantage it will be easier to port to other platforms so that's my current plan.

[2021-02-26 17:19] pragnagopa commented on #6091
Setting `dataType: binary` indicates payload is of type `byte[]`

Default `dataType` is `string` - we expect users to send binary data as `base64` encoded string

Yes, we will look into updating docs with more code samples

[2021-02-26 17:28] Fishrock123 commented on #7185
This was my own issue, see https://github.com/squamishaccess/squamishaccess-signup-function-rs/commit/5a717206a2faac53e818cdfe2d9411d14c3fa9bb

This was hard to diagnose because it's hard to distinguish the difference between an error between the function host and the custom handler, rather than the handler's reply to the external http message.

[2021-02-26 17:28] #7185 closed, assigned to mhoeger

[2021-02-26 18:14] rubo commented on #6674
Same here.
When .NET 5 has been released, Microsoft promoted it from every corner and advocated to migrate to it. We did and when got to Azure Functions... Voila!
Given the discussions in this thread, the message from the Azure Functions team, let's be honest, sounds like "_We don't care much about .NET 5 cause it's not LTS_". You guys knew that long before the .NET 5 release and could warn the co

[2021-02-26 18:44] VaclavK opened #7192 "Microsoft.Extensions.* - 3.1.10 usage by host however Keyvault config extension 3.1.10 is deprecated"
#### Is your question related to a specific version? If so, please specify:

I am on function host 3.20 ( I believe is the latest version available)

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

c#

#### Question

we use KeyVault configuration extension package - due to earlier versions now being deprecated we had to upgrade to 3.1.12
however it also pushes up

[2021-02-26 19:25] qsdfplkj commented on #6674
Just a thought but wouldn't it be possible to create a few forks by building the entre stack with a few different dependencies?

[2021-02-26 19:31] Mithras commented on #6674
They don't even need a fork. They can just multitarget: https://github.com/Azure/azure-functions-host/issues/6674#issuecomment-774332688

[2021-02-26 19:54] fabiocav commented on #6674
@Mithras the issue is not about a technical challenge making something available with support for .NET 5. That's the easy part, but when running a service, a lot of other considerations need to me made, we just went through a similar process with .NET 2.2, and I can tell you that was not a  comfortable position for a lot of our customers.

We are working on the path to eliminate this issue altoget

[2021-02-26 20:14] onionhammer commented on #6674
I dont understand how app service can support .net 5 but azure functions cant.

![image](https://user-images.githubusercontent.com/969938/109350367-fba1fc00-783c-11eb-9fce-15a9c4132a13.png)

[2021-02-26 21:25] cygnim commented on #6674
.NET 2.2 was released in December, 2018. Were there no lessons learned to make the next release go smoother?

The part that bothers me more than anything is that the Azure Functions team seems to have been completely surprised that .NET 5 was released and that people would expect to be able to use it right away.

Everyone here is aware that the Azure Function team is now scrambling to come up with

[2021-02-26 21:35] mike-jewell commented on #6674
We've started to move to IHostedServices as this has been a huge problem for us.  We have other other issues that exist with functions that haven't been resolved also around hosting on linux containers:

System.IO.IOException: The configured user limit (4096) on the number of inotify instances has been reached, or the per-process limit on the number of open file descriptors has been reached

The l

[2021-02-26 21:36] jeffhollan commented on #6674
@cygnim

1. Yep - we're very aware and plan (as communicated) to have support for .NET 6 on release day and future versions from there. will likely publish a .NET Functions roadmap blog in the coming weeks
2. I'd correct you here - we were very aware of .NET 5 and have been in conversations and planning around how to support (even before the first .NET 5 bits dropped).  It wasn't an issue of plann

[2021-02-26 21:39] mike-jewell commented on #6674
I agree, and I have done:

https://github.com/dotnet/runtime/issues/40350

which leads to here:

https://github.com/dotnet/runtime/issues/37664

It seems that the limit increased from 1024 to 4096, which made the problem go away temporarily.  Used azure support and hit a wall.

Anyway, its separate from this issue.  I was hoping this release would fix it.  But its lagged so far behind and made mai

[2021-02-26 21:50] cygnim commented on #6674
I'll accept your correction, but if the situation was well known internally, was there ever any PR about .NET 5 and Azure Functions at release? Blog posts? Official documentation? Was any effort made to communicate to the general public that Azure Functions would not support the latest version of .NET at release or anytime soon thereafter?

As far as I can tell, .NET 5 has been in "Preview" for a

[2021-02-27 03:24] lafernando commented on #6091
In our custom handler JSON payload, the only way to send data is using a string value (either base64 encoded or not). In that case, what's the use of `dataType:binary`?

And yes, it's better to clear this up in the documentation.

[2021-02-27 20:35] Arnavion commented on #6608
Another approach I've been prototyping for my functions is to skip the middleman and log to Log Analytics directly, via https://docs.microsoft.com/en-au/azure/azure-monitor/logs/data-collector-api#sample-requests.

Pros:

- Full freedom of log levels and structural fields (including the function invocation ID which is the target of another related issue in this tracker).

- Logs appear to show up

[2021-02-28 09:48] EricBos commented on #6674
The way I interpret this: let's not call call the fire department while our house is on fire, but let's build that awesome shed instead.

[2021-02-28 16:22] AmyJeanes commented on #6674
I think overall this would have gone down a lot better with proper communication to users, Azure Functions is not some niche little product it's a huge part of many businesses and not to mention created and maintained by Microsoft itself.

Naturally people assume that with a new .NET version, first party products such as Azure Functions were going to be upgraded day one or at least not far behind,

[2021-02-28 17:42] mwwhited commented on #6674
I've done that twice already.  Once at Launch just to be all WTF, why doesn't this work to then see a message a few days later saying they decided to do this out of process mess.  Then a second time a few months after the first with upgrading everything a second time (including fighting the breaking changes for .Net 5 a second time) just to find out that even if I did jump though all the hoops to

[2021-02-28 21:28] jackbond opened #7193 "It's closed, but it shouldn't be."
https://github.com/Azure/azure-functions-host/issues/6542#issuecomment-778294039

Any news on this?

[2021-02-28 22:12] kamilzzz commented on #6855
@balag0 Yes, this limitation was easily worked around by just shortening the length :)

[2021-03-01 09:06] TLA020 commented on #6542
Overriding Configuration still gives all kind of issues.

[code]

Everything works on a localmachine, but also issues on azure. Functions won't run or log anything (yes loglevel set based on namespace)

**Functions runtime error**
`Microsoft.Azure.WebJobs.Script: The Functions scale controller may not scale the following functions correctly because some configuration values were modified in an ext

[2021-03-01 09:34] shibayan commented on #6542
This problem will be resolved when the Function Runtime version is `3.0.15411` or later. Most of the versions are now `3.0.15371`, so wait for the latest Function Runtime to be deployed.

[2021-03-01 09:44] TLA020 commented on #6542
When will the latest runtime be deployed?

Do you have a source for this information?

![image](https://user-images.githubusercontent.com/20934868/109479780-0b0e8880-7a7b-11eb-9890-8b028111455d.png)

Edit: thanks

[2021-03-01 09:46] shibayan commented on #6542
https://github.com/Azure/app-service-announcements/issues/323

[2021-03-01 16:00] ghost commented on #7159
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-01 20:05] ddobric commented on #7172
@v-bbalaiagar  thanks for your feedback. All your referenced articles are correct but do not really help in this case.
The whole logging mechanism inside of Azure Functions is not useful for long-running scenarios. The whole concept behind Azure Functions is designed for Request-Reply messaging patterns independent of the binding:
Trigger->Run->Complete

As long 'Run' is short (few seconds to few

[2021-03-01 20:10] ddobric commented on #7172
@ehamai  thanks for the feedback.

1. The plan is App Service, because Consumption does not support real long-running.
2. The counter above shows the function overview.
3. Right now, I have deleted all function. But, if you are interested we can set up a call and we can deploy some functions together?

[2021-03-01 20:29] MelbourneDeveloper opened #7194 ".NET Dependencies are Tied To a Specific Version Range"
Several manifestations of this problem have already been reported, but I don't think the other issues capture the scope of the problem. I will try to outline the crux of the problem rather than the specifics.

## The Problem
The Azure Functions SDK comes with a pre-packaged set of dependencies (NuGet packages/assemblies). We call this the safe range. Any dependencies that you pull into the functio

[2021-03-01 21:11] pragnagopa commented on #7096
Closing as this being tracked internally.

[2021-03-01 21:11] #7096 closed, assigned to pragnagopa

[2021-03-01 21:14] pragnagopa commented on #7095
Closing as this being tracked internally.

[2021-03-01 21:14] #7095 closed, assigned to pragnagopa

[2021-03-01 21:24] pragnagopa commented on #7093
Closing as this being tracked internally.

[2021-03-01 21:24] #7093 closed, assigned to pragnagopa

[2021-03-01 21:38] cachai2 opened #7203 "Default to v2 Extension Bundles"

[2021-03-01 21:44] anthonychu commented on #7162
@alrod @AnatoliB Could you please evaluate this item for an upcoming sprint? Thanks

[2021-03-01 22:49] xiaosu commented on #7194
I was trying to run the AF under .net 5 from command line (func host start --verbose), it sometimes stuck in the middle of the build process like this -
![image](https://user-images.githubusercontent.com/2724620/109569136-107fd780-7b3c-11eb-901d-6e9aa3f9c327.png)
or sometimes it just reported build errors which does not exist when building from VS 2019.

[2021-03-02 00:33] soninaren commented on #7188
We do provide customers with cancellation tokens to all functions including inflight and new invocations.  Any new invocations that get started after drain mode has been activated should be handled by the customer. Functions already inflight are provided ample time for them to complete execution.

[2021-03-02 00:36] soninaren commented on #7188
Also the proposed API may not be helpful because the customer could pre-fetch a 1000 messages. Each can take up to 10 minute to finish execution and user could also configure the function app to process one function at a time.

[2021-03-02 06:28] yojagad opened #7196 "Admin APIs should fail when we identify that the file system is incorrect"
This came from an internal investigation. Customer tries to do an "Export template" and was expecting list of functions to be populated. This normally works, but in this scenario, the following was happening

- There were file system failures. Therefore the host was in the process of shutting down (as mentioned in #5151). Which is by design.
- However, just before host completes shutting down, syn

[2021-03-02 08:13] balag0 commented on #7163
@scottxrobertson
The config has been updated and you shouldn't see these errors any more.
Please reactivate if you can still repro this.

[2021-03-02 08:13] #7163 closed, assigned to brettsam, v-bbalaiagar

[2021-03-02 09:38] v-anvari commented on #6868
Hi @shibayan , Yes, you are right, for App level configuration, you need to only update the Host.json as mentioned in the document. Did you check the [limitations of the retry policy](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#retry-limitations-during-preview)?

We are trying to understand the cause of the failure. Can you give us quick repro

[2021-03-02 10:00] v-bbalaiagar commented on #7061
Hi @shibayan, Apologies for the delayed response, please let us know if you were able to find a solution to this, if not, we would like to reproduce your project to understand the error better, could you give us the repro steps or test Zip file if possible which can repro the error.

[2021-03-02 14:48] ivan-sam commented on #7033
I've got some good news and some bad news.

The bad one: the version that I suggested to pin runtime to (as a workaround) was removed: [Removal of older Azure Functions Runtime version: 3.0.14916](https://github.com/Azure/app-service-announcements/issues/313)

The good one though is that I wasn't able to reproduce the issue on the latest version: 3.0.15371 😃 :
![image](https://user-images.githubus

[2021-03-02 15:44] MTCMarkFranco commented on #4705
Hi All,

Anything wrong with this approach:

define a private member in startup class:

[code]

then I can reference it within Configure and ConfigureAppConfiguration and any other override like so:

`
this.Logger().LogError(errorMessage);
`

Does anyone see any issues with this? I've tested it and works consistently.

[2021-03-02 16:15] pragnagopa commented on #7188
Can you please expand on what ample time means? My understanding is there is a fixed grace period that we allow for drain mode.

Ask here is for platform to be able to detect and optimize cases where all invocations after drain mode is called complete in < 10mins . This will ensure a host instance (container) is not waiting for the whole 10mins before being teared down.

[2021-03-02 16:17] ulfandersson opened #7197 "Function proxy very slow in handling gzipped backend response"
#### Description

We are encountering unreasonable large response time overhead (200-300 ms from backend response to proxy response) when using azure function proxy and the backend resource is a few houndred kb compressed data. Using API management instead does NOT provide this overhead.

#### Investigative information

- Timestamp: 2021-03-02T13:43:48.8999321Z
- Function App version: 3.0.15371.0

[2021-03-02 23:00] balag0 opened #7199 "[Linux] Storage resiliency for apps running of Azure File share"
Storage might become unavailable post specialization, Need a way to identify and mitigate

[2021-03-02 23:39] soninaren commented on #7188
By ample time I meant `time >= default timeout period` for the respective sku. So for consumption it would be >=10 mins

The ask makes sense and has clear advantages. We would have to investigate this further to understand performance impact as this would require keeping track of all invocations across all extensions.

[2021-03-03 00:00] pragnagopa commented on #6879
More details on implementation:
- Worker should opt-in to  new capability on the host `appInit`
- Add new message `AppInit` in proto file -- with a map of loglevel defined in host.json - default would be info -Generic message like AppInit will help us extend this future if needed.
- Check capability `appInit` on `workerInitResponse`
- If worker opts in - only then send `AppInit` message  - Need to

[2021-03-03 00:21] Hazhzeng commented on #6879
Hey @pragnagopa, yeah, just to confirm, to actual send the HostLogLevel to worker, we should do it before **FunctionsLoadRequest**, right? As you mentioned, in placeholder mode, function host will not have function context during worker init.

In this case, do we suppose to have another GRPC event to send the HostLogLevel (e.g. HostLogConifgRequest)? Or should we just do it in **FunctionsLoadReque

[2021-03-03 00:28] pragnagopa commented on #6879
FunctionLoadRequest will be sent multiple times - one per function - this would increase the message size. Defining a `HostLogLevel` message or something more generic that can be sent before `FunctionLoadRequest` is better.

[2021-03-03 00:29] mathewc commented on #7196
Ultimately the issue is that when the host identifies that the file system is incorrect (based on [CheckFileSystem](https://github.com/Azure/azure-functions-host/blob/12fff582f5880ee120e3ccd0ed1ea7753e705469/src/WebJobs.Script.WebHost/WebJobsScriptHostService.cs#L169)) we shouldn't serve any http traffic, particularly /admin APIs that return data that relies on files like functions, keys, etc. Whi

[2021-03-03 00:43] pragnagopa commented on #6879
Updated the comments to reflect a more generic message - AppInit

[2021-03-03 01:56] fabiocav commented on #6879
If we want a generic message, the name `AppInit` feels a bit odd.

Had some comments about the approach, but I think a chat would actually help.

[2021-03-03 12:02] qetza opened #7200 "Allow filtering of app insights dependency tracking"
#### What problem would the feature you're requesting solve? Please describe.
It is possible to enable/disable Application Insights dependency tracking through the host.json file but this is an all or nothing settings.

I would like to be able to enable dependency tracking and specify which dependency i will track through configuration and avoid using a custom ITelemetryProcessor.
I need this beca

[2021-03-03 12:36] ghost commented on #5240
I too am getting this issue with ServiceBusTrigger.

I only get this when using Microsoft.Azure.WebJobs.Extensions.ServiceBus 4.2.1 (or 4.2.0).  The issue is not present when running with 4.1.0, 4.1.1 or 4.1.2.  I note [4.2.0](https://github.com/Azure/azure-functions-servicebus-extension/releases/tag/v4.2.0) contained _Support for message draining before the Functions host shuts down_.

My package

[2021-03-03 15:44] brettsam commented on #6879
My main question here -- how will you determine the log-level to pass to the worker when there's a bunch of category-specific levels? Just one example, but a customer could have `default` set to `none` but `Worker` (which captures any category starting with `Worker`) set to `trace`.

[2021-03-03 15:49] #6887 closed, assigned to kashimiz

[2021-03-03 18:25] malramsay commented on #6868
I will jump in here.  The repro steps are straightforward. Copying @shibayan's steps above will recreate the issue.

1. In VS 2019, create a new http trigger in a new azure function using the packages as per the original post.
2. Add [FixedDelayRetry(10, "00:00:03")]. Run the function and note that the retry policy is followed.
3. Comment out the FixedDelayRetry attribute but add the corresponding

[2021-03-03 19:27] jaganpt opened #7201 "Azure functions - Log output threshold exceeded"
I created a azure function app v3 with a timer function which logs large text.
I got the below threshold exceeded issue. Please let me know how to include large log output in azure functions.

App service plan of the function app : **EP1**

**Error:**
----------------------
2021-03-03T16:31:04.713 [Information] [00000000000000001274] ##########Log some sample text. Counter#636###################Lo

[2021-03-03 21:06] fabiocav commented on #6879
this work requires additional design. Moving to triaged until this is ready.

[2021-03-03 21:12] fabiocav commented on #6995
As discussed, due to the .NET 5 work, this is being pushed to sprint 97

[2021-03-03 21:22] fabiocav commented on #7136
Moving this back to triaged as the work needs to be restarted.

@alrod are you planning on picking this up?

[2021-03-03 21:23] fabiocav commented on #7139
Moving to sprint 97 as stretch goal

[2021-03-03 21:27] fabiocav commented on #7111
@jahnwa glad to hear this is working for you. We'll see what we can do to make this process simpler and avoid a configuration change.

[2021-03-03 21:38] fabiocav commented on #7203
Documentation is also required for this.

@soninaren to sync with @cachai2 on the documentation item.

[2021-03-03 21:40] fabiocav commented on #6981
Duplicate of #7125

[2021-03-03 21:40] #6981 closed, assigned to soninaren

[2021-03-03 21:52] fabiocav opened #7204 "The request size limits need to be configurable"
We need to use an environment variable allow users to override the request size limit. The environment variable name should be `FUNCTIONS_REQUEST_BODY_SIZE_LIMIT`

https://github.com/Azure/azure-functions-host/blob/69111926ee920d4ba10829c8fa34303bb8165a42/src/WebJobs.Script.WebHost/Program.cs#L43-L50

[2021-03-03 22:16] KenticoDevTrev commented on #5405
Ultimately i had to switch to POST and use in function Model Binding, and NOT rely on parsing the request body.  It seems no matter how hard I try, the body is often empty when the azure function is 'waking up' (first hit on a cold function), but on subsequent hits it is valid and works.

FUNCTIONS_V2_COMPATIBILITY_MODE to true didn't do me any good.

This is my new start:

[code]

[2021-03-03 22:43] mattchenderson opened #7206 "Core Tools warns even with valid identity-based connection"
#### What problem would the feature you're requesting solve? Please describe.
Using identity-based connections locally. Have a setting "MyStorageConnection__serviceUri" (actual suffix of "endpoint" for time being due to bug). Core Tools warns on host start:

#### Describe the solution you'd like
This warning should not occur as it is a valid configuration for this extension.

#### Describe alterna

[2021-03-03 22:52] nhwilly commented on #6542
I'm having a bit of trouble following this.  I'm just not familiar with all the flavors things can come in.  I'm just running the consumption model on pretty much everything until this app starts to scale.

I just switched over to Azure App Configuration Service which is pretty great.  But I also have this problem of not being able to supply values to CosmosDbTrigger attributes and TimerAttributes

[2021-03-03 23:10] jonsagara commented on #6239
I'm yet another party affected by this.

I just created four new function apps, and it's happening in all four.

Runtime version 3
Consumption Plan
.NET Core SDK 3.1.406
WEBSITE_RUN_FROM_PACKAGE = 1
Deployed via Azure DevOps Pipelines
AZURE_FUNCTIONS_ENVIRONMENT = Staging (or PreProduction, or Production. None work. It always returns Development.)

Looking forward to the fix. Thank you.

ETA: I co

[2021-03-04 02:11] klogan12 opened #7207 "DryIoc.ContainerException"
Getting this exception on function app execution suddenly. We use DI for httpfactory. What is the best way to solve this.

{Message: "An error has occurred.",…}
ExceptionMessage: "Scope disposed{no name, Parent=disposed{no name, Parent={no name, Parent={no name, Parent={no name, Parent={no name, Parent={no name, Parent={no name}}}}}}}} is disposed and scoped instances are disposed and no longer av

[2021-03-04 04:51] balag0 commented on #7204
Will updating the logic here work for placeholders as well?

[2021-03-04 06:59] #7111 closed, assigned to pragnagopa

[2021-03-04 07:05] soninaren commented on #7204
Why would placeholders need to have request body greater than 30 MB?

[2021-03-04 09:31] v-bbalaiagar commented on #7159
Hi @tareksharbak, Can you please go through [here](https://markheath.net/post/three-ways-view-error-logs-azure-functions) to view azure functions error logs.
To diagnose failures in your monitored applications, Please go through the document in the below link.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-exceptions#diagnosing-failures-using-the-azure-portal

[2021-03-04 12:20] mpalese commented on #6490
I solved it using the following dependency injection:

[code]

[2021-03-04 14:44] elbarto-ptv commented on #7182
I also had exactly the same problem with a python azure function running within a docker container.
The reason was the "pycache" Folder within the function folder. The host is stopping after ~ 10 seconds because the content of the function folder was changed and this leads the function to restart!

For details see here: https://github.com/Azure/azure-functions-python-worker/issues/366

The solutio

[2021-03-04 15:12] joshlrogers commented on #7182
Thank you.  In our case, our application is a .Net Core 3.1 app and we aren't changing any underlying files in the function.  This has only happened once so far, so it seems rare, which is good, but it shouldn't happen at all. We need some kind of insight that it has happened since we can't rely on logs within our app given the host is just turned off and the host itself doesn't log it as an excep

[2021-03-04 16:36] betim-raqi commented on #6239
Very unstable behaviour.

With one function app I created I could sometimes make it to change the environment to Production, that after stopping the application and then starting it again.

However, now one hour later I created a new function and can not seem to change the environment whatsoever, it always says Development (even though in the documentation it says it should default to production)

[2021-03-04 17:44] Simon-Gregory-LG commented on #6239
I've commented before on this one and even [come up with a workaround](https://github.com/Azure/azure-functions-host/issues/6239#issuecomment-752757645), but this ticket seems to keep getting pushed back, so feel the need to re-echo the need for attention here.

The workaround is ok if you know you have the problem, but there will be plenty of people who aren't even aware this is happening. While

[2021-03-04 18:29] v-anvari commented on #6868
Hi @shibayan , @malramsay , I Reproduced the steps above and Its working completely fine. I believe the document is causing some confusion. C# Functions explicitly look for the attributes, hence its not necessary to mention it in host.json (Only for C#). But, defining the retry in host.json and not specifying the fixed delay attribute, will not allow your function to look for the retry.

For other

[2021-03-04 23:00] jjcv2304 commented on #6542
@shibayan Is there a way to use the new runtime version locally without waiting? I've tried installing the Azure functions core tools [pre-release](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.3354) and it doesn't change the runtime version. I also tried adding the variable FUNCTIONS_EXTENSION_VERSION on my local.settings but same result, no change.

[2021-03-05 00:28] balag0 commented on #7204
When the app is in placeholder mode that new setting will anyway not be set, so yes there is no expectation that will need to work for placeholders. My question was more on , will this code run again during specialization or is the only chance to use the config at initial startup.

[2021-03-05 01:53] MTCMarkFranco commented on #6542
How do I move to this version? is it in platform or a change in the VS Project?

[2021-03-05 05:57] samuo0501 commented on #4869
Any plans for Japan West? Now that Linux Consumption Plan is available in Japan East, we would be able to set up regional redundant architecture if it were available in Japan West too.

[2021-03-05 07:09] mhoeger opened #7209 "Long collection doesn't work serialize properly"
We've introduced data collections [in rpc here](https://github.com/Azure/azure-functions-host/wiki/Out-of-Proc-Worker-Capabilities#typeddatacollection) for out of proc for things like `byte[][]` and `string[]`. There's a type for `long[]` and `double[]` too, but they aren't used it seems.

In .NET isolated process model, we see that double[] gets treated as a string list "[123.123123]" and deseria

[2021-03-05 10:26] piotrzbyszynski commented on #6899
@fabiocav Any news on that?

[2021-03-05 11:17] paulhickman-a365 opened #7210 "Allow External Startup to update the config in all scenarios"
Issue #6542 resolved a problem where if a functions app modified the configuration object (e.g. to retrieve configuration from KeyVault) compiling with Version 1.1.0 Microsoft.Azure.Functions.Extensions caused the error.

[code]
Compiling with version 1.0.0 of Microsoft.Azure.Functions.Extensions works succesfullly.

The fix applied in #6542 only fixed this regression if the premium app service pl

[2021-03-05 15:06] malramsay commented on #6868
Thanks for replying @v-anvari,

Can you confirm, are you saying that the host.json retry variables will be read in the host.json for a C# function if the function contains a Retry attribute, but not if it does not, or are you saying that the host.json is not read for a C# function?

[2021-03-05 15:57] v-anvari commented on #6868
Hi @malramsay , If you see the below is the function bin file and we have a configuration source which checks for attributes explicitly. The fact that, defining the retry in host.json and not defining the attribute of function delay retry or exponential retry, will not work as expected. The document issue is created and this shall be explained

{
  "generatedBy": "Microsoft.NET.Sdk.Functions-3.0.1

[2021-03-05 16:47] sennisog commented on #6455
Hey folks. I'm running into a similar problem with a node function app on hardware that refuses to use all its memory (7GB app service plan instances, keeps crashing with OOM errors at 1.5GB). For the guidance [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal#memory-utilization-considerations), where am I supposed to be setting `languageWorkers:node:a

[2021-03-05 16:58] sennisog commented on #6455
https://github.com/MicrosoftDocs/azure-docs/issues/68614#issuecomment-760789826 This seems likely to be my problem, for others seeing this. I haven't tested this solution yet but according to that thread it seems like for Linux function apps (like I'm using), you need to replace `:` in `languageWorkers:node:arguments` with `__`

[2021-03-05 19:49] divyagandhisethi commented on #4869
@stefanushinardi /@pragnagopa - Please see if these regions can be added.

[2021-03-05 21:37] tareksharbak commented on #7159
Thank you @v-bbalaiagar for the resources!

[2021-03-06 06:00] louisoftokyo commented on #6674
@jeffhollan

Is there any word on a date as to when VS support will be released? Are we looking more at April or May now?

[2021-03-06 13:00] ghost commented on #7061
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-06 13:39] Menci opened #7211 "Getting Nginx 404 error from API on functions"
#### Check for a solution in the Azure portal

When my users accessing my website they see Nginx's 404 page randomly. Some user see the error while some others not. Each user's problem last for some minutes and disappeared. The IP and HTTPS cert is right so It's nothing to do with the network. I searched GitHub and saw #5149. I think it maybe the same issue.

Azure Function's diagnosis give me not

[2021-03-06 15:54] shibayan commented on #7061
@v-bbalaiagar The workaround is described in the first comment.
The root cause of this problem is that the Azure Functions SDK deletes any assembly with a matching name without considering the assembly version. It is necessary to delete the assembly only if it is the same or lower version than the assembly that Functions Runtime has, and not delete it if it is a larger version.

[2021-03-06 16:08] shibayan commented on #6868
I tried it with Node.js Function, the retry policy defined in host.json worked correctly.

If it is by design that definitions at the host.json level do not work in C# only, then the documentation needs to be revised.

[2021-03-06 20:27] ZachTB123 opened #7212 "Expose current retry count to Custom Handlers"
#### What problem would the feature you're requesting solve? Please describe.

This is the same ask as [this](https://github.com/Azure/azure-webjobs-sdk/issues/2595) issue but I would like to see this surfaced to custom handlers. For example, I want send Event Hub messages to a Storage Account for later processing if I am on my final retry attempt.

#### Describe the solution you'd like

The value

[2021-03-07 10:58] jecaestevez commented on #3804
It's working fine if you upgraded to lastes version of the nuget package for example "**Microsoft.Azure.WebJobs.Extensions.Storage**" Version="**4.0.4**"

[2021-03-07 10:58] jecaestevez commented on #3888
It's working fine if you upgraded to lastes version of the nuget package for example "**Microsoft.Azure.WebJobs.Extensions.Storage**" Version="**4.0.4**"

[2021-03-08 05:46] Sandeep7OnShell commented on #4459
+1 from my side for the feature.

[2021-03-08 09:02] v-anvari commented on #6868
Hi @shibayan , Thank you for the confirmation, the document issue is raised and they are working on the update

[2021-03-08 09:03] v-anvari commented on #6868
Closing this issue as resolved, the document updates will be available in [https://github.com/MicrosoftDocs/azure-docs/issues/71628](https://github.com/MicrosoftDocs/azure-docs/issues/71628)

[2021-03-08 09:03] #6868 closed, assigned to nobody

[2021-03-08 09:45] fgheysels commented on #6855
I just ran into this issue as well.   Spent ages figuring out what the problem was.
It would be good if this was somehow at least mentionned in the documentation

[2021-03-08 09:47] tomkerkhove commented on #6855
Or to increase the limitation in terms of length. Would love to know the reasoning behind it.

[2021-03-08 13:56] kinetiq commented on #6674
Can someone please answer this for me?

- What is preventing people from using the .NET Core 5 AF preview today?
- Is it just something people shouldn't even attempt right now?
- We are using EF Core. Am I going to find that this doesn't work in the preview, but will work in the coming GA?

I see a lot of frustrated people referring to issues that all the other frustrated people know about, but th

[2021-03-08 14:19] onionhammer commented on #6674
@kinetiq most .NET 5 things work in the .NET 5 AF preview today, the bad news is the only things that dont work is the 'Azure Functions' part.. you know, the part where you can bind to things and output things

[2021-03-08 14:39] jeffhollan commented on #6674
@kinetiq only potential thing to be aware of is that there may be some minor changes in APIs between preview and when it goes production ready. That said we’re currently at a release candidate for APIs so expect this is a good time to start. I have a sample of EF 5 here https://github.com/jeffhollan/functions-net5-entityframework

@onionhammer input and output bindings work - I believe I have both

[2021-03-08 15:03] onionhammer commented on #6674
Yes, lack of byte[], and stream, iasynccollector bindings are a big limitation for me

[2021-03-08 15:03] kinetiq commented on #6674
@onionhammer  @jeffhollan  That's very helpful, thanks!

So I can use bindings like ServiceBusTrigger, TimerTrigger, SendGrid, etc right?

Does the local experience work? I saw some hints that people were having trouble with that.

[2021-03-08 15:21] jeffhollan commented on #6674
Yes all bindings should be supported at this point. Local debug works, the thing that’s rolling out this week is more tools to template your project (CLI and VS Code I think are landing even today?).

[2021-03-08 15:23] kinetiq commented on #6674
@jeffhollan Great, I'm sure this summary at the end will help other people as well.

[2021-03-08 15:33] bvduijn opened #7213 "Azure Fuctions proxy not accepting Private SSL certificates on back-end request"
Azure Fuctions proxy not accepting Private SSL certificates on back-end request

#### Investigative information

Please provide the following:

- Timestamp: 15:21 GMT
- Function App version:  Runtime version 3
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:  Trace Id 44728e5fb2894c1b9f9fb5b14b426a45  "activityId": "44728e5f-b289-4c1b-9f9f-b5b14b426a45"
- Region: WestEuro

[2021-03-08 16:15] rubo commented on #6674
@jeffhollan Are durable functions supported? Do they work?

[2021-03-08 16:28] fgheysels commented on #6855
This feels a bit like '640kb ought to be enough for everybody'.

[2021-03-08 16:34] jeffhollan commented on #6674
Ah yes I'm sorry, I misspoke, all bindings work but Durable is a very special binding and does not work today https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions

[2021-03-08 16:42] RichMercer commented on #6674
I thought bindings like CosmosDB weren't supported either?

If they are supported, are there any examples of how to implement them?

[2021-03-08 16:50] jeffhollan commented on #6674
The bindings work, you just can't pass in a `DocumentClient` as a parameter. Only universal types like `string` and `byte[]` are supported.  You can use a `DocumentClient` but you'll need to pull in the Cosmos SDK and spin it up in your own code

[2021-03-08 16:52] qsdfplkj commented on #6674
Just tell me when it's all done so I can update.

[2021-03-08 17:06] tjrobinson commented on #6674
Given a lot of the technology is shared between Azure Functions and Web Jobs - does the above apply to Web Jobs too?

[2021-03-08 17:15] pragnagopa commented on #7212
cc @anthonychu
Tagging @fabiocav to find an owner.

[2021-03-08 17:48] v-anvari commented on #7241
Hi @plamber , The Azure functions do not have the ability to treat the queue, like it cannot tell which request will execute next. So you will not be able to disable a particular request.
Instead one work around will be, to have different functions integrated for each item, this will let you disable each individual function.
Another option would be to build blobs and send the requests to blobs bef

[2021-03-08 17:56] plamber commented on #7241
Hi @v-anvari,
thank you for the feedback.

I am looking for a way to implement a 0 downtime deployment.

Imagine you have hundred of queue messages waiting to be processed by your function. A devops pipeline triggers an update process which is going to "stop" new azure function executions but waits until running processes have completed.
After the upgrade the function can start resuming the operat

[2021-03-08 18:08] v-anvari commented on #7241
Hi @plamber ,

Are you wanting something similar to devops pipelines in azure functions? Because when you disable a function, the jobs that are already running will be executed. We need to check if the previously running jobs are being interrupted, by checking the backend logs.
[https://docs.microsoft.com/en-us/azure/azure-functions/disable-function](https://docs.microsoft.com/en-us/azure/azure-fu

[2021-03-08 18:22] ModernRonin commented on #6674
@jeffhollan Does this mean (cosmosdb) change feed triggered functions work now? If yes, great, because soon I will be in the same place as @kinetiq where I have to upgrade my functions :-)

Thanks!

[2021-03-08 18:31] plamber commented on #7241
Hi,
I would like to do this over a pipeline.

Changing the appsettings like that does not disrupt running code inmemory? If this is not the case, i am going to give it a try.

Br

[2021-03-08 18:36] rubo commented on #6674
@jeffhollan Does this mean no durable functions for .NET 5 at all? If it doesn't, any ETA? Thank you.

[2021-03-08 19:06] jeffhollan commented on #6674
We will be publishing a blog post this week that goes into more details of some of the roadmap.  Durable won't be supported in the short term for these isolated process functions (.NET 5).  We *know* it will be supported for .NET 6, it's possible we make some progress this calendar year to get it working in .NET 5 as well, but at this time don't have an ETA or hard commitment on when Durable may l

[2021-03-08 20:40] onionhammer commented on #6674
@jeffhollan  this list is very helpful

https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions

Can you update it to include whether things like 'byte[]' and 'Stream' are supported? When you say "All bindings work" does that include bindings to byte[] and Stream? I've already migrated twice only to hit a wall and revert cha

[2021-03-08 21:42] fabiocav opened #7214 "Package dependency review"
Ensure consolidation and proper references.

[2021-03-08 22:08] mathewc commented on #6183
I think the ask here is the same as in https://github.com/Azure/azure-functions-servicebus-extension/issues/138? I.e., to make the existing host level MessageHandlerOptions configurable per function as well?

[2021-03-09 00:40] divyagandhisethi opened #7215 "Pinned linux consumption containers should not start in placeholder mode."
Currently we hardcode linux consumption containers to always start in placeholder mode. Antares now dynamically sets the placeholder mode if the container is part of the placeholder pool. So we can remove the hardcoded placeholder mode.

Specialization logic also has hardcoded assumption that the container will only be specialized in placeholder mode. This part needs to be updated as well.

[2021-03-09 01:45] SOFSPEEL commented on #7061
@shibayan, the workaround is **not** in the first comment, as per my understanding the author of those targets tried them out but it didn't work.

Note that I'm experiencing the same issue, and so far only workaround is to manually move the dll using kudo.

[2021-03-09 04:57] shibayan commented on #7061
@SOFSPEEL I have confirmed that it works with the first workaround I wrote. It's not wrong.

[2021-03-09 08:18] shiennymendeline commented on #5851
Is this solved? I got the same issue

[2021-03-09 09:23] balag0 commented on #6855
The docs should be updated soon. The limit has been set to 100 characters based on the telemetry. Adding an env. variable name with a length longer than that would fail right away instead of getting truncated at runtime (once the changes are deployed ETA to start : 2-3 weeks).

[2021-03-09 10:17] v-bbalaiagar commented on #6695
Hi @SamNutkinsPM360, Apologies for the delayed response, There is no algorithm to check which queue will execute in azure itself as it is a threading system, not only for service bus. Please go through the [document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue#hostjson-settings) for host.json settings.

[2021-03-09 10:51] v-bbalaiagar commented on #7159
Hi @Hemantkaushik, Closing the issue, In case of any further concerns regarding this issue, please feel free to re-open the issue.

[2021-03-09 10:51] #7159 closed, assigned to nobody

[2021-03-09 10:56] v-anvari commented on #7241
Hi @plamber,

You can certainly try that scenario and check in application insights if the running job was executed, also let us know if you want us to check the backend logs. I have tried the scenario on time trigger, but as expected, the trigger will get disabled and the execution ends when disabled. Which trigger are you trying?

[2021-03-09 11:04] soninaren commented on #7204
Yes, we would need to make sure that the config applies when specialization takes place. Given that the config is controlled by environment variable, changing the app setting would cause a restart anyway.

[2021-03-09 11:42] plamber commented on #7241
Hi @v-anvari,
we have queue triggers.

I am going to perform following test.

I am going to create a queue trigger that waits 30 seconds until it is completed.

If I understood you correctly, changing the application settings will wait until the trigger of 30 seconds has finished without picking up other jobs.

To be honest, while I am writing I am not sure if this is really working the way I am e

[2021-03-09 12:15] athamala commented on #7207
We started noticing this while running functions version 3.0.15371

[2021-03-09 14:34] andrewdmoreno opened #7216 "Setting Service Bus MaxConcurrentCalls via App Settings in Portal not updating config"
#### Investigative information

OS/Plan Info: Linux Function App on Dedicated Plan

#### Repro steps

Provide the steps required to reproduce the problem:

`host.json` has the following settings:

[code]

In Azure Portal, override `PrefetchCount` and `MaxConcurrentCalls` via app settings:

![image](https://user-images.githubusercontent.com/2897853/110485444-a1652e80-80b9-11eb-9e8a-6a2eba036c89.png

[2021-03-09 15:12] #7215 closed, assigned to divyagandhisethi

[2021-03-09 15:54] SOFSPEEL commented on #7061
@shibayan thanks for the feedback as I was unclear as to which workaround you were referring to. Ultimately what fixed it for me was just doing this, which seems to prevent the deletion of the runtime dlls that now deploy to the wwwroot/bin folder
  `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>
`

Wondering why the need to 'Downgrade System.Text.Encoding.CodePages to v4.7.1'?

I sho

[2021-03-09 16:35] klogan12 commented on #7207
@athamala  - So workaround to change function version to 2.0?

[2021-03-09 17:07] remirobichet commented on #5373
This feature is definitely needed. As my application grow I struggle more and more organizing my folders..
I have implemented the only maintenable workaround (same as @csandman; and others in this related issue https://github.com/Azure/Azure-Functions/issues/1240)
Could we get some update on the roadmap ?

[2021-03-09 17:12] jeffhollan commented on #5373
We’ve been doing some active prototyping on a few options here - no ETA, but is definitely on the roadmap and a capability we recognize is needed. Potentially later this calendar year. It’s also worth noting it’s mainly the function.json that needs to be in a specific spot. It can reference .js modules from elsewhere using the “scriptFile” property

// @anthonychu @mhoeger

[2021-03-09 17:33] thomaslevesque commented on #6183
@mathewc yes, exactly

[2021-03-09 18:29] paulbatum commented on #999
The Roslyn update when live in May 2020 and as far as I'm aware there have been no further reports of the issue since then, closing.

[2021-03-09 18:29] #999 closed

[2021-03-09 21:42] pragnagopa opened #7217 "Generate JIT Trace for Linux"

[2021-03-09 22:14] Hemantkaushik commented on #7159
Hi mate

I am still getting this error and trying to resolve.
I have improved my code to complete async, which wasn't earlier.
staging environment worked couple of days ago and It is not working now.

Error I am getting is :

Singleton lock renewal failed for blob 'func-balance-adjustment-processo/host' with error code 409: LeaseIdMismatchWithLeaseOperation. The last successful renewal completed a

[2021-03-09 22:35] anthonychu commented on #7159
@tareksharbak @v-bbalaiagar The `'*/5 * * * *' is not a valid CRON expression` is a known issue that @mathewc has created a fix for. The issue is that the seconds portion of the cron expression is optional in the functions host, but required in the scale controller. This causes the error you see and also results in the app not scaling up when it's been scaled down to 0.

[2021-03-09 22:54] Mithras commented on #6674
Can you also make sure your [example app](https://github.com/Azure/azure-functions-dotnet-worker-preview/tree/main/FunctionApp) is up to date?
For example, here https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions you are saying that `Microsoft.Azure.Functions.Worker.Extensions.*` should be used instead of `Microsoft.Azur

[2021-03-09 22:59] Mithras commented on #6674
Nevermind, there is now a new example app here: https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/SampleApp
Dunno if it works.

[2021-03-09 23:06] Hemantkaushik commented on #7159
It is running for me.
Thanks @v-bbalaiagar

[2021-03-10 00:11] klogan12 commented on #7207
Error is happening even with version 2.0.15229.0.

2021-03-10T00:10:26.658 [Information] Host Status: {"id": "xxxx","state": "Running",**"version": "2.0.15229.0","versionDetails": "2.0.15229.0 Commit hash: N/A","processUptime": 72729}**
2021-03-10T00:10:26.670 [Information] Host Status: {"id": "xxxxx","state": "Running","version": "2.0.15229.0","versionDetails": "2.0.15229.0 Commit hash: N/A","pro

[2021-03-10 00:47] RickRockhold opened #7218 "Could not evaluate 'Cosmos.CRTCompat.dll' for extension metadata. Exception message: Bad IL format"
Please try the latest versions of Microsoft.Net.Sdk.Functions. Release notes:
- (for v1 and v2): https://github.com/Azure/azure-functions-vs-build-sdk/releases/tag/1.0.36
- (for v3): https://github.com/Azure/azure-functions-vs-build-sdk/releases/tag/3.0.7

_Originally posted by @brettsam in https://github.com/Azure/azure-functions-host/issues/5963#issuecomment-623732787_

[2021-03-10 00:48] RickRockhold commented on #7218
Unfortunately this has returned in 3.0.10 (with .NET core 3.1).

[2021-03-10 06:50] quintusm commented on #6674
I sincerely hope someone is also looking at how all of this is going to work with that other .Net language, F#.  And that there will be templates and samples provided

[2021-03-10 13:36] jabbera commented on #5854
Hi all, any chance this has been solved?

[2021-03-10 16:31] nosvalds opened #7219 "NodeJS Function App returning string of 404s after a 500 error"
#### Investigative information

Please provide the following:

- Timestamp: 2021-03-10 14:55:40 - 2021-3-10 15:25:10
- Function App version: 3.0.15417.0
- Function App name: dev-func-iati-validator
- Function name(s) (as appropriate): pub-validate-post
- Invocation ID: 71e7de28-85ca-4c86-af8f-1b2f42a32d0b ,e286d376-9707-4710-bf00-4966b6ae52ff
- Region: UK South

#### Repro steps

I have a Function

[2021-03-10 17:19] skyfrk commented on #6674
The Azure Functions .NET Worker is now GA!

https://github.com/Azure/azure-functions-dotnet-worker/releases/tag/1.0.0

[2021-03-11 00:20] fabiocav commented on #6674
Providing an update here (as mentioned by @skyfrk above); The .NET Worker, with .NET 5 support is now GA, and you can find more information about the .NET roadmap for Azure Functions here: https://techcommunity.microsoft.com/t5/apps-on-azure/net-on-azure-functions-roadmap/ba-p/2197916

Moving forward, for issues related to .NET 5, please open new issues at https://github.com/Azure/azure-functions-

[2021-03-11 00:20] #6674 closed, assigned to nobody

[2021-03-11 00:41] jsgoupil opened #7220 "Latest patch version of System.Text.Encodings.Web breaks in Azure Function"
When using a different version of System.Text.Encodings.Web from 4.0.5.0, runtime API fails.

I am loading a view DLL into my Azure Function as such
[code]

Everything works fine until I call the rendering engine with
[code]

I get the following error:
[code]

After 5 hours of investigation on this, it seems that the version update from 4.0.5.0 to 4.0.5.1 will fail.

I have noticed that if I chang

[2021-03-11 06:45] #6549 closed, assigned to mhoeger

[2021-03-11 06:59] vitalybibikov commented on #5740
Is it still blocked?

[2021-03-11 08:59] plamber commented on #7241
Hi @v-anvari,
unfortunately this is not behaving as expected. Disabling a function while there is something running in the process breaks this process.

Is it possible to extend the QueueProcessorFactoryContext in a way to tell the function to stop schedule more items based on a check we implement?

Thank you for your feedback

[2021-03-11 10:55] v-anvari commented on #7201
Hi @jaganpt , I am trying to reproduce, but I am getting errors in the code itself. Can I know all the namespaces that you are using and the repro steps. Are you trying it in visual studio or portal.

[2021-03-11 11:24] jaganpt commented on #7201
Hi @v-anvari ,
Here is the code with namespaces. I ran in portal and getting log threshold issue.
Logs are not completely logging as mentioned below.

2021-03-03T16:31:04.713 [Information] [00000000000000001274] ##########Log some sample text. Counter#636###################Log output threshold exceeded.

using System;
using FunctionAppLogsThresholdPOC.Helper;
using Microsoft.Azure.WebJobs;
using M

[2021-03-11 11:26] jaganpt commented on #7201
Hi @v-anvari ,

Also please add the below LogHelper class to the solution. Thanks.
Create Helper folder and add the LogHelper.cs class.

using Microsoft.Extensions.Logging;
using System;
using System.Collections.Generic;
using System.Text;

namespace FunctionAppLogsThresholdPOC.Helper
{
    internal static class LogHelper
    {
        private static ulong counter { get; set; } = 0;
        privat

[2021-03-11 11:46] v-anvari commented on #6417
Closing this issue as there is a fix mentioned above. Please feel free to re-open the issue, if you are have any further queries regarding the above issue

[2021-03-11 11:46] #6417 closed, assigned to nobody

[2021-03-11 11:48] v-anvari commented on #6452
Hi @iron9light , Let us know if you are still seeing this issue.

[2021-03-11 13:28] Arash-Sabet opened #7233 "Unable to run Functions V3 queue trigger in docker"
### Description
I am trying to implement a `docker-compose.yml` file to build a container for a .net core Azure Durable Function v3. The following code snippet is from the environment file i.e. `.env`:

[code]
This is how a part of the docker-compose file looks like:

[code]
When running docker-compose up I get the following error message:

This is how the function looks like:

### Expected behavi

[2021-03-11 13:36] Arash-Sabet commented on #7233
@cgillum @anthonychu  Is this issue something that you may be able to help escalate?

[2021-03-11 17:22] cgillum commented on #7233
@Arash-Sabet what do you have in your [host.json](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-bindings#host-json) file? The primary way we discover the connection string is via the `connectionStringName` field. However, if you leave it blank we _should_ be defaulting to the value in `AzureWebJobsStorage`. I'm not sure if something about the docker environment m

[2021-03-11 17:24] Arash-Sabet commented on #7233
@cgillum This is what I have in host.json file:

[code]

[2021-03-11 17:34] cgillum commented on #7233
It looks like the host.json file is not consistent with the documented schema. However, that doesn't necessarily explain this error.

Try adding `connectionStringName` explicitly to your host.json to see if that resolves the issue. Here's an example that uses the correct schema:

[code]

Also, I just now noticed that it looks like there might be a typo in your docker-compose file: You have defined

[2021-03-11 17:51] Arash-Sabet commented on #7233
`AzureWebJobsStorage ` belongs to another function app bound to another storage account. Therefore I had to define `AzureWebJobsStorageQueue` to segregate the durable function's storage account hosted in a different function app.

I will amend the code accordingly tonight and keep you posted on this ticket. Thanks.

[2021-03-11 19:02] davidmrdavid commented on #6985
Closing this issue as it was resolved!

@marcd123, the new performance docs are available here: https://docs.microsoft.com/en-us/azure/azure-functions/python-scale-performance-reference

Reach out again if you need anything! ⚡ ⚡

[2021-03-11 19:02] #6985 closed, assigned to davidmrdavid

[2021-03-11 19:03] marcd123 commented on #6985
Thanks David!

Marc DeMory
Emerging Technology Consultant
Accenture Liquid Studio - Chicago<https://in.accenture.com/liquidstudios/chicagoliquidstudios/>
m: 630-244-9625
***@***.***
________________________________
From: David Justo ***@***.***>
Sent: Thursday, March 11, 2021 1:02 PM
To: Azure/azure-functions-host ***@***.***>
Cc: DeMory, Marc ***@***.***>; Mention ***@***.***>
Subject: [External]

[2021-03-11 19:15] jackbond commented on #6542
@MTCMarkFranco I haven't seen 3.0.15411, but I did see an update to 3.0.15405.0. How much longer would you expect?

[2021-03-12 01:52] fabiocav commented on #7204
Had a chat with @soninaren about an approach that will work for specialization as well

[2021-03-12 04:45] mhoeger commented on #7114
Note that we could add expose some setting for out-of-proc languages to set `DateParseHandling = DateParseHandling.None` so the change would not be breaking - it would be opt-in. For V4, we should absolutely change the default for out-of-proc languages too.

[2021-03-12 07:42] antpass79 opened #7222 "Azure Function Proxy and Hybrid Connection for streaming"
I have an asp.net core application running locally and I want to expose it on Internet. I'm using Azure Function Proxy and Hybrid Connection.

All things work great, except for an endpoint that streams data using WriteAsync in an infinite loop.
I reproduced the issue in a small app and I try to explain.

The Controller is below:

[code]

The proxies.json is:

[code]

Using Azure Function Proxy, wh

[2021-03-12 09:18] v-anvari commented on #7201
Hi @jaganpt , Thankyou for the detailed repro, I have deployed the project. I will further investigate and check the logs for 24 hours and reach back to you

[2021-03-12 13:05] Arash-Sabet commented on #7233
@cgillum I sorted out the environment variables per the following code snippet because the durable function needs `AzureWebJobsStorageQueue` instead of `AzureWebJobsStorage`:

[code]

I also tried the following one but it was not conclusive:

[code]

I also tried the following two code changes and none of them led to success:

[code]

And:

[code]

To verify that the environment variables were pic

[2021-03-12 13:13] iron9light commented on #6452
@v-anvari Have you guys fixed this issue? Which version should I try?

[2021-03-12 13:22] antpass79 commented on #7222
I corrected a bit the Controller:
[code]
I added the PushStreamResult class:
[code]
The behavior is the same:
- Locally each data is pushed during the *while* loop => good.
- By the proxy all data are pushed at the end of the call, forcing the *exit* flag => bad.

[2021-03-12 14:44] nosvalds commented on #7219
related: https://github.com/Azure/azure-functions-host/issues/6916

[2021-03-12 15:09] v-anvari commented on #6452
Hi @iron9light , Please check the document below:
Syntax: public static string GetFolderPath (Environment.SpecialFolder folder);
[https://docs.microsoft.com/en-us/dotnet/api/system.environment.getfolderpath?view=net-5.0#overloads](https://docs.microsoft.com/en-us/dotnet/api/system.environment.getfolderpath?view=net-5.0#overloads)

Returns
String
The path to the specified system special folder, if

[2021-03-12 19:50] alrod commented on #7136
picking up and assigning to current sprint

[2021-03-12 20:26] Arash-Sabet commented on #7233
Just an update: I removed `AzureWebJobsStorageQueue` from the docker's environment variable, substituted it with `AzureWebJobsStorage` and the container started working. It's not an ideal case scenario because there are two azure apps within the same container and each one is supposed to use its own dedicated storage account. Having all connection strings key names for both azure function apps as

[2021-03-12 22:32] #7217 closed, assigned to balag0

[2021-03-13 08:19] simonjduff commented on #6328
I've just been hit by the same thing.
I have a JavaScript function integrated to Event Grid. A manual test from the portal results in a `202 Accepted` and a message in the console:
[code]

Host.json contains
[code]

[2021-03-13 13:00] ghost commented on #6695
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-14 06:01] felinepc opened #7225 "DI injected IConfiguration cannot get any custom settings from local.settings.json"
I'm using the just released  .NET 5 isolated access Azure Function project template for Visual Studio 2019, following[ this doc](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-developer-howtos?tabs=browser&pivots=development-environment-vs).

I created a project using the `EventHubTrigger` template.

Per [this doc](https://docs.microsoft.com/en-us/azure/azure-functi

[2021-03-14 18:35] Arash-Sabet commented on #7233
Even I removed the durable tasks out of the scope per the following code and the queue-triggered function did **not** trigger:

[code]

Even this version did not work:

[code]

I have exhausted all possible ways to make the code work but none of them was successful unfortinately.

[2021-03-15 10:15] v-anvari commented on #7201
Hi @jaganpt , I haven't received any error running the project locally or in portal. Can you give me the details of the error that you are seeing, are you seeing the error in Application insights or monitor logs?

![image](https://user-images.githubusercontent.com/66122429/111137945-65dccf80-85a5-11eb-9717-0a5137198a2f.png)

[2021-03-15 11:15] jaganpt commented on #7201
Hi @v-anvari ,
Please check the logs in console. Logs are truncated and you can find the below log output threshold exceeded message as shown below.
Please let me know if you need any further details. Thanks.

2021-03-03T16:31:04.713 [Information] [00000000000000001274] ##########Log some sample text. Counter#636###################Log output threshold exceeded.

[2021-03-15 11:46] v-bbalaiagar commented on #7182
Hi @joshlrogers, Let us know if you are still facing the issues, if yes could you please provide us the function app name and recent time stamp to get the logs and check the cause.

[2021-03-15 14:20] v-anvari commented on #7225
Hi @felinepc , As there are no templates for isolated projects, Can I know which template are you using in visual studio, Or are you using core tools to create and then debugging in visual studio. Can you run us through the repro steps that you are using
![image](https://user-images.githubusercontent.com/66122429/111167724-4cce2180-8599-11eb-8630-91c1639e840c.png)

[2021-03-15 14:35] joshlrogers commented on #7182
No, thankfully, it hasn't happened in the 3 weeks it has taken to get a response to this.  I expect this issue is rare, but it shouldn't have happened at all and we still need to know what happened and/or how to prevent it from happening in the future.  Are you unable to use the timestamp already provided?  The function app name is: `SaddleCreek-Monitors-prod-func`

[2021-03-15 14:48] v-anvari commented on #7201
Hi @jaganpt , Below is my error log output and there are I don't find any errors in last 4 days . Can I have the details of your function App name, region in which it is deployed and also the invocation id of the error, so that I can check the backend logs to understand the error from backend logs
![image](https://user-images.githubusercontent.com/66122429/111171111-a438b580-85ca-11eb-9a17-3b9d324

[2021-03-15 15:59] jaganpt commented on #7201
Hi @v-anvari ,
Can you please try by increasing the for loop count and sample text as shown below. Please find the below snap shot where the logs has been truncated and  log output threshold exceeded. Here logs truncated at counter#23021. I will share you the requested details soon. Thanks.

for (int i= 0;i < 250000; i++)
{
 LogHelper.LogInformation($"##########Log some sample text. Counter#{i}###

[2021-03-15 16:36] v-bbalaiagar commented on #6927
Hi @chendanou, Apologies for the delayed response, We would like to know when did you upgrade from App Service Plan P1V2 to App Service Plan P3V2.

[2021-03-15 17:12] felinepc commented on #7225
@v-anvari Yes I'm using the Azure Function Core Tools v3, as it's the only way to do this right now. I followed the exact [guide here](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-developer-howtos?tabs=browser&pivots=development-environment-vs) , the only difference is choosing `EventHubTrigger` instead of `HttpTrigger`. So the steps are:

1. `func init LocalFunct

[2021-03-15 18:32] calloncampbell commented on #5854
Is this resolved? Any reason why 100MB is set as a limit, especially across all SKUs? I'm using Premium Function and need support for like 500MB.

[2021-03-16 04:43] ZachTB123 opened #7227 "Need help understanding why function with event hub trigger periodically reprocesses data"
We are in the process of expanding our Azure Function usage and lately I have seen an issue where our Event Hub triggered function seems to reprocess messages. I have not encountered this with any previous testing but now I am starting to see it quite frequently.

For reference, I am getting large spikes of outgoing messages when I view the metrics for the Event Hub:

<img width="1568" alt="Screen

[2021-03-16 12:25] v-anvari commented on #7201
Hi @jaganpt , I have deployed another App with more logs like suggested. I shall observe for 24 hours and update you the results.

[2021-03-16 12:28] cpatil7 opened #7228 "Usage of SDK vs REST API in Azure Function"
#### NodeJS

#### Question :
Using Azure SDK for enabling managed identity in the NodeJS function app. These SDKs increased the size of our function app by almost 3mb, which resulted in a high startup time. We then moved to using REST API to make calls for managed identity. Question is are these SDK libraries optimized for size?

[2021-03-16 12:36] v-anvari commented on #6452
Closing this issue   as the required information is provided, please feel free to reach back to us   in case of any further queries related to this issue

[2021-03-16 12:57] v-anvari commented on #7225
Hi @felinepc , Thankyou for the information, I am trying to repro and facing certain challenges as well. I shall revert back with an update

[2021-03-16 13:15] v-anvari commented on #5014
cc: @fabiocav / @brettsam / @anthonychu

[2021-03-16 15:09] pragnagopa commented on #7227
Tagging @anthonychu . @fabiocav  for triage.

[2021-03-16 15:17] felinepc commented on #7225
@v-anvari Thanks. BTW, is there any ETA or issue tracker on when .NET 5 Azure Function will have a native/first-class experience in Visual Studio? Right now everything is done via command, especially the manually attached debugging, which is a pain. Also is deployment into a Linux-based app service hosting plan will be eventually supported?

[2021-03-16 16:00] #6695 closed, assigned to kashimiz, v-bbalaiagar

[2021-03-16 17:54] ConnorMcMahon commented on #7233
@Arash-Sabet,

To clarify, it sounds like you are having multiple issues.

1. You can't get your queue triggered functions to trigger. This does not seem to be an issue with Durable Functions itself, and I would recommend asking in the azure-functions-host repo about that. The best advice I can give you is to validate that the queue for that storage account actually has queue messages, and that th

[2021-03-16 18:54] fabiocav commented on #5014
@markusfoss If you don't mind, given the context and different problems covered in this issue, it would be helpful to have a new issue tracking the specific problems we're seeing with this and, if there are no objections/further clarification needed, close this one.

[2021-03-16 20:36] ZachTB123 commented on #7227
Another example of this in a different subscription and a different Function App:

<img width="1541" alt="Screen Shot 2021-03-16 at 3 17 43 PM" src="https://user-images.githubusercontent.com/17228033/111374401-11038c80-866b-11eb-8b77-7ec1b2918ca4.png">

**2:07 pm CDT spike:**

During the 2:07 pm spike I see similar messages/exceptions as specified in the original issue. I additionally see `DryIoc.

[2021-03-16 22:31] fabiocav commented on #7227
@ZachTB123 do you have access to Azure support? If so, initiating a support request might be the best route for this issue. Is that something you have the ability to do?

[2021-03-16 23:31] Arash-Sabet commented on #7233
@ConnorMcMahon Thanks for the reply. I will try to make a very basic "Hello World" queue-triggered function work in docker. This basic function works in VS 2019 when running on docker in VS 2019's debug mode but it does not get triggered when running it by `docler-compose up --build`. As a matter of fact, this function picks up the message from the storage hosted on azure and logs its content on t

[2021-03-17 06:27] #7203 closed, assigned to soninaren

[2021-03-17 09:20] v-anvari commented on #7201
Hi @jaganpt , I have increased the count like you suggested and the log output, but there are no errors. Can we have your Function App details to check the backend logs

![image](https://user-images.githubusercontent.com/66122429/111444148-1080f980-8730-11eb-81ae-4f1862ac3244.png)

[2021-03-17 10:49] jaganpt commented on #7201
Hi @v-anvari ,

I have shared the function app details to your (v-anvari@microsoft.com) email. Please check and let me know for any further details. Thanks.

[2021-03-17 14:46] pjeschko opened #7231 "Azure Function timer trigger not always firing according to schedule"
I need some help, because I don't know if I did something wrong or this is simply a bug. I have written a simple azure function using node.js that uses a timer trigger on a consumption plan and should trigger by its TCRON expression every 5 minute, but when I take a look into the application insights "request" data I can see that it does in fact not trigger every 5 minutes. It leaves out some inte

[2021-03-17 15:30] ZachTB123 commented on #7227
@fabiocav I opened a ticket since this is blocking us from rolling out Function Apps further. Support case id is: 2103170040004191.

[2021-03-17 18:42] pragnagopa opened #7232 "Retry in host.json should apply to C# pre-compiled functions"
cc @alrod @fabiocav

Related : https://github.com/MicrosoftDocs/azure-docs/issues/71628

[2021-03-17 19:03] fabiocav commented on #7232
Thank you for opening this. I believe this should be a GA requirement.

[2021-03-17 19:15] pragnagopa commented on #7232
Tagging @jeffhollan / @AnatoliB  as FYI .

Yes, we should track this for GA

[2021-03-17 20:12] fabiocav commented on #7136
PR currently in review. Leaving this item in sprint 97

[2021-03-17 20:14] fabiocav commented on #7125
Work currently in PR. Leaving in sprint 97

[2021-03-17 20:17] fabiocav commented on #7033
@ivan-sam that's a great update. I'll close this as resolved, but please let us know if you run into issues.

[2021-03-17 20:17] #7033 closed, assigned to brettsam, fabiocav

[2021-03-17 20:19] fabiocav commented on #7007
Similar change here: https://github.com/Azure/azure-functions-host/pull/6729

[2021-03-17 20:23] fabiocav commented on #5612
@kashimiz is currently working on this. Leaving in sprint 97 as it is possible we'll have the changes in place before we cut the release.

[2021-03-17 22:21] #5400 closed

[2021-03-17 22:26] kulkarnisonia16 commented on #5485
Have tooling support that checks extension version for a match.

[2021-03-17 22:26] #5485 closed

[2021-03-17 22:56] sidkri commented on #5171
Once this is done, we should identify Detectors that can benefit from the Function name column having a valid value.

[2021-03-18 06:36] athamala commented on #7207
Programming error at our end partially caused this, creating too many identical requests and by fixing that we have mitigated this. But we haven't found the actual reason for this.

[2021-03-18 08:07] cpatil7 commented on #7228
@v-anvari - any update please

[2021-03-18 10:33] natgra commented on #1130
Any update on that?

I'd be interested whether there is a way to kill a running (durable) function.

[2021-03-18 15:40] iron9light commented on #6452
@v-anvari Please read my post again:
Repro steps

I use code below to get the user folder and try to write some cache there,
[code]
Expected behavior

The value should be the user folder, like `D:\local\username\`

Actual behavior

It returned a path like this: `D:\Program Files (x86)\SiteExtensions\Functions\3.0.14191\32bit`

It's not return `null` but a wrong place.

[2021-03-18 16:08] ConnorMcMahon commented on #7233
This sounds like there is either some missing/different environment variables in your custom docker file or there is something wrong with the networking inside of your docker container? You can try using links [like this](https://byteplumbing.net/2018/01/inspecting-docker-container-network-traffic/) to debug network traffic within your container and make sure that calls to storage are happening su

[2021-03-18 16:36] v-anvari commented on #7225
Transferring this issue as it requires further expertise from .Net worker repo

[2021-03-18 16:38] v-anvari commented on #6452
Hi @iron9light , Thankyou for reaching back to us. This is an expected behavior, but we would like to know what you are trying to achieve here in order to provide the right guidance.

[2021-03-18 16:57] v-bbalaiagar commented on #7182
Hi @joshlrogers, I went through the logs for the time stamp - 2021-02-12 00:00:00 to 2021-02-12 23:59:00. I see the error "Singleton lock renewal failed for blob 'saddlecreek-monitors-prod-func/host' with error code 409: LeaseIdMismatchWithLeaseOperation".  Here is how you can troubleshoot the issue.
https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/TimerTrigger#troubleshooting
Related in

[2021-03-18 17:11] joshlrogers commented on #7182
I truly do not believe the singleton lock error had anything to do with it and even if it did the function that was killed was an HTTP triggered function, not a timer-triggered one.  Should a timer-triggered function have caused this issue it should not be acceptable that it killed the entire host, particularly so in the middle of execution. We are not anywhere close to stressing the host, we only

[2021-03-18 17:43] v-bbalaiagar commented on #7231
Hi @pjeschko, Could you please provide us the invocation id of the error and time stamp during the error to get the logs and check the cause.

[2021-03-18 17:54] v-bbalaiagar commented on #7074
Hi @vviskari, Were you able to find a solution here. Kindly let us know if you could resolve it can we close this issue?

[2021-03-18 20:33] michc-msft commented on #6423
I'm also interested in this scenario. We have security guidance to auto-rotate keys for storage accounts, but that's not a super feasible option given you would either have to manually go in and rotate the connection string in each Azure Function you own or write a separate tool to automate this. Using Managed Identity would resolve this issue for us.

@paulbatum I didn't see any updates on the th

[2021-03-18 23:04] paulbatum commented on #6423
Yep the work is in progress and should be available for use in a couple of months (hopefully we'll be able to communicate more precisely about the expected GA date once we have a preview of the full end-to-end available).

[2021-03-18 23:33] JoeWarwick commented on #5240
Hello guys.
OK, I had this error in a storage queue trigger using - not a consumption plan - but a app service plan. These would amass when the memory exhausted or even during initial runs.

The problem disappeared when I stopped using the TelemetryClient:

using Microsoft.ApplicationInsights;

private TelemetryClient _telemetry;

this._telemetry = new TelemetryClient(TelemetryConfiguration.Create

[2021-03-19 11:00] vviskari commented on #7074
Hi @v-bbalaiagar, Solution is in the related issue https://github.com/Azure/azure-webjobs-sdk/issues/2635.
Are there any estimates when this would be released so I can test? Thanks.

[2021-03-19 12:26] damoodamoo opened #7234 "An unhandled storage exception occurred when reading/writing scale metrics"
We have some functions hosted in the premium plan with the following setup:
- VNET integration
- WEBSITE_VNET_ROUTE_ALL = 1
- Runtime Scale Monitoring = On
- Cosmos (and other resources - Service Bus etc) accessed via private link

We're getting several of the following exceptions logged per minute for functions with Runtime Scale Monitoring on:
[code]

It looks like the function host is attemptin

[2021-03-19 14:59] ChristianSauer opened #7235 "Azure Function EventHub Output Binding fails with messages larger than 256KB"
#### Check for a solution in the Azure portal
If you're not sure where to file your issue, feel free to file it here. Please provide detailed steps to reproduce, including code if applicable.

I am running an Azure Function, written in Node.JS, which sends large events to the Event Hub, these events are large (more than 256kb, less than 1MB). This should work, but fails with the message `Event is

[2021-03-19 15:11] brettsam opened #7236 "Remove registered HttpClient"
HttpClient should not be registered with DI -- this is a breaking change for v4.

[2021-03-19 16:06] damoodamoo commented on #7234
I think it would help us diagnose what's going on if we knew where the runtime scale metrics were supposed to be stored - where is the code trying to reach?

[2021-03-19 16:32] damoodamoo commented on #7234
I'm happy to close this - we found the issue - despite the Cosmos SDK being used, Runtime Scale Monitoring is actually logging things to Azure table storage, in the storage account linked to the function. We were missing a private endpoint connection to the table endpoint to allow this. Added that, recreated things, and I can see the Metrics table in our storage acct.

[2021-03-19 16:32] #7234 closed, assigned to madelinegordon

[2021-03-19 17:37] SavaNDragos opened #7237 "Host.json implies ServerTelemetryChannel is used in production which is not the case"
Version 3.
Application is being deployed in Azure Functions, with a windows app plan behind and an app insight.
		<PackageReference Include="Microsoft.ApplicationInsights" Version="2.17.0" />
		<PackageReference Include="Microsoft.ApplicationInsights.WorkerService" Version="2.17.0" />
		<PackageReference Include="Microsoft.AspNetCore.Http" Version="2.2.2" />
		<PackageReference Include="Microsoft.

[2021-03-19 19:00] ghost commented on #6927
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-19 23:18] orty commented on #7153
Hi,
I have sort of the same request. In my case, I need to instantiate a `Singleton` service, against which several `Transient` services subscribe to be notified on certain events.

Instantiating the `Singleton` in the `Configure` method works like a charm but then some of the subscriber services have a DI on EF at some level, and EF tries to rely on `HostFileLoggerProvider` and `IFileLoggingStatu

[2021-03-19 23:37] cgillum opened #7238 "Function metadata load errors when app instance is under resource pressure"
I'm frequently running into the following error when running my function app in my Kubernetes cluster.

[code]

I spoke with @balag0 about this and we both suspect it's a race condition. The Kubernetes cluster I'm running in is resource constrained, which likely explains why we'd see this kind of problem there and not in proper Azure Functions environments.

### Investigative information

Please p

[2021-03-22 09:19] danieltallentire commented on #7218
On latest I get this message:
`Could not evaluate 'Cosmos.CRTCompat.dll' for extension metadata. Exception message: Format of the executable (.exe) or library (.dll) is invalid.`

Project file:

[code]

Only solution was to downgrade the Microsoft.Net.Sdk.Functions to 3.0.7

[2021-03-22 14:58] Dzoukr opened #7240 "BlobTrigger in dotnet-isolated does not allow binding input blob to Stream neither read blob Uri without getting blob payload"
Based on documentation hint from https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp, the bigger blobs should not be binded directly to `string` or `Byte[]`.

However when using this code:

[code]

I got an error:

[code]

I understand that the input `myBlob` parameter is string, but that's something I need to avoid (as mentioned in original d

[2021-03-22 15:38] v-anvari commented on #7201
Hi @jaganpt , I checked the backend logs and also tried to reproduce the issue, but I don't see any error related to the above. If you are seeing this error in your live metrics logs in your function App, then it is because the live logs do not have the capacity to show more number of logs, and it also depends on your network on how many messages can be processed at a time.

We would like to know

[2021-03-22 15:55] v-anvari commented on #7220
Hi @jsgoupil , We would like to reproduce this scenario, can you give us the repro steps , what are the namespaces that you are using. Can you provide a complete sample test code.

[2021-03-22 16:52] v-anvari commented on #7241
Hi @plamber , Customizing the queue listener according this scenario is not a supported feature. I shall add this as an enhancement/feature request.

[2021-03-22 16:54] v-anvari commented on #7200
Hi @qetza , Adding this as an enhancement request

[2021-03-22 17:02] v-anvari commented on #6453
@safihamid / @fabiocav , Kindly share more inputs for this issue, is Application insights profiler supported on apps hosted on isolated asp

[2021-03-22 17:10] v-anvari commented on #7228
Hi @cpatil7 , We are quiet not sure about this, the correct repository to raise this issue would be [https://github.com/Azure/azure-sdk-for-node/issues](https://github.com/Azure/azure-sdk-for-node/issues). I wouldn't be able to transfer this issue, kindly raise a new issue in "sdk for node"

Closing this issue, please feel free to reach back to us in case of any further queries related to function

[2021-03-22 17:10] #7228 closed, assigned to nobody

[2021-03-22 17:22] jsgoupil commented on #7220
@v-anvari I have pushed a repro
https://github.com/jsgoupil/azure-function-system-text-fail

It is set up to fail when you run it.
If you look at the CSPROJ you will see that if I downgrade, everything starts to work again.

[2021-03-22 17:22] safihamid commented on #6453
It should work fine for non consumption function apps. @pharring can you please confirm if anything extra is needed?

[2021-03-22 18:23] v-bbalaiagar commented on #7074
Hi @vviskari, This is under implementation and will be updated in the announcement page here - https://github.com/Azure/app-service-announcements/issues

[2021-03-22 19:00] ghost commented on #7231
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-22 19:00] ghost commented on #6452
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-22 19:47] pharring commented on #6453
Application Insights Profiler is not  supported in Azure Functions. At least not officially.

However, there is not much preventing it from working:

* You need a dedicated (non-consumption) plan.
* The app needs to be configured to use Application Insights.
* The profiler web-job needs to be enabled. There's no UI for this in the Portal, so it has to be done via App Settings. See here: https://do

[2021-03-22 22:00] #6927 closed, assigned to yojagad, v-bbalaiagar

[2021-03-22 22:54] safihamid opened #7242 "Microsoft.Azure.WebJobs.Script.Diagnostics.Extensions.LoggerExtension logging during cold start"
This call https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/DependencyInjection/ScriptStartupTypeLocator.cs#L111 is invoking bunch of logging and JIT methods during specialization as shown below. Inc% is ~7% of the time spent in Functions process in VMSS stamp.
Need to call something similar during placeholder to avoid all those initializations during specialization or remo

[2021-03-23 00:30] ankitkumarr commented on #6336
I really apologize for the super long delay here. I missed providing any updates on this. I don't think we could remove or update the major version of that package without being potentially breaking. As this is a Host runtime dependency, the way to keep the v4 of that dependency in the build artifacts would be one of two approaches --

1. What @xin9le above suggested. But as called out in their re

[2021-03-23 00:32] mhoeger opened #7243 "AzureWebJobsSecretStorageType=keyvault doesn't work in non-public Azure"
Customers cannot use Key Vault as their function's secret repository (AzureWebJobsSecretStorageType=keyvault) in non-public Azure. Seems to be related to these lines of code for getting Key Vault Base URL: https://github.com/Azure/azure-functions-host/blob/497bd1999803808cae204c6d57b353cc732fa8e2/src/WebJobs.Script.WebHost/Security/KeyManagement/KeyVaultSecretsRepository.cs#L240-L243

**Exception:

[2021-03-23 00:35] ZachTB123 commented on #7235
I've encountered this also. In my `host.json` file I have my `extensionBundle` version set to `[2.*, 3.0.0)`. [This](https://github.com/Azure/azure-functions-extension-bundles/blob/v2.x/src/Microsoft.Azure.Functions.ExtensionBundle/extensions.json#L25) says it should be using `4.2.0` for Event Hubs which is [suppose](https://github.com/Azure/azure-functions-eventhubs-extension/releases/tag/v4.2.0)

[2021-03-23 00:38] ankitkumarr commented on #7218
@brettsam, if I understood the core issue, I think when we updated ExtensionsMetadataGenerator to use Mono.Cecil, we may have missed porting the logic to make Bad IL errors as messages rather than warnings.

Basically, when we did https://github.com/Azure/azure-functions-host/commit/8ee1fb5af64a7d9311e73d486385068e683805a0, I think we un did https://github.com/Azure/azure-functions-host/commit/f71

[2021-03-23 10:29] v-anvari commented on #7220
Thankyou for providing the details, I shall repro the error and revert

[2021-03-23 11:33] v-bbalaiagar commented on #7074
Hi @vviskari, Closing this issue as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue.

[2021-03-23 11:33] #7074 closed, assigned to ankitkumarr, v-bbalaiagar

[2021-03-23 14:52] brettsam commented on #7218
Yeah, I think you're right. Let's fix this up -- it's really just a message anyway to help us debug if something has gone wrong.

[2021-03-23 19:23] AchoArnold opened #7258 "Ilogger logs not showing up in the console and on the Azure Portal with dependency injection"
Hello,

So I setup dependency injection on my azure app using the  guide here,  https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

In my controller, I have a method that logs some actions but I don't see those logsboth in my local dev environment and on the Azure portal.

**host.json**
[code]

**controller.cs**
[code]

**Startup.cs**
[code]

Is there some

[2021-03-23 20:18] #7136 closed, assigned to alrod

[2021-03-24 00:18] #7204 closed, assigned to soninaren

[2021-03-24 01:05] erasmosoares commented on #6328
I have the same issue!

[2021-03-24 01:22] dennisbato opened #7247 "GenerateFunctionsExtensionsMetadata" task could not be instantiated.... The domain manager specified by the host could not be instantiated."
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All) C#

#### Question
I see a related issue in https://github.com/Azure/azure-functions-host/issues/7152 that has now been closed due to inactivity.

I was able to publish my azure function to the portal previously.  Currently I am able to build

[2021-03-24 13:41] vitalybibikov commented on #7248
Hi,

Any updates on this one?

@v-anvari @fabiocav

[2021-03-24 16:35] fabiocav commented on #7248
Apologies for the delayed response here.

This is a reasonable request. I'll move it to the host repo, where we'd have to address this (that's the component performing the unification) and track it for the next sprint.

[2021-03-24 16:43] dennisbato commented on #7247
Looks like a sporadic issue or perhaps related to my login credentials?  This morning I killed the VSTS instance, logged off and logged back on to my dev box ensuring I'm using my domain account rather than my smart card credentials, and was able to publish.

[2021-03-24 16:43] #7247 closed, assigned to kashimiz

[2021-03-25 04:23] rjygraham opened #7249 "Cannot deploy to a function hosted on Linux Consumption plan when AzureWebJobsStorage config setting is Key Vault reference"
When a function hosted on Linux Consumption plan has AzureWebJobsStorage configuration setting set to valid Key Vault reference, errors block successful deployment via Az CLI and Functions CLI.

#### Investigative information

Please provide the following:

- Timestamp: 2021-03-26 04:06:00 UTC
- Function App version: ~3 runtime, dotnet-isolated (.NET 5)
- Function App name: oe-twitch-eus-identity-

[2021-03-25 13:57] xin9le commented on #6336
@ankitkumarr
Thanks you for your very useful reply. I'll try recommendation option you suggested. I'm happy I can remove `_FunctionsSkipCleanOutput`.

[2021-03-25 17:14] pragnagopa opened #7250 "Add build and run unit tests pipeline for Linux"
cc @fabiocav @TsuyoshiUshio

[2021-03-25 18:29] v-anvari commented on #7222
Hi @antpass79 , We would like to understand the scenario better, we wouldn't be able to say if its supported unless the purpose is clear. Where are you seeing the delay, can you run us through the steps that you are following and what exactly is happening in both the scenarios. What is the expected behavior

[2021-03-25 21:53] pragnagopa opened #7251 "Use EasyAuth Middleware for Linux Dedicated"
cc @ConnorMcMahon @divyagandhisethi

[2021-03-25 22:00] #6452 closed, assigned to v-anvari

[2021-03-26 09:25] jonathanantoine commented on #4345
I have the same issue thant @abjbhat and I would love to have a workaround :(

[2021-03-26 12:22] VaclavK commented on #5098
stumbled upon this while investigating issue with incomplete ef core (3) persistance..

our pattern is that we have multiple repos supposedly using (scoped) DbContext and we call save changes on one of them - this generally works (is meant to) but in one function app we have http client injected into DI

we started seeing comply partial data persistence (from the repo that was saved, not from the

[2021-03-26 13:23] v-anvari commented on #7235
cc @alrod / @sidkri

[2021-03-26 14:06] v-bbalaiagar commented on #7182
Hi @joshlrogers, For invocation id- **53783998-6c5b-4386-988c-2d3bd38bf26e**, function has started but it shutdown before it completed as shown below:

**2021-02-12 22:20:00.1157745- dw0SmallDedicatedWebWorkerRole_IN_hr0HostRole-392-VM-9 - function started- 53783998-6c5b-4386-988c-2d3bd38bf26e
2021-02-12 22:20:10.9209114- dw0SmallDedicatedWebWorkerRole_IN_hr0HostRole-392-VM-9 - ShutDownCompleted-

[2021-03-26 14:09] joshlrogers commented on #7182
@v-bbalaiagar we have not experienced this error since this time.  We had been running the function app for quite some time before we experienced it the first time, so we believe it to be quite rare.  If it should happen again I'll update with any information.

[2021-03-26 15:22] CasperWSchmidt commented on #7153
In your case, can't you just use a func to register your transient services so that you can use the IServiceProvider to get the singleton whenever a new instance of your transient service is requested? I know it means manual handling of the creation, but it does the job.

[2021-03-26 16:00] ghost commented on #7201
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-26 16:50] jaganpt commented on #7201
Hi @v-anvari,
The logs are missing in application insights when threshold issue occurs.
We will share you the further details to your (v-anvari@microsoft.com) email.
Thank you.

[2021-03-26 18:54] pragnagopa opened #7252 "[LinuxConsumption] Support mounting file share provided by Azure Files"
In order to support Managed Dependencies feature for Powershell Functions - we need a writable persistent file storage

Note: We should continue supporting run from zip

cc @divyagandhisethi @AnatoliB @Francisco-Gamino @stefanushinardi

[2021-03-26 19:04] v-anvari commented on #7219
Hi @nosvalds , We see the error says "blob not found", which makes us want to know how the blob is searched from the portal and locally. We would like to reproduce the scenario to understand the error. Could you please run us through the repro steps and the code that you are using. How are you running it locally, and how are you publishing it. It would be helpful to understand the Project design.

[2021-03-26 20:43] balag0 commented on #7252
Will be scoped to powershell for now to avoid cold start impact to other apps.

[2021-03-26 20:50] pragnagopa commented on #7252
ACK. We should scope the change for powershell only for now.

[2021-03-26 20:58] AnatoliB commented on #7252
What about placeholders though?

[2021-03-26 22:24] pragnagopa commented on #7252
Call to download dependencies happens after specialization.  This should be OK! But we need to test to confirm.

[2021-03-26 22:36] andreesteve commented on #6916
@mhoeger - do you believe this race condition is in the azure function exception handling side? As in, the dotnet error code "-1073741818" is not the actual underlying error code from the function itself, but thrown by the host exception handling code?

@Francisco-Gamino, we have a powershell azure function that is reproing this consistently whenever we call KeyVault from Az module. Let me know if

[2021-03-26 22:36] balag0 commented on #7252
Correct. Mounting and downloads happen after/during specialization. So we will be able to identify if the specialization is happening for powershell vs other langauges.

[2021-03-26 23:57] AnatoliB commented on #7252
Great, thank you. PowerShell worker starts installing dependencies on the first function load request. If the file share is mounted by this moment, we are good.

[2021-03-27 13:00] ghost commented on #7231
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-28 14:35] antpass79 commented on #7222
Hi @v-anvari!
I try to explain the scenario.

I developed an asp.net core application running on Kestrel. The endpoint streaming/get is able to stream data on the client locally. For example putting in the browser http://localhost:44333/streaming, the function WriteToStreamAsync pushes data every 1000 ms. The browser shows these data in realtime: every 1000 ms the browser is up to date. In the abo

[2021-03-29 08:22] ben-burton opened #7254 "TelemetryConfiguration is not resolved by dependency injection"
I am encountering the same error as the following closed issue: #5530. I am injecting TelemetryConfiguration as per the documentation here:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#log-custom-telemetry-in-c-functions

As referenced on this page here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-inject

[2021-03-29 15:48] gjuttla opened #7255 "[General Question] How is the Dryloc library merged into the output assembly?"
Hi
Please apologize if this is an off-topic question.

I was wondering how you merged the Dryloc library into the `Microsoft.Azure.WebJobs.Script.WebHost.dll` assembly.

![image](https://user-images.githubusercontent.com/22775678/112862697-5174f880-90b6-11eb-9be5-aba6c49c02bf.png)
azure-functions-host version: 3.0.15417

I couldn't find the Dryloc source (e.g. the class `CompositeScopeName` from t

[2021-03-29 16:53] v-bbalaiagar commented on #7013
Hi @DVGY, Apologies for the delayed response, Please go through the document to access blob name -
[Azure   Functions bindings expressions and patterns \| Microsoft Docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns).  Let us know if this help

[2021-03-30 10:32] shibayan commented on #6542
Some regions (`West US 2` in my case) had `3.0.15417` deployed, so I was able to confirm that it works correctly. Thank you.

[2021-03-30 10:43] krosk93 commented on #6239
Hello, any updates? We are experiencing right now the same behaviour. It suddenly changed from Production to Development environment. Thanks.

[2021-03-30 12:43] DVGY commented on #7013
@v-bbalaiagar as of now this does not help, Please see my code again. It would be helpful if you can add a key in the event grid triggered object. Key should be the blobname (only blob name no container name and xyz).

[2021-03-30 13:20] jaganpt commented on #7201
Hi @v-anvari ,
We have shared the details to your (v-anvari@microsoft.com) email.
Please check and let us know for any further details needed.
Thank you.

[2021-03-30 14:13] tomkerkhove commented on #5259
Bumping this as it's becoming more and more important to have this.

[2021-03-30 16:56] hansmbakker commented on #5259
Does anybody know whether this works with the new out-of-process .net worker?

[2021-03-30 17:33] balag0 opened #7257 "Timeouts in Java worker process startup"
Starting worker process during specialization in Linux fails intermittently. Seems to impact Java worker process more than other languages. Retries don't help either.

System.AggregateException : One or more errors occurred. (One or more errors occurred. (The operation has timed out.)) ---> One or more errors occurred. (The operation has timed out.) ---> The operation has timed out. ---> (Inner Ex

[2021-03-30 17:47] fabiocav commented on #6542
@shibayan thank you for confirming. Global deployment should complete this week. It has now completed in all of the Linux stamps and most of Windows.

[2021-03-30 17:50] fabiocav commented on #6239
@krosk93 there hasn't been a lot of progress on this aside from additional investigation and identification of a couple of additional scenarios.

One thing that is worth noting, as that is what was causing the behavior for some customers, is that using any of the `admin` APIs (e.g. opening the portal or working with the hosted version directly or with one of the tools) **will place the host in deb

[2021-03-30 19:29] ericsampson commented on #6239
@fabiocav could you expand what that means?

I don't believe that is the only scenario we've experienced, as the issue was initially discovered after an application deploy when we noticed from logging to our ES cluster that it was calling APIs in the wrong environment.

[2021-03-30 22:00] ghost commented on #7219
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-31 10:37] TLA020 commented on #6542
![image](https://user-images.githubusercontent.com/20934868/113131724-dcbcce00-921d-11eb-998d-33b2f79300c5.png)

Noticed the runtime has been updated, will test soon and let you guys know.

[2021-03-31 11:26] alejandromelis opened #7260 "HttpTrigger PUT always returns 403 status code after version 3.0.15417 rollout"
Azure functions team is currently rolling out the new version 3.0.15417 in West Europe and this version introduces a bug with the PUT verb of the HttpTrigger returns a 403 HTTP stats code every time instead of a 2XX and the trigger is never executed.

The telemetry shows that the problem starts exactly when the function app version change from 3.0.15405 to 3.015417 and the same code deployed on No

[2021-03-31 11:42] Arterot commented on #7260
Same issue here with different timestamp.

Timestamp 29/3/2021 22:55:50 UTC

Add some related information too:

- If you call the function using the function key instead host key, it returns 401 Http Status Code
- It does not allow you to pin the function to previous version:
![imagen](https://user-images.githubusercontent.com/34068895/113138835-9ae45580-9226-11eb-9576-4f34c439f6a1.png)

[2021-03-31 12:54] fabiocav commented on #7260
Thank you for reporting. We're investigating the issue. In the meantime, please the correct pinning version should be `3.0.15406`

FYI: @Francisco-Gamino @soninaren

[2021-03-31 12:56] fabiocav commented on #7260
For information on how to pin to a runtime version, please see: https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version

[2021-03-31 13:09] alejandromelis commented on #7260
Thanks a lot for your answer. I've tried to pin the previous version but I can't because the portal does not allow it, do you know a valid version number to pin?

[2021-03-31 13:17] Arterot commented on #7260
It works, this pin it to 3.0.15405, it shows the message anyways but reversioning to the want we need.
![imagen](https://user-images.githubusercontent.com/34068895/113150081-fbc65a80-9233-11eb-8f49-830b23ffe64b.png)
Thank you

[2021-03-31 13:20] fabiocav commented on #7260
@Arterot if you're getting that message, that indicates your app is not impacted by the new version rollout.

@alejandromelis did you try with the version I've specified above?

[2021-03-31 13:24] alejandromelis commented on #7260
@fabiocav It works with the 3.0.15406 version

There is a way to know the right number to pin an older version?

[2021-03-31 14:32] fabiocav commented on #7260
@alejandromelis at the moment, this is based on the announcements information and what is available on the site. We're working on enhancements to make this information more easily accessible

[2021-03-31 15:02] fabiocav commented on #7260
@alejandromelis are you able to share an invocation ID now that your app is back up so we can take a closer look?

[2021-03-31 16:40] alejandromelis commented on #7260
@fabiocav The invocation IDs are:

Function App A: 67a93ceb-c48b-4c06-b6b1-2d89b8271b16 - 31/3/2021 14:17:53 UTC
Function App A (same code but other deployment): 79663906-5798-4659-95e8-cf99f0ffa0e6 - 31/3/2021 14:02:11 UCT
~~Function App B: 6dfd60f0-1dcd-49de-97a1-4fdb2b228d0e~~

[2021-03-31 16:58] Francisco-Gamino commented on #7260
Thanks @alejandromelis for the invocation IDs. I am looking into this issue.

[2021-03-31 17:12] Francisco-Gamino commented on #7260
Hi @alejandromelis -- I found the invocation IDs, but I have a different time rage. Could you please confirm the time ranges for the invocation IDs?

[2021-03-31 17:40] alejandromelis commented on #7260
Hi @Francisco-Gamino, I've updated my previous comment with the timestamp, but for the last InvocationId timestamp I need more time.

Here is a new one InvocationId from another function App that was failing previously but currently there is not receiving traffic because the traffic is still commuted to North Europe Zone, this InvocationId is from before the incident, but think is enough to you lo

[2021-03-31 17:52] alejandromelis commented on #7260
@Francisco-Gamino please, ignore the InvocationId with a strikethrough in my comment, belong to another affected FunctionApp but the operation was not affected.

[2021-03-31 18:03] Francisco-Gamino commented on #7260
Hello @alejandromelis -- we are not able to repro the issue on the latest version.

We can see that you are sending the request via Postman, so we are assuming you are running some tests. Could you please re-validate your tests against that version?

[2021-03-31 18:30] alejandromelis commented on #7260
Hello @Francisco-Gamino

The function apps with the following InvocationIds are pinned to version 3.0.15405 through 3.0.15406:

-  67a93ceb-c48b-4c06-b6b1-2d89b8271b16 - 31/3/2021 14:17:53 UTC
- 79663906-5798-4659-95e8-cf99f0ffa0e6 - 31/3/2021 14:02:11 UCT

The function app with the following InvocationId is using the latest version (3.0.15417):

- 79663906-5798-4659-95e8-cf99f0ffa0e6 - 31/3/2021

[2021-03-31 18:46] balag0 commented on #7219
@nosvalds Looking at the errors from the last day, the failures were due to the below exception
Microsoft.Azure.WebJobs.Script.Workers.WorkerProcessExitException : node exited with code 137

Could this be a memory intensive app? Out of memory errors could sometimes lead to this exitcode.

[2021-03-31 20:07] fabiocav commented on #7252
Moving this to sprint 99 as this was a late addition. Please feel free to change if that's not appropriate.

[2021-03-31 20:09] ankitkumarr commented on #5449
Moving this to Sprint 99 for landing the changes perhaps in Linux (where sandbox is not applicable) in the meanwhile.

[2021-03-31 21:32] safihamid opened #7261 "Extra logging dlls should not be loaded when AzureWebJobsDashboard is not set."
This will have an impact on cold start.

Also need to make sure no logger activity writes to storage when it's not expected to.

From email thread:

Just debugging locally, without any dashboard setting, if I put a breakpoint in FunctionInstanceLogCollectorProvider.Create, it will hit and if I step over I see:

'Microsoft.Azure.WebJobs.Script.WebHost.exe' (CoreCLR: clrhost): Loaded 'D:\code\azure-

[2021-03-31 23:24] Francisco-Gamino commented on #7260
Hi @alejandromelis -- Could you please try to reset your default host key and retry again? If this does not solve the issue, could you please reach out to customer support for us to look into this further? Thank you.

[2021-04-01 05:04] LeoYang1234 commented on #7260
available functions minor versions are announced at https://github.com/Azure/app-service-announcements/issues

[2021-04-01 10:04] alejandromelis commented on #7260
- Reset the HostKey don't resolve the problem, returns 403
- Adding a new HostKey and use it don't resolve the problem, returns 403
- If you try to use the function key returns 401

Note that the rest function operations of the same FunctionApps with POST, GET, and DELETE are not affected by the issue, only the HTTPTriggers with PUT verb.

I think you should deep review this issue, you have made s

[2021-04-01 11:27] pjeschko commented on #7231
Sorry I did not see that you have asked for an invocation id and timestamp of the error.
From my point of view I don't think I can give you the invocation ID because in the application insight data there is no entry for that missing invocation.

And well for the timestamps they are the missing timestamps like for example around the following times:
  * 3/16/2021, 9:15:00.000 AM
  * 3/16/2021, 9:20

[2021-04-01 11:57] alejandromelis commented on #7260
@Francisco-Gamino @fabiocav

I discovered a way to easily reproduce the issue, it happens when you change the "routePrefix" to empty instead "API", please see the code https://github.com/alejandromelis/functionapp-httpput-failing

When you publish in a Windows consumption plan (I'vn't test with others) the branch master (with route prefix empty) and call the PUT endpoint using the default host key

[2021-04-01 23:23] MATT-444 commented on #7235
I too was suffering from this issue, but managed to get it working with some help from Microsoft.

Turns out that changing the extension bundle to be [2.*, 3.0.0) isn't enough and you also need to explicitly include the eventHubs extension in your host.json

{
  "version": "2.0",
  "managedDependency": {
    "Enabled": true
  },
  "extensionBundle": {
    "id": "Microsoft.Azure.Functions.Extension

[2021-04-02 14:57] DavidZidar commented on #6239
I pointed out the offending code in my bug report #6085 nearly a year go and the code is still there.

`EnableDebugModeFilter` is used by `HostController` when interacting with features in the portal:
https://github.com/Azure/azure-functions-host/blob/9c2ce4c108b08724b623df088d9ed4d232af116a/src/WebJobs.Script.WebHost/Controllers/HostController.cs#L64-L65

`EnableDebugModeFilter` flags that debug

[2021-04-02 16:17] fabiocav commented on #6239
@ericsampson this is not the only root cause, but wanted to make sure it was noted here as it is what impacts a lot of the apps running into this.

Right, @DavidZidar that is the logic that will be addressed.

[2021-04-02 16:46] ZachTB123 commented on #7235
My function that is having this issue omits the `eventHubs` extension from its `host.json` file, but I am noticing that a few functions that do have the `eventHubs` extension specified are still using version `4.1.1.0` which has this issue.

[2021-04-02 17:01] pragnagopa commented on #7252
Thanks! Sprint 99 sounds good. @balag0  - Marking this as P1 as this a blocker for tooling updates needed to support powershell on Linux.

[2021-04-02 17:07] TsuyoshiUshio commented on #7257
Which tier is it? Consumption Plan? If so, It might be an issue of Java agent.  Or if it is general, double check the environment variables, for the other tier, also have a option of Java agent by turning on a environment variables.
Java agent increase the time of startup.  Especially for Java8.
CC: @AnatoliB @amamounelsayed

[2021-04-02 17:19] ssa3512 commented on #3741
Would it be possible to get the PR for this (https://github.com/Azure/azure-webjobs-sdk/pull/2657) reviewed and merged so users can start utilizing custom telemetry processors? I am in the process of trying to stand up a new functions app that is registering very large numbers of dependency telemetry so utilizing a custom filter to exclude this is a must have.

[2021-04-02 18:15] a-f commented on #7260
Hello, I don't have much to add to this other than after a few hours of debugging, I've come to the realisation that I am also experiencing this bug.

The only error I've been able to recover was from Application Insights -> Live metrics, which showed this when the request would fail:

![image](https://user-images.githubusercontent.com/16536573/113441031-6f5b9980-93e5-11eb-908e-e1d9dbb82baf.png)

[2021-04-02 18:51] rcg-dev commented on #586
Still waiting for node support.

I am thinking that since this exists: [https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-warmup?tabs=javascript](url) expanding the warmup trigger to run on startup for the initial instance would basically solve this issue.

Current workaround: https://stackoverflow.com/a/67013052/12568278

[2021-04-02 18:59] grbspltt commented on #586
I just discovered another reason for this function on node.  All my timer triggered functions that rely on DB connections have never succeeded.  After some investigation it is because they all depend on DB connections.

[2021-04-02 19:36] pragnagopa opened #7264 "Log warning with link to announcement repo for pinned apps"

[2021-04-02 19:37] pragnagopa commented on #7264
cc @fabiocav - for traige
cc @anirudhgarg as fyi

[2021-04-02 19:45] soninaren commented on #7188
tagging @mathewc as he is working on a design that will likely provide this information.

[2021-04-02 22:54] Francisco-Gamino commented on #7260
Hi @alejandromelis -- thank you for the additional details. We have a repro and we are still investigating this issue.

[2021-04-02 23:01] Francisco-Gamino commented on #7260
Hello @a-f -- Here is how you can pin your Consumption Linux app: https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version?tabs=portal#manual-version-updates-on-linux.

Please keep in mind that pinning the app should be temporary as it can degrade performance. As soon as we have a fix, I will update this issue.

[2021-04-02 23:36] fabiocav opened #7266 "Incorrect route registration may impact function routes"
The following route will impact functions handling `PUT` requests in the latest host version due to a route precedence change:

https://github.com/Azure/azure-functions-host/blob/9c2ce4c108b08724b623df088d9ed4d232af116a/src/WebJobs.Script.WebHost/Controllers/ExtensionsController.cs#L62

The action must be updated to handle the correct route.

**Workaround**: Pin functions runtime version to : 3.0.

[2021-04-02 23:38] fabiocav commented on #7266
@yojagad adding you to this, but if you need to reassign, let us know.

@safihamid @pragnagopa @sidkri all have context on the issue and should be able to assist.

[2021-04-02 23:43] pragnagopa commented on #7266
Workaround: Please pin functions runtime version to : `3.0.15406`

[2021-04-02 23:46] fabiocav commented on #7260
Thank you all for engaging here and providing the detailed information for a repro. We've identified the issue and we're currently working on a patch. In the meantime, please follow the pinning instructions in order to mitigate the issue.

Thank you!

[2021-04-02 23:46] pragnagopa commented on #7266
cc @Francisco-Gamino - current release owner.

[2021-04-03 08:00] plamber opened #7267 "Inconsistent behavior of FixedDelayRetry in combination with queue messages using C#"
#### Check for a solution in the Azure portal
Hello,
I am experiencing some unexpected behavior using following attribute on a Queue trigger written on C#.

[code]
My expectation is that the function does following:
- Function fails
- Waiting time for 1 minute
- Function fails a second time
-> Goes to the next stage

Under next stage I understand that in case of a queue trigger it follows the maxD

[2021-04-03 12:59] ElvenSpellmaker commented on #6855
100 is still a small amount for those of us who use nested configs, _especially_ as double underscore `__` is the nested structure identifier which wastes two chars per level.

[2021-04-03 17:58] ZachTB123 opened #7268 "Is there any way to have more control over batch sizes for Event Hub triggered functions?"
#### Is your question related to a specific version? If so, please specify:

No

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

All

#### Question

We have multiple Function Apps with Event Hub triggered functions that are consuming from Event Hubs that have a constant incoming message rate of > 100k per minute. Our `function.json` file has `cardinality` set to `

[2021-04-04 01:44] Sellorio commented on #7221
Also having this issue... Binding redirects are a hack. Why is it looking for the wrong version?

Ok for me it was having to run Clean Solution. Since I had to do a metric boat ton of nuget and project version changes to make Azure Functions in .Net actually work.

As an aside, not really sure why Azure Functions .net felt the need to rearchitect all the stuff that was well designed in MVC Core an

[2021-04-04 05:58] felinepc opened #7269 "Can .NET5 isolated Azure Functions provide access to IWebhostEnvironment"
I have been using the .NET 5 Azure Functions with the help of the official doc. So DI in the .NET 5 Azure Functions behaves much like the regular ASP.NET Core's DI, which is nice because it allows me to share libraries with other ASP.NET Core web apps.

But one thing I'm trying to figure out is the access to `IWebhostEnvironment`, which is available by default in ASP.NET Core. I have libraries tak

[2021-04-04 07:12] AndreaCuneo commented on #7221
Also having the same issue.

[2021-04-04 19:00] ghost commented on #7219
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-05 13:54] v-bbalaiagar commented on #7231
Hi @pjeschko, We are reopening the issue and we are checking the backend logs.

[2021-04-05 17:13] v-bbalaiagar commented on #6768
Hi @olitomlinson, Apologies for the delayed response, Please go through the documents below to filter logs by source in host.json
https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#logging
https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#configure-log-levels

Related Information:
[Azure/azure-functions-host/issues/4474](https://github.com/

[2021-04-05 17:35] v-bbalaiagar commented on #7231
Hi @brettsam, kindly look into this issue.
 I went through the logs for this issue and it is working as scheduled but in App Insight Logs entry timestamps show that intervals are missing.

[2021-04-05 21:16] kirk-marple opened #7272 "Method not found: 'Microsoft.ApplicationInsights.Extensibility.IOperationHolder`1<!!0>"
We've been running into a problem between Azure Functions (.NET Core 3.1) and Application Insights.

I've already let the AppInsights team know, but filing a bug here, since they say the host is different.

I've created a sample repo to show the problem.

#### Repro steps

https://github.com/kirk-marple/function-app-missingmethodexception

Simply updating from 2.15.0 to 2.16.0 or 2.17.0 causes the

[2021-04-05 21:40] alejandromelis commented on #7260
Thanks a lot @fabiocav and azure functions team. I understand that the issue should be resolved with #7266

[2021-04-05 22:26] beaubgosse opened #7273 "Unauthorized error when acquiring token using Managed Service Identity"
When trying to acquire a token using an AAD Managed Service Identity, we received a (401) Unauthorized error.

#### Investigative information

Please provide the following:

- Timestamp: 2021-02-28 18:33:12.684 +00:00   (one of many)
- Function App version: 3
- Function App name: gcm-pvm-transactionintegrationservice-prd
- Function name(s) (as appropriate): Transactions
- Invocation ID: 2274bdc2-3

[2021-04-05 23:04] #7266 closed, assigned to yojagad

[2021-04-06 05:22] tiwaripradeep123 commented on #6239
I see intermittent issue too and today all the functions are failing because they are using wrong settings file in production.

[2021-04-06 07:49] chassq opened #7274 "The lease ID specified did not match the lease ID for the blob"
#### Investigative information
We are seeing in the Application Insights Log the following. IT looks like a storage error but through teh Event Hubs so we are not sure where to log this. We looked at the Stack article (https://stackoverflow.com/questions/51602965/azure-eventhub-function-leaselostexception) but cannot tell if this should be happening or not and if it is an error or not. If this can

[2021-04-06 08:26] nosvalds commented on #7219
Hi @v-anvari and @balag0 thank you for the response and sorry for the delay.

The "blob not found" error is not what I'm concerned about in this case. **We're more interested in why the Azure Function returns a series of 404 errors after a 500 error?** It seems like the wrong HTTP response code.

It's good to know that `Microsoft.Azure.WebJobs.Script.Workers.WorkerProcessExitException : node exite

[2021-04-06 09:33] stuartleeks commented on #5755
Is there any plan for implementing this on the roadmap? 😄

[2021-04-06 10:39] v-anvari commented on #7219
Hi @nosvalds , The blob is not being found within the specified region within specific time, hence you get the Error Code 500, which defines "Could not verify the copy source within the specified time.". Once the search is done, the system understands the blob is not found, which then throws the error code 404 which defines "The specified blob does not exist.". Examine the HTTP status code and mes

[2021-04-06 10:56] v-anvari commented on #7269
@soninaren / @fabiocav , Please share your inputs here. Are there any alternative ways for the above scenario? can this be added as a feature request?

[2021-04-06 15:50] v-anvari commented on #7267
Hi @plamber, This feature is in preview mode and the team is actively working towards improving documentation on the expected behavior for functions that use retry and deploy to Azure. You can find related information here - [ https://github.com/Azure/azure-webjobs-sdk/issues/2624]( https://github.com/Azure/azure-webjobs-sdk/issues/2624)

[2021-04-06 15:57] plamber commented on #7267
Hi @v-anvari ,
Thank you for your feedback. I checked your reference but I am not understanding if what I described is as expected or not.

Could you share more insights?

Thank you

[2021-04-06 16:56] v-anvari commented on #7267
Hi @plamber, There are known in consistent behavior with the Retry policy while using C#. The team is working on the Product Fix. You can find the Document communication that had happened earlier here- [https://github.com/MicrosoftDocs/azure-docs/issues/71628](https://github.com/MicrosoftDocs/azure-docs/issues/71628)

[2021-04-06 17:22] #7007 closed, assigned to madelinegordon

[2021-04-06 22:41] jjcv2304 commented on #6542
I've updated to the Runtime version 3.0.15417.0 but I still receive a message that says:

In my case I have a ServiceBusTrigger, who's Connection is injected from Application Configuration.
Everything seems to work correctly, but since I moved from Application Settings to Application Configuration I get that warning.
Should this be resolved?

[2021-04-06 22:45] ForseXll commented on #586
Yes, node support would be great. @davidebbo @mathewc

[2021-04-07 06:25] balag0 opened #7276 "Recycle containers stuck in worker process restart loop"
Container is low on memory. Node process is stuck in restart loop due to out of memory errors. Container has no way to self recover until potentially the traffic stops.

Consider identifying this worker process restart loop and recycling the containers to reset state completely. Might still not help if the app is memory intensive, but could be a helpful improvement.

FunctionsLogs
| where PreciseT

[2021-04-07 06:34] balag0 commented on #7219
@nosvalds Sorry missed that earlier. The sequence is as below

1) Node process exits due to Out of memory errors

Microsoft.Azure.WebJobs.Script.Workers.WorkerProcessExitException : node exited with code 134   2: 0xa1855c node::OnFatalError(char const*, char const*) [node], 3: 0xb9705e v8::Utils::ReportOOMFailure(v8::internal::Isolate*, char const*, bool) [node], 9: 0xd64f0c v8::internal::Heap::Al

[2021-04-07 06:46] ChrWeinert opened #7277 "Azure Function v3: Route-Parameter overrides Request-Body"
When using Azure Function v3, I run into some strange behaviour.

I have a custom Request-Type:

[code]

My Azure Function likes something like:

[code]

I send a request to my function with "someapi/2cb0fce7-1588-42fc-9657-ad36f6be1f09" and the following body:

[code]

During debuggung i noticed that the id from the route (2cb0fce7-1588-42fc-9657-ad36f6be1f09) was written to the id-property of th

[2021-04-07 07:24] v-anvari commented on #7277
Hi @ChrWeinert , Can we get further details to understand the scenario better, Can we get the repro steps of your project. What is the purpose of the custom type, what are you trying to achieve with the request type? Is there any document that you are referring to, so that we can check internally to provide you with information

[2021-04-07 08:24] v-anvari commented on #7274
Hi @chassq , We are looking into this issue, meanwhile can you provide us with more information regarding the project scenario. Can you give us the repro steps to understand the process that you are following. What exactly is the actual behavior that you are seeing

[2021-04-07 08:28] v-anvari commented on #7273
Hi @beaubgosse , We will be checking the backend logs to try and find any errors and update you with the findings shortly. Meanwhile can you tell us if you could [diagnose any other failures or exceptions in your application insights](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-exceptions)? Also, Can you give us more insights on your project scenario, any repro steps and how a

[2021-04-07 08:41] chassq commented on #7274
To be honest we are not 100% sure. We feel like it is due to an image processing system we have in place that will scale out using Event Hubs and Functions to meet demand for processing images into our system. We essentially write messages to event hubs when an image needs to be processed. That message is picked up by an azure function (premium) to process the image. The function processing brings

[2021-04-07 08:41] v-anvari commented on #7273
I do see the exception : System.AggregateException : One or more errors occurred. (Parameters: Connection String: [No connection string specified], Resource: https://database.windows.net/, Authority: . Exception Message: Tried to get token using Managed Service Identity. Access token could not be acquired. Failed after 5 retries. MSI ResponseCode: InternalServerError, Response: {"ExceptionMessage"

[2021-04-07 10:39] ChrWeinert commented on #7277
Hello v-anvari,
attached You will find a Visual Studio example. This example has two functions and a Postman collection with the requests.

The two functions are nearly completly identical, they only differ by the name of the parameter for the route (id vs. routeId).

The response shows You, which value the Id-Property of the Request-Object gets, when the function is executed.

If You have any fur

[2021-04-07 11:15] rob4bertus commented on #7061
I have the same problem, except with System.IO.Pipelines, Version=5.0.0.0, while connecting to redis using the StackExchange.Redis 2.2.4 package.

Adding <_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput> to the .csproj file resolves the issue of not being able to connect to Redis. BUT: it also causes the EventHubTrigger not to fire. When I remove it, the event hub trigger fires again, bu

[2021-04-07 12:55] v-anvari commented on #7274
@brettsam / @soninaren , any inputs ?

[2021-04-07 13:21] v-bbalaiagar commented on #7231
cc @brettsam, tagging brett for further investigation

These are my findings:

![image](https://user-images.githubusercontent.com/74654421/113871840-ebccee80-97d0-11eb-8a1c-d2f8e858c0df.png)

![image](https://user-images.githubusercontent.com/74654421/113872003-161eac00-97d1-11eb-9da7-1a688683634e.png)

[2021-04-07 13:21] v-anvari commented on #7222
Hi @antpass79 , Apologies for the delayed response, Checking this internally,

[2021-04-07 15:03] johannesoenema opened #7278 "Activity.Current null in Azure Function when using the latest version of System.Diagnostics.DiagnosticSource"
When using `Activity.Current` to add custom tags to request telemetry, we encounter the problem that `Activity.Current` is null. We have currently not a way to add custom telemetry to request. The following code will not work with the latest version of `System.Diagnostics.DiagnosticSource`:

[code]

#### Information
- TargetFramework: 3.1
- Microsoft.NET.Sdk.Functions 3.0.11
- System.Diagnostics.D

[2021-04-07 15:08] davidebbo commented on #586
@ForseXll I'm no longer involved in this project, so I'll let @mathewc or others respond.

[2021-04-07 15:20] andrew-tevent commented on #2412
@pilgren The workaround with the `Disable` attribute - how are you deploying your Sticky Slot Setting?

I don't quite understand how you can deploy this with ARM without causing a reload of the Production slot - or the fact that you have to deploy App Settings updates to the Production slot.   I thought the whole point was deployment should update the settings in the Staging Slot, update the App i

[2021-04-07 15:39] andrew-tevent commented on #2412
Oh, and joy also because I'm trying to do this in new .net5.0 Isolated Process functions - and they haven't taken the `Disable` attribute across https://github.com/Azure/azure-functions-dotnet-worker/issues/312

[2021-04-07 16:06] ElvenSpellmaker commented on #6899
@fabiocav Any news on your Sprint 93? Maybe this is a very long sprint? 🙂

[2021-04-07 17:56] v-anvari commented on #7220
Hi @fabiocav / @pragnagopa,

I tried to repro the above project and got the same error as the user has mentioned above while using version 3.  Please suggest if this has to be triaged for further investigation.

But, while using version 2 - I get the below warning: "Azure Functions Core Tools
Core Tools Version:       2.7.3188 Commit hash: f5984038c7377e9437f71191bff1d5818dd1fa8d
Function Runtime

[2021-04-07 20:29] felipementel commented on #5851
The problem still ... now in another part of my code

**"Message:** Scope disposed{no name, Parent=disposed{no name, Parent=disposed{no name, Parent=disposed{no name}}}} is disposed and scoped instances are disposed and no longer available.

**StackTrace:** at DryIoc.Throw.It(Int32 error, Object arg0, Object arg1, Object arg2, Object arg3) in D:\\a\\1\\s\\src\\WebJobs.Script.WebHost\\DependencyInj